[2019-10-21 22:32] KeithRichardLee commented on #1626
3 successful runs now complete!

[2019-10-22 08:41] yastij commented on #1626
Same here:

- 1 -> 3 replicas completed
- 3 replicas completed

Runs: 8

I think we can close this

[2019-10-22 12:44] detiber commented on #1626
/close

[2019-10-22 12:44] #1626 closed

[2019-10-22 13:57] vincepri opened #1629 "Validate Spec.Version field with a regex"
Version fields are currently treated as a simple optional string (pointer). Kubebuilder offers markers for validating strings with regular expressions. If the version field is used, we usually expect it to be a semver (+ the leading `v` maybe? cc @ncdc).

/milestone v0.3.0
/kind feature
/priority important-longterm
/area api

[2019-10-22 14:06] akutz commented on #1629
Hi @vincepri,

The semver pattern allows an optional leading `v`. FWIW, Go modules requires it, but the semver spec doesn't. As you said, there is a [Kubernetes package](https://github.com/kubernetes/apimachinery/tree/master/pkg/util/version) for parsing semvers.

[2019-10-22 14:12] vincepri commented on #1629
I was more thinking about using a regex with `// +kubebuilder:validation:Pattern` marker as described in https://book.kubebuilder.io/reference/markers/crd-validation.html

[2019-10-22 14:13] akutz commented on #1629
Sure. I was simply pointing to the package as a reference for the patterns that were deemed suitable by the k/k community.

[2019-10-22 14:22] timothysc commented on #1227
Kubernetes already has defaulting today with the concept of limitranges which are provide defaults based on namespace.  Limitranges only default if a parameter has not been specified and enable us to set a global or "default" override.  On inspecting I'd assert that you could easily hit 80+% of users by providing a single bootstrap config in the "default" namespace.  Limitranges also enable settin

[2019-10-22 14:23] timothysc commented on #1227
cc @andrewsykim

[2019-10-22 15:16] detiber commented on #1629
It will be important to not exclude versions that are currently being used today.

Since we haven't enforced it, I'm not sure that the versions that have been used conform to semver. @aaroniscode

[2019-10-22 15:20] detiber commented on #1629
I am not, which is why I tagged in @aaroniscode, @codenrhoden might have additional context here as well.

[2019-10-22 17:24] ncdc commented on #1606
cc @akutz for feedback - how do you feel about a change like this?

[2019-10-22 20:04] chuckha commented on #1543
The rest of this ticket is about CAPD's Makefile. We need to build out release process and make this Makefile behave like other provider's makefiles. I'm going to make a new issue outlining the work for CAPD release.

/close

[2019-10-22 20:04] #1543 closed

[2019-10-22 20:07] chuckha commented on #1416
This is done

/close

[2019-10-22 20:07] #1416 closed

[2019-10-22 20:07] chuckha commented on #1504
This is what's left of #1543

[2019-10-22 21:50] ncdc commented on #1623
@yashbhutwala thanks for this idea. Could you please be more specific with your feature request - how do you envision Cluster API helping you set up storage volumes and/or networking?

[2019-10-22 22:11] ncdc commented on #1597
Looking/thinking about this more - I think it's sometimes taking more than 10 seconds for the machine reconciler to process & patch the machine (to add the finalizer), for the patch to be recorded in etcd, and for the test case to see the machine with the finalizer. I hesitate to say "let's just increase the timeout", but so far, I'm not seeing any evidence of anything else happening.

[2019-10-22 22:48] aaroniscode commented on #1629
I've used a version based on the VMware binaries like "v1.15.3+vmware.1". We'd want to make sure that doesn't break.

[2019-10-23 14:16] wfernandes commented on #1544
/assign

I was thinking of `types` as the replacement name of the package.

So for example the import in `kubeadmnbootstrapconfig_controller.go` would look like
`kubeadmv1beta1 "sigs.k8s.io/cluster-api/bootstrap/kubeadm/types/v1beta1"`
instead of
`kubeadmv1beta1 "sigs.k8s.io/cluster-api/bootstrap/kubeadm/kubeadm/v1beta1"`

[2019-10-23 15:25] liztio commented on #493
As far as I'm aware, the cluster API manager doesn't interact with the created API, so it would be up to whatever bootstrap provider to apply these labels. The question is where to put the API for creating them: inside the bootstrap provider config means every bootstrap provider can support, some, all, or none of these features.

Putting the taint, label, and annotations in the cluster API implici

[2019-10-23 15:26] liztio commented on #493
/cc @ncdc

[2019-10-23 15:28] liztio commented on #720
I think this is superseded by the Control Plane proposal (#1613). Closing for now.

/close

[2019-10-23 15:28] #720 closed

[2019-10-23 15:33] liztio commented on #778
/assign
/lifecycle active

[2019-10-23 15:47] ncdc commented on #493
The kubeadm bootstrap provider can do taints and initial node labels, but we don't manage them beyond initial registration. I'd like to stop there and close this issue.

[2019-10-23 15:48] fabriziopandini opened #1631 "Define approach for multi tenancy"
**User Story**

As an operator/provider implementer I would like to have clear rules around multitenancy for cluster API

**Detailed Description**

AFAIK there isn't a clear definition of multitenancy for cluster API.

A common use case for multitenancy is to use many different credentials with an infrastructure provider; another use case is to isolate the management plane for each guest cluster/s

[2019-10-23 15:58] chuckha commented on #1544
in my wildest of dreams i want to use the upstream types.

But barring that, I think `types` is a good name to replace kubeadm

[2019-10-23 16:22] michaelgugino opened #1632 "Upgrade kubectl drain lib"
Our copy of the kubectl drain has a bug that leaks goroutines in a couple places.

Update to the latest kubectl lib as the fix just merged: https://github.com/kubernetes/kubernetes/pull/83967

/kind bug

[2019-10-23 16:27] ncdc commented on #1632
We'll need this for `master` and `release-0.2`

[2019-10-23 16:42] detiber commented on #493
I agree, I think this is something that could easily be layered on top of cluster-api if needed and doesn't need to be part of the core cluster-api behaviors.

[2019-10-23 16:46] detiber commented on #1632
If no one is currently working on this I'm more than happy to take this on.
/assign

[2019-10-23 17:09] vincepri commented on #1632
/milestone v0.3.0
/priority important-soon

[2019-10-23 17:16] ncdc commented on #1598
We should write/update a reviewers guide around expectations within a patch stream.

[2019-10-23 17:24] moshloop commented on #1612
https://docs.google.com/document/d/17Z_F_lmv4WgXaG9TaayOwwpCGRRoBxLbY070TSXDhvs/edit addresses this

[2019-10-23 17:29] ncdc commented on #1250
/reopen
Reopening to continue the discussion. Discussed in the 10/23 meeting.

[2019-10-23 17:29] ncdc commented on #1612
/close
in favor of #1250

[2019-10-23 17:29] #1612 closed

[2019-10-23 17:36] ncdc commented on #1622
@vincepri to look up what we wrote in the v1a2 proposal around ready->notReady transitions.

[2019-10-23 17:45] detiber commented on #1622
One thing to note, I don't think we necessarily need to reset the Machine Phase back to a previous state, we could potentially introduce a new Phase that could be used to indicate formerly ready but not currently ready.

[2019-10-23 17:56] #1551 closed

[2019-10-23 18:01] chuckha commented on #1575
/milestone v0.3.0

[2019-10-23 18:25] vincepri commented on #1622
If we allow to flip from ready -> notReady, the phase would go back to `provisioning` as outlined in the logic here https://github.com/kubernetes-sigs/cluster-api/blob/d3140bacceea81d85da9341a591bb87e0ed2d008/controllers/machine_controller_phases.go#L51

I'm not super opposed to this behavior, but not in total favor either. I'd rather have the Machine controller detect that the linked node is not

[2019-10-23 18:30] detiber commented on #1575
/milestone v0.3.0

[2019-10-23 18:57] kfox1111 commented on #1631
The option for complete decoupling would be advantageous. Say I provide two services to my users already. 1. a multitenant capable kubernetes. 2. onsite private cloud / public cloud access
The users should be able to use the existing multitenant Kubernetes as the management cluster to provision clusters in resource number 2.
One tenant in that multitenant cluster should not be able to effect anoth

[2019-10-23 19:15] ncdc commented on #1622
👍 for checking the node ref and flipping it back to provisioned for the time being, and doing a separate proposal around conditions (hint hint @timothysc 😄)

[2019-10-23 19:56] liztio commented on #493
/close

[2019-10-23 20:01] ncdc commented on #949
I'm guessing this was related to v1alpha1, when we had the embedded provider specs inside Machine. Now, we have split provider-specific details, including events, to provider-specific types.

Please reopen if needed.

/close

[2019-10-23 20:01] #949 closed

[2019-10-23 20:02] ncdc commented on #1074
I believe we have completed the work here. Reopen if needed.
/close

[2019-10-23 20:02] #1074 closed

[2019-10-23 20:48] detiber commented on #1632
/lifecycle active

[2019-10-23 20:48] ncdc commented on #1598
/lifecycle active

[2019-10-23 21:01] #1632 closed

[2019-10-23 22:12] chuckha opened #1639 "Implement CAPD release"
/kind feature

I need to enable CAPD manager builds on pushes. This is not as simple as copy and pasting a bunch of commands but I wish it were.

## Repository Tagging

Since CAPD is a module in Cluster API we will need to start tagging the repo when we want a CAPD release. The tags will look like this:

`git tag test/infrastructure/docker/v0.3.0`

## Image building

We only want to build images w

[2019-10-23 23:49] aaroniscode opened #1640 "Quick Start AWS YAML has wrong IAM Role"
**What steps did you take and what happened:**
Using the quick start for AWS, deploy a cluster.

Create a PVC. It will fail without the `ec2:CreateVolume` permission.

The Quick Start uses:

`  iamInstanceProfile: "controllers.cluster-api-provider-aws.sigs.k8s.io"`

it should be:

 `iamInstanceProfile: "control-plane.cluster-api-provider-aws.sigs.k8s.io"`

**What did you expect to happen:**

The A

[2019-10-24 00:23] #1640 closed

[2019-10-24 06:51] sirao opened #1642 "[cabpk] Define the usage of custom Certificate Authorities"
Detailed Description

**Certificate Management** section of https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/ is not covering on conventions to be followed while generating certificates, how many certificates required, how they can be configured to be used by CABPK

/kind documentation

[2019-10-24 06:59] xrmzju opened #1643 "machine remains undeleted while cluster has been deleted"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
-  create a cluster, and create machines use machineset, everything goes ok.
-  delete the cluster
-  find out that still remains machine in deleting state, the log says ”can not find cluster <clusterName>“ from [machine controller](https://github.com/kubernetes-sigs/cluster-api/blob/bad33

[2019-10-24 07:01] xrmzju commented on #1643
@detiber @ncdc @vincepri any good idea?

[2019-10-24 07:20] fabriziopandini commented on #1631
@ncdc, as per yesterday discussion, below the type of the resources that as of today you can find in CAPA

Global Resources
1 Namespace
2 CustomResourceDefinition
3 ClusterRole
4 ClusterRoleBinding

Namespaced Resources
5 Role
6 RoleBinding
7 Secret
8 Service
9 Deployment

Assuming I have a cluster with:
- ns1,  CAPA v0.4.1
- ns2,  CAPA v0.4.1

An upgrade on ns1,  CAPA v0.4.1 --> CAPA v0.X.Y might

[2019-10-24 07:26] fabriziopandini commented on #1631
One thing that IMO can be done to reduce the need for multitenancy is to improve how infrastructure provider credentials are managed e.g.

Instead of reading credentials from the namespace where the provider is running, the infrastructure provider can:
1. first read credentials from the namespace where the cluster is located
2. if 1 does not exist, fallback to the default credentials in the namesp

[2019-10-24 12:29] ncdc commented on #1643
Thanks for the detailed research! Foreground deletion is a good idea, but I think it might be better to allow a machine to be deleted in the absence of a cluster. I think this will be required if you start from scratch, create a machine, and then try to delete it (without creating any cluster).

[2019-10-24 12:44] xrmzju commented on #1643
in normal case, we need the cluster exist if we want to delete the machine, because we need to delete the k8s node in workload cluster.

[2019-10-24 12:47] ncdc commented on #1643
So maybe we need both foreground deletion from the cluster's code + we need to allow a machine to be deleted if there's no cluster for it.

[2019-10-24 13:39] chuckha commented on #1576
/milestone v0.3.0

[2019-10-24 13:40] chuckha commented on #1577
closing this in favor of the CAEP proposal https://github.com/kubernetes-sigs/cluster-api/pull/1571

/close

[2019-10-24 13:40] #1577 closed

[2019-10-24 13:42] chuckha commented on #1578
/milestone v0.3.0
/priority important-longterm

[2019-10-24 13:42] chuckha commented on #1579
/priority awaiting-more-evidence
/milestone v0.3.0

[2019-10-24 13:45] chuckha commented on #1582
/milestone v0.3.0
/priority important-longterm

[2019-10-24 13:46] chuckha commented on #1583
/milestone v0.3.0
/priority important-longterm
/help

Could be a useful optional field

[2019-10-24 13:47] ncdc commented on #1629
`v1.15.3+vmware.1` is a valid semver and is parsable. We spent **a lot** of time debating how to format the version for our builds.

[2019-10-24 13:48] chuckha commented on #1586
/milestone v0.3.0
/priority important-longterm

[2019-10-24 13:50] akutz commented on #1629
While the above is true, funny enough, you can’t use two + chars with the k/k parsing library. I have a list of odd restrictions written somewhere. Will find it

[2019-10-24 13:51] ncdc commented on #1629
Yeah, I think I filed that issue 😄 or was at least involved.

[2019-10-24 13:51] chuckha commented on #1587
This is blocked on kubeadm implementing this feature for us to use and won't be coming until at least 1.17+

Until then it will be up to the user to dump as much kubeadm config as they can

/milestone Next

[2019-10-24 13:55] chuckha commented on #1588
One thing came up around this idea. It would be nice to be able to increase the verbosity that kubeadm spits out. I'll make a separate issue for that. I wonder if we could do something like expose exactly the flags kubeadm exposes for a given version. I'd have to think more about it.

/milestone Next

[2019-10-24 13:55] chuckha commented on #1639
/milestone v0.3.0

[2019-10-24 13:58] ncdc commented on #1629
https://github.com/kubernetes/kubernetes/issues/75297

[2019-10-24 14:00] chuckha commented on #1580
Trying to figure this one out, but this sentence has me a bit stumped

It sounds like the files `/etc/hosts` and `/etc/hostname` need to be correctly populated with data only known by the host. If there is an external thing that can provide the data these files need, then perhaps the thing responsible for making the bootstrap data can get the necessary data from that external system.

However, if

[2019-10-24 14:10] xrmzju commented on #1643
i think ’the allow no cluster part‘ is not that simple, it is hard to decide whether we need a cluster...

[2019-10-24 14:11] vincepri commented on #1643
+1 on allowing dependent objects to be deleted when the parent isn't there

[2019-10-24 15:17] #1598 closed

[2019-10-24 15:28] chuckha commented on #1584
I'm ok with big foot-guns for now. Especially given the work to surface kubeadm init logs into the machine. This should mitigate the hard-to-debug validation concerns. But until then, I don't see a problem with adding this functionality as outlined by @fabriziopandini.

I'm a little wary on the bool signaling a ComponentConfig...I think the original issue is outlining two possible approaches?

If

[2019-10-24 16:03] detiber commented on #1631
@fabriziopandini currently I believe all providers are using the default lookup behaviors of the cloud SDKs they use for handling credentials, changing that behavior could have varied implications.

In some cases this could reduce security of credentials handling, and it could also have negative potential impact on api quotas (such as the case with aws, where we use cached sessions to avoid api th

[2019-10-24 17:00] vincepri opened #1647 "RFE: CAPI failure domain & control plane support"
**User Story**

As a Cluster API operator I would like to have the control plane resource create Machines in different failure domains.

**Detailed Description**

The ControlPlane proposal offers a streamlined way to have control plane management in Cluster API. However, it does not support failure domains; this issue is an addendum to add basic support for failure domains to `ControlPlane` and `M

[2019-10-24 17:06] detiber commented on #1643
My concern with foreground deletion is that it would block any additional events from happening while waiting on the deletion, I think we should try to maintain asynchronous behavior here.

[2019-10-24 17:12] ncdc commented on #1643
Looking at a few scenarios:

1. Given a Cluster, Machine(s) for control plane, MachineDeployment(s) for workers:
    1. Delete Cluster
        1. Cluster controller starts deleting children & the sequencing is such that the Cluster is deleted before all the Machines are deleted (this issue)
        1. **Opinion**: if the Cluster is gone, blocking the deletion of the Machine is unnecessary

1. Give

[2019-10-24 17:16] detiber commented on #1643
Does the issue stem from the way we are filtering "child" resources here?

Should we also ensure that we block on *any* `Machine*` resources that are associated with the `Cluster` rather than rather than just the direct children (while still only issuing deletes to direct children)?

[2019-10-24 17:17] ncdc commented on #1643
That could be an improvement to the current logic. But I also think we need to allow Machine deletions when the Cluster doesn't exist.

[2019-10-24 17:18] detiber commented on #1643
No objections there.

[2019-10-24 17:24] ncdc opened #1649 "Unable to delete a Machine if its Cluster does not exist"
**What steps did you take and what happened:**
1. Create a Machine with spec.clusterName populated
1. Do **not** create a Cluster
1. Try to delete the Machine
1. Deletion hangs

**What did you expect to happen:**
1. Deletion succeeds

**Anything else you would like to add:**
https://github.com/kubernetes-sigs/cluster-api/blob/297bb7dc5aa5645ab1b18d2bda8986f19c2454b9/controllers/machine_controller.

[2019-10-24 17:24] ncdc commented on #1643
https://github.com/kubernetes-sigs/cluster-api/issues/1649 to allow machine deletions when cluster is not there

[2019-10-24 17:29] yashbhutwala commented on #1623
@ncdc pardon me I'm new to cluster-api, so I can't speak to any particular approach.

What I am hoping for with this feature request is some aspect of custom composobality for different kinds of CNI plugins (i.e.: Calico, Flannel, etc.) as well as storage setups particularly for Onprem environments (i.e.: NFS, ceph, etc.) directly via the CRD spec.

Perhaps, this is already possible, if so, can yo

[2019-10-24 17:35] ncdc commented on #1649
Hold on this... the description above is incorrect (the deletion succeeds). Need to follow up in #1643 about something

[2019-10-24 17:37] ncdc commented on #1643
Ok, did some testing. The only time I was able to get the machine deletion to hang is with this flow:

1. Create machine
1. Create cluster
1. Remove cluster finalizers
1. Delete cluster
1. Try to delete machine

This simulates what is outlined in this issue, where the cluster accidentally gets deleted before all the machines. I think if we do what @detiber suggested, and block removing the cluster

[2019-10-24 17:41] ncdc commented on #1623
Cluster API does not manage add-ons at this time (CNI plugins, storage configuration). There are ongoing efforts to handle add-on management separately - the meeting minutes are available [here](https://docs.google.com/document/d/10_tl_SXcFGb-2109QpcFVrdrfnVEuQ05MBrXtasB0vk/edit?ts=5c94e9ae#heading=h.t413tvzgp6b4).

@timothysc @fabriziopandini @justinsb @stealthybox have you all thought about how

[2019-10-24 17:43] vincepri commented on #1639
What does this mean?

[2019-10-24 17:48] vincepri commented on #1643
This is the solution I'd prefer, it's simple and expected behavior I'd say

[2019-10-24 17:49] chuckha commented on #1639
At the bare minimum, capd's Dockerfiles will have to be at the top level of the repository. This is because the go.mod in CAPD uses a replace directive with a relative path (to import the CAPI code in tree).

Because of this, the Dockerfile, which builds the manager, needs all of the CAPI code as well which means the context given to the Dockerfiles must be the entire tree, not just the /test/infr

[2019-10-24 18:31] ncdc commented on #1643
PTAL at #1650

[2019-10-24 18:31] ncdc commented on #1649
Nevermind on this one.
/close

[2019-10-24 18:31] #1649 closed

[2019-10-24 18:42] vincepri commented on #1639
Got it, technically the Dockerfile we have today includes CAPD as well :) we'd need a different builder though.

I'd try to avoid adding duplicate Makefile commands in the top level one, if at all possible, wdyt?

[2019-10-24 19:35] voor opened #1651 "Default secret for kubeconfig after cluster creation should have a unique kubernetes-admin user"
**User Story**

As an operator I would like for my newly created cluster kubeconfig files to have unique usernames so that I can flatten multiple cluster kubeconfig files more easily.

**Detailed Description**

Today, every kubeconfig created by cluster api is using the default `kubernetes-admin` in the `${CLUSTER}-kubeconfig` secret.  When you `kubectl get secrets ${CLUSTER}-kubeconfig -o jsonpat

[2019-10-24 19:50] chuckha commented on #1639
ah yep, that's true. Unfortunately capd manager needs a couple extra dependencies that CAPI doesn't need. I have a decent diff right now. Basically I'm adding a second Makefile and a second Dockerfile to the top level.

It doesn't feel too ugly, but I'll open a PR and we can figure out if that's the right approach or not

[2019-10-24 19:57] vincepri commented on #1639
Nice, thanks!

[2019-10-25 08:17] fabriziopandini commented on #1623
One option is:
- as soon as kubeadm is going to offer addon management, CAPI can leverage
on it

Il giorno gio 24 ott 2019 alle ore 19:41 Andy Goldstein <
notifications@github.com> ha scritto:

[2019-10-25 13:24] detiber commented on #1623
@fabriziopandini I believe that is one of the requirements to be able to support this, however it will not be sufficient in and of itself. There are different requirements on the infrastructure that will need to taken into account to support this as well (for example security group/firewall rules that allow traffic for a given CNI or storage provider). Ideally this will be exposed through the addo

[2019-10-25 16:54] vincepri opened #1656 "Add a ~Waiting phase for Machines to describe a Node isn't ready"
**User Story**

As a operator I would like to know if a Node linked to a Machine is not ready after it has been provisioned

**Detailed Description**

Follow-up issue to https://github.com/kubernetes-sigs/cluster-api/issues/1622, the Machine controller should check during reconciliation if the Node specified in NodeRef isn't in a `Ready` state and flip the `Status.Phase` field to a `Waiting` phase

[2019-10-25 16:55] vincepri opened #1657 "Support updating Status.InfrastructureReady on Cluster"
**Detailed Description**

Follow-up issue to #1622, the cluster controller should update `Status.InfrastructureReady` if the linked infrastructure reference `Status.Ready` changes.

/kind feature
/milestone v0.3.0
/priority important-longterm

[2019-10-25 16:56] ncdc commented on #1656
Bike-shedding on the name: I think something like NotReady, Unavailable, Offline is more indicative of the status than Waiting is.

[2019-10-25 16:57] vincepri commented on #1656
Updated the title to make it clear name is something we need to figure out, I'm ok with anything meaningful :)

[2019-10-25 16:57] ncdc commented on #1656
Maybe clarify that it's after the machine has successfully bootstrapped (instead of just provisioned)?

NodeNotReady?

[2019-10-25 16:59] ncdc commented on #1656
This is potentially a stopgap until we have a better proposal around status conditions. In the meantime, looking for feedback!

[2019-10-25 17:02] vincepri opened #1658 "States, transitions, and conditions"
Opening this issue as a placeholder, to be filled as time goes by. We know that the current model has gaps in terms of `Status.Phase` field, its use and shortcomings. We'll be tracking progress towards a proposal and better model within this issue. Feel free to add more information, comments, concerns.

/kind proposal
/milestone Next
/priority important-longterm
/assign @timothysc

[2019-10-25 17:08] ncdc commented on #1656
Tagging a bunch of people for 👀. Would ❤️ comments, and feel free to tag more people (or ignore, that's ok too! 😄).

@CecileRobertMichon @juan-lee @justinsb @akutz @michaelgugino @pablochacin @detiber @liztio @chuckha @noamran @amy @rudoi @rsmitty @andrewsykim @moshloop

[2019-10-25 17:21] chuckha commented on #1656
`Status.Phase: chillin'`

but seriously, `offline` was the one I liked the most and could not think of a more appropriate, succinct name. I was thinking about something like `UnavailableButRecoverable`...but that's terrible 😬

[2019-10-25 17:22] detiber commented on #1656
What would we consider `Ready` here? Would we consider the Node being fully `Ready` (whjich would require CNI to be deployed)? Would we want to exclude that since it is out of scope for our purposes? Would we want to be able to distinguish between the two and introduce 2 new phases?

[2019-10-25 17:24] vincepri commented on #1656
I would prefer to have only one state that covers both, if possible. Once we settle on how to shape conditions, that would cover others as well

[2019-10-25 17:28] detiber commented on #1656
I make a distinction between the two because whatever is used to determine `AlmostReady` (defined as ready, just missing CNI to be fully `Ready`), would be similar to what we'd want to use for health checks related to the Node resource when it comes to initializing, scaling, or upgrading of a control plane machine. But this is less useful to end users who would be more interested in the full `Read

[2019-10-25 20:40] ashish-amarnath commented on #1627
/assign

[2019-10-25 21:37] #1544 closed

[2019-10-28 05:56] xrmzju opened #1663 "external.Get took a long time"
**What steps did you take and what happened:**
i create about 60k machines in my env, but everytime cluster-api restart or relist, it tooks a long time to process the whole item, the bottleneck is machinecontroller from metrics record by prometheus
![work_duration](https://user-images.githubusercontent.com/27884109/67654446-960fd800-f988-11e9-8cb8-ebd3e9805d32.png)
![workqueue_depth](https://user-

[2019-10-28 07:08] xrmzju commented on #1663
is there a way to finish this?

[2019-10-28 13:10] michaelgugino commented on #1514
I don't think this approach is any better than the finalizers if the other components have to report the status via updating the machine-object (which implies write permissions).  If we're updating the machine-object with the other components, let's just put the deletion-blocking info into the machine directly vs a CR.  It could be a finalizer, or some dictionary/list in the status field, or an an

[2019-10-28 13:36] xrmzju commented on #1663
the reason is machine controller uses [DelegatingReader](https://github.com/kubernetes-sigs/controller-runtime/blob/ad57a976ffa1eac39bc9d9cb267ca5489fb8f038/pkg/manager/manager.go#L325),who Get and List requests for unstructured types using ClientReader(request directly to apiserver) while requests for any other type of object with use the CacheReader。i fix this by using  [NewClientFunc](https://g

[2019-10-28 13:39] ncdc commented on #1663
I was about to paste the same thing, from https://github.com/kubernetes-sigs/controller-runtime/issues/615#issuecomment-536550773 😄

[2019-10-28 13:42] ncdc commented on #1663
In the linked controller-runtime issue, they say they don't use the cache by default for unstructured objects out of concern that you might accidentally/unknowingly end up caching all the resources in a cluster, and so it's up to someone (i.e., us) to override that. Given that we're already starting shared informers for all our `external` types, we should take advantage of the cache. I'm 👍 to maki

[2019-10-28 13:46] xrmzju commented on #1663
nice.. i can't believe i did not find the issue, i have been struggling whole day to fix this...

[2019-10-28 13:56] ncdc commented on #1663
@detiber @vincepri @chuckha @liztio WDYT?

[2019-10-28 13:57] vincepri commented on #1663
I haven't read the whole linked issue yet, but how do we prevent caching all resources in a cluster?

[2019-10-28 14:07] ncdc commented on #1663
Every reconciler we create results in caching all the resources of that specific type (e.g. the `ClusterReconciler` results in a shared informer that caches all `Cluster` resources). Additionally, any `.Watches()` calls that we make with a specific `source.Kind` result in a cache of that kind. So we're already caching all Clusters, MachineDeployments, MachineSets, Machines. And when we `reconcileE

[2019-10-28 14:09] xrmzju commented on #1663
`InformersMap` only start a informer for specific gvk  when the `Get` func  invoked

[2019-10-28 14:41] liztio commented on #1597
Looks like the timeout patch fixed, closing for now.

/close

[2019-10-28 14:41] #1597 closed

[2019-10-28 14:51] xrmzju commented on #1663
any idea to cache remote Cluster's nodes && secrets also? we list nodes too frequently, it is really expensive @vincepri @ncdc @detiber

[2019-10-28 14:53] xrmzju commented on #1663
we list nodes for every reconcile. https://github.com/kubernetes-sigs/cluster-api/blob/f7e048646ae89c6e0ddf755c3760f233017386d9/controllers/machine_controller_noderef.go#L103

[2019-10-28 14:56] ncdc commented on #1663
Let's file a separate issue for that?

[2019-10-28 14:57] #1643 closed

[2019-10-28 15:04] timothysc commented on #959
Closing this issue in favor of clusterctl v2 design.

[2019-10-28 15:04] #959 closed

[2019-10-28 15:06] liztio commented on #1065
/close

[2019-10-28 15:06] #1065 closed

[2019-10-28 15:11] liztio commented on #1085
/close

[2019-10-28 15:11] #1085 closed

[2019-10-28 15:12] timothysc commented on #529
closing this issue in favor of clusterctl v2

[2019-10-28 15:12] #529 closed

[2019-10-28 15:12] vincepri opened #1666 "Find a way to detect if a management cluster is reconciling itself"
To support the use case of avoiding storing the cluster kubeconfig in a secret, and having the remote client automatically fall back to the in cluster client. If we can find a suitable approach for v1alpha3, we should also document the requirements.

/kind feature
/priority important-longterm
/milestone v0.3.0

[2019-10-28 15:15] detiber commented on #1663
I like the idea of adding the caching for unstructured resources. If for some reason we end up needing to avoid caching a specific resource type in the future I think we can cross that bridge when we get there.

[2019-10-28 15:16] vincepri opened #1667 "Remove cluster != nil checks from codebase"
After #1539 has been merged, the Cluster object is now required, we should audit the codebase and remove any cluster check if nessary.

/kind cleanup
/milestone v0.3.0
/priority important-soon

[2019-10-28 15:20] vincepri commented on #1663
/priority important-soon
/help
/milestone v0.3.0

[2019-10-28 15:29] timothysc commented on #1631
There may be a middle ground where instead of the operator deploying controllers per-namespace, the main controller is responsible for forking when it detects multi-tenancy and collapse when they are deleted.  This way it eases the cognitive burden for operators to maintain and deploy, while preserving the existing code.

[2019-10-28 15:52] liztio commented on #1090
/assign
/lifecycle active

[2019-10-28 15:57] #778 closed

[2019-10-28 16:06] nader-ziada commented on #1667
@vincepri are you already working on this, or can I take it? should be straight forward.

[2019-10-28 16:09] randomvariable commented on #1090
CC @thebsdbox

[2019-10-28 16:41] vincepri commented on #1667
I'm not, feel free to assign yourself to the issue :)

[2019-10-28 16:42] liztio commented on #1506
/remove-lifecycle active

[2019-10-28 17:20] nader-ziada commented on #1667
/assign

[2019-10-28 18:02] vincepri commented on #1667
Going to reopen this as there is more work that's going to be merged in that'll need some of this work as well

/reopen

[2019-10-28 19:24] vincepri opened #1670 "Rename ErrorMessage and ErrorReason to FailureMessage and FailureReason"
There is a lot of confusion when talking about these errors and why they're fatal errors. One possible solution is to improve the godoc around these fields and rename them to align them to the expected phase.

/kind cleanup
/priority backlog

[2019-10-28 19:25] vincepri commented on #1670
/cc @detiber @ncdc

[2019-10-28 20:15] stealthybox commented on #1623
Could this use-case be delivered via a privileged `Daemonset` contained within a kustomized addon for the target OS/net-env ?

[2019-10-28 20:24] detiber commented on #1623
It potentially *could*, but it is then deferring the credentials requirements down to the workload cluster, which I'm not sure is something that we'd want to do here, especially considering these Security Groups are currently owned by the management cluster rather than the workload cluster.

[2019-10-28 20:30] ncdc commented on #1670
Gut reaction: sounds good

[2019-10-28 20:35] vincepri commented on #1670
/cc @noamran

If you'd like to work on this, this task requires some documentation pieced and probably filing issues in each infrastructure provider repository tagged as v1alpha3

[2019-10-28 20:50] noamran commented on #1670
/assign

[2019-10-28 21:33] imikushin commented on #1629
I see version strings like `v1.15.3+vmware.1.20-guest.3.15` in my current work.

[2019-10-28 21:37] vincepri commented on #1670
/milestone v0.3.0

[2019-10-29 07:08] amitkumarrathore commented on #1642
Hi @sirao i want to work on it....please guide me

[2019-10-29 14:03] vincepri opened #1674 "Support Tilt as dev environment"
**User Story**

As a developer I would like to have documentation on how to use tilt for fast development cycles.
As a developer I would like to have tilt files in CAPI repos to get up and running.

**Detailed Description**

This issue is to track the possibility to adopt Tilt as a development environment to simplify the dev experience for new contributors and existing ones.

NB: This work is prob

[2019-10-29 14:25] detiber commented on #1674
Ideally, I think we should ship Tiltfile in repo that would work for development of CAPI. I believe this Tiltfile should focus on development against only the CAPI repo (as opposed to the current tilt environments such as https://github.com/chuckha/capi-dev and https://github.com/detiber/capi-dev).

[2019-10-29 14:27] chuckha commented on #1674
I recently updated capi-dev to work with v1alpha3 architecture, it's simplified a lot from before.

cc @noamran because she's been using tilt a bit as well!

[2019-10-29 15:13] detiber commented on #1642
@amitkumarrathore there is some initial documentation here: https://cluster-api.sigs.k8s.io/tasks/certs/using-custom-certificates.html (docs/book/src/tasks/certs/), but it is missing a complete example.

[2019-10-29 16:31] vincepri opened #1677 "Profile Cluster API to provide guidelines on memory and cpu requirements"
- Document that users should set requests and limits.
   - If we don't have recommended baseline values today, we should say so in the docs.
   - Indicate that we plan to provide that data in the future after performing profiling.
- Perform profiling around memory and CPU usage and post results in this issue.
   - Add documentation on how to profile CAPI.
- Update YAML with baseline requests with

[2019-10-29 17:37] noamran commented on #1674
Yes! I have been using it too.

I can work on this issue (if that's OK).

[2019-10-29 17:40] vincepri commented on #1674
Go for it! If you'd like to chat more about it before hand, feel free to reach out

[2019-10-29 17:57] noamran commented on #1674
I will. Thank you!

[2019-10-29 17:59] vincepri commented on #1674
/milestone v0.3.0

[2019-10-29 19:05] vincepri opened #1681 "Document how to generate release notes"
In the https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/developer/releasing.md document, we need a section on how to generate release notes.

/kind documentation
/area release
/milestone v0.3.0
/help

[2019-10-29 19:24] noamran commented on #1681
/assign

[2019-10-29 20:23] nader-ziada commented on #1622
/assign

I'll work on this issue if nobody has any concerns.

[2019-10-30 13:54] chuckha opened #1685 "[capd] Better darwin support"
Our os x / darwin support is bad for capd at the moment.

Problem: CAPD creates a kubeconfig secret that uses the Docker network as the IP address. This address is not exposed directly on os x systems. This means when we use the kubeconfig secret from os x we end up not being able to connect.

Current solution: The current solution is to look up the 127.0.0.1 port (through docker) that the load ba

[2019-10-30 14:51] fabriziopandini commented on #1685
How do you envision using the second Cluster.Spec.APIEndpoints?

[2019-10-30 16:13] chuckha commented on #1685
Both very reasonable suggestions. Probably easier in general than the proposal here. I'd be most inclined to a field on the DockerCluster so it can be ignored or used if needed. There is no additional cruft, like an extra secret floating around.

[2019-10-30 17:08] chuckha commented on #1639
Did this

/close

[2019-10-30 17:17] rsmitty opened #1686 "Publish yaml releases with and without kubeadm bootstrapper"
**User Story**

As a capi user and bootstrap provider dev, I'd like to be able to easily deploy the capi bits without kubeadm when new releases are published.

**Detailed Description**

This was talked about in the CAPI meeting today, but it'd be nice to be able to easily consume the CAPI release without kudeadm in the mix if possible. It sounded like during the discussion, there may be some other

[2019-10-30 17:46] vincepri commented on #1623
Hey folks, we discussed this topic during October 30th community meeting and the consensus was that for now this is out of scope for Cluster API.

The quick start guide already has some pointers on how to install CNI, specifically Calico. As others have mentioned, in the future this user story might be addressed with addon management.

/close

[2019-10-30 17:46] #1623 closed

[2019-10-30 17:46] dlipovetsky commented on #1623
Addons such as CNI and CSI are out of scope for Cluster API.

That said, an addons can have infrastructure requirements. For example, a CNI requires that machines must have be reachable at certain ports.

[2019-10-30 20:07] #1681 closed

[2019-10-30 20:50] ncdc commented on #1205
Bumping this to try to come to a resolution.

I like @dlipovetsky's comment:

I also don't want to have a muddy UX, which could easily happen if we introduce restart policies and which ones are supported vary per provider.

I have a couple of options for language we can consider adopting:

1. A `Machine` represents infrastructure for a single Kubernetes `Node`. The `Node` has a specific, single, i

[2019-10-30 21:10] dlipovetsky opened #1687 "RFE: Control plane support for various ways to provide a stable API endpoint"
**User Story**

As an operator, I would like to choose my own way to provide a stable API endpoint, as required by the [default control plane management implementation](#1613 ).

**Detailed Description**

The default control plane management implementation requires a stable API endpoint. This endpoint
- MUST route API requests to a live kube-apiserver replica, if one is available.
- MUST be define

[2019-10-30 21:47] ncdc opened #1689 "Refactor MachineSet reconciler to be consistent with Cluster and Machine patterns"
We rewrote the Cluster and Machine controllers in v1alpha2 using new patterns and conventions. For example, we use a `defer` statement with our patch helper to ensure the object being reconciled is always patched to persist whatever changes we made when reconciling.

We should update the MachineSet reconciler to follow these patterns.

/priority important-longterm
/kind cleanup

[2019-10-30 21:47] ncdc opened #1690 "Refactor MachineDeployment reconciler to be consistent with Cluster and Machine patterns"
We rewrote the Cluster and Machine controllers in v1alpha2 using new patterns and conventions. For example, we use a defer statement with our patch helper to ensure the object being reconciled is always patched to persist whatever changes we made when reconciling.

We should update the MachineDeployment reconciler to follow these patterns.

/priority important-longterm
/kind cleanup

[2019-10-30 21:47] vincepri opened #1691 "[0.2] Status.Selector isn't being populated for MachineDeployments"
**What steps did you take and what happened:**
Created a MachineDeployment.

**What did you expect to happen:**
Expected `Status.Selector` to be populated, but it stays as an empty string.

/milestone v0.2.x
/kind bug
/assign
/lifecycle active

[2019-10-30 21:55] vincepri opened #1693 "Shellcheck verification is not working locally"
**What steps did you take and what happened:**
Run `make verify`

**What did you expect to happen:**
Shellcheck verification step to succeed, instead an error shows up:

[code]

/kind bug

[2019-10-30 21:55] vincepri commented on #1693
/help

[2019-10-30 21:56] vincepri commented on #1687
/kind proposal

[2019-10-30 22:00] ncdc commented on #1687
@dlipovetsky the proposed `KubeadmControlPlane` has `.spec.kubeadmConfigSpec.clusterConfiguration.controlPlaneEndpoint`. I believe a user should be able to fill that in with any value. How does that figure in to this RFE - does it address it?

[2019-10-30 22:00] vincepri commented on #1205
Even though the option 2 is the most restrictive, is the one I'm leaning towards the most given that it most resembles the current state of things

[2019-10-30 23:32] vincepri opened #1695 "Apply labels to Machines if they're part of a MD or MS"
**User Story**

As a user I would like to be able to quickly filter all Machines that are part of a MachineDeployment or MachineSet.

**Detailed Description**

We can adopt two new labels `cluster.x-k8s.io/deployment-name` and `cluster.x-k8s.io/set-name` (naming TBD, just an example) with the respective value being either the MD or MS names.

/kind feature
/help
/priority important-longterm

[2019-10-30 23:45] #1444 closed

[2019-10-30 23:45] #1469 closed

[2019-10-30 23:55] thebsdbox opened #1697 "util.IsControlPlaneMachine(machine *clusterv1.Machine) is true if the label value is "false""
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
As far as I understand it, for a control plane `machine` we set a label `cluster.x-k8s.io/control-plane: "true"`, I would presume that for a worker node we would set the label as false, or at least could do?

However the check for this label to be determined true is that the label isn't em

[2019-10-31 00:10] detiber commented on #1697
In reality, we could probably just use the existence of the key to indicate control plane, and update all existing uses of the label to just use `""`

[2019-10-31 00:18] detiber commented on #1695
If we do this, in addition to the `cluster.x-k8s.io/cluster-name` label, we could potentially remove the label selectors from the specs and simplify the definitions of MS and MD resources.

[2019-10-31 00:23] detiber commented on #1205
The thing that I worry the most about with option #2 is that we mark a InfraMachine and Machine resource as a permanent error, but it recovers prior to workloads being evacuated, and now we potentially disrupt workloads even more by deleting the Machine/InfraMachine through remediation when we could have left them alone.

[2019-10-31 05:05] ashish-amarnath commented on #1651
/assign
/lifecycle active

[2019-10-31 05:15] tahsinrahman commented on #1695
/assign

[2019-10-31 05:53] prankul88 commented on #1693
I will take this up!

[2019-10-31 09:35] ashish-amarnath commented on #1693
Could you also please uncomment https://github.com/kubernetes-sigs/cluster-api/blob/master/hack/verify-shellcheck.sh#L16

[2019-10-31 09:35] ashish-amarnath commented on #1693
/assign @prankul88

[2019-10-31 10:12] prankul88 commented on #1693
@ashish-amarnath Sure, I will update. Thanks

[2019-10-31 11:48] tahsinrahman commented on #1695
/lifecycle active

[2019-10-31 12:34] sirao opened #1702 "cluster creation with numeric number name fails"
**What steps did you take and what happened:**
1. create the KIND cluster and deploy CRDs
2. Set the AWS credentials
3. Install infrastructure CRDs
4. Create cluster with below configuration
[code]

**What did you expect to happen:**
If the name is not following the naming convention it should give the suggestion rather than error message as below
[code]

**Anything else you would like to add:**
[

[2019-10-31 12:55] alexbrand commented on #1647
Is my understanding correct in that the goals here are:

1. The infrastructure providers "advertise" available failure domains via the Cluster resource
2. The ControlPlane controller reads the available failure domains from the Cluster resource
3. The ControlPlane controller creates ControlPlane machines in each failure domain

[2019-10-31 13:13] detiber commented on #1647
@alexbrand I would probably reword your 3rd goal to:
- The ControlPlane controller creates ControlPlane Machines, spreading them across the failure domains as evenly as possible

Depending on the scale of the ControlPlane or the number of failure domains it may not be possible to have a Machine in *each* failure domain, or it may require multiple machines in some failure domains.

It may also be g

[2019-10-31 13:23] #1693 closed

[2019-10-31 13:51] michaelgugino commented on #1205
I'm for option 2.  It's how the cloud typically works.  A machine represents a request for a unit of compute resource, and then serves as a record of that request.

When you create an instance in AWS or similar cloud provider, the cloud gives you that instance, and tells you it's ID.  What happens to that instance later is entirely up to you.  There's no mechanism to say "If this instance fails, g

[2019-10-31 13:56] michaelgugino commented on #1205
For me, this is why remediation of machines that are already nodes should always start by looking at the node.  It doesn't make a lot of sense to me to keep track of what's happening to the actual instance.  The node will go unready, pod health checks will fail.  We remediate the node, not the machine.  In doing so, we cordon, and then drain, and then delete the backing instance.  If the node has

[2019-10-31 14:06] michaelgugino commented on #1656
I'm generally against syncing status from node to machines.  Machines are a mechanism for creating nodes, not much else.

Once a machine has a nodeRef, it's done.  What happens from there is the node's problem.  It doesn't make sense to re-invent node statuses or describe those conditions on a machine.

If for some reason you feel you absolutely have to indicate node status on a machine, then I wo

[2019-10-31 14:13] michaelgugino commented on #1622
I'm wholly against reversing machine states.  The flow of the machine-controller and associated infra controller should be one-way.

If some machine that was previously ready (eg, became a node) has now failed, we'll see that indication on the node, and we remediate:
1) Delete the machine-object
2) Machine-controller cordon and drains node
3) Backing instance is deleted from cloud
4) MachineSet or

[2019-10-31 14:23] ncdc commented on #1205
I wonder if we can combine elements from what I wrote along with @michaelgugino's comments and some edits to address @detiber's concerns:

- 1:1 relationship between Machine & backing infra
- Infra provider MUST NOT create more than one "backing infra" instance for a Machine
- Infra provider MAY detect permanent failures and mark the "AcmeMachine" as failed (e.g., for AWS, if the ec2 instance is t

[2019-10-31 14:28] vincepri commented on #1697
I'd change the logic to return false iff the label doesn't exist or the value is anything other than `true`

[2019-10-31 14:30] #1691 closed

[2019-10-31 14:47] detiber commented on #1622
For me this is less about reversing states as much as giving users visibility into the underlying resources we are managing.

From a user's point of view (not taking into account automated remediation for the moment). If I'm looking at Cluster API and it is telling me that my Machine is "Ready" (as a proxy for both Node being present and the underlying infrastructure being in a running state), but

[2019-10-31 15:08] michaelgugino commented on #1622
A node is an overlying resource relative to a machine.  That's where a user's focus should be, the health of nodes.  If we're talking about disposable, immutable machines, if the node goes unready/unhealthy, you get rid of it.  You don't have to care what the layer underneath is doing, that's the entire point.

Yeah, "Ready" doesn't make sense for a machine.  Probably the terminal state should be

[2019-10-31 15:10] randomvariable commented on #1205
Agree with that. That also ties in with the changes in https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1256

[2019-10-31 15:11] michaelgugino commented on #1205
@ncdc I agree with that phrasing.

[2019-10-31 15:16] detiber commented on #1622
I think it's more than just the nodes though, if we expect someone to take manual remediation efforts, we need to point them to the resource that is causing the trouble, otherwise we are requiring them to know all the implementation details of how cluster-api and providers work before they could even start to troubleshoot and fix the issue.

[2019-10-31 15:32] vincepri opened #1705 "Expose concurrency flag for KubeadmConfig (CABPK) controller"
Add a new flag to `main.go` to allow users to customize the KubeadmConfig (CABPK) controller concurrency, like we do for the other controllers.

/kind feature
/milestone v0.3.0
/help
/priority important-soon

[2019-10-31 15:58] dlipovetsky commented on #1687
Yes.

--

We may want to call out the above requirements in the proposal (#1613 . In any case, @detiber asked me to open an issue to anchor the discussion, rather than leaving comments on the PR.

[2019-10-31 16:27] tahsinrahman commented on #1705
/assign
/lifecycle active

[2019-10-31 16:32] michaelgugino commented on #1622
Remediation always needs to start at the node, automated or otherwise.  If you have an unhealthy node, you delete the backing machine-object.  If the resolution is any more complicated than that, they'll need to know those provider details either way.

We could build logic into the machine-controller to delete an associated machine if the node object is deleted, but there's other tradeoffs with th

[2019-10-31 17:15] #1705 closed

[2019-10-31 18:06] ncdc commented on #1687
I wonder if we need to at least include something in the CAEP to have `kubeadmControlPlane.spec.kubeadmConfigSpec.clusterConfiguration.controlPlaneEndpoint` be populated from `cluster.status.apiEndpoints` if the `controlPlaneEndpoint` is empty? Or, to ask a related question, how do we envision something like CAPA working with KubeadmControlPlane where CAPA creates the ELB + the cluster's api endpo

[2019-10-31 18:07] detiber commented on #1687
That would be a major regression from previous releases for providers that support Load Balancers...

[2019-10-31 18:09] ncdc commented on #1687
Right, so until (if) we have a proper `LoadBalancer` story, should we update the CAEP to add some text to describe how we maintain the existing behavior w/o requiring manual intervention to set the endpoint?

[2019-10-31 18:36] moshloop commented on #1687
Why not have the infra provider create the LB and update the `controlPlaneEndpoint` if it is empty and then remove `cluster.status.apiEndpoints` or make it a read-only mirror of `controlPlaneEndpoint` and then you would have consistent behaviour for both user and infra provided LB's

[2019-10-31 18:38] detiber commented on #1687
I think the concern here is that it would require tight coupling with the kubeadmControlPlane rather than being a more generic mechanism that would work across different controlplane and bootstrapping providers.

[2019-10-31 18:40] ncdc commented on #1687
Exactly. I'd like there to be an eventual interaction between a `LoadBalancer` (LB) resource and the `KubeadmControlPlane` (KCP), and maybe the `Cluster` too, where the KCP knows to pull the LB's endpoint if it exists (could be KCP pulls from LB, or KCP gets Cluster, see it has an LBRef, and follows that).

[2019-10-31 18:42] moshloop commented on #1687
So then let's make `controlPlaneEndpoint` a first-level field of cluster itself?

KCP could then wait until it is populated by a LB

[2019-10-31 18:42] ncdc commented on #1687
Also, assuming we proceed with your LB proposal @moshloop, I think a natural progress is that there are no more "infra provided LBs" in the sense that the "cluster + machine infra provider" is separate from "LB provider"

[2019-10-31 18:50] ncdc commented on #1687
xref #1197 - I assume that ties into this

[2019-10-31 20:38] dlipovetsky commented on #1687
This seems reasonable.

If an LB provider did exist, I suppose it would, after creating the load balancer, update the status of a CR that the Cluster object would reference. Until we figure out the schema of that CR and use a reference, an inline field works.

[2019-10-31 21:17] chuckha opened #1712 "[capd] Does not set the NodeRef"
Just realized CAPD isn't setting the node ref which makes it not conform to expectations.

/kind bug

[2019-10-31 21:18] chuckha commented on #1712
/milestone v0.3.0
/priority important-soon

[2019-11-01 02:38] detiber commented on #1702
We should probably add openapi validation to the CRDs to ensure that names are conformant with kubernetes naming requirements: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names

/priority important-soon
/milestone v0.3.0

[2019-11-01 04:53] prankul88 commented on #1566
@thebsdbox I am facing the same issue. Will work on it.

[2019-11-01 15:47] chuckha commented on #1712
looks like we're already *supposed* to be setting the node provider ID but it doesn't seem to be working

[2019-11-01 16:44] vincepri commented on #1702
/help

[2019-11-01 18:48] chuckha commented on #1712
found the bug. I eventually tracked this down to a missing label on my machine deployment -___-

[2019-11-01 18:48] #1712 closed

[2019-11-01 18:59] #1651 closed

[2019-11-01 21:43] Lokicity opened #1714 "Race condition in cloud init"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
(Doesn't repro very often) Creation of master node fails with error
[code]

**What did you expect to happen:**
Master node to come up

**Anything else you would like to add:**
This is the containerd log for `journalctl -u containerd -l`
[code]

**Environment:**

- Cluster-api version: v1al

[2019-11-01 21:45] Lokicity commented on #1714
@timothysc: is cloud init being run b4 services are up?
@detiber: It does look like it is running before the service fully comes up in this case
@timothysc: The cloudinit cloud loop till preflight check passes or timeout
@detiber: parts of cloud-init need to come up before networking, and others after. I think we can add a looping pre-flight check like @timothysc mentioned to help here

[2019-11-02 04:48] ashish-amarnath opened #1716 "🐛CAPD `./test/infrastructure/docker/hack/verify-docker-build.sh` fails"
**What steps did you take and what happened:**
Run `./test/infrastructure/docker/hack/verify-docker-build.sh`

**What did you expect to happen:**
Building CAPD manager image should have been successful.

**Anything else you would like to add:**
`./test/infrastructure/docker/hack/verify-docker-build.sh` fails like

[code]

**Environment:**

- Cluster-api version:
- Minikube/KIND version:
- Kubernet

[2019-11-04 13:04] xrmzju opened #1718 "remains orphan resources with no machine refer to"
**What steps did you take and what happened:**
~~we intend to create 3 object in [one replica reconcile process](https://github.com/kubernetes-sigs/cluster-api/blob/f869765493749d60c4e75afc59e7ddc3bdfc1c2e/controllers/machineset_controller.go#L249).if  infraConfig  and bootstrapConfig create success and machine create failed,  then bootstrapConfig and infraConfig will be left there forever..~~

fo

[2019-11-04 13:06] xrmzju commented on #1718
@detiber @ncdc @vincepri

[2019-11-04 14:59] chuckha commented on #1718
/milestone v0.3.0
/priority important-soon

[2019-11-04 15:56] de13 opened #1719 "Can't apply node-role.kubernetes.io at bootstrap time"
**User Story**

As an operator, I would like to be able to put `node-role.kubernetes.io` label at creation time through `kubeadm`

**Detailed Description**

I would like to be able to give a `role` to my nodes (eg master, worker) at bootstrap. Unfortunately, I got an error with `kubeadm` when I try to apply such label through the config file:

[code]

[code]

**Anything else you would like to add:

[2019-11-04 16:09] neolit123 commented on #1719
the kubelet cannot self assign node-roles and this is by design.
for the time being your only workaround is to introduce a separate step that applies node-roles.

/triage support

[2019-11-04 20:41] nader-ziada commented on #1702
Should this be done by enabling webhook validation?

[2019-11-04 20:48] detiber commented on #1702
@nader-ziada my preference for validations would be to first do everything we can as openapi validations (kubebuilder controller-tools annotations), then via validating webhook, and then finally in the code if the others are not possible.

[2019-11-04 20:51] nader-ziada commented on #1702
@detiber ok, will work on that issue. Thanks

/assign

[2019-11-05 15:10] nader-ziada commented on #1702
The name of the cluster is coming from the `metadata.Name` which I don't think we can put the kubebuilder validation annotation on since its a common kubernetes object,
@detiber does it make sense to use a webhook in this case, or did I misunderstand?

[2019-11-05 15:50] detiber commented on #1702
@nader-ziada ah, that's a good point. It would be really nice if there was automated support for this (either in controller-tools or the Kubernetes built in CRD support).

+1 to webhook for validation.

[2019-11-05 20:43] nader-ziada commented on #1702
@sirao The problem mentioned above is because kubectl parses the value `1947` as an integer and the name field is expected to be a string. So even though we are adding the webhook validation on the name, you would still get this error message because the crd validation happens first before the webhook is invoked.

The webhook validation (in a PR coming soon) will validate the validity if the name

[2019-11-05 21:37] vijaykatam opened #1722 "Cluster status phase should be provisioned after an API server endpoint is available"
**What steps did you take and what happened:**
1. Create custom resources for Cluster, Machine and provider specific resources.
2. As soon as infrastructure provider sets `InfrastructureReady` to true, the status of Cluster object changes to `Provisioned`.

**What did you expect to happen:**
I was expecting Cluster status to be in Provisioning until an API endpoint is available.

**Anything else y

[2019-11-06 07:40] sirao opened #1723 "Controlplane machines created after deleting a controlplane machine are in pending forever"
**What steps did you take and what happened:**
1. Create the management cluster
2. Create Cluster API infrastructure
3. Create CABPK infrastructure
4. Create AWS user stack
5. Set AWS Credentials as Environment variables
6. Create CAPA infrastructure
7. Create Cluster [cluster1.txt](https://github.com/kubernetes-sigs/cluster-api/files/3813055/cluster1.txt)
8. Create controlplane machine 0 [control

[2019-11-06 14:53] nader-ziada commented on #1702
I actually don't think we need to add a webhook anymore, we are getting the same name validation I'm adding by default. Once I changed the name in the above example to a string and made it invalid as shown here:

[code]

I got the following error
[code]

and if the name is valid as just a string without the `-` in the beginning it works.

@detiber @wfernandes what do you think?

[2019-11-06 14:57] vincepri commented on #1719
/priority awaiting-more-evidence

[2019-11-06 15:04] vincepri commented on #1722
I'm not opposed to the change, seems only cosmetic / quality of life. I'd like to check in with @akutz though first to make sure they're on board with this approach.

[2019-11-06 15:05] vincepri commented on #1722
We'll need to update the appropriate documentation as well https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/book/src/providers/v1alpha2-to-v1alpha3.md and describe the change

[2019-11-06 15:07] detiber commented on #1702
I wonder if the issue is related to the embedded object reference (Cluster.Spec.InfrastructureRef.Name) rather than the object meta for the resource itself? That could potentially explain the api server accepting the resources, but the failure appearing during reconciliation.

[2019-11-06 15:24] vincepri commented on #1718
@xrmzju What version of Cluster API are you using?

[2019-11-06 15:34] nader-ziada commented on #1702
I believe the issue mentioned in the issue itself was during applying, not reconciliation, I got the same error when running `kubectl apply` with the yaml referenced.

[2019-11-06 15:39] #1695 closed

[2019-11-06 16:11] ncdc commented on #1723
Cluster API v0.2.x (v1alpha2) does not support removing control plane machines without some additional work to make sure you maintain etcd quorum. We should be able to address this when we implement the KubeadmControlPlane proposed in #1613

cc @detiber @randomvariable

[2019-11-06 17:49] wfernandes commented on #1702
I tested this out as well. The above error happens on `kubectl apply`.
The `Cluster.Spec.InfrastructureRef.Name` would be referencing the `Name` of an `AWSCluster`. `kubectl apply`ing the AWSCluster object would throw the same `Invalid value` error if the `Name` was indeed invalid.

I don't see the need to add a webhook validator to the Cluster object for now.

[2019-11-06 17:50] detiber commented on #1702
@wfernandes @nader-ziada thanks for confirming. I agree that we can close this.

Fixing error messages from `kubectl` isn't in scope for this project.
/close

[2019-11-06 17:50] #1702 closed

[2019-11-06 18:03] vijaykatam commented on #1722
@vincepri added doc for the change.

[2019-11-06 18:24] ncdc commented on #1686
@rsmitty would you be interested in working on this?

[2019-11-06 18:25] timothysc commented on #1686
@hardikdr - I'd suspect this work would be of interest to you give some of our conversations.

[2019-11-06 18:26] vincepri commented on #1722
/cc @ncdc @detiber

[2019-11-06 18:31] randomvariable commented on #1714
comments from meeting:
@akutz - cloud-init targets may also be used.
@randomvariable - in addition, systemd wants/bindsto overrides

[2019-11-06 18:33] ncdc commented on #1719
As @neolit123 pointed out, this is by design. We can't handle this in Cluster API.

We can update the documentation to indicate as such.

/kind documentation
/help

[2019-11-06 18:34] ncdc commented on #1719
Let's put this in a troubleshooting guide and link to kubeadm docs for this

[2019-11-06 18:38] randomvariable commented on #1723
Notes from meeting:
@detiber : Should be addressed by #1613

[2019-11-06 19:07] chuckha commented on #1716
I cannot reproduce, this script worked for me.

@ashish-amarnath can you try again on mater? If it still fails I'm guessing there's something weird going on with your environment.

/priority awaiting-more-evidence
/remove-priority important-soon

[2019-11-06 20:21] #1606 closed

[2019-11-06 20:37] rsmitty commented on #1686
Sure, I'm interested in poking at this. I think it'll be really nice to have for me.

[2019-11-06 20:42] ncdc opened #1724 "Add specification document for cluster infrastructure provider"
We should add a specification document for what a cluster infrastructure provider must do. For example, something like:

- A cluster infrastructure provider must provide a CustomResourceDefinition to represent provider-specific details for cluster infrastructure. For example, if your provider is Acme, a reasonable name for the CRD might be AcmeCluster.
- The CRD must have spec and status
- The CRD

[2019-11-06 20:43] ncdc opened #1725 "Add specification document for machine infrastructure provider"
We should add a specification document for what a machine infrastructure provider must do. For example, something like:

- A machine infrastructure provider must provide a CustomResourceDefinition to represent provider-specific details for machine infrastructure. For example, if your provider is Acme, a reasonable name for the CRD might be AcmeMachine.
- The CRD must have spec and status
- The CRD

[2019-11-06 20:44] ncdc opened #1726 "Add specification document for bootstrap provider"
We should add a specification document for what a bootstrap provider must do. For example, something like:

- A bootstrap provider must provide a CustomResourceDefinition to represent provider-specific details for machine bootstrapping. For example, if your provider is Acme, a reasonable name for the CRD might be AcmeBootstrap.
- The CRD must have spec and status
- The CRD's status must have the f

[2019-11-06 20:45] ncdc opened #1727 "Add specification document for control plane provider"
We should add a specification document for what a control plane provider must do. For example, something like:

- A control plane provider must provide a CustomResourceDefinition to represent provider-specific details for a control plane. For example, if your provider is Acme, a reasonable name for the CRD might be AcmeControlPlane.
- The CRD must have spec and status
- The CRD's status must have

[2019-11-06 20:46] ncdc commented on #1727
Waiting for #1613 to be approved and merged

[2019-11-06 21:29] ashish-amarnath commented on #1716
This seems to be local to my branch and not on master. A side-effect of some change I suppose. I'll fix my branch.

/close

[2019-11-06 21:29] #1716 closed

[2019-11-06 21:44] dlipovetsky commented on #1576
+1 to supporting multiple formats

[2019-11-07 10:58] fabriziopandini opened #1729 "Tracking issue for clusterctl v2 implementation"
Tracking issue for [clusterctl v2](https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/20191016-clusterctl-redesign.md) work

Initial work based on the [clusterctl POC](https://github.com/fabriziopandini/cluster-api/tree/clusterctl-POC)

POC code walkthrough: [1](https://docs.google.com/presentation/d/1eFPfSterI6wf3CDPAKrWkp5LzjOq1RF8nC2N0YbtQMs/edit?usp=sharing) and [2](http

[2019-11-07 11:44] hardikdr commented on #1686
Yes, that'd be of interest for me, I will try to follow-up on it with @rsmitty. Thanks.

[2019-11-07 14:57] vincepri commented on #1729
/milestone v0.3.0
/area clusterctl
/priority important-soon

[2019-11-07 15:37] #1697 closed

[2019-11-07 15:41] detiber commented on #1658
Some controversy over [lists of named subobjects](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#lists-of-named-subobjects-preferred-over-maps) vs use of [maps](https://github.com/kubernetes/kubernetes/issues/8190#issuecomment-538605819)

[2019-11-07 16:07] rsmitty opened #1731 "Add GCP provider instructions to docs"
**User Story**

As a user, I'd like to be able to quickly grab the GCP deploy commands from the getting started page.

**Detailed Description**

Add GCP instructions based on the latest release of the gcp infrastructure provider so that we can quickly deploy capg components.

**Anything else you would like to add:**

I'll take this on, just wanted to create a new issue for it to track it.

/kind f

[2019-11-07 16:08] rsmitty commented on #1731
/assign @rsmitty

[2019-11-07 16:56] chuckha opened #1732 "Tracking issue for e2e testing framework and implementation"
# Testing framework

Based on the [testing proposal][test proposal] we have a lot of work to do! This issue tracks the work to be done

[test proposal]: https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/20191016-e2e-test-framework.md

## Initial work to set patterns

- [x] Build framework
  - [x] Collect feedback
  - [x] Merge framework
- [x] Implement CAPD tests

## Parall

[2019-11-07 20:07] sb1975 opened #1735 "Issue with Cluster-API using Docker provider"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
GO111MODULE="on" go get sigs.k8s.io/kind@v0.5.1
  182  cat > kind-cluster-with-extramounts.yaml <<EOF
kind: Cluster
apiVersion: kind.sigs.k8s.io/v1alpha3
nodes:
- role: control-plane
  extraMounts:
    - hostPath: /var/run/docker.sock
      containerPath: /var/run/docker.sock
EOF

  183  k

[2019-11-08 14:27] nader-ziada commented on #1731
There is a similar issue in the `cluster-api-provider-gcp`repo https://github.com/kubernetes-sigs/cluster-api-provider-gcp/issues/151

[2019-11-08 16:24] chuckha commented on #1725
Most of this is covered https://cluster-api.sigs.k8s.io/architecture/controllers/machine.html

[2019-11-08 16:25] ncdc commented on #1725
I'll probably work on adapting it to a slightly different format. Thanks.

[2019-11-08 17:33] ncdc opened #1739 "Document approaches for infrastructure providers to consider for securing sensitive bootstrap data"
**User Story**

As a user/operator, I would like to avoid exposing sensitive data (such as certificate private keys) in hypervisor bootstrap data to minimize attack surfaces.

**Detailed Description**

CAPI generates sensitive cluster data (such as private keys) for the apiserver, etcd, etc. These are stored as secrets in Kubernetes. The kubeadm bootstrapper copies the contents of the secrets into

[2019-11-08 17:49] randomvariable commented on #1739
/assign

[2019-11-08 20:01] ncdc opened #1740 "Document stance on static IP addresses"
**User Story**

As a user/operator, I would like to understand Cluster API's stance on static IP addresses so that I can understand if it will affect my ability to use Cluster API in my environment.

**Detailed Description**

We should document that individual infrastructure providers _may_, at their discretion, add support for static IP address assignment at the individual machine level, **but**,

[2019-11-08 20:05] akutz commented on #1740
While it may be inferred, it also (I think) bears explicit mention in such documentation that the upgrade capabilities for `MachineDeployments` and the upcoming control plane upgrades won't work without DHCP or some sort of IPAM (as @ncdc mentioned above).

[2019-11-08 20:21] detiber commented on #1739
@ncdc I would also probably add that beyond just the secrets injected during init, the bootstrap tokens and encryption key (for control plane) that we inject for join also fall under this category as well.

[2019-11-08 20:27] ncdc commented on #1739
Right, I meant to mention the bootstrap tokens too. What encryption key are you referring to?

[2019-11-08 20:31] detiber commented on #1739
Ah, I didn't realize we were still injecting the CA and service account keypairs instead of leveraging the ability to transfer the secrets using kubeadm.

[2019-11-08 22:36] randomvariable commented on #1739
We need to do the injection in any case for the initial control plane node.

[2019-11-08 22:42] wfernandes commented on #1731
/kind documentation
Feel free to mark it `/lifecycle active` whenever you start working on this. Also thanks for doing this!

[2019-11-08 23:29] harishspqr opened #1743 "Categorize events to distinguish between create/delete events"
**User Story**
Currently the machine events does not indicate if they were related to create/delete of a Machine.
We need more metadata about the event to distinguish between create and delete events.
**Detailed Description**

**Anything else you would like to add:**

/kind feature

[2019-11-08 23:38] wfernandes commented on #1566
@prankul88 Are you still working on this issue? Feel free to `/assign` and `/lifecycle active`. Thanks!

[2019-11-08 23:43] wfernandes commented on #1535
@ncdc I think this issue has been completed and can be closed. WDYT.

[2019-11-09 03:52] accepting opened #1744 "Add kubelet and kubeproxy configuration in KubeadmConfigSpec"
**User Story**

KubeadmConfigSpec should have the ability to config kubelet and kubeproxy parameters that kubeadm supports.

**Detailed Description**

When using kubeadm to setup a cluster, we need to config kubelet and kubeproxy parameters. But with the current version of KubeadmConfigSpec we cannot do that. We hope KubeadmConfigSpec can be added another two fields:
[code]

With this feature, we

[2019-11-09 04:03] accepting commented on #1744
@chuckha

[2019-11-09 05:46] prankul88 commented on #1566
@wfernandes Yes I am working on it.

/assign
/lifecycle active

[2019-11-10 09:45] accepting opened #1746 "Reset cluster.status.ControlPlaneInitialized to false when all control plane machines are removed"
**What steps did you take and what happened:**

After we remove all control plane machines in a cluster, the cluster's status ControlPlaneInitialized is still marked as true. This will have a very bad result when we create another new control plane machine in this cluster next time, because the machine will try to join the existing cluster and will fail absolutely.

**What did you expect to happen

[2019-11-11 15:33] vincepri commented on #1535
/milestone v0.3.0

[2019-11-11 16:35] chuckha opened #1749 "Configure Cluster API manager/controllers with a ConfigMap"
**User Story**

As a developer and a user I find it annoying to have to modify the YAML to change parameters on my controller. I would like to have a config map with the configuration options all explicitly set to the default values so that I can tweak them, restart my controller and see the effect take place and not have to modify the YAML of the deployment directly.

**Detailed Description**

Fo

[2019-11-11 16:54] ncdc commented on #1749
If we do this, it needs to be a versioned type.

[2019-11-11 18:58] vincepri commented on #1743
/milestone v0.3.0
/priority important-longterm
/help

[2019-11-11 18:59] noamran commented on #1743
/assign

[2019-11-11 19:24] jduncan-rva opened #1750 "bug in quickstart docs"
**What steps did you take and what happened:**
There's a docs bug in "Install Infrastructure Provider > Docker"

The code snippet is:

[code]

and kicks a 404 error.

The file should be `provider-components.yaml`, I think. That file exists and seems to work.

/kind bug

[2019-11-11 20:49] vincepri commented on #1750
/help
/milestone v0.2.x
/good-first-issue
/priority important-soon

[2019-11-11 21:25] chuckha opened #1751 "[capd] Reimplement backend"
**User Story**

As an e2e runner I don't want to have to force the kind binary to exist on my machine.

**Detailed Description**

The kind library CAPD is using hasn't been updated in a while and kind's library API has changed (non backwards compatible) a lot. For the larger goal of not using exec anywhere, CAPD needs to be updated to the newest (v0.5.2 (master)) library API from `kind`. This will

[2019-11-11 21:34] 1060351485 commented on #1750
Hi! I'd like to take this issue. Thank you!
/assign

[2019-11-11 21:53] ncdc commented on #1743
@noamran do you have an approach in mind for this?

[2019-11-11 22:27] noamran commented on #1743
@ncdc not yet. Is there a specific approach you think I should be taking?

[2019-11-11 22:40] ncdc commented on #1743
We currently use `.Eventf` to record events. There is also `.AnnotatedEventf`, which would allow us to set annotations on the events when we create them. I think that's one possible approach (define a key and values indicating create vs delete)

[2019-11-11 23:28] noamran commented on #1674
/assign

[2019-11-12 05:37] gyliu513 opened #1753 "Introduce ClusterDeployment/ClusterSet to enable creating multiple clusters"
**User Story**

As an operator, I want to create multiple Kubernetes clusters at one time.

**Detailed Description**

Can we add a new resource like `ClusterDeployment/ClusterSet`, which can enable end user to set the number of clusters that they want to create using `replicas`?

/kind feature

/cc @detiber @vincepri

[2019-11-12 05:57] johngmyers opened #1754 "Ability to disable rolling updates"
**User Story**

As an operator I would like to disable the MachineDeployment rolling update mechanism so that I can manage rolling updates with external code.

**Detailed Description**

I would like to have MachineDeployment handle the provisioning and removal of machines, but handle the process of rolling updates using external code with more knowledge, context, and ability than the MachineDeploy

[2019-11-12 14:57] ncdc commented on #1753
This sounds like something that would be better suited to a layer above Cluster API. There is definitely value in being able to manage multiple clusters, but my initial reaction is this would be something more like a "cluster stamping tool" that is capable of creating _n_ clusters with identical configurations. Once they're created, you'd use the Cluster API primitives (the forthcoming KubeadmCont

[2019-11-12 14:59] ncdc commented on #1754
I'm not sure off-hand how we could make the update logic pluggable. Did you have any thoughts on how to implement that?

[2019-11-12 15:22] #1750 closed

[2019-11-12 15:26] chuckha opened #1756 "Control Plane tracking issue"
# KubeadmControlPlane implementation

~~Status: work is blocked on the merging of #1613~~

## Foundational patterns

These tasks put down patterns in order to distribute the remaining work. These will happen more or less serially

- [x] [@detiber] Merge the new types: https://github.com/kubernetes-sigs/cluster-api/pull/1765
    - KubeadmControlPlaneSpec
    - KubeadmControlPlaneStatus
    - Kubead

[2019-11-12 15:26] vincepri commented on #1754
Until #1689 and #1690 are fixed, I wouldn't add new features to the existing MS/MD codebase.

One potential idea is to use and build on top of MachineSets instead of MachineDeployment if you want to control the rolling update mechanism.

[2019-11-12 15:26] vincepri commented on #1754
/priority awaiting-more-evidence

[2019-11-12 15:27] vincepri commented on #1756
/milestone v0.3.0
/area api
/area control-plane
/priority important-soon

[2019-11-12 15:29] vincepri commented on #1753
I would agree that it seems a layer on top. Although a nice to have to create batteries of clusters, it might introduce new issues/behaviors that we haven't accounted for yet.

/priority awaiting-more-evidence

[2019-11-12 18:13] vincepri opened #1757 "Validation webhooks"
**User Story**

As a user, I would like to get early validation errors if the supplied configuration is invalid.

As a Cluster API developer, I would like to be able to add strict validation to Cluster API types.

**Detailed Description**

[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**

[Miscellaneous information that will assist in solving

[2019-11-12 18:13] vincepri commented on #1757
/milestone v0.3.0

[2019-11-12 18:57] johngmyers commented on #1754
You could implement this by removing the restriction that `maxUnavailable` and `maxSurge` cannot both be 0.

The reason to build on top of MachineDeployment would be to get the other features of MachineDeployment, such as maintaining a MachineSet per template revision and cleaning up not-ready machines.

[2019-11-13 06:08] gyliu513 commented on #1753
Thanks @ncdc and @vincepri

@ncdc do you mean we may need to create another project to consume `cluster-api` to create multiple clusters at one time or update the current `cluster-api` project to support this in future?

[2019-11-13 09:58] accepting opened #1760 "Machineset finishes syncing replica with machines still under deleting state"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
1. In an existing cluster, create a machineset with 3 machines.
2. Scale the machineset down to 2 machine.
3. Starts to delete machine M. Due to our cloud provider's reason,  the related machineinfra cannot be removed for a long time. Machine M is under **deleting** state during this time.

[2019-11-13 15:02] ncdc commented on #1753
I'd recommend creating a prototype / proof of concept outside of Cluster API (i.e., separate project).

[2019-11-13 16:43] detiber commented on #1760
I want to make sure that I'm understanding.

Is the issue here that we are not reflecting the state of the Machines that are waiting to complete deletion in that status here?

Or, are you expecting that we wait for full deletion of each Machine prior to continuing the deletion of additional Machines as part of the workflow?

[2019-11-13 17:51] wfernandes commented on #1757
/assign

[2019-11-13 18:22] ncdc commented on #1735
@sb1975 is this something you can consistently reproduce?

[2019-11-13 18:29] ncdc commented on #1744
This was requested in #1584 - closing as a duplicate.
/close

[2019-11-13 18:29] #1744 closed

[2019-11-13 18:32] akutz commented on #1584
Related to https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/issues/131

[2019-11-13 18:53] akutz commented on #1754
Potentially related to https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/628

[2019-11-13 20:25] ncdc commented on #1746
Reviewed in today's community meeting. See https://github.com/kubernetes-sigs/cluster-api/pull/1747#issuecomment-553586095 for the update.

[2019-11-13 20:29] #1722 closed

[2019-11-13 20:39] ncdc commented on #1753
As discussed in today's community meeting, this is out of scope for Cluster API. If you end up doing a POC, please let us know. Thanks.

/close

[2019-11-13 20:39] #1753 closed

[2019-11-13 20:40] ncdc commented on #1754
@johngmyers I'm still trying to figure out what this might look like. If both maxUnavailable and maxSurge are set to 0, how do you envision managing the updates?

[2019-11-13 21:31] wfernandes commented on #1757
I'll work on getting the following validation moved to webhooks as a start:
- https://github.com/kubernetes-sigs/cluster-api/blob/fa6fab8b99edf1709efad2c61eca7c9e5b96204f/controllers/machine_controller_phases.go#L155-L161
- https://github.com/kubernetes-sigs/cluster-api/blob/fa6fab8b99edf1709efad2c61eca7c9e5b96204f/controllers/machinedeployment_controller.go#L151-L156
- https://github.com/kubernet

[2019-11-13 21:51] akutz opened #1767 "[cabpk] Support for machines images with pre-pulled container images from non-standard repos"
/kind feature

**Note**: This issue could also have been filed to the the [kubernetes-sigs/image-builder](https://github.com/kubernetes-sigs/image-builder) repository.

**Describe the solution you'd like**
Machine images built from the [CAPI image builder](https://github.com/kubernetes-sigs/image-builder/tree/master/images/capi) contain pre-pulled container images for the following components:

*

[2019-11-13 21:52] ncdc commented on #1767
@akutz I moved this into CAPI

[2019-11-13 21:53] chuckha opened #1768 "[cabpk] Encode files based on their encoding"
/kind feature

**Describe the solution you'd like**
with the addition of https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/pull/204 users have a choice of file encoding. It would be nice if we automatically encoded files for them if the content was not encoded. This is tricky though because how can we tell if the content is encoded or not?

**Anything else you would like to

[2019-11-13 21:54] ncdc commented on #1768
I moved this from CABPK to CAPI

[2019-11-13 21:55] ncdc commented on #1769
I moved this from CABPK to CAPI. I can't remember if we fixed this already - if so, please close (and link to the PR). Thanks!

[2019-11-13 21:57] ncdc commented on #1770
I moved this from CABPK to CAPI

[2019-11-13 22:05] wfernandes commented on #1757
There's also
- https://github.com/kubernetes-sigs/cluster-api/blob/80b9d58b6a079236553f5ea67f8950722b9bc541/api/v1alpha3/defaults.go#L24-L26
We could move this to a webhook as well. Although I feel this is more of a Mutating webhook rather  than a validating one.

[2019-11-13 22:20] wfernandes commented on #1757
/lifecycle active

[2019-11-13 22:37] ncdc opened #1772 "test/framework isn't being build by CI"
**What steps did you take and what happened:**
test/framework currently doesn't compile (see #1771 for the fix) but CI (testgrid) is green.

**What did you expect to happen:**
CI failure

**Anything else you would like to add:**
test/framework is a separate go module, and it's not built by `scripts/ci-build.sh`

/kind bug
/help
/milestone v0.3.0
/priority important-soon

[2019-11-13 22:41] ncdc opened #1773 "test/framework go.mod should have go 1.12, not 1.13"
**What steps did you take and what happened:**
[code]

**What did you expect to happen:**
No `note`

/kind bug
/help
/priority important-soon
/milestone v0.3.0

[2019-11-14 01:05] craiglpeters opened #1774 "Tab on Quick Start confusing"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
1. Try to do the [quick start](https://cluster-api.sigs.k8s.io/user/quick-start.html)
1. Get to the step Setup Management Cluster
1. Try to click the 'Azure' tab, and nothing happens
![image](https://user-images.githubusercontent.com/9445180/68817652-2d3a8800-0637-11ea-95be-c3d3ef46ac2a.pn

[2019-11-14 01:35] Lokicity opened #1775 "Delete cluster doesn't delete awsmachinetemplate"
**What steps did you take and what happened:**
Create a cluster API cluster
Create some machine deployment with awsmachinetemplate
Delete a cluster API cluster
The awsmachinetemplate is not deleted

The issue is, if I then create a new cluster with the same cluster name and same machine deployment name, it would fail as it will try to use the old awsmachinetemplate from the old cluster that wasn't

[2019-11-14 03:50] accepting commented on #1760
@detiber  The Machineset status should reflect the state of those machines.

When I delete machines by scaling Machineset down, I will watch the Machineset status to know whether those machines has fully deleted. If Machineset status does not take deleting machines into account when calculating its status, we can't make right decision.

[2019-11-14 06:37] johngmyers commented on #1754
@ncdc I would envision managing the updates with code that is external to cluster-api. That code would have better knowledge than cluster-api, possibly coordinating with the workloads to avoid excessive disruption.

That code could effect updates by attaching `cluster.k8s.io/delete-machine` annotations to nodes, allowing cluster-api to update them despite `maxUnavailable`, or by incrementally scal

[2019-11-14 14:54] vincepri commented on #1775
In general, I don't think today we delete _any_ template object associated with a MachineSet or MachineDeployment.

/milestone v0.3.0
/priority important-soon

[2019-11-14 14:54] vincepri commented on #1775
We might need to bump the priority and backport to v0.2.x if we feel like this is a critical bug fix.

[2019-11-14 19:38] chuckha commented on #1732
Some ideas that came out of https://github.com/kubernetes-sigs/cluster-api/pull/1742

## reduce boilerplate

* Have framework provide a scheme that has the required types registered that the framework uses. This allows implementors to grab that runtime.Scheme and add their own types to it so they don't need to figure out what the framework requires. https://github.com/kubernetes-sigs/cluster-api/p

[2019-11-14 20:11] chuckha commented on #1773
/assign
/lifecycle active

[2019-11-14 20:19] #1773 closed

[2019-11-14 21:26] chuckha opened #1779 "Cluster API deletion lifecycle improvement"
***Goals***
1. Clean up workload clusters before deleting them which allows controllers running on the workload cluster to be responsible for their object's clean up lifecycle phase.
1. Ensure opt-out is possible/force delete in case the cluster is in a bad state and cannot handle deletes (I am still a maybe on opt-out because this could, like today's behavior, orphan resources).
1. Keep the respo

[2019-11-14 21:42] detiber commented on #1774
/priority important-soon
/milestone v0.3.0

[2019-11-14 21:43] akutz opened #1780 "Support for a resource annotation that prevents a controller from reconciling the resource"
**User Story**

As an operator I would like to be able to disable reconciliation for one or more resource types by applying an annotation to a resource that indicates to the controller(s) that the resource should be ignored (ie. not reconciled) until the annotation is removed.

**Detailed Description**

For example, https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/628 - an anno

[2019-11-14 21:44] detiber commented on #1780
@fabriziopandini this is something that had been previously discussed as a potential way to simplify the pivot scenario.

[2019-11-15 00:00] wfernandes commented on #1757
Progress so far:
- [x] Setup Machine Webhook Validation
- [ ] Setup Machine Deployment Webhook Validation
- [ ] Setup Machine Set Webhook Validation
- [ ] Ask if we should add defaults or Mutating Webhook Validation to Machine
- [ ] Try adding e2e test?

[2019-11-15 00:48] sb1975 commented on #1735
it did work when I tried again.
So I will close this.
Now I am looking at complex scenarios, but will raise that separately.
Thank you :)

Commands for Reference :
1  GO111MODULE="on" go get sigs.k8s.io/kind@v0.5.1
    2  cat > kind-cluster-with-extramounts.yaml <<EOF
    3  kind: Cluster
    4  apiVersion: kind.sigs.k8s.io/v1alpha3
    5  nodes:
    6  - role: control-plane
    7    extraMounts:

[2019-11-15 00:48] #1735 closed

[2019-11-15 00:56] sb1975 opened #1781 "MachineDeployments to support multiple control plane nodes."
**User Story**

As a user I would like to deploy my workload cluster with multiple master nodes and worker nodes.

**Detailed Description**

While Machinedeployments are supported for worker nodes they are not supported for master nodes.

In a scenario where I have a workload cluster where there is a need for a control plane (with multiple master nodes(control-plane machines) running the control p

[2019-11-15 01:04] sb1975 commented on #1735
root@capd:~# kubectl create --kubeconfig=./capi-quickstart.kubeconfig namespace mynamespace
namespace/mynamespace created
root@capd:~#
root@capd:~# kubectl --kubeconfig=./capi-quickstart.kubeconfig run nginx --image=nginx --restart=Never -n mynamespace
pod/nginx created
root@capd:~#
root@capd:~#
root@capd:~# kubectl --kubeconfig=./capi-quickstart.kubeconfig get pods -n mynamespace
NAME    READY

[2019-11-15 01:18] sb1975 commented on #1732
What does this mean
Creating the resources necessary for three control planes will create a three node cluster.

Since MachineDeployments do not support control-plane nodes yet, does this mean presently the three control-plane nodes will be created individually using just "kind: Machine" and not MachineDeployments ?

[2019-11-15 01:25] sb1975 commented on #1732
"Creating a control plane machine and a MachineDeployment with two replicas will create a three node cluster with one control plane node and two worker nodes."
^I guess I already tried this.
In the MachineDeployment yaml file, I just changed the replicas: 2.
It resulted in the target(or workload) cluster with 3 nodes ( 1 master + 2 worker).
I also validated that I can run a nginx pod inside the cl

[2019-11-15 07:03] fabriziopandini commented on #1780
Yes, even though for the Pivoting scenario the requirement is to suspend actions for a whole infrastructure provider, not a for a single machine

[2019-11-15 14:26] ncdc commented on #1781
This is being implemented as part of the KubeadmControlPlane proposal from #1613. The tracking issue for work items is #1756

Closing as a duplicate.

/close

[2019-11-15 14:26] #1781 closed

[2019-11-15 15:51] chuckha commented on #1767
It's been a while so I want to recap what I think I'm reading:

The desired outcome is to have CABPK work with non-default images *without* the user specifying the location of the images AND without automatically masking the images by renaming them to match the expected images.

This to me sounds provider specific and it will be a matter of the provider coordinating with the bootstrap provider to

[2019-11-15 15:59] vincepri commented on #1780
+1 to this proposal, it could be useful in a number of places, especially for debugging purposes.

/milestone v0.3.0
/priority important-soon

[2019-11-15 15:59] vincepri commented on #1757
I'd skip the defaults for now, until we want to tackle mutation webhooks as well.

[2019-11-15 17:22] sbueringer opened #1782 "bootstrap-provider: make kubeadm call customizable"
**User Story**

As an operator I would like to be able to kustomize the KubeadmCommand (not only PreKubeadmCommands and PostKubeadmCommands)

**Detailed Description**

In my use case I'm generating the control plane certificates via Vault instead of the kubeadm bootstrap provider. It's possible to add a certificate generation script before kubeadm is called, but that's not enough. I also have to c

[2019-11-15 17:27] ncdc commented on #1782
+1, I'd at least like to be able to customize the log level

[2019-11-15 17:32] chuckha commented on #1782
+1 as well. I wonder if it's on kubeadm's roadmap to be completely configurable via command line? I'm guessing no, but perhaps @neolit123 can comment.

Regardless, I have a few questions about the Vault workflow. What exactly makes the call to Vault to generate the certs? How does Vault respond? Would it be possible to write the certificates to a secret before the bootstrap provider runs?

[2019-11-15 17:38] noamran opened #1783 "CABPK - v1alpha3 types"
We need to create v1alpha3 types for the kubeadm bootstrap provider.

/kind feature

[2019-11-15 17:38] detiber commented on #1783
/priority important-soon

[2019-11-15 17:38] detiber commented on #1783
/milestone v0.3.0

[2019-11-15 17:42] noamran commented on #1783
/assign

[2019-11-15 17:43] sbueringer commented on #1782
@chuckha

Currently it would be difficult. The problem is we used regular PKI backends in Vault a few years ago when we started with our Kubernetes platform. Unfortunately now we're not able to extract the CA from Vault anymore (we're in the middle of a migration to rollover this CAs with other CAs which we have full access to).

If I'm not mistaken (a colleague of mine implemented it), kubeadm ex

[2019-11-15 17:48] #1772 closed

[2019-11-15 18:03] sbueringer commented on #1782
Hm, when I think about it a little bit more it's even more complicated in our case. We're using these commands:
* init control plane:
[code]
* join control plane:
[code]
* join worker:
[code]

The difference between worker and control plane join is not really a problem, because we know already if a Machine will be a worker or a control plane node when writing the KubeadmConfig.

But the control pl

[2019-11-15 18:04] chuckha commented on #1507
This is mostly automated already and the release process is the same as CAPI with a few modifications that are documented https://github.com/kubernetes-sigs/cluster-api/blob/master/test/infrastructure/docker/docs/release.md#creating-a-release

I'll close this issue but feel free to open a new one if something else needs defining.

/close

[2019-11-15 18:04] #1507 closed

[2019-11-15 18:07] chuckha commented on #1508
Related to this #1686

Do we want to publish this as a stand alone module? I think not because CABPK is published with CAPI. Either users are going to use CAPI+CABPK or just CAPI and some other bootstrap provider. I don't think there is any need for a standalone CABPK release, we just have to figure out #1686.

/close

[2019-11-15 18:07] #1508 closed

[2019-11-15 18:42] chuckha commented on #1554
I tried to reproduce this issue but ended up in a really weird state. I created two clusters but messed up the SSHKeyName so I had to delete them both and try again. But I ended up not being able to delete the duplicate cluster. You can see the state of my system here:

https://cloud.tilt.dev/snapshot/AfTE99wLlyPeKZAVyl8=

Scroll up just a bit to see some highlighted lines.

[2019-11-15 19:20] #1670 closed

[2019-11-15 19:37] neolit123 commented on #1782
it's the complete opposite. flags are moving to config and the proposal to allow patching config from the command line (ala kubectl patch) did not receive full agreement.

[2019-11-15 20:55] chuckha commented on #1575
@vishakhanihore How is this going? Do you still have time to work on this issue?

[2019-11-15 20:57] chuckha commented on #1578
As this is now part of CAPI I don't think there is really much more to be done here. This won't be a unique controller and we'll follow CAPI patterns.

If this because unsuitable for development we can revisit on a new issue.

/close

[2019-11-15 20:57] #1578 closed

[2019-11-15 21:00] chuckha commented on #1642
@amitkumarrathore Will you have time to work on this? We're looking for a concrete example in that documentation page @detiber linked.

[2019-11-15 21:03] chuckha commented on #1582
/assign
/lifecycle active

[2019-11-15 21:13] chuckha opened #1784 "More frequent releases"
/kind feature

CAPI has fairly large minor releases so in order to get more folks testing the code that may make it into the next minor version release, we are considering doing more frequent releases. This would mean that while the stable release, v0.2.x has been released we are working on v0.3. Instead of waiting until everything is done, we want to release v0.3.0-alpha.x releases. These would b

[2019-11-15 21:14] vincepri commented on #1784
Let's discuss this after KubeCon in the community meeting to get more feedback, I'm +1

/milestone v0.3.0
/assign
/priority important-soon

[2019-11-15 21:20] ncdc commented on #1784
To clarify a bit, when I mentioned this at office hours the other day, I was suggesting we do alpha releases of the upcoming unreleased next minor version - `v0.3.0-alpha.*`. Not for the current shipping version. I suppose we could do `v0.2.x` alphas, although I'm guessing it's more trouble than it's worth.

[2019-11-15 21:21] chuckha commented on #1784
Will clarify, thanks for the correction

[2019-11-19 06:59] gaulzhw commented on #1782
+1. I'd like to add --skip-phases to skip addon.

[2019-11-19 12:06] neolit123 commented on #1782
skipping phases is also possible using the config.

[2019-11-19 23:39] wfernandes commented on #1566
@prankul88 Thanks for reaching out. This is what I managed to find regarding this issue.

## Result
I could reproduce your behavior in an environment with only CAPI components installed. That is **no** infrastructure provider components. The issue was not reproducible in an environment where the appropriate infrastructure provider components were installed as well. See 2nd experiment below.

The c

[2019-11-20 00:02] vincepri commented on #1687
/priority critical-urgent
/lifecycle active

[2019-11-20 01:30] vincepri commented on #1197
@moshloop Are you ok closing this in favor or https://github.com/kubernetes-sigs/cluster-api/issues/1687 ?

[2019-11-20 09:25] prankul88 commented on #1566
@wfernandes Hi, thank you for the inputs.
I will try to give a clear description of what I have been doing to reproduce the situation.

I had set up with **both** CAPI and CAPO components installed.

1. kind create cluster --name=clusterapi-test
2. kubectl create -f https://github.com/kubernetes-sigs/cluster-api/releases/download/v0.2.7/cluster-api-components.yaml
3. kubectl create -f https://gith

[2019-11-20 19:00] moshloop commented on #1197
/close

Multiple endpoints become possible with Machine Load Balancers, but only the control plane endpoint which other masters/workers connect to is stored on the cluster object.

[2019-11-20 19:00] #1197 closed

[2019-11-20 22:30] ncdc opened #1790 "Proposal: make machine.spec.bootstrap.data a reference to a secret"
**User Story**

As a user/operator I would like to change machine.spec.bootstrap.data from "a string" to "an object reference to a secret" to make my bootstrap data as secure as possible.

**Detailed Description**

If we have sensitive information in machine bootstrap data, such as certificates, we should be storing the entire bootstrap data in a secret, instead of as a field on the machine.

**An

[2019-11-20 23:14] wfernandes commented on #1566
@prankul88 Thanks for the clarification of your steps of reproduction. I believe that I was able to reproduce the behavior with CAPI and CAPA provider components and have a better understanding of what's going on.

## Experiment
1. After setting up an environment with CAPI/CAPA components,  I applied the yaml below to create your **Case 2**.
[code]
1. Now when we issue a DELETE to a `Cluster` obje

[2019-11-20 23:54] wfernandes commented on #1566
@prankul88 As always, let me know if anything doesn't make sense and I'll be happy to explain some more.
I suggest trying to get more input from the community to better understand what the expected behavior should be.

[2019-11-21 21:04] akutz opened #1793 "Support for additional certs"
/kind feature
/area bootstrap

**User Story**

As a developer/user/operator I would like to deploy a cluster with Infrastructure Provider X, and it needs to trust custom certificates in order to communicate with back-end infrastructure.

**Detailed Description**

There are currently two ways to accomplish the end-goal of additional, trusted certificates:

1. As a user:
    * Create additional file

[2019-11-21 21:06] wfernandes opened #1794 "Populate MachineDeployment defaults via mutating admission webhook"
**User Story**

As a [developer] I would like to populate defaults of MachineDeployment via an admission webhook for consistency in the project and to not have to constantly try and populate default values during the reconcile loop.

**Detailed Description**
This can be called from a mutating admission webhook

https://github.com/kubernetes-sigs/cluster-api/blob/3d9baf3610ae90781ae85fac4ef8622d353

[2019-11-22 07:30] prankul88 commented on #1566
@wfernandes Really appreciate the details you have mentioned. Will wait for more inputs before moving forward.

[2019-11-22 08:16] thebsdbox commented on #1566
Hello,

I raised the issue mainly as it is certainly confusing behaviour for end-users that don't know where to look or even that they will need to start manually editing various object `spec`. It's more of a UX issue if the end-user can't be notified that the delete operation is failing due to a mis-aligned reference I suppose.

[2019-11-22 08:50] prankul88 commented on #1566
@thebsdbox I completely agree with you! The end-user must be intimated of the possible failure.

[2019-11-22 18:09] ncdc opened #1795 "KubeadmControlPlane validation should match kubebuilder validation patterns"
The validation for KubeadmControlPlane should be updated to match the patterns shown in https://book.kubebuilder.io/cronjob-tutorial/webhook-implementation.html. Specifically, it should look like this:

[code]

/kind cleanup
/help
/good-first-issue
/milestone v0.3.0
/priority important-soon

[2019-11-22 18:15] ncdc commented on #1746
Closing as per linked comment.
/close

[2019-11-22 18:15] #1746 closed

[2019-11-22 18:18] neeleshkorade commented on #1795
I would like to work on this if no one else is working on it yet. Looking to start contributing to `cluster-api` as much as I can. Thanks

[2019-11-22 18:23] ncdc commented on #1795
@neeleshkorade you got it, thanks! Please add a comment `/lifecycle active` when you start working on it. I'm going to assign it to myself so it's "taken".

/assign

[2019-11-22 20:14] b2jrock opened #1796 "Kind v0.6.0 deprecates `kind get kubeconfig-path`"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
When following the installation guide in the book, when setting `KUBECONFIG` environment variable using the command listed, kind throws a deprecation warning.

**What did you expect to happen:**
No deprecation warning from kind.

**Anything else you would like to add:**
[Miscellaneous info

[2019-11-23 13:09] chuckha commented on #1732
@sb1975 I updated the issue to link to the actual tests in the framework as examples to get folks started. Take a look at the existing tests and try to follow the existing patterns or if you find something that needs improving, improve it.

[2019-11-23 13:16] chuckha commented on #1756
Please open new issues if more detail is required on any particular task. Maintainers should be able to edit this if desirable. If not, please close the issue when it is sufficiently out of date.

[2019-11-23 19:49] michaelgugino commented on #1794
I would prefer not to use a mutating webhook for this.  This would cause the controller to be dependent on the webhook which is not ideal.  A validating webhook does not inject a dependency like this would.

[2019-11-23 21:10] michaelgugino commented on #1790
Why wouldn't this be accounted for in the bootstrap reference?

[2019-11-23 21:27] michaelgugino commented on #1779
I think the most important downside is in the case of a broken cluster.  If the cluster is not operational or is otherwise unable to remove those resources, cluster-api will be blocked on deleting the cluster.

[2019-11-24 17:16] juan-lee opened #1799 "Support for MachinePool in CABPK"
**User Story**

As a developer I would like to be able to leverage the CABPK to provide bootstrap config to types other than Machine and MachineSet for the purposes of adding support for MachinePool or other future types that might require bootstrap configuration.

**Detailed Description**

Currently CABPK depends on Machine to determine if it needs to generate bootstrap configuration that Machine

[2019-11-25 15:19] ncdc commented on #1794
v1alpha3 will require validating webhooks. Given that, mutating/defaulting webhooks are appropriate if needed.

[2019-11-25 15:26] ncdc commented on #1790
The bootstrap reference is currently a reference to a single resource that potentially contains bootstrap configuration details and that contains the bootstrap data. The current requirement for a bootstrap resource is that it has `status.bootstrapData` (`string`) and `status.ready`) (`bool`). Once `status.ready` is `true`, CAPI's machine reconciler copies from `status.bootstrapData` into the machi

[2019-11-25 15:30] ncdc commented on #1779
Yes, this is yet another tricky situation when it comes to automating cluster lifecycle management. What happens if things are stuck - do we try to delete a few times, and then force delete?

Another possible gotcha includes deleting aggregated api servers. If you delete the pod for an aggregated api server and then you later try to perform any CRUD operations on that server's resources, those ope

[2019-11-25 15:46] vincepri commented on #1790
+1 to this proposal, it should be pretty straightforward to implement and it improves our security story.

[2019-11-25 15:56] vincepri commented on #1796
/kind documentation
/assign @b2jrock

[2019-11-25 15:56] vincepri commented on #1796
We'll also need to backport the quick start changes to the release-0.2 branch

[2019-11-25 16:33] #1687 closed

[2019-11-26 07:23] prankul88 opened #1801 "Clusterctl create command fails with kind v0.6"
**What steps did you take and what happened:**
Ran clusterctl command `clusterctl create cluster --bootstrap-type kind --bootstrap-cluster-cleanup=false -c cluster.yaml -m controlplane.yaml -p provider-components.yaml -a addons.yaml -v 32`

**OUTPUT**

**What did you expect to happen:**
Clusterctl to fetch the correct kubeconfig file and proceed forward.

**Anything else you would like to add:**
T

[2019-11-26 07:23] prankul88 commented on #1801
/assign

[2019-11-26 13:11] fabriziopandini commented on #1525
@ncdc @vincepri @detiber, considering the fact that pivot changed into move, and that we are going to support partial move (e.g. move of cluster objects existing in a namespace only), IMO the best option for forcing cluster-api controllers to not reconcile resources is to add an annotation to inform cluster-api controllers to not reconcile resources, as suggested by @detiber

WDYT?

[2019-11-26 14:09] fabriziopandini commented on #1801
Clusterctl v2 is going to drop the creation of the bootstrap process, so this issue should not apply to master

[2019-11-26 14:24] fabriziopandini opened #1802 "Clusterctl v2 contract for providers"
***Goals***
1. To formalize contract rules/expectations any provider implementation should respect in order to be managed by clusterctl v2
1. To formalize effects - e.g. in terms of limited usability - in case one of the above rules is not respected

***Non-Goals/Future Work***
1. To update the clusterctlv2 and the clusterctl v2 proposal with contracts rules discussed on this issue

***User Story*

[2019-11-26 15:02] nader-ziada opened #1803 "capi-controller-manager error: secret "webhook-server-cert" not found"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
- install cert manager using `kubectl apply -f https://github.com/jetstack/cert-manager/releases/download/v0.11.0/cert-manager.yaml`
- run `make release-mainfests`
- deploying cluster-components yaml generated from previous step to kind cluster
- `capi-controller-manager` pod fails to star

[2019-11-26 15:02] nader-ziada commented on #1803
/assign

[2019-11-26 15:54] ncdc commented on #1525
+1 to annotation

[2019-11-26 16:12] ncdc commented on #1803
@nader-ziada I am unable to reproduce this. I end up with a secret called `webhook-server-cert`:

[code]

And my pod runs:

[code]

You _may_ see the mount failure, but that should be an ephemeral issue - here it is for my pod:

[code]

[2019-11-26 16:21] nader-ziada commented on #1803
when the secret is called that `webhook-server-cert` it didn't work for me on a fresh kind cluster, I will try it all again from scratch

[2019-11-26 16:23] vincepri commented on #1525
Annotation sounds good, there was someone else asking for something similar to pause reconciliation on certain objects, which might be helpful.

[2019-11-26 16:27] nader-ziada commented on #1803
when I tried from scratch again, the pod is running, do know what happened before!

@ncdc do we want to rename the secret anyway since it doesn't find or should I close the PR and issue?

[2019-11-26 16:32] ncdc commented on #1803
This ephemeral error is expected and acceptable. It does eventually find the secret, once it's created. No need to rename it. Let's close the issue and PR.

[2019-11-26 16:33] nader-ziada commented on #1803
ok, thanks and sorry about the noise

[2019-11-26 16:33] #1803 closed

[2019-11-26 17:20] michaelgugino commented on #1794
I think it's a poor UX to require webhooks.  They should be a nice-to-have, not required.  The biggest problem is life cycling the certificates.  We should at least have a release of OPTIONAL webhooks before they become required, and we should have the tooling to lifecycle them before they become required.  That's a lot of work for not a lot of result IMO, but we need to do these things if we want

[2019-11-26 18:09] michaelgugino commented on #1790
I'm disappointed that this shipped if that's the case.  Copying data onto the machine-object was specifically called out during v1alpha2 planning as a bad idea.

Whoever consumes the userdata (or whatever is living in the secret) should be the thing that has a reference to it.

[2019-11-26 18:19] ncdc commented on #1790
The road from v1alpha1 to v1alpha2 was a net positive, but it wasn't a perfect end state. We'll keep iterating and improving. We're still alpha, after all!

[2019-11-26 18:33] kacole2 commented on #1796
I hit this problem today. Thanks for opening the issue @b2jrock.

[2019-11-26 20:25] michaelgugino opened #1808 "Add Ability to Reboot Hosts (remediation)"
***Goals***
1. Add api/abstraction to support rebooting hosts on a per-machine basis

***Non-Goals/Future Work***
1. Providers will be in charge of best determining in their components how to perform such an operation.

**User Story**

As a user I would like to support rebooting machines for node remediation.

**Detailed Description**

Our bare metal users really want to reboot hosts because they

[2019-11-26 20:31] michaelgugino commented on #1808
For each case, we need to consider the inability to successful boot the VM after stopping.  Perhaps we should sync the 'was-rebooted' field to the machine-object as well, so we can build alerting/fallback remediation around such a condition (and possibly add a reboot-attempt timestamp, or just use the reboot attempt timestamp itself instead of a boolean for comparisons).

[2019-11-26 21:07] michaelgugino opened #1810 "Add ability to stop an instance"
***Goals***
1. Define an abstraction to start/stop machines via machine-api

***Non-Goals/Future Work***
1. Build consumers/automation around this api

**User Story**

As a user I would like to be able to stop an instance created by the machine-api for maintenance reasons.

**Detailed Description**

Bare metal users might need to stop an instance to perform host or data center maintenance.  Cloud

[2019-11-26 21:15] michaelgugino opened #1811 "Add machine/infra feature support fields"
***Goals***
1. Add fields to machine and infra objects that indicate supported features

***Non-Goals/Future Work***
1. Define all features
1. Implement feature behaviors

**User Story**

As a developer I would like to build components that can take automated actions against machines for maintenance and remediation.  I need to know on a per-machine basis whether or not an operation can be successf

[2019-11-26 21:25] michaelgugino commented on #1810
An optional additional controller (or maybe just a boolean option on machine-controller) would be to sync some annotation from the node to drive the stopping/starting of an instance.  This might be confusing for users (what if I set the spec on the machine and the node to conflicting values?  Who should win?).  Alternatively, we could sync the desired state to the node, so things looking at the no

[2019-11-26 23:01] b2jrock commented on #1796
Looks like clusterctl has an issue with this as well. See #1801. I have a backport ready, but I don't want to recommend kind v0.6.0 if it's non-functional with that version.

[2019-11-27 03:55] zaneb commented on #1808
For reference, our current proposal for implementing this in the baremetal infra provider is at metal3-io/metal3-docs#48
An earlier proposal was very similar to Option 2 here, but we settled on a separate CRD because people were uncomfortable with handling future-dated requests and with the mechanics of collapsing multiple concurrent reboot requests (from different sources) into a single timestamp

[2019-11-27 12:42] michaelgugino commented on #1808
@zaneb

My thinking for future-dated requests would be to use the on/off feature: https://github.com/kubernetes-sigs/cluster-api/issues/1810 along with some other component not part of the machine-controller (eg, you could still build the node-maintenance operator).  The idea here is to define an abstraction other components can use (such as machine health checks) to reboot the node, more or less

[2019-11-27 15:10] zaneb commented on #1808
The issue wasn't so much handling future-dated requests (everyone agrees that another component should do that) as that we *didn't* want to handle future-dated requests but the user can supply any time they want. In my original PR I addressed this by simply interpreting anything user-provided time in the future as the current time. This made people unhappy ;)

[2019-11-27 18:12] michaelgugino commented on #1808
I think I see what you're saying.  Yeah, what I'm proposing here has not much to do with times after the current time.  Basically, we're comparing if the previous boot-time is older or newer than the last time a request was made.  Well-behaved clients should only use current time in that field.  It's basically a signal to say 'this thing was already requested to be rebooted, I don't need to make t

[2019-11-27 19:39] wfernandes commented on #1794
I thought that we use cert-manager to handle the issuing and rotation of the certificates to services like Validating/Mutating Webhooks to improve the UX for managing certificates.

It seems that we have been adding in validation and defaulting webhook support in many places already. For example, we currently default `kubeadmcontrolplane` via mutating webhook. If we want to support a webhook-less

[2019-11-27 20:42] wfernandes commented on #1775
I'm curious as to who is responsible for deleting the `<Infra>MachineTemplate`?
Would it be the infrastructure provider controller who is responsible for deleting the machine template?

I think the `AWSMachineTemplate` should be deleted either:
1. directly by CAPA
2. Or by setting owner reference

Setting owner reference on the `AWSMachineTemplate` might be interesting as I'm not sure who owns an

[2019-11-27 20:44] wfernandes commented on #1775
/assign

[2019-11-28 09:20] prankul88 commented on #1575
@chuckha I can work on this.

[2019-12-01 20:13] thesystemninjaneer opened #1816 "Page Not Found Dead Links on https://cluster-api.sigs.k8s.io/"
**What steps did you take and what happened:**
Browsing https://cluster-api.sigs.k8s.io/ and clicking "contributor guide " hyperlink to https://cluster-api.sigs.k8s.io/CONTRIBUTING.html or "Kubernetes Code of Conduct" hyperlinked to https://cluster-api.sigs.k8s.io/code-of-conduct.html produced "Page Not Found".

**What did you expect to happen:**
Expected to be navigated to the top level CONTRIBUT

[2019-12-02 15:27] vincepri commented on #1810
/milestone Next

[2019-12-02 15:27] vincepri commented on #1811
/milestone Next

[2019-12-02 16:03] #1731 closed

[2019-12-02 16:17] vincepri commented on #1775
Templates are only used with MachineSet/MachineDeployment resources today, CAPI can handle the deletion of the related resources within these controllers

[2019-12-02 17:05] #1724 closed

[2019-12-02 18:35] wfernandes commented on #1794
/assign
/lifecycle active

[2019-12-02 19:56] MnrGreg opened #1818 "Support private registries with bootstrap-type KIND clusters"
**User Story**

As an operator I would like to use `clusterctl create cluster  --bootstrap-type kind` with provider images hosted in a private registry. I would like `clusterctl` to be capable of taking a trusted CA as input to the bootstrap process.

**Detailed Description**

Currently `clusterctl create` fails to pull images where it cannot validate the registry endpoint certificate. There seems

[2019-12-02 19:59] ncdc commented on #1818
@fabriziopandini could you please comment on this, in light of clusterctl v2?

[2019-12-02 21:08] ncdc opened #1819 "Document policy guidelines on core dependency & tooling versions"
**User Story**

As a developer, I would like to understand when it's appropriate for this project to upgrade versions of its core dependency and tooling versions.

**Detailed Description**

We rely on several core dependencies and tools for this project to function properly. These include:

- controller-runtime
- controller-tools
- kubebuilder
- client-go
- apimachinery
- kustomize

We have a rece

[2019-12-02 21:10] vincepri commented on #1819
We should definitely try to document all of these in the go.mod file as a comment on top of the `require` dependencies.

I'd also add that we need a policy around go versions.

[2019-12-02 21:13] detiber commented on #1819
It was my understanding that the go tooling does not necessarily respect/retain comments in the go.mod file. Has the policy for that changed?

[2019-12-02 21:15] vincepri commented on #1819
You can leave and save comment around the require block, not inline though

[2019-12-02 21:16] detiber commented on #1819
I'd like to see us have a pretty strict policy around updating these (as well as the go version) for release branches, however I'm not sure we need or really want much restriction here for vNext. Opting instead to be more mindful of the user/operator facing changes for vNext instead (minimum k8s version required, for example)

[2019-12-02 21:19] ncdc commented on #1819
I agree that the release branches need to be severely strict.

For `master`, we can advance more rapidly. It might be nice to run an e2e test against a PR that bumps dependencies before we merge it.

Another thing to consider: if someone is using kubebuilder to add new APIs to this project, that's an area where I'd like to see consistency (although I don't know how we enforce that).

[2019-12-02 21:24] vincepri commented on #1819
A lot of the dependencies listed in the original post are related to controller-runtime.

What if we target a minimum Kubernetes version for the management cluster and _pick_ the correct dependencies accordingly?

[2019-12-02 21:27] ncdc commented on #1819
That works for me. Want me to open a PR with some draft language?

[2019-12-02 21:28] vincepri commented on #1819
Sure that works for me, we can revisit the minimum management cluster Kubernetes version at the start of each cycle, release notes for vNext should then include language that informs users of the new breaking changes.

[2019-12-02 21:53] detiber commented on #1819
One thing to note is that the minimum version of kubernetes to support for the management cluster is not the same as the versions of transitive kubernetes dependencies imported.

[2019-12-03 12:53] ncdc opened #1820 "Test failure: ci-cluster-api-test"
As seen in https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-cluster-api-test/1201681854743187465:

[code]

This is from #1738, which passed all the PR prow jobs.

@fabriziopandini

[2019-12-03 15:07] vincepri commented on #1820
/lifecycle active
/assign

[2019-12-03 16:46] #1757 closed

[2019-12-03 18:12] wfernandes commented on #1794
As per this https://github.com/kubernetes-sigs/cluster-api/pull/1813#issuecomment-560520198, I'll be adding the following to this PR as well.
- [ ] `Cluster.Spec.InfrastructureRef.Namespace` should default to `cluster.Namespace`
- [ ] `Machine.Spec.InfrastrucutreRef.Namespace` should default to `machine.Namespace`
- [ ] `Machine.Spec.Bootstrap.ConfigRef.Namespace` should default to `machine.Namesp

[2019-12-03 18:21] ncdc commented on #1794
Re requiring webhooks, we also need them for conversions between v1alpha2 and v1alpha3. If users have existing v1alpha2 clusters and they want to upgrade their management clusters to v1alpha3, they will have to use webhooks for the version conversions; otherwise, the updated controllers won't be able to see any of the v1alpha2 data.

[2019-12-03 18:24] #1820 closed

[2019-12-03 19:11] noamran opened #1823 "Conversion webhooks for CABPK v1alpha2 to v1alpha3"
We need to have conversion webhooks in place for CABPK.
/kind feature

[2019-12-03 19:11] noamran commented on #1823
/assign

[2019-12-03 19:45] ncdc commented on #1799
@juan-lee could you expand on what you mean here?

[2019-12-03 19:49] voor commented on #1205
I had an opportunity to re-read through this conversation and I wanted to bubble up some things to make sure they're not being lost in the shuffle:

There was a suggestion for [machine lifecycle policy](https://github.com/kubernetes-sigs/cluster-api/issues/1205#issuecomment-516548820), which was reasoned out due to the fact there are [multiple implementing providers that might not be able to meet

[2019-12-03 20:23] tahsinrahman commented on #1790
/assign

[2019-12-03 20:24] vincepri commented on #1799
I originally suggested to @juan-lee that we could use an approach like we do today when we handle external objects in the Machine and Cluster controller code.

By providing a contract to the KubeadmConfig owner's, we can use different API types / CRDs and use the unstructured package to get the information we need (for example the cluster name).

This would remove the need for a KubeadmConfig's ow

[2019-12-03 20:27] ncdc commented on #1799
Ok, thanks for the clarification. That's what I thought but I wasn't certain.

[2019-12-03 21:44] avorima commented on #1559
I'd like to tackle this. My plan is to add a reference implementation under `bootstrap/example`.

[2019-12-03 21:47] detiber commented on #1559
@avorima while I think it might be possible to do a full reference implementation as a submodule, I think it might be a bit too easy to accidentally re-use some of the top level tooling. It might be better to take a documentation first approach like this PR is doing for infrastructure providers: https://github.com/kubernetes-sigs/cluster-api/pull/1682

[2019-12-03 21:47] ncdc commented on #1725
/assign
/lifecycle active

[2019-12-03 21:52] avorima commented on #1559
Good point. I'm using the CAPI `docs/**/*.md` files for a lot of reference as well. I'll write some docs then.

[2019-12-03 22:27] b2jrock opened #1827 "`envsubst` is not installed on OSX by default, causing command not found when following the book"
**What steps did you take and what happened:**
When following the installation in the book, under "Install infrastructure provider" under multiple providers, envsubst is used to fill in some values in the yaml. Since this isn't installed by default on osx, I get a "command not found".

**What did you expect to happen:**
Not getting a "command not found".

**Anything else you would like to add:**
T

[2019-12-03 23:08] michaelgugino commented on #1205
I think the default behavior of 'cluster api' as a set of components would be to remediate that machine.  The question is where that remediation takes place.  For a variety of reasons, some of us believe that should be an entirely separate concern.  In most cases, we want to remediate based on node conditions, not machine conditions, and it makes sense to move the logic to that component.

@voor

[2019-12-04 09:17] prankul88 commented on #1827
@b2jrock Probably best to add it in Prerequisites section.

/assign

[2019-12-04 15:10] randomvariable commented on #1727
/assign
/lifecycle active

[2019-12-04 15:11] randomvariable commented on #1756
Can't edit the thing, but

is being treated as #1727 unless there's objections.

[2019-12-04 15:45] randomvariable opened #1828 "Documentation i18n"
**User Story**

As a non-English speaker I would like to access Cluster API documentation in my preferred language.

**Detailed Description**

Support the publishing of internationalised documentation for Cluster API

**Anything else you would like to add:**

Figure out how to separate documentation by language, publishing to different prefixes, and possibly creating redirects for existing content

[2019-12-04 15:50] detiber commented on #1828
We could likely leverage subdirectories for a stop gap approach if needed as well.

[2019-12-04 18:10] dlipovetsky commented on #1808
This reminded me of `kubectl rollout restart deployment/$name`: https://github.com/kubernetes/kubernetes/pull/76062/

[2019-12-04 18:17] thebsdbox commented on #1810
This would be great for things like "remote-hands" etc.. one consideration would be remote servers with no OOB management. Having the capability to define which servers that remote power-off isn't available would provide safety to powering off servers that can't be restarted remotely

[2019-12-04 18:35] zaneb commented on #1808
Thanks for the link! So it [looks like](https://github.com/kubernetes/kubernetes/pull/76062/commits/1bf99e2e4ecb27d0dd4579c9f137c957ba159901#diff-748eb419a51edef8e7552290e2a9738eR32-R77) that works by adding an annotation `kubectl.kubernetes.io/restartedAt` with the value being the current time *as determined by the client*.
However, that only works because *any* change to the Deployment causes a

[2019-12-04 18:51] ncdc commented on #1790
@michaelgugino suggested adding a new field e.g. `dataRef` or something like that, to ease with migrations

[2019-12-04 18:56] ncdc commented on #1801
This may have been fixed by #1792. We should test.

[2019-12-04 19:46] ncdc commented on #1827
Not sure if this is helpful, but for CAPA's `examples/generate.sh` script, we work around this by defining a function in the script to supply the functionality:

[code]

And then it's used the same way as a standalone binary:

[code]

[2019-12-04 19:51] ncdc commented on #1818
@MnrGreg the implementation of clusterctl that currently ships is end-of-life and is being rewritten from scratch with the upcoming v1alpha3 (v0.3.0) release early next year. We will no longer be creating the bootstrap cluster for you. Instead, it becomes a prerequisite, and it's up to you to create it before invoking clusterctl. You could configure the custom CA as part of creating your bootstrap

[2019-12-04 19:52] ncdc commented on #1793
@akutz do you have a gut feeling for priority on this?

[2019-12-04 19:54] akutz commented on #1793
Hi @ncdc,

I think it's not release blocking, but it's just next to it.

[2019-12-04 20:15] dlipovetsky commented on #1782
I see use cases that are not currently supported by CABPK:
1. `--v` (kubeadm log verbosity)
1. `--experimental-kustomize`
1. `--skip-phases`

Alll are part of kubeadm's imperative interface. However, CAPBK exposes a declarative interface (the KubeadmConfig custom resource), and translates that to imperative kubeadm operations[1].

Exposing the imperative operations to the user has challenges:
1. S

[2019-12-04 20:15] MnrGreg commented on #1818
Thanks for the explanation.

[2019-12-04 20:15] #1818 closed

[2019-12-04 20:25] fabriziopandini opened #1829 "clusterctl pre-pull images"
**User Story**

As an operator would like to pre-pull all the required images for using clusterctl on an air-gapped environment

**Detailed Description**

As an operator, I would like to:
1) go to a machine with internet access
2) pre pull al the required images for the set of provider I would like to install
3) extract them as tarballs
4) make them available in the management cluster before actua

[2019-12-04 20:26] fabriziopandini commented on #1829
/cc @timothysc @frapposelli

[2019-12-04 20:39] detiber commented on #1827
There was recently a PR that added a blurb to the installation guide as well stating that `envsubst` is provided by the `gettext` package and available via Brew on MacOS here: https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/book/src/tasks/installation.md#create-the-components

It isn't in the published version of the docs, though.

[2019-12-04 20:52] #1090 closed

[2019-12-04 21:15] wfernandes opened #1830 "Use e2e test framework for e2e tests within Cluster API"
**User Story**

As a [developer] I would like to use the e2e testing framework to write appropriate e2e tests for CAPI to improve overall reliability.

**Detailed Description**

Currently, there aren't any e2e tests for CAPI. If we are investing in creating an e2e test framework for writing e2e tests for cluster api providers then we should try and leverage it within CAPI as well.
There are also a

[2019-12-04 21:19] wfernandes commented on #1830
/assign
/lifecycle active
I'm currently working on this but I'm open to feedback and/or suggestions.

[2019-12-04 21:21] detiber opened #1831 "Fixes needed for infrastructure provider implementer guide"
#1682 introduced new provider documentation. There are a few issues that need to be addressed in the current state of the docs:
- docs/book/src/providers/implementers-guide/building_running_and_testing.md
  - Deployment -> Cluster API
    - Link for cloning the cluster-api repo is broken
- docs/book/src/providers/implementers-guide/create_api.md
  - MailgunClusterSpec definition
    - Requester fi

[2019-12-04 22:39] wfernandes opened #1833 "unable to run e2e tests in capi"
**What steps did you take and what happened:**
From the cluster-api directory I ran `make -C test/infrastructure/docker test-e2e` and saw the following error:
[code]

**What did you expect to happen:**
Expected it to run e2e docker tests.

**Anything else you would like to add:**
[See slack conversation](https://kubernetes.slack.com/archives/C8TSNPY4T/p1575496913326700) regarding discussion to upd

[2019-12-04 22:43] wfernandes opened #1834 "update make targets modules and verify-modules to include test/infra/docker"
**User Story**

As a [developer] I would like `make modules` and `make verify-modules` to run against `test/infrastructure/docker` directory as well.

**Detailed Description**
For reference, #1833.

/kind feature

[2019-12-04 22:47] ncdc opened #1835 "Test flake: integration"
The integration tests are flakey because cert-manager might not be fully initialized by the time we try to install CAPI. An example flake is here: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api/1826/pull-cluster-api-integration/1202351416828497920

[code]

We should be able to instead wait for the cert-manager apiservice to be available.

/kind failing-tes

[2019-12-04 22:56] wfernandes opened #1837 "Add targets to build/test/verify test/infra/docker"
**User Story**

As a [developer] I would like to run `make` commands from the cluster-api directory to execute build/test/verify commands in test/infrastructure/docker.

**Anything else you would like to add:**

Also hook up to CI.

/kind feature

[2019-12-04 22:58] ncdc commented on #1837
I don't _think_ we necessarily need new prow jobs for capd. We probably can just integrate it into scripts/{ci-build.sh,ci-make.sh,ci-test.sh} etc. WDYT?

[2019-12-04 23:04] #1835 closed

[2019-12-04 23:07] ncdc commented on #1834
/assign
/lifecycle active
/priority important-soon
/milestone v0.3.0

[2019-12-04 23:26] neolit123 commented on #1782
this is tricky. it's essentially binding between the CAPBK API and the kubeadm CLI. `--extermential-kustomize` is an alpha feature that may become stable (`--kustomize`) or be deprecated.

delegating the kubeadm CLI choices to a generic `extraArgs` is safer for CAPBK. it might break users eventually, but same goes for users having bash scripts with kubeadm flags.

[2019-12-04 23:42] #1834 closed

[2019-12-05 01:07] b2jrock commented on #1827
Looks like that PR was merged in #1815 right around when I filed this one. Safe to close, I think.

[2019-12-05 01:07] #1827 closed

[2019-12-05 11:32] randomvariable opened #1840 "Document logging standards"
If returning errors to the controller-runtime error, the logger no longer shows the line where the fault occurred, and the controller implementation cannot make use of structured logging in that area, which can lead to inconsistent logging.

Standards for logging should be documented.

/kind documentation

[2019-12-05 14:36] ncdc commented on #1831
@prankul88 has a PR open for this but he's not in the org yet, so we can't assign it to him. Assigning to myself to indicate that it's assigned.

/assign

[2019-12-05 14:44] #1831 closed

[2019-12-05 15:04] ncdc commented on #1756
@randomvariable I updated it above

[2019-12-05 16:07] vincepri commented on #1790
/lifecycle active

[2019-12-05 16:22] #1783 closed

[2019-12-05 16:55] noamran commented on #1823
Closing this as #1800 was merged.

[2019-12-05 16:55] #1823 closed

[2019-12-05 22:08] #1794 closed

[2019-12-05 22:27] wfernandes commented on #1833
I believe this has been addressed by https://github.com/kubernetes-sigs/cluster-api/pull/1838 and can be closed.
/close

[2019-12-05 22:27] #1833 closed

[2019-12-05 22:34] wfernandes commented on #1837
I also noticed that when I run `make test` in test/infrastructure/docker I get the following error:
[code]
The Makefile in test/infrastructure/docker doesn't have targets `lint` and `lint-full`. There are quite a few linting errors in that repo so if we decide to create `lint` targets then we would have to address the linting errors to get `make test` to pass.

[2019-12-06 14:06] #1553 closed

[2019-12-06 14:07] richardcase opened #1846 "bootstrap-provider: allow the content of a file to come from a configmap or secret"
**User Story**

As an operator I would like to be able to be able to get the contents of a file from a configmap or secret so that i don't have to embed the contents directly within the `KubeadmConfig`. This is especially useful for custom configuration using PreKubeadmCommands and PostKubeadmCommands.

**Detailed Description**

I would like to see [`Contents`](https://github.com/kubernetes-sigs/c

[2019-12-06 14:23] detiber commented on #46
There is a tentative proposal for how to do this wrt control plane management here: https://github.com/kubernetes-sigs/cluster-api/issues/1647

[2019-12-06 15:10] #1795 closed

[2019-12-06 15:13] vincepri commented on #46
Should we close this one in favor of the proposal?

[2019-12-06 15:14] detiber commented on #46
@vincepri I don't think so, this one is about deciding how to handle it, and the proposal is a concrete proposal. If we accept the proposal, then I think that would qualify as meeting the requirements to close this issue.

[2019-12-06 15:15] vincepri commented on #46
AFAIK, the proposal is in the milestone and waiting to be implemented, there wasn't much push back on it

[2019-12-06 15:26] ncdc opened #1849 "KubeadmConfig bootstrapping isn't working (or is slow) in master"
**What steps did you take and what happened:**
This job tests CAPI master against CAPA master and is failing: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-cluster-api-provider-aws-make-conformance-master/1202917621897367552.

If you look at the CAP* artifacts, you'll see the KubeadmConfig resources have empty statuses: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-cluster-ap

[2019-12-06 16:08] richardcase commented on #980
Really interested in the managed kubernetes service (AKS, EKS) scenario.

We have customers that want to adopt capi and as part of that adoption they want to be able to utilise managed services (as well as the current providers).

[2019-12-06 16:13] ncdc commented on #1846
I like this idea. To make API conversion easier, we should probably keep `content` as-is, and consider adding a `contentFrom` field as well:

[code]

[2019-12-06 16:18] ncdc commented on #1846
/help

[2019-12-06 16:18] detiber commented on #1846
@ncdc are you thinking also that the use of ContentFrom would prevent the ability to convert to an earlier version?

[2019-12-06 16:21] akutz opened #1850 "Support clusters without external control-plane endpoints / load balancer in v1alpha3"
**User Story**

As a user/operator I would like to deploy a cluster that does not rely on an external control-plane endpoint in v1alpha3 because some platforms lack native load balancer capabilities, the facility commonly leveraged for external endpoints.

**Detailed Description**

In v1alpha2 it is possible to deploy a cluster that does not rely on an external control-plane endpoint. This is poss

[2019-12-06 16:21] nstogner commented on #1846
I would love to take a stab at this one.

[2019-12-06 16:27] vincepri commented on #1849
The providers weren't using the correct version. Although the real issue is this line https://github.com/kubernetes-sigs/cluster-api/blob/master/bootstrap/kubeadm/controllers/kubeadmconfig_controller.go#L464-L465 which only reconciles the objects if the version matches v1alpha3.

Should we keep it like this or update it so we reconcile for v1alpha2 as well?

[2019-12-06 16:27] ncdc commented on #1846
@detiber I think it would have to, given that we don't have a `Client` currently available in our conversion code (although we could create one).

I also think there are differently levels of compatibility, maybe. For a change like this, it really should only affect the bootstrap controller, and if you've updated to v1a3 for the CRDs, you presumably are updating the controller at the same time. Ar

[2019-12-06 16:27] ncdc commented on #1846
/assign @nstogner

[2019-12-06 16:27] vincepri commented on #1849
At least we've proven that conversion webhooks are working for kubeadm types :)

[2019-12-06 16:27] ncdc commented on #1846
Please comment `/lifecycle active` when you start working on this - thanks.

[2019-12-06 16:33] detiber commented on #1849
This is mainly for the version listed on the reference, which is something we should probably update during conversion (since we own both the types in this case).

[2019-12-06 16:34] ncdc commented on #1849
The version _shouldn't_ be an issue - the controller should only be watching a single version, and the conversions should be happening from any other version to the watched version. If the data post-conversion isn't modifying the apiVersion, we should not look at the apiVersion and just match on GroupKind

[2019-12-06 16:38] detiber commented on #1846
I'm not entirely sure that we can say that something isn't interacting with these resources. Longer term, I think we'd want to avoid upgrades that require stopping all tooling (cluster-api owned or not).

In the v1alpha2 space, the upgrade tool interacts with the bootstrap resources when trying to create a new control plane instance, for example.

[2019-12-06 16:39] vincepri commented on #1849
The controller is watching a single version, but the reference was pointing to a v1alpha2 object and wasn't matching in the `if` condition linked above as @detiber mentioned.

I'll update the kubeadm config controller to look only for GroupKind, I don't think we should update the references in conversion though.

[2019-12-06 16:40] detiber commented on #1849
If we don't update the references, then at some point through upgrades they will no longer be referencing a supported api version, which would then require the user to manually change the api version for the objectRef.

[2019-12-06 16:42] ncdc commented on #1849
Updating the refs is a separate area of concern. If we want to consider doing that, let's please file an issue to discuss.

[2019-12-06 16:42] vincepri commented on #1849
I'm torn because we let the user create the objects and link them together, +1 on creating another issue about it

[2019-12-06 16:45] ncdc commented on #1850
I think it would probably take a lot of work to special-case this type of effort, and given that we want to move in the direction of full lifecycle management (including upgrades), I don't believe this is the proper path forward.

I would prefer that we work on having at least one reference implementation of a load balancer (with machines as the backends) that can be deployed across a wide variety

[2019-12-06 16:51] detiber opened #1852 "webhook conversions for Machine* resources should automatically update the api group version for their bootstrap references"
**User Story**

As a workload cluster operator I would like cluster-api to handle updating the api versions used in the references to KubeadmConfig and KubeadmConfigTemplate resources.

**Detailed Description**

Part of the conversion process for Machine* resources should be to update the api group versions for objectRefs to KubeadmConfig and KubeadmConfigTemplate resources. Otherwise after cluste

[2019-12-06 16:52] detiber commented on #1849
Created https://github.com/kubernetes-sigs/cluster-api/issues/1852 for discussing the conversion.

[2019-12-06 16:54] #1849 closed

[2019-12-06 16:55] ncdc commented on #1846
If our APIs were beta or v1, I think this would be of much more serious concern. But we're alpha, and I view being able to upgrade to newer versions significantly more important than supporting older clients against newer versions. I am happy to proceed with this change, and we can have strongly worded guidance that there are new features in the newer alpha version that may break things if you con

[2019-12-06 16:55] vincepri commented on #1837
The inner Makefile definitely needs some attention, so +1 to that.

The prow jobs should be discussed in a different issue. It might be worthwhile to be separate and only run if we're changing anything in the sub-folder, so we can save CI time on every PR.

[2019-12-06 17:15] ncdc commented on #807
Closing in favor of updating the provider docs once clusterctl v2 is ready. Tracking issue is #1729

/close

[2019-12-06 17:15] #807 closed

[2019-12-06 17:16] ncdc commented on #1078
This sounds like an older version of the machine healthcheck proposal #1684
/close

reopen if I'm off base

[2019-12-06 17:16] #1078 closed

[2019-12-06 17:19] joonas commented on #1102
/milestone Next

[2019-12-06 17:23] ncdc commented on #1370
Looks like we have most or all of these documented. Let's open up specific issues in the future if needed.

/close

[2019-12-06 17:23] #1370 closed

[2019-12-06 17:30] joonas commented on #1489
/assign @fabriziopandini

[2019-12-06 17:33] ncdc commented on #1504
#1837 is a dupe of this but it has more info
/close

[2019-12-06 17:33] #1504 closed

[2019-12-06 17:33] ncdc commented on #1505
This is integrated into the main CAPI builds.
/close

[2019-12-06 17:33] #1505 closed

[2019-12-06 17:34] ncdc commented on #1506
Should be done already
/close

[2019-12-06 17:34] #1506 closed

[2019-12-06 17:34] ncdc commented on #1509
Fixed by #1541
/close

[2019-12-06 17:34] #1509 closed

[2019-12-06 17:35] joonas commented on #1525
/assign @fabriziopandini

[2019-12-06 17:35] vincepri commented on #1535
/close

[2019-12-06 17:35] #1535 closed

[2019-12-06 17:42] ncdc commented on #1576
@moshloop did you see Chuck's comment above (https://github.com/kubernetes-sigs/cluster-api/issues/1576#issuecomment-540741462)?

[2019-12-06 17:45] akutz commented on #1580
cc @yastij

[2019-12-06 17:46] akutz commented on #1579
cc @yastij

[2019-12-06 17:49] ncdc commented on #1625
@vincepri can you enumerate any specific events we should add?

[2019-12-06 17:49] randomvariable commented on #1625
Also
/kind documentation

[2019-12-06 17:50] ncdc commented on #1627
Closing in favor of #1837
/close

[2019-12-06 17:50] #1627 closed

[2019-12-06 17:51] ncdc commented on #1629
/help

[2019-12-06 17:52] joonas commented on #1631
related to https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/528

[2019-12-06 17:53] joonas commented on #1642
cc @randomvariable

[2019-12-06 17:56] ncdc commented on #1656
Closing this in favor of #1658
/close

[2019-12-06 17:56] #1656 closed

[2019-12-06 17:59] joonas commented on #1657
/assign @vincepri

[2019-12-06 18:01] ncdc commented on #1667
Done
/close

[2019-12-06 18:01] #1667 closed

[2019-12-06 18:02] ncdc commented on #1685
/help

[2019-12-06 18:02] akutz commented on #1850
Hi @ncdc,

Thank you for such a thoughtful response. I tend to agree with you, but I want to let @yastij chime in when he's back online. Thank you!

[2019-12-06 18:03] ncdc commented on #1686
/help

[2019-12-06 18:03] ncdc commented on #1686
@rsmitty hi, any updates on this?

[2019-12-06 18:05] ncdc commented on #1718
@xrmzju is this still an issue for you?

[2019-12-06 18:06] akutz commented on #1714
Hi @figo / @codenrhoden,

I think one of you should take this in the image builder. I believe a drop-in for a cloud-init phase target should be able to set up the required service order to prevent the race condition.

[2019-12-06 18:06] ncdc commented on #1723
/close

[2019-12-06 18:06] #1723 closed

[2019-12-06 18:13] ncdc commented on #1774
/help

[2019-12-06 18:19] ncdc commented on #1775
Let's make sure to set owner ref to each cluster using the template to avoid deleting templates too aggressively if they're shared across clusters.

We should probably document when templates are deleted and how to keep them from being deleted when all owners are deleted.

[2019-12-06 18:19] rsmitty commented on #1686
not yet, hoping to get started on this either later this afternoon or early next week.

[2019-12-06 18:21] ncdc commented on #1775
Set owner refs to anything that uses it.

[2019-12-06 18:22] ncdc commented on #1782
/help

[2019-12-06 18:23] ncdc commented on #1796
We should update all docs to be based on kind 0.6+

[2019-12-06 18:23] joonas commented on #1796
/help

[2019-12-06 19:05] figo commented on #1714
Just to confirm, is it we want to make sure containerd service running before cloud-init?
something like this for containerd?
[code]

@akutz @timothysc

[2019-12-06 19:09] akutz commented on #1714
I don't believe `WantedBy` determines order, only that `containerd` wants `cloud-init`.

Please see [these docs](https://www.freedesktop.org/software/systemd/man/systemd.unit.html) for more information.

You'll likely want something like this in a drop-in:

[code]

[2019-12-06 19:10] detiber commented on #1714
I'm not sure that would work, since containerd is likely dependent on the networking target.

I'm not sure if there is a way to trigger it to say that it is required before cloud-init starts the final phase.

[2019-12-06 19:12] akutz commented on #1714
Hi @detiber,

I think there is. We could change it to:

[code]

The `cloud-init.service` is the boot stage of cloud-init at which point networking [must be online](https://cloudinit.readthedocs.io/en/latest/topics/boot.html#network).

[2019-12-06 19:14] akutz commented on #1714
Or rather this to be sure:

[code]

This should ensure containerd is started between the two phases where cloud-init has brought networking online. This starts things as early as possible for containerd I think.

[2019-12-06 19:16] akutz commented on #1714
There are several [cloud-init boot stages](https://cloudinit.readthedocs.io/en/latest/topics/boot.html) we can use, each with a corresponding systemd service we can target.

[2019-12-06 19:48] vincepri commented on #1796
/assign
/lifecycle active

[2019-12-06 19:49] detiber commented on #1714
Since runcmd is called by `cloud-final.service` should we defer to having it there, that way if someone wanted to override the containerd config in any of the other stages, they could?

So After/Wants=cloud-config.service and Before/WantedBy=cloud-final.service?

[2019-12-06 19:50] akutz commented on #1714
Oh, good idea.

[2019-12-06 19:53] nstogner commented on #1846
/lifecycle active

[2019-12-06 19:59] vincepri commented on #1774
@craiglpeters Do you have any suggestions here?

[2019-12-06 20:02] figo commented on #1714
I hope image itself can ensure order correctness, rather than expecting certain user-data, does this make sense?

[2019-12-06 20:02] #1796 closed

[2019-12-06 20:12] detiber commented on #1714
@figo I can foresee cases where someone might want to inject config during bootstrapping, which is what I was referring to. Being able to specify a custom config file for containerd in the bootstrapping config, for example. I would expect that by adding a systemd dropin with the criteria I mentioned about should help support that use case (and we are enforcing the ordering in the image, but allowi

[2019-12-06 20:31] ncdc opened #1855 "Add liveness and readiness probes"
**User Story**

As a developer/user/operator I would like to have liveness and readiness probes for the Cluster API manager so that I am better informed when it is operational and ready to receive requests.

**Detailed Description**

See user story.

**Anything else you would like to add:**

It would be ideal if the readiness probe could only return true once the webhook server is online and ready

[2019-12-06 20:36] #1657 closed

[2019-12-06 20:53] ncdc commented on #1837
/lifecycle active

[2019-12-06 21:08] nstogner commented on #1846
**Initial Thoughts**

Avoid pushing a k8s client down into `cloudinit` by defining a new `cloudinit.File` type which only contains data for files, no references to k8s objects. Resolve content refs in `./bootstrap/kubeadm/controllers` and translate `api.File` types into `cloudinit.File` types before calling funcs like `cloudinit.NewInitControlPlane(...)`.

*bootstrap/kubeadm/cloudinit/cloudinit.go

[2019-12-06 21:23] fabriziopandini commented on #1489
In order to simplify for deleting/pivoting, on top of auto labeling, it is necessary also a generic convention for navigating objects and this requires more thinking
So I propose to decrease priority or to close and eventually re-open in future

[2019-12-06 21:32] ncdc commented on #1489
Done

[2019-12-06 21:49] Catramen opened #1858 "To me, machines bundles together like a stateful set rather than deployment"
MachineDeployment implies machines are stateless.
If a machine has its own sticky identity, it could have resources following its lifecycle.
If a machine has its own sticky identity, autoscaler might work better:
 When autoscaler want to kill a machine, a stateless MachineDeployment could be trying replace(upgrade) the same machine. Synchronization can be hard.
 If a machine has its own identity,

[2019-12-06 21:53] nstogner commented on #1846
Alternatively to creating a new `cloudinit.File` type, we could resolve `api.File.Content` from `api.File.ContentFrom` before passing `api.File` into `cloudinit`, however this may muddy the exposed `cloudinit` input params with non-used variables.

[2019-12-06 21:58] ncdc commented on #1846
Having an internal `cloudinit.File` seems ok at a quick glance. Let's wait until @chuckha is back next week so he can comment as well.

[2019-12-06 21:58] vincepri commented on #1858
@Catramen Can you please rewrite the issue following the template provided? It'd be also great to give more details on what you're trying to accomplish, proposed solutions, and use cases.

Thanks!

/priority awaiting-more-evidence

[2019-12-07 03:34] nstogner commented on #1846
I got excited and went ahead and took a quick pass at it. Love to hear feedback.

[2019-12-07 17:51] moshloop commented on #1576
@chuckha @ncdc - While there is a documentation component to this issue, it isn't the defining factor.

What is more important is deciding on what is and is not supported, and what is necessary to take something from unsupported to supported.

Part of this involves documenting what supported entails e.g. We accept bug reports and test for supported combinations and ensure they work before release.

[2019-12-09 14:26] alexbrand commented on #1828
Happy to help with Spanish i18n!

[2019-12-09 15:38] jaimegag opened #1861 "kubeconfig secret is not cleaned when control-plane Machine is deleted"
**What steps did you take and what happened:**
When creating a `control-plane` Machine, 5 secrets are created (prefixed with the cluster name) in the management cluster: `ca, etcd, sa, proxy and kubeconfig`.
However if you delete the `control-plane` Machine (`kubectl delete -f xxx-control-plane.yml`), only 4 secrets are deleted and the `kubeconfig` one is left behind.
If you create the `control-pl

[2019-12-09 15:47] michaelgugino commented on #1810
@thebsdbox you might be interested in this related RFE: https://github.com/kubernetes-sigs/cluster-api/issues/1811

[2019-12-09 15:50] #1816 closed

[2019-12-09 16:05] ncdc commented on #1861
The kubeconfig secret is created and owned by the cluster. I know we've discussed this in the past, so @chuckha might have some more back history. Going forward, this secret will belong to the KubeadmControlPlane (if you're using that).

[2019-12-09 16:21] yastij commented on #1580
/assign

[2019-12-09 16:21] yastij commented on #1579
/assign

[2019-12-09 17:45] ncdc commented on #1576
From a bootstrapping perspective, cabpk generates cloud-init cloud config yaml with the expectation that it should be able to run on most or all debian/ubuntu; centos/rhel, and amazon linux 2.

As to supported Kubernetes versions, we can and should document that (based on the versions of the kubeadm types that we support).

As to container runtime, I don't think there's anything prescriptive in th

[2019-12-09 18:12] #1837 closed

[2019-12-09 18:43] ncdc opened #1863 "Project roadmap?"
Would y'all be interested in creating a project roadmap for Cluster API? I'm thinking this could be a way to keep track of the features we'd like to deliver in the next ~2 releases, plus a list of things that are farther out. If yes, any suggestions on where to put it, and how to keep it up to date?

@CecileRobertMichon @rudoi @juan-lee @michaelgugino @akutz @andrewsykim @detiber @vincepri @joonas

[2019-12-09 18:45] detiber commented on #1863
@ncdc we could leverage GitHub projects to do this and/or just issues filed against milestones.

[2019-12-09 19:08] detiber commented on #1863
If we do, I think it should be something that is auto-generated and updated from a canonical source regularly (issues w/ a certain label against a milestone, GitHub project, etc) otherwise it's likely to get stale quick and not reflect reality.

[2019-12-09 19:15] wfernandes commented on #1863
A project roadmap would be great to have! +1 this.

As @ncdc suggested, it would be nice to have a concept like epics or feature tracks where issues could we tagged with so we can see how much progress has been accomplished for each epic.

A simplistic approach would be having a set of labels like `epic/cool-feature-1` and add that label to corresponding issues. Github projects allows filtering ba

[2019-12-09 19:18] nader-ziada commented on #1863
+1 for a simple md file with milestones and listing of features, maybe with one line descriptions, to indicate areas of interest for developers to work on

[2019-12-09 19:23] wfernandes commented on #1863
Also labels have a description field, so we could use that to add more detail about the feature for added clarification.

[2019-12-09 20:03] rsmitty commented on #1686
to circle back a bit, I'm hacking on this now. I've got the working branch here: https://github.com/rsmitty/cluster-api/tree/issue-1686

[2019-12-09 23:50] wfernandes commented on #1775
@vincepri I was hoping to get started on this sometime tomorrow. I know you had some thoughts on the implementation as mentioned during that backlog grooming session.

I current plan was to have the MachineDeployment controller add the corresponding MachineDeployments as owner references onto the MachineTemplate object.
Similarly, have the MachineSet controller set the corresponding MachineSet as

[2019-12-09 23:58] dlipovetsky commented on #1858
@Catramen You're right, MachineDeployment does imply that machines are stateless. That's the reason the Control Plane management #1613 does not the a MachineDeployment; the control plane controller will track the state of the control plane replicas.

If something like a StateMachineSet existed, the control plane controller could delegate to it.

A handful of people have broached the idea of someth

[2019-12-10 14:58] michaelgugino commented on #1863
Maybe create a github project board?

Having a high-level list of features and some links to some things that are todo or in progress would be helpful too.

I'm not very opinionated on the process, but whatever helps new contributors easily find and pickup issues is my suggestion.

[2019-12-10 15:03] ncdc commented on #1863
I 100% agree that we need a healthy backlog of easy/medium/hard tasks, but I view that as a separate concern from having a feature roadmap.

[2019-12-10 15:15] chuckha commented on #1582
/remove-lifecycle active
/unassign

[2019-12-10 16:56] wfernandes commented on #1863
I think the project roadmap can help getting contributors partly there. As a new contributor it would've been nice to know where to dedicate my efforts to help add value towards a project epic instead of working on random things that might get re-vamped/refactored anyways.

[2019-12-10 17:16] chuckha opened #1866 "bootstrap status defines a `dataSecretName` when cluster API expects `secretDataName`"
This is just a minor typo.

https://github.com/kubernetes-sigs/cluster-api/blob/376597c58ecca22d5f8ffff97c49ff7fd7c988d5/controllers/machine_controller_phases.go#L186

vs

https://github.com/kubernetes-sigs/cluster-api/blob/376597c58ecca22d5f8ffff97c49ff7fd7c988d5/bootstrap/kubeadm/api/v1alpha3/kubeadmbootstrapconfig_types.go#L80

/lifecycle active
/kind bug

[2019-12-10 17:25] chuckha commented on #1866
ah Machine does the same thing, that tells me the controller should just change to look for dataSecretName instead

[2019-12-10 17:56] chuckha opened #1868 "capd fell out of sync with v1alpha3"
**What steps did you take and what happened:**
capd wasn't keeping up with changes to v1alpha3, we need to keep it up to date.

/kind bug
/lifecycle active

[2019-12-10 18:05] michaelgugino opened #1870 "Update drain lib to support unreachable nodes"
**User Story**

As a operator I would like to successfully drain unreachable nodes when deleting them to ensure PDBs are respected.

**Detailed Description**

Currently, if an unreachable Node has pods with local storage, if those pods pass PDB checks (eviction succeeds), they will get a deletion timestamp but will never be deleted.  We should account for this by ignoring them after X time by upgr

[2019-12-10 18:15] #1866 closed

[2019-12-10 18:29] #1868 closed

[2019-12-10 18:45] ncdc commented on #1726
/assign
/lifecycle active

[2019-12-10 20:00] vincepri commented on #1647
/lifecyle active

[2019-12-10 20:24] ncdc opened #1872 "cabpk: recognize a KubeadmConfig & data secret that have moved"
**What steps did you take and what happened:**
1. Create a Cluster, Machine, KubeadmConfig, & infra provider resources for cluster & machine
1. Wait for everything to be provisioned
1. Move everything to a new management cluster
1. cabpk tries to generate bootstrap data again

**What did you expect to happen:**
1. cabpk recognizes that the bootstrap data secret already exists and updates status.re

[2019-12-10 20:25] vincepri commented on #1872
/lifecycle active

[2019-12-10 21:32] #1872 closed

[2019-12-10 22:58] vukg commented on #1631
@fabriziopandini it would be also good if beside

the additional goal would be to define best practices if, when and how many different providers should be supported in a single management cluster.

btw. we are working around current limitation by setting having management cluster which is than used used to create multiple management clusters, each for one instance of provider. So say that we want

[2019-12-10 23:56] rsmitty commented on #1686
As we suspected, there were flags needed to disable the creation of the kubeadm components. I submitted a PR (should be mentioned above) to address that first part of the issue. Once that is in place, I've got some kustomize I'll PR for discussion as well.

[2019-12-11 05:33] neeleshkorade commented on #1719
@ncdc I will work on this with your guidance
/assign

[2019-12-11 11:00] enxebre opened #1876 "Support for spot instances"
**User Story**

As a user I would like to leverage the cluster-api and particularly machines to run "spot" instances so I can run specific workloads on cheaper instances.

**Detailed Description**
This is to get started a discussion for possible paths forward for supporting spot instances.

Spot instances (aka preemptible vms in gcp or low-priority vms in azure) have different API exposure and dif

[2019-12-11 11:04] enxebre commented on #1876
cc @rosskukulinski @randomvariable @bison

[2019-12-11 12:40] pires commented on #1863
+1 for clear roadmap through github project.

[2019-12-11 14:31] michaelgugino commented on #1876
I think we should start with machines on a per-provider basis.  I'm not sure we need a common abstraction at this point.  Here's what I came up with for AWS: https://github.com/openshift/cluster-api-provider-aws/pull/255/files#diff-d1ff143ff12272410f75d9d545d45ec1R144-R152

Each provider is going to be handled differently.  For instance, on AWS, you're creating a spot instance request, that may or

[2019-12-11 15:55] vincepri commented on #1863
Project boards are hard to manage without a person dedicated to putting things in place, and automation setup to follow the project's patterns.

A markdown document is easy to manage, can be placed in the book for easy find, and anyone can look at it or open PR to modify things.

[2019-12-11 16:22] #1726 closed

[2019-12-11 18:10] wfernandes commented on #1732
I'm planning on working on this framework test: _Deleting a cluster deletes all resources associated with that cluster including Machines, BootstrapConfigs, InfraMachines, InfraCluster, and generated secrets._ I'm hoping to pair that work as I accomplish this story #1775.

[2019-12-11 18:25] vincepri commented on #1775
We should add the Cluster, MachineDeployment, and all MachineSet(s) using the template as OwnerReferences.

On delete, each component removes itself from the OwnerReferences list. When the Cluster is deleted we list all MachineSet and MachineDeployment resources and try to delete them, we can add a check that uses the unstructured client to get the referenced template and if the Cluster is the onl

[2019-12-11 18:35] detiber commented on #1775
@vincepri I don't think we need to delete it as part of the Cluster controller, since it doesn't hold any resources that would block deletion of the infra specific resources. I think we are better to just let the API server handle the deletion through GC when the Cluster removes the last ownerRef.

[2019-12-11 18:43] fabriziopandini commented on #1846
Please, while designing the API around this feature please consider also the need of support "Pivot/Move" of those resources.
The part that most worries me is to understand if more that one kubeadm config can reference to the same configmap/secret

[2019-12-11 18:47] vincepri commented on #1775
Sure that works too

[2019-12-11 18:47] ncdc commented on #1861
The KubeadmControlPlane will own this going forward.
/close

[2019-12-11 18:47] #1861 closed

[2019-12-11 19:02] ncdc opened #1878 "Automate as much of the release process as possible"
**User Story**

As a Cluster API maintainer, I would like to automate as much of the release process as possible, so the chance of user error is as small as possible.

**Detailed Description**

Releases are executed on a maintainer's computer, which increases the likelihood that something may go wrong and lead to inconsistencies across different releases. For example, one maintainer's environment

[2019-12-11 19:07] enxebre commented on #1876
what I'd like is to consolidate and enforce behaviour for the machine resource across providers at the machine controller level for the case when a given cloud provider decides to interrupt and terminate an instance. So this behaviour is consistent, predictable and upper level controllers can react appropriately, i.e I'd probably expect the machine to go failed in such a case.

[2019-12-11 19:49] michaelgugino commented on #1876
From the machine-controller's POV, there shouldn't be anything new.  The instance goes away for one reason or another, and we react accordingly, in the default case, do nothing, that's up to the remediation layer if desired.

The day-1 use case I'm thinking of is, I scale up say 20 spot instances, and they process through my batch jobs. After 24 hours, I might scale them down.  During that time, i

[2019-12-11 19:51] detiber commented on #1876
I think one potential issue here is that we'd need to react to the signal to shutdown the spot instance in order to fasttrack the cordon/drain of the Node faster than we would otherwise need to do for other types of remediation.

[2019-12-11 19:58] michaelgugino commented on #1876
@detiber I've linked a project that does just that in my first comment.  Someone could optionally deploy that thing (I believe it runs as a daemonset) if they so chose.  Or we can develop a different daemonset to notify some other system.  In any case, I don't view this as day-1 feature, it's perfectly fine to have workers that might disappear quickly, I would suggest taints as a starting point.

[2019-12-11 20:16] chuckha opened #1880 "cabpk should not return an error when bootstrap secret already exists"
**What steps did you take and what happened:**
CABPK should not return an error when it tries to create a secret but the secret already exists.

It seems like there is a period of time when the secret is created but the control plane is not initialized so CABPK will try to create a secret and  return an error until the control plane is initialized

/kind bug

[2019-12-11 20:16] chuckha commented on #1880
/priority important-soon
/milestone v0.3.0

[2019-12-11 20:21] vincepri commented on #1801
/close

[2019-12-11 20:21] #1801 closed

[2019-12-11 20:32] ncdc commented on #1790
This was implemented.
/close

[2019-12-11 20:32] #1790 closed

[2019-12-11 20:46] ncdc commented on #1863
It sounds like the answer to my original question is "yes". As we discussed in the office hours meeting today, here is a rough draft of some possible roadmap items: https://docs.google.com/document/d/1vHsqlz7TPnxglA-1f-G-JXAeCJ1Rkji4FDyy8Hf3JFQ/edit#. Please take a look! After folks have had a chance to review and edit/comment, we can turn this into a markdown file and maintain it in the repo.

[2019-12-11 20:48] vincepri commented on #1489
/area clusterctl

[2019-12-11 20:50] vincepri commented on #1373
/area clusterctl

[2019-12-11 20:55] vincepri commented on #1373
/assign @fabriziopandini @timothysc @akutz

[2019-12-11 20:59] vincepri commented on #1490
/kind documentation

Let's document a convention that requires pluggable providers to provide flags to watch all or a single namespace.

[2019-12-11 21:02] vincepri commented on #1780
/area clusterctl
/assign

[2019-12-11 21:06] timothysc opened #1882 "Submit CAPI-providers for a given release for CNCF-conformance verification"
**User Story**

As a [developer/user/operator] I would like to ensure that the clusters I've deployed are conformant.

**Detailed Description**

Submit CAPI+provider versions of the stack to CNCF for conformance certification.

**Anything else you would like to add:**

This should apply for v1alpha2+

/kind feature

[2019-12-11 21:09] detiber commented on #1882
Do we want to do this for all "supported" k8s versions or is there a minimum version that we care about here (1.16+, for example)?

[2019-12-11 21:10] timothysc commented on #1882
Supported versions that apply, specifically for v1alpha2+

[2019-12-11 21:16] detiber commented on #1882
I believe our current policy is to align with the upstream k8s policy, aligning with the timeframe of the v1alpha2 release, I would say that is v1.14, v1.15, v1.16. It probably wouldn't hurt to also run against v1.17 for the v1alpha2 release.

For v1alpha3, I think we can target v1.15, v1.16, v1.17.

Thoughts? @ncdc

[2019-12-11 21:42] vincepri commented on #1846
/area clusterctl

[2019-12-11 21:52] vincepri commented on #1802
Let's start a working document in the book for all the points above except the last two (templates and external objects)

[2019-12-11 22:05] wfernandes opened #1884 "Add cluster api e2e test to CI"
**User Story**

As a developer I would like to run `make test-e2e` in cluster-api's CI to improve test coverage and increase confidence in expected behavior.

**Detailed Description**

We can add this as a pre-submit job for now. See this discussion: https://github.com/kubernetes-sigs/cluster-api/pull/1859#discussion_r356215082

**Anything else you would like to add:**
This issue can be worked on

[2019-12-12 11:16] prankul88 commented on #1855
@ncdc I would like to work on this if possible

[2019-12-12 14:05] vincepri commented on #1855
/assign @prankul88

[2019-12-12 15:01] chuckha commented on #1855
/cc

[2019-12-12 15:02] chuckha commented on #1855
This will be important for the e2e tests. I pretty much have to resort to retrying my creates until the webhook services are ready to respond. Would be happy to work with you @prankul88 if you'd like, feel free to reach out on slack or here. No obligation though, if you'd like to tackle it yourself that works for me too.

[2019-12-12 15:05] ncdc commented on #1855
Note, whatever we don't won't be 100% accurate and may still flake because the goroutine our readiness checks run in is different from the goroutine for the webhook server. See https://github.com/kubernetes-sigs/controller-runtime/issues/723 for more details.

[2019-12-12 15:14] #1725 closed

[2019-12-12 15:22] chuckha commented on #1880
/active

[2019-12-12 16:21] timothysc commented on #1882
1.14 is out of support so no need IMO.

[2019-12-12 19:22] rudoi commented on #1802
/cc

[2019-12-12 20:18] #1719 closed

[2019-12-13 04:20] ashish-amarnath commented on #1880
/lifecycle active

[2019-12-13 07:41] fabriziopandini commented on #1686
if we should support swappable components, from a clusterctl perspective I would prefer to have 1 YAML “batteries included” and then 1 YAML for each part
- core-provider
- bootstrap-provider
- control plane provider (TBD if this should become a different category of provider)

The batteries included yaml will be mostly for end-users, while clusterctl is going to use the single components (or they

[2019-12-13 08:03] fabriziopandini opened #1890 "Introduce the control plane provider"
**User Story**

As an operator I would like to use swappable control plane provider for my-management clusters

**Detailed Description**

*sorry if I didn't catched this need in advance while discussing the Kubeadm Based Control Plane Management / the clusterctl CLI stub*

The kubeadm Based Control Plane Management offers a higher-level abstraction for manging control planes.

However, this abstra

[2019-12-13 10:35] prankul88 commented on #1855
@chuckha Thanks. Would love your help. Give me some time to have a little more knowledge about it. Will reach out :)

[2019-12-13 16:05] vincepri commented on #1890
For v1alpha3 I'm leaning towards the first option, bundle the control plane with the bootstrapper. This would allow us to move quicker towards release without having to introduce yet another concept into the mix, and solves the problem of separating kubeadm bits from CAPI.

[2019-12-13 16:07] detiber commented on #1890
Personally, I'd prefer option 2, since it would avoid us having to split it apart later and handling any type of conversion or migration needed.

[2019-12-13 16:32] #1647 closed

[2019-12-13 17:07] detiber commented on #1647
@ncdc @vincepri how should we handle getting the details of the proposal documented in repo? It seems like data that we'd want to make sure is highlighted...  Maybe it's just a matter of updating the provider implementer docs for now, but I feel like we also need to capture the architectural details somewhere as well.

[2019-12-13 17:22] neeleshkorade commented on #1852
/assign

[2019-12-13 18:19] #1880 closed

[2019-12-14 18:25] akutz opened #1895 "Cannot import e2e framework from infrastructure provider"
**What steps did you take and what happened:**
It is not currently possible to import the e2e framework from an infrastructure provider due to the framework's relative import of CAPI. Attempting to build with Go or running a `go mod` command will result in the following error:

[code]

**What did you expect to happen:**
For things to work.

**Anything else you would like to add:**
An infrastructur

[2019-12-16 09:00] gyliu513 opened #1897 "[Question] How can I auto scale my cluster?"
After the cluster was created by cluster api, how can I auto scale the cluster based on workload?

FYI @detiber @vincepri

[2019-12-16 09:11] gyliu513 commented on #1897
I found a related issue here https://github.com/kubernetes/enhancements/issues/609 , but no recent update for it.

[2019-12-16 14:27] chuckha commented on #1895
/assign

[2019-12-16 15:38] ncdc commented on #1647
@detiber I'd probably add content to the cluster infra provider spec doc describing failure domains, and probably talk about them in the control plane provider spec doc too. Would that suffice?

[2019-12-16 16:13] vincepri opened #1901 "Add failure domain documentation for providers"
Now that https://github.com/kubernetes-sigs/cluster-api/issues/1647 has been closed, we should add documentation for infrastructure providers detailing how to integrate with the feature and how to use it.

/kind documentation

[2019-12-16 16:13] vincepri commented on #1647
Opened https://github.com/kubernetes-sigs/cluster-api/issues/1901

[2019-12-16 16:15] vincepri commented on #1897
We've put some possible work for the cluster autoscaler in the roadmap draft document linked in #1863. This is definitely something we'd like to do, we need a spike to outline the needed efforts.

[2019-12-16 16:51] randomvariable opened #1902 "Control plane healthchecks"
Implement control plane healthchecks as part of #1756

[2019-12-16 16:51] randomvariable commented on #1902
/assign
/lifecycle active

[2019-12-16 18:31] detiber commented on #1756
If anyone wants to volunteer to help out for something, please leave a comment before starting work to let others know that work is inflight for it already.

Current work in progress:
- @randomvariable is currently working on the control plane provider documentation
- @detiber is currently working on adding testing for the create workflow for the controller

[2019-12-16 21:29] fabriziopandini commented on #1373
I'm giving a stub at this, and I would like an help on naming:

[code]

`ReleaseSeries` --> An object that links a release serie (Major, Minor) to a Cluster API - API version
`RequiredAPIVersion` --> The Cluster API - API version

[2019-12-16 21:46] dlipovetsky commented on #1756
@detiber I can take up delete

[2019-12-16 21:50] detiber commented on #1373
@fabriziopandini I think that is likely fine for now, however at some point we might have to deal with behavioral changes that might not be tied to an API version, but rather the binary and/or image version of CAPI. We can always cross that bridge when we get there, though.

[2019-12-16 22:03] akutz commented on #1373
Hi @fabriziopandini,

I'm curious what decisions are being made based on this information? The location of infra components? Building some path like `$HOME/.clusterapi/0/4/v1alpha2`?

[2019-12-16 22:37] vincepri commented on #1373
I'm wondering given the simplicity of the solution proposed if we can actually hardcode the known providers in clusterctl instead? And provide configuration options for others.

[2019-12-16 23:13] wfernandes opened #1905 "Missing labels for bootstrap secrets"
**What steps did you take and what happened:**
I reproduced the behavior using CAPD and CAPA.
For CAPD, I ran the e2e tests in `test/infrastructure/docker` and inspected the secrets while test was running.
For CAPA, I ran `make create-cluster`.
I then saw the following:
[code]
I noticed that `test2-kubeconfig` doesn't have any labels and `test2-controlplane-*` and `test2-md-0-*` are missing the va

[2019-12-16 23:23] vincepri commented on #1905
/assign
/lifecycle active

[2019-12-16 23:24] wfernandes commented on #1905
@vincepri Just FYI, I updated the description.

[2019-12-16 23:36] wfernandes opened #1908 "Missing cluster label for machine deployment"
**What steps did you take and what happened:**
I created a CAPA cluster using `make cluster-create` and did a `kubectl apply -f examples/_out/machinedeployment.yaml`.

I noticed that the machine deployment didn't have cluster label.
[code]
However, it did have the correct owner reference and `spec.ClusterName`. MachineSets and Machines had the correct cluster label.

**What did you expect to happe

[2019-12-16 23:55] fabriziopandini commented on #1373
@akutz that information is required for:
- `clusterctl init` --> check if the User is going to install a set of providers/versions that can work together (if CAPI v1alpha3, also the selected CAPV version MUST work with v1alpha3)
- `clusterctl upgrade plan` --> given the installed providers all in v1alpha3, suggest the next available versions compatible with v1alpha3 or propose a consistent set of

[2019-12-16 23:59] #1905 closed

[2019-12-17 01:09] akutz commented on #1373
Don’t let me keep you from a demo. I just didn’t feel I could answer your question without understanding what you were tying to accomplish.

[2019-12-17 01:12] akutz commented on #1373
I wouldn’t hardcore providers. Seems like the anthesis of what the point of all this is.

I’d be okay with clusterctl shipping with a default config file that included known providers, and if a provider defined their own metadata files then those are preferred.

[2019-12-17 01:13] akutz commented on #1373
If the metadata file is specific to clusterctl, then why not call it clusterctl.yaml and have each provider supply the info (and possibly more) in that?

[2019-12-17 06:52] gyliu513 commented on #1897
Good to know, thanks @vincepri

[2019-12-17 06:52] #1897 closed

[2019-12-17 14:25] randomvariable commented on #1756
Just going to note some TODO's here unless someone's got a better idea:

- [ ] `conversion-webhook "msg"="failed to convert" "error"="cannot convert KubeadmConfigStatus's bootstrap data from Secret reference to inline field"`
- [ ] Support minimal kubeadmConfigSpecs (for Docker provider)

[2019-12-17 14:27] randomvariable commented on #1756
Updated WIP:
* @randomvariable - Control plane healthchecks (in concert with Docker provider for testing).

[2019-12-17 14:45] chuckha commented on #1884
/priority important-soon
/milestone v0.3.0

[2019-12-17 14:51] chuckha commented on #1895
/lifecycle active
/milestone v0.3.0

[2019-12-17 15:01] vincepri commented on #1775
@wfernandes Are you still working on this issue or can I take it?

[2019-12-17 15:12] #1895 closed

[2019-12-17 15:15] vincepri commented on #1895
@akutz Can you test again the import now that the linked PR has been merged?

[2019-12-17 16:23] timothysc opened #1910 "RFE: Post create apply thunk of YAML"
**User Story**

As a user/operator I would like to apply the same set CNI/StorageClasses/etc to a cluster after it has been created.

**Detailed Description**

Because this is such a common operation, I would like to use a simple facility that gives me a mechanism but doesn't force a change to the data model and would allow us to change over time if we find a better way.

One pattern we could use:

[2019-12-17 16:35] timothysc commented on #1910
/assign @fabriziopandini @akutz

[2019-12-17 16:36] vincepri commented on #1910
How about having a ConfigMap or Secret with files in it attached to a cluster?

[2019-12-17 16:38] akutz commented on #1910
Hey @timothysc, did you mean to assign me to this issue? Unless this is related to the no-op annotation I've socialized, I've not been involved in this conversation up till this point.

[2019-12-17 16:41] timothysc commented on #1910
I'm ok with a ConfigMap reference.

Consider yourself involved now ;-)

[2019-12-17 16:44] ncdc commented on #1910
Long term, I can see Cluster API having direct support (in the API) for the work the addons WG is doing.

[2019-12-17 16:45] timothysc commented on #1910
This is super generic, not necessarily addon specific.  It could be blanket thunk folks want to apply.

[2019-12-17 16:46] akutz commented on #1910
Any bad data could be rejected in an admissions webhook anyway.

[2019-12-17 17:18] akutz commented on #1910
Hi @timothysc / @vincepri / @ncdc / @fabriziopandini,

I spoke with a new member of my team, @sedefsavas, and she's interested in working on this. I think this may be a good first issue for an experienced engineer to become acquainted with CAPI and Kubernetes. Sedef and I walked through some psuedo-implementations of what this might look like:

[code]

I wanted to make sure everyone is fine with S

[2019-12-17 17:24] ncdc commented on #1910
👍

[2019-12-17 17:25] vincepri commented on #1910
The pseudo-code looks reasonable, few notes:

- Let's add a new field to `Cluster.Spec` instead of the annotation/label, something like `Cluster.Spec.AddonsSecretName`, which can be a simple string.
- The secret should be patched with a label back to the cluster, if it doesn't have it.
- The secret should be patched with an OwnerReference back to the cluster, if it doesn't have it.
- We need to de

[2019-12-17 17:27] akutz commented on #1910
Do we? If the resource has already been applied then it's a no-op. I'm fine with the apply occurring during each reconcile.

Sure, this was pseudo-code.

Also, was there a decision on using a secret? I don't know that one is required, and I almost think it's worth having different data sources for when data may be privileged enough to warrant a secret.

[2019-12-17 17:29] akutz commented on #1910
Should it? Delete semantics would catch it if this occurs, wouldn't they? Perhaps operators want the data object to be long-lived, beyond the lifetime of one or more `Cluster` resources? I'm thinking of cases where people seed the management server in advance and not want the data resource to be deleted if all `Cluster` resources that make use of it are also deleted.

[2019-12-17 17:31] vincepri commented on #1910
Either a Secret or a ConfigMap, either one is fine. Given the precedent with bootstrap data moving to a secret, I'd make this a secret as well given that folks might want to install sensitive data.

You can add more than one OwnerReference pointing to a Cluster, the trick here is that when doing pivoting we need to list all the resources mapped to a cluster. This wouldn't work with a single label,

[2019-12-17 17:33] akutz commented on #1910
If people are okay with updating the `ClusterSpec`, then I'd propose something like this:

[code]

[2019-12-17 17:34] timothysc commented on #1910
Addons is really overloaded, we may want to choose a different name.

[2019-12-17 17:35] akutz commented on #1910
This is because the very first iteration of the bootstrap data included certificate keys. If it wasn't for that, I doubt the change would have occurred.

That puts the onus on the operator to create an anchor owner ref for the original resource to keep the GC from removing the resource when all cluster resources are deleted.

FWIW, this approach is used heavily elsewhere and is more in-line with r

[2019-12-17 17:39] vijaykatam commented on #1910
My thinking is label approach makes the post config loosely coupled with cluster spec and the desired config can be realized by potentially controllers outside cluster-api if that is what we trying to introduce here.

[2019-12-17 17:40] akutz commented on #1910
Hi @vincepri / @timothysc,

I also want to keep Sedef from having to be **too** concerned with the more pedantic aspects of changes like this (at least for a first issue), so I hope no one minds if I try to guide her to a first iteration (WiP) PR and then let a lot of the discussion occur there.

[2019-12-17 17:41] vincepri commented on #1910
Controllers watching clusters should be able to do the same with a mapping function.

:+1:

[2019-12-17 17:41] akutz commented on #1910
Hi @vijaykatam,

That's fair, but it's also the case that it's easy to PoC this outside of CAPI as well, such as in an infra-provider or a new repo altogether. I've also wanted to use CAPI as the starting point for ideas that may have Kuberentes-wide appeal, but I've found it's not always the best place to do these proofs of concept because of the desire (and a correct one) to keep things tied to

[2019-12-17 17:55] akutz commented on #1910
/assign @sedefsavas

[2019-12-17 17:57] akutz commented on #1910
Hi @sedefsavas,

I forgot, I cannot assign you because you're not yet a member of the K8s or K8s SIG org. After time and contributions we'll be able to sponsor you. And by the way, contributions aren't limited to just code. It can mean community involvement, answering questions on Slack/in GitHub/mailing list. Or just moderating issues. There is a lot one can do to help support Kubernetes.

[2019-12-17 18:00] akutz commented on #1910
@timothysc, since you changed the title, I'm totally going to request the `Apply` method be called `ChunkAThunk` as in "chunk this thunk over and hope it lands" :)

[2019-12-17 18:24] akutz commented on #1910
@vincepri pinged me about whether to support a single or multiple data sources. Vince likes a single data source for simplicity's sake. I agree with the simplicity, but I'm also thinking of associated multiple, disparate services with a `Cluster`. Services that may be managed or owned by different sets of operators (people, not controllers). Imagine the following workflow:

1. Deploy management cl

[2019-12-17 18:32] ncdc commented on #1910
There is also a 1.5MB limit per item in etcd to keep in mind. +1 to multiple

[2019-12-17 18:34] vincepri commented on #1910
As mentioned, I'm fine with a list as long we deal with a single object type, this reduced the likelihood of issues down the line.

[2019-12-17 18:40] akutz commented on #1910
Thanks Vince. That’s why I used Secret in the most recent example. We could simplify that example then by making it a list of NamespacedName instead of an ObjectRef. The implied Kind would be Secret.

[2019-12-17 18:58] noamran commented on #1674
/unassign

[2019-12-17 18:59] vincepri commented on #1674
Can this be closed @ncdc ?

[2019-12-17 19:09] ncdc commented on #1674
Yes!
/close

[2019-12-17 19:09] #1674 closed

[2019-12-17 19:11] zjs commented on #1910
What behavior would be expected when a cluster is upgraded? (Does post-creation YAML get re-applied? Is there a separate post-upgrade YAML? Is there no ability to apply similar YAML after an upgrade?)

[2019-12-17 19:50] timothysc commented on #1910
I would expect not, b/c it's only applied post creation.  Async mgmt of policy(CNI, etc) doesn't not need to be tied to a cluster lifecycle events, and could be updated via a one-liner b/c.

[2019-12-17 20:22] timothysc commented on #1910
It's possible we might want to declare specific thunks to certain operations.

- creation
- upgrade

I think I'd call it `PostApply`

[2019-12-17 21:10] wfernandes commented on #1775
@vincepri I haven't started on this yet. I was hoping to get an e2e test merged in first (https://github.com/kubernetes-sigs/cluster-api/issues/1732#issuecomment-564666564). I'm almost about to create a PR for that and was going to start working on this by end of day today or tomorrow morning.

[2019-12-17 23:25] #1830 closed

[2019-12-18 15:01] chuckha opened #1921 "Wire up CAPD e2e"
**User Story**
As a developer I want to have more confidence that the changes I make don't break an existing provider.

**Detailed Description**
CAPD is used to run basic e2es on CAPI as a very simple provider. The provider does not (yet) exercise web hooks or certificate management, but it does run cert-manager as a service.

**Anything else you would like to add:**

We'd like to have:

1. A post

[2019-12-18 15:11] vincepri commented on #1890
Closing now that #1916 has merged

/close

[2019-12-18 15:13] detiber commented on #1890
I believe we still need this issue to track adding support to clusterctl v2 for the new "controlplane provider"

[2019-12-18 15:14] vincepri commented on #1890
Going by the issue description, seems it was only to address the solution related to the controlplane implementation, which has been done.

@fabriziopandini Do you want to keep using this one for clusterctl as well or open a new one?

[2019-12-18 17:15] chuckha commented on #1769
/unassign

I'm pretty sure this is fixed but haven't verified

[2019-12-18 17:23] vincepri commented on #1769
It's not but I have opened #1918 to fix it

[2019-12-18 17:23] vincepri commented on #1769
/assign
/lifecycle active

[2019-12-18 17:59] #1769 closed

[2019-12-18 18:11] adiastra opened #1926 "kubeadm init fails to recognize docker installed via snap"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

Installed docker using
snap install docker --classic

**What did you expect to happen:**
kubeadm to recognize that the docker service was installed and running

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

root@sbt-linux20191

[2019-12-18 18:12] adiastra commented on #1926
root@sbt-linux20191:~# snap services
Service         Startup  Current   Notes
docker.dockerd  enabled  active    -
kubelet.daemon  enabled  inactive  -
lxd.activate    enabled  inactive  -
lxd.daemon      enabled  inactive  socket-activated

[2019-12-18 18:12] adiastra commented on #1926
root@sbt-linux20191:~# which docker
/snap/bin/docker
root@sbt-linux20191:~#

[2019-12-18 18:21] vincepri commented on #1926
This issues seems like it should be reported upstream in kubeadm, given that Cluster API is mostly a user of kubeadm.

/priority awaiting-more-evidence

[2019-12-18 18:27] ncdc commented on #1882
Need to open individual issues in each provider (document how and/or automate creating the conformance artifacts)

[2019-12-18 19:38] vivgoyal opened #1930 "ExcludeNodeDrainingAnnotation contains io.io"
\bug
ExcludeNodeDrainingAnnotation = "machine.cluster.x-k8s.io.io/exclude-node-draining"
This annotation has repeated string io.io

[2019-12-18 20:18] ncdc commented on #1930
/kind bug
/help
/good-first-issue
/priority important-soon
/milestone v0.3.0

I'm not sure that we should adjust the constant in v1alpha2, but we definitely should fix it in v1alpha3.

[2019-12-18 20:49] #1908 closed

[2019-12-18 20:56] joonas commented on #1714
/assign @figo
/unassign @detiber @akutz

[2019-12-18 21:35] vivgoyal commented on #1930
Its doesnt harm anyone so its fine to keep as is in v1alpha2 but good to fix in v1alpha3

[2019-12-18 21:45] vincepri commented on #1930
Need to migrate during conversion as well, don't we?

[2019-12-18 23:13] wfernandes commented on #1775
/lifecycle active

[2019-12-19 14:37] prankul88 commented on #1930
/assign

[2019-12-19 14:42] chuckha opened #1934 "e2e bug when capi image is not present locally"
**What steps did you take and what happened:**
I added a feature to load a local image of CAPI into my kind cluster to test local capi changes, but I didn't account for the case when the image does not exist. The behavior I want is that if the image is not local then skip the loading process.

/kind bug
/lifecycle active
/milestone v0.3.0

[2019-12-19 14:51] prankul88 commented on #1930
@vincepri Can you please elaborate?

[2019-12-19 14:54] vincepri commented on #1930
We have conversion webhooks in place, you can find them under `api/v1alpha3/<type>_webhook.go`. When we perform v1a2<->v1a3 conversions, we need to convert the annotation in the old/new format.

[2019-12-19 14:56] detiber commented on #1930
The conversion webhooks are under `api/v1alpha2/<type>_webhook.go`, the defaulting and validation webhooks are under `api/v1alpha3/<type>_webhook.go`.

[2019-12-19 14:59] vincepri commented on #1930
What Jason said :)

[2019-12-19 14:59] vincepri commented on #1930
The conversions are actually hosted here https://github.com/kubernetes-sigs/cluster-api/blob/master/api/v1alpha2/conversion.go

[2019-12-19 15:11] #1934 closed

[2019-12-19 15:22] chuckha commented on #1770
/assign
/active

[2019-12-19 20:39] chuckha opened #1941 "Mark kubeadm fields optional & omitempty + document defaults if kubeadm defaults the fields"
**User Story**
We can make the Kubeadm types a little nicer to use by allowing empty values where kubeadm will fill in default values. See #1939 for an example.

To close this issue we should audit all the fields of Kubeadm config files to see which are defaulted and which are not.

**Detailed Description**
/kind feature

/priority important-longterm
/milestone Next

[2019-12-19 20:45] #1770 closed

[2019-12-19 23:21] #1686 closed

[2019-12-20 00:33] figo commented on #1714
@detiber @akutz Ansible don't come with support of systemd "After/Want/Wantedby".
[code]

Although the systemd containerd.service file comes from containerd tar file, we could replace it with our own version and add new rules to it.
[code]

The drawback is: this systemd service configure file suppose to be updated by containerd release, it soon becomes obsolete once we have our own version.

[2019-12-20 00:40] akutz commented on #1714
You don’t need to do that @figo. Just use Ansible to write a drop in file for containerd. A drop in can add/replace settings from an existing systemd unit file. Read more at https://www.freedesktop.org/software/systemd/man/systemd.unit.html and https://wiki.archlinux.org/index.php/systemd#Drop-in_files.

[2019-12-20 14:27] akutz commented on #1714
Hi @figo,

Based on the conversation in #112, I wanted to revise the drop-in example from above. We should have two drop-ins:

<table>
<thead><tr><th>File</th><th>Description</th><th>Contents</th></tr></thead>
<tbody>
<tr><td><code>/etc/systemd/system/containerd.d/cloudinit.conf</code ></td><td>Configures containerd to start after <code>cloud-config.service</code> and before <code>cloud-final.serv

[2019-12-20 16:59] Lokicity opened #1943 "Labels should be propagated from MachineDeployment/set to infrastructure provider"
**User Story**
Right now, when adding labels to MachineDeployment, it only propagate to the Machine object but not the AWSMachine. This makes using label selection on AWSMachine difficult.

**Detailed Description**
When label MachineDeployment, AWSMachine created as part of the MachineDeployment be labeled as well

**Anything else you would like to add:**
Talked to @aaroniscode and @vincepri, this

[2019-12-20 17:06] vincepri commented on #1943
/priority important-soon

[2019-12-20 17:10] detiber commented on #1943
My testing PR has a change that allows for setting owner refs when cloning templates.

[2019-12-20 17:54] wfernandes commented on #1775
/remove-lifecycle active

@vincepri I started working on this but I don't think I'll be able to get this done by next week as I'll be taking some time off until next year. I also noticed that we have a `MachinePool` type but I haven't looked into if it references InfraMachineTemplates but that might something we need to add as an owner ref to the InfraMachineTemplate.

This issue is all yours to w

[2019-12-20 17:57] vincepri opened #1945 "MachineSet shouldn't use update as a fallback for Status.Replicas"
Once the support for CRDv1 lands in Cluster API, we should default MachineSet.Status.Replica field to "0" and remove the fallback to Status().Update() from the MachineSet controller.

/kind cleanup
/assign
/milestone v0.3.0
/priority important-longterm

[2019-12-20 17:59] vincepri commented on #1775
/lifecycle active

[2019-12-20 18:12] ncdc commented on #1554
@chuckha were you ever able to make any more progress on this?

[2019-12-20 18:13] ncdc commented on #1559
@avorima are you still interested in working on this?

[2019-12-20 18:22] ncdc commented on #1566
I think there are a few different scenarios here:

1. Cluster infraRef points to a Kind (CRD) that does not exist
1. Cluster infraRef points to a resource that does not exist (CRD is there, but specific instance is not)
1. Cluster reconciler encounters some sort of other error (permissions, downtime, whatever) when trying to retrieve the infrastructure resource
1. Cluster reconciler can't proceed