[2020-02-14 17:59] vladimirvivien opened #2341 "Unable to provision inception cluster following Quick-Start guide"
**What steps did you take and what happened:**
* Attempted to bring up a cluster using the Docker CAPI provider as documented here https://master.cluster-api.sigs.k8s.io/user/quick-start.html.
* I eventually got to the step where I was creating a single-node inception cluster here https://master.cluster-api.sigs.k8s.io/user/quick-start.html#usage.  The machine never got created and got stuck:
[cod

[2020-02-14 18:13] sedefsavas commented on #2328
Currently, CAPI uses Go flags and feature-gate is implemented using pflags in k/k.
For the sake of consistency, I am thinking to using pflags for adding feature gate and then in a separate issue, porting other flags to pflags slowly.
How does this sound?

[2020-02-14 19:06] vincepri commented on #2328
Are they compatible with each other? I think we can easily switch to `pflags` as part of this effort, wdyt?

[2020-02-14 19:22] sedefsavas commented on #2328
Yes I agree. I think porting will be easy. I will put out a PR first to move existing flags to pflags.

[2020-02-14 20:35] vincepri commented on #2328
Sounds good! We should also open an issue to do the same for infrastructure providers and add a note to this document https://master.cluster-api.sigs.k8s.io/developer/providers/v1alpha2-to-v1alpha3.html stating that this is an optional change.

[2020-02-14 21:07] dpandhi-git commented on #2340
/assign dpandhi

[2020-02-14 21:08] dpandhi-git commented on #2340
/assign dpandhi-git

[2020-02-14 21:30] vincepri commented on #2339
/milestone Next

[2020-02-14 21:51] #1984 closed

[2020-02-14 22:43] vincepri commented on #2331
/help
/milestone v0.3.0
/priority backlog

[2020-02-14 23:03] #2241 closed

[2020-02-14 23:33] #2140 closed

[2020-02-15 09:23] SataQiu commented on #2331
/cc

[2020-02-16 12:06] harshit98 commented on #2302
Hi, can I take up this issue?

[2020-02-16 14:05] maelk opened #2346 "Missing apiextensions in scheme"
**What steps did you take and what happened:**
With the latest commit https://github.com/kubernetes-sigs/cluster-api/commit/9ad583ba61e042c3d481ba7bde612b4fd5f83e96 , when running CAPI with CABPK and CAPBM (updated following the guidelines in the v1alpha3 migration document), the listing of CustomResourceDefinition fails :

`E0216 13:06:06.943262       1 controller.go:258] controller-runtime/contr

[2020-02-16 16:51] luniHw commented on #1740
Issue:
Used capv 0.4.2 and centos-7-kube-v1.15.6 to create centos k8s cluster on nimbus env, it failed to assign static ip, a dynamical ip is assigned to vm. (Nimbus env,  some ips are dhcp, some ips are static ips)

Help:
I need to upgrade capv the version or do others? thanks

[2020-02-16 16:57] #2346 closed

[2020-02-16 17:15] #2340 closed

[2020-02-16 22:51] MnrGreg commented on #1740
@luniHw static IP assignment in CAPV is fixed with: https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/707 but there hasn't been a CAPV release since.

@yastij any idea on timing for the next release?

[2020-02-17 08:33] frapposelli commented on #2339
Big +1 on this, having defaults, conditionals and loops available will make templates a much better experience.

Also, rendering the template server-side will make it easier to adopt from other programming languages, as currently the clusterctl client library is only available in go.

[2020-02-17 12:26] randomvariable commented on #2283
/lifecycle active

[2020-02-17 18:16] johnharris85 opened #2350 "Tilt workflow broken"
**What steps did you take and what happened:**
When running `tilt up` against the master branches for CAPI (7eead355bcbc36aa1625ecfde617dfc1f8133c31) & CAPA (19dd80de9d26b40b50a42c02d96c16cc4016e2c4) I get the following error:

[code]

**What did you expect to happen:**
Working Tilt workflow

**Anything else you would like to add:**
Looks like it was caused with https://github.com/kubernetes-sigs/

[2020-02-17 21:38] elmiko commented on #1774
/assign
/lifecycle active

[2020-02-17 23:03] vincepri commented on #2350
This is a known issue, unfortunately we need the kustomize webhook changes to the providers https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1572

[2020-02-17 23:03] vincepri commented on #2350
This is a known issue, unfortunately we need the kustomize webhook changes to the providers https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1572

[2020-02-18 08:30] SataQiu commented on #2310
/assign

[2020-02-18 10:22] prankul88 commented on #2341
@vladimirvivien Hi, that's probably due to the fact that the [#usage](https://master.cluster-api.sigs.k8s.io/user/quick-start.html#usage) section has objects corresponding to v1Alpha3 and the management cluster runs v1Alpha2 controllers.

The book for master has not been updated for v1Alpha3 controllers. I too got confused earlier #2028

[2020-02-18 10:25] prankul88 commented on #2341
@vladimirvivien I see that [Management cluster setup](https://master.cluster-api.sigs.k8s.io/user/quick-start.html#setup-management-cluster) guide has been updated to v1Alpha3. You can probably check now. Thanks

[2020-02-18 13:43] maelk opened #2356 "Add CAPBM to infrastructure provider list in clusterctl"
**User Story**

As a user, I would like to use clusterctl (v1alpha3) with the [baremetal provider](https://github.com/metal3-io/cluster-api-provider-baremetal)

**Detailed Description**
I would like to add the baremetal provider in the pre-defined list of providers of clusterctl.

/kind feature

[2020-02-18 14:07] #2268 closed

[2020-02-18 15:07] #2310 closed

[2020-02-18 15:42] vincepri commented on #2304
/milestone v0.3.0
/assign @chuckha @Danil-Grigorev

[2020-02-18 16:08] Danil-Grigorev commented on #2304
/assign @chuckha @Danil-Grigorev

[2020-02-18 16:41] #1774 closed

[2020-02-18 17:18] vladimirvivien commented on #2341
@prankul88 thanks.

[2020-02-18 17:29] timothysc commented on #2339
So our current user experience could use some work, I'll try to update the ask to outline in more detail the workflow I'm thinking about.

[2020-02-18 17:31] ncdc commented on #2339
@frapposelli if you're looking for server-side rendering, it's possible, but because we're CRD-based, it would end up being a request/response pattern and not a blocking call.

[2020-02-18 17:49] sedefsavas commented on #2328
I have used "cmd/kubeadm/app/features/features.go" wrapper library of "k8s.io/component-base/featuregate" for this feature.

For the exp directory, keeping features in their own directory may help features to be more isolated from each other:
exp
 |____ feature
                |_____api
                |_____config
                |_____controllers
So, I didn't add /exp directory to this PR for no

[2020-02-18 18:23] vincepri commented on #2328
@sedefsavas I'm not sure if we should split the features into folders, I'd rather have them under one folder and enable/disable the controllers with the feature flags.

We also might want to consider adding the experimental APIs to CAPI's config/ folder, this will reduce the need of another component manifest to be published.

[2020-02-18 18:36] detiber commented on #2328
@vincepri I would not expect experimental APIs to be available or enabled by default.

[2020-02-18 18:39] vincepri commented on #2328
I'm not suggesting the features to be enabled by default, rather just the CRDs included in the cluster-api-components.yaml file. In alternative, we can ship the experimental features separately, but that complicates releases, deployments, and maintenance.

[2020-02-18 19:58] rudoi opened #2363 "bootstrap.DataSecretName isn't reconciled if bootstrap.Data is set"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
- apply v1alpha3 yaml to v1alpha2 cluster
- machines generally look okay
- CAPA controller upset because `dataSecretName` is not being set, so it's continuously reconciling AWSMachines, etc

**What did you expect to happen:**
1. CABPK controller converts all bootstrapDatas to secrets (this

[2020-02-18 20:07] vincepri commented on #2363
/milestone v0.3.0-rc.1

[2020-02-18 20:08] vincepri commented on #2363
looking into this

[2020-02-18 21:33] alexander-demichev commented on #2231
/lifecycle active

[2020-02-18 22:31] benmoss commented on #2217
I don't think this is a CAPI issue, I think this is just with CAPV. On AWS the hostnames are not specified in the cloud-init metadata

[2020-02-18 23:02] vincepri opened #2364 "Forward port #2362 to master / fix documentation"
We need a forward-port to master of https://github.com/kubernetes-sigs/cluster-api/pull/2362/files which fixes an issue with pre-releases.

We'll also need to fix the `releaselink` directives in mdbook files to include prereleases, until we cut `v0.3.0`.

/priority important-longterm
/milestone v0.3.0
/help

[2020-02-19 09:56] SataQiu commented on #2364
/assign

[2020-02-19 11:49] enxebre opened #2369 "machineAutoscaler CRD"
***Goals***
1. Provide operators with an opt in mechanism for scalable resources i.e machineSet/machineDeployment to be considered for autoscaling.

***Non-Goals/Future Work***
1. Discuss cluster-api autoscaler provider logic.

**User Story**

1. As a user I want my cluster to be cost effective so I need my node groups to grow and shrink automatically according to the existing workload at anytime.

[2020-02-19 11:50] enxebre commented on #2369
cc @elmiko @ncdc @detiber

[2020-02-19 11:51] randomvariable commented on #2369
Subscribing to this

[2020-02-19 13:03] maelk opened #2370 "Clusterctl: Object status lost during move"
In the move command, clusterctl only uses the "create" operation, hence the current status of the object moved is lost. I guess this is by design because a new reconciliation will recreate those statuses. However, in CAPBM, we have some objects where we cannot loose the status.

Our BareMetalHost holds some information in the status fields that reflect the content of the Ironic database (baremetal

[2020-02-19 13:07] detiber commented on #2370
It's not just the create operation. It's a side effect of defining the status subresource for a CRD, any create or update does not effect Status, Status required a separate update.

The upstream API guidelines also state that Status should be recreatable.

Anything that needs to persist for any type of move or backup/restore operation really should not be in Status.

[2020-02-19 13:32] maelk commented on #2370
ok, thank you for the clarification, we should then modify our objects.

[2020-02-19 13:32] #2370 closed

[2020-02-19 17:23] vincepri opened #2372 "Code freeze policies w/ releases"
We should document a timing policy for code freeze. Often times during a cycle we find ourself adding more changes than previously discussed. Let's try and find guidelines that makes sense with our development processes.

/kind documentation

[2020-02-19 18:22] #2304 closed

[2020-02-19 18:24] vincepri commented on #2369
/milestone Next

[2020-02-19 18:42] #2356 closed

[2020-02-19 19:12] #2332 closed

[2020-02-19 21:35] #2363 closed

[2020-02-19 22:23] sethp-nr commented on #2214
We've got a proof of concept working for machine adoption over here: https://github.com/newrelic-forks/cluster-api/commit/793167850e2ed6d5a5c5d82a646b5ab86a5a941e

Currently our thinking is for the controller to compute the hash of a Machine as it's adopted, and then let the rest of the reconciliation happen as appropriate. That has the effect of leaving the control plane in its current state if t

[2020-02-20 00:03] #2328 closed

[2020-02-20 14:40] jessehu opened #2387 "[Doc] The deprecation notice of clusterctl in v1alhpa2 doc is out of date"
**What steps did you take and what happened:**
CAPI v1alpha2 doc https://cluster-api.sigs.k8s.io/tooling/clusterctl.html says
`This utility has been deprecated in v1alpha2 and will be removed in a future version. `
and https://master.cluster-api.sigs.k8s.io/clusterctl/overview.html (should be the v1alpha3 doc) still provides an updated clusterctl.

Per @detiber's feedback on https://kubernetes.sla

[2020-02-20 15:05] vincepri commented on #2387
/milestone v0.2.x

[2020-02-20 15:05] vincepri commented on #2387
/kind cleanup
/priority important-longterm
/help
/good-first-issue

[2020-02-20 15:11] jessehu commented on #2387
@vincepri Shall we remove the deprecation notice?

[2020-02-20 15:13] vincepri commented on #2387
We should either remove it, or replace it with a link to the upcoming changes, if the docs are ready, or the proposal.

[2020-02-20 15:16] jessehu commented on #2387
Maybe we can remove the notice and add a section in the v1alpha3 doc (https://master.cluster-api.sigs.k8s.io/clusterctl/overview.html) to highlight the clusterctl command line change from v1alpha2.

[2020-02-20 15:27] vincepri commented on #2387
I'd rather not link to the master branch, because that might change at any given point. Although there is no release branch today that we can link to 🤔

[2020-02-20 15:40] vincepri opened #2389 "Homebrew formula for clusterctl"
Clusterctl can live on its own. To ease adoption, we can publish a formula to Homebrew with each release, the process should be as automated as possible.

See https://github.com/kubernetes-sigs/kind/issues/88 for examples.

/kind feature
/milestone Next
/priority backlog
/help

[2020-02-20 15:43] detiber commented on #2389
If this would require credentials to be managed for an account for publishing, I'm not sure how much `help wanted` applies to this issue.

[2020-02-20 15:59] detiber commented on #2387
It might be better to link to the proposal for now, and then possibly publish a new version with an updated link once we have a release

[2020-02-20 16:52] chuckha commented on #2372
If we take cues from the latest [Kubernetes release](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.18), enhancements freeze (must have a proposal in implementable state, must have an open issue in the milestone) is 7 weeks before release followed by code freeze (no more additions to code; only release blocking issues get merged) 3 weeks before release.

We could probably

[2020-02-20 17:35] chuckha commented on #2214
Nice, this is great work!

+1, with the upgrade PR this definitely seems like a simple solution. Would require some docs since it could be a somewhat disruptive operation. This did get me thinking, if our KCP defines a version > 1 minor version ahead of what version the machines are using, this could get weird since k8s requires upgrading through each minor version.

[2020-02-20 17:58] randomvariable commented on #2389
Is krew a more suitable option? Has the advantage of better cross-platformability.

[2020-02-20 18:11] detiber commented on #2389
If we are willing to refactor into a kubectl plugin, I think so

[2020-02-20 18:46] detiber commented on #2214
We can always add something in the validation webhook to validate the upgrade version limitations.

Will look through in more depth when I can access from a computer and not just my phone

[2020-02-20 18:55] detiber commented on #2372
My take is:
- move away from date based releases
- set a date for feature freeze
- based on features desired for next release by feature freeze, set a tentative code complete date.
- once all features are in (or bumped) cut an rc release, keep churning on rc release until blocking bugs are 0
- only accept bugfixes until release is cut

Work to set next feature freeze and future proposals can go on

[2020-02-20 19:24] sethp-nr commented on #2214
Oh, yeah, a validating webhook / adoption-time check to ensure the version changes are reasonable is a super good call. The other thing our steel thread doesn't do yet is make sure that the Machines it's claiming ownership over are actually Kubeadm bootstrapped.

I'll address those two issues once I've got a few test runs under my belt – I'd like to see it work once :)

[2020-02-20 20:02] detiber opened #2391 "Ensure we have a cohesive and well documented contact page for the project"
This issue is mostly a tracking issue to remind myself to go back and ensure that we have an easy to point to page in the docs that is an up to date canonical resource for how users and contributors can contact the project through various channels

/assign
/priority important-soon
/milestone v0.3.0
/kind documentation

[2020-02-20 20:05] vincepri commented on #2391
I've pointing to https://master.cluster-api.sigs.k8s.io/#community-discussion-contribution-and-support

[2020-02-20 20:07] detiber commented on #2391
Thanks, at a quick glance it looks like it's missing a few things:
- mailing list (other than mentioned for group membership for docs)
- discuss

and we should probably have more expedient access to pointers towards contact info for the sig-sponsored providers.

[2020-02-20 20:07] vincepri commented on #2391
/help

[2020-02-20 20:08] vincepri commented on #2391
I'm not sure about others but it seems to me that discuss isn't really used for Cluster API, other than that, +1 making it easier to get in touch

[2020-02-20 20:11] detiber commented on #2391
If it wasn't for google groups not being available in China, and needing an alternative for asynchronous communication I would agree with you.

[2020-02-20 20:11] vincepri commented on #1727
/help

[2020-02-20 21:37] detiber opened #2393 "KubeadmControlPlane - When removing an etcd member, proxy through a node other than the one being modified"
**Detailed Description**

After #2382 is merged, we need to improve the handling of etcd membership removal to be more robust by proxying through a Machine/Node other than the one that is having it's membership removed. This will prevent potential issues with loss of connection during the process.

/kind feature
/milestone v0.3.0
/priority important-soon

[2020-02-20 21:37] vincepri commented on #2393
/help

[2020-02-21 08:03] prksu commented on #2393
@vincepri interested work on this

[2020-02-21 08:07] sedefsavas opened #2395 "RFE: Adding a new CRD for post-cluster-creation-apply YAMLs"
***Goals***
To enable having a mechanism to automatically apply a set of yamls post-cluster-creation, we need a CRD to hold the list of yamls and to keep track of which clusters those yams are applied to. This is a follow-up enhancement to achieve this issue: https://github.com/kubernetes-sigs/cluster-api/issues/1910

**User Story**
As a user/operator, I would like to determine a set of yamls (e.g

[2020-02-21 09:48] randomvariable commented on #2393
@prksu sounds good. just ping a `/lifecycle active` message on this issue if you start.

[2020-02-21 10:26] randomvariable commented on #2391
Review SECURITY_CONTACTS as well

[2020-02-21 11:53] randomvariable opened #2396 "Minimum kindest node image required for CRDv1"
kind needs to create clusters with at least k8s v1.16 for v1alpha3 CRDs to be supported

/kind bug
/lifecycle active
/assign

[2020-02-21 12:40] #2396 closed

[2020-02-21 14:46] randomvariable opened #2398 "KCP: ensure machine that is being deleted during upgrades or scale down isn't the etcd leader"
**Detailed Description**

For correctness, the control plane controller should ensure etcd leadership is on a machine that isn't about to be deleted. Two optimisations are possible:

* Where there are at least two candidates for deletion, pick the machine which is not etcd leader
* Where there is only one candidate, move the etcd leadership to a different machine.

/kind feature
/help

[2020-02-21 14:50] detiber commented on #2398
I would argue that we should probably always handle this by moving the leadership, otherwise we risk causing conflicts with the failure domain handling.

[2020-02-21 16:14] vincepri commented on #2398
In terms of milestone, when do we want to tackle this?

[2020-02-21 16:41] detiber commented on #2398
I think we still want to attempt to get this in prior to v0.3.0.
/milestone v0.3.0

[2020-02-21 16:42] vincepri commented on #2398
/priority important-soon

[2020-02-21 17:09] fabriziopandini commented on #2339
Some initial considerations:
There are concerns that are common across templating engines:
- where the templating engine should be executed, and the related security model
- how templates are packaged and distributed (assuming that we want to leverage modularity)
- what is the interface between the template engine and clusterctl

The last point is where template engines are generally not adequate,

[2020-02-21 18:11] wfernandes commented on #2171
Another ask would be display if possible the contract version supported by the providers.
For example, if I try and install the following and run into this error.
[code]

And then if I check the current/latest release, all I see is `v0.4.9` which doesn't give me much insight. I would have to go to the release, download the `infrastructure-components.yaml` and then inspect it to confirm.
[code]

[2020-02-21 19:08] #2302 closed

[2020-02-21 19:21] vincepri commented on #2339
Let's move the discussion to a proposal google doc, we can do a POC using `FeatureGates` in CAPI as `v0.3.0-rc.1`

/kind proposal

[2020-02-21 21:52] ncdc commented on #2393
Something to consider, that we did in the upgrade tool: we initially tried to pick a pod other than the one from the node being removed, but switched to trying all etcd pods, returning with the first successful response. Maybe we'd want to do both - try all pods except the one being removed? (https://github.com/vmware/cluster-api-upgrade-tool/blob/b5279e9c63b537a9559165881883b7ddb1c3aceb/pkg/upgra

[2020-02-21 22:28] wfernandes opened #2401 "clusterctl delete doesn't delete provider webhook component"
**What steps did you take and what happened:**
1. Use `clusterctl init --infrastructure aws` to install provider components
1. Use `clusterctl delete --infrastructure aws`.
 I noticed `capi-webhook-system/capa-controller-manager` is still around.

**What did you expect to happen:**
I expected it to get deleted.

**Anything else you would like to add:**
If I do `clusterctl delete --infrastructure a

[2020-02-22 01:36] outofmem0ry opened #2402 "Installing infrastructure provider errors out with namespaces "capv-system" already exists"
**What steps did you take and what happened:**
In the quick start guide, while [installing infrastructure provider](https://cluster-api.sigs.k8s.io/user/quick-start.html#install-infrastructure-provider) for vSphere, the YAML snippet, in the guide creates `capv-system` namespace. In the next step, `kubectl create -f https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/releases/download/v

[2020-02-22 02:57] outofmem0ry opened #2403 "Creating control plane machine following the quick start guide fails with "failed to retrieve kubeconfig secret""
**What steps did you take and what happened:**
After following the instructions in the quick start guide and using the `Machine` object definition defined under the [usage](https://cluster-api.sigs.k8s.io/user/quick-start.html#usage) section for vSphere the VM is created successfully but the <cluster>-kubeconfig secret is not created. On further troubleshooting, the `capi-controller-manager` logs

[2020-02-22 19:57] fabriziopandini opened #2404 "[clusterctl] Provide control over local override features"
**User Story**

As a developer, I would like to run clusterctl tests in isolation (without local overrides interfering on the test)

**Detailed Description**

Clusterctk supports local overrides and this feature proved super useful fo far.
However, local overrides can interfere with e2e test running on a developer machine.

**Anything else you would like to add:**

I see two options:
- use a well

[2020-02-23 03:32] juan-lee opened #2405 "MachinePool should be a valid bootstrap config owner"
**What steps did you take and what happened:**
A MachinePool's KubeadmConfig will never reach a ready state because MachinePool isn't recognized as a valid ConfigOwner.

**What did you expect to happen:**
MachinePool should be a valid ConfigOwner for the kubeadm bootstrap provider.

**Anything else you would like to add:**
NA

**Environment:**

- Cluster-api version: v0.3.0-rc.1
- Minikube/KIND ve

[2020-02-24 05:47] vincepri commented on #2401
/priority important-soon
/milestone v0.3.0-rc.2

[2020-02-24 11:53] maelk opened #2408 "Kubeadm control plane controller logs filled with timeout error"
**What steps did you take and what happened:**
When deployed with CAPBM, no external load-balancer is created by the infrastructure provider. When KubeadmControlplane controller creates the first machine, it is unable to create the client towards the target cluster and fails with
[code]
The controller is expecting a 404, if the load-balancer is set-up. But it is not expecting a timeout when the co

[2020-02-24 11:56] maelk commented on #2408
Would adding a field to configure whether the controller expects a timeout or not be an ok solution ? I can implement it if so. Otherwise, would there be another solution, that does not require managing a very short-lived load-balancer until the first control-plane node is ready ?

[2020-02-24 14:37] randomvariable opened #2410 "Provide a yaml output format for clusterctl config repositories"
**User Story**

As a operator I want to quickly see what `$HOME/.cluster-api/clusterctl.yaml` looks like after running
`clusterctl config cluster --help`

**Detailed Description**

Add a way, and surface via the help information the way to see the embedded clusterctl.yaml so an operator can see the format and override it if they want.

**Anything else you would like to add:**

[Miscellaneous infor

[2020-02-24 14:43] detiber commented on #2408
I added some comments to the PR you created. If we can address those, I think adding a check for the timeout error is fine. One thing to keep in mind, though is that a stable endpoint will be required, so if the migration to the self-hosted load balancer would change that endpoint, then it would introduce additional issues during the lifecycle of the control plane.

[2020-02-24 14:47] detiber commented on #2408
/priority important-soon
/assign @maelk

[2020-02-24 14:47] detiber commented on #2408
/lifecycle active

[2020-02-24 14:53] detiber commented on #2405
/priority important-soon
/assign @juan-lee
/lifecycle active

[2020-02-24 15:42] ncdc commented on #2403
Are you testing with v1alpha2 or v1alpha3 (master)?

[2020-02-24 15:50] randomvariable commented on #2410
Via Slack https://kubernetes.slack.com/archives/C8TSNPY4T/p1582554891002400, the functionality is there in `clusterctl config repositories`, need to cross-reference in the help and also provide an `-o yaml` type command

[2020-02-24 16:12] outofmem0ry commented on #2403
@ncdc this is v1alpha2 as per the [quick start guide](https://cluster-api.sigs.k8s.io/user/quick-start.html).

[2020-02-24 16:13] ncdc commented on #2403
Ok, the reason I was asking is because your PR is fixing master, which is for v1alpha3.

Things should be working without this change. Maybe you could post logs from all your controllers?

[2020-02-24 16:14] vincepri commented on #2410
/help
/milestone Next
/priority important-longterm

[2020-02-24 16:19] outofmem0ry commented on #2403
Ah, I missed the v1alpha3 is pointing to the master part. I can share the logs as this issue is easily reproducible in the environment I'm working on. Adding the namespace fixes it.

[2020-02-24 16:49] JoelSpeed opened #2412 "Watching node in remote clusters should use a cache"
**Note: this is only applicable once #2250 is merged**

Watching of nodes in remote clusters was introduced as part of the Machine Health Checking work in #2250.

Currently it uses [individual node informers](https://github.com/kubernetes-sigs/cluster-api/blob/79cf0941adbed5f92d9f2829a428162f9bc6dc25/controllers/machinehealthcheck_controller.go#L367-L370) from client-go to subscribe to events for

[2020-02-24 16:50] outofmem0ry commented on #2403
Log files + cluster and machine yaml [capi-issue-2403.zip](https://github.com/kubernetes-sigs/cluster-api/files/4245694/capi-issue-2403.zip)

**Log files**

[code]

**Machine provisioned successfully**

[code]

**kubeconfig secret not generated**

[code]

**KubeadmConfig object is present**

[code]

[2020-02-24 16:51] JoelSpeed commented on #2412
I've already [had a go](https://github.com/JoelSpeed/cluster-api/commit/de15e89a7c587d165d8a82b2ad7ce04cdddb8034) at this, which I can add as a WIP PR once #2250 is merged.

I need to test it on a real cluster though

[2020-02-24 16:54] enxebre commented on #2369
/assign @enxebre

[2020-02-24 16:56] enxebre commented on #1876
/assign @JoelSpeed

[2020-02-24 17:14] JoelSpeed opened #2414 "Create shared package for watching Nodes in remote Clusters"
**Note: this is only applicable once #2250 is merged**

***Goals***
1. Make it easy for controller developers within the CAPI space to react to events on Node objects in target clusters
2. Provide a common way of watching Node objects within remote clusters

***Non-Goals/Future Work***
1. Implement remote watching of Nodes in all controllers

**User Story**

As a developer I would like the control

[2020-02-24 17:25] enxebre opened #2415 "machineSets missing useful printcolumns"
**What steps did you take and what happened:**
kubectl get machinsets

**What did you expect to happen:**
Show useful columns just as we do for machineDeployments https://github.com/kubernetes-sigs/cluster-api/blob/master/api/v1alpha3/machinedeployment_types.go#L247-L250

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

[2020-02-24 17:25] enxebre commented on #2415
/assign @alexander-demichev

[2020-02-24 17:46] ncdc commented on #2403
OK, here is what I believe is happening:

This is a temporary "error" that is logged because the KubeadmConfig is not in the controller's cache for a period of time. It eventually goes away. Safe to ignore.

"error"="failed to retrieve kubeconfig secret for Cluster \"capi-quickstart\" in namespace \"default\": Secret
 \"capi-quickstart-kubeconfig\" not found"  "controller"="machine" "request"=
{"N

[2020-02-24 18:23] outofmem0ry commented on #2403
Thanks for the detailed explanation. IIRC, I've waited for more than an hour when this happened the last time but I have kicked off another test just to make sure I waited long enough 😄 . Also, as I mentioned earlier adding a namespace to the YAML(as per the PR) immediately creates the secret, wondering what could be different in that case 🤔

[2020-02-24 18:26] ncdc commented on #2403
Most, if not all, of our controllers resync every 10 minutes, so if it takes more than ~15 minutes and you aren't seeing action, you can assume something's broken (so you don't have to wait an hour).

When you have the namespace in there, you're doing the same workflow, right? You're not creating everything, then adding the namespace after & doing another `kubectl apply`?

[2020-02-24 18:28] ncdc commented on #2403
FYI here's the code the does nothing until cluster.status.apiEndpoints is filled in: https://github.com/kubernetes-sigs/cluster-api/blob/fd95764184347e36c296a43df0b3cd740cb50947/controllers/cluster_controller_phases.go#L179-L199

If you want to collect two sets of logs - 1 without namespace, 1 with - maybe something will stand out.

[2020-02-24 18:48] prkalle opened #2416 "Unable to create worker node, kubeadm bootstrapping failed"
**What steps did you take and what happened:**
Trying to create a vsphere cluster using the bootstrap cluster(kind) but worker node creation fails during bootstrap.
I am encountering this issue very frequently. Below are the steps I followed to create cluster
1) Bootstrap cluster(kind) cluster was up and running
2) tried to create a vsphere cluster with one control plane node and one worker node.

[2020-02-24 18:49] outofmem0ry commented on #2403
Yes, it's the same workflow. I have two sets of `machine.yaml` one with namespace and one without. So the flow looks like

[code]
Also, the other test I kicked off has now been in the same state for `>15` minutes

[code]
I will attach the logs where the secret generation is successful with the namespace.

[2020-02-24 18:49] vincepri commented on #2416
@prkalle would you be able to test with RC1?

[2020-02-24 18:50] vincepri commented on #2416
/priority awaiting-more-evidence
/cc @yastij

[2020-02-24 18:51] ncdc commented on #2403
Ok for the one that's hanging, can you `kubectl describe` AND `kubectl get ... -o json` the cluster, machine, kubeadmconfig, vspherecluster, and vspheremachine?

[2020-02-24 18:52] #2408 closed

[2020-02-24 19:29] outofmem0ry commented on #2403
Here are all the artifacts for both with and without the namespace
[without_namespace.zip](https://github.com/kubernetes-sigs/cluster-api/files/4246402/without_namespace.zip)
[with_namespace.zip](https://github.com/kubernetes-sigs/cluster-api/files/4246403/with_namespace.zip)

Here is the steps I follow and the diff between the YAML. This shows that the `capi-quickstart-kubeconfig ` secret is crea

[2020-02-24 19:37] ncdc commented on #2403
Do you have the cluster json & describe?

[2020-02-24 19:42] ncdc commented on #2403
Ok, this is a code issue in CAPV:

https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/6b3cbc7b603ac0e79a7384106d8390329580eac8/pkg/util/kubeadm.go#L43

That really should be `machine.Namespace`. That is why adding namespace to machine.spec.bootstrap.configRef fixes the problem. @detiber @yastij @randomvariable do you want to fix this in CAPV?

[2020-02-24 19:49] outofmem0ry commented on #2403
Good to know. I can take a stab at fixing this in CAPV if that is alright. I can create an issue there and continue this discussion as I would like to understand the difference as well. In the meanwhile does temporarily fixing the docs with PR #2407 sounds good?

[2020-02-24 19:55] ncdc commented on #2403
I’d rather not, as that makes it so the QuickStart only works in the default namespace. Let’s fix CAPV to resolve this issue.

On Feb 24, 2020, at 2:49 PM, Shubham Sharma <notifications@github.com> wrote:

﻿

Good to know. I can take a stab at fixing this in CAPV if that is alright. I can create an issue there and continue this discussion as I would like to understand the difference as well. In th

[2020-02-24 20:41] vincepri commented on #2341
/priority awaiting-more-evidence

@vladimirvivien Was the issue fixed?

[2020-02-24 20:41] vincepri commented on #2350
/close

[2020-02-24 20:41] #2350 closed

[2020-02-24 20:42] vincepri commented on #2350
The linked PR has been merged

[2020-02-24 20:45] vincepri commented on #2402
This is something that might be resolved by clusterctl v1alpha3. The quickstart is intended to be operating on an empty cluster. I'm not sure if I'd fix the documentation, I'd rather wait for the next version of clusterctl and v1alpha3.

/priority awaiting-more-evidence
/milestone Next

[2020-02-24 20:45] vincepri commented on #2404
/milestone v0.3.0

+1 on making the user folder configurable

[2020-02-24 20:46] vincepri commented on #2415
/help
/good-first-issue
/milestone Next
/priority backlog

[2020-02-24 21:01] nader-ziada commented on #2401
what should the behavior be? does it need fixing?

[2020-02-24 21:37] vincepri commented on #2401
There should be another flag I believe, `--include-namespace`, maybe?

[2020-02-24 21:39] vincepri commented on #2401
@nader-ziada I think so, the namespace should stay there, but the controller in the webhook-system namespace should go away.

[2020-02-24 21:40] vincepri commented on #2401
This only applies if you're deleting the last of your providers though, for example if you have 2 CAPA installed, we don't want to remove the webhook deployment until the both are deleted

[2020-02-24 21:43] vincepri opened #2420 "Clusterctl should not have a pkg/ directory"
/kind cleanup
/milestone v0.3.0

Pending a +1 from @fabriziopandini, we should cleanup the directory structure under cmd/clusterctl and remove the pkg directory.

[2020-02-24 21:57] nader-ziada commented on #2401
Makes sense, I’m going to try to fix it

[2020-02-24 22:12] randomvariable commented on #2403
Noted. https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/769 has been added to our milestone for the next RC release on Wed 26, and will be backported.

[2020-02-24 23:06] prkalle commented on #2416
@vincepri I got the same result with RC1 as well.

[code]

[2020-02-25 01:13] #2405 closed

[2020-02-25 01:13] vincepri commented on #2416
The interesting part here is that we're refreshing the token _very_ often, almost 1 second apart.

To further investigate, can you attach the logs from CAPI, CAPV, CABPK manager and the configuration files used to create this cluster?

[2020-02-25 01:44] vincepri commented on #2401
/assign @nader-ziada

[2020-02-25 01:48] vincepri opened #2423 "Convert all unit tests to use gomega"
Longer term, we should try to switch all our tests to use gomega and follow the same pattern in every place.

The goal is to help be more consistent in how we write test and set a standard. When using `gomega` outside of `ginkgo`, it's pretty easy to find a good balance between standard go tests and gomega interfaces.

As an example:
[code]

/kind cleanup
/milestone Next

[2020-02-25 06:36] sedefsavas opened #2424 "[clusterctl] Missing clusterctl-settings.json in docker provider for clusterctl developer setup workflow"
**What steps did you take and what happened:**
Following steps here: https://master.cluster-api.sigs.k8s.io/clusterctl/developers.html#clusterctl-for-developers

0- Create a kind cluster
1- Build clusterctl running:` make clusterctl` in CAPI directory
2- Create clusterctl-settings.json file for infrastructure-docker
3- cmd/clusterctl/hack/local-overrides.py

Get this error:
Traceback (most recent

[2020-02-25 09:00] sedefsavas opened #2425 "[Doc][clusterctl] Following clusterctl for developers doesn't work for vsphere provider"
**What steps did you take and what happened:**
Following steps here for vsphere provider: https://master.cluster-api.sigs.k8s.io/clusterctl/developers.html#clusterctl-for-developers
1. Create a kind cluster
1. Build clusterctl running: `make clusterctl` in CAPI directory
1. Create clusterctl-settings.json file for infrastructure-vsphere
1. `cmd/clusterctl/hack/local-overrides.py`
1. `./bin/cluster

[2020-02-25 09:21] alexander-demichev commented on #2415
/assign @alexander-demichev

[2020-02-25 09:46] prankul88 commented on #2387
/assign

[2020-02-25 13:58] yastij commented on #2416
also the version of capv you are running

[2020-02-25 14:19] chuckha opened #2427 "[kubeadm control plane] something is weird when upgrading from 1.16 to 1.17"
Using #2334 as a base, when I upgrade from 1.16 to 1.17 there is something going on in either: the load balancer is not behaving properly and causing the kubelet to fail or the kubelet is failing for some other reason. Right now I have a few error messages about CSI that's putting the kubelet in a crash loop. I need to debug further to pinpoint what's going on. But the general code in #2334 is one

[2020-02-25 14:20] chuckha commented on #2427
/milestone v0.3.0
/priority important-soon

[2020-02-25 14:20] chuckha commented on #2427
/assign
/lifecycle active

[2020-02-25 14:52] #2415 closed

[2020-02-25 14:54] detiber commented on #2427
I encountered a similar issue when testing a 1.16 -> 1.17 upgrade using the aws provider. However, since we no longer deploy a bastion by default and the IAM role assigned to the host does not yet allow Session Manager, I was not able to verify the same error in the kubelet logs. However all kubelets where tainted with `node.kubernetes.io/unreachable:NoExecute` following the upgrade.

[2020-02-25 15:05] alexander-demichev commented on #2398
/assign @alexander-demichev

[2020-02-25 15:21] detiber opened #2429 "Refactor KubeadmControlPlane implementation for updating the kubeadm config map"
/kind feature

Copied from https://github.com/kubernetes-sigs/cluster-api/pull/2334#discussion_r381360199

An alternative to using a closure here would be to extract the configmap operations into their own type.

The resulting layers become:
 * The `cluster` object is responsible for interacting with the apiserver (Read, Update)
 * A new struct has methods for modifications to a kubeadmconfigmap.

[2020-02-25 15:22] detiber commented on #2429
/priority important-longterm
/help

[2020-02-25 15:24] detiber opened #2430 "KubeadmControlPlane upgrade could potentially scale down prior to scaling back up"
copied from https://github.com/kubernetes-sigs/cluster-api/pull/2334#issuecomment-590406929

1. `upgradeControlPlane` kicks off because we've got >0 machines that `requireUpgrade`
2. A replacement `Machine` is created, and one of the `selectedForUpgrade` `Machine`s gets annotated with `kubeadm.controlplane.cluster.x-k8s.io/upgrade-replacement-created`
3. The machine in step 2 boots into an invalid

[2020-02-25 16:16] #2231 closed

[2020-02-25 17:36] chuckha opened #2433 "Standardize gomega/ginkgo imports"
This issue is to standardize how to import ginkgo/gomega.

If we are using ginkgo/gomega in a test, it should be imported using the `.` import like this:

[code]

The reason to do this is to provide a consistent feel across all ginkgo/gomega tests in the codebase.

/kind feature
/help
/milestone Next

[2020-02-25 17:42] detiber commented on #2433
There is at least one place where the `gomega` imports (when using `.`) conflict with functions defined (`controlplane/kubeadm/internal`).

I'd argue that we should prefer readability of shipped code paths over the readability of tests, so if we are not willing to make exceptions for tests that would test packages that may have conflicting naming to ginkgo/gomega, then I would suggest that we not

[2020-02-25 17:43] prksu commented on #2393
trying all nodes except the one being removed sounds a good idea.
i'll try this

/assign
/lifecycle active

[2020-02-25 18:03] vincepri commented on #2423
/retitle Convert all unit tests to use gomega

[2020-02-25 18:18] wfernandes commented on #2404
/assign

[2020-02-25 18:43] ncdc opened #2434 "[docs] quick start / clusterctl reorganization suggestion"
Suggestion: get rid of the yaml-based quickstart and replace it with one that is clusterctl based. We already have the clusterctl quickstart in https://master.cluster-api.sigs.k8s.io/clusterctl/overview.html. I'm not 100% sure what the organization should be. One idea:

- Quick Start contains the clusterctl day 1 flow
- "2. clusterctl CLI" becomes a brief blurb about how clusterctl manages all thi

[2020-02-25 18:57] vincepri commented on #2434
/help

[2020-02-25 18:57] vincepri commented on #2434
💯 I think we should definitely do this before release

[2020-02-25 18:58] #2242 closed

[2020-02-25 19:04] fabriziopandini commented on #2420
@vincepri I'm ok with this cleanup
It would be great to get feedback from someone using the library ...

[2020-02-25 20:49] noamran commented on #2434
/assign

[2020-02-25 20:56] noamran commented on #1550
The upgrade process using `clusterctl` is already documented [here](https://master.cluster-api.sigs.k8s.io/clusterctl/commands/upgrade.html).
Once the documentation is [reorganized](https://github.com/kubernetes-sigs/cluster-api/issues/2434) it might make sense to also close this issue (if there are no additional details we want to add).

[2020-02-25 21:06] vincepri opened #2437 "Validation/conversion malformed data testing plan"
- Test v1alpha2 object with bogus json
- Test v1alpha2 object with valid json, but types that don't marshal into expected types
- Test v1alpha2 object with valid json, but failing openapi validation
- Test v1alpha2 object with valid json, but failing webhook validation

The goal is to make sure all of these are rejected and not valid. Most important thing is to make sure that invalid data isn't pe

[2020-02-25 21:07] vincepri opened #2438 "Defaulting webhooks should always set label from Spec.ClusterName"
We need to make sure that defaulting webhooks for all our type that have a `Spec.ClusterName` field, have logic to default the Cluster Label to the value in Spec.ClusterName.

/kind feature
/milestone v0.3.0
/priority important-soon

[2020-02-25 21:09] vincepri opened #2439 "Spec.ClusterName field should be immutable"
We need to make sure users aren't allowed to change the `Spec.ClusterName` field after it has been set. Validation webhooks for any type containing this field should contain logic to refuse any updates to the field's value.

/kind feature
/milestone v0.3.0
/priority important-soon

[2020-02-25 21:15] vincepri opened #2440 "Bootstrap controllers should set `Spec.Type` when creating and reading Secrets"
Bootstrap controllers create a Secret in v1alpha3 https://github.com/kubernetes-sigs/cluster-api/blob/eea0aa1c4197d92ab4de3c4c631229ae6877b3bd/bootstrap/kubeadm/controllers/kubeadmconfig_controller.go#L692.

Secrets have a `Type` field https://godoc.org/k8s.io/api/core/v1#Secret which can be optionally set.

- Create new secret type, e.g. `bootstrap.cluster.x-k8s.io/data`, add it to `api/v1alpha3`

[2020-02-25 21:16] vincepri commented on #2437
cc @liggitt

[2020-02-25 21:20] vincepri opened #2441 "Exclude metadata when restoring converted objects"
Cluster API ships with [conversion utilities](https://github.com/kubernetes-sigs/cluster-api/blob/master/util/conversion/conversion.go) to preserve fields that have been added to an API version, but are not present in a previous one.

When performing conversions, we store the "hub" object in an annotation in json format using https://github.com/kubernetes-sigs/cluster-api/blob/master/util/conversi

[2020-02-25 21:22] vincepri opened #2442 "Use MatchPolicy on conversion webhooks to intercept all convertible versions"
Currently, our validating and mutating webhooks only intercept v1alpha3 objects. We should make use of the proper matchPolicy when registering the webhooks. More specifically, we should set `matchPolicy: Equivalent` when registering webhooks.

Ideally, this option should be part of `controller-tools` and be exposed as a `kubebuilder` marker.

Relevant documentation: https://kubernetes.io/docs/refe

[2020-02-25 22:18] wfernandes commented on #2440
I can take work on this if no one has objections 🙂
/assign

[2020-02-25 23:05] wfernandes commented on #2440
/lifecycle active

[2020-02-25 23:07] wfernandes commented on #2441
Going to take this one 🙂
/assign
/lifecycle active

[2020-02-25 23:37] neolit123 commented on #2440
re: auth. an impresionator can potentially match the SecretType as well, so from my POV this seems to serve the ownership distinction purpose.

[2020-02-26 03:23] SataQiu commented on #2442
/assign

[2020-02-26 07:55] jan-est opened #2446 "MachineDeployment phase and rolling update fails"
**What steps did you take and what happened:**
This is similar to [#1049](https://github.com/kubernetes-sigs/cluster-api/issues/1049) but I still getting the issues with rolling update and also the phase of machinedeployment is not getting into **running** state. I can't find anywhere is this fixed of not.

While using following MachineDeployment the PHASE of the deployment never gets into running

[2020-02-26 10:45] prankul88 commented on #2438
@vincepri Hi, I can take this up if you are okay.

[2020-02-26 14:46] randomvariable commented on #2339
A small improvement for now would be the ability for providers to provide a variable description manifest, so that
➜ clusterctl config cluster test --infrastructure=vsphere:v0.0.0

Error: failed to perform variable substitution: value for variables [CLUSTER_CIDR, K8S_IMAGE_REPOSITORY, KUBERNETES_VERSION, SERVICE_CIDR, SERVICE_DOMAIN, SSH_AUTHORIZED_KEY, VSPHERE_DATACENTER, VSPHERE_DATASTORE, VSPHE

[2020-02-26 15:07] detiber opened #2447 "Discussion: Should we rename references to metal3.io from BareMetal Provider to metal3.io instead?"
**User Story**

All references in documentation (and clusterctl) reference the metal3.io provider as the Baremetal Provider, which is a bit misleading. There could be multiple baremetal providers in the future, such as one that could leverage Packet's [tinkerbell project](https://tinkerbell.org/).

[2020-02-26 15:29] chuckha opened #2448 "[kubeadm control plane] Support upgrading to v1.17"
The upgrade code is missing the modification of KubernetesVersion as well as the kublet config on the workload clusters before upgrading.

/kind feature
/lifecycle active
/milestone v0.3.0
/priority important-soon

[2020-02-26 15:31] vincepri commented on #2438
go for it!

[2020-02-26 15:44] voor opened #2449 "clusterctl version command shows invalid output"
**What steps did you take and what happened:**
[code]
Outputs:
[code]

**What did you expect to happen:**
Expected output to include something to indicate this was part of the `v0.3.0-rc.1`, maybe the git commit `13d26a587559a6743cc44afdb49c1d6e2160009f`, populated build date, or even the version information.

**Environment:**

- Cluster-api version: `v0.3.0-rc.1`
- Minikube/KIND version: NA
- Kub

[2020-02-26 16:06] vincepri commented on #2449
/milestone v0.3.0
/priority important-longterm
/help

[2020-02-26 16:20] vincepri commented on #2446
/assign

I'll look into this today, one thing that I immediately noticed is that your MD status doesn't have AvailableReplicas

[2020-02-26 16:25] randomvariable opened #2450 "Testing of clusterctl exhausts Github API limits"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
Am testing invocations of `clusterctl init` and ran into
[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
Can set the token, but not ideal.

**Environment:**

- Cluster-api version: 0.3.0

[2020-02-26 16:26] vincepri commented on #2450
/milestone Next
/help
/priority important-longterm

This will need a spike to understand possible solutions

[2020-02-26 16:51] JoelSpeed opened #2452 "LastUpdated field of Machine Status is not populated"
The `LastUpdated` field in the `MachineStatus` is meant to be set to the time that the status was last observed.

I interpret this as, every time the status is updated in any way, the `LastUpdated` field should be updated to `now` just before the `Machine` is patched.

It would be useful if this worked not only for UX for users to see the controller is doing something, but also for Machine Health

[2020-02-26 16:52] vincepri commented on #2452
something that could be possible here is to get the information from the patch helper if there the object had changes

[2020-02-26 16:57] detiber commented on #2452
Based on the description being status observed, I think relying on the patch helper is probably not what we want here...  We should likely set it to `metav1.Now()` as part of the function that is updating Status.

[2020-02-26 16:58] chuckha opened #2453 "[kubeadm control plane] Clean up logs on upgrade"
The upgrade workflow depends a lot on errors happening. That makes the errors not really errors, but we end up printing them to the log regardless.

It makes debugging the upgrade path somewhat difficult. Here is a sample upgrade using CAPD.

I suggest that we find some way to distinguish between errors we can handle and errors we cannot handle. If the error is known and expected we don't need to

[2020-02-26 17:00] detiber commented on #2453
I think there might be some value to still logging "expected errors", but we should likely downgrade them to INFO, or a higher verbosity setting used for debugging rather than the default.

[2020-02-26 17:01] prankul88 commented on #2438
/assign

[2020-02-26 17:02] sethp-nr opened #2454 "[kubeadm control plane]: etcd communication errors are being swallowed"
**What steps did you take and what happened:**

While testing an upgrade the etcd health checks were failing repeatedly. With the code from #2451 in place I could resolve it down one level:

[code]

After some work, I found that my etcd ca secret was regenerated, changing the private key (see: #2454). It seems that GRPC has exactly one error message when the connection is misconfigured, and that's

[2020-02-26 17:03] sethp-nr opened #2455 "[kubeadm control plane] upgrade: etcd CA was regenerated"
**What steps did you take and what happened:**

After the first of three control plane machines were upgraded from v1.15.9 to v.1.16.6, I started getting etcd health check failures (see #2454  and #2451). After a while, it became clear that the cert & private key stored in the management cluster's Secret had diverged from what was on disk on the control plane nodes.

I'm not sure what caused the s

[2020-02-26 17:05] vincepri commented on #2452
We don't actually have a status method in the machine controller. If you're referring to `reconcilePhase`, that might be fine, but there is no guarantee that when any other field in status change, the phase changes as well

[2020-02-26 17:08] JoelSpeed commented on #2452
Would it make sense to take a copy of the `status` before the defer block and then compare this to `m.Status` inside the defer and update the timestamp if they differ (just before `Patch` is called)?
https://github.com/kubernetes-sigs/cluster-api/blob/25b281e30f4304353c42ac7ebcddf37648847866/controllers/machine_controller.go#L130-L138

[2020-02-26 17:08] detiber commented on #2452
True, but in essence Status is something that should be the "observed" state of the world at the time of the current reconciliation, so maybe we need to think about potentially updating the Phase each time, or just defer it since we plan on moving towards Conditions post v1alpha3.

[2020-02-26 17:17] detiber commented on #2455
I wonder if there is an odd race condition that could be taking place in the way we are doing `LookupOrGenerate` for the secrets, but at a quick glance it appears that it should not overwrite them if they are already created...

[2020-02-26 17:18] #2283 closed

[2020-02-26 17:19] vincepri commented on #2452
I see two possible paths forward:

- Set `Status.LastUpdated` only when the Phase changes, we can do this in `reconcilePhase`.
   - We'll have to update the comment description as well to reflect this change.

- Modify `helper.Patch` function to return an output describing what the patcher has actually done or patched. This could be useful in a number of places, also it could give us a venue where

[2020-02-26 17:28] vincepri commented on #2446
@chuckha could this be a docker-related issue? I just tested CAPA and it seems to be working fine

[code]

/milestone v0.3.0
/priority awaiting-more-evidence

[2020-02-26 17:45] chuckha opened #2457 "[clusterctl] add clusterctl's e2e test module to make module target"
In order to keep stray go.mod changes from popping up in various PRs, every directory with a module should be included in the top level makefile's `modules`  target.

/kind bug
/priority important-longterm
/milestone Next
/help

[2020-02-26 17:56] vincepri commented on #2424
/help
/milestone v0.3.0

[2020-02-26 17:56] vincepri commented on #2425
/assign @fabriziopandini
/milestone v0.3.0

[2020-02-26 17:59] vincepri commented on #2455
/milestone v0.3.0

[2020-02-26 17:59] vincepri commented on #2454
/milestone v0.3.0

[2020-02-26 18:01] chuckha opened #2459 "standardize codebase on controller-runtime's client's ObjectKey instead of types.NamespacedName"
Basically replace all instances of types.NamespacedName with ObjectKey when controller-runtime's client package is already imported. This prevents an additional import and keeps the code base consistent.

/kind feature
/priority important-longterm
/milestone Next

[2020-02-26 18:02] chuckha commented on #2459
/help

[2020-02-26 18:02] detiber commented on #2459
In some cases, we can likely also use `util.ObjectKey` in place of manually building up the `client.ObjectKey`

[2020-02-26 18:39] vincepri commented on #2429
/assign @chuckha

[2020-02-26 18:40] vincepri commented on #2447
/milestone v0.3.0
/help
/assign @maelk
/kind cleanup

[2020-02-26 18:40] chuckha commented on #2429
/lifecycle active

[2020-02-26 18:42] vincepri commented on #2452
/milestone v0.3.0
/assign @JoelSpeed
/priority important-soon

[2020-02-26 18:59] sethp-nr commented on #2455
Yeah, that's what was so weird about it – the whole control plane bootstrapped with 3 nodes, everything was great, and then as soon as controlplane-0 finishes deleting the etcd certs change.

The only other guess I have is that controlplane-0's kubeadm config was different than the others (it was init, not join) and since it was up first there might have been some weird owner references – I haven'

[2020-02-26 19:01] detiber commented on #2455
One thing that probably deserves a check...  What resource owns the secrets? If it is a Machine, that would explain the bug..

[2020-02-26 19:19] #2427 closed

[2020-02-26 19:19] #2429 closed

[2020-02-26 19:19] #2448 closed

[2020-02-26 19:27] randomvariable opened #2460 "Document that dollar mark needs to be escaped for variable expansion in clusterctl"
Just a small todo / note to self.

When using env vars, for example a password, if it contains a dollar symbol, in addition to being single quoted, it needs to be doubled, .e.g.:
The password foo$bar must be represented as:

PASSWORD='foo$$bar'

Looks like some variable expansion happening in viper, but can get hit.

/kind feature
/area documentation

[2020-02-26 20:27] sedefsavas commented on #2439
I'd like to work on this, can you assign it to me please?

[2020-02-26 20:29] vincepri commented on #2439
sure!

you can use `/assign` to self-assign issues and set `/lifecycle active` when you're actively working on them

[2020-02-26 20:30] sedefsavas commented on #2439
/assign
/lifecycle active

[2020-02-26 22:24] prkalle commented on #2416
I reproduced again on the same setup. Please find the logs from the recent encountered instance.

[CABPK.log](https://github.com/kubernetes-sigs/cluster-api/files/4258454/CABPK.log)
[CAPI.log](https://github.com/kubernetes-sigs/cluster-api/files/4258455/CAPI.log)
[CAPV.log](https://github.com/kubernetes-sigs/cluster-api/files/4258456/CAPV.log)

CAPV version: latest master : v0.5.3-138-g2318542a

[2020-02-26 23:12] wfernandes commented on #2441
Just to get some clarification on this...does this mean we have to clean up `ObjectMeta` from the source object before adding it as an annotation on the destination object?

Because that means we will be getting rid of the labels, annotations, name, owner references etc..

[2020-02-26 23:39] vincepri commented on #2441
yeah that should be fine, metadata is always converted / restored

[2020-02-26 23:57] digambar15 opened #2461 "Node classification mechnism based on workload profiles"
**User Story**

As a user/operator I would like to introduce mechnism which will classify nodes based on workload profiles so that I will get right match of node before deployment any workloads/applications.

**Detailed Description**

Custer-api will create multiple clusters at any cloud be it VMware, GCP, AWS or Baremetal etc.
If some user is looking for worker-node where he will run his workload

[2020-02-27 02:57] detiber commented on #2461
@digambar15 I'm trying to understand the requirements/UX you are looking for here.

At a high level, I would say that this feels very much analogous to [node feature discovery](https://github.com/kubernetes-sigs/node-feature-discovery), however that would only be helpful in the context of a single workload cluster.

We could potentially replicate the labels that node-feature-discovery adds to Node

[2020-02-27 06:49] maelk commented on #2447
How far do you think we should go with the renaming ? Is it sufficient to rename it in the CAPI docs + clusterctl only ? What about the provider CRDs ? Moving from baremetalcluster.infrastructure.cluster.x-k8s.io to something like metal3cluster.infrastructure.cluster.x-k8s.io would completely break backwards compatibility, or force us to make some heavy conversion logic in the controllers. It woul

[2020-02-27 07:22] maelk commented on #2447
I have made a PR to show the changes on CAPI side. Those are minors and can be done without hassle. However, I am a bit against further changes due to the API compatibility break related to renaming things within the provider itself. What do you think ?

[2020-02-27 08:20] fabriziopandini commented on #2425
@sedefsavas I think that there is a problem int he vsphere manifest, because web-hook components should be deployed into the capi-webhook-system namespace, not into capv-webhook-system
/cc @vincepri @yastij

[2020-02-27 08:33] jan-est commented on #2446
Problem might be of using CAPD? @vincepri When you tested with CAPA did you have any problems with rolling update? I have a plan to start testing rolling update on baremetal, but first I would like to know if machinedeployment is running properly on CAPI level.

[2020-02-27 11:18] kashifest commented on #2447
IMHO, we should stick to renaming it in CAPI docs and clusterctl only. Changing the CRDs would not only require a lot of changes but it could potentially break the backwards compatibility as you correctly mentioned.

[2020-02-27 11:53] jan-est commented on #2447
I agree with @maelk and @kashifest. At this point I don't see any point of renaming it anywhere else than CAPI docs and clusterctl.

[2020-02-27 13:42] JoelSpeed commented on #2452
@vincepri I think the second option of extending the `Patch` means that we would have to patch twice every time the status is updated, the first one to update the status, the second one to update the `LastUpdated` because the status was changed in the first patch,  this might make the update logic a bit complicated? I don't know if double updates might also cause some issues with reocnciles or con

[2020-02-27 15:53] ncdc opened #2466 "Document how to upgrade a workload cluster to a newer Kubernetes version using KubeadmControlPlane"
**User Story**

As a user I would like to know the proper steps for upgrading the Kubernetes version of a workload cluster when using KubeadmControlPlane.

**Detailed Description**

Document the steps for upgrading workload cluster using KubeadmControlPlane, including:

- An overview of the process (control plane first, then workers)
- How to change the version for the control plane
- How to chang

[2020-02-27 16:04] chuckha commented on #2446
It might be, I can look into it and see if this can be closed or not

/assign

[2020-02-27 16:18] sedefsavas commented on #2459
/assign

[2020-02-27 16:19] sedefsavas commented on #2459
/lifecycle active

[2020-02-27 16:35] vincepri commented on #2439
/milestone v0.3.0-rc.3

[2020-02-27 16:58] chuckha opened #2467 "control plane cannot get past etcd health check"
A bug got into the control plane upgrade code path that prevents etcd health check from returning healthy when there are any nodes at all.

/kind bug
/priority critical-urgent
/assign
/lifecycle active

[2020-02-27 17:17] #2467 closed

[2020-02-27 18:05] chuckha commented on #2446
@jan-est You have to install a CNI to make machine deployment scaling work appropriately. It uses node Ready as a marker and that only ever becomes Ready AFTER CNI is installed.

[2020-02-27 18:56] detiber opened #2469 "KubeadmControlPlane health checks should likely verify that associated node is not marked as unreachable"
Prior to fixing the issue with upgrades related to the version contained in the kubeadm and kubelet config maps, Control Plane upgrades were still proceeding even when the kubelet on the Machines were crashlooping. While we can detect all signs that the kubelet is unhealthy, we can check to ensure that the related Node does not contain the `http://node.kubernetes.io/unreachable:NoExecute` taint, o

[2020-02-27 19:14] vincepri commented on #2469
/help

[2020-02-27 19:17] #2452 closed

[2020-02-27 21:19] vincepri commented on #2226
/priority critical-urgent

[2020-02-27 22:07] chuckha commented on #2226
Here's my take at 5:00 on a thursday

1) maintain a map by hand for now from k8s version => core dns version. This solves the problem immediately and buys us a little bit of time
2) write a script to generate the k8s version => core dns map by:
- writing a script that finds all the point versions of kubernetes using git tags
- For each tag, generate a go script that imports that kubernetes version

[2020-02-27 23:05] sedefsavas commented on #2469
/assign

[2020-02-28 13:13] jan-est commented on #2446
@chuckha thank you that shorted out the the State issue. Still have problems after changing spec.version and rolling update is started. I add following field on my machinedeployment:

[code]
Before update my machinesets looks as follows:
[code]
After update
[code]
I think this is not the state the cluster should stay after update. Update is only update 1 replica and leave two replicas running with

[2020-02-28 13:25] jan-est commented on #2446
@chuckha thank you that fixed my problem with PHASE.

[2020-02-28 14:54] #2393 closed

[2020-02-28 14:57] chuckha commented on #2446
awesome

/close

[2020-02-28 14:57] #2446 closed

[2020-02-28 15:00] chuckha opened #2474 "Clean up for #2435"
/kind cleanup

There were a few non-urgent outstanding issues relating to  https://github.com/kubernetes-sigs/cluster-api/pull/2435.

@dlipovetsky would like a unit test for this function.
@detiber would like to handle the case of last-etcd member better.

/assign @detiber
/milestone v0.3.0
/priority important-soon

[2020-02-28 15:54] michaelgugino opened #2476 "Add version table to README.md"
It's unclear what branch maps to what release in cluster-api for development purposes.

We should add a table like this one: https://github.com/kubernetes-sigs/cluster-api-provider-aws/#compatibility-with-cluster-api-and-kubernetes-versions

/kind bug

[2020-02-28 16:19] ncdc commented on #2226
Jotting down so we don't forget it: CoreDNS also may need to have its config file (which is stored in a ConfigMap) "migrated" when upgrading to a newer version. There is code in kubeadm to do this (it, in turn, vendors code from a CoreDNS repo to do the actual config migration). We presumably don't want to try to vendor the kubeadm code for this, nor do we really want to vendor the CoreDNS migrati

[2020-02-28 18:45] wfernandes opened #2478 "Populate Type field of CAPI secrets"
**User Story**

As an operator I would like to ensure that controllers are reading in secrets of a specified type in order to ensure integrity and validity.

**Detailed Description**
This issue is to discuss how to apply the `Type` field for `Secret`s created by the kubeadm control plane and cluster controllers pre-v1alpha3.

Currently, only the new secrets created by the bootstrap kubeadm control

[2020-02-28 18:49] wfernandes opened #2479 "Controllers must respect the `Type` field of secrets."
**User Story**

As an operator I would like to ensure that controllers are reading in secrets of a specified type in order to ensure integrity and validity.

**Detailed Description**

Cluster API components should only read secrets that respect the correct `Type`.

**Anything else you would like to add:**

References:
#2478 Issue that discusses updating older secrets that don't have the `Type` fie

[2020-02-28 19:01] chuckha opened #2480 "Wire up KubeadmControlPlane Ready"
It looks like KubeadmControlPlane's Ready field has not been wired up. Thanks to @anuj2512 for pointing this out.

According to the godoc above the field, the KCP is ready as soon as the first control plane is ready to receive requests. This means that as soon as one control plane node has passed a health check we can set this field to true.

/kind bug
/milestone v0.3.0
/priority important-soon
/c

[2020-02-28 19:09] randomvariable commented on #2480
/assign
/lifecycle active

[2020-02-28 19:56] dlipovetsky commented on #2474
/assign @dlipovetsky

[2020-02-28 20:43] wfernandes opened #2483 "clusterctl delete everything returns an error intermittenly"
**What steps did you take and what happened:**
1. Install components via `clusterctl init --infrastructure=aws:v0.5.0`
1. Try and delete all the providers, namespaces and crds. And repeat the process a few times.

Deleted all providers but returned an error which left resources behind
[code]

Deleted some providers but returned an error which left resources behind
[code]

Everything deleted succes

[2020-02-28 20:44] wfernandes commented on #2483
/area clusterctl

[2020-02-28 20:44] fabriziopandini commented on #2401
Currently clusterctl splits provider components into two groups:
- instance specific components (controller, service account etc)
- shared components (CRDs, web-hooks)
The second group gets deleted only if explicitly required by the user with the --include-crd flag, as described by @wfernandes , while instance specific components are always deleted

Might be this should be better documented (there

[2020-02-28 20:53] fabriziopandini commented on #2401
Fyi this is where this behaviour is described https://master.cluster-api.sigs.k8s.io/clusterctl/commands/delete.html

[2020-02-28 21:18] randomvariable commented on #2480
ok, this was ambitious on a friday evening. might look at on monday if no one gets there first.
/unassign
/remove-lifecycle active

[2020-02-28 21:19] chuckha commented on #2480
/assign
/lifecycle active

[2020-02-28 21:49] wfernandes commented on #2401
@fabriziopandini Thanks for the explanation. I didn't see the documentation in the book as I was only looking at the CLI help notes when I reported this behavior.

After reading through the docs and playing around some more I realize now that we are sharing one webhook controller in the `capi-webhook-system` namespace for all the provider controllers installed in other namespaces.

Apologies for t

[2020-02-28 21:52] wfernandes commented on #2483
@fabriziopandini Can you take a look at this issue to see if I'm missing something? I just noticed this behavior recently and wanted to better understand the expected behavior.  It's not a serious one so no rush at all 🙂

[2020-02-28 22:21] juan-lee opened #2484 "Consider moving MachinePool to experimental"
**User Story**

As a developer I would like to be able to freely evolve the MachinePool API after v1alpha3 is released due to new requirements around AWS/Azure SPOT support.

**Detailed Description**

Does it make sense for MachinePool to be in an experimental category for some amount of time before being included in the core api? Features like SPOT for AWS and Azure might require some evolution o

[2020-02-28 22:21] juan-lee commented on #2484
@vincepri FYI

[2020-02-28 22:23] ncdc commented on #2484
SGTM, thanks for proposing this.

[2020-02-28 22:24] vincepri commented on #2484
+1 to this change, I think it makes a lot of sense given the nature of these new API types. Let's chat about it at the next community meeting? I'll play around with it and open a PR to move the types, we can then review/merge next week if there is enough consensus.

/milestone v0.3.0-rc.3
/assign

cc @JoelSpeed, if we want to do the same for MHC?

[2020-02-28 22:31] sedefsavas commented on #2439
/close

[2020-02-28 22:36] vincepri commented on #2439
/close

[2020-02-28 22:36] #2439 closed

[2020-02-29 00:13] sethp-nr commented on #2455
Ah ha, sure enough:

[code]

But when I create a control plane using a KCP:

[code]

Which means this is an omission from the adoption bits – closing in favor of #2214.

/close

[2020-02-29 00:13] #2455 closed

[2020-02-29 11:09] mooperd commented on #2369
+1

[2020-03-01 11:51] #1468 closed

[2020-03-02 05:12] SataQiu commented on #2449
/assign

[2020-03-02 09:57] cpanato commented on #2433
let me try this one
/assign

[2020-03-02 10:10] fabriziopandini commented on #2483
This seems a kind of race that happens when deleting more providers in a row

[code]
Deletes controlplane.cluster.x-k8s.io/v1alpha3 CRD, but when the next delete operation is executed, it seems the type is still around/still in the client discovery cache, and this leads to error.

[code]
Wondering if we need to explicitly wait for CRD deletion to complete before moving on with the next delete

[2020-03-02 10:33] cpanato commented on #2433
for the existing tests that already have the `.` should we update to remove that?

[2020-03-02 11:58] JoelSpeed commented on #2484
With regards to MHC, I'm not opposed to the idea of moving to an experimental group if that allows the main CRDs within the group to be promoted to beta and eventually GA. This decision, IMO, should be deferred to people with more experience in the project than I have.

That said, I would like to add some context to help the decision. I think the MHC project is a lot smaller than the MachinePool p

[2020-03-02 13:17] fabriziopandini opened #2495 "clusterctl: improve error message when parsing templates fails"
**What steps did you take and what happened:**
call `clusterctl config cluster` with an invalid template or a variable that makes your template an invalid yaml

You get an error: like
[code]

Which is hard to debug, mostly because:

- the YAML is divided into documents (split by ---)
- then documents are processed one by one
- the error message `line 25: did not find expected alphabetic or numeric

[2020-03-02 13:18] fabriziopandini commented on #2495
xref https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/792

[2020-03-02 13:21] enxebre commented on #2484
Just one note, we introduced MHC in OCP 4.3.

Regarding the experimental category for MHC I'm not opposed to that but I agree with @JoelSpeed I wouldn't anticipate any breaking API changes on MHC. The heavy implementation development is already done, plus we are alpha. I'd see this a more suitable case for MHC if we were in an already beta API scenario.

I wouldn't expect this to happen as machine

[2020-03-02 13:58] fabriziopandini opened #2497 "clusterctl: allow empty env variables"
**What steps did you take and what happened:**
[code]
And then read a template/a component YAML file that uses the test variable e.g.
[code]

**What did you expect to happen:**
I would like clusterctl to consider the empty env variables (because empty is different than unset !)

**Anything else you would like to add:**
The issue should be fixed [here](https://github.com/kubernetes-sigs/cluster-api

[2020-03-02 14:07] JoelSpeed commented on #1876
I've put together a [proposal](https://docs.google.com/document/d/1naxBVVlI_O-u6TchvQyZFbIaKrwU9qAzYD4akyV68nQ/edit?usp=sharing) which I discussed a bit with @vincepri last week. I've added a large section towards the bottom of this about the state of Spot instances across AWS, Azure and GCP, so if anyone is unfamiliar with them or would like a refresher on how they work, please read the additiona

[2020-03-02 14:08] randomvariable commented on #2433
probably.

assuming you've started on this, so will mark as
/lifecycle active

[2020-03-02 14:41] vincepri commented on #2433
apart from control plane one, let's try to use the dot import everywhere else and find a different solution there

[2020-03-02 14:51] vincepri commented on #2497
are there any particular use cases that we're trying to solve with this feature?

[2020-03-02 16:02] vladimirvivien commented on #2341
@vincepri haven't had time to check again, I have been using CAPv.  If I have time this week, I will try with v1a3.

[2020-03-02 16:04] vincepri commented on #2226
We'll do a spike to understand the solutions / requirements
/assing

[2020-03-02 16:04] vincepri commented on #2226
/assign @vincepri @ncdc

[2020-03-02 16:16] vincepri commented on #2200
This has been done

/close

[2020-03-02 16:16] #2200 closed

[2020-03-02 16:28] vincepri commented on #1550
@noamran any updates on this? is there anything we can help with?

[2020-03-02 16:44] ncdc commented on #1565
@dlipovetsky how would you feel about this?

- We move all references to CAPD so they're only in the Developer Guide, possibly in the Tilt docs, or possibly as a standalone topic
- We remove the `docker` provider from the `clusterctl` code base, and require that you set up the local overrides if you want to use it (you'd also have to use `kustomize` to generate the yaml)

[2020-03-02 16:46] vincepri commented on #1727
@dlipovetsky @detiber @chuckha @sethp-nr should we review what was merged in #1899 to see if anything changed and possibly adapt it to the format of the other spec documents?

[2020-03-02 16:48] vincepri commented on #2395
@sedefsavas do you want to close #1910 and keep this one or merge the content you have here?

[2020-03-02 16:48] vincepri commented on #1910
/milestone Next

[2020-03-02 16:49] vincepri commented on #1945
/milestone v0.3.x

[2020-03-02 16:49] voor opened #2499 "clusterctl: UX improvement NoSchedule taint for single nodes"
**User Story**

As a user I would like to have a small reminder in the documentation and when running commands that the cert-manager and CAPI components will not work on a single node VM that still has the NoSchedule taint on it.  `clusterctl init` will timeout without much information if the providers just wait indefinitely for an available node.

**Detailed Description**

The typical pivot opera

[2020-03-02 16:50] vincepri commented on #1990
@enxebre do we need to keep this tracking issue open or did you want to close it?

[2020-03-02 16:51] ncdc commented on #2016
Fixed by #2335
/close

[2020-03-02 16:51] #2016 closed

[2020-03-02 16:52] vincepri commented on #2064
/milestone Next

Moving this to next, waiting for more folks to chime in with some guidance / use cases

[2020-03-02 16:56] enxebre commented on #1990
hey @vincepri I think we still need to add e2e tests and docs for MHC, however you prefer to track it works for me.

[2020-03-02 16:56] vincepri commented on #2097
/milestone Next

[2020-03-02 16:57] vincepri commented on #1990
do you think we can get the documentation and e2e in `v0.3.0` or should we move it to `v0.3.x`?

[2020-03-02 16:58] vincepri commented on #2118
Closing this for now, we can revisit the UX in a future version and during the code walkthrough after v0.3.0 is released

/close

[2020-03-02 16:58] #2118 closed

[2020-03-02 17:04] vincepri commented on #2143
/area control-plane

[2020-03-02 17:05] vincepri commented on #2176
/priority awaiting-more-evidence
/milestone v0.3.x

[2020-03-02 17:06] ncdc commented on #2466
moving into #2244
/close

[2020-03-02 17:06] #2466 closed

[2020-03-02 17:06] vincepri commented on #2252
@prankul88 are you still working on this?

/milestone Next

[2020-03-02 17:07] vincepri commented on #2364
/close

[2020-03-02 17:07] #2364 closed

[2020-03-02 17:07] ncdc commented on #2244
Didn't realize this was here when I filed #2466. Copying what I wrote over there:

Document the steps for upgrading workload cluster using KubeadmControlPlane, including:

- An overview of the process (control plane first, then workers)
- How to change the version for the control plane
- How to change the OS image (OVA, AMI, etc) for the control plane machines
- How to change the version & OS imag

[2020-03-02 17:11] vincepri commented on #2256
/milestone Next

Moving this out of the milestone due to timing and required API/code changes in CAPI and infrastructure providers

[2020-03-02 17:11] vincepri commented on #2256
/area api

[2020-03-02 17:12] vincepri commented on #2244
/area control-plane

[2020-03-02 17:12] vincepri commented on #2226
/area control-plane

[2020-03-02 17:12] JoelSpeed commented on #1990
@vincepri Could you remind me when the cutoff is for `0.3.0`? I'm working on the e2e tests tomorrow and the docs likely later this week, not sure when they'll be ready for merge though

[2020-03-02 17:14] vincepri commented on #2331
/milestone Next

[2020-03-02 17:16] vincepri commented on #1990
It's set for March 10th, it sounds like we can definitely point this to v0.3.x given that's mostly for testing and docs

[2020-03-02 17:17] vincepri commented on #2398
Are we planning to do this for `v0.3.0` or should we punt this to v0.3.x?

[2020-03-02 17:17] vuil opened #2501 "Add support in clusterctl to upgrade to a specifc set of provider versions"
**User Story**

As  an operator, I would like to upgrade my management cluster to a specific set of provider versions.

**Detailed Description**

Clients of clusterctl may have technical or business reasons to upgrade to versions of providers not proposed by 'upgrade plan'.
Providing the ability to specific versions of the providers to upgrade a cluster to will give maximum flexibility to the oper

[2020-03-02 17:19] vincepri commented on #2404
/milestone v0.3.x

[2020-03-02 17:19] ncdc commented on #2404
@wfernandes are you still planning on working on this?

[2020-03-02 17:22] vincepri commented on #2424
/milestone Next

[2020-03-02 17:23] vincepri commented on #2425
/priority awaiting-more-evidence
/milestone Next

[2020-03-02 17:24] ncdc commented on #2425
@sedefsavas can you retest now that https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/764 is in?

[2020-03-02 17:25] vincepri commented on #2501
/milestone v0.3.0
/assign @fabriziopandini
/lifecycle active
/priority important-soon

[2020-03-02 17:32] vincepri commented on #2442
Ref: https://github.com/kubernetes-sigs/controller-tools/commit/1d4053e3d795222fef7a3a4aa2441af3a6d3a514

[2020-03-02 17:35] sedefsavas commented on #2425
yes, will retest and update this issue.

[2020-03-02 17:36] vincepri commented on #2442
@SataQiu if you still have time to work on this, we can update to controller-tools latest master in `hack/tools` and use the new option for webhooks

[2020-03-02 17:37] vincepri commented on #2460
/kind documentation
/milestone Next
/assign @fabriziopandini

[2020-03-02 17:38] vincepri commented on #2461
/milestone Next
/kind design
/priority awaiting-more-evidence

[2020-03-02 17:39] vincepri commented on #2476
/kind documentation
/help
/milestone Next

[2020-03-02 17:39] vincepri commented on #2478
/milestone Next

[2020-03-02 17:40] vincepri commented on #2479
/milestone Next

[2020-03-02 17:40] vincepri commented on #2495
/milestone v0.3.x

[2020-03-02 17:40] vincepri commented on #2483
/milestone v0.3.x

[2020-03-02 17:41] vincepri commented on #2497
/milestone Next

[2020-03-02 17:52] vincepri commented on #2499
/milestone v0.3.x

[2020-03-02 17:58] #2440 closed

[2020-03-02 18:23] vincepri commented on #1622
Closing, fixed in v1alpha3
/close

[2020-03-02 18:23] #1622 closed

[2020-03-02 18:44] wfernandes commented on #2404
@ncdc Yes. I was planning on working on this but I haven't yet started work on it. I've been getting sidetracked with other issues.

[2020-03-02 19:17] ncdc commented on #2437
/assign @sedefsavas

[2020-03-02 21:20] fabriziopandini commented on #2497
@vincepri I have no a specific use case in mind (I just spotted this viper behavior by chance while testing)

[2020-03-02 21:22] fabriziopandini commented on #2460
@randomvariable I checked viper documentation and there is nothing about variable expansion...

[2020-03-02 21:29] #2474 closed

[2020-03-02 21:38] vincepri commented on #2497
If that's ok with you, I'd leave this like it is for now and come back to this issue if there are use cases or bug reports, wdyt?

[2020-03-02 21:48] ncdc commented on #2226
Some more thoughts:

The ConfigMap should be per KCP controller, live in the same namespace as the controller, and have a standard name such as `cluster-api-kubernetes-addon-versions`. Sample:

[code]

When you change `KubeadmControlPlane.Spec.Version`, the KCP controller copies the values from the ConfigMap into `KubeadmControlPlane.Spec.KubeadmConfigSpec.ClusterConfiguration...` (this requires t

[2020-03-02 21:56] detiber commented on #2226
Who is responsible for maintaining this ConfigMap? I'd assume that we'd want to ship a default ConfigMap, but how do we determine if we should update the ConfigMap on a ClusterAPI upgrade? We'd at least need a way to determine if a user has modified the ConfigMap to avoid stomping their changes.

[2020-03-02 23:21] wfernandes commented on #2404
/lifecycle active

[2020-03-02 23:21] #2501 closed

[2020-03-03 04:48] sedefsavas opened #2507 "Could not delete KubeadmControlPlane object if owner cluster has already being deleted"
**What steps did you take and what happened:**
Not sure if deleting an object whose owner reference has already been deleted should be a supported workflow but creating this in case it is.
1. Create KubeadmControlPlane object and a control plane cluster is initialized.
1. Delete that cluster and try to delete KubeadmControlPlane object, it stucks because reconcile function first tries to get the o

[2020-03-03 07:41] sedefsavas commented on #2437
/assign

[2020-03-03 09:19] #2449 closed

[2020-03-03 14:49] alexbrand opened #2510 "Review webhook certificate/issuer strategy"
We are currently creating three separate issuers for the validating/mutating/conversion webhook certificates.

[code]

Review this strategy and figure out if we should collapse to a single issuer.

cc/ @vincepri

[2020-03-03 15:01] vincepri commented on #2510
Thanks for filing the issue!

If we want to re-use CAPI's issuer we might need to rework kustomize to accomodate this change, we might need a spike to understand what changes are needed and evaluate if we actually want to go down this path.

[2020-03-03 15:42] wfernandes commented on #2401
/close

[2020-03-03 15:42] #2401 closed

[2020-03-03 15:45] ncdc commented on #2226
My initial thinking was that we could put the plumbing in place for this to be manual, and we could add more automation around shipping a populated ConfigMap later. But maybe that's not a good approach?

For etcd, we know that if you leave `KubeadmControlPlane.Spec.KubeadmConfigSpec.ClusterConfiguration.Etcd.Local.ImageTag` blank, then `kubeadm join` will choose the appropriate version based on wh

[2020-03-03 16:05] detiber commented on #2226
I think my worry is about the level of effort (on both maintainers and on users) into maintaining this approach even if we automate the updating of the ConfigMap...

- How granular would we want to get with the k8s version to other component mapping?
  - Would we want to keep the same patch version granularity that exists with current kubeadm?
  - Would we want to go minor version, and risk potent

[2020-03-03 16:15] ncdc commented on #2226
I was thinking just minor for simplicity, but if that could pose problems, then we could require it be the patch level.

If users are maintaining the ConfigMap themselves, they wouldn't need to upgrade cluster-api (but the burden is on them to update the ConfigMap as new Kubernetes versions come out).

We could consider maintaining the contents of the ConfigMap and publishing them in our docs as n

[2020-03-03 17:08] sedefsavas opened #2513 "v1alpha2 objects do not get vetted by v1alpha3 validation webhooks"
**What steps did you take and what happened:**
Applied the following v1alpha2 Cluster yaml which has inconsistency between infrastructureRef namespace and Cluster namespace. This inconsistency should have been catched by v1alpha3 Cluster validation webhooks, but instead the Cluster object is being created without any errors. This is the case for other resources  too (such as Machine).
[code]

**Wh

[2020-03-03 17:11] #2441 closed

[2020-03-03 17:14] ncdc commented on #2513
This should get fixed when we do #2442

[2020-03-03 17:15] ncdc commented on #2507
Was the Cluster 100% gone but the KubeadmControlPlane was still there, or was the Cluster in the middle of being deleted?

[2020-03-03 17:25] sedefsavas commented on #2507
Cluster was gone and KubeadmControlPlane deletion stucks here:

[code]

It says deleted but the  object is kubeadmcontrolplane still there:
[code]

[2020-03-03 17:26] vincepri commented on #2513
/milestone v0.3.0

[2020-03-03 17:26] ncdc commented on #2507
Ok, we may need to modify the cluster controller to block removing the cluster's finalizer if there is still a control plane around.

[2020-03-03 17:27] ncdc commented on #2507
https://github.com/kubernetes-sigs/cluster-api/blob/cb079834fa40d09dbfdaf35de16679ccd8e4f9c6/controllers/cluster_controller.go#L210-L224

only does the delete, but it doesn't block if it's still there and being deleted

[2020-03-03 18:23] chuckha opened #2514 "[e2e test framework] replace fmt.Println with writes to ginko's writer"
Example: https://github.com/kubernetes-sigs/cluster-api/blob/master/test/framework/control_plane.go#L102

These existed to help debug. I'm not sure they're ever displayed though. Either they should be removed or replaced with a log to ginkgo's writer.

Part of this issue is figuring out if it's too noisy with those logging to ginkgo's writer or if these errors actually provide value.

/kind bug
/h

[2020-03-03 18:48] neolit123 commented on #2226
some Qs / comments:
- apart from the KCP controller would there be other consumers of the ConfigMap (not including users)? might have missed some context in the above discussion.
- can the version mapping be hardcoded in the controller, the same way kubeadm hardcodes it's mapping?
- what is the release cadence of the controller compared to the 3 month k8s release cycle? slower / faster?

- patch v

[2020-03-03 18:48] detiber commented on #1768
/lifecycle frozen

[2020-03-03 18:53] ncdc commented on #2226
Not that I would imagine.

Technically, yes. That would require us to release new versions of Cluster API every time new Kubernetes versions come out (or, maybe we could do it such that we only have to do it when the etcd or CoreDNS version changes). But I'd like to find a way to avoid doing this.

I wouldn't say we have a regular cadence at this time. Basically whenever we are ready with a new re

[2020-03-03 18:59] detiber opened #2515 "clusterctl init without a kubernetes cluster returns cryptic error"
**What steps did you take and what happened:**
- run `clusterctl init` without additional arguments and no remote kubernetes cluster configured
- get `Error: failed to create controller-runtime client: failed to rest client: invalid configuration: no configuration has been provided`

**What did you expect to happen:**

A more descriptive error that is actionable for the user

**Environment:**

- C

[2020-03-03 19:00] detiber commented on #2515
I do suspect that this might also be related to not having a kind cluster up when running the command, trying to validate that now.

[2020-03-03 19:08] detiber opened #2516 "clusterctl init --infrastructure aws --list-images returns an error when env variables are not defined"
**What steps did you take and what happened:**
- run `clusterctl init --infrastructure aws --list-images` without setting the AWS_B64ENCODED_CREDENTIALS env var
- Get: `Error: failed to get provider components for the "aws" provider: failed to perform variable substitution: value for variables [AWS_B64ENCODED_CREDENTIALS] is not set. Please set the value using os environment variables or the clust

[2020-03-03 20:00] sedefsavas commented on #2437
Tested the following scenarios:

[2020-03-03 20:34] wfernandes commented on #2404
Thoughts on what needs to be done
- [ ] Make override folder configurable. See if using the config file path would be a viable solution.
- [ ] Make changes to clusterctl e2e tests to use configurable overrides directory.

[2020-03-03 20:45] ncdc commented on #2420
/lifecycle active
/area control-plane

[2020-03-03 20:51] detiber commented on #1793
/lifecycle frozen

[2020-03-03 20:53] detiber commented on #1779
/lifecycle frozen

[2020-03-03 21:39] #2420 closed

[2020-03-03 22:32] ncdc commented on #2437
@sedefsavas re the bogus json test, could you paste the yaml you tested? Thanks!

[2020-03-03 23:11] sedefsavas opened #2518 "Able to create a v1alpha3 machine without ClusterName by using v1alpha2 yaml"
**What steps did you take and what happened:**
Applied the following v1alpha2 yaml to v1alpha3 controller. This yaml does not have a "cluster.x-k8s.io/cluster-name" label and "cluster.x-k8s.io/conversion-data" annotation which is supposed to hold v1alpha3 data is missing ClusterName too and it has an additional field that v1alpha3 Machine Spec does not have. Machine is created with clusterName: ""

[2020-03-03 23:29] sedefsavas commented on #2437
@ncdc
An example of bogus yaml that fails:
[code]
"pods" indentation is wrong.
[code]

[2020-03-04 00:19] vincepri commented on #2518
Looked at this issue with @sedefsavas a little ago, it seems like that regardless of the annotation, we're able to get around OpenAPI validation defined on the stored version (v1alpha3).

Result when reading back the object:
[code]

The `clusterName: ""` is the interesting piece, in v1alpha3 we added the `ClusterName` field as required, it also has `// +kubebuilder:validation:MinLength=1` as marke

[2020-03-04 00:27] vincepri commented on #2513
Closing in favor of https://github.com/kubernetes-sigs/cluster-api/issues/2442

/close

[2020-03-04 00:27] #2513 closed

[2020-03-04 00:27] #2459 closed

[2020-03-04 00:28] vincepri commented on #2510
/milestone Next
/priority awaiting-more-evidence
/help

[2020-03-04 00:28] vincepri commented on #2515
/assign @fabriziopandini
/milestone v0.3.x
/priority backlog

[2020-03-04 00:29] vincepri commented on #2516
/assign @fabriziopandini
/priority important-soon
/milestone v0.3.x

[2020-03-04 00:30] liggitt commented on #2518
are you asking why v1alpha3 validation doesn't run when submitting a v1alpha2 request?

[2020-03-04 00:33] liggitt commented on #2518
If you want to add a new field in v1alpha3 AND make it required, you have to ensure every existing v1alpha2 object converts to a valid v1alpha3 object by providing a default value for that field in conversion

[2020-03-04 00:46] sedefsavas commented on #2442
I can wrap up this issue if it is okay. Assigning it to myself.

/assign

[2020-03-04 00:50] vincepri commented on #2518
🙂 good question! Things got complicated here because we usually assume the field can be converted from a label. The history behind `clusterName` is that it was a label before, it has been "required" as in the controller would error out if the field wasn't set.

The assumption I was making might be wrong, but I was expecting the following:
1. Submit a v1alpha2 object, the label isn't set,  object i

[2020-03-04 00:52] liggitt commented on #2518
I'm mobile at the moment, but I think conversion to the storage version happens post validation (validation was historically concerned with ensuring good input from the user and conversion was assumed to be a mechanical known-good operation)

[2020-03-04 01:03] vincepri commented on #2518
Thank you, if that's the assumption I can think of some solutions:

- Add a check to require the `cluster-name` label in validation webhooks — once we move to `MatchPolicy: Equivalent` this should also for v1alpha2 converted object and return an error.
- Add a check to controllers and error out (less preferred, but definitely a quicker fix).

[2020-03-04 01:26] vincepri commented on #2507
/assign
/milestone v0.3.0-rc.3

[2020-03-04 01:37] ncdc commented on #2507
@sedefsavas did you have any `Machines` for the `KubeadmControlPlane`?

[2020-03-04 01:39] ncdc commented on #2437
@sedefsavas thanks. The first test case (bogus json) is not quite this. Instead, it's to have a resource where the `cluster.x-k8s.io/conversion-data` has invalid json, but the rest of the data is correct. We are trying to trigger an error e.g. here: https://github.com/kubernetes-sigs/cluster-api/blob/25a933a307b1495edc13f6bf7186c9d3328415e8/api/v1alpha2/conversion.go#L46-L47

[2020-03-04 02:15] vincepri commented on #1727
/milestone v0.3.x

[2020-03-04 02:16] vincepri commented on #1727
Bumping this from the milestone for now until we find someone that can tackle the issue

[2020-03-04 02:45] wfernandes commented on #2404
So I'm going to start implementation but before I do, I'd like to get some consensus.

Instead of passing in another flag for overrides or OS env variable, I think it would make sense to use the same directory that `clusterctl.yaml` is in.
That is, if we do `clusterctl --config=/my/dir/path/clusterctl.yaml`, we would look for the overrides in `/my/dir/path/overrides`.
I'm using the `overrides` dir

[2020-03-04 05:56] prankul88 commented on #2252
@vincepri Sorry I was occupied with something else.
Anyone else interested can take this up. I will unassign myself in the meanwhile.

/unassign

[2020-03-04 08:44] fabriziopandini opened #2521 "[clusterctl] Custom upgrade fails when upgrading only infra provider"
**What steps did you take and what happened:**
when running
[code]
I got
[code]
**What did you expect to happen:**
To upgrade without error

**Anything else you would like to add:**
the error is becasue `--core` flag is not specified, and being `--core` a string and not a slice of strings like `--bootstrap`,  it requires a special treatment here https://github.com/kubernetes-sigs/cluster-api/blob/

[2020-03-04 09:35] fabriziopandini commented on #2516
@detiber @vincepri this is tricky because there is no guarantee that a YAML without env variables is a valid YAML.

e.g nothing prevents that the variable is the image repository or the image tag

In other words, from a clusterctl PoV only a fully compiled YAML can be input for further processing, like e.g. inspecting images.

[2020-03-04 09:36] fabriziopandini commented on #2252
/remove lifecycle/active

[2020-03-04 09:41] fabriziopandini commented on #2404
@wfernandes this was one on my suggested options, so I'm ok

not sure if linking the override folder to the config file is ok for @vincepri who expressed +1 for “make the override folder configurable“

[2020-03-04 09:51] fabriziopandini commented on #2252
/remove-lifecycle active

[2020-03-04 12:54] neolit123 commented on #2226
i see, this does not seem desired, indeed.

i'm trying to think of a way to delegate the complexity of manual edits to the air-gapped use case only for PATCH level upgrades. ultimately with an internet connection the "mapping mechanic" can fetch from the internet:
https://github.com/kubernetes/kubernetes/blob/master/build/dependencies.yaml

for air-gapped however there has to be exact pinning.

ma

[2020-03-04 15:11] #2521 closed

[2020-03-04 15:31] kacole2 commented on #2450
@randomvariable I just received this same error.
[code]

[2020-03-04 15:39] chuckha commented on #2398
let's leave it in v0.3.0 and if it looks like it will merge today i'll put it in the RC milestone

[2020-03-04 15:41] rudoi commented on #2226
I think the above two pieces of information lead me to be in favor of a documentation-only approach, with maybe some code for making ClusterConfiguration pieces mutable and updating the kubeadm configmap when those pieces change(?).

- I expect `kubeadm` to pick my `etcd` version for me.
- If I want to use a custom image for `etcd`, I expect to interact with Kubeadm's configuration.
- I expect `ku

[2020-03-04 15:48] ncdc commented on #2226
FWIW, I'd like to see kubeadm get out of the business of installing CoreDNS...

[2020-03-04 16:30] fabriziopandini commented on #2515
/lifecycle active

[2020-03-04 16:54] detiber commented on #2226
That is part of the goal of the cluster-addons project: https://github.com/kubernetes-sigs/cluster-addons

[2020-03-04 16:55] chuckha commented on #2143
/assign
/lifecycle active

[2020-03-04 17:03] #2447 closed

[2020-03-04 17:04] ncdc commented on #2226
It sounds like we'd at least want to consider adding code to KCP to allow mutation of `KubeadmControlPlane.Spec.KubeadmConfigSpec.ClusterConfiguration.Etcd.Local` - at least the `ImageMeta` part. And then have KCP sync those values to the kubeadm ConfigMap in the workload cluster.

I do also think KCP should adjust the image tag for the container in the kube-proxy DaemonSet.

Maybe we leave CoreDN

[2020-03-04 17:07] michaelgugino opened #2527 "Cluster Autoscaler scale from zero UX"
Cluster Autoscaler supports scale from zero for cloud-native providers.  This is done via compiling CPU, GPU, and RAM info into the cluster autoscaler at build time for each supported cloud.

We are attempting to add cluster-api support to the cluster-autoscaler to scale machinesets, machinedeployments, and/or other groupings of machines as appropriate.  We are trying to keep an abstraction which

[2020-03-04 17:08] chuckha opened #2528 "[doc] book image references are wrong"
Looks like the controllers have all moved in one directory and caused the images to start 404ing. No big deal, just need to update the paths in the images.

/kind bug
/area documentation
/assign
/lifecycle active
/milestone v0.3.0-rc3

[2020-03-04 17:09] detiber commented on #2226
This might be a bit tricky as we've modified the types a bit and do not have the defaulting logic that exists in `kubeadm`. Additionally, we are using the `v1beta1` kubeadm types and I would expect the ConfigMap to be the latest that the version of kubeadm that created the configmap supports.

[2020-03-04 17:10] ncdc commented on #2226
What defaulting are you referring to here?

Assuming the structure of the etcd image metadata is consistent, we'd just do a patch, which will work with all api versions

[2020-03-04 17:12] detiber commented on #2226
The API types defaulting that is applied by Kubeadm

[2020-03-04 17:14] ncdc commented on #2226
I don't think there's any defaulting (as in scheme defaulting) that's applicable here?

[2020-03-04 17:18] ncdc commented on #2226
From what I see, the only things it defaults are
- Enable local etcd if neither external nor local is specified
- Set the default data dir if it's local and the dir is empty

[2020-03-04 17:36] kacole2 commented on #2495
@fabriziopandini I'm hitting this same exact error. However, I have no idea how to fix this. Is there something I can do to change my configuration? I'm not sure what character it's finding that's producing this error:
[code]

[2020-03-04 17:37] #1550 closed

[2020-03-04 17:37] #2515 closed

[2020-03-04 17:53] #2507 closed

[2020-03-04 17:53] #2143 closed

[2020-03-04 18:15] #2480 closed

[2020-03-04 18:27] vincepri commented on #2484
/close

Closing now that the PR has been merged

[2020-03-04 18:27] #2484 closed

[2020-03-04 18:33] dlipovetsky commented on #1565
Thanks for asking!

No objections. But I would like to leave a note about CAPD in the quick start that contains a link to the separate doc.

Forgive me, but I don't know the motivation for this. In general, I think CAPD should be as easy to use as any other provider.

[2020-03-04 18:39] vincepri commented on #1565
You can still use it, and we'll provide some automation around it for developers. The main issue having CAPD in clusterctl is that there won't be published artifacts, in the form of a github release. When I chatted with @fabriziopandini we thought it'd make sense to document now the necessary steps to use CAPD with clusterctl in the book, and rework the development experience in a patch release

[2020-03-04 19:47] sedefsavas commented on #2437
Ah, I see. Thanks!

Okay tested the following bogus json and it throws conversion error as expected:

[code]
[code]

[2020-03-04 19:49] ncdc commented on #2226
Here's my latest proposal:

First, forget the discussion about a custom ConfigMap that maps Kubernetes versions to etcd/CoreDNS versions, at least for the time being. We can get upgrades without this.

# etcd
- relax the validating webhook to allow mutations to the etcd image details in KCP spec
- add code that syncs the etcd image details from the KCP to the kubeadm-config ConfigMap in the worklo

[2020-03-04 19:50] ncdc commented on #2437
Yay! 🎉

[2020-03-04 20:14] dlipovetsky commented on #1565
But it won't be as easy to use CAPD as other providers.

Can I help with this, or anything else that allows us to keep CAPD a "first-class" provider?

[2020-03-04 20:27] fabriziopandini commented on #1565
@dlipovetsky all the clusterctl provider management assumes there are published artifacts for a provider.
the documentation

[2020-03-04 20:32] Anuj2512 opened #2535 "When deploying cluster with control-plane-count = 3, api server is not responding during scaling"
**What steps did you take and what happened:**

When I am using `CONTROL_PLANE_MACHINE_COUNT: 3` while creating cluster on AWS/VSphere environment, noticed that the api server is not up/responding for in between. Mainly during the control plane vm are being scaled from count=1 to count=3 and for some time after the control plane nodes are up.

Noticed this thing happening when trying to apply `clu

[2020-03-04 20:32] ncdc commented on #1565
@dlipovetsky would you be willing to help maintain CAPD, including getting the various Makefiles into shape to get the bits published?

[2020-03-04 20:35] sedefsavas opened #2536 "[docs] Add a section to provider implementers doc for setting matchPolicy=Equivalent for their webhooks"
As a follow up to this issue https://github.com/kubernetes-sigs/cluster-api/issues/2442, we should add a section to "provider implementers" document suggesting that they should also set matchPolicy to Equivalent for their webhooks.

Setting matchPolicy to Equivalent enables intercepting a request if it modifies a resource listed in rules, even via another API group or version. [(more info)](https:

[2020-03-04 20:38] fabriziopandini commented on #2535
/assign
@Anuj2512 https://github.com/kubernetes-sigs/cluster-api/pull/2524 just landed with some improvement to make the creation of resources more resilient.
Could you test if this change addresses your problems?

[2020-03-04 20:44] detiber commented on #2226
I like that the etcd/kube-proxy handling avoids the need for managing k8s -> component version mappings.

It looks like we'll still need to maintain some type of mapping for the coredns upgrade handling, though.

[2020-03-04 20:47] fabriziopandini commented on #2535
/area clusterctl

[2020-03-04 20:48] ncdc commented on #2226
We _could_ start (emphasis on _start_) with no automated mapping, and document that users must be aware of CoreDNS changes and make them manually when upgrading control planes. And then in the future, figure out a way to automate it. I'd at least like to suggest we take this approach when coding, so we have all the CoreDNS upgrade plumbing in place and it's possible to do an upgrade as long as you

[2020-03-04 21:01] #2442 closed

[2020-03-04 21:02] vincepri commented on #2536
/milestone v0.3.0
/help

[2020-03-04 21:02] vincepri commented on #2536
/priority important-soon

[2020-03-04 21:18] sedefsavas commented on #2536
/assign

[2020-03-04 21:22] vincepri commented on #2226
Avoiding the mapping sounds good to me as well, users will need to input (in `dns.imageRepository/dns.imageTag` the newer version of CoreDNS they'd want when upgrading.

In the future, when we might introduce some generic mapping that can work across all of these components, thoughts?

[2020-03-04 21:36] ncdc commented on #2395
@sedefsavas which option do you prefer (hard to tell what the thumbs-up is for 😄)?

[2020-03-04 21:45] detiber commented on #2226
+1, I definitely think this is the safest and most conservative approach we can take for now.

I think my biggest concern here is less around the image upgrade, but rather what happens if we update the image across a boundary that requires an updated core file. Do we end up in a situation where we have taken a functional workload cluster running working applications to breaking all service resolut

[2020-03-04 21:51] ncdc commented on #2226
Totally agree we can't break people if we change the image version and not migrate the Corefile. So we need to pull that in for now, I think.

[2020-03-04 21:57] sethp-nr commented on #2226
I think one of the wisest decisions core Kubernetes made in modeling Pods was to not consider the "version" of a container as somehow separate from and above its configuration. As a cluster operator, I tend not to think of versions of components like DNS or etcd so much as the overall configuration, of which container image tag is a part.

From my perspective, being able to identify out-of-date co

[2020-03-04 22:09] sethp-nr commented on #2226
Another way to put my question is that a kubernetes upgrade requires N moving parts, where N > 3. A lot of those parts have been identified in excellent detail in this thread, which is valuable in and of itself, but it's my supposition that not every part will or could be addressed by the v1alpha3 release of cluster-api. I've had success orchestrating management of both the kube-dns Deployment and

[2020-03-04 22:39] dlipovetsky commented on #1565
Yes!

[2020-03-04 23:23] sedefsavas commented on #2395
Closing https://github.com/kubernetes-sigs/cluster-api/issues/1910, most of the discussions there do not apply anymore as we propose a new CRD here. Copying some concerns discussed there that still apply (we also have them in the [design doc](https://docs.google.com/document/d/1lWLGN66roMjXL49gKO6Dhwe7yzCnvgrCtjR9mu4rvPc/edit?usp=sharing)

1- Do we keep the thunks to be applied in secrets or confi

[2020-03-04 23:23] sedefsavas commented on #1910
/close

[2020-03-04 23:27] sedefsavas commented on #1910
@timothysc Can you please close this issue? I summarized whatever we have here in the this [RFE](https://github.com/kubernetes-sigs/cluster-api/issues/2395)

[2020-03-04 23:29] detiber commented on #1910
/close

[2020-03-04 23:29] #1910 closed

[2020-03-04 23:34] michaelgugino commented on #2369
It's unclear to me what the annotations are for in the description.

I think I like the idea of having an opaque object for the cluster-autoscaler to interact with instead of having to code it to handle a variety of types (which may expand in the future).

Perhaps, though, this new CRD is better targeted at the cluster-autoscaler directly, rather than the cluster-api.  This way, there could be oth

[2020-03-05 00:04] #2536 closed

[2020-03-05 01:08] vincepri commented on #2226
Chatted with @sethp-nr over Zoom. It seems the main concern was separation of responsibilities between Cluster API and Kubeadm, and provide ways to disable behaviors (like CoreDNS upgrade) at least until we have a better solution in place.

We agreed that adding a flag to KCP so folks can opt out is a good mid-term solution, and while we learn from users over time, we'll revisit and adjust.

I'll

[2020-03-05 01:10] dlipovetsky commented on #1565
I talked to @vincepri offline.

1. There's no way to release CAPD today (in short, CAPD is a go submodule, our prow jobs are not currently set up to work with a go submodule)
1. Official CAPD release might signal that it's acceptable for uses other than testing
1. No one available to maintain a separate CAPD release, e.g. patching, back-porting

Because of (1), we will not be able to release CAPD

[2020-03-05 02:16] Anuj2512 commented on #2535
@fabriziopandini I tried with your fix  #2524, It still does not fix the issue.

As I noticed, when the new(second/third) control-plane vm is up, for few seconds, API server is not responding and none of the kubectl command works meaning API server is unavailable for some time.
And at that time, I still got the same error.
[code]

It happens exactly at the time when `READY REPLICAS` becomes 2 from

[2020-03-05 02:35] CecileRobertMichon commented on #2450
+1 I just got the same error

[code]

[2020-03-05 14:31] voor commented on #2389
After reviewing the design docs for `clusterctl` this part stands out:

For that reason, it either makes sense to pull that functionality specifically into a `kubectl` plugin, or look at `clusterctl` itself as a kubectl plugin.

If the intended audience is *just* cluster admins and individuals upgrading provider components, then a single cli for that makes sense, but if "end users" are also meant

[2020-03-05 14:34] chuckha opened #2541 "[clusterctl] e2e go mod needs updating"
the framework is no longer its own module, but the go.mod in the clusterctl e2es has not been updated and is causing editors and go mod tidy to break in `cmd/clusterctl/test/e2e`.

as of this PR: https://github.com/kubernetes-sigs/cluster-api/pull/2512/files

/kind bug
/assign @fabriziopandini
/priority important-soon

[2020-03-05 14:37] voor opened #2542 "Provide a better experience for adding kubeconfig"
**User Story**

As an end user I am connecting to the management cluster to create a new workload cluster and then accessing that cluster through `kubectl`.

**Detailed Description**

I need to get the KUBECONFIG for the new workload cluster.

I currently do that through one of two ways:
[code]

Alternatively,
[code]

The first case allows me to use other tools like `kubectx` to switch between clu

[2020-03-05 15:05] vincepri opened #2543 "KCP: Handle `etcd` upgrades"
This issue is a follow-up to #2226.

- relax the validating webhook to allow mutations to the etcd image details in KCP spec
- add code that syncs the etcd image details from the KCP to the kubeadm-config ConfigMap in the workload cluster

/kind feature
/milestone v0.3.0
/priority critical-urgent
/area control-plane

[2020-03-05 15:05] vincepri commented on #2543
cc @chuckha

[2020-03-05 15:06] vincepri opened #2544 "KCP: Handle `kube-proxy` upgrades"
This issue is a follow-up to #2226.

- add code to KCP controller to update the kube-proxy DaemonSet in the workload cluster to match KCP.spec.version
- images must be pullable (public or private registry), as the DaemonSet applies to all nodes in the workload cluster, and the OS images from which they booted won't have version n (current version) and n+1 (new version) both preloaded
- we may need

[2020-03-05 15:06] vincepri commented on #2544
cc @detiber  @sedefsavas

[2020-03-05 15:07] vincepri opened #2545 "KCP: Handle `CoreDNS` upgrades"
This issue is a follow-up to #2226.

1. relax the validating webhook to allow mutations to the CoreDNS image details in KCP spec
1. add code to KCP controller that syncs the CoreDNS image details from the KCP to the kubeadm-config ConfigMap in the workload cluster
1. add code to the KCP controller that performs a Corefile migration, if necessary
1. add code to the KCP controller that updates the c

[2020-03-05 15:22] vincepri commented on #2545
/assign

[2020-03-05 15:29] detiber commented on #46
/close
closing, since we accepted the above mentioned failure domain proposal

[2020-03-05 15:29] #46 closed

[2020-03-05 15:36] michaelgugino commented on #2398
We need to update the first comment or title to reflect that this is specifically about upgrades.

[2020-03-05 15:42] ncdc commented on #2226
Thank you @vincepri & @sethp-nr for chatting face to face. I'm glad it sounds like you were able to clear things up. The plan is 👍 for me.

[2020-03-05 15:44] ncdc commented on #2545
I think my preference re using a feature gate vs spec field to enable/disable CoreDNS upgrades would be a spec field that defaults to false, so you have to deliberately opt in. WDYT?

[2020-03-05 15:48] detiber commented on #2545
I'm a +1 on the use of a feature gate here

[2020-03-05 15:50] ncdc commented on #2545
And not controlling it per cluster?

[2020-03-05 15:54] detiber commented on #2545
per-cluster may be nice, but without having some type of real requirement around per-cluster granularity for use of the feature and that this should eventually fall under the purview of the addons manager, I think avoiding adding a field would help with type stability as we try to move towards beta types.

[2020-03-05 15:54] vincepri commented on #2545
Chatting with @sethp-nr, and brainstorming a little more, we might want to have this configurable by cluster / KCP instance, so I was thinking we can add a new field and be opt-out.

My reasoning to have it be opt-out was mostly because I'd like to maintain feature parity with what kubeadm upgrade would do today, but open to suggestions.

[2020-03-05 15:57] randomvariable commented on #2544
kubeadm would typically bump the kube-proxy daemonset during the control plane upgrade, so maybe in the first instance don't need to do the final bullet point?

at some point, would also need to account for clusters not running kube-proxy where that feature is implemented in the CNI. Calico is about to head in this direction (has experimental support for replacing kube-proxy with itself today)/

[2020-03-05 15:58] detiber commented on #2544
It should be pretty easy to skip the logic if the kube-proxy daemonset doesn't exist.

[2020-03-05 15:59] vincepri commented on #2545
thinking about the data model, I was going to propose we can add in KCP:

[code]

naming tbd of course, but something that potentially can be expanded to other addons as well

[2020-03-05 16:04] detiber commented on #2545
Would we consider it an attribute of the KubeadmControlPlane or rather an attribute of the Cluster?

In the short term, implementation wise, I would agree that it is the responsibility of KCP, but if we move to a model where an addon manager is used, it might make more sense for it to be an attribute of the Cluster.

I'm also trying to think of the case where we could eventually be talking about a

[2020-03-05 16:05] vincepri commented on #2545
with this I agree! I was thinking we could revisit in v1alpha4 or when addon management has better user stories,

[2020-03-05 16:08] ncdc commented on #2545
We are probably going to get this wrong the first time we do it and we'll probably move this around in the future 😄 but I don't see any immediate, specific harm if we have this on the KCP spec, and make it off by default. That sound ok?

[2020-03-05 16:11] ncdc commented on #2545
Chatted with Vince on Slack. He clarified that most users will expect a CoreDNS upgrade if they are manually running `kubeadm upgrade`. I'm fine going either opt-in or opt-out - whatever the consensus is, as long as we can enable/disable the behavior.

[2020-03-05 16:17] vincepri commented on #2545
Thinking about this more, we can skip the bool entirely given that users are still required to set the CoreDNS tag to trigger an upgrade.

In the future, if we provide an automated mapping we'll need to make sure to provide ways to opt-out.

Does that sound good?

[2020-03-05 16:18] ncdc commented on #2545
Yes! Also here is more backstory:

The original thinking was to have a ConfigMap or some other metadata in the management cluster that could map from Kubernetes version to CoreDNS version, and upgrade CoreDNS as necessary based on that information. We've since dropped that idea and the only way to force a CoreDNS upgrade would be to change the image tag in the KCP spec. So no need for a separate b

[2020-03-05 16:18] detiber commented on #2545
+1 to avoiding the bool/feature gate if we are limiting to the case where the user is explicitly setting the coredns image registry/tag in the config.

[2020-03-05 16:27] vincepri opened #2546 "Document CRDv1 requirement for providers"
All Cluster API providers must upgrade to CRDv1 and controller-runtime v0.5.x, we need to add documentation to the [v1alpha2 to v1alpha3 document](https://master.cluster-api.sigs.k8s.io/developer/providers/v1alpha2-to-v1alpha3.html) that provides steps to perform the upgrade.

/kind documentation
/priority critical-urgent
/milestone v0.3.0

[2020-03-05 16:36] randomvariable commented on #2541
/lifecycle active

[2020-03-05 16:39] fabriziopandini commented on #2535
cc @ytijani and @detiberusj ^^

[2020-03-05 16:40] fabriziopandini commented on #2535
cc @yastij and @detiber

[2020-03-05 16:52] detiber commented on #2535
This could very well be caused by the brief interruption that is expected when scaling the etcd cluster from 1 to 2 members, where the cluster becomes unavailable for a brief period while the second instance is still coming up and quorum is not yet established.

I'm not necessarily sure there is much we can do about this, since this would exist for any `kubeadm` managed control plane during the sc

[2020-03-05 16:54] nader-ziada commented on #2546
/assign

[2020-03-05 17:27] chuckha commented on #2543
/lifecycle active

[2020-03-05 17:31] vincepri commented on #1227
/lifecycle frozen

[2020-03-05 17:32] vincepri commented on #1102
@timothysc do you think we can close this given that we have `clusterctl` managing most of this for users?

[2020-03-05 17:33] vincepri commented on #2398
/retitle KCP: ensure machine that is being deleted during upgrades isn't the etcd leader

[2020-03-05 18:25] ncdc commented on #2226
@sethp-nr @detiber ok to close this?

[2020-03-05 18:44] vincepri commented on #1690
/lifecycle frozen

[2020-03-05 18:44] vincepri commented on #1689
/lifecycle frozen

[2020-03-05 18:45] vincepri commented on #1666
/lifecycle frozen

[2020-03-05 18:45] vincepri commented on #1629
/lifecycle frozen

[2020-03-05 18:45] vincepri commented on #1586
/lifecycle frozen

[2020-03-05 18:45] vincepri commented on #1583
/lifecycle frozen

[2020-03-05 18:46] ncdc commented on #2535
At what point in the flow did you get this error? Do you have the full output available?

[2020-03-05 18:47] detiber commented on #1583
If we expect to converge on the external cloud provider, then we can probably close this.

[2020-03-05 18:50] ncdc commented on #2535
@neolit123 @timothysc when you `kubeadm join` a control plane node, is it reasonable to expect the control plane has 100% availability during the join?

[2020-03-05 18:58] ncdc commented on #2535
Is this the test case here?
1. Create bootstrap cluster (`kind create cluster`)
1. `clusterctl init` into bootstrap cluster
1. `clusterctl config cluster ... | k apply -f -` to provision real management cluster, with 3 control plane machines
1. While the real management cluster is being set up, but before it's fully scaled to 3, you run `clusterctl init` targeting the real management cluster

[2020-03-05 19:01] Anuj2512 commented on #2535
@ncdc Yes. That is exact test case I am trying. As API server is available after the first CP node, It allows user to do run `kubectl` commands as well as `clusterctl init`. When during CP scale-up the `init` operation is failing.

[2020-03-05 19:01] detiber commented on #2535
For the test case I highly suspect that you would need to ensure that you are attempting to use the management cluster during the scaling process from 1->2 replicas, I don't believe this same type of interruption would be seen when scaling from 2->3 replicas, since quorum of the cluster should not be impacted.

[2020-03-05 19:03] Anuj2512 commented on #2535
@detiber I have seen below error even after the all 3 CP nodes are provisioned, and then I run `clusterctl init` instantly.

[code]

[2020-03-05 19:03] detiber commented on #2226
+1 from me for closing this in favor of the individual prs

[2020-03-05 19:07] detiber commented on #2535
@Anuj2512 interesting, I wouldn't expect the leader to change as part of scaling up the etcd cluster.

What type of environment are you using for the management cluster? Does it have any type of resource contention that could be causing the etcd cluster to shift the leadership?

[2020-03-05 19:07] wfernandes commented on #2483
/assign

I can take a look into this one since I'm dabbling in the clusterctl code anyways 🙂

[2020-03-05 19:11] ncdc commented on #2535
Define "provisioned", please? What are you waiting for, specifically?

[2020-03-05 19:14] Anuj2512 commented on #2535
@ncdc Provisioned, I mean all 3 replicas are in READY state as below,
[code]

@detiber I don't think so. I tried above on AWS as well as VSphere,
Out of 6-7 attempts I got `etcdserver: leader changed` error 2 times. (once on AWS and once on Vsphere). And all other attempt failed with `failed to connect to the management cluster: Get https://192.168.111.24:6443/api?timeout=32s: unexpected EOF` erro

[2020-03-05 19:40] neolit123 commented on #2535
@detiber

this can indeed happen.

@ncdc

normally what users do is wait for `kubeadm init` as it blocks for the kubelet and api server to be available, at that point joining more CP nodes using `kubeadm join` should account for the potential etcd blackout using retries.

@Anuj2512

just pointing out that this might be hard to guarantee with etcd as the backend.

if during scale for 2+, the etcd c

[2020-03-05 19:41] ncdc commented on #2535
One immediate problem:

https://github.com/kubernetes-sigs/cluster-api/blob/ac1dee8cf441dda7f1a36fd4e149e195ef16db20/cmd/clusterctl/client/cluster/cert_manager.go#L144-L146

which can encounter this error if e.g. the apiserver is having issues: https://github.com/kubernetes-sigs/cluster-api/blob/ac1dee8cf441dda7f1a36fd4e149e195ef16db20/cmd/clusterctl/client/cluster/cert_manager.go#L207

If we retu

[2020-03-05 19:46] ncdc opened #2554 "RFE: a consistent way for infrastructure providers to report bootstrap success or failure"
***Goals***
1. Provide a definitive way to determine if a machine bootstrapped successfully or not

***Non-Goals/Future Work***
1. N/A

**User Story**

As a user, I would like to know if a Machine failed to bootstrap, so that I don't have a node joining the cluster that may not be fully functional.

**Detailed Description**

There is currently nothing in the contract for infrastructure providers f

[2020-03-05 19:46] ncdc commented on #2554
xref https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/972 for the original report

[2020-03-05 19:48] vincepri commented on #2554
/milestone Next

[2020-03-05 19:53] fabriziopandini opened #2555 "clusterctl: Allow set ImageRepository and ImageTag for certmanager"
**User Story**

As an operator I would like to use my own image repository for the cert-manager

**Detailed Description**
The cert-manager manifest is embedded in clusterctl so it cannot be easily changed like e.g. provider manifests. So configuration flags are required to allow to set imageRepository/ImageTag (similar to ImageMeta for etcd/CoreDns in kubeadm)

**Anything else you would like to ad

[2020-03-05 19:55] vincepri commented on #2555
I'm fine using the configuration file if that's easier, the example you posted looks good to me

/milestone v0.3.0

[2020-03-05 20:17] ncdc commented on #2555
config file ++ LGTM thx 😄

[2020-03-05 20:54] #2546 closed

[2020-03-05 20:58] saschagrunert commented on #1491
/remove-lifecycle stale

[2020-03-05 21:11] ncdc opened #2557 "Document infrastructure machine templates & immutability"
We should document that when using infrastructure machine templates (e.g. in KubeadmControlPlane, MachineDeployment, MachineSet), these templates are generally meant to be immutable. If you want to change a field in one of these templates (e.g. AWS instance type), the typical process is to duplicate an existing template, update field(s), give it a new name, and create it in the apiserver. Once the

[2020-03-05 21:13] sedefsavas commented on #2544
/assign

/lifecycle active

[2020-03-05 21:20] #2469 closed

[2020-03-06 02:50] wfernandes opened #2560 "clusterctl: Replica count env vars are not used"
**What steps did you take and what happened:**
1. Use the following [cluster-template.yaml](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/6687035717d67c8da78f9cee225096a98ee1ac8b/templates/cluster-template.yaml)
1. Move this file to the appropriate location in the overrides directory
    - `/Users/wfernandes/.cluster-api/overrides/infrastructure-aws/v0.5.0/cluster-template-kcp.y

[2020-03-06 03:42] SataQiu commented on #2457
/assign

[2020-03-06 07:33] moonek opened #2562 "Failed to parse ProviderID for Node "XXX": providerID is empty"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

I made cluster and controlplane.
[code]

The cluster and controlplane node are well made, and the bootstrap seemed to be successful.
The `providerID` of the controlplane machine has also been set correctly.
Even kube api on the target cluster works.
(I haven't installed cni yet, so target

[2020-03-06 09:49] fabriziopandini commented on #2535
Sent a fix for ^^

[2020-03-06 12:56] enxebre opened #2565 "Node should be deleted after infraMachine is gone"
**What steps did you take and what happened:**
Delete a machine

**What did you expect to happen:**
Currently when we signal a machine for deletion we respect pod safety by honouring PDB (draining), then we delete the node, then we signal the InfraMachine for deletion.
https://github.com/kubernetes-sigs/cluster-api/blob/e9038a58adf693d7b54228f145fee85416a94a83/controllers/machine_controller.go#L27

[2020-03-06 13:01] enxebre commented on #2565
cc @JoelSpeed @detiber @ncdc

[2020-03-06 13:04] ncdc commented on #2565
👍 this has been in my head for a while but I never got around to filing. Thank you! This will also speed up deletion, because right now when we remove the `Node` from the apiserver, the kubelet is still running, and it's trying to update its `.status`, which fails. I think this causes the shutdown of the kubelet process to take longer than it otherwise would (definitely noticeable delays).

[2020-03-06 13:11] JoelSpeed commented on #2565
Should the machine controller be deleting the Node at all? I thought this was the responsibility of the K8s cloud controller manager?

From the K8s docs on [cloud-controller-manager](https://kubernetes.io/docs/tasks/administer-cluster/running-cloud-controller/)
[code]

My expectation of how this worked would have been:
- Machine is deleted by something
- Machine controller cordons/drains node
- Ma

[2020-03-06 13:22] enxebre commented on #2565
I see Cloud controller manager as something orthogonal here. We want to provide the same provider agnostic CAPI semantics/behaviour/UX and not every environment is guaranteed to have a Cloud controller manager nor to delete the node, e.g libvirt, baremetal...
Plus we are the authority source voluntarily destroying the underlying infra, I see not point on keeping the node.

[2020-03-06 13:49] fabriziopandini opened #2566 "clusterctl: manage cert-manager image changes"
**What steps did you take and what happened:**
https://github.com/kubernetes-sigs/cluster-api/pull/2558 is introducing the possibility to change the image for cert-manager during init.
However, currently, there is no way to manage successive changes to the cert-manager images, so it is necessary to introduce support for cert-manager upgrades in clusterctl

**What did you expect to happen:**
I expe

[2020-03-06 13:49] fabriziopandini commented on #2566
/assign

[2020-03-06 14:13] fabriziopandini commented on #2497
@vincepri it seems there is a use case in vSphere.
The change should be really simple. Do you want to reconsider and put this in the milestone?

[2020-03-06 14:32] detiber commented on #2566
Do we need to worry about potentially orphaning resources that may no longer be part of a new cert-manager release, but were part of an older release?

[2020-03-06 14:42] fabriziopandini commented on #2566
@detiber since the manifest is statically embedded and we are supporting only image version changes, I think the proposed trade-off is acceptable (there won't be orphaned resources unless the manifest is changed, but this requires a release)

[2020-03-06 14:43] detiber commented on #2565
Just to echo some of the points above (and expand a bit) on the reasons we added the Node deletion. It was indeed to remain consistent in cases where a provider may not have an associated CCM, but also to provide consistency in cases where there were different behaviors exhibited by CCMs for different providers. I believe maintaining consistency here is important.

We can definitely talk about try

[2020-03-06 14:49] detiber commented on #2566
@fabriziopandini sgtm, I'm wondering the best place to document that we should verify this manually prior to updating the manifests or at least prior to releasing.

[2020-03-06 15:01] detiber commented on #2562
I would expect to see that message as long as Machine.Spec.ProviderID is not populated for the machine, which should be copied from the related VSphereMachine.Spec.ProviderID.

It sounds like there might be an issue with the kubeadm JoinConfiguration that is being passed to the worker Machine for bootstrapping.

[2020-03-06 15:44] vincepri commented on #2497
Sure, if you think it's valuable, let's do it

/milestone v0.3.0

[2020-03-06 15:49] SataQiu commented on #2457
Ref: #2552

[2020-03-06 15:49] vincepri commented on #1565
/milestone v0.3.x

Moving from being release-blocking

[2020-03-06 15:49] vincepri commented on #1990
/milestone v0.3.x

[2020-03-06 15:51] vincepri commented on #2226
Closing this for now, tracking in the individual issues linked above, thanks all!

/close

[2020-03-06 15:51] #2226 closed

[2020-03-06 15:55] fabriziopandini commented on #2497
/lifecycle active

[2020-03-06 15:56] enxebre commented on #2565
/assign @enxebre

[2020-03-06 16:00] wfernandes commented on #2404
So after digging more into the codebase and implementing a solution, a thought came to me.

**Do we need the overrides directory** if we ask the user to update the `~/.cluster-api/clusterctl.yaml` with the appropriate filepath url?

That is, if the users have their local releases in a directory like `~/workspace/releases/infra-aws/v0.5.0/infra-comp.yaml`, they can just specify that path in the `cl

[2020-03-06 16:13] fabriziopandini commented on #2404
@wfernandes let's zoom/chat when you pickup the issue again next week

I'm not sure I fully understand your idea above, but changing the provider URL in the config file can't fix the issue that arises when running E2E tests and existing overrides leak-in.

Get local overrides is called when reading from a repository the component yaml, metadata and also cluster-templates

[2020-03-06 16:23] #2438 closed

[2020-03-06 16:43] #2497 closed

[2020-03-06 17:26] vincepri commented on #2566
/milestone v0.3.x

[2020-03-06 17:39] vincepri commented on #2560
/milestone v0.3.x

[2020-03-06 17:39] vincepri commented on #2565
/milestone v0.3.x

[2020-03-06 17:39] vincepri commented on #2542
/milestone Next

[2020-03-06 17:40] vincepri commented on #2535
/milestone v0.3.x

[2020-03-06 17:40] vincepri commented on #2541
/milestone v0.3.x

[2020-03-06 17:56] vincepri opened #2572 "Misleading log line during KCP upgrades"
This line https://github.com/kubernetes-sigs/cluster-api/blob/ac1dee8cf441dda7f1a36fd4e149e195ef16db20/controlplane/kubeadm/controllers/kubeadm_control_plane_controller.go#L508 is confusing when reading through the logs:

Example:
[code]

Specifically "adding removing" should become "removing".

/kind bug
/milestone v0.3.x
/good-first-issue
/help

[2020-03-06 18:17] gab-satchi commented on #2572
/assign

[2020-03-06 18:52] gab-satchi commented on #2560
/assign

[2020-03-06 18:57] gab-satchi commented on #2560
/lifecycle active

[2020-03-06 18:58] vincepri commented on #2391
/milestone v0.3.x

[2020-03-06 19:09] ncdc commented on #2566
@fabriziopandini cert-manager has changed its architecture a bit in releases after 0.11. I'm not sure it's as simple as just applying a new manifest. For example, it's my understanding that the apiservice we're currently watching and waiting to be available no longer exists in newer versions, so the code we have in clusterctl to wait for cert-manager availability will have to change.

[2020-03-06 19:19] vijaykatam commented on #2566
The docs for 0.11 to 0.12 call out removal of Webhook API service. See https://cert-manager.io/docs/installation/upgrading/upgrading-0.11-0.12/#removal-of-the-webhook-api-service

[2020-03-06 19:27] #2541 closed

[2020-03-06 19:47] #2572 closed

[2020-03-06 19:56] nader-ziada commented on #2499
is the idea that `clusterctl` move should remove the NoSchedule taint after its done pivoting?

[2020-03-06 20:02] nader-ziada commented on #2499
/assign

[2020-03-06 20:02] voor commented on #2499
I think it's a little more complicated than that, what if your management cluster isn't a single node?

[2020-03-06 20:02] vincepri opened #2577 "Figure out if MHC informers should be stopped if the cluster goes away"
In the MachineHealthCheck code we run informers and we run goroutines https://github.com/kubernetes-sigs/cluster-api/blob/619071a988e13d6762d0865fccd9b52ab16cdf91/controllers/machinehealthcheck_controller.go#L416 to async track changes to workload cluster nodes.

If a cluster gets deleted the informer is never stopped, we need a spike to understand the long-term implications of not closing informe

[2020-03-06 20:10] chuckha commented on #2543
reminder to self: need to ensure that if external is set and local gets updated that should fail validation

[2020-03-06 20:15] JoelSpeed commented on #2577
/assign

I'll take a look into this

[2020-03-06 20:22] vincepri commented on #2543
@chuckha want me to open a different issue for that?

[2020-03-06 20:28] nader-ziada commented on #2499
yeah, this issue is only applicable if its a single node cluster, correct?

[2020-03-06 20:30] detiber commented on #2499
It's likely to be an issue on any cluster where there are only control plane Machines without any worker Machines.

[2020-03-06 20:31] sethp-nr opened #2578 "KCP: validate version changes are no further than one minor version"
**User Story**

As an operator, I would like to get immediate feedback when I try to ask the KCP to perform a multi-version upgrade.

**Detailed Description**

Pulling this out of #2489: if a KCP is pointing to version 1.16.x, it should reject updates that ask to upgrade the control plane directly to 1.18.x.

**Anything else you would like to add:**

I'm not sure what the semantics should be aroun

[2020-03-06 20:36] detiber commented on #2578
I think blocking downgrades outright is the safe bet. That said, we probably need to look into providing a rollback path for partially completed upgrades.

[2020-03-06 20:40] vincepri commented on #2578
/milestone v0.3.x

[2020-03-06 20:45] ncdc commented on #2565
/lifecycle active

[2020-03-06 20:45] ncdc commented on #2555
/lifecycle active

[2020-03-06 20:49] #2555 closed

[2020-03-06 20:50] nader-ziada commented on #2499
I guess I'm trying to figure out what the expected behaviour should be:
 - clusterctl checks if there are no workers and remove the NoSchedule taint
 - clusterctl checks if there are no workers and gives an error message
 - clusterctl does nothing and we add an item in docs to clarify the requirements of the target cluster

[2020-03-06 20:58] ncdc commented on #2518
@vincepri @sedefsavas we do not currently have webhook validation logic that requires spec.clusterName. If you add that, and then try to create using the yaml above, you get this:

[code]

[2020-03-06 21:09] detiber commented on #2499
We can likely add a check to clusterctl that looks at the cluster's Nodes to see if there are any that have the problematic NoSchedule taint and returns an error if so.

I don't think we should modify taints on the management cluster's Nodes, though.

[2020-03-06 21:12] nader-ziada commented on #2499
makes sense to me, will work on that

[2020-03-06 21:12] voor commented on #2499
Maybe if you only have master nodes (specifically look for the `node-role.kubernetes.io/master` key), fire off an error message and prompt for a `--with-tolerations` option that could re-do the same operations with a toleration for the NoSchedule key?

[2020-03-06 21:13] vincepri commented on #2518
Are we going to end up having to duplicate OpenAPI validations in webhooks?

[2020-03-06 21:17] vincepri commented on #2395
Another use case we might want to think about:

To improve the user experience, infrastructure providers could ship with a default storage class which should be applied after the cluster is initialized

[2020-03-06 21:21] vincepri commented on #2499
This is something we should do today, if we can get it in v0.3.0 that'd be great!

[2020-03-06 21:58] chuckha opened #2580 "[kubeadm control plane] ensure etcd settings are correct"
If a user uses the external setting of etcd we need to make sure changes to the local etcd don't validate in the web hook because defining both external and local doesn't make any sense as far as kubeadm config is concerned

/kind bug
/assign
/priority important-longterm

[2020-03-06 21:58] chuckha commented on #2543
got it, #2580

[2020-03-06 22:05] vincepri commented on #2580
/help
/milestone v0.3.x

Although it would be nice to have in v0.3.0, maybe @nader-ziada or @gab-satchi are interested in helping here?

[2020-03-06 22:09] #2543 closed

[2020-03-06 22:13] nader-ziada commented on #2580
I. can work on it, but not sure whats needed yet

/assign

[2020-03-07 12:48] fabriziopandini commented on #2566
@ncdc @vijaykatam
I apologize, but probably the title of the issue created some confusion.

The proposed solution is designed "to manage successive changes to the cert-manager images" not for managing "full" cert-manages upgrades like 0.11 --> 0.12

I'm changing the title of the issue to make this more clear

[2020-03-07 22:28] rudoi opened #2584 "CAPI can't find AWSMachine ref that exists"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

`kubectl scale md -n ar1a ar1a-nodes-4 --replicas 2`

[code]

[code]

The CAPA controller doesn't seem to be reconciling the object also, idk what kind of ridiculous state I'm in here...

🤔

**What did you expect to happen:**
It to find the AWSMachine.

**Environment:**

- Cluster-api ver

[2020-03-08 00:24] rudoi commented on #2584
I actually can't reproduce this, works fine on a fresh cluster. Closing for now and will revisit next week.

/close

[2020-03-08 00:24] #2584 closed

[2020-03-08 16:44] vincepri commented on #1810
/lifecycle frozen

[2020-03-08 18:10] rhockenbury opened #2585 "MachineDeployment should support spec.deletePolicy (like MS)"
**What steps did you take and what happened:**

`deletePolicy` was implemented in https://github.com/kubernetes-sigs/cluster-api/pull/726 by adding a property to the `machineSet` to define the deletion policy (random, oldest, newest).

How is this intended to be leveraged since most users are only directly creating the `machineDeployment` api objects?  I would have expected the `machineDeployment`

[2020-03-08 18:17] cpanato commented on #2476
@vincepri how can i discovery or know the version to create this documentation for CAPI?

[2020-03-08 18:42] rhockenbury commented on #2217
@akutz @yastij Would you mind taking a look at this?

[2020-03-09 10:33] cloudmaniac commented on #2120
Was the documentation updated somewhere? I just had the exact same issue and I couldn't find a branch where the documentation mention kind version.

[2020-03-09 10:48] jan-est opened #2587 "Scale in support for KCP"
I would like to start an discussion about KCP scale in support. This feature is much needed in small baremetal clusters where operators don't want to run idle resources for upgrade and all possible resources are in use.

User Story

As an operator I would like to update my baremetal control plane machines without having additional baremetal machines.

Detailed Description

KCP upgrade should suppo

[2020-03-09 12:54] fabriziopandini commented on #2434
/assign
/lifecycle active

[2020-03-09 13:51] randomvariable opened #2591 "etcd state stalls control plane bootstrapping on 3rd node"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
When specifying a 3-node control plane, in certain infrastructures, the 3rd machine bootstrap fails.

First reported by @CecileRobertMichon:
[code]

with KCP status:
[code]

**What did you expect to happen:**
3 node cluster bootstraps successfully

**Anything else you would like to add:**

[2020-03-09 13:51] randomvariable commented on #2591
Taking a look on CAPV side.

[2020-03-09 14:02] fabriziopandini commented on #2591
is it possible to get etcd logs (from all the 3 members)?

[2020-03-09 14:28] vincepri commented on #2587
/milestone Next
/kind proposal

[2020-03-09 14:41] vincepri commented on #2591
Is it possible to test with `rc.3`?

[2020-03-09 15:00] detiber commented on #2585
It looks like we'll likely need to expose this through the MachineRollingUpdateDeployment type for MachineDeployments

[2020-03-09 15:00] vincepri commented on #2518
Bumping investigation / possible fixes to v0.3.x

/milestone v0.3.x

[2020-03-09 15:01] vincepri commented on #2437
Closing this for now, I think the only issue to figure out is going to be #2592. Thanks again @liggitt for the help and guidance!

/close

[2020-03-09 15:01] #2437 closed

[2020-03-09 15:17] chuckha commented on #2244
I'll pick this up

/assign
/lifecycle active

[2020-03-09 15:28] vincepri commented on #2585
This seems like it can be made in a future release as a non-breaking change

/milestone v0.3.x

[2020-03-09 15:44] chuckha commented on #2244
@ncdc

I'm a little confused as to why these are included. In my mind they don't relate to the control plane and should be covered by the machine deployment documentation, but I'm curious about your thinking. Can you expand on what you'd like to see relating to these bullet points and how they relate to the kubeadm control plane?

[2020-03-09 15:49] ncdc commented on #2244
The MD & MS bits were for general upgrades. If your goal is to upgrade a cluster, you'd want to know how to do the control plane and the workers. I think our documentation organization likely needs improvement (#2146) and if you want to focus on just the control plane aspect for now, 👍.

[2020-03-09 17:00] CecileRobertMichon opened #2596 "Agent nodes have role of "<none>""
**User Story**

As a [developer/user/operator] I would like to [high level description] for [reasons]

**Detailed Description**

Currently, capi clusters have agent nodes with role `<none>`:

[code]

We should consider applying a role in capi since this isn't anything provider specific.

ref: https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/423

[A clear and concise description

[2020-03-09 17:03] CecileRobertMichon commented on #2591
@vincepri I was testing with `rc.3`

[2020-03-09 17:06] johnlam90 commented on #2591
@vincepri seeing this on rc.3

[2020-03-09 17:56] wfernandes opened #2599 "Improve CoreDNS support and validation in KubeadmControlPlane"
**User Story**

As part of issue https://github.com/kubernetes-sigs/cluster-api/issues/2545, we added a dependency on github.com/coredns/migration. It was added in PR: https://github.com/kubernetes-sigs/cluster-api/pull/2574.

This library needs to be kept up to date if we are to support future coredns version upgrades so we will need automation to check for upgrades in this library and update our

[2020-03-09 18:03] fabriziopandini opened #2600 "Docs - Change of latest version number in the quick-start"
**Detailed Description**
rif https://github.com/kubernetes-sigs/cluster-api/pull/2590#discussion_r389736630

In the Cluster API quick-start there are instructions about how to download the latest release, but the release number gets quickly outdated.
We should consider if to document to changes this as part of the release process.

**Anything else you would like to add:**
It will be great if there

[2020-03-09 18:08] fabriziopandini opened #2601 "Docs: evaluate if possible to remove install.md"
**Detailed Description**
rif. https://github.com/kubernetes-sigs/cluster-api/pull/2590#discussion_r389754110

The Cluster API quick-start imports the `install.md` file which is basically the quickstart minus setting up the workload cluster. If possible, we should we get rid of this file and merge all its content into `quick-start.md`.

**Anything else you would like to add**:
Before implementig th

[2020-03-09 18:38] chuckha opened #2602 "[kubeadm control plane] consider modifying ready checks"
The KubeadmControlPlane status looks at nodes within the workload cluster. Since the kubeadm control plane controller should not (can not?) be tied to resources on a different cluster from where the controller is running, we may need an alternative ready check. One that bubbles up through Machines.

Perhaps if the Machine's ready relies on the Ready status (maybe it already does) then we can use t

[2020-03-09 18:41] chuckha opened #2603 "[kubeadm control plane] enable upgradeAfter field to be modifiable"
Allow upgradeAfter field to be modifiable to enable image-level upgrades on a control plane

/kind bug
/milestone v0.3.0
/priority critical-urgent
/assign
/lifecycle active

[2020-03-09 18:52] detiber commented on #2602
An alternative using Machines as an intermediate here is to take a similar approach to what the MachineHealthCheck controller is doing around setting up Watches for Nodes on the workload clusters.

[2020-03-09 18:56] chuckha commented on #2602
oh if there's already a precedent for watching workload cluster nodes, i'm +1 that approach

[2020-03-09 19:11] #2603 closed

[2020-03-09 19:41] #2544 closed

[2020-03-09 19:56] vincepri commented on #1582
Do we still need this issue in the future or have we set on cloud-init for now?

[2020-03-09 19:56] detiber commented on #1582
If we want to support other base OSs in the future (such as Flatcar Linux), we'll still need to look into this.

[2020-03-09 19:57] vincepri commented on #1582
/lifecycle frozen

[2020-03-09 20:10] sedefsavas opened #2606 "Add version check during `kube-proxy` daemonset upgrade"
**User Story**

As a user/operator I would like to see errors if the version I have in KCP spec.Version is not valid for kube-proxy upgrades (such as current kube-proxy version is higher.)

**Detailed Description**

CoreDNS upgrade already has semver validation so once [the PR](https://github.com/kubernetes-sigs/cluster-api/pull/2574) is merged we can reuse some part of that check.
We can also add

[2020-03-09 20:17] ncdc commented on #2606
@sedefsavas since the kube-proxy version matches the overall cluster version in the KubeadmControlPlane spec, would this be covered by #2578?

[2020-03-09 20:17] ncdc commented on #2606
(i.e. do you think we need a separate issue for this?)

[2020-03-09 20:23] sedefsavas commented on #2606
Yes, good point! Closing this.

[2020-03-09 20:23] #2606 closed

[2020-03-09 20:29] vincepri commented on #2244
/milestone v0.3.x

[2020-03-09 20:31] #2580 closed

[2020-03-09 20:34] vincepri commented on #2454
/milestone v0.3.x

[2020-03-09 20:35] vincepri commented on #2454
Bumping this given that it seems the upstream grpc fix might not go in soon

[2020-03-09 20:35] vincepri commented on #2214
/milestone v0.3.x

[2020-03-09 20:36] vincepri commented on #2398
/milestone v0.3.x

[2020-03-09 21:00] CecileRobertMichon commented on #2591
etcd logs from the second control-plane of a repro where kubeadm join failed with the error above:

[etcd-capz-tls-control-plane-88l4f.log](https://github.com/kubernetes-sigs/cluster-api/files/4308887/etcd-capz-tls-control-plane-88l4f.log)

[2020-03-09 21:20] detiber commented on #2591
The sync delays and errors for reads taking too long are a bit worrisome. What type of disks are backing the control plane instances? What does the networking look like between the instances?

[2020-03-09 21:41] neolit123 commented on #2591
RAID controllers?
https://github.com/kubernetes/kubernetes/issues/88111#issuecomment-595191235

[2020-03-09 22:02] johnlam90 commented on #2591
Tried about 5 times today, got it working once where it deploys all 3 masters, but here are the logs for the failures.

First control plane [mycluster-b555r.log](https://github.com/kubernetes-sigs/cluster-api/files/4309120/mycluster-b555r.log)

Second control plane [mycluster-xts2n.log](https://github.com/kubernetes-sigs/cluster-api/files/4309124/mycluster-xts2n.log)

Environment:
vsphere: 6.7U3
O

[2020-03-09 22:09] vincepri commented on #2591
@johnlam90 What kubernetes version are you using out of curiosity?

[2020-03-09 22:11] johnlam90 commented on #2591
@vincepri 1.16.7

[2020-03-09 22:17] #2434 closed

[2020-03-10 01:07] sedefsavas opened #2608 "KCP: Add e2e tests for kube-proxy daemonset upgrade"
We should add e2e tests using the e2e framework to test kube-proxy daemonset upgrade.
This is a follow up issue to https://github.com/kubernetes-sigs/cluster-api/issues/2544

/milestone Next
/priority backlog

[2020-03-10 01:12] sedefsavas opened #2609 "KCP: Add e2e tests for CoreDNS deployment upgrade"
We should add e2e tests using the e2e framework to test CoreDNS deployment upgrade.
This is a follow up issue to https://github.com/kubernetes-sigs/cluster-api/issues/2545

/help

[2020-03-10 01:25] sedefsavas opened #2610 "KCP: Add e2e tests for ETCD upgrade"
We should add e2e tests using the e2e framework to test ETCD upgrade by modifying ETCD version in kubeadm config map.
This is a follow up issue to https://github.com/kubernetes-sigs/cluster-api/pull/2579

/help

[2020-03-10 02:31] rajansandeep commented on #2609
I can help writing the tests.

[2020-03-10 06:59] detiber commented on #2591
This error on the second control plane is a bit concerning:
[code]

It looks like either the load balancer or the api-server for the first control plane Machine had an issue where it severed the connection early during that call.

Could you provide additional logs from the host?

Of particular interest would be the kubelet, api-server, and etcd logs for both the first and second control plane Mach

[2020-03-10 08:08] 2mind opened #2611 "Specify namespace in the resource references"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
In the current implementation of machineset - bootstrapRef, infraRef should be in the same namespace as the controller itself, namespace will be ignored.

https://github.com/kubernetes-sigs/cluster-api/blob/v0.2.10/controllers/machineset_controller.go#L262

**What did you expect to happen:

[2020-03-10 08:42] randomvariable commented on #2611
This was done intentionally and is in essence a deprecation of the old behaviour. Cross-namespace support breaks the ability to use a namespace as a security boundary, e.g. referencing a bootstrap config from another namespace may allow an attacker to get access to a cluster they are not currently privileged to access.

The namespace field will be removed in due course.

/kind documentation

[2020-03-10 08:48] randomvariable commented on #2591
Checking in CAPV, I'm seeing different errors more frequently, and I'm still suspecting the HAProxyLoadBalancer.

However, I can reproduce the original problem, repeatedly, in one situation:
Where the CNI pod network and host network overlap, at least for Calico 1.12, once the CNI pod is active, inter-host routing is dead.

The steps for 100% reproducability are:
1. Instantiate 1 node KCP workload

[2020-03-10 08:54] randomvariable commented on #2591
is the error I see more often in CAPV, but suspect HAProxy config as the version of the Dataplane API there does not support http with ssl check only whilst doing TCP passthrough:

for completeness, the logs will look like something like:

[code]

etcd logs on initial node:
[code]

etcd logs on node 2:
[code]

The read-only range request errors appear to be a red herring during sync, I/O stats see

[2020-03-10 09:14] randomvariable opened #2612 "KCP waiting on remote cluster client hangs worker, substantially delaying cluster deletion"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

In CAPV, I created a new cluster, followed by deleting it. Under the default of 1 worker, KCP controller will seemingly hang after the machines are deleted, eventually printing (I have added some extra log lines in my branch to trace what's going on):

[code]

**What did you expect to hap

[2020-03-10 09:21] detiber commented on #2612
I wonder if it would make sense to move the deferred call to `r.updateStatus` after the call to `r.reconcileDelete` in `Reconcile`.

[2020-03-10 09:22] detiber commented on #2612
We should probably also increase the default concurrency on KubeadmControlPlane reconciliation :joy:

[2020-03-10 09:28] detiber commented on #2612
I don't necessarily think either of the fixes above are necessarily release blockers for v0.3.0, but are definitely candidates for a fast-follow patch release.

[2020-03-10 09:28] fabriziopandini commented on #2591
CAPZ issue seem fixed now (root cause a misconfiguration in the template)
@CecileRobertMichon please confirm

[2020-03-10 09:47] Xenwar opened #2613 "unable to provision a node capi-kubeadm-control-plane-controller"
**What steps did you take and what happened:**
Deploy a control plane node

**What did you expect to happen:**
A control plane node be deployed successfully.

**Anything else you would like to add:**
[Edit]
Only the following issue is to be fixed.

Provisioning fails due to ```runtime error: invalid memory address or nil pointer dereference```

**Environment:**

- Cluster-api version: v1alpha3

/k

[2020-03-10 09:47] Xenwar commented on #2613
[code]

[2020-03-10 10:51] maelk commented on #2613
We hit this problem also in the Metal3 CI. We have exactly the same trace in the CACPK webhook server.

[2020-03-10 10:52] kashifest commented on #2613
I guess the problem is coming from here:

https://github.com/kubernetes-sigs/cluster-api/commit/cd602ce6cc65cab1cc6a449aef7a93b43b033b08#diff-d7a4119f467ae89beed82e2784fe2939R233

[2020-03-10 10:54] maelk commented on #2613
The actual issue is probably that we do not have a ClusterConfiguration in the CR

[2020-03-10 10:57] detiber commented on #2613
We probably should handle the nil pointer better, though

[2020-03-10 12:34] neolit123 commented on #2591
@randomvariable

can the issue be resolved if the Pod CIDR is modified? this obviously requires changing CALICO_IPV4POOL_CIDR and the kubeadm ClusterConfiguration.

[2020-03-10 13:03] fabriziopandini commented on #2600
this now should be fixed by using {{#releaselink gomodule:"sigs.k8s.io/cluster-api" asset:"clusterctl-linux-amd64" version:"0.3.x"}}
thanks @vincepri !
/close

[2020-03-10 13:03] #2600 closed

[2020-03-10 13:13] yastij commented on #2416
@prkalle - can you try with CAPV `v0.6.0-rc.2` ?

[2020-03-10 14:00] #2611 closed

[2020-03-10 14:07] vincepri commented on #2612
/milestone v0.3.x

[2020-03-10 14:25] ncdc commented on #2613
/assign
/lifecycle active

[2020-03-10 14:29] randomvariable commented on #2591
@neolit123 yeah, we had hard-coded the value in the CAPV template to reduce the number of variables since clusterctl doesn't support default values yet, but will move to make it mandatory a large number of CAPV users will have clusters in 192.168.0.0/16.

As for the other issue, that's already tracked in https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/782 . cc @johnlam90

[2020-03-10 14:37] fabriziopandini commented on #2596
Xref because relevant for this issue https://github.com/kubernetes/enhancements/blob/master/keps/sig-architecture/2019-07-16-node-role-label-use.md#use-of--labels

[2020-03-10 14:41] #2613 closed

[2020-03-10 15:03] chuckha opened #2618 "[capd] remove kubeadm reset"
I've seen the capd-e2es fail on this call many times.

The kubeadm reset hack is actually a hack to remove a control-plane node cleanly from a kubeadm cluster. However, as this is now handled by the kubeadm control plane we should remove the calls to kubeadm reset entirely and not have the machine controller worry about `kubeadm reset`.

/kind bug
/milestone v0.3.x
/priority important-longterm

[2020-03-10 15:22] fabriziopandini commented on #2618
That' means that building control panes-up using stand-alone machines is deprecated with CAPD?

[2020-03-10 15:25] chuckha commented on #2618
It's not deprecated but it will no longer automatically manage the config map and all the other nice things kubeadm reset does. This brings CAPD in line with other providers such as CAPA, which, @detiber can confirm or deny, won't automatically manage control plane machine removals without user intervention.

[2020-03-10 15:28] chuckha opened #2619 "[capd e2es] capture webhook logs"
In addition to the provider controller logs, the capd-e2es should also dump any webhook logs. Note that capd itself has no web hooks, but CAPI does indeed and those could be interesting.

/kind bug
/milestone v0.3.x
/priority important-longterm

[2020-03-10 15:47] wfernandes opened #2620 "Add coredns validation in KCP validation webhook"
**User Story**

As an operator, I would like to ensure my coredns version update is "migratable" by having extra validation in the webhook.

**Detailed Description**

In KCP KubeadmConfig, there is a property
[code]
We need to have validation in the webhook that takes the `ImageTag` and make sure it is valid using the `github.com/coredns/migration` library.
I believe there is a `migration.validUpM

[2020-03-10 16:25] fabriziopandini commented on #2618
kk, thanks for clarification!

[2020-03-10 17:05] rajansandeep commented on #2620
If it's really required, I can help with exporting it. (I feel it won't be required, since the `migration.Migrate` validates the version first before attempting to migrate the corefile)

There is a `migration.MigrateDown` function which handles downgrades. (Although it is advised against downgrading coredns)

[2020-03-10 17:17] #2545 closed

[2020-03-10 17:19] detiber commented on #2620
@rajansandeep I think the idea with the validating webhook is to provide feedback to the user that the migration is unsupported when they attempt to update the resource rather than having to notice an event and/or inspect logs to determine that they applied a request for an incompatible version.

[2020-03-10 17:28] vincepri commented on #2620
/milestone v0.3.x

[2020-03-10 17:55] #2244 closed

[2020-03-10 18:08] CecileRobertMichon commented on #2591
I actually just got this error again with capz (with fixed JoinConfiguration this time)

[code]

[2020-03-10 18:25] ncdc commented on #2187
This was fixed
/close

[2020-03-10 18:25] #2187 closed

[2020-03-10 18:43] erstaples commented on #2585
/assign

[2020-03-10 18:47] chuckha commented on #2612
Increasing default concurrency is a different problem and won't help in this case, but +1 on increasing it to 10 regardless.

The reason it won't help is that increasing a controller's concurrency will still only reconcile each object serially and not reconcile the same object concurrently. Since each cluster only has one KCP resource, the hanging is still a problem. This will, however, improve th

[2020-03-10 18:50] jayunit100 commented on #2591
I really feel like theres *got* to be some kind of chaos test we can run on CAPD to induce this.  I know @randomvariable said that in general, nobody has seen it there, but i'd venture to say, if something doesn't happen on CAPD (granted it might require the correct stressor or scenario to simulate cloud latency ) then we cant really call it a CAPI bug, and it has to be a provider triage.

[2020-03-10 18:56] detiber commented on #2612
The concurrency comment was more of an aside. I do think we need to consider moving the call to updateStatus to a defer that is configured after `reconcileDelete` has been processed. If we still need a status update during reconcileDelete, we can probably add an additional defer for it to `reconcileDelete` where we can add more safety around failures communicating with the workload cluster.

[2020-03-10 19:23] jayunit100 commented on #2591
ill file a separate issue for this idea and see what others think

[2020-03-10 19:29] jayunit100 opened #2627 "CAPD worst-case-scenario cloud simulator for naughty clouds."
Follow on to #2591 which is closed, but, took quite a while to close b/c of cloud ambiguities.  Seems like as CAPI matures, its entire bug reporting and testing process should be self contained.  I'm somewhat new to   sig-cluster-lifecycle, so let me know if this might be misinformed.

**Motivating issues**

I dug through the CAPI backlog, and saw alot of ambiguous issues and alot of toil around r

[2020-03-10 19:37] jayunit100 commented on #2627
possibly relevant to @dlipovetsky 's re-entrancy stuff that i heard about the other day, in terms of integration testing.

[2020-03-10 19:41] jayunit100 commented on #2627
cc @randomvariable @ncdc

[2020-03-10 19:49] jayunit100 commented on #2627
@randomvariable

[2020-03-10 19:55] #2618 closed

[2020-03-10 20:41] gab-satchi commented on #2610
/assign

[2020-03-10 20:43] gab-satchi commented on #2620
/assign
/lifecycle active

[2020-03-10 22:19] sedefsavas commented on #2608
/assign

[2020-03-10 22:20] vincepri commented on #2608
/milestone v0.3.1

[2020-03-10 22:21] vincepri commented on #2620
/milestone v0.3.1

[2020-03-10 22:21] vincepri commented on #2610
/milestone v0.3.1

[2020-03-10 22:21] vincepri commented on #2609
/milestone v0.3.1

[2020-03-11 00:28] vincepri opened #2630 "Update to controller-tools v0.2.6"
To keep our dependency up-to-date we should rev. the controller-runtime version to `v0.2.6` from the master commit we're using today in `hack/tools/go.mod`.

After we update that version, we should also run `make generate` to update any generated CRDs or other manifests.

/kind cleanup
/milestone v0.3.1
/help
/good-first-issue

[2020-03-11 02:51] SataQiu commented on #2630
/assign

[2020-03-11 09:03] Xenwar opened #2633 "Upgrading Control Plane fails due to invalid memory address"
**What steps did you take and what happened:**
During upgrade, due to some unknown error, the pod crashes.
Working on getting the cause.

Note: The main focus of this bug report is on fixing the nil pointer issue, much like  #2613.

**What did you expect to happen:**
A graceful failure

**Environment:**

- Cluster-api version: v1alpha3
- Minikube/KIND version:
- Kubernetes version: v1.17.3
- Ubunt

[2020-03-11 09:04] Xenwar commented on #2633
[code]

[2020-03-11 09:04] Xenwar commented on #2633
[code]

[2020-03-11 10:33] fabriziopandini opened #2635 "[clusterctl] Manage the cert-manager lifecycle"
**User Story**

As an operator, I would like to get the cert-manager lifecycle managed by clusterctl

**Detailed Description**

The cert-manager manifest is embedded in clusterctl, so we can provide a better Day 1 experience.

However, this comes with some downsides, like e.g the fact that the manifest cannot be easily changed, and most important in the long term, there is not yet a well-defined u

[2020-03-11 10:50] fabriziopandini opened #2636 "RFE: make the DX and E2E test consistent with the new UX based on clusterctl"
***Goals***
1. To make the Developer Experience (DX) and E2E test more consistent with the new UX based on clusterctl

***Non-Goals/Future Work***
1.  TBD

**User Story**

- As a user, I'm instructed to use clusterctl
- As a developer, I would like to be guided in testing/validating the same paths the users do during my daily routine (rif local E2E test, CAPD, possibly Tilt)
- As the E2E test oper

[2020-03-11 11:02] fabriziopandini opened #2637 "[clusterctl] Implement E2E jobs for clusterctl based UX"
**User Story**

As a developer, I would like to have E2E jobs ensuring that my changes are not impacting the UX based on clusterctl

**Detailed Description**

https://github.com/kubernetes-sigs/cluster-api/pull/2321 is introducing a test framework for clusterctl; however, it is not yet defined:

1. What user stories based on clusterctl should be tested, e.g.:
  - P0 - quick-start
  - P1 - move
  -

[2020-03-11 13:15] alexbrand opened #2639 "Typo in the Cluster API Quick Start guide"
Typo in https://cluster-api.sigs.k8s.io/user/quick-start.html#preparing-the-workload-cluster-configuration

![image](https://user-images.githubusercontent.com/545723/76420676-de98c280-6378-11ea-9026-45513d3b7e3d.png)

`clusterctl create config` does not seem to exist in the clusterctl command line. I believe this is a typo, and should be `clusterctl config cluster`.

[2020-03-11 13:39] JoelSpeed commented on #2577
We are definitely going to need to do something about this, I tested this while testing some MHC stuff. Once I'd deleted the clutser, I started getting log lines like:
[code]
Approximately every second, indefinitely.

Given the above error message was looping, I suspect that it would reconnect, but I can try and simulate this scenario too

I'm not sure what the best approach to coming up with a st

[2020-03-11 13:45] #2639 closed

[2020-03-11 13:48] detiber commented on #2633
Looks like we are not guarding against nil when checking `kcp.Spec.KubeadmConfigSpec.ClusterConfiguration.Etcd.Local`

/priority critical-urgent
/milestone v0.3.1

[2020-03-11 14:09] ncdc commented on #2577
Given that we resync every 10 minutes, even if we miss a cluster deletion event (which is extremely unlikely), we would be able to address the issue at the next resync.

We are already watching Clusters in the MHC controller, so we have that part covered. We need to add code in Reconcile somewhere that stops the cache and deletes the entry if the workload cluster is not reachable.

For an intermit

[2020-03-11 14:19] ncdc commented on #2633
/assign
/lifecycle active

[2020-03-11 14:29] vincepri commented on #2636
💯

/milestone v0.3.x

[2020-03-11 14:34] JoelSpeed commented on #2577
My concern with adding something in reconcile is that we might not reconcile an MHC for a given cluster if it's been deleted right? I'm thinking, Cluster gets deleted, GC deletes MHCs for cluster, event triggers reconcile, all of these MHCs have gone, we now don't know which cluster they were for, so can't stop the right cache I don't think

One idea I just had to solve that problem would be to ad

[2020-03-11 14:38] ncdc commented on #2633
@Xenwar could you please share your KubeadmControlPlane spec?

[2020-03-11 14:39] #2630 closed

[2020-03-11 14:40] detiber commented on #2633
@ncdc I'm pretty sure any spec that didn't include kcp.Spec.KubeadmConfigSpec.ClusterConfiguration.Etcd.Local would do it:
[code]

[2020-03-11 14:41] detiber commented on #2633
Actually, I take that back, anything that didn't include `ClusterConfiguration` would likely do it

[2020-03-11 14:42] ncdc commented on #2633
Yes, I have a fix pending, but I am asking for confirmation.

[2020-03-11 14:44] vincepri commented on #2633
Sidenote: should ClusterConfiguration actually be optional, could it be defaulted to empty struct?

[2020-03-11 14:47] vincepri commented on #2608
/priority important-soon

[2020-03-11 14:47] vincepri commented on #2609
/priority important-soon

[2020-03-11 14:48] vincepri commented on #2610
/priority important-soon

[2020-03-11 14:49] detiber commented on #2633
The problem is less around go usage and more around yaml usage with non-optional fields.

[2020-03-11 14:50] detiber commented on #2633
I'm generally ok if we default it via webhook.

[2020-03-11 14:51] vincepri commented on #2633
I was thinking that we could use the defaulting webhook here, if we want to keep the pointer. The check for ClusterConfiguration not being nil is everywhere, so might be worth it

[2020-03-11 14:58] ncdc commented on #2633
Fix is up at #2641

[2020-03-11 15:23] casibbald commented on #2339
We at WeaveWorks have a set of templates as helm charts that could be utilised. Currently updating these for alpha3 and would consider contributing them and making them available on a helm repository.

[2020-03-11 15:44] sedefsavas commented on #2610
/remove-help

[2020-03-11 15:45] vincepri commented on #1102
Closing for now, we can reopen later if necessary

/close

[2020-03-11 15:45] #1102 closed

[2020-03-11 15:47] vincepri commented on #1205
Is it fair to close this now that Machine health check & remediation bits have been shipped in v0.3.0?

@JoelSpeed @enxebre

[2020-03-11 15:48] vincepri commented on #296
We have shipped webhook validation in v0.3.0, this issue should be fixed.

/close

[2020-03-11 15:48] #296 closed

[2020-03-11 15:51] vincepri commented on #970
We'll go through some redesign/refactor of these controllers in the future #, I think it's safe to close this for now.

Ref: https://github.com/kubernetes-sigs/cluster-api/issues/1689

/close

[2020-03-11 15:51] #970 closed

[2020-03-11 15:52] vincepri commented on #1227
/help
/kind design
This might need a design document first. Also cc @fabriziopandini, @frapposelli because it's kind-ish related to the templating work.

[2020-03-11 15:53] vincepri commented on #1242
@justinsb did you have any updates here?

[2020-03-11 15:53] vincepri commented on #1242
/priority backlog

[2020-03-11 15:54] vincepri commented on #1250
@moshloop Now that we have experimental packages support in Cluster API, we can probably include these types/controllers in this repository.

[2020-03-11 15:55] vincepri commented on #1271
/help
/priority backlog

[2020-03-11 15:56] vincepri commented on #1294
@detiber Is this something we might want to look soon-ish or should we close it in favor of #1658 ?

[2020-03-11 15:57] vincepri commented on #1441
going to close this as it's more an ongoing issue and it should probably be tackled with linters and during reviews, feel free to reopen if necessary

/close

[2020-03-11 15:57] #1441 closed

[2020-03-11 15:57] vincepri commented on #1477
/priority backlog

[2020-03-11 15:58] detiber commented on #1294
/close
closing in favor of #1658

[2020-03-11 15:58] #1294 closed

[2020-03-11 15:58] vincepri commented on #1491
closing per comment above

/close

[2020-03-11 15:58] #1491 closed

[2020-03-11 16:00] vincepri commented on #1521
closing this for now given that we'll revisit during api-review / when graduating to beta

/close

[2020-03-11 16:00] #1521 closed

[2020-03-11 16:01] vincepri commented on #1524
This work item is blocked on upstream support for now

/priority backlog

[2020-03-11 16:01] vincepri commented on #1533
@dlipovetsky do we still want to tackle this?

[2020-03-11 16:02] vincepri commented on #1579
Closing this for now, feel free to reopen if the problem persists
/close

[2020-03-11 16:02] #1579 closed

[2020-03-11 16:03] vincepri commented on #1582
/priority backlog

[2020-03-11 16:03] #2633 closed

[2020-03-11 16:04] vincepri commented on #1580
Closing this due to lack of updates

/close

[2020-03-11 16:04] #1580 closed

[2020-03-11 16:05] vincepri commented on #1566
/priority awaiting-more-evidence

Is there any action items that we can take from here or is this good to close?

[2020-03-11 16:06] vincepri commented on #1583
I see that as of today lots of folks are still using the in-tree cloud provider, it'd be great to see this done in some ways to simplify our configuration story

[2020-03-11 16:07] vincepri commented on #1576
@moshloop are you still interested in working on this?

[2020-03-11 16:08] vincepri commented on #1576
/priority backlog

[2020-03-11 16:33] bcg62 opened #2642 "clusterctl init missing capi-webhook-service-cert"
**What steps did you take and what happened:**
run cluster init

**What did you expect to happen:**
complete install.

**Anything else you would like to add:**

[code]

[code]

[code]

/kind bug

[2020-03-11 16:33] vincepri commented on #1586
/kind cleanup
/lifecycle backlog
/help

[2020-03-11 16:35] vincepri commented on #1629
I'm gonna close this out for now given that now we have webhooks and we can make sure the versions are valid semver there

/close

[2020-03-11 16:35] #1629 closed

[2020-03-11 16:37] vincepri commented on #1666
/priority backlog

[2020-03-11 16:38] vincepri commented on #1677
/lifecycle frozen
/priority backlog

[2020-03-11 16:38] JoelSpeed commented on #1205
I wasn't privy to this conversation originally, but having scanned through, if https://github.com/kubernetes-sigs/cluster-api/issues/1205#issuecomment-548399866 is satisfied, then yes MHC will solve this issue, and remediate any machine which goes into a permanently failed state (if it has `failureReason` set IIRC)

[2020-03-11 16:38] vincepri commented on #1685
/priority backlog

[2020-03-11 16:40] vincepri commented on #1718
Closing this for now, feel free to reopen if necessary

/close

[2020-03-11 16:40] #1718 closed

[2020-03-11 16:40] vincepri commented on #1739
/help

[2020-03-11 16:43] vincepri commented on #1846
Should we move this discussion to a more concrete proposal in a google doc or PR?

[2020-03-11 16:43] vincepri commented on #1846
/priority backlog
/area ux

[2020-03-11 16:43] vincepri commented on #1852
/close

Closing this given that as of v0.3.0 we now understand contract versions from the CRDs

[2020-03-11 16:43] #1852 closed

[2020-03-11 16:45] vincepri commented on #1941
@fabriziopandini this would be good to tackle soon-ish as well if you're up for it

[2020-03-11 16:46] vincepri commented on #1945
/help

[2020-03-11 16:47] vincepri commented on #1990
Closing this now that all tasks have been completed
/close

[2020-03-11 16:47] #1990 closed

[2020-03-11 16:47] #2412 closed

[2020-03-11 16:49] vincepri commented on #1205
good enough for me! I think we can close this now, if there is any other follow-up we can either tackle that separately or reopen it later

/close

[2020-03-11 16:49] #1205 closed

[2020-03-11 17:30] ncdc commented on #2596
If anyone has opinions on what labels to use by default for worker nodes, please share your ideas here!

[2020-03-11 17:30] ncdc commented on #2596
(or we could leave it up to the user and not have any CAPI defaults)

[2020-03-11 17:31] ncdc commented on #2596
Should also make sure this is consistent with all SIG Cluster Lifecycle sub-projects

[2020-03-11 17:33] ncdc commented on #2599
We should look into switching over to using the CoreDNS operator as soon as it's mature and stable.

[2020-03-11 17:33] CecileRobertMichon commented on #2591
this seems to have been fixed by v0.3.0 for me... Still unsure what the exact root cause is 😕

[2020-03-11 17:35] ncdc commented on #2601
At today's meeting, we agreed to remove the duplication.
/help

[2020-03-11 17:37] dlipovetsky opened #2646 "A different name for the MachineHealthCheck MaxUnhealthy field may be more accurate and align better with other Kubernetes APIs"
If I understand corectly, the `MaxUnhealthy` value represents the percentage of Nodes that can be NotReady at any point in time.

For example, if `MaxUnhealthy` is set to 10%, and 1 of 3 Nodes is NotReady, then 33% of the Nodes are unhealthy. Therefore, the MachineHealthCheck controller will _not_ remediate (delete and re-create) the Machine corresponding to the NotReady Node.

[@JoelSpeed please

[2020-03-11 19:11] fabriziopandini commented on #2642
@bcg62 could you kindly help me to reproduce the error?
I tried with a fresh environment and it just worked for me

[code]

Also, I have some question about your use case:
- is it right that you are calling init without actually passing any providers?
- the logs are showing "Fetching Providers" and then "Install .." without "Installing cert-manager" in the middle. this can happen when you run init

[2020-03-11 19:39] bcg62 commented on #2642
I have tried with and without providers but my use-case is metal3, I am also using k3s rather than kind.

Is there some hostpath holding state I need to flush on teardown/creation?

Here are my steps to reproduce:

[code]

debug output:
[code]

[2020-03-11 19:41] wfernandes commented on #2642
Hmm...I too was not able to reproduce this behavior using kind v0.7.0.

[2020-03-11 19:46] bcg62 commented on #2642
I see the same with kind.

[code]

[2020-03-11 19:48] detiber commented on #2642
Is the version of cert-manager being overridden somehow? I'm wondering if this is related to using too new a version of cert-manager where the webhook no longer exists?

[2020-03-11 19:54] wfernandes commented on #2642
What version of cert-manager is being deployed?

[2020-03-11 19:57] bcg62 commented on #2642
[code]

I'm not sure its relevant but I'm also in an environment using http_proxy/https_proxy/no_proxy.

Originally i thought the Forbidden might be the proxy intercepting the local call.
[code]

Until I noticed the missing secret and the pod not running.
[code]

[2020-03-11 20:14] fabriziopandini commented on #2642
@bcg62 is possible to check  `kubectl get pods -n cert-manager`? it seems that the cert-manager does not comes up properly and so the webhook.cert-manager.io/v1beta1/mutations does not answers.
might be this is related to the http_proxy/https_proxy/no_proxy things (I have to dig into this) ...

[2020-03-11 20:16] bcg62 commented on #2642
[code]

[2020-03-11 20:21] fabriziopandini commented on #2642
my best guess now is somehow the webhook is not ready when the provider is being installed. I'll try to reproduce this condition.
What if your run init now that the cert manager is up?

[2020-03-11 20:22] bcg62 commented on #2642
same results.

[code]

[2020-03-11 20:26] bcg62 commented on #2642
[code]

[2020-03-11 20:37] fabriziopandini commented on #2642
I'm leaning toward a communication error, but in this case, it is the kube-API server calling https://kubernetes.default.svc:443/apis/webhook.cert-manager.io, not clusterctl (clustetrctl only bubbles up the error)

so checking https://kind.sigs.k8s.io/docs/user/quick-start/#configure-kind-to-use-a-proxy, kind respest proxy vars, but in that case you have to `no_proxy=kubernetes.default.svc kind cr

[2020-03-11 20:41] bcg62 commented on #2642
Yep, that did it, thanks alot! I'll have to make sure k3s is setup similarly.

[2020-03-11 20:41] #2642 closed

[2020-03-11 20:42] fabriziopandini commented on #2642
🎉

[2020-03-11 21:00] vukg commented on #2339
Essentially what @casibbald is referring to is complete set of templates not only for clusterapi.yaml, but also working method of standing up the cluster fully quipped with selected components like CNI, Ingress controller, Policy agent, Monitoring and Logging stack etc by just pointing to Git dir with templates. We are working with WeaveWorks to apply that work at Deutsche Telekom Technik and work

[2020-03-11 21:08] ncdc commented on #2339
I'm interested too, and I imagine @sedefsavas will be as well.

My vision is to use Sedef's work in #2395 to get a minimal set of things installed as soon as a cluster is created:
- CNI provider
- "addon manager(s)"

Getting the "addon manager(s)" installed would get the managers/operators configured for things like the CNI provider that we had to install manually (a bit of chicken & egg), CoreDNS

[2020-03-11 21:08] jayunit100 commented on #2410
+100

[2020-03-11 21:10] jayunit100 commented on #2410
This should probably print a warning or fail ?  bc i dont have that YAML.
[code]
Provide configuration values to be used for variable substitution when installing providers or creating clusters.

[2020-03-11 21:19] vukg commented on #2339
Great! We will plan for it together with WeaveWorks partners and ping the community via Slack when we have things in place (couple of days).

[2020-03-11 21:24] randomvariable commented on #2591
we've fixed our HAProxy issue as well in https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/823, so would be happy to close.

[2020-03-11 21:30] Xenwar commented on #2633
Here is the spec

`
apiVersion: controlplane.cluster.x-k8s.io/v1alpha3
kind: KubeadmControlPlane
metadata:
  creationTimestamp: "2020-03-11T12:30:34Z"
  finalizers:
  - kubeadm.controlplane.cluster.x-k8s.io
  generation: 2
  labels:
    cluster.x-k8s.io/cluster-name: test1
  name: test1-controlplane
  namespace: metal3
  ownerReferences:
  - apiVersion: cluster.x-k8s.io/v1alpha3
    blockOwnerDele

[2020-03-11 21:31] Xenwar commented on #2633
[code]

[2020-03-11 21:32] ncdc commented on #2633
Thanks

[2020-03-11 22:13] randomvariable commented on #2601
Had rewritten a chunk of the quickstart in #2628 so have included this change as well.

/assign
/lifecycle active

[2020-03-11 22:49] sethp-nr opened #2651 "KCP: upgrade gets stuck after removing etcd member"
**What happened**

When we initiated a KCP upgrade on a self-hosted ("pivoted") cluster, we observed the following sequence of events:

The KCP controller created a new machine, and it successfully joined the cluster (once we got rid of the smart quotes in the kubeadm config, but that's a different story).

At this point, the KCP logs look pretty standard:

[code]

But then something surprising ha

[2020-03-11 22:49] sethp-nr commented on #2651
cc @rudoi @mytunguyen

[2020-03-11 22:53] rudoi commented on #2651
Correction, we were 3/3. The controller consistently lost leader election, once per control plane machine.

[2020-03-11 23:29] vincepri commented on #1941
cc @sethp-nr

[2020-03-12 02:31] sethp-nr opened #2652 "KCP: upgrades are disruptive to api server clients"
**What happened**

Continuing from #2651, when we were running a KCP upgrade on a self-hosted cluster we noticed that the process was fairly disruptive.

To be clear, the process would be disruptive even being run from an outboard management cluster, but with cluster-api being a client of itself we got an up-close look at what other clients would experience during an upgrade.

The summary of the i

[2020-03-12 04:00] rudoi opened #2653 "KCP: expose additional LeaderElection configuration as flags"
**Background**

The default leader election configuration options are:
- `LeaseDuration`: 15 seconds
- `RenewDeadline`: 10 seconds
- `RetryPeriod`: 2 seconds

These values are quite small, but reasonable for most controllers. However, when the KCP controller is facilitating an upgrade, there is a legitimate risk that API server connectivity is disrupted (see #2652). On a self-managed cluster, beca

[2020-03-12 04:06] rudoi commented on #2651
Had a quick chat with Seth, Mytu, and @vincepri. We think something that could help here would be to abandon the `kubeadm.controlplane.cluster.x-k8s.io/scale-down-etcd-member-removed` and instead always check if the member for the selected node exists, then remove member and delete Machine if it does exist.

[2020-03-12 10:37] JoelSpeed commented on #2646
@dlipovetsky You explanation is correct! The idea behind this is, as @justinsb mentioned, to prevent the health checking logic making anything worse.

Users should choose a valid level of disruption they are comfortable with and if there is more than that, the MHC will stop doing anything. I see it as analogous to the `maxUnavailable` field on a Pod Disruption Budget.

If there are 5 expected pods

[2020-03-12 12:12] fabriziopandini commented on #2433
/hold
As far as I understand the issue, the request was to standardize existing ginko/gomega imports, not to convert everything to use ginko/gomega
@chuckha @vincepri ^^

[2020-03-12 12:53] digambar15 commented on #2461
Hey @detiber, @vincepri,

As an Operator or User, I have some kind of workloads / application needs very specific hardware configuration on my cluster. Find a right matching host in cluster will be headache and on top of this, we will have to go and check whether we have matched hardware configuration available on that host or not.
Agree, this idea is relying on cluster-api but not needed any modi

[2020-03-12 14:36] rudoi commented on #2653
/assign
/lifecycle active

[2020-03-12 15:28] sedefsavas opened #2654 "[e2e] Cluster is deleted before running "Full upgrade" test"
**What steps did you take and what happened:**
Run e2e tests by
1) cd ./test/infrastructure/docker
2) Run: go test ./e2e -v -ginkgo.v -ginkgo.trace -count=1 -timeout=20m -tags=e2e -e2e.config="/Users/ssavas/dev/qa_capi/tilttest/cluster-api/test/infrastructure/docker/e2e/local-e2e.conf" -skip-resource-cleanup=false

There are two e2e tests for docker. In AfterEach(), the cluster that was created in

[2020-03-12 15:28] sedefsavas commented on #2654
/assign

[2020-03-12 15:48] #2601 closed

[2020-03-12 16:12] sedefsavas opened #2657 "Add semver version validation rules wherever it applies"
We added validation for KCP spec.version here: https://github.com/kubernetes-sigs/cluster-api/pull/2647

Similarly, we should add validation rules for other resources too, such as  Machines and MachineDeployments.

cc @vincepri

[2020-03-12 16:18] vuil opened #2658 "clusterctl local repository mode does not handle windows paths"
What steps did you take and what happened:
When setting up a local repository provider on windows and using windows style paths like so
[code]

When using GetClusterTemplate to obtain a cluster template, an error is reported by clusterctl:
[code]
because the url parsing library is interpreting c: as start of a url scheme

When using the file:/// scheme on windows like so

[code]

we encounter anot

[2020-03-12 16:22] sedefsavas commented on #2657
/assign

[2020-03-12 16:27] vincepri commented on #2657
/milestone v0.3.1

[2020-03-12 16:41] rudoi commented on #2653
just waiting for https://github.com/kubernetes-sigs/cluster-api/pull/2656 and then i'll get going on this

[2020-03-12 17:02] JoelSpeed commented on #1876
To give an update on this, I synced up with the CAPA maintainers at their call on Monday (March 9th), and with @CecileRobertMichon representing CAPZ today (if anyone else seeing this has questions and wants a call to sync, please ping me)

Both seemed to support the initial proposal and direction of trying to get consistent looking approaches to the feature across AWS/GCP/Azure, the current direct

[2020-03-12 17:03] vuil opened #2659 "Ability to specify kubeconfig context for clusterctl client library"
**User Story**

As a user of clusterctl library I would like to flexibility in providing a specific kubeconfig struct or context name to use with the provided kubeconfig file to identify the cluster we are acting on.

**Detailed Description**

There are often use cases where a user may be dealing with other clusters after the management cluster is set up. e.g.

- create mgmt cluster
- create workl

[2020-03-12 17:17] vincepri commented on #1876
Does this have any impact on Cluster API controllers and types?

[2020-03-12 17:22] JoelSpeed commented on #1876
No it shouldn't do, in terms of implementation it should basically be adding a field to each of the `InfrastructureMachineTemplate` and plumbing it through to the call that creates the Cloud VM.

The only changes I expect within this repo are within the docs

[2020-03-12 17:22] rudoi commented on #2653
/assign @trutx

[2020-03-12 17:29] trutx commented on #2652
I can pick this up of you don't mind

[2020-03-12 17:34] trutx commented on #2653
I can pick this up if you don't mind

[2020-03-12 17:36] vincepri commented on #1876
Got it, it sounds like we might need to follow-up in each infrastructure provider with some issues and keep this one open for the next cycle once we look at MachinePool

[2020-03-12 17:39] CecileRobertMichon commented on #1876
Linked the capz issue ^

[2020-03-12 18:19] bboreham commented on #2646
You're right, Deployment rolling update will pause if `maxUnavailable` is unexpectedly exceeded, but more commonly it is used to control the active behaviour: at the beginning of a rollout it will scale down the old `ReplicaSet` by N pods and scale up the new to create N new pods.

If a pod were to suddenly disappear mid-rollout then the underlying `ReplicaSet`s would replace it, so I think this i

[2020-03-12 18:20] rudoi commented on #2653
let's try this again!

/assign @trutx

[2020-03-12 19:09] michaelgugino commented on #1876
From my POV, the provider fields are less rigid.  They shouldn't be forced to support things they don't want to support.  It's up to their each provider to specify an API migration story.  "We don't think anyone is using this and it's broken anyway" is reason enough for me to drop it from a particular provider.

[2020-03-12 19:12] vincepri commented on #1876
I can see that, but within SIG sponsored sub-projects we're trying to adhere to the usual Kubernetes API guarantees. In this case, after adding a field, it should wait until the next cycle to be dropped / deprecated which is probably ok-ish

[2020-03-12 19:12] detiber commented on #1876
The providers *should* adhere to API contracts, so a change to remove a field should be handled accordingly.

[2020-03-12 19:28] #2658 closed

[2020-03-12 19:51] michaelgugino commented on #1876
I agree with deprecating and removing over a release, or just removing the next release if it's clear that the field is not GA.  I'm not advocating we just remove it mid release.

What the providers do as far as their fields and implementations should be transparent to cluster-api.  We've got some standards, but it's outside of our domain to dictate what is best for each provider IMO.  In the case

[2020-03-12 19:57] CecileRobertMichon commented on #1876
to clarify, my comment was more about how to expose the field while the feature is still in preview. I'm not too concerned about the feature not making it out of preview.

[2020-03-12 20:06] vincepri commented on #1876
This is why I originally asked to make all of this an experiment and have it only be under MachinePool, it's way easier to make changes to something that hasn't been published yet

[2020-03-12 20:18] CecileRobertMichon commented on #1876
@JoelSpeed what do you think about that? It does make sense to use MachinePool since the Spot feature would also be experimental at first. Also it might be a forcing function for all the infra providers to adopt MachinePools :)

[2020-03-12 20:21] michaelgugino commented on #1876
For just Azure, using MachinePools is fine.  For the other providers, I don't think we should gate on how MachinePools works because they are the least mature.

[2020-03-13 01:07] sethp-nr commented on #1941
/assign
/lifecycle active

[2020-03-13 09:44] enxebre commented on #1876
@CecileRobertMichon @vincepri I'd expect this to be exposed at the InfrastructureMachineTemplate level. This can then be complementarily leveraged by an infraMachine implementation, a machinePool implementation or anything wanting to consume that API. But regardless where we choose to implement it the API changes would go into `InfrastructureMachineTemplate`.

Personally I don't see an issue with

[2020-03-13 10:25] fabriziopandini opened #2665 "clusterctl use exponential backoff"
**User Story**

As a user, I would like to be more resilient to unexpected conditions

**Detailed Description**

As of today clusterctl, for most of the operations uses a retry loop with 3 retries/up to ~3sec max wait.

I would like that clusterctl uses instead a higher number of retries with exponential backoff (e.g 10 retries, up to ~40 sec).

/kind cleanup
/area clusterctl
/lifecycle active

[2020-03-13 10:40] randomvariable commented on #2591
Closing this issue.
File separate issues for each individual case.

/close

[2020-03-13 10:40] #2591 closed

[2020-03-13 10:42] randomvariable commented on #2627
Have another scenario to add:
Small MTU

[2020-03-13 11:09] randomvariable commented on #2217
Is this definitely an issue? The linked page looks like it was written for Windows XP and 2003 when NetBIOS was still a thing.
AD DNS names shouldn't be restricted in the same way, and they do say for FQDNs, it's 63 chars per component, 255 total.

[2020-03-13 13:51] chuckha commented on #2654
They are defined in this structure:

[code]

So the after-each only applies to the describe, not each Specify.

The correct way to run the tests, and this is my fault for not documenting appropriately, is to use the FOCUS var.

try `make test-capd-e2e FOCUS='Basic|Full'`.

[2020-03-13 13:54] chuckha opened #2669 "The documentation for tests is out dated"
/kind documentation
/lifecycle active
/assign
/milestone v0.3.x

https://cluster-api.sigs.k8s.io/developer/testing.html

I'll be updating this to reflect reality

[2020-03-13 14:48] detiber commented on #1876
I agree that I don't think we want to tie this to heavily into MachinePools, since not all users will want the MachinePool semantics.

[2020-03-13 14:50] detiber opened #2671 "Quickstart tabs broken in Required Configuration for Common Providers section"
/kind documentation
/kind bug
/priority critical-urgent
/milestone v0.3.1

**What steps did you take and what happened:**
In the quick start, if you click on one of the Tabs under the Required Configuration for Common Providers section, it expands and links back to the Initialization for Common Providers section rather than expanding the tab selected.

**What did you expect to happen:**
The correc

[2020-03-13 15:45] JoelSpeed commented on #1876
I'm in the camp with Michael, Alberto and Jason on this one. We know the APIs for AWS and GCP are stable as they haven't changed in a long time, so this problem of perhaps being uncertain about the Cloud API or having to signal to users that this is a preview feature only really applies to Azure, it makes me beg the question as to whether we should just delay implementing in Azure but that also is

[2020-03-13 15:57] sedefsavas commented on #2654
I was running without a FOCUS and observed it being triggered but will recheck.

[2020-03-13 16:02] chuckha commented on #2654
i think there's a lot of room for improvement in how these tests are organized. I'm not sure if this helps or not, but this is what I'm looking for in the test organization:

1. CI needs to be able to run the basic happy-path test that spins up a cluster without any additional longer-running tests such as upgarade.
2. I want to be able to add new tests that modify an existing cluster, much like th

[2020-03-13 16:40] sedefsavas commented on #2654
I started with `FOCUS='Basic|Full'` and observing the following:

- test-0 cluster is deleted after Basic test. (Even though it is failing here, it shouldn't call AfterEach, right?)
`STEP: deleting cluster test-0
`

- Then, `Full upgrade` test is starting but failing due to unable to locate test-0

**Logs**
[code]

[2020-03-13 16:42] #2665 closed

[2020-03-13 16:42] chuckha commented on #2654
hmm that's strange. It shouldn't be calling AfterEach here, but maybe there's something weird in our failure handler.

Does it work for you when the basic test passes?

[2020-03-13 16:46] chuckha commented on #2654
After reading https://onsi.github.io/ginkgo/#organizing-specs-with-containers-describe-and-context it looks like my assertions are wrong and we should for sure fix this.

I almost want to move the Deletes into their own Describe, but that gets weird with failure cleanups :( Maybe what I want is not easily possible with Ginkgo

[2020-03-13 16:58] rhockenbury commented on #2217
AFAIK, NetBios is still required to domain join a windows machine.  Looping in @ksubrmnn and @JocelynBerrendonner.

[2020-03-13 17:47] randomvariable commented on #2217
It might depend on how credentials are provided and how the domain is specified. If the FQDN is used and credentials are provided as <joinuser>@ad.fqdn, it should default to the DNS SRV records? I admit it's been a decade since I touched Windows, but my memory was that this was possible in at least Win2K8/Vista.

[2020-03-13 18:40] sedefsavas commented on #2654
FYI: @chuckha pointed out that the reason that the basic test is failing on my local machine was due to some containers exited from previous runs. So, it is important to have a clean docker environment before running these tests.

We still need to address avoiding deleting the clusters at each describe so I moved the deletion to AfterSuite() in the PR.

[2020-03-13 18:59] timothysc commented on #2599
@stealthybox @neolit123 - What's the state of the addons, and the latest CoreDNS operator?

[2020-03-13 19:11] vincepri opened #2677 "Log which value clusterctl mover is setting when pausing"
At https://github.com/kubernetes-sigs/cluster-api/blob/master/cmd/clusterctl/client/cluster/mover.go#L289, the `setClusterPause` function takes a value that could be either `true` or `false`. We should log the value out to be more explicit and communicate to users what are we actually setting.

/milestone v0.3.x
/help
/good-first-issue

[2020-03-13 19:32] JocelynBerrendonner commented on #2217
Thanks for reaching out! I don't know the answer to the Netbios/domain join question off the top of my head, but I'll find the experts and pull them in shortly.