[2021-09-07 15:42] vincepri commented on #5218
We need to support RolloutAfter for MachineDeployment first

[2021-09-07 23:07] chris93111 opened #5220 "MailgunCluster guide / no kind is registered for the type v1alpha4.Cluster in scheme"
Disclaimer: I'm not entirely sure if this is a bug or it is me miss something. I was following the guide to create a customer infrastructure provider with MailgunCluster on v1alpha4.

i have this error in capi-controller after deploy manifests

[code]
and in my controller

[code]

in my kustomization.yml of crd
[code]

my manifest

[code]

**Environment:**

- Cluster-api version: k8s.gcr.io/cluste

[2021-09-08 08:35] chris93111 commented on #5220
need this
[code]

[2021-09-08 08:36] #5220 closed

[2021-09-08 10:26] mdbooth commented on #5146
I just reproduced `kind create cluster` on a fresh system. Here's everything I did:

* Install Fedora 34 cloud image
* \# dnf update
* \# Create delegate.conf and iptables.conf with contents from https://kind.sigs.k8s.io/docs/user/rootless/
* \# Install podman-docker
* \# Reboot
* $ Download kind binary and chmod
* $ podman login docker.io
* $ podman pull kindest/node:v1.21.1
  * Select docker.io

[2021-09-08 14:22] killianmuldoon commented on #5184
@fabriziopandini do you think we could update the release tools to pin this version for each release?

[2021-09-08 14:24] vincepri commented on #5184
@killianmuldoon What did you have in mind to do the above? The current release process happens after the tag is published

[2021-09-08 14:47] killianmuldoon commented on #5184
I was thinking maybe adding something to change this line in go.mod under 'make release' - but with the ordering there will be drift with the go.mod.

[2021-09-08 14:53] stmcginnis commented on #5146
Great, I got this to work. Here's what I did:

- Install Fedora 34
- sudo dnf update
- Create delegate.conf and iptables.conf with contents from https://kind.sigs.k8s.io/docs/user/rootless/
- Did NOT install podman-docker. Wanted to see what would happen without that. No problems, so might just need a note to conditionally delete the `/var/run/docker.sock` file if `podman-docker` is not installed.

[2021-09-08 15:07] vincepri commented on #4179
@shysank Do you have more details on the request above? Are there any use cases you had in mind?

[2021-09-08 15:07] vincepri commented on #4233
/lifecycle frozen

[2021-09-08 15:08] vincepri commented on #4166
Are there any action items to follow up here?

[2021-09-08 15:13] vincepri commented on #5204
/milestone v0.4

@killianmuldoon What do you think about trying to tackle this one?

[2021-09-08 16:01] vincepri commented on #4166
@yastij @randomvariable @CecileRobertMichon

[2021-09-08 16:33] killianmuldoon commented on #5204
/assign

Will do!

[2021-09-08 16:43] mdbooth commented on #5146
Ah, yes. So for just creating a kind cluster and using it via clusterctl you don't need podman-docker because kind has podman support. You don't even need to create the `docker.sock`, because it won't be used.

However, the _test framework_ explicitly connects to a running docker agent to push locally-built images into the kind cluster (I assume that's what it's doing?), so you do need it to run t

[2021-09-08 16:48] stmcginnis commented on #5146
I should clarify, I followed the quick start to create a CAPD cluster. So it uses the same mechanism as the e2e framework.

[2021-09-08 17:07] vincepri commented on #4966
/close

[2021-09-08 17:08] #4966 closed

[2021-09-08 17:39] vincepri commented on #4166
/lifecycle frozen

[2021-09-08 17:58] vincepri commented on #4166
- Changes are required starting from Kubernetes 1.23(-ish)
- How do we install (and lifecycle manage?) these types of addons? Should we look at the addons project, what about ClusterResourceSet?
- How do we upgrade current users?

One short term solution is to include the CRS manifests as part of provider infrastructure template.

[2021-09-08 17:59] vincepri commented on #4166
/assign @CecileRobertMichon @yastij
to collaborate on goals/non-goals/requirements

[2021-09-08 18:00] CecileRobertMichon commented on #4166
note: take a look at issue on runtime extensions

[2021-09-08 18:01] neolit123 commented on #4166
kops tracking issue:
https://github.com/kubernetes/kops/issues/10777

might be worth getting some feedback from them on a zoom call.

[2021-09-08 18:21] sbueringer commented on #5196
After the initial webhook implementation is merged we should consider extending the webhook:
 * allow deletion of MachineDeployment classes when they are unused in Clusters
 * ... (take a look at our types / webhooks for other cases)

[2021-09-08 18:38] shysank commented on #4179
I don't have any particular use case for this. I opened it as part of tracking all the immutable fields in kcp spec. I'm fine with closing it since there seems to be no immediate use case for this.

[2021-09-08 19:34] ykakarap commented on #5218
/assign

[2021-09-08 20:00] vincepri commented on #4179
/close

[2021-09-08 20:00] #4179 closed

[2021-09-08 20:23] vincepri commented on #5218
/milestone v0.4

[2021-09-08 20:29] #5192 closed

[2021-09-08 20:29] #5197 closed

[2021-09-09 05:12] ykakarap opened #5222 "Discussion on operations allowed while a managed cluster is being upgraded"
This issue is meant to be an ongoing discussion/brainstorming on the list of operations that are allowed/disallowed during a cluster upgrade.

A non-exhaustive list of operations to consider:
* Scaling up/down Control Plane
* Modifying Control Plane (changing infrastructure templates)
* Scaling up/down MachineDeployments
* Modifying MachineDeployments (changing the bootstrap or infrastructure temp

[2021-09-09 05:13] ykakarap commented on #5222
This issue supersedes https://github.com/kubernetes-sigs/cluster-api/issues/5183.

[2021-09-09 06:19] sbueringer commented on #5222
@ykakarap Do you mean during a control-plane upgrade?

[2021-09-09 08:53] mdbooth commented on #5146
Are you sure? I was able to start a cluster without `podman system service` following the quick start guide a few weeks ago, which is why I was surprised that the E2E tests didn't work. I described the problem in https://github.com/kubernetes-sigs/cluster-api/issues/4380#issuecomment-904673876: code in `cluster-api/test/framework/bootstrap/kind_util.go` explicitly connects to a docker agent. I wou

[2021-09-09 09:05] sbueringer commented on #5146
D stands for Docker :)

But I agree the save func is different to the one in kind (which uses os.Exec). Apart from that I don't think we try to load images into kind in the quickstart. (we don't have to as the quickstart uses released images instead of locally built ones)

[2021-09-09 09:27] mdbooth commented on #5146
Suddenly it becomes clear 😂

This was my understanding.

[2021-09-09 09:47] #4456 closed

[2021-09-09 10:12] enxebre commented on #5218
I'll get back to this https://github.com/kubernetes-sigs/cluster-api/pull/4596

[2021-09-09 11:47] #3938 closed

[2021-09-09 15:02] ykakarap commented on #5222
@sbueringer mostly yes. However lets use this to look into any considerations to make while machine deployments are upgrading.

[2021-09-09 17:49] vincepri commented on #5222
Let's run some tests around the above points and figure out if this is something we need to tackle today or later.

/milestone v0.4

[2021-09-09 19:59] ykakarap opened #5224 "Add `Compare` to `util/version` with support for `CompareOptions`"
**Detailed Description**

Add a `Compare` function to `util/version` package that can take a list of `CompareOptions` to allow for various comparing strategies.
Example: I would like to be able to use `version.Compare(a, b, version.WithBuildTags{})` which would compare versions `a` and `b` along with their build tags.

This new `Compare` function should replace `CompareWithBuildIdentifiers`.

**An

[2021-09-09 19:59] ykakarap commented on #5224
/help

[2021-09-10 05:17] jayesh-srivastava commented on #5224
Hey I would like to work on this issue. Can I assign it to myself?

[2021-09-10 05:18] MadhavJivrajani commented on #5224
/assign @jayesh-srivastava

[2021-09-10 11:55] randomvariable commented on #4874
I've seen requests to enable this. In particular in vSphere environments, some folks switch off their entire cluster, and when they turn it back on the entire cluster goes into CrashLoopBackoff as every etcd node complains about missing nodes on it's health status even though it's available. It's possible to work around it by changing the livenessProbe to check only that serializable (local) read,

[2021-09-10 12:50] killianmuldoon opened #5226 "Clusterctl describe cluster panics with invalid clusterclass definition"
**What steps did you take and what happened:**
1) Create a clusterclass that includes a non-existent template name under `workers.machineDeployments[*].template.infrastructure.ref.name`
2) Create a cluster that uses the clusterClass from (1)
3) Run `clusterctl describe cluster` on the cluster from (2)
4) See panic in output

**What did you expect to happen:**
Clusterctl to handle the error gracefu

[2021-09-10 12:50] killianmuldoon commented on #5226
/assign

[2021-09-10 12:54] killianmuldoon opened #5227 "ClusterClass template name *only* update triggers reconcilliation"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
Reproduced in CAPD but assumed to be an issue in the ClusterClass controller:

1) Create a clusterclass that includes two identical DockerMachineTemplates with different names e.g. template1,template2
2) Create a cluster that uses the clusterClass from (1)
3) Wait until the cluster has bee

[2021-09-10 12:55] killianmuldoon commented on #5227
@fabriziopandini @sbueringer Am I right in saying the above is a bug that should be fixed?

[2021-09-10 13:05] sbueringer commented on #5227
I think yes. We can pair on debugging this by running it through the debugger if you want (but next week)

[2021-09-10 13:34] anusha94 commented on #5216
/assign

@sbueringer I can work on this!

[2021-09-10 14:53] vincepri commented on #4874
We should definitely file a bug in upstream kubeadm as well

[2021-09-10 15:08] neolit123 commented on #4874
looks like @randomvariable filed the kubeadm ticket. it also links to a new etcd repo ticket, where the main question is how to enable more granular checks or relax the existing checks.
feels like adjusting this in kubeadm should be done.

kubeadm patches in CAPI make sense in general and @randomvariable and me discussed this today at the VMware slack.

[2021-09-10 16:21] ykakarap commented on #5227
/area topology

[2021-09-10 17:16] jayesh-srivastava commented on #5112
Hey @sbueringer I have made the PR regarding this issue. Please review it : )

[2021-09-10 19:44] randomvariable opened #5230 "Ability to manage core cluster deployments and daemonsets prior to upgrading a ClusterClass managed cluster"
**User Story**

As a vendor of a product using Cluster API I would like to manually control kube-proxy and CoreDNS deployments as well as additional machine labels during a ClusterClass managed cluster upgrade. In this environment, there's no registry from which etcd, coredns, etc... OCI images can be retrieved from, but all images are baked into the machine images using https://github.com/kuberne

[2021-09-10 19:48] randomvariable commented on #5230
/area topology

[2021-09-11 10:12] #3793 closed

[2021-09-12 11:20] #3095 closed

[2021-09-12 17:23] #4473 closed

[2021-09-13 10:30] sbueringer commented on #5108
@ykakarap In the current `generate cluster` command it's possible to use a custom url / local file location for the cluster-template via `--from`. Will we introduce a similar flag to allow using e.g. a local file to provide the cluster class?

[2021-09-13 13:24] #5216 closed

[2021-09-13 13:25] randomvariable commented on #4278
The Ctrl+C is definitely a thing. envtest.stop() never gets invoked so you get the hanging processes.

[2021-09-13 13:28] killianmuldoon commented on #5204
It seems that this isn't as simple as it first appears. Tilt reads the kubeconfig on tilt up so it's not able to readily work with an environment set up as part of its internal flow. It's possible there's some way around this that I haven't come across yet. Would it be acceptable to wrap the cluster setup in `hack/tilt_with_kind.sh` and update the docs so we have an alternative way of setting this

[2021-09-13 13:31] fabriziopandini commented on #5204
what about having `hack/kind-up.sh` thus we are providing all the pieces, but not dictating a workflow the developers should align to

[2021-09-13 13:39] invidian commented on #4278
I wonder if some simple code like this would do the trick:
[code]

[2021-09-13 14:19] sbueringer commented on #5227
@killianmuldoon and I debugged it and the rollout is triggered because of metadata changes
[code]

So I think it's fine for now. I want to open an issue for consistent metadata (label/annotations) rollout anyway. I'll link it here and then close the current issue

[2021-09-13 14:19] sbueringer commented on #5227
/assign

[2021-09-13 14:44] killianmuldoon commented on #5204
Does the script in #5232 seem like the right approach?

[2021-09-13 18:02] dlipovetsky commented on #4807
@Promaethius I noticed you assigned yourself a few months ago. Are you still working on this? I'd like to help move this idea forward.

[2021-09-13 18:54] jdef opened #5233 "🐛 condition.lastTransitionTime should be required, right?"
**What steps did you take and what happened:**

Type declaration indicates that "required" is desired:
* https://github.com/kubernetes-sigs/cluster-api/blob/release-0.3/api/v1alpha3/condition_types.go#L75

CRD definition does not take this into account:
* https://github.com/kubernetes-sigs/cluster-api/blob/release-0.3/config/crd/bases/cluster.x-k8s.io_clusters.yaml#L361

**What did you expect to h

[2021-09-13 18:56] fabriziopandini commented on #5204
#5232 is really similar to the script I'm using, so this will be great for me.
However let's wait for @vincepri and @sbueringer opinion before changing direction. In case we go for it, +1 to advice the new script in the docs

[2021-09-13 19:06] fabriziopandini commented on #5227
I have still to investigate this, but it seems to me that we should not trigger rollout to align annotations or labels. However this has different nuances in KCP (and possible other control plane providers) and machine deployments, and I need some time to dig into...

[2021-09-13 19:09] sbueringer commented on #5227
@fabriziopandini My plan for the issue was mostly to investigate how we currently propagate labels/annotations on KCP/MD/MS to MS/M InfrastructureMachineTemplate, BootstrapConfigTemplate, InfrastructureMachine and BootstrapConfig and then start a discussion in the issue if the current state is as intended or what we want to change and when.

[2021-09-13 19:17] jdef commented on #5233
/area api

[2021-09-14 01:27] vincepri commented on #5233
/assign @fabriziopandini

[2021-09-14 02:35] kbreit opened #5234 "ClusterResourceSet objects don't appear"
**What steps did you take and what happened:**
I created a new kind cluster (Kubernetes 1.20.2) and installed the vSphere provider, version 0.8.1. Everything comes up okay but when I install the manifest, I don't see the cloud provider pod or DaemonSet. Further investigation shows none of the objects in the ConfigMap referenced by the ClusterResourceSet were executed for creation (ex. DaemonSet or

[2021-09-14 03:06] kbreit commented on #5234
Resolved. Looking at wrong cluster :(

[2021-09-14 03:06] #5234 closed

[2021-09-14 07:18] sbueringer commented on #5233
The problem is the `omitempty` which makes it optional. When we drop it, the field is required.

[2021-09-14 07:27] sbueringer commented on #5204
Script looks okay to me.

What impact does the local registry have? (do we use it? how? do we have to change something elsewhere because of it?)

I'm not sure about using it in quickstart. I like the current version of the quickstart, because it's very transparent about waht we require from kind (kind cluster + mount). The script looks like we require way more than that.

[2021-09-14 09:08] stmcginnis commented on #5204
I agree it's useful to have the quickstart be transparent about the setup. It may be good to keep the instructions mostly as-is so it helps explain what needs to be done, but then reference the script as a convenient way to accomplish those steps.

[2021-09-14 09:18] killianmuldoon commented on #5204
@sbueringer with tilt or a quickstart  CAPD cluster it's useful to have the local registry as otherwise you're pulling from cloud registries which may - like the default docker - have pull limits.

[2021-09-14 10:17] sbueringer commented on #5204
@killianmuldoon I know. But looking at the Kind documentation I think we have to change a bit more to actually use the registry. Or is it some kind of automatic mirror?

[2021-09-14 17:23] CecileRobertMichon commented on #4063
/lifecycle active

[2021-09-14 17:43] devigned commented on #4063
/assign @mboersma

[2021-09-14 18:26] #5016 closed

[2021-09-14 19:03] ykakarap commented on #5108
This is TBD, but sounds like a good use case that should be looked into 👍🏼

[2021-09-14 19:20] fabriziopandini commented on #5108
@ykakarap we should also get clusterctl move to move clusterclasses.

[2021-09-14 23:40] imikushin commented on #5175
Can we have more context on what Runtime Extensions are, why they need to exist, and some examples of how exactly they would be used? Without such context, it's impossible (at least, for me) to understand the proposal or any reasoning about it. Thank you!

[2021-09-15 04:37] sadysnaat opened #5236 "kcp looses rolloutStrategy field data when upgraded from v1alpha3 to v1alpha4"
**What steps did you take and what happened:**
create kind cluster
[code]

apply kcp

[code]

get kcp to verify the field data

[code]

upgrade crd to v0.4.2

by

[code]

**What did you expect to happen:**
I would expect kcp to still contain rolloutstrategy but

[code]

As `spec.infrastructureTemplate` is translated to `spec.machineTemplate` I would expect `rolloutStrategy`
to not be removed

**An

[2021-09-15 05:29] sadysnaat commented on #5236
/area api

[2021-09-15 05:29] sadysnaat commented on #5236
/area control-plane

[2021-09-15 05:50] sadysnaat commented on #5236
/area api
/area control-plane

[2021-09-15 07:37] sbueringer commented on #5236
@sadysnaat Nice finding, thx. The issue is probably that we didn't add the rolloutStrategy to the v1alpha3 structs on the main branch (aka v0.4.x). I suspect Kubernetes prunes the rolloutStrategy field before calling the conversion webhook.

Can you try if the CRD in https://github.com/kubernetes-sigs/cluster-api/pull/5237 solves the issue?
(I think you can just edit the CRD accordingly after `clu

[2021-09-15 08:38] sbueringer commented on #5236
/assign

@fabriziopandini @vincepri If my theory is correct, we should go over all our v1alpha3 types on main and compare them with the ones in release-0.3, WDYT?

[2021-09-15 08:48] sbueringer commented on #5236
I diffed kcp, kbpk, core and docker and the only other diff is that we we're missing a few constants in api/v1alpha3/{common_types.go,condition_consts.go} on main compared to release-0.3

Should we add them?

[2021-09-15 09:00] sbueringer commented on #5236
@sadysnaat I tested the following with our e2e tests.

#### current main:

* KCP before upgrade has rolloutStrategy
* Afterwards
    * `k get kcp`: returns v1alpha3 KCP without rolloutStrategy
    * `k get kubeadmcontrolplanes.v1alpha4.controlplane.cluster.x-k8s.io`: returns v1alpha4 KCP with rolloutStrategy, but with default values, not the ones I configured before
    * `k get kubeadmcontrolplan

[2021-09-15 10:34] fabriziopandini commented on #5236
Yes, please

[2021-09-15 10:55] fabriziopandini commented on #5233
+1 to change this
+1 to audit our API before graduating to v1beta1. Let's open an issue for it

[2021-09-15 11:03] sbueringer commented on #5233
But we will make this field mandatory with v1beta1, right? Because doing this in v1alpha3 or v1alpha4 looks like a breaking change to me.

[2021-09-15 12:40] sbueringer opened #5239 "Audit APIs based on Kubernetes API conventions"
I think it would be great if we take a closer at our APIs if they comply to the API conventions (to potentially fix them before v1beta1 (TBD)).

I'm not sure how far we want to go but in my opinion it would be good to at least comply to [optional-vs-required](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#optional-vs-required). Especially

[2021-09-15 12:41] sbueringer commented on #5233
audit Issue: https://github.com/kubernetes-sigs/cluster-api/issues/5239

[2021-09-15 13:11] fabriziopandini commented on #5233
Sure, API breaking changes should go into v1beta1

[2021-09-15 13:37] fabriziopandini commented on #5067
@ykakarap @sbueringer this IMO has been already address by https://github.com/kubernetes-sigs/cluster-api/pull/5153
can we close this issue?

[2021-09-15 13:51] fabriziopandini commented on #5176
@sbueringer should we close this issue now that https://github.com/kubernetes-sigs/cluster-api/pull/5191 is merged?

[2021-09-15 13:55] fabriziopandini commented on #4939
Moving to Next, Downgrades requires a bigger discussion and I don't think we can tackle this in this iteration

[2021-09-15 14:06] #5194 closed

[2021-09-15 14:10] sbueringer commented on #5176
Yup, let's close it.
/close

[2021-09-15 14:10] #5176 closed

[2021-09-15 14:11] sbueringer commented on #5067
sgtm

[2021-09-15 14:19] sbueringer opened #5240 "Consistent metadata propagation behaviour"
I'm not entirely sure how it should be, but let's discuss in this issue how we want metadata to propagate and then adjust the implementation accordingly.

Right now the metadata is propagated as follows: ( from => to)

###  KubeadmControlPlane

.labels =>
.annotations =>
.spec.machineTemplate.metadata.labels => Machine.labels, InfraMachine.labels, KubeadmConfig.labels
.spec.machineTemplate.metadat

[2021-09-15 14:31] #5227 closed

[2021-09-15 14:33] superbrothers commented on #4089
/reopen

[2021-09-15 15:59] neolit123 commented on #4507
kubeadm v1beta1 was already removed in 1.22.
i will propose v1beta2 to be deprecated in 1.24 and it will be removed in e.g. 3+ releases.

[2021-09-15 16:05] sbueringer commented on #4507
Based on this and the current state of the v1beta1 discussion, we will have to wait until the next api version after v1beta1 (I guess v1beta2) to drop this.

[2021-09-15 16:40] vincepri commented on #5239
/milestone v1.0
/kind release-blocking

[2021-09-15 16:52] #5226 closed

[2021-09-15 17:38] vincepri commented on #5175
@imikushin That's something we all need to figure out

[2021-09-15 19:37] fabriziopandini commented on #5067
/close

[2021-09-15 19:37] #5067 closed

[2021-09-15 21:38] vincepri opened #5244 "Move controllers/mdutil to an internal package"
This package contains internals to the MachineDeployment/MachineSet controllers, it should not be a public API.

/kind cleanup

[2021-09-15 21:38] vincepri commented on #5244
/kind release-blocking
/milestone v1.0

[2021-09-15 21:39] vincepri opened #5245 "Upgrade to Controller Runtime v0.10"
Before release, we should update our dependencies to the newer controller runtime and Kubernetes 1.22

/kind release-blocking
/area dependency

[2021-09-15 21:40] vincepri commented on #5245
/milestone v1.0

[2021-09-15 21:47] killianmuldoon opened #5246 "Initial e2e testing for ClusterClass and Managed topologyes"
**User Story**

As a developer I would like to be able to verify that ClusterClass and Managed Topologies functionality continues to work as expected in a real environment when I make changes to the code.

**Detailed Description**
This issue covers the first round of end to end testing for ClusterClass and Managed Topologies. The initial end to end tests should cover the quick start flow and some

[2021-09-15 21:47] killianmuldoon commented on #5246
/assign

[2021-09-15 21:47] killianmuldoon commented on #5246
/area topology

[2021-09-15 21:49] vincepri commented on #5246
/milestone v1.0

[2021-09-15 21:53] vincepri commented on #3761
/lifecycle frozen

[2021-09-15 21:53] vincepri commented on #5236
/milestone v0.4

[2021-09-15 21:54] #5236 closed

[2021-09-15 22:09] vincepri commented on #3280
/milestone v1.0
/assign @CecileRobertMichon
/kind release-blocking

[2021-09-16 00:48] ykakarap commented on #5108
ack!

[2021-09-16 00:52] ykakarap commented on #5218
/assign

Unassigned accidentally.
Will work on this after RolloutSupport for MachineDeployments is ready.

[2021-09-16 08:38] sbueringer commented on #5244
/assign

[2021-09-16 09:01] sbueringer commented on #5245
/assign

[2021-09-16 09:55] sbueringer commented on #5244
/unassign
In case someone else wants to take it up. I thought upgrading controller-runtime goes a bit smoother :)

[2021-09-16 10:04] enxebre commented on #5244
I'll go for it.
/assign

[2021-09-16 10:13] enxebre commented on #3486
/area api

[2021-09-16 11:57] sbueringer commented on #5245
@vincepri given that we're now upgrading to newer CR/Kubernetes versions, should we also update to Go 1.17?

[2021-09-16 13:37] vincepri commented on #5245
The 1.22 release is still using 1.16, we should probably keep that in sync for now

[2021-09-16 14:24] sbueringer commented on #5245
Makes sense!

[2021-09-16 15:52] sbueringer opened #5252 "Finalize Prow config for v1alpha4/v1beta1"
There are a few ProwJob changes we need:
* duplicate upgrade Jobs for release-0.4 (with 48h interval)
* some of our release-0.4 Jobs are shown in the wrong tab (https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api), they should be in the release-0.4 tab instead
* our jobs of the main branch should use the 1.22 image

/kind cleanup

[2021-09-16 15:52] sbueringer commented on #5252
/assign

[2021-09-16 16:10] killianmuldoon opened #5253 "Add conversion webhook for ClusterResourceSet"
**User Story**

As a user I would like to automatically convert ClusterResourceSets between different versions of ClusterAPI. Currently there are no automatic webhooks registered for converting ClusterResourceSet objects in ClusterAPI.

**Detailed Description**
This issue can be closed after all of the tasks to create a working webhook for ClusterResourceSet are in place for a conversion from v1al

[2021-09-16 16:12] killianmuldoon opened #5254 "Remove deprecated variables and functions for v1beta1 release"
**Detailed Description**

There are a number of outstanding deprecation messages in the code that signal removal of a function, method or variable in the next version. As cluster API moves to release v1beta1 these items should be removed from the codebase in the main branch.

/kind feature

[2021-09-16 16:12] killianmuldoon commented on #5254
/assign

[2021-09-16 16:12] killianmuldoon commented on #5253
/assign

[2021-09-16 17:14] ykakarap opened #5256 "Add conversion webhooks to CAPD DockerMachine"
**User Story**

As a user I would like to automatically convert DockerMachine between different versions of ClusterAPI. Currently there are no automatic webhooks registered for converting DockerMachine objects in ClusterAPI.

**Detailed Description**

This issue can be closed after all of the tasks to create a working webhook for DockerMachine are in place for a conversion from v1alpha3 to v1alpha

[2021-09-16 17:15] ykakarap commented on #5256
/assign

[2021-09-16 18:36] fabriziopandini commented on #5253
/milestone v1.0

this should be also back ported

[2021-09-16 18:36] fabriziopandini commented on #5254
/milestone v1.0

[2021-09-16 18:37] fabriziopandini commented on #5252
/milestone v0.4

[2021-09-16 20:36] fabriziopandini opened #5257 "Cert manager raises "Certificate will be issued with an empty Issuer DN" warning"
While debugging 5248 with tilt I noticed  following events generated by cert-manager

[code]

Digging a little bit those warning were added by https://github.com/jetstack/cert-manager/pull/3760, and the explanation of the underlying problem can be found in https://cert-manager.io/docs/configuration/selfsigned/#certificate-validity

According to the above doc, possible  solution could be to add

[c

[2021-09-17 07:57] nagygergo opened #5258 "Cert-manager test selectable namespace"
**User Story**

As an operator I would like to set the namespace where the cert-manager-test-resources are installed so the k8s user executing clusterctl commands does not have to have access to multiple namespaces.

**Detailed Description**
Currently clusterctl tests cert-manager's availability with a set of k8s manifests that are[ baked into the clusterctl binary](https://github.com/kubernetes-s

[2021-09-17 11:12] enxebre commented on #5244
@vincepri can you think of any reason why we shouldn't do the same for noderefutil?

[2021-09-17 14:18] killianmuldoon commented on #5204
You can configure the local registry as an automatic mirror, but the scope of that is OS specific and out of scope. With this setup the basic capi images are loaded into the local cluster. Other images will have to be pushed to the cluster in order to be used across workload clusters.

[2021-09-17 15:52] killianmuldoon opened #5260 "Document the release process for v1beta1"
**User Story**

As a developer I would like to understand all the actions that are taken in a major version change for Cluster API.

**Detailed Description**

While we're moving from v1alpha4 to v1beta1 we should do our best to document all the work items that need to be done, and the decisions that need to be made in making such a release. It might be a good idea to use a specific label (area/rel

[2021-09-17 16:23] #4497 closed

[2021-09-17 16:55] killianmuldoon opened #5262 "Document v1alpha4 -> v1beta1 changes for providers in CAPI book"
**User Story**

As a developer I would like to quickly understand what I need to do to update my provider from v1alpha4 to v1beta1.

**Detailed Description**
The full list of changes and the requirements for providers to update their implementations for the new v1beta1 types should be documented in the CAPI book. These changes are already documented for previous changes to the API
 a la https://cl

[2021-09-17 17:01] killianmuldoon opened #5263 "Handle Mac specific kubeconfig requirements for CAPD in clusterctl"
**User Story**

As a user I would like to be able to use the quickstart on Mac without needing to make changes to the kubeconfig file manually.

**Detailed Description**
Currently the quickstart warns Mac users that they will need to make specific changes to their kubeconfig file in order to access the workload cluster when using CAPD. A page explaining the changes is here https://cluster-api.sigs

[2021-09-17 17:03] killianmuldoon commented on #5262
/kind documentation

[2021-09-18 08:05] budhirajamadhav commented on #5208
Hi @fabriziopandini I saw how vinspri added spec.clusterName on object listing in #5202 , Can you please tell me in where can I find those files to do the same for KCP, CABPK, extensions, CAPD. And pardon if it's a silly doubt, I'm just new here!

[2021-09-20 08:01] sbueringer commented on #5208
Hi @budhirajamadhav ,
no problem.

KCP: controlplane/kubeadm/api/v1alpha4
BPK: bootstrap/kubeadm/api/v1alpha4
extensions: exp/api/v1alpha4
CAPD: test/infrastructure/docker/api/v1alpha4 + test/infrastructure/docker/exp/api/v1alpha4

You can also take a look at: https://github.com/kubernetes-sigs/cluster-api/pull/5180/files
(most of the types have also been modified in #5180)

Note: As fabrizio wrot

[2021-09-20 08:07] sbueringer commented on #5262
/assign

[2021-09-20 08:10] sbueringer commented on #5263
The only controversial point I can see about this, is how we get the Docker port. We added a new go module to avoid the dependency to the Docker client in our main Go module. So I guess in case of clsuterctl we would run a `os.Exec` for the `docker port` command?

[2021-09-20 08:32] sbueringer commented on #5204
@killianmuldoon So the registry will be deployed, but unused by tilt, right?

[2021-09-20 08:35] sbueringer commented on #5244
@enxebre At a first glance, it is used in at least CAPA/CAPZ/CAPO.

[2021-09-20 08:49] nagygergo commented on #5258
Would you accept a PR on this?

[2021-09-20 09:07] enxebre commented on #5262
/milestone v1.0

[2021-09-20 09:10] fabriziopandini commented on #5258
Currently in clusterctl we are creating namespaces for cert manager but also later on in the project when installing providers; we are also doing many other operations requiring high privileges/global privileges, like managing CRDs, RBAC rules etc, even do most them really depends by what is in the providers component.yaml files.

Given the above context, TBH I'm not sure that changing the target

[2021-09-20 09:14] #4978 closed

[2021-09-20 09:19] anusha94 commented on #5239
@sbueringer I'd like to help with this. Does having separate PRs each for core CAPI, CAPD, KCP.... etc make sense?

[2021-09-20 10:10] killianmuldoon commented on #5263
I think for Mac it would be incredibly difficult to navigate Docker Desktop to try to recreate what the CLI does to get the port mappings, so we're probably left with a raw call to the docker CLI like you said. This isn't a great pattern - it will do the job here, but at at cost.

clusterctl has a cmd package for wrapping exec commands, but as far as I can see we don't actually use it anywhere - i

[2021-09-20 10:10] killianmuldoon commented on #5263
I think for Mac it would be incredibly difficult to navigate Docker Desktop to try to recreate what the CLI does to get the port mappings, so we're probably left with a raw call to the docker CLI like you said. This isn't a great pattern - it will do the job here, but at at cost.

clusterctl has a cmd package for wrapping exec commands, but as far as I can see we don't actually use it anywhere - i

[2021-09-20 10:12] sbueringer commented on #5239
@anusha94 I think it would be good to start with a PR for the CAPI "core" types (in api/v1alpha4) for optional vs required and then let's see where that leads us (i.e. how disruptive the change will be).

Note: There's currently a PR open for v1beta1 types (https://github.com/kubernetes-sigs/cluster-api/pull/5248). I'm not sure how fast we will merge it but I think the "optional vs required" PR ha

[2021-09-20 10:12] sbueringer commented on #5239
/cc @vincepri

[2021-09-20 10:25] sbueringer commented on #5263
Not sure about the cmd package.

For reference, that's how we did it in our e2e tests before migrating to the Rest API / docker lib:
https://github.com/kubernetes-sigs/cluster-api/blob/release-0.3/test/framework/cluster_proxy.go#L291-L316

[2021-09-20 10:33] fabriziopandini commented on #5263
I understand this will make quick start easier, but I'm so so with the idea of having provider specific code in clusterctl.
Also, fyi kind is already doing something similar but I don't remember implementation details but I can help to search for it if it can help.

[2021-09-20 10:46] killianmuldoon commented on #5263
Agreed that this might be a step further than we'd like to go to make the quick start a little easier. It looks to me that Kind is using provider specific code i.e. they have a docker and a podman package, and the docker package has this flow: https://github.com/kubernetes-sigs/kind/blob/4910c3e221a858e68e29f9494170a38e1c4e8b80/pkg/cluster/internal/providers/docker/provider.go#L159

[2021-09-20 12:26] sbueringer commented on #5256
@ykakarap If I saw correctly it's implemented in: https://github.com/kubernetes-sigs/cluster-api/pull/5248/files

[2021-09-20 12:57] sbueringer commented on #5256
But looks like we don't have a conversion_test.go (even after the PR)

[2021-09-20 12:58] sbueringer commented on #5253
Not sure if that's already implicitly included but would be great to also have fuzzy conversion tests like for our other types (i.e. `conversion_test.go`)

[2021-09-20 12:59] sbueringer commented on #5253
We also need ClusterResourceSetBinding conversion, is this part of this issue?

[2021-09-20 14:45] sbueringer opened #5265 "Add conversion for MachinePool"
Let's add the following for MachinePools (after #5248)
* conversion.go in v1alpha4 package
* conversion fuzzy test
* webhook conversion patches in config/

/kind bug
[One or more /area label. See https://github.com/kubernetes-sigs/cluster-api/labels?q=area for the list of labels]

[2021-09-20 14:46] sbueringer commented on #5265
/assign

[2021-09-20 15:11] devigned commented on #4288
/remove-lifecycle stale

[2021-09-20 15:26] ykakarap commented on #5256
@sbueringer Yes, looks like the updated #5248 now adds these conversions.

I will use this issue to open a PR to add conversion_test.go for v1alpha3 and v1alpha4 types.

[2021-09-20 16:57] fabriziopandini commented on #5253
Yes, let's consider ClusterResourceSetBinding as part of this effort

[2021-09-20 18:36] ykakarap opened #5268 "`hack/version.sh` should use annotated tags"
**Details**:

In `hack/version.sh` the `git describe` should only list annotated tags. This will help with the correct flow where it can ignore `test/vX.Y.Z` tags (these are light weight tags).

This will make sure that we do not hit issues where the release automation pipeline throws fails with errors like "invalid value "GIT_VERSION should be a valid Semantic Version. Current value: test/v0.4.3

[2021-09-20 18:36] ykakarap commented on #5268
/assign

[2021-09-20 18:39] ykakarap commented on #5268
Use `git describe --abbrev=0  --match "v[0-9]*"`

[2021-09-20 18:55] CecileRobertMichon commented on #5265
should be after #5248

[2021-09-20 19:16] fabriziopandini opened #5269 "clusterctl v1beta1 should allow upgrades starting from v1alpha3"
**Detailed Description**

Considering the v1beta1 does not introduces breaking changes from v1alpha4, and that we want to allow a smooth migration towards v1beta1, then clusterctl v1beta1 should allow upgrades starting from v1alpha3

It is also required to have v1alpha3 --> v1beta1 and v1alpha4 --> v1beta1 (one of those is already there, but not working after breaking changes for v1beta1)

**Anyth

[2021-09-20 19:17] fabriziopandini commented on #5269
/area clusterctl
/milestone v1.0
/kind release-blocking

[2021-09-20 19:47] vincepri commented on #5268
/kind release-blocking

[2021-09-20 19:47] vincepri commented on #5268
/milestone v1.0

[2021-09-20 19:47] vincepri commented on #5265
/milestone v1.0

[2021-09-20 19:48] vincepri commented on #5252
/kind release-blocking

[2021-09-20 19:50] fabriziopandini commented on #5269
/assign

[2021-09-20 20:06] #5252 closed

[2021-09-20 20:48] ykakarap commented on #5257
/assign

[2021-09-20 21:10] CecileRobertMichon commented on #3280
https://www.kubernetes.dev/resources/rename/

Steps:

## Prerequisites

- [x] Create an issue in your repo to track the branch rename.
You can paste this checklist in the issue body.

- [x] If you are not a root approver for the repo, assign a root
approver for approval.

- [x] Once the issue has been approved, send a notice to your SIG's
mailing list about the potential branch rename.

## Changes

[2021-09-20 21:30] #5268 closed

[2021-09-21 05:36] anusha94 commented on #5239
/assign anusha94

[2021-09-21 07:24] sbueringer commented on #5269
Just fyi, testgrid looks like all tests are still consistently successful.

[2021-09-21 07:48] sbueringer commented on #5265
+1, I fixed the description

[2021-09-21 08:01] sbueringer opened #5277 "Use Controller-Runtime release for CAPI v1beta1/v1.0.0"
PR https://github.com/kubernetes-sigs/cluster-api/pull/5249 will change our CR dependency to a commit instead of a CR release. Let's make sure we're using a CR release when we release CAPI v1beta1

/kind cleanup
/kind release-blocking

[2021-09-21 09:16] sbueringer commented on #5258
I wonder if it's an alternative to deploy the cert-manager test resources in the cert-manager namespace?

Although this also might require creating a namespace if the cert-manager has already bin installed to a different Namespace before (in this case clusterctl wouldn't deploy cert-manager)

[2021-09-21 09:27] fabriziopandini commented on #5277
/milestone v1.0

[2021-09-21 11:27] budhirajamadhav commented on #5208
Hey @sbueringer
I added cluster name to all the non core types explicitly like this (image).
![image.png](https://user-images.githubusercontent.com/73742540/134162621-34a9f035-5f98-42a9-897d-92869a597f64.png)
But as @fabriziopandini mentioned in the comment that when the information is not available as explicit field, it should be possible to get this information from labels. So, how will I get to

[2021-09-21 11:47] sbueringer commented on #5208
@budhirajamadhav You have to add the column by adding a Go tag to the corresponding type. You can take a look at that type if it contains the `clusterName`.

For example: Machine
columns are defined here: https://github.com/kubernetes-sigs/cluster-api/blob/master/api/v1beta1/machine_types.go#L239-L244
when you go through the struct you can find the `clusterName` field here: https://github.com/kube

[2021-09-21 13:04] fabriziopandini commented on #5265
/kind release-blocking

[2021-09-21 13:05] fabriziopandini commented on #5256
/kind release-blocking
/milestone v1.0

[2021-09-21 13:05] fabriziopandini commented on #5253
/kind release-blocking

[2021-09-21 13:06] fabriziopandini commented on #5254
/kind release-blocking

[2021-09-21 13:32] #5262 closed

[2021-09-21 13:50] #5256 closed

[2021-09-21 14:04] sbueringer opened #5279 "Add conversion for DockerMachinePool"
Let's add conversion (impl, webhook, unit test) for DockerMachinePools.

/kind bug
[One or more /area label. See https://github.com/kubernetes-sigs/cluster-api/labels?q=area for the list of labels]

[2021-09-21 14:04] sbueringer commented on #5279
/assign
/kind release-blocking

[2021-09-21 14:40] killianmuldoon opened #5281 "Update to v1beta1"
This issue tracks the cleanups and tasks that go into creating a new version of CAPI:

Issues and PRs:

Major type additions, module and dependency updates, test support and core changes for the new version
#5248
#5249
#5245
#5277

CAPI book and other documentation updates
#5262

Clusterctl upgrade support
#5269

Code cleanups - deprecations, API changes, packages moved to internal
#5254
#5250
#52

[2021-09-21 14:41] killianmuldoon commented on #5281
I intentionally left out the changes around master -> main as I don't think they'll be useful for future releases. If we'd prefer to add them - or if there's anything else missing here - I can do so.

[2021-09-21 14:50] killianmuldoon opened #5282 "Update v1alpha3->alpha4 conversion guide with recent contract revisions"
**Detailed Description**
This task involves updating the CAPI book's v1alpha3-v1alpha4 conversion guide to include recent changes in the CAPI contract.

As per https://github.com/kubernetes-sigs/cluster-api/pull/5264#issuecomment-923992674 changes made over the course of a release - e.g. clusterClass motivated changes to the CAPI contract made during v1alpha4 - should be included in the correct co

[2021-09-21 15:34] sbueringer commented on #5282
Probably makes sense to cherry-pick to release-0.4 for the release-0.4 book

[2021-09-21 16:23] AartiJivrajani opened #5283 "🐛 e2e generated cluster-template.yaml has `null` instead of `""`"
**What steps did you take and what happened:**
in case of CAPV, when one of the config params is set to `""`, the e2e tests generate the `cluster-template.yaml` with the value `null` instead of `""`.

**What did you expect to happen:**
The field which is set to `""` in `/test/e2e/artifacts/repository/cluster-config.yaml` should be set to `""` in the generated `cluster-template.yaml` as well on run

[2021-09-21 16:23] AartiJivrajani commented on #5283
/assign

[2021-09-21 16:35] vincepri commented on #5283
Should this issue be transfered to CAPV?

[2021-09-21 17:24] vincepri commented on #5281
/milestone v1.0
/kind release-blocking

[2021-09-21 17:32] sbueringer opened #5287 "Add controller-runtime conversion linter"
**User Story**

As a developer I would like to have a mechanism which ensures that it's impossible to forget implementing `conversion.Convertible` and `conversion.Hub` when adding new versions of types.

**Detailed Description**

Some context:
When we support multiple versions of the same type in CAPI we currently implement `Hub` / `ConvertFrom` and `ConvertTo` functions to make sure the versions

[2021-09-21 17:32] sbueringer commented on #5287
/assign

[2021-09-21 19:36] killianmuldoon opened #5289 "Create step-by-step guide for implementing conversion webhooks in CAPI"
**User Story**

As a developer I would like to understand the steps that go into creating a conversion webhook for a new type in Cluster API.

**Detailed Description**
This issue should result in some documentation on the specific tasks required to turn a new CAPI API type into a convertible type that is registered properly with a conversion webhook in the CAPI controller.

/kind feature

[2021-09-21 19:37] killianmuldoon commented on #5289
/assign

[2021-09-22 08:00] sbueringer opened #5290 "Consistent CRD columns and column order"
**User Story**

As a user I would like to have consistent columns and column order across CAPI types.

**Detailed Description**

The idea is that the by adding a few more columns and having them in a consistent order it's easier to navigate output of commands like `kubectl get kcp,md,ms,...`

I would propose the following:

Order:
* Namespace | Name | Cluster | Other fields | Replica-related field

[2021-09-22 08:00] sbueringer commented on #5290
/assign

[2021-09-22 08:05] sbueringer commented on #5290
Note: The following types currently only have the `Age` column, `Cluster` will be added if possible / it makes sense. I'll otherwise ignore them for now:
* clusterclasses.cluster.x-k8s.io
* clusterresourcesetbindings.addons.cluster.x-k8s.io
* clusterresourcesets.addons.cluster.x-k8s.io
* dockerclusters.infrastructure.cluster.x-k8s.io
* dockerclustertemplates.infrastructure.cluster.x-k8s.io
* docke

[2021-09-22 09:54] #5015 closed

[2021-09-22 10:55] fabriziopandini commented on #4610
/lifecycle frozen

[2021-09-22 10:55] fabriziopandini commented on #4611
/lifecycle frozen

[2021-09-22 13:15] sbueringer commented on #5208
One additional hint (based on https://github.com/kubernetes-sigs/cluster-api/issues/5290). Let's add cluster as the first column.

Please let me know if there's something I can do to help :)

[2021-09-22 13:53] sbueringer opened #5291 "Improve UX of MachineHealthCheckStatus"
**Description**

MHC currently has the following columns: `MaxUnhealthy`, `ExpectedMachines`, `CurrentHealthy`. Based on this columns  it's a bit hard to grasp what's going on.

The fields have the following semantic (or at least godoc):
* .spec.maxUnhealthy:  Any further remediation is only allowed if at most "MaxUnhealthy" machines selected by
* .status.expectedMachines: total number of machines

[2021-09-22 14:12] killianmuldoon commented on #5204
Tilt will automatically detect a registry and use it instead of using kind load (assuming the registry is detected) - https://docs.tilt.dev/choosing_clusters.html#kind

[2021-09-22 14:26] sbueringer commented on #5204
Ah thx, interesting info.

[2021-09-22 14:42] #5269 closed

[2021-09-22 15:07] randomvariable opened #5294 "Cleaner separation of kubeadm and machine bootstrapping"
**User Story**

As a cluster operator, with development teams requiring the use of multiple operating systems, I would like a better machine bootstrapping abstraction.

**Detailed Description**

Cluster API Bootstrap Provider Kubeadm currently conflates two activities:

- Generating a kubeadm configuration
- Generating the machine bootstrapping data that eventually executes kubeadm, which only at

[2021-09-22 15:17] randomvariable commented on #5239
I'm wondering about `+optional` . Does it actually do anything if the packages aren't marked with the kubebuilder:validation:Required annotation at the top level. Been considering actually doing that in CAPA, or otherwise removing the `+optional`s

[2021-09-22 15:21] sbueringer commented on #5239
either +optional, or the field being a pointer or omitempty will trigger the field not being required in the CRD

[2021-09-22 15:22] #5253 closed

[2021-09-22 15:26] randomvariable commented on #5239
Reading https://book.kubebuilder.io/reference/markers/crd-validation.html, it says for `+optional`:

`specifies that this field is optional, if fields are required by default.` , but we haven't set required by default, so I think the actual current behaviour is everything is optional in the CRD unless marked as required. This came to the fore in CAPA recently where stuff we thought was required wa

[2021-09-22 15:40] vincepri commented on #5239
IIRC everything is required unless `+optional` is set. The `omitempty` field on json is also important when something is optional to make sure the json encoder doesn't send the data to the API server in case of defaults with non-pointer types.

[2021-09-22 15:41] randomvariable commented on #5239
I thought so too, but that turned out not to be the case, requiring https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2740/files for example. We're considering getting the behaviour we thought we had by marking the API package with the validation required annotation.

[2021-09-22 15:50] randomvariable commented on #5239
Thanks for the clarification. Next question considering API conventions. What are we doing about Phase?

[2021-09-22 15:53] vincepri commented on #5239
We could choose to remove the field in v1beta1, but I'd rather keep our compatibility promise with v1alpha4. It's mostly informative, I haven't heard any feedback that's causing issues though. What do you think?

[2021-09-22 15:58] #5279 closed

[2021-09-22 15:58] randomvariable commented on #5239
That makes sense, though I'm keen to have to prevent any new consumers of it appearing. Should we mark it as deprecated in the field comments?

[2021-09-22 16:03] sbueringer commented on #5239
I might be wrong but I explicitly tested `either +optional, or the field being a pointer or omitempty will trigger the field not being required in the CRD` locally and to me it looks like it works that way.

[2021-09-22 16:04] randomvariable commented on #5239
I think you're right and I'm wrong and tracked down the combination of things that meant we ended up with optional fields where we didn't want in CAPA.

[2021-09-22 16:06] sbueringer commented on #5239
Note regarding your comment above: I think `kubebuilder:validation:Optional` and `+optional` or not the same. I don't know how kubebuilder tags interact with the behavior of `+optional`, pointers and `omitempty`.

[2021-09-22 16:14] sbueringer commented on #5239
I'm not sure if nullable does what you want. It's a OpenAPI Schema v3 construct to essentially modify your current type to be `type or null` (e.g. int or null).
Doc: https://swagger.io/docs/specification/data-models/data-types/?sbsearch=nullable

Looks like we're currently not using it in the core repo and it's also not mentioned in API conventions.

[2021-09-22 16:20] vincepri commented on #5294
/assign @killianmuldoon

[2021-09-22 16:26] sbueringer commented on #4484
Would it make sense to add to a link to `https://doc.crds.dev/github.com/kubernetes-sigs/cluster-api` in our book in the meantime?

[2021-09-22 16:26] randomvariable commented on #5294
One excellent suggestion from the lengthy discussion in that proposal was that we should https://github.com/mozilla/sops as the encryption envelope for private key material.

[2021-09-22 16:27] CecileRobertMichon commented on #5294
/cc @t-lo

[2021-09-22 16:30] randomvariable opened #5295 "Support for multiple ControlPlaneEndpoints"
**User Story**

As a cluster user I want to be able to access my Azure private cluster and/or CAPD cluster on MacOS after the cluster is provisioned without having to hack my `/etc/hosts`, set up DNS routing or hack my kubeconfig.

**Detailed Description**

[A clear and concise description of what you want to happen.]

The origins of this discussion originally lay within the machine load balancer

[2021-09-22 16:33] randomvariable commented on #4484
Yes. I do point users at CRD docs sometimes.

[2021-09-22 16:41] AartiJivrajani commented on #5283
Based on all the preliminary testing I did, it looks like it might be something in the e2e framework of CAPI (which CAPV) uses - where the cluster-template is created after `yaml.Unmarshal` is called. I will keep working on triaging it further. Shall we let the issue be in CAPI for now? We can move it to CAPV if you prefer.

[2021-09-22 16:44] AartiJivrajani commented on #5291
@sbueringer ,do you mind if I pick this up?

[2021-09-22 17:32] vincepri commented on #5287
/milestone v1.0

[2021-09-22 18:14] sbueringer commented on #5291
@AartiJivrajani fine for me

[2021-09-22 18:32] vincepri commented on #4484
I wonder if we can embed those references?

[2021-09-22 18:33] vincepri commented on #5289
+1
/kind documentation
/milestone v1.0
/priority important-longterm

[2021-09-22 18:40] hasheddan commented on #4484
Apologies for the delay on https://github.com/kubernetes-sigs/controller-tools/issues/240 folks. @vincepri are you thinking something along the lines of an `iframe` embed? Happy to update https://doc.crds.dev to accommodate any use-case y'all need :)

[2021-09-22 19:05] vincepri commented on #4484
Something like that? We could also embed the html directly, but have no idea if that's actually going to work

[2021-09-22 19:50] AartiJivrajani commented on #5291
/assign

[2021-09-22 21:46] ykakarap commented on #5283
Debugged the problem with @AartiJivrajani. The issue is with the underlying temple file used by CAPV and `clusterctl generate cluster` is working as expected.

@AartiJivrajani Feel free to close the issue if it can be considered as resolved.

[2021-09-22 22:31] AartiJivrajani commented on #5283
Thank you for your help @ykakarap! :D
I will work on fixing the template file in CAPV.

[2021-09-22 22:31] #5283 closed

[2021-09-23 06:47] budhirajamadhav commented on #5208
HI @sbueringer my work is almost done but check this a bit, when the clusterName is not available as an explicit field, like it says in the [comment](https://github.com/kubernetes-sigs/cluster-api/issues/5198#issuecomment-912717888) **"The prior art"** , do I have to add a const like this?
![image](https://user-images.githubusercontent.com/73742540/134464958-5a74c205-82d5-492e-b47b-c158c3b68f63.pn

[2021-09-23 11:47] sbueringer commented on #5208
@budhirajamadhav Almost.

You have to add the following annotation on the type:
[code]

Then you can run `make generate-manifests` and the make target will update the CRD accordingly.

This also applies to cases where the clusterName is part of the spec. You always have to specify does columns on the Go types, the CRDs are then updated by `generate-manifests`.

[2021-09-23 12:25] budhirajamadhav commented on #5208
Ah, Much thanks @sbueringer
Sorry, I didn't knew CRDs are updated like that. Still new to this😅

[2021-09-23 12:40] sbueringer commented on #5208
@budhirajamadhav No worries, there's no way to "just know" this :)

[2021-09-23 14:42] randomvariable opened #5306 "Add personas to the book"
**Detailed Description**

In the process of reviewing #4283, @enxebre suggested clarifying the personas, and it looks like there's a few I've been commonly using in CAEPs across repos which aren't in the book at  https://github.com/kubernetes-sigs/cluster-api/blob/main/docs/book/src/user/personas.md which should probably be added

**Anything else you would like to add:**

[Miscellaneous informatio

[2021-09-23 14:42] randomvariable commented on #5306
/kind documentation

[2021-09-23 14:43] randomvariable commented on #5306
/assign

[2021-09-23 14:47] #5244 closed

[2021-09-23 15:21] #5290 closed

[2021-09-23 15:27] JoelSpeed commented on #5295
I don't think I have too much to add that isn't already written in the linked hackmd doc, but I think some of the highlights of the previous conversation are worth pulling out:
* This should be optional - we don't need everyone to use this as it's not strictly necessary, also to keep backwards compatibility, lets make this an optional feature
* We need options to allow switching various traffic pa

[2021-09-23 15:51] JoelSpeed commented on #5294
Just wanted to clarify what we are talking about here, is the purpose of this issue to define an interface for various providers to implement (for different OSs?) or to define a tool that will be implemented?

Reading through some of this it seemed as if this is talking about building some bootstrap binary that would allow configuration of various OSs, but I initially had assumed this would define

[2021-09-23 16:17] #5265 closed

[2021-09-23 17:19] killianmuldoon commented on #5157
Fixed by #5259

[2021-09-23 17:19] #5157 closed

[2021-09-23 18:29] #5254 closed

[2021-09-23 18:33] sbueringer commented on #5204
@killianmuldoon fixed by https://github.com/kubernetes-sigs/cluster-api/pull/5232 ?

[2021-09-23 19:05] killianmuldoon commented on #5204
Re-reading this I think I should update the docs with a new PR to point to the script.

[2021-09-23 19:29] fabriziopandini opened #5307 "Collect orphan objects when topology reconciler fails"
In case the topology reconciler fails in the middle of a reconciliation here could be a case a objects has been created but it is not yet used by the owning object e.g-
- InfrastructureCluster created, error before upgrading the Cluster to use the InfrastructureCluster
- InfrastructureMachine created, error before creating/upgrading the MachineDeployment to use the InfrastructureMachine

We should

[2021-09-23 19:29] fabriziopandini commented on #5307
/area topology

[2021-09-23 19:34] #5287 closed

[2021-09-23 19:37] fabriziopandini opened #5308 "Pre compute topology versions before computing the desired state of a cluster"
As of today when computing the desired state of a managed topology we also compute the version to be applied to the control plane and to machine deployment objects.

It is required to split computing version in a separated step, afterwards defined as pre-compute, that should be compute earlier in the reconcile process, because the version to be applied to control plane and to machine deployment ob

[2021-09-23 19:38] fabriziopandini commented on #5308
/area topology
/hold
for the patch proposal to merge

[2021-09-23 19:54] fabriziopandini opened #5309 "Extend usage of the contract package"
During the work for ClusterClass we started encoding the Cluster API contract as a set of golang types wrapping unstructured defined in https://github.com/kubernetes-sigs/cluster-api/tree/main/controllers/topology/internal/contract.

This not only provided a cleaner code in the topology controller, but it also provides a well defined, centralized representation of the Cluster API contract.

Given

[2021-09-23 22:06] tahirali-endurance opened #5311 "Can not create EKS cluster"
**What steps did you take and what happened:**
1. Generated yamls:
[code]

2. Put existing Subnets and VPCs in AWS Cluster object:
[code]

3. Apply the manifest
[code]

**What did you expect to happen:**
EKS cluster is created

**Environment:**
MacOS

- Cluster-api version:
[code]

- Minikube/KIND version:
Using EKS cluster(1.19) as bootstrap cluster

- Kubernetes version: (use `kubectl version`):

[2021-09-24 06:37] sbueringer commented on #5311
Looks like a CAPA issue to me, should we transfer the issue to `cluster-api-provider-aws`?

[2021-09-24 06:38] sbueringer commented on #5291
Small disclaimer: I only mentioned the examples above to show that the UX currently is not great. The idea of this issue is to re-think how it should be.

[2021-09-24 06:42] sbueringer commented on #5309
Note: I think it's also an important consideration if we want keep the package internal or if we want to make it public.

[2021-09-24 08:51] killianmuldoon commented on #5309
Maybe it's best to move it to /internal/contract for now so we can use it across the codebase, and we can make it public in a future implementation once we have a better understanding of the API that works best.

[2021-09-24 09:18] fabriziopandini commented on #5309
+1 to keep it internal for now
/milestone v1.0

[2021-09-24 09:19] fabriziopandini commented on #5308
/milestone v1.0

[2021-09-24 09:19] fabriziopandini commented on #5307
/milestone v1.0

[2021-09-24 09:40] killianmuldoon commented on #5307
One idea to consider here is something like the Lien being explored for Kubernetes in https://github.com/kubernetes/enhancements/pull/2840/files. Some field like this could work as a semaphore that we clean add on successful full reconcile and then clean up objects that aren't currently marked by a 'Lien'.

[2021-09-24 10:04] fabriziopandini opened #5314 "Remove machine.status.version"
Machine.status.version fileld is never set, so removing it also considering that now we have machine.status.nodeInfo reporting more detailed information collected from kubelet

/kind bug
/milestone v1.0
/kind release-blocking

/assign

[2021-09-24 10:44] killianmuldoon opened #5316 "Create unified patching/matching library"
**User Story**

As a developer I would like a single API inside CAPI to compare and alter objects.

**Detailed Description**

With the merging of PR #5259 there are now two implementation of using json patches to match and patch objects in the CAPI codebase - one under /internal/matchers and a second under controllers/topology/internal/mergepatch. The base implementation of these functions is the

[2021-09-24 13:11] killianmuldoon commented on #5281
#5260

[2021-09-24 13:37] randomvariable commented on #5294
I think it would be both: An interface with a default implementation.

[2021-09-24 14:47] fabriziopandini commented on #5087
@neolit123 archival should be completed

/close

[2021-09-24 14:47] #5087 closed

[2021-09-24 15:02] fabriziopandini commented on #5291
@vincepri @CecileRobertMichon do we want to get this into v1beta1?

[2021-09-24 15:33] fabriziopandini commented on #1271
/milestone v1.0

[2021-09-24 15:35] enxebre commented on #5291
fwiw If the changes exclusively are cosmetic i.e naming I'm a +1 for v1beta1.

[2021-09-24 15:39] #5204 closed

[2021-09-24 15:53] fabriziopandini commented on #5222
/milestone v1.0

[2021-09-24 16:16] fabriziopandini commented on #5230
Recap of the specific use case:
- Cluster with KCP with annotations to opt-out from default kube-proxy and CoreDNS lifecycle management.
- It is required to have a hook to trigger external lifecycle management of those components before Cluster upgrade.

WRT to detailed description, while I understand that this can fall into the bucket of a generic idea of Lifecycle hooks, I personally think we sh

[2021-09-24 16:21] fabriziopandini commented on #5108
/milestone v1.0

[2021-09-24 16:22] fabriziopandini commented on #5115
/milestone v1.0

[2021-09-24 16:22] fabriziopandini commented on #5120
/milestone v1.0

[2021-09-24 16:22] fabriziopandini commented on #5125
/milestone v1.0

[2021-09-24 16:22] fabriziopandini commented on #5142
/milestone v1.0

[2021-09-24 16:26] fabriziopandini commented on #5145
Note: sequencing of MachineDeployments, is now defined by the order in Cluster.Topology.Workers.MachineDeployments, so the users has full control of it. The delta to complete this story is to introduce a mechanism for pausing in between machine deployments upgrades

/milestone v1.0

[2021-09-24 16:27] fabriziopandini commented on #5183
/close
Superseed by #5222

[2021-09-24 16:27] #5183 closed

[2021-09-24 16:28] fabriziopandini commented on #5195
/milestone v1.0

[2021-09-24 16:29] fabriziopandini commented on #5196
/milestone v1.0

[2021-09-24 16:29] fabriziopandini commented on #5198
/milestone v1.0

[2021-09-24 16:30] fabriziopandini commented on #5218
/milestone v1.0

[2021-09-24 16:30] fabriziopandini commented on #5203
/milestone v1.0

[2021-09-24 16:31] fabriziopandini commented on #5246
/milestone v1.0

[2021-09-24 16:39] #5314 closed

[2021-09-24 16:50] fabriziopandini opened #5318 "ClusterClass rebase"
**User Story**

As a user/operator I would like to change a ClusterClass for a specific Cluster

**Detailed Description**
Many Cluster could share the same ClusterClass; whenever I change a ClusterClass, all the Cluster align to changes.
This is powerful, but in some cases I would like to have an alternative to change Clusters in a more controller way.

A possible solution to address this issue is

[2021-09-24 16:50] fabriziopandini commented on #5318
/area topology
/milestone v1.0

[2021-09-24 17:53] CecileRobertMichon commented on #3280
Rename is complete

/close

[2021-09-24 17:53] #3280 closed

[2021-09-24 18:11] fabriziopandini opened #5319 "Clusterctl topology dry run"
**User Story**

As a user/operator I would like to have a tooling that helps me migrating my templates to clusterclass
As a user/operator I would like to have a tooling that helps me in designing new clusterclasses
As a user/operator I would like to have a tooling that helps me in understanding what are the effects of a change in a clusterclass

**Detailed Description**

ClusterClass and managed t

[2021-09-24 18:13] fabriziopandini commented on #5319
/area topology
/milestone v1..0

/assign
For the initial exploration work, but then I will probably end over the work to @ykakarap if he wants to step in

[2021-09-24 18:42] fabriziopandini commented on #5239
@sbueringer is there work left on this issue?

[2021-09-24 18:45] ykakarap commented on #5319
@fabriziopandini I am happy to take it up! 😃

[2021-09-24 18:47] fabriziopandini commented on #4996
/milestone v1.0

[2021-09-24 19:20] sbueringer commented on #5239
@fabriziopandini If we only look at optional vs required it should be done with my 2 open PRs. But I only checked for consistency. I didnt go over all fields to check if they should be optional or required

[2021-09-24 22:21] vincepri opened #5323 "Consider having webhooks in a separate container within the same pod"
We're currently bundling managers and webhooks in the same container. If the manager, for whatever reason, cannot start it might cause a chain reaction failure with all other controllers as well.

As an example:

- Let's assume that one has a management cluster with Cluster API, CABPK, KCP, and AWS installed.
- If the Cluster API core manager fails, the other controllers might fail to retrieve any

[2021-09-24 22:47] CecileRobertMichon commented on #5311
cc @richardcase

[2021-09-24 22:49] jsturtevant opened #5324 "When control plane nodes isn't avaliable the Machine spec still reports healthy status"
**What steps did you take and what happened:**

Through my own mistake :facepalm:, I deleted a workload cluster machines (all the them including the control plane). My provider nodes reported in a bad state:

[code]

but the cluster api machines reported running and healthy:

[code]

[code]

**What did you expect to happen:**
I would expect the state from the infra specs (failed in this case) to p

[2021-09-25 04:45] #4519 closed

[2021-09-25 05:33] richardcase commented on #5311
/transfer-issue cluster-api-provider-aws

[2021-09-27 08:14] chymy opened #5325 "Add a flag to decide whether to clusterctl version check"
**User Story**

As a developer/user I would like to add a flag to decide whether to `Check if clusterctl needs an upgrade "AFTER" running each command and sub-command` when I use the local depository of clusterctl

**Detailed Description**

With no connection to the outside network, when I use the local depository of clusterctl(e.g.: `clusterctl upgrade plan --config /root/local-depository/cluster

[2021-09-27 08:15] chymy commented on #5325
/area clusterctl

[2021-09-27 09:17] sbueringer commented on #5323
We're assuming a case where the manager doesn't start at all because there is some kind of error with the controller?

[2021-09-27 12:41] fabriziopandini commented on #5323
Wondering if we should address this here or if this is a controller-runtime concern to run as much services as possible (eg. run webhook even if the reconciler/controller loop is failing)

[2021-09-27 12:56] fabriziopandini opened #5327 "Clusterctl should enforce provider order during init and upgrade"
**Detailed Description**

While testing clusterctl v1alpha3-->v1alpha4 upgrade we detected flakiness due to clusterctl upgrade upgrading a provider before than upgrading CAPI.

[code]

The web hook failure was caused by the provider controller trying to use version of core types not yet installed due to the upgrade order.

[code]

This error was not being detected in the CAPI test grid by chance,

[2021-09-27 12:56] fabriziopandini commented on #5327
fix https://github.com/kubernetes-sigs/cluster-api/pull/5321
backport https://github.com/kubernetes-sigs/cluster-api/issues/5327

/close

[2021-09-27 12:57] #5327 closed

[2021-09-27 12:57] fabriziopandini commented on #5327
/milestone v1.0

[2021-09-27 12:57] fabriziopandini commented on #5327
/kind release-blocking

[2021-09-27 14:41] sbueringer commented on #5327
Some additional context:

We actually also had this issue with CAPD, but it just never surfaced. In case of CAPD, the CAPD controller was upgraded and then all others at it recovered automatically.

The difference in CAPA was that CAPA has a cluster-wide resource called `AWSClusterControllerIdentity` with existing resource (during the upgrade call).

So what did actually happen in the CAPA upgrade

[2021-09-27 15:34] ykakarap commented on #5222
/assign
to run some tests around the above points.

[2021-09-27 15:50] ykakarap commented on #5318
/assign

[2021-09-27 16:06] sbueringer commented on #5233
Fixed in #5303

/close

[2021-09-27 16:06] #5233 closed

[2021-09-27 16:32] fabriziopandini commented on #4996
/assign

[2021-09-27 18:23] sbueringer opened #5332 "API conventions: CRD columns: status vs intent"
This issue is based on a discussion on: https://github.com/kubernetes-sigs/cluster-api/pull/5304#discussion_r715119225

So there are the following questsions:
1. Do we want to add the note I suggested above to the API conventions
2. Do we want to rename the `VERSION` column in `Cluster` and `MachineDeployment` to make it more clear that the version is just the spec and not the status

/kind featur

[2021-09-27 18:27] sbueringer opened #5333 "API conventions: Add note about conceptually required fields which have to be optional"
This issue is based on a discussion on: https://github.com/kubernetes-sigs/cluster-api/pull/5304#discussion_r715130397

So the question is should we add the following Note to the API conventions:

/kind feature

[2021-09-27 18:28] sbueringer commented on #5333
/cc @enxebre
/area api

[2021-09-27 18:28] sbueringer commented on #5332
/cc @enxebre
/area api

[2021-09-27 18:33] Arvinderpal commented on #5324
@jsturtevant I think I have reproduced this partially on my CAPD cluster. Though the behavior is a bit different:
If I delete the underlying KCP DockerMachine:
[code]
Then, I do see the Machine object enter a failed state:
[code]
However, Ready and Available Conditions in KCP do not reflect this, while a few others do suggest that something is wrong:
[code]
Also can be seen with:
[code]

[2021-09-27 18:35] Arvinderpal commented on #5324
@jsturtevant I'd be happy to take this ticket and investigate further, but let me know if you want to take a stab. :smile:

[2021-09-27 19:17] jsturtevant commented on #5324
I wonder what the differences is between the Azure provider and capd.

go for it :-)

[2021-09-27 21:30] killianmuldoon opened #5338 "Integrate internal/matchers into Komega style test abstraction in Controller Runtime"
**User Story**

As a developer I would like to have a consistent abstract toolset to quickly write unit tests in Cluster API.

**Detailed Description**

The matchers package added in #5259 brings generic matching to Cluster API objects and makes it easier to match only on required fields at test time. In controller runtime a similar approach with some differences  - called Komega in its current it

[2021-09-28 10:32] sbueringer opened #5340 "Add cluster name field or label to DockerMachinePool"
**User Story**

As a user/operator I would like to be able to easily figure out to which cluster a DockerMachinePool belongs.

**Detailed Description**

Usually we have either a `.spec.clusterName` field or the `cluster.x-k8s.io/cluster-name` label on resources belonging to a specific cluster. DockerMachinePool has neither.

**Anything else you would like to add:**

Q1: Should it be a field or a l

[2021-09-28 10:32] sbueringer commented on #5340
/area provider/docker

[2021-09-28 13:34] sbueringer opened #5341 "Consider adding version information to the Cluster status"
**User Story**

As a user I would like to be able to access version information about my Cluster (topology) in the Cluster status.

**Detailed Description**

(this issue is based on the following conversation: https://github.com/kubernetes-sigs/cluster-api/pull/5292#discussion_r714000418)

We currently only have version **status** information distributed over multiple resources:
* ControlPlane: .s

[2021-09-28 13:35] sbueringer commented on #5341
/area api
/cc @enxebre

[2021-09-28 14:35] fabriziopandini opened #5342 "Topology reconciler fails to patch ClusterClass"
Topology reconciler needs to patch a ClusterClass in case references GVK has to be updated to match current ClusterAPI contract, but it fails due to lack of RBAC permission

[code]

**Environment:**
- Cluster-api version: main

/kind bug

[2021-09-28 14:35] fabriziopandini commented on #5342
/area topology
/milestone v1.0
/kind release-blocking

[2021-09-28 14:35] fabriziopandini commented on #5342
/assign

[2021-09-28 14:54] fabriziopandini commented on #5239
/close
As per comment above

[2021-09-28 14:55] #5239 closed

[2021-09-28 14:56] #5342 closed

[2021-09-28 15:33] fabriziopandini opened #5346 "Possible improvements for clusterctl describe"
A couple of possible improvements for clusterctl describe

- ~~`--show-conditions` should allow for showing Cluster conditions as well~~
- ~~there should be an option to show MachineSets~~
- `--disable-grouping` (default false) should be deprecated in favour of `--grouping` (default true)
- `--disable-no-echo` (default false) should be deprecated in favour of `--echo` (default false)
- TBD support

[2021-09-28 15:33] fabriziopandini commented on #5346
/area clusterctl

[2021-09-28 16:09] ykakarap opened #5347 "support `--list-variables` in `cluserctl generate cluster` with managed topology clusters"
**User Story**

As a user I would like to be able to run `clusterctl generate cluster --list-variables` even when the template refers to a cluster class.

**Detailed Description**

The generate cluster command at the moment only deals with one template file from the repository. Therefore listing all the variables in the template is simple. With support for cluster classes in the generate command,

[2021-09-28 16:10] ykakarap commented on #5347
/area topology
/area clusterctl

/assign

[2021-09-28 16:12] ykakarap opened #5348 "Add e2e tests to the enhanced clusterctl generate cluster"
**Detailed Description**

For cases where the cluster template uses managed topologies add e2e tests to the `clusterctl generate cluster` command.

**Anything else you would like to add:**

[Miscellaneous information that will assist in solving the issue.]

/area topology
/area clusterctl

[2021-09-28 16:12] ykakarap commented on #5348
/assign

[2021-09-28 16:14] sbueringer opened #5349 "Clusterctl upgrade (v1alpha3=>v1beta1) test is flaky"
Clusterctl upgrade test is flaky: https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api#capi-e2e-v1alpha3-v1beta1-upgrade-main
(only for v1alpha3=>v1beta1, v1alpha4=>v1beta1 looks a lot better)

**Environment:**

- Cluster-api version: main
- Minikube/KIND version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

/kind flake
[One or more /area label. See http

[2021-09-28 16:14] sbueringer commented on #5349
/assign

[2021-09-28 16:16] ykakarap opened #5350 "Explore options to handle `clusterctl generate cluster --from` for managed topologies"
**Detailed Description**

The clusterctl generate cluster command supports creating a cluster YAML from a user-pointed template using the `--from` flag. Explore options to have a clean UX when the user uses a managed topology cluster in the template.

Options:
* Check if the references cluster class is installed on the cluster and throw and warning if the cluster class is not installed or if the c

[2021-09-28 16:16] sbueringer commented on #5348
@ykakarap Just out of curiosity: that's the quickstart with ClusterClass test?

[2021-09-28 16:16] ykakarap commented on #5350
/assign

[2021-09-28 16:28] vincepri commented on #5349
Is this because of the webhooks?

[2021-09-28 17:12] sbueringer commented on #5349
Looks to me like the v1alpha3 CAPD controller doesn't shutdown because of RBAC issues. The new CAPD controller doesn't come up because the conversion webhook doesn't work. (this only occurs for v1alpha3+ upgrade because we introduced the serviceaccount in v1alpha4, so the v1alpha4 controller does not run into this issue)

I think one improvement would be to make sure the old Deployment is really g

[2021-09-28 17:26] ykakarap opened #5352 "Show clearer error message when using `clusterctl generate cluster` without a cluster"
**What steps did you take and what happened:**
`clusterctl generate cluster` is expected to work without having a management cluster. While working without a management cluster some of the optional flags become required as auto-discovery cannot work anymore. `--target-namespace` and `--infrastructure` are among the list of flags that become required.
When these flags are not specified the error th

[2021-09-28 17:51] vincepri commented on #5338
Should we open an issue in Controller Runtime as well?

[2021-09-28 17:56] killianmuldoon commented on #5338
Will do - I'm doing an initial spec test to get a feel for what the integration would look like today, and then I'll put a PR up over there.

[2021-09-28 19:00] sbueringer opened #5355 "Add timestamps to Ginkgo output"
**User Story**

As a maintainer who frequently debugs CAPI e2e tests I would like to be able to correlate the e2e test output with e.g. controller logs.

(I'm talking about the INFO/STEP output, e.g. here: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api/5354/pull-cluster-api-e2e-full-main/1442921166653100032)

**Detailed Description**

It's very hard and som

[2021-09-28 19:02] sbueringer commented on #5355
@fabriziopandini WDYT? (I'm not sure if there are other/better ways to achieve this)

[2021-09-28 19:07] fabriziopandini commented on #5350
I'm not sure there is work to be done here.
[Alternative sources for clusterctl generated cluster](https://cluster-api.sigs.k8s.io/clusterctl/commands/generate-cluster.html#alternative-source-for-cluster-templates) (everything is not a repository, specified with --from) does not have a naming convention for templates we can rely on, like we have in the provider repositories.
So we install the file

[2021-09-28 19:15] fabriziopandini commented on #5355
I'm ok with the goal, however I will investigate how a little bit more. Wrapping By seems kind of hacky

[2021-09-28 19:19] sbueringer commented on #5355
Absolutely agree. I spent 1-2 hours to find a way a while ago for CAPO, but couldn't find a better way.

The only idea I have spontaneously is maybe to overwrite the GinkgoWriter. Afaik Ginkgo doesn't expose any API to customize the log output.

But I'm fine with any other way (preferably less hacky as the one I described), I just want to have the output

[2021-09-28 19:22] fabriziopandini commented on #5348
yes, this is quick start with ClusterClass.
I'm pretty sure we can collapse the two tests into 1 given that we have many other tests working with templates with unmanaged Cluster

[2021-09-28 21:04] vincepri commented on #5169
/milestone v0.3

[2021-09-28 21:04] vincepri commented on #5169
/assign @fabriziopandini

[2021-09-28 23:01] ykakarap commented on #5352
/assign

[2021-09-28 23:02] ykakarap commented on #5352
/area ux

[2021-09-29 02:06] #5208 closed

[2021-09-29 06:30] sbueringer commented on #5348
I'm not sure about that (depending on how you mean it).

I think it would be still valuable to be able to run the quick start test without ClusterClass (probably especially for other providers).

But we can extend the current quickstart that it works in both scenarios (based on QuickStartSpecInput) and then potentially only run one of them on PR, maybe still both of them in periodics.

I think the

[2021-09-29 11:48] killianmuldoon opened #5356 "Move error variables out of utils package"
**Detailed Description**

There are a few errors defined in the top level utils package that are better placed in the top level errors package. These errors should be deprecated and recreated in the errors package. The util errors should then be removed in a coming release.

Examples:
https://github.com/kubernetes-sigs/cluster-api/blob/573f005559b452813e4dd8175a791dc2d1b143ed/util/util.go#L58

htt

[2021-09-29 11:51] killianmuldoon commented on #5356
/kind cleanup

[2021-09-29 13:14] mkjpryor opened #5357 "Propagate `skipPhases` from Kubeadm config to Cluster API objects"
**User Story**

I want to be able to specify `skipPhases` in my Kubeadm configuration in order to prevent `kube-proxy` from being deployed because the CNI I am using (Cilium) includes a more performant alternative.

**Detailed Description**

Upstream Kubeadm configuration resources now support `skipPhases` for init and join configurations. We need to add this to the Cluster API resources and propa

[2021-09-29 13:48] #5349 closed

[2021-09-29 14:37] Arvinderpal commented on #5324
Some thoughts on this.

First, directly deleting provider machine objects is likely not a good approach for removing control-plane/worker nodes. If you want to remove control-plane/worker nodes, then you should use the documented mechanisms within KCP and MD to do this.

However, if someone were to accidentally (or intentionally) delete the provider machine objects, then CAPI should reflect this a

[2021-09-29 14:58] enxebre commented on #2318
@vincepri is this intended for v1beta1?

[2021-09-29 15:15] vincepri commented on #2318
Probably too late right now?

[2021-09-29 16:03] vincepri commented on #2318
Next seems good for now, once we want to prioritize for the next API release we can reprioritze this issue

[2021-09-29 17:11] vincepri commented on #4996
/milestone Next

[2021-09-29 17:51] sbueringer commented on #5357
/cc @chrischdi

[2021-09-29 17:53] neolit123 commented on #5357
@mkjpryor this was briefly discussed in the CAPI meeting today, since it has been a recurring ask (at least on slack).
response from the maintainers is that if someone wishes to work on this they can go ahead.

/help

[2021-09-29 19:05] dharmjit commented on #5357
Hi @sbueringer, @neolit123, I could look into this.

[2021-09-30 06:31] sbueringer commented on #5357
@dharmjit Yes

[2021-09-30 07:04] dharmjit commented on #5357
/assign

[2021-09-30 09:50] enxebre commented on #5125
@killianmuldoon you still planning to work on this? Just let me know if you want me to give a go

[2021-09-30 09:56] fabriziopandini commented on #4996
As per discussion on #5330 there is not consensus on this change yet.

[2021-09-30 09:59] enxebre commented on #3153
@fabriziopandini what flags are you referring to?
A big portion of the contract between components is driven by conditions now. Should we try to enumerate here particular things you think we are still missing and use this as un umbrella ticket?

[2021-09-30 10:04] enxebre commented on #5035
@ykakarap you still planning to work on this? Just let me know I you want me to give it a go otherwise.

[2021-09-30 10:14] enxebre opened #5361 "Consolidate naming for predicates unPaused vs notPaused"
**What steps did you take and what happened:**
Some times we use the term notPaused, others unPaused.

**What did you expect to happen:**
We should consolidate naming and terms in predicates unPaused vs notPaused and use always the same.
e.g
https://github.com/kubernetes-sigs/cluster-api/blob/main/util/predicates/cluster_predicates.go#L179-L183
https://github.com/kubernetes-sigs/cluster-api/blob/m

[2021-09-30 10:14] enxebre commented on #5361
/kind cleanup

[2021-09-30 10:51] fiunchinho commented on #5361
I believe they are not exactly the same. I think `Unpaused` may refer to update events when `paused` transitions to `false`.

[2021-09-30 10:54] fabriziopandini commented on #3153
I'm not sure about this. If I look at controllers documentation in the book, which reflects what is implemented in the code, we are still relying on status.InfrastructureReady etc etc

[2021-09-30 12:16] killianmuldoon commented on #5125
@enxebre Yeah - I should be picking it up over the next couple of days I think.

[2021-09-30 13:31] enxebre commented on #5361
ah I see, It's not clear to me why we need `ClusterUpdateUnpaused` rather than just checking `ClusterNotPaused` everywhere, I'm probably missing some context though.

[2021-09-30 14:42] vincepri commented on #5123
We have the `third_party` folder where you could copy code from upstream repositories if needed.

/milestone v1.0
/priority important-soon

[2021-09-30 14:43] vincepri commented on #5132
/milestone Next

[2021-09-30 14:44] vincepri commented on #5133
/milestone Next

[2021-09-30 14:44] vincepri commented on #5141
/milestone Next

[2021-09-30 14:44] vincepri commented on #5141
/kind proposal

[2021-09-30 14:44] vincepri commented on #5146
/milestone Next

[2021-09-30 14:44] vincepri commented on #5152
/milestone v1.0

[2021-09-30 14:45] vincepri commented on #5174
@huchen2021 Any updates on the issue above?

/milestone Next

[2021-09-30 14:45] vincepri commented on #5175
/milestone Next
/kind proposal

[2021-09-30 14:45] vincepri commented on #5175
/milestone v1.0

[2021-09-30 14:46] vincepri commented on #5224
/milestone Next

[2021-09-30 14:46] vincepri commented on #5224
Actually, @ykakarap it might be good to have this change in before 1.0 release

/milestone v1.0
/kind release-blocking

[2021-09-30 14:47] vincepri commented on #5240
/milestone Next

Is this a bug?

[2021-09-30 14:48] vincepri commented on #5240
/priority important-soon

[2021-09-30 14:48] vincepri commented on #5257
/milestone v1.0
/kind release-blocking

[2021-09-30 14:49] vincepri commented on #5258
/milestone Next
/priority awaiting-more-evidence

[2021-09-30 14:49] vincepri commented on #5260
/milestone v1.0

[2021-09-30 14:49] vincepri commented on #5263
/milestone v1.0
/priority important-soon

[2021-09-30 14:50] vincepri commented on #5282
@killianmuldoon Are you able to open a PR to tackle the above?

[2021-09-30 14:50] vincepri commented on #5282
/milestone v0.4

[2021-09-30 14:50] vincepri commented on #5282
/kind documentation

[2021-09-30 14:51] ykakarap commented on #5224
Looks like @jayesh-srivastava is already assigned to it. @jayesh-srivastava Do you have a PR for this already?
If not, I can take this up. :)

[2021-09-30 14:51] vincepri commented on #5291
/milestone v1.0
/priority important-soon

[2021-09-30 14:51] vincepri commented on #5306
/milestone Next

[2021-09-30 14:52] vincepri commented on #5294
/milestone v1.0

[2021-09-30 14:52] vincepri commented on #5294
/kind proposal

[2021-09-30 14:52] vincepri commented on #5295
/kind proposal
/milestone Next

[2021-09-30 14:53] vincepri commented on #5319
/milestone v1.0

[2021-09-30 14:56] vincepri commented on #5325
/milestone v1.0

@chymy This seems a good improvement, feel free to add an environment variable or something similar to skip the version check

cc @fabriziopandini

[2021-09-30 14:57] ykakarap commented on #5348
Yes, it is for the quickstart.

[2021-09-30 14:58] vincepri commented on #5332
Cluster and MachineDeployment could share some of the code from KCP to have a version in Status based on what's running on the cluster.

/milestone v1.0

[2021-09-30 14:58] vincepri commented on #5332
/kind cleanup

[2021-09-30 14:58] fabriziopandini commented on #5316
/close
given that we are exploring to move the matcher in controller-runtime which is a better collocation for this.
See https://github.com/kubernetes-sigs/controller-runtime/pull/1364

we can eventually re-open later if this proves difficult to achieve

[2021-09-30 14:58] #5316 closed

[2021-09-30 14:59] vincepri commented on #5333
/milestone v1.0

[2021-09-30 14:59] vincepri commented on #5338
/milestone Next

[2021-09-30 15:01] vincepri commented on #5340
Shouldn't the MachinePool controller add labels to the object?

[2021-09-30 15:01] vincepri commented on #5340
/milestone Next

[2021-09-30 15:02] vincepri commented on #5341
/milestone v1.0

[2021-09-30 15:03] vincepri commented on #5347
/milestone v1.0

[2021-09-30 15:03] vincepri commented on #5352
/milestone v1.0

[2021-09-30 15:05] vincepri commented on #5356
These seems only used or returned within that package, should we consider instead moving the functions using them to a different package instead?

[2021-09-30 15:05] vincepri commented on #5356
/milestone Next

[2021-09-30 15:05] vincepri commented on #5346
/milestone v1.0

[2021-09-30 15:06] vincepri commented on #5355
/milestone v1.0

[2021-09-30 15:07] vincepri commented on #5357
/milestone v1.0

[2021-09-30 15:14] jayesh-srivastava commented on #5224
Hey @ykakarap sure go on.

[2021-09-30 15:47] killianmuldoon commented on #5356
These do seem to be used - ErrNoCluster in kubeadmconfig_controller.go and ErrUnstructuredFieldNotFound in cluster_controller_phases.go. If they were just used in package I'd say keep them, but it looks like they're being used as importable error messages which says to me they belong in errors.

[2021-09-30 15:51] schrej commented on #5240
We're relying on the `.spec.template.metadata` for `MachineDeployment -> MachineSet -> Machine/InfraMachine` and `KubeadmControlPlane -> Machine/InfraMachine`, so we would definitely like to keep that behavior.

In my opinion it would also be good to extend `MachineDeployment -> MachineSet` to also copy over labels. Otherwise there is no way to set labels on those MachineSets when using Deployment

[2021-09-30 16:15] killianmuldoon commented on #5356
https://github.com/kubernetes-sigs/cluster-api/blob/58905fb5140a7844c3e24aa70d255fb8f9d0c491/bootstrap/kubeadm/controllers/kubeadmconfig_controller.go#L166

[2021-09-30 16:30] sbueringer commented on #5240
Yes, thx, fixed.

My opinion on the situation:

KCP => lgtm

I think it's strange to propagate top-level MD.annotations to MS.annotations

It think we should also propagate `MD.spec.template.metadata.annotations` to `MS.annotations`

(I would rather propagate `MD.spec.template.metadata.{labels,annotations}` then top-level `MD.{labels.annotations}`. I don't think top-level metadata should be propag

[2021-09-30 16:38] schrej commented on #5240
I think we should always either propagate both, annotations and labels, or neither. It's not very intuitive if onlye one is propagated.

[2021-09-30 16:40] sbueringer commented on #5240
100% agree. Basically my comment comes down to: "let's always propagate both and let's stop propagating top-level MD labels"

[2021-09-30 16:40] randomvariable commented on #5355
I had considered doing this before.

That's how it's being done in K/k in a few places, but it's not consistent.

Even bigger hack, but it'll be consistent, you could use one of the things here in e2e shell scripts to prepend a timestamp on every new line.
https://unix.stackexchange.com/questions/26728/prepending-a-timestamp-to-each-line-of-output-from-a-command

[2021-09-30 16:46] sbueringer commented on #5355
When we're talking about hacks, previously I used a different `entrypoint` container which prepended a timestamp on every log-line of every ProwJob :). But that's not a good idea with upstream Prow, if it is even possible.

But I think you're variant comes pretty close. I don't necessarily need timestamps in ginkgo. Ever log line printed by `make -C test/e2e/ run` would be even better.

[2021-09-30 16:47] randomvariable commented on #5240
I agree with this. Me and @sedefsavas were looking at this the other day and were pretty confused about what gets propagated and doesn't.

[2021-09-30 17:14] #5333 closed

[2021-09-30 17:21] fabriziopandini commented on #5240
+1 for consistency
however, for MachineDeployments IMO top level label/annotations should go to MS, template label/annotations should go to machines.

[2021-09-30 17:34] fabriziopandini commented on #5341
Are we envisioning a different status for managed and unmanaged Clusters?

[2021-09-30 17:36] fabriziopandini commented on #5340
it should, but apparently ti does not.
NOTE this implicitly also answer to Q1 (it should be a label) and to Q2 (The MachinePool controller should apply labels to MachinePool infra objects)

[2021-09-30 17:52] randomvariable commented on #5240
Discussing with @schrej , @vincepri and @sbueringer in Slack, the conclusions we've reached is that:

MDs should behave like appsv1/Deployment
ReplicaSets and KCP should behave like ReplicaSets (or appsv1/StatefulSet in the case of KCP).

In which case, the behaviour is, where d = appsv1/deployment and r = replicaset

d.annotations => r.annotations
d.labels => nil
d.spec.template.annotations => d.

[2021-09-30 17:53] vincepri commented on #5240
/milestone v1.0

[2021-09-30 17:54] vincepri commented on #3881
/milestone v1.0

[2021-09-30 17:54] randomvariable commented on #5240
There is an outstanding question about InfraMachineTemplate.Spec.Template.Meta and KubeadmConfigTemplate.Spec.Template.Meta . Should all providers implement this, what is the merge behaviour, and who should when there's conflict?

[2021-09-30 18:03] sbueringer commented on #5240
/reopen

The current implementation just takes everything in `.spec.template` of InfraMachineTemplate.Spec.Template.Meta and KubeadmConfigTemplate.Spec.Template.Meta and overwrites it with propagated metadata: https://github.com/kubernetes-sigs/cluster-api/blob/9fdf087e91f6b4ffb5daf5366b0b1927a884d7a9/controllers/external/util.go#L144

Neither KubeadmConfigTemplate nor DockerMachineTemplate has .S

[2021-09-30 18:13] sbueringer commented on #5341
Good question. I'm not sure, but if I'm not mistaken the version part of it can be the same for both as the other resources are "connected" the same way to the Cluster resource independent of managed/unmanaged.

[2021-09-30 18:32] randomvariable commented on #5240
The same is true for the other infra providers, so we should add something to the v1beta1 docs?

[2021-10-01 09:01] sbueringer commented on #5240
In wonder if/where we have guidance how the templates should be implemented.

[2021-10-01 10:24] dharmjit commented on #5357
Hi @fabriziopandini @sbueringer, I have below in mind to implement this. Please let me know if I missed something.
- Add field `SkipPhases []string` for `{Init|Join}Configuration` structs in bootstrap/kubeadm/api/v1beta1/kubeadm_types.go. This will be only introduced in v1beta1 and not for previous versions.
- bootstrap/kubeadm/types/upstreamv1beta3 are already in sync with upstream. Nothing to do

[2021-10-01 10:37] fabriziopandini commented on #5357
This really depends by what is the expected behaviour.

Skip phases has been added in the latest version of Kubeadm config, but KubeadmConfig allows to create clusters with older version of kubeadm as well.

If I'm right, the proposed approach silently ignore the flag for older version, which could be confusing for the users.

So the question is do we consider this acceptable? if yes, then how do

[2021-10-01 10:42] killianmuldoon opened #5368 "Add ClusterClass quick start to the CAPI book"
As a user I would like a quick introduction to using ClusterClass to create Cluster API clusters.

Add a ClusterClass based quick start guide to the CAPI book under experimental features to give users a guide to getting up and running with ClusterClass based clusters. The guide will be similar to the existing Cluster creation guide and will use CAPD + Kind to get a ClusterClass managed Cluster up

[2021-10-01 11:55] sbueringer commented on #5357
Do we already have some fields which are only supported in newer kubeadm versions? If yes, how do we handle them currently?

[2021-10-01 12:01] sbueringer commented on #5355
@randomvariable Doesn't work as expected: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api/5367/pull-cluster-api-e2e-main/1443868443865518080

We run the e2e tests without `-stream` which means that the test result is printed at once and thus the entire test case is printed with the timestamp of the test completion.

Imho we shouldn't add `-stream` as otherwi

[2021-10-01 13:03] randomvariable commented on #5355
We use `-stream` in the AWS tests actually. That's been basically an encoding of my personal preference when running the e2e tests.

[2021-10-01 13:03] randomvariable commented on #5355
I should add, that's because at least for AWS, the feedback time is too long otherwise.

[2021-10-01 13:05] mihalycsokas opened #5369 "Incorrect dns names in serving certificates in case of using custom target namespace"
**What steps did you take and what happened:**
Initiate cluster api with my-namespace as target namespace: clusterctl init --target-namespace my-namespace

**What did you expect to happen:**
the capi-serving-cert certificate should contain dns names:
  `capi-webhook-service.my-namespace.svc`
  `capi-webhook-service.my-namespace.svc.cluster.local`

Instead it contained:
  `capi-webhook-service.capi

[2021-10-01 13:06] randomvariable commented on #5240
I'll have a look and knock something up.

[2021-10-01 13:28] killianmuldoon opened #5370 "Restructure Kubeadm Bootstrap controller code"
**User Story**

As a developer I would like to more easily change the Kubeadm bootstrap codebase.

**Detailed Description**

A number of recent requests have come in to modify and change the behaviour of the Kubeadm bootstrap controller. The current codebase is difficult to modify for a number of reasons including:

1) Insufficient commenting
1) Long functions with multiple responsibilities
1) Mul

[2021-10-01 13:42] voor commented on #5295
We actually default to an internal load balancer in CAPA, and can effectively forward traffic for external access; however, this UX is not without its faults.  Since the kubeconfig and other methods of accessing the cluster are hardwired in CAPA to the ELB endpoint, this can be inconsistent and possibly error prone if the ELB name is lost for any reason.  Providing a way to make CAPI aware of alte

[2021-10-01 14:30] sbueringer commented on #5369
Interesting, we have code for adjusting cert-manager annotations here: https://github.com/kubernetes-sigs/cluster-api/blob/e482405b91f7a28bf9d18b10f9d26c2c4486ded1/cmd/clusterctl/client/repository/components.go#L333

But this sounds like that's not enough.

[2021-10-01 14:30] sbueringer commented on #5369
/assign

[2021-10-01 14:33] sbueringer commented on #5355
I think for CAPD it makes sense to keep it as is as the tests are faster and mixed test case output is bad to read.

[2021-10-01 14:49] sbueringer commented on #5369
@mihalycsokas I could reproduce it and open a PR to fix it.

Out of curiosity, lead this to any errors when using CAPI? (e.g. failed webhook requests)

[2021-10-01 15:10] mihalycsokas commented on #5369
@sbueringer Yes, it causes failed webhook requests when I use differenet target namespace for worker cluster.
Initiating cluster api:
`clusterctl init -i docker --target-namespace providersns`
Generating cluster:
`clusterctl generate cluster dockercluster   --kubernetes-version v1.21.2   --control-plane-machine-count=1   --worker-machine-count=0 --flavor development  --target-namespace crnamespace

[2021-10-01 16:47] #5282 closed

[2021-10-01 16:52] JoelSpeed commented on #3465
/remove-lifecycle rotten

[2021-10-01 16:54] randomvariable commented on #5355
Yeah, that's what I meant.

[2021-10-01 20:01] #4124 closed

[2021-10-02 05:13] anusha94 commented on #5340
@sbueringer can I take this up?

[2021-10-02 07:24] anusha94 commented on #5340
/assign

[2021-10-04 11:10] sbueringer commented on #5340
Can be closed like the corresponding PR. I made an error when testing the cluster label for DockerMachinePool. It already is implemented.

/close

[2021-10-04 11:11] #5340 closed

[2021-10-04 15:41] killianmuldoon opened #5378 "Add nested builders to internal/builders"
**User Story**

As a developer I would like a way to quickly create interrelated objects for testing.

**Detailed Description**

The current internal/builders package allows objects to be created and composed from other objects e.g. the Cluster builder has a WithTopology field that allows a full topology object to be inserted and finally built into the cluster object on calling Build().

A nested

[2021-10-04 16:40] fabriziopandini commented on #4565
/close
works happening in https://github.com/kubernetes-sigs/cluster-api-provider-kubemark

[2021-10-04 16:40] #4565 closed

[2021-10-04 16:43] #5369 closed

[2021-10-04 17:59] CecileRobertMichon commented on #5324
+1

[2021-10-04 19:10] fabriziopandini commented on #4512
/remove-lifecycle stale

[2021-10-04 19:30] TimJones commented on #4617
@fabriziopandini The user story & PR look great, I'll give it a test as soon as I have the available bandwidth, but I'm optimistic.

[2021-10-04 21:56] ykakarap commented on #5350
That makes sense. Since the conditions in which the `--from` option is used is un-deterministic we cannot do any meaningful automation here.  Since there is nothing to be done here I will close the issue. But I will wait for a few days to see if anyone else has any other thoughts.

[2021-10-05 14:17] sbueringer opened #5385 "ClusterAPI v0.3 CAPD quickstart fails because of missing kindest/node image"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

I tried to install a v0.3 CAPD cluster based on the documented quickstart: https://release-0-3.cluster-api.sigs.k8s.io/user/quick-start.html

Unfortunately, it failed because there is no `kindest/node:v1.18.16` image.

**What did you expect to happen:**
Quickstart should work.

**Anything

[2021-10-05 16:25] AartiJivrajani commented on #5385
/assign

[2021-10-05 17:36] sbueringer commented on #5355
I found a way to additionally redirect the logs. So it would be possible to e.g. also write them to a file with timestamps prepended.

This wouldn't be visible in stdout, but it's the only option I see without stream.

[2021-10-05 18:54] #5368 closed

[2021-10-05 19:10] #5257 closed

[2021-10-05 20:12] #5169 closed

[2021-10-05 22:59] randomvariable opened #5392 "Cluster API Informing kube-reserved and system-reserved"
/area api
/area kubelet
/area bootstrap

**User Story**

As a cluster operator, as I begin to load my cluster with workloads, without system-reserved or kubelet-reserved being set, my cluster can start exhibiting strange behaviour as various processes start being OOMkilled. I would like Cluster API to provide a mechanism to set these values based on my infrastructure.

**Detailed Description**

Pr

[2021-10-05 23:13] randomvariable opened #5393 "Move Control plane provider contract documentation to the right chapter"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

**What did you expect to happen:**
/kind documentation
/help

Follow up to #5371 , there is no document for control plane providers under `docs/book/src/developer`

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:*

[2021-10-05 23:19] randomvariable opened #5394 "Missing documentation: Supported annotations and labels"
**What steps did you take and what happened:**

Have had a number of customer issues that could have been alleviated if people knew about the use of the pause annotations. The pause annotation for example is mentioned with regards to the [machine health check](https://cluster-api.sigs.k8s.io/tasks/healthcheck.html?highlight=pause#skipping-remediation) but it has broader applicability.

In addition

[2021-10-06 00:03] randomvariable opened #5396 "Add ObjectMeta to DockerMachineTemplates"
**User Story**

As per #5371, it is recommended all infrastructure providers add ObjectMeta to spec.template inside InfraMachineTemplates and InfraClusterTemplates. For completeness, this should be added to the exemplar provider, CAPD.

/kind feature
/help

[2021-10-06 00:04] randomvariable commented on #5396
/area api

[2021-10-06 00:05] randomvariable commented on #5394
/good-first-issue

[2021-10-06 00:05] randomvariable commented on #5396
/good-first-issue

[2021-10-06 00:05] randomvariable commented on #5394
/kind documentation

[2021-10-06 07:21] sbueringer commented on #5396
@randomvariable we need the same issue for the kubeadm types, right?

[2021-10-06 07:40] fabriziopandini commented on #5396
Is there a use case for having KubeadmConfig specific labels/annotations?

[2021-10-06 07:43] sbueringer commented on #5396
I'm not aware of any. But I think it would be good to have our types comply to our documentation: https://github.com/kubernetes-sigs/cluster-api/pull/5371 (so I think either we should add ObjectMeta or not recommend it)

[2021-10-06 08:11] randomvariable commented on #5396
Probably, for completeness.

Not that I know, at least not in the same way as InfraMachines, but I think it makes sense to do since we have the logic to copy Meta in the controller.

[2021-10-06 08:24] sbueringer commented on #5392
Some more context in: https://github.com/kubernetes/enhancements/issues/281

I wasn't aware of the deprecation. Looks like it will be dropped with 1.23.
https://github.com/kubernetes/kubernetes/pull/102966/files:
[code]

[2021-10-06 09:33] randomvariable commented on #4484
Coming back to this, would be good to get this in, as per CII best practices, which I'm reviewing for the security self assessment:

[2021-10-06 09:36] sbueringer opened #5397 "Missing documentation: metadata propagation"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

We recently implemented #5240 to have consistent metadata (labels & annotations) propagation behaviour for KCP, MD and MS. We also currently propagate metadata from infrastructure machine/cluster templates, bootstrap config templates and control plane templates (pending outcome of https:/

[2021-10-06 09:37] randomvariable opened #5398 "Security Self Assessment: [DEV-2] Verify vulnerability reporting process"
**Detailed Description**

As part of the [security self-assessment](https://docs.google.com/document/d/1Fj_cLUN9kLruHbEgmYiEgoqZjf2rRuVOmQDGOKByaf4/edit), (#4446) am reviewing our software development practices.

We have a SECURITY_CONTACTS and we have vulnerability reporting (via an org template?) that can be invoked hitting New Issue.

Do we know if this process is valid for subprojects? In addi

[2021-10-06 09:39] randomvariable commented on #4446
/lifecycle active

[2021-10-06 10:20] enxebre opened #5399 "Controller managers should use "leases" for leader-election-resource-lock"
**What steps did you take and what happened:**
Run Cluster API.
See controller managers use "configmapsleases" for leader-election-resource-lock.

**What did you expect to happen:**
Controller managers use "leases" as for leader-election-resource-lock. This mitigates overwhelming the apiserver in a large management cluster and avoid additional rbac.

**Anything else you would like to add:**
Contro

[2021-10-06 10:37] randomvariable commented on #5399
Are there any cons to doing this ? Doesn't look like it ?

[2021-10-06 10:40] randomvariable commented on #4484
Yup, I think that'll suffice tbh.

[2021-10-06 10:44] sbueringer commented on #5399
I think the lease lock mechanism is fine. Only the migration to it could be problematic:
(https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/manager/manager.go#L143-L156)

But I think with clusterctl that should be fine to as we first scale down and then delete the old provider before we create the new one during upgrade.

[2021-10-06 10:49] enxebre commented on #5399
Yeh and v1alpha4 uses "configmapsleases" which should be able to nicely go to "leases".
But before v1alpha4 we used controller-runtime < 0.7 so "configmaps". So custom upgrades procedures going from v1alpha3 -> v1beta1 ("configmaps" -> "leases") might be more problematic.

[2021-10-06 12:22] neolit123 commented on #5398
The process of batch removing these files went stale. But they are pretty much pending deletion in all repos...I'd probably delete the file and keep email / contacts in the main readme.

Girhub handles are useless as there are no github dms?

[2021-10-06 13:21] randomvariable commented on #5398
Yes, I don't think we can use them really for private disclosure.

[2021-10-06 14:04] #5399 closed

[2021-10-06 19:02] ykakarap opened #5404 "`clusterctl version` shows wrong version for the v1.0.0 release"
**What steps did you take and what happened:**
Download the clusterctl binary from the v1.0.0 release artifacts: https://github.com/kubernetes-sigs/cluster-api/releases/download/v1.0.0/clusterctl-linux-amd64

Run `clusterctl version`.

The clusterctl binaries of the v1.0.0 release report the wrong version.

**What did you expect to happen:**
`clusterctl version` should report the version as `v1.0.

[2021-10-07 00:03] abhinavnagaraj opened #5405 "MachineSet version changes, upgrading from v1alpha3 to v1alpha4"
**What steps did you take and what happened:**
Launch a cluster in v1alpha3 (capi v0.3.19), with one MachineDeployment containing 2 replicas and with strategyType='RollingUpdate'.

Upgrade the cluster to v1alpha4(capi v0.4.0), without any changes in MachineDeployment spec.

This results in the creation of new MachineSets and hence new machines.

**What did you expect to happen:**
If there is no ch

[2021-10-07 10:22] fabriziopandini commented on #3728
/unassign @tcordeu
/assign @anusha94

[2021-10-07 20:22] CecileRobertMichon commented on #5355
FWIW this is what we did in CAPZ: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/test/e2e/log.go#L37, and then use it like this: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/test/e2e/azure_lb.go#L127

The downside of this approach is obviously that we need to add log lines for everything we want to have a timestamp for... but it's visible in stdo

[2021-10-08 13:21] richardcase commented on #3661
I haven't progressed this, so unassigning and opening it up for others to help.

/unassign
/area clusterctl
/help
/good-first-issue

[2021-10-08 15:03] DiptoChakrabarty commented on #5356
hey can I try this issue out , I am new here , this is my approach
move these errors in util package
https://github.com/kubernetes-sigs/cluster-api/blob/573f005559b452813e4dd8175a791dc2d1b143ed/util/util.go#L56-L62

to the error package  here -> https://github.com/kubernetes-sigs/cluster-api/blob/58905fb5140a7844c3e24aa70d255fb8f9d0c491/errors/consts.go

then replace the util.ErrNoCluster and simi

[2021-10-08 16:09] fabriziopandini opened #5410 "Create jobs for the release-1.0 branch"
As part of the activities for v1/v1beta1 releases the new release-1.0 branch has been created.

It is now required to setup all the corresponding E2E tests, so we can have a signal about the state of this version of the code.

Prior art:
https://github.com/kubernetes-sigs/cluster-api/issues/5252

/kind feature

[2021-10-08 16:56] fabriziopandini commented on #5410
/assign @anusha94

[2021-10-08 23:27] abhinavnagaraj commented on #5405
@ykakarap Yes, these steps are correct. Now, if we scale the MachineDeployment with API version `v1alpha4`, we would expect the corresponding MachineSet(`v1alpha4`) to also scale up. Instead, the MachineDeployment version updates to have the prefix 'v'. A new MachineSet is launched with the version set to have prefix 'v'. The old MachineSet finally reconciles to have 0 replicas, but does not get d

[2021-10-10 01:30] anusha94 commented on #5410
/assign @anusha94

[2021-10-11 08:23] fabriziopandini commented on #3970
/remove-lifecycle stale

[2021-10-11 09:21] fabriziopandini opened #5411 "ClusterClass should not propagate kubectl.kubernetes.io/last-applied-configuration to generated templates"
**What steps did you take and what happened:**
While testing ClusterClass I noticed that` kubectl.kubernetes.io/last-applied-configuration` gets propagated from the actual template to the copy of the template generated for each cluster.
This should not happen.

**Environment:**

- Cluster-api version: v1.0.0
/kind bug
/area topology

[2021-10-11 09:21] fabriziopandini commented on #5411
/milestone v1.0
/assign
/lifecycle active

[2021-10-11 09:38] fabriziopandini opened #5413 "Topology controller should avoid template rotation in case of changes to template metadata only"
**User Story**

As a developer/user/operator I would like to avoid unnecessary machine rollout when using ClusterClass

**Detailed Description**

As of today the Topology controller automatically triggers a template rotation whenever there is a changes in templates, and this triggers a machine rollout.

This issue is about discussing the option to not trigger template rotation when the changes in

[2021-10-11 10:33] 0xVox opened #5414 "Clusterctl: Cannot install multiple instances of infrastructure provider"
**What steps did you take and what happened:**

[code]

**What did you expect to happen:**

I expect an instance of the aws provider to be present in both namespaces.

**Anything else you would like to add:**

It appears that when clusterctl checks for existing providers, it incorrectly checks if there is an infrastructure provider in the cluster **at all**. But it should be checking for one **in

[2021-10-11 10:33] 0xVox commented on #5414
/assign

[2021-10-11 14:31] sbueringer opened #5417 "clusterctl delete fails if provider has cluster-wide resources which require conversion"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

`clusterctl delete` should work even if there are cluster-wide resources which require conversion.

This can be reproduced by doing roughly the following:
* clusterctl-v0.4.4 init --infrastructure aws
* Deploy an AWS cluster which uses one of the cluster-wide resources, e.g. `AWSClusterCo

[2021-10-11 14:32] sbueringer commented on #5417
/cc @fabriziopandini

[2021-10-11 16:15] fabriziopandini commented on #5417
Another options that we can explore is to add a predicate to discovery.FilteredBy, but this requires digging a little bit into how this implemented. However, If this could avoid us to access CRD definitions one by one to check metadata, probably it is worth the effort.

[2021-10-11 16:27] sbueringer commented on #5417
I don't think we can solve it in `discovery.FilteredBy`. I don't think we have the data in the resourceList to decide which CRD belongs to which provider:
![image](https://user-images.githubusercontent.com/4662360/136824097-9dd2a4f0-07d3-4bd3-afd0-0e4c4b3ff4e8.png)

I think we probably have to use the `cluster.x-k8s.io/provider: infrastructure-aws` label on the CRDs.

[2021-10-11 16:32] #5414 closed, assigned to 0xVox

[2021-10-12 10:21] killianmuldoon commented on #5356
@DiptoChakrabarty That sounds right - it's important to not remove the original variables from the utils package and instead add a deprecation message so we can remove the errors with the next breaking changes to Cluster API. So:

[2021-10-12 20:51] CecileRobertMichon commented on #4166
@andyzhangx @feiskyer to help answer these questions for Azure CSI drivers and Azure CCM

[2021-10-12 22:59] #5413 closed, assigned to fabriziopandini

[2021-10-13 11:56] erwinvaneyk opened #5422 "clusterctl's yaml processor is generating invalid yamls when used on component manifests"
When using `clusterctl generate yaml` on a components manifest it eats various fields from the resources.

In one of my use cases for CAPI I cannot use `clusterctl init` and need to apply the resources using plain kubectl. So I am trying to remove the variable references in them to generate valid component yamls. As suggested in https://github.com/kubernetes-sigs/cluster-api/issues/4572 I am using

[2021-10-13 18:53] fabriziopandini commented on #5308
@sbueringer I think we can close this now, given that according latest discussions we are considering to use patches to alter the computed state.
WDYT?

[2021-10-13 18:54] #5350 closed

[2021-10-14 08:44] pfisterer opened #5425 "Initializing mangement cluster for openstack fails (only compatible with v1beta1 providers, detected v1alpha4 for provider infrastructure-openstack)"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

I was trying to run `clusterctl init --infrastructure openstack` to initialize the management cluster.  It fails with the following output:

[code]

Full log output:

[code]

**What did you expect to happen:**

It should initialize the management cluster.

**Anything else you would like t

[2021-10-14 09:16] killianmuldoon commented on #5115
Should we break down the remaining work in separated issues, so there is a chance someone in the community would help now that there is a prior art?

I'm actually working on the remaining test cases and should have them up soon - I'll add this issue as fixed on the next PR.

[2021-10-14 10:17] killianmuldoon commented on #5404
Agreed - after running brew install clusterctl I get:

`
clusterctl version: &version.Info{Major:"1", Minor:"0", GitVersion:"v1.0.0", GitCommit:"e09ed61cc9ba8bd37b0760291c833b4da744a985", GitTreeState:"clean", BuildDate:"", GoVersion:"go1.17.1", Compiler:"gc", Platform:"darwin/amd64"}
`
I think we can close this, though I'm still not sure what caused the original issue.

[2021-10-14 14:38] fabriziopandini commented on #5222
I have made some investigations on this point (with focus on KCP, but I think the same apply to other control plane providers), and the TL;DR; is:

1. The system seems already equipped to manage concurrent changes on CP, on workers or both.
2. There is a possible risk that we are creating machines with K8s version > than K8s version in the CP (both in managed topologies or in unmanaged clusters).

[2021-10-14 17:20] christianh814 opened #5428 "CAPD - Unable to connect to the server: dial tcp i/o timeout"
**What steps did you take and what happened:**

Started a little bit after the 1.0 release. Following the [quickstart](https://cluster-api.sigs.k8s.io/user/quick-start.html) and using Docker.

[code]

So I tried getting the kubeconfig using KIND

[code]

I see no errors in the `capd-controller-manager` pod. This is on an Intel Mac running Docker Desktop and CAPD works fine if I run it on Linux so

[2021-10-14 17:22] #5428 closed, assigned to nobody

[2021-10-15 11:47] erwinvaneyk commented on #5422
Ah, thanks for the explaination @fabriziopandini. Would it be an option to fast-fail the yaml processor when the field is missing? Now only when you try to apply the manifests you find that various fields are missing

[2021-10-15 15:26] #4089 closed

[2021-10-17 11:02] fabriziopandini opened #5433 "MachineSet's Resized condition always report ScalingUp false"
**What steps did you take and what happened:**
Create a Cluster with a MachineDeployment with replicas 3, wait for the cluster to provision

[code]

However the MachineSet always remain in ScalingUp

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version:
- Mini

[2021-10-17 11:04] fabriziopandini commented on #5433
Fix for this issue is a candidate for backporting

[2021-10-17 11:07] fabriziopandini commented on #5346
I'm taking
- --show-conditions should allow for showing Cluster conditions as well
- there should be an option to show MachineSets

[2021-10-18 08:27] Bo0km4n opened #5435 "Does cluster-api renew certificates of workload cluster?"
**User Story**
In currently,  cluster-api generate certificates and embed these in the cloud-init script.
These expire in 1 year.
I expect cluster-api regenerate certificates before expire, and reflect these to file (e.g. `/etc/kubernetes/pki/apiserver.crt`) of workload cluster nodes.
Does cluster-api do it?

As a [developer/user/operator] I would like to [high level description] for [reasons]

**

[2021-10-18 08:42] enxebre commented on #5433
/assign

[2021-10-18 09:38] fabriziopandini opened #5436 "Update tests on Kubernetes main to use etcd 3.5.1"
As soon as https://github.com/kubernetes/kubernetes/pull/105706 merges, we should update our tests running/upgrading to Kubernetes from main branch (ci/latest) to use etcd 3.5.1 too.

/kind feature
/area testing

/milestone v1.0

[2021-10-18 10:08] fabriziopandini commented on #5346
/help
/good-first-issue

for the remaining part

[2021-10-18 12:58] fabriziopandini commented on #5435
In case you are using CABPK, CAPI leverages on kubeadm for creating certificates, and on top of my mind kubeadm doesn't allow to kustomize this value (but I might be wrong here). For other bootstrap providers things can be different

However, TBH I think that a better solution will be to have something (TBD with explicit opt in or opt out) that triggers CP rotation sometimes before certificates ar

[2021-10-18 14:57] vincepri commented on #5436
/help

[2021-10-18 21:21] jav-rod opened #5439 "ARM Release for v0.3"
**User Story**

I would like to use v0.3 CAPI on arm.

I've seen since v0.4 arm release is available, but to keep compatibility matrix on providers and k8s versions until I get to upgrade, I need to use v0.3. On the latest minor releases of v0.3 there is no arm release being published. Is it possilbe to publish a v0.3 arm release?

Thanks!

/kind feature

[2021-10-19 09:08] sbueringer commented on #4847
If I grepped correctly KCP is the only type where we register a validating webhook on /scale.

[2021-10-19 09:30] sbueringer commented on #5436
@fabriziopandini I assume same for release-0.4 and in case they exist at that time release-1.0?

[2021-10-19 09:38] sbueringer commented on #5410
1. And `cluster-api-periodics-release-1-0-upgrades.yaml` please
2. They will be automatically created once the first test results exist after the PR in test-infra has been merged
3. The jobs will remain the same

[2021-10-19 10:09] enxebre opened #5442 "Support exposing scalable resources to Cluster Autoscaler in ClusterClass"
**User Story**

As a cluster operator I would like to be able to enable Cluster Autoscaling for some node pools in managed topologies

**Detailed Description**

ClusterClass provides a way to define a "stamp" to be used for creating many Clusters with a similar shape.

It would be great to have a way to expose scalable resources i.e MachineDeployments to the Cluster Autoscaler in the ClusterClass,

[2021-10-19 11:30] enxebre commented on #5442
/area topology

[2021-10-19 14:13] vincepri commented on #3255
/milestone Next

[2021-10-19 14:15] vincepri commented on #3106
/milestone v1.0

[2021-10-19 14:17] vincepri commented on #3783
/milestone v1.0

[2021-10-19 14:18] vincepri commented on #4007
/close

[2021-10-19 14:22] #3801 closed

[2021-10-19 14:44] vincepri commented on #3982
/milestone v1.0

[2021-10-19 14:47] vincepri commented on #4035
/milestone v1.0

[2021-10-19 19:42] #5308 closed

[2021-10-19 23:29] ykakarap opened #5445 "Enhance `clusterctl move` to work with clusterclass and managed topologies"
**Description**

Add support to the `clusterctl move` command to also move the ClusterClass (and associated objects) to the target cluster.

**Anything else you would like to add:**

[Miscellaneous information that will assist in solving the issue.]

/kind feature
/area topology
/area clusterctl

/assign @ykakarap

[2021-10-19 23:32] ykakarap opened #5446 "Add ClusterClass as an owner reference to all the templates referenced/used by the ClusterClass"
**Description**

A ClusterClass is a collection of many templates. When a new ClusterClass is created it should add owner references to all the templates that the ClusterClass depends on.

This dependency tree can then be used to enhance clusterctl features like `move` when working with ClusterClass and managed topologies. (Ref:  https://github.com/kubernetes-sigs/cluster-api/issues/5445)

**Anyth

[2021-10-20 05:02] ykakarap opened #5447 "update "clusterctl Provider Contract" section of CAPI book with requirements to support ClusterClasses"
**Description**

Update the "clusterctl Provider Contract" section of the CAPI book to capture the set of requirements and conditions that a provider has to meet support using ClusterClasses and managed topologies with the `clusterctl generate cluster` command.

**Anything else you would like to add:**

[Miscellaneous information that will assist in solving the issue.]

/kind documentation

/assig

[2021-10-20 05:06] dtzar opened #5448 "Infrastructure Azure not compatible with 1.0"
**What steps did you take and what happened:**
` clusterctl init --infrastructure azure`

produced

[code]

**What did you expect to happen:**
It provisions the azure management cluster.  Perhaps this just hasn't been released yet?  I can't see anything stating it shouldn't be, unless I'm not looking in the right place.

**Environment:**

- Cluster-api version: 1.0.0
- Minikube/KIND version: local

[2021-10-20 06:39] sbueringer commented on #5448
Yes, CAPZ doesn't have a v1beta1 compatible release yet, but there is work ongoing. One issue where this can be tracked is: https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1722

Not sure if there are others (@CecileRobertMichon)

[2021-10-20 08:13] fabriziopandini opened #5450 "MHC should provide support for checking Machine conditions"
**User Story**

As a user/operator I would like to use MHC for checking machine conditions

**Detailed Description**

As of today MHC allows user to configure health checks on node conditions only.
It would be great to have MHC to support also definition of health checks on machine conditions, thus allowing e.g. to check on conditions about etcd/control plane components added by KCP.

**Anything e

[2021-10-20 08:26] fabriziopandini opened #5451 "MHC should surface unhealthy machine exceeds MaxUnhealthy/UnhealthyRange"
When the number of unhealthy machines exceeds MaxUnhealthy/UnhealthyRange MHC stop triggering remediation as expected.
However, as an operator, I expect that the fact that a machine is unhealthy somehow surfaces on the machine itself.

**Anything else you would like to add:**
This comes from something I noticed reading the code, but I still need to test it practice.

/kind feature
/area health

[2021-10-20 08:38] fabriziopandini opened #5452 "ClusterClass / Cluster.Topology must be authoritative WRT to labels and annotations"
Current implementation of ClusterClass and managed topologies reconciliation enforce all the fields defined in templates, but at the same time allows for instance specific values the users/other controllers can set on the generated objects as documented in the [proposal](https://github.com/kubernetes-sigs/cluster-api/blob/main/docs/proposals/202105256-cluster-class-and-managed-topologies.md#notes-

[2021-10-20 08:45] fabriziopandini opened #5453 "MachineSet should reset MachineReady conditions when scaled down to zero replicas"
**What steps did you take and what happened:**
While testing CAPI I noticed that after a MachineSet is scaled down to zero replicas, eg. after a rollouts, the MachineReady remains stuck to false reporting the last machine still deleting.

**What did you expect to happen:**
MachineReady condition to go back to true (or eventually be removed) given that there are zero machines

**Environment:**

- C

[2021-10-20 09:02] fabriziopandini opened #5455 "Moving packages not intended for external usage to internal"
This is a follow up of https://github.com/kubernetes-sigs/cluster-api/pull/5440#issuecomment-946775031 and  https://github.com/kubernetes-sigs/cluster-api/pull/5440#issuecomment-946918809 and

**User Story**

As a user I would like to be have a clear signal about what is is subject to version guarantees and what not
As a developer I would like to be able to continually evolving CAPI and add new fe

[2021-10-20 09:04] fabriziopandini commented on #5455
/hold
I'm going to propose this change to the community during Oct 20th office hours

[2021-10-20 09:34] fabriziopandini opened #5456 "Create conditions for onboarding new reviewer & maintainers on sub-areas of the projects"
Growing the reviewers/maintainer base is something we’ve been trying to do for a while. That being said, as the codebase has been growing, we’re trying to think of the best way to onboard people to OWNERs files going forward and once thing that we’d like to see is more reviewersmaintainers of subareas of the project (credits to @CecileRobertMichon for this phrase 👏)

As of today there are followin

[2021-10-20 10:17] omniproc opened #5457 "Substitute environment variables in clusterctl.yaml"
**User Story**

As a operator I would like to use variables inside my `clusterctl.yaml` that will be substrituted with environment variables so we can use relative paths inside `clusterctl.yaml` e.g. to configure relative, local URIs.

**Detailed Description**

In an air-gapped environment you'll often find yourself in a situation where you have to provide all images and manifests localy when init

[2021-10-20 10:43] fabriziopandini commented on #5445
/milestone v1.0

[2021-10-20 10:44] fabriziopandini commented on #5446
/milestone v1.0

[2021-10-20 11:21] sbueringer commented on #5456
To clarify:

Is this targeted towards reviewers or maintainers or both?

[2021-10-20 13:09] omniproc commented on #5457
I'm good with envsubst and think it's syntax probably more reliable then bash. The bash syntax like example I gave above was just for illustration.

[2021-10-20 13:42] fabriziopandini commented on #5456
Now controller/ are under the responsibility of top level maintainers, and this makes it difficult to add new reviewers/maintainers specialised in this (huge) part of the code base. A possible solution is to define an OWNERS file for controller/ , or eventually we can even break it down more, e.g having subareas for machine health checks, machinedeployments/machineset etc. But given that this is f

[2021-10-20 14:18] killianmuldoon opened #5459 "Update Versioning policy in the docs"
As pointed out at https://github.com/kubernetes-sigs/cluster-api/pull/5440#issuecomment-947394665 the current [Versioning docs](https://github.com/kubernetes-sigs/cluster-api/blob/main/VERSIONING.md#overview) imply that we will not make any breaking changes in Cluster API until the next major version:

1) > we'll occasionally want to make breaking changes. They'll be merged onto main, and will the

[2021-10-20 14:22] sbueringer opened #5460 "ClusterClass patch implementation"
This issue is an umbrella issue for the ClusterClass patch implementation. It's a follow-up to the ClusterClass patch proposal amendment: #5142.

Note: this will evolve over time as the implementation progresses.

### Initial Prereqs / PRs

* [x] [✨ Add ClusterClass variable and patch types #5418](https://github.com/kubernetes-sigs/cluster-api/pull/5418)
* [x] [🌱 Move ClusterClass webhook to a sep

[2021-10-20 14:25] killianmuldoon opened #5461 "Implement new ClusterClass compatibility checks in webhook"
**User Story**
As an operator I would like to be confident that changing my clusterClass won't result in a broken cluster.

**Detailed Description**
Since #5212 there are five rules defined under clusterClass compatibility in the ClusterClass CAEP:

The latter two of these are concerned with variables and patches defined in the ClusterClass and the definition of "changed in an incompatible way" re

[2021-10-20 15:25] vincepri commented on #5459
+1 to update the versioning document with what we agreed prior to the v1.0 release.

[2021-10-20 15:28] vincepri commented on #5459
Yes, we're following Kubernetes practices.

Yes, although every exception should be documented.

Code is usually at least 1 release in between, the APIs follow their own guarantees.

Yes, this is already true today.

version?

Depends? Seems folks have different opinion on this one, I'd personally vote to only open the main branch to breaking changes only when we're ready for the next minor releas

[2021-10-20 15:28] vincepri commented on #5459
/milestone v1.0
/priority important-soon

[2021-10-20 15:37] #4847 closed

[2021-10-20 16:33] sbueringer commented on #5448
clusterctl v0.4.x should work. I assume your using a v0.4.x clusterctl. Are you running it against a clean cluster? I think this issue can occur if there are already v1beta1 things (IIRC CRDs) in the cluster

[2021-10-20 17:36] sbueringer commented on #5448
@dtzar `clusterctl delete` has a `--include-crd` flag, so yes, it's intentional.

[2021-10-20 18:37] sbueringer opened #5466 "Implement validation for the KCP scale sub-resource"
**User Story**

As a user I would like to be blocked when I try to scale to an invalid replica count of KCP via `kubectl scale`.

**Detailed Description**

This is already validated during update (e.g. kubectl edit), but the webhook is not called during `kubectl scale` as that uses the `/scale` sub-resource.

There was a previous implementation which was rolled back, xrefs:
* https://github.com/ku

[2021-10-20 18:39] sbueringer commented on #5466
/help

[2021-10-20 21:36] randomvariable commented on #4484
Oh yeah, I'm doing some dodgy stuff with the sidebar in the CAPA repo.

[2021-10-20 21:43] randomvariable commented on #5456
I thought I was a reviewer of the book for some reason - thought that meant I could only lgtm not approve.

I would volunteer for the following:

- test framework & e2e
- KCP

[2021-10-20 22:43] CecileRobertMichon commented on #5455
+1, also this is the kind of change that should definitely not go in a patch release (but I think we've agreed to bug fixes only so we should be good on that front)

[2021-10-21 00:04] #5448 closed

[2021-10-21 03:28] sadysnaat opened #5467 "Support more strategies [UpgradeOnChange] on ClusterResourceSet"
**User Story**

As a user I would like to reapply resources when I update underlying ResourceReference secret or configmap data

**Detailed Description**

I am capv operator and I deploy CNI and CSI using clusterresourceset,
now using applyonce strategy capi ensures that these
resources are applied to cluster once

But if I change/update say CSI image tags for newer release the resources will not

[2021-10-21 10:35] richardcase commented on #5294
It does have some of the same challenges for sure. And yes it would be good to get some people together to start discussions on this.

[2021-10-21 15:50] sbueringer opened #5470 "Refs in MachineDeployments are not updated automatically to v1beta1"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

After the upgrade to CAPI v1beta1 the refs in MachineDeployments are not updated automatically. (they are automatically updated in MachineSets)

Example from CI:
* MD: [link](https://storage.googleapis.com/kubernetes-jenkins/logs/periodic-cluster-api-e2e-main/1451192801680166912/artifacts

[2021-10-21 16:11] sbueringer commented on #5455
+1

[2021-10-21 16:43] killianmuldoon commented on #5461
I have a couple of questions I'd like to get alignment on before taking a proper run at this:

Are we assuming that listing all clusters using a clusterclass from the webhook is the supposed mechanism for ensure variables aren't in use currently? Or is there some other semaphore or lock that could be used?

The overall question I'm running into is how much validation we want to do against existing

[2021-10-21 17:11] vincepri commented on #5470
/milestone v1.0

[2021-10-22 00:01] matthchr opened #5472 "Are CAPI conditions fully kstatus compatible?"
If using CAPI with a tool like [fluxcd](https://github.com/fluxcd/flux2), which internally uses [kstatus](https://github.com/kubernetes-sigs/cli-utils/tree/master/pkg/kstatus), there isn't a good way for kstatus to know if the CAPI resource is in a terminal state or if waiting longer may result in reconciliation driving the resource to `ready=true`.

As per the [kstatus documentation](https://gith

[2021-10-22 00:08] matthchr commented on #5472
See some related discussion here: https://github.com/fluxcd/flux2/issues/1254

[2021-10-22 10:02] killianmuldoon opened #5475 "Add documentation for controllers missing from book"
**User Story**

As a user/operator I would like comprehensive documentation of all CAPI controllers.

**Detailed Description**

Currently there is documentation in section 3.5 of the CAPI book for most of the controllers in CAPI but some are missing.

Documentation could be added for the following controllers:

**Core controllers**
- [x]  Topology/Cluster Controller #5502
- [ ] ClusterResourceSet/

[2021-10-22 12:56] randomvariable opened #5477 "During KCP rollout, etcd churn can prevent renewal of the bootstrap token causing KCP node registration to fail"
/kind bug

Follow up from #2770

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Deploy a 3-node CP cluster using CAPV with kube-vip using PhotonOS (for some reason, it's more likely to occur here) and then set kcp.spec.upgradeAfter to trigger a rollout.

Due to a mixture of https://github.com/kube-vip/kube-vip/issues/214 and the fact we haven'

[2021-10-22 14:29] sadysnaat opened #5478 "cluster status does not remove old failuredomains from status"
**What steps did you take and what happened:**

Seen this with capi + capv
if we remove failure domain from infracluster vspherecluster drop the fields from status
but even after reconcile capi still retains the deleted fields in status.FailureDomains

###### capv before
[code]

###### capi before
[code]

###### capv after
[code]

###### capi after
[code]

**What did you expect to happen:**

After

[2021-10-22 16:42] #5459 closed, assigned to nobody

[2021-10-22 19:12] gab-satchi opened #5483 "Orphaned infrastructure machines during cluster deletion"
**What steps did you take and what happened:**
We're seeing issues where a cluster is stuck on deletion (in VSphere). Upon investigation, we always find VSphereMachines that aren't deleted that's blocking the rest of the deletion flow. CAPI's machine_controller is meant to set a machine as the Owner of the infrastructure machine but there may be a gap where the infrastructure machine is briefly or

[2021-10-23 01:07] jayunit100 commented on #2217
Yup! So, we'd love to propose a fix to this or go through the other folks proposed fixes in an upcoming capi meeting ?

[2021-10-25 09:04] enxebre opened #5487 "Document CRs ownership"
**User Story**

As a cluster operator/developer I would like comprehensive documentation for the CRs ownership relationship. This comes in particularly handy as the number of CRDs of the project keeps growing.

**Detailed Description**

In order to make it easier for devs to quickly understand CAPI internals, we could include a section with some CRs ownership diagram and implications in the develo

[2021-10-25 10:58] fabriziopandini opened #5490 "Security Self Assessment: [STRIDE-INFODISCLOSE-3] RFE: Improve certificate management in Cluster API"
**User Story**

As a user/operator I would like to have control on how certificates are created
As a user/operator I would like to have visibility on certificate expiration date
As a user/operator I would like CAPI to support me in certificate lifecycle management
As a user/operator I would like to have the option to rely on external tools for certificate management

**Detailed Description**

As o

[2021-10-25 12:07] fabriziopandini opened #5491 "Security Self Assessment: [STRIDE-INFODISCLOSE-1] RFE cluster addons"
**User Story**

As a user/operator I would like Cluster API to get a comprehensive solution for Cluster addons lifecycle

**Detailed Description**

This builds up on https://github.com/kubernetes-sigs/cluster-api/issues/4166 and from recent discussions at SIG level.

There is a set of addons that have a lifecycle strictly linked to the cluster lifecycle managed by CAPI, afterwards Cluster addons.

[2021-10-25 19:11] ykakarap opened #5496 "Should we add a new `--clusterclass-from` flag to `clusterctl generate cluster` that can be used in tandem with the `--from` flag"
**Detailed Description**
The `clusterctl generate cluster` command now supports generating cluster YAMLs that are based on cluster classes.
The `generate cluster` command also has a flag named `--from` to be able to generate cluster YAMLs from local/remote template files. This issue is to brainstorm if we need a similar flag (`--clusterclass-from`) to also support using local/remote cluster class

[2021-10-25 23:57] Arvinderpal commented on #493
Great to see this on the radar!

@randomvariable I'd be happy to work on this with you. Should we have a short sync up and perhaps other who are interested (@enxebre @dlipovetsky @sidharthsurana) can also join? Or if you have not done so already, I can put together a short google doc to get things rolling?

[2021-10-26 04:08] ykakarap opened #5498 "handle ClusterClass deletion"
**Detailed Description**

This issue is to brainstorm what needs to be done when a ClusterClass is deleted from the cluster.

Refs:
- https://github.com/kubernetes-sigs/cluster-api/pull/5486#discussion_r735686635
- https://kubernetes.slack.com/archives/C8TSNPY4T/p1635180977101700

**Anything else you would like to add:**

[Miscellaneous information that will assist in solving the issue.]

/kind fe

[2021-10-26 09:14] killianmuldoon opened #5502 "Add documentation for ClusterClass controller"
Add a page to the controllers section of the Cluster API book that covers the high level workings of the [clusterClass controller](https://github.com/kubernetes-sigs/cluster-api/blob/main/controllers/topology/cluster_controller.go).

The documentation should minimally include:

1) A diagram showing the workings of the Cluster Controller in the Topology package.
1) A list of the main responsibiliti

[2021-10-26 19:34] fabriziopandini opened #5506 "Links to owners files should be updated to use the main branch"
found a couple of links that needs to be changed to use the main branch instead of master.

https://github.com/kubernetes/community/blob/822d3c300a1351088494dd1280a444f0ee01f9eb/sig-cluster-lifecycle/README.md?plain=1#L62

https://github.com/kubernetes/community/blob/822d3c300a1351088494dd1280a444f0ee01f9eb/sigs.yaml#L984

/kind bug
/help-wanted
/good-first-issue

[2021-10-27 11:50] MaxRink opened #5509 "KCP upgrade is failing because of wrong member in etcd"
**What steps did you take and what happened:**
After starting an upgrade of KCP etcd on the new nodes never got up and running, thus API-Server was faling to come up and the upgrade never succeeded.
After debugging we found that there was a wong peer in ETCd
[code]
After removing that everything started working.
The question is, how has that made it into etcd, given that that cluster has only be t

[2021-10-27 12:22] perithompson opened #5510 "Raise a metric whenever CAPI cannot see a remote cluster client"
**User Story**

As an operator I would like a capi to raise a metric whenever it cannot see a remote cluster client to see where we can see a continuous rise in errors contacting the workload cluster client and potentially raise an alert.

**Detailed Description**
Similar to https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/1281, it would be useful to be able to spot when clus

[2021-10-27 15:09] killianmuldoon opened #5512 "Move Cluster Webhook to top-level /webhook package"
The Cluster webhook currently located in /api/v1beta1/cluster_webhook.go should have its top level API moved to the new top level /webhooks package mirroring the changes made in #5266

This will enable additional dependencies to be added to the webhook without also adding dependencies to the API package which is widely imported. This is of particular importance with changes to the Cluster webhook

[2021-10-27 15:24] killianmuldoon opened #5513 "Add cluster health and config checks to clusterctl"
**User Story**

As a user I would like to use clusterctl to inspect the health and config of my cluster for problems.

**Detailed Description**
Currently users can use clusterctl describe to help to surface the status of a cluster and its components. More advanced configuration and health checks baking in operational knowledge of cluster API could be added to clusterctl.

This would be a debugging

[2021-10-27 16:50] chatla-telekom opened #5516 "Add a configuration flag for Machine Deletion Timeouts"
**User Story**

As a user I would like to have the possibility for specifying the timeout duration for machine deletion.

**Detailed Description**

According to the current implementation, the timeout for machine deletion is set to 10 seconds after which the machine is not deleted. This is not feasible in some cases as it leads to orphan machines in the clusters even after they are deleted in the

[2021-10-27 16:59] randomvariable opened #5517 "Inconsistent provider behaviour with API server ports"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

A common refrain I have heard from customers:

"As a cluster operator, I may be working in a multi-cloud environment, and also have a directive to always have https endpoints exposed on 443. In the Kubernetes context, this means clients should only ever connect to the API server on port 4

[2021-10-27 18:48] killianmuldoon opened #5519 "Update Roadmap page in CAPI book"
The [roadmap page in the CAPI book] (https://cluster-api.sigs.k8s.io/roadmap.html) is in need of an update including:
- removal of the goals for v1alpha4 (0.4)
- add record of changes for v1beta1 (1.0)
- add placeholder for TBC details of the roadmap for release 1.1, and beyond. (exact timeline depending on community preferences)

/kind documentation

[2021-10-27 19:19] shysank opened #5520 "Pre initialize hook for clusterctl upgrade test"
**User Story**

capz e2e test templates in `v1alpha4` require an azure cluster identity secret to be set up before creating workload cluster. This is done in the [before each](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/e56a316ae8bfb5b0c7b3282d1d4a56b0ce97afe4/test/e2e/azure_test.go#L83) section capz e2e tests. To mimic this functionality for clusterctl upgrade test (`v1alph

[2021-10-27 19:53] sayantani11 opened #5522 "Quick Start section needs to make the steps a little more clear"
**User Story**

While starting with the Quick start doc, I was trying to follow the steps as mentioned. But I was stuck at step 1 for a long time unable to proceed. I was not able to understand what can I set the KUBECONFIG variable to. It was bought my notice after some discussion that we will have to choose either step 1 or 2

**Detailed Description**

https://github.com/kubernetes-sigs/cluster-

[2021-10-28 09:06] #5520 closed, assigned to shysank

[2021-10-28 18:43] #5496 closed, assigned to nobody

[2021-10-29 09:52] killianmuldoon opened #5532 "Lifecycle integrations for clusterClass"
ClusterClass is currently able to supply a cluster with the required objects to set up a working Kubernetes cluster through CAPI, but not all features of Cluster API, or technologies that integrate with Cluster API are covered. The [ClusterClass proposal](https://github.com/kubernetes-sigs/cluster-api/blob/main/docs/proposals/202105256-cluster-class-and-managed-topologies.md#prospective-future-wor

[2021-10-29 14:20] enxebre opened #5536 "Move operator into its own repo"
**User Story**

**Detailed Description**

As discussed in community call 27 Oct 2021 we agree on moving the operator into its own repo so It can have independent workflow development and release cycle.

**Anything else you would like to add:**

[Miscellaneous information that will assist in solving the issue.]

- [ ] Update CAEP
- [ ] Create New repo
- [ ] Remove branch and any related code from h

[2021-10-29 14:44] killianmuldoon opened #5537 "ClusterClass validation, strict object ordering and gitops practices"
With ClusterClass we're seeing a number of complex validation questions that probe at the link between a Cluster and the ClusterClass it's stamped from.

A first solution we agreed upon in the ClusterClass proposal is to enhance the webhooks so when editing a Cluster changes are validated against the ClusterClass and vice versa. Now that we are getting to the next level of detail on this solution

[2021-10-29 15:22] #5512 closed, assigned to killianmuldoon

[2021-10-29 16:40] #5446 closed, assigned to ykakarap

[2021-10-29 16:45] ykakarap opened #5539 "rename `annotations.HasPausedAnnotation(obj)` - function name stutters"
**Detailed Description**

The function name `annotations.HasPausedAnnotation` stutters. Consider renaming it to something like `annotations.HasPaused`?

**Anything else you would like to add:**

Since this will be an exposed API change we cannot directly rename the function.
Steps to follow:
* Create the a new function `HasPaused` in the `util/annotations` package.
* Add a deprecation comment on `

[2021-10-29 17:37] #3358 closed, assigned to CecileRobertMichon

[2021-10-29 17:38] randomvariable opened #5542 ":book: Add documentation on effective use of failure domains"
**User Story**

As an operator, I see that MachineDeployments only support a single failure domain / AZ, and MachinePools support multiple. I need some guidance on how to effectively scale and distribute across AZs in respect of availability and data locality requirements

**Detailed Description**

[A clear and concise description of what you want to happen.]

**Anything else you would like to add

[2021-10-29 18:00] vincepri commented on #3547
/close

[2021-10-29 18:01] #3547 closed

[2021-10-29 18:01] vincepri commented on #3555
/close

[2021-10-29 18:01] #3555 closed

[2021-10-29 18:04] vincepri commented on #3680
Closing this as it's not really a huge issue

/close

[2021-10-29 18:04] #3680 closed

[2021-10-29 18:06] vincepri commented on #3694
/close

To be solved in controller-runtime

[2021-10-29 18:07] #3694 closed

[2021-10-29 18:10] vincepri commented on #3697
/assign @killianmuldoon
/milestone v1.1

[2021-10-29 18:11] vincepri commented on #3698
Close in favor of #5491
/close

[2021-10-29 18:11] #3698 closed

[2021-10-29 18:12] vincepri commented on #3700
/assign @fabriziopandini
/milestone v1.1

[2021-10-29 18:15] vincepri commented on #3732
/assign @fabriziopandini
to re-triage

[2021-10-29 18:19] vincepri commented on #3770
/assign @sbueringer
/milestone v1.1

[2021-10-29 18:21] vincepri commented on #3782
/assign @randomvariable
to retriage once security review has been done

[2021-10-29 18:23] vincepri commented on #3789
/close

[2021-10-29 18:23] #3789 closed

[2021-10-29 18:23] vincepri commented on #3828
/assign @randomvariable

[2021-10-29 18:26] vincepri commented on #3876
/assign @randomvariable

[2021-10-29 18:29] vincepri commented on #3968
/close

This issue is going to be solved with the operator (for provider templates) and ClusteClass (for cluster templates).

[2021-10-29 18:29] #3968 closed

[2021-10-29 18:34] fabriziopandini commented on #5537
@ykakarap FYI this could have Implications for clusterctl move^^

[2021-10-30 00:28] klxfeiyang commented on #5502
Thanks @ykakarap for working with me to create a draft activity diagram of the clusterclass topology controller attached below.  It focuses on the reconcile loop of the controller, in line with documentation of the other controllers.  I will work on translating this into a `plantuml` diagram.

![Screen Shot 2021-10-29 at 16 21 14](https://user-images.githubusercontent.com/42789705/139513552-466cb2

[2021-10-30 07:25] tamboliasir1 commented on #5539
Hi @ykakarap.. That means HasPaused should be copy of HasPausedAnnotation? And HasPausedAnnotation should have deprecated message? and how above issue going to affect this issue? Can you give me bit insight I would like to work on this.

Thanks

[2021-10-30 12:53] sayantani11 commented on #5506
Hey @fabriziopandini I saw the changes in k/community repo. But the other changes as mentioned by @sbueringer those changes have to be done to the respective repos right?

[2021-10-31 02:45] ykakarap commented on #5539
@tamboliasir1 Thanks for volunteering to work on the issue! 🚀

Yes. This is correct.

If the `unit/annotations` package moves into `internal` then we can directly refactor `HasPausedAnnotation` into `HasPaused` without having to create a duplicate function and adding the deprecation notice.

For this issue, I think you can go ahead with creating `HasAnnotation` and adding the corresponding depreca

[2021-10-31 03:45] tamboliasir1 commented on #5539
Thank you so much for guidance @ykakarap. I'll work on this.

[2021-10-31 03:45] tamboliasir1 commented on #5539
/assign

[2021-10-31 08:41] tamboliasir1 commented on #5539
Hi @ykakarap.. I have one question.. Do I need to take care of replacing `HasPausedAnnotation` everywhere is it used with `HasPaused`? Or is is taken care while clean up?

[2021-10-31 08:43] ykakarap commented on #5539
Please replace usages with `HasPaused`.

[2021-10-31 08:44] tamboliasir1 commented on #5539
Got it.. Thank you

[2021-10-31 11:35] DiptoChakrabarty opened #5546 "Update Documentation for aid in various providers"
**User Story**

I was following the quick start guide for the cluster api project and trying to deploy my cluster in AWS but I was stuck in one the steps of initialising clusterawsadm (this is not present in the aws clusterawsadm specific page also). I was able to figure it out however it would be useful for new developers have the steps outlined for them (as most providers will follow a similar s

[2021-10-31 12:50] DiptoChakrabarty commented on #5346
hey @fabriziopandini  I am interested in this issue , I want to try out the ```--disable-grouping``` one first , just wanted to clarify if     ```grouping(true)``` should have the same output as  ```--disable-grouping(false)```   which  shows all the machines on separated lines, no matter if they have the same state or not (command will be clusterctl describe cluster quickstart --grouping)

 , or

[2021-10-31 18:16] therealak12 opened #5548 "Cluster API cannot provision a cluster using docker provider"
**What steps did you take and what happened:**
Following the same steps as provided [here](https://cluster-api.sigs.k8s.io/user/quick-start.html) I'm unable to successfully run the machines using the docker provider.

After applying the `capi-quickstart.yaml`, the machines get stuck in `Pending` state and the `capi-controller-manager` pod prints logs like this:
[code]

**What did you expect to hap

[2021-10-31 18:46] stmcginnis commented on #5548
Hi @therealak12 - one of the common issues with this is due to overlooking the Docker-specific instructions for the kind cluster. Can you confirm you created the kind cluster with `/var/run/docker.sock` mapped through?

Another thing to check would be to tail the `capd-controller-manager` logs. That should have more specific log messages showing what is going on compared to `capi-controller-manage

[2021-10-31 18:55] therealak12 commented on #5548
Hi! Thanks for your response.

Yes I have `docker.sock` mounted in the container in the specified path.

I found the problem in `capd-controller-manager logs`. It was a problem with my proxy. Thanks again 😄

[2021-10-31 18:55] #5548 closed

[2021-11-01 09:48] enxebre commented on #5455
@fabriziopandini should we also review https://github.com/kubernetes-sigs/cluster-api/tree/main/util as part of this effort?

[2021-11-01 09:59] enxebre commented on #5546
/help
/good-first-issue

Probably good to add into CAPA if it's not there as well cc @randomvariable.

[2021-11-01 10:03] randomvariable commented on #5546
CAPA uses a copy of the CAPI quick start, so if it's updated here, CAPA will get updated on the next netlify deploy,

[2021-11-01 10:28] DiptoChakrabarty commented on #5546
I want to take this up

[2021-11-01 10:28] DiptoChakrabarty commented on #5546
/assign

[2021-11-01 14:16] mdbooth opened #5552 "Test framework Gomega errors are not helpful"
**What steps did you take and what happened:**
I have a failing E2E test in CAPO. I do not yet know what the error is. The reported error is:

[code]

From this I do not know:
* Which cluster failed
* What was expected to be true

**What did you expect to happen:**
I would like this error message to contain enough context to see at a glance what it means, and ideally to contain additional context

[2021-11-01 15:45] jpmcb commented on #4891
I haven't found alot of time to debug this and actually don't have my windows environment anymore.

/unassign

Is there anyone from the community (maybe a go to windows person) who could look at this?

[2021-11-01 17:40] enxebre opened #5553 "Consider limited kubeconfig for internal components and consumers"
**User Story**

As a developer/user/operator I would like to CAPI core internal components to be granted only with the perms they need.

**Detailed Description**

Today CAPI generates [a full admin config](https://github.com/kubernetes-sigs/cluster-api/tree/main/util/kubeconfig) that is then consumed by the Machine Controller and by any component [claiming a cluster accessor through the remote cac

[2021-11-01 17:41] enxebre commented on #5553
cc @CecileRobertMichon @voor

[2021-11-01 20:06] fabriziopandini commented on #5553
Somehow related to this https://github.com/kubernetes-sigs/cluster-api/issues/3661
TBD if we can dedup/merge

[2021-11-01 20:13] fabriziopandini commented on #5542
Ideally, also KCP support for failure domains should be documented

/remove-kind feature
/kind documentation
/milestone v1.1

[2021-11-01 20:17] fabriziopandini commented on #5506
@sayantani11 if I got right @sbueringer comment, yes

[2021-11-01 20:22] fabriziopandini commented on #5455
@enxebre depends on what do you have in mind with review, but ideally yes if we find out some packages not used outside CAPI we can consider to move them to internal. Not sure if we can get there given that my main concern are controllers.

[2021-11-01 20:23] fabriziopandini commented on #5546
/milestone v1.1

[2021-11-01 20:47] #5522 closed

[2021-11-01 20:56] g-gaston opened #5555 "Reconcile `ClusterResourceSet`s"
**User Story**

As an operator I would like to be able to update objects managed by a `ClusterResourceSet` by interacting exclusively with the management cluster for security/stability/new-capabilities updates.

**Detailed Description**

As mentioned in the [design proposal](https://github.com/kubernetes-sigs/cluster-api/blob/main/docs/proposals/20200220-cluster-resource-set.md), `ClusterResourceS

[2021-11-02 00:55] dlipovetsky opened #5557 "KubeadmControlPlane should provide an explanation when it decides a Machine should be replaced"
**User Story**

As a user I would like to understand why KubeadmControlPlane (KCP) decides that a Machine needs to be replaced (in KCP parlance, the Machine "needs rollout").

Today, I see only that KCP decides the Machine needs to be replaced, but no reason as to why:

[code]

This is, of course, not enough information to understand the decision.

**Detailed Description**

**Anything else you wou

[2021-11-02 08:09] sbueringer commented on #5410
@anusha94 Do you have time to implement the issue? Just because we're starting to cherry-pick fixes onto release-1.0 and we have no tests at all :). Please let me know if there's anything I can do to help.

[2021-11-02 08:29] sbueringer commented on #5555
@g-gaston Can you please check if this issue is already covered by https://github.com/kubernetes-sigs/cluster-api/issues/4807?

[2021-11-02 08:34] sbueringer commented on #5506
Yes

[2021-11-02 09:34] sbueringer commented on #5502
@klxfeiyang I'm not aware of other diagrams for the ClusterClass controller.

[2021-11-02 10:03] fabriziopandini commented on #5175
Trying to move forward with the discussion, I have created https://docs.google.com/document/d/1WTGtu32rGlme16f3133MH9dLgiJxHtABp0pWZmamInc/edit?usp=sharing with:
- some notes about a first, concrete use case for Runtime Extension, external patches for ClusterClasses
- a first brain dump of things to be defined before writing the proposal on Runtime Extensions in Cluster API

[2021-11-02 11:04] killianmuldoon commented on #5356
https://github.com/kubernetes-sigs/cluster-api/pull/5419#issuecomment-957334223

There's a couple of problems with this approach as it looks out of the scope of the current errors package. Currently the errors package covers mostly status conditions whereas these are closer to client errors.

Should we expand the overall usage of the errors package to include client errors like ClusterNotFound? Th

[2021-11-02 12:17] omniproc opened #5562 "[cabpk] Ability to configure hostname"
**User Story**

As a service provider I would like to manualy configure the hostname of every `Machine` / K8s Node to align with DNS name / hostname definitions of my enterprise and to have predictable, consistent hostnames when re-deploying CAPI managed K8s clusters.

**Detailed Description**

Currently - as far as I was able to track this - the GenerateName function of CABPK is responsible to ge

[2021-11-02 13:44] killianmuldoon opened #5563 "EqualObject Matcher ignores additional fields"
Expected internal/matchers.EqualObject to return false when the compared object has more fields than the original object. Currently if the original object has more fields than the actual the objects are returned as equal.

This is unexpected behaviour for those using the EqualObject matcher in tests.

Unit tests will be added to the matcher to ensure it's functioning as expected.

/kind bug
/area

[2021-11-02 14:10] randomvariable commented on #5490
/area kcp

[2021-11-02 14:10] randomvariable commented on #5490
/area ?

[2021-11-02 14:10] randomvariable commented on #5490
/area control-plane

[2021-11-02 14:11] randomvariable commented on #5490
@PushkarJ it would be good to get feedback from security folk.

[2021-11-02 14:12] randomvariable commented on #5557
/area control-plane

[2021-11-02 14:14] randomvariable commented on #5517
Isn't there a case where because of hairpin NAT, there's a hack to /etc/hosts where the LB control plane endpoint is repointed to 127.0.0.1 ?

[2021-11-02 14:14] randomvariable commented on #5509
/area control-plane

[2021-11-02 14:16] randomvariable commented on #5323
is this still a concern?

[2021-11-02 14:17] randomvariable commented on #5324
/area control-plane

[2021-11-02 14:17] randomvariable commented on #5477
/area control-plane

[2021-11-02 14:19] randomvariable commented on #5035
/area control-plane

[2021-11-02 14:19] randomvariable commented on #4512
/area control-plane

[2021-11-02 14:19] randomvariable commented on #4493
/area control-plane

[2021-11-02 14:19] randomvariable commented on #4304
/area control-plane

[2021-11-02 14:19] randomvariable commented on #4178
/area control-plane

[2021-11-02 14:19] randomvariable commented on #3975
/area control-plane

[2021-11-02 14:20] randomvariable commented on #3876
/area control-plane

[2021-11-02 14:20] randomvariable commented on #3828
/area control-plane

[2021-11-02 14:20] randomvariable commented on #3782
/area control-plane

[2021-11-02 14:20] randomvariable commented on #3700
/area control-plane

[2021-11-02 14:20] randomvariable commented on #3695
/area control-plane

[2021-11-02 14:20] randomvariable commented on #3425
/area control-plane

[2021-11-02 14:23] fabriziopandini commented on #5324
FYI, https://github.com/kubernetes-sigs/cluster-api/pull/5434 fixed this in CAPD
As soon as the error is reported by CAPD ready condition, it bubbles up through the chain

[2021-11-02 14:28] fabriziopandini commented on #4493
Given that this does not seem a problem and probably the issue in this thread is related to LB misconfigurations
We can eventually re-open if there are new evidences
/close

[2021-11-02 14:31] fabriziopandini commented on #5323
AFAIK we nailed down the problem to controller runtime starting sequence and we are working on an improvement there.

[2021-11-02 14:33] vincepri commented on #5323
We might however want to consider to split them up, given that's the only way to guarantee that the lifecycle of the manager and the webhook server is separate from one another. The only downside is that the cache (for the webhooks that use a client) might be duplicated.

[2021-11-02 14:35] vincepri commented on #5557
/help
/milestone v1.1

[2021-11-02 14:49] vincepri commented on #5555
/milestone Next

Sounds like a duplicate of the above, could we merge?

[2021-11-02 14:50] vincepri commented on #5563
/milestone v1.1

[2021-11-02 14:51] vincepri commented on #5324
/priority awaiting-more-evidence

[2021-11-02 14:57] g-gaston commented on #5555
@sbueringer @vincepri
Sounds good, let's merge it

[2021-11-02 14:58] kbreit opened #5564 "Modifying etcd's extraArgs with value prevents static manifest creation"
**What steps did you take and what happened:**
I have a Helm chart which templates CAPV clusters. In this case I'm trying to enable etcd Prometheus metrics using the `listen-metrics-urls` value. When I have this enabled it doesn't create the `/etc/kubernetes/manifests/etcd` static pod manifest file on nodes.

[code]

**What did you expect to happen:**
`/etc/kubernetes/manifests/etcd` should have b

[2021-11-02 15:13] fabriziopandini commented on #5346
`grouping` semantically is the opposite of `disable-grouping`, so:
- `disable-grouping=false` should be equivalent to `grouping= true`
- `disable-grouping=true` should be equivalent to `grouping= false`

[2021-11-02 15:15] vincepri commented on #5555
/close

@g-gaston Are you able to post your original issue in the other one?

[2021-11-02 15:15] #5555 closed

[2021-11-02 15:19] vincepri commented on #5564
/assign @fabriziopandini

Is there an error message you're seeing?

[2021-11-02 15:20] fabriziopandini commented on #5564
in order to triage it is required to get cloud init logs and the generated kubeadm config file from the machine

[2021-11-02 15:27] g-gaston commented on #5555
@vincepri
Of course. Do you mean the whole issue body? Or just the part about capv?

[2021-11-02 15:29] kbreit commented on #5564
@vincepri I am not seeing any errors but notice the node never totally comes up as a control plane node.

@fabriziopandini Where do I pull the kubeadm config file? Here is sanitized output from the cloud init output file. `cloud-init.log` is empty.

[code]

[2021-11-02 15:44] fabriziopandini commented on #5564
Please file an issue in kubeadm repo adding a copy of /run/kubeadm/kubeadm-join-config.yaml

@randomvariable it seems that the experimental retry script is not fully re-entrant, and after the error it keeps retrying reset, but I'm not sure I can really spot the error.

[2021-11-02 15:52] vincepri commented on #5553
/kind proposal
/milestone Next

[2021-11-02 15:53] vincepri commented on #5539
/milestone v1.1

[2021-11-02 16:17] vuil opened #5566 "Allow patches to be selectively applied"
**User Story**

As an operator I would like to create ClusterClass's with a rich set of customizations that can selectively applied by a user who chooses to use them.

**Detailed Description**

This is a formal request for the feature that has been mentioned in the [ClusterClass and Managed Topologies](https://github.com/kubernetes-sigs/cluster-api/blob/main/docs/proposals/202105256-cluster-class-

[2021-11-02 16:28] neolit123 commented on #5564
i'm seeing this in the logs:

what is in the directory at the time of kubeadm init?
if it is a custom static pod, that's fine, but if it's etcd.yaml it could be tripping kubeadm.

[2021-11-02 16:28] fabriziopandini commented on #5564
Yeah, saw it.
We should do a better work in distilling info for the different layers and help maintainers to reproduce.

The issue now is trying to determine why there is an "unhealthy (etcd) cluster", and this is probably something not really related to the joining node, but to the control plane nodes existing before.
What are the state of those nodes? is it possible to get the output of `cluster

[2021-11-02 16:31] sbueringer commented on #5564
I'll run a local CAPD test with only the flag to check if that feature itself works (independent of other side effects)

[2021-11-02 16:36] kbreit commented on #5564
@fabriziopandini

[code]
For etcd I may be using the wrong endpoint but it's not happy.

[code]

[2021-11-02 16:38] randomvariable commented on #5564
We were supposed to deprecate that, so I would suggest in the first instance trying without it.

/area control-plane

[2021-11-02 16:38] vincepri commented on #5552
/milestone v1.1

[2021-11-02 16:41] kbreit commented on #5564
In my development of the helm chart I did pass an invalid arg into the `extraArgs` stanza. The new node didn't come up with an error. Is it possible that broke the etcd cluster? I'd hope it wouldn't as that seems fragile.

[2021-11-02 16:55] sbueringer commented on #5564
Just fyi. I ran the CAPD quickstart with the extraArgs set and it worked (xref: https://kubernetes.slack.com/archives/C8TSNPY4T/p1635871209289600?thread_ts=1635870146.288600&cid=C8TSNPY4T). So the problem shouldn't be that CAPI or kubeadm doesn't supports setting it.

[2021-11-02 18:00] fabriziopandini commented on #5564
I think there are some well known issues playing here (see the entire discussion on kubelet bootstrapper/machine agent, that unfortunately got stuck due to staffing problems:
- kubeadm extra args are powerful, but also dangerous given that it is not possible to validate them upfront.
- machine bootstrap is opaque and CAPI can't do much to detect/automatically recover from problems like the one tha

[2021-11-02 18:05] sbueringer commented on #5537
Related Slack thread: https://kubernetes.slack.com/archives/C8TSNPY4T/p1635520879223800

Reposting my opinion from there:

I lean towards strict validation and adding an annotation as escape-hatch if it becomes necessary.

I think the situation is somewhat similar to creating CRDs and CRs, so I assume/hope there is a way that GitOps tools can deal with something like this. (although as Vince said

[2021-11-02 19:05] kbreit commented on #5564
As @fabriziopandini said, this has been resolved. I had a bad etcd member in the cluster and it prevented other member changes. I logged into a working node, performed a `etcdctl member remove` and deleted the faulty k8s node. This caused CAPI to spin up a new node and proceed properly.

Is there room for improvements related to it or should we close this case?

[2021-11-02 19:15] PushkarJ commented on #5490
+1 Agree that it would be fantastic to get this as a built-in feature in CAPI. CA hierarchy and CAPI cluster hierarchy also lends itself several benefits of simplicity in how we could manage the root of trust.

However, it might be helpful to understand what problem we are trying to solve (which might be well-known but is worth re-iterating) by sharing the current state and its drawbacks.

Is this

[2021-11-02 19:19] fabriziopandini commented on #5564
I think we should close the issue and eventually revive one of the effort described above (there are already issue or proposal for many of them)

[2021-11-02 19:22] fabriziopandini commented on #5552
I agree there is room of improvement on error messages.
just wondering if there is a way to break down the problems in smaller, more actionable chunks
/help

[2021-11-02 19:25] sbueringer opened #5569 "Install external hack/tools with a temporary go module"
We currently install all our hack/tool's via the hack/tools/go.mod go module. After a discussion in Slack (https://kubernetes.slack.com/archives/C8TSNPY4T/p1635440307207400) the consensus was that we want to install the tools via individual temporary go modules.

An example can be seen in CAPG: https://github.com/kubernetes-sigs/cluster-api-provider-gcp/blob/main/Makefile#L187-L188

Essentially, w

[2021-11-02 19:26] sbueringer commented on #5569
/area code-organization
/help

[2021-11-02 19:31] sbueringer opened #5570 "Consider using latest kustomize (v4.4.0)"
We're currently using kustomize 3.9.1. At least CAPA is already using kustomize v4.4.0 (==latest as of now) (https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/hack/tools/go.mod#L23).

I think it would be great to keep our kustomize dependency up-to-date if there are no reasons to stay on the old version.

If we want to change it, currently we only would have to change the versi

[2021-11-02 19:41] randomvariable commented on #5570
The only breaking change from v3 to v4 is that AWS and GCP dependencies were pulled out, which meant S3 and GCS support for URLs were dropped, neither of which we're using.

[2021-11-02 19:42] sbueringer opened #5571 "Support JSON log format"
**User Story**

As a user I would like to be able to run the CAPI controllers with JSON log format as it's easier to parse (e.g. could be easily parsed in Loki LogQL queries).

**Detailed Description**

We're already using structured logging in our code (on the logger with k/v pairs), but it's currently not possible to actually configure our controllers to log in JSON format.

**Anything else you

[2021-11-02 19:42] g-gaston commented on #4807
I opened #5555 and we closed it in favor of this one. Copy-pasting here the interesting bits

As I said in the original issue, I'm more than happy to take this if no one else has already or help whoever is currently working on it. I'm available to start working on it right away.

[2021-11-02 19:43] sbueringer commented on #5571
@randomvariable Can you maybe please add some additional context. It sounded like there is more history / related issues on this (https://github.com/kubernetes-sigs/cluster-api/pull/5336#issuecomment-953830336).

[2021-11-02 19:43] fabriziopandini commented on #5570
Putting in the milestone given that this is a developer tool
/milestone v1.1

[2021-11-02 19:46] sbueringer opened #5572 "Add Prometheus to tilt"
**User Story**

As a developer it would be great to have an option to deploy Prometheus via `tilt up` to play around with metrics/ alerts.

**Anything else you would like to add:**

There is a PR open to add Loki/Grafana/Promtail to tilt (https://github.com/kubernetes-sigs/cluster-api/pull/5336). This issue builds upon this work and adds Prometheus.

We have to:
* deploy Prometheus
* make sure Pro

[2021-11-02 19:58] fabriziopandini commented on #5572
Adding to milestone next given that this is not release to any specific milestone, but the sooner the better
/milestone Next

[2021-11-02 21:44] fabriziopandini opened #5574 "Makefile targets re-shuffle"
The CAPI Makefile is getting bigger, and we should consider if/how to make things easier to use for the new comers and for the existing maintainers as well.

A possible set of actions to make this happen using the current machinery in place is to:

- [ ] standardise targets names (e.g. some of them use kcp/cabpk/capd suffix, some other the full name of the same components)
- [ ] standardise target

[2021-11-02 21:46] fabriziopandini commented on #5574
/help

[2021-11-02 21:49] #5564 closed

[2021-11-02 22:49] mrajashree commented on #5574
@fabriziopandini I'd like to work on this

[2021-11-03 07:04] sbueringer commented on #5574
@mrajashree Feel free to assign yourself the issue :)

[2021-11-03 09:33] sbueringer commented on #3770
First round of analysis:

MachineSets:
* mgmt-prod-a.mdw1-lb-6cd65b55b8
    * adopt mgmt-prod-a.mdw1-lb-6cd65b55b8-6bx6s
    * adopt mgmt-prod-a.mdw1-lb-6cd65b55b8-7bwsc
    * adopt mgmt-prod-a.mdw1-lb-6cd65b55b8-7bwsc (second time)
    * adopt mgmt-prod-a.mdw1-lb-6cd65b55b8-6bx6s (second time)

* mgmt-prod-a.mdw1-node-5945dc5864
    * adopt mgmt-prod-a.mdw1-node-5945dc5864-4hfvn
    * adopt mgmt-

[2021-11-03 09:34] sbueringer commented on #3770
/assign

[2021-11-03 12:42] sbueringer opened #5576 "Upgrade to Controller Runtime v0.11.x"
It would be great if we can use the next controller-runtime release (v0.11.x) in one of our next CAPI releases.

**Anything else you would like to add:**

I know it's early to already open the issue, but I think it's good to already have it so we're able to collect post-CR-upgrade tasks and also discuss if we want to already upgrade in CAPI v1.1.

Notes:
* as of today there is no CR v0.11 release

[2021-11-03 13:24] sbueringer opened #5577 "ClusterClass builtin variables: labels & annotations semantic and use cases"
The current [ClusterClass proposal](https://github.com/kubernetes-sigs/cluster-api/blob/main/docs/proposals/202105256-cluster-class-and-managed-topologies.md#builtin-variables) includes the following builtin labels & annotations variables:
* `cluster.{labels,annotations}`
* `cluster.topology.controlPlane.{labels,annotations}`
* `cluster.topology.machineDeployment.current.{labels,annotations}`

###

[2021-11-03 13:24] sbueringer commented on #5577
/are topology

[2021-11-03 13:37] sbueringer opened #5578 "ClusterClass builtin variables: ClusterNetwork"
The current [ClusterClass proposal](https://github.com/kubernetes-sigs/cluster-api/blob/main/docs/proposals/202105256-cluster-class-and-managed-topologies.md#builtin-variables) does not include any builtin variables for `Cluster.spec.clusterNetwork`. This means it's not possible to access any of those fields in ClusterClass patches.

Let's collect use cases (if there are any) for those fields, so

[2021-11-03 14:07] sbueringer commented on #5566
@vuil Thx for this feature request. I think it makes a lot of sense.

I think on a high level we have to decide how magical/implicit it should be for the user (e.g. the one who creates the Cluster and not necessarily the ClusterClass).

A few options

### Option 1:  Automatically only apply patches which have all corresponding variables set

The problem with this option is that it is very implicit

[2021-11-03 15:34] vincepri commented on #5571
Let's make this an opt-in flag

/milestone v1.1

[2021-11-03 16:29] mrajashree commented on #5574
/assign @mrajashree

[2021-11-03 19:54] fabriziopandini commented on #5578
@vuil opinions?

[2021-11-03 20:27] vincepri commented on #5578
We might want to expose these (or parts) of these variables as builtins, although we should make sure the defaults are also taken into account

[2021-11-03 20:30] vincepri commented on #5576
/milestone v1.1
/kind release-blocking

[2021-11-03 22:10] vincepri commented on #5566
/milestone v1.1
/kind proposal

[2021-11-03 22:35] fabriziopandini commented on #5566
+1 for a proposal
putting on the table a third option. Adding initGates (name TBD) to our API.

[code]

This will allow to reuse the same variables used for patching, and eventually in a second phase to add support for using go templates for transforming non boolean values into bool, e.g `{{if .http_proxy != "" }} true {{else}} false {{end}}` (not 100% sure about the syntax, but this should give t

[2021-11-03 22:45] vuil commented on #5578
+1 what @vincepri said as well.

Taking a step back, and a wild thought:
If we do not want to keep having to make this kind of decision with every field we add,
Is it worth considering supporting something like jsonpath or golang template struct syntax to make, say, every primitive field accessible?

[2021-11-03 22:48] randomvariable commented on #5294
Have added as U14 and R14 respectively. Have also captured the comment from #4172 around payload size in U/R 13.

[2021-11-03 23:58] pydctw commented on #5552
/assign

[2021-11-04 03:02] pydctw commented on #5552
I am looking into this particular test case to follow @fabriziopandini's comment to break it down to a more actionable step.

Using the suggested `MatchFields` syntax will give a better error message but it will not print out the entire spec. For example, see the simple test case below.
[code]

will give an error message of
[code]

Will this work for you, @mdbooth?

[2021-11-04 06:44] sbueringer commented on #5552
I think in those situations we usually don't have a lot of context about what is actually broken in the current resource, which is essentially why we are gathering the logs of all controllers, all resources etc. when a test fails.

In my experience this can have a lot of different causes and can be usually debugged by going through the logs of several controllers (in this case and when using CAPD:

[2021-11-04 07:32] sbueringer commented on #5578
Default values should be handled automatically. The default values are set when the Cluster is created (and before it is stored in etcd). The builtin variables are calculated during reconcile, so they can just consume the fields.

I'm not sure about making every field accessible.

Context: We're currently using builtin variables to make selected fields of objects which are **not** influenced by pa

[2021-11-04 07:48] pydctw commented on #5552
Agree that test code using `MatchFields` is harder to read. At the same time, I also wanted to know what field is false when I see a test failure like
[code]
without looking up the controlplane_helpers.go source code. See [another test failure](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-aws/2871/pull-cluster-api-provider-aws-e2e/145595849483328

[2021-11-04 07:55] sbueringer commented on #5552
@pydctw Oh yeah agree, the output really is to minimal as it doesn't even contain the field (I missed that when writing my comment above)

[2021-11-04 09:28] mdbooth commented on #5552
Thanks for picking this up! Some thoughts:

The MatchFields output is *much* better, but I still think at a minimum it would need to identify the specific resource being matched, i.e. including the name. That's going to point me to the right place in artifacts and logs. I haven't seen the output of PrettyPrint, but assuming it dumps the entire object in a human readable format that sounds ideal in

[2021-11-04 09:35] sbueringer commented on #5552
PrettyPrint is essentially `json.MarshalIndent(v, "", "  ")`: https://github.com/kubernetes-sigs/cluster-api/blob/c55b5013fcb84841cc3705dfb250cdfd8b140447/test/framework/alltypes_helpers.go#L177

[2021-11-04 10:19] fabriziopandini commented on #5578
+1 to keep things simple unless there are concrete use cases

[2021-11-04 10:25] randomvariable commented on #5552
I think the MatchFields trade off is better, and I touching some Gomega stuff in another repository with a similar issue litterally yesterday and was thinking the something along these lines would be better. I think optimising for Framework consumers is is better at the slight cost of authors (sorry @sbueringer ! ).

[2021-11-04 10:55] sbueringer commented on #5552
@randomvariable No worries, I also spent significantly more time debugging e2e test then writing test framework code :)

[2021-11-04 11:22] #5563 closed

[2021-11-04 11:24] #5410 closed

[2021-11-04 11:46] #5445 closed

[2021-11-04 15:57] Arvinderpal commented on #493
PTAL at this google doc. We can us to iron out the details:
https://docs.google.com/document/d/17QA2E0GcbWNYb160qs8ArHOW0uMfL-NTYivefPGtn-c/edit?usp=sharing

[2021-11-04 16:18] enxebre commented on #493
Thanks @Arvinderpal, I added it to the roadmap https://github.com/kubernetes-sigs/cluster-api/discussions/5556.

[2021-11-04 19:13] jdef opened #5586 "Provide ability to customize the timeout for KCP when talking to a workload etcd cluster"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

https://github.com/kubernetes-sigs/cluster-api/blob/7e42829e0ccd15d0960ad52cf2a9616cb7c6a72d/controlplane/kubeadm/internal/etcd/etcd.go#L33

Tried to bootstrap a control plane in Singapore, from my local workstation in the US. Ping latency is about 250ms. KCP repeatedly fails to create a

[2021-11-04 19:13] jdef commented on #5586
cc @dims

[2021-11-04 19:25] neolit123 commented on #5586
do you have any logs to prove the problem?

this is the etcd client dial timeout and 2 seconds is also a default in kubeadm:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/etcd/etcd.go#L199

2 seconds should be sufficient, which is proven by your ICMP of 250ms to the host.

https://pkg.go.dev/github.com/coreos/etcd/clientv3

more than 2 seconds feels like this local mach

[2021-11-04 19:44] jdef commented on #5586
I have tcpdumps, aforementioned ping logs, and the "unable to create etcd client" message from KCP (after I updated the code to actually log this). I also have the empirical evidence of the problem going away after bumping this timeout. I can't share specific log files, etc. because of our company's OSS policy. But I'm happy to discuss further in this ticket.

No, not proven - sorry. It's not suff

[2021-11-04 20:00] timothysc commented on #5586
I think it would be possible to have local env/cli-flag override for this.  I can understand the user story, but it's definitely an exception.

@jdef can you use a cloud region jump box in the interim?

[2021-11-04 20:03] varshavaradarajan opened #5587 "clusterctl restore does not set tenants correctly"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
Took a backup of a workload cluster namespace on the management cluster with:
[code]
The backup directory had all the custom resources that I needed to backup.

Deleted the cluster object and the test-cpc namespace:
[code]

Tried to restore the cpc from the backup directory with:
[code]

*

[2021-11-04 20:04] fabriziopandini commented on #5586
FYI There is prior art for the kubeadm token TTL that can be set via a flag
https://github.com/kubernetes-sigs/cluster-api/blob/7e42829e0ccd15d0960ad52cf2a9616cb7c6a72d/bootstrap/kubeadm/main.go#L207

[2021-11-04 20:06] jdef commented on #5586
Nope, we're in the process of building out some VM infrastructure, but that's some O(weeks) away. And metal is scarce in our colo's right now. Easiest/fastest is to fork for now. And sync up w/ upstream once there's an option there to override this timeout.

[2021-11-04 20:26] timothysc commented on #5586
@jdef - I meant can you vpn in from say some APAC AWS region machine?  Or are your networks sealed?

[2021-11-04 20:54] jdef commented on #5586
Ack. Networks are mostly air-gapped, our container images are all sourced from a private registry/repo. And I'm not on the AWS or GCP access lists yet :(  I expect that we'll be tackling related, cloudy things sometime in Q1/Q2 next year. Maybe then, problems like this will go away on their own.

[2021-11-04 20:56] fabriziopandini commented on #5587
/milestone v1.1

[2021-11-04 21:20] fabriziopandini commented on #5586
/milestone v1.1
depending on the implementation, also candidate for cherry pick

[2021-11-04 21:34] vincepri commented on #5586
/priority important-soon
/area control-plane

[2021-11-04 21:34] vincepri commented on #5586
/retitle Provide ability to customize the timeout for KCP when talking to a workload etcd cluster

[2021-11-04 21:38] neolit123 commented on #5586
kubeadm's etcd client also uses this 2s dial timeout to connect to remote etcd clusters.
but if there is high-latency in this scenario the apiserver will have a tough time accessing its storage backend.

for your remote management use-case configurable timeouts make sense.

[2021-11-05 01:54] pydctw commented on #5552
Thanks everyone for the feedback. I will work on a PR.

[2021-11-05 08:53] sbueringer commented on #2955
@detiber @fabriziopandini I think we could fix Jason's concrete issue by adding an eventually around: https://github.com/kubernetes-sigs/cluster-api/blob/cdf2905db3c60cbc3fa6bd3b8d92877f64b3b164/test/framework/cluster_proxy.go#L170-L171

I'm not sure if we still want to do the overall refactoring as those would be breaking changes across the board.

I think a refactoring of the entire test framewo

[2021-11-05 09:22] fabriziopandini commented on #2955
When I originally played around this problem I was thinking to move current implementation in framework/v1 and then add framework/v2 returning errors, but I agree this is a lot of work (even if kind of mechanical)
However, if adding some small changes helps, I'm not opposed to it.

[2021-11-05 11:29] killianmuldoon opened #5594 "Move Cluster and Clusterclass validation checks to the top-level webhooks package"
Since #5266 and #5518 we are using webhooks defined in the /webhook package for Cluster and ClusterClass. The implementation of the validation logic is still contained in the api package, however and are currently being called through  deprecated public methods in the api package.

This structure makes it difficult to add new checks to the webhooks as in #5585. [Note this discussion](https://githu

[2021-11-05 11:40] enxebre commented on #5594
@killianmuldoon you meaning to duplicate them until we drop the old methods?

[2021-11-05 11:41] fabriziopandini commented on #5455
@shivanshu1333 @vibhorrawat @kaitoii11 is there anything I can do to keep this effort moving?

[2021-11-05 11:53] enxebre commented on #5537
Related https://github.com/kubernetes-sigs/cluster-api/pull/5582/files#r743598315

[2021-11-05 12:04] killianmuldoon commented on #5594
Yeah - I'll duplicate everything in the webhooks package.

[2021-11-05 12:04] killianmuldoon commented on #5594
/assign

[2021-11-05 12:44] enxebre commented on #5594
no objections here, though what's the benefit vs keeping existing api.Validate call and having additional nil checks if needed? - I guess that might not scale well.
/milestone 1.1

[2021-11-05 13:26] randomvariable commented on #493
Thanks @Arvinderpal . I mostly assigned it to myself to do the exact write up you already have done! I'll take my name off for now to make it clear I'm not actively working on it.

/unassign

[2021-11-05 13:28] randomvariable commented on #493
@PushkarJ could you look at the related doc and comment on the security side?

[2021-11-05 13:39] killianmuldoon commented on #5594
@enxebre One of the main issues is with properly aggregating errors as we add new checks in the webhooks package - https://github.com/kubernetes-sigs/cluster-api/pull/5585#discussion_r743082805 so it's a question of hacking around that temporarily while waiting for 1.1 or else just inlining the function calls in the new package now.

[2021-11-05 14:15] randomvariable commented on #2826
/unassign

[2021-11-05 14:19] randomvariable commented on #3279
The new labels were only applied in v1.20 onwards and v1.19 is still on the support matrix for mgmt clusters. In this case, for now, we should _add_ the additional toleration, as per https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/config/manager/manager.yaml#L40-L44

[2021-11-05 14:20] randomvariable commented on #3279
/help
/good-first-issue

[2021-11-05 14:20] randomvariable commented on #3279
/unassign @sbueringer

[2021-11-05 14:23] randomvariable commented on #5490
I don't think there's anything more to add from a provider specific PoV. At least if we consider the possibility of leveraging cert-manager for generation, then we can defer provider specific implementations to it.

[2021-11-05 14:27] randomvariable commented on #5435
/area controlplane

[2021-11-05 14:27] randomvariable commented on #5435
/area control-plane

[2021-11-05 14:28] randomvariable commented on #5435
On this specific issue, I think the options are:

a) Roll over KCP machines when a certain age is reached.
or
b) Open a proxy connection via the API server load balancer (i.e. the normal controlplane endpoint) to the API server port on the node, verify the time of the certificate, and make a decision on machine replacement based off of that.

[2021-11-05 14:29] randomvariable commented on #5435
We may want to revisit the milestone for this one @vincepri  @fabriziopandini .  I think it's more self-contained than #5490

[2021-11-05 14:33] randomvariable commented on #5586
I think this is reasonable. However, in the Telco space, we may want per cluster flexibility where cell sites have the higher timeout (where there's demand to be able to spin up single node clusters) but clusters within the core network use the default.

[2021-11-05 14:35] randomvariable commented on #5435
/unassign
/unassign @fabriziopandini
/help

[2021-11-05 14:37] randomvariable commented on #4446
/retitle Complete Cluster API external security audit

[2021-11-05 14:40] randomvariable commented on #3782
Reading through this again, I wonder if this is a use case for #5175

[2021-11-05 14:42] randomvariable commented on #3782
I think i'll take my name off this for now, as I'll be reviewing the area labels on a frequent basis.

/unassign

[2021-11-05 14:43] randomvariable commented on #5294
Another use case in #3782

[2021-11-05 14:47] jdef commented on #5586
FWIW, in our fork we went w/ using the default of 2s unless there's an envvar defined to override.

[2021-11-05 14:51] randomvariable commented on #5586
I think if we make it considerable per cluster, we'd need a -max-ttl flag to prevent misuse.

[2021-11-05 14:54] fabriziopandini commented on #5435
/milestone v1.1
I agree this is a self-contained part of #5490, even if it will greatly benefit if we can get at least an high level feature of the end state before starting to execute, so we can ensure that all the efforts fit into a consistent story

[2021-11-05 14:54] randomvariable opened #5597 "Deprecate experimentalRetryJoin in CABPK"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

We've talked about it for ages, and have forgotten to do it for multiple releases, but we really should have deprecated experimentalRetryJoin in CABPK as it was a stopgap whilst waiting for features in kubeadm.

We should review the support matrix, determine if we still need it, and start

[2021-11-05 14:54] randomvariable commented on #5597
/kind cleanup

[2021-11-05 14:54] randomvariable commented on #5564
Have filed https://github.com/kubernetes-sigs/cluster-api/issues/5597

[2021-11-05 15:23] enxebre commented on #5594
/area topology

[2021-11-05 15:26] vincepri commented on #5122
/milestone v1.1

[2021-11-05 15:26] vincepri commented on #5122
/assign @fabriziopandini

[2021-11-05 15:28] vincepri opened #5598 "Consider using fastjson when manipulating json bytes"
This library https://github.com/valyala/fastjson seems interesting when it comes to manipulating json objects, which operates only on bytes. We're performing json manipulation in a number of places, we should try to switch the topology's code first.

/kind cleanup
/assign @fabriziopandini

[2021-11-05 15:29] vincepri commented on #5598
/milestone v1.1

[2021-11-05 16:58] sbueringer commented on #5122
Somewhat related issue for usage of json-iterator in jsonpatch: https://github.com/evanphx/json-patch/issues/151

[2021-11-05 17:04] sbueringer commented on #5435
@randomvariable Does b) then cover all relevant certificates? Or doe that not matter as they all have the same expiry?

[2021-11-05 17:05] fabriziopandini commented on #3732
/close
This code cleanup provides a real advantage only if we are setting the same condition/reason in many places, and this is not  what happen in the most of the cases.

[2021-11-05 17:06] #3732 closed

[2021-11-05 17:10] sbueringer commented on #5455
@fabriziopandini @killianmuldoon WDYT should we follow a similar pattern for the new webhooks package? Would be relatively easy to change right now.

[2021-11-05 17:59] killianmuldoon commented on #5455
+1 for this where it makes sense. Even if there's nothing we're really exposing right now - I don't think there's much apart from the structs - it's good to have the pattern in place.

[2021-11-05 18:28] killianmuldoon opened #5599 "Move webhook implementation to webhooks/internal"
As with #https://github.com/kubernetes-sigs/cluster-api/issues/5455 functions and types that are being placed in the new top level webhooks package should be made internal by default.

c/f #5594

[2021-11-05 18:42] killianmuldoon commented on #5597
/assign

[2021-11-06 17:18] #4763 closed

[2021-11-07 06:22] #4209 closed

[2021-11-07 17:42] klxfeiyang commented on #5502
/lifecycle active

[2021-11-07 21:21] invidian commented on #3430
/remove-lifecycle stale

[2021-11-08 09:11] sbueringer commented on #5599
/area topology
/kind cleanup

[2021-11-08 10:28] vibhorrawat commented on #5455
@fabriziopandini Hey, I will publish the PR during this week. Question about how do I test it locally? Kindly suggest. Thank you.

[2021-11-08 11:11] fabriziopandini commented on #5455
you can integration and unit tests with `make test`, and then if you want you can also run E2E test locally. more info in https://cluster-api.sigs.k8s.io/developer/testing.html

[2021-11-08 11:52] itspngu opened #5606 "CAPI-managed CoreDNS deployment prevents cluster-autoscaler scale-down"
**What steps did you take and what happened:**

Set up workload cluster, installed metrics-server, set up cluster-autoscaler with cluster-api provider as per docs.

Ran some tests for scaling up and down by adding a Deployment with an arbitrary number of replicas, everything went fine.
Currently, the `spec.replicas` field of the `coredns` deployment is set to 2 - I have a hunch this might be relat

[2021-11-08 12:58] killianmuldoon commented on #5606
This can happen for sure - just replicated on a test cluster. This issue might be better for cluster autoscaler though? I'm not sure what the approach would be from the Cluster API end for this problem.

[2021-11-08 13:20] itspngu commented on #5606
I'm not involved or even particularly familiar with either project, but given how elaborate the ruleset cluster-autoscaler operates on is, they surely a) have a reason for implementing the particular condition producing the reported behaviour, b) removing or otherwise altering it might be a breaking change, whereas solving this on the KCP side could be done in a number of ways and - based on my li

[2021-11-08 13:31] randomvariable commented on #3430
/lifecycle active

[2021-11-08 13:44] killianmuldoon commented on #5606
I don't think this can/should be done in KCP as it adds an odd dependency on the functioning of the autoscaler.

Similarly running coredns as a daemonset doesn't seem to make sense as it would end up running on each node on the cluster, way over-provisioning unless there's additional logic. And this invisibly adds behaviour that depends on autoscaler implementation logic.

You can already skip ins

[2021-11-08 14:09] itspngu commented on #5606
That'll do, I didn't dig too deep so I thought the way CoreDNS is set up is specific to cluster-api.

I couldn't think of anything that'd allow me to do that in an automation-friendly manner without it being an awful hack, so I decided to open this issue. I'll check out the kubeadm phase skipping mechanism and how to deploy CoreDNS instead and (hopefully) report back with a solution to this proble