[2022-03-11 19:15] fabriziopandini commented on #6297
We already discussed a couple of similar issues in the past with the CAPI community(e.g. https://github.com/kubernetes-sigs/cluster-api/issues/3309, https://github.com/kubernetes-sigs/cluster-api/issues/3309) the conclusion was to not do this.

Instead, we invested a lot in the E2E test framework, we improved out test guidelines and our review process to take the test into account, and we decided

[2022-03-11 20:00] pydctw commented on #6297
I am also personally -1 to add code coverage badge. I've seen many codebases with very high code coverage but poorly written tests. We need to strive for writing good tests to cover important use cases but code coverage percentage doesn't mean much imo.

[2022-03-11 21:04] thedadams opened #6299 "Scaling down a MachineDeployment with Machines with the same delete priority may result in too many machines being deleted"
**What steps did you take and what happened:**
- Deploy a cluster and set the DeletePolicy for all MachineDeployments to `Oldest` or `Newest`.
- Scale any MachineDeployment up by >= 2.
- As new machines are provisioning, scale down the MachineDeployment by 1.
Since all of the currently provisioning machines have the same delete priority as any machine with a non-zero deletion timestamp, this can r

[2022-03-11 21:19] thedadams commented on #6299
/assign thedadams

[2022-03-11 21:25] Ankitasw commented on #6297
Thanks for the feedback everyone. If it's already discussed(which I missed) then let's close this discussion to avoid confusion.

[2022-03-12 05:01] Ankitasw commented on #6297
/close

[2022-03-12 05:01] #6297 closed

[2022-03-12 12:33] debankur1 commented on #6293
as an alternative can we directly use the kueadm cli to do the cluster creation?

[2022-03-12 17:02] shivi28 commented on #6281
Thanks everyone! Sure we can drop this, if there is any further point someone want's to add then please feel free to open this issue, till then I am closing this one.
Thanks again @fabriziopandini

[2022-03-12 17:02] #6281 closed

[2022-03-12 23:27] sayantani11 commented on #6016
@killianmuldoon Sorry was caught up, I will open a WIP PR asap!

[2022-03-14 08:48] valaparthvi commented on #3661
Hi, I would like to take it up if it's alright.

[2022-03-14 08:50] richardcase commented on #3661
Feel free to assign yourself @valaparthvi and thanks for wanting to work on this :tada:

I created this issue because of what we do in CAPA, so if i can help in any way feel free to ping me here or in the community clack.

[2022-03-14 08:52] valaparthvi commented on #6143
I'd like to give the good first issue tasks a shot, if that's alright.

[2022-03-14 08:57] valaparthvi commented on #3661
Awesome! Thanks, @richardcase :rocket:

/assign valaparthvi

[2022-03-14 09:05] valaparthvi commented on #3661
/lifecycle active

[2022-03-14 19:15] cmengtin commented on #2450
Same error, but end up finding that I don't run this command under the cluster-api repository. Got what I want after I run this command under that repository.

[2022-03-15 09:53] sbueringer commented on #6293
I'm not sure if I understand the question. You can of course use kubeadm instead of ClusterAPI if you want to.

You can also create a cluster once with CAPI and then manually manage your cluster e.g. with kubeadm going forwards. Although If CAPI is still actively managing the cluster at this point I'm not sure what will happen (maybe it tries to rollback your manually upgraded cluster)

[2022-03-15 09:56] sbueringer commented on #6143
Yup sure. Please ignore the 4th task in the list above for now.

[2022-03-15 10:34] enxebre commented on #6293
@debankur1 as Stefan mentioned nothing prevents you from taking over and get into the cluster lifecycle and implement your in-place upgrade process after creation though your actions would be competing with capi desired state and so behaviour would be unexpected.
Kubeadm bootstrap/control-plane is a plugable component part of our reference implementation where we assume the control plane to be 1/3

[2022-03-15 11:48] enxebre commented on #6285
You can use `.NodeDrainTimeout` to bypass draining after a timeout, the machine controller will proceed to delete the Node even though it has volumes attached. That would have the pertinent implications in each particular platform.

As for what cluster autoscaler does, we could consider doing something similar i.e taint deleting Nodes and evict DS pods manually. I'd question how strong is the use

[2022-03-15 12:36] valaparthvi commented on #6143
I have currently picked up #3661, so won't be assigning this to myself at the moment. But, thanks for the heads-up.

[2022-03-15 13:11] maelk commented on #6285
We have the node drain timeout, but CAPI is still blocking on the volumes even after the timeout has expired. Maybe that could be modified so that we don't wait for the volumes to be detached after the timeout has expired ?

Regarding the use-case, we don't have much info. It is a customer using those and they did not give us any specific information.

Extending the timeout to the volumes would be

[2022-03-15 13:36] sbueringer commented on #6279
Hm, thinking about it some more. I can think of a use case where you want to set some data as label/annotation and then don't want to duplicate it to a variable, e.g. label `stage: production`.

I think for this use case we could add the following variables:
* `builtin.cluster.labels` type `map[string]string`
* `builtin.cluster.annotations` type `map[string]string`

Please note that labels with sp

[2022-03-15 14:20] fabriziopandini commented on #6279
I agree we should limit this to Cluster lables/annotations given that for CP and MD there are different sets of labels (the ones in the resource itself and the ones on the controlled machines), and this can make the UX complex

[2022-03-15 15:51] debankur1 commented on #6293
@sbueringer thanks for the suggestion , actually I don't want to use CAPI at all , want to manage the cluster lifecycle  with kubeadm only

[2022-03-15 15:54] debankur1 commented on #6293
So if I don't use Cluster API for this kind of scenario (Single Node Cluster), and only use kubeadm to manage the cluster, i believe then will no problem ?

[2022-03-15 16:16] cmengtin commented on #2450
Maybe it's not the reason. Have this problem again under the cluster-api repository when I run `clusterctl init --infrastructure aws` after I run `clusterctl delete --infrastructure aws`. And it works after I wait for a while. Don't know why.

[2022-03-15 16:19] sbueringer commented on #6293
You won't have a ClusterAPI-specific problem at least.

How to manage single node clusters with kubeadm without CAPI is probably out-of-scope of this repository.

I would advice to refer to the kubeadm documentation for that.

[2022-03-16 00:31] dtzar opened #6303 "Improve health check for managed cluster"
**User Story**

As a user or operator I would like to ensure that after I initialize my managed cluster that it is healthy before I deploy workload cluster(s) so that I don't waste time debugging why my workload cluster(s) is stuck not being provisioned.

**Describe the challenges**
After "successfully" completing `clusterctl init --infrastructure *` I'm personally finding there are various scenar

[2022-03-16 09:41] fabriziopandini commented on #6303
/milestone v1.2
/remove-kind feature
/kind support
/priority awaiting-more-evidence

clusterctl allows to wait for providers to be running using the `--wait-providers` flag
as of today, it executes very basic checks that we can eventually improve, but before going down this path it will be interesting to root cause the problem.

Looking at the info attached it seem there is an underlying problem i

[2022-03-16 09:46] fabriziopandini commented on #6293
/close
given that the solution seems out of scope for CAPI

[2022-03-16 09:46] #6293 closed

[2022-03-16 14:23] furkatgofurov7 opened #6304 "Make MachineDeployments version agnostic"
**User Story**

As an operator, I would like to have a  version agnostic machinedeployment  so that whenever there is an upgrade it would not cause a rollout upgrade on existing worker nodes and keep them as is.

**Detailed Description**
We have a cluster with an N number of workers. If we want to scale out and do an upgrade (changing replicas and desired k8s version in MD), with the current behav

[2022-03-16 14:26] furkatgofurov7 commented on #6304
/kind feature

[2022-03-16 14:28] furkatgofurov7 commented on #6304
/cc @fabriziopandini @sbueringer @enxebre @vincepri

[2022-03-16 14:41] vincepri commented on #6304
@furkatgofurov7 This sound like in line with in place upgrade that we've talked about in the past. The biggest challenge to achieve what's described above is how Cluster API operates on the node itself without the use of SSH, but rather using an authenticated and authorized agent of some sorts.

The above suggestion of ignoring the version field is a major rewrite of the current logic which uses a

[2022-03-16 15:04] valaparthvi commented on #3661
Hey @richardcase just an FYI that I am working on this issue, but since I am a complete noob to clusterapi-lifecycle and AWS, this might take some time.

[2022-03-16 16:15] enxebre commented on #6304
@furkatgofurov7 I definitely agree recreation rolling upgrades are not suitable for all scenarios, particularly true in bare metal environments.

Some context and possibilities available to enable this today:

You can pretty much achieve the above by renouncing to some of the MachineDeployment opinionated automation and consuming MachineSets directly to have less automation and more control and se

[2022-03-16 16:38] sbueringer opened #6305 "CAPI should not use ObjectMeta.ClusterName"
There is an upstream discussion about dropping ObjectMeta.ClusterName: https://github.com/kubernetes/kubernetes/pull/108717

This field is not populated by Kubernetes and we should not use it as an CAPI Cluster Name.

This issue is about doing some research where we use it in core CAPI.

Providers are likely affected too: https://kubernetes.slack.com/archives/C8TSNPY4T/p1647448390328219

PR to fix

[2022-03-16 16:53] sbueringer commented on #6305
Exactly. We usually have spec.clusterName in all our CRDs and any usage was accidental.

As far as I can see we have only very very few usages and we have to fix them.
(I added some more details in the Slack thread for some other CAPI providers)

This should not in any way block the removal of the field from ObjectMeta.

[2022-03-16 17:48] neolit123 commented on #6305
i was not aware that CAPI decided to use this legacy field.
probably happened in the early stages...

[2022-03-16 17:53] sbueringer commented on #6305
I don't think that was an explicit decision. We just missed a few times that we have to write `.Spec.ClusterName` and `.ClusterName` is from metadata because ObjectMeta is inlined.

[2022-03-16 19:45] fabriziopandini commented on #6247
Adding some note on CABPK changes

A new `PasswdFrom` field should be added to https://github.com/kubernetes-sigs/cluster-api/blob/8941f168e9b45c0d94267cd957eaa3d1bba36a97/bootstrap/kubeadm/api/v1beta1/kubeadmconfig_types.go#L280-L282

The type of this field should be named `PasswdSource` and mirror what we have for `FileSource`.

Once the new file is added and API conversion implemented in order

[2022-03-16 23:51] dtzar commented on #6303
@fabriziopandini - that's good to know about the `--wait-providers` flag, but I'm not sure that really would solve this issue.
I solved the problem myself by switching from a freshly installed copy of Rancher Desktop for Windows with K8s via K3s and ContainerD on 1.23.3 (it said install was fully healthy, but I **think** they might not have things working well with volume mount integration) and us

[2022-03-17 08:07] #6305 closed

[2022-03-17 08:55] enxebre commented on #6285
@maelk By looking a the code I'd be surprised if that's the case, can you validate/confirm share logs?
https://github.com/kubernetes-sigs/cluster-api/blob/main/internal/controllers/machine/machine_controller.go#L309-L353

[2022-03-17 11:29] richardcase commented on #3661
There is no rush @valaparthvi .....take as long as needed. And feel free to reach out for help here on the issue or also in slack.

[2022-03-17 12:10] tobiasgiese commented on #1477
We created a first draft of the [Cluster API State Metrics proposal](https://docs.google.com/document/d/1vY19lIfUYi68NkPuvnlcfxVUp2LiX2VfQVhsBzES7rE/edit#heading=h.yc2iex31m4zj)
Thanks @schloc and @johannesfrey 🙂🎉

[2022-03-17 13:15] sbueringer commented on #6278
I discussed it with Fabrizio and Vince and we would propose the following:

Let's introduce `NodeDrainTimeout` and `NodeDeletionTimeout` fields for ControlPlane and MachineDeployments in Cluster.spec.topology.

Some more details on how to implement it:

* Add optional `NodeDrainTimeout *metav1.Duration` and `NodeDeletionTimeout *metav1.Duration` fields to `ControlPlaneTopology` and `MachineDeploym

[2022-03-17 19:20] sbueringer commented on #6247
@fabriziopandini Q: Follow-up similar kind of validation like we have for Content & ContentFrom? (e.g. that they shouldn't be set at the same time)

[2022-03-17 21:57] Jont828 commented on #6249
Hey @killianmuldoon I'd be happy to help out with any of the webhooks. Are there any ones in particular you think would be easier to start with?

[2022-03-17 23:31] CecileRobertMichon commented on #6040
I was doing some cleanup of AzureManagedControlPlane code and noticed we're doing this validation in the CAPZ controllers (because AKS actually enforces it), which seems like it's not the right place for it:

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/azure/scope/managedcontrolplane.go#L556-L561

Whatever solution is adopted for Machines, we should also carry over to M

[2022-03-18 12:47] killianmuldoon commented on #6249
Thanks @Jont828  I think Machine or MachineSet are both pretty straightforward if you'd like to take one of them on.

[2022-03-18 15:17] #6006 closed

[2022-03-18 15:23] sbueringer commented on #6006
@sedefsavas fix has been merged on main. thx @ykakarap

Should this fix be cherry-picked to v1.1?

(cc @fabriziopandini )

[2022-03-18 23:25] Jont828 commented on #6249
Sounds good, I'll take a look at Machines to start. To clarify, do we want to include CAPD Machines in this change, and also is #6129 a good example to follow?

[2022-03-19 13:06] LucaLanziani opened #6316 "generate provider command should not substitute variables when --describe is used"
**What steps did you take and what happened:**

Running the below command I got an error about variable substitution:

[code]

**What did you expect to happen:**

Following the clusterctl [documentation](https://cluster-api.sigs.k8s.io/clusterctl/commands/init.html?highlight=--describe#how-can-i-known-which-variables-a-provider-requires) it looks like the command should skip the substitution and o

[2022-03-19 18:20] LucaLanziani commented on #6316
I was reading the code and I might be wrong but the issue might be [here](https://github.com/kubernetes-sigs/cluster-api/blob/main/cmd/clusterctl/cmd/generate_provider.go#L107)

Shouldn't this be something like `raw or textOutput`?

[2022-03-20 09:19] #5963 closed

[2022-03-20 17:51] #5258 closed

[2022-03-21 10:58] fabriziopandini commented on #6316
@ykakarap PTAL
/milestone v1.2
/area clusterctl

[2022-03-21 12:59] sbueringer opened #6319 "RFE: ClusterClass external patches"
Currently, ClusterClass allows customization of clusters only with inline patches. Goal of this issue is to propose  RuntimeHooks which enable users to implement RuntimeExtensions which generate patches externally.

This is a follow-up to the ClusterClass proposal:

This has been discussed a few times in the past in the context of ClusterClass and during the implementation of inline patches. We al

[2022-03-21 13:55] matlemb opened #6320 "capi-controller-manager continously patches AWSCluster object when using ClusterClass"
**What steps did you take and what happened:**
When launching an kubernetes cluster on AWS with Cluster API and consuming existing AWS Infrastructure (existing VPC and subnets) via ClusterClass, capi-controller-manager continously patches the AWSCluster object to the state of AWSClusterTemplate object.

AWSCluster object does get additional information via AWS API calls through capa-controller-man

[2022-03-21 15:03] RobinDeBock opened #6321 "CAPI: subcluster stops working after making it the new management cluster with clusterctl move"
**What steps did you take and what happened:**
Following the steps described on https://cluster-api.sigs.k8s.io/clusterctl/commands/move.html:
Part 1:
- Create an initial (/bootstrap) cluster with Kind
- Install the provider components (Docker) into this bootstrap cluster
- Provision a new 'master' management cluster using CAPI
- Get this 'master' management cluster up and running correctly (also

[2022-03-21 15:58] fabriziopandini commented on #6320
/milestone v1.2
+ eventually backport

The topology reconciler has been specifically designed to not manage only fields that are explicitly defined in templates and some internals of this are described in https://cluster-api.sigs.k8s.io/tasks/experimental-features/cluster-class/change-clusterclass.html#reference
However, what is happening here is that the two controllers are "fighting" on fields o

[2022-03-21 16:17] matlemb commented on #6320
Thanks for your fast feedback! Here is the full output of the AWSCluster objects.

## AWSCluster object when not modified by capa (desired state of capi):

[code]
## AWSCluster object when modified by capa (undesired state of capi):

[code]

[2022-03-21 17:03] furkatgofurov7 commented on #6304
@vincepri @enxebre thanks for sharing your thoughts folks

Hmm, most probably I am missing on these and would really appreciate it if you could share where these discussions happened.

@enxebre thanks for the ideas, however, this would require pretty much user intervention and can lead to broken clusters when there is not enough care put into this workflow, since it is not supported by CAPI or tes

[2022-03-21 17:34] matlemb commented on #6320
@fabriziopandini Thank you too. We already tested your workaround successfully.

[2022-03-21 17:35] sbueringer commented on #6321
In general this should work as we have an e2e test for this (self-hosted, )

What did you do to create new resources after the move? I assume e.g. scale up the MachineDeployment? Do you see any errors in the capi/capd/... controllers of the management cluster?

[2022-03-22 09:42] Charlie17Li opened #6324 "When I Create many clusters, I found some clusters still were Provisioning"
**What steps did you take and what happened:**

I use kind to create clusters, I already create 3 clusters with the [quickstart](https://cluster-api.sigs.k8s.io/user/quick-start.html), but I create the 4th cluster, is still at Provisioning Phase
![image](https://user-images.githubusercontent.com/32014420/159451197-99268323-cdb9-4dac-a1b7-ed343c976ae5.png)

**What did you expect to happen:**
the 4t

[2022-03-22 09:47] killianmuldoon commented on #6324
Is it possible there's some resource exhaustion here? Can you check if there's enough free memory to run this many docker clusters?

 It would be good to get the logs of the capd controller and the capi controller to get a sense of what's going on if there's no resource issues.

[2022-03-22 10:31] Charlie17Li commented on #6324
Current state of resource

![image](https://user-images.githubusercontent.com/32014420/159459487-2775241b-10da-445e-972a-34dda05b213c.png)

the logs of capd-controller-manager
[code]

[2022-03-22 10:32] Charlie17Li commented on #6324
the log of capi controller
[code]

the state of  palnet-cluster-03
![image](https://user-images.githubusercontent.com/32014420/159461878-2280064b-7bff-4f94-9aed-2afa4f2cf2fe.png)

![image](https://user-images.githubusercontent.com/32014420/159462042-531a8f54-41a3-49e7-90f4-977c18a06d75.png)

[2022-03-22 10:46] killianmuldoon commented on #6324
I think the culprit is in your capd logs - `Failed to create inotify object: Too many open files` Can you run sysctl -a -r inotify to see what your limits are? You update those limits using e.g.  `systctl -w user.max_inotify_watches=1048576` The limit that's being hit is usually either `fs.inotify.max_user_instances` or `fs.inotify.max_user_watches`

[2022-03-22 10:55] Charlie17Li commented on #6324
I have executed  the following command  before , according to the 「Kind」[isssue](https://github.com/kubernetes-sigs/kind/issues/904)
[code]

[2022-03-22 11:02] killianmuldoon commented on #6324
Try increasing the limits again - particularly `fs.inotify.max_user_instances`. On my machine I have:
[code]

[2022-03-22 11:17] Charlie17Li commented on #6324
OK, the current state is:
[code]

and the log of capd controller:
[code]

[2022-03-22 11:26] Charlie17Li commented on #6324
And I create a new cluster(planet-cluster-05) is Provisioned !(Amazing)

[code]

[2022-03-22 11:26] killianmuldoon commented on #6324
The first one is a typo from me :slightly_smiling_face:  should be `sysctl -w user.max_inotify_watches=1048576`

`fs.inotify.* ` should be good enough - I think that's the relevant value here. Can you try to delete and recreate the new cluster with these settings? I'm not sure how long it will take to try to fully reconcile the failing Cluster, but probably a while.

Also - just so I'm fully clear

[2022-03-22 11:30] Charlie17Li commented on #6324
Ok, I already create a new cluster

exactly

[2022-03-22 11:42] killianmuldoon commented on #6324
Awesome - I'm going to add a note to the troubleshooting guide of our book - https://github.com/kubernetes-sigs/cluster-api/pull/6325 -  it would be great if you could review to ensure it captures your problem.

[2022-03-22 12:14] Charlie17Li commented on #6324
my pleasure

[2022-03-22 12:18] killianmuldoon commented on #6324
I think the issues with Cluster 03 and Cluster 04 should be resolved if you delete the machines where bootstrapping failed.

[2022-03-22 12:44] Charlie17Li commented on #6324
I think I can close the Issue 😊

[2022-03-22 12:44] #6324 closed

[2022-03-22 13:00] RobinDeBock commented on #6321
Hey @sbueringer thanks for your reply.
Could you offer more information on exactly what logs you'd like and where I can find them?

I'm going to replicate the e2e test environment and check if the error reoccurs.

[2022-03-22 17:27] fabriziopandini commented on #6321
You have to look for the deployment in the CAPD system, check the underlying logs and get the logs from it
This should be some problem in mounting the docker socket, because this is the only reason an existing cluster can't reconcile the load balancer...  are you using docker installed from snap?

[2022-03-22 17:30] fabriziopandini commented on #6321
/milestone v1.2

[2022-03-22 18:46] yastij commented on #6320
@fabriziopandini - so far, what we have this in CAPA, but we're likely to face this in CAPZ see:
https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/348ef60877d795b0a579a89adb1f3b40b2050781/azure/scope/cluster.go#L755-L786

for vSphere it shouldn't have an issue, will be double checking for other providers in the ecosystem tomorrow

[2022-03-22 18:49] sbueringer commented on #6320
I think CAPZ should be fine. Either we set something in that array or not.

We only have a problem if two controllers have opinions about parts of an array at the same time. If I interpret this CAPZ code correctly either we set the security rules or CAPZ defaults them (once)

[2022-03-22 19:08] yastij commented on #6320
sorry removed my comment as it wasn't finished yet, was mainly taking notes of potential slices, just finished it seems like CAPZ is okay, same for CAPV. will take a look at other providers tomorrow

[2022-03-22 19:44] fabriziopandini commented on #6285
/milestone v1.2

[2022-03-22 19:45] fabriziopandini commented on #6277
/milestone v1.2

[2022-03-22 19:45] fabriziopandini commented on #6267
/milestone v1.2

[2022-03-23 10:41] RobinDeBock commented on #6321
A system update seems to have fixed the problem. Unfortunately the problem was fixed before I could gather more data.

In short: `sudo apt-get update && sudo apt-get upgrade` fixed the problem. Updating the packages through Ubuntu Software Updater (my past go-to didn't have any influence).

These are the version numbers of my environment after the update (and working setup):

- Cluster-api version

[2022-03-23 19:03] detiber opened #6327 "[e2e framework] node-drain timeout test can fail because of dockerhub pull limits"
**User Story**

As a provider implementation developer, I would like to be able to run the e2e tests without worrying about potentially hitting dockerhub pull limits.

**Detailed Description**

Currently when running the `NodeDrainTimeoutSpec` e2e test, if running on a host that has exceeded unauthenticated dockerhub pull limits, the test will fail. This can be somewhat common when re-using IPs in

[2022-03-23 19:05] detiber commented on #6327
/assign

[2022-03-23 20:15] PushkarJ opened #6329 "Security Self-Assessment: [STRIDE-MULTIPLE] Secure Cluster Class for Cluster API (MVP)"
# Secure Cluster Class for Cluster API

Create a secure cluster class, that allows end users to spin "secure by default" clusters with sane defaults which are configurable.

## Motivation

1. Creates a single place to add other security features
1. It mitigates some threats from [CAPI Security assessment](https://github.com/kubernetes/sig-security/pull/40)
1. It helps with compliance guidelines li

[2022-03-23 20:43] Ab-hishek commented on #6143
I would like to work on this one. Can I assign this to myself?

[2022-03-23 21:36] sbueringer commented on #6143
Yup sure. Please ignore the 4th task in the list above for now.

[2022-03-24 03:41] ykakarap commented on #6316
Just back from PTO. I will take a look at this this week.

[2022-03-24 05:22] Ab-hishek commented on #6143
/assign

[2022-03-24 06:30] sbueringer commented on #6327
I assume that we don't really depend on that we specifically use nginx. I didn't find anything that specifically tests the http endpoint for example.

I would prefer:
* Change the hard coded container image to the pause image
    * it has to be pulled anyway for each Pod
    * let's use the one that is "currently" used per default (not sure how that's determined)
    * I think it's fine if that di

[2022-03-24 08:35] sbueringer opened #6330 "Runtime SDK implementation"
Implementation issue for https://github.com/kubernetes-sigs/cluster-api/issues/5175

**Basic Implementation**

Initially we want to add a basic implementation, so we can then work better in parallel on more advanced aspects.

Done:
* [x] Add Extension CRD: (#6383 @killianmuldoon)
    * Extension CRD + Runtime SDK feature flag + webhook which blocks CRD create/update if flag not set
    * correspon

[2022-03-24 08:35] sbueringer commented on #6330
/milestone v1.2

[2022-03-24 11:12] killianmuldoon opened #6331 "Enable feature flag disabled error reporting for MachinePool, ClusterResourceSet"
**User Story**

As a user I would like to get transparent errors about Feature Flags on object creation.

**Detailed Description**

In order to get clear errors about feature flag status we can enable webhooks for objects when the associated feature flag is not enabled. The issue with this is whether or not enabling the webhooks in this way violates the way users understand feature flags.

All we'

[2022-03-24 11:24] fabriziopandini commented on #6331
/remove-kind feature
/kind cleanup

/milestone v1.2

[2022-03-24 12:34] valaparthvi commented on #3661
@richardcase this link is broken, can you update it? Also, do you think you can give me a start on where to proceed with this issue? So far I've mainly been able to get the cluster running, I am not sure where to proceed from here.

[2022-03-24 13:43] richardcase commented on #3661
@valaparthvi - this is an updated link: https://cluster-api-aws.sigs.k8s.io/topics/eks/creating-a-cluster.html#kubeconfig.

If it was me working on it i would do something like this:

1. Create an EKS based cluster using CAPI/CAPA
2. Debug through the `clusterctl get kubeconfig` command, starting [here](https://github.com/kubernetes-sigs/cluster-api/blob/main/cmd/clusterctl/cmd/get_kubeconfig.go#L

[2022-03-24 13:58] valaparthvi commented on #3661
Awesome! This is exactly what I was looking for. Thanks :rocket:

[2022-03-24 14:15] detiber commented on #6327
I think in a lot of cases the use of env vars is more confusing than explicit parameters, and if a provider wants to expose it as an env var, then it's easier to map that into an explicit parameter than it is to override an env parameter explicitly in the code.

[2022-03-24 15:13] arianvp opened #6333 "clusterctl describe cluster throws nil pointer exception is cluster is still provisioning"
**What steps did you take and what happened:**
1. create a cluster
2. quickly run `clusterctl describe cluster`
[code]

**What did you expect to happen:**

No nil pointer exception

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version: v1.1.3
- Minikube/KIND version:
- Kubernetes version: (use `kubectl

[2022-03-24 15:14] sbueringer commented on #6327
I was thinking that maybe the use case is not necessarily that entire providers would overwrite but that folks who are testing regular providers in downstream airgapped environment might want to have an easy way to overwrite it without having to change code (in every provider).

We already have the e2e conf which can be overridden via env variables for that use case (IIRC).

But no strong opinions

[2022-03-24 15:32] detiber commented on #6327
More than happy to try and plumb it both ways if desired as well

[2022-03-24 16:03] killianmuldoon commented on #6333
/assign

[2022-03-24 16:11] killianmuldoon commented on #6333
I think #6334 should be enough to fix this - but if you could show us the objects that would be great to understand how the code got here.

[2022-03-24 17:18] LucaLanziani commented on #6316
Thanks @ykakarap, let me know if it makes sense to you and I'll be more than happy to open a PR ;)

[2022-03-24 17:59] arianvp commented on #6333
Cluster:
[code]

Machine:
[code]

[2022-03-24 18:00] fabriziopandini commented on #6333
/milestone v1.2
/area clusterctl

[2022-03-24 22:22] imikushin commented on #6279
We absolutely need access to CP and MD labels and annotations.

[2022-03-24 22:39] pydctw commented on #6320
For CAPA, I was able to reproduce the issue with bring your own infra use case and observed that cluster creation is successful but subnets fields continue oscillating between two states and saturate controller logs :(

To confirm my understanding, does the issue happen only when the fields are co-authored by capi and provider controllers and they are a list?

From CAPI book, I see the statements.

[2022-03-25 01:49] ykakarap commented on #6316
@LucaLanziani Thanks for finding the issue. Your suggested fix should work. If you are willing to open the PR please go ahead 🚀 👍🏼

[2022-03-25 09:01] LucaLanziani commented on #6316
/assign

[2022-03-25 09:19] fabriziopandini commented on #6320
yes, but co-authored by capi is a consequence of fields being defined in the cluster class; this should also clarify your following observation

[2022-03-25 09:25] fabriziopandini commented on #6327
+1 to switch to pause + add an image variable in spec.input.
if people want to plug env var on top of the spec.input we can add it later (or consumers can add it easily on their side), but I prefer to not introduce an implicit contract (the ENV variable name) unless there is a demand for it

[2022-03-25 09:34] fabriziopandini commented on #6279
@imikushin I don't see big blockers for adding support to CP/MD variables, but it will be great if you or @weikaipan could provide a little more context about the use case we are trying to solve.

WRT to the name for the built variables, you proposal is not in line with the existing variable names, so I would suggest

`builtin.controlPlane.machineTemplate.labels/annotation`
`builtin.machineDeploym

[2022-03-25 11:50] alexander-demichev opened #6337 "Add a way to use local cluster client instead of remote"
**User Story**

As a user, I would like to be able to use the management cluster as a workload cluster more efficiently.

**Detailed Description**

I'd like the machine controller to use a local client for setting up a node watcher when my management cluster is also a workload cluster. In this case, the controller will not be talking to the remote cluster but to the cluster where it's running. Thi

[2022-03-25 12:20] sbueringer commented on #6279
+1 to all from my side

Small addition. Deprecation in that case means adds the new variables, deprecate the old ones (on the builtin struct) and we can drop them with v1beta2/v1.

[2022-03-25 12:22] sbueringer commented on #6327
Fine for me!

[2022-03-25 14:18] ariel-zilber commented on #5475
/unassign

[2022-03-25 16:34] imikushin commented on #6279
We have a Cluster webhook that injects machine image metadata (among other things) into the controlPlane and machineDeployments. We already utilize the fact that this metadata is propagated down to infra-Machine level (we use it in infra-Machine on-create webhook).

So, we already have the necessary data in the right places of the Cluster object. We don't want to duplicate it and just need conveni

[2022-03-25 18:21] LucaLanziani commented on #6316
I suppose this needs an approval first.

[2022-03-25 18:34] sbueringer commented on #6316
/assign @LucaLanziani

[2022-03-26 13:35] LucaLanziani commented on #6316
/lifecycle active

[2022-03-26 15:28] arianvp commented on #6333
Could somebody tell me what's missing in my above definition that created the `nil` exception?

[2022-03-27 19:04] Ab-hishek commented on #6143
Hi. I have opened a pull request for this issue but somehow I am not able to get the easyCLA thing working. Can somebody help me with this?

[2022-03-27 20:48] Ab-hishek commented on #6143
Resolved it. Email was different in my commits than the one used for my GitHub account.

[2022-03-28 12:24] fabriziopandini commented on #6337
/milestone v1.2

This could be a nice improvement, however I'm not sure we want to move this to the API / assign this responsibility to the users. Might be we can leverage the efforts from for defining a Cluster UID, but I'm not really up to speed with this proposal..

[2022-03-28 12:28] fabriziopandini commented on #6329
/milestone v1.2

[2022-03-28 12:33] alexander-demichev commented on #6337
@fabriziopandini I'm not aware about cluster uid effort, do you have any details?

[2022-03-28 13:58] sbueringer commented on #6337
Just for my understanding. The idea of this issue is to reuse our "main" controller-runtime client instead of creating one via the cluster cache tracker?

So it's mostly about saving memory?

[2022-03-28 17:13] vincepri commented on #6247
Please rename the issue once we're in agreement on next steps

[2022-03-28 17:24] vincepri commented on #6279
/priority awaiting-more-evidence
/milestone Next

[2022-03-28 17:36] enxebre commented on #6285
/priority awaiting-more-evidence
to hear from https://github.com/kubernetes-sigs/cluster-api/issues/6285#issuecomment-1070557608

[2022-03-28 18:11] killianmuldoon commented on #6333
I haven't had time to fully recreate this issue - but I think the source is the lack of conditions on your VultrMachine object.
`sigs.k8s.io/cluster-api/cmd/clusterctl/client/tree.GetReadyCondition` is looking for a ready condition on the machine, and the nil pointer is happening as a result of not finding it.

[2022-03-28 18:14] LucaLanziani commented on #6316
I would love to write a test for this, can someone point me to the file where the test should be? Even better if there is already a test for a similar functionality that I can use as a reference :smile:

[2022-03-28 19:03] imikushin commented on #6279
@vincepri FYI this issue is effectively blocking the work we're doing, so seeing `priority/awaiting-more-evidence` is a bit disappointing :(

[2022-03-28 21:47] vincepri commented on #6279
We need to get more information on what needs to be done from the cluster topology side, which isn't clear from this issue. It was discussed earlier this morning to put this on hold once we understand next steps.

[2022-03-28 22:05] vincepri commented on #6285
/milestone Next

[2022-03-29 07:05] sbueringer commented on #6143
/reopen
for the last task. I have to think about how to approach this a bit.

/remove-good-first-issue

[2022-03-29 07:39] Ab-hishek commented on #6143
@sbueringer I have a few queries:
1. What is CAPA/CAPO

2. Why are we not handling the Kube-proxy image versions in the same as we are for CoreDNS right now that is via env or e2e-config? What is the need to have a separate specific kube-proxy version from GCS which is not available in any registry?

Please excuse me if my questions seems vague. Just trying get the context and understand the thoug

[2022-03-29 09:28] sbueringer commented on #6143
1. What is CAPA/CAPO

cluster api provider AWS, cluster api provider OpenStack

2.

kube-proxy images are aligned to the specific Kubernetes version we're using.
kube-proxy images are run on every node

If I remember correctly some providers have e2e test which are using latest versions of Kubernetes for which afaik images are not published to a registry only to Google Cloud storage. In those case

[2022-03-29 09:57] alexander-demichev commented on #6337
In my case, I'm running CAPI on a cluster where management == workload and we only want to manage worker machines, we are using externally managed infrastructure annotation for the cluster object.

[2022-03-29 14:23] killianmuldoon commented on #5428
@jessehu Could you open a new issue with the full details of your issue? It would be good to get the full context of those logs to see if this is related to same root issue.

[2022-03-29 16:03] aartij17 opened #6345 "[e2e framework] Refactor the e2e test framework to enable providers to perform granular tests"
After fixing a bug in CAPV, we wanted to verify it using e2e upgrade tests as well.

Some context on the bug:
A particular secret wasn't being deleted by the controllers cause it missed removing one of the finalizers. This led to the workload cluster not being deleted.

In order to test this using the clusterctl upgrade e2e tests(`ClusterctlUpgradeSpec`), it would help if the cleanup(which is gate

[2022-03-29 20:08] Ab-hishek commented on #6278
I would like to work on this issue. Can I take this up?

[2022-03-29 21:12] weikaipan commented on #6278
@Ab-hishek I already have taken this issue :sweat_smile:. Sorry I forgot to assign myself when I started to work on it.

[2022-03-29 21:12] weikaipan commented on #6278
/assign

[2022-03-29 21:12] weikaipan commented on #6278
/lifecycle active

[2022-03-29 21:13] weikaipan commented on #6247
/assign
/lifecycle active

[2022-03-29 21:15] fabriziopandini commented on #6251
/assign @zhangheliu
/lifecycle active

[2022-03-29 21:17] fabriziopandini commented on #6251
/close
https://github.com/kubernetes-sigs/cluster-api/pull/6292 just merged

[2022-03-29 21:17] #6251 closed

[2022-03-29 21:21] CecileRobertMichon commented on #6331
cc @jackfrancis this should significantly improve the error message when attempting to install a ClusterResourceSet when the feature flag is disabled

[2022-03-29 21:24] alexeldeib commented on #4526
/reopen
/unassign
/remove-lifecycle rotten

still valid I think, never tackled this unfortunately

[2022-03-29 21:34] ykakarap commented on #6316
I believe the fix will be in  runGenerateProviderComponents . ATM there are not tests at that level of the client code. It is right where the cobra flags are compiled and the underlying library functions are called. For the purposes of this fix it might be fine to just include the fix for now.

[2022-03-29 21:46] CecileRobertMichon commented on #4063
/lifecycle active

[2022-03-30 02:22] jessehu commented on #5428
Thanks @killianmuldoon . I'm not able to reproduce it now.

[2022-03-30 08:22] sbueringer commented on #6319
Opened a proposal PR: https://github.com/kubernetes-sigs/cluster-api/pull/6349

[2022-03-30 08:26] sbueringer commented on #6331
/assign @Karthik-K-N

[2022-03-30 12:04] killianmuldoon opened #6350 "gci linter no longer autofixing import orders"
gci linter is no longer fixing import order with `make lint-fix`. This issue was noted in #6348. The errors from the linter are opaque making fixing import order a manual and time consuming process for maintainers - and very discouraging for all contributors.

It seems from here that the autofix was disabled in a recent version c/f https://github.com/golangci/golangci-lint/issues/2604. I'm still r

[2022-03-30 12:14] killianmuldoon commented on #6350
/assign

[2022-03-30 12:19] sbueringer commented on #6350
Hm, could it be an alternative to call gci directly as part of lint-fix? I think they did something similar here: https://github.com/vmware-tanzu/cartographer/pull/691/files

(although I would still run gci via golangci-lint)

I think we need this only until the fixed it in golangci-lint/gci.

[2022-03-30 13:03] sachinkumarsingh092 commented on #6249
Hey @killianmuldoon,
I'd like to work on `MachineSet`. Can you please assign that to me?

[2022-03-30 14:31] vincepri commented on #6350
Are folks maintaining golanci-lint aware of this issue?

[2022-03-30 14:48] #6299 closed

[2022-03-30 15:27] killianmuldoon commented on #6350
There's an issue at https://github.com/golangci/golangci-lint/issues/2604
And a PR with a fix at https://github.com/golangci/golangci-lint/pull/2653

[2022-03-30 16:38] mdbooth opened #6353 "Create resources common to a set of machines"
**User Story**

As a user, I would like to specify that a set of OpenStackMachines use a common server group for anti-affinity. I would like CAPI to be responsible for creating and cleaning up this server group.

As a user, I would like to specify that a set of OpenStackMachines in a spine leaf cluster use a different cluster network. I would like CAPI to be responsible for creating and cleaning u

[2022-03-30 20:58] vincepri commented on #6279
/milestone v1.2
/priority important-soon

[2022-03-31 13:11] fabriziopandini commented on #6350
/milestone v1.2

[2022-03-31 13:20] fabriziopandini commented on #6345
/kind feature
/area testing
/milestone v1.2

Thanks @aartij17 for reporting
This is an interesting use case. It needs some thinking given that we can apply this to all tests, but definitely worth of some additional investigations

[2022-03-31 13:29] fabriziopandini commented on #6333
/priority awaiting-more-evidence
/milestone v1.2

[2022-03-31 14:09] killianmuldoon commented on #6333
/reopen

[2022-03-31 17:37] pydctw opened #6365 "clusterctl alpha topology plan fails for a working ClusterClass definition"
**What steps did you take and what happened:**

A ClusterClass definition that was able to create a cluster fails clusterctl alpha topology plan.

multi-az-clusterclass-v1.yaml (showing only relevant portion for the issue)
[code]

multi-az-cc-cluster.yaml
[code]

clusterctl alpha topology plan
[code]

**What did you expect to happen:**
clusterctl alpha topology plan creates templates successfully

[2022-03-31 18:28] killianmuldoon commented on #6365
I initially thought this was a panic - it's not but clusterctl will print the stack trace if verbosity is high TIL :slightly_smiling_face:

As far as I understand it clusterctl will never be able to assume paths (that aren't defined in a contract) exist in unstructured objects. If you don't define it in your AWSTemplate clusterctl doesn't make any assumptions about the kind of object that you're t

[2022-03-31 19:21] ykakarap commented on #6365
This is correct.
Since the `topology plan` command does not run defaulting (and validation) on objects (besides ClusterClass and Cluster) the template that is passed to the patch engine does not have the required fields for the patch to be applied successfully.

Ref: https://cluster-api.sigs.k8s.io/clusterctl/commands/alpha-topology-plan.html#defaulting-and-validation

A recommendation while testi

[2022-03-31 23:35] weikaipan commented on #6278
@sbueringer

Just want to confirm - why do we need `NodeDeletionTimeout` to be added?

[2022-04-01 05:15] sbueringer commented on #6278
You can open a first PR to only add NodeDrainTimeout, it's just a matter of consistency to get both in eventually. (but we can do that in another PR)

[2022-04-01 06:58] moonek opened #6366 "How can I recover the "Failed" phase of the cluster and machine objects?"
If `failureMessage` or `failureReason` is set in infrastructureRef , the ownerRef(i.g cluster, machine) is also set.
Conversely, if `failureMessage` or `failureReason` in infrastructureRef is changed to unset , it will not be unset in ownerRef.

Is the `Failed` phase intended to be a permanent setup?
Or do I have to unset the ownerRef directly on the infrastructureRef controller side?

[2022-04-01 09:16] killianmuldoon commented on #6330
/area runtime-sdk

[2022-04-01 09:17] killianmuldoon commented on #5175
/area runtime-sdk

[2022-04-01 09:50] killianmuldoon commented on #6365
Hmm - is there any intelligent way to surface a warning telling users to remove the template from their input file? Seems like it might help catch these issues.

[2022-04-01 15:59] vincepri commented on #5883
/milestone Next

[2022-04-01 17:32] ykakarap commented on #6365
I am not sure about that. Having the template in the input while it is also in the API server is a valid use case. Use case: User trying to modify the template and observe the changes.
I am not sure if the command can make any assumptions/recommendation on what can be removed/ignored from the input.

[2022-04-02 15:11] DiptoChakrabarty commented on #6249
Hi @killianmuldoon  I would like to work on `MachineDeployment` and `exp\MachinePool`

[2022-04-03 20:03] Ab-hishek commented on #6227
Hi @killianmuldoon! If possible, can I work on this whenever we decide to start working on this(i.e next release)?

[2022-04-04 03:31] adisky commented on #5836
/assign @palnabarun @Namanl2001

[2022-04-04 08:08] maelk commented on #6285
Sorry for the delay, I was on PTO. I verified the inputs we got, and actually the node drain timeout was not set. So you are right about the current behaviour.
Our users do not want to set it because Rook is deployed and using timeouts would override some internal control mechanisms. Could we maybe consider splitting the timeouts, or adding another control knob to change the timeout behaviour for

[2022-04-04 08:39] sbueringer commented on #5836
@Namanl2001 just fyi, you can self-assign if you want to (it's just that others can't)

[2022-04-04 09:01] Namanl2001 commented on #5836
/assign

[2022-04-04 09:48] killianmuldoon commented on #6227
@Ab-hishek Sure - we'll probably activate a bunch of these changes just before the next release cycle. I'll ping here when we decide to unblock this.

[2022-04-04 11:36] fabriziopandini commented on #6353
I cannot prevent the OpenStack project to implement this, but TBH I think that introducing an infrastructure-specific high-level construct goes against the idea of CAPI being a common abstraction over different types of infrastructure.
E.g. this would have ripple effects on all the abstractions we build on top of core CAPI, like e.g. ClusterClasses/managed topologies, clusterctl describe, etc.

I

[2022-04-04 11:44] fabriziopandini commented on #6366
/kind support
/close

According to the API FailureMessage/Reason should be set only in the event that there is a terminal problem, so there is no supported recovery path from it.
Feel free to re-open if more clarification are required.

[2022-04-04 11:44] #6366 closed

[2022-04-04 11:59] fabriziopandini commented on #6365
/milestone v1.2
/remove-kind bug
/kind documentation

This is a documented behavior.

We can discuss if/how to better surface those limitations/best practices in the doc.

Eventually, we can also provide additions to the error message/next steps instructions if we can formulate them in a generic way.

Let's also consider that this alpha command is likely to change for supporting TopologyMutation h

[2022-04-04 12:05] mdbooth commented on #6353
I was thinking more that we could have a pattern of a provider-specific construct at this level similar to Machine/ProviderMachine, Cluster/ProviderCluster: MachineDeployment/ProviderMachineDeployment. I'm definitely not interested in doing anything custom.

[2022-04-04 13:06] sbueringer opened #6370 "ClusterClass: support map variables"
**User Story**

As a user I would like to be able to use map ClusterClass variables.

**Detailed Description**

I think it would be useful if we would be able to define not only basic types, objects and arrays but also map variables.
From a JSON perspective maps are objects where all field values have the same schema.

This can be very useful if folks want to implement lookup behavior. Example:

V

[2022-04-04 13:07] sbueringer commented on #6370
/cc @fabriziopandini

PR: #6369

[2022-04-04 13:37] sbueringer commented on #6370
/cc @imikushin @vincepri

[2022-04-04 15:21] sbueringer commented on #6160
@ShivamTyagi12345 Please let me know if there's something I/we can help you with.

[2022-04-04 16:00] ShivamTyagi12345 commented on #6160
I lost track of this issue. Thanks for the Ping,Will Make the PR within a couple of hours

[2022-04-04 16:10] mdbooth commented on #6353
I think that ultimately the capabilities and semantics of this thing are going to be provider-specific in the same way that ProviderMachineSpec is provider-specific. The provider machine controller is also going to have to refer explicitly to resources managed by ProviderGroupThing, so these are not independent in any way.

I was originally thinking that these would live in or alongside a MachineS

[2022-04-04 16:21] killianmuldoon opened #6374 "RFE: Runtime Hooks for Add-on Management"
Cluster API is currently unable to enable comprehensive add-on management because of the inability to interact with the lifecycle of a Cluster.  This issue proposes a number of RuntimeHooks, based on the [Runtime SDK](#6181), which will enable external management of add-ons based on transitions in the Cluster lifecycle.

[The full proposal is available at this link.](https://docs.google.com/docume

[2022-04-04 16:22] sbueringer commented on #6160
Thank you! No rush

[2022-04-04 17:01] killianmuldoon commented on #6249
Sure thing - thanks @Jont828

[2022-04-04 17:30] #5361 closed

[2022-04-04 17:30] #5451 closed

[2022-04-04 18:45] #5175 closed

[2022-04-04 19:35] sbueringer opened #6375 "ClusterClass: control plane template rotation leaks InfrastructureMachineTemplates"
**What steps did you take and what happened:**

With ClusterClass, when a control plane InfrastructureMachineTemplate is rotated we don't delete the old template.

**What did you expect to happen:**
I expect old templates to be deleted - at least on a best effort basis.

**Anything else you would like to add:**

This can be reproduced by deploying a CAPD cluster with ClusterClass. After the initia

[2022-04-04 20:56] imikushin commented on #6135
Perhaps, if `type: object` is used without further specification (defining the object fields), it could be viewed as "free form" object. This way existing clusters will not be affected.

The conversion webhook to a later version of Cluster API (introducing stricter validation) can add `x-kubernetes-preserve-unknown-fields: true` to such `type: object` variables to explicitly mark them as "free for

[2022-04-04 22:33] alexeldeib commented on #4526
I think comparing the full string as suggested in https://github.com/kubernetes-sigs/cluster-api/issues/4526#issuecomment-827026484 is correct

Why would this be an "infrastructure provider issue"? Our equality check would be the one wrongly returning true for instances with legit ProviderIDs.

+1 as the assumptions made here are totally false for azure, these are not even unique with multiple VMS

[2022-04-04 22:46] jackfrancis commented on #4526
/assign

[2022-04-05 07:18] killianmuldoon commented on #6375
/assign

[2022-04-05 08:19] furkatgofurov7 commented on #6285
@enxebre @vincepri how do you like the idea of having split the timeouts? like having a general drain timeout + volumes timeout, and within that, a timeout specifically for volumes?

[2022-04-05 09:41] #5198 closed

[2022-04-05 09:45] sbueringer commented on #6135
I'm not 100% sure we can use the conversion webhook to migrate resources in this way without hitting weird edge cases.

[2022-04-05 12:22] sbueringer commented on #6350
I think we have a few options:
1. just wait until the fix is merged in golangci-lint and then upgrade (i.e. ignore the issue until then)
2. downgrade now and then upgrade again once it's fixed (we can't upgrade golangci-lint until then)
3. provide a way to run gci "fix" via make (e.g. as part of lint-fix)

Not sure what the best way forward is, given that we don't know how soon they'll fix it. May

[2022-04-05 16:47] weikaipan commented on #6247
@sbueringer

Can you elaborate the validation that needed for this issue? Thank you.

[2022-04-05 16:52] sbueringer commented on #6247
Sure. Here is how we validate content/contentFrom: https://github.com/kubernetes-sigs/cluster-api/blob/ffc99439dc5fdd195b0e57f9af7644d79010afc5/bootstrap/kubeadm/api/v1beta1/kubeadmconfig_webhook.go#L108-L140

I think we have to think about what combinations of set/unset fields are valid for password/passwordFrom and then implement a validation for that. It's probably pretty similar to content/con

[2022-04-06 07:37] sathieu opened #6381 "Allow to skip version check for Airgapped environments"
**User Story**

As a operator I would like to be able to run ` clusterctl` on airgapped environnement without getting a timeout.

**Detailed Description**

Version check is run after every command:

https://github.com/kubernetes-sigs/cluster-api/blob/bf89e4ba8af1bb05ddb8902bb048938d789d0dac/cmd/clusterctl/cmd/root.go#L63-L73

https://github.com/kubernetes-sigs/cluster-api/blob/bf89e4ba8af1bb05ddb8

[2022-04-06 08:32] fabriziopandini commented on #6370
/milestone v1.2

[2022-04-06 08:37] fabriziopandini commented on #6381
/area clusterctl
/milestone v1.2
@ykakarap if we can help @sathieu to move this forward this could be a nice addition (--skip-version-check)

[2022-04-06 08:46] #6370 closed

[2022-04-06 08:50] sathieu commented on #6381
@fabriziopandini  @ykakarap I went for the symlink way in #6382 (using a flag for each command is not very friendly). Please review :pray: !

[2022-04-06 08:57] fabriziopandini commented on #6135
+1 to take steps to make opting in into free form objects explicit and adding pruning; I think this is a must-have before graduating ClusterClass to beta because users might be tempted to abuse free form objects, but lack of schema can lead to a much bigger problem down the line like e.g. infinite reconcile (we already had issue reported about this).
I will send a PR to add a warning in the docume

[2022-04-06 09:00] furkatgofurov7 commented on #6285
/cc @sbueringer @fabriziopandini @

[2022-04-06 09:03] fabriziopandini commented on #6374
Yay!
/milestone v1.2

[2022-04-06 09:04] sbueringer commented on #6350
Okay PR is merged, so we picked 2. Let's see what happens upstream in golangci-lint

[2022-04-06 09:06] sbueringer commented on #6135
Agree, although I'm not sure what graduating to beta means technically at this point. I assume enabling the ClusterTopology feature flag per default? (as the API is already v1beta1)

[2022-04-06 09:17] sbueringer commented on #6135
Okay so here's an overview.

Overall we want to have the following behavior eventually:
* folks can opt into free form object variables in the variable schema via `x-kubernetes-preserve-unknown-fields: true` (same as in CRDs)
* if `x-kubernetes-preserve-unknown-fields: true` is not set and there are additional fields in a variable object value we return an error in the Cluster validation webhook

[2022-04-06 09:23] fabriziopandini commented on #6059
@AdamKorcz can we consider this done now the first setup is merged?
@sbueringer @killianmuldoon as far as I'm aware the first round of issues has been addressed, can we close this or replace it with more specif issues?

[2022-04-06 09:24] AdamKorcz commented on #6059
Yes

[2022-04-06 09:26] sbueringer commented on #6249
/reopen

[2022-04-06 09:27] sbueringer commented on #6059
Sounds good. But Killian is currently handling it from our side so let's wait for his opinion.

[2022-04-06 09:30] sbueringer commented on #6381
I would prefer implementing this in a way similar to how other binaries are handling it.

IIRC either a flag or an env var usually. Symlinking the version file to /dev/null is in my opinion not user-friendly and we expose a detail that users usually don't have to care about. We would also have to make sure this works on all supported operating systems (this includes Windows)

[2022-04-06 09:35] killianmuldoon commented on #6059
Yeah - happy to close this and open up issues from the ClusterFuzz project as  they're reported and triaged..

/close

[2022-04-06 09:35] #6059 closed

[2022-04-06 09:43] sathieu commented on #6381
@sbueringer OK, but using a flag or env var will lead to timeout again when forgotten.

What about adding this in the configuration file?

[code]

Or in the `version.yaml` file? (NB: I can already workaround this by using a date in the future for LastCheck).

[2022-04-06 09:48] sbueringer commented on #6381
I'll leave it to Yuvaraj has he is more familiar with clusterctl. But I'm not opposed to making it possible to persistently configure this, that makes sense.

[2022-04-06 09:50] fabriziopandini commented on #6329
@PushkarJ I don't think this requires a KEP
I'm +1 to get this template in the docker examples ASAP and to add a security guidelines section to the book.
Eventually, we can also add a periodic job ensuring secure clusters with CAPI works.
/area clusterclass

@chrischdi might be you are interested in this work

[2022-04-06 10:58] fabriziopandini commented on #6329
/area topology

[2022-04-06 11:31] sbueringer commented on #5240
/reopen
/remove-lifecycle rotten

[2022-04-06 13:30] furkatgofurov7 commented on #6285
What we were thinking that could be doable is, introduce a new timeout, i.e called `volumeDrainTimeout` specifically for volumes,
and then, whenever we check whether we should wait for volumes we would have a `volumeDrainTimeout` set, so in a case where we have `nodeDrainTimeout` is set to 0 (meaning wait indefinitely and that is the scenario we are dealing with) and we have a volume that can neve

[2022-04-06 13:41] sbueringer commented on #6329
Sounds good from my side as well.

I think we can start with adding the ClusterClass via a new cluster-template and after that's done discuss how we can integrate it with clusterctl.

I'm not 100% sure but it could be realistic to just extend our existing quickstart ClusterClass with a "secure" (name TBD) variable. We have to experiment a bit, but if that works I would prefer doing that vs. having

[2022-04-06 15:25] killianmuldoon opened #6384 "Propogate RuntimeSDK feature flag in docs"
With #6383 a RuntimeSDK feature flag has been added to Cluster API. When the name and API has been agreed this feature flag should be documented in the Cluster API book and anywhere else it is required - similar to the `CLUSTER_TOPOLOGY` feature flag introduced with ClusterClass and managed topologies.

c/f https://github.com/kubernetes-sigs/cluster-api/pull/6383#discussion_r843984921

/area runti

[2022-04-06 15:25] killianmuldoon commented on #6384
/assign

[2022-04-06 15:44] killianmuldoon opened #6385 "Tilt-settings redeploy failing periodically"
Intermittently tilt fails to restart after making changes to the Tiltfile.  The error reported is:

[code]

This can be resolved by manually reloading the tilt file, but I would expect automatic reloads of the tilt-settings file to work correctly.

/kind bug
/assign

[2022-04-06 15:53] sbueringer commented on #6385
I'm also seeing this frequently

[2022-04-06 16:44] enxebre commented on #6285
Can you elaborate on this so we can understand the full picture?
If we consider this a generic valid use case not covered by drainTimeout, then either volumeDrainTimeout or supporting draining daemonsets e.g using taints make sense to me, otherwise this could be a valid use case for a runtime extension hook.

[2022-04-06 17:34] neolit123 commented on #6135
does `x-kubernetes-preserve-unknown-fields` catch case-sensitively unknown fields - e.g. `foo` vs `Foo`?
IIRC, this was blocked by json parsers in the past, but might have changed after https://sigs.k8s.io/json was created.

[2022-04-06 17:36] CecileRobertMichon commented on #6304
Does `onDelete` rollout strategy help with this use case at all?

[2022-04-06 18:01] sbueringer commented on #6135
Hm. I'm not sure we would have to try. I would like to aim for a behavior which is consistent with Kubernetes CRD behavior given that we use their packages to do the actual validation (detail: we would call their Prune func in our validation webhook and the Prune func tells us if it pruned additional fields).

[2022-04-06 18:06] furkatgofurov7 commented on #6304
@CecileRobertMichon  `onDelete` rollout strategy would not help, since it will trigger the deletion of machines in the old machine sets and then proceed to provision new ones, whereas in our use case we would like to keep the old machines as is (handle manual upgrade on them) to avoid going thorough reprovisioning cycle again.

[2022-04-06 18:15] CecileRobertMichon commented on #6304
That's not my understanding of "onDelete" from https://github.com/kubernetes-sigs/cluster-api/pull/4346

[2022-04-06 18:55] furkatgofurov7 commented on #6304
@CecileRobertMichon yes, to use it, you have to manually delete existing machine right, so once the machine is deleted, the controller detects that the older replica set has N-1 replicas and spins up a new replica using the new machineSet.

[2022-04-06 18:57] furkatgofurov7 commented on #6304
Unless I am not fully seeing the whole picture for  `onDelete`  rollout strategy usage, my main concern is how do we ensure the existing worker machines are left intact when `onDelete`  rollout strategy is used

[2022-04-06 19:18] CecileRobertMichon commented on #6304
If you don't delete the new machines they won't be touched. Only new machines will come up with the upgrades version. The existing machine won't be replaced until they are deleted.

[2022-04-06 19:56] furkatgofurov7 commented on #6304
Is it even possible, as per original issue on that feature https://github.com/kubernetes-sigs/cluster-api/issues/4344#issue-836968632:

`It is a similar idea to the OnDelete strategy allowed in DaemonSet's:` https://kubernetes.io/docs/tasks/manage-daemon/update-daemon-set/ which states:

`OnDelete: With OnDelete update strategy, after you update a DaemonSet template, new DaemonSet pods will only b

[2022-04-06 20:21] CecileRobertMichon commented on #6304
that's the key part, the controller won't delete and replace machines for you to rollout the machines, _only if the user manually deletes machine_ will new machines with the new "model" be created, which means in the meantime if you don't need to replace machines you can keep your old machines around forever. This doesn't solve in place upgrade per se but it does help with the concept of "manual r

[2022-04-06 21:39] mboersma opened #6387 "MachinePool.Spec.ProviderIDList may not scale well"
**What steps did you take and what happened:**

In working on the MachinePool Machines proposal in #6088, we collectively rejected the idea of attaching an `infrastructureRefsList` to each MachinePool spec.

While this would be convenient, the overall size of a MachinePool could become large if the number of replicas / instances grows. Its representation is transferred over the network and stored

[2022-04-06 22:57] ykakarap commented on #6381
Going with the approach of adding a key in the configuration file sounds good 👍🏼
This also comes with an added benefit of automatically supporting the environment variable `DISABLE_VERSIONCHECK`.

[2022-04-07 13:58] fabriziopandini commented on #6387
/milestone v1.2

[2022-04-07 13:59] fabriziopandini commented on #6385
/milestone v1.2

[2022-04-07 15:26] furkatgofurov7 commented on #6285
@enxebre great, thanks! I will try to put a draft PR up soon.

[2022-04-07 15:42] fabriziopandini commented on #6320
I'm prototyping a fix, but it will take some time...
/assing
/lifecycle active

[2022-04-07 16:26] killianmuldoon opened #6391 "Utils UnmarshalClusterStatus is too lenient with inputs"
This issue was reported from the oss-fuzz project for Cluster API. [Link](https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=46455#c2) (access is restricted). The issue reported is a timeout from a test case taking too long to complete.

UnmarshalClusterStatus can take a very long time. In the oss fuzz test case it took over four seconds to return an error on my machine. ClusterFuzz tries to ru

[2022-04-08 05:53] maelk commented on #6285
Here is our use case with Rook:
In order to preserve the Ceph cluster, Rook needs to control tightly the deprovisioning of the node, since there is a constraints on OSDs going down, if more than one replica of data is missing, the ceph cluster becomes unusable until it is back to max one replica of the data being gone. So to go through the upgrade, it uses PDB to prevent more than x nodes to go of

[2022-04-08 08:23] Bo0km4n opened #6394 "[Question] Does clusterctl move command not move infrastructure resources to target cluster ?"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
I tried below command to move cluster resources to target.
[code]

**What did you expect to happen:**
I expected that infrastructure resources moved to target cluster, but it seems like move command didn't support.
Actually, `kubectl get osm, osc, osmt` showed nothing in log.

Is this inte

[2022-04-08 10:02] killianmuldoon opened #6397 "Add OpenAPI required tag for all required types"
In our API types we currently conceive 'Required' as meaning not optional.

Our optional types [have the following definition](https://github.com/kubernetes-sigs/cluster-api/blob/main/CONTRIBUTING.md#optional-vs-required):

Currently with Kubernetes this is enough as fields not marked optional are required in CRDs.

We could be explicit with Optional vs Required in our API definitions by explicitl

[2022-04-08 10:12] killianmuldoon commented on #6397
[A quick test](https://github.com/kubernetes-sigs/cluster-api/pull/6396) of what adding `// +kubebuilder:validation:Optional` on a package level surprisingly (for me at least) shows that the change would pass all of our unit integration and e2e tests.

It fails the apidiff test though the risk of this happening accidentally is extremely low IMO.

[2022-04-08 10:45] killianmuldoon opened #6398 "Add OpenAPI Validation across API types"
Currently validation for our APIs is done, for the most part, in our webhooks. OpenAPI validation could be added (possibly using kubebuilder tags) to make this validation part of our OpenAPI definition.  Example validations are max / min, regex matching and enum enforcement - [but there's a lot of  possibilities enabled by kubebuilder tags](https://book.kubebuilder.io/reference/markers/crd-validat

[2022-04-08 15:17] killianmuldoon opened #6400 "Util Conditions patcher returns nil pointer error"
This issue was uncovered by the oss-fuzz project. The relevant issue (restricted access) is at https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=45211#c3.

Both NewPatch and patch.Apply in util/conditions/patch.go take parameters that could be nil but nil checking is not done inside these functions.

As these are exported utils I think we should ensure they don't panic when avoidable as discus

[2022-04-08 16:34] killianmuldoon commented on #5338
/ropen

[2022-04-08 18:57] fabriziopandini commented on #6400
+1
/milestone v1.2

[2022-04-08 20:49] randomvariable opened #6402 "Proactively monitor of etcd data inconsistency, provide warning conditions when there are large deltas"
**User Story**

As an operator, I'm aware of a major etcd data consistency issue ( https://github.com/etcd-io/etcd/issues/13766 ) in the 3.5 series, and I would like to know if my cluster is affected.

**Detailed Description**

One of the symptoms of this issue is essentially a semi-split brain scenario where the etcd dbs become inconsistent *but* continue replicating with different data.

This co

[2022-04-10 09:38] #5171 closed

[2022-04-11 09:01] calvix opened #6403 "CABPK - ignition - files defined with base64 encoding are not decoded on the disk"
**What steps did you take and what happened:**
When using ignition. If you define a file in `KubeAdmSpec.Files` with `encoding: base64` the resulting file on disk is still `base64` encoded.

Example of configuration:
[code]

The resulting file on disk has contents:
[code]

**What did you expect to happen:**
[code]

**Environment:**

- Cluster-api version: 1.1.3
- OS (e.g. from `/etc/os-release`):F

[2022-04-11 09:02] calvix commented on #6403
cc @invidian

[2022-04-11 09:42] fabriziopandini commented on #6403
/area bootstrap
/milestone v1.2

[2022-04-11 10:40] fabriziopandini commented on #6397
I don't have strong opinions on using this tag, but IMO it seems to be something we can defer to the next API bump.

From a quick test adding `+kubebuilder:validation:Required` on a required field doesn't affect the generated CRD (the field is already treated as required no matter of the marker), the same when adding `+kubebuilder:validation:Optional` on a not required field defined according to o

[2022-04-11 10:47] fabriziopandini commented on #6398
I like the idea of being more explicit in the OpenAPI spec, but TBG I have some concerns about embracing kubebuilder tags for validation because
- Our current test about defaulting, validation and conversion doesn't trigger open API validation, it this could expose us to errors to slip in as already happened in the past
- We will end up managing two set of rules (the one implemented in the OpenAPI

[2022-04-11 10:51] killianmuldoon commented on #1477
If there's no objections I think we should close this issue now that #6404 is open. For future conversations around metrics it's better IMO to have issue with a tighter scope.

[2022-04-11 11:04] JoelSpeed commented on #6397
My vote, to avoid potential surprises later is that we should be explicit on all fields and have either `+kubebuilder:validation:Required` or `+optional|+kubebuilder:validation:Optional`.

Being explicit means should mean that we prevent surprises later should anything change in the logic of the generation (unlikely) or if a user accidentally, or deliberately, adds a package level optional tag (wh

[2022-04-11 11:13] sachinkumarsingh092 commented on #5894
@sbueringer @vincepri @fabriziopandini I'd like to take this up. Can you please assign it to me?

[2022-04-11 11:15] killianmuldoon commented on #5894
/assign @sachinkumarsingh092

I think you should be able to assign yourself to issues by making a comment like the above :slightly_smiling_face:

[2022-04-11 11:42] enxebre commented on #6398
Immutability is one important lack in current CRD OpenAPI validation.
Also the fact that any conceptually required field that you want to default needs to be declared optional for client side validation to not complain e.g kubectl, is suboptimal and confusing.

[2022-04-11 11:44] fabriziopandini commented on #6394
/remove-kind bug
/kind support
/milestone v1.2

clusterctl move takes care or providers resources under conditions described in https://cluster-api.sigs.k8s.io/clusterctl/provider-contract.html#move

[2022-04-11 11:44] fabriziopandini commented on #6394
/area clusterctl

[2022-04-11 11:46] fabriziopandini commented on #6391
/milestone v1.2

[2022-04-11 11:48] fabriziopandini commented on #1477
+1 to close this as soon and #6404 merges

[2022-04-11 12:04] sachinkumarsingh092 commented on #5894
Oh, noted! Thanks for this.
I've raised a PR for this but have a few things to discuss. I've mentioned them in the PR itself.

[2022-04-11 15:01] killianmuldoon commented on #2599
@vincepri https://github.com/kubernetes-sigs/cluster-api/pull/6406 is a solution to the first item on your list:

[2022-04-11 15:12] invidian commented on #6403
Hmm, as far as I see, neither Flatcar's Ignition or CLC currently support gzip compression, see https://github.com/flatcar-linux/container-linux-config-transpiler/pull/13. Perhaps @jepio or @pothos could confirm.

But the config transpiler should support specifying input files in base64 format, though this is currently not supported by our cloud-init to CLC conversion code. I checked the code and

[2022-04-11 19:51] ykakarap opened #6407 "rename `CloneTemplate` to something more intuitive"
**Detailed Description**

The [`CloneTemplate`](https://github.com/kubernetes-sigs/cluster-api/blob/main/controllers/external/util.go#L90) function name does not clearly signify the actions it is doing (it not only clones but also creates the object on the API server). This issue to find a better name and rename the function.

**Anything else you would like to add:**

Changing the name will be a b

[2022-04-11 19:51] ykakarap commented on #6407
cc @sonasingh46

[2022-04-11 20:40] vincepri commented on #6398
A defaulted field is optional from a user perspective as they don't have to specify it, with open api a required field can be defaulted and no error occurs because defaulting happens client-side before hitting the api server

[2022-04-12 01:54] Bo0km4n commented on #6394
@fabriziopandini Thanks for your comment and reference!
In short, to move the provider's resource, should I add label 'clusterctl.cluster.x-k8s.io/move' or 'clusterctl.cluster.x-k8s.io/move-hierarchy' to CRD or each resources?

[2022-04-12 09:10] JoelSpeed commented on #6398
I just tested this on K8s 1.23 and I don't think that's correct. I added a required field with a default, left it out of the resource and got an error saying the field was required, if I make it optional, the default applies correctly. Seems the defaulting happens after the validation

[2022-04-12 09:59] fabriziopandini commented on #6394
If the CRD is installed by `clusterctl init` this should not be necessary because provider resources are directly or indirectly linked to a Cluster object (linked through the OwnerReference chain). `clusterctl.cluster.x-k8s.io/move' or 'clusterctl.cluster.x-k8s.io/move-hierarchy'  are only for objects which do not belong to a Cluster through the OwnerReference chain

[2022-04-12 10:04] lentzi90 opened #6410 "Avoid refreshing BootstrapTokens forever unless necessary"
**User Story**

As an operator I would like to prevent constantly refreshing BootstrapTokens when there is no need for it to keep the attack surface minimal.

**Detailed Description**

Currently the BootstrapTokens are refreshed for Machines until the infrastructure is ready. After #6395 this could change to "until the Node has joined". For MachinePools, the tokens are always kept fresh so that ne

[2022-04-12 11:04] JoelSpeed commented on #6398
Is it possible to enumerate a list of the type of validations we expect to carry over in webhooks, were we to make this change?

Can you elaborate on this point? Is there conditional defaulting (or other defaulting) happening that cannot be handled by OpenAPI? Keen to know where the gaps are in the use case for Cluster API

Adding or changing the behaviour of a default for a field breaks the assum

[2022-04-12 14:43] #6247 closed

[2022-04-12 15:51] invidian commented on #6403
If there is no further feedback, I'll create a PR with the fixes as suggested.

[2022-04-12 16:07] stmcginnis commented on #5146
/remove-lifecycle rotten

[2022-04-12 20:19] fabriziopandini commented on #6285
Sorry for getting late to this issue.
I'm not 100% sure I got the difference between forcing deletion due to nodeDrainTimeout expiring or due to a new volumeDrainTimeout, because if I got it right in both cases we are going to delete the node with attached volumes, or am I wrong?

Also, a couple of comments about API changes if we go down this path:
- if we are going to add a new timeout, it shoul

[2022-04-12 20:41] fabriziopandini commented on #6410
/priority awaiting-more-evidence

For Machine Pool the token gets already rotated periodically (that means that there is always one token around, but not always the same).

[2022-04-12 20:44] killianmuldoon commented on #6249
/close

Thanks @DiptoChakrabarty @Jont828 @sachinkumarsingh092 !

[2022-04-12 20:44] #6249 closed

[2022-04-13 03:56] Bo0km4n commented on #6394
I installed CRD and controllers without `clusterctl init`, from plain yaml files.
In this case, should I add manually `clusterctl.cluster.x-k8s.io/move  ` label to CRDs ?

And I want to ask you more one question.
What the difference of `clusterctl.cluster.x-k8s.io/move` with `clusterctl.cluster.x-k8s.io/move-hierarchy`

[2022-04-13 09:13] furkatgofurov7 commented on #6285
@fabriziopandini correct.

I will look into adding it to #6413 which is on the flight now

First part is covered I believe, would you mind elaborating more on contract update part?

:+1:

[2022-04-13 09:23] furkatgofurov7 commented on #6285
/assign
/lifecycle active

[2022-04-13 09:50] fabriziopandini commented on #6285
@furkatgofurov7 if in both cases (existing nodeDrainTimeout and proposed volumeDrainTimeout) we are going to delete the node with attached volumes, why can't we use the existing nodeDrainTimeout?

Also, before proceeding, I would like to hear other opinions about the resulting API

WRT to the API contract the relevant part is documented [here](https://cluster-api.sigs.k8s.io/developer/architecture

[2022-04-13 10:02] furkatgofurov7 commented on #6285
@fabriziopandini what if nodeDrainTimeout is set to default value (0s)? In that [case](https://github.com/kubernetes-sigs/cluster-api/blob/main/internal/controllers/machine/machine_controller.go#L427), we reach [this](https://github.com/kubernetes-sigs/cluster-api/blob/main/internal/controllers/machine/machine_controller.go#L309) condition where later we would be waiting for volumes to be detached

[2022-04-13 10:28] fabriziopandini commented on #6285
If I got this right what we are trying to solve is to delete the node even if there are attached volumes.
looking at the code, it seems to me that this can be achieved already today by setting nodeDrainTimeout to something greater than 0; [when the timeout is reached](https://github.com/kubernetes-sigs/cluster-api/blob/70c9771dbccb2ecd24d3fc36a68d2e39d6ecd165/internal/controllers/machine/machine_c

[2022-04-13 11:33] Bo0km4n commented on #6394
I resolved above questions.
I added the label `clusterctl.cluster.x-k8s.io: ""` to provider's CRDs and create `Provider` resource of infrastructure.
Then, `clusterctl move` command moved infrastructure provider's resources to target cluster, thanks for your helps.

[2022-04-13 12:04] furkatgofurov7 commented on #6285
Correct, but as we [discussed](https://github.com/kubernetes-sigs/cluster-api/issues/6285#issuecomment-1087244349) a bit earlier we have a use case where:

and more info on Rook deployment, please chech this comment: https://github.com/kubernetes-sigs/cluster-api/issues/6285#issuecomment-1092466360

[2022-04-13 14:05] furkatgofurov7 commented on #6304
@CecileRobertMichon sorry for the delay, I tested the "OnDelete" rollout strategy and realized that in fact, it covers the use case we have been discussing in this issue. Thanks a lot for the heads up!
For anyone that might check on this issue in the future, this is how we achieved it by setting MD configs as:

[code]
so that when we scale out and update the spec of workers, MD keeps creating new

[2022-04-13 14:06] #6304 closed

[2022-04-13 14:10] #5874 closed

[2022-04-13 14:48] fabriziopandini commented on #6285
That's probably the missing bit for me, how the CAPI nodeDrainTimeout can override the Rook internal control mechanis?

[2022-04-13 15:38] maelk commented on #6285
The issue with a timeout on the drain is that it renders the pdb settings done by Rook inefficient. Let's say we are doing an upgrade on a machineDeployment where Rook is deployed. Rook will set the PDB to allow 1 node to go away so that we keep enough OSDs (disks on the nodes) running to keep the Ceph cluster usable. So the draining of a first node will succeed. However, if a second node is to be

[2022-04-13 15:40] maelk commented on #6285
Yes, if the volume was not owned by a daemonset, we would not have the issue. Either direction should be fine for us to solve this issue.

[2022-04-13 15:48] enxebre commented on #6285
Ok, so let's discuss evicting daemonSets, volume time out has no meaning with out a daemonSet backing the pod. As suggested above one option would be to use taints similar to what autoscaler does, thoughts? @fabriziopandini @sbueringer  @vincepri @CecileRobertMichon

[2022-04-13 16:38] killianmuldoon commented on #6398
I think so, but it's non-trivial IMO. We'd definitely want to do this well before we'd be updating the API.

One of the ones that comes to mind is where we copy a value during defaulting:
e.g https://github.com/kubernetes-sigs/cluster-api/blob/c029dd2155692c79fc6109ecfa333324ace88765/api/v1beta1/machine_webhook.go#L53

There's also some places where we e.g. normalize versions:
https://github.com/k

[2022-04-13 16:47] JoelSpeed commented on #6398
Conditional stuff like this is out of scope of openapi defaulting

[2022-04-13 17:53] enxebre commented on #6398
@vincepri That's actually not true afaik, structural schema CRDs don't publish defaults so client-side can't know that it would be defaulted on the server. This results in a surprising UX for fields that are both required and defaulted failing client side validation if they are not set explicitly.

[2022-04-14 14:38] killianmuldoon commented on #5510
All credit to @chrischdi for the following info :slightly_smiling_face:

We have a metric, exposed by client-go through controller-runtime, which reports error responses in the client. It's called `rest_client_requests_total` and it has the following format:

`rest_client_requests_total{code="<error>",host="172.18.0.4:6443",method="GET"} 36`

The host IP here is the ControlPlaneEndpoint IP - i.e.

[2022-04-14 19:40] harveyxia opened #6416 "Cluster's `spec.ControlPlaneEndpoint` is marked optional but not a pointer type"
The Cluster CRD's `spec.ControlPlaneEndpoint` is marked as optional and should be a pointer type ([source code here](https://github.com/kubernetes-sigs/cluster-api/blob/61c9e2154106a49ea0d1be8cb48bea1d8391b965/api/v1beta1/cluster_types.go#L53)).

This has implications for consumers of the API that are programmatically generating the object. The field is managed by the infrastructure provider contr

[2022-04-15 00:35] soodr opened #6417 "Error creating workload clusters following the quick start guide"
**What steps did you take and what happened:**

Created the management cluster using eksctl :

 eksctl create cluster --profile ** --name ***

 All the AWS provider steps from initialization to generating the workload clusters executed successfully.
 However the workload cluster is stuck in a provisioning state.

  kubectl get clusters
NAME              PHASE          AGE    VERSION
capi-quickstar

[2022-04-15 09:24] ditsuke commented on #6172
@mehabhalodiya are you still working on this one? Would be happy to pick this up instead if not. 😺

[2022-04-15 10:31] killianmuldoon commented on #6333
@arianvp Did you  manage to solve this issue?

[2022-04-15 10:45] killianmuldoon commented on #6416
Thanks for raising this @harveyxia! -  it's definitely a good discussion to have ahead of the next API revision. I don't have the full context for why ControlPlaneEndpoint is a non-pointer, and what the impact of changing it would be so I'll leave that to others.

One note is that though Cluster API is informed by the Kubernetes API conventions the project doesn't follow them strictly - we have ou

[2022-04-15 11:05] killianmuldoon commented on #6394
@Bo0km4n Are you happy to close this issue?

[2022-04-15 14:40] soodr commented on #6417
It repeatedly happens every time and i followed the quickstart steps.

clusterctl describe cluster capi-quickstart

NAME                                                                READY  SEVERITY  REASON                           SINCE  MESSAGE
Cluster/capi-quickstart                                             False  Warning   VpcReconciliationFailed          3m21s  0 of 7 completed
├─Cluster

[2022-04-15 15:08] killianmuldoon commented on #6417
I'm not sure what's going on here - but it looks to be definitely on the CAPA side - you might get better information if you open an issue on the CAPA repo or post in the Cluster API slack channel looking for help.

[2022-04-15 16:17] soodr commented on #6417
thanks.
https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3427.

[2022-04-15 16:17] #6417 closed

[2022-04-15 17:07] harveyxia commented on #6416
Thanks for the fast response!

We are building a controller (in Golang using controller-runtime) to programmatically manage Cluster API objects. Our code represents the objects as Go structs, which are then serialized before sending to the kube-apiserver. Because the `ControlPlaneEndpoint` is a value type, there is no way for our logic to avoid serializing it. This is problematic because we do not

[2022-04-15 19:02] mehabhalodiya commented on #6172
@ditsuke you can pick up this 🙂
Sorry for delaying!

[2022-04-16 11:40] ditsuke commented on #6172
Thanks Meha!
/assign

[2022-04-16 11:48] ditsuke commented on #6172
@sbueringer not sure if its supposed to be up but the migration guide in the issue body is not deployed. I accessed it on the master branch, is it supposed to be up?

[2022-04-16 16:27] fabriziopandini commented on #6394
Happy you solved this issue, but worth noticing that this is a scenario not officially supported, so there are no tests/guarantees this will work in future.

/close

[2022-04-16 16:27] #6394 closed

[2022-04-16 16:34] fabriziopandini commented on #6285
I agree with @enxebre that it seems we are implementing a knob for a use case that can be solved in other ways.
I don't have preferences on using something different than DemonSet or using Taints, but I wonder if we should document this somewhere in the book

[2022-04-18 15:20] enxebre commented on #6285
Today we stick to drain's default behaviour and that prevents daemonSets from being evicted. I created this https://github.com/kubernetes-sigs/cluster-api/pull/6421 to document current state of things.

Now, we should discuss if we want to implement daemonset eviction https://github.com/kubernetes-sigs/cluster-api/issues/6158. If so we need to think how to make it transitionally as this would be a

[2022-04-19 17:06] butterfly1924 opened #6423 "What is the meeting password for Wednesdays zoom meeting?"
Weekly on Wednesdays @ 10:00 PT on [Zoom](https://zoom.us/j/861487554)

[2022-04-19 19:16] vincepri commented on #6423
@butterfly1924 Please join the https://groups.google.com/g/kubernetes-sig-cluster-lifecycle google group and you'll be receiving a calendar invite with the full link.

/close

[2022-04-19 19:17] #6423 closed

[2022-04-20 10:23] fabriziopandini commented on #6416
/kind api-change
/milestone next

[2022-04-20 10:26] fabriziopandini commented on #5769
/remove-lifecycle stale
Let's keep this around a little bit more to see if there are feedback from users

[2022-04-20 17:21] cprivitere opened #6429 "Core DNS Upgrades with Cluster API"
This was discussed at the 3/16 cluster-api meeting and I was asked to open an issue to foster discussion on this topic.

- Currently, kcp does not upgrade coreDNS unless you explicitly pass it a version to upgrade to.
- Should this be changed? It’s very much unexpected for users. For example users using kubeadm upgrade would not see this as kubeadm would upgrade it for them.
- Currently, there is

[2022-04-20 22:47] pydctw commented on #6126
Presented [Managed Kubernetes in CAPI](https://docs.google.com/document/d/1dMN4-KppBkA51sxXPSQhYpqETp2AG_kHzByXTmznxFA/edit) proposal during CAPI office hrs on 4/20/22

[2022-04-21 09:52] #6055 closed

[2022-04-21 10:27] furkatgofurov7 commented on #6285
@fabriziopandini @sbueringer @vincepri @CecileRobertMichon I would appreciate your opinions on how to move forward with this issue.

@enxebre thanks, that is helpful!

 I am not sure I got the point here, are you referring to introducing a new hook or making use of the existing ones, if the latter, from my understanding, `pre-drain.delete` hook  is too early and `pre-term.delete` hook is too late

[2022-04-21 21:04] CecileRobertMichon commented on #6160
@ShivamTyagi12345 are you still working on this one?

[2022-04-22 11:00] apricote opened #6434 "book: Only the first 10 tabs show content"
**What steps did you take and what happened:**

- [Go to https://cluster-api.sigs.k8s.io/user/quick-start.html](https://cluster-api.sigs.k8s.io/user/quick-start.html#initialization-for-common-providers)
- Click on any tab _after_ Nutanix (the 10th)
- Observe that no box shows, even though they have content defined

**What did you expect to happen:**

I expected every tabbed content to show.

**Any

[2022-04-22 11:49] schrej commented on #6434
There is a kind for it
/kind documentation

[2022-04-22 19:09] himanshuz2 opened #6438 "Error Initializing management cluster"
I followed these instructions in quick-start.html
https://cluster-api.sigs.k8s.io/user/quick-start.html

get error timed out waiting for the condition

command : sudo clusterctl init --infrastructure azure
output:
Fetching providers
Installing cert-manager Version="v1.5.3"
Waiting for cert-manager to be available...
Error: timed out waiting for the condition

When trying second time

command:  sud

[2022-04-22 21:02] CecileRobertMichon commented on #6434
/assign @apricote

[2022-04-23 11:37] RobinDeBock commented on #6321
The issue emerged again after updating my versions. This time I won't update my packages as this fixed it the previous time. Hopefully we can find the source this time around.

---

I'll list the current package versions below:
- Cluster-api version: `GitVersion:"v1.1.3"`
- KIND version: `kind v0.11.1 go1.17.4 linux/amd64`
- Kubernetes version: (use kubectl version):
  - Client: `GitVersion:"v1.22

[2022-04-24 11:52] RobinDeBock commented on #6321
Additional logs of the CAPD controller Pod

<pre><font color="#4E9A06"><b>robin@robin-GL552VW</b></font>:<font color="#3465A4"><b>/mnt/files/Documents/School/Thesis/Repo/thesis_ugent/rescaling</b></font>$ kubectl --kubeconfig master-cluster.kubeconfig --namespace capd-system logs capd-controller-manager-58486847-cr97c
I0424 11:34:26.945739       1 request.go:665] Waited for 1.041412904s due to cli

[2022-04-25 00:51] ykakarap commented on #6381
/assign

[2022-04-25 08:14] schrej commented on #5475
/reopen
/remove-lifecycle rotten

[2022-04-25 11:35] #6434 closed

[2022-04-25 11:50] fabriziopandini commented on #6321
User have reported problems using docker installed from snap. If this is the case, please remove it and install using the alternative methods suggested in the docker documentation.

Docker socket must be available everywhere you are running CAPD provider.
That means that you have to mount it from the host --> kind first, and then from kind --> docker machines you are transforming to management clu

[2022-04-25 11:51] fabriziopandini commented on #6438
/priority awaiting-more-evidence
/milestone v1.2

[2022-04-25 12:10] fabriziopandini commented on #6429
/milestone v1.2

Some comments to help to start the discussion
- I'm not aware of the reason behind current approach in KCP (the proposal just suggest user to change the version); however making CoreDNS upgrade automatic is a change of behavior we should properly document and advertise, and ideally it should be deployed when bumping an API version(under which conditions it happens etc. etc.)
- Doc

[2022-04-25 12:39] RobinDeBock commented on #6321
(TL;DR at the bottom)

It's been a while since I've setup Docker, so it's possible I used snap. I'll remove it completely from my system and reinstall.

Well, having looked at the template in the past and trying that approach, I came to the conclusion that it didn't have much effect. Also, the system **did work**, even if it was for a short period of time.

Big thanks for this feedback! Like I men

[2022-04-25 13:42] himanshuz2 commented on #6438
I found that there was a problem with Kind cluster control plane node not ready. Will try again with MicroK8s on Ubuntu.

Sent from my T-Mobile 4G LTE Device
Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Fabrizio Pandini ***@***.***>
Sent: Monday, April 25, 2022 4:51:31 AM
To: kubernetes-sigs/cluster-api ***@***.***>
Cc: Himanshu Zinzuwadia ***@***.***>; Me

[2022-04-25 15:43] kfox1111 commented on #6429
This issue and https://github.com/kubernetes/kubeadm/issues/2318 are related I think. Might be good to widen the conversation.

[2022-04-26 09:54] fabriziopandini opened #6442 "CAPI vs cert-manager release cadence"
This is a follow up of the 20th of April office hours discussion

Cert Manager project is stabilizing on a [high-frequency release cadence](https://cert-manager.io/docs/installation/supported-releases/#support-policy), with each release being supported for a period of four months, and new release every two months.

In CAPI we depend on cert-manager but we have a less stable release calendar and so

[2022-04-26 09:58] neolit123 commented on #6429
I guess one way for kubeadm users to find what version of corends will be
deployed for a k8s version is to use 'kubeadm confug images list' command.
It will give them the corends image version which is the same as the
corends version.

[2022-04-26 11:07] chrischdi opened #6444 "make help does not output `hack/tools` targets anymore"
**What steps did you take and what happened:**

Executed `make help`

**What did you expect to happen:**

Expected the output to show the `hack/tools` target, but there is no output below `hack/tools`:

[code]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

Did break via #5741

**Environment:**

- Cluster-api version: master
- Minikube/

[2022-04-26 11:27] chrischdi opened #6445 "Makefile consilidation to improve maintenance and developer experience"
**User Story**

As a maintainer I would like to have as less Makefiles as possible for reducing the effort of syncing changes in-between different Makefiles.

As a developer I would like to use `make help` for getting an overview about all make targets.

**Detailed Description**

The file [test/infrastructure/docker/Makefile](https://github.com/kubernetes-sigs/cluster-api/blob/main/test/infrastruc

[2022-04-26 11:27] chrischdi commented on #6445
/area cleanup

[2022-04-26 11:28] chrischdi commented on #6445
/kind cleanup

[2022-04-26 12:46] sbueringer commented on #6278
/reopen

Should we do the same for NodeDeletionTimeout? I think it would be good to have it for both.

[2022-04-26 13:09] sbueringer commented on #6402
Q: Does etcd have metrics for this so it's alternatively possible to build alerts on top of etcd metrics?

[2022-04-26 13:20] sbueringer commented on #6397
I think it's hard to accidentally add the optional marker on the package level and miss it in reviews as a lot of CRDs change / or the verify job fails.

But I think it would be still nice to be explicit so that on every single field there is an explicit decision to make a field optional or required.

My only concern is if it's sustainable to enforce via manual reviews that every single field has

[2022-04-26 13:24] sbueringer commented on #6391
To be honest, I would prefer not investing effort in this.

I assume we're talking about this func? https://github.com/kubernetes-sigs/cluster-api/blob/5026786ee809c5def466049f5befd2a786fbcefa/bootstrap/kubeadm/types/utils.go#L175-L181

It is used to unmarshal a type which has been deprecated and already removed in upstream v1beta3 kubeadm APIs. So it's only a matter of time until it's gone. I als

[2022-04-26 13:29] sbueringer commented on #1477
I think #6404 only addresses state metrics. This still leaves metrics exposed by our controllers. Did I understand correctly that we would open a new tightly scoped issue for this before closing this issue?

[2022-04-26 13:40] furkatgofurov7 commented on #6278
Makes sense to me :+1:

[2022-04-26 13:57] sbueringer commented on #6398
Joel and further down Alberto are correct. kubectl only does OpenAPI validation but no defaulting. I opened an issue for this in k/k: https://github.com/kubernetes/kubernetes/issues/108768.

But in my opinion this is a mostly separate discussion. Independent of if we add more OpenAPI validation or not we will have optional and required fields like today and this will be an issue until it is resolv

[2022-04-26 14:08] sbueringer commented on #5510
@killianmuldoon @chrischdi I wonder if it would be possible to extend this metric and similar like it with an additional dimension for the cluster. I think this might be a very nice improvement as it makes it easier to use the metrics and avoid join's in PromQL.

[2022-04-26 14:15] sbueringer commented on #6172
@ditsuke We changed how our books are hosted.

You can find the main branch now here: https://main.cluster-api.sigs.k8s.io/developer/providers/v1.1-to-v1.2.html

https://cluster-api.sigs.k8s.io/ points to release-1.1

For local adjustments I usually use `make serve-book`

[2022-04-26 14:35] harveyxia commented on #6416
FYI this is also an issue for the [AWSCluster object](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/api/v1beta1/awscluster_types.go#L48)

[2022-04-26 14:43] pydctw commented on #5991
/remove-lifecycle stale

[2022-04-26 14:56] #6444 closed

[2022-04-26 15:04] sbueringer commented on #6321
@RobinDeBock What do you get from `kubectl get cluster -A`? The only way this should be possible is if the quickstart-cluster is not created in the namespace used by clusterctl (either default or the one specified in the kubeconfig if there is one there)

[2022-04-26 15:22] sbueringer commented on #6445
Absolutely +1 from my side :)

[2022-04-26 15:28] sbueringer commented on #6429
I think we should use Kubernetes as source of truth. IIRC there is a bunch of testing done in k/k when they upgrade to a new (of course already released) CoreDNS version.

E.g. here we found a bug in CoreDNS v1.8.3 which resulted in v1.8.4 being used instead: https://github.com/kubernetes/kubernetes/issues/99751

[2022-04-26 16:30] chrischdi commented on #5510
In theory this would be possible by:
* passing the cluster value via context to the metrics adapter, and reading it there from the context.

However for us it would be only possible to implement this in three ways, which I think is too much effort or have too many cons:

* modifying controller-runtime to support / allow this change in some way
* write our own metric but:
  * the metric would be re

[2022-04-26 16:40] sbueringer commented on #5510
Maybe 1. or 3. is an option for the future. The upside to investing the effort in controller-runtime is usually that a lot of folks (including other providers) can profit from it.

[2022-04-26 17:02] RobinDeBock commented on #6321
Bootstrap Kind management cluster:
<pre><font color="#4E9A06"><b>robin@robin-GL552VW</b></font>:<font color="#3465A4"><b>/mnt/files/Documents/School/Thesis/Repo/thesis_ugent/rescaling</b></font>$ kubectl --kubeconfig=./kind-management-cluster.kubeconfig get pods -A
NAMESPACE                           NAME                                                             READY   STATUS    RESTARTS   AGE

[2022-04-26 17:59] sbueringer commented on #6321
`kubectl get cluster -A` would be interesting

[2022-04-26 20:42] RobinDeBock commented on #6321
Bootstrap Kind management cluster:
<pre><font color="#4E9A06"><b>robin@robin-GL552VW</b></font>:<font color="#3465A4"><b>/mnt/files/Documents/School/Thesis/Repo/thesis_ugent/rescaling</b></font>$ kubectl --kubeconfig=./kind-management-cluster.kubeconfig get cluster -A
NAMESPACE   NAME             PHASE         AGE     VERSION
default     master-cluster   Provisioned   6m44s
</pre>

Provisioned man

[2022-04-26 22:00] RobinDeBock commented on #6321
No **reference to Docker** can be found, but this is the cluster created by Kind, which is operational.

<pre><font color="#4E9A06"><b>robin@robin-GL552VW</b></font>:<font color="#3465A4"><b>/mnt/files/Documents/School/Thesis/Repo/thesis_ugent/rescaling</b></font>$ kubectl debug -it capd-controller-manager-fc9f9d975-rsmd5  -n capd-system --image=busybox
Defaulting debug container name to debugger-

[2022-04-27 04:42] sbueringer commented on #6321
I think with debug --image busybox you are in a newly added sidecar debug container. You are not inside of the capd controller manager container.

[2022-04-27 04:57] sbueringer commented on #6321
@fabriziopandini I think I found one issue that could be the problem. We only add the socket mount to control plane nodes and not to MD mounts (https://github.com/kubernetes-sigs/cluster-api/blob/main/test/infrastructure/docker/templates/cluster-template-development.yaml#L67-L86)
I assume this is not intended?

When a management cluster is created with worker nodes it can happen that CAPD is runni

[2022-04-27 09:28] mweibel opened #6448 "log kubeadm join into a file"
**User Story**

As an operator I would like to understand why sometimes `kubeadm join` fails to improve debugging issues with nodes not joining the cluster.

**Detailed Description**

We recently had some troubles with windows nodes joining the cluster. In about 50% of the cases the join failed. This was often related to the time it took them to boot up and I suspect one reason was that the bootst

[2022-04-27 10:51] meghanajangi commented on #6267
I haven't made any progress on this, so unassigning and opening it up for others.
/unassign

[2022-04-27 12:53] JoelSpeed commented on #6398
@sbueringer thanks for taking the time to think about this, that's a very thorough write up

I just wanted to add some extra context for completeness to your list of things we cannot move.
* Immutability is on the backlog for CRDs https://github.com/kubernetes/kubernetes/pull/83743. I've spoken to a few of the API SMEs about this and the upshot was to wait for the SSA stuff to stabilise to avoid t

[2022-04-27 13:13] fabriziopandini commented on #6278
I would prefer to track this in another issue ve re-using this one

[2022-04-27 13:15] fabriziopandini commented on #5916
/close
Feel free to re-open if there are updates

[2022-04-27 13:16] #5916 closed

[2022-04-27 13:17] fabriziopandini commented on #5975
/close
We can eventually re-open in case we identify some actionable item

[2022-04-27 13:17] #5975 closed

[2022-04-27 13:18] fabriziopandini commented on #5946
/close
given that there is no clear way forward and we can eventually create a new issue as soon as we figure out a better code organization

[2022-04-27 13:18] #5946 closed

[2022-04-27 13:20] fabriziopandini commented on #5818
/good-first-issue

We should document the fact that overrides only provide file replacements; instead, provider version resolution is based only on the actual repository structure with a not at the end of https://cluster-api.sigs.k8s.io/clusterctl/configuration.html#overrides-layer

[2022-04-27 13:23] fabriziopandini commented on #5699
/remove-lifecycle stale
/help

@killianmuldoon can we provide more detail so we can tag this as a good first issue

[2022-04-27 13:28] fabriziopandini commented on #6445
/assign @chrischdi
given that there is already a PR for this

[2022-04-27 13:38] fabriziopandini commented on #6448
/milestone v1.2
As far as I'm aware of the output of kubeadm join gets logged into cloud init logs (this is the case for linux, not sure for windows). Does this works for you @mweibel?

Also we recently merged https://github.com/kubernetes-sigs/cluster-api/pull/6395 that can improve tolerance to slow joining machines

[2022-04-27 14:18] sbueringer commented on #5699
@fabriziopandini What always confuses me is that the description of help wanted is identical to good first issue: https://github.com/kubernetes-sigs/cluster-api/issues/5699#issuecomment-1110998259
Is there a difference for us, if yes is it documented somewhere? :)

[2022-04-27 14:22] sbueringer opened #6450 "ClusterClass make MachineDeployment NodeDeletionTimeout configurable via Cluster topology"
**User Story**

As a user I would like to configure the NodeDeletionTimeout of a MachineDeployment.

**Details**

Prior art for this is the addition of nodeDrainTimeout in #6278.

PR: https://github.com/kubernetes-sigs/cluster-api/pull/6379
Detailed description on what to do: https://github.com/kubernetes-sigs/cluster-api/issues/6278#issuecomment-1070914169 (of course only the NodeDeletionTimeout

[2022-04-27 14:23] sbueringer commented on #6450
/good-first-issue

[2022-04-27 14:24] sbueringer commented on #6278
Okay
/close

Opened this issue as follow-up: 6450

[2022-04-27 14:29] sbueringer commented on #6398
I think you're correct, a lot of of those should be implementable with CEL, not sure if we have something which is too complex for that.

My bad, I meant ObjectReference instead of OwnerRefs (e.g. https://github.com/kubernetes-sigs/cluster-api/blob/main/api/v1beta1/clusterclass_types.go#L445-L449 but also at least in MD, MS, Cluster). This might be solved by stop using the not-recommended ObjectRe

[2022-04-27 14:56] JoelSpeed commented on #6398
Ahh this makes a lot more sense now 😅  We should definitely do that in the next API version

[2022-04-27 17:31] vincepri commented on #6442
Action items / follow-up from community meeting:

- [ ] Figure out release cadence.
- [ ] Deprecation policy in contributing guide, figure out what's x in N-(x) supported versions.
- [ ] Continue evaluating improvements/automations for the release process.

[2022-04-27 18:49] CecileRobertMichon opened #6454 "Remove empty digests workaround from promote-images target"
Once https://github.com/kubernetes-sigs/promo-tools/issues/546 is fixed, we should remove `--digests ""` from the `promote-images` Makefile target.

[2022-04-28 02:25] praveenrewar commented on #6267
/assign

[2022-04-28 09:11] furkatgofurov7 commented on #6285
@enxebre is there anything missing in this issue or we can maybe remove this label?

[2022-04-28 09:26] fabriziopandini commented on #5699
This is the explanation from the Kubernetes contributors guide https://www.kubernetes.dev/docs/guide/help-wanted/

[2022-04-28 09:28] chrischdi opened #6458 "Cluster API State Metrics implementation"
Follow-up issue to track implementation of the merged proposal
* #6404

as follow-up to

* #1477

Current state is that the contribution PR needs to be done for https://github.com/mercedes-benz/cluster-api-state-metrics to the `exp/state-metrics` directory which is WIP at the branch https://github.com/mercedes-benz/cluster-api/tree/exp/casm-introduce .

**User Story**
[xref proposal user stories](

[2022-04-28 09:58] fabriziopandini commented on #6321
@sbueringer let's add the mount also for workers, it won't hurt...

[2022-04-28 10:00] fabriziopandini commented on #6458
/milestone v1.2

[2022-04-28 10:50] cmoulliard opened #6459 "DockerCluster.loadbalancer configuration: failed to create directory /usr/local/etc/haproxy/haproxy.cfg"
## Issue

The `DockerCluster.loadbalancer` cannot create the following configuration file `/usr/local/etc/haproxy/haproxy.cfg`

[code]

## Expected Behavior

Cluster should be created

## Versions
[code]

##  Steps to Reproduce the Bug

- Launch a fedora35 VM
- Install clusterctl
- Execute these commands
[code]

[2022-04-28 12:36] RobinDeBock commented on #6321
---

**To conclude this approach, I am going to add my notes below.**

---

## Check if docker.sock is accessible and working

The Docker daemon communicates with the node / Pods via the docker socket. There are ways to check if the daemon is listening on the other side. Here will be checked whether or not the socket is present and communication is possible.

When the socket is present this comman

[2022-04-28 13:14] sbueringer commented on #6321
@RobinDeBock WDYT about taking a look together via a Zoom session? I'm not sure how soon I'll be able to make some time, but you can ping my in Slack (sbueringer)

[2022-04-28 14:34] RobinDeBock commented on #6321
It seems there has been a misunderstanding, that output was just of my normal system, not for the template. I'll provide the command outputs after provisioning the quickstart-cluster.
I'll use my notes regarding this topic. Below these notes I included the requested command outputs of your other questions @sbueringer .

---

###  Creating the quickstart-cluster based on the quickstart template clu

[2022-04-28 15:32] sbueringer commented on #6321
I think your problem is that the DockerMachineTemplate for the MachineDeployment doesn't have the mount as I wrote here: https://github.com/kubernetes-sigs/cluster-api/issues/6321#issuecomment-1110540975

Can you add the extraMounts to the DockerMachineTemplate in `quick-start-default-worker-machinetemplate` quickstart yaml

[2022-04-28 15:39] sbueringer commented on #6321
Details can be seen here: https://github.com/kubernetes-sigs/cluster-api/pull/6460

[2022-04-28 19:44] fabriziopandini commented on #6459
/milestone v1.2

It would interesting to understand what is causing

it could be CAPD itself when triggering config reload, but I'm not 100% sure because this is the first time I see this error...

however, we should take a look on how make this idempotent/re-entrant or at least add a backoff retry for this operation

[2022-04-28 19:46] fabriziopandini commented on #6007
/lifecycle frozen

[2022-04-28 19:47] fabriziopandini commented on #6007
/priority important-soon

[2022-04-29 06:12] sbueringer commented on #6459
xref: https://github.com/vmware-tanzu/community-edition/issues/4201#issuecomment-1112903158

[2022-04-29 12:45] RobinDeBock commented on #6321
Thanks for your suggestion @sbueringer . I tried multiple approaches, but sadly none of them work.

---

### Using the updated template to provision the new cluster
I pulled the file from GitHub which you updated. However when provisioning a cluster based on this file, no cluster appears in my management cluster, just like in https://github.com/kubernetes-sigs/cluster-api/issues/6321#issuecomment-

[2022-04-29 12:46] sbueringer commented on #6285
How would an implementation that drains DaemonSets look like?

Regarding the variant with drain: is it something like: our machine controller would set a taint and then delete all DaemonSet pods? (the taint would be so the DaemonSet pods are not getting rescheduled).
(I'm not sure if just setting a taint evicts already running Pods from a Node)

Would we just evict all DaemonSet Pods? As far as I'

[2022-04-29 12:59] sbueringer commented on #6321
Can you post the output of `kubectl get dockermachine -A -o yaml` and kubectl logs of the capd controller of your "master" cluster?

[2022-04-29 13:40] RobinDeBock commented on #6321
This is additional information on my `master-cluster` following my comment "Updating the YAML file for my 'master-cluster'."  https://github.com/kubernetes-sigs/cluster-api/issues/6321#issuecomment-1113270985
Thanks in advance for your feedback.

---

- Output of `kubectl get dockermachine -A -o yaml`
[code]
- Kubectl logs of the `capd-controller-manager` on `master-cluster` --> Pod isn't there ye

[2022-04-29 13:51] sbueringer commented on #6321
Sorry but I'm totally confused. I thought you moved Cluster API controller and the master Cluster to the master cluster via clusterctl move?

[2022-04-29 14:14] invidian opened #6464 "Improve documentation on adding new API fields with conversion code and tests"
**User Story**

As a CAPI developer I would like to know exactly what are the steps required to add new API fields to CAPI types, including required conversion code to limit time spent making unit tests to pass.

**Detailed Description**

It seems many people struggle with making fuzzing conversion unit tests to pass after they modify the API fields, as even after modifying the types and running c

[2022-04-29 14:41] sbueringer commented on #6464
/kind documentation

[2022-04-29 14:45] RobinDeBock commented on #6321
Using the YAML that can be found in the initial question: https://github.com/kubernetes-sigs/cluster-api/issues/6321#issue-1175518091 and by passing the Kubernetes version.

<details>
  <summary>kind-management-cluster.yaml (Click to expand)</summary>

[code]
</details>

[code]

[2022-04-29 17:43] mboukhalfa opened #6465 "[e2e tests] Add CNIManifestPath and namespaces as inputs to ClusterctlUpgradeSpec"
**User Story**

In order to reuse `ClusterctlUpgradeSpec` with CAPM3 we might need the possibility to set clusters namespace and `CNIManifestPath` in `ClusterctlUpgradeSpecInput`.

**Detailed Description**

CAPM3 provider requires `BMH` CRs available in the same namespace before creating the cluster. However, since the `ClusterctlUpgradeSpec` creates dynamic and random namespaces without giving an

[2022-05-01 12:36] palnabarun commented on #6450
/assign

[2022-05-01 18:00] li3 opened #6468 "Unable to install on EKS with custom CNI"
**What steps did you take and what happened:**

1. Create an EKS cluster
2. Remove aws vpc CNI
3. Install a custom CNI like Cilium or Calico running in tunnel mode
4. Run `clusterctl init`
5. Install will timeout waiting for cert manager to become ready.

**What did you expect to happen:**

Actually I think this is expected given the current state of things. With EKS the control plane cannot parti

[2022-05-02 08:49] invidian opened #6469 "CABPK generated Ignition bootstrap data ignores file ownership"
**What steps did you take and what happened:**

If specified:
[code]

`owner` field from file is neither rejected or used.

**What did you expect to happen:**

Created file `/test-file` using the configuration above to be owner by `nobody:nobody` on provisioned node using Ignition.

**Anything else you would like to add:**

Found while investigating #6403.

**Environment:**

- Cluster-api version:

[2022-05-02 08:49] invidian commented on #6469
/assign

[2022-05-02 09:11] invidian opened #6470 "CABPK generated Ignition bootstrap data does not decompress gzipped file content"
**What steps did you take and what happened:**

Similar to #6403, gzipped files are not supported either.

**What did you expect to happen:**

CABPK to either properly handle gzipped files or reject the unsupported configuration.

**Anything else you would like to add:**

Found while investigating #6403

**Environment:**

- Cluster-api version: v1.1.0

/kind bug

[2022-05-02 09:11] invidian commented on #6470
/assign

[2022-05-02 12:51] RobinDeBock commented on #6321
Yes I did. You'll see in my next message following this quickstart leads to the error.

[2022-05-02 14:55] invidian commented on #6469
Interesting. So this is how cloud-init currently handles file ownership in `write_files` module:
https://github.com/canonical/cloud-init/blob/dd87c034b341eda97b3c752d0ed272bf18c8178c/cloudinit/util.py#L356-L369
[code]

However, Ignition does support file ownership via UID/GID, so we could potentially support more options with Ignition.

[2022-05-02 15:35] timoreimann opened #6471 "Support idempotent clusterctl init usage"
**User Story**

As a developer/operator I would like to run `clusterctl init` with specific provider flags/versions in an idempotent way to simplify developer workflows.

**Detailed Description**

In my organization, developers use (a wrapped version of) `clusterctl` to bring up clusters for development and testing purposes. We want to enforce specific provider versions to ensure consistent behavi

[2022-05-02 15:58] CecileRobertMichon commented on #6442
Trying to summarize in writing what I said during office hours:

- I'm personally +1 to smaller, more frequent CAPI releases. More frequent, smaller releases are easier to adopt for providers, especially since CAPI feature velocity is still very high. For end-users, upgrading the CAPI version when the new "minor" release contains hundreds of commits is scary.
- The downside to more frequent releas

[2022-05-02 16:27] vincepri commented on #6471
cc @ykakarap

/milestone v1.2
/area clusterctl

[2022-05-02 19:26] Jont828 commented on #5491
Just to add on, Jack and I have been working on [this repo](https://github.com/Jont828/cluster-api-addon-helm) as a prototype based on Fabrizio's add on orchestration proposal.

[2022-05-02 20:41] invidian commented on #6403
WIP PR with the fixes: https://github.com/kubernetes-sigs/cluster-api/pull/6472

[2022-05-02 23:52] ykakarap commented on #6471
This sounds like a good addition and from the slack discussion referenced in the issue it looks like we have agreement on this.

I opened a #6474 to make `clusterctl init` idempotent.

In the meantime another way to check if a provider is installed on the cluster could be to use `k get providers`.
This lists the providers installed on the cluster (if the providers are installed with `clusterctl in

[2022-05-03 06:40] mweibel commented on #6448
#6395 helps indeed.

We added the log in our fork due to the fact that in windows, cloudbase-init only logs the details after it completed. That means when kubeadm join or another pre/post script is hanging for some reason, we don't see it at all, because the machine is shutdown before we see any logs.
I haven't checked linux in detail (as in general there it just works), but I'd guess there it lo

[2022-05-03 07:15] cmoulliard commented on #6128
Is it documented somewhere that we must update CAPA to at least 1.0.4 to avoid this issue that we have with 1.0.1, 1.0.2 ... ? @sbueringer

[2022-05-03 11:51] chrischdi commented on #6321
@RobinDeBock : Let's continue discussion here :-)

If I'm understanding clusterctl correctly: it will make use of the fixed yamls as soon as there is a new release and updated clusterctl version, or you can use the `--from` flag to specify the source template and use another template.

You can use a local file or fetch the file from github, e.g. to use the clusterclass template of #6473 :
[code]

[2022-05-03 12:01] killianmuldoon commented on #5770
/remove-lifecycle stale

[2022-05-03 12:35] killianmuldoon commented on #6391
@sbueringer that's a fair assessment. What does our support horizon look like for v1beta2 kubeadm APIs?

[2022-05-03 12:38] killianmuldoon commented on #1477
@sbueringer I think this issue is very old and has gone through too many transformations to be really useful anymore so any future work should go in newer more scoped issues.

I'm not sure exactly what specific metrics exposed by controllers we'd be missing by closing this issue now though.

[2022-05-03 15:27] isaacdorfman opened #6476 "Machine::IsBootstrapped will wait indefinitely if "kubeadm init" fails"
**What steps did you take and what happened:**
This does not cause the system to crash but many implementations get stuck because of this issue.
*Create a machine where "kubeadm init" fails.
*Wait for "/run/cluster-api/bootstrap-success.complete" to be created.
*Get stuck indefinetly.

**What did you expect to happen:**
If kubeadm fails then there is no way for an external control to know if it fa

[2022-05-03 20:56] voor opened #6477 "Create an external name service upon cluster creation"
**User Story**

Creating this:

[code]

Whenever a new cluster is created, and mutating as the underlying provider changes that field as well.

**Detailed Description**

Based heavily on https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2902 but a leaner slice that focuses purely on enabling external-dns to work better with Cluster API, and moving it up to the cluster-api level to

[2022-05-04 10:45] killianmuldoon commented on #6476
/area control-plane

I think it's a good idea to fix this - I'll take a look into it and see what the options are. @isaacdorfman what process do you think should watching the new sentinel file or report the bootstrap failure?

[2022-05-04 21:31] invidian commented on #4279
/remove-lifecycle stale

[2022-05-04 21:31] invidian commented on #4278
/remove-lifecycle stale

[2022-05-05 00:45] chymy commented on #5325
/remove-lifecycle stale

[2022-05-05 04:55] DiptoChakrabarty commented on #6246
/assign

[2022-05-05 07:05] killianmuldoon commented on #4288
/remove-lifecycle stale

[2022-05-05 11:16] RobinDeBock commented on #6321
I'm here with probably the last update, **it finally works**!

In consultation with @VerwaerdeWim, he managed to find a solution. In the meantime the pull request (https://github.com/kubernetes-sigs/cluster-api/pull/6473) has already been approved and the changes will be available next update of Cluster API. I'll list the problem cause and solution below, followed by additional comments.

https://

[2022-05-05 11:17] #6321 closed

[2022-05-05 12:24] danrca opened #6484 "panic: runtime error: invalid memory address or nil pointer dereference - Reconciling Bastion"
**What steps did you take and what happened:**
Was working through the quickstart guide. Dropped it down to 1 machine since I was having issues with working machines coming up. It was complaining about certs, so I added "verify=false" to ignore that for the time being.  This is on openstack without a loadbalancer.

clusterctl generate cluster capi-quickstart --flavor without-lb --kubernetes-versio

[2022-05-05 12:32] danrca commented on #6484
Ok, yes my bad. It should be over there. I'll close it out.

[2022-05-05 12:32] #6484 closed

[2022-05-05 13:30] killianmuldoon commented on #5968
https://github.com/kubernetes-sigs/cluster-api/pull/6467 for controller runtime and k8s dependencies update.

[2022-05-05 15:14] killianmuldoon commented on #6468
It might be a good idea to raise this issue over at the Cluster API Provider AWS repo to get input from people who really know the ins and outs of EKS and Amazon's networking solution.

I'm sure I don't understand the full context here, but with clusterctl if you already have cert manager installed installation should be skipped automatically.

[2022-05-05 17:58] li3 commented on #6468
Ahh interesting, we never got that to work reliably.

We did work around this issues by dropping our dependency on clusterctl. We used kustomize to pull in the `cluster-api-components.yaml` and patched over all the environment variable substitutions + host networking bits for all the web hooks. We did the same for the infrastructure providers that we needed. Not a great solution but kept us moving

[2022-05-06 03:42] sathieu opened #6486 "Creating a provider repository on GitLab (gitlab.com or self-hosted)"
**User Story**

As an operator I would like to create  a provider repository on GitLab (gitlab.com or self-hosted) for airgapped installations.

**Detailed Description**

Currently, [provider](https://cluster-api.sigs.k8s.io/clusterctl/configuration.html#provider-repositories) overrides support only [github](https://cluster-api.sigs.k8s.io/clusterctl/provider-contract.html#creating-a-provider-repo

[2022-05-06 03:43] sathieu commented on #6486
/kind feature

[2022-05-06 21:06] IshmeetMehta opened #6489 "Provide CAPI specific information about the cluster."
**User Story**

As a cluster admin and operator I would like to know whether the cluster is managed by CAPI or not.

**Detailed Description**

As a cluster admin and operator,I would like to add a specific [clusterProperty](https://github.com/kubernetes-sigs/about-api) using [about api](https://github.com/kubernetes-sigs/about-api).
This clusterproperty should provide the following information abo

[2022-05-07 01:27] ykakarap commented on #5941
/remove-lifecycle stale

[2022-05-07 01:28] ykakarap commented on #5864
/remove-lifecycle stale

[2022-05-08 21:05] fabriziopandini commented on #6321
@RobinDeBock thanks for the detailed report about your discovery, really appreciated it!

[2022-05-08 21:18] fabriziopandini commented on #6073
/lifecycle frozen
/good-first-issue

+1 to change to have consistently two code blocks, one with the command - so it can be easily copied and executed locally - and one with the output

[2022-05-08 21:21] fabriziopandini commented on #6486
/milestone v1.2
/area clusterctl

[2022-05-08 21:26] fabriziopandini commented on #6468
+1 to transfer on the Cluster API Provider AWS repo (@li3 could you take care of this, I don't have grant to do so with the transfer issue feature)
@sedefsavas @pydctw @richardcase if there are changes we can do in order to simplify UX for managed providers, we should consider to add them on the ongoing proposal

[2022-05-08 21:33] fabriziopandini commented on #5309
/lifecycle frozen
/help

[2022-05-08 21:34] fabriziopandini commented on #5341
/lifecycle frozen

[2022-05-08 21:35] fabriziopandini commented on #5370
/remove-lifecycle stale
@killianmuldoon it would be great if we can break down this is few, smaller actionable items

[2022-05-08 21:36] fabriziopandini commented on #5332
/lifecycle frozen
/kind api-change

To re-consider for the next API version

[2022-05-08 21:37] fabriziopandini commented on #5332
/milestone Next

[2022-05-08 21:38] fabriziopandini commented on #3881
/remove-lifecycle stale

[2022-05-08 21:39] fabriziopandini commented on #3279
/remove-lifecycle stale

[2022-05-08 21:40] fabriziopandini commented on #4902
@neolit123 is there any update in kubeadm/kubelet for this effort?

[2022-05-08 21:49] fabriziopandini commented on #5809
I think this will be less important when topology mutation hook will be available, but let's keep this around waiting for user feedback
/remove-lifecycle stale

[2022-05-08 21:50] fabriziopandini commented on #5845
@sayantani11 any update on this issue?

[2022-05-08 21:51] fabriziopandini commented on #5859
/lifecycle frozen

[2022-05-08 21:52] fabriziopandini commented on #5936
/lifecycle-frozen

[2022-05-08 21:54] fabriziopandini commented on #5435
/remove-lifecycle stale
@sbueringer to update/merge with other issue given I know he did some work in this area

[2022-05-08 21:56] fabriziopandini commented on #5472
/close
As per the comment above I don't see us moving in this direction, we can eventually reconsider if there is consensus

[2022-05-08 21:56] #5472 closed

[2022-05-08 21:57] fabriziopandini commented on #5393
/remove-kind bug
/remove-lifecycle stale
/help

[2022-05-08 21:57] fabriziopandini commented on #5453
/remove-lifecycle stale

[2022-05-08 21:57] fabriziopandini commented on #5453
/help

[2022-05-08 22:00] fabriziopandini commented on #5939
/remove-lifecycle stale
/help

[2022-05-08 22:02] fabriziopandini commented on #5783
/remove-lifecycle stale

[2022-05-08 22:02] fabriziopandini commented on #5937
@killianmuldoon is this test still flaky?

[2022-05-08 22:03] fabriziopandini commented on #5673
/remove-lifecycle stale
/priority-important-soon
I think we should reconsider this given that ClusterClass adoption is growing...

[2022-05-08 22:05] fabriziopandini commented on #5760
/remove-lifecycle stale
/good-first-issue

[2022-05-08 22:07] fabriziopandini commented on #5705
/remove-lifecycle stale

[2022-05-08 22:07] fabriziopandini commented on #5705
/help

[2022-05-08 22:07] fabriziopandini commented on #5648
/remove-lifecycle stale

[2022-05-08 22:07] fabriziopandini commented on #5648
This could be a nice addition
/help

[2022-05-08 22:16] fabriziopandini commented on #6477
I'm not sure I fully understand the request. A couple of questions to better understand the use case:
Should this behavior be opt-in or it is expected to be the default behavior for all the clusters, no matter if using external-dns or not?
The external name seems provider-specific, how can be this generalized to other providers?

[2022-05-08 22:31] fabriziopandini commented on #6476
I'm personally -1 to write failure into "/run/cluster-api/bootstrap-success.complete" because IMO this could cause confusion unless we change the name of the file/the current contract about it, so tagging this as feature.
/remove-kind bug
/kind feature
/milestone v1.2

Q: How are you running "Wait for "/run/cluster-api/bootstrap-success.complete" to be created.", is that implemented using post kub

[2022-05-08 22:37] fabriziopandini commented on #5230
[The ](https://github.com/kubernetes-sigs/cluster-api/pull/6418) is going to provide the foundation for this work; after this is merged we should check if there are missing items to be addressed of if we can close this issue
/remove-lifecycle stale

[2022-05-08 22:37] fabriziopandini commented on #5145
/remove-lifecycle stale

[2022-05-08 22:38] fabriziopandini commented on #5623
/remove-lifecycle stale
@killianmuldoon is this still something that we want to implement?

[2022-05-08 22:41] fabriziopandini commented on #1477
/close
we can open new issue as soon as we have actionable items for metrics exposed by our controllers

[2022-05-08 22:41] #1477 closed

[2022-05-08 22:47] fabriziopandini commented on #6465
/area testing
/milestone v1.2

[2022-05-08 22:49] fabriziopandini commented on #6464
What about moving this doc to the kubebuilder book, so a wider community can benefit from these notes (we can then reference from the CAPI book)

[2022-05-08 22:57] voor commented on #6477
This should definitely be opt-in and probably behind a feature gate in Cluster API, since the behavior might not be preferable.

That being said, it does create a neat little area for Cluster API, since it could actually leverage this `Service` inside the management cluster as a means to abstract out the server addresses inside the kubeconfig file.

My example is using something provider specific,

[2022-05-09 07:32] neolit123 commented on #4902
We are waiting to see if the user namespace kep will make alpha in 1.25.
I think the kubeadm alpha  rootless cp e2e might be enough signal, so you can put the capi e2e on hold. If the kubeadm rootless cp goes beta capi can add e2e too.

[2022-05-09 08:42] enxebre commented on #5453
This might be addressed as part of https://github.com/kubernetes-sigs/cluster-api/pull/6025#discussion_r822561480

[2022-05-09 11:00] chrischdi commented on #6448
I remember seeing this log issue to but I think this needs to get addressed at image-builder.

For linux it is because of this configuration: https://github.com/kubernetes-sigs/image-builder/blob/master/images/capi/ansible/roles/providers/files/etc/cloud/cloud.cfg.d/05_logging.cfg#L67 .

` | python3 -c 'import sys,time;sys.stdout.write("".join(( " ".join((time.strftime("[%Y-%m-%d %H:%M:%S]", time.

[2022-05-09 11:38] fabriziopandini commented on #6477
@yastij ^^

[2022-05-09 12:52] voor commented on #6477
This originally stemmed from the motivation that certain IP Addresses or DNS names might be extremely difficult to recreate if lost.  I'm realizing that if Cluster API actually used **this** `Service` name in the kubeconfig or other files instead of the other way around you could actually still achieve this level of resiliency.  The downside is that the UX on just grabbing the kubeconfig secret wo

[2022-05-09 14:51] killianmuldoon commented on #5623
@fabriziopandini I think this is worthwhile, and I don't think there's too much work involved. Let me take another look at it and I'll either do a PR or add some steps on how to introduce these checks into the reconciler and add a help-wanted tag.

[2022-05-09 19:46] sbueringer commented on #5435
Let's close this issue for now in favor of https://github.com/kubernetes-sigs/cluster-api/issues/5490

I'll update the issue hopefully soon and then probably create a separate issue for certificate renewal.

As of today the answer to the question in the issue title is no.

/close

[2022-05-09 19:46] #5435 closed

[2022-05-09 20:11] sbueringer commented on #6464
I think the make targets, backup/restore via the annotation and the fuzz tests are CAPI specific. Not sure if there is a good way to integrate this in the kubebuilder book.

[2022-05-10 02:38] srm09 opened #6493 "Updating the manager roles for CAPI and KCP"
**User Story**

In CAPV, we created a new API group `vmware.infrastructure.cluster.x-k8s.io` which is used to support the VMService in supervisor cluster. To get this to work with CC, we need to amend the CAPI and KCP manager roles to include the types included in the API group.
Just looking for thoughts on what would be the best way to do this?

**Detailed Description**

[A clear and concise desc

[2022-05-10 07:52] fabriziopandini commented on #6493
@srm09 it seems that this API group is provider specific. What about having CAPV adding additional RBAC rules for CAPI?

[2022-05-10 07:54] fabriziopandini commented on #6493
Another option is to leverage on aggregated roles as documented in https://cluster-api.sigs.k8s.io/developer/providers/machine-infrastructure.html#cluster-api-controllers

[2022-05-10 08:14] fabriziopandini commented on #6477
If I got this right the intent is to create a layer of indirection between CAPI and the infrastructure load balancer, we should consider pros and cons.
- this solution does not help to fix the workload cluster in case the LB address changes; the LB address is stored in many places both inside the cluster and internally to the machines, and there is no procedure to update it (this has been discusse

[2022-05-10 09:40] killianmuldoon commented on #5937
Apparently not - happy to close this for now.

:slightly_smiling_face:

[2022-05-10 09:40] killianmuldoon commented on #5937
/close

[2022-05-10 09:41] #5937 closed

[2022-05-10 10:40] sbueringer commented on #6160
@ShivamTyagi12345 Are you currently working on this issue? Please let us know if there's anything we can do to help.

[2022-05-10 12:59] sbueringer commented on #6493
I think this should be done via aggregated roles (`cluster.x-k8s.io/aggregate-to-manager`).

Note: there's a similar one for KCP.

[2022-05-10 13:27] #6156 closed

[2022-05-10 13:43] #5941 closed

[2022-05-10 13:43] #6381 closed

[2022-05-10 14:00] sbueringer commented on #6128
This is the expected behavior at this time. For discussions about potential alternative implementations please see: https://github.com/kubernetes-sigs/cluster-api/issues/3982

[2022-05-10 14:07] sbueringer commented on #6470
/area bootstrap

[2022-05-10 14:07] sbueringer commented on #6469
/area bootstrap

[2022-05-10 14:08] sbueringer commented on #6403
/area bootstrap

[2022-05-10 14:13] sbueringer commented on #6391
We started using v1beta3 for Kubernetes >v1.22 clusters. So basically we can drop them once we don't support v1.21 clusters anymore. I have no idea when that is.

[2022-05-10 14:47] sbueringer commented on #4279
Depends on CR issues:
* https://github.com/kubernetes-sigs/controller-runtime/issues/1896
* https://github.com/kubernetes-sigs/controller-runtime/issues/1788

[2022-05-10 14:48] sbueringer commented on #5325
As far as I can tell this has been implemented via: https://github.com/kubernetes-sigs/cluster-api/issues/6381

@chymy Please reopen if necessary.

/close

[2022-05-10 14:48] #5325 closed

[2022-05-10 15:56] fabriziopandini commented on #1271
/unassign

[2022-05-10 15:57] fabriziopandini commented on #3700
/unassign

[2022-05-10 15:57] fabriziopandini commented on #3779
/unassign

[2022-05-10 15:58] fabriziopandini commented on #3828
/unassign

[2022-05-10 15:58] fabriziopandini commented on #4936
/unassign

[2022-05-10 15:58] fabriziopandini commented on #5598
/unassign

[2022-05-10 15:58] fabriziopandini commented on #5634
/unassign

[2022-05-10 15:59] fabriziopandini commented on #6320
/assign

[2022-05-10 18:10] fabriziopandini commented on #6320
After investigating the problem, some prototyping and discussions I'm proposing the following way forward:

- In CAPI:
   - change the topology controller in order to use [server side apply patches](https://kubernetes.io/docs/reference/using-api/server-side-apply/); this will ensure we are adopting an approach consistent with the rest of the ecosystem

- In providers:
   - if required API should b

[2022-05-10 18:58] fabriziopandini commented on #4621
@sbueringer thanks this is good news.
Might be also an opportunity to start using version-aware patches across the board.

[2022-05-10 19:44] jsturtevant commented on #6156
Sorry a little late, missed the notification.  This should work for windows as cloudbase-int 1.1.2 does have support for `append` property: https://github.com/cloudbase/cloudbase-init/commit/f09dc6431a624e45aa2ac4d00cfe400f49b3331c

[2022-05-10 19:50] fabriziopandini commented on #6489
I like the idea of starting to document cluster properties, this is something that can be useful in many scenarios.
However, I have a background question WRT the [about api](https://github.com/kubernetes-sigs/about-api). Is there a plan to make this part of the Kubernetes API/a sort of commitment/roadmap from other SIGs to adopt this idea?

[2022-05-10 20:00] fabriziopandini commented on #6442
Thanks for the great summary!
(hopefully) I can work on an updated version of our support policy document sometime after KubeCon; if someone wants to take a stab at this before I can get to it or pair in this effort, feel free to jump in

[2022-05-10 20:09] srm09 commented on #6493
My thought was to use the aggregation rule as well, wanted inputs from the community around if there is another way to achieve it. Makes sense though, thanks!

[2022-05-10 20:27] fabriziopandini commented on #5519
/unassign

[2022-05-11 08:52] sbueringer commented on #4621
Just fyi, we might have to implement this in https://github.com/kubernetes-sigs/cluster-api/pull/6480 to get v1.24 to work.

[2022-05-11 09:53] sathieu opened #6497 "Nodes without cloud provider"
**User Story**

As a operator I would like to install nodes without cloud provider, because I don't want to give access to cloud API from those nodes.

**Detailed Description**

I'm using [cluster-api-provider-vsphere](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere) to provision machines, and I've removed the CPI and CSI from the [cluster template](https://github.com/kubernetes-si

[2022-05-11 12:22] sbueringer commented on #6497
Q: Can't you just run CPI only on control-plane nodes? (but that's probably the default already?)

Do you only want to avoid giving the access on certain nodes or on all nodes?

[2022-05-11 12:43] sathieu commented on #6497
@sbueringer CPI is also problematic on control-plane nodes.

I want to avoid giving the access on all nodes.

[2022-05-11 12:44] sathieu commented on #6497
Here is my current workaround from from a restricted area:

[code]

[2022-05-11 13:06] fabriziopandini commented on #6493
/remove-kind feature
/kind support

/close
@srm09 closing this given that there is not follow up work in CAPI; feel free to re-open if you need more help

[2022-05-11 13:06] #6493 closed

[2022-05-11 13:47] sbueringer commented on #6442
Regarding cert-manger: Looks like they are re-considering their release cadence: https://docs.google.com/document/d/1Tc5t6ylY9dhXAan1OjOoldeaoys1Yh4Ir710ATfBa5U/edit#heading=h.7h8rkitcxn99

[2022-05-11 16:35] #6470 closed

[2022-05-11 17:14] sbueringer commented on #493
/remove-lifecycle stale
/lifecycle active

[2022-05-11 18:27] fabriziopandini commented on #5673
I'm considering moving on with the suggested approach; adding some more considerations
- I would prefer to have consistency across CAP*, so I suggest adding allowed namespace to a ClusterClass, similar to what we have in [CAPA](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/913ee944c83f94549f4ebd0afc618e0bf7053598/api/v1beta1/awsidentity_types.go#L24-L51)
- If `allowedNamespace`

[2022-05-11 18:36] sbueringer commented on #5673
Sounds good, one comment:
* we might want to not add `NamespaceList` if we're fine to say that a label selector against the `kubernetes.io/metadata.name` label is only safe / works (?) with Kubernetes >= 1.21
    * grep for `When Cluster API no longer supports Kubernetes versions older than Kubernetes v1.21` in https://github.com/kubernetes-sigs/cluster-api/pull/4514/files

[2022-05-12 00:31] CecileRobertMichon commented on #5673
+1

Another use case for this: in provider e2e tests, we provide one namespace per test cluster but want to reuse the same clusterclass and install it in BeforeSuite https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2235/files#r865122163

[2022-05-12 00:35] CecileRobertMichon commented on #5673
If allowedNamespace is empty, the ClusterClass can be used only within the same namespace, otherwise only in the namespaces specified (TBD if the same namespace is always included)

Not sure what CAPA does but in CAPZ if allowedNamespaces is empty it allows all namespaces (as opposed to only the current one) https://capz.sigs.k8s.io/topics/multitenancy.html#allowednamespaces

Would be beneficial f

[2022-05-12 01:35] tranthang2404 opened #6500 "Cluster Resource Set doesn't apply priority follow"
https://github.com/kubernetes-sigs/cluster-api/blob/dd89b090ec478481738de723f94c38c81916da3e/exp/addons/internal/controllers/clusterresourceset_helpers.go#L84-L91

Problem in line 86, `objs` need be replace `sortedObjs`

[2022-05-12 05:17] sbueringer commented on #5673
I'm not sure if that is an issue. `clusterctl generate` automatically includes the ClusterClass when generating the Cluster. In core CAPI today we use the same ClusterClass in multiple tests and it gets automatically applied in different namespaces because `clusterctl generate` includes it automatically. So if the requirement is only to reuse the same ClusterClass across multiple tests you don't h

[2022-05-12 05:21] sbueringer commented on #6500
@tranthang2404 Sounds good, nice catch!

[2022-05-12 06:53] tranthang2404 commented on #6500
I made a PR but I don't know how to make it to be review

[2022-05-12 07:16] sbueringer commented on #6500
It's fine as is. We'll take a look

[2022-05-12 07:22] chrischdi opened #6504 "Current v1beta1 API Types do not define list-type annotation"
**What steps did you take and what happened:**

While implementing #6462 I stumbled across the warning that we do not define `list-type` for slices in our v1beta1 structs:

[code]

This should be the same also for occurencies in `v1alpha3` and `v1alpha4`.

**What did you expect to happen:**

API rule violation warning does not occur

**Anything else you would like to add:**

Adding the list-type h

[2022-05-12 07:59] sbueringer commented on #6504
Sounds good to me,
I'm generally +1 to follow the best practice to define the list type.

In personally wouldn't consider this a breaking change. I think depending on how we set it, it could make the merge behavior of kubectl more precise, but I think that's rather a bugfix.

[2022-05-12 08:31] sbueringer opened #6505 "RuntimeSDK: Improve Runtime Hook Swagger documentation"
**User Story**

As a user I would like to be able to get sufficient self-explanatory information to implement RuntimeHooks via the generated Swagger documentation/specification.

**Detailed Description**

This is a follow-up to #6455 (specifically: https://github.com/kubernetes-sigs/cluster-api/pull/6455#discussion_r870343550 & https://github.com/kubernetes-sigs/cluster-api/pull/6455#discussion_r8

[2022-05-12 08:37] sbueringer opened #6506 "RuntimeSDK: Consider using shared structs in RuntimeHook API types"
Based on the (already merged) Discovery hook and the current state of the "Topology Mutation Hook" and "Runtime Hooks for Add-on management" proposals we will have some shared fields in our response types (status, message, retryAfterSeconds).

We currently define them in each struct. To avoid repeatedly defining the same fields we should consider establishing common structs which we can then embed

[2022-05-12 10:01] tranthang2404 commented on #6500
Thank you !

[2022-05-12 10:34] sbueringer opened #6507 "RuntimeSDK: seamless certificate handling for RuntimeExtensions"
**User Story**

As a RuntimeExtension developer I would like to use the same cert-manager based mechanism to generate and use a certificate for the RuntimeExtension endpoint like we do for provider webhooks today (as we also want to use HTTPs to call RuntimeExtensions).

**Detailed Description**

Some context about cert-manager usage in CAPI today:
1. per provider we create an Issuer and a Certifi

[2022-05-12 10:38] sbueringer commented on #6507
/cc @chrischdi @fabriziopandini @vincepri

[2022-05-12 12:37] sbueringer commented on #6094
This has been implemented for the clusterctl upgrade test: https://github.com/kubernetes-sigs/cluster-api/pull/6184
So I thin only doing the same for the self-hosted test is left.

[2022-05-12 14:43] fabriziopandini opened #6509 "Fix CAPD quick-start and E2E to adapt with changes in Kind v0.13"
**What steps did you take and what happened:**
Kind v0.13 switched images to systemd cgroup driver and thus we have to adapt quick-start and E2E to work on 1.24.

In order to make this happen,

- We have to upgrade the kind version used in our CI to 0.13
- We are going to switch the CAPD quick-start to use ClusterClass by default, so we can leverage version-aware patch in order to have a single te

[2022-05-12 15:00] sbueringer commented on #6509
fyi, it's highly likely this will also fix https://github.com/kubernetes-sigs/cluster-api/issues/4621

[2022-05-12 22:56] altonf4 opened #6511 "Allow configuration of TLS Version for Webhook servers"
The current MinTLSVersion that the webhook servers (cabpk/capi/kcp) start with is 1.0. This is a potential security vulnerability.

With controller-runtime v0.9.x+(https://github.com/kubernetes-sigs/controller-runtime/pull/1620/), the controller-runtime Manager supports configuration of this via `MinTLSVersion` in the webhook.Server values. Leveraging this directly via CAPI's webhook servers isn't

[2022-05-13 08:34] fabriziopandini commented on #5673
I'm not opposed at this behavior as well, however, I'm worried if this is "unsecure", given that if the user forgets to specify allowedNamespaces in a ClasterClass it is accessible from everywhere (instead of defaulting to the more restrictive behavior).

[2022-05-13 10:31] fabriziopandini commented on #6511
/milestone v1.2

In order to fix this in CAPI (and in the other controllers) IMO there should be a change in controller runtime allowing to set the flags introduced in https://github.com/kubernetes-sigs/controller-runtime/pull/1620 for the default webhook server, ideally via new flags added to the `manager.Options` struct similarly to what we already have for WebHook [Port and Host](https://github

[2022-05-13 10:35] fabriziopandini commented on #6074
/lifecycle frozen
/unassign @palnabarun
/help

[2022-05-13 10:36] fabriziopandini commented on #6507
/milestone v1.2

[2022-05-13 10:37] fabriziopandini commented on #6506
/milestone v1.2
Let's try do this while implementing type for topology mutation hooks or for lifecycle hooks

[2022-05-13 10:37] fabriziopandini commented on #6505
/milestone v1.2

[2022-05-13 10:39] fabriziopandini commented on #6504
+1
this goes in the direction of @JoelSpeed suggestions about API conventions
/milestone v1.2

[2022-05-13 11:02] JoelSpeed commented on #6504
+1

Today, because lists are atomic by default, clients will have to observe the entire list, make their updates, and patch the entire list. By adding these annotations, we won't break the existing usage as they will still allow sending the entire list.

Do we know if any of our controllers are already attempting to use server side apply? The only break I could think of is if any controllers are a

[2022-05-13 12:04] furkatgofurov7 commented on #6285
@enxebre @sbueringer  we have checked this again and confirmed that this problem still exists in a case where we have a deployment pod with a volume attached to it and that pod is **NOT** owned by a DaemonSet, so the above confirmation where we say `there is no issue when we have a volume not owned by a daemonset` is not accurate.

So, in short, it is not only DaemonSet specific issue but rather a

[2022-05-13 15:56] pydctw commented on #5673
@CecileRobertMichon, CAPA's behavior is same as CAPZ. If allowedNamespaces is empty, it allows all namespaces https://cluster-api-aws.sigs.k8s.io/topics/multitenancy.html#awsclustercontrolleridentity.

Not saying we should follow this behavior as I think @fabriziopandini has a valid concern. Just adding a data point as we always strive for consistency.

[2022-05-13 18:40] PushkarJ commented on #6151
/retitle Security Self Assessment - DEV-1: Update OWNERS file and associated permissions

[2022-05-13 18:41] PushkarJ commented on #6151
/retitle Security Self Assessment: [Dev-1] Update OWNERS file and associated permissions

[2022-05-13 18:41] PushkarJ commented on #6151
/retitle Security Self Assessment: [DEV-1] Update OWNERS file and associated permissions

[2022-05-13 18:42] PushkarJ commented on #6151
/sig security

[2022-05-13 18:44] PushkarJ commented on #5398
/retitle Security Self Assessment: [DEV-2] Verify vulnerability reporting process
/sig security
/area security

(This topic is being discussed in the community right now across SIG Security, Contribex and SRC. Cluster API sub-project may end up benefitting from the structural changes that this discussion creates)

[2022-05-13 18:45] PushkarJ commented on #6059
/retitle Security Self Assessment: [DEV-3] Setup Cluster API on oss-fuzz

[2022-05-13 18:46] PushkarJ commented on #6059
/area security
/sig security

[2022-05-13 18:56] PushkarJ commented on #3762
/area security
/sig security
/retitle Security Self Assessment: [STRIDE-SPOOF-4][STRIDE-SPOOF-5] Machine attestation for secure kubelet registration
(Feel free to retitle again, I am trying to update it with security self-assessment issue naming convention.)

[2022-05-13 18:58] PushkarJ commented on #6153
/retitle Security Self-Assessment: [STRIDE-TAMPER-1] Produce a SBoM
/sig security

[2022-05-13 19:10] PushkarJ commented on #5491
/retitle Security Self Assessment: [STRIDE-INFODISCLOSE-1] RFE cluster addons

[2022-05-13 19:10] PushkarJ commented on #5491
/sig security

[2022-05-13 19:19] PushkarJ commented on #5490
Security Self Assessment: [STRIDE-INFODISCLOSE-3] RFE: Improve certificate management in Cluster API

[2022-05-13 19:19] PushkarJ commented on #5490
/retitle Security Self Assessment: [STRIDE-INFODISCLOSE-3] RFE: Improve certificate management in Cluster API
/area security
/sig security

[2022-05-13 19:27] PushkarJ opened #6515 "Security Self Assessment: [STRIDE-DOS-1] Misuse of cloud credentials to create unlimited number of cloud resources"
**User Story**

As an operator, I would like to apply soft/hard limits on maximum number of cloud resources so that I don't end up exhausting cloud resources available

As an operator, I would like to apply rate limits on cloud resource creation request, so that I don't end up exhausting cloud resources available in a short period of time

**Detailed Description**

Snippet from Cluster API securit

[2022-05-13 19:38] PushkarJ opened #6516 "Security Self Assessment: [STRIDE-DOS-2] Misuse of Infra Admin credentials to create unlimited number of clusters"
**User Story**

As an operator, I would like to apply soft/hard limits on maximum number of clusters so that I don't end up exhausting available capacity
As an operator, I would like to apply rate limits on clusterctl and underlying APIs on concurrent and successive requests to create new clusters so that I don't end up creating large number of clusters in short period of time exhausting available

[2022-05-13 19:54] PushkarJ opened #6517 "Security Self Assessment: [STRIDE-DOS-3] Misuse of Infra Admin credentials to create unlimited number of nodes"
**User Story**

As an operator, I would like to apply soft/hard limits on maximum number of nodes so that I don't end up exhausting available capacity
As an operator, I would like to apply rate limits on clusterctl and underlying APIs on concurrent and successive requests to create new nodes so that I don't end up creating large number of nodes in short period of time exhausting available capacity

[2022-05-13 20:05] PushkarJ opened #6518 "Security Self Assessment: [STRIDE-DOS-4] Misuse of Infra Admin credentials to create unlimited number of CRDs to exhaust etcd storage"
**User Story**

As a an operator, I would like to set safe defaults on number of CRDs that can be created especially on a management cluster so that I don't exhaust underlying etcd storage

**Detailed Description**
Snippet from Cluster API security self-assessment: https://github.com/kubernetes/sig-security/pull/40
STRIDE-DOS-4 - Misuse of Infra Admin credentials to create unlimited number of CRDs

[2022-05-13 20:08] PushkarJ commented on #6329
/assign @PushkarJ

[2022-05-13 20:10] PushkarJ commented on #6152
/retitle Security Self-Assessment: [STRIDE-MULTIPLE] End-User Cluster API Security Guidance
/sig security

[2022-05-13 21:43] PushkarJ opened #6519 "Security Self-Assessment: [STRIDE-MULTIPLE] Cluster API Cloud Provider Security Guidance"
**User Story**

As a cloud provider I would like to know how to support Cluster API securely.

**Detailed Description**

- Ensure credentials used by Cluster API are least privileged and setting access control on Cluster API controller namespaces to prevent unauthorized access by anyone other than cloud admin.
- Implement 2FA for all maintainer accounts on Github. Apply the second pair of eyes pri

[2022-05-13 22:12] randomvariable opened #6520 "Supporting managed clusters without direct network connectivity"
**User Story**

As a designer of a Platform as a Service for multiple customers, I want to be able to provision managed clusters (e.g. EKS, AKS) without L2/L3 connectivity into the customer network.

**Detailed Description**

There are cases where someone wants to run a common cluster as a service offering, but as a service provider supporting multiple customers. Compliance and SecOps requirements

[2022-05-15 14:14] rajpopat27 commented on #6073
/assign

[2022-05-15 14:14] rajpopat27 commented on #6073
/lifecycle active

[2022-05-16 11:22] chrischdi commented on #6507
Description matches my research. I'm curious what feedback the cert-manager folks is 👍

[2022-05-16 19:52] srm09 commented on #5635
/unassign

[2022-05-17 09:52] sathieu commented on #4512
Is there any available workaround?

[2022-05-17 09:57] kopiczko commented on #4512
This is what we've done https://github.com/giantswarm/cluster-openstack/pull/41/files#diff-76a685e30df3f53a36ac87ed4b53b7f7a5c8721b75b36633ae9d697eff71090bR41

[2022-05-17 18:09] chrischdi opened #6526 "Makefile: make generate-go-openapi is broken if repository is not in GOPATH"
**What steps did you take and what happened:**

* Dependabot did create PRs to bump golangci-lint #6522 and the github.com/coredns/corefile-migration dependency #6522
* The follow-up GH Action runs `make generate` [here](https://github.com/kubernetes-sigs/cluster-api/blob/main/.github/workflows/dependabot.yml#L36)

This did results in
* unexpected content for the `zz_generated.openapi.go` files
*

[2022-05-17 18:13] chrischdi commented on #6526
For now we could fix the dependabot GH action by either:
* removing `make generate` which may be okay because we restrict dependabot to only bump `golangci-lint` and `github.com/coredns/corefile-migration` which both should not affect any generated code.
* adjusting the dependabot GH action to checkout cluster-api into `GOPATH`

On long-term we could take a look at  https://github.com/kubernetes/k

[2022-05-18 22:11] fabriziopandini opened #6527 "Update documentation for max CoreDNS version must be updated"
Documentation about [CoreDNS max supported version](https://cluster-api.sigs.k8s.io/reference/versions.html#kubeadm-control-plane-provider-kubeadm-control-plane-controller) must be updated according to https://github.com/kubernetes-sigs/cluster-api/pull/6525

A new line for v1.2 (v1beta1) | v1.9.2 must be added on the last table on the paragraph linked above

/kind documentation

[2022-05-18 22:11] fabriziopandini commented on #6527
/help
/good-first-issue

[2022-05-18 22:14] fabriziopandini commented on #5686
/lifecycle frozen

[2022-05-19 04:20] Xenwar opened #6528 "capi-kubeadm-bootstrap-controller in CrashLoopBackOff when infrastructure is not ready"
**What steps did you take and what happened:**
When provisioning a cluster with provider-openstack, there is was a quota limit as show below.

` Failure Message: OpenStack instance cannot be created: error creating Openstack instance: error creating Openstack instance: Request forbidden: [POST https: //openstack-instances:8774/v2.1/servers], error message: {“forbidden”: {“code”: 403, “message”: “Q

[2022-05-19 04:21] Xenwar commented on #6528
[code]

[2022-05-19 06:33] sbueringer opened #6529 "Automatically renew machine certificates"
**User Story**

As a user I would like to be able to configure ClusterAPI to automatically renew (machine) certificates.

**Detailed Description**

Today during machine bootstrap we create certificates via kubeadm with a 1 year expiry (e.g. apiserver serving certificates).
The goal of this issue is to make this expiry visible and to provide a way to automatically recreate machines before the certi

[2022-05-19 06:34] sbueringer commented on #5490
I've created a separate issue to track machine certificate renewal specifically: https://github.com/kubernetes-sigs/cluster-api/issues/6529

[2022-05-19 07:23] neolit123 commented on #6528
sigs.k8s.io/cluster-api/bootstrap/kubeadm/types.toYaml

Is there something that can be fixed there?
Also upstream k8s (1.23 i think) switched away from json-iterator due to problems with its reflect.

[2022-05-19 07:37] neolit123 commented on #6529
Following the original CAPI machine immutability principle machines can roll out with new certs. ..Yet there have been many talks about allowing in place upgrades on bare metal machines and similar.

Certificate rotation can be also considered as mutable operation for bare metal machines that cannot easily roll out. I don't fully know the scope of the CAPI operator but the in place rotation might

[2022-05-19 07:51] killianmuldoon commented on #6527
/assign

Seeing as I forgot this in the other PR 😆

[2022-05-19 08:27] killianmuldoon commented on #6527
/unassign

I was too so slow - there's a PR open for this already 😆

/assign @Sonali-Rajput

[2022-05-19 10:28] Sonali-Rajput commented on #6527
It's okay hahah 😊

[2022-05-19 10:45] chrischdi commented on #6527
xref #6530 , thx @Sonali-Rajput for taking that 👍

[2022-05-19 13:29] johananl commented on #6147
/remove-lifecycle stale

[2022-05-19 19:37] killianmuldoon commented on #6069
/remove-lifecycle-stale

[2022-05-19 19:38] killianmuldoon commented on #6069
/remove-lifecycle stale

[2022-05-19 19:56] timothysc commented on #5673
I'm not a fan of allowedNamespaces, because we are weirdly injecting some form of policy atop.  For example, if a user wanted to percolate ClusterClasses across namespaces, they could create some default-foo namespace with a rudimentary policy or controller that simply does a raw copy to the new namespace.  I'm not terribly concerned about resource usage.

This weirdly gets into policy land.

[2022-05-21 22:31] schrej commented on #6154
/remove-lifecycle stale

[2022-05-22 09:02] #6316 closed

[2022-05-22 09:02] #6375 closed

[2022-05-22 09:12] fabriziopandini commented on #5392
/lifecycle frozen

[2022-05-22 09:16] fabriziopandini commented on #4807
/remove lifecycle-stale
The last time this was discussed in the CAPI office hours people volunteered to move this to a proposal/amendment to the current CRS proposal, let's give them some more time to get this work done

[2022-05-22 09:17] fabriziopandini commented on #6081
/remove-lifecycle stale

[2022-05-22 09:18] fabriziopandini commented on #4807
/remove-lifecycle stale

[2022-05-22 09:25] fabriziopandini commented on #6529
AFAIK the scope of this iteration is renewing machine certs trough machine rotation (no in-place mutations)

[2022-05-22 09:33] fabriziopandini commented on #6528
@Xenwar could you kindly re-assess with Cluster-api version: v1.1.x, the v1.0 branch is out of support, and from a quick sight this error is something related to an external dependency that most probably has been already bumped in recent branches

[2022-05-22 09:34] fabriziopandini commented on #6526
/area runtime-sdk
/milestone v1.2

[2022-05-22 09:36] fabriziopandini commented on #6526
I'm personally +1 to adjusting the dependabot GH action to checkout cluster-api into GOPATH because this will avoid similar problems in the future, but I will defer this to @sbueringer and @chrischdi

[2022-05-22 09:37] fabriziopandini commented on #6527
/milestone v1.2

[2022-05-22 09:45] fabriziopandini commented on #6520
/milestone v1.2
Thanks for the issue, the use case is super interesting, we should start to unfold the different requirements one by one

[2022-05-22 09:49] fabriziopandini commented on #6519
/milestone v1.2
Thanks for filing this issue; probably this should be divided into smaller issues, some of them to be addressed by providers
@yastij

[2022-05-22 09:52] fabriziopandini commented on #6329
@PushkarJ @chrischdi can we close this now that we have a secure cluster class MVP?

[2022-05-22 09:53] fabriziopandini commented on #6518
/milestone v1.2
It would be interesting to have some figures from users..

[2022-05-22 09:54] #6471 closed

[2022-05-22 09:55] fabriziopandini commented on #6517
/milestone v1.2

[2022-05-22 09:55] fabriziopandini commented on #6516
/milestone v1.2

[2022-05-22 09:56] fabriziopandini commented on #6515
/milestone v1.2

[2022-05-22 09:59] fabriziopandini commented on #6151
This is another issue where sub-projects could benefit from a coordinated community effort

[2022-05-22 10:48] #6319 closed

[2022-05-22 10:57] tranthang2404 opened #6531 "Provisioning Cluster stuck when using kubelet param `register-node: "false"`"
**What steps did you take and what happened:**
I want hide master node when provision a cluster. Base on docs https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/kubelet-integration/, we can change a Kubelet param to do this.

So in the object `KubeadmControlPlane` path `spec.kubeadmConfigSpec.initConfiguration.nodeRegistration.kubeletExtraArgs`.  I add  `register-node: "false"`.

[2022-05-22 20:24] lucming commented on #999
hi,i meet the same problem, can you tell me how did you solve it in the end.

[2022-05-23 07:17] neolit123 commented on #6531
--register-node = false us unsupported by kubeadm

Please see this for more context
https://github.com/kubernetes/kubernetes/issues/105059#issuecomment-920823574

[2022-05-23 09:23] enxebre commented on #6285
Thanks for sharing the context above @furkatgofurov7

We do not want to override this mechanism with a drain timeout since it could break our Ceph cluster. However, we have a daemonset that mounts a volume

In the case of a Pod, this is happening because the pod is legitimately evicted but nothing is handling volumes detachment, correct? This seems safe and I'd expect you to handle the retirement

[2022-05-23 11:16] fabriziopandini commented on #6531
If you are using KCP to manage control plane nodes, this is not supported (we inherit kubeadm constraints)

[2022-05-23 11:17] fabriziopandini commented on #6531
/remove-kind bug
/kind support
/milestone v1.2

[2022-05-23 12:31] vincepri commented on #6520
A few additional thoughts:

- We need to understand how we'd communicate to users that certain features cannot be linked to clusters without connectivity to the API server.
- This proposal goes to a different direction than the MachinePoolMachine one.

[2022-05-23 16:35] akutz commented on #1793
Hi @vincepri,

I see this was closed in favor of #5294, but is that for tracking purposes only? I do not see that support for additional, trusted certificates has been added to CAPI as of 2022/05/23. Is that correct?

[2022-05-23 21:41] DannyBrito opened #6535 "Add support for raw template URL in clusterctl generate yaml"
**User Story**

As a user I would like to use `clustertctl generate yaml --from` with a URL to a raw template.

**Detailed Description**

At the moment `clusterctl generate yaml --from` accepts only GitHub.com URLs

**Anything else you would like to add:**

when running `clustertcl generate yaml --help` the example convey the idea that it accepts any URL.
[code]

/kind feature

[2022-05-24 08:53] Xenwar commented on #6528
@fabriziopandini Thanks, I did not notice that. And, closing the issue.

[2022-05-24 10:17] enxebre commented on #6520
@randomvariable thanks for putting this together!

However, the management cluster does have access to the cloud provider APIs like AWS and Azure that allow the provisioning of the managed cluster offering.

In this use case are you assuming the control plane are individual machines running within the workload cluster infrastructure? I have a similar use case for "common cluster as a service offer

[2022-05-24 10:47] #6527 closed

[2022-05-24 10:48] sbueringer commented on #6535
/area clusterctl

[2022-05-24 10:50] sbueringer commented on #1793
I think that's correct as I'm not aware of any explicit support for trusted certificates in CAPI today.

[2022-05-24 11:18] sbueringer commented on #6526
To fix dependabot I would favor checking out in GOPATH over dropping make generate.

Overall it would be nice to get the root cause fixed, given that in addition to the problems that some have with generate conversion we now have a second target which forces users to checkout CAPI in GOPATH.

[2022-05-24 11:32] sbueringer commented on #6069
/lifecycle frozen

[2022-05-24 13:38] vipamadi opened #6536 "How to remove failure domains from cluster"
Hi!

We have some problems after deleting some control planes nodes at our TKG cluster.
Previously we tested failure domains so we created kind objects VSphereDeploymentZone and VSphereFailureDomain but we deleted them after some tests.
But now, every time we remove a control plane node the new control plane node is created with the old spec.failureDomain value at the machines.cluster.x-k8s.io obj

[2022-05-24 13:43] killianmuldoon commented on #6536
I think the way to do this is to update the ControlPlane object. I'm not familiar with the ins and outs of how TKG (Tanzu) handles this though - might be a better question to ask of them specifically - maybe over at https://github.com/vmware-tanzu/community-edition ?

[2022-05-24 13:48] sbueringer commented on #6536
Sounds like vSphere has an additional concept (VSphereDeploymentZone,VSphereFailureDomain). Maybe CAPV folks know more about it: cc @srm09 @aartij17

[2022-05-24 16:00] schrej opened #6539 "prepare replacing corev1.ObjectReference in v1beta2"
Note: This basically a reincarnation of the original topic of #2318. Since that issue has a lot of comments already, and a lot of them are just bot commands, I wanted to start over with a summary of what was discussed at KubeCon EU 22.

## Motivation

New uses of `corev1.ObjectReference` are [discouraged](https://github.com/kubernetes/kubernetes/pull/87459/files) since about two years now. In my o

[2022-05-24 16:38] schrej commented on #6539
Since it's probably going to come up: if we're strictly following the [official API conventions](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api_changes.md#incompatible-api-changes), we cannot make any incompatible changes, *even between api versions**, since we moved to `v1beta1`. I find this to be very limiting, and also do not really understand what t

[2022-05-24 17:43] sbueringer commented on #6506
We'll implement this already in https://github.com/kubernetes-sigs/cluster-api/pull/6499. It's less effort than merging the other implementation in #6499 and then reverting it. We're also not really blocking additionally by implementing it correct the first time.

[2022-05-24 18:31] vuil commented on #5673
@fabriziopandini trying to understand this part of the comment in https://github.com/kubernetes-sigs/cluster-api/issues/5673#issuecomment-1124155114

Does this mean that every new namespace created that needs to consume a ClusterClass will require an update to the CC's allowedNamespace?

I understand for the test scenarios there is some automation to include the CC in new namespaces being used, bu

[2022-05-25 08:28] tranthang2404 commented on #6007
I have the same problem

[2022-05-25 13:58] sbueringer opened #6545 "Topology Mutation Hook implementation"
Implementation umbrella issue for #6319
As the proposal (#6349) has been merged, we can start with the implementation now.

Done:
* [x] Add API types
  * PR: #6514 (@sbueringer)
* [x] Refactor inline patching to use the new API types
  * PR: #6289 (@sbueringer)
* [x] Implement external patches (+ add fields to ClusterClass CRD + e2e test)
  * PR: #6623 (@killianmuldoon)
* [x] Follow-up for more un

[2022-05-25 14:01] sbueringer opened #6546 "RuntimeHooks for Addon-Management implementation"
Implementation umbrella issue for https://github.com/kubernetes-sigs/cluster-api/issues/6374
As the proposal (https://github.com/kubernetes-sigs/cluster-api/pull/6418) has been merged, we can start with the implementation now.

Done:
* [x] Add API types (#6537 @ykakarap @killianmuldoon )
* [x] Implement lifecycle hooks without tracking (@ykakarap) #6608
* [x] Implement lifecycle hooks with trackin

[2022-05-25 15:13] #6384 closed

[2022-05-25 16:58] sbueringer opened #6549 "E2e testing for Topology Mutation Hook and Runtime Hooks for Addon-Management"
Goal of this issue is to implement e2e testing for the Topology Mutation Hook and Runtime Hooks for Addon management.
I've combined this in one (umbrella) issue as there are probably a lot of synergy effects.

The (rough) plan is the following:
* Implement a test RuntimeExtension which implements all Topology Mutation and Runtime Hooks for Addon management.
* Deploy it in our CAPD e2e tests during

[2022-05-25 17:04] #6374 closed

[2022-05-25 17:37] dlipovetsky commented on #6539
#6228 was a PR I opened that tried to address the lack of defaults for the namespace field in the Infra and Bootstrap references in MachineDeployments. I closed it, because the complexity of the fix would outweigh its benefits.  However, if we move away from ObjectReferences, we both address the issue and reduce overall complexity.

[2022-05-26 10:35] #4621 closed

[2022-05-26 10:35] #6509 closed

[2022-05-26 14:13] killianmuldoon opened #6554 "Minimize RBAC roles for controllers"
Following on from #https://github.com/kubernetes-sigs/cluster-api/pull/6510#discussion_r882538225

In Cluster API today we create RBAC manifests which are generated using kubebuilder tools. e.g.

https://github.com/kubernetes-sigs/cluster-api/blob/626ab4de03ef1e8f9b68e12bbfaf75e2cb0b4ffc/internal/controllers/clusterclass/clusterclass_controller.go#L42-L44

Many of our controllers  seem to generate

[2022-05-26 19:15] killianmuldoon commented on #6549
I think this captures everything :slightly_smiling_face:

[2022-05-27 08:12] sbueringer commented on #5704
/remove-lifecycle stale
/lifecycle active

[2022-05-27 08:30] sbueringer commented on #6554
We should be very careful. Not all verbs can be easily inferred from just reading the controller code:
* we probably have to go transitively through a few levels of util funcs
* controller-runtime internal creates (per default) informers when we call `.Get()` (this requires get/list/watch verbs)

[2022-05-27 10:11] sbueringer commented on #6554
One simplification I did in the past is to categorize verbs into groups:
* read: get list watch
* create
* delete
* change: update patch

Essentially once we need one of them we just add the entire group. This simplifies it a bit. For example, once we use `list` is it really worth figuring out if we have a get or watch call somewhere? It comes down to pretty much the same result. Similar for updat

[2022-05-27 10:14] killianmuldoon commented on #6554
That seems like a sensible approach. My impression is that we probably have create in a few places it shouldn't be. I think we have update in a lot of places where it's not used, but we're using patch so it doesn't matter.

I'm also thinking this could be something pushed to the next API rev.

[2022-05-27 10:18] sbueringer commented on #6554
I think it's independent of our API version bump as it just affects the permissions of our controller and not the APIs/CRDs.

[2022-05-27 10:19] killianmuldoon commented on #6554
I didn't mean to say it's dependent on a rev, more that we could do it as part of a future overall API revision as it's not urgent now IMO

[2022-05-27 14:09] elmiko commented on #5442
i still think this is a nice idea, not sure how the rest of the community feels. is this worth bringing up again at a meeting or should we consider rolling it into the lifecycle hooks stuff? (cc @enxebre )

/remove-lifecycle rotten

[2022-05-27 18:20] sbueringer opened #6563 "MachinePool does not automatically rollout changes to the bootstrap.configRef"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

I changed the bootstrap.configRef in a MachinePool and the MachinePool didn't rollout the change.

**What did you expect to happen:**

I expected the MachinePool to rollout the changes just like the MachineDeployment does.

**Anything else you would like to add:**
[Miscellaneous informati

[2022-05-27 18:23] sbueringer commented on #6563
cc @CecileRobertMichon @mboersma
I think I got everything from the Slack thread

[2022-05-28 14:18] vladimirvivien commented on #4897
/remove-lifecycle stale

Keeping this alive as upcoming release of e2e-framework will have features to make it easy to support testing of CRD developments including CAPI.

[2022-05-28 15:47] fabriziopandini commented on #6554
We can use also tools like https://github.com/liggitt/audit2rbac to check what is actually used

[2022-05-28 16:14] fabriziopandini commented on #5442
/lifecycle frozen

[2022-05-28 16:16] fabriziopandini commented on #5666
/lifecycle frozen

[2022-05-28 16:19] fabriziopandini commented on #5673
if you use label selectors no, if instead you specify a list of namespaces yes

[2022-05-30 07:35] sbueringer commented on #6554
Good idea, but this means we have to hit all edge cases to be safe

[2022-05-30 07:38] sbueringer commented on #5442
Regarding the above points:
1. Is this already supported today as we can set labels on MDs via Cluster.spec.topology...?
2. I'm not sure if ClusterClass should also be responsible to deploy the ClusterAutoscaler. For my understanding, the Cluster Autoscaler would be deployed once in the mgmt cluster?

[2022-05-30 12:54] erwinvaneyk opened #6571 "Prefix selector labels of core components"
**User Story**

As an operator I would like to deploy multiple CAPI components in the same namespace for multi-tenancy and organisational reasons.

**Detailed Description**

I am trying to deploy some Cluster API components in a single namespace, because of restrictions organizationally and because I am trying to deploy multiple instances of CAPI in the same cluster.

This works great except for o

[2022-05-30 13:12] sbueringer commented on #6571
What exactly are the restrictions on Deployments, we can't change them at all?

[2022-05-30 14:25] sbueringer commented on #6571
Unfortunately that only helps when the upgrade is done with clusterctl. Everyone who tries to run CAPI in a GitOps mode will have that problem.

[2022-05-30 16:52] sbueringer commented on #6160
/unassign @ShivamTyagi12345
/assign

[2022-05-30 17:30] sbueringer commented on #6398
We should take a look at how/if ServerSideValidation changes the situation: https://github.com/kubernetes/kubernetes/pull/108889

[2022-05-30 17:57] killianmuldoon commented on #6350
https://github.com/golangci/golangci-lint/pull/2892

This PR fixes the issue in golangci-lint. We should try to bump the version as soon as there's a new release.

[2022-05-31 06:42] superbrothers opened #6576 "KubeadmControlPlane `spec.kubeadmConfigSpec.joinConfiguration.patches.directory` should be mutable"
**User Story**

As an operator I would like to be able to modify KubeadmControlPlane `spec.kubeadmConfigSpec.joinConfiguration.patches.directory`.

**Detailed Description**

I want to update the spec of apiserver of the existing cluster, but changes to this field are not permitted currently.

[code]

**Anything else you would like to add:**

None

/kind feature

[2022-05-31 06:51] sbueringer commented on #6576
@superbrothers Sounds good to me.

To implement this we have to:
* add patches to allowedPaths like e.g. nodeRegistration: https://github.com/kubernetes-sigs/cluster-api/blob/062883d4fdd577cbf908df3f75ae1f83fadf3805/controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_webhook.go#L144-L145
* add a corresponding unit test (there are already a lot of similar unit test cases)

[2022-05-31 07:06] sbueringer commented on #6442
@CecileRobertMichon Sounds very reasonable to me!

I think it makes sense to only support the last 2 or 3 releases. This implies that the support duration depends on the release cadence, which I think is fine.

If I saw correctly we now only have to cut down the release overhead and get consensus on the release cadence.

One question regarding:

I definitely agree with the main branch should be re

[2022-05-31 07:55] superbrothers commented on #6576
@sbueringer Thanks for your quick comment. I'll implement it.

[2022-05-31 08:25] sbueringer commented on #6549
Just fyi. I'll take a look at this and maybe implement an early prototype (in the context of the topology mutation hook implementation)

[2022-05-31 09:42] enxebre commented on #6497
The ProviderID is the CAPI provider agnostic contract between machines and Nodes. We built atop it the core machine controller and any higher level abstraction which requires mapping Nodes to Machines e.g Cluster autoscaler.
Having this agnostic contract enables CAPI to build common features that scale across providers. To satisfy this contract you don't necessarily need to run the regular ccm/clo

[2022-05-31 09:55] fabriziopandini commented on #5487
/lifecycle frozen

[2022-05-31 09:55] fabriziopandini commented on #5457
/lifecycle frozen

[2022-05-31 15:36] MaxRink commented on #6285
@mape90 IMO the drain wait is not specific for vsphere.
Other CSI providers also rely on this.
And also for those that dont, forcefully unbinding block volumes while they still are in use is not a good thing, as that can lead to data or filesystem corruption.

[2022-05-31 19:05] elmiko commented on #5442
that's kinda what i was wondering too

agreed, i'm not sure either. i had thought we decided /not/ to include autoscaler while we had the discussion during the clusterclass enhancement process.

i wonder if this issue needs updating to fit with the changes we have proposed more recently?

[2022-05-31 19:09] sbueringer commented on #5442
Fabrizio wrote an interesting comment here: https://github.com/kubernetes-sigs/cluster-api/issues/5532#issuecomment-954807126

[2022-05-31 21:58] CecileRobertMichon commented on #6442
agreed.

[2022-06-01 05:15] sathieu commented on #6497
Thanks for the context @enxebre. I understand, and this issue could be closed (and discussion moved to vsphere-specific: https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/924#issuecomment-1123803887).

[2022-06-01 08:15] mape90 commented on #6285
@MaxRink
Vsphere is quite special as there the VMDK disk is destroyed if it is attached to node when node is deleted. Usually cloud providers do not destroy attached disks when node is deleted. They just detach them. So for Vsphere the detach wait is non optional.

But yes it is nice if all volumes would be detached before stopping the node. But stopping the node before detaching the volume should

[2022-06-01 14:39] fabriziopandini commented on #6497
As per comment above
/close

[2022-06-01 14:40] #6497 closed

[2022-06-01 14:58] JoelSpeed commented on #6539
So I think I'm going to go against the grain here (seems @vincepri and @fabriziopandini would prefer to use existing types) and provide the arguments I've heard for not using the existing types (which @schrej has already done for the most part and @deads2k did in the PR referenced above), which can then perhaps influence some conversations about which of these we care about and which we don't:

##

[2022-06-01 16:55] invidian commented on #5294
/remove-lifecycle stale

[2022-06-01 21:37] Jont828 opened #6583 "Allow clusterctl client to fetch/use in-cluster kubeconfig"
**User Story**

As a developer, I would like to be able to initialize the clusterctl client in applications running on a pod in the management cluster. For example, I'm working on a visualizer app as well as a controller for add ons that would run as a pod on the management cluster and need to init the clusterctl client. Currently the client expects a kubeconfig path to be given or it will use the

[2022-06-02 04:55] sbueringer commented on #6583
/area clusterctl

[2022-06-02 06:22] superbrothers commented on #6576
@sbueringer I've created a PR.

[2022-06-02 10:27] erkanerol opened #6588 "CAPI controllers should add finalizers into templates if the templates are necessary for upgrades."
**What steps did you take and what happened:**

Changes in  KubeadmConfigTemplate don't trigger any rollout https://github.com/kubernetes-sigs/cluster-api/issues/4910.

To be able to update the config, you need to create a new KubeadmConfigTemplate and update the reference in MachineDeployment. If you delete the existing KubeadmConfigTemplate, capi controller cannot do the upgrade.

**What did you

[2022-06-02 12:49] sbueringer commented on #6506
Implemented in #6499

/close

[2022-06-02 12:50] #6506 closed

[2022-06-02 14:57] bnason commented on #3801
@vincepri can you expand on this? What improvements help in this scenario? I'm also trying to fortify my scripts that call `clusterctl init` and am looking for a good way to detect that it's already been initialized.

[2022-06-02 21:04] fabriziopandini commented on #6248
/lifecycle frozen

[2022-06-03 12:25] chrischdi commented on #6458
Looks like the kube-state-metrics project made the implementation obsolete.

Source: https://kubernetes.slack.com/archives/CJJ529RUY/p1654257314683059

Looks like we should adapt, check if we could do the same with configuration only and deploying kube-state-metrics instead :-)

[2022-06-03 12:33] sbueringer commented on #6458
Oh, interesting turn of events. Yeah let's figure out if that covers our use case.

[2022-06-03 14:04] #6155 closed

[2022-06-05 10:11] fabriziopandini commented on #3486
/lifecycle frozen

[2022-06-05 10:17] fabriziopandini commented on #5667
/remove-lifecycle rotten
I think that this is valuable, but IMOT it is is required to start a design doc trying to figure out a way forward for improving failure domain because this impacts:
- How failure domain are defined (they currently surface from infrastructure)
- How they are consumed by CAPI - how the user should express its preferences

Also, notably, there are some other well know limita

[2022-06-05 10:18] fabriziopandini commented on #5378
/lifecycle frozen
/milestone Next

[2022-06-05 10:19] fabriziopandini commented on #5546
/lifecycle frozen
there is a PR to fix this

[2022-06-05 10:20] fabriziopandini commented on #5026
/remove-lifecycle rotten
/milestone Next

[2022-06-05 10:20] fabriziopandini commented on #5347
/lifecycle frozen

[2022-06-05 10:21] fabriziopandini commented on #5263
/lifecycle frozen
/milestone Next

[2022-06-05 10:40] #5546 closed

[2022-06-05 14:29] RobinDeBock opened #6595 "clusterctl get kubeconfig results in faulty kubeconfig file after switching to Docker Desktop"
**What steps did you take and what happened:**
- Removed docker from system
- Clean install of Docker Desktop
- Created a bootstap cluster with Kind
- Created a workload cluster with `clusterctl init`
- Used `clusterctl get kubeconfig` on the newly created workload cluster
- Using this kubeconfig file to connect to the cluster results in
`The connection to the server localhost:8080 was refused - d

[2022-06-06 06:23] sbueringer commented on #6595
If I understood correctly you got
[code]

when using `clusterctl-kubeconfig.yaml` ?

Then there is something wrong with the kubectl call. Otherwise it would use `https://172.18.0.3:6443` and not the default server URL.

[2022-06-06 06:25] sbueringer commented on #6219
/remove-lifecycle stale
/lifecycle active
/assign @Jont828

[2022-06-06 07:33] erkanerol commented on #6588
Isn't it still a valid use case to not use ClusterClass?

[2022-06-06 09:57] fabriziopandini opened #6596 "CAPI capi-e2e-main-1-24-latest failing consistently since June 1st"
see https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api#capi-e2e-main-1-24-latest
this should be related to one of the recent changes in the test framework

/kind

[2022-06-06 09:59] fabriziopandini commented on #6596
it seems there is a similar problem in capi-e2e-main-1-22-1-23

[2022-06-06 10:18] enxebre commented on #6285
Thanks for detailed elaboration @mape90.

I don't think the drain process is changed in any way by CAPI, we rely on "k8s.io/kubectl/pkg/drain". I'd say WaitForNodeVolumes is an opinionated phase of CAPI Machine deletion lifecycle, which is coupled to our drainTimeout API semantic.

I think this is a valid point.

So can you confirm 5, 6, 7 and 8 are not happening in your case because of two differ

[2022-06-06 10:28] sbueringer commented on #6596
I think it's something with the new registry, which is used for  >= v1.25
1.22=>1.23 is probably a flake plus the general Prow issue ("unauthorized")

Reposting from Slack:

I don't think this has been caused by our recent changes. This job succeeded the first time after those changes afaik.
The timing perfectly aligns with when CAPO started failing because of the registry change discussed here: h

[2022-06-06 11:45] fabriziopandini commented on #6595
/kind support
/remove-kind bug
/priority awaiting-more-evidence

[2022-06-06 15:00] #6576 closed

[2022-06-06 17:03] #6229 closed

[2022-06-07 07:05] mape90 commented on #6285
A) yes as long as there is Pod on node all attachments are kept there. This is k8s way to protect volumes from been used by multiple nodes at once. In case node can not communicate to API then volumes stay attached to node forever. In case of failure it is assumed that something checks that the node is actually down before removing the Node object.

B) logic is same as in A, however here the the p

[2022-06-07 07:24] bavarianbidi commented on #6458
As i currently prepare our internal repositories to make use of `cluster-api-state-metrics` and try to propose a generic description to adopt different infrastructure providers as well i just gave `kube-state-metrics` a short try with following config.

[code]

As `kube-state-metrics` expect a `float` as value (https://github.com/kubernetes/kube-state-metrics/blob/7f09ca71ba25af4d2cbb1637e13b28c1d

[2022-06-07 07:54] bavarianbidi commented on #6458
Exactly, exposing the condition as metric only might work, if at least one numbered field is in the spec (but my hack via `metadata.generation` does not work - so i guess the field must be in the spec or status).

If KSM-folks accept a patch for this and their plans are longer support for this experimental feature this could be a very promising solution for metrics.

[2022-06-07 10:08] JoelSpeed commented on #6539
I think this really depends on what we are using. If you are converting into a bigger or smaller type, it may not be lossless, in which case, those functions may not work as expected. I would expect to maintain a set of helpers that do what we need to do, we could even make them work with interfaces if we wanted to, to make things a bit easier/more reusable. There's a few ways we can tackle this

[2022-06-07 13:01] chrischdi commented on #6458
I started a discussion in kube-state-metrics slack : https://kubernetes.slack.com/archives/CJJ529RUY/p1654593034854759 and we will move the discussion to an issue.

For the CAPI project I think we have some options here to continue:
1. wait (and maybe help to reach that point) for kube-state-metrics to enable all kind of metrics via config we want
2. implement custom binary for now:
  a. and migra

[2022-06-07 13:22] jayesh-srivastava commented on #5968
Hi @sbueringer if the issue is still open and someone isn't already, can I work on updating the go version in github/workflows, .golangci.yml, Tiltfile, Makefiles etc?

[2022-06-07 13:24] sbueringer commented on #5968
Hey @jayesh-srivastava,
I'm currently working together with @palnabarun to get the final sub-tasks done.

[2022-06-07 15:08] vincepri commented on #5880
/lifecycle frozen

[2022-06-07 15:08] vincepri commented on #5880
/milestone Next

[2022-06-07 15:23] vincepri commented on #6539
Hey folks, catching up on this conversation, wanted to clarify some thoughts from my side and potentially try to find a path forward.

From my perspective, using the core/v1 types has always been a preferred path for consistency with the rest of the ecosystem of controllers and to provide a familiar way to reference resources to users (old and new).

Given the limitation we've put in place for obj

[2022-06-07 17:37] sbueringer commented on #6160
So now we shouldn't have to drop the `[release-1.x]` prefix of PRs anymore

[2022-06-07 18:09] sbueringer commented on #6526
fyi. I'll implement a workaround for the action here: https://github.com/kubernetes-sigs/cluster-api/pull/6607
But that should be reverted if the upstream openapi-gen is fixed / or we find a way to run it outside of the GOPATH.

[2022-06-08 05:14] sbueringer commented on #6596
I tested it locally with the following results:

tl;dr the issue is that since 1st June the new (kubeadm) default registry is [registry.k8s.io](http://registry.k8s.io/).

Usually this is not a problem as:
* new v1.24 cluster => uses k8s.gcr.io
* new v1.25-x => uses registry.k8s.io
* v1.24 cluster (k8s.gcr.io) upgraded to v1.25-x => should be able to still use the old registry

In our case CAPD CI

[2022-06-08 07:56] neolit123 commented on #6596
I think the CAPD node images should bake registry.k8s.io component images if the kubeadm version is at least 1.25.0-0. The issue here is that kubeadm 1.25.0-0 would need registry.k8s.io images by default and if another repo is passed via imageRepository it will be considered custom  (e.g. coredns path is different).

We had a similar problem in kinder / kubeadm e2e. So what we do is check the kube

[2022-06-08 07:59] sbueringer commented on #6596
@neolit123 We already have the registry.k8s.io images baked in. Our problem is that we don't have to kubeadm upgrade logic. So an upgrade test which init's v1.24 and then upgrades to v1.25 is still trying to use the old registry.

I think we have to implement the "kubeadm upgrade" change in KCP anyway and this will then also fix our test.

[2022-06-08 08:16] neolit123 commented on #6596
ok, understood.

yes, KCP has to do it.

[2022-06-08 09:06] fabriziopandini commented on #6283
/lifecycle frozen

[2022-06-08 09:06] fabriziopandini commented on #6283
/milestone Next

[2022-06-08 11:13] richardcase commented on #6468
/transfer cluster-api-provider-aws

[2022-06-08 14:32] RobinDeBock commented on #6595
Hey @sbueringer

I'm going to switch back to Docker on the CLI as Docker Desktop uses a VM which impacts performance, so the time to test this setup will be limited.

To come back to your questions:

The cluster is fully operational. As described before, this is the exact same cluster that I was using before. The **only** difference is that the IP address in the kubeconfig file resulting from `clu

[2022-06-08 15:33] RobinDeBock commented on #6595
Hey @chrischdi that does seem to have fixed the problem, big thanks!

Maybe add this somewhere more general for other users? As Docker Desktop can be used on every system

[2022-06-08 15:58] sbueringer opened #6613 "Homebrew publish on release does not work"
Looks like our homebrew action does not work / probably never worked before.

It seems to depend on a personal access token which we don't really want to use.

For more context, see: https://kubernetes.slack.com/archives/C8TSNPY4T/p1653909691012589

xref: Action logs: https://github.com/kubernetes-sigs/cluster-api/actions/workflows/update-homebrew-formula-on-release.yml

/kind bug
[One or more /ar

[2022-06-08 17:30] vincepri opened #6614 "Unsupported or untested Kubernetes minor versions should be blocked"
Cluster API should refuse any upgrade to a version that's not fully tested or unsupported, unless an annotation is specified that allows users to opt in to an unsupported version.

/kind feature
/priority critical-urgent

[2022-06-08 17:34] sbueringer commented on #6614
I assume same for min version on create and for both workload/mgmt clusters.

[2022-06-08 18:09] ykakarap commented on #6583
Duplicate of https://github.com/kubernetes-sigs/cluster-api/issues/6286?

[2022-06-08 18:12] sbueringer commented on #6583
I think so

[2022-06-09 01:45] ykakarap opened #6615 "Tasks for release v1.2 branch and starting v1.3 cycle"
Let's wait with implementation until we get close to the release. No action needed at the moment.

### Setup CI signal for v1.2

* [ ] Create the release branch "release-1.2"
* [ ] Create new jobs and dashboard for the release-1.2 branch in test-infra
    * Previous Issue: #5970
    * Previous PR: https://github.com/kubernetes/test-infra/pull/24983

* [ ] Book:
    * [ ] Make sure the previous boo

[2022-06-09 01:45] ykakarap commented on #6615
/assign

[2022-06-09 08:57] 24sama commented on #6450
Is there any progress on this issue? I think I can fix it.

[2022-06-09 09:28] fabriziopandini commented on #6286
/lifecycle frozen

[2022-06-09 14:10] fabriziopandini commented on #6615
/milestone v1.2

[2022-06-09 14:56] sbueringer commented on #6615
@ykakarap Looks good, feel free to ping me if you need reviews somewhere :) (or some discussions around when we can do which step)

[2022-06-10 04:10] sbueringer commented on #6458
In general I agree. Depending on how fast we can get the necessary features into kube-state-metrics we could also merge it and then use more and more from the upstream kube-state-metrics until cluster-api-state-metrics is not necessary anymore (as cluster-api-state-metrics imports/extends kube-state-metrics).

But I think for now the best approach is to wait a bit with cluster-api-state-metrics to

[2022-06-10 05:46] sbueringer opened #6620 "Implement Linter for Server Side Apply markers"
We are now using SSA to manage topology objects. To do this correct and also to support kubectl with Server Side Apply we
should make sure that we are setting the corresponding markers correctly: https://kubernetes.io/docs/reference/using-api/server-side-apply/#merge-strategy

I think an easy way to do this is to have a linter, which can be used in core CAPI and across providers.

Maybe a linter l

[2022-06-10 10:53] chrischdi commented on #6507
/assign

[2022-06-10 12:07] adilGhaffarDev commented on #5760
Hey I want to work on this issue, I am assigning it to myself.
/assign

[2022-06-10 14:22] ditsuke commented on #6172
Update: I lost track of this issue. Getting back to work on it now!

[2022-06-10 15:17] #6445 closed

[2022-06-10 17:50] palnabarun commented on #6074
@fabriziopandini -- It completely got out of my mind that I forgot to raise a pull request with the exploration I did. Filed one now.

I will try to resolve the WIP task. The test I added isn't actually working.

[2022-06-10 18:41] #6320 closed

[2022-06-11 13:36] #6073 closed

[2022-06-13 05:37] sbueringer commented on #6320
@pydctw Fix was merged, if you have time it would be really great if you confirm that it solves the issue CAPA had.

[2022-06-13 10:14] #6172 closed

[2022-06-13 15:25] pydctw commented on #6320
Thanks! I am happy to verify the fix. Will make changes to CAPA (+ run with CAPI main) and report back the result.

[2022-06-13 16:31] prometherion opened #6639 "Docker-based worker nodes never get backed with providerID"
**User Story**

As an _operator_ I would like to _get Docker-based worker nodes patched with their provider ID_ for _the environment in which Control Plane is managed externally_.

**Detailed Description**

Although the Docker-based infrastructure is designed for local development and tests, I'd like to get able to provision worker nodes that are connecting to an external-provisioned Control Plane

[2022-06-13 19:26] fabriziopandini opened #6641 "Align to CoreDNS bump to 1.9.3"
CAPI should align its tests to CoreDNS bump to 1.9.3 in kubeadm, rif https://github.com/kubernetes/kubernetes/pull/110489

/kind feature

[2022-06-13 19:27] fabriziopandini commented on #6641
note, the PR contains also a bump to github.com/coredns/corefile-migration v1.0.17

[2022-06-13 19:38] sbueringer commented on #6641
Migration lib is up to date in CAPI

[2022-06-14 04:09] sbueringer commented on #6641
Just for folks who are not familiar with how we align to something like that.

We usually (if supported by CAPI) use the CoreDNS version used by the respective kubeadm version.

I.e. if we have an upgrade from v1.24=>v1.25, We create the cluster with kubeadm init (v1.24) and then upgrade to v1.25 so we use the CoreDNS version of kubeadm 1.25 as `COREDNS_VERSION_UPGRADE_TO`.

This means that aligni

[2022-06-14 05:09] sbueringer commented on #6549
Let's close this issue with #6635
We then make sure in the topology mutation / lifecycle hook issue that all hooks have sufficient coverage

[2022-06-14 14:55] #6486 closed

[2022-06-14 15:03] sbueringer opened #6650 "Upgrade to controller-runtime v0.12.2"
We should upgrade to the upcoming CR release to pick up this fix: https://github.com/kubernetes-sigs/controller-runtime/issues/1908

/kind bug
[One or more /area label. See https://github.com/kubernetes-sigs/cluster-api/labels?q=area for the list of labels]

[2022-06-14 16:30] sbueringer commented on #6143
I'm closing this issue. I took a closer look and I don't think it's worth the effort to implement.

Essentially all tests which are using pre release versions (e.g. a lot of CAPD based e2e tests) wouldn't work anymore out of the box because they need the kube-proxy image baked in.

We could do some kind of pre-loading but I don't think it's worth the investment. If kube-proxy doesn't come up our e

[2022-06-14 23:55] Jont828 commented on #6583
Gotcha I'll close this then

[2022-06-14 23:55] #6583 closed

[2022-06-14 23:59] Jont828 commented on #6286
So applications like cluster autoscaler that run in the cluster initialize their client with [InClusterConfig()](https://pkg.go.dev/k8s.io/client-go/rest#InClusterConfig) which gets the kubeconfig of the current cluster or returns an `ErrNotInCluster`. We could modify the entry code for clusterctl to detect if it's in a cluster, and if it is, go ahead and use the in cluster config. Wdyt @fabriziop