[2021-07-06 09:20] #4436 closed

[2021-07-06 10:40] randomvariable opened #4879 "Turn of dependabot"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

Github actions have defeated me. Although the commit code action was working fine in CAPA two weeks ago, it's now stopped working both here and there and I've yet to figure it out.

**What did you expect to happen:**

It should have worked.

**Anything else you would like to add:**
[Misce

[2021-07-06 11:18] mdbooth opened #4880 ""cannot set blockOwnerDeletion" when using OpenShift as management cluster"
**What steps did you take and what happened:**
Attempted to create a cluster using clusterctl v0.4.0 and infrastructure openstack:v0.4.0-beta.0 using OpenShift 4.9 as the management cluster.

capi-controller-manager fails with:
[code]

**What did you expect to happen:**
Success.

**Anything else you would like to add:**
This appears to be the same as #3274, which was using AWS in place of OpenStac

[2021-07-06 12:52] mdbooth commented on #4880
This appears to relate to https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#ownerreferencespermissionenforcement

It affects other objects:
[code]

[2021-07-06 12:58] mdbooth commented on #4880
I have worked round this problem by added the `finalizers` resource to everything in `cluster.x-k8s.io` in ClusterRole `capi-system-capi-manager-role`.

[2021-07-06 13:55] vincepri commented on #4879
Should we just disable it for good? I didn't find much of an issue updating the dependencies manually, but it's definitely nice to have it automated

[2021-07-06 13:55] vincepri commented on #4879
/milestone v0.4

[2021-07-06 13:57] vincepri commented on #4880
Do we know when this was introduced?

cc @fabriziopandini @randomvariable

/milestone v0.4

[2021-07-06 14:01] mdbooth commented on #4880
Is it possible that non-OpenShift clusters don't normally have OwnerReferencesPermissionEnforcement enabled, and OpenShift clusters aren't typically used as capi management clusters? i.e. It's latent, but sufficiently uncommon that you just don't see it often?

[2021-07-06 14:03] furkatgofurov7 commented on #4879
Not sure, what is exactly the problem with dependabot, but @randomvariable @vincepri have you checked/looked into pretty much the same tool, [renovate](https://github.com/renovatebot/renovate), by any chance?

[2021-07-06 14:03] vincepri commented on #4880
We have e2e tests on all the latest versions of Kubernetes. If this feature needs to be enabled, we probably didn't catch it yet.

[2021-07-06 14:24] mcwumbly commented on #4253
@fabriziopandini if it helps, these are the two pull requests related to this issue that I'm aware of:

* https://github.com/containerd/containerd/pull/5145
* https://github.com/cri-o/cri-o/pull/4639

If folks are using a Kubernetes version that uses a runtime with the patches from above, then I think they should be OK.  I'm not sure how we want to represent that here in Cluster API.

[2021-07-06 14:30] randomvariable commented on #4253
We can probably close this out?

[2021-07-06 14:32] randomvariable commented on #4880
ooh, interesting, let me find out.

[2021-07-06 14:42] vincepri commented on #4253
/close

[2021-07-06 14:42] #4253 closed

[2021-07-06 14:58] vincepri commented on #4878
The errors seem to hint to a network issue, which isn't necessarily related to ClusterResourceSet

[2021-07-06 14:59] vincepri commented on #4878
/milestone Next
/priority awaiting-more-evidence

[2021-07-06 15:24] randomvariable commented on #4880
The default list of admission controllers is:
NamespaceLifecycle, LimitRanger, ServiceAccount, TaintNodesByCondition, Priority, DefaultTolerationSeconds, DefaultStorageClass, StorageObjectInUseProtection, PersistentVolumeClaimResize, RuntimeClass, CertificateApproval, CertificateSigning, CertificateSubjectRestriction, DefaultIngressClass, MutatingAdmissionWebhook, ValidatingAdmissionWebhook, Resou

[2021-07-06 16:10] randomvariable commented on #4879
We need it to run `make generate` before opening the PR, which we did have via Github action in the AWS repo, but it's now stopped working.

[2021-07-06 16:10] ykakarap commented on #4864
I can take this up.

/assign

[2021-07-06 16:10] randomvariable commented on #4879
SIG Security is looking at Snyk at the moment, so we'll wait for the outcome of that work.

[2021-07-06 16:10] #4879 closed

[2021-07-06 16:10] karuppiah7890 commented on #4802
I see that `kubectl` uses git URL https://github.com/Homebrew/homebrew-core/blob/master/Formula/kubernetes-cli.rb . If we want to use git to detect the version, I think that's the way to go? 🤔

I see that we are currently using tar ball directly https://github.com/Homebrew/homebrew-core/blob/HEAD/Formula/clusterctl.rb

[2021-07-06 16:15] karuppiah7890 commented on #4802
If we still want to go with `hack/version.sh` (which totally uses `git`) but without depending on `git`, I think the popular way to go about it is simply override everything that's getting computed using `git` by passing some environment variables. But then that could be considered a very hacky thing considering all the stuff that the `hack/version.sh` script does

[2021-07-06 16:27] vincepri commented on #4802
Can Homebrew be configured to get the release binaries instead? We could publish for more platforms if that's needed

[2021-07-06 16:27] vincepri commented on #4864
/milestone v0.4

[2021-07-06 16:36] vincepri commented on #4847
/milestone v0.4

[2021-07-06 16:43] yastij commented on #4847
/assign

[2021-07-06 16:53] yastij commented on #4847
that's probably the isue https://github.com/kubernetes-sigs/cluster-api/blob/master/controlplane/kubeadm/api/v1alpha4/kubeadm_control_plane_webhook.go#L146 as we're trying to decode a `Kind=Scale` into a KCP object

[2021-07-06 16:56] vincepri commented on #4847
Could we get a reproducible test in place with envtest?

[2021-07-06 17:04] #4880 closed

[2021-07-06 17:04] vincepri commented on #4474
/assign @ykakarap
/milestone v0.4
/priority important-soon

[2021-07-06 17:06] #4857 closed

[2021-07-06 17:08] Arvinderpal commented on #3439
The remaining MD commands -- `status` and `history` -- depend on conditions in MD. Here is the tracker for that: https://github.com/kubernetes-sigs/cluster-api/issues/3486

[2021-07-06 17:20] randomvariable commented on #4878
suggests DNS resolution failure. `cluster-sample-apiserver` needs to be reachable from the various pods.

[2021-07-06 17:22] vincepri commented on #4493
/assign @sbueringer
/milestone v0.4
/priority important-soon

A good opportunity here is also to write a single node control plane upgrade e2e test in our periodics

[2021-07-06 17:24] vincepri commented on #4512
/milestone Next

[2021-07-06 17:26] vincepri commented on #4526
/milestone Next

[2021-07-06 17:27] vincepri commented on #4526
/lifecycle backlog

[2021-07-06 17:32] vincepri commented on #4537
@rumshenoy Are you able to reproduce the issue again, or better write an integration / unit test that can reproduce it consistently?

/priority awaiting-more-evidence
/milestone Next

[2021-07-06 17:33] vincepri commented on #4565
/milestone v0.4

[2021-07-06 17:39] vincepri commented on #4572
/priority backlog
/milestone Next

We could consider reusing `clusterctl generate` to achieve the desired outcome. Having a `--dry-run` flag as part of `init` that outputs yaml seems a weird UX, so we'd have to think about it more.

[2021-07-06 17:44] MaxRink commented on #4876
@vincepri mentioned in Slack that we should backport this, while adding a big warning

[2021-07-06 17:45] vincepri commented on #4581
/retitle Add IgnorePreflightErrors to KubeadmConfig types
/assign @sbueringer
/milestone v0.4
/priority important-longterm

We should add validation that this field should only be used with Kubernetes v1.22+

[2021-07-06 17:46] vincepri commented on #4585
/milestone Next

[2021-07-06 17:48] vincepri commented on #4586
/milestone Next
/priority backlog
/help

[2021-07-06 17:49] vincepri commented on #4617
/assign @fabriziopandini
/milestone Next

[2021-07-06 17:49] vincepri commented on #4618
/kind api-change
/kind release-blocking
/milestone Next

[2021-07-06 17:50] MaxRink commented on #4876
Ive put up a PR to backport the behaviour: https://github.com/kubernetes-sigs/cluster-api/pull/4884

[2021-07-06 17:50] vincepri commented on #4619
/close

[2021-07-06 17:50] #4619 closed

[2021-07-06 17:50] vincepri commented on #4619
/milestone v0.4

[2021-07-06 17:53] vincepri commented on #4620
/milestone Next
/priority important-longterm

[2021-07-06 17:54] vincepri commented on #4622
/milestone v0.4

[2021-07-06 17:54] vincepri commented on #4622
/hel[

[2021-07-06 17:54] vincepri commented on #4622
/help

[2021-07-06 17:54] fabriziopandini commented on #4617
@TimJones with https://github.com/kubernetes-sigs/cluster-api/issues/4731 things improved in this area.
Could you check if this issue can be closed?

[2021-07-06 17:55] vincepri commented on #4665
/milestone v0.4
/assign @sbueringer

[2021-07-06 17:55] vincepri commented on #4707
/lifecycle awaiting-more-evidence
/milestone Next

[2021-07-06 17:58] vincepri commented on #4794
Should we remove the collection of metrics? Or is that useful for folks when debugging e2e tests?

cc @CecileRobertMichon @yastij @randomvariable

[2021-07-06 17:58] vincepri commented on #4794
/milestone v0.4
/assign @sbueringer

[2021-07-06 18:30] vincepri commented on #4617
/priority awaiting-more-evidence

[2021-07-06 18:33] vincepri commented on #4876
/milestone v0.3

[2021-07-06 19:06] karuppiah7890 commented on #4802
I see this - https://docs.brew.sh/Acceptable-Formulae#we-dont-like-binary-formulae

Looking at CLI tools present in Cask - https://github.com/Homebrew/homebrew-cask/search?p=2&q=cli , I found concourse fly CLI using Cask https://github.com/Homebrew/homebrew-cask/blob/9b1e4b11e0e909d33306e2caf309d78b3d701833/Casks/fly.rb

[2021-07-06 19:42] vincepri commented on #4802
Let's ask the homebrew maintainers what's the proper way to go?

[2021-07-06 19:52] dawidd6 commented on #4802
Just change to git URL.

[2021-07-06 20:17] scottslowe opened #4885 "Support writing AWS cloud provider tags on pre-existing infrastructure"
**User Story**

As a user/operator I would like to be able to have CAPA write the necessary AWS tags required for proper AWS cloud provider operation onto pre-existing/pre-provisioned infrastructure, so that shared infrastructure can used to support multiple CAPI workload clusters.

**Detailed Description**

Currently, CAPA will write AWS cloud provider tags (`kubernetes.io/cluster/<name> = [owned

[2021-07-06 22:34] vincepri commented on #4885
@scottslowe Should this be filed in CAPA? I can transfer if that's the case

[2021-07-06 22:35] scottslowe commented on #4885
@vincepri Doh! Yes, you are correct, my apologies, and thank you for transferring it over.

[2021-07-07 00:22] gyliu513 commented on #4878
Thanks @randomvariable and @vincepri , let me retest.

@wangjsty ^^

[2021-07-07 00:35] chymy commented on #4304
I encountered a similar problem, when I modified the replica from 1 to 3, it failed.
KCP logs show:
[code]

kcp status:
[code]

In the controlpalne etcd logs:
[code]

Is there any solution?

/remove-lifecycle stale

[2021-07-07 01:27] chymy opened #4886 "KCP expansion failed from 1 to 3"
**What steps did you take and what happened:**
1. Deploy openstack workload cluster(one controlplane + one node).
2. Modify the controlplane replica from 1 to 3

KCP logs show:
[code]

kcp status:
[code]

controllpalne status conditions:
[code]

wokercluster:
[code]

In the controlpalne etcd logs:
[code]

**What did you expect to happen:**
KCP successfully expanded to 3 replica.

**Anything else y

[2021-07-07 01:28] chymy commented on #4886
/area control-plane

[2021-07-07 06:04] dongwangdw opened #4887 "docker provider does not work for the latest capi code."
I tried to follow the quick start doc https://cluster-api.sigs.k8s.io/user/quick-start.html.
And I used to docker as the provider. But the cluster is pending as
[code]
I get the cluster api controller  manger pod log and found
[code]

Is this a bug or I missed anything?

[2021-07-07 07:14] chymy commented on #4886
I find it has nothing to do with the expansion.
I deploy a openstack workload cluster(one controlplane + one node), After the final deployment is completed, the `EtcdMemberHealthy` status of controllpine is also `Failed to connect to the etcd pod on the innercluster-control-plane-twpm8
      node`

---
If I deploy a openstack workload cluster(3 controlplane + 1 node), but only one controlplane was

[2021-07-07 08:21] karuppiah7890 opened #4888 "Docs: Quick Start refers to older version of clusterctl as part of curl installation process"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

Following

https://cluster-api.sigs.k8s.io/user/quick-start.html

One of the steps is - Install clusterctl - https://cluster-api.sigs.k8s.io/user/quick-start.html#install-clusterctl

It refers to `v0.3.20` in the installation, so if one does this on MacOS (or any OS) using curl

[code]

A

[2021-07-07 08:29] fabriziopandini commented on #4620
As per discussion.
We should build images for stable releases only (not for CI latest)
Ideally, we should have test both for latest stable and CI latest for each Kubernetes mirror

[2021-07-07 08:36] chymy commented on #4886
After testing, alpha3(should be v0.3.11) is ok.

[2021-07-07 09:17] fabriziopandini commented on #4581
NOTE: Validation can be tricky for Machine deployments because the Kubernetes version to use might be on a different resource (while on KCP instead everything is on the same resource)

[2021-07-07 15:07] kbreit opened #4889 "clusterctl installs wrong version of CAPV"
**What steps did you take and what happened:**
I created a new kind cluster and ran `clusterctl init --infrastructure vsphere` and the output of the CAPV controller showed it installed manager 0.6.6.

**What did you expect to happen:**
I expected 0.7.8 to be installed.

**Anything else you would like to add:**
We fixed this using `clusterctl init --infrastructure vsphere:v0.7.8`.

**Environment:**

[2021-07-07 15:24] randomvariable commented on #4889
This is from a zoom call we had, so happy to take a look. Just wanted it filed as an issue first.

/assign

[2021-07-07 15:25] randomvariable commented on #4889
/area clusterctl

[2021-07-07 15:26] randomvariable commented on #4889
Also, can confirm this was clusterctl v0.3.20

[2021-07-07 15:27] randomvariable commented on #4304
/lifecycle frozen

[2021-07-07 15:29] randomvariable commented on #4304
@chymy you should ensure that there's a good NTP time source in your environment which should prevent the problem occurring. Doing the fix here is an optimisation of sorts.

Two things to ensure in your environment: Your OpenStack hosts are time synced, such that when VMs boot, they are already relatively well synced. And secondly, that each VM guest has a time source configured, either via DHCP O

[2021-07-07 15:30] randomvariable commented on #4618
Should we create an explicit v0.5.0 milestone?

[2021-07-07 16:07] randomvariable commented on #4794
Ah, saw this in the agenda a little while ago. We're using it a lot in CAPA to get AWS API metrics. Should work, need to do the equivalent of
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/test/e2e/data/e2e_conf.yaml#L60-L61 for however CAPD gets started

[2021-07-07 16:08] randomvariable commented on #4885
@vincepri can you transfer it?

[2021-07-07 16:09] randomvariable commented on #4794
Here's an example of collected metrics
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-cluster-api-provider-aws-e2e-conformance/1412328550194745344/artifacts/clusters/bootstrap/controllers/capa-controller-manager/capa-controller-manager-9c4d5c445-n7ps4/metrics.txt

[2021-07-07 16:10] CecileRobertMichon commented on #4888
Hi @karuppiah7890, thanks for opening this issue. The v0.4.0 release of Cluster API was just released 2 weeks ago and most of the infrastructure providers besides Docker don't have a release yet for v1alpha4 that is compatible with v0.4.0 which is why the version in the quickstart hasn't been updated yet. However, it's an oversight that the quickstart refers to a new command (clusterctl generate)

[2021-07-07 16:11] randomvariable commented on #4794
Ah, it's not working because we defaulted metrics to off. I think we should turn it on for tests though. Never say no to more data to debug with.

[2021-07-07 16:13] karuppiah7890 commented on #4888
Thanks for the insight @CecileRobertMichon ! :) Makes sense 👍

[2021-07-07 16:14] CecileRobertMichon commented on #4889
@randomvariable I think I know what the issue is... In #4856, I added a check that looks at metadata and gets the release series for the current contract, assuming 1 release series per contract (which is the case for core CAPI). CAPV has 2 minor releases for v1alpha3 which are documented in the metadata.yaml file of v0.7 and it happens to fetch the first one which is 0.6.

A quick way to fix this

[2021-07-07 16:17] CecileRobertMichon commented on #4887
@dongwangdw which versions of clusterctl, docker and capi are you using?

[2021-07-07 16:22] CecileRobertMichon commented on #4888
@karuppiah7890 would you like to open the PR to make the fix?

[2021-07-07 16:29] karuppiah7890 commented on #4888
I'm not sure about the internals of v1alpha3 vs v1alpha4 and there also seems to be a dependency on waiting for the other PR to get merged. I'll let you folks handle it. Probably at a later time when I have the bandwidth, I'll check out issues and see if I can help :)

[2021-07-07 16:31] CecileRobertMichon commented on #4888
/assign

[2021-07-07 16:38] vincepri commented on #4887
/priority awaiting-more-evidence
/milestone Next

[2021-07-07 16:39] vincepri commented on #4889
This is probably a good thing to do, @ykakarap would you be interested in tackling this?

[2021-07-07 16:42] CecileRobertMichon commented on #4876
/close

fixed by #4884

[2021-07-07 16:42] #4876 closed

[2021-07-07 16:59] ykakarap commented on #4889
I will take it :)

/assign

[2021-07-07 17:12] vincepri commented on #1250
/assign @randomvariable

[2021-07-07 17:29] dlipovetsky commented on #4870
Ok, let's say this is what we recommend. _How_ do we expect a user to get this signal? Do we expect users to implement their own solutions? Can we provide a `clusterctl` command? Do we expect the user run `clusterctl move` repeatedly until it passes?

Would fixing #3486 help?

[2021-07-07 17:51] sbueringer commented on #4794
As discussed in the meeting today. We keep the functionality and I'll fix it.

[2021-07-07 18:04] sbueringer commented on #4474
Somewhat related: https://github.com/kubernetes-sigs/controller-runtime/issues/723 (after we implemented a wait for readiness)

[2021-07-07 18:09] sbueringer commented on #4837
@huchen2021 Additional hint: an easy way to confirm you're querying the correct cluster is `kubectl get no`

[2021-07-07 18:12] sbueringer commented on #4874
I think it would be really useful. We had to use the functionality to patch requests/limits/initContainer/... of the control plane static pod manifests because kubeadm didn't expose those fields.

[2021-07-07 18:17] sbueringer commented on #4887
@dongwangdw It should work as we're running this in CI. There might be some additional infos in the capd manager logs.

[2021-07-07 18:30] #4430 closed

[2021-07-07 19:58] jpmcb opened #4891 "Cannot deploy on WSL 2 using Docker"
**What steps did you take and what happened:**
1. Install Windows Subsystem Linux on a compatible Windows machine including all requirements:
    - Windows 10 build: `19041.1052`
    - WSL Ubuntu version: `20.04.2 LTS (Focal Fossa)`
    - WSL kernal version: `Linux 5.4.72-microsoft-standard-WSL2 x86_64`
    - Docker desktop version (with WSL integration enabled): `20.10.7`
    - Clusterapi version

[2021-07-07 20:30] sbueringer commented on #4891
@jpmcb I don't know if it's supported, but we can try in any case :)

I think you're on the right track with the log message from capd-manager. Unfortunately, CAPD doesn't seem to log any stdout/stderr. Two options to get more details:
* Exec into capd manager and try to execute the same command as in the error message. I'm hopeful there might be an explanation in stdout/stderr
* Take a look at th

[2021-07-08 00:16] chymy commented on #4304
I ensure the NTP  is good.
However, In the same environment, after testing, alpha3(should be v0.3.11) is ok, alpha4(v0.3.16) not.

[2021-07-08 04:26] dongwangdw commented on #4887
Let me show my cmd binary version.
clusterctl is built from the latest code.
[code]

docker version
[code]

[2021-07-08 08:28] sbueringer commented on #4586
Apparently we have linter for it. gosec finding G307 detects some of these cases. The one finding we have there seems reasonable: `G307: Deferring unsafe method "Close" on type "*os.File`. I'll open a PR to fix that one in the context of #4622

[2021-07-08 08:58] sbueringer commented on #4622
Regarding: ` G204: Subprocess launched with variable (gosec)`
We currently have 3 findings and I don't think we shouldn't change our code. I think we have the following options:
* Add nolint to our code
* Permanently ignore the finding via exclude-rules (for linter gosec)
* Permanently ignore the finding via exclude-rules (for linter gosec and only in test/framework)

I would prefer the first opti

[2021-07-08 09:18] #4794 closed

[2021-07-08 09:30] #4888 closed

[2021-07-08 09:44] fabriziopandini opened #4896 "Depreacate partial upgrade E2Etest"
**Detailed Description**

Originally in our E2E test we implemented upgrade tests for single CAPI resources:

- KCPUpgradeSpec
- MachineDeploymentUpgradesSpec
- MachinePoolSpec

This is now superseed by ClusterUpgradeConformanceSpec, which upgrades all the resources, makes sure CP is upgraded before nodes (thus being compliant with K8s recommendations), and runs conformance on the resulting test.

[2021-07-08 09:55] randomvariable commented on #4896
It might be useful to have a version that doesn't have a conformance test, or maybe a simple smoke test so you can test different scenarios in your provider without a full multi-hour run.

[2021-07-08 09:59] randomvariable opened #4897 "Replatform e2e on to ginkgo v2"
**User Story**

As a developer, I want my infrastructure cleaned up properly after an aborted test run.

**Detailed Description**

Looks like Ginkgo v2 will solve a lot of problems when it comes to testing on actual infrastructure. One of the main benefits is that `AfterEach` will be executed when tests are aborted, whereas for now only `AfterSuite` is. In AWS, with the current behaviour, this lea

[2021-07-08 10:23] randomvariable commented on #4897
https://github.com/onsi/ginkgo/blob/v2/docs/MIGRATING_TO_V2.md if people wanna read up

[2021-07-08 11:33] sbueringer commented on #4896
Could we specify this via a field on the `SpecInput`s? (i.e. always doing some kind of smoke test and conditionally executing the conformance tests)

[2021-07-08 11:39] invidian commented on #4278
/remove-lifecycle stale

[2021-07-08 11:57] sbueringer commented on #4887
@dongwangdw Just to confirm (because it's a frequently occuring error), did you create the kind cluster with `/var/run/docker.sock` mounts?

[2021-07-08 12:24] sbueringer commented on #4887
I just went through the quickstart guide again with release v0.4.0 and it worked (cluster v0.4.0, Docker 20.10.7, kind v0.11.1, MacOS). I think the only way to reasonably debug this is with the CAPD manager logs.

[2021-07-08 16:10] vincepri commented on #4891
/milestone v0.4
/assign @jpmcb

[2021-07-08 17:57] ykakarap opened #4900 "Add DockerClusterTemplate type"
**Detailed Description**
Add a new CRD named DockerClusterTemplate. This is needed for ClusterClass.
In the short term this type will not be used outside of ClusterClass.

/kind feature

[2021-07-08 18:10] ykakarap opened #4901 "Add KubeadmControlPlaneTemplate type"
/kind feature

**Describe the solution you'd like:**
Add a new CRD named KubeadmControlPlaneTemplate. This is needed for ClusterClass.
In the short term this type will not be used outside of ClusterClass.

[2021-07-08 18:32] vincepri commented on #4901
/milestone v0.4

[2021-07-08 18:33] vincepri commented on #4901
/assign @ykakarap

[2021-07-08 18:33] vincepri commented on #4900
/milestone v0.4
/assign @ykakarap

[2021-07-08 19:24] jpmcb commented on #4891
@sbueringer I've tried to get a forward shell to the `manager` container, but I'm not sure that the docker container has any available shell:

[code]
Any ideas how I could get a forward shell easily to the `manager` container?

[2021-07-08 20:03] sbueringer commented on #4891
@jpmcb
I think the only alternative is to `docker exec` into the control plane node container and then `docker exec` again into `capd manager`, but not sure if that works and it's not really easier, just different.

I think the problem is that the capd manager is based on a distroless image. So I think you have to build your own capd-manager image based on e.g. debian. Docker file is located in: `

[2021-07-08 20:26] sbueringer opened #4902 "Add e2e test for kubeadm feature RootlessControlPlane"
**User Story**

As an operator I would like to be able to run the control plane as non-root (which can be achieved via the kubeadm feature `RootlessControlPlane`).

**Detailed Description**

Some context: Kubernetes 1.22 Changelog:

**Anything else you would like to add:**

The main questions we have to discuss first is when and how we want to test it. For now it's an alpha flag in kubeadm (1.22)

[2021-07-08 20:28] sbueringer commented on #4902
/cc @ykakarap @vincepri @fabriziopandini @neolit123
/cc @vinayakankugoyal (just fyi)

[2021-07-08 20:41] neolit123 commented on #4902
the kubeadm test for this feature were added here:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-rootless-latest
(it has some unrelated k8s e2e test suite flakes)

the test workflow is defined here:
https://github.com/kubernetes/kubeadm/blob/master/kinder/ci/workflows/rootless-tasks.yaml

it contains some tasks to run a bash script on the nodes ensuring users / grou

[2021-07-08 20:49] neolit123 commented on #4902
in the future kubeadm might do more changes behind feature gates - e.g. "etcd learner mode".

the way k8s feature gates graduate is that they always default to enabled once they reach Beta (disabled for Alpha), which means CAPI would get it without an explicit toggle. also sane downstream consumption of kubeadm features should be >= Beta in production at least.

but if there is no toggle on the CA

[2021-07-08 21:28] #2256 closed

[2021-07-08 21:42] vinayakankugoyal commented on #4902
Should we update the issue description to include the word kubeadm, to make it clear what the scope is?

[2021-07-08 22:29] #4139 closed

[2021-07-09 01:39] dongwangdw commented on #4887
No, I just follow the quick start doc on my ubuntu 20.04.

And I reproduced it with a updated docker version 20.10.2:
I can not do this in my mac because the network.
Can you please verify this in Ubuntu? This will make more sense to me.

My cmd is simple:

```clusterctl init -i docker```
AND
[code]

Did I miss anything?

What kind of env of the CI

[2021-07-09 01:52] dongwangdw commented on #4887
I have found some errors which might be helpful
[code]

With this line, should I set the docker with this sock file? How to make it?

[2021-07-09 02:09] #4886 closed

[2021-07-09 02:32] dongwangdw commented on #4887
It is resolved.
I missed the kind configuration in the quick start:
![Screen Shot 2021-07-09 at 10 30 15 AM](https://user-images.githubusercontent.com/2303377/125014658-af937d80-e0a0-11eb-96a5-0b73c2bee59b.png)

I should choose docker instead of 0.9.x.
After I have kind configured, it works.

Maybe we can update the book to split the tabs here to a explicit step.
close this issue.

[2021-07-09 02:32] #4887 closed

[2021-07-09 08:22] fabriziopandini commented on #4896
+1 to have a single ClusterUpgradeConformanceSpec with some flags to skip steps

[2021-07-09 09:03] sbueringer commented on #4493
@vincepri Just reviewed the whole issue again. We already have e2e tests which are testing this, our regular upgrade tests. (https://github.com/kubernetes-sigs/cluster-api/issues/4493#issuecomment-822956319). I don't think I've ever seen this issue in CI.

Short summary (from my point of view), our code does the following right now:
* scaleDownControlPlane
    * if etcd managed:
        * forward

[2021-07-09 09:40] fabriziopandini commented on #4493
I don't see problem in changing the order (also kubeadm doesn't use the list of etcd endpoint in the config map anymore since 1.18  and it was removed in 1.22, see https://github.com/kubernetes-sigs/cluster-api/issues/4423)

However I agree we should understand where our code is not re-entrant.
@chymy would it be possible for you to try to reproduce while adding some more logs in KCP?

[2021-07-09 12:55] fabriziopandini opened #4908 "Add ClusterClass proposal API types"
**Detailed Description**

As an initial activity for the implementation of the [ClusterClass proposal](https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/202105256-cluster-class-and-managed-topologies.md) we should add/change API types ad defined in the proposal.

This change should also include web hook changes as defined by the document in the [validation paragraph](https:

[2021-07-09 12:56] fabriziopandini opened #4909 "Make ClusterController ready for ClusterClass"
**Detailed Description**

As an initial activity for the implementation of the [ClusterClass proposal](https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/202105256-cluster-class-and-managed-topologies.md) we should make the ClusterController "tolerant" of following use case:

- A cluster with Spec.Topology != nil (a managed cluster), with spec.infrastructureRef and spec.cont

[2021-07-09 14:41] fabriziopandini opened #4910 "Make KubeadmConfig and the KubeadmConfigTemplate immutable"
KubeadmConfigTemplate are currently mutable but nor MachinePool nor MachineDeployments trigger rollout in case of changes assuming templates immutable. I suggest we make it immutable like all the other templates

Alsi KubeadmConfig is currently mutable, which does not make much sense given that it will processed only once right at the beginning of the machine lifecycle. Let's make this immutable a

[2021-07-09 19:43] #2918 closed

[2021-07-10 18:56] #4145 closed

[2021-07-10 19:36] rficcaglia commented on #4446
@PushkarJ better late than never ;)  here's my first pass at the self-assessment outline structure, ie not the CAPI details themselves but the high level parts to be filled in (including a place for someone to fill in the CAPI-specific features and controls).  this is meant to be both for CAPI and serve as a template for future subproject use.

https://docs.google.com/document/d/1Fj_cLUN9kLruHbEgm

[2021-07-12 09:02] dongwangdw commented on #4864
This issue has been resolved in master.
https://github.com/kubernetes-sigs/cluster-api/blob/master/controlplane/kubeadm/controllers/controller.go#L228

I guess we do not need to backport it to v0.3.19.

[2021-07-12 11:02] jdef commented on #4864
Why not fix v0.3.x ? Isn't that a "stable", "supported" release?

https://github.com/kubernetes-sigs/cluster-api/blob/91629044849eaacf34a477e6639f456e377326b8/controlplane/kubeadm/controllers/controller.go#L214

On Mon, Jul 12, 2021 at 5:02 AM Wang Dong ***@***.***> wrote:

--
James DeFelice
585.241.9488 (voice)
650.649.6071 (fax)

[2021-07-12 11:59] alexander-demichev commented on #4246
Seems like the last thing left to do is to set up tilt, I'll create a fresh issue for that.

[2021-07-12 11:59] #4246 closed

[2021-07-12 12:01] alexander-demichev opened #4916 "Setup tilt environment for the CAPI operator"
In order to provide a similar dev experience for operator, we should set up tilt environment as it is done for other CAPI components.

https://github.com/kubernetes-sigs/cluster-api/issues/4246

/kind feature
/area operator

[2021-07-12 12:02] fabriziopandini commented on #4908
/assign

[2021-07-12 12:02] alexander-demichev commented on #4270
Solved by introducing a generic reconciler https://github.com/kubernetes-sigs/cluster-api/pull/4520

[2021-07-12 12:02] #4270 closed

[2021-07-12 12:06] alexander-demichev opened #4917 "Move operator API to v1alpha1"
The operator API types were initially scaffolded with v1alpha4 version. This is a new API group so it's more relevant to start from v1alpha1.

https://github.com/kubernetes-sigs/cluster-api/pull/4520#discussion_r638888843

/area operator

[2021-07-12 15:47] vincepri commented on #4864
We can definitely backport on release-0.3 branch

[2021-07-12 15:51] ykakarap commented on #4864
Since this issue is already fixed in master, I can take up backporting it to release-0.3 branch.
Do we have a hack script for this or should I manually cherry-pick?

[2021-07-12 15:57] vincepri commented on #4864
@ykakarap We usually just cherry-pick

[2021-07-12 16:33] PushkarJ commented on #4902
+ 1

[2021-07-12 19:03] #4889 closed

[2021-07-12 22:08] PushkarJ commented on #4446
Thanks @rficcaglia for working on this :) I am thinking of creating two documents from the above:
1. One for cluster-api with many blank spaces to fill in the details as we learn more
2. One that can act as a template for future sub-projects

Does that work for you?

[2021-07-13 01:50] rficcaglia commented on #4446
Great! No objections here

On Mon, Jul 12, 2021 at 3:08 PM Pushkar Joglekar ***@***.***>
wrote:

[2021-07-13 03:14] chymy commented on #4493
After removing the etcd member, the API server on the same machine goes down, but the API server status is `running`:
[code]
It can be seen from the above, the etcd member has been removed. the API server pod status is `running` on the same machine, the loadbalancer communicates with the apisever, it thinks apisever is good, the loadbalancer still sends requests to this node, but the etcd is `Cras

[2021-07-13 05:41] srm09 commented on #3970
/remove-lifecycle stale
Waiting for 1.22 release.

[2021-07-13 05:45] srm09 commented on #4908
Nice catch @fabriziopandini , missed these :)

[2021-07-13 06:01] sbueringer commented on #4493
@chymy Looks like the retry works as expected. I would have expected a 50% success ratio with 2 control plane nodes. Which provider are you using?

I'm a bit confused:

Is that because the API server is still up but all requests fail because it cannot communicate with the etcd on the same host?

[2021-07-13 06:22] chymy commented on #4493
I use openstack.

Sorry. yes, the API server is still up(not down). LB and APIServer are long connections, it seems that it is feasible to retry the work

[2021-07-13 07:34] sbueringer opened #4927 "capi-e2e-main-1-21-latest fails because of CoreDNS RBAC issues"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

After we changed our 1.21=>latest upgrade tests to CoreDNS 1.8.4 they are failing now ([testgrid](https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api#capi-e2e-main-1-21-latest))

**What did you expect to happen:**
They should still work.

**Anything else you would like to add:**
[Mi

[2021-07-13 07:38] sbueringer commented on #4493
@fabriziopandini What do you think?

I would have assumed our retries would succeed eventually because we should hit the still working API server at some point, but that doesn't seem to be the case. Ideally the loadbalancer would either drop the not-working API server at some point because of failing health checks (or something :)). As that's not the case it would be fine for me to change the orde

[2021-07-13 07:42] sbueringer commented on #4927
Potential implementation:
* Patch the `system:coredns` ClusterRole somewhere in `UpdateCoreDNS` if (CoreDNS) `version` >= 1.8.4

[2021-07-13 07:43] sbueringer commented on #4927
/cc @fabriziopandini

[2021-07-13 07:51] chymy commented on #4493
In fact, by changing the order, LB can detect that the old apisever is no longer working, so it can connect to the new apisever

[2021-07-13 08:02] sbueringer commented on #4493
Just out of curiosity (I don't really know how this stuff works): How does that work? I thought we only remove the server from the ConfigMap. How does that signal to the loadbalancer that the API server no longer works?

[2021-07-13 08:11] fabriziopandini commented on #4927
@vincepri @sbueringer KCP should take care of fixing CoreDNS RBAC rules during upgrades to 1.22

TBD if this should be back ported (AFAIK there are also other problems with the 0.3 version of controller runtime/tools on 1.22)

[2021-07-13 08:16] chymy commented on #4493
I think `r.Client.Delete` triggers the infrastructure provider to clean up the VM, and then the old apiserver instance will be cleaned up from LB.

[2021-07-13 08:18] fabriziopandini commented on #4917
I dont'see problems in this, except the risk of generating a little bit of confusion in the users, but let's discuss this in the Office hours for broader feedback

[2021-07-13 08:23] fabriziopandini commented on #4864
PR merged
/close

[2021-07-13 08:23] #4864 closed

[2021-07-13 08:31] dongwangdw commented on #4897
This looks interesting. But from the messages of robot, some confirmation from maintainers is neccessary.
Please respond. Thanks.

[2021-07-13 09:26] eli-halych commented on #1796
Also interested

[2021-07-13 09:36] eli-halych commented on #1796
I used Kind v0.11.1 and this is what worked for me: `kind get kubeconfig --name test`
You basically need to specify cluster name after what you need to get.

[2021-07-13 11:42] fabriziopandini opened #4931 "Create a custom cache index for Cluster.Topology.Class"
**Detailed Description:**
This is part of the activities for the implementation of the [ClusterClass proposal](https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/202105256-cluster-class-and-managed-topologies.md).

In order to setup a watch that triggers reconciliation for all the Clusters using a ClusterClass object being update, it is required to create new cache index on

[2021-07-13 12:50] sbueringer commented on #4927
As we want to mirror the compatibility of kubeadm <=> CoreDNS we want to support:
* Kubernetes >= 1.22 with CoreDNS >= 1.8.1 (endpoint slice support was added with [1.8.1](https://coredns.io/2021/01/20/coredns-1.8.1-release/))

So for v1alpha4 with Kubernetes >= 1.22 and CoreDNS >= 1.8.1 this means:
* newly created cluster already work because `kubeadm init` uses the correct `ClusterRole`
* for Ku

[2021-07-13 12:54] fabriziopandini commented on #4493
TBH, I think that something should be tuned in the LB configuration, given that according to the log above it can't detect the API server failed in 4 minutes, and all the calls goes on a single endpoint (stickiness?). This is a problem no matter of the order of the tree operations we are discussing, because other API servers calls are going happen for sure immediately after.

However, as per comme

[2021-07-13 13:05] randomvariable commented on #4927
The proposed method sounds fine, and much like the other upgrade behaviour we have.

[2021-07-13 13:25] sbueringer commented on #1796
@Thor-wl I'm not sure you can still get the path, but you can export a kubeconfig via `kind get kubeconfig`

[2021-07-13 13:44] sbueringer commented on #4493
Sorry missed something before. I think it might be dangerous to change the order. New code would be:

* scaleDownControlPlane
    * remove machine from kubeadm config map
    * delete machine
    * if etcd managed:
        * forward etcd leader ship to newest control plane node
        * remove etcd member

This means (imho) that we have a race condition between deletion of the server and moving e

[2021-07-13 13:47] fabriziopandini opened #4933 "Implement scaffolding for the ManagedTopology controller"
**Detailed Description**
This is part of the activities for the implementation of the [ClusterClass proposal](https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/202105256-cluster-class-and-managed-topologies.md).

Managed topologies are going to be managed by a new controller, the ManagedTopology controller.
This controller:
- Must be behind a new `ClusterManagedTopologies`

[2021-07-13 16:44] #4386 closed

[2021-07-13 17:34] vincepri commented on #4817
/milestone Next

[2021-07-13 17:34] vincepri commented on #4837
/milestone Next
/priority awaiting-more-evidence

[2021-07-13 17:53] dkoshkin opened #4935 "capi-kubeadm-control-plane-manager-rolebinding no longer uses aggregated-manager-role"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
In [v0.3.20](https://github.com/kubernetes-sigs/cluster-api/releases/download/v0.3.20/control-plane-components.yaml)
The `capi-kubeadm-control-plane-manager-rolebinding` used the `capi-kubeadm-control-plane-aggregated-manager-role` ClusterRole which allows the use of `kubeadm.controlplane.

[2021-07-13 18:30] dkoshkin opened #4936 "ControlPlaneInitialized condition is set before a control-plane Node is ready"
**What steps did you take and what happened:**

1. Follow https://cluster-api.sigs.k8s.io/user/quick-start.html for Docker with:

[code]

2. Modify the `KubeadmControlPlane` to force a failure, something like:

[code]

---

The worker machine is in Provisioning, before a control-plane is up:
[code]

Its because the `cluster` has `ControlPlaneInitialized` status.
[code]

Even though there is no nod

[2021-07-13 20:09] sbueringer commented on #4927
Note to myself: let's cherry-pick this into v1alpha3

[2021-07-13 22:37] CecileRobertMichon commented on #4847
@yastij should we just disable the validation? seems like it doesn't work and not being able to scale at all is not great

[2021-07-14 10:08] sbueringer opened #4938 "Reconsider how we compare Kubernetes versions"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

During the implementation of https://github.com/kubernetes-sigs/cluster-api/pull/4937 I discovered that my initial implementation of the update logic did not apply to beta versions of Kubernetes 1.22. I used a Kubernetes version parsed by `semver.ParseTolerant` and wanted to execute the l

[2021-07-14 10:09] sbueringer commented on #4938
/cc @fabriziopandini

[2021-07-14 10:10] fabriziopandini opened #4939 "Should we support downgrades in ManagedTopologies?"
**Detailed Description**
from https://github.com/kubernetes-sigs/cluster-api/pull/4928#discussion_r669473690

In the proposal for ClusterClass and managed topologies we are introducing a constraint that prevents the Kubernetes version to be decreased.

Should we not support any kind of rollback instead? How this should work?

/kind feature

[2021-07-14 10:17] sbueringer commented on #4939
I wonder what kind of downgrades are supported by Kubernetes itself (minor/patch)?

I'm not sure where I picked that up, but I thought downgrading a Kubernetes minor version is not safe (or at least not without rolling back to an old etcd snapshot/backup).

[2021-07-14 10:22] fabriziopandini commented on #4938
I would say the problem is not in how we Parse, but in what we expect from compare because we are considering build version to be higher than our thresholds.

Thus I think that we should go for the second option; might be we can also consider to implement out custom compare function, thus making this more explicit in the code

[2021-07-14 10:25] fabriziopandini opened #4940 "Additional validation checks for ClusterClass and managed topologies"
**Detailed Description**
This is a follow up of https://github.com/kubernetes-sigs/cluster-api/pull/4928#discussion_r668829862

The ClusterClass and managed topologies proposal introduced an initial set of web hook validation rules.
This issue is about adding more validation rules in order to make things even more robust, e.g.

- Ensure all Ref are valid (*)
  - Ref can only reference template obj

[2021-07-14 10:43] prksu commented on #4847
@vincepri @CecileRobertMichon @yastij If this validation aims to prevent the users to scale the kcp to have even numbers of replicas, why not just validate `.spec.Replicas` like this https://github.com/kubernetes-sigs/cluster-api/blob/bc94459d95c6809875ea78bb748e766165a09c2a/controlplane/kubeadm/api/v1alpha4/kubeadm_control_plane_webhook.go#L240-L259

I can confirm in `v0.4.x`, I can scale kcp to

[2021-07-14 11:10] #3441 closed

[2021-07-14 11:32] sbueringer commented on #4938
@fabriziopandini You're right. I changed the title and some details of the description to reflect that better.

[2021-07-14 11:35] sbueringer commented on #4940
Sounds like a good issue to parallelize after #4928 has been merged.

[2021-07-14 14:10] randomvariable opened #4941 "[Placeholder] Add utility functions for multi-tenancy"
**User Story**

As a [developer/user/operator] I would like to [high level description] for [reasons]

**Detailed Description**

TODO: @randomvariable to flesh this issue out.

[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**

[Miscellaneous information that will assist in solving the issue.]

/kind feature

[2021-07-14 14:46] schrej opened #4943 "Namespace validation missing for MachineHealtcheck's RemediationTemplate reference"
**What steps did you take and what happened:**
(I didn't perform those steps, I only read the code)
Create a MachineHealthcheck that has a RemediationTemplate reference that contains a Namespace that's different from the namespace of the MachineHealthcheck.

**What did you expect to happen:**
The API should either reject the object or the namespace should be respected when following the reference.

[2021-07-14 14:54] vincepri commented on #4943
/milestone v0.4

[2021-07-14 17:51] vincepri commented on #4618
Renaming this field to `topology` and have it under status might be a bit confusing for the work related to ClusterClass and managed topologies. Would there be any downsides in keeping failure domains for now?

[2021-07-14 18:20] #4665 closed

[2021-07-14 18:40] enxebre opened #4946 "Lag from the nodes go ready and when they are counted as available by the owner MachineSet."
**What steps did you take and what happened:**
Creating a MachineDeployment and wait for replicas to go available. I'm seen a considerable lag from the moment the nodes go ready and the moment they are counted as available by the owner MachineSet.

**What did you expect to happen:**
As soon as Nodes go ready this is conveyed in the MachineSet/MachineDeployment available replicas.
This is critical

[2021-07-14 18:41] enxebre commented on #4946
/assign

[2021-07-14 19:28] vincepri commented on #4946
The `Requeue: true` in the Machine controller _could_ probably be dropped in favor of just waiting for the watch events to be triggered, that said I'm unsure why this would be causing the controller to go in exponential backoff. When the option is set Controller Runtime requeues the object immediately, so this might not be the actual reason why the readiness is taking time.

Could you elaborate a

[2021-07-15 08:14] #4943 closed

[2021-07-15 09:15] sbueringer commented on #4946
Possibly related: https://github.com/kubernetes-sigs/cluster-api/issues/4447

I might be completely missing the point, but an alternative theory:

The node is found and it just isn't ready yet, so we hit this branch:
https://github.com/kubernetes-sigs/cluster-api/blob/70e959802aa7722efefe69158e868d7ff3eec4be/controllers/machine_controller_noderef.go#L115-L119

There is no requeue at all and we don

[2021-07-15 09:26] enxebre commented on #4946
@sbueringer This might be related as well. Though I thought we are watching nodes  https://github.com/kubernetes-sigs/cluster-api/blob/master/controllers/machine_controller.go#L232-L237

@vincepri not sure how you mean. As fas as I can see when `requeue=true` that key is added a rate limiting that starts the exponential backoff
https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/

[2021-07-15 10:52] sbueringer commented on #4946
@enxebre Ah wasn't sure at which step you see the lag. Yes you're right we shouldn't have the problem I described.

[2021-07-15 11:18] enxebre commented on #4946
I can reproduce this consistently and validated that the controller goes exponential back off up to 2m43.84s resulting in the lag to set the nodeRef after the Node is created.

[code]

[2021-07-15 18:09] fabriziopandini opened #4948 "ControlPlane contract should define version and infrastructure machine fields"
**Detailed Description**
This is part of the activities for the implementation of the [ClusterClass proposal](https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/202105256-cluster-class-and-managed-topologies.md).

With the introduction of ClusterClass which is responsible for handling the kubernetes version too, the current contract for control plane objects needs to be expa

[2021-07-15 18:09] fabriziopandini commented on #4948
/assign

[2021-07-15 18:33] scottslowe commented on #4885
@vincepri @randomvariable Do you all need/want me to close this and re-open in the appropriate repo?

[2021-07-15 18:59] joshrosso opened #4950 "CAPD: make the kindest/haproxy image configurable"
**User Story**

As an operator, I'd like to use a custom HA proxy image for my CAPD-based cluster's API server loadbalancer.

**Detailed Description**

Today, the haproxy image is hard coded and not configurable:

https://github.com/kubernetes-sigs/cluster-api/blob/bfc6f80add5c21b8dc2b704951f42bc14708ebc4/test/infrastructure/docker/third_party/forked/loadbalancer/const.go#L19-L20

Making this conf

[2021-07-15 19:05] vincepri commented on #4950
/area provider/docker
/milestone v0.4

[2021-07-15 19:32] fabriziopandini commented on #4950
What about implementing something like

[code]

So we have something that mimics what we have in kubeadm config types?

[2021-07-15 19:49] joshrosso commented on #4950
@fabriziopandini should `ImageMeta` actually contain 3 fields, as follows?

[code]

[2021-07-15 19:52] stmcginnis commented on #4950
/assign

Will take a crack at the suggested change.

[2021-07-15 19:53] vincepri commented on #4950
We usually don't allow overwriting the ImageName, keeping that fixed and consistent with all the other places where ImageMeta is used

[2021-07-15 19:55] joshrosso commented on #4950
cool, makes sense -- thanks :+1:

[2021-07-15 19:57] vincepri commented on #4950
@fabriziopandini One thing to note though is that we're not calling out anywhere in the proposed API addition that the load balancer is haproxy

[2021-07-15 20:03] stmcginnis commented on #4950
@vincepri should that be in a code comment calling that out, or are you thinking somewhere more visible?

[2021-07-15 20:09] vincepri commented on #4950
Code comment could be good, I'm wondering though if we should have Haproxy as a specific field under the `DockerLoadBalancer` struct

[2021-07-15 20:15] stmcginnis commented on #4950
So like @joshrosso was suggesting, but instead of having the field in `ImageMeta`, move it up a level to the `DockerLoadBalancer` struct?

[2021-07-15 20:21] vincepri commented on #4950
Not the imageName per se, I was more suggesting something like:
`DockerLoadBalancer` -> `DockerHaproxyLoadBalancer` -> `ImageMeta`

[2021-07-16 06:12] sbueringer commented on #4935
@dkoshkin Thank you for reporting this. I went through our manifests and I think you're right. Looks to me like it wasn't intended and it didn't break CI because we only have tests which are using the APIgroups which are already included in the `capi-kubeadm-control-plane-manager-role` ClusterRole. I'll open a PR to fix it

[2021-07-16 06:19] sbueringer commented on #4935
/milestone v0.4
/assign
/lifecycle active

[2021-07-16 12:18] sbueringer opened #4954 "pull-cluster-api-verify is broken after the upgrade to go 1.17 rc1 CI image"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

Currently, all our `pull-cluster-api-verify` are failing. Our jobs were updated yesterday ([link](https://github.com/kubernetes/test-infra/commit/1e18db08d715a6e18ca0fafc5acde1f1d09704de#diff-acb2ca5ac5bdc0e994bdab32ff57c18d2a3b4d8d51e29773c1bb226f1ee7090a)) to use the new `kubekins-e2e:v

[2021-07-16 12:24] randomvariable commented on #4954
The issue with "running gofmt 1.17", is we don't yet know of an easy way to make this automatic via some magic in hack/tools, such that local development isn't blocked on using `gvm` or something.

[2021-07-16 14:08] vincepri commented on #4954
We should switch the images for Cluster API to v1.21, which is still using Go 1.16 and it's our main dependency in Controller Runtime

[2021-07-16 14:17] vincepri commented on #4954
/milestone v0.4

[2021-07-16 15:06] #4954 closed

[2021-07-16 15:30] vincepri commented on #4935
/milestone v0.4

[2021-07-16 15:50] sbueringer commented on #4927
/reopen
to track the cherry-pick for v0.3.*

[2021-07-16 15:54] #4935 closed

[2021-07-16 20:54] CecileRobertMichon commented on #4917
/close

[2021-07-16 20:54] #4917 closed

[2021-07-19 07:28] sbueringer commented on #4493
@fabriziopandini what do you think, should we still change the order?

[2021-07-19 11:20] fabriziopandini commented on #493
/remove-lifecycle stale

[2021-07-19 11:25] fabriziopandini commented on #4622
As per https://github.com/kubernetes-sigs/cluster-api/pull/4928#discussion_r671523370 it seems that we are not linting comments on the APIs

[2021-07-19 16:14] #4518 closed

[2021-07-19 16:36] #4908 closed

[2021-07-19 17:11] vincepri commented on #4936
/assign @fabriziopandini
/milestone v0.4

Just a note that the two codepaths linked above are mutually exclusive, although I do agree that they have different definitions and this should be fixed.

[2021-07-19 17:31] ykakarap commented on #4940
I can work on this :)
/assign

[2021-07-19 17:32] srm09 commented on #4909
/assign

[2021-07-19 17:46] ykakarap commented on #4931
/assign

[2021-07-19 17:54] vincepri commented on #4278
Can you test on the latest v0.4 version? This should be fixed now.

[2021-07-19 17:54] vincepri commented on #4278
/milestone v0.4

[2021-07-19 17:55] vincepri commented on #4278
/priority awaiting-more-evidence

[2021-07-19 18:00] vincepri commented on #4940
/milestone v0.4

[2021-07-19 18:54] sbueringer opened #4966 "v0.3.x: Block creation of /upgrades to Kubernetes v1.22 management clusters"
**User Story**

As a user I would like to get an error as early as possible when trying to upgrade a management cluster to v1.22 (using CAPI v0.3.x)

**Detailed Description**

There are different ways how a Kubernetes v1.22 management cluster could be created/updated:
1. create a new v1.22 workload cluster + clusterctl move / init / ..
2. upgrade a self-hosted <v1.22 management cluster via CAPI to

[2021-07-19 19:24] sbueringer commented on #4966
Some ideas for 2.:

Assumption: the first step in updating a cluster to v1.22 is changing the version in KubeadmControlPlane and then later on MachineDeployment etc.. I think there's nothing we can do about other control plane providers.

Some ideas:

Hand over a client to the KubeadmControlPlane webhook.

In the update validation we would block the update:
* if old version < v1.22 new version >=

[2021-07-19 19:27] sbueringer commented on #4966
/cc @fabriziopandini @randomvariable @vincepri @CecileRobertMichon

[2021-07-19 19:33] sbueringer commented on #4927
/close

(cherry-pick merged)

[2021-07-19 19:33] #4927 closed

[2021-07-19 20:40] enyinna1234 commented on #4190
/assign

[2021-07-19 22:01] jpmcb commented on #4891
Getting the bash forward shell to the control plane node works fine:
[code]
but once there, I don't see a way to exec onto any of the containers it knows about. There's doesn't seem to be a docker binary to use.

I can try to build using a different base image. Once I have a newly built image, what's the best way to inject it into the cluster-api cluster creation workflow?

[2021-07-20 06:59] sbueringer commented on #4891
@jpmcb Sorry my bad. Now I actually tried it. `crictl` is installed inside the kind image. You should be able to use `crictl exec`. I tried it with `crictl exec -it fa879fdd69622 /usr/bin/docker info`. The currently released v0.3.x container should only have the controller, `/usr/bin/kubectl` and `/usr/bin/docker`.

So I think you now have the following options to reproduce:

1. docker exec into t

[2021-07-20 09:52] randomvariable opened #4969 "Fix release processes"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

**What did you expect to happen:**
Issues:

1. make release-binary doesn't work on latest Docker versions because experimental -v source=<>,dest=<> was dropped.
2. make release-notes doesn't work, prompts for start and end sha
3.
**Anything else you would like to add:**
[Miscellaneous inf

[2021-07-20 09:52] randomvariable commented on #4969
/priority critical-urgent

[2021-07-20 09:52] randomvariable commented on #4969
/kind release

[2021-07-20 09:52] randomvariable commented on #4969
/kind ?

[2021-07-20 10:21] fabriziopandini opened #4970 "Implement read ClusterClass and all the referenced templates"
**Detailed Description**
This is part of the activities for the implementation of the [ClusterClass proposal](https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/202105256-cluster-class-and-managed-topologies.md).

As part of the ManageTopologyController reconcile loop, we want to read a ClusterClass and all the referenced templates

This step should return a struct including

[2021-07-20 10:21] fabriziopandini commented on #4970
/assign @sbueringer

[2021-07-20 10:22] fabriziopandini opened #4971 "Implement read current state of a managed topology"
**Detailed Description**
This is part of the activities for the implementation of the [ClusterClass proposal](https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/202105256-cluster-class-and-managed-topologies.md).

As part of the ManageTopologyController reconcile loop, we want to read a ClusterClass and all the referenced templates

This step should return a struct including

[2021-07-20 10:24] fabriziopandini commented on #4971
/assign @killianmuldoon

[2021-07-20 10:25] fabriziopandini commented on #4971
(assigning to myself given that Killian is not yet  kubernetes-sigs member)

[2021-07-20 10:49] Lirt opened #4973 "[v1alpha3] Modification of NodeDrainTimeout requires rollout of MachineDeployment"
Hello CAPI community,

I have a question about the `NodeDrainTimeout` configuration option. First of all I am using CAPI version `0.3.16` and I understand that [some things](https://github.com/kubernetes-sigs/cluster-api/commit/8e63984b9fcf8b01ec0229a5d011b66f8a8372b9) have changed around this configuration option.

I have this scenario:
1. When I change `NodeDrainTimeout` on `KubeadmControlPlane`

[2021-07-20 12:14] fabriziopandini commented on #4966
I'm not sure that blocking in web hooks is a viable option for v0.3.x, because this most probably requires controller runtime changes, and I don't think we can get them in the version currently used in this branch.

This leaves us to being forced to block in the controllers.
- I agree the control plane controller is the first place where upgrade are triggered so I'm +1 to block here; We can raise

[2021-07-20 12:17] fabriziopandini opened #4974 "Add support for reconciling only a subset of a topology."
**Detailed Description**

The first implementation of ClusterTopology controller is going to have a basic machining for handling conditions when managed topologies can’t work properly, e.g.
- inconsistencies in the ClusterClass definition (e.g. wrong template references)
- inappropriate operations (e.g. deleting a Cluster Class in use)
- processing errors

In all the above cases, the controller te

[2021-07-20 13:38] vespian commented on #4384
Closing for now, I can't find time to look into it :(

[2021-07-20 13:38] #4384 closed

[2021-07-20 15:08] vincepri commented on #4304
v0.3.16 is still using v1alpha3, v1alpha4 is on v0.4.x

[2021-07-20 15:16] vincepri commented on #4969
Can you provide more information about the first one and what the intended solution is? I ran make release not long ago for the v0.3.21 release and it worked fine on the latest version of Docker for Mac

The release notes bin should probably be removed from the Makefile and run the program directly

[2021-07-20 15:24] vincepri commented on #4966
/milestone v0.3

[2021-07-20 16:58] srm09 commented on #4909
@fabriziopandini I have been thinking about this issue. Currently, if either of the `spec.InfrastructureRef` or `spec.ControlPlaneRef` is `nil`, we just return without any error. And the idea is in the subsequent reconcile loops when the value is set, we will handle the reconciliation cases then.

The idea behind making the cluster controller more acceptable is
1. to punt the reconciliation when t

[2021-07-20 18:11] chewong opened #5123 "test: passed test suite contains failed test cases"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

example: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-capz-windows-dockershim/1417250279195152384

The job above has two failed test cases but it's marked as passed:
[code]

**What did you expect to happen:**

**Anything else you would like to add

[2021-07-20 20:09] fabriziopandini commented on #4909
The goal of this issue is to allow a managed Cluster to exists without spec.InfrastructureRef and spec.ControlPlaneRef (which is the short timeframe while we wait for the topology to be reconciled).

Now, AFAIK a Cluster can exists without spec.ControlPlaneRef (this is a legacy thing from before ControlPlane provider were introduced)

I'm not sure the same applies to spec.InfrastructureRef. What h

[2021-07-20 20:49] #4909 closed

[2021-07-20 23:16] asalkeld opened #4978 "Add a MemoryReader for the operator"
**User Story**

The operator needs to be able to read configuration (normally in files locally) from a secret into a Reader.
see https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/20201020-capi-provider-operator.md
This can be easily done by the operator reading in the secret and Setting the variables on new MemoryReader.

Note that the secret is to not be writable so we don

[2021-07-20 23:20] asalkeld opened #4979 "Add a MemoryRepository for the operator"
User Story

The operator needs to be able to read repository files (normally on github/local files) from a configmap into a Repository.
see https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/20201020-capi-provider-operator.md
This can be easily done by the operator reading in the configMap and Setting the files on new MemoryRepository.

Detailed Description

Here is the curr

[2021-07-20 23:20] asalkeld commented on #4978
/assign

[2021-07-21 01:56] asalkeld opened #4982 "Improve the operator proposal for supporting providers deploying additional controllers via the component.yaml"
I am trying to implement the API and something does not make sense..

For example: see https://github.com/metal3-io/cluster-api-provider-metal3/releases/tag/v0.4.1
there are 5 deployments
[code]
Note: most of these have a container with the name "manager" (kubebuilder default) so we can't rely on the container name.

Problem 1:
there is no name in the DeploymentSpec/MangerSpec

Problem 2:
there is

[2021-07-21 05:38] asalkeld commented on #4982
Note for Problem 3, I am working on https://github.com/asalkeld/cluster-api/commit/95a3a2f61aa2b96efbbd56402e1b79e970a4416f

[2021-07-21 06:19] sbueringer commented on #4966
Regarding: "What do we want to do with management clusters which are already on v1.22?"

I tried to deploy CAPI v0.3.21 on Kubernetes v1.22.0-rc.0 and imho it's impossible to get it to work without any more changes to CAPI. So I think we can assume we don't have any existing v1.22 CAPI v0.3.x management cluster out there.

### Exploration CAPI v0.3.21 on Kubernetes v1.22-rc.0

* build kindest/node

[2021-07-21 06:28] sbueringer opened #4983 "Upgrade cert-manager for Kubernetes v1.22"
**User Story**

As an operator I would like to be able to use a Kubernetes v1.22 cluster as a management cluster.

**Detailed Description**

I tried to deploy our current cert-manager on Kubernetes v1.22-rc.0 and cert-manager-cainjector does not come up as it's using MutatingWebhookConfiguration/ValidatingWebhookConfiguration v1beta1:

[code]

**Anything else you would like to add:**
cert-manager

[2021-07-21 07:52] fabriziopandini commented on #2826
/remove-lifecycle rotten
@CecileRobertMichon what about breaking down this issue in a set of small actionable items?

[2021-07-21 07:53] fabriziopandini commented on #1271
/remove-lifecycle rotten

[2021-07-21 15:36] fabriziopandini commented on #4982
If I got it right, capm3 is installing some other controller in addition to the provider controller using the same component.yaml, and from your issue, I assume your expectation is to pilot those components via the operator API.

But clearly, as you are pointing out this is something not covered as a use case in the current proposal/API design the community agreed upon.

I defer to the usual discu

[2021-07-21 16:16] fabriziopandini commented on #4493
The only change of order that makes sense IMO is

- scaleDownControlPlane
     - remove machine from kubeadm config map
     - if etcd managed:
        - forward etcd leader ship to newest control plane node
        - remove etcd member
     - delete machine

Because delete machine should always be called after completing all the actions on the components hosted on that machine.

However the conte

[2021-07-21 17:45] sbueringer commented on #4966
Note from the CAPI meeting: we should also update the following pages in the book:
* Quickstart: https://release-0-3.cluster-api.sigs.k8s.io/user/quick-start.html
* Version Support: https://release-0-3.cluster-api.sigs.k8s.io/reference/versions.html

[2021-07-21 18:09] sbueringer commented on #4983
/assign

[2021-07-21 18:12] vincepri commented on #4983
/milestone v0.4

[2021-07-21 18:12] vincepri commented on #4983
/priority important-soon

[2021-07-21 18:22] kbreit opened #4988 "ClusterAPI Book is out of date"
Looking at https://cluster-api.sigs.k8s.io/reference/versions.html I am seeing some out of date information. Specifically, the CAPI version and K8s version compatibility tables don't include v1alpha4 and k8s 1.21. This should be updated to have the newer versions.

/kind bug
[One or more /area label. See https://github.com/kubernetes-sigs/cluster-api/labels?q=area for the list of labels]

[2021-07-21 19:13] fabriziopandini opened #4991 "Make Cluster.spec.topology.controlPlane.replicas optional"
**Detailed Description**

As per July 21th 2021 office hour discussion, we should make the Cluster.spec.topology.controlPlane.replicas field optional and adjust web hooks accordingly.

[code]

NOTE: also the proposal should be updated with the changes

/kind bug

[2021-07-21 19:14] fabriziopandini commented on #4991
/milestone v0.4

@vincepri @CecileRobertMichon @alexeldeib

[2021-07-21 19:24] sbueringer commented on #4966
/assign

[2021-07-21 19:32] fabriziopandini commented on #4988
/remove-kind bug
/kind documentation
/milestone v0.4

[2021-07-21 20:13] sbueringer commented on #4971
@fabriziopandini Just fyi, afaik you cannot assign killian but @killianmuldoon can assign himself. Just found that out with someone from my old company.

Apparently you cannot assign somebody outside of the org, expect:
* he does it himself
* he wrote something in the issue by himself

[2021-07-21 20:17] sbueringer commented on #4973
@Lirt I think it changes with v0.4.0 because afaik we don't rollout changes to the templates as we consider them immutable (or at least we handle them that way). You can test it by running the v0.4.0 quick start with CAPD and play around with it.

[2021-07-21 20:53] #4983 closed

[2021-07-21 23:43] asalkeld commented on #4982
@fabriziopandini thanks for the response.

First a clarification:
It seems like most providers have 1 main controller (metal2 has 2) that runs that is a deployment by default in cap?-system namespace AND a webhook that runs in a different deployment in capi-webhook-system namespace.
Which deployment should we alter if there is a ProviderSpec.DeploymentSpec? Both? This would make sense for image bu

[2021-07-22 06:11] ykakarap commented on #4991
/assign

[2021-07-22 06:17] sbueringer commented on #4982
Regarding Problem 3

@asalkeld Not sure if it helps, and I don't have enough context / want to interfere. With CAPI v1alpha3 we deployed all controllers twice (once for the reconciler, once for the webhooks). Starting with v1alpha4 we dropped that and all other providers are running just once (with reconciler **and** webhooks). (ref: https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/

[2021-07-22 07:23] chymy opened #4996 "`Machine.Spec.Version` should not be optional"
**What steps did you take and what happened:**
If `Machine.Spec.Version`  is optional, so `Machine.Spec.Version`  may not be configured.
This will result in the following errors:
the logs in kubeadm-bootstrap:
[code]

and the machine status:
[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Env

[2021-07-22 09:23] fabriziopandini commented on #3203
What about closing this given the ClusterClass work?

[2021-07-22 09:45] #4950 closed

[2021-07-22 13:06] sbueringer commented on #3203
Agree. This will be 100% covered by what we want to do with ClusterClass.

[2021-07-22 14:48] fabriziopandini opened #4998 "Implement generate Cluster and its referenced objects for a managed topology"
**Detailed Description**

This is part of the activities for the implementation of the [ClusterClass proposal](https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/202105256-cluster-class-and-managed-topologies.md).

As part of the ManageTopologyController reconcile loop, we want to generate the desired state of a managed topology.

This requires to computing following objects

[2021-07-22 14:49] fabriziopandini commented on #4998
/milestone v0.4

/assign
/lifecycle active

[2021-07-22 14:52] fabriziopandini opened #4999 "Implement generate MachineDeployments and their referenced objects for a managed topology"
**Detailed Description**

This is part of the activities for the implementation of the ClusterClass proposal.

This is a spin of off https://github.com/kubernetes-sigs/cluster-api/issues/4998

As part of the ManageTopologyController reconcile loop, we want to generate the desired state of a managed topology.

This issue focus machine deployments and related templates (cluster and its dependencies

[2021-07-22 14:53] fabriziopandini commented on #4999
/milestone v0.4

[2021-07-22 15:55] #4933 closed

[2021-07-22 16:29] sbueringer commented on #4940
@ykakarap  Can you please also extend the KubeadmControlPlane webhook to also validate the name of the infrastructure machineTemplate ObjectReference

More details in: https://github.com/kubernetes-sigs/cluster-api/pull/4986#discussion_r674835932

[2021-07-22 16:31] ykakarap commented on #4940
@sbueringer will do 👍🏼

[2021-07-22 16:52] randomvariable commented on #4966
I agree that a management cluster already on v1.22 probably already is going to need manual remediation.

[2021-07-22 19:06] fabriziopandini commented on #4999
FYI https://github.com/kubernetes-sigs/cluster-api/pull/5002 implements the first part of this effort

[2021-07-22 20:05] #4447 closed

[2021-07-22 20:05] #4946 closed

[2021-07-22 21:21] AartiJivrajani opened #5003 "Control plane not initialized in case of CAPD"
**What steps did you take and what happened:**
I followed the 0.3 Quickstart guide here - https://release-0-3.cluster-api.sigs.k8s.io/user/quick-start.html for deploying a workload cluster using Docker
[code]
**What did you expect to happen:**
Expected the kubeadm controlplane to be initialized
[code]

**Anything else you would like to add:**
[code]

[code]

[code]

logs:
[capd-controller-manager-

[2021-07-22 23:14] vincepri commented on #4370
/lifecycle frozen

[2021-07-23 03:12] haijianyang opened #5005 "Change the controlPlaneEndpoint during kubernetes cluster running"
**User Story**

I found that the documentation and code didn't mention update/change the controlPlaneEndpoint after setting.
As a user I want to change the controlPlaneEndpoint during kubernetes cluster running, can CAPI provide support?

/kind feature

[2021-07-23 05:54] huchen2021 opened #5006 "go get sigs.k8s.io/cluster-api/test/framework failed."
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version:
- Minikube/KIND version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-releas

[2021-07-23 06:21] sbueringer commented on #5006
I think that's because we don't have a go mod file there. Please try `go get sigs.k8s.io/cluster-api/test`

[2021-07-23 06:48] sbueringer opened #5008 "Resolve release series labels in e2e config"
**User Story**

As a developer I would like to have an easily consumable way to find out the latest stable release of a CAPI release series (e.g. v0.3.x or v0.4.x).

**Detailed Description**
Kubernetes currently exposes the latest stable releases (overall or per release series) via:
* http://dl.k8s.io/release/stable.txt
* http://dl.k8s.io/release/stable-1.21.txt

This is useful when consuming Kube

[2021-07-23 06:57] sbueringer commented on #5003
Thank you for the very detailed issue :). I'll take a look

[2021-07-23 07:01] huchen2021 commented on #5006
Still get some error:
$ go get sigs.k8s.io/cluster-api/test
go get: sigs.k8s.io/cluster-api/test@none updating to
	sigs.k8s.io/cluster-api/test@v0.4.0 requires
	sigs.k8s.io/cluster-api@v0.0.0-00010101000000-000000000000: invalid version: unknown revision 000000000000

Why am I go get sigs.k8s.io/cluster-api/test/framework, that's because when I run "go vet ./...", It prompts me to run "go get sigs

[2021-07-23 07:21] sbueringer commented on #5003
We had the same issue on our main branch.

Starting with kubeadm v1.21, kubeadm will default to cgroupDriver systemd.

tl;dr To get it working (for now) you have to add `cgroup-driver: cgroupfs` to all `kubeletExtraArgs` in `capi-quickstart.yaml` manually.

@fabriziopandini Should we cherry-pick the fix to the release-0.3 branch? I think we can be reasonable sure that it works for older version be

[2021-07-23 07:26] sbueringer commented on #5006
@huchen2021 Can you add `replace sigs.k8s.io/cluster-api => sigs.k8s.io/cluster-api v0.4.0` to your go mod file?

For reference: a complete example: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/go.mod

[2021-07-23 07:28] sbueringer commented on #4817
@huchen2021 For v1.21 please see: https://github.com/kubernetes-sigs/cluster-api/issues/5003#issuecomment-885450609

[2021-07-23 07:39] huchen2021 commented on #5006
Thanks a lot! It works.

[2021-07-23 07:46] sbueringer commented on #5006
You're welcome

/close

[2021-07-23 07:47] #5006 closed

[2021-07-23 08:27] sbueringer commented on #4966
@fabriziopandini @vincepri  @randomvariable  I would then start implementing the part in the KubeadmControlPlane controller. As we assume we don't have healthy v1.22 management clusters out there I would implement the following:

* if self hosted && new KCP.spec.version >= v1.22 => return err

For if self hosted, I can think of the following options:
* propagate KCP controller metadata.{uid,name,n

[2021-07-23 09:18] fabriziopandini commented on #5008
I like the idea.
At least in first iteration marker files can be stored in the same buckets we are using for nightly build artefacts

/area testing
even if this could have different applications

[2021-07-23 09:22] fabriziopandini commented on #5003
+1 to backport the fix (and eventually fix released manifests) given that I expect more people using 1.21 or 1.22 soon

[2021-07-23 11:51] #4900 closed

[2021-07-23 12:32] Lirt commented on #4973
I understand that `MachineTemplate` is immutable, that's completely fine, but maybe decision to put `NodeDrainTimeout` inside of `MachineTemplate` is not so good. If I configure different `MachineTemplate` or `InfrastructureRef` in `MachineDeployment`, it forces a rollout even when only `NodeDrainTimeout` was changed, yes?

It means that the behavior will stay the same --> there is a need to re-ro

[2021-07-23 14:10] sbueringer opened #5010 "clusterctl does not set target namespace in WebhookConfigurations/CRDs"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

When running `clusterctl-v0.4.0 init --infrastructure docker --target-namespace custom-target` the namespace in the WebhookConfigurations and CRDs is not updated accordingly.

**What did you expect to happen:**
`webhooks[].clientConfig.service.namespace ` should have been updated in all W

[2021-07-23 14:24] vincepri commented on #5010
/milestone v0.4
/kind release-blocking

[2021-07-23 14:30] sbueringer opened #5011 "remote.TestClusterCacheHealthCheck is flaky"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

Based on our leaderboard on testgrid `TestClusterCacheHealthCheck` regularly fails in CI.
![Screenshot 2021-07-23 at 16 28 53](https://user-images.githubusercontent.com/4662360/126797194-82c49004-859d-4769-9835-e12196e351dd.png)

**What did you expect to happen:**
Shouldn't fail that ofte

[2021-07-23 14:35] vincepri commented on #4973
Hi @Lirt, and thanks for taking the time to file an issue!

This topic keeps coming up and for good reason. The current limitation is very problematic in case there are large number of machines that need to be rolled out. For example, let's say a MachineDeployment has 100s of Machines, and we want to add or modify a field that users know it can be mutated in place, experiencing a full fleet rollou

[2021-07-23 15:20] vincepri commented on #5008
Is there any automation we could reuse?

[2021-07-23 15:21] vincepri commented on #5008
/priority important-longterm

[2021-07-23 15:37] vincepri commented on #4966
Could we check if the Cluster API CRDs are installed and block the upgrade to v1.22?

[2021-07-23 15:40] sbueringer commented on #4966
We could, this would additionally also block when we update other management clusters (i.e. not only ourselves, in cases like mgmt cluster => mgmt cluster => workload cluster). But I think this is also a case which would be nice to cover (and it wouldn't be covered by my solutions).

So yup, this seems to be the best solution yet.

[2021-07-23 15:41] vincepri commented on #4966
We can use the partial object metadata client to find the Cluster CRD and block there. We'd need a remote client to the workload cluster, try to retrieve the CRD with PartialObjectMetadata  (see the convert references function as an example) and if the call is successful, assume it's a management cluster.

[2021-07-23 15:44] sbueringer commented on #5008
I have zero idea how they do it and where to start looking. @dims?

[2021-07-23 16:09] Lirt commented on #4973
@vincepri Hi Vince,

thank you for response. I understand you currently cannot do much as `v1alpha4` is out, but if there will be `v1alpha5` or beta API version, it would be great if this was included in discussion (probably other variables related to operator code and not machine templates if there are more).

I don't follow all the discussions in CAPI so it's hard for me to get into the conversa

[2021-07-23 16:09] #4973 closed

[2021-07-23 17:07] srm09 commented on #4999
/assign

[2021-07-23 18:00] sbueringer commented on #4988
/assign

[2021-07-23 19:34] dims commented on #5008
@sbueringer i can dig things up, but probably easier for @palnabarun as knows a lot more of the release stuff.

[2021-07-24 00:46] asalkeld commented on #5010
/assign

[2021-07-26 08:03] saimanoj01 opened #5015 ""clusterctl upgrade" fails during retry"
**What steps did you take and what happened:**
1. Created a kind bootstrap cluster.
2. Install clusterctl v0.3.12 and run "clusterctl init" with the below configuration.
[code]
3. Triggered upgrade and interrupted in-between
[code]

4. Retry upgrade is failing
[code]
**What did you expect to happen:**
Upgrade should have gone through

**Anything else you would like to add:**
[Miscellaneous informa

[2021-07-26 14:40] fabriziopandini opened #5016 "Implement upgrade individual resources for managed topologies"
**Detailed Description**

This is part of the activities for the implementation of the [ClusterClass proposal](https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/202105256-cluster-class-and-managed-topologies.md). **Anything else you would like to add:**

https://github.com/kubernetes-sigs/cluster-api/issues/4998 and https://github.com/kubernetes-sigs/cluster-api/issues/4999

[2021-07-26 14:40] fabriziopandini commented on #5016
/milestone v0.4

[2021-07-26 17:11] randomvariable commented on #4969
Apologies, i meant to open this in  CAPA

[2021-07-26 17:30] vincepri commented on #4969
I'll transfer the issue in a bit

[2021-07-26 18:50] #4901 closed

[2021-07-27 09:34] fabriziopandini commented on #5015
This error is generated when clusterctl detects an inconsistent set of providers in the management cluster, and specifically it appears that the control plane provider is not anymore there.
This could be due to the upgrade operation being interrupted in between and the operation not being fully re-entrant.
Could you kindly provide the output of `kubectl get providers` to confirm my assumption?

[2021-07-27 11:41] sbueringer commented on #4622
@fabriziopandini Looks like revive does not enforce comments on exported fields (but on types and funcs): https://github.com/mgechev/revive/blob/master/rule/exported.go

[2021-07-27 11:57] sbueringer commented on #4910
We had a short discussion about this in Slack: https://kubernetes.slack.com/archives/C8TSNPY4T/p1627022324424100

Based on the discussion I would assume we could go ahead and consider this fixing a UX bug.

/cc @enxebre @CecileRobertMichon @vincepri @fabriziopandini  (to be sure)

[2021-07-27 13:12] fabriziopandini opened #5018 "Clarify provider impacts in the ClusterClass proposal"
**Detailed Description**
As per https://github.com/kubernetes-sigs/cluster-api/pull/4993#discussion_r676334140 the ClusterClass proposal could be improved in explaining impact for the control plane providers, especially after recent discussion on the control plane flavours:
- Supporting spec.version or not
- Supporting spec.replicas or not
- Using control plane machines or not

This can be also an

[2021-07-27 13:20] fabriziopandini opened #5019 "Improve how ClusterClass detects if a control plane provider support replicas"
**Detailed Description**
As per https://github.com/kubernetes-sigs/cluster-api/pull/4993#discussion_r674952835 and https://github.com/kubernetes-sigs/cluster-api/pull/4993#discussion_r674954040 today there is not a clean way to detect if a control plane provider supports replicas or not (at least using template inspection).

As a consequence we are relying on the user setting Cluster.Spec.Topology

[2021-07-27 13:20] fabriziopandini commented on #5019
/milestone Next

[2021-07-27 14:39] fabriziopandini commented on #4910
+1 for me, let put this in agenda for tomorrow

[2021-07-27 15:54] ykakarap commented on #5011
/assign

[2021-07-27 17:14] #4948 closed

[2021-07-27 18:11] stmcginnis opened #5020 "CAPD containers are stopped after a Docker Engine restart"
**User Story**

As a user I would like to be able to restart Docker Engine, either via a service restart or a whole system reboot, and have my CAPD based cluster come back after restarting without needing to start the containers manually.

**Detailed Description**

Docker has a container property called `restartPolicy`. The default policy is `no`, which means the container should not be restarted

[2021-07-27 18:11] stmcginnis commented on #5020
/assign

[2021-07-27 19:25] #4991 closed

[2021-07-28 08:59] sbueringer opened #5024 "Handling of .machineTemplate.infrastructureRef in ControlPlaneTemplates"
**User Story**

As a user I would like to have a good UX when configuring MachineTemplates for the ControlPlane in ClusterClass.
A good UX includes (if possible):
* no redundant configuration
* same validation rules for ControlPlaneTemplate and ControlPlane
* future-proof assumptions about how/if machineTemplates are configured in ControlPlaneTemplates

**Detailed Description**

Based on the curre

[2021-07-28 09:15] fabriziopandini commented on #5024
I’m personally leaning towards the idea being discussed for CAPA, which basically advocates for removing from the templates all the fields that are “instance specific”, so we avoid confusion in the users.

This solution also avoids the following risks
- by allowing templates without this ref or by not keeping this ref updated, theres is the risk to have “invalid” objects in your system whenever th

[2021-07-28 09:24] fabriziopandini opened #5025 "Implement status.version in KCP"
**Detailed Description**

This is part of the activities for the implementation of the [ClusterClass proposal](https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/202105256-cluster-class-and-managed-topologies.md).

According to the changes to the control plane providers introduced by https://github.com/kubernetes-sigs/cluster-api/pull/4949, it is required to implement a stat

[2021-07-28 09:24] fabriziopandini commented on #5025
/milestone v0.4

[2021-07-28 13:01] #5020 closed

[2021-07-28 13:38] stmcginnis opened #5026 "Decide how to handle CAPD containers being stopped"
**Detailed Description**

If we deploy a cluster using CAPD, then stop one of the containers after deployment, there is no kind of remediation that happens and depending on which container, there may only be some errors logged about failed connections.

We get a list of the containers present, but it doesn't appear we check the container status to see that the container has exited.

We should dete

[2021-07-28 13:56] sbueringer commented on #5024
Yeah, I think removing the ref from the ControlPlaneTemplate is the easiest solution for the users.

Sounds plausible to me to also use the feature flag for the template types, this includes ControlPlaneTemplates and InfrastructureClusterTemplates, right? I think it would be really useful because it makes it more obvious to the users that those templates might change the next few months.

[2021-07-28 15:17] fabriziopandini commented on #5024
We should do the same for DockerClusterTemplate
@vincepri ^^

[2021-07-28 15:31] fabriziopandini commented on #5026
+1 to surface a condition, but I would defer to the user remediation because stopping container might be useful to test remediation, easing memory pressure, etc.

/milestone v0.4

[2021-07-28 15:33] sbueringer commented on #5024
What about the providers? Would it make sense if they mirror the feature gate?

[2021-07-28 15:36] fabriziopandini commented on #5024
I guess yes, we are already doing something similar for MachinePools

[2021-07-28 15:51] #4622 closed

[2021-07-28 16:36] sbueringer commented on #4622
@fabriziopandini In case you want to follow-up on the comment linting, I think we should create a new issue for that. (just because the by far most part of the current issue has been implemented and I don't see a straightforward way to implement comment-linting on fields)

[2021-07-28 17:06] randomvariable commented on #4910
Can't remember if it was something the New Relic folk we're doing, though I thought that was mostly KCP.  cc @dthorsen

[2021-07-28 17:13] vincepri commented on #4910
/milestone Next

[2021-07-28 17:20] sbueringer commented on #4910
As discussed in the meeting today, we're considering this a breaking (behavioral) change.

We also identified a gap in the documentation on how to properly "update" KubeadmConfigTemplates (I'll open a PR for it)

[2021-07-28 17:55] ykakarap commented on #5025
@fabriziopandini I can work on this

/assign

[2021-07-28 17:58] vincepri commented on #5025
/kind release-blocker

[2021-07-28 17:58] vincepri commented on #5025
/kind release-blocking

I'd like to get this done before we release v0.4.1

[2021-07-28 18:41] sbueringer opened #5029 "Improve execution speed of unit tests"
**User Story**

As a developer I would like to have very fast local feedback loop with unit tests.

**Detailed Description**

In most of our test suites (probably all?) we start an entire tes tenv before starting the unit tests. This is of course necessary for some of our unit tests in the respective packages. But it’s also really painful when developing new unit tests which don’t need test env, b

[2021-07-28 18:44] sbueringer commented on #5029
/cc @randomvariable @vincepri @fabriziopandini @CecileRobertMichon @enxebre @srm09

[2021-07-28 19:22] sbueringer commented on #5029
I think solution 2 is already implemented by controller-runtime: https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/envtest/server.go#L40

[2021-07-28 20:25] vincepri commented on #5029
The only issue I see with using an existing cluster is how we go about registering webhooks and whatnot. We can try to work around a quick way to spin up a local control plane with envtest by making sure we register all our webhooks and CRDs automatically when we start it up.

[2021-07-28 23:19] vincepri commented on #5029
/area testing
/priority important-longterm
/milestone v0.4

[2021-07-28 23:20] vincepri commented on #5024
We can, although this ties up a template in an infrastructure provider to a Cluster API generic feature. It would also not align how MachineTemplate behave today, which can be used with other objects as well.

Is there a specific need to make this a strict requirement?

[2021-07-28 23:20] vincepri commented on #5024
/milestone v0.4

[2021-07-28 23:21] vincepri commented on #5015
/milestone v0.4
/priority awaiting-more-evidence

[2021-07-28 23:21] vincepri commented on #5011
/milestone v0.4
/priority important-soon

[2021-07-28 23:21] vincepri commented on #5011
/kind flake

[2021-07-28 23:21] vincepri commented on #5008
/milestone Next

[2021-07-28 23:23] vincepri commented on #5005
/priority awaiting-more-evidence

@haijianyang Can you outline how you'd plan to change the control plane endpoint in a cluster? Changing and endpoint means that a Cluster has to be effectively rolled out, this is why we usually suggest to place the main endpoint behind a load balancer and then attach the control plane machines to it. The endpoint must be static for the lifecycle of the cluster.

[2021-07-28 23:24] vincepri commented on #5005
/milestone Next

[2021-07-28 23:24] vincepri commented on #5003
@AartiJivrajani #5009 backported the fix, please let us know if the problem persists and feel free to reopen if necessary.

/close
/milestone v0.3

[2021-07-28 23:24] #5003 closed

[2021-07-28 23:25] vincepri commented on #4996
This might be a good improvement, although it was originally meant to be optional to allow external systems to figure out the version later after the Machine was up.

@CecileRobertMichon @fabriziopandini Thoughts?

/milestone Next

[2021-07-28 23:26] vincepri commented on #4982
/milestone v0.4

[2021-07-28 23:26] vincepri commented on #4979
/milestone Next

[2021-07-28 23:26] vincepri commented on #4978
/milestone Next

[2021-07-28 23:26] vincepri commented on #4941
/milestone v0.4

@randomvariable Can you provide more details within the issue description?

[2021-07-28 23:27] vincepri commented on #4938
/milestone v0.4

[2021-07-28 23:28] vincepri commented on #4897
/milestone Next

[2021-07-28 23:28] vincepri commented on #4916
/milestone v0.4

[2021-07-28 23:28] vincepri commented on #4902
/milestone v0.4

[2021-07-28 23:28] vincepri commented on #4875
/milestone Next

[2021-07-28 23:28] vincepri commented on #4874
/milestone Next

[2021-07-28 23:29] vincepri commented on #4870
/milestone Next

[2021-07-28 23:30] vincepri commented on #4814
@scottslowe We can probably add compilation targets in v0.4 (main branch), although v0.3 is in maintenance mode now.

The main branch is also already using Go 1.16.

/milestone Next
/priority awaiting-more-evidence

[2021-07-28 23:31] vincepri commented on #4838
Closing in favor of #3828

/close

[2021-07-28 23:31] #4838 closed

[2021-07-28 23:31] vincepri commented on #4807
/milestone Next

[2021-07-28 23:31] vincepri commented on #4802
Anyone has time to look at the above?

/kind bug
/priority important-soon
/milestone v0.4

[2021-07-28 23:32] vincepri commented on #4799
Closing in favor of #4807

/close

[2021-07-28 23:32] #4799 closed

[2021-07-28 23:32] vincepri commented on #4810
/priority awaiting-more-evidence
/milestone Next

[2021-07-28 23:50] vincepri commented on #4707
/milestone v0.4

[2021-07-29 06:15] sbueringer commented on #5024
I think the main reason is that we (probably) want to make changes to ControlPlaneTemplates / InfrastructureClusterTemplates like dropping instance-specific needs. Hiding those Templates behind the feature gate (for now) would probably make this easier as we probably have more leeway regarding breaking changes.

[2021-07-29 08:33] fabriziopandini commented on #4802
/help

[2021-07-29 08:37] fabriziopandini commented on #4897
We should consider also https://github.com/kubernetes-sigs/e2e-framework/

[2021-07-29 08:41] fabriziopandini commented on #4996
If no one is using this feature as of today, +1 to make this field mandatory.

[2021-07-29 08:43] fabriziopandini commented on #5015
@ykakarap @killianmuldoon, If I'm not wrong you are starting digging into this.
If so, please assign yourselft to the issue

[2021-07-29 09:57] karuppiah7890 commented on #4802
This seems like a good first issue for new contributors. I'll try to pair with someone who is new and raise a PR with them, or I'll raise it myself

[2021-07-29 10:39] vibhorrawat commented on #4802
/assign

[2021-07-29 13:51] fabriziopandini opened #5032 "Implement cluster class patch helper"
**Detailed Description**

This is part of the activities for the implementation of the [ClusterClass proposal](https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/202105256-cluster-class-and-managed-topologies.md).

As per https://github.com/kubernetes-sigs/cluster-api/issues/5018 when reconciling template <-> object for a managed topology is it required ensure a predictable

[2021-07-29 13:52] fabriziopandini commented on #5032
/milestone v0.4
/assign

[2021-07-29 14:06] sbueringer opened #5035 "ClusterCacheTracker should be able to use non-caching client"
**User Story**

As a developer I would like to be able to use ClusterCacheTracker with a non-caching client.

**Detailed Description**

Currently, the ClusterCacheTracker always wraps the workload cluster client into a delegating client. It is possible to provide a list of objects which should not be cached (default is ConfigMap/Secret).

Unfortunately, this means we have to enumerate all resource

[2021-07-29 14:09] sbueringer commented on #5035
@vincepri Just to confirm:
a) we would like to use this client in KCP (instead of https://github.com/kubernetes-sigs/cluster-api/pull/5033)
b) Would it be a valid solution to just add a boolean flag `DisableCache` to `ClusterCacheTrackerOptions` and then just skip: https://github.com/kubernetes-sigs/cluster-api/blob/3c9e61af9572e3b5eaa70d46ae2b62a66c804d21/controllers/remote/cluster_cache.go#L210-

[2021-07-29 14:23] vincepri commented on #5035
Given that KCP uses workload clusters clients at each reconciliation, in v0.4 we should probably add support to retrieve a live client with something like `GetLiveClient()`, or if we want to match what controller runtime does, we can also do something like `GetAPIReader()` which returns a live api reader (client writers are always live)

[2021-07-29 14:23] vincepri commented on #5035
/milestone v0.4

[2021-07-29 14:42] #4988 closed

[2021-07-29 14:45] scottslowe commented on #4814
I think cross-compilation targets have already been added for v0.4 (didn't #4861 take care of this?). Since v0.3 is in maintenance mode and the main branch has already advanced to Go 1.16, it's OK to close this issue.

[2021-07-29 14:47] sbueringer commented on #5035
Just to confirm: so the only change would be to add a func to get an uncached reader, so in cases where we don't want caching we would use that one and leave everything else the same.

[2021-07-29 15:01] fabriziopandini opened #5036 "Implement reconcile InfrastructureCluster for managed topologies"
**Detailed Description**

This is part of the activities for the implementation of the [ClusterClass proposal](https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/202105256-cluster-class-and-managed-topologies.md).

The ClusterTopologyReconciler, after reading the cluster class, the current cluster and computing the desired state, is required to reconcile current and desired

[2021-07-29 15:04] fabriziopandini commented on #5036
/milestone v0.4

[2021-07-29 15:25] vincepri commented on #4814
True, I forgot that we're also publishing arm64 for linux now.

/close

[2021-07-29 15:25] #4814 closed

[2021-07-29 16:45] vibhorrawat commented on #4802
Observations-

- Reproducible locally using `brew install clusterctl`

- Based on above comments, to fix the issue we have replaced the tarball value with the GitHub URL [here](https://github.com/vibhorrawat/homebrew-core/blob/b06d2336dd5ecc8e6412949dcca4b498309164b5/Formula/clusterctl.rb#L4)

- Tested locally, it worked but were having related to git repo been dirty `clusterctl version: &version.

[2021-07-29 17:28] neolit123 opened #5037 "archive the cluster-api-bootstrap-provider-kubeadm repository"
the code for https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm lives in this repository.
the old repository is stale and should be archived.

action items:
- [x] cleanup references of https://github.com/kubernetes/test-infra/search?q=%22cluster-api-bootstrap-provider-kubeadm%22 in the k/test-infra repository.
- [x] create a ticket in https://github.com/kubernetes/org/issues

[2021-07-29 17:28] neolit123 commented on #5037
cc @fabriziopandini @vincepri
/help
/priority important-longterm
/kind cleanup

[2021-07-29 17:41] vincepri commented on #5037
https://github.com/kubernetes/org/issues/2845

[2021-07-29 17:43] vincepri commented on #5037
https://github.com/kubernetes/test-infra/pull/23064

[2021-07-29 17:44] vincepri commented on #5037
https://github.com/kubernetes/community/pull/5918

[2021-07-29 17:44] vincepri commented on #5037
/assign
/milestone v0.4

[2021-07-29 17:47] ykakarap opened #5038 "Move clustertopology controller code to `controllers/topology`"
**Description**

As ClusterClass work is adding a lot of code into the controllers package it would be nice to separate it from the other controller that are stable.

The following PRs that need to merged before we move the cluster topology controller code to its own package (`controllers/topology`).
List of open PRs to the cluster topology controller code:

* https://github.com/kubernetes-sigs/cl

[2021-07-29 17:48] ykakarap commented on #5038
/assign

[2021-07-29 17:55] vincepri commented on #5038
/milestone v0.4

[2021-07-29 17:57] vibhorrawat commented on #4802
Homebrew [PR](https://github.com/Homebrew/homebrew-core/pull/82138) submitted for this issue.

[2021-07-29 19:32] ykakarap commented on #5015
@killianmuldoon is working on this. Cannot assign to him as he is not part of the org.
/assign

[2021-07-29 19:34] sbueringer commented on #5015
@ykakarap @killianmuldoon just fyi. You cannot assign him, but he can assign himself :) (found that out a few weeks ago)

[2021-07-29 20:39] sbueringer commented on #5029
Tested running testenv with an existing kind cluster (**on Mac**). Results:

### Setup

[code]

Patch envtest/webhooks.go
[code]

### Tests (via Intellij with env var `USE_EXISTING_CLUSTER=true`)

First run all unit tests in ./controllers/...
* all green
Second run all unit tests in ./controllers/... (on same kind cluster)
* failed tests:
    * TestNodeToMachine: `test-node-to-machine-1`
    * Tes

[2021-07-29 20:42] sbueringer commented on #4629
@fabriziopandini Based on the results in https://github.com/kubernetes-sigs/cluster-api/issues/5029#issuecomment-889441182 the PRs helped a lot to make the tests repeatable on a consistently running kind cluster. WDYT about opening a follow-up issue to do the same for other global resources (according to my tests in the linked comment we have the same issue in a few tests which use hard-coded node

[2021-07-29 20:45] #5010 closed

[2021-07-29 21:20] CecileRobertMichon commented on #4896
We are using those in CAPZ, +1 to being able to run upgrade tests without running the full conformance test

[2021-07-29 21:38] randomvariable commented on #4896
That could work. In fact, our internal team probably have a regex that we can document or constantize on the conformance focus that functions as a smoke test.

[2021-07-30 05:51] asalkeld commented on #4982
thanks @sbueringer and @fabriziopandini . Think we can close this now as 1. and 2. was really my misunderstanding of the v1aplph3-4 differences. and 3. is fixed by https://github.com/kubernetes-sigs/cluster-api/pull/5014

[2021-07-30 05:51] #4982 closed

[2021-07-30 08:42] fabriziopandini commented on #4629
@sbueringer global resources (like nodes, CRDs, etc) or things generated by other components (like Kubeadm config maps or CoreDNS config map) are not good candidates for this effort, but I'm +1 to apply similar changes whenever possible or at least let's make sure we do a proper cleanup after each test
@killianmuldoon ^^

[2021-07-30 08:43] fabriziopandini commented on #4896
@killianmuldoon ^^

[2021-07-30 08:53] killianmuldoon commented on #5015
/assign

[2021-07-30 09:53] LochanRn commented on #4526
@enxebre @vincepri any progress on this issue ?

[2021-07-30 11:51] sbueringer commented on #4629
I'll take a closer look later today and probably close this issue and open a follow-up issue.

[2021-07-30 13:50] karuppiah7890 commented on #4802
This issue can be closed 🚀 😄

https://github.com/Homebrew/homebrew-core/pull/82138 has been merged (using an automation). Commit - https://github.com/Homebrew/homebrew-core/commit/d9ad7fbdc9a70d612c0318bbdc5fd66222044b16

I tried a brew update and installed and it worked

[code]

@gnadaban you could try a `brew update` and then `brew upgrade clusterctl` and it should work I think. Let us know!

[2021-07-30 14:08] neolit123 commented on #5037
This is how done. Thanks to @vincepri and the github admins.

[2021-07-30 14:08] #5037 closed

[2021-07-30 14:56] huchen2021 opened #5041 "Pod capi-controller-manager CrashLoopBackOff due to my provider move to multiple group"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version:
- Minikube/KIND version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-releas

[2021-07-30 15:12] vincepri commented on #4802
/close

Thank you so much folks! Great work

[2021-07-30 15:13] vincepri commented on #5041
RBAC permissions? Seems Cluster API cannot access your resources

/triage support
/remove-kind bug

[2021-07-30 15:14] vincepri commented on #5041
/milestone Next
/priority awaiting-more-evidence

[2021-07-30 18:29] sbueringer commented on #4629
I went through the repo and grepped for "default" and "NamespaceDefault". It looks like we now only use the default namespace in combination with fake client (as there are ~500 occurrences I didn't look in very close detail). I would close this issue as at least the vast majority is fixed. If someone has a concrete example feel free to reopen / open an issue.

As a follow-up I will open an issue (

[2021-07-30 18:29] sbueringer commented on #4629
/close

[2021-07-30 18:29] #4629 closed

[2021-07-30 21:41] CecileRobertMichon commented on #4896
/assign

@randomvariable could you please share the regex you mentioned above?

[2021-07-31 09:36] huchen2021 commented on #5041
I just my provider to multi group as described https://book.kubebuilder.io/migration/multi-group.html to get better directory organization.
Before I do this, the case(tilt up) can ran successfully.

I think it's not rbac permissions, maybe it can't found my provider resource. Is there anything to do about my case(tilt up under cluster api directory) after  move to multi group?

[2021-08-02 02:00] superbrothers opened #5043 "KubeadmControlPlane etcd extraArgs should be mutable"
**User Story**

As an operator I would like to be able to modify KubeadmControlPlane's local etcd extraArgs.

**Detailed Description**

As our cluster grew, we needed to increase the space quota with  `--quota-backend-bytes` flag in etcd.

[code]

However, local etcd of KubeadmControlPlane does not allow changes except in the following fields.

https://github.com/kubernetes-sigs/cluster-api/blob/d

[2021-08-02 15:11] #4707 closed

[2021-08-02 15:11] #5018 closed

[2021-08-02 15:33] #5032 closed

[2021-08-02 16:31] #4581 closed

[2021-08-02 22:38] #4131 closed

[2021-08-03 15:09] killianmuldoon opened #5047 "`make test` interrupted by firewall popups on MacOS"
**What steps did you take and what happened:**
On MacOS Big Sur 11.5.1 clone the repo and run the unit tests using `make test`. Test runs are interrupted regularly with popups from the OS  with the wording:

"Do you want the application “XXX.test” to accept incoming network connections?"

Currently each of these pop ups need to be clicked to complete a test run. There's also sub optimal solutions

[2021-08-03 15:32] #5047 closed

[2021-08-03 15:52] fabriziopandini opened #5049 "Implement reconcile ControlPlane for managed topologies"
**Detailed Description**

This is part of the activities for the implementation of the [ClusterClass proposal](https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/202105256-cluster-class-and-managed-topologies.md).

The ClusterTopologyReconciler, after reading the cluster class, the current cluster and computing the desired state, is required to reconcile current and desired

[2021-08-03 15:52] fabriziopandini commented on #5049
/milestone v0.4

[2021-08-03 15:52] fabriziopandini commented on #5036
/assign

[2021-08-04 19:23] fabriziopandini commented on #5041
The error message is `"error"="Unauthorized"`, so I'm +1 for  this being an RBAC issue.

FYI, CAPI creates RBAC rules for `cluster.x-k8s.io` group and for `infrastructure.cluster.x-k8s.io;bootstrap.cluster.x-k8s.io;controlplane.cluster.x-k8s.io` groups; AFAIK additional roles can be added via [aggregated-clusterroles](https://kubernetes.io/docs/reference/access-authn-authz/rbac/#aggregated-cluster

[2021-08-05 11:41] killianmuldoon opened #5053 "Create top level internal package to hold test object functions"
**Detailed Description**
The project should have a single location for testing code that build mock objects with specific characteristics for unit tests. This code is repetitive, implementations are different and focus on the types and fields needed for specific packages. This makes it more difficult to write unit tests as a developer.

There are multiple locations across the project where API obj

[2021-08-05 12:02] SirishaGopigiri opened #5054 "CAPD pod failing when upgraded from v0.3.22 to v0.4.0"
I am trying to upgrade capi with docker provider from v0.3.22 version to v0.4.0 version using `clusterctl upgrade` command.

`clusterctl upgrade apply --bootstrap capi-kubeadm-bootstrap-system/kubeadm:v0.4.0 --control-plane capi-kubeadm-control-plane-system/kubeadm:v0.4.0 --core capi-system/cluster-api:v0.4.0 --infrastructure capd-system/docker:v0.4.0`

I could see that the upgrade is successful a

[2021-08-05 12:08] killianmuldoon commented on #5049
/assign

[2021-08-05 12:15] fabriziopandini commented on #5053
/area testing
/milestone v0.4

[2021-08-05 12:37] fabriziopandini commented on #5053
Thanks for tacking this work, our test readability and consistency can really improve by this effort!

Some suggestions:
- I would suggest to talk about object builders, instead of fake objects
- For consistency with controller runtime `fake.NewClientBuilder().WithObjects(objects...).Build()`, I would suggest us using something like `testtypes.NewClusterBuilder().WithInfrastructure(...).Build()`
-

[2021-08-05 12:43] fabriziopandini commented on #5054
/kind bug
@stmcginnis I'm not sure this is related to the recent work on CAPD...

[2021-08-05 13:15] stmcginnis commented on #5054
This is a little suspicious. @SirishaGopigiri, can you confirm the docker service is running and that you can interact with it by doing something like `docker run hello-world`?

[2021-08-05 13:18] SirishaGopigiri commented on #5054
@stmcginnis Yes I am running kind based cluster using docker provider.

I was able to list the docker containers when the pod was running on v0.3.22 version
[code]

But after upgrade I am not able to list the containers
[code]

And hello-world output
[code]

[2021-08-05 13:26] stmcginnis commented on #5054
Didn't anything change with the kind cluster? It looks like the docker.sock is not mounted inside the container.

If you get the docker container ID from `docker ps`, you should be able to inspect it and see something like this:

[code]

[2021-08-05 13:56] SirishaGopigiri commented on #5054
@stmcginnis my bad I think the capd pods got created on a different node which doesn't have docker mount. Thank you for the pointers I will relaunch it properly.
One more question I also see some errors related to. Is capi-webhook support deleted from 0.4.0 version?
[code]

[2021-08-05 13:56] #5054 closed

[2021-08-05 14:18] stmcginnis commented on #5054
@fabriziopandini any idea about the webhood error?

I haven't seen that locally.

[2021-08-05 14:31] killianmuldoon commented on #5053
#5055 is a minimal implementation of the first steps for discussion.

[2021-08-06 09:42] huchen2021 opened #5058 "How to get the logs of my provider controller"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version:
- Minikube/KIND version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-releas

[2021-08-06 15:36] fabriziopandini commented on #5058
I'm not sure theCAPI team can help here.
My first take on this issue is that this isn't a CAPI problem, but a problem in your code (code flow is hard to follow in the example due to a messy indentation), or in the logger implementation your are using, or eventually a controller runtime problem even if I tend to exclude this last option.
FYI in CAPI we are using klog, and I never observer a similar

[2021-08-06 15:37] fabriziopandini commented on #5058
/remove kind/bug
/kind support

[2021-08-07 20:28] #4085 closed

[2021-08-08 11:47] cpanato commented on #1828
/remove-lifecycle stale

[2021-08-09 01:49] huchen2021 commented on #5058
I also klog, same issue.

[2021-08-09 06:35] sbueringer commented on #5041
I'm a bit confused as usually the RBAC error looks a lot more precise (e.g. it contains what exactly is failing).

[2021-08-09 09:02] fabriziopandini opened #5060 "Update test grid for Kubernetes 1.22"
**Detailed Description**
Now that Kubernetes 1.22 has been released or ci signal should be updated accordingly

- [periodic-cluster-api-e2e-workload-upgrade-1-21-latest-main](https://github.com/fabriziopandini/test-infra/blob/8063552514cb3f5ef4ca853157364f1a44cb159f/config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-main-upgrades.yaml#L135) should be duplicated creating `periodic-cluste

[2021-08-09 09:03] fabriziopandini commented on #5060
/milestone v0.4
/help
/good-first-issue

[2021-08-09 09:09] sbueringer commented on #5060
@fabriziopandini last one should probably be: `pull-cluster-api-e2e-workload-upgrade-1-21-latest-main`

[2021-08-09 09:11] fabriziopandini commented on #5060
Fixed, last one should be `periodic-cluster-api-e2e-workload-upgrade-1-22-latest-main`

[2021-08-09 09:12] haardikdharma10 commented on #5060
I'll fix this.
/assign

[2021-08-09 09:16] sbueringer commented on #5060
@fabriziopandini I was mainly looking at the periodic vs pull part of the job name :)

[2021-08-09 10:07] fabriziopandini commented on #1793
/lifecycle frozen

[2021-08-09 10:10] fabriziopandini commented on #4031
/lifecycle frozen

[2021-08-09 10:12] fabriziopandini commented on #4031
/kind api-change

[2021-08-09 10:21] #4940 closed

[2021-08-09 12:03] stmcginnis opened #5062 "CAPD: determine how to properly handle stopped containers"
**User Story**

As an operator I would like to have a resilient CAPD deployment.

Some discussion in https://github.com/kubernetes-sigs/cluster-api/pull/5021#issuecomment-888279978

We need to decide how to properly surface "a container already exists, but it is stopped".

We could automatically remediate, or we could use some other mechanism to help make sure it's a little more visible what is go

[2021-08-09 12:04] stmcginnis commented on #5062
Now realize I already filed https://github.com/kubernetes-sigs/cluster-api/issues/5026

[2021-08-09 12:04] #5062 closed

[2021-08-09 13:05] fabriziopandini opened #5064 "Implement reconcile MachineDeployments for managed topologies"
**Detailed Description**

This is part of the activities for the implementation of the [ClusterClass proposal](https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/202105256-cluster-class-and-managed-topologies.md).

The ClusterTopologyReconciler, after reading the cluster class, the current cluster and computing the desired state, is required to reconcile current and desired

[2021-08-09 13:08] sbueringer commented on #5064
/assign

[2021-08-09 13:13] fabriziopandini commented on #5064
/milestone v0.4

[2021-08-09 13:26] fabriziopandini commented on #4590
/lifecycle frozen

[2021-08-09 13:33] fabriziopandini commented on #5054
conversion web hooks for cluster.x-k8s.io/v1alpha3, Kind=Machine are definitely still there.
This might be a also a transient error while web hooks are being started, but it is hard to say without more context. In case, let's open a separated issue.

[2021-08-09 14:00] sbueringer commented on #5064
@srm09 @fabriziopandini A question regarding "How can I identify if the MachineDeployment is still the same?"

Based on the proposal I can identify MachineDeployments based on `cluster.x-k8s.io/topology: <cluster-name>-<worker-set-name>`. What is the current state of that? In case we move away from it, what alternative way is there to correlate current/desired MachineDeployments?

[2021-08-09 14:01] sbueringer commented on #5064
/cc @killianmuldoon

[2021-08-09 14:23] fabriziopandini commented on #4999
@srm09 let's introduce a new `cluster.x-k8s.io/topology/machine-deployment-name` label to track the name from `cluster.topology.workers.machineDeployments[].name` on the generated deployments

[2021-08-09 15:36] fabriziopandini opened #5065 "Prevent KubeadmControlPlaneTemplate to be used if ClusterTopology feature flag is false"
**Detailed Description**

This is part of the activities for the implementation of the [ClusterClass proposal](https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/202105256-cluster-class-and-managed-topologies.md).

Similarly to what we are doing for ClusterClass, the KubeadmControlPlaneTemplate web hook should be modified so this new type can be created/updated only in the C

[2021-08-09 15:38] fabriziopandini opened #5066 "Prevent DockerClusterTemplate to be used if ClusterTopology feature flag is false"
**Detailed Description**

This is part of the activities for the implementation of the [ClusterClass proposal](https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/202105256-cluster-class-and-managed-topologies.md).

Similarly to what we are doing for ClusterClass, the DockerClusterTemplate web hook should be modified so this new type can be created/updated only in the Cluster

[2021-08-09 15:41] fabriziopandini commented on #5066
/milestone v0.4

[2021-08-09 15:45] killianmuldoon opened #5067 "Make error messages consistent across ClusterClass and Topology Controller"
**Detailed Description**

The error messages across the different implementations of functions in the cluster class and topology controller work are currently inconsistent as referenced here: https://github.com/kubernetes-sigs/cluster-api/pull/5045#discussion_r685231919

This is particularly important for issues that arise in the cluster topology reconciliation as users may have to manually resolv

[2021-08-09 16:07] sbueringer commented on #5064
@fabriziopandini A few questions:

1) In case we want to update a MachineDeployment with template rotation on one of the templates. The templates in current & desired have intentionally the same name. Should we just generate a new name analog to how we did it in computeDesiredState to avoid a name conflict? (I'm not sure if there are good/any alternatives)

2) The naive way to implement template r

[2021-08-09 16:09] ykakarap commented on #5065
/assign

[2021-08-09 16:09] ykakarap commented on #5066
/assign

[2021-08-09 16:48] killianmuldoon commented on #5064
This needs to be updated in the proposal is my understanding. In the getCurrentState PR we're using two labels to get the machineDeployments related to the managed cluster: the topology label to show that the cluster is actually managed and then the clusterName label to show which cluster it's a part of. The code for this check is:
`
	err := r.Client.List(ctx, md, client.MatchingLabels{
		clusterv

[2021-08-09 16:50] sbueringer commented on #5064
fyi Fabrizio added the comment for the issue for the "underlying" implementation in https://github.com/kubernetes-sigs/cluster-api/issues/4999#issuecomment-895267583 (which fulfills my requirement to be able to correlate MachineDeployments)

[2021-08-09 16:54] sbueringer commented on #5067
Copying my answer from #5045

[code]

In my opinion this is something we have across our entire code base. It would be nice to know how we want to handle this, imho either:
* choose one way to do this going forward (In my opinion it's not worth it refactoring all our existing code)
* trying to be locally consistent (per file / package / controller?)
* use a subset of the possible error formatting

[2021-08-09 17:38] killianmuldoon commented on #5067
I think we could focus this on all the new code and error handling that's going on in the ClusterClass + ManagedTopology work. If we think a consistent format is worth following through on it would be relatively easy to create a bunch of per-package issues that could be taken on with lower priority to improve error reporting across the code base.

I'm definitely +1 for finding a consistent way to

[2021-08-09 18:12] fabriziopandini commented on #5067
My two cents:
1. The func raising the error should provide all the context existing there for debugging the problem; ideally the message should be self consistent and providing enough info for the users to diagnose/fix the problem.
2. Higher level function should add additional context when this makes sense e.g. if they are calling the same function more times and surfacing which call is failing c

[2021-08-09 18:23] fabriziopandini commented on #5064
@sbueringer

Yes, in case of template rotation, we should generate a new name and then update the reference accordingly

I have explored a couple of options with @vincepri , but at the end there is always risk of orphaning templates when doing template rotation. I'm considering to add a final step in the controller cleaning up orphan templates; it is on my agenda to open an issue for this point.

[2021-08-09 20:15] randomvariable commented on #3430
/lifecycle frozen

[2021-08-09 20:15] randomvariable commented on #3430
/lifecycle active

[2021-08-09 20:15] randomvariable commented on #3430
/assign @invidian

[2021-08-09 23:15] #4998 closed

[2021-08-10 08:40] fabriziopandini commented on #5038
/assign

[2021-08-10 10:51] #5066 closed

[2021-08-10 13:15] SirishaGopigiri commented on #5054
@fabriziopandini thank you I think it was transition error, I didn't see that again.

[2021-08-10 17:17] #5038 closed

[2021-08-10 18:30] #5065 closed

[2021-08-10 18:56] sbueringer commented on #5029
1 is done 2 is still open (will implement "kind support" the next few days)
/reopen

[2021-08-10 19:14] #5043 closed

[2021-08-10 20:57] vincepri commented on #3889
/lifecycle frozen

[2021-08-10 22:14] vincepri commented on #5058
/milestone Next

[2021-08-10 22:14] vincepri commented on #5058
Have you setup the logger in the main.go?

[2021-08-10 22:16] vincepri commented on #5058
I'll echo what @fabriziopandini said above though, we can try to help as much as possible, although we usually can't support code outside of this repository.

[2021-08-10 22:40] vincepri commented on #4586
@sbueringer Is there any action items we have as part of this issue? If we can rework it to be more specific and provide a potential solution, we can also mark it as good-first-issue

[2021-08-10 22:41] vincepri commented on #4878
Closing this due to lack of updates, please feel free to reopen if you have more details

/close

[2021-08-10 22:41] #4878 closed

[2021-08-10 22:41] vincepri commented on #4380
Should we split up the unit test item in another issue (or set of issues)?

[2021-08-11 01:28] #4931 closed

[2021-08-11 02:02] stmcginnis commented on #4380
Either way works for me. I am hoping to get to that last step soon. Just been tied up lately with some other things, but should have some time over the next couple weeks (I hope).

[2021-08-11 09:07] fabriziopandini commented on #4380
+1 to small actionable issues
As soon as we get some unit test as examples, then it will be easier to get help from the community as well

[2021-08-11 09:45] fabriziopandini opened #5076 "Make the topology.ClusterReconciler to process events for ClusterClass changes"
**Detailed Description**

Now that https://github.com/kubernetes-sigs/cluster-api/pull/5004 is merged, it is now possible to make the topology.ClusterReconciler to process events for ClusterClass changes.

All the scaffolding for making this happen is already there

https://github.com/kubernetes-sigs/cluster-api/blob/00556a3d2ea04a268be9a004214077a56fcadb01/controllers/topology/controller.go#L147-

[2021-08-11 09:45] fabriziopandini commented on #5076
/milestone v0.4

[2021-08-11 11:19] sbueringer commented on #5060
@fabriziopandini Just to confirm: I suppose we don't have to change anything for release-0.3, right? I couldn't find anything that looks like it has to be changed there.

[2021-08-11 11:46] sbueringer commented on #4586
@vincepri In my opinion we have two options depending on if we want to fix `G307: Deferring unsafe method "Close" on type "*os.File`:

1. if not: we should move the exclude of G307 above `# The following are being worked on to remove their exclusion. This list should be reduced or go away all together over time.` in .golangci.yml

2. if yes: I would propose it as described in the Thano style guide

[2021-08-11 12:27] fabriziopandini commented on #5060
Yes
I consider release-0-3 out of scope of this issue, because test for different Kubernetes version has been introduced in v1alpha4

[2021-08-11 13:00] #4979 closed

[2021-08-11 14:06] fabriziopandini commented on #5067
Notes after a first, partial code audit:
- We should consolidate error messages in reporting gvk/name when referring to objects different than the Cluster (same notation used eg. by kubectl get/scale etc)
- We should avoid to report gvk/name of Cluster as well as namespace for any object given that those info are already added by controller runtime

[2021-08-11 15:34] sbueringer commented on #4586
Same for me. Let's see if @CecileRobertMichon or @fabriziopandini have a strong opinion on that. Otherwise I would adjust the linter config and close the issue.

[2021-08-11 15:36] vincepri commented on #4536
/lifecycle frozen

[2021-08-11 16:24] fabriziopandini commented on #4609
/lifecycle frozen

[2021-08-11 16:24] fabriziopandini commented on #4608
/lifecycle frozen

[2021-08-11 16:46] #5011 closed

[2021-08-11 17:52] vincepri commented on #4526
/assign @alexeldeib @randomvariable

[2021-08-11 18:10] sbueringer opened #5078 "Implement periodic e2e test jobs using Management Cluster 1.19 and 1.22"
**User Story**

As a maintainer of Cluster API I would like to have periodic e2e test coverage for 1.19 and 1.22 management clusters. (the oldest and newest supported stable management cluster versions)

**Detailed Description**

Context: currently, we're using a hard-coded 1.21.2 management cluster in our e2e tests.

The following steps should be implemented:
* make the management cluster version

[2021-08-11 18:10] sbueringer commented on #5078
/assign

[2021-08-11 18:36] #5036 closed

[2021-08-12 06:01] sbueringer commented on #5078
Note to myself: also update the job documentation (including other recent changes to our jobs)

[2021-08-12 08:35] #5060 closed

[2021-08-12 08:39] fabriziopandini opened #5083 "Housekeeping task for Kubernetes v1.22.0"
This issue track housekeeping task to be done when a new Kubernetes minor release is created.

- [x] Create/Update periodic and presubmit jobs for workload clusters upgrade and conformance https://github.com/kubernetes-sigs/cluster-api/issues/5060 https://github.com/kubernetes/test-infra/pull/23181
- [x] Update quick-start and e2e tests https://github.com/kubernetes-sigs/cluster-api/pull/5080

/ki

[2021-08-12 08:39] fabriziopandini commented on #5083
/close

[2021-08-12 08:55] fabriziopandini commented on #5083
/reopen

[2021-08-12 09:14] fabriziopandini commented on #3793
/remove-lifecycle stale

[2021-08-12 10:29] #4971 closed

[2021-08-12 12:13] fabriziopandini opened #5087 "Archive the cluster-api-docker-provider repository"
the code for https://github.com/kubernetes-sigs/cluster-api-provider-docker lives in this repository.
the old repository is stale and should be archived.

action items:

- [x]  cleanup references of https://github.com/kubernetes/test-infra/search?q=%22cluster-api-provider-docker%22 in the k/test-infra repository.
- [x] create a ticket in https://github.com/kubernetes/org/issues/new/choose followin

[2021-08-12 12:14] fabriziopandini commented on #5087
/assign

[2021-08-12 12:25] fabriziopandini commented on #5087
https://github.com/kubernetes/community/pull/5945

[2021-08-12 12:33] fabriziopandini commented on #5087
https://github.com/kubernetes/test-infra/pull/23224

[2021-08-12 12:38] fabriziopandini commented on #5087
https://github.com/kubernetes/org/issues/2888

[2021-08-12 13:30] fabriziopandini opened #5089 "ClusterClass webhooks does not apply default namespace for spec.controlPlane.machineInfrastructure.ref.namespace"
**What steps did you take and what happened:**
While testing ClusterClass I got the following error

[code]

**What did you expect to happen:**
spec.controlPlane.machineInfrastructure.ref.namespace should be defaulted to metadata.namespace

**Environment:**

- Cluster-api version: tip of main

/kind bug

[2021-08-12 13:31] fabriziopandini commented on #5089
/milestone v0.4

[2021-08-12 14:38] fabriziopandini commented on #5067
Notes after first run:
- This error message is super verbose, might be nice to simplify
[code]
- It is hard to spot errors from topology/ClusterReconciler from errors from other reconcilers

[2021-08-12 14:46] sbueringer commented on #5089
/assign
/area topology

[2021-08-12 15:04] sbueringer commented on #5067
@fabriziopandini I think this proves my point about that it's not that great to add prefixes like "error on" "failed when". Sometimes it's unavoidable, but in most cases this could be stripped out.
Example:
* current: `"error"="error reading current state of the Cluster topology: failed to read KubeadmControlPlane my-cluster1-qhzck: failed to retrieve KubeadmControlPlane \"my-cluster1-qhzck\" in n

[2021-08-12 15:20] sbueringer commented on #5076
/area topology

[2021-08-12 15:20] sbueringer commented on #5064
/area topology

[2021-08-12 15:20] sbueringer commented on #5049
/area topology

[2021-08-12 15:22] sbueringer commented on #5016
/area topology

[2021-08-12 15:22] sbueringer commented on #4999
/area topology

[2021-08-12 15:22] sbueringer commented on #4974
/area topology

[2021-08-12 16:17] #5076 closed

[2021-08-12 17:28] ykakarap commented on #5067
/area topology

[2021-08-12 19:08] #3734 closed

[2021-08-12 22:42] #4474 closed

[2021-08-12 22:43] vincepri commented on #4996
/kind release-blocking

[2021-08-12 22:45] vincepri commented on #4996
/area api
/kind api-change

[2021-08-12 22:48] ykakarap opened #5091 "move `MachinesByCreationTimestamp` to `util/collections`"
**Description**
Move `MachinesByCreationTimestamp` out of `util` package and make it a private struct in `util/collections` package.

/kind cleanup
/help
/good-first-issue

[2021-08-12 22:49] vincepri commented on #5091
/milestone Next

[2021-08-12 22:51] ykakarap commented on #5091
/remove-good-first-issue

[2021-08-12 22:56] ykakarap commented on #4996
/assign

[2021-08-12 23:02] Priyankasaggu11929 commented on #5091
/assign

[2021-08-12 23:04] #5025 closed

[2021-08-13 20:39] jsturtevant commented on #4897
I found the following in the e2e logs today and came here to file an issue but looks like this will cover it 👍

[code]

[2021-08-14 02:29] dongwangdw commented on #4897
I have spare some time to investigate the e2e-framework. Its functionality is very similar to what ginkgo/omega provides.
It is pure golang native.
But it is at very early stage. If we use this framework, we will have take care of its possible bug. It is not muture as ginkgo.
The latest ginko provides more great features which will make our test life easy.

I would like to hear more from you guys.

[2021-08-15 07:57] superbrothers commented on #4089
/reopen

[2021-08-16 02:58] ykakarap commented on #5067
/assign

[2021-08-16 06:39] sbueringer commented on #4996
How do we know that nobody is using this feature?

[2021-08-16 09:22] ruifaling opened #5097 "workload Cluster failed will not be recovered"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

After the workload cluster has been created,if there was something error(such as vm shutdown),it will not be recovered,even if the vm has been fixed
**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issu

[2021-08-16 09:24] fabriziopandini commented on #4621
/remove-lifecycle stale

[2021-08-16 09:29] ruifaling commented on #5097
/help

[2021-08-16 13:07] sbueringer opened #5099 "clusterctl upgrade e2e test is failing"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

Looks like our clusterctl upgrade test is broken since last Wednesday.

![image](https://user-images.githubusercontent.com/4662360/129568431-06b06ca4-2acd-4aed-a76a-84587ef9ef78.png)

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information t

[2021-08-16 13:07] sbueringer commented on #5099
/assign

[2021-08-16 14:04] fabriziopandini commented on #4897
I'm +1 for investigating the  e2e-framework, because AFAIK this is where Kuberenetes is going (cc @vladimirvivien), but this should be discussed in the office hours given that many providers are using the CAPI E2E test in its current form

[2021-08-16 14:32] vincepri commented on #4897
Should we separate ginkgo v2 upgrade from exploring the k8s e2e framework?

[2021-08-16 14:41] vincepri commented on #5097
/priority awaiting-more-evidence
/milestone Next

@ruifaling Do you have more information you can share? More often than not, this is highly dependent on the infrastructure provider.

[2021-08-16 14:44] vincepri commented on #4058
@CecileRobertMichon @fabriziopandini @sbueringer Did we ever root caused this issue?

[2021-08-16 14:44] fabriziopandini commented on #4897
This is a possible way forward, but as far as I understand it won't fix https://github.com/kubernetes-sigs/cluster-api/issues/2955 (even if it will mitigate the problems that we have today for cleanup in case of errors)

[2021-08-16 14:59] ykakarap commented on #4996
Yup, next major/minor release.

[2021-08-16 15:00] sbueringer commented on #4058
Not that I'm aware of. Would be interesting to know if it still occurs somewhere.

[2021-08-16 16:02] ykakarap commented on #5035
/assign

I can work on this :)

The TODOs are:
* Add APIReader support to the workload cluster client
* Adjust functions of [`Workload`](https://github.com/kubernetes-sigs/cluster-api/blob/master/controlplane/kubeadm/internal/workload_cluster.go#L114-L118) to use the live reader where needed.

[2021-08-16 16:12] CecileRobertMichon commented on #4058
I don't think so, I haven't seen a repro in a while but couldn't say for sure if it's still happening.

[2021-08-16 22:42] vladimirvivien commented on #4897
Of course I am biased, but I think e2e-framework can help here.
I understand that currently e2e is nascent, but I believe we can get it where CAPI needs it to be.

(cc @ShwethaKumbla )

[2021-08-17 01:34] ruifaling commented on #5097
The infrastructure provider is OpenStack（Rocky）,Cluster API Provider OpenStack version is v0.4.0.
If the vm state become 'shutdown' or something else not 'Active' or 'build',the machinedeployment phase will be failed;even if the vm state become 'Active',the machinedeployment phase will be failed forever

[2021-08-17 06:44] sbueringer commented on #5097
@ruifaling In my opinion this is something which has to be fixed in CAPO. Very similar to this issue for the OpenStackCluster: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/951

[2021-08-17 09:18] #5078 closed

[2021-08-17 09:28] sbueringer commented on #5083
I think we can close this issue again

/close

[2021-08-17 09:28] #5083 closed

[2021-08-17 13:09] fabriziopandini commented on #4586
+1 to leave as it is

[2021-08-17 16:35] #4999 closed

[2021-08-17 17:49] #4586 closed

[2021-08-17 18:07] #5064 closed

[2021-08-17 18:47] ykakarap opened #5108 "Enhance `clusterctl generate cluster` to work with clusterclass and managed topologies"
**User Story**

* As a user I would like to keep the quick start flow as simple as possible when using ClusterClass.
* As a provider author I would like to offer templates for cluster class and managed topologies. This should leverage the existing clusterctl machinery that the users are already familiar with.

**Detailed Description**

As of today during quick start, when users invoke `cluterctl g

[2021-08-17 19:08] ykakarap commented on #5108
/assign

[2021-08-17 19:29] vincepri commented on #4058
Closing for now then :)

/close

[2021-08-17 19:29] #4058 closed

[2021-08-18 09:28] fabriziopandini commented on #5108
/milestone v0.4

[2021-08-18 15:38] ykakarap opened #5112 "Add comments to `WatchFilterValue` in all the Reconciler types"
**Detailed Description**

`WatchFilterValue` is an exported field on all reconciler objects. Add a comment to explains its purpose.

/kind cleanup

[2021-08-18 15:54] #5049 closed

[2021-08-18 18:14] killianmuldoon opened #5115 "Initial integration testing for Topology Controller behaviour"
**Detailed Description**
With recent code merges the full reconciliation loop for ClusterClass Topologies is now integrated. In order to show the code is in working order, identify issues and catch regressions integration tests that follow the full flow of the code are now needed. These integrations tests should use a full testenv with webhooks etc.

These initial test cases are designed to show t

[2021-08-18 18:14] killianmuldoon commented on #5115
/assign

[2021-08-18 18:15] killianmuldoon commented on #5115
/area topology

[2021-08-18 18:15] killianmuldoon commented on #5115
/area testing

[2021-08-18 20:01] #5089 closed

[2021-08-19 03:14] #5099 closed

[2021-08-19 14:54] jayesh-srivastava commented on #5112
Hey @ykakarap. I am a beginner and I would like to contribute on this issue. Can you please guide me as to how to start working on this issue and what is needed to be done. It would be really grateful of you.

[2021-08-19 15:07] #4336 closed

[2021-08-19 15:34] fabriziopandini opened #5120 "Add a Predicate for skipping clusters without Topology in the topology/ClusterReconciler"
**Detailed Description**

In the topology/ClusterReconciler we are currently returning if a Cluster has Topology nil

https://github.com/kubernetes-sigs/cluster-api/blob/1fb53c85d7ffd25f9e2fe0004be006a31ff51d58/controllers/topology/controller.go#L97-L101

This could be transformed into a predicated to be added in https://github.com/kubernetes-sigs/cluster-api/blob/1fb53c85d7ffd25f9e2fe0004be006a31

[2021-08-19 15:35] fabriziopandini commented on #5120
/area topology
/milestone v0.4.0

[2021-08-19 15:41] fabriziopandini opened #5121 "Should we pause a ClusterClass?"
**Detailed Description**

As of today we are not supporting pause in ClasterClass, given the object is not reconciled.

However, during a discussion it was raised a question if we should use pause on ClusterClass as a proxy to pause an entire group of Clusters (all the cluster using the same ClusterClass), which is something not possible today.

This issue is about discussing if this option should

[2021-08-19 15:41] fabriziopandini commented on #5121
/area topology
/milestone Next

[2021-08-19 15:48] fabriziopandini opened #5122 "Investigate usage of https://github.com/json-iterator/go"
**Detailed Description**

In case we are using json conversion based on go std lib in a growing number of places, latest in the list

https://github.com/kubernetes-sigs/cluster-api/blob/1fb53c85d7ffd25f9e2fe0004be006a31ff51d58/controllers/topology/internal/mergepatch/mergepatch.go#L47-L81

(but there are other examples also outside controllers/topology)

This issue is about investigating usage of

[2021-08-19 15:48] fabriziopandini commented on #5122
/milestone Next

[2021-08-19 16:15] CecileRobertMichon commented on #5123
Transferred to CAPI repo as this is an issue in the CAPI test framework and affects CAPI as well https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api#capi-e2e-main-1-18-1-19.

Imho, one solution could be to read the test results after: https://github.com/kubernetes-sigs/cluster-api/blob/e0ced24598da02d8d64d93da71acbf86fd6a7e32/test/framework/kubetest/run.go#L193
And if we find failed tests, r

[2021-08-19 16:15] CecileRobertMichon commented on #5123
/help

[2021-08-19 16:22] ykakarap commented on #5122
I can spend some time investigating this :)

/assign

[2021-08-19 16:23] ykakarap commented on #5120
/assign

[2021-08-19 16:23] ykakarap commented on #5120
/milestone v0.4

[2021-08-19 16:36] vincepri commented on #5121
To keep things a bit consistent across the board, we could consider to allow ClusterClass to pause reconciliation of the managed topology portion for all clusters that use a specific cluster class

[2021-08-19 16:48] spagaldipti opened #5124 "Support Raw Kubeadm format for Data Secrets"
**User Story**

As a developer who is building a provider for our kubernetes distro I would like to be able to use cluster-api’s kubeadm bootstrap controller to generate data secrets for machines with only the raw kubeadm config data.

**Detailed Description**

Our cluster-api provider joins live machines with an agent to clusters. Therefore, the data generated by kubeadm’s bootstrap provider, wit

[2021-08-19 17:15] randomvariable commented on #5123
Chat from Slack, looks like we're going to have to parse the JUnit XML and figure out if something failed, which is pretty terrible.

Philosophically in the initial implementation, the current behaviour was intended given that to get any sort of result from conformance was a big success in itself. Taking the next step in making a failed conformance test fail the suite is reasonable.

[2021-08-19 20:15] sbueringer commented on #5123
fyi. Prow is using GCP/testgrid to parse junit reports for the junit lens:
https://github.com/kubernetes/test-infra/blob/master/prow/spyglass/lenses/junit/lens.go#L162
https://github.com/GoogleCloudPlatform/testgrid/blob/master/metadata/junit/junit.go#L198-L204

No idea if it's a good idea to use it.

[2021-08-19 22:08] ykakarap commented on #5016
/assign

[2021-08-20 01:12] #4318 closed

[2021-08-20 08:55] fabriziopandini commented on #5121
I'm not sure that "a partially paused cluster" is something easier to understand for the users, but TBH we don't have data on managed Clusters with user managed additions, so mine are mostly speculation at this stage.
I'm also wondering if this could be also tricky to implement, given that if we set pause on a managed cluster, this will affect everything in the cluster, not only the managed part.

[2021-08-20 09:00] fabriziopandini commented on #5124
FYI in the 18th of August office hours meeting there was a discussion about decoupling the Kubernetes Bootstrap (kubeadm) and the machine bootstrap (cloud-init) in CABPK. No decision taken so far, but the topic is gaining traction

[2021-08-20 09:01] fabriziopandini commented on #3728
/lifecycle frozen

[2021-08-20 09:26] fabriziopandini opened #5125 "Support MHC in ClusterClass"
**User Story**

As a user I would like to use MHC in managed topologies

**Detailed Description**

ClusterClass provides a way to define a "stamp" to be used for creating many Cluster with a similar shape.

It would be great to have a way to include MHC in the ClusterClass, so it will be automatically included in the generated Clusters.

/kind feature

[2021-08-20 09:26] fabriziopandini commented on #5125
/area topology
/milestone Next

[2021-08-20 12:06] randomvariable commented on #5123
If it does what we want, i don't see why not.

[2021-08-20 12:36] sbueringer commented on #5123
Just thinking about that we might don't want to have a dependency on testgrid and not sure how stable it is as a library (current verison is 0.0.91). But I guess as the worst case is to copy ~200 lines of code, it shouldn't hurt to have a dependency on it.

[2021-08-20 12:53] killianmuldoon commented on #5122
It would be good to get some profiling and goals around this to understand the upsides/downsides of doing this sort of optimisation.

[2021-08-20 14:25] vladimirvivien commented on #4897
@vincepri and @fabriziopandini
I would love to better understand the pain points. Can you point me to somewhere in the code where you think could be done better with the new framework and I can work backward.

[2021-08-20 16:26] vincepri commented on #5124
/milestone Next

[2021-08-20 16:50] vincepri commented on #5122
It'd be great to write some benchmarks and compare before/after so we can justify the switch.

[2021-08-20 16:59] vincepri commented on #5124
@spagaldipti Thanks for filing this issue! Is there any more context we can have on the reasoning this would have to be in CABPK? How would having a raw kubeadm config let you join a node to a cluster? Is the automation happening somewhere else?

[2021-08-20 17:08] sbueringer commented on #5122
Is there a specific reason why want to only investigate json-iterator/go? I'm not really up-to-date but I know there are a lot of "higher performance" JSON parser. Is that one the fastest?

[2021-08-20 17:25] metrictwo commented on #5124
@vincepri We're writing a "live" cluster-api provider for our bare metal offering on-prem. This provider consumes machines that are already booted, imaged, prepped, and validated, via an agent providing a "kubeadm api" on each machine that let's us join them to clusters. The motivation is to reduce the time needed for node operations (replacements, rolling upgrades, rebuilds, etc).

[2021-08-20 19:23] vincepri commented on #5124
Thanks for the added context! Definitely helpful :) This can be a good thing to consider with the plans to refactor/restructure our bootstrapping mechanics.

[2021-08-20 19:30] vincepri commented on #5124
Something that could help us right now is take the current CABPK codebase (under bootstrap/kubeadm) and start separating out the kubeadm-specific code in a library that can be reused.

There is a PR out that adds support for ignition (#4172), which enables the `Format` field. To have a "plain" kubeadm output, we could leverage this field now.

cc @killianmuldoon

[2021-08-20 21:00] vincepri commented on #5122
It's already used in parts of k/k, I haven't seen any other mention of other json encoders/decoders apart from the one in the stdlib

[2021-08-23 00:12] rodrigoscna opened #5130 "Error when updating spec.machineTemplate.infrastructureRef.apiVersion to new version v1alpha4"
**What steps did you take and what happened:**
I upgraded my cluster from v1alpha3 to v1alpha4 according to bellow table:
[code]

When I tried to update the field `spec.machineTemplate.infrastructureRef.apiVersion` from v1alpha3 to v1alpha4 on KubeadmControlPlane resource, the API gave me the following error: `The KubeadmControlPlane "****" is invalid: spec.machineTemplate.infrastructureRef.apiVer

[2021-08-23 02:11] vincepri commented on #5130
/milestone v0.4
/kind release-blocker

[2021-08-23 02:12] vincepri commented on #5130
/kind release-blocking

[2021-08-23 02:14] vincepri commented on #5130
@fabriziopandini Shouldn't we have caught this in the e2e tests?

[2021-08-23 02:14] vincepri commented on #5130
Also we might have to update the reference to the current contract like we do in other places.

[2021-08-23 04:40] asalkeld commented on #4642
note this is implemented in https://github.com/kubernetes-sigs/cluster-api/pull/4926

[2021-08-23 04:40] asalkeld commented on #4641
note this is implemented in https://github.com/kubernetes-sigs/cluster-api/pull/4926

[2021-08-23 04:42] asalkeld opened #5132 "Operator: implement a validating webhook"
once this https://github.com/kubernetes-sigs/cluster-api/pull/4926 is merged we need to add webhooks

/kind feature
/area operator

[2021-08-23 04:45] asalkeld opened #5133 "Operator: delete all resources on CR deletion"
See : https://github.com/kubernetes-sigs/cluster-api/pull/4926

Delete does not work correctly as the generic finializer will only delete namespaced objects, not clusterRole[bindings].
So for example ClusterRoleBindings recently had a roleRef change that caused a problem..

    I installed control-plane
    I deleted the CR, causing all namespaced objects to be deleted
    I re-installed with this

[2021-08-23 07:10] JoelSpeed commented on #4681
Reading through the original thread in the PR, I can understand the concerns about having the controller watching another controller.

However I think in this case there are a few reasons why this may be a valid design:
- The interaction point for the customer in this case is the MHC
- The MHC has requested some action of another controller, if it's request never gets fulfilled, I'd expect it to r

[2021-08-23 08:38] fabriziopandini commented on #3203
/close
As per comment above this is part of ClusterClass; ongoing work in https://github.com/kubernetes-sigs/cluster-api/pull/5059

[2021-08-23 08:38] #3203 closed

[2021-08-23 08:54] fabriziopandini commented on #5130
@vincepri

I agree the main problem here is that KCP controller is not taking charge of upgrading its own reference to the infrastructure machine (which in turn requires to relax mutability).

In our E2E tests we are upgrading the providers from v1alpha3 to v1alpha4, then executing an operation (a Kubernetes Version upgrade) on an existing workload Cluster to check it is still manageable by CAPI.

[2021-08-23 10:23] sbueringer commented on #5130
@fabriziopandini I'm a bit confused about our clusterctl e2e test. It seems to start with v1alpha3, but the final KCP resource seems to have an upgraded ref:
* https://storage.googleapis.com/kubernetes-jenkins/logs/periodic-cluster-api-e2e-main/1429727011512782848/artifacts/clusters/clusterctl-upgrade-axusr4/clusterctl-upgrade-lu5s8f-cluster-template.yaml
* https://storage.googleapis.com/kubernete

[2021-08-23 10:41] fabriziopandini commented on #5130
@sbueringer that is something to be investigated. I searched for ConvertReferenceAPIContract in KCP code I did not find it used anywhere. I will made a more detailed search given your evidences but I'm wondering how this could work with the webhook preventing the field to be updated 🤔

[2021-08-23 12:29] sbueringer commented on #5130
@fabriziopandini Yeah something is strange here :). I can take over and step through the e2e test if you want.

[2021-08-23 14:31] elmiko commented on #4681
i like how you summarized it @JoelSpeed , my thinking was also that the MHC is the main interaction point for the user in these cases.

if we have a metric, we might get mired in keeping track of all the time series related to each emr that happens (which may not be a bad thing). but, a condition doesn't give us a convenient way to create an alert and it requires the user to look into the mhc to s

[2021-08-23 14:58] stmcginnis commented on #4419
/remove-lifecycle stale

[2021-08-23 15:02] randomvariable opened #5136 "Upgrading from CAPI v0.3.14 to v0.3.22 can result in KCP NPE when a KCP upgrade is initiated without the KCP resource being updated"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

Upgrade CAPI controllers from v0.3.14 to v0.3.22 . KCP rollout is triggered (presumably because a diff condition is reached) with no update to the KCP resource.

KCP controller starts crash looping with:

[code]

**What did you expect to happen:**

No NPE, KCP rollout succeeds, or doesn't

[2021-08-23 15:03] randomvariable commented on #5136
The way we've handled similar issues in CAPA is to call the defaulting method on the affected resource during reconciliation and patch if neccessary.

[2021-08-23 15:12] vincepri commented on #5136
We might need to move the defaulting to `openAPI` for this one case. In the future we should make sure to handle pointers better. This field should probably have been a plain struct (without a pointer) and then the fields should have been defaulted inline.

[2021-08-23 15:12] vincepri commented on #5136
/milestone v0.4
/kind release-blocking

[2021-08-23 15:43] randomvariable commented on #5136
As in move it within the v1alpha4 release or for v.Next?

And ideally, I'd like to backport the fix whatever it is, so what would we do there?

[2021-08-23 15:44] vincepri commented on #5136
Keeping the current validation/defaulting and adding the openAPI ones should be backward compatible?

[2021-08-23 16:02] randomvariable commented on #5136
Cool, wanted to check.

[2021-08-23 16:41] detiber commented on #2955
Even when used within ginkgo and outside of cleanup, there are some issues being hit with the current approach where helpers are making assertions.

For example: https://github.com/kubernetes-sigs/cluster-api/blob/cdf2905db3c60cbc3fa6bd3b8d92877f64b3b164/test/framework/machinehealthcheck_helpers.go#L155, it states that is avoiding Expect() because it may return an error during machine deletion, ho

[2021-08-23 19:00] randomvariable commented on #5136
/assign @vincepri
/lifecycle active

[2021-08-23 19:42] #5136 closed

[2021-08-23 22:28] srm09 opened #5141 "Lifecycle hooks for CAPI objects"
**User Story**

As a developer/operator, I would like to run some custom logic/code for certain lifecycle events in the CAPI objects and pause the object reconciliation until the external entity finishes its execution.

**Detailed Description**

Currently, in CAPI, we have the ability to alter the Machine object's lifecycle after it has been marked for deletion using a special set of annotations.

[2021-08-23 22:31] srm09 commented on #5141
Using this issue, as a net to catch the use cases which could be benefited from these hooks.

[2021-08-24 04:44] ykakarap commented on #5112
@jayesh-srivastava Thanks for taking up the issue 🙂

The filed `WatchFilterValue` is an public field on many of the Reconciler structs, a non-exhaustive list of places it is defined:
* https://github.com/kubernetes-sigs/cluster-api/blob/master/controllers/topology/controller.go#L49
* https://github.com/kubernetes-sigs/cluster-api/blob/master/controllers/cluster_controller.go#L69
* https://github.c

[2021-08-24 09:55] sbueringer opened #5142 "ClusterClass transformations/patches"
**User Story**

As a user I would like to be able to customize individual clusters even though they are all using the same ClusterClass.

Note: this is essentially `Extensibility/Transformation` in https://github.com/kubernetes-sigs/cluster-api/blob/b043a33ce6f954c1dc166d25a1e8984c296b3916/docs/proposals/202105256-cluster-class-and-managed-topologies.md#prospective-future-work

**Detailed Descript

[2021-08-24 09:56] sbueringer commented on #5142
/assign

[2021-08-24 10:55] sbueringer commented on #5130
Okay simple explanation. The files I linked above are from different clusters. Our clusterctl upgrade test uses two clusters: one provisioned with v1alpha4 to host the old/new versions of providers and one workload cluster provisioned by the old/new providers.

So tl;dr in our upgrade test:
* the cluster on which the providers are running and upgraded is provisioned with v1alpha4 and has a v1alpha

[2021-08-24 11:51] fabriziopandini commented on #4444
/lifecycle frozen
this topic is relevant for project graduation

[2021-08-24 11:52] fabriziopandini commented on #4461
/lifecycle frozen

[2021-08-24 11:53] fabriziopandini commented on #4464
/lifecycle frozen

[2021-08-24 11:54] fabriziopandini commented on #4658
/lifecycle frozen
A proposal is under discussion

[2021-08-24 14:06] mdbooth commented on #4380
I've just come across this because I've hit a hard dependency on docker. The dependency breaks me because I'm using podman. The specific code which breaks me is https://github.com/kubernetes-sigs/cluster-api/blob/36d4d2eede00c84774296ea8cec0b1db9c196cc2/test/framework/bootstrap/kind_util.go#L159

The code comment claims that the code in question was copied from kind https://github.com/kubernetes-s

[2021-08-24 14:10] stmcginnis commented on #4380
Looks like that comment should have been updated.

The only additional work is to get testing in place, so that shouldn't cause any further challenge for your case. There was some (very) long term discussion on supporting other container runtimes. Things should be in place to at least enable that, though it would take some work to get things implemented for other runtimes.

Is there an SDK/API for

[2021-08-24 14:33] mdbooth commented on #4380
I don't understand. Sure the comment needs to be updated and testing is required, but surely neither of those are going to fix the regression introduced by #4499?

I don't know about an SDK for podman, however I do know that podman treats the docker cli as a defacto API and aims for compatibility with it. It obviously can't be compatible with the proprietary host agent, though, because it doesn't

[2021-08-24 14:40] vincepri commented on #5016
Renamed a bit to avoid using "component", which usually refers to artifacts in the release

[2021-08-24 14:48] mdbooth commented on #4380
Eurgh, the reverts are huge and full of conflicts :( Today isn't a good day. I just want to be able to run my tests.

[2021-08-24 14:53] mdbooth commented on #4380
Incidentally, the specific error is:

[code]

AFAICT this is caused by the prior save, not the push to kind.

[2021-08-24 14:55] randomvariable opened #5145 "ClusterClass: Rollout strategies on upgrade"
**User Story**

As a cluster operator I would like to control the rollout of upgrades to my MachineDeployments when consuming ClusterClass such that I can verify the operation of my nodes and workloads. My workloads include [network function virtualisation](https://en.wikipedia.org/wiki/Network_function_virtualization) which are tied to particular hardware, requiring careful rollout to meet availa

[2021-08-24 14:55] randomvariable commented on #5145
/area ls

[2021-08-24 14:56] vincepri commented on #5145
/area topology
/milestone Next
/priority important-longterm

[2021-08-24 15:04] randomvariable commented on #5145
Interested folk may at some point want to work in the CNCF Telco WG and ETSI and define some standards.

[2021-08-24 15:26] fabriziopandini commented on #4380
@mdbooth I’m really sorry the CAPI framework does not work locally for you, but I’m not sure that this should be accounted to this effort, because even before the test framework was shelling out to the docker CLI, thus still relying on docker being installed on the machine.

Nevertheless I will be more than happy to open a separated issue and track an effort for adding support for running our test

[2021-08-24 15:31] stmcginnis commented on #4380
Looking at the libepodman apiv2 work, it looks like that could provide a low friction way to support podman with the docker compatibility APIs. I have not been following that project, so not sure the current status of this (looks like it is still being developed in a feature branch), but once available, it could be a matter of just setting some environment variables so `client.from_env()` knows to

[2021-08-24 15:31] mdbooth commented on #4380
This isn't the case, because podman provides a compatible docker cli tool, which is why I characterised this as a regression.

[2021-08-24 15:33] mdbooth commented on #4380
The critical point here is: calling the docker cli works with podman. Directly calling the proprietary docker host agent does not.

[2021-08-24 15:38] stmcginnis commented on #4380
On the other hand, a CLI is not an API, so that is not a very good integration interface. I understand it does not help in your case, since it was providing a convenient way to swap things out under the hood, but calling out to a CLI as was being done really should be avoided if possible.

[2021-08-24 15:40] mdbooth commented on #4380
It's a widely used and well understood interface, which is why podman is compatible with it. If we could go back to it until there's an alternative that would be helpful.

[2021-08-24 15:42] vincepri commented on #4380
Hey folks, we should probably use a different issue to discuss `podman` specific support for the test framework (and what about CAPD?).

When we started this work back in March folks have asked for feedback during the office hours and in this issue. The benefit of removing the dependency from the command line (shelling out) and introduce integration and unit tests was a good strong point in our ef

[2021-08-24 15:43] vincepri commented on #5142
/milestone v0.4

[2021-08-24 15:53] mdbooth commented on #4380
Unfortunately I'm unlikely to be able to attend that meeting for most of the year. Possibly if it was an hour earlier?

To be clear, I'm discussing podman support here because it's this effort which appears to have regressed it. I can confirm that the code in kind which was originally copied works fine.

[2021-08-24 16:01] vincepri commented on #4380
@mdbooth We should track support in a more official manner in a new feature request/issue. The test framework and CAPD never explicitly supported any other CRI other than docker, which is why we're considering it as a new feature rather than a regression.

[2021-08-24 16:03] stmcginnis opened #5146 "Support for Podman with CAPD"
**User Story**

As a user I would like to use the CAPD provider on a system that has podman installed so I can use non-Docker runtimes.

**Detailed Description**

Raised by @mdbooth. We had previously used calls out to the docker CLI to perform container management in CAPD. For multiple reasons, we wanted to move away from CLI calls to using the API directly. Prior to this, podman could be aliased

[2021-08-24 16:04] stmcginnis commented on #4380
Filed a tracking issue here: https://github.com/kubernetes-sigs/cluster-api/issues/5146

[2021-08-24 16:21] #5130 closed

[2021-08-24 17:11] #5029 closed

[2021-08-24 19:18] sbueringer opened #5147 "Add reconciler key to the loggers of all reconcilers"
**User Story**

As a user I would like to be able to distinguish logs of different reconcilers

**Detailed Description**

In #5134 we'll add a `reconciler: topology/ClusterReconciler` k/v pair to the topology.ClusterReconciler logger. Let's also add the `reconciler` k/v pair to all our other reconcilers.

**Anything else you would like to add:**

[Miscellaneous information that will assist in solv

[2021-08-25 09:35] killianmuldoon commented on #5147
/assign

[2021-08-25 14:25] fabriziopandini commented on #4684
/lifecycle frozen

[2021-08-25 14:46] richardcase opened #5152 "Support provider deprecation"
**User Story**

As a provider implementer, I would like to be able to deprecate a provider to support changes in the provider types / deployment options for a provider.

**Detailed Description**

In CAPA prior to version 0.7.0 we had infrastructure, control plane and bootstrap providers. This separation caused some technical and UX issues.  So with the 0.7.0 release we have removed the separate co

[2021-08-25 14:46] richardcase commented on #5152
/assign

[2021-08-25 15:12] sbueringer commented on #5152
Mirroring what I wrote in Slack. Right now we have the following situation:
* clusterctl v0.3.x: is able to install v1alpha3 providers (CAPA < v0.7.0)
* clusterctl v0.4.x: is able to install v1alpha4 providers (CAPA >= v0.7.0) and only to upgrade v1alpha3 providers to v1alpha4

So tl;dr current clusterctl is already unable to install your old providers as they are not using the v1alpha4 contract.

[2021-08-25 15:19] sbueringer commented on #5152
+1 as it provides a better UX for end users and then less questions in Slack :)

[2021-08-25 16:45] sbueringer commented on #5142
fyi, we already have a first draft here: https://docs.google.com/document/d/1T6H4f5CG7zstH7aX2sf80loo0Ye9k13yce4mdX4EFZo/edit#

**NOTE** Right now it only talks about variables. We're still working on add patches to the doc. But it would be nice to already get feedback on the variable part.

[2021-08-26 10:48] killianmuldoon opened #5157 "Create custom matchers for internal/testtypes"
**Detailed Description**
Composable custom matchers should be created in order to test whether the outcome of reconciliation or other action is as intended while ignoring fields in the resulting objects that aren't of interest.

Examples
- The Kubernetes testing FakeClient currently adds a resourceVersion to objects on creation. This can cause raw comparison checks to fail. Other Metadata fields h

[2021-08-26 13:47] sbueringer opened #5159 "Add AGE column to all our CRDs"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

Executed: (against a kind cluster with a few resources deployed)
[code]

**What did you expect to happen:**

I would have expected to see an AGE column when listing our CRDs with kubectl.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the

[2021-08-27 07:26] sbueringer opened #5168 "ClusterClass: Topology metadata is not propagated to machines"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

I configured labels and annotations in the topology (controlPlane & workers) and they were only propagated to the metadata of MachineDeployments, ControlPlanes, InfrastructureMachineTemplates and BoostrapTemplates.

**What did you expect to happen:**

I expected that labels and annotation

[2021-08-27 09:15] fabriziopandini opened #5169 "KCP should reset OwnerRemediated condition if the machine returns healthy"
**What steps did you take and what happened:**

When bootstrapping a cluster:
- KCP remediation was triggered, with MHC setting `HealthCheckSucceeded` condition to false on a machine
- Remediation was not possible because the control plane has only 1 node, so `OwnerRemediated` condition was set to false with reason `KCP can't remediate if current replicas are less or equal then 1`
- Some time late

[2021-08-27 15:54] quodvis opened #5171 "failed to get provider components for the "vsphere" provider"
I try to install capi and get the following problem.

$ clusterctl init --infrastructure vsphere
Fetching providers
Error: failed to get provider components for the "vsphere" provider: failed to set the TargetNamespace on the components: converting (v1beta1.MutatingWebhookConfiguration) to (v1.MutatingWebhookConfiguration): unknown conversion

my environment is:

$ clusterctl version
clusterctl ve

[2021-08-29 11:51] #4136 closed

[2021-08-30 09:19] huchen2021 opened #5174 "The control plane of workload cluster boot failed by using Kubernetes v1.22 + cluster-api 0.4.2"
Kubernetes is  v1.22
cluster-api v0.4.2

The control plane of workload cluster boot failed, the log of capd-controller-manager-69bc8b755b-xrdkv.log is as followed:
[code]

The ouput of "kubectl describe pod -n capd-system capd-controller-manager-69bc8b755b-xrdkv --kubeconfig /tmp/mgmt.conf"
[code]

[2021-08-30 10:55] fabriziopandini commented on #5174
@huchen2021 are you using a default kindest/node image?

I don't see the following preflight error message in our CI using CAPD latest & Kubernetes v1.22

[code]

Those message are a warning the system is not properly configured for running kubernetes, and in fact the init procedure looks like it is failing for kubelet not answering in the expected time.
Could you check/privide the kubelet logs?

[2021-08-30 12:17] sbueringer commented on #5174
Would be also great if you can provide the cluster resources you used. (especially KubeadmControlPlane and KubeadmConfigTemplate)

[2021-08-30 14:43] vincepri opened #5175 "RFE: Runtime Extensions"
From a while back there has been a need for Cluster API providers to be able to define their own extensions that can work across a number of different use cases. This issue is meant to be an ongoing discussion / brainstorm on what runtime extensions goals/non-goals are, and how we can make it happen with our roadmap to beta.

#### Requirements
- We should reuse, wherever possible, the machinery in

[2021-08-30 14:44] vincepri commented on #1271
/lifecycle frozen
/milestone v0.4
/retitle RFE: Upgrade tuning and drain behavior for ClusterClass

[2021-08-30 14:44] vincepri commented on #1271
/area topology
/priority important-longterm

[2021-08-30 14:44] vincepri commented on #1271
/assign @fabriziopandini

[2021-08-30 14:51] fabriziopandini commented on #5175
+1000
my two cent

Goals:
- provide *generic* extension mechanism for CAPI that can be used when
   - The interaction between CAPI and the extension components requires synchronous/blocking RPC calls.
   - Given RPC call the request is blocking, and also probably adding latency, the request could evaluate in a very short time.

Noan Goals
- To replace the current extension mechanism using for comp

[2021-08-30 15:16] fabriziopandini opened #5176 "Defer template deletion for MachineSets in a managed topologies"
**What steps did you take and what happened:**
While testing template rotation for a MachineDeployment in a managed topology, deletion process of the old MachineSet got stuck and the MachineSet controller started to fail due to missing templates.

**What did you expect to happen:**
The machine deployment in a managed topology to properly rotate templates

**Anything else you would like to add:**
T

[2021-08-30 15:16] fabriziopandini commented on #5176
/area topology
/milestone v0.4

[2021-08-30 15:47] sbueringer commented on #5176
Do we need a similar mechanism for MachineDeployments? (or maybe use the one for MachineSets for both)

[2021-08-30 16:33] #5168 closed

[2021-08-30 20:49] metrictwo commented on #5124
Just to drop an update: we're working on a PoC to better define what we're looking for on this (particularly around control plane nodes). That'll give us a more concrete use case to dig into at the weekly meeting.

[2021-08-31 02:19] huchen2021 commented on #5174
[code]

[2021-08-31 02:31] huchen2021 commented on #5174
[code]
It boot failed.

I tried to run the kubelet command directly, it reports the following error

[code]

[2021-08-31 02:46] huchen2021 commented on #5174
[code]

[2021-08-31 07:52] huchen2021 commented on #5174
I set up cgroup-driver: cgroupfs, and kubelet can start now.

[2021-08-31 08:37] sbueringer commented on #5174
Yup, that's why I asked for the YAMLs :). We pinned the cgroup driver to cgroupfs a while ago:
https://github.com/kubernetes-sigs/cluster-api/blob/master/test/infrastructure/docker/templates/cluster-template-development.yaml#L75

Additional context in https://github.com/kubernetes-sigs/cluster-api/pull/4614 (and the linked issues)

[2021-08-31 09:01] huchen2021 commented on #5174
It still has other issues:

The logs of  capd-controller-manager.log

[code]

The logs of capi-controller-manager.log

[code]

The log of capi-kubeadm-control-plane-controller-manager.log

[code]

[2021-08-31 09:12] fabriziopandini commented on #5176
We probably need both, but let's start by MachineSet because they have more frequent turnover than MachineDeployments

[2021-08-31 09:15] huchen2021 commented on #5174
The log of kubelet is as followed:

[code]

It told me "Couldn't get secret capd-system/capd-webhook-service-cert: secret "capd-webhook-service-cert" not found", But it is existed on my system.

[code]

[2021-08-31 09:19] huchen2021 commented on #5174
I notice there is error line in capi-controller-manager.log

[code]

But there is also existed:
[code]

[2021-08-31 09:31] fabriziopandini commented on #5174
I noticed this errors in CAPD

[code]

That should be investigated

Also, it seems you are applying v1alpha3 objects while testing with v1alpha4

    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"controlplane.cluster.x-k8s.io/v1alpha3","kind":"KubeadmControlPlane", ...

Could you try to move your resources to v1alpha4 so we can exclude conversion web hooks from the inves

[2021-08-31 09:41] sbueringer commented on #5174
@huchen2021 Are you running the documented quickstart?

What is the error you have?

I'm not 100% sure but I think the API server only shows up as a available after CNI is deployed at the end (similar to how MachineDeployments behave)

[2021-08-31 14:09] sbueringer commented on #5176
/assign

[2021-08-31 21:23] ykakarap opened #5183 "Adding new machine deployments while control plane is upgrading in managed topologies"
This issue is meant to be an ongoing discussion/brainstorming to see if it is acceptable or not to allow creation of new machine deployments while the control plane is upgrading/scaling.

In the initial implementation[1] of upgrade in managed topologies we are allowing creation of new machine deployments while the control plane is upgrading[2] or scaling[3].

This needs more thought and probably s

[2021-09-01 02:53] huchen2021 commented on #5174
I also figure out controlplane.cluster.x-k8s.io/v1alpha3 is wrong, and modified it to v1apha4. But it seems still have another issues.

About this error

E0901 02:39:36.580998       1 dockercluster_controller.go:89] controller-runtime/manager/controller/dockercluster "msg"="failed to patch DockerCluster" "error"="DockerCluster.infrastructure.cluster.x-k8s.io \"quick-start-dr1su4\" is invalid: stat

[2021-09-01 06:32] sbueringer commented on #5174
While this error is not ideal (and should be investigated/fixed), I think it shouldn't be a problem and lead to a serious problems. We have a few of them even in our entirely successful tests: https://storage.googleapis.com/kubernetes-jenkins/logs/periodic-cluster-api-e2e-main/1432935840169857024/artifacts/clusters/bootstrap/controllers/capd-controller-manager/capd-controller-manager-6685cc9ff6-xp

[2021-09-01 06:56] huchen2021 commented on #5174
In order to have same page with you. I set up "quick start" environment by using ubernetes v1.22 + cluster-api 0.4.2

Even after configure the CNI

[code]

My kubeadmcontrolplane still not ready.
[code]

[2021-09-01 07:07] sbueringer commented on #5174
Okay, I was just confused, because our v1alpha4 quickstart does not use v1alpha3 resources, so that doesn't seem to match what I expected to happen when running our v1alpha4 quickstart.

What is the output of:
* in the management cluster: `kubectl get kubeadmcontrolplane,dockercluster,cluster,machinedeployment,dockermachine,machine,dockermachinetemplate,kubeadmconfigtemplate -A`
* in the workload

[2021-09-01 07:11] huchen2021 commented on #5174
[code]

[2021-09-01 07:16] sbueringer commented on #5183
Afaik our e2e tests are creating everything at the same time and the MachineDeployment get up eventually. During upgrade I guess it should work in most cases as the control plane is already initialized.

A problem could be that when a MachineDeployment is created with a higher version than the oldest control plane machine.
E.g. Control plane is upgrading from v1.21 to v1.22 and MachineDeployment i

[2021-09-01 07:21] sbueringer commented on #5174
@huchen2021 I think the 2nd output is from your management cluster. Can you repeat it for the workload cluster? (with capi-quickstart.kubeconfig)

[2021-09-01 14:03] enxebre opened #5184 "go get / go install for projects depending on capi does not work"
**What steps did you take and what happened:**
[code]

[code]

[code]

**What did you expect to happen:**
go get / go install works

**Anything else you would like to add:**
This is the controversial clause https://github.com/kubernetes-sigs/cluster-api/blob/master/test/go.mod#L5
This can be workaround by adding a replace clause for capi in the invoking go.mod file. Nevertheless I'd expect us to p

[2021-09-01 14:15] huchen2021 commented on #5174
I found the workload cluster has ImagePullBackOff issue:
[code]

I run the following command, it seems only can load image into management cluster, not workload cluster.
[code]

How to solve this issue in workload cluster?

[2021-09-01 17:38] vincepri commented on #5145
/milestone v0.4

[2021-09-01 18:02] fire-ant commented on #5145
Currently the discussions of upgrade strategy suggest that queue placement will be derived from alphanumeric ordering based on name.  This may work if there is an alignment between the role of a node and the upgrade strategy.

My feeling is that whilst this could be a sane default  we should be able to sequence queue placement based on a customisable selector such as a label which can be specified

[2021-09-01 21:41] #5159 closed

[2021-09-02 03:07] huchen2021 commented on #5174
Thanks for reminder. I already fix the issue on my "quick start" environment,  it is caused by pull image failure. Now the status is ok.

[code]
My "quick start" environment is just to test if kindest/node:v1.22.0 is ok with the doc case.
Now I need to figure out why  is not work on my working environment.

[2021-09-02 04:30] ykakarap commented on #5183
/area topology

[2021-09-02 06:00] huchen2021 commented on #5174
In my working environment, the kubeadmcontrolplane is not ok.
[code]

[2021-09-02 06:34] sbueringer commented on #5174
I would recommend running `get node` / `describe node` against your workload cluster to see if the node is ready. If the node is not ready, KCP also won't get ready.

[2021-09-02 08:25] fabriziopandini commented on #3974
/lifecycle frozen

[2021-09-02 11:02] mdbooth commented on #5146
It's possible to work round this using `podman system service`. I've tested this in CAPO and documented it here: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/982

[2021-09-02 14:21] killianmuldoon commented on #5184
Can you expand on this?

Another solution I'm seeing is to avoid doing this for release versions of a project so that go install etc. will work for release versions but this easier method of testing the latest code can be used for whatever the local version is. [c/f ](https://github.com/golang/go/issues/42627#issue-743663670)

[2021-09-02 15:18] killianmuldoon commented on #5145
The requirements in this area can rely on very niche hardware constraints and relying on the Containerized Network Functions to be up and running (and warmed up as some require ramping on traffic etc.) before being able to take the old, unupgraded version online. The RolloutStrategy here could end up looking like a complicated Machine scheduler if we try to bake all of that into a controller. Is t

[2021-09-02 17:13] vincepri commented on #3686
/lifecycle frozen
/kind api-change
/milestone Next

[2021-09-03 06:35] fabriziopandini opened #5192 "ClusterClass webhook should allow for metadata mutation"
While testing ClusterClass I noticed that we are preventing the user to mutate metadata label and annotations both for `spec.controlPlane.metadata` and `spec.workers.machineDeployments[].template.metadata`

Those fields should allow mutations.

**Environment:**

- Cluster-api version: master

/kind bug

[2021-09-03 06:35] fabriziopandini commented on #5192
/area topology
/milestome v0.4

[2021-09-03 06:39] fabriziopandini opened #5193 "Managed topology should add topology.cluster.x-k8s.io/deployment-name to machineDeployment templates"
While generating a machine deployment out of a managed topology we are also generating a bootstrap template object and an infrastructure machine object.

However, we are not adding the `topology.cluster.x-k8s.io/deployment-name` label to the generated templates like we are doing for the MachineDeployment object.

**Environment:**

- Cluster-api version: master

/kind bug

[2021-09-03 06:40] fabriziopandini commented on #5193
/area topology
/milestone v0.4

[2021-09-03 06:43] fabriziopandini opened #5194 "Managed topology should add dynamic watches for InfrastructureCluster and ControlPlane kind"
While reconciling a managed topology we should add dynamic watches for InfrastructureCluster and ControlPlane kind, thus ensuring a timely reconcile whenever a change happen on those objects.

Note, this could be done either during read current cluster or during compute desired state (TBD)

**Environment:**

- Cluster-api version: master

/kind bug

[2021-09-03 06:44] fabriziopandini commented on #5194
/area topology
/milestone v0.4

[2021-09-03 06:54] sbueringer opened #5195 "Managed topology should have a clear rollout behaviour for referenced templates"
Currently, you can modify templates referenced in a ClusterClass and the changes get rollout either after the resync period or after the controller is restarted.

I think we should either:
1. reconcile changes to templates immediately
2. don't reconcile them (i.e. we tread them as if they were immutable and only react if the refs are changed to other templates)

The second option would be consiste

[2021-09-03 06:56] sbueringer commented on #5195
/area topology

[2021-09-03 07:01] sbueringer opened #5196 "Block ClusterClass deletion if it is still used"
Currently, you can delete a ClusterClass even if it's still in use by a Cluster, which then leads to errors during Cluster reconciliation. I think we should block the ClusterClass deletion.

As I think we have to implement our more advanced ClusterClass/Cluster webhooks (at least for patches/variables) with a read-only client anyway, it should be fine to do this in a webhook.

Note: To be able to

[2021-09-03 07:01] sbueringer commented on #5196
/area topology

[2021-09-03 07:07] fabriziopandini opened #5197 "ClusterClass webhook allow compatible reference changes"
Current ClusterClass webhook implementation ensures that references to template Objects are correct and fully provided. and then enforce immutability.

We should allow for reference changes, thus supporting the template rotation operation pattern,

However, in this case, it is required to implement checks ensuring compliance with the [compatibility rules](https://github.com/kubernetes-sigs/cluster

[2021-09-03 07:08] fabriziopandini commented on #5197
/area topology
/milestone v0.4

[2021-09-03 07:09] fabriziopandini commented on #5197
@yastij to add about the use case of renaming an apigroup, which is not included in the current compatibility definition

[2021-09-03 07:21] fire-ant commented on #5145
I think the MVP with the fields/annos I had mentioned to enact some level of control would be enough.

At the application layer it is not uncommon to devise strategies with a combination of heml/kustomize/clonesets for the subset of use cases where components need to roll in a more granularly controlled order (though this precludes system components).

[2021-09-03 07:32] sbueringer commented on #5197
Minor addition: Afaik we currently make sure they are immutable: https://github.com/kubernetes-sigs/cluster-api/blob/f950b4c4ae0f3be530a7dd4a29a5d38bec404b1f/api/v1alpha4/clusterclass_webhook.go#L132-L200

[2021-09-03 07:42] anusha94 commented on #5193
/assign anusha94

[2021-09-03 08:14] sbueringer opened #5198 "Consider <cluster>-control-plane as ControlPlane name prefix in managed topologies"
I wonder if we should name the control plane `<cluster-name>-control-plane` to make sure the control plane machines are easily identifiable. Currently with managed topology the machines look e.g.: like this:

[code]

The worker machines are named like this `<cluster-name>-<topology-name>-<suffix>` while the control plane machines are just `<cluster-name>-<suffix>`.

If we name the control plane `<

[2021-09-03 08:14] sbueringer commented on #5198
/area topology

[2021-09-03 08:15] sbueringer commented on #5198
/milestone v0.4

[2021-09-03 11:28] killianmuldoon commented on #5198
👍  Sounds like an easy win for interpretability of kubectl commands etc.

[2021-09-03 14:45] vincepri commented on #5198
We should only be careful of not to exceed the max char limit on names

[2021-09-03 14:46] killianmuldoon commented on #5195
This impacts InfrastructureClusterTemplates, ControlPlaneTemplate and ControlPlane MachineInfrastructureTemplate right? I think the second option is best at first glance. Otherwise we'll need some understanding of what kind of changes require reconciliation (tough with unstructured) or just reconcile on every single update which is expensive and probably unnecessary.

The only issue is that this i

[2021-09-03 14:50] killianmuldoon commented on #5194
How does this interact with #5195?

[2021-09-03 14:57] sbueringer commented on #5194
The current issue is not about managed objects the other one about templates referenced in the Clusterclass. I think they shouldnt interact.

[2021-09-03 17:12] sbueringer opened #5203 "Support ClusterResourceSet in ClusterClass"
**User Story**

As a user I would like to use ClusterResourceSet in managed topologies

**Detailed Description**

ClusterClass provides a way to define a "stamp" to be used for creating many Cluster with a similar shape.

It would be great to have a way to include ClusterResourceSet in the ClusterClass, so it will be automatically included in the generated Clusters.

**Anything else you would like

[2021-09-03 17:12] sbueringer commented on #5203
/area topology

[2021-09-03 17:44] killianmuldoon opened #5204 "Tilt should create a Kind cluster on 'tilt up'"
**User Story**
As a user I would like to have a full working Cluster API dev environment up and running with a single command.

**Detailed Description**
Today the Cluster API tilt environment requires a running Kind cluster as a prerequisite to using the tilt environment. In future the tilt setup should include the creation of a kind cluster before building and deploying the CAPI components to the

[2021-09-03 17:49] killianmuldoon opened #5205 "Integrate MachineHealthChecks with ClusterClasses and Managed Topologies"
**User Story**

As a user I would like to be able to use the MachineHealthCheck controller along with Clusters created and managed using ClusterClass.

**Detailed Description**

MachineHealthChecks are likely to interact with Machines created in a Cluster through ClusterClass and Managed topologies in a number of ways. This issue is for discussion of the expected behaviour of MachineHealthChecks i

[2021-09-03 17:49] killianmuldoon commented on #5205
/assign

[2021-09-03 17:50] killianmuldoon commented on #5204
/assign

[2021-09-03 18:05] killianmuldoon commented on #5205
/area topology

[2021-09-03 18:07] sbueringer commented on #5198
An entirely different variant:

Add an additional label `machine.cluster.x-k8s.io/role` (potential values `control-plane`, `worker`) or something similar.

Prior art is:
* CAPI: https://github.com/kubernetes-sigs/cluster-api/blob/778feb8bdf8aae4c35e9abde7c37f8d44d4f5890/api/v1alpha4/machine_types.go#L30-L33
* kubeadm: `node-role.kubernetes.io/control-plane: ""`
* Kubernetes `kubernetes.io/role` (n

[2021-09-03 18:12] sbueringer commented on #5205
@killianmuldoon Sounds very similar to: https://github.com/kubernetes-sigs/cluster-api/issues/5125

[2021-09-03 18:14] sbueringer commented on #5204
I think that will be almost impossible to do. The problem is that kubeconfigs of workload clusters which are created by CAPI (and stored in secrets) do not work natively on Mac. The kind cluster itself just works.

[2021-09-03 18:25] killianmuldoon commented on #5205
That's right 👍  I'll close this and work from there.

[2021-09-03 18:26] killianmuldoon commented on #5125
/assign

[2021-09-03 18:26] killianmuldoon commented on #5205
duplicate of #5125

[2021-09-03 18:26] #5205 closed

[2021-09-03 18:28] killianmuldoon commented on #5204
Yeah - I think you're right that this is a stretch, but there should be some way to make it more ergonomic than the current flow in the quick start. Right now there's a couple of sed commands to copy and paste which I think we can improve on, just need to think about how outside of a hack script.

[2021-09-03 18:56] vincepri commented on #5204
The kubeconfig bit could be something that can be included in clusterctl which could detect if the cluster is CAPD and if we're on Mac.

[2021-09-03 18:57] vincepri commented on #5125
/milestone v0.4

[2021-09-03 19:10] sbueringer commented on #5204
Sounds reasonable, just fyi we already have very similar code in our e2e tests

[2021-09-04 01:26] ykakarap opened #5207 "Add expressive comments to functions in `testtypes/builders.go`"
**Description**
Add expressive comments to the functions in `testtypes/builders.go`. This will make it much easier to parse in quickDocs.
Ref : https://github.com/kubernetes-sigs/cluster-api/pull/5178#discussion_r701905264 for original discussion.

/kind docs

[2021-09-04 03:37] ykakarap commented on #5207
/kind documentation

[2021-09-04 11:13] fabriziopandini commented on #5204
FYI I'm ok of having tilt spinning up a kind cluster; adding some notes on top of the discussion above:
- As for tilt recommendation, the kind cluster should use a local registry for better performances. This local registry should be long lived.
- During dev cycles it happens sometime to stop tilt and restarting it whiteout deleting the kind cluster (e.g to force a reload of all the components). W

[2021-09-04 11:17] fabriziopandini commented on #5198
/milestone v0.4

I'm +1 to use the print column, given that this provides a explicit information and the solution applies both to managed and unmanaged clusters

[2021-09-04 11:17] fabriziopandini commented on #5198
/help
/good-first-issue

[2021-09-04 11:22] fabriziopandini commented on #5203
I'm a little bit debated on this given that ClusterResourceSet already applies to many Clusters via label selectors, while including it in each generated Clusters seems to go in a different direction.
I will think more on it...

[2021-09-04 11:42] fabriziopandini commented on #5195
My two cents, but this ties into a broader discussion of gradually allow mutability on ClusterClass.
(more context from  [book](https://cluster-api.sigs.k8s.io/tasks/updating-machine-templates.html) and [Conventions for template types implementation](https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/202105256-cluster-class-and-managed-topologies.md#conventions-for-template-

[2021-09-04 11:45] fabriziopandini commented on #5197
@sbueringer you are right as sorry for did not provide full context here.

The background idea behind this issue it that at this stage, IMO we can reasonably start enabling a subset of ClusterClass mutations by enabling metadata mutation (see ClusterClass webhook should allow for metadata mutation #5192) and template rotation according to the idea of compatible change (this issue).

A similar disc

[2021-09-04 12:04] fabriziopandini opened #5208 "Add Cluster name as printer column on non core types"
As per  https://github.com/kubernetes-sigs/cluster-api/pull/5202#issuecomment-912957671 we should add a Cluster column for  types in KCP, CABPK, extensions, CAPD.

Whenever the information is not available as explicit field, it should be possible to get this information from labels (see e.g. https://github.com/kubernetes-sigs/cluster-api/issues/5198#issuecomment-912717888 for an example of how thi

[2021-09-04 12:05] fabriziopandini commented on #5208
/milestone v0.4

Adding in the milestone given that this will nicely complement changes introduced by #5202

[2021-09-04 12:07] fabriziopandini commented on #5207
/milestone v0.4

This can be eventually moved to Next given that the package is internal

[2021-09-04 12:10] fabriziopandini commented on #5196
I'm +1 to move forward with this change.

[2021-09-04 12:11] fabriziopandini commented on #5193
/lifecycle active

[2021-09-04 13:12] fabriziopandini commented on #5146
I'm still wrapping up my mind around the problem, but I think there are many layer on this and we should break down the problem in smaller pieces.

One possible approach is to make different considerations for the E2E framework and CAPD.

CAPD:
- uses a big portion/all of our recently introduced [container.Runtime](https://github.com/kubernetes-sigs/cluster-api/blob/84d7a3c3fe202ce090bf247a11f54ac

[2021-09-04 13:23] stmcginnis commented on #5146
Just to note: I am trying to verify the instructions being [added here](https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/982/files#diff-83351f57f2e2ff5241f921108be51bace8eef0b3259a6b43afbce2fe2a58771dR134) will work for general CAPD use. Running into some system configuration problems, but if I get by those and that works, it seems a reasonable workaround for now.

[2021-09-04 14:35] vincepri commented on #5196
/milestone v0.4
/priority important-soon

[2021-09-04 14:42] vincepri commented on #5204
Let's provide this as an option, it would be great if we can configure to cleanup the kind cluster on exit

[2021-09-04 16:23] anusha94 commented on #5193
The label value for both bootstrap and infra machine template will be `machineDeploymentTopology.Name`. Is this understanding correct?

[2021-09-04 18:12] jayesh-srivastava commented on #5112
Hey @ykakarap I have understood the issue. Thanks for explaining. Do you want separate PRs or just one big PR?

[2021-09-04 18:12] jayesh-srivastava commented on #5112
/assign

[2021-09-05 11:27] mdbooth commented on #5146
@stmcginnis I'd be interested in adding any practical configuration issues you hit to that documentation. Guessing they're Ubuntu related? If it's generally useful even in the interim you're also welcome to move it to CAPD, in which case I'll replace the CAPO document with a link.

This formed part of an unexpectedly frustrating experience for me. I'll be delighted to help others avoid repeating i

[2021-09-05 15:08] fabriziopandini commented on #5204
+1 to get cleanup as part of tilt down

[2021-09-05 15:59] fabriziopandini commented on #5145
A clarification here.
The control plane will be always upgraded first, then the machine deployments; the alphanumeric ordering will be used to define a predictable order for upgrading machine deployments (but a machine deployment will never be upgraded before the control plane)

[2021-09-05 17:27] invidian commented on #4279
Not stale.

[2021-09-06 03:04] anusha94 commented on #5198
Can I take this up?

[2021-09-06 06:58] sbueringer commented on #5112
I think combining it in one PR is fine (and less effort to review)

[2021-09-06 07:00] sbueringer commented on #5193
Yes

[2021-09-06 07:14] sbueringer commented on #5198
In general, I think yes.

I'm not entirely sure if we want to only add the label to control-plane nodes (in sync with `cluster.x-k8s.io/control-plane`) or also to worker nodes. kubeadm seems to only add the `control-plane` role to control-plane nodes and afaik worker nodes don't have a role.

I think I would only set the label (`machine.cluster.x-k8s.io/role`: `control-plane`) to control plane nod

[2021-09-06 11:07] stmcginnis commented on #5146
Thanks @mdbooth, I think it would be great to have this documentation with CAPD.

In my case, I was running a default server deployment of RHEL8. It's quite possible I wasn't doing something right. I deployed the OS and it looks like podman was installed by default. I tried following the steps in your CAPO docs patch, but would get an error when trying to do anything using the docker.sock created.

[2021-09-06 11:59] fabriziopandini commented on #5198
I think we should add the ROLE column to Machines, checking for `cluster.x-k8s.io/control-plane` as in the example above

[code]

I don't expect this requiring us to change controllers or to apply new labels; this will leave the column empty for workers, but this is consistent with what happen for roles so I'm ok with it

[2021-09-06 12:02] fabriziopandini commented on #4279
/remove-lifecycle stale

IMO this should be implemented in controller runtime first, but I still have to research the topic a little bit more

[2021-09-06 12:17] sbueringer commented on #5198
I'm not sure how that would/could work. For nodes there's a builtin implementation which iterates through annotations and cut's prefixes to collect the roles.

With CRDs we can only say this column should have the value of this JSONPath. So when we try to use the value of `cluster.x-k8s.io/control-plane` we will get an empty string as value.

[2021-09-06 12:32] budhirajamadhav commented on #5208
Can I take this up?
/assign

[2021-09-06 12:35] fabriziopandini commented on #5198
Ok, thanks for clarification.
In this case, given that addressing this with a simple print column is complex, I'm ok in adding the -control-plane suffix for Cluster Classe generated control plane objects.
We can eventually consider to add a machine.status.role field in the spec sometime in the future.

[2021-09-06 12:36] fabriziopandini commented on #5208
/lifecycle active
Sure!

[2021-09-06 13:09] sbueringer commented on #5195
We (@fabriziopandini, @killianmuldoon) discussed this briefly with the following result:

* the current behaviour is:
   * when template spec's are changed the next reconcile will pick up the new version of the template (but the reconcile won't be triggered through the template change)
   * when changing template refs in the ClusterClass this change will be rolled out immediately

We will need to

[2021-09-06 13:13] sbueringer commented on #5195
/kind documentation

[2021-09-06 13:15] sbueringer commented on #5195
/remove-kind bug

[2021-09-06 15:03] mdbooth commented on #5146
With RHEL 8 I also think you'll hit an issue with OverlayFS because the kernel isn't new enough. My first attempt was on CentOS 8 iirc and I hit that.

With podman system service you should see that it creates a unix socket when it starts up. I didn't need any configuration beyond that. Assuming you're not running it as root, you just need to delete the unix socket which was created by the podman-

[2021-09-06 15:11] killianmuldoon commented on #5207
/assign

[2021-09-06 15:40] #5193 closed

[2021-09-06 16:13] sbueringer commented on #5198
I think now I would prefer, either adding the annotation or the status field. Changing the control plane name now and changing it back later  is something I would like to avoid, as it means that users will have control planes with different names  depending on when they created their clusters.

I know it works, but it's not great and renaming a control plane I guess isn't impossible but a least a

[2021-09-06 18:15] fabriziopandini commented on #5192
/assign
/lifecycle active

[2021-09-06 18:15] fabriziopandini commented on #5197
/assign
/lifecycle active

[2021-09-06 19:04] jayesh-srivastava commented on #5112
@sbueringer Sure will do.

[2021-09-07 09:35] enxebre commented on #5198
@sbueringer My understanding is that we are just wanting to solve a UX lack when listing machines here. So my only concern with label/annotation/status is that as a side effect we could be starting an unintended contract that might be consumed in unexpected ways. So if we go that way we should probably specify this is purely informative and not meant to be consumed.

[2021-09-07 09:44] enxebre commented on #5184
Basically what any consumer need to do today, e.g any provider https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/go.mod#L5

[2021-09-07 14:18] enxebre commented on #5194
/assign

[2021-09-07 14:28] stmcginnis commented on #5146
I'm trying to follow the steps on a Fedora 34 system, and running into an issue even trying to spin up a kind cluster.

First I hit the "short-name" issue that caused the image pull to fail. I was able to get around that with setting `short-name-mode="enforcing"` based on the comments in https://github.com/kubernetes-sigs/kind/issues/2186. That got past the image pull step. But then fails on the "

[2021-09-07 14:58] sbueringer opened #5216 "Use .Index func consistently when building field.Paths"
In our webhooks we often use `field.NewPath` to build paths to describe the location of validation errors. I recently found out that there's an `Index` func which we can use to add the array index. Currently, we often use string concatenation to produce something similar.

Example:

Current implementation:
[code]

Implementation with `Index`:
[code]

It's a minor problem, but I think it would be g

[2021-09-07 14:58] sbueringer commented on #5216
/help

[2021-09-07 14:59] vincepri commented on #5216
/milesotne v0.4

[2021-09-07 14:59] vincepri commented on #5216
/milestone v0.4

[2021-09-07 15:28] sbueringer opened #5218 "ClusterClass rolloutAfter not implemented"
The `Cluster.spec.topology.rolloutAfter` field already exists in the API, but we don't use it yet. So, I thought it's a good idea to track this via an issue.

The godoc states:
[code]

**Environment:**

- Cluster-api version: latest

/kind bug
/area topology
[One or more /area label. See https://github.com/kubernetes-sigs/cluster-api/labels?q=area for the list of labels]