[2022-01-26 14:07] fabriziopandini commented on #5946
Let's keep this around while we figure it out if the current code organization is confusing for maintainers or it just works
/milestone v1.2

[2022-01-26 14:08] fabriziopandini commented on #5920
/milestone v1.2

[2022-01-26 14:08] fabriziopandini commented on #5863
/milestone v1.2

[2022-01-26 14:09] fabriziopandini commented on #5862
/close
given that is seems the answer above addressed the issue

[2022-01-26 14:09] #5862 closed

[2022-01-26 14:10] fabriziopandini commented on #5818
/milestone v1.2

[2022-01-26 14:14] sbueringer commented on #4484
/remove-lifecycle stale

I think we still want to address this in some way.

[2022-01-26 14:14] fabriziopandini commented on #5799
The challenge that I see is finding consensus on a shared definition of "private" across infrastructure providers, given that I assume there are variations/nuances
FYI @yastij

/milestone v1.2

[2022-01-26 14:17] fabriziopandini commented on #5770
/kind feature
@killianmuldoon is this issue still valid given that we have only MHC at the lowest level?

[2022-01-26 14:17] fabriziopandini commented on #5770
/milestone v1.2

[2022-01-26 14:18] fabriziopandini commented on #5755
/milestone v1.2

[2022-01-26 14:20] fabriziopandini commented on #5704
/milestone v1.2
/help
It will be great to add few more detail so this qualifies as a good first issue

[2022-01-26 14:21] fabriziopandini commented on #5699
/area topology
/milestone v1.2

[2022-01-26 14:22] fabriziopandini commented on #5695
/milestone v1.2

[2022-01-26 14:24] fabriziopandini commented on #5693
This is going to be addressed by the [Cluster API operator](https://github.com/kubernetes-sigs/cluster-api/blob/main/docs/proposals/20201020-capi-provider-operator.md)

/milestone v1.2

[2022-01-26 14:25] fabriziopandini commented on #5686
/milestone v1.2

[2022-01-26 14:27] sbueringer commented on #5704
Some details:

The clusterctl upgrade test currently takes the following configuration as input parameter:
https://github.com/kubernetes-sigs/cluster-api/blob/3d2876c5b9a13f9c36b042bfb474a109808b6b59/test/e2e/clusterctl_upgrade.go#L56-L73
Additional configuration can be set via environment variables.

Some configuration can be set both via environment variables and the `ClusterctlUpgradeSpecInput`

[2022-01-26 14:28] sbueringer commented on #5686
Short update: I will definitely continue with this issue in v1.2. It's just relatively far down on the priority queue.

[2022-01-26 14:30] fabriziopandini commented on #5666
This was discussed in previous bug triage sessions and the current agreements I to not support multiple failure domains in MD.

Personally, I think we can reconsider this as soon as there is a proposal about how to handle things like rebalancing across FailureDomains (and possibly other scenarios like e.g. setting a failure domain as unavailable).
/milestone v1.2

[2022-01-26 14:31] sbueringer commented on #5990
/assign

[2022-01-26 14:31] killianmuldoon commented on #5770
This is still valid - we might want to include MHC at least at the MachineDeployments level in future so one spec covers all MachineDeployments defined in the ClusterClass.

[2022-01-26 15:15] fabriziopandini commented on #5658
/milestone v1.2

[2022-01-26 15:17] fabriziopandini commented on #5502
@sbueringer @klxfeiyang is I see a PR has been merged.
Can we close the issue now?

[2022-01-26 15:18] fabriziopandini commented on #5509
/milestone v1.2

[2022-01-26 15:19] fabriziopandini commented on #5510
Praise for the clear definition of the required metric.
/milestone v1.2

[2022-01-26 15:20] fabriziopandini commented on #5513
/milestone v1.2

[2022-01-26 15:21] fabriziopandini commented on #5517
/milestone v1.2
/kind api-change

[2022-01-26 15:24] sbueringer commented on #5502
Yes, looks good to me.
/close

[2022-01-26 15:24] #5502 closed

[2022-01-26 15:33] fabriziopandini commented on #5562
/milestone v1.2

[2022-01-26 15:33] fabriziopandini commented on #5569
/milestone v1.2

[2022-01-26 15:34] fabriziopandini commented on #5597
/milestone v1.2

[2022-01-26 15:34] fabriziopandini commented on #5606
/milestone v1.2

[2022-01-26 15:47] MartinForReal commented on #5995
/assign

[2022-01-26 17:42] sbueringer opened #6001 "Remove pull-cluster-api-make-main job"
We currently have a job called `pull-cluster-api-make-main` which is optional for PRs and not run per default, i.e. it can be triggered manually on PRs (`/test pull-cluster-api-make-main`). Given that we didn't use the job for a long time and that the verifications in the job are also covered by other jobs / GitHub actions we want to remove the job now (Slack xref: https://kubernetes.slack.com/arc

[2022-01-26 18:01] furkatgofurov7 commented on #6001
As per the discussion on slack, I would like to work on this issue.

/assign

[2022-01-26 20:16] fabriziopandini commented on #5704
/good-first-issue
given that the ask is very similar to what already implemented for InitWithBinary

[2022-01-26 20:16] lubronzhan commented on #5799
Thanks @jayunit100
I think we could start with, internal Load balancer for the control plane endpoint as `private` definition.
How node, workload or service is airgapped could be decided by each provider.

[2022-01-26 21:09] sbueringer commented on #5995
/reopen
until we merge https://github.com/kubernetes-sigs/cluster-api/pull/5999

[2022-01-26 21:46] elmiko commented on #5442
i think we should keep this open, but i'm not clear on the next steps. would it be appropriate to draft a proposal for this?

/remove-lifecycle stale

[2022-01-26 22:42] #6001 closed

[2022-01-26 22:51] sayantani11 commented on #5845
I don't think that KubeVirt even has a pre-release as of now. They are still working on a lot of things as much as communicated via Slack, but yeah probably soon

[2022-01-27 06:04] arvryna commented on #5704
/assign

[2022-01-27 07:08] sedefsavas opened #6006 "KCP InfrastructureMachineTemplate not deleted after Cluster deletion if infrastructure never becomes ready"
**What steps did you take and what happened:**

1- Create a Cluster where infrastructure never becomes ready (e.g., AWS does not have enough resources)
2- Delete the Cluster and `InfrastructureMachineTemplate` referenced by KCP never gets deleted.

KCP does not set owner reference to its `InfrastructureMachineTemplate` until infrastructure becomes ready and if the `Cluster` is deleted, `Infrastruc

[2022-01-27 11:24] ykakarap opened #6007 "ownerReferences on ClusterResourceSetBinding are not re-updated after restoring from a backup"
**What steps did you take and what happened:**

* Create a kind cluster and initialize it to a management cluster
* Install velero on the management cluster
* Create a workload cluster (Example name: `my-cluster`)
* Apply a ClusterResourceSet (Example name: `cni`)
* Create a backup of the management cluster using velero
* Delete the management cluster
* Recreate a kind cluster and initialize it to

[2022-01-27 11:24] ykakarap commented on #6007
/assign

[2022-01-27 12:00] kaitoii11 opened #6008 "Use go install instead of go get to install binaries"
Starting in Go 1.17, installing executables with go get is deprecated. go install may be used instead.

/kind feature

[2022-01-27 12:07] killianmuldoon commented on #6008
Thanks for the heads up @kaitoii11 - I only see usage of "go get" (from a quick search) in hack/pin-dependency.sh. That's a script that is mirrored from the K8s repo - I think they've replaced the usage [there](https://github.com/kubernetes/kubernetes/blob/master/hack/pin-dependency.sh) with go mod download. Are we actually using that hack script at all now? @sbueringer @fabriziopandini

[2022-01-27 12:12] kaitoii11 commented on #6008
I accidentally submitted the issue before finishing writing my comment.  As I mentioned, it will be introduced when the referenced PR is merged.

[2022-01-27 14:46] #5990 closed

[2022-01-27 14:56] alexander-demichev commented on #5536
The operator repo was created https://github.com/kubernetes-sigs/cluster-api-operator

[2022-01-27 15:17] sbueringer commented on #5952
/reopen
until we merged the cherry-picks for v1.1, v1.0 and v0.4

[2022-01-27 15:36] #5995 closed

[2022-01-28 09:55] fabriziopandini commented on #5536
Looking forward to seeing this project take its own life!
@alexander-demichev is it possible to remove the operator branch now?

[2022-01-28 09:58] fabriziopandini commented on #6007
/milestone v1.2

[2022-01-28 11:09] alexander-demichev commented on #5536
yes, you can delete it

[2022-01-28 11:15] sbueringer commented on #5536
@fabriziopandini Can you please merge this PR too when appropriate: https://github.com/kubernetes/test-infra/pull/25052

[2022-01-28 12:32] killianmuldoon opened #6016 "Add DeepCopy generation for additional types in builders"
https://github.com/kubernetes-sigs/cluster-api/pull/5987 Adds new DeepCopy types to some of the builders used in our tests. These methods allow the same builder to be used to generate multiple test objects which should reduce some of the copy-pasting in test code.

Some of the types in the builders file do not have DeepCopy methods generated yet. This is because they contain a field that is `map[s

[2022-01-28 12:32] killianmuldoon commented on #6016
/good-first-issue

[2022-01-28 12:46] killianmuldoon commented on #5510
/assign

[2022-01-28 14:42] killianmuldoon commented on #5953
I'll take  Operating a Cluster, and I'll review the clusterctl and creating a cluster docs too.

[2022-01-28 14:50] sbueringer commented on #5953
Perfect. Thank you!

[2022-01-28 14:55] sbueringer opened #6017 "CAPI Book versioning"
Hey folks,
let's discuss how we want to version the CAPI book.

Currently we have the following book versions:
* cluster-api.sigs.k8s.io => main
* main.cluster-api.sigs.k8s.io => main (redirects to cluster-api.sigs.k8s.io)
* release-0-4.cluster-api.sigs.k8s.io => release-0-4
* release-0-3.cluster-api.sigs.k8s.io => release-0.3

I don't think this is ideal:
* cluster-api.sigs.k8s.io is based on mai

[2022-01-28 14:55] sbueringer commented on #6017
/cc @vincepri @fabriziopandini @CecileRobertMichon @enxebre

[2022-01-28 15:21] sbueringer opened #6019 "Adjust clusterctl upgrade jobs for v1.2"
As we are now starting development of CAPI v1.2 we have to adjust our clusterctl upgrade test jobs.
The goal is to have jobs which test clusterctl upgrade from the latest release of each currently supported contract version (v1alpha3 (v0.3.x), v1alpha4 (v0.4.x) and v1beta1 (v1.1.x).

We already have jobs for v0.3, v0.4 and v1.0. As we don't need the job for v1.0 anymore we can just change it for v

[2022-01-28 15:22] alexander-demichev commented on #6017
+1 for the first option, there will be feature differences between minor releases and it would be nice to have stable documentation for every release, I think it provides a good user experience.

[2022-01-28 15:23] sbueringer commented on #6019
@alexander-demichev I split out the task in a clean issue, so we can use it as a template for future releases.

Feel free to assign yourself the issue if you want.

[2022-01-28 15:24] alexander-demichev commented on #6019
/assign

[2022-01-28 15:39] sbueringer opened #6020 "Prepare main branch for v1.2 development"
As we're now starting work on v1.2 let's prepare the main branch for v1.2 development.

This issue is mostly about changing all occurrences of the CAPI v1.1.x  version to v1.2.x

As far as I'm aware we have to do the following:
* Add new release to top-level metadata.yaml and test/e2e/data/shared/v1beta1/metadata.yaml
* Update providers in docker.yaml. Roughly:
    * create a new entry for each pr

[2022-01-28 15:40] sbueringer commented on #6020
/cc @alexander-demichev
Similar to the other issue, just made a clean separate issue. This issue would belong to your current open PR, if that's okay for you.

[2022-01-28 21:45] fabriziopandini commented on #5306
/lifecycle frozen

[2022-01-28 21:48] fabriziopandini commented on #5141
This will be addressed by the work for https://github.com/kubernetes-sigs/cluster-api/issues/5175 (Runtime Extensions)
/close

[2022-01-28 21:48] #5141 closed

[2022-01-28 21:53] fabriziopandini commented on #5174
/close
due to lack of updates

[2022-01-28 21:53] #5174 closed

[2022-01-29 14:09] sayantani11 commented on #6016
/assign

[2022-01-30 19:20] aartij17 commented on #5984
I discussed this with @killianmuldoon  and turns out the `nil` check done in the switch case here is sufficient. Sorry about that!
https://github.com/kubernetes-sigs/cluster-api/blob/03d6487983735f03eece198fc870b660734775f8/test/infrastructure/docker/internal/controllers/dockermachine_controller.go#L399

[2022-01-30 19:20] #5984 closed

[2022-01-31 10:15] fabriziopandini commented on #6017
+1 to ask email Netify the best curse of actions.
Given that we know in advance what the next release branch will look like, we can eventuallly ask for release-1.2, and release-1.3 in the same email, so we will be ok for ~one year

[2022-01-31 10:50] fabriziopandini commented on #5953
/cherry-pick release-1.1

[2022-01-31 10:51] fabriziopandini commented on #5953
/re-open
not all the tasks are completed

[2022-01-31 10:54] fabriziopandini commented on #5953
/reopen

[2022-01-31 11:07] fabriziopandini commented on #5546
/remove-lifecycle stale

[2022-01-31 11:08] fabriziopandini commented on #5542
/remove-lifecycle stale

[2022-01-31 11:08] fabriziopandini commented on #5984
@aartij17 thanks for checking this and reporting back!

[2022-01-31 12:08] sbueringer commented on #6017
Sounds great! I don't really now anything about our Netlify integration / account (?) / ... (apart from a few netlify.toml's). But let me know if I can help.

[2022-01-31 12:14] killianmuldoon commented on #5953
clusterctl Provider contract looks good to me - the create a clusterclass documentation is a little less clear though. Our top-level ClusterClass page links to the quick start, but in the quick start the clusterclass section is sort of hidden behind a docker infra tab. I think we should add a short guide to creating a Cluster with ClusterClass wdyt?

[2022-01-31 12:44] fabriziopandini commented on #5953
I'm ok if we point out that the general quick start sequence work with ClusterClass if the provider has templates using it (and eventually pointing to clusterctl doc explaining how this works behind the scenes), but long term hopefully all the providers are going to use ClusterClass in the ClusterClass

[2022-01-31 12:44] sbueringer commented on #5953
I would really prefer if we don't have a separate guide for ClusterClass

[2022-01-31 12:47] killianmuldoon commented on #5953
I don't mean a separate guide - just a section on the existing quick start would do. Right now we're linking to the quick start but there's nothing obvious about ClusterClass there - ctrl-f doesn't turn up anything except enabling the flag. I think. simple section would be clear enough to get people started.

[2022-01-31 12:49] sbueringer commented on #5953
Depending on how the section looks like - sounds fine to me :).

As far as I'm aware all you have to do is enable the feature and then pick a template which uses ClusterClass. If there's a way to make that more obvious, it sounds fine to me in general.

[2022-01-31 12:57] fabriziopandini commented on #5953
I'm not opposed to adding a short note on the quick start, but things were designed to make things work seamlessly, no matter if we are using ClusterClass or not.

[2022-01-31 12:59] killianmuldoon commented on #5953
The alternative is to remove the link to the quick start from https://cluster-api.sigs.k8s.io/tasks/experimental-features/cluster-class/index.html I think. I'll do a PR adding in a note and we'll see what the best path is.

[2022-01-31 14:38] voor commented on #5477
/remove-lifecycle stale

[2022-01-31 16:07] vincepri commented on #5035
/lifecycle frozen

[2022-01-31 16:38] fabriziopandini commented on #5553
/remove-lifecycle stale

[2022-01-31 16:51] vincepri commented on #5553
/lifecycle frozen
/help

[2022-01-31 16:52] vincepri commented on #5324
/close

[2022-01-31 16:52] #5324 closed

[2022-01-31 16:52] vincepri commented on #5477
/lifecycle frozen

[2022-01-31 16:53] vincepri commented on #4512
/lifecycle frozen

[2022-01-31 16:53] vincepri commented on #5557
/lifecycle frozen

[2022-01-31 16:54] vincepri commented on #5323
/lifecycle frozen

We should still look into this

[2022-01-31 17:01] vincepri commented on #5356
@killianmuldoon @DiptoChakrabarty Is it ok to close this issue and the related PR based on https://github.com/kubernetes-sigs/cluster-api/pull/5419#issuecomment-957756016?

[2022-01-31 17:03] vincepri commented on #5536
Branch has been deleted from this repository

/close

[2022-01-31 17:03] #5536 closed

[2022-01-31 17:06] vincepri commented on #5755
Let's proceed with both?

[2022-01-31 17:08] vincepri commented on #4611
/milestone Next

[2022-01-31 17:08] vincepri commented on #3168
/close

[2022-01-31 17:08] #3168 closed

[2022-01-31 17:09] vincepri commented on #4166
/milestone v1.2

[2022-01-31 17:10] vincepri commented on #3770
/priority awaiting-more-evidence
/remove-lifecycle frozen
/milestone Next

[2022-01-31 17:12] g-gaston commented on #4807
This issue seemed stale so I went ahead and wrote kind of a draft for a proposal. I don't even know if a change like this would require a design proposal and this one is pretty barebones, but I hope it works as a starting point for a conversation.

Maybe this needs to be presented in a community meeting but I thought it was better to post it here first to see if @Promaethius is still working on it

[2022-01-31 17:13] vincepri commented on #6016
/milestone Next

[2022-01-31 17:14] vincepri commented on #4807
@g-gaston Are you able to move the proposal to a google doc first so we can send it out to community members for review? It'd be also great to present the proposal at the next office hours

[2022-01-31 17:14] vincepri commented on #5542
/milestone Next
/lifecycle frozen

[2022-01-31 17:24] killianmuldoon commented on #5356
I'm fine with that given there's no agreed way to move those errors right now.

[2022-01-31 17:29] vincepri commented on #5356
👍
/close

[2022-01-31 17:30] #5356 closed

[2022-01-31 17:39] g-gaston commented on #4807
@vincepri
https://docs.google.com/document/d/1whNhpDpqz3kzCL1JlFh-HcjY7qNEEUOe6fA9jaZgnu0/edit?usp=sharing

I can present it at the meeting, no problem. What's the process for that? Do I need to submit it anywhere prior to the meeting?

[2022-01-31 17:47] ykakarap commented on #5404
The latest releases (v1.1.0-rc.0, v1.0.2, 0.4.5, 0.3.24) all seem to have the correct versions in the clusterctl binaries. Looks like the release automation works as expected.
Closing this issue.

/close

[2022-01-31 17:47] #5404 closed

[2022-01-31 17:52] Lukasz-SendGrid commented on #3770
Yes they were managed by a MachineDeployment

I paused the cluster by changing the spec, `paused: true`, then performed the velero backup, in the velero generated backed up yaml files the owner references are still there. When the cluster was recreated, I did the velero restore waited for all the objects to get re-applied, and then removed the pause annotation from the cluster to get things reconc

[2022-01-31 18:04] sbueringer commented on #4807
@g-gaston You can just add yourself to the Agenda for Wednesday in: https://docs.google.com/document/d/1ushaVqAKYnZ2VN_aa3GyKlS4kEd6bSug13xaXOakAQI/edit#heading=h.pxsq37pzkbdq

If you don't have access to that doc, you can get it by joining the Google group: https://groups.google.com/g/kubernetes-sig-cluster-lifecycle

[2022-01-31 18:07] sbueringer commented on #5755
Sure

@DiptoChakrabarty Are you interested in opening a PR to implement the change for the two outstanding structs?

[2022-01-31 18:12] DiptoChakrabarty commented on #5755
Yes Sure

[2022-01-31 18:26] killianmuldoon opened #6027 "🐛 Broken links in ./docs/book/src/developer/providers/implementers-guide/generate_crds.md"
There are link in the doc ./docs/book/src/developer/providers/implementers-guide/generate_crds.md that are broken since the merging of #6018

These links are in:
./docs/book/src/developer/providers/implementers-guide/generate_crds.md

The broken links are:
[✖] https://cluster-api.sigs.k8s.io/developer/providers/v1alpha2-to-v1alpha3.html#apply-the-contract-version-label-clusterx-k8sioversion-versio

[2022-01-31 18:26] killianmuldoon commented on #6027
/assign

[2022-01-31 18:28] CecileRobertMichon commented on #6017
@sbueringer I just sent a support request to Netlify and added you in the email thread.

[2022-01-31 18:29] g-gaston commented on #4807
@sbueringer Done, thanks!

[2022-01-31 19:04] sbueringer commented on #6017
Perfect, thank you!

[2022-02-01 00:15] joejulian opened #6029 "bootstrap tokens can expire before they can be used if the bootstrap cluster's time is sufficiently behind the workload cluster"
**What steps did you take and what happened:**

1. Set the time on the bootstrap cluster 1 hour in the past.
[code]
1. Create a cluster (any cluster that uses the kubeadm bootstrap provider)

**What did you expect to happen:**

I expected the bootstrap controller to emit an error event and log entry because it cannot create a token that won't be expired before it can be used. With the expiration t

[2022-02-01 08:49] sbueringer commented on #6027
@killianmuldoon Can we also make the last link in this list (https://github.com/kubernetes-sigs/cluster-api/pull/6028/files) a relative link when we fix the other list items?

[2022-02-01 12:01] fabriziopandini commented on #6029
For my better understanding, where the capbk provider is being deployed, on the local machine or on a remote infrastructure?

[2022-02-01 17:07] killianmuldoon opened #6037 "Increase number of test failures required for an email alert"
Prow / test-infra currently has an email alert set up for the tests it runs for Cluster API (and everything else). The mail is sent to a mailing list defined here: https://github.com/kubernetes/k8s.io/blob/74f4f122fdd7e4ddbe40f450f98b710edce91996/groups/sig-cluster-lifecycle/groups.yaml#L20

Because our e2e tests have a number of flakes this email list can be quite noisy. We're allowed to set a va

[2022-02-01 17:07] killianmuldoon commented on #6037
@fabriziopandini WDYT?

[2022-02-01 17:43] sbueringer commented on #6037
/area testing

+1 from my side. I think tuning the alerts to get to a level were we actually look at them because they are not full of cases which we just want to ignore (2 failures in a row) is very very useful.

I personally would route those alerts afterwards in my inbox again and not just divert them into a folder that I'm never really looking at.

[2022-02-01 17:46] sbueringer commented on #6037
One note. I think it should be fine to just set the threshold everywhere to 4. In case of periodic e2e tests that's not an issue as they are ran every hour. So we'll get the mail after 4 hours instead of 3. In case of upgrade tests 3 could be not high enough.

[2022-02-01 17:47] killianmuldoon commented on #6037
Good point about the periodics being hourly - I'm not stuck to these values and we can revisit after changing them to see how to keep them at useful levels.

[2022-02-01 17:49] sbueringer commented on #5952
/close

PR has been cherry-picked to all releases and testgrid looks good.

[2022-02-01 17:50] #5952 closed

[2022-02-01 18:01] sbueringer commented on #6037
I was mostly suggesting that because I suspect 3 is too low for upgrade jobs and it's just simpler to set everything to 4 :)

[2022-02-01 20:57] fabriziopandini commented on #5571
/lifecycle frozen

[2022-02-01 21:02] fabriziopandini commented on #6029
/milestone v1.2
wondering how we can get cluster "local" time via the API server...

[2022-02-01 21:11] fabriziopandini commented on #6037
let's bump to 4 for simplicity, then we can reconsider after a short period (but I agree current configuration is too aggressive and people just ignore emails)

[2022-02-01 21:35] joejulian commented on #4585
/reopen

We just encountered a customer that needs this, too.

It could be done through templating in [cmd/clusterctl/client/repository.NewComponents](https://github.com/kubernetes-sigs/cluster-api/blob/5756be13affef606b6683c2c413f0987c1f0e451/cmd/clusterctl/client/repository/components.go#L195) with an option that contains the values for https_proxy, http_proxy, and no_proxy.

[2022-02-01 21:42] joejulian commented on #6029
Not sure, but we can at least check the creation time when we get the created resource back and error if it's within TTL/<some number (4?)>

[2022-02-01 21:55] Jont828 commented on #5938
As @killianmuldoon and I discussed on Slack, I am able to repro this locally by running `make test` using Go 1.17.6 on Arch Linux in WSL with kernel ` 5.10.16.3-microsoft-standard-WSL2`. I think it's most likely an issue with virtual filesystem, @sbueringer also mentioned that it's possible that the file is written but the timestamp didn't change, or the file isn't written because the contents did

[2022-02-01 22:00] dlipovetsky opened #6040 "Machine controller proceeds to bootstrap a Machine even though its Kubernetes version violates the version skew policy"
**What steps did you take and what happened:**
1. Create a cluster with a KubeadmControlPlane and one MachineDeployment, both with Kubernetes version set to v1.21.1.
1. Change the Kubernetes version of the MachineDeployment to v1.22.4. Note that Machine minor version is greater than the actual control plane minor version, which is not allowed by the Kubernetes [version skew policy](https://kuberne

[2022-02-01 22:32] killianmuldoon commented on #6037
/assign

[2022-02-02 02:34] vivek-koppuru opened #6041 "Unable to update KubeadmControlPlane v1alpha3 resource due to v1beta1 conversion"
**What steps did you take and what happened:**
(I can give more details on this if needed too)
1. Apply a KubeadmControlPlane v1alpha3 resource with cluster-api controllers that use v1beta1 api version.
2. Re-apply the same v1alpha3 resource without any changes.

Result:
[code]

**What did you expect to happen:**
I would expect it to apply without the webhook failing. This is because the conversio

[2022-02-02 06:15] Ankitasw opened #6045 "Documentation for specifying the single AZ constraint for MachineDeployment"
**What steps did you take and what happened:**
As discussed in [CAPA](https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2924) about supporting single AZ for MD, we should consider adding this to our Cluster API book too so as there does not exist any clear warning for the same, and users might use multiAZ for machine deployments.

**What did you expect to happen:**
Clear mention a

[2022-02-02 07:55] sbueringer commented on #6041
Great finding, thx for opening the issue and the PR!

(I'll comment further on the PR)

[2022-02-02 09:33] killianmuldoon commented on #6045
#5542 is related to this I think - is that right @Ankitasw?

[2022-02-02 09:55] Ankitasw commented on #6045
@killianmuldoon yes, this can be taken care in failure domains.

[2022-02-02 10:15] fabriziopandini commented on #6045
/close
given this is a duplicate of #5542

[2022-02-02 10:16] #6045 closed

[2022-02-02 10:18] dntosas opened #6049 "[MachinePool] Stuck on Deleting phase, blocks whole Cluster deletion due to Finalizers"
**What steps did you take and what happened:**
1. Created a cluster with AWS Provider and then wanted to delete it. Note: Also enabled `MachinePool` feature.
2. Wanted to delete the cluster so proceed with deletion of all CRD resources (CAPI+CAPA)
3. Looking on AWS Cloud Provider, all cloud resources deleted successfully
4. Looking on CRDs, all resources delete successfully (AWSMachinePool, Contro

[2022-02-02 10:26] enxebre commented on #5562
Hey @macaptain please have a look at https://github.com/kubernetes-sigs/cluster-api/pull/6000 where you might want to share some tangential thoughts

See also https://kubernetes.slack.com/archives/C8TSNPY4T/p1643735192772679

[2022-02-02 11:50] killianmuldoon opened #6051 "🐛 clusterctl init fails with 'failed to get cert-manager object'"
clusterctl init is failing with an error 'failed to get cert-manager object'. This is due to cert-manager [changing its repo location](https://github.com/cert-manager/cert-manager/issues/3451) (from github.com/jetstack to github.com/cert-manager).

The solution for this issue is to add the new URL to the clusterctl config file, [as described here](https://cluster-api.sigs.k8s.io/clusterctl/configu

[2022-02-02 12:20] fabriziopandini commented on #6051
/milestone v1.2
This is due to the GitHub client, that uses owner and repository from the above URL but it doesn't detect the URL redirect.

Let's change the URL as a quick fix, but long term we should implement URL redirect check in clusterctl, eventually rewriting the owner/repository passed to the GitHub client.

[2022-02-02 12:20] fabriziopandini commented on #6051
(fix to be backported up to 0.4)

[2022-02-02 12:21] killianmuldoon commented on #6051
I'll open another issue around the github client once the fix is in.

[2022-02-02 12:44] #6051 closed

[2022-02-02 13:24] ykakarap opened #6055 "bump default cert-manager version to v1.7.0"
**Detailed Description**

The default version of cert-manager in CAPI is `v1.5.3`.
https://github.com/kubernetes-sigs/cluster-api/blob/main/cmd/clusterctl/client/config/cert_manager_client.go#L30

A new version `v1.7.0` of cert-manager is available.

This issue is to discuss upgrading cert-manager to the new version.

**Anything else you would like to add:**

FYI: Version `v1.5.3` is ~6 months old

[2022-02-02 13:46] sbueringer commented on #6051
Just fyi. The `DownloadRelesaeAsset` func of the GitHub client is actually following redirects. But I think the issue is that we are retrieving a release (including assets) from a release of a new location and then passing in the owner of the old location.

But the fix stays the same, we have to detect the change and pass the right owner/repository through.

[2022-02-02 13:52] sbueringer commented on #6055
+1 to upgrade to v1.7.0.

Release notes look fine for us. There is a statement about that server side apply is used and thus Kubernetes 1.18 is required. But that should be fine as we only start management clusters with Kubernetes v1.19+ (and have a job which makes sure that they don't break)

[2022-02-02 14:02] kopiczko commented on #4512
Is there a reason why Patches https://github.com/kubernetes-sigs/cluster-api/blob/fe7656c044e150d8d86d1532372da3f6582d23ef/bootstrap/kubeadm/api/v1beta1/kubeadm_types.go#L518 don't support `kube-proxy`?

[2022-02-02 15:07] sbueringer commented on #4512
Posting here to (in addition to Slack):

/cc @neolit123 @fabriziopandini

[2022-02-02 15:09] neolit123 commented on #4512
^ yeah pretty much that.

kube-proxy in kubeadm is deployed as a single configuration backed DaemonSet, so having patches does not make sense, because patches are per node. also kube-proxy doesn't really support instance specific config and who knows what happens if you configure each kube-proxy instance differently.

in kubeadm, you could at least pass an entire KubeProxyConfiguration during `ini

[2022-02-02 15:21] killianmuldoon opened #6056 "🐛 e2e tests failing due to old clusterctl verion"
A number of e2e tests - the upgrade test across versions 0.4, 1.0, 1.1 and main - are failing due to the direct download and use of a clusterctl binary that is prone to  #6051.

Once we have a release that solves this problem on the older release branches we should update the e2e test configurations in out test definitions in [test-infra](https://github.com/kubernetes/test-infra/tree/master/config

[2022-02-02 15:24] killianmuldoon commented on #6056
/unassign

[2022-02-02 17:51] killianmuldoon commented on #5008
@sonasingh46 Have you had time to work on this?

[2022-02-02 17:53] sonasingh46 commented on #5008
Hey @killianmuldoon -- I did not get a chance to start on this. I can start looking on this one next week.

[2022-02-02 17:56] killianmuldoon commented on #5008
If you're still willing to pick it up that would be awesome 😄 . We've got a lot of point release updates to do today, and something like this would really help automate the process!

[2022-02-02 19:56] kopiczko commented on #4512
Thanks for the answers guys!

Yeah but not in CAPI and we this is what this issue is about :)

[2022-02-02 21:58] dlipovetsky commented on #4585
/lifecycle frozen

[2022-02-03 10:05] palnabarun commented on #5008
Sorry I missed the ping here!

We update the version markers during every release cut. `krel` (the Kubernetes release tooling) has a step in the process to update the marker file inside a publicly viewable GCS bucket. `dl.k8s.io` is just a redirect to that GCS bucket URL.

You can have a look at the code here:
https://github.com/kubernetes/release/blob/f55d5af19f1fab3e8cf6832abf331f95452a342d/pkg/

[2022-02-03 10:29] palnabarun commented on #5008
My suggestions for a detailed plan here would be:
1. Request a GCS bucket from sig-k8s-infra
2. Write some code using [release.Publisher(...)](https://github.com/kubernetes/release/blob/f55d5af19f1fab3e8cf6832abf331f95452a342d/pkg/release/publish.go#L36) to publish the marker
3. Run a Prow Job for every pushed tag / integrate code in (2) with the existing mechanism of releasing CAPI.

Let me know

[2022-02-03 11:52] randomvariable opened #6059 "Set up Cluster API on oss-fuzz"
This is a follow up from the CAPI security self assessment meeting of 2022/02/02, where we had an introduction to CNCF sponsored fuzz testing from @DavidKorczynski and @raesene

- Adding Cluster API to the [CNCF Fuzzing](https://github.com/cncf/cncf-fuzzing) setup is nominally approved
- Initial work would be about a month, and normally done directly in the above repository to prevent the need to

[2022-02-03 12:02] enxebre commented on #6059
/milestone v1.2
/area testing

[2022-02-03 12:03] DavidKorczynski commented on #6059
CC @AdamKorcz

[2022-02-03 12:18] enxebre commented on #3486
For MachineDeployments it'd be interesting to consider signal as conditions and differentiate rolling upgrades e.g
- Upgrading Version.
- Upgrading because of bootstrap provider change.
- Upgrading because of an infra change.

Thoughts?

[2022-02-03 12:19] enxebre commented on #3486
/milestone v1.2

[2022-02-03 13:27] neolit123 commented on #6040
seems like most of the discussion is on the PR instead of the issue.
i left my comment here:
https://github.com/kubernetes-sigs/cluster-api/pull/6044#issuecomment-1028989522

[2022-02-03 14:00] Arvinderpal commented on #3486
@enxebre More granular info would be great. Are you suggesting a new condition for each of those bullets? Would they be better captured in the Reason/Message of a single condition? I'm leaning towards the latter.

[2022-02-03 15:16] voor commented on #4446
/remove-lifecycle stale

[2022-02-03 15:33] sbueringer commented on #5490
/remove-lifecycle stale
/assign

[2022-02-03 15:35] #6056 closed

[2022-02-03 15:42] sbueringer commented on #6019
This should be now unblocked too after the v1.1 release.

[2022-02-03 16:04] enxebre commented on #5880
/milestone v1.2

[2022-02-03 16:32] vincepri commented on #5598
/lifecycle frozen

[2022-02-03 16:33] sonasingh46 commented on #5008
@palnabarun -- Thank you very much. Will jump on to this one and reach out for help and reviews.

[2022-02-03 16:43] #6020 closed

[2022-02-03 16:55] #5938 closed

[2022-02-03 17:04] sbueringer commented on #5938
Let's see if that was enough to fix it :)

[2022-02-03 17:34] fabriziopandini commented on #6049
is it possible to have MachinePool logs for starting?
/priority awaiting-more-evidence

[2022-02-03 17:34] sbueringer commented on #5880
Note: there's now also a NodeDeletionTimeout which we should treat the same way.

[2022-02-03 17:52] fabriziopandini commented on #5455
/close
the first iteration of this work is completed, we are going to open new issues as soon as new opportunity arises

[2022-02-03 17:52] #5455 closed

[2022-02-03 17:59] fabriziopandini commented on #6041
Great finding.
On a side note, please be aware that v1alpha3 is going to be deprecated soon https://cluster-api.sigs.k8s.io/contributing#support-and-guarantees (after that date support for this API version could be dropped any time)

[2022-02-03 19:41] fabriziopandini commented on #6037
/close
test infra PR is merged

[2022-02-03 19:41] #6037 closed

[2022-02-03 21:33] #5755 closed

[2022-02-04 07:49] sbueringer commented on #5198
I think in it's current unclear state this issue shouldn't be a good first issue
/remove-good-first-issu

[2022-02-04 07:49] sbueringer commented on #5198
/remove-good-first-issue

[2022-02-04 09:39] ariel-zilber commented on #5475
/assign

[2022-02-04 09:41] killianmuldoon commented on #5475
Hi @ariel-zilber are you planning to take on the ClusterResourceSet controller?

[2022-02-04 09:47] ariel-zilber commented on #5475
HI yes am planning to take on ClusterResourceSet

[2022-02-04 09:52] killianmuldoon commented on #5475
Thanks!

[2022-02-04 10:00] killianmuldoon commented on #5532
/close

[2022-02-04 10:00] #5532 closed

[2022-02-04 10:41] fabriziopandini commented on #5008
After digging into this a little bit it comes to me that version resolution is relative to a provider (CAPI latest != CAPV latest)

Given the latest point, using version marker in a GCS bucket gets complicated, because each provider should take care of changing the release process to publish them; therefore I'm proposing to use an alternative method to discover version info, similar to the one imp

[2022-02-04 10:54] sbueringer commented on #5008
Sounds perfect!

[2022-02-04 11:05] sonasingh46 commented on #5008
Sounds good to me! @fabriziopandini

[2022-02-04 12:26] sbueringer commented on #5953
Thx everyone, great work!

/close

[2022-02-04 12:26] #5953 closed

[2022-02-04 12:44] sbueringer opened #6068 "Extend e2e testing to cover deletion of partially created clusters"
**User Story**

As a user I would like to be able to delete clusters even if they haven't been completely/successfully created before.

In general this should work, but there were some race conditions in the past (at least) in CAPA.

**Detailed Description**

To make sure we are able to delete clusters in cases like this, we could extend our E2e testing.

One idea to cover this would be to add an

[2022-02-04 12:44] sbueringer commented on #6068
/cc @randomvariable Can you provide some additional context about the issue found in CAPA?

[2022-02-04 12:54] randomvariable commented on #6068
https://github.com/kubernetes-sigs/cluster-api/issues/6006

[2022-02-04 13:03] sbueringer commented on #6068
Okay that's useful context :). I think if it's feasible we should make sure that after cluster deletion we check that there are no orphaned resources left (could be a bit tricky).

[2022-02-04 13:12] fabriziopandini commented on #6068
I have the impression that this is hard to catch with E2E tests because this category of problems happens whenever the Cluster gets deleted but the owner ref on some of the dependant's objects is not yet set.

A possible strategy to reproduce systematically is to create paused machines via KCP or MD, but this has to be investigated, but might be integration tests, where we can have a stricter cont

[2022-02-04 13:23] sbueringer commented on #6068
Yup. I think that makes sense.

Although the question is if we want to specifically cover the issue with the owner references or if we want to enable a test which essentially just tries deletion at random times to find random issues.
The issue with that is obviously that we can't run an e2e test like a fuzz-test just 10k times and then find everything. If it's just executed once, it will just beco

[2022-02-04 13:25] sbueringer commented on #5008
Short note from this Slack post: https://kubernetes.slack.com/archives/C8TSNPY4T/p1643976829466139

I think we missed an edge case with the “version resolution logic”. We were assuming it’s enough to resolve the version in the e2e config file (CAPD: docker.yaml) when loading the file. But in case of INIT_WITH_BINARY  we have to resolve the version in the clusterctl e2e test, because that config ca

[2022-02-04 13:29] fabriziopandini commented on #6068
With integration tests, you can eventually control which reconciler to run (e.g. in ClusterClass we already have tests for avoiding orphaned objects), but let's better understand the extent of the problem first, then we can figure it out the solution

[2022-02-04 14:03] sbueringer opened #6069 "inform users about klog flags removal when importing Kubernetes v1.26"
With Kubernetes 1.23 klog flags have been deprecated **in Kubernetes**:
* Mail: https://groups.google.com/a/kubernetes.io/g/dev/c/_mRNTYDb7ys/m/WYpvLbMCAgAJ
* Release notes: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.23.md#deprecation-of-klog-specific-flags
* Documentation: https://kubernetes.io/docs/concepts/cluster-administration/system-logs/#klog
* KEP: https://g

[2022-02-04 15:58] yastij commented on #5517
Ideally the users need to be able to configure the local apiServer port through a single field. Today we can't really make the various `bindPort` in the init and join as part of the bootstrappers contract due to the fact that they're nested into APIs and structs that are kubeadm specific.

we probably also need to disambiguate between `cluster.spec.clusterNetwork.APIServerPort` and `cluster.spec.C

[2022-02-04 19:56] vivek-koppuru commented on #6041
Closing issue due to discussion in the linked PR. It should be intended behavior based on our use case.

[2022-02-04 19:56] #6041 closed

[2022-02-04 23:00] Lukasz-SendGrid commented on #3770
We haven't tried to replicate the issue, at the time it seemed like a one off because this worked repeatedly on much smaller mgmt clusters i.e. managing just one cluster one node.

[2022-02-07 10:35] fabriziopandini commented on #6069
/milestone v1.2
Let's start by raising awareness in the office hours and an add a note in the migration doc

[2022-02-07 10:39] #6019 closed

[2022-02-07 12:34] ykakarap commented on #6006
@sedefsavas I tried to reproduce the issue and here are my findings.

In a case where the InfrastructureCluster never becomes ready and one tries to delete the cluster the delete operation is stuck and the Cluster, KCP and InfraMachineTemplate used by KCP are never deleted. This is because the KCP reconciler returns early before reaching the `reconcileDelete` block.

However, I think the case you

[2022-02-07 13:22] fabriziopandini commented on #5517
/reopen
pressed the wrong button, sorry

[2022-02-07 18:07] killianmuldoon opened #6073 "Reformat shell command and output in the book"
We're currently using a couple of different patterns in the Cluster API book for presenting commands and their output.

A common pattern [used in the quickstart guide](https://cluster-api.sigs.k8s.io/user/quick-start.html#apply-the-workload-cluster), is to have two code blocks, one with the command and one with the output. The alternative [proposed here](c/f https://github.com/kubernetes-sigs/clus

[2022-02-07 18:08] killianmuldoon commented on #6073
/area documentation

[2022-02-07 18:08] killianmuldoon commented on #6073
/kind documentation

[2022-02-07 18:27] killianmuldoon opened #6074 "Fix github redirect issue"
Clusterctl is not correctly able to correctly download a redirected repo a link after a github repository is moved. This issue surfaced with #6051. That issue was fixed in the short term by updating the URL for cert manager. This solution is not future proof as a future redirect may result in more failures in clusterctl.

To reproduce:
1) Set the cert manager repository to `https://github.com/jets

[2022-02-07 19:09] fabriziopandini commented on #6074
/milestone v1.2

[2022-02-07 19:10] fabriziopandini commented on #6074
/area clusterctl

[2022-02-07 19:52] sbueringer commented on #3889
I think this PR https://github.com/kubernetes-sigs/cluster-api/pull/6072 could provide us the functionality in logging, so that we only have to go over the structs and tag them (if there are any)

[2022-02-07 19:59] sbueringer commented on #6069
I added it to the agenda for Wednesday. With the additional context we now have, that we could adopt component-base/logs  to deprecate the klog flags and get JSON logging.

[2022-02-08 07:15] jichenjc opened #6076 "release CAPO 0.5.1 encounter issue of clusterctl init"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

I am releasing CAPO https://github.com/kubernetes-sigs/cluster-api-provider-openstack/releases/tag/v0.5.1
and after the release , found this error during

[code]

then I debug the issue and found in
https://github.com/kubernetes-sigs/cluster-api/blob/main/cmd/clusterctl/client/repository/

[2022-02-08 07:16] jichenjc commented on #6076
I commented line  100-103 lines and rebuild clusterctl
https://github.com/kubernetes-sigs/cluster-api/blob/main/cmd/clusterctl/client/repository/repository_versions.go#L100

then at least I can successfullly run `clusterctl init`

[code]

[code]

[2022-02-08 07:39] sbueringer commented on #6076
@jichenjc I think one issue is that the CAPO metadata.yaml already contains a 1.0 release series which doesn't exist: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/main/metadata.yaml#L13-L15

The idea of this file is to map CAPO release series (v0.3.x, v0.4.x, v0.5.x) to CAPI contracts (v1alpha3,v1alpha4,v1beta1).

I think the problem is that clusterctl tries to use CAPO v

[2022-02-08 07:53] jichenjc commented on #6076
@sbueringer indeed , thanks for the hints
I updated the metadata.yaml and it fixed the problem :)

[2022-02-08 07:53] #6076 closed

[2022-02-08 08:31] sbueringer opened #6077 "Rebuild tilt-prepare on tilt-up"
We are currently running `make tilt-prepare` on tilt up, but this doesn't rebuild the binary even if there are code changes if it already exists.

Recent example: We fixed the cert-manager issue and then everyone had to manually delete tilt-prepare to get a new version of tilt-prepare with the fixed clusterctl code.

I think it's very non-obvious that `tilt up` is using an outdated version of tilt

[2022-02-08 09:53] killianmuldoon commented on #6077
/assign

[2022-02-08 11:08] sbueringer commented on #6077
Agree, it applies to other binaries too, but clusterctl is in my opinion one of the things we want to test, so it would be nice to use the latest on tilt up.

And for non-experts of core CAPI it's very hard to know about those nuances (e.g. "Why do I still have that cert-manager issue with tilt up").

My thinking was along the lines of:

I was thinking that maybe we can force make to just always b

[2022-02-08 16:37] johannesfrey commented on #6077
Hi,

I also stumbled upon this. There are two things that come to my mind:

1. Force make to always build the tilt-prepare binary in the Tiltfile:
[code]

2. Or make it a Phony target in the Makefile:

[code]

But there are probably better ways to do this.

@killianmuldoon As you assigned yourself, should I prepare a PR for this or are you currently in the process of doing this anyways?

[2022-02-08 16:38] killianmuldoon commented on #6077
/unassign

@johannesfrey Feel free to open a PR 😄

[2022-02-09 01:43] g-gaston opened #6081 "Import valid version of CAPI from test module"
**User Story**

As a developer I would like to be able to import the [test](https://github.com/kubernetes-sigs/cluster-api/tree/main/test) module, or other modules importing the test module, without the need of `replace`'s in my `go.mod`

**Detailed Description**

The current test module imports the main CAPI module with version `v0.0.0-00010101000000-000000000000`. Even though this version doesn'

[2022-02-09 07:02] johannesfrey commented on #6077
/lifecycle active

[2022-02-09 07:18] sbueringer commented on #6077
/assign @johannesfrey

[2022-02-09 07:40] sbueringer commented on #6081
Thx for filing this issue and the very clear description of the problem and a potential solution.

Just fyi, there is also that issue which targets the same problem: https://github.com/kubernetes-sigs/cluster-api/issues/5184 (if I see correctly)

Setting a real version in the test module sounds good to me in general, but I think the main problem is when do we update the version of CAPI in the test

[2022-02-09 08:17] lentzi90 commented on #6055
Please note that upgrading to v1.7 [requires some extra steps](https://cert-manager.io/docs/installation/upgrading/upgrading-1.6-1.7/) since it drops support for some older API versions. I'm not aware how CAPI is handling upgrades of cert-manager but I think it is worth checking this.

It is probably only an issue with older installations since they could still have some resources stored with olde

[2022-02-09 08:44] sbueringer commented on #6055
Thx for the hint.

I think it should be fine as we migrated to v1 cert-manager resources with v0.4.0 (24 June 2021). So in theory core CAPI and all providers shouldn't use those old versions anymore.

During upgrade:
* with clusterctl: we delete/create the resources (https://storage.googleapis.com/kubernetes-jenkins/logs/periodic-cluster-api-e2e-upgrade-v0-3-to-main/1491314721595330560/artifacts/c

[2022-02-09 11:18] fabriziopandini commented on #6081
What about instead suggesting the providers have their own test module, so the import/redirect for the CAPI test module don't go up the chain of importers unless they intentionally pick it up

[2022-02-09 11:21] fabriziopandini commented on #5091
/unassign @jayesh-srivastava
you can eventually pick it up again if you have the bandwidth

[2022-02-09 11:30] #6077 closed

[2022-02-09 15:14] sbueringer opened #6086 "pull-cluster-api-e2e-informing-ipv6-main is failing"
**What steps did you take and what happened:**

Our ipv6 informing job on PRs is failing currently.

Last working job was on: 8th February 22:21 CET (https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api#capi-pr-e2e-informing-main)
First failing job was on: 9th February 12:07 CET (https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-1.1#capi-pr-e2e-informing-ipv6-release-1-1)

The job is

[2022-02-09 15:14] sbueringer commented on #6086
/are testing

[2022-02-09 17:14] sbueringer commented on #5571
Update from the exploration on PR https://github.com/kubernetes-sigs/cluster-api/pull/6072:

* klog does not support the JSON log format
* components-base/logs supports the JSON log format

I think we should consider using components-base/logs as it provides us a lot of useful features:

* support for JSON log format via --logging-format (default is "text" as "json" is currently alpha: [doc](https

[2022-02-09 20:26] sbueringer commented on #6086
Solution is that we have to set `DOCKER_IN_DOCKER_IPV6_ENABLED` in our IPv6 jobs. The linked PR is doing that.

[2022-02-09 21:45] vuil opened #6091 "Enable a richer set of go template functions for defining ClusterClass patches"
**User Story**

As an operator I would like to define patches for a ClusterClass more efficiently by leveraging additional go template functions.

**Detailed Description**

While the [go template](http://golang.org/pkg/text/template/) language has already enabled a good amount of flexibility in how the ClusterClass json patches can be authored, it is still lacking some basic functionality that mak

[2022-02-10 09:21] apricote opened #6093 "Upgrade to v1.1 forces rollout of KubeadmControlPlanes"
**What steps did you take and what happened:**

- Upgraded existing management cluster from CAPI v1.0 to v1.1 using `clusterctl upgrade apply --core capi-system/cluster-api:v1.1.0 [...]`
- A rollout of all `KubeadmControlPlanes` in the cluster was automatically started

**What did you expect to happen:**
I expected the `KubeadmControlPlanes` to not rollout, as I did not modify the resources, nor d

[2022-02-10 13:50] sbueringer commented on #6091
/area topology

Thx for creating the issue, will take a closer look soon.

[2022-02-10 13:54] Karthik-K-N commented on #493
Hi team, awaiting to use this feature, Even we wanted to have this capability where we can bring up a cluster with predefined labels on the nodes with the label values are applied based on some internal computation / vm or cloud specific details.

@Arvinderpal If needed i would like to contribute to it. Please let me know. Thank you

[2022-02-10 15:01] fabriziopandini commented on #6093
/milestone v1.2
/priority critical-urgent

/assign
Thanks for reporting! we are investigating an we hope to come up with a fix/workaround asap

[2022-02-10 15:16] ykakarap opened #6094 "`clusterctl upgrade` e2e tests should detect if upgrade causes unexpected rollouts"
**User Story**

The clusterctl upgrade e2e tests currently do not detect if an upgrade operation results in rollout of KCP, MachineDeployments, etc.

Having such a test could help in detecting cases like https://github.com/kubernetes-sigs/cluster-api/issues/6093.

**Detailed Description**

[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**

[Mis

[2022-02-10 15:51] sbueringer commented on #6094
+1 I assume you mean extending the existing clusterctl upgrade test
+1 do doing the same for the self hosted test (which uses clusterctl move)

[2022-02-10 18:27] #6086 closed

[2022-02-10 20:37] Jont828 opened #6098 "Version info/LDFLAGS is missing in postsubmit image push job"
**What steps did you take and what happened:**
In the [/post-cluster-api-push-images](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-cluster-api-push-images/1491830283345858560) job, the LDFLAGS are missing in the [build logs](https://storage.googleapis.com/kubernetes-jenkins/logs/post-cluster-api-push-images/1491840468340707328/artifacts/build.log).

The LDFLAGS are computed from `./hac

[2022-02-10 21:54] tenczar commented on #5944
I also have a situation where an add all array operation would be very useful. My template includes branching logic when skipping image repository tls verification. This could potentially be pulled out into separate patch definitions but it really complicates the logic and we need to make sure the ordering is correct so the system restart is called after the conditionally added values.
[code]

[2022-02-11 06:31] sbueringer commented on #6098
@Jont828 I was thinking a bit more about this and got curious what `gcr.io/k8s-staging-test-infra/image-builder` is and how it works.

tl;dr is:

While looking at the code I found a `with-git-dir` flag, which disables the exclusion of the .git dir: https://github.com/kubernetes/test-infra/blob/29364b9d3b47613dbd8db503fe2997fcedb1a30c/images/builder/main.go#L140-L142

I found a few jobs which are u

[2022-02-11 07:13] sbueringer commented on #5944
Thx for the additional use case.

I think our main problem is how we would model this in the API. Currently, we are pretty close to the JSON patch spec ([RFC 6902](https://datatracker.ietf.org/doc/html/rfc6902)).

[2022-02-11 07:38] sbueringer opened #6103 "Remove code deprecated with v1.1.0"
We've deprecated some code with v1.1.0. This issue is about removing it on the main branch (i.e. for v1.2.0).

The following code should be removed:
* third_party/kubernetes-drain (the entire package)
* util/annotations.HasPausedAnnotation/HasSkipRemediationAnnotation
* util/version.CompareWithBuildIdentifiers

Please also document the removal in `v1.1-to-v1.2.md` accordingly (similar to the previ

[2022-02-11 07:43] sbueringer commented on #5967
Short update. We're making good progress, thx @alexander-demichev!

Currently still open are:
* #6103: good first issue, for new contributors
* #6017: requires discussion with Netlify

I would close the current issue once #6103 is done. The book is basically in a good state, #6017 is a improvement which seems to take a bit more time.

[2022-02-11 07:49] meghanajangi commented on #6103
/assign

[2022-02-11 08:45] sbueringer commented on #5920
I created a CAPA cluster with Kubernetes v1.22 and there only the containerd.socket exists.

Corresponding code in kubeadm is:
* https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/runtime/runtime.go#L125-L147
* https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/constants/constants_unix.go

So I would assume we should be fine as it seems that image-builder i

[2022-02-11 09:48] enxebre commented on #5635
/assign

[2022-02-11 11:14] praveenrewar commented on #5091
/assign

[2022-02-11 13:26] palnabarun commented on #6074
/assign

[2022-02-11 14:28] #4484 closed

[2022-02-11 15:06] mehabhalodiya commented on #5394
Hey @randomvariable
I would like to document "annotation and labels".
Will you please give me a brief idea on resolving this by providing some reference links?
Thanks.

[2022-02-11 17:08] vincepri commented on #6103
/milestone v1.2

[2022-02-11 17:09] vincepri commented on #6098
/milestone v1.2

Let's time the fix before the v1.1.2 release so we can ship it with the proper build version flags.

[2022-02-11 17:10] vincepri commented on #6098
/priority critical-urgent

[2022-02-11 17:10] vincepri commented on #6098
/assign @sbueringer

[2022-02-11 17:15] vincepri commented on #6091
/milestone v1.1

During the backlog grooming session on Feb 11th we discussed about adding support for these additional go template functions within ClusterClass and Managed Topologies within the v1.1(.2?) release to allow adopters to experiment with ClusterClass patching and other advanced use cases sooner rather than later, especially given that KubeCon is a few months away.

/assign @fabriziopa

[2022-02-11 17:22] fabriziopandini commented on #6081
Note: the test module has been added to avoid test dependency like kind or docker to leak into the core CAPI dependencies

[2022-02-11 17:24] vincepri commented on #6081
/milestone Next

[2022-02-11 17:25] vincepri commented on #6068
/milestone v1.2

[2022-02-11 17:28] vincepri commented on #1477
@fabriziopandini to split this issue into multiple ones and provide additional context / resolution

[2022-02-11 17:34] vincepri commented on #2599
/milestone v1.2
/retitle Improve CoreDNS support and validation in KubeadmControlPlane
/assign @sbueringer

- [ ] Automate the version bump of the coredns migration library (somehow)
- [ ] Validate that users won't be able to set a version higher than the maximum supported within the library
- [ ] Validate that the version has a prefix (`v`)

[2022-02-11 17:34] sbueringer commented on #2599
xref: https://github.com/kubernetes-sigs/cluster-api/issues/4463
(there's a bunch of information in this issue)

[2022-02-11 17:39] vincepri commented on #2955
/close

During the Feb 11th backlog grooming meeting we've discussed about this issue a bit more, folks have outlined pros/cons of the approach and in general it seems that it'd require refactoring the entire framework for little benefit for most users. If there are specific errors or assertions that we should return through the call stack, we can consider them on a case by case basis.

[2022-02-11 17:39] #2955 closed

[2022-02-11 17:41] vincepri commented on #3075
/milestone v1.2

@yastij to start a document to outline the scope of the work

[2022-02-11 17:49] sbueringer commented on #3686
@mboersma Can you please take a look at this issue and consider if this issue would make sense based on your MachinePool proposal.

[2022-02-11 17:51] sbueringer commented on #3695
As discussed in the backlog grooming on 11th February, this test makes sense on a real infrastructure provider. E.g. in AWS there is a service to inject failures in the network.

/close

@yastij to link the related CAPA issue (or create one)

[2022-02-11 17:52] #3695 closed

[2022-02-11 17:54] sbueringer commented on #3715
@CecileRobertMichon Would it be okay for you to close this issue in favor of: https://github.com/kubernetes-sigs/cluster-api/issues/5517#issuecomment-1031559370

[2022-02-11 18:00] sbueringer commented on #3770
/assign @killianmuldoon

[2022-02-11 18:03] sbueringer commented on #6027
Broken links have been fixed.
/close

[2022-02-11 18:04] #6027 closed

[2022-02-11 18:05] sbueringer commented on #3331
As discussed in the backlog grooming on 11nd February, we are happy with our current mechanism as it is pretty lightweight and works. The only alternative we currently see is introducing another CRD, which seems like overkill.

@killianmuldoon To open an issue to improve the documentation of the contract labels in the implementers guide

/close

[2022-02-11 18:05] #3331 closed

[2022-02-11 18:08] sbueringer commented on #3889
/assign

I'll re-evaluate once when/if the JSON log format PR is merged.

[2022-02-11 18:12] sbueringer commented on #3876
As discussed in the backlog grooming on 11th February, we think that we should prefer stability over upgrade speed. As there also doesn't seem to be demand from the community, we're closing this issue.

/close

[2022-02-11 18:12] #3876 closed

[2022-02-11 18:16] sbueringer commented on #3828
/assign @fabriziopandini
to take a closer look

[2022-02-11 18:25] fabriziopandini commented on #4031
/milestone v1.2
This is valuable, so we are moving it to the milestone and see if we get critical mass/consensus on how to move on

[2022-02-11 18:26] fabriziopandini commented on #4063
/milestone v1.2
given that there is work going on for this issue

[2022-02-11 18:31] sbueringer commented on #4304
/assign @yastij
to take a closer look

[2022-02-11 18:33] sbueringer commented on #4370
@killianmuldoon
To take a look at what we have to do.

We probably should add something to our release housekeeping tasks / issue.

[2022-02-11 18:35] sbueringer commented on #4201
As discussed in the backlog grooming on 11th February, we'll close this issue for now as the operator has been moved to a separate repo.
We can open a new issue once it's time for it.

/close

[2022-02-11 18:35] #4201 closed

[2022-02-11 18:37] sbueringer commented on #4446
As discussed in the backlog grooming on 11th February, this issue is ongoing we'll keep it in next as it's not related to a specific CAPI release.

[2022-02-11 18:37] sbueringer commented on #4446
@PushkarJ Can you please keep this issue up-to-date if there is anything new.

[2022-02-11 18:42] PushkarJ commented on #4446
@sbueringer IMO, we can lessen the load on tracking this issue, by closing it since we have a duplicate issue https://github.com/kubernetes/sig-security/issues/8 that we can all watch and follow the progress on. Does that work for you ?

[2022-02-11 18:45] sbueringer commented on #4507
As discussed in the backlog grooming on 11th February, we'll close this issue for now. We can only drop the kubeadm v1beta1 types once we drop our v1alpha3 types (as they are embedded there).

(we will drop them then)

/close

[2022-02-11 18:45] #4507 closed

[2022-02-11 18:48] sbueringer commented on #4585
/assign @ykakarap
Can you please assess if it would be possible to extend clusterctl to inject http proxy env vars in the provider manifests.

[2022-02-11 18:49] fabriziopandini commented on #4585
/milestone v1.2

[2022-02-11 18:50] sbueringer commented on #4590
Has been done already at some point.

/close

[2022-02-11 18:50] #4590 closed

[2022-02-11 19:02] sbueringer commented on #4446
Good point. Sounds reasonable to me. Would like to have confirmation from e.g. @fabriziopandini

[2022-02-11 19:10] sbueringer commented on #6098
@Jont828
Feel free to assign yourself the issue if you want. I'll just keep track of it / help from the CAPI core side.

[2022-02-11 21:36] Jont828 commented on #6098
@sbueringer Thanks for pointing that out! It looks like the folks at CAPG just merged a [fix with the git arg](https://github.com/kubernetes/test-infra/pull/25182/files). I'll add the change to CAPZ as well to see if it works on our end.

[2022-02-11 21:37] Jont828 commented on #6098
/assign

[2022-02-11 23:26] weikaipan opened #6113 "Topology controller keeps rolling out InfrastructureMachinteTemplates when ClusterClass is supplied with Array typed patches"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

Created a `ClusterClass` with Array typed patches. (See attached) The `MachineDeployment` is defined with `replicas=1`
Apply a `Cluster` referencing the `ClusterClass` above and supply the values to the array variable.

The values from variables are substituted as array element correctly.

[2022-02-12 17:11] #4939 closed

[2022-02-13 14:28] dipendrachaudhary opened #6115 "Internal error occurred: failed calling webhook "default.cluster.cluster.x-k8s.io": Post "https://capi-webhook-service.capi-system.svc:443/mutate-cluster-x-k8s-io-v1beta1-cluster?timeout=10s": no endpoints available for service "capi-webhook-service""
I have this yaml file which is created with this command `clusterctl generate cluster capi-quickstart   --kubernetes-version v1.23.3   --control-plane-machine-count=3   --worker-machine-count=3   > capi-quickstart.yaml`
[code]

When I do `kubectl apply -f <filename>` this shows this error
[code]

The pods shows pending when I run `kubectl get pod -A` command
[code]

Result of kubectl describe pod

[2022-02-14 06:27] palnabarun commented on #5091
/remove-lifecycle stale

[2022-02-14 08:40] dipendrachaudhary commented on #6115
I had only 2 nodes. I increased the nodes and issue is solved.

[2022-02-14 08:41] dipendrachaudhary opened #6118 "InstanceProvisionFailed @ Machine while trying to create cluster with clusterAPI in k8s"
I'm trying to create and manage eks cluster using clusterAPI.
I have applied the yaml file with cluster name c1-eks.
This is the yaml file
[code]

This is the result of `kubectl get cluster`

[code]

When I describe cluster with clusterctl it shows error and says `InstanceProvisionFailed`
[code]

This is the result of `kubectl describe Machine/c1-eks-control-plane-w5rrd`
[code]

And `kubeadmcontro

[2022-02-14 08:46] #6115 closed

[2022-02-14 08:48] dntosas commented on #6049
Ok I just bring up two identical clusters. Waited for all cloud/k8s resources to get ready and then deleted them. The one cluster just pruned successfully. The other one is stuck on Deleting phase and it seems that the MachinePool resources are the ones that are not deleted successfully so to unlock also the Cluster one.

Logs from CAPI Controller:
[code]

Logs from CAPA Provider:
[code]

[2022-02-14 08:48] dipendrachaudhary commented on #6118
CC: @sbueringer, @vincepri

[2022-02-14 08:59] dntosas commented on #6049
To unblock the process, manually removed Finalizers from Machinepool objects and everything went smooth.

I suspect an RC that CAPA objects are removed before giving the CAPI the status that can proceed with deletion so we got this loop? WDYT?

[2022-02-14 08:59] ruifaling opened #6119 "how to config kube-proxy mode"
**User Story**

As a developer, I would like to **config the kube-proxy mode for the workload cluster**,becase the default mode is iptables, and I want my cluster to use ipvs mode

**Detailed Description**

[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**

[Miscellaneous information that will assist in solving the issue.]

[2022-02-14 09:34] ruifaling commented on #6119
/help

[2022-02-14 09:39] sbueringer commented on #6119
I don't think the help wanted label is appropriate for this issue (yet):
/remove-help
(please see the guidelines: https://github.com/kubernetes-sigs/cluster-api/issues/6119#issuecomment-1038860460)

@ruifaling If I understand correctly this issue can be solved as part of https://github.com/kubernetes-sigs/cluster-api/issues/4512?

[2022-02-14 09:51] sbueringer commented on #6118
I think you should see an error in the cluster api provider AWS controller logs.

P.S. This issue probably belong into the CAPA repo, as folks there have more expertise in debugging CAPA.

[2022-02-14 09:57] sbueringer commented on #4621
/remove-lifecycle stale
/lifecycle frozen

We still want to go back to systemd when it's possible.

[2022-02-14 10:07] sbueringer commented on #6098
Looks like this change solved it in CAPG: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-cluster-api-provider-gcp-push-images/1493129253376495616

WDYT about opening
* one PR in test-infra to fix CAPI, CAPA, CAPO at the same time (I think we can relatively quick approvals from those providers)
    * cc @mdbooth
* one PR to solve it for the remaining providers: Nested, IBM Cloud

[2022-02-14 10:21] johannesfrey opened #6120 "HA Control plane does not work locally on Ubuntu with kind, CAPD and kind images >= 1.21.1"
**What steps did you take and what happened:**
* Following the [Rapid iterative development with Tilt](https://cluster-api.sigs.k8s.io/developer/tilt.html) section.
* Deploying the [simple-cluster.yaml](https://github.com/kubernetes-sigs/cluster-api/blob/main/test/infrastructure/docker/examples/simple-cluster.yaml) resources but with a replica count of 3 for the [KubeadmControlPlane](https://githu

[2022-02-14 10:22] mdbooth commented on #6098
I think I'm hearing you don't want me to submit my own CAPO PR for this?

[2022-02-14 10:32] killianmuldoon commented on #6120
@johannesfrey Have you got the CAPD logs for when this issue happens?

[2022-02-14 10:43] fabriziopandini commented on #6113
/milestone v1.2
/priority critical-urgent

+1 to backport as soon as we figure out the fix

[2022-02-14 10:54] fabriziopandini commented on #1477
I think the best way forward for the metrics effort is to join forces with https://github.com/mercedes-benz/cluster-api-state-metrics in order to provide a first set of "core metrics" about the Cluster API API objects.
What I really like about this approach is that metrics are a pluggable component, running out of the CAPI/provider process, providing not only valuable insights but also a first val

[2022-02-14 10:59] johannesfrey commented on #6120
Sure, but it is pretty verbose. I stripped out `bootstrap data`.

TLDR: `[kubelet-check] It seems like the kubelet isn't running or healthy.\n[kubelet-check] The HTTP call equal to 'curl -sSL http://localhost:10248/healthz' failed with error: Get \"http://localhost:10248/healthz\": dial tcp [::1]:10248: connect: connection refused.`

Full logs:
[code]

[2022-02-14 11:07] sbueringer commented on #6098
You could, if you want. I would just prefer bundling this a bit, to avoid a bit of noise for folks who are usually very busy / have to approve a lot of PRs :)

[2022-02-14 11:16] fabriziopandini commented on #3828
I think this is valuable and also easy to achieve. however, we should do this in CABPK and for all the types of machines:
- CONTROL_PLANE_INIT
- CONTROL_PLANE_JOIN
- WORKER_JOIN

Given that cloud-init does not have a primitive for setting env variables, I'm ok with the solution proposed in https://github.com/superbrothers/cluster-api/commit/99da129ae863fcd45f9296ef9d45064d1cbb3003 or similar.

/re

[2022-02-14 11:38] sbueringer commented on #3828
@fabriziopandini

Q: Do we have to figure out how to do this for Windows?

Would an alternative be to just add respective marker files so the preKubeadmCommands can check for the existence of those files?

[2022-02-14 11:39] sbueringer commented on #3828
/cc @jayunit100
WDYT?

[2022-02-14 12:32] killianmuldoon commented on #6120
Is there anything non kubelet specific in the Docker logs? I'm just wondering if something with the docker container has gone wrong that looks like an unhealthy kubelet to help triage where the issue is.

[2022-02-14 12:45] sbueringer commented on #5920
Closing for now, if we have concrete issues/concerns, feel free to reopen

/close

[2022-02-14 12:45] #5920 closed

[2022-02-14 13:28] fabriziopandini commented on #5394
Hi @mehabhalodiya thanks for picking up this work!
I think that a good starting point for this effort is to look at the labels/annotations defined in our API packages:
- https://pkg.go.dev/sigs.k8s.io/cluster-api/api/v1beta1
- https://pkg.go.dev/sigs.k8s.io/cluster-api/bootstrap/kubeadm/api/v1beta1
- https://pkg.go.dev/sigs.k8s.io/cluster-api/controlplane/kubeadm/api/v1beta1
- https://pkg.go.dev/s

[2022-02-14 13:32] fabriziopandini commented on #4446
+1 for me; in case we miss some update form the other issue @PushkarJ don't hesitate to ping us
/close

[2022-02-14 13:32] #4446 closed

[2022-02-14 13:45] fabriziopandini commented on #6049
I would suggest to move this issue to CAPA, given that it seems that security group deletion is the step blocking the entire chain

[2022-02-14 13:46] fabriziopandini commented on #6119
+1 for dedup with https://github.com/kubernetes-sigs/cluster-api/issues/4512

[2022-02-14 13:47] dntosas commented on #6049
thnx @fabriziopandini

[2022-02-14 13:47] #6049 closed

[2022-02-14 13:48] fabriziopandini commented on #3828
good point
/remove-help
while we figure out the windows side of the story 😅

[2022-02-14 13:52] fabriziopandini commented on #6118
+1 to move this to CAPA so you can reach out EKS experts more easily

[2022-02-14 13:56] johannesfrey commented on #6120
Unfortunately, I'm not seeing anything other suspicious. But I think I found the "issue":

If I look at the file `/var/lib/kubelet/kubeadm-flags.env` of the first control plane node (the one that does work). It looks like this:
[code]

The content of the second node (the one that does not come up with the above error) it looks like this:
[code]

IIUIC this means that the second node will default t

[2022-02-14 13:56] neolit123 commented on #6120
a maintainer recommends to use the latest kind image:
https://github.com/kubernetes-sigs/kind/issues/2625#issuecomment-1034755383

AFAIK if the host has cgroups v2 this driver will not work.

i have no explanation why single CP node works, but not multiple ones.

[2022-02-14 13:59] neolit123 commented on #6120
indeed, that is how kind patches work.

[2022-02-14 14:24] johannesfrey commented on #6120
Sure, I will open a PR.

[2022-02-14 15:25] vincepri commented on #3828
+1 to have a solution for this issue, although not super sure about the environment variable approach — aren't the `rumcmd` commands run in individual shells? Sourcing at the top might not expose the variables to other commands later

[2022-02-14 15:26] #6119 closed

[2022-02-14 15:43] #6120 closed

[2022-02-14 18:47] killianmuldoon commented on #6113
@weikaipan Could you add the templates referenced in the bug-clusterclass yaml? That would make this easier to reproduce.

[2022-02-14 19:05] pydctw opened #6126 "Duplicate resources are created when template is used both as controlPlane ref and infrastructure ref in ClusterClass"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

While doing a PoC of creating an EKS cluster using ClusterClass (CAPI + CAPA), I noticed that two AWSManangedControlPlane (awsmcp) are created from AWSManangedControlPlaneTemplate (awsmcpt) when there should be only one awsmcp. For context, EKS uses an AWS managed control plane so AWSMana

[2022-02-14 19:07] pydctw commented on #6126
cc @sbueringer

[2022-02-14 19:12] sbueringer commented on #6113
I added the missing objects manually by just guessing how they probably look like.

I got the following results:

### With exactly the same patch definition as in the zip file

I get the following errors (but no machine templates are created):

This makes sense as `{{ .volumes }}` is rendered as `[map[capacity:map[storage:2Gi] mountPath:/var/lib/containerd name:containerd]]` and as this is not a v

[2022-02-14 19:17] #3715 closed

[2022-02-14 19:18] sbueringer commented on #6113
Ups, just saw that there's an additional `VSphereMachineTemplate` crd in config/supervisor/crd which wasn't deployed in my tilt cluster.

So just echo'ing what Killian said. I think we need all resources (+/- the values shouldn't matter if they should be confidential).

Also I wonder how the PatchDefinition looks like, as the reconciler failed way earlier with the one in the zip file.

[2022-02-14 19:18] CecileRobertMichon commented on #3828
Yes, the CABPK init run command should be valid for both Linux (cloud init) and Windows (cloudbase init)

cc @jsturtevant

[2022-02-14 19:49] Jont828 commented on #6098
@sbueringer I opened a similar [PR](https://github.com/kubernetes/test-infra/pull/25233) with the same fix and it works in CAPZ. I could go ahead and open one to fix it in the rest of the providers as well.

[2022-02-14 20:02] Jont828 commented on #6098
Opened this [PR](https://github.com/kubernetes/test-infra/pull/25251) to fix this in test-infra

[2022-02-14 20:26] fabriziopandini commented on #5517
@yastij ^^
That's a good point. Taking a step back, we have a couple of user stories, in some cases not mutually exclusive:
- The user does not express opinions on the API server bind port (a default gets applied)
- The user wants to set the API server bind port (the local API server bind port)
- The user does not express opinions on the load balancer port (a default gets applied)
- The user does

[2022-02-14 21:23] fabriziopandini commented on #6091
@vuil @sbueringer I was taking a look at sprig, and I was considering including only the so-called `HermeticFunc` that is a subset of func with only repeatable functions. This will help us in preventing users to write templates triggering infinite reconciliation because they use things like Now or Rand.

The list of functions that are going to be dropped is defined at https://github.com/Mastermind

[2022-02-14 21:28] fabriziopandini commented on #6091
@sbueringer also, I'm assuming that we want sprig support only for variables, not for enableIf (even if it is not a problem to add it for both). wdyt?

[2022-02-14 21:41] vuil commented on #6091
@fabriziopandini nice catch, I wasn't even aware the library has called out this class of functions. It makes totally sense to exclude those functions since no patch should be written expecting non-repeatable behavior anyway.

[2022-02-14 21:56] vuil commented on #6091
my 2c, so feel free to assess it along with any potential impact it may have:

tbh so far we have not encountered a scenario where we need sprig support for enableIf, but it wouldn't be too inconceivable that we may encounter some in the future. Basides, it would probably be less surprising to authors working with golang templates to have consistent behavior wherever they are used.

[2022-02-14 21:56] tenczar commented on #6091
I can imagine a scenario where `upper`/`lower` would be useful for evaluating string equality in enabledIf. The `semverCompare` function might also prove useful.

[2022-02-15 02:56] moluzhui opened #6128 "How to set GITHUB_TOKEN during clusterctl init command"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
When executing `clusterctl init --infrastructure docker -v 5`, the following `error` is returned
[code]
Then I applied for `Personal Access Tokens` of `repo scope` in Github `Developer Settings`

Finally, run `export GITHUB_TOKEN=<my_token>`. `Init command` is executed again, but the above

[2022-02-15 06:17] weikaipan commented on #6113
Thank you. I have uploaded the entire templates including ClusterClass and `VSphereMachineTemplate`.

[cluster-clusterclass.zip](https://github.com/kubernetes-sigs/cluster-api/files/8066360/cluster-clusterclass.zip)

[2022-02-15 07:15] sbueringer commented on #6128
ghp_ should be fine. You don't need a specific scope, but it shouldn't hurt. Maybe you have to export the token with quotes `""` because there is some special character in it? (but based on my github token there shouldn't be one)

I'm just using something like the following (that is of course not my actual token :) ):
[code]

[2022-02-15 07:50] sbueringer commented on #6113
I can't replicate the issue with the files in the zip file.

I observed the following issues:
* the VSphereClusterTemplate, KubeadmControlPlaneTemplate, VSphereMachineTemplates, KubeadmConfigTemplate had `-volume` suffix, but the ClusterClass uses templates without that suffix
    * => I fixed that, otherwise the topology reconciler would have failed very early. Do you maybe have additional resour

[2022-02-15 08:40] sbueringer commented on #6091
I agree, we have to exclude non-hermetic functions.

I think I would prefer having the same features in `enabledIf` and `valueFrom.template`. It's easier to implement and explain to users as we don't have to explain the difference.

Functions like semverCompare, upper/lower, trim should be useful for `enabledIf`.

[2022-02-15 08:45] sbueringer commented on #6126
It makes sense that the issue occurs, as we create instances of control plane and infrastructure cluster and don't handle the case that both could/should be the same.

Assuming it's a supported case we have to adjust our "core" topology reconciler to handle that case and I think it also has impact on patches.

[2022-02-15 08:54] ykakarap commented on #4585
Catching up on the issue. Will get back soon. :)

@faiq I will take a look at this and post my findings here.

[2022-02-15 09:12] fabriziopandini commented on #6091
Thanks all for the quick feedback, it seems there is consensus on the direction, I'll start working on PR

[2022-02-15 09:23] moluzhui opened #6130 "Clusterctl init fails to download files when creating a managerment cluster based on workload cluster"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
When the CAPI management cluster and the workload cluster are merged through the `clusterctl init` command, the file download fails.
Execute the command and the result is as follows
[code]
This is to **reproduce the Cluster API and Docker to debug the Kubernetes Autoscaler, providing a bas

[2022-02-15 09:24] sbueringer commented on #6113
@fabriziopandini
I think in a situation like on this issue it should be possible to make it safe for users by specifying the variable schema on the ClusterClass correctly.

I.e. if the variable schema looks like this:
[code]
we should make sure that a variable value like this is never stored in etcd:
[code]

It looks like upstream Kubernetes has two features for this:
1. kubectl on client-side val

[2022-02-15 09:27] moluzhui commented on #6128
I updated to v1.0.4 version. `clusterctl init --infrastructure docker -v 5` can install cert-manager directly. However, GITHUB_TOKEN is not currently used, and will be tested when the rate limit appears in the future.

[code]

[2022-02-15 09:27] moluzhui commented on #6128
I updated to v1.0.4 version. `clusterctl init --infrastructure docker -v 5` can install cert-manager directly. However, GITHUB_TOKEN is not currently used, and will be tested when the rate limit appears in the future.

[code]

[2022-02-15 09:28] sbueringer commented on #6130
To me it looks like you have a connection issue to GitHub:

[2022-02-15 09:29] sbueringer commented on #6128
@moluzhui So should we close the issue for now?

[2022-02-15 09:52] #6128 closed

[2022-02-15 09:56] moluzhui commented on #6130
Yes, but there were `similar commands earlier`, no errors were reported
[code]
This is for clusters created by `Kind`

The error reported is for the `workload cluster` created by the `clusterctl generate cluster` command

Does the workload require other configurations to access github

[2022-02-15 10:20] sbueringer commented on #6130
`clusterctl init` and `clusterctl generate cluster` both access the GitHub release.

[2022-02-15 11:54] fiunchinho commented on #5894
Anything I should take into account before I give this a shot? I see that you have a rather complex `Makefile` that feeds arguments to the `docker build`. Do we need something as complex for `clusterctl`? Or would a simpler `Dockerfile` that just copies the binary into the image would be enough?

[2022-02-15 11:55] moluzhui commented on #6130
Sorry, it worked after I tried many times, it seems to be a pure network issue. I will close it

[2022-02-15 11:55] #6130 closed

[2022-02-15 12:24] sbueringer commented on #5894
The reason the Dockerfile is this complex is because:
* it builds the binary inside of the container (this is important to enforce that we're using the right go version)
* it caches a few folders so the build is faster (only relevant when running locally)

I think the Dockerfile should be almost the same apart of building another package / using another output file name. For our releases we almost

[2022-02-15 13:23] fabriziopandini commented on #6113
@weikaipan to confirm above assumptions + eventually close
@sbueringer  +1 to track possible improvements in separated issues; in order to provide a batter UX I think we should block users to create variables with fields non defined in the API schema (like kubectl); pruning on storage could be implemented as a safeguard

[2022-02-15 13:39] fabriziopandini commented on #5894
A couple of questions from my side about implementation details:
- what about multiple architectures? are we planning to do a multi-arch Docker image?
- is this image going to be built only for tags or also for each merge/nightly?
- is this image something that should go into production buckets or it will be enough to get this in the staging bucket?

[2022-02-15 13:42] sbueringer opened #6135 "Handle additional fields in ClusterClass variables"
**User Story**

As a user I would like to get an error when I specify additional (undefined) fields in variables.

**Detailed Description**

Let's assume you have defined a ClusterClass variable which is an object (or array of objects, ...). If users now provide variable values on the Cluster resource with additional fields they are stored in etcd and then later used in patches. This can lead to c

[2022-02-15 13:43] sbueringer commented on #6135
/assign

[2022-02-15 14:10] fabriziopandini commented on #6126
@yastij handling managed provider is another area where we have inconsistency cross providers:

- in CAPA we are using the same AWSManagedControlPlaneTemplate object both as a control plane object and as cluster infrastructure object
- in CAPZ there are two different objects, one for the managed control plane object and one for cluster infrastructure object

Personally, I prefer the second approac

[2022-02-15 16:10] joekr opened #6136 "The version documentation in the quick-start is out of date"
**What steps did you take and what happened:**
https://cluster-api.sigs.k8s.io/user/quick-start.html#install-clusterctl is still showing `1.0.4` when the newest version is `1.1.1`

**What did you expect to happen:**
I would expect the curl command to be
[code]

/kind bug

[2022-02-15 16:54] fabriziopandini commented on #6136
/milestone v1.2

[2022-02-15 17:56] richardcase commented on #6126
I'm not surprised this turned out to be an issue.

We originally had 2 different kinds `AWSManagedCluster` and `AWSManagedControlPlane`. However `AWSManagedCluster` was only acting as a pass-through to communicate values from the control plane to capi to satisfy the `infrastructure cluster` contract....which the control plane already did. So we decided  to remove it.

I think it's valid for manage

[2022-02-15 17:59] CecileRobertMichon commented on #6017
Sorry for the delay, I missed the reply because it got filtered out of my Inbox. Here's the response I got from Netlify:

------

Thanks for reaching out! We cannot provision a wildcard certificate for the site because we do not host your DNS. You will need to bring your own wildcard [custom SSL cert](https://docs.netlify.com/domains-https/https-ssl/#custom-certificates).

The second option you've

[2022-02-15 18:04] richardcase commented on #6126
@sbueringer @fabriziopandini @pydctw - i'd be happy to help/facilitate any discussions about "what does managed kubernetes in capi look like" if needed.

[2022-02-15 18:06] sbueringer commented on #6017
I assume we don't have a good way to provide "our own" custom SSL cert.

So I think either Netlify supports some kind of Let's encrypt support or our only option is 2. if we want to make Option 1 from above happen.

[2022-02-15 18:07] pydctw commented on #6126
It will be great if we can discuss it during the office hour tomorrow as I am kind of blocked on the PoC.

[2022-02-15 18:10] schrej commented on #6017
They do automatically create LE certificates for custom domains: https://docs.netlify.com/domains-https/https-ssl/#netlify-managed-certificates

cluster-api.x-k8s.io is also using LE certificates right now, so I'm not sure why support tickets are needed to add further domains to the certificate.

[2022-02-15 18:16] sbueringer commented on #6017
Wow, thx for the info.

@CecileRobertMichon Do you see a reason why that documentation might not apply to us?

There's the following section

But I think that doesn't apply to us as we don't have and need a wild card if they provision certificates automatically.

[2022-02-15 18:21] sbueringer opened #6138 "Upgrade to controller-runtime v0.11.1"
Let's upgrade to the latest controller-runtime release v0.11.1 (released today).

Tasks:
* [ ] Upgrade `sigs.k8s.io/controller-runtime v0.11.0` in go.mod files to `sigs.k8s.io/controller-runtime v0.11.1`
* [ ] Run `make modules`

/kind feature

[2022-02-15 18:21] sbueringer commented on #6138
/help

[2022-02-15 18:21] sbueringer commented on #6138
/good-first-issue

[2022-02-15 18:25] CecileRobertMichon commented on #6017
As far as I can tell, we don't have branch subdomains setup:

<img width="898" alt="Screen Shot 2022-02-15 at 11 18 25 AM" src="https://user-images.githubusercontent.com/8650424/154124592-c416d3b3-cc20-43f1-8576-2364c2b8949e.png">

If I click on "Setup Netlify DNS", it says k8s.io is already registered:

<img width="916" alt="Screen Shot 2022-02-15 at 11 20 15 AM" src="https://user-images.githubus

[2022-02-15 18:36] tenczar opened #6139 "ClusterClass MachineHealthCheck should be patchable for individual clusters"
**User Story**

As a user I would like to apply patches to machinehealthchecks on clusters derived from clusterclasses to customize health checks for my cluster.

**Detailed Description**

At a minimum it would be useful as a user to enable/disable the machinehealthchecks defined on a cluster without needing separate clusterclass definitions for each. Being able to modify the timeouts defined by t

[2022-02-15 18:51] sbueringer commented on #6139
/area topology

[2022-02-15 19:22] killianmuldoon commented on #6139
@tenczar Thanks for filing the issue - I'll take a look

[2022-02-15 19:57] furkatgofurov7 commented on #6138
/assign

[2022-02-15 20:01] fabriziopandini commented on #6017
Might be I'm missing something, but can we follow their suggestion and add SANS for a couple of releases that don't exist yet to the cert (eg. from release-1-2 up release-1-5); If I'm not wrong, this will give 404 until the branch exists, and start responding whenever the branch get created.
Assuming we release every 4 months, the next request to netlify team will be in 1 year from now..

[2022-02-15 20:10] CecileRobertMichon commented on #6017
@fabriziopandini they said that would work but they recommend using a custom SSL cert instead: "The second option you've provided would work as well, but the above would be our recommendation."

[2022-02-15 20:15] sbueringer commented on #6017
+1 let's try that.

I think even in the worst case that we have to write a mail on every release that is preferable to Option 2 above.
We would add it to our house keeping tasks for releases (I would volunteer to take over that part).

[2022-02-15 23:19] CecileRobertMichon commented on #6017
I just emailed netlify asking them to add release-1-0.cluster-api.sigs.k8s.io, release-1-1.cluster-api.sigs.k8s.io, release-1-2.cluster-api.sigs.k8s.io, release-1-3.cluster-api.sigs.k8s.io, release-1-4.cluster-api.sigs.k8s.io, and release-1-5.cluster-api.sigs.k8s.io to the cert

[2022-02-16 06:54] sbueringer commented on #5571
Just fyi. The klog version we currently use has an issue that it doesn't propagate verbosity correctly, i.e. with JSON log format the `v` key is always `0`. This issue has been just fixed in klog: https://github.com/kubernetes/klog/issues/294.

I expect that there will be a new klog version that we can pick up with the next Kubernetes / controller-runtime release before our release.

Independent o

[2022-02-16 07:30] weikaipan commented on #6113
Confirmed that removing the unknown fields, the repeating roll outs stop and the template generation succeeded. Thank you.

[2022-02-16 07:30] #6113 closed

[2022-02-16 07:42] sbueringer opened #6141 "Reduce frequency of our test jobs and remove redundant jobs"
I think it's time again to check how frequently our ProwJobs are run and potentially reduce the frequency of some jobs.

(=> is the proposed change)

* main:
  * periodic upgrade jobs: 24h
  * periodic tests: 1h
  * periodic book links: 6h => remove
* release-1.1
  * periodic upgrade jobs: 24h
  * periodic tests: 4h
  * periodic book links: 24h => remove
* release-1.0
  * periodic upgrade jobs: 24

[2022-02-16 07:43] sbueringer commented on #6141
/area testing
/cc @fabriziopandini

/cc @CecileRobertMichon @sonasingh46 (for the part with the book build)

[2022-02-16 08:10] marratj opened #6142 "kubeadm-control-plane provider panics during api conversion because of missing `Patches` type in `v1alpha4`"
**What steps did you take and what happened:**
We upgraded CAPI from 0.4.x to 1.1.x and now we do get errors when updating `KubeadmControlPlane` objects because the kubeadm-bootstrap-controlle panics during conversion from apiVersion v1alpha4 to v1beta1 when doing a server-side apply:

[code]

The `Patches` type is not available in the `v1alpha3` and `v1alpha4` type definitions but seems to still

[2022-02-16 08:18] sbueringer opened #6143 "Make sure we use correct CoreDNS image tags in our upgrade tests"
Currently we have a mixture of using CoreDNS tags with and without `v` in our Kubernetes upgrade test.
We are also not verifying that CoreDNS actually comes up, we only wait until the deployment has the new image tag.

Some context:
* It's about the CoreDNS tag we're upgrading to which is configured via `COREDNS_VERSION_UPGRADE_TO`
* There was a migration from k8s.gcr.io/coredns to k8s.gcr.io/core

[2022-02-16 08:26] sbueringer commented on #6143
/cc @fabriziopandini @detiber

I'm absolutely not sure about the last task, but I would flag the issue as good-first issue for the first and third if it sounds good to you.

[2022-02-16 08:51] sbueringer commented on #6142
/assign

[2022-02-16 09:19] sbueringer commented on #6142
@marratj
Thx for reporting this!

I think the panic is not because patch is nil but because `InitConfiguration` is nil. I opened a PR to fix the issue across all types (+ some others)

[2022-02-16 09:25] marratj commented on #6142
@sbueringer at least in our case `InitConfiguration` and `JoinConfiguration` are both set in the KubeadmControlPlane, just not `Patches` (because this was not there in earlier CAPI releases). Not sure if this makes a difference.

[2022-02-16 09:51] sbueringer commented on #6142
Hm yeah. That brings up the question how this panic can occur at all :)

I can see how our conversion code panics if only Patches is set, but I don't understand how it can if InitConfiguration already exists. Just taking a pointer field and setting it on another one can't panic even if that is nil.

When you say they are both set, I assume they are not set to empty object `{}` but they have "sub-f

[2022-02-16 10:08] marratj commented on #6142
Exactly. They are currently looking like this:

[code]

[2022-02-16 10:08] sbueringer commented on #6142
Just some additional context. You've upgrade to the new CAPI version and are now applying local manifests with v1alpha4 resources via kubectl apply + server side apply?

Or do you have a controller which is compiled against CAPI v1alpha4 and it does a get + update loop?

[2022-02-16 10:12] marratj commented on #6142
Yes, we are running CAPI 1.1.1 right now and applying the local manifests via server-side apply in this way:

[code]

Doesn't actually matter if we PATCH to `v1alpha4` or the `v1beta1` endpoint.

(Actually also doing this from another endpoint that does the `PATCH` request directly, not via kubectl, but kubectl server-side apply has the same issue while reproducing this).

What's even more strange

[2022-02-16 10:15] sbueringer commented on #6142
Are you using v1alpha4 or v1beta1 in your local manifests? (just to reproduce, both should work)

[2022-02-16 10:17] sbueringer commented on #6142
I think my best guess at this point is that the server-side apply sends us partial KubeadmControlPlane resources to resolve conflicts.

[2022-02-16 10:17] marratj commented on #6142
We started out with `v1alpha4` and now use `v1beta1`. Both have the same issue, just tried both again, no matter which one I set as `apiVersion` in the manifest.

[2022-02-16 10:25] sbueringer commented on #6142
Okay. I played around with it a bit. I'm not sure if I'll be able to reproduce the exact same situation, but I'm pretty sure that my PR will fix it.

If I don't have a fundamental misunderstanding of how Go works, the PR should fix any possible panic in this line :).

Do you have a way to test out this fix in your environment?

[2022-02-16 10:31] marratj commented on #6142
Let me try to build it on my side from your PR branch, never built any of the CAPI components myself yet.

[2022-02-16 10:35] sbueringer commented on #6142
Great thx. Should ~ work like this:
[code]

(You probably need both controller as they both are using KubeadmConfig)

[2022-02-16 10:36] sbueringer commented on #6142
@marratj almost forgot. You should probably checkout release-1.1 and cherry-pick my commit on top. Otherwise you'll get other changes from main which would be bad.

[2022-02-16 10:47] sbueringer commented on #5709
/retitle Log panics with current log context during reconcile

[2022-02-16 10:50] #6138 closed

[2022-02-16 10:58] AdamKorcz commented on #6059
A PR with CAPIs first fuzzer has been set up on OSS-fuzz here: https://github.com/google/oss-fuzz/pull/7292

[2022-02-16 11:05] marratj commented on #6142
@sbueringer Your fix did the trick. It's working fine now in our environment. Thanks a lot!

[2022-02-16 11:12] furkatgofurov7 commented on #6138
*`make generate modules`

[2022-02-16 11:18] sbueringer commented on #6138
Thx, updated above for future issues like that. I think I've renamed the target after I created this issue :)

[2022-02-16 11:22] furkatgofurov7 commented on #6138
Thanks, I did not know that was updated recently, it is just while working on it I got to know the make target was a bit different, but thanks for noting:)

[2022-02-16 11:22] fabriziopandini commented on #6141
+1 we can always eventually increase on-demand/if more people steps up in helping handling the test signal

[2022-02-16 11:26] #6142 closed

[2022-02-16 11:31] sbueringer commented on #6143
Agree. My plan was to tackle that as part of: https://github.com/kubernetes-sigs/cluster-api/issues/2599#issuecomment-1036448585

[2022-02-16 11:31] johananl opened #6147 "Add patchMergeKey annotations to allow Kustomize overrides of list element fields"
**User Story**

As a developer I would like to be able to override fields of list elements in CAPI types using Kustomize so that I can leverage Kustomize for keeping workload cluster templates DRY.

**Detailed Description**

Kustomize is used by CAPI providers to keep cluster templates DRY. Example: https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/4b535f6befba3b08dee7250d7dd835

[2022-02-16 11:38] randomvariable commented on #6059
/lifecycle active
/assign @AdamKorcz

[2022-02-16 12:51] sbueringer opened #6149 "Improve conversion fuzz-testing"
It looks like we have a gap in our fuzz testing. We had an issue today which should have been covered by the test: #6142

Our current theory is that this happened because there are a lot of fields in InitConfiguration/JoinConfiguration and we just never hit the case were only Patches were set.

Goal of this issue is to improve our fuzz testing so it would catch that issue the next time.

To do thi

[2022-02-16 13:52] joekr commented on #6136
PR is merged so I'll close this issue.

[2022-02-16 13:52] #6136 closed

[2022-02-16 14:49] randomvariable opened #6151 "Security Self Assessment: [DEV-1] Update OWNERS file and associated permissions"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

OWNERS_ALIASES includes @timothysc as a maintainer but he has stepped down from SIG CL leadership.

Similarly https://github.com/kubernetes/org/blob/main/config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml needs to be updated for the following associated projects:

- CAPA
- CAPZ
- CAP

[2022-02-16 14:49] randomvariable commented on #6151
Same issues apply to https://github.com/kubernetes/k8s.io/tree/main/k8s.gcr.io/images

[2022-02-16 14:58] randomvariable opened #6152 "End-User Cluster API Security Guidance"
**User Story**

As a cluster operator, I want to know how to use Cluster API securely.

**Detailed Description**

Follow up to #4139, security guidance should be given for end users

Covers the following in the security self-assessment:

- Second pair of eyes are applied when executing privileged actions such as creating/deleting/updating a cluster (possibly using gitops)
-

**Anything else you wo

[2022-02-16 15:04] detiber commented on #6143
The versions of CoreDNS and etcd images are provided through the e2e test config, so regardless of what versions would be used by default for CI versions, I would expect them to be overridden through config and the upgrade to still complete. The same way the default versions are not used for non-CI based upgrades today.

[2022-02-16 15:06] randomvariable opened #6153 "Security Self-Assessment: [STRIDE-TAMPER-1] Produce a SBoM"
**User Story**

As a cluster operator, i want to know the list of dependencies Cluster API brings for assurance within our organisation's software supply chain.

**Detailed Description**
* Create SBoM of all the Cluster API components and verify checksum as a post build action

cc @PushkarJ for adding more details.

/kind feature
/area security

[2022-02-16 15:10] detiber commented on #6143
One other thing that I will add....

There is currently no verification of progress when checking for all control plane machines to be available, all machine deployment machines to be available, scaling operations for KCP/MD, and rolling out updates for KCP/MD today, so if there is a terminal failure (failure message/reason set on an owned Machine), then ;you need to wait for the `wait-machine-upg

[2022-02-16 15:15] fabriziopandini commented on #6149
/milestone v1.2

[2022-02-16 15:20] fabriziopandini commented on #6152
/kind cleanup
/remove-kind feature

FYI there is a new set of tooling around owner files being used in the ecosystem, including also periodic checks on maintainers not active anymore. We should leverage on the same tooling
@dims ^^

[2022-02-16 15:24] sbueringer commented on #6143
I wonder if we need another timeout or if we can just immediately fail once we discover that a Machine has a a terminal failure. Do you want to open a separate issue for that one? (so we can discuss further there)

I'm not sure if I understand that. In the cluster upgrade test we:
* are creating KCP without CoreDNS/etcd tags set. So kubeadm will use its default versions
* are upgrading to the vers

[2022-02-16 15:25] jsturtevant commented on #3828
I don't think there is a way to set environment variables cross-platform.  We can create files cross-platform and do that today: https://github.com/kubernetes-sigs/cluster-api/blob/4586b16418466bd4e290f00177adef296645076f/bootstrap/kubeadm/internal/cloudinit/cloudinit.go#L34

[2022-02-16 15:33] randomvariable commented on #5491
Just adding to this one related to #3176. In EKS, GKE, AKS, VMware TKG-I (formerly Enterprise PKS), and VMware vSphere with Tanzu (formerly TKG-S), workload clusters do not require access to the cloud provider APIs. In the case of everything but TKG-S, cloud provider integrations and CSI are provisioned externally to the cluster and exist as a black box as far as the workload cluster goes. This pr

[2022-02-16 15:33] randomvariable commented on #5491
/area security

[2022-02-16 15:36] schrej opened #6154 "Add support for optional providers to clusterctl"
With the IPAM Proposal (#6000) and CAPI Runtime Addons coming up, it needs to be decided how those components can be installed through `clusterctl`.

Currently clusterctl differentiates between different kinds of providers (`CoreProvider`, `InfrastructureProvider`, `BootstrapProvider` etc.). This differentiation is used to perform some basic sanity checks when installing a new cluster, ensuring th

[2022-02-16 15:47] sbueringer commented on #3828
I assume we could also do that with the cloud-init "files" config which feels slightly cleaner to me.

[2022-02-16 15:54] jsturtevant commented on #3828
cloud-init "files" does work in windows: https://cloudbase-init.readthedocs.io/en/latest/userdata.html#cloud-config

[2022-02-16 16:19] fabriziopandini commented on #6154
/milestone v1.2
/area clusterctl

[2022-02-16 16:55] CecileRobertMichon commented on #6017
We should be good to go

[2022-02-16 17:02] sbueringer commented on #6017
Thank you, /hold cancel'd https://github.com/kubernetes/k8s.io/pull/3404 (waiting for approval from dims)

[2022-02-16 17:37] sbueringer opened #6155 "Use socket with unix:/// in CAPD."
We are currently using `/var/run/containerd/containerd.sock` in our CAPD configurations.

We should actually be using `unix:///var/run/containerd/containerd.sock`. Goal of this issue is to go over test/ and replace all occurrences.

P.S. there will be a warning with kubeadm v1.24 for paths which are not using a URL scheme. (xref: https://github.com/kubernetes/kubeadm/issues/2426#issue-846676028)

[2022-02-16 17:38] sbueringer commented on #6155
@fabriziopandini I assume we don't have to do anything for upgrades as we don't do in-place upgrades:

[2022-02-16 17:48] sbueringer commented on #5578
We had a downstream request for this. I would propose the following additional builtin variables:

* `builtin.cluster.network.apiServerPort` (type integer)
* `builtin.cluster.network.serviceDomain` (type string)
* `builtin.cluster.network.services` (type array of string)
* `builtin.cluster.network.pods` (type array of string)
* `builtin.cluster.network.ipFamily` (type string, one of: Invalid, IPv4

[2022-02-16 18:30] stmcginnis commented on #6155
I don't see anywhere that we are referencing this directly in the CAPD code:

[code]

I think with our use of the docker API, any interaction with the socket is all encapsulated inside that library.

[2022-02-16 18:34] richardcase commented on #6126
From the office hours it was mentioned that there is an open PR in CAPZ to also go down to 1 type (`AzureManagedControlPlane`) that satisfies both the cluster and controlplane contracts like we are doing in CAPA:  https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1468

[2022-02-16 18:41] richardcase commented on #6126
With managed Kubernetes services the lines are blurred between the cluster infrastructure and the control plane. So a few solutions that have been discussed:

- Allow the same kind to be used in the references for `infrastructureRef` and `controlPlaneRef` (like CAPA is doing and the PR for CAPZ is proposing). But this currently causes problems with clusterclass as documented by this issue
- Ensure

[2022-02-16 18:47] weikaipan commented on #5578
One of our use cases is configuring proxy

[code]

which needs access to pod and service CIDRs.

[2022-02-16 19:27] gnadaban opened #6156 "Support append for files in KubeadmConfigTemplate and KubeadmControlPlane"
**User Story**

As an operator I would like to configuer a larger `fs.inotify.max_user_watches` in `/etc/sysctl.conf` for the nodes using the `files:` block in order to avoid errors about not enough disk space when attempting to follow logs.

[code]

**Detailed Description**

In order to append to files, the `append: true` flag for cloud-init must be supported.

**Anything else you would like to a

[2022-02-16 19:37] sbueringer commented on #6156
/area bootstrap

[2022-02-16 19:40] sbueringer commented on #5578
/assign
(to keep track of it)

[2022-02-16 19:43] sbueringer commented on #6155
That is correct. I was referring to the places where we configure the criSocket in YAML: https://grep.app/search?q=/var/run/containerd/containerd.sock&filter[repo.pattern][0]=kubernetes-sigs/cluster-api&filter[lang][0]=YAML

[2022-02-16 19:49] fabriziopandini commented on #6155
@sbueringer we should tell the user to update their kubeconfig, but I'm -1 to upgrade settings automatically because this will trigger rollouts
@vincepri @CecileRobertMichon @enxebre opinions ^^

[2022-02-16 19:50] sbueringer commented on #6126
Sounds great!

Short comment about:

We are currently using the control plane object to trigger/monitor rollouts of the control plane to new Kubernetes versions. Assuming that this should be possible with managed clusters too, it might be easier to go done the road of a ControlPlane without machines (but yeah it doesn't really fit conceptually)

[2022-02-16 19:53] sbueringer commented on #6155
+1. I think we should have a section about 1.24 in our version.md and link that in the next releases which add support for 1.24. Maybe that is a good pattern to follow to document the really really breaking changes for CAPI users in Kubernetes sustainably.

[2022-02-16 20:00] fabriziopandini commented on #6156
unless there are feedback that this feature has strange behaviours on different os, I'm generally +1
@jsturtevant @randomvariable @yastij ^^

/milestone v1.2
/kind api-change

[2022-02-16 20:11] sbueringer commented on #6156
/cc @jayunit100

[2022-02-16 20:18] sbueringer opened #6157 "Remove v1.23=>v1.24 upgrade test jobs for v0.4 and v1.0"
As decided today in the CAPI office hours we won't support Kubernetes v1.24 with CAPI v0.4 and v1.0.
We already have upgrade jobs running which are testing the Kubernetes upgrade from v1.23=>latest (which will be v1.24).
Goal of this issue is to drop those jobs

Tasks:
* [ ] Drop upgrade jobs in test-infra:
    *  https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/clu

[2022-02-16 20:19] sbueringer commented on #6157
/good-first-issue

P.S. I'll grep through a few repos and open PR to add myself to groups.

[2022-02-16 20:39] CecileRobertMichon commented on #6155
Just to confirm, the scope here is only CAPD? If so, considering CAPD is not meant for production and only for development, I don't think we need to be as strict with not causing rollouts. IMO the term "user" doesn't really apply here.

[2022-02-16 20:44] sbueringer commented on #6155
The scope of what I want to fix is CAPD.

Fabrizio was referring to that we don't want to automatically migrate in KCP or CABPK to not trigger rollouts everywhere.

So essentially we should communicate to CAPI users that they should use a path with a URL scheme going forward, given that "the kubelet has long deprecated paths without unix:// and it might stop supporting them in the future" (https:/

[2022-02-16 20:45] fabriziopandini commented on #6155
Thanks, Stefan for clarifying!
WRT to CAPD what about dropping set cri setting entirely? (kubeadm should auto-detect containerd, right?)

[2022-02-16 20:56] sbueringer commented on #6155
Yes. Let's try if that works!

[2022-02-16 21:04] sbueringer commented on #6017
@CecileRobertMichon
New DNS names seem to be available.

We're getting cert issues on:
* https://release-1-1.cluster-api.sigs.k8s.io/ (https://www.sslshopper.com/ssl-checker.html#hostname=https://release-1-1.cluster-api.sigs.k8s.io/)
* https://release-1-0.cluster-api.sigs.k8s.io/ (https://www.sslshopper.com/ssl-checker.html#hostname=https://release-1-0.cluster-api.sigs.k8s.io/)

Not sure why `http

[2022-02-16 21:13] CecileRobertMichon commented on #6017
@sbueringer I don't see the updated cert in the UI... maybe it takes some time? If I still don't see the new branches tomorrow I'll email support again.

[2022-02-16 21:14] g-gaston commented on #6081
@sbueringer

In my opinion this is ok. If someone is importing an specific commit from a release branch (I think this is quite unusual), I think is acceptable to ask them to deal with possible (although as you said, unlikely) breaking changes. They would just need to add a replace for the main module to the same commit they are already importing. Which is the same "extra work" that everyone has to

[2022-02-17 00:32] ailurarctos opened #6158 "Support for DaemonSet eviction when draining nodes"
(I'm not sure if this feature request is large enough to require the CAEP process. If it is please let me know.)

**User Story**

As a user I would like to some mechanism to have my DaemonSet pods gracefully terminated when draining nodes for deletion so that those pods can complete their shutdown process.

**Detailed Description**

Currently Cluster API uses the standard kubectl drain ignoring al

[2022-02-17 00:34] kfox1111 commented on #6158
Kind of sounds like https://github.com/kubernetes/kubernetes/issues/75482 :/

[2022-02-17 01:02] ailurarctos commented on #6158
Yes, I think if https://github.com/kubernetes/kubernetes/issues/75482 were implemented it could potentially be used to implement this feature request.

[2022-02-17 02:00] viniciussaturnino commented on #6157
/assign

[2022-02-17 04:29] vincepri commented on #6158
/milestone Next
/kind proposal

[2022-02-17 04:31] vincepri commented on #6017
Same here, I still see the old certificate

[2022-02-17 04:34] vincepri commented on #6155
Agree with @CecileRobertMichon's message above, if the scope is only for CAPD we should probably not bother and just do the breaking change. For general KCP consumption, we could consider to only migrate the configuration when we detect an upgrade to 1.24?

[2022-02-17 04:43] vincepri commented on #6126
We should probably fix this bit in the future, a Cluster should always have a control plane, but it doesn't have to have an infrastructure associated with it necessarily.

In the future we can also think that the infrastructure might go away entirely and instead become something else. Truthfully today the InfraCluster object is a stepping stone, we do need the infrastructure to be setup and config

[2022-02-17 04:43] vincepri commented on #6126
/milestone v1.2

[2022-02-17 04:47] #4444 closed

[2022-02-17 04:51] vincepri commented on #5578
Would we ever want anything else under `ip`? Should we go for `ip.family` instead?

[2022-02-17 04:53] vincepri commented on #1477
We could also ask the maintainers of `cluster-api-state-metrics` if they might be interested in donating the project to CNCF? We could then incorporate it within Cluster API and ship it as an extra component

[2022-02-17 05:15] #5571 closed

[2022-02-17 06:10] sbueringer commented on #6141
I opened a PR for the first task.

Tasks 2-4 are
/good-first-issue

[2022-02-17 06:22] sbueringer opened #6160 "Improve release note generation tool to handle tag prefixes in PR titles"
Goal of this issue is to extend our release not generation tool to automatically trim "tag" prefixes of PR titles.

Some context:
We are currently using hack/tools/release to generate our release notes.
This tool lists all merged PRs and then builds a list of release notes by category (essentially a raw version of e.g.: https://github.com/kubernetes-sigs/cluster-api/releases/tag/v1.1.0).

For a wh

[2022-02-17 06:28] sbueringer commented on #6155
But I think we can't do it for KubeadmConfig(Template) which means we would produce different configs in KCP / worker nodes. What do you think about trying to make some progress on webhook warnings in controller-runtime (not sure what the current state is there) and then adding a warning for it?

[2022-02-17 06:41] sbueringer commented on #6155
@good first issue readers :)

Concrete task that can be already done:
* [ ] Drop the `criSocket: /var/run/containerd/containerd.sock` configurations in all YAMLs below test/*
    * If the tests are still green, that should be it.
    * Otherwise let's take a look at the error together, we might have to add the prefix then instead.

[2022-02-17 06:43] sbueringer commented on #5578
Hm, I don't know. I don't foresee anything right now. I would probably use `ipFamily`, but no objections if we want to use `ip.family`.

[2022-02-17 09:17] ykakarap opened #6161 "windows section for `Install clusterctl` in quick start"
Given that now we are shipping a windows amd64 version of clusterctl should we add a `Windows` section to the `Install clusterctl` section of the quickstart?

This would imply that the rest of the quick start flow also needs to be evaluated for the same.

/area clusterctl
/kind docs

[2022-02-17 09:18] ykakarap commented on #6161
/kind documentation

[2022-02-17 10:00] sbueringer commented on #6161
I wonder how similar the quickstart is for Windows / how much we have to change / add branching for

[2022-02-17 10:02] shubham14bajpai commented on #6155
/assign

[2022-02-17 10:03] ykakarap commented on #6161
I am not sure either. Will have to run through the quickstart on a windows machine to figure out how much and what needs to change.

[2022-02-17 10:05] #5572 closed

[2022-02-17 10:09] sbueringer commented on #6147
Sounds good to me. I ran into this issue before and had to switch to JSON patching (IIRC).

[2022-02-17 10:36] ShivamTyagi12345 commented on #6160
/assign

[2022-02-17 11:01] killianmuldoon commented on #5578
/assign

[2022-02-17 11:19] VibhorChinda commented on #6161
Steps for installing clusterctl on windows :
1. Go to the working directory where you want clusterctl downloaded.
2. run curl -o clusterctl.exe "https://github.com/kubernetes-sigs/cluster-api/releases/download/v1.1.1/clusterctl-windows-amd64.exe"
3. Add the path of that directory to path environment variable.
4. run clusterctl version command to crosscheck proper working :v:

![clusterctl windows]

[2022-02-17 12:02] sbueringer opened #6163 "Bump to golangci-lint v1.44.1"
golangci-lint v1.44.1 was just released, let's use it :)

Tasks:
* [ ] bump golangci-lint in .github/workflows/golangci-lint.yml
* [ ] run make lint and potentially fix findings
* [ ] the new release contains thelper v0.5.1 which fixes a panic. For that panic we had to introduce a workaround in https://github.com/kubernetes-sigs/cluster-api/pull/6014/files that we now should be able to revert.
  *

[2022-02-17 13:16] Bo0km4n opened #6165 "I want to confirm the desired number of KCP's replicas"
**User Story**
[code]

A operator can't confirm desired replicas when get KCP's information.
`REPLICAS` column means `.status.replicas`.
I guess KCP's information should show the desired numbers to the operators.

**Detailed Description**

[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**

[Miscellaneous information that will assist in solving

[2022-02-17 13:50] sbueringer commented on #1477
If I understood maintainers offered that already :) (@chrischdi @tobiasgiese please confirm :))

@vincepir What would be the road towards donation?

[2022-02-17 14:10] chrischdi commented on #1477
Yes that was one possible target or reason for us to even publish it to github.

I think the donation would help to get more contributions for the project and would increase acceptance to use it.

We try to talk internally to the people to clarify if proceeding is okay for them (to accomplish the formalities) :+1:

[2022-02-17 16:28] sbueringer commented on #6069
@fabriziopandini klog flags are now deprecated in CAPI (done by the JSON log format PR), e.g.:
[code]

How do we want to handle it from a tracking-perspective? If current plans hold the flags will be automatically gone when we upgrade to Kubernetes v1.26. So we don't need this / or a follow-up issue for a year or so.

[2022-02-17 16:40] sbueringer commented on #3889
The upstream **dynamic** log sanitization filter has been deprecated and will be removed [sanitization](https://github.com/kubernetes/enhancements/pull/3096/files).

The tags are still used and there is a KEP for static analysis: https://github.com/kubernetes/enhancements/tree/master/keps/sig-security/1933-secret-logging-static-analysis

It sounds interesting, but we have to test if it makes sense

[2022-02-17 17:27] CecileRobertMichon commented on #6017
emailed support

[2022-02-17 17:57] CecileRobertMichon commented on #6017
Answer:
`Laura did add all those names in our database.  It seems your DNS was not answering well for some of them, though, since we did not get a certificate for all of them after adding them.  This is the error I saw when I tried renewing the first time and is presumably also what blocked Laura's renewal from being a complete success:Unable to verify challenge for release-1-0.cluster-api.sigs.k8

[2022-02-17 17:58] CecileRobertMichon commented on #6017
Looks like release-1.0 and release-1.1 are good now. We might have to click the "renew certificate" button every time we release now. Better than emailing support though.

[2022-02-17 18:15] sbueringer commented on #6017
Certificates look good. I think one last problem.
For some reason `https://cluster-api.sigs.k8s.io/` is main instead of release-1.1

DNS looks okay:
[code]

I have no idea how to figure that out / where that could be configured. I suspect there might be something in the Netlify UI?

[2022-02-17 18:38] sbueringer commented on #5686
/assign

[2022-02-17 18:53] PushkarJ commented on #6153
Thanks for creating this Naadir. Automated SBoM generation as part of container image building with `ko` just came out: https://blog.chainguard.dev/auto-sboms-with-ko/ .

We could explore if its a good option for generating SBoMs for cluster-api container images.

[2022-02-17 19:56] sbueringer commented on #6098
Fixed. Just in time for v1.1.2. Thx @Jont828!

/close

[2022-02-17 19:56] #6098 closed

[2022-02-17 20:06] vincepri commented on #6126
Thinking about it a bit more, we should probably meet and define clear responsibilities of reference. Infrastructure, Control Plane, and other references should all have clear delineations.

If we think about the responsibilities of an infrastructure provider and its InfraCluster object, we can assume that this object provides the infrastructure for the Kubernetes Cluster, which can include a numb

[2022-02-17 20:09] sbueringer opened #6172 "migration-guide: document toleration of control plane taints in manager.yaml"
Let's document in our migration guide (https://cluster-api.sigs.k8s.io/developer/providers/v1.1-to-v1.2.html) that CAPI providers should tolerate both control plane taints (in manager.yaml). This makes sure they can be also run on v1.24 control plane nodes.

Let's also add a note that if the label is used in the manager.yaml that should be adjusted as well. (e.g. like here: https://github.com/kube

[2022-02-17 20:39] detiber opened #6173 "E2E framework has kustomize binary hardcoded"
**What steps did you take and what happened:**

In a project that inherits the e2e framework, with a makefile that allows for overriding the binary location of kustomize, without having kustomize installed in the environment's path, there is no way to override the binary to use for kustomize in the call to `clusterctl.CreateRepository` provided by the e2e framework.

https://github.com/kubernetes-

[2022-02-17 21:24] sbueringer commented on #6163
/retitle Bump to golangci-lint v1.44.2

@Darshnadas They just released v1.44.2. Can you please update to that one directly?

[2022-02-18 07:58] richardcase commented on #6126
Meeting to agree the responsibilities would be great :+1: Also agree that we need to be clear of the delineations and this is the issue we are facing with managed Kubernetes services.....the current delineations don't naturally fit.

This is a good example of why the current responsibilities of a control plane & infrastructure provider don't fit well for managed services like EKS and why we have e

[2022-02-18 11:27] fabriziopandini commented on #6173
/area testing
/milestone v1.2

[2022-02-18 12:27] fabriziopandini commented on #6161
/milestone v1.2
That would be a nice addition

[2022-02-18 12:33] sbueringer commented on #6165
I think that was this issue: https://github.com/kubernetes-sigs/cluster-api/issues/5332

[2022-02-18 12:36] sbueringer commented on #6160
That would be nice. The current version of our release note tool is based on:
[code]
So right now we don't have the data to make it work.
@fabriziopandini  WDYT about opening an additional/separate issue to consider this improvement? I think it would be nice but requires a bit of re-thinking how the tool currently works.

[2022-02-18 12:37] sbueringer commented on #6147
I think it depends on how/if it changes things like `kubectl apply` behavior
(and if it changes the behavior if it only fixes error cases or if it leads to different results)

[2022-02-18 13:11] ykakarap commented on #6161
@VibhorChinda Would you want to open a PR to add this section to the quick start guide?

[2022-02-18 13:22] #5719 closed

[2022-02-18 14:04] VibhorChinda commented on #6161
@ykakarap I would love to.
Can you please point out the path of the file where  need to add this section in the repo.

[2022-02-18 14:18] VibhorChinda commented on #6161
@ykakarap thanks will submit the PR soon :v:

[2022-02-18 14:23] sbueringer commented on #6172
/milestone v1.2

[2022-02-18 14:31] sbueringer commented on #6160
Ah got it. Sure.
Should we do it in a second PR once we have the trim prefix in?
Would be just nice to have that first as it immediately helps us by avoiding the retitle's

[2022-02-18 14:32] ykakarap commented on #6160
+1 to separate PRs.

[2022-02-18 15:07] fabriziopandini commented on #3828
Thanks all for chiming in!
Given that the only cross os approach is using files, then we already have
- `/run/kubeadm/kubeadm.yaml` for kubeadm init
- `/run/kubeadm/kubeadm-join-config.yaml` for kubeadm join

Personally, I don't see advantages in adding new markers files for signaling the same things so IMO the only thing we are missing is something that indicates if this is a control-plane machin

[2022-02-18 15:28] fabriziopandini commented on #6081
I'm personally -1 to change modules on release branches, I see this leading to problems.

Test module is designed for being consumed by providers, not so sure about the second-level import use case, but I get the point.

The best solution that comes to my mind is something similar to staging repositories in Kubernetes; a copy of CAPI test framework in another repo where we can publish a release wi

[2022-02-18 15:44] sbueringer commented on #3828
Agree. It's already possible to differentiate between join/init and it's possible for a user to add a marker file to e.g. the KubeadmControlPlane. Also no strong opinion, but maybe we should only introduce this new "API" if it's a frequent use case.

[2022-02-18 16:03] sbueringer commented on #5517
In general it sounds good to me to have fields with a clear semantic that cover our relevant use cases on the Cluster object and then infer the corresponding values in CABPK (if they are set, otherwise use defaults).

[2022-02-18 16:27] fabriziopandini commented on #3889
given that in CAPI we are storing all sensitive info in secrets, I'm leaning towards closing this issue (decorating types and running the static analysis won't provide a great signal).

[2022-02-18 16:28] fabriziopandini commented on #6069
I would keep this issue and
/retitle [inform users about klog flags removal when importing Kubernetes v1.26](https://github.com/kubernetes-sigs/cluster-api/issues/6069#)

[2022-02-18 16:34] #6093 closed

[2022-02-18 17:08] sbueringer commented on #6139
/milestone v1.2

[2022-02-18 17:10] sbueringer commented on #6160
/milestone v1.2

[2022-02-18 17:11] sbueringer commented on #6163
/milestone v1.2

[2022-02-18 17:12] sbueringer commented on #6151
/milestone v1.2

[2022-02-18 17:14] sbueringer commented on #6152
/milestone v1.2

[2022-02-18 17:18] sbueringer commented on #4620
/close
in favor of generating the images in kind itself

[2022-02-18 17:19] #4620 closed

[2022-02-18 17:21] sbueringer commented on #4807
/milestone v1.2

[2022-02-18 17:26] #4996 closed

[2022-02-18 17:27] sbueringer commented on #5008
/retitle Resolve release series labels in e2e config
/milestone v1.2

[2022-02-18 17:29] sbueringer commented on #5019
/milestone v1.2

[2022-02-18 17:33] sbueringer commented on #5121
As discussed in the grooming on 18th February, let's close this for now.
We might reconsider a similar feature when/if we introduce an abstraction for rollout of ClusterClasses

/close

[2022-02-18 17:33] #5121 closed

[2022-02-18 17:34] sbueringer commented on #5133
/close
given that the operator was moved to another repository

[2022-02-18 17:34] #5133 closed

[2022-02-18 17:37] sbueringer commented on #5184
/close
in favor of #6081

[2022-02-18 17:37] #5184 closed

[2022-02-18 17:38] sbueringer commented on #5258
/help

[2022-02-18 17:40] sbueringer commented on #5295
@yastij to bring it up in the next office hours

[2022-02-18 17:50] sbueringer commented on #5405
As discussed in the grooming on 18th February, let's close this issue based on that it's an unsupported use case to only upgrade core CAPI.

[2022-02-18 17:51] #5405 closed

[2022-02-18 18:05] sbueringer commented on #6016
/milestone v1.2

[2022-02-18 18:23] sbueringer commented on #1554
/assign @yastij to reassess

[2022-02-18 18:31] sbueringer commented on #2217
/help

[2022-02-18 18:33] sbueringer commented on #2318
/milestone Next

[2022-02-18 18:35] sbueringer commented on #2454
/assign @killianmuldoon
to re-assess the current state

[2022-02-18 18:41] sbueringer commented on #3106
As discussed on 18 February in the backlog grooming, we think the right way forward is to deprecate failureMessage and failureReason and implement this based on conditions.

[2022-02-18 18:41] sbueringer commented on #3134
/assign @fabriziopandini

[2022-02-18 18:57] sbueringer commented on #4620
xref: https://github.com/kubernetes-sigs/kind/issues/197

[2022-02-18 19:00] sbueringer commented on #3889
The static analysis is pretty fancy. I would keep the issue for now, I just want to try the linter at some point.

[2022-02-19 07:12] timoreimann commented on #2454
FWIW I submitted #4997 some time ago that addressed at least one occurrence of error hiding / swallowing issue. Not sure if this bug report is about more though.

[2022-02-21 07:07] rayandas commented on #6141
Hey folks, can I take this up?

[2022-02-21 07:25] Darshnadas commented on #6163
@sbueringer yes, sure!

[2022-02-21 09:49] sbueringer commented on #6141
Yes sure. Please only ignore the first task in the list above, I'll take care of that one.

[2022-02-21 10:00] rayandas commented on #6141
Sure, thanks.
/assign

[2022-02-21 10:39] sbueringer commented on #6017
Interesting. Now  the release-1-1.cluster-api.sigs.k8s.io page redirects to cluster-api.sigs.k8s.io. This would be fine in general, but unfortunately both are the book from main (the v1.1-v1.2 page doesn't exist on 1.1)

[2022-02-21 16:18] sayantani11 commented on #6161
/assign @VibhorChinda

[2022-02-21 17:24] randomvariable opened #6182 "Fuzz test - Failed roundtrip conversion in MachineHealthCheck"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

[code]

https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=44857

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version: [82a6513efb9800279a03b44357ef2a4a1

[2022-02-21 17:27] killianmuldoon commented on #6182
Is there a way to get added to the permissions to see these bugs?

[2022-02-21 17:30] randomvariable commented on #6182
I've asked how to change the disclosure to public now instead of May. In the mean time, you can PR yourself into https://github.com/google/oss-fuzz/blob/master/projects/kubernetes-cluster-api/project.yaml

[2022-02-21 17:44] sbueringer commented on #6182
Do we actually want now in case there is a serious security issue found? Or do we assume that won't happen

[2022-02-21 18:05] randomvariable commented on #6182
Just the specific issue.

[2022-02-22 07:47] #5516 closed

[2022-02-22 10:01] #5357 closed

[2022-02-22 10:08] fabriziopandini commented on #6182
/milestone v1.2
candidate for cherry picking

[2022-02-22 14:49] #5709 closed

[2022-02-22 16:17] #6091 closed

[2022-02-22 19:20] ykakarap commented on #6006
Update: The scenario mentioned in the issue is more generally possible and doesn't need the circumstances mentioned in https://github.com/kubernetes-sigs/cluster-api/issues/6006#issuecomment-1031421920 to happen.
The cluster deletion gets blocked in case of CAPD clusters because of the following:
* DockerMachines are not deleted because the reconciler returns early if `cluster.status.infrastructur

[2022-02-22 21:44] sbueringer commented on #6017
@CecileRobertMichon Okay not sure if you had to do something. But I think it works now (https://cluster-api.sigs.k8s.io is based on release-1.1)

I'll open a few PRs to update the cross-references to other version of the book tomorrow and then we should be finally done here :)

(+ I'll update the housekeeping issue so that next time we ~ now what we have to do then)

[2022-02-22 23:00] CecileRobertMichon commented on #6017
Interesting I didn't do anything since then... Glad it works now

@vincepri how do we get @sbueringer added to Netlify so he can access this stuff too?

[2022-02-23 06:53] sbueringer commented on #6017
Maybe it was triggered by a merge on release-1.1 after your change. Absolutely no idea how it works, but I assume they are running the book build after every merge (as specified in the netlify.toml), so maybe this triggered a rollout of the config.

[2022-02-23 12:08] fabriziopandini commented on #6017
I can help with Netlify too, even if it seems there is a bit of magic in it

[2022-02-23 12:57] sbueringer commented on #6017
Thx that's very good to know. Just to summarize, currently Netfliy behaves as expected. It's just about future changes/issues.

[2022-02-23 15:44] chrischdi commented on #1477
So after having a first talk, we would be willed to donate the project :-)

Would a donation to the kubernetes-sig be a better fit than donating it to the CNCF?

If contributing to the kubernetes-sig the requirements are documented here: [source](https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#sig-repositories)

Which would require to
* relicense th

[2022-02-23 16:38] sbueringer commented on #5968
Added a task above to switch to `klog.Background()` with 1.24 if possible.

[2022-02-23 17:00] #6103 closed

[2022-02-23 17:22] sbueringer commented on #5967
I'll close this issue for release 1.1=>1.2 everything is done
(the CAPI book versioning issue stays open for a bit for some backports to older books)

Thx to everyone who contributed!

I tried to keep the list as complete as possible, so it's easy to repeat for the next release. Please let me know if I missed something.

/close

[2022-02-23 17:23] sbueringer commented on #5967
@fabriziopandini Should we open the new issue now so we don't forget it or right before the v1.2 release?

[2022-02-23 18:59] sbueringer commented on #6155
/remove-good-first-issue

CAPD YAMLs have been changed accordingly.

Let's pivot back to what we want do for KCP / CABPK. Trying to summarize:

The old criSocket format (without URL scheme) is deprecated on multiple levels now (kubeadm / kubelet)

Our options are (listing all for completeness):
1. Document that folks should migrate to the new format in a Kubernetes 1.24 specific section in version

[2022-02-23 20:43] fabriziopandini commented on #5967
Let's wait until we have an idea about the v1.2 release date

BTW, this is great work! I'm sure we will greatly benefit from this!

[2022-02-23 20:53] fabriziopandini commented on #6155
I'm +1 to option 1 because AFAIK most of the users rely on kubeadm CRI autodetection (and it is just a warning now)
WRT to support warning in webhooks I'm +100 but I would consider a separated work, not an alternative to 1

[2022-02-23 20:59] sbueringer commented on #6017
Short update, last PR for this issue: https://github.com/kubernetes-sigs/cluster-api/pull/6194 :)

[2022-02-24 12:16] sbueringer commented on #6017
/close

Thx for everyone who contributed, especially @CecileRobertMichon !

[2022-02-24 12:17] #6017 closed

[2022-02-24 12:43] johannesfrey opened #6202 "The provided example to enable feature gates via extra_args in Tilt does not work"
**What steps did you take and what happened:**
Enabling the ClusterClass feature-gate in the tilt-settings.json file via the described way via [extra_args](https://cluster-api.sigs.k8s.io/developer/tilt.html#tilt-settingsjson-fields).
While trying to deploy the ClusterClass resource the admission webhook denies the request with following:
[code]

**What did you expect to happen:**
That the feature

[2022-02-24 13:35] fabriziopandini commented on #6202
/milestone v1.2

Q: Can we consider using https://github.com/kubernetes-sigs/cluster-api/tree/main/hack/tools/tilt-prepare to get this working properly?

[2022-02-24 14:33] fabriziopandini commented on #1477
@chrischdi that's great news!
let's discuss the next steps during office hours!

Personally I'm also intrigued by Vince's suggestion

Because this can help in having a quicker start (it is just a PR), and most importantly it allows a stricter collaboration with the CAPI core team while migrating the project to v1beta1, consolidating the first set of metrics etc. but I will be happy whatever path f

[2022-02-24 14:58] Darshnadas commented on #6163
@sbueringer one doubt what does "bump golang-ci lint" means? what does "bump" mean here?

[2022-02-24 15:00] sbueringer commented on #6163
Essentially "upgrade to"

[2022-02-24 15:01] DiptoChakrabarty commented on #6173
/assign

[2022-02-24 15:10] Darshnadas commented on #6163
oh, got it. Can you explain a bit more about the 2nd point?

[2022-02-24 15:11] sbueringer commented on #6141
Last PR: https://github.com/kubernetes-sigs/cluster-api/pull/6204

[2022-02-24 15:14] sbueringer commented on #6163
Essentially you change the linter version in `.github/workflows/golangci-lint.yml`
and then you run `make lint` locally.

This will then tell you if there are any linter findings that should be fixed.
It could be that there are new findings due to the new linter version. It could also be that there are no new findings.

If you're not sure how to resolve a finding feel free to just open a WIP PR (P

[2022-02-24 15:27] sbueringer commented on #6202
I've answered on the PR. Let's investigate a bit more what exactly happens.

[2022-02-24 15:29] chrischdi commented on #1477
That sounds good. I will attend next week :+1: .

@tobiasgiese or @johannesfrey : would be great if one of you could also free up some time :-)

[2022-02-24 15:41] tobiasgiese commented on #1477
Sure, I'll attend also, looking forward to it

[2022-02-24 15:59] johannesfrey commented on #1477
Sure, count me in as well :).

[2022-02-24 16:06] sbueringer commented on #6141
/close

[2022-02-24 16:06] #6141 closed

[2022-02-24 16:08] #5921 closed

[2022-02-24 16:33] Darshnadas commented on #6163
okay, got it

[2022-02-24 20:50] joejulian commented on #5491
We have a lot of experience in this space. Integrating with customer addon-tools is problematic as customers can configure those tools however they want and can easily conflict with the needs of an installer tool. We've encountered these problems in the wild with both flux and argocd. Limiting the installer to a specific namespace isn't sufficient as the user may configure their addon management t

[2022-02-25 12:57] moluzhui opened #6209 "How do I set the template Node size"
When I use [kind+cluster-api+cluster-autoscaler](https://notes.elmiko.dev/2020/05/22/kubernetes-autoscaler-capd.html) to achieve **automatic scaling**, the size of the new nodes seem to be related to the size of the host, but I want to set the size to quickly implement the scaling test. For example, set the size to 4 cores and 8G memory.

Is there a parameter to meet my needs?

[2022-02-25 13:03] killianmuldoon commented on #6209
I think this question might be better asked in the [autoscaler repo](https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler) but as far as I know our Docker infrastructure doesn't let you create nodes of different resource sizes.

[2022-02-25 13:07] killianmuldoon commented on #6209
There's a few issues related to this on the Kind repo as well: e.g. https://github.com/kubernetes-sigs/kind/issues/877 Seems like you might need to use some infrastructure that has VMs in order to get proper node resources.

[2022-02-25 13:10] moluzhui commented on #6209
Thank you very much. Maybe I didn't express it clearly, but when I deployed the autoscaling environment in `multiple places`, I found that the new node size was different in different environments, not in one environment.
I'm going to close it and look it up in other projects(kind and autoscaler)

[2022-02-25 13:10] #6209 closed

[2022-02-25 14:03] mweibel opened #6210 "MachinePool controller infrastructure reconcile fails when providerIDList is not set or empty"
**What steps did you take and what happened:**
Test to reproduce the issue can be found here: https://github.com/kubernetes-sigs/cluster-api/compare/main...helio:machinepool-empty-providerIDList?expand=1

While working on https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3253#issuecomment-1050792767 I noticed an issue with the CAPI MachinePool controller and it's behaviour when a Ma

[2022-02-25 18:05] #5569 closed

[2022-02-25 19:27] killianmuldoon commented on #6182
This issue is in the Go encoding Json library at https://cs.opensource.google/go/go/+/master:src/encoding/json/encode.go;drc=2580d0e08d5e9f979b943758d3c49877fb2324cb;l=1067

It appends bytes in order to make the decodable. I think there might be a way to make the round trip work with badly escaped strings like this - but I don't think we should as this isn't a valid value for unhealthy range - we'

[2022-02-25 22:55] Jont828 commented on #6157
/assign
@sbueringer Happy to take a look since we've worked together on test-infra stuff a little. Just to clarify, all I'd need to do is remove those jobs from the yaml in test-infra?

[2022-02-25 23:01] Jont828 commented on #5487
@enxebre Did you have any ideas in mind for how to document ownership of cluster resources? This is a bit off topic, but I've recently worked on a [CAPI GUI app](https://github.com/Jont828/capi-visualization) that visualizes resources. It currently does not show the ownership relations, but what do you think about using a graph or tree to document resource ownership?

[2022-02-25 23:36] Jont828 commented on #5457
/assign
@sbueringer @fabriziopandini I'd like to give this a shot. Where would we want to handle the variable substitution? Would we want to make changes to the Go code where the config file is read in, i.e. in [this file](https://github.com/kubernetes-sigs/cluster-api/blob/56d99d7bca51cd1506b24c6c7dc7cc4a6f458576/cmd/clusterctl/cmd/root.go#L113)? It looks like we handle stuff for envsubst in the

[2022-02-26 07:26] SubhasmitaSw commented on #5394
Hey @mehabhalodiya are you still working on it or may I pick this up?

[2022-02-26 07:31] SubhasmitaSw commented on #5704
/assign

[2022-02-26 07:52] SubhasmitaSw commented on #5394
Thanks @mehabhalodiya
/assign

[2022-02-26 12:31] kaitoii11 commented on #6008
The issue has been resolved in kustomize v4.5.2.
https://github.com/kubernetes-sigs/kustomize/releases/tag/kustomize%2Fv4.5.2
If we bump up to this version we should be able to replace "go get" to "go install"

/assign

[2022-02-26 23:16] vladimirvivien commented on #4897
/remove-lifecycle stale

[2022-02-28 10:05] sbueringer commented on #6157
Exactly!

[2022-02-28 10:45] fabriziopandini commented on #6210
/milestone v1.2

[2022-02-28 10:48] fabriziopandini commented on #5513
The idea is valuable, even if IMO it is required to break down the work in smaller, actionable use cases
/lifecycle frozen

[2022-02-28 10:52] fabriziopandini commented on #6182
@killianmuldoon thanks for investigating.
Let's report the problem to the go-fuzz team, so they can consider how to avoid reproting false negatives.
From out side, I'm +1 to close

[2022-02-28 10:53] fabriziopandini commented on #5487
FYI there is already a kubctl tree plugin showing document ownership

[2022-02-28 10:54] AdamKorcz commented on #6182
I wrote the fuzzer that reported the issue and am working on a fix to avoid future false positives. Thank you to @killianmuldoon for looking into this issue.

[2022-02-28 10:55] fabriziopandini commented on #5457
@ykakarap to provide guidance

[2022-02-28 17:01] SubhasmitaSw commented on #4938
Hello there, @sbueringer and @fabriziopandini. I'd want to take up this issue could you provide some further information to assist me to close it?

[2022-02-28 19:08] pydctw opened #6216 "Running e2e test fails in Tilt when multiple infra providers are deployed."
**What steps did you take and what happened:**
Deploy multiple infra providers to Tilt. In this case, I deployed both CAPA and CAPG.
[code]

Run e2e test - I ran [quickstart test for CAPA](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/test/e2e/suites/unmanaged/unmanaged_CAPI_quick_test.go). The test fails with the following message.
[code]

**What did you expect to happen:*

[2022-02-28 19:14] sbueringer commented on #6216
First analysis is that `clusterctl` is unable to automatically detect the infra provider when multiple are deployed.

I have to take a closer look if there is a good way for the e2e test to set the infra provider during `clusterctl config cluster`.

[2022-02-28 22:33] CecileRobertMichon commented on #3415
/close

due to https://github.com/kubernetes-sigs/cluster-api/pull/5156#issuecomment-906809788

[2022-02-28 22:33] #3415 closed

[2022-02-28 23:07] Jont828 commented on #6157
Just opened [this PR](https://github.com/kubernetes/test-infra/pull/25451), does this look right?

[2022-02-28 23:55] Jont828 opened #6219 "Add flavor templates to CAPD on Tilt"
**User Story**

As a developer working on CAPD, I'd like to be able to easily deploy [multiple example clusters](https://github.com/kubernetes-sigs/cluster-api/tree/main/test/infrastructure/docker/examples) or [any of the templates](https://github.com/kubernetes-sigs/cluster-api/tree/main/test/infrastructure/docker/templates) through local resources in Tilt.

**Detailed Description**

After I run

[2022-03-01 08:53] apricote opened #6220 "`clusterctl alpha topology plan` fails if infrastructure resource version does not match CAPI Contract Version"
**What steps did you take and what happened:**

- Clone `cluster-api`
- Clone `cluster-api-provider-openstack`
- Create `tilt-settings.yaml`:

[code]
- Create local kind cluster with `hack/kind-install-for-capd.sh`
- Deploy with tilt `tilt up` and wait until everything is ready
- Build clusterctl (or use latest release): `make clusterctl; export PATH=bin/:$PATH`
- Create file `cluster-resources.ya

[2022-03-01 09:18] sbueringer commented on #6157
/close

[2022-03-01 09:19] #6157 closed

[2022-03-01 09:29] sbueringer commented on #6219
I think in CAPZ this was implemented for the cluster-template flavors not for example YAMLs (?). This would be those YAMLs then: https://github.com/kubernetes-sigs/cluster-api/tree/main/test/infrastructure/docker/templates. We don't really have a lot of maintained flavors for CAPD, but we probably also don't need that many.

In general I think this can be useful, even though we're more or less re-

[2022-03-01 09:46] sbueringer commented on #6220
Just a short pointer for now (also mentioned in the Slack thread). I think the issue is not `GetGVKMetadata`, the problem is that we internally generate a "CRD" which only has v1beta1 contract => v1beta1 mapping. Because of that we assume that all CRDs compatible with the v1beta1 contract also have v1beta1 api version.

[2022-03-01 12:30] killianmuldoon opened #6222 "[1.0] Panic when adding topology to an unmanaged cluster"
**What steps did you take and what happened:**
1) Create a cluster using cluster api version 1.0.4
2) Edit the cluster to add `spec.topology.class`
3) Apply the updated cluster

**What did you expect to happen:**
Cluster webhook to properly validate the change i.e. by not validating the new topology against the old topology.

- Cluster-api version: 1.0.4
- Minikube/KIND version:
- Kubernetes versi

[2022-03-01 12:53] sbueringer commented on #4938
Okay interesting. @SubhasmitaSw Thx for your interest! :)

I think we can split this task in two:
* [ ] extend our current version.Compare func to be able to compare versions the way we want.
* [ ] go through our entire existing code and make sure we always use the right compare func.

I can take care of the second part as it's relatively complicated to go through the entire code and assess and wh

[2022-03-01 13:12] sbueringer commented on #6216
Some more context:
* `config cluster` is called by `ApplyClusterTemplateAndWait`.
* `ApplyClusterTemplateAndWait` has a parameter `InfrastructureProvider`
* We currently set it to `DefaultInfrastructureProvider` (which is the empty string) in all tests: https://grep.app/search?q=InfrastructureProvider%3A&filter[repo][0]=kubernetes-sigs/cluster-api

Potential solutions:
1. Detect infra provider bas

[2022-03-01 13:50] fabriziopandini commented on #6222
/milestone v1.0
This error happens in the 1.0 release only; cluster webhooks has been already improved in 1.1 and this operation is blocked/the panic cannot happen anymore

[2022-03-01 14:02] sbueringer commented on #6222
/close
as the PR has been merged

[2022-03-01 14:02] #6222 closed

[2022-03-01 14:03] yastij commented on #5517
/assign
/lifecycle active

[2022-03-01 14:25] fabriziopandini commented on #6216
/milestone v1.2

I think it is ok for our E2E to use as a default the first infrastructure provider from the docker file. The only downside is that E2E is not testing provider auto-detection, but as far as I remember this is covered by unit tests

[2022-03-01 14:27] sbueringer commented on #6216
I think it's fine if we only set it if there is one. This should cover 99% on the cases.

I think otherwise we would break cases where intentionally multiple infra providers are deployed (as we would always use the first one for config cluster).

[2022-03-01 14:34] fabriziopandini commented on #4938
This is not true because the comparison considers only major/minor and drops everything else

https://github.com/kubernetes-sigs/cluster-api/blob/f973e33a597196416d8a034af469439ff92d3ccc/controlplane/kubeadm/internal/workload_cluster_rbac.go#L107

There is also a specific unit test for this

https://github.com/kubernetes-sigs/cluster-api/blob/f973e33a597196416d8a034af469439ff92d3ccc/controlplane/k

[2022-03-01 14:44] fabriziopandini commented on #6216
I'm not really worried about breaking cases where intentionally multiple infra providers are deployed, because this is not working today; also, I want to make it possible to deploy multiple providers because this could be useful e.g. for starting using kubemark.

Using the first infra provider as a default provider ticks a couple of points:
- it covers without breaking changes the use cases where

[2022-03-01 14:58] SubhasmitaSw commented on #4938
I'll try this and let you know if I struggle somewhere. Thanks for the detailed info!

[2022-03-01 14:59] fabriziopandini commented on #6219
/milestone v1.2
My first reaction is that the idea is interesting but it needs some refining before implementation it at least around a couple of points:
- is it worth to reinvent kubectl inside tilt? where does this starts/ends? that could be a never-ending story: create cluster, scale cluster etc. etc.; also, ultimately the developer has to be familiar with kubectl as use it.
- UX, given that we

[2022-03-01 16:21] #5578 closed

[2022-03-01 16:37] sbueringer commented on #6216
Sounds good. Essentially we will support more cases than before (because currently the tests would just fail if multiple providers are deployed or defined in the e2e config).

Just to make sure we're talking about the same thing. We would change this code:
https://github.com/kubernetes-sigs/cluster-api/blob/a82dfd5e079a6640c79c4baf175f63cb65213749/test/e2e/quick_start.go#L91
to:
[code]
across all

[2022-03-01 16:46] fabriziopandini commented on #6220
/milestone v1.2

v1beta1 contract -> v1beta1 version is a wrong assumption, but I think that it is safe to assume that all the objects that are provided to topology dry run are compatible with the v1beta1 contract.

So it should be enough to change https://github.com/kubernetes-sigs/cluster-api/blob/07b5e0a41b87e6a100461d6ac4dd46d1172254e7/cmd/clusterctl/client/cluster/topology.go#L513

to somethi

[2022-03-01 16:49] sbueringer commented on #4938
@SubhasmitaSw
Great! Feel free to ask or just open a WIP PR (pr with `[WIP] ` prefix) if I should take a look.

@fabriziopandini Ah you're right, I missed that part!

[2022-03-01 16:50] fabriziopandini commented on #4938
/lifecycle frozen
given that it seems we have a path forward

[2022-03-01 16:54] sbueringer commented on #6220
+1 to backport.

The fix sounds good enough. Although it looks to me like this can lead to issues if someone uses multiple versions of CR with the same group/kind.

E.g. OpenStackMachineTemplate v1alpha4 + v1alpha3 in the same YAML. In this case we would get two CRDs with the same name and one would win. But I can live with the improvement.

If we want we can check for that case and return an erro

[2022-03-01 16:55] fabriziopandini commented on #6216
Basically yes.
Nit, let's implement how do we compute the default infra provider into a func, e.g. `E2EConfig.DefaultInfrastructureProvider()`, so if we have to change the logic in the future we have to touch only one place

[2022-03-01 16:59] fabriziopandini commented on #6220
Let's keep the fix to the issue as scoped as possible so we can have a clean backport.
Then we can eventually iterate for supporting multiple versions if there is a need, or simply document the limitation in case the problem arises.

[2022-03-01 17:00] sbueringer commented on #6216
Sounds good to me.

@pydctw If you have some time, do you want to pick this up? :)

[2022-03-01 17:41] apricote commented on #6220
This works great, output is now a valid plan.

I am also +1 for a backport, even though the command is marked as `alpha`, it is still really helpful (even required IMO) for the adoption of ClusterClass.

[2022-03-01 17:44] apricote commented on #6220
Just tested multiple versions (`OpenStackMachineTemplate` as `v1alpha4` for Worker and `v1alpha3` for CP) and it errored out:

[code]

Still an improvement over the current situation.

[2022-03-01 18:06] killianmuldoon opened #6226 "Deprecate and replace ClusterIPFamily String() method"
ClusterIPFamily, in v1beta1 cluster_types.go, has a String function which returns on of the following:

- "InvalidIPFamily"
- "IPv4IPFamily"
- "IPv6IPFamily"
- "DualStackIPFamily"

In #6171 it was decided that the suffix "IPFamily" was redundant in these types and could be better replaced with:
- "Invalid"
- "IPv4"
- "IPv6"
- "DualStack"

In order to do so the current String method will have to be

[2022-03-01 18:30] killianmuldoon opened #6227 "Rename 'replicas' to 'current' in KubeadmControlPlane, MachineDeployments and MachineSet kubectl output"
Cluster API should use "current" instead of "replicas" in CLI output to express the number of instances of an object in a scalable resource.
With https://github.com/kubernetes-sigs/cluster-api/pull/6164 we're adding `desired` to all three of the above objects, showing the number of replicas. In order to be consistent with the Kubernetes output for Daemonsets we should rename the 'replicas' column

[2022-03-01 18:45] sbueringer commented on #6226
I think it's not literally in line with the deprecation policy, but I think it's something we should make an exception for (guidelines never cover 100%). Especially given that there is no other way to change the behavior of the func **and** that this func is very rarely used (I'm only aware of CAPD).

So +1 from my side to deprecate now (in the v1.1->v1.2 doc) and change the behavior after the v1.

[2022-03-01 18:46] sbueringer commented on #6220
I think this case will be also fixed if we implement my suggestion :)

[2022-03-01 19:35] #6173 closed

[2022-03-01 21:03] enxebre commented on #6227
+1 from me. See https://github.com/kubernetes-sigs/cluster-api/pull/5304#discussion_r715119225 for prior discussion.

Let's make sure any convention we come up with https://github.com/kubernetes-sigs/cluster-api/blob/main/CONTRIBUTING.md#crd-additionalprintercolumns

[2022-03-02 00:22] pydctw commented on #6216
Sure. I can work on it.
/assign

[2022-03-02 06:04] Icybiubiubiu opened #6229 "Internal Error when creating k8s on Azure：failed calling webhook "default.cluster.cluster.x-k8s.io": Post "https://capi-webhook-service.capi-system.svc:443/mutate-cluster-x-k8s-io-v1beta1-cluster?timeout=10s": dial tcp 10.0.83.153:443: connect: connection refused"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
kind：0.11.1
clusterctl:v1.1.1
env: GlobalAzure
k8s version:1.23.3

config.yaml:
clusterctl.exe generate cluster icy-capik8s --kubernetes-version v1.23.3 --control-plane-machine-count=3 --worker-machine-count=3 > icy-capik8s.yaml

Error:
![image](https://user-images.githubusercontent.com/61

[2022-03-02 08:00] sbueringer commented on #6229
Looks like there is something wrong with your CAPI controllers.

Either they are not up/ready or the kube-apiserver of your management cluster can't reach them / their webhooks.

[2022-03-02 08:11] sbueringer opened #6230 "Nightly image push jobs are failing"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

The nightly image push jobs are currently failing: https://testgrid.k8s.io/sig-cluster-lifecycle-image-pushes#cluster-api-push-images-nightly&show-stale-tests=

**What did you expect to happen:**
After a few recent PRs we are now building kustomize via go install (https://github.com/kuber

[2022-03-02 10:55] sbueringer commented on #6230
/reopen

to confirm tomorrow if it works

[2022-03-02 11:23] fabriziopandini commented on #6230
@sbueringer I have re-triggered today's job and we are back to green

[2022-03-02 11:24] fabriziopandini commented on #6230
/close

[2022-03-02 11:24] #6230 closed

[2022-03-02 11:40] fabriziopandini commented on #6227
/milestone Next
Given this should be implemented when we rev the next API version

[2022-03-02 11:45] fabriziopandini commented on #6226
/milestone Next
Let's discuss the exception with the community
@enxebre @vincepri @CecileRobertMichon opinions?

[2022-03-02 12:21] sbueringer commented on #6230
Perfect, thank you!
Forgot we can do that :)

[2022-03-02 12:38] sbueringer commented on #6227
Q: If we want to change it with v1.3 should we add it **now** to our migration doc as deprecation? (I'm not sure where we should put that info)

[2022-03-02 12:41] killianmuldoon commented on #6227
Good idea. I think adding this to the migration doc should be enough of a warning to end-users. I think this is a pretty low impact change (Unless someone is using awk to manage clusters :smile: )

[2022-03-02 12:43] sbueringer commented on #6227
I would be fine with adding it there, given that we don't really have a better place imho (there is that one other page for clusterctl..)

[2022-03-02 12:53] apricote opened #6236 "clusterctl: Support Namespace resource in `clusterctl alpha topology plan`"
**User Story**

As an operator I would like to produce a topology plan using `clusterctl alpha topology plan` for resource files that include non-namespaced resources, such as `Namespace`.

**Detailed Description**

We currently create a combined manifest for the `Namespace`+`Cluster`+`ClusterClass` resources using `kustomize`. We then use the output from `kustomize build . > manifests.yaml` to cr

[2022-03-02 13:28] sbueringer commented on #6236
An alternative could be to check if the name of the Namespace resource matches the namespace of the namespaced resources.

[2022-03-02 14:10] fabriziopandini commented on #6227
Based on what we did in the past, breaking changes to columns have been implemented only when revving a new API version. I'm not sure we are going to rev a new API version in v1.3 and If this is not going to happen the deprecation notice will get lost ...

[2022-03-02 15:36] killianmuldoon opened #6238 "Ensure consistency across replica-based CLI printer columns"
A couple of changes are being proposed to bring CLI printer columns related to replica columns in line with Kubernetes types.

Additional work needs to be done to bring the printer columns fully in line with Kubernetes. Note, the below changes can not be made until we are updating the Cluster API api version (currently at v1beta1).

Using the Kubernetes Daemonset as a model we have:
[code]

Replic

[2022-03-02 15:46] fabriziopandini commented on #6238
/milestone Next
/kind api-change

[2022-03-02 15:51] detiber commented on #6143
For the CI jobs, are we not still overriding the CoreDNS/etcd image versions through config or env variables?

If so, then both CoreDNS and etcd should both be working following the upgrade just like any other upgrade scenario (assuming that the CoreDNS/etcd versions are >= the starting versions). In which case I would expect that we could verify that not only the CoreDNS Deployment is updated wit

[2022-03-02 15:52] detiber opened #6239 "E2E framework should fail faster when terminal provisioning failures occur"
There is currently no verification of progress when checking for all control plane machines to be available, all machine deployment machines to be available, scaling operations for KCP/MD, and rolling out updates for KCP/MD today, so if there is a terminal failure (failure message/reason set on an owned Machine), then ;you need to wait for the `wait-machine-upgrade`, `wait-control-plane`, and/or `

[2022-03-02 15:53] #6182 closed

[2022-03-02 16:02] fabriziopandini commented on #6239
/milestone v1.2
/area testing

This is somehow related to the ongoing discussion about how to report terminal failures, e.g https://github.com/kubernetes-sigs/cluster-api/pull/6218

[2022-03-02 16:03] vincepri commented on #6226
Is this actually worth an exception today? The strings definitely have some redundancy with the field, although it's not really breaking anything as far as I can tell. In terms of guidelines, it'd definitely be considered a breaking change. Apart from the face value of the change, is there anything worthwhile to warrant spend cycles for this?

[2022-03-02 16:15] detiber commented on #6143
Ah, reading a bit closer, I think I understand now. Apologies for my earlier confusion. I was thinking purely about CoreDNS/etcd and not kube-proxy. For the kube-proxy daemonset, I think there are potentially a few ways we could accomplish it:
- Add the necessary steps to PreKubeadmCommands to load the images into a ci-focused template
- Add the needed images to PrePullImages in the DockerMachineS

[2022-03-02 16:18] Darshnadas commented on #6163
Hi, @sbueringer I just upgraded the linter version and ran `make lint` and there were things listed as unidentified. As suggested by you I am opening `[WIP]` PR, please help me review it

[2022-03-02 17:11] sbueringer commented on #6226
Current state is that we exposed the IPFamily with `Invalid`, `IPv4` as builtin variable, and the `GetIPFamily` func returns similar values but with the IPFamily suffix.

I don't really think that it has a high priority to fix this, so I would be fine with just leaving it as is.

[2022-03-02 17:17] killianmuldoon commented on #6226
Absolutely fine with leaving this but I don't think it would need to be an exception if I'm understanding the deprecation policy right. We could:
1) Deprecate this method for a point release
2) Remove it after it's been deprecated for a point release
3) Add another String method that has the desired output

[2022-03-02 17:20] sbueringer commented on #6226
I think it's more about if it's worth the multi-release effort not necessarily that it's technically possible.

[2022-03-02 19:00] chrischdi commented on #1477
First of all thanks for the discussion in the office hours.

As follow-up: so the next steps would be:

* to add a small proposal about the feature set and wanted metrics which then targets to
* integrate it as a next step into https://github.com/kubernetes-sigs/cluster-api/tree/main/exp via a PR

[2022-03-02 19:24] Jont828 commented on #6219
The idea behind this issue was that it would be nice for developers to be able to spin up clusters for several clusters representing simple use cases like a default MachineDeployment or a MachinePool in one click and have autogenerated names so they won't collide. I don't think we'd need to handle scaling or anything complex, just to `kubectl apply` some examples and then the user can scale on the

[2022-03-02 19:35] sbueringer commented on #6163
Thx. Killian will take a look

[2022-03-02 19:37] sbueringer commented on #6219
Oh sorry yes. `clusterctl config cluster` was the previous name of the command, but that's gone now.

[2022-03-02 19:39] CecileRobertMichon commented on #6219
I've noticed in slack folks are confused about how to go about creating an initial cluster after running tilt up: https://kubernetes.slack.com/archives/C8TSNPY4T/p1604048789172400

This is more of a convenience for 1) running envsubst + apply to deploy workload clusters 2) as jonathan mentioned being able to create multiple clusters with one "rerun" gesture, which is useful when developing and tes

[2022-03-02 19:46] sbueringer commented on #6219
I think it should work on our Tilt env. We are also deploying provider CRs and are also able to run e2e tests against a tilt-managed cluster.

Actions have parameters, we could use a `text_input` parameter. Unfortunately there is no enum.
But I think we can probably create one button per template via a for-loop in the Tiltfile.

P.S. Slightly related, at some point we should probably compare featu

[2022-03-02 19:47] CecileRobertMichon commented on #6202
I'm curious, why not use kustomize substitutions? This is what I have in my tilt-settings.json file and it works fine:

[code]

[2022-03-02 19:48] Jont828 commented on #6219
Thanks for explaining @CecileRobertMichon. I looked into Tilt buttons and I believe they're supposed to be attached to a specific resource like this. In our use case we have a directory full of flavors and logs for the output of applying each flavor. It doesn't look like we could add that many buttons from a UI standpoint.

![image](https://user-images.githubusercontent.com/17480384/156438237-b097

[2022-03-02 19:49] sbueringer commented on #6202
That definitely works and I'm using it too. We're now just cleaning up Tilt in general so extra_args works expected overall.

[2022-03-02 19:49] CecileRobertMichon commented on #6202
We have this doc that describes it correctly: https://cluster-api.sigs.k8s.io/tasks/experimental-features/experimental-features.html?highlight=EXP_M#enabling-experimental-features-on-tilt

The other doc about extra_args is inaccurate and should be removed (or we should fix it)

[2022-03-02 20:37] fabriziopandini commented on #6219
ok, I got the use case and I like the idea of having a folder where I can put my yaml and a simple way to apply them to the cluster.
WRT to button vs resources, I was proposing buttons because they allow input parameters, so we don't need many but only one as we already implemented in https://github.com/kubernetes-sigs/cluster-api/blob/eecabe4d838f812880b367903721dec287b61047/Tiltfile#L342-L344

B

[2022-03-02 21:28] Jont828 commented on #6219
Sounds good. If I'm understanding the buttons correctly, they're bound to a specific resource, so for example we could create a resource for a template and then have a button w/ a text input for adding parameters. Would we want to use the templates in this folder? https://github.com/kubernetes-sigs/cluster-api/tree/main/test/infrastructure/docker/templates

[2022-03-03 06:22] weikaipan opened #6245 "ClusterClass Patches add operation can not concatenate a list to existing list"
**User Story**

As a operator I would like to author a patch that create a list of items and concatenate it to an existing list for users who supply an unknown size of list in `Cluster` `Variables`

**Detailed Description**

`ClusterClass`
[code]
`Cluster`

[code]

`VSphereMachineTemplate`

[code]

This results in error below

[code]

Since currently appending a list to a list resulting a nested l

[2022-03-03 06:42] sbueringer commented on #6245
I'm not sure how we can implement it given that JSON patch does not support any such operation.

Do you have an idea how this can be solved within the limitations of the JSON Patch RFC6902 spec that we're using?

(related #5944)

[2022-03-03 06:46] johannesfrey opened #6246 "Further clean up Tiltfile and read remaining information directly in tilt-prepare"
**User Story**

As a developer I would like to have a clean and easy way to use Tilt for local development.

**Detailed Description**

Based on https://github.com/kubernetes-sigs/cluster-api/pull/6214 (which passes the tilt-settings file to tilt-prepare) and a corresponding [comment](https://github.com/kubernetes-sigs/cluster-api/pull/6214#discussion_r817754888) we should further clean up the Tilt

[2022-03-03 06:53] weikaipan opened #6247 "Support password from secret in KubeadmConfig"
**User Story**

As a user/operator I would like to supply a Kubernetes API object from `Cluster.spec.variables` and `Patch` can apply the content for passing these content to `KubeadmConfigTemplate`

**Detailed Description**

One example use case is `KubeadmConfigTemplate.spec.users.password`. As a user, they would like to create a `Secret` object and let patching configure the password sourcing `

[2022-03-03 07:30] sbueringer commented on #6219
Buttons can be added either globally or on a resource. So we can have either just global buttons per template or we can e.g. associate them to the corresponding infra controller if we want to.

[2022-03-03 08:13] weikaipan commented on #6245
I tried to initialize a list by add operation.
So I still use go-template to range over a list of items, and use `add` with `/spec/template/spec/kubeadmConfigSpec/files` instead of `/spec/template/spec/kubeadmConfigSpec/files/-`.

As long as the stanza is empty, the json patch creates a list for me. But it means only the first patch to that stanza can work like _concatenation_.

[code]

[2022-03-03 08:23] sbueringer opened #6248 "Enable modification of provider args in e2e config"
**User Story**

As a developer I would like to be able to customize the args of providers deployed in e2e tests via the e2e config.

**Detailed Description**

The only way to customize provider manifests via the e2e test config today is `replacement`.
This has the limitation that we can only replace things that are already there, e.g.:
[code]

We recently wanted to add an additional flag and the o

[2022-03-03 08:23] sbueringer commented on #6248
/help

[2022-03-03 08:24] sbueringer commented on #6248
/remove-help

Hm reading the description it's not help wanted yet. The description of help wanted seems to be very close to good first issue. I didn't expect that :)

[2022-03-03 08:26] sbueringer commented on #6245
Yup. I think that's how JSON Patches (RFC6902) work. I think if the array essentially does not exist, it is added. If it already exists it adds it as an array element.

[2022-03-03 08:29] weikaipan commented on #6245
But it implies that if I have another array type variable called `.bar`. The same pattern doesn't work because `files` is already added. Is it right?

[2022-03-03 08:34] apricote commented on #6236
We currently deploy the clusters into seperate namespaces to isolate the resources and to enable fine-grained permissions. Once  #5673 is implemented, I will be happy to move away from 1-1 Relationship of ClusterClasses and Clusters.

That certainly makes sense. It just felt weird to add a "special case" for the `Namespace` resource.

If everyone is fine with this, I would like to implement the ap

[2022-03-03 09:14] sbueringer commented on #6245
Yup definitely. In general adding an array to an existing array will lead to the nested array. Independent how that situation occurs (from two variables or if the array already exists before)

[2022-03-03 09:19] sbueringer commented on #6236
From the perspective that we enable deploying the corresponding Namespace as part of the cluster-template that sounds fine to me.

Assuming that Fabrizo meant "different from the Namespace" here

+1 from my side

[2022-03-03 14:59] killianmuldoon opened #6249 "Improve consistency of errors returned from core webhooks"
The use of field errors (from k8s.io/apimachinery/pkg/util/validation/field) is common across the webhooks in Cluster API, but which errors are used and the messages that accompany them should be made more consistent. It would be great to get some help in reviewing how these are applied in different webhooks to bring them all in line with a single standard.

Core Cluster API currently has the foll

[2022-03-03 15:58] fabriziopandini commented on #3783
https://github.com/kubernetes-sigs/cluster-api/pull/6122 improved our version documentation
/close

[2022-03-03 15:58] #3783 closed

[2022-03-03 16:08] killianmuldoon commented on #6016
Hi @sayantani11 do you need any help / guidance with this?

[2022-03-03 16:11] killianmuldoon commented on #6245
@sbueringer should we close #5944 in favor of this? It seems to cover the same ground, just in a less detailed way.

[2022-03-03 16:11] fabriziopandini commented on #5008
@sbueringer am I wrong or this has been already addressed?

[2022-03-03 16:20] fabriziopandini commented on #5294
/milestone Next

[2022-03-03 16:23] fabriziopandini commented on #5519
/unassing @killianmuldoon

I'm working on this
/assign

[2022-03-03 16:37] weikaipan opened #6251 "Perform manual adoption from an unmanaged cluster to a managed cluster with ClusterClass"
**User Story**

As a develop/operator I would like to perform manual adoption from an unmanaged cluster to a managed cluster with ClusterClass for my unmanaged clusters once I upgrade CAPI and use ClusterClass and managed topology as the first-class APIs.

**Detailed Description**

The ask is developers (`kubectl` for example) and controllers are able to update unmanaged cluster's `Cluster.spec.to

[2022-03-03 16:50] sbueringer commented on #6245
Sounds good. I think at some point we mainly wanted to document the limitation in #5944. But as that's done we can close it. (I'll do it)

[2022-03-03 16:51] sbueringer commented on #5944
We documented the limitation in "Writing a ClusterClass" (https://cluster-api.sigs.k8s.io/tasks/experimental-features/cluster-class/write-clusterclass.html)

Let's close this issue in favor of #6245 regarding a potential implementation.

/close

[2022-03-03 16:52] sbueringer commented on #5008
My current information is that @sonasingh46 wanted to work on it.

[2022-03-03 16:54] sonasingh46 commented on #5008
I have not started to work on it yet. Was on PTO. Will prioritise it next week. Do we have a release deadline/blocker?

[2022-03-03 16:54] sbueringer commented on #6247
+1 to Vince's comment.

Retrieving variable values from resources would also have a big impact on variable validation on Cluster and ClusterClass creation/updates.

[2022-03-03 17:04] sidharthsurana commented on #6245
One possible way of solving this might to enhance the `ClusterClassPatch` type to include a looping construct
https://github.com/kubernetes-sigs/cluster-api/blob/main/api/v1beta1/clusterclass_types.go#L313

Examples of similar idea can be seen in ansible task loops construct https://docs.ansible.com/ansible/latest/user_guide/playbooks_loops.html

The idea would be something like below:

`Cluster`

[2022-03-03 17:36] sayantani11 commented on #6016
@killianmuldoon Yes!! I am still unsure about how to proceed with the issue, although I understood the issue

[2022-03-03 18:04] fabriziopandini commented on #5491
Started [Cluster API Addon Orchestration proposal](https://docs.google.com/document/d/1TdbfXC2_Hhg0mH7-7hXcT1Gg8h6oXKrKbnJqbpFFvjw/edit#heading=h.cbd41fsf3rhi) to brainstorm a little bit

[2022-03-03 19:52] fabriziopandini commented on #6246
@johannesfrey thanks for opening this issue!
/milestone v1.2

[2022-03-03 19:58] fabriziopandini commented on #6249
/kind cleanup
/milestone v1.2

[2022-03-03 19:59] fabriziopandini commented on #6248
/milestone v1.2

[2022-03-03 20:23] fabriziopandini commented on #6247
For context, `KubeadmConfigTemplate.spec.users.password` expect a hash (not a plain text password); and also a copy/paste of the cloud-init documentation that provides context about limitations of the underlying primitive.

#   passwd: The hash -- not the password itself -- of the password you want
#           to use for this user. You can generate a safe hash via:
#               mkpasswd --metho

[2022-03-03 20:29] schrej commented on #6247
In addition, copying a value from a secret into another API object that isn't a secret makes using a secret in the first place pretty useless, doesn't it?

[2022-03-03 21:48] Jont828 commented on #6219
@sbueringer I'm just a bit unsure about the buttons since if we have a lot of templates, we could run out of space. I'll open a PR to simulate what we have in CAPZ, and hopefully we can start from there.

[2022-03-04 07:59] sbueringer commented on #6219
Sure, was just a suggestion for an alternative :)

[2022-03-04 08:25] apricote commented on #6236
I updated the title to match the new scope and will begin implementing this now for `Namespace` resources..

/assign

[2022-03-04 19:36] killianmuldoon commented on #6016
So the root issue is that we can't generate DeepCopy methods for any of our builders which contain a field with the format map[string]interface{}{}. There's a few ways we could go about trying to change this, but basically we need every field in the object to be DeepCopy() - able.

I think the simplest approach is to change the structure of the builder so that it holds a copy of the object it will

[2022-03-04 21:48] #6202 closed

[2022-03-07 10:33] killianmuldoon commented on #5240
/assign

I'll take a look at closing out the last couple of issues related to this.

[2022-03-07 11:15] fabriziopandini opened #6261 "Make listObjByGVK retry with backoff"
**What steps did you take and what happened:**
the func `listObjByGVK` is used in clusterctl during the upgrade process, however this function does not implements a retry/backoff loop so it makes this bit of code sensible to transient errors that can happen during upgrades / in environments with poor network connections.

e.g.
[code]

**What did you expect to happen:**
clusterctl to be resilient t

[2022-03-07 12:10] ykakarap commented on #6261
Other places in the upgrade flow that could also benefit from similar refactor to be more resilient to network problems:
* Deleting a resource:
https://github.com/ykakarap/cluster-api/blob/5026786ee809c5def466049f5befd2a786fbcefa/cmd/clusterctl/client/cluster/components.go#L215-L222
This could be addressed immediately with the same kind of refactor. @fabriziopandini Can I make this part of the sam

[2022-03-07 12:12] fabriziopandini commented on #6261
@ykakarap let's break down in separated PR, so we can decide for cherry-picking case by case

[2022-03-07 12:13] fabriziopandini commented on #5260
@killianmuldoon can we close this given that we have a ~complete task list in https://github.com/kubernetes-sigs/cluster-api/issues/5281

[2022-03-07 12:15] fabriziopandini commented on #6261
/milestone v1.2

[2022-03-07 12:16] sbueringer commented on #6202
PR to improve the tilt env has been merged. I've opened this follow-up PR for the doc: https://github.com/kubernetes-sigs/cluster-api/pull/6263

[2022-03-07 12:16] fabriziopandini commented on #6247
/milestone v1.2

[2022-03-07 12:16] #2895 closed

[2022-03-07 12:19] killianmuldoon commented on #5260
Yeah, I think this can be closed.

/close

[2022-03-07 12:20] #5260 closed

[2022-03-07 12:28] sbueringer opened #6264 "Upgrade to kind v0.12.0"
Hey folks,

kind v0.12.0 was just recently released and alongside new node images based on the new kind version.

Let's migrate to the new version.

We have to do **at least**:
* [ ] upgrade kind (hack/ensure-kind.sh, test/go.mod)
* [ ] upgrade our e2e test config on main and for main (in test-infra) to use new kind images (https://github.com/kubernetes-sigs/kind/releases/tag/v0.12.0)

/kind featu

[2022-03-07 12:31] sbueringer commented on #6261
I wonder if this can be implemented more holistically. E.g. in other clients it's just possible to configure a retry count and then it will automatically retry whenever necessary.

I have no idea if that's directly possible with the client-go client or the underlying go http client.

[2022-03-07 12:33] fabriziopandini commented on #6229
/milestone v1.2
/priority awaiting-more-evidence

Given the attached info it is difficult to reproduce make a guess on why week hooks are not started.
Based on experience it is usually a networking problem given that week hook requires a fully working network setup and they usually are the first component to stress all the netwrok setup

[2022-03-07 12:34] fabriziopandini commented on #6220
/milestone v1.2

[2022-03-07 12:35] fabriziopandini commented on #6219
/milestone v1.2

[2022-03-07 12:35] fabriziopandini commented on #6216
/milestone v1.2

[2022-03-07 12:36] fabriziopandini commented on #6155
/milestone v1.2

[2022-03-07 12:37] fabriziopandini commented on #6264
/milestone v1.2

[2022-03-07 12:39] sbueringer commented on #4941
Given that the corresponding documentation PR was not merged, we have to at least wait with implementing this PR / maybe even reconsider if we should do it.

[2022-03-07 15:00] sbueringer commented on #2599
* [ ] we should double-check if `migration.ValidUpMigration` actually works as expected. In our upgrade tests there seem to be cases where we migrate from v1.8.0 => v1.8.4 which should not be supported according to `ValidUpMigration`

[2022-03-07 16:06] fabriziopandini commented on #6251
/milestone v1.2

A little bit of context:
The operation is currently blocked and not supported given that it is possible to ensure a "safe adoption" only under the assumption that the target ClusterClass fully reflects the current state of the Cluster, and that's a complex problem without a good solution yet given all the existing variant of Clusters; also, related, there is the idea to not encour

[2022-03-07 17:37] ykakarap commented on #6135
/assign

[2022-03-07 17:54] #6236 closed

[2022-03-08 08:57] AverageMarcus commented on #5295
@sbueringer did this get discussed in the office hours? I took a look at the meeting notes but couldn't see anything that looked relevant.

[2022-03-08 08:58] ykakarap commented on #6261
PR for addressing the delete resource point in https://github.com/kubernetes-sigs/cluster-api/issues/6261#issuecomment-1060620932: https://github.com/kubernetes-sigs/cluster-api/pull/6266

[2022-03-08 09:21] sbueringer commented on #5295
Not that I'm aware of

[2022-03-08 09:57] ykakarap opened #6267 "add flags to `clusterctl upgrade apply` to wait for the upgrade to finish before exiting"
**User Story**

A a user of `clusterctl` I would like the `clusterctl upgrade apply` command to wait for the new components to be available before the command exits. Similar to how `clusterctl init` enables this by using the `--wait-providers` and `--wait-provider-timeout` flags.
Adding flags with the same names ,`--wait-providers` and `--wait-provider-timeout`, should be fine.

**Detailed Descrip

[2022-03-08 09:59] ykakarap commented on #6267
/area clusterctl

[2022-03-08 10:05] mkumatag commented on #6267
not at all :)

[2022-03-08 10:06] meghanajangi commented on #6267
/assign

[2022-03-08 10:45] ykakarap commented on #6220
Yes, the problem is because of the CRDs we are installing during the `topology plan` command. (I briefly considered only installing CRDs that are not available in the backing cluster - that would solve the problem too - and later dropped that because we have to support the no backing cluster anyway and the problem would persist.)

This suggested fix would address the problem in the issue. Adding m

[2022-03-08 10:45] ykakarap commented on #6220
/assign

[2022-03-08 12:57] sbueringer commented on #6155
I'm tracking this as part of #5968, so we can document that folks should migrate when we have support for Kubernetes 1.24.

[2022-03-08 13:38] fabriziopandini commented on #6245
/milestone v1.2
Personally, I think that the long-term answer for all the advanced patching use cases is external patches based on Runtime SDK, and this use case is a good candidate because we are hitting the limit of JSONpatch specification.

However, given that Runtime SDK/external patches is still a WIP we also could consider an option that does not require API changes / adding other abstractio

[2022-03-08 13:40] #6261 closed

[2022-03-08 16:03] DiptoChakrabarty commented on #6264
/assign

[2022-03-08 17:44] #6210 closed

[2022-03-08 17:59] enxebre commented on #5880
/retitle support to propagate properties in-place from MachineDeployments to Machines

[2022-03-08 18:11] josh-ferrell opened #6277 "Support specifying container registry credentials in clusterctl config or as init command line flag"
**User Story**

As a user I would like to be able to install CAPI/CAPx components by specifying a imagePullSecret in the clusterctl config or via the CLI to support using a private registry for CAPI/CAPx images that requires authentication.

**Detailed Description**

The only way I've found thus far is to prestage the namespaces and a dockerconfigjson secret in a bootstrap cluster then patch each

[2022-03-08 19:34] weikaipan opened #6278 "ClusterClass: make MachineDeployment.spec.template.spec.nodeDrainTimeOut patchable"
**User Story**

As a [developer/user/operator] I would like to patch `MachineDeployment` for configuring `nodeDrainTimeOut` for workers.

Right now, patching `MachineDeploymentClass` allows us to patch `InfraMachineTemplate` and `KubeadmConifgTemplate`. But `nodeDrainTimeOut` is defined in `MachineTemplate` of `MachineDeployment`, so requesting patching it.

/kind feature

[2022-03-08 20:23] weikaipan opened #6279 "ClusterClass - requesting builtin variables to provide access to labels and annotations from Cluster"
**User Story**

As a developer I would like to access labels and annotations from `Cluster` for patching

**Detailed Description**

Our use cases define a `Cluster` object with labels and annotations in `Cluster`, `Cluster.spec.controlPlane`, and `Cluster.spec.machineDeployments`

The patch we would like to create is enabled by the values of annotation and labels, so requesting `builtin` variables

[2022-03-09 07:01] shivi28 opened #6281 "Use go-cmp instead of reflect.DeepEqual"
**User Story**
In CAPA office hours, we have discussed whether we should use `go-cmp` or `reflect` library for comparison. After discussion we concluded that `go-cmp` is better than `reflect`, and have collected some reasons in [this](https://hackmd.io/-za1FEtzQzikzn4ZUZFFXw) doc as well.

_( Not sure if it's useful for CAPI, but thought to create an issue. Feel free to close if it doesn't make se

[2022-03-09 07:18] DanielXiao commented on #5957
Even users pause the cluster before Velero backup, it does not solve this issue. During Velero restore, it will clean up OwnerReferences of each resource, see [resetMetadataAndStatus](https://github.com/vmware-tanzu/velero/blob/1e24d6ce718fc8fee890db34643e5be361fa5c7d/pkg/restore/restore.go#L1586). When users unpause the cluster after restoring, each MachineDeployment will try to adopt all orphan

[2022-03-09 07:31] sbueringer commented on #6279
Would it be possible to introduce variables for those values instead?

[2022-03-09 07:32] sbueringer commented on #6278
/area topology

[2022-03-09 07:34] sbueringer commented on #6278
@weikaipan I assume the ask is to add a `nodeDrainTimeout` field do MachineDeploymentTopology like we e.g. already have for failureDomain?
https://github.com/kubernetes-sigs/cluster-api/blob/main/api/v1beta1/cluster_types.go#L149

*Note*: If we add this field, let's keep in mind that we should do the same for nodeDeletionTimeout

[2022-03-09 07:54] sbueringer commented on #6277
An alternative to providing a configuration option for this might be to make clusterctl manifest templating pluggable: https://github.com/kubernetes-sigs/cluster-api/issues/3247

[2022-03-09 07:55] sbueringer commented on #6277
/cc @ykakarap

[2022-03-09 10:55] killianmuldoon commented on #5957
`machine-template-hash` isn't good enough by itself as, if I remember right, this isn't necessarily unique from one MachineDeployment to another.

The correct way to approach this is to add a selector with the MachineDeployment name - or some other machine deployment unique value - that's the default way to create MachineDeployment selectors.

If you leave the MachineDeployment Selector empty on c

[2022-03-09 11:08] killianmuldoon opened #6283 "Enforce good selectors on MachineDeployments"
As documented in https://github.com/kubernetes-sigs/cluster-api/issues/5957 it is possible to configure MachineDeployment Selectors in Cluster API minimally e.g. using the cluster name only, so that they are created correctly but are not unique enough to ensure correct adoption, for example in the event of a backup and restore. The default selector, set when no selector is set on the MachineDeploy

[2022-03-09 11:09] killianmuldoon commented on #3770
c/f https://github.com/kubernetes-sigs/cluster-api/issues/6283

[2022-03-09 11:20] fabriziopandini commented on #6283
/kind feature
/milestone v1.2

I think the current implementation derives from Kubernetes Deployments, and AFAIK also there it is up to the users to provide not overlapping selectors, but at the same time it allows the users to choose their own criteria for uniqueness.

I'm also worried by the effect of enforcing all the selectors on existing MD (it is probably a breaking change, and as far as I r

[2022-03-09 15:05] killianmuldoon commented on #2599
@sbueringer I'll take a look at this. - In which case shouldn't we be allowed to go to v1.8.4 ?

[2022-03-09 15:51] killianmuldoon commented on #5338
c/f https://github.com/kubernetes-sigs/controller-runtime/pull/1833

[2022-03-09 16:29] sbueringer commented on #2599
@killianmuldoon I think we kind of should, but it looks like the migration might have a problem migrating the CoreDNS config then.

There's an error somewhere in those assumptions, but I don't know where and we should find it out :)

[2022-03-09 17:25] killianmuldoon commented on #2599
/assign

[2022-03-09 18:26] DiptoChakrabarty commented on #6281
/assign

[2022-03-09 18:27] killianmuldoon commented on #6281
@DiptoChakrabarty I think we shouldn't proceed with a PR on this right now - it's something we'd want to discuss before making changes to the code base I think.

[2022-03-09 18:32] DiptoChakrabarty commented on #6281
Okay sure I get it

[2022-03-09 18:59] weikaipan commented on #6278
Yes! Thanks for confirming it.

[2022-03-09 20:37] fabriziopandini commented on #6281
/milestone v1.2
@shivi28 thanks for sharing your notes, really appreciated it.

I agree `go-cmp` has some features `reflect.DeepEqual` does not have, but IMO this alone is not a good reason to move away from the latter when those features are not required.

Let's hear other opinions as well, but unless there are stronger reasons (go-cmp significantly faster/using a fraction of the memory) I'm pers

[2022-03-09 20:39] fabriziopandini commented on #6278
/milestone v1.2

[2022-03-09 23:50] zhangheliu opened #6284 "Relax the webhook so people can experiment on adoption, but initially without any support/compatibility guarantees cross versions."
**User Story**

As a developer/user/operator I would like to relax the webhook that is currently blocking the manual adoption from an unmanaged cluster to a managed cluster so I could experiment on adoption.

**Detailed Description**

The developer should be able to edit a cluster and add the topology field to it.  This issue is a child issue of
https://github.com/kubernetes-sigs/cluster-api/issue

[2022-03-10 08:12] furkatgofurov7 opened #6285 "CAPI waiting forever for the volume to be detached"
**What steps did you take and what happened:**

We have a use case where we are running a daemon set that mounts a volume. When draining the node, CAPI does not touch the daemon sets. Due to https://github.com/kubernetes-sigs/cluster-api/pull/4945 CAPI waits for the volumes to be detached and that is not an issue normally since all pods are deleted when draining. But since volumes are attached to

[2022-03-10 08:14] furkatgofurov7 commented on #6285
/cc @sbueringer @fabriziopandini @vincepri

[2022-03-10 11:08] sbueringer commented on #6285
I think this happens because we use ignore all daemonsets: https://github.com/kubernetes-sigs/cluster-api/blob/main/internal/controllers/machine/machine_controller.go#L532

I don't think we can just change the hard-coded value to false, maybe we should make it configurable.

[2022-03-10 11:42] enxebre commented on #6285
This is intrinsic to DaemonSets, even if it the property was true, drain would just be blocked but it won't graceful terminate the pod since it'd be automatically recreated by the DaemonSet.
To fully remove the Pod from that Node you could leverage labels/NodeSelectors so this might come in handy https://github.com/kubernetes-sigs/cluster-api/pull/6255

[2022-03-10 15:47] maelk commented on #6285
What about making it configurable whether we wait for the volumes to be all detached or not. Would it be problematic to delete a node where a daemonset still has a volume attached ? Once the node is deleted, the pod will be deleted and the pvc too. Would this be too risky ?

[2022-03-10 15:56] sbueringer commented on #6285
I think this probably depends on the infrastructure provider. I saw some weird issues in cases like this with OpenStack. But this might be due to that specific OpenStack.

In the OpenStack case the CSI pod running on that node would be responsible to unmount etc. (I don't remember the details). Not sure how safe this is in general, how graceful this will be handled by CSI and the infrastructure if

[2022-03-10 16:48] steve-fraser opened #6286 "clusterctl inside cluster in pod cannot find management cluster"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

1. Deploy Pod in cluster
2. Install vsphere provider
3. Generate configuration
clusterctl generate cluster $(TEST_CLUSTER_NAME) \
    --infrastructure vsphere \
	-n $(TEST_CLUSTER_NAME) \
    --control-plane-machine-count 1 \
    --worker-machine-count 0 > /tmp/vsphere-test-cluster.yaml

[2022-03-10 17:12] ariel-zilber commented on #5475
Hi yes I  did .I am on it

[2022-03-10 18:18] sbueringer commented on #6286
Agree. I think it would be nice if clusterctl just does in cluster discovery as controllers do too.

It's not really nice if folks have to generate a kubeconfig somehow even though a Pod has the ServiceAccount credentials injected.

[2022-03-10 18:46] vincepri commented on #6139
/priority awaiting-more-evidence

[2022-03-10 20:02] fabriziopandini commented on #6286
/milestone v1.2

[2022-03-11 02:12] debankur1 opened #6293 "Single Node Kubernetes Cluster"
Is it possible to create a Single Node Kubernetes Cluster, with Cluster API mostly for IoT and edge devices(VM and bare metal)?

[2022-03-11 07:03] sbueringer commented on #6293
You can create a cluster with a single control plane node, but when that node should be rolled out / upgraded we currently create a second node and then drop the old one.

Note: This behavior is specific to the KubeadmControlPlane control plane provider. Others might do this differently.

[2022-03-11 07:21] #6165 closed

[2022-03-11 10:32] lentzi90 commented on #6285
I think this old issue https://github.com/kubernetes/kubernetes/issues/54368#issuecomment-339378164 could be relevant here. It is about StatefulSets, but a DaemonSet with volumes is coming quite close.

From a safety perspective I guess the best thing would be to shutdown the node but then we are already in infrastructure provider territory.

[2022-03-11 11:39] fabriziopandini commented on #6293
/kind support
/milestone v1.2

[2022-03-11 11:44] fabriziopandini commented on #6284
This seems a duplicate of https://github.com/kubernetes-sigs/cluster-api/issues/6251, @zhangheliu can we dedup/close?

[2022-03-11 11:55] #6161 closed

[2022-03-11 14:40] Ankitasw opened #6297 "Add Codecov badge to CAPI repo"
Codecov gives you a glance into the status of your project’s percentage of code coverage.

It would be good to see CAPI's code coverage on day-to-day basis since we have a good amount of unit tests coverage. Based on the results we may do some more improvements.
Also, keeping in mind that each new PR covers/tests the new code added.

Document to refer: https://docs.codecov.com/docs/quick-start

[2022-03-11 15:28] furkatgofurov7 commented on #6285
The draining of Daemonsets had been discussed in https://github.com/kubernetes/kubernetes/issues/75482 upstream k8s repo issue for a long time apparently but it has always been postponed (first been milestoned to v1.16) up until now.
On the other hand, there is https://github.com/kubernetes-sigs/cluster-api/issues/6158 which is similar to what we have been discussing here

[2022-03-11 18:48] sayantani11 commented on #6297
/assign
But @Ankitasw Can you explain a bit more about what do actually is desired?

[2022-03-11 18:50] Ankitasw commented on #6297
Hey @sayantani11, as you can see in our README.md that there are few badges listed there. We want to add a new badge to our repo which will tell the percentage of code coverage for overall code. Please check the link mentioned above.
If you are still not clear, let me know, we can pair up sometime next week.

[2022-03-11 19:02] zhangheliu commented on #6284
hi @fabriziopandini , the idea was that #6251 was more like the parent epic for all the stories (this story being one of them) that we need to complete in order to fix #6251.

do you prefer us to track all the stories with #6251 only?

[2022-03-11 19:03] sbueringer commented on #6297
Hey folks,

let's please wait a bit and discuss it first. I'm not sure if we want it. While it is nice to see the code coverage, it might lead us to overly focus on getting to a certain percentage of test coverage vs. focusing on having the right test which cover the logic appropriately.