[2018-08-22 06:41] roberthbailey commented on #47
Thanks @hardikdr -- that is a great summary. A couple of points of clarification:

* I like the idea of the MachineSet controller only needing to watch Machines and not have dependencies on Nodes (for the reasons you mentioned).
* I dislike the idea of MachineSet controller needing to decode ProviderStatus on Machines, because that makes it dependent on specific implementations of Machine; instead

[2018-08-22 15:10] roberthbailey commented on #471
/cc @hardikdr

[2018-08-22 20:39] roberthbailey commented on #409
We discussed this issue during the working group meeting today and the consensus is that folks think we should move back to CRDs. @detiber has started doing some prototype work using kubebuilder (see https://github.com/detiber/cluster-api-crd) but we could use some help moving this issue forward.

[2018-08-29 06:08] hardikdr commented on #75
I can see following annotation based approach as a low-hanging fruit - which I believe should also resolve the issues of atomic operations.

- We by-default prioritize all machines to `priority:3` via annotation – Machine-deployment basically adds this annotation on all machines while creation.
- While scaling-down the machine-deployment,  Autoscaler will decrease the priority of those specific se

[2018-08-29 12:27] randomvariable commented on #409
What's needed to move this forward, and do we want it done within the 1.12 timeframe?

[2018-08-29 13:14] detiber commented on #409
@randomvariable So far in https://github.com/detiber/cluster-api-crd I have the basic API structs migrated over, but work still needs to be done to finish up the generated controllers, adding the validating webhooks to ensure validation parity, and adding the mutating webhooks for setting default values.

It'll probably be next week sometime before I'll be able to continue any work on it. I'm more

[2018-09-02 21:46] ingvagabund commented on #75
We can have multiple delete strategies, parallel to the image pull policy. E.g.

[code]

where the `deletePolicy` could be:
- Random
- Delete the oldest replica
- Delete a replica with lower priority
..

It can default to the Random. The goal is to unblock the integration of the cluster API into the autoscaler in case we don't get agreement in reasonable time.

The code in question: https://github

[2018-09-04 04:52] roberthbailey commented on #75
The autoscaler would only work with the lowest priority policy though, right? Otherwise the autoscaler would try to scale down by a specific machine (by changing the priority) and when the machine set was resized a random or oldest machine would instead be deleted.

[2018-09-04 19:49] kris-nova commented on #449
Closing as #480 will track this now

[2018-09-04 19:49] #449 closed

[2018-09-05 05:07] davidewatson commented on #253
I originally thought it would be possible to reuse the `Node` condition `KubeletReady` to indicate a `Machine` had been created, but now I am not so sure. One problem is this coupling is not trivial when the corresponding `Machine` is in a different cluster than the `Node`.

When we were working on our ssh provisioner, we had to ssh from the manager cluster (where our controllers run) to the manag

[2018-09-05 15:12] enxebre opened #490 "Separate Machine APIs from Cluster APIs"
I'd like to bring up a conversation about evolving a Machine APIs at a separate cadence from the Cluster API. This ticket aims to facilitate and track a discussion around beta requirements for having a machine API distinctly from beta requirements for the Cluster API project as a whole. A beta API for machines should enable provisioning and deprovisioning machines via Kubernetes-style API, support

[2018-09-05 15:15] enxebre commented on #490
ping @roberthbailey @hardikdr @ingvagabund @bison

[2018-09-05 17:58] kris-nova commented on #480
Per cluster api call I am going to send an email to sig-arch and sig-cluster-lifecycle suggesting the word "variants" as our champion.

[2018-09-05 17:58] dlipovetsky commented on #490
I'd like to understand what the `Context` object would be. If it is not the `Cluster` object, will it be able to provide the context that the different machine actuators want?

[2018-09-05 18:15] dlipovetsky commented on #490
If we want to remove the cluster assumption from the machine actuator, we can change the machine controller so that it passes only the Machine object to the actuator.

The actuator would need to identify and get the Cluster object from the API. To identify it, the actuator could follow a reference to the Cluster object (adding this reference to the Machine object has been discussed in #41 and #252

[2018-09-05 19:36] detiber commented on #490
I also wonder how much this actually accomplishes, considering that the provider implementations are still very much in flux, it seems like this `Context` object would still need to pass in the full `ProviderConfig` and `ProviderStatus` from the cluster object to ensure that actuator implementations are able to retrieve the necessary config/status they might require.

[2018-09-06 00:07] sidharthsurana opened #493 "Support syncing a set of labels from MachineDeployment/MachineSet/Machine to Nodes"
This issue is to add the capability of defining user defined labels, annotations & taints to be created automatically on the created nodes.

for e.g.: The following MachineSet when realized on any of the provider, should result in the 2 user defined labels `latency-sensitive: yes` and `service-class: gold` to be created on the nodes created as part of this machineset.
[code]

The same mechanics sh

[2018-09-06 10:50] dgoodwin commented on #493
This would be nice, we had to write a little controller ourselves to get those applied.

[2018-09-06 20:06] nupejosh commented on #157
Hey @jessicaochen I'm doing a deep dive on cluster-api in hopes to contributing to the community with a provider of my own. I want to understand a bit more about clusterctl. Can you approve my request for access to the google docs, Overall Clusterctl Design & Overall Bootstrap Design, that you pasted above?

[2018-09-06 20:27] roberthbailey commented on #157
@nupejosh - are you a member of the cluster lifecycle sig mailing list? You can always join the list and disable receiving email if you just want to get permissions. It's difficult for Googlers to make docs publicly visible, so we often share them with the mailing lists and you are likely to hit the same issue with other docs that you stumble across.

[2018-09-06 20:34] nupejosh commented on #157
@roberthbailey Thanks for the tip! I just joined the kubernetes-sig-cluster-lifecycle group and mailing list. I'll see what docs have been shared there.

[2018-09-06 20:35] jessicaochen commented on #157
Agreed that if you join the groups, (in this case, kubernetes-sig-cluster-lifecycle@googlegroups.com and/or kubernetes-dev@googlegroups.com) you should have all the access you need. Do let me know if you still do not have access.
 

[2018-09-06 23:27] #252 closed

[2018-09-10 10:59] enxebre commented on #490
@dlipovetsky that sounds reasonable.
- Remove the cluster assumption from the actuator interface https://github.com/kubernetes-sigs/cluster-api/blob/master/pkg/controller/machine/actuator.go#L25
- Actuators can fetch the cluster object or use self contained machines. Each specific actuator implementation might/might-not choose to retrieve the cluster from the given machine object
- Separately keep

[2018-09-10 14:46] csrwng commented on #490
@enxebre I agree, this would allow us to separate concerns.

Given that the general agreement on referencing the cluster from the machine resource was to make it an optional reference, it makes sense that the actuator implementation be where the link is made if necessary.

[2018-09-10 18:18] sflxn opened #495 "delete command doesn't allow vm-driver to be set"
Clusterctl doesn't have a vm-driver option to pass through to minikube.  Without this, Vmware's Workstation and Fusion cannot be used as the minikube driver.

[2018-09-10 20:12] derekwaynecarr commented on #493
the list of labels, taints, and annotations need to be additive (not authoritative)

[2018-09-12 11:34] enxebre opened #497 "dynamic link and reconciling between machines/nodes"
Currently the link between machines and nodes relies on something arbitrarily setting an annotation on the node to match a given machine name.
https://github.com/kubernetes-sigs/cluster-api/blob/master/pkg/controller/machine/node.go#L43
https://github.com/kubernetes-sigs/cluster-api-provider-gcp/blob/master/clusterctl/examples/google/provider-components.yaml.template#L294

This is to discuss about

[2018-09-12 11:38] dgoodwin commented on #497
+1, we had to do this with our own controller but it feels like it makes good sense in the cluster-api controllers. We have the same node addresses struct used on both the nodes and machine status so IP matching was the best option we could come up with. Curious if there are better ways.

[2018-09-12 11:41] enxebre commented on #497
cc @roberthbailey

[2018-09-12 13:50] derekwaynecarr commented on #497
I agree that we should have a mechanism to automatically associate a machine to its corresponding node separate from the existing annotation.  The use case I would like to support is creation of a Machine -> creation of a Node -> Node appears to the API server without a role label -> Machine controller assigns a role label to a Node (so identifying labels that steer rather than repel workloads are

[2018-09-12 20:11] #495 closed

[2018-09-13 19:52] alvaroaleman opened #501 "machineDeployment controller races+panics on startup when a machineSet exists"
Currently, the `machineDeployment` controller sometimes panics on startup when a `machineSet` already exists:

[code]

If I read the code correctly, this is caused by the `machineDeployment` controller adding an [EventHandler for Adds of machineSets in its `Init`](https://github.com/kubernetes-sigs/cluster-api/blob/ba672fe598bc56a7fd155cf959ca6ce6d1882cb8/pkg/controller/machinedeployment/controlle

[2018-09-14 08:03] vikaschoudhary16 commented on #493
@dgoodwin

Wondering what is the issue in extending existing machine controller in cluster-api to perform this task as well in the reconcile loop?

[2018-09-14 13:14] hardikdr commented on #490
IMHO we should try to avoid reference to cluster-object from  actuator-interface in machine-controller: [ref](https://github.com/kubernetes-sigs/cluster-api/blob/master/pkg/controller/machine/actuator.go#L25)
I can see following supporting pointers:
- Users might actually be willing to use the machine-api stack, machine-* controllers indepedent of cluster-controller.
    - I can recall this discus

[2018-09-14 20:10] #398 closed

[2018-09-16 21:59] randomvariable opened #502 "Provide network allocation strategy"
Various cloud providers would need to allocate multiple subnets from a larger super network.

Common functionality could be provided to allocate smaller subnets using standard algorithms
such as [RFC 3531](https://tools.ietf.org/html/rfc3531)

[2018-09-17 00:51] derekwaynecarr commented on #490
@enxebre we need to also determine how we coordinate draining nodes prior to removal of the machine.  not having consistent drain will cause problems with stateful applications.

[2018-09-18 06:52] Lion-Wei commented on #479
@sflxn @roberthbailey Is anyone working on this? I'd like to be participate in this work if you don't mind. : )

[2018-09-19 07:49] Lion-Wei commented on #497
I think we may not really care about which exact machine this node linked, we do care about is the machine's flavor, so how about use machineClass?
Then we don't have to distinguish cloud provider, or which machine, just need to choose a type of machine.

[2018-09-19 17:06] anfernee opened #505 "Clear documentation for machine and cluster actuator interface"
The machine actuator interface is not defined clearly here: https://github.com/kubernetes-sigs/cluster-api/blob/master/pkg/controller/machine/actuator.go#L25 It's confusing to the implementer of the interface about the expected behavior. The same applies to cluster actuator.

For instance:
- Existed
  - What is existing? VM is created, or started, or network stack is ready, or the service is start

[2018-09-19 21:31] roberthbailey commented on #505
/cc @hardikdr

[2018-09-24 10:27] ingvagabund opened #510 "Provide testing framework to be used across all actuator implementations"
To verify each actuator works properly we need to run a series of tests. Some tests require creation of various clients (e.g. to list nodes, machines, etc.) followed by CRUD queries over various resources (see [1], [2] for examples). Would be great to have all the pieces in the main upstream repo so we can together polish and provide testing framework for the current and the future implementations

[2018-09-24 10:28] ingvagabund commented on #510
@enxebre @dgoodwin @detiber

[2018-09-25 07:46] #501 closed

[2018-09-25 12:39] ingvagabund commented on #75
Is there any solution that provides atomic operation?

Machineset controller should not change the number of replicas since it's up to `machineset` consumers to do it. The controller's responsibility is to either create new machines or delete existing (at the same time updating machineset's status). Based on that there is no mechanism to protect a machineset from very rapidly alternating changes o

[2018-09-25 14:00] detiber commented on #409
As an update, the current work to enable this has moved into https://github.com/kubernetes-sigs/cluster-api/pull/494

[2018-09-27 15:45] timothysc opened #516 "Migrate LeaderElection startup into ClusterAPI Framework"

[2018-09-28 07:46] chaosaffe commented on #409
I don't think this issue meets the requirements for the [help wanted](https://github.com/kubernetes/community/blob/master/contributors/devel/help-wanted.md) label.

Please feel free to re-add if you disagree.

/remove help

[2018-09-28 18:28] dlipovetsky commented on #505
These are great questions. Since what the methods do differs among providers (e.g. I'm implementing a provider that targets pre-existing machines, so `Create` only deploys software), I think the provider office hours could be a good place to discuss (any proposed changes would be presented at the working group meeting).

Here's a gdoc for jotting down thoughts: https://docs.google.com/document/d/1

[2018-09-28 18:34] dlipovetsky commented on #505
Here's a relevant discussion about the Cluster actuator interface: https://github.com/kubernetes-sigs/cluster-api/pull/190#discussion_r189697124

[2018-09-28 19:41] dlipovetsky commented on #414
I'm waiting for the move to CRDs before working on this change.

[2018-09-29 02:33] roberthbailey commented on #414
Thanks. :)

[2018-10-01 10:37] roberthbailey commented on #75
@maisem has been thinking about this as well, so adding him in here.

[2018-10-01 11:14] roberthbailey commented on #490
@derekwaynecarr - I believe that the drain logic is intended to be part of the common code in the machine controller, with the goal of making it consistent. I don't recall if it's in there yet or not.

[2018-10-01 11:46] enxebre commented on #490
@roberthbailey @derekwaynecarr we are currently patching the core machine Controller for draining the node on a delete event. For this to work we are also running a custom controller which links nodes with machines and ensures this this is filled `machine.Status.NodeRef` so the right node can be drained hence the need for https://github.com/kubernetes-sigs/cluster-api/issues/497

[2018-10-01 21:57] nikhita commented on #118
This is fixed in https://github.com/kubernetes/k8s.io/pull/128. Thanks @spangenberg!  :tada:

Closing.
/close

[2018-10-01 21:57] #118 closed

[2018-10-02 19:28] chaosaffe commented on #505
/assign chaosaffe

[2018-10-03 17:39] sidharthsurana opened #518 "Make sure documentation is clear that MachineDeployment is the right model for "disruption budget" style machine updates"
Based on the discussion in the cluster-api sig meeting on 3rd Oct, @timothysc suggested to look deeper into the possibility of introducing the concept of `Disruption Budgets` in the context of machine controller. See [Disruption Budgets](https://kubernetes.io/docs/concepts/workloads/pods/disruptions/) fore reference in context of the kubernetes pods

This issue is a tracking Issue for related disc

[2018-10-03 18:05] nikhita commented on #518
[Link](https://docs.google.com/document/d/16ils69KImmE94RlmzjWDrkmFZysgB2J4lGnYMRN89WM/edit#heading=h.5d12rrrxp5o3) to the meeting notes.

/cc @alvaroaleman @xmudrii

[2018-10-04 21:52] sidharthsurana opened #519 "Support "Static IP" configuration for the Machines"
Currently, the IP configuration for the `Machines` only support DHCP and not static IP.
I believe there is a real use case where we do want to control the IP addresses assigned to the Machines from the cluster-api layer.
If need be one could pack in the `ProviderConfig` part of the `Machine` the static IP information and have the cloud provider provision `that` instance of a `Machine` with the pro

[2018-10-04 23:12] davidewatson opened #520 "Remote Node/Object References"
# Problem

`MachineStatus` contains an optional `NodeRef` field:

https://github.com/kubernetes-sigs/cluster-api/blob/f31486484d5b33c785540eeaffd47fe57832aef5/pkg/apis/cluster/v1alpha1/machine_types.go#L90

There are a couple of places where the ability to refer to the `Node` corresponding to a `Machine` is extremely useful if not essential. Information in `Node` objects can be used as surrogates

[2018-10-04 23:56] davidewatson commented on #520
@detiber @hardikdr @oneilcin

[2018-10-06 01:13] tamalsaha opened #522 "Support Kubernetes 1.12 client libraries"
We would like to use these apis from a project uses Kubernetes 1.12 client-go etc. Can this project use Kubernetes 1.12 client libraries, now that kubebuilder migration is complete?

Does it require special support from Kubebuilder ? or this can be done directly at this project?

cc: @pwittrock @roberthbailey

[2018-10-06 02:32] roberthbailey commented on #522
Which APIs are you referring to?

[2018-10-06 02:35] tamalsaha commented on #522
https://github.com/kubernetes-sigs/cluster-api/tree/master/pkg/client

[2018-10-06 07:18] roberthbailey commented on #522
The new code isn't using those; it's using the dynamic client instead. I updated some of the older code to stop using them but not all of it. I was considering them deprecated and only around until we get rid of all usages of them.

[2018-10-08 02:54] Lion-Wei opened #526 "can't bootstrap cluster cluster again with err "clusters.cluster.k8s.io test1 already exists""
After use clusterctl boorstrap a cluster with minikube, clusterctl should cleanup the bootstrap cluster, but left etcd data in the bootstrap machine, and when we try to bootstrap cluster again, with got error:
[code]

IIUR, after `pivotNamespace`, we should cleanup resources in the original cluster.

[2018-10-08 02:54] Lion-Wei commented on #526
/assign

[2018-10-08 08:07] Lion-Wei opened #528 "Delete relevant machines when machineset be deleted"
When we delete machineset, the related machines can't be deleted automatically.

I think it would be better if we can delete related machines when machineSet be deleted.

[2018-10-08 08:30] prashanth26 commented on #497
@Lion-Wei I think we would care about which exact machine is backing the node object. This especially makes sense when we would try to link the [machine health check mechanism](https://github.com/kubernetes-sigs/cluster-api/issues/47) where we would like to update machine status based on node conditions. Does that make sense?

[2018-10-08 10:17] alvaroaleman commented on #497
Why not simple use `Machine.Status.NodeRef` and in case you need the Machine for a node, just iterate over all machines?

[2018-10-08 11:55] randomvariable opened #529 "Provider plugins for clusterctl"
In the course of building out https://github.com/kubernetes-sigs/cluster-api-provider-aws,
we've ended up with another tool `clusterawsadm` to handle AWS specific tasks.

https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/184 adds the ability
to get the console logs for a given machine, and now includes kube-client to do so.

It'd probably be ideal if there could be a common plugin i

[2018-10-08 12:42] davidewatson commented on #409
@roberthbailey, @pwittrock: Is there anything left to do for this issue?

[2018-10-08 12:43] davidewatson commented on #480
@kris-nova: Should this be closed?

[2018-10-08 21:50] chaosaffe commented on #505
/assign chaosaffe

[2018-10-09 05:39] roberthbailey commented on #409
Nope; fixed by #494.

[2018-10-09 05:39] #409 closed

[2018-10-09 16:30] radkat opened #530 "[FR] authentication with GCP"
Need a way for Cluster API (specifically, the machine deployment bit) to be able to authorize as the GCP user to create/delete the machines on their behalf. Something like we already use in core Kubernetes to authorize the master: https://github.com/kubernetes/client-go/blob/master/plugin/pkg/client/auth/gcp/gcp.go -- I don't know whether it's possible to reuse the existing code for that.

[2018-10-11 07:53] Lion-Wei opened #533 "UpdateClusterObjectEndpoint not work in clusterctl create cluster"
When I using `clusterctl create cluster`, got an error in update cluster object endpoint step. Here is the error message:
[code]
I'm sure this error occured in https://github.com/kubernetes-sigs/cluster-api/blob/master/cmd/clusterctl/clusterdeployer/clusterclient/clusterclient.go#L404.

There are high possibilities that this is provider side problem, but I can't find the root cause, I looking for

[2018-10-11 11:18] randomvariable opened #534 "Cluster initialisation and add-ons"
One of the goals of the AWS provider was to be CNI agnostic, and we were expecting to
use the add-ons manifest to do this.

Right now, the add-ons manifest only gets applied after the cluster is pivoted, but
we can't pivot before networking is set up, so we've ended up hardcoding one CNI.

I will probably PR a change to move the order of the add-ons application so it gets applied
as soon as the co

[2018-10-11 11:20] randomvariable commented on #533
Copying from slack...

We had a similar problem where after the cluster gets pivoted, and we've not yet rebuilt the
status fields on the cluster, we don't have the endpoint available for clusterctl to grab.

Have hacked around it in https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/207, but we should make this retriable (and I think there was consensus on this in the meeting on 10/1

[2018-10-12 08:45] Lion-Wei commented on #533
@randomvariable Hi, I think I found the root cause.
Seems like k8s didn't support crd subresources(status/scale) until 1.12, and clusterctl bootstrap cluster is in v1.10 by default. Don't know whether other people also encountered this problem.
https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#subresources

[2018-10-12 08:45] Lion-Wei commented on #533
/assign

[2018-10-12 14:57] tstromberg commented on #475
I agree with @roberthbailey's workaround - but being pinned to an old version is also going to be non-sustainable long-term. I don't yet understand the motivation behind the behavior change, but I'll try to push forward kubernetes/minikube#3076

My apologies for the inconvenience.

[2018-10-15 02:40] Lion-Wei commented on #533
@jessicaochen @roberthbailey Can you help me take a look, thanks.

[2018-10-15 02:52] Lion-Wei commented on #528
xref: https://github.com/kubernetes-sigs/cluster-api/pull/513

[2018-10-15 09:02] roberthbailey commented on #533
Strange. I didn't see this problem using the GCP provider (using minikube with a 1.10 bootstrap cluster).

[2018-10-15 09:18] roberthbailey commented on #533
This is one of the places where I didn't swap in the dynamic client during the CRD migration. I'm curious if using the dynamic client helps here, or if the behavior would be the same as what you are seeing with the generated client.

[2018-10-15 09:42] Lion-Wei commented on #533
@roberthbailey Thanks for replaying, I was tested this problem by curl `/apis/cluster.k8s.io/v1alpha1/namespaces/default/clusters/test1/status` in both 1.12 and 1.10, and only got result in 1.12.
By since it worked for GCP provider, maybe I should do more test. . . :slightly_frowning_face:

[2018-10-15 16:27] alvaroaleman opened #543 "MachineDeployment controller never deletes old MachineSets"
Currently the `MachineDeployment` controller never deletes old `MachineSets`, because the [cleanup logic is gated by](https://github.com/kubernetes-sigs/cluster-api/blob/3d2b6073ab61c4b617437419067e48a539f58dc2/pkg/controller/machinedeployment/rolling.go#L60) a [check that relies on the `MachineDeployment` status](https://github.com/kubernetes-sigs/cluster-api/blob/3d2b6073ab61c4b617437419067e48a5

[2018-10-15 16:29] alvaroaleman commented on #543
/assign

[2018-10-16 06:53] Lion-Wei commented on #533
Hi, @roberthbailey , we now pretty sure openstack provider in 1.12 cluster will work well. Is this any other reason could lead to this problem?

[2018-10-16 07:16] flaper87 commented on #533
I've tested this with `1.10` and `1.12` and I can confirm the inability of doing `PUT` requests on a `status/scale` subresource on `1.10`.

I'm not familiar with this part of the code/kubernetes but, is there a way we can workaround this without increasing the minimum required version?

[2018-10-16 08:07] roberthbailey commented on #528
Deleting a machineset *should* delete all of the machines that were created as part of the set. If that isn't happening, it's a bug and should be fixed (and a unit test added).

[2018-10-16 08:27] roberthbailey opened #545 "Remove ginkgo code (introduced by kubebuilder migration)"
We previously went through and removed all of the ginkgo code. Then it came back. There isn't much of it and the sooner we take it out the easier it will be to do so.

This should be relatively easy, even for someone new to the project.

/cc @krousey

[2018-10-16 11:19] nikhita commented on #533
CRD subresources are available in 1.10, but only via enabling a feature gate. They are enabled by default from 1.11.

[2018-10-16 11:28] flaper87 commented on #533
@nikhita thanks for getting back to us. Would ` --feature-gates=CustomResourceSubresources=true` be enough?

[2018-10-16 11:40] nikhita commented on #533
This + adding the `.spec.subresources.status` field in the CRD would work.

An example CRD with those fields can be found here: https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#subresources

[2018-10-16 12:13] Lion-Wei commented on #533
@nikhita Thanks a lot. :+1:
But we can't make clusterctl create bootstrap cluster with featuregate `CustomResourceSubresources=true`, right? So maybe still need a pr to fix this issue.

[2018-10-16 12:35] randomvariable commented on #533
As long as that flag is forward compatible, that's fine. I'll be updating the AWS docs to tell people to set minikube to launch with kubernetes version 1.12.x

[2018-10-16 12:52] flaper87 commented on #533
@Lion-Wei to be honest, I'd rather do what @randomvariable is going to do than enabling the feature on `1.10`. I tested it with `1.12` and things seem to work(ish)

[2018-10-16 17:21] enxebre opened #547 "create always gets call after triggering an update con machine controller"
Since we move to CRDs on the machine controller `create` always is unnecessarily called after triggering an update
https://github.com/kubernetes-sigs/cluster-api/blob/master/pkg/controller/machine/controller.go#L170
whereas before:
https://github.com/kubernetes-sigs/cluster-api/blob/0.0.0-alpha.3/pkg/controller/machine/controller.go#L145

[2018-10-16 18:35] alvaroaleman commented on #147
I started to toy around a little with the `Webhook` functionality of Kubebuilder by [trying to let it do Defaulting + Validation for `MachineDeployments`.](https://github.com/alvaroaleman/cluster-api/compare/master...alvaroaleman:webhook-generated)

While I got it ultimately working, there are some issues:

* This functionality is not part of a released kubebuilder version yet, one must build it f

[2018-10-16 20:17] chaosaffe commented on #475
AFAIK this is no longer an issue after the CRD migration as we can use `v0.30.0` without any modifications, but I am not sure where other providers are at with their changes to CRD's

[2018-10-16 22:54] roberthbailey commented on #475
Apparently we didn't have any documentation in this repo about needing a higher version, so we don't need a docs PR to fix this. I've also confirmed that I can create a CRD-based cluster using the gcp provider with minikube 0.30.0 so I'm going to close this as obsolete.

[2018-10-16 22:54] #475 closed

[2018-10-16 23:01] joejulian commented on #475
Excellent, thanks!

[2018-10-17 09:21] alvaroaleman commented on #545
@roberthbailey Can you elaborate a little? Does that mean we don't want to use ginkgo at all?

[2018-10-17 16:36] roberthbailey commented on #545
Pretty much. We had ginkgo originally and folks were inclined to use the built-in go test patterns rather than add an extra layer of test libraries on top for various reasons. We can discuss more in the weekly meeting if you'd like.

[2018-10-17 17:09] roberthbailey commented on #534
+1 to applying addons earlier instead of creating a separate class of addons that get applied at a different time.

[2018-10-17 17:11] mvladev commented on #534
https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/addon-manager is a good tool for this.

[2018-10-18 17:07] alvaroaleman opened #552 "Optional struct literal fields in the API do not allow defaulting them via a Webhook"
Currently we have a set of optional struct literal fields in our API, e.G: (This is an incomplete list):

* https://github.com/kubernetes-sigs/cluster-api/blob/19551f1e342dfef3c73657de8cd7db54594e95c3/pkg/apis/cluster/v1alpha1/cluster_types.go#L52-L53
* https://github.com/kubernetes-sigs/cluster-api/blob/19551f1e342dfef3c73657de8cd7db54594e95c3/pkg/apis/cluster/v1alpha1/machinedeployment_types.go#

[2018-10-18 17:30] #543 closed

[2018-10-18 18:19] #534 closed

[2018-10-19 05:13] #547 closed

[2018-10-19 17:11] detiber opened #554 "Add phases support to clusterctl"
Currently the clusterctl workflows are pretty monolithic and more advanced usage (such as using existing clusters for bootstrapping, or avoiding pivoting the cluster-api components) has required adding additional flags. It would help if we exposed logical phases to users to allow them to create more advanced workflows without buying into the existing clusterctl workflows or having to leverage comp

[2018-10-19 17:11] detiber commented on #554
/assign

[2018-10-20 05:02] roberthbailey commented on #552
@pwittrock / @erictune - can you confirm that making these fields pointers is the intended approach with CRDs? I think we followed the convention from [pod] Deployments for making spec.Strategy a literal, and it seems unfortunate to have different conventions for CRD-based types and native types.

[2018-10-21 13:37] alvaroaleman opened #555 "Check if cluster-api prow image still needs etcd"
Currently the cluster-api image used by prow for our jobs contains etcd: https://github.com/kubernetes/test-infra/blob/2e10a0bbe9b34737fa022d71187528b4c4721322/images/cluster-api/Dockerfile

We should check out if this is still required and if not remove etcd from it.

[2018-10-22 11:39] ingvagabund commented on #510
Current e2e framework for aws and libvirt actuator lives at https://github.com/openshift/cluster-api-actuator-pkg. Anyone freel free to reuse it and/or extend it.

[2018-10-22 16:38] erictune commented on #552
As I read it, this is not a CRD vs core types issue, right?  If I wanted to write a webhook that mutated deployment strategy, then I would have the same problem, right?

[2018-10-22 16:40] erictune commented on #552
For this specific case, are you trying to set to a fixed default value?  If so, does defaulting in the openAPI fix the problem?

[2018-10-22 17:38] alvaroaleman commented on #552
@erictune

Not sure, it may work as the apiserver knows that appv1.Deployment has a `.Spec.Strategy` field. We would have to test that.

Well, not exactly, we want to set `spec.Strategy.Type` to` rolling` and if `spec.Strategy.Type == "rolling"`, we want to default `spec.Strategy.RollingUpdate.MaxSurge` and `spec.Strategy.RollingUpdate.MaxUnavailable` to `1`/`0`, respectively.

The [docs on crd op

[2018-10-22 17:59] detiber opened #556 "Provide a way to exclude certain resources when pivoting a cluster"
Currently when pivoting a cluster all resources included in the provider config are created on the target cluster. Ideally there should be a way to exclude certain resources (either through a predefined annotation or a label) to allow for certain marked resources to be excluded from the pivot (and potentially also from the generated configmap).

Use case for this is currently with the AWS provider

[2018-10-22 17:59] detiber commented on #556
/assign

[2018-10-22 18:01] droot commented on #552
@mengqiy might know the answer to this one since he is more familiar with the webhook machinery.

[2018-10-22 20:06] roberthbailey commented on #526
Are you using clusterctl with the option to leave minikube up? The default is to delete minikube, which has the side-effect of cleaning up these resources (and leaving it up was meant to be a debugging tool).

[2018-10-22 20:08] roberthbailey commented on #502
Do we have multiple providers that need this functionality or are we adding it to the shared code base under the assumption that it will be useful to share in the future?

[2018-10-22 20:17] roberthbailey commented on #554
I've added this to the weekly meeting topics for discussion.

[2018-10-23 00:12] mengqiy commented on #552
This will happen to both CRD and core types. This is a pointer vs non-pointer issue, aka round-tripping issue in k8s.

Not always.
If the mutating webhook reacts on [`CREATE` operation](https://github.com/kubernetes/api/blob/843ad2d9b9ae703c74f2f43959e6ce0b24cc3185/admissionregistration/v1beta1/types.go#L239), then YES. The reason is that an empty non-pointer filed will get a zero value after roun

[2018-10-23 11:37] Lion-Wei commented on #526
@roberthbailey Thanks for replaying, I didn't leave minikube up, but I was using `--vm-driver=none`, this flag might be influential... It will left etcd file after minikube stop.

[2018-10-23 14:02] timothysc opened #557 "RFE: One shot deployment"
There are several use cases where having a bootstrapping cluster is actually an impediment.  We should try to structure the framework to support such use cases for traditional deployment methods.  In this scenario, clusterctl logs inline the deployment of a cluster, and controller run in a one-shot mode to deploy the cluster.

[2018-10-23 14:06] timothysc commented on #557
This will force abstraction layers in the code, which I'd argue would be good for the long-term health of this project.

[2018-10-23 17:47] timothysc commented on #557
/cc @chuckha @detiber @vincepri

[2018-10-24 14:45] ingvagabund commented on #554
I am exercising a slightly different workflow when provisioning a k8s cluster with cluster API stack deployed. Basically trying to skip the requirement for bootstrapping cluster. Instead, I am running an actuator directly to provision a single master node and doing all the work there. In steps:
1. call actuator directly to provision a master machine (machine provider config points to user data tha

[2018-10-24 15:12] roberthbailey commented on #554
@ingvagabund - for your workflow, how are you are running the cluster api stack on the master? Are you using labels / taints?

[2018-10-24 20:37] justinsb commented on #552
Is this a bug in the way we are calculating JSON patches?

Perhaps another way of asking the question: if we constructed the JSON patch using a different mechanism, is it possible to express the object initialization and would apiserver correctly apply the patch?

[2018-10-24 21:03] alvaroaleman commented on #552
Interesting question. I _think_ its not, because the json patch has to look different depending on if the user passed in `.spec.strategy.type: ""` or if `.spec.strategy` was completely unset, this is something we can currently not distinguish.

The only way to make that happen would be to marshal the raw request object into a `map[string]interface{}` but this would defeat the initial goal of using

[2018-10-25 09:06] flaper87 opened #559 "The apiserver port is hard-coded"
`clusterclient.go` has a `const` with the apiserver port set to  `443`. This is not ideal as it forces deployments to use such port.

One way this could be solved is to add a `GetEndpoint` function that is capable of returning the full apiserver endpoint. Ideally, `cluster-api` should be smart enough to figure this out without depending on the provider.

Any opinions the above idea? Any thoughts o

[2018-10-25 23:10] sflxn opened #560 "clusterctl delete cluster missing some useful options"
Clusterctl create has a few options that are quite useful, including using an existing cluster, passing in optional minikube flags, and the option to not clean up the bootstrap cluster at the end.  For testing out the delete functionality, these flags (esp the existing cluster) would be quite useful.

[2018-10-26 20:32] xmudrii commented on #55
This issue should be fixed now that https://github.com/kubernetes-sigs/cluster-api-provider-digitalocean exists.

/close

[2018-10-26 20:32] #55 closed

[2018-10-30 01:57] #545 closed

[2018-10-30 03:56] davidewatson opened #567 "Document how providers should deploy shared CRDs"
With the move from AAs to CRDs there are now two sets of CRDs which must be deployed to create a functioning Cluster API cluster:

- Cluster API CRDs: https://github.com/kubernetes-sigs/cluster-api/tree/master/config/crds
- Provider-specific CRDs, for example, https://github.com/kubernetes-sigs/cluster-api-provider-aws/tree/master/config/crds

One way this has been done is by constructing a `provi

[2018-10-30 14:19] chuckha opened #570 "Godoc sometimes does not follow best practice"
I noticed a few places that the first word is not the thing being documented:

1. https://github.com/kubernetes-sigs/cluster-api/blob/master/pkg/apis/cluster/v1alpha1/machine_types.go#L46
2. https://github.com/kubernetes-sigs/cluster-api/blob/master/pkg/apis/cluster/v1alpha1/machine_types.go#L52
3. https://github.com/kubernetes-sigs/cluster-api/blob/master/pkg/apis/cluster/v1alpha1/machine_types.g

[2018-10-31 15:52] davidewatson opened #571 "Umbrella: Documentation pre-print requirements"
The Cluster API documentation may always continue to be improved. The following tasks are necessary for complete coverage.

## Required:

- [x] Decide Firebase vs. gh-pages vs netify.
- [x] Create architectural diagram for CRDs (https://github.com/kubernetes-sigs/cluster-api/issues/786).
- [x] Create kubectl/controller/actuator/etc. logic traces (https://github.com/kubernetes-sigs/cluster-api/issu

[2018-10-31 17:17] chaosaffe commented on #519
While I do see a need for this, I think it would be preferable to have IPAM outside of the `cluster-api` but prefer to see it implemented as a separate controller. Not all clouds will require this, and a separate controller could have domain specific CRDs to represent the pools, assignments, etc...

[2018-10-31 17:53] roberthbailey commented on #519
/assign @sidharthsurana

@sidharthsurana offered to write up a google doc describing the use cases and some possible implementation paths.

[2018-11-01 19:35] #560 closed

[2018-11-02 08:14] roberthbailey commented on #490
The drain logic definitely isn't in the machine controller yet. We should add it. I might be able to put together a PR for this in the next week or so, since we have drain logic floating around in a number of places already.

[2018-11-02 08:31] enxebre commented on #490
@roberthbailey we've been patching the code controller to include the logic here https://github.com/openshift/cluster-api-provider-aws/pull/60/files
I'm happy to create a PR of the likes here if there's interest. We should probably also consider consume this logic from a common place, e.g similar to https://github.com/openshift/kubernetes-drain

[2018-11-02 08:40] roberthbailey commented on #490
Ideally we will get server side drain at some point... I'll take a look at the OS drain code; it's probably similar to what we have and is already is an easily consumable package.

[2018-11-02 18:18] radkat commented on #530
Wrong repo for this.

[2018-11-02 18:18] #530 closed

[2018-11-04 19:38] #258 closed

[2018-11-04 21:20] stpabhi opened #574 "Invalid directory path in clusterctl README.md"
[code]

[2018-11-05 10:36] enxebre commented on #497
Even using machineClasses there's a need for a having a machine<->node map in order to reconcile information and support things like health checks, role reconciliation or draining on delete.
For reference this is a controller https://github.com/openshift/machine-api-operator/blob/master/cmd/nodelink-controller/main.go#L64 we currently use to ensure the right `machine` label is set on every node so

[2018-11-05 21:34] #505 closed

[2018-11-07 00:15] roberthbailey opened #576 "Upgrade lodash dependency"
<img width="757" alt="screen shot 2018-11-06 at 4 15 03 pm" src="https://user-images.githubusercontent.com/7751204/48102281-2b95e300-e1df-11e8-9a48-28f51783de03.png">

[2018-11-07 05:42] roberthbailey commented on #576
/assign @davidewatson

This dependency was introduced by https://github.com/kubernetes-sigs/cluster-api/pull/566; the relevant file is `./docs/book/package-lock.json`

[2018-11-07 23:50] #576 closed

[2018-11-08 00:00] sidharthsurana commented on #520
One suggestion is can't we continue to have the `NodeRef` object be associated with the Machine Object for the remote cluster as well? After all the `NodeRef` as of today simply has the following:

[code]
Now whenever *any* controller wants to use this `NodeRef` info, they simply need to refer to the `Cluster` this `Machine` belongs to, get the right kubeconfig for the cluster (either one pointing

[2018-11-08 01:35] iamzhout commented on #201
@dlipovetsky Hi, Daniel, is there any further work or discussion on this proposal?

I'm also interested in this topic.

[2018-11-08 20:15] chaosaffe commented on #574
This is closed with #575
/close

[2018-11-08 20:15] #574 closed

[2018-11-08 20:21] chaosaffe opened #580 "Implement Scale Subresource for MachineSet"
With the move back to CRD's we haven't added support to MachineSet for using the `scale` command with `kubectl`. Adding support for the [scale subresource](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#scale-subresource) would allow for use of the `scale` command.

/good-first-issue

[2018-11-09 02:31] stpabhi commented on #580
/assign @stpabhi

[2018-11-09 02:34] stpabhi commented on #580
I would like to work on it

[2018-11-09 09:17] flaper87 commented on #580
@stpabhi sounds great, go for it! :cake:

[2018-11-09 12:15] roberthbailey commented on #526
My only concern with cleaning them up by default is that if you are relying on leaving minikube up after deployment to debug an issue and we clear everything out of etcd inside of minikube, then it may be much more difficult to see what went wrong.

Would it be sufficient to add documentation to explain how to manually clear out etcd if you don't use a vm driver that causes it to be automatically

[2018-11-09 14:35] detiber commented on #580
The good news is that the annotation to generate the scale subresource is already present in the version of sigs.k8s.io/controller-tools that we have vendored :)

[2018-11-14 14:10] randomvariable opened #587 "Migrate from glog to klog"
As per [EMEA implementer's call](https://docs.google.com/document/d/1IZ2-AZhe4r3CYiJuttyciS7bGZTTx4iMppcA8_Pr3xE/edit), glog should be replaced with k8s.io/klog

Fixes: https://github.com/kubernetes-sigs/cluster-api/issues/587

[2018-11-14 14:12] chaosaffe opened #588 "Replace glog with klog"
As part of the move with upstream from [glog](https://github.com/google/glog) to [klog](https://github.com/kubernetes/klog), we should follow this in cluster-api and the providers.

xref: https://groups.google.com/forum/#!topic/kubernetes-dev/7vnijOMhLS0

/good-first-issue

[2018-11-14 14:12] randomvariable commented on #587
/help
/good-first-issue

[2018-11-14 14:13] randomvariable commented on #587
Further information in https://groups.google.com/forum/#!topic/kubernetes-dev/7vnijOMhLS0

[2018-11-14 14:14] chaosaffe commented on #588
Duplicate of #587

[2018-11-14 14:14] #588 closed

[2018-11-14 22:05] stpabhi commented on #587
@randomvariable I would like to work on it

[2018-11-14 22:17] randomvariable commented on #587
Thanks!

/lifecycle active
/assign @stpabhi

[2018-11-14 22:18] randomvariable commented on #587
That message is ok, you're ready to go.

[2018-11-16 08:54] enxebre opened #592 "machine annotation uniqueness"
We should ensure machine annotation uniqueness by scoping to the api. https://github.com/kubernetes-sigs/cluster-api/blob/master/pkg/controller/node/node.go#L35
Similar to https://github.com/kubernetes/kubernetes/search?q=annotation&unscoped_q=annotation
Tooling setting the annotation would need to be updated

[2018-11-16 15:36] chuckha opened #594 "clusterctl: split machines into two yaml documents"
As it stands, machines.yaml contains both control plane nodes and worker nodes. `clusterctl` has logic to split these apart and apply them at the correct times.

Being able to replicate clusterctl workflow without needed clusterctl would allow people to more easily understand what it is doing.

I propose that `clusterctl` takes two flags, `--control-planes control-planes.yaml` and `--workers worke

[2018-11-17 01:30] girikuncoro commented on #168
@wangzhen127 has anyone continue working on this? I'm happy to pick it up, if no one has not. would love to know how to start

[2018-11-19 17:38] wangzhen127 commented on #168
@girikuncoro, I haven't found time to push this forward. Feel free to pick it up. I am happy to review if needed.

[2018-11-19 20:35] davidewatson commented on #594
I actually dislike that there are already three options to `clusterctl`. Instead, what if the actuators were responsible for controlling the sequencing between control-plane and worker configuration (perhaps by watching for Cluster.Status.APIEndpoint to be set (or some similarly explicit field)?

[2018-11-20 00:13] girikuncoro commented on #168
ok thanks @wangzhen127 I'll pick it up. any pointer to partial works that you have done? also in your comment https://github.com/kubernetes-sigs/cluster-api/issues/168#issuecomment-414002174, the link seems to be broken

[2018-11-20 00:14] girikuncoro commented on #168
/lifecycle active
/assign @girikuncoro

[2018-11-20 00:19] fanzhangio commented on #168
Assign this issue to @girikuncoro
/assign @girikuncoro

[2018-11-20 00:37] wangzhen127 commented on #168
See https://github.com/kubernetes-sigs/cluster-api/blob/master/cmd/clusterctl/cmd/validate_cluster.go

[2018-11-21 18:04] roberthbailey commented on #580
Fixed by https://github.com/kubernetes-sigs/cluster-api/pull/582

[2018-11-21 18:04] #580 closed

[2018-11-21 18:22] roberthbailey commented on #555
I think that since we have scripts to install kubebuilder that it shouldn't be needed.

[2018-11-21 19:20] dlipovetsky commented on #594
Discussed in meeting 11/21/2018. See [meeting notes.](https://docs.google.com/document/d/16ils69KImmE94RlmzjWDrkmFZysgB2J4lGnYMRN89WM/edit#heading=h.kl99vdvs9oqh).

[2018-11-21 19:30] #592 closed

[2018-11-22 01:42] roberthbailey commented on #557
Do you have suggestions for how clusterctl would interact with the target environment? The reason we ended up with minikube was so that we could easily run the environment specific code in a consistent way.

[2018-11-22 18:21] luxas opened #595 "0.1.0 release"
Hi, as discussed in yesterday's meeting, I think it'd be beneficial to release a first "stable" alpha version of this repo in time for v1.13. Optionally do some good timing with implementations to also release roughly at the same time.

Why? Because kubeadm is going GA, and as k8s v1.13 is released we're gonna have a kubeadm GA blog post which also highlights our SIG's work. And when mentioning th

[2018-11-22 18:21] luxas commented on #595
@roberthbailey @timothysc @justinsb ^

[2018-11-24 11:59] iamzhout opened #603 "Does cluster-api can support multiple provider into one cluster?"
I am new to cluster-api project, just wondering if current cluster-api could support this kind of requirement as title.

For example, within the cluster, there will be nodes from gce, azure, or even bare metal nodes, is it possible to support such kind of model in current cluster-api design, and can setup such kind of cluster using clusterctl command line?

[2018-11-25 05:32] roberthbailey commented on #595
Can you remind us of the target date for this?

We'd need to decide what we mean by "alpha" in this context. If you look at the [alpha-implementation milestone](https://github.com/kubernetes-sigs/cluster-api/issues?q=is%3Aopen+is%3Aissue+milestone%3Acluster-api-alpha-implementation) (which is admittedly has not been triaged for a while) there are enough open issues that I don't think we'd be able

[2018-11-25 05:34] davidewatson commented on #57
/cc @davidewatson

[2018-11-25 10:41] luxas commented on #595
3rd of Dec, ref: https://github.com/kubernetes/sig-release/tree/master/releases/release-1.13

Yes, this is _mostly_ about the API spec. IMO like, is it good enough to build an initial, alpha implementation on top of?

[2018-11-25 14:02] justinsb commented on #595
I'm sending some PRs to get the cluster-api-provider-gcp back up to speed post the CRD-ification.  To be frank, we're still making some relatively significant changes in cluster-api and my vote would be that we're not ready for end-users yet on the GCP side.  The folk working on the AWS reference implementation may have a different opinion.

I have particular concerns about courting end-users whil

[2018-11-25 15:54] davidewatson commented on #595
From a Cluster API perspective, there are at least two issues which I expect will cause some providers to have to change:

- [Establish a stronger link between Machine and Cluster](https://github.com/kubernetes-sigs/cluster-api/issues/41) or alternatively, [Remove cluster assumption from actuators](https://github.com/kubernetes-sigs/cluster-api/issues/490#issuecomment-421354392)

- [Cluster Contro

[2018-11-25 15:56] davidewatson commented on #595
From a Provider API perspective, are there any providers ready to commit to supporting long lived clusters? From the [k8s API versioning summary](https://kubernetes.io/docs/reference/using-api/api-overview/#api-versioning), alpha means:

Has anyone done sufficient upgrade testing?

/cc @detiber @hardikdr

[2018-11-25 16:10] roberthbailey commented on #603
Why are you interested in constructing such a cluster? There are a couple of issues I see, depending on whether you expect that cluster to be conformant. First, the networking will be very difficult to configure correctly. Kubernetes pods expect to be able to directly reach other pods, and making this work across cloud providers / private datacenters seems difficult. Second, there are many assumpt

[2018-11-26 18:17] vincepri commented on #587
@stpabhi Any updates on the migration to klog?

Also related to https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/397

[2018-11-26 20:10] stpabhi commented on #587
@vincepri #590

[2018-11-26 20:10] vincepri commented on #587
woot, thanks!

[2018-11-28 07:53] iamzhout commented on #603
Thanks @roberthbailey for your detailed explanation!

Inside Alibaba, we have certain kind of cluster that with both BareMetal and ECS nodes by VPC connected. Currently they both working on BareMetal mode, and I am just wondering whether it is possible to migrate to other solution to support two different kinds of node type (BareMetal / ECS) instead of current one (BareMetal).

Such kind of hybrid

[2018-11-28 16:48] sflxn opened #605 "Add ability to get list of cluster to clusterctl"
For providers that plan to use a management cluster pattern, it will be a better user experience for users of clusterctl to be able to list all target clusters created by the management cluster.  Yes, users can use kubectl, but the break from clusterctl to kubectl is a mental break for users who are not developers.

[2018-11-28 18:56] roberthbailey commented on #22
/close

Fixed by #488

[2018-11-28 18:56] #22 closed

[2018-11-29 04:11] vincepri commented on #587
Seems after merging #590, I can't see any logs when running `clusterctl` in cluster-api-provider-aws. Is this a known issue? Are there any further changes needed?

[2018-11-29 17:50] vincepri opened #607 "Klog not being initialized/working properly"
/kind bug

After https://github.com/kubernetes-sigs/cluster-api/pull/590 got merged, logs aren't showing up. After some investigation, the issue seems to be caused by `glog` flags taking precedence over `klog` ones.

[These lines in clusterctl](https://github.com/kubernetes-sigs/cluster-api/blob/299c318690e526b7d8c704ab40a813c00ab7b0b0/cmd/clusterctl/cmd/root.go#L53-L60) set up the klog flags in a

[2018-12-02 17:03] chrigl opened #611 "machineDeployment controller panics when there is no Strategy provided"
[code]

I picked tried the MachineDeployment from `samples`. This doesn't contain any `Spec.Strategy`. https://github.com/kubernetes-sigs/cluster-api/blob/master/sample/machinedeployment.yaml

[code]

To make the controller work, I needed to add a valid Strategy, as well as `minReadySeconds`:
[code]

There should IMHO be a default for not existing strategy (currently only `RollingUpdate` is suppor

[2018-12-02 17:11] chrigl opened #612 "machineDeployment controller panics when there is no MinReadySeconds provided"
Relates to #611

When providing a valid `Strategy` (ses #611), the controller still fails because of a missing `MinReadySeconds`.

[code]

See https://github.com/kubernetes-sigs/cluster-api/blob/master/pkg/apis/cluster/v1alpha1/machinedeployment_types.go#L48

[code]

It should be enough to change to `MinReadySeconds int32 ...`

[2018-12-03 17:10] chrigl opened #614 "machineDeployment controller panics when annotations of an existing deployment are edited"
Steps to recreate

1. Create a MachineDeployment (as long as #599 is not in, you need to provide `Strategy` and `MinReadySeconds`)
2. Add or edit annotations

[code]

[2018-12-04 02:10] vincepri commented on #65
Is this still relevant now that `clusterctl` supports delete?

[2018-12-04 02:15] vincepri opened #621 "Clusterctl delete failing with long lived bootstrap cluster"
/kind bug

**What steps did you take and what happened:**
Tried to delete a cluster with `clusterctl` using a pre-existing bootstrap cluster. The command fails at
[code]

**What did you expect to happen:**
The cluster should be deleted and clusterctl shouldn't fail.

**Anything else you would like to add:**
I'm happy to work on this with some guidance.

**Environment:**

- Cluster-api version:
- K

[2018-12-04 02:29] vincepri commented on #605
/kind feature

[2018-12-04 02:32] vincepri commented on #587
I believe this can be closed. Feel free to reopen otherwise.

/close

[2018-12-04 02:32] #587 closed

[2018-12-04 02:32] vincepri commented on #570
/kind bug

[2018-12-04 02:32] vincepri commented on #594
/kind feature

[2018-12-04 02:32] vincepri commented on #559
/kind feature

[2018-12-04 02:33] vincepri commented on #567
/kind feature

[2018-12-04 02:34] vincepri commented on #529
/kind feature

[2018-12-04 09:20] chrigl commented on #612
We won't change the type but use defaults, see #613 and #599

[2018-12-04 19:09] vincepri opened #622 "UMBRELLA: Webhooks / External admission controllers"
/kind feature

This is a general issue to track the development towards webhoooks in this project and across different cluster api subprojects.

- [x] Discuss webhooks and plan of action in upcoming (5/12/2018) cluster api meeting.
- [ ] Draw a plan of action for a POC and open new issues to be tracked here.

Some ideas, to be considered just as a starting point:
- [ ] A webhook package should be

[2018-12-04 19:39] roberthbailey commented on #42
This is obsolete now that we have switched (back) to using CRDs.

[2018-12-04 19:39] #42 closed

[2018-12-04 19:43] roberthbailey commented on #43
@alvaroaleman did some of this in https://github.com/kubernetes-sigs/cluster-api/pull/589 and `go vet` is taken care of by the migration to kubebuilder.

[2018-12-04 19:45] roberthbailey commented on #72
This issue was moved to kubernetes-sigs/cluster-api-provider-gcp#69

[2018-12-04 19:45] #72 closed

[2018-12-04 19:46] roberthbailey commented on #106
@mvladev - Is this still an issue that needs to be tracked now that we are using kubebuilder to handle the caches for us?

[2018-12-04 19:52] mvladev commented on #106
@roberthbailey kube builder handles that already https://github.com/kubernetes-sigs/controller-runtime/blob/53fc44b56078cd095b11bd44cfa0288ee4cf718f/pkg/cache/internal/deleg_map.go#L66-L72

[2018-12-04 19:52] #106 closed

[2018-12-04 20:06] roberthbailey commented on #132
Manually moved to https://github.com/kubernetes-sigs/cluster-api-provider-gcp/issues/70.

[2018-12-04 20:06] #132 closed

[2018-12-04 20:13] roberthbailey commented on #262
@pwittrock / @droot - Is there support for standard k8s leader election built into the kubebuilder framework? I'd love to close this as obsolete now that we've switched to CRDs.

[2018-12-04 20:16] roberthbailey commented on #480
I think we can close this.

[2018-12-04 20:16] #480 closed

[2018-12-04 20:30] roberthbailey commented on #522
@tamalsaha - was this addressed by https://github.com/kubernetes-sigs/cluster-api/pull/589? That PR re-introduced typed clients.

[2018-12-04 22:38] tamalsaha commented on #522
#589 solves.

[2018-12-04 22:38] #522 closed

[2018-12-05 17:46] alvaroaleman commented on #43
@roberthbailey Regarding a `Verify vendor dependencies are correct`, there is still https://github.com/kubernetes/test-infra/pull/9874 open.

When that is done I think the only missing part is the `gofmt`, we execute it in the presubmits but we don't fail a presubmit if it creates a diff

[2018-12-05 17:52] alvaroaleman commented on #622
xref https://github.com/kubernetes-sigs/cluster-api/issues/147#issuecomment-430349301

[2018-12-05 18:09] justinsb commented on #43
Spell checkers would probably be handy - other k repos use misspell https://github.com/kubernetes/kubernetes/blob/master/hack/verify-spelling.sh

misspell is good at not having false positives, but only detects common misspellings.  Other ones suggested in the meeting: aspell

[2018-12-05 18:12] dlipovetsky commented on #43
Some linting would be useful. For example, [to ensure errors aren't ignored.](https://github.com/kisielk/errcheck)

@randomvariable suggested the "meta-linter" https://github.com/golangci/golangci-lint, which is currently used in the AWS provider.

[2018-12-05 18:19] egopher commented on #43
@roberthbailey @rsdcastro Will take this. I think meta-linter is a good approach for that as it's runs a lot of checks including go vet, fmt.

[2018-12-05 19:00] vincepri commented on #622
From the docs [here](https://godoc.org/k8s.io/api/admissionregistration/v1beta1#FailurePolicyType) seems you can specify how to handle failures.

[2018-12-06 08:40] chrigl commented on #611
Fixed by #599
/close

[2018-12-06 08:40] #611 closed

[2018-12-06 08:40] chrigl commented on #612
Fixed by #599
/close

[2018-12-06 08:40] #612 closed

[2018-12-07 09:51] randomvariable commented on #529
Thanks @vincepri . More likely, been thinking more since I posted this that clusterctl should be a kubectl plugin in and of itself.

[2018-12-10 21:00] roberthbailey opened #632 "Ignore or commit the generated clientset"
/kind feature

**Describe the solution you'd like**

We should either git ignore the generated clientset or commit it to the repository. Right now, just running `make` from a fresh checkout of the master branch leaves git in an unclean state.

**Anything else you would like to add:**

[code]

**Environment:**

- Cluster-api version: master branch
- Kubernetes version: (use `kubectl version`):
- OS

[2018-12-10 21:01] roberthbailey commented on #632
/cc @alvaroaleman

[2018-12-10 21:11] alvaroaleman commented on #632
/assign

Oups. We first re-generate the clientset, then test if a newly generated in a different dir matches what we have in the repo. Which obv. will always be the case.

[2018-12-12 10:22] chaosaffe commented on #614
@chrigl is this resolved by https://github.com/kubernetes-sigs/cluster-api/pull/599?

[2018-12-12 13:09] chrigl commented on #614
Still there. I will have a look into this tomorrow or on Friday.

[2018-12-14 22:58] vincepri opened #638 "Expose cluster and machine events in clusterctl"
/kind feature

**Describe the solution you'd like**
A good way to improve UX in case of errors is to use events to outline errors or progress and inform the user while waiting for clusterctl. Ideally, clusterctl would register with the bootstrap cluster first and watch events on a given label or field and print information back to the user around progress or failures.

**Anything else you would li

[2018-12-14 23:13] vincepri opened #639 "Revisit actuators"
/kind feature

**Describe the solution you'd like**:
Currently, the manager uses a "cluster" and "machine" actuator. When I started working on this project, few months ago, the Cluster actuator was a confusing concept. In the aws provider, this actuator is in charge of setting up the network environment (VPCs, subnets, load balancer, etc), which is needed to setup a cluster but doesn't give back o

[2018-12-14 23:28] vincepri opened #641 "Adopt KIND as cluster bootstrapper"
/kind feature

**Describe the solution you'd like**
In the AWS provider, we've been using [kind](https://github.com/kubernetes-sigs/kind) to spin up ephemeral bootstrap clusters for clusterctl. It would be nice to replace `minikube` with `kind` and improve the developer experience. After chatting with @BenTheElder at KubeCon, seems there are ways to use it as a library.

[2018-12-14 23:48] vincepri commented on #62
@davidewatson The links to the resources are giving me 404, is this issue still relevant?

[2018-12-14 23:48] vincepri commented on #65
CC @roberthbailey

[2018-12-17 16:06] dims commented on #641
👍

[2018-12-18 03:52] maisem commented on #497
As noted above we currently use an [arbitrary annotation](https://github.com/kubernetes-sigs/cluster-api/blob/master/pkg/controller/node/node.go#L55) on the node object to link the machine and node objects, if we were to merge #565 we could use the ProviderId field instead.
cc @justinsb @roberthbailey

[2018-12-18 20:42] alejandrox1 commented on #641
@vincepri could I help out with this?

[2018-12-18 21:34] vincepri commented on #641
Sure, check with @detiber, I remember he expressed interest in working on it.

[2018-12-18 21:55] detiber commented on #641
My initial thoughts were to introduce kind as an alternate bootstrapper alongside minikube rather than simply swap it out for the time being to avoid being too disruptive of a change to users.

[2018-12-19 06:13] ntfrnzn commented on #75
As per discussion on slack, the atomicity requirement seems unclear, and maybe we can move forward with a deletePolicy setup that is just

(a) deletePolicy = simple|newest|oldest
(b) simple policy attends to a known “delete-me” annotation on the machine, if it is present
(c) policies newest|oldest preferentially remove machines based on their age (since some time, probably ObjectMeta.CreationTimes

[2018-12-19 19:32] davidewatson commented on #622
/cc @davidewatson

[2018-12-20 19:45] davidewatson commented on #471
/cc @davidewatson

[2018-12-20 20:11] joejulian opened #652 "Make MachineSet extensible in a similar way that Clusters/Machines are"
/kind feature

**Describe the solution you'd like**
Add ProviderSpec to MachineSet

**Anything else you would like to add:**
In DC/OS we have a tool (MKE) that manages the lifecycle of etcd, kubernetes master components, and nodes on mesos agents. To utilize that capability with a cluster-api implementation, we only want to specify a Cluster and MachineSet and let MKE handle the rest. For that to

[2018-12-21 00:10] davidewatson opened #655 "Automate Gitbook updates"
/kind feature

**Describe the solution you'd like**

Updating our Gitbook documentation is currently a manual process and depends on the developer having access to the git subtree module, as well as write access to the gh-pages branch. We need better automation around this, preferably through CI.

Cf. #653 and #654.

[2018-12-21 13:17] #632 closed

[2018-12-21 15:12] detiber commented on #652
This would also enable providers to more easily build around cloud provided auto scaling groups as well.

[2018-12-21 16:10] #614 closed

[2018-12-22 05:25] roberthbailey opened #660 "scripts/ci-build.sh should fail if bazel fails"
/kind feature

**Describe the solution you'd like**
If you use a really old version of bazel, `./scripts/ci-build.sh` will output errors about bazel failing but the makefile will continue running and finish with a successful exit code (luckily, `./scripts/ci-test.sh` actually fails, so we won't merge a PR that breaks bazel).

I don't know which version of bazel is required for the build to work, b

[2018-12-22 05:47] roberthbailey opened #661 "sed doesn't work on a mac"
/kind bug

**What steps did you take and what happened:**
Running `make` (or any of the scripts that invoke make) fails on a mac because macs don't have gnu sed. In the main Kubernetes repository we solved this problem in shell scripts by testing for the version of sed and using gsed on macs (or printing an error if it isn't installed with instructions on how to install it via homebrew). See `kube

[2018-12-22 08:46] stpabhi commented on #661
@roberthbailey if the below code is acceptable, I can submit a PR.
[code]

[2018-12-22 12:42] dims commented on #661
@stpabhi please see the pattern we use in main repo - https://cs.k8s.io/?q=is_gnu_sed&i=nope&files=&repos=kubernetes/kubernetes

[2018-12-22 21:45] vincepri commented on #661
This should be fixed in #630

[2018-12-23 05:53] roberthbailey commented on #661
@vincepri - that fixes two of the three uses, but one remains: see https://github.com/kubernetes-sigs/cluster-api/blob/c28088516b8c9553b1006c53ec5648e88db61dd8/Makefile#L94

[2019-01-03 03:03] dlipovetsky commented on #622
@vincepri How does this relate to #471, which is about a "dynamic hook style mechanism for stubbing in actuators?"

(In case the two are related, I have a follow-up question: Are admission (or any other standard Kubernetes) webhooks sufficient for stubbing in actuators? Since webhooks are called when an API object is created/updated/deleted, how could a webhook implement a machine actuator's `Exis

[2019-01-03 04:37] vincepri commented on #622
I don't have the full details on what was discussed in #471 (CC @timothysc @detiber).

That said, I think they are related. If we go down the webhook route, it should be possible to stub a test actuator for example in a CI job. The question you posed is interesting though, I wonder which parts of the codebase use `Exists` today and if they relate when webhooks are a thing.

[2019-01-03 18:19] dlipovetsky commented on #622
I think there are two ways the Cluster API can use webhooks:
1. For validation/defaulting/conversion. These webhooks have well-defined interfaces and are called by the Kubernetes API server.
2. To implement an actuator. I think Cluster API has to define the webhook interface and call it from some controller.

I think this issue is about 1, but #471 might be about 2. Not sure.

The [machine control

[2019-01-07 04:39] shiftky opened #666 "clusterctl create fails with "TLS handshake timeout" error"
/kind bug

**What steps did you take and what happened:**

Tried to create new cluster with `clusterctl create cluster`. After kube-apiserver starts up, the command fails with "TLS handshake timeout" error:

`clusterctl create cluster -v10 --minikube kubernetes-version=v1.12.3 --provider openstack -c centos/out/cluster.yaml -m centos/out/machines.yaml -p centos/out/provider-components.yaml`
[code]

[2019-01-09 18:40] vincepri opened #667 "Support multiple clusters in a single namespace"
/kind feature

On Wed 9 January 2019 meeting, the group discussed to potentially revert the assumption that clusters and machines living in the same namespace are tied together.

Some meetings notes:

The goal of this issue is to get an agreement if we want to support multiple clusters in a single namespace. A followup issue, after this one is closed, will be opened to discuss implementations.

[2019-01-10 21:39] #14 closed

[2019-01-10 21:40] #15 closed

[2019-01-10 21:43] timothysc commented on #18
No longer applies to this repo.

[2019-01-10 21:43] #18 closed

[2019-01-10 21:43] roberthbailey commented on #23
/close

The phases / states added by @hardikdr have done this.

[2019-01-10 21:43] #23 closed

[2019-01-10 21:43] roberthbailey commented on #28
/close

[2019-01-10 21:43] #28 closed

[2019-01-10 21:44] timothysc commented on #29
out of scope.

[2019-01-10 21:44] #29 closed

[2019-01-10 21:47] davidewatson commented on #520
It's a good point. The generic controllers (e.g. MachineSet) do not currently have a way to do this though.

[2019-01-10 21:48] timothysc commented on #37
out of scope.

[2019-01-10 21:48] #37 closed

[2019-01-10 21:49] roberthbailey commented on #38
Superseded by gitbook.

/close

[2019-01-10 21:49] #38 closed

[2019-01-10 21:51] vincepri commented on #667
/close

[2019-01-10 21:51] #667 closed

[2019-01-10 21:51] vincepri commented on #41
On Wed 9 January 2019 meeting, the group discussed to potentially revert the assumption that clusters and machines living in the same namespace are tied together.

Some meetings notes:

This is the PR that implemented the cluster-machines namespace #481
Related: #177
Do we want a tighter relationship between clusters / machines so that we can have multiple clusters in a single namespace
[ashish] W

[2019-01-10 21:51] roberthbailey commented on #44
Validation is provider specific, so this is out of scope for this repository.

/close

[2019-01-10 21:51] #44 closed

[2019-01-10 21:53] timothysc commented on #45
Closing in favor of #75

[2019-01-10 21:53] #45 closed

[2019-01-10 21:56] timothysc commented on #47
@hardikdr ping

[2019-01-10 21:56] roberthbailey commented on #49
Cluster name is a provider specific implementation.

/close

[2019-01-10 21:56] #49 closed

[2019-01-10 21:57] timothysc commented on #50
Closing as obsolete

[2019-01-10 21:57] #50 closed

[2019-01-10 22:00] roberthbailey commented on #61
Adoption (or lack thereof) is provider specific.

/close

[2019-01-10 22:00] #62 closed

[2019-01-10 22:01] #65 closed

[2019-01-10 22:02] timothysc commented on #69
The consensus is that this is not something we want todo.

[2019-01-10 22:02] #69 closed

[2019-01-10 22:04] roberthbailey commented on #98
This hasn't been an issue recently. We can re-open if it comes up again.

/close

[2019-01-10 22:04] #98 closed

[2019-01-10 22:07] timothysc commented on #137
@detiber - please verify and, or document.

[2019-01-10 22:08] roberthbailey commented on #145
Closing in favor of https://github.com/kubernetes-sigs/cluster-api/issues/41.

/close

[2019-01-10 22:08] #145 closed

[2019-01-10 22:08] roberthbailey commented on #41
Expanding the scope after closing https://github.com/kubernetes-sigs/cluster-api/issues/145 to include MachineSets and MachineDeployments in addition to Machines.

[2019-01-10 22:12] timothysc commented on #157
Closing parent and child issues can reference.

[2019-01-10 22:12] #157 closed

[2019-01-10 22:15] roberthbailey commented on #168
@wangzhen127 - is this something that you plan to finish or should we close this tracking issue?

[2019-01-10 22:15] roberthbailey commented on #177
De-duping with https://github.com/kubernetes-sigs/cluster-api/issues/41.

/close

[2019-01-10 22:15] #177 closed

[2019-01-10 22:18] timothysc commented on #201
Closing as it's out of the scope of the core.

[2019-01-10 22:18] #201 closed

[2019-01-10 22:21] timothysc commented on #250
Closing, we are currently tracking inside of https://github.com/kubernetes-sigs/cluster-api/milestone/4

[2019-01-10 22:21] #250 closed

[2019-01-10 22:24] timothysc commented on #259
After we are done with alpha1 we will reaccess priorities for either v1alpha2 or v1beta1 in milestones.

[2019-01-10 22:24] #259 closed

[2019-01-10 22:29] #305 closed, assigned to nobody

[2019-01-10 22:30] roberthbailey commented on #312
Provider now exists: https://github.com/kubernetes-sigs/cluster-api-provider-azure

/close

[2019-01-10 22:30] #312 closed

[2019-01-11 01:34] davidewatson commented on #413
What about using the `--existing-bootstrap-cluster-kubeconfig` option to point `clusterctl create cluster` to the existing minikube cluster?

[2019-01-11 07:44] roberthbailey commented on #432
This repository now exists.

/close

[2019-01-11 07:44] #432 closed

[2019-01-11 07:46] roberthbailey commented on #502
Closing for the same reason that the PR was closed. We can re-assess the need for this once we see similar patterns emerge across multiple providers.

/close

[2019-01-11 07:46] #502 closed

[2019-01-11 07:47] roberthbailey commented on #516
Closing in favor of #262

/close

[2019-01-11 07:47] #516 closed

[2019-01-11 07:52] roberthbailey commented on #605
We discussed during a meeting last year how much to make clusterctl into a "cluster management tool" vs a "bootstraping only tool". I don't think that there was broad consensus on what we want it to end as, but my recollection is that for now we'd keep it scoped to a bootsrapping tool.

[2019-01-11 12:07] girikuncoro commented on #168
@roberthbailey sorry just found time to do it, I'll finish it off

[2019-01-11 16:31] chuckha commented on #594
Based on the meeting notes it looks like this is the opposite direction people want to go in. I'll open a new ticket if necessary but I think the desire here was obsoleted by the clusterctl phases work.

[2019-01-11 16:31] #594 closed

[2019-01-11 17:40] wangzhen127 commented on #168
/assign @girikuncoro

[2019-01-11 18:45] roberthbailey commented on #671
Moving this from provider-gcp --> cluster-api since the gcp provider doesn't reference debian:latest (it uses ubuntu) but the common cluster-api manager binary is built on top of debian:latest with a TODO to migrate to scratch. Based on https://github.com/kubernetes/kubernetes/issues/70249#issuecomment-448034248 we should be using gcr.io/distroless/static:latest instead of scratch.

[2019-01-11 20:02] roberthbailey commented on #336
There are two remaining uses of `util.Poll(...)`, both in https://github.com/kubernetes-sigs/cluster-api/blob/master/pkg/controller/machineset/controller.go.

[2019-01-11 20:12] timothysc commented on #450
This is a dupe of #554 #479

[2019-01-11 20:12] #450 closed

[2019-01-11 20:13] roberthbailey commented on #471
Closing as a dupe of https://github.com/kubernetes-sigs/cluster-api/issues/622.

[2019-01-11 20:13] #471 closed

[2019-01-11 20:15] roberthbailey commented on #479
I'm going to dupe this one with https://github.com/kubernetes-sigs/cluster-api/issues/554, since it has a lot of overlap.

[2019-01-11 20:15] #479 closed

[2019-01-11 20:18] roberthbailey commented on #458
I'm going to close this in favor of https://github.com/kubernetes-sigs/cluster-api/issues/493, where we are going to implement label application on node creation. We should fix the code comments / docs to reflect that the labels aren't actively reconciled (or if some of them are, which ones) since labels / taints need to be additive and not authoritative.

[2019-01-11 20:18] #458 closed

[2019-01-11 20:21] roberthbailey commented on #510
This seems to be the same thing as the conformance tests, so I'm going to close as a dupe of https://github.com/kubernetes-sigs/cluster-api/issues/34.

[2019-01-11 20:21] #510 closed

[2019-01-11 20:25] #497 closed

[2019-01-11 20:27] roberthbailey commented on #526
This should be fixed by #448, so I'm going to close it as a duplicate of that issue.

[2019-01-11 20:32] roberthbailey commented on #533
Looks like this is resolved by using minikube with k8s at 1.12.

[2019-01-11 20:32] #533 closed

[2019-01-11 20:35] vincepri commented on #413
I cannot reproduce this locally with the latest version of minikube and clusterctl. If I have minikube running, clusterctl will run `minikube start --bootstrapper=kubeadm` which re-initializes the cluster.

I'm gonna go ahead and close it, feel free to reopen if necessary.

/close

[2019-01-11 20:35] #413 closed

[2019-01-11 20:42] roberthbailey commented on #595
We will be tracking the first release via the v1alpha1 milestone.

[2019-01-11 20:42] #595 closed

[2019-01-11 20:45] roberthbailey commented on #605
Let's close this one, and we can re-open later or create a new issue if/when we decide to add this sort of behavior to clusterctl.

[2019-01-11 20:45] #605 closed

[2019-01-11 20:54] roberthbailey commented on #666
This seems like a provider specific issue. Can you please open an issue in https://github.com/kubernetes-sigs/cluster-api-provider-openstack instead of here? Thanks.

[2019-01-11 20:54] #666 closed

[2019-01-11 20:59] roberthbailey commented on #603
@iamzhout - Did you have any follow up questions? This is an interesting discussion but this isn't really a use case that we expect to support in this repository. In a lot of ways it's more of a provider implementation (even though it's tying together two other providers) than a core use case that we are aiming to solve.

[2019-01-11 21:06] alvaroaleman commented on #555
This is indeed not needed, `scripts/ci-test.sh` works perfectly fine in a normal `golang` docker image

[2019-01-11 21:06] #555 closed

[2019-01-12 00:04] #336 closed

[2019-01-12 05:17] #671 closed

[2019-01-12 08:57] #255 closed

[2019-01-14 09:59] hardikdr commented on #47
Thanks @roberthbailey @timothysc for comments.
I could see the following major objectives to be covered as part of a basic machine-health strategy.

1. Replace Unhealthy machines after a configurable timeout period[ ~ X mins]
   - Basically, machine-controller declares the machine as `Failed` if kubelet does not respond for more than X-mins.
   - MachineSet controller creates fresh machine-object

[2019-01-14 15:32] ingvagabund commented on #75
The current simple deletion policy breaks machines into 3 classes:
- `must delete`: deletion timestamp is non zero
- `better delete`: machines with reported error
- `could delete`: remaining machines

Our current implementation of cluster-api based cluster-autoscaler [1] targets the `must delete` class (which gets removed as first) with `sigs.k8s.io/cluster-api-delete-machine` machine annotation [

[2019-01-14 16:22] MaciekPytel commented on #75
I'm still not convinced this approach is safe to use with Cluster Autoscaler. Sure it will work most of the time, but without atomic way to delete a specific machine you have all sorts of races that may lead to additional random machine being removed. At that point all guarantees given by CA about respecting things like PodDisruptionBudgets and various no-scale-down annotations are gone.

For scal

[2019-01-14 16:49] ntfrnzn commented on #75
From my perspective, yes, this is what I pictured for _deletePolicy: simple_.

In the meantime, I wrote a few lines of code for the time-based policies that have a sigmoid-like function, _deletePriority(creationTimeStamp, now) -> (0.0, 100)_ that maps a machine into a deletion-priority range (float64).  I hesitated over where to define the string _deletePolicy_ (in MachineSet, MachineDeployment ty

[2019-01-14 23:17] girikuncoro opened #678 "Cluster validation fails even though cluster has been successfully created"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Running cluster validation after cluster has been created
[code]
[code]
[code]

**What did you expect to happen:**
All checks should have passed since all machine objects exist

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

*

[2019-01-14 23:55] roberthbailey commented on #47
Many of the cloud providers do something like this already, where they delete a node object (and kill the pods) if a kubelet stops sending heartbeats. I think that the threshold on GCE at least is set to 5 minutes. Which means that this would never get hit: Nodes would be deleted before they could become 10 minutes stale.

[2019-01-15 18:50] vincepri commented on #678
I think this is caused by `NodeRef` not being populated in the GCP provider (same goes for AWS provider). This code https://github.com/kubernetes-sigs/cluster-api/blob/master/cmd/clusterctl/validation/validate_cluster_api_objects.go#L97-L134 uses `NodeRef` (which is also [optional](https://github.com/kubernetes-sigs/cluster-api/blob/9c0f9874a7d759a8a7d714dd9073947eca53bb24/pkg/apis/cluster/v1alpha

[2019-01-16 00:46] ashish-amarnath opened #682 "Cluster deployer should support creation of clusters with HA controlplane"
/kind feature

**Describe the solution you'd like**
Cluster deployer should support the creation of clusters with multiple master machines

**Anything else you would like to add:**
On creating a cluster with multiple master machines, the deployer fails because the deployer finds multiple masters.
https://github.com/kubernetes-sigs/cluster-api/blob/299c318690e526b7d8c704ab40a813c00ab7b0b0/cmd/clust

[2019-01-16 19:06] neolit123 opened #688 "cleanup: Master -> Control Plane"
this is a request for community members to perform a cleanup on the word "master" in the Cluster API code base and documentation. Possibly send multiple PRs if needed.

As per the Kubernetes Steering committee the word "master" should be omitted as a user exposed term (UX) and instead the term to use should be "control plane".

It might be OK to keep the word "master" in function names and variabl

[2019-01-16 19:11] neolit123 opened #689 "cleanup: use pkg/errors instead of fmt.Errorf"
Until go 2.0 is out and/or until the code base transitions to the updates in error handling it has, a suggested change discussed in the recent Zoom meeting is to replace the usage of the construct `fmt.Errorf()` in favor of the wrappers available in the package [pkg/errors](https://godoc.org/github.com/pkg/errors)

a github search reveals:
https://github.com/kubernetes-sigs/cluster-api/search?q=%2

[2019-01-16 19:11] neolit123 commented on #688
/priority backlog

[2019-01-16 19:12] neolit123 commented on #689
/good-first-issue

[2019-01-16 19:13] neolit123 commented on #688
/good-first-issue

[2019-01-16 23:06] vincepri commented on #43
I think now that we have vendor and bazel verification, this issue is almost there to be closed. The only thing missing is gometalinter.

[2019-01-17 05:58] justinsb commented on #689
I'm not convinced on this:

* `pkg` is not an official offering from the go team, AIUI
* there is an official solution for errors coming in / under consideration for go2
* pkg/errors is in maintenance mode because of go2's error work
* doing something that isn't fmt.Errorf might make the transition harder
* if we wanted to do something before go2 (which I don't think we should), we should probably

[2019-01-17 11:33] neolit123 commented on #689
true. that was my only concern i raised to @timothysc when we did the same in kubeam.

pkg/errors is in maintenance mode because of go2's error work
doing something that isn't fmt.Errorf might make the transition harder

but the new go error handling will require changes regardless if we use the stdlib errors or pkg/errors.
- would there be tools to smooth the transition?
- also what is the roadma

[2019-01-17 18:33] chuckha commented on #689
I wrote up a document about this already https://docs.google.com/document/d/1-A96l08u0dRx_o15GyGh9JhfQZELiWmEHmOFpRo_TCw/edit# since we had these discussions in cluster-api-provider-aws. @justinsb @neolit123

It would be really great to at least change up clusterctl as that is used across each provider (right now) and it would be good to be able to get stack traces from that command.

[2019-01-18 06:05] Zexi commented on #667
Do we have a plan to implement this feature?

[2019-01-18 15:35] neolit123 commented on #688
/priority important-longterm

[2019-01-18 19:18] #688 closed

[2019-01-18 23:40] #570 closed

[2019-01-18 23:59] #641 closed

[2019-01-19 00:08] #689 closed

[2019-01-19 01:17] chuckha opened #697 "Cannot create a cluster with an existing bootstrap config"
/kind bug

**What steps did you take and what happened:**
I ran the bootstrap command I usually do, it looks like this:

`clusterctl create cluster -v 3 --provider aws -e "$(kind get kubeconfig-path --name="1")" -m ./cmd/clusterctl/examples/aws/out/machines.yaml -c ./cmd/clusterctl/examples/aws/out/cluster.yaml -p ./cmd/clusterctl/examples/aws/out/provider-components.yaml -a ./cmd/clusterctl/examp

[2019-01-19 06:15] #697 closed

[2019-01-19 13:20] hardikdr commented on #47
We discussed this in the last meeting.
Apparently, we would need a way to eventually delete the machine from cloud-provider in any case.
The conclusion seems to be to implement both of the objectives mentioned above for the first cut health strategy.

[2019-01-21 07:35] girikuncoro commented on #678
Thanks for suggestion, I'll try to fix this

[2019-01-22 06:03] hardikdr commented on #622
Wrt #471 - plugging actuators using an extension mechanism.
IMO we need to look at other dimensions as well while coming up with a solution. I recently looked into the CSI model, learned a few bits from there- like gRPC based actuators. There seem to be few benefits in following certain design-principles, such as avoiding kubernetes-specific knowledge in drivers, avoiding kube-access to drivers to

[2019-01-23 18:42] roberthbailey commented on #639
/assign @vincepri

[2019-01-23 18:55] roberthbailey commented on #493
/assign @hardikdr

[2019-01-23 18:56] roberthbailey commented on #520
/assign @davidewatson

[2019-01-23 18:57] roberthbailey commented on #552
/assign @alvaroaleman

[2019-01-23 19:11] mengqiy commented on #552
https://github.com/kubernetes-sigs/controller-runtime/pull/256 should be able to help with the issue here.
It will be available in controller-runtime v0.2.0 release.

[2019-01-23 19:18] dlipovetsky opened #707 "A provider cannot tell whether the user wants a Machine to have no taints, or whether the user does not care"
/kind bug

**What steps did you take and what happened:**
I wanted to create a Machine and have the provider apply no taints to it. My provider uses kubeadm, which applies a default set of taints, unless the user specifies a set of taints, or indicates "no taints" by setting the field (a slice) to its zero value.

**What did you expect to happen:**
I expect to be able to express all of the followi

[2019-01-23 21:13] dlipovetsky commented on #707
If taints are immutable and are applied once on initialization, as discusssed #651, then I think the authoritative/additive dilemma goes away: taints are authoritative, but only applied once. In that case, I think it would be useful to be able to express both "Don't care" and "Apply no taints."

[2019-01-23 23:23] dlipovetsky commented on #707
I should add that it _is_ possible to set the `Spec.Taints` field an empty slice or to `nil`; this information is only lost when the `Machine` struct is marshalled, as the field will be omitted in both cases.

This means that, when the `Machine` struct is unmarshalled, the `Spec.Taints` will be set to `nil`, even if originally it had been an empty slice.

[2019-01-24 04:58] roberthbailey commented on #397
I went back and looked at [my original comment](https://github.com/kubernetes-sigs/cluster-api/pull/384#discussion_r197574197) that spawned this issue. Looking at our [current help text](https://github.com/kubernetes-sigs/cluster-api/blob/master/cmd/clusterctl/testdata/create-cluster-no-args-invalid-flag.golden) it's changed quite a bit and now doesn't have the readability problems I was complaini

[2019-01-24 19:55] dlipovetsky commented on #707
Looks like this issue has come up before. Here's what the [API conventions say](https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md#optional-vs-required):

[2019-01-24 22:11] davidewatson commented on #707
Related to https://github.com/kubernetes-sigs/cluster-api/issues/552

[2019-01-25 11:33] enxebre commented on #493
Related to https://github.com/kubernetes-sigs/cluster-api/issues/493 and https://github.com/kubernetes-sigs/cluster-api/pull/658

[2019-01-25 15:46] chuckha commented on #528
/lifecycle active

[2019-01-25 21:22] chuckha opened #711 "clusterctl no longer logs to stderr by default"
/kind bug

**What steps did you take and what happened:**
I ran a normal clusterctl command but nothing was printed to screen. I reran with `--logtostderr` and it reverted to the old expected behavior of logging to stdout

**What did you expect to happen:**
I did not expect this to change. Feel free to close if this is the direction we want to head in but I think this is a regression.

**Anything

[2019-01-27 11:35] alvaroaleman commented on #552
That approach is indeed a lot more elegant. I'd vote for just closing this issue then. If someone disagrees, just re-open it.

/close

[2019-01-27 11:35] #552 closed

[2019-01-28 16:02] #43 closed

[2019-01-28 17:14] timothysc commented on #707
I think you can easily work-around via the k8s api as a post-step.

[2019-01-28 17:34] randomvariable opened #717 "Make Group / Version/ Kind mandatory for MachineList"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
cluster

clusterctl can currently read in a machines.yaml file that contains only `items` as the root key.

At first glance, it's not clear that it's a MachineList or should be interpreted as such. Other tooling,
primarily kustomize has issues handling the sample machines.yaml most pro

[2019-01-28 19:36] detiber commented on #717
We've already standardized on the explicit use in cluster-api-provider-aws, :+1: from me for requiring it explicitly globally.

[2019-01-28 20:30] roberthbailey commented on #678
/assign @girikuncoro

[2019-01-29 15:50] chuckha opened #718 "[clusterctl] Document bootstrap flags"
/kind bug

**What steps did you take and what happened:**
I wanted to customize the arguments passed to `kind` and the documentation does not make it easy to know the syntax for `--bootstrap-flags`

**What did you expect to happen:**
I would expect an example of something as complex as passing flags from one command line tool to another.

**Anything else you would like to add:**

**Environment:**

[2019-01-29 15:52] chuckha commented on #718
/kind documentation
/priority longterm-important

[2019-01-29 15:52] chuckha commented on #718
/priority important-longterm

[2019-01-29 15:53] chuckha commented on #718
/milestone next

not sure if we even want to continue with clusterctl, so let's reevaluate next milestone

[2019-01-29 16:04] chuckha opened #719 "[clusterctl] bootstrap flags behaves unexpectedly"
/kind bug

**What steps did you take and what happened:**
I ran
[code]

Since I wanted to use a custom kubernetes build. This worked for the first step but it passed the `--image` flag to the `kind get kubeconfig`.

It's not urgent but it makes these flags almost unusable since the flags passed in must be global to all commands `clusterctl create cluster` uses.

## The workaround

The workaround i

[2019-01-29 16:25] vincepri commented on #719
Related #710

[2019-01-30 00:50] gdoctor opened #720 "MachineStatefulSet for HA Control Plane"
/kind feature

**Describe the solution you'd like**
I would like to add a MachineStatefulSet, in the same way the MachineDeployment and MachineReplicaSet were created. We could then build off of this to create a highly available control plane. The two key features this would give us are:
* Ordered, graceful deployment and scaling.
* Ordered, automated rolling updates.

This would give us the neces

[2019-01-30 14:50] detiber commented on #720
@gdoctor I would love to see a more detailed (KEP-style) proposal for this.

Initial concerns that I potentially see around this approach:
- We don't currently differentiate machine types in the common cluster-api, so how we would express initial control plane node (generally kubeadm init) vs additional control plane nodes (generally kubeadm join) for the order of operations would have to work wit

[2019-01-30 17:14] maisem opened #721 "Dissociating Machines from Kubernetes"
Today, when we talk about machines we implicitly mean that they represent Kubernetes Nodes. As such we have fields in the `MachineSpec` like the `MachineVersionInfo`.

I don't think this is the right abstraction i.e. there is no reason for a Machine to equate to a Kubernetes Node. Dissociating this would make the Machines API standalone and more robust especially in light of #490.

The dissociatio

[2019-01-30 18:05] dlipovetsky commented on #721
Today, a machine actuator provisions both the machine (e.g. by calling the EC2 API) and the software (e.g. by invoking `kubeadm init`). To date, most providers end up re-implementing software provisioning in the same way, which suggests it could be refactored into a common piece shared across providers.

One way to provide this common piece is by splitting the machine actuator into two actuators,

[2019-01-30 18:12] derekwaynecarr commented on #721
I agree with @maisem , we generally prefer to separate definition of a machine from the software version, but in our case, we would most likely still run a kubelet on that machine but manage that separately.

[2019-01-30 18:15] derekwaynecarr commented on #721
Adding @enxebre for his input as well.

[2019-01-30 18:57] davidewatson commented on #721
Historically the Cluster API has avoided making any assumptions about the infrastructure and software provisioning _except I think_ we have always assumed we are provisioning Kubernetes clusters and not arbitrary resources. Looking at the `Machine[Spec|Status]` all of the common fields are related to Kubernetes Nodes (cf. NodeRef, ProviderID, etc.). When I imagine an Infrastructure only `MachineSp

[2019-01-30 18:57] detiber commented on #721
I can see making attempts to separate k8s bootstrapping from machine provisioning as a way to leverage commonalities similar to @dlipovetsky mentions. That said, I definitely worry about extending the scope of the Machine Actuator to support managing machines that are not part of a k8s cluster.

@derekwaynecarr If you remove the ability to link machines to nodes, then don't you also lose the abili

[2019-01-30 18:59] alex-mohr commented on #721
Generally a huge +1 to decoupling, but before designing it, I'll note that there are at least 3 components that could be split out: {physical,virtual} *machine* management, base OS management, shared inside-the-OS software, and app-specific software.

So before we go much further, I'd suggest we come up with some specific user-focused cases that we decide should be supported (or explicitly not sup

[2019-01-30 18:59] detiber commented on #721
@davidewatson I do like the idea of making the software provisioning/k8s bootstrapping more re-usable, but I also don't want to fully preclude the ability to do the provisioning/bootstrapping through cloud-init or other methods that wouldn't require connecting to the hosts via a remote session (or 100% full decoupling)

[2019-01-30 19:02] vincepri commented on #721
This issue sounds a little out of scope for the cluster-api project, at least from my point of view. Decoupling Machines from a Kubernetes Machine effectively means that cluster-api should now support a variety of use cases which have different use cases and requirements, therefore increasing the scope of this project exponentially.

On the other hand, I do like the idea of having a pluggable inte

[2019-01-30 19:03] detiber commented on #721
@alex-mohr this sounds good in theory, but how do you separate machine management from base OS management? After provisioning a machine (at least in the majority of cloud environments) you have a base OS.

I think you can have some items that are split amongst different teams (such as re-using networking, security groups, etc), but I think the idea of extending that separation of concerns down int

[2019-01-30 19:04] pablochacin commented on #721
I think separating the machine provisioning from the software provisioning implies there's a standard way for the software provisioning controller to connect to the machine. As @detiber that might not be necessary or even possible in all cases.

[2019-01-31 08:58] enxebre commented on #721
Related to https://github.com/kubernetes-sigs/cluster-api/pull/683
We currently have a clear separation between machine and software/kubelet. The software/kubelet is managed orthogonally hence seeing versions fields in the spec is a bit confusing. We inject a cloud-init/ignition-endpoint via the actuator userdata API field which then serves the config. Then the software upgrades/lifecycle manageme

[2019-01-31 16:17] #719 closed

[2019-01-31 16:37] vincepri commented on #41
/lifecycle active

[2019-01-31 17:00] detiber commented on #137
/help

[2019-01-31 17:03] detiber commented on #621
/lifecycle active

[2019-01-31 17:03] detiber commented on #559
/help

[2019-01-31 17:04] detiber commented on #556
/help

[2019-01-31 17:04] detiber commented on #448
/lifecycle active

[2019-01-31 17:04] detiber commented on #262
/help

[2019-01-31 17:04] detiber commented on #204
/help

[2019-01-31 17:13] vincepri commented on #262
Leader election should be supported in controller-runtime's manager, I don't think it's being used at this point though.

[2019-01-31 20:58] timothysc opened #723 "RFE: Rally on a unified image stamping utility."
**Describe the solution you'd like**

Right now several CAPI providers implement different means for installing software.  The purpose of this issue to rally a conversation in the post v1alpha1 world on having a grand-unified image stamping utility that can be used by multiple parties.

/kind feature

/cc @vincepri @frapposelli @detiber @sflxn @chuckha

[2019-01-31 21:01] chuckha commented on #723
I know @justinsb has thoughts here as well

[2019-01-31 21:42] chuckha commented on #528
I cannot reproduce this. Machine sets and deployments delete nodes as expected. The order is simply the oldest one first, but that's a different issue entirely.

Please reopen if I've missed a crucial piece of this ticket.

/close

[2019-01-31 21:42] #528 closed

[2019-01-31 21:42] chuckha commented on #196
/lifecycle active

[2019-02-01 01:15] dlipovetsky commented on #721
While I think the idea @maisem proposes is worth discussing, I agree with @vincepri that it implies significant "feature creep" and thus can be seen as out of scope.

I'm glad we are reflecting on the fact that machine and software provisioning are currently coupled. I recognize that coupling the two (e.g. cloud-init) can be desirable or necessary. But decoupling is sometimes necessary, e.g. in an

[2019-02-01 01:22] dlipovetsky commented on #721
@pablochacin I think that keeping the two together also implies a standard; the _de facto_ one is cloud-init.

But your comment implies that, if we want to make "software provisioning" something common for providers to easily consume, we'll need to support both the coupled/decoupled use case. For example, we could maintain standard cloud-init scripts, and a standard library for bootstrapping with

[2019-02-01 01:33] vincepri commented on #721
We should discuss this at the next meeting and see what we, as a group, want to do regarding this issue. In the meantime, I'd open a new issue to offer software provisioning tools / methodologies which would be responsible for installing Kubernetes binaries, etc.

[2019-02-01 02:05] vincepri commented on #196
We should also document what the limitations are and provide some sort of early validation.

[2019-02-01 12:41] neolit123 commented on #723
cc

[2019-02-01 12:56] detiber commented on #721
Instead of discussing this at the next meeting, maybe we should use the time to more formalize a proposal period for after v1alpha1 where major changes like this can be discussed?

[2019-02-01 22:19] chuckha commented on #196
The validations and guards are built into kubernetes. If the template spec name is long, the GenerateName function handles it correctly:

https://github.com/kubernetes/apiserver/blob/master/pkg/storage/names/generate.go#L49

I tried to reproduce this error with a machine spec name of length 251 and everything was fine.

/close

Please reopen and provide reproduction steps and the error encountered

[2019-02-01 22:19] #196 closed

[2019-02-01 23:09] sflxn commented on #723
I just want to point out that for the cluster-api-provider-vsphere, there are two artifacts that requires stamping.

1. The initial install OVA (basically a fancy AMI with UI wizards) artifact
1. The node image.

We need both images because we support both self-service workflow (default cluster api with bootstrap VM/KIND) and a management cluster workflow.  The install OVA deploys this management

[2019-02-01 23:37] sflxn commented on #723
I want to bring up an idea that shows that this machine stamping can be solved in many ways if we were to look at it from different angles and impress upon the community that we really need to decide which problems we want to solve.

I heard last week about the idea of a meta container for machine stamping.  What if a "meta node" could be built, pulled from some registry, and started like a VM?  W

[2019-02-05 16:05] frapposelli commented on #559
/assign

[2019-02-05 16:06] frapposelli commented on #717
/assign

[2019-02-05 18:10] randomvariable commented on #717
I was thinking you can probably use something like the UniversalDeserializer. There's an example here https://github.com/kubernetes/client-go/issues/193#issuecomment-343138889

[2019-02-05 20:57] timothysc opened #730 "UMBRELLA: Versioning and Support"
**Describe the solution you'd like**
Document where folks can find specific providers implementations.
When we cut v1alpha1 the first questions are going to be "what is supported", and "where do I find them?

On a separate note it would be ideal if this was somehow automated via some publishing mechanism.

/kind feature
/kind documentation

[2019-02-05 21:08] timothysc opened #732 "Provider Release(s)"
**Describe the solution you'd like**
We are dutifully trekking towards a v1alpha1, but we have no documentation, or process about how we plan to release artifacts for *providers.

/kind feature
@ncdc

[2019-02-06 11:43] errordeveloper opened #733 "What is a useful product of top-level Cluster API repository?"
It's not very clear what does this repository deliver at the end of the day.

Right now it's actually confusing to someone that is new to this. This doesn't appear to be a library, neither it's a deployable component or an abstract API spec.

It would help to answer what this project is aimed to deliver, so that anyone will to contribute or use this project can see clearly what's here for them to

[2019-02-06 12:00] errordeveloper commented on #733
It'd be nice if whatever the product is, it can be worked on independently of any provider implementations.

One route to consider:

- the product is a general Cluster API controller
- the controller's purpose is to
  - keep tracks all running in a context of a single management cluster
  - keep track of all metadata related to objects that each of providers manages separately
- there exists an AP

[2019-02-06 16:02] timothysc commented on #730
/assign @ncdc

[2019-02-06 18:52] pablochacin commented on #733
I like the idea of providing a generic implementation for the reconciliaton logic separated from the provider/actuator logic. In particular, I think that having deployable components should be a preferable target (over a library), to prevent in-tree dependencies.  I'm however not sure about trying to find some commonality across- providers as suggested.

Achieving this decoupling would require, be

[2019-02-06 20:17] chuckha commented on #733
The idea of commonality in the original comment extends only to cluster commonality, not provider/cloud commonality as we've already decided there is almost nothing shared across all providers.

[2019-02-07 01:00] frapposelli commented on #559
/remove-help
/lifecycle active

[2019-02-07 01:44] vincepri commented on #730
/cc

[2019-02-07 13:35] errordeveloper commented on #733
It's not really about that, as @chuckha pointed out. At least it's certainly not about reconciliation as such, as that actually falls into provider's own domain.

Sound about right.

Yes, although it's secondary to what is being proposed here and may or may not turn out to be the case. What's being suggested above is about separating out the metadata.

[2019-02-07 15:13] pablochacin commented on #733
Well, this confirm your initial comment about "this being confusing" :-)

I understood that by

You meant the objects of the cluster-api, and from there my interpretation that

means a generic controller for such objects.

But considering your further comment

Does It means a meta-meta data? Describe the entities that manage the cluster-api meta-data?

What confuses me is how this links to the exi

[2019-02-07 15:32] #559 closed

[2019-02-07 22:44] sflxn opened #735 "Creating clusters in non-default namespace using clusterctl fails at the pivot"
/kind bug

**What steps did you take and what happened:**
1. Create machines.yaml and cluster.yaml.  Add a namespace attribute and give it a new scope.  Use clusterctl in a self-service workflow (using bootstrap and pivot).

**What did you expect to happen:**
New cluster would get created on the target cloud infrastructure and have machines and cluster objects created on the target cluster and sco

[2019-02-07 23:52] sflxn commented on #556
/assign

[2019-02-08 00:06] sflxn commented on #661
I have a potentially simple fix for this that I can submit once we've finished the v1alpha1 backlog.

[2019-02-08 18:44] roberthbailey commented on #661
If it's a simple fix, feel free to send it sooner.

[2019-02-08 19:47] #735 closed

[2019-02-11 16:16] #41 closed

[2019-02-11 17:20] detiber opened #738 "Improper validation in MachineSet/MachineDeployment for Selector"
/kind bug

**What steps did you take and what happened:**

Creating a ReplicaSet with an invalid Selector results in many machines being created.

**What did you expect to happen:**

cluster-api should validate that the Selector is valid and that the Template.Labels match the provided Selector prior to spawning Machines.

/milestone v1alpha1
/priority important-soon

[2019-02-11 17:44] vincepri commented on #738
/lifecycle active
/assign

[2019-02-11 18:36] #738 closed

[2019-02-11 18:44] Amit-PivotalLabs commented on #723
How coupled is the node/VM image, the software installed on it, and the specific Cluster API implementation?  When a user chooses a Cluster API implementation to use, are they bound to a choice of VM image and installed software, or is there some ability to mix and match?  When a user wants to update just the VM image or just the installed software or just the Cluster API implementation, can that

[2019-02-11 19:07] chuckha commented on #733
@pablochacin I'll provide an example that is not the suggested implementation as it's just an example to provide clarity on some of the ideas being presented in this issue:

Let's say we have a cluster running, our management cluster. This cluster has some CRDs installed. Those CRDs would be Cluster objects and Provider objects. Cluster objects are smaller in scope than what we have today but are

[2019-02-11 21:27] davidewatson commented on #721
After hearing from others, I withdraw my undeleted comment. There are valid use cases for allocating creating non-k8s VMs.

[2019-02-11 22:18] pablochacin opened #741 "Permission issues when deploying sample provider from cluster-api book"
/kind bug

Hi I'm following [the guide for creating a new cluster-api provider](https://kubernetes-sigs.github.io/cluster-api/provider_implementations/overview.html), and I'm getting the following error in the controller's log:
[code]

I suppose it has to do with the permissions set in `config/rbac_role.yaml'
[code]

**Environment:**

- Cluster-api version: 0.0.0-alpha.4
- Kubernetes version: (use

[2019-02-12 09:55] pablochacin opened #742 "CrashLoopBackOff executing provider following book instructions"
/kind bug

When developing a cluster-api provider [according to the instructions in the cluster-api book](https://kubernetes-sigs.github.io/cluster-api/provider_implementations/overview.html), the pod for the manager enters in a `CrashLoopBackOff` status with the following error:
[code]

Comparing [the code provided in the book](https://kubernetes-sigs.github.io/cluster-api/provider_implementation

[2019-02-12 10:23] pablochacin commented on #733
These two paragraphs seams like you are proposing even a thinner api layer on top a fully provider-specific one. I'm not quite sure I like this idea as it clearly conflicts with the idea of having any sort of generic controllers.

I like however, the idea of having a provider object and a set or provider specific CRD which are referenced from the existing generic CRD (cluster, machine) instead of

[2019-02-12 12:19] pablochacin commented on #721
Not really @dlipovetsky. Provisioning together means that we have an standard way to communicate with the provisioner and ask for a new instance to join the cluster, but not necessarily with the machine itself. We don't need, for instance, to manage any kind of credentials for accessing the machines, do we?

Maybe I'm misunderstanding something in the meaning of this paragraph:

That said, the ide

[2019-02-12 14:52] pablochacin commented on #742
The trivial solution for this issue is to add the missing two statements to the code, as well as the following modification when instantiating the manager:
[code]

[2019-02-12 16:27] vincepri commented on #742
/help
/milestone v1alpha1
/assign @davidewatson

[2019-02-12 16:50] vincepri opened #743 "Cluster listing with metadata.name index might be broken with namespaced clusters"
/kind bug

**What steps did you take and what happened:**
See discussion in https://github.com/kubernetes-sigs/cluster-api/pull/740/files#r255687961

**What did you expect to happen:**
Two clusters with the same name in different namespaces should work properly with the `metadata.name` index

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.

[2019-02-12 16:51] vincepri commented on #743
/cc @detiber

[2019-02-12 17:12] vincepri commented on #743
Closing, see https://kubernetes.slack.com/archives/CAR30FCJZ/p1549991476028600

[2019-02-12 17:13] #743 closed

[2019-02-12 18:00] frapposelli commented on #730
/cc @frapposelli @sflxn

this is of interest for CAPV as well

[2019-02-13 07:58] greut opened #745 "kustomize v2 fails building the default config"
/kind bug

**What steps did you take and what happened:**

Building the components via kustomize fails.

[code]

**What did you expect to happen:**

the YAML being built.

**Anything else you would like to add:**

Moving the `kustomization.yaml` file into the `config` directory should solve it.

**Environment:**

- Cluster-api version: master, 0f315e945d5fabe0c805ccf30fa6cf02fac6c0b5
- Kubernetes

[2019-02-13 10:56] pablochacin commented on #721
Maybe this work in the gardener project is relevant for this discussion:
[Cloud config (user-data) for bootstrapping machines
](https://github.com/gardener/gardener/blob/master/docs/proposals/01-extensibility.md#cloud-config-user-data-for-bootstrapping-machines)

This is the implementation of this concept for CoreOS machines:
https://github.com/gardener/gardener-extensions/tree/master/controllers/

[2019-02-13 11:12] pablochacin commented on #742
@vincepri @davidewatson I can do this as it is trivial, if you agree on the proposed solution.

[2019-02-13 14:03] detiber commented on #745
Workaround for now is to use kustomize v1.0.11

[2019-02-13 14:03] detiber commented on #745
/priority important-longterm
/milestone v1alpha1

[2019-02-13 15:18] detiber opened #746 "Add support for adopting existing MachineSets to MachineDeployments"
/kind feature

**Describe the solution you'd like**
Currently MachineDeployments do not have the ability to adopt existing MachineSets as part of the reconciliation workflow the same way that MachineSets have the ability to adopt existing Machines. This causes issues when migrating MachineDeployments and their associated MachineSets to a different cluster

One of the issues that this causes is: af

[2019-02-13 17:08] pablochacin commented on #741
The solution to this issue is to add a patch for the ClusterRole defined in `rbac_role.yaml`, adding the missing rules, so that this is updated when generating the manifest:

Create `config/default/rbac_cluster_api_patch.yaml`
[code]

modify  `config/default/kustomization.yaml`  adding the following entry to  `patches`
[code]

[2019-02-13 17:08] pablochacin commented on #741
/asing pablochacin

[2019-02-13 17:11] pablochacin commented on #741
I'm willing to fix this issue but need some help to know where in the documentation this new instructions should added.

/help

[2019-02-13 17:33] vincepri commented on #741
/cc @davidewatson
/milestone v1alpha1

[2019-02-13 17:44] sidharthsurana opened #748 "Default cache sync period changed to 10 Hrs after moving to CRDs"
/kind bug

**What steps did you take and what happened:**
Pre CRD implementation of the cluster-api had the cache sync period set to few sec. After the move to CRD based implementation the cache sync period has been changed to 10 Hrs.
This behavior change ***may*** have an impact on the various provider implementation.
For the following use case I think all providers would be impacted:
If the unde

[2019-02-13 17:53] sflxn commented on #556
/assign

[2019-02-13 17:58] vincepri commented on #556
@sflxn You can `/lifecycle active` to mark items you're working on.

[2019-02-13 18:06] sflxn commented on #556
/lifecycle active

[2019-02-13 18:40] figo commented on #11
looks like no one is working on this, plan to take on this issue and assign to myself, let me know if any objection.

[2019-02-13 18:44] vincepri commented on #11
@figo Go for it! You can mark the issue with `/lifecycle active` to mark it as taken.

[2019-02-13 18:46] pablochacin commented on #11
@figo I was about to pick it! :running_man: :smile:
Please let me know if you want some help from me.

[2019-02-13 19:01] pablochacin opened #749 "Create mock Provider for testing core Controllers"
/kind feature

It was suggested in a meeting that for testing the core controllers (e.g. cluster, machineset) it would be useful to have a mock provider.

The actual functionality was not discussed, but it was suggested it could use some simple persistence like files for storing state (e.g. "clusters" and "machines").

[2019-02-13 19:01] vincepri commented on #748
/help

[2019-02-13 19:02] pablochacin commented on #749
I volunteer to implement this feature.

[2019-02-13 19:03] vincepri commented on #749
Related to #11, sync up with @figo which also expressed interest.

Question: can the mock provider be KIND?

/milestone v1alpha1
/priority important-longterm
/help

[2019-02-13 19:05] vincepri commented on #621
Closing this in favor of #448.

/close

[2019-02-13 19:05] #621 closed

[2019-02-13 19:11] vincepri commented on #746
Looking through the controller's code, seems like the MachineDeployment code looks for a `controllerRef`, do we lose the reference after pivoting?

[2019-02-13 19:25] pablochacin commented on #749
@vincepri such kind provider has been discussed in the kind project, but it would require some changes in kind core implementation, which are still unclear. [There's an issue](https://github.com/kubernetes-sigs/kind/issues/276) for discussing such requirements.

[2019-02-13 19:28] figo commented on #11
@pablochacin i have a WIP PR to create a simple mock up provider and integration with Prow. i definitely welcome cooperations.

[2019-02-13 19:40] figo commented on #11
/lifecycle active

[2019-02-13 20:26] detiber commented on #746
@vincepri I haven't tested with the current pivot logic, but this would be required with my pivot PR: https://github.com/kubernetes-sigs/cluster-api/pull/731

Even with the existing pivot logic, the owner ref would not be fully valid since it would have the UID for the MachineDeployment in the source cluster and not the target cluster.

[2019-02-13 20:31] detiber commented on #741
/assign @davidewatson
/priority important-soon

[2019-02-13 20:48] alvaroaleman commented on #748
Wouldn't the right approach here be to have informers on the node object and enq the corresponding machine when the value of the node objects `Ready` condition changes instead of unconditionally checking at the provider?

The latter may be especially problematic when working with a provider that does rate limiting.

[2019-02-13 21:34] detiber commented on #748
@alvaroaleman I think it would depend on the provider implementation, there could still be value in reconciling the actual state of the external api to sync with the providerStatus for example.

[2019-02-13 23:54] sflxn commented on #556
@detiber Can you describe how you are feeding this secret into clusterctl just so I don't miss anything?  I assume you're adding that to provider-components.yaml?

[2019-02-14 00:13] vincepri commented on #556
I'll try to answer best I can 😄, in the AWS provider, the secret is generated through an external util `clusterawsadm` and then it's generated in provider-components though kustomize.

[2019-02-14 02:56] detiber commented on #742
The proposed solution sounds good to me, I don't think the existing providers have hit this because they were all generated with an older version of Kubebuilder.

[2019-02-14 03:00] davidewatson commented on #742
Thanks @pablochacin. I'll make sure the GitBook is updated and the instructions for updating the GitBook merged ASAP. I have been very truant on this. I apologize.

[2019-02-14 09:22] frapposelli commented on #717
@randomvariable I've been looking at using `UniversalDeserializer`, but currently `k8s.io/client-go` does not know how to deserialize `clusterv1` objects.

Thinking about sending a simple PR in to force G/V/K with the current code path and add an issue to move to `UniversalDeserializer` post v1alpha1.

[2019-02-14 09:35] randomvariable commented on #717
@frapposelli

Ah, ok. Thanks for investigating. What you're suggesting sounds good as an approach.

[2019-02-14 10:30] pablochacin commented on #742
@davidewatson I will summit the documentation fix, if you agree. it's really trivial.

[2019-02-14 10:56] nzoueidi commented on #660
Hey @roberthbailey, is this still needed? I PM'ed you in Slack but seems like you didn't notice my pm.

[2019-02-14 16:15] roberthbailey commented on #660
@nzoueidi - I've been out of the office for a few days, so I haven't been keeping up on slack.

@justinsb - In slack @nzoueidi said "As far as I know, that bazel is going to be deprecated, probably we gonna use nfpm instead of bazel." This is the first I've heard that we are going to deprecate bazel. Since you seem to be a big proponent of bazel, care to comment?

[2019-02-14 16:17] vincepri commented on #660
AFAIK, Bazel is here to stay.

This issue is still needed and you can assign it to yourself by using `/lifecycle active` command. There is a little more context here as well https://github.com/kubernetes-sigs/cluster-api/pull/676#issuecomment-453720530.

[2019-02-14 16:23] ncdc commented on #660
Yes, bazel is not going anywhere. We are discussing using other tooling to build rpm/deb packages, and that's presumably what @nzoueidi was referring to.

[2019-02-14 16:44] timothysc commented on #730
/assign @chuckha

[2019-02-14 16:45] timothysc commented on #730
Here is a broad-strokes overview of the expectation here:

problem statement -> requirements -> options -> recommendations -> plan = KEP-ish

[2019-02-14 17:10] vincepri commented on #730
Adding a plan of action for next steps:

- [ ] Proposal in google doc form with problem statement, objective and implementation (solution) details
- [ ] Discuss the proposal in the next community meeting and get buy-in on it
- [ ] Implement release process documenting required steps (gitbook?)
- [ ] [bonus] Automating the release process (probably post v1alpha1)

[2019-02-14 17:19] nzoueidi commented on #660
That's what I was referring to, thanks @ncdc. I might need to think twice before I write my sentences next time :)

[2019-02-14 19:15] pablochacin commented on #11
@figo I kind reminder to share with me the repository fork on which you are working you PR.

[2019-02-14 19:29] figo commented on #11
@pablochacin will share with you soon, thank you

[2019-02-14 23:33] figo commented on #11
@pablochacin let me know if you want to have some discussion around this, here is the branch: https://github.com/figo/cluster-api/tree/integration

[2019-02-15 00:33] frapposelli commented on #717
/remove-help
/lifecycle active

[2019-02-15 00:49] #741 closed

[2019-02-15 10:51] pablochacin commented on #11
@figo  I just saw your PR. I'll comment there. Thanks

[2019-02-19 06:31] hardikdr commented on #75
Ping.
There have been multiple efforts and discussions on this topic. Let's please try to discuss this and try to settle on the approach in the next meeting.
Achieving the atomicity seems really hard, not sure if there is really a way to do so.
I guess, we could decide on the simple priority-based approach for now and unblock the autoscaler integration.
Ref:
- https://github.com/kubernetes-sigs/cl

[2019-02-19 14:01] nzoueidi commented on #660
/lifecycle active

[2019-02-19 16:03] chuckha commented on #730
/lifecycle active

[2019-02-19 16:17] #717 closed

[2019-02-19 16:34] vincepri commented on #732
Related to #730

[2019-02-19 16:35] vincepri commented on #748
Given that this might be a light breaking change for some providers, I'm moving the milestone to Next, feel free to change it if it's important for v1alpha1.

/milestone Next

[2019-02-20 16:18] vincepri opened #758 "Set ownerRef to MachineDeployment/MachineSet resources"
/kind feature

**Describe the solution you'd like**
As a follow-up to https://github.com/kubernetes-sigs/cluster-api/pull/757#discussion_r257329827. We need to set a non-controller `ownerRef` for Machine's deployments and sets if they a cluster label is set in their spec.

[2019-02-20 18:41] moshloop commented on #723
I have a suggestion similar to the VIC stamping model. Rather than trying to create a VM/Template from a docker container (With all the issues of VM customization/optimization that will be encountered), use the Dockerfile as an "interface" to execute commands on an existing VM.

This idea stems from jessfraz's  [implementation](https://blog.jessfraz.com/post/building-container-images-securely-on-k

[2019-02-20 21:50] chuckha commented on #732
/assign

[2019-02-20 21:50] chuckha commented on #732
/lifecycle active

[2019-02-20 23:22] sflxn commented on #556
You know what, I thought I had figured out two ways of doing it and was proceeding down the simpler of the two paths when a 3rd, more obvious and simpler path came up so I am going to put it here for discussion instead of continuing down the path I was going.

*Mutating adminission webhook*
---
Pros:

- It will be generic solution (not just specific to clusterctl)
Cons:
- More development than opt

[2019-02-21 15:22] detiber commented on #556
@sflxn :+1: to introducing a new resource file, I'm not sure why it hadn't occurred to me sooner. This additional file will need to also be passed in for the `delete` command to allow for the temporary cluster to be able to access the same type of credentials that the bootstrapping cluster would need.

[2019-02-21 15:41] vincepri commented on #556
I like the idea of having a different file feed to `clusterctl`. It's clean, straightforward and there should be a way for the pivot phase to "see" these resources and not pivot them.

One question that I have is how do we deal with dependency between resources. For example in the AWS provider, we have a secret that we don't want to pivot but this is referenced in the provider components as a volu

[2019-02-21 15:43] chuckha commented on #730
Some ideas about [versioning in this document](https://docs.google.com/document/d/1BrBDnMYERC7-mgweMtxx7ejJhAE5aCc3TS2_HJqDv3c/edit#heading=h.s3pbua1p48bk). Must be a member of kubernetes-dev or sig-cluster-lifecycle google groups.

[2019-02-21 17:07] davidewatson commented on #655
kind and kubebuilder are experimenting with using netlify instead of firebase. Two advantages of this are netlify is already used to host the core k8s documentation and it makes it wasy to implement [continuous deployment](https://www.netlify.com/docs/continuous-deployment/).

Cf. https://github.com/kubernetes-sigs/cluster-api/pull/747#issuecomment-465885607

[2019-02-21 17:11] neolit123 commented on #730
cc

[2019-02-21 17:41] neolit123 commented on #730
added some comments, for me key points are:
- standardize/interface kubeadm as the default boostrapper, move such logic outside of providers, but allow them the flex. this is already quite fragmented.
- standardize the support matrix template for providers in documentation (MD templates) and machine consumable way per provider repo or in the CAPI repo.
- consider complex version schemas such as "p

[2019-02-21 20:49] chuckha opened #764 "Document current release process"
/kind documentation

We need to write down all the steps involved in releasing cluster-api. Probably need to sync with @roberthbailey to get some of the details.

/milestone v1alpha1

[2019-02-21 20:50] chuckha commented on #730
- [ ] [Document existing release process](https://github.com/kubernetes-sigs/cluster-api/issues/764)

[2019-02-21 21:03] chuckha commented on #764
/help

[2019-02-22 15:15] chuckha commented on #764
/lifecycle active
/assign

[2019-02-22 22:19] detiber opened #770 "clusterctl fails on commands using existing kubeconfig if auth plugins required"
/kind bug
/lifecycle active
/assign
/milestone v1alpha1
/priority important-soon

[2019-02-22 22:20] detiber commented on #770
This will require re-vendoring cluster-api after https://github.com/kubernetes-sigs/cluster-api/pull/769 merges

[2019-02-22 22:27] davidewatson commented on #745
With #759 merged, can this be closed?

[2019-02-22 23:46] vincepri commented on #745
I believe so!

/close

[2019-02-22 23:46] #745 closed

[2019-02-25 21:21] vincepri opened #772 "Clusterctl should support management clusters"
/kind feature

**Describe the solution you'd like**
Clusterctl should be restructured to make bootstrap cluster function as a management cluster. A new option can be provided instead of cleanup to enable pivoting or not. When disabled, both bootstrap cluster cleanup and pivoting of resources should be disabled.

/assign
/lifecycle active

[2019-02-25 22:56] vincepri opened #775 "Clusterctl should use alpha phases"
/kind feature

**Describe the solution you'd like**
After #731 is ready and merged, we should migrate clusterctl codebase to use phases codebase wherever possible and reduce to a minimum the custom code that the utility brings in. Ideally, all clusterctl commands wrap one or more phase commands providing a streamlined user experience.

[2019-02-26 00:12] vincepri opened #776 "Support scoped actuators"
/kind feature

**Describe the solution you'd like**
The AWS and Azure provider are using the concept of a scope actuator. The idea is to have an interface encapsulating functions using a single struct (scope) that'd set the appropriate context and provide basic functionality for providers that use both cluster and machine resources.

[2019-02-26 00:16] vincepri opened #777 "Define clusterctl goals and non-goals"
/kind feature

**Describe the solution you'd like**
A common confusion among today's users is clusterctl. The tool provides a quick way to create/delete/validate clusters using a bootstrap cluster (minikube/kind/existing) and pivots resources at the end. After v1alpha1, we should define goals and non-goals for clusterctl and re-work the CLI structure as needed.

The goal of this issue is to improv

[2019-02-26 00:26] vincepri commented on #770
/close

Closing now that #769 is merged.

[2019-02-26 00:26] #770 closed

[2019-02-26 03:34] detiber commented on #777
/milestone Next

[2019-02-26 09:00] gyliu513 opened #778 "Adding a development guide for cluster-api"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**
It is better have a document to clarify some steps for how to do some development for this repo, this can help attract more contributors.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**En

[2019-02-26 16:06] detiber commented on #758
/priority important-soon
/milestone v1alpha1

[2019-02-26 16:06] detiber commented on #772
/milestone Next

[2019-02-26 16:12] detiber commented on #775
/milestone v1alpha1
/priority important-longterm

[2019-02-26 16:13] detiber commented on #776
/milestone Next
/priority important-longterm

[2019-02-26 16:14] detiber commented on #778
/priority important-soon
/milestone Next

[2019-02-26 16:15] detiber commented on #764
/priority important-soon

[2019-02-26 16:15] detiber commented on #742
/priority important-soon

[2019-02-26 17:59] vincepri commented on #775
/lifecycle active

Marking it active to work on it after phases work is merged and get more familiar with it.

[2019-02-26 18:33] vincepri commented on #758
/lifecycle active
/assign

[2019-02-27 06:03] gyliu513 opened #781 "new cloud provider build failed due to no rbac_role.yaml"
/kind bug

**What steps did you take and what happened:**
I was following the steps here https://kubernetes-sigs.github.io/cluster-api/provider_implementations/building_running_and_testing.html to build a new cloud provider named as `genesis`, but the build failed at last due to no `rbac_role.yaml`, any comments what is wrong with my steps?

[code]

[code]
[code]

FYI @xunpan

**What did you expec

[2019-02-27 06:51] gyliu513 commented on #781
Fixede, seems the minimum `kubebuilder` should be v1.0.6

[2019-02-27 08:36] xunpan opened #783 "latest kustomize release does not work for sample provider build"
/kind bug

**What steps did you take and what happened:**
I was following the steps here https://kubernetes-sigs.github.io/cluster-api/provider_implementations/building_running_and_testing.html to build a new cloud provider named as `genesis`. The `make` failed in `kustomize build vendor/sigs.k8s.io/cluster-api/config/default/ >> provider-components.yaml`

[code]

kustomize version is latest relea

[2019-02-27 08:50] greut commented on #783
it should be done without `default`

`kustomize build vendor/sigs.k8s.io/cluster-api/config/`

[2019-02-27 09:01] gyliu513 opened #784 "cluster-api-provider-xxx-controller-manager-0 failed to start"
/kind bug

**What steps did you take and what happened:**

Following steps at https://kubernetes-sigs.github.io/cluster-api/provider_implementations/building_running_and_testing.html , after `make deploy`, found that the `cluster-api-provider-xxx-controller-manager-0` was in `CrashLoopBackOff` state.

In my cluster, the cloud provider name is `genesis`.

[code]

[code]
[code]

[2019-02-27 09:02] gyliu513 commented on #784
Duplicate with https://github.com/kubernetes-sigs/cluster-api/issues/742

[2019-02-27 09:02] #784 closed

[2019-02-27 09:02] gyliu513 commented on #742
FYI @xunpan

[2019-02-27 09:18] xunpan commented on #783
@greut
It seems not true in my environment.
[code]

Anything need to be checked?

[2019-02-27 09:41] yuyangbj commented on #783
@xunpan @greut With kustomize changes, all resources used in kustomization.yaml should be put into its sub-folder

[2019-02-27 09:46] greut commented on #783
mmh right... https://github.com/kubernetes-sigs/cluster-api/pull/773

[2019-02-27 15:02] detiber commented on #783
/assign @figo

[2019-02-27 15:02] detiber commented on #783
/priority important-soon
/milestone v1alpha1

[2019-02-27 15:23] figo commented on #783
@xunpan  to clarify, this is not a problem with cluster-api main,
if you look at the error log:
[code]

you can modify your `/gowork/src/sigs.k8s.io/cluster-api-provider-genesis/config/default/kustomize.yaml` to use `bases` instead of `resources`
please refer to https://github.com/kubernetes-sigs/cluster-api/blob/master/config/default/kustomization.yaml

[2019-02-27 15:26] figo commented on #783
we are depends on kubebuilder, kubebuilder need be updated to generate kustomize.yaml that support kustomize 2.0, there is open issue for this, https://github.com/kubernetes-sigs/kubebuilder/issues/59

[2019-02-27 15:31] detiber commented on #783
This might be something that we want to address in the gitbook documentation until the kubebuilder fix lands.

/cc @davidewatson

[2019-02-27 15:37] yuyangbj commented on #781
Please refer to issue #783

[2019-02-27 18:19] figo commented on #11
/assign

[2019-02-27 18:21] roberthbailey commented on #746
/assign @vincepri

[2019-02-27 18:23] figo commented on #749
this should be covered by PR 755: https://github.com/kubernetes-sigs/cluster-api/pull/755

[2019-02-27 18:23] vincepri commented on #749
/close

[2019-02-27 18:23] #749 closed

[2019-02-27 18:25] vincepri commented on #775
/milestone Next

[2019-02-27 18:26] detiber commented on #204
/unassign
/priority important-longterm
/milestone Next

[2019-02-27 18:31] davidewatson commented on #253
Propose we leave this as is for v1alpha1.

[2019-02-27 18:33] vincepri commented on #253
/milestone Next

[2019-02-27 18:36] roberthbailey commented on #781
I'm going to close this as a duplicate of #783 since it seems like the same issue.

/close

[2019-02-27 18:36] #781 closed

[2019-02-27 19:22] davidewatson opened #786 "Create architectural diagram for CRDs"
/kind feature

**Describe the solution you'd like**
The existing [architectural diagram](https://github.com/kubernetes-sigs/cluster-api/blob/master/architecture.png) referenced in both the [README.md](https://github.com/kubernetes-sigs/cluster-api/blob/master/README.md) and [GitBook](https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/book/common_code/architecture.md) shows `etcd` and

[2019-02-27 19:23] davidewatson commented on #786
/kind bug
/milestone v1alpha1
/assign davidewatson

[2019-02-27 19:33] davidewatson opened #787 "Create kubectl/controller/actuator/etc. logic traces."
/kind feature

**Describe the solution you'd like**
The original `kubebuilder` documentation on which the Cluster API documentation was based included logic traces showing when controllers observed or updated status. For an example, see [Watching Resources](https://github.com/kubernetes-sigs/kubebuilder/blob/master/docs/book/basics/what_is_a_controller.md#watching-resources). This visualization is

[2019-02-27 19:33] davidewatson commented on #787
/milestone v1alpha1

[2019-02-27 19:45] davidewatson opened #788 "Document MachineSet and MachineDeployment"
/kind feature

**Describe the solution you'd like**
The current GitBook documentation for [`MachineSet`s](https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/book/common_code/machineset_controller.md), [`MachineDeployment`s](https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/book/common_code/machinedeployment_controller.md) only references the API types and their comments.

[2019-02-27 19:45] davidewatson commented on #788
/milestone v1alpha1
/cc @justinsb

[2019-02-27 19:50] detiber commented on #788
/assign @justinsb

[2019-02-27 19:59] davidewatson opened #789 "Document how to implement provider specific clusterctl"
/kind bug

**Describe the solution you'd like:**
The GitBook describes how to create a new provider implementation and includes sample code to [register schemes](https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/book/provider_implementations/register_schemes.md), [add controllers](https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/book/provider_implementations/register_c

[2019-02-27 20:01] davidewatson commented on #789
/milestone v1alpha1
/assign @pablochacin

[2019-02-28 16:48] ncdc commented on #137
This is most likely an issue that will be resolved with a change in kubernetes/kubernetes. I propose we move this out of v1alpha1. cc @detiber

[2019-02-28 16:51] ncdc commented on #262
I don't think this is necessary for v1alpha1. I propose we defer.

[2019-02-28 16:56] ncdc commented on #493
@hardikdr are you currently working on this?

@sidharthsurana do you believe this is a hard requirement for v1alpha1, or could it slip to v1alpha2?

[2019-02-28 17:02] ncdc commented on #678
This sounds like a provider specific issue; however, I do think it's related to #520 - does that sound right @davidewatson?

[2019-02-28 17:02] detiber commented on #571
/kind documentation

[2019-02-28 17:08] detiber commented on #789
/priority important-longterm

[2019-02-28 17:08] detiber commented on #788
/priority important-longterm

[2019-02-28 17:09] detiber commented on #787
/priority important-longterm

[2019-02-28 17:09] detiber commented on #786
/priority important-longterm

[2019-02-28 17:09] detiber commented on #786
/kind docs

[2019-02-28 17:09] detiber commented on #787
/kind docs

[2019-02-28 17:09] detiber commented on #788
/kind docs

[2019-02-28 17:09] detiber commented on #789
/kind docs

[2019-02-28 17:11] vincepri commented on #262
Agreed!

/milestone Next
/priority important-longterm

[2019-02-28 18:33] sidharthsurana commented on #493
@ncdc I don't this is a hard requirement from the cluster-api point of view for the v1alpha1 milestone. Given that individual provider implementations can implement these independently as well. I opened this Issue so that if we can figure out a provider agnostic way of implementing this behavior.

[2019-02-28 18:36] detiber commented on #493
/milestone Next

[2019-02-28 18:48] detiber commented on #137
/milestone Next

[2019-02-28 19:07] detiber commented on #789
/kind documentation

[2019-02-28 19:07] detiber commented on #788
/kind documentation

[2019-02-28 19:08] detiber commented on #787
/kind documentation

[2019-02-28 19:08] detiber commented on #786
/kind documentation

[2019-02-28 19:08] detiber commented on #778
/kind documentation

[2019-02-28 19:08] detiber commented on #777
/kind documentation

[2019-02-28 19:09] detiber commented on #742
/kind documentation

[2019-02-28 19:11] detiber commented on #567
/kind documentation

[2019-02-28 19:56] chuckha opened #791 "[clusterctl] Document cluster client functions"
/kind documentation

**Describe the solution you'd like**
The cluster client interface is pretty big and it would be great to document all the public functions

/help
/milestone next
/priority important-longterm

[2019-02-28 19:59] detiber commented on #791
/milestone Next

[2019-03-01 00:41] figo commented on #783
the kubebuilder fix is under review, https://github.com/kubernetes-sigs/kubebuilder/pull/614
a open question, do we support kubebuilder version other than the latest one?

[2019-03-01 01:33] davidewatson commented on #783
https://github.com/kubernetes-sigs/cluster-api/pull/782 documents the minimal version of `kubebuilder` as 1.0.5. Not all versions may be tested, but since this is for developement maybe that is okay.

[2019-03-01 05:27] errordeveloper commented on #733
I'm quite certain that @chuckha and I are on the same page.

@pablochacin it's possible you are thinking of a few things that probably belong to a different issue/thread.

[2019-03-01 05:30] errordeveloper opened #794 "What are the common fields across providers?"
At present, Cluster API defines a set of common fields.

In Cluster object we have the following parameter fields:

- `spec.clusterNetwork.pods.cidrBlocks`
- `spec.clusterNetwork.services.cidrBlocks`
- `spec.clusterNetwork.serviceDomain`

https://github.com/kubernetes-sigs/cluster-api/blob/f8d548b47e444972254fa23a91e626ecf7589ee2/config/crds/cluster_v1alpha1_cluster.yaml#L33-L63

There is **`provi

[2019-03-01 05:56] errordeveloper opened #795 "Status fileds"
/kind feature

We currently have following status fields:

- `status.apiEndpoints`
- `status.errorMessage`
- `status.errorReason`
- `status.providerStatus`

https://github.com/kubernetes-sigs/cluster-api/blob/f8d548b47e444972254fa23a91e626ecf7589ee2/config/crds/cluster_v1alpha1_cluster.yaml#L94-L127

It's not entirely clear to me if there was any motivation behind this particular design, so I'd li

[2019-03-01 06:25] errordeveloper commented on #794
## Provider Analysis

### EKS

*TODO*

### GKE

*TODO*

[2019-03-01 13:38] pablochacin commented on #733
@errordeveloper I was confused about the scope of your proposal. Initially (when you pitched it at the office hours meeting) I wrongly understood you proposed to maintain the existing API but replacing the provider specific `spec`  as references to provider specific CRDs. That was the source of my confusion about the `generic cluster controller` and the scope of `data` and `metadata`.

Now I under

[2019-03-01 16:21] vincepri commented on #746
/lifecycle active

[2019-03-01 16:31] chuckha commented on #733
Interesting, would this look a bit like this:

[code]

Then the idea would be to have something check each one for a non-nil value?

[2019-03-01 17:56] detiber commented on #783
@figo I don't see an issue with requiring a min version of kubebuilder, even if it is the latest release as long as we document it.

[2019-03-01 18:16] #556 closed

[2019-03-01 18:54] ncdc commented on #733
@chuckha that would require a code change to add support for new providers, though. I don't think we want to do that.

[2019-03-01 18:56] chuckha commented on #733
@ncdc I wasn't suggesting we do this particular change. I want to confirm with an example what @pablochacin is suggesting.

[2019-03-01 18:57] ncdc commented on #733
Gotcha. It doesn't need to be a union struct like that. We could use object references instead:
[code]

[2019-03-01 19:12] #758 closed

[2019-03-02 12:05] errordeveloper commented on #733
I think owner reference would be a great idea to explore more specifically,
I alluded to that earlier also.

On Fri, 1 Mar 2019, 6:58 pm Andy Goldstein, <notifications@github.com>
wrote:

[2019-03-02 16:43] pablochacin commented on #733
@ncdc Exactly.  Having the specs as separated objects allows them to have their own controllers, instead of been passed from the cluster controller to the actuator via some synchronous call.

[2019-03-04 16:53] #746 closed

[2019-03-05 03:05] yuyangbj commented on #682
@ashish-amarnath do we have any KEP description or design doc for this feature to follow up? Thanks.

[2019-03-05 15:53] ncdc commented on #47
Are there any action items for this issue for v1alpha1?

[2019-03-05 15:55] ncdc commented on #75
This has `priority/important-longterm`. Do we think we'll be able to resolve any outstanding questions/issues in time for v1alpha1?

[2019-03-05 15:59] ncdc commented on #448
@detiber are you working on this now? Is there a PR in flight?

[2019-03-05 16:00] ncdc commented on #520
Have we decided on what we want to do here for v1alpha1?

[2019-03-05 16:28] ncdc commented on #732
Once #768 is merged, do we plan to copy/paste that process information from here to the various provider repositories?

[2019-03-05 19:02] chuckha commented on #732
No, that's an information gathering step. The release process is very different between providers and cluster-api, copying doesn't make sense yet.

The next step is to at least automate cluster-api releases, ideally automate aws provider as well, and see what can and cannot be shared and what is unique to providers.

That document has links to other providers release process which can also be foun

[2019-03-05 19:10] ncdc commented on #732
If the release process varies across providers, and that is acceptable, I'd suggest we consider closing this issue.

[2019-03-05 19:14] chuckha commented on #732
It's not all documented yet, but we do have issues open for the documentation across many of the providers. if you'd like to close it out, by all means

[2019-03-05 19:16] ncdc commented on #732
I don't think I have permission yet to close, so if it doesn't work, hopefully someone else can do it for me 😄

/close

[2019-03-05 19:16] #732 closed

[2019-03-05 19:16] ncdc commented on #732
Ha I take that back!

[2019-03-05 19:56] davidewatson commented on #733
I am not sure what the deliverable is for this issue (i.e. what actions would allow us to close it?). I propose an update to the README.md clarifying these products:

[2019-03-05 21:03] ashish-amarnath commented on #682
@yuyangbj unfortunately not.
But this PR from the aws provider implementation https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/463 should offer some context.

[2019-03-05 21:30] errordeveloper commented on #733
@davidewatson yes, those would be good, if we agree those are the things we want to see as the product :)

[2019-03-06 15:05] detiber commented on #448
@ncdc yes, this is part of #731

[2019-03-06 15:08] ncdc commented on #448
Thanks. Does 731 close this issue? If so, can we put that in 731's description?

[2019-03-06 17:32] davidewatson commented on #520
I think we should punt this from v1alpha1. We have the controllers we have for this release. The main consequence for this repo is that `MachineSet` controller health checks will only work when the controller is run within the same cluster it manages.

[2019-03-06 18:05] ncdc commented on #520
SGTM.
/milestone Next

[2019-03-06 18:25] ncdc commented on #47
As discussed in the Cluster API meeting today, this is not required for v1alpha1.

/milestone Next

[2019-03-06 19:42] ncdc commented on #75
We didn't discuss this during today's meeting. I propose that this isn't required for v1alpha1 and we can defer it to a future milestone. WDYT @hardikdr @justinsb @detiber @rsdcastro?

[2019-03-06 19:44] detiber commented on #75
Considering there is an open PR that could resolve this: https://github.com/kubernetes-sigs/cluster-api/pull/726/files I don't see a need to bump it unless we cannot get that PR merged in time.

[2019-03-06 19:46] ncdc commented on #75
There is also #513.

[2019-03-06 20:02] #764 closed

[2019-03-06 20:10] ncdc commented on #678
Moving to Next, since we've deferred #520. Please let me know if you think this should stay in v1alpha1.

/milestone Next

[2019-03-06 20:11] ncdc commented on #730
@chuckha what are our "done" criteria for this issue - when can we close the issue?

[2019-03-06 20:13] chuckha commented on #730
@ncdc I think the lowest bar for closing this would be to open an issue on each provider telling them to document the version of kubernetes that is supported by which version of the provider.

A support grid on the provider.

[2019-03-06 20:14] ncdc commented on #730
If that's the required action, can we close this now and proceed to open 1 issue per provider?

[2019-03-06 20:15] ncdc commented on #783
What is remaining before we can close this issue?

[2019-03-06 20:15] chuckha commented on #730
yes, that's fine.

I'd recommend a grid similar to the one found in client-go. It would also be good to document the version of cluster-api that the version of the provider depends on, but I suppose not entirely necessary

[2019-03-06 20:16] ncdc commented on #730
I think it is necessary to document the cluster-api version, since a full deployment requires both the cluster-api controllers and the provider controllers, and they have to talk the same language.

[2019-03-06 20:23] ncdc commented on #730
Ok, before we close this, perhaps let's discuss the grid(s). Would you want something like this?

||Cluster API 0.1|Cluster API 0.2|
|-|-|-|
|AWS Provider 0.1|✓||
|AWS Provider 0.2||✓|

||Kubernetes 1.11|Kubernetes 1.12|Kubernetes 1.13|Kubernetes 1.14|
|-|-|-|-|-|
|AWS Provider 0.1|✓|✓|✓|
|AWS Provider 0.2||✓|✓|✓|

[2019-03-06 20:25] chuckha commented on #730
Too bad READMEs don't do 3 dimensional grids 😂

That looks great to me :) Thanks for putting that together!

[2019-03-06 20:29] ncdc commented on #730
AWS: https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/628

[2019-03-06 20:42] #742 closed

[2019-03-06 22:18] sflxn commented on #787
I can add a few sequence diagrams for this if no one has signed up for it.

[2019-03-07 15:35] ncdc commented on #730
@chuckha I think I got all the ones in `kubernetes-sigs`. Should I do the others too (OpenShift, Baidu, Tencent Cloud)?

[2019-03-07 15:37] chuckha commented on #730
I think that's fine. I'm not sure how people are starting cluster-api-provider repos these days, but wherever those instructions live we should add this chart to the getting-started guide. I'll open a separate issue for that.

Thanks a bunch @ncdc !

/close

[2019-03-07 15:37] #730 closed

[2019-03-07 15:38] detiber commented on #730
@chuckha The gitbook would probably be the best place for that.

[2019-03-07 15:40] chuckha opened #807 "Document version matrix in provider getting started documentation (gitbook)"
/kind documentation
/milestone Next
/priority important-longterm

**Describe the solution you'd like**
We should add the version matrix to the getting started implementing a provider section of the gitbook. The markdown that we are using looks like this:

[code]

Which yields tables like this:

||Cluster API 0.1|Cluster API 0.2|
|-|-|-|
|XYZ Provider 0.1|✓||
|XYZ Provider 0.2||✓|

||Kubernetes 1.1

[2019-03-07 15:56] detiber commented on #807
/milestone Next
/cc @davidewatson

[2019-03-08 13:39] detiber commented on #783
The kubebuilder fix has now been merged, remaining items for this ticket should be to document minimum required kubebuilder version once a new release is cut.

[2019-03-08 21:28] sflxn opened #812 "Node controller doesn't have enough privileges to update the noderef"
/kind bug

**What steps did you take and what happened:**
1. Create a target cluster.
2. Wait for the node to appear.
3. kubectl describe machine <machine>

**What did you expect to happen:**

The machine.Status should have a Node Ref but it doesn't.

**Anything else you would like to add:**

**Environment:**
CAPV (vSphere)

- Cluster-api version:
- Kubernetes version: (use `kubectl version`):
- O

[2019-03-08 21:29] sflxn commented on #812
https://github.com/kubernetes-sigs/cluster-api/blob/master/pkg/controller/node/node.go#L76

Node controller is suppose to link/unlink machine to nodes but the RBAC rules currently does not allow it to do so.

[2019-03-08 21:50] #812 closed

[2019-03-11 16:05] #448 closed

[2019-03-11 22:16] vincepri opened #815 "Pivot fails: machines.cluster.k8s.io "controlplane-0" already exists"
/kind bug

**What steps did you take and what happened:**
Using the AWS provider, `clusterctl create cluster ...` with the usual workflow, after the `controlplane-0` instance gets created, clusterctl fails with the error shown below.

[code]

**What did you expect to happen:**
Controlplane and cluster should be created successfully.

[2019-03-11 22:17] vincepri commented on #815
/milestone v1alpha1
/assign @detiber
/priority important-critical

[2019-03-11 22:33] vincepri commented on #815
Seems the main issue here is that controlplane-0 seems duplicated
[code]

Investigating.

[2019-03-12 07:50] ashish-amarnath commented on #815
The problem is with https://github.com/kubernetes-sigs/cluster-api/blob/master/cmd/clusterctl/clusterdeployer/clusterclient/clusterclient.go#L383
The machines are double counted.

[2019-03-12 07:50] ashish-amarnath commented on #815
/assign
/lifecycle active

[2019-03-12 07:52] ashish-amarnath commented on #815
I could have saved myself a couple of hours had I come to this issue sooner.
I thought I was doing something wrong.

[2019-03-12 13:26] #815 closed

[2019-03-12 15:42] ncdc commented on #168
@wangzhen127 @detiber @vincepri @chuckha now that #679 is merged, should we close this, or is there more work left to do?

[2019-03-12 19:36] wangzhen127 commented on #168
We can close this now. Validation is a wide topic. If we want to extend existing checks to additional validations, we can open specific issues on those.

[2019-03-12 19:36] #168 closed

[2019-03-13 15:13] #11 closed

[2019-03-13 23:56] ashoksekar07 opened #820 "Status of a cluster is not easy to find"
/kind feature

**Describe the solution you'd like**
When I created a cluster using Cluster API and the AWS provider, there was no easy way to find whether my cluster was successfully created.

For example, when you create a PVC object in Kubernetes it has a state which says 'unbound' initially and then moves on to 'bound' when it is successful. Similarly, if there is a cluster level status which s

[2019-03-14 06:10] lzang commented on #678
Hit similar issue on my setup, then figured out that for the validation to pass, NodeRef needs to be not nil, which means the node needs to have the correct annotation.  You can describe your node and see if they have the annotation "cluster.k8s.io/machine"

[2019-03-14 17:37] detiber commented on #820
/milestone Next
/priority important-soon

[2019-03-14 20:53] sflxn opened #821 "When using kustomize v2, the order of make target seems to matter"
With kustomize v2, if I run a make build target before the example yaml generation, it generates a provider-components.yaml file that clusterctl does not like.  The reason is that it updates the CRDs in config/crds/ folder, modifying the `conditions` and `storedVersions` fields in the status section.  It changes those values from [] to null.

When a yaml generation target is run before a build tar

[2019-03-14 20:53] sflxn commented on #821
wrong repo.  sorry.  closing

[2019-03-14 20:53] #821 closed

[2019-03-15 15:09] Hefeweizen opened #823 "clustrctl README.md references googledoc requiring login - allow anonymous RO access"
/kind bug

**What steps did you take and what happened:**
The link to "experience doc here" in the cluster-api/cmd/clusterctl/README.md is a link to a google doc in edit mode.  As such, access requires a login.  This should default to a Read-only view that does not require logging in.

**What did you expect to happen:**
I'm on Github; I did not expect to have to log in to a third-party service to

[2019-03-15 15:47] detiber commented on #823
@Hefeweizen The doc requires you to be a member of either the [kubernetes-dev](https://groups.google.com/forum/#!forum/kubernetes-dev) or [kubernetes-sig-cluster-lifecycle](https://groups.google.com/forum/#!forum/kubernetes-sig-cluster-lifecycle) google groups

[2019-03-15 15:57] detiber commented on #823
/remove-kind bug
/kind documentation

We should update the documentation to call out when a document requires Google Group membership.

/priority important-soon
/milestone v1alpha1

[2019-03-15 20:26] #786 closed

[2019-03-17 06:12] leakingtapan commented on #815
I had the same issue. After this happened, I had a lingering cluster with the bootstrap kind cluster already deleted. How can I get rid of the half baked cluster at this point? Seems `clusterctl delete cluster` requires the kubeconfig for the created cluster. But where can I find it?

[2019-03-18 13:57] detiber commented on #815
@leakingtapan The kubeconfig for the created cluster should be in the current working directory where you ran the `clusterctl` command and should be named `kubeconfig`.

@leakingtapan When you ran into this issue, where you running from a release or did you build from the `master` branch? If the later was it after the fix for this was already merged?

[2019-03-18 15:49] ncdc commented on #788
@justinsb are you actively working on this? If not, we might have someone who could give it a try. Thanks!

[2019-03-18 15:51] ncdc commented on #787
@sflxn I see you have some commits for this issue - are you planning on opening a PR?

[2019-03-18 18:02] leakingtapan commented on #815
@detiber it was using the release. Will check latest branch.

[2019-03-19 05:07] gyliu513 opened #825 "[Document] How to provision a k8s cluster with an existing k8s cluster but not bootstrap cluster?"
I found that the k8s provision with openstack can either use a bootstrap cluster or use an existing cluster, but there is no document for how to use an existing cluster to provision new k8s cluster, does there are any document that I can refer? Thanks.

[2019-03-19 07:33] pierre-emmanuelJ commented on #825
This is the same way, just use `kubeconfig` of your existing cluster. And you can use it with `clusterctl` or `kubectl`.
Little example:
https://github.com/exoscale/cluster-api-provider-exoscale/blob/create-cluster-doc/doc/create-cluster-kubectl.md
I use kind but in this case.
IMPORTANT:
follow the instructions of openstack when you build the `provider-configuration` to apply it to your existing c

[2019-03-19 13:15] detiber commented on #825
/kind documentation
/priority important-soon
/milestone v1alpha1

[2019-03-19 13:15] detiber commented on #825
/help
/good-first-issue

[2019-03-19 13:17] detiber commented on #825
I've created a similar set of instructions for using the AWS provider with an existing k8s cluster: https://gist.github.com/detiber/8f61767b6d39d65aceab89d5a92589c4

[2019-03-19 14:52] ncdc commented on #823
/lifecycle active
/assign @amy

[2019-03-19 14:53] ncdc commented on #823
@amy will be working on this but I'll assign it to myself for now.
/assign

[2019-03-19 21:33] sflxn commented on #787
@ncdc Yes.  I'm going to have a PR within the next day or two.  I had to abandon the sequence diagram plugin as it's really unreliable, as @davidewatson also found.  It will be png files instead.

[2019-03-20 03:27] gyliu513 opened #827 "Propose set `bootstrap-cluster-cleanup` as false by default"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**
Currently, the bootstrap cluster was always deleted by default https://github.com/kubernetes-sigs/cluster-api/blob/master/cmd/clusterctl/clusterdeployer/bootstrap/options.go#L30 , why? How about set the default value of `bootstrap-cluster-cleanup` as f

[2019-03-20 03:27] gyliu513 commented on #827
FYI @xunpan

@dims any comments for this? Thanks.

[2019-03-20 14:34] vincepri commented on #827
/milestone Next

[2019-03-20 15:22] detiber commented on #827
The original goal was to treat the bootstrapping cluster as temporary (with the exception of specifying an external bootstrap cluster). I'm not entirely sure we should move away from the default expectation.

[2019-03-20 17:52] ncdc commented on #554
/milestone Next

[2019-03-20 17:52] vincepri commented on #75
/assign

[2019-03-20 17:57] detiber commented on #783
/assign

[2019-03-20 18:06] ncdc commented on #825
/milestone Next

as per discussion at today's Cluster API meeting

[2019-03-20 20:00] pablochacin opened #833 "Externalize provider specific specs and status in separated CRDs"
/kind feature

**Describe the solution you'd like**
Presently,  `Cluster` and `Machine` CRDs include an opaque representation of provider specific description of these resources and their status:
[code]

An alternative approach would be to use CRDs for provider specific specs and status and keep a `ObjectReference`

[code]

With respect of the provider specific status, the ClusterAPI controllers s

[2019-03-20 20:13] ncdc commented on #833
@pablochacin would you be willing to defer discussion on this while we plan out the organization we discussed in today's community around roadmap items, and using KEPs for things like this instead of individual issues?

[2019-03-21 01:45] gyliu513 commented on #827
@detiber @vincepri but I have an issue here https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/267#issue-423084291

The problem is that my minikube cluster was always deleted which is not the bootstrap cluster.

[2019-03-21 05:53] jichenjc commented on #827
@gyliu513 I think you are saying that the minikube is NOT created by clusterctl command? so we have to check whether it's created by clusterclt and should not touch anything that created before the command?

[2019-03-21 05:55] jichenjc commented on #825
@gyliu513 maybe we should think about create an openstack own before the cluster API next version.

[2019-03-21 06:15] gyliu513 commented on #827
Thanks @jichenjc , if you go through the case of https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/267#issue-423084291 , you will get more detail.

1) I set up a minikube cluster.
2) In my minikube cluster, I run `clusterctl create` with openstack provider, and this will trigger a new minikube cluster.
3) Due to some network issue, my `clusterctl create` failed and timeout a

[2019-03-21 06:22] jichenjc commented on #827
exactly same thought to my understanding, @gyliu513 ,so I think that's a bug and suggest we can work here to fix :)

[2019-03-21 07:48] jichenjc commented on #820
same issue here. I created a openstack cluster and don't know what's the status
I can check machine part first

[2019-03-21 08:17] pablochacin commented on #833
@ncdc Sure. My intention with this issue was to put together ideas that I had expressed as comments in other places (issues, documents) and facilitate the discussion.

[2019-03-21 13:41] detiber commented on #827
Ah, thanks for the additional context, it definitely sounds like a bug with the way we are using minikube. What we probably need to do is set a name for the minikube cluster by default (like we do with KIND).

[2019-03-21 14:28] gyliu513 commented on #827
Thanks @detiber +1 to adding a name, let me try to create a PR.

[2019-03-21 15:13] gyliu513 opened #839 "`bootstrap-cluster-cleanup` is not taking effect"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Even if I set `bootstrap-cluster-cleanup` as false, the bootstrap cluster was still deleted.

**What did you expect to happen:**

Bootstrap cluster should not be deleted if `bootstrap-cluster-cleanup` set as false.

/assign

FYI @xunpan @jichenjc @morvencao @clyang82

[2019-03-21 17:43] dlipovetsky commented on #707
The [same issue in the kubeadm types](https://github.com/kubernetes/kubeadm/issues/1358) is beign resolved by removing the `omitempty` tag from the `Taints` field in the v1beta2 types.

I'll file a PR (that can be put on hold until after v1alpha1)

[2019-03-22 05:07] gyliu513 opened #843 "[Question] Is it a good way to integrate cluster api with terraform"
Terraform is a tool for building, changing, and versioning infrastructure safely and efficiently. Terraform can manage existing and popular service providers as well as custom in-house solutions.

The cluster-api is now hosting many different projects to integrate with different cloud providers, like aws, openstack, vsphere etc. Is it possible to create a cloud provider based on terraform so that

[2019-03-22 05:39] gyliu513 opened #844 "Support setting name for minikube bootstrap cluster"
/kind bug

Please refer to https://github.com/kubernetes-sigs/cluster-api/issues/827#issuecomment-475232557 for more discussion.

What I did is as follows:

- Set up a minikube cluster.
- In my minikube cluster, I run `clusterctl create` with openstack provider, and this will trigger a new minikube cluster.
- Due to some network issue, my `clusterctl create` failed and timeout after 30 mins.
- At

[2019-03-22 13:16] detiber commented on #844
/priority important-soon
/milestone v1alpha1

[2019-03-22 13:42] detiber commented on #843
This is something that has come up a few times in the past as well. There was even an in-tree vSphere provider at one point that leveraged Terraform.

I don't think there would be any objection from the community if someone wanted to build and maintain a Terraform provider for cluster-api.

That said, personally I'm not a fan of the approach for a few different reasons:
- Managing the version of T

[2019-03-22 14:24] gyliu513 commented on #843
Thanks @detiber, so seems your major concern is usability and complexity if create a cloud provider with terraform? So the best practise for cluster-api is we encourage each cloud has a provider?

I also found @timothysc has a blog here https://blogs.vmware.com/cloudnative/2019/03/14/what-and-why-of-cluster-api/ , and I can see the major advantage of cluster-api is we want to use kubernetes native

[2019-03-22 14:31] detiber commented on #843
I do believe that is best path forward. post-v1alpha1 we will be working towards reducing the complexity of building and maintaining providers as well.

[2019-03-22 14:58] vrutkovs opened #848 "Register Schemes doc should mention klog flags"
/kind bug

**What steps did you take and what happened:**
Controller which uses example code given in https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/book/provider_implementations/register_schemes.md fails with flag provided but not defined: -logtostderr otherwise

**What did you expect to happen:**
Manager won't crash

**Anything else you would like to add:**

**Environment:**

[2019-03-22 16:12] #844 closed

[2019-03-25 05:06] gyliu513 opened #852 "Enable IBM POWER/s390x support for cluster-api"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Some customer want to run cluster-api on IBM POWER, it is better to enable cluster-api can run on POWER as well, including both `clusterctl` and `cluster api manager`.

/cc @vincepri @detiber

FYI @jichenjc @morvencao @clyang82 @xunpan

**Anything else you would like to add:**
[Miscel

[2019-03-25 05:20] jichenjc commented on #852
not sure what's the to do items here, and IBM s390x platform https://en.wikipedia.org/wiki/Linux_on_z_Systems will also fit for changes applicable to IBM POWER

[2019-03-25 07:22] gyliu513 commented on #852
@jichenjc I think there are two items for this project:
- Build and enable the cluster api controller can run on POWER and s390x
- Update document for how to build `clusterctl` on POWER and s390x

[2019-03-25 07:32] jichenjc commented on #852
ok, this should be something we can contribute, thanks

[2019-03-25 09:37] gyliu513 opened #853 "Enable cluster-api can manage cluster for different k8s distributions"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Currently, the cluster-api can only create native k8s clusters but do not support other k8s distributions, like redhat openshift, IBM Cloud Private etc, does cluster-api has some plan to support let customer define what kind of k8s distribution cluster that they want to create.

**Any

[2019-03-25 09:38] gyliu513 commented on #853
/cc @vincepri @detiber

FYI @jichenjc @clyang82 @morvencao @xunpan

[2019-03-25 10:00] jichenjc commented on #853
looks like openshift already have something, I don't know the detail though...
https://github.com/openshift/cluster-operator

[2019-03-25 11:14] gyliu513 commented on #853
Thanks @jichenjc, seems https://github.com/openshift/cluster-operator is trying to install openshift on AWS, but here I'm wondering can cluster-api provide a generic way to provision any k8s distributions in one cloud provider, am I missing anything?

[2019-03-25 11:22] enxebre commented on #853
@jichenjc https://github.com/openshift/cluster-operator is deprecated.
We use https://github.com/openshift/machine-api-operator enable the machine API (i.e it makes the machine CRDs and controllers available in an existing cluster) and we plan to gradually adopt other parts of the API

[2019-03-25 13:14] detiber commented on #853
@gyliu513 this is one of the things that we are looking to address post-v1alpha1.

/milestone Next

[2019-03-25 13:24] detiber commented on #852
I have no objections to supporting additional architectures as long as we can also have some level of automated testing on those architectures as well.

/milestone Next

[2019-03-25 13:41] gyliu513 commented on #853
@detiber does there are any discussion or documents that I can refer? Also want to check how can I contribute to this as well.

[2019-03-25 14:03] detiber commented on #853
Since there have been many varied discussions and proposals around this (and other design topics) we wanted to start with gaining consensus around What Cluster API is and should be prior to diving too deep into particular proposals (start with high level alignment prior to trying to get low level alignment around design implementations).

This is something that we'll be discussing a the Cluster AP

[2019-03-25 14:32] gyliu513 commented on #853
that make sense, thanks @detiber , look forward to the mail list discussion ;-)

[2019-03-25 22:24] #823 closed

[2019-03-26 03:58] jichenjc commented on #853
@enxebre this is very helpful to me , and actually I am trying to contribute openshift on openstack as well :)

[2019-03-26 17:21] ashish-amarnath commented on #825
/assign @amy
/lifecycle active

[2019-03-27 13:52] #787 closed

[2019-03-27 15:40] vincepri commented on #783
/kind documentation

[2019-03-27 15:41] detiber commented on #783
This is also still waiting on a new release of `kubebuilder`, so bumping to Next
/milestone Next

[2019-03-27 15:52] #848 closed

[2019-03-27 19:12] #75 closed

[2019-03-28 05:17] gyliu513 opened #859 "Use `kubectl kustomize` instead of `kustomize`"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

`kustomize` is now a sub-command for `kubectl` https://github.com/kubernetes/kubernetes/pull/73033 , so there is no need to let end user install `kustomize` separately, but installing `kubectl` is good enough.

We can update the script and document to clarify how to use `kubectl kusto

[2019-03-28 13:38] detiber commented on #859
/milestone Next

[2019-03-28 13:40] detiber commented on #859
I'm not quite sure we should rely on `kubectl kustomize` just yet, there has been some controversy around the inclusion of kustomize in kubectl. We should probably follow the lead of `kubebuilder` here and switch only if they also switch.

[2019-03-28 14:09] gyliu513 commented on #859
@detiber the reason I want to propose this is I want to make we can use `cluster-api` as simple as possible, installing or requesting less binaries can always make life easier ;-)

[2019-03-29 13:30] gyliu513 opened #860 "Make timeoutMachineReady configurable"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Currently, the timeout of `timeoutMachineReady` is 30 mins, it is better make this configurable, so that customer can use a larger value for some IaaS layer which need more time to make machine and k8s ready.

/cc @vincepri @detiber

FYI @jichenjc @morvencao @xunpan @clyang82

**Anyth

[2019-03-31 09:20] gyliu513 opened #866 "Enable configuring docker for machine"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Someone may want to use specified docker version, so it is better to enable end user can set some docker configurations.

/cc @vincepri @detiber

FYI @jichenjc @xunpan @morvencao @clyang82

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving

[2019-03-31 12:40] neolit123 commented on #866
well it's not an error, just a warning. recommendation is here: https://kubernetes.io/docs/setup/cri/

i'm leaning towards no, as i don't think the machine spec can/should handle container runtime specific flags.

[2019-04-01 01:51] gyliu513 commented on #866
@neolit123 @vincepri but any comments for how we can handle the docker that want to be used by customer?

For OpenStack provider, we are using `user-data` to install docker, but the problem is that the end user need to update `user-data` to specify the docker version which is not convenient.

[2019-04-01 02:51] jichenjc commented on #860
/assign

[2019-04-01 03:04] jichenjc commented on #866
also, it's not convenient to enable debug for kubeadm

if we can have a cluster wide configuration (in cluster.yaml or not can be further discussed) to set debug level of kubeadm, to set docker version , docker format etc will be easier to configure

[2019-04-01 14:40] #661 closed

[2019-04-01 15:17] vincepri commented on #866
@gyliu513 I'm not sure if that falls under the responsibilities for cluster-api. These concerns seem more appropriate for image stamping which is something that we haven't discussed in details yet  or could fall under machine configuration (open proposal) in some form of user-data as you mentioned.

Could we have some sort of automation (provider-specific) that lives outside of cluster-api to allo

[2019-04-01 15:44] detiber commented on #866
@vincepri yes and no. Currently CRI would fall both under image stamping and also bootstrapping (since the two need to align).

[2019-04-01 20:10] derekwaynecarr commented on #866
i am actually surprised by this message as the default driver for the
kubelet is cgroupfs, and its only if the host os configures with systemd
should the kubelet use systemd.

its actually simpler in the long run if we can just have the kubelet detect
the right thing from the container runtime so it stops being a top-level
install choice.

On Mon, Apr 1, 2019 at 3:56 PM Vince Prignano <notificatio

[2019-04-01 20:12] detiber commented on #866
@derekwaynecarr I'd love to see the kubelet handle this, it would make life a lot easier for downstream users.

[2019-04-01 20:21] neolit123 commented on #866
kubelet is cgroupfs, and its only if the host os configures with systemd
should the kubelet use systemd.

the rational behind the message is here:
https://kubernetes.io/docs/setup/cri/#cgroup-drivers

the right thing from the container runtime so it stops being a top-level
install choice.

there is/was an ongoing effort on this front by a single developer (filbranden):

https://github.com/filbrand

[2019-04-02 03:16] gyliu513 commented on #866
My thinking is how about update `providerSpec` by adding some parameters to specify `docker config` etc? As far as I can see, I think both VM and docker should be treated at same level as `providerSpec`.

[code]

@derekwaynecarr so you mean that kubelet should detect docker cgroup driver and start with a driver same as docker?

[2019-04-02 03:36] jichenjc commented on #866
@gyliu513 provider spec is something related to cloud infra, put docker related settings seems overkill
seems either choose another new configuration to honor e.g. cluster-infra-settings.yaml or let the kubelet auto detect as comments above

[2019-04-02 04:27] gyliu513 commented on #866
@jichenjc good comments.

@vincepri @detiber any more comments for the requirement? If you agree, can we start some design work?

[2019-04-02 13:17] detiber commented on #866
@gyliu513 we are currently still working on defining the [goals, requirements](https://docs.google.com/document/d/1gLaFv85sDXZ6MeURsmChk894yiMl-LVvrN3DRIaBopE/edit#), and [use cases](https://docs.google.com/document/d/13OQjn5lxRyiW9itNPjVuP0aN_JvYJByKznQESQEDDt8/edit#heading=h.lbwy0ixlcvbb) for Cluster API post-v1alpha. After that is complete we'll be diving more into the design changes required t

[2019-04-02 21:58] timothysc commented on #723
/assign @timothysc

I'm going to start a KEP on this work pretty soon and will send out emails on requirements as well.

[2019-04-03 02:43] gyliu513 commented on #825
@amy any progress for this?

[2019-04-03 06:21] gyliu513 opened #870 "Two CRDs named `clusters` as short name"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

cluster-api is using CRD name as `clusters.cluster.k8s.io`, but there is another project https://github.com/kubernetes/cluster-registry which is also using a CRD named as  `clusters.clusterregistry.k8s.io`, and both of those two CRD are using `cluster

[2019-04-03 06:24] gyliu513 commented on #866
Thanks @detiber , let me check and post some of my requirements there.

[2019-04-03 13:15] detiber commented on #870
/priority important-longterm
/milestone Next

[2019-04-03 18:21] ryanmcginnis opened #873 "Duplicated sample YAMLs"
/kind bug

**What steps did you take and what happened:**
there are are least three directories containing similar sample YAMLs, all variously maintained:

* https://github.com/kubernetes-sigs/cluster-api/tree/master/docs/examples
* https://github.com/kubernetes-sigs/cluster-api/tree/master/config/samples
* https://github.com/kubernetes-sigs/cluster-api/tree/master/sample

in learning about the AP

[2019-04-03 19:50] rnandi opened #874 "--bootstrap-type on create cluster should work with minikube"
/kind bug

**What steps did you take and what happened:**
Followed the [getting started guide](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/getting-started.md) on cluster-api-provder-aws to create a cluster with `--bootstrap-type minikube`

**What did you expect to happen:**
I expected it to succeed since [clusterctl README](https://github.com/kubernetes-sigs/cluste

[2019-04-04 02:14] #874 closed

[2019-04-04 04:13] gyliu513 opened #876 "cluster api controllers are not deleted after k8s master provision finished"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

I was using existing k8s cluster as bootstrap cluster, and after the k8s master was provisioned on OpenStack, I found the controllers was still running in my existing k8s cluster, I think those controllers, CRDs should be deleted on bootstrap cluster.

[2019-04-04 06:31] hardikdr commented on #493
@ncdc Yes I have started looking into it, I will soon be providing a proposal-doc for the same.

[2019-04-04 13:46] detiber commented on #876
@gyliu513 It sounds like you might be using an older version of the `clusterctl` source in the build that you are testing with (prior to the [pivot phase work](https://github.com/kubernetes-sigs/cluster-api/pull/731) being merged). Prior to that PR landing resources and provider components were indeed left stranded on the external bootstrap cluster, but afterwards they should be cleaned up regardl

[2019-04-04 13:47] gyliu513 commented on #876
Thanks @detiber , let me test with the 0.1.0 cluster-api to see if it works.

[2019-04-04 19:35] timothysc commented on #833
/assign @vincepri @detiber

[2019-04-05 15:35] #825 closed

[2019-04-09 08:37] jichenjc opened #881 "[Question] should we support adding roles to worker node ?"
This actually comes from https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/298
but I think it's applicable to cluster-api

should we add this into yaml so that user is able to set role during cluster-api creation stage or guide user to change the role after cluster is up?

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**A

[2019-04-09 09:20] gyliu513 commented on #881
/cc @vincepri @detiber

Thanks @jichenjc , +1 for this.

[2019-04-09 18:36] vincepri commented on #881
Hopefully the role can be offered, in the fullness of time, as a top level configuration parameter and default to `node` as @detiber mentioned.

[2019-04-10 02:45] jichenjc commented on #881
@detiber can you tell me where's the place to add role in aws provider? just want to refer to .. thanks

[2019-04-10 02:50] jichenjc commented on #881
/assign

I can take a look and see how we can achieve this

[2019-04-10 03:56] tahsinrahman commented on #881
@jichenjc
- aws: https://github.com/tahsinrahman/cluster-api-provider-aws/blob/50bda8c90faa57a53b4c535136f94e854ab9f5a3/pkg/cloud/aws/services/kubeadm/aws_defaults.go#L170
- azure: https://github.com/tahsinrahman/cluster-api-provider-azure/blob/3734f39b9d0d24eac62fc3a607a5c9fc7ccbaa4b/pkg/cloud/azure/services/config/node.go#L51

[2019-04-10 07:56] jichenjc commented on #881
@tashimi thanks for the comments ~

[2019-04-11 02:24] jichenjc commented on #860
I forgot to add mark in #865 ,but since it's merged, we can close this one? @gyliu513

[2019-04-11 02:40] gyliu513 commented on #860
Yes, let me close it. thanks @jichenjc

[2019-04-11 02:40] #860 closed

[2019-04-11 18:06] sfzylad opened #888 "Backport of #878 from upstream, so it can be reused in CAPA."
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

I"d like to backport #878 from upstream to release 0.1.0, so then I can reuse it while working on kubernetes-sigs/cluster-api-provider-aws#415

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-04-11 18:08] sfzylad commented on #888
/lifecycle active

[2019-04-12 15:33] detiber opened #891 "CI Coverage for arm64"
/kind feature

After #886 merges we will need to wire up test coverage for arm64

Request for test infrastructure has been submitted to [OpenLab](https://openlabtesting.org/) here: https://github.com/theopenlab/openlab/issues/241

[2019-04-12 15:33] detiber commented on #891
/assign

[2019-04-12 15:34] detiber opened #892 "CI Coverage for ppc64le"
/kind feature

After #886 merges we will need to wire up test coverage for ppc64le

[2019-04-12 15:34] detiber opened #893 "CI Coverage for s390x"
/kind feature

After #886 merges we will need to wire up test coverage for s390x

[2019-04-12 15:35] detiber commented on #892
/assign @mkumatag

[2019-04-12 15:35] detiber commented on #893
/assign @mkumatag

[2019-04-15 07:00] jichenjc commented on #493
https://github.com/kubernetes-sigs/cluster-api/issues/881
this one can also be covered ?

[2019-04-16 05:25] jichenjc commented on #893
+1 for CI coverage, I don't know how the CI can be achieved but I can help you to find some potential solution @mkumatag

[2019-04-16 13:32] sfzylad commented on #888
Looks like this has not been closed by the bot.

/close

[2019-04-16 13:32] #888 closed

[2019-04-16 16:37] detiber commented on #852
Reopening since this does not address the merged PR does not address the client binaries.

[2019-04-16 21:10] mrhillsman commented on #891
OpenLab team has approved request for test infrastructure @detiber
@flaper87 is familiar with OpenLab underlying CI tooling and maybe could help. Jobs are Ansible playbooks living in https://github.com/theopenlab/openlab-zuul-jobs

We do however prefer the jobs be hosted in the project's repo so the community has ownership of the jobs and we just maintain the infrastructure. It empowers the commun

[2019-04-16 23:50] gyliu513 commented on #852
@detiber do you mean the `clusterctl`?

[2019-04-17 20:50] dpb587-pivotal commented on #660
Seems the issue is the use of `|| true`. The underlying `make gazelle` command always exits 0. Not sure the background of the current `|| true` behavior, but it appears to have been introduced in https://github.com/kubernetes-sigs/cluster-api/pull/631.

https://github.com/kubernetes-sigs/cluster-api/blob/a493ad0b33e5b215154404674e7861f2ebc710e8/Makefile#L43-L44

Is it preferable to assume/require

[2019-04-19 00:09] dpb587-pivotal commented on #34
Cross-referencing... this is now documented as a Validation Requirement in the [Cluster API Scopes and Objectives](https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/scope-and-objectives.md):

[2019-04-19 06:13] gyliu513 commented on #853
After more thinking, I think this task may belong to different cloud providers.

We can take OpenStack Cloud Provider as an example, this provider is using `user-data` to do post install, and the `user-data` will help to install Kubernetes cluster, so we may need to enhance `user-data` to support installing different Kubernetes distributions.

@jichenjc @detiber @vincepri WDYT? Thanks!

[2019-04-19 06:14] gyliu513 commented on #853
FYI @xunpan

[2019-04-19 06:28] gyliu513 commented on #853
Seems `clusterctl` still need to be enhanced to support specifying what kind of k8s distribution the end user want to install.

[2019-04-19 10:17] jichenjc commented on #853
actually, this is already included in the scope @gyliu513

https://github.com/vincepri/cluster-api/blob/ea65610df474df310d8f48bf32c41899cd750659/docs/scope-and-objectives.md

Control plane:

    Self-provisioned: A Kubernetes control plane consisting of pods or machines wholly managed by a single Cluster API deployment.
    External: A control plane offered and controlled by some system other than

[2019-04-19 10:23] jichenjc commented on #881
#493 seems addressed this issue ...

[2019-04-19 10:34] jichenjc commented on #853
the proposed looks good, just curious whether the Kubelet version is still valid for external vendor?
for vendor they usually don't expose those info to end user/operator?

[2019-04-19 12:46] qingzhhu opened #908 "Standardize immutable cluster"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
A standard way to boot immutable cluster, it's just a very basic idea and a draft implementation.
1. A pre-installed image
   - base/security
   - kubelet
   - basic docker images
2. UserDatas passed to vm by Cloud Init
   - Generated certificates
   - kubelet parameters
   - staitc po

[2019-04-19 13:58] detiber commented on #853
@gyliu513 for v1alpha1, yes that is the case. However for v1alpha2+ we are looking at making the "bootstrapping config" more common (though still pluggable) rather than requiring each provider to implement their own.

[2019-04-19 14:26] gyliu513 commented on #853
@detiber thanks for the info. As I did not attend the Cluster API meeting, can you please share some info here:

1) Seems v1alpha1 (0.1.0) was now released, can I make some code change in master branch to enable v1alpha1 support this?
2) What is the plan of v1alpha2? You mentioned https://github.com/kubernetes-sigs/cluster-api/issues/853#issuecomment-476211206 we will have some discussion for this

[2019-04-19 14:32] detiber commented on #853
@gyliu513 you can find more information about the post-v1alpha1 workstreams here: https://discuss.kubernetes.io/t/workstreams/5879/4

[2019-04-19 14:41] jichenjc commented on #853
thanks for the info, this is really help to get a overall picture @detiber

[2019-04-22 21:40] akutz opened #910 "cluster.Actuator interface is missing Go context from exported functions"
/kind feature

**Describe the solution you'd like**
The [`cluster.Actuator`](https://github.com/kubernetes-sigs/cluster-api/blob/master/pkg/controller/cluster/actuator.go) interface is missing a Go [context](https://golang.org/pkg/context/) as the first parameter for the functions `Reconcile` and `Delete`:

[code]

The interface **should** be:

[code]

Please note that I created a **new** interfac

[2019-04-23 19:02] DheerajSShetty opened #912 "Add cli flag to supply namespace for capi controller to watch for Objects"
/kind feature
Add cli flag to supply namespace for capi controller to watch for Objects

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-04-23 19:06] detiber commented on #912
Currently we hard code the lister to watch for updates in all Namespaces, We should expose the ability to set a specific namespace using the manager command line arguments that is passed to the lister to limit to a specific namespace.

[2019-04-24 05:47] vikaschoudhary16 commented on #912
/assign

[2019-04-24 05:48] vikaschoudhary16 commented on #912
@detiber can you please assign this to me, if anyone is not working already.

[2019-04-24 09:33] enxebre opened #913 "Bad MachineSet prevent all other MachineSets from scaling activities"
/kind bug

**What steps did you take and what happened:**
1. Create a new MachineSet with a bad label, e.g
[code]

2. get controller manager logs to see errors
3. Create a new machineset with correct labels or scale an existing worker machineset and watch nothing happen.
4. Correct or delete the label in badmachineset and everything kicks into gear

**What did you expect to happen:**
The bad machi

[2019-04-24 09:34] enxebre commented on #913
related https://github.com/kubernetes-sigs/controller-tools/pull/195
cc @ingvagabund

[2019-04-24 10:16] vikaschoudhary16 commented on #912
https://github.com/kubernetes-sigs/controller-runtime/pull/405/files

[2019-04-24 14:39] detiber commented on #912
/assign
/lifecycle active

[2019-04-24 14:41] detiber commented on #912
@vikaschoudhary16 I've assigned it to myself (since it doesn't appear that you are a member of the kubernetes-sigs org), and marked it as active.

If you are already a member of the kubernetes org, you can request to be added to the kubernetes-sigs org as well. If not, I'm also happy to sponsor you for membership in kubernetes-sigs.

[2019-04-24 14:43] detiber commented on #912
@vikaschoudhary16 this shouldn't require any changes to controller-runtime. Here is how we added the support to cluster-api-provider-aws: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/607 and https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/615

[2019-04-24 19:58] #912 closed

[2019-04-24 23:43] gyliu513 opened #917 "Add a new use case for cluster health check"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**
This is a follow up action for https://github.com/kubernetes-sigs/cluster-api/pull/903#discussion_r277693810 ,  I will create a PR for the use case of cluster health check.

/assign

FYI @vincepri @jichenjc @detiber

[2019-04-26 10:51] frobware commented on #788
The `MachineClass` type has a few commented-out fields:

[code]

I did a PoC for autoscaling that consumed those values (i.e., removed the commented-out fields) [here](https://github.com/openshift/kubernetes-autoscaler/pull/89) to see if they would/could satisfy any autoscaling requirements. I think the short answer is "yes".

[2019-04-28 16:33] vincepri commented on #652
/remove-lifecycle stale

[2019-04-28 16:33] vincepri commented on #638
/remove-lifecycle stale

[2019-04-28 16:33] vincepri commented on #557
/remove-lifecycle stale

[2019-04-28 16:33] vincepri commented on #529
/remove-lifecycle stale

[2019-04-28 16:33] vincepri commented on #519
/remove-lifecycle stale

[2019-04-28 16:34] vincepri commented on #518
/remove-lifecycle stale

[2019-04-28 16:34] vincepri commented on #490
/remove-lifecycle stale

[2019-04-28 16:34] vincepri commented on #431
/remove-lifecycle stale

[2019-04-28 16:34] vincepri commented on #402
/remove-lifecycle stale

[2019-04-28 16:34] vincepri commented on #327
/remove-lifecycle stale

[2019-04-28 16:35] vincepri commented on #325
/remove-lifecycle stale

[2019-04-28 16:35] vincepri commented on #296
/remove-lifecycle stale

[2019-04-28 16:36] vincepri commented on #147
/remove-lifecycle stale

[2019-04-28 16:36] vincepri commented on #46
/remove-lifecycle stale

[2019-04-28 16:38] vincepri commented on #30
This can be closed now that #878 has been merged.

/close

[2019-04-28 16:38] #30 closed

[2019-04-29 17:38] mhrivnak commented on #833
I love a lot of things about this approach and think it could be very successful. Some thoughts:

Considering a provider "Foo", I would make a FooMachine CRD with FooMachineSpec and FooMachineStatus types, just like any other normal CRD. Is that what you are proposing? Then from a Machine I would reference a FooMachine resource via an `ObjectReference`. I'm not sure there is value in splitting Foo

[2019-04-30 05:42] gyliu513 opened #921 "Please create new repository - kubernetes-sigs/cluster-provider-api-ibmcloud"
Based on the discussion in #383 , can you please create the repository under github.com/kubernetes-sigs/cluster-api-provider-ibmcloud ?

Please seed this new empty repository from the following: https://github.com/multicloudlab/cluster-api-provider-ibmcloud

Thanks!

This request has also been sent to the steering committee: https://groups.google.com/forum/#!topic/kubernetes-sig-cluster-lifecycle/

[2019-04-30 05:42] gyliu513 commented on #921
FYI @xunpan @jichenjc

[2019-04-30 14:23] detiber commented on #921
@gyliu513 Are there any volunteers for maintainers that are not IBM employees? That would be one requirement for adoption of the project under sig-cluster-lifecycle.

I'm also wondering if it would be better owned by sig-cloud-provider or sig-ibmcloud? There is already precedent here with cluster-api-provider-vsphere being owned by sig-vmware and cluster-api-provider-azure being owned by sig-azure

[2019-04-30 14:38] gyliu513 commented on #921
Thanks @detiber . Yes, this project will be owned by sig-ibmcloud based on document at https://github.com/multicloudlab/cluster-api-provider-ibmcloud#community-discussion-contribution-and-support , and here what I want to do is I want to create a new repo under `kubernetes-sigs` to host the source code ;-)

Currently, this project has just been finished, and we do not have volunteers for maintaine

[2019-04-30 14:47] detiber commented on #921
@gyliu513 ok, you do not need sponsorship from sig-cluster-lifecycle for hosting the repo under the kubernetes-sigs org, just sponsorship from a Kubernetes SIG, the sponsorship from sig-ibmcloud shoudl be sufficient.

[2019-04-30 19:15] detiber commented on #718
/remove-lifecycle-stale

[2019-04-30 19:22] detiber commented on #639
/remove-lifecycle-stale

[2019-04-30 20:25] jichenjc commented on #921
@gyliu513 @detiber
forgive me not very familiar with the process, so we should not raise the question here and raise the question somewhere else?

[2019-04-30 20:31] detiber commented on #921
@jichenjc I think raising it here in the cluster-api repo (and sig-cluster-lifecycle) for awareness is great, however it isn't required for a sig-sponsored project to be transferred to the kubernetes-sigs organization.

[2019-04-30 20:33] jichenjc commented on #921
@detiber thanks, great to know and thanks for the clarification

[2019-04-30 20:35] detiber commented on #921
https://github.com/kubernetes/community/blob/5d4ceb141f14a9c66251c1c7e5582b87c745bd1c/github-management/kubernetes-repositories.md#sig-repositories are the rules for SIG-sponsored projects to be added to the kubernetes-sigs org, with the requirements falling under the project and the SIG sponsoring the project.

[2019-05-01 17:52] chuckha commented on #795
CA is a tricky one. On one hand it would be great to have it in Status and the provider updates it accordingly, but on the other, for people who want to add their own CA to the cluster it's kind of a bummer to specify a status. However, if the CA were in Spec, it's weird for a provider to update the Spec. Maybe there's some structure here that would allow for both automated CAs and supplied CAs? L

[2019-05-02 02:52] gyliu513 commented on #921
Based on discussion in today's meeting, I have opened an issue at https://github.com/kubernetes/org/issues/782 for support.

Thanks @detiber for your great support !!!

[2019-05-02 02:52] #921 closed

[2019-05-02 09:48] errordeveloper commented on #795
Is certificate management in scope for Cluster API? I'd image that there is a class of user who may wish to see basic certificate management built-in, e.g. what `kubeadm init` does, and in that case they just want to be able to get whatever CA was generated. And another class of user who want to integrate with a whole other certificate management system, e.g. cert-manager, Vault, SaaS, or anything

[2019-05-02 13:02] detiber commented on #795
@errordeveloper you are missing one key use case, where the user is providing delegated Certificate Authorities for the cluster to use.

While we don't want to get into full certificate management, I think leaving out the ability for a user to provide the CAs to be used is leaving a major gap in functionality that users will expect.

To clarify my use of the plural CAs above, there is more at play

[2019-05-02 14:30] errordeveloper commented on #795
@detiber you mean a basic case where they just supply and existing private key for issuing new certs, and don't wish to use cert-manager or anything sophisticated, just want to supply the key, correct? I think that is a very valid use-case, but wouldn't those details be supplied as a secret, as you actually need a private key for that? I'm specially talking about public cert here, whatever were th

[2019-05-02 16:56] ashish-amarnath opened #925 "Cluster deployer should support multiple controlplane machines for a cluster"
/kind feature

**Describe the solution you'd like**
Cluster deployer today supports only one controlplane machine
https://github.com/kubernetes-sigs/cluster-api/blob/master/cmd/clusterctl/clusterdeployer/clusterdeployer.go#L60
https://github.com/kubernetes-sigs/cluster-api/blob/master/cmd/clusterctl/clusterdeployer/clusterclient/clusterclient.go#L1056

To create a multi-master cluster, controlplan

[2019-05-02 23:28] pickledrick opened #926 "References to background information in documentation links are broken"
/kind bug

**What steps did you take and what happened:**

Clicked on links,
What is a Resource
What is a Controller

On page

https://kubernetes-sigs.github.io/cluster-api/common_code/architecture.html

**What did you expect to happen:**
Links to work

**Anything else you would like to add:**

Not sure if we should reference git pages or published URL

[2019-05-03 00:05] vincepri commented on #926
/kind documentation
/assign @davidewatson

[2019-05-03 18:24] DheerajSShetty opened #929 "Owner Reference is not set in MachineDeployment when the deployment is created in Management Cluster"
On creating  Machine Deployment in Management cluster,  cluster-api does not set owner references for the MachineDeployments, because of which
https://github.com/kubernetes-sigs/cluster-api/blob/537dfee50e59f57b40e497b6d98f7d82a0f7fcde/cmd/clusterctl/clusterdeployer/clusterclient/clusterclient.go#L292

returns empty list.

Steps to reproduce
1. Create a k8s cluster.
2. Follow the steps to create a

[2019-05-03 18:30] DheerajSShetty opened #930 "MachineDeployment status does not show the number of ReadyReplicas in a Management cluster"
Create a MachineDeployment in ManagementCluster with n Replica
n nodes are created.
Check status of MachineDeployment, the ReadyReplica wont be set to n.

[2019-05-06 00:02] gyliu513 opened #934 "Setting doctoc as part of CI"
/kind bug

This issue is based on discussion at https://github.com/kubernetes-sigs/cluster-api/pull/932#discussion_r281036985

With `doctoc`, it can help generate toc for the markdown file automatically.

/cc @neolit123 @vincepri @detiber