[2018-03-14 21:36] bgrant0607 opened #1 "The clife_ prefix to the repo name is no longer required"
Feel free to rename the repo.

[2018-03-16 01:57] roberthbailey commented on #1
Looks like the repository has been renamed. Closing this issue.

[2018-03-16 01:57] roberthbailey commented on #1
/close

[2018-03-16 01:58] roberthbailey commented on #1
/assign @roberthbailey

[2018-03-19 16:52] kris-nova commented on #1
TLDR; I think you have to be either 1) a repository owner or 2) a member of the `kubernetes-sigs` org in order to use the bots.

I am going to add an agenda item for us on Wed to figure out who should be in this list.

[2018-03-19 16:52] #1 closed

[2018-03-19 17:02] kris-nova opened #2 "Set up the repository"
Following the template for a new Kubernetes repository, can we please bootstrap the repo following this guide: https://github.com/kubernetes/kubernetes-template-project

[2018-03-21 22:08] kris-nova opened #3 "Create owners file"
Follow suit of https://github.com/kubernetes/kube-deploy/pull/481

Original context https://docs.google.com/a/heptio.com/document/d/16ils69KImmE94RlmzjWDrkmFZysgB2J4lGnYMRN89WM/edit?disco=AAAAB1xreHk

[2018-03-21 22:11] kris-nova commented on #3
Note: We will still need to figure out how/where to generate the names. In this case I think we just copy the OWNERS file from kubernetes/kube-deploy and we can update as necessary.

[2018-03-23 18:53] #3 closed

[2018-03-28 17:44] kris-nova opened #5 "Import path for the new repository"
Traditionally in kubernetes repositories we use the `k8s.io` domain to redirect to the codes current hosted location.

For instance with github we would have the following redirect in place:

`k8s.io/kube-deploy` --> `github.com/kubernetes/kube-deploy`

## Do we want to use the following redirect here?

Personally I think we should keep the import paths as literal as possible. The `k8s.io` redirec

[2018-03-28 17:44] kris-nova commented on #5
CC @krousey

[2018-03-28 17:55] kris-nova opened #6 "Can we set up CI/CD and testing for the new repository"
Before we start transition code here, can we set up the CI/CD boiler plate for the new repository?

[2018-03-28 17:55] kris-nova commented on #6
/assign @krousey

[2018-03-28 17:55] kris-nova commented on #2
/assign @kris-nova

[2018-04-05 16:10] krousey commented on #5
We discussed this in the meeting yesterday. There was a small majority in favor of adopting sigs.k8s.io/cluster-api. I asked that people speak up either there on here if they disagreed. Given that there's been no feedback, I'm closing this with the decision to use sigs.k8s.io/cluster-api.

[2018-04-05 16:10] #5 closed

[2018-04-12 16:35] rsdcastro opened #7 "Allow other CNI providers to be installed"
From kube-deploy created by [rsdcastro](https://github.com/rsdcastro) : kubernetes/kube-deploy#635

Currently CNI provider isn't specified in the API, and the GCP implementation has support for weavenet. This issue tracks API updates to support other CNI providers.

https://github.com/kubernetes/kube-deploy/blob/master/cluster-api/api/cluster/v1alpha1/types.go#L327

[2018-04-12 16:38] rsdcastro opened #8 "Allow other CNI providers to be installed"
_From @rsdcastro on March 3, 2018 20:22_

Currently CNI provider isn't specified in the API, and the GCP implementation has support for weavenet. This issue tracks API updates to support other CNI providers.

https://github.com/kubernetes/kube-deploy/blob/master/cluster-api/api/cluster/v1alpha1/types.go#L327

_Copied from original issue: kubernetes/kube-deploy#635_

[2018-04-12 16:38] rsdcastro commented on #8
_From @mrIncompetent on March 5, 2018 5:55_

Do we really want to have this in the API?
The User could deploy whatever CNI provider he wants via a Daemonset

[2018-04-12 16:38] rsdcastro commented on #8
For a fully functional cluster, we need to have a CNI provider installed, right? This is being done in the current GCP provider code and it's also in the kubeadm documentation.

My idea is that if we'll deliver a fully functional cluster to the cluster and will install a CNI provider as part of that, then we should allow the customer to specify a different one (as the hard-coded one might not work

[2018-04-12 16:38] rsdcastro commented on #8
_From @mrIncompetent on March 5, 2018 18:43_

Maybe something like an add-on manager might be suitable here?
@chrislovecnm I never actually had the time to play around with the Kops add-on manager, you see options implementing it here?

As i assume by now most/every CNI provider nowadays can be installed using a Daemonset.
Kubedns/coredns could be installed the same way.

[2018-04-12 16:38] rsdcastro commented on #8
That is fair. CNI would be technically one of the "essential add-ons" that are needed to have a fully functional cluster. Some of the essential add-ons (kube-dns and kube-proxy) are installed by kubeadm, but the remaining (at least CNI provider) could be installed via cluster API.

We're starting to do work on what a long-term add-ons management solution would look like and even picked @justinsb's

[2018-04-12 16:38] rsdcastro commented on #8
_From @roberthbailey on March 7, 2018 18:48_

We will want to install kube-proxy and kube-dns as addons as well (the current kube-proxy mechanism is a bit of a hack) and CNI should fit into that model. In the mean time, I think it's ok to say that the provider can dictate the CNI provider installed into the cluster, and if we want to make it configurable we can do so inside of the provider config.

[2018-04-12 16:38] rsdcastro commented on #8
_From @chrislovecnm on March 7, 2018 19:33_

Kinda concerned that we are wandering into addons land.  Are these addons? Maybe I am missing something but how is stuff like kube-dns part of the machine api?

If those those components are addons, which IMO is part of the installers responsibility. Eventually I hope we have an addon manager.

The only component that has to be installed is cni or kuben

[2018-04-12 16:38] rsdcastro commented on #8
Kamino closed and cloned this issue to kubernetes-sigs/cluster-api

[2018-04-12 16:41] rsdcastro opened #9 "machine-controller: update Machine.Status when appropriate"
_From @pipejakob on November 7, 2017 20:8_

So far, it doesn't update the Machine's Status at all.

_Copied from original issue: kubernetes/kube-deploy#349_

[2018-04-12 16:41] rsdcastro commented on #9
_From @fejta-bot on February 7, 2018 16:32_

Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Send feedback to sig-testing, kubernetes/test-infra and/or [fejta](https://github.com/fejta).
/lifecycle stale

[2018-04-12 16:41] rsdcastro commented on #9
_From @karan on February 7, 2018 17:21_

From what I understand we are not going to be using Status. @jessicaochen - please reopen if you think there is a future use for Status.

[2018-04-12 16:41] rsdcastro commented on #9
_From @karan on February 7, 2018 17:21_

/close

[2018-04-12 16:41] rsdcastro commented on #9
_From @jessicaochen on February 7, 2018 18:4_

Let's make this issue more clear, we should make sure that the Ready & LastUpdated field on the MachineStatus is getting updated by the machine controller. (Or removed from the status if it does not add value)

I know that the NodeRef and error messages are already being populated.

[2018-04-12 16:41] #9 closed

[2018-04-12 16:41] rsdcastro commented on #9
/remove-lifecycle stale

[2018-04-12 16:42] rsdcastro opened #10 "E2E Cluster API Tests"
_From @jessicaochen on January 3, 2018 19:26_

Setup E2E tests that use Cluster API for in kubernetes/test-infra

_Copied from original issue: kubernetes/kube-deploy#472_

[2018-04-12 16:42] rsdcastro commented on #10
_From @medinatiger on January 8, 2018 19:14_

@jessicaochen, do you mean create E2E test to test cluster API especially machine controller or convert existing test-infra to use cluster API?

[2018-04-12 16:42] rsdcastro commented on #10
_From @jessicaochen on January 8, 2018 19:45_

I mean convert existing test-infra to use the cluster API for this issue. I think both ultimately are good.

[2018-04-12 16:42] rsdcastro commented on #10
_From @medinatiger on January 8, 2018 19:48_

OK. I opened https://github.com/kubernetes/kube-deploy/issues/476 to track the work for writing integration test for machine controller. It could be a great starter project for anyone want to start contributing.

[2018-04-12 16:43] rsdcastro opened #11 "create integration test for machine controller."
_From @medinatiger on January 8, 2018 19:46_

We need to have integration test to test machine controller. The following scenario is interested.

1. Basic create/update/delete through API
2. Scale up
3. Scale down
4. Stress test with combination of ScaleUp/ScaleDown
5. Upgrade.
6. Mixed upgrade and scale operation simultaneously

_Copied from original issue: kubernetes/kube-deploy#476_

[2018-04-12 16:43] rsdcastro commented on #11
_From @k-turowski on January 17, 2018 15:55_

I can take this.

[2018-04-12 16:43] rsdcastro commented on #11
This is currently unassigned.

[2018-04-12 16:44] rsdcastro opened #12 "cluster-installer - machine delete should wait for finalizers to finish before returning success"
_From @ajitak on November 14, 2017 21:45_

When a machine CRD is marked for deletion, finalizers should delete node vm. Cluster installer should wait for finalizers to finish deleting vm whenever delete machine code path is triggered.

_Copied from original issue: kubernetes/kube-deploy#390_

[2018-04-12 16:44] rsdcastro commented on #12
_From @ajitak on November 27, 2017 18:50_

Code ref https://github.com/kubernetes/kube-deploy/blob/master/cluster-api/deploy/deploy_helper.go#L192

[2018-04-12 16:44] rsdcastro commented on #12
_From @pipejakob on January 3, 2018 19:39_

I had this working a while ago before we froze the prototype code in preparation for the KubeCon event, but it was rolled into work for https://github.com/kubernetes/kube-deploy/issues/355 as well. I still have the code if anyone is interested in referencing it, but it will need a lot of rebasing after the recent refactoring to do proper Machine reconcil

[2018-04-12 16:44] rsdcastro opened #13 "Bot for stale vendored cluster API"
_From @jessicaochen on January 3, 2018 19:20_

Create a robot that will warn when the vendored cluster API is falling behind master.

Context:
On creation of cluster-api-gcp, there was a discussion on whether we were going to vendor the cluster-api or directly reference it. We decided to vendor it so it would be a better example of the right pattern to folks attempting to make their own machine co

[2018-04-12 16:45] rsdcastro opened #14 "Extensions to machine status errors"
_From @roberthbailey on January 16, 2018 7:13_

Extracted from https://github.com/kubernetes/kube-deploy/pull/298#issuecomment-357366871:

Should we add a new `MachineStatusError` of `JoinClusterTimeoutMachineError` (or similar)?

_Copied from original issue: kubernetes/kube-deploy#503_

[2018-04-12 16:46] rsdcastro opened #15 "Change the type of instance-status"
_From @karan on January 26, 2018 18:20_

Writing the current state of the underlying VM as a `machine` object within another machine is confusing - https://github.com/kubernetes/kube-deploy/blob/master/cluster-api-gcp/cloud/google/instancestatus.go

Before #482 is closed, we could change the type of instance status to a type that only has the fields we care about. This would make the code a bit mo

[2018-04-12 16:46] rsdcastro opened #16 "Support adopting a cluster from a set of existing machines"
_From @rsdcastro on January 29, 2018 21:38_

This item tracks supporting users providing a list of machines that will be used to bootstrap the cluster rather than requiring machines to be added via the cluster API.

_Copied from original issue: kubernetes/kube-deploy#522_

[2018-04-12 16:47] rsdcastro opened #17 "Support multiple providers for cluster bootstrapping"
_From @rsdcastro on January 29, 2018 21:45_

Currently only GCP is supported. This item is about - more easily - supporting other providers when bootstrapping a cluster.

_Copied from original issue: kubernetes/kube-deploy#524_

[2018-04-12 16:47] rsdcastro commented on #17
This could include defining an interface and/or documentation. The goal is that anyone implementing a new provider knows that they would need to implement the bootstrapping story as well (assuming we keep the current implementation of starting an instance to install the controller as default). @krousey @karan

[2018-04-12 16:47] rsdcastro commented on #17
_From @karan on January 31, 2018 18:8_

Related #550

[2018-04-12 16:47] rsdcastro commented on #17
As supporting more providers is out of scope for alpha, moving it to beta.

[2018-04-12 16:47] rsdcastro opened #18 "E2E tests for cluster bootstrapping"
_From @rsdcastro on January 29, 2018 21:49_

Basic set of E2E tests for cluster bootstrapping across supported providers.

_Copied from original issue: kubernetes/kube-deploy#525_

[2018-04-12 16:48] rsdcastro opened #19 "Cluster Bootstrapping: document best practices (incl. supported scenarios)"
_From @rsdcastro on January 29, 2018 21:52_

_Copied from original issue: kubernetes/kube-deploy#526_

[2018-04-12 16:48] rsdcastro commented on #19
_From @karan on February 6, 2018 23:16_

What else is needed here beyond what's in https://github.com/kubernetes/kube-deploy/blob/master/cluster-api/CONTRIBUTING.md ?

[2018-04-12 16:48] rsdcastro opened #20 "GCP: document how to tear down a cluster created via Cluster API"
_From @rsdcastro on January 29, 2018 21:55_

_Copied from original issue: kubernetes/kube-deploy#527_

[2018-04-12 16:49] rsdcastro opened #21 "Support for automated cluster tear down via Cluster API"
_From @rsdcastro on January 29, 2018 21:57_

_Copied from original issue: kubernetes/kube-deploy#528_

[2018-04-12 16:49] rsdcastro opened #22 "Add machine class to the Cluster API"
_From @rsdcastro on January 29, 2018 22:0_

This issue tracks discussion on adding machine class (as used/suggested in several API discussions) and any work required to make that happen if we decide to do it.

_Copied from original issue: kubernetes/kube-deploy#529_

[2018-04-12 16:49] rsdcastro commented on #22
Assigning to @roberthbailey to drive discussion and decision.

[2018-04-12 16:49] rsdcastro opened #23 "Design and implement a machine lifecycle state machine"
_From @rsdcastro on January 29, 2018 22:6_

Proposal doc: https://docs.google.com/document/d/1Kz8bmAF6AZXcagjE4robuStPG93VB9YHj5xBiLI0bt0/edit

_Copied from original issue: kubernetes/kube-deploy#530_

[2018-04-12 16:49] rsdcastro opened #24 "Support for hooks for resource cleanup during machine deletion"
_From @rsdcastro on January 29, 2018 22:9_

_Copied from original issue: kubernetes/kube-deploy#531_

[2018-04-12 16:49] rsdcastro commented on #24
_From @roberthbailey on February 7, 2018 6:37_

What types of resources are you thinking about? Would this be handled by finalizers for the machine objects (e.g. if on GCP we created an advanced route per machine then the finalizer for the machine would be responsible for deleting the route)?

[2018-04-12 16:49] rsdcastro commented on #24
cc @k4leung4

[2018-04-12 16:50] rsdcastro opened #25 "Support changing machine role (e.g. node => master)"
_From @rsdcastro on January 29, 2018 22:21_

_Copied from original issue: kubernetes/kube-deploy#533_

[2018-04-12 16:50] rsdcastro opened #26 "Machine Set implementation"
_From @rsdcastro on January 29, 2018 22:24_

API definition here:
https://github.com/kubernetes/kube-deploy/pull/501

This item tracks machine set implementation. Logic should be independent of the cloud provider.

_Copied from original issue: kubernetes/kube-deploy#535_

[2018-04-12 16:50] rsdcastro commented on #26
_From @roberthbailey on February 7, 2018 6:33_

As discussed during various working group calls, the machine set controller should be independent of any specific environment (e.g. it shouldn't need to include any cloud-specific client libraries).

[2018-04-12 16:50] rsdcastro commented on #26
Assigned to @roberthbailey to help facilitate any remaining discussions and decisions on the API. This is also related to #530.

[2018-04-12 16:51] rsdcastro opened #27 "MachineSet implementation for scaling up & down"
_From @rsdcastro on January 29, 2018 22:27_

Some thoughts/questions:
- Choose a specific instance to remove rather than arbitrary instance
- Does scaling down use any smart logic to pick the node to remove?
- Does scaling down drain nodes by default? (But allow removing machines w/o draining)

_Copied from original issue: kubernetes/kube-deploy#536_

[2018-04-12 16:51] rsdcastro commented on #27
_From @roberthbailey on February 7, 2018 6:35_

We should definitely support removing a specific machine from the set. This isn't supported today in replica sets so there isn't precedence in that API (although customers have asked for it) but it is required by the cluster autoscaler.

Ideally scaling down would choose the best node to remove from the cluster. The cluster autoscaler has code that d

[2018-04-12 16:51] rsdcastro opened #28 "Have upgrade functionality (as tool or server side)"
_From @rsdcastro on January 29, 2018 22:39_

_Copied from original issue: kubernetes/kube-deploy#537_

[2018-04-12 16:51] rsdcastro commented on #28
_From @roberthbailey on February 7, 2018 6:36_

Alternatively, implement server side upgrades as part of the MachineDeployment resource type.

[2018-04-12 16:51] rsdcastro opened #29 "Tool to recover if the master is bricked"
_From @rsdcastro on January 29, 2018 22:45_

In case metadata can't be accessed/reconstructed, this tool would allow the cluster to be restored with the cluster API components.

Related to https://github.com/kubernetes/kube-deploy/issues/532

_Copied from original issue: kubernetes/kube-deploy#538_

[2018-04-12 16:51] rsdcastro commented on #29
_From @roberthbailey on February 7, 2018 6:45_

This sounds like a disaster recovery tool, so there is possibly some overlap with https://github.com/heptio/ark

[2018-04-12 16:51] rsdcastro opened #30 "Support multi-master clusters"
_From @rsdcastro on January 29, 2018 22:56_

_Copied from original issue: kubernetes/kube-deploy#539_

[2018-04-12 16:52] rsdcastro opened #31 "Support upgrading/pivoting cluster to multi-master"
_From @rsdcastro on January 29, 2018 22:57_

_Copied from original issue: kubernetes/kube-deploy#540_

[2018-04-12 16:52] rsdcastro opened #32 "Document how to contribute to Cluster API effort"
_From @rsdcastro on January 29, 2018 23:39_

_Copied from original issue: kubernetes/kube-deploy#545_

[2018-04-12 16:53] rsdcastro opened #33 "Rebase E2E tests to use Cluster API (from kube-up)"
_From @rsdcastro on January 29, 2018 23:45_

Benefits as per @roberthbailey
- More test cycles (we will get hundreds of cluster create / delete cycles per day, hook into the upgrade test infra, etc).
- It will also force us to build enough configurability to do all of the edge cases demanded by the tests
- This can be used to convince ourselves that the API is solid and flexible (e.g. if we end up

[2018-04-12 20:58] rsdcastro opened #34 "Conformance Tests for Clusters with Cluster API enabled"
_From @rsdcastro on January 29, 2018 23:15_

_Copied from original issue: kubernetes/kube-deploy#543_

[2018-04-12 20:59] rsdcastro opened #35 "Have a single CONTRIBUTING.md for kube-deploy and move running instructions to its own file"
_From @rsdcastro on February 6, 2018 23:13_

This is about having running instructions as a separate doc and have both README.md and CONTRIBUTING.md pointing to it, rather than having README.md linking to the more complex CONTRIBUTING.md doc.

_Copied from original issue: kubernetes/kube-deploy#576_

[2018-04-12 20:59] rsdcastro commented on #35
_From @karan on February 6, 2018 23:13_

/kind documentation

[2018-04-12 20:59] rsdcastro commented on #35
_From @roberthbailey on February 7, 2018 6:19_

There should only be a CONTRIBUTING.md file at the root of the repo (it's linked to from the new issues / new pr page and highlighted for new contributors -- see https://github.com/blog/1184-contributing-guidelines).

[2018-04-12 20:59] rsdcastro commented on #35
Update the scope of this issue to have a single CONTRIBUTING.md file.

[2018-04-12 21:00] rsdcastro opened #36 "Remove the apiserver-boot dependency for generate certificate."
_From @medinatiger on February 9, 2018 18:9_

We should remove the need to run apiserver-boot to generate certificate for running ext api server. The logs of apiserver-boot shows the required openssl commands to do the job.

_Copied from original issue: kubernetes/kube-deploy#591_

[2018-04-12 21:00] rsdcastro commented on #36
_From @medinatiger on February 16, 2018 21:12_

Thanks the idea from @mrIncompetent
//import "k8s.io/client-go/util/cert/triple"
caKeyPair, err := triple.NewCA("root-ca.example.com")
if err != nil {
	return fmt.Errorf("failed to create root-ca: %v", err)
}

apiserverKeypair, err := triple.NewServerKeyPair(caKeyPair, "apiserver.example.com", "kubernetes", "default", "cluster.local", []string{"10.10

[2018-04-12 21:00] rsdcastro opened #37 "Backup for cluster API objects (etcd database)"
_From @rsdcastro on February 14, 2018 15:41_

_Copied from original issue: kubernetes/kube-deploy#600_

[2018-04-12 21:00] rsdcastro opened #38 "Machine controller upgrade documentation"
_From @rsdcastro on February 14, 2018 15:43_

This should consider the different architectures where the controller might be running.

_Copied from original issue: kubernetes/kube-deploy#601_

[2018-04-12 21:01] rsdcastro opened #39 "Reconcile Cluster API Cloud Provider with the effort of moving Cloud Providers out of core K8s"
_From @rsdcastro on February 14, 2018 18:35_

This issue is to track the discussion and whether or not those should be combined in some way.

cc @kris-nova @karan @roberthbailey

_Copied from original issue: kubernetes/kube-deploy#604_

[2018-04-12 21:02] rsdcastro opened #40 "Document how to access extension API server in case of a disaster"
_From @rsdcastro on February 15, 2018 16:42_

Clients should be accessing cluster API via the main K8s API server. In case of a disaster with the cluster, clients should be able to connect to the ext API server. This issue is to test and document what would be required for that to happen.

(see PR with architecture diagram below to help: https://github.com/kubernetes/kube-deploy/pull/603/files)

_

[2018-04-12 21:03] rsdcastro opened #41 "Establish a stronger link between Machines, MachineSets, and MachineDeployments with their Cluster."
_From @dgoodwin on February 15, 2018 17:12_

On Feb 14 Cluster API working group call, a couple parties indicated we would like to make use of the ability to have multiple clusters to exist in one namespace, which would free up namespaces to be used for other levels of organization. (one customer, one cloud provider account, etc) In this case we would not be able to assume all machines or machine

[2018-04-12 21:03] rsdcastro commented on #41
_From @dgoodwin on February 15, 2018 17:14_

FWIW, in our very young OpenShift Cluster Operator code we've been using owner references to do this. (machine to machine set to cluster)

[2018-04-12 21:03] rsdcastro opened #42 "Document how to access extension API server in case of a disaster"
_From @rsdcastro on February 15, 2018 16:42_

Clients should be accessing cluster API via the main K8s API server. In case of a disaster with the cluster, clients should be able to connect to the ext API server. This issue is to test and document what would be required for that to happen.

(see PR with architecture diagram below to help: https://github.com/kubernetes/kube-deploy/pull/603/files)

_

[2018-04-12 21:04] rsdcastro opened #43 "Run more automated checks on cluster-api repo"
_From @krousey on February 15, 2018 19:50_

We should run the following checks on PRs and in CI:

- [x] go vet
- [x] gofmt
- [ ] verify vendor depencies are correct (this is partially accomplished by build today, but it'd be nice to have better messaging around this)
- [ ] code doesn't need to be regenerated (deepcopy, conversion, clients, ...)
- [ ] BUILD files don't have to be regenerated

_Copi

[2018-04-12 21:04] rsdcastro commented on #43
_From @vaibhavsingh97 on February 16, 2018 12:15_

Hi @krousey Can I take this issue? Any resources to fix this issue will be a great help :)

[2018-04-12 21:04] rsdcastro commented on #43
_From @krousey on February 16, 2018 17:42_

@vaibhavsingh97 Sure! go vet and go fmt would be the easiest to start with, and they cover areas that aren't someone protected against by our current CI build and test.

I started a CI scripts directory here: https://github.com/kubernetes/kube-deploy/tree/master/scripts

Here are the PRs I submitted to turn on build and testing in CI and on PRs. Hopefull

[2018-04-12 21:05] rsdcastro opened #44 "Define validation strategy for provider config"
_From @rsdcastro on February 22, 2018 21:13_

As per comment in #405, "validation is another concern and independent of specifying the cloud provider in the top level object or in the provider specific config. We can't bake provider specific validation logic into the API. That needs to be pluggable somehow through a webhook, admission controller, or some other mechanism. But it's a much larger dis

[2018-04-12 21:05] rsdcastro commented on #44
_From @roberthbailey on March 7, 2018 18:53_

This seems to depend on https://github.com/kubernetes/kube-deploy/issues/504

[2018-04-12 21:05] rsdcastro opened #45 "Define machines deletion policies."
_From @p0lyn0mial on February 28, 2018 16:57_

The current implementation of `MachineSet` chooses the first machine from the list to delete. As this doesn't provide any guarantees of consistency regarding the order of the items. It is random. We would like to identify some strategies that would provide better approaches for deletion.

_Copied from original issue: kubernetes/kube-deploy#625_

[2018-04-12 21:05] rsdcastro commented on #45
_From @p0lyn0mial on February 28, 2018 16:58_

/cc @rsdcastro

[2018-04-12 21:05] rsdcastro commented on #45
_From @mvladev on March 7, 2018 10:5_

If I would manually remove one `Machine` from a set of machines I would use the order bellow to determine which to remove:

1. `Machine` needs to be preferably removed - marked with annotation or some other means by human / cluster autoscaler (down-sizing scenario) / other controller
1. Health of the `Machine` - *unhealthy* machines first
1. If all else fails

[2018-04-12 21:06] rsdcastro opened #46 "Decide how fault/availability zones should be represented in Cluster API"
_From @rsdcastro on February 28, 2018 20:52_

This issue tracks how fault zones (or availability zones) should be represented in the Cluster API. Should it be a top-level field? Should we be able to specify provider specific config for them (separately from the current provider config)? This is both related to master and nodes that might have some affinity to resources specific to that zone.

@kro

[2018-04-12 21:06] rsdcastro commented on #46
And while not explicit above, this could also have some pod scheduling implications that need to be considered.

[2018-04-12 21:06] rsdcastro commented on #46
_From @jessicaochen on February 28, 2018 22:16_

Something to keep in mind is that fault zone concepts even exist on-prem on bare metal. For example, I would assume even if one owns a datacenter, one would want workloads to be spread across racks and across networking hardware etc. so that no one failure will take the whole workload out. However fault zones are represented, it would be good if it

[2018-04-12 21:06] rsdcastro commented on #46
_From @jhorwit2 on March 2, 2018 19:16_

@jessicaochen The scheduler spread predicate by default only takes into account `failure-domain.beta.kubernetes.io/region` and `failure-domain.beta.kubernetes.io/zone` so supporting more than that out of the box would require you to do custom stuff with affinity/anti-affinity on the pod itself. We use those two labels for our on-prem clusters as well.

That

[2018-04-12 21:06] rsdcastro commented on #46
_From @roberthbailey on March 6, 2018 21:57_

Strawman: Leave it inside the existing provider config for now. See if common patterns emerge that would cause us to promote it it a top level field.

Looking at GCP (should be the same for any cloud), you will already specify how you want machines spread across availability zones by putting the zone for each machine (or set) in the provider config. Th

[2018-04-12 21:06] rsdcastro commented on #46
_From @krousey on March 6, 2018 22:4_

@roberthbailey Just to clarify your strawman, you're saying that if I want 12 nodes across 3 availability zones I should have 3 machine sets of count 4 with the proper zone in each template's provider config?

[2018-04-12 21:06] rsdcastro commented on #46
_From @roberthbailey on March 6, 2018 22:14_

Yes. I think that way makes the most sense. I like having it explicitly in the machineset / deployment instead of having a hidden internal multiplier that you have to change indirectly by tweaking availability zones in the machine set.

[2018-04-12 21:06] rsdcastro opened #47 "Define health check strategy for MachineSet"
_From @rsdcastro on March 1, 2018 21:10_

This is to track discussion and documentation on how health checking will be done for machines in a set.

_Copied from original issue: kubernetes/kube-deploy#632_

[2018-04-12 21:06] rsdcastro commented on #47
cc @p0lyn0mial @mrIncompetent

[2018-04-12 21:06] rsdcastro commented on #47
_From @mrIncompetent on March 5, 2018 6:13_

Could you explain a bit what "health checking" means in this case?
Is this about a definition about when and how to update `MachineSet.Status` ?

[2018-04-12 21:06] rsdcastro commented on #47
_From @mrIncompetent on March 5, 2018 18:38_

I would propose that we rely on the `Machine.Status.NodeRef` & the node conditions in the first place.
The Node object already has health checking in place, if that's not enough for us, we might simply improve on that instead if creating a new way of health checking instances/nodes.

[2018-04-12 21:06] rsdcastro commented on #47
I agree with the suggestion to build on node health. It might not be enough, though.

Quoting https://kubernetes.io/docs/concepts/architecture/nodes/:

I'd like to understand what "asks the cloud provider if the VM for that node is still available" means and how that could be related to our work.

In the case the node is unhealthy (unreachable), the schedule is smart to evict pods. That means also

[2018-04-12 21:07] rsdcastro opened #48 "UX: consider renaming "cloud" param to something else"
_From @rsdcastro on March 2, 2018 15:20_

Users select a "cloud" to determine which provider/actuator to use, but some (like Loodse's) can target multiple providers under the covers (like Digital Ocean, AWS). And in their case (see #405), the parameter in the provider specific config is "cloud". This issue is to track renaming the top-level param to select the provider/actuator to something else m

[2018-04-12 21:07] rsdcastro commented on #48
_From @karan on March 2, 2018 19:15_

Excellent point. Perhaps we could call it something more *cough*mundane*cough* familiar like "module".

[2018-04-12 21:07] rsdcastro commented on #48
I like module. Pasted this issue on Slack looking for other ideas as well.

[2018-04-12 21:07] rsdcastro commented on #48
_From @alvaroaleman on March 3, 2018 12:25_

What about just `provider`?

[2018-04-12 21:07] rsdcastro commented on #48
_From @karan on March 5, 2018 19:59_

I think "provider" could be conflated with a single cloud provider. For example we could have a terraformModule (or s/Module/something) that deploys to multiple "providers".

[2018-04-12 21:07] rsdcastro commented on #48
_From @detiber on March 7, 2018 19:20_

Would there ever be a need to provide another type of module interface? If so module wouldn't module be too generic?

If we ever added support for additional infrastructure components other than individual machines, would they be separate modules or part of a larger module? If separate modules, then I would think we would want to be more specific with the na

[2018-04-12 21:07] rsdcastro commented on #48
_From @karan on March 7, 2018 21:26_

I'm imagining a multi-cloud module here. If someone were to implement a terraformModule (bear with me on module here), then terraform already has a concept of providers - which they mean a singular cloud provider.

But, it is easy enough to confuse terraformProvider (that belongs to cluster API), and terraform providers (that hook up into terraform).

Like wha

[2018-04-12 21:07] rsdcastro commented on #48
_From @detiber on March 7, 2018 21:49_

I'm just thinking of other types of automated infrastructure, such as DNS, Virtual Networking, Load Balancers, etc

[2018-04-12 21:07] rsdcastro commented on #48
_From @karan on April 10, 2018 20:47_

Interesting. I'm not sure if the API would need to care about those resources.

I'll cc @kubernetes/sig-cluster-lifecycle-misc for further discussion / decision.

[2018-04-12 21:07] rsdcastro opened #49 "Use the cluster name in cluster.yaml in admin.conf"
_From @karan on March 6, 2018 17:29_

Currently the cluster config is created with cluster name as `kubernetes`. There is a cluster name in the `cluster.yaml` `metadata.name`. We should start using that name for the cluster so tools can be made to target any cluster in kubeconfig file.

_Copied from original issue: kubernetes/kube-deploy#636_

[2018-04-12 21:07] rsdcastro commented on #49
_From @karan on March 6, 2018 17:36_

cc @jessicaochen @rsdcastro - If no objections, I can start to look into this.

[2018-04-12 21:07] rsdcastro commented on #49
It does make sense to me.

[2018-04-12 21:07] rsdcastro commented on #49
_From @karan on March 6, 2018 17:54_

Seems like the cluster name is hardcoded in kubeadm:

https://github.com/kubernetes/kubernetes/blob/999c2ae8716b76099b30da4cea973d0e2c737f77/cmd/kubeadm/app/phases/kubeconfig/kubeconfig.go#L191

There's been a PR to make it configurable, but it's been stale: https://github.com/kubernetes/kubernetes/pull/52470

[2018-04-12 21:07] rsdcastro commented on #49
Perhaps we can work on a new PR that focus on the cluster name to avoid the contention on the other point (user admins)?

[2018-04-12 21:07] rsdcastro commented on #49
_From @jessicaochen on March 6, 2018 18:9_

I may be wrong but I think it is just the name in the kubeconfig file to reference the cluster. If you change the name in the kubeconfig file or set a new one with the name your want (https://kubernetes-v1-4.github.io/docs/user-guide/kubectl/kubectl_config_set-cluster/), you can still address the same cluster.

In that way, it really does not matter what

[2018-04-12 21:07] rsdcastro commented on #49
_From @karan on March 6, 2018 18:15_

You are right @jessicaochen. I tried this with `s/kubernetes/testcluster` on my local kubeconfig file. I don't think we should be doing this in the final product, it's just hacky, and error prone. Instead the cluster name really just should be an option that kubeadm uses to save the original file.

[2018-04-12 21:07] rsdcastro commented on #49
_From @jessicaochen on March 6, 2018 18:19_

I guess it depends on how important urgent this change is. Whether we want to wait for kubeadm to do it or we want an interim solution.

[2018-04-12 21:07] rsdcastro commented on #49
_From @karan on March 6, 2018 22:18_

/label cluster-api

[2018-04-12 21:07] rsdcastro commented on #49
_From @karan on March 7, 2018 16:55_

As a prototype we could live with managing a single cluster (or doing something hacky), but at least for an alpha/MVP, a good approach is to support cluster names.

I've already sent them a [PR for it](https://github.com/kubernetes/kubernetes/pull/60852).

[2018-04-12 21:09] rsdcastro opened #50 "Document plan on how API can support auto-scaling and other auto* features"
_From @rsdcastro on April 5, 2018 15:24_

This issue tracks an evaluation of the API to make sure that it can support the use cases for auto-scaling and any other auto* features.

This issue should cover any API changes as well. Specific implementation changes should be tracked as separate issues.

cc @krousey @roberthbailey @mwielgus

_Copied from original issue: kubernetes/kube-deploy#666_

[2018-04-12 21:09] rsdcastro commented on #50
cc @krzysztof-jastrzebski

[2018-04-12 21:09] rsdcastro commented on #50
/cc @krzysztof-jastrzebski

[2018-04-12 21:10] rsdcastro opened #51 "Document network access required to run bootstrapping tool"
_From @rsdcastro on April 2, 2018 17:30_

Customers need to understand what kind of ports/protocol access is required to use the bootstrapping tool.

cc @jessicaochen

_Copied from original issue: kubernetes/kube-deploy#662_

[2018-04-12 21:10] rsdcastro opened #52 "Allow CA and key to be provided on cluster creation"
_From @rsdcastro on April 2, 2018 17:0_

Currently kubeadm init generates a self-signed certificate authority and key, which isn't a solution that suits all users.

This issue tracks allowing CA and key to be provided by the user.

_Copied from original issue: kubernetes/kube-deploy#661_

[2018-04-12 21:11] rsdcastro opened #53 "MachineSet controller listens for Machine resources."
_From @p0lyn0mial on March 8, 2018 14:40_

The current implementation of `MachineSet` controller watches only the desired state of the cluster. This approach is not sufficient as there are other actors in the system that can easily change the current state (e.g. delete/add a `Machine`) of the cluster. Thus adding event handlers for `Machines` to our `MachineSet` along with appropriate handlers (re

[2018-04-12 21:11] rsdcastro commented on #53
_From @p0lyn0mial on March 8, 2018 14:40_

/cc @rsdcastro @mvladev

[2018-04-12 21:11] rsdcastro opened #54 "MachineSet controller sets MachineSetStatus"
_From @p0lyn0mial on March 8, 2018 14:21_

The current implementation of `MachineSet` controller doesn't set `MachineSetStatus` at all. This item tracks potential implementation.

For reference implementations see:

https://github.com/kubernetes/kubernetes/blob/a0844c17bfb964e3d1709784203e8404f790116c/pkg/controller/replicaset/replica_set_utils.go#L35:1

https://github.com/gardener/machine-control

[2018-04-12 21:11] rsdcastro commented on #54
_From @p0lyn0mial on March 8, 2018 14:22_

/cc @mvladev @rsdcastro

[2018-04-12 21:11] rsdcastro commented on #54
_From @p0lyn0mial on March 8, 2018 14:42_

initial implementation was introduced in #620

[2018-04-12 21:21] rsdcastro opened #55 "Cloud Provider implementation for Digital Ocean"
_From @rsdcastro on January 29, 2018 23:10_

_Copied from original issue: kubernetes/kube-deploy#542_

[2018-04-13 15:36] rsdcastro opened #56 "Machine Controller Locking"
_From @jessicaochen on January 3, 2018 18:59_

Have leader election/locking so that only one machine controller is running in the cluster at a time.
https://github.com/kubernetes/kube-deploy/blob/master/cluster-api-gcp/machine-controller/controller/machinecontroller.go#L94

For locking see:
- https://github.com/kubernetes/kubernetes/issues/44857
- https://github.com/kubernetes/client-go/tree/maste

[2018-04-13 15:36] rsdcastro commented on #56
_From @scotch-bonnet on January 17, 2018 20:20_

I can take this one.

[2018-04-13 15:36] rsdcastro commented on #56
_From @roberthbailey on February 7, 2018 6:25_

@scotch-bonnet - have you made any progress on this?

[2018-04-13 15:36] rsdcastro commented on #56
_From @scotch-bonnet on February 7, 2018 9:39_

No progress on this yet.

[2018-04-13 15:36] rsdcastro commented on #56
_From @medinatiger on April 12, 2018 21:49_

@scotch-bonnet , did you get a chance to make progress on this issue? If not, I might have a try

[2018-04-13 15:36] rsdcastro commented on #56
_From @scotch-bonnet on April 13, 2018 8:56_

No progress, feel free to take it over.

[2018-04-13 15:42] rsdcastro opened #57 "Design on cluster API integration with cluster registry"
_Copied from original issue: kubernetes/kube-deploy#548_

[2018-04-13 15:44] rsdcastro commented on #57
**_From @karan on Feb 7, 2018 2:09PM PST_**

One of the ideas here is that we want to have an option during cluster creation (in the api or in the deployment tool) to register the cluster with any registry endpoint.

[2018-04-13 15:44] rsdcastro commented on #57
/assign karan

[2018-04-13 15:48] rsdcastro opened #58 "Cluster provisioning "succeeds" despite machine-controller failing to start"
_From @rsdcastro on February 20, 2018 23:38_

Logs from cluster-api-gcp:

I0220 15:20:25.802792   19570 deploy_helper.go:68] Created master gce-master-test1
I0220 15:21:05.422987   19570 deploy_helper.go:241] Waiting for Kubernetes to come up...
I0220 15:21:13.538578   19570 deploy_helper.go:241] Waiting for Kubernetes to come up...
I0220 15:21:21.449076   19570 deploy_helper.go:241] Waiting for K

[2018-04-13 15:50] rsdcastro opened #59 "Cloud Provider implementation for AWS"
_From @rsdcastro on January 29, 2018 23:8_

_Copied from original issue: kubernetes/kube-deploy#541_

[2018-04-13 15:50] rsdcastro commented on #59
/kind feature

[2018-04-13 15:52] rsdcastro opened #60 "Reconciler for Node + Machine objects"
_From @rsdcastro on January 29, 2018 22:15_

This reconciler would watch/poll for node changes to reconcile machine and nodes objects. Example scenarios: VM gets deleted manually or nodes are created w/o using cluster API.

This could include metrics to detect if tooling are acting on the cluster and not going through the cluster API.

_Copied from original issue: kubernetes/kube-deploy#532_

[2018-04-13 15:52] rsdcastro commented on #60
_From @roberthbailey on February 7, 2018 6:30_

Isn't this part of the machine controller itself?

[2018-04-13 15:52] rsdcastro commented on #60
IMO this reconciler would NOT be, for the most part, specific to any provider but something that is generic. For that reason, marking it as cluster-api.

[2018-04-13 15:54] rsdcastro opened #61 "Cluster API to manage existing clusters"
_From @rsdcastro on January 29, 2018 19:58_

This item is to provide functionality to have Cluster API to support existing clusters. Currently we require users to create a new cluster (and migrate workloads) to adopt the Cluster API.

_Copied from original issue: kubernetes/kube-deploy#521_

[2018-04-13 15:54] rsdcastro commented on #61
Like bootstrapping, my thought is that most of this logic is generic and not specific to a single provider. Tracking generic bits here and moving issue over to cluster-api.

[2018-04-13 15:55] rsdcastro opened #62 "Machine controller with namespace"
_From @medinatiger on January 26, 2018 23:13_

The current implementation assume default namespace. The machine controller need to handle resource from multiple namespace.

_Copied from original issue: kubernetes/kube-deploy#520_

[2018-04-13 15:55] rsdcastro commented on #62
_From @krousey on January 27, 2018 0:10_

I think for initial implementation, it would be ok to handle a single namespace.

[2018-04-13 15:55] rsdcastro commented on #62
I believe this issue is not specific to GCP but the common machine controller code, so marking it as such.

[2018-04-13 15:57] rsdcastro opened #63 "Local dev story for machine-controller"
_From @karan on January 25, 2018 21:22_

Currently, testing changes to the machine-controller is very cumbersome and time-consuming.

We need to push a new machine-controller image, then `pods/pods.go` with the new image, then re-create the whole cluster. This can take ~minutes. We should have a faster dev story - ideally machine-controller running locally (which is possible but not documented).

[2018-04-13 15:57] rsdcastro commented on #63
Considering this as a general story for any provider controller that uses the common controller code, so marking as cluster-api.

[2018-04-13 15:58] rsdcastro opened #64 "Cloud Provider implementation for Vmware/vSphere"
_From @rsdcastro on February 10, 2018 0:33_

_Copied from original issue: kubernetes/kube-deploy#592_

[2018-04-13 15:58] rsdcastro commented on #64
/kind feature

[2018-04-13 15:59] rsdcastro opened #65 "Delete command should allow to delete a specific cluster"
_From @prateekgogia on February 7, 2018 0:40_

Currently, delete command for `cluster-api-gcp` doesn't take any cluster info. We should be able to specify which cluster to delete.
If a user has more then one cluster, there is no way right now to delete a specific cluster.

_Copied from original issue: kubernetes/kube-deploy#579_

[2018-04-13 15:59] rsdcastro commented on #65
_From @karan on February 7, 2018 2:43_

What will happen if you do `cluster-api-gcp delete --kubeconfig $SOME_OTHER_CONFIG`?

[2018-04-13 15:59] rsdcastro commented on #65
_From @prateekgogia on February 7, 2018 7:8_

kubeconfig file can have multiple cluster info, there is no way to tell which cluster user wants to delete. We can have an option for deleting cluster in the current context, but that may not be very clear to the user (just an opinion).

[2018-04-13 15:59] rsdcastro commented on #65
Since this is about the general delete command in the CLI, this should not be specific to GCP and marking it as such.

[2018-04-13 16:03] rsdcastro opened #66 "cluster-api top-level Makefile currently broken"
_From @craigtracey on April 10, 2018:_

The top-level Makefile for generating code is currently broken. It assumes that apiregister-gen and conversion-gen are in $GOPATH. Fix this so that generation can happen cleanly and with generation tools at the appropriate tags.

_Copied from original issue: kubernetes/kube-deploy#675_

[2018-04-13 16:03] rsdcastro commented on #66
/assign @craigtracey

[2018-04-13 16:04] rsdcastro commented on #66
_From @krousey on April 10, 2018:_

I assume you going to use a docker image to fix this? If so, can you create one with the apiserver-builder release and use that tool as it wraps all the generation tools we'll need?

[2018-04-13 16:09] rsdcastro opened #67 "Check if master exists as previous command might have been cancelled"
_From @rsdcastro on January 29, 2018 21:40_

_Copied from original issue: kubernetes/kube-deploy#523_

[2018-04-13 16:36] rsdcastro opened #68 "Enable auto assigner for cluster-api PR reviews"
Similar to https://github.com/kubernetes/kube-deploy/issues/612, but for this repo.

Quoting @krousey:

Figure out what is needed to auto assign PRs to reviewers. This will help distribute the load and also spread the mind-share amongst interested community members.

[2018-04-13 16:41] rsdcastro commented on #7
dupe of #8

[2018-04-13 16:41] #7 closed

[2018-04-13 16:49] karan opened #69 "Break out controlPlane version into individual component versions"
As proposed in https://docs.google.com/document/d/1-sYb3EdkRga49nULH1kSwuQFf1o6GvAw_POrsNo5d8c/edit#, change [`ControlPlane and Kubelet`](https://github.com/kubernetes/kube-deploy/blob/master/cluster-api/pkg/apis/cluster/v1alpha1/machine_types.go#L140-L147) version spec to this:

[code]

For most users breaking up the versions is inconsequential. But there's edge cases where some have their own fo

[2018-04-13 16:54] rsdcastro commented on #40
dupe of #42

[2018-04-13 16:54] #40 closed

[2018-04-16 22:46] mkjelland opened #72 "Allow configuration of network and subnetwork in GCE cloud provider"
Currently the machine actuator hard codes the network and subnetwork that it creates the instances in. Eventually we want to be able to provision networks/subnetworks for the cluster to live in. For now, we should allow users to specify the network and subnetwork names where they want the cluster to be created.

This issue includes:

- Split GCEProviderConfig into cluster specific and machine spec

[2018-04-17 00:25] rsdcastro opened #75 "MachineSet: support for defining specific machines when scaling down"
This issue is to track ability to specify which machines to be removed from a machineset when it's scaling down. This is a requirement to support Cluster Autoscaling use cases.

Initial strawman using annotations to mark which machines to be removed would work, but there are concerns about not having an atomic operation for this kind of change.

cc @krousey @mwielgus @krzysztof-jastrzebski @maciek

[2018-04-17 18:43] rsdcastro opened #79 "VMware: support VM images that come with container runtime pre-installed"
_From @rsdcastro on April 14, 2018 1:46_

VM images provided by users might have the container runtime. This issue tracks verifying if the container runtime is already pre-installed and matches the version specified by the user.

_Copied from original issue: kubernetes/kube-deploy#687_

[2018-04-17 18:44] rsdcastro opened #80 "GCP: support VM images that come with container runtime pre-installed"
_From @rsdcastro on April 14, 2018 1:45_

VM images provided by users might have the container runtime. This issue tracks verifying if the container runtime is already pre-installed and matches the version specified by the user.

_Copied from original issue: kubernetes/kube-deploy#686_

[2018-04-17 18:44] rsdcastro commented on #80
_From @krousey on April 16, 2018 21:47_

cc @kcoronado

[2018-04-17 18:44] rsdcastro opened #81 "Enable GCP provider specific logic in the Kubernetes API."
_From @krousey on April 10, 2018 16:43_

The Google provider implementation installs Kubernetes without any GCP cloud provider code enabled. This code is needed to enable several key features:

  - Loadbalancing
  - Persistent Volumes
  - Ingresses
  - GCP routes for container networking (no need for CNI)

This largely is making sure the correct flags are specified on the existing k8s components a

[2018-04-17 18:44] rsdcastro commented on #81
/cc @mkjelland

[2018-04-17 18:44] rsdcastro commented on #81
_From @mkjelland on April 10, 2018 16:49_

I'll take a look!

[2018-04-17 18:44] rsdcastro commented on #81
_From @krousey on April 10, 2018 16:50_

self-assigning for now since @mkjelland isn't part of the k8s org.

/assign @krousey

[2018-04-17 18:44] rsdcastro commented on #81
/cc @kawych

[2018-04-17 18:45] rsdcastro opened #82 "gcp-deployer delete can strand VMs if you are using MachineSets"
_From @roberthbailey on March 18, 2018 18:0_

If you create a MachineSet in your cluster and then run `./gcp-deployer delete`, the delete command will delete each machine and then tear down the cluster. If you have machines that are part of a Machineset, while the `gcp-deployer` is tearing down the machines, the MachineSet is making sure that they exist. The `gcp-deployer` then deletes the master,

[2018-04-17 18:45] rsdcastro commented on #82
_From @krousey on March 19, 2018 15:40_

cc @k4leung4 expressed interest in fixing this. Assigning to me since he's not in the k8s org yet.

/assign @krousey

[2018-04-17 18:45] rsdcastro opened #83 "Weave assigns conflicting IPs to Pods"
_From @maisem on March 9, 2018 3:41_

cc @medinatiger @jessicaochen @rsdcastro

Weave is assigning conflicting IPs to Pods and they also seem to be from different cidrs.
[code]

[code]

Repro steps:
[code]

_Copied from original issue: kubernetes/kube-deploy#645_

[2018-04-17 18:45] rsdcastro commented on #83
Thank you @maisem!

This is a high priority bug that needs to be fixed.

[2018-04-17 18:45] rsdcastro commented on #83
_From @krousey on April 16, 2018 16:8_

@kcoronado is working on fixing this. I believe it's a follow up to the configuration work she already has out. Assigning to myself to track since she's not in the k8s org.

/assign @krousey

[2018-04-17 18:47] rsdcastro opened #84 "Allow disk size and type to be configured for GCP"
_From @rsdcastro on March 7, 2018 17:22_

_Copied from original issue: kubernetes/kube-deploy#638_

[2018-04-17 18:47] rsdcastro commented on #84
_From @spew on April 14, 2018 21:23_

Actively working on this one.

[2018-04-17 18:47] rsdcastro opened #85 "Configurable installation for versions and OS image matrix"
_From @krousey on March 6, 2018 20:2_

Currently in the GCE actuator, we compile in a script template that installs Kubernetes on Ubuntu. If we have a bug, or need to change the startup logic slight, we have to recompile and redeploy the controller.

The GCE actuator (and perhaps others but right now let's just limit it to GCE), should have a structured config that can be read from file (and confi

[2018-04-17 18:47] rsdcastro commented on #85
_From @krousey on March 6, 2018 20:3_

cc @kcoronado

[2018-04-17 18:47] rsdcastro commented on #85
_From @kcoronado on March 7, 2018 23:37_

I came up with an example yaml file for the config. I'm not sure what to name the struct yet, though (InstallationConfig, SetupConfig?).

[code]
Using lists of versions in one instance will prevent the same startupScript from being copied and pasted multiple times in the file.

[2018-04-17 18:47] rsdcastro commented on #85
_From @jessicaochen on March 8, 2018 23:29_

I am for making things more configurable.

I do have some thoughts on the suggested yaml. A situation to consider: You can have the node version behind the master version but you cannot have a master version behind a node version.

Looking at the suggested configuration, it seems to imply that all the listed versions are cross compatible. Eg. we could h

[2018-04-17 18:47] rsdcastro commented on #85
_From @kcoronado on March 9, 2018 1:24_

That's a good point. I wrote that with the assumption that the versions would be both cross compatible *and* able to use the same startup script.

Since they're not necessarily cross compatible, I could reuse the MachineVersionInfo struct here and make a list of valid combinations. That way each entry can still use the same startup script so it won't get du

[2018-04-17 18:48] rsdcastro opened #86 "Support other docker versions and other container runtimes"
_From @rsdcastro on March 3, 2018 20:17_

Currently only docker 1.12 is supported. This issue is to track defining supported runtimes and having those implemented in the cluster API. This can be scoped this to a specific OS flavor (Debian-based OSs) which is currently supported.

https://github.com/kubernetes/kube-deploy/blob/dfcdb553268d9f9ffcf0cdb23205bd7063ddf4a8/cluster-api-gcp/cloud/google/ma

[2018-04-17 18:48] rsdcastro commented on #86
_From @roberthbailey on March 7, 2018 18:50_

Supporting only docker seems ok for the alpha release. Supporting multiple versions declaratively would be nice, but given the trend of having the version of docker installed by mechanisms on the host OS (e.g. ubuntu comes with it's version of docker and COS comes with it's version) I'm not sure how strongly I care about adding support for this for alp

[2018-04-17 18:48] rsdcastro opened #87 "Move Ubuntu installation script out of Cluster API GCP"
_From @rsdcastro on February 12, 2018 18:19_

The goal is to have that as reusable by other providers, as long as the base image is the same.

_Copied from original issue: kubernetes/kube-deploy#596_

[2018-04-17 18:48] rsdcastro commented on #87
https://github.com/kubernetes/kube-deploy/blob/master/cluster-api-gcp/cloud/google/templates.go#L159

There are parts that are GCP specific, but those piece of data could be passed into the script rather than having it query the metadata server.

[2018-04-17 18:48] rsdcastro commented on #87
Keeping as GCP specific issue for now. If this becomes more general, we should file separate issues in the new kubernetes-sigs/cluster-api repo.

[2018-04-17 18:49] rsdcastro opened #88 "GCP support for Container OS"
_From @rsdcastro on February 12, 2018 18:18_

See #593 for reference.

_Copied from original issue: kubernetes/kube-deploy#595_

[2018-04-17 18:49] rsdcastro commented on #88
Turning this into a GCP specific issue, as there's no current infrastructure or plans to have a more general Ubuntu support that works across providers.

cc @mkjelland @krousey @kcoronado

[2018-04-17 18:49] rsdcastro opened #89 "GCP support for RHEL images"
_From @rsdcastro on February 12, 2018 18:17_

See #593 for reference.

_Copied from original issue: kubernetes/kube-deploy#594_

[2018-04-17 18:49] rsdcastro commented on #89
Turning this into a GCP specific issue, as there's no current infrastructure or plans to have a more general Ubuntu support that works across providers.

cc @mkjelland @krousey @kcoronado

[2018-04-17 18:49] rsdcastro opened #90 "GCP support for Ubuntu image"
_From @rsdcastro on February 12, 2018 18:15_

This about tracking the current support for Ubuntu to be production ready.

Ideally this should be agnostic so all providers can use it.

_Copied from original issue: kubernetes/kube-deploy#593_

[2018-04-17 18:49] rsdcastro commented on #90
Turning this into a GCP specific issue, as there's no current infrastructure or plans to have a more general Ubuntu support that works across providers.

[2018-04-17 18:49] rsdcastro commented on #90
/cc @mkjelland @krousey @kcoronado

Let's track having a production ready Ubuntu support here via the config map work being done.

[2018-04-17 18:49] rsdcastro opened #91 "Allow GCP service account K8s namespace to be configurable"
_From @rsdcastro on February 6, 2018 17:53_

See https://github.com/kubernetes/kube-deploy/pull/570 for context.

_Copied from original issue: kubernetes/kube-deploy#573_

[2018-04-17 18:50] rsdcastro opened #92 "Use dedicated service account for machine controller pod"
_From @medinatiger on February 5, 2018 20:0_

The current code is using default service account combined an admin privileged kubeconfig. We need to strip down to appropriate access permission with a dedicated service account.

_Copied from original issue: kubernetes/kube-deploy#567_

[2018-04-17 18:50] rsdcastro commented on #92
This is very important, but it seems that it can be added as alpha without major changes to the system, so moving it to beta.

[2018-04-17 18:50] rsdcastro opened #93 "Automate new docker image builder with new apiserver and controller manager"
_From @medinatiger on February 5, 2018 19:53_

It was manually built with "apiserver-boot build container --image ". However, it needs to be extended with all the additional configuration such as openssh stuff in cluster-api-gcp/machine-controller.

_Copied from original issue: kubernetes/kube-deploy#564_

[2018-04-17 18:50] rsdcastro commented on #93
_From @vaibhavsingh97 on February 7, 2018 18:31_

@medinatiger Can you please guide me how can I solve this issue 😄

[2018-04-17 18:50] rsdcastro commented on #93
_From @medinatiger on February 7, 2018 18:43_

https://github.com/kubernetes-incubator/apiserver-builder/blob/master/docs/running_in_cluster.md has full instruction how to build & push a docker image.

I would like to have sth like https://github.com/kubernetes/kube-deploy/blob/master/cluster-api-gcp/machine-controller/Makefile.

@vaibhavsingh97, thanks for helping out!

[2018-04-17 18:50] rsdcastro opened #94 "Add unit tests for GCP machine controller"
_From @karan on February 2, 2018 18:38_

_Copied from original issue: kubernetes/kube-deploy#554_

[2018-04-17 18:51] rsdcastro opened #95 "GCP provider: support in-place property updates on the machine"
_From @rsdcastro on January 29, 2018 22:22_

_Copied from original issue: kubernetes/kube-deploy#534_

[2018-04-17 18:52] rsdcastro opened #96 "Spec.ObjectMeta in Machine is not a valid path"
_From @karan on January 24, 2018 21:40_

Machine actuator currently looks for changes to spec.metadata [1], but that field doesn't exist [2]. So changes to `generateName` won't WAI for example.

Two possible solutions:
1. Look for machine.metadata in the actuator
2. Pull or reference the metadata block in `spec`.

[1] https://github.com/kubernetes/kube-deploy/blob/master/cluster-api-gcp/cloud/goog

[2018-04-17 18:52] rsdcastro commented on #96
_From @karan on January 24, 2018 21:44_

/label cluster-api-gcp

[2018-04-17 18:52] rsdcastro opened #97 "Use a pre-built node and master image"
_From @karan on January 24, 2018 19:18_

Currently, spinning up nodes and masters can take ~minutes. Most of this time is due to apt-get installs. We can cache these by using a pre-built image, and then simply run `kubeadm join`. This will make node startups faster.

Similar for master.

https://github.com/kubernetes/kube-deploy/blob/master/cluster-api-gcp/cloud/google/templates.go#L159

_Copied f

[2018-04-17 18:53] rsdcastro opened #98 "Make Machine Controller Pod Version Not Serial"
_From @jessicaochen on January 11, 2018 17:17_

Having a serial machine controller pod version makes parallel contribution more difficult. One needs to figure out a unique name for dev pods to avoid stepping on other contributor's toes. When pushing the official image, coordination is needed to not push the same version number. If we make the pod version based on something less serial (eg. commit

[2018-04-17 18:53] rsdcastro opened #99 "GCE machine actuator should collect current state"
_From @jessicaochen on January 11, 2018 17:8_

The machine actuator should get current state from the actual sources (eg. kubelet version from machine, VM info from gce) instead of a cached last-applied state. This will help with cases like the state changing under the covers.

https://github.com/kubernetes/kube-deploy/blob/master/cluster-api-gcp/cloud/google/instancestatus.go#L13

_Copied from or

[2018-04-17 18:53] rsdcastro commented on #99
_From @karan on January 24, 2018 21:41_

I'll start working on this, and handle updates to `spec.providerConfig` first. Specifically, `zone`, `machineType`, and `image`.

[2018-04-17 18:54] rsdcastro opened #100 "Separate OWNERS for cloud/*"
_From @karan on March 1, 2018 16:49_

In the external apiserver world, the provider-specific code that lives in `cloud/` is disjoint from the controller. As such, for reviews for any provider, it can be a bad experience to be blocked on development.

We should have separate OWNERS for the provider-specific code, so changes there don't (always) need cluster-api owners approvals.

_Copied from origi

[2018-04-17 18:54] rsdcastro commented on #100
_From @karan on March 1, 2018 17:1_

From https://github.com/kubernetes/community/blob/master/contributors/guide/owners.md

[2018-04-17 18:54] rsdcastro commented on #100
_From @karan on March 1, 2018 17:2_

cc @kubernetes/sig-cluster-lifecycle-misc

[2018-04-17 18:54] rsdcastro commented on #100
cc @mrIncompetent @scheeles @p0lyn0mial

[2018-04-17 18:54] rsdcastro commented on #100
_From @scheeles on March 3, 2018 1:34_

sgtm

[2018-04-17 18:55] rsdcastro opened #101 "Controller reconciliation loop is serialized"
_From @medinatiger on April 3, 2018 17:21_

Machine controller reconciliation is serialized. We need to find a way to make operation in parallel.

_Copied from original issue: kubernetes/kube-deploy#663_

[2018-04-17 20:51] johnsonj commented on #48
I think cloud is technically the wrong term for a few cases, but I think it's specific and not far off enough that it's an issue. Maybe I'm missing that perfect 'something else' but it seems other attempts are so broad that they lose out on clear meaning.

[2018-04-18 22:30] dragan commented on #59
Has anybody volunteered for this? I meant to attend the SIG meeting today and introduce myself, however prior engagements kept me away. I'd like to volunteer. I'm also happy to work with anybody else to implement an AWS actuator.

In the past I've used Terraform to launch an HA Kubernetes cluster and have been running kubernetes in a production environment since 1.0.0. I'm ready to align to a sing

[2018-04-19 15:27] rsdcastro commented on #59
Hi Dale - we had a couple of people starting some work on the AWS provider implementation before but those didn't get sent out as PR (and it's been a while now). So please feel free to pick this up - and thank you for doing it!

On your questions. Yes, what each platform provider supports is totally independent from each other. Our goal is that much of the code to support a particular OS can be re

[2018-04-19 17:47] dragan commented on #59
Hi Rodrigo! No problem, I'm happy to help!

Thanks for the information and I'll take a look @kcoronado PR. I'm starting on this now! As soon as I have something working, I'll submit a PR to start the feedback process.

/cc @rsdcastro

[2018-04-19 22:28] kcoronado commented on #80
This case will be handled by #104. The user can update the machine_setup_configs.yaml file to use their custom image and a startup script that skips installing the container runtime. They should specify the image's container runtime version in the machines yaml and the configs yaml so the right config will be identified when creating that VM.

In terms of verification, it would be the user's respo

[2018-04-23 10:43] mvladev opened #106 "Controller should wait for cache sync before starting working"
From [writing controllers guide](https://github.com/kubernetes/community/blob/master/contributors/devel/controllers.md):

Controllers should wait for:

- `Machine` controller - `Machine` and `Node`
- `MachineSet` controller - `MachineSet`, `Machine` and? `Node`
- `MachineDeployment` controller - `MachineDeployment`, `MachineSet`, `Machine` and? `Node`

to sync.

The sync should happen, before we [

[2018-04-25 13:55] scheeles commented on #22
@roberthbailey I know there are several discussion about the machine class. Do we have documented why we need it.

[2018-04-25 19:54] karan opened #109 "Change type of Machine.Roles"
Since a machine can only be either a Master or a Node, we should change it from a list of strings to an enum.

[2018-04-25 22:06] #101 closed

[2018-04-26 23:06] wangzhen127 opened #111 "./gcp-deployer delete doesn't clean up context"
It seems that the kubernetes context is not removed after deleting the cluster using gcp-deployer.

To reproduce:
[code]
You will see
[code]

I expect at least it is not the current context, or the context is removed.

[2018-04-27 15:46] spew commented on #54
Hello p0lyn0mial are you planning to work on this one?

[2018-04-27 18:29] jessicaochen opened #112 "Create Clusterctl Skeleton Directory"
Create a directory and skeleton for clusterctl.
Tooling experience doc: https://docs.google.com/document/d/1-sYb3EdkRga49nULH1kSwuQFf1o6GvAw_POrsNo5d8c/edit#heading=h.mhd2l21c5f2l

[2018-04-27 23:04] rsdcastro commented on #34
This item should cover how to test that a cluster that has cluster API enabled is comformant, which means that E2E scenarios via cluster API on the particular provider that is enabled in the cluster are working.

[2018-04-28 05:08] jessicaochen opened #115 "GCE Machine Deployer Cannot Create/Access GCE VMs"
Deployer succeeds, however no node machines are provisoned. gce-machine-deployer throws a lot of the following error:

Error checking existance of machine instance for machine object gce-master-test1; Get https://www.googleapis.com/compute/v1/projects/jesschen-gke-dev/zones/us-central1-c/instances/gce-master-test1?alt=json: oauth2: cannot fetch token: Post https://accounts.google.com/o

Assigning

[2018-04-28 05:56] jessicaochen commented on #115
Issue was introduced somewhere between these two commits:
https://github.com/kubernetes-sigs/cluster-api/commit/3cf25650bdece7f326741f771e31794a484c6966

https://github.com/kubernetes-sigs/cluster-api/commit/a4f58439a3f93d8884e65dd595c0e0f9d6614819

Will try to get a narrower range but it there was a lot going on with the repo moving in that range.

[2018-04-28 06:37] jessicaochen commented on #18
Ideal one of these is also a presubmit to stop PRs from breaking bootstrapping with changes.

[2018-04-28 06:38] jessicaochen commented on #115
As a side note, given how many feature PRs that went in while the deployer was broken, we really need to have automated provisioning tests as presubmits to make sure things do not get broken/have proper testing.

Bump https://github.com/kubernetes-sigs/cluster-api/issues/18

[2018-04-30 15:06] spew commented on #54
hi @p0lyn0mial, in the meantime I started looking at another issue. I'm going to be working on https://github.com/kubernetes-sigs/cluster-api/issues/52 first and then I'll likely come back to this one.

[2018-04-30 16:27] krousey commented on #115
This was a result of [this](https://github.com/kubernetes-sigs/cluster-api/commit/262113e72fb0857d5289e5b804a5ee3f639a6ea6#diff-f819d90c5667b689aab84ca0f5f170bd) particular change in the machine templates yaml file. It switched the startup script to one that tried to use kubenet (without appropriate permissions) and broke some of the networking on the master. The old startup script was still there

[2018-04-30 19:55] #83 closed

[2018-04-30 20:29] kcoronado commented on #115
Fixed with #107

[2018-04-30 20:29] #115 closed

[2018-05-01 07:39] kris-nova opened #118 "sigs.k8s.io redirect isn't working"
If you try to load `https://sigs.k8s.io/cluster-api/` it redirects to `https://github.com/kubernetes-sigs/cluster-api/blob/master/` which returns a 404

[2018-05-02 15:45] karan opened #122 "Get kubeconfig (admin.conf) from master without SSH"
Don't know how.

kops seems to build the kubeconfig from raw information (CA, certs etc). Duplicating the CA locally seems not so safe.

[2018-05-02 17:13] krousey commented on #41
This was not fixed with that PR. That was a separate issue.

[2018-05-02 18:57] karan opened #124 "Take user's input for ssh keys rather than generating them in deployer"
cc @jessicaochen

[2018-05-03 15:54] kawych opened #129 "GCP deployer support for different versions of Docker"
Currently gcp-deployer supports only Docker 1.12.0. I've tried to set it up to run with Docker 17.03.2-ce and identified several places that need to be fixed:

1) Remove legacy check for 1.12.0 - issued PR #128
2) Update `apt-get install` command here: https://github.com/kubernetes-sigs/cluster-api/blob/ec53b5b32946270f48f382e7295c631fac530623/gcp-deployer/machine_setup_configs.yaml#L35 to specify

[2018-05-03 19:54] csrwng opened #131 "Provider-specific status on Cluster and Machine"
The ClusterStatus struct currently contains a `ProviderStatus` string. This should follow the pattern of `ProviderConfig` in `ClusterSpec` and be of type struct that includes a `RawExtension` value.

Machines should include a provider-specific status as well, and follow the same pattern.

[2018-05-03 23:33] kawych opened #132 "Set up firewall rules for cluster in GCP deployer"
In clusters created with GCP deployer, pods can't connect to ports exposed by Kubelet on other nodes. For my cluster "test1" I worked it around adding a firewall rule:
[code]
192.168.1.0/24, 192.168.0.0/24 are IP ranges of pods in my cluster.

cc @karan @krousey

[2018-05-04 21:07] karan opened #136 "Only pull the latest kubeadm if minor or major version K8s upgrade"
Apparently "Kubeadm version v1.10.2 can only be used to upgrade to Kubernetes versions 1.10". So for patch upgrades (1.x.y to 1.x.z), we should not pull in the latest kubeadm.

[2018-05-04 21:24] karan opened #137 "kubectl edit machine fails validations"
To repro:

1. Deploy cluster
2. kubectl edit machine machineName
3. Edit something other than providerConfig (eg controlPlane version)

/cc sig-cluster-lifecycle

[2018-05-04 22:00] krousey commented on #39
This might be the right goal, but right now is not the right time.

The migration of cloud provider out of core is a tricky process. From discussions I had with @cheftako, they still have a lot to figure out. They are going to do the migration over several releases, and at each step they have to figure out processes for keeping code bases in sync until they're actually separated. Having our code b

[2018-05-09 14:21] dgoodwin opened #145 "Link MachineSets/MachineDeployments to their Cluster via both Labels and OwnerReferences"
Owner references were added to Machines created via a MachineSet in https://github.com/kubernetes-sigs/cluster-api/pull/108

However as it stands today there is no established link required between MachineSet and it's Cluster. Similar for MachineDeployment.

Would it be reasonable to implement two links:

1. Require (via validation) a label linking MachineSet / MachineDeployment to a Cluster, and

[2018-05-09 16:14] krousey commented on #41
@dgoodwin I've been thinking about this, and is owner references a good fit for this? It seems to require a UUID. That seems prohibitively awkward for a user to fill out. What does everyone think?

[2018-05-09 16:30] dgoodwin commented on #41
Agreed it would have to be handled automatically, this led to our idea regarding the labels (which the user would need to set) and the owner reference (which a controller would set, as soon as the referenced owner exists).

[2018-05-09 18:00] #36 closed

[2018-05-09 21:56] csrwng opened #147 "Allow provider-specific validation of ProviderConfig in a Cluster resource"
### The Problem:
Currently the cluster API server validates only the known fields of a Cluster resource. ProviderConfig is taken at face value and left for the Machine controller to interpret. Validation is needed to ensure that the data passed in ProviderConfig is well-formed. There are 2 use cases for this:
- **ProviderConfig only references an external resource** Although we don't yet have fiel

[2018-05-09 21:58] csrwng commented on #147
@dgoodwin @staebler fyi

[2018-05-10 01:42] m1093782566 opened #151 "Cloud Provider implementation for OpenStack Cloud"

[2018-05-10 03:00] m1093782566 commented on #151
/cc @rsdcastro @kevin-wangzefeng @Lion-Wei @islinwb @fisherxu

[2018-05-10 13:32] kris-nova opened #152 "Moving cloud provider specific code out of the repo"
Right now the `cluster-api` repository has some cloud provider specific code.

 - GCP Deployer ([link](https://github.com/kubernetes-sigs/cluster-api/tree/master/gcp-deployer))
 - Google Actuator ([link](https://github.com/kubernetes-sigs/cluster-api/tree/master/cloud/google))
- Terraform Actuator ([link](https://github.com/kubernetes-sigs/cluster-api/tree/master/cloud/google))

The issue of remov

[2018-05-10 13:32] kris-nova commented on #152
Please keep the code in the repository!

👍 to vote

[2018-05-10 13:33] kris-nova commented on #152
Please remove the code from the repository!

👍 to vote

[2018-05-10 15:55] rsdcastro commented on #152
We talked a lot about moving it out of the tree, and if we already had more providers in the repo and we started seeing the clear benefits, I'd be totally supportive.

However, I'd ask you to consider:
(a) we don't have providers other than what Google has been working on so far.
(b) we have a lot of work going on in the common code that isn't tested in isolation but with the provider code which i

[2018-05-10 16:10] spew commented on #52
Open PR for this issue here: https://github.com/kubernetes-sigs/cluster-api/pull/153

[2018-05-10 16:30] #56 closed

[2018-05-10 16:50] weargoggles commented on #152
Here's another provider https://github.com/kubermatic/machine-controller/ and it's already out of tree.

[2018-05-10 16:52] kris-nova commented on #152
And another: https://github.com/kubicorn/controller

[2018-05-10 16:55] jessicaochen commented on #152
@kris-nova - Can we have an official vote option for what @spew is suggesting?

[2018-05-10 16:58] kris-nova commented on #152
@jessicaochen how is that different than removing the code from the repository?

Above we mention that we would follow a normal planning cycle for the work. It seems like the timing of **when** the code would be removed is an implementation detail that falls under the **remove the code from the repository** plan.

Happy to add a third option - but just seems like it's saying the same thing.

[2018-05-10 17:02] #112 closed

[2018-05-10 19:32] tamalsaha commented on #152
Here is another one: https://github.com/pharmer/pharmer/pull/407

[2018-05-10 19:45] spew commented on #152
I think creating an issue, planning, and scheduling the work to move providers out of the repo is a good thing. However, I'd propose that we explicitly do not block commits adding more functionality to those providers in lieu of that work.

[2018-05-10 19:55] spew commented on #132
Taking a look at fixing this one.

[2018-05-10 20:08] kris-nova commented on #152
Completely agree @spew

[2018-05-11 02:16] m1093782566 commented on #152
I'm with Rodrigo.

[2018-05-11 04:32] kris-nova commented on #152
I think that **keeping the code** implies we want to advertise that code is and will always be in the repo.

I think **removing the code** implies we plan to (some day) remove the code and advertise it as such.

To me removing the code tomorrow, or next year - still falls under **removing the code**.

[2018-05-11 04:57] m1093782566 commented on #152
Thanks for clarification, @kris-nova

[2018-05-11 08:18] weargoggles commented on #152
How about adding new providers to the repo?

[2018-05-11 08:28] rosti commented on #152
Not removing the cloud providers code immediately does imply that new providers code should come into the repo for the foreseeable future. However, we still have to make sure that the CP code remains well separated from the rest of the Cluster API.

[2018-05-11 18:41] jessicaochen opened #157 "Clusterctl create cluster"
Implement v0 cluster bootstrapping in clusterctl tool.

Overall Clusterctl Design: https://docs.google.com/document/d/1-sYb3EdkRga49nULH1kSwuQFf1o6GvAw_POrsNo5d8c/edit#heading=h.mhd2l21c5f2l
Overall Bootstrap Design: https://docs.google.com/document/d/1CnzIXtitfbO6Y7ZxVWROGO8jr19t0vooDx-YQ7c2nbI/edit

v0 scoping:
- The clusterctl tool will use a temporary minikube as the external cluster api stack

[2018-05-11 18:52] spew commented on #132
I have reproduced this issue, there is active work going on in this area by @mkjelland

[2018-05-11 19:08] jessicaochen opened #158 "Cluster Controller Should Update Cluster APIEndpoints"
Currently it is the responsibility of the deployer to update cluster APIEndpoints after the control plane is provisioned. This should really live in the controller so that the logic works across updates and is consistent.

[2018-05-11 19:12] jessicaochen opened #159 "Machine Controller Should Fetch Kubeadm Join Token"
Currently, the kubeadm join token is passed in via a command line flag. This is problematic because tokens expire and may not be valid at when a new machine is requested. What really should be done is have the machine controller generate/fetch a token from the control plane when about to provision a machine.

[2018-05-11 19:46] spew opened #161 "Implement custom certificate authority support for tf-deployer"
In [PR-153](https://github.com/kubernetes-sigs/cluster-api/pull/153) initial support was added for custom CAs when using gcp-deployer. However, the tf-deployer version of the same functionality was left unimplemented. This issue tracks the work to implement that functionality in the tf deployer.

[2018-05-11 19:48] spew opened #162 "More secure transport mechanism for custom certificate authorities"
In [PR-153](https://github.com/kubernetes-sigs/cluster-api/pull/153) initial support was added for custom CAs when using gcp-deployer. The transport mechanism for bringing a custom CA onto the cluster is the instance metadata. This approach is not as secure as we may like as every user of the instance can access the private key through the metadata.

This issue tracks the need for a better approac

[2018-05-11 19:58] spew opened #163 "Port PR-153 code into clusterctl"
The initial implementation of issue https://github.com/kubernetes-sigs/cluster-api/issues/52 resulted in PR https://github.com/kubernetes-sigs/cluster-api/pull/153 which only implements the functionality inside of gcp-deployer. The code will need to be ported, with potential changes in approach, to clusterctl.

[2018-05-11 19:59] spew commented on #52
As a result of PR https://github.com/kubernetes-sigs/cluster-api/pull/153 this issue has split into several sub issues:

- https://github.com/kubernetes-sigs/cluster-api/issues/161: Implement custom certificate authority support for tf-deployer
- https://github.com/kubernetes-sigs/cluster-api/issues/162: More secure transport mechanism for custom certificate authorities
- https://github.com/kubern

[2018-05-11 21:54] rsdcastro commented on #2
Kris - please reopen if there is something else that needs to be done here.

/close

[2018-05-11 21:54] #2 closed

[2018-05-11 22:45] spew commented on #159
Taking a look.

[2018-05-14 15:42] karan opened #164 "Alternatives for STARTFILE hack in actuators?"
@krousey is wondering if adding -q to the ssh command and separating stderr and stdout could eliminate the need to do this STARTFILE hack.

[2018-05-14 16:45] spew commented on #164
Confirmed that "-q" and "--quiet" do not work. Investigating if there are other options.

[code]

[2018-05-14 16:46] spew commented on #164
Interestingly enough -- we are "getting" the kubeconfig so that we can write it to disk. Should we just use scp instead?

[2018-05-14 17:00] spew commented on #164
Success! This is quiet:

[code]

[2018-05-14 18:37] spew commented on #164
Open PR here: https://github.com/kubernetes-sigs/cluster-api/pull/166

[2018-05-14 20:55] spew opened #167 "Unify ssh command"
There are multiple different command execs in the codebase all doing roughly the same thing with ssh. This issue is tracking unification of all those commands.

Note that there is also the usage of the "gcloud compute ssh" command which is a bit different and it may not be desirable to unify this.

[2018-05-14 20:58] wangzhen127 opened #168 "clusterctl validate cluster"
Implement the client side cluster validation in clusterctl tool.

Design doc: https://docs.google.com/document/d/1e1ds0sdlGzC2U_DpSf5zWFYPlpPh5giyW8MXzhDthNk/

This issue tracks things that lives on the client side, i.e. checking the following things are running and healthy
- master node
- master components: kube api server, etcd, scheduler, etc
- Cluster API stack: cluster api server, controller

[2018-05-14 21:08] wangzhen127 commented on #157
/cc @wangzhen127

[2018-05-15 16:03] spew commented on #164
PR is shipped.

[2018-05-15 16:03] #164 closed

[2018-05-15 16:36] krousey commented on #137
This is kubectl validation failing for some reason. I am able to successfully edit when I do `kubectl edit machine <machine name> --validate=false` and everything works as expected.

[2018-05-15 16:41] karan commented on #137
Yes if I disable validation it works. We should look into why the validation is failing though.

[2018-05-15 16:51] spew commented on #159
Working on this one today.

[2018-05-15 21:08] karan commented on #137
This seems to be an issue with newer kubectl. v1.9 and newer have this problem.

[2018-05-15 21:15] jessicaochen commented on #167
Sort of. My work would remove the gcloud compute ssh but does not put all ssh code into one location.

[2018-05-15 21:16] jessicaochen commented on #167
(removed myself as the ssh work I am doing does not cover the full scope of this issue.

[2018-05-15 21:59] spew commented on #167
Ok @jessicaochen -- question: if I moved all ssh code (except gcloud ssh) into a single location would that be useful?

[2018-05-16 13:54] staebler opened #177 "Remove restriction of single cluster per namespace"
It makes for a bad user experience if a user can break the functionality of an existing Cluster by adding another Cluster to the same namespace. Are there use cases around the restriction of a single cluster per namespace? I see that this restriction came out of https://github.com/kubernetes/kube-deploy/issues/463, but I don't see any arguments in that issue for why this restriction is needed.

Re

[2018-05-16 16:41] karan commented on #69
/cc @kubernetes/sig-cluster-lifecycle-proposals

[2018-05-16 16:44] karan commented on #69
/cc @kubernetes/sig-cluster-lifecycle-proposals

[2018-05-16 22:35] ichekrygin opened #182 "GCP Update controlPlane Version Fails"
### Overview
Updating `controlPlane` value failes and crashes `clusterapi`

### Repro Steps
1. Create new Kubernetes cluster on GCE via `gcp-deployer create -c cluster.yaml -m machines.yaml -s machine_setup_configs.yaml` using [CONTRIBUTIN.md](https://github.com/kubernetes-sigs/cluster-api/blob/master/gcp-deployer/CONTRIBUTING.md)
[code]
2. Verify cluster nodes
[code]
3. Verify clusterapi machines

[2018-05-17 19:32] tamalsaha commented on #152
In most Kubernetes repos, cloud provider specific is moved out to their own repos to make things manageable. GIven this is a new effort, it makes sense to do that sooner than later.

[2018-05-17 23:10] medinatiger commented on #177
can you elaborate the Red Hat use case in more detail? Is cluster object live outside cluster?

[2018-05-18 01:57] staebler commented on #177
@medinatiger Red Hat will have what we are loosely terming a root cluster where users can create Cluster and MachineSets. The Red Hat product will create a remote OpenShift cluster in AWS for each Cluster in the root cluster. A Cluster in the root cluster will have in its ProviderConfig a reference to a Secret that will contain AWS account credentials to use to create the remote OpenShift cluster.

[2018-05-18 16:20] jessicaochen opened #187 "Reduce man in the middle for SSH"
Instead of setting ScrictHostKeyChecking to no, have a check to fetch the host key if there is not host key and remove the that flag. What this will do is reduce the possibility of man in the middle attacks from every time to just the first time for the machine actuator.

[2018-05-18 22:27] mkjelland opened #191 "Add support for multi-project clusters on GCE"
Once PR #183 is merged, a single project for a cluster is defined in the GCEClusterProviderConfig. Only a single project is supported. This issue is to allow the GCEClusterProviderConfig to take a list of projects that are supported for the cluster. Then each machine will need to define its own Project field in GCEMachineProviderConfig, which will be required to be in the list in GCEClusterProvide

[2018-05-19 18:17] craigtracey opened #192 "Remove terraform binary from source tree"
The terraform binary has been checked in to the tree.  This makes the tree large and has git complaining about large file sizes.  And, from a technical perspective, vendoring a binary in this way can have other undesirable aspects (ie. will we vendor it forever? what about security updates? etc).

While it is already too late for tree bloat, we should remove terraform from the tree and, instead, p

[2018-05-19 18:18] craigtracey commented on #192
Related: https://github.com/kubernetes-sigs/cluster-api/issues/152

[2018-05-19 18:30] kris-nova commented on #192
/lgtm

[2018-05-21 14:26] rsdcastro commented on #192
See #185 which is pulling the terraform binary on container creation.

[2018-05-21 14:28] rsdcastro commented on #191
Curious as to whether we heard about this use case from users and any more details they might have reported.

[2018-05-21 15:13] mkjelland commented on #191
This came out of a conversation about where the configuration for the project field should be stored in PR #183

[2018-05-21 15:17] rsdcastro commented on #191
Got it. It seems like no specific example was mentioned, just as a general possibility. Let's keep this issue open to gather more input.

[2018-05-21 20:55] k4leung4 commented on #54
apologies, i didn't notice this issue, but i have implemented it.

https://github.com/kubernetes-sigs/cluster-api/pull/180

[2018-05-21 21:18] k4leung4 commented on #53
/assign @k4leung4

[2018-05-21 21:45] k4leung4 commented on #54
/assign

[2018-05-21 21:56] k4leung4 commented on #54
/assign

[2018-05-21 21:57] k4leung4 commented on #54
/close

[2018-05-21 21:57] #54 closed

[2018-05-21 22:14] k4leung4 commented on #27
/assign @p0lyn0mial
fixed with PR, https://github.com/kubernetes/kube-deploy/commit/4d8e94db3c530816249edc367ba817a6d22e5893

[2018-05-21 22:14] k4leung4 commented on #27
/close

[2018-05-21 22:14] #27 closed

[2018-05-21 22:15] k4leung4 commented on #53
/assign

[2018-05-21 22:15] k4leung4 commented on #106
/assign

[2018-05-22 06:51] karan commented on #192
Yeah we can just nuke it -- it's now installed as part of the controller image.

[2018-05-22 06:51] karan commented on #192
/assign @karan -- I'll work on this next week - currently traveling.

[2018-05-22 19:40] k4leung4 opened #196 "Guard around generated names for machines from machinesets/machine deployments"
The current logic for generating machine names for machinesets is to append a hash to the name in the template spec.
If the template spec name is long, it may force the generated name to exceed the max length allowed for a kubernetes object.

The machine set controller should validate the generated name length is valid and that the validation logic for the template spec should check the base lengt

[2018-05-23 00:09] kcoronado opened #198 "Support using custom static pod specs"
We want to add support for the use case of a power user who wants to specify custom static pod specs for their control plane when starting up a machine instead of using the defaults from `kubeadm init`. Note that this does not eliminate the option of using `kubeadm`.

An idea for implementing this:
* Use a component setup ConfigMap to map a control plane version to the set of static pod specs to u

[2018-05-23 18:15] dlipovetsky opened #201 "SSH Provider to support already provisioned machines (VMs)"
The current providers (gcp, terraform) both target environments that have infrastructure APIs. They create machines with these APIs and then provision the machines with Kubernetes.

The SSH provider targets environments with machines already provisioned with an OS. It does not create the machines, but only provisions them with Kubernetes. This is useful in a "bare metal" environment where PXE/iPXE

[2018-05-23 19:43] wangzhen127 commented on #168
/assign @wangzhen127

[2018-05-23 20:09] kris-nova commented on #152
Following up on the meeting from today will be closing this issue with a permanent update on the status of cloud providers (actuators) for the cluster API. ([ORIGINAL NOTES FROM CALL](https://docs.google.com/a/heptio.com/document/d/16ils69KImmE94RlmzjWDrkmFZysgB2J4lGnYMRN89WM/edit?disco=AAAABxlMTLc))

# New repositories for each cloud provider

Per a discussion with the leads of project (@krousey,

[2018-05-23 20:09] #152 closed

[2018-05-23 21:38] k4leung4 opened #204 "Add a cap for number of concurrent deletion calls in MachineSet controller"
Currently the machine set controller calls the machine deletion in a go func for each machine.
This may cause issue if we need to delete thousands of machines.
Add a cap to better safeguard against issues.

[2018-05-23 21:59] spew opened #205 "Remove logging error message from every line of gce-machine-controller"
Every line of gce-machine-controller's log ends up having an error message prefix of "ERROR: logging before flag.Parse". This is due to an unfortunate artifact of glog's design. This can be fixed with the hack outlined here: https://github.com/kubernetes/kubernetes/issues/17162.

See below for an example of the log output:

[code]

[2018-05-24 14:49] jessfraz opened #208 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-24 16:52] spew commented on #58
Taking a look at this one.

[2018-05-24 16:52] spew commented on #58
/assign @spew

[2018-05-24 17:29] xmudrii opened #211 "Proposal: Implement the cluster-api-do controller for handling DigitalOcean Kubernetes clusters"
**Type**: Proposal

It would be nice to have a controller, like for AWS/GCP, for handling cluster creation and managing DigitalOcean Droplets (instances).

I'm willing to work and maintain this one if there is interests for such controller. Let me know is there something else needed to be provided for a proposal.

/kind feature
/cc @kris-nova

[2018-05-24 17:35] rsdcastro commented on #211
Dupe of https://github.com/kubernetes-sigs/cluster-api/issues/55?

[2018-05-24 17:35] #211 closed

[2018-05-24 17:39] xmudrii commented on #55
From issue #211

I'm interested more about that one. If that is okay, I'm interested in working on it, and if needed maintaining it. I would few pointers how and where to start, and what's the proposal process.

[2018-05-24 18:08] spew commented on #208
/assign @spew

[2018-05-24 18:11] spew commented on #205
/assign @spew

[2018-05-24 19:49] kris-nova commented on #55
I think our first start here is getting a new repository - we are currently working on what that process looks like as a sig

[2018-05-24 20:19] #208 closed

[2018-05-24 22:17] spew commented on #94
We are actively adding unit tests to the codebase now.

/close

[2018-05-24 22:17] #94 closed

[2018-05-24 22:25] spew commented on #62
Being worked on in this PR: https://github.com/kubernetes-sigs/cluster-api/pull/156

[2018-05-24 22:28] spew commented on #48
I tend to agree with @johnsonj and we are moving towards a very cloudy world. This issue appears to have almost no activity for now and we are moving the clouds / providers out of this repo soonish. Closing.

/close

[2018-05-24 22:28] #48 closed

[2018-05-25 16:58] staebler commented on #145
/dibs

[2018-05-25 17:00] staebler commented on #145
I do not think that adding an OwnerReference to the Cluster on the MachineSet makes sense. Since the user is required to create both the Cluster and the MachineSets, it seems to me that it would be unexpected behavior to a user if the MachineSets were deleted when the Cluster was deleted.

[2018-05-25 17:02] staebler commented on #145
Does anybody have any opinions on whether a `LocalObjectReference` in the spec of MachineSet that points to the Cluster would be better than a cluster-name label on the MachineSet?

[2018-05-25 20:00] spew opened #216 "Rewrite generate-yaml.sh as a go program"
The generate-yaml.sh bash script is growing in scope and complexity. We should rewrite it as a go program to make it easier for development as well as testing.

[2018-05-25 22:59] dlipovetsky opened #217 "Contributing docs do not accurately represent the common bootstrap flow"
The [doc](https://github.com/kubernetes-sigs/cluster-api/blob/a2163f4/CONTRIBUTING.md#a-new-machine-can-be-created-in-a-declarative-way) states:

The current deployers (GCP, terraform) invoke their respective actuators to create a cluster (one master), then start the external apiserver and machine controller on that cluster, and finally POST objects to the apiserver. Finally, the machine controlle

[2018-05-25 23:06] jessicaochen opened #218 "Vendoring k8s/k8s"
There recently has been concern about importing k8s/k8s in the cluster-api repo. As I understand it, the reasoning is:
- k8s/k8s is large.
- We already depend on the client and apimachinery from k8s. If we pull the entire k8s/k8s, there will be multiple copies of code and more opportunity for mixups
- k8s/k8s is complex. It is best to keep dependencies small and easy to reason about.

Created issu

[2018-05-25 23:08] jessicaochen commented on #218
/cc @krousey @maisem @wangzhen127

[2018-05-29 17:11] karan opened #224 "[vSphere] Move terraform state to machine object, instead of file system"
- [x] Basic support for tf-state in Machine object. Bootstrap will remain a special case.
- [x] Integrate with clusterctl after #263 merges.
- [x] Remove master VM file copies
- [x] Base64 encode tf-state before storing it in the machine.
- [x] Update controller image

/label cluster-api-vmware
/kind feature

/assign @karan

[2018-05-29 17:12] karan commented on #224
/assign karan

[2018-05-29 17:12] karan opened #225 "[vSphere] Support machine setup config map in vSphere"
/kind feature

/assign @karan

[2018-05-29 17:12] karan commented on #225
/assign @karan

[2018-05-29 17:13] karan opened #226 "[vSphere] Store provider config variables in secrets"
This is for security and safety, since the provider config blob can contain sensitive credentials.

/kind feature

/assign @karan

[2018-05-29 17:13] karan opened #227 "[vSphere] Move vCenter credentials to Cluster provider config"
For de-duplication

/assign @karan

[2018-05-29 17:15] karan commented on #216
+1

[2018-05-29 17:27] karan commented on #99
/unassign @karan

[2018-05-29 17:51] mkjelland commented on #99
/assign @mkjelland

[2018-05-29 21:18] #205 closed

[2018-05-29 21:18] spew commented on #205
implemented.

[2018-05-29 21:20] rsdcastro commented on #182
cc @k4leung4 @maisem

Can you comment on this issue?

[2018-05-29 21:33] rsdcastro opened #230 "Delete gcp-deployer and tf-deployer directories"
This issue tracks clusterctl being the primary and only bootstrapping mechanism, with all the functionality that is currently in gcp-deployer and tf-deployer.

[2018-05-29 21:35] rsdcastro commented on #145
/cc @k4leung4

[2018-05-29 21:38] rsdcastro commented on #137
Does this impact only Terraform or also GCP?

[2018-05-29 21:40] rsdcastro commented on #124
/assign @jessicaochen

Can you comment on the relatively priority of this? Are you doing this as part of the "clusterctl create" work?

[2018-05-29 21:42] rsdcastro commented on #122
For now, SSH is a dependency so it seems fine to fetch it using it. This should be considered as a future improvement.

[2018-05-29 21:43] rsdcastro commented on #106
/assign @k4leung4

[2018-05-29 21:44] rsdcastro commented on #100
We're moving cloud providers out of the repo, so closing this out.

[2018-05-29 21:44] #100 closed

[2018-05-29 21:45] rsdcastro commented on #96
/cc @spew

[2018-05-29 21:47] rsdcastro commented on #90
cc @kcoronado

Katie - is the work to support Ubuntu images for GCE/vSphere tracked anywhere else? Can we close this issue?

[2018-05-29 21:47] karan commented on #137
It should impact gce as well.

I think @k4leung4 did some testing for this bug as well.

[2018-05-29 21:48] rsdcastro commented on #87
Given the config map work done by @kcoronado and focused on provider-specific image and related scripts, this is no longer relevant.

/close

[2018-05-29 21:48] #87 closed

[2018-05-29 21:49] rsdcastro commented on #86
/assign @roberthbailey

Please update this issue with current thoughts on container runtimes.

[2018-05-29 21:50] rsdcastro commented on #85
@kcoronado Katie - I think this can be closed out based on your work. Please reopen if this isn't the case.

/close

[2018-05-29 21:50] #85 closed

[2018-05-29 21:50] rsdcastro commented on #82
/assign @k4leung4

Can you update status on this bug and close it out if it's fixed?

[2018-05-29 21:51] rsdcastro commented on #79
/cc @karan

Karan - can you update this issue based on the current implementation using Ubuntu images?

[2018-05-29 21:55] rsdcastro commented on #66
@craigtracey Is this still broken?

[2018-05-29 21:58] rsdcastro commented on #60
cc @k4leung4 @mkjelland

Can you comment on this?

[2018-05-29 22:03] rsdcastro commented on #230
Can we have a list of what this entails?

@karan Karan - can you confirm that "clusterctl create" has everything we need to get rid of the tf-deployer, otherwise can you file bugs and list them here? Once done, please assign to @mkjelland for equivalent GCP audit.

[2018-05-29 22:04] rsdcastro commented on #52
Other issues tracked separately, so closing this out.

[2018-05-29 22:04] #52 closed

[2018-05-29 22:04] rsdcastro commented on #51
/assign @jessicaochen

[2018-05-29 22:06] rsdcastro commented on #38
/assign @k4leung4

[2018-05-29 22:08] rsdcastro commented on #34
cc @AishSundar

[2018-05-29 22:08] rsdcastro commented on #28
/assign @k4leung4

[2018-05-29 22:09] rsdcastro commented on #26
@roberthbailey Can we close this out? Please reopen if you want to keep it.

/close

[2018-05-29 22:09] #26 closed

[2018-05-29 22:10] rsdcastro commented on #25
As we're not sure this will be ever supported, closing this out.

/close

[2018-05-29 22:10] #25 closed

[2018-05-29 22:11] rsdcastro commented on #20
/assign @mkjelland

[2018-05-29 22:11] rsdcastro commented on #19
/assign @jessicaochen

/close

[2018-05-29 22:11] #19 closed

[2018-05-29 22:12] rsdcastro commented on #18
/assign @jessicaochen

[2018-05-29 22:13] rsdcastro commented on #14
/assign @roberthbailey

Can you comment on this issue? Is this still relevant? It's blocking the stable API milestone.

[2018-05-29 22:13] rsdcastro commented on #12
/assign @jessicaochen

Is this still relevant? If not, can you close it out?

[2018-05-29 22:14] rsdcastro commented on #11
/assign @spew

[2018-05-29 22:15] rsdcastro commented on #6
/close

[2018-05-29 22:15] #6 closed

[2018-05-29 22:16] rsdcastro commented on #163
/assign @spew

[2018-05-29 22:16] rsdcastro commented on #230
/assign @karan

[2018-05-29 22:17] rsdcastro commented on #90
/assign @mkjelland

[2018-05-29 22:18] rsdcastro commented on #23
@roberthbailey Can you update this issue and whether we still want to block alpha on it?

[2018-05-29 22:19] AishSundar commented on #34
@rdc is this item tracking setting up CI for ClusterAPI Conformance tests or is it looking for guidance on how to trigger an one-off e2e conformance test run against an UP'ed cluster? If its the former is there a milestone or timeline we are looking for this to be ready?

[2018-05-29 22:30] #192 closed

[2018-05-29 23:13] kfox1111 commented on #86
cri-o + kata-containers is interesting.

[2018-05-29 23:20] roberthbailey commented on #86
After talking with @thockin last week it became apparent that container runtime should not be an "input variable" in the cluster API (e.g. a field that you can set and expect a controller to reconcile). Many base OSes are beginning to bundle a container runtime, and for folks that care about setting a specific one they can choose the proper host OS to get the container runtime that they care about

[2018-05-29 23:37] kfox1111 commented on #86
I was going to comment, that there may be multiple runtime versions when cri-o + kata-containers is involved and that the field for runtime is a singleton I think? So there is that reason to maybe pull back from specifying it for now, so that part of the api can be thought through a little more. It maybe at minimum should be a list. But dropping it all together for now would be easier. It being in

[2018-05-29 23:40] roberthbailey commented on #86
If the container runtime is coupled to the OS version than updating the OS would update the container runtime too. Maybe that's not fined grained enough in the limit but for now I think it's reasonable.

[2018-05-29 23:50] karan commented on #230
Primarily, bootstrapping is what we are waiting for - https://github.com/kubernetes-sigs/cluster-api/issues/157

Once that's done, we can deprecate the existing tools.

[2018-05-29 23:53] karan commented on #79
Currently, we disregard user preference and install docker anyways - https://github.com/kubernetes-sigs/cluster-api/blob/master/cloud/terraform/templates.go#L251 (terraform) and https://github.com/kubernetes-sigs/cluster-api/blob/master/gcp-deployer/machine_setup_configs.yaml#L40 (gcp)

[2018-05-30 00:01] roberthbailey commented on #118
@thockin - do you know where these redirects are configured? I just checked `https://sigs.k8s.io/kubeadm-dind-cluster`

[2018-05-30 00:03] roberthbailey commented on #152
So that I don't lose the link, one option would be to move the GCP code to https://github.com/kubernetes/cloud-provider-gcp (and cloud-provider-foo repos for other code) rather than creating new repositories for just the machine controllers.

On the other hand, having a single build / repository is also an attractive model.

It makes sense for each provider to decide how to combine or split up the

[2018-05-30 00:03] kfox1111 commented on #86
One other thought. Not sure it is relevant at all or not, as I haven't looked at the api too closely. What about allowing the specification of repos instead of runtimes?

I currently use cobbler to sync particular repo sets down and update each host to point to a particular saved set of repos/updates. Then I know when I do a yum upgrade that the upgrade will be uniform. Either a node will get no u

[2018-05-30 00:14] karan opened #233 "[vSphere] rename terraform provider to vSphere provider"
It seems like optimizing for a generic terraform controller is more overhead than we need right now. So we will scope the terraform work to just vsphere. This will improve refactoring all cloud/terraform to cloud/vsphere and tf-deployer to vsphere-deployer.

[2018-05-30 00:14] karan commented on #233
/assign @karan

[2018-05-30 06:52] roberthbailey commented on #86
That's definitely something that you could easily support in the `providerConfig` but I don't think it's something we'd want to promote to the top level API unless it was common behavior across many providers.

[2018-05-30 11:52] dgoodwin opened #234 "Proposal: Store Network Addresses on MachineStatus"
Would the concepts of public and private IP + DNS be universal enough to justify placing directly on the MachineStatus, rather than each cloud provider nesting within their providerConfig.

This information could theoretically be obtained by following the node reference, however there are a couple situations where that may not be possible:

- Adding machines may involve a period of time between wh

[2018-05-30 12:01] mrIncompetent commented on #234
Plus:
- In environments where the Instance would have more addresses than the Node actually reflects & the controller has no access to the addresses reflected by the kubelet (Thinking of NAT here).
- Debugging would be easier - in case the kubelet does not come up at all.

Wouldn't it be cleaner if the Controller would have access to both - the "master" - for machines & the "minion" cluster for no

[2018-05-30 15:08] k4leung4 commented on #60
The machine controller currently already watches for node changes.
I think this issue can be closed.

[2018-05-30 15:11] k4leung4 commented on #106
This has been added to MachineSets in PR #186
Still working on adding it to Machine and MachineDeployment controllers.

[2018-05-30 15:50] mkjelland commented on #20
@rsdcastro is this for GCE specifically? It seems like we should have 2 separate issues, one for each provider, until clusterctl support deletions. I'm imagining the document will describe how to delete all GCE resources that were created by the cluster api and by kubernetes.

[2018-05-30 16:19] rsdcastro opened #235 "GCP: Test Cluster API deployment with (and scale up to) 50 nodes"
This issue is to identify whether there is any major contention in the platform-agnostic code or in the GCP-specific bits.

cc @mkjelland

[2018-05-30 16:19] rsdcastro opened #236 "vSphere: Test Cluster API deployment with (and scale up to) 50 nodes"
This issue is to identify whether there is any major contention in the platform-agnostic code or in the vSphere/Terraform-specific bits.

cc @krousey @karan

[2018-05-30 16:21] karan commented on #233
/cc @rsdcastro @mkjelland @roberthbailey for any opinions for not doing it.

[2018-05-30 16:32] rsdcastro commented on #20
I agree about having 2 separate issues. Can you please rename this to focus on GCP and have another to document for vSphere?

[2018-05-30 16:33] rsdcastro commented on #60
/close

[2018-05-30 16:33] #60 closed

[2018-05-30 16:35] rsdcastro commented on #118
Note that https://sigs.k8s.io/cluster-api (no trailing /) redirection works correctly.

[2018-05-30 16:36] rsdcastro commented on #230
@mkjelland Just to confirm: is #157 sufficient to delete gcp-deployer?

[2018-05-30 16:40] mkjelland commented on #230
@rsdcastro Yes, once that issue is done the gcp-deployer can be deleted.

[2018-05-30 16:56] roberthbailey commented on #233
How tied to vSphere is the current code? I think having a generic terraform provider has a lot of value as it makes it easy to add support for new environments.

/cc @kris-nova

[2018-05-30 17:22] karan commented on #233
@krousey and I talked about it a little, and decided that trying to generalize the provider might be over optimization for now. For example, I want to pull user/password/server address in the cluster spec but those fields don't map 1:1 to all terraform supported environments.

I am happy to fork the tf code into a vsphere exclusive one and keep the tf code around as well.

[2018-05-30 17:33] mkjelland opened #238 "VSphere: Document how to tear down a cluster created via Cluster API"
This is a vsphere version of #20

[2018-05-30 17:33] mkjelland commented on #238
/assign @karan

[2018-05-30 17:34] mkjelland commented on #20
@rsdcastro I don't think I have the ability to rename this one, do you?

[2018-05-30 17:35] k4leung4 commented on #182
I was able to reproduce the issue and the error that ssh is reporting is "Host key verification failed."

I need to dig deeper to figure out what changed to cause this error.

[2018-05-30 17:50] dgoodwin commented on #177
We talked about opening an issue for this on call today but this one may be sufficient. Essentially the proposal is to revisit the decision taken in https://github.com/kubernetes/kube-deploy/issues/463.

Reasons given were:
- Difficult for the apiserver to actually validate that only one cluster is created in a namespace unless we enforce a single cluster name.
- No need to copy shared objects. (S

[2018-05-30 17:54] spew commented on #67
Think we need some more context on this one -- what does this mean? Is it still going to be valid in the 'clusterctl' world or should we just reset and close this one?

[2018-05-30 18:00] karan commented on #233
The decision from the meeting today was that we will create a copy of the existing tf code, and rename the copy to vsphere. Terraform provider will stay as a playground for others to prototype in.

[2018-05-30 18:04] dgoodwin commented on #234
For our use case we do have access to both master+minion clusters in the controllers, but external tooling that wanted to drive off the cluster API machines may not.

[2018-05-30 18:21] dgoodwin commented on #234
Proposal for MachineStatus.Addresses would look just like Node.Addresses, set if and when the actuator can resolve them.

[code]

@maisem regarding the idea to also allow these on the spec as requested addresses, if the MachineSpec can originate from MachineSets and MachineDeployments, is it acceptable to have the option to set Addresses on higher level multi-machine specs? Or would we perhaps val

[2018-05-30 19:43] #86 closed

[2018-05-30 20:58] rsdcastro opened #244 "Document Cluster API alpha criteria"
Cluster API alpha has been discussed in the community meeting, but not documented in an issue for future reference.

This issue is to document proposed alpha criteria to be met, which use cases will be met, and which platforms are being targeted.

This should be shared on slack and in the community meeting.

[2018-05-30 20:58] rsdcastro commented on #244
/assign spew

[2018-05-30 20:58] dlipovetsky commented on #201
I and colleagues at Platform9 are actively working on this, but plan to initially host it in a separate repo. Once we do, we hope to find additional maintainers and eventually request a repo, as per #152.

Can someone /assign me?

[2018-05-30 21:08] k4leung4 opened #245 "Find better solution for solving race conditions with MachineSet controller reconciling"
The current MachineSet controller watches machine and determines whether to reconcile the machine set that owns the machine.
This causes race conditions when the MachineSet creates machines, which may trigger another reconciliation, which ends up creating or deleting additional machines as the system may not have detected the modifications from the initial reconciliation.
A mutex lock was added in

[2018-05-30 21:55] spew opened #249 "Move from exec.Command("ssh") to golang/x/crypto/ssh"
gcp-deployer is making use of command line ssh as an exec.Command. This is an artifact of moving quickly to build out gcp-deployer and using exec.Command on "gcloud ssh".

We should move to the [crypto/ssh](http://golang.org/x/crypto/ssh) library built into go to give us more fine control over the interaction, remove the need to turn off host checking, and to add flexibility.

[2018-05-30 21:55] spew opened #250 "Cluster API Alpha - Exit Criteria"
To declare Cluster API alpha as complete the following must be true:

**Release Vehicle and Certification**
* On this repository, a release branch named "alpha" must be created.
  * In the release branch, out of the prow infrastructure, all integration and unit tests must be passing.
  * The release branch must satisfy all the requirements given below.

**Requirements**
* The github issue mileston

[2018-05-30 21:56] spew commented on #244
Created an issue here: https://github.com/kubernetes-sigs/cluster-api/issues/250 which will be shared and others can edit.

[2018-05-30 21:58] spew commented on #11
Think #4 and #6 are out of scope for alpha. Those require significantly more effort and probably are not as critical as basic functionality at this point.

[2018-05-30 22:14] jessicaochen opened #252 "Support cluster and machine in multiple namespaces in clusterctl create"
Support cluster and machine in multiple namespaces in clusterctl create as it currently assumes default namespace.

[2018-05-30 22:15] spew commented on #244
Posted the issue in slack, will bring it up in the next meeting.

/close

[2018-05-30 22:15] #244 closed

[2018-05-30 22:16] jessicaochen opened #253 "Update clusterctl create when machines objects have a provisioning indication"
Seeing a node in the machine status cannot be purely relied upon because the provisioned master may not be registering with the stack that provisions it.

[2018-05-30 22:20] jessicaochen opened #254 "Add unit & integration testing for clusterclient"
This for integration tests where we actually use kubectl etc.

Will involve making sure kubectl and etcd is installed on the presubmit image etc.

[2018-05-30 22:39] #233 closed

[2018-05-30 22:43] spew opened #255 "Enable diffing of large strings in unit tests with reasonable output"
Right now, when diffing two large strings that don't match, most unit tests will just output both strings. We should bring in a diff library that intelligently displays what is different.

[2018-05-30 22:53] #182 closed

[2018-05-30 23:03] k4leung4 commented on #182
/reopen

This is still waiting on PR #247

[2018-05-30 23:03] k4leung4 commented on #182
/assign @k4leung4

[2018-05-30 23:03] k4leung4 commented on #182
/reopen

[2018-05-30 23:47] ichekrygin commented on #182
@k4leung4 FWIW: I authored it, and I cannot reopen it either ¯\_(ツ)_/¯

[2018-05-30 23:49] karan opened #256 "Short-term: Build/release clusterctl process"
We need to discuss, decide and document (d3 😄 ) the process for building and releasing clusterctl. Below is my proposal:

## Building

We can cross-compile clusterctl for linux and darwin. The platforms targeted can initially be:

| OS | Flavor |
| ------ | ------ |
| linux | amd64 |
| darwin | amd64 |

If more platforms are needed in the future, we can allocate some time to build/test those.

##

[2018-05-30 23:50] karan commented on #256
cc @timothysc @kris-nova @roberthbailey @jessicaochen @rsdcastro

[2018-05-31 00:01] karan commented on #256
/assign @karan

[2018-05-31 16:23] jessicaochen opened #258 "Create machines in parallel in clusterctl create"

[2018-05-31 16:47] rsdcastro commented on #201
Thanks, Daniel.

I'm curious on the approach. Can you share more details on how you're planning to do it? We can perhaps discuss that in the community meeting to get feedback.

Please also post the link to the repo you're using for it.

/assign dlipovetsky

[2018-05-31 16:49] rsdcastro commented on #20
Done. We need to fix permissions in the repo to allow you to do it.

[2018-05-31 17:32] roberthbailey commented on #230
Renaming since we now have gcp-deployer, tf-deployer, and vsphere-deployer directories.

[2018-05-31 17:34] spew opened #259 "Cluster API Beta - Exit Criteria"
To declare Cluster API beta as complete the following must be true:

**Release Vehicle and Certification**
* On this repository, a release branch named "beta" must be created.
  * In the release branch, out of the prow infrastructure, all integration and unit tests must be passing.
  * The release branch must satisfy all the requirements given below.

**Requirements**
* The github issue milestone

[2018-05-31 17:37] roberthbailey commented on #137
@pwittrock - is there a tracking bug for kubectl 1.9 not working properly with custom types?

[2018-05-31 17:46] dlipovetsky commented on #147
Did you mean the [`ProviderConfigSource`](https://github.com/kubernetes-sigs/cluster-api/blob/a9f06b0f4871bebd8a3f3fb555dccef676605cbb/pkg/apis/cluster/v1alpha1/common_types.go#L39) field? From what I understand, once the field is implemented (ongoing work is part of https://github.com/kubernetes/kube-deploy/pull/659), a ProviderConfig will be able to reference an external resource.

[2018-05-31 17:54] csrwng commented on #147
Yes it does

Yes

[2018-05-31 17:58] dlipovetsky commented on #201
@rsdcastro Absolutely, I will share a doc.

[2018-05-31 18:09] mkjelland commented on #72
Make sure to allow for the long form of network/subnetwork (<projectid>/regions/asia-northeast1/subnetworks/default) so that cross project networks will be supported.

[2018-05-31 18:21] mkjelland opened #262 "Create controller app utility functions for leader election and recorder logic"
Create utility functions for leader election and recorder logic in [gce machine controller app](https://github.com/kubernetes-sigs/cluster-api/blob/master/cloud/google/cmd/gce-machine-controller/app/controller.go). This logic will be reused by the gce machine controller app in PR #242. The logic should be refactored to remove the duplicated logic.

[2018-05-31 18:21] mkjelland commented on #262
/assign @mkjelland

[2018-05-31 21:02] #227 closed

[2018-05-31 23:45] karan commented on #226
After a little more thought, this might not work since the provider config will still need to exist on the objects. So we can't actually have them only in secrets.

[2018-06-01 00:31] karan commented on #224
After #264 is merged:

[ ] Integrate with clusterctl (#263)
[ ] Base64 encode tf-state before storing it in the machine

[2018-06-01 00:38] karan commented on #224
/label cluster-api-vmware
/kind feature

[2018-06-01 00:41] karan commented on #238
/kind documentation

[2018-06-01 10:27] nikhita commented on #137
Noticed something similar with kubectl validation. It seems to have grown stricter since 1.9. For example,

If my deployment yaml contains `spec.replicAs: 3`:

- earlier kubectl versions do not complain, the deployment configuration is accepted and the json decoder unmarshals it as `spec.replicas: 3` (unmarshalling is always case-insensitive).
- the newer kubectl versions check if the literal `rep

[2018-06-01 14:52] pwittrock commented on #137
@seans3 Can you take a look?

[2018-06-01 15:44] karan opened #265 "Decouple kubeadm token from machine controllers"
Currently, all machine controllers are run with `--token` argument that's produced and provided by the client - https://github.com/kubernetes-sigs/cluster-api/blob/bf2fea154a5a170a2d24919ea40d6ecd5dc0c01f/vsphere-deployer/deploy/deploy.go#L45

Instead of doing that, the controller itself should generate the token. We then decouple the token from the controller during runtime.

Another problem it s

[2018-06-01 18:16] spew commented on #265
This is complete for gcp-deployer and will be ported into clusterctl soon:
  https://github.com/kubernetes-sigs/cluster-api/pull/199

[2018-06-01 18:16] spew commented on #265
Should we close this issue @karan ?

[2018-06-01 18:39] karan commented on #265
We should apply this to vsphere actuator as well before we close this issue. `clusterctl` can't be made to work with vsphere until the token is decoupled in the yaml.

Do you want to work on that?

[2018-06-01 20:27] wangzhen127 opened #266 "provider-components.yaml is missing in clusterctl/examples/google"
To create a cluster, ```clusterctl``` needs provider-components.yaml, which is missing from clusterctl/examples/google. This prevents people trying ```clusterctl create cluster``` command.

And the error message is not very clear. See below command and output.
[code]
It is not clear what went wrong without digging into the code (In this case, it tries to read provider-components.yaml, which is mis

[2018-06-01 20:27] wangzhen127 commented on #266
/assign @jessicaochen

[2018-06-01 20:40] spew commented on #265
We have another open issue here:
https://github.com/kubernetes-sigs/cluster-api/issues/159 which is similar, I will take this up once clusterctl is ready for more development (waiting for it to stabilize a bit).

[2018-06-01 21:18] seans3 commented on #137
Talked to @apelisse. Work in kube-openapi is already beginning to address this.

[2018-06-01 21:20] seans3 commented on #137
https://github.com/kubernetes/kube-openapi/pull/25

[2018-06-01 22:30] jessicaochen commented on #224
clusterctl create logic using #264 is in! It can create a cluster and all the vms.

It does look like there are some issues with the vsphere logic that may interfere with updates. It seems like it cannot read state for existing objects:
`ERROR: logging before flag.Parse: E0601 20:51:39.442443       1 controller.go:120] Error checking existance of machine instance for machine object jesschen-tf-tes

[2018-06-02 04:52] dlipovetsky commented on #201
Here is a [proposal gdoc](https://docs.google.com/document/d/1B2j_OzZ18ITIefrI7KyKxfgHku3E7X_lLlgAcCERvms/edit?usp=sharing). Thanks in advance for your feedback.

[2018-06-02 15:08] spew opened #269 "enhance gcp-deployer to intelligently provision a GCP project"
Today, if the given project used by gcp-deployer does not have the right APIs enabled, billing setup, etc, the create command fails. This is especially a problem in integration test environments where we can't enable the APIs and is a poor user experience. Instead, we can enhance gcp-deployer to enable the APIs it needs if the account under which it is running has access to do so.

[2018-06-04 16:30] rsdcastro commented on #201
Copying a few more people that can help review this document.

cc @krousey @roberthbailey @karan @mkjelland

[2018-06-04 17:38] karan commented on #224
Thanks Jess! As mentioned in #264, updates are not tested. Updates will be done after we move to clusterctl and delete vsphere-deployer.

[2018-06-04 17:45] kcoronado commented on #90
@rsdcastro I think this is the only place it's currently tracked. I'm not entirely sure what is needed to close this issue, but one thing to note is that I had changed the default image to Ubuntu 1710 in kubernetes/kube-deploy#624. If we want to change that back to Ubuntu 1604 lts, we can use this issue to track that change.

[2018-06-04 17:53] wangzhen127 commented on #256
/cc @wangzhen127

[2018-06-04 21:48] wangzhen127 commented on #177
/cc @wangzhen127

[2018-06-04 21:53] wangzhen127 commented on #41
/cc @wangzhen127

[2018-06-04 21:54] #266 closed

[2018-06-05 17:56] karan opened #274 "generate-yamls.sh should not overwrite ssh keys"

[2018-06-05 20:23] karan commented on #230
Since clusterctl create cluster works for vsphere and gcp, we should be okay to delete *-deployer. We can do it tomorrow, after discussing in the community meeting.

[2018-06-05 20:26] roberthbailey commented on #230
Sweet!

[2018-06-05 20:53] dlipovetsky opened #276 "Exposing cluster control plane "knobs""
Kubeadm exposes a variety of control plane "knobs" through the [config file](https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/).

Take the `apiServerCertSans` knob, for example. If a cluster has multiple masters and keepalived is used to fail over between them, the Virtual IP managed by keepalived must be added to the API Server Cert SANs.

While individual providers can expos

[2018-06-05 21:08] roberthbailey commented on #201
@dlipovetsky - I read through your doc and left some comments. Do you have any ideas how this would work with MachineSet or MachineDeployment?

[2018-06-05 21:50] jessicaochen opened #279 "Add unit tests for clusterclient"

[2018-06-05 21:50] jessicaochen commented on #279
/assign me

[2018-06-05 22:41] #224 closed

[2018-06-05 22:47] karan opened #281 "[vSphere] Support node delete"
After moving the tf state to machine object, the current delete is broken.

[2018-06-05 22:56] karan commented on #281
/assign @karan

[2018-06-05 23:57] dlipovetsky commented on #217
It looks like clusterctl _does_ use the documented bootstrap flow, and it will replace the GCP and terraform deployers. Closing the issue.

[2018-06-05 23:57] #217 closed

[2018-06-06 05:17] dlipovetsky commented on #201
@roberthbailey Thanks for your feedback!

We would like to take advantage of MachineDeployment for server-side rolling upgrades, but I haven't come to any conclusions about how the provider would work with MachineSet or MachineDeployment, although I'm starting to think about it now!

Perhaps the MachineSet controller can create the Machine objects with a ProviderConfig that omits machine-specific

[2018-06-06 15:54] spew commented on #157
@jessicaochen I am trying to figure out if issue https://github.com/kubernetes-sigs/cluster-api/issues/159 can be closed. I was looking at clusterctl today and I think since the implementation simply brought kubeadm into gcp-machine-controller and removed tokens entirely from gcp-deployer we can consider it closed.

Agree?

[2018-06-06 16:23] karan opened #287 "[vSphere] Make in-place control plane upgrades work"
/assign @karan

[2018-06-06 16:29] #20 closed

[2018-06-06 16:41] spew commented on #230
/assign @karan

[2018-06-06 16:56] jessicaochen commented on #157
It needs to be done for all the supported providers (ie. gcp and vsphere) before I can remove the dependency from clusterctl.

[2018-06-06 17:21] karan commented on #256
From the SIG meeting, the decision is to start the build/release manually right now. We will not follow k8s version release for a faster release cadence.

We'll attempt one to two weeks between releases

@kris-nova @roberthbailey are admins and can assist.

[2018-06-06 17:26] davidewatson opened #289 "Create docker releases of clusterctl"
Some organizations have tooling around running commands from within containers. This issue is to create a Dockerfile which builds `clusterctl`.

Do we want to publish the artifact to a public docker repository?

[2018-06-06 17:30] kris-nova opened #290 "Broader release process of clusterctl"
@pwittrock @roberthbailey @krousey @rsdcastro @craigtracey @karan @timothysc

Looping in a few folks who might have opinions here.

Today on the sig call we had a short discussion about a broader release pattern for the `clusterctl` tooling. _More information on `clusterctl` can be found [here](https://github.com/kubernetes-sigs/cluster-api/tree/master/clusterctl)_

The two arguments being discuss

[2018-06-06 20:15] karan commented on #230
Okay so we have decided to hold off on deleting gcp-deployer for a few more days until the existing integration test is migrated and cluster delete works (@spew is working on that). vsphere and tf deployers will be deleted in the meantime.

[2018-06-06 20:22] karan commented on #290
More info on the short-term manual plan will be in #256

[2018-06-06 21:08] karan opened #296 "Fail machine edits for unsupported edits"
Right now, if the user tries to change an unsupported type of update, the machine object update will go through but there is no visibility in what's going on. So you'll be left with the VM and machine object in different states. We should reject edits at the apiserver level instead.

[2018-06-06 21:32] spew opened #297 "GCP Provider: Automatically add firewall rule (if necessary)"
When communicating with a cluster there needs to be a firewall rule created that enables this communication. Previously this was a manual step documented in the gcp-deployer documentation. This should be done automatically somehow so that users don't need to know about this.

[2018-06-06 21:35] spew commented on #297
The manual command was:
[code]

[2018-06-06 22:40] #238 closed

[2018-06-06 23:38] #287 closed

[2018-06-06 23:44] karan commented on #230
/kind cleanup

[2018-06-07 01:40] pwittrock commented on #290
FWIW both kubebuilder and kustomize release independently and on-demand through pushing a tag to the git repo.  This then triggers a build of the artifacts and publishes them to GitHub as a new release tar.gz.  It also builds containers and pushes them to gcr.io.

This is pretty simple to do and we could help you with it if need be.

[2018-06-07 14:07] spew opened #301 "implement clusterctl delete"
Proposed flow:

* On the internal cluster, for all entities with role ‘node'
  * Delete all machine deployments from internal cluster (this will kill MachineSets that has an owner ref)
  * Delete all machine sets that don’t have an owner ref
  * Delete all machines that don’t have an owner ref (Look for no owner ref to do things in parallel)
* Tear down machine controller in cluster (i..e run the

[2018-06-07 14:07] spew commented on #301
/assign @spew

[2018-06-07 14:07] spew commented on #301
/cc @roberthbailey @jessicaochen @karan

[2018-06-07 16:02] karan commented on #256
Ok I've built the binaries at hash f05ed08d. Will validate before tagging and releasing. If any fixes are needed, those will be included.

[2018-06-07 17:39] timothysc commented on #290
FWIW I think we should hook into test automation to get signal, and try to match, or lag, cadence with upstream.

Currently there is no CI signal for the different incantations and backends for clusterAPI + tooling, and getting that signal will be important for knowing when it's ok to cut a release.

[2018-06-07 20:19] karan commented on #256
Update: we had a couple of small bugs that have been fixed. New commit is 982993b1e5d906e9190b3e5d3e8fe8c12d0fc1fe.

[2018-06-07 20:22] karan opened #305 "Machine controller should fetch a new machine object before updating it"
Currently, the machine controller tries to delete the finalizer. This is dangerous and has potential to fail if the actuator also updates the machine object (for example to update annotations, or delete finalizers).

The controller should fetch the new machine object (since the cache is now dirty), before updating the finalizers.

/assign @k4leung4

[2018-06-07 20:46] karan commented on #256
Binaries built, and computed shasums, with:

[code]

[2018-06-07 20:46] karan commented on #256
We have a release - https://github.com/kubernetes-sigs/cluster-api/releases/tag/0.0.0-alpha.1

[2018-06-07 20:46] #256 closed

[2018-06-07 21:07] karan commented on #274
This was fixed in #302.

/close

[2018-06-07 21:07] #274 closed

[2018-06-07 21:18] karan opened #306 "vSphere machine variables should be a map"
Right now it's a list of strings, which means key=value must be escaped. We should instead be reading an actual map.

[2018-06-07 21:19] karan commented on #306
/kind cluster-api-vsphere
/assign @karan

[2018-06-08 15:41] karan commented on #297
I don't know if many folks would be comfortable with opening all in-bound traffic. So maybe this could be a pre-requisite rather than an automated step (as much as I hate doing things manually, opening up FW rules is pretty sensitive).

[2018-06-08 15:51] karan commented on #290
The beautiful feature of clusterctl is that it's independent of the K8s version. The components that are installed are independent of the tool; `create cluster` installs a package, the contents of which are easily configurable (the machine setup config map. That in part allows us to not be tied to any specific k8s version and follow our own release process. We can patch and release as often as nec

[2018-06-08 17:34] karan commented on #245
/priority important-soon

[2018-06-08 17:35] karan commented on #245
/assign @k4leung4

[2018-06-08 17:39] Meegul opened #312 "Add support for Azure Provider"
I'm currently working on implementing an Azure actuator that is being hosted in an external repository at the moment. Currently the goal is to match the functionality of the existing providers. Can I get /assign 'ed for this?

[2018-06-08 17:48] wangzhen127 commented on #168
/kind clustectl
/kind cluster-api

[2018-06-08 17:49] wangzhen127 commented on #168
/kind clusterctl

[2018-06-08 19:05] #306 closed

[2018-06-09 12:36] dims opened #319 "Remove double defer for externalProvisioner.Delete"
We seem to be calling .Delete() in createExternalCluster which ends up with the following log (see line number 2 below)

[code]

[2018-06-11 00:27] dims commented on #118
@roberthbailey the redirects are defined in the k/k8s.io repo - https://github.com/kubernetes/k8s.io/search?q=sigs.k8s.io&unscoped_q=sigs.k8s.io

[2018-06-11 00:33] dims commented on #122
duplicate of https://github.com/kubernetes-sigs/cluster-api/issues/160 ?

[2018-06-11 16:56] #245 closed

[2018-06-11 16:57] krousey opened #324 "Calico Manifest assumes Service IP range"
A Calico manifest has a hard-coded service IP that makes an assumption that it falls within the cluster's service cidr. This assumption is made https://github.com/kubernetes-sigs/cluster-api/blob/7fdecc5cc4b4174ab5c540a027fcfccc7183f66f/cloud/vsphere/templates.go#L372 and https://github.com/kubernetes-sigs/cluster-api/blob/7fdecc5cc4b4174ab5c540a027fcfccc7183f66f/cloud/vsphere/templates.go#L492

T

[2018-06-11 16:59] karan commented on #324
/assign @satyasm

[2018-06-11 16:59] karan commented on #324
/cc @cadmuxe @ satyasm

[2018-06-11 17:21] mkjelland opened #325 "Dump logs from minikube before cluster is deleted"
Before the minikube cluster is deleted by clusterctl, dump the logs from the cluster api control loops into the clusterctl log files. When the minikube cluster gets deleted we lose access to those logs which might point to an issue in setting up the internal cluster.

[2018-06-11 18:14] roberthbailey opened #327 "Automate release note generation"
We should have something like https://github.com/kubernetes/release/blob/master/relnotes for releases so that release notes don't have to be manually curated.

[2018-06-11 18:28] cadmuxe commented on #324
Thanks, I will create a patch.

[2018-06-11 21:05] #319 closed

[2018-06-12 15:50] spew opened #332 "Add comments to kubeadm/kubeadm.go to clarify"
The purpose of kubeadm/kubeadm.go is to provide direct access to the kubeadm executable. This should be documented a bit in the comments of the file.

[2018-06-12 16:15] mkjelland commented on #90
@rsdcastro It looks like the configmap now has a field for the image to use. Currently the default is Ubuntu 1710 as @kcoronado mentioned. Is there anything else that needs to be done for this issue?

[2018-06-12 17:03] dims commented on #259
- Do we need more than one working cloud implementation?
- Do we need release signal(s) / conformance test(s) from these possibly out-of-tree providers?

[2018-06-12 17:06] spew opened #333 "Remove kubeadm token creation duplication between GCP and Vsphere controllers"
We need to refactor out the bit of token creation code into a module that is more shareable and unit tested. It could support different token creation strategies over time. For comparison here are the two implementations:

VSPHERE:
[code]

GCP
[code]

[2018-06-12 18:50] timothysc commented on #250
I'd add some more details:

- Some form of test-grid integration / posting
- Discoverability... (how will releases be posted?) tracked, etc?  I'm a big fan of goreleaser.
  - Provider integrations... Where do folks find/get integrations?

[2018-06-12 22:42] spew opened #336 "Standardize polling on wait.PollImmediate(...)"
In PR https://github.com/kubernetes-sigs/cluster-api/pull/331 we were able to reduce the amount of time required to run a subset of the project unit tests by ~80% by switching from Poll(...) to PollImmediate(...).

We should move every other location to use PollImmediate unless there is a good reason why we need a delayed Poll.

[2018-06-13 20:39] roberthbailey commented on #109
Machine role isn't expected to be a single value. Look at the table in the [documentation for the type](https://github.com/kubernetes-sigs/cluster-api/blob/011bb82049bfe9278ef91744b8e89c6355ed750f/pkg/apis/cluster/common/consts.go#L88-L112) to see the intent of setting both master and node on a machine.

[2018-06-13 20:39] #109 closed

[2018-06-13 20:41] roberthbailey opened #338 "Demote MachineRole from a top-level API construct"
For implementations that rely on it, move it into the provider config.

For the discussion prompting this issue, see the [working group meeting notes from 2018-06-13](https://docs.google.com/document/d/16ils69KImmE94RlmzjWDrkmFZysgB2J4lGnYMRN89WM/edit#heading=h.xil9madvokmo)

[2018-06-13 20:42] roberthbailey commented on #301
Regarding using the machine role, see https://github.com/kubernetes-sigs/cluster-api/issues/338. We need to find a work around once that issue is implemented that doesn't rely on looking at the role to determine what to delete.

[2018-06-13 20:43] k4leung4 opened #339 "contention with /tmp/machine-startup.sh in vsphere machine actuator"
The current vsphere machine actuator requires writing out /tmp/machine-startup.sh for both Create and Delete.
On create, it writes the actual startup script there and pass it through to terraform.
On delete, it writes an empty file at the location as terraform expects a file to be at that location.
This causes issue where a machine is created and a different machine is deleted roughly in the same

[2018-06-13 20:43] k4leung4 commented on #339
/assign

[2018-06-13 20:50] k4leung4 opened #340 "Machine deployment logic should continue counting machines that are being deleted"
The current implementation of machine deployment controller is to not count machines that are currently being deleted.
This leads to over-provisioning during a rolling update.

Example.
Machine deployment with 3 replicas and 1 max surge
During a rolling update
- 1 new machine is created.
- wait until the node is ready
- once the node on the new machine is ready, delete an existing machine
- as the

[2018-06-13 20:50] k4leung4 commented on #340
/assign

[2018-06-14 08:16] m1093782566 commented on #151
@dims Updated!

[2018-06-14 16:58] jessicaochen opened #343 "clusterctl create cluster - apply objects only to internal cluster"
There are some objects that should only be applied to the external cluster (eg. storage class)

Currently these are applied in a manual kubectl apply step after clusterctl is done running. https://github.com/kubernetes-sigs/cluster-api/blob/264cdcf9789eae783adc14a0008b07d71a3d18d1/clusterctl/examples/google/addons.yaml.template

It would be great if there was a flag in the clusterctl create comman

[2018-06-14 17:41] spew commented on #333
Note that the TrimSpace is needed because the exec command itself can / will append a space. It would not be needed if we had a library form of this to call into.

[2018-06-14 17:51] spew commented on #333
We should probably create a new package named tokengen or the like and then have an implementation that currently uses `kubeadm token create` and eventually gets swapped out for one that calls into a library directly (when available).

[2018-06-14 21:47] mkjelland opened #347 "Create ProviderStatus and GCEProviderStatus Objects"
Service account and firewall rule state should be stored in the cluster.status.providerStatus field. In order to make that possible the cluster.status.providerStatus field needs to be of type ProviderStatus and we need to create a new object called GCEProviderStatus.

Once the objects are created, move all cluster provider state into this field for GCE.

[2018-06-14 21:47] mkjelland commented on #347
/assign @mkjelland

[2018-06-15 16:54] kcoronado commented on #90
/reopen
I'll send a PR to change the default image from Ubuntu 1710 to 1604 for consistency and close the issue when it's merged.

[2018-06-15 17:55] #340 closed

[2018-06-15 22:57] #332 closed

[2018-06-19 06:38] #90 closed

[2018-06-19 16:19] #159 closed

[2018-06-19 20:32] spew commented on #312
/assign @Meegul

[2018-06-19 20:33] spew commented on #265
This is now complete

[2018-06-19 20:33] spew commented on #265
/close

[2018-06-19 20:33] #265 closed

[2018-06-19 21:11] mkjelland opened #364 "Emit events in clusterapi machine and cluster controllers"
Add Kubernetes events for machine and cluster creations and deletions. If the creation or deletion fails, a corresponding `warning` event should fire where the Message of the event points to the error which occurred.

**Create Cluster:**
1. Created
Kind: Cluster
Type: Normal
Reason: Created
Source: <PROVIDER>-cluster-controller
Message: Created cloud specific cluster dependencies

**Create Machine

[2018-06-19 21:11] mkjelland commented on #364
/assign @mkjelland

[2018-06-19 22:50] stevekuznetsov opened #365 "Finalizer removed on delete both by cloud-specific code and generic controller"
The finalizer is removed after a delete both by the cloud-specific code for [GCP](https://github.com/kubernetes-sigs/cluster-api/blob/9d967f1dc58dd7f09ffc3a7f32ed63be2ff73f84/cloud/google/machineactuator.go#L366) and [VSphere](https://github.com/kubernetes-sigs/cluster-api/blob/9d967f1dc58dd7f09ffc3a7f32ed63be2ff73f84/cloud/vsphere/machineactuator.go#L425) as well as the [generic controller](https

[2018-06-20 17:53] roberthbailey commented on #68
/assign @dims

[2018-06-20 18:32] dims commented on #68
@rsdcastro @roberthbailey So we can add a separate set of reviewers which i filed a PR for. (So we can add folks who just review and are not maintainers). We already have plugins enabled that suggest assignees.

[code]

[2018-06-21 12:02] kawych opened #372 "clusterctl with example inputs not working on GCP"
I've tried creating a cluster on GCP using clusterctl. I used provided example configs for GCP, except I changed a node type from n1-standard-1 to n1-standard-8.
[code]

[2018-06-21 21:23] rsdcastro commented on #68
There's some context to this bug. We realized we had blunderbuss enabled, but without a "reviewers" section, we wouldn't have the auto-assigning feature working. Test Infra implemented an improvement that, without reviewers, it uses the approvers section. So that is why it is (or should be) working now.

I still believe that having a separate section is reasonable. People are removing me and other

[2018-06-22 16:53] kris-nova opened #383 "Naming repositories for cloud specific code"
So following up on the discussion of creating single repositories for cloud specific cluster API code we need to come up with a standard naming prefix for each of the repositories.

To follow suit with the [cloud provider](https://github.com/kubernetes/cloud-provider-gcp) repositories in `github.com/kubernetes` we probably should stick to a standard syntax.

### 1. Actuators

Where `$cloud` is a s

[2018-06-22 16:53] kris-nova commented on #383
Vote for 1)

[2018-06-22 16:53] kris-nova commented on #383
Vote for 2)

[2018-06-22 16:53] kris-nova commented on #383
Vote for 3)

[2018-06-22 16:55] dims commented on #383
4) `github.com/kubernetes-sigs/cluster-provider-$cloud` (we really don't need to say `api` in the name)

[2018-06-22 16:55] dims commented on #383
Vote for 4)

[2018-06-22 16:56] davidewatson commented on #383
Since the `kubernetes-sigs` organization is flat, does not including `cluster-api` in the name make the repos less discoverable?

[2018-06-22 17:06] roberthbailey commented on #383
@davidewatson has a good point. It'd be super convenient to look at https://github.com/kubernetes-sigs?utf8=%E2%9C%93&q=cluster-api&type=&language= and see both the api repo and all of the provider repos with one query.

[2018-06-22 17:09] dims commented on #383
the precedent i was following was what we have for cloud-providers - https://github.com/kubernetes?utf8=%E2%9C%93&q=cloud&type=&language=

[2018-06-22 17:16] #234 closed

[2018-06-22 17:25] roberthbailey commented on #383
@dims - I think the precedent is actually a bit confusing because all of the "cloud-provider" repositories that have README files say that they are the home of the cloud controller manager. So I can't tell if they should have been named `cloud-controller-manager-$env` or if they will grow to include cloud-specific code that is outside of the cloud controller manager.

Personally, I like the idea o

[2018-06-22 20:44] krousey commented on #372
/assign @mkjelland

[2018-06-22 20:45] krousey opened #385 "clusterctl create sometimes fails to create cluster object"
Usually appears like:

[code]

[2018-06-22 20:45] krousey commented on #385
/assign @krousey

[2018-06-22 21:37] mkjelland commented on #372
Hey @kawych!
Try out the instructions in this PR, I think this will help:
https://github.com/kubernetes-sigs/cluster-api/pull/386

[2018-06-22 21:55] #372 closed

[2018-06-22 22:18] #365 closed

[2018-06-22 23:03] roberthbailey commented on #385
This has been happening to me quite frequently this week.

Environment:

macOS 10.13.5
minikube 0.28.0 (and then also 0.27.0)
VirtualBox Version 5.2.12 r122591 (Qt5.6.3)

If I give minikube more memory & cpu, then it seems more likely that the call doesn't time out, but it's still hit or miss.

[2018-06-22 23:52] krousey commented on #385
This is happening, contrary to my earlier assumptions, because the cluster-api API server comes up and registers the cluster API group with the main server before it's backing ETCD store is ready. This is a race, but exacerbated by the fact that we pull from quay's latest tag, and always pull.

I can reliably reproduce this by changing the image field to something that can't be pulled.

[2018-06-22 23:54] krousey commented on #385
I'm going to change the image, and add some more detection for readiness so we can avoid this.

[2018-06-23 00:04] krousey commented on #385
Also a recent switch from `Poll` to `PollImmediate` made the race more likely. This is probably the reason some of us were seeing this more frequently. I had been using an old version that didn't have this change.

[2018-06-24 05:41] #385 closed

[2018-06-25 12:04] kawych commented on #132
@spew @mkjelland

This is not fixed yet. The firewall rule added in #352 enables communication between cluster nodes, but does not allow connections from pods running on a cluster to ports exposed from other nodes.

[2018-06-25 15:11] spew commented on #132
/reopen

[2018-06-25 15:11] spew commented on #132
@mkjelland can you take a look at this one?

[2018-06-25 21:01] roberthbailey commented on #383
On the WG call we discussed that it would be nice to put multiple  **sig sponsored** cloud implementations (e.g. AWS) into the same repository (there can certainly be other implementations outside of the CNCF org). I there is a good value in having the community that is working on the same environment have a rallying point.

Can you explain more about how you envision a multi-`$cloud` controller l

[2018-06-25 21:53] spew opened #397 "Improve help text for 'kubeconfig', 'namespace', and 'cluster' in client-go"
In PR https://github.com/kubernetes-sigs/cluster-api/pull/384 it was noted that the help text for the three parameters, 'kubeconfig', 'namespace', and 'cluster', was not very helpful. This text comes from the client-go libraries that are used by kubectl and clusterctl. This issue tracks that we need to open a PR on client-go to improve that text.

[2018-06-25 21:55] spew opened #398 "Move clusterclient to its own sub-package within clusterdeployer"
In PR https://github.com/kubernetes-sigs/cluster-api/pull/384 it was noted that the function "NewClusterClient(...)" is too verbose and doesn't fit the normal go guidelines of having a simple function named New(...). The reason why it is so verbose is because the cluster client lives inside of the clusterdeployer package. Instead, it should be moved into a sub-package of clusterdeployer named clus

[2018-06-25 21:56] spew commented on #398
/label help-wanted

[2018-06-25 21:56] spew commented on #398
/addlabel help wanted

[2018-06-25 22:12] roberthbailey commented on #58
I'm going to close this as obsolete. Please reopen if you can reproduce with clusterctl.

[2018-06-25 22:12] #58 closed

[2018-06-25 22:28] roberthbailey commented on #235
Is a single one-off test sufficient or do you imaging having a CI scale test as exit criteria?

[2018-06-25 22:31] spew commented on #235
CI test.

[2018-06-25 23:42] k4leung4 commented on #12
this is now fixed.
On machine deletion, the machine actuator will delete the underlying machine/vm and only on success will it remove the finalizer. Until the underlying machine/vm is successfully deleted, the machine object is still present.

[2018-06-25 23:42] k4leung4 commented on #12
/close

[2018-06-25 23:42] #12 closed

[2018-06-25 23:55] mkjelland commented on #132
/reopen
I'll take another look, thanks!

[2018-06-26 06:38] roberthbailey commented on #343
This was fixed in https://github.com/kubernetes-sigs/cluster-api/pull/376.

[2018-06-26 06:38] #343 closed

[2018-06-26 16:37] spew commented on #252
Note that since this was opened we added MachineSets and MachineDeployments which should also be supported.

[2018-06-26 18:37] spew opened #402 "Refactor waiting logic out of clusterclient"
ClusterClient currently has a lot of semi complicated waiting logic that occurs after most operations. There are two reasons to refactor it out:

1. **Different Use Cases**: Not all use cases require waiting for an operation to reach a certain state. For example, it will not always be the case that a user of the client will want to wait for a machine to reach a 'ready' state after creating the mac

[2018-06-27 19:07] dlipovetsky opened #409 "Update apiserver-builder from 1.9, or switch to CRDs?"
Some core components depend on [apiserver-builder](https://github.com/kubernetes-incubator/apiserver-builder/) v1.9-alpha.3, which depends on Kubernetes 1.9.x. Therefore components are locked to the Kubernetes 1.9.x.

Updating apiserver-builder to a newer release does not seem trivial. The project is not actively maintained. Kubebuilder--a similar project that targets CRDs--is actively maintained.

[2018-06-27 19:08] dlipovetsky commented on #409
The [apiserver-builder](https://github.com/kubernetes-incubator/apiserver-builder/) project appears to not be active; the latest commit is in the v1.9-alpha.3 release from May 6. The [kubebuilder](https://github.com/kubernetes-sigs/kubebuilder) project may be a good option, but today does not provide functionality we get from apiserver-builder.

[2018-06-28 17:48] kris-nova commented on #409
Wondering if this is alluding to the discussion of switching back to CRDs?

[2018-06-28 18:32] kris-nova commented on #383
@craigtracey do you have any other concerns? We talked about multiple implementations and how they could be supported in a single repository on the call on wed. Would like to get a consensus here so we can start creating repositories.

[2018-06-28 19:06] craigtracey commented on #383
The only point I was driving at (and perhaps this is a nit) was that `$cloud` might be better served as `$name`.  `$name` would likely be the name of the provider, but could also be something a bit more specific (ie. `aws` and `aws-govcloud`) or a bit more broad (ie. `ssh`, `terraform`, etc).

I do expect their to be multiple implementations of the same `$cloud`, but there is no reason these can't

[2018-06-29 17:06] spew opened #413 "Solution for clusterctl commands when minikube already exists"
As noted in PR https://github.com/kubernetes-sigs/cluster-api/pull/406#discussion_r199217893, when running `clusterctl create cluster` and `clusterctl delete cluster` the commands will fail if the minikube VM already exists. This can be fixed by running `minikube delete`.

The purpose of this issue is to come up with a solution for this problem. Some potential solutions:

1. Automatically delete t

[2018-06-29 22:29] dlipovetsky commented on #409
@kris-nova Yes. I should have been more explicit: kubebuilder is for CRDs only, so we could use it only if we switched back to CRDs.

For reference: [CRDs have gained parity with Aggregated APIs](https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/custom-resources/#advanced-features-and-flexibility) since the time the of the decision to use an Aggregated API.

[2018-07-01 15:54] davidewatson commented on #409
Independently of whether `cluster-api` moves to CRDs, I think it might make sense to use `kubebuilder` for provider configs. I don't think we need dedicated storage for these resources.

[2018-07-01 15:55] davidewatson commented on #409
Though I do suspect `cluster-api` should move to CRDs for the maintenance reasons discussed [here](https://docs.google.com/document/d/16ils69KImmE94RlmzjWDrkmFZysgB2J4lGnYMRN89WM/edit?disco=AAAAB1xreHk) on "Wed 14 February 2018".

[2018-07-02 14:22] dims commented on #383
Looks like there is consensus on naming - Option 3 : `github.com/kubernetes-sigs/cluster-api-provider-$cloud`

Can we please create the repos?

[2018-07-02 17:11] dlipovetsky opened #414 "Change ProviderConfig to ProviderSpec"
From what I understand, the name `ProviderConfig` was chosen because it is "a serialized API object in a format owned by that provider, akin to the Component **Config** pattern" (emphasis mine). [0]

Unlike a Component Config, a `ProviderConfig` has a corresponding `ProviderStatus.` The name `ProviderSpec` follows from the Kubernetes API Status/Spec convention.

[0] https://github.com/kubernetes/c

[2018-07-02 17:22] dlipovetsky commented on #276
Instead of creating their own API to expose control plane "knobs," providers could use ComponentConfigs.

There is a proposal that will make it easier to use ComponentConfigs:

Make ComponentConfig API types consumable from projects outside of kube and from different parts of kube itself

https://docs.google.com/document/d/1-u2y03ufX7FzBDWv9dVI_HyiIQZL8iz3o3vabeOpP5Y/edit?ts=5b3a4e44#

[2018-07-02 19:27] dims opened #416 "Please create new repository - kubernetes-sigs/cluster-provider-api-openstack"
Instead of merging the https://github.com/kubernetes-sigs/cluster-api/pull/176 PR, can we please create a new repository?

Based on the discussion in https://github.com/kubernetes-sigs/cluster-api/issues/383 please create the repository under

[code]

Please seed this new empty repository from the following:
https://github.com/dims/cluster-provider-api-openstack

It has the same code as in the PR

[2018-07-02 19:28] dims commented on #416
cc @Lion-Wei

[2018-07-02 19:29] kris-nova commented on #416
Watching this

[2018-07-02 22:41] kris-nova commented on #416
@timothysc any idea how we should request a new repo?

[2018-07-03 01:47] m1093782566 commented on #416
/cc @Lion-Wei

[2018-07-03 02:11] Lion-Wei commented on #416
@dims Thanks.
I think we need create another pr for openstack cloud provider in clusterctl, like azure did.
https://github.com/kubernetes-sigs/cluster-api/pull/395

[2018-07-03 02:14] dims commented on #416
@Lion-Wei sure, please go ahead with a patch similar to #395 Though note that it has a url for the git repo so we probably need to wait for `github.com/kubernetes-sigs/cluster-api-provider-openstack` to get created.

[2018-07-03 02:20] m1093782566 commented on #416
Sounds fair, @dims

We can wait unitl the new repo get created.

[2018-07-03 20:08] dims commented on #416
Sent an email to steering committee based on suggestion by @jdumars - https://groups.google.com/a/kubernetes.io/d/msg/steering/IY5zSWnp1aI/RMJoUA2fBgAJ

[2018-07-04 18:06] davidewatson commented on #414
I think my rationale may be specious.

configuration := an arrangement of elements in a particular form, figure, or combination.
specification := an act of describing or identifying something precisely or of stating a precise requirement.

Since there is a `ProviderStatus` it seems reasonable to make the design pattern explicit by having a corresponding `ProviderSpec`.

[2018-07-05 20:30] kris-nova commented on #383
Closing - with consensus on 3

[2018-07-05 20:30] #383 closed

[2018-07-07 16:16] craigbox opened #418 "Installation fails: "the server could not find the requested resource""
Generated YAML with generate-yaml.sh; machine accounts were created successfully in my GCP project.

<pre><b>export GOOGLE_APPLICATION_CREDENTIALS="$(pwd)/machine-controller-serviceaccount.json"
$GOPATH/src/sigs.k8s.io/cluster-api/clusterctl/clusterctl create cluster --provider google -c cluster.yaml -m machines.yaml -p provider-components.yaml -a addons.yaml --v=9</b>

I0707 16:45:42.817275   549

[2018-07-07 16:49] craigbox commented on #418
Have narrowed down the problem to a missing version:

<pre>
<b>apiVersion: rbac.authorization.k8s.io/</b>
kind: RoleBinding
metadata:
  name: clusterapi
  namespace: kube-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: extension-apiserver-authentication-reader
subjects:
- kind: ServiceAccount
  name: default
  namespace: default
</pre>

[2018-07-07 17:07] craigbox commented on #413
Having been confused by this today (and tbh confused as to why it instantiates minikube and doesn't just take a cluster endpoint as configuration), I'd vote for 3 - with the proviso that (in the Alpha stage) if the apiserver extension exists, or there are cluster/machine objects, then you could abort and say 'please delete it before continuing'.

[2018-07-07 17:10] craigbox commented on #418
I can get the cluster installed if I patch the file to include the v1 at the end of that line.

I do get this output in my logs also, when it's creating the master components on the newly created cluster:

[code]

[2018-07-07 17:13] craigbox opened #419 "prompted for SSH key on GCE"
While setting up my new cluster, I was prompted for my SSH key which I would usually use to log into GCE VMs.

<pre>
I0707 17:58:31.742852   61559 clusterdeployer.go:225] Getting internal cluster kubeconfig.
I0707 17:58:31.742879   61559 clusterdeployer.go:341] Waiting for kubeconfig on gce-master-mpg2g to become ready...
Enter passphrase for key '/Users/craigbox/.ssh/google_compute_engine':
I0707

[2018-07-09 17:21] krousey commented on #418
/assign @mkjelland

[2018-07-10 14:28] detiber opened #420 "Cluster Actuator should be passed a deep copy of the cluster object instead of the informer provided object"
Currently the Cluster Actuator is passed in the informer provided object instead of a deep copy of the object. This differs from the behavior of the Machine Actuator which is passed a deep copy of the object.

[2018-07-10 14:36] detiber opened #421 "Cluster actuator interface should expose create/update/delete/exists methods instead of reconcile/delete"
Currently the Cluster Actuator interface exposes reconcile/delete rather than create/update/delete/exists like the Machine Actuator.

[2018-07-10 14:37] detiber commented on #420
/assign

[2018-07-10 14:37] detiber commented on #421
/assign

[2018-07-10 17:42] dims commented on #416
cc @dklyle @hogepodge @rjmorse

[2018-07-10 18:02] dlipovetsky commented on #158
I'm curious--how will the cluster controller know that APIEndpoints should be updated? Will it watch Machine objects?

[2018-07-10 18:04] hogepodge commented on #416
+1 from sig-openstack

[2018-07-10 21:56] joejulian opened #423 "README lists wrong slack channel"
The readme refers us to "#cluster-api" yet slackbot says it cannot find a channel by that name.

[2018-07-10 22:24] joejulian commented on #423
I was invited to said channel and I'm in. /shrug

[2018-07-10 22:24] #423 closed

[2018-07-11 09:33] roberthbailey commented on #67
@jessicaochen - is this still relevant with clusterctl?

[2018-07-11 09:35] roberthbailey commented on #32
@karan added https://github.com/kubernetes-sigs/cluster-api/blob/master/CONTRIBUTING.md in https://github.com/kubernetes-sigs/cluster-api/commit/549a7ee63fbff5adb29f1b90645b43ae86df775c#diff-6a3371457528722a734f3c51d9238c13 the day after the original issue (in the old repo) was opened, which addressed this. Marking as fixed.

[2018-07-11 09:35] #32 closed

[2018-07-11 09:37] roberthbailey commented on #157
@jessicaochen - can you provide current status for this issue? What remains before we can close it?

[2018-07-11 09:38] roberthbailey commented on #53
@k4leung4 - can you provide an update on the current status of this issue?

[2018-07-11 14:36] hogepodge commented on #416
cc @andrewsykim @jagosan

This is related to SIG-Cloud-Provider efforts, and other providers should be made aware of these efforts.

[2018-07-11 15:01] k4leung4 commented on #53
this is done
/close

[2018-07-11 15:01] #53 closed

[2018-07-11 15:04] k4leung4 commented on #53
PR #186

[2018-07-11 15:29] dims commented on #416
We now have https://github.com/kubernetes-sigs/cluster-api-provider-openstack. thanks a bunch everyone

[2018-07-11 15:29] #416 closed

[2018-07-11 15:40] k4leung4 commented on #47
The basic machine set status is now being populated, PR #180, leveraging the NodeRef and Node condition.
As mentioned by @rsdcastro , this might not be enough.

[2018-07-11 16:37] jessicaochen commented on #67
Honestly, I am not sure what this issue is talking about. Since we have a new tool (clusterctl), I assume this is not actually relevant anymore. Feel free to re-open with more context if you disagree.

/close

[2018-07-11 16:37] #67 closed

[2018-07-11 16:38] jessicaochen commented on #67
(I do not seem to have rights to close the issue, could someone with rights close it?)

[2018-07-11 16:49] jessicaochen commented on #158
For now, the controller can probably watch for the appearance of a master machine and use the IP.

More long term, the cluster controller (or some controller at the same level) should have a concept of control plane and create the appropriate machines to back said control plane. Since said controller created the needed stuff for the control plane, it should also be able to fetch the IP for the con

[2018-07-11 16:54] jessicaochen commented on #157
Two of the subissues are still open. I prefer to keep this issue open while sub issues are not closed (to provide context and motivation to sub issues). However, I am not opposed if folks prefer this parent issue closed and keep tracking on sub issues.

[2018-07-11 19:05] dlipovetsky commented on #158
Is there consensus on what the cluster controller is responsible for? (I have not seen a design for it, so my own impression is that there is no consensus.)

I thought it could be responsible for the infrastructure (other than compute) required by the cluster, e.g., networks, security groups, etc, and that other controllers (e.g. MachineDeployment) would be responsible for compute infrastructure +

[2018-07-11 21:48] detiber opened #425 "Please create new repository - kubernetes-sigs/cluster-provider-api-aws"
Based on the discussion in #383 please create the repository under

github.com/kubernetes-sigs/cluster-api-provider-aws
Please seed this new empty repository from the following:
https://github.com/detiber/cluster-api-provider-aws

Thanks!

This request has also been sent to the steering committee: https://groups.google.com/a/kubernetes.io/forum/#!topic/steering/A8-_jz9Qd2Y

[2018-07-11 21:49] detiber commented on #425
@davidewatson @enxebre

[2018-07-11 22:34] davidewatson commented on #425
https://github.com/detiber/cluster-provider-api-openstack appears to be private. I am not sure it matters until the `kubernetes-sig` repo is created. There a few common changes which will be needed for additional seeded repos though, so eventually a diff might help jump-start others.

Does it make sense for me to begin making these changes against the existing openstack repo, or should I wait to s

[2018-07-11 22:37] detiber commented on #425
Oops, copy pasta error, it is
https://github.com/detiber/cluster-api-provider-aws

On Wed, Jul 11, 2018, 6:34 PM davidewatson <notifications@github.com> wrote:

[2018-07-12 18:06] neolit123 commented on #327
attempting a `/milestone` command as per the discussion with @roberthbailey yesterday.

/milestone cluster-api-alpha-implementation

[2018-07-12 20:08] kris-nova commented on #420
Is there a link to where we do this for machines?

[2018-07-12 20:46] detiber commented on #420
@kris-nova it is done here: https://github.com/kubernetes-sigs/cluster-api/blob/master/pkg/controller/machine/controller.go#L88

[2018-07-13 14:14] frapposelli opened #427 "Please create new repository - kubernetes-sigs/cluster-provider-api-vsphere"
Based on the discussion in #416 please create the repository under github.com/kubernetes-sigs/cluster-api-provider-vsphere

/cc @kris-nova

[2018-07-16 09:06] enxebre commented on #259
Since the actuator implementations are going out of tree, do we wanna set a common alpha/beta criteria for them here? or should this just live independently in each repo?

[2018-07-16 10:09] enxebre commented on #59
bare bones implementation repo has been proposed by @detiber here https://github.com/kubernetes-sigs/cluster-api/issues/425 We'll next share a starting design doc so we have a common place to collaborate and discuss implementation details cc @csrwng

[2018-07-16 15:23] roberthbailey commented on #327
I filed https://github.com/kubernetes/test-infra/issues/8690

[2018-07-17 05:30] #420 closed

[2018-07-18 01:09] roberthbailey commented on #364
@mkjelland - can we mark this as fixed now that 401 has merged?

[2018-07-18 01:34] mkjelland commented on #364
Yes, good point!

[2018-07-18 01:34] #364 closed

[2018-07-18 02:55] roberthbailey commented on #137
Since this is not a cluster api issues I'm going to bump it out of the alpha milestone.

[2018-07-18 02:56] roberthbailey commented on #132
@kawych - is this relevant to the google provider in clusterctl? The gcp deployer code is going away prior to the alpha release of the cluster api.

[2018-07-18 02:57] roberthbailey commented on #28
@k4leung4 - do machine deployments meet the exit criteria of this issue (for nodes)? I think they do, just wanting a second opinion.

If so, then we should either re-scope this to control plane upgrades or close it and spawn a separate issue for control plane upgrades.

[2018-07-18 04:25] roberthbailey opened #430 "Please create new repository - kubernetes-sigs/cluster-provider-api-gcp"
Based on the discussion in #383 please create the repository under

github.com/kubernetes-sigs/cluster-api-provider-gcp

Please seed this new empty repository from the following:
https://github.com/roberthbailey/cluster-api-provider-gcp

Thanks!

This request has also been sent to the steering committee: https://groups.google.com/a/kubernetes.io/d/msg/steering/P5A-nF8h_mw/DfBo008dBgAJ

[2018-07-18 04:34] roberthbailey commented on #249
Related to https://github.com/kubernetes-sigs/cluster-api/issues/160.

[2018-07-18 04:37] roberthbailey commented on #216
Alternatively, we should move the complex logic into the gcp cluster controller and make it just set env vars like project / zone.

[2018-07-18 04:38] roberthbailey commented on #161
tf-deployer is gone.

/close

[2018-07-18 04:38] #161 closed

[2018-07-18 05:45] roberthbailey commented on #151
@dims - can we move this tracking issue to your new repo?

[2018-07-18 05:46] roberthbailey commented on #136
@karan - is this for control plane upgrades (via `kubeadm upgrade`)? It shouldn't matter on nodes since we replace them with fresh ones.

[2018-07-18 05:48] roberthbailey commented on #111
Closing this since we are deleting gcp-deployer. Please re-open if this is still an issue with clusterctl delete (which just merged today).

/close

[2018-07-18 05:48] #111 closed

[2018-07-18 05:51] roberthbailey commented on #82
Closing since we are removing gcp-deployer. Please re-open if you still see this behavior with clusterctl.

/close

[2018-07-18 05:51] #82 closed

[2018-07-18 05:53] roberthbailey commented on #66
This appears to have been fixed by https://github.com/kubernetes-sigs/cluster-api/pull/371. Please re-open if it is still an issue.

/close

[2018-07-18 05:53] #66 closed

[2018-07-18 05:53] roberthbailey commented on #69
We should make a decision on this (one way or the other) for alpha.

[2018-07-18 05:54] roberthbailey commented on #64
vsphere implementation has been in place for a while now. Marking as fixed.

/close

[2018-07-18 05:54] #64 closed

[2018-07-18 05:57] roberthbailey commented on #39
This was discussed (tangentially) as part of https://github.com/kubernetes-sigs/cluster-api/issues/383 and the decision was to create separate repos for cluster api provider code.

/close

[2018-07-18 05:57] #39 closed

[2018-07-18 05:57] #35 closed

[2018-07-18 05:59] roberthbailey commented on #24
I think that the finalizer approach we are taking satisfies this feature request, so I'm going to close this issue.

/close

[2018-07-18 05:59] #24 closed

[2018-07-18 05:59] roberthbailey commented on #21
@rsdcastro - is this clusterctl delete?

[2018-07-18 06:00] roberthbailey commented on #17
We currently support gcp + vsphere and we are adding support (out of tree) for openstack, aws, etc. Marking as fixed.

/close

[2018-07-18 06:00] #17 closed

[2018-07-18 06:04] m1093782566 commented on #151
Sure. @roberthbailey

/close

[2018-07-18 06:04] #151 closed

[2018-07-18 15:11] detiber commented on #421
Closing, I still think we should probably address this better in the future but I'm hoping that a better pattern will be obvious after there are some more concrete implementations in the wild.

[2018-07-18 15:11] #421 closed

[2018-07-18 17:18] vielmetti opened #431 "Packet provider"
I'm looking into getting a scope of work and scaffolding and requirements and specifications for a provider for Packet. The CNCF Cross-Cloud CI work is done at Packet, as part of the CNCF cluster hosted at Packet, and so there could potentially be an internal CNCF use case pretty much right away for that code.

I'm not ready to commit any code! It seemed like a proper start to open an issue to anc

[2018-07-18 18:16] roberthbailey commented on #218
As discussed in the cluster api working group meeting today, we are going to close this issue and **not** vendor k/k into the cluster-api repository.

/close

[2018-07-18 18:16] #218 closed

[2018-07-18 18:20] Meegul opened #432 "Please create new repository - kubernetes-sigs/cluster-api-provider-azure"
Based on discussions during the Wed 18 July 2018 meeting. Multiple owners still need to be established. The repo should be seeded from https://github.com/davidewatson/cluster-api-provider-skeleton/ with code being imported from https://github.com/platform9/azure-provider afterwards.

[2018-07-18 21:44] dims commented on #68
All the repos in kubernetes-sigs org already have `blunderbuss` enabled - https://github.com/kubernetes/test-infra/blob/master/prow/plugins.yaml#L432

[2018-07-18 21:45] dims commented on #312
related to https://github.com/kubernetes-sigs/cluster-api/issues/432

[2018-07-18 21:52] dims commented on #93
we gave Dockerfile for apiserver and controller-manager already. Nothing else to do right?

[2018-07-18 23:01] dlipovetsky commented on #414
Working on a PR for this

[2018-07-19 15:20] trawler commented on #96
This is an old issue and the links above are broken... but looking deeper into this, I can't find on first glance what might be wrong.
The issue refers to this line: https://github.com/kubernetes-sigs/cluster-api/blob/master/cloud/google/machineactuator.go#L581  but the Machine.Spec reference (https://github.com/kubernetes-sigs/cluster-api/blob/master/pkg/apis/cluster/v1alpha1/machine_types.go#L46

[2018-07-19 16:42] ashish-amarnath commented on #96
Discussed on slack. This issue is obsolete and can be closed.
/cc @rsdcastro  Can you please close this issue?

[2018-07-19 19:46] rsdcastro commented on #96
/close

[2018-07-19 19:46] #96 closed

[2018-07-20 16:59] roberthbailey commented on #430
https://github.com/kubernetes-sigs/cluster-api-provider-gcp has been created.

/close

[2018-07-20 16:59] #430 closed

[2018-07-20 16:59] roberthbailey commented on #425
https://github.com/kubernetes-sigs/cluster-api-provider-aws has been created.

/close

[2018-07-20 16:59] #425 closed

[2018-07-20 17:04] roberthbailey opened #434 "Remove the cloud/google directory"
And associated vendor dependencies.

[2018-07-20 17:05] roberthbailey opened #435 "Remove the cloud/vsphere directory"
And associated vendor dependencies.

[2018-07-20 18:23] roberthbailey opened #671 "Switch from debian:latest to gcr.io/distroless/static:latest"
See https://github.com/kubernetes/kubernetes/issues/40248#issuecomment-280781931.

[2018-07-20 18:52] roberthbailey opened #436 "Prune dependencies"
Enable dep pruning: https://golang.github.io/dep/docs/Gopkg.toml.html#prune

[2018-07-23 02:01] dims commented on #409
+1 to move to CRDs

[2018-07-23 10:03] ingvagabund commented on #45
@rsdcastro does it make sense to define the delete policies on the level of cloud provider itself? In my case, I am not able to delete an AWS machine directly. Instead, we stop an instance and append a specific suffix. Later on, a bot that periodically checks all AWS instances removes all instances that have the suffix. This way, I can't accidentally delete machines and this approach also helps to

[2018-07-23 10:44] mvladev commented on #45
@ingvagabund the physical (API call to the cloud provider) deletion of machines is not part of this issue and it's an implementation detail in your machine controller. It's about which `Machine` resource in K8S to delete during scale down.

Ideally the `scale` subresource should support this functionality, but at the moment it only has a number of desired replicas.

[2018-07-23 10:47] ingvagabund commented on #45
@mvladev I put the physical deletion of machines here since this was the closest issue reported to that. You are right it's an implementation detail. Do you think it's worth opening a new issue and starting the conversation on that topic there?

[2018-07-23 10:48] mvladev commented on #45
@ingvagabund sounds great!

[2018-07-23 22:10] #434 closed

[2018-07-23 22:40] roberthbailey commented on #427
I've created a seed repository for kubernetes-sigs/cluster-provider-api-vsphere for you at https://github.com/roberthbailey/cluster-api-provider-vsphere by running the following commands to preserve commit history and then cleaning up the skeleton files:

1. Clone https://github.com/davidewatson/cluster-api-provider-skeleton into your own repository.

1. Grab commits from the `cloud/vsphere` direc

[2018-07-24 08:10] roberthbailey commented on #11
@enxebre - we should have a conformance-style test that each provider can run to verify that they work "correctly". It may be worthwhile to create an actuator stub in this repository so that we can put the test code here (and run it) once all of the provider code has been migrated out.

[2018-07-24 08:10] roberthbailey commented on #11
/unassign

[2018-07-24 08:11] roberthbailey commented on #88
This issue was moved to kubernetes-sigs/cluster-api-provider-gcp#13

[2018-07-24 08:11] #88 closed

[2018-07-24 08:12] roberthbailey commented on #89
This issue was moved to kubernetes-sigs/cluster-api-provider-gcp#14

[2018-07-24 08:12] #89 closed

[2018-07-24 08:12] roberthbailey commented on #91
This issue was moved to kubernetes-sigs/cluster-api-provider-gcp#15

[2018-07-24 08:12] #91 closed

[2018-07-24 08:12] roberthbailey commented on #92
This issue was moved to kubernetes-sigs/cluster-api-provider-gcp#16

[2018-07-24 08:12] #92 closed

[2018-07-24 08:13] roberthbailey commented on #93
I agree with @dims; I think this one can be closed.

[2018-07-24 08:13] #93 closed

[2018-07-24 08:13] roberthbailey commented on #95
This issue was moved to kubernetes-sigs/cluster-api-provider-gcp#17

[2018-07-24 08:13] #95 closed

[2018-07-24 08:14] roberthbailey commented on #97
This issue was moved to kubernetes-sigs/cluster-api-provider-gcp#18

[2018-07-24 08:14] #97 closed

[2018-07-24 08:19] roberthbailey commented on #216
This issue was moved to kubernetes-sigs/cluster-api-provider-gcp#19

[2018-07-24 08:19] #216 closed

[2018-07-24 08:22] roberthbailey commented on #59
Now that https://github.com/kubernetes-sigs/cluster-api-provider-aws exists I think this issue should be closed and as @enxebre suggested implementation discussions for an aws provider should happen in the new repo.

[2018-07-24 08:22] #59 closed

[2018-07-24 16:08] frapposelli commented on #427
@roberthbailey thanks Robert, what's the right venue to submit this request? my understanding was that this issue was tracking the creation of the repo

[2018-07-24 16:46] roberthbailey commented on #427
You need to send an email to the steering committee (look at the email linked from https://github.com/kubernetes-sigs/cluster-api/issues/425#issue-340417874) and a vote in the SIG to create the repo. A key piece is having sufficient ownership of the new repo.

[2018-07-24 19:51] roberthbailey commented on #99
This issue was moved to kubernetes-sigs/cluster-api-provider-gcp#20

[2018-07-24 19:51] #99 closed

[2018-07-24 21:07] #435 closed

[2018-07-24 21:36] #338 closed

[2018-07-24 22:01] roberthbailey commented on #21
/close

If this issue requires something above and beyond `clusterctl delete` then please re-open and add more details.

[2018-07-24 22:01] #21 closed

[2018-07-25 09:36] ingvagabund opened #446 "Define deletion policies for physical machines"
It make sense to define delete policies on the level of a cloud provider. In my case, I am not able to delete an AWS machine directly. Instead, I stop an instance and append a specific suffix. Later on, a bot that periodically checks all AWS instances removes all instances that have the suffix. This way, I can't accidentally delete machines and this approach also helps to make permission more gran

[2018-07-25 09:36] ingvagabund commented on #45
https://github.com/kubernetes-sigs/cluster-api/issues/446

[2018-07-25 17:05] alejandroEsc opened #448 "External Bootstrap Cluster CleanUp"
Allow for clean up of resources when clusterctl finishes running against an existing bootstrap cluster, i.e., a cluster that exists with a kubeconfig file having admin rights and it is not minikube (thought it could be).

Should be the next task as discussed in PR: https://github.com/kubernetes-sigs/cluster-api/pull/442#issuecomment-407825455

[2018-07-25 17:37] timothysc opened #449 "Disambiguate naming for hosted offerings for a given provider."
We don't have a canonical term for the name of a hosted kubernetes service for a given provider.  Ideally a given provider would allow for the management/provisioning of these hosted deployments but we don't have a canonical name.  Currently, we overload the term "provider".

/cc @kris-nova @roberthbailey

[2018-07-25 17:53] #436 closed

[2018-07-25 18:02] oneilcin opened #450 "clusterctl pivots to internal cluster, make this optional"
In our use case we would like to use an external cluster other than minikube to deploy the cluster-api stack.  This external cluster will manage multiple clusters.  We would like to keep the controllers and cluster-api resources (machines, machineset, cluster, etc) on the external cluster.

The default behavior of clusterctl is to pivot the controllers and resources to the internal cluster.  We wo

[2018-07-25 18:13] oneilcin commented on #450
I would be glad to work on this

[2018-07-25 20:52] alejandroEsc commented on #448
from @jessicaochen : " The only high level point you may want to think through is cleanup. As it is, after bootstrap is done, the external cluster will have a bunch of leftover controllers/objects sitting in it. We will want some cleanup logic if you plan on leaving the external cluster running. For minikube, the cleanup was handled in the deletion of the minikube cluster."

from @jessicaochen : "

[2018-07-25 22:01] justinsb commented on #13
Another thing this could do: automatically send PRs for out of date docker base images.

[2018-07-26 11:49] hardikdr commented on #22
Couple of them I can recall are:

* MachineClass should bring-in re-usability of machine-spec related details even across MachineSets/Deployments. This should help us in having a more sophisticated use of machine-controllers.

* Once cluster-api gets stable enough, cluster-autoscaler community is expected to re-define the cloud interface to include only Machine/Cluster-api specifics and not mainta

[2018-07-26 11:56] hardikdr commented on #450
I would also prefer not to pivot by default.
It would actually be nice if we can inject kubeConfig of existing cluster where we keep the cluster-api stack and not necessarily depend on Minikube.

[2018-07-26 12:15] hardikdr commented on #69
Agree with @spew.
At least for Alpha exit, this seems little complicated, we should think about the consequences of supporting different versions of the control-plane components.

[2018-07-26 14:56] oneilcin commented on #450
Realized if clusterctl is used to deploy the managing cluster only, then the change is not needed for our use-case.  The created cluster would be the managing cluster of other clusters.  Then we could use kubectl or api calls to create the cluster and machines resources for adding new clusters.

[2018-07-26 17:36] dgoodwin opened #458 "Node Label Updates Not Propagated to Existing Machines"
Not sure if this is expected behavior or not, we allow defining some object metadata for nodes here: https://github.com/kubernetes-sigs/cluster-api/blob/master/pkg/apis/cluster/v1alpha1/machine_types.go#L52

This does mention node "creation" specifically.

Today if you later go edit these labels on a machine set, the changes do not get reflected in pre-existing machines. Only once you delete the m

[2018-07-26 20:07] justinsb commented on #13
I've started on this ... a PR that is created by my WIP script https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/33

(I'm trying to figure out how this should behave in general - feedback welcome)

[2018-07-26 20:07] justinsb commented on #13
/assign

[2018-07-26 21:19] detiber commented on #450
I'm planning on starting to look at this tomorrow.

[2018-07-27 16:33] joejulian opened #460 "Add the google group to the readme"
I discovered, quite by accident, that the reason I wasn't allowed to look at design documents was because I wasn't in a google group. This information should be added to the README.

[2018-07-27 16:34] joejulian commented on #460
/assign

[2018-07-27 19:56] #460 closed

[2018-08-01 00:24] dims commented on #68
/close

[2018-08-01 00:24] #68 closed

[2018-08-01 12:36] ingvagabund commented on #458
Would it make sense to divide the labels into cluster-api managed labels and user managed ones? E.g. all labels prefixed with `cluster.k8s.io` and whitelisted can be removed/updated/added. If a user sets a label that does not belong to both groups just don't do anything?

[2018-08-01 12:45] ingvagabund commented on #409
@enxebre FYI

[2018-08-01 13:08] ingvagabund commented on #279
Dup of https://github.com/kubernetes-sigs/cluster-api/issues/254 ?

[2018-08-01 13:08] ingvagabund commented on #254
@jessicaochen are you talking about specific presubmit image?

[2018-08-01 21:40] dlipovetsky commented on #276
Related discussion from the [Wed 13 June 2018 meeting](https://docs.google.com/document/d/16ils69KImmE94RlmzjWDrkmFZysgB2J4lGnYMRN89WM/edit#heading=h.xil9madvokmo):

[2018-08-01 21:53] jessicaochen commented on #254
The image by testinfra used to run the presubmit tests for this repo.

[2018-08-01 21:54] jessicaochen commented on #279
This is for unit tests (mock out kubectl). The other is for integration tests where (we actually use kubectl etc.)

I'll add more description to make it obvious.

[2018-08-02 23:31] ashish-amarnath commented on #252
I can work on this.
/assign

[2018-08-02 23:43] ashish-amarnath commented on #252
1. Adding an option called `OperatingNamespace` to all applicable commands with a default value pointing to the `default` namespace.
2. Adding a parameter to the `ClusterClient` methods to take the namespace and use the supplied value when calling the client-go methods.

Need to clarify:
1. Changes to the manifest templates which also point to the default namespace

[2018-08-03 03:35] ashish-amarnath commented on #252
IMO there isn't much value in allowing the creation of `cluster` objects in multiple namespaces. However, there is definitely value in running controllers in different namespaces and with them running with a service account that has access to the `cluster` objects in the single namespace where they get created.
E.g. let's say there is a namespace `cluster-registry` in the 'external-cluster' and co

[2018-08-03 17:09] jessicaochen commented on #252
My understanding about what the community decided regarding namespaces and clusters is that cluster objects will be in different namespaces and there will only be one cluster object per namespace. Any machine objects in the same namespace as a cluster object belong to that cluster (this specific point about how machines link to clusters might change).

https://github.com/kubernetes/kube-deploy/iss

[2018-08-07 19:01] roberthbailey commented on #252
There were folks that wanted to put multiple clusters into a single namespace so that they could share things like credentials for a cloud provider. At that point it would be similar (conceptually) to having two GKE clusters in the same GCP project -- the namespace is like the project and you want the same access to developers to both clusters.

There is an open issue (and maybe PR) to make a tigh

[2018-08-07 21:58] frapposelli commented on #427
This has been sorted out, the repo has been created and a new subproject under SIG-VMware has been created.

[2018-08-07 21:58] #427 closed

[2018-08-08 17:51] roberthbailey commented on #252
Also see https://github.com/kubernetes-sigs/cluster-api/issues/41.

[2018-08-08 18:05] roberthbailey commented on #252
Issue #41 was discussed during the meeting on June 20th ([notes](https://docs.google.com/document/d/16ils69KImmE94RlmzjWDrkmFZysgB2J4lGnYMRN89WM/edit#heading=h.ibt0rvitk45r)). @mvladev had an AI to add some comments to the issue but it looks like they weren't extracted from the conversation and put into github (to be more easily found).

The summary is that we agreed to add an optional reference f

[2018-08-08 19:53] sflxn commented on #398
/assigned

[2018-08-08 21:49] timothysc commented on #449
During our call today we called this "flavors".
I also thought recipes made sense.  EKS/GKE - Boxed recipes.

[2018-08-08 22:05] timothysc opened #471 "RFE: Dynamic Webhook Extension Mechanism for Actuators, etc."
Per conversation on 8/8, there was a general consensus that providing a dynamic hook style mechanism for stubbing in actuators would be a great way to test out a POC implementation.

/cc @roberthbailey @detiber @chuckha @kris-nova

[2018-08-08 22:08] sflxn commented on #289
Is this still needed since it's now up to the provider to build the clusterctl?

[2018-08-10 01:31] ashish-amarnath commented on #252
https://github.com/kubernetes-sigs/cluster-api/blob/master/clusterctl/clusterdeployer/clusterclient.go
Currently, all the cluster-api objects are created in the `default` namespace. Which is kinda inline with my initial idea.

After gathering thoughts from other folks I have evaluated 3 approaches to solve this:

Proposal 1: One namespace for all clusters objects:
Cluster deployer will create all

[2018-08-14 03:14] davidewatson commented on #62
Even though https://github.com/kubernetes-sigs/cluster-api/pull/156 has been merged, [these](https://github.com/kubernetes-sigs/cluster-api/blob/master/clusterctl/clusterdeployer/clusterapiservertemplate.go) resources are still deployed to the default namespace. The cluster deployer also assumes the default namespace [here](./clusterctl/clusterdeployer/clusterclient.go).

Since there is another ti

[2018-08-14 22:51] joejulian opened #475 "Cannot use minikube >= 0.28.1 with clusterapi-apiserver"
With [this line of this PR](https://github.com/kubernetes/minikube/pull/2943/files#diff-791cd4f1bc5624fa1aec26b76983b601R32), minikube changed the behavior of kubeadm and its creation of the `admin.conf`, changing the host to `localhost`. This causes the clusterapi-apiserver to be unable to connect to the kube-apiserver as it's not listening on localhost inside the pod when clusterctl uses minikub

[2018-08-15 17:34] dlipovetsky commented on #252
In the current Cluster API architecture, the common controller code must be changed to support the different approaches listed above. If a provider's use case is not supported, the provider must choose between merging its changes to the Cluster API, or forking. In light of that, I think it's important to keep potential use cases in mind.

For example, an enterprise could run a permanent external c

[2018-08-15 17:46] detiber commented on #158
In the case of a HA cluster I would expect the cluster controller to manage the api server load balancer, which should probably be the advertised endpoint used. At least until there is better client tooling that allows for the use of multiple endpoints and endpoint discovery.

[2018-08-15 20:14] sflxn opened #479 "Make the workflow for the creation of the external cluster pluggable"
Currently, the create workflow that clusterctl uses minikube to standup an "external" cluster (aka the bootstrap cluster) or it may rely on an existing cluster as the "external" cluster.  The minikube workflow served as a good start point for a proof of concept.  The request is to make the creation of the external cluster pluggable and allow experimentation by vendors.  Eventually, a good best pra

[2018-08-15 20:14] sflxn commented on #479
/assigned

[2018-08-15 20:41] kris-nova opened #480 "Wording for variants of clusters for a cluster api provider"
We have discovered that there are several use cases to have a variant of a kubernetes cluster for a specific environment (e.g. "provider").

The example I enjoy using (that I am sure everyone is sick of hearing) is `public` and `private` topology in `kops`.

Meaning that we drastically configure and build the network in AWS differently for the two types of clusters, so the deployment strategy is d

[2018-08-15 20:41] kris-nova commented on #480
flavors

[2018-08-15 20:41] kris-nova commented on #480
profiles

[2018-08-15 20:41] kris-nova commented on #480
variants

[2018-08-15 20:41] kris-nova commented on #480
implementations

[2018-08-15 20:41] kris-nova commented on #480
styles

[2018-08-15 20:42] kris-nova commented on #480
types

[2018-08-15 20:45] davidjeddy commented on #480
Keeping with the nautical theme of K8:

Gulfs
Oceans
Seas
Whirlpool
Eddie
Fjord

[2018-08-15 20:48] kris-nova commented on #480
@davidjeddy can you please separate your suggestions into single comments so folks can vote on them?

[2018-08-15 20:56] ashish-amarnath commented on #480
doing the work for @davidjeddy

[2018-08-15 20:56] ashish-amarnath commented on #480
Gulfs

[2018-08-15 20:56] ashish-amarnath commented on #480
Oceans

[2018-08-15 20:56] ashish-amarnath commented on #480
Seas

[2018-08-15 20:57] ashish-amarnath commented on #480
Whirlpool

[2018-08-15 20:57] ashish-amarnath commented on #480
Eddie

[2018-08-15 20:57] ashish-amarnath commented on #480
Fjord

[2018-08-15 21:06] ndedic commented on #480
scenarios

(con: interchangeable with topologies?)

[2018-08-15 22:51] davidewatson commented on #480
One reason I like the word variant is the existing English definition matches our intent closely:

[code]

Notice that the title of this issue even uses it...

Aside: I can't stop thinking of users when I hear the word profile... :)

[2018-08-15 23:00] ashish-amarnath commented on #480
+1 for the user-profile word association

[2018-08-15 23:15] dtoebe commented on #480
Mast

[2018-08-15 23:16] dtoebe commented on #480
trireme: https://en.m.wikipedia.org/wiki/Trireme

[2018-08-17 20:49] davidewatson commented on #252
@ashish-amarnath:

I wonder if we can split the backend work from the UX design. I think these are the pieces of the backend design:

 - `clusterctl` deploys the apiserver within default namespace: https://github.com/kubernetes-sigs/cluster-api/blob/051f338bdacb76117d73a86258bc58c946add7b5/clusterctl/clusterdeployer/clusterapiserver.go#L48  https://github.com/kubernetes-sigs/cluster-api/blob/051f3

[2018-08-17 21:28] roberthbailey commented on #479
/assign @sflxn

[2018-08-17 21:29] roberthbailey commented on #480
/assign @kris-nova

[2018-08-17 21:31] roberthbailey commented on #458
@dgoodwin - just seeing this issue. I don't recall if this was intentional or just an oversight. I think it would be worth seeing what the behavior is with the same labels changes in replicasets and how they propogate, or don't, to pods so we can match that behavior.

[2018-08-17 21:32] roberthbailey commented on #450
Is this a specialization of the more general issue described in https://github.com/kubernetes-sigs/cluster-api/issues/479? Can we consolidate work around making the cluster creation pluggable?

[2018-08-17 21:33] roberthbailey commented on #449
Wording is being voted on in https://github.com/kubernetes-sigs/cluster-api/issues/480.

[2018-08-17 21:35] roberthbailey commented on #448
This feels like a special case of https://github.com/kubernetes-sigs/cluster-api/issues/479. Can we consolidate effort around defining the workflow (and make sure it includes deletion)?

[2018-08-17 21:38] roberthbailey commented on #446
It sounds like this isn't related to policies that we would define, but rather policies that you have defined already (e.g. you can't directly delete machines) that you need a way to plug in a compatible implementation for. Would having a variant/flavor of the AWS machine controller (or the deletion flow of such a controller) satisfy this use case? Or do you think there is something more generaliz

[2018-08-17 21:42] roberthbailey commented on #419
@craigbox - I think most of us used an empty password and thus skipped this prompt. This should be solved by https://github.com/kubernetes-sigs/cluster-api/issues/160 or https://github.com/kubernetes-sigs/cluster-api/issues/122 (whichever alternative we implement).

[2018-08-17 21:50] roberthbailey commented on #398
/assign @sflxn

[2018-08-17 21:51] roberthbailey commented on #333
Since these implementations have been moved out of this repo I'm going to close this issue. If we find common code across provider repos we can certainly move it into shared libraries here, but I don't think we should worry too much about doing it early in the project when folks are iterating quickly.

/close

[2018-08-17 21:51] #333 closed

[2018-08-17 21:53] roberthbailey commented on #324
This issue was moved to kubernetes-sigs/cluster-api-provider-vsphere#8

[2018-08-17 21:53] #324 closed

[2018-08-17 21:56] roberthbailey commented on #269
gcp-deployer is gone.

/close

[2018-08-17 21:56] #269 closed

[2018-08-17 21:57] roberthbailey commented on #236
/close

[2018-08-17 21:57] #236 closed

[2018-08-17 21:58] roberthbailey commented on #235
This isn't a GCP specific test -- for alpha we should be sure that cluster api can support 50 nodes in one or more environments.

[2018-08-17 21:58] roberthbailey commented on #226
This issue was moved to kubernetes-sigs/cluster-api-provider-vsphere#9

[2018-08-17 21:58] #226 closed

[2018-08-17 21:58] roberthbailey commented on #225
This issue was moved to kubernetes-sigs/cluster-api-provider-vsphere#10

[2018-08-17 21:58] #225 closed

[2018-08-17 21:59] roberthbailey commented on #191
This issue was moved to kubernetes-sigs/cluster-api-provider-gcp#35

[2018-08-17 21:59] #191 closed

[2018-08-17 22:03] roberthbailey commented on #129
gcp-deployer is gone. If this is still an issue with clusterctl on GCP, please open an issue in https://github.com/kubernetes-sigs/cluster-api-provider-gcp.

/close

[2018-08-17 22:03] #129 closed

[2018-08-17 22:03] roberthbailey commented on #79
This issue was moved to kubernetes-sigs/cluster-api-provider-vsphere#11

[2018-08-17 22:03] #79 closed

[2018-08-17 22:04] roberthbailey commented on #75
Also see https://github.com/kubernetes-sigs/cluster-api/issues/45#issuecomment-380944237

[2018-08-17 22:07] roberthbailey commented on #8
/cc @errordeveloper

We discussed this a bit during the meeting last week and my proposal was to start with provider specific fields since the network configuration is probably very closely related to the environment in which the cluster is deployed. If/when w see patterns emerge, we can decide on whether it makes sense to promote something to the common cluster api spec.

/close

[2018-08-17 22:07] #8 closed

[2018-08-17 22:09] roberthbailey commented on #297
This issue was moved to kubernetes-sigs/cluster-api-provider-gcp#36

[2018-08-17 22:09] #297 closed

[2018-08-17 22:12] roberthbailey commented on #418
@craigbox - can you test this with `clusterctl` from https://github.com/kubernetes-sigs/cluster-api-provider-gcp and see if it is still an issue? https://github-issue-mover.appspot.com/ throws a NPE trying to move this issue over automatically, and if it's still something we should investigate, it should be filed there as it is a gcp-specific issue. Thanks!

/close

[2018-08-17 22:12] #418 closed

[2018-08-17 22:19] wangzhen127 commented on #168
/unassign @wangzhen127
There is still [some work left to validate the cluster itself](https://github.com/kubernetes-sigs/cluster-api/blob/master/clusterctl/cmd/validate_cluster.go#L72). Un-assign myself as I am currently busy on something else. I am happy to guide who ever pick this up later if needed.

[2018-08-17 22:33] ashish-amarnath commented on #252
@davidewatson In the change that I am working on atm, for the cluster `Create`  I use the namespace in the cluster definition yaml, using `NamespceDefault` if it is empty. This way there is no change in UX. However, for the `Delete` I think the UX change is inevitable.
So to be consistent I am thinking of making the UX similar for the create scenario as well.
WDYT?

[2018-08-17 22:51] alejandroEsc commented on #448
@roberthbailey wouldnt mind chatting with you and @sflxn sometime about this. Just not sure this addresses the issue or things in mind per se as noted, but yeah can be affected by it.

[2018-08-17 23:45] davidewatson commented on #252
Fair, that's a good point.

[2018-08-18 13:53] ingvagabund commented on #446
This is no longer relevant. It's actuator implementation detail.

[2018-08-18 13:53] #446 closed

[2018-08-20 18:25] jessicaochen commented on #479
Pulling thoughts from email to this issue.

My 2c:

One could implement that ClusterProvisioner interface in a vendor specific way. Specifically, where Create() does nothing and GetKubeconfig() asks "is there an external cluster and is properly configured for cluster api's use?" and grabs the kubeconfig or errors (if appropriate).

One could implement that ClusterProvisioner interface in a vendor

[2018-08-20 22:08] ashish-amarnath commented on #252
This is a PR that I am working on for this issue

[2018-08-21 10:56] hardikdr commented on #47
We recently had a dicsussion around Machine-health strategy in wg-call.

With regards to the same, I am wondering if it would be better if MachineSet controller rather relies **only** on Machine-object to get the machine-health related status and not fetch the Node-object. Basically we put the NodeConditions into MachineStatus.

Couple of supporting pointers could be:
   * Separation of responsibi