[2019-12-20 18:25] joonas commented on #1579
@yastij did you have any updates on this?

[2019-12-20 18:25] joonas commented on #1580
@yastij did you have any updates on this?

[2019-12-20 18:27] ncdc commented on #1584
@fabriziopandini do you see this as a hard requirement for v1a3?

[2019-12-20 18:27] ncdc commented on #1625
@vincepri bump

[2019-12-20 18:29] vincepri commented on #1625
Need a spike to enumerate the individual tasks. As an example, we don't log any events on Cluster and we could log some here and there.

[2019-12-20 18:30] juan-lee opened #1946 "gocyclo lint errors in main.go"
**What steps did you take and what happened:**
[MachinePool types PR](https://github.com/kubernetes-sigs/cluster-api/pull/1929) introduced gocyclo lint errors, suppressed with `// nolint:gocyclo`.

Consider replacing controller and webhook code with the following:
[code]

**What did you expect to happen:**
No lint errors or suppressions in main.go.

/kind bug

[2019-12-20 18:36] ncdc commented on #1631
I think what we can do here is:

1. Document that we can't make any breaking changes within a released API version (additions are generally OK)
1. Document when it's ok to make things more restrictive vs when it's not (e.g. validation)
1. Define a common flag/config field for having a controller watch a single namespace

[2019-12-20 18:36] ncdc commented on #1631
And figuring out how to have a single controller operate with multiple distinct sets of credentials is optional and most likely provider specific

[2019-12-20 18:39] ncdc commented on #1625
Ok, thanks. I don't imagine anyone will work on this without more guidance, though. WDYT?

[2019-12-20 18:40] ncdc commented on #1677
Doing some milestone grooming. This is a nice to have IMHO.

/priority important-longterm
/milestone Next

[2019-12-20 18:40] vincepri commented on #1625
Right yeah, I need to take some time to enumerate all the possible events needed

[2019-12-20 18:42] joonas commented on #1727
/assign @ncdc

[2019-12-20 18:43] ncdc commented on #1718
Doing some milestone grooming. We can bring this back if we hear back.

/milestone Next

[2019-12-20 18:43] ncdc commented on #1740
cc @rosskukulinski

[2019-12-20 18:44] ncdc commented on #1743
After talking to @yastij yesterday, it sounds like a newer events API is going to remove the annotation support. The recommended path forward is to use conditions instead of events. xref #1658

[2019-12-20 18:50] ncdc commented on #1767
Is this accurate? If so, I'm not sure this is possible?

Is setting the image repository and version sufficient?

[2019-12-20 18:51] ncdc commented on #1774
If we used `/` instead of `|` would that be less confusing?

[2019-12-20 18:55] ncdc commented on #1819
Thinking about this more, the breaking changes section in the contributing guide covers this.
/close

[2019-12-20 18:55] #1819 closed

[2019-12-20 18:56] vincepri commented on #1718
This is gonna be fixed in https://github.com/kubernetes-sigs/cluster-api/pull/1947

[2019-12-20 18:56] vincepri commented on #1718
or at least part of it

[2019-12-20 18:57] ncdc commented on #1829
@vincepri since you put this in backlog, should we go to Next? Or do we need this for a3?

[2019-12-20 18:57] ncdc commented on #1840
/assign

[2019-12-20 18:58] vincepri commented on #1829
I remember chatting with @fabriziopandini about it and it seemed very low priority. I'll leave it up to him to decide if it's going into Next or this milestone

[2019-12-20 18:58] ncdc commented on #1846
Given that we're still debating the API, I'm going to remove this from the milestone for the time being. We can always bring it back if we get to a resolution and the timing works out.

/milestone Next
/remove-priority important-soon
/priority important-longterm

[2019-12-20 19:08] justinsb commented on #1242
@ncdc did you mean `controlPlaneRef == nil` or `controlPlaneRef != nil`?  Technically today if `controlPlaneRef == nil` that's precisely when we generate a kubeconfig in `reconcileKubeconfig`; I'm not sure if that is an artifact of backwards compatibility though.

At a higher level - I'm not sure I understand why I wouldn't describe my control plane in the one-cluster scenario (which is when we wa

[2019-12-20 19:32] ncdc commented on #1242
@justinsb I did mean `== nil`, but after thinking about it more, I'm not sure we can easily and accurately determine the desired behavior 100% of the time. There may be situations where you have a `controlPlaneRef` but you want to use the in-cluster config (my original thought was if you had a control plane provider, you'd always want to use the secret).

I think it's probably best to add a field

[2019-12-20 20:12] ncdc opened #1949 "Define release cycle"
We should formally define & document & adhere to a proper release cycle for this project. It doesn't have to be too heavyweight, and could look something like this:

1. Start of cycle: review all open issues (backlog grooming)
1. Feature freeze: cutoff date for deciding which features are in/out for the release
1. Code freeze: cutoff date when all new features should be ready & merged
1. Something

[2019-12-20 20:13] ncdc opened #1950 "Should we create project roles (PMs, release captains, etc.)?"
During the v1alpha2 retrospective (#1438), we talked about possibly having project roles such as project manager, release captain, etc. Is that something we still want to look into?

[2019-12-20 20:15] ncdc opened #1951 "Document personas"
As part of the v1alpha2 retrospective (#1438), we said we wanted to document personas for this project. @tashimi, @moshloop, @samba, and I met and came up with a document. This is a reminder to convert it to markdown and add it to docs/book.

[2019-12-20 20:16] ncdc commented on #1438
We are working on e2e testing and docs, and I opened issues for the other items in the list (I'm not sure about the policies doc re demos so I skipped over that - someone can open an issue if desired).

/close

[2019-12-20 20:16] #1438 closed

[2019-12-20 20:47] detiber commented on #1767
I think the idea is that a management cluster administrator could provide some values somehow that could be used as additional default values for clusters created by workload cluster administrators.

[2019-12-20 20:53] ncdc opened #1953 "KubeadmConfig conversion webhook cannot return errors when downconverting"
**What steps did you take and what happened:**
- Create a v1alpha3 KubeadmConfig with status.dataSecretName set
- Retrieve it as v1alpha2 (so it's converted)
- Get an error

**What did you expect to happen:**
- No error

**Anything else you would like to add:**
I checked with sig-apimachinery and conversion cannot fail because an older api version doesn't have the same fields as a newer one. In `C

[2019-12-20 20:54] ncdc commented on #1953
@detiber @randomvariable fyi

[2019-12-20 20:55] vincepri commented on #1953
/assign

[2019-12-20 20:56] ncdc commented on #1767
Ah, that makes sense. We could prototype a standalone POC that has a defaulting webhook for KubeadmConfigs that is configurable, maybe from a ConfigMap.

[2019-12-20 20:58] vincepri commented on #1953
CC @detiber given that failing conversion was suggested during review. I don’t have enough experience with conversions, I am ok with whatever is correct

[2019-12-20 20:58] ncdc commented on #1953
Slack conversation w/Jordan: https://kubernetes.slack.com/archives/C0EG7JC6T/p1576874571057600

[2019-12-20 20:58] ncdc commented on #1953
"conversion is not allowed to fail for reasons like that"

[2019-12-20 21:01] #1799 closed

[2019-12-20 21:05] detiber commented on #1953
My suggestion for failing downconversion was specifically because we weren't tackling the problem of preserving the data on downconversion...

Will we hit any issues with Option 2 if someone is using an old version of v1alpha2 APIs vendored into a client application?

[2019-12-20 21:09] ncdc commented on #1953
If they do an update instead of a patch, yes. That's why we've been pushing patch so heavily. Sounds like the annotation approach is the safest?

[2019-12-20 21:16] detiber commented on #1953
I did a quick bit of prototyping a while back to prove out the idea, and it was relatively simple to implement, just had to implement it in either the `ConvertFrom` methods, or in the `Convert_v1alpha3_<Type>_To_v1alpha2_Type>` methods, since the Spec/Status conversion methods don't have access to the annotations.

[2019-12-20 21:45] vincepri commented on #1953
Seems like an annotation on the v1a2 types is the way to go?

[2019-12-20 21:59] ncdc commented on #1953
Yes

[2019-12-20 22:15] vincepri commented on #1953
on it

[2019-12-20 22:15] vincepri commented on #1953
/lifecycle active

[2019-12-20 22:19] vukg commented on #1631
@ncdc if this  mean that we would be able to  namespace the controllers in a way to have e.g. ns-CAPx-1 and ns-CAPx-2 in management cluster, targeting different infrastructure providers of same kind, each with its own CAPx custom resources, it would cover our use case https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/528#issuecomment-562076840 very well. It would be great to s

[2019-12-20 22:23] ncdc commented on #1631
@vukg I'm not sure I entirely follow what you wrote - could you give an more detailed example please?

From your linked issue:

My suggestions above don't address this. My "common flag/config field for having a controller watch a single namespace" is essentially the `--watch-namespace` flag that we currently have in CAPI, CAPA, CAPV, etc.

[2019-12-20 23:18] justinsb commented on #1242
Thanks @ncdc - I'll try to work on a straw-man PR!

[2019-12-20 23:54] vukg commented on #1631
@ncdc I got it wrong then. The example is actually in my linked issue: CAPV in v1a2 stores credentials for vSphere in a secret managed by CAPI. This bounds one  to one vSphere cluster for creation of workload clusters. What we need is that one CAPI management cluster is able to talk to multiple different vSpheres at the same time. This can be achieved by making CAPV accept the list of credentials

[2019-12-21 00:28] figo commented on #1714
Issue been fixed with https://github.com/kubernetes-sigs/image-builder/pull/113

/close

[2019-12-21 17:47] vukg commented on #1631
The second example is actually using single CAPI management cluster with multiple CAPI Infrastructure Providers. In our concrete case we would need to have CAPV, CAPBM, CAPA and CAPO in one CAPI management cluster.

[2019-12-23 15:17] #1775 closed

[2019-12-23 16:23] #1575 closed

[2019-12-23 20:12] corrieb opened #1960 "Should CAPI pod in 0.2.8 have a kube_rbac_proxy sidecar like CABPK?"
This isn't really a bug, but means of tracking a question that was asked in Slack.

CAPBK 0.1.5 has the kube_auth_proxy sidecar and our infrastructure provider pod also uses the kube_auth_proxy. I believe it's to protect the metrics endpoint.

CAPI 0.2.8 doesn't have this sidecar configured. Curious as to whether that's an oversight or deliberate.

Thanks.

/kind feature

[2019-12-26 11:13] zdyxry commented on #1412
/remove-lifecycle stale

[2019-12-26 14:36] detiber commented on #1294
/lifecycle frozen

[2019-12-26 14:41] detiber commented on #1138
Related bootstrap provider documentation issue: https://github.com/kubernetes-sigs/cluster-api/issues/1726
Related machine infrastructure provider documentation issue: https://github.com/kubernetes-sigs/cluster-api/issues/1725
Related cluster infrastructure provider documentation issue: https://github.com/kubernetes-sigs/cluster-api/issues/1724

I believe the above issues and their associated PRs

[2019-12-26 15:26] chuckha commented on #1751
cc @kfox1111

[2019-12-26 17:51] Arvinderpal opened #1964 "Clusterctl v2: support for additional backend implementations for provider repository"
**User Story**

As an operator, I would like to customize my CAPI core and provider specific data and have clusterctl pull that data from a backend other than github.

As a developer, I would like to test my releases without having to publish them to github.

**Detailed Description**

Clusterctl v2 will support fetching CAPI core and provider specific data (i.e. component yamls, templates) directl

[2019-12-26 17:51] Arvinderpal commented on #1964
@fabriziopandini

[2019-12-26 18:51] chuckha commented on #1756
I'm going to wire up the e2es with KubeadmControlPlane objects

[2019-12-26 21:31] chuckha opened #1966 "KubeadmControlPlane web hook service name is wrong after kustomize build"
**What steps did you take and what happened:**
1. Clone this repo
2. Run `kustomize build config/default`

Here is the (very heavily reduced) output:

<summary>
<details>

[code]

</details>
</summary>

**What did you expect to happen:**
I then saw an issue creating kubeadm control planes. The web hook service "webhook-service" could not be found.

**Anything else you would like to add:**

/kind b

[2019-12-27 00:38] dippynark opened #1967 "Delegate Node drain to Cluster API controller on upgrade"
**User Story**

As a developer I would like to trigger a drain of a Node before replacing it for a upgrade.

**Detailed Description**

Cluster API does not specify the behaviour when a Machine version is changed and it is up to the infrastructure provider whether to perform an [in-place upgrade or a replace](https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/20181121-machine

[2019-12-27 14:41] chuckha commented on #1554
As I mentioned in the PR linked above, it is not possible in AWS to create two clusters in different namespaces with the same name. I have not attempted to fix the problem beyond the PoC linked above. I suspect there may be other components that do not respect name/namespace as primary key and only look at the name, but that should be easy enough to figure out with some dedicated testing and pokin

[2019-12-27 15:09] detiber commented on #1756
I'm going to start working on scale up

[2019-12-27 15:15] chuckha commented on #1966
/assign
/lifecycle active

[2019-12-27 18:29] chuckha commented on #1966
@detiber and I explored a number of options:

1. Add a secondary service for the control plane web hook that maps to the same place as the core web hook service. This will need an additional certificate, but once this was all wired up the control plane web hook was looking at the wrong service.

I need to figure out how the web hooks are associated with each service to continue down this path.

2.

[2019-12-27 22:05] detiber commented on #1966
I've attempted various ways to try and patch the mutatingwebhookconfiguration and validatingwebhookconfirguration in various ways to patch the service name without having the service present, and for some reason it doesn't seem to be able to match.

[2019-12-28 12:26] fabriziopandini commented on #1829
I'm ok in keeping this in the milestone for now

[2019-12-28 12:37] fabriziopandini commented on #1584
@ncdc As far as I know the current API for CABPK is enough for most of the use-cases, so IMO this is a backlog and can be moved to the next milestone.

[2019-12-28 12:57] fabriziopandini commented on #1964
I think the idea of a pluggable backend should be preserved (and eventually improved)

@Arvinderpal please be aware that currently, the work on new backends is on hold on the clusterctl [tracking issue](https://github.com/kubernetes-sigs/cluster-api/issues/1729) because most probably there will be some rework in the Repository interface, due to new requirements under definition for supporting upgr

[2019-12-28 13:22] fabriziopandini commented on #1890
@vincepri if I follow this thread/[the code](https://github.com/kubernetes-sigs/cluster-api/blob/83c7edf23e727d89880f3adc697a9db41488e98c/Makefile#L296-L301) properly there will be 4 YAML for each cluster-api project release:
1. `core-components.yaml` (capi core components)
2. `bootstrap-components.yaml` (kubeadm bootstrap provider components)
3. `controlplane-components.yaml` (kubeadm control pla

[2019-12-28 13:38] fabriziopandini commented on #1373
Clusterctl is a consumer of this info, but nothing prevents other tools to use them as well, so I prefer metadata.yaml

@akutz have in in mind some specific use case for "more"?

[2019-12-28 15:22] vincepri commented on #1412
This seems to be a documentation issue that should be covered in in https://master.cluster-api.sigs.k8s.io/architecture/controllers/machine.html#required-status-fields-1

[2019-12-29 05:32] zdyxry commented on #1412
yes, I will close this issue.

[2019-12-29 05:33] #1412 closed

[2019-12-29 12:20] dippynark opened #1970 "kubeadm bootstrap provider does not take into account Cluster APIServerPort"
**What steps did you take and what happened:**
- Create a cluster with a non-default value for `cluster.Spec.ClusterNetwork.APIServerPort` (e.g. 6444 instead of 6443)
- Create a controller Node using the kubeadm bootstrap provider
- The generated cloud-init ignores the `APIServerPort` setting and uses the default 6443 (or whatever is specified in the controller `KubeadmConfig`).

**What did you ex

[2019-12-30 15:31] detiber commented on #1970
@dippynark It is generally expected that the infrastructure provider provides some type of persistent API endpoint for the cluster (for example, the AWS provider uses an ELB). This is the reason why the bootstrap provider doesn't currently take into account the value of cluster.Spec.ClusterNetwork.APIServerPort.

[2019-12-30 15:45] detiber commented on #1890
If we do choose to deploy 2 and 3 to a separate namespace along with the manager, we would also need to add the ability to disable the "core controllers" or have separate controller-managers for each of the providers.

We are also currently encountering an issue with deploying the kubeadmcontrolplane webhooks properly that are related to breaking out the kubeadmcontrolplane from the core component

[2019-12-30 15:52] detiber commented on #1967
@dippynark triggering an upgrade (either of the whole cluster or an individual MachineDeployment) really isn't part of the role of an Infrastructure provider, but rather something/someone above cluster-api.

It is generally expected that Machines should be immutable after creation: https://master.cluster-api.sigs.k8s.io/user/concepts.html#machine-immutability-in-place-upgrade-vs-replace and that c

[2019-12-30 16:26] fabriziopandini commented on #1890
So I see two options:
a) make the kubeadmcontrolplane and the kubeadmbootstrap as "addons" to the core provider (same namespace, same manager of CAPI)
b) make the kubeadmcontrolplane and the kubeadmbootstrap similar to any provider (dedicated namespace, dedicated manager)

a) might seems easier from a CAPI release perspective, but
- it introduces a new entity, "the addon"; the lifecyle of the addo

[2019-12-30 16:48] fabriziopandini commented on #1890
considering also the thread https://kubernetes.slack.com/archives/C8TSNPY4T/p1577721107071100, it sees that that a) brings also problems around webhooks.

So b) have also the advantage that it fits better in the kubebuilder model

[2019-12-30 18:04] chuckha opened #1971 "Extract kubeadm providers into their own manager"
Very open to feedback/changes on this issue.

***Goals***
1. Separate core components from Kubeadm specific components
1. Provide a batteries included YAML manifest
1. Provide individual components YAML manifest (core, kubeadm-bootstrap, kubeadm-control-plane)
1. Provide a release image for the core provider and the kubeadm-bootstrap provider and the kubeadm-control-plane provider.
1. Get master w

[2019-12-30 18:08] chuckha commented on #1966
Closing in favor of #1971

/close

[2019-12-30 18:08] #1966 closed

[2019-12-30 18:29] detiber commented on #1971
This should likely be core, kubeadm bootstrapper, kubeadm control plane

Similarly, should likely have the bootstrapper and kubeadm control plane listed separately here.

Should be a new manager for each of the kubeadm-based providers

Similar to above, should be separate managers.

[2019-12-30 18:47] fabriziopandini commented on #1971
+1 on splitting in three: core, kubeadm bootstrapper from the kubeadm control plane

[2019-12-30 19:11] dippynark commented on #1967
@detiber great thank you - sorry I missed that assumption

[2019-12-30 19:24] chuckha commented on #1971
oof, we want three? that seems like overkill to me, is there a time when we'd replace the kubeadm control plane and not the kubeadm bootstrapped?

[2019-12-30 19:24] chuckha commented on #1971
Does this make it easier for clusterctl?

[2019-12-30 19:24] dippynark commented on #1970
@detiber so `APIServerPort` should be the port exposed by the ELB in that scenario? [cluster_types.go](https://github.com/kubernetes-sigs/cluster-api/blob/master/api/v1alpha3/cluster_types.go#L61-L63) is saying it's the bind port.

Or you mean it doesn't matter that the bootstrap provider ignores it because the persistent API endpoint can use a different port if necessary?

[2019-12-30 19:42] detiber commented on #1971
Main reasons for preferring 3 separate controller managers over 1:
- Each are separate types of providers
- One may want to deploy the Kubeadm Bootstrapper without the Kubeadm Control Plane support
- One may want to customize the behavior of either the bootstrapper or the control plane provider for their own needs and consume the upstream variant of the other.

[2019-12-30 19:43] chuckha commented on #1971
I think in light of that, I'll put the main.go in the cluster-api/bootstrap and cluster-api/controlplane directories. Updating main description.

[2019-12-30 19:45] detiber commented on #1970
We should probably take a closer look at this after the holidays.
/cc @ncdc @vincepri

[2019-12-30 19:49] detiber commented on #1971
@chuckha I wonder if it would make sense for each of the "batteries included" providers to have it's own separate `config` directory as well, rather than the current way we are attempting to split them out today?

[2019-12-30 19:51] chuckha commented on #1971
I'd say yes, that would likely be easier. I think each provider would basically need to be a kubebuilder project. They are set up that way already right now, just missing main.go, config and makefile

[2019-12-31 07:31] SataQiu commented on #1970
/cc

[2019-12-31 09:55] fabriziopandini commented on #1964
/are clusterctl

[2019-12-31 09:55] fabriziopandini commented on #1964
/area clustrctl

[2019-12-31 09:56] fabriziopandini commented on #1964
/area clusterctl

[2019-12-31 11:53] fabriziopandini commented on #1802
I'm closing this because the first part of the contract was documented by https://github.com/kubernetes-sigs/cluster-api/pull/1893, while the missing parts are tracked in separated issues
/close

[2019-12-31 11:53] #1802 closed

[2019-12-31 18:15] #1967 closed

[2019-12-31 18:49] vincepri commented on #1471
Given that clusterctl fills some of this purpose, I'm gonna go ahead and close this one out.

/close

[2019-12-31 18:49] #1471 closed

[2020-01-02 11:46] dippynark opened #1979 "Add aggregation rule to manager-role"
**User Story**

As a developer I would like to aggregate my provider specific RBAC with the Cluster API manager-role to allow Cluster API controllers to interact with my resources

**Detailed Description**

Non SIG Cluster Lifecycle-sponsored provider subprojects cannot use the [cluster.x-k8s.io](https://github.com/kubernetes-sigs/cluster-api/blob/a26471f9f279ea37863cecf3148433367dd46a47/config/rb

[2020-01-02 15:10] dippynark opened #1983 "Cluster API manager and kubeadm bootstrap provider do not take into account infrastructure cluster controlPlaneEndpoint"
**What steps did you take and what happened:**
- Create a cluster using any infrastructure provider that sets `infrastructureCluster.spec.controlPlaneEndpoint` after provisioning a load balancer
- Create a controller Node using the kubeadm bootstrap provider without specifying `clusterConfiguration.controlPlaneEndpoint` in the kubeadm config
- The cluster api manager ignores the `infrastructureClu

[2020-01-02 15:38] vincepri commented on #1979
/milestone v0.3.0
/priority important-soon

[2020-01-02 15:45] dippynark commented on #1983
controlPlaneEndpoint is a v1alphav3 concept - v1alpha2 uses `infrastructureCluster.status.apiEndpoints` which kubeadm bootstrap provider does take account of

[2020-01-02 15:45] #1983 closed

[2020-01-02 16:36] vincepri opened #1984 "MachineDeployment annotations should be under x-k8s.io"
The annotations described in https://github.com/kubernetes-sigs/cluster-api/blob/master/controllers/mdutil/util.go#L42-L53 are still under the old domain. They should be moved under the new `x-k8s.io` domain for consistency.

As part of this change, we need to add support in the conversion logic between the old/new annotation.

/kind cleanup
/help

[2020-01-02 16:49] vincepri commented on #1780
/lifecycle active

[2020-01-02 18:48] ncdc commented on #1971
Another data point, FYI: when you combine multiple controllers in a single process, they all share the same shared informer caches for cluster, machine, etc. (less overall memory usage). When you split them into multiple processes, they can't share (more overall memory usage).

[2020-01-02 18:53] chuckha commented on #1971
Do we have data points on our memory usage? This is good to be aware of but until we can show that there is a significant difference and people actually care about really pushing the memory footprint down, we can avoid hacks by keeping the managers separate. This also makes it easier for folks to simply not use our bootstrap provider or control plane provider if they want to implement their own.

[2020-01-02 19:02] ncdc commented on #1971
I don't, no. Just mentioning it so you're aware. And I don't have any objections to splitting them up. Also, anyone extremely conscious about memory could potentially build a custom binary that incorporates whatever controllers they need (e.g. core + bootstrap + control plane + infra).

[2020-01-02 20:13] vincepri commented on #1953
Any preferences regarding the annotation name?

[2020-01-02 20:19] fabriziopandini commented on #1631
@ncdc
I'm ok with documenting requirements if we can get https://github.com/kubernetes-sigs/cluster-api/pull/1986 to merge, because this PR de facto makes sure that the different instances of the providers are sharing only CRDs, and CRD changes are already strictly ruled.

[2020-01-02 20:25] detiber commented on #1953
`<type>.cluster.x-k8s.io/compat-<fieldpath1>.<fieldpath2>...`?

[2020-01-02 21:07] vincepri commented on #1953
I was more leaning towards marshaling the entire object and avoid any dynamic annotation, wdyt?

[2020-01-02 21:17] detiber commented on #1953
@vincepri wouldn't that introduce complications on how to properly merge the resources during a later conversion?

[2020-01-02 21:19] vincepri commented on #1953
What do you mean? We wouldn't just unmarshal the entire object in the destination, we'll use the information saved to convert only fields that need this kind of manual conversion.

[2020-01-03 10:46] fabriziopandini opened #1988 "Define constraints for upgrades crossing ClusterAPIVersion (e.g. v1alpha2-->v1alpha3)"
**User Story**

As an operator, I would like to upgrade my management cluster to the ClusterAPIVersion for taking advantage of the new features

**Detailed Description**

This is the first time in cluster API that we are supporting upgrades crossing ClusterAPIVersion e.g. v1alpha2-->v1alpha3, or more generically from CAPI-vCurrent to  CAPI-vNext.

Each provider is implementing its own bits, like e

[2020-01-03 14:47] fabriziopandini opened #1989 "Add label to provider components for easier clusterctl adoption"
**User Story**

As an operator I would like to start using clusterctl with my existing management cluster because clusterctl is awesome  😉

**Detailed Description**

When installing a provider, clusterctl v2 makes some opinionated choices to simplify the management of upgrades/other lifecycle operations.

One of these choices is to mark all the provider components with the `clusterctl.cluster.x-k8

[2020-01-03 15:33] enxebre opened #1990 "Machine Health Checking tracking issue"
# Machine Health Checking implementation
Implements https://github.com/kubernetes-sigs/cluster-api/pull/1684
## Foundational patterns
- [x] Merge new types
  - MachineHealthCheck
  - MachineHealthCheckList
  - MachineHealthCheckSpec
  - UnhealthyCondition
  - MachineHealthCheckStatus
- [x] Merge Minimal reconciling skeleton logic unit tested
## Logic Implementation
- [x] Flesh out unit tested reco

[2020-01-03 18:02] vincepri commented on #1631
Reopening to finish up the documentation part

[2020-01-03 21:05] detiber commented on #1756
@dlipovetsky are you still planning on working on delete?

[2020-01-05 19:06] fabriziopandini opened #1993 "Implement a shared framework for creating test objects"
The PR https://github.com/kubernetes-sigs/cluster-api/pull/1977 is introducing a framework that creates test objects (clusters, machines etc.), taking care of all the relations/ancillary objects like secrets etc.etc.

As per comment https://github.com/kubernetes-sigs/cluster-api/pull/1977#discussion_r362238933, the framework, currently specifically designed for clusterctl move, might come in handy

[2020-01-06 11:46] randomvariable commented on #1714
/open

Found a problem with https://github.com/kubernetes-sigs/image-builder/pull/113

`runcmd` is in the cloud-config stage, not cloud-final.

Three options at resolution:

#### Option 1
Change the override to be WantedBy cloud-config instead of cloud-final

**Pros**:
- Two line change to image-builder

**Cons**:
- May really want to allow cloud_config to be staged before containerd:

For referen

[2020-01-06 11:56] randomvariable commented on #1714
/reopen

[2020-01-06 14:28] fabriziopandini commented on #1490
WIP in https://github.com/kubernetes-sigs/cluster-api/issues/1490

[2020-01-06 14:41] fabriziopandini commented on #1525
Ok, the annotation address the problem of stopping controllers to reconcile objects before move.

However, there is still two problems to be addressed:
1. How to move "generic" hierarchies of objects for swappable control-plane/infrastructure/bootstrap providers. (in v1alpha2 everything was 1 level unstructured object, now there are cases with nested hierarchies of objects e.g. CAPV, CACPK)
2. If/

[2020-01-06 14:46] akutz commented on #1525
Thank you @fabriziopandini,

Number one is super important to CAPV. We have numerous resources unknown to CAPI's core CRDs, but our entire graph is still reachable via owner refs. We **need** the _move_ operation to support descendant discovery via owner refs, or the _move_ will not work for CAPV.

[2020-01-06 14:57] #1971 closed

[2020-01-06 17:15] #1979 closed

[2020-01-06 17:59] chuckha opened #1998 "Push job is broken"
**What steps did you take and what happened:**
https://prow.k8s.io/?repo=kubernetes-sigs%2Fcluster-api

This is blocking me moving forward with e2es since the additional managers are not getting images pushed.

/kind bug
/assign

[2020-01-06 18:08] ncdc commented on #1998
I think we're hitting a 20-minute max time for a single cloud build

[2020-01-06 18:08] ncdc commented on #1998
Yes, `1200s` in `cloudbuild.yaml`.

[2020-01-06 19:53] chuckha commented on #1998
/active

[2020-01-06 20:12] #1998 closed

[2020-01-06 20:26] dlipovetsky commented on #1756
@detiber I was out over the holidays. Yes, working on it!

[2020-01-06 21:08] vincepri opened #2002 "Write conversion unit tests"
As a follow-up to #1992, we need to write some unit tests in a `conversion_test.go` file that goes alongside our `conversion.go` files that unit-tests conversions from v1alpha2 -> v1alpha3 and vice-versa.

/kind cleanup
/milestone v0.3.0
/priority important-soon

[2020-01-06 21:54] vincepri opened #2006 "Reconcile external methods in Cluster and Machine should respect Paused behavior"
As a follow-up to #1985, we need to add support for the Cluster and Machine reconciler to stop the reconciliation on external objects if the objects have the pause annotation.

/kind feature

[2020-01-06 21:54] vincepri commented on #2006
/priority important-longterm
/help
/milestone v0.3.0

[2020-01-07 04:55] prankul88 commented on #1930
@vincepri @detiber Thanks
/lifecycle active

[2020-01-07 12:57] randomvariable commented on #1756
Another task:
As per https://kubernetes.slack.com/archives/C8TSNPY4T/p1578398060157200, ensure ownerreferences are set on downstream objects

[2020-01-07 13:37] fabriziopandini commented on #1525
/lifecycle active
For the clusterctl part

[2020-01-07 14:15] avorima commented on #1559
@ncdc Sorry for the late response. Yes, I'd still like to finish this.

Regarding the docs: IMO the initial steps for creating a bootstrap provider are implicitly documented in the implementer's guide for cluster providers. Should I assume the reader is aware of this and focus on the steps that are specific to bootstrap providers or should it be a self-contained section?

[2020-01-07 15:38] akutz commented on #1749
Related to https://github.com/kubernetes-sigs/cluster-api/issues/1767. Not exactly a dupe, but it's using `ConfigMap` resources to provide defaults to various parts of CAPI.

[2020-01-07 15:41] vincepri commented on #1756
Seems we're already setting controller owner references:
- https://github.com/kubernetes-sigs/cluster-api/blob/master/controlplane/kubeadm/controllers/kubeadm_control_plane_controller.go#L341
- https://github.com/kubernetes-sigs/cluster-api/blob/master/controlplane/kubeadm/controllers/kubeadm_control_plane_controller.go#L412
- https://github.com/kubernetes-sigs/cluster-api/blob/master/controlplane

[2020-01-07 19:06] chuckha opened #2009 "Bootstrap init lock does not have a cluster label"
**What steps did you take and what happened:**
Every object cluster api is responsible for creating should have a label that associates the object with a cluster.

The config map that is used for locking the kubeadm bootstrap init process does not contain the label, but does have an owner reference.

**What did you expect to happen:**
I expected the config map to have a cluster label

/assign
/lif

[2020-01-07 19:18] #2009 closed

[2020-01-07 22:08] dlipovetsky opened #2016 "Control plane should scale up serially, not in parallel"
We recently implemented [control plane scale up](https://github.com/kubernetes/kubeadm/issues/1793). If the desired number of control plane machines exceeds the actual number, and at least one control plane machine exists, the controller will create multiple machines in parallel. (Once created, each machine runs `kubeadm join --control-plane`).

I think we should scale up control planes serially.

[2020-01-07 22:11] dlipovetsky commented on #2016
#1902 is required to scale the control plane serially.

[2020-01-07 22:28] dlipovetsky commented on #1902
@randomvariable  Are you creating some etcd utils as part of this? The reason I ask is that, the control plane controller needs to talk to etcd to remove a member as part of deleting a control plane replica. I'd like that to talk to etcd using the same mechanism as the healthchecks. The control plane CAEP mentions two options

Do you have a preference? I think pod exec'ing makes it easier to acces

[2020-01-08 16:10] chuckha commented on #1756
https://github.com/kubernetes-sigs/cluster-api/pull/2015 This is on hold until delete is implemented. I'll start working on scale down or investigate the issue with parallel vs serial scale up https://github.com/kubernetes-sigs/cluster-api/issues/2016

[2020-01-08 17:03] chuckha opened #2021 "Bump concurrency of CAPD workers to 10"
**User Story**
CAPD is only running 1 worker but should be running more. The tests show it's blocking on the 3 node control plane during the last two control plane node joins for about a minute on each joining control plane. That wait time is not strictly necessary and could be the difference between timing out and not.

/help
/good-first-issue

**Anything else you would like to add:**
Feel free t

[2020-01-08 17:56] ncdc commented on #1850
I meant to circle back to this a while ago and never did... I don't think there is anything stopping either the Cluster or KubeadmConfig pieces from continuing to work the way they did before KubeadmControlPlane. Would it be ok to close this and either reopen or file a new issue if we find there are things that break the behavior?

[2020-01-08 18:42] ncdc commented on #1850
Discussed in the community meeting. Closing.
/close

[2020-01-08 18:42] #1850 closed

[2020-01-08 18:43] #1780 closed

[2020-01-08 18:44] ncdc commented on #1926
Closing due to age. If this is for kubeadm proper, please file an issue at https://github.com/kubernetes/kubeadm.

/close

[2020-01-08 18:44] #1926 closed

[2020-01-08 18:44] vincepri commented on #2021
/milestone Next

[2020-01-08 18:48] ncdc commented on #1960
It's possible the sidecar came from a newer version of kubebuilder generation. We'll investigate & make sure this is consistent.

[2020-01-08 18:54] dlipovetsky commented on #2016
I think we meant to spell this out in the proposal; I will file a PR to update it.

[2020-01-08 19:26] neolit123 commented on #1926
@adiastra
kubeadm looks for `docker` command in PATH.
if the command is not present there there is no way to execute commands such as `docker pull`.
adding "snap" detecting is a non-goal for kubeadm.

you either need to make sure the `docker` command works, or not install docker from snap.

[2020-01-08 19:55] chuckha commented on #1946
/lifecycle active

[2020-01-08 19:58] chuckha commented on #1921
The job that triggers on PR does not use the local branch and instead pulls master. It should first build all the docker images and then load them into kind.

[2020-01-08 20:09] #1946 closed

[2020-01-08 20:47] ncdc commented on #1559
@avorima I'm tempted to say self-contained, or find some way to reorganize the cluster one so that there's a common section and then sections specific to cluster & bootstrap providers. @vincepri wdyt?

[2020-01-08 20:54] ncdc commented on #1902
@dlipovetsky I believe @randomvariable is planning on using port-forward, and he's working on a library and the plan is to open up a PR real soon.

[2020-01-09 09:28] prankul88 opened #2028 "Unable to make cluster object using docker provider"
**What steps did you take and what happened:**
I have been following https://master.cluster-api.sigs.k8s.io/user/quick-start.html for setting CAPI with docker provider. I was able to do just fine with the management cluster. When applying cluster object I got an unusual error:
 `unable to recognize "cluster.yaml": no matches for kind "Cluster" in version "cluster.x-k8s.io/v1alpha3"`
`unable to rec

[2020-01-09 14:39] ncdc commented on #2028
https://master.cluster-api.sigs.k8s.io/user/quick-start.html is the documentation for the bleeding edge master branch of the repository. I see you wrote you're using cluster-api v0.2.8 - is that correct? If so, that does not contain the v1alpha3 api version. If you are using v0.2.8, you should follow the instructions at https://cluster-api.sigs.k8s.io/user/quick-start.html, which is for the stable

[2020-01-09 17:07] noamran commented on #1960
/assign

[2020-01-09 17:36] prankul88 commented on #2028
@ncdc Correct. I didn't realise that the CAPI components applied were of v2.
In the quick start section of the link I was following, it has referred to v0.2.8 for installing CAPI components. Would it be nice to change that?

Otherwise, this issue is not valid. Will close it. Thanks

[2020-01-09 17:50] ncdc commented on #2028
We'll update the quickstart when we get closer to the v1alpha3 release. At this time, however, I don't believe there are any updates we can make to it.

[2020-01-09 17:50] ncdc commented on #2028
/close

[2020-01-09 17:50] #2028 closed

[2020-01-09 18:24] #1714 closed

[2020-01-09 19:23] ncdc commented on #1970
Going forward, `Cluster.Spec.ControlPlaneEndpoint.Port` is what users should use to contact their cluster. This essentially means it is the port for the cluster's load balancer, assuming you have one.

I wonder if we still need `Cluster.Spec.ClusterNetwork.APIServerPort`?

[2020-01-09 19:25] vincepri commented on #1970
`Cluster.Spec.ControlPlaneEndpoint.Port` is meant to be set only by a controller, given that we copy it from the infrastructure provider on each reconciliation loop.

The other variable was meant to give a way for users to specify which port they wanted [the load balancer] to be exposed. It was a conversation had long times ago, but we can probably fix the meaning in this release.

[2020-01-09 19:28] ncdc commented on #1970
Long-term, my vision is that this doesn't come from a cluster infra provider, but instead comes from the MachineLoadBalancer. And there will be a place in the MLB spec for the user to specify the desired port. Which means we wouldn't need `Cluster.Spec.ClusterNetwork.APIServerPort`

[2020-01-09 19:33] vincepri commented on #1970
That's fair, until then though I'd not remove functionality that's being used / we added after a bug report, unless there is an alternative ready. wdyt?

[2020-01-09 19:34] ncdc commented on #1970
I'd generally agree, although I can't find any code that actually uses `Cluster.Spec.ClusterNetwork.APIServerPort`?

[2020-01-09 19:35] ncdc commented on #1970
Nevermind, bad searching

[2020-01-09 19:54] ncdc commented on #1970
So infrastructure providers _may_ use `Cluster.Spec.ClusterNetwork.APIServerPort` to inform which port to use for the provider's load balancer. Otherwise, this field is 100% unused by core cluster-api.

[2020-01-09 19:57] vincepri commented on #1970
Correct, that's the current intent for this field

[2020-01-09 20:52] wfernandes commented on #1727
/area control-plane

[2020-01-09 21:03] noamran commented on #1960
Summarizing a discussion with @ncdc -
In **v1alpha2**, the sidecar is enabled in [CABPK](https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/blob/master/config/default/kustomization.yaml#L29) while it’s not present in [CAPI](https://github.com/kubernetes-sigs/cluster-api/blob/release-0.2/config/default/kustomization.yaml).
This probably stems from the fact that an older versi

[2020-01-09 21:09] chuckha commented on #1960
Thanks for the update! I wondered where that came from (sidenote: I removed a period in the kubebuilder book link if you're wondering why i edited your comment)

[2020-01-09 21:26] randomvariable commented on #1727
Oh, this should have been closed by #1899
/close

[2020-01-09 21:28] ncdc commented on #1727
I was thinking this would look similar to the other spec docs (https://master.cluster-api.sigs.k8s.io/providers/cluster-infrastructure.html, https://master.cluster-api.sigs.k8s.io/providers/machine-infrastructure.html, https://master.cluster-api.sigs.k8s.io/providers/bootstrap.html). WDYT about moving the content from 1899 & adjusting its format?

[2020-01-09 22:03] chuckha opened #2034 "e2e framework over counts expected nodes"
**What steps did you take and what happened:**
The logic in the e2e test gets the length of the nodes and then doubles it. This isn't right and my tests fail saying there should be twice as many as there actually are.

/kind bug
/lifecycle active
/assign

[2020-01-09 22:07] wfernandes commented on #1480
/close
Going to close this issue since clusterctl is being re-written. We should focus more on documenting clusterctl v2.

[2020-01-09 22:07] #1480 closed

[2020-01-09 23:31] chuckha opened #2036 "Race in kubeadm bootstrap provider"
**What steps did you take and what happened:**
If you run the CAPD tests a few times you will invariable encounter a race condition during the bootstrap. Here are the logs showing the race:

[code]

The main problem is with the defer and clearing the lock. A node is identified as being a control plane node. The same node is reconciled twice. The first time it acquires the lock and saves the config

[2020-01-10 00:08] vincepri commented on #1442
/lifecycle frozen

I'm actually working on this, but getting blocked here and there

[2020-01-10 00:08] vincepri commented on #1442
/lifecycle active

[2020-01-10 00:56] neolit123 commented on #2036
`control_plane_init_mutex.go` and `kubeadmconfig_controller.go` are scary.

i think i would have approached this differently:

- wait for the infra to be ready
- the machines can race with an API client to set one of them as the "init" Machine in a ConfigMap.
- the rest can return early on `IsConflict` or `IsAlreadyExists`.
- at that point the rest can poll for the "init" Machine to become Ready.

[2020-01-10 12:14] randomvariable commented on #1727
Yes, that makes sense.

/reopen

[2020-01-10 18:04] #1373 closed

[2020-01-10 18:05] ncdc commented on #2036
/assign @chuckha

[2020-01-10 18:07] chuckha commented on #2036
@neolit123 The issue I found was a missing conditional in the check for renewing the bootstrap token: https://github.com/kubernetes-sigs/cluster-api/pull/2033/files#diff-30e1bde53085edc8226175b637d92d6bL183-L213

[2020-01-10 18:10] ncdc commented on #1554
Going through open unassigned issues in the v0.3.0 milestone. We have a decent amount of work left to do on features (control plane, clusterctl, etc). While this is an unfortunately ugly bug, I think we need to defer it to v0.4.

/milestone Next
/remove-priority important-soon
/priority important-longterm

[2020-01-10 18:12] ncdc commented on #1565
We also need to adjust the Makefile to include the docker-infrastructure-components.yaml (or whatever we call it) in each CAPI release, right?

[2020-01-10 18:13] ncdc commented on #1625
Can we roll this into the issue about conditions?

[2020-01-10 18:13] ncdc commented on #1729
/lifecycle active

[2020-01-10 18:15] noamran commented on #1561
/assign

[2020-01-10 18:21] ncdc commented on #1743
Going through open unassigned issues in the v0.3.0 milestone. We have a decent amount of work left to do on features (control plane, clusterctl, etc). I think we need to defer it to v0.4.

/milestone Next

[2020-01-10 18:23] ncdc commented on #1756
/assign @randomvariable @detiber
/lifecycle active

[2020-01-10 18:32] chuckha commented on #1782
I would be in favor of exposing a verbosity setting on kubeadm but not a generic whatever-you-want field. That would, for now, be too large of a footgun.

The verbosity flag is the one i've had numerous requests for.

[2020-01-10 18:41] chuckha opened #2041 "[e2eframework] allow generators to set manager flags"
**User Story**
We don't need to test leader election on every test and disabling leader election and metrics endpoint removes (at least on my machine) about 10 seconds of time from the whole run.

**Detailed Description**
I would like the [generators](https://github.com/kubernetes-sigs/cluster-api/tree/master/test/framework/generators) to somehow modify the kustomize they generate to do things lik

[2020-01-10 18:49] chuckha commented on #2021
/assign
/lifecycle active

I took this because it was actually really needed for speeding up the e2e test by a substantial amount (> 1 minute for the 3 node test)

[2020-01-10 19:25] dlipovetsky commented on #1782
+ 1

That's a good point. I agree that `extraArgs` is a footgun. But if it is not provided, must the user maintain their own kubeadm-based bootstrap provider? Would the user choose this over the footgun :smile:.

(For reference, there is an `extraArgs` in the kubeadm configuration, too, and one problem I have seen is that `extraArgs` values can conflict with the values of explicit fields.)

[2020-01-10 19:31] wfernandes commented on #1989
@fabriziopandini I would like to work on this issue. Unfortunately, I don't have much context on what needs to be done here so any direction would be much appreciated.
I also noticed in the description we have:

Did you want for CAPI to be `core` or `capi`?

[2020-01-10 20:22] fabriziopandini commented on #1989
@wfernandes thanks for helping!
The goal of this change is to add the two labels to all the resources in the manifest generated for the v1alpha2  branch and for master.

I'm not a kustomize expert, but AFAIK it is not possible to use the `commonLabels` option in the top-level kustomization file under `config/default`, because this will apply the labels also to label selectors, which is something I

[2020-01-10 21:46] vincepri commented on #1565
IIRC we mentioned that CAPD might go in separate releases, given that's also a separate go module

[2020-01-10 23:47] wfernandes commented on #1989
/assign

[2020-01-11 04:33] rosskukulinski commented on #1861
@ncdc can you provide a little bit more detail? Is this a v1alpha3 change?  Is this something that lands in 6 months?

[2020-01-12 18:48] vincepri commented on #1521
/lifecycle frozen

[2020-01-13 04:43] vincepri commented on #1477
/lifecycle frozen

[2020-01-13 05:21] huxiaoliang commented on #980
@gyliu513  @ncdc @detiber  I draft a proposal [here](https://github.com/kubernetes-sigs/cluster-api/pull/2045),  could you please show your comments and point to the right direction so that I can move on, thanks in advance.

[2020-01-13 10:10] iranzo opened #2046 "CONTRIBUTING link on the 'book' version is broken"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

Go to https://cluster-api.sigs.k8s.io/introduction.html

Click on `Contributor Guide` that points to: https://cluster-api.sigs.k8s.io/CONTRIBUTING.html

**What did you expect to happen:**
Get contributor guide shown

/kind bug

[2020-01-13 14:53] ncdc commented on #1861
@rosskukulinski it will be in v1a3. If you use KubeadmControlPlane, that owns the kubeconfig secret. If you opt not to use KubeadmControlPlane, the Cluster owns it.

[2020-01-13 15:13] chuckha commented on #1565
Do you think CAPD still has a place in the quickstart? It's helpful for testing but I'm not sure it's something we necessarily need to ship. This is a loosely held opinion. I don't feel very strongly about this. Basically I'm interested in supporting fewer things for users. Either way though I expect we'll be supporting CAPD for the e2e framework.

[2020-01-13 15:15] chuckha commented on #1565
cc @dlipovetsky since he added the capd quickstart guide

[2020-01-13 15:24] chuckha opened #2050 "Track control plane join race conditions via kubeadm"
Kubeadm has a bug with joining multiple control plane nodes simultaneously. Occasionally, the control plane will fail to join because not enough etcd members are ready.

We can work around this by setting a concurrency limit of 1 to the controller that is responsible for joining the control plane nodes (usually the infrastructure controller). This fixes the issue by making joining a node is a bloc

[2020-01-13 15:26] vincepri commented on #2050
Would #2016 also be a potential fix to this issue?

[2020-01-13 15:27] vincepri commented on #2046
The fix has been applied on the master branch, are you willing to backport it to `release-0.2`? https://github.com/kubernetes-sigs/cluster-api/commit/301fc1f19d3e4f1974d1d9370d4890a5fa81e139

[2020-01-13 15:29] ncdc commented on #1565
+1 to removing it from the quickstart

[2020-01-13 15:30] iranzo commented on #2046
Let me try to do it

[2020-01-13 15:31] chuckha commented on #2050
Hm yes, if folks aren't using the kubeadm control plane then they wouldn't run into this issue!

/close

This is a duplicate of #2016

[2020-01-13 15:31] #2050 closed

[2020-01-13 15:33] chuckha commented on #2016
Some interesting information regarding this issue: https://github.com/kubernetes/kubeadm/issues/2001#issuecomment-573189739

It's tracked upstream here: https://github.com/kubernetes/kubeadm/issues/1793

Until that is fixed we should indeed join serially or block on `kubeadm join` call and only run at concurrency level 1.

[2020-01-13 15:35] iranzo commented on #2046
Hopefully handled in https://github.com/kubernetes-sigs/cluster-api/pull/2052

[2020-01-13 16:15] #2034 closed

[2020-01-13 16:15] #2036 closed

[2020-01-13 16:15] #1921 closed

[2020-01-13 16:15] #2021 closed

[2020-01-13 17:23] dlipovetsky commented on #1565
Thanks for /cc'ing me @chuckha !

In my view, CAPD provides CAPI consumers (in additiona CAPI developers) a fast, low-cost way of evaluating and experimenting with the CAPI model. I believe that this, in turn, helps CAPI adoption.

I worry that CAPI consumers not be able to easily discover and use CAPD if we remove it completely from the general quick-start.

Are you concerned about breaking chang

[2020-01-13 18:02] neolit123 commented on #2050
technically the problem is in etcd.

[2020-01-13 18:38] wfernandes commented on #1989
/lifecycle active

[2020-01-13 18:51] wfernandes opened #2055 "Error message is hard to decipher"
**What steps did you take and what happened:**
1. `kind create cluster`
1. `make release-manifests`
1. `clusterctl init -b out/bootstrap-components.yaml --core out/core-components.yaml --infrastructure=aws`

Got the following error:

 Error: invalid name value: a DNS-1123 label must consist of lower case alphanumeric characters or '-', and must start and end with an alphanumeric character (e.g. 'm

[2020-01-13 19:16] nader-ziada commented on #2006
/assign

[2020-01-13 20:42] nader-ziada commented on #2006
@vincepri should the check be on `paused` status of the cluster, or the external objects themselves?

[2020-01-13 20:42] vincepri commented on #2006
Just the objects, the `reconcileExternal` methods aren't going to be called if the Cluster is Paused

[2020-01-13 20:43] vincepri commented on #1878
I did a little bit of analysis today for this issue. Given that we already have images being pushed by prow, I think we can do the following:

- Use GitHub actions to run a job when a new tag gets created
   - Has the benefit of already having the GITHUB_TOKEN included when it runs
- Run `make release-notes` to generate the release notes
- Run `make release` to generate output artifacts
- Use `hub

[2020-01-13 20:44] vincepri commented on #1878
This seems the only item that I haven't thought about yet, it seems there might be some limitations about github actions opening a PR in a different repository, not sure if it's doable or it has to be done manually for now.

[2020-01-13 20:54] fabriziopandini commented on #2055
@wfernandes I agree there is room for improvement there.

In the meantime let me point out to https://github.com/kubernetes-sigs/cluster-api/pull/1994 where I'm starting to document how the new clusterctl works. IT is explained e.g. which provider you can use (you are not allowed to pass YAML anymore)

Also, https://github.com/kubernetes-sigs/cluster-api/pull/2027 introduced a hack to make it poss

[2020-01-13 20:56] sadysnaat opened #2056 "e2e test failing for docker"
**What steps did you take and what happened:**
Running command for e2e test
`make -C test/infrastructure/docker test-e2e`

Both the tests fail with following error messages
[code]
**What did you expect to happen:**
Tests should pass

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version: `7b2ad211f455008

[2020-01-13 21:04] chuckha commented on #1565
I'm concerned about having too large of a support surface area and not enough people to continue to pull everything forward while still making progress on the core and keeping the core code stable and solid, but if fixing this issue isn't a big deal then I don't mind keeping it.

Developers will hopefully stumble upon it as it is enabled by default in the Tiltfile.

One other thing we could add a

[2020-01-13 21:09] chuckha commented on #2056
Can you include the log files as indicated by the output:

[code]

Also this is missing some log lines i was expecting to see. Can you make sure this is on master? There have been a few merges since the commit you've stated

[2020-01-13 21:20] ncdc commented on #1878
cc @fgogolli @aevaonline @wfernandes sorry for taking so long to loop you in post-KubeCon San Diego, but here are some details about automating the Cluster API release process.

[2020-01-13 21:25] vincepri commented on #1878
Going to put this one in the current release, we can revisit if we can't get it done

/milestone v0.3.0

[2020-01-13 21:27] wfernandes opened #2057 "Running clusterctl init twice results in an error"
**What steps did you take and what happened:**
1. `kind create cluster`
1. In cluster-api, `./cmd/clusterctl/hack/local-overrides.py`
1. `clusterctl init --core cluster-api:v0.3.0 --bootstrap kubeadm-bootstrap:v0.3.0 --infrastructure aws:v0.5.0`
1. Run the command again,
`clusterctl init --core cluster-api:v0.3.0 --bootstrap kubeadm-bootstrap:v0.3.0 --infrastructure aws:v0.5.0 -v 4 --force`

We ge

[2020-01-13 23:06] wfernandes commented on #1989
@fabriziopandini I noticed in the code that we are adding the labels `clusterctl.cluster.x-k8s.io=` and `clusterctl.cluster.x-k8s.io/provider=cluster-api` when creating/updating the component objects.
So if we keep this logic it will override whatever labels would have been generated as part of the kustomize manifests.

https://github.com/kubernetes-sigs/cluster-api/blob/0f62f835a81f173dffba4b5fc2

[2020-01-14 12:35] fabriziopandini commented on #2055
@wfernandes #2048 is going to fix the error message

[2020-01-14 12:55] fabriziopandini commented on #2057
@wfernandes
IMO, the cleanest approach to re-install, is to delete* first and then re-install, not to override using `init --force`(*unfortunately delete is still in pipeline).

NB. When clusterctl detect that you are trying to install a provider on top on an existing one (same provider/same namespace) it warns you with a message `Installing provider %q can lead to a non-functioning management clu

[2020-01-14 15:02] ncdc commented on #2057
I agree with what you wrote @fabriziopandini. What if we also get rid of `--force`?

[2020-01-14 15:03] fabriziopandini commented on #1989
Adding labels to the manifest is meant to simplify starting using clusterctl on a cluster created with kubectl apply manifest (without clusterctl).

The fact that when you install the same manifest clusterctl overrides the existing labels is acceptable from my point of view, but I'm not dropping the addLabels logic because there is no guarantee that all the providers are going to add labels to the

[2020-01-14 15:07] fabriziopandini commented on #2057
I'm ok with that, but we should consider that clusterctl "blocks" init in the following cases
1. When installing a provider on top on an existing one (same provider/same namespace)
2. When installing a provider that is going to watch for objects in namespaces already controlled by other instances of the same providers
3. When installing two versions of the same provider

I'm ok in blocking (withou

[2020-01-14 15:17] ncdc commented on #2057
Agreed.

[2020-01-14 15:38] chuckha commented on #2056
/priority awaiting-more-evidence
/milestone Next

[2020-01-14 18:10] dlipovetsky opened #2062 "util package: Make functions that fetch/filter many Machines consistent with one another"
The `util` package has functions that fetch or filter many machines. Some functions use the `clusterv1.MachineList` type, others use `[]*clusterv1.Machine`. Let's standardize on one.

(Issue came out this discussion: https://github.com/kubernetes-sigs/cluster-api/pull/2037#discussion_r366055528)

/priority important/long-term

[2020-01-14 18:13] dlipovetsky opened #2063 "Move relevant code from controlplane to util package"
Some functions (e.g. that fetch or filter Machines) should be moved from the controlplane package to the util package.

(Issue came out of this discussion: https://github.com/kubernetes-sigs/cluster-api/pull/2037#discussion_r366055528)

[2020-01-14 18:23] dlipovetsky opened #2064 "Kubeadm-based control plane management KEP: Decide support policy for non-control-plane workloads on control plane machines"
Control plane replicas that are machines can also run non-control plane workloads. Let's figure out how this affects
(a) control plane workloads
(b) the control plane management design

(Discussion started here: https://github.com/kubernetes-sigs/cluster-api/pull/2037#discussion_r365607020)

[2020-01-14 18:33] dlipovetsky commented on #2062
-- https://github.com/kubernetes-sigs/cluster-api/pull/2037#discussion_r365606448

[2020-01-14 18:35] dlipovetsky opened #2065 "Kubeadm-based control plane: Refactor reconcile functions"
Some code in `reconcile` and `reconcileDelete` may be pulled up into the `Reconcile` function. Please see:
- https://github.com/kubernetes-sigs/cluster-api/pull/2037#discussion_r365606562
- https://github.com/kubernetes-sigs/cluster-api/pull/2037#discussion_r365606986

[2020-01-14 19:13] vincepri commented on #1510
I think this can be closed given that we're not building latest anymore

/close

[2020-01-14 19:13] #1510 closed

[2020-01-14 20:27] jayunit100 opened #2067 ""kubectl get machinedeployments" should have more metadata, maybe support -o wide as well."
**User Story**

As a developer I'd like to see `machinedeployment` information in a similar way to how i see deployment information in a standard k8s cluster

**Detailed Description**

In general you can see the number of available pods for a deployment, and other metadata , and even more with `-o wide`... it would be nice to have some symettrey for machinedeployments... so that we can see how man

[2020-01-14 20:30] ncdc commented on #2067
xref https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/#additional-printer-columns and https://book.kubebuilder.io/reference/markers/crd.html (kubebuilder:printcolumn)

/priority important-longterm
/milestone Next
/area ux
/help
/good-first-issue

[2020-01-14 23:41] wfernandes opened #2068 "out/cluster-api-components.yaml doesn't have document separator `---`"
**What steps did you take and what happened:**
1. `make generate-manifests`
1. `make release-manifests`
1. open `out/cluster-api-components.yaml`.
1. Go to line 3877.
  Notice that there is no `---` between each document.

This is because kustomize doesn't prepend or append `---` document separator as part of `kustomize build`.
https://github.com/kubernetes-sigs/kustomize/issues/902

**What did yo

[2020-01-15 00:16] wfernandes commented on #2068
Are we running CAPI e2e in CI? I believe this would've been caught if we we were.

[2020-01-15 11:18] prankul88 commented on #2067
@ncdc Will this apply to v1a2 as well?

[2020-01-15 11:21] fabriziopandini commented on #2057
/lifecycle active

[2020-01-15 11:27] prankul88 commented on #2067
/assign

[2020-01-15 12:26] randomvariable opened #2072 "Fix glossary terminology around management clusters"
/kind bug
/area documentation

https://github.com/kubernetes-sigs/cluster-api/pull/2042, fixes a linking error, but we have confusing terminology around "target management cluster", which dates to when clusterctl v1 pivoting was the predominant way of using Cluster API.

This terminology needs to be cleaned up in relation to management and guest clusters.

[2020-01-15 12:27] randomvariable commented on #2072
/kind documentation

[2020-01-15 14:06] chuckha commented on #1756
I'm going to pick up documentation here. I don't expect it to be too verbose yet as things are still rapidly changing, but at least having an example and a high level outline should help somewhat.

[2020-01-15 14:51] jayunit100 opened #2073 "CAPBk hangs, possibly in slow API server situations?"
**What steps did you take and what happened:**
This is a subissue of  https://github.com/kubernetes-sigs/cluster-api/issues/1855

I had a cluster that was running for a long time.  A few times i did observe etcd watch failures.
Then i tried to make a new cluster via the capv, and nothing happened.
After restarting `capbk` , i found that the cluster came to life instantly.
The pod for capbk did not

[2020-01-15 14:55] jayunit100 commented on #2073
im ok closing this but just wanted to go on record w/ a concrete use case in case this plays into the priority of tackling the broader issue.

[2020-01-15 15:27] michaelgugino opened #2074 "quickstart lack of instructions to determine control plane is up"
Section: https://cluster-api.sigs.k8s.io/user/quick-start.html#usage

"After the controlplane is up and running, let’s retrieve the target cluster Kubeconfig:"

How can I determine the control plane is up and running?

/kind bug

[2020-01-15 16:03] chuckha commented on #1751
/assign
/active

[2020-01-15 16:03] chuckha commented on #1751
/lifecycle active

[2020-01-15 16:17] chuckha commented on #1751
Actual implementation still makes exec calls to docker, but this no longer uses an out-dated version of kind.

The next step is to remove the `exec` calls.

[2020-01-15 16:55] #2068 closed

[2020-01-15 17:14] vincepri commented on #1518
/lifecycle frozen

[2020-01-15 17:15] vincepri commented on #2064
Good discussion topic for weekly's meeting

[2020-01-15 17:15] vincepri commented on #2062
/help

[2020-01-15 17:16] vincepri commented on #2065
/assign
/milestone v0.3.0
/priority important-soon
/kind cleanup

[2020-01-15 17:55] ncdc commented on #2046
Fixed.
/close

[2020-01-15 17:55] #2046 closed

[2020-01-15 18:23] vincepri commented on #2074
/kind documentation

[2020-01-15 18:23] vincepri commented on #2074
/help

[2020-01-15 18:26] vincepri commented on #1524
/lifecycle frozen

[2020-01-15 22:39] dlipovetsky commented on #2064
Good point! I missed this today. I'll add it to next week's agenda.

[2020-01-16 15:20] #2057 closed

[2020-01-16 15:37] chuckha commented on #1756
Actually I'm going to pick up implementing the Failure Domain business in this controller

[2020-01-16 17:47] rhockenbury opened #2080 "Document how to attach worker nodes to any control planes"
**User Story**

I wanted to see if this use case has any merit.

A user could potentially choose to deploy the control plane for a cluster with non-cluster-api tools (kubespray, kops, and others), and then manage only the worker nodes with the cluster-api.

Here's why a user might find this desirable:

1. If a user is migrating from a tool like kubespray or kops to the cluster-api, they may want t

[2020-01-16 20:03] chuckha commented on #2073
This sounds a lot like something @akutz ran into. He found that, I believe, client-go had an infinite timeout when connecting to the API server. Is it possible this is hanging on creating a client to a non-responsive or perhaps very slow API server as you suggest?

[2020-01-16 20:12] chuckha opened #2081 "KubeadmControlPlane does not apply labels to control plane machines correctly"
**What steps did you take and what happened:**
I'm verifying right now but wanted to write this down in case I don't finish verifying today.

I do not think the KCP controller applies the correct label to control plane machines vs worker machines.

/kind bug

/assign
/lifecycle active
/milestone v0.3.0

related to #1756

[2020-01-16 21:56] chuckha commented on #2081
/close

This is incorrect right but I found a different, potential bug, will file a follow up issue

[2020-01-16 21:56] #2081 closed

[2020-01-16 22:31] chuckha opened #2082 "KubeadmControlPlane waits for nodes to be Ready"
**What steps did you take and what happened:**
The KubeadmControlPlane waits for new control plane nodes to be Ready. However, control plane nodes will never be ready without a CNI plugin installed. I don't think we should use this ready check to indicate if a machine or control plane is ready.

In the proposal we outlined this quote:

Which is true even when the Status of the Node is NotReady.

O

[2020-01-16 22:35] rudoi opened #2083 "KubeadmControlPlane Spec should be fully mutable"
**User Story**

As an operator I would like to be able to modify a `KubeadmControlPlane` in the following ways:
1. change `.spec.version`
2. change `.spec.infrastructureTemplate`
3. change `.spec.kubeadmConfigSpec`

Each of these changes should produce a result (upgrade kubernetes, change a control plane instance type, modify a kube-apiserver argument).

**Detailed Description**

We have some plan

[2020-01-16 22:38] chuckha commented on #2082
/active
/assign
/milestone v0.3.0

[2020-01-16 23:29] wfernandes commented on #1989
Todos:
- [x] Add label to CAPI
- [x] Add label to CABPK
- [x] Add label to CACPK
- [ ] Add label to CAPD
- [ ] Add label to CAPA
- [ ] Add label to CAPV
- [ ] Backport all the changes to v1alpha2 so that v1apha2 --> v1alpha3 upgrade is supported.

[2020-01-17 01:54] vincepri commented on #2067
@prankul88 Let's do this on master (v1a3) for now

[2020-01-17 04:24] prankul88 commented on #2067
@vincepri I am planning to add "Available" and "Ready" fields. Is there any other field that would be a nice addition?

[2020-01-17 14:22] ncdc commented on #2083
1 and 2 should already be in the works or implemented.

3 is a bit trickier (and currently disallowed via webhook validation). Once `kubeadm init` has executed, we're only doing `kubeadm join`s going foward, so any changes to the `ClusterConfiguration` or `InitConfiguration` in the `KubeadmConfigSpec` are not evaluated. The `JoinConfiguration` is something we could consider allowing to be mutated,

[2020-01-17 15:28] rudoi commented on #2083
Yeah!

No issues with taking our time. I was confident that there were some mechanics in the Kubeadm provider/Kubeadm itself that may complicate this, but I wanted to make sure I called it out as a use case.

I can take the lead on a proposal/design/etc if that would help.

[2020-01-17 15:36] chuckha opened #2086 "[e2e framework] Remove exec calls to kind"
**User Story**
We depend on the `kind` binary to exist, but we do not need to (for the management cluster). I believe everything used by the framework is exposed by the library as of kind@v0.7.0. But it might be best to double check. Listed below are the `kind` commands used by the management cluster creator in the framework

https://github.com/kubernetes-sigs/cluster-api/blob/master/test/framewor

[2020-01-17 17:23] vincepri commented on #2065
/lifecycle active

[2020-01-17 17:34] tahsinrahman commented on #2086
/assign

[2020-01-17 17:58] joonas commented on #1566
@prankul88 I just wanted to check-in to see if you were still planning on working on this and if there was anything you needed to move this forward?

[2020-01-17 18:00] joonas commented on #1642
@amitkumarrathore just checking-in to see if you were still planning on working on this and if there was anything you needed to be able to move this forward?

[2020-01-17 18:10] tahsinrahman commented on #2086
Create and delete looks straighforward,   https://github.com/kubernetes-sigs/cluster-api/pull/2089

But there seems no library function in kind for loading docker image.
https://github.com/kubernetes-sigs/kind/blob/28c928b772d3e4c3553eb445fe6dc0d39b59e323/pkg/cmd/kind/load/docker-image/docker-image.go#L75-L152

[2020-01-17 18:23] chuckha opened #2090 "Experiment with a kubeadm bootstrap controller rewrite to improve abstractions and unit testability"
In light of the [fake-client being deprecated](https://godoc.org/sigs.k8s.io/controller-runtime/pkg/client/fake) (thanks for keeping an eye on things @vincepri), I believe we should stay ahead of this inevitability. However, without either copying in the fake client and managing it as our own dependency the only other option provided by controller runtime is to set up a real api server and a real

[2020-01-17 18:26] #2065 closed

[2020-01-17 18:43] chuckha commented on #2086
@tahsinrahman do you think this function could work? https://github.com/kubernetes-sigs/kind/blob/master/pkg/cluster/nodeutils/util.go#L101

[2020-01-17 18:54] vincepri commented on #1943
/assign
/lifecycle active

[2020-01-17 18:56] ncdc commented on #1945
Note, this requires CRDv1 support in controller-runtime (https://github.com/kubernetes-sigs/controller-runtime/pull/752, and possibly others) and a new release of c-r, so this may take some time before it's actionable.

[2020-01-17 18:57] wfernandes commented on #1989
@fabriziopandini Regarding the following

Do I need to backport the changes to `release-0.2` or do I need to add some conversion logic for v1alpha2?

[2020-01-17 18:57] joonas commented on #1960
This was fixed in #2035 against master.

@corrieb do you need this backported for v1alpha2?

/close

[2020-01-17 18:57] #1960 closed

[2020-01-17 18:58] vincepri commented on #1945
I was planning to update to master controller-runtime when the linked PR merges, until we have a release. That way, we can move 1.16 along

[2020-01-17 18:59] joonas commented on #2002
@vincepri is there more work that needs to be done here still?

[2020-01-17 18:59] vincepri commented on #2002
Nope, this is all done

/close

[2020-01-17 18:59] #2002 closed

[2020-01-17 18:59] joonas commented on #2006
@nader-ziada are you actively working on this?

[2020-01-17 19:00] joonas commented on #2064
/area control-plane

[2020-01-17 19:10] nader-ziada commented on #2006
@joonas i haven’t started on it yet. Did you want to work on it?

[2020-01-17 19:14] amitkumarrathore commented on #1642
Yes! I will work on this.

On Fri, Jan 17, 2020, 11:30 PM Joonas Bergius <notifications@github.com>
wrote:

[2020-01-17 19:33] joonas commented on #1910
Just checked in with @sedefsavas, she'll be working on this

[2020-01-17 19:41] chuckha opened #2092 "Cluster controller does not issue a delete to the control plane object"
**What steps did you take and what happened:**
Unless we want users to delete the control plane object first and *then* the cluster to clean everything up, we need issue a delete on the control plane and find the control plane ref as a descendant of the cluster.

/kind bug
/lifecycle active
/milestone v0.3.0
/assign

[2020-01-17 19:44] chuckha commented on #2092
related to #1756

[2020-01-17 20:37] #1943 closed

[2020-01-17 20:48] wfernandes commented on #2055
/close
Closing this since it has been resolved by #2048
https://github.com/kubernetes-sigs/cluster-api/blob/1bab28806ad9a85e371d27811cf7d13695702955/cmd/clusterctl/pkg/client/common.go#L70-L72

[2020-01-17 20:48] #2055 closed

[2020-01-17 20:54] wfernandes commented on #2072
I can work on this if none are opposed 😄
/assign

[2020-01-17 21:00] ncdc commented on #2072
@wfernandes see #2042

[2020-01-17 21:01] ncdc commented on #2072
@outofmem0ry has a PR for this (with some outstanding requested edits)

[2020-01-17 21:11] #1490 closed

[2020-01-17 21:46] #2092 closed

[2020-01-17 22:09] dlipovetsky commented on #1756
Now that delete is in, I'm going to pick up scale down. While etcd healthchecks are being finished, I will work around them in some way--maybe stub them out.

[2020-01-17 22:41] wfernandes commented on #2072
@ncdc Yup. Seems like this is pretty much done. I'll assign it to @outofmem0ry
/assign @outofmem0ry

[2020-01-17 23:35] wfernandes opened #2097 "Generic labels for metrics-services deployed"
**What steps did you take and what happened:**
1. `make generate-manifests`
1. `make release-manifests`
1. `kubectl apply -f out/cluster-api-components.yaml`
1. `kubectl get services -A --show-labels`
[code]

The labels on the `capi-*-metrics-service` are `control-plane=controller-manager`. These don't seem correct.

**What did you expect to happen:**
I'd expect them to have no labels like the web

[2020-01-18 07:45] tahsinrahman commented on #2086
thanks @chuckha ! PTAL :)

[2020-01-18 16:51] #2082 closed

[2020-01-19 19:10] voor commented on #1427
/remove-lifecycle stale

[2020-01-19 20:53] fabriziopandini commented on #1427
fixed by https://github.com/kubernetes-sigs/cluster-api/pull/2061
/close

[2020-01-19 20:53] #1427 closed

[2020-01-20 06:18] sadysnaat commented on #2056
/Library/Developer/CommandLineTools/usr/bin/make docker-build
docker build --pull --build-arg ARCH=amd64 ../../.. -t gcr.io/spectro-images/capd-manager-amd64:dev --file Dockerfile
Sending build context to Docker daemon  3.012MB
Step 1/15 : FROM golang:1.13.5 as builder
1.13.5: Pulling from library/golang
Digest: sha256:9da754b545f3c03e6e6fceeb86b091a97f55b1db12b6e1bef5b0e85582db1e31
Status: Image

[2020-01-20 06:20] sadysnaat commented on #2056
[code]

[2020-01-20 06:21] sadysnaat commented on #2056
@chuckha I have tried running these test with latest master `412f6b3f13399fdb0f815f12534feee6ed5fa4d8`, please find the logs above

[2020-01-21 14:56] chuckha commented on #2041
I think the API I want is to be able to customize this struct: https://github.com/kubernetes-sigs/cluster-api/blob/master/test/framework/generators/capi.go#L35. It is used by providers, here is one such example: https://github.com/kubernetes-sigs/cluster-api/blob/master/test/infrastructure/docker/e2e/docker_suite_test.go#L95

I think it makes sense to add a field to this struct that disables leade

[2020-01-21 15:00] fabriziopandini commented on #1989
@wfernandes yes, thanks

[2020-01-21 15:04] fabriziopandini commented on #1988
@ncdc @vincepri
I'm going to implement this assuming we are not going to allow clusterctl users to mix v1alphaX and v1alphaY within the same stack of providers.
/assign
/lifecycle active

[2020-01-21 15:05] chuckha commented on #2041
@hypnoglow will be working on this!

/active

[2020-01-21 15:05] chuckha commented on #2041
whoops

/lifecycle active

[2020-01-21 15:05] chuckha commented on #2041
/assign hypnoglow

[2020-01-21 15:06] fabriziopandini commented on #1890
/assign
/lifecycle active

https://github.com/kubernetes-sigs/cluster-api/pull/2099 implements the clusterctl part of this issue (everything else should be already in place)

[2020-01-21 15:07] hypnoglow commented on #2041
/assign

[2020-01-21 15:08] fabriziopandini commented on #1631
@vincepri  this is now documented here https://master.cluster-api.sigs.k8s.io/clusterctl/commands/init.html#multi-tenancy. Is it ok to close this issue?

[2020-01-21 15:08] fabriziopandini commented on #1829
/assign
/lifecycle active

[2020-01-21 15:28] MarcelMue opened #2105 "Remove outdated bootstrap provider documentation from "3.3 Controllers" section"
/kind documentation
/area documentation

There is some outdated information in the `controllers` section of the documentation in regards to the `bootstrap provider`. See here:
https://master.cluster-api.sigs.k8s.io/architecture/controllers/machine.html#bootstrap-provider

This section should be removed so only the accurate section in the `Provider Implementers` section remains. See here:
https://m

[2020-01-21 17:04] vincepri commented on #1631
+1

/close

[2020-01-21 17:04] #1631 closed

[2020-01-21 17:38] vincepri commented on #1988
Sounds like a fair assumption to me

[2020-01-21 17:51] detiber commented on #2064
imo, we can assume that users may want to run non-control plane workloads, however I don't necessarily think we need to take that fully into account when managing the machines. Rather I would prefer that we focus on describing the behaviors so that users that wish to run non-control plane workloads on the control plane Machines will be able to design their deployment and management strategy on top

[2020-01-21 18:29] detiber commented on #1250
/lifecycle frozen

[2020-01-21 19:13] chuckha opened #2108 "kubeadm bootstrap v1alpha2 having trouble with secrets"
**What steps did you take and what happened:**
This is reported from the field. The thread in slack can be found here: https://kubernetes.slack.com/archives/C8TSNPY4T/p1579617647045800

To summarize the thread: Spinning up a cluster with a v1alpha2 bootstrap config. Seeing errors from kubeadm config controller spinning trying to create a secret and failing because the secret already exists. Becaus

[2020-01-21 19:21] vincepri commented on #2108
I'm wondering if the logic to check the `configOwner` DataSecretName is the actual problem here. Does the Machine have the `DataSecretName`?

[2020-01-21 19:26] chuckha commented on #2108
Working on repro at the moment

[2020-01-21 19:31] wfernandes commented on #1534
It seems this was done with the PR mentioned above. I'm going to close this.
/close

[2020-01-21 19:31] #1534 closed

[2020-01-21 20:26] chuckha commented on #2108
Going to wait to get the manifests and things to repro a bit easier

/remove-lifecycle active

[2020-01-21 21:07] chuckha commented on #2056
Hi @sadysnaat. I wasn't being clear. In the output you've pasted there are some lines like this:

[code]

Those lines each point to a set of logs. I'd need you to cat the manager files in those directories and paste them here in order to continue debugging.

[2020-01-21 21:18] chuckha commented on #1751
/close
#2076 closed this.

New issue:
https://github.com/kubernetes-sigs/cluster-api/issues/2086

[2020-01-21 21:18] #1751 closed

[2020-01-21 21:18] akutz commented on #2041
Hi @chuckha / @hypnoglow,

I would be careful on how this is implemented. Rather how the information is transported from input to execution.

I originally configured CAPV's tests to use a series of flags. After you did the split-up of the controller managers, I quickly realized how much overhead there is to configure e2e with flags or env vars. That's why https://github.com/kubernetes-sigs/cluster

[2020-01-21 22:02] wfernandes commented on #2072
/unassign

[2020-01-21 22:16] wfernandes opened #2115 "clusterctl init fails on kind cluster"
**What steps did you take and what happened:**
1. kind create cluster
1. In cluster-api repo, `./cmd/clusterctl/hack/local-overrides.py`
1. Ran the output of the above command, for me it was
`clusterctl init --core cluster-api:v0.3.0 --bootstrap kubeadm-bootstrap:v0.3.0 --infrastructure aws:v0.5.0 -v 4`.
I added the `-v 4` for verbose output.
1. Got the following error:
[code]
**What did you expec

[2020-01-22 14:30] fabriziopandini opened #2118 "Audit the clusterctl UX"
Before v1alpha3 is cut, we should audit the new clusterctl UX, ensuring consistency on
- commands, command helps, examples
- flags and flags shorthands (see https://github.com/kubernetes-sigs/cluster-api/pull/2099#discussion_r368408177)
- logs/output
- etc.

[2020-01-22 14:30] fabriziopandini commented on #2118
/area clusterctl
/assign

[2020-01-22 15:02] #1561 closed

[2020-01-22 15:31] detiber commented on #1588
/lifecycle frozen

[2020-01-22 15:31] johnharris85 commented on #2108
[code]

[2020-01-22 15:52] #2105 closed

[2020-01-22 16:33] kacole2 opened #2120 "Kind v0.7 no longer supports `kind get kubeconfig-path` failing to create the cluster"
**What steps did you take and what happened:**
Related to #1796 and #1801

Tried to create the management cluster
[code]

Error Log:
[code]

kind no longer supports kubeconfig-path
[code]

**What did you expect to happen:**

clusterctl to create the management cluster with kind

**Anything else you would like to add:**
 No issues with Kind 0.6.1. Seems like the 0.7 upgrade removed the flag that cl

[2020-01-22 16:35] ncdc commented on #2120
@kacole2 we are rewriting `clusterctl` and it won't be creating `kind` clusters any more. We could update the documentation in our stable branch that `kind` v0.7+ is not compatible with `clusterctl` from 0.2.x.

[2020-01-22 16:35] vincepri commented on #2120
For Cluster API 0.2.x, we suggest you to use KIND v0.5 or v0.6. We'll have support for new kind versions in v0.3+

[2020-01-22 16:45] kacole2 commented on #2120
Perfect. Thanks @ncdc and @vincepri. I was following the prior quick start material for CAPV and that's why. Will be on the lookout for v0.3

closing this issue.

[2020-01-22 16:45] #2120 closed

[2020-01-22 16:48] fabriziopandini commented on #1989
@wfernandes as per zoom discussion:

- user facing documentation should go [here](https://master.cluster-api.sigs.k8s.io/clusterctl/commands/adopt.html):
TL;DR; Labels are a precondition for the adopt command; Users can get labels for free installing latest v1alpha2/v1alpha3 manifests or add labels manually.
- documentation for providers author should go in a new "common labels" paragraph under th

[2020-01-22 17:19] wfernandes commented on #2118
I'll be happy to help with this if you need any. I was planning on going through the extensive documentation and following through step-by-step.

[2020-01-22 17:28] rbitia opened #2121 "Documentation Structure"
***Goals***
1. Take a second look at the Cluster API book documentation and how it relates to specific provider documentation
2. Re-visit documentation depending on findings of goal 1 and re-structure documentation.

***Non-Goals/Future Work***
1. Re-writing documentation

**User Story**

As a new user of Cluster API, I wasn't sure how to create a management cluster to then get started with the cl

[2020-01-22 18:17] ncdc commented on #2080
@michaelgugino to add in details on how OpenShift does this with Cluster API

[2020-01-22 18:17] dlipovetsky commented on #2064
From @timothysc in the meeting: Is a control plane machine cordoned and drained when it is deleted?

Yes; the control plane manager does not implement the delete; the Machine controller does that, and it does cordon and drain.

[2020-01-22 18:18] dlipovetsky commented on #2064
Agree with @detiber. I'd like to make this explicit in the docs, and then close.

[2020-01-22 18:28] CecileRobertMichon commented on #1782
Can I help with this one?

[2020-01-22 18:30] vincepri commented on #788
/priority backlog

[2020-01-22 18:31] ncdc commented on #1421
Need to link to image builder docs, then we can close

[2020-01-22 18:31] noamran commented on #1550
/assign

[2020-01-22 18:31] vincepri commented on #1421
@detiber do you have the new url that we need to link to?

[2020-01-22 18:32] CecileRobertMichon commented on #1782
/assign

[2020-01-22 18:36] ncdc commented on #1566
@prankul88 checking in again - any updates here?

[2020-01-22 18:37] vincepri commented on #1625
Closing this given that we'll probably tackle this when doing conditions

/close

[2020-01-22 18:37] #1625 closed

[2020-01-22 18:41] ncdc commented on #1784
Going to start doing this.
/close

[2020-01-22 18:41] #1784 closed

[2020-01-22 18:43] ncdc commented on #1855
There is work in progress for CAPA here: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1487/. We should be consistent.

[2020-01-22 18:45] ncdc commented on #1930
@prankul88 are you still working on this?

[2020-01-22 18:45] ncdc commented on #1953
This is fixed.
/close

[2020-01-22 18:45] #1953 closed

[2020-01-22 18:54] ncdc commented on #1371
Closing per meeting discussion
/close

[2020-01-22 18:54] #1371 closed

[2020-01-22 18:58] #1421 closed

[2020-01-22 19:02] ncdc commented on #1565
From today's meeting: it's nice to keep the examples. Can debate location of docs over time.

[2020-01-22 19:13] ncdc commented on #1782
Thanks @CecileRobertMichon! Could you please describe briefly what you're thinking of implementing?

[2020-01-22 21:15] MarcelMue commented on #2097
I just watched the recording of the cluster api meeting and want to pick this up.

From the meeting I am not entirely sure if the scope should just be to remove these labels for now or use the provider labels right away that were apparently discussed somewhere.

[2020-01-22 21:17] ncdc commented on #2097
Thanks @MarcelMue! The provider labels discussed elsewhere are what @wfernandes is working on: #2070 #2112

[2020-01-22 21:17] ncdc commented on #2097
/assign @MarcelMue

[2020-01-22 23:01] wfernandes commented on #2074
/lifecycle active

[2020-01-23 14:08] fabriziopandini commented on #1525
@akutz descendant discovery via owner refs is in flight; I will ping you as soon as ready

[2020-01-23 15:47] chuckha opened #2131 "Control plane failure domain handling"
Some brief background. A failure domain is a component of infrastructure that can fail. In AWS and azure these can be thought of as availability zone. In Google Cloud these are simply called zones. This concept is named failure domain to also account for other types of infrastructure isolation in environments we don't and can't know about, such as a custom bare metal environment.

There is a bit o

[2020-01-23 15:54] aaroniscode opened #2133 "Allow `clusterctl` to specify a custom Workload Cluster template"
**User Story**

As an operator I would like to be able to choose between multiple Workload Cluster templates when using `clusterctl` to create a new Workload Cluster. I might do this for a few reasons:

* Test different configurations. For example a CAPA cluster template designed to use Calico CNI and another CAPA cluster template designed to use VPC CNI.
* Test a configuration change, like adding

[2020-01-23 16:05] randomvariable commented on #2131
Think we need to clarify what an availability zone is, as I don't think a simple status field is sufficient in the final end state:

Let's take AWS and Azure separately, as they're the ones I've looked at previously:

### AWS
For AWS, the primary identifier of a host’s membership of a failure domain is the subnet, with a 1:many mapping of subnets to Availability Zones, which themselves function as

[2020-01-23 16:05] detiber commented on #2131
@chuckha my initial concerns where less about the changing of failure domains after a cluster is created as much as:
- We are consistent with the use of failure domains when they are defined. For example, if failure domains are defined we always use them, rather than having a fallback that could not set a failure domain if the controller fails to query Machines.
- A provider implements failure dom

[2020-01-23 16:20] randomvariable commented on #2131
Also, if failure domains change when they're already defined, consider a machine in a now non-existent failure domain as a candidate for replacement?

[2020-01-23 16:37] prankul88 commented on #1930
@ncdc Sorry for the delay. Will push a patch against this soon.

[2020-01-23 17:49] wfernandes commented on #2074
- [ ] Instructions for v1a2 - using kubectl
- [ ] Instructions for v1a3/ KubeadmControlPlane components.

[2020-01-23 17:55] CecileRobertMichon commented on #1782
@ncdc from looking at the thread it looks like a verbosity setting is the one that has the most demand/consensus so I'm thinking of starting there, wdyt?

[2020-01-23 18:07] chuckha commented on #1782
That would be awesome 🙏

[2020-01-23 18:36] #2006 closed

[2020-01-23 19:40] chuckha opened #2138 "Consideration for errors in util packages"
We should evaluate how we use errors and wrapping.

While it is very useful to wrap errors in order to get an accurate stack trace, it is not always the expected thing for a library function to do, especially one that isn't doing anything special with the errors at all. For example, it's very easy to make [this mistake](https://github.com/kubernetes-sigs/cluster-api/pull/2136/files#diff-7b8f8e7092

[2020-01-23 19:40] chuckha commented on #2138
/milestone Next

[2020-01-23 19:42] jayunit100 commented on #2073
not sure.  plausible though bc my infra was a little slow when i saw this.

[2020-01-23 19:47] detiber commented on #2138
I'm a bit torn on this...  One of the main reasons that we have for wrapping the errors is to improve the ability to debug the issue by giving an accurate stack trace.

The particular bug pointed out would also be relatively easier to handle if we had our own IsNotFound test for errors that automatically did the unwrapping as well. Obviously this isn't an ideal situation either.

Hopefully we can

[2020-01-23 19:49] jayunit100 commented on #1658
Just getting into CAPI internals so could be off - but - as an interim solution with long term dashboard value ---  Maybe for now just putting the right metrics for API calls in place will be a good enough workaround ---
- labels for the providers based on `infrastructureRef` will give you provider specific states
- labels such as `still_awaiting_cloud_controller`

[2020-01-23 21:11] chuckha opened #2140 "Problem with v1alpha2 references"
First off, huge shout out to @johnharris85 for finding this one and reaching out. We worked together to trace down what the problem is exactly. Strap in!

For background reading, please take a look at #2108.

Creating a cluster with the YAML in #2108 does not work. You will see the Cluster API machine controller getting stuck finding an empty `dataSecretName`. This is super weird because when we l

[2020-01-23 21:17] detiber commented on #2140
One thing we've discussed in the past is to remove the use of object references where we don't specifically need them in favor of a `<thing>Name` field, this would avoid the version issue for those use cases. Since we already know the type for these types of references, we can just use the version from the types we import and that should be sufficient to solve the problem.

For more generic extern

[2020-01-23 21:22] chuckha commented on #2041
@akutz are you planning to PR the e2e config work you've done in the linked PR? I think that would be a great starting place for the framework to manage services

[2020-01-23 21:26] akutz commented on #2041
Sí. I’ll try and get the PR open by EOD. It’s been open in VSCode since Tuesday. Things keep getting in the way.

[2020-01-23 21:34] vincepri commented on #2140
@detiber I think that wouldn't work in this case because the references can live anywhere, not just known objects like a Secret, although that would be nice :/

[2020-01-23 21:34] hpandeycodeit commented on #1984
/assign @hpandeycodeit

[2020-01-23 21:34] chuckha opened #2141 "[e2e framework] Enable conformance test suite run"
I want an e2e test that spins up a cluster, runs the kubernetes conformance tests and returns the results. This would be the first step in automating opening PRs to the kubernetes conformance repo here https://github.com/cncf/k8s-conformance.

If you're looking for inspiration, take a look at CAPA. They aren't using the framework but have implemented the conformance test running workflow.

I estim

[2020-01-23 21:35] chuckha commented on #1732
Closing this in favor of https://github.com/kubernetes-sigs/cluster-api/issues/2141

Other cases are not important right now and will be added in future as importance rises.

/close

[2020-01-23 21:35] #1732 closed

[2020-01-23 21:39] vincepri commented on #2140
I'm leaning towards having the controller fail in this case, because all the objects should be updated somehow, but I would like probably to chat a sync chat and bridge our minds for a better solution

[2020-01-23 21:41] chuckha commented on #1884
@wfernandes do you see these e2e tests as providing benefit over either the integration tests or the capd-e2e tests?

[2020-01-23 21:55] wfernandes commented on #1884
@chuckha I do believe they provide a benefit. I had a couple of issues where these tests would've caught some bugs if they were being run in CI.

- https://github.com/kubernetes-sigs/cluster-api/issues/2068
- https://github.com/kubernetes-sigs/cluster-api/pull/1958

I also believe they are stable and hopefully won't be a burden to maintain.

[2020-01-23 22:03] chuckha commented on #1884
Gotcha! thanks :)

/lifecycle active

[2020-01-23 23:40] wfernandes opened #2143 "Fix state diagram for control plane controller"
**What steps did you take and what happened:**
In the state diagram for the control plane controller (https://master.cluster-api.sigs.k8s.io/developer/architecture/controllers/control-plane.html) we have **Control plane is contactable** and both the arrows have **no**.

One of them should be a **yes**

/kind bug
/kind documentation

[2020-01-24 00:12] akutz commented on #2041
Hi @chuckha,

https://github.com/kubernetes-sigs/cluster-api/issues/2041 is now open and ready for review. Thank you for your patience.

[2020-01-24 04:20] wfernandes commented on #2143
I also noticed a couple of things as well.
1. In our code we only update `Status.ReadyReplicas` and not `Status.Ready`. I deployed KubeadmControlPlane and noticed the following
[code]
1. Also in the above, I noticed that `Status.Selector` has an empty value for `cluster.x-k8s.io/control-plane=`

If these are valid, I can open separate issues.

[2020-01-24 15:12] detiber commented on #2143
@wfernandes for your first question, I opted not to set `Status.Ready` yet, since we do not have health checks in place to make that determination, yet. It is something that we will need for release, though.

For the second question, the empty value should be fine for the `cluster.x-k8s.io/control-plane` label, We only care about the existence of the key rather than any particular value.

[2020-01-24 15:21] ncdc commented on #2140
FYI...:

I don't disagree that it could be helpful to check the value of the returned bool; however, in this specific case (at least for KubeadmConfig), I believe because dataSecretName is optional, it won't be rendered by the apiserver unless there is a non-empty string value. For bootstrap providers, the expectation is that dataSecretName remains unpopulated until the secret exists, so it's acce

[2020-01-24 15:35] detiber commented on #2140
How do they get updated, though. I'd prefer not to make it the responsibility of users to have to update all of there references. This is especially going to be tricky in places where we use the references as part of a hash to rollout changes (such as KubeadmControlPlane and MachineDeployment).

I'm partly wondering if we need to use a custom type that omits the apiversion and do discovery somehow

[2020-01-24 15:42] ncdc commented on #2140
This is unfortunately a super old issue that has no real resolution as of yet ☹️ xref https://github.com/kubernetes/kubernetes/pull/12951#discussion_r38799725

[2020-01-24 15:43] ncdc commented on #2140
We could ignore the version portion and use API discovery to determine either the ServerPreferredVersion or the StorageVersion... That probably brings its own set of edge cases though.

[2020-01-24 16:01] detiber commented on #2140
Yeah, I think that would introduce potential issues during upgrade after CRDs have been updated, but before the new controllers have been deployed.

[2020-01-24 16:56] chuckha commented on #2140
We discussed this issue in a meeting together.

The simplest path forward will be to annotate CRDs with a label that indicate which version the CRD conforms to.

An example will be more clear. If a machine has a reference to a v1alpha2 kubeadm bootstrap config, a label will be attached to the v1alpha2 kubeadm bootstrap config that says it conforms to the "v1alpha2 bootstrap config" interface. This

[2020-01-24 17:14] ncdc commented on #2140
Not the config itself, but the actual CustomResourceDefinition

[2020-01-24 17:19] prankul88 commented on #1566
@joonas @ncdc I am planning to take this forward.

This does not create the cluster object. So no issues there.

[2020-01-24 17:29] chuckha commented on #2140
thanks, updated

[2020-01-24 17:33] ncdc commented on #1566
I'm not sure what you mean. The original report states "Creating a cluster definition with the incorrect infrastructureSpec results in a cluster resource that can't be deleted...". Could you please clarify?

Let's take things one step at a time. Which scenario are you trying to address, and where is the error getting "lost"?

[2020-01-24 17:40] vincepri commented on #2064
/kind documentation
/assign @dlipovetsky
/priority important-longterm

[2020-01-24 19:01] aaroniscode commented on #2133
Some additional notes:

As @Arvinderpal pointed out in Slack, the `--flavor` flag could be used to point to different templates if the source could be changed to a different Github repository, and one where you don't have the requirement to publish a release.

Also when the filesystem backed is merged #1963, having the option to use a local template on the filesystem would be a good option to have

[2020-01-24 19:59] chuckha commented on #2108
closing in favor #2140

[2020-01-24 19:59] #2108 closed

[2020-01-25 17:13] vincepri commented on #1138
The related issues are all closed, and I think we have covered most of this in the book now.

/close

[2020-01-25 17:13] #1138 closed

[2020-01-26 15:42] johnharris85 opened #2153 "ClusterName not set everywhere when converting from v1a2 > v1a3"
**What steps did you take and what happened:**
Submit a v1a2 MachineDeployment to a v1a3 controller and get the error "`spec.Template.ClusterName` should be at least 1 chars".

**What did you expect to happen:**
Working MachineDeployment

**Anything else you would like to add:**
In the conversion step the `clusterName` is [set for the MachineDeployment spec](https://github.com/kubernetes-sigs/clus

[2020-01-27 15:07] ncdc opened #2157 "clusterctl repositories: don't exclude versions with semver build metadata"
In https://github.com/kubernetes-sigs/cluster-api/blob/54f26d7fd2b5d1c3a96e14bff717040d72fe8b9e/cmd/clusterctl/pkg/client/repository/repository_github.go#L214 and https://github.com/kubernetes-sigs/cluster-api/pull/1963/files#diff-88bc45b90b0324f78a6bea9e5c59aa26R123 (not yet merged), the github and local repositories for clusterctl exclude versions with semver build metadata. I believe we should

[2020-01-27 15:23] vincepri commented on #1587
/lifecycle frozen

[2020-01-27 16:39] #2067 closed

[2020-01-27 16:45] aojea commented on #1250
I think that this similar to what the new ingress API is just addressing with the `Gateway API`, but I may be wrong :sweat_smile:

https://kubernetes-sigs.github.io/service-apis/

[2020-01-27 17:01] ncdc commented on #1250
Maybe kinda sorta? 😄 The Gateway API has a GatewayClass (similar in idea to StorageClass, per infra/gateway provider) and then there are individual Gateways/Routes/Listeners that (if I read it correctly) are pretty generic.

What is proposed here is a generic MachineLoadBalancer type that knows how to select Cluster API Machines, with a pointer (ObjectReference) to a specific implementation (HAPro

[2020-01-27 17:07] #1989 closed

[2020-01-27 18:26] wfernandes opened #2162 "Expand columns for kubectl get kubeadmcontrolplanes"
**User Story**

As a [developer/user/operator] I would like to get more information when I run `kubectl get kubeadmcontrolplanes`.

**Detailed Description**
Currently, we only get
[code]

It would be nice to get the `Status` fields like `.Status.Ready` and/or `.Status.Initialized` instead of having to describe the objects.

/kind feature

[2020-01-27 18:28] vincepri commented on #2162
/help
/good-first-issue
/priority backlog
/milestone v0.3.0

[2020-01-27 18:58] vincepri commented on #1514
/lifecycle frozen

[2020-01-27 19:25] ncdc commented on #1514
I'd like this to be a candidate feature for v1alpha4

[2020-01-27 19:27] vincepri commented on #1514
Sounds good, it probably needs a better spec in a proposal form, but if someone wants to try to tackle that +1

[2020-01-27 20:06] fabriziopandini opened #2164 "Clusterctl logging"
**User Story**

1. As an operator, I would like to have nice output from clusterctl
2. As an operator, I would like to have knobs to increase verbosity output from clusterctl
3. As an operator, I would like to capture clusterctl output and process it easily, grabbing values when required
 4. As a developer, I would like to get the raw flaw of clusterctl output and do custom processing on it
 5. As

[2020-01-27 20:11] vincepri commented on #2164
Do we want to tackle the implementation side of this in the current milestone?

[2020-01-27 20:18] fabriziopandini commented on #2164
Yes, this or an equivalent solution should be in the milestone

[2020-01-27 20:33] hypnoglow commented on #1870
/assign

[2020-01-27 21:04] ncdc opened #2166 "MachineReconciler.getNodeReference does not use the list continue token correctly"
In MachineReconciler.getNodeReference, it looks like we have some leftover `metav1.ListOptions` from before we converted to use the controller-runtime `Client`.

I think the code should probably look like this:
[code]

Note, we need to use the continue token here because `client` is a client for the remote cluster, so it's not informer-based (which handles the continue).

/help
/good-first-issue
/

[2020-01-27 21:12] vincepri commented on #2166
/lifecycle active

[2020-01-27 21:15] ncdc opened #2168 "External watchers should key off of GroupKind, not GroupVersionKind"
Related to #2140, if we have code like this:

[code]

we probably need to change it to key off of just GroupKind. Otherwise, if we see an object reference to 2 different API versions for the same kind (e.g. v1alpha2 and v1alpha3 KubeadmConfig), we'll start 2 different `source.Kind` watchers, 1 for each API version.

We'll likely need to tie in to the fix for #2140, because if we have a v1alpha3 co

[2020-01-27 21:16] vincepri commented on #2168
This should probably go in v0.3, wdyt? Given that we'll need to find a solution before release

[2020-01-27 21:17] ncdc commented on #2168
Technically if we watch both a2 and a3 versions, it just means we get the objects enqueued more than we'd like, but I don't think this is strictly required. #2140 is, though.

[2020-01-27 21:22] chuckha commented on #2131
This is a little bit confusing, how could we reconfigure machines? We'd actually move them to the new updated failure domain list? That seems like a lot of work. I suggest we don't reconfigure anything and simply do nothing to existing machines if failure domains change.

[2020-01-27 21:25] #2166 closed

[2020-01-27 23:03] hpandeycodeit commented on #2162
/assign

[2020-01-27 23:12] wfernandes opened #2170 "clusterctl config providers yaml output doesn't work"
**What steps did you take and what happened:**
[code]
The output is not in yaml format

**What did you expect to happen:**
Expected yaml output.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version: 7816c0c01a97824103a2ee8fa8078625f0d56d36

/kind bug
/area clusterctl

[2020-01-27 23:26] wfernandes opened #2171 "View version numbers of the providers"
**User Story**

As a [developer/user] I would like to see the version of the providers available and which ones are default.

**Detailed Description**
1. `clusterctl config providers` doesn't provide the version number of the providers available.
Yet as part of `clusterctl init` and `clusterctl-settings.json` we are asked to provide a version number.
[code]
    Also in the help provided by other c

[2020-01-27 23:29] vincepri commented on #2171
+1, I'd probably also hide the URL, which is rather large

[2020-01-27 23:31] wfernandes commented on #2171
Yeah maybe that could be provided in the `yaml` output or a `--output wide` if necessary. But that's a longer term nice to have :)

[2020-01-28 08:47] vuil commented on #2164
+1 on the custom logging. The ability to allow custom processing of the logs produced would be welcomed functionality. Some basic cleansing to improve readability doesn't hurt either.

[2020-01-28 13:57] fabriziopandini commented on #1988
Question about UX for `clusterctl upgrade plan` & `upgrade apply`

Option 1:
`upgrade apply` proposes one (or more) upgrade targets and the user can only `upgrade apply` it as a whole by copying the generated command

[code]

Option 2:
`upgrade apply` proposes one (or more) upgrade targets and the user can `upgrade apply` it as a whole by copying the generated command or "cherry-pick" upgrade for

[2020-01-28 14:31] vincepri commented on #1988
I honestly like both approaches, the first one is simple and straightforward, and communicates that Cluster API works in a group, but the second  one let's folks do their own custom thing if they need to.

Which one is the easiest to implement? We can make sure the implementation is generic enough so later on we can add functionality to do the other one.

[2020-01-28 14:38] yastij opened #2176 "KubeadmControlPlane generates more machines than spec.Replicas"
**What steps did you take and what happened:**

while running CAPV's e2e tests locally, the `kubeadm_control_plane_controller` generated two control planes machines instead of one:

[code]

the specified number of replicas in my KCP:

[code]
**What did you expect to happen:**
I'd expect to have only control plane machine

**Anything else you would like to add:**

I'm not able to reproduce it again

[2020-01-28 14:40] fabriziopandini commented on #2171
If we want to make it accessible the list of versions available for a provider, I propose to change
`clusterctl config provider <provider>` instead of `clusterctl config providers` because checking the version available for all the providers in a single operation can be an expensive operation.

`clusterctl config provider <provider>` already gets acces to the repository and it already shows the de

[2020-01-28 14:44] fabriziopandini commented on #2170
Currently the output format is implemented only for `clusterctl config providers <provider-name> --output yaml`

But I agree this is not intuitive so I think we should error out in case of `clusterctl config provider --output yaml` (w/o <provider-name>) or split the current command in two so there will be no more confusion.

[2020-01-28 14:52] fabriziopandini commented on #2157
@ncdc the change is really simple but I'm not sure I understand the use case you want to address.

I expect the provider's author to publish assets/cut a release on github for major/minor releases, eventually, we can assume also pre-release asset will be published (e.g. rc for v1alpha3), but I don't expect anyone publishing release assets for buildversions.

[2020-01-28 14:56] ncdc commented on #2157
Some authors may use build metadata, so I think it's safer to include these versions.

[2020-01-28 14:56] prankul88 commented on #1566
@ncdc I will try to explain the scenarios which you had mentioned above in your comment.

This is valid,(sorry for the last comment, confused it with something else). It is stuck at "deleting" phase as expected. The delete command would try to delete the Infrastructure reference and then itself eventually. Since infraRef points to a `Kind` that doesnot exist, it is stuck in the "deleting" phase.

[2020-01-28 14:57] fabriziopandini commented on #2157
thank.
Ok in removing this so clusterctl can adapt to whatever the provider's author decides.
/assign

[2020-01-28 14:58] ncdc commented on #1566
Thanks. Could you pick one scenario and describe in detail what you'd like the user experience to be?

1. `kubectl delete ...`
2. ???
3. etc

[2020-01-28 14:59] ncdc commented on #2157
Do you want to see if a new contributor would be interested in taking this up?

[2020-01-28 15:01] chuckha commented on #1988
I'm definitely in favor of option 1 with the caveat that it reduces the number of supported use cases, but that might be a feature of the option.

I prefer option 1 because it would be much harder for the user to upgrade into an unsupported version matrix since `clusterctl` manages that complexity for them and we are still working out how to version things to make sense to the user.

I'm curious a

[2020-01-28 15:01] ncdc commented on #1988
I like the first one because it's simple, and I like the second one because it lets you decide which providers to upgrade. +1 to Vince's question - can we have both? 😄

[2020-01-28 15:01] ncdc commented on #1988
If I have to pick, I'd pick option 1, though.

[2020-01-28 15:21] prankul88 commented on #1566
@ncdc Sure. Let's take case1 where Cluster infraRef points to a Kind (CRD) that does not exist

I apply file :
[code]

Currently the output of command `k delete cluster capi-quickstart` is something like
[code]
and does not actually complete the command. Rather when I do `k get clusters`, cluster is still in "Deleting" phase.
[code]

My expected behaviour after the objects are created is something

[2020-01-28 15:21] fabriziopandini commented on #1988
I'm aligned with your opinions, 1 is safer, 2 is more flexible.

I guess the effort for implementing both is not too far from implementing only one, so my proposal is:

- to keep the output of `upgrade plan` as in option 1, so we are driving the user towards this approach
- on `upgrade apply` I will support also the `--provider` flag, so there is a backdoor for when flexibility is required

[2020-01-28 15:26] chuckha commented on #2176
Do you have the logs available for this run? I'd also be curious to see the YAML for each machine.

I see potentially why this might happen, but would like a little more information

[2020-01-28 15:31] vincepri commented on #1988
That plan sounds good to me, although the second option can be added later IMO, and we can have the action item in another issue in the next milestone.

[2020-01-28 15:49] wfernandes commented on #2170
Yes. I agree that this feature is not necessary. I don't believe that it needs to be done for the next milestone.

[2020-01-28 16:56] wfernandes commented on #2171
I guess the UX I was going for was to see in the list which of the `InfrastructureProvider`s is the default one. So in the list above, I don't know which one of `aws`, `docker` or `vsphere` InfrastructureProvider is the default.
As per the help in `clusterctl config clusters`,
[code]
Here, I'm not sure which is the default infrastructure provider until I've run the command.

[2020-01-28 16:57] ncdc opened #2181 "Remove protobuf tags from our API types"
CRDs do not currently support protobuf encoding, and we have a few fields that currently have protobuf tags on them. We should remove them to avoid confusing developers (we can add back later if/when CRDs support protobuf).

/help
/good-first-issue
/priority important-longterm
/milestone Next
/kind cleanup

[2020-01-28 17:04] fabriziopandini commented on #2171
@wfernandes the list above is the list of known providers; the list of installed providers might vary cluster by cluster, and in most cases, there is only an infra provider --> the default one.

[2020-01-28 17:25] colinlodter commented on #2181
I can take a look at this.

/assign

[2020-01-28 17:26] ncdc commented on #2181
@colinlodter thanks! Please comment `/lifecycle active` when you start working on it.

[2020-01-28 17:32] vincepri opened #2182 "Add documentation section with companies / products using Cluster API"
To give some space to users to add their own products or company to a list or table in the book. This issue is to gather a list of companies and relative descriptions regarding who uses Cluster API in the wild.

/kind documentation
/milestone Next

[2020-01-28 17:34] detiber commented on #2182
We probably need to break this up into a few different sections. For example, products that consume and build upon Cluster API should likely be grouped differently than end users directly consuming upstream Cluster API.

[2020-01-28 17:47] #1890 closed

[2020-01-28 19:14] ncdc opened #2183 "Change MachineDeployment logic that determines if a new MachineSet is needed to exclude the version portion of ObjectReferences"
**User Story**

As a user I would like to be able to change the API version of the bootstrap and infrastructure references in my MachineDeployment's template without triggering a rolling update, so I can update to newer API versions instead of staying on older, soon-to-be out of date ones.

**Detailed Description**

The following code is used to determine if the machine template in the MachineDepl

[2020-01-28 19:15] ncdc commented on #2140
FYI, #2183 is related

[2020-01-28 19:23] chuckha opened #2184 "[docs] Document how infrastructures should implement failure domain"
Infrastructure providers will need to do some extra work to enable support for failure domains.

This only applies to control plane machines, but with a little extra work on machine deployments we could extend this to work with worker nodes as well, however distributing workers across failure domains is not a high priority for v0.3.0.

I suggest that in v1alpha3, if infrastructure providers want t

[2020-01-28 19:37] #2131 closed

[2020-01-28 19:56] chuckha opened #2185 "machine controller failure domain support"
**User Story**

As a user with an existing cluster with a multi-node control plane, I'd like to start using the failure domain feature for my control plane machines without entirely recreating my cluster or manually editing my Machines.

**Detailed Description**

In the outlined scenario above, the control plane machines that exist will have no failure domain as they were created previous to v1alp

[2020-01-28 20:08] vincepri commented on #2184
Regarding generic documentation of how it should be implemented, we should add this to the v1alpha2-to-v1alpha3 document.

The failure domain feature is completely optional and opt-in as it was spec'd in #1269, we should allow for the value to be empty in v1alpha3, and consider to make it a requirement in the next version.

[2020-01-28 20:14] vincepri commented on #2183
/assign

[2020-01-28 20:15] chuckha commented on #2184
It is optional yeah, but if an infrastructure provider *wants* to implement it, I'd suggest they always populate the field, does that make sense? The provider does not have to implement this feature, but if a provider wants to support failure domain, they should always populate the failure domain field on an InfraMachine so that the user has the least amount of work to do (no work whatsoever) if t

[2020-01-28 20:16] vincepri commented on #2184
Yep! Sounds good to me, I just wanted to make sure because when I first read ` infrastructure providers always populate the FailureDomain on an InfraMachine during a reconcile` it was becoming a requirement.

[2020-01-28 20:19] chuckha commented on #2184
Ahh, I see, let me see if I can reword that so that's not the initial reaction, thanks for the feedback

[2020-01-28 20:51] tkrausjr opened #2186 "clusterctl command supporting a version flag"
**User Story**

As a consumer(Operator or Developer) of CAPI, when I follow the Providers instructions for using Cluster API I would like to know the current version of clusterctl I am running or have installed and whether it is up to date. Also for troubleshooting / logging issues it would be helpful to be able to report on the version of the executable being used.

[A clear and concise descripti

[2020-01-28 20:57] chuckha commented on #2185
/assign
/lifecycle active

[2020-01-28 20:59] #1855 closed

[2020-01-28 21:10] ncdc commented on #2186
Hi @tkrausjr, we are completely reworking clusterctl, and we already have #2061 that will be coming in v0.3.0/v1alpha3.

[2020-01-28 21:17] #1884 closed

[2020-01-28 21:22] ncdc opened #2187 "ci-cluster-api-build-release-0-2: linter is timing out"
**What steps did you take and what happened:**
Several recent builds of ci-cluster-api-build-release-0-2 have failed because the linter timed out.

e.g. https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-cluster-api-build-release-0-2/1222259416544317445

**What did you expect to happen:**
No failure

**Anything else you would like to add:**
Default timeout is 1m. Going to up it to 5m.

/kind

[2020-01-28 22:17] fabriziopandini commented on #2157
/reopen
to track that the same change is required for the FileSystem backend introduced by https://github.com/kubernetes-sigs/cluster-api/pull/1963
/help
/good-first-issue

[2020-01-28 22:20] detiber commented on #2157
/help
/good-first-issue

[2020-01-28 22:45] #2183 closed

[2020-01-29 00:08] wfernandes commented on #2157
/assign

[2020-01-29 10:14] JoelSpeed opened #2195 "Consistent imports for metav1"
There are a number of locations where the package `"k8s.io/apimachinery/pkg/apis/meta/v1"` is imported as `v1` ([example](https://github.com/kubernetes-sigs/cluster-api/blob/56c43310041d498bc2af39372550352a260c57a5/api/v1alpha3/machinedeployment_webhook_test.go#L23)), while the idiomatic import is `metav1`.

Where it is imported as `v1` it should be renamed to `metav1` for consistency.

I will try

[2020-01-29 14:15] detiber commented on #2195
/priority important-longterm
/milestone v0.3.0

[2020-01-29 14:38] JoelSpeed commented on #2195
/lifecycle active

[2020-01-29 15:06] #2195 closed

[2020-01-29 15:28] tkrausjr commented on #2186
OK thanks @ncdc  .Sorry about that I searched Issues but didnt find that one. Closing

[2020-01-29 15:28] #2186 closed

[2020-01-29 15:47] vincepri commented on #2168
/assign

[2020-01-29 16:10] rudoi commented on #2182
I don't know if this fits into this issue but we'd be happy to detail _how_ we use it as well, if that info would be interesting to people reading the docs.

[2020-01-29 16:24] #2086 closed

[2020-01-29 17:29] vincepri commented on #1622
I think this has been fixed on master / v1alpha3. We reconcile the ready value whenever it changes, can this be closed?

/cc @ncdc

[2020-01-29 17:47] detiber opened #2198 "Update Finalizer handling to use controller-runtime utilities"
**Detailed Description**

Currently we frequently use the following pattern for adding Finalizers in many controllers:

[code]

and removing Finalizers:

[code]

This was because we adopted the pattern prior to controller-runtime providing utilities around managing Finalizers. Now that [controller-runtime provides utilities for this](https://godoc.org/sigs.k8s.io/controller-runtime/pkg/controller/

[2020-01-29 18:21] vincepri opened #2200 "Remove patches for kubebuilder `control-plane` label"
Now that #2070 has been merged, the labels and selector have enough information to be unique, so the `control-plane` label, which is generated by kubebuilder, can be kept without any patches.

In particular these patches shouldn't be necessary and can be removed:
- https://github.com/kubernetes-sigs/cluster-api/blob/master/controlplane/kubeadm/config/default/manager_label_patch.yaml
- https://gith

[2020-01-29 18:25] MarcelMue commented on #2200
/assign @MarcelMue

[2020-01-29 18:25] randomvariable commented on #1902
/remove lifecycle/active

Currently working on https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1490
in case someone else wants to finish of consuming #2031 and #2030

[2020-01-29 18:26] randomvariable commented on #1902
/remove lifecycle-active

[2020-01-29 18:27] chuckha commented on #1902
@randomvariable I can take this! Why was #2031 closed? It seems to be closed with no note

[2020-01-29 18:28] randomvariable commented on #1902
Oh, I thought I left a comment. Mainly was going to a single PR with the consumption included rather than having it as an abstract package the API of which might need to be changed.

[2020-01-29 18:28] ncdc commented on #1930
@prankul88 any updates on this? Thanks!

[2020-01-29 18:29] chuckha commented on #1902
ack

/assign

[2020-01-29 18:30] ncdc commented on #1901
@chuckha opened #2184 and it has more info, so closing this one.
/close

[2020-01-29 18:30] #1901 closed

[2020-01-29 18:30] randomvariable commented on #1902
@dlipovetsky had some additional comments in that because none of the alarms actually report connectivity, you can still have a network partition and not get an error.
Suggested to do as etcdctl does, and issue a get to a known key.

[2020-01-29 18:40] detiber commented on #1642
Upstream related docs: https://kubernetes.io/docs/setup/best-practices/certificates/ https://kubernetes.io/docs/concepts/cluster-administration/certificates/

[2020-01-29 18:45] randomvariable commented on #1642
It'd be easier to write something that makes sense to users if we had an outline of the use cases.

I know one use case is "how can I use an external PKI like Vault to best secure clusters", but there's probably others.

[2020-01-29 18:52] ncdc commented on #2133
/help

[2020-01-29 18:54] daxmc99 commented on #2198
@detiber This looks like a good first issue to cut my teeth on for cluster-api.
Mind if pick it up?

[2020-01-29 18:55] chuckha opened #2201 "Update issue template to include area labels"
From our meeting today we want folks to start using area labels. We should show the list of possibilities with the instructions that one should be uncommented.

Something like this:

[code]

**Detailed Description**
The list above is entire list of of all areas available. Not all may be relevant to cluster-api.

**Anything else you would like to add:**

/kind feature
/milestone Next
/priority back

[2020-01-29 18:56] detiber commented on #2198
@daxmc99 it's all yours.
/assign @daxmc99
/lifecycle active

[2020-01-29 19:15] vincepri commented on #2201
What about just linking to the labels page instead?

[2020-01-29 19:20] detiber commented on #1642
I think the two big use cases I can think of are:
- I want create/use custom self-signed CAs
- I want to create/use custom intermediate CAs issued by an external PKI system (such as Vault, etc).

[2020-01-29 19:32] chuckha commented on #2201
sure, either way works for me. Having them in the template seems like the easiest thing for us, but a link is fine too.

[2020-01-29 20:52] fabriziopandini commented on #2170
/assign
/lifecycle active

[2020-01-29 20:53] ncdc opened #2208 "Linting needs to check our sub go modules"
**What steps did you take and what happened:**
1. Modify some code in a sub go module, e.g. test/infrastructure/docker, such that it needs to be `gofmt`-ed.
1. Run `make lint`
1. No errors reported

**What did you expect to happen:**
1. `gofmt` errors reported

**Anything else you would like to add:**
Apparently we need to invoke `golangci-lint` from the root of each go module:

1. project root (w

[2020-01-29 20:56] #2198 closed

[2020-01-29 21:08] akutz commented on #2208
Hi @ncdc,

What about just doing this?

[code]

[2020-01-29 21:10] ncdc commented on #2208
If that works, 👍 !

[2020-01-29 21:16] ncdc commented on #2208
Thanks @akutz
/assign
/lifecycle active
/help cancel

[2020-01-29 21:17] akutz commented on #2208
I'd suggest `Makefile`s in each directory that needs listing with their own lint targets. It's usually cleaner that way. That said, `abspath` does work:

[code]

[code]

[2020-01-29 21:19] vincepri commented on #2168
/lifecycle active

[2020-01-29 21:58] wfernandes commented on #2157
/lifecycle active

[2020-01-29 22:10] rudoi opened #2214 "KubeadmControlPlane should adopt existing controlplane Machines"
**User Story**

As a user I would like to be able to migrate from a v1alpha2 cluster to a v1alpha3 cluster that utilizes the KubeadmControlPlane object. To facilitate this, the KubeadmControlPlane object should be able to adopt existing v1alpha3 controlplane machines. To simplify implementation for now, this should only occur when:

- all Kubernetes version fields involved are equal
- Machine's bo

[2020-01-29 22:12] ncdc commented on #2214
Also needs to make sure the bootstrap ref is to a KubeadmConfig.

[2020-01-29 22:14] rudoi commented on #2214
/cc @chuckha who definitely has ideas on this one

[2020-01-29 22:28] #2162 closed

[2020-01-29 22:56] #2208 closed

[2020-01-30 05:04] rhockenbury opened #2217 "Windows Support: NetBIOS and Active Directory LDAP SAMAccountName restrictions on Hostname"
**User Story**

As an operator, I would like to manage windows server worker nodes with the cluster api.  Hostnames on windows are limited to 15 characters, and the hostnames that are set by the cluster api (by default in cloud-init metadata) exceed this limit.  The cluster api should support a more flexible mechanism of setting hostnames so that shorter hostnames can be set for VMs.

**Detailed D

[2020-01-30 05:28] rhockenbury opened #2218 "Windows Support"
**User Story**

As an operator, I would like to manage windows server worker nodes with the cluster api.

**Detailed Description**

Since I just went through setting up windows nodes to work with the cluster api (CAPV), I'm documenting areas of improvements / issues for better supporting windows nodes.

- [ ] Support for meeting netbios requirements for hostnames on windows server - https://github

[2020-01-30 09:13] enxebre commented on #1870
shouldn't this rather be when node is **unreachable**?

[2020-01-30 10:14] jichenjc opened #2219 "[question] where to check if target cluster doesn't have cluster-api object"
**User Story**

As a [developer/user/operator] I would like to [high level description] for [reasons]

**Detailed Description**
I am trying to migrate openstack provider from v1alpha2 to v1alpha3 with https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/503

now follow the https://master.cluster-api.sigs.k8s.io/clusterctl/commands/move.html
I am able to create a cluster (control

[2020-01-30 10:15] jichenjc commented on #2219
at my bootstrap cluster, I can see following:

[code]

[2020-01-30 15:02] chuckha opened #2223 "Fix the identified flake in CAPD"
**What steps did you take and what happened:**
The CAPD e2e flake that i'm seeing most is that kubeadm init can't run because docker isn't available on the system yet. This error can be reproduced by this minimal bash script:

[code]

Now, This is exactly what capd is doing with a few more things in between. So most of the time it works since kindest/nodes are very fast to start, but sometimes it

[2020-01-30 15:20] neolit123 commented on #2223
hm, the kindest nodes have containerd / crictl on them, no?
i don't understand if this is an issue with docker on the host or with containerd on the nodes.

this seems as a workaround for waiting for containerd to be ready on the nodes, which AFAIK should not be required. when kind moved to containerd one of the discussed benefits were that containerd starts right away, but docker does not.

[2020-01-30 15:22] chuckha commented on #2223
@neolit123 A minor conflation. Kubeadm will say that docker is required on the system (see the error log) when no container runtime is available.

containerd does start right away, but not right-away-enough, I haven't nailed down the timing because I don't think it's important, but it's a very small amount of time between starting the node and having a container runtime available. The problem is t

[2020-01-30 15:26] neolit123 commented on #2223
i see, this error might be a bit misleading because instead it's not finding any CR.
cc @rosti

if you have confirmed that this is truly required, the change seems fine.
i was under the impression that "wait for containerd" was not required. we did have that in kind though.
@BenTheElder might have better context on this topic.

[2020-01-30 15:27] chuckha commented on #2223
Try running the bash script provided. It, at least on my system, fails very reliably.

[2020-01-30 15:30] detiber commented on #2214
We *should* be able to automagically fill in the required kubeadm config info (at least the join bits, init/clusterconfig bits may be missing if the cluster was upgraded) using one of the referenced bootstrap configs, and even be able to automagically create the required infrastructure template using one of the referenced infra configs.

That said, anything we are likely to do here could potential

[2020-01-30 15:30] neolit123 commented on #2223
i have added LGTM to https://github.com/kubernetes-sigs/cluster-api/pull/2224 which will hopefully solve the flakes. but more discussion on this would be interesting, in case we see the same issues for kind, kinder and other users.

[2020-01-30 15:37] ncdc commented on #1566
@prankul88 I do not believe we'll be able to implement what you've described. When you issue `kubectl delete`, it has a `--wait` flag that defaults to true. If a resource has finalizers, the apiserver sets the deletion timestamp on the resource, and the `--wait=true` flag causes kubectl to wait for the resource's finalizers to be removed, and for the resource ultimately to be removed from etcd. If

[2020-01-30 15:53] randomvariable opened #2225 "IsControlPlane function for metav1.Object"
**User Story**

As a developer, I would like to check my InfrastructureMachine is a control plane one without retrieving the Machine via the owner reference, in order that I can apply defaults in my provider.

**Detailed Description**

the `./util` package contains the following:
[code]

Provide a variant that can do that for runtime.Object or unstructured so it can take infrastructure machines. T

[2020-01-30 15:53] rudoi commented on #2214
Does the KCP today rely on some kind of selector that could be exploited for the purpose of option 3? I think it would be a viable option to mark existing controlplane Machines in a way that tells the KCP controller to adopt.

Curious about

Wouldn't this imply that a user wants a controlplane that is partially managed by a KCP? Is that a supportable pattern?

[2020-01-30 15:58] detiber commented on #2214
I'm thinking more along the lines of opting not to use KubeadmControlPlane initially (at some point, I expect we'll make control plane required, but we specifically stated that it would not be required for v1alpha3), So I would expect this to be something like a command line flag on the controller manager (or whatever implements the automated kcp creation/adoption) that would disable the creation/

[2020-01-30 16:00] detiber commented on #2214
Yes, currently we use the same labels that we previously did manually: https://github.com/kubernetes-sigs/cluster-api/blob/065eb539766dede097e206a7b549b5902d15f14a/controlplane/kubeadm/controllers/kubeadm_control_plane_controller.go#L488-L493

Once upgrade handling is in place (prior to v1alpha3 release), this will also include another label that will act as a configuration "hash" as well. This is

[2020-01-30 16:10] ncdc commented on #2219
@jichenjc did you see the warning section in the move documentation?

These are the rough steps for a "pivot":

1. Have a source aka bootstrap management cluster (up to you to set this up)
1. `clusterctl init ...`
1. `clusterctl config cluster ... | kubectl apply -f -`
1. Wait for cluster to be up and running
1. Get the kubeconfig for the new cluster
1. `clusterctl init ...` using the new cluster'

[2020-01-30 16:12] rudoi commented on #2214
I'm digging option two:

To be more specific about some potential gotchas:
- cluster could be in a state where there are no controlplane machines with clusterConfig / initConfig in their KubeadmConfigs
- you should not be able to make a populated KubeadmControlPlane for a cluster that already has controlplane machines?
- probably others

[2020-01-30 16:30] detiber commented on #2214
Anything we do here could potentially cause issues for pivoting workflows

[2020-01-30 16:30] fabriziopandini commented on #2219
@jichenjc why are you trying to Pivot/Move while trying to upgrade? Am I missing something?

FYI, in clusterctl there is work ongoing for supporting provider upgrade, but it is not yet complete in master ATM; however, at a high level, the upgrade procedure will be:
- delete current providers components (without deleting CRD and namespaces)
- install the provider components for the new version
Duri

[2020-01-30 16:33] rudoi commented on #2214
Why's that? Naturally, I'm assuming all clusters are pivoted. :pizza:

[2020-01-30 16:34] detiber opened #2226 "KubeadmControlPlane upgrade handling for etcd/coredns/kube-proxy"
**User Story**

We need to ensure that during a KubeadmControlPlane upgrade that we are properly handling the management and upgrade of etcd/coredns/kube-proxy as part of the upgrade process. These are things that the external cluster-api-upgrade-tool do not currently address.

From slack conversation:

@detiber: etcd should be fine since it's handled by the static manifests from running kubeadm j

[2020-01-30 16:40] detiber commented on #2214
Assuming resources are pivoted, the resources are created on the remote cluster without ordering guarantees. If we try to enforce this as part of a defaulting webhook, then the KCP resource creation might fail.

If trying to handle it in the controller, then we'd have to provide asynchronous feedback to the user that the adoption process failed and would need to differentiate the adoption workflow

[2020-01-30 16:42] #2223 closed

[2020-01-30 16:43] rudoi commented on #2214
Ah, yep, understood.

This makes sense to me. I think this label may have to be unset once ownership is granted to protect future "move" workflows?

[2020-01-30 16:44] ncdc commented on #2219
@fabriziopandini I believe the "migrate" reference was just about updating the code to support v1alpha3. I'm pretty sure this is not an upgrade scenario. I think it's a pure move (pivot) question.

[2020-01-30 16:50] fabriziopandini commented on #2219
@ncdc ok, then your sequence is the right way to go.
I'm going to copy/paste into the clusterctl book because this can be useful for other users as well

[2020-01-30 16:52] ncdc commented on #2226
Note, the v1alpha2 upgrade tool supports changing etcd using the `--kubeadm-configmap-patches` feature.

[2020-01-30 16:53] chuckha opened #2227 "Investigate make-verify improvements"
**What steps did you take and what happened:**
The make-verify test can take a [long time](https://prow.k8s.io/job-history/kubernetes-jenkins/pr-logs/directory/pull-cluster-api-verify). Locally, it seems to be spending a while in  `conversion-gen`, but it could just be that the job is doing a lot. I wonder if we could split this into multiple jobs to take advantage of parallel execution on prow?

[2020-01-30 17:04] #2157 closed

[2020-01-30 17:23] vincepri commented on #2225
If you need labels, you probably need to use metav1.Object rather than a runtime one

[2020-01-30 17:26] #2153 closed

[2020-01-30 17:26] #2168 closed

[2020-01-30 18:00] BenTheElder commented on #2223
at least in kind the startup time is _incredibly_ small, especially compared to docker, however we _also_ are able to pre-load the images so we wouldn't need to wait anyhow, vs with docker where we need to `docker load` once it's ready

[2020-01-30 18:23] rudoi commented on #2214
@detiber what are the potential failure modes of purely relying on the label selector and pushing adoption logic to the top of the reconcile loop?

Looks like today we're only looking at ownerRefs:
https://github.com/kubernetes-sigs/cluster-api/blob/7cdea780c77075abec93deb26ab7d2e1f96961ea/controlplane/kubeadm/controllers/kubeadm_control_plane_controller.go#L180-L186

What if, after checking owner

[2020-01-30 19:15] detiber commented on #2214
- How do we handle the case that replicas do not match what we expect?
- How do we provide safety that the join configuration we are applying for new replicas are similar to that of existing replicas?

I think my biggest concern is that I would expect the adoption process to provide some assurances and halt reconciliation if it hits a scenario it's not expecting. The worst case scenario in my mind

[2020-01-30 19:43] chuckha commented on #2184
/lifecycle active

[2020-01-30 20:21] wfernandes opened #2230 "Leader election config maps are not deleted when provider is deleted"
**What steps did you take and what happened:**
1. Followed steps to install provider components on a `kind` cluster using `clusterctl init`.
[code]
1. Once the components were installed, I tried to delete them,
    `$ clusterctl delete --all`
1. `kubectl get configmaps --show-labels`

**What did you expect to happen:**
Expected to not see any config maps.

**Anything else you would like to add:**

[2020-01-30 20:24] ncdc commented on #2230
The leader election configmaps are created by client-go code (our manager -> controller-runtime -> client-go). Until/unless client-go supports labeling on creation, we either:

1. recognize they'll be orphaned and ignore them
1. work to adjust the client-go and controller-runtime code so we can label them on creation
1. have our managers label them post-creation

/milestone Next

[2020-01-30 20:24] ncdc commented on #2230
/remove-area clusterctl

[2020-01-30 20:42] #2170 closed

[2020-01-30 20:45] detiber commented on #2230
@ncdc I'm pretty partial to option 1

If we do want to handle additional handling, I would like to suggest that we do not pivot the configmap and let the controllers create new configmaps as they come up on the new management cluster.

[2020-01-30 20:48] chuckha opened #2231 "[e2e framework] Add resource YAML to artifact output"
**User Story**
Logs are half the story. Knowing the actual state of the cluster at the time of a failed run would be *extremely* helpful in debugging.

**Detailed Description**
In order to achieve this, we have a few options.

1. We could run `kubectl cluster-info dump` and get every object and all the logs. This is a very appealing option due to ease of implementation, but it's a little more of a

[2020-01-30 20:50] ncdc commented on #2230
Yeah, same. Also, I don't think clusterctl is moving these configmaps.

[2020-01-30 21:00] randomvariable commented on #2225
Yeah, that would also work.

[2020-01-30 21:33] rudoi commented on #2214
Two potential paths may be:
- don't pay attention at all to existing kubeadmconfigs (except for kubernetesVersion?) and allow the KCP to specify a kubeadmConfigSpec that will then be used when new machines are added. this is good because it's simple enough to implement but bad because it doesn't provide any extra guarantees.
- deep compare the joinConfig of each kubeadmConfig referenced by an exis

[2020-01-30 22:46] #2185 closed

[2020-01-30 23:20] #2074 closed

[2020-01-31 00:29] michaelgugino commented on #1870
Yes, I think it probably should be unreachable.  Unready might mean the node is able to schedule/remove pods normally, but unreachable implies the kubelet is gone/crashed/etc.

[2020-01-31 00:37] ksubrmnn commented on #2218
Hi @rhockenbury I'm currently working on this, and I've already created a POC here. I will be working on the design for this in the next month regarding the bootstrap provider and will put up the design and PR soon.

[2020-01-31 00:37] ksubrmnn commented on #2218
/assign @ksubrmnn

[2020-01-31 00:51] nader-ziada opened #2232 "Machine fails on joining cluster"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
 - was trying to create a cluster using the `azure` provider as part of testing adding v1apha3 types
- using master of cluster-api `ea93471ad`
 - the `control-plane-machine` failed to join the cluster and got stuck on the `Provisioning` state
 - the following is the kubeadm log after doing

[2020-01-31 00:51] nader-ziada commented on #2232
@vincepri @CecileRobertMichon this is the issue we discussed on slack

[2020-01-31 01:12] rhockenbury commented on #2218
That sounds great.  Did you have any thoughts about #2217 ?

[2020-01-31 01:20] rhockenbury commented on #2080
@michaelgugino - I would be interested to hear how you approach this.

[2020-01-31 02:32] jichenjc commented on #2219
@ncdc @fabriziopandini thanks a lot for your help, at v1alpha1 phase I know clusterctl is something will be called and clusterctl is responsible for pivoting and no manual or explict action is needed.
and I was told clusterctl is deprecated and will be removed (in clusterctl command line output)

[code]

so I thought it will be other methods to do the migration(pivoting) from bootstrap to new crea

[2020-01-31 04:15] vincepri commented on #2230
+1 to keep ignore the configmaps

/priority awaiting-more-evidence

[2020-01-31 04:20] vincepri commented on #2232
It seems the controller is stuck on assigning the `NodeRef` from the logs you provided. Usually the timeout means that the controller isn't able to reach the target cluster API Server.

- Have you tried to reach the target API server using the kubeconfig from the cluster's secret?
- To confirm, was the control plane actually up after you SSH'd in or were those all the logs available? If the latter

[2020-01-31 04:34] #1863 closed

[2020-01-31 14:54] ncdc commented on #2219
That's right. We didn't want to maintain the v1alpha1 implementation of clusterctl, which is why in v1alpha2 we printed out that it was deprecated. But we instead decided to redesign it entirely, which is what you're seeing in v1alpha3 (i.e. it is no longer deprecated, just 100% different).

[2020-01-31 14:59] detiber commented on #2217
The main reason for the hostname matching the Machine name is currently due to the initial implementation details of vSphere infrastructure provider. In the case of AWS and Linux hosts, there is a requirement when using the AWS cloud provider integration that the hostname must match the internal dns name of the host and we override the hostname setting via cloud-init config for each Machine we pro

[2020-01-31 15:01] chuckha opened #2234 "[capd] Clean up control control plane node get"
When CAPD tries to set the provider ID on a newly joined node it looks for a control plane node to `exec` into. It finds a random one that may or may not be finished joining the control plane. We should find the initial control plane container or any control plane container that is part of the cluster.

Here is the offending code: https://github.com/kubernetes-sigs/cluster-api/blob/master/test/inf

[2020-01-31 15:10] nader-ziada commented on #2232
the control plane vm was up and running and we could ssh to it, but these are all the logs we found. I suspect there is something wrong with the initConfiguration that is specific to Azure

[2020-01-31 15:48] rhockenbury commented on #2217
Agreed - that's certainly not a requirement.

The cloud-init metadata local-hostname is set to the Machine name (at least on CAPV) - what I would propose is flexibility with how local-hostname metadata gets set, so that it's not necessarily set by default to the Machine name.

[2020-01-31 15:50] michmike commented on #2218
cc: @benmoss

[2020-01-31 18:06] nader-ziada commented on #2232
after further investigations, the API endpoint of the Azure cluster was not set correctly. Will close this issue.

/close

[2020-01-31 18:06] #2232 closed

[2020-01-31 20:57] ncdc opened #2240 "Upgrade to a newer cert-manager"
**User Story**

As a developer/user/operator I would like to upgrade to a newer version of cert-manager to stay up to date.

**Detailed Description**

We are currently using cert-manager 0.11. The current version is 0.13, and it has some internal changes that we'll have to accommodate (there is no longer an apiserver, so how we wait for cert-manager to be up in clusterctl and tilt will have to cha

[2020-01-31 21:01] detiber commented on #2240
Do we need to also try and push this change into kubebuilder as well?

[2020-01-31 21:03] ncdc commented on #2240
Sure (this is longterm so I'm just writing it down so we don't forget - no need to spend any energy thinking about it right now 😄)

[2020-01-31 21:30] chuckha opened #2241 "[kubeadm control plane] Scale up / Scale down"
**User Story**
KubeadmControlPlane should be able to scale a control plane up and down.

**Detailed Description**
Scale up and scale down means modifying the number of replicas on a KubeadmControlPlane object. This will cause the controller to remove or add members. In the case of remove it will remove the oldest members first. This was selected as the best option as it synergizes with upgrades th

[2020-01-31 21:30] chuckha commented on #1756
https://github.com/kubernetes-sigs/cluster-api/issues/2241

Scale up / Scale down

[2020-01-31 21:42] chuckha opened #2242 "[kubeadm control plane] upgrades"
**User Story**
KubeadmControlPlane should be able to upgrade control planes.

**Detailed Description**

This is going to be integrating the upgrade-tool into the code base as well as require some type of health checking. This will use the same strategy that scale up and scale down will use. Please see #2241 for more detail about health checking.

**Anything else you would like to add:**

/kind fea

[2020-01-31 21:43] chuckha commented on #1756
https://github.com/kubernetes-sigs/cluster-api/issues/2242

Upgrades

[2020-01-31 21:49] chuckha opened #2243 "[kubeadm control plane] health checks"
**User Story**
In order to support cluster operations (scale up, scale down, upgrade), the controller must know if the cluster is in a state to run the operations. To this end we need a health check library for those features to use.

**Detailed Description**

Please see the health checks in issue https://github.com/kubernetes-sigs/cluster-api/issues/2241.

This requires a central library that wil

[2020-01-31 21:49] chuckha commented on #2243
/assign @randomvariable

Also assigning naadir since he did the bulk of the thinking on this one 🙏

[2020-01-31 21:49] chuckha commented on #1756
https://github.com/kubernetes-sigs/cluster-api/issues/2243

Health checks

[2020-01-31 21:52] chuckha opened #2244 "[kubeadm control plane] documentation"
**User Story**

We need to shape up our documentation story by the end of the milestone.

**Detailed Description**

We need to have

* Quickstart
  * An example of a KubeadmControlPlane
* How to scale up
* How to scale down
* How to upgrade
* How to fix a damaged node by deleting it
* How to implement a control plane provider

/kind documentation
/milestone v0.3.0
/priority important-soon

[2020-01-31 21:52] chuckha commented on #1756
https://github.com/kubernetes-sigs/cluster-api/issues/2244

Documentation

And with that, we can close this issue

/close

[2020-01-31 21:52] #1756 closed

[2020-02-01 03:00] jichenjc commented on #2219
ok, got it ,I will read the doc again and try the steps above then work on my PR ( will post result and everything fine will close this issue), thanks

[2020-02-02 11:43] sheriefhammam commented on #1740
A relevant observation
I haven't debugged it yet but for some reason i can assign static IPs to worker nodes but it affects somehow the control plane

[code]

[code]

[2020-02-02 13:05] fabriziopandini commented on #2133
/lifecycle active
As per various discussions, including also:
- read templates from ConfigMap
- allow listing variables required by a workload cluster template

[2020-02-02 13:08] fabriziopandini commented on #2115
@wfernandes I can't reproduce the error locally. do you still have the error with the latest commits at master?

[2020-02-02 13:13] fabriziopandini commented on #1846
/remove-area clusterctl
clusterctl now supports moving shared objects, so the design of this API should not be a problem anymore if the OwnerRef chain is properly set (see https://master.cluster-api.sigs.k8s.io/clusterctl/provider-contract.html#ownerreferences-chain)

[2020-02-02 13:16] fabriziopandini commented on #1489
@vincepri considering that clusterctl now relies on the OwnerRef chain (see https://master.cluster-api.sigs.k8s.io/clusterctl/provider-contract.html#ownerreferences-chain), I propose to close this issue.
WDYT?

[2020-02-02 13:27] fabriziopandini commented on #2240
ok. however, this opens the issue of clusterctl handling the cert-manager upgrade...

[2020-02-02 17:11] vincepri commented on #1489
/close

[2020-02-02 17:11] #1489 closed

[2020-02-03 01:25] jichenjc commented on #2219
ok, at least I got following progress after run move command..

Performing move...
 "msg"="Discovering Cluster API objects"
 "msg"="Clusters to move"  "Count"=1

though see this error, might need some code change somewhere..
Error: action failed after 3 attempts: error creating "cluster.x-k8s.io/v1alpha3, Kind=Cluster" test-cluster/test-cluster: no matches for kind "Cluster" in version "cluster.x-

[2020-02-03 10:45] fabriziopandini commented on #1829
@ncdc @vincepri I'm starting to work at this implementing the solution A described above (add a --list-images flag to clusterctl init); pre-pull can be achieved by simply `clusterctl init --list-images | xarg docker pull`.

Is it ok for you?
Do you expect the cert-manager images to be included in the list?

[2020-02-03 16:02] randomvariable opened #2249 "conversion-gen behaviour changes depending on directory checkout"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
For cluster-api and at least cluster-api-provider-aws, `make generate` changes behaviour depending on where the repository is checked out. This can cause prow job failures if there is a mismatch.

The scenarios are:
Repository checked out to `${GOPATH}/src/sigs.k8s.io/cluster-api`:
No chan

[2020-02-03 16:03] vincepri commented on #2249
/milestone Next
/priority important-longterm

[2020-02-03 16:06] detiber commented on #2249
I'm testing against a newer version of k8s.io/code-generator, and I think that it is resolved with that update

[2020-02-03 16:51] vincepri commented on #2219
do you have the stack trace of why the capi controller manager is crashing?

[2020-02-03 17:53] wfernandes commented on #2115
I will try and see if I can reproduce the behavior today. If I'm unable to, I'll close this issue 😄

[2020-02-03 19:54] wfernandes commented on #2115
This is no longer an issue.
I tested it with Cluster API: 45ca8b1f565f2014ae8c95c8671e357b541e7f61
/close

[2020-02-03 19:55] #2115 closed

[2020-02-03 19:56] chuckha opened #2251 "[e2e framework] Extract assertions from set up"
**User Story**
Setting up a cluster is great, but we don't need to conflate all of the assertions with the actions of setting up.

**Detailed Description**
For example, a cluster should always come up. After that we want to make assertions about the cluster, but depending on the features the infrastructure provider supports they may or may not want to make certain assertions. One concrete example

[2020-02-03 20:02] fabriziopandini opened #2252 "[clusterctl] add unit tests for ensureNamespaces"
As per https://github.com/kubernetes-sigs/cluster-api/pull/2245#issuecomment-581563431 we should add unit tests for the `ensureNamespaces` function introduced by https://github.com/kubernetes-sigs/cluster-api/pull/2245

/area clusterctl
/help
/priority backlog

[2020-02-03 22:52] vincepri commented on #2252
/milestone v0.3.0

[2020-02-04 01:29] jichenjc commented on #2219
I followed https://master.cluster-api.sigs.k8s.io/ and perform all the steps there then when the master node is up, I start to use clusterctl move
command and see the error something like Cluster CRD not see in cluster.x-k8s.io/v1alpha2

I struggled a while then decide to give up this way to switch to clusterctl init (the steps above)
but at first step saw this error, maybe openstack not in provid

[2020-02-04 08:12] fabriziopandini commented on #2219
if you want to test clusterctl from your local dev env you have to:
- Add the openstack provider to the clusterctl config, as described here https://master.cluster-api.sigs.k8s.io/clusterctl/configuration.html ; please note that the openstack provider is expected to comply the https://master.cluster-api.sigs.k8s.io/clusterctl/provider-contract.html
- Set up a local overrides as described here http

[2020-02-04 15:22] detiber opened #2256 "Should we update Cluster.Status.FailureDomains to ListType=map"
If we adopt CRD v1, I'm wondering if we should also update FailureDomains from a map to a ListType=map (as is supported by controller-tools [v0.2.5](https://github.com/kubernetes-sigs/controller-tools/releases/tag/v0.2.5))?

This is a part of the server-side apply work that is being tracked here: https://github.com/kubernetes-sigs/structured-merge-diff/issues/115

[2020-02-04 15:51] vincepri commented on #2256
If we update, I'm all +1 for this given that I chose the map specifically because I didn't have guarantees for all the IDs in a list.

[2020-02-04 15:52] vincepri commented on #2256
/milestone v0.3.0
/priority backlog

[2020-02-04 16:11] ncdc opened #2257 "Flaky test: TestClusterToMachineHealthCheck/when_the_object_passed_isn't_a_cluster"
From e.g. https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/periodic-cluster-api-test/1224722017673023489

[code]

/kind failing-test
/priority critical-urgent
/assign @JoelSpeed
/milestone v0.3.0

[2020-02-04 16:14] JoelSpeed commented on #2257
I'll start looking into this

/lifecycle active

[2020-02-04 16:15] ncdc commented on #2257
👍 thank you!

[2020-02-04 18:09] #2257 closed

[2020-02-04 19:35] ncdc opened #2260 "Cluster reconciler should not use control plane machines to determine status.controlPlaneInitialized when spec.controlPlaneRef is set"
reconcileControlPlaneInitialized should return early if spec.controlPlaneRef is set; otherwise, we have 2 things competing to set this field.

/kind bug
/milestone v0.3.0
/area control-plane
/priority important-soon

[2020-02-04 19:52] detiber commented on #2260
/assign

[2020-02-04 19:52] detiber commented on #2260
/lifecycle active

[2020-02-04 20:51] #2260 closed

[2020-02-05 14:16] alexbrand commented on #2234
Hey @chuckha! Is this something I can pick up?

[2020-02-05 14:57] chuckha commented on #2234
@alexbrand absolutely!

[2020-02-05 15:01] Arvinderpal commented on #1829
:+1:  on keeping this as a milestone.
I suppose steps 3 and 4 from above would be something along the lines of:

1. `docker save`  tars on clusterctl host
2. scp tars to all nodes on the mgmt cluster
3. `docker load` tars on all mgmt cluster nodes

We could put the above steps under `clusterctl init --prepull-images` and this would be in addition to the `--list-images` flag.

Would love to help wi

[2020-02-05 15:41] #1870 closed

[2020-02-05 15:42] #1930 closed

[2020-02-05 15:46] ncdc opened #2264 "Add developer/providers/v1alpha2-to-v1alpha3.md to SUMMARY.md"
We have the "v1alpha2 to v1alpha2" document in SUMMARY.md, but "v1alpha2 to v1alpha3" is currently missing.

/help
/good-first-issue
/priority important-soon
/milestone v0.3.0
/kind documentation

[2020-02-05 16:41] #2184 closed

[2020-02-05 17:34] vincepri commented on #2140
What do you think about `"cluster.x-k8s.io/api-version-contract"` as the label applied to the components?

[2020-02-05 17:34] vincepri commented on #2140
/lifecycle active

[2020-02-05 17:35] chuckha commented on #2140
good a starting place as any, can adjust if necessary (before release) and deprecate if changed after release.

[2020-02-05 17:43] ncdc commented on #2140
Works for me.

[2020-02-05 17:46] vincepri commented on #2140
Given that the label / annotation would apply to all versions in the CRD, maybe we should do something like `cluster.x-k8s.io/storage-version-contract` to be specific that the label only applies to the storage version?

[2020-02-05 17:51] ncdc commented on #2140
Is there any way to have multiple values? Scenario:

- Everything is running v1a3
- Upgrade CRD so it now also defines v1a4
- Some controllers still only talk v1a3
- Some controllers are upgraded and talk v1a4

I assume we'd want the v1a3 controllers to pull v1a3, and the v1a4 controllers to pull v1a4, right?

[2020-02-05 17:53] vincepri commented on #2140
The contract version should only apply for Cluster API, and it only serves the purpose of updating the references to external objects if a new storage version matches the current Cluster API version.

If other controllers are still behind, they should be able to request a different version, or am I missing something?

[2020-02-05 17:56] ncdc commented on #2140
Ok, I think I'm overcomplicating things. I think you're right, but it would probably be useful to chat on Zoom after office hours.

[2020-02-05 19:40] vincepri commented on #2140
Outcome of the meeting / notes:

- Providers MUST set the `cluster.x-k8s.io/<version>` to all Custom Resource Definitions related to Cluster API starting with v1alpha3.
- The label is a map from an API Version of Cluster API (contract) to your Custom Resource Definition versions.
  - The value is a comma-delimited list of versions.
  - Each value MUST point to an available version in your CRD Spec

[2020-02-05 19:45] chuckha commented on #2140
How does this work with regards to different contract types? For example, the cluster v1alpha2 and the machine v1alpha2 contracts are different but there's no way to indicate that in the current suggestion.

Thoughts on something like:

[code]

etc?

[2020-02-05 19:47] elmiko commented on #1951
i talked with @ncdc online today and he shared [this document](https://docs.google.com/document/d/1agSWDp1s_ESirNi-5g1WTMuzfAkxkvjO9WIBHRcjmn8/edit). i am going to take a stab at converting it for the book.

/assign

[2020-02-05 19:50] ncdc commented on #1951
Thanks!
/unassign

[2020-02-05 19:50] elmiko commented on #1951
/lifecycle active

[2020-02-05 19:56] ksubrmnn commented on #2218
Yes, that's an issue that I have in my POC. I currently just work around it via hardcoding (not great). I think we'd have to open this to a broader community discussion to agree upon a standard. Perhaps this should be discussed in the overall CAPI meeting.

Other than that, I haven't found any other significant differences beyond the bootstrap script (I've created my own that uses the KubeCluster

[2020-02-05 20:10] vincepri commented on #2140
The idea was to tackle contracts for infrastructure or bootstrap down the line, for now we refer as Cluster API contract as a group that includes all the extension points for providers.

[2020-02-05 20:11] vincepri commented on #2140
To clarify, `cluster.x-k8s.io/v1alpha2` includes core, infrastructure, and bootstrap contracts for v1alpha2.

[2020-02-05 21:04] chuckha opened #2268 "[e2e framework] Add feature to allow skipping any clean up"
**User Story**
As a developer I want to have my cluster not get cleaned up.

I specifically want to control if the framework cleans up or not. A different issue would be to not clean up on failures. However, the feature outlined here would allow me to not clean up even on success which is sometimes a desirable state.

**Detailed Description**

It's nice to run the tests and end up with the cluster

[2020-02-05 21:11] jayunit100 commented on #2073
related:

… i think i just saw an issue with capv-manager, where it continually sais ‘succesfully reconciled’ but doesnt actually create a new VM, and then restarting it, creates a new VM.  I saw something similar a few weeks ago where restarting cabpk actually solved a stopped up management plane.

I didnt capture all the logs, but i did manage to capture this being repeated alot in capv-controll

[2020-02-05 21:20] alexbrand opened #2269 "Add option to tilt settings to specify kind cluster name"
**User Story**

As a developer, I would like to use the Tilt dev workflow with a kind cluster named something other than the default name (`kind`).

**Detailed Description**

I would like to specify an option in my tilt-settings.json that tells Tilt which kind cluster to use.

**Anything else you would like to add:**

This is currently failing when `preload_images_for_kind == True` in the Tilt con

[2020-02-05 21:37] ncdc commented on #2269
/help
/milestone Next

[2020-02-05 21:38] ncdc commented on #2269
/remove-help

[2020-02-05 21:56] alexbrand opened #2272 "Docs: v1alpha3 Machine resources are missing "clusterName" in the Quick Start"
**What steps did you take and what happened:**
Followed the Quick Start section of the Book (https://master.cluster-api.sigs.k8s.io/user/quick-start.html). I attempted to create a machine by copying the example Docker machine resource YAML and running the following command:

[code]

I get the following validation error:

[code]

**What did you expect to happen:**
The machine example in the Quick S

[2020-02-05 21:57] alexbrand commented on #2272
Not sure if I am doing something wrong. If this is a doc bug, I'll be happy to open a PR and fix it.

[2020-02-05 22:09] ncdc commented on #2272
This is a docs bug - we haven't updated the quickstart for v1alpha3 at all, other than to say you need cert-manager.

[2020-02-05 22:09] vincepri commented on #2272
/kind documentation
/milestone v0.3.0

[2020-02-05 22:43] #2272 closed

[2020-02-06 07:21] jichenjc commented on #2219
made some progress based on the info above, @fabriziopandini able to create part of the containers and now facing following error , assume it's related to provide specific issue so working on that, thanks a lot ！

[code]

[2020-02-06 09:27] fabriziopandini opened #2275 "Improve webhooks deployment model for supporting multi-tenancy"
**What steps did you take and what happened:**
- created a kind cluster
- clusterctl init storing all the providers in a single namespace named test
[code]

– Created a workload cluster and got
[code]
**What did you expect to happen:**
No webhook errors

**Anything else you would like to add:**
This is a clusterctl problem; when fixing namespaces in a component YAML, also `MutatingWebhookConfigura

[2020-02-06 09:36] fabriziopandini commented on #2275
/area clusterctl

[2020-02-06 09:37] sirao opened #2276 "Machine NodeRef is not getting assigned as the request to LB is timing out"
Run the E2E tests.

Should be able to create the control plane after successful completion cluster provisioning.

In CAPI logs, below error messages seen:
`E0206 09:16:47.033204       1 controller.go:258] controller-runtime/controller "msg"="Reconciler error" "error"="Get https://test-31mn8o-apiserver-182030076.us-west-2.elb.amazonaws.com:6443/api?timeout=32s: EOF"  "controller"="machine" "request

[2020-02-06 09:47] sirao commented on #2276
And also in kubeadm logs, below error message seen:
`E0206 06:44:41.529655       1 kubeadmconfig_controller.go:364] controllers/KubeadmConfig "msg"="failed to store bootstrap data" "error"="failed to create kubeconfig secret for KubeadmConfig test-9t8wdx/test-boot-6laosw-0: secrets \"test-boot-6laosw-0\" already exists" "kind"="Machine" "kubeadmconfig"={"Namespace":"test-9t8wdx","Name":"test-boot-

[2020-02-06 09:52] fabriziopandini commented on #2219
@jichenjc let me know if I can help

[2020-02-06 10:08] prankul88 commented on #2252
I can try this.
/assign

[2020-02-06 11:44] fabriziopandini commented on #2252
great!
/lifecycle active

[2020-02-06 14:50] ncdc commented on #2275
@fabriziopandini as far as I know, you can only have a single thing handle mutating/validating/conversion webhooks. I think this is a major step backward from our multi-tenancy model that v1alpha2 allows. We need to discuss options.

One possibility is we say that within a single management cluster, you can only install a single copy of Cluster API and each provider.

Another option, which is pret

[2020-02-06 14:56] detiber commented on #2275
One option that we may have here in a worst case scenario, is for us to create the ability to deploy a controller-manager with only the webhooks enabled (or possibly have the ability to create separate binaries for this purpose)
  - this would allow for the webhooks to be deployed separately from the multi-tenant controllers
  - the webhook server deployment would have full rbac to the resources a

[2020-02-06 14:59] fabriziopandini commented on #2275
@ncdc what about treating webhooks as a global resource, like CRDs?
- the first provider instance, create webhooks in a shared namespace (TBD name)
- the second provider instance, override webhooks, and so on

Not sure what will happen when a new CRD version gets into the picture

[2020-02-06 15:00] ncdc commented on #2275
This is my favorite option so far. It would be nice to avoid creating multiple binaries (and container images) if possible.

[2020-02-06 15:07] detiber commented on #2275
I'd kind of like to avoid multiple binaries as well, however from a practical standpoint trying to generate different deployment yaml with different flags was a bit of a pain previously, where we could leverage separate directory structure and separate binaries and generated content to help keep it a bit cleaner.

[2020-02-06 15:09] ncdc commented on #2275
I have some ideas on how to organize the kustomize bits to do that, or we could consider using a ConfigMap to configure the managers instead.

[2020-02-06 15:14] fabriziopandini commented on #2275
How this will impact `clusterctl init` UX?
It seems to me that we are leaning towards splitting the lifecycle for conversion webhooks from the provider lifecycle

[2020-02-06 15:24] ncdc commented on #2275
If we proceed with this approach, I think it means that clusterctl has to keep track of a separate set of things for the webhooks (all webhooks, not just conversion). And this would be per provider (core, CAPA, CAPV, etc).

We should probably start brainstorming now what the upgrade process looks like (#1550).

[2020-02-06 15:33] #1951 closed

[2020-02-06 16:00] Arvinderpal commented on #1829
Thinking about this a bit more in the context of private repositories. We have several options:

1. We leave it to the user to ensure that all the required images are present in their private registry.
2. We support listing the required images but leave it to the user to then pull, tag and then push them to their private repo.
3. We support an init sub-command -- e.g. `--push-to-private-repo <repo

[2020-02-06 19:11] #2269 closed

[2020-02-06 19:22] ncdc commented on #2276
Transferring to CAPA

[2020-02-07 02:12] SataQiu commented on #2268
Maybe I can have a try.

[2020-02-07 08:01] fabriziopandini commented on #2164
implemented by https://github.com/kubernetes-sigs/cluster-api/pull/2191
/close

[2020-02-07 08:01] #2164 closed

[2020-02-07 08:05] fabriziopandini commented on #1525
this was implemted by
- https://github.com/kubernetes-sigs/cluster-api/pull/2130
- https://github.com/kubernetes-sigs/cluster-api/pull/2161
/close

[2020-02-07 08:05] #1525 closed

[2020-02-07 09:49] fabriziopandini opened #2283 "Machine phase not reconciled after move"
**What steps did you take and what happened:**
As reported in slack https://kubernetes.slack.com/archives/C8TSNPY4T/p1580942689463400 by @Anuj2512 after completing `clusterctl move` it seems that the `Phase` field of `Machine` objects is not properly reconciled

[code]
^^^ Note: PHASE field is empty.

The same problem happens for CAPD, CAPA, CAPV.
Once updated the MachineDeployment to use 2 replic

[2020-02-07 15:27] rudoi commented on #2214
/assign
/lifecycle active

Working on some kind of visual/proposal based on the above discussion.

[2020-02-07 15:38] chuckha commented on #2268
@SataQiu please!

[2020-02-07 15:44] chuckha commented on #2268
/assign @SataQiu

[2020-02-07 15:56] vincepri commented on #2283
The other solution we discussed was to have all the objects that want the pause functionality to watch Cluster objects and trigger a reconciliation request

[2020-02-07 15:56] vincepri commented on #2283
/milestone v0.3.0
/priority important-soon

[2020-02-07 17:15] chuckha opened #2286 "Running lint-full twice in CI"
**What steps did you take and what happened:**
`make lint-full` needs to only be run once in CI, not twice.

[This](https://github.com/kubernetes-sigs/cluster-api/blob/master/Makefile#L473) gets called from [this](https://github.com/kubernetes-sigs/cluster-api/blob/master/scripts/ci-integration.sh#L66)

And [this](https://github.com/kubernetes-sigs/cluster-api/blob/master/scripts/ci-make.sh#L23) i

[2020-02-07 17:18] ncdc commented on #2286
No, `lint-full` should not be a dependency for any other make targets

[2020-02-07 17:19] #2072 closed

[2020-02-07 17:20] rudoi commented on #1550
Just to document a few things I've run into slapping v1alpha3 onto v1alpha2:
[code]

[code]

[2020-02-07 17:58] sedefsavas commented on #1910
There are a couple of ways of getting the yaml data from the secret:
1. Defining a particular key to place the yaml content.
2. Concatenating the secret's data content and create the yaml.
Which makes more sense?

Also, applying the same yaml at each reconcile may overwrite the resources that already being changed in the cluster. Instead of applying each time, how about applying only if the object

[2020-02-07 18:06] detiber commented on #2286
+1 to having it be a separate test and not being a dependency for other targets.

[2020-02-07 18:12] rudoi opened #2287 "v1alpha3 conversions create all new Machines for MachineDeployments"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

- create v1alpha2 capi/capi cluster
- scale down all controllers
- apply v1alpha3 components (which scales up capi)
- everything up-converted
- got all new Machines

**What did you expect to happen:**
Conversion should be able to retain existing Machines

**Anything else you would like to

[2020-02-07 18:13] chuckha commented on #2286
@detiber Are you suggesting a separate CI test for lint-full?

[2020-02-07 18:16] rudoi commented on #2287
/assign

I'll grab whatever solution, but would like to discuss first.

/cc @vincepri @ncdc @detiber

[2020-02-07 18:20] detiber commented on #2287
So, part of my rationale here, is that it is leading us towards a path where we are not requiring users to do error prone manipulation around defining unique labels for each of their MachineDeployments.

But maybe the answer is rather than automatically appending a MachineDeployment label we could rather add it as a default if the user does not specify their own labels?

[2020-02-07 18:22] detiber commented on #2286
I'm fine with it being part of a grouped set of tests that do general "validation", I just hate seeing it cause cascading failures to other tests like the integration or unit test jobs.

[2020-02-07 18:23] ncdc commented on #2286
What Jason said 😄

[2020-02-07 18:25] chuckha commented on #2286
💯

For anyone looking to tackle this: The fix is fairly low effort, remove `lint-full` a dependency everywhere it appears in the main Makefile.

[2020-02-07 18:30] wfernandes opened #2288 "clusterctl: config cluster --from-config-map returns error."
**What steps did you take and what happened:**
1. Created a config map in `default` namespace.
    `kubectl create configmap foobar --from-file ~/workspace/cluster-template.yaml`
1. ```
    $ clusterctl config cluster my-cluster --from-config-map foobar
    Error: the ConfigMap default/barbaz does not have the template data key
[code]
apiVersion: v1
data:
  cluster-template.yaml: |
...
kind: Confi

[2020-02-07 18:35] wfernandes commented on #2288
/close
I found out there are other supported flags like `--from-config-map-key` and `--from-config-map-namespace`.

[2020-02-07 18:35] #2288 closed

[2020-02-07 18:43] rudoi commented on #2287
I think that's a reasonable change. In general I think the rationale makes sense, but I also think it's important to not cause a full rollout of infrastructure as part of the upgrade. I'll open a PR.

/lifecycle active

[2020-02-07 20:04] colinlodter commented on #2181
/lifecycle active

[2020-02-07 20:43] #2181 closed

[2020-02-08 10:38] fabriziopandini commented on #1910
I'm looping back on the Secret vs ConfigMap discussion.
If we are going to use Secrets that means that the addons yaml will be an encoded string, and this makes it difficult to customize it eg. the variables substitution pattern (`cat template.yaml | envsubst | kubectl apply -f -`).
Also clusterctl adopts the same pattern, and even if this can be managed in golang, it adds more complexity. Can we

[2020-02-08 14:14] chuckha opened #2291 "[e2e framework] Kubeadm Control Plane test makes bad assumptions"
The e2e framework makes the assumption that a control plane provider will create all machines very quickly and then waits x for them all to be running. This works great if machines get created very quickly, but with the changes coming in #2016 (even if this particular pr doesn't merge, these changes are coming), we need to wait for the control plane to come up instead of assuming the machines come

[2020-02-08 14:14] chuckha commented on #2291
/milestone v0.3.0

[2020-02-08 14:24] chuckha opened #2292 "[e2e framework] Delete should only delete cluster"
In order to mimic real life deletes, the e2e framework should only delete the Cluster object. That should have a cascading effect and delete all owned objects. The framework should then wait for everything to be deleted or fail if everything is not deleted.

/kind bug
/milestone v0.3.0
/assign
/lifecycle active

[2020-02-08 14:25] chuckha commented on #2292
oops, this is already the existing behavior, i misread a comment 😅

[2020-02-08 14:25] #2292 closed

[2020-02-08 18:27] chuckha commented on #2251
/assign
/active

[2020-02-08 18:28] chuckha commented on #2251
/lifecycle active

[2020-02-09 09:43] prankul88 commented on #2286
/assign

[2020-02-09 17:22] bsctl opened #2300 "Inconsistency in documentation: CRDs in v1alpha2 and clusters in v1alpha3."
**What steps did you take and what happened:**
Just following the Quick Start here https://master.cluster-api.sigs.k8s.io/user/quick-start.html, I have CRDs in v1alpha2 and clusters in v1alpha3. Clusters are not created because of missing API.

**What did you expect to happen:**
Consistency in documentation.

**Anything else you would like to add:**
[Miscellaneous information that will assist in s

[2020-02-10 01:06] SataQiu commented on #2264
/assign

[2020-02-10 07:00] jichenjc commented on #2219
I am able to create cluster now (though some other problems still existing), so I close this issue, thanks a lot for your help~

$KUBECONFIG is still set to use /root/.kube/kind-config-clusterapi even though that file has been deleted, remember to unset it
Creating cluster "clusterapi" ...
 ✓ Ensuring node image (kindest/node:v1.15.0) 🖼
 ✓ Preparing nodes 📦
 ✓ Creating kubeadm config 📜
 ✓ Starting

[2020-02-10 07:01] #2219 closed

[2020-02-10 07:05] jichenjc commented on #2300
@bsctl maybe provide the provider name will be helpful ... aws? vsphere?others?

[2020-02-10 08:58] jan-est commented on #2300
@jichenjc @bsctl I have issues with Quick Start as well. Both kind version:
``` kind v0.6.1 go1.13.1 linux/amd64 ``` and ``` kind v0.7.0 go1.13.6 linux/amd64 ```

I am using ```Docker``` infrastructure provider.

While deploying cluster, getting following errors.
[code]

[2020-02-10 09:38] bsctl commented on #2300
@jichenjc doesn't matter. All example in the tutorial reports `apiVersion: cluster.x-k8s.io/v1alpha3`
Not hard to see.

[2020-02-10 10:29] fabriziopandini commented on #2300
@bsctl @jan-est
I would say this is not an inconsistency in the doc; it simply reflects the current state of the work on v1alpha3 release on the master branch (still WIP).

As of today, the latest release currently available is v1alpha2, and the documentation is at https://cluster-api.sigs.k8s.io/ (without master at the beginning of the hostname)

Coming back to v1alpha3, the documentation on the

[2020-02-10 10:31] fabriziopandini commented on #2300
/remove-kind bug

[2020-02-10 11:19] bsctl commented on #2300
@fabriziopandini thanks.

[2020-02-10 11:25] #2300 closed

[2020-02-10 12:22] jan-est commented on #2300
@fabriziopandini thanks! This helped!

[2020-02-10 14:23] #2264 closed

[2020-02-10 15:30] alexbrand commented on #2234
Discussed with @chuckha and we decided to hold off on this until the health checking work is ready to go.

Context (#cluster-api in Kubernetes Slack): https://kubernetes.slack.com/archives/C8TSNPY4T/p1581347372052900

[2020-02-10 15:53] rudoi opened #2302 "MachineDeployment Cluster name label should be set in defaulting webhook rather than in reconciliation"
**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
Early in the reconciliation loop we set a label based on the parent Cluster object's name:
https://github.com/kubernetes-sigs/cluster-api/blob/ad659a92645b4fa39fbb758aa1d523e223df6c1f/controllers/machinedeployment_controller.go#L151-L153

The defaulting webhook is better suited for this, so

[2020-02-10 16:05] #2287 closed

[2020-02-10 21:34] chuckha opened #2304 "[capi] Refactor remote.NewClusterClient"
**User Story**

`remote.NewClusterClient` does not need full access to the cluster object. This could be scoped down to only require a `types.NamespacedName` since the functions that it calls only need the namespace and name of the cluster.

/kind cleanup
/help
/priority important-longterm

This would be an API change so it might be nice to land it in v0.3.0, but I'll leave this un-milestoned so w

[2020-02-10 22:15] alexeldeib commented on #2275
Cecile shared this issue, could someone help me understand the scope and impact? If I'm reading correctly, this would affect e.g. installing multiple instances of any provider. From @fabriziopandini's comment, it sounds like the issue is matching up the expected service namespace for the webhook configuration.

@andy I'm not sure I understand this, you could certainly have multiple webhooks acting

[2020-02-10 22:17] ncdc commented on #2275
@alexeldeib my comment above about a single webhook was partially correct and partially incorrect. You can have multiple validating and mutating webhooks per resource, and you can limit the scope of a validating or mutating webhook to specific namespaces and/or specific resources. But you can only have a single conversion webhook per custom resource. That's the real problem.

[2020-02-10 22:17] ncdc commented on #2275
See #2279 for a path forward

[2020-02-10 22:22] ncdc commented on #1910
@fabriziopandini if you have a secret in yaml format, you can use the `stringData` field and `envsubst` should work with that, shouldn't it?

[2020-02-11 01:59] jichenjc commented on #2300
ok, this info is helpful to me @bsctl
as I am using openstack stuffs on v1alpha3 and I didn't see the error you report
so I thought it's provider specific... thanks

[2020-02-11 07:17] fabriziopandini commented on #1910
@ncdc I guess this can work! Somehow I forgot about string data 😊

[2020-02-11 14:35] detiber opened #2305 "Update e2e framework to use gomega.*WithOffset"
**User Story**

As an e2e framework consumer, I would like assertions within the e2e framework helper methods to point to where in my tests the failure occurred rather than the failure within the e2e framework.

**Detailed Description**

Anywhere we are currently using gomega assertions, we should be using the `WithOffset` equivalent. In cases where we a helper method is calling another helper met

[2020-02-11 14:38] detiber opened #2306 "e2e framework should allow for use outside of ginkgo"
**User Story**

As an e2e framework user, I would like to be able to call e2e helpers from tests that are not managed by ginkgo

**Detailed Description**

Currently we only expose helper methods that call the global assertions provided by gomega. If we want to allow for use outside of ginkgo, we can likely provide a wrapper similar to Gomega's `WithT`: https://github.com/onsi/gomega/blob/6be6c4395

[2020-02-11 14:46] chuckha commented on #2306
cc

[2020-02-11 14:54] #2286 closed

[2020-02-11 16:58] #1988 closed

[2020-02-11 17:44] #2133 closed

[2020-02-11 18:54] evankanderson commented on #1658
Some drive-by comments (feel free to ping me at evana at vmware.com if I don't notice updates here):

We spent a long time (about 4 weeks) working on Condition design with UX designers and tooling engineers. The end result is specified here, but I'll also give some useful summaries and a link to the library we wrote:

https://knative.dev/docs/serving/spec/knative-api-specification-1.0/#error-signa

[2020-02-11 19:15] chuckha opened #2309 "[e2e framework] MachineDeployment Cleanup"
The e2e framework can help in creating a machine deployment. However, the assertions around it are waiting for the nodes to exist on the cluster. This test can be improved (and exercise more of cluster api) by waiting for the machines to have node refs instead of listing nodes directly

/kind cleanup
/milestone Next
/priority backlog
/help

[2020-02-11 19:52] vincepri commented on #1658
Thank you so much @evankanderson for sharing your experience with conditions! After v1alpha3 is wrapped up, we'll start working on a proposal, the context you provided is going to be super helpful.

[2020-02-11 19:59] chuckha opened #2310 "[e2e framework] Ensure MachinePools are deleted"
The e2e framework exports a function to ensure all Cluster API resources are gone. It does not include the McahinePool type but it should. Please ensure all MachinePools are deleted.

/kind cleanup
/milestone Next
/priority important-longterm
/help

[2020-02-11 21:20] nader-ziada commented on #2283
anybody working on this? or can I assign myself to it?

[2020-02-11 21:26] detiber commented on #2283
All yours @nader-ziada :)

[2020-02-11 21:37] nader-ziada commented on #2283
/assign

[2020-02-12 03:02] #2251 closed

[2020-02-12 03:02] #2291 closed

[2020-02-12 08:09] SataQiu commented on #2305
/cc

[2020-02-12 12:25] detiber commented on #1760
/remove-lifecycle stale

[2020-02-12 12:25] detiber commented on #1760
/priority important-longterm

[2020-02-12 12:26] detiber commented on #1760
/help

[2020-02-12 15:18] vincepri commented on #1754
@johngmyers I'm 100% sure if this solves your issue, but in v1alpha3 we added an annotation to stop reconciliation on objects.

https://master.cluster-api.sigs.k8s.io/developer/providers/v1alpha2-to-v1alpha3.html#support-the-clusterx-k8siopaused-annotation-and-clusterspecpaused-field

/lifecycle frozen

[2020-02-12 15:36] randomvariable commented on #2225
Turned out not to need this in the end.

[2020-02-12 15:36] #2225 closed

[2020-02-12 16:05] chuckha commented on #2305
I don't know how I feel about this. On the one hand, we do get to see which line in *our* code failed. On the other hand, It's now harder to see exactly which line in the framework failed. Looking more closely, `*WithOffset` makes sense in some places and not others. For example, a pure assertions helper function is a great place to use `*WithOffset`, but this framework is doing a lot of Create/Ev

[2020-02-12 16:08] chuckha commented on #2305
@fabriziopandini @akutz @yastij @CecileRobertMichon

Folks using the e2e testing framework, I'm curious if you have thoughts on this issue.

[2020-02-12 16:08] alexander-demichev commented on #1984
Talked with @hpandeycodeit and got his approval to assign this issue on me :)

[2020-02-12 16:09] alexander-demichev commented on #1984
/assign @alexander-demichev

[2020-02-12 16:09] alexander-demichev commented on #1984
/lifecycle active

[2020-02-12 16:26] detiber commented on #2305
We could help that out by annotating our assertions: https://onsi.github.io/gomega/#annotating-assertions

[2020-02-12 16:40] akutz commented on #2305
FWIW, I've used both models heavily. I agree it's nice to see the line that failed, but you don't see *what* failed. As @detiber said, that's easier to do if you annotate assertions and/or return wrapped errors out of an `Eventually` or `Consistently`. Funnily enough, I raised this in December with the same exact caveats:

![image](https://user-images.githubusercontent.com/101085/74356329-caff3980

[2020-02-12 16:57] detiber commented on #2305
I kind of like the idea of having the option of using offsets or not, but if we do that, then we probably need to take into account that chained helpers would need to adjust the offset appropriately. https://github.com/kubernetes-sigs/cluster-api/pull/2311#discussion_r378352429 points out an example.

[2020-02-12 17:01] akutz commented on #2305
Hi @detiber,

Exactly. And it's more than that as well. You could have:

[code]

Let's say `HelpMe1()` uses an offset of `1`. But what if you have this call stack?

[code]

Should `HelpMe1()`'s offset be `1` or `3`?

[2020-02-12 17:03] chuckha commented on #2305
I'm not dissatisfied with the current stack traces, especially as they help me debug in Prow without needing to do any manual string matching.

This problem gets thornier by the minute and I don't see a very high value proposition. I'd definitely be more interested if this, for example, was blocking someone from implementing for some reason or really stymieing some users, but I haven't had that fe

[2020-02-12 17:03] akutz commented on #2305
The fact is that when an eventually or consistently fails, offset or no, you still see the stack trace printed (or you should). You *can* find your way, pretty easily, back to the non-framework caller. I think the idea of an offset works well in a contained test file, but perhaps less so in a framework with uncertain call stacks to the places an offset might be used.

[2020-02-12 17:12] detiber commented on #2305
I'm trying to think about the user experience of someone adopting the test framework for their provider. Assuming that they are importing a "known good" version of the framework, I would expect that the majority of use cases they'd want to know where things failed in their tests.

I'd expect the framework to mostly be an implementation detail for them, rather than a key part of their debugging pro

[2020-02-12 17:20] michaelgugino opened #2317 "Developer docs missing kubebuilder dependency"
Can't run 'make test' without kubebuilder.

Recommend linking to this: https://book.kubebuilder.io/quick-start.html#installation

/kind bug

[2020-02-12 17:30] chuckha commented on #2305
Totally agree about the framework being an implementation detail, but it still feels fairly immature, especially given the overhaul it recently got and the lack of go module tags.

Maybe we can keep this in the backlog until we gather some more feedback from the field? If folks find the stack traces confusing/hard to understand then we can bump the priority here. But if they don't find the stack t

[2020-02-12 17:32] vincepri commented on #2317
/kind documentation

[2020-02-12 17:54] detiber opened #2318 "Document that providers MUST validate references are in the same namespace"
***Goals***
1. Replace current uses of `corev1.ObjectReference` with more appropriate types

***Non-Goals/Future Work***
1. Modify other types used

**User Story**

As a consumer of Cluster API I would like to have fields that are currently using `corev1.ObjectReference` to use more appropriate data types so that it is clear which fields are used (all of them) vs having to guess which fields are i

[2020-02-12 18:17] jdef commented on #1910
There's seemingly related addons work being proposed for kubeadm: https://github.com/kubernetes/kubernetes/pull/85224

[2020-02-12 18:27] vincepri commented on #2318
We really should just have one type with

[code]

We can have it in our own types?

[2020-02-12 18:29] detiber commented on #2318
I'd rather avoid having a `Namespace` field where we do not allow cross-namespace references, otherwise it's just an extra thing we need to validate and adds potential for a poor user experience.

I would say the same thing for references that are known types (Secret, ConfigMap, etc), for similar reasons.

[2020-02-12 18:36] dlipovetsky commented on #1910
I think the use case is not controversial.

I see the proposal changes the `Cluster` type. That's a major data model change, and I think it's contrary to what the original request asks:

Is there an alternative to changing the `Cluster` type?

[2020-02-12 18:38] detiber commented on #1910
The solution was steered towards data model changes, because the proposed changes (labels/annotations/etc) where creating an informal API. Using these as an informal API is fine for prototypes and experiments, but as we fold those prototypes and experiments into the project proper, we should make sure to formalize the API semantics with real fields vs the informal API.

[2020-02-12 19:23] dlipovetsky commented on #1910
Agreed.

Is there a reason not to define a new type, e.g. `ThunksToThunk`:tm:, that references a Cluster by name, and write a controller that applies the thunks once the referenced Cluster's control plane is ready?

That gives us a real CAPI type to experiment with, but avoids the cost of changing the `Cluster` type now, and potentially a second time if the experiment doesn't work out well.

[2020-02-12 19:29] vincepri commented on #2256
Blocked on CRDv1 update

[2020-02-12 19:30] vincepri commented on #2243
@chuckha Should this be part of the v0.3.0-rc.0 milestone or do you want to take more time to complete it?

[2020-02-12 19:32] vincepri commented on #2241
@dlipovetsky Do you think you'll be able to open a PR (with at least scale up) for `v0.3.0-rc.0` (due Friday)?

[2020-02-12 20:04] ncdc commented on #1910
@dlipovetsky as discussed in today's office hours meeting: add a "contrib" or "experimental" package in the repo, define API type(s) + controller(s) in there (i.e. don't modify `Cluster`), and expose enabling it with a flag. This enables experimentation and we can promote experiments to proper `api` types over time, assuming consensus.

[2020-02-12 20:06] vincepri commented on #1902
@chuckha @randomvariable Can this be closed in favor of #2243?

[2020-02-12 20:10] vincepri commented on #1782
/milestone Next

[2020-02-12 20:10] vincepri commented on #1740
/help
/milestone Next

[2020-02-12 20:11] vincepri commented on #1739
/milestone Next

[2020-02-12 20:12] vincepri commented on #1642
/milestone Next

[2020-02-12 20:12] vincepri commented on #1580
@yastij Any updates?

Bumping to next for now.

/milestone Next
/priority awaiting-more-evidence

[2020-02-12 20:13] vincepri commented on #1579
@zjs Is this still relevant for your use cases?

Bumping to next for now.

/milestone Next

[2020-02-12 20:16] vincepri commented on #1576
Bumping this to Next until we have someone working on it.

/milestone Next

[2020-02-12 20:19] vincepri commented on #1566
Bumping this from the milestone for now, I think we should open smaller issues targeting what @ncdc listed in https://github.com/kubernetes-sigs/cluster-api/issues/1566#issuecomment-568034735 and address these separately in v0.3.x

/milestone Next

[2020-02-12 20:19] chuckha commented on #1782
@vincepri we can close this

/close

@sbueringer Please open a new issue if this does not satisfy the original use case! thank you!

[2020-02-12 20:19] #1782 closed

[2020-02-12 20:20] chuckha commented on #1902
whoops, yep, duplicate, replaced by #2243

/closing

[2020-02-12 20:20] chuckha commented on #1902
/close

😑

[2020-02-12 20:20] #1902 closed

[2020-02-12 20:20] vincepri commented on #1767
/milestone Next

[2020-02-12 20:21] chuckha commented on #2243
@vincepri i'll have the PR open today!

[2020-02-12 20:22] vincepri commented on #788
/milestone Next
/help

[2020-02-12 20:22] vincepri commented on #1727
@randomvariable Are you actively working on this?

[2020-02-12 20:33] dlipovetsky commented on #1910
I want to add that, whatever comments I have about the design, I'm grateful that we're doing this experiment, and to @sedefsavas for her implementation!

[2020-02-12 22:07] vincepri commented on #1852
As outlined in https://github.com/kubernetes-sigs/cluster-api/pull/1938#issuecomment-585440209 this might not be the solution we actually want.

I'm going to bump this from the milestone for now, let me know if that's ok with you all

/milestone Next

[2020-02-13 00:52] #1829 closed

[2020-02-13 11:27] randomvariable commented on #1727
Sorry @vincepri, I screwed up the timeline of this issue:
Originally marked as active as I did a version of the doc in #1899, but as @ncdc states, this should be split apart and moved as appropriate. I reopened the issue, but forgot to take off the lifecycle active marker.

/remove-lifecycle active

[2020-02-13 13:56] fabriziopandini commented on #1729
We are done for the upcoming RC, except eventually last minutes changes for the webhooks

/close
🎉 🎉 🎉 🎉 🎉

https://github.com/kubernetes-sigs/cluster-api/pull/2313, https://github.com/kubernetes-sigs/cluster-api/pull/2314 are small fixes, not blocking for the release.

Clusterctl adopts, E2E tests, and other minor improvements code/cleanup are shifting to the next round.

[2020-02-13 13:56] #1729 closed

[2020-02-13 14:20] alexander-demichev commented on #2231
/assign @alexander-demichev

[2020-02-13 14:47] nader-ziada commented on #2283
/lifecycle-active

[2020-02-13 15:31] rudoi commented on #2214
/assign @sethp-nr

[2020-02-13 15:34] nader-ziada commented on #2317
/assign

[2020-02-13 15:54] #2317 closed

[2020-02-13 18:23] vincepri opened #2328 "Support feature gates for experiments"
**User Story**

As a [developer/user/operator] I would like to [high level description] for [reasons]

As a developer I would like to work on experimental features behind a flag, folks are expected to opt-in.

As a operator I would like to have the ability to enable/disable certain experimental features.

**Detailed Description**

- Modify `main.go` to accept a new flag called `feature-gates`, fol

[2020-02-13 18:23] vincepri commented on #2328
This is a follow-up issue to #1910

[2020-02-13 18:24] vincepri commented on #2328
/milestone v0.3.0
/priority important-longterm

[2020-02-13 19:14] dlipovetsky commented on #2241
@vincepri Yes, PR coming in an couple of hours

[2020-02-13 20:04] #1442 closed

[2020-02-13 20:29] detiber commented on #2256
@vincepri is this something we should now look at for the v0.3.0-rc.0 milestone?

My main concern here is that since we are introducing the type this upcoming release, if there is a chance we are going to want to change it we should do it before the release rather than after to avoid having to deal with a conversion issue down the line.

[2020-02-13 22:50] williamsandrew opened #2331 "Allow a user specifiable node draining timeout"
As a user/operator, I would like the option to specify a timeout for how long the machine controller will wait for a node to drain before forcibly removing the machine.

Today, if a user has specified a pod disruption budget that cannot be fulfilled, CAPI could wait forever on a machine/node that is running a pod whose budget could not be met and will never successfully drain. I would like the opt

[2020-02-13 23:10] sedefsavas commented on #2328
I'd like to work on this issue. I am also working on #1910, so this will be needed for that issue.

[2020-02-13 23:10] joonas commented on #2328
/assign @sedefsavas

[2020-02-14 01:07] dlipovetsky commented on #2241
Working through some capd-e2e issues :sweat_smile:

[2020-02-14 02:46] endurancetest20380119 opened #2332 ":book: update tilt docs "Azure kustomize_substitutions Tab""
**User Story**

As a [developer/user/operator] I would like to [high level description] for [reasons]

**Detailed Description**

[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**

[Miscellaneous information that will assist in solving the issue.]

/kind feature

[2020-02-14 03:12] vincepri commented on #2256
If someone can pick it up tomorrow, we can definitely add it to the RC. That said, it's fine to break things between RCs.

[2020-02-14 03:13] vincepri commented on #2241
@dlipovetsky FYI, there is a flake, so I'd ignore capd for now, if integration is passing we should be good.

[2020-02-14 03:18] detiber commented on #2256
I'm not concerned as much with the RC.

/priority important-soon

[2020-02-14 06:00] #2243 closed

[2020-02-14 16:15] vincepri commented on #2275
/close

[2020-02-14 16:15] #2275 closed

[2020-02-14 16:15] vincepri commented on #2275
Fixed by https://github.com/kubernetes-sigs/cluster-api/pull/2279

[2020-02-14 17:48] timothysc opened #2339 "Add support for clusterctl flavor template mechanism"
**User Story**

As a admin I would like to provide my team with a set of well defined templates w/defaults so users only have to input a limited subset of variables when standing up a cluster.

**Detailed Description**

As of today, the clusterapi.yaml can be intimidating for users to consume, which poses a barrier to broader adoption.  An easy way to mitigate this problem is to create well define

[2020-02-14 17:55] ncdc opened #2340 "Broken link in https://master.cluster-api.sigs.k8s.io/clusterctl/commands/config-cluster.html#variables"
The `clusterctl configuration` link at the bottom of https://master.cluster-api.sigs.k8s.io/clusterctl/commands/config-cluster.html#variables points to `clusterctl/commands/configuration.html`, which is a 404. The correct URL is `clusterctl/configuration.html`

/help
/good-first-issue
/kind documentation
/kind bug
/milestone v0.3.0
/priority important-soon

[2020-02-14 17:56] ncdc commented on #2339
As discussed in Slack, pls review https://master.cluster-api.sigs.k8s.io/clusterctl/commands/config-cluster.html#variables and https://master.cluster-api.sigs.k8s.io/clusterctl/configuration.html#variables. We don't have anything other than variable substitution (no conditionals, no loops, etc.), but hopefully this is enough for now.