[2020-09-29 23:46] vincepri commented on #3715
/milestone v0.4.0

[2020-09-30 00:01] CecileRobertMichon opened #3716 "v1alpha4: write sentinel file as part of bootstrap"
original discussion: https://kubernetes.slack.com/archives/C8TSNPY4T/p1599744069010700
/cc @jdef

See also:
https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/603
proposal: https://docs.google.com/document/d/1U0GxvO6ltgIINMjpQz96UD4bExlN2h21wyyn-3ENezc/edit
https://docs.google.com/document/d/1FVRxo9toKSUmvKIUFFzPFhnFrfdR9s7S6Bl4shovNlg/edit#heading=h.3mwmvwsf4jyi
Sept 16 2020 [of

[2020-09-30 01:04] jichenjc commented on #3706
I think I got the answer and no need to track this ...
thanks @fabriziopandini

[2020-09-30 01:04] #3706 closed

[2020-09-30 02:04] cloudcafetech opened #3717 "metadata.yaml file not found"
[root@ocp-311 cluster-api]# clusterctl init \

Fetching providers
Error: failed to read "metadata.yaml" from the repository for provider "infrastructure-docker": failed to read file "/root/.cluster-api/dev-repository/infrastructure-docker/v0.3.8/metadata.yaml" from local release v0.3.8: stat /root/.cluster-api/dev-repository/infrastructure-docker/v0.3.8/metadata.yaml: no such file or directory

[2020-09-30 08:31] fabriziopandini opened #3718 "Avoid linking to the "master" branch of Kubernetes repositories"
The the "master" -> "main" branch rename can happen in k8s repositories,
in the near future, which will break the links in this repository.

We can avoid referencing a "master" branch if the URL:
"https://git.k8s.io/repo" is used instead of
"https://github.com/kubernetes/{blob|tree}/master"

/kind cleanup
/kind documentation
/priority backlog

[2020-09-30 08:32] fabriziopandini commented on #3718
/milestone Next
This can be merged whenever it is ready

/good-first-issue

[2020-09-30 08:39] fabriziopandini commented on #3717
/triage support
@cloudcafetech  In the older release of clusterctl the user was responsible of creating the metadata.yaml for docker provider manually or using the procedure described here https://cluster-api.sigs.k8s.io/clusterctl/developers.html#run-the-local-overrides-hack

In the upcoming v0.3.10 release, artifacts for the docker provider will be included in the release, and so the UX for this

[2020-09-30 08:41] fabriziopandini commented on #3252
/lifecycle frozen

[2020-09-30 08:42] fabriziopandini commented on #3247
/lifecycle frozen

[2020-09-30 10:23] #3631 closed

[2020-09-30 12:18] jdef commented on #3716
Should this be clarified? e.g. only `touch` the sentinel file once the `kubeadm init` or `kubeadm join` command has *completed successfully*.

User-configurability isn't very important for my use case. That said, CAPBK already makes assumptions about writing to /tmp, right? It would be nice if the contract here didn't make any assumptions about filesystem existence other than what is already assum

[2020-09-30 13:20] vincepri commented on #3718
Duplicate of https://github.com/kubernetes-sigs/cluster-api/issues/3280 ?

[2020-09-30 13:42] ncdc commented on #3715
It may be worthwhile to revisit #1250 when considering this

[2020-09-30 14:05] #2331 closed

[2020-09-30 14:36] fabriziopandini commented on #3365
@vincepri @ncdc
Should
https://github.com/kubernetes-sigs/cluster-api/blob/7523f71dfd58a8c4e358b057da611546dc72fdec/api/v1alpha3/condition_consts.go#L84-L101

Be enough to close this issue?

[2020-09-30 14:46] ncdc commented on #3365
I think so. If we need to make further adjustments re Michael's comments, we can do a new issue for that.

[2020-09-30 14:51] benmoss opened #3720 "clusterctl init does not wait for providers to be ready"
**What steps did you take and what happened:**
[code]

**What did you expect to happen:**
The commands should work sequentially without the user needing to wait or check to make sure pods have started.

**Anything else you would like to add:**
[code]

/kind bug
/area clusterctl

[2020-09-30 14:54] vincepri commented on #3720
@wfernandes @fabriziopandini

[2020-09-30 14:55] vincepri commented on #3712
/milestone v0.3.10

[2020-09-30 15:10] arghya88 commented on #3718
I can work on this if that is okay.

[2020-09-30 15:14] fabriziopandini commented on #3718
Not really, #3280 is about changing the main branch for this repo, this issue is about getting ready for the branch being changed in k/*

[2020-09-30 15:15] arghya88 commented on #3718
/assign

[2020-09-30 15:15] fabriziopandini commented on #3718
Sure!
/assign @arghya88
/lifecycle active

[2020-09-30 16:29] #3717 closed

[2020-09-30 16:53] wfernandes commented on #3720
I can take a look into this.
/assign

[2020-09-30 17:15] evalsocket commented on #2389
/assign @evalsocket

@detiber Hey, We need to add an index for the plugin. You can publish any cli tool as a kubectl plugin. Check https://krew.sigs.k8s.io/docs/developer-guide/.
@vincepri I am doing it. Do you have any more context about this issue?

[2020-09-30 17:22] bboreham commented on #3322
Should there be issues for these?

[2020-09-30 17:37] kashifest opened #3722 "clusterctl delete command is leaving webhooks behind"
**What steps did you take and what happened:**

`clusterctl delete --all` leaves behind the webhook deployments and pods running.

**What did you expect to happen:**
It should remove/delete webhooks also.

- Cluster-api version: v0.3.9
/kind bug

[2020-09-30 17:43] ncdc commented on #3722
cc @wfernandes

[2020-09-30 17:47] vincepri commented on #3322
@bboreham Will open something once controller runtime upstream is more stable / has a release tag

[2020-09-30 18:04] evalsocket commented on #2993
/assign @evalsocket

[2020-09-30 18:09] vincepri commented on #3280
/lifecycle frozen

[2020-09-30 18:15] vincepri commented on #3722
/priority important-soon

[2020-09-30 18:26] CecileRobertMichon commented on #3715
cc @alexeldeib

[2020-09-30 18:28] #3718 closed

[2020-09-30 18:29] CecileRobertMichon commented on #3715
@ncdc I'm not sure how this proposal affects a Load Balancer provider, I think that would be an implementation detail. The controlPlaneEndpoint type would not change and CAPI shouldn't care where that host name/IP is coming from, correct?

[2020-09-30 18:34] ncdc commented on #3715
I was thinking bigger picture, like potentially removing the control plane endpoint entirely from InfraCluster, and replacing it with a load balancer (referenced by the Cluster itself). Cluster/Machine infra providers could also implement load balancing, but you could mix & match, so the assumption that an InfraCluster always has a control plane endpoint might not hold in the long run. But this is

[2020-09-30 18:54] vincepri commented on #3712
/milestone v0.3.11

[2020-09-30 19:52] bboreham commented on #3322
Is it written somewhere why cluster-api has not updated to controller-runtime 0.6?

[2020-09-30 19:54] vincepri commented on #3322
Timing + it required breaking changes which we can't do until next release

[2020-09-30 22:36] wfernandes commented on #3722
/area clusterctl

[2020-09-30 22:36] wfernandes commented on #3722
/assign

[2020-10-01 00:07] vincepri commented on #3279
/lifecycle frozen

[2020-10-01 01:00] #3678 closed

[2020-10-01 10:35] fabriziopandini commented on #3365
/close
as per comment above

[2020-10-01 10:35] #3365 closed

[2020-10-01 13:39] vincepri commented on #3678
/milestone v0.3.10

[2020-10-01 13:53] fabriziopandini opened #3728 "Implements test for self-hosted upgrades"
As of today in CAPI e2e we are testing the bootstrap-pivot to self-hosting sequence, but we are not testing self-hosting upgrades.

Ideally we should test:
- upgrading a single control plane, self-hosted cluster
- upgrading an HA control plane, self-hosted cluster

/kind feature
/area testing

[2020-10-01 13:57] fabriziopandini opened #3729 "Machine controller should watch for nodes"
The machine controller already accesses nodes e.g. for retrieving the provider ID, and with https://github.com/kubernetes-sigs/cluster-api/pull/3670, for reading node conditions.

In order to make sure the Machine stay in sync with node changes, we should make the controller to watch the nodes instead of relying on requeue or on periodic resync

/kind feature

[2020-10-01 13:58] vincepri commented on #3729
/milestone v0.4.0
/priority important-longterm

[2020-10-01 13:58] vincepri commented on #3728
/milestone v0.4.0
/priority important-longterm

[2020-10-01 14:00] vincepri commented on #3722
/milestone v0.3.11

[2020-10-01 15:59] tcordeu commented on #3696
Hey @evalsocket can I work on these one? If so, would you mind helping me?

[2020-10-01 16:02] evalsocket commented on #3696
/unassign @evalsocket
/assign @tcordeu

[2020-10-01 16:08] benmoss commented on #3694
https://docs.chaostoolkit.org/ might be interesting to see if we can leverage

[2020-10-01 18:12] sedefsavas commented on #3729
/assign

[2020-10-01 18:16] sedefsavas commented on #3729
At a high level, reconcileNode() will be triggered on node changes. Any other aspects we want to consider when watching nodes?

[2020-10-01 18:53] fabriziopandini commented on #3729
My expectation is that a Machine should be enqueued for reconciliation every time the underlying node change.
As a reference, this is how this is implemented in MHC
https://github.com/kubernetes-sigs/cluster-api/blob/f881755d4897695b28b4759ec4253c423ba67e56/controllers/machinehealthcheck_controller.go#L199-L202

[2020-10-02 01:12] ZihanJiang96 opened #3731 "CAPD cluster control plane failed to be initialized"
**What steps did you take and what happened:**
follow the guide here: https://cluster-api.sigs.k8s.io/user/quick-start.html
[code]
**What did you expect to happen:**
The control plane should be in the initialized state.

**Anything else you would like to add:**
The log for the capd-controller-manager:
[code]
It is creating---deleting machine container endlessly.

**Environment:**
- Cluster-api ver

[2020-10-02 01:41] Alex2357 commented on #1926
I have exactly same problem.

[code]
[code]

[2020-10-02 05:17] sedefsavas opened #3732 "Define Condition reason severities for providers"
When setting a condition, checking the suggested severity of a reason is somewhat error prone.
It may be useful to have a helper function for all providers that returns the default severity of condition reasons.

Similar to this:
[code]

One down side here is we will have to maintain it everytime we add a new condition reason.

[2020-10-02 09:09] fabriziopandini commented on #3732
This could be something interesting to explore, but we should figure out how this could work with different sets of conditions reason, at least one for each project using CAPI conditions, being converted in different `ConditionReason` types all landing on a single set of a utility (e.g. `conditions.MarkFalse` or `conditions.FalseCondition`)

Might be defining an interface `ConditionReasonSeverityG

[2020-10-02 09:09] fabriziopandini commented on #3732
/milestone v0.4.0
/priority backlog

[2020-10-02 09:33] fabriziopandini commented on #3731
/triage support
@ZihanJiang96 sorry to hear that.
The only thing I noticed in your report is that you are on kind 0.9.0, and this a version not tested yet with CAPD (see https://github.com/kubernetes-sigs/cluster-api/issues/3696)

I'm not sure this works with 0.9.0, but the 0.8.x series required the following env var to be set in order to work
[code]
Is this variable set in your env?
Also, if poss

[2020-10-02 10:20] fabriziopandini opened #3733 "Release link in the quick-start is broken"
The release link in https://cluster-api.sigs.k8s.io/user/quick-start.html#install-clusterctl is broken:
[code]
Should report v0.3.10

[code]
Should link to v0.3.10

/kind bug
/area documentation

[2020-10-02 10:22] fabriziopandini commented on #3733
/kind documentation
/milestone v0.3.11

[2020-10-02 13:03] vincepri commented on #3733
It works locally, it seems we just need to rebuild and republish the book from the release branch

cc @detiber

[2020-10-02 13:28] Arvinderpal commented on #3401
After a looking into this a bit further, MachineDeployment rollout is already supported. In fact, it follows the same conventions as a regular Deployment rollout. -- a Deployment's rollout is triggered if and only if the Deployment's Pod template (that is, .spec.template) is changed, so a `restartedAt` annotation is added to deployments to trigger an immediate restart.

Taking the same approach, w

[2020-10-02 15:48] ncdc opened #3734 "CABPK: bootstrapping can fail in low-bandwidth environments"
**What steps did you take and what happened:**
1. Try to create a control plane in a low-bandwidth environment
1. kubeadm takes > 15 minutes to pull the preflight images (e.g. you're not using the container images baked into the OS image, for whatever reason)
1. kubeadm fails with an error like
[code]

**What did you expect to happen:**
1. Successful bootstrap

**Anything else you would like to ad

[2020-10-02 17:49] fabriziopandini commented on #3689
/assign
/lifecycle active

[2020-10-02 18:45] ZihanJiang96 commented on #3731
the KIND_EXPERIMENTAL_DOCKER_NETWORK is set in env.
I also try kind v0.8.x and v0.7.x, they all print the same error message in capd-controller-manager.

[2020-10-03 16:51] tcordeu commented on #3696
As Kind v0.9.0 depends on apimachinery v0.18.8 we should wait on https://github.com/kubernetes-sigs/cluster-api/pull/3735 to be merged (or to at least be stable), right?
cc @vincepri

PS: Sorry for the questions, this is my first issue.

[2020-10-05 09:57] fabriziopandini commented on #3731
timed out waiting for the condition could be a sign the new CAPD nodes are failing to detect containerd working after the node started.

https://github.com/kubernetes-sigs/cluster-api/blob/f631989d3f7430b5825644a5461e116f48ed2e28/test/infrastructure/docker/docker/machine.go#L225-L233

This usually happened way before the 4 seconds, but it seems in your setup this is too aggressive.
Is it possible

[2020-10-05 10:06] fabriziopandini commented on #3401
Am I wrong or the approach described above triggers an immediate upgrade, while in this issue we are seeking fo triggering a deferred upgrade?

[2020-10-05 10:20] fabriziopandini opened #3738 "Coundition counter should work no matter of the condition order."
**What steps did you take and what happened:**
As of today, we use two options to set up a condition counter for the ready conditions, `WithConditions` and `WithStepCounterIfOnly`, e.g.

[code]

When the list of conditions in `WithConditions` and `WithStepCounterIfOnly` does not have the same order, like in the example above, `SetSummary` fails to report the summary (the summary 0 of 2 completed d

[2020-10-05 10:21] fabriziopandini opened #3739 "Error reporting the condition counter in the Ready Conditions"
**What steps did you take and what happened:**
As of today, we use two options to set up a condition counter for the ready conditions, `WithConditions` and `WithStepCounterIfOnly`, e.g.

[code]

When the list of conditions in `WithConditions` and `WithStepCounterIfOnly` does not have the same order, like in the example above, `SetSummary` fails to report the summary (the summary 0 of 2 completed d

[2020-10-05 10:22] fabriziopandini commented on #3739
/milestone v0.3.11

[2020-10-05 12:02] prankul88 commented on #3731
@ZihanJiang96 hi, I did try the same with kind v0.8.1 and its working fine for me.
Just one thing, did you apply CNI solution in the workload cluster?

[2020-10-05 12:58] Arvinderpal commented on #3401
Yes, it triggers an immediate rollout, which IMO is fine. This approach follows closely with the general Deployment/RelicaSet model.

KCP handles things a bit differently, it has a specific field for "forcing" a rollout to occur immediately or sometime in the future.

[2020-10-05 13:29] #3739 closed

[2020-10-05 13:35] vincepri commented on #3731
/milestone Next

[2020-10-05 14:14] Arvinderpal commented on #3401
Yes, IMO the doc should be improved. That specific page talks about changing machine templates. However, the use case here is to issue an immediate rollout, irrespective of if anything has changed in the MD.

[2020-10-05 15:47] fabriziopandini commented on #3738
/close
duplicated of https://github.com/kubernetes-sigs/cluster-api/issues/3739

[2020-10-05 15:47] #3738 closed

[2020-10-05 16:30] wfernandes commented on #3534
Yes, moving forward this may look a little different. We **may** have to ensure that there is consistency between the clusterctl CLI and the management cluster operator versions rather than the version of the management cluster itself.

[2020-10-05 17:06] ZihanJiang96 commented on #3731
@prankul88  Hi, my bad. I tried kind v0.8.1 again, and it works!

[2020-10-05 18:04] fabriziopandini commented on #3731
Great to hear that!
/close

[2020-10-05 18:05] #3731 closed

[2020-10-05 18:35] wfernandes commented on #3722
/lifecycle active

[2020-10-05 18:59] wfernandes commented on #3722
@kashifest After looking into this issue, I realized that this is actually expected behavior. As per [our documentation](https://cluster-api.sigs.k8s.io/clusterctl/commands/delete.html), we remove the webhook configurations as part of the `--include-crd` flag.

That is, if you'd like to delete the webhook configuration as well then you'll need to run `clusterctl delete --all --include-crd`. Or if

[2020-10-06 01:06] #3322 closed

[2020-10-06 08:23] kashifest commented on #3722
@wfernandes Thanks a lot, indeed you are right, I stopped thinking beyond --all, but it works with --include-crd flag. A followup question would be I can still see the cert-manager left behind which was installed with clusterctl, is there any other flag or plan to do that? My motivation is to leave the k8s cluster in the same state after delete as it was before init.

[2020-10-06 10:33] fabriziopandini commented on #3697
/remove lifecycle-active
TBD an approach that does not trigger rollouts

[2020-10-06 10:34] fabriziopandini commented on #3697
/remove-lifecycle active
TBD an approach that does not trigger rollouts

[2020-10-06 11:55] kashifest opened #3743 "Uplift kube-rbac-proxy to newer versions e.g. v0.7.0"
In many of the tests with CAPM3, we are frequently experiencing SEGMENTATION fault post-pivot and other related errors with webhook pods and specifically for kube-rbac-proxy container.

Here is one example output:

[code]

Here is the kube-rbac-proxy log from capi-webhook-system pod

[code]
Since kube-rbac-proxy version 0.4.1 is pretty old, is it time to update the kube-rbac-proxy to newer version

[2020-10-06 12:25] fabriziopandini commented on #3743
Afaik the latest version of RBAC proxy is v0.5.0 (https://console.cloud.google.com/gcr/images/kubebuilder/GLOBAL/kube-rbac-proxy?gcrImageListsize=30), however, I'm +1 to move to the latest one available

[2020-10-06 13:25] kashifest commented on #3743
Yap +1 for v0.5.0

[2020-10-06 13:58] vincepri commented on #3743
/milestone v0.4.0

[2020-10-06 14:42] #3689 closed

[2020-10-06 14:51] benmoss opened #3747 "Flaky test: Patch Helper Should patch a clusterv1.Cluster updating both spec, status, and adding a condition"
/home/prow/go/src/sigs.k8s.io/cluster-api/util/patch/patch_test.go:39
  Should patch a clusterv1.Cluster
  /home/prow/go/src/sigs.k8s.io/cluster-api/util/patch/patch_test.go:411
    updating both spec, status, and adding a condition [It]
    /home/prow/go/src/sigs.k8s.io/cluster-api/util/patch/patch_test.go:550
    Expected success, but got an error:

        <errors.aggregate | len:1, cap:1>: [

[2020-10-06 15:21] wfernandes commented on #3722
Yes, this point was raised before IIRC.
`clusterctl` installs cert-manager as a convenience feature to improve Day 0 experience. However, `clusterctl` technically does not manage the cert-manager deployment. I believe the main point was to improve the initial user experience as much as possible without having to create a full-fledged operator to manage the cert-manager.
The most recent change we d

[2020-10-06 15:47] wfernandes commented on #3722
Oh yeah..and that reason ⬆️  as well 😄

Maybe we have a separate flag like `--include-cert-manager` as part of `clusterctl delete`.

Currently, `clusterctl` doesn't have any confirmation prompts in its UX but I think if we had a flag available then the user is explicitly stating that their intention is to delete cert-manager.

[2020-10-06 16:10] kashifest commented on #3722
Thanks guyz, I agree with you both @fabriziopandini  and @wfernandes , we can close this issue for now
/close

[2020-10-06 16:10] #3722 closed

[2020-10-06 17:25] iamemilio commented on #3296
/assign
I would like to take a look at this

[2020-10-06 17:42] fabriziopandini commented on #3296
What about having a validation webhook that prevents misconfiguration instead of reporting errors after the cluster is created?

[2020-10-06 18:36] hanlins opened #3751 "Http proxy support for egress traffic"
**User Story**

As a operator I would like to proxy cluster egress traffic for security compliance
As a operator I would like to store proxy credentials in secret(s) and consume them securely
As a user I would like to update cluster proxy settings via cluster API
As a user I would like to view proxy configurations being applied for my cluster

**Detailed Description**

In some corporation network,

[2020-10-06 18:52] randomvariable commented on #3296
@fabriziopandini Could do, but would have to be infrastructure specific then, which is fine as well.

[2020-10-06 18:53] randomvariable commented on #3296
@fabriziopandini would need validation webhooks performed by each infraprovider, since the cluster object has no idea of the infrastructure networks being used.

[2020-10-06 18:53] randomvariable commented on #3296
Additionally in DHCP environments, even the infra provider doesn't know what the networks are.

[2020-10-06 19:35] shysank commented on #3702
@wfernandes @zycon
I was able to reproduce it in `v0.3.9`.

But, this has been fixed in `0.3.10` [here](https://github.com/kubernetes-sigs/cluster-api/commit/a9c75fb2374d5cdd5e9e7294a5f404bd2d92f0ee). I was able to verify this.

[code]

[2020-10-06 19:37] Arvinderpal commented on #493
@randomvariable Thanks for sharing the kops link; in particular, the [proposal](https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/0000-20170814-bounding-self-labeling-kubelets.md) linked within it. It appears that a special prefix `node-restriction.kubernetes.io/*` has been created for node labels. kubelet's `--node-labels` flag can no longer be used to set labels with this pref

[2020-10-06 20:42] wfernandes commented on #3702
Ahh..ok. Yeah I believe that bug was fixed for the initial creation of the directory (`~/.cluster-api`) if it didn't exist.
Since this is fixed, I'm going to go ahead and close this. Thanks.
/close

[2020-10-06 20:42] #3702 closed

[2020-10-06 21:16] vincepri commented on #3751
This will probably need a design, let's see how we can kickstart something.

Regarding point 2, we should be able to use secrets to make sure we don't expose sensitive data https://github.com/kubernetes-sigs/cluster-api/blob/master/bootstrap/kubeadm/api/v1alpha3/kubeadmbootstrapconfig_types.go#L203-L205

/cc @CecileRobertMichon
for CAPZ side
/kind design

[2020-10-06 21:21] ncdc commented on #3751
@hanlins thanks for filing this! Could you please update your description with as many separate user stories that you can think of? For example, I think you could have separate stories for:
- supporting non-kubeadm bootstrap providers (will require a design with proposed contract+API changes for bootstrap providers)
- supporting things other than cloud-init
- ensuring any sensitive information (us

[2020-10-06 21:58] hanlins commented on #3751
Hi @ncdc,

Thanks for the feedback. For the user stories:

We don't actually have a user story for other bootstrap providers. I'm bringing that up just want to make sure we choose the right layer of abstraction if we decide to involve a config (e.g. we could expose a new option specifically for proxy in [**ClusterNetwork**](https://github.com/kubernetes-sigs/cluster-api/blob/6ee07b3ff2c4162a395996

[2020-10-06 22:11] hanlins commented on #3751
Hi @vincepri, true we can leverage `SecretFileSource` to hide the credentials, and this is what we're planning to work on shortly. It's good that we can hide the secrets but at the same time it's difficult for users to read the proxy settings for diagnose. Ideally if we have an option just for proxy, we could add just show the HTTP(S)_PROXY url to the users and hide its credentials. Here I'm makin

[2020-10-06 22:24] hanlins commented on #3751
@ncdc one more thing to add for the bootstrap provider assumption. Our current approach is Linux based and grouping a new option with the bootstrap provider could be easier for the moment but we might need to come back later for windows support. Exposing a new option in `Cluster` might enforce windows to support the new option.

[2020-10-06 23:14] srm09 commented on #3428
As an FYI, this is a useful [kubebuilder](https://book.kubebuilder.io/multiversion-tutorial/tutorial.html) link for creating multi-version API.

[2020-10-07 02:29] srm09 commented on #3428
/lifecycle active

[2020-10-07 10:35] yastij commented on #3669
I think it's worth brainstorming a way for CP machine-specific customisation, wether it's through:
- mutation
- the same mechanism of `MachineDeployments`, where  you create multiple mds with different params, that join the same cluster
- some other way that is TBD

[2020-10-07 14:23] iamemilio commented on #3296
Excuse my Newbieness, but do we need to dynamically check the network CIDR range? For this validation check, why should we not just assume that the CIDR ranges the users entered [here](https://github.com/kubernetes-sigs/cluster-api/blob/7fdecfe013260f6ca4dd5afa1ae72a37766f7506/api/v1alpha3/cluster_types.go#L67) are valid, and just check if they overlap?

If we want to validate the CIDR ranges them

[2020-10-07 14:34] vincepri commented on #3669
This seems a fair goal, should we open a more generic issue to design it? It sound like we might want to tackle this from a Machine (template) perspective, rather than having a custom solution for just control planes

[2020-10-07 14:43] vincepri commented on #3042
Renamed this, hopefully it's going to be a bit more clear going forward :)

[2020-10-07 15:30] Arvinderpal commented on #493
CAPI already documents this restriction [here](https://cluster-api.sigs.k8s.io/user/troubleshooting.html). One possible alternative, as documented, is to use kubectl to add the desired labels.

[code]

The example is picking *all* worker nodes and is doing so by using the `!node-role.kubernetes.io/master` taint.
This is fine for simplistic scenarios where all workers are from a single MachineDeplo

[2020-10-07 16:41] randomvariable commented on #493
Working on a doc here:
https://docs.google.com/document/d/12xBDKPbmzWGcPK0qp23rfqzDlqGqnXV_t5fuXUol0QA/edit#

[2020-10-07 16:50] wfernandes commented on #3427
Hey everyone! Thanks for being so patient.

We've updated the [Management Cluster Operator CAEP](https://docs.google.com/document/d/1ZsusF5c9pYxseuaKxTpctI5aUDqzl0sdCW4xxDbLm3k). It now includes content regarding the proposed API and some examples of how it can be used.

We'd appreciate any feedback, comments, suggestions on the API.

[2020-10-07 16:55] bboreham opened #3760 "Distributed Tracing"
**User Story**

As a developer/operator I would like to see how one Cluster-API component calls another, and also how they use the Kubernetes API, for learning, troubleshooting or optimisation.

**Detailed Description**

Calls can be inserted into clusterctl and CAPI controllers to emit "spans".
Context can be carried from one component to another via "span context" data in an annotation.
See [thi

[2020-10-07 17:06] vbatts commented on #3430
curious, would this support need to be include in the v1alpha1 roadmap?

[2020-10-07 17:59] vbatts commented on #3430
(asking as I joined the call today and was looking over https://github.com/kubernetes-sigs/cluster-api/pull/3754)

[2020-10-07 18:02] vincepri commented on #3430
(Assuming you meant v1alpha4) We can just add it to the roadmap, we just need someone assigned to push it forward.

There is also the node agent talks that came up from #2554, which might be of interest for you all

cc @randomvariable

[2020-10-07 18:21] vincepri commented on #3760
/milestone v0.4.0

[2020-10-07 18:36] randomvariable commented on #3296
We don't know the network range of the infrastructure from that information, which is the main problem that pops up. That struct only tells us the CNI networking.

Should probably be along the lines of comparing Machine.Status.Addresses vs. the CIDRs in the struct above, and add a condition representing a clash.

[2020-10-07 18:53] randomvariable opened #3761 "Support composition of bootstrapping of kubeadm, cloud-init/ignition/talos/etc... and secrets transport"
**User Story**

As a Kubernetes distribution developer, I would like to support different bootstrappers to CloudInit as well as ensure Cluster API's secret data is delivered to the instance securely and is not readable by unauthorised persons. I however do not want to re-implement all of kubeadm bootstrap provider, or make big assumptions  about what the instance initialisation system is.

**Detai

[2020-10-07 18:54] randomvariable commented on #3761
Related to #3430

[2020-10-07 18:56] randomvariable opened #3762 "Machine attestation for secure kubelet registration"
**User Story**

As a security operator, I want to ensure developers who have access to create MachineDeployments are not able to gain access to data for workloads on a cluster they are not supposed  to.

**Detailed Description**

kubeadm bootstrap tokens allow registration as arbitrary node names. GCP, EKS and Kops provide mechanisms to attest to the identity of a node such that they do not inadve

[2020-10-07 19:03] vincepri commented on #3762
/milestone Next

To be determined if we can get this in v1alpha4

[2020-10-07 20:05] benmoss opened #3763 "Invalid ProviderID error is malformed"
**What steps did you take and what happened:**
Have a provider write a ProviderID that doesn't match the form we describe in https://github.com/kubernetes-sigs/cluster-api/blob/master/controllers/noderefutil/providerid.go

See a confusing error in the logs:

**What did you expect to happen:**
I think we just want it to print out the error string verbatim, I don't know where the formatting strings

[2020-10-07 22:43] sedefsavas opened #3764 "Investigate the use of uncached and cached clients in KubeadmControlplane"
This issue is to investigate possible problems that may happen due to the usage of cached client in KubeadmControlplane. In a CPU restricted management cluster cache may become out-of-date. Since KCP is a critical part in the sense that control plane health relies on its correctness, although cached calls are cheaper, we may want to switch back to using uncached clients and read from api server di

[2020-10-08 13:33] vincepri commented on #3661
/milestone v0.4.0

[2020-10-08 13:49] iamemilio commented on #3296
Thanks, that makes more sense. My next question would be why a validation webhook? Do we do a simlar things for other validation steps? Do we have a process for validating configs?

[2020-10-08 18:47] shysank commented on #2585
@vincepri is this still being worked on by someone? If not, can I take this one?

[2020-10-08 18:58] vincepri commented on #2585
Sure yeah!

[2020-10-08 18:59] shysank commented on #2585
/assign

[2020-10-08 19:37] vincepri commented on #3751
/milestone v0.4.0

[2020-10-08 20:16] maplain commented on #3075
I think a generic solution is needed as long as people use an agent in a cluster to manage external infrastructure resources. My personal understanding is this is not CAPI specific, more like a mismatch between cluster lifecycle and the external infrastructure resource lifecycles. The former is bound to the "Cluster" CR(or other constructs in other scenarios) whereas the latter is bound to the age

[2020-10-08 21:25] iamemilio commented on #3296
@randomvariable for clarification, by infraprovider do you mean the underlying infra, or cluster-api-provider-foo?

[2020-10-08 21:28] iamemilio commented on #3296
Can we define an interface version of our [crd validation webhooks](https://github.com/kubernetes-sigs/cluster-api/blob/9cbf8be8d643203d99aca6714825abdabcbca0b1/api/v1alpha3/cluster_webhook.go#L64) then have the cluster-api-providers implement it downstream?

[2020-10-09 09:59] fabriziopandini opened #3765 "Use tilt tilt/cert_manager extension"
https://github.com/tilt-dev/tilt-extensions/pull/90 recently added a new extension taking care of installing cert-manager in a dev cluster created with `tilt up`.

It is now possible to start using this extension in the CAPI Tiltfile, thus removing the existing `deploy_cert_manager` and related global variables.
See https://docs.tilt.dev/extensions.html for more info about how to use tilt extensio

[2020-10-09 10:07] fabriziopandini opened #3766 "Rework tests failing after moving to controller-runtime to v0.7"
https://github.com/kubernetes-sigs/cluster-api/pull/3735 is going to update controller-runtime to v0.7, however, in the process of doing so, some test were marked with `Skip` because they started to fail and further investigation are required.

This is issue is for tracking the effort of restoring these tests:
- [x] bootstrap/kubeadm/controllers/kubeadmconfig_controller_test.go, TestKubeadmConfigR

[2020-10-09 10:09] fabriziopandini commented on #3766
/assign
/lifecycle active
Starting to working on clusterctl test failures. If someone wants to chime in for other tests, feel free to go on (please comment on this issue to inform others)

[2020-10-09 14:21] yastij commented on #3669
Agreed, I'll file one

[2020-10-09 14:25] vincepri commented on #3669
Thanks @yastij, closing this for now.

/close

[2020-10-09 14:25] #3669 closed

[2020-10-09 14:28] vincepri commented on #3765
/milestone v0.4.0

[2020-10-09 14:28] vincepri commented on #3766
/milestone v0.4.0

[2020-10-09 15:12] vincepri commented on #2372
/close

This has been done

[2020-10-09 15:12] #2372 closed

[2020-10-09 17:13] fabriziopandini opened #3769 "CAPBK should not write to /tmp"
https://cloudinit.readthedocs.io/en/latest/topics/modules.html#runcmd
the docs here say that cloud-init runcmd steps should not write to /tmp because of a race w/ systemd-tmpfiles-clean, but currently, CABPK writes to `/tmp/kubeadm.yaml` and `/tmp/kubeadm-join-config.yaml`.

Instead, we should write to someplace like `/run/kubeadm`

/kind bug

[2020-10-09 17:14] fabriziopandini commented on #3769
/milestone v0.4.0

[2020-10-09 17:23] vincepri commented on #3769
/help

[2020-10-09 17:25] Lukasz-SendGrid opened #3770 "machineset_controller creating new machines before adopting existing ones"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
I was going through a disaster recovery scenario where a management cluster which creates other clusters is wiped out, and the state of it is restored via velero restore. Before proceeding with the cluster rebuild and restore, I paused the cluster created via capi, and created a velero bac

[2020-10-09 17:43] benmoss opened #3771 "Kubeadm bootstrap provider is logging tokens"
**What steps did you take and what happened:**
Creating a machine with the Kubeadm Bootstrap Provider results in tokens getting logged

[code]

**What did you expect to happen:**
No tokens should be logged, since they are secrets

/kind bug
/area bootstrap

[2020-10-09 18:10] vincepri commented on #3771
/help
/good-first-issue
/milestone v0.4.0

[2020-10-09 18:14] vincepri commented on #3770
/milestone Next

Setting next milestone until we can triage a bit more

[2020-10-09 19:19] wfernandes commented on #3720
Just an update.
I haven't gotten started on this yet. Will try to start working on it next week.

[2020-10-09 20:40] #3581 closed

[2020-10-09 21:27] CecileRobertMichon commented on #3358
@ncdc @rudoi @JoelSpeed @elmiko thoughts on getting this into v1alpha4?

[2020-10-12 00:12] eratnch commented on #3765
@fabriziopandini,  i would like to work on this.
/assign @eratnch

[2020-10-12 13:29] ncdc commented on #3358
@CecileRobertMichon I just reread all the comments and there were a few different ideas suggested. Which one are you asking about? 😄

[2020-10-12 13:40] Arvinderpal commented on #493
Please correct me if I'm wrong, but the above proposal focuses on secure bootstrapping and thus labels applied at machine creation time only.  Can we go back to the discussion on CAPI reconciling labels on a node?

If I'm not mistaken, the security concern around label spoofing can be addressed if CAPI were to reconcile labels with the a prefix like `cluster.kubernetes.io/*`, since kubelet's `--no

[2020-10-12 13:46] ncdc commented on #493
I'm pretty sure it's just `kubernetes.io` that is restricted, but other values (`foo.com/bar`) should be fine.

[2020-10-12 14:20] Arvinderpal commented on #493
@ncdc Yes, you're right, but I was more referring to the security concern addressed [here](https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/0000-20170814-bounding-self-labeling-kubelets.md). Labels like `foo.com/bar` can be set via `--node-labels` and thus are vulnerable. Labels in the `*kubernetes.io/*` are more restrictive (which is a good thing).

If we're not immediately co

[2020-10-12 14:28] #3771 closed

[2020-10-12 14:43] arghya88 commented on #3769
/assign

[2020-10-12 15:52] vincepri commented on #493
Should we reopen this issue and maybe rename it for the new scope, or do we want to keep it closed?

[2020-10-12 15:53] ncdc commented on #493
I would suggest that we keep the discussion here, come to some sort of consensus on what the actual RFE is, and then open a new issue specifically for that.

[2020-10-12 16:09] CecileRobertMichon commented on #3358
Not set on a particular implementation detail yet, just want the ability to spread worker nodes in AZs automatically. We can discuss implementations as part of the proposal I guess? Mostly gaging interest prioritizing this user story at all.

[2020-10-12 17:39] elmiko commented on #3358
no objections to moving forward from me.

i think my main concern is ensuring that we continue to present unified node groups to the autoscaler.  i don't think any of the ideas we've talked about would necessarily break that, but if we start exercising labels or taints which would affect placement of machines within a machineset/deployment then we would need to make sure and document this for auto

[2020-10-12 17:43] shysank commented on #3540
/assign

[2020-10-12 21:31] CecileRobertMichon commented on #3690
+++

would be great if we can also use this to test upgrades of various providers

[2020-10-12 22:04] sedefsavas opened #3778 "Move registering field indexes logic to the API package"
Machine controller registers index on field `status.nodeRef.name` field, which makes getting the matching Machine easier when watching Nodes.

Currently, indexing happens in the controller, but we should move it up to the main function as field indexes are global and not per controller. And registering an index should be API version specific. So moving `indexMachineByNodeName` to API package and c

[2020-10-12 22:06] vincepri commented on #3778
/milestone v0.4.0
/priority important-longterm
/help

[2020-10-13 06:55] fabriziopandini commented on #3690
@CecileRobertMichon this should be the case.
The PR is out, waiting for feedback 😉

[2020-10-13 07:01] fabriziopandini commented on #3540
Just a note here.
Handling the cloning process is a responsibility of the infrastructure provider, and so the cloning error should surface first as a condition on the infrastructure machine. Then, this condition should automatically go up the chain and be reported by KCP into the KCP `machineReady` condition.
FYI In CAPV, we are already addressing a similar problem

[2020-10-13 11:53] ncdc commented on #3540
IIRC, this is about a failure to create a new CR from the infra (or bootstrap) template in the KCP spec. I don't think it's related to VM cloning.

[2020-10-13 11:57] fabriziopandini commented on #3766
taking a look to other failing tests as well

[2020-10-13 13:13] Arvinderpal commented on #3439
I'm going to start implementing a PoC -- focusing just on MachineDeployments for now.
I wanted to ask, if people are okay with having a top level command like `clusterctl rollout`or would you prefer something else like (i) `clusterctl experimental rollout` (ii) `clusterctl workload-cluster rollout` (iii) ...?

@fabriziopandini @wfernandes,

[2020-10-13 13:35] ncdc commented on #3540
Specifically these:

https://github.com/kubernetes-sigs/cluster-api/blob/ed580e2b92e3ebfbece20d31407c24c443432da4/controlplane/kubeadm/controllers/helpers.go#L133-L144

https://github.com/kubernetes-sigs/cluster-api/blob/ed580e2b92e3ebfbece20d31407c24c443432da4/controlplane/kubeadm/controllers/helpers.go#L148-L150

And this last one is for the Machine creation and not about templates, but it's may

[2020-10-13 13:51] vincepri commented on #3439
`clusterctl alpha <>`? So we can follow the alpha phases we have in other tools

[2020-10-13 14:10] #3677 closed

[2020-10-13 14:38] fabriziopandini commented on #3696
@tcordeu #3735 is merged now. Are you still up to work on this issue
?

[2020-10-13 15:33] wfernandes commented on #3720
/lifecycle active

[2020-10-13 16:21] ncdc opened #3779 "Add available condition to control plane provider contract"
**User Story**

As a developer, I would like to know when the control plane is first reachable for a new cluster, so that I can make decisions about MachineHealthCheck.spec.nodeStartupTimeout for joining control plane machines.

**Detailed Description**

When trying to determine if a joining control plane machine has exceeded a MachineHealthCheck's nodeStartupTimeout, we need to delay checking for

[2020-10-13 16:22] vincepri commented on #3779
/milestone v0.4.0

[2020-10-13 16:33] ncdc commented on #3779
Thinking a bit more, I wonder if what I really want is a Cluster condition for ControlPlaneAvailable, and the ClusterReconciler can set this when it's able to talk to the workload cluster apiserver? I don't know this necessarily or strictly needs to be in the control plane provider?

[2020-10-13 16:35] detiber commented on #3779
+1 to making this a condition on the Cluster

[2020-10-13 16:37] vincepri commented on #3779
That's what KubeadmControlPlane actually does today (more or less), we could write a fallback to do this generically by pinging the control plane?

[2020-10-13 16:48] vincepri commented on #3779
Initialized was a bit different than availability when we originally discussed it. If our goal is to provide something generic for saying "the control plane is available", consider something like:

- Have an `ControlPlaneAvailable` condition
- Have code that checks if the control plane reference conditions has `Available` set to `True`
- If the control plane reference isn't available, fallback to

[2020-10-13 16:55] ncdc commented on #3779
Hmm what does "available" mean? 😄 Let me come back later with some more detailed thoughts...

[2020-10-13 16:56] wfernandes opened #3780 "Need to update admissionregistration version from v1beta1 to v1"
**What steps did you take and what happened:**
1. Updated my `kind`, `kubectl` and `clusterctl` versions to the latest. For clusterctl, I pulled the latest code for cluster-api and did `make clusterctl`.
1. Created a management cluster with verbose logging on. `clusterctl init --infrastructure aws -v10`
1. Saw the warning logs below for our `admissionregistration.k8s.io/v1beta1`

**What did you ex

[2020-10-13 16:58] wfernandes commented on #3780
If this is something that we want to fix, I'd like to take it on. Please let me know if there is anything other than upgrading the versions from `v1beta1` to `v1` that needs to be done.
/assign

[2020-10-13 16:59] wfernandes commented on #3780
Thanks @vincepri. Does it make sense to keep this issue open?

[2020-10-13 16:59] vincepri commented on #3780
See https://github.com/kubernetes-sigs/controller-runtime/issues/1161

[2020-10-13 16:59] vincepri commented on #3780
Yes, let's keep it open and track it

/milestone v0.4.0

[2020-10-13 17:13] wfernandes opened #3781 "Installing cert-manager via latest clusterctl produces warning logs"
**What steps did you take and what happened:**
1. Updated my kind, kubectl and clusterctl versions to the latest. For clusterctl, I pulled the latest code for cluster-api and did make clusterctl.
1. Created a management cluster with verbose logging on. clusterctl init --infrastructure aws -v10
1. Saw the warning logs below for cert-manager `CustomResourceDefinition`, `ClusterRole`, `ClusterRoleBin

[2020-10-13 17:24] zawachte opened #3782 "Provisioning each Control Plane Machine with Unique Credentials."
**User Story**

As an operator, I would like to be able to provision each control plane machine with unique credentials. My use case is for KMS Plugins. KMS plugins need to run as static pods or services and can't rely on the api-server (configmaps, secrets). (Can't encrypt secrets if you rely on them!)

Today the best I can do is use KCP and add the credentials as a file, but the problem is that

[2020-10-13 17:25] vincepri commented on #3779
`Initialized` could probably go away, it's currently set when a control plane is initialized, but doesn't necessarily mean that the control plane is ready to be taking requests or that's reachable.

`Available` was a way to say the control plane is ready to take requests and it's operational (needs more definition), which comes a bit after initialization step

[2020-10-13 17:30] ncdc commented on #3779
Going to move some of this discussion over to #3026 and will circle back here later

[2020-10-13 17:43] ncdc commented on #3026
Thinking more about the various scenarios here... but first a definition/question

Should "control plane available" mean
- the apiserver is currently responding to requests (at least 1 control plane node is functional)
    - (this is a distinction from "control plane ready", which means all members of an HA control plane are operational)
- the apiserver was accessible at least once (current meanin

[2020-10-13 17:47] detiber commented on #3779
Yes, it was initially intended mostly as a stop gap for the purposes of allowing migration and continuation of support for v1alpha2 Machine-based control planes to v1alpha3 and KubeadmControlPlane.

My initial thoughts around this were to provide a signal that the ControlPlane (API Server) should be available for requests, so that it could block/unblock operations that require the control plane be

[2020-10-13 18:19] detiber commented on #3026
It seems like we're talking about two separate signals here and conflating them a bit. Maybe it would be good to track a timeout for machine infrastructure readiness independent from `nodeStartupTimeout`, that would allow for better granularity of when to start the clock on `nodeStartupTimeout` independent of the infrastructure provisioning.

I think we need to be cautious about supporting automat

[2020-10-13 18:23] fabriziopandini commented on #3393
given the fact that CAPD artifacts are now published as part of the release, this should not be a problem anymore.
@prksu @wfernandes could you kindly confirm?

[2020-10-13 18:28] detiber commented on #3782
Thinking somewhat generically about this with a bit of an AWS tinted set of glasses, I would expect to be able to accomplish something along these lines using a combination of IAM profiles that allow access to the needed services for KMS, and the individual identities of the control plane instances.

Of course that isn't overly applicable to all the places that Cluster API can run or for supportin

[2020-10-13 18:30] vincepri commented on #3026
Leaning towards this definition, continue health check throughout the lifecycle of the cluster. One example this would become useful is during upgrades or other maintenance operations, where the control plane might become unavailable, we probably want to offset any new node join or machine creation when the health check became available again.

This is going a little bit further, although probably

[2020-10-13 18:33] detiber commented on #3781
I think this can mostly be solved by upgrading to a newer version of cert-manager, It looks like the latest manifests (v1.0.3) use the newer resources by default (but they still publish `-legacy` yaml files with the older versions for backwards compatibility.

[2020-10-13 18:55] ncdc commented on #3026
Ok, so it sounds like:
- In all cases, cluster infra ready must be true before MHC proceeds to check nodeStartupTimeout
- It is safest if we never have MHC apply to the first control plane machine. Is there any way to determine if a machine is the initializing member? Previously I would have said that's cluster.status.controlPlaneInitialized. Maybe there's still some value in this information?
- W

[2020-10-13 19:11] detiber commented on #3026
+1, I don't think it's a concern if using ControlPlaneInitialized, only if relying on ControlPlane availability.

[2020-10-13 19:19] ncdc commented on #3026
So do we want to add a ControlPlaneInitialized condition on the Cluster?

[2020-10-13 19:33] vincepri opened #3783 "Document policies around Kubernetes and dependencies"
Every now and then, there is going to be breaking changes that need to be made for a number of reasons. A common which usually happens at every cycle:

- Minimum Kubernetes version
  - For management clusters
  - For workload clusters
- Controller Runtime version
  - Usually carries other Kubernetes dependencies pinned to a specific version, like k8s.io/api or client-go.

This issue should start a

[2020-10-13 19:33] vincepri commented on #3783
/assign

[2020-10-13 19:38] vincepri commented on #3026
Uh oh, getting confused, I thought we were about to add ControlPlaneAvailable 😄 and use that to offset all machines (other than the first).

Available would probably include Initialized?

[2020-10-13 20:18] benmoss opened #3784 "clusterctl init --help refers to non-existent command"
`clusterctl init` is telling users to run `clusterctl config providers` to get a list of available providers, that command just prints out help text for the `config` subcommand.

https://github.com/kubernetes-sigs/cluster-api/blob/9cbf8be8d643203d99aca6714825abdabcbca0b1/cmd/clusterctl/cmd/init.go#L52

[code]

/kind bug
/area clusterctl

[2020-10-13 20:35] jsturtevant commented on #2769
For reference, another use case for kubeadm as a library would be to simplify CABPK retry logic from a windows perspective: https://github.com/kubernetes-sigs/cluster-api/pull/3616#discussion_r494571110. Currently the proposed solution is for the InfraMachine Spec to have an OsTpye that can be looked up but CABPK controller and provide the correct retry script.  This additional logic and script in

[2020-10-13 20:43] sedefsavas opened #3785 "Add tilt-provider file to CAPD"
CAPD is missing tilt-provider.json, which is used to start a management cluster with CAPD using tiltfile, similar to: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/tilt-provider.json

[2020-10-13 21:01] ncdc commented on #3026
I wrote about adding Available in #3779 before @detiber brought up flapping + MHC + the potential for an infinite timeout.

I think it is useful to have one indicator that says "the first control plane member has come online successfully". This would be a write-once condition (aka ControlPlaneInitialized).

I think it is also useful to have Available (apiserver is functional).

And it's also good

[2020-10-13 21:09] detiber commented on #3785
This makes me wonder if it'd be possible to remove the custom tilt-provider.json and our custom tilt-settings.json file with [Tiltfile Config](https://docs.tilt.dev/tiltfile_config.html) and [include/load Tilt files](https://docs.tilt.dev/multiple_repos.html) from the individual provider repos where needed

[2020-10-13 21:15] ncdc commented on #3785
+1 to Tiltfile config; that didn't exist when we initially added Tilt support. That's tracked in #3415.

re including/loading, that's worth exploring. The Tiltfile in this repo does have the "dev" Dockerfile setup + live reloading, although it's not that much code, so maybe we could find some way to share it w/o copying it everywhere. Maybe file a separate issue for this?

[2020-10-13 22:27] wfernandes commented on #3781
@detiber I saw that but considering we are on v0.16.1 of cert-manager, I'm assuming that the major version bump may lead to some breaking changes. So we may need to be careful of just bumping directly to their latest version.

[2020-10-13 22:36] benmoss opened #3787 "CAPD quickstart doesn't work"
**What steps did you take and what happened:**
[code]

**What did you expect to happen:**
I thought that with 0.3.10 we were fully supporting CAPD being installed/deployed this way. The quick start seems to imply this is all that is required.

**Environment:**

- clusterctl version: 0.3.10

/kind bug
/area clusterctl

[2020-10-13 22:39] benmoss commented on #3787
Ah nevermind, I was just missing the `--flavor development`

[2020-10-13 22:39] #3787 closed

[2020-10-14 03:27] arghya88 commented on #3769
/lifecycle active

[2020-10-14 07:44] prankul88 commented on #3784
Hi @benmoss , `clusterctl config providers` is not a valid command. The list of providers are shown in command `clusterctl config repositories`.
This is a good catch and worth updating. Thanks :)

[2020-10-14 07:45] prankul88 commented on #3784
/assign

[2020-10-14 07:58] srm09 opened #3789 "Ability to unit test the reconcilers for docker provider"
**User Story**

As a developer, I would like to be able to effectively unit test the docker controllers.

**Detailed Description**

Currently, the docker controllers have a hard dependency on the docker process to be running locally. This makes it impossible to write unit tests for the docker controllers `dockermachine_controller.go` and `dockercluster_controller.go`.
It would be great if we could

[2020-10-14 11:58] randomvariable commented on #3296
@iamemilio There's no guarantee an infra provider knows what the infrastructure network will be ahead of time, so it can't happen via a webhook.

If we take vSphere or bare metal as an example, you may very well be putting a machine in an L2 network with some external DHCP. There's nothing on the machine specification that mentions an IP address at that time.

[2020-10-14 12:29] JoelSpeed commented on #3358
For context on our position, we have a lot of interest internally pushing us to deliver this feature within OpenShift by end of Q1 next year, we'd like to match what this community is doing as we do that. Our team will be able to help out as and when the community wants to start moving forward with it.

So to answer the original question, I would like to see this in v1alpha4. Do we have anyone wan

[2020-10-14 12:51] JoelSpeed commented on #3026
+1 to this from me.

Just want to confirm on the last point, this means that we aren't (initially at least) going to read or use machine infra ready in any of the calculations for `nodeStartupTimeout`?

We will basically be checking the cluster infra for ready and cluster for initialized and only if both of those are true, checking `nodeStartupTimeout` in the way it is done already? (subtracting m

[2020-10-14 13:43] neolit123 opened #3791 "update keps/sig-cluster-lifecycle/clusterapi in kubernetes/enhancements"
the following folder in the kubernetes/enhancements (k/e) repository contains KEPs related to Cluster API:
https://github.com/kubernetes/enhancements/tree/master/keps/sig-cluster-lifecycle/clusterapi

- it only has the main CAPI proposal and it is out of date:
https://github.com/kubernetes/enhancements/blob/master/keps/sig-cluster-lifecycle/clusterapi/0003-cluster-api.md
KEPs are a living document

[2020-10-14 13:43] neolit123 commented on #3791
/kind documentation
/help

[2020-10-14 14:12] zawachte-msft opened #3792 "MachineHealthCheck will fail until Cluster is Provisioned"
**What steps did you take and what happened:**

So I am applying a machine health check at the same time I apply the rest of the "cluster template" and I see in the controller logs that the get remote cluster client is always failing until the cluster is provisioned. Which makes sense, at this point, there is no kubeconfig secret.

**What did you expect to happen:**

This leads me to two questions

[2020-10-14 14:13] vincepri commented on #3785
/milestone v0.4.0

[2020-10-14 14:14] vincepri commented on #3781
If it's mostly RoleBinding that are outdated (haven't looked at the rest), but IIRC there is also webhook on v1beta1, we can make the effort to update v0.16.1 if we're not ready to update to the new version

[2020-10-14 14:23] fabriziopandini commented on #3781
Considering that v1alpha4 targets Q1 2021, I don't think that it will be possible to stick with the v0.x series
Given that, I personally prefer to upgrade to the cert-manager v1 series as soon as possible, at least on the main branch.

For backporting to release-0.3, instead, I would wait for some evidence about how many changes this upgrade requires.

[2020-10-14 14:27] detiber commented on #3785
@ncdc I suspect the [restart_process](https://github.com/tilt-dev/tilt-extensions/tree/master/restart_process) tilt extension would probably help simplify it, will file an issue.

[2020-10-14 14:33] vincepri commented on #3792
Parts of this will be fixed and improved with @ncdc's work on #3752

[2020-10-14 14:34] detiber opened #3793 "Switch Tilt configuration to use upstream include/load rather than using the custom tilt-provider.json"
**User Story**

As a developer I would like the Tilt configuration to more closely match upstream conventions

**Detailed Description**

Currently we have a custom multi-repository configuration mechanism for adding provider configuration to our common cluster-api Tilt configuration. Instead, we should likely switch to the new upstream conventions (that didn't exist when our custom solution was cr

[2020-10-14 14:35] fabriziopandini commented on #3785
CAPD does not requires a  tilt-provider.json, because it is hard coded in the main tilt file
https://github.com/kubernetes-sigs/cluster-api/blob/19e40cd536d5ea0296599e2678e7cc70e385b452/Tiltfile#L69-L89

Nevertheless, +1 to explore Tiltfile config or other means to simplify our tilt file (I recently created https://github.com/tilt-dev/tilt-extensions/tree/master/cert_manager with the same goal in

[2020-10-14 14:35] vincepri commented on #3792
In general, the log failures are expected if the cluster isn't reachable or up yet. That said, we should do a better job to either ignore or delay these errors or logs whenever possible.

From a user perspective, one should be able to apply MHC whenever — the system should react based on the information it has about the cluster / machines that are being watched.

[2020-10-14 14:36] vincepri commented on #3793
/help
/milestone v0.4.0

[2020-10-14 14:37] vincepri commented on #3791
/milestone v0.4.0

[2020-10-14 14:41] vincepri commented on #3781
Well, we should probably sync up with the kubebuilder folks and update there as well, given that they're also stuck on a really old version.

Updating to cert-manager v1 isn't something that was discussed, let's bring it up at a community meeting. We'd have to explore if there can be a smooth transition first.

[2020-10-14 14:50] zawachte-msft commented on #3792
#3752 looks like it improves all of this. thanks. Closing the issue.

[2020-10-14 14:50] #3792 closed

[2020-10-14 15:39] benmoss opened #3795 "CAPD quickstart is broken when selecting a Kubernetes version not available from Kind"
**What steps did you take and what happened:**
Followed the CAPD quickstart:

[code]

**What did you expect to happen:**
The control plane comes up successfully

**Environment:**

- Cluster-api version: 0.3.10
- Minikube/KIND version: 0.9.0
- Kubernetes version: (use `kubectl version`): 1.18.6
- OS (e.g. from `/etc/os-release`): ubuntu focal

/kind bug

[2020-10-14 15:47] vbatts commented on #3430
@vincepri yes, sorry v1alpha4. And yes, that issue is very related. The secrets access is part of cloud-init on AWS that we can not support currently, and upstream ignition has rejected the multi-part mime support needed for handling these secrets on AWS. It's not an ideal spot.

[2020-10-14 15:49] vbatts commented on #3430
I was look at #3761, and it's the basis of my ^^ comment.

[2020-10-14 15:53] #3784 closed

[2020-10-14 16:29] jackfrancis commented on #3533
Here's a doc outlining the problem statements as I see them (and what I am motivated to solve):

https://docs.google.com/document/d/1FCX_u2mnxPgLYBXEPaS8Eni7423AmpkcZfiTkEZJUao

As a result of formulating those problem statements, and some time/thought, my conclusions are that we're not ready to do this work, and should instead focus on stabilizing the set of clusterctl functionality. Open to thou

[2020-10-14 16:29] fabriziopandini commented on #3795
/triage support
AFAIK there is not yet a kindest/node:v1.19.2 on docker hub

[2020-10-14 16:55] wfernandes commented on #3533
@jackfrancis I requested access to view the doc so I wasn't able to review it yet.
However, I think this work may be enabled in the future by the updates to the API that will be done as part of the Management Cluster Operator initiative.

If it makes sense we can either close this issue and reopen/recreate it when the need arises.

[2020-10-14 17:01] jan-est commented on #3512
Here is the Google doc https://docs.google.com/document/d/1fQNlqsDkvEggWFi51GVxOglL2P1Bvo2JhZlMhm2d-Co/edit#

[2020-10-14 17:15] jan-est commented on #3512
Here is the [google doc]( https://docs.google.com/document/d/1HWHTL6g45HrrBppGWgDi_1VkWRMA0Ue3IRBONcqKFKE/edit#heading=h.2lrpo279kcej)

[2020-10-14 17:27] jackfrancis commented on #3533
+1 on closing for now. Thanks all for your valuable contributions to the historical record! :)

[2020-10-14 17:27] #3533 closed

[2020-10-14 17:35] detiber commented on #2318
I'm happy to work on this for https://github.com/kubernetes-sigs/cluster-api/milestone/16, also happy to help work with this on other folks if anyone else is interested in contributing to this.

[2020-10-14 17:36] detiber commented on #1250
I'm interested in contributing towards this for https://github.com/kubernetes-sigs/cluster-api/milestone/16, should we work on scheduling a kick off meeting for others who may be interested in working on this as well?

[2020-10-14 17:36] detiber commented on #1250
/assign

[2020-10-14 17:37] detiber commented on #2318
/assign

[2020-10-14 17:40] vincepri commented on #3783
Hey folks, at the Oct 14th community meeting we brought up this topic, in general I'd propose something along these lines while we're in alpha:

- Clearly document the management cluster support matrix for each alpha/minor version published.
- During planning, we should discuss what should be the suggested Kubernetes version for management clusters.
  - Suggested version is going to be used throug

[2020-10-14 17:41] vincepri commented on #2318
@detiber If you have time or would like to, @srm09 was interested in getting up to speed on this issue and the problems it solves

[2020-10-14 17:42] vincepri commented on #2318
/priority important-soon

[2020-10-14 17:45] moshloop commented on #1250
@detiber - Awesome! Can you setup a kickoff?

[2020-10-14 17:51] detiber commented on #3783
One thing to note as we define a policy, the range of n -> n-2 is only valid for k8s <= v1.18, starting with v1.19 the support statement has moved from 9 months and/or n-2 to 1 year.

[2020-10-14 18:06] ncdc commented on #1250
Count me in!

[2020-10-14 18:08] CecileRobertMichon opened #3797 "E2E tests break with long CNI spec"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/991

Tests fail with `failed to execute kustomize: : fork/exec /home/prow/go/bin/kustomize: argument list too long` after updating the Calico CNI to v1.16 (from v1.12). The latest Calico spec is longer than previous ones as

[2020-10-14 18:09] CecileRobertMichon commented on #3797
cc @fabriziopandini @sedefsavas @randomvariable

[2020-10-14 18:14] ncdc commented on #3026
Based on suggestions above, that is correct.

Yes

That's really up to an infra provider, but I could envision things like some sort of networking issue that the infra provider detects and changes the cluster infra readiness to false.

We can probably optimize here, and omit the cluster infra readiness check, as it could be subject to the same control plane available flapping issue that Jason desc

[2020-10-14 18:19] ncdc opened #3798 "Add Cluster ControlPlaneInitialized condition"
**User Story**

As a developer, I would like to add a ControlPlaneInitialized condition to Clusters, so that MachineHealthCheck can use it when determining if a Machine has exceeded the allotted node startup timeout.

**Detailed Description**

We currently have cluster.status.controlPlaneInitialized, but it predates conditions and does not have a timestamp associated with it. Based on discussions

[2020-10-14 18:19] ncdc commented on #3026
I added #3798 for the ControlPlaneInitialized condition

[2020-10-14 18:21] ncdc commented on #3798
cc @vincepri @JoelSpeed @detiber @fabriziopandini

[2020-10-14 18:35] vincepri commented on #3798
I assume we'll remove the boolean field?

[2020-10-14 18:50] vincepri commented on #3026
This is a good circuit breaker. If the underlying infrastructure is having issues, and the InfraCluster reconciler can detect it and stop Machines to be marked unhealthy + remediated possibly causing even more failure, that's a good reason enough to keep the behavior?

[2020-10-14 18:52] vincepri commented on #3783
The new policy could work very well for the newly defined release cadence, with some good overlap

[2020-10-14 19:08] ncdc commented on #3798
Yes!

[2020-10-14 19:12] ncdc commented on #3026
Counter-argument: if an infra machine powers (cluster infra is ready) but fails to bootstrap (cluster infra flaps to not ready), shouldn't we remediate and mark the machine unhealthy?

[2020-10-14 19:17] benmoss commented on #3795
Ohh that makes sense. It wasn't clear I needed to pick a k8s version that was available from kind.

[2020-10-14 19:29] ncdc commented on #3798
Depends on #3749 going in first

[2020-10-14 19:40] vincepri commented on #3026
If that happens I'd assume there is something wrong, and we should probably delay/stop operations?

[2020-10-14 19:42] srm09 commented on #3798
@ncdc IIUC the intended MHC node startup timeout calculation would be as follows:
[Current time - Max(CP.started, Machine.creationTime)] > Allotted node startup time

If the `CP.Started` value is not present(which would be the case for v1alpha3 object), then we set it to the current time during conversion. That way, for the first time, we are giving the machine the benefit of doubt here citing the

[2020-10-14 19:45] ncdc commented on #3798
That's probably the only thing we can do, yes.

[2020-10-14 19:45] ncdc commented on #3026
I think subsequent infra machine creation would be delayed (e.g. we don't create ec2 instances if cluster infra is not ready), but any existing machines should be marked unhealthy, right?

[2020-10-14 19:50] srm09 commented on #2318
@detiber What would be a potential usecase of using `LocalObjectReference` over `TypedLocalObjectReference`. AFAIU, the latter type is a more stringent case of the former.
IMHO, we should always use the latter to guarantee the object being referred to.

[2020-10-14 20:39] fabriziopandini commented on #3797
@CecileRobertMichon
I'm looking at the workaround, and it seems that it is running `kustomize build`, which is the same we are already doing in the test framework. Might be it depends by the version of kustomize available on Prow (wild guessing at this stage)?
Are you able to reproduce locally?

[2020-10-14 21:44] CecileRobertMichon commented on #3797
I can repro locally

[code]

The workaround I listed was to not echo the full template with substituted vars to stdout

[2020-10-14 22:15] srm09 opened #3800 "Delete conversion files before running conversion-gen in Makefiles"
**User Story**

As a developer, I would like to change the parameters/flags to generate conversion files between different API versions.

**Detailed Description**

Currently, there are multiple targets in the Makefile to generate conversion functions between different API versions of Core, CAPBK, KCP and CAPD. They use the [conversion-gen](https://github.com/kubernetes/code-generator/tree/master/c

[2020-10-14 22:15] srm09 commented on #3800
/assign

[2020-10-14 23:56] sedefsavas commented on #3797
I copied the same calico.yaml to e2e cni directory and tested locally, did not get that error with kustomize_version=3.5.4.
We can create a test PR here to trigger this in prow.

[2020-10-14 23:58] sedefsavas commented on #3785
Closing this issue. Follow up on tiltfile config is here: https://github.com/kubernetes-sigs/cluster-api/issues/3793

[2020-10-14 23:58] #3785 closed

[2020-10-14 23:59] CecileRobertMichon commented on #3797
I have
[code]

Which provider were you using @sedefsavas? I can try to repro with the Docker provider as well.

[2020-10-15 00:09] sedefsavas commented on #3797
Yes, CAPD. I only run the quick start test.

[2020-10-15 00:56] CecileRobertMichon commented on #3797
Hmm I can't repro either with CAPD 😕  But I get the same error with CAPZ both locally and in prow

[2020-10-15 09:32] fabriziopandini commented on #3797
@CecileRobertMichon I made some investigation in this issue, but I'm not sure I'm getting the problem right, let me try to recap my current assumptions:

- We have https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/991 which is trying to upgrade to calico v3.16.3
- The PR fails with an error `Failed to generate the manifest for infrastructure-azure / v0.4.0`
- `infrastructure-azure

[2020-10-15 10:59] randomvariable commented on #3797
Ah, i was wondering. it would make more sense that it's `cniData, err := ioutil.ReadFile(cniManifestPath)` as there are limits on the length of env vars (32,767 total for all env vars), whereas stdin/stdout should only be limited by memory.

[2020-10-15 14:12] benmoss opened #3801 "Clusterctl should offer a way to idempotently init a provider"
**User Story**

As a user I would like to write scripts to deploy a management cluster. I want to be able to run this against a cluster that may have already been initialized, to avoid having to tear down and recreate the cluster each time.

If I am running `clusterctl init --provider aws` and the AWS provider of the same version and name has already been installed, it should just succeed instead

[2020-10-15 14:14] ncdc commented on #3801
Maybe the management cluster operator will help here? cc @wfernandes @fabriziopandini

[2020-10-15 15:00] #3769 closed

[2020-10-15 15:45] CecileRobertMichon commented on #3797
@fabriziopandini :

Correct

Correct

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/3da52a303b650521e86ff0d56dfcca15e926779b/test/e2e/config/azure-dev.yaml#L41-L54

Correct

I agree, this was my observation as well

So, back to the error, why we get `argument list too long` when calling `kustomize build ${PWD}/config`?

I am not sure. It's a mystery to me at this point. What I

[2020-10-15 17:55] fabriziopandini opened #3802 "Provide "at glance" view of cluster conditions"
**User Story**

As an operator, I would like to get an "at glance" view of conditions in my cluster for quicly understanding if there are problems and where

**Detailed Description**

While testing and developing conditions, I have created a small utility that provides a simple view of conditions across a cluster, e.g.

<img width="1207" alt="Screenshot 2020-10-15 at 19 53 10" src="https://user-im

[2020-10-15 17:56] vincepri commented on #3802
💯
Let's add it to clusterctl!

[2020-10-15 17:56] vincepri commented on #3802
/milestone v0.4.0

[2020-10-15 17:58] timothysc commented on #3802
+100!

[2020-10-15 17:59] iamemilio commented on #3296
Given those restrictions, the only way this can really work on all platforms the same way is to check the ip assigned to each machine against the service and pods network CIDRS and throw and error or warning in the machine-controller logs if they overlap. Is that an acceptable solution?

Another option to consider is how things are handled in OpenShift. We require admins to do a little legwork upf

[2020-10-15 18:07] vincepri commented on #3802
/area ux

[2020-10-15 18:27] #3766 closed

[2020-10-15 18:31] wfernandes commented on #3801
This is the same behavior as the k8s API. That is, if we `kubectl create ns foobar` twice we get the error `Error from server (AlreadyExists): namespaces "foobar" already exists`.

I guess if we are using `clusterctl` in a script, we could do something like:
[code]

Yeah..this is not great. There are many reasons regarding current multi-tenant model, global vs. namespaced providers, single provide

[2020-10-15 18:33] vincepri commented on #3801
/milestone v0.4.0

Assigning you Warren to this given that it touches on the operator stuff
/assign @wfernandes

[2020-10-15 18:34] vincepri commented on #3801
`clusterctl init -i aws || true `

Let's not do this, maybe we can suggest some kubectl command to see if something has been installed? This seems would be easier to solve with the operator proposed types, given that you can check directly if the resource is created or not

[2020-10-15 18:34] ncdc commented on #3296
Logs are not user-facing. The only available user-facing status indicator is the conditions array in status. The original description above suggests making this a condition in Cluster status.

I'll defer to @detiber @CecileRobertMichon @randomvariable etc. for thoughts on the suggested new API field.

[2020-10-15 18:41] benmoss opened #3804 "CAPD clusters don't always delete"
**What steps did you take and what happened:**
While trying to script CAPD cluster creation and teardown, I ran into this bug where it seems the cluster gets deadlocked deleting.

[code]

What I see is a single control-plane machine and the cluster stuck in the `Deleting` phase.

[code]

**What did you expect to happen:**
It tears down the cluster and machine as quickly as possible.

**Anything el

[2020-10-15 18:50] benmoss commented on #3804
cc @vincepri

[2020-10-15 18:51] fabriziopandini commented on #3804
@benmoss AFAIK the cleanest mode to delete a cluster is to delete the cluster object only, because this orchestrate all the deletion process in the right way
However, I agree that also kubectl delete * should work

[2020-10-15 18:58] vincepri commented on #3804
/milestone Next

Going to Next until we have a clear idea what we want to do here and what solution we should be going for

[2020-10-15 19:17] fabriziopandini commented on #3801
If we agree on idempotency, all the logic to detect what is already there in clusterctl init, only it currently blocks as a preflight check; it * should be not difficult * to turn the preflight check into a warning

[2020-10-15 19:45] benmoss commented on #3804
Yep, just deleting the cluster does work. I think this works for CAPA, as I do this often for cleaning up CAPA clusters

[2020-10-15 21:08] detiber commented on #3296
I'm not necessarily sure I'm a fan of adding a field for this unless we have a comprehensive proposal around it, how it would impact providers, and how it would impact users.

I want to make sure we aren't creating a situation where it's really easy for a user to shoot themselves in the foot, and that we aren't necessarily imposing requirements on providers that are unreasonable.

For example, wit

[2020-10-15 21:14] davlloyd opened #3805 "CusterAPI resources be subjected to assigned namespace quotas and limits"
**User Story**

When requesting cluster operations the resource requirements in memory, cpu and storage should be reconciled against current namespace quotas and limits. Any currently deployed resources should be included in current consumption totals. This would allow administrators to define limits to the consumers helping with the overall capacity management operations

**Detailed Description**

[2020-10-15 23:58] jsturtevant commented on #3802
This is awesome. I did something similar in [CAPZ for debugging](https://github.com/kubernetes-sigs/cluster-api-provider-azure/tree/master/hack/debugging#capz-map) that helped me figure out all the dependencies and use it all the time. This is much more polished look!

Is there are reason to have it in clusterctl? I did it as a kubectl plugin becuase that is where I spend most of my time.  Somethi

[2020-10-16 00:50] luniHw opened #3807 "GetClusterTemplate can not parse the cluster template when the value of kind CR property has a special character"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
Define a kind CR, it has a folder property. When the folder values is K8 VM's, the interface GetClusterTemplate returns error

**What did you expect to happen:**
1. Can GetClusterTemplate support the special characters, eg: ' & * !, etc
2. For template parse, are there some constraints abo

[2020-10-16 07:26] richardcase commented on #3661
I can look at this.

/assign

[2020-10-16 07:45] prksu commented on #3393
@fabriziopandini CAPDO metadata.yaml are now published in the release artifacts as well. this issue was not a problem from my side anymore.

[2020-10-16 11:51] fabriziopandini commented on #3802
@jsturtevant definitely yes!
My plan is to introduce in the clusterctl library the code to back this view, and then build the first sample view in clusterctl (mostly for avoiding the introduction of another release artifact), but any other UX layer can potentially reuse the same library.

I'm open to any solution we agree on as a community for the UX, but why not have more than one?
+1 to get this

[2020-10-16 12:51] randomvariable commented on #3296
Agree with @detiber .

Just to clarify the use case for having a condition on the cluster object:

Having a tool like the at-the-glance status in https://github.com/kubernetes-sigs/cluster-api/issues/3802 could show the problem across infrastructure providers.

Concretely, just thinking of a defined `ConditionType` constant for the condition and leaving the rest to infra providers.

[2020-10-16 13:07] fabriziopandini commented on #3393
/close
as per comment above

[2020-10-16 13:07] #3393 closed

[2020-10-16 13:19] fabriziopandini commented on #3807
cc @wfernandes
/priority important-soon
/milestone v0.3.11

[2020-10-16 14:13] devigned commented on #3802
Yeah, I need to get back to the VSCode plugin. Maybe not next week, but in an upcoming meeting, I'll push the code and give a demo in office hours. It would be great to a prototype and see if there are others would be interested in collaborating.

[2020-10-16 15:40] rudoi commented on #3358
+1 to including in v1a4

[2020-10-16 15:48] vincepri commented on #3358
Any volunteer for drafting up a proposal? :)

[2020-10-16 15:58] wfernandes commented on #3807
/assign
I'll take a look into this.

[2020-10-16 16:19] #3765 closed

[2020-10-16 16:35] wfernandes commented on #3807
So after looking into this, I don't believe this to be a problem in our parsing but rather the way the original yaml is formatted.

From the example above we have,
[code]
This property `folder: 'K8 VM's'` should technically be wrapped in double quotes.

I wrote a test to reproduce this problem described above. When I replaced the single quotes to double as shown below, we were able to parse the ya

[2020-10-16 17:36] vincepri commented on #3720
/milestone v0.3.11

[2020-10-16 17:39] vincepri commented on #3720
/milestone v0.4.0

[2020-10-16 17:41] vincepri commented on #3734
/milestone v0.4.0
/help

[2020-10-16 17:41] vincepri commented on #3747
/close
/milestone v0.4.0

Fixed in #3735

[2020-10-16 17:41] #3747 closed

[2020-10-16 17:42] vincepri commented on #3761
/milestone v0.4.0
/kind design

[2020-10-16 17:42] vincepri commented on #3763
/help
/good-first-issue
/milestone v0.4.0

[2020-10-16 17:43] vincepri commented on #3764
/milestone v0.4.0
/help

[2020-10-16 17:45] vincepri commented on #3782
/milestone Next
/priority awaiting-more-evidence

[2020-10-16 17:48] vincepri commented on #3789
/priority backlog
/milestone Next
/help

[2020-10-16 17:48] randomvariable commented on #3782
Possibly a use case within #3761 . Similar to how we want to treat domain joins potentially.

[2020-10-16 17:49] vincepri commented on #3795
/kind documentation
/help

Let's add a note to the quick start that folks need to check which images are available

[2020-10-16 17:49] vincepri commented on #3795
/milestone Next

[2020-10-16 17:50] vincepri commented on #3797
/milestone v0.3.11
/assign @CecileRobertMichon @fabriziopandini
/lifecycle active

[2020-10-16 17:51] vincepri commented on #3800
/milestone v0.4.0

[2020-10-16 17:52] vincepri commented on #3805
/milestone Next

[2020-10-16 17:55] vincepri commented on #493
/retitle Support syncing a set of labels, annotations, or taints to Kubernetes Nodes

[2020-10-16 17:57] vincepri commented on #493
/assign @ncdc

To agree on a small design and open a different RFE

[2020-10-16 18:01] vincepri commented on #1271
/assign @randomvariable

[2020-10-16 18:01] vincepri commented on #1271
/area api
/kind api-change

[2020-10-16 18:07] ncdc commented on #493
Questions we need to resolve:

1. What labels should be synced?
    1. Everything allowable?
    1. All labels matching a prefix?
        1. Where is this prefix specified - on the Cluster? A command-line flag to the controller? ...
1. What behavior(s) are appropriate?
    1. Full sync i.e. CAPI "owns" the node's labels and will remove anything not in the CAPI spec
        1. This could step on to

[2020-10-16 18:08] vincepri commented on #1554
During backlog grooming, @detiber proposed to introduce a contract for our infrastructure providers to at least use the namespaced name and document these limitations.

/cc @randomvariable @CecileRobertMichon

[2020-10-16 18:09] vincepri commented on #1576
/close

Closing for lack of updates, we need to add some documentation bits about the images requirements

[2020-10-16 18:09] #1576 closed

[2020-10-16 18:14] vincepri commented on #1685
/close

Closing this for now, given that documentation covers how to deal with CAPD on MacOS and CAPD is mostly for dev purposes

[2020-10-16 18:14] #1685 closed

[2020-10-16 18:16] vincepri commented on #1739
/close

Closing in favor of #3762

[2020-10-16 18:16] #1739 closed

[2020-10-16 18:16] vincepri commented on #1690
/help

[2020-10-16 18:16] vincepri commented on #1689
/help

[2020-10-16 18:17] vincepri commented on #1740
/close

Cluster API doesn't do ip management today, this is left for infrastructure providers

[2020-10-16 18:17] #1740 closed

[2020-10-16 18:18] vincepri commented on #1749
/close

Closing this in favor of the management cluster operator #3427 + ComponentConfig support in controller-runtime v0.7

[2020-10-16 18:18] #1749 closed

[2020-10-16 18:19] vincepri commented on #1754
Closing in favor of #1271

/close

[2020-10-16 18:19] #1754 closed

[2020-10-16 18:20] vincepri commented on #1760
@accepting Are you still interested in exploring this issue?

[2020-10-16 18:23] vincepri commented on #1768
Related to #3761

[2020-10-16 18:25] vincepri commented on #1828
If folks are still interested to translate and maintain other languages please reach out, we need to define a process and a place  where to put the translations

/lifecycle frozen

[2020-10-16 18:28] vincepri commented on #1882
cc @fabriziopandini Given that this is probably related to the test grid view across all providers

[2020-10-16 18:29] vincepri commented on #1970
/assign

To re-triage

[2020-10-16 18:29] cpanato commented on #1828
@vincepri I would like to translate to pt-br

[2020-10-16 18:48] shysank opened #3813 "Remove MachineDeploymentStrategy from MachinePoolSpec"
**What steps did you take and what happened:**
`MachinePoolSpec` has a reference to `MachineDeploymentStrategy` which allows the user to control deployment strategy like it can be done in a MachineDeployment. But, we don't know if all machine pool implementors will be able to replicate the behavior of MachineDeployment. So any changes made to MachineDeploymentStrategy spec will also alter the spec

[2020-10-16 18:48] shysank commented on #3813
/assign @CecileRobertMichon

[2020-10-16 18:49] CecileRobertMichon commented on #3813
/milestone v0.4.0

[2020-10-19 08:10] fabriziopandini commented on #3807
/remove-kind bug
/triage support

[2020-10-19 08:11] fabriziopandini commented on #3807
/kind support

[2020-10-19 08:26] fabriziopandini commented on #3805
Just a clarification, the request here is to manage quota for the target infrastructure (e.g. the quota on AWS, on Azure, on vSphere), right?
If so, I would recommend splitting the target infrastructure quota definition from the existing namespaces quotas, which have a different purpose and meaning in K8s.

[2020-10-19 08:32] fabriziopandini commented on #493
I'm +1 to
- sync all labels matching a prefix (or more prefixes if possible); empty prefix means no label sync
- full sync of matching labels
- to define prefix on the command-line flag of the controller, because this provides stricter control on this feature while we gather the first round of user feedback

[2020-10-19 08:40] fabriziopandini commented on #1554
FYI, in CAPD we already faced problems due to the length of the machine names (see https://github.com/kubernetes-sigs/cluster-api/issues/3599), so the idea of concatenating <namespace>-<cluster-name>-<machine-name> could lead to problems.

Finding a good trade-off between shortness, uniqueness, and meaningfulness of names is the first challenge here.
The second one is to ensure a viable upgrade pa

[2020-10-19 08:59] fabriziopandini commented on #1882
Yes the two works are related, but they do not fully overlap

The work for https://github.com/kubernetes-sigs/cluster-api/issues/3693 will help in introducing a standardized way to run conformance on Cluster API generated clusters, and thus collect all the data required for submitting conformance, but I do not expect this work taking charge of the submission bits of the conformance process.

Also,

[2020-10-19 09:00] fabriziopandini commented on #2916
/remove-lifecycle stale

[2020-10-19 14:27] vincepri commented on #3807
/milestone Next

[2020-10-19 14:35] ncdc commented on #493
/retitle Support syncing a set of labels from MachineDeployment/MachineSet/Machine to Nodes

[2020-10-19 16:47] benmoss opened #3821 "Reconcile errors are no longer automatically logged"
**What steps did you take and what happened:**
Created a CAPD cluster, saw no machines be created and the `Cluster` object is stuck in  `Provisioning`. No logs from the CAPD controller except for:

capd-control… │ [manager] I1019 16:44:41.357752    3468 generic_predicates.go:167] controllers/DockerCluster "msg"="Resource is not paused, will attempt to map resource" ""="bmo" "namespace"="default" "

[2020-10-19 16:49] ncdc commented on #3335
/lifecycle frozen

[2020-10-19 16:50] ncdc commented on #3821
Let's add conditions to CAPD!

[2020-10-19 16:54] vincepri opened #3822 "Run webhooks as part of the main manager"
**User Story**

Given that #3042 for v1alpha4 requires single controllers managing all namespaces, we should move the webhooks back in the main manager and run them behind RBAC in case we'll need a client in the future.

**Anything else you would like to add:**

@fabriziopandini @wfernandes  Clusterctl upgrade and operator needs to perform this migration as part of the upgrade path from v1alpha3.

[2020-10-19 19:36] detiber commented on #1882
@fabriziopandini I was thinking that we could leverage the work for #3693 to do something similar, except triggered by updated version tags for the appropriate repos. Assuming that the conformance output is captured in the job artifacts, that would give us a centralized place to look for the latest jobs for the latest releases to create a PR against the CNCF conformance repo.

Longer term, we coul

[2020-10-19 20:52] benmoss opened #3824 "CAPD fails to initialize workload cluster when named the same as kind cluster"
**What steps did you take and what happened:**
- Created a kind cluster named `kind`, and then made a CAPD cluster named `kind` on that management cluster
- Saw that the control plane machine was stuck in `Provisioning`
- Saw these errors in the logs:

Debugging a little more it looks like the problem is in [getKubectlNode](https://github.com/kubernetes-sigs/cluster-api/blob/c60114284e73f1f0cff96a

[2020-10-20 06:29] superbrothers opened #3828 "CABPK should set an env variable allowing to detect the type of node and whether a node is initialized or joined"
**User Story**

When KCP creates a control plane machine, it provides users with information on whether the machine is "initialized" or "joined", and users can perform processing based on that information.

**Detailed Description**

In out cluster, we want to check in the script of `preKubeadm` whether ControlPlane machines are to be `kubeadm init` or `kubeadm join` when they are created. When it

[2020-10-20 07:40] fabriziopandini commented on #3822
That's a huge simplification, yay!

[2020-10-20 07:43] fabriziopandini commented on #3821
@vincepri  is this something that should be fixed in controller runtime? (log in case of error)

[2020-10-20 07:49] fabriziopandini commented on #3824
This is somehow related to https://github.com/kubernetes-sigs/cluster-api/issues/1554 and the idea of generating unique infra names.

[2020-10-20 13:55] benmoss commented on #3821
From slack:

https://kubernetes.slack.com/archives/C8TSNPY4T/p1603124534447900

[2020-10-20 14:35] ncdc commented on #3821
We discussed this in the controller runtime PR that removed the logging. My suggestion was that seeing a log message from `controller.go` containing an error with no real provenance was really frustrating. You knew that something in the reconciliation flow returned an error, but in many/most cases, you had know idea what actual file+line generated the error.

We've been saying (but maybe it's not

[2020-10-20 16:13] vincepri opened #3831 "Node to Machine mapping function should filter by namespace and cluster"
**Detailed Description**

This came out from https://github.com/kubernetes-sigs/cluster-api/pull/3826#discussion_r508557322, we need to audit and see where we use a mapping function from node -> machine and filter out on cluster and namespace.

- For cluster filtering, we can achieve this today by using a label selector.
- For namespace filtering, we need instead to wait for controller runtime to

[2020-10-20 16:28] benmoss commented on #3821
I think it does raise the question of why the signature for `Reconcile` even has an `error` then

[2020-10-20 16:31] detiber commented on #3733
Looks like this has been resolved and the link is currently up to date, closing this issue.
/close

[2020-10-20 16:31] #3733 closed

[2020-10-20 16:33] detiber commented on #3821
The main reason currently is for the purposes of requeueing on error, this could be handled in a different way, but would likely require additional changes in controller-runtime to facilitate.

[2020-10-20 16:35] wfernandes commented on #3822
I'll make a note of it somewhere in the CAEP. Thanks. And yes, definitely a huge simplification!

[2020-10-20 19:15] srm09 commented on #1690
After @vincepri 's PR linked above, is this issue still relevant? Atleast the point made in the description seems to be taken care of.

[2020-10-20 19:23] ncdc commented on #3821
I do like the ability to do retries with rate limited backoffs, for transient errors such as rate limiting.

[2020-10-20 19:24] detiber commented on #2318
In case anyone else is interested, @srm09 is leading discussion of this issue in the following doc: https://docs.google.com/document/d/1S4zP7k39R0FcKg_MGk4jNHsFwIre06iL2ySYlTSpOGk/edit?ts=5f8f2fe3

[2020-10-20 19:24] detiber commented on #2318
/assign @srm09

[2020-10-20 19:24] detiber commented on #2318
/lifecycle active

[2020-10-20 19:35] detiber commented on #1250
Created a doodle with some times for next week: https://doodle.com/poll/mct22fq43wga8qzp

[2020-10-20 19:39] fabriziopandini commented on #3821
+100 on the ability to do retries with rate-limited backoffs, is something that IMO makes a lot of sense

WRT to the idea of having something better in the logs than `controller.go message` I got the point, even do I really would like to have something better than our codebase full of

[code]

[2020-10-20 19:45] ncdc commented on #3821
When I was working on Velero, we wrote a couple of Logrus hooks that added error file+line provenance to each log message. They could also unwrap the pkg/errors stack information to determine this, so if you had code like

[code]

it would have as log message values the location the error was created (i.e. inside the `foo` function). Maybe we could find a way to do something similar with a "wrappe

[2020-10-20 19:48] tcordeu opened #3832 "Machines created by CAPD should use Kind's default network"
**User Story**

As a developer I would like to change the network for machines created by CAPD to simplify the development workflow.

**Detailed Description**

Currently, machines created by CAPD use the `bridge` network and, as of [v0.8.0](https://github.com/kubernetes-sigs/kind/releases/tag/v0.8.0), Kind uses the `kind` network. We should change the network to match Kind, this will remove the ne

[2020-10-21 03:13] hanlins commented on #3512
Hi, I've chatted with some other folks and they have similar demands. In their scenario they have stateful workloads and specifically they're leveraging local persistent volumes (for performance and cost) so they can't afford losing VMs as the disks will be gone. Is it possible to include an in-place option for cluster upgrade? I know this contradicts the immutable VM principal in cluster api, but

[2020-10-21 07:42] jan-est opened #3834 "Image tag is not considered during clusterctl upgrade"
**What steps did you take and what happened:**
I was testing clusterctl ability to upgrade cert-manager. Purpose was to find out if user could use own cert-manager images from private repository.

My assumption was that in given config.yaml the image tag and repository should be considered during both `clusterctl init` and `clusterctl upgrade`, but the image tag and repository is currently ignored

[2020-10-21 08:12] jan-est opened #3835 "clusterctl init failed to get provider components for the "cluster-api:v0.3.8""
**What steps did you take and what happened:**

With given `clusterctl-settings.json`:
[code]
add after running

`cmd/clusterctl/hack/create-local-repository.py`

I try to run `clusterctl init`:

[code]
I got following error:

`Error: failed to get provider components for the "cluster-api:v0.3.8" provider: failed to detect default target namespace: Invalid manifest. There should be no more than on

[2020-10-21 09:07] fabriziopandini commented on #3835
/priority awaiting-more-evidence

@jan-est I see you are using a custom config file. could you kindly compare the content of the core-components.yaml with the one available in the release artifacts?

From a quick test, installing  v0.3.8 from Github works fine:
[code]

[2020-10-21 09:19] MPV opened #3836 "clusterctl init fails when existing cert-manager runs 1.0+"
**What steps did you take and what happened:**

1. Already have an existing cluster where you want to install a cluster-api management cluster.
2. Already have cert-manager installed in said cluster:

[code]

3. Already have cert-manager version 1.x+

[code]

4. Run clusterctl version 0.3.10

[code]

5. Try to install CAPI:

[code]

**What did you expect to happen:**

Having one or more of these o

[2020-10-21 09:21] MPV opened #3837 "Opt-in/out of allowing cluster-api to upgrade cert-manager"
**User Story**

As a operator I would like to be able to run my cluster-api management cluster in an existing cluster which happens to already run cert-manager (without CAPI changing or upgrading my cert-manager installation).

**Detailed Description**

As a rough draft, I'm suggesting to make the installation of cert-manager into a separate provider, which can be manually included/excluded from `

[2020-10-21 09:23] fabriziopandini commented on #3834
clusterctl is responsible of managing the version of cert-manager installed in the cluster, and clusterctl as of today supports v0.16.1 on main.
It is supported to inject custom images, but those images should be of the same version of cert-manager (image override is a feature designed for the air-gapped environments, not for triggering upgrades as you can do for Kubernetes objects. see https://cl

[2020-10-21 09:28] MPV commented on #3837
Question related to sharing the capi management cluster with other things:

Am I right in assuming that `clusterctl delete` would also remove all cert-manager CRDs after itself, and thus break existing cert-manager usage in said cluster?

[2020-10-21 09:28] fabriziopandini commented on #3837
As of today, you can already install by yourself cert-manager, and clusterctl will recognize it is installed (and skip upgrade if the installed version is higher than v0.16.1).

If we want to make this option more explicit, I'm fine with that, but I don't think that assimilating cert-manager to a provider is the right approach, because this will create more problems than benefits along the line.
C

[2020-10-21 09:31] fabriziopandini commented on #3837
WRT to delete, clusterctl is not going to delete cert-manager. see also https://github.com/kubernetes-sigs/cluster-api/issues/3722#issuecomment-704353088

[2020-10-21 09:32] fabriziopandini commented on #3836
@munnerz it seems our mechanism to detect cert-manager being installed in the cluster is broken with v1 series

[2020-10-21 09:35] munnerz commented on #3836
I'm confused - why are the CRDs from v0.10 and below installed here? `certmanager.k8s.io` hasn't been used for more than a year now and as far as I know, was never present in cluster-api either.

Are there some steps here we can use to reproduce the issue?

[2020-10-21 09:37] munnerz commented on #3836
I think this step needs expanding out - what state is this existing cluster in? It sounds like it has a very outdated version of cert-manager installed as well as a newer more up to date version

[2020-10-21 09:43] MPV commented on #3837
My point is that if cert-manager is shared in a cluster, one might not want cluster-api to dictate/take over when upgrades/changes to it is made, but rather allow it to (at least opt-in) have it's own lifecycle managed elsewhere.

I see what you mean, and maybe the title should be renamed to be less about cert-manager being a provider, and more about it being opt-in for cluster-api to not touch an

[2020-10-21 09:46] MPV commented on #3836
You're absolutely right, I extracted the wrong (old) CRDs — here are the new(er) ones:

[code]

[code]

[2020-10-21 09:47] MPV commented on #3836
For cross-referencing, it seems https://github.com/kubernetes-sigs/cluster-api/issues/3781 also talks about upgrading to/supporting cert-manager version v1+.

[2020-10-21 09:52] MPV commented on #3836
+

See my updated kubectl commands above.

Just reiterating that while my cluster might have both older and newer CRDs installed, the actual error I'm getting from `clusterctl init` is on `cert-manager.io` CRDs (and not `certmanager.k8s.io` CRDs):

`Error: action failed after 10 attempts: failed to update cert-manager component apiextensions.k8s.io/v1beta1, Kind=CustomResourceDefinition, /certific

[2020-10-21 09:57] fabriziopandini commented on #3836
I will try to reproduce later, but I can't assure you when. might be @wfernandes can help here

[2020-10-21 10:47] jan-est commented on #3512
@hanlins We also have similar requirements and in-place upgrade would be good to have in KCP. I would like to see both scale-in and in-place upgrade in v1alpha4.

[2020-10-21 11:28] jan-est commented on #3834
@fabriziopandini thank you for the clarification.

[2020-10-21 12:22] kanwar-saad commented on #3834
@fabriziopandini .. as clusterctl can install from custom registry in case of air-gapped installation, shouldn't it be possible during upgrade as well? Instead of getting the image from upstream, it can fetch from custom registry. the manifest handling can be same since its only the image which will be picked from custom registry instead of upstream one.

[2020-10-21 13:24] vincepri commented on #3836
/milestone Next

[2020-10-21 13:26] vincepri commented on #3836
Can you expand a little on what you mean by that? CRDs are globally unique.

What version of Kubernetes are you running as management cluster?

[2020-10-21 13:26] vincepri commented on #3834
/milestone Next

[2020-10-21 14:16] Arvinderpal commented on #493
I would also vote for full sync of labels matching a set of prefixes.
- We should support user prefixes within the `*kubernetes.io/` space (for reasons noted earlier) and also prefixes outside it (e.g. `foo.com/`). For this reason, perhaps having a set of prefixes vs a single prefix is worthy of consideration.
- I like the idea of specifying the field at the Cluster level. It feels more user frien

[2020-10-21 16:18] MPV commented on #3836
As per ‘kubectl version‘ mentioned in the description above:

‘Server Version: version.Info{Major:"1", Minor:"16+", GitVersion:"v1.16.15-gke.500", GitCommit:"f7db507aabec3b78cba0c27c616f4974213db6fd", GitTreeState:"clean", BuildDate:"2020-09-21T09:20:41Z", GoVersion:"go1.13.15b4", Compiler:"gc", Platform:"linux/amd64"}‘

[2020-10-21 16:22] wfernandes commented on #3836
So I'm having trouble trying to reproduce the issue after a quick test.

1. `kind create cluster`
[code]
2. `kubectl apply -f cert-manager-v1.0.3.yaml`
[code]
3. `./clusterctl-darwin-amd64 init`
[code]
[code]
The way clusterctl verifies if cert-manager is installed is that it tries to create a test certificate of version `cert-manager.io/v1alpha2`. So in this case, we were able to verify that cert

[2020-10-21 16:25] MPV commented on #3836
Indeed, but not across renames. 😊 Cert-manager CRDs used to be from `certmanager.k8s.io` but are nowadays from `cert-manager.io`.

Since my desired mgmt cluster is old enough to have survived multiple versions of cert-manager, I have CRDs for both `cert-manager.io` and `certmanager.k8s.io` in that cluster. Search this issue/webpage for the two occurrences of `kubectl api-resources` and you can com

[2020-10-21 16:33] MPV commented on #3836
I don't see the equivalent output from my failed command of it trying to install cert-manager in your example. Is that hidden behind the `...` in your output? Just to verify that the step my init fails on works the same for you (and we have equivalent setups). I'm not by my computer now, so I can't try your method of reproducing at the moment. 😅

[2020-10-21 16:39] MPV commented on #3837
Renamed title now, hope it makes sense?

[2020-10-21 16:58] fabriziopandini opened #3839 "etcdClientGenerator.forNodes fails if one etcd member is down"
**What steps did you take and what happened:**
I created a 3CP control plane with KCP
Took down one etcd member by deleting etcd static Pod
Run invoking `etcdClientGenerator.forNodes` and got the following error

[code]

**What did you expect to happen:**
I was expecting `etcdClientGenerator.forNodes` being able to connect to etcd given that two etcd members are still up.

**Anything else you woul

[2020-10-21 16:58] fabriziopandini commented on #3839
/milestone v0.4.0

[2020-10-21 17:17] wfernandes commented on #3836
So if I have a cluster with cert-manager v0.10.0 installed, then `clusterctl init` fails for me with the following error:
`Error: action failed after 10 attempts: failed to update cert-manager component /v1, Kind=Service, cert-manager/cert-manager: Service "cert-manager" is invalid: spec.clusterIP: Invalid value: "": field is immutable
`

**However, it seems like you have a cluster with both cert-

[2020-10-21 17:31] christopherhein opened #3840 "Doc Bug for proposals link"
The proposal doc when moved to `/docs` and was renamed broke a link in the doc that links back to itself.

[code]

Here points to - `/proposals/YYYYMMDD-proposal-template.md` and it should be `/docs/proposals/YYYYMMDD-template.md`

/kind bug
[One or more /area label. See https://github.com/kubernetes-sigs/cluster-api/labels?q=area for the list of labels]

[2020-10-21 17:31] christopherhein commented on #3840
/assign

[2020-10-21 17:38] #3840 closed

[2020-10-21 17:40] vincepri commented on #3836
This might be an issue and could potentially cause conflicts, although I'll let @munnerz chime in :)

[2020-10-21 19:41] maplain commented on #3075
Would something like a ClusterResourceGarbageCollector help in this situation?

This controller simply adds a finalizer on the Cluster CR when it's created, and creates a Provider-specific CR to request GC any external resources for that Cluster when it's being deleted. Status will be synced from the Provider-specific CR to the Cluster and once everything finishes successfully, the finalizer will

[2020-10-21 19:49] MPV commented on #3836
Yes, here they are:

[code]

&

[code]

[2020-10-21 19:54] detiber commented on #3075
@maplain I think that could indeed be a potential solution. My main concern would be that it seems to externalize the responsibility to users. I think it would be a fine approach for the short term, I would just like for us to continue to pursue a better solution longer term.

I'm not sure we have a good way within Cluster API itself to know what all types could exist that would need to be cleaned

[2020-10-21 20:11] MPV commented on #3836
While the CRDs may be there for/from two versions, our cluster doesn't have cert-manager pods/controllers/operators running using both versions:

[code]

[2020-10-21 20:17] maplain commented on #3075
thx for your reply @detiber !

yes. You're right. I was thinking that's something users have to configure at the very beginning, eg: the `--infrastructure` flag when initializing a management cluster.
I guess to make it more flexible(or complex), a ConfigMap could be added so the CRGC can discover various providers in runtime.

The CRD approach is very interesting. If my understanding is correct,

[2020-10-21 20:30] MPV commented on #3836
I'm evaluating if/how we should be cleaning up old/orphaned resources/CRDs from older versions of cert-manager in our own cluster, and might be trying something like this, we'll see where we end up:

[code]

[2020-10-21 21:47] MPV commented on #3836
Maybe it helps if I clarify which version of cert-manager I am running: (`v1.0.2`):

[code]

i.e. https://artifacthub.io/packages/helm/jetstack/cert-manager/1.0.2

[2020-10-21 21:53] MPV commented on #3836
Judging by that you're able to reproduce this with cert-manager v0.10.0, maybe:
1. I should focus on cleaning that out from my desired CAPI management cluster.
2. This issue could be renamed/superseeded to focus on the issue with `clusterctl init` on a cluster running cert-manager v0.10.0?
   - ...if that is something you deem worth supporting/handling (such as failing gracefully or succeeding in

[2020-10-21 21:55] MPV commented on #3836
I see now that my error...

`Error: action failed after 10 attempts: failed to update cert-manager component apiextensions.k8s.io/v1beta1, Kind=CustomResourceDefinition, /certificaterequests.cert-manager.io: CustomResourceDefinition.apiextensions.k8s.io "certificaterequests.cert-manager.io" is invalid: status.storedVersions[0]: Invalid value: "v1": must appear in spec.versions`

...isn't the same

[2020-10-21 22:10] wfernandes commented on #3836
@MPV The error I got is a little different from your original error.
`
failed to update cert-manager component apiextensions.k8s.io/v1beta1, Kind=CustomResourceDefinition, /certificaterequests.cert-manager.io: CustomResourceDefinition.apiextensions.k8s.io "certificaterequests.cert-manager.io" is invalid: status.storedVersions[0]: Invalid value: "v1": must appear in spec.versions
`

The fact that i

[2020-10-21 22:57] wfernandes commented on #3836
Just to provide an update. I was able to reproduce the original error.

Thanks @MPV for the context via slack. I'll update this thread with details once I can confirm the root cause.
I'm pretty close with narrowing it down. 🙂

[2020-10-21 23:02] wfernandes opened #3843 "MachineHealthCheck Status Matcher should be in a test file"
**What steps did you take and what happened:**
This is not a bug TBH but rather a code inconsistency.

The file https://github.com/kubernetes-sigs/cluster-api/blob/master/controllers/machinehealthcheck_status_matcher.go
**should be a test file** `https://github.com/kubernetes-sigs/cluster-api/blob/master/controllers/machinehealthcheck_status_matcher_test.go`

**What did you expect to happen:**
All

[2020-10-21 23:03] wfernandes commented on #3843
/good-first-issue

[2020-10-21 23:03] wfernandes commented on #3843
/help

[2020-10-21 23:22] CecileRobertMichon commented on #3828
+1 would be useful to me as well to have a way to determine if the control plane is init'ing or join'ing in preKubeadmCommands.

https://kubernetes.slack.com/archives/C8TSNPY4T/p1603321454006600

[2020-10-22 01:03] superbrothers commented on #3828
@CecileRobertMichon I need this feature to solve exactly the same problem about LB. I was surprised that the way using iptables was exactly the same😆

[2020-10-22 01:22] srm09 commented on #1689
/assign

[2020-10-22 06:04] CecileRobertMichon commented on #3828
ha thought there were at least 2 use cases for this... I guess not 😆

Just out of curiosity, what infra provider are you doing this with?

[2020-10-22 06:15] superbrothers commented on #3828
It is a closed source infrastructure provider developed in-house. Since it is a configuration that runs Keepalived on ControlPlane Machines, it is necessary to determine whether it is initializing or joining.

[2020-10-22 07:41] fabriziopandini commented on #3834
It is already possible

[2020-10-22 07:45] fabriziopandini commented on #3843
/assign arghya88
/lifecycle active

/milestone v0.4.0

[2020-10-22 08:40] fabriziopandini commented on #3512
In-place upgrades seem a different topic than scale-in (vs scale-out) rollout strategy, so might be this should be moved to a separate issue.

Nevertheless, I have a set of concern WRT to this topic:
- in-place upgrade most probably requires access to the machines, and as of today CAPI is specifically designed to work without it.
- in-place upgrade most probably requires specific knowledge about t

[2020-10-22 08:45] fabriziopandini opened #3845 "Improve how do we determine the control plane machine to be remediated"
https://github.com/kubernetes-sigs/cluster-api/pull/3830 introduces KCP remediation, and according to the proposal, in case of more than one unhealthy machine we are picking up the oldest one for remediation.

As commented in `reconcileUnhealthyMachines`, the current solution is considered acceptable for the most frequent use case (only one unhealthy machine), however, in the future, this could po

[2020-10-22 08:50] fabriziopandini commented on #3845
/milestone v0.4.0

[2020-10-22 09:29] #3696 closed

[2020-10-22 10:15] fabriziopandini commented on #3797
I'm going to try to reproduce this in locally/in prow

[2020-10-22 12:39] fabriziopandini commented on #3797
I managed to reproduce in https://github.com/kubernetes-sigs/cluster-api/pull/3846, and I can confirm the error happens after succesfully loading the calico manifest, when calling kustomize build

[code]

After some googling the best explanation I have found to this is:
"Command-line arguments and environment variables both come out of the same pool of space. Set environment variables too long, an

[2020-10-22 13:03] tcordeu commented on #3832
@fabriziopandini would you mind assigning me this issue?

[2020-10-22 14:18] jan-est opened #3848 "Forward-port MHC external remediation to main branch"
**Detailed Description**

PR [3606](https://github.com/kubernetes-sigs/cluster-api/pull/3606) implemented External Remediation proposal [3190](https://github.com/kubernetes-sigs/cluster-api/pull/3190). Feature was added to release-0.3 branch. We need to forward-port this to main branch after v1alpha4 PR goes in.

/kind feature

[2020-10-22 14:26] vincepri commented on #3848
/milestone v0.4.0

[2020-10-22 14:32] vincepri commented on #3832
/milestone v0.4.0

[2020-10-22 14:49] vincepri opened #3849 "Update Go to 1.15.3"
Update all the references to Go `1.15.2` to `1.15.3` throughout the codebase.

/kind cleanup
/good-first-issue
/help
/milestone v0.4.0

[2020-10-22 14:50] jan-est commented on #3835
This was an issue on my own environment set up. Issue can be closed.

[2020-10-22 14:51] vincepri commented on #3835
Thanks @jan-est !

/close

[2020-10-22 14:51] #3835 closed

[2020-10-22 15:07] tcordeu commented on #3832
/assign @tcordeu

[2020-10-22 15:09] #3428 closed

[2020-10-22 15:09] #3800 closed

[2020-10-22 15:54] detiber opened #3851 "Update corefile-migration dependency to v1.0.11"
**User Story**

As a user I would like to have support for future kubernetes upgrades which include newer versions of coredns

**Detailed Description**

v1.0.11 of corefile-migration was recently released, we should update to it to proactively support future k8s releases which will require newer versions of coredns

/kind feature

[2020-10-22 15:55] #3843 closed

[2020-10-22 16:01] vincepri commented on #3851
/help
/good-first-issue

/milestone v0.3.11
+ v0.4.0 as well

[2020-10-22 16:04] vincepri commented on #1970
/milestone v0.4.0

[2020-10-22 16:08] vincepri commented on #2064
/help

[2020-10-22 16:10] vincepri commented on #2080
/kind documentation
/retitle Document how to attach worker nodes to any control planes
/help

[2020-10-22 16:11] vincepri commented on #2083
/milestone v0.4.0

[2020-10-22 16:11] vincepri commented on #2083
/remove-lifecycle frozen
/help
/priority important-soon

[2020-10-22 16:12] vincepri commented on #2121
/priority backlog

[2020-10-22 16:14] arghya88 commented on #3851
/assign

[2020-10-22 16:14] vincepri commented on #2227
Closing given that we need something more actionable here, there is * definitely * room to improve our tooling, although it might require extensive changes in both conversion-gen and gengo.

/close

[2020-10-22 16:15] #2227 closed

[2020-10-22 16:15] arghya88 commented on #3851
/lifecycle active

[2020-10-22 16:16] CecileRobertMichon commented on #2249
this is what we had in capz to solve at least the non gopath/gopath scenario: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/Makefile#L47

[2020-10-22 16:16] vincepri commented on #2249
Closing this given that it seems to be fixed, although if it happens again let's please investigate.

/close

[2020-10-22 16:17] #2249 closed

[2020-10-22 16:19] vincepri commented on #2256
Yes, we should probably investigate this once we have better support for server side apply

[2020-10-22 16:20] vincepri commented on #2306
/close

We're going to keep using ginkgo for e2e tests, while integration and units are moving to go-test

[2020-10-22 16:21] #2306 closed

[2020-10-22 16:24] CecileRobertMichon commented on #3797
Oh wow good find.... In that case maybe we should reconsider using an env var as CNI data in the e2e tests configmap and instead do what our users would do which is closer to https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/Tiltfile#L201

[2020-10-22 16:25] vincepri commented on #2461
Closing this in favor of #3150

This information might be exposed in the future, and folks should be able to use it outside of Cluster API

[2020-10-22 16:25] vincepri commented on #2461
/close

[2020-10-22 16:25] #2461 closed

[2020-10-22 16:26] vincepri commented on #2478
/milestone v0.4.0

[2020-10-22 16:28] vincepri commented on #2478
/priority important-soon

[2020-10-22 16:33] vincepri commented on #2510
Closing this given that it's a nice to have, and we should probably move away (or document how to) from self signed certs.

[2020-10-22 16:33] vincepri commented on #2510
/close

[2020-10-22 16:33] #2510 closed

[2020-10-22 16:37] vincepri commented on #2596
Closing in favor of #493

/close

[2020-10-22 16:37] #2596 closed

[2020-10-22 16:39] detiber opened #3854 "Support existing cert-manager issuers for webhook deployments"
**User Story**

As an operator I would like to leverage existing cert-manager deployments and issuers for cluster api component deployments so that I can use my existing pki infrastructure policies rather than a self-signed issuer.

**Detailed Description**

Currently the published provider components we have include a cert-manager self-signed issuer and certificate requests for that self-signed i

[2020-10-22 16:40] vincepri commented on #2627
Closing this given that the issue seems too broad, if there are more specific asks feel free to open different issues. From the backlog grooming, we'd like to have something to accomplish these scenarios, but it needs more actionable items.

/close

[2020-10-22 16:40] #2627 closed

[2020-10-22 16:43] vincepri commented on #2652
@rudoi Do you know if this still happening?

/assign @yastij
To re-triage

[2020-10-22 16:43] vincepri commented on #2652
/priority awaiting-more-evidence

[2020-10-22 16:44] vincepri commented on #2710
Closing in favor of #3427

/close

[2020-10-22 16:44] #2710 closed

[2020-10-22 16:46] rudoi commented on #2652
We haven't seen this issue in quite some time, but we 1. haven't done too many KCP upgrades recently and 2. have migrated primarily to EKS controlplanes so our sample space is quite a bit smaller.

[2020-10-22 16:49] vincepri commented on #2770
Possibly can be superseded by #3762

[2020-10-22 16:51] vincepri commented on #2790
Given that we're trying to remove the experimental retry flag, let's go ahead and close this one.

/close

[2020-10-22 16:51] #2790 closed

[2020-10-22 16:52] vincepri commented on #2840
Closing, we've moved to v0.8 for v1alpha3 and v0.9 for v1alpha4

/close

[2020-10-22 16:52] #2840 closed

[2020-10-22 16:53] vincepri commented on #2916
Closing in favor of #3802

/close

[2020-10-22 16:53] #2916 closed

[2020-10-22 16:55] vincepri commented on #2955
/priority backlog

[2020-10-22 16:56] vincepri commented on #3044
Closing this in favor of #3042
/close

[2020-10-22 16:56] #3044 closed

[2020-10-22 16:56] vincepri commented on #3045
Closing in favor of #3427

/close

[2020-10-22 16:56] #3045 closed

[2020-10-22 16:59] vincepri commented on #3064
Closing in favor of #3761

/close

[2020-10-22 16:59] #3064 closed

[2020-10-22 17:03] #3849 closed

[2020-10-22 17:53] #3851 closed

[2020-10-22 19:07] fabriziopandini commented on #3797
I would prefer to continue use CRS instead of doing apply.
As a fallback solution we can embed calico manifest in the CRS config map, but I think I have found a nice solution that allows us to keep calico in a separate file

/lifecycle active

[2020-10-22 20:21] fabriziopandini commented on #2738
@vincepri
In my opinion, only two topics over four are already addressed
- Structure of the tests (CAPD E2E test were fully replaced by the new CAPI E2E tests)
- Developer experience (CAPD artifacts are now part of the release + parity with other providers in the quick start + other docs)

The other two points still make sense to:
- Having a docker cloud provider, so the CAPD provisioning workflow

[2020-10-22 20:38] detiber commented on #3075
@maplain I wasn't necessarily thinking in terms of trying to encode the dependencies in the API as much as just a simple way to trigger deletion automatically. Dependency management, ordering, etc can be left to the individual controllers, which could leverage finalizers and handle things as they need to.

I don't necessarily have any pointers to give, other than any such proposal would need to be

[2020-10-22 20:43] fabriziopandini commented on #3832
/lifecycle active

[2020-10-22 22:12] wfernandes commented on #3836
Steps for reproduction:
1. Create kind cluster (doesn't matter what version, I'm using the latest `kind`) `kind create cluster`
1. Then create cert-manager using helm charts.
[code]
1. Use `clusterctl` v0.3.10 to `clusterctl init -v5`.
[code]

Ok so now we can reproduce this error with the helm chart but if we pull down the release manifest directly from [cert-manager releases for v1.0.2](https://

[2020-10-22 22:22] wfernandes commented on #3836
[code]

@munnerz Do you perhaps have any context on the error above? Again this error is against a cluster which has cert-manager that was installed by following the steps on the helm/chart website - https://artifacthub.io/packages/helm/jetstack/cert-manager/1.0.2#installing-the-chart

[2020-10-22 22:54] wfernandes commented on #3836
Figured it out. As per the instructions on https://artifacthub.io/packages/helm/jetstack/cert-manager/1.0.2#installing-the-chart, we have to apply the crds from the original release manifests as published by cert-manager
[code]

And in those CRDs we have the following:
[code]

@MPV Please verify if your above CRDs have the following conversion webhook configuration.

You may have to update your CR

[2020-10-23 00:02] maplain commented on #3075
gotcha. While thinking about ClusterResourceGarbageCollector, I discovered https://github.com/kubernetes-sigs/cluster-api/pull/3132, which seems a lot like what I want. Will play around with it first.

[2020-10-23 04:58] MPV commented on #3836
I've now looked into what source I've used for installing my CRDs. Turns out it's like this:

...and since our cluster was only recently upgraded to 1.16, we have the "legacy" CRDs mentioned above installed.

[2020-10-23 06:07] jan-est commented on #3837
+1 for this.

[2020-10-23 08:49] fabriziopandini commented on #3836
@wfernandes great work!
@MPV is it possible to close the issue now the root of the problem was identified in a version of cert-manager which does not deploy conversions hooks?

[2020-10-23 13:04] fabriziopandini opened #3858 "Forward-port refactor controlplane health check in KCP"
https://github.com/kubernetes-sigs/cluster-api/pull/3806 introduced a refactor for reconcile-health in release 0.3; we should
We should now forward port the same changes in release v0.4

/kind feature

[2020-10-23 13:04] fabriziopandini commented on #3858
/milestone v0.4.0

[2020-10-23 13:07] fabriziopandini opened #3859 "Forward-port modifies DockerMachine condition status to report for control plane to be ready"
https://github.com/kubernetes-sigs/cluster-api/pull/3726 modifies DockerMachine condition status to report for control plane to be ready in the v0.3 branch.
These changes should now be forward ported to v0.4

/kind feature

[2020-10-23 13:07] fabriziopandini commented on #3859
/milestone v0.4.0

[2020-10-23 13:08] fabriziopandini commented on #3859
/help
/good-first-issue

[2020-10-23 13:08] fabriziopandini commented on #3858
/help

[2020-10-23 14:02] fabriziopandini opened #3860 "KCP does not reconcileEtcdMembers for deleted machines (release-0.3 branch)"
**What steps did you take and what happened:**
- Created a 3 CP cluster using CAPI from release-0.3 branch
- Deleted a machine (using KCP remediation)
- KCP blocked when trying to restore the 3rd CP machine and reporting

`failed to pass etcd health check: there are 2 healthy etcd pods, but 3 etcd members`

**What did you expect to happen:**
KCP to re-create the 3rd CP machine

**Anything else you

[2020-10-23 14:03] fabriziopandini commented on #3860
/milestone v0.3.11
/priority critical

[2020-10-23 14:03] fabriziopandini commented on #3860
/priority critical-urgent

[2020-10-23 18:35] fabriziopandini opened #3861 "Increase test coverage for KCP EtcdIsHealthy and ControlPlaneIsHealthy"
`EtcdIsHealthy` and `ControlPlaneIsHealthy` are two functions in the critical path of all the KCP operations, however unit test coverage seems limited to the happy path only
- https://github.com/kubernetes-sigs/cluster-api/blob/fddb669ec40153aed3daf3f1c184730b5b958878/controlplane/kubeadm/internal/workload_cluster_etcd_test.go#L39-L86
- https://github.com/kubernetes-sigs/cluster-api/blob/572e7f047

[2020-10-23 18:36] fabriziopandini commented on #3861
/milestone v0.4.0
If possible to backport, this will be useful as well

[2020-10-23 18:37] fabriziopandini commented on #3860
/assign
/lifecycle active

[2020-10-23 18:59] detiber commented on #1250
Based on responses and trying to accommodate the most folks, I've chosen Monday 10/26 at 9:30 ET. I will drop a link to the zoom in the #cluster-api channel on Kubernetes Slack prior to the meeting. If anyone would like a calendar invite, please reach out to me on Slack (jdetiber) and I'll be more than happy to forward the invite your way.

[2020-10-23 19:07] fabriziopandini opened #3862 "KCP does not report the right number of up-to-date machines during rollout"
**What steps did you take and what happened:**
I created a 3CP control plane
I started a rolling upgrade and saw Rolling 1 replicas with outdated spec (2 replicas up to date) - tot 3 replicas - but as you can see below there are 4 machines in the cluster...

[code]

**What did you expect to happen:**
To see 3 replicas up to date instead on 2

[code]

/kind bug

[2020-10-23 19:07] fabriziopandini commented on #3862
/milestone v0.3.11

[2020-10-23 21:59] akutz commented on #1250
Specifically the Service API v2 is not intended to provide lifecycle management of infrastructure resources for providing load balancers. In other words:

* The Machine Load Balancer proposal could be thought of as a mechanism for deploying the infrastructure required for a load balancer platform's control plane
* The Service API v2 (`Gateway` and `GatewayClass`) is for leveraging the control plan

[2020-10-23 22:58] robscott commented on #1250
Thanks for looping me in @akutz! MLB looks like a very interesting proposal. I'd love to set aside some time to see if we can try to make these APIs work well together. You're completely right that the Service APIs we've been working on have not been designed with a LB control plane in mind, but there's likely some significant overlap in the kinds of config that would be needed.

[2020-10-24 00:34] akutz commented on #1250
Cool! Although I’m no longer involved with it, I had created a very earlier implementation of MLB in CAPV. I imagine @moshloop or @yastij could show it to you. Or I can too if you want to ping me.

One thing @yastij and I had discussed quite a bit was something tantamount to an IPAM Provider framwework as well, and I think that would couple nicely with the aforementioned concepts.

[2020-10-24 03:30] luniHw opened #3865 "MachineDeployment status is not easily understood"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
1. create a workload cluster  with one node successfully
2. after a while, get the status of MachineDeployment from management cluster, its status as below
{
  "observedGeneration": 2,
  "selector": "cluster.x-k8s.io/cluster-name=wc1-19",
  "replicas": 1,
  "updatedReplicas": 1,
  "unavail

[2020-10-24 07:11] MPV opened #3866 "Integrate kubeconfig with “ArgoCD cluster” configuration"
**User Story**

- As a operator I would like to be able to smoothly integrate Cluster-API with ArgoCD, so that:
   - ...when a new cluster is created as part of ArgoCD deploying the CAPx manifests for creating my target cluster, it could automatically be added as a new "ArgoCD cluster" (a Kube secret with certain annotations/fields), so that:
      - ...I could subsequently automatically deploy ap

[2020-10-24 12:09] fabriziopandini commented on #3797
/close
by #3846

[2020-10-24 12:09] #3797 closed

[2020-10-26 01:17] superbrothers opened #3867 "clusterctl completion: Provide dynamic auto completion"
**User Story**

I'd like to use dynamic auto-completion, which dynamically completes the values of arguments and flags from cluster information and config files for improving more work efficency.

**Detailed Description**

Currently `clusterctl` provides shell autocompletion with the` clusterctl completion` command. However, this is limited to subcommands and flags. I would like to take this featu

[2020-10-26 08:33] girishgouda opened #3868 "Unable to set up the cluster api using docker infrastructure provider"
I am following the quick start guide and setting the kubernetes cluster using the docker infrastruture provider. i see that the cluster is always in the Provisioning state because of which not able to get kubeconfig and run the CNI Setup. Can anybody help on this?. I was using kind 0.9 earlier but also the same error with 0.8
------------------------------------------------------------------------

[2020-10-26 08:53] Evalle commented on #3859
I think I can take care of this
/assign

[2020-10-26 08:58] Evalle commented on #3859
Hey @fabriziopandini I cannot find `release-0.4` branch. AFAIK i need it to create a PR against it. Thanks.
![Screen Shot 2020-10-26 at 9 56 57 AM](https://user-images.githubusercontent.com/2839811/97152808-c0e66500-1771-11eb-9167-14a217a0809b.png)

[2020-10-26 10:05] fabriziopandini commented on #3360
/lifecycle frozen

[2020-10-26 10:07] fabriziopandini commented on #3859
@Evalle release 0.4 - v1alpha4 - is being developed on the main branch (master)
Sorry if I wasn't clear enough

/assign @Evalle
/lifecycle active

[2020-10-26 10:20] fabriziopandini commented on #3868
/triage needs-informationt

@girishgouda, in order to better understand the problem some more details are required. Could you kindly provide the CAPD logs for starting?

Also, could you kindly confirm the docker socket was mounted into the kind cluster and that the kind network is properly set to bridge?

[2020-10-26 10:20] fabriziopandini commented on #3868
/triage needs-information

[2020-10-26 10:22] fabriziopandini commented on #3865
/remove-kind bug
/kind support

[2020-10-26 11:29] Evalle commented on #3859
@fabriziopandini thanks for the quick answer, I'm gonna create a PR soon.

[2020-10-26 14:22] fabriziopandini commented on #3867
@superbrothers many thanks for taking the time and providing more background around this idea, really appreciated
I'm going to review the PR accordingly.

[2020-10-26 15:23] fabriziopandini commented on #3371
/close
the lined PR merged

[2020-10-26 15:23] #3371 closed

[2020-10-26 15:59] detiber commented on #1250
Working doc for the proposal is here: https://docs.google.com/document/d/1wJrtd3hgVrUnZsdHDXQLXmZE3cbXVB5KChqmNusBGpE/edit

We are planning on having another meeting to sync on the proposal next Monday (November 2nd) at 9:30 US Eastern time.

I do think it would definitely be interesting to see how we could leverage the Service API v2 work and I know that @moshloop has some thoughts around breakin

[2020-10-26 16:03] jdef commented on #2064
we have use cases that involve users running workloads on CP nodes. it would be unfortunate if, for example, control plane nodes were not properly drained before rolling them.

[2020-10-26 16:04] ncdc commented on #2064
I am also in favor of continuing to drain all nodes, including control plane nodes.

[2020-10-26 16:39] srm09 commented on #1689
/lifecycle active

[2020-10-26 16:53] girishgouda commented on #3868
Hi  fabriziopandini
I was following the quick start mentioned in this link  https://cluster-api.sigs.k8s.io/user/quick-start.html. how do we get the CAPD logs

Thnaks

[2020-10-26 19:49] maplain opened #3872 "pre-drain Machine Deletion hook is not honored when Cluster is deleted"
**What steps did you take and what happened:**
1. Create a CAPI management cluster and a CAPI workload cluster;
2. Add pre-drain hook annotations on workload cluster Machines;
3. Delete the workload Cluster CR from the management cluster;
4. the workload cluster is deleted successfully;

**What did you expect to happen:**
1. the deletion of the workload cluster is paused because of the pre-drain h

[2020-10-26 19:55] benmoss commented on #3868
You should be able to run `kubectl -n capd-system logs deployment/capd-controller-manager -c manager`

[2020-10-26 20:29] fabriziopandini commented on #3255
/remove-lifecycle stale
/lifecycle frozen

[2020-10-26 21:01] ncdc commented on #3866
Going to try to work this over here - https://github.com/argoproj/argo-cd/issues/4651#issuecomment-716821012

[2020-10-26 23:36] CecileRobertMichon commented on #3715
cc @detiber since you're looking into Load Balancer Provider. Not sure if we should include this as part of the LB provider work or do both separately. Probably the former?

[2020-10-27 03:29] girishgouda commented on #3868
I1027 03:26:57.283345       1 request.go:565] Throttling request took 90.655951ms, request: GET:https://10.96.0.1:443/apis/admissionregistration.k8s.io/v1beta1?timeout=32s
I1027 03:26:57.283606       1 request.go:565] Throttling request took 90.92786ms, request: GET:https://10.96.0.1:443/apis/certificates.k8s.io/v1beta1?timeout=32s
I1027 03:26:58.081176       1 request.go:565] Throttling request t

[2020-10-27 08:50] MPV commented on #3836
The above wasn't entirely correct. It turns out that these instructions were the ones we had followed (and installed the `<1.15` version):

...as per https://artifacthub.io/packages/helm/jetstack/cert-manager/1.0.2

[2020-10-27 10:38] fabriziopandini commented on #3836
If I got this correct this is now solved
feel free to re-open if I'm missing something
/close

[2020-10-27 10:40] fabriziopandini commented on #3868
this happens if the docker socket is not mounted in your kind cluster as described [here](https://master.cluster-api.sigs.k8s.io/user/quick-start.html#install-andor-configure-a-kubernetes-cluster)

[2020-10-27 11:17] MPV commented on #3836
@fabriziopandini Sorry that I was unclear. This isn't solved yet.

Sorry that I haven't had the time to try either/all of these things yet:
1. Remove old cert-manager CRDs & CRs (& try `clusterctl init` again)
2. Upgrade/change cert-manager CRDs from "1.0.3 legacy" to "1.0.3 non-legacy" (& try `clusterctl init` again)
3. Upgrade cert-manager (including CRDs from 1.0.3 to newer version in the hope

[2020-10-27 11:23] fabriziopandini commented on #3865
@luniHw
Let me get started by pointing out to he API where those fields are defined https://github.com/kubernetes-sigs/cluster-api/blob/18b03b91e96d3f3b70106de607516c03506a7e5e/api/v1alpha3/machinedeployment_types.go#L157-L198

and code responsible for updating the machine deployment status https://github.com/kubernetes-sigs/cluster-api/blob/18b03b91e96d3f3b70106de607516c03506a7e5e/controllers/mac

[2020-10-27 11:26] fabriziopandini commented on #3836
No problem, sorry if I miss something in my quick pass
/reopen

[2020-10-27 11:29] fabriziopandini commented on #3712
/close
#3713 merged

[2020-10-27 11:29] #3712 closed

[2020-10-27 11:31] fabriziopandini opened #3873 "Forward-port MachineHealthCheck returns immediately on patch error"
#3713 improved MachineHealthCheck to returns immediately on patch error in the v0.3 branch;
These changes should now be forward ported to v0.4

/kind feature

[2020-10-27 11:31] fabriziopandini commented on #3873
/milestone v0.4.0

[2020-10-27 12:59] fabriziopandini opened #3874 "Forward-port E2E test now resolve CNI_RESOURCES without using env variables"
https://github.com/kubernetes-sigs/cluster-api/pull/3846 improved E2E test to resolve CNI_RESOURCES without using env variables in the v0.3 branch;
These changes should now be forward ported to v0.4

/kind feature

[2020-10-27 12:59] fabriziopandini commented on #3874
/milestone v0.4.0

[2020-10-27 13:21] randomvariable commented on #2738
Should we break these out into separate issues?

[2020-10-27 13:45] benmoss commented on #3868
The docs are a bit confusing now, since you have to make sure you're on the right tab for each step of the process for CAPD to work. You need to either write out this Kind config file somewhere and then run `KIND_EXPERIMENTAL_DOCKER_NETWORK=bridge kind create cluster --config $CONFIGFILE` or you can use this magic base64 encoded one-line invocation:

[code]

[2020-10-27 15:37] girishgouda commented on #3868
Thanks i missed that step. it works now

[2020-10-27 15:37] #3868 closed

[2020-10-27 16:07] fabriziopandini opened #3875 "Disambiguate the term health in the KCP code/proposal"
**User Story**

As a developer, I would like to like to read KCP code/docs without being confused by the different meaning the term "Health" has

**Detailed Description**

After the implementation of KCP remediation, now in the KCP code/proposal we are using the term health with two different meanings:

1. healthy machine, is a term inherited from MachineHealthCheck and reports to the status of a

[2020-10-27 16:07] fabriziopandini commented on #3875
/milestone v0.4.0

[2020-10-27 17:02] fabriziopandini opened #3876 "KCP should take into account HA properties of different components"
**User Story**

- As an operator, I would like to KCP to not block scaling up if *at least one* of the existing instances of APIServer is available (same for ControllerManager and Scheduler).
- As an operator, I would like to KCP to not block scaling down if *at least one*  of the remaining instances of API server is available (same for ControllerManager and Scheduler).
- As an operator, I would l

[2020-10-27 17:03] fabriziopandini commented on #3876
/milestone v0.4.0

[2020-10-27 17:03] fabriziopandini commented on #3876
/kind design

[2020-10-27 17:06] #3859 closed

[2020-10-27 17:06] fabriziopandini commented on #3417
/remove-lifecycle stale

[2020-10-27 17:19] fabriziopandini commented on #3862
/assign
/lifecycle active

[2020-10-27 22:24] srm09 opened #3878 "Ensure addition/deletion of objects to/from the cache in tests"
**User Story**

As a developer, I would like to use `TestEnvironment` to create objects against a local instance of the api-server while running tests and `Get` those objects in test assertions.

**Detailed Description**

Currently, there are some instances where in the `Create` operation succeeds but the cache is not populated which leads to random flakes while running the tests. To force the cac

[2020-10-28 08:29] luniHw commented on #3865
Thanks @fabriziopandini  for your answer, so will the Replicas of MachineDeployment not be changed because of the change of node. I mean k8s scale in/out cluster node based on Replicas of MachineDeployment, the count of node will not affect the value of Replicas, right?

[2020-10-28 10:13] fabriziopandini opened #3880 "KCP should consider MachinePools when doing delete"
As per https://github.com/kubernetes-sigs/cluster-api/pull/3863#discussion_r512991884 when doing when *"Waiting for worker nodes to be deleted first"* inside `reconcileDelete`, KCP should wait for MachinePools to be deleted as well.

/kind bug

[2020-10-28 10:13] fabriziopandini commented on #3880
/help

[2020-10-28 14:32] sadysnaat commented on #2976
We have a use case where we are creating a cluster and the kubeadm init fails for the first controlplane machine and cluster creation is stopped. Should we have some option to enable remediation for first controlplane node?

[2020-10-28 15:06] ncdc commented on #3425
/remove-lifecycle stale

[2020-10-28 16:42] CecileRobertMichon commented on #3880
/milestone v0.4.0

[2020-10-28 17:07] CecileRobertMichon commented on #3862
Could this be related to the issues we're seeing in the CAPZ KCP upgrade job https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/932#issuecomment-715639443? cc @nader-ziada

[2020-10-28 17:12] jdef opened #3881 "config/* files can't be kustomized as-is w/o envsubst"
In recent times it seems that feature-gate flags were added to CAPI controllers. The values for these flags seem to be assigned by envsubst variable expansion e.g. `${EXP_SOMETHING:=false}`. This convention renders the config/* manifests not usable as-is using *only* kustomize, and requires an additional tool, envsubst, in order to properly generate kustomized manifests.

I'd like for CAPI to elim

[2020-10-28 17:13] nader-ziada commented on #3862
it could be since this would make the upgrade process take longer, the part of the test where capz test gets stuck is getting a list of machines and checking that there are no machines with the the old version (upgrade from version).

[2020-10-29 07:23] arghya88 commented on #3858
/assign
/lifecycle active

[2020-10-29 07:24] arghya88 commented on #3874
/assign
/lifecycle active

[2020-10-29 07:24] arghya88 commented on #3873
/assign
/lifecycle active

[2020-10-29 07:25] arghya88 commented on #3848
/assign
/lifecycle active

[2020-10-29 09:40] fabriziopandini commented on #3881
@jdef thanks for this report
IMO fixing this is in the scope of the work of the management cluster operator, given that it is redesigning how the user can configure providers in a fully declarative way. I have added a comment on the proposal to make https://github.com/kubernetes-sigs/cluster-api/pull/3833/files#r512598988 to make sure this is in the radar
cc @wfernandes

WRT to the current problem

[2020-10-29 09:45] fabriziopandini commented on #3424
/remove-lifecycle stale

[2020-10-29 09:59] fabriziopandini commented on #2976
@sadysnaat
This could be an interesting use case for a follow-up iteration on KCP remediation, but before doing that, IMO we should make some clarity on:
- describing how to detect with certainty a bootstrap failure (see eg. https://github.com/kubernetes-sigs/cluster-api/issues/3716).
- defining the component responsible for handling bootstrap failures (the machine controller or MHC + the owner co

[2020-10-29 10:03] fabriziopandini commented on #3865
Yes, in MachineDeployments the number of replicas is the number of machines.

[2020-10-29 10:05] fabriziopandini commented on #3878
/area testing
/milestone v0.4.0

[2020-10-29 10:08] fabriziopandini commented on #3878
What about to include in this issue also adding a new wait loop in the `testEnv.Cleanup` func thus ensuring the objects are actually deleted before returning?

[2020-10-29 10:08] fabriziopandini commented on #3420
/remove-lifecycle stale
/cc @sedefsavas

[2020-10-29 10:17] fabriziopandini commented on #3872
I don't have the full background on this topic, but as per https://github.com/kubernetes-sigs/cluster-api/pull/3864#issuecomment-716791501

So, If it is ok to skip drain in some use cases, IMO it is ok to skip the pre-drain hooks as well

instead, the pre-termination hook should be honored, and from a quick look at the code, this is already the case.

[2020-10-29 12:53] jdef commented on #3881
To be clear, my expectation is that one should be able to successfully execute a pipeline along the lines of:
[code]
.. and this is currently not possible given the additional envsubst (or similar) requirement.

[2020-10-29 15:03] #2756 closed

[2020-10-29 15:53] fabriziopandini commented on #3881
gotcha, this is where the additional patch could help (to remove the need of envsubst)

[2020-10-29 17:25] ncdc opened #3885 "Backport PR 3877 "Add reverse conversion test" to release-0.3"
Backport #3877 to the release-0.3 branch

/help
/milestone v0.3.11

[2020-10-29 18:30] shysank commented on #3885
/assign

[2020-10-29 19:07] benmoss opened #3886 "kubeadm.k8s.io/v1beta1 is deprecated"
**What steps did you take and what happened:**
Ran CAPD against a kind image built from master (`v1.20.0-beta.0-58-g1968e961653`

[code]

**What did you expect to happen:**
It should work!

**Anything else you would like to add:**
full capd logs: https://gist.github.com/benmoss/5c5af749598db5b8399f06d359047fa6
#2769 is relevant here

/kind bug
/area bootstrap

[2020-10-29 19:10] ncdc commented on #3886
Technically it does work and this is a warning. As you noted, we do have #2769 open which will resolve this. Do you want to keep this open, or just rely on 2769?

[2020-10-29 19:12] benmoss commented on #3886
Hmm, it doesn't work as far as I can tell, not sure why. https://gist.github.com/benmoss/5c5af749598db5b8399f06d359047fa6#file-gistfile1-txt-L241 is the relevant line, it's extremely long though.

I thought this was the error, let me dig in more to see why it's actually failing.

[2020-10-29 19:16] ncdc commented on #3886
[code]

[2020-10-29 19:24] benmoss commented on #3886
Yep, seems odd since these images do exist in the container:

[code]

It seems like they're suffixed with `e10` for some reason? I'll dig more into this and file a different issue depending on what I dig up. I think #2769 is good for the kubeadm problem.

[2020-10-29 19:24] #3886 closed

[2020-10-29 21:05] akutz opened #3887 "Use metadata only watches for configmaps and secrets resources on workload clusters"
**User Story**

As an operator,
I would like CAPI controllers to use metadata-only watches for `secrets` resources on the management cluster,
Because otherwise CAPI has trouble scaling to large environments with hundreds/thousands of workload clusters.

As an operator,
I would like CAPI controllers to use metadata-only watches for `configmaps` and `secrets` resources on workload clusters,
Because

[2020-10-29 21:10] shysank commented on #3885
@ncdc There is an `ObjectMeta` field in `v1Alpha2.MachineSpec` that is now deprecated, but has no conversion logic. The new tests are now trying to modify this, and failing. Right now, we only preserve new fields during `hub -> spoke`. Should we also now add a similar logic for `spoke -> hub` for deprecated fields?
cc: @sedefsavas

[2020-10-29 21:13] ncdc commented on #3885
Which is failing - spoke-hub-spoke?

[2020-10-29 21:15] shysank commented on #3885
Yes ->
[code]

[2020-10-29 21:28] ncdc commented on #3885
If we dropped a field in the newer API version, that presumably means that Cluster API is no longer using it. A client that places data in that field in the spoke version theoretically might be using it in some way, but we're not using it. I _think_ my vote is to just drop it during the round trip. If people agree with that, then you could either let the caller pass in a `preComparison` function s

[2020-10-30 02:56] arghya88 commented on #3641
/unassign
/remove-lifecycle active

[2020-10-30 08:31] fabriziopandini commented on #3887
/milestone v0.4.0

[2020-10-30 08:32] fabriziopandini commented on #3887
backporting will be nice, but it requires some work in older versions of controller runtime

[2020-10-30 08:40] fabriziopandini commented on #1878
/remove-lifecycle stale

[2020-10-30 08:41] fabriziopandini commented on #2960
/remove-lifecycle stale

[2020-10-30 08:41] fabriziopandini commented on #2937
/remove-lifecycle stale

[2020-10-30 08:42] fabriziopandini commented on #2826
/remove-lifecycle stale

[2020-10-30 08:44] fabriziopandini commented on #2826
@CecileRobertMichon might be worth to check if there is still work to be done here now then #3652 is merged

[2020-10-30 15:06] fabriziopandini commented on #3875
/assign
/lifecycle active

[2020-10-30 15:06] fabriziopandini commented on #3861
/assign
/lifecycle active

[2020-10-30 15:30] srm09 commented on #3878
@fabriziopandini I have added it to the description as a one-liner. Will expand it and include the snippet for cleanup as well

[2020-10-30 20:44] ncdc commented on #3887
Other possible things to consider:
- We could not use a caching client for remote clusters from ClusterCacheTracker, or make it configurable
- We could scope a remote cluster cache to a specific namespace, so we only cache items in a single namespace

[2020-10-30 20:49] akutz commented on #3887
This is interesting. It would be really nice if we could create some sort of caching intermediary, like a squid proxy for the API server, so that the cache for remote clusters would live in the same namespace as the objects that represent those clusters.

[2020-10-30 20:58] benmoss commented on #3881
I think the problem with this ask is that it would mean that this feature flags (`EXP_MACHINE_POOL`, etc) would be set at manifest creation time, whereas with the flow we document in the quick-start tutorial we support turning these features on at deploy time.

One way to get around that might be to have multiple kustomize overlays, one of which is the deferred/envsubst version, but others of whic

[2020-10-30 21:03] jdef commented on #3881
kustomize recently added "components" (kind of like patchset mixins). maybe that could help? https://github.com/kubernetes-sigs/kustomize/blob/master/examples/components.md

[2020-10-30 21:05] benmoss commented on #3881
Yeah I was looking at this, I think we could do a component like `machinepools` that inserts the `--feature-gates=MachinePool=true` argument onto the deployment, but then you still have to incorporate that component into an overlay, so you end up in the position of needing 1 overlay per component, at least if you want to give your users that same flexibility of turning on each component individual

[2020-11-01 15:55] fabriziopandini opened #3889 "Components logs sanitization"
**User Story**

As a user, I would like Cluster API adopts the same logs sanitization rules used in Kubernetes

**Detailed Description**

Wtih [KEP-1753: Kubernetes system components logs sanitization](https://github.com/kubernetes/enhancements/tree/master/keps/sig-instrumentation/1753-logs-sanitization#klog-integration) Kubernetes is introducing a set of sanitization rules leveraging on klog and

[2020-11-01 19:26] fabriziopandini commented on #3081
/remove-lifecycle stale
/lifecycle frozen

[2020-11-01 19:30] fabriziopandini commented on #3367
/close
due to inactivity and according to

we can always re-open or create a new issue if there are additional info

[2020-11-01 19:30] #3367 closed

[2020-11-01 19:31] fabriziopandini commented on #3230
/remove-lifecycle stale

[2020-11-01 19:32] fabriziopandini commented on #3134
/remove-lifecycle stale

[2020-11-01 19:32] fabriziopandini commented on #3244
/remove-lifecycle stale
@shreyasbapat any update on this?

[2020-11-01 19:33] fabriziopandini commented on #3256
/remove-lifecycle stale

[2020-11-01 19:34] fabriziopandini commented on #3283
/remove-lifecycle stale
/lifecycle frozen

[2020-11-01 19:34] fabriziopandini commented on #3291
/remove-lifecycle stale

[2020-11-01 19:35] fabriziopandini commented on #3311
/remove-lifecycle stale
/lifecycle frozen

[2020-11-01 19:36] fabriziopandini commented on #3359
/remove-lifecycle stale

[2020-11-01 19:37] fabriziopandini commented on #3294
/remove-lifecycle stale
@rudy2steiner is there any update on this issue?

[2020-11-01 19:37] fabriziopandini commented on #3373
/remove-lifecycle stale

[2020-11-01 19:38] fabriziopandini commented on #3384
/remove-lifecycle stale

[2020-11-01 19:38] fabriziopandini commented on #3415
/remove-lifecycle stale

[2020-11-01 19:39] fabriziopandini commented on #3400
/remove-lifecycle stale

[2020-11-01 19:40] fabriziopandini commented on #3419
/remove-lifecycle stale

[2020-11-01 19:40] fabriziopandini commented on #3301
/remove-lifecycle stale

[2020-11-01 19:45] fabriziopandini commented on #3119
/remove-lifecycle stale

[2020-11-01 19:46] fabriziopandini commented on #3119
This is probably won't be a problem anymore when the new multitenancy model lands

[2020-11-01 19:49] fabriziopandini commented on #3683
Sure!
/close

[2020-11-01 19:49] #3683 closed

[2020-11-01 22:27] fabriziopandini commented on #3399
/remove-lifecycle stale

[2020-11-02 02:38] rudy2steiner commented on #3294
sorry, I'm new to k8s and  try to finish this work as soon as possible!

[2020-11-02 05:13] vincepri commented on #3447
/remove-lifecycle stale

[2020-11-02 05:14] vincepri commented on #3447
/milestone Next

[2020-11-02 11:04] prankul88 commented on #3880
@fabriziopandini I can take a look at this!
/assign

[2020-11-02 12:06] randomvariable commented on #3569
/lifecycle cancel
Pending https://github.com/kubernetes-sigs/cluster-api/issues/3569

[2020-11-02 12:26] randomvariable commented on #3569
/remove-lifecycle active

[2020-11-02 14:39] vincepri commented on #3832
/priority important-longterm

[2020-11-02 14:47] vincepri commented on #3360
Do we want to keep this on the roadmap for v1alpha4?

[2020-11-02 14:48] vincepri commented on #3867
/milestone Next
/assign @superbrothers
/lifecycle active

Please change the milestone accordingly if this is something that we want to have in v0.4.x

[2020-11-02 14:48] vincepri commented on #3867
/area ux
/area clusterctl

[2020-11-02 14:51] vincepri commented on #3407
Closing this issue for now, given that it might not be something that Cluster API can do today, or that we can put on the roadmap.

/close

[2020-11-02 14:51] #3407 closed

[2020-11-02 14:52] vincepri commented on #1689
@srm09 Are you still working on this issue?

[2020-11-02 14:53] vincepri commented on #3255
@devigned @CecileRobertMichon Should we start working on a proposal for this?

[2020-11-02 15:54] ncdc opened #3891 "Add a method to ClusterCacheTracker that returns a live (non-caching) client"
This is to help mitigate #3887. Will need this in main + backport to release-0.3

/assign @vincepri
/priority critical-urgent
/milestone v0.4.0

cc @akutz

[2020-11-02 16:00] devigned commented on #3255
I'm not sure I understand how this fits in with management cluster operator and worry that may have some impact on how this should be designed.

[2020-11-02 16:02] ncdc opened #3892 "Use new a live client where we don't need caching"
Use #3891's new live client to manipulate ConfigMaps and Secrets where we don't need caching:

- KCP - CoreDNS CoreFile ConfigMap
- KCP - kubelet ConfigMap
- KCP - kubeadm ConfigMap
- CAPBK - refreshing the bootstrap token
- CAPBK - spec.files secret refs
- The helpers that get the kubeconfig secret
- The helpers that work with certificate secrets
- ClusterResourceSet (will need the metadata-only

[2020-11-02 16:05] ncdc commented on #3892
cc @akutz

[2020-11-02 16:28] vincepri commented on #3892
/assign

[2020-11-02 17:02] vincepri commented on #3892
KCP seems it's already using an uncached client internally. The client gets created when getting a workload cluster. The tracker's cached client isn't used anywhere apparently.

[2020-11-02 17:03] vincepri commented on #3370
/lifecycle frozen

[2020-11-02 17:49] vincepri commented on #3119
/help
/priority backlog

[2020-11-02 17:50] vincepri commented on #3419
This sounds like expected behavior to me, ok to close?

[2020-11-02 17:51] vincepri commented on #3400
/priority backlog
/milestone Next
/help

[2020-11-02 17:51] vincepri commented on #3384
/priority backlog

[2020-11-02 17:52] vincepri commented on #3399
/help
/milestone Next
/priority backlog

[2020-11-02 17:52] vincepri commented on #3359
/help

[2020-11-02 17:53] CecileRobertMichon commented on #3359
@mboersma @devigned are you working on this one?

[2020-11-02 17:54] vincepri commented on #3311
/help

[2020-11-02 17:55] vincepri commented on #3291
/help
/priority backlog

[2020-11-02 17:55] vincepri commented on #3889
/milestone v0.4.0
/help
/priority important-longterm

[2020-11-02 17:57] vincepri commented on #3244
/priority backlog

[2020-11-02 18:04] mboersma commented on #3359
/assign

Yes indeed.

[2020-11-02 18:05] CecileRobertMichon commented on #3359
/remove help

[2020-11-02 18:05] CecileRobertMichon commented on #3359
/remove-help

[2020-11-02 20:59] vincepri commented on #2937
/help
/priority backlog

[2020-11-02 21:09] srm09 commented on #1689
Yes @vincepri
I would be creating a PR soon enough.

[2020-11-02 22:01] fabriziopandini commented on #3450
/remove-lifecycle stale

[2020-11-02 22:08] fabriziopandini commented on #3255
@devigned according to my understanding of this issue, those plugins are responsible for all the provider-specific actions done before running clusterctl init

Given that, I don't see this work impacting the operator effort, but happy to discuss this if you think this will help.
Instead, this effort IMO requires some synchronization with https://hackmd.io/Z9tzIkGJQUaU9VbFuo6I7Q

[2020-11-02 23:10] wfernandes commented on #3836
@MPV So you are using the CRD manifest specified for k8s <1.15 which doesn't seem to have conversion webhooks.

https://github.com/kubernetes-sigs/cluster-api/blob/5ac19dc6a5f78f98282f13d5159dcb2d91e4d89f/cmd/clusterctl/client/cluster/cert_manager.go#L128-L139

The only thing I can suggest is printing out the error from line 132 above.
[code]

This will provide us with more information regarding w

[2020-11-02 23:29] wfernandes commented on #3360
We currently have `clusterctl generate yaml`. The behavior of the commands suggested above `clusterctl generate cluster` and `clusterctl generate provider` may be affected with the management cluster operator work.

I think we can keep this in the roadmap as a nice-to-have since the intent of this issue is to improve the UX for clusterctl.

[2020-11-02 23:30] lsh0357 opened #3894 "MachineHealthCheck deletes machines without NodeRef doesn't delete the node"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
With MHC enabled, the noderef is not set in machine, but the machine is deleted by MHC, the node created by the machine is not deleted.

**What did you expect to happen:**
The node created by the machine should be deleted.

**Anything else you would like to add:**
[Miscellaneous informatio

[2020-11-02 23:46] vincepri commented on #3894
If the NodeRef isn't set after a certain timeout (which is configurable), MHC deletes the Machine because it assumes the node never came up. If the NodeRef doesn't get set, we are not able to delete it.

Do you have more information on why the nodes are getting attached to machines?

[2020-11-02 23:47] vincepri commented on #3894
/triage support
/milestone Next
/priority awaiting-more-evidence

[2020-11-02 23:58] lsh0357 commented on #3894
If I understand correctly, machine will create an infra machine, which will create a node in the cluster. Somehow the node is created but doesn't get a provider ID. The machine noderef is not set because it can not find a match node based on the provider ID, then it get deleted but leave the no provider id node alive.

[2020-11-03 06:16] #3848 closed

[2020-11-03 06:16] #3858 closed

[2020-11-03 14:52] bboreham commented on #3692
Should this have the `kind/api-change` label?

[2020-11-03 14:55] vincepri commented on #3692
Sure

/kind api-change
/area api

[2020-11-03 15:14] vincepri commented on #3425
/kind api-change
/lifecycle frozen

[2020-11-03 18:39] sedefsavas commented on #3873
@arghya88 Are you still working on this?

[2020-11-03 18:59] enyinna1234 commented on #3763
lifecycle/active

[2020-11-03 19:33] vincepri commented on #3892
/milestone v0.4.0

Renamed because some of these don't need to use the workload cluster, but instead use a normal API Reader

[2020-11-03 21:03] fabriziopandini commented on #3138
/assign
/lifecycle active

/milestone v0.3.11

[2020-11-03 21:07] fabriziopandini commented on #3861
/milestone v0.3.11

[2020-11-03 21:42] fabriziopandini commented on #3425
+100

[2020-11-04 13:32] szwed opened #3902 "clusterctl move ends with: "Error: failed to retrieve server version: the server has asked for the client to provide credentials""
**What steps did you take and what happened:**

`
clusterctl move --to-kubeconfig=/Users/pszwed/presto/cluster-api/opsone.kubeconfig
Error: failed to retrieve server version: the server has asked for the client to provide credentials
`

**What did you expect to happen:**

Management cluster to be migrated from my local Kind cluster to remote EKS cluster.

**Anything else you would like to add:**

[2020-11-04 14:49] maelk opened #3903 "Clusterctl v0.3.10 fails to move cluster"
**What steps did you take and what happened:**
When running clusterctl move command, sometimes clusterctl fails to move the cluster, without actually returning an error. In the logs we can see :

[code]

**What did you expect to happen:**
Clusterctl should move the cluster or return an error that it failed to move the cluster.

**Anything else you would like to add:**
I am looking for some help an

[2020-11-04 14:59] maelk commented on #3903
I have been running clusterctl in a loop (adding an exit before the actual moving operations). I saw it happen twice in about 100 attempts

[2020-11-04 15:27] szwed commented on #3902
The issue was caused by missing AWS env variables that are required for connecting to the EKS cluster:
[code]

Could be a good idea to add some pre-move connection checks to both the clusters: 1. source and 2. target

[2020-11-04 15:30] #3902 closed

[2020-11-04 15:58] maelk commented on #3903
This was happening because one of the configmap had a wrong ownerreference to the cluster where the apiversion and kind fields were inverted. When that was the first object parsed, it was making the move fail since the kind and apiversion did not match the expected ones when checking the nodes in https://github.com/kubernetes-sigs/cluster-api/blob/d87a39c85f87f60858c578feaf5192d5679a140e/cmd/clust

[2020-11-04 15:58] #3903 closed

[2020-11-04 19:47] vincepri commented on #3429
/lifecycle frozen

[2020-11-05 16:26] #3891 closed

[2020-11-06 14:36] fabriziopandini commented on #3836
What about moving the issue to the cert-manager issue, given that as far as I understand the problems here seme more related to different cert-manager deployments.
WRT to clusterctl, what we are doing in clustectl is exactly what is described in https://cert-manager.io/docs/installation/kubernetes/#verifying-the-installation, so as soon as you get an installation passing this procedure, clusterctl

[2020-11-06 19:22] wfernandes commented on #3836
@fabriziopandini Which issue are you referring to: https://github.com/kubernetes-sigs/cluster-api/issues/3781 or #3837?

[2020-11-07 03:30] rhockenbury commented on #2217
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/1052

[2020-11-08 13:50] fabriziopandini commented on #3836
I'm referring to #3837, whit a slight variation that opt in (implicit) and opt out (explicit) should apply both to init and upgrade

[2020-11-09 10:44] fabriziopandini commented on #3894
@lsh0357
You are right, the machine gets delete but the node not because the link between node and machine was never sealed, so CAPI is not aware of the node.

My suggestion here is to consider increasing the node startup timeout in order give to CSI enough time to set provider ID, or, if this does not happen in a reasonable time, to investigate why the CSI does not sets the provider ID on the nod

[2020-11-09 16:10] #3874 closed

[2020-11-09 20:57] fabriziopandini commented on #3697
/unassing @fabriziopandini

[2020-11-10 16:03] fabriziopandini commented on #3569
@vincepri @ncdc @naadir @jdetiber @cecile
While #3652 provided a viable solution for all the "real" infrastructure providers, IMO downloading CI artifacts on each node, is not a viable solution for CAPD where all the machines are containers running on a single/resource-limited prow machine.

So I’m leaning towards using `kind build node-image` so we have a docker image with everything pre-loaded t

[2020-11-10 16:13] fabriziopandini commented on #3664
/retitle Test CAPI about different K8s versions

Given that test were already started to use v1.19 for E2E tests.
Additionally, considering the discussions on https://github.com/kubernetes-sigs/cluster-api/issues/3783, I think that testing different version of Kubernetes should be restricted only to the tests focused on workload clusters, namely K8s conformance and K8s upgrades.

[2020-11-10 16:14] ncdc commented on #3569
👍

[2020-11-10 16:34] vincepri commented on #3885
/milestone Next

Going to remove from v0.3.11 to not make it a release blocking item

[2020-11-10 16:35] vincepri commented on #3885
/milestone v0.3.12

[2020-11-10 17:22] fabriziopandini commented on #3763
/lifecycle active
/assign @enyinna1234

[2020-11-11 03:35] andrewrynhard opened #3907 "Clusterctl fails to plan upgrade"
**What steps did you take and what happened:**
`clusterctl upgrade plane -v 10`

[code]

**What did you expect to happen:**
Sidero infra provider to be planned for an upgrade.

**Anything else you would like to add:**

**Environment:**

- Cluster-api version:
[code]
- Minikube/KIND version: N/A
- Kubernetes version: (use `kubectl version`):
[code]
- OS (e.g. from `/etc/os-release`):
[code]
/kind b

[2020-11-11 13:29] fabriziopandini commented on #3138
#3900 is merged
/close

[2020-11-11 13:29] #3138 closed

[2020-11-11 13:29] fabriziopandini commented on #3862
#3900 is merged
/close

[2020-11-11 13:29] #3862 closed

[2020-11-11 13:29] fabriziopandini commented on #3860
#3900 is merged
/close

[2020-11-11 13:30] #3860 closed

[2020-11-11 13:38] fabriziopandini commented on #3861
#3900 is merged
/close

[2020-11-11 13:38] #3861 closed

[2020-11-11 13:42] fabriziopandini opened #3909 "Forward port KCP conditions & reconcileHalthCheck refactor"
#3900 introduced in the v0.3 branch KCP conditions and a split of reconcileHealth into preflight and reconcileEtcdMembers, make both use conditions.
These changes should now be forward ported to v0.4

/kind feature

[2020-11-11 13:42] fabriziopandini commented on #3909
/milestone v0.4.0

[2020-11-11 13:42] fabriziopandini commented on #3909
/assign
/lifecycle active

[2020-11-11 15:30] vincepri commented on #3909
/priority important-soon

[2020-11-11 19:09] vincepri commented on #3734
If this gets fixed, we can possibly backport to v0.3.12, given that it could cause issues in some environments

[2020-11-11 20:45] hanlins commented on #3751
Hi @vincepri, this is a [draft proposal](https://docs.google.com/document/d/1j-KVAZoFnaGJYyzg_64B_i-rZ3LfVEcm49ztTOSdQto/edit?usp=sharing) for the proxy changes we're planning.

[2020-11-11 22:00] fmuyassarov opened #3910 "Mark KCP machines for deletion"
**User Story**
As a user I would like to mark a specific controlplane Machine to be deleted by a KCP after I scale it down.

**Detailed Description**
As an example, I have three controlplane Machines (a. b, c). Now I want to scale down KCP replicas to 1 but I want specifically  b and c Machines to be deleted after I run `kubectl scale kcp example --replicas=1`. As we discussed with @vincepri over

[2020-11-11 22:00] fmuyassarov commented on #3910
/cc @vincepri
/cc @furkatgofurov7

[2020-11-12 02:39] jdef opened #3911 ":bug: need backport of high cpu usage during kubectl drain"
CAPI cloned k8s/k8s/staging/src/k8s.io/kubectl/pkg/drain/drain.go, and there was a bug fix that recently landed there via https://github.com/kubernetes/kubernetes/pull/95260

Quickly skimming the CAPI variant, it looks like this bug is present, and should also be fixed there too.

/kind bug
[One or more /area label. See https://github.com/kubernetes-sigs/cluster-api/labels?q=area for the list of l

[2020-11-12 04:55] prankul88 commented on #3911
/assign

[2020-11-12 04:56] prankul88 commented on #3911
@jdef Thanks for pointing it out. I you are okay I can push the fix for this

[2020-11-12 07:47] fabriziopandini commented on #3910
/milestone v0.4.0
/priority important-longterm

[2020-11-12 10:28] fmuyassarov commented on #3910
One example use case is coming from Metal3, where I have a,b,c controlplane Machines and for some reason the underlying baremetal servers for Machine b and c are broken. Now, we want to get rid of those two b & c Machines (or baremetal servers in our case) for a while from the cluster. To do that we need a way to inform the KCP that it should delete Machine b and c during scaling down.

[2020-11-12 16:28] fabriziopandini opened #3913 "Add E2E test for KCP remediation"
https://github.com/kubernetes-sigs/cluster-api/pull/3830 is going to add KCP remediation.
As soon as this merge, we should add an E2E for testing some remediation use cases.

/area testing
/kind feature

[2020-11-12 16:31] vincepri commented on #3913
/milestone v0.3.11

+ v0.4.0

[2020-11-12 16:52] #3911 closed

[2020-11-12 17:03] fabriziopandini opened #3914 "Forward port KCP remediation"
https://github.com/kubernetes-sigs/cluster-api/pull/3830 introduced KCP remediation in the v0.3 branch.
These changes should now be forward ported to v0.4

/kind feature
/milestone v0.4.0
/priority important-soon

[2020-11-12 17:03] fabriziopandini commented on #3914
/assign
/lifecycle active

[2020-11-12 18:44] srm09 commented on #3910
Is this being currently worked on, I would like to pick this one up.
cc @vincepri

[2020-11-12 18:55] ncdc commented on #3910
@srm09 I would look at the important-soon list first - https://github.com/kubernetes-sigs/cluster-api/issues?q=is%3Aopen+is%3Aissue+milestone%3Av0.4.0+label%3Apriority%2Fimportant-soon. In particular, https://github.com/kubernetes-sigs/cluster-api/issues/2083 might be worth exploring sooner rather than later.

[2020-11-12 20:42] fabriziopandini commented on #3664
/assign
/lifecycle active

[2020-11-12 20:56] fabriziopandini commented on #3439
/area clusterctl

[2020-11-12 21:00] fabriziopandini commented on #3653
/area cluserctl

[2020-11-12 21:15] fabriziopandini commented on #3653
/area clusterctl

[2020-11-12 21:34] fabriziopandini commented on #3914
/area control-plane

[2020-11-12 21:35] fabriziopandini commented on #3910
/area control-plane

[2020-11-12 21:35] fabriziopandini commented on #3909
/area control-plane

[2020-11-12 21:35] fabriziopandini commented on #3880
/area control-plane

[2020-11-12 21:35] fabriziopandini commented on #3876
/area control-plane

[2020-11-12 21:38] fabriziopandini commented on #3875
/area control-plane
/unassing
/remove-lifecycle active

With #3900 the work on the code is completed in the 0.3.0, and will be forward ported to 0.4.0.
The missing part is the documentation

[2020-11-12 21:43] fabriziopandini commented on #3845
/area control-plane
/priority backlog

[2020-11-12 21:46] fabriziopandini commented on #3839
/area control-plane
/priority important-soon

[2020-11-12 21:50] fabriziopandini commented on #3764
/area control-plane

[2020-11-12 21:50] fabriziopandini commented on #3555
/area control-plane

[2020-11-12 21:51] fabriziopandini commented on #3512
/area control-plane

[2020-11-12 21:51] fabriziopandini commented on #2859
/area control-plane

[2020-11-12 21:54] fabriziopandini commented on #3832
/area testing
/area provider/docker

[2020-11-12 21:58] fabriziopandini commented on #3729
/close
#3748 merged

[2020-11-12 21:58] #3729 closed

[2020-11-12 22:04] fabriziopandini commented on #3686
/area provider/docker

[2020-11-12 22:06] fabriziopandini commented on #3547
/area api
/kind api-change

[2020-11-12 22:08] fabriziopandini commented on #3424
/kind api-change

[2020-11-12 22:09] fabriziopandini commented on #3354
/area clusterctl

[2020-11-12 22:10] fabriziopandini commented on #3081
/area clusterctl

[2020-11-12 22:14] fabriziopandini commented on #2826
/area testing

[2020-11-12 22:14] fabriziopandini commented on #2646
/area api
/kind api-change

[2020-11-12 22:15] fabriziopandini commented on #2585
/kind api-change

[2020-11-12 22:15] fabriziopandini commented on #2318
/area api
/kind api-change

[2020-11-13 00:42] seemiller opened #3917 "Cluster deployed to local Docker with CAPD stuck at pending status"
**What steps did you take and what happened:**
Followed the quick start guide from the Cluster API book for deploying a cluster to Docker on a Linux VM. The machines in the workload cluster are stuck in a pending status and never became available so that a deployment or pod could be created.

### install clusterctl
[code]
### Start the kind management cluster
[code]
### Init cluster
[code]
### Gen

[2020-11-13 13:00] furkatgofurov7 commented on #3910
If no one is working on this, I am interested to pick this up.

@ncdc @fabriziopandini

[2020-11-13 15:21] fabriziopandini commented on #3910
@furkatgofurov7 sure thing!
You can assign yourself and add lifecycle active to signal other contributors when you start actively working on this. see https://github.com/kubernetes-sigs/cluster-api/blob/master/CONTRIBUTING.md#contributing-a-patch

[2020-11-13 16:46] wfernandes commented on #3917
/area provider/docker
/help

[2020-11-14 00:16] seemiller commented on #3917
Further exploration of this issue has led me to determine that this is not a bug. My problems stemmed from documentation regarding the setting of the `KIND_EXPERIMENTAL_DOCKER_NETWORK` environment variable was not clear, and insufficient disk resources on the VM.

I will probably propose wording changes to the documentation to make it clearer when to use the `KIND_EXPERIMENTAL_DOCKER_NETWORK` envi

[2020-11-14 00:16] #3917 closed

[2020-11-15 14:47] fabriziopandini commented on #3057
/remove-lifecycle stale

[2020-11-15 14:51] fabriziopandini commented on #3917
Thanks! @seemiller and sorry for not getting on this task sooner, one the last few days the team many mantainers were busy preparing the next release.
WRT to KIND_EXPERIMENTAL_DOCKER_NETWORK, there is also https://github.com/kubernetes-sigs/cluster-api/issues/3832 that can simplify the UX around CAPD

[2020-11-16 08:17] furkatgofurov7 commented on #3910
/assign
/lifecycle active

[2020-11-16 08:45] furkatgofurov7 commented on #3910
@fabriziopandini what do you think of this [approach](https://github.com/Nordix/cluster-api/compare/v0.3.10...Nordix:kcp-scale-down-furkat?expand=1#)? Would that direction be the best approach to fix this issue? Any high-level pointers&suggestions regarding how this needs to be properly tackled are very appreciated. Thanks!

[2020-11-16 18:10] vincepri commented on #3498
/lifecycle frozen

[2020-11-16 19:12] furkatgofurov7 commented on #3910
I have seen a couple of [PRs](https://github.com/kubernetes-sigs/cluster-api/pull/2887)'/[issue](https://github.com/kubernetes-sigs/cluster-api/issues/2702) discussing why KubeadmControlPlane controller shouldn't rely on annotations to operate and we need to avoid annotations as much as possible in the first place. Would be good to hear your thoughts on this @benmoss @vincepri

[2020-11-16 19:40] nicolehanjing commented on #3751
/ok-to-test

[2020-11-17 01:30] srm09 commented on #2478
/assign

[2020-11-17 11:51] fabriziopandini commented on #3488
/remove-lifecycle stale

[2020-11-17 19:52] shysank opened #3923 "Skip spoke-hub-spoke conversion tests"
**What steps did you take and what happened:**
`spoke-hub-spoke` tests were recently added in #3877 to verify that `data` annotation values from hub don't override changes made in spokes. But, this is causing other test cases which were previously thought to be correct to fail. Examples: [MachineDeployment.DeletePolicy](https://github.com/kubernetes-sigs/cluster-api/pull/3773#discussion_r520164660

[2020-11-17 23:11] srm09 commented on #2859
@fabriziopandini I had a conversation with @sedefsavas about this, and she was of the view that I should wait for the KCP changes to be forward ported to the main branch before introducing any other changes to KCP controller.

cc: @vincepri

[2020-11-18 09:30] fabriziopandini commented on #2859
@srm09 I agree with @sedefsavas, I'm trying to unblock the latest forward porting PRs 😓

[2020-11-18 09:52] fabriziopandini commented on #3910
IMO this approach is ok; possibly:
- make sure the oldest machine is deleted when more than one machine is marked for deletion
- add unit test
- update the KCP proposal with a note describing this behavior for scale down

I fully agree controllers should not use annotation for storing their own internal state.
However, in this case, we are using annotation to let the user express their intent - to

[2020-11-18 10:19] furkatgofurov7 commented on #3910
@fabriziopandini thanks for the suggestion/pointers on the draft version of the implementation approach. Would you mind telling me a bit more, which KCP proposal are you referring to? Are you referring to [this one?](https://github.com/kubernetes-sigs/cluster-api/pull/3857) (KCP scale out during the upgrade)

[2020-11-18 11:55] jan-est commented on #3910
That is scaleIn specific update for the KCP proposal. You should create another PR to update the KCP proposal for this feature.

[2020-11-19 01:13] srm09 commented on #2478
Here is a doc outlining the scope and type of changes needed:
[Google Doc: Type field of CAPI Secrets](https://docs.google.com/document/d/1UYfyWshmWxq3nGKgxJkKlqZIpGLfeUwKtAgm05ae0dc/edit#)

[2020-11-19 01:14] srm09 commented on #2478
/retitle Populate Type field of CAPI secrets

[2020-11-19 01:16] srm09 commented on #2478
As per the discussion with @wfernandes and @vincepri , this is the updated scope of the issue:

1. Update the util functions for secret generation to set the `Type` field for Secrets
1. Add extra logic to the reconcile loops to populate the `Type` field for Secrets created by pre-v1alpha4 controllers.

[2020-11-19 02:03] jichenjc commented on #3653
/assign

let me try this ..

[2020-11-19 05:14] christopherhein opened #3924 "Align Flag Names with Kubernetes Components"
**User Story**

As an operator, I would like to use the same flags as upstream kubernetes components use so that there is better cohesion between the many things we deploy into Kubernetes.

**Detailed Description**

In `main.go` we have a handful of flags which slightly differ from Kubernetes standard flags like `leader-election` vs `leader-elect` in Kubebuilder we're switching those to align more

[2020-11-19 05:15] vincepri commented on #3924
/milestone v0.4.0
/priority important-soon
/help

[2020-11-19 05:16] vincepri commented on #3924
@srm09 If you're looking for more work to do, this is a good breaking change

also cc @wfernandes to align these flags with the operator work

[2020-11-19 06:22] srm09 commented on #3924
/assign

[2020-11-19 13:30] fabriziopandini commented on #3693
As per https://kubernetes.slack.com/archives/C8TSNPY4T/p1605628753355000,
Trying to figure out how to match this issue, with other E2E efforts (e.g. testing different K8s version, testing with K8s latest):

Prow constraints:
- Prow dashboard reports at job level (e.g. https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api)
- List of tests executed by each job is accessible only on the detail pa

[2020-11-19 13:37] fabriziopandini commented on #3656
This work should possible address also testing for KCP remediation

[2020-11-19 13:41] fabriziopandini commented on #3743
/assign
/lifecycle active

[2020-11-19 15:23] fabriziopandini commented on #3370
/assign
/lifecycle active

[2020-11-19 16:23] yastij opened #3926 "KCP validation prevents rotating ssh keys"
**What steps did you take and what happened:**
when editing a KCP resource to rotate ssh keys, the kcp validating webhook rejected the change. This is mainly due to the fact we're not adding `.spec.kubeadmConfigSpec.users` to the list of allowed path. This can cause security issues when an ssh key is compromised.

cc @CecileRobertMichon @vincepri @fabriziopandini

**What did you expect to happen:*

[2020-11-19 16:24] yastij commented on #3926
Ideally I'd like us to fix in 0.3, as this has security implications

[2020-11-19 16:26] detiber commented on #3926
No objections to me for fixing in 0.3.x

[2020-11-19 16:30] CecileRobertMichon commented on #3926
If we do allow `spec.kubeadmConfigSpec.users` to be updated, you'd expect the patch to trigger a rolling update and replace all the KCP machines, correct?

no objection fron me to get this in 0.3.11 if we can get the fix merged in the next 24 hours so it doesn't delay the release too much.

[2020-11-19 16:31] vincepri commented on #3926
If we can get a patch today and do a quick test, +1 to merge in v0.3.11

[2020-11-19 16:34] CecileRobertMichon commented on #3693
just to clarify, when we say k8s upgrade, are we talking about KCP + MD + MP or just KCP (assuming it's the former)?

[2020-11-19 16:41] yastij commented on #3926
I have a branch with unit tests, opening it + triggering a quick rollout

[2020-11-19 17:13] fabriziopandini commented on #3926
+1 for me

[2020-11-19 17:15] vincepri commented on #3926
/milestone v0.3.11

[2020-11-19 17:15] fabriziopandini commented on #3926
/milestone v0.3.11
/area control-plane

[2020-11-19 18:16] #3926 closed

[2020-11-19 18:44] wfernandes commented on #3795
/assign

[2020-11-19 18:48] wfernandes opened #3930 "CAPD cluster template references v1alpha3 resources instead of v1alpha4"
**What steps did you take and what happened:**
Started investigating as per this comment: https://github.com/kubernetes-sigs/cluster-api/pull/3514#issuecomment-730082945

Followed the steps to create a dev CAPD cluster as defined here: https://cluster-api.sigs.k8s.io/clusterctl/developers.html

**What did you expect to happen:**
Expected CAPD quickstart to create a CAPD workload cluster successful

[2020-11-19 18:48] wfernandes commented on #3930
/assign
/lifecycle active

[2020-11-19 19:12] #3930 closed

[2020-11-19 19:56] wfernandes commented on #3924
@srm09 are you working on this? else I can do it.

[2020-11-19 20:01] srm09 commented on #3924
I'd be happy to work on it, but I will get it to it by tomorrow. If you are blocked elsewhere, then you can pick it up today.

[2020-11-19 20:08] wfernandes commented on #3924
Go for it...I can look around for other things 🙂

[2020-11-19 20:10] wfernandes commented on #3795
/lifecycle active

[2020-11-19 21:50] nader-ziada opened #3933 "clusterctl move drops external resources"
**What steps did you take and what happened:**

- installing an external crd (for AzureIdentity) as part of the capz `infrastructure components yaml` and adding the `clusterctl.cluster.x-k8s.io/move: "true"` label on the CustomResourceDefinition object
- adding the `clusterctl.cluster.x-k8s.io/move: "true"` label on the the actual instance of AzureIdentity
- adding the cluster as an owner referenc

[2020-11-20 14:31] fabriziopandini opened #3935 "Un-deprecate patch.WithOwnedConditions"
`Patch.WithOwnedConditions` was deprecated by https://github.com/kubernetes-sigs/cluster-api/pull/3643, but while implementing KCP conditions recently, we discovered a use case where this option is necessary.

So now we should remove the deprecation notice from

https://github.com/kubernetes-sigs/cluster-api/blob/e73e3d9021e5df61ea2861be6f73698a031a63c3/util/patch/options.go#L62-L68

and

https://

[2020-11-20 14:31] fabriziopandini commented on #3935
/milestone v0.4.0
/area control-plane
/priority backlog

/help
/good-first-issue

[2020-11-20 14:45] arghya88 commented on #3935
/assign
/lifecycle-active

[2020-11-20 14:45] arghya88 commented on #3935
/lifecycle active

[2020-11-20 15:44] #3935 closed

[2020-11-20 17:06] yastij opened #3938 "Introduce more granularity in the CAPI conditions"
**User Story**

today CAPI condition do not allow granular distinction between different types of conditions:

- terminal: unrecoverable, just remove the machine
- transient: reconcile and MAYBE it’s gonna work
- blocked:  needs manual intervention, it might be unblocked after the intervention, but re-creating the machine won't change anything (e.g. not enough permissions)

**Detailed Description*

[2020-11-20 17:06] yastij commented on #3938
/priority important-soon

[2020-11-20 17:07] yastij commented on #3938
/assign

[2020-11-20 17:11] CecileRobertMichon commented on #3359
/assign

[2020-11-20 17:15] fabriziopandini commented on #3938
Agreed, the CAEP is the right place for reaching an agreement on this topic
Personally, I'm ok with adding more info to CAPI conditions it this can provide value to consumers (humans or machines); for this issue, we should aim to have a clear distinction between Severity Warning/Error and the proposed state

[2020-11-20 17:33] fabriziopandini commented on #3933
@nader-ziada clusterctl move is scoped to a single namespace (see https://cluster-api.sigs.k8s.io/clusterctl/commands/move.html#clusterctl-move).

However, there are also other issues like https://github.com/kubernetes-sigs/cluster-api/issues/3081 for tracking a slightly different variation of the same problem, and also I have https://github.com/kubernetes-sigs/cluster-api/issues/3354 where I'm tr

[2020-11-20 17:34] fabriziopandini commented on #3933
/remove-kind bug
/kind feature
/area clusterctl
/milestone v0.4.0

[2020-11-20 17:51] fabriziopandini commented on #3693
Yes, testing K8s upgrades in all of its possible nuances

[2020-11-20 18:27] vincepri commented on #3933
Let's close this as duplicate of https://github.com/kubernetes-sigs/cluster-api/issues/3081?

[2020-11-20 18:34] #3795 closed

[2020-11-20 19:04] nader-ziada commented on #3933
/close

[2020-11-20 19:04] #3933 closed

[2020-11-20 19:06] #3873 closed

[2020-11-20 20:14] #3924 closed

[2020-11-20 20:27] vincepri commented on #3907
/assign @wfernandes @fabriziopandini

[2020-11-20 20:38] wfernandes commented on #3907
@andrewrynhard Thanks for filing this issue.
As per [our documentation](https://cluster-api.sigs.k8s.io/clusterctl/commands/upgrade.html#pre-release-provider-versions), `clusterctl upgrade plan` by default does not consider pre-release versions.

However, you can still upgrade to the specified pre-release as follows. [See here for more details](https://cluster-api.sigs.k8s.io/clusterctl/commands/u

[2020-11-22 20:05] MPV opened #3939 "Monitoring etcd created by CAPI using prometheus-operator"
Anyone who has set up monitoring of the `etcd` created by CAPI using `prometheus-operator`?

How have you created the necessary certs (as k8s secrets into the target cluster) for the Prometheus instance/ServiceMonitor to use to auth with etcd when scraping its metrics port?

I'd like to automate something like this when creating my new clusters with CAPI:

https://jpweber.io/blog/monitoring-extern

[2020-11-23 04:28] jichenjc commented on #3653
following is only for my development reference, just record here
1) use `kubectl scale --replicas=0 deployment capi-controller-manager -n capi-system` to scale down controller
2) Cluster.Spec.Paused will be set and it will be used mainly to control new changes (need further check here)

[2020-11-23 09:47] MPV commented on #1584
I guess one downside of editing the configmap for kube-proxy is that it duplicates the configuration of the cluster, for example things like `clusterCIDR: 10.96.0.0/16`.

I very much think it's still desirable to allow this to be configurable as part of the `KubeadmConfig`.

I'm also having this use case (where I want to monitor kube-proxy using Prometheus):

[2020-11-23 14:11] MPV commented on #3939
Or would using `postKubeadmCommands` make more sense?

[2020-11-23 20:05] shysank commented on #3839
/assign

[2020-11-23 20:09] fabriziopandini commented on #3505
/close
given https://github.com/kubernetes-sigs/cluster-api/pull/3918 merged

[2020-11-23 20:09] #3505 closed

[2020-11-23 20:17] fabriziopandini commented on #3085
/remove-lifecycle stal

[2020-11-23 20:56] fabriziopandini commented on #3802
/assign
/lifecycle active

[2020-11-24 16:34] fabriziopandini commented on #3422
/remove-lifecycle stale

[2020-11-25 08:43] fabriziopandini commented on #3517
/remove-lifecycle stale

[2020-11-25 17:35] sedefsavas opened #3944 "Create a new label for the changes that should be adopted by providers"
Given that providers are using mostly same tools and have similar architectures with this repo, changes going in here may be relevant to add to the providers as well.

For example, these PRs can be implemented in the providers as well:
https://github.com/kubernetes-sigs/cluster-api/pull/3753
https://github.com/kubernetes-sigs/cluster-api/pull/3744
https://github.com/kubernetes-sigs/cluster-api/pul

[2020-11-26 19:12] #3907 closed

[2020-11-27 00:10] nickperry commented on #2416
I appear to be experiencing this problem on CAPV v0.7,1 and CAPI v0.3.11.
https://kubernetes.slack.com/archives/CKFGK3SSD/p1606316875193600

[2020-11-27 00:14] nickperry commented on #2416
/reopen

[2020-11-27 21:03] nickperry commented on #2416
I can no longer repro this.

[2020-11-30 02:34] vincepri commented on #3488
/lifecycle frozen

[2020-11-30 02:36] vincepri commented on #3923
/milestone Next
/help

Going to stick this issue into Next for now. The spoke -> hub -> spoke fuzzer test needs to take into account of possible API changes between versions that would result in a possible data loss.

[2020-11-30 02:50] vincepri commented on #3743
/area dependency

[2020-11-30 02:50] vincepri commented on #3743
Should we also open an issue in upstream kubebuilder to update if they haven't done already?

[2020-11-30 03:02] vincepri commented on #3720
Closing, see https://github.com/kubernetes-sigs/cluster-api/pull/3825#issuecomment-730655761

[2020-11-30 03:02] vincepri commented on #3720
/close

[2020-11-30 03:02] #3720 closed

[2020-11-30 03:44] #3909 closed

[2020-11-30 03:55] vincepri commented on #1584
/lifecycle frozen

[2020-11-30 03:56] vincepri commented on #3939
/triage support
/milestone Next

cc @randomvariable @fabriziopandini

[2020-11-30 04:03] vincepri commented on #3422
@prankul88 Are you still interested in tackling this issue?

[2020-11-30 04:11] vincepri commented on #3517
Now that we have the logger passed in with the context, we should be able to close this one out for now. As mentioned above, I don't think expanding the `scope` pattern found in CAPA is actually something we might want to do.

[2020-11-30 04:14] vincepri commented on #3944
We should really have these changes as part of the migration guide to v1alpha4, which we should have started yesterday 😄

Example: https://cluster-api.sigs.k8s.io/developer/providers/v1alpha2-to-v1alpha3.html

[2020-11-30 04:19] vincepri opened #3954 "Remove the DeleteNodeAnnotation (deprecated) annotation"
The following annotation has been deprecated in an earlier version, and should be removed entirely in v1alpha4

https://github.com/kubernetes-sigs/cluster-api/blob/2dd66d6e1559f47302c263cd75bd20265ce6403a/controllers/machineset_delete_policy.go#L34-L37

/kind cleanup
/milestone v0.4.0
/good-first-issue

[2020-11-30 04:19] vincepri commented on #3954
/help

[2020-11-30 04:19] vincepri commented on #3954
/priority important-longterm

[2020-11-30 04:20] vincepri commented on #3954
Whoever picks this up, please mark your PR as ⚠️, given that removing an exporting constant is a breaking change 😊

[2020-11-30 04:29] arghya88 commented on #3954
/assign

[2020-11-30 04:29] arghya88 commented on #3954
/lifecycle active

[2020-11-30 10:24] fabriziopandini commented on #3517
/close

[2020-11-30 10:24] #3517 closed

[2020-11-30 10:46] #3743 closed

[2020-11-30 11:29] fabriziopandini opened #3957 "Forward port prevents reconcileEtcdMember to remove etcd members when etcd starts slowly"
https://github.com/kubernetes-sigs/cluster-api/pull/3919 introduced a fix to reconcileEtcdMember preventing removal of etcd members when etcd starts slowly
These changes should now be forward ported to v0.4

/kind feature
/milestone v0.4.0
/priority important-soon

[2020-11-30 11:30] fabriziopandini commented on #3957
/help
/good-first-issue
/area control-plane

[2020-11-30 11:37] arghya88 commented on #3957
/assign
/lifecycle active

[2020-11-30 15:08] fabriziopandini commented on #3939
I don't know in detail how the Prometheus operator works, but from a quick look at the article there are several points to be considered:
- Solution will be different if using a stacked etcd or an external etcd. For now, I focus on the first scenario only.
- Defining the list of Endpoints requires knowing in advance machine IPs. Most probably this should be changed in order to use a selector that

[2020-11-30 15:18] fabriziopandini opened #3958 "v1alpha4 conversion web hooks are failing"
I'm observing conversion errors in v1alpha4 conversion web hooks.

e.g https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api/3921/pull-cluster-api-e2e-full-main/1333420370417422336 is reporting

`conversion webhook for cluster.x-k8s.io/v1alpha4, Kind=Cluster failed: the server could not find the requested resource`

Also tested manually creating a v1alpha3 cluster

[2020-11-30 15:19] fabriziopandini commented on #3958
/milestone v0.4.0

[2020-11-30 15:48] vincepri commented on #3958
Is this a flake or an actual bug?

[2020-11-30 15:53] fabriziopandini commented on #3958
IMO this is an actual bug

[2020-11-30 15:56] vincepri commented on #3958
Do you have any more information? I was hoping to understand a bit more what happened here and how to avoid it in the future.

[2020-11-30 16:13] fabriziopandini commented on #3958
The only evidence I have so far are:
- E2E tests failing (see linked example, but it seems that there also self-hosted periodic test is failing consistently for the same error)
- Error in https://github.com/kubernetes-sigs/cluster-api/pull/3931 and follow up discussion at https://kubernetes.slack.com/archives/C8TSNPY4T/p1605894092412100
- Error when doing manual testing for clusterctl upgrades (se

[2020-11-30 16:18] #3954 closed

[2020-11-30 16:27] randomvariable commented on #3939
My only issue with reusing the client certs as per the blog post is that it leaves Prometheus a bit overpowered in terms of permissions and could be a security risk.

There's a number of overlapping problems here:
kubeadm configures etcd to use the same CA for both standard client certificates and etcd peer certificates. Unfortunately, this means any valid TLS client for the etcd cluster can privi

[2020-11-30 16:32] randomvariable commented on #3939
Another way you could set this up, but would be a bit more secure would be to run https://github.com/brancz/kube-rbac-proxy as a daemonset on the control plane nodes. Configure this to load up the existing etcd certificates on disk, and then only allow /metrics to be forwarded to the etcd port.

It should then be possible to set up a Service pointing at the DaemonSet with a ServiceMonitor using Pr

[2020-11-30 16:52] #3914 closed

[2020-11-30 16:58] randomvariable commented on #2217
/reopen

This question was re-raised in SIG Windows around app support, though we were wondering that since pod names and DNS names synonymous, then pod names longer than the NETBIOS limit should also break applications that don't support longer names. If that's the case, it still doesn't make sense to make this a cluster api concern.

I think @JocelynBerrendonner was going to get a definitive ans

[2020-11-30 16:58] randomvariable commented on #2217
/lifecycle frozen

[2020-11-30 18:17] shysank commented on #3923
/assign

[2020-11-30 18:58] #3359 closed

[2020-11-30 19:21] ncdc opened #3961 "KCP race condition between joining new control plane nodes and etcd reconciliation"
**What steps did you take and what happened:**
1. Scale up KCP
1. New node may fail to join the cluster because KCP removes the new etcd member from the list prematurely

**What did you expect to happen:**
1. No join failure

**Anything else you would like to add:**

The following race condition exists:

1. New node starts to bootstrap, performing various phases
1. kubeadm adds new etcd member to

[2020-11-30 19:43] vincepri commented on #3957
Hi @arghya88, given that we have a critical bug that relies on this forward port, I'll open a PR soon to cherry-pick the commit so we can start working on a fix for https://github.com/kubernetes-sigs/cluster-api/issues/3961

Hope that's ok!

[2020-11-30 19:56] #3957 closed

[2020-11-30 19:57] vincepri commented on #3961
/assign
/milestone v0.4.0

[2020-11-30 20:23] wfernandes commented on #3958
/cc @srm09
Do you have any context on the conversion webhooks from v1a3 to v1a4?

[2020-11-30 20:30] wfernandes commented on #3822
Just adding for future reference. This issue is referenced in the management cluster operator caep under the **Upgrade from v1alpha3 management cluster to v1alpha4 cluster** section.

[2020-11-30 22:00] #3923 closed

[2020-12-01 08:56] richardcase opened #3968 "Template and variable metadata"
**User Story**

As a developer/user/operator I would like to be able to query "metadata" for a provider that details the variables supported by the config (including descriptions, default values), the templates the provider supports (with descriptions and variable details) so that automation and tooling can be built that understands what is required for a provider and its templates

**Detailed Des

[2020-12-01 08:58] richardcase commented on #3661
@fabriziopandini @vincepri - would this require a CAEP or is ok to just go ahead and make the clusterctl change?

[2020-12-01 09:12] fabriziopandini commented on #3661
The most important thing to me is to document this new feature
- from a user perspective, possibly in https://cluster-api.sigs.k8s.io/clusterctl/commands/get-kubeconfig.html
- from a provider implementer perspective, possibly in https://cluster-api.sigs.k8s.io/clusterctl/provider-contract.html
If we address the above points, IMO a CAEP is necessary.

[2020-12-01 10:04] pnordh commented on #3939
We resolved to use the `postKubeadmCommands ` directive to create a Secret in the target cluster with the etcd healthcheck certificate generated by kubeadm.

As said above though, that certificate is valid for peer connections unfortunately.

[2020-12-01 10:09] prankul88 commented on #3422
@vincepri Yes, had left it due to some issues. Would like to give it a shot once this week.

[2020-12-01 10:33] richardcase commented on #3661
Thanks @fabriziopandini - i will make sure the documentation is updated as part of the change.

[2020-12-01 11:50] #3504 closed

[2020-12-01 16:28] #3961 closed

[2020-12-01 18:05] detiber opened #3970 "Remove forked kubectl drain code in favor of direct module usage"
Previously we copied kubectl drain code into the third_party directory with the intention of eventually removing the copy and importing upstream directly (once the kubectl move to staging was complete). The kubectl code is now published at k8s.io/kubectl, however it appears that there have been changes made locally to the drain code we have copied.

These changes need to be re-aligned with upstrea

[2020-12-01 18:09] vincepri commented on #3970
/help
/milestone v0.4.0
/priority important-soon

[2020-12-01 18:40] neolit123 commented on #3970
`s/kubeadm/kubectl/` :)

[2020-12-01 18:44] detiber commented on #3970
:grimacing: fixed, thanks for catching that

[2020-12-01 18:45] detiber commented on #3486
/remove-lifecycle stale

[2020-12-01 18:51] enyinna1234 commented on #3763
@benmoss I'm not able to reproduce this. Can you please shed more light? What provider did you use? I can't find where the NewProviderID function gets called that involves json marshaling.

[2020-12-01 21:08] wfernandes commented on #3968
Although cluster templating is currently out of scope, I feel this may be added/integrated to the management cluster operator.  Referencing the CAEP https://github.com/kubernetes-sigs/cluster-api/pull/3833 here for future...reference.