[2020-12-02 00:36] srm09 commented on #2478
**Update on the issue:**
Regarding the secrets created by pre-v1alpha4 controllers,
The **Type** field for Secrets is immutable, thus cannot be changed via `Patch/Update` calls to the API server.
- A way around is to delete/recreate(back to back) the Secret which might require a privilege escalation for the `capi-kubeadm` service account.
- Another way could be to backup(copy to a secret with a di

[2020-12-02 01:05] srm09 opened #3973 "Workload clusters created with same name fails to get started"
**What steps did you take and what happened:**
1. Deploy CAPI components with the docker provider
2. Create a workload cluster with name `foo-wc`, maybe (1 cp + 3 worker nodes)
3. Delete the workload cluster and/or kill the CAPI deployment (by deleting the kind cluster)
4. Redo step 1 and 2

**What did you expect to happen:**
The workload cluster should be created successfully without any errors

[2020-12-02 01:16] srm09 commented on #3973
For the above scenario, the `docker ps` command used by `listContainers` outputs:

[code]

And the error message from the logs is,
[code]

The container `fe83c3003c6ed4b34a696417a83ae17df711b95348324d2a16f7da61caaa74bd` is the container fore the control plane created for the workload cluster in step 2. Here is the same docker command with more fields to show the container ID and status of the cont

[2020-12-02 14:44] fabriziopandini commented on #3973
@srm09 how did you managed to get stopped CAPD containers?
AFAIK CAPD force remove all the containers when you delete machines

Also, I'm not sure if ignoring stopped containers in `listContainers` solves the issues, because this will lead to CAPD trying to create a new container but failing because another container with the same name exists.

[2020-12-02 15:26] fabriziopandini opened #3974 "Add MachineNodeHealthyCondition to Machine’s Ready condition"
**User Story**

As a user, I would like to get a summary of machine status by looking at the machine's ready condition

**Detailed Description**

https://github.com/kubernetes-sigs/cluster-api/pull/3670 & https://github.com/kubernetes-sigs/cluster-api/pull/3890 introduced the NodeHealthy conditions on machines, however
as per discussion https://github.com/kubernetes-sigs/cluster-api/pull/3670#disc

[2020-12-02 15:27] fabriziopandini commented on #3974
/milestone v0.4.0
/area machine

[2020-12-02 15:37] fabriziopandini opened #3975 "Add KCPConditions to control plane Machine’s Ready condition"
**User Story**

As a user, I would like to get a summary of the control plane machine status by looking at the machine's ready condition

**Detailed Description**

https://github.com/kubernetes-sigs/cluster-api/pull/3900 & https://github.com/kubernetes-sigs/cluster-api/pull/3922 introduced a set of KCP based conditions on machines, include this condition in the machine's ready condition because KC

[2020-12-02 15:37] fabriziopandini commented on #3975
/milestone v0.4.0
/area control-plane
/area machine

[2020-12-02 15:52] ncdc commented on #2478
Is this timeline accurate?
1. v1alpha2 did not set the bootstrap secret type / controllers don't inspect the secret type
1. v1alpha3 sets the bootstrap secret type (at least for CABPK) / controllers still don't inspect the secret type
1. v1alpha4 continues to set the bootstrap secret type (CABPK) / controllers ... ?

If so, I think we can proceed to update the infrastructure provider contract to o

[2020-12-02 16:01] detiber commented on #3975
Do we have to worry about this leading to circular dependencies here? Will there be a case where we can't do something in KCP until a Machine is Ready, but the Machine can't be Ready until KCP has performed some operations and can mark the appropriate conditions on the Machine allowing the Machine to become Ready?

[2020-12-02 16:06] vincepri commented on #2478
This is true for the bootstrap provider, but all the other secrets generated by Cluster API won't fall into that category. For example the kubeconfig secret, CA, etc

[2020-12-02 16:16] ncdc commented on #2478
Right, that's why I was asking about other secrets 😄.

I like @srm09's second suggestion, to find a non-destructive way to migrate the data. I am wondering if we should put this logic in the proper/respective controllers instead of in the management cluster operator, mainly because we can't guarantee that everyone who has existing CAPI clusters will be using the operator going forward. WDYT?

[2020-12-02 16:47] vbatts commented on #3761
@vincepri what is the approach needed to move this forward? (happy to help)

[2020-12-02 17:00] vincepri commented on #3761
We'll probably need to meet + have a conversation on what the actual deliverable we'd expect from this initiative is

@randomvariable might have some ideas, we might want to schedule a one off meeting to discuss it a bit

[2020-12-02 17:07] prankul88 commented on #3791
/assign

[2020-12-02 17:13] prankul88 commented on #3791
Hi, Can we remove the [existing kep](https://github.com/kubernetes/enhancements/blob/master/keps/sig-cluster-lifecycle/clusterapi/0003-cluster-api.md) in that folder and just have a Readme which redirects that to CAEP here.

Or else if we do keep the living document, should the major release iteration be updated [here](https://github.com/kubernetes/enhancements/blob/master/keps/sig-cluster-lifecyc

[2020-12-02 17:18] vbatts commented on #3761
like in today's community call?

[2020-12-02 17:35] neolit123 commented on #3791
my vote goes for this option.

[2020-12-02 17:49] randomvariable commented on #3761
Maybe, I think I'm zoom'd out today already though.

[2020-12-02 18:06] vbatts commented on #3761
@randomvariable that's fair

[2020-12-02 18:25] srm09 commented on #2478
We tried going down that route, of updating the **Type** field in the controllers itself. Tried to delete and recreate which failed due to RBAC permissions for the `kubeadm` service account. So, the other thing that comes to mind is:
For instance, lets consider a secret named `foo`
- Create a clone of the existing secret named `foo-new` with the **Type** field setup correctly
- Rename the secret `

[2020-12-02 18:31] vbatts commented on #3761
Discussed this a little in [today's CAPI call](https://docs.google.com/document/d/1fQNlqsDkvEggWFi51GVxOglL2P1Bvo2JhZlMhm2d-Co/edit#heading=h.lk3tj9wuimkk)

next steps here are best to be a working group, beginning with a gdoc based on KEP template. Based on goals and use-cases so we can have measurable success criteria.

Since this spans infrastructure providers, there is consideration here for c

[2020-12-02 18:53] detiber commented on #2478
@srm09 metadata.name is also immutable, so a renaming approach will suffer the same issues as delete/recreate

[2020-12-02 18:55] detiber commented on #2478
The safest bet will likely be to have a step that is performed prior to upgrading components to v1alpha4. This could be automated in the case someone is using the management cluster operator, or can be a manually performed step in the case they are using `clusterctl` or the clusterctl library

[2020-12-02 19:16] srm09 commented on #3974
IMO adding CNI to cluster sounds like a necessary step to make the cluster usable. And if we always want the cluster to have some CNI solution installed, then making sure that the Machine's **Ready** condition reflects that prerequisite only solidifies that contract.

[2020-12-02 19:25] srm09 commented on #2478
Yes, escalation of privileges does not make sense for this migration. @vincepri also had the same idea of adding it as a manual step for folks not using management cluster operator.
Plus, he also suggested that if/when the check by the controllers for secret types is implemented, we can put it under a feature flag for v1a4 before making it mandatory in v1a5. This would allow CAPI users some time t

[2020-12-02 20:12] srm09 commented on #3973
IIRC, I tried to delete the cluster but for some reason it did not. Hence I went ahead and deleted the kind cluster itself. I think that is why those containers might have been left behind.

[2020-12-02 20:18] srm09 commented on #3973
@benmoss pointed out this issue which is slightly related https://github.com/kubernetes-sigs/cluster-api/issues/3824

[2020-12-02 20:47] srm09 commented on #2478
I am gonna create a PR which just updates the current secret generation code under the `util` directory. And once we have consensus around the approach for pre-v1alpha4 secrets, I can make the necessary changes for that as well.

[2020-12-02 21:08] fabriziopandini commented on #3973
Thanks for the explanation; I agree we should define what is the behavior in case there is container in stopped state.
AFAIK kind nodes are not able to restart (to b verified, might be this info is outdated)

[2020-12-02 21:12] vincepri opened #3978 "KCP fails to proceed if controller loses leader election during deletion flow"
**What steps did you take and what happened:**
- Have a self-managed cluster using KCP
- Start rolling out a new KCP Machine spec (any rollout operation will do)
- KCP creates a new node, and tries to scale down the old one
- While scaling down an old node, KCP moves the leader to another Machine and removes the Machine from the etcd members
- KCP manager loses leader election and crashes before i

[2020-12-02 21:12] vincepri commented on #3978
/milestone v0.4.0

[2020-12-02 22:11] fabriziopandini commented on #3975
We just went into a major refactor in KCP for getting the conditions always reconciled as a first thing in KCP, so this should not be the case.

However, the challenge is how to make this generic given that control plane is pluggable.

[2020-12-03 00:03] srm09 commented on #3970
From the code reading I did, one change that I can see is:

This particular method uses the https://github.com/kubernetes-sigs/cluster-api/blob/master/third_party/kubernetes-drain/cordon.go#L89-L94 supplied `context`, but the corresponding code in the upstream `kubectl` codebase does not use the supplied context. I am unsure how big of a deal that is, but it is different from our current functiona

[2020-12-03 10:06] fabriziopandini opened #3982 "Explore alternatives to rate limited GitHub API for clusterctl"
**User Story**

As a user, I would like to use clusterctl without the risk of incurring in GitHub API rate limits.

**Detailed Description**

Clusterctl fetches artifacts from the provider's repository, and if the repository is hosted on GitHub this operation is subject to GitHub API rate limits.

https://github.com/kubernetes-sigs/cluster-api/issues/2450 already raised this problem, and https://g

[2020-12-03 10:06] fabriziopandini commented on #3982
/milestone v0.4.0

[2020-12-03 10:06] fabriziopandini commented on #3982
/help

[2020-12-03 11:28] fabriziopandini commented on #3822
I'm starting to work on this issue, with the goal to start clarifying impacts on clusterctl init and clusterctl upgrades
/assign
/lifecycle active

[2020-12-03 13:39] randomvariable commented on #3761
Count me in, and can help with the CAEP process, just got too many proposals in flight to lead.

[2020-12-03 14:26] richardcase opened #3983 "Support different bootstrap/control providers in the E2E test framework"
**User Story**

As a provider developer I would like to write e2e tests that use the CAPI E2E test framework for running e2e tests against a control plane and bootstrap provider that isn't kubeadm.

**Detailed Description**
There are various places in the CAPI E2E test framework where the bootstrap & control planes providers are hardcoded or assumed to be kubeadm. This means you can't use the test

[2020-12-03 14:29] #3978 closed

[2020-12-03 15:15] detiber commented on #3970
@srm09 indeed, it definitely complicates the re-alignment. I'm wondering if we also need an automated PR check that verifies that anything updated in `third_party` is done so as part of a sync from upstream vs local changes?

[2020-12-03 15:21] ncdc commented on #3970
As part of the upgrade to controller-runtime 0.7 (#3735), we modified the third party drain code to take in contexts. If we want to keep that modification, then I think we'll need to manually reconcile when updating our copy of the drain code.

Should we also submit PRs to k/k to update the drain code to take in contexts, assuming that's feasible? If we can do that, then we should be able to vendo

[2020-12-03 18:11] srm09 commented on #3970
I will open an issue in the k/k repo around this, and start a Slack thread about the same and see what folks have to say about that.

[2020-12-03 18:27] hh commented on #2083
/cc

[2020-12-03 18:44] srm09 commented on #3973
When you say option 1, you mean that if there exist multiple sets of containers, we should bubble the error up instead of trying to use the stopped containers, which is the current behavior.

[2020-12-03 19:46] vincepri commented on #3892
I'm going to open two different PRs for v0.4.0 and v0.3.12 given that there is lots of different separate changes (due to controller runtime versions)

[2020-12-03 19:59] detiber commented on #2083
I believe @shysank is currently looking into this
/assign @shysank
/lifecycle active
/remove-help

[2020-12-03 20:08] fabriziopandini commented on #3983
/area testing
/mileston v0.4.0

[2020-12-03 20:10] fabriziopandini commented on #3983
@richardcase happy to know you are planning to use the E2E test framework!
1) I'm +1 to change this for validating there is at least one bootstrap/controlplane provider
2) is already implemented in https://github.com/kubernetes-sigs/cluster-api/pull/3708

[2020-12-03 21:18] vincepri opened #3987 "Remove "fake.NewFakeClient is deprecated: Please use NewClientBuilder instead." exclusion from linter"
fake.NewFakeClient and fake.NewFakeClientWithScheme have been deprecated, we should remove the linter exclusion from `.golangci.yml` and fix all the issues using NewClientBuilder instead.

/help
/kind cleanup
/milestone v0.4.0

[2020-12-04 10:28] fabriziopandini commented on #3483
given that KCP remediation is merged, I'm +1 for closing this issue.
Opinions?

[2020-12-04 10:47] richardcase commented on #3983
Additionally:
* [ ] The [ApplyClusterTemplateAndWait](https://github.com/kubernetes-sigs/cluster-api/blob/2dd66d6e1559f47302c263cd75bd20265ce6403a/test/framework/clusterctl/clusterctl_helpers.go#L125) function assumes kubeadm

[2020-12-04 10:49] fabriziopandini commented on #3983
/help

[2020-12-04 10:55] fabriziopandini commented on #3973
Yes
Given the assumption that kind nodes are not able to restart, I think that blocking and surfacing an error is the safest thing vs trying to delete and recreate, which might be problematic for control plane nodes...

[2020-12-04 13:00] #3910 closed

[2020-12-04 13:49] fabriziopandini commented on #3042
Given that we are moving to a single manager watching all namespaces for each provider, I started to investigate possible cleanups/action items:
- [ ] Run webhooks as part of the main manager #3822
- [ ] Docs: document new definition of multi-tenancy (a single infrastructure provider supporting multiple credentials)
- [ ] Docs: remove existing notes about previous models of multitenancy
- [ ] inve

[2020-12-04 15:41] vincepri commented on #3982
I'd make use of Go module proxy + `raw.github` (wherever possible)

[2020-12-04 16:08] fabriziopandini opened #3991 "Remove the example provider"
As per https://github.com/kubernetes-sigs/cluster-api/pull/3985#discussion_r536192993, the example provider was required for some old e2e, but given that those have been removed we can now safely delete the example provider.

- [ ] remove `cmd/example-provider`
- [ ] remove `make docker-build-example-provider` target

/kind cleanup

[2020-12-04 16:08] fabriziopandini commented on #3991
/milestone v0.4.0

/help
/good-first-issue

[2020-12-04 16:14] #3813 closed

[2020-12-04 16:33] sheetalsingala commented on #3991
Can I give this a try?

[2020-12-04 16:34] vincepri commented on #3991
Go for it @sheetalsingala !

[2020-12-04 18:12] wfernandes opened #3993 "Makefile on main branch is referencing v1alpha3 API"
**What steps did you take and what happened:**
I noticed that in our Makefile on the main branch, we are referencing v1alpha3 API for generating the go objects.
Affected make commands are:
`make generate-go*`

https://github.com/kubernetes-sigs/cluster-api/blob/8437691189ad8de58168f6de1312e8ee56813a5b/Makefile#L227-L268

**What did you expect to happen:**
I expect them to be using the v1alpha4 API

[2020-12-04 18:13] wfernandes commented on #3993
/assign
If this does need to be fixed, I can submit a PR for it.

[2020-12-04 18:17] ncdc commented on #3993
This is for conversion-gen and IIRC is correct

[2020-12-04 18:19] wfernandes commented on #3993
Ahh..I see. So this is generating the conversion from v1alpha3 to v1alpha4. My bad.
/close

[2020-12-04 18:19] #3993 closed

[2020-12-04 21:07] CecileRobertMichon commented on #2826
@fabriziopandini @randomvariable I believe the last thing remaining here is allowing to build custom k8s versions in order to be able to use CAPI to test k8s PRs (something like https://github.com/kubernetes/test-infra/commit/9778b6a1462f27b869832241354249a8207e7004#diff-27a83c428d1eeb41626127495412ac1986b79e109606aacde96ac4c5b3f896a2R840). Not sure if CAPI framework is the best place to do this i

[2020-12-04 23:23] srm09 commented on #3970
Opened a draft PR against `kubectl` https://github.com/kubernetes/kubernetes/pull/97078

[2020-12-06 10:08] arghya88 commented on #3987
/assign
/lifecycle active

[2020-12-07 09:11] arghya88 commented on #3991
/assign @sheetalsingala
/lifecycle active

[2020-12-07 15:40] ncdc commented on #3026
I've picked this back up and had a chat with @vincepri and here's what we're thinking:

Add the previously-discussed ControlPlaneInitialized condition to Cluster. This replaces cluster.status.controlPlaneInitialized from v1alpha3. It is a write-once value, set to true whenever the control plane provider sets status.initialized (TBD if we convert that to a condition), or when at least one control p

[2020-12-07 16:40] fabriziopandini opened #3996 "Upgrade cert-manager to version 1.x"
Cert manager reach version 1.0, and as soon as we move to this version we can benefit from better stability of these tools and reducing impact/simplify considerations about cert-manager upgrades

/kind feature

[2020-12-07 16:40] fabriziopandini commented on #3996
/milestone v0.4.0

/area clusterctl

[2020-12-07 19:22] srm09 commented on #3973
/assign srm09

[2020-12-07 19:24] jzhoucliqr opened #3997 "MachineHealthCheck status targets keep changing"
**What steps did you take and what happened:**
MachineHealthCheck Status targets machines names are not in order, cause continuous reconciliation of MHC

[code]

then seconds later:
[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version: v0.3.11
- Minikube/KIND

[2020-12-07 20:24] vincepri commented on #3996
/area dependency
/priority important-soon

We should also check with Kubebuilder to see if they can upgrade as well

[2020-12-07 20:55] vincepri commented on #3997
/milestone v0.4.0

We should also backport, PR seems already in flight

[2020-12-07 21:30] CecileRobertMichon commented on #3880
@prankul88 any updates on this one?

[2020-12-08 18:24] ncdc commented on #3798
/assign
/lifecycle active

[2020-12-08 19:35] #3839 closed

[2020-12-08 19:44] srm09 commented on #2859
@fabriziopandini Have the PRs been forward ported into the `main` branch?

[2020-12-08 19:51] #2478 closed

[2020-12-08 19:54] ncdc commented on #493
/unassign

Looking for someone else to carry this forward

[2020-12-08 19:54] ncdc commented on #1840
/unassign

Looking for someone else to carry this forward

[2020-12-08 20:43] ncdc commented on #3692
I'm in favor of switching to conditions as soon as is reasonable.

Some questions:

1. What condition(s) would we create to replace these 2 strings?
1. How would we convert the data between v1alpha3 and v1alpha4?

[2020-12-08 20:45] wfernandes commented on #3515
@vincepri I think this can be done independent of the management cluster operator work. It might be better to just remove the embedded metadata from clusterctl. A little less code to port over to the operator once that work begins. WDYT?

[2020-12-08 20:55] Arvinderpal commented on #493
@ncdc I'm happy to take this one.
I can put together a design proposal to move this further along.

[2020-12-08 22:06] tcordeu commented on #3641
Can I work on this one, @arghya88 @fabriziopandini?

[2020-12-08 22:11] srm09 commented on #3692
@ncdc @vincepri and I had a [Slack thread](https://kubernetes.slack.com/archives/C8TSNPY4T/p1607458426121600) around it. Continuing the discussion here.

Creating a new condition, say `FailedCondition`, which would be added to the object in case of a failure. Any logic previously depending upon checking for failure message/reason in the status object will be moved to checking the presence of this

[2020-12-08 22:14] ncdc commented on #3692
Failure message & reason were explicitly designated as indications of a permanent failure from which there is no recovery (assuming you are using a MachineDeployment/Set and you have MachineHealthCheck enabled, this combination would yield the failed Machine being deleted and the MachineSet creating a replacement replica).

[2020-12-08 22:43] srm09 commented on #3692
I do not see a way around making the, so called, `Failed` condition immutable except for adding a check in the validation webhook and adding documentation around this condition. @fabriziopandini might have some more thoughts around this one.

[2020-12-08 23:36] CecileRobertMichon commented on #3244
/assign

[2020-12-08 23:42] CecileRobertMichon commented on #3424
/assign

[2020-12-09 07:15] prankul88 commented on #3880
@CecileRobertMichon I am working on some other issue for now. Unassigning myself if anyone else would like to work on it

[2020-12-09 12:01] MarcelMue opened #4004 "Enable running multiple versions of CAPI controllers in paralell"
**User Story**

As an operator I would like to be able to run multiple versions of CAPI controllers to limit the number of management clusters.

**Detailed Description**

The current guideline to change the version of CAPI controllers which reconcile a set of clusters is to move the CRs of the cluster to a new management cluster containing the desired version of CAPI controllers.

This process bec

[2020-12-09 12:42] fabriziopandini commented on #2826
@CecileRobertMichon IMO this problem has some variants because not only it is required to build custom k8s versions but it is required to get them the into the machine's images.
For CAPD, I'm leveraging on `kind build` to get a custom node image before starting all the tests (so I can keep the test phase consistent/working with limited resources).
For the other providers, @randomvariable implement

[2020-12-09 13:22] fabriziopandini commented on #2859
@srm09 just to avoid misunderstanding, which PR are you talking about, 3977

[2020-12-09 13:24] fabriziopandini commented on #2859
Going back to this issue, I think that we have reconcileEtcdMembers being called outside scale up/scale down this issue can be closed.
@srm09 @vincepri opinions?

[2020-12-09 14:05] fabriziopandini commented on #4004
I think this should be discussed in the CAPI meeting, given that previous discussions on the same topic lead to a different direction.

Wrt to the proposed label, I find a little bit confusing the idea of using a label for instructing each CAPI controller instance to reconcile different version of CRs because:
- in Kubernetes, there is only a single storage version for each CR (v1alpha3 for the v0

[2020-12-09 14:11] fabriziopandini commented on #3515
I agree this is a separate issue from the management cluster operator; ideally, we should get this implemented as soon as possible vs having this later in the cycle.
@wfernandes what about marking this issue as help/good first issue (according to the expected impacts, e.g. on tests)?

[2020-12-09 14:34] fabriziopandini commented on #3692
AFAIK failure msg/reason is used only in a few cases, and if we start by mapping those use cases probably this will make the discussion more concrete.

WRT to create new condition for terminal failures I'm a little bit hesitant for two reasons.
- Most probably those failures happen in the context of operation already monitored by other conditions. e.g. Failure messages can flow up from a clusterin

[2020-12-09 14:43] fabriziopandini commented on #3641
@tcordeu sure things!
/assign @tcordeu
/lifecycle active

[2020-12-09 15:11] fabriziopandini commented on #3163
/lifecycle frozen

[2020-12-09 15:24] yastij commented on #3692
I think we are using those in a few places in CAPV and CAPA

#3938 - is to actually use severity to convey such information, and let the machine healthcheck decide, based on the severity, if it should remediate the machine or not. I'm planning on opening the PR tomorrow to kickoff discussions around this

[2020-12-09 16:47] CecileRobertMichon commented on #2826
@fabriziopandini I would expect the solution of loading the artifacts on each machine to be the same. The only difference would be, instead of getting an existing CI version at `https://dl.k8s.io/ci/latest.txt` and using the already built image stored on gcr, we would need to build the image from source and load that onto the machines.

[2020-12-09 17:11] sedefsavas opened #4005 "Clean up "deprecated" variables/functions in v1alpha4"
I see several `deprecated` variables and functions in the master, v1alpha4 could be a good time to remove all deprecated variables/functions.

If they will be deleted, sooner is better as providers are also in the process of upgrading to v1alpha4.

/kind cleanup

[2020-12-09 17:55] vincepri commented on #4004
/milestone Next
/kind proposal

[2020-12-09 18:53] sedefsavas opened #4006 "Create a daily build and push images/manifests to the staging bucket"
**User Story**

As a developer/user/operator I would like to test the master branch by simply using the published manifests and images in the staging(?) bucket.

**Detailed Description**
Currently only images are being published to staging. A daily build can publish images and manifests to allow advanced users to be able to test manifests directly from staging for testing prior to release.

This i

[2020-12-09 19:16] shysank opened #4007 "Refactor kubeadm ConfigMap update during cluster upgrade"
**User Story**

Right now, we have a bunch of configurations that gets updated in kubeadm config map during cluster upgrade. There are 2 problems:
1. Repeated code
2. Etcd is updated for every config item

As part of this refactor, we may want to consolidate the logic to update a configuration into one method (in `kubeadm_config_map.go`), and instead of updating etcd each time, we'll just record t

[2020-12-09 19:25] vincepri commented on #3885
I don't think we actually want to backport this given the issues we discovered with spoke -> hub -> spoke?

[2020-12-09 19:26] ncdc commented on #3885
**If** we can fix the issues, backporting could be useful.

[2020-12-09 19:48] vincepri commented on #3885
We actually disabled that test for now, it needs a complete redesign

[2020-12-09 19:49] vincepri commented on #4005
/milestone v0.4.0

[2020-12-09 20:06] srm09 commented on #3692
The idea around creating a new Condition was that presence/absence of that particular condition across all CAPI objects will give an idea of the status of that object. It was more of providing a single way of figuring out the status of the CAPI objects, which can be used by providers and other API consumers.

[2020-12-09 20:19] srm09 commented on #4005
Seems like an ideal candidate for `good-first-issue`

[2020-12-09 20:20] srm09 commented on #4005
/good-first-issue

[2020-12-09 20:34] srm09 commented on #2859
Guess, the `reconcileEtcdMembers` does make sure that the list of machines is in sync with the actual CP nodes, so for the purpose of this issue, seems like the main concern should be taken care of.

[2020-12-10 05:38] wfernandes commented on #3515
/help
/good-first-issue

[2020-12-10 07:45] kkeshavamurthy commented on #4005
/assign

[2020-12-10 09:34] fabriziopandini commented on #2826
@CecileRobertMichon FYI in kubeadm we are using images from CI only, because we determined that having a small delay from them tip of Kubernetes is not a problem, especially given code freeze near release.
So I personally think CAPD - with its own build from source code - as an exception, not the rule we have to follow

[2020-12-10 09:41] fabriziopandini commented on #4006
/milestone v0.4.0

[2020-12-10 09:55] fabriziopandini commented on #2859
/close

[2020-12-10 09:55] #2859 closed

[2020-12-10 10:34] fabriziopandini commented on #3692
Might be I'm missing something but I'm still not grasping what will be the user experience with the new condition...

The baseline for my concerns is that now all the objects have a set of conditions, each one representing the status of a particular underlying bit of infrastructure/process, plus the ReadyCondition which already provides a single way of figuring out the status of the CAPI objects.

[2020-12-10 10:42] fabriziopandini commented on #4007
/milestone v0.4.0
/area control-plane
/help

[2020-12-10 13:30] #3997 closed

[2020-12-10 14:28] fabriziopandini commented on #3783
@vincepri can I give this a try?

[2020-12-10 14:47] fabriziopandini commented on #3119
I think this issue can be closed given https://github.com/kubernetes-sigs/cluster-api/issues/3042 the scenario with many instances of the same provider in a cluster is not out of scope.
If so, it is possible to remove the warning in clusterctl delete and in the clusterctl delete logs (revert https://github.com/kubernetes-sigs/cluster-api/pull/3246/files)

@wfernandes @vincepri opinions?

[2020-12-10 14:49] invidian commented on #2934
BTW, containers are still running as root. On cluster with PSPs enabled, I get the following errors while trying to do `clusterctl init`:
[code]

[2020-12-10 14:51] fabriziopandini commented on #3889
Quoting from the proposal the implementation plan

Alpha (1.20)
- All well-known places which contain sensitive data have been tagged.
- All external well-known types are handled by the GlobalDatapolicyMapping function.
- It is possible to turn on logs sanitization for all Kubernetes components including API Server, Scheduler, Controller manager and kubelet using --logging-sanitization flag.
Beta

[2020-12-10 14:58] fabriziopandini commented on #3944
milestone v0.4.0

[2020-12-10 14:59] fabriziopandini commented on #3944
/milestone v0.4.0

[2020-12-10 15:04] fabriziopandini commented on #3881
Summary of a recent discussion about this:
- the management cluster operator work is going to remove the need of variables for feature flags
- the work on multitenancy could potentially remove the need of variables for credentials (to be confirmed)
- at least in Azure, there is still the need for env vars for AZURE_ENVIRONMENT

[2020-12-10 15:04] fabriziopandini commented on #3881
/milestone v0.4.0

[2020-12-10 15:13] sedefsavas commented on #3944
Just thinking out loud: Instead of just documenting, one other way to do this is to have bot that creates a duplicate PR in the registered providers repos when a certain label is added to an issue.

[2020-12-10 15:14] fabriziopandini commented on #3781
xref https://github.com/kubernetes-sigs/cluster-api/issues/3996

[2020-12-10 15:20] sedefsavas commented on #3996
Is there a compatibility matrix for cert-manager to see if v1 cert-manager deployments support `cert-manager.io/v1alpha2` objects? Could not see any in the doc: https://cert-manager.io/docs/

Will the providers need to update their cert-manager resources too?

[2020-12-10 15:40] vincepri commented on #3881
/priority important-longterm
/area dependency

[2020-12-10 15:49] vincepri commented on #3996
I'd reach out first to the Kubebuilder folks by opening a new issue, they might be interested in this work as well. Let's also reach out to the cert-manager contributors, maybe they can give us some hints on how to proceed?

[2020-12-10 15:54] #3991 closed

[2020-12-10 17:23] wfernandes commented on #3119
I think this can be closed once we remove the support for `--watching-namespace` because once that's done then we won't be able to reproduce this issue.
And then as part of closing this issue, we should revert #3246.

[2020-12-10 20:22] srm09 commented on #3692
Just to give you some tiny background,
I had initially thought of using the `Ready` Condition as a candidate to use to populate the failure message/reason. But the Ready condition being false does not indicate that there has been any catastrophic failure/terminal error. A False Ready Condition could also mean that things are still going on, and eventually the object will be ready.
So IMO, Ready Co

[2020-12-10 21:06] fabriziopandini commented on #3996
https://github.com/kubernetes-sigs/kubebuilder/issues/1896
https://github.com/jetstack/cert-manager/issues/3506

The default upgrade procedure in cert-manager requires a kubectl plugin to be installed on the machine. I have asked help in the cert-manager repo for finding alternative solutions

[2020-12-10 21:10] meyskens commented on #3996
The kubectl approach is only for Kubernetes 1.15 and below. All newer versions van do a seamless upgrade thanks to conversion webhooks. I suppose you all deal with supported Kubernetes versions. We support back to 1.11 which causes this documentation to exist. You can also keep using the v1alpha2 API in your files for a long time as Kubernetes will convert it to v1 on writing

[2020-12-10 21:41] vincepri commented on #3996
Thank you @meyskens !

[2020-12-11 06:52] DheerajSShetty opened #4011 "Kubeconfig secrets created by CAPI v1alpha2 are not regenerated by KCP"
**What steps did you take and what happened:**
1. Create a cluster using v1alpha2 controllers and CRD.
2. Upgrade the controllers to CAPI 0.3.10 and CAPA 0.6.3
3. Make sure the kubeconfig has less than 6 months for the certs to expire.
4. Upgrade a v1alpha2 cluster. KCP adopts the control planes and then upgrades the cluster.
5. The kubeconfig certs were not regenerated.

**What did you expect to

[2020-12-11 10:37] fabriziopandini commented on #3996
It seems we are ok from the kubebuilder side as well https://github.com/kubernetes-sigs/kubebuilder/issues/1896#issuecomment-742950853
Thank you @camilamacedo86 as well!

[2020-12-11 11:02] fabriziopandini commented on #4011
/area control-plane
/priority critical-urgent
/milestone v0.4.0

The fix should be backported in v0.3.x as well

[2020-12-11 11:33] fabriziopandini commented on #4011
Problem triage + possible solution

In the cluster controller
- [reconcileKubeconfig](https://github.com/kubernetes-sigs/cluster-api/blob/e73e3d9021e5df61ea2861be6f73698a031a63c3/controllers/cluster_controller_phases.go#L261-L263) stops to manage a kubeconfig secrets as soon as there is control plane ref (and there is no renewal logic)
In KCP controller
- [adoptMachines](https://github.com/kuberne

[2020-12-11 12:34] Insullone opened #4012 "Cannot start capi-controller-manager"
I followed the instruction in https://cluster-api.sigs.k8s.io/developer/guide.html
the developer guide, with the option 2, the old-fashioned way. Everything is fine until I check the status of cluster:

NAMESPACE             NAME                                         READY   STATUS             RESTARTS   AGE
capi-system           capi-controller-manager-d56f68c59-xmk6x      1/2     CrashLoopBack

[2020-12-11 14:09] fabriziopandini commented on #4012
this is bacuse the doc is a little bit outdated and it doesn't' mention you should pass the generated manifest through envsubst

[code]

/remove-kind bug
/kind documentation

@Insullone do you want to send a fix for the doc?

[2020-12-11 14:10] fabriziopandini commented on #4012
/milestone v0.4.0

[2020-12-11 14:53] fabriziopandini commented on #3996
/assign
/lifecycle active

[2020-12-11 15:10] Insullone commented on #4012
Hi fabriziopandini,
Thanks for your reply. I tried
cat config/manager/manager.yaml | envsubst
but the line 24
- --feature-gates=MachinePool=${EXP_MACHINE_POOL:=false},ClusterResourceSet=${EXP_CLUSTER_RESOURCE_SET:=false}
is not changed. I think envsubst can replace variable like ${EXP_MACHINE_POOL} but cannot process expression like ${EXP_MACHINE_POOL:=false}. It's my pleasure to make a PR if we f

[2020-12-11 15:17] detiber opened #4014 "Cluster API should not use controller refs for resources that it does not create"
**What steps did you take and what happened:**

Attempting to create a Cluster using an external tool such as Crossplane causes issues with both CAPI and Crossplane wanting to have the singular controller reference for resources that are created from Crossplane.

We've used controller refs in the past to avoid the possibility of multiple Clusters owning the same resources, but siince this hampers

[2020-12-11 15:28] fabriziopandini opened #4015 "Use custom service accounts instead of default for controllers"
**User Story**

As an operator, I would like to use a dedicated service account for each CAPI controller (instead of default)

/kind feature

/priority important-soon
/milestone v0.4.0

[2020-12-11 15:37] ncdc commented on #4011
Maybe this was an accidental miss? We do have `adoptOwnedSecrets` in KCP, but that only adopts secrets owned by the KubeadmConfig (all the certs, IIRC).

My quick reaction is 👍 to having KCP adopt the kubeconfig secret if it exists and is currently owned by the Cluster.

[2020-12-11 16:20] hasheddan commented on #4014
@vincepri I can give some more insight here, and would also love to attend a community meeting to present some ideas / demos. CAPI and Crossplane can interact at two main levels:
1. CAPI could rely on Crossplane providers to supply the backing infrastructure for cloud providers as Kubernetes objects. Crossplane providers are similar to the CAPI infrastructure providers except they are more general

[2020-12-11 17:31] CecileRobertMichon commented on #4012
@Insullone what version of envsubst are you using? we use drone/envsubst in clusterctl. You can run `make envsubst` to get the correct binary, see https://cluster-api.sigs.k8s.io/developer/tilt.html?highlight=envsubst#prerequisites

[2020-12-11 17:53] JocelynBerrendonner commented on #2217
Hi everyone,

There has been additional discussions about this, and additional learnings for me since my last message.

In a nutshell:
- The Windows TCP/IP stack doesn't require names to be 15 characters long. Netbios requirements have been removed in Windows 2000. NETBIOS is mostly deprecated in the latest versions of Windows.
- Many components apps and components in Windows support long name, an

[2020-12-11 18:30] randomvariable commented on #2217
I've also been checking in and found that Active Directory [SAMAccountName](https://docs.microsoft.com/en-us/windows/win32/adschema/a-samaccountname) is restricted to 20 characters. It's not necessarily a blocker since SAMAccountName doesn't need to match the computer name, but it places constraints on uniqueness.

You're right that the hostname is a function of the provider, not CAPI.

[2020-12-11 18:44] CecileRobertMichon commented on #3692
FYI I found some uses of FailureMessage in the CAPI cluster-autoscaler provider, e.g. https://github.com/kubernetes/autoscaler/blob/06e5f6a0ed3c46d51347787d04712ea10d76d3b2/cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller.go#L456

cc @elmiko

[2020-12-11 19:06] CecileRobertMichon commented on #3881
@nader-ziada @devigned wdyt about moving `AZURE_ENVIRONMENT` to AzureCluster spec so it's no longer needed in the CAPI yaml? If subID/credentials are per cluster, there's no reason Azure Cloud shouldn't also be per cluster.

[2020-12-11 19:53] fabriziopandini commented on #4012
I know this is not ideal but you can do
[code]

[2020-12-12 00:49] jsturtevant opened #4016 "Using clusterctl generate yaml for Windows NamedPipes causes backslashes to be stripped"
**What steps did you take and what happened:**
Windows have named pipes which have the format `\\.\pipe\pipename`.  The [yaml processor for clusterctl](https://github.com/kubernetes-sigs/cluster-api/blob/6a7adda9ab47588c182c117aada1b084837ef03a/cmd/clusterctl/client/yamlprocessor/simple_processor.go#L98) uses the https://github.com/drone/envsubst library which is treating the `\\` as a [escape seq

[2020-12-14 15:15] michaelgugino opened #4020 "MHC: add new field 'atLeastDisruptions'"
**User Story**

As a user/operator I would like to set the allowed disruptions for MHC to a bracketed range to account for machineSets/Deployments that scale from just a few to many so I can set one sensible policy rather than adjusting the number continuously.

**Detailed Description**

If I set an MHC allowedDisruptions to say, 10%, and I have less than 10 nodes, I will get zero allowed disrupti

[2020-12-15 16:38] alokmaurya88 opened #4022 "Bulk scaling of worker nodes (e.g. 200 to 1000) overloads VC by spawning 100s of VM clone requests, and eventually fails to scale worker nodes."
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

- Deploy K8S cluster with 10 nodes
-  Scale worker nodes to 200
-  Scale cluster further from 200 to  1000 worker nodes at once
-  This leads to 100s of VM clone requests.
-  We see after some point (after scaling 300 + workers), it just keeps  of cloning VMs and deleting vms.
-  It fails

[2020-12-15 16:42] yastij commented on #4022
@vincepri @detiber - I think giving operators a bit more control over the pace of scaling would help decrease load on the providers

[2020-12-15 20:07] furkatgofurov7 commented on #3515
/assign
/lifecycle active

[2020-12-15 20:09] vincepri commented on #3885
/milestone v0.3.x

[2020-12-15 20:10] vincepri commented on #3913
/milestone v0.3.x

[2020-12-15 20:10] vincepri commented on #2976
Closing as the related PRs have been merged

/close

[2020-12-15 20:11] #2976 closed

[2020-12-15 20:16] #4012 closed

[2020-12-15 20:36] #3832 closed

[2020-12-15 20:36] #3244 closed

[2020-12-15 20:48] #3417 closed

[2020-12-15 20:48] #3540 closed

[2020-12-15 20:49] vincepri commented on #4015
/help

[2020-12-15 20:55] vincepri commented on #3692
Just re-read the whole conversation above, what if we keep Conditions for to describe the current state of the resource _until there is a terminal failure_. As in, Conditions should be treated as fully mutable and they're never a terminal state, while we keep the current fields (or something similar, a struct maybe) to determine a terminal state?

By having it in a field, we could add a requiremen

[2020-12-15 21:01] vincepri commented on #4022
We possibly can provide some options, although we should treat the scaling up/down operation as one that needs to be re-entrant (like everything else). For example, we should be able to gather information about the state of scaling before proceeding with a new "batch".

We should be able to do this pretty cleanly if we define some rules and policies, and figure out what knobs we'd want to expose

[2020-12-15 21:24] vincepri commented on #4020
cc @detiber @CecileRobertMichon

/milestone Next

[2020-12-15 21:25] vincepri commented on #3944
That'd be really nice

[2020-12-15 23:38] jay-rob commented on #4015
Looking through this request, do you intend to run each controller independently? Typically all of the controller running with the same `manager` share a kube `client` which was initialized with the service account injected into the pod.

[2020-12-16 03:24] #3987 closed

[2020-12-16 05:24] maximsnezhkov opened #4024 "Wrong etcd listen-metrics-urls customization for second and further controlPlane nodes"
**What steps did you take and what happened:**
I use local managment cluster based on minukube. Trying to customize `listen-metrics-urls` for etcd with following kcp config
[code]
The problem is that `ds.meta_data.local_ipv4` is expanded the same for second and further nodes. And has the ip address of the first node.

first node:
[code]
second node:
[code]

**What did you expect to happen:**
I exp

[2020-12-16 05:29] maximsnezhkov commented on #4024
The same way wrong customization for liveness/startup probe for second node.
`10.10.10.2` instead of `10.10.10.3`:

[code]

[2020-12-16 11:04] fabriziopandini commented on #4015
@jay-rob in CAPI we are deploying 4 separated controllers/binaries/images, each one 1 one with a controller-runtime manager & n reconcile loops, namely CAPI, CABPK, KCP, CAPD; IMO each one of them needs its own service account.

[2020-12-16 11:10] fabriziopandini commented on #4024
@maximsnezhkov, question for my better understanding, "http://{{ ds.meta_data.local_ipv4 }}:2381" seems using a templating solution. What is the component responsible for resolving such template variables in your pipeline?

[2020-12-16 11:11] fabriziopandini commented on #4024
/area control-plane
/milestone v0.4.0

[2020-12-16 11:19] fabriziopandini commented on #4016
@wfernandes is this a clusterctl issue or an issue in the envsubst library we are importing?

[2020-12-16 12:24] yastij commented on #3692
@vincepri - from a UX perspective, it's pretty implicit that the current fields are for terminal failures,  having everything under conditions would ease things debugging, it would also simplify MHC to only deal with conditions in v1a4

[2020-12-16 13:15] fabriziopandini opened #4026 "Document removal of kube-dns support in kubeadm"
Kubeadm is going to drop support for kube-dns in version 1.21 (xref https://github.com/kubernetes/kubeadm/issues/1943).

This should not be a problem for CABPK/KCP users, given that almost all of them should be using CoreDNS, however, we should consider if/how to issue a note to our user in case someone is still using kube-dns by twicking KubeadmConfig.Cluster configuration.

/kind feature

[2020-12-16 13:16] fabriziopandini commented on #4026
/remove-kind feature
/kind documentation
/area bootstrap
/area control-plane

/milestone v0.4.0

[2020-12-16 13:25] fabriziopandini commented on #3885
/milestone v0.3.13

[2020-12-16 14:33] Insullone opened #4027 "Can't have 3 master nodes when following 'Quick Start' in book"
I followed the instruction in https://cluster-api.sigs.k8s.io/user/quick-start.html with `docker infrastructure provider`, at the end, I saw 1 master node and 3 worker nodes ready, but I should see 3 master nodes instead.

When I run 'kubectl describe kubeadmcontrolplane capi-quickstart-control-plane', I saw a warning in the end:

Events:
  Type     Reason                 Age                    Fr

[2020-12-16 14:57] fabriziopandini commented on #4027
is it possible to have a copy of your KubeadmControlPlane object, and possibly a link to take a look at some logs (KCP, CAPI, CAPD)?

[2020-12-16 15:08] maximsnezhkov commented on #4024
@fabriziopandini `{{ ds.meta_data.local_ipv4 }}` is a variable from instance cloud-init's facts. I don't know the way how but kubeadm controlPlane provider using it. As an example look at https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/book/src/tasks/kubeadm-bootstrap.md and `clusterctl config` offers the same kind of variables for me
[code]

[2020-12-16 15:10] tcordeu commented on #3640
@fabriziopandini can I work on this issue?

/remove-lifecycle stale

[2020-12-16 15:17] fabriziopandini commented on #3640
@tcordeu Sure!
/assign @tcordeu
/lifecycle active

[2020-12-16 15:32] fabriziopandini commented on #4024
Ahh, you are right!
So, the problem here is that you are setting this value in ClusterConfiguration, and cluster configuration is generate only on the first control plane node, so it gets templated only one time.

The underlying problem is that kubeadm currently doesn't support node-specific configurations for control plane components (and etcd) via its own configuration API. Also, currently in CA

[2020-12-16 21:48] wfernandes commented on #4016
Hmm...yeah I believe it does have to do with the envsubst library we are using.

If I do `cat kube-proxy.yml | ./hack/tools/bin/envsubst` I can see that the escape sequence is evaluated.
But if I used the `envsubst` (`/usr/local/opt/gettext/bin/envsubst`) on my mac, it doesn't evaluate the escape sequence.

Well..this is unfortunate!

After looking at the parse_test.go and seeing the examples, I t

[2020-12-16 21:55] wfernandes commented on #4016
Maybe we can open an issue on drone/envsubst and discuss a good course of action from there.
@jsturtevant WDYT?

[2020-12-16 22:53] jsturtevant commented on #4016
I opened a PR demonstrating it as well: https://github.com/drone/envsubst/issues/27

I think it should only be escaped inside the replacement but wasn't sure.

[2020-12-17 17:47] #3641 closed

[2020-12-17 17:49] vincepri commented on #4011
@fabriziopandini @wfernandes @sedefsavas Any of you can take this + backport?

[2020-12-17 17:52] fabriziopandini commented on #4011
If no one gets on this before, I can give it a try tomorrow

[2020-12-17 18:13] vincepri commented on #4022
Do you have more information / logs about what's happening under the hood when the above happens?

[2020-12-17 22:04] wfernandes opened #4028 "Possible flaky MachineHealthCheck Test"
**What steps did you take and what happened:**
As I was reviewing PRs, I came across some test failures where I had to kick off the test-main job after which it passed.

See the prow job below.
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api/3752/pull-cluster-api-test-main/1339633406769631232

**What did you expect to happen:**
Expected it to pass.

**Anythi

[2020-12-17 22:32] wfernandes opened #4029 "Possible KCP remediation flaky test"
**What steps did you take and what happened:**
Saw another test fail and then pass....but not sure why...

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api/4017/pull-cluster-api-test-main/1339407771233161216#1:build-log.txt%3A4056

**What did you expect to happen:**
Test to pass

**Anything else you would like to add:**
After looking into it a little bit, I'm

[2020-12-18 01:47] jay-rob commented on #4015
I suspect that each of the providers may want to do a similar modification to their base manifests

[2020-12-18 02:02] maximsnezhkov commented on #4024
Thanks for quick explanation!
I will use one of the possible workarounds. Do we need to keep this issue open?

[2020-12-18 08:40] fabriziopandini commented on #4024
/close

feel free to re-open if you need more help

[2020-12-18 08:40] #4024 closed

[2020-12-18 08:54] fabriziopandini commented on #4024
Added https://github.com/kubernetes/kubeadm/issues/2367 to kick off the discussion on the kubeadm side

[2020-12-18 08:55] fabriziopandini commented on #4015
@jay-rob yes, we are documenting such types of changes for v1alpha4 in https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/book/src/developer/providers/v1alpha3-to-v1alpha4.md

[2020-12-18 09:01] fabriziopandini commented on #4028
@wfernandes we recently merged https://github.com/kubernetes-sigs/cluster-api/pull/3999 (backport https://github.com/kubernetes-sigs/cluster-api/pull/3998) for this very same problem, but +1 to check this again if you find new eveidences

[2020-12-18 09:18] fabriziopandini commented on #4011
/assign
/lifecycle active

[2020-12-18 12:40] yastij opened #4031 "Represent Failure domains availability and spread KCP accordingly"
**User Story**

As an operator I would like to see if an AZ is down and have KCP ignore those

**Detailed Description**

Currently failure domains are assumed to be always available, or during an outage/issues with an AZ a KCP machine would still be created there. the short-term solution is to remove the AZ from the status, but this might be confusing as someone would see an AZ missing from the li

[2020-12-18 12:50] yastij opened #4032 "MHC should ignore paused machines"
**What steps did you take and what happened:**

Currently, MHC ignores paused MHCs/Clusters but not paused machines, this leads to machines being deleted when the pause annotation is removed, which isn't the desired intent.

@fabriziopandini also proposed introducing an MHC-specific annotation to only skip remediation while still keeping objects being reconciled.

cc @CecileRobertMichon @vincepri

[2020-12-18 13:22] fabriziopandini commented on #4032
/milestone v0.4.0
IMO this is a candidate for backporting as well; this is another reason I'm+1 for having a separate annotation to add when the intent is to have MHC temporarily skip remediation on a machine.

[2020-12-18 13:25] fabriziopandini commented on #4031
/area control-plane
/milestone v0.4.0

[2020-12-18 14:30] Insullone commented on #4027
I put some logs below:
----------------------------------------------------------------------------
kubectl get KubeadmControlPlane
NAME                            INITIALIZED   API SERVER AVAILABLE   VERSION   REPLICAS   READY   UPDATED   UNAVAILABLE
capi-quickstart-control-plane   true          true                   v1.18.2   1          1       1

-----------------------------------------------

[2020-12-18 14:31] Insullone commented on #4027
@fabriziopandini I pasted some logs above

[2020-12-18 17:31] randomvariable opened #4035 "Generic clusterctl credential management workflow"
Holding issue for more commentary in 2021 :)

**User Story**

The credentials I need for the initial creation of a Cluster API management cluster isn't the same as the one the management cluster needs when it becomes self-managed.

**Detailed Description**

Discussion in https://docs.google.com/document/d/1a1G0xtZYUmLdTKmGCNbt2V7_90N-qsFEeilplE16Zo0/edit#heading=h.oskd5jj19v2m

[A clear and concis

[2020-12-18 19:02] wfernandes commented on #4028
@fabriziopandini Yeah...it definitely seems like #3999 should've fixed it and it was merged 8 days ago! The prow job failure happened a day ago so I'm not sure what's up with that. I'll try running the test locally to see if it still pops up and if I can't get it to reproduce then I'll close this issue.

[2020-12-18 20:04] fabriziopandini commented on #4027
kubectl get KubeadmControlPlane
NAME INITIALIZED API SERVER AVAILABLE VERSION REPLICAS READY UPDATED UNAVAILABLE
capi-quickstart-control-plane true true v1.18.2 1 1

Seems that you are requesting one replica...

[2020-12-18 23:43] wfernandes commented on #4028
I think I figured it out.

I reran the test for this PR #3752 and got the same result again.
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api/3752/pull-cluster-api-test-main/1340044962326122496

Then I realized that the PR is editing `machinehealthcheck_controller.go` and `machinehealthcheck_controller_test.go` so I'm guessing the rebase with the main branch

[2020-12-18 23:43] #4028 closed

[2020-12-20 05:16] brightzheng100 commented on #4027
Same issue here: I could see only two docker containers newly created for the workload cluster which means that there was only one master node:

[code]

The weird thing was, after untainting the only master node, the workload cluster was functioning perfectly well. For example, I could access it and deploy workloads there.

But when checking the workload cluster, it's not yet ready and I could see

[2020-12-21 15:48] bgoareguer opened #4037 "Quick start guide does not work from behind an HTTP proxy"
I followed the instruction in https://cluster-api.sigs.k8s.io/user/quick-start.html with docker infrastructure provider from behind an HTTP proxy.

As expected the workload cluster's control plane is `Initialized` and not `Ready`.
[code]

But when I try to install the calico CNI, the calico-node pods do not start, they are stuck while pulling the images:
[code]

For each of these pods, I see error

[2020-12-24 08:01] superbrothers commented on #2770
Our machine takes a long time to set up,so kubeadm bootstrap token expires.

[code]

We will work to reduce the time it takes to set up our machine, but we want TTL to be configurable.

[2020-12-24 15:04] superbrothers commented on #2770
TIL: kubeadm bootstrap token TTL has already been configurable.

[code]

- https://github.com/kubernetes-sigs/cluster-api/blob/v0.3.12/bootstrap/kubeadm/main.go#L103-L104

Therefore, the value of `DefaultTokenTTL` in `bootstrap/kubeadm/controllers/token.go` has no effect. I was confused about changing `DefaultTokenTTL` (It looks like a constant variable) with an argument in `bootstrap/kubeadm/main

[2020-12-24 16:29] eratnch commented on #3485
/close

[2020-12-24 16:29] #3485 closed

[2020-12-26 17:06] tcordeu commented on #3878
@fabriziopandini Going to work on this issue, feel free to unassign me if someone is working on it!

/assign @tcordeu
/lifecycle active

[2020-12-26 17:07] tcordeu commented on #3656
@fabriziopandini Going to work on this issue, feel free to unassign me if someone is working on it!

/assign @tcordeu
/lifecycle active

[2020-12-29 00:55] willemm commented on #1227
I think you can address both ways by using (infrastructure/bootstrap)templates, but by asking the provider devs to install a default template along with their provider installation.  So, for example, the AWS provider would add a 'AWSMachineTemplateWithSensibleDefaults.yaml' in their manifest.

That way, you can still get a cluster running with just the two resource definitions (i.e. optimized for

[2020-12-30 09:26] fabriziopandini commented on #2993
/remove-lifecycle stale

[2020-12-30 09:26] fabriziopandini commented on #3716
/remove-lifecycle stale

[2020-12-30 09:26] fabriziopandini commented on #1227
/lifecycle frozen

[2020-12-30 09:27] fabriziopandini commented on #3380
/remove-lifecycle stale

[2020-12-30 09:27] fabriziopandini commented on #3274
/remove-lifecycle stale

[2020-12-30 09:29] fabriziopandini commented on #3698
/lifecycle frozen

[2020-12-30 09:30] fabriziopandini commented on #3680
/lifecycle frozen

[2020-12-30 09:30] fabriziopandini commented on #3700
/lifecycle frozen

[2020-12-30 09:31] fabriziopandini commented on #3695
/remove-lifecycle stale

[2020-12-30 09:33] fabriziopandini commented on #3441
/remove-lifecycle stale

[2020-12-30 09:34] fabriziopandini commented on #2218
/lifecycle frozen

[2020-12-30 18:16] mboersma opened #4039 "`clusterctl delete --all --include-namespace` skips capi-webhook-system namespace"
**What steps did you take and what happened:**

- Install a CAPI cluster with `clusterctl init --infrastructure azure` (or another provider)
- Delete that CAPI cluster with `clusterctl delete --all --include-crds --include-namespaces`
- Note that the `capi-webhook-system` namespace remains intact
- (So does `cert-manager`, but I assume that's intentional since CAPI may not "own" it)

**What did yo

[2021-01-04 06:44] vincepri commented on #3534
/lifecycle frozen

[2021-01-04 06:45] vincepri commented on #3483
/close

[2021-01-04 06:45] #3483 closed

[2021-01-04 06:46] vincepri commented on #3732
/lifecycle frozen

[2021-01-04 06:47] vincepri commented on #4039
/assign @wfernandes

[2021-01-04 06:48] vincepri commented on #3457
/lifecycle frozen

[2021-01-04 06:49] vincepri commented on #3203
Any updates or actions items here?

[2021-01-04 06:49] vincepri commented on #3095
/lifecycle frozen

[2021-01-04 06:49] vincepri commented on #3656
Thank you @tcordeu !

[2021-01-04 12:38] fabriziopandini commented on #4039
I'm +1 to close this given that we are going to drop the capi-webhook-system while implementing the changes for https://github.com/kubernetes-sigs/cluster-api/issues/3042

[2021-01-04 12:42] fabriziopandini commented on #3465
/remove-lifecycle stale

[2021-01-04 12:42] fabriziopandini commented on #3694
/remove-lifecycle stale

[2021-01-04 12:42] fabriziopandini commented on #3728
/remove-lifecycle stale

[2021-01-04 12:43] fabriziopandini commented on #3331
/lifecycle frozen

[2021-01-04 12:46] fabriziopandini commented on #4035
@wfernandes ^^ given this could be relevant to the management cluster operator work

/milestone v0.4.0
/area clusterctl
/priority important-soon

[2021-01-04 12:56] fabriziopandini commented on #4037
/milestone v0.4.0
/area provider/docker
/priority backlog
/help

This could be addressed via documentation or with an implementaiton on the docker provider making it picking up proxy env variables from the host similarly to what kind is doing https://kind.sigs.k8s.io/docs/user/quick-start/#configure-kind-to-use-a-proxy

[2021-01-04 12:58] fabriziopandini commented on #3106
/unassing
/lifecycle frozen

[2021-01-04 13:00] fabriziopandini commented on #3085
@casibbald is this still a problem or we can close the issue?

[2021-01-04 13:15] tcordeu commented on #4037
@fabriziopandini, maybe I am missing something but [here](https://github.com/kubernetes-sigs/cluster-api/blob/dadd7bd6233edb1e422e7af282e923abff52f830/test/infrastructure/docker/docker/kind_manager.go#L130) we are passing the `HTTP_PROXY` variable (defined [here](https://github.com/kubernetes-sigs/cluster-api/blob/dadd7bd6233edb1e422e7af282e923abff52f830/test/infrastructure/docker/docker/kind_mana

[2021-01-04 13:16] casibbald commented on #3085
I came up with a very ugly workaround however it would be good to have it
from the clusterctl binary tool.

On Mon, 4 Jan 2021 at 15:00, Fabrizio Pandini <notifications@github.com>
wrote:

[2021-01-04 13:22] fabriziopandini commented on #4037
@tcordeu you are right, I was not aware of this being already implemented in CAPD.
So then we should go back @bgoareguer and try to investigate why env variables were not passed to the capi-quickstart-control-plane-d2mvr container

[2021-01-04 13:23] fabriziopandini commented on #3085
/remove-lifecycle rotten
/remove priority/awaiting-more-evidence
/area clusterctl

[2021-01-04 13:33] bgoareguer commented on #4037
In fact, it seems that the node does have the proxy env variables:
[code]

but the capd-controller-manager deployment does not:
[code]

So, to me, the problem is that the CAPD manifest [infrastructure-components-development.yaml](https://github.com/kubernetes-sigs/cluster-api/releases/download/v0.3.12/infrastructure-components-development.yaml) does not let us specify environment variables for the

[2021-01-04 14:31] randomvariable opened #4040 "Build Kubetest2 Deployer for testing across Kubernetes projects"
**Detailed Description**

Building a kubetest2 deployer for Cluster API opens up the possibility of using Cluster API across other Kubernetes projects.

Starter projects that we intend to use kubetest2 for are:

* cloud-provider-aws
* cluster-autoscaler

**Anything else you would like to add:**
Follow up to https://github.com/kubernetes-sigs/kubetest2/issues/48
and https://github.com/kubernetes-si

[2021-01-04 15:59] vincepri commented on #4040
/milestone v0.4.0
/priority important-longterm
/area testing

[2021-01-04 16:00] vincepri commented on #3085
Could we potentially leverage the management cluster operator to allow something like this? @wfernandes

[2021-01-04 16:28] CecileRobertMichon commented on #4040
@randomvariable should this issue supersede https://github.com/kubernetes-sigs/cluster-api/issues/2826?

[2021-01-04 16:37] vincepri commented on #4040
2826 has a bit more information, let's keep that one open instead?

[2021-01-04 16:50] vincepri commented on #2770
The token should also be renewed if the Machine's Infrastructure doesn't transition to `Ready` state

[2021-01-04 16:54] vincepri commented on #3692
As long as we have some default validation that won't allow further modifications to a specific condition, I'm +1 with it. This makes sure that once an object has transitioned to a failure state (which is terminal), there is no way back to a non-terminal state and the object has to be deleted or recreated.

For any other non-terminal failure, a different condition should be used.

Something I was

[2021-01-04 16:56] vincepri commented on #4031
We'd have to add a field like `Available` or `Usable` (or anything similar) to achieve this, although that would be a breaking change from today given that all failure domains in a list are usually considered available.

What's the downside to removing a failure domain from the list, if it cannot be used (even temporarily)?

[2021-01-04 16:57] vincepri commented on #4032
+1 to respect the paused annotation, and let's definitely backport to v0.3.x as well

[2021-01-04 16:57] vincepri commented on #3885
/milestone v0.3.x

Let's use `x` milestone going forward, to avoid dealing with too many specific milestones

[2021-01-04 16:59] yastij commented on #4032
/assign

[2021-01-04 17:27] randomvariable commented on #4040
Ah, i thought there was an issue, but my github search failed me.

/close

[2021-01-04 17:27] #4040 closed

[2021-01-04 17:34] JTarasovic commented on #3203
I think the `clusterctl rollout` issue linked above is a good first approximation but I agree w/ @detiber's comment there:

as that should allow folks to build controllers on top of it.

I'm cool with closing this issue in favor of that.

[2021-01-04 17:39] vincepri commented on #2934
@invidian That seems something we should fix, could you open a different issue?

[2021-01-04 17:40] vincepri commented on #3889
/milestone Next

[2021-01-04 17:53] vincepri commented on #4029
/milestone v0.4.0

/priority critical-urgent

[2021-01-04 17:59] vincepri commented on #3424
Yeah better to do this now, rather than later. We need to document the transition. There isn't any good way to do this without breaking user in one way or another; we could have a controller that looks for the old resources and recreates them, although that might cause delete/create behaviors regardless

[2021-01-04 19:47] fabriziopandini commented on #3664
/close
We are going to open more detailed issues according to https://github.com/kubernetes-sigs/cluster-api/issues/3693#issuecomment-730375355

[2021-01-04 19:47] #3664 closed

[2021-01-04 20:19] srm09 commented on #4007
/assign

[2021-01-04 20:32] vincepri commented on #4007
/priority important-longterm

[2021-01-04 20:34] srm09 opened #4043 "Add E2E test to verify workload cluster upgrades"
**User Story**

As a developer, I would like to run an E2E test to verify upgrading CAPI workload cluster between 2 supported versions.

**Detailed Description**

- A new prow job should be run periodically which runs the entire upgrade matrix for workload clusters.
- As for the actual test, we carry out the following steps
    - Create a workload cluster with version, say v.1.17
    - Upgrade the

[2021-01-04 20:36] srm09 commented on #4043
/assign
Waiting for the PRs #3916 and #4042 to get merged.
cc: @fabriziopandini

[2021-01-04 20:39] vincepri commented on #4043
Any reason we've picked these two specific Kubenretes versions?

[2021-01-04 20:39] vincepri commented on #4043
/milestone v0.4.0

[2021-01-04 21:12] detiber commented on #4043
+1, While I think it makes sense to have *something* as the defaults, I would like to see something that is more easily configured at runtime that would allow for automating prow jobs more easily.

[2021-01-04 21:32] detiber commented on #3424
We could leverage `clusterctl` to provide a custom migration step to re-write the resources safely rather than a controller, especially since it should be short lived.

Longer term, we could also potentially leverage the management cluster operator (?? can't remember what naming was decided upon) to perform these types of actions.

I do think it would be good to make sure that we are publishing th

[2021-01-04 21:40] srm09 commented on #4043
The idea was to start with a single job which tests one of the upgrade paths mentioned in the https://github.com/kubernetes-sigs/cluster-api/issues/3693#issuecomment-730375355. Once that gets done, we raise new issues for all the other upgrade tests required and ask some help from the community to finish those off.

That is the end goal, to keep the test/job configurable enough to introduce more u

[2021-01-04 21:48] CecileRobertMichon commented on #3424
IMO, a reconciler to migrate the CRDs is a bit overkill for an exp/ feature in an alpha API. We would be introducing more complexity and more code to maintain. I'm leaning towards ripping off the band-aid now and avoiding making the same mistake in the future with other exp APIs.

That seems like a reasonable compromise to me, especially if any users speak up and tell us they would suffer from a b

[2021-01-04 21:56] #3892 closed

[2021-01-04 21:56] #4011 closed

[2021-01-04 22:11] #2585 closed

[2021-01-04 22:31] shysank commented on #3973
/assign

[2021-01-04 23:26] CecileRobertMichon opened #4044 "Annotate nodes with the cluster name"
**User Story**

As a user, I would like to know which CAPI cluster a node is part of by doing a quick inspection of its metadata (eg. `kubectl describe node`).

As a user, I would like to know if a k8s cluster was built using Cluster API.

**Detailed Description**

Add a `"cluster.x-k8s.io/cluster-name"` annotation on every node part of the cluster. This can be done in the machine and machine pool

[2021-01-04 23:43] wfernandes commented on #4035
@fabriziopandini Yup. This was created and is linked in the comments on the CAEP.
Reference https://github.com/kubernetes-sigs/cluster-api/pull/3833/files#r540576353

[2021-01-04 23:45] wfernandes commented on #4039
+1 to close this as well 🙂

[2021-01-04 23:57] vincepri commented on #4044
/milestone v0.4.0

[2021-01-05 09:26] fmuyassarov commented on #4044
Hi @CecileRobertMichon ,
Are you planning to work on this feature? If not, can I work on this as a good first issue?

[2021-01-05 09:37] invidian opened #4046 "Containers still run as root due to non-numeric user in Docker image"
**What steps did you take and what happened:**

Deploying CAPI using `clusterctl init` on cluster with the following PSP:
[code]

Which enforces containers to run as non-root user still makes CAPI containers to not converge. This is despite having user defined in Dockerfile: https://github.com/kubernetes-sigs/cluster-api/blob/995597dc195324c5cd3ab95750f9eb9e8beda6c2/Dockerfile#L59

Events observed

[2021-01-05 09:37] invidian commented on #2934
@vincepri sure. Reported here: https://github.com/kubernetes-sigs/cluster-api/issues/4046

[2021-01-05 09:46] fabriziopandini opened #4047 "Backport KubeadmControlPlane should adopt v1alpha2 kubeconfig secrets to release 0.3"
**User Story**

https://github.com/kubernetes-sigs/cluster-api/pull/4034 introduced a fix for ensuring kubeconfig secrets created by v1alpha2 controllers are adopted by KCP, thus allowing periodic kubeconfig secret re-generation preventing the expiration of the embedded client certificate.

This fix should be backported in the release 0.3 branch; Nb. small changes are required due to differences i

[2021-01-05 09:47] fabriziopandini commented on #4047
/priority important-soon
/area control-plane
/milestone v0.3.x

[2021-01-05 14:06] fabriziopandini commented on #4039
/close

[2021-01-05 14:07] #4039 closed

[2021-01-05 14:13] fabriziopandini commented on #4044
I'm wondering if the cluster name is enough to identify the Cluster API abstraction controlling this node.
Is cluster-name enough or do we need namespace, and potentially a management Cluster-ID?
Also, should we track also the name of the machine managing this node?
Is it useful to track hihgher level abstraction managing the node (MachineDeployment, MachinePool, control plane object)?

[2021-01-05 14:29] fabriziopandini commented on #4043
As a reminder, upgrade in this context should include upgrading the control plane and the workers (including machines controlled by MachineDeployments and machines controlled by MachinePools)

[2021-01-05 16:13] CecileRobertMichon commented on #4044
@fmuyassarov I already have the change done locally, I open a PR today. I can help you find another good first issue though if you're interested.

@fabriziopandini the cluster name wouldn't give info about the machine controlling it, just the cluster it belongs to. I can add one for the machine / machine pool abstraction though, that should be pretty easy.

[2021-01-05 16:30] wfernandes commented on #3042
@fabriziopandini I can start creating individual stories for the tasks here and we can start adding in more details if needed.

[2021-01-05 16:35] vincepri commented on #4044
We should probably add both namespace + name

@CecileRobertMichon Please take a look at this proposal as well https://github.com/kubernetes/enhancements/pull/2150 — It's a bit fuzzy on details and seems to be solving a different set of problems, but we should provide feedback there to align with the broader community.

I do like the idea that for now we can just annotate/label nodes instead of rel

[2021-01-05 16:56] vincepri commented on #4046
@shysank Do you have some time to look into this?

/milestone v0.4.0
/priority important-soon

We should also potentially backport if there is a fix, wdyt @CecileRobertMichon?

[2021-01-05 16:56] vincepri commented on #3427
/lifecycle frozen

[2021-01-05 16:57] vincepri commented on #4047
/assign @srm09

[2021-01-05 17:02] CecileRobertMichon commented on #4046
Yes, let's first merge the fix in the main branch and, if it's non-breaking (I don't expect it would be), then we can consider a backport.

[2021-01-05 18:13] furkatgofurov7 commented on #3457
Hi @pulkitmehra! If you are not working on this, I can take this up.

/cc @vincepri

[2021-01-05 19:46] shysank commented on #4046
/assign

[2021-01-05 20:34] pulkitmehra commented on #3457
Sure- sorry for not completing this task.

[2021-01-05 20:35] vincepri commented on #3762
/lifecycle frozen

[2021-01-05 21:19] furkatgofurov7 commented on #3457
/assign
/lifecycle active

[2021-01-05 21:28] detiber commented on #2993
/lifecycle frozen

[2021-01-05 21:54] vincepri commented on #2993
/assign @nader-ziada

[2021-01-06 01:16] shysank commented on #4046
@vincepri The errors are because of the checks [here](https://github.com/kubernetes/kubernetes/blob/b959f01c5a510207d613d351b0df5b05720ea28d/pkg/kubelet/kuberuntime/security_context_others.go#L45) and [here](https://github.com/kubernetes/kubernetes/blob/b959f01c5a510207d613d351b0df5b05720ea28d/pkg/kubelet/kuberuntime/security_context_others.go#L47). Essentially, kubernetes expects a user id that i

[2021-01-06 18:59] shysank opened #4053 "Backport kcp spec mutation to 0.3.x"
**User Story**

#3994 enabled mutations for `api-server`, `controller-manager`, and `scheduler` components in kcp.  This can be back ported to 0.3.x since there are no breaking changes.

**Anything else you would like to add:**

There will be conflicts in `webhook` changes since we need to migrate it from v1alpha4 to v1alpha3.

/kind feature

[2021-01-06 19:01] shysank commented on #2083
@vincepri @detiber should we open a new issue to track the remaining immutable kcp specs or just reopen this one?

[2021-01-06 19:26] vincepri commented on #4053
/milestone v0.3.x
/assign @shysank

[2021-01-06 21:13] detiber commented on #2083
@shysank I'm fine either way

[2021-01-06 21:53] shysank commented on #2083
/reopen

[2021-01-06 22:48] shysank commented on #2083
@rudoi @detiber Would you mind re-opening since I don't have access?

[2021-01-06 23:03] nader-ziada commented on #2993
/lifecycle active

[2021-01-07 02:14] detiber commented on #2083
/reopen

[2021-01-07 14:52] fabriziopandini opened #4055 "Backport update Kind to v0.9.0 on the 0.3 branch"
https://github.com/kubernetes-sigs/cluster-api/pull/3815 dropped support from kind 0.7 and moved the project to use kind v0.9 as a default (v0.8 also works; lower versions instead won't work).

We want to do the same in the v03.x branch.

Additionally, we would like to Update Kind to change the network for machines created by CAPD from bridge to kind, so the development workflow will be simplified

[2021-01-07 14:54] fabriziopandini commented on #4055
/area testing
/area provider/docker
/priority important-soon
/milestone v0.3.x

@tcordeu are you interested in working on this backport, given that you already did a great job on the v0.4 branch?

[2021-01-07 15:01] tcordeu commented on #4055
I will work on it!

/assign @tcordeu

[2021-01-07 15:12] detiber commented on #4055
If we are going to update the testing/automation to use kind v0.9.0, should we also make that the new minimum requirement? Ideally, whatever we are telling users is the minimum supported version will be validated by testing to avoid issues cropping up from lack of testing.

[2021-01-07 15:23] tcordeu commented on #3878
I started looking into this issue and after implementing the loop you proposed on `TestEnvironment.Create()` and I am getting this two `FAIL`s on these tests: `TestReconcileInterruptibleNodeLabel` and `TestReconcileUnhealthyMachines/Remediation_does_not_happen_if_desired_replicas_<_3` with the following error:
[code]
Which got me thinking if we should use Gomega for this or maybe we should impleme

[2021-01-07 15:29] fabriziopandini commented on #4055
+1 to make it the minimum requirement (this is already the case in the main branch)

[2021-01-07 15:30] fabriziopandini commented on #4055
/lifecycle active

[2021-01-07 16:34] fabriziopandini opened #4056 "Adapt clusterctl to the managers watching all namespaces for each provider"
**User Story**

As a user, I would like to have the simplest UX possible for clusterctl

As a developer, I would like to clean up old code whenever possible

**Detailed Description**

https://github.com/kubernetes-sigs/cluster-api/issues/3042 requires that a controller must manage all namespaces, and as consequence, we are going to change how to manifest will be created (https://github.com/kuberne

[2021-01-07 16:35] fabriziopandini commented on #4056
/remove-kind feature
/kind cleanup
/area clusterctl
/priority backlog
/milestone v0.4.x

@wfernandes since it is related to the management cluster operator work

[2021-01-07 16:38] fabriziopandini commented on #4056
/milestone v0.4.0

[2021-01-07 17:29] vincepri commented on #4056
Could we use a released CLI instead?

[2021-01-07 19:06] vincepri commented on #4046
@shysank Found this issue https://github.com/GoogleContainerTools/distroless/issues/332 which then led me to https://github.com/GoogleContainerTools/distroless/blob/master/examples/nonroot/BUILD.

It seems that we should switch the base image from `latest` to the one tagged with `nonroot` instead, https://console.cloud.google.com/gcr/images/distroless/GLOBAL/static?gcrImageListsize=30

[2021-01-07 20:05] nader-ziada commented on #2993
I think I need a little bit more context, can't find any previous conversations about this, is it just adding the user agent and timeout to the remote cluster client?

[2021-01-07 21:04] fabriziopandini commented on #4056
This is something to explore, but I would limit the usage of the shell-out approach only to a new helper specifically designed for calling `clusterctl init` in the v1alpha3-->v1alpha4 test.

For everything else I recommend continuing to use clusterctl as a library because it is simpler to integrate/setup/deploy and it worked fine so far.

[2021-01-07 23:10] wcurry opened #4057 "Scaling KubeadmControlPlane from 3 to 4 replicas is allowed by the validating webhook"
**What steps did you take and what happened:**

Created a new cluster with 3 control plane nodes. Scaled to 4 erroneously having forgotten about etcd quorum rules. KubeadmControlPlane enters bad state.

**What did you expect to happen:**

The validating webhook should not allow unsupported replica counts.

**Environment:**

- Cluster-api version: 0.3.11
- CAPV version: 0.7.1
- Kubernetes version:

[2021-01-07 23:22] CecileRobertMichon commented on #4057
After discussing on slack, we found the "unavailable" control plane issue is due to https://github.com/kubernetes-sigs/cluster-api/issues/3961, which is fixed in v0.3.12.

However, KCP should not allow scaling to even numbers. Something is not working as expected in https://github.com/kubernetes-sigs/cluster-api/blob/v0.3.11/controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_webhook.go#L235-L

[2021-01-07 23:33] wfernandes commented on #4056
Could we just `kubectl apply` v1a3 component manifests since that's what `clusterctl init` is essentially doing?

[2021-01-08 00:02] wcurry opened #4058 "KubeadmControlPlane does not reconcile new CP machine after deletion"
**What steps did you take and what happened:**

1. Created a new cluster.
2. Waited for the KubeadmControlPlane to show 3 READY replicas.
3. Deleted one CP Machine object.
4. Observed new VM creation to eventually seeing pods running on the new CP node. New Machine object shows Running. Cluster shows provisioned. KubeadmControlPlane shows the following:

[code]

**What did you expect to happen:**

[2021-01-08 12:25] fabriziopandini commented on #4056
I don't think so, for two reasons.
- if we fake the first init, then the signal from this E2E test won't be reliable/could not catch real problems
- clusterctl init is something more than apply. On top of my mind it adds labels, changes some object names, it creates inventory objects; without those bits, the upgrade won't work.

[2021-01-08 12:32] fabriziopandini commented on #2993
Yes, it is just that.
The user agent can be helpful when auditing API server calls
The timeout helps to avoid being blocked (by default the client waits forever)

[2021-01-08 14:55] furkatgofurov7 commented on #4047
@fabriziopandini I think this should have been closed by #4050, but somehow it did not?

[2021-01-08 15:09] furkatgofurov7 commented on #4026
@fabriziopandini hi! Has someone started working on this? I am happy to help if no one is interested. (Suggestions/pointers where to start looking and where notes must be put would be awesome to have).

[2021-01-08 15:10] detiber commented on #4047
/close

[2021-01-08 15:10] #4047 closed

[2021-01-08 15:18] #4044 closed

[2021-01-08 17:37] CecileRobertMichon commented on #4057
Confirmed that webhook prevents editing the number of replicas to 4 when using `kubectl edit` but not with `kubectl scale`:
[code]

[2021-01-08 18:05] vincepri commented on #4057
Ah! The `scale` subresource might be going around the validation webhook :/

[2021-01-08 18:08] vincepri commented on #4057
From https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers, it seems we need to amend our webhooks registration to include the subresources

[2021-01-08 18:09] vincepri commented on #4057
/priority important-soon
/milestone v0.4.0
/area api

We should also backport this bug

[2021-01-08 18:10] vincepri commented on #4057
@yastij Would you be interested in fixing this?

[2021-01-08 18:14] vincepri commented on #4057
Kind of related, it seems we're also not getting requests for the status subresource 🤔

[2021-01-08 18:19] yastij commented on #4057
ref https://github.com/kubernetes/kubernetes/issues/84530

[2021-01-08 18:23] vincepri commented on #4057
That seems a bit different, from the docs https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#validatingwebhook-v1-admissionregistration-k8s-io seems that we might need to add `clusterresourcesets/*` as an additional resource?

[2021-01-08 18:25] yastij commented on #4057
Yeah I guess it should be related as we only change replicas here.

/assign

[2021-01-08 18:38] jsturtevant commented on #2826
Trying to understand my options and roadmap for running upstream k8s e2e tests using CAPI (starting to look at this for Windows).  Looks like we have a few options.

This is attempt to summarize where we are at right now:

- capi kubetest (https://github.com/kubernetes-sigs/cluster-api/pull/3652)
  - meets goals 2 and 4 and partially 1 (doesn't support building from tip)
  - used to enable conform

[2021-01-08 18:50] CecileRobertMichon commented on #4058
I tried to repro on brand new cluster with CAPI v0.3.12 and CAPZ v0.4.10, a new machine came up fine and replaced the deleted one as expected:

[code]

[2021-01-11 09:43] fabriziopandini commented on #3690
/lifecycle frozen

[2021-01-11 09:44] fabriziopandini commented on #3778
/lifecycle frozen

[2021-01-11 14:58] sedefsavas opened #4062 "Faster MachinePool instance change detection"
During scale up/down, or upgrade operations, MachinePool detects changes very slow due to waiting both ProviderMachinePool and MachinePool reconcile. Worst case, we wait 2 x single reconcile frequency, which is 20 minutes.

Example scenario where it needs to wait next reconcile:
1- Scale up MachinePool replicas
2- ProviderMachinePool modifies Scaling group template
3- ProviderMachinePool detects a

[2021-01-11 15:30] devigned commented on #4062
I'm not sure if polling is the best way to handle this, but it is what we do in CAPZ:

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/f46baa1119d1441f263a4a5437d589b46367eae2/exp/controllers/azuremachinepool_controller.go#L289-L295

[2021-01-11 16:22] vincepri commented on #4058
Do you have any logs from the KCP controller you could share?

/triage support
/milestone Next

[2021-01-11 16:23] vincepri commented on #4058
/kind support

[2021-01-11 16:29] devigned opened #4063 "Resources representing MachinePool Machines"
**User Story**

As a user I would like to be able to see individual MachinePool machine resources and be able to manipulate them.

**Detailed Description**

For example, as a user I would like to be able to delete a specific instance, machine, in a machine pool. Currently, the only way to remove a machine from a machine pool is to decrease the replica count and hope the machine is deleted.

For ex

[2021-01-11 17:02] vincepri commented on #4063
From the conversation we had on Friday there were a few ideas on the table, in this post I'm going to express the potential proposal I've made during the meeting to reuse the current Machine object to represent a MachinePool's Machine.

#### Machine controller

The Machine controller today relies on an `infrastructureRef` to understand when it's in `Ready` state, and what's the `ProviderID` it sho

[2021-01-11 17:02] vincepri commented on #4063
/area api
/priority important-longterm
/milestone Next
(hopefully we can address this in v0.4.0, although setting Next for now until we have some consensus)

[2021-01-11 17:39] CecileRobertMichon commented on #4058
I think we just got a repro in CAPZ e2e: https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-azure/1067/pull-cluster-api-provider-azure-e2e/1348666323491622912/artifacts/clusters/bootstrap/controllers/capi-kubeadm-control-plane-controller-manager/capi-kubeadm-control-plane-controller-manager-644cd47898-bcwvw/manager.log

In this case no control plane

[2021-01-11 17:44] vincepri commented on #3780
/lifecycle frozen

[2021-01-11 18:18] vincepri commented on #4058
/assign @fabriziopandini

[2021-01-11 18:18] vincepri commented on #3779
/lifecycle frozen

[2021-01-11 21:14] CecileRobertMichon commented on #3716
/assign

[2021-01-11 21:24] detiber commented on #2769
/remote-lifecycle stale

[2021-01-12 11:04] #3515 closed

[2021-01-12 11:05] fabriziopandini commented on #3716
background question: does this a problem falls into the node agent responsibility? cc @randomvariable

[2021-01-12 11:19] fabriziopandini commented on #4062
I'm not really sure this how 1,2,3 can be addressed at CAPI level, given that we are not aware of the ProviderMachinePool infrastructure.
Instead for 4, I guess we can explore to add a watch from the MachinePool to the ProviderMachinePool like the Machine controller is adding a watch for InfrastructureMachine types

https://github.com/kubernetes-sigs/cluster-api/blob/ed9029bf32c3d2650703030f1783a2

[2021-01-12 16:36] vincepri commented on #3716
It should probably be a contract respected in all bootstrap providers

[2021-01-12 16:38] vincepri commented on #2769
/assign @randomvariable @yastij

We'll pick this up as a requirement for the node agent proposal in v1alpha4

[2021-01-12 16:38] vincepri commented on #2769
/lifecycle frozen

[2021-01-12 16:38] vincepri commented on #3793
/remove-lifecycle stale

[2021-01-12 16:44] CecileRobertMichon commented on #3716
Yes, it's up to each bootstrap provider to determine what counts as "successful" bootstrapping. For example, for CABPK it would be if `kubeadm init` or `kubeadm join` exits 0. It's up to each bootstrap provider to get the file on the VM according to its own implementation.

The presence of the file itself is what should be part of the contract.

[2021-01-12 17:27] fabriziopandini commented on #2826
@jsturtevant IMO #3652 and #4041 are dealing with two different goals:
1. Ensure Cluster API stability (Test Cluster API itself)
2. Test Kubernetes using Cluster API (Cluster API as a release blocker in Kubernetes)

I think that for this specific issue 2/#4041 is the most appropriate answer but I'm not sure if/how the two things could converge.
WRT to this might be that using kubetest as a package

[2021-01-12 17:32] fabriziopandini commented on #3716
Ok thanks!
I'm looking forward to the node agent design doc to get all the pieces together and understand if/how this will impact bootstrap providers as well

[2021-01-12 17:37] fabriziopandini commented on #3430
/remove-lifecycle stale

[2021-01-12 18:32] #3802 closed

[2021-01-12 23:06] ssabih opened #4065 "Cluster deletion stuck in continuous loop (CAPI/CAPZ)"
**What steps did you take and what happened:**
I am using CAPI with CAPZ, i created the cluster but the Azure subscription ID was wrong, therefore the cluster was in provisioning state. I deleted the cluster and fixed the Azure subscription id and created the cluster with new name. The deleted cluster is showing PHASE: Deleting

**What did you expect to happen:**
I was expecting the cluster to be

[2021-01-13 10:31] fabriziopandini commented on #4065
/area provider/azure
/kind bug

@nader-ziada @CecileRobertMichon PTAL ^^

[2021-01-13 14:24] nader-ziada commented on #4065
will take a look

[2021-01-13 14:50] nader-ziada commented on #4065
The capz controller is stuck in a loop of getting this error
[code]

[2021-01-13 14:54] nader-ziada commented on #4065
This is issue should be in cluster-api-provider-azure, created this https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1118

[2021-01-13 16:09] fabriziopandini opened #4068 "Flakes in the machine pools unit tests"
**What steps did you take and what happened:**
While investigating some unit test failures I some this error happen sometimes:
[code]

The error seems to be in the tear-down sequence, not in the test itself 🤔

**Environment:**
- Cluster-api version: Main

/kind bug

[2021-01-13 16:09] fabriziopandini commented on #4068
/area testing
/milestone v0.4.x

[2021-01-13 17:26] fabriziopandini commented on #4065
/close
given the issues being moved on CAPZ

[2021-01-13 17:26] #4065 closed

[2021-01-13 17:50] pydctw commented on #2062
/assign

[2021-01-13 22:58] nader-ziada commented on #2823
/lifecycle active
/assign

[2021-01-13 23:16] wfernandes commented on #3801
/lifecycle frozen

[2021-01-14 09:45] fabriziopandini commented on #3804
/remove-lifecycle stale

[2021-01-14 11:34] fabriziopandini opened #4075 "Flakes in the ClusterResourceSet unit tests"
**What steps did you take and what happened:**
While investigating some unit test failures I some this error happen sometimes:

[code]

**Environment:**

- Cluster-api version: Main

/kind bug
/area testing

[2021-01-14 11:35] fabriziopandini commented on #4075
/milestone v0.4.0

[2021-01-14 14:23] fabriziopandini commented on #4068
@CecileRobertMichon  @detiber @vincepri I could use some help here.

"Timeout: failed waiting for *v1alpha4.MachinePool Informer to sync" happens only sometimes.

MachinePool CRDs is registered in testenv together with the other CAPI CRDs, so the fact that this error only happens for this kind is driving me to assume the problem is in `exp/api/v1alpha4`.

However, the only thing a little bit odd t

[2021-01-14 14:36] fabriziopandini commented on #4075
After some investigation, I saw this error happen rarely, apparently when test env gets stuck for a few seconds.

I think it can be easily fixed by increasing the timeout to 20 seconds, so we account for a temporary glitch of the testenv.

https://github.com/kubernetes-sigs/cluster-api/blob/e73e3d9021e5df61ea2861be6f73698a031a63c3/exp/addons/controllers/clusterresourceset_controller_test.go#L37

/

[2021-01-14 14:37] furkatgofurov7 commented on #4075
@fabriziopandini I can send a quick patch for it.

/assign

[2021-01-14 15:44] fabriziopandini opened #4077 "Flakes in the E2E Conformance tests labeled as Serial"
**What steps did you take and what happened:**
Recently we are observing an increasing number of failures in E2E conformance tests labeled as [Serial] e.g.
- Kubernetes e2e suite.[sig-apps] Daemon set [Serial] should run and stop complex daemon [Conformance]
- Kubernetes e2e suite.[sig-scheduling] SchedulerPreemption [Serial] validates basic preemption works [Conformance]
- Kubernetes e2e suite.[s

[2021-01-14 15:45] fabriziopandini commented on #4077
/milestone v0.4.0

[2021-01-14 15:51] vincepri commented on #4077
+1 to skip the serial tests, although would like to hear from others that have more experience in this area

[2021-01-14 15:52] vincepri commented on #3804
Is there any action items here or can we close this issue?

[2021-01-14 15:56] neolit123 commented on #4077
we are skipping these in kubeadm tests.
serial tests are meant to run in a separate less-freq job.

[2021-01-14 16:04] Evalle commented on #4005
/assign as this was untouched for one month

[2021-01-14 16:05] Evalle commented on #4005
/assign

[2021-01-14 17:20] vincepri commented on #4068
Is the error coming from the `StartManager` function? From above it seems like it, but it also seems tests did run 🤔

[2021-01-14 17:27] vincepri commented on #3358
/remove-lifecycle stale

[2021-01-14 18:03] jsturtevant commented on #4075
FYI - I am still seeing this failure after the bump to 20 second in https://github.com/kubernetes-sigs/cluster-api/pull/4069.  The test passes when I run the `./scripts/ci-test.sh` but I was able to reproduce occasionally when running via my IDE.  Looking into it a bit more now

[2021-01-14 21:16] fabriziopandini commented on #1760
/remove-lifecycle stale

[2021-01-14 21:16] fabriziopandini commented on #3782
/remove-lifecycle stale

[2021-01-14 21:17] fabriziopandini commented on #3789
/remove-lifecycle stale

[2021-01-14 21:19] fabriziopandini commented on #4075
/reopen
according to @jsturtevant; this requires further investigation 😞

[2021-01-14 22:10] fabriziopandini commented on #3804
Ideally, we should audit CAPD and make sure that it supports kubectl delete *, but this is
/priority backlog

[2021-01-14 22:11] fabriziopandini commented on #3296
/remove-lifecycle stale

[2021-01-14 23:16] jsturtevant commented on #4075
I am now able to get a fairly consistent reproduction and found that increasing the timeout didn't help.  Still digging into it.

[code]

[2021-01-15 11:01] perithompson commented on #2217
Just adding some additional context to this, it seems that if your hostname is over 15 characters the `$env:computername` variable cuts off at 15 characters, which I guess it because this is related to the GetComputerName API, this may cause problems for those people using Powershell to configure cni or something similar.  `hostname` however still gets the longer hostname.

Also, when using this w

[2021-01-15 13:46] fabriziopandini commented on #4077
/help
/good-first-issue

To fix this add `ginkgo.skip: \[Serial\]` to https://github.com/kubernetes-sigs/cluster-api/blob/master/test/e2e/data/kubetest/conformance.yaml, send a PR, and then check the output of conformance tests after triggering `/test pull-cluster-api-e2e-full-main`; no tests labeled [Serial] should be there for the latest run...

[2021-01-15 14:10] furkatgofurov7 commented on #4077
@fabriziopandini I can test it locally and send a patch with suggested changes.

/assign

[2021-01-15 16:53] fabriziopandini commented on #4075
/assign
/lifecycle active

[2021-01-15 18:51] #4077 closed

[2021-01-18 09:57] fabriziopandini commented on #3824
/remove-lifecycle stale

[2021-01-18 09:58] fabriziopandini commented on #3807
@luniHw is this still a problem?

[2021-01-18 09:59] fabriziopandini commented on #3805
/remove-lifecycle stale

[2021-01-18 12:31] fabriziopandini commented on #4068
@vincepri, yes the error is from StartManager, and the test is run

My current assumption is that the test is too fast, and test env is stopped even before StartManager is completed (which is something that can happen given that most of the initialization stuff happens in goroutines, so it is not blocking). However, I don't know yet how can we tackle this...

[2021-01-18 19:16] fabriziopandini commented on #3831
/lifecycle frozen

[2021-01-19 10:24] fabriziopandini commented on #3821
/remove-lifecycle stale

[2021-01-19 10:27] fabriziopandini commented on #3663
@scottdhowell3 now that https://github.com/kubernetes-sigs/cluster-api/pull/3994 is merged, do you think this will still be a problem?

[2021-01-19 11:21] #3973 closed

[2021-01-19 11:37] enxebre opened #4085 "foreground deletion does not respect ordering"
**What steps did you take and what happened:**
create a cluster
delete with `kubectl delete --cascade=foreground`

With background deletion the cluster resource enforces ordering of dependants deletion programatically, first machine scalable resources, then referenced controlPlane, then referenced infrastructure resource.
With foreground deletion this ordering is not respected, as soon as you dele

[2021-01-19 11:58] randomvariable commented on #3429
Is this essentially CAPN now, and do we need this?

[2021-01-19 12:37] randomvariable commented on #2769
I know we don't have a label for it, but just for tracking

/area node-agent

[2021-01-19 12:37] randomvariable commented on #3640
I know we don't have a label for it, but just for tracking

/area node-agent

[2021-01-19 12:37] randomvariable commented on #3716
I know we don't have a label for it, but just for tracking

/area node-agent

[2021-01-19 12:37] randomvariable commented on #3761
I know we don't have a label for it, but just for tracking

/area node-agent

[2021-01-19 12:37] randomvariable commented on #3762
I know we don't have a label for it, but just for tracking

/area node-agent

[2021-01-19 12:38] randomvariable commented on #3939
I know we don't have a label for it, but just for tracking

/area node-agent

[2021-01-19 12:43] randomvariable commented on #2217
Noted. thanks.

/area node-agent

[2021-01-19 13:21] fabriziopandini commented on #4085
/milestone v0.4.0
At first sight, this is the same problem of https://github.com/kubernetes-sigs/cluster-api/issues/3804, but with a wider scope

[2021-01-19 13:48] fabriziopandini commented on #4027
/milestone v0.4.0

After some thinking, I'm inclined to assume this is a networking problem between the kind network and the network used by the pods generated by CAPD. In order for the quick start to complete they should match.

The first depends on the kind version you are using and it can be eventually changed with an env variable as documented in the quick start, the latter is up to us, and in

[2021-01-19 13:49] fabriziopandini commented on #4016
/milestone v0.4.0

[2021-01-19 13:52] fabriziopandini commented on #3983
/milestone v0.4.0

[2021-01-19 13:54] fabriziopandini commented on #3968
As per the comment above I'm setting to keep this into the radar
/milestone v0.4.0

[2021-01-19 13:56] fabriziopandini commented on #3872
/milestone v0.4.0

[2021-01-19 14:00] fabriziopandini commented on #3866
should we close this given that a possible solution is being discussed in ArgoCD?

[2021-01-19 14:06] fabriziopandini commented on #3913
/milestone v0.4.0
And then eventually backport

[2021-01-19 14:21] fabriziopandini commented on #3887
@vincepri is there some work missing for this issue after https://github.com/kubernetes-sigs/cluster-api/pull/4023 is merged?
Should we backport/is it possible to backport given that this change is deeply linked to the controller runtime version?

[2021-01-19 14:29] fabriziopandini commented on #3283
@vincepri we already have https://cluster-api.sigs.k8s.io/user/concepts.html?highlight=immu#machine-immutability-in-place-upgrade-vs-replace documenting mutability for infrastructure provider templates
Is this enough to close this issue or there is something else you want to add?

[2021-01-19 16:58] fabriziopandini commented on #3384
@vincepri @detiber I'm trying to derive action items for this issue.

AFAIK, in CAPI we are publishing our with google cloud build and images are already replicated to `{us, eu, asia}.gcr.io/k8s-artifacts-prod/cluster-api`.

If this is true, should we now change our templates to fetch from `k8s.gcr.io` instead of `us.gcr.io/k8s-artifacts-prod/cluster-api`? is this the only change required in CAPI?

[2021-01-19 16:58] fabriziopandini commented on #3734
@randomvariable should this fall in the node agent domain?

[2021-01-19 17:01] fabriziopandini commented on #3958
I'm closing this given that I don't see those error happening in E2E, we could always open a more specific issue if new evidence arises
/close

[2021-01-19 17:04] fabriziopandini commented on #3119
/close
@wfernandes, we should more the action item from the previous command in a separated issue/within a TODO list for the CPI operator work

[2021-01-19 17:04] #3119 closed

[2021-01-19 17:07] vincepri commented on #3384
Yes, we should switch the manifests at some point before releasing v1alpha4

[2021-01-19 17:10] vincepri commented on #3283
Yes, sounds good thanks for the link!

/close

[2021-01-19 17:11] #3283 closed

[2021-01-19 17:13] vincepri commented on #4085
@enxebre What would you expect it to happen with foreground deletion?

If we delete the Cluster object first, all controllers will stop reconciling that resource because of the missing reference, that's why the deletion process is hardcoded in code.

[2021-01-19 17:16] vincepri commented on #3887
This has been fixed by #4023 and https://github.com/kubernetes-sigs/cluster-api/pull/3986 for v0.3.x

/close

[2021-01-19 17:16] #3887 closed

[2021-01-19 17:16] vincepri commented on #3913
/assign @fabriziopandini

Let's tackle this as soon as we can, seems pretty important given that's control plane related

[2021-01-19 17:17] vincepri commented on #3913
/priority important-soon

[2021-01-19 17:17] vincepri commented on #3866
+1

/milestone Next
/close

[2021-01-19 17:17] #3866 closed

[2021-01-19 17:18] vincepri commented on #4027
/help

[2021-01-19 17:20] vincepri commented on #3872
@maplain As @fabriziopandini suggested, when the Cluster is deleted, drain doesn't run to speed up operations. If you'd still need to perform some actions before the instance goes away, the deletion/termination handler should still work.

/priority awaiting-more-evidence
/milestone Next

[2021-01-19 17:21] vincepri commented on #3968
This might be a good use case for the UX experience for later https://hackmd.io/Z9tzIkGJQUaU9VbFuo6I7Q

I'll move this to Next for now, unless there is someone that can write up a proposal for v1alpha4.

/milestone Next

[2021-01-19 17:21] vincepri commented on #3968
/priority important-longterm

[2021-01-19 17:32] fabriziopandini commented on #4029
@wfernandes last week I went through recent test failures and I did not find evidence of this problem.
Is it ok for you to close this issue or are you still seeing this error?

[2021-01-19 17:33] fabriziopandini commented on #4043
#3916 merged, so now this activity is unblocked
/help

[2021-01-19 17:35] vincepri commented on #3821
/close

This has bene fixed in upstream controller runtime

[2021-01-19 17:35] vincepri commented on #3821
/milestone v0.4.0

[2021-01-19 17:35] #3821 closed

[2021-01-19 18:24] vincepri commented on #3831
/help
/priority important-soon

[2021-01-19 19:43] vincepri commented on #3789
/lifecycle frozen
/area testing

[2021-01-19 19:43] vincepri commented on #3804
/help

[2021-01-19 19:44] vincepri commented on #3804
/priority awaiting-more-evidence

[2021-01-19 19:52] vincepri commented on #3805
/priority awaiting-more-evidence

[2021-01-19 19:53] vincepri commented on #3824
Closing this in favor of #1554

/close

[2021-01-19 19:53] #3824 closed

[2021-01-19 19:53] vincepri commented on #3824
/milestone Next

[2021-01-19 19:54] vincepri commented on #3429
/close

This RFE is in a different repository as @randomvariable mentioned, https://github.com/kubernetes-sigs/cluster-api-provider-nested

[2021-01-19 19:55] #3429 closed

[2021-01-19 20:10] #1689 closed

[2021-01-19 20:44] fabriziopandini opened #4087 "Backport clusterctl describe command to v0.3"
**Detailed Description**
https://github.com/kubernetes-sigs/cluster-api/pull/3942 introduced the clusterctl describe command in the main branch

As per discussion in the January 13th office hours meeting, we should backport this feature in the v0.3 branch.

/kind feature
/area clusterctl

[2021-01-19 20:45] fabriziopandini commented on #4087
/milestone v0.3.x
/assign
/lifecycle active

[2021-01-19 20:45] vincepri commented on #4087
+ 💯

[2021-01-19 21:24] #4068 closed

[2021-01-19 21:47] wfernandes commented on #3807
I'm +1 to close this.

[2021-01-19 21:52] wfernandes commented on #4029
I'm fine with closing this if we haven't seen this pop up recently.
Yay! Flaky test destroyed!
/close

[2021-01-19 21:52] #4029 closed

[2021-01-19 23:17] JocelynBerrendonner commented on #2217
@perithompson : Thanks for mentioning this! IIRC, using [System.Net.Dns]::GetHostName() in powershell also returns the full name.

[2021-01-20 01:09] superbrothers opened #4089 "clusterctl: Add dynamic shell auto completion"
**User Story**

As a user I would like to use dynamic shell auto completion to clusterctl for improving work efficiency.

**Detailed Description**

clusterctl now supports shell auto completion, but only for subcommands and flags.

The next step is to add support for arguments and flag values to make it more efficient (like kubectl). For example, the following arguments and flags can support dynam

[2021-01-20 01:09] superbrothers commented on #4089
/assign

[2021-01-20 01:20] superbrothers commented on #4089
/area clusterctl

[2021-01-20 01:37] superbrothers opened #4090 "clusterctl completion: Use native zsh completion instead"
**User Story**

As a developer I would like to use native zsh completion instead of the bash-compatibility one for making it easier to maintain.

**Detailed Description**

The current zsh completion of clusterctl is achieved by replacing some of the bash completions. Only a limited number of developers can maintain it because it is difficult to understand how it works.

- https://github.com/kubern

[2021-01-20 09:21] fabriziopandini commented on #4089
/milestone v0.4.0

[2021-01-20 09:22] fabriziopandini commented on #4090
/milestone v0.4.0

[2021-01-20 09:23] fabriziopandini commented on #3828
/remove-lifecycle stale

[2021-01-20 09:24] fabriziopandini commented on #3834
/remove-lifecycle stale
/priority awayting-more-evidence

[2021-01-20 09:26] fabriziopandini commented on #3807
/close
As per the comment above
if the problem still exists, feel free to reopen

[2021-01-20 09:27] #3807 closed

[2021-01-20 09:27] fabriziopandini commented on #3770
/remove-lifecycle stale

[2021-01-20 11:17] fabriziopandini opened #4091 "Document clusterctl describe"
**Detailed Description**
#3942 introduced the clusterctl describe command; it will be nice to document this command in the Cluster API book

/kind documentation
/area clusterctl

[2021-01-20 11:17] fabriziopandini commented on #4091
/milestone v0.4.0

/assign
/lifecycle active

[2021-01-20 13:49] sedefsavas commented on #4006
/assign

[2021-01-20 15:33] fabriziopandini commented on #3913
/lifecycle active

[2021-01-20 15:36] fabriziopandini commented on #3656
@tcordeu are you still working on this issue?
I'm working on https://github.com/kubernetes-sigs/cluster-api/issues/3913 and given that the two things are strictly related I can tackle this as well

[2021-01-20 15:43] enxebre opened #4095 "Decouple Infrastructure resource from infra providers machine controller"
**User Story**

As a CAPI consumer I'd like to plug-in my own ControlPlane and Infrastructure resources [1] while still still reusing the existing machine controller implementation for infra providers.

Today this is not possible in some providers because the machine controllers are tightly coupled with the regular AWS/AzureCluster kind [2].

A scenario where this is handy is one where there's a c

[2021-01-20 15:45] tcordeu commented on #3656
Go ahead!

/unassign

[2021-01-20 15:46] enxebre commented on #4085
@vincepri the deletion process as it's now enforced programatically make sense to me. This only works with background deletion, if you delete with --cascade=foreground the order won't be respected, so I think we either need to fix that or claim that foreground deletion is not supported for cluster CRs

[2021-01-20 15:48] fabriziopandini commented on #3656
/assign
/lifecycle active

[2021-01-20 16:09] fabriziopandini commented on #4095
I'm not sure I fully understand all the nuances here.
If I got it right, the ask is to have a sort of generic _infrastructure_ machine controller, and then plugin the infrastructure specific bits, right? is there a description/comparative analysis between the different infrastructure providers so I can better understand what are the parts we want to re-use across infra providers.
Expanding a littl

[2021-01-20 16:54] enxebre commented on #4095
@fabriziopandini This is meant to be an umbrella ticket to track a better decoupling between the providers cluster infrastructure CRs and the providers machine controllers.
This decoupling enables the providers machine controllers to work with external cluster infrastructure CRs.
This capability enables scenarios where cluster infra requires special treatment different from the reference implement

[2021-01-20 17:45] vincepri commented on #4095
Ref: https://github.com/kubernetes-sigs/cluster-api/issues/4063#issuecomment-758088482

This is a set of solutions that should enable this use case as well. A MachineShim (or similar) would effectively decouple machines from their infrastructure part by bringing in a ProviderID (Kubernetes Node). Would that suffice?

[2021-01-20 18:21] srm09 opened #4096 "Upgrade the controller-runtime version to v0.8.x"
**User Story**
**controller-runtime** is a dependency that is vendored in the CAPI codebase. Recently, a [newer version](https://github.com/kubernetes-sigs/controller-runtime/releases/tag/v0.8.0) of controller-runtime has been released.

**Detailed Description**
n/a

**Anything else you would like to add:**
The k8s bits in the controller-runtime packages have been updated to v1.20.1 . But the mini

[2021-01-20 18:21] srm09 commented on #4096
/assign

[2021-01-20 18:41] fabriziopandini commented on #2955
/lifecycle frozen

[2021-01-20 18:42] fabriziopandini commented on #2652
/remove-lifecycle stale

[2021-01-20 18:42] fabriziopandini commented on #3854
/remove-lifecycle stale

[2021-01-20 18:43] fabriziopandini commented on #2121
/remove-lifecycle stale

[2021-01-20 18:43] fabriziopandini commented on #2080
/remove-lifecycle stale

[2021-01-20 18:45] fabriziopandini commented on #2080
@vincepri @enxebre what about closing this in favor of https://github.com/kubernetes-sigs/cluster-api/issues/4095, the two-issue seems related to me

[2021-01-20 19:04] vincepri commented on #4095
/kind proposal
/milestone v0.4.0

[2021-01-20 20:14] wfernandes commented on #3042
- [ ] Remove `--watching-namespace` from clusterctl and then revert #3246. See https://github.com/kubernetes-sigs/cluster-api/issues/3119#issuecomment-742667762 for more details.

[2021-01-20 20:57] yastij commented on #2652
I've done some testing on VMC, I didn't see this happening with the latest CAPI. Let's close this and open back if someone sees this again

/close

[2021-01-20 20:57] #2652 closed

[2021-01-20 21:00] debankur1 opened #4097 "unable to use sigs.k8s.io/cluster-api"
v0.3.9
# sigs.k8s.io/cluster-api/util
../../../../../pkg/mod/sigs.k8s.io/cluster-api@v0.3.9/util/util.go:429:48: undefined: controllerutil.Object
../../../../../pkg/mod/sigs.k8s.io/cluster-api@v0.3.9/util/util.go:440:46: undefined: controllerutil.Object
../../../../../pkg/mod/sigs.k8s.io/cluster-api@v0.3.9/util/util.go:464:47: undefined: controllerutil.Object
../../../../../pkg/mod/sigs.k8s.io/clu

[2021-01-21 10:42] JoelSpeed commented on #4095
I read through the comment that was linked, and as I understand it, this is more about creating fake machine representations that allow some Machine like things (eg lifecycle hooks) to be leveraged in things like MachinePools. So there's no Machine Infrastructure in this case right?

My understanding of the use case in this issue is more that we want to be able to use the Machine Controller and In

[2021-01-21 11:09] fabriziopandini opened #4099 "Use systemd cgroup manager when kubelet/containerd are managed by systemd unit"
**User Story**

As a user, I would like to use systemd cgroup driver when kubelet/containerd are managed by systemd unit.

**Detailed Description**

Image builder is using systemd unit to run both kubelet and containerd; systemd allocates a cgroup per systemd unit, while instead both kubelet and containerd uses cgroupfs as a default cgroup driver.

As a result, there will be two different cgroup m

[2021-01-21 11:10] fabriziopandini commented on #4099
/milestone v0.4.0
/priority important-soon

/assign

[2021-01-21 13:39] neolit123 commented on #3762
just wanted to note that k8s docs address the kubelet as the "primary node agent":

https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/

but if this is a "CAPI node agent" people are likely not going to be that confused.

[2021-01-21 16:26] dthorsen commented on #4063
In our current clusters, we are using cluster-autoscaler with the AWS provider in combination with MachinePools. This greatly simplifies the code in cluster-api and the infra provider since all the instance management logic is effectively delegated to the cloud provider and cluster-autoscaler. When we wish to delete an instance from an autoscaling group, we simply drain the node. cluster-autoscale

[2021-01-21 17:03] #3427 closed

[2021-01-21 17:23] #4046 closed

[2021-01-21 17:23] #3913 closed

[2021-01-21 17:23] #3656 closed

[2021-01-21 19:35] vincepri commented on #3762
@neolit123 Yes it's a Cluster API Node Agent :)

[2021-01-21 19:37] vincepri commented on #4096
/milestone v0.4.0
/priority important-soon

[2021-01-21 19:37] vincepri commented on #4096
/area dependency

[2021-01-21 19:37] vincepri commented on #4095
cc @hasheddan

[2021-01-21 19:39] vincepri commented on #4085
IIRC what we implement is actually foreground deletion, as in we block the chain of resources to be deleted until the inner most parts are deleted first.

True background deletion removes the resource right away and doesn't care about chain of dependencies, we implemented this in the controller because of how the resource chain is structured.

Let's document this though

[2021-01-21 19:39] vincepri commented on #4085
/kind documentation

[2021-01-21 19:40] vincepri commented on #4090
/priority important-longterm

[2021-01-21 19:40] vincepri commented on #4089
/priority important-longterm

[2021-01-21 19:40] vincepri commented on #4087
/close

[2021-01-21 19:40] #4087 closed

[2021-01-21 19:46] vincepri commented on #3854
Do we have anyone that can drive this?

/lifecycle frozen

[2021-01-21 19:46] vincepri commented on #3854
/milestone Next

[2021-01-21 19:46] vincepri commented on #3854
/area dependency
/priority backlog

[2021-01-21 19:47] vincepri commented on #2121
/lifecycle frozen

[2021-01-21 19:47] vincepri commented on #3770
/assign @sedefsavas

to triage

/lifecycle frozen

[2021-01-21 19:49] #3875 closed

[2021-01-21 19:53] vincepri commented on #3828
/lifecycle frozen
/milestone Next

[2021-01-21 19:54] vincepri commented on #3782
/lifecycle frozen

[2021-01-21 19:54] vincepri commented on #3782
Actually, should we close this?

[2021-01-21 20:21] neolit123 opened #4103 "migrate usage of "gcr.io/kubernetes-ci-images""
**Detailed Description**

as part of migrating the k8s google infra to community maintained the GCR bucket "gcr.io/kubernetes-ci-images"
is being renamed to "gcr.io/k8s-staging-ci-images".
https://github.com/kubernetes/k8s.io/issues/1460

[we already applied this change to kubeadm](https://github.com/kubernetes/kubernetes/commit/d067c2e95d7eaae1d0e9e5ea5ff916c5d25f59c4), but [a search](https://git

[2021-01-21 20:24] fabriziopandini commented on #4103
/good-first-issue
/area testing

[2021-01-21 20:31] fabriziopandini commented on #4103
On top of
gcr.io/kubernetes-ci-images --> gcr.io/k8s-staging-ci-images

I suggest changing also
https://storage.googleapis.com/kubernetes-release-dev --> https://storage.googleapis.com/k8s-release-dev

in the same PR (or in separate PR if you prefer)

[2021-01-21 21:32] fmuyassarov commented on #4103
Hi @fabriziopandini. Can I work on this ?

[2021-01-22 01:28] wcurry commented on #3837
+1 from me.

[2021-01-22 15:42] vincepri commented on #4097
@debankur1 Looking at the dependency chain, it seems like the controller-runtime version is incompatible with the one used by Cluster API, I'd suggest looking at the go.mod in the release-0.3 branch to make those match https://github.com/kubernetes-sigs/cluster-api/blob/release-0.3/go.mod

/triage support
/milestone Next

[2021-01-22 15:42] vincepri commented on #4097
/kind support
/priority awaiting-more-evidence

[2021-01-22 16:01] debankur1 commented on #4097
module gitlab.eng.vmware.com/core-build/nodeconfig-operator

go 1.15

require (
	github.com/StackExchange/wmi v0.0.0-20190523213315-cbe66965904d // indirect
	github.com/ghodss/yaml v1.0.1-0.20190212211648-25d852aebe32
	github.com/go-logr/logr v0.1.0
	github.com/go-ole/go-ole v1.2.4 // indirect
	github.com/operator-framework/operator-sdk v0.19.4
	github.com/shirou/gopsutil v2.20.3+incompatible
	git

[2021-01-22 16:21] #4075 closed

[2021-01-22 17:22] yastij opened #4105 "capi-controller-manager crashes after a velero backup/restore"
**What steps did you take and what happened:**

After doing a velero backup/restore of a cluster, the capi-controller-manager crashes with the following logs:

[code]

This happens here https://github.com/kubernetes-sigs/cluster-api/blob/e85197220edcd6a0142444628be9a9eb858b63b2/exp/addons/controllers/clusterresourcesetbinding_controller.go#L75-L81

where `GetOwnerCluster` would return `nil,nil` wh

[2021-01-22 17:26] randomvariable commented on #4095
Me, @yastij and @detiber we're discussing #1250 and came to the realisation that we do also need a similar sort of contract for infrastructure provider load balancers vs. clusters, as in the load balancer may be provided by one infrastructure provider, e.g. AWS, but attached to a cluster using a vSphereCluster. I think then that the contract would be the same as what RH needs and we could define a

[2021-01-22 17:32] fmuyassarov commented on #4103
/assign

[2021-01-22 17:38] enxebre commented on #4095
@randomvariable that's right, I wonder if instead of having an additional extenalInfraCluster CR as originally attempted in AWS
we could come up with a very clear definition of what infrastructure and ["unmanaged"](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/d23cc4e599df3c82974c22327c35fb4834b9aca7/api/v1alpha3/types.go#L244-L246) means across providers and try to leverage "un

[2021-01-22 17:50] enxebre commented on #4085
Right, we crafted a foreground deletion which only works when we tell the garbage collector to work on [background mode](https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/#controlling-how-the-garbage-collector-deletes-dependents)

[2021-01-22 17:57] #3716 closed

[2021-01-22 17:59] vincepri commented on #3885
/close

[2021-01-22 17:59] vincepri commented on #4053
/close

[2021-01-22 17:59] #3885 closed

[2021-01-22 17:59] #4053 closed

[2021-01-22 18:16] srm09 commented on #4096
FYI, this update causes `conversion-gen` to incorrectly generate conversion functions for types that have slices of pointers to custom objects.
For example: [checkout DockerMachinePoolStatus type](https://github.com/kubernetes-sigs/cluster-api/blob/37941fe876ec60dfdad514ccb0b8daae2b37964e/test/infrastructure/docker/exp/api/v1alpha4/dockermachinepool_types.go#L80)

[2021-01-22 18:48] enyinna1234 opened #4110 "Cert-Manager-Webhook False(MissingEndpoints)"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

I deployed Cert-Manager with the command from the Cluster API book, the developer's guide section(https://cluster-api.sigs.k8s.io/developer/guide.html) - kubectl apply -f https://github.com/jetstack/cert-manager/releases/download/v0.11.0/cert-manager.yaml

The next command "kubectl wait -

[2021-01-22 23:06] enyinna1234 commented on #4110
I think there's a gap in the developer guide documentation. The Cert-Manager piece appears to be optional because the cert-manager is already deployed by the time one gets to that step. And running the cert-manager installation command again messes things up.

[2021-01-22 23:20] shysank commented on #4020
/assign

[2021-01-24 17:54] neolit123 commented on #4103
looks like the new GCS bucket doesn't have the latest artifacts:
https://github.com/kubernetes/kubeadm/issues/2380#issuecomment-766401628
https://github.com/kubernetes/k8s.io/issues/1460#issuecomment-766402175

[2021-01-25 09:07] fabriziopandini commented on #4110
/remove-kind bug
/kind documentation

/milestone v0.4.0

@enyinna1234 I think this is only a problem due to the developer's guide section still linking to cert-manager v0.11.0, while currently Cluster API uses v0.16.1.

Given that you discovered this problem and you see well acquainted with this guide, what do you think about sending a PR to fix the documentation?

[2021-01-25 09:09] fabriziopandini commented on #4110
/help
/good-first-issue

[2021-01-25 09:12] fabriziopandini commented on #3715
/lifecycle frozen
given that this is related to the LB work

[2021-01-25 11:17] enxebre commented on #4095
@randomvariable @JoelSpeed @yastij @detiber @vincepri would you be to ok to proceed as described above and let the "unmanaged" flavour to be fully unmanaged by stop reconciling SG and APIServer load balancer?
I described the use case here https://docs.google.com/document/d/1uqzpQjEQ9s0gfHppDcRa4zZeQTXGtca4v19bSYPIDgM/edit#

[2021-01-25 12:21] alexander-demichev opened #4114 "Add ability to specify user data secret namespace and key"
I'd like to have the ability to specify the namespace and key for user data secret. The current [implementation](https://github.com/kubernetes-sigs/cluster-api/blob/b08ed532156e011a0e100a79c11a1726577524b7/api/v1alpha4/machine_types.go#L225) of user data secret reference is represented as a string:

[code]
Proposed change:

[code]
The key value can default to a value that is currently used by infr

[2021-01-25 14:52] JoelSpeed commented on #4114
I think this will be useful for scenarios where we want to have a decoupled infrastructure where the data isn't necessarily being created by something akin to the KubeadmControlPlane. One question I would have is around the security concerns, perhaps it is easier for users to be able to deploy so that all secrets are in one namespace, does this make this a power user feature where you have to exte

[2021-01-25 15:10] alexander-demichev commented on #4114
@JoelSpeed AWS provider, for example, expects the user data secret to be present in the same namespace where machines are located https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/pkg/cloud/scope/machine.go#L253 , it means that access to a different namespace is expected.

[2021-01-25 16:03] vincepri commented on #4095
@enxebre What if instead of having a yet another reference added to the objects, we'd generically allow to retrieve a `ClusterInfrastructure`-compatible object from a configmap or secret, or whatnot?

In other words, is there a way to have the current AWSCluster, AzureCluster, etc to function as interfaces? In that way, we have a clear, well defined contract already in place that we could use to c

[2021-01-25 16:26] #2823 closed

[2021-01-25 17:02] srm09 commented on #3970
kubernetes/kubernetes#97078 got merged, but these changes will be landing in 1.21
Created a backport PR kubernetes/kubernetes#98375 for the 1.20 release stream.

[2021-01-25 17:10] #4091 closed

[2021-01-25 17:32] mcwumbly opened #4115 "Using ClusterResourceSet with Secret fails to apply"
**What steps did you take and what happened:**

1. Using kind and docker provider, create a management cluster and a single workload cluster labeled with `some-label`
2. Create a Secret with a simple namespace resource to apply to workload clusters
3. Create a ClusterResourceSet to apply the secret to the workload cluster

Secret data in `/some/path/deployment.yaml`:
[code]

Create secret
[code]

[2021-01-25 18:04] alexander-demichev commented on #4095
Can we also consider allowing machines to be 'clusterless'? For use cases where infrastructure is provided by the user, machines can stop relying on clusters and read values like subnets, SG, regions, etc. from machine template?

[2021-01-25 18:07] sedefsavas commented on #4115
Thanks for investigating this issue @mcwumbly
I am able to replicate it and see the same reason, if cache is disabled, this doesn't happen.
Will track further.

[2021-01-25 18:09] vincepri commented on #4114
What's the use case we're trying to solve here?

[2021-01-25 18:13] vincepri commented on #4115
/milestone v0.4.0
/priority important-soon

[2021-01-25 18:32] vincepri commented on #4095
Possibly, I'd like to hear from the infrastructure provider maintainers on that bit though, because it increases the support scope

@CecileRobertMichon @devigned @randomvariable @sedefsavas @yastij @srm09

As a side benefit, having a generic data interface would let us welcome other infrastructure based managers like Terraform or Crossplane

[2021-01-25 18:33] wfernandes opened #4118 "Generate initial scaffolding for the operator"
**User Story**

As a CAPI developer, I would like to create a space for building the operator.

**Detailed Description**

This PR adds the initial bare bones scaffolding for the CAPI operator.
[code]
**Anything else you would like to add:**

- The API will be incrementally added in.
- `make` commands coming in a separate PR.
- `Dockerfile` updates in a separate PR.

/kind feature
/area operator
/a

[2021-01-25 18:41] wfernandes commented on #4118
/milestone v0.4.0

[2021-01-25 19:48] fabriziopandini opened #4120 "Backport clusterctl describe documentation"
https://github.com/kubernetes-sigs/cluster-api/pull/4092 implemented documentation for the new clusterctl describe command.
We should backport this documentation in the release 0-3 branch

/kind documentation

/help
/good-first-issue

[2021-01-25 19:48] fabriziopandini commented on #4120
/milestone v0.3.x

[2021-01-25 20:01] furkatgofurov7 commented on #4120
@fabriziopandini I would like to send a patch for this.

/assign

[2021-01-25 20:08] vincepri commented on #2064
@dlipovetsky @jdef Do you folks have time to add some bits to the Cluster API book or the KCP proposal around this?

[2021-01-25 20:47] fmuyassarov commented on #4110
Hi,
I can send a quick fix for this.
/assign

[2021-01-25 21:29] shysank commented on #4020
Will this new field take precedence over the existing one if both are specified? Or can we just modify the existing parsing logic in `maxUnhealthy` field to accept a range of values?

[2021-01-25 21:49] wfernandes opened #4122 "Create make commands for the operator"
**User Story**

As a CAPI developer, I would like to have convenient make commands to build the operator, generate manifests, and build docker images.

**Detailed Description**
Some of the commands are below but not limited to
[code]

/kind feature
/area api
/area operator

[2021-01-25 21:49] wfernandes commented on #4118
/assign
/lifecycle active

[2021-01-25 21:50] wfernandes commented on #4122
/assign
/lifecycle active

[2021-01-25 21:54] #4114 closed

[2021-01-26 00:43] dlipovetsky commented on #2064
Thanks for the ping @vincepri.

I'll PR this.

/assign

[2021-01-26 09:52] jan-est opened #4124 "KCP upgrade fails when KCP remediation moves leadership"
**What steps did you take and what happened:**

We are testing KCP upgrade using CAPM3 as a infrastructure provider. In our test environment we have 3 controlplane Machines consuming all 3 physical servers.

[code]
We triggerd KCP update knowing that the update would not succeed because there are no extra resources available for KCP to scale-up. So new Machine will stay on provisioning state.

[co

[2021-01-26 11:05] fabriziopandini commented on #4124
/milestone v0.4.0
/priority important-soon
/area control-plane

[2021-01-26 11:07] fabriziopandini commented on #4124
Given that KCP is handling a control plane, IMO we should stick to safe side and prevent KCP remediation to take actions while the cluster is in a transitional state.

That's means that, if there is a provisioning machine, KCP should report using conditions that it can't proceed until the machine is fully provisioned (similar to what happens if there is a deleting machine), instead of trying to re

[2021-01-26 11:14] JoelSpeed commented on #4095
I'm intrigued by this idea but at the moment, not sure of the benefit over trying to re-use existing infrastructure cluster resources with the generic extra field that prevents reconciliation as you've suggested 🤔

My understanding of the ideas in the thread so far is that, in theory, I could use terraform or something to create my infrastructure, manually populate the spec of an AWSCluster resour

[2021-01-26 11:26] fabriziopandini commented on #4122
What about modifying also `make generate-go` and `make generate-manifests`

[2021-01-26 13:05] randomvariable commented on #4095
I don't think a "generic extra field" is going to work. The networking constructs are not compatible across cloud providers, and we've already hit this before through over-abstracting failure domains. I think an explicit "unmanaged" toggle for resources would work here. Also would be useful for dealing with rate limits for edge cases (not Edge) with very large clusters / lots of clusters in an acc

[2021-01-26 15:59] wfernandes commented on #4122
Yup...Doing that as well. 🙂  Forgot to put that in. Thanks for calling it out though

[2021-01-26 16:05] michaelgugino commented on #4020
I think if 'atLeast' is specified, it should take precedence.  EG, maxUnhealthy=10% and atLeast=3, if you have a cluster with 10 nodes, maxUnhealthy calculated = 3.

[2021-01-26 17:59] sedefsavas commented on #4115
The problem happens here:
		`err = toUnstructured(value.Elem(), reflect.ValueOf(&u).Elem())`
https://github.com/kubernetes/apimachinery/blob/ee96543cc6730a24af1c7323dac47e52c340ba39/pkg/runtime/converter.go#L416

In apimachinery, when converting to unstructured, value.Elem() is missing TypeMeta when liveclient is used for Secrets.
Caching or not-caching, `value` is the same but value.Elem() has Ty

[2021-01-26 18:03] hasheddan commented on #4095
Hey folks! Wanted to weigh in here to give some context around how Crossplane works and how it could potentially fit into this use-case. Crossplane is similar to CAPI in that it has providers for the different clouds. However, it aims to support provisioning all managed services on every cloud provider, which is a superset of those required for CAPI. Each provider installs CRDs for all of its mana

[2021-01-26 18:18] fabriziopandini commented on #4120
/close
(pr is merged)

[2021-01-26 18:18] #4120 closed

[2021-01-26 20:04] randomvariable commented on #4095
If we were to leverage Crossplane, then we need to come to some agreement on the multi-tenancy model. CAPA and CAPZ already have implementations near completion based on a particular RBAC model, see https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/proposal/20200506-single-controller-multitenancy.md and https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/m

[2021-01-26 21:31] devigned commented on #4095
The XRDs and compositions do look to be quite powerful, but also quite complex. The 1 to 1 correspondence with a cloud provider API might be a benefit is some eyes, but to others, it's excessive complexity. Those APIs are not fun to deal with and the resources they describe are low-level. I think there is a lot of value in how the providers have a semi-opinionated approach to how a cluster is buil

[2021-01-26 23:18] hasheddan commented on #4095
@randomvariable I think this necessitates a longer conversation than we can have on this issue thread, but at quick glance, Crossplane does support the various methods of providing credentials that are supported by the AWS SDK for Go. In Crossplane, credentials are specified in a [`ProviderConfig`](https://doc.crds.dev/github.com/crossplane/provider-aws/aws.crossplane.io/ProviderConfig/v1beta1@v0.

[2021-01-27 20:15] voor commented on #3354
- When we create clusters we use an external tool `kapp` which creates ConfigMaps linked to the deployment of the Cluster CRs, being able to provide additional ConfigMaps (which might reside in another namespace) would be convenient and helpful for this use case.
- Sometimes we need to organize clusters in different namespaces from where they were initially created, moving between namespaces would

[2021-01-27 21:13] sedefsavas commented on #4115
/assign

[2021-01-28 17:38] sedefsavas commented on #4115
After digging a bit more, saw that when we use live clients, we never get `TypeMeta`.
This is the case in KubeadmContolPlane as well, it uses `mgr.GetAPIReader()` as client and the resources retrieved by that client does not have `kind` and `apiVersion`. So we may hit this issue in other places in the code where live readers are used.

If objects received by Get() call should always include the `T

[2021-01-28 17:40] sedefsavas commented on #4115
The fix for this issue (thanks to @vincepri for debugging) is a temporary fix, only solving the CRS issue.
Right now we do not use much live clients, but if we do a Get() and try to do a Patch() with a live client, we may hit the same issue.

[2021-01-28 17:45] wfernandes commented on #3354
@voor Would it be possible to mark external objects like those ConfigMaps with the `clusterctl.cluster.x-k8s.io/move` label?

See https://cluster-api.sigs.k8s.io/clusterctl/provider-contract.html?highlight=move#move for more info

[2021-01-29 00:01] wfernandes opened #4131 "Enable webhooks and cert-manager for CAPI operator"
**User Story**

As a develper, I would like to enable webhooks and cert-manager for the CAPI operator so that I can add validation and defaulting rules for the CAPI provider objects.

**Detailed Description**

When I run
[code]
I want to see validation and mutating webhooks and associated services and certs created for the CAPI operator.

**Anything else you would like to add:**

This is still par

[2021-01-29 08:11] #4110 closed

[2021-01-29 08:29] fmuyassarov commented on #4110
@enyinna1234 Let us know if you are still failing to deploy the cert-manager. Thanks.

[2021-01-29 17:01] #2993 closed

[2021-01-30 01:17] enyinna1234 commented on #4110
Thanks, @fmuyassarov. I was able to do more testing. There are 2 issues that I identified with the documentation here:
1. It asks to create a management cluster (https://cluster-api.sigs.k8s.io/developer/guide.html#a-cluster). But creating a management cluster also deploys cert manager. And if the user goes on to deploy cert manager as instructed further down (https://cluster-api.sigs.k8s.io/devel

[2021-01-31 19:12] fabriziopandini commented on #3415
/remove-lifecycle stale
I think it is important to keep up with tilt improvements

[2021-02-01 00:18] lojies opened #4134 "why machinedeployment is not described in cluster spec"
**User Story**

I'm a fresher of cluster api. Now i'm a little uncertainty about cluster definition.Why machinedeployment is not described in cluster spec.I think adding this to cluster info can make a cluster info more complete.Now machinedeployment is more likely not a part of the whole cluster.

**Detailed Description**
[code]

**Anything else you would like to add:**

[Miscellaneous informatio

[2021-02-01 00:28] superbrothers commented on #3867
Duplicate of https://github.com/kubernetes-sigs/cluster-api/issues/4089

[2021-02-01 00:28] #3867 closed

[2021-02-01 16:03] vincepri commented on #4134
@lojies Are you referring to having something like node pools definitions within the Cluster configuration? If that's the case, we're brainstorming this in https://hackmd.io/Z9tzIkGJQUaU9VbFuo6I7Q, although it's nowhere to be ready / implementable

/milestone Next

[2021-02-01 17:16] CecileRobertMichon commented on #3373
/remove-lifecycle stale

[2021-02-01 18:23] vincepri commented on #3447
@sedefsavas Are we still interested in pushing this forward or should we close it for now?

[2021-02-01 18:24] vincepri commented on #3301
@sedefsavas Should this be marked as a bug? Do we want to prioritize it for this cycle?

[2021-02-01 18:25] vincepri commented on #2937
Closing this in favor of #1250

[2021-02-01 18:25] vincepri commented on #2937
/close

[2021-02-01 18:25] #2937 closed

[2021-02-01 18:25] vincepri commented on #3415
/lifecycle frozen

[2021-02-01 18:26] vincepri commented on #3134
/lifecycle frozen

[2021-02-01 18:31] sedefsavas commented on #3301
I don't think this is a bug, we need to decide if we want CRS resources to be cleaned up with the CRS deletion or not.

[2021-02-01 18:34] sedefsavas commented on #3447
There were no requests to move this forward, I think we can close it until there are new use cases.

[2021-02-01 18:34] #3447 closed

[2021-02-01 20:25] #4096 closed

[2021-02-01 21:44] CecileRobertMichon commented on #4134
Only tangentially related, check out the `clusterctl describe cluster` command (available in the latest release) which gives an overview of the cluster api cluster and all its components (including machines).

[2021-02-01 21:53] CecileRobertMichon commented on #4063
I think @dthorsen makes a really great point and something we should not forget while discussing these changes. The main goal of MachinePools is to allow delegating functionality to the cloud providers directly (zones, scaling, etc.). If we re-implement scale down/draining/etc. via Machines for MachinePools, we lose this completely. Perhaps a better solution is to have cloud specific autoscaler (a

[2021-02-01 23:53] vincepri commented on #4131
/area operator

[2021-02-02 00:03] lojies commented on #4134
@vincepri @CecileRobertMichon Thanks for the reply.I will learn more and keep attention.

[2021-02-02 00:05] Lirt commented on #4105
Just a note for anybody taking this. Velero cannot restore `.Status` field https://github.com/vmware-tanzu/velero/issues/1687.

[2021-02-02 20:53] fabriziopandini commented on #4105
My understanding of the Issue is that:
- By default velero restore ClusterResourceSetBindings before Clusters
- This creates an unexpected condition (a ClusterResourceSetBinding not owned by any cluster) and if a reconcile happen while the restore is still in progress, the ClusterResourceSetBinding controller panic.

A first workaround of the issue is to instruct velero to restore clusters before

[2021-02-03 15:19] prankul88 commented on #4096
@srm09 Hi, does this change require to have min go version as well?

With this change merged, I got an error while running command `make clusterctl`

../../../pkg/mod/sigs.k8s.io/controller-runtime@v0.8.1/pkg/manager/manager.go:53:2: duplicate method Start
note: module requires Go 1.15
Makefile:157: recipe for target 'clusterctl' failed

[2021-02-03 15:35] vincepri commented on #4096
@prankul88 Go 1.15 is required for v1alpha4

[2021-02-03 15:37] prankul88 commented on #4096
@vincepri Got it. Thanks

[2021-02-03 16:04] fabriziopandini opened #4136 "Refactor main to be in line with kubebuilder generated ones"
**Detailed Description**
As per comment https://github.com/kubernetes-sigs/cluster-api/pull/3985#discussion_r566476491

We should refactor our main functions in order to be in line with kubebuilder generated ones, and more specifically `setupReconcilers` and `setupWebhooks` etc will need to be consolidated back into a single main function.

**Anything else you would like to add:**

We should check

[2021-02-03 16:04] fabriziopandini commented on #4136
/milestone v0.4.0
/priority backlog
/help

[2021-02-03 16:14] vincepri commented on #4136
We should be able to use the tags to make kubebuilder still work?

[2021-02-03 16:38] fabriziopandini commented on #4136
This should be investigated, let's make it clear if we consider this a goal

[2021-02-03 17:32] CecileRobertMichon opened #4138 "Document MachineHealthChecks for control planes"
Since #3956 merged, KCP supports remediation with machine health checks. However, the documentation on the topic is missing. In fact, the current MHC docs state:

https://cluster-api.sigs.k8s.io/tasks/healthcheck.html#limitations-and-caveats-of-a-machinehealthcheck

We should update the existing documentation for MachineHealthChecks to include KCP.

/kind documentation

[2021-02-03 17:46] CecileRobertMichon commented on #4138
https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/20191017-kubeadm-based-control-plane.md#remediation-using-delete-and-recreate can be used as a starting point

[2021-02-03 18:16] enxebre opened #4139 "Document a guide to management cluster security"
**What steps did you take and what happened:**
In v1alpha4 the recommend model fo multi tenancy is single controller for providers https://github.com/kubernetes-sigs/cluster-api/pull/4074.

With this model it might be the case where scalable resources and so machines for different clusters live in the same namespace. In such scenario the autoscaler would be watching nodes for the targeted cluster

[2021-02-03 18:20] enxebre commented on #4139
cc @randomvariable @fabriziopandini @JoelSpeed @elmiko

[2021-02-03 19:03] srm09 commented on #4043
Updating this story to include the entire test matrix for workload cluster upgrade testing.

[2021-02-03 19:08] vincepri commented on #4139
/kind documentation

Given the issue description seems to be referencing that an approach needs to be documented.

Is the main issue around credential management?

[2021-02-03 19:10] CecileRobertMichon commented on #4138
/help

[2021-02-03 19:10] CecileRobertMichon commented on #4138
/milestone v0.4.0

[2021-02-03 19:11] randomvariable commented on #4139
I'm hoping it's mostly we do some documentation about how namespaces are your security boundary in the management cluster, but will be meeting with @enxebre and @elmiko on Friday to get a better understanding, as I'm admittedly not up to speed on how the autoscaler integration was done.

[2021-02-03 19:17] srm09 commented on #4043
/retitle Add E2E test to verify workload cluster upgrades

[2021-02-03 19:20] #4115 closed

[2021-02-03 20:56] fabriziopandini commented on #4139
happy to join the meeting if possible

[2021-02-03 21:30] wfernandes commented on #4131
/assign
/lifecycle active

[2021-02-03 21:48] vincepri commented on #3399
/lifecycle frozen

We should try to do this before v0.4.0

[2021-02-03 21:49] vincepri commented on #3294
/good-first-issue

[2021-02-03 21:49] vincepri commented on #3294
/remove-lifecycle stale

[2021-02-03 21:49] vincepri commented on #1878
/lifecycle frozen

[2021-02-03 22:03] vincepri commented on #4105
To add to what @fabriziopandini mentioned above, all `.Status` fields should be recreatable on first reconciliation

[2021-02-03 22:04] sedefsavas commented on #3301
Replica of https://github.com/kubernetes-sigs/cluster-api/issues/3399
Closing.

[2021-02-03 22:04] #3301 closed

[2021-02-03 22:07] fmuyassarov commented on #4110
Hi @enyinna1234 ,
What I understood from the [doc](https://cluster-api.sigs.k8s.io/developer/guide.html#a-cluster) is, if you install cert-manager yourself, and then run tilt up, then tilt will not install the cert-manager for you, but rather waits until it is in Ready state. I did quick test.

1. I skip the installation of the cert-manager and just run tilt up.
[code]
As you can see tilt is tryin

[2021-02-03 22:07] sedefsavas commented on #3399
Tracking this duplicate issue https://github.com/kubernetes-sigs/cluster-api/issues/3301 here.

[2021-02-03 22:10] fmuyassarov commented on #4110
@fabriziopandini shall I backport this change to release-0.3 branch?

[2021-02-03 23:02] #3822 closed

[2021-02-03 23:20] vincepri commented on #3373
/lifecycle frozen

[2021-02-03 23:23] vincepri commented on #2960
/lifecycle frozen

[2021-02-04 12:18] JoelSpeed commented on #4139
I think @detiber might want to weigh in on this conversation as well. IIUC the [autodiscovery logic](https://github.com/kubernetes/autoscaler/pull/3314) that he added to the autoscaler should cater towards this at least partially?

[2021-02-04 13:59] elmiko commented on #4139
i have a feeling the conversation this friday will be very high level, but i'm glad you brought up the autodiscovery stuff @JoelSpeed. i think you are correct that it could help for the multi-tenancy issue.

[2021-02-04 17:14] #3457 closed

[2021-02-04 19:38] wcurry opened #4145 "Updates to underlying configRef and infrastructureRef objects trigger MachineDeployment roll"
**User Story**

As a CAPI operator I would like changes to my MachineDeployment's configRef (KubeadmConfigTemplate) and infrastructureRef (VSphereMachineTemplate) to trigger a Machine roll.

**Detailed Description**

We have a workaround in our pipeline that appends the MD5 hash of the Template's spec field to its name and updates the MachineDeployment reference. This process currently leaves behi

[2021-02-04 20:18] shysank commented on #3983
/assign

[2021-02-04 20:37] furkatgofurov7 opened #4146 "Expose options to uncache other objects in Tracker"
**User Story**
As #4104 got merged, KCP uses a new Cluster Cache Tracker client for the workload cluster and we have to make sure that we're not caching remote objects.

**Detailed Description**
With this new client, we're now going to start a cache for each object that's not a [ConfigMap or Secret ](https://github.com/kubernetes-sigs/cluster-api/blob/master/controllers/remote/cluster_cache.go#L16

[2021-02-04 20:50] vincepri commented on #4146
/milestone v0.4.0
/help
/priority important-soon

[2021-02-04 20:55] vincepri commented on #4145
Hi @wcurry,

MachineDeployment template references should be able to be changed, and the change should rollout a new MachineSet with the specified spec.

In order to support rollback scenarios, we usually consider the contents of a template reference immutable.  @detiber might be able to shed more light here as well.

[2021-02-04 20:55] vincepri commented on #4139
/milestone Next

[2021-02-04 20:56] vincepri commented on #4145
/milestone Next

[2021-02-04 20:56] furkatgofurov7 commented on #4146
Happy to work on this!

/assign
/lifecycle active

[2021-02-04 20:57] vincepri commented on #4105
/milestone Next
/priority awaiting-more-evidence

[2021-02-04 20:57] vincepri commented on #4097
/close

[2021-02-04 20:57] #4097 closed

[2021-02-04 20:58] vincepri commented on #4097
This issue was fixed by using the correct version matrix between the operator framework and cluster api

[2021-02-04 20:59] vincepri commented on #4085
/help

[2021-02-04 21:00] vincepri commented on #4056
/priority important-soon

Bumping priority

[2021-02-04 21:00] vincepri commented on #4056
@srm09 @fabriziopandini Could we prioritize this?

[2021-02-04 22:13] wcurry commented on #4145
We generally fix forward, and would benefit from the templates being considered mutable.

They are actually mutable currently, but it doesn't trigger a roll. I just edited my KubeadmConfigTemplate and added a command to the postKubeadmCommands without error.

[2021-02-04 22:16] nrb commented on #4105
@fabriziopandini Your understanding matches mine. My expectation would be that the ClusterResourceSetBinding controller would at least retry for a Cluster ownerRef before failing completely, and failure wouldn't be a panic.

The source of the issue from the Velero side is Velero doesn't have knowledge of operator object graphs other than some included Kubernetes resources. Instead, Velero attempts

[2021-02-04 22:55] vincepri commented on #4105
@nrb Do you want us to keep this issue open, or track it on Velero's side?

[2021-02-04 23:10] #4103 closed

[2021-02-05 01:03] enyinna1234 commented on #4110
@fmuyassarov, cert-manager gets installed at the 'cluster init' step in the guide (Quick Start doc), during the provisioning of a management cluster. So the Cert-Manager step in the guide (Developer Guide), might need to be labeled as optional.

[2021-02-05 01:04] enyinna1234 commented on #4110
@fmuyassarov all of this happens before we get to Tilt.

[2021-02-05 10:21] jichenjc opened #4147 "How to add label on the worker nodes on the fly?"
**User Story**

As a [developer/user/operator] I would like to [high level description] for [reasons]

https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/book/src/user/troubleshooting.md
told us that the only way is to execute this on the command line

[code]

but how about autoscale? if we use autoscale to increase worker nodes, how to add those labels when workers added ?

**Detaile

[2021-02-05 10:24] fabriziopandini commented on #4110
If there are improvements in the doc, I'm ok with it.

I would also recommend to avoid new discussions on closed issues.
Let's create a new issue linking the old one or, if necessary, re-open the issue.

[2021-02-05 10:36] fabriziopandini commented on #4147
Linking other thread/issue related to label management
- https://github.com/kubernetes-sigs/cluster-api/pull/3668#issuecomment-696101159
- https://github.com/kubernetes-sigs/cluster-api/issues/493 (https://github.com/kubernetes-sigs/cluster-api/issues/2596)

[2021-02-05 10:45] jichenjc commented on #4147
ok I will read this and may close this issue , thanks

[2021-02-05 10:49] fabriziopandini commented on #4056
I think we should get https://github.com/kubernetes-sigs/cluster-api/pull/3708 merged first, and then work on this

[2021-02-05 13:14] randomvariable commented on #4139
/retitle Document a guide to management cluster security

Follow up from today's call:

@randomvariable  to write a doc on management cluster security as a whole, what are the security boundaries, and what does it mean to deploy multiple clusters in a single namespace.

@elmiko to contribute `includes` for Cluster Autoscaler docs in the CAPI book.

/assign

[2021-02-05 17:14] #3370 closed

[2021-02-05 17:26] #4006 closed

[2021-02-06 01:03] CecileRobertMichon commented on #3358
/assign

I can give this a try

[2021-02-07 11:44] wangzewang commented on #3294
/assign

[2021-02-08 10:36] fabriziopandini commented on #3697
/lifecycle frozen
I think we should make version management consistent across resources and leverage v1alpha3 --> v1alpha4 conversion to fix existing resources without triggering rollout
@vincepri opinions?

[2021-02-08 10:38] fabriziopandini commented on #3836
/remove-lifecycle stale

[2021-02-08 11:16] fabriziopandini opened #4151 "Import CABPK documentation from the legacy repo"
Today I stumbled into https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm#bootstrap-orchestration, which IMO contains valuable insights on how CABPK works.

If there is consensus I would like to import such informations in the CAPI repo, TBD if as a readme in the bootstrap/kubeadm folder of if somewhere into the book (or both using include in the book)

/kind documentation
/m

[2021-02-08 16:51] vincepri commented on #3836
Shouldn't this be solved w/ v0.4.0?

[2021-02-08 16:53] vincepri commented on #4151
Most of it seems to be captured in https://master.cluster-api.sigs.k8s.io/developer/architecture/controllers/bootstrap.html ?

We should also make sure that everything it up-to-date

[2021-02-08 17:23] vincepri commented on #3894
Closing this due to inactivity

/close

[2021-02-08 17:24] #3894 closed

[2021-02-08 17:34] vincepri commented on #4055
@tcordeu Any updates on this issue?

[2021-02-08 17:35] vincepri commented on #4056
/priority critical-urgent

[2021-02-08 17:38] vincepri commented on #4026
/good-first-issue
/help
/priority backlog
/milestone v0.4.x

[2021-02-08 17:38] vincepri commented on #493
@Arvinderpal Any updates here on a possible CAEP?

[2021-02-08 17:39] vincepri commented on #493
/priority backlog
/kind proposal

[2021-02-08 17:40] vincepri commented on #1250
Hi folks, is the proposal ready to be reviewed from a larger group? Waiting for your input before engaging on the document

[2021-02-08 17:42] vincepri commented on #1271
/kind proposal
/milestone v0.4.x

We might want to tackle something like this in KubeadmControlPlane.

[2021-02-08 17:43] vincepri commented on #1584
/remove-lifecycle frozen

@fabriziopandini What's the status of this issue? Could this be tackled as part of the node agent?

[2021-02-08 17:45] vincepri commented on #1587
Going to close this for now given that we haven't gotten user stories for this ask in a while and it seems there are missing pieces in kubeadm.

/close

[2021-02-08 17:45] #1587 closed

[2021-02-08 17:45] vincepri commented on #1588
/remove-lifecycle frozen

@fabriziopandini Is this something we want to support?

[2021-02-08 17:48] vincepri commented on #1690
/close

This has been done

[2021-02-08 17:48] #1690 closed

[2021-02-08 17:48] vincepri commented on #1760
Closing due to lack of updates.

Feel free to reopen if you'd like to still tackle this issue.

/close

[2021-02-08 17:49] #1760 closed

[2021-02-08 17:49] vincepri commented on #1793
/priority backlog

[2021-02-08 17:51] #3996 closed

[2021-02-08 17:51] vincepri commented on #1840
Closing this for lack of action items, logging is now primarily dependent upon controller runtime

/close

[2021-02-08 17:51] #1840 closed

[2021-02-08 17:55] vincepri commented on #1970
/assign @fabriziopandini

[2021-02-08 17:55] vincepri commented on #1970
/priority important-soon

[2021-02-08 17:56] vincepri commented on #2062
/priority important-longterm
/help

[2021-02-08 17:58] vincepri commented on #2080
/close

[2021-02-08 17:58] #2080 closed

[2021-02-08 18:00] vincepri commented on #2083
@shysank Could you open different issues for the remaining bits instead of having this high level issue? It'd be good to understand which pieces are missing and tackle them separately, we might be able leverage the help wanted and good first issue tags as well.

/close

[2021-02-08 18:00] #2083 closed

[2021-02-08 18:02] vincepri commented on #2318
/milestone Next

Moving the milestone for now, not sure if we'll have someone that can push this forward across CAPI + providers.

[2021-02-08 18:02] vincepri commented on #2318
/priority backlog

[2021-02-08 18:03] vincepri commented on #2256
@detiber Server side apply support from controller runtime is still lacking, pushing this back a bit.

[2021-02-08 18:04] vincepri commented on #2479
@wfernandes Is there anything else to do here?

[2021-02-08 18:09] vincepri commented on #2770
/close

[2021-02-08 18:09] #2770 closed

[2021-02-08 18:10] vincepri commented on #2738
Closing this umbrella issue for now.

@fabriziopandini feel free to open separate issues for the tasks above.

/close

[2021-02-08 18:10] #2738 closed

[2021-02-08 18:12] vincepri commented on #2769
/assign @fabriziopandini
/priority critical-urgent
/milestone v0.4.0

This task is going to be tackled as release blocker for CABPK first.

As part of it, we need a plan of action for v1alpha3 as well, where we translate the v1beta1 types currently used to v1beta2 or later when creating newer Kubernetes clusters.

[2021-02-08 18:17] vincepri commented on #2693
/assign @fabriziopandini
/priority backlog
To look into.

[2021-02-08 18:22] vincepri commented on #2944
/help
/good-first-issue

[2021-02-08 19:16] Arvinderpal commented on #493
@vincepri I will put together a CAEP.
On a similar note, I did put together a [label sync mechanism](https://github.com/metal3-io/metal3-docs/pull/149) for the metal3 project, which has some similarities but serves an entirely different purpose.

[2021-02-08 19:19] Arvinderpal commented on #3486
Can I be assigned this ticket? Not that anyone else is jumping to work on it :laughing:
I'll need this for the `clusterctl rollout status` command: https://github.com/kubernetes-sigs/cluster-api/issues/3439

[2021-02-08 19:52] elmiko commented on #4139
added https://github.com/kubernetes-sigs/cluster-api/pull/4153

[2021-02-08 20:01] vincepri commented on #3486
@Arvinderpal Sure, feel free to take it!

/priority important-soon
/assign @Arvinderpal

[2021-02-08 20:33] fabriziopandini opened #4154 "Add v1alpha4 types for clusterctl"
We should add v1alpha4 types for clustertcl!

/area clusterctl
/kind api-change
/kind feature

/milestone v0.4.0
/prority important-soon
/assign
/lifecycle active

[2021-02-08 20:55] fabriziopandini commented on #1588
I'm +1 to close this one given there is no concrete ask for this feature and no actionable items

[2021-02-08 20:59] fabriziopandini commented on #1584
I have no strong opinions here.
There are use cases for this, but at the same time it isn't a priority and this keeps getting pushed down in the list.
Fine for me to keep this in the radar or close and eventually re-open if there is a stronger ask/capacity to tackle this.

[2021-02-08 21:07] fabriziopandini commented on #4151
Uhh, this page is for provider implementers, while the former readme document things for users, so IMO they don't overlap

Sure!

[2021-02-08 21:31] wfernandes opened #4156 "clusterctl init fails"
**What steps did you take and what happened:**
1. Pull code from main branch
2. `make clusterctl`
3. `clusterctl init`

I get the following output:
[code]

**What did you expect to happen:**
I expected init to work.

**Anything else you would like to add:**
There is no `metadata` for the `cluster-api` provider. So that doesn't look correct.

[code]

**Environment:**

- Cluster-api version: 886a167

[2021-02-08 22:05] wfernandes commented on #3836
I'm guessing now that we have https://github.com/kubernetes-sigs/cluster-api/pull/4013, this shouldn't be a problem.
@MPV Feel free to test out the latest `clusterctl` and let us know if it's still an issue.

[2021-02-08 22:19] #4090 closed

[2021-02-08 22:43] wfernandes commented on #4156
It seems that when we removed the embedded metadata (https://github.com/kubernetes-sigs/cluster-api/pull/4033) we also had an embedded metadata for the ClusterAPI CoreProvider.

https://github.com/kubernetes-sigs/cluster-api/commit/e4b5725c2b2a0175b2a6c8ed317877aeec3b7e7e#diff-50f77670b27925f39bc2bb45856ec9139db13aaa1bf9f061011f4e9e1a6301a3L112-L130

[2021-02-08 22:47] wfernandes commented on #4156
Here are some possible solutions:
1. We can include a `metadata.yaml` as part of the release assets for Cluster API releases.
2. We can have an embedded metadata just for the CoreProvider artifacts - CoreProvider, KubeadmBootstrapProvider, KubeadmControlPlaneProvider.

@fabriziopandini @vincepri WDYT?

[2021-02-08 22:53] vincepri commented on #3836
/priority awaiting-more-evidence

[2021-02-08 22:57] wfernandes commented on #2479
@vincepri I don't think so. It seems that the referenced issues above have been closed through their respective PRs.
Thanks.
/close

[2021-02-08 22:57] #2479 closed

[2021-02-08 23:08] wfernandes commented on #4156
/assign
/lifecycle active

[2021-02-09 06:41] #4147 closed

[2021-02-09 08:36] furkatgofurov7 commented on #2944
@vincepri this seems a duplication of #3954 and there was #3955 to fix it. However, we might need to backport it to release-0.3, and I can take care of it if needed.

[2021-02-09 09:49] fabriziopandini commented on #2944
AFAIK removal of deprecated features should not be backported

[2021-02-09 09:52] furkatgofurov7 commented on #2944
@fabriziopandini in that case, this can be closed as it is a duplication, IMO.

[2021-02-09 09:55] fabriziopandini commented on #4156
I'm +1 for embedding metadata.yml in the Cluster API release asset for consistency with the providers

Also, now that more changes are merging, I do expect that clusterctl on main branch will stop to being able to install v0.3.x release versions, but this is ok because clusterctl on should work with v0.4.0 and only allow updates from v0.3.x

[2021-02-09 09:56] fabriziopandini commented on #2944
/close

[2021-02-09 09:56] #2944 closed

[2021-02-09 10:03] fabriziopandini commented on #3569
/close
this is being supersede by https://github.com/kubernetes-sigs/cluster-api/issues/4043

[2021-02-09 10:03] #3569 closed

[2021-02-09 13:07] lobziik opened #4165 "Possibility to specify certDir for webhooks"
**User Story**

As a developer I would like to explicitly specify certDir for webhooks for debugging purposes. (e.g quite handy flag with telepresence)
As a administrator I would like to explicitly specify certDir for webhooks for more precise control and observability.

**Detailed Description**
`controller-runtime` allows to specify CertDir for webhooks.
Currently manager relies on default `contr

[2021-02-09 13:18] alexander-demichev commented on #4165
Seems like a good feature for local webhook debugging.

[2021-02-09 13:25] tcordeu commented on #4055
@vincepri I can work on this one tomorrow, sorry for the delay!

[2021-02-09 16:19] vincepri commented on #4156
Let's add a check and return an error.

[2021-02-09 16:20] vincepri commented on #1588
/close

[2021-02-09 16:20] #1588 closed

[2021-02-09 16:30] wfernandes commented on #4156
👍🏽  There's already a check in place that returns the error `failed to get file "metadata.yaml" from "v0.3.14" release`. If this is expected behavior, I'll close out the PR and this issue.

[2021-02-09 16:31] vincepri commented on #4031
@yastij Any updates here?

[2021-02-09 16:31] vincepri commented on #4031
/milestone Next

[2021-02-09 16:31] vincepri commented on #4031
/priority backlog

[2021-02-09 16:32] vincepri commented on #4022
/priority awaiting-more-evidence
/lifecycle rotten

[2021-02-09 16:35] wfernandes commented on #4156
Since we'll be including metadata.yaml in the CAPI release assets moving forward and clusterctl v1alpha4 doesn't support installing v1alpha3 releases, I'm going to close this issue.
/close

[2021-02-09 16:35] vincepri commented on #4156
It'd be great to say "this version isn't supported with this CLI"

[2021-02-09 16:36] vincepri commented on #4156
The error above is a bit cryptic

[2021-02-09 16:36] vincepri commented on #4105
Closing this for now, given that it seems something that should be solved from Velero side. Feel free to reopen if necessary.

/close

[2021-02-09 16:36] #4105 closed

[2021-02-09 16:37] vincepri commented on #4032
/help
/assign @shysank

[2021-02-09 16:37] vincepri commented on #4032
/priority important-soon

We should also probably backport this change.

[2021-02-09 16:39] vincepri commented on #3880
/priority important-soon

[2021-02-09 16:39] wfernandes commented on #4156
Actually, I'll make a PR that includes a metadata.yaml file as part of the `make release-manifests` command in the out directory or any other Makefile commands that's used to generate the release assets.
/reopen

[2021-02-09 16:41] vincepri commented on #3878
@srm09 @tcordeu This issue might have been resolved by https://github.com/kubernetes-sigs/cluster-api/pull/4086

[2021-02-09 16:57] nrb commented on #4105
@vincepri Are users of CAPI expected to only use CAPI tools to manipulate clusters? Because this would be an issue with `kubectl apply`, too. I think a panic on an empty field is still a CAPI controller bug, especially when submitting Kube resources to the API server is not limited to a single client.

Velero can work around it and restore in the proper order, but this is not something we're going

[2021-02-09 17:15] #4004 closed

[2021-02-09 17:45] Jiawei0227 opened #4166 "Install CSI driver by default in preparation of CSI Migration"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

CSI Migration is a Kubernetes feature that when turn on, it will redirect in-tree plugin traffic to the corresponding CSI driver. It has been Beta in k8s since v1.17 without turning on by default.

Recently, we decide to push this feature forward and it will be turn on by default in v1.22 for a lot of plugins according t

[2021-02-09 18:24] srm09 commented on #3878
#4086 might be a better fix that the one I have mentioned in the description. I am down to placing a hold on this, or potentially closing this.

[2021-02-09 18:46] vincepri commented on #3878
I think we can close it, given that I haven't seen this be a problem lately

[2021-02-09 18:54] srm09 commented on #3878
@tcordeu Thanks for the work that you did on the issue. For some reason, I lost track of this issue altogether and did not reach back to you on your questions. Like Vince mentioned, another PR might have solved this bug too, plus we haven't seen this one prop up in test runs recently.
We will close this for now, and track the runs to see if this occurs again.

/close

[2021-02-09 18:54] #3878 closed

[2021-02-09 21:12] wfernandes commented on #4156
This could be done, if the CLI knew that it was a v0.4.x version. However, until we cut a tag for that the CLI will not reflect it. Also, currently if we `make clusterctl` from the main branch the GitVersion is stuck from `v0.3.10-xxx-xxx` because of some git rebase in the past.
And I'd like to avoid specifically checking if the provider versions is v0.3.x since it feels like it's hardcoding speci

[2021-02-10 00:16] CecileRobertMichon commented on #3203
I think the `clusterctl rollout` feature doesn't solve the problem of having to update the image + k8s version for every machine deployment / machine pool / kubeadm control plane that you want to upgrade as a user, although it does give more control on the rollout of machines. It would still be nice to have some sort of higher order "upgrade my cluster" automation. @craiglpeters @devigned and I we

[2021-02-10 00:16] CecileRobertMichon commented on #3203
/remove-lifecycle rotten

[2021-02-10 10:08] fabriziopandini commented on #4156
On my todo:
- clusterctl v1alpha3 should not install v1alpha4 providers/should not work on v1alpha4 cluster
- clusterctl v1alpha4 should not install v1alpha3 providers/should not work on v1alpha3 cluster (except for upgrade)

[2021-02-10 10:15] fabriziopandini commented on #4166
@CecileRobertMichon @nader-ziada @randomvariable @yastij

setting milestone v0.4.0/important soon for now, but probably this should be discussed at the CAPI meeting
/milestone v0.4.0
/priority important-soon
/area

[2021-02-10 10:26] fabriziopandini commented on #4165
/milestone v0.4.0
/priority important-longterm

/lifecycle active

[2021-02-10 11:28] invidian commented on #3430
Hey all, I had a look into #3437 and comments there and I plan to open a replacement PR to solve this issue, but wanted to share my idea for solving it before completing this work.

I would like to propose the following move things forward:

1. Add `format` field to bootstrap `Secret` object, next to `value` field, so Infrastructure providers can automatically identify bootstrap data format and ac

[2021-02-10 12:06] pydctw commented on #2062
thanks for the reminder. Sorry but I didn't have a chance to work on it. I will unassign for now

[2021-02-10 12:06] pydctw commented on #2062
/unassign

[2021-02-10 13:31] invidian commented on #3761
Looking at #3430, maybe CABPK could produce bootstrap data in a generic format, with list of files and commands to run and then some sort of configuration controller would pick it up and convert it to the desired format like cloud-init, Ignition, Puppet module, Ansible playbook etc. ? Configuration controller could also expose it's own technology-specific knobs which would be added to the configur

[2021-02-10 15:09] yastij commented on #4022
@vincepri - should we have a different issue to discuss controlling the scaling pace ?

[2021-02-10 15:39] vincepri commented on #4022
Shouldn't the scaling be determined from the amount of reconciled resources specified in the controller?

[2021-02-10 17:58] MarcelMue commented on #3430
I personally think that the suggestion made by @invidian is quite sound. It would make life for ignition users a lot simpler and offers a nice basis for integration.
I am not very opinionated about the proposed extensions of kubeadmConfigSpec.

[2021-02-10 18:26] invidian commented on #3430
Opened PR with changes proposed above: https://github.com/kubernetes-sigs/cluster-api/pull/4172.

[2021-02-10 22:03] tcordeu commented on #4055
@vincepri I have a difficult schedule this month due to university and work, so I am going to unassign myself from this issue so that someone can pick it up!

/unassign

[2021-02-11 06:18] prankul88 commented on #4055
Hi, I can try to do a quick PR for this.
/assign

[2021-02-11 09:17] fabriziopandini commented on #3686
/remove-lifecycle stale
This could be a nice cleanup

[2021-02-11 09:17] fabriziopandini commented on #3512
/remove-lifecycle stale
this is being worked

[2021-02-11 09:18] fabriziopandini commented on #3512
/assign @jan-est
/lifecycle active

[2021-02-11 09:22] fabriziopandini commented on #2062
@CecileRobertMichon, does https://github.com/kubernetes-sigs/cluster-api/pull/4160 fixes this problem?

[2021-02-11 14:28] jdef commented on #2083
I see this was closed, are there follow-up issues that should be linked here (because I'm probably interested in following them more closely).

[2021-02-11 16:13] CecileRobertMichon commented on #2062
It doesn't. I can take that one separately though since I'm already in that area.

/assign

[2021-02-11 16:49] vincepri commented on #3547
/lifecycle frozen

[2021-02-11 16:49] vincepri commented on #3547
/milestone Next

[2021-02-11 17:02] shysank opened #4177 "remove DNS Type field from DNS spec"
**User Story**

#2083 was created to make kcp spec fully mutable. But, since it's difficult to track every spec mutation in a single pr, we wanted to start with a few specs that were important, and move from there. As part of #3994 , the following specs in kcp were made mutable:
- APIServer
- ControllerManager
- Scheduler

This story aims to track the `DNS` settings in KCP

**Detailed Description*

[2021-02-11 17:07] shysank opened #4178 "Networking settings in KubeadmControlPlane Spec should be mutable"
**User Story**

#2083 was created to make kcp spec fully mutable. But, since it's difficult to track every spec mutation in a single pr, we wanted to start with a few specs that were important, and move from there. As part of #3994 , the following specs in kcp were made mutable:
- APIServer
- ControllerManager
- Scheduler

This story aims to track the `Networking` settings in KCP

**Detailed Descr

[2021-02-11 17:10] shysank opened #4179 "CertificatesDir in KubeadmControlPlane Spec should be mutable"
**User Story**

#2083 was created to make kcp spec fully mutable. But, since it's difficult to track every spec mutation in a single pr, we wanted to start with a few specs that were important, and move from there. As part of #3994 , the following specs in kcp were made mutable:
- APIServer
- ControllerManager
- Scheduler

This story aims to track the `CertificatesDir` settings in KCP

**Detailed

[2021-02-11 17:12] shysank opened #4180 "FeatureGates in KubeadmControlPlane Spec should be mutable"
**User Story**

#2083 was created to make kcp spec fully mutable. But, since it's difficult to track every spec mutation in a single pr, we wanted to start with a few specs that were important, and move from there. As part of #3994 , the following specs in kcp were made mutable:
- APIServer
- ControllerManager
- Scheduler

This story aims to track the `FeatureGates` settings in KCP

**Detailed Des

[2021-02-11 17:13] shysank opened #4181 "UseHyperKubeImage setting in KubeadmControlPlane Spec should be mutable"
**User Story**

#2083 was created to make kcp spec fully mutable. But, since it's difficult to track every spec mutation in a single pr, we wanted to start with a few specs that were important, and move from there. As part of #3994 , the following specs in kcp were made mutable:
- APIServer
- ControllerManager
- Scheduler

This story aims to track the `UseHyperKubeImage` settings in KCP

**Detaile

[2021-02-11 17:16] shysank commented on #2083
@jdef I've created issues for tracking individual items in kcp that are still immutable. Feel free to create new issues if I missed anything.
/cc @vincepri

[2021-02-11 17:21] neolit123 commented on #4181
note that usage of hyperkube with kubeadm deprecated in 1.17.
probably a better idea to just leave this field without any special treatment on the CAP* side.

[2021-02-11 17:36] vincepri commented on #4181
We might want to remove this field from the v1alpha4 super-types cc @fabriziopandini

[2021-02-11 17:36] vincepri commented on #4181
/milestone v0.4.0

[2021-02-11 17:38] neolit123 commented on #2083
note that making some of the fields mutable and changing their values, can have strange effects on a running cluster.
some on-the-fly changes in the kubeadm ClusterConfiguration are simply not supported.

- networking - unclear, but likely changing this is not recommended
- dns - ditto
- certificatesDir - this seems fine
- featureGates - these currently only include dual-stack and ecdsa key suppor

[2021-02-11 17:39] neolit123 commented on #4178
see my comment here about summary on some of these fields:
https://github.com/kubernetes-sigs/cluster-api/issues/2083#issuecomment-777667073

[2021-02-11 17:40] vincepri commented on #4180
/milestone v0.4.0

[2021-02-11 17:49] invidian opened #4182 "Consider not using -v when running tests"
**What steps did you take and what happened:**
While developing (e.g. adding new feature or refactoring) and running unit tests, there is always very extensive output, which makes it hard to spot where the issue is, one must scroll trough all the output to find the error message.

**What did you expect to happen:**

Running `make test` should only produce logs for tests which failed.

**Anything e

[2021-02-11 17:59] invidian opened #4183 "Can't run tests multiple times using "go test -count N" when finding flaky tests"
**What steps did you take and what happened:**
It seems `make test TEST_ARGS='-count 2'` always fails for me when running on bfc1498d363b90f8c695aca2ba4f19d57d60ceca

**What did you expect to happen:**
`make test TEST_ARGS='-count 2'` should always pass.

**Anything else you would like to add:**
I was getting at least 3 different errors when trying that, so I'm not sure if it make sense to post th

[2021-02-11 18:04] vincepri commented on #4183
Tried this locally, and I get a single error:

[code]

Did you get anything else?

[2021-02-11 18:09] invidian commented on #4183
IIUC, when you scroll up, I can also find:
[code]

And:
[code]

Perhaps running it per package would be easier to trace them down.

[2021-02-11 18:14] #4156 closed

[2021-02-11 18:22] invidian opened #4184 "Tearing down test suite for "controllers" package is flaky"
**What steps did you take and what happened:**
Running `while make test TEST_ARGS='-count 1' ; do sleep 1; done` or with modified `Makefile` to run tests for `./controllers/` instead of `./...` sometimes (for me it failed after 2 tries) fails with the following error message:
[code]

**What did you expect to happen:**
Tests should be reliable and pass every time OR tearing down test suite should n

[2021-02-11 18:25] vincepri commented on #4184
Hm, this should have been fixed with the update on CR v0.8.2

[2021-02-11 18:30] vincepri commented on #4183
Found some of them, (didn't get the stack trace / panic). The main issue is that these are not only unit tests, but also integration tests which spin up a local Kubernetes api-server and etcd. There are parts of the codebase that aren't using random names, and therefore there are going to be conflict. Given that controllers are eventually consistent (backed by a cache), this might happen more ofte

[2021-02-11 18:35] vincepri commented on #4184
Actually, v0.8.2 fixed part of the issue. We'll need https://github.com/kubernetes/kubernetes/pull/98922 to get merged and a new release of controller runtime.

/milestone v0.4.0
/assign

[2021-02-11 18:37] vincepri commented on #4182
+1 with the suggestion.

We could also have a different make target `make test-verbose` if we want to facilitate

[2021-02-11 18:38] vincepri commented on #4182
/milestone v0.4.0
/good-first-issue

[2021-02-11 18:42] invidian opened #4185 ""make generate" writes generated code to GOPATH/src and removes files from tree"
**What steps did you take and what happened:**
Running `make generate` for me writes files to `$GOPATH/src` instead of the current working directory.

To reproduce:
[code]

Logs from my run:
[code]

**What did you expect to happen:**

Generate on freshly cloned repo behaves as expected.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

Pl

[2021-02-11 19:39] fmuyassarov commented on #4185
We had the same issue, and were asking the same on the [slack](https://kubernetes.slack.com/archives/C8TSNPY4T/p1610718111005800). We realized that, if clone the CAPI into the GOPATH, then you don't have this issue. As long as cloning happens outside of the GOPATH, then those auto-generated (zz) files get deleted.

[2021-02-11 19:41] fmuyassarov commented on #4185
But I'm not sure, if it is a strict requirement/prerequisite that CAPI has to be cloned within the GOPATH

[2021-02-11 19:58] invidian commented on #4185
Thanks @fmuyassarov. I think I actually experienced the same issue while working on Gardener. Perhaps this is a generic issue with the generator binaries then.

It would be nice to have a safety check in Makefile or have it documented, so new people don't run in that :)

[2021-02-11 20:20] mig4 commented on #1477
Hi! I was about to open an issue to spark some discussion around exposing some simple metrics and I found this so I thought I'll check here first. We're building some observability tooling / alerting around Cluster API and we were looking for some really basic info to get started like what clusters are defined and provisioned.

So e.g. in our case we provision some associated resources for each de

[2021-02-11 20:27] vincepri commented on #4185
We should probably fix it to allow the repo to be cloned. Although IIRC this is a limitation in the generation code which is a dependency we have, not something we own.

[2021-02-12 13:27] MarcelMue commented on #4182
/assign

[2021-02-13 22:45] Arvinderpal commented on #3486
@vincepri @detiber I have the PR ready. PTAL
https://github.com/kubernetes-sigs/cluster-api/pull/4174

[2021-02-14 02:00] enyinna1234 opened #4190 "Remove Cert-Manager Deployment from Developer Guide"
**What steps did you take and what happened:**
The developer guide asks to deploy cert-manager here: https://cluster-api.sigs.k8s.io/developer/guide.html#cert-manager.
This doesn't appear to be necessary because 'Clusterctl init' seems to take care of installing cert-manager.

**What did you expect to happen:**
I did not expect to have cert manager already installed.

**Anything else you would lik

[2021-02-14 02:21] enyinna1234 commented on #4190
@fabriziopandini it's related to #4110
If you assign it to me, I can fix it

[2021-02-15 11:01] fabriziopandini commented on #4190
@enyinna1234 I don't think the cert-manager installation step should be removed from this guide, but instead it could be useful to add the following notes in the cert-manager installation parragraph:

- cert-manager installation could be skipped if planning to use Kind (it is still required if you are planning to go for "the Old-fashioned way")
- the version of cert-manager should match the versio

[2021-02-15 11:02] fabriziopandini commented on #3486
/lifecycle active

[2021-02-15 11:13] fabriziopandini commented on #4182
/lifecycle active

[2021-02-15 11:40] fabriziopandini commented on #4180
Due to the nature of kubeadm FeatureGates, it is really tricky to make this mutable because there is not a clear/stable definition of what the mutation really impacts on, so you can't really be sure the change will be successfully applied after rollout.

Let's make an example:

- kubeadm introduces FeauteGates X which requires the creation of a new RBAC rule to be generated by kubeadm init.
- chan

[2021-02-15 11:42] fabriziopandini commented on #4181
+1 for removal.

[2021-02-15 12:31] fabriziopandini commented on #4179
I would like to better understand the use case for making this mutable because it would be nice if we can keep this consistent in a cluster so it will be easier to support certificate rotation (with an external tool for now, might be in the future in CAPI or with the kubeadm-operator).

[2021-02-15 12:33] fabriziopandini commented on #4178
Agreed, this requires having some sequence diagram to properly understand impacts on components not touched by kubeadm join (e.g. DNS, proxy on existing machines, etc)

[2021-02-15 12:37] fabriziopandini commented on #4177
AFAIK currently Cluster API/kubeadm only support CoreDNS, so I'm not really sure what are the expectation here..

[2021-02-15 13:59] fabriziopandini opened #4191 "clusterctl v1alpha4 should not install/manage v1alpha3 management cluster"
**User Story**

As an operator, I would like clusterctl to have version checks in place so to prevent prevents potentially destructive operations due to version skew.

**Detailed Description**

Cluster API v1alpha4 is introducing changes in how providers are deployed (see e.g webhooks running with manager).

As a consequence, we should make sure that version checks are in place so to prevent preve

[2021-02-15 14:00] fabriziopandini commented on #4191
/milestone v0.4.0

/area clusterctl
/priority important-soon

/assing
/lifecycle active

[2021-02-15 14:02] fabriziopandini opened #4192 "clusterctl v1alpha3 should not install/manage v1alpha4 management cluster"
**User Story**

As an operator, I would like clusterctl to have version checks in place so to prevent prevents potentially destructive operations due to version skew.

**Detailed Description**

Cluster API v1alpha4 is introducing changes in how providers are deployed (see e.g webhooks running with manager).

As a consequence, we should make sure that version checks are in place so to prevent preve

[2021-02-15 14:02] fabriziopandini commented on #4192
/milestone v0.3.x

/area clusterctl
/priority important-soon

/assing
/lifecycle active

[2021-02-15 14:13] invidian opened #4193 ""tilt down" leaves orphan cert-manager namespace"
**What steps did you take and what happened:**
1. `tilt up`
2. `tilt down`

`cert-manager` namespace created by `tilt up` is not cleaned up by running `tilt down`. Note that other namespaces used by CAPI are being removed.

**What did you expect to happen:**
I'd expect all resources created by `tilt up` will get removed once `tilt down` is executed.

**Anything else you would like to add:**
It see

[2021-02-15 14:15] fabriziopandini opened #4194 "Implement clusterctl v1alpha3 --> v1alpha4 extra steps"
**User Story**

As an operator, I would like to use clusterctl to upgrade my management cluster from v1alpha3 to v1alpha4.

**Detailed Description**

Cluster API v1alpha4 is introducing changes in how providers are deployed (see e.g webhooks running with manager).

This requires that clusterctl detects when we are performing a v1alpha3 to v1alpha4 upgrade and execute some extra steps:

- block if

[2021-02-15 14:15] fabriziopandini commented on #4194
/milestone v0.4.0

/area clusterctl
/priority important-soon

[2021-02-15 18:09] fabriziopandini commented on #4193
/milestone v0.4.0
/priority backlog

Ideally, this should go in the tilt extension we are using for managing cert-manager...

[2021-02-16 15:32] invidian commented on #4182
I saw that other CAPI providers also use `-v`. I wonder how the process looks like to roll that to other repositories as well.

[2021-02-16 15:35] vincepri commented on #4182
Issue + PRs, that should be enough, although we are not prescriptive for providers, maintainers there might prefer different approaches

[2021-02-16 15:38] vincepri commented on #4193
For development it's probably fine to clean up cert-manager, but what if cert-manager is being used for other things outside of Cluster API?

[2021-02-16 15:43] vincepri commented on #4190
/milestone v0.4.0

[2021-02-16 15:55] vincepri commented on #4177
We probably we'll want to remove the option to switch between dns providers, and force CoreDNS (like we do today)

[2021-02-16 16:54] shysank opened #4197 "Backport MHC paused machine fix to 0.3"
Backport #4168 which fixes #4032

On hold until #4168 is merged.

/kind bug

[2021-02-16 18:05] enyinna1234 commented on #4190
@fabriziopandini In the guide, for when cert-manager installation is needed, can we also point to the cert-manager install documentation instead of having install steps in the guide? In case the person needs to verify or troubleshoot.
Install documentation: https://docs.cert-manager.io/en/release-0.11/getting-started/install/kubernetes.html#

[2021-02-16 18:29] rsmitty opened #4198 "Clusterctl "no-op" no longer working during init"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

Doing `clusterctl init -b '' -c ''...` no longer skips installing the kubeadm components. Doing this is useful for testing my own controlplane and bootstrap providers.

Example:

[code]

**What did you expect to happen:**

Deployment of anything with empty string gets skipped so I'm left

[2021-02-16 18:29] rsmitty commented on #4198
cc @fabriziopandini because I *think* he's the one that does a lot of the clusterctl hacking.

[2021-02-17 10:24] fabriziopandini commented on #4198
/area clusterctl
/priority important-soon

We should definitely add a unit test to ensure this behavior gets preverved.

@rsmitty  is this happening on v0.3.x releases or on the main branch?

[2021-02-17 15:00] rsmitty commented on #4198
latest release for me. v0.3.14

[2021-02-17 16:49] vincepri commented on #4198
/milestone v0.4.0
+ backport

[2021-02-17 16:55] fabriziopandini commented on #4198
It seems there is already a test for this and it is passing 🤔

https://github.com/kubernetes-sigs/cluster-api/blob/65e5385bffd71bf4aad3cf34a537f11b217c7fab/cmd/clusterctl/client/init_test.go#L289-L318

[2021-02-17 16:59] fabriziopandini commented on #4198
The only thing I notice is that it is using "-", while in the example above you are using "".
This is also consistent with https://cluster-api.sigs.k8s.io/clusterctl/commands/init.html#is-it-possible-to-skip-automatic-install, so it does not seems a regression to me

/remove-kind bug
/remove-priority  important-soon
/priority awaiting-more-evidence

[2021-02-17 17:02] rsmitty commented on #4198
Oh good grief, I could have sworn empty string was the proper way to specify it. I'll make sure I switch to the dash. Thanks for looking!

[2021-02-17 17:02] #4198 closed

[2021-02-17 17:06] prankul88 commented on #3422
@wfernandes Hi, I wanted a suggestion from you, if you can help. To fetch the default values from the template should I prefer making a separate function (Eg, func DefaultValues) and use it [here](https://github.com/kubernetes-sigs/cluster-api/blob/master/cmd/clusterctl/cmd/config_cluster.go#L190-L197) or rather make [Variables](https://github.com/kubernetes-sigs/cluster-api/blob/master/cmd/cluste

[2021-02-17 20:44] shysank commented on #4194
/assign

[2021-02-18 09:22] fabriziopandini commented on #4194
@shysank, after discussion at yesterday office ours, "convert providers.clusterctl.cluster.x-k8s.io objects from v1alpha3 to v1alpha4" is not required anymore.

Instead, there is this check to be done before actually executing the upgrade
- block if there are multiple instances of the same provider in the cluster

[2021-02-18 10:03] fabriziopandini opened #4201 "Migrate clusterctl types to CAPI operator types"
**User Story**

As an operator, I would like to CAPI & clusterctl to have all the types at the same release to avoid confusion.

**Detailed Description**

In clusterctl there is the `Provider` and `Metadata` types under the `clusterctl.cluster.x-k8s.io/v1alpha3` GV.

The original plan was to convert towards the new CAPI operator types, but given that (most probably) this is not happening in the v1

[2021-02-18 10:03] fabriziopandini commented on #4201
/area clusterctl
/milestone next

[2021-02-18 11:01] #3663 closed

[2021-02-18 15:03] wfernandes commented on #3422
@prankul88 Changing the `Variables() []string` definition would mean a change in the interface and which is not ideal but it may not be a non-blocker for v0.4.x since the main clusterctl API wouldn't be affected (_I think_).

I suggest moving towards the first option for now and see what the reviewers think. Some points to also think about is ensuring the list of variables is ordered so it's easie

[2021-02-18 16:06] vincepri commented on #3845
/lifecycle frozen

[2021-02-18 16:07] vincepri commented on #3876
/lifecycle frozen

[2021-02-18 16:07] vincepri commented on #3876
/milestone Next
/priority backlog

[2021-02-18 16:07] vincepri commented on #3555
/lifecycle frozen

[2021-02-18 16:07] vincepri commented on #3555
/milestone Next

[2021-02-18 16:08] vincepri commented on #3555
/priority backlog

[2021-02-18 16:08] vincepri commented on #4197
/milestone v0.3.x

[2021-02-18 16:08] vincepri commented on #4193
/help

[2021-02-18 16:20] #4032 closed

[2021-02-18 16:29] fabriziopandini opened #4203 "Align kubeadm types"
**Detailed Description**

cluster API has a copy of kubeadm API types for version v1beta1 and v1beta2

The copy of the types for v1beta1 over time was changed for improving serialization output by adding a set of `+optional`/`omitempty` fixes.

We should now apply these changes to the copy of the types for v1beta2 as well.

**Anything else you would like to add:**

copy of the types for v1beta2 is

[2021-02-18 16:29] fabriziopandini commented on #4203
/area bootstrap
/milestone v0.4.0

/assign
/lifecycle active

[2021-02-18 16:38] #4165 closed

[2021-02-18 17:00] fabriziopandini opened #4205 "capi-e2e MachinePools test is failing"
See https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api#capi-e2e-main

capi-e2e.When testing MachinePools is failing while waiting for the cluster to be provisioned

[code]

/kind flake

[2021-02-18 17:01] fabriziopandini commented on #4205
/area testing
/priority important soon
/milestone v0.4.0

/help

[2021-02-18 17:04] shysank commented on #4197
/assign

[2021-02-18 17:21] neolit123 commented on #1584
linking to the upstream kubelet issue about migrating flags to config:
https://github.com/kubernetes/kubernetes/issues/86843

[2021-02-18 17:48] #4203 closed

[2021-02-18 18:17] CecileRobertMichon commented on #2063
Actually did this in #4160

[2021-02-18 18:22] vincepri commented on #4205
@shysank @sedefsavas Would you be able to debug this issue?

[2021-02-18 19:15] sedefsavas commented on #4205
Yes, I will take a look.
/assign

[2021-02-19 01:52] wangzewang commented on #3880
I'd like to work on this.
/assign

[2021-02-19 09:37] fabriziopandini commented on #3880
/lifecycle active

[2021-02-19 14:37] sedefsavas opened #4209 "Revisit changes to using non-pointer types for slices"
During controller-runtime v0.8.1 upgrade, we had to change []* types to non-pointer slices due to a conversion-gen issue.
This change is needed also in the controllers.

Using pointer types with slices makes especially `patch` operations very easy.

Opening this issue to track if new controller-gen versions fix this problem and we can revert this requirement.

[2021-02-19 15:07] fabriziopandini opened #4210 "Restore conversion tests"
Fuzzer tests provide a signal about API types conversion, but currently we are skipping spoke-hub-spoke conversion tests (see https://github.com/kubernetes-sigs/cluster-api/issues/3923 for background)

We should restore those conversions in order to get a proper signal about v1alpha3 <-> v1alpha4 type conversions.

/kind failing-test
/milestone v0.4.0
/priority important-soon

/assign
/lifecycle a

[2021-02-19 15:41] vincepri commented on #4209
Should we open an issue in controller gen rather than here? How does the patch operation become easier with a pointer slice?

[2021-02-19 15:54] #4210 closed

[2021-02-19 17:32] vincepri commented on #2599
/milestone v0.4.x

[2021-02-19 17:32] vincepri commented on #2646
Do we have anyone that can rename this field before v0.4.0 is released? @dlipovetsky ?

[2021-02-19 17:34] vincepri commented on #3227
/milestone v0.4.x

[2021-02-19 17:34] vincepri commented on #3280
/milestone Next

[2021-02-19 17:36] vincepri commented on #3269
/assign
/lifecycle active

[2021-02-19 18:00] vincepri commented on #4193
/milestone v0.4.x

[2021-02-19 18:00] vincepri commented on #3354
@fabriziopandini Do we still need this issue?

[2021-02-19 18:01] vincepri commented on #1477
/milestone v0.4.x

[2021-02-19 18:01] vincepri commented on #3360
@fabriziopandini Can we do this before v0.4.0 release? Seems could be a breaking change.

[2021-02-19 18:02] vincepri commented on #2182
/milestone Next

[2021-02-19 18:02] vincepri commented on #3425
@fabriziopandini This is something to consider for CABPK, although not sure how we'd go about enforcing it.

[2021-02-19 18:03] vincepri commented on #3424
@CecileRobertMichon @devigned Should we do this in v0.4.0, as release blocker?

[2021-02-19 18:04] vincepri commented on #2934
@voor @detiber Is there any updates here?

/milestone Next

[2021-02-19 18:04] vincepri commented on #3420
/milestone Next

[2021-02-19 18:05] vincepri commented on #3095
/milestone Next

[2021-02-19 18:07] vincepri commented on #2826
/milestone v0.4.x

[2021-02-19 18:07] vincepri commented on #2960
/milestone v0.4.x

[2021-02-19 18:30] vincepri commented on #3760
/milestone Next

[2021-02-19 18:30] vincepri commented on #3415
/milestone v0.4.x

[2021-02-19 18:39] vincepri commented on #3763
/milestone v0.4.x

[2021-02-19 18:41] CecileRobertMichon commented on #3798
/unassign @ncdc

[2021-02-19 18:44] CecileRobertMichon commented on #3425
/kind documentation

let's document best practice in v1alpha4 + warn users if no control plane ref exists in the cluster.
In vNext we should enforce that all control plane machines are owned by a control plane object (eg. KCP).

[2021-02-19 18:45] CecileRobertMichon commented on #3425
/milestone v0.4.x
/help

[2021-02-19 18:54] sedefsavas commented on #4209
I mean when we pass the pointer slice to a function that pases pointers to another function that modifies it, we don't need to go back to slice and find that object and replace it.
I came across an example of this during the fix https://github.com/kubernetes-sigs/cluster-api/pull/4208:
https://github.com/kubernetes-sigs/cluster-api/blob/bc756c4e7ed08313413c1300859bd4dceeccb25a/test/infrastructure/

[2021-02-19 18:57] vincepri commented on #4209
We should open an issue in controller-gen, yeah

[2021-02-19 19:24] sedefsavas commented on #4209
Opened an issue in code-gen repo: https://github.com/kubernetes/code-generator/issues/120
Closing this.

[2021-02-19 19:25] sedefsavas commented on #4209
Actually reopening this, there is additional work for us if they fix it.

[2021-02-19 22:07] CecileRobertMichon commented on #4209
/cc @nader-ziada

[2021-02-19 23:15] benmoss commented on #3763
@enyinna1234 sorry for the delay, I think in my case this was being logged [here](https://github.com/kubernetes-sigs/cluster-api/blob/953ad253ee2bc169ddda765efe5851c30ffb1def/controllers/machine_controller_noderef.go#L177). The issue is that klog had a bug that got fixed a while ago but this project hasn't bumped it's klog dependency in a while

[2021-02-20 17:41] #3384 closed

[2021-02-21 19:31] fmuyassarov commented on #4193
Perhaps we could add a label to cert-manager namespace within tilt extension for the cert-manager, and add a command to remove the cert-manager namespace in CAPI Tiltfile if the cert-manager has the label.

[2021-02-21 19:35] invidian commented on #4193
Hmm, actually CRDs should also be removed.

[2021-02-21 19:47] fmuyassarov commented on #4193
Maybe we could do

[code]
The problem with this is that we will need to make sure that cert-manager version in CAPI Tiltfile is always in sync with version set in [tilt-extension](https://github.com/tilt-dev/tilt-extensions/blob/2d72dabfb798de90a2a7197dc7f98ff88822bd75/cert_manager/Tiltfile#L29).

[2021-02-22 04:15] vincepri commented on #3653
/lifecycle frozen

[2021-02-22 08:43] #4205 closed

[2021-02-22 10:42] prankul88 commented on #3422
@wfernandes Thanks for the feedback !! :)

[2021-02-22 10:55] #3269 closed

[2021-02-22 15:15] #4182 closed

[2021-02-22 17:42] shyaamsn opened #4218 "Clusterresourceset secret predicates always filters out secret resources"
**What steps did you take and what happened:**
Inspect cluster resource set predicates code and found that it always returns false since the object is not of type Secret but PartialObjectMetadata.

https://github.com/kubernetes-sigs/cluster-api/blob/master/exp/addons/controllers/predicates/resource_predicates.go#L47

**What did you expect to happen:**
Predicate function to return true if secret is

[2021-02-22 21:29] vincepri commented on #4218
We should probably inspect the GVK rather than trying to cast.

/milestone v0.4.0
/priority important-soon

[2021-02-23 02:39] binchenX commented on #2275
I'm still seeing error:
[code]

[2021-02-23 03:02] binchenX opened #4222 "no matches for kind "Certificate" in version "cert-manager.io/v1"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
[code]

**What did you expect to happen:**

init was successfully

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

- The issue can be worked around replacing `cert-manager.io/v1` with `cert-manager.io/v1alpha2` in the generated d

[2021-02-23 03:06] binchenX opened #4223 "Internal error occurred: failed calling webhook "validation.dockermachinetemplate.infrastructure.cluster.x" etc"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

I originally commented in the issue in https://github.com/kubernetes-sigs/cluster-api/issues/2275#issuecomment-783837280 but since https://github.com/kubernetes-sigs/cluster-api/issues/2275 was closed, a new issue is created to track it.

[code]

**What did you expect to happen:**
work cl

[2021-02-23 10:22] fabriziopandini opened #4224 "Upgrade cert-manager to version 1.x on the v1alpha3 branch"
With https://github.com/kubernetes-sigs/cluster-api/pull/4013 we are now using cert-manager 1.1.0 on the v1alpha4 branch, taking benefit from better stability and reducing impact/simplify considerations about cert-manager upgrades

We should backport these changes to the v1alpha3 branch as well

/kind feature
/milestone v0.3.x

/area clusterctl
/area dependency
/priority important-soon