[2020-08-03 15:36] ncdc commented on #3395
If the patch helper updated the object being patched (`kcp` in this case) with the latest information returned by the apiserver after the `PATCH` call, would that help at all?

[2020-08-03 15:36] vincepri commented on #3435
/milestone v0.3.9

[2020-08-03 15:49] detiber commented on #2997
/lifecycle frozen

[2020-08-03 16:21] Arvinderpal opened #3439 "clusterctl rollout"
As an operator I would like a convenient and consistent mechanism through which I can rollout updates to my control-plane and worker nodes.

As an operator I would like to inspect a rollout as it occurs, rollback changes if needed and view the rollout history.

**Detailed Description**

Motivated by [`kubectl rollout`](https://kubernetes.io/docs/reference/kubectl/cheatsheet/#updating-resources).

[2020-08-03 16:28] vincepri commented on #3439
+1 this feature makes sense, we might need a small RFE/proposal

[2020-08-03 16:29] Arvinderpal commented on #3439
Common usage patterns may include:
1. Immediate Rollouts:
[code]
2. Rollout based on specific infra machine template. For example, modify the existing MachineDeployment to reference the new infra (e.g. docker) machine template resource. It's assumed that the user has created the `my-cluster-md-0-rev-1` beforehand:
[code]
3. Monitor status:
[code]
4. Rollback to the previous deployment or a specifi

[2020-08-03 16:31] vincepri commented on #3395
I don't think we necessarily need to fix all of these in v0.3.x if we're planning to move to server side apply in v1alpha4

[2020-08-03 16:35] #3418 closed

[2020-08-03 16:39] Arvinderpal commented on #3439
More than happy to put together a proposal and a POC if we agree that this is the right way to go about this.

[2020-08-03 16:40] vincepri commented on #3438
/priority awaiting-more-evidence
/milestone Next

+1 to closing, seems the docs are up to date

[2020-08-03 16:41] vincepri commented on #2770
Could we also detect if a token is expired (for some reason) and generate a new one?

[2020-08-03 16:41] vincepri commented on #3439
cc @wfernandes @fabriziopandini

/milestone v0.4.0

[2020-08-03 16:42] detiber commented on #3439
+1 from me to the high level approach for a near term solution to the problem. It might make sense to also propose support in upstream Kubernetes/kubectl/kubebuilder for a sub-resource type interface so that we could eventually have direct support in `kubectl` similar to the way we have with the scale subresource today.

[2020-08-03 16:48] wfernandes opened #3440 "kubectl get providers column mismatch"
**What steps did you take and what happened:**
After running a `clusterctl init` command against a cluster, we can use `kubectl get providers -A` to see the list of installed providers.
[code]
However, the `TYPE` column is empty and the `PROVIDER` column has the type value.

**What did you expect to happen:**
I expect to see the `TYPE` column to have the values such as `InfrastructureProvider` and

[2020-08-03 16:48] wfernandes commented on #3440
/good-first-issue
/help

[2020-08-03 16:49] detiber commented on #2770
Potentially, but my concern there would be around what happens for anything that may be attempting to use that bootstrap token, we don't really have a way to update it for anything that may be in the process of bootstrapping. Probably not much of a concern if we are talking about MachineDeployments/MachineSets/Machines, since an appropriately deployed MHC should "fix" things up eventually.

It mig

[2020-08-03 16:50] vincepri commented on #2770
I was thinking about MachinePool yeah, that might be a separate issue though

[2020-08-03 16:51] ykakarap commented on #3440
/assign @ykakarap

[2020-08-03 16:52] fabriziopandini commented on #3439
I'm ok with the proposal but I agree with @detiber that the long term solution is to make this to work in kubectl

[2020-08-03 17:16] sedefsavas commented on #3400
Revisiting this issue: what are the thoughts about limiting the number of attempts? Are there any cases which we would want to retry without limiting?
cc @andrewsykim @ncdc

[2020-08-03 17:23] sedefsavas commented on #3399
One use case here where we would not want the resource to be deleted after CRS is deleted is CNI ConfigMaps.

IMO, since resources are created without any relation to CRS objects, their deletion can also be out of scope of CRS controller.

cc @andrewsykim

[2020-08-03 17:31] ncdc commented on #3400
It's easier to start without any limiting, right? Maybe start with that, and we can add limiting later if it becomes an issue?

[2020-08-03 17:34] sedefsavas commented on #3400
Reconciling on errors without any limiting PR is already merged: https://github.com/kubernetes-sigs/cluster-api/pull/3402

Want to make sure if we want to limit retries.

[2020-08-03 17:36] vincepri commented on #2993
/milestone v0.4.0

[2020-08-03 17:39] #2391 closed

[2020-08-03 17:39] vincepri commented on #2997
/kind documentation
/milestone v0.3.9

We won't fix this in v0.4.x given that we're planning on supporting multi-tenancy clusters with a single controller deployment.

[2020-08-03 17:40] vincepri commented on #3000
/priority important-longterm
/milestone v0.3.9

[2020-08-03 17:40] vincepri commented on #3000
/assign @CecileRobertMichon

[2020-08-03 17:42] vincepri commented on #3026
/milestone v0.3.9
/priority important-soon
/help

[2020-08-03 17:44] vincepri commented on #3013
Closing this now that the kind v0.8.x instructions have been merged.

/close

[2020-08-03 17:44] #3013 closed

[2020-08-03 17:45] vincepri commented on #3043
/close

In favor of #2997

[2020-08-03 17:45] #3043 closed

[2020-08-03 17:46] vincepri commented on #3315
/milestone v0.3.9
@sedefsavas are you still working on this?

[2020-08-03 17:46] vincepri commented on #3073
/close

[2020-08-03 17:46] #3073 closed

[2020-08-03 17:50] vincepri commented on #3081
/milestone v0.4.0

[2020-08-03 17:50] Arvinderpal commented on #3367
The single control plane upgrades are possible. The problem is also there with 3 control plane nodes.

I'll try to dig in some more but for the time being, I think it's good that we have documented this for others that may come across this problem. And there are some workarounds that I suggested earlier.

[2020-08-03 17:51] vincepri commented on #3090
/assign @fabriziopandini
/milestone v0.3.9

[2020-08-03 17:52] andrewsykim commented on #3400
I'm in favor of no limits and adding it later if there's a use-case.

[2020-08-03 17:53] vincepri commented on #3091
/milestone v0.3.9
/assign @randomvariable

[2020-08-03 17:56] fabriziopandini commented on #2976
@benmoss wrote up a doc explaining the design goals of this feature here: https://docs.google.com/document/d/1hJza3X-XbVV_yczB5N6vXbl_97D0bOVQ0OwGovcnth0/edit?usp=sharing

[2020-08-03 17:57] vincepri commented on #2976
/milestone v0.3.9

[2020-08-03 17:59] andrewsykim commented on #3399
+1 to this, since CRS does not inherently create/manage ConfigMaps or Secrets but only references them, it doesn't make sense to delete those resources when the CRS is also deleted.

[2020-08-03 18:00] vincepri commented on #3095
/milestone v0.4.0

[2020-08-03 18:01] vincepri commented on #3096
/milestone v0.4.0

[2020-08-03 18:01] vincepri commented on #3096
/priority backlog

[2020-08-03 18:01] vincepri commented on #3097
/milestone v0.4.0
/priority backlog

[2020-08-03 18:03] vincepri commented on #3119
/milestone v0.4.0

[2020-08-03 18:04] vincepri commented on #3127
/milestone v0.4.0

[2020-08-03 18:06] Arvinderpal commented on #3342
Interesting. Hopefully the upgrade to 0.8 will be smooth :wink:
I documented the issue I was seeing in: https://github.com/kubernetes-sigs/cluster-api/issues/3367
I'll close this issue.

[2020-08-03 18:06] #3342 closed

[2020-08-03 18:06] vincepri commented on #3127
Let's switch to a condition / reason message for Ready to present this information to users, this will be fixed in #3138

/close

[2020-08-03 18:06] #3127 closed

[2020-08-03 18:07] vincepri commented on #3134
/kind cleanup
/milestone v0.4.0

[2020-08-03 18:07] vincepri commented on #3138
/milestone v0.4.0

[2020-08-03 18:07] vincepri commented on #3138
/priority important-soon

[2020-08-03 18:08] vincepri commented on #3197
I haven't seen this test flake for a while, we've bumped the CPU resources in https://github.com/kubernetes/test-infra/pull/18439/files#diff-8a5ab388e841ca8104e53674fede6032L75-L118

/close

[2020-08-03 18:08] #3197 closed

[2020-08-03 18:09] vincepri commented on #3230
/milestone v0.4.0

[2020-08-03 18:10] vincepri commented on #3230
/priority important-soon

[2020-08-03 18:15] vincepri commented on #2976
/milestone v0.4.0

[2020-08-03 18:16] vincepri commented on #2976
We've discussed during a grooming session today that this feature might be impacting existing deployments and we'd like to have more time to think through all the bits. For that reason, we'll try to tackle it during v0.4.x timeframe.

[2020-08-03 18:18] vincepri commented on #3244
/milestone v0.4.0

Let's pair this task with taking MachinePool out of experiments

[2020-08-03 18:19] vincepri commented on #3248
/close

[2020-08-03 18:20] vincepri commented on #3256
/milestone v0.4.0

[2020-08-03 18:20] vincepri commented on #3256
/help

[2020-08-03 18:20] vincepri commented on #3274
/milestone v0.4.0

[2020-08-03 18:21] vincepri commented on #3283
/milestone v0.4.0

[2020-08-03 18:21] fabriziopandini commented on #3248
This is not necessary after the refactor in https://github.com/kubernetes-sigs/cluster-api/pull/3405/files that moved the code that can generate errors to the `NewControlPlane` func

[2020-08-03 18:22] vincepri commented on #3287
/milestone v0.3.9

[2020-08-03 18:28] vincepri commented on #3289
New conditions introduced in #3138 might solve part of this issue, in terms of providing more information on the underlying node. Fixing #2331 might let the control plane come up correctly again, other than that there is no action item here for Cluster API, @ncdc pointed out most of the checks might happen in a separate monitoring environment, operators will have to either integrate with CAPI (spe

[2020-08-03 18:28] #3289 closed

[2020-08-03 18:29] vincepri commented on #3291
/milestone v0.4.0

[2020-08-03 18:29] vincepri commented on #3291
/help

[2020-08-03 18:29] vincepri commented on #3292
/milestone v0.3.9

[2020-08-03 18:30] vincepri commented on #3294
/priority backlog
/milestone v0.4.0

[2020-08-03 18:31] vincepri commented on #3296
/milestone v0.4.0

[2020-08-03 18:31] vincepri commented on #3296
/help
/priority important-longterm

[2020-08-03 18:35] vincepri commented on #3301
/priority important-longterm
/milestone v0.4.0
/help

[2020-08-03 18:36] vincepri commented on #3309
/milestone v0.3.9

[2020-08-03 18:37] vincepri commented on #3311
/milestone v0.4.0
/priority important-longterm

[2020-08-03 18:38] vincepri commented on #3327
/milestone v0.4.0

[2020-08-03 18:39] vincepri commented on #3327
/milestone v0.3.9

[2020-08-03 18:42] vincepri commented on #3329
/milestone v0.3.9

[2020-08-03 18:45] vincepri commented on #3344
/milestone v0.4.0

[2020-08-03 18:45] vincepri commented on #3344
/kind feature

[2020-08-03 18:47] CecileRobertMichon commented on #3344
@randomvariable you mentioned CAPA doing this slightly differently, can you please share a link to where that's being done?

[2020-08-03 18:48] vincepri commented on #3359
/milestone v0.4.0

[2020-08-03 18:48] vincepri commented on #3365
/milestone v0.4.0

[2020-08-03 18:49] vincepri commented on #3370
/milestone v0.4.0

[2020-08-03 18:50] vincepri commented on #3371
/milestone v0.3.9

[2020-08-03 18:50] vincepri commented on #3373
/milestone v0.4.0
/help

[2020-08-03 18:51] vincepri commented on #3380
/milestone v0.3.9

[2020-08-03 18:52] randomvariable commented on #3344
@CecileRobertMichon, yup.

We have a ticker to scrape logs every 60s in https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/test/e2e_new/e2e_suite_test.go#L244

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/test/e2e_new/common.go then contains the implementation, which starts a shell using AWS Session Manager on each machine and scrapes the output of c

[2020-08-03 18:54] vincepri commented on #3383
/milestone v0.4.0

@fabriziopandini To check / open different issues with action items for Cluster API.
@randomvariable @yastij @CecileRobertMichon to open different issues in each infrastructure provider.

[2020-08-03 18:55] vincepri commented on #3384
/milestone v0.4.0

[2020-08-03 18:55] vincepri commented on #3393
/milestone v0.4.0

[2020-08-03 18:57] vincepri commented on #3395
/close

In favor of server-side apply in v1alpha4.

[2020-08-03 18:57] #3395 closed

[2020-08-03 18:58] vincepri commented on #3415
/milestone v0.4.0

[2020-08-03 18:59] vincepri commented on #3421
/milestone v0.3.9

[2020-08-03 18:59] vincepri commented on #3419
/priority awaiting-more-evidence

/milestone Next

[2020-08-03 19:00] vincepri commented on #3422
/milestone v0.4.0

[2020-08-03 19:02] vincepri commented on #3400
/milestone v0.4.0

[2020-08-03 19:02] vincepri commented on #3399
/milestone v0.4.0

[2020-08-03 19:02] vincepri commented on #3398
/milestone v0.3.9

[2020-08-03 19:57] moensch opened #3441 "clusterctl backup/restore"
Related slack thread: https://kubernetes.slack.com/archives/C8TSNPY4T/p1596471116438700

**User Story**

As an operator I would like to take backups of a workload cluster's CAPx resources on the management cluster in order to be able to restore this backup to a different management cluster in a disaster recovery scenario (total loss of management cluster).

**Detailed Description**

There is a lot

[2020-08-03 20:02] ncdc commented on #3441
cc @nrb

[2020-08-03 20:34] vincepri commented on #3440
/milestone v0.4.0

[2020-08-03 20:36] vincepri commented on #3421
@JoelSpeed @benmoss any of you have some time to tackle this?

[2020-08-03 21:05] benmoss commented on #3421
/assign

[2020-08-03 21:30] detiber commented on #2218
/lifecycle frozen

[2020-08-03 21:34] vincepri commented on #1970
/lifecycle frozen

[2020-08-03 22:35] wfernandes commented on #3435
/assign
/lifecycle active

[2020-08-03 23:13] #3438 closed

[2020-08-03 23:49] sedefsavas opened #3447 "[ClusterResourceSet] Add Sync mode"
**User Story**

As a developer/user/operator I would like to apply a resource using ClusterResourceSet and update its version or change some other fields using the same ClusterResourceSet resource.

**Detailed Description**

To support this use case, we can consider adding a `Sync`/`Reconcile` mode in addition to `ApplyOnce` mode that reapplies the resources on resource hash change and/or periodic

[2020-08-03 23:52] vincepri commented on #3447
/milestone v0.4.0

[2020-08-04 09:09] moshloop commented on #3344
wdyt about a systemd service that exposes the logs, it would make the solution cloud-agnostic - It might even be possible with SystemD Conflicts properties to switch to local port once the kubelet comes up and is healthy

[2020-08-04 11:22] prksu commented on #3393
@wfernandes Sorry for the delayed response. Yeah, I'll create a PR for this.

/assign
/lifecycle active

[2020-08-04 11:48] fabriziopandini commented on #2997
/lifecycle active

[2020-08-04 13:57] benmoss commented on #3370
I think there's an alternate solution to all this that I prefer, which is to use error types and then have a way of mapping error types to requeue logic. This keeps our business logic at the level of the domain, rather than letting the controller logic bleed into everything. It's the same issue as when you're writing an HTTP server you don't have your database library return HTTP status codes.

[2020-08-04 13:59] ncdc commented on #3370
@benmoss do you have some examples? I assume you're suggesting something other than a `RequeueAfterError`?

[2020-08-04 14:04] benmoss commented on #3370
I think because we have 99% of our logic in controllers this isn't as big of an issue, or rather it's a sub-issue of that issue, but yeah you can use errors as values and do something like

[code]

[2020-08-04 14:22] vincepri commented on #3370
The above example looks fine, although it doesn't solve the issue that the caller has to always check if the error returned is of some specific kind, and that's not too far from what it was before.

While having `(ctrl.Result, error)` everywhere might be a little verbose, the flow of operation is readable and explicit, which is the purpose of moving in this direction.

[2020-08-04 15:13] benmoss commented on #3370
Yeah, there's a trade-off of explicitness for sure, I think I'd advocate for a mapping layer that'd add some extra complexity but at the benefit having stratified layers of logic with APIs that make sense for that layer rather than every layer having the burden of "knowing" that it is causing/recommending a reconciler requeue. Like I said earlier though we mostly just have one layer (controllers)

[2020-08-04 15:30] detiber commented on #3370
+1 to what @benmoss is saying. I think delegating handling of `ctrl.Result` is fine for the common use case we have today of passing logic to more targeted "reconcilation" functions/methods that are associated with the high level reconciliation of the resource.

However, if we need to add some context to a failing request deeper down into some "service" specific code (the code interacting directly

[2020-08-04 15:47] vincepri commented on #3370
In this context it probably makes sense to have different abstractions, wouldn't the caller of those inner services be responsible to understand the error and decide if there is a need to requeue or not?

I guess we'll have to see as we go, there is a lot of good ideas here that need to be thought out and it seems mostly related to the infrastructure provider codebase, rather than the Cluster API

[2020-08-04 15:49] hardikdr commented on #3429
[Gardener](https://github.com/gardener) deploys pod-based control-planes and also follows the core principles of cluster-api. I am generally interested in developing the control-plane provider for it, but haven't been able to spend enough time yet, would be more than happy to collaborate if there is an added interest.
- A very minimal start: https://github.com/hardikdr/gardener-controlplane-provid

[2020-08-04 15:50] benmoss opened #3450 "Add paused condition to all pausable objects"
**User Story**

As a user I would like to see at a glance that my object is paused so that I can understand why controllers are treating it differently.

**Detailed Description**
The paused annotation has a significant impact on how objects in CAPI are reconciled, but if we are looking at conditions to inspect an objects state, a user might not immediately realize an object is paused. This would t

[2020-08-04 15:52] vincepri commented on #3450
/milestone v0.4.0

[2020-08-04 15:52] vincepri commented on #3450
/priority important-longterm
/area api

[2020-08-04 15:54] detiber commented on #3370
Possibly, but I think there is some level of overlap here as well (such as a generic backoff and retry), but that could also be encoded into the specific abstraction for the given purpose. I do agree that it would be up to the caller to interpret the response and determine whether it warrants a requeue or not.

While I think infrastructure providers are a common use case for this, there is already

[2020-08-04 16:07] JoelSpeed commented on #3358
This may be a bit of an aside from this topic, but, @CecileRobertMichon I'm not too familiar with MachinePools, is the idea with the list of failure domains that, for example, on AWS, this would create 1 ASG per failure domain? Or do ASGs support multiple failure domains as is and the MachinePool just carries that over?

It's my understanding that a `NodeGroup` as it is in the cluster autoscaler s

[2020-08-04 16:09] benmoss commented on #3370
Exactly. I think this is definitely beyond the scope of this issue but it reminds me of my time working on web applications, and I think it's a common growing pain in all software. Initially you have small amounts of logic, and so you keep it all in the main function or private methods descending from there. Controller methods, whether we're talking HTTP or controller-runtime, act more-or-less as

[2020-08-04 16:13] CecileRobertMichon commented on #3358
@JoelSpeed it's the latter, ASGs support multiple failure domains as is and the MachinePool just carries that over, https://docs.aws.amazon.com/autoscaling/ec2/userguide/AutoScalingGroup.html --> "When instances are launched, if you specified multiple Availability Zones, the desired capacity is distributed across these Availability Zones. If a scaling action occurs, Amazon EC2 Auto Scaling automat

[2020-08-04 16:20] JoelSpeed commented on #3358
Thanks, that's interesting. I need to do some investigation into how the cluster autoscaler handles all this as we have been talking about some similar problems recently, CC @elmiko @enxebre, if you aren't already following this, it's relevant to some discussion we had earlier

[2020-08-04 16:38] christopherhein commented on #3429
/cc @munnerz

[2020-08-04 16:46] christopherhein commented on #3429
@hardikdr do you plan on using something that would define the control plane template? Or are you thinking that each release of the controlplane provider would map to a specific k8s version that gets created?

[2020-08-04 16:50] wfernandes commented on #3435
@vincepri @ncdc @fabriziopandini Do we want to allow users to upgrade to pre-release versions?
That is, when users run
[code]
Do we want to show them that there is `v0.7.0-alpha.0`?

Because if they run `clusterctl upgrade apply --management-group capi-system/cluster-api --contract v1alpha3`, it currently installs the pre-release version.

[2020-08-04 16:52] ncdc commented on #3435
I'd say we should require you to explicitly ask for prereleases by specifying the exact version you want for now. In the future, we could consider adding a `--include-prereleases` type of flag if we wanted to.

[2020-08-04 17:21] detiber commented on #3344
I do worry about the potential to expose information to users that should not have access to the logs with this approach. Limiting remote access once the kubelet is available would limit the window that it would be possible, but I think we need to be cautious here, especially since the output of these logs could contain sensitive information such as bootstrap tokens.

[2020-08-04 17:22] elmiko commented on #3358
from the autoscaler side, it uses its own internal planning algorithm to determine where new nodes should be created and then each provider does something specific to make that happen. in the case of CAPI, we present MachineSets and MachineDeployments and then scale the replicas based on what the autoscaler is prescribing. in the case of AWS, it uses autoscaling groups (ASGs) internally and simply

[2020-08-04 17:22] vincepri commented on #3106
/milestone v0.3.9
/priority important-soon
/assign @fabriziopandini

[2020-08-04 17:26] DheerajSShetty opened #3451 "KCP may have extraneous RBAC roles"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
The roles specified for KCP here might not be needed
https://github.com/kubernetes-sigs/cluster-api/blob/69347982dc6983615cd439e975cccb397083859e/controlplane/kubeadm/config/rbac/role.yaml#L68

These roles are not used

**What did you expect to happen:**

**Anything else you would like to

[2020-08-04 17:28] vincepri commented on #3451
@sedefsavas Can you investigate + triage?

[2020-08-04 17:30] CecileRobertMichon commented on #3344
@moshloop isn't [using a daemonset](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/hack/log/log-dump.sh#L88) already cloud agnostic? Is the benefit mostly to be able to dump those logs before kubelet is up?

[2020-08-04 17:47] moshloop commented on #3344
Correct, we would want a systemd service up until the daemonset takes over and/or kubelet is up and healthy.

I agree this would need to be something that is opt-in only. There are measures that can be taken to ensure it is secure:
* Protect the service with the master CA, accessing the logs then requires admin-level rights
* Require the client cert to be within a certain age (even if it hasn't ex

[2020-08-04 17:49] CecileRobertMichon commented on #2121
/assign
/ifecycle active

[2020-08-04 17:51] vincepri commented on #2121
/remove-lifecycle stale

[2020-08-04 17:56] sedefsavas commented on #3451
Yes, I am looking into this.

[2020-08-04 18:56] sedefsavas opened #3453 "[ClusterResourceSet] Delete ClusterResourceSet from the ClusterResourceSetBinding list on deletion"
**What steps did you take and what happened:**
ClusterResourceSet still shows up in ClusterResourceSetBinding after the deletion of ClusterResourceSet object.

**What did you expect to happen:**
CRS is deleted from the `bindings` list in CRSBinding after CRS is deleted.

/kind bug

/milestone v0.3.9

[2020-08-04 18:56] sedefsavas commented on #3453
/assign

[2020-08-04 18:57] sedefsavas commented on #3453
cc @gab-satchi

[2020-08-04 18:59] vincepri commented on #3453
/milestone v0.3.9

[2020-08-04 20:39] vincepri commented on #3451
/priority awaiting-more-evidence
/milestone Next

[2020-08-04 23:40] CecileRobertMichon commented on #2652
@sethp-nr I am seeing similar behaviors when updating a single control plane cluster for a brief moment when the second replacement control plane joins and the number of control plane nodes goes from 1 to 2. This is expected I believe as there is a loss of etcd quorum. However, I am not reproducing such behavior with a larger number of control planes (tried with 7).  I do see the etcd pod of the n

[2020-08-05 06:48] sedefsavas commented on #3451
These are unused rbac rules added to control plane. I don't think removing them will affect anything. Have a PR open, I think it can go in v0.3.9.

[2020-08-05 11:03] JoelSpeed commented on #3358
Looks like other implementations already handle the multi az thing by just using the first AZ and using that for the scheduling decisions https://github.com/kubernetes/autoscaler/blob/c49beada6b12e7c0428bb63147890f678c4e6001/cluster-autoscaler/cloudprovider/aws/aws_manager.go#L307-L316, I guess we can just copy that behaviour without breaking the autoscaler.

Can ignore my concerns in my earlier c

[2020-08-05 12:42] fabriziopandini commented on #3344
My intent when writing this issue was really focused on improving the visibility only for E2E tests (now there is none on machine), and given this context:

- I don't see security concerns for bootstrap tokens, because according on how prow works, logs are available only after the cluster is destroyed. Also, allowing each cloud provider to decide which commands to use for scraping logs provide an

[2020-08-05 14:06] #3421 closed

[2020-08-05 14:36] vincepri commented on #3451
/milestone v0.3.9
/cc @detiber

[2020-08-05 14:42] benmoss commented on #2703
What do we think about using github actions for this as a periodic job? I fear that if we make it a periodic on Prow we will never look at it. We can also just make it optional on PRs, but it's noise there if the link has broken for reasons other than the PR (ie if a server somewhere out on the internet changes)

[2020-08-05 14:49] detiber commented on #3451
+1 to removing these rules
/priority important-soon

[2020-08-05 14:55] vincepri commented on #2703
I'd prefer to keep using prow whenever we can. We can make the job optional and only trigger it when there are documentation changes

[2020-08-05 15:13] ncdc opened #3457 "Switch KCP to use ClusterCacheTracker.GetClient for the workload cluster client"
Now that we have remote.ClusterCacheTracker, we should be able to use it to get a client for KCP to use for the workload cluster, instead of creating one - https://github.com/kubernetes-sigs/cluster-api/blob/7c8bb5e75f65d1f2376e20df8a965a166183bff7/controlplane/kubeadm/internal/cluster.go#L100-L103. See https://github.com/kubernetes-sigs/cluster-api/blob/7c8bb5e75f65d1f2376e20df8a965a166183bff7/co

[2020-08-05 15:38] #3451 closed

[2020-08-05 16:11] vincepri commented on #3457
/help

[2020-08-06 01:03] sedefsavas opened #3461 "[e2e] Use kustomize for generating template flavors for different tests"
We can use kustomize to generate different test templates to avoid duplicating them several times.
This is how template flavors are generated in CAPI providers.

To use a generic template for kcp-adoption test, we need to slightly modify its logic (not use labels to handle the order of creating objects). So it makes sense to make this change while doing the above mentioned change.

/kind cleanup
/

[2020-08-06 12:08] #2240 closed

[2020-08-06 18:20] christopherhein commented on #3429
/cc @Fei-Guo

[2020-08-06 18:41] hardikdr commented on #3429
Yes, basically I'd hope to introduce a `GardenerManagedContolPlane` CRD with a field of `Spec.Version` to allow users to configure the k8s version of choice. The CRD would then simply map to the cluster-resource of the gardener-orchestrator at runtime, and the rest of the responsibility of spawning the cluster should then be taken care of by gardener.
- In a similar way, the MachinePoolAPI of clus

[2020-08-06 19:20] wfernandes commented on #3327
/assign

[2020-08-06 22:49] DheerajSShetty opened #3465 "Remove controller runtime dependency on importing v1alpha2/v1alpha3 types"
**User Story**

importing v1alpha2 or v1alpha3 types brings controller runtime version dependency, CAPI 0.3.8  depends on runtime 0.5.10.
Any service vendoring CAPI and importing sigs.k8s.io/cluster-api/api/v1alpha2, and if the service is dependent on other version of controller runtime, will have hard time keeping up with controller runtime dependency.

As a [developer/user/operator] I would like

[2020-08-06 22:56] wfernandes opened #3466 "clusterctl version check"
**User Story**

As a developer/user I would like to ensure that I'm using the latest version of clusterctl so that I don't run into unintended side effects.

**Detailed Description**

For example, when providers started using envsubst style vars (`${var:=default}`) in their templates, older versions of clusterctl would error out since it couldn't process these variables.

It would be nice to have

[2020-08-06 22:57] wfernandes commented on #3090
/area clusterctl

[2020-08-07 00:23] ncdc commented on #3465
@DheerajSShetty please fill in the description completely from the template. Thanks.

[2020-08-07 00:26] ncdc commented on #3465
The api types import controller-runtime because they are implementing validating and defaulting webhooks, and the setup functions for them need access to the `Manager`. We can investigate to see if we can move the setup functions into a separate package. If that's feasible, we should also adjust kubebuilder to use this same pattern (as kubebuilder generated our webhook code).

[2020-08-07 14:37] detiber commented on #3465
This may be difficult unless we duplicate or embed the types. The defined interfaces in controller-runtime embed `runtime.Object`:
https://github.com/kubernetes-sigs/controller-runtime/blob/1095de6493596b5faa6ef9792651ed064b3efb4c/pkg/webhook/admission/validator.go#L27-L33
https://github.com/kubernetes-sigs/controller-runtime/blob/1095de6493596b5faa6ef9792651ed064b3efb4c/pkg/webhook/admission/defa

[2020-08-07 15:01] ncdc commented on #3465
I don't _think_ that will be a problem, if we move the webhook `SetupWithManager` functions to another package? `runtime.Object` here is apimachinery, not c-r?

[2020-08-07 16:50] vincepri commented on #3461
/milestone v0.4.0

[2020-08-07 16:56] vincepri commented on #3466
Let's do this please! It's super important, any idea if we can get this done in v1alpha3?

[2020-08-07 17:29] #3287 closed

[2020-08-07 17:30] #3413 closed

[2020-08-07 18:03] #2997 closed

[2020-08-07 18:33] Anuj2512 opened #3469 "Allow updating just the provider image tag with clusterctl config file's images section"
**User Story**

As a user/developer, I would like to configure just the `infrastructure-provider-controller` image tag when doing `clusterctl init` to install providers for testing different image tags without changing `kube-rbac-proxy` image tag and `infrastructure-components.yaml` file.

**Detailed Description**

Taking AWS provider as an example, I am able to update the image repository with th

[2020-08-07 19:00] jsturtevant commented on #3189
For anyone that lands here looking for the CNCF allow list policy the latest is: https://github.com/cncf/foundation/blob/master/allowed-third-party-license-policy.md

They updated wording to allow list :heart:

[2020-08-07 19:53] wfernandes commented on #3466
I can work on this next week.
/assign

[2020-08-07 21:09] vincepri commented on #3466
/milestone v0.3.9

[2020-08-07 21:17] wfernandes commented on #3469
This makes sense and I think it's a reasonable ask. TBH I don't know why `kube-rbac-proxy` image tag is changing as well. Upon quick inspection of the code it seems that for a `Deployment`, all the Containers and InitContainers will have their image tag and repository modified.

It feels like we may need a more fine grained control of this feature or maybe templating could be an answer?

/area clu

[2020-08-10 08:42] #2542 closed

[2020-08-10 08:45] fabriziopandini commented on #3469
+1 to add an optional "image" field to the ImageTag struct.

FYI, the image override feature was originally developed for cert-manager, where all the images use the same tag; however it should not be difficult to extend it this for supporting other use cases as well

[2020-08-10 11:12] #3329 closed

[2020-08-10 11:33] fabriziopandini commented on #3042
/remove-lifecycle stale

[2020-08-10 16:52] #3440 closed

[2020-08-10 17:39] jayunit100 commented on #2627
So I originally filed this aiming to hack on it but... im not really doing much in the CAPI space currently, should we keep this open or close it?  up to you all @vincepri @ncdc .

[2020-08-11 08:56] #3435 closed

[2020-08-11 16:15] fabriziopandini commented on #2840
/remove-lifecycle stale

The cleanup is not yet completed

[2020-08-11 19:51] benmoss commented on #3046
/close
Not sure I feel this is as valid / worth doing anymore

[2020-08-11 19:51] #3046 closed

[2020-08-12 09:34] fabriziopandini commented on #3045
Even if with envsubst the most urgent problem was addressed (`--feature-flags`) I think we should keep around so we don't forget that the UX for flags like -`-enable-leader-election` or `--metrics-addr` (and many others) is still not ideal
/remove-lifecycle stale

[2020-08-12 09:34] fabriziopandini commented on #3044
/remove-lifecycle stale

[2020-08-12 09:36] fabriziopandini commented on #3044
NB. the documentation part should be fine; there is still the problem that users are blocked in case of change of contract

[2020-08-12 09:36] fabriziopandini commented on #3036
/remove-lifecycle stale

[2020-08-12 12:02] randomvariable commented on #2627
Keep it open. Weirdly had remembered about doing this the other day. I may take a look at after getting the kubetest one in.

[2020-08-12 19:10] wfernandes commented on #3466
/lifecycle active

[2020-08-13 09:55] fabriziopandini commented on #3469
/assign
/lifecycle active

[2020-08-13 12:58] fabriziopandini commented on #2778
/assign
/lifecycle active

[2020-08-13 14:25] jdef opened #3482 "Suspect etcd client memory leak in controlplane/kubeadm/internal"
I cloned a bunch of the etcd client/helper code from the controlplane/kubeadm subtree, including the etcdClientGenerator implementation of forNodes and forLeader, as well as helper funcs that use the generator. This was for use w/ an internal prototype. I noticed that my prototype leaked memory and it would slowly crash loop (OOM) about every 17m. Profiling the code suggested that the etcd client

[2020-08-13 14:27] jdef commented on #3482
for example, here's one place where `defer etcdClient.Close()` seems appropriate:

https://github.com/kubernetes-sigs/cluster-api/blob/master/controlplane/kubeadm/internal/workload_cluster_etcd.go#L81

[2020-08-13 14:52] jdef commented on #3482
actually, calling etcdClient.Close() didn't completely fix the leak, but has appeared to slow it down. unclear as of yet what the remaining leakage looks like. will update here as I learn more

[2020-08-13 15:28] kashifest opened #3483 "kubeadm controlplane doesn't roll back in case of upgrade error"
**What steps did you take and what happened:**

While upgrading KCP, if there is an upgrade failure due to a bug in cloud-init, the machine is requed. This is expected. However, when the KCP is edited again and cloud-init error is fixed, KCP still tries to run the previous version of the bootstrap in KCP ignoring the corrected version of KCP.

**What did you expect to happen:**
KCP would roll back

[2020-08-13 17:30] jdef commented on #3482
pretty sure that this is a culprit as well: https://github.com/kubernetes-sigs/cluster-api/blob/master/controlplane/kubeadm/internal/proxy/dial.go#L96

the httpstream.Connection isn't properly cleaned up - ever. testing now

[2020-08-13 20:06] jdef commented on #3482
confirmed. both fixes are needed:
1. invoke Close on the etcd client returned by forNodes, forLeader
2. ensure that the spdy httpstream.Connection is properly closed when its single child stream is closed (I wrote a stream wrapper that overrides Stream.Close and Stream.Reset to handle this)

[2020-08-14 02:38] eratnch opened #3485 "Cert Manager times out when initializing the workload cluster with capi components"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

This is inspired from kubernetes-sigs/cluster-api-provider-openstack#614
When initializing a target cluster with capi and capo components, cert manager times out.

**What did you expect to happen:**
The target cluster is initialized with capi and provider components(in this case capo) so

[2020-08-14 08:20] fabriziopandini commented on #3485
I stumbled in this problem when the networking was not fully operative on the workload cluster (missing CNI).
Could you kindly check if the networking is properly set up before running clusterctl init on the workload cluster?
If this is is not the case, please provide the clusterctl init output (run with -v 5), and the output of kubectl get pods -A

/priority awaiting-more-evidence

[2020-08-14 08:32] fabriziopandini commented on #3482
Thanks for reporting this problem!
/priority important-soon
/area control-plane

[2020-08-14 13:09] eratnch commented on #3485
In this case CNI (Calico) was applied to the workload cluster before trying clusterctl init.

Here are the steps

* kubectl --kubeconfig /tmp/kubeconfig.yml get nodes

[code]

* clusterctl --kubeconfig /tmp/kubeconfig.yml init -i openstack -v5:
[code]
* kubectl --kubeconfig /tmp/kubeconfig.yml get po -A

[code]

[2020-08-14 13:31] Arvinderpal opened #3486 "Add conditions to MachineDeployment Object"
User Story
As a developer/user/operator I would like to have conditions documenting the operational state of MachineDeployment objects.

Anything else you would like to add:
As required by the condition CAEP, the MachineDeployment objects should also provide a Ready condition describing the overall state of the object.

Tasks:

- [x] Summary `ReadyCondition` and Node availability condition `Availa

[2020-08-14 13:39] Arvinderpal commented on #3486
Ideally, we would have something similar to [DeploymentProgressing](https://github.com/kubernetes/api/blob/master/apps/v1/types.go#L426).

This is more to bring in line with how `kubectl rollout status` works. With `clusterctl rollout status my-md-0` we would also watch the progression of the MD by looking at MachinesReadyCondition. I think that would accomplish something similar.

[2020-08-14 13:41] Arvinderpal commented on #3486
/cc @fabriziopandini

[2020-08-14 16:37] fabriziopandini commented on #3485
Waiting for cert-manager to be available is basically running
[code]
If this condition is meet now, you can try to increase the certmanager timeout during init.
If not, there should be something in your network setup preventing to reach out to the cert-manager-webhook.

[2020-08-14 16:59] genehynson opened #3487 "Clusterctl incorrectly encodes Windows file paths for local repository"
**What steps did you take and what happened:**

_Note: I originally produced this with the TKG cli, but investigation shows it's an issue within clusterctl itself._

The issue is that a recent [Windows 10 update](https://support.microsoft.com/en-us/help/4467268/url-encoded-unc-paths-not-url-decoded-in-windows-10-version-1803-later) changes the Windows URI pathing behavior: _"In Windows 10, version

[2020-08-15 16:25] eratnch commented on #3485
Thanks @fabriziopandini.

I compared the cert manager on my Kind management cluster with that of the target cluster.

**On Kind mgmt cluster**
kubectl get apiservice v1beta1.webhook.cert-manager.io
[code]
**On workload cluster**

kubectl --kubeconfig /tmp/kubeconfig.yml get apiservice v1beta1.webhook.cert-manager.io
[code]
Can you please point out on how to check further on the networking set up o

[2020-08-17 08:55] fabriziopandini commented on #3057
/remove-lifecycle stale

[2020-08-17 09:06] fabriziopandini commented on #3485
I can give you only a generic suggestion because I don't know cert-manager internals in detail.
You can look at the `cert-manager/cert-manager-webhook` service (which is backing `v1beta1.webhook.cert-manager.io`), check its endpoints, then create a debug pod and try to get an answer from those endpoints (see e.g. https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/). The other

[2020-08-17 10:31] fabriziopandini opened #3488 "CAPD Should use the real cloud-init to execute bootstrap scripts"
**Detailed Description**

As of today CAPD uses a custom [cloud-init interpreter](https://github.com/kubernetes-sigs/cluster-api/tree/6b830c4f8e6d72da8202b2a8b79e88039fb4e39c/test/infrastructure/docker/cloudinit) to run the bootstrap script, but the side effect of this is that the machine creation process is slightly different from other providers where the bootstrap process happens during the mac

[2020-08-17 10:33] fabriziopandini commented on #3483
@kashifest, unfortunately, CAPD is not the best solution to test this behavior due to the custom cloud-init interpreter it uses (see https://github.com/kubernetes-sigs/cluster-api/issues/3488)

I'm going to try to reproduce with another infrastructure provider

[2020-08-17 13:49] fabriziopandini commented on #3483
The behavior in other providers is slightly different.
In fact, cloud-init logs are reporting a failure in executing a command, but then thee execution moved on the next command (kubeadm join in this case)

[code]

That means that, in case of those types of errors, KCP simply goes on with the rollout because the machines come up and the node successfully joins the cluster (in fact the error is swa

[2020-08-17 14:13] kashifest commented on #3483
@fabriziopandini thanks for the update, I will check and update if I can get rid of the errors with other infra

[2020-08-17 14:46] #3327 closed

[2020-08-17 15:02] fabriziopandini commented on #1740
/remove-lifecycle stale

[2020-08-17 16:56] fabriziopandini commented on #3072
/close
given there are no updates about this issue for some time now
feel free to re-open if necessary

[2020-08-17 16:56] #3072 closed

[2020-08-17 19:23] wfernandes commented on #3487
/assign

[2020-08-17 20:20] wfernandes commented on #3487
Do we want to support version of windows older than `Windows 10 Version 1803`?

[2020-08-17 20:28] genehynson commented on #3487
I believe versions <1803 support unencoded paths (e.g. `C:\Users\test space\...`). The 1803 update just removed support for encoded paths (e.g. `C:\Users\test%20space\...`). So if we remove the encoding step (at least for Windows), we should support all versions of Windows

[2020-08-17 20:42] wfernandes commented on #3487
That's what I suspected...I don't have a windows env older that <=1803 to verify that.
As per our discussion via Slack...I'm handing this off to you since I don't have a proper Windows dev environment setup. Thanks.
/assign @genehynson

[2020-08-17 21:40] wfernandes opened #3491 "Include cert-manager upgrade in `clusterctl upgrade plan`"
**User Story**

As a user/operator I would like to see if cert-manager has an available upgrade when using `clusterctl upgrade plan`.

**Detailed Description**

As part of PR https://github.com/kubernetes-sigs/cluster-api/pull/3364, we can now upgrade cert-manager to the new version (v0.16.0) from the old version (v0.11.0) when we run `clusterctl upgrade apply`.
It would be nice to see the availab

[2020-08-17 22:13] wfernandes opened #3492 "Out of date documentation for provider implementers"
**What steps did you take and what happened:**
[In our documentation we have a list of providers](https://github.com/kubernetes-sigs/cluster-api/blob/43dd623ce667a1ff33e0d2d649b9a3dea2977f02/docs/book/src/reference/providers.md#provider-implementations
). Here we track the ones that follow v1alpha3 types.

However, the list seems to be incorrect because providers like `OpenStack` and `Packet` seem

[2020-08-17 22:37] wfernandes commented on #2483
/assign

[2020-08-17 22:53] wfernandes commented on #2483
/lifecycle active

[2020-08-18 01:11] jayunit100 opened #3493 "More production style OS images (non-alpine... debian ? centos?) images for CAPD"
**What steps did you take and what happened:**

A few DNS situations and OVS based cni solutions dont work , properly on CAPD.    Additionally certain packages often used in production k8s clusters (from ubuntu and centos) arent available.   Typically an image such as  centos/ubuntu (those at  https://github.com/kubernetes-sigs/cluster-api-provider-vsphere#kubernetes-versions-with-published-ovas )

[2020-08-18 01:15] jayunit100 commented on #3493
workaround: we can install stuff (like alpine ovs) for any individual one issue, but likely most users would have a better dev/hacking type experience if they just got a stock ubuntu/centos version as the baselayer.

[2020-08-18 03:03] andrewrynhard opened #3494 "Allow latest in local provider"
**User Story**

As a developer I would like to use the tag "`latest`" when developing with a local `components.yaml`.

**Detailed Description**
With the following config  (`~/.cluster-api/clusterctl.yaml`):

[code]

I would like to run `clusterctl init` like so:

[code]
but this seems to be invalid. I am seeing this error https://github.com/kubernetes-sigs/cluster-api/blob/32899ad267dbb89208aec074

[2020-08-18 08:43] fabriziopandini commented on #3493
@jayunit100 CAPD uses imaged built by kind, and currently, only the load balancer image is built with alpine, while the node image is already built using ubuntu

Load balancer image
[code]

Nodes (with kindest/node:v1.17.2)
[code]
More recent versions are using Ubuntu 20.10

[2020-08-18 09:30] fabriziopandini commented on #3067
/close
Due to lack of updates
Feel free to re-open if necessary

[2020-08-18 09:30] #3067 closed

[2020-08-18 09:45] fabriziopandini commented on #3494
@andrewrynhard I'm using latest locally and it works
[code]
My only suggestion is to check if under //home/andrewrynhard/sidero/_out/infrastructure-sidero/ there is a folder with a semantic version number as a name

/priority awaiting-more-evidence

[2020-08-18 10:01] fabriziopandini commented on #3492
I'm +1 to remove bold and add something like. Check provider documentation for updated info about which contract are they supporting

[2020-08-18 11:53] jayunit100 commented on #3493
Ok I may be mistaken .... will double check today what the issue is .

[2020-08-18 12:21] randomvariable commented on #3493
The image definition is in the Kind repo. Should be mostly Ubuntu based.

[2020-08-18 12:38] jayunit100 commented on #3493
makes sense,  im going to close this. thanks naadir / fabrizio

[2020-08-18 12:38] #3493 closed

[2020-08-18 15:02] vincepri commented on #3042
/lifecycle frozen

[2020-08-18 15:11] vincepri commented on #3045
Related to #3427

[2020-08-18 15:12] vincepri commented on #3036
Probably ok to close this for now, given that we're planning to remove the phase field in the next cycle. Feel free to reopen if necessary

/close

[2020-08-18 15:12] #3036 closed

[2020-08-18 15:14] vincepri commented on #3044
Are there any action items in this issue?

[2020-08-18 15:18] fabriziopandini commented on #3044
yes. it is required some design to get a process/some code change in place to make it possible v1alpha3-->v1alpha4 in case of multi-tenancy & providers using instance-specific variables

[2020-08-18 15:23] randomvariable commented on #3427
Just a note from Kubecon, that we should highlight self-managed clusters for use in gitops in the docs more.

[2020-08-18 15:26] vincepri commented on #3494
/milestone Next

[2020-08-18 15:32] vincepri commented on #3469
/milestone v0.3.9

[2020-08-18 15:55] rsmitty opened #3496 "Can't install pre-release providers from repo with no "latest" release."
**What steps did you take and what happened:**

Using the [talos bootstrap provider](https://github.com/talos-systems/cluster-api-bootstrap-provider-talos), I'm seeing this when trying to install a pre-release from the repo with no "latest" release. (as in, no non-prereleases in the repo)

[code]
This occurs because https://github.com/kubernetes-sigs/cluster-api/blob/38810211da3f71dd3ce61d9f1fa85a

[2020-08-18 15:55] rsmitty commented on #3496
/assign @wfernandes

[2020-08-18 15:56] fabriziopandini commented on #3496
Wondering if a possible solution is to get `getLatestRelease` to fall back in reading pre-release if no official latest exists

[2020-08-18 16:04] vincepri commented on #3482
@jdef Are you able to send a PR out before v0.3.9?

/priority critical-urgent

[2020-08-18 16:04] rsmitty commented on #3496
That would work even better for us honestly.

[2020-08-18 16:04] vincepri commented on #3482
/milestone v0.3.9

[2020-08-18 16:17] wfernandes commented on #3492
/good-first-issue
/help

[2020-08-18 16:21] vincepri commented on #1740
/lifecycle frozen

[2020-08-18 16:28] vincepri commented on #3488
/milestone Next
/help

[2020-08-18 16:38] vincepri commented on #3491
+1 this would be great to have.

/milestone v0.3.9

[2020-08-18 16:40] fabriziopandini commented on #3488
I have done some digging around this topic, and the only possible solution that could potentially work is to create custom images for CAPD instead of using Kind ones.
I'm not sure we want to go down this road, it requires forking/duplicating a lot of code...

[2020-08-18 16:44] CecileRobertMichon opened #3497 "Add conditions for MachinePool object"
Implement https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/20200506-conditions.md for the MachinePool resource.

Related: #3476

/kind feature

[2020-08-18 16:53] vincepri commented on #3488
Probably worth keeping the issue around if someone wants to tackle it, although we're probably not going to prioritize this anytime soon.

/priority backlog

[2020-08-18 16:57] #2778 closed

[2020-08-18 17:06] detiber opened #3498 "Reconsider requeueing prioritization and requeueafter handling in the Cluster controller"
From a discussion on #3445, where use of RequeueAfterError was removed from the cluster controller:

- preferring ctrl.Result.Requeue being true over RequeueAfter being set
- preferring the shortest RequeueAfter result in general

[code]

[2020-08-18 17:08] vincepri commented on #3498
/milestone v0.4.0
/priority important-longterm
/kind cleanup

[2020-08-18 17:30] vincepri commented on #3496
/milestone v0.3.9

[2020-08-18 18:15] #3090 closed

[2020-08-18 19:13] detiber commented on #3064
/lifecycle frozen

[2020-08-18 19:28] rsmitty commented on #3496
/assign @rsmitty
/lifecycle active

[2020-08-19 07:40] alexander-demichev opened #3504 "Set interruptible label to nodes"
**User Story**

As a user, I would like to have a `"cluster.x-k8s.io/interruptible"` label on Nodes that run on interruptible instances(see https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/20200330-spot-instances.md).

**Detailed Description**

Having `"cluster.x-k8s.io/interruptible"` label on Nodes that run on interruptible instances should help us with implementing a te

[2020-08-19 07:40] alexander-demichev commented on #3504
https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1876

[2020-08-19 09:30] fabriziopandini commented on #3494
_connecting the dots..._
This might be related to #3496 (fix in flight https://github.com/kubernetes-sigs/cluster-api/pull/3502)
Could you kindly confirm @andrewrynhard?

[2020-08-19 10:32] fabriziopandini opened #3505 "Remove hard coded info about cert manager"
As per https://github.com/kubernetes-sigs/cluster-api/pull/3364#discussion_r472267814

#3313 introduce some hard-code info about cert-manager in the code base [here](https://github.com/kubernetes-sigs/cluster-api/blob/3af94bb0b08f5cd06758edd1ec866e3dec6e4715/cmd/clusterctl/client/cluster/cert_manager.go#L47).

This code was slightly refactored in #3364, but in the long term we should get rid of th

[2020-08-19 10:43] randomvariable commented on #3488
Yup. Came to the same conclusion when I last looked at this.

There's also a bunch of issues with running cloud-init in a container:
* Need to disable all the datasources by writing:
[code]
to /etc/cloud/cloud.cfg.d/91-datasource.cfg

Can then run `cloud-init -f /<mounted datasource file> init`.

However, cloud-init still does things where it's expecting root access to the Linux kernel, e.g.:
[cod

[2020-08-19 13:20] andrewrynhard commented on #3494
Yep!

[2020-08-19 14:02] fabriziopandini commented on #3494
/close
as duplicate
let's continue to track the problem on #3496

[2020-08-19 14:02] #3494 closed

[2020-08-19 14:09] vincepri commented on #3504
/kind design
/milestone v0.4.0

[2020-08-19 14:33] vincepri commented on #3505
/milestone Next

[2020-08-19 18:57] danniel1205 commented on #3492
@wfernandes @fabriziopandini I would love to help, could you help assign this to me ?

[2020-08-19 19:11] ncdc commented on #3492
/assign @danniel1205

[2020-08-19 20:03] wfernandes commented on #3505
/area clusterctl

[2020-08-19 20:07] wfernandes commented on #3505
I feel like this issue and https://github.com/kubernetes-sigs/cluster-api/issues/3491 _could be_ intertwined with each other.

[2020-08-19 20:29] #3487 closed

[2020-08-19 20:41] CecileRobertMichon commented on #3497
/help

[2020-08-20 07:09] krmayankk opened #3509 ""clusterctl get kubeconfig capi-quickstart" did not work as per quick start guide to get kubeconfig"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
Followed this documentaiton https://cluster-api.sigs.k8s.io/user/quick-start.html
One of the steps is to run to get kubeconfig of the workload cluster,so that i can apply CNI

[code]

**What did you expect to happen:**
expected the command to work, but i got the error message

[code]

**An

[2020-08-20 09:10] fabriziopandini commented on #3509
@krmayankk sorry for this problem
The `clusterctl get kubeconfig` command is actually on master, but it is not yet part of a release. By mistake, we merged the change to the relative documentation too early and here it is an error:
AFAIK there are two workarounds:
- make clusterctl from master (clone the repo, run `make clusterctl`, use the binary under the bin/ folder)
- use the old syntax for re

[2020-08-20 10:37] fabriziopandini commented on #1739
/remove-lifecycle stale

[2020-08-20 11:42] jan-est opened #3512 "Add option for scale-in for KCP"
**User Story**

As a baremetal cluster administrator I would like to upgrade my KCP without any extra resources.

**Detailed Description**

The current KCP implementation always scale-out during the upgrade. Original design was to make sure that KCP with one replica can be scaled safely. However, this is a very restrictive implementation in environments (such as baremetal) where there are no addit

[2020-08-20 14:39] #3509 closed

[2020-08-20 15:37] wfernandes commented on #2635
@vincepri Should we close this issue since #3313 and #3364 have been merged in? It seems that any other work for management of cert-manager lifecycle would probably fall under v0.4.x. WDYT?

[2020-08-20 15:41] wfernandes commented on #3491
I can take a look into this
/assign

[2020-08-20 15:50] krmayankk commented on #3509
thanks @fabriziopandini i was able to get it to work by getting the kubeconfig from the secrets

[2020-08-20 15:55] #2483 closed

[2020-08-20 16:37] vincepri commented on #3512
Thanks for filing this! Going to set this feature for v1alpha4, we might want to apply some breaking change to let folks choose their strategy and default to what we do today, this might need a design-change to the KCP proposal.

/milestone v0.4.0

[2020-08-20 16:39] #3496 closed

[2020-08-20 17:22] vincepri commented on #3465
/milestone Next
/priority backlog

[2020-08-20 17:22] vincepri commented on #3483
/milestone Next

[2020-08-20 17:22] vincepri commented on #3492
/milestone Next

[2020-08-20 17:23] vincepri commented on #3486
/milestone v0.4.0

[2020-08-20 17:23] vincepri commented on #3485
/milestone Next

[2020-08-20 19:31] fabriziopandini commented on #2635
/close

[2020-08-20 19:31] #2635 closed

[2020-08-20 19:37] fabriziopandini commented on #2813
/remove-lifecycle stale

[2020-08-20 19:50] vincepri commented on #1739
/lifecycle frozen

[2020-08-20 20:31] wfernandes opened #3515 "Remove embedded metadata from clusterctl"
**User Story**

As a user I would like to remove the embedded metadata within clusterctl so that I don't need to rely on using the latest version of clusterctl in order to pull newer provider releases.

**Detailed Description**
The [embedded metadata provided within clusterctl](https://github.com/kubernetes-sigs/cluster-api/blob/eb07294ddebe8099c359c35a1e42f79244e7d33f/cmd/clusterctl/client/reposi

[2020-08-20 23:22] dhawal55 opened #3516 "Unable to overwrite imageRepository for worker nodes"
**What steps did you take and what happened:**
I want to use a private registry for all my images. `KubeadmControlPlane` support's it my setting `imageRepository` under `clusterConfiguration` but it is ignored when applied to `KubeadmConfigTemplate`. As a result the pause containers are still pulled from `k8s.gcr.io` and doesn't work for us in a firewalled environment

**What did you expect to hap

[2020-08-21 06:16] jan-est commented on #3512
@vincepri sounds good! Let's try to keep design as simple as possible in v0.4.0. Let users choose from default and scale-in. If scale-in is selected, KCP scale-in one member at the time.

[2020-08-21 10:44] fabriziopandini opened #3517 "Consolidate controllers implementation to use scope objects"
**User Story**

As a developer, I would like to have a simple way to pass objects throw the chain of `reconcile` funcs inside each controller
As a developer, I would like to have a consistent implementation approach in different controllers

**Detailed Description**

If a look at controllers, as of today all the `reconcile` funcs are getting in input the same list of parameters, and in most cases,

[2020-08-23 03:53] jsturtevant opened #3519 "etcd health check does not return the error"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

If ectd is not healthy or the client cannot connect properly an error occurs but the error is not propagated up to the event (nil is returned):

[code]

**What did you expect to happen:**
The error from etcd to be propogated

**Anything else you would like to add:**
[Miscellaneous informa

[2020-08-24 09:17] fabriziopandini commented on #3339
@Emc1992
From v0.3.7 release notes

Update to the latest released version of clusterctl before to install or upgrade component files, kubectl apply individual yaml files is not supported or suggested. Starting with this release (v0.3.7), clusterctl supports extended variable template substitutions, if you encounter any issues related to templating or environment variables update to the latest vers

[2020-08-24 09:20] Emc1992 commented on #3339
Yeap, got passed this issue, sorry for not updating here. Dealing with a vsphere specific option now but will check when I get a chance

[2020-08-24 09:22] fabriziopandini commented on #3200
@Emc1992
https://cluster-api.sigs.k8s.io/clusterctl/developers.html#additional-steps-for-the-docker-provider might help you
TL;DR; build images, then build the manifests, run the local overrides script, then kind load the image

FYI: https://github.com/kubernetes-sigs/cluster-api/pull/3514 is going to simplify the CAPI quick start for CAPD starting from the v0.3.9 release (~ end of the month)

[2020-08-24 09:26] Emc1992 commented on #3200
Yea I needed to change some namespaces correctly to get it working, once I did the above it was looking at the capd-system ns so a service but it was created in the system ns. Once I get some designated time to looking at this, I will I should be able to assist

[2020-08-24 09:36] fabriziopandini commented on #3519
@jsturtevant thanks for reporting.
TBH I'm a little bit debated about this, because etcd not reporting normally is a transient state that is part of the startup sequence, and so returning an error probably isn't the best strategy here, but I leave this open for discussion.

However, I agree we should provide more visibility on what is going on and https://github.com/kubernetes-sigs/cluster-api/iss

[2020-08-24 10:01] fabriziopandini commented on #3516
/close

@dhawal55 thanks for raising this topic

[2020-08-24 10:01] #3516 closed

[2020-08-24 10:40] fabriziopandini commented on #3426
Is it possible to get the tree of the ~/.cluster_api folder and the output of clusterctl init with -v 5 flag enabled?

[2020-08-24 11:58] jan-est commented on #3512
@vincepri I have been working an experimental code for scale-in feature. Is there anyone in the community that could go through the KCP upgrade and scaling workflow with me? I would like to talk more in details what to take account while trying to scale-in the KCP and does this affect for example Etcd and control plane health checks? I can take this into this week community meeting as well.

I wou

[2020-08-24 14:17] ncdc commented on #3512
cc @randomvariable @detiber

[2020-08-24 15:26] fabriziopandini opened #3523 "Add cleanup section to the quick start"
**User Story**

As a user, I would like to clean up all the resources after completing the CAPI quick start

**Detailed Description**

In the https://cluster-api.sigs.k8s.io/user/quick-start.html we should provide a new paragraph with instruction for cleaning up all the resources created during the quick start, and more specifically explain how to

- Delete the workload cluster
- Delete the manage

[2020-08-24 15:38] SmiffyJ commented on #3426
@fabriziopandini Sure here's the tree

[code]

And the output of that command is simply:

`Fetching providers`

[2020-08-24 15:40] SmiffyJ commented on #3426
@Emc1992 I've not found a solution - would be very interested in a fix though

[2020-08-24 15:52] vincepri commented on #3523
/milestone Next

[2020-08-24 15:53] vincepri commented on #3523
If someone wants to tackle this, we can merge it whenever

[2020-08-24 16:15] #3453 closed

[2020-08-24 16:35] fabriziopandini commented on #3426
Sorry for not being clear:
The output of clusterctl init --core cluster-api:v0.3.0 --bootstrap kubeadm:v0.3.0 --control-plane kubeadm:v0.3.0 --infrastructure docker:v0.3.0 -v 5

Could you share the solution? I'm working on https://github.com/kubernetes-sigs/cluster-api/pull/3514 and I would like to make sure to cover all the possible problems

[2020-08-24 17:00] #3398 closed

[2020-08-24 17:55] dhawal55 commented on #3516
@dims Thank you for the info. Do you have more info on the pain points of running kubelet as container?

[2020-08-24 18:10] vincepri commented on #3309
Can we close this in favor of more specific issues? I'm not sure if all the PRs will make it in v0.3.9

[2020-08-24 18:11] vincepri commented on #3091
@randomvariable Do you have time to finish this before EOW/v0.3.9?

[2020-08-24 18:12] vincepri commented on #2652
/milestone Next

[2020-08-24 18:12] vincepri commented on #3000
/milestone v0.3.10

If the PR goes in v0.3.9, that's fine although want to remove this as a release blocker

[2020-08-24 18:24] dhawal55 opened #3524 "Allow upgrading CAPI management cluster to specific version"
**User Story**

Allow `clusterctl upgrade` to pin to a specific version
Allow `clusterctl init` to generate yaml for management cluster

**Detailed Description**

Currently `clusterctl upgrade` allows to plan and apply the latest version only. Also, there is no apply command for management cluster (there are separate create and upgrade commands). It will be nice to have `clusterctl upgrade` comman

[2020-08-24 18:35] fabriziopandini commented on #3524
/triage support

This is possible. See e.g. https://cluster-api.sigs.k8s.io/clusterctl/commands/upgrade.html#upgrade-apply (the example for upgrading to a pre release gives you the right syntax)

Clusterctl init does much more than generating yaml, however if you want to get only the yaml you can use the clusterctl config provider command with the -o yaml flag

[2020-08-24 18:37] vincepri commented on #3075
/lifecycle frozen

[2020-08-24 18:37] vincepri commented on #3524
/milestone Next

[2020-08-24 18:50] dhawal55 commented on #3524
@fabriziopandini Thank you. I didn't knew about `clusterctl config provider` had an option to generate yaml. That's exactly what I was looking for.

If I apply the below 4 yamls, is it same as running `clusterctl init`:
[code]

[2020-08-24 19:26] wfernandes commented on #3309
I'm fine with closing this issue in favor of more specific issues.

Regarding the PRs that might not make it in v0.3.9, are you referring to PRs #3408 and #3350?

[2020-08-24 19:46] vincepri commented on #3309
/close

Thanks @wfernandes! Yes, I was referring to those PRs, let's open more specific ones and avoid having umbrella-like issues

[2020-08-24 19:46] #3309 closed

[2020-08-24 19:56] fabriziopandini commented on #3524
Nope. You should apply also cert-manager.
NOTE. if you create a management cluster by your own, then there is no guarantee clusterctl (e.g. clusterctl upgrade) will work

[2020-08-24 20:28] #2846 closed

[2020-08-24 22:02] wfernandes opened #3525 "Add test for GetWorkloadCluster in KCP"
**User Story**

As a developer I would like to have more confidence in my code by ensuring it is tested.

**Detailed Description**
As per [this comment](https://github.com/kubernetes-sigs/cluster-api/issues/3309#issuecomment-657548852) when auditing KCP tests, we need some tests for `GetWorkloadCluster` method.

/kind cleanup
/area testing

[2020-08-24 22:04] wfernandes opened #3526 "Add test for ReconcileEtcdMembers in KCP"
**User Story**

As a developer I would like to have more confidence in my code by ensuring it is tested.

**Detailed Description**
As per [this comment](https://github.com/kubernetes-sigs/cluster-api/issues/3309#issuecomment-657548852) when auditing KCP tests, we need some tests for `ReconcileEtcdMembers` method.

/kind cleanup
/area testing

[2020-08-25 00:17] dhawal55 commented on #3524
@fabriziopandini oh ya, I already have cert-manager pulled out in yaml since we deploy multiple capi providers in a cluster. If I generate the yamls for the new version using `clusterctl config provider`, will I still be missing any clusterctl goodies?

[2020-08-25 08:44] SmiffyJ commented on #3426
Ah I see! This is the output to that:

[code]

Sorry I have not found a solution yet

[2020-08-25 08:51] fabriziopandini commented on #3426
Could you provide the following file?
└── overrides
    ├── cluster-api
    │   └── v0.3.0
    │       └── core-components.yaml

[2020-08-25 08:52] fabriziopandini commented on #3524
Yep. if you use kubectl apply to create providers then you are on your own...

[2020-08-25 09:39] randomvariable commented on #3091
Yup.

[2020-08-25 09:40] #3096 closed

[2020-08-25 09:55] SmiffyJ commented on #3426
@fabriziopandini Yep that's here:

https://gist.github.com/SmiffyJ/aa5d5c55bbc61f3c0298e07e80a72426

[2020-08-25 10:16] #3097 closed

[2020-08-25 11:24] fabriziopandini commented on #3426
There is something weird in your setup, but I can't understand it.

The manifest generated for you contains:
[code]
While it should contain
[code]
(with the capi prefix in front of each name)

Looks like this might depend on your kustomize version. mine is 3.1.0 (IF I remember well any version > 3 should work)

[2020-08-25 12:08] Emc1992 commented on #3426
This look very similar to my issue, I had to tweak the namespaces manually

[2020-08-25 13:27] fabriziopandini commented on #3383
/assign
/lifecycle active

I have sent a PR proposing a solution:

Those conditions (or some of those conditions) transition from status=True to status=False with reason deleting

The Ready condition reflects the above change and transition to status=False with reason deleting

[2020-08-25 13:30] SmiffyJ commented on #3426
It's working!

@fabriziopandini You were correct - I first manually changed the names of both Namespaces to include the capi- prefix, which worked. I then reinstalled kustomize with homebrew @3.8.1 and the override Python script produced the correct core-components.yaml file.

Thanks for the help

[2020-08-25 13:51] vincepri commented on #3525
/milestone v0.3.9

[2020-08-25 13:51] vincepri commented on #3526
/milestone v0.3.10

[2020-08-25 14:37] randomvariable commented on #3512
Had the beginnings of a conversation in Slack, so will summarise here:

Early drafts of the KCP proposal did include scale-in for upgrades, and there was some discussion about it before we settled on scale out. The case for supporting both was reviewing what other projects were doing, in particular, if you look at Cloud Foundary Container Runtime, you get the following rollout strategies ([from th

[2020-08-25 15:02] fabriziopandini commented on #3426
yay! happy to help!
/close

[2020-08-25 15:03] #3426 closed

[2020-08-25 16:07] yastij commented on #3075
this issue should be generic to other first-class kubernetes objects such as PVs

[2020-08-25 16:14] vincepri commented on #3106
/milestone v0.3.10

[2020-08-25 16:15] vincepri commented on #3491
/milestone v0.3.10

[2020-08-25 16:15] vincepri commented on #2859
/milestone v0.3.10

[2020-08-25 16:16] vincepri commented on #3026
/milestone v0.3.10

[2020-08-25 16:16] vincepri commented on #3315
@sedefsavas Are you still working on this?

[2020-08-25 16:27] sedefsavas commented on #3315
Yes, will push an initil PR for it soon to get feedback.

[2020-08-25 18:08] vincepri commented on #3430
/milestone Next

[2020-08-25 18:14] #2578 closed

[2020-08-25 18:34] fabriziopandini commented on #3085
/remove-lifecycle stale

[2020-08-26 00:52] pulkitmehra commented on #3457
@wfernandes , I would love to help here, this seems to me good first issue, could you help assign this to me ?

[2020-08-26 10:51] fabriziopandini commented on #3457
/assign pulkitmehra
/lifecycle active

[2020-08-26 10:52] randomvariable commented on #3091
/lifecycle active

[2020-08-26 12:03] prankul88 commented on #3422
@wfernandes Hi, I would like to work on this.

/assign

[2020-08-26 12:16] kashifest commented on #3483
@fabriziopandini I understand your point that the example error that I showed in the original issue description , that is swallowed by cloud init, but the issue of not being able to roll-back in case of upgrade failure remains. What I meant is that, the example given here with CAPD and cloudinit might not be right example, lets consider this with another example:

We have initialized KCP with 3 re

[2020-08-26 13:04] fabriziopandini commented on #3483
@kashifest I got your point.

I think that what you are calling rollback is similar to the problem that we are trying to fix with the machine health check: how to identify and get rid of broken control plane nodes in a controlled wait (e.g without losing quorum).

In fact, I assume that after #3185 lands, the problem of getting rid of the v1.18.3 machine (and thus unblock the installation of v1.18

[2020-08-26 13:22] fabriziopandini commented on #3422
Thanks @prankul88 !
/lifecycle active

[2020-08-26 14:23] benmoss commented on #3519
I think this is intended behavior from https://github.com/kubernetes-sigs/cluster-api/pull/2841, maybe @sedefsavas can comment

[2020-08-26 15:41] fabriziopandini commented on #3427
I'm starting to work with this together with @wfernandes:
The main goal the IMO this work should achieve are:
- To make CAPI more git ops friendly by making it easier to handle the management cluster with git ops (vs opting out to clusterctl to do so)
- To make clusterctl simpler to use for teams of admins by sharing the same settings in the cluster (vs manually synchronizing local settings across

[2020-08-26 17:32] detiber commented on #3075
I think we need to be much more conservative around PVs, especially since it could result in unexpected data loss.

[2020-08-26 17:42] randomvariable commented on #3075
:100: Intent around reclaim policies during the lifetime of a cluster and at the end of its life is tricky. We definitely should not delete PVs which were part of PVCs that don't have a delete reclaim policy.

[2020-08-26 17:49] zawachte-msft commented on #3427
I work on a team that built an operator which leverages clusterctl library to deploy and manage the management cluster.

Its closed source for now ... along with an infrastructure provider my team has been working on. Hopefully open sourcing soon!

Would love to bubble up some of the ideas and code we used to solve our usecase!

[2020-08-26 17:50] jackfrancis opened #3533 "clusterctl as a kubectl plugin"
**User Story**

As a Kubernetes operator leveraging cluster-api to manage cluster lifecycle, I would like to be able to do cluster-api-specific operations (e.g., things that clusterctl does) using a tool I'm already familiar with (e.g., kubectl) for the purpose of simplifying my toolchain.

**Detailed Description**

Let's investigate the pros/cons of implemeting "clusterctl" as a kubectl plugin, r

[2020-08-26 17:51] jackfrancis commented on #3533
This issue may inform the considerations of clusterctl as a kubectl plugin:

https://github.com/kubernetes-sigs/cluster-api/issues/3255

[2020-08-26 17:52] detiber commented on #3427
Feeding back in the suggestion from the Cluster API meeting today that we should probably call this "management cluster operator" or something similar to more accurately convey what the operator is managing.

[2020-08-26 17:53] detiber commented on #3533
/cc @Arvinderpal

[2020-08-26 18:01] detiber commented on #1554
/lifecycle frozen

[2020-08-26 18:05] wfernandes commented on #3533
/area clusterctl

[2020-08-26 18:07] sedefsavas commented on #3519
I agree @fabriziopandini on this, it is a transient error, the only important error here is the one we are logging: `Failed attempt to remove potential hanging etcd members`.
One other thing is we do not use events consistently, maybe it is a good idea to remove them all and either log or use conditions to show errors.

[2020-08-26 18:14] detiber commented on #3517
I too would like to avoid extending the "scope" pattern further.

It makes debugging more difficult, makes testing more difficult (what all do I need to populate in the scope as a bare minimum for testing this thing), and it tends to leak much further than the controller code and down into libraries as well.

[2020-08-26 18:46] vincepri commented on #3427
✅ Renamed the issue, it's super explicit now!

[2020-08-26 19:04] ahmetb commented on #3533
Just wanted to drop a note that we’d be happy to support the distribution of the plugin from Krew (https://krew.sigs.k8s.io) side.

[2020-08-26 19:26] vincepri commented on #3519
Related to https://github.com/kubernetes-sigs/cluster-api/pull/3336 as well

[2020-08-26 20:06] detiber commented on #3533
Biggest Pro in my mind is:
- Currently users need to gather binaries for cluster-api and provider-specific binaries from various github releases, changing these to kubectl plugins and leveraging Krew for distribution would greatly simplify installation for users

It does lead to a challenge if someone wants to install something other than the "latest", but that is already an issue that exists with

[2020-08-26 20:09] detiber commented on #3533
One potential drawback to kubectl plugins is that every command we currently have with clusterctl will be longer as a kubectl plugin.

For example, `clusterctl init` would be `kubectl clusterctl init` (though we probably want better naming for the plugin than `clusterctl`)

[2020-08-26 20:11] detiber commented on #3533
One potential solution that we could have for this is to require plugins that are expected to interact with the main `clusterctl` plugin to expose one or more sub-commands that can be used for querying compatibility, feature support, configuration, etc.

[2020-08-26 20:16] randomvariable commented on #2769
One use case we would want to support:
Discussing with @andrewsykim , there's scenarios with quite a few of the CNIs where you don't want kube-proxy deployed. kubeadm supports this using only the CLI flag "--skip-phase", so if we are going to provide our own types, it we should see which of these CLI flags we may want to expose as API types.

[2020-08-26 20:24] #2788 closed

[2020-08-26 20:30] neolit123 commented on #2769
i though we had a ticket about the support to skip phases via the kubeadm configuration, but [apparent we don't](https://github.com/kubernetes/kubeadm/issues?q=is%3Aissue+is%3Aopen+label%3Akind%2Fapi-change).

i can see this being a string slice under JoinConfiguration or InitConfiguration.

[2020-08-26 20:30] jackfrancis commented on #3533
Is it 100% true that kubectl plugins are not able to be used immutably? I can't refer to `kubectl foo` @ foo:v2.1.4 ?

[2020-08-26 20:32] ncdc commented on #2769
💯 yes please, ^^^^^^

[2020-08-26 20:33] neolit123 commented on #2769
https://github.com/kubernetes/kubeadm/issues/2261

[2020-08-26 20:57] detiber commented on #3533
Based on https://github.com/kubernetes-sigs/krew/issues/343, I think that is correct.

There is a proposal for [supporting custom index repositories](https://github.com/kubernetes-sigs/krew/issues/483), though. We could likely use to publish our own indices, which we could separate out by :wave: version :wave: for the purposes of compatibility.

I'm hand waving around version, since it might not b

[2020-08-26 21:02] ahmetb commented on #3533
Krew only allows installing latest version of a plugin for simplification reasons. (It has worked well for us so far with >110 plugins). My recommendation: if you have an older version you want to keep around and rarely rev, call it `clusterctl1` and if you have most of the work happening in v2, call it `clusterctl`. (This is also how Homebrew and some other package managers do.)

Custom indexes c

[2020-08-26 21:07] jackfrancis commented on #3533
Thanks folks. Because (in a perfect world) clusterctl is a front-end on top of a strongly versioned cluster-api backend, there is an implicit cluster-api version associated with every clusterctl gesture/outcome. And because cluster-api does the normal thing and revs versions when it has a good reason to introduce a breaking API change, that means the version of cluster-api you're using (and by ass

[2020-08-26 22:36] wfernandes opened #3534 "clusterctl should block its usage across minor versions of CAPI"
**User Story**

As a user I would like to ensure that I'm using the appropriate version of clusterctl with a management cluster because I do not want to have unexpected side effects when performing cluster operations.

**Detailed Description**

If we have a v1alpha3 management cluster (which may have been created by `clusterctl-v1a3 init`), then we should be blocked from using a clusterctl cli fro

[2020-08-27 07:09] prankul88 opened #3535 "Add documentation for clusterctl sub-command `get kubeconfig`"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
Clusterctl added subcomand `get kubeconfig` command via #3460 .
Although the documentation for the same is missing in the cluster-api book.

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**En

[2020-08-27 07:55] richardcase commented on #3427
@fabriziopandini @wfernandes - I'm really interested in this. We've been building GitOps+CAPI solutions for customers for a while now (since Dec 19).  A "management cluster operator" would really help in simplifying the GitOps+CAPI story.....we have to write a lot of code that essentially replicates init (or move).

We've been toying with the idea of building something and created a very rough tes

[2020-08-27 11:31] jan-est commented on #3512
Hi, how should we proceed with this scale-in feature. Can we proceed with design changes in KCP proposal?

I have tested this feature couple of days now and I have a working code and an idea how we could add this feature. Currently changes covers following cases:

- if scale-in is enabled and replica count is not 1 -> scale-in
- if scale-in is enabled and replica count is 1 -> force to scale-out
-

[2020-08-27 12:02] randomvariable commented on #3512
/retitle Add option for scale-in for KCP

[2020-08-27 12:03] randomvariable commented on #3512
I think so. I'll leave it to the maintainers to decide timing etc...

[2020-08-27 12:14] randomvariable opened #3536 "Flake in e2e tests for pivoting self-managed cluster"
Seeing the following flakes in CI:

CAPI e2e:
* When testing Cluster API working on self-hosted clusters Should pivot the bootstrap cluster to a self-hosted cluster - https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-cluster-api#capi%20e2e%20tests

CAPI unit tests:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-cluster-api#unit%20tests
seems to be mostly MachineHealthCheck

[2020-08-27 12:15] randomvariable commented on #3536
/kind bug

[2020-08-27 13:24] devigned commented on #3533
Perhaps, `kubectl capi init` and then follow for infra `kubectl [capz|capa|etc] ...`

[2020-08-27 14:25] fabriziopandini opened #3537 "KCP reports nil error message when there are etcd health problems"
**What steps did you take and what happened:**
While creating a cluster with KCP I noticed this event:
[code]

**What did you expect to happen:**
The event to provide the error message

**Anything else you would like to add:**

**Environment:**

/kind bug

[2020-08-27 14:25] fabriziopandini commented on #3537
/assign
/lifecycle active

[2020-08-27 14:26] ncdc commented on #3537
Is this the same as #3519?

[2020-08-27 14:33] fabriziopandini commented on #3537
/close

[2020-08-27 14:33] #3537 closed

[2020-08-27 14:38] vincepri commented on #3536
/assign @sedefsavas
/milestone v0.4.0

[2020-08-27 14:43] randomvariable commented on #3536
Breaking this out into two issues as per @ncdc's advice

/retitle Flake in e2e tests for pivoting self-managed cluster

[2020-08-27 14:45] randomvariable opened #3539 "Resolve unit test flake in MHC"
CAPI unit tests are seeing flakes.
k8s-testgrid.appspot.com/sig-cluster-lifecycle-cluster-api#unit%20tests
seems to be mostly MachineHealthCheck

/kind bug

For context, this is post #3209.

Local testing at the time under ginkgo's "run until failure" mode was not failing, so maybe a resource issue.

[2020-08-27 14:46] randomvariable commented on #3536
Other issue is #3539

[2020-08-27 15:05] jayunit100 opened #3540 "KCP conditions need to indicate when it fails to clone linked templates"
**What steps did you take and what happened:**

Spun up a cluster with a bad public ssh key.
Saw no activity.
Eventually looking in:
[code]

It was clear that it was an SSH key missing issue.  Since that admission controller denied the request, new machines not getting created, resulting in a starvation scenario during cluster bootstrapping, that isnt detectable via the `conditions` api.

**What d

[2020-08-27 15:05] jayunit100 commented on #3540
cc @ncdc

[2020-08-27 15:06] ncdc commented on #3540
/retitle KCP conditions need to indicate when it fails to clone the infra machine template

[2020-08-27 15:09] vincepri commented on #3540
Renamed it to include bootstrap as well

[2020-08-27 15:09] vincepri commented on #3540
/help
/milestone v0.4.0
/priority important-longterm

[2020-08-27 16:05] wfernandes commented on #3533
That's what I was thinking as well 🙂
Regardless, I think we should look at the concept of "clusterctl as a kubectl plugin" to have its own defined user experience instead of a "lift-and-shift" of commands and sub-commands from the current `clusterctl`.

[2020-08-27 16:33] wfernandes commented on #3533
If we are thinking about sharing state, I wonder if we could leverage ideas from #3427. That is, the state being stored as part of CRDs for management cluster operator API. That is, when we `kubectl capi init` all the provider information would be stored as part of the operator CRD API. 🤔

[2020-08-27 17:06] vincepri commented on #3512
Given that this is a large-ish feature addition, I'd propose to target v1alpha4 and consider backporting if the code changes aren't invasive.

/cc @CecileRobertMichon

[2020-08-27 17:11] #3466 closed

[2020-08-27 17:12] vincepri commented on #3533
We might not even need to get `kubectl capa|capz|etc` in place if the management cluster operator materializes in time.

Consider the scenario that we have a unified operator and high level provider CRD that can register and manage provider components. In this scenario, users should be able to install CAPI through a kubectl plugin, and use some other way (either the same plugin, or kubectl apply)

[2020-08-27 17:23] wfernandes commented on #3533
From the above discussion it seems like we were thinking of allowing `clusterctl` itself to support plugins as part of #3255.
This leads me to thinking how this plugin inception will work. 🤔

Maybe we need more examples of other plugins that might fit the use case of `kubectl capa|capz|capv...` because I'm not sure what other provider specific binaries there are. _Apologies for my lack of infra pr

[2020-08-27 17:26] vincepri commented on #3526
/milestone v0.3.9

[2020-08-27 17:47] randomvariable commented on #3539
/assign
/assign @fabriziopandini

[2020-08-27 17:54] randomvariable commented on #3539
Here's a stack trace.

[code]

[2020-08-27 19:38] vukg commented on #3427
Oh, that would be cool to work out. @MaxRink was just scoping our operator to use clusterctl lib few weeks ago and we have been pumping up to start working on it for our use case, but we are also happy to contribute to community effort (specs, deployment and code contrib). Definitelly 👍

[2020-08-27 21:02] vincepri commented on #3371
/milestone v0.3.10

[2020-08-27 22:58] jackfrancis commented on #3533
@wfernandes Here's a user scenario that's not currently covered by `clusterctl`, and is arguably provider specific. Something like (continuing to use the hypothetical `kubectl` plugin example pattern):

[code]

A gesture like that could create an Azure-backed cluster-api-enabled Kubernetes cluster from scratch, using Azure-appropriate defaults (for example, let's say that workflow creates an ephem

[2020-08-28 03:15] #3526 closed

[2020-08-28 03:24] jichenjc opened #3542 "any criteria to `clusterctl move` action?"
**User Story**

we created a secret in bootstrap cluster and I found it's not moved to new cluster (target)
any reference what kind of secret will be moved from bootstrap to new one?

https://cluster-api.sigs.k8s.io/clusterctl/commands/move.html didn't give detail info on it

if the secret is not moved automatically, then I have to guide user to recreate it at target cluster as well.. so need some

[2020-08-28 06:03] jan-est commented on #3512
Is there any time schedule set for a v1alpha4 release?

[2020-08-28 09:09] fabriziopandini commented on #3512
+1 to v1lapha4

[2020-08-28 09:14] fabriziopandini commented on #3542
/triage support

@jichenjc internals of clusterctl move are documented [here](https://cluster-api.sigs.k8s.io/clusterctl/provider-contract.html#move).

Following paragraphs might be of interest as well:
- https://cluster-api.sigs.k8s.io/clusterctl/provider-contract.html#ownerreferences-chain
- https://cluster-api.sigs.k8s.io/clusterctl/provider-contract.html#links-to-external-objects

[2020-08-28 09:15] fabriziopandini commented on #3542
/remove-kind feature

[2020-08-28 09:20] jichenjc commented on #3542
thanks, I will dig more with the info , appreciate~
@fabriziopandini

[2020-08-28 09:20] #3542 closed

[2020-08-28 09:31] fabriziopandini commented on #3542
feel free to reach out for any question

[2020-08-28 09:37] fabriziopandini commented on #3427
Thanks all for chiming in! I will try to set up a working group to define goals and non-goals and collects all the valuable experience you are bringing to this discusssion

[2020-08-28 09:41] fabriziopandini commented on #3534
+1 to this
IMO the most tricky part is that in a multitenancy scenario a management cluster could be both v1alpha3 and v1apha4 at the same time. Happy to brainstorm about how to get this addressed

[2020-08-28 12:05] MaxRink commented on #3427
I did some initial write-up of my Ideas in form of a HLD a few months ago ( https://github.com/MaxRink/cluster-api/blob/feature_clusterctl-improovements/docs/proposals/20200615-Clusterctl-Operator.md ), just hvent found the time to follow up on it.

[2020-08-28 14:01] vincepri commented on #3534
/milestone v0.4.0

[2020-08-28 14:02] vincepri commented on #3512
@jan-est We don't have any estimates today I'd expect it either by end of year / early 2021

[2020-08-28 15:04] vincepri commented on #3315
/milestone v0.3.10

[2020-08-28 15:04] vincepri commented on #3091
/milestone v0.3.10

[2020-08-28 15:45] vincepri commented on #3380
/milestone v0.3.10

[2020-08-28 17:14] sedefsavas commented on #3536
I am not able to replicate this locally. On the failed tests, it is failing to connect to the management cluster after 9 retries. It may be because retry steps are not enough.

I also see another issue in the failed tests, which may/may not be related:
`watch of *v1.Event ended with: very short watch: pkg/mod/k8s.io/client-go@v0.17.8/tools/cache/reflector.go:105: Unexpected watch close - watch las

[2020-08-28 17:47] #3383 closed

[2020-08-28 19:55] vincepri opened #3547 "Consider moving MachineHealthCheck into a different API group"
MachineHealthCheck is today part of the core types. As we approach v1alpha4, I'd like to propose to move this type into a different API group under Cluster API. This move would allow us to further extend the ability for different kinds of healthcheck in the future targeted at different environments (e.g. control plane, external etcd, and so on) without potentially slowing down the core types to ge

[2020-08-30 14:26] cpanato commented on #3505
Can this be a flag in the clusterctl? or what is the idea other ideas?

[2020-08-30 14:28] cpanato commented on #3322
Kubernetes is built now with go1.15
@vincepri should we proceed with the changes?

[2020-08-30 14:33] cpanato commented on #3099
@fabriziopandini @vincepri what is the decision here, the flag `--config` accept https/http config? was not clear to me.

[2020-08-31 02:41] vincepri commented on #3322
Soon-ish 😄 , once we open the main branch to v1alpha4/v0.4.x and update controller runtime, we should we good to make the change in test-infra

[2020-08-31 02:47] justaugustus commented on #3322
go1.15.1 is scheduled for 9/1.
I'd say wait until kubernetes/kubernetes updates before picking it up.

[2020-08-31 05:56] jan-est commented on #3512
Thanks @vincepri good to know.

[2020-08-31 08:38] fabriziopandini commented on #3099
I'm +1 to support urls in --config

[2020-08-31 08:41] fabriziopandini commented on #3505
I think that a possible approach is to derive hard-coded info (version, manifest-hash) from the embedded manifest, so when you upgrade the manifest there is no more need for manual code changes at every cert-manager release bump

[2020-08-31 08:51] fabriziopandini commented on #3547
I'm +1 to keep the core Cluster API scoped.

MHC should be a pluggable/replaceable component, like CAPBK or KCP
WRT to the conversion controller, +1 as well, because it could be an interesting pattern to explore

[2020-08-31 15:21] wfernandes commented on #3505
As part of the clusterctl version check #3484, we added a `version.yaml` file that could be used to hold the information that was read from the embedded cert-manager manifest if required for future use.
Also the `version.yaml` file is not meant to be modified by the user so it would be a good place to store it if necessary.

[2020-08-31 16:03] wfernandes commented on #3099
I'm fine with adding URL support for `--config`.

One thing to take into account regarding UX. Currently, other options for pulling from a URL are a bit specific. For example, in `clusterctl config cluster --from <url>`, here the URL must be from _github.com and the local file system_ and NOT any random url.

So as per the original suggestion above from @deitch:

I think for now we could support t

[2020-08-31 18:26] vincepri opened #3555 "Consider adding more validation when changing KCP images for other dependencies"
During today manual upgrade from v1.18.x to v1.19.0, I stumbled upon a less than ideal user experience.

- Created a cluster at v1.18 without setting etcd.local.imageTag or dns.imageTag in KCP's spec.
- Tried to upgrade the spec.version to v1.19.0, including etcd and coredns new images.
- By default, the etcd image is hosted at `k8s.gcr.io/etcd:3.4.9-0`, when I first input the version I typed v3.4

[2020-08-31 18:27] vincepri commented on #3555
This issue applies to other dependencies as well, that's why it was titled this way.

[2020-08-31 19:58] wfernandes commented on #3535
/area clusterctl

[2020-08-31 20:14] wfernandes opened #3558 "clusterctl unable to delete multiple providers from a namespace"
**What steps did you take and what happened:**
1. `clusterctl init --infrastructure docker --target-namespace foobaz`
1. `clusterctl delete --core cluster-api --bootstrap kubeadm --control-plane kubeadm --infrastructure docker --namespace foobaz`
    This command only deletes the core `cluster-api` provider.`
1. If I run the same command again, it only deletes the boostrap `kubeadm` provider.
1. I

[2020-08-31 21:49] wfernandes commented on #3533
@jackfrancis Thanks for the explanation. This makes sense.

I think the important thing to note here would be:

Creating a separate kubectl plugin for well-established providers makes sense. But I'm assuming for newer providers we either need to:
- continue providing a generic process for allowing use of newer providers, e.g. `kubectl capi init --infrastructure awesomo-provider`
- make the plugin

[2020-08-31 22:09] jackfrancis commented on #3533
@wfernandes +1

1. Definitely the current, "vanilla" `clusterctl` solution is super important to maintain so that there's an easy onramp for new provider authors:
- generate cluster config
- init an existing k8s cluster
- move/pivot

Basically, the existing functionality makes sense (IMO) as a functional minimal bar to clear.

2. We would want to encourage providers who want to do the full custom

[2020-08-31 22:11] CecileRobertMichon opened #3561 "Add version print column for MachinePool"
Apply the changes in https://github.com/kubernetes-sigs/cluster-api/pull/3560 to MachinePool.

This can be done by adding a printcolumn line to https://github.com/kubernetes-sigs/cluster-api/blob/master/exp/api/v1alpha3/machinepool_types.go#L207.

/good-first-issue
/help
/kind feature

[2020-08-31 22:25] #3315 closed

[2020-08-31 22:32] vincepri opened #3564 "Kubernetes upgrades to v1.19 are flaky"
During today session, we manually tested upgrading Kubernetes clusters from v1.18 to v1.19. More often than not, upgrades didn't successfully complete.

From @ncdc:

For more information see [this slack thread](https://kubernetes.slack.com/archives/C8TSNPY4T/p1598899864038100).

Related to https://github.com/kubernetes/kubeadm/issues/2270 and https://github.com/kubernetes/kubeadm/issues/2271.

/mi

[2020-08-31 22:43] jackfrancis commented on #3533
This thread is getting a bit chatty at this point, so I'll draft out what we've discussed so far in a more formal doc, with some progress towards concrete goals/solutions.

@wfernandes would you like to co-author? In any event, I'll bug you to clarify goals/non-goals before writing anything more substantial.

[2020-09-01 07:01] lzhecheng opened #3565 "[Release v0.3.9] No more binaries and yamls for v0.3.9, expected?"
**What steps did you take and what happened:**
v0.3.9 release has no yamls and binaries. Is it expected?

With Kind v0.8.0, I tried clusterctl v0.3.6 and v0.3.8 to run `clusterctl init` but it failed and said that:
`Fetching providers
Fetching File="core-components.yaml" Provider="cluster-api" Version="v0.3.9"
Error: failed to get provider components for the "cluster-api" provider: failed to read

[2020-09-01 07:17] Evalle commented on #3561
I can help with that
/assign

[2020-09-01 07:37] xh3b4sd opened #3566 "breaking changes in patch releases"
Hello, I wanted to rather ask a general question. I see that it more often happens in this project that breaking changes get published in patch releases. I wonder why one would do something like that. The structure of the released tags looks pretty much like a semver version, though its semantics are not respected. What is the philosophy behind the currently implemented practice? I am a developer

[2020-09-01 09:27] fabriziopandini commented on #3565
It seems that something went wrong with the release.
Checking
/cc @vincepri

[2020-09-01 13:53] ncdc commented on #3566
Hi @xh3b4sd, thanks for your question. This is a difficult thing to get "right" for everyone based on the state of the project today. Technically, because the project's version is less than 1.0.0, it has not yet reached the threshold for an initial stable public API. From https://semver.org/#spec-item-4:

In this aspect, we are adhering to the rules put forth by semver correctly. However, we do re

[2020-09-01 13:58] ncdc commented on #3565
I think this has been resolved. Closing. Please reopen if you continue to have issues. Thanks.

/close

[2020-09-01 13:58] #3565 closed

[2020-09-01 14:01] xh3b4sd commented on #3566
I understand this. I also did realize that this is the major zero version still. The latest batch of around 15 broken dependabot PRs found their way to my email inbox this morning. One example is https://github.com/giantswarm/aws-operator/pull/2714. For now we just closed all of them. So we have to pickup the pieces once we get to it. Thank you for getting back to this so quickly. Keep up all the

[2020-09-01 14:34] maelk opened #3568 "Adding a pause possibility for deployment roll outs"
**User Story**

As a baremetal cluster operator, I would like to be able to pause the roll out of my deployments. Considering the time required to deploy a node on hardware, I might be limited by the size of my maintenance window for the updates of my nodes. I could start a the roll out of a deployment and need to temporarily stop it when reaching the end of my maintenance window. I would resume i

[2020-09-01 14:43] fabriziopandini commented on #3566
@xh3b4sd I have checked the build logs and I have found this error:
[code]
The `reconcile.Result` type is from controller runtime; CAPI is using controller runtime v0.5.10, with the `IsZero` method, while your project is on v0.6.1 but this method does not exist in this version 😭

[2020-09-01 14:47] vincepri commented on #3566
It does exist in v0.6.2 https://github.com/kubernetes-sigs/controller-runtime/releases/tag/v0.6.2

@xh3b4sd Appreciate you reaching out, let me read through this later. We're usually very careful with breaking changes, as Andy mentioned above we're still alpha and trying to figure things out. If you have other experiences like this that have happened in the past I'd love to take a look so we can l

[2020-09-01 14:58] xh3b4sd commented on #3566
It is alright. Thanks everyone for your engagement. We can figure out the compile issues on our side. This can happen with unstable APIs. I was just not fully aware of the major zero version and its implications in this particular project.

[2020-09-01 15:01] vincepri commented on #3566
We should document this a little better, for this particular issue I'd suggest to always try to match dependencies (in this case controller runtime) with Cluster API, so when you update to the latest version, the dependencies get updates as well as part of `go mod tidy`

[2020-09-01 15:02] ncdc commented on #3566
@xh3b4sd is the timing (Wed 10 PT) convenient for you to join the public community meetings to discuss things like this?

[2020-09-01 15:27] vincepri commented on #3568
Would the `spec.paused` field work in this use case https://github.com/kubernetes-sigs/cluster-api/blob/3da81fa4261847394ad6619e1a3cb27d3f0b4811/api/v1alpha3/machinedeployment_types.go#L83-L85?

We also have the paused annotation that stops reconciliation on an object

[2020-09-01 15:43] vincepri commented on #3558
/milestone v0.3.10

[2020-09-01 15:55] fabriziopandini commented on #3558
The behavior above is totally unexpected, the command should not change its behavior in subsequent runs

In the original intern, -all was an alternative to deleting single providers, and --namespace was an option to delete a single provider in case of multitenancy (so --all and --namespace were not meant to be used together)

However I see that the flags now allows for different permutations, so I

[2020-09-01 16:11] xh3b4sd commented on #3566
Documentation is fair so that it is apparent which libraries work well together and in which versions. I am not 100% into dependabot in this case and how one might configure it. It might be that you cannot setup a lockstep between different dependencies. That would mean we just go manual for now. I have quite a bit on my plate though I will ask around internally to check if someone from Giant Swar

[2020-09-01 18:15] #3492 closed

[2020-09-01 18:37] maelk commented on #3568
If we were to use the pause annotation on the object, then we would not be able to do some LCM actions, such as scalings. We want to pause only the update part of the reconciliation, without removing the possibility to change the number of replicas.

[2020-09-01 19:43] randomvariable opened #3569 "Add tests for CAPI e2e for main branch of Kubernetes"
The following e2e tests are required to provide good signal for upcoming Kubernetes releases

* Create and tear down of Kubernetes main branch
* Run conformance tests on main branch (currently done in CAPA)
* Upgrade of a cluster from (main branch - .1) to main branch.

/area testing
/priority important-critical

Related to #3564

[2020-09-01 19:43] randomvariable commented on #3569
/assign

[2020-09-01 19:43] randomvariable commented on #3569
/lifecycle active

[2020-09-01 19:51] randomvariable commented on #3539
/unassign @fabriziopandini
/assign @wfernandes

[2020-09-01 20:24] sedefsavas opened #3570 "[e2e] Reduce PR blocking e2e test duration"
Current e2e tests take ~40 minutes for each PR, which is pretty slow to get a signal back.

Some remediations to get signal quickly without overloading prow resources:
- [x]  We can divide e2e tests into 3 categories as:
       - PR blocking smoke test: Have only `Quick Start` test as PR blocking
       - Periodic tests: Run all e2e tests periodically
       - Post-submit tests: Run all e2e tests

[2020-09-01 20:25] sedefsavas commented on #3570
/assign
/assign @wfernandes

[2020-09-01 21:05] wfernandes commented on #3570
/area testing

[2020-09-01 21:26] wfernandes opened #3571 "Fail fast on all ginkgo e2e CI test jobs"
**User Story**

As a developer I would like to have our ginkgo e2e tests fail fast so I can get a quicker signal back instead of having to wait up to an hour.

**Anything else you would like to add:**
This came out of a retrospective we had when troubleshooting the node upgrade issue with kubeadm from k8s v1.18 to v1.19.0

/kind feature
/area testing

[2020-09-01 21:27] wfernandes commented on #3571
/assign
/assign @sedefsavas

[2020-09-01 22:08] wfernandes commented on #3571
/lifecycle active

[2020-09-01 22:16] vincepri commented on #3571
/milestone v0.3.10

[2020-09-01 22:16] vincepri commented on #3570
/milestone v0.3.10

[2020-09-01 22:16] vincepri commented on #3539
/milestone v0.3.10

[2020-09-01 22:16] vincepri commented on #3569
/milestone v0.3.10

[2020-09-01 23:05] wfernandes commented on #3571
Sigh...this isn't as easy as I'd hoped.
As per my initial testing, `--failFast` doesn't fail the entire test suite immediately if the test suite is run in parallel. See https://github.com/onsi/ginkgo/issues/56#issuecomment-45144688

Although this issue https://github.com/onsi/ginkgo/issues/257 was closed, I'm not sure I know the outcome as per the documentation.

Will keep digging into this if the

[2020-09-02 01:27] superbrothers opened #3573 "Error: unable to verify clusterctl version: unable to write version state file"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

I ran the `clusterctl version` command after upgrading clusterctl to v0.3.9 and encountered the following error:
[code]

**What did you expect to happen:**

I expect the execution of `clusterctl version` command to finish successfully.

**Anything else you would like to add:**
[Miscellane

[2020-09-02 01:27] superbrothers commented on #3573
/area clusterctl

[2020-09-02 01:32] superbrothers commented on #3573
/assign

[2020-09-02 03:51] jichenjc opened #3574 "cluster move --dry-run ?"
**User Story**

I want to test whether I can move something from bootstrap to target cluster
is it reasonable to provide a comment to test what to be moved and what will be kept but
not really move them?

if it's reasonable, I can work on it

/kind feature

[2020-09-02 08:47] fabriziopandini commented on #3574
I'm +1
This is somehow related to https://github.com/kubernetes-sigs/cluster-api/issues/3441 (it is kind of a dry run that outputs yaml)

[2020-09-02 08:47] fabriziopandini commented on #3574
/area clusterctl
/cc @wfernandes

[2020-09-02 08:48] fabriziopandini commented on #3573
/lifecycle active

[2020-09-02 08:53] fabriziopandini opened #3576 "Document how to triage E2E test failures"
**User Story**

As a developer, I would like to understand how to investigate E2E test failure and how to get access to the test logs

/kind documentation

[2020-09-02 08:53] fabriziopandini commented on #3576
/assign
/lifecycle active

[2020-09-02 08:54] fabriziopandini commented on #3576
/milestone v0.3.10

[2020-09-02 11:57] fabriziopandini commented on #3344
/assign
/lifecycle active

[2020-09-02 12:27] cpanato commented on #3099
@wfernandes I did a bit different, but I'm willing to change if we all agree in the suggestion above, I did not implement in this way because the user might have a different name for the config file.

[2020-09-02 12:56] vincepri commented on #3576
/milestone v0.3.10

[2020-09-02 13:02] vincepri commented on #3574
/milestone v0.4.0
/priority important-longterm

[2020-09-02 13:14] vincepri commented on #3573
/milestone v0.3.10

[2020-09-02 14:45] #3573 closed

[2020-09-02 15:43] randomvariable opened #3581 "Remove CAPD's aggressive deletion of machines"
CAPD deletes and replaces machines if they fail to bootstrap. This was previously done to handle flakes, but it can mask errors, and make things difficult to debug.

Additionally, this behaviour is unlike most of the other providers, which explicitly fail a Machine for user intervention or for cleanup by MHC.

[2020-09-02 16:12] fabriziopandini commented on #3344
In the PR I have switched to a provider-specific approach because while investigating recent flakes about v1.19.0 upgrade we saw that the most critical issue to investigate are when the kubelet does not start

[2020-09-02 16:21] CecileRobertMichon commented on #3581
We actually still do that in CAPZ https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/controllers/azuremachine_controller.go#L292, I've been wanting to remove it but was waiting for MHC to work for control planes.

[2020-09-02 16:48] vincepri commented on #3566
Thank you all, we started documenting more where compatibility guarantees aren't respected throughout our codebase, I'll go ahead and close this for now, thank you all for chiming in and definitely join our community meetings if you can!

/close

[2020-09-02 16:48] #3566 closed

[2020-09-02 16:48] vincepri commented on #3568
Can you use spec.Paused field instead?

[2020-09-02 16:48] vincepri commented on #3568
/milestone Next

[2020-09-02 16:49] vincepri commented on #3465
/milestone Next
/priority backlog

[2020-09-02 16:49] vincepri commented on #3465
I'm more inclined to actually close this issue because we're probably not going to be able to tackle it until much later

[2020-09-02 16:49] vincepri commented on #3533
/kind design
/milestone Next

[2020-09-02 16:51] CecileRobertMichon commented on #3561
/milestone v0.3.10

[2020-09-02 16:51] vincepri commented on #3519
The related PR was merged, closing

/close

[2020-09-02 16:52] #3519 closed

[2020-09-02 16:52] CecileRobertMichon commented on #3519
/close

#3336 partially addressed this

[2020-09-02 16:52] vincepri commented on #3483
/milestone Next

[2020-09-02 16:52] vincepri commented on #3485
/milestone Next

[2020-09-02 16:53] vincepri commented on #3486
/milestone v0.4.0

[2020-09-02 16:53] vincepri commented on #3535
/milestone v0.3.10

[2020-09-02 16:53] vincepri commented on #3535
/help

[2020-09-02 16:53] vincepri commented on #3555
/help
/milestone v0.4.0

[2020-09-02 17:41] maelk commented on #3568
yes, that will do, thanks!
/close

[2020-09-02 17:41] #3568 closed

[2020-09-02 18:59] teoyaomiqui opened #3584 "Clusterctl client cant be used anymore with custom provider and repository clients"
**What steps did you take and what happened:**

We are using clusterctl version 0.3.6 as a library (not as a command line).
It was very nice to use, as it has provided a ways to inject custom providers, which we did. We don't want to rely on upstream providers and don't want to have components.yaml files on filesystem. Instead we use kustomize to implement [repository interface](https://github.com

[2020-09-02 19:00] teoyaomiqui commented on #3584
@Arvinderpal  may also assist here in explaining.

[2020-09-02 19:04] ncdc commented on #3584
👍

@teoyaomiqui @Arvinderpal do you have availability to make the changes and open a PR?

[2020-09-02 19:05] teoyaomiqui commented on #3584
@ncdc I we can manage that

[2020-09-02 19:46] wfernandes commented on #3535
/good-first-issue

[2020-09-02 20:38] wfernandes commented on #3533
@jackfrancis Sure. I'd be happy to help wherever I can 🙂

[2020-09-02 21:34] ncdc commented on #3584
Great! Please feel free to `/assign` and mark `/lifecycle active` when you're working on it.

[2020-09-02 22:55] #3491 closed

[2020-09-02 23:28] wfernandes commented on #3539
@randomvariable I'll start looking into this tomorrow but don't think I'll get anything done until next week.

[2020-09-02 23:43] teoyaomiqui commented on #3584
/assign teoyaomiqui
/lifecycle active

[2020-09-03 09:15] fabriziopandini opened #3589 "Fix self hosting E2E test flakes"
**What steps did you take and what happened:**
The self-hosting test in E2E is failing occasionally due to

[code]

Might be we are too aggressive in this operation and a wait loop before doing this operation might help to avoid this flakes

/kind failing-test
/area testing

[2020-09-03 09:15] fabriziopandini commented on #3589
/milestone v0.3.10

[2020-09-03 12:06] fabriziopandini commented on #3581
/assign
/lifecycle active

[2020-09-03 13:15] fabriziopandini opened #3591 "Doc only PR should not run unit tests"
Doc only PR should not run pull-cluster-api-test, and probably also some other job as well.
e.g. It could be interesting to investigate if we can avoid to run all the verification test (by breaking down docs related verification tests and other verification tests)

[2020-09-03 13:15] fabriziopandini commented on #3591
/area testing
/milestone v0.3.10

[2020-09-03 13:16] fabriziopandini commented on #3591
@wfernandes @sedefsavas ^^

[2020-09-03 13:37] vincepri commented on #3591
I'm fine to keep running the `-test` one but exclude the `-e2e` which I think we've already been doing, the test job doesn't take that long?

[2020-09-03 13:38] vincepri commented on #3589
/priority important-soon
/help

[2020-09-03 15:39] fabriziopandini commented on #3591
yes, this is a nit, but the test job is flaky and we are using prow resources that we can spare...

[2020-09-03 15:49] vincepri commented on #3591
We should fix the test job, @wfernandes is working on the MHC tests next week

[2020-09-03 16:13] #3561 closed

[2020-09-03 18:14] wfernandes commented on #3539
/lifecycle active

[2020-09-03 18:18] randomvariable commented on #3539
No probs. I think I'm probably cooked for the week anyway.

[2020-09-03 19:29] gab-satchi commented on #3558
/assign
/lifecycle active

[2020-09-03 20:25] #3344 closed

[2020-09-03 20:33] wfernandes commented on #3570
I think this issue can be closed as a result of the following PRs that have been merged.
https://github.com/kubernetes/test-infra/pull/19092
https://github.com/kubernetes/test-infra/pull/19103
https://github.com/kubernetes/test-infra/pull/19113

[2020-09-03 21:07] sedefsavas commented on #3570
Yes closing, post-submit jobs may be added in the future if periodic tests do not provide enough signalling.

[2020-09-03 21:07] #3570 closed

[2020-09-04 07:49] superbrothers opened #3595 "bash/zsh auto completion for clusterctl"
**User Story**

As a developer/user/operator, I would like to use bash/zsh auto completion for clusterctl for improving work efficiency.

**Detailed Description**

I'd like to use bash/zsh auto completion for clusterctl command, like `kubectl completion` command.

[code]

I believe this will improve the experience for everyone - developers/users/operators.

**Anything else you would like to add:**

[2020-09-04 07:49] superbrothers commented on #3595
Auto completion of the kubectl command is provided by `spf13/cobra` library, and clusterctl also uses that library, so it can be provided easily.

I propose offering features in the next step:

1. Providing auto completion for subcommands and arguments
     - Implementation of `clusterctl completion bash/zsh` command
2. Providing dynamic auto completion for cluster-api objects
     - Such as clust

[2020-09-04 10:42] JoelSpeed commented on #3547
As the MHC scope seems to have grown a lot since the original implementation, and is likely going to undergo many further changes as we stabilise on external remediation vs conditions etc, I think this makes a lot of sense.
+1 from me

[2020-09-07 10:03] #3571 closed

[2020-09-07 13:08] fabriziopandini opened #3599 "Periodic E2E MHC remediation is failing"
**What steps did you take and what happened:**
Periodic E2E MHC remediation is failing https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-cluster-api#capi%20e2e%20tests

**What did you expect to happen:**
Test to pass since 09/04

**Anything else you would like to add:**
The seems to be
[code]

[2020-09-07 13:08] fabriziopandini commented on #3599
/assign
/lifecycle active

[2020-09-07 13:08] fabriziopandini commented on #3599
/milestone v0.3.10

[2020-09-07 13:39] fabriziopandini commented on #3589
I just noticed that we are adding the MHC to the default cluster-template, and this will trigger all the worker machines to get deleted after 30s.

I'm 100% not sure this is the source of the issue above, but IMO we should get this variable out of the table for all the tests except for MHC remdiation...
@sedefsavas opinions?

[2020-09-07 13:57] fabriziopandini commented on #3595
Personally I'm +1 for 1 as a first step

[2020-09-07 16:19] bboreham opened #3601 "cmd/clusterctl/hack/create-local-repository.py does not work with Python 3"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

On a machine where `python` runs Python version 3.8.2:
[code]

**What did you expect to happen:**

Expected it to run without throwing a low-level error.

**Anything else you would like to add:**

On this line: https://github.com/kubernetes-sigs/cluster-api/blob/5164a1f0e2a9f4bb6c1c3ebe30

[2020-09-07 22:48] superbrothers commented on #3595
/assign

[2020-09-08 03:10] jichenjc opened #3603 "cloud-config secret move from original cluster to target cluster"
**User Story**

when move from original cluster to target cluster, the secrets with suffix are defined here:

https://github.com/kubernetes-sigs/cluster-api/blob/master/util/secret/consts.go
in openstack implementation, we created a cloud conf secret with -cloud-conf suffix so doesn't fit for above requirement thus it's not moved

is there any recommended way to such reuquirement? we have a few op

[2020-09-08 08:53] fabriziopandini commented on #3601
@bboreham thanks for reporting
Do you think you can send a patch with the suggested fix?

/milestone v0.3.10
/area clusterctl

[2020-09-08 09:25] fabriziopandini commented on #3603
area/clusterctl

[2020-09-08 09:32] fabriziopandini commented on #3603
IMO clusterctl can be extended to move additional secrets.

What about using the `clusterctl.cluster.x-k8s.io/move` annotation that we are already using for force moving CRD types; if the secret has the annotation, force move it no matter of ownership/soft ownership

[2020-09-08 09:34] fabriziopandini commented on #1271
/remove-lifecycle stale
/lifecycle frozen

[2020-09-08 09:35] jichenjc commented on #3603
that's also good suggestion, if you agree I can add that to Secret

but I don't know whether it fit for other stuffs such as Configmap or any other resources... please help to comment

[2020-09-08 12:46] fabriziopandini commented on #3603
If we can manage to get this implemented in the Discovery process (`objectGraph.objToNode` && `objectGraph.ownerToVirtualNode`) this could be generic: any object with `clusterctl.cluster.x-k8s.io/move`  gets forceMove=true

@wfernandes opinions ^^ ?

[2020-09-08 13:00] jichenjc commented on #3603
I think so as well, but not sure whether it will bring some side effect ...

[2020-09-08 13:00] jichenjc commented on #3603
/assign

[2020-09-08 15:41] randomvariable opened #3607 "Breaking API change in clusterctl for 0.3.9"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
https://github.com/kubernetes-sigs/cluster-api/pull/3332 deleted the `CNIManifestPath` field from the `clusterctl.ApplyClusterTemplateAndWaitInput` struct

This effectively broke CAPA's e2e tests.

**What did you expect to happen:**
No breaking changes to e2e.

**Anything else you would li

[2020-09-08 16:07] CecileRobertMichon commented on #3607
FYI this is how we went around it in CAPZ in the meantime https://kubernetes.slack.com/archives/C8TSNPY4T/p1598996683093800

[2020-09-08 16:42] devigned commented on #3533
@jackfrancis please share a link to the doc when it's ready for some eyes.

[2020-09-08 17:12] ncdc opened #3609 "Possible memory leak with remote cluster cache tracker"
**What steps did you take and what happened:**
- Create a management cluster
- Create lots of workload clusters
- Watch metrics and pprof heap output
- `process_resident_memory_bytes` gets really big (such as  `9.303556096e+09` - 9gb!), pprof shows a lot of memory sticking around from REST mappers, which are created by the remote cluster caches.
![c](https://user-images.githubusercontent.com/354/9

[2020-09-08 17:13] ncdc commented on #3609
I think we may be seeing the increase with every resync, but I'm not certain of that

[2020-09-08 18:27] fabriziopandini opened #3610 "ClusterCacheTracker fails health checking clusters"
**What steps did you take and what happened:**

While investigating memory consumption in CAPI, we discovered that the ClusterCacheTracker is failing health checks at https://github.com/kubernetes-sigs/cluster-api/blob/58f919c5e2de3f3b7a2026ab96a0e06c5b3526ff/controllers/remote/cluster_cache.go#L430

With the following error message

`E0908 18:08:49.534528       1 cluster_cache.go:486] remote/Clus

[2020-09-08 18:36] fabriziopandini commented on #3609
FYI https://github.com/kubernetes-sigs/cluster-api/issues/3610 << we are failing health checks and continuously delete/recreate caches (with the related REST mappers).
TBD if this is related to the memory consumption described in this issue

[2020-09-08 18:50] fabriziopandini commented on #3607
https://github.com/kubernetes-sigs/cluster-api/pull/3332#discussion_r454611129 😓
Sorry I did not double-checked this thread in the review

Also we are kind of lagging in getting https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1816 merged to switch CAPA to use CRS for installing CNIs

[2020-09-08 18:54] fabriziopandini commented on #3153
/remove-lifecycle stale
/lifecycle frozen

[2020-09-08 19:19] #3607 closed

[2020-09-08 19:33] wfernandes commented on #3603
@fabriziopandini That suggestion makes sense.
@jichenjc For context you can look at this PR which adds the `ClusterctlMoveLabelName`: https://github.com/kubernetes-sigs/cluster-api/pull/3337

[2020-09-08 19:41] srm09 commented on #3497
As part of this issue, I was thinking of adding the following conditions:
- Bootstrap Ready condition which reports the state of the Bootstrap config object
- Infrastructure Ready condition which reports the state of the Infra config object
- A new condition which reports the state of the replicas/machines associated to the MachinePool object.
@CecileRobertMichon do these make sense?

cc: @fabrizi

[2020-09-08 19:57] bboreham commented on #3601
I can do, yes.

Would be good if some Python-knowledgable person could weigh in on what we should do; I just Googled the error message.

[2020-09-08 20:46] sedefsavas opened #3611 "[e2e] Remove CNIManifestPath from the test framework"
CNI in e2e tests will be installed using ClusterResourceSet going forward, we can remove CNIManifestPath from ApplyClusterTemplateAndWaitInput. Since this is a breaking change, we should add this change in the release notes.

Here is the PR to revert this change for v0.3.8 release as it was not added to the release notes: https://github.com/kubernetes-sigs/cluster-api/pull/3608

/kind cleanup

[2020-09-08 22:01] #3584 closed

[2020-09-09 01:12] jichenjc commented on #3603
@wfernandes thanks, I will take a look at the suggested PR and work on this , thanks :)

[2020-09-09 02:23] vincepri commented on #3595
/milestone v0.4.0

Setting v0.4 as milestone for now, if it's a small enough change we can definitely backport this given that it could be useful

[2020-09-09 02:29] vincepri commented on #3609
/milestone v0.3.10
/assign

[2020-09-09 09:04] fabriziopandini commented on #1754
/remove-lifecycle stale

[2020-09-09 09:06] fabriziopandini commented on #2918
/remove-lifecycle stale

[2020-09-09 09:15] fabriziopandini commented on #3497
Machine pool is an interesting abstraction because from 1 side it has a single infrastructure/bootstrap, from the other side it manages multiple machines.
- I'm +1 in having BootstrapReady, InfrastructureReady
- I think we should have MachinesSpecUpToDate & Resized (similar to KCP) to provide an overview of the status of the underlying machines
- I would be interesting to get a MachineReady condit

[2020-09-09 09:15] fabriziopandini commented on #3163
/remove-lifecycle stale

[2020-09-09 09:17] #3599 closed

[2020-09-09 09:18] fabriziopandini commented on #3611
I think that it will be useful to leave the possibility to install CNI without ClusterResourceSet, but we should document the two options are mutually exclusive

/milestone next

[2020-09-09 09:25] fabriziopandini commented on #3611
/milestone Next

[2020-09-09 14:28] randomvariable commented on #3611
It's reasonable to add a deprecation notice now, with removal in v0.4.0 IMHO.

[2020-09-09 14:28] vincepri commented on #3611
/milestone v0.4.0

[2020-09-09 14:29] vincepri commented on #3611
/priority important-longterm

[2020-09-09 14:29] vincepri commented on #3611
/area api
/area testing

[2020-09-09 14:46] vincepri commented on #2918
/lifecycle frozen

[2020-09-09 14:51] vincepri commented on #3153
/milestone v0.4.0
/priority important-soon

[2020-09-09 15:20] srm09 commented on #3497
The machinepool controller has the following logic to check if the nodes are available in the `reconcileNodeRefs` loop.
https://github.com/kubernetes-sigs/cluster-api/blob/73624ed082e948e693a14484549b3db53c1b7ae1/exp/controllers/machinepool_controller_noderef.go#L180-L182

This seems like a place to populate condition data for providing an overview of the operational state of the underlying machin

[2020-09-09 16:10] CecileRobertMichon commented on #3497
Sounds good to me. MachinePool should be pretty similar to a Machine in that it's a single infrastructure resource but we can add a new one to track the state of the instances/replicas/nodes. I think we should avoid calling them "Machines" to avoid confusion with Machines in Machine deployments.

[2020-09-09 19:40] CecileRobertMichon commented on #3611
what's the need to remove it now if it can just be optional while CRS is still experimental?

[2020-09-10 09:30] randomvariable commented on #2217
I think we concluded that this isn't an issue? @jsturtevant has also stated as such in the Windows proposal.

/close
for now, and we can revisit if it turns out to be a problem?

[2020-09-10 10:00] randomvariable opened #3620 "Add EKS bootstrap provider to embedded clusterctl provider data"
**User Story**

As an EKS user I would like to deploy the EKS bootstrap provider without hacking clusterctl.yaml

**Detailed Description**

Add EKS bootstrap provider to embedded clusterctl provider data

**Anything else you would like to add:**

[Miscellaneous information that will assist in solving the issue.]

/kind feature
/assign @mytunguyen

[2020-09-10 10:00] randomvariable commented on #3620
/area cli

[2020-09-10 14:09] iamemilio commented on #1793
/assign

[2020-09-10 15:20] wfernandes commented on #3595
/area clusterctl

[2020-09-10 16:17] #3610 closed

[2020-09-10 18:48] #3099 closed

[2020-09-11 09:06] #3601 closed

[2020-09-11 16:17] rudoi opened #3631 "CAPI won't delete Nodes in "managed" control planes because there are no control plane machines"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

- Create cluster with EKS providers in CAPA
- Create some Machines
- Delete those Machines
- Observe nodes not going away, weird scheduling behaviors, etc

**What did you expect to happen:**

Deleting Machines deletes Nodes too.

**Anything else you would like to add:**
[Miscellaneous inf

[2020-09-11 16:27] ncdc commented on #3609
The 3 PRs merged above help significantly. There is probably still a real memory leak when a client+cache+watches are deleted from the cluster cache tracker, but #3615 fixes the initial, most critical problem; namely, that the client+cache+watches were constantly being deleted & recreated due to the broken health check.

[2020-09-11 16:29] vincepri commented on #3631
This is indeed a bug / use case we never thought of. Looking at the code, we don't seem to take into account that a control plane provider might be set, maybe we should check if there are remaining control plane nodes in the actual cluster instead of checking Machines

[2020-09-11 16:37] #2890 closed

[2020-09-11 16:49] iamemilio commented on #1793
/unassign stale?

[2020-09-11 16:50] iamemilio commented on #1793
/assign cancel
stale?

[2020-09-11 19:15] iamemilio commented on #3535
/assign

[2020-09-11 20:07] iamemilio commented on #3535
@wfernandes, I was just reading through the quick start, and it seems like the most logical place to add this would be in the clusterctl overview docs linked in the next steps at the end. I just wanted to verify that this makes sense.

[2020-09-12 10:25] fabriziopandini commented on #3535
IMO the new command should be documented with a new link in [clusterctl commands](https://cluster-api.sigs.k8s.io/clusterctl/commands/commands.html) opening a page under [this folder](https://github.com/kubernetes-sigs/cluster-api/tree/master/docs/book/src/clusterctl/commands) that already hosts the reference for all the other commands.
It will be great to link the page from the quick start where

[2020-09-13 06:24] kkeshavamurthy commented on #3523
/assign

[2020-09-14 12:03] jan-est commented on #3547
+1 to this.

[2020-09-14 12:08] prankul88 commented on #3535
@fabriziopandini Thank you for clarification.

@iamemilio I guess this is all I had in mind :)

[2020-09-14 13:49] namnx228 opened #3635 "Forcefully remove a node after a certain amount of time that it keeps failing to be successfully drained."
**User Story**

As a cluster administrator, I would like to set the overall time limit for draining each machine, so after the timeout, the machine will be forcefully removed without finishing the draining.

**Detailed Description**

Currently, if a node fails on draining, that node is added to a queue and then is reconciled after 20 seconds. However, if that node keeps failing the draining, this

[2020-09-14 13:55] #3635 closed

[2020-09-14 14:36] namnx228 commented on #2331
Hi all, is there anyone who is working with this issue? If not, I'd like to take care of it. My plan is:
- First, add a NodeDrainTimeout parameter to KCP and machinedeployment, and these objects then pass the parameter to the corresponding machines.
- Next, set the time that the machine drains for the first time to its status/conditions.
- Finally, if the NodeDrainTimeout is over, forcefully delet

[2020-09-14 15:22] wfernandes commented on #2331
Hey @namnx228 This issue is all yours. Feel free to `/assign` and mark it as `/lifecycle active`.

I believe this issue was specifically for worker machines and not the control plane nodes. However, if there is a use case for the control plane then I think this can be done all at once.

I don't have much context for this specifically but maybe @detiber and/or @vincepri can offer some insight. Else

[2020-09-14 17:56] sedefsavas commented on #3138
We have some conditions to add to Machines and KCP to increase visibility, feedbacks welcome here:
https://docs.google.com/document/d/1pEMf8AuPgUF_ClTM4uCEiDkb-iyUgwcxinwArtpa45c/edit?usp=sharing

[2020-09-14 19:35] #3523 closed

[2020-09-14 19:55] vincepri commented on #2083
/lifecycle frozen

[2020-09-14 19:59] #3558 closed

[2020-09-15 00:36] CecileRobertMichon commented on #3611
Sort of related, I just realized there is no way for me to install a different CNI per workload cluster / `ConfigClusterInput` with v0.3.9 which is a blocker for https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/646 since we have a different Calico spec for IPv6... So I definitely need `CNIManifestPath` back until we can figure out how to allow per workload cluster CNI path.

[2020-09-15 03:47] sedefsavas commented on #3611
We can apply different CNIs to different e2e tests with ClusterResourceSet. Example here: sedefsavas/cluster-api#8

[2020-09-15 06:38] namnx228 commented on #2331
/assign
/lifecycle active
@wfernandes that is great, Thanks.
Yes, there is an use case that we need to have workload running on control plane in baremetal, so it would be good to take care of KCP as well.
I will bring ask on Slack or in the meeting if I need more explanations.

[2020-09-15 06:39] namnx228 commented on #2331
/assign

[2020-09-15 06:45] yannalf opened #3638 "Failed to create cluster with cluster-api v0.3.9"
**What steps did you take and what happened:**
kind cluster create
clusterctl config cluster clmngt --kubernetes-version x.x.x --control-plane-machine-count=1 --worker-machine-count=1 > /var/tmp/file.yaml

kubectl apply -f /var/tmp/file/yaml
cluster.cluster.x-k8s.io/clmngt created
vspherecluster.infrastructure.cluster.x-k8s.io/clmngt created
vspheremachinetemplate.infrastructure.cluster.x-k8s.io/c

[2020-09-15 06:46] yannalf commented on #3638
Same issue with king version 0.8.1

[2020-09-15 08:56] fabriziopandini commented on #3638
/triage support

If I got this right, you have to enable the experimental feature ClusterResourseSet before using a template that leverage on this feature. See https://cluster-api.sigs.k8s.io/tasks/experimental-features/experimental-features.html

[2020-09-15 09:45] fabriziopandini commented on #3589
/assign
/lifecycle active

[2020-09-15 12:49] fabriziopandini opened #3640 "Capture machine logs for the bootstrap cluster in E2E test"
https://github.com/kubernetes-sigs/cluster-api/pull/3580 introduce the machine log collector and implemented log collection for all the workload cluster created during E2E tests.

We should now implement machine log collection for the bootstrap cluster as well

/kind feature
/priority backlog

[2020-09-15 12:49] fabriziopandini commented on #3640
/help

/milestone Next
But we can merge this as soon as it is ready

[2020-09-15 12:59] fabriziopandini opened #3641 "Collect pods logs from workload clusters during E2E tests"
We should implement a mechanism to collect pods logs from workload cluster during e2e tests

A possible solution is to leverage on the machine log collector introduced by #3580
`kind export logs` could be used as a reference on how to do this

As an additional step, once this is implemented, we should consider if to drop the streaming mechanism in place for controller pods.

/priority backlog
/kin

[2020-09-15 13:00] fabriziopandini commented on #3641
/area testing
/help

/milestone next
We can always pull this into a release as soon as it is ready

[2020-09-15 13:00] fabriziopandini commented on #3641
/milestone Next

[2020-09-15 13:01] fabriziopandini commented on #3640
/area testing

[2020-09-15 13:52] ncdc commented on #2331
@namnx228 thanks for working on this!

I think it makes sense to add this to the KCP spec, but the MachineDeployment already has the MachineSpec, so I don't know that you'd need to add anything to the MachineDeployment (since you'll be adding a field to MachineSpec). WDYT?

[2020-09-15 14:02] namnx228 commented on #2331
@ncdc yes, that is a good idea to make use of the machineSpec instead of making change to the machinedeployment. Thanks for your suggestion.

[2020-09-15 14:31] vincepri commented on #3638
/milestone Next
/priority awaiting-more-evidence

[2020-09-15 15:06] vincepri commented on #3620
/milestone v0.3.10

[2020-09-15 16:27] vincepri commented on #3611
Let's keep it for now, until CRS is promoted later on

/close

[2020-09-15 16:27] #3611 closed

[2020-09-15 19:35] felipeweb opened #3645 "clusterctl get kubeconfig in EKS cluster"
**User Story**

As a [developer/user/operator] I would like to get user's kubeconfig using clusterctl

**Detailed Description**

CAPA generates 2 kubeconfigs for EKS cluster.
- [cluster-name]-kubeconfig  that has short life and is used internally
- [cluster-name]-user-kubeconfig for the user's usage

clusterctl get kubeconfig returns the kubeconfig that should be used only internally

I think clus

[2020-09-15 19:58] ncdc commented on #3609
I have 1 more PR coming to simplify some aspects of the tracker (and avoid some possible deadlocks), and congrats to @vincepri who has root-caused the memory leak. It's actually in controller-runtime. Vince is prepping a PR and we'll link to it once it's open.

[2020-09-15 20:01] felipeweb commented on #3645
if it is ok I can send a PR

[2020-09-15 20:07] ncdc commented on #3609
PR: https://github.com/kubernetes-sigs/controller-runtime/pull/1163

[2020-09-15 21:44] DheerajSShetty commented on #3465
Can we keep it open and mark as low priority instead of closing it?

[2020-09-16 08:56] Jaakko-Os opened #3647 ":bug: hack/create-local-repository.py write yaml file fails"
**What steps did you take and what happened:**
After https://github.com/kubernetes-sigs/cluster-api/pull/3614 was merged I'm running into:

Traceback (most recent call last):
File "cmd/clusterctl/hack/create-local-repository.py", line 130, in write_local_repository
f.write(components_yaml)
TypeError: write() argument must be str, not bytes

During handling of the above exception, another exception

[2020-09-16 09:01] fabriziopandini commented on #3645
@felipeweb, I'm not aware of the implementation details of the EKS provider, but my first reaction to this request is that we should change EKS to use the same name that is used by other providers for the kubeconfig file for users usage (and pick up another name for the short-lived, internal one).

Also, I'm guessing if having a different name for the kubeconfig can lead to other errors down the p

[2020-09-16 09:21] fabriziopandini commented on #3647
/area clusterctl
/milestone v0.3.10

[2020-09-16 09:23] fabriziopandini commented on #3620
/area clusterctl

[2020-09-16 09:39] #3620 closed

[2020-09-16 11:17] jan-est commented on #3512
@fabriziopandini @vincepri Do you want me to make a proposal for this one?

[2020-09-16 12:15] fabriziopandini commented on #3461
/assign
/lifecycle active

[2020-09-16 12:43] felipeweb commented on #3645
make sense! I will open an issue on CAPA for better understand and maybe change the kubeconfigs name

[2020-09-16 13:21] fabriziopandini commented on #3645
/close
given that this will be fixed in CAPA / in the EKS provider

[2020-09-16 13:22] #3645 closed

[2020-09-16 13:47] bboreham commented on #3647
Which version of Python do you have?

[2020-09-16 14:17] vincepri commented on #3512
Possibly yeah, maybe we could get a small google doc started, and then a PR to the current KCP proposal

[2020-09-16 16:13] #3595 closed

[2020-09-16 16:33] #3461 closed

[2020-09-16 16:48] vincepri opened #3653 "Consider stopping all deployments (instead of just pausing) before clusterctl move"
Clusterctl move today uses the Cluster's paused spec or pause annotation to block reconciliation on objects that are being moved. In past versions of clusterctl, we've actually preferred to stop all deployments in both the source and target management clusters before moving any object, to avoid slow workers or operations to be running while an object is moved and then reconciled somewhere else.

W

[2020-09-16 17:01] fabriziopandini commented on #3653
Just as FYI, in clusterctl there are also additional checks trying to detect if all the long-running operations are completed (e.g. insfratructureReady = true)
It should be noted that by scaling down deployments, we are stopping reconcile for all the clusters, not only for the one we are moving, but this should not be a problem for the bootstrap/pivoting use case at least

[2020-09-16 17:07] #3589 closed

[2020-09-16 17:10] vincepri commented on #3653
Yeah I'm fine with stopping for everyone, especially given that we're considering rewriting move to move the entire management cluster, the extra safety is definitely worth it

[2020-09-16 17:58] ncdc commented on #3609
I think it's ok to close this now that #3615 and #3646 have merged.
/close

[2020-09-16 17:58] #3609 closed

[2020-09-17 06:31] jan-est commented on #3512
Google doc sounds good for now.

[2020-09-17 06:34] arghya88 commented on #3641
@fabriziopandini I am interested in contributing this..Is it possible to assign this to me?

[2020-09-17 08:29] fabriziopandini commented on #3641
@arghya88 sure!
/assign @arghya88
/lifecycle active

[2020-09-17 09:57] fabriziopandini opened #3656 "Improve MHC e2e tests"
The current MHC object in E2E tests is specifically configured to always trigger remediation after 30s the node is started.

https://github.com/kubernetes-sigs/cluster-api/blob/0cf9f80b63047b0694b668bee6eff6dfd046e16b/test/e2e/data/infrastructure-docker/bases/mhc.yaml#L15-L18

As per comment https://github.com/kubernetes-sigs/cluster-api/pull/3651#pullrequestreview-489763332

Can we revisit this?

[2020-09-17 09:58] fabriziopandini commented on #3656
/help
/priority backlog
/milestone Next

[2020-09-17 12:59] fabriziopandini opened #3658 "Book preview does not render tabs"
**What steps did you take and what happened:**
If I open the preview of the Cluster API book at https://master.cluster-api.sigs.k8s.io/user/quick-start.html is does not see tabs:
<img width="589" alt="Screenshot 2020-09-17 at 14 53 10" src="https://user-images.githubusercontent.com/5013060/93473031-c8eef180-f8f5-11ea-819a-b6e3c449db95.png">

**What did you expect to happen:**
To see tabs, like I c

[2020-09-17 13:00] fabriziopandini commented on #3658
/kind documentation
/milestone v0.3.10

[2020-09-17 14:43] vincepri commented on #3656
/milestone v0.4.0

[2020-09-17 14:44] vincepri commented on #3656
/area testing
/kind cleanup

[2020-09-17 14:44] vincepri commented on #3641
/milestone v0.4.0

[2020-09-17 14:45] vincepri commented on #3640
/milestone v0.4.0

[2020-09-17 14:46] vincepri commented on #3658
This is likely a misconfiguration in the source code, extra parenthesis or something

[2020-09-17 18:24] #3535 closed

[2020-09-17 18:54] #3603 closed

[2020-09-18 07:33] richardcase opened #3661 "Support multiple kubeconfigs for a provider"
**User Story**

As a Cluster API Provider developer I would like Cluster API to support multiple kubeconfigs for the situation where the kubeconfig used by CAPI needs to be different to the kubeconfig that a user would use to connect to the created Kubernetes cluster.

**Detailed Description**

The implementation of EKS support in CAPA generates 2 kubeconfig files. We did this as the kubeconfig fo

[2020-09-18 08:35] fabriziopandini commented on #3658
/re-open

@vincepri, unfortunately, the preview on  https://master.cluster-api.sigs.k8s.io/user/quick-start.html is still borked (and local preview is still ok)

[2020-09-18 08:35] fabriziopandini commented on #3658
/close cancel

[2020-09-18 08:36] fabriziopandini commented on #3658
/reopen
third try 😄

[2020-09-18 08:59] fabriziopandini commented on #3661
I see some potential problems in having a short liven kubeconfig for CAPI, because <cluster>-kubeconfig is part of the contract and it is used in many places to access the workload cluster like e.g. the cluster cache tracker used by many controllers -> the Machine controller when triggering drain, MachineHealthChecks...

WRT to additional kubeconfig for `clusterctl get kubeconfig` only, +1 (defaul

[2020-09-18 09:00] fabriziopandini commented on #3661
/milestone Next
as per https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1951#issuecomment-693434009

[2020-09-18 10:19] richardcase commented on #3661
For clarification, the "non-user" kubeconfig that is generated for use by CAPI for a EKS cluster contains a token that is only valid for 15 mins. However, the kubeconfig is regenerated every `sync-period` and so there is always a kubeconfig available for CAPI.

[2020-09-18 11:57] scottdhowell3 opened #3663 "kube-controller-manager and kube-scheduler do not send metrics when upgrading to k8s 1.18.8"
**What steps did you take and what happened:**
Upgraded two of our clusters to k8s 1.18.8, when this happened alertmanager began to show that kube-controller-manager and kube-scheduler were no longer in the prometheus target discovery.

Discovered in this upgrade of k8s 1.18.8 with the CAPA AMI that kubeadm was upgraded and added a flag on kube-controller-manager and kube-scheduler configurations

[2020-09-18 13:15] vincepri commented on #3658
That's strange, the build command should be the same across all branches

[2020-09-18 13:26] vincepri commented on #3658
@detiber Would you be able to look at netlify's builds for the main branch? I don't seem to have the ability to find the logs, I can only see the public preview websites

[2020-09-18 13:27] neolit123 commented on #3663
/remove-kind bug
/triage support

[2020-09-18 13:35] fabriziopandini commented on #3663
@scottdhowell3

Could you provide more detail about this? Are you meaning this change is not allowed by the validation webhooks? Because AFAIK controllerManager extraArgs and kubeScheduler extraArgs are included in KCP configurations

[2020-09-18 14:20] ncdc commented on #3658
Try https://app.netlify.com/sites/kubernetes-sigs-cluster-api/deploys

[2020-09-18 14:25] vincepri commented on #3663
/milestone Next

[2020-09-18 14:26] vincepri commented on #3658
That's super strange, it seems https://app.netlify.com/sites/kubernetes-sigs-cluster-api/deploys/5f64bf7173642c0007d681d7 got deployed and it's definitely broken

[2020-09-18 14:41] fabriziopandini opened #3664 "Test CAPI with different K8s versions"
**Detailed Description**

As of today CAPI e2e runs uses Kubernetes v1.18.x both for pre-submit and periodic jobs

We want to create a new periodic job running every 12h continuing to test v1.18.x and to switch existing pre-submit and periodic to v1.19

**Anything else you would like to add:**

This is the first time that we are testing more releases in CAPI so some preparation work is required.

[2020-09-18 14:41] fabriziopandini commented on #3664
/help
/milestone v0.3.10

[2020-09-18 15:11] fabriziopandini commented on #3663
related issue https://github.com/kubernetes-sigs/cluster-api/issues/2083

[2020-09-18 19:16] dthorsen commented on #3631
/assign

[2020-09-19 07:53] arghya88 commented on #3641
@fabriziopandini executing `docker logs` in docker_logcollector.go file should do it right?

[2020-09-19 19:46] #2813 closed

[2020-09-21 02:56] jichenjc commented on #3653
maybe the check is something like below?
https://github.com/kubernetes-sigs/cluster-api/blob/master/cmd/clusterctl/client/cluster/mover.go#L106

so is proposed way to handle this is to
1) before move, record the current replic of `deployment` (how about daemonset, replicsets etc?) into somewhere then scale down to 0
2) move the object to target cluster
3) scale up the replica to desired number aga

[2020-09-21 08:45] fabriziopandini commented on #3168
/remove-lifecycle stale
/lifecycle frozen

[2020-09-21 08:49] fabriziopandini commented on #3641
@arghya88 given that we want to collect all the logs, I think the approach implemented in kind export logs is more robust.

[2020-09-21 14:18] vincepri commented on #3227
/lifecycle frozen

[2020-09-21 14:18] vincepri commented on #3227
/help
/priority backlog

[2020-09-21 14:22] vincepri commented on #3653
/milestone v0.4.0

Setting v1alpha4 given that this is a behavioral change

[2020-09-21 14:25] vincepri commented on #3653
As far as I know, we only use deployments for Cluster API controllers, although we should make it a contract going forward, or standardize on a fixed set of supported ways to get a controller up

The rest looks good, if we go down this path, is it still worth to pause/unpause the clusters?

[2020-09-21 14:39] ncdc commented on #1477
Should we consider creating specific issues for each of the metrics we'd like to add? I feel like a generic "metrics" issue is going to stay open forever 😄.

[2020-09-21 14:40] randomvariable commented on #1477
Yup

[2020-09-21 14:47] ncdc commented on #1477
Awesome. Before closing this, maybe we could flesh out the one request I saw above here, and then copy it into a new issue:

From @harishspqr

From @detiber

I see this as multiple asks:
- Cluster creation latency. I'm guessing this is most likely how long it takes for "cluster infrastructure" to be ready.
- Cluster deletion latency. This could be how long it takes for the InfraCluster resource to

[2020-09-21 15:04] jichenjc commented on #3653
is the pause only for forbidden deployment scale up ? if so we can do that.. if it has additional purpose such as prevent new deployment  then certainly we can't do that ?

[2020-09-21 15:14] fabriziopandini commented on #3653
this is already documented in the clusterctl contract https://cluster-api.sigs.k8s.io/clusterctl/provider-contract.html#controllers--watching-namespace

[2020-09-21 15:31] andrewsykim opened #3669 "Mutating a control plane KubeadmConfig triggers indefinite rolling upgrade"
**What steps did you take and what happened:**
1. Configure a mutating admission webhook that modifies the KubeadmConfig for control plane machines.
2. Observe that control plane machines will indefinitely try to upgrade.

**What did you expect to happen:**
Since [matchInitOrJoinConfiguration](https://github.com/kubernetes-sigs/cluster-api/blob/6311dc2c1f966edde41c842fb812596fc3ca0b25/controlplane

[2020-09-21 15:50] vincepri commented on #3669
If you're using KCP, you should definitely have an admission webhook on KCP, rather than on CABPK resources, you could do so by skipping any modification if the linked Machine is marked as control plane, maybe?

This was the behavior before, although we moved away from hashing in KCP to allow adoption and do semantic diffs of kubeadm resources.

[2020-09-21 15:56] andrewsykim commented on #3669
This is the "workaround" I mentioned in the issue description above. It works in some cases, but it's not ideal since values you mutate still have to match exactly per machine. If any values are dynamic on a per-machine basis, a full upgrade is still triggered.

Can you expand on this a bit? What's the use-case for diffing kubeadmconfig if machines are considered immutable anyways?

Not sure if th

[2020-09-21 15:58] fabriziopandini commented on #3669
as a reference, this issue https://github.com/kubernetes-sigs/cluster-api/issues/3170 triggered us moving away from an hash mechanism to the current approach

[2020-09-21 15:59] vincepri commented on #3669
We've had various issues using the hash, and we also talked about potentially also moving away from hashing on MachineDeployments.

- Original issue: https://github.com/kubernetes-sigs/cluster-api/issues/3170
- PRs: https://github.com/kubernetes-sigs/cluster-api/pull/3234 and https://github.com/kubernetes-sigs/cluster-api/pull/3302

[2020-09-21 16:01] vincepri commented on #3669
@andrewsykim Do you have some examples of what you'd consider something specific or not?

[2020-09-21 16:04] yastij commented on #3669
this was one of the many things that made us move away from machine-specific mutation.

@vincepri - this would be for any machine-specific mutation (e.g. bootstrapping a VIP through iptables on the first machine)

[2020-09-21 16:06] vincepri commented on #3653
Not really, it's just to give us more control over the flow, although not strictly necessary if we spin down/up the controllers.

Some other example to keep in mind for conformance, I don't think there is anything in `clusterctl init` that stops an infrastructure provider from using a StatefulSet for example instead of Deployment?

[2020-09-21 16:07] andrewsykim commented on #3669
Thanks for the context, I definitely see the limitations with hashing, and in fact I think PodTemplates suffer from similar issues but there are known some best practices around it at this point. Always enforcing exact matches of KubeadmControlPlane and KubeadmConfig seems like the other end of the extreme though.

Maybe there's a good middle ground here where we don't use template hashes but we d

[2020-09-21 16:09] vincepri commented on #3669
This seems like an opinionated approach? I'm sure there are some use cases that would require a rollout to be triggered.

I can see both use cases, although I'm not sure if we can/should change the behavior now that v1alpha3 is going in maintenance mode, definitely open to suggestions

[2020-09-21 16:13] andrewsykim commented on #3669
Fine with me, just giving my 2 cents that this was pretty unexpected. As @yastij mentioned above, this disallows any mutations that end up being specific to a machine.

[2020-09-21 16:49] fabriziopandini commented on #3653
In clusterctl we are assuming there are Deployment in order to do mutations e.g. to watching namespaces. I have to check if also the image override feature relies on the same assumption

[2020-09-21 17:12] varunpurohit76 commented on #3664
if this looks like a good first issue, can I take this up? might need some help though.

[2020-09-21 17:48] vincepri commented on #3664
@varunpurohit76 Feel free to take it, and assign yourself to it. Our team is usually in the `#cluster-api` Slack channel if you need to reach out, or github works as well

[2020-09-21 17:50] varunpurohit76 commented on #3664
/assign

[2020-09-21 19:53] vincepri commented on #3564
/close

This has been fixed with Kubernetes 1.19.1

[2020-09-21 19:53] #3564 closed

[2020-09-21 19:57] vincepri commented on #2859
Is anyone interested in doing this? We're cutting it a little close at this point, moving the milestone

/milestone v0.4.0

[2020-09-21 19:58] vincepri commented on #3106
Anyone interested in making this change?

I'll set the milestone to v1alpha4 for now, unless someone volunteers

/milestone v0.4.0

[2020-09-21 19:58] vincepri commented on #3576
@fabriziopandini Are you still working on this?

[2020-09-21 20:03] fabriziopandini commented on #3576
IMO this can be closed, see https://master.cluster-api.sigs.k8s.io/contributing#triaging-e2e-test-failures

[2020-09-21 20:09] vincepri commented on #3428
/priority important-soon
/assign @srm09

[2020-09-21 20:28] detiber commented on #3176
/lifecycle frozen

[2020-09-21 20:30] vincepri commented on #3576
SGTM

/close

[2020-09-21 20:31] #3576 closed

[2020-09-21 21:23] Arvinderpal commented on #493
I understand the security concerns around reconciling labels/annotations on nodes.  Assigning labels through kubeadm's nodeRegistration is a viable option for many use cases. However, it's inherently tied to the time of machine creation, thus adding/removing a label would require a brand new set of machines to be provisioned.

I would like to ask if the CAPI community sees value in providing a mor

[2020-09-21 21:26] ncdc commented on #493
@Arvinderpal

Could we explore this in more detail? I think teasing out specific use cases could help us arrive at an approach. Do you have specific examples in mind where a Pod needs to know something about the Cluster API Machine/MachineSet/MachineDeployment?

[2020-09-21 21:31] detiber commented on #3658
I didn't see anything out of place in the logs, but I went ahead and kicked off a new build (with clearing the cache) to see if it resolves the issue.

[2020-09-21 22:02] detiber commented on #3658
So, I noticed when attempting to test this locally that I was able to reproduce it locally. It took me a bit to figure out that it was because I didn't already have the pre-processors built, and that they were failing to build because my system couldn't resolve `vbom.ml/util`

[2020-09-21 23:34] Arvinderpal commented on #493
The initial use case is about making in-place changes to our nodes. The changes are in-place in the sense that they can be carried out without machine reprovisioning or reboot. Our initial set of controllers will focus on tweaking host configurations (sysctl), making network specific change (iptables), and updating software packages (apt update).

First issue is identifying the set of nodes on whi

[2020-09-22 02:58] #3574 closed

[2020-09-22 04:12] Jaakko-Os commented on #3647
Sorry for the delay in my reply. I had the information on the PR itself.
$ python --version
Python 3.6.8

[2020-09-22 13:19] fabriziopandini commented on #3658
@detiber thanks! for jumping on this!

[2020-09-22 13:54] dthorsen commented on #3631
Trying to think of the best approach here. Is this section of code necessary at all? As I understand, by the time we get to this code the infrastructure will be deleting regardless of the result of this check, so this code just seems to result in orphaned nodes.

[2020-09-22 14:45] randomvariable commented on #1477
Something we may want to consider, in light of @bboreham 's tracing demo last week, is there was an old request to move controller runtime to OpenTelemetry, which would cover both metrics and traces, but will be a breaking API change compared to the Prometheus client for go. May want to make that change in CR and consume.

See https://github.com/kubernetes-sigs/controller-runtime/issues/305

[2020-09-22 15:46] CecileRobertMichon commented on #2218
/lifecycle active
/milestone v0.4.0

[2020-09-22 15:49] vincepri commented on #3631
Copying my comment from the PR:

@dthorsen These checks were added a while back to make sure we wouldn't get stuck trying to delete a node if the control plane nodes were being deleted, or if there weren't any more machines available.

I'd try to see if we can agree on a status field and have a fallback that uses the current logic

[2020-09-22 15:50] fabriziopandini opened #3677 "Add MHC remediation to the machine's ready condition summary"
As per this [TODO](https://github.com/fabriziopandini/cluster-api/blob/b545ca1215fb5a294f3b150c1b7a5296a2c59c77/controllers/machine_controller.go#L213) we should add MHC remediations conditions
[code]
To the machine's ready condition summary

/kind feature

[2020-09-22 15:50] fabriziopandini commented on #3677
/priority backlog
/milestone v0.3.10

[2020-09-22 15:54] fabriziopandini opened #3678 "Raise priority of infrastructure failures into the machine's ready condition summary"
In the following code https://github.com/fabriziopandini/cluster-api/blob/b545ca1215fb5a294f3b150c1b7a5296a2c59c77/controllers/machine_controller.go#L210-L214

we should raise the priority of the infrastructure failures given that this usually provides the most significant feedback for the users

/kind feature

[2020-09-22 15:54] fabriziopandini commented on #3678
/priority backlog
/milestone v0.3.10

[2020-09-22 16:02] #3658 closed

[2020-09-22 16:02] fabriziopandini opened #3679 "Remove step counter from the KubeadmConfig's ready condition summary"
The KubeadmConfig's ready condition reports a step counter (1 of 2 completed) https://github.com/fabriziopandini/cluster-api/blob/b545ca1215fb5a294f3b150c1b7a5296a2c59c77/bootstrap/kubeadm/controllers/kubeadmconfig_controller.go#L206

However, this information does not add much value, and on the contrary it causes a little bit of confusion at machine level where both infrastructureReady and bootst

[2020-09-22 16:07] detiber commented on #3658
It looks like the tabs are working again now that #3671 has been merged and deployed: https://master.cluster-api.sigs.k8s.io/

[2020-09-22 16:53] detiber commented on #3547
+1 from me

[2020-09-22 17:36] vincepri opened #3680 "Publish binaries in a compressed format"
This is a breaking change, maybe starting with the next version we can publish clusterctl in a compressed format, when building the binary today it turns out at ~50MB, compressed it's more than half ~20MB.

It might be useful for a number of reasons, and it might definitely help save bandwidth in some environments

/kind cleanup
/milestone Next

[2020-09-22 17:50] detiber commented on #3680
@vincepri what about adding both, that way folks that would prefer to download the compressed binary to save bandwidth can do so without breaking existing tooling that is downloading uncompressed binaries.

[2020-09-22 17:53] vincepri commented on #3680
We can yeah, although I was hoping to just upload one and deduplicate, maybe we could do this in a phased approach?

[2020-09-23 04:04] dthorsen commented on #3631
What do you think about a status field on the controlplane objects like 'nodesRegistered: true` that we could use to gate this section? We could make AWSManagedControlPlane set this new status field to `false` but have it act as true if unset so that we do not change default behavior but Managed control plane objects can opt out of this logic.

[2020-09-23 04:30] Jaakko-Os commented on #3647
fixed by https://github.com/kubernetes-sigs/cluster-api/pull/3648

[2020-09-23 04:30] #3647 closed

[2020-09-23 08:59] fabriziopandini commented on #3679
/priority backlog
/milestone v0.3.10

[2020-09-23 09:07] fabriziopandini opened #3683 "Make DockerMachine to report WaitingForControlPlane"
During cluster provisioning we are observing

[code]

As you can see, the `DockerMachine` is reporting `WaitingForBootstrap` data, so the user is required to jump to the `KubeadmConfig` object in order to discover the real reason we are waiting, which is because we are still `WaitingForControlPlaneAvailable`

This issue advocates for getting the `DockerMachine` (but this apply to all the infrastru

[2020-09-23 09:08] fabriziopandini commented on #3683
/priority backlog
/milestone v0.3.10

[2020-09-23 13:44] bboreham commented on #1477
Thanks for that, Naadir; it sparks some thoughts:
 - the tracing I implemented in my POC was mostly "controller X has done some reconcile operation", which works well in
 Gantt chart view but doesn't make an interesting metric.
 - "from when controller started to make a machine to when it was ready" would make a great tracing span, but not something I implemented (sounds like it could be done via

[2020-09-23 14:13] vincepri commented on #3631
🤔 That could be interesting. One question before we proceed, does EKS or other cloud provider expose the number of control plane nodes available somehow? Or is it all done behind the scenes?

[2020-09-23 14:22] dthorsen commented on #3631
EKS, GKE, and AKS do not expose the details of the number of control plane nodes or anything like that. The control plane is totally provided as a managed service and how they design it is internal to those organizations. Another possible name for the status field could be something like `managedControlPlane: true`. Such a status field may be useful for similar reasons elsewhere in the code that w

[2020-09-23 14:39] richardcase opened #3684 "Add EKS Control Plane Provider"
**User Story**

As a user/operator] I would like clusterctl to support the EKS control plane provider so that i can `init` a cluster with the required providers to create EKS clusters

**Detailed Description**

Initially the EKS control plane was included in the main CAPA controller.  However, this has now been split out into its own controller. See https://github.com/kubernetes-sigs/cluster-api-p

[2020-09-23 17:45] srm09 commented on #3678
/assign @srm09

[2020-09-23 19:09] vincepri commented on #3259
/lifecycle frozen

[2020-09-24 04:33] srm09 commented on #3678
@fabriziopandini Does this mean that no matter what the phase of the `Machine` is, the Infrastructure Condition should be shown higher than the Bootstrap Condition when consumed by the consumer, say `kubectl`.

[2020-09-24 06:55] srm09 commented on #3677
/assign @srm09

[2020-09-24 07:12] jichenjc commented on #3441
/assign

I can take a look at this

[2020-09-24 07:20] jichenjc commented on #3441
so basically, we should create a json file that contains `all` the information that we are going to do the `move` action, but the `move` action only occurs between bootstrap ==> workload cluster
while the desire use case of this backup/restore happens on both bootstrap (before move) and workload cluster (after move) ,correct?

[2020-09-24 10:59] fabriziopandini commented on #3441
It is not clear to me if we are going to implement two new top level commands or if we are going to make backup and restore as move options e.g.

clusterct move --to-file  (backup)
clusterct move --from-file (restore)

However, I would break the implementation down into two logical parts.

- The easiest to implement is backup, which is similar to dry-run with the exception it dumps all the resourc

[2020-09-24 12:32] fabriziopandini commented on #3678
This change will raise the priority only in the summary (in the ready condition). However, if the consumer is interested in a specific signal, he can always look at specific conditions

[2020-09-24 14:32] fabriziopandini commented on #3664
@varunpurohit76 let me know if you need some help for implementation

[2020-09-24 14:41] srm09 commented on #3678
As far as I understand, summarizing the conditions arranges all the conditions lexicographically except the Ready condition. Does this mean the ordering needs to be updated while building the summary?
Does it make sense to add a Priority marker to each condition and the order of the conditions appearing in the summary is determined by this priority marker (which could be a simple integer)

[2020-09-24 15:22] vincepri commented on #3428
/assign @srm09

[2020-09-24 15:53] vincepri commented on #3441
We should probably first figure out the plan for move #3354

[2020-09-24 16:04] devigned opened #3686 "Move `DockerMachineSpec.Bootstrapped` to status"
**Detailed Description**

In alphav4, move `DockerMachineSpec.Bootstrapped` to status and reconsider if we can re-use `DockerMachineSpec` for `DockerMachinePool` rather than using `DockerMachineTemplate`.

https://github.com/kubernetes-sigs/cluster-api/pull/3506#discussion_r487403537

/kind feature

[2020-09-24 18:37] ncdc commented on #3686
/milestone v0.4.0

[2020-09-24 18:44] ncdc commented on #3684
@richardcase would it make sense to transfer this issue to the CAPA repo?

[2020-09-24 18:49] fabriziopandini commented on #3684
This is for adding EKS control plane to clusterctl.
/retitle Add EKS Control Plane Provider to clusterctl

[2020-09-24 18:50] ncdc commented on #3684
Is the full fix for this issue the PR in CAPA though?

[2020-09-24 18:53] richardcase commented on #3684
@ncdc - Yes the full refactor in CAPA to create the separate eks control plane manager was in this PR: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1949

[2020-09-24 18:53] ncdc commented on #3631
I like the managedControlPlane idea. Where would that live? On the provider-specific ManagedControlPlane struct in a status field?

[2020-09-24 18:54] ncdc commented on #3684
Sorry, I was referring to https://github.com/kubernetes-sigs/cluster-api/pull/3685. Will that "fix" this issue? If so, I'd prefer to transfer this issue to CAPA, and assign it a CAPA milestone instead of a CAPI one. WDYT?

[2020-09-24 18:55] richardcase commented on #3684
Ah, yes. That makes sense

[2020-09-24 18:56] dthorsen commented on #3631
Yes exactly. I have most of the code written now, just testing some things out locally.

[2020-09-24 18:57] ncdc commented on #3000
@CecileRobertMichon are you still interested in working on this?

[2020-09-24 18:59] vincepri commented on #3631
Given that this is internal, we could also use an annotation on the control plane referenced object itself, that signals cluster api that this is an externally managed control plane.

[2020-09-24 18:59] vincepri commented on #3686
/help

[2020-09-24 19:01] dthorsen commented on #3631
This seems like something that should be set by the controller though as opposed to the user. That is why I gravitated toward a status field.

[2020-09-24 19:01] ncdc commented on #3631
Wouldn't using an actual field make more sense / haven't we been trying to get away from API-in-annotations?

[2020-09-24 19:01] ncdc commented on #3631
Definitely should be set by the controller

[2020-09-24 19:05] vincepri commented on #3631
I asked myself, "is this useful for users to see/know" and couldn't come up with a clear answer, also being a managed control plane, is that something that should be in status?

It all seems internal to Cluster API, rather than something we'd want to expose, but I'm ok either way.

One other benefit of having it as an annotation is using ObjectMeta in code, so that Cluster API doesn't have to writ

[2020-09-24 19:07] dthorsen commented on #3631
Was thinking something like this in util.go

`
// IsManagedControlPlane returns a bool indicating whether the control plane referenced
// in the passed ObjectReference is a managed control plane
func IsManagedControlPlane(controlPlaneRef *corev1.ObjectReference) bool {
	controlPlane := ObjectReferenceToUnstructured(*controlPlaneRef)
	managed, found, err := unstructured.NestedBool(controlPlane.Obje

[2020-09-24 19:11] vincepri commented on #3631
LGTM

[2020-09-24 19:13] dthorsen commented on #3631
Works for me

[2020-09-24 19:23] wfernandes commented on #3026
Won't be able to dedicate time to this right now.
/unassign

[2020-09-24 19:30] ncdc commented on #3631
/lifecycle active

[2020-09-24 20:03] vincepri commented on #3591
Now that we've split the tests, and @wfernandes is rewriting MHC tests, I think we can close this

/close

[2020-09-24 20:03] #3591 closed

[2020-09-24 20:30] ncdc commented on #3026
I'm thinking about doing something that looks like this - WDYT? https://gist.github.com/ncdc/53121e64f07d23672b901c6a66fb7e8f

[2020-09-24 20:59] ncdc commented on #3026
/assign
/lifecycle active

[2020-09-24 22:20] srm09 commented on #3678
According to the discussion with @fabriziopandini , the summary generation also gets affected by the actual order of the conditions specified during the summary generation.

[2020-09-25 00:31] jichenjc commented on #3441
ok, I will wait for #3354  before work on this , thanks for the reminder @vincepri @fabriziopandini

[2020-09-25 08:55] jichenjc commented on #3505
@wfernandes we don't have version.yaml in release
https://github.com/kubernetes-sigs/cluster-api/releases

and this line assume if the file is not there, then that's ok and recreate it later
https://github.com/kubernetes-sigs/cluster-api/blob/master/cmd/clusterctl/cmd/version_checker.go#L188

but the code is hard code ,so should we put the version.yaml into release then download
from release and u

[2020-09-25 12:38] fabriziopandini opened #3689 "Remove deprecated func from the test framework"
The cluster API test framework was refactored for using clusterctl at the beginning of the v1alpha3 series, and the old functions were deprecated and moved under  `test/framework/deprecated.go`

When the main branch will be open for the v1alpha4 work, we should remove all the deprecated funcs.

/kind cleanup

[2020-09-25 12:39] fabriziopandini commented on #3689
/priority backlog
/milestone v0.4.0

[2020-09-25 12:42] fabriziopandini commented on #3689
As a side note, it was discussed several times to deprecate also `test/helpers`, with the exception of testenv.
However, this requires a little bit more of research in order to understand if other methods in these packages are still in user in CAPI/CAPV/CAPA

[2020-09-25 12:56] fabriziopandini commented on #3524
/close
feel free to re-open if there are still pending questions

[2020-09-25 12:56] #3524 closed

[2020-09-25 12:57] fabriziopandini commented on #3638
@yannalf
does the suggestion above solve your problem?

[2020-09-25 12:59] fabriziopandini commented on #3485
@eratnch
Do you managed to solve the cert-manager problems?

[2020-09-25 13:03] fabriziopandini commented on #1964
@vincepri what about closing this issue unless a more specific use case arises?

[2020-09-25 13:05] fabriziopandini commented on #1749
@vincepri what about closing this issues?
clusterctl now support envsubst, and a further enhancement on how to manage controller flags is in the scope of the Management cluster operator initiative...

[2020-09-25 13:07] fabriziopandini commented on #3274
@michaelgugino is there an update for this issue?

[2020-09-25 13:08] cpanato commented on #3322
/assign

[2020-09-25 13:09] fabriziopandini commented on #3689
/area testing

[2020-09-25 13:16] fabriziopandini opened #3690 "Implement a new E2E test for verifying clusterctl upgrades"
We should implement a new E2E test providing a signal on clusterctl upgrades

Ideally, the test should
- init a management cluster with providers in version X
- create a workload cluster
- upgrade providers to version Y using clusterctl upgrade
- check everything works fine (e.g. add a machine to the workload cluster)
- cleanup

As a first step we can implement a test using X = latest release for

[2020-09-25 13:17] fabriziopandini commented on #3690
/area testing
/priority important-soon
/milestone v0.4.0

[2020-09-25 13:28] fabriziopandini opened #3692 "Deprecate Status.FailureMessage, FailureReason and use conditions for it"
Conditions in Cluster API are becoming the main tool for reporting status to the users.

In light of that, we should consider if in v1alpha4 we should deprecate Status.FailureMessage, FailureReason and use conditions for it as well.

Related to https://github.com/kubernetes-sigs/cluster-api/issues/3153

/kind feature

[2020-09-25 13:28] fabriziopandini commented on #3692
/milestone v0.4.0

[2020-09-25 13:42] fabriziopandini opened #3693 "Create a cross-provider dashboard for E2E tests"
In order to get a better signal about CAPI and the growing ecosystem, we should create and new dashboard reporting results for a common set of tests executed on different providers.

As the initial scope for this effort IMO we should consider the following tests:
- Create an HA workload cluster - TBD if this should be a separated test or if it is included in the following
- Kubernetes conformance

[2020-09-25 13:42] fabriziopandini commented on #3693
/area testing
/milestone v0.3.10

[2020-09-25 14:05] yannalf commented on #3638
Yes ..thanks a lot

Le ven. 25 sept. 2020 à 14:57, Fabrizio Pandini <notifications@github.com>
a écrit :

[2020-09-25 14:13] michaelgugino commented on #3274
No, I haven't had a chance to dig into this.  It's on my todo list, but don't be afraid to look into it if you're interested.

[2020-09-25 14:16] vincepri commented on #3638
/close

[2020-09-25 14:16] vincepri commented on #3638
Thank you all!

[2020-09-25 14:16] #3638 closed

[2020-09-25 14:22] vincepri commented on #3692
/priority important-soon

[2020-09-25 14:22] vincepri commented on #3693
/priority important-soon
/milestone v0.4.0

Moving this to v1alpha4, given that we're closing v0.3.x soon

[2020-09-25 14:27] fabriziopandini commented on #3274
Unfortunately, I don't have CAPO environments to dig into.
just wondering if we should keep the issue open here or move it to the CAPO repo where might be there could be more eyes on this.

[2020-09-25 14:41] vincepri commented on #1749
Let's keep it open, this conversation might be useful if/when controller runtime upstream adds support for ComponentConfig

[2020-09-25 14:42] vincepri commented on #1964
SGTM

/close

[2020-09-25 14:42] #1964 closed

[2020-09-25 15:17] eratnch commented on #3485
@fabriziopandini no, the issue is still there.

[2020-09-25 15:57] CecileRobertMichon commented on #3000
Yes sorry I completely forgot about this, I can work on it today or Monday

[2020-09-25 16:03] fabriziopandini commented on #3485
Ok, sorry to hear that.
Unfortunately, I don't have CAPO environments to try to reproduce 😓

Have you consider to move issue to the CAPO repository, given that it seems that cert-manager does not works properly on the workload cluster only?
Also, might be related https://github.com/kubernetes-sigs/cluster-api/issues/3274#issuecomment-652622670

[2020-09-25 16:35] randomvariable opened #3694 "Add chaos testing to clusterctl framework to allow re-entrancy testing"
**User Story**

A lot of the bugs that we had in earlier releases in CAPA and occasionally still pop up are to do around controller re-entrancy, especially since AWS API calls are not necessarily idempotent.

**Detailed Description**

Have a method to crash loop at random time intervals controllers in order to surface re-entrancy bugs. Furthermore, this could be added to provider periodic jobs to

[2020-09-25 16:37] randomvariable opened #3695 "Add network failure testing for KCP"
**User Story**

As a developer I would like to discover bugs in Cluster API or Kubernetes using the test framework.

e.g.
* what happens during a network partition, does cluster api behave properly, does KCP know what to do
* surfacing esoteric network device kernel bugs in CI rather than manual testing

**Detailed Description**

Particularly for KubeadmControlPlane, we should have mechanisms to d

[2020-09-25 16:40] vincepri commented on #3695
/milestone Next
/help

[2020-09-25 16:40] vincepri commented on #3694
/milestone Next
/help

[2020-09-25 17:13] sedefsavas opened #3696 "Update Kind to v0.9.x for CAPD and e2e tests"
Currently, we are using Kind v0.7.1 for CAPD and e2e tests.
Kind v0.9.0 came out recently, we may want to wait until v0.9.1.

[2020-09-25 17:14] vincepri commented on #3696
/milestone v0.4.0

[2020-09-25 17:30] sedefsavas commented on #3696
/good-first-issue
/help

[2020-09-25 18:05] ncdc opened #3697 "KCP/CABPK should reject known invalid Kubernetes versions"
**What steps did you take and what happened:**
1. Try to create a cluster with KCP.spec.kubernetesVersion set to something like `v1.19.1_mycompany.2`
1. kubeadm bootstrapping fails with this in the output
[code]

**What did you expect to happen:**
1. kubeadm bootstrapping succeeds

**Anything else you would like to add:**
For this example, a valid/appropriate version would be `v1.19.1+mycompany.2`

[2020-09-25 18:07] ncdc commented on #3697
cc @fabriziopandini

[2020-09-25 18:10] vincepri commented on #3697
Seems we're using this regex https://github.com/kubernetes-sigs/cluster-api/blob/b0236f2b3c1d0ee9e6a8dffd1baaa22fd8aee17d/controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_webhook.go#L51 to validate the KCP.Spec.Version field, and it seems it does allow for underscores 🤔

[2020-09-25 18:12] ncdc commented on #3697
Compare with https://github.com/kubernetes/kubernetes/blob/ccfdc09f3559f0cb220dd4d921951f1badf15076/cmd/kubeadm/app/util/config/common.go#L100-L102

[2020-09-25 18:13] vincepri commented on #3697
cc @CecileRobertMichon as well, given that the regex came in https://github.com/kubernetes-sigs/cluster-api/pull/3147

[2020-09-25 18:16] vincepri commented on #3697
@ncdc Not sure if you wanna tackle this in v0.3.x or later, if we do remove the underscore from the regex, it could technically break some controllers out there from patching, that said their clusters would already pretty much be broken at that point

[2020-09-25 18:18] ncdc commented on #3697
/milestone v0.4.0

[2020-09-25 18:20] CecileRobertMichon commented on #3697
@vincepri regex actually came from https://github.com/kubernetes-sigs/cluster-api/commit/32e6e61a254c170095c85816fb0ea0f6d575bb89#diff-99f38c7c07bfcc03a528180716bafab5R58, I just reused the same one in webhook validation (couldn't use the one in util because it created a dependency cycle)

[2020-09-25 18:22] vincepri commented on #3697
Thanks, I wish we added a comment on where that regex came from :/

[2020-09-25 18:23] vincepri commented on #3697
We can probably use this issue to align all our validations on Kubernetes versions, and use the exact same code / parsing everywhere

[2020-09-25 19:01] ncdc opened #3698 "KCP: support pluggable in-cluster DNS providers"
**User Story**

As a user, I would like to create a new cluster using an in-cluster DNS provider of my choosing, instead of having kubeadm install CoreDNS, because I'd like to use something other than CoreDNS from the start.

As a user, I would like to manage my in-cluster DNS provider separately from KCP, decoupling their lifecycles, so that I'm in control of my DNS provider.

(Maybe out of scope

[2020-09-25 20:38] ncdc opened #3700 "KCP: support pluggable proxy providers"
**User Story**

As a user, I would like to create a new cluster using a proxy provider of my choosing, instead of having kubeadm install kube-proxy, because I'd like to use something other than kube-proxy from the start.

As a user, I would like to manage my proxy provider separately from KCP, decoupling their lifecycles, so that I'm in control of my proxy provider.

**Detailed Description**

See

[2020-09-25 20:52] dthorsen commented on #3631
PR #3673 is ready for review and should fix this. I will open a follow up PR to the AWS provider to add. the `externalManagedControlPlane` status field once this is merged.

[2020-09-25 21:16] #3539 closed

[2020-09-25 22:43] wfernandes commented on #3505
@jichenjc The version checker is run after any clusterctl command is executed. So if the file doesn't exist in the beginning, it will be created after.

However, after thinking about it some more, it probably doesn't make sense to store this hash. Because the hash will probably be used only when ApplyUpgrade is called. So may be it just makes sense to compute the hash every time since I doubt `clu

[2020-09-26 00:23] neolit123 commented on #3700
the current way is by passing `--skip-phase=addons` or a specific `addon/x`.
but i guess for CAPI this has to be supported via the config:
https://github.com/kubernetes/kubeadm/issues/2261

[2020-09-26 00:25] neolit123 commented on #3698
similar comment as in:
https://github.com/kubernetes-sigs/cluster-api/issues/3700#issuecomment-699238907

[2020-09-26 01:08] srm09 commented on #3679
/assign @srm09

[2020-09-26 09:14] arghya88 commented on #3641
@fabriziopandini I looked at how kind export logs work. They execute common commands(https://github.com/kubernetes-sigs/kind/blob/master/pkg/cluster/internal/providers/common/logs.go#L15) and then each provider(podman, docker) execute provider specific command "docker logs" or "podman logs" as we can see here(https://github.com/kubernetes-sigs/kind/blob/master/pkg/cluster/internal/providers/docker

[2020-09-27 17:29] evalsocket commented on #3696
/assign @evalsocket

[2020-09-27 20:41] vincepri commented on #3269
/lifecycle frozen

[2020-09-27 22:11] zycon opened #3702 "Version file missing from user-directory config"
**What steps did you take and what happened:**
clusterctl version -v=10

**What did you expect to happen:**

display version or something, have not seen before

**Anything else you would like to add:**
Error: unable to verify clusterctl version: unable to write version state file: open /Users/zycon/.cluster-api/version.yaml: no such file or directory

clusterctl version: &version.Info{Major:"0", M

[2020-09-27 23:54] vincepri commented on #3702
/assign @wfernandes
/priority important-soon

[2020-09-28 06:00] jichenjc commented on #3505
@fabriziopandini @vincepri any comments on the info provided by @wfernandes above?
seems nothing we can do now?

[2020-09-28 06:11] jichenjc commented on #3653
@fabriziopandini any update on this ? I want to implement this so I want to avoid
wrong direction ... thanks

[2020-09-28 06:24] jichenjc commented on #3653
and we need think about how to `revert` if something wrong ,for example,
what about some error happened during the move action, how to scale them back etc..

[2020-09-28 06:35] jichenjc commented on #3653
from following (a move dry run action),seems the only object to be moved is `MachineDeployment` ?

[code]

[2020-09-28 10:03] fabriziopandini commented on #3653
@jichenjc yes, also images overrides assumes providers are using a deployment

https://github.com/kubernetes-sigs/cluster-api/blob/f07371de19756a95a4a1f09c236ace004261be22/cmd/clusterctl/internal/util/objs.go#L108-L116

Might be there is a little bit of confusion here.
The issues is about scaling controller Deployments to 0 before move and back to X after, not about moving them.
MachineDeployment

[2020-09-28 11:51] fabriziopandini commented on #3505
I agree with @wfernandes that it does not make sense to store additional info in version .yaml, but instead, we should derive hard-coded info (version, manifest-hash) from the embedded manifest whenever necessary

[2020-09-28 11:59] fabriziopandini commented on #3664
@varunpurohit76 sorry to ping you again, but It will be to understand when do you plan to work on this issue
we are planning to cut a new release the 1st of October and it will be really helpful to get v1.19 signal ...

[2020-09-28 12:09] jichenjc commented on #3505
so we need find some other places to store such info ? e.g hash.yaml ?

[2020-09-28 12:20] fabriziopandini commented on #3505
@jichenjc if I got right the original intent of the comment was to get rid of these following [const](https://github.com/kubernetes-sigs/cluster-api/blob/3af94bb0b08f5cd06758edd1ec866e3dec6e4715/cmd/clusterctl/client/cluster/cert_manager.go#L47) in the code, and instead derive that info from the embedded manifest.

As per @wfernandes comment, the idea of storing that info somewhere else does not m

[2020-09-28 12:26] #3000 closed

[2020-09-28 12:47] jichenjc commented on #3505
@fabriziopandini thanks, so `derive that info from the embedded manifest.` is the suggestion .
I don't know `embedded manifest.` means so I am working on learning how to use it ,if you happen to know, please help to point me  , thanks~

[2020-09-28 12:50] fabriziopandini commented on #3690
/assign
/lifecycle active

[2020-09-28 12:54] fabriziopandini commented on #3505
embedded manifest is the manifest under cmd/clusterctl/config/assets which is the converted into bindata and shipped in the binary.
The generated bindata file is cmd/clusterctl/config/zz_generated.bindata.go, and an example of how this is used is
https://github.com/kubernetes-sigs/cluster-api/blob/0154e3dba372ed49324b8664e52828334f15044d/cmd/clusterctl/client/cluster/cert_manager.go#L331-L334

[2020-09-28 14:07] vincepri commented on #3505
+1, we've also discussed that we should be able to remove the embedded manifests (bindata), and instead use the upstream cert-manager repository to retrieve the assets and install them. If there are any patches that need to be performed, those should be in the form of json-patch

[2020-09-28 14:15] vincepri commented on #3690
@fabriziopandini Are you working on this now? It seems we might want to wait a bit longer before starting the work on clusterctl, given the operator work

[2020-09-28 14:30] #3679 closed

[2020-09-28 14:58] vincepri commented on #3653
Hey folks, It seems there might be a lot of confusion here so I'll try to do my best to summarize the proposed solution.

Let's assume the following:
- We have two management clusters: A and B.
- The intent is to move the management from A to B.
- `clusterctl init` has already been executed on both management clusters, all versions match (This is a pre-requisite for clusterctl move).
- User runs `

[2020-09-28 14:59] fabriziopandini commented on #3690
@vincepri I would like to explore what does this activity means, especially for setting up a test with two versions of the same provider.
Also, testing upgrade to the latest release in the v0.3.x series can't use the operator

[2020-09-28 15:03] fabriziopandini commented on #3505
If we are including in the scope removing the embedded manifests, I suggest to take some more time before starting to implement this issue, because the current concept of repository used for providers can't be easily adapted to cert-manager (something that is not a provider) and we need something similar to support air-gapped environments

[2020-09-28 15:06] vincepri commented on #3505
Let's focus this issue on removing the embedded constants, rather than restructuring how we manage cert-manager, what do you think?

[2020-09-28 15:25] Arvinderpal commented on #493
@ncdc piggybacking on your comment [here](https://github.com/kubernetes-sigs/cluster-api/pull/3668#issuecomment-696127224); in particular, option 2. Supporting reconcile on labels with a specific prefix (e.g. cluster.x-k8s.io) would be another approach as well. I could image these "user labels" being exposed at the providerMachineTemplate level, and CAPI adding the prefix and handling reconciliati

[2020-09-28 15:52] #3091 closed

[2020-09-28 16:35] varunpurohit76 commented on #3664
hi @fabriziopandini 1st of October looks infeasible for me. I did not get a chance to start on this because of time crunch at my end.

[2020-09-28 16:45] vincepri commented on #3664
We don't have to deliver this by October 1st necessarily, sometime in October would be fine. This is definitely not a blocker for the release

[2020-09-28 17:25] vincepri commented on #3534
/priority important-soon

One clarification, clusterctl shouldn't support environments running multiple different versions of the controllers going forward

[2020-09-28 17:27] vincepri commented on #3515
/priority important-soon

This probably goes in hand with the management cluster operator work

[2020-09-28 17:29] vincepri commented on #2992
Superseded by #3696

/close

[2020-09-28 17:29] #2992 closed

[2020-09-28 17:30] vincepri commented on #3403
/close

Closing due to inactivity / cannot reproduce

[2020-09-28 17:30] #3403 closed

[2020-09-28 17:32] vincepri commented on #3348
Closing for lack of updates

/close

[2020-09-28 17:32] #3348 closed

[2020-09-28 17:33] vincepri commented on #2954
/close

Closing for now, we'll update to v0.7.x once it releases

[2020-09-28 17:33] #2954 closed

[2020-09-28 17:34] vincepri commented on #3095
We should try and remove the Phase field in v1alpha4 and move to conditions

[2020-09-28 17:37] vincepri commented on #2896
Going to close this for now, the KCP rework for etcd has mostly happened, and this change doesn't seem necessary at this point

/close

[2020-09-28 17:37] #2896 closed

[2020-09-28 18:01] vincepri commented on #3697
@fabriziopandini What do you think the best way to proceed here? Are you able to work on this?

[2020-09-28 18:06] vincepri commented on #3581
@fabriziopandini Are you still working on this?

[2020-09-28 18:07] vincepri commented on #3203
/remove-lifecycle stale

[2020-09-28 18:08] vincepri commented on #3569
@randomvariable The related PR has merged, should we switch the milestone, seems there is still more work in this issue

[2020-09-28 18:09] vincepri commented on #3457
@pulkitmehra Are you still working on this issue?

[2020-09-28 18:12] fabriziopandini commented on #3581
I added my name here, but it was @Boutheina-Dab who actually sent a PR

[2020-09-28 18:13] vincepri commented on #3042
We need to add definitions for what multi-tenancy is to the glossary

[2020-09-28 18:14] fabriziopandini commented on #3697
Let me take a look tomorrow and try to get a picture of all the points where we are doing version validation before making an action plan

[2020-09-28 18:14] vincepri commented on #3581
/milestone Next

Going to remove from release, let's unblock the PR if possible

[2020-09-28 18:15] vincepri commented on #2703
/close

[2020-09-28 18:15] #2703 closed

[2020-09-28 18:32] vincepri commented on #3331
Related to #3427

[2020-09-28 18:38] pulkitmehra commented on #3457
@vincepri , when is the deadline for this issue? I can get this in by end of this month?

[2020-09-28 18:45] vincepri commented on #3457
No rush, take your time!

[2020-09-28 22:00] sedefsavas commented on #3536
/close
Fixed by
https://github.com/kubernetes-sigs/cluster-api/pull/3675
https://github.com/kubernetes-sigs/cluster-api/pull/3667

[2020-09-28 22:00] #3536 closed

[2020-09-28 22:14] srm09 commented on #3683
/assign @srm09

[2020-09-28 22:16] srm09 commented on #3428
@vincepri should I assign this one to myself, now that am added to the `k8s-sigs` org?

[2020-09-28 22:19] vincepri commented on #3428
/assign @srm09

[2020-09-29 00:00] srm09 commented on #3683
IIUC this would involve mirroring the condition for the BootstrapConfig with a sensible fallback value in case the config is not found. This would be something similar to the `reconcileBootstrap` logic from the machine controller.

[2020-09-29 04:56] jichenjc opened #3706 "Error: unable to verify clusterctl version: unable to semver parse clusterctl GitVersion: strconv.ParseUint: parsing "": invalid syntax"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

**What did you expect to happen:**

during upgrade from cluster-api from 0.3.8 to 0.3.9
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/639

we found error that clusterctl can't run due to error

[code]

the reason is CAPO CI build clusterctl
[code]
see following fo

[2020-09-29 04:57] jichenjc commented on #3706
@hidekazuna FYI

[2020-09-29 05:29] jichenjc commented on #3505
@vincepri @fabriziopandini do you think create a configmap will solve the problem?
basically, define a config map at `cmd/clusterctl/config/assets/cert-manager.yaml` then
parse it during startup and replace hard code info with the configmap info ?

[2020-09-29 07:11] fabriziopandini commented on #3505
@jichenjc we basically need two informations, cert-manager version and the hash.
What about trying to compute those info from the embedded cert-manager manifest?

- The cert-manager version can be derived from the helm.sh/chart annotation that exists on the objects that exists in the manifest.
- The hash is a sha256.Sum256 of the manifest yaml
https://github.com/kubernetes-sigs/cluster-api/blob/01

[2020-09-29 07:16] fabriziopandini commented on #3706
/triage support
I suggest you to use make clusterctl to build the binary, so you will get all the version variables injected

See
https://github.com/kubernetes-sigs/cluster-api/blob/7bbd5cc18d0bc9c298789a1cdd50749599abbcf0/Makefile#L156
and
https://github.com/kubernetes-sigs/cluster-api/blob/master/hack/version.sh

[2020-09-29 07:19] fabriziopandini commented on #3683
I think that it will be much easier to check `!cluster.Status.ControlPlaneInitialized`, which is the source of truth for this condition/status.

[2020-09-29 10:52] randomvariable commented on #3042
And a provider contract. We should definitely put this in 0.4.0

/assign

[2020-09-29 10:54] randomvariable commented on #3569
Yes, please switch. The largest chunk got merged, but there's still CAPD e2e to actually make use of the new packages.

[2020-09-29 12:04] fabriziopandini commented on #3569
/milestone v0.4.0

[2020-09-29 12:50] fabriziopandini commented on #3697
@vincepri  I have found following field in the API holding a Kubernetes version and the corresponding web hook validation:

1. `Machine.Spec.Version`: validated using wrong regex :-(
2. `MachineDeployments.Spec.Template.Spec.Version`: not validated :-(
3. `KubeadmConfig.Spec.ClusterConfiguration.KubernetesVersion`: not validated :-(
4. ` KubeadmConfigTemplate.Spec.Template.Spec.ClusterConfiguratio

[2020-09-29 12:50] fabriziopandini commented on #3697
/assign
/lifecycle active

[2020-09-29 13:03] #3497 closed

[2020-09-29 13:04] vincepri commented on #3706
/milestone Nexxt

[2020-09-29 13:04] vincepri commented on #3706
/milestone Next

[2020-09-29 13:28] vincepri commented on #3697
This might be a breaking change and cause a rollout

[2020-09-29 13:29] vincepri commented on #3042
/milestone v0.4.0

[2020-09-29 14:06] vincepri commented on #3274
/priority awaiting-more-evidence
/milestone Next

[2020-09-29 14:06] vincepri commented on #3669
@andrewrynhard Do we have any action items here, or should we close this issue for now?

[2020-09-29 14:07] vincepri commented on #3669
/milestone Next
/priority awaiting-more-evidence

[2020-09-29 14:22] ncdc commented on #493
My preference would be to reserve cluster.x-k8s.io/* labels for functionality defined by Cluster API, such as marking a machine as preemptible/interruptible/spot instance. This specific example does not provide the user the ability to set any labels and have them synced from Machine to Node. It instead enforces that a single label is present in the Node based on characteristics of the Machine.

I

[2020-09-29 14:59] andrewsykim commented on #3669
Feel free to close this if I'm the only person who is complaining about it :P

To me at least, the semantics around KubeadmControlPlane, KubeadmTemplate and KubeadmConfig is confusing. If I want to mutate the bootstrap data for every machine and add some custom logic in the mutation, I should be able to mutate each machine's KubeadmConfig independent of KubeadmControlPlane and KubeadmTemplate. Thi

[2020-09-29 15:17] Arvinderpal commented on #493
That would be the ideal approach, but as noted introduces security concerns. Limiting CAPI to only reconcile a specific set of labels is a compromise of sorts. If we have user-labels specified as `{foo1: bar1, foo2: bar2}` show up on the Node(s) as:
[code]
IMO, this should be okay, but I understand your reservations on using 'cluster.x-k8s.io'. What about letting the prefix also be user specified

[2020-09-29 15:22] ncdc commented on #493
Is this in any way similar to the ask in #3335? I realize you're talking about labels and that's talking about tokens, but I'm curious if the use cases are aligned?

[2020-09-29 15:26] timothysc commented on #493
I'm ok with CAPI reconciling well defined prefix labels, taints and tolerations are a different story.

[2020-09-29 17:10] Arvinderpal commented on #493
Just did a quick read. It seems that for the author having labels applied through the kubelet is not sufficient as they allow 3rd parties to add nodes to a workload cluster (i.e. handing out bootstrap tokens). I suppose if labels could be controlled at the MachineDeployment/Machine/MachineTemplate level, then that may be a possible route for the author to take. But I'll stop there as I don't fully

[2020-09-29 17:13] ncdc commented on #493
@Arvinderpal ok thanks for reading that 😄. I wasn't sure if it fit, as it took me a while to understand the use case, but it sounded like maybe it was related.

@timothysc I'm curious why you'd be ok having CAPI reconcile labels matching a prefix and not all allowed labels? How would we explain to users why it only handles a subset? And what prefix are you thinking would be allowed?

[2020-09-29 17:45] vincepri commented on #3702
/milestone Next

Please triage when possible

[2020-09-29 17:45] vincepri commented on #3631
/milestone v0.3.10

[2020-09-29 17:50] vincepri commented on #3664
/milestone v0.4.0

[2020-09-29 17:50] vincepri commented on #3677
/milestone v0.4.0

[2020-09-29 17:50] vincepri commented on #3678
/milestone v0.4.0

[2020-09-29 17:50] vincepri commented on #3683
/milestone v0.4.0

[2020-09-29 17:52] vincepri commented on #3026
/milestone v0.4.0

[2020-09-29 19:54] wfernandes commented on #3702
@zycon I wasn't able to reproduce this behavior.
Steps:
1. I pulled down the `clusterctl-darwin-amd64` binary from our releases page for release v0.3.9 and ensured it was executable on my machine.
1. I removed the default directory path `~/.cluster-api/`
1. Ran the command
[code]
1. Version file was created.
[code]

Can you please verify the shasum of the clusterctl binary you are using?
[code]

[2020-09-29 20:10] timothysc commented on #493
Prefix because it should be non-colliding, and you would know the source.  I think something like this "could" be a feature you opt into vs. being a default behavior.

I don't care about a specific prefix other then something shared and unique.

[2020-09-29 20:14] sedefsavas opened #3712 "MachineHealthCheck returns immediately on patch error"
**What steps did you take and what happened:**
When MachineHealthCheck controller fails to patch `MachineOwnerRemediatedCondition` to one of the unhealthy Machines, it returns. https://github.com/kubernetes-sigs/cluster-api/blob/a0a8a75b1f02db5041f6a865f0c1946cb5f22e64/controllers/machinehealthcheck_controller.go#L255-L267

**What did you expect to happen:**
I expect it to try to patch that condit

[2020-09-29 23:45] CecileRobertMichon opened #3715 "v1alpha4: Move infra provider contract controlPlaneEndpoint to Status"
Original discussion: https://kubernetes.slack.com/archives/C8TSNPY4T/p1601405307103200

Following https://github.com/kubernetes-sigs/cluster-api/issues/168, ControlPlaneEndpoint was added as a required Spec field in InfrastructureCluster for v1alpha3: https://cluster-api.sigs.k8s.io/developer/architecture/controllers/cluster.html#infrastructure-provider.

However, this field is treated as Status b