[2021-02-23 10:22] fabriziopandini commented on #4224
/assign
/lifecycle active

[2021-02-23 12:12] fabriziopandini commented on #4223
/milestone v0.4.0
/area clusterctl

[2021-02-23 13:17] fmuyassarov commented on #4193
Hi @fabriziopandini ,
Do you think labeling the cert-manager namespace in tilt-extensions would help us to differenciate if the cert-manager was created as part of the tilt, or by the user. This way, during `tilt down` we could maybe do `kubectl delete -f https:// ....cert-manager.yaml` if we see the label on the cert-manager namespace ?

[2021-02-23 13:59] fabriziopandini commented on #4193
assuming that tilt is used only with temporary dev clusters, TBH, I don't think we should worry too much about tilt leaving something behind.
Nevertheless, if you want to get this fixed, I'm ok with the simplest solution possible you can think of, but as I was suggesting above, this should be fixed first in https://github.com/tilt-dev/tilt-extensions/tree/master/cert_manager, then the cert-manager

[2021-02-23 14:10] fabriziopandini commented on #4222
/remove-kind bug
/triage needs-information

It seems this depends on the cert-manager version pre-installed in the cluster
(init reports `Skipping installing cert-manager as it is already installed`)

Which version of cert-manager is installed? how dow you installed it?
Please see also https://github.com/kubernetes-sigs/cluster-api/issues/4190

[2021-02-23 14:56] fabriziopandini opened #4226 "Split E2E jobs into two separate dashboard"
**User Story**

As a maintainer, I would like to get a clear signal about CAPI E2E jobs

**Detailed Description**

Currently, all the CAPI jobs are reporting in a single dashboard, https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api, but this is getting hard to read due to the growing number of job.

We should consider splitting jobs by branch by creating the `sig-cluster-lifecycle-cluster-a

[2021-02-23 15:49] vincepri commented on #4027
@fabriziopandini @brightzheng100 Any updates on this issue?

[2021-02-23 16:21] vincepri commented on #4222
Do we have a way to detect the cert-manager version from clusterctl before trying to use it?

[2021-02-23 16:21] vincepri commented on #4222
/milestone Next
/priority awaiting-more-evidence

[2021-02-23 16:23] vincepri commented on #4223
FYI, the v0.4.0 release hasn't been released yet, expect breaking changes if using a dev branch

[2021-02-23 16:41] scottslowe commented on #4138
@CecileRobertMichon I'd like to work on this. Aside from removing the text indicating that MHC doesn't apply to KCP, what other changes do you feel are necessary?

[2021-02-23 16:51] CecileRobertMichon commented on #4138
@scottslowe awesome, thank you. I think in addition to removing the text of the limitation, it would be good to add an example of how to set it up for KCP in https://cluster-api.sigs.k8s.io/tasks/healthcheck.html#creating-a-machinehealthcheck. You can use https://github.com/kubernetes-sigs/cluster-api/blob/master/test/e2e/data/infrastructure-docker/v1alpha4/cluster-template-kcp-remediation/mhc.yam

[2021-02-23 19:02] vincepri commented on #4193
I'd agree to leave cert-manager in place when using tilt, dev clusters should be ephemeral.

[2021-02-23 19:02] vincepri commented on #4224
+1

[2021-02-23 19:07] scottslowe commented on #4138
@CecileRobertMichon In the "Limitations and Caveats" section of the current doc, there is a bullet that says "If no Node joins the cluster for a Node after the `NodeStartupTimeout`, the Machine will be remediated"

Should this be "If no Node joins the cluster for a Machine...", or "If no Machine joins the cluster for a Node..."? The current wording seems off.

[2021-02-23 19:12] CecileRobertMichon commented on #4138
yeah I think it should be "If no Node joins the cluster for a Machine..."

[2021-02-23 19:38] scottslowe commented on #4138
PR submitted and ready for review!

[2021-02-23 19:54] binchenX commented on #4222
@fabriziopandini I installed certs-manager by just doing the `clusterctl init` and using the local dev-repository approach - no manual  or extra steps.

I'm not sure how to find the version of the certs-manager but you can find the content of the `dev-repository` here: https://github.com/binchenX/issues

Regarding `Skipping installing cert-manager as it is already installed`,  it's because I enabl

[2021-02-23 19:55] binchenX commented on #4222
I will take a look at https://github.com/kubernetes-sigs/cluster-api/issues/4190 to see if I can find/provider more information.

[2021-02-23 19:58] binchenX commented on #4223
Thanks @vincepri , I will try v0.3.0 to see if I can get better result.

[2021-02-23 20:02] binchenX commented on #4222
@fabriziopandini
I redo the test from scratch
- Installing cert-manager Version="v0.16.1"   and I belive it is working since the test passed.
- and here is the whole log
[code]

[2021-02-23 21:01] fabriziopandini commented on #4222
`Installing cert-manager Version="v0.16.1"`
Cluster API on the main branch installs v1.1.0 now... why your local fork is still at v0.16.1?

[2021-02-23 21:06] fabriziopandini commented on #4223
`dial tcp 10.96.19.122:443: connect: connection refused`

This seems a network problem or, even before that, the provider deployments are stuck when doing an image pulling.
Could you check provider deployments?
If they are up, could you check connectivity to the webhook endpoint from a pod deployed in the cluster?

[2021-02-23 21:34] binchenX commented on #4222
Hi @fabriziopandini , it is interesting. Where can I find out the cert-manager version it will be installed? (before it is actually being get installed?)

I thought it will be in the `dev-repository` generated by the scripts I can find either 0.16.1 or 1.1.0. So obviously, I was looking at the wrong place.
[code]

I double checked my local branch is same with the latest master branch.
[code]

I al

[2021-02-23 23:59] fmuyassarov commented on #4226
I can work on this
/assign

[2021-02-24 02:30] brightzheng100 commented on #4027
@fabriziopandini @vincepri I was using the latest `kind` and `cluster api` so the `kind` network must have been the dedicated `kind` network, instead of the `default` bridge.

I believe it's still quite easy to reproduce as I just did it again while trying to follow up with you folks -- bwt, today I even couldn't bring up the workload cluster as it failed somewhere: the docker container was not sp

[2021-02-24 03:19] brightzheng100 commented on #4027
Well, after almost an hour, some docker containers were up:

[code]

And I could see the workload containers:

[code]

But while checking `Cluster API` itself:

[code]

[2021-02-24 09:14] invidian commented on #4193
Hm, I need to double check it, but what I found annoying was, that for some reason I wanted to do `tilt down` and then `tilt up`, to re-create everything from scratch, as some resources did not get re-created and it was also failing, because there were some resources on the cluster already.

[2021-02-24 14:01] fabriziopandini commented on #4193
unless you mess up with versions, If cert-manager already exists in the cluster tilt-up does not complain (on the contrary, it is faster), so if there is a problem with leftover resources I guess it is for something else...

[2021-02-24 14:09] fabriziopandini commented on #4027
The problem is that Kind < 0.8.0 use network bridge, kind >= 0.8.0 use network kind (which is now the majority of users)
CAPD v1aplha3 still use bridge, so it is required to set `export KIND_EXPERIMENTAL_DOCKER_NETWORK=bridge` in order to allow communications between the management cluster and CAPD nodes

https://github.com/kubernetes-sigs/cluster-api/issues/4055 will simplify this by deprecating

[2021-02-24 14:18] fabriziopandini commented on #4226
@fmuyassarov thanks!
/lifecycle active

[2021-02-24 14:51] fabriziopandini commented on #4222
Ok, now I got this.

The issue is that you are running clusterctl v1alpha3 (v0.3.x.) against the main branch which is v1alpha4.
You have to build clusterctl from the main branch as well.

Cert manager is embedded in the clusterctl binary.

[2021-02-24 16:16] fabriziopandini commented on #3354
IMO yes, at least until we can derive some AI from this discussion...

[2021-02-24 16:22] fabriziopandini commented on #3360
@vincepri I think yes, but I'm not entirely sure about the ask:

Add
[code]

Keep config commands?
Change some behavior (add --raw flag)?

[2021-02-24 18:25] sbueringer opened #4229 "Provide a way to hook into the rolling update"
**User Story**

As a service provider, I would like to be able to hook into the rolling update of control plane
and worker nodes to be able to implement additional checks before the rolling update continues.

**Detailed Description**

Some context:  we're providing Kubernetes as a Service and are currently reimplementing our
existing solution. To provide a smooth update experience we have several

[2021-02-24 18:39] sedefsavas commented on #4218
Kind and APIVersion fields are missing in the PartialObjectMetadata so cannot use GVK.
Looks like a controller-runtime issue that they are missing.

[2021-02-24 18:40] #4138 closed

[2021-02-24 18:41] dlipovetsky commented on #4224
+1

Some due diligence:

* This applies to release-0.3, which runs on Kubernetes >= v1.16:
![image](https://user-images.githubusercontent.com/3445370/109049004-99a29480-768c-11eb-9d3e-56a0e77062ad.png)
(from https://cluster-api.sigs.k8s.io/reference/versions.html#release-components)

* As long as CAPI is running on Kubernetes >= v1.16, there are **no special requirements** to upgrade [from 0.16 to

[2021-02-24 18:41] vincepri commented on #4218
@sedefsavas PartialObjectMetadata should have a GVK, see https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/client/apiutil/apimachinery.go#L82-L95

[2021-02-24 18:43] sedefsavas commented on #4218
This looks like a similar issue to this:
https://github.com/kubernetes-sigs/cluster-api/issues/4115#issuecomment-769254298

[2021-02-24 18:46] sedefsavas commented on #4218
Actually no my bad, please ignore.

/assign

[2021-02-24 18:51] sedefsavas commented on #4218
Okay no, I take it back. TypeMeta is coming empty. Thought I didn't set TypeMeate in the tests and that is why it is coming empty but no.

[2021-02-24 18:58] vincepri commented on #4193
/milestone Next
/priority awaiting-more-evidence

[2021-02-24 18:59] vincepri commented on #4209
/milestone Next
/priority important-longterm

[2021-02-24 18:59] vincepri commented on #4177
/milestone v0.4.0
/assign @shysank
Let's remove the option to pick a dns provider in v0.4.0?

[2021-02-24 18:59] vincepri commented on #4177
/kind api-change

[2021-02-24 19:00] vincepri commented on #4185
/milestone Next
/priority backlog
/help

[2021-02-24 19:58] shyaamsn commented on #4218
I guess even if you use GVK , the issue is you wont get the type of secret that is required to filter secret. Just curious how do you plan to address fetching type of secret.

[2021-02-24 20:28] binchenX commented on #4222
Hi @fabriziopandini , I did build the clusterctl from main branch but it maybe make same mistake. Let me redo it and report back. Thanks for your help.

[2021-02-24 20:36] sedefsavas commented on #4218
I think there is not much we can do on that end. We move that check to the mapper function.

[2021-02-24 21:17] fabriziopandini commented on #4177
Agree, this should wait for kubeadm API conversions to be implemented first

[2021-02-24 21:20] fabriziopandini commented on #4224
yes

From my test, there is no need to do intermediate steps

[2021-02-24 21:25] binchenX commented on #4222
@fabriziopandini I can confirm the issue is fixed after I rebuild and copy the library to the path where it can be accessed. Thanks for your help!

[2021-02-24 21:25] #4222 closed

[2021-02-24 22:29] binchenX commented on #4223
Hi @fabriziopandini, following your hint I do find the deployment was not successful due to image pulling failure, not only the capd system but also in capi system.

[code]

I have already side loaded the image using kind load-image command and as we can see below those images are already in the kind node. But, they will fail if I try to `crictl pull` them.

[code]

But, I can successfully put oth

[2021-02-25 00:16] binchenX commented on #4223
Issue fixed after I delete the `AlwaysPull` from the deployment manifests. I will update the doc to give some hint.

[2021-02-25 00:16] #4223 closed

[2021-02-25 02:55] brightzheng100 commented on #4027
Just upgraded to `kind` v0.10 and `export KIND_EXPERIMENTAL_DOCKER_NETWORK=bridge` before creating the workload cluster, the issue remains the same but sounds the Docker containers come back quicker.

[code]

I'm quite confused about how to make it work now:
1) **kind** IS using `kind` network;
2) __CAPD v1aplha3 still use bridge__

So how?

[2021-02-25 03:20] brightzheng100 commented on #4027
Okay, after looking into it carefully, it works now with some points taken:

1. For `kind` version >=0.8, by default it uses a dedicated Docker network named `kind`:

[code]

2. But **CAPD v1aplha3 still use the default network named `bridge`**;

3. So to make it work with `kind` CLI >=0.8, we must instruct `kind` to use `bridge` network, by: `export KIND_EXPERIMENTAL_DOCKER_NETWORK=bridge`, **bef

[2021-02-25 20:18] neolit123 commented on #4099
i've sent the PR for moving to systemd in kubeadm 1.21:
https://github.com/kubernetes/kubernetes/pull/99471

[2021-02-25 20:59] mayankbh opened #4232 "Allow mutation of NTP settings in KubeadmControlPlane webhook"
**User Story**

As a user, I would like to modify the NTP servers for my KubeadmControlPlane nodes because I want new control plane nodes with new NTP settings.

**Detailed Description**

It would be useful to be able to edit the NTP settings defined in the KubeadmConfig for a KubeadmControlPlane resource, say, because-
- My NTP servers have changed
- I made a mistake when entering them
- I forgot

[2021-02-25 21:22] shysank commented on #4232
/cc @fabriziopandini @vincepri

[2021-02-26 09:19] fabriziopandini commented on #4232
/milestone v0.4.0
/area control-plane

Please note that if we allow this change, it will trigger a rollout, and existing control plane machines will be removed/new ones generated.
Also, wondering if the same consideration could apply to other cloud-init fields

[2021-02-26 10:34] invidian commented on #4193
You mean with API versions? I do actually :smile:

So the `tilt down` and `tilt up` work fine, maybe except `tilt down` checking if cert-manager is functional, that seem unnecessary.

Also adding new API fields seem to work OK, it just requires `make generate` (#4185), then stopping Tilt and running `tilt up` again. Not the best developer UX, but works. Perhaps there could be another issue for it

[2021-02-26 11:12] fabriziopandini commented on #4193
/close

[2021-02-26 11:12] #4193 closed

[2021-02-26 19:41] shysank opened #4233 "More unit test coverage for clusterctl upgrader"
**User Story**

Right now, the unit tests for upgrader (`upgrader_test.go`) has tests for `Plan`, and `createCustomPlan` methods. We want to add more coverage by adding tests for the other methods in the `ProviderUpgrader` interface namely: `ApplyPlan`, and `ApplyCustomPlan` methods.

#4230 partially addresses this by adding failure cases specific to running multiple provider instance version for

[2021-02-26 19:49] shysank opened #4234 "Error message suppressed when failing to get control plane nodes"
**What steps did you take and what happened:**
In kcp, when trying to get control plane nodes for updating conditions, we add `PodInspectionFailed` reason to all conditoins in machines, and `ControlPlaneComponentsHealthyCondition` to the control plane. It'd be more helpful to the user if we included the reason for failure in  `ControlPlaneComponentsHealthyCondition`.

**What did you expect to happ

[2021-02-27 01:37] maplain commented on #3872
Gotcha. sorry I completely lost track of this thread. Closing it now as pre-terminate could achieve the intended behavior.

[2021-02-27 01:37] #3872 closed

[2021-03-01 10:25] fabriziopandini commented on #4234
/area control-plane
/priority backlog
/milestone v0.4.0
(putting in the milestone for now, but it doesn't sees a blocker for me so we can move it later if there is no bandwidth)

/help

[2021-03-01 10:27] fabriziopandini commented on #4233
/area clusterctl
/priority backlog
/milestone v0.4.0
(putting in the milestone for now, but it doesn't sees a blocker for me so we can move it later if there is no bandwidth)

/help

[2021-03-01 11:01] snehal1797 opened #4235 "Unable to use sigs.k8s.io/cluster-api"
**sigs.k8s.io/cluster-api - v0.3.12**

go get sigs.k8s.io/cluster-api/util@v0.3.12
../go/pkg/mod/sigs.k8s.io/cluster-api@v0.3.12/util/predicates/generic_predicates.go:147:91: e.MetaNew undefined (type event.UpdateEvent has no field or method MetaNew)
../go/pkg/mod/sigs.k8s.io/cluster-api@v0.3.12/util/predicates/generic_predicates.go:150:88: e.Meta undefined (type event.CreateEvent has no field or

[2021-03-01 11:10] fabriziopandini commented on #4235
Might be I'm missing something, but It is not clear to me what are you trying to achieve
As a general recommendation, if you would like to import CAPI, you must keep in sync controller runtime and the transitive Kubernetes dependencies as well.

[2021-03-01 11:21] richardcase commented on #3661
/lifecycle frozen

[2021-03-01 16:59] vincepri commented on #4235
You can't use a newer version of client-go, while using CAPI v0.3.12, which is based on an older version that doesn't have some breaking changes.

[2021-03-01 18:35] vincepri commented on #2064
/lifecycle frozen

We need some documentation around this, especially now that we're using KCP extensively

[2021-03-01 19:25] vincepri commented on #3360
`config` would probably be deprecated in favor of `generate`

[2021-03-01 19:25] vincepri commented on #3360
Then we can remove it in a next release

[2021-03-02 10:03] fabriziopandini commented on #2064
I'm giving a shot to this one
/assign
/lifecycle active

[2021-03-02 17:54] neolit123 commented on #3791
/remove-lifecycle stale

[2021-03-02 18:58] scottslowe commented on #3373
I can take this issue. I have some existing content on using `kustomize` with Cluster API that should be straightforward to adapt and get added to the documentation.

/assign

[2021-03-02 19:56] fabriziopandini commented on #3974
/remove-lifecycle stale

[2021-03-02 21:03] fabriziopandini opened #4239 "KCP remediation fails when node name != machine name"
**What steps did you take and what happened:**
Thanks to @sedefsavas for reporting:

Testing a remediation on AWS and got  _"removing this machine could result in etcd quorum loss. Skipping remediation"_

[code]

**What did you expect to happen:**
The failing machine to be remediated

**Anything else you would like to add:**
There is an error in the projected cluster, and most specifically `"unhea

[2021-03-02 21:04] fabriziopandini commented on #4239
/assign
/lifecycle active

[2021-03-02 21:59] #4239 closed

[2021-03-02 22:21] CecileRobertMichon opened #4243 "golangci-lint configuration should not use enable-all"
https://github.com/kubernetes-sigs/cluster-api/blob/master/.golangci.yml currently uses `enable-all: true / disable: [...]`

We should switch it to use `disable-all: true / enable: [...]`.

The golangci-lint documentation states:

     inverted configuration with `enable-all` and `disable` is not scalable during updates of golangci-lint

https://golangci-lint.run/usage/configuration/

[2021-03-02 22:21] CecileRobertMichon commented on #4243
/help
/good-first-issue

[2021-03-03 01:53] ShrillShrestha commented on #4243
Hey @CecileRobertMichon,  I am new to open source and trying to learn to contribute. I would love to work on the issue. Just a quick question, do we just need to change the `.golangci.yml` file? and under that just change `enable-all -> disable-all` and `enable -> disable`. Or do I need to look over additional stuff?

[2021-03-03 15:41] alexander-demichev opened #4246 "Make operator consistent with other CAPI parts"
**Detailed Description**

We've just started active work on the operator and should keep it consistent with other CAPI parts. From https://github.com/kubernetes-sigs/cluster-api/pull/4117#issuecomment-788317768 that includes:

- [x] avoid a new go.mod file https://github.com/kubernetes-sigs/cluster-api/pull/4126
- [x] avoid a new .gitignore and rely on the top level one (e.g. we are already doing

[2021-03-03 15:55] #4226 closed

[2021-03-03 15:56] thejoycekung opened #4248 "[Failing Test] periodic-cluster-api-provider-aws-e2e-conformance-v1alpha3-with-k8s-ci-artifacts"
#### Which jobs are failing:
periodic-cluster-api-provider-aws-e2e-conformance-v1alpha3-with-k8s-ci-artifacts

#### Which test(s) are failing:
The whole job

#### Since when has it been failing:
March 1 between 9:11 PST and 13:12 PST

#### Testgrid link:
https://testgrid.k8s.io/sig-release-master-informing#capa-conformance-v1alpha3-k8s-master

#### Reason for failure:
[code]

#### Anything else we

[2021-03-03 16:25] fabriziopandini commented on #4248
Should we move this to CAPA?
cc @randomvariable @sedefsavas

[2021-03-03 16:55] randomvariable commented on #4248
Yup, please move it @fabriziopandini if you have the perms to do so.

[2021-03-03 17:31] CecileRobertMichon commented on #4243
@ShrillShrestha you should only have to change the `.golangci.yml`. The goal is to change the configuration syntax but to keep the exact same linters enabled. You can see which ones are currently enabled by running `make lint`:

[code]

I recommend running it before and after changing the configuration to using "enabled" to make sure the linters haven't changed.

[2021-03-03 17:48] ShrillShrestha commented on #4243
Thank @CecileRobertMichon, I will try to make that changes. I will let you know if I have further questions.

[2021-03-04 09:40] #4243 closed

[2021-03-04 09:41] fabriziopandini commented on #3975
/lifecycle frozen

[2021-03-04 15:27] mcwumbly opened #4253 "failure to connect to etcd pod through proxy with IPv6 only listeners prevents scaling workload clusters to multiple control plane nodes"
**What steps did you take and what happened:**

1. OK: Deployed a management cluster on an IPv6 only vSphere environment with a single control plane node
2. OK: Deployed a workload cluster on the same infrastructure with a single control plane node
3. FAIL: Attempted to deploy another workload cluster on the same infrastructure with 3 worker nodes and 3 control plane nodes

What happened:

Cluster

[2021-03-04 15:30] randomvariable commented on #4253
@neolit123 , do we want to include a workaround for listen-client-urls in kubeadm or should we exclusively pursue fixing host port forwarding in API server?

[2021-03-04 15:36] neolit123 commented on #4253
@mcwumbly

we have v6 e2e tests in upstream k8s where etcd endpoints are v6 only.
my assumption is that this only happens due to the proxy factor?

@randomvariable

given the kubeadm etcd code is rather sensitive, i'd recommend we do not and apply a fix where it's actually needed.
such a fix seems backportable to older k8s releases too.

[2021-03-04 15:37] neolit123 commented on #4253
logging a ticket in kubernetes/kubernetes and tagging with `/sig network` can get this process going.

[2021-03-04 16:15] randomvariable commented on #4253
Yup, that's correct. Kubelet is doing the wrong thing when it's port forwarding to the host port.

I'll try and parse out https://github.com/kubernetes/kubernetes/issues/72597 and see if it's the correct issue or a subset of it.

[2021-03-04 16:24] randomvariable opened #4254 "Gate MHC's machine timer on the status of certain pods in the cluster"
**User Story**

As a cluster operator I would like MHC to not start the clock on the status of a Machine until certain conditions have been met on the cluster, so that during bootstrap I don't get machines deleted unnecessarily.

**Detailed Description**

In particular, if I'm using out-of-tree CPI, then a node joins by kubeadm and doesn't get a provider ID until the out-of-tree CPI is running. De

[2021-03-04 16:33] mcwumbly commented on #4253
yes, this is my understanding.

I think it could be a subset. That issue is really a "feature request" for having the ability to specify the remote addr from the client side. It could be used to address the issue here, and both issues may have some common component where it's necessary to have the remote addr be something other than `127.0.0.1`. But a more narrow change may address our need, where

[2021-03-04 16:40] vincepri commented on #3982
/lifecycle frozen

[2021-03-04 17:41] fabriziopandini commented on #4254
@randomvariable might be this PR is already trying to address this point https://github.com/kubernetes-sigs/cluster-api/pull/3752

[2021-03-04 18:31] randomvariable commented on #4254
Maybe, control plane ready might be equivalent here.

[2021-03-04 20:20] #4015 closed

[2021-03-04 20:52] mcwumbly commented on #4253
Here's the hack I'm using at the moment to work around this:
[code]

[2021-03-05 00:31] CecileRobertMichon opened #4256 "Cert manager tilt module needs to be updated"
Cert manager version was recently bumped to v1.1.0 in this [commit](https://github.com/kubernetes-sigs/cluster-api/pull/4225/files#diff-c2ee8653e1d6b85f0aadf87cd438a9250806c052877248442be4d434cbc52425) but the Tilt [module](https://github.com/kubernetes-sigs/cluster-api/blob/master/tilt_modules/cert_manager/Tiltfile) wasn't updated.

There are a few changes that should be made in the module:

- de

[2021-03-05 00:32] CecileRobertMichon commented on #4256
/milestone v0.4.x
/help
/good-first-issue

[2021-03-05 08:12] fabriziopandini commented on #4256
FYI, the tilt extension is hosted at https://github.com/tilt-dev/tilt-extensions/tree/master/cert_manager, so the changes should be made there before being imported under /tilt_modules
Also, if we are going to drop support for old version of cert_manager let's make this clear in the extension readme, given that it could be used outside of CAPI as well.

[2021-03-05 08:15] davideimola commented on #4256
Hi! I am taking it!

/lifecycle active
/assign

[2021-03-05 09:22] fabriziopandini commented on #4253
/area control-plane
/milestone v0.4.x

[2021-03-05 10:24] alexander-demichev commented on #4246
/area operator

[2021-03-05 14:58] randomvariable commented on #4253
Yup, I'd file a new "bug" issue related to that original as it does affect IPv6 in general. Shouldn't need to specify ::1 on ipv6 IMO.

[2021-03-05 15:31] mcwumbly commented on #4253
---

OK, I'll go ahead and file new bug about this. If I understand correctly, a change is likely needed [here in kubernetes/kubernetes/pkg/kubelet/dockershim/docker_streaming_others.go](https://github.com/kubernetes/kubernetes/blob/18099e1ef7283d9ab09c45c5a4a90e26fdce1161/pkg/kubelet/dockershim/docker_streaming_others.go#L47):

[code]

[2021-03-05 19:36] CecileRobertMichon opened #4258 "Clusterctl config cluster --list-variables should show required variables"
**User Story**

As a user, I would like to know which variables are required and which ones have defaults when I run `--list-variables`.

**Detailed Description**

Right now, `clusterctl config cluster cluster --list-variables --infrastructure=azure:v0.4.12` returns:

[code]

  But out of these variables, only 5 of them are actually required.
[code]

I would like the output of `list-variables` to

[2021-03-05 19:40] CecileRobertMichon commented on #4258
/help
/good-first-issue

[2021-03-05 19:42] CecileRobertMichon commented on #4258
@fabriziopandini let me know what you think about this

[2021-03-05 19:43] fabriziopandini opened #4259 "Backport improvements to clusterctl developer docs"
**Detailed Description**

As per https://github.com/kubernetes-sigs/cluster-api/pull/4220#issuecomment-791438558, improvements to the clusterctl developer docs in  https://github.com/kubernetes-sigs/cluster-api/pull/4220 should be back ported on the release 0-3 branch

/kind documentation
/help
/good-first-issue

/milestone v0.3.x

[2021-03-05 20:09] fabriziopandini commented on #4224
PR merged
/close

[2021-03-05 20:09] #4224 closed

[2021-03-05 20:17] fabriziopandini commented on #3422
@prankul88 are you working to this issue?
@CecileRobertMichon recently filed with an interesting variation of this request. do you mind if I close this issue in favour of the new one?

[2021-03-05 20:28] fabriziopandini commented on #4258
The request makes sense to me
Previously we had https://github.com/kubernetes-sigs/cluster-api/issues/3422 about this topic, but I prefer this one because I like better the proposed output (let's try to dedup).

FYI there is also https://github.com/kubernetes-sigs/cluster-api/issues/3968 somehow related to this.

[2021-03-05 20:29] fabriziopandini commented on #4258
/area clusterctl

[2021-03-05 20:32] fabriziopandini commented on #4197
/lifecycle active

[2021-03-05 20:32] fabriziopandini commented on #4197
/close
PR merged

[2021-03-05 20:32] #4197 closed

[2021-03-05 20:35] fabriziopandini commented on #4118
/milestone v0.4.0

[2021-03-05 20:35] fabriziopandini commented on #4122
/remove-area api
/area operator
/milestone v0.4.0

[2021-03-05 20:36] fabriziopandini commented on #4131
/remove-area api
/area operator
/milestone v0.4.0

[2021-03-05 20:36] fabriziopandini commented on #4246
/remove-area api
/milestone v0.4.0

[2021-03-05 20:38] fabriziopandini commented on #4190
/milestone v0.4.0
/priority backlog

[2021-03-05 20:42] fabriziopandini commented on #4179
/milestone v0.4.0
/priority backlog
We can eventually punt later if there is a concrete use case for this.

[2021-03-05 20:43] fabriziopandini commented on #4258
/milestone v0.4.0

[2021-03-05 20:44] fabriziopandini commented on #4178
/milestone v0.4.0
/priority backlog
We can eventually punt later if we can have a concrete design about how to manage this mutation.

[2021-03-05 20:47] fabriziopandini commented on #4229
/milestone v0.4.0
/area control plane
/area machine

[2021-03-05 20:49] fabriziopandini commented on #4235
/close
feel free to re-open if you need more info

[2021-03-05 20:49] #4235 closed

[2021-03-05 20:51] fabriziopandini commented on #4014
/milestone v0.4.0
given that some investigation work is going on

[2021-03-05 20:53] fabriziopandini commented on #4183
/milestone v0.4.0
/help
Let keep this in the radar for now, we can eventually punt if there is no bandwidth

[2021-03-05 20:55] fabriziopandini commented on #4254
/milestone v0.4.0
if possible, lets dedup with https://github.com/kubernetes-sigs/cluster-api/issues/3026

[2021-03-05 20:59] randomvariable commented on #4254
Yup, I think they describe the same thing.

/close

[2021-03-05 20:59] #4254 closed

[2021-03-05 21:30] CecileRobertMichon commented on #3422
Ah sorry, I searched for existing issues but didn't see this issue before opening mine. I'm fine with copying my proposal here as a comment too if we want to keep history.

[2021-03-05 21:35] CecileRobertMichon commented on #4258
/assign @prankul88

@prankul88 feel free to unassign if you're no longer working on #3422

[2021-03-05 21:43] #2064 closed

[2021-03-05 21:59] fabriziopandini opened #4261 "Backport policy for workloads on KCP controlled machines to the release 0.3 branch"
**Detailed Description**
https://github.com/kubernetes-sigs/cluster-api/pull/4237 documented the policy for workloads on KCP controlled machines; we should backport this changes on the release 0.3 branch

/kind documentation
/milestone v0.3.x
/help
/good-first-issue

[2021-03-07 21:16] davideimola commented on #4256
Hi @fabriziopandini.
Can I ask what do you mean by "drop support for old version of cert_manager"? I am thinking to maintain the workaround by adding a further check on the module version.
I think this will allow the users to use the module with an older cert-manager or k8s versions.

Please tell me what do you think!
Thanks!

[2021-03-08 08:29] binchenX opened #4263 "controller-runtime/manager/controller/cluster "msg"="Reconciler error" "error"="cannot find any versions matching contract \"cluster.x-k8s.io/v1alpha4\" for CRD"
Disclaimer:  I'm not entirely sure if this is a bug or it is me miss something. I was following the [guide](https://cluster-api.sigs.k8s.io/developer/providers/implementers-guide/overview.html) to create a customer infrastructure provider (using `zks` as prefix for the resources and the controller as you will see in the detail report). I was able to get the crd installed, customer resource created

[2021-03-08 08:34] binchenX commented on #4259
done https://github.com/kubernetes-sigs/cluster-api/pull/4264

[2021-03-08 09:15] fabriziopandini commented on #4259
/assign @binchenX
/lifecycle active

[2021-03-08 09:36] fabriziopandini commented on #4263
zksclusters.infrastructure.cluster.x-k8s.io should be registered in the scheme you are passing to your controllers. e.g
https://github.com/kubernetes-sigs/cluster-api/blob/43efbfdd44b6f68194fcdb27b0a4cfe055227361/test/infrastructure/docker/main.go#L64

/remove-kind bug
/kind support
/milestone v0.4.0

[2021-03-08 09:50] fabriziopandini commented on #4256
@davideimola, if we are going to update cert_manager_test_resources to v1, this will fail with version older that cert-manager v1.0.0

So, IMO we have three options here:
1. keep  cert_manager_test_resources as it is (v1beta1); this will work with both older and newer versions thanks to conversions, but the downside is that this behavior it is not explicit unless we take care of documenting it.
2.

[2021-03-08 10:05] binchenX commented on #4263
@fabriziopandini that line of code exists already and it was auto generated by the kubebuild.

https://github.com/binchenX/cluster-aip-provider-zks/blob/master/main.go#L42

[2021-03-08 10:18] fabriziopandini commented on #4263
Then it could be you are not setting storage version for your API https://github.com/kubernetes-sigs/cluster-api/blob/74730d114c69f7d63d981ae9af698fd451bd378b/util/conversion/conversion.go#L79

[2021-03-08 10:42] binchenX commented on #4263
@fabriziopandini is the storage version set through the crd as below or there is another api to call to set it?

https://github.com/binchenX/cluster-aip-provider-zks/blob/master/config/crd/bases/infrastructure.cluster.x-k8s.io_zksclusters.yaml#L78

[2021-03-08 10:51] fabriziopandini commented on #4263
You can find some info in the Kubebuilder book, e.g. https://book.kubebuilder.io/reference/markers/crd.html. Also, having a look to existing providers already migrated to v1alpha4 could help as well (e.g. CAPD, but also CAPZ and probably someone else).
From a CAPI perspective, the code I have linked before is where we are checking this.

[2021-03-08 11:43] fabriziopandini commented on #3026
/lifecycle frozen

[2021-03-08 14:22] Arvinderpal opened #4266 "clusterctl rollout clean up"
**Detailed Description**

Addresses various changes suggested by reviewers to `clusterctl alpha rollout`:

- [ ]  Change resource tuple --> Object Ref. See: https://github.com/kubernetes-sigs/cluster-api/pull/4098#discussion_r586436958
- [ ] Move MD specific code into a machinedeployment.go file in client/alpha/rollout, See https://github.com/kubernetes-sigs/cluster-api/pull/4098#discussion_r58644

[2021-03-08 15:08] alexander-demichev opened #4269 "Enable CI jobs for operator branch"
Enable main branch CI jobs for operator branch. This is a temporary change before these branches are merged together
https://github.com/kubernetes/test-infra/pull/21182

/area operator

[2021-03-08 15:11] fabriziopandini commented on #4269
/area testing
/milestone v0.4.0
/priority important-soon

[2021-03-08 15:29] alexander-demichev opened #4270 "Create controllers for operator API objects"
Create controllers for operator CRDs. Currently, there is only one controller https://github.com/kubernetes-sigs/cluster-api/tree/operator-0.4/exp/operator/controllers and it's for CoreProvider.

List resources that require controllers:
- [x] CoreProvider
- [ ] BootstrapProvider
- [ ] ControlPlaneProvider
- [ ] InfrastructureProvider

https://github.com/kubernetes-sigs/cluster-api/blob/master/docs

[2021-03-08 15:34] alexander-demichev opened #4271 "Generate manifests for operator"
After https://github.com/kubernetes-sigs/cluster-api/pull/4126 will be merged, we need to generate manifests by running `make generate-operator-manifests`. This command should output CRDs and an RBAC role.

/area operator

[2021-03-08 16:39] fabriziopandini commented on #4271
/milestone v0.4.0
We should get CI signal in place ASAP so there will be guarantee that the generated files (manifests but not only) are in sync with the rest of the codebase

[2021-03-08 16:40] fabriziopandini commented on #4270
/milestone v0.4.0

[2021-03-08 16:41] fabriziopandini commented on #4266
/milestone v0.4.0
/remove-kind feature
/kind cleanup

[2021-03-08 20:06] lsh0357 commented on #493
Questions about this: can we have a fully sync of every allowable label instead of labels with a prefix? If we can reconcile the labels added by capi only and do not touch other labels, what's the concern for a prefix?

[2021-03-08 23:45] GrigoriyMikhalkin opened #4275 "E2E framework: file:// scheme not supported"
**What steps did you take and what happened:**
In e2e test config file i specified provider with following component source:
[code]

After i started E2E test i got an error:
[code]

**What did you expect to happen:**
Components from this file would be installed.

**Environment:**

- Cluster-api version: 0.3.14
- KIND version: kind v0.9.0
- Kubernetes version: (use `kubectl version`): v1.19.1

/kin

[2021-03-09 02:33] binchenX commented on #4263
the issue was missing the following label on the providers/infra crd and also need to register the cluster api core resources
[code]

[2021-03-09 02:34] #4263 closed

[2021-03-09 05:52] dlipovetsky opened #4276 "cert-manager Tolerations removed"
**What steps did you take and what happened:**
`clusterctl init` against a bootstrap cluster whose Nodes all have the `node-role.kubernetes.io/master:NoSchedule` Taint. The cert-manager Pods never got scheduled, because they are missing the Tolerations for that Taint.

**What did you expect to happen:**
I expected `init` to complete.

**Anything else you would like to add:**
#3034 added these Tole

[2021-03-09 05:54] dlipovetsky commented on #4276
/assign

[2021-03-09 05:54] dlipovetsky commented on #4276
Can/should this be backported to release-0.3?

[2021-03-09 08:55] fabriziopandini commented on #4275
As a workaround you can use something like:

https://github.com/kubernetes-sigs/cluster-api/blob/57c6d549ec1ffabf93b460e51efdeca856d97c1f/test/e2e/config/docker.yaml#L32-L34

If someone is interested to send a fix, the code handling urls is here

https://github.com/kubernetes-sigs/cluster-api/blob/57c6d549ec1ffabf93b460e51efdeca856d97c1f/test/framework/clusterctl/repository.go#L137-L147

/area tes

[2021-03-09 08:59] fabriziopandini commented on #4276
/milestone v0.4.0
+1 to backport as soon as this merge on main

[2021-03-09 09:24] invidian opened #4278 "Interrupting test suite leaves orphan etcd processes and data in /tmp"
**What steps did you take and what happened:**
1. Run `make test`
2. Wait for it to start running tests.
3. Hit CTRL+C
4. Find garbage consuming RAM if you have `/tmp` mounted as `tmpfs` (common practice):
[code]
5. Sometimes you can also find orphan etcd processes using `pgrep etcd`.

If you run test suite often or you only care about tests passing in a certain package while developing (Makefile

[2021-03-09 09:53] fabriziopandini commented on #4278
At first sight, I'm not entirely sure this is entirely up to Cluster API, however, is someone have spare cycle to investigate this issue this could be beneficial to all the developers

/milestone next
(setting milestone next because this is not related to a specific milestone)

/priority background
/help

[2021-03-09 10:01] invidian commented on #4278
If the test suite is managed someplace else and this is not an implementation bug, please point me where to report it instead :) I reported it here, as it occurred to me while working on this project.

[2021-03-09 10:10] fabriziopandini commented on #4278
There are several layers at play under CAPI, controller runtime, etcd and API Server binaries, tmpfs to name the most important, and CAPI has not direct control on the majority of those.
But until the problem is properly investigated, I guess it is fine to report here.

[2021-03-09 11:02] fabriziopandini commented on #4246
@alexander-demichev I have updated the list according to https://github.com/kubernetes-sigs/cluster-api/pull/4126#issuecomment-792745590; please double check so we are sure to not forget any action item

[2021-03-09 11:24] invidian opened #4279 "Add support for returning warnings to user as part of validation webhook"
**User Story**

As a user I would like to see the warnings in my configuration for ability to fix them.

**Detailed Description**
As a follow up to #4172, parsed Ignition configuration may contain some warnings and it would be good to inform user about them. Right now, we have no functionality to do that.

More details here: https://github.com/kubernetes-sigs/cluster-api/pull/4172#discussion_r5846

[2021-03-09 11:39] GrigoriyMikhalkin commented on #4275
@fabriziopandini
Thanks! I would like to take this issue to gain a little bit more familiarity with e2e framework code.

[2021-03-09 13:51] fabriziopandini commented on #4275
/assign @GrigoriyMikhalkin
/lifecycle active

[2021-03-09 13:53] fabriziopandini commented on #4279
/milestone v0.4.0
/area bootstrap

[2021-03-09 14:25] fiunchinho commented on #3203
We are in a really similar situation with a large number of clusters and three different pipelines/streams for development/staging/production clusters. We were starting a new component to handle this in a similar fashion, so it'd be great if we could share tooling.

If I understand it correctly, [this proposal](https://github.com/kubernetes-sigs/cluster-api/issues/3439) adds `kubectl rollout` like

[2021-03-09 15:51] prankul88 commented on #4261
/assign

[2021-03-09 17:36] fabriziopandini commented on #4261
/lifecycle active

[2021-03-09 21:13] #4276 closed

[2021-03-10 05:07] #4020 closed

[2021-03-10 15:07] #4261 closed

[2021-03-10 15:08] fabriziopandini commented on #4259
/close
PR merged

[2021-03-10 15:08] #4259 closed

[2021-03-10 15:12] fabriziopandini opened #4282 "Implement E2E for scale in rollout"
**Detailed Description**

https://github.com/kubernetes-sigs/cluster-api/pull/4073 introduced support for rollout strategy in KCP.

Currently this feature is covered by existing E2E tests only partially (scale out rollouts); we should create a new E2E test to cover the scale in rollout as well

/kind feature
/area testing

cc @jan-est

[2021-03-10 15:19] fabriziopandini commented on #4184
/priority important-soon

[2021-03-10 15:19] fabriziopandini commented on #4183
/priority backlog

[2021-03-10 15:23] fabriziopandini commented on #4027
/close
given that the problem seems fixed and https://github.com/kubernetes-sigs/cluster-api/pull/4176 is going to move CAPD/v1alpha3 to the kind network

[2021-03-10 15:23] #4027 closed

[2021-03-10 15:26] fabriziopandini commented on #4085
/priority backlog

[2021-03-10 15:33] fabriziopandini commented on #4016
@jsturtevant I see some work has been done on this issue outside of CAPI.
Is this still a problem in CAPI? what are the action items to get this fixed?

[2021-03-10 15:45] jsturtevant commented on #4016
https://github.com/drone/envsubst/pull/27 merged earlier this week. It's on my list to open a PR to bump the version

[2021-03-10 15:45] fabriziopandini commented on #4014
@hasheddan we are trying to close API changes for the v1alpha4 version.
Are there some some actionable outcome from your investigation?

/priority important-soon

[2021-03-10 15:46] fabriziopandini commented on #3781
/close
given that we are now on cert-manager v1.1.0 on both branches

[2021-03-10 15:47] #3781 closed

[2021-03-10 15:52] fabriziopandini commented on #3780
@vincepri IMO this one could be closed given that we are using` admissionregistration.k8s.io/v1` https://github.com/kubernetes-sigs/cluster-api/blob/e9cacc0931eff0118442a5e596b64eccf380c731/config/webhook/manifests.yaml#L3
and the controller runtime work seems completed

[2021-03-10 15:54] fabriziopandini commented on #3734
/priority important-soon

[2021-03-10 15:56] fabriziopandini commented on #3697
/priority important-soon
This should be re-evaluated after #4163 merged

[2021-03-10 15:57] fabriziopandini commented on #3697
/help

[2021-03-10 15:59] fabriziopandini commented on #3294
@wangzewang any update on this issue?

[2021-03-10 16:02] randomvariable commented on #3734
maybe, but we'll still be dependent on the granularity of kubeadm phases.

[2021-03-10 16:09] fabriziopandini commented on #3780
/priority important-soon

[2021-03-10 16:16] fabriziopandini commented on #2062
/lifecycle active
/kind cleanup

[2021-03-10 16:19] fabriziopandini commented on #2769
/lifecycle active
/kind api-change

[2021-03-10 16:20] fabriziopandini commented on #2693
/area bootstrap
/kind api-change

[2021-03-10 16:23] fabriziopandini commented on #4271
/kind feature
/priority important-soon

[2021-03-10 16:23] fabriziopandini commented on #4270
/kind feature
/priority important-soon

[2021-03-10 16:24] fabriziopandini commented on #4269
/remove-priority important-soon
/remove-priority critical-urgent
/assign @alexander-demichev
/lifecycle active

[2021-03-10 16:26] fabriziopandini commented on #3970
/kind feature
/assign @srm09
/lifecycle active

[2021-03-10 16:28] fabriziopandini commented on #3881
/kind feature

[2021-03-10 16:29] fabriziopandini commented on #3778
/kind cleanup

[2021-03-10 16:33] fabriziopandini commented on #3764
/kind design

[2021-03-10 16:41] fabriziopandini commented on #3732
/kind cleanup
@vincepri I'm +1 to move to release next due to bandwidth

[2021-03-10 16:54] fabriziopandini commented on #2895
/kind feature

[2021-03-10 17:10] fabriziopandini commented on #4258
/lifecycle active
/priority important-soon

[2021-03-10 17:14] fabriziopandini commented on #3690
/lifecycle active

[2021-03-10 17:14] fabriziopandini commented on #3311
/lifecycle active

[2021-03-10 17:32] fabriziopandini commented on #3783
/lifecycle frozen

[2021-03-10 17:35] hasheddan commented on #4014
@fabriziopandini yes, there has been significant work around using crossplane as a drop in replacement for types in cluster-api-provider-gcp. The work is being tracked in https://github.com/crossplane/provider-gcp/issues/303 and most of it has taken place on [livestreams that have been recorded](https://youtube.com/playlist?list=PL510POnNVaaazaBA7jNh1f6Qz1LxuB5Ku). I would love to give a demo to C

[2021-03-10 17:43] #4256 closed

[2021-03-10 17:46] vincepri commented on #4014
I think for now we can delay a change in references until we find a suitable approach that works across all the proposed integrations, for now we can possibly use what's in #4135 to have a crossplane integration

/milestone Next

[2021-03-10 17:51] vincepri commented on #3970
/close

[2021-03-10 17:51] vincepri commented on #3970
The linked PR has been merged

[2021-03-10 17:52] vincepri commented on #4043
Is this being worked on?

[2021-03-10 18:01] vincepri commented on #4271
This doesn't seem like a release blocker

/milestone v0.4.x

[2021-03-10 18:03] vincepri commented on #3778
/milestone v0.4.x

[2021-03-10 18:04] vincepri commented on #3764
/milestone v0.4.x

[2021-03-10 18:05] vincepri commented on #2895
/milestone Next

[2021-03-10 18:11] vincepri commented on #3780
/close

[2021-03-10 18:11] #3780 closed

[2021-03-10 18:13] vincepri commented on #3697
How would that work for folks using gitops? That would cause their changes to be overwritten, and possibly still causing a rollout if we overwrite their changes.

I'd rather have the validation/defaulting/mutation be in a webhook, and return a warning (I think there is support for these now?) and in the next version we'd start breaking folks. I'd want to avoid any magic changes during upgrades usi

[2021-03-10 18:13] detiber commented on #3970
@vincepri If all of the changes landed upstream, and we are pulling in k8s-1.21, can we remove the forked code from `third_party` and import the kubectl drain code directly now?

[2021-03-10 18:14] vincepri commented on #4085
/milestone Next

[2021-03-10 18:15] #4099 closed

[2021-03-10 18:15] vincepri commented on #3970
Yes, that would be probably best.

/reopen
/retitle Remove forked kubectl drain code in favor of direct module usage
/help

[2021-03-10 18:16] vincepri commented on #3970
/good-first-issue

[2021-03-10 20:23] stmcginnis commented on #3763
/lifecycle active
/assign

[2021-03-10 20:39] fabriziopandini commented on #4043
yes
There are PR both in CAPI and test infra ready to merge (I pinged recently in soak you and @CecileRobertMichon)

[2021-03-10 22:27] lsh0357 commented on #493
Any thoughts? @vincepri @Arvinderpal @fabriziopandini

[2021-03-10 23:28] #3294 closed

[2021-03-10 23:29] CecileRobertMichon opened #4288 "Add a side by side comparison of MachinePools and MachineDeployments in book"
Maybe pictures would tell the story our words have failed to tell.

Documentation showing a visual representation comparing a `MachineDeployment` and `MachinePool` would be super helpful. Perhaps, a multi-step visualization starting from initial apply and ending with deployment completed with multiple machines that describes the anatomy, relationships and choreography of the resources the user spe

[2021-03-10 23:29] CecileRobertMichon commented on #4288
/kind documentation
/help

[2021-03-11 00:13] Arvinderpal commented on #493
@lsh0357  The primary reason for this limitation is to avoid stepping on labels managed by other entities. Prefix sets provide a clear separation and reduce possible human error.
I still owe the community a proposal for this. I'm currently working on getting a [similar feature](https://github.com/metal3-io/metal3-docs/pull/149) merged into the metal3 provider. Once that is complete, I will come ba

[2021-03-11 01:43] lsh0357 commented on #493
@Arvinderpal  thanks for the reply. Consider a use case:
As a management cluster user, I want to be able to set labels (for my own purposes) on Machines/MachineDeployments, and have them propagated (by CAPI) onto the corresponding Nodes. I certainly don’t want to touch all other labels, but I do want to set mine.
The above use case doesn’t have anything to do with predefined product-specific prefi

[2021-03-11 13:36] mig4 commented on #3401
/lifecycle active

[2021-03-11 13:53] fabriziopandini commented on #4056
The blocker has been removed, given that https://github.com/kubernetes-sigs/cluster-api/pull/3708 is going to download older version of clusterctl binary and use it for creating a v1alpha3 cluster in the E2E tests

/lifecycle active

[2021-03-11 13:55] fabriziopandini commented on #4056
cleanups/action items:
- [ ] inventory:
  - `GetDefaultProviderVersion` --> `GetProviderVersion`
  - `GetDefaultProviderNamespace` --> `GetProviderNamespace`
- [ ] clusterctl delete:
  - Remove (or depreacate) the `--namespace` flag in `clusterctl delete` and in the corresponding library method
- [ ] inventory/management group:
  - Remove `ManagementGroupList`
  - `deriveManagementGroups` should r

[2021-03-11 13:58] fabriziopandini commented on #3042
@vincepri @CecileRobertMichon @randomvariable @yastij @nader-ziada reminder to keep this in the radar

[2021-03-11 14:31] jimmidyson opened #4296 "MachinePool not deleted on Cluster delete"
**What steps did you take and what happened:**
Created a cluster with machine pool. Waited for successful creation (great stuff!), then deleted cluster. All resources properly deleted (including cluster) with the exception of the machine pool resource, which is orphaned and not cleaned up by the cluster controller due to missing Cluster resource (log message repeated):

[code]

**What did you expe

[2021-03-11 16:02] #3026 closed

[2021-03-11 16:02] #3798 closed

[2021-03-11 18:09] fabriziopandini commented on #4296
/milestone v0.4.0
/priority critical-urgent

[2021-03-11 20:58] #4296 closed

[2021-03-12 06:47] jan-est commented on #4282
@fabriziopandini I would like to implement the E2E for scale in rollout. Is it ok if I look on this one next week?

[2021-03-12 08:28] fabriziopandini commented on #4288
/milestone v0.4.0

[2021-03-12 08:52] prankul88 commented on #4258
/unassign

[2021-03-12 08:55] prankul88 commented on #4258
/assign @mabikash

[2021-03-12 11:39] fabriziopandini commented on #4282
/assign
/lifecycle active

[2021-03-12 15:44] #4022 closed

[2021-03-12 17:04] #4005 closed

[2021-03-12 18:39] Arvinderpal commented on #493
@lsh0357 Not sure if you're aware, but you can already pass labels during machine/node creation via KubeadmConfigTemplate. This issue is to take this label handling further; that is, CAPI should propagate labels on the MD to the underlying Nodes. The motivation for this was discussed earlier in this thread.

[2021-03-12 18:40] randomvariable opened #4304 "KCP should persist etcd client certificate"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

1. Deploy a vSphere workload cluster from another vSphere management cluster. All ESXi hosts are NTP synced.
2. Only one control plane instance appears when 3 replicas were requested. KCP is reporting etcd unhealthy, in the meantime, a worker is created and successfully joined.
3. After a

[2021-03-12 20:41] fabriziopandini commented on #4304
This seems an NTP problem...

[2021-03-12 20:42] fabriziopandini commented on #4304
/milestone v0.4.0

[2021-03-12 22:34] vincepri commented on #4304
/milestone Next
/priority awaiting-more-evidence

@randomvariable While persisting the certificate could be a good improvement (although that seems mostly on kubeadm side), I'd agree with Fabrizio above that it looks more like an NTP clock skew issue

[2021-03-13 00:11] #3763 closed

[2021-03-13 04:59] #4016 closed

[2021-03-13 06:28] vincepri commented on #3042
How would clusterctl support multiple credentials?

[2021-03-13 06:29] vincepri commented on #4183
/milestone Next

[2021-03-13 06:31] vincepri commented on #3791
Catching up on this, @neolit123 is there any other action item?

[2021-03-13 14:46] neolit123 commented on #3791
i don't know if https://github.com/kubernetes/enhancements/tree/master/keps/sig-cluster-lifecycle/clusterapi/2495-Kubernetes-Cluster-Management-API is up to date.

[2021-03-13 14:47] neolit123 commented on #3791
this item is done:

https://github.com/kubernetes/enhancements/blob/master/keps/sig-cluster-lifecycle/clusterapi/FAQ.md

[2021-03-13 16:05] vincepri commented on #3791
That KEP is wildly out of date, although I'm not sure if it makes sense to get it up to date, or amend it with a link to the CAEPs and book. WYDT?

[2021-03-13 16:07] neolit123 commented on #3791
you can close this ticket if you think there is no point to keep the old CAPI KEP up-to-date.
the FAQ.md already links to the CAEPs here.

[2021-03-13 16:07] vincepri commented on #3791
👍 Thanks

/close

[2021-03-13 16:07] #3791 closed

[2021-03-13 16:27] vincepri commented on #4288
/milestone v0.4.x

@ashish-amarnath This issue would be a good one to tackle

[2021-03-15 07:51] chymy opened #4309 "Normalize capi's flags"
**Detailed Description**
When Klog is used, the flags of capi components should be normalized. So the underline `_` of Klog flags should be replaced by `-`, same as k/k.

use `component-base` `WordSepNormalizeFunc` function
[code]

/kind feature

[2021-03-15 09:33] fabriziopandini commented on #4309
/milestone v0.4.0
/priority backlog
/help
/good-first-issue

[2021-03-15 09:40] alexander-demichev commented on #4122
/close
Fixed by https://github.com/kubernetes-sigs/cluster-api/pull/4126

[2021-03-15 09:40] #4122 closed

[2021-03-15 09:41] alexander-demichev commented on #4118
/close
Fixed by https://github.com/kubernetes-sigs/cluster-api/pull/4117

[2021-03-15 09:41] #4118 closed

[2021-03-15 09:49] davideimola commented on #4309
/assign /lifecycle active

[2021-03-15 09:50] fabriziopandini commented on #3042
That the point I'm trying to understand.

For instance, last I checked the AWS proposal it was introducing different types of cluster principals.
Does clusterctl have to support all the AWS cluster principals types during init? how?
Also, are the other providers implementing a similar approach than AWS, so we can design a single UX?

[2021-03-15 09:51] fabriziopandini commented on #4309
/assign @davideimola

[2021-03-15 11:14] Danil-Grigorev opened #4310 "Node object should be removed by node-lifecycle controller"
**User Story**

Cluster-api unnecessary takes care of `Node` removal. node-lifecycle-controller [code](https://github.com/kubernetes/cloud-provider/blob/master/controllers/nodelifecycle/node_lifecycle_controller.go#L121-L188) is removing nodes once the instance is terminated. This will match autoscaling pattern, and reduce clutter in the code.

**Detailed Description**

Use nodeRef for Draining/Co

[2021-03-15 11:39] fabriziopandini commented on #4310
/milestone v0.4.0

I'm not sure this is the correct behavior from Cluster API PoV.
AFAIK the node-lifecycle-controller removes nodes with a predefined frequency, and this could lead to having ghost nodes in the cluster for a certain time. I find it more clean to remove the node in Cluster API as soon during the machine deletion process.

[2021-03-15 11:44] richardcase opened #4311 "MachinePool reporting `Ready` as true if infrastructure ref isn't found"
**What steps did you take and what happened:**
I have a typo for the **infrastructureRef** on a **MachinePool** so:

1. Created a `MachinePool` using an infrastructure ref for CAPA:

[code]
2.  Due to a typo the infrastructure ref name (`wpk-mgmt01-pool-0`) is incorrect and there is no match
3. If i have a wait on the `Ready` condition of the `MachinePool` is showing ready is true:
![image](https:

[2021-03-15 12:03] randomvariable commented on #4304
Yes, we're aware, the VM did eventually reach NTP synchronisation, it just took longer than expected. We don't expect to see it very often, but it seems certificate persistence would be useful.

Note that it's not a kubeadm issue, it's KCP's client connection to etcd in https://github.com/kubernetes-sigs/cluster-api/blob/master/controlplane/kubeadm/internal/workload_cluster.go#L389

[2021-03-15 12:33] fabriziopandini commented on #3804
/area provider/docker

[2021-03-15 12:33] fabriziopandini commented on #3488
/area provider/docker

[2021-03-15 12:36] fabriziopandini commented on #3789
/area provider/docker

[2021-03-15 14:08] enxebre commented on #4310
We deliberately introduced this feature a while ago. There are scenarios where there's no necessarily a cloud provider running and the node won't be removed, e.g libvirt, baremetal... We agreed on enabling draining and deletion in capi, since we are the source of truth for deleting the infra backing a node it made sense ensure the node deletion as well.

[2021-03-15 15:52] vincepri commented on #4310
/milestone Next

@fabriziopandini This isn't a release blocking feature.

@Danil-Grigorev Wouldn't the removal be a no-op in case some other controller takes care of it?

[2021-03-15 15:55] vincepri commented on #3804
Going to close this one out given that we haven't heard similar updates for a while.

/close

[2021-03-15 15:55] #3804 closed

[2021-03-15 15:57] vincepri commented on #3057
/lifecycle frozen

[2021-03-15 16:06] vincepri commented on #4311
/assign @CecileRobertMichon @srm09
/milestone v0.4.x

[2021-03-15 17:04] vincepri commented on #3373
@scottslowe Are you still working on this issue?

[2021-03-15 17:06] vincepri commented on #3970
/priority backlog
/milestone Next

[2021-03-15 17:06] vincepri commented on #3970
@srm09 Can you follow-up upstream with the rest of the changes needeD?

[2021-03-15 17:07] srm09 commented on #4311
Was able to reproduce this issue locally with the docker machinepool as well. Looking into it.

[2021-03-15 17:08] scottslowe commented on #3373
@vincepri Yes, I am. There's a lot here, so I've been trying to figure out just how much to include/exclude. For example, should I include information on customizing the `kustomize` transformers so they are more Cluster API "aware"?

[2021-03-15 17:13] vincepri commented on #4229
@sbueringer Are you interested in having this change for v1alpha4?

[2021-03-15 17:18] srm09 commented on #4311
This happens since if we have a failure to reconcile the externalRef, the reconcile loop returns an error without setting the `InfrastructureReady` condition on the MachinePool. I expect a similar behavior for the bootstrapRef too.

Looking at other controllers, this could be the case with `Machine` objects as well.

[2021-03-15 17:40] fabriziopandini commented on #4311
This could be problematic, because we don't have any guarantee/any raccomandation in current condition spec that all the conditions should be created on an object (might be they appear sometime later in the processing, like e.g for KCP upgrades, or might be there are conditions which  appears only in case of specific topologies configurations).

instead, if there is a problem managing an external

[2021-03-15 17:51] randomvariable commented on #3734
That's a fair point, thanks.

[2021-03-15 17:52] randomvariable opened #4318 "Create library for version management and user agents"
It might be helpful here to create a library that works across all of Cluster API providers. We could require folks to use specific package variables regarding version management and whatnot. Although I'd say that might require an issue with a small proposal

_Originally posted by @vincepri in https://github.com/kubernetes-sigs/cluster-api/issues/4257#issuecomment-795840774_

[2021-03-15 17:57] vincepri commented on #4318
/retitle Create library for version management and user agents

[2021-03-15 17:58] vincepri commented on #4318
/milestone v0.4.x
/kind design

[2021-03-15 18:00] randomvariable commented on #4318
In terms of a proposal, you don't mean a full CAEP? Just within the issue?

[2021-03-15 18:01] srm09 commented on #4311
The solution you are proposing is a simple resolution and makes total sense. But since, the Ready condition is an aggregate/summation of a list of specified conditions, if one of them does not exist/or is yet top be reported, setting the condition to be Ready is a false view of the actual state of the object.

For example, in case of KCP upgrades, if the control plane is undergoing a rolling upgra

[2021-03-15 18:33] sbueringer commented on #4229
@vincepri Yes.

[2021-03-15 19:02] Danil-Grigorev commented on #4310
@vincepri Yes, it is a no-op, just was wondering if with CCM configuration in KubeadmControlPlane this behavior could be disabled for known cloud providers. It is confusing to do same job in two places, if both configurations are managed by CAPI.

@fabriziopandini this frequency could be adjusted, as that implementation is commonly used in autoscaling outside of clusterapi implementation of it. CA

[2021-03-15 19:05] vincepri commented on #4229
There is some good aspects that we could define as part of the MachineHealthCheck (maybe?) or similar struct. For example, for generic "pod readiness", we could require that a certain number of pods show up as ready before proceeding with an update.

Then there is some customizable aspect, for things that aren't generic and would need custom code to be done, which could be done with special annota

[2021-03-15 19:05] vincepri commented on #4229
Nevertheless, this effort might require a small proposal to continue, and if we're aiming for v1alpha4, it should be made non-breaking and delivered potentially in a patch release.

/milestone v0.4.x

[2021-03-15 19:09] Danil-Grigorev commented on #4310
If this implementation will be leveraged by clusterapi more, I hope there might be a possibility to move CAPI draining implementation server side for everyone (using cloud environment) - https://github.com/kubernetes/kubernetes/issues/25625#issuecomment-799627269

[2021-03-15 19:13] fabriziopandini commented on #4311
I think we should break the discussion in two part
1. this specific issue, where it seems we agree that the solution is to make InfrastructureReadyCondition or BootstrapReadyCondition to surface problems in reconciling external resources
2. how summary should work, and this IMO should be tracked as a separated issue.

For the sake of record, WRT to 2 I'm not opposed to the change in principle, but

[2021-03-15 19:21] srm09 commented on #3970
I have the changes made locally, will post a PR in a day or two. Will update the issue accordingly.

[2021-03-15 20:12] sbueringer commented on #4229
@vincepri sounds good. I'll think about it and come back with a few ideas. Just to limit the scope of the proposal a bit.

Just that I get it right. You meant specifying it as part of `MachineHealthCheck` so that those readiness criterias can be used for `MachineHealthChecks` as well as during updates? Not extending `MachineHealthChecks` *and* leveraging MachineHealthChecks during updates?

[2021-03-15 20:39] vincepri commented on #4229
Yes, and if we have some data structure that it allows us to define pod-based health checks, we could use the same to define checks in MachineDeployment and KCP -- and possibly share the codebase too :)

[2021-03-15 20:39] fabriziopandini opened #4319 "Backport use distroless for CAPD"
https://github.com/kubernetes-sigs/cluster-api/pull/4298 moved CAPD to use distress image, thus reducing the images size & the attack surface.
We should backport this on the release 0.3 branch

/kind feature

[2021-03-15 20:39] fabriziopandini commented on #4319
/milstone v0.3.x
/help
/good-first-issue

[2021-03-15 20:44] fabriziopandini opened #4320 "Backport fix version support doc"
https://github.com/kubernetes-sigs/cluster-api/pull/4301 introduced some fix to the version support doc.

We should backport these changes to the release-0.3 branch.

NOTE: this should merge only after https://github.com/kubernetes-sigs/cluster-api/pull/4292, and as much as possible near the next patch release

/kind feature

[2021-03-15 20:44] fabriziopandini commented on #4320
/milestone v0.3.x
/help
/good-first-issue

[2021-03-15 20:58] fabriziopandini opened #4321 "Block on unsupported Kubernetes version"
**User Story**

As a operator, I would like to get informed about unsupported Kubernetes versions when creating resources.

**Detailed Description**

As per https://github.com/kubernetes-sigs/cluster-api/pull/4292#discussion_r593770786

CABPK currently supports only Kubernetes versions >= v1.13, but the user does not get an error message when creating Machines/MachineDeployments/KubeadmControlPlan

[2021-03-15 20:59] fabriziopandini commented on #4321
/milestone v0.4.0
/area bootstrap
/area control plane
/priority backlog

[2021-03-15 22:59] srm09 commented on #4311
That makes sense, I will create a new issue to track the point 2 that we were discussing. As for this issue, I will move forward with setting the state of the condition for external references for MachinePools and create other issues for other controllers.

[2021-03-16 00:08] furkatgofurov7 commented on #4319
/assign

[2021-03-16 00:22] micahhausler opened #4325 "Is kube-rbac-proxy required?"
**User Story**

As a [distributor of Cluster-API] I would like to [distribute container images for CAPI] for [reasons].

**Detailed Description**

[kube-rbac-proxy](https://github.com/brancz/kube-rbac-proxy) seems like a great project, and this is not meant to imply any mistrust of @brancz or his work, but distributing a security proxy that is a developer's personal project is concerning from both

[2021-03-16 00:35] furkatgofurov7 commented on #4320
/assign

[2021-03-16 02:23] vincepri commented on #3373
Can you provide an example?

[2021-03-16 09:33] brancz commented on #4325
I don't know about cluster-api things, but FWIW I've attempted to donate kube-rbac-proxy to sig-auth, and there was interest from sig-auth to adopt it, I just don't have the time to make this happen right now. I think @s-urbaniak wanted to continue this.

[2021-03-16 14:40] s-urbaniak commented on #4325
Indeed yes, I would love to help in contributing kube-rbac-proxy to sig-auth! We use it in various places and maintain it continuously.

@micahhausler quick question: what are CAPI controllers? To answer your question: generally, kube-rbac-proxy can be used in front of any endpoint that requires authentication/authorization based on kubernetes tokens. Internally, it uses token reviews (optionally

[2021-03-16 14:47] fabriziopandini commented on #4319
/lifecycle active

[2021-03-16 14:48] fabriziopandini commented on #4320
/lifecycle active

[2021-03-16 14:55] vincepri commented on #4318
Yeah issue is fine

[2021-03-16 14:55] vincepri commented on #4318
/help
/priority important-soon

[2021-03-16 15:30] vincepri commented on #4325
Hi folks! Trying to connect this conversation to other individuals.

FWIW, we're using kube-rbac-proxy because Cluster API is a project based on Kubebuilder.

[2021-03-16 15:30] vincepri commented on #4325
/milestone Next
/area dependency

[2021-03-16 15:48] vincepri commented on #4325
@brancz Would you be able to send an email to both SIG Auth and SIG API Machinery mailing lists to ask to adopt the project under the kubernetes-sigs org? We should make it clear that this project is used in all of Kubebuilder projects, and it has so far provided great value to the community. In addition, having it under the kubernetes-sigs can have the good side effect of increasing contribution

[2021-03-16 15:50] s-urbaniak commented on #4325
@brancz willing to send out the email from my side just to offload you unless it is necessary for the original maintainer to do so.

[2021-03-16 16:00] micahhausler commented on #4325
kube-rbac-proxy seems like a great k8s-sigs addition. From assisting with other projects in the past, here are [the steps for external projects to be donated](https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-for-donated-repositories)

Can I get an answer to this original question?

[2021-03-16 16:04] s-urbaniak commented on #4325
@micahhausler yes, as mentioned above it can be used in any context where token based authentication/authorization is necessary inside the cluster. For instance, we use it (in OpenShift) as well to protect user access to the Prometheus UI, the Alertmanager UI, Thanos UI, etc. kube-rbac-proxy is dynamic in its configuration against which resources you want to have protection against and we plan to

[2021-03-16 16:18] scottslowe commented on #3373
For example, without customizing the NameReference transformer then the use of the namePrefix and nameSuffix directives won't work properly; the `metadata.name` field will get updated, but fields like the `spec.infrastructureRef.name` field of an AWSCluster object won't get updated. You then end up with a broken manifest.

This blog post I wrote has some additional information: https://blog.scottl

[2021-03-16 16:35] micahhausler commented on #4325
Not quite. I understand how it works in the general sense, but I'm asking _specifically_ about cluster-api. Are there non-metrics endpoints being protected, or is it exclusively used for metrics protection?

[2021-03-16 16:58] alexander-demichev commented on #4271
/close
Fixed in https://github.com/kubernetes-sigs/cluster-api/pull/4312

[2021-03-16 16:58] #4271 closed

[2021-03-16 17:22] fabriziopandini commented on #4319
/milestone v0.3.x
/close
given the PR merged

[2021-03-16 17:22] #4319 closed

[2021-03-16 17:25] fabriziopandini commented on #4320
/close
the corresponding PR merged

[2021-03-16 17:25] #4320 closed

[2021-03-16 17:41] s-urbaniak commented on #4325
Ah sorry, I am not involved in cluster-api, so maybe others can chime in.

[2021-03-16 17:44] vincepri commented on #4325
@micahhausler I don't think so, but we need to double check. This might warrant a little poc to see what would break.

[2021-03-16 18:12] brancz commented on #4325
I'm not much involved in kube-rbac-proxy at the moment, but @s-urbaniak has full ownership on the repo so I'm happy with him taking the lead on the donation of it to sig-auth.

[2021-03-17 02:53] teoyaomiqui opened #4334 "Timeout for clusterctl"
**User Story**

As a user of clusterctl client or cli utility, it would greatly benefit me if I could specify a timeout when getting kubeconfig for the cluster:
[code]
or
[code]

.

**Detailed Description**

The current timeout is 300 seconds. If the management cluster is not reachable, clusterctl will fail after 10 retries to reach the cluster with a 30-second timeout per each try ( controller-ru

[2021-03-17 04:29] sgirem463 commented on #4258
/assign @sgirem463

[2021-03-17 04:47] sgirem463 commented on #4258
@CecileRobertMichon I am a new contributor trying to find an open issue to work on. This issue is unassigned but seems #4262 will fix it. Two questions:
1. Is it a common practice to open a new PR when fixing an issue (like #4262 was opened to fix this #4258)
2. What is a reliable way to find unassigned issues to work on?

Thanks!

[2021-03-17 08:50] sgirem463 commented on #4026
@fabriziopandini Hi, I am a new contributor, would like to work on this. Would appreciate your suggestions/pointers.

[2021-03-17 09:36] sgirem463 commented on #4026
/assign @sgirem463

[2021-03-17 14:55] dthorsen commented on #4063
@CecileRobertMichon @devigned @h0tbird  To this end, we have added an `externallyManagedReplicaCount` field to the MachinePool spec and we are currently testing this in our development environments. Infrastructure providers could use this field to determine which mode they are running in, CAPI controlled replicas or externally-controlled replicas. We will PR this soon.

[2021-03-17 15:00] vincepri commented on #4063
@dthorsen The logic explained above makes sense, although I'd ask for a small amendment to the MachinePool proposal that describes the field in more details.

[2021-03-17 15:02] vincepri commented on #4334
Hi @teoyaomiqui, thanks for the report! +1 from my side to have a configurable timeout and flag for this command. Would you be able to work on it?

/milestone v0.4.x

[2021-03-17 15:03] teoyaomiqui commented on #4334
Sure, I can do this.

[2021-03-17 15:13] vincepri commented on #4334
/assign @teoyaomiqui
/lifecycle active

[2021-03-17 15:43] fabriziopandini commented on #3042
Linking https://github.com/kubernetes-sigs/cluster-api/issues/4035 because it touches changing credentials during pivoting

[2021-03-17 15:54] srm09 opened #4336 "Change in the contract for Summary condition"
**User Story**
This issue is in regards to [this discussion](https://github.com/kubernetes-sigs/cluster-api/issues/4311#issuecomment-799596262).

As a developer/user/operator, I would like to see the ReadyCondition be false if one of the child conditions is not present for some reason

**Detailed Description**
Since the `ReadyCondition` is a summary of a bunch of child conditions, a missing condit

[2021-03-17 16:32] CecileRobertMichon commented on #4258
Hi @sgirem463 and welcome! Usually, you want to comment "`/assign`" on an issue you are planning on working on so others know that are already working on it. In this case, it was likely an oversight, I think @mabikash is also a new contributor 🙂

@mabikash, can you please comment `/assign` below so others know you are already working on this?

What you did, looking for issues labeled "help-wanted"

[2021-03-17 16:49] mabikash commented on #4258
/assign

[2021-03-17 17:06] randomvariable commented on #4325
I'm fairly confident that it's only being used for metrics.

[2021-03-17 17:38] MarcelMue opened #4337 "Allow creation time configuration of metadata for kubeadm controlplane machines"
**User Story**

As a user I would like to apply labels to controlplane machines at creation time for easier usability

**Detailed Description**

It is currently not possible to influence the labels and annotations set on machines created for a controlplane. This includes the machine, provider machine and bootstrap configuration. This is currently possible for machines created from MachineDeploymen

[2021-03-17 19:10] srm09 commented on #4336
@fabriziopandini also suggested the same, that we be mindful of the effect that this might have on other systems used by CAPI and providers. I will add some examples here.

[2021-03-17 19:21] srm09 commented on #4336
Taking the example for the **MachinePool** controller,
it calculates the `Ready` Condition by checking the state of the child conditions:
[code]
If any of the conditions does not exist, maybe the MachinePool hasn't been reconciled yet, or could not be found (#4311), the Ready Condition would be set to `true` which does not correctly account for all the pre-requisites for a MachinePool to be ready/

[2021-03-17 19:32] fabriziopandini commented on #4336
Another use cases to keep into the radar:
- Conditions that are added only at later stages of the object lifecycle (e.g. Bootstrapping on the Docker machine)

[2021-03-17 19:34] srm09 commented on #4336
The advantages of this approach are:
- The controller always takes into account the necessary pre-requisites before surfacing the Ready condition on the object.
- All scenarios wherein an external ref is incorrect/missing, will automatically be handled, rather than defensively coding it in the controller logic.

[2021-03-17 19:46] srm09 commented on #4336
To make this change non-intrusive, we could start with a design where the conditional associated with each condition is optional. If a condition is necessary, the controllers (CAPI or providers) would need to opt-in to mark the presence of a child condition as mandatory.
Post the rollout (with maybe a grace period), we could switch the default behavior from opt-in to opt out, thus making the behav

[2021-03-17 19:49] fabriziopandini commented on #4336
From the other side, handling this problem in the controller provides much more control and allows to surface to the user detailed info about the underlying problem: e.g. ref XYZ is incorrect/ref XYZ is missing, etc.

Instead changing the summary logic provides a generic solution, and most probably it will be really difficult or impossible to provide to the user the same level of information about

[2021-03-17 19:55] fabriziopandini commented on #4337
@MarcelMue there's is already https://github.com/kubernetes-sigs/cluster-api/issues/493 with a lot on context/discussion about labels.
What about merging this thread there?

[2021-03-17 21:19] #4269 closed

[2021-03-17 23:05] invidian opened #4338 "/usr/local/bin/runner.sh: line 104: ./scripts/ci-verify.sh: Permission denied"
**What steps did you take and what happened:**
It seems CI is broken, as the script has no executable bit set.

**What did you expect to happen:**
CI to work.

**Anything else you would like to add:**

This sort of issues are embarrassing, why this broke?

**Environment:**

- Cluster-api version:c08044671

/kind bug
[One or more /area label. See https://github.com/kubernetes-sigs/cluster-api/label

[2021-03-18 09:33] fabriziopandini commented on #4026
What about adding a note in https://cluster-api.sigs.k8s.io/tasks/kubeadm-control-plane.html#kubeconfig-management. Something like
[code]

[2021-03-18 10:03] fabriziopandini commented on #3373
I think that we can present this by use cases/ complexity:
- Basic
  - Use kustomize to build templates variant (assembling together different templates bits but without applying transformation, something like what we are doing for E2E test)
- Advanced
  - Make name prefix/suffix customisable

This has the advantage that we can start by few use cases and then add more in incrementa follow ups

[2021-03-18 10:12] fabriziopandini commented on #4338
/milestone v0.4.0
/area testing

[2021-03-18 10:13] #4338 closed

[2021-03-18 11:44] randomvariable commented on #3042
For init, other than installing the CRDs, no.
For move, ideally clusterctl should move AWS*Principal resources, including the global ones.

However in the most common case, we only expect the management cluster to be moved, and in that case, will use a singleton `AWSClusterControllerPrincipal` which is a no-op type of principal that just states the cluster is using the credentials present at contr

[2021-03-18 15:06] vincepri commented on #4184
This should be fixed now on main, can you all run some tests and report if you have any issues?

[2021-03-18 16:25] #4309 closed

[2021-03-18 16:45] nader-ziada commented on #3042
For capz,
no changes needed for init
no changes need for move;  the `AzureClusterIdentity` type gets moved since its a capz resource and we decided at the time the referenced `identity` itself should be the responsibility of the user to move/create in the new namespace since its out of the scope of the controller

[2021-03-19 09:32] smcaine opened #4341 "KCP observedGeneration version does not get updated after upgrade"
**What steps did you take and what happened:**

When deploying CAPI/CAPV the KubeadmControlPlane `metadata.generation` gets updated to new version but the `status.observedGeneration` does not. It stays on version 1..

This means it cannot be compatible with something like kstatus, which relies on the conditions status but also to make sure these are in synch, see docs (https://pkg.go.dev/sigs.k8s.

[2021-03-19 09:36] ludusrusso commented on #2389
Hi @evalsocket! Are you still working on this? If not i'd like to give a try to this!

[2021-03-19 11:28] fabriziopandini commented on #2389
@ludusrusso thanks for volunteering for this work!

/unassing  @evalsocket
/assign @ludusrusso
/lifecycle active

[2021-03-19 13:01] invidian commented on #4184
I've run unit tests several times now. I found some other flakes, but this one seems to be fine now. Cool!

[2021-03-19 13:34] invidian opened #4342 "Controllers test suite is very flaky"
**What steps did you take and what happened:**
1. Run `while make test TEST_ARGS='-count 1' ; do sleep 1; done`
2. Tests fails with various errors.

**What did you expect to happen:**
Tests are passing.

**Anything else you would like to add:**

Sometimes, test fails with concurrent map writes. Running `make test TEST_ARGS=-race` throws a lot of warnings with `WARNING: DATA RACE`. I think some (or

[2021-03-19 15:08] fabriziopandini commented on #4184
/close
as per comment above

[2021-03-19 15:08] #4184 closed

[2021-03-19 15:14] vincepri commented on #4342
@invidian Thanks for the report. The race condition is a bug we've identified in Controller Runtime and its usage of the client-go libraries, it needs to be investigated a bit more but we've made some progress there in the right direction.

Regarding timeouts and such, it could be a number of things. Up until recently I've noticed (in #4308) that we were not waiting for webhooks to be fully up bef

[2021-03-19 15:16] vincepri commented on #4337
@fabriziopandini This issue is a bit different, there is no way today to specify Machine labels when KCP creates its control plane machines.

[2021-03-19 15:16] vincepri commented on #4337
/milestone v0.4.x

[2021-03-19 16:36] #4311 closed

[2021-03-19 17:36] fabriziopandini commented on #4341
/priority critical-urgent
/milestone v0.4.0

From a quick check, we are not passing the `patch.WithStatusObservedGeneration{}` to `patchHelper.Patch` in https://github.com/kubernetes-sigs/cluster-api/blob/4e9f9e399e801e249fa54202ee1851792409f46a/controlplane/kubeadm/controllers/controller.go#L227

/help
/good-first-issue

[2021-03-19 17:37] davideimola commented on #4341
/assign
/lifecycle active

[2021-03-19 18:16] invidian commented on #4342
I'm doing some tests now on a beefy dedicated machine to make sure those are not caused by the CPU starvation. I was able to reproduce all of them except `TestMachineHealthCheck_Reconcile/it_doesn't_mark_anything_unhealthy_when_all_Machines_are_healthy`, so this one was perhaps caused by CPU limits.

I also hit the following twice:
[code]

[2021-03-19 18:29] srm09 commented on #4336
To make the experience better, we should handle both the cases.
- If a controller detects a missing/incorrect ref, it should handle it in the reconcile loop
- While calculating the `ReadyCondition` if a necessary condition is missing, the summary should reflect that.

This way, we are making sure that the Ready Condition can be reliably used to check the status of the object.

[2021-03-20 03:06] su225 commented on #4341
I'm getting my feet wet and do you mind if I try fixing the issue?

[2021-03-20 09:21] ludusrusso commented on #2389
Hi!
This is a WIP repo to test the formula. Once stable, I'll submit a PR to homebrew main repository.

## Ho to use?
[code]

This will install the `clusterctl` command line tool!

[![asciicast](https://asciinema.org/a/FsQS1Qe15joK86cycIJMiP1Z6.svg)](https://asciinema.org/a/FsQS1Qe15joK86cycIJMiP1Z6)

Any feedback?

[2021-03-20 09:55] stmcginnis commented on #2389
Very cool @ludusrusso!

Looks like this builds from source right now. I think we would eventually want it to actually install the [official released version asset](https://github.com/kubernetes-sigs/cluster-api/releases/tag/v0.3.14), right?

[2021-03-20 10:15] ludusrusso commented on #2389
Hi @stmcginnis tnx for feedback.
That's right, but what we need to create is a ["bottle" in brew](https://docs.brew.sh/Bottles), that is a "prebuild" version of the formula for a specific target.

This is the first time I try to build an homebrew formula, but I'm not sure it is possible to automatically link this bottle to official prebuild assets.

I need to investigate more :D

[2021-03-20 11:09] ludusrusso commented on #2389
Got it.
Bottles are [automatically created](https://docs.brew.sh/Bottles) once we submit the formula to homebrew core repo.

So we do not need to do nothing about this.

If it's ok for you, I can open a PR to Homebrew core with this formula. What do you think?

[2021-03-21 02:45] relyt0925 opened #4344 "Add support for OnDelete update strategy to MachineDeployments"
Workflow I'm looking to enable:

As a user: I would like to be able to fully control the rollout to a new MachineSet after an update to my MachineDeployment (let's use the case of rolling a VM image update for example).

The basic situation I'm interested is after an update: I would like to have a behavior where I trigger the "replacement" of an existing node by deleting the machine object (kubect

[2021-03-21 03:19] relyt0925 commented on #4344
The key idea here is it would allow a workflow where users get to select the machines they want to trigger to upgrade with the specific deletion request versus in the current approach it automatically goes at the scheduled rate and moves on to more nodes once conditions are met. I'm thinking of situations where a user might want to do extra verification of a node joining the cluster (more than it

[2021-03-21 04:48] relyt0925 commented on #4344
The flow can be executed: the main two things that seem hacky

1) You have to use a rollingUpdate strategy with a negative number in order to prevent the machineDeploymentController from automating the entire process

2) It would be nice if the machinedeployment controller could handle updating the replica counts of the older downstream machineSet instead of also having to fetch the current count

[2021-03-21 09:08] ludusrusso commented on #2389
Homebrew/homebrew-core/pull/73610 :D

[2021-03-21 10:04] davideimola commented on #2389
Tried and lgtm to me! I think we can close this issue, the PR has been merged already in the homebrew repository.

[2021-03-21 10:46] ludusrusso commented on #2389
I prepared a WIP PR #4345 that updates docs!

[2021-03-21 15:38] stmcginnis commented on #4185
I just tested this locally and am no longer able to reproduce the issue.

macOS 10.15.7
go version: 1.15.7 (oops, time to upgrade)
Clone repo outside of `$GOPATH`.
Only noticed changes within `$GOPATH` were under `~/go/pkg`.
Observed files in repo being modified while the make target was running via `git status`.

I'm guessing this was fixed upstream and this particular issue can be closed now.

[2021-03-21 17:03] fmuyassarov commented on #4185
Hum, in my case the issue still persists. Just cloned the CAPI outside of the GOPATH and ran `make generate`, and still seeing

[code]

[2021-03-21 17:24] relyt0925 commented on #4344
I put a prototype of an implementation of this in the following pr:
https://github.com/kubernetes-sigs/cluster-api/pull/4346/files

If that is something that looks like the community will accept I can handle cleaning it up further and getting it ready for acceptance. I wanted to just get a bare bones example for initial consideration.

[2021-03-21 17:28] vincepri commented on #4344
@relyt0925 Hi! Thanks for the report. I can answer and dig more into this request more tomorrow, but just wanted to throw out there that there is a delete-me annotation that can be used to give priority to some Machines in a MachineSet.

[2021-03-21 17:39] relyt0925 commented on #4344
Thank you so much for your response @vincepri ! Hope you have a wonderful rest of your weekend.

I am aware of that annotation as well and you are correct there are ways to implement workarounds to support this today it just results in a lot more out of band API calls that have to be made that can have race conditions with the base controllers deployed in cluster-api. You effectively have to do a

[2021-03-21 18:06] invidian commented on #4185
Maybe we should create a reproducible case in Docker to be able to verify it.

[2021-03-21 20:02] stmcginnis commented on #4185
Looks like I may have been able to reproduce this. At first I thought it may be a difference between go1.15 and go1.16, but I've tried both versions with consistent results.

The difference I do see is running on macOS vs Linux. On the Mac, everything works fine and the files are updated in place as expected. On Linux, the files are deleted from the local repo and create under `$GOPATH/src`.

I ca

[2021-03-21 20:12] stmcginnis commented on #4185
In case it helps anyone needing to reproduce this, I was able to do so on my Mac by doing the following:

[code]

Or I'm sure you could mount the repo into the container and run from there.

[2021-03-22 07:50] ludusrusso commented on #2389
[The formula](https://github.com/Homebrew/homebrew-core/blob/master/Formula/cluster-api.rb) has been merged in homebrew core.

I think that, before closing, we need to find a way to automatically push a new formula on new releases!

[2021-03-22 07:57] ludusrusso commented on #2389
To bump the formula, they suggest to use [this github actions](https://github.com/marketplace/actions/homebrew-bump-formula)!

[2021-03-22 09:39] fabriziopandini commented on #2389
@ludusrusso great work!
is it possibile to setup things in order to have `brew install clusterctl` instead of `brew install cluster-api` (clusterctl stands to cluster-api more or less like kubectl stands to Kubernetes) ? Also, current release is v0.3.15...

WRT to the automation let me loop in
@BenTheElder, (might be he can help us in doing something similar to what kind is already doing)
@vincepr

[2021-03-22 09:52] ludusrusso commented on #2389
Yes, it should be possible! I'd like to do as kubectl, they have a [kubernetes-cli](https://github.com/Homebrew/homebrew-core/blob/master/Formula/kubernetes-cli.rb) formula, but I still have to investigate how they enable `brew install kubectl`!

Regarding version, I see 0.3.14 :D

![Schermata 2021-03-22 alle 10 52 25](https://user-images.githubusercontent.com/8146506/111971495-b2239480-8afc-11eb-

[2021-03-22 09:58] ludusrusso commented on #2389
Thanks!

[2021-03-22 10:37] fabriziopandini commented on #2389
I don't think we should keep `brew install cluster-api`, because installing cluster-api mean to install controllers/providers into a cluster, and the formula is not doing this (in fact clusterctl is the tool that install cluster-api).
but I leave the last work to @vincepri, who authored the issue in the first stance.
wrt to the version, you are right, I got confused 😉

[2021-03-22 10:42] ludusrusso commented on #2389
Ok! Got it!
So we have two options here:
1.  like kubectl, add a formula named `clusterapi-cli` with an alias `clusterctl`, or
2. just a formula named `clusterctl`

@vincepri what do you think?

[2021-03-22 10:50] fabriziopandini commented on #3693
/lifecycle frozen

[2021-03-22 12:39] lubronzhan commented on #1657
Hi @vincepri , should the controller also update the `status.conditions.InfrastructureReady` as well? I run into a strange situation when deleting a cluster. I have a finalizer that blocks deleting. And a controller should remove that finalizer if cluster is in `Ready` state, however I checked the cluster status, the cluster status is `Infrastructure Ready:  true`, but inside `status.conditions`,

[2021-03-22 13:44] fabriziopandini commented on #4344
/milestone v0.4.0
given that there is already a PR in flight

[2021-03-22 13:45] fabriziopandini commented on #4336
/milestone v0.4.0
we can eventually reconsider later if there is no agreement

[2021-03-22 14:42] stmcginnis commented on #4185
OK, I think I've got it sorted. Turns out the differences I was seeing in OS's was just a red herring.

The `conversion-gen` command we use has an optional arg of `--output-base`. From the help description of that arg:

[code]

So where the files are generated can change depend on whether or not GOPATH is set and where it points to. If you do not have GOPATH set, then the files are generated where

[2021-03-22 15:12] relyt0925 commented on #4344
Hi @vincepri : I'm guessing this means y'all will consider it? A big thank you if so!!!!!! I can work on cleaning it up with proper logging/etc.

[2021-03-22 15:16] vincepri commented on #4344
I think the reasoning above makes sense, I haven't looked at the linked PR yet, but I'd also ask to have some documentation attached to it, and to check if we need to change or update any of the current controller diagrams

[2021-03-22 15:40] fabriziopandini commented on #4185
/lifecycle active

[2021-03-22 15:52] vincepri commented on #1657
Hi @lubronzhan, we usually don't use closed issues. Could you please open a new one with the context above?

[2021-03-22 16:13] #2062 closed

[2021-03-22 16:20] relyt0925 commented on #4344
you got it sir!

[2021-03-22 16:38] BenTheElder commented on #2389
@cblecker wrote the KIND homebrew formula. I just answered a few questions (we were live at KubeCon then!), I don't know much around it.

[2021-03-22 17:17] CecileRobertMichon commented on #4321
Is this a duplicate of https://github.com/kubernetes-sigs/cluster-api/issues/3697 ?

[2021-03-22 17:18] CecileRobertMichon commented on #4057
@yastij are you still working on this? Do you think it's feasible to get it in before v0.4.0?

[2021-03-22 17:23] vincepri commented on #2389
@ludusrusso I'd say `brew install clusterctl` is simpler to understand. We should also start to support versions once we release v0.4, so folks can run `brew install clusterctl@0.3` for example later and get the older version.

[2021-03-22 17:24] CecileRobertMichon commented on #3424
/unassign
I'm not actively working on this

@nprokopic you had expressed interest in keeping back compat for MachinePool in office hours if I recall correctly.
Also cc @dthorsen since I know your team uses MachinePools.

This change is going to be breaking so we need to get it in before v0.4.0 I believe. Anyone interested in working on this?

[2021-03-22 17:30] ludusrusso commented on #2389
Version stuff is already handled by homebrew for what I'm understand. We only need to submit a new PR with a new version once released (I'd like to automate this stuff but I need some help as discussed here: https://github.com/kubernetes-sigs/cluster-api/issues/2389#issuecomment-803849044

[2021-03-22 17:30] ludusrusso commented on #2389
Ok for `brew install clusterctl`!

[2021-03-22 17:36] davideimola commented on #2389
I think we can use the `secret.GITHUB_TOKEN` to have the automation. This type of token is automatically handled by GitHub while performing an action.

FYI [GitHub docs](https://docs.github.com/en/actions/reference/authentication-in-a-workflow)

[2021-03-22 18:12] ludusrusso commented on #2389
New PR for renaming the formula Homebrew/homebrew-core/pull/73675

[2021-03-22 18:33] vincepri opened #4352 "Use clusterapi.io as API Group"
As we're discussing approaching v1.0 (see #4351), it'd be great to use a proper domain for all of our API groups. I just opened an issue today https://github.com/kubernetes/k8s.io/issues/1815 to donate `clusterapi.io` to the CNCF, which could then be used for our APIs, documentation, book, references, etc.

For a change like this, we'd need to have a clear migration plan from the current groups. @

[2021-03-22 18:33] vincepri commented on #4352
/milestone Next

[2021-03-22 18:34] vincepri commented on #4344
/retitle Add support for OnDelete update strategy to MachineDeployments

[2021-03-22 19:41] ludusrusso commented on #2389
Merged! Now you should be able to install with `brew install clusterctl`

[2021-03-22 20:29] davideimola commented on #2389
It works!

[2021-03-22 21:25] vincepri commented on #4246
/milestone v0.4.x

[2021-03-22 23:19] vincepri commented on #4337
/label release-blocking

[2021-03-22 23:21] CecileRobertMichon commented on #4337
/release-blocking

[2021-03-23 01:02] lubronzhan commented on #1657
Yeah sure thanks

[2021-03-23 02:13] relyt0925 commented on #4344
Updated the MachineDeployment flow chart (not the png file just the PlantUML file) to outline the control flow diagram for this path as well.

[2021-03-23 02:49] #3837 closed

[2021-03-23 03:21] vincepri commented on #3837
I saw this issue closed, but there were lots of +1s from folks. If anyone is able to work on it, please feel free to reopen.

[2021-03-23 10:05] fabriziopandini commented on #4246
@alexander-demichev @MarcelMue  I guess that almost all this work is completed now.
Could you kind kindly check and eventually close this issue?

[2021-03-23 10:10] fabriziopandini commented on #4321
#3697 is about semantic validation of the version
This is issue is about the fact the CABPK supports only a subset of Kubernetes versions ( >= v1.13)

[2021-03-23 10:19] #3401 closed

[2021-03-23 10:25] MarcelMue commented on #4246
One of the things we decided to keep open right now is tilt setup - neither of us use tilt, so we would like to implement when we actually need / use it.

[2021-03-23 10:29] ludusrusso commented on #2389
It should also be available on linux now! https://github.com/Homebrew/linuxbrew-core/blob/master/Formula/clusterctl.rb

[2021-03-23 11:24] davideimola commented on #2389
@ludusrusso it works on Linux too :smile:

[2021-03-23 16:55] randomvariable commented on #2217
/retitle Windows Support: NetBIOS and Active Directory LDAP SAMAccountName restrictions on Hostname

[2021-03-23 17:20] JocelynBerrendonner commented on #2217
@randomvariable, it may be worth noting that SAMAccountName is a name is used to support legacy versions of Windows (Windows NT4, Windows 95, Windows 98, ...: https://docs.microsoft.com/en-us/windows/win32/ad/naming-properties#samaccountname) I believe Windows 2000 and up don't require it.

[2021-03-23 17:25] #4275 closed

[2021-03-23 17:43] ludusrusso opened #4356 "Homebrew formula update automation when new release is submitted"
This follows #2389

We have a working formula on Homebrew but we need to auto update the formula with new release.
They provide a simple [Github action](https://github.com/marketplace/actions/homebrew-bump-formula) to do this but we need to generate a Personal Access Token to handle that:

I can work on the action but need help to generate token!

/kind feature
/help
/assign
/lifecycle active

cc

[2021-03-23 17:45] vincepri commented on #4356
I can setup the access token once we have a PR merged for the formula in place

[2021-03-23 17:45] vincepri commented on #4356
/milestone v0.4

[2021-03-23 18:01] akutz commented on #2217
I worked with AD and LDAP for years, and I can say that [`SAMAccountName`](https://docs.microsoft.com/en-us/windows/win32/adschema/a-samaccountname) is still very much used by multiple applications, especially those that sync directory data into or out of AD. Windows is notorious for backwards compatibility.

Time for Andrew's pedantic point of the day -- _technically_ `SAMAccountName` is not part

[2021-03-23 18:15] JocelynBerrendonner commented on #2217
Absolutely, legacy apps and legacy Windows versions (Windows 9x, Windows NT) are limited by 15 characters names. That said, it is still possible to use >15 characters names with current versions of Windows (granted, this comes with a boat load of limitations).
I think it makes sense to have some limitations for the Windows names for the many cases where the applications are limited to 15 character

[2021-03-23 18:21] akutz commented on #2217
Hi @JocelynBerrendonner,

I have not been part of this thread from the beginning, so I apologize if this next set of questions have been asked and answered (I searched for the word `hash` and did not see it):

* Does the value inside `SAMAccountName` need to be visually friendly?
* Does the value inside `SAMAccountName` need to be the same as machine name?
* Could the value inside `SAMAccountName`

[2021-03-23 18:29] JocelynBerrendonner commented on #2217
@akutz : to be honest I am not a an LDAP/SAMAccountName expert, so I'd have to ask the experts to find the answer to your questions. That said, typically, when people want to make sure their long (>15 characters) names work well with legacy apps and make sure they are not colliding with anything on the network, they just make sure the first 15 characters are unique on the network. I've seen that a

[2021-03-23 18:33] yastij commented on #4057
this fell from my radar, this should be an easy one. I'll open a PR tomorrow

[2021-03-23 20:32] #4185 closed

[2021-03-23 20:34] akutz commented on #2217
One way to do this would be to take the existing machine name, ex. `workload-cluster-2-md-0-5f77f47487-2c4sq` and:

1. Generate an adler32 checksum from the machine name, ex. `1fde0cd1`
2. Concatenate the machine name's first six characters and last five characters, ex. `worklo2c4sq `
3. Concatenate the values from steps one and two, using a `-` character as a separator, ex. `worklo2c4sq-1fde0cd1`

[2021-03-23 21:06] ludusrusso commented on #2389
@dawidd6 can you help me to understand how to manage version? I've investigated and what I think that what I say here is not true. If I've got it correcly, homebrew allow you tu install only the current release in the formula, is it right?

[2021-03-23 22:31] dawidd6 commented on #2389
If you plan to support let's say release `v0.3`, i.e. provide patch updates (like `v0.3.1` and so on) for an extended period of time, then we will accept a new formula based on the default one (`clusterctl`), but this time it would be versioned (`clusterctl@0.3`).

For an example you can look up how `ansible` formula is versioned (they provide patch updates to their releases).

[2021-03-23 22:36] vincepri opened #4358 "clusterv1.ObjectMeta should only expose labels and annotations"
The ObjectMeta type (see https://github.com/kubernetes-sigs/cluster-api/blob/5cd1132aa75f6358d66cf977164ace68ec87efe0/api/v1alpha4/common_types.go#L131) currently exposes a lot more fields that are actually used within our controllers.

In an effort to simplify, I'd like to prose we trim it down to the minimum necessary (labels and annotations).

/kind feature
/kind api-change
/milestone v0.4

[2021-03-23 23:28] Insullone opened #4359 "How to add alternative source for cluster template with Cluster API test framework?"
I am trying to setup e2e tests following Cluster api book [3.4 Developing E2E test](https://cluster-api.sigs.k8s.io/developer/e2e.html). I encountered a problem that I cannot find a way to add alternative source for cluster template with [CAPI e2e testing framework](https://pkg.go.dev/sigs.k8s.io/cluster-api/test/framework). Specifically, I want to do the same thing as the '--from' option in 'clus

[2021-03-23 23:52] CecileRobertMichon commented on #4359
This is how we do it in CAPZ:
Define the template files here: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/test/e2e/config/azure-dev.yaml#L54
Then use the templates as flavors: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/test/e2e/azure_test.go#L227

[2021-03-23 23:57] CecileRobertMichon opened #4361 "MHC E2E tests are failing"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api#capi-e2e-main has been failing since March 11th with:

[code]

possibly related to https://github.com/kubernetes-sigs/cluster-api/pull/3752

CAPZ tests (using nightly CAPI build) are also failing https://testgrid.k8s.io/sig-cluster

[2021-03-23 23:58] CecileRobertMichon commented on #4361
/assign @nader-ziada
/kind failing-test

[2021-03-23 23:59] CecileRobertMichon commented on #4361
[code]

[2021-03-23 23:59] vincepri commented on #4361
/milestone v0.4

[2021-03-24 00:00] vincepri commented on #4361
Thanks @CecileRobertMichon for being on top of this! 💯
And thanks @nader-ziada for looking into it 😊

[2021-03-24 02:35] lubronzhan opened #4364 "'conditions.InfrastructureReady' doesn't match 'status.Infrastructure Ready' during cluster deletion"
**What steps did you take and what happened:**
Hard to reproduce, when deleting 200 clusters, only 4 of them ran into this issue.

When deleting cluster, I have a finalizer on the cluster that blocks deleting. And a controller should remove that finalizer if cluster is in `conditions.Ready = true` state, however I checked the cluster status, even though the cluster status is `Infrastructure Ready:

[2021-03-24 02:55] Insullone commented on #4359
@CecileRobertMichon Thanks! It works, but I just saw a new issue that we had 3 yaml files containing kinds for cluster, controlplane and worker separately. So I need to add 3 files, but the flavor seems to support one yaml file only. Can we support adding 3 yaml files with CAPI e2e testing framework? or I have to merge them first?

[2021-03-24 09:45] fabriziopandini commented on #2389
/close
given that the formula is in place and the formula upgrade work is tracked in https://github.com/kubernetes-sigs/cluster-api/issues/4356

[2021-03-24 09:45] #2389 closed

[2021-03-24 10:03] fabriziopandini commented on #4359
/kind support
/area testing

@Insullone you add a many test file as you want, see e.g
https://github.com/kubernetes-sigs/cluster-api/blob/5cd1132aa75f6358d66cf977164ace68ec87efe0/test/e2e/config/docker.yaml#L74-L82

[2021-03-24 10:22] fabriziopandini commented on #4364
/remove-kind bug
/kind support

@lubronzhan
AFAIK there are no guarantees that  `Status.InfrastructureReady` and `status.conditions.InfrastructureReady` should match.

Conditions are used to report the operational state of the cluster, and with this in mind `status.conditions.InfrastructureReady` reports InfrastructureReady reports the fact that the cluster is deleting as soon as Cluster deletion

[2021-03-24 10:45] maelk opened #4365 "Incorrect etcd members remediation in KCP after controller failure."
**What steps did you take and what happened:**
A control plane machine was marked as unhealthy for remediation. KCP started to process it and removed the etcd member associated and removed the machine from the kubeadm configmap. For a reason that is not completely clear yet, the machine deletion did not happen and the KCP controller got restarted at that point. The new instance then refuses to rem

[2021-03-24 11:08] fabriziopandini commented on #4365
@maelk I would like to understand in the first instance why the machine di not get deleted and KCP restarted.

KCP tries to figure out the target etcd cluster, and this logic should already ignore the machine being deleted.
However, it seems to not work in this case, but without logs/additional info it is really difficult to understand why and or propose fixes..

[2021-03-24 11:15] maelk commented on #4365
I'm looking into why it failed in the first place. If I find the reason and it is a bug, I will open another issue. But I think it should not matter for the next round of reconciliation. We always hit this : https://github.com/kubernetes-sigs/cluster-api/blob/master/controlplane/kubeadm/controllers/remediation.go#L113 . I will reproduce the error and fetch the logs. There was however nothing more

[2021-03-24 11:34] maelk commented on #4365
While I fetch the logs, would you mind explaining the logic you mention ? By reading the code, I can see that the number of members is checked, without even considering that the machine's member might have already been removed : https://github.com/kubernetes-sigs/cluster-api/blob/5cd1132aa75f6358d66cf977164ace68ec87efe0/controlplane/kubeadm/controllers/remediation.go#L197 . That check is always ru

[2021-03-24 13:24] fabriziopandini commented on #4365
This was one of the assumption in CAEP, because as stated by the etcd documentation with less than 3 member are providing 0 as a tolerance.

Of course there are rooms of improvements, assuming we can find a situation where it we are 100% sure to preserve the operational state of the cluster.

This is potentially one of those case; in fact from a quick look at the code we are already tolerating fai

[2021-03-24 13:42] maelk commented on #4365
Since we have the list of members, we could verify that the machine we are remediating is not in the list of members, or, if it is, that we have at least 3 members, and go further with the checks. Do you think it would be enough as a check, or would it not be sufficient to ensure the resiliency ?

[2021-03-24 15:03] fabriziopandini commented on #4365
I'm not sure that skipping the evaluation of etcd state when the machine we are remediating is not in the list of current members is a good idea.

If we proceed with the remediation without checking the etcd state in the case of "machine member already removed", the the machine will be deleted and a new one will be added joining an etcd member on a cluster which we are not sure is in a fully opera

[2021-03-24 15:21] ludusrusso opened #4370 "Support multiple versions releases in Homebrew"
Following discussion in #2389

If you plan to support let's say release `v0.3`, i.e. provide patch updates (like `v0.3.1` and so on) for an extended period of time, then we will accept a new formula based on the default one (`clusterctl`), but this time it would be versioned (`clusterctl@0.3`).

For an example you can look up how `ansible` formula is versioned (they provide patch updates to their

[2021-03-24 15:22] ludusrusso commented on #4370
@vincepri @fabriziopandini do we need this?

[2021-03-24 15:23] randomvariable commented on #2217
I guess we need to check the Win32 Domain Join function and how it relates to machine name. I'm pretty sure SAMAccountName can be provided upon join, but not sure if the API then changes the hostname, which  we'll then run into the cloud provider issues.

[2021-03-24 15:30] vincepri commented on #4370
We definitely do. Once we release v0.4.0, we should make sure the action can take care of bumping the right version formula

[2021-03-24 15:42] #4057 closed

[2021-03-24 16:01] ludusrusso commented on #4370
Ok! So we can submit a "latest" formula, that is the one that I've created, and for each "0.x" release we need to submit a "clusterapi@0.x" formula to handle the release.

I think that the simpler way to handle this would be to manually create the formula when we have a "0.x" release on homebrew, and create here a github action for each formula to handle patch release update automation that match

[2021-03-24 16:29] fabriziopandini commented on #4370
TBH I'm +1 to keep things simple and have only a single brew formula that install latest.

If instead we want to have additional formulas, allowing to install latest from different branches, I personally would avoid the custom GitHub action and instead create a document describing required steps for creating the formula/the GitHub action.

The users can always use other methods for getting older/s

[2021-03-24 16:29] fabriziopandini commented on #4370
/area clusterctl
/kind feature
/milestone v0.4

[2021-03-24 16:30] fabriziopandini commented on #4365
/milestone v0.4
/area control-plane

[2021-03-24 16:41] ludusrusso commented on #4370
I agree with that. So we can keep stuff as they are and just freeze a clusterctl@0.3 formula when we are going to release 0.4, and the a 0.4 when 0.5 is coming and so on.

This works if we don't want to release other 0.3.x releases when 0.4 is ready, etc.

[2021-03-24 16:44] fabriziopandini commented on #4370
Unfortunately this is not the case, given that it happen to release a 0.3 patch release also after 0.4 is out.

I would avoid that for the reason above

[2021-03-24 16:46] #4358 closed

[2021-03-24 16:57] ludusrusso commented on #4370
Ok got it!
So we need multiple formula (one for latest and one for each 0.x release), or handle it manually!

[2021-03-24 16:58] vincepri commented on #4370
I'd rather automate this now than later, otherwise we end up adding more to the (already extensive) release process.

[2021-03-24 17:00] ludusrusso commented on #4370
We can do, but I think we need a custom action. Do you have a different idea?

[2021-03-24 17:02] vincepri commented on #4370
Let's see if homebrew maintainers can help here in supporting this use case maybe?

[2021-03-24 17:06] ludusrusso commented on #4370
@dawidd6 what do you think is the best way to automate this?

[2021-03-24 17:38] dawidd6 commented on #4370
Please explain what you want to achieve briefly cause I can't determine it from this thread.

[2021-03-24 17:43] ludusrusso commented on #4370
@dawidd6 yea, this is what I've understood, @vincepri @fabriziopandini let me know if it is correct.

Now we have a release 0.3.14 that is mapped on the formula clusterctl on homebrew-core
When we release the the 0.4.x they want to maintain to formula, a
 - clusterctl@0.3 that will map 0.3.14 and future patch fix on 0.3.x
 - cluster that will map 0.4.x

We should going on this with 0.5, 0.6 etc, t

[2021-03-24 18:22] dawidd6 commented on #4370
I don't know any existing solution that would automate submitting new formulae to a tap. Please also bear in mind that once you drop support for a release it should also be noted in the versioned formula too.

[2021-03-24 20:37] #4043 closed

[2021-03-24 21:43] Insullone commented on #4359
@fabriziopandini Yes, I can add many, but one flavor can only use one file, e.g. flavor 'ipv6' will use cluster-template-ipv6.yaml only. I think one file is good enough for now, so I will close the issue now.

[2021-03-24 21:43] #4359 closed

[2021-03-24 22:23] CecileRobertMichon commented on #4359
you can use kustomize to generate the all-in-one template file, eg: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/templates/flavors/default/kustomization.yaml

[2021-03-25 05:59] sgirem463 commented on #4026
@fabriziopandini I will work on this

[2021-03-25 08:42] maelk commented on #4365
I found the root cause of the failure, why the controller fails in the first place. We are using a VIP setup, and the machine marked unhealthy has the VIP, so when etcd dies, the kube api server stops answering for a while (until the failover mechanism kicks in) We have this kind of logs then :
[code]
That explains why KCP is unable to delete the machine (API server is not answering). For now we c

[2021-03-25 08:57] maelk commented on #4365
After the restart of the controller, then the error messages are the following :
[code]

[2021-03-25 11:10] fiunchinho opened #4377 "Docs should warn about KubeadmControlPlane secrets when switching to a new machine template"
**What steps did you take and what happened:**

I was trying to upgrade a workload cluster control plane to a new k8s version (from `v1.18.2` to `v1.18.14`), using a new machine image, so I followed [the steps described in the docs](https://cluster-api.sigs.k8s.io/tasks/upgrading-clusters.html).

I used these manifests that are really similar to those that one would get using

[code]

Notice how t

[2021-03-25 11:19] fabriziopandini commented on #4377
At first sight this is more a problem of the CAPZ template not a KCP problem
@CecileRobertMichon @nader-ziada PTAL

[2021-03-25 16:17] #4361 closed

[2021-03-25 16:29] ashish-amarnath commented on #3686
/assign
/lifecycle active

[2021-03-25 20:12] stmcginnis opened #4380 "CAPD: Use library calls to manage containers rather than calling docker"
**User Story**

As a developer, I would like to make programmatic calls to manage things as much as possible.
As a developer, I would like to be able to unit test my code to ensure proper functionality.
As a user, I would like things to operate smoothly and efficiently.
As an operator, I would like to not have to worry about command line dependencies.

Getting rid of exec'ing out to `docker` for c

[2021-03-25 20:12] stmcginnis commented on #4380
/assign

[2021-03-25 20:48] sedefsavas commented on #3354
Moving global objects are needed for CAPA multi-tenancy and we need to backport it to v0.3 as we will support multitenancy in the next release.

CAPZ also needs this support in v0.3 releases IIRC @nader-ziada

[2021-03-25 22:18] dkoshkin opened #4382 "clusterctl list images should include daemonsets"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

[code]

**What did you expect to happen:**
The image `mcr.microsoft.com/oss/azure/aad-pod-identity/nmi:v1.6.3` should also be present.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

Let me know if https://github.com/kubernetes

[2021-03-25 22:33] devigned commented on #4382
Hmm... nmi is a daemonset. I wonder if that is why it was missed.

[2021-03-26 02:08] lubronzhan commented on #4364
Hi @fabriziopandini thanks for the clarification. I get the point that these two doesn't need to match now.

But for

We have a finalizer that blocks the cluster to be deleted and most of the cases `status.conditions.InfrastructureReady` will be true when deleting cluster before that finalizer on cluster is removed. And according to [here](https://github.com/kubernetes-sigs/cluster-api/blob/master

[2021-03-26 09:43] fabriziopandini commented on #4382
@devigned you are right

https://github.com/kubernetes-sigs/cluster-api/blob/f07371de19756a95a4a1f09c236ace004261be22/cmd/clusterctl/internal/util/objs.go#L32-L57

We should probably extend this logic to consider daemonset as well

/milestone v0.4
/priority important-longterm
/help
/good-first-issue

[2021-03-26 09:47] sbueringer opened #4383 "Bump Go to 1.16 in post-cluster-api-push-images"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

I saw because of a failed [post-cluster-api-provider-openstack-push-images](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-cluster-api-provider-openstack-push-images/1375280030887710720) job in CAPO that the images we're using in `cloudbuild.yaml` are outdated. The CAPO image wa

[2021-03-26 10:03] fabriziopandini commented on #4383
@sbueringer I'm generally +1 for keeping up with go versions, but I'm trying to better understand the problem.

It seems that CAPI images are published (the last one is https://console.cloud.google.com/gcr/images/k8s-staging-cluster-api/GLOBAL/capd-manager@sha256:613fded939b84c6716adbcbbaf7e30220a05ad39dbf81b7a938c0b6acfe08611/details?tab=info&project=k8s-staging-cluster-api), so I'm not sure that

[2021-03-26 10:19] fabriziopandini commented on #4380
/milestone v0.4
/priority important-longterm

[2021-03-26 10:27] fabriziopandini commented on #3354
@sedefsavas I suggest to open a separated issue for the specific problem of moving global objects so we can rally on details:
- What is a generic procedure (that works across providers) that allows to detect which global objects to move?
- What is the contract around moving global objects?
  - What happen if they already exists in the target cluster?
  - Should we leave them in the original cluste

[2021-03-26 10:55] fabriziopandini commented on #4364
I'm a little bit confused by you answer...
What is the issue here:
- the semantic of 'conditions.InfrastructureReady' and 'status.Infrastructure Ready' (which you now know why they does not match)
- the log showing `Cluster still has descendants` (which is true given that, as far as I understood, we are deleting)?

Trying to help, you can find the relevant code [here](https://github.com/kubernetes

[2021-03-26 11:02] sbueringer commented on #4383
@fabriziopandini

It's not a problem which leads to errors at the moment anywhere (we were a bit more behind in CAPO).
I took another look and realized that the images we publish are build with docker multi-stage build anyway,
so they are not affected.

So this is  could only lead to problems in cases where we depend on the local go version in our Makefiles.
As far as I know we're only compiling o

[2021-03-26 11:22] ludusrusso commented on #4382
/assign

[2021-03-26 11:26] fabriziopandini commented on #4382
/lifecycle active

[2021-03-26 13:28] vespian opened #4384 "Making it easier to inject new/custom repositories while using CAPI as a library."
**User Story**

As a developer, when using CAPI as a library for building more advanced workflows, I would like to be able to easily define new sources for component manifests (e.g. manifests embedded into binary itself). Currently it is not straightforward.

**Detailed Description**

I noticed few things when implementing new repository type for our tooling, which uses CAPI as a library.
- curren

[2021-03-26 19:19] sbueringer opened #4386 "Improve the way we inject ci-artifacts.sh"
**What steps did you take and what happened:**

I tried to use `kubernetesversions.GenerateCIArtifactsInjectedTemplateForDebian` in CAPO e2e tests and instead of just adding `files` and `preKubeadmCommands` it overwrote existing ones. In my case those were files required for the cloud controller manager / internal cloud provider.

**What did you expect to happen:**

I thought `GenerateCIArtifactsI

[2021-03-28 11:55] #3865 closed

[2021-03-29 02:42] vincepri commented on #4383
We should definitely try to keep the Go version in sync with the target Kubernetes version we're using. For now v0.3.x is on Go 1.13, while v0.4.x is going to use Go 1.16 and Kubernetes 1.21

[2021-03-29 02:42] vincepri commented on #4383
/milestone Next
/area dependency
/area testing

[2021-03-29 03:05] vincepri commented on #4055
/close

[2021-03-29 03:05] #4055 closed

[2021-03-29 13:01] lubronzhan commented on #4364
Hi, sorry, I mean since the mirror of condition.InfrastructureReady is set after the descendant check https://github.com/kubernetes-sigs/cluster-api/blob/aee65de4a18b891dba7bc7956867f436376cd028/controllers/cluster_controller.go#L247
But I didn't see the log moved past the `Cluster still has descendants`

[2021-03-29 17:41] sedefsavas opened #4394 "Backporting server-side apply option in e2e framework"
To add GPU e2e tests in v1alpha3 branches, we need to backport the framework change that allows passing arguments to `kubectl apply`.

https://github.com/kubernetes-sigs/cluster-api/pull/4354

[2021-03-29 17:41] sedefsavas commented on #4394
cc @shysank

[2021-03-29 17:46] sedefsavas commented on #4394
We will add that test to v1alpha4 release, so closing this issue.

[2021-03-29 17:46] #4394 closed

[2021-03-29 18:17] sbueringer opened #4395 "MHC E2E tests are failing (part II)"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

In general the `When testing unhealthy machines remediation` tests are working again, but they are flaky:
![image](https://user-images.githubusercontent.com/4662360/112875596-ac155100-90c4-11eb-974d-2de331b75b05.png)

I took a closer look at `When testing unhealthy machines remediation Sh

[2021-03-29 19:31] ashish-amarnath opened #4396 "[capd] Reconciliation of DockerClusters fails when there is a stopped ha-proxy container."
The root cause here is that I had a stopped ha proxy container that was preventing a new one from being created.
During creation of the loadbalancer helper we check if the ha-proxy container exists which is where we pick up stopped containers https://github.com/kubernetes-sigs/cluster-api/blob/master/test/infrastructure/docker/docker/util.go#L108

cc @fabriziopandini going to create an issue from

[2021-03-29 19:31] ashish-amarnath commented on #4396
/kind bug

[2021-03-29 19:32] ashish-amarnath commented on #4396
/assign

[2021-03-29 19:34] ashish-amarnath commented on #4396
cc @stmcginnis

[2021-03-29 19:45] prksu commented on #3958
/reopen

@fabriziopandini @vincepri I experienced this issue.

seem it was because missing `v1alpha3` scheme
https://github.com/kubernetes-sigs/cluster-api/blob/b5f22feb5a44b5663a35b57a09dc86378d4aa042/main.go#L78-L87

tried to add the `v1alpha3` scheme it works properly. I also tried to monitor capi components(core, bootstrap, control-plane) during startup when we miss `v1alpha3` scheme it doesn'

[2021-03-29 19:49] fabriziopandini commented on #3958
@prksu Thanks for the detailed analysis!
We usually avoid to work on closed issues. Do you mind open a new one?
Also, given that you have already tested a solution, do you want to send a pacth 😉  (with possibly some integration test as well?)

[2021-03-29 19:57] prksu commented on #3958
@fabriziopandini Yes sure, I'll open new one. and take a work on the issue.

/close

[2021-03-29 19:57] #3958 closed

[2021-03-30 04:23] sbueringer opened #4400 "ci-test.sh should provide JUnit reports for testgrid"
**User Story**

As a developer it would be easier to get an overview over flaky unit test if we would have JUnit reports as an output of ci-test.sh.

**Detailed Description**

For comparison:
* test results ci-e2e.sh: https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api#capi-e2e-main&width=20
* test results ci-test.sh: https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api#capi-test-main&w

[2021-03-30 05:21] prksu opened #4401 "v1alpha4 conversion webhook are failing"
**What steps did you take and what happened:**
I experienced this issue when migrating cluster-api provider digital ocean to `v1alpha4` and trying to do manual tests for webhook conversion by creating workload cluster using `v1alpha3` types.

[code]

**What did you expect to happen:**
Cluster API should be could accept request using  `v1alpha3` (supported old) types and convert it to `v1alpha4` (n

[2021-03-30 05:22] prksu commented on #4401
/assign
/lifecycle active

[2021-03-30 06:58] sgirem463 commented on #4026
@fabriziopandini @vincepri
I have made changes to the document source, the diffs are:

ALLANs-MBP:tasks alue$
ALLANs-MBP:tasks alue$ git diff
diff --git a/docs/book/src/tasks/kubeadm-control-plane.md b/docs/book/src/tasks/kubeadm-control-plane.md
index 50b606cf5..d24ab4f3c 100644
--- a/docs/book/src/tasks/kubeadm-control-plane.md
+++ b/docs/book/src/tasks/kubeadm-control-plane.md
@@ -2,6 +2,14 @@

[2021-03-30 07:02] sbueringer commented on #4026
@sgirem463 I think it's totally fine to just open a PR to propose this change.

[2021-03-30 07:05] sbueringer commented on #4229
Just a short update. I'm still interested in this. Just taking a bit of time to get more familiar with the current state of the project, to be able to better judge how this fits.

[2021-03-30 08:30] sbueringer opened #4403 "MHC E2E tests are failing (part III)"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

Similar to #4395 the test `When testing unhealthy machines remediation Should successfully trigger machine deployment remediation` is also flaky.

The test should work roughly like this:
* Cluster is initially provisioned with 1 control plane and 1 worker node
* One of the worker nodes ge

[2021-03-30 09:53] sbueringer commented on #3274
Is this really related to CAPO? Maybe I missed something but it looks like CAPA on an OpenShift management cluster to me.

Maybe we should close the issue as it's pretty old and nobody had time to dig into this for a quite a while.

[2021-03-30 10:00] randomvariable commented on #4253
This should be fixed in https://github.com/containerd/containerd/pull/5145

[2021-03-30 10:59] sbueringer opened #4405 "Multiple e2e tests are flaky because of error container is not running"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

According to [testgrid](https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api#capi-e2e-main&width=20&sort-by-failures=&exclude-non-failed-tests=48) `capi-e2e.When following the Cluster API quick-start [PR-Blocking] Should create a workload cluster` and a few others are failing from ti

[2021-03-30 12:31] Insullone opened #4406 "What are the advantages of Cluster API test framework over clusterctl CLI on developing e2e testing?"
We are developing e2e tests in [cluster-api-provider-metal3](https://github.com/metal3-io/cluster-api-provider-metal3), and according to [Developing E2E tests](https://cluster-api.sigs.k8s.io/developer/e2e.html) in Cluster API book, [Cluster API test framework](https://pkg.go.dev/sigs.k8s.io/cluster-api/test/framework) and [test E2E package](https://pkg.go.dev/sigs.k8s.io/cluster-api/test/e2e) are

[2021-03-30 14:53] fabriziopandini commented on #4406
I second @sbueringer consideration that there is definitely long term value in sharing and maintaining the test framework code together instead of reinventing it a slightly different way in every provider.

WRT to the value the test framework can already provide as of today:
- A set of helpers for managing E2E test (bootstrapping, log collection, tear down)
- A set of helpers for handling cluster

[2021-03-30 15:11] ashish-amarnath commented on #3441
/remove-lifecycle stale

[2021-03-30 15:15] fabriziopandini commented on #4405
@sbueringer Thanks for the detailed analysis

The key point here is

We should get to the root of this, and understand why `docker run` while creating a CAPD machine/container did not returned here.

I would start trying to get the /var/log/docker.log; a way to achieve this is to copy this file to the artefact folder at then end of our `ci-e2e.sh` script (we can also collect other info as well, li

[2021-03-30 15:25] fabriziopandini commented on #3274
/close
We can always a new issue if we manage to collect more info

[2021-03-30 15:25] #3274 closed

[2021-03-30 15:25] vincepri commented on #3441
/lifecycle frozen

[2021-03-30 15:32] vincepri commented on #4406
/milestone Next

[2021-03-30 15:42] fabriziopandini commented on #4400
I'm +1 for this change.
Probably, the best way to get this is to add go-junit-report as a pinned version dependecy in hack/tools

[2021-03-30 15:42] vincepri commented on #3695
/lifecycle frozen

[2021-03-30 15:42] vincepri commented on #3695
/priority backlog

[2021-03-30 15:43] fabriziopandini commented on #4400
/priority important-longterm

[2021-03-30 15:48] fabriziopandini commented on #4401
/priority important-soon
We should possibly add a envtest based tests to ensure conversion are in place (one for each API with conversions - CAPI, CAPK, KCP, CRS)

[2021-03-30 15:59] furkatgofurov7 commented on #4406
@sbueringer hello!  Thanks for sharing your thoughts and experience.

Yes, I have seen the patches in CAPO, that is excellent work.

In [CAPM3](https://github.com/metal3-io/cluster-api-provider-metal3), we do currently have only integration tests run and all the setup is split into two different repositories.

1. Jenkins setup hosted in [project infra repo](https://github.com/metal3-io/project-inf

[2021-03-30 16:44] sbueringer commented on #4406
@furkatgofurov7

I think it would be useful to roughly split up the tests in 2 parts:

* setup the environment (I think you can keep using your scripts: script_1, script_2)
  * this should setup all external dependencies which are also usually expected when running your provider in production
  * I don't really know what this includes in your case, in case of CAPO it was: setting up an OpenStack a

[2021-03-30 16:58] sbueringer commented on #4400
@vincepri yes I can implement this. Just wanted to ask first :)

/assign

[2021-03-30 17:03] sbueringer commented on #4405
@fabriziopandini Agree, I'll open a first PR to gather some more infos.

/assign

[2021-03-30 17:33] sbueringer commented on #4383
/assign

[2021-03-30 17:33] sbueringer commented on #4403
/assign

[2021-03-30 17:34] #3512 closed

[2021-03-30 17:43] sedefsavas opened #4407 "Remove hack/tools folder under CAPD"
CAPD has its own hack/tools folder, and it is being used in CAPD `Makefile`
We should maintain only the root's `hack/tools` and reuse it for CAPD.

This is discussed here: https://kubernetes.slack.com/archives/C8TSNPY4T/p1617121527282000?thread_ts=1617120917.279100&cid=C8TSNPY4T

/kind cleanup

[2021-03-30 17:46] sedefsavas opened #4408 "CAPD nightly build fails"
**What steps did you take and what happened:**
Nightly build is failing for CAPD images:
https://testgrid.k8s.io/sig-cluster-lifecycle-image-pushes#cluster-api-push-images-nightly&show-stale-tests=

See the discussion:
https://kubernetes.slack.com/archives/C8TSNPY4T/p1617120917279100

We may want to fix this bug with this issue: https://github.com/kubernetes-sigs/cluster-api/issues/4407

/kind bug

[2021-03-30 18:33] #4403 closed

[2021-03-31 08:17] fabriziopandini commented on #4395
@sbueringer Thanks for the detailed analysis, really helpful.

Thinking a little bit about this problem, and the one decribed in part III, I'm getting of the opinion that `DiscoverMachineHealthChecksAndWaitForRemediation` should always wait for the original number of machines to be restored, meaning:
- waiting for 1 worker to exists without unhealthy conditions in the first test
- waiting for 3 CP

[2021-03-31 08:33] sbueringer commented on #4395
@fabriziopandini

Sounds good to me. I'll take a look at the details how best to achieve that and open a PR with a first implementation

/assign

[2021-03-31 08:40] sbueringer commented on #4395
ah nice. I'll take a look :)

[2021-03-31 09:09] fabriziopandini commented on #3686
One option is to rely on introspection checking for the sentinel file inside of the machine and remove the field entirely

[2021-03-31 09:12] #4407 closed

[2021-03-31 09:44] sbueringer commented on #4405
@fabriziopandini PR for better visibility is open: #4414

I didn't make any changes to CAPD yet:
* I would like to take a look at failed test runs with the new logs first, maybe they are already enough
* I saw this concurrent PR: https://github.com/kubernetes-sigs/cluster-api/pull/4413

[2021-03-31 10:50] sbueringer commented on #4405
@fabriziopandini

Got some new data already from #4414

Test `capi-e2e: When testing KCP upgrade Should successfully upgrade Kubernetes, DNS, kube-proxy, and etcd in a HA cluster using scale in rollout` failed

* [job log](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api/4414/pull-cluster-api-e2e-full-main/1377196605949612032)
  * kcp_upgrade.go:146 > control

[2021-03-31 11:01] sbueringer commented on #4278
@invidian I think the problem right now is that nobody is cleaning up the testenv when the process is terminated via `CTRL+C`. During regular test run there are some clean up steps at the end. Maybe we can fix this by handling the signal we (probably) get from `CTRL+C`.

I assume the main question is if we can easily hook into the signal with the way we are executing the tests and if we are then a

[2021-03-31 13:08] fabriziopandini commented on #4405
+1 for implementing a docker inspect.
TBH, I'm not sure if we are entering the err after create, because it seems that the machine creation continues up to bootstrap phase/cloudinit commands, but we can always inspect all the containers after creation

[2021-03-31 13:38] sbueringer commented on #4405
@fabriziopandini from the log I suspect we're first failing here (and then at the location I linked above during the retries):

https://github.com/kubernetes-sigs/cluster-api/blob/7478817225e0a75acb6e14fc7b438231578073d2/test/infrastructure/docker/docker/machine.go#L222-L228

[code]

[2021-03-31 15:00] fabriziopandini commented on #4384
/remove kind-feature
/kind support

There is a lot of request in this ticket, I hope answer below are exhaustive or at least helpful...

Have you considered to contribute repository factory upstream? Repository are pretty generic bits of code solving the fetch from source X problem, and the entire community can benefit from new repository implementations.
If this is not an option for you, you can

[2021-03-31 15:23] vincepri commented on #4400
/milestone v0.4

[2021-03-31 15:31] #4400 closed

[2021-03-31 15:45] #4395 closed

[2021-03-31 15:47] sbueringer commented on #4408
@sedefsavas Dumb question. could it be that the image push job currently does not push container images?

Just looked at: https://github.com/kubernetes-sigs/cluster-api/blob/26ff3dff0d8e0b8c5635619d879e875699dfffae/Makefile#L559-L568

and I'm wondering how this target could push images. (I'm just curious because I want to implement nightly builds for CAPO)

[2021-03-31 16:03] #4356 closed

[2021-03-31 16:04] vincepri commented on #4384
/milestone Next

[2021-03-31 21:14] #3230 closed

[2021-03-31 21:14] #3256 closed

[2021-03-31 22:06] CecileRobertMichon commented on #4386
@sbueringer I had the exact same issue which is why we're not currently using `GenerateCIArtifactsInjectedTemplateForDebian ` in CAPZ. See the discussion I had with @randomvariable at the time here: https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1018#discussion_r515363781

Azure also requires the azure.json file to be written on every machine for in-tree Cloud Controller Manage

[2021-03-31 22:31] stmcginnis opened #4419 "Add linter to prevent use of deprecated ioutil module"
**User Story**

As a developer, I would like to make sure I am following guidelines and avoid using deprecated code.

Go 1.16 deprecated the `ioutil` module, adding `os` and `io` equivalents for included functions.

https://github.com/kubernetes-sigs/cluster-api/pull/4399#issuecomment-811504262 updated the cluster-api code to use those alternative calls.

The `ioutil` deprecation can be considered

[2021-04-01 01:29] sedefsavas commented on #4408
@sbueringer  We were initially both pushing and tagging, but then realized we already build images on every change on the master branch, so instead we changed it to just tag those existing images.

If you also need to push images, it is something similar to combination of `release-staging` (for pushing images) and `release-staging-nightly` (For tagging them).

For example, if I want to push and ta

[2021-04-01 05:35] sbueringer commented on #4408
@sedefsavas Ah perfect thx, that makes sense

[2021-04-01 05:47] sbueringer commented on #4419
@stmcginnis I think we should extend this issue a bit regarding that we want to block not only ioutil but just packages we don't want to be used in general. Another example seems to be ([ref](https://github.com/kubernetes-sigs/cluster-api/pull/4399#issuecomment-810365316)).

[2021-04-01 05:58] sbueringer commented on #4386
@CecileRobertMichon Thx for the info. That was exactly my problem.

Regarding https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1018#discussion_r516552935, as far as I know we can decide if we want to added the array entries at the start or end of the array via JSON patch.

Then I'll just open a PR here and let's see if we can get consensus on the implementation.

[2021-04-01 08:41] invidian commented on #4278
I found https://github.com/golang/go/issues/41891 now, so it seems it's not trival to do in pure Go. Perhaps Makefile could have a target to trigger the cleanup post test-run then?

[2021-04-01 08:50] sbueringer commented on #4278
@invidian I'm wondering if we can  implement a cleanup via a signal handler, somewhere around here:

https://github.com/kubernetes-sigs/cluster-api/blob/49ccbb87a37c8855ed18b1c3039bd6605d2e79f8/controllers/suite_test.go#L115-L118

with something like:
https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/manager/signals/signal.go#L35-L42

We could maybe re-use the signal handler we

[2021-04-01 08:59] invidian commented on #4278
I'm also thinking now if maybe etcd and kube-apiserver processes could run in containers to simplify the cleanup and make it more sane. Or maybe tests utilizing those could run outside of plain unit test suite? As sort of integration tests or something.

[2021-04-01 09:05] sbueringer commented on #4278
@invidian As far as I know that would be a major refactoring of either our entire test suites which are currently using envtest or envtest of controller-runtime itself.

I don't think that's realistic (and worth the effort). It would also introduce a dependency to Docker or a container engine in general which is probably not desirable.

[2021-04-01 09:39] sbueringer commented on #4234
I'll implement it

/assign

[2021-04-01 09:49] sbueringer commented on #4136
I'm wondering why exactly do we want to refactor it to be in line with kubebuilder?

Some options:
* so that the generation works (I would also think this works based on the tags alone)
* we're closer to the "standard", so its easier to keep up and sync with new kubebuilder / controller-runtime releases

[2021-04-01 11:41] stmcginnis commented on #4419
Good idea @sbueringer. If we set up the mechanism to lint for ioutils, no reason we can't use it for whatever set of imports we want to guard against.

[2021-04-01 13:08] kbreit opened #4422 "clusterctl upgrade plan command is wrong"
**What steps did you take and what happened:**
[code]

**What did you expect to happen:**
This should be `clusterctl upgrade apply`. It has duplicate `upgrade` words.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version: 0.3.15
- Minikube/KIND version:
- Kubernetes version: (use `kubectl version`):
- O

[2021-04-01 15:59] #4026 closed

[2021-04-01 17:15] neolit123 opened #4423 "remove usage of the kubeadm ClusterStatus object in Cluster API."
ClusterStatus is an API structure present in kubeadm v1beta and v1beta2 that was used to track what API endpoints are available in the cluster. in 1.18 we deprecated it and implemented another method of doing the same, by applying annotations to the kube-apiserver pods. this already the default method in kubeadm, but ClusterStatus is still maintained as the second deprecated method.

the object is

[2021-04-01 17:16] neolit123 commented on #4423
/assign @fabriziopandini
please delegate if appropriate.

/kind deprecation feature
/priority important-soon

[2021-04-01 17:46] sbueringer commented on #4408
According to test grid the PR fixed the issue: https://testgrid.k8s.io/sig-cluster-lifecycle-image-pushes#cluster-api-push-images-nightly

[2021-04-01 17:51] sbueringer commented on #4405
Got some more information from test runs on #4416
In addition to what we already know (exit code 141). The container which doesn't come up prints these logs:
[code]

This suggests the entrypoint script fails somewhere after:
https://github.com/kubernetes-sigs/kind/blob/c17ca16700df5910126e317d108e65a2e485d081/images/base/files/usr/local/bin/entrypoint#L196

I'll build a custom kind image with `set

[2021-04-01 17:56] sedefsavas commented on #4408
Thanks for confirming.

/close

[2021-04-01 17:56] #4408 closed

[2021-04-01 19:35] #3400 closed

[2021-04-01 19:35] #3419 closed

[2021-04-01 20:36] #3291 closed

[2021-04-01 21:47] faiq commented on #4068
/reopen

[2021-04-01 21:56] faiq commented on #4068
Hey folks, just wanted to register that I'm currently experiencing this problem as well. To me it seems like this is occurring because the files are never installed.

[code]

I think this can be solved by using this method to write the files to disk
https://github.com/kubernetes-sigs/controller-runtime/blob/10ae090c1d3ac0c560dfa1a29b2517eb8d74442b/pkg/envtest/webhook.go#L163

in this method in the

[2021-04-01 23:39] #3450 closed

[2021-04-02 07:24] sbueringer commented on #4405
Some new data now with `set -x`

Script fails here: https://github.com/kubernetes-sigs/kind/blob/v0.9.0/images/base/files/usr/local/bin/entrypoint#L82

Output from docker logs:
[code]

So there seems to be a `PIPEFAIL` in `docker_cgroup=$(echo "${docker_cgroup_mounts}" | head -n 1 | cut -d' ' -f 4)`

I assume that's because echo writes into the pipe and head apparently stops reading after the firs

[2021-04-02 11:54] fabriziopandini commented on #4068
@faiq do you mind to move your comment to a new issue, so we can track this problem without being confused by the previous discussion thread

[2021-04-02 12:30] fabriziopandini commented on #4422
/help
/good-first-issue
/priority important-soon

[2021-04-02 12:31] sbueringer commented on #4405
I implemented the alternative solution now, as it's more logical that we can avoid pipe failed errors with `head` if `echo` is not part of the pipe.

 I think I'm at a point where it's hard to prove that the issue is gone, but it should be fixed with my custom kind images. Most of the failures in [testgrid](https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api#capi-e2e-main&width=20) are cause

[2021-04-02 12:35] fabriziopandini commented on #4423
@neolit123 Thanks for opening this issue. It is on my agenda for the next week

[2021-04-02 12:40] #4396 closed

[2021-04-02 13:33] Evalle commented on #4422
I can help with this
/assign

[2021-04-02 14:26] sbueringer commented on #4405
/reopen
(shouldn't have written `Gathers more logs and data from Docker and containerd, to be able to fix #4405 mid-term.` in the PR)

[2021-04-02 14:56] sbueringer opened #4426 "Flaky e2e test: Pivot the bootstrap cluster to a self-hosted cluster"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

According to [testgrid](https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api#capi-e2e-main&width=20) about 1 in 10 test runs of `capi-e2e.When testing Cluster API working on self-hosted clusters Should pivot the bootstrap cluster to a self-hosted cluster` is failing. Bug can be repro

[2021-04-02 15:00] sbueringer commented on #4426
@fabriziopandini

I'm not entirely sure how the pause logic should be implemented in the CAPD machine controller but I suspect we should check if the cluster is paused somewhere in the `Reconcile` func. The watches look okay, but I think they don't filter out events on Machines when there Clusters are paused (but I could be completely wrong):
https://github.com/kubernetes-sigs/cluster-api/blob/747

[2021-04-02 16:48] #4422 closed

[2021-04-02 17:06] #4234 closed

[2021-04-05 15:51] faiq opened #4429 "Unable to start imported helpers.testEnv in a ginkgo environment"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
I imported the testenv helper package like so

[code]

and was getting crash logs with the tls certificates not being ready to watch

[code]

**What did you expect to happen:**

Expected it to start up without issue.

**Anything else you would like to add:**
[Miscellaneous information that

[2021-04-05 16:48] vincepri opened #4430 "ClusterClass and managed topologies"
In the past few months we've been talking at community meetings about the possibility of adding two new concepts to our APIs: ClusterClass and a more useful Cluster object that lets folks describe a fully functional cluster.

## ClusterClass

A ClusterClass CRD would be introduced to provide easy stamping of clusters of similar shapes. The early version of this Class would be containing an immutab

[2021-04-05 16:48] vincepri commented on #4430
/cc @CecileRobertMichon @detiber @fabriziopandini @timothysc @srm09

[2021-04-05 16:52] vincepri commented on #4035
/lifecycle frozen

[2021-04-05 16:53] vincepri commented on #4007
/remove-lifecycle stale

[2021-04-05 17:02] vincepri commented on #3692
/milestone Next

Folks, moving this to Next as I'm not totally sure if we want to deprecate this fields just yet. Having a separate entity altogether for failures is a bit easier to understand, while conditions are a great way to express current state and possible blockers, I would like to see if we can find a way to better express terminal failures.

[2021-04-05 17:31] faiq commented on #4429
It looks like this happens in ginkgo environments for tests i did a little example of the problem here https://github.com/faiq/testenv

[2021-04-05 17:34] faiq commented on #4429
When I run this test https://github.com/faiq/testenv/tree/main/test2 I don't get any issues. Maybe it's just a ginkgo thing?

[2021-04-05 19:20] timothysc commented on #4430
I'm not hip with the latest on cluster auto-scalar, but it would seem natural for me to declare intent and limits at this level.  Feel free to argue with me, I'm just spitballing.

[2021-04-05 20:28] CecileRobertMichon commented on #2646
/help
/kind release-blocking

[2021-04-05 20:31] CecileRobertMichon commented on #2693
/kind release-blocking

[2021-04-05 20:31] CecileRobertMichon commented on #2769
/kind release-blocking

[2021-04-05 20:34] CecileRobertMichon commented on #3259
@detiber @vincepri are we still trying to get this done for v0.4? Is it release blocking for v0.4.0?

[2021-04-05 20:37] CecileRobertMichon commented on #3331
@fabriziopandini can we close this now that the operator work is underway?

[2021-04-05 20:40] CecileRobertMichon commented on #4056
@fabriziopandini is this release blocking for v0.4.0?

[2021-04-05 20:41] CecileRobertMichon commented on #3360
/kind release-blocking
/help

[2021-04-05 20:42] CecileRobertMichon commented on #3424
/kind release-blocking
/help

[2021-04-05 20:44] CecileRobertMichon commented on #1250
/kind release-blocking
/lifecycle active

[2021-04-05 20:45] CecileRobertMichon commented on #3422
/close

[2021-04-05 20:45] #3422 closed

[2021-04-05 20:53] CecileRobertMichon commented on #3134
/help

[2021-04-05 20:54] CecileRobertMichon commented on #3486
/kind release-blocking

[2021-04-05 21:36] CecileRobertMichon commented on #2218
/close

The proposal (https://github.com/kubernetes-sigs/cluster-api/pull/3616) has been merged and image-builder / infra provider implementations are underway

[2021-04-05 21:36] #2218 closed

[2021-04-05 21:37] CecileRobertMichon commented on #3106
/help

[2021-04-05 21:39] CecileRobertMichon commented on #3042
/area release-blocking

[2021-04-05 21:40] CecileRobertMichon commented on #3042
/kind release-blocking

[2021-04-05 21:41] CecileRobertMichon commented on #3715
/area release-blocking

This should be closed as part of #4389

[2021-04-05 21:43] CecileRobertMichon commented on #4382
/retitle clusterctl list images should include daemonsets
/area clusterctl

[2021-04-05 21:47] CecileRobertMichon commented on #4253
We're using the same hack for ipv6 in CAPZ currently https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/templates/flavors/ipv6/patches/kubeadm-controlplane.yaml#L9

cc @aramase

[2021-04-05 21:49] CecileRobertMichon commented on #4154
@fabriziopandini is this release blocking for v0.4.0?

[2021-04-05 21:50] CecileRobertMichon commented on #4177
What is the action item here? Is it release blocking?

[2021-04-06 06:09] sbueringer commented on #4429
@faiq

Looks like the error here (https://github.com/kubernetes-sigs/cluster-api/issues/4429#issuecomment-813522065) occurs when shutting down the testenv. Could it be that this error is in `AfterSuite` ?

[2021-04-06 06:16] sbueringer commented on #3715
/kind release-blocking

[2021-04-06 07:25] sbueringer commented on #4405
The issue will be fixed soon in kind (https://github.com/kubernetes-sigs/kind/pull/2179). After the next kind release, which should be in the next 1-2 weeks, we can upgrade to newer images with the new entrypoint script which should fix our flakes.

Not sure how the new images are tagged, but I assume we can just update to the newest v1.19.* and v1.18.* image then.

Can we also update to the lates

[2021-04-06 11:27] fabriziopandini commented on #3728
/lifecycle frozen

[2021-04-06 11:29] fabriziopandini commented on #4037
@stmcginnis this is another possible improvement to CAPD

[2021-04-06 11:30] fabriziopandini commented on #3085
/close
This is going to be implemented as part of https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/20201020-capi-provider-operator.md

[2021-04-06 11:30] #3085 closed

[2021-04-06 11:39] fabriziopandini commented on #3331
@CecileRobertMichon I don't think so.
Afaik this concept was not included in the operator proposal, and doing so will introduce an hard decency between the operator and the core API while instead the operator should be optional

[2021-04-06 11:41] fabriziopandini commented on #4056
@CecileRobertMichon IMO removing flags for multi tenancy in clusterctl should be release blocking,  everything else it is just a nice a code cleanup/paying down the technical dept.

[2021-04-06 11:58] fabriziopandini commented on #4154
No, it is not.

Also migration is tracked in https://github.com/kubernetes-sigs/cluster-api/issues/4201, so let's close this one
/close

[2021-04-06 11:58] #4154 closed

[2021-04-06 12:17] fabriziopandini commented on #4177
Let's remove the option to pick a dns provider in v0.4.0?

Probably not, but being an API braking change it is now or in the next API version...

[2021-04-06 12:54] stmcginnis commented on #4037
I'll have to investigate why that might be. The proxy settings should be passed through to any new container creation. Updating here, though the logic shouldn't really change from existing:

https://github.com/kubernetes-sigs/cluster-api/pull/4413/files#diff-04c0bd87fd25f10c1e162fa4decf2387c127fe437e66a011f1cb7b50971ac842R175

I'll try to take a look, but if anyone else wants to pick this up in th

[2021-04-06 13:21] fabriziopandini commented on #4423
The implementation of an alternative approach of `ClusterStatus` in the Kubeadm ConfigMap landed in [Kubernetes v1.18](https://v1-18.docs.kubernetes.io/docs/setup/release/notes/#kubeadm).

Given that, if we are considering Cluster API must support the latest three Kubernetes releases for workload clusters (as of today v1.21, v1.20, v1.19), there are no blockers for dropping `ClusterStatus` object

[2021-04-06 13:55] sbueringer commented on #4278
Depending on what the current problem is the changes to the interrupt behviour in ginkgo 2.0 might help: https://github.com/onsi/ginkgo/blob/v2/docs/MIGRATING_TO_V2.md#interrupt-behavior

[2021-04-06 14:35] fabriziopandini commented on #4177
might be I'm wrong, but I think that what @vincepri is suggesting is to remove the field from v1alpha4 types so we are preventing errors during cluster creation as well

[2021-04-06 14:43] sbueringer commented on #4177
Would also be consistent with our doc: https://github.com/kubernetes-sigs/cluster-api/pull/4402/files

[2021-04-06 16:38] prksu opened #4436 "Add implementation of conversion webhook for CAPD"
**Detailed Description**

Currently, there is no conversion webhook hubs/spokes implementation for CAPD. It would be good if CAPD has a conversion webhook in place considering the goal of CAPD is to be a reference implementation of an infrastructure provider.

**Anything else you would like to add:**

This issue following up this comment https://github.com/kubernetes-sigs/cluster-api/pull/4417#dis

[2021-04-06 17:08] CecileRobertMichon commented on #4056
/kind release-blocking

[2021-04-06 17:10] vincepri commented on #4436
/milestone v0.4
/assign @prksu

[2021-04-06 17:23] CecileRobertMichon commented on #4423
👍

Would that be breaking back compat rules for beta, ie. support for the last 3 release and/or up to a year ? Not sure if supporting new k8s versions is part of the contract.

[2021-04-06 17:26] CecileRobertMichon commented on #4177
IMO even if only CoreDNS is supported we should still support changing the image repo/tag for dns spec to allow testing CoreDNS itself and/or allow users to use CoreDNS images in different registries. I think a warning in the doc is enough, there isn't a good way to enforce this beyond that without breaking image configuration AFAIK.

[2021-04-06 17:28] sbueringer commented on #4177
I think we were only talking about droppin the `DNSAddOnType` field of the DNS struct not the whole `DNS` field:
[code]

[2021-04-06 17:32] vincepri commented on #4177
+1 to this for sure, and to remove the field like `Type` field as @sbueringer suggested.

[2021-04-06 17:35] CecileRobertMichon commented on #4177
Okay great, that clarifies it.

/kind release-blocking
/retitle remove DNS Type field from DNS spec
/help

[2021-04-06 17:46] #4194 closed

[2021-04-06 17:58] vincepri commented on #4423
We should definitely document this bit and potentially block and upgrade to v0.4 if a cluster is older than 1.18

[2021-04-06 18:34] randomvariable opened #4437 "KCP webhooks for rolloutStrategy block Kubernetes version upgrade when upgrading from v0.3.x to v0.3.15"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

**What did you expect to happen:**
Given a KubeadmControlPlane with spec applied on a cluster running CAPI v0.3.14:

[code]

Should be able to apply a revision with the version set to v1.20.4 after upgrading to CAPI v0.3.15, however, kubectl errors with:

[code]

**Anything else you would

[2021-04-06 18:35] vincepri commented on #4437
/cc @jan-est

[2021-04-06 18:46] CecileRobertMichon commented on #4437
/priority critical-urgent
/release-blocking
/milestone v0.3

[2021-04-06 18:47] CecileRobertMichon commented on #4437
/kind release-blocking

[2021-04-06 19:12] #4383 closed

[2021-04-06 19:34] vivgoyal commented on #4430
Couple of questions here:
1. What is meant by `clusters of similar shapes`? If it is what I think of, wouldn't it be provider specific?
2. What value does adding the extra fields to Cluster CRD add here? Pretty much seems like we are moving few fields from machine CRD to cluster CRD or may be even just copying them.

[2021-04-06 20:30] srm09 commented on #4430
The primary idea behind this proposal is to improve the UX and reusability aspect around cluster creation. Currently the Cluster CRD has too much detail around the ControlPlane and Infra definition for the cluster. Thus the cluster CRD cannot be reused to create multiple clusters of the same type (which is basically what it means by creating clusters of similar shapes)
To enable this use case, Clu

[2021-04-06 21:08] vincepri commented on #3360
@shysank Are you interested in tackling this issue?

[2021-04-06 21:11] vincepri commented on #4278
We should probably look into fixing this in controller runtime, which would benefit the entire community. The test environment package in controller runtime already does some exit handling, let's see if we could cleanup these there first?

[2021-04-06 23:06] nickperry commented on #4430
As an end-user, I think this looks like it could be helpful for us. We would need each role to be able to have its own infrastructure machine template and KubeadmConfigTemplate.

[2021-04-07 03:54] shysank commented on #3360
/assign

[2021-04-07 08:09] frapposelli commented on #4430
I like the idea proposed, looking forward to seeing the proposal 👍🏻

One thing that comes to mind is whether the `version:` and `class:` properties in the revised `Cluster` object should be scoped under `controlplane` and each `workers` section.

[2021-04-07 08:26] maelk commented on #4437
It looks like a "*" is missing in https://github.com/kubernetes-sigs/cluster-api/blob/v0.3.15/controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_webhook.go#L142 (and possibly in the v1alpha4 version too)

[2021-04-07 10:58] invidian commented on #4185
This still doesn't work as expected. Running in alpine container and cloning latest master (5f08b4ad3e87dcc4da6d1f923274d7e3ccd48c2a) gives this:
[code]

Can we please re-open? I'll post full reproduction steps soon.

[2021-04-07 11:13] invidian commented on #4185
[code]

It should return 0, but returns 1 right now.

[2021-04-07 12:15] fabriziopandini commented on #4185
@invidian, usually we avoid to reopen or comment on closed issue.
Please open a new one so we can start from a clean history

[2021-04-07 12:18] invidian opened #4441 ""make generate" still writes generated code to GOPATH/src and removes files from tree"
**What steps did you take and what happened:**
1. `docker run -it --rm golang:alpine sh -c 'apk add -U git make bash curl gcc libc-dev && mkdir -p /usr/src && git clone https://github.com/kubernetes-sigs/cluster-api.git /usr/src/cluster-api && make -C /usr/src/cluster-api generate && git -C /usr/src/cluster-api diff --quiet'`
2. Command returns 1.

**What did you expect to happen:**
Command should

[2021-04-07 12:54] stmcginnis commented on #4441
Got it! Missing using `--output-base=/usr/src/cluster-api` in one of the subdirectories. Patch up shortly.

Thanks for catching this!

/assign

[2021-04-07 13:03] invidian commented on #4441
It seems that https://github.com/kubernetes-sigs/cluster-api/commit/e8cb88e428d75389bf2a4737639fbf787ee64178#diff-76ed074a9305c04054cdebb9e9aad2d818052b07091de1f20cad0bbac34ffb52R296 is missing `$(CONVERSION_GEN_OUTPUT_BASE)`.

[code]

Fixes it.

[2021-04-07 14:23] yastij commented on #3042
for now on the CAPV side, we're having two types of credentials:
- a secret for namespaced credentials
- later down the road  we'd also have a`VSphereAccount` CRD which would be cluster-scoped for accounts that are available for multiple vcenters.

[2021-04-07 15:32] timothysc commented on #4430
I'd expect at this level of consumption the user should not care.  They simply want to change the version and the cluster just upgrades.

[2021-04-07 15:38] vincepri commented on #4430
+1 — The expectation is that MachineDeployment classes are already there in the form of infra and bootstrap templates. The `version` field instead is a way to declare the Kubernetes version for the whole cluster managed topology.

[2021-04-07 15:42] shysank commented on #4430
Is ClusterClass itself immutable? As in, if I want to change a parameter in cc, should I just clone a new one and update that parameter?

[2021-04-07 15:45] vincepri commented on #4430
That was my initial thinking, at least to start with. As soon as we get into mutable territory, things are much get much complicated. Each template reference would have to stay the same, although folks might want to mutate the templates themselves (which could be the next logical step right after the initial version)

[2021-04-07 15:46] fabriziopandini opened #4444 "Define a policy for Kubernetes version support for workload clusters"
**User Story**

As a user I would like to have a clear guarantees about Kubernetes version support for workload clusters for each CAPI release series/release.

**Detailed Description**

This issues is a follow up of https://github.com/kubernetes-sigs/cluster-api/issues/4423

Draft for discussion:
1. Full support for the latest three stable Kubernetes releases at the time of the CAPI release cut:

[2021-04-07 15:55] fabriziopandini opened #4445 "Implement support for kubeadm v1beta3 types"
**User Story**

As a user I would like CAPI to use latest kubeadm API types when possible

**Detailed Description**

kubeadm is going to introduce v1beta3 API types during the v1.22 release cycle, and at the same time, drop v1beta1 types.

CAPI should follow these changes.

**Anything else you would like to add:**

Feasibility of dropping support for v1beta1 types should be evaluated according to

[2021-04-07 16:34] yastij commented on #4430
I think that from a UX perspective there two things we might want to figure out:

- corner case behaviours, e.g. if someone upgrades KCP instead of using the cluster object
- status reporting: we need to select which conditions we need to report, otherwise we'll overload users with info

[2021-04-07 16:38] CecileRobertMichon commented on #4430
Does this proposal also aim to solve https://github.com/kubernetes-sigs/cluster-api/issues/3203? If so, how would we handle updates to the OS image in the InfraMachine template required for k8s version upgrades in a lot of scenarios?

cc @fiunchinho

[2021-04-07 17:17] sbueringer commented on #3042
In case it's relevant in any way, CAPO is using a secret, which is usually located in the same namespace as the Cluster resource, but is referenced via a SecretRef which would also allow using a secret in another namespace.

[2021-04-07 17:42] sbueringer commented on #4423
Not sure if we want to go there, but if I'm not mistaken we don't necessarily need kubeadm v1.22 to create a v1.22 Kubernetes clusters (or at least something like this worked in the past). So if other workarounds for v1alpha3 are more complicated, maybe we can use a kubeadm version < v1.22 to create Kubernetes clusters >= 1.22.

But not sure if that's a good idea.

[2021-04-07 17:47] elmiko commented on #4430
assuming you are talking about the total cluster limits (eg mem, cpu, nodes, etc), i agree and i think it pushes us towards the notion of having some sort of controller (or similar) that could automate deployment of the cluster autoscaler.

[2021-04-07 17:55] neolit123 opened #4446 "Complete Cluster API external security audit"
- email to the SIG CL / Security mailing list explaining the current process:
https://groups.google.com/g/kubernetes-sig-cluster-lifecycle/c/Fi0UGzfbQfY
- CNCF slack discussion xref https://cloud-native.slack.com/archives/CDJ7MLT8S/p1619029631175300
- see more details about the process bellow

-------
old OP:

as discussed with @randomvariable and @PushkarJ we can try requesting third party securi

[2021-04-07 17:55] neolit123 commented on #4446
/assign @PushkarJ @randomvariable
/sig security
/area testing

[2021-04-07 18:55] #4441 closed

[2021-04-07 19:35] #4341 closed

[2021-04-07 21:57] srm09 commented on #4430
Following the discussion we had during the office hours today, handling the version directly in the `Cluster` object would greatly improve the UX around handling cluster k8s version upgrades.
To enable that we would need to pass a template to be used by the KCP (for the Control Plane nodes) and the MachineDeployments(for the various worker nodes)

[2021-04-07 21:58] srm09 commented on #4430
/assign
/lifecycle active

[2021-04-07 22:41] frapposelli commented on #4430
Makes sense for `version`, even though you might want to handle patches rollout in a staggered fashion per each set of workers (like in large clusters) I understand that it's not a common use case that should be served by this approach.

With regards to `class`, I'm particularly thinking about situations where you might have a heterogeneous set of workers (like Linux workers + Windows workers), wh

[2021-04-07 22:41] PushkarJ commented on #4446
Just to clarify the options a bit more here for folks with limited context:

1. CNCF SIG Security security assessment: https://github.com/cncf/sig-security/tree/master/assessments Typically this has been done for CNCF "projects" as part of graduation through different stages. Since CAPI is different, will bring this up in SIG meeting on how to tackle such scenarios in future
2. Kubernetes third pa

[2021-04-07 23:15] srm09 commented on #4430
[code]

`Cluster` would look like:
[code]

The idea here is that the `spec.class.template` will be used as the infra-template when nothin is specified.

[2021-04-07 23:52] frapposelli commented on #4430
Thanks @srm09 that makes a lot of sense

[2021-04-08 04:41] sbueringer commented on #4430
@srm09 When are the `spec.infrastructure.workerNodeTypes[].infrastructureRef` used in your example? Sounded like they are either explicitly specified in the workers array in the CLuster resource or `spec.class.template` is used?

But I think it's okay for now. The idea overall is clear and we can specify the details in a proposal.

[2021-04-08 06:42] chymy opened #4447 "Slow state transition of Machine"
**What steps did you take and what happened:**
The transition of `Machine` from `pending` to `running` is slow.

Infrastructure provider is Openstack.

`Machine.Spec.InfrastructureRef`->`Status.Ready` is true
`Machine.Spec.ProviderID` is synced from `Machine.Spec.InfrastructureRef` -> `Spec.ProviderID`
k8s Node's state is “Ready”

But it takes a few minutes for `Machine` to become `running`.

the

[2021-04-08 06:56] sbueringer commented on #4447
I think I also saw this issue. Could it be that there are no events to trigger the reconciliation in the machine controller and thus we have to wait until the next full sync? (which takes up to 10m in the worst case: https://github.com/kubernetes-sigs/cluster-api/blob/master/main.go#L136)

[2021-04-08 08:32] sbueringer commented on #4278
+1. We should definitely fix/implement this where everyone affected can benefit.

Just to ensure we're talking about the same ideas. I tried a quick hack in CAPI (because it was easier to test for now, then in controller-runtime) and it seems to improve the situation: https://github.com/kubernetes-sigs/cluster-api/compare/master...sbueringer:poc-test-interrupt-handling?expand=1
(@invidian can you

[2021-04-08 09:52] fabriziopandini commented on #4423
As per discussion at the Apr 7th CAPI office hours:
- OK for Cluster API / KCP v1alpha4 won't be able to manage Kubernetes clusters < v1.17,
- Given the time rich between v1alpha4 release and Kubernetes v1.22 release, we should explore a possible workaround for allowing CAPI v1alpha3 to manage Kubernetes clusters >= v1.22

[2021-04-08 11:18] enxebre commented on #4430
This is interesting. Some questions to better understand goals and benefits:
What's the additional value of a clusterClass over what we have abstracted already with the `infraTemplate`?
What's the additional value of having a new abstraction over having new fields/controllers e.g in the existing cluster resource?
How is having the proposed semantics for the cluster topology e.g
[code]
related to e

[2021-04-08 11:26] enxebre commented on #3203
Same use case here, looping over machine compute scalable resources e.g machineDeployments to upgrade them one by one against the current control plane version.

For scenarios where more control is required it'd be possibly good to have `autoUpgrade: false/true` control per machine scalable resource. So you can leveraged are more controlled upgrade for a given machine pool e.g https://github.com/k

[2021-04-08 12:29] fiunchinho commented on #4430
I think having something like the `ClusterClass` makes sense, as it helps to manage a fleet of clusters.

We have a somewhat similar approach within our company, based on a custom CRD that holds
- the k8s version
- the etcd version
- the operating system version

We create a CR for a specific setup (k8s/etcd/OS versions) and link it to a Cluster using an annotation. The annotation holds the name o

[2021-04-08 13:23] alexander-demichev opened #4450 "Add maximal machine age to MHC"
**User Story**

As a [developer/user/operator] I would like to set maximal age for my machines using MHC. The reason is the ability to recycle machines that are older than the user wants them to be. Example use case: Preemptible instances on GCP are deleted every 24 hours and there is no preemptible event coming from the termination endpoint. As a user I'd like to recycle these machine when they e

[2021-04-08 13:32] enxebre commented on #4450
+1
How will we prevent all machines in a scalable resource which might have very similar creation timestamp from being deleted at a time? So we don't drain to relocate workload inefficiently?

[2021-04-08 13:55] JoelSpeed commented on #4450
I think the `maxUnhealthy` should come into play here right? If they all reach the expiry at once, then it will trip `maxUnhealthy` and none of them will get remediated.

Do we need to revisit how `maxUnhealthy` works and make it so that it can go up to that limit for this case? This would be more like how a PDB works with disruptions

[2021-04-08 13:56] fabriziopandini commented on #3042
Trying to distill a generalised approach and possible impacts on clusterctl and in the CAPI provider operator as well:

For the init workflow:
- all the providers/identity management systems do requires to install new CRD types; this could be managed by the existing machinery in clusterctl because identity types will be packaged together with the existing CRDs;
- most of the providers plans to hav

[2021-04-08 14:48] fabriziopandini commented on #4450
This seems to me more a Machine attribute than a MHC rule.
Also we should make this consistent with `UpgradeAfter` existing at KCP level, even if I found using `Rollout` instead of `Upgrade` could be more appropriate.

[2021-04-08 16:13] CecileRobertMichon commented on #4447
Not sure if this is relevant but just in case it's a similar issue: https://github.com/kubernetes-sigs/cluster-api/issues/4062

[2021-04-08 20:04] elmiko commented on #4450
i've heard a similar user story as in the example, on some cloud platforms users would like to consistently replace machines at certain intervals. the story i heard was about improving stability by remediating machines older than a few days. we talked about several ways to do this type of interaction, using the mhc, using metrics/alerting, even using a cronjob. it seems like the mhc is a good tool

[2021-04-08 20:42] detiber commented on #4450
To add to what @fabriziopandini mentioned about consistency with `UpgradeAfter`, someone was recently asking about having `UpgradeAfter` semantics for MachineDeployments, so it seems like having consistent behavior around `UpgradeAfter` and `UpgradeOlderThan` for all resources that may own a Machine would definitely make sense.

Consistent implementation similar to `UpgradeAfter` for something lik

[2021-04-09 01:26] chymy commented on #4447
Machine related resources are ready, no resource change to trigger the reconciliation in the machine controller?

[2021-04-09 05:38] sbueringer commented on #4426
@fabriziopandini If you have some time, can you please check if what I wrote makes sense. Input on how to implement it would be very valuable. Thx :)

[2021-04-09 09:59] invidian commented on #4278
With your commit cherry-picked, I get the following:
[code]

But anyway, I did some tests and still in some cases etcd process is left, but maybe it's better than before, its hard to tell.

Next idea I have is to maybe run etcd as a child process of `go test` the "right" way, so it gets automatically killed when parent process dies? This could be combined with [unlinking](https://askubuntu.com/a/1

[2021-04-09 10:30] sbueringer commented on #4278
Wow, that error looks pretty strange. Like the kubebuilder binries are not available, didn't got that problem on my env.

No idea about the more complicated ways to solve this. I"m not sure on which operating systems it has to work.

[2021-04-09 14:25] detiber commented on #4447
One thing that we *could* do is setup an external event watcher for Nodes, and trigger reconciliation through a [`Channel`](https://pkg.go.dev/sigs.k8s.io/controller-runtime@v0.8.3/pkg/source#Source) source. That would allow us to catch state changes to Nodes and use that to trigger reconciliation of Machines (or MachinePools).

We'd need to try and filter out the majority of the triggering events

[2021-04-09 14:49] fabriziopandini commented on #4426
@sbueringer we are definitely missing something similar to
https://github.com/kubernetes-sigs/cluster-api/blob/7478817225e0a75acb6e14fc7b438231578073d2/controllers/machine_controller.go#L152-L156

In the machine reconcile loop.
Let's get this fixed, but TBH I don't see a direct connection with the web hooks not responding.

[2021-04-09 15:01] fabriziopandini commented on #4450
Agreed with Jason, this annotation should go on the entities who are responsible for managing set of machines,  MachinesDeployments, KCP, possibily MachinePools, and it does not make sense on a single machine.

Wrt to machine deployments, a possible way out is to add a `cluster.x-k8s.io/restartedAt:time` annotation into `spec.template.metadata` as soon as `UpgradeAfter` is past (this is the same t

[2021-04-09 15:10] sbueringer commented on #4426
@fabriziopandini

The webhooks are not responding because they are running in the self-hosted cluster. But the nodes on which they are running don't exist anymore at this moment.
There are a few variants of this problem:
* sometimes the apiserver still exists and the webhooks fail
* sometimes the apiserver is already gone

[2021-04-09 19:07] ludusrusso opened #4454 "Homebrew formula builds the wrong path"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
The [Homebrew formula](https://github.com/Homebrew/homebrew-core/blob/990506a976e22cc77d57d424ef18dbf9de077697/Formula/clusterctl.rb#L17-L19) I've created in #2389 seems wrong:

[code]

It should build the `cmd/clusterapi/main.go`, or call `make clusterctl`. I'm right?

/kind bug
[One or m

[2021-04-09 19:33] ludusrusso commented on #4454
/assign

[2021-04-09 19:50] ludusrusso commented on #4454
Fixed in https://github.com/Homebrew/homebrew-core/pull/74889

[2021-04-09 20:01] #4426 closed

[2021-04-09 20:59] relyt0925 opened #4456 "Add unit tests for OnDelete MachineDeployment Rollout Strategy"
Acceptance Critieria:
- [ ] Unit tests asserting expected functionality of functions in this file: https://github.com/kubernetes-sigs/cluster-api/blob/9f60df1e07bf4ef643cb21907486b9208df89859/controllers/machinedeployment_ondelete.go

[2021-04-09 21:00] relyt0925 opened #4457 "Add unit tests for RollingUpdate MachineDeployment Rollout Strategy"
- [ ] Unit tests asserting expected functionality of functions in this file: https://github.com/kubernetes-sigs/cluster-api/blob/master/controllers/machinedeployment_rolling.go

[2021-04-10 00:29] relyt0925 commented on #4457
/assign @relyt0925

[2021-04-10 00:29] relyt0925 commented on #4456
/assign @relyt0925

[2021-04-10 08:11] ludusrusso commented on #4454
The fix in the homebrew formula has been merge, we can close this!

[2021-04-10 08:11] #4454 closed

[2021-04-12 05:11] MadhavJivrajani commented on #4334
Hi @teoyaomiqui! Are you still working on this?

[2021-04-12 08:35] fabriziopandini commented on #4457
/kind feature
/milestone v0.4

[2021-04-12 08:35] fabriziopandini commented on #4456
/kind feature
/milestone v0.4

[2021-04-12 08:35] fabriziopandini commented on #4456
/lifecycle active

[2021-04-12 08:36] fabriziopandini commented on #4457
/help

[2021-04-12 08:41] fabriziopandini commented on #4058
/unassign
/remove-lifecycle stale

[2021-04-12 08:42] fabriziopandini commented on #4058
/help

[2021-04-12 09:33] fabriziopandini opened #4461 "TestReconcileUpdateObservedGeneration is flaky"
looking at https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api#capi-pr-test-main&width=20 is seems that TestReconcileUpdateObservedGeneration is really flaky

Two types of errors can be seen in the job

[code]
and
[code]

/kind failing-test
/kind flake
@sbueringer
@davideimola

[2021-04-12 09:39] fabriziopandini opened #4462 "Periodic e2e test for workload cluster upgrade from v1.21 to latest are failing"
Looking at https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api#capi-e2e-main-1-21-latest&width=20 those test are consistently failing

[code]

/kind failing-test
@srm09
@sbueringer

[2021-04-12 09:44] fabriziopandini opened #4463 "Periodic e2e test for workload cluster upgrade from v1.20 to v1.21 are failing"
Looking at https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api#capi-e2e-main-1-20-1-21&width=20 those test are consistently failing

/kind failing-test
@srm09
@sbueringer

[2021-04-12 09:54] davideimola commented on #4461
Hi @fabriziopandini,
I think the first issue is caused by those lines

https://github.com/kubernetes-sigs/cluster-api/blob/e4ae2abb15c26e7e1d59dd90cbd050e6be007552/controlplane/kubeadm/controllers/controller_test.go#L157-L163

After the creation, we are not reconciling (I think it is required), and maybe we can add the generation reading inside the Eventually.

The other issue maybe can be fixed b

[2021-04-12 10:08] fabriziopandini opened #4464 "Allow management of Kubelet configuration in CAPI"
**User Story**

As a CAPI user I would like to manage the KubeletConfiguration in a declarative way

**Detailed Description**

This is a follow up of https://github.com/kubernetes-sigs/cluster-api/issues/1584.

As of today when initialising a cluster with CABPK, a default KubeletConfiguration is used and stored into `kubelet-config-XX` ConfigMap gets created, and the same config map is then carrie

[2021-04-12 10:12] fabriziopandini commented on #1584
/close
In favour of https://github.com/kubernetes-sigs/cluster-api/issues/4464, given that it provides a more specific use cases for KubeletConfiguration at least.
Eventually we can create a similar issue for Kubeadm-proxy as well, but given that the two configurations are managed in very different ways in a running cluster, let's keep the issues separated

[2021-04-12 10:12] #1584 closed

[2021-04-12 10:26] fabriziopandini commented on #4461
/assign
/lifecycle active

[2021-04-12 13:37] teoyaomiqui commented on #4334
@MadhavJivrajani I didn't have time to start this yet. But I will start this week if that's alright with the release schedule?

[2021-04-12 14:35] MadhavJivrajani commented on #4334
Hi @teoyaomiqui, I probably should've been clearer in my comment, I'm not sure about the release cycle, I had asked mostly because I was hoping to work on this issue if you weren't planning to. Let me know if I can take this up! 😄

[2021-04-12 14:36] teoyaomiqui commented on #4334
@MadhavJivrajani sure, you can pick it up :)

[2021-04-12 14:38] MadhavJivrajani commented on #4334
/unassign @teoyaomiqui
/assign

[2021-04-12 15:14] sbueringer commented on #4464
If possible, I think it would be really nice to be able to use different KubeletConfiguration for control plane and worker nodes.

Our experience is that depending on the node size the eviction thresholds should be configured differently. E.g. control plane nodes with 4 cpu / 16 GI require different thresholds then worker nodes with 16 cpu / 16 Gi RAM.

On our internal platform we solved this by d

[2021-04-12 15:22] detiber commented on #4464
I agree with @sbueringer, if we allow this we should allow for a configuration on a more granular level than an entire cluster. I would argue probably allow for configuration at the KCP, MachinePool, and MachineDeployment/MachineSet level, that way one could get as granular as they wanted.

The one thing that I do worry about with this, though is that currently doesn't kubeadm manage the KubeletCo

[2021-04-12 15:24] sbueringer commented on #4058
This might be related to the flaky tests we have in this area (e.g. `TestReconcileUnhealthyMachines`). Some of the test logs look like some of our patch status func are not always working:
* https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/periodic-cluster-api-test-main/1381006557096972288

[2021-04-12 15:32] sbueringer commented on #4464
I'm not sure about the impact of updates. Just some details about our current solution:
* per Node
  * create server in IaaS
  * kubeadm init / join
  * deploy KubeletConfigurationConfigMap
  * set Node KubeletConfig on the Node (spec/configSource/ConfigMap/*)
  * wait until KubeletConfig active (i.e. Node.Status.Config.Active.ConfigMap.{Name,UID,ResourceVersion} matches to the CM deployed before)

[2021-04-12 15:33] neolit123 commented on #4464
i think the best option is to just allow passing KubeletConfiguration to the `kubeadm join` command and apply some sort of a marker (e.g. `# some yaml comment`) to this kubelet config.yaml is no longer managed by kubeadm:
https://github.com/kubernetes/kubeadm/issues/1682

as far as the kubelet CM naming goes, we really want kubeadm to stop versioning the CM name:
https://github.com/kubernetes/kube

[2021-04-12 15:39] neolit123 commented on #4464
but to share, @fabriziopandini and me had a lengthy discussion about the state of kubeletconfiguration vs kubelet flags vs instance specific config vs component config upgrade and overall this space is quite messy and problematic.

@fabriziopandini preferred that we continue using the pattern on passing a single config to kubeadm and then users could apply node specific overrides with kubeletExtra

[2021-04-12 15:41] sbueringer commented on #4464
@neolit123
So from a CAPI perspective:
* deploy KubeletConfiguration ConfigMap
* pass the name of the KubeletConfiguration to kubeadm, kubeadm then ensure that the KubeletConfiguration ConfigMap is used and we don't have to.

Possible problem:
* we can only change the KubeletConfiguration when creating new nodes, we cannot dynamically change it (but maybe that wasn't the plan anyway)

That was als

[2021-04-12 16:06] detiber commented on #4062
I suspect there are two components to this (and similar for Machine as well, just on a smaller scale).
1) reconciling underlying infrastructure changes
  - Like @fabriziopandini mentioned above, this is likely not something we can solve well at the CAPI level
  - Provider can handle this either through polling (quicker re-reconciliation)
  - Provider likely should handle this through some type of

[2021-04-12 16:37] JoelSpeed opened #4468 "Add option to disable NodeStartupTimeout on MachineHealthCheck"
**User Story**

As a user I would like to be able to specify a healthcheck that does not have a node startup timeout for so that I can handle complex healthcheck logic separately.

As a cluster fleet administrator, I would like to create MachineHealthChecks that are suitable for all clusters, regardless of platform. Since I cannot know what a reasonable NodeStartupTimeout is, I would like to disab

[2021-04-12 16:45] vincepri commented on #4468
`NodeStartupTimeout` seems to be a `metav1.Duration`, we could distinguish between `nil` and `0s`, although that makes defaulting a bit complicated. Looking at the defaulting code we have today, it seems that if the value is `nil` we default it to 10 minutes.

The current minimum we require is 30s, although we could allow folks to set it to 0s instead?

/area api

[2021-04-12 16:45] vincepri commented on #4468
/area health

[2021-04-12 16:56] detiber commented on #3793
/lifecycle frozen

[2021-04-12 17:03] JoelSpeed commented on #4468
I was having a play before with this and couldn't get it to work with 0, but just had another play and got it working. Though because a `metav1.Duration` is a string, you have to put it in quotes, so it looks like `nodeStartupTimeout: "0"`.

I'm happy with either, though, I am wondering if the `-1` value is a more obvious disable string, wondering if `0` could be interpreted in a different way?

[2021-04-12 17:13] fabriziopandini commented on #4334
Sorry for getting late to this issue, but what about considering an approach similar to https://cluster-api.sigs.k8s.io/clusterctl/configuration.html#cert-manager-timeout-override instead of adding a flag to all the clusterctl CLI commands?

[2021-04-12 17:15] sbueringer commented on #4468
Semantically "0" could be a bit problematic. I think it could imply that startup timeout is actually "0".

[2021-04-12 17:27] vincepri commented on #4468
Most of the Kubernetes APIs I've seen have 0 to default to unlimited / disabled behaviors. I wouldn't want to necessarily introduce yet another value between nil or 0

[2021-04-12 17:31] sbueringer commented on #4468
Do they also have different behaviour regarding explicitly set to zero value vs unset?

[2021-04-12 17:42] sbueringer commented on #4462
I'll take a look.

There are a few open issues regarding 1.21 with kind, so we might have to wait until the next kind release (I think current estimation is next week):
* https://github.com/kubernetes-sigs/kind/issues/2189
* https://github.com/kubernetes-sigs/kind/issues/2188

I think they are not related, but who knows :)

/assign

[2021-04-12 18:17] vincepri commented on #4468
No, right now if it's `nil`, we default it to `10m` and the minimum is `30s`. We can allow folks to set it to `0s` and disable it that way.

[2021-04-12 18:32] sbueringer commented on #4462
Tried to run the test locally (with kind 0.10.0) and I definitely got: https://github.com/kubernetes-sigs/kind/issues/2189

Not sure why the e2e test in Prow only fails a bit later. But as we want to update kind anyway pretty soon. I'll open a PoC-PR with a main-kind version to check if the tests will work with the upcoming kind version.

I would probably not invest too much to find out why the te

[2021-04-12 18:34] sbueringer commented on #4463
I think this might be the same underlying issue as in https://github.com/kubernetes-sigs/cluster-api/issues/4462

[2021-04-12 19:56] detiber commented on #4444
@fabriziopandini I think we need to break this down a bit more granular. I tend to agree with this for individual patch releases, but I think we need something a bit more flexible for major/minor releases.

For example, for a given minor release, I think we should give best effort support for future versions that are released during the time that we are actively supporting a minor release (how to

[2021-04-12 19:59] detiber commented on #4444
It would also be nice to keep best effort support for older Kubernetes versions as much as possible across minor version bumps to ease the burden of management cluster upgrades. While I would love it if everyone upgraded their clusters frequently, I don't know that we've actually seen that in the real world. It might be good to try to get some more real world user feedback around this.

[2021-04-12 20:40] sbueringer commented on #4463
/assign

[2021-04-12 20:52] kfox1111 commented on #4444
With about a dozen of clusters to my name, and currently none of them at 1.21, I can chime in a bit.

There are several reasons not to upgrade right away. In the past, k8s was not very mature. so the many reasons were mostly outweighed by needing features so frequent upgrades dominated the equation. I kept all my clusters very up to date. As Kubernetes has matured, that flipped at 1.15.

The big i

[2021-04-12 21:49] neolit123 commented on #4444
@kfox1111

can you elaborate on what APIs got deprecated in 1.16 and what is planned for deprecation in 1.22 that you see as upgrade blockers / delayers?

[2021-04-12 22:05] sbueringer commented on #4444
@neolit123  I think:
* 1.16: https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/
* Same article contains some for 1.22

But I think this highly depends on the environment / company etc. For example:
* we have about 500-600 clusters internally
* we keep them all on the same version (we rollout 1.20 right now and are usually 1 release behind Kubernetes)
* we have no problems with users o

[2021-04-13 06:47] chymy commented on #3564
Hi， @vincepri, Why not update the code？
https://github.com/kubernetes-sigs/cluster-api/blob/d1dc87d5df3ab12a15ae5b63e50541a191b7fec4/controlplane/kubeadm/api/v1alpha4/kubeadm_control_plane_webhook.go#L475-L486

Upgrading from k8s1.17.9 to 1.19.4 also failed.

[2021-04-13 07:08] chymy commented on #3564
Why not upgrade across 2 Minor versions? Is it related to API compatibility?

https://github.com/kubernetes-sigs/cluster-api/blob/d1dc87d5df3ab12a15ae5b63e50541a191b7fec4/controlplane/kubeadm/api/v1alpha4/kubeadm_control_plane_webhook.go#L488-L504

[2021-04-13 10:00] enxebre commented on #4468
using 0s sounds reasonable to me.

@JoelSpeed what's the relation you seeing between having a custom health check and having an infinite NodeStartupTimeout?
A NodeStartupTimeout would be reasonable regardless of what/how deletion was triggered right?

[2021-04-13 10:07] JoelSpeed commented on #4468
@enxebre in particular, the scenario we are looking at is spot instances. For security reasons we use MHC as a proxy to get deletion and draining. So we want an MHC that will react to our spot termination condition, but not react to startup timeout. It's acceptable for the system as a whole to react to these system initiated events, but users may not want the startup timeout to be in place in this

[2021-04-13 10:35] enxebre commented on #4464
Relates to https://github.com/kubernetes-sigs/cluster-api/issues/4444

[2021-04-13 12:08] neolit123 commented on #3564
K8s components have a version skew and skipping minor versions is not
supported.

https://kubernetes.io/docs/setup/release/version-skew-policy/

[2021-04-13 14:21] fabriziopandini commented on #4444
@kfox1111 @sbueringer thanks for context.
@detiber I hear you asking for a policy that applies at minor release version (and possibly cross major versions).

I understand very well users concerns, and I agree on your points.
However from the other side I'm concerned to declare something that we can effectively ensure as a project, and this imply proper E2E test coverage + the capability to deal wi

[2021-04-13 14:30] fabriziopandini commented on #4461
the fix should be worked in testenv/controller runtime (use the live client, fix kubernetes/kubernetes#80609), so I'm temporarily disabling the test to unblock PRs

[2021-04-13 15:11] fabriziopandini commented on #4464
This issue is about allowing a declarative approach around KubeletConfiguration as it is supported in kubeadm today (cluster level configuration).

Instance/group of instance specific KubeletConfigurations is something useful, but the change should be implemented in kubeadm first, and only after in CAPI. However as @detiber and @neolit123 was pointing out:

- As of today there is not automatic con

[2021-04-13 16:15] vincepri commented on #4468
Let's please consider this in another issue. This is a breaking behavioral change, and we might not be able to make it for v0.4.0 at this point.

[2021-04-13 16:16] fabriziopandini commented on #4423
@CecileRobertMichon @vincepri @detiber I have investigated a possible workaround for allowing CAPI v1alpha3 to manage Kubernetes clusters >= v1.22.

This is possible, but it requires dedicated PR targeting release-0.3 branch given the number of changes landed in this area for v1alpha4.

As a result starting from CAPI v0.3.16, it will be possible to install v1.22 clusters (older version can't do th

[2021-04-13 16:19] vincepri commented on #4423
I'm fine with the approach described, @CecileRobertMichon @detiber thoughts?

[2021-04-13 16:22] vincepri commented on #3793
@davideimola This is also another good issue to tackle if you're up for it

[2021-04-13 16:26] davideimola commented on #3793
Thanks @vincepri!

/assign
/lifecycle active

[2021-04-13 17:07] detiber commented on #4423
@fabriziopandini awesome news, I'm a +1 for adding support to v0.3.x for k8s v1.22+

[2021-04-13 17:07] CecileRobertMichon commented on #4423
SGTM, looks like this will be true for v0.3.17+ though as we'll most likely release v0.3.16 earlier.

[2021-04-13 17:08] n1r1 commented on #4468
+1 for default to off. It makes sense.

[2021-04-13 17:21] fabriziopandini commented on #4423
Ok, I will start working on this and try to get this into the v0.3.x train ASAP

[2021-04-13 18:53] vincepri commented on #4468
/milestone v0.4

[2021-04-13 19:04] randomvariable opened #4472 "KCP remediation when desired replicas are 3 and 3rd node fails."
**Detailed Description**

Given the following scenario:

- Define a KCP with 3 replicas
- 2 CP nodes provision successfully
- The 3rd CP node loses internet connectivity on boot, never joins the cluster
- There is a MHC defined for the cluster

In this circumstance, after the NodeStartupTimeout, MHC will mark the 3rd CP node as unhealthy, but KCP will not remediate the machine because there are on

[2021-04-13 19:21] #4382 closed

[2021-04-13 19:24] vincepri commented on #4472
/assign @fabriziopandini
/milestone v0.4

[2021-04-13 19:29] fabriziopandini commented on #4472
@randomvariable is it possible to have KCP logs for this use case?

[2021-04-13 19:44] relyt0925 opened #4473 "Potential Bug: Pause Annotation blocks all reconciliation"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
Set a MachineSet or MachineDeployment to have the paused annotation when it has machines provisioned (let's say 3 machines total).

Then delete one of the downstream machines. The actual replicas of the MachineSet remain at 3 because the pause annotation blocks all reconciliation.

**What

[2021-04-13 19:57] sbueringer commented on #4462
First green run: https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/periodic-cluster-api-e2e-workload-upgrade-1-21-latest-main

[2021-04-13 21:25] CecileRobertMichon commented on #4473
IMO it might be valuable for _all_ reconciliation activities to be paused in some situations. For example, when the cluster is being moved from one management cluster to another. So it might not be a bug but rather a matter of making documenting the intended behavior very explicit. And possibly adding more robust tests around the behavior of each controller when pause is enabled.

[2021-04-13 21:39] CecileRobertMichon opened #4474 "clusterctl doesn't wait for deployments to be available"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

[code]

**What did you expect to happen:** I would expect clusterctl init not to return until all CAPI provider deployments are Available. I need to check but I'm pretty sure this was the case with previous versions of clusterctl, has there been a regression? This is with clusterctl `v0.3

[2021-04-13 21:41] CecileRobertMichon commented on #4474
The impact of this is that the user would get errors when trying to create a cluster until pods are ready, eg (from a new user):

[code]

[2021-04-13 21:59] CecileRobertMichon commented on #4474
/area clusterctl

[2021-04-13 22:41] srm09 commented on #3970
Merged https://github.com/kubernetes/kubernetes/pull/100439 to `main` branch for k8s repo. Marked for v1.22 milestone.

[2021-04-13 23:31] #3373 closed

[2021-04-14 01:12] nilo19 commented on #4474
/cc

[2021-04-14 03:51] sbueringer commented on #4463
This test is still failing, even after the recent CoreDNS fix, links:
* https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api#capi-e2e-main-1-20-1-21
* https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/periodic-cluster-api-e2e-workload-upgrade-1-20-1-21-main/1382018928795979776

## Summary

* Issue is related to #4462 (it's also about CoreDNS), but it's not exactly the same
* imho we have to