[2022-06-15 01:28] ykakarap opened #6651 "Version upgrade of managed topologies should be sequential"
**What steps did you take and what happened:**
If the topology version is upgraded to v2 while the cluster is in the middle of upgrading from v0 to v1 the control plane will eventually pick up v2 after upgrading to v1 before the Machine Deployments have been upgraded to v1.

This will lead to machine deployments being eventually upgraded from v0 to v2, skipping v1 entirely.

**What did you expect

[2022-06-15 01:28] ykakarap commented on #6651
/assign

[2022-06-15 04:56] sbueringer commented on #6286
I think something like the following should be fine:
* if --kubeconfig is set use that one
* if in cluster use in cluster config

Not sure at which point we should check for the default kubeconfig, but that might be already handled by the client-go util funcs which are usually used for this.

[2022-06-15 09:21] sbueringer opened #6653 "SSA: ClusterClass with MHC fails"
I'm creating a ClusterClass with MHC and the reconciler fails with the following error

Error message:

Stacktrace (thx JSON logging!)
[code]

The problem is the following:
* In `desired_state.go` we are copying over the owner rev of the previous MHC: https://github.com/kubernetes-sigs/cluster-api/blob/abb8f5f55aaf12dc0a9572fc4b4d3570fc8bc528/internal/controllers/topology/cluster/desired_state.go#

[2022-06-15 10:15] #6549 closed

[2022-06-15 11:22] furkatgofurov7 commented on #6285
@enxebre hi! is there anything that needs to be clarified/missing to move forward with this issue?

[2022-06-15 15:49] ykakarap commented on #6650
/assign

[2022-06-16 00:00] Jont828 commented on #6286
So for the in-cluster config there are two approaches we could take. We could take the approach you outlined where we check for it, and if we get an ErrNotInCluster we suppress it and move on to the default kubeconfig discovery rules. Alternatively, we could add a flag to pass in the in-cluster config and if it's set, we skip the default kubeconfig discovery rules. I think the benefit of the latte

[2022-06-16 10:03] fabriziopandini opened #6657 "Make KCP more resilient to flaky networking"
KCP by design prefers stability over speed, and this in practice is translated into KCP requiring a set of information to be present before taking any action no matter the operation he is currently performing (scaling up, down, upgrade, remediation, etc.).

That information is collected from the workload cluster, and in order to do so a KCP depends on a fully working network setup.

Based on obser

[2022-06-16 14:07] sonasingh46 commented on #5008
Hey folks, did not get chance to start working on this and am occupied for couple of weeks. If anyone is interested meanwhile feel free to pick up this.

[2022-06-17 05:25] sbueringer commented on #6286
I would really prefer if it's just auto-discovery and simply works out of the box without anyone having to specify a special flag for it.

Maybe we can take a look at how kubectl does it. Afaik it automatically works in a Pod / on a local env

[2022-06-17 08:06] sbueringer commented on #4464
fyi. If I understood it correctly it should be possible to customize/patch the KubeletConfiguration with kubeadm/Kubernetes v1.25:
* https://github.com/kubernetes/kubeadm/issues/1682
* https://github.com/kubernetes/kubernetes/pull/110405

[2022-06-17 08:08] sbueringer opened #6661 "Tasks for Kubernetes v1.25"
This issue is tracking the list of tasks that should be implemented when Kubernetes v1.24 is released. **Currently, we are waiting for the Kubernetes release**

For prior art please see #5968

* CI:
    * [x] CAPD:
       * [x] PR: #7156
       * [x] release-1.2 PR: #7174
       * `docker.yaml`: `KUBERNETES_` env vars in `variables`
       * Tiltfile
       * kind_provider.go, docker/*, ... (just

[2022-06-17 08:10] sbueringer commented on #6596
For completeness. Upstream kubeadm issues/PRs:
* https://github.com/kubernetes/kubeadm/issues/2671
* https://github.com/kubernetes/kubernetes/pull/110343

I added it as release specific task to our v1.25 tracking issue #6661

[2022-06-17 13:12] jayunit100 opened #6663 "ClusterClass fine grained infra examples"
This is mostly a idea for more fine-grained clusterclass examples, am ok if folks decide to close it.

**What steps did you take and what happened:**

I was reading the ClusterClass CAEP and felt like i wanted more fine grained examples of how to configure things that reach deep into MachineDeployments, Kubeadm configuration, `etcd` bootstrapping, and so on.

It used to be that as users we interfa

[2022-06-17 17:12] #4938 closed

[2022-06-17 18:22] #6639 closed

[2022-06-18 07:15] ykakarap opened #6667 "`BeforeClusterUpgrade` and `AfterControlPlaneUpgrade` are getting called multiple times per reconcile"
**Details:**

If a cluster upgrade is blocked by the `BeforeClusterUpgrade` (or subsequently by the `AfterControlPlaneUpgrade` hook) the reconciler is triggered more than once in quick successions.

Example: As long as the `BeforeClusterUpgrade` hook returns a hook response with `RetryAfterSeconds` set to `10` the cluster object should be requeued and processed once every ~10 seconds. But the clus

[2022-06-18 07:17] ykakarap commented on #6667
/assign

[2022-06-18 10:26] oscr opened #6669 "Cluster API Roadmap documentation outdated"
The cluster api books roadmap hasn't been updated for ~2 years:
https://github.com/kubernetes-sigs/cluster-api/blame/main/docs/book/src/roadmap.md
https://cluster-api.sigs.k8s.io/roadmap.html

I suggest to simply just delete the roadmap to avoid having to duplicate information between GitHub and the book. But it's the core teams call. I can make a pr to fix it when I know what you would like to do

[2022-06-18 15:26] sayantani11 commented on #6016
/remove lifecycle-stale
I'll make another PR for the issue ASAP

[2022-06-18 20:33] ykakarap opened #6671 "Create jobs for the release-1.2 branch"
Hey folks,
The release-1.2 branch is going to be created. Now we can setup the jobs in test-infra for that branch.

We have to do the following:

* Add the new `sig-cluster-lifecycle-cluster-api-1.2` dashboard group and dashboard in https://github.com/kubernetes/test-infra/blob/ff46c2790d6d0f795a5aacaa96ecd307da230605/config/testgrids/kubernetes/sig-cluster-lifecycle/config.yaml
* Copy `cluster-ap

[2022-06-18 20:33] ykakarap commented on #6671
/assign

[2022-06-19 14:07] valaparthvi commented on #5648
This looks interesting to me. @sbueringer, do you mind if I pick it up?

[2022-06-19 20:51] fabriziopandini commented on #6671
@ykakarap could you transform the issue description into a list/checklist for better readability?

[2022-06-19 20:59] fabriziopandini commented on #6663
+1 to add more examples in the book.
Being the CAEP a design doc, IMO we should have other trade-offs in order to explain concepts and how things work.

What is really important however is to start collecting the use case we want to document.

[2022-06-19 21:07] fabriziopandini commented on #6667
Note: by design, a hook can be called many times.
If we can mitigate the effects of the many reconcile happening due to other watches, that's ok, but I would not consider this a bug but an improvement.
/remove-kind bug
/kind feature

[2022-06-19 21:08] fabriziopandini commented on #6149
/lifecycle frozen

[2022-06-20 07:22] sbueringer commented on #6669
Looks like a duplicate of https://github.com/kubernetes-sigs/cluster-api/issues/5519

/area documentation

[2022-06-20 07:32] sbueringer commented on #6667
Agree

I think

Is not achievable. We should definitely take a look if we have bugs like the one fixed in your PR, but overall we can't guarantee that we only reconcile once every 10 seconds. There are just to many updates that are absolutely expected on the Cluster CR and on objects of the managed topology.

[2022-06-20 07:34] sbueringer commented on #6663
I'm not sure if we should really integrate infra provider examples into our book. We will essentially copy something which (hopefully?) works today into our book and nobody will take care that it will work going forward.

In my opinion we are using cluster templates today for something like this. Why not do the same for ClusterClass based cluster templates?

[2022-06-20 08:19] oscr commented on #6669
Sorry! My mistake.

[2022-06-20 08:19] #6669 closed

[2022-06-20 08:24] valaparthvi commented on #5648
/assign

[2022-06-20 08:31] sbueringer commented on #6669
No problem, nevertheless the question is reasonable. Keeping an outdated roadmap doesn't really help

[2022-06-20 08:41] chrischdi commented on #6641
/assign

[2022-06-20 08:48] #6667 closed

[2022-06-20 08:57] sbueringer commented on #6641
Please note there's a PR open to add the 1.2 jobs: https://github.com/kubernetes/test-infra/pull/26621

We have to make sure that they eventually also use the right CoreDNS version

[2022-06-20 08:57] sbueringer commented on #6641
(doesn't block this issue, we should just make sure to comment on the 1.2 PR to make the same adjustments)

[2022-06-20 08:58] sbueringer commented on #6641
Almost forgot. There is currently no way to verify that a bump to v1.9.3 works in the v1.24=>v1.25 job as this job is currently broken: #6596

[2022-06-20 10:24] fabriziopandini commented on #6663
Avoiding creating documents we cannot maintain, really resonates with what I meant by "we really need the help of the community to understand how to improve our docs one step at time..."

[2022-06-20 10:36] chrischdi commented on #6641
@sbueringer should I still go forward and already create the PR in tets-infra or should we wait on this until #6596 got fixed?

[2022-06-20 11:14] sbueringer commented on #6641
You can open the pr already if you want

[2022-06-20 11:17] MaxRink opened #6674 "Clusterctl upgrade fails due to cert-manager CRDs"
**What steps did you take and what happened:**
When trying to upgrade our clusters to the latest capi version ( 1.1.4 ) we noticed that the upgrade fails
[code]
After closer inspection that seems to be an issue caused by https://github.com/kubernetes-sigs/cluster-api/pull/6432 , as v1.6 got skipped.
1.6 marked alpha2 as not served, so only after applying 1.6 crds the upgrade to 1.7 is possible
htt

[2022-06-20 11:53] chrischdi commented on #6674
Hey,

I was not able to reproduce the issue and was able to upgrade cert-manager successfully from v1.5.3 to v1.7.2 via clusterctl:

[code]

could you please provide some more information?

* Kubernetes version: (use kubectl version):
* Cluster-api version: (maybe output of `kubectl get providers -A`)
* Do you know if cert-manager was installed manually or via `clusterctl`?

[2022-06-20 11:55] MaxRink commented on #6674
The k8s version is 1.21.11, capi is now current (as clusterctl 1.1.3 still works)

[code]
and cert-manager is clusterctl managed

[2022-06-20 12:24] oscr commented on #5519
Since #6253 was closed without being merged, may I suggest removing the stale information from the Cluster API book for now and adding it later when/if a roadmap has been agreed upon?

[2022-06-20 14:11] sbueringer commented on #6641
/reopen

Let's keep it open until #6596 is fixed and we can verify everything works

[2022-06-20 14:18] sbueringer commented on #6615
@CecileRobertMichon No rush, but can you write the Netlify folks to fix our cert again? (https://release-1-2.cluster-api.sigs.k8s.io/reference/versions.html)

[2022-06-20 14:30] sbueringer commented on #6615
@ykakarap I opened a PR for the milestone applier to avoid mislabeling PRs to the wrong milestone

[2022-06-20 14:37] sbueringer opened #6676 "CAPI periodic-cluster-api-e2e-workload-upgrade-1-21-1-22-main job fails frequently"
According to testgrid the 1.21=>1.22 upgrade job fails frequently: https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api#capi-e2e-main-1-21-1-22

The error looks like this

My theory is that somehow we don't patch the CoreDNS role in those test runs. Usually we patch it for Kubernetes >=1.22 and CoreDNS >= 1.8.1.

https://github.com/kubernetes-sigs/cluster-api/blob/5026786ee809c5def466049f5bef

[2022-06-20 14:40] sbueringer opened #6677 "homebrew action does not work"
The homebrew action does not work. It fails at least since year, but we assume it never worked.

Actions logs: https://github.com/kubernetes-sigs/cluster-api/actions/workflows/update-homebrew-formula-on-release.yml

Error

It looks like the action requires a **personal** access token to create a PR from a private fork. As we don't want to leak personal access tokens into a comunity-owned repo, the

[2022-06-20 14:42] sbueringer commented on #6677
Nevermind, I forgot I opened an issue for it 2 weeks ago :/

#6613

[2022-06-20 14:42] #6677 closed

[2022-06-20 14:56] RobinDeBock opened #6678 "Fails to create many nodes (4+ with Kindnet and 9+ with Calico as CNI)"
I'll leave this issue for new users who might stumble upon this problem in search result. You can read this message of go straight to [https://kind.sigs.k8s.io/docs/user/known-issues/#pod-errors-due-to-too-many-open-files](https://kind.sigs.k8s.io/docs/user/known-issues/#pod-errors-due-to-too-many-open-files) to fix it.

This is going to be a long read. I'll keep updating this initial message with

[2022-06-20 15:05] RobinDeBock commented on #6678
It's related. I'm running Docker on Linux, so using Docker Engine, not Docker Desktop.
I'll make a PR where I update this information. Thanks for the link!

[2022-06-20 15:05] #6678 closed

[2022-06-20 15:08] killianmuldoon commented on #6678
I'd be interested in improving our discoverability for the issue too. For me a google search of `"too many open files" cluster api` doesn't actually return our troubleshooting page.

I think it's more likely to pick up github issues etc. though. I wonder if there's a way we can improve the experience of people who encounter issues like this.

[2022-06-20 15:11] fabriziopandini opened #6679 "Add support for ImagePullPolicy in KCP and CABPK"
**User Story**

As a user/operator I would like to use all the latest and greatest from kubeadm

**Detailed Description**

https://github.com/kubernetes/kubernetes/pull/102901 added support for the `imagePullPolicy` option in the kubeadm config file; we should make this option available in KCP and CABPK

**Anything else you would like to add:**

This is a good opportunity to diff the entire set of

[2022-06-20 15:25] RobinDeBock commented on #6678
Hey @killianmuldoon thanks for mentioning this. It kinda bothered me I overlooked that information and couldn't really figure out why (you start doubting your sanity after searching for an issue for almost half a week).

This could be an agenda item or worth a brainstorm @fabriziopandini @sbueringer

[2022-06-20 16:33] sbueringer commented on #6679
Just a note. I think we intentionally didn't add some fields because they didn't make sense in our context (I did the diff a few months back)

[2022-06-20 19:01] chrischdi commented on #6676
I'm not able to directly reproduce it, I have to use slightly other kubernetes versions (patch version) because the referenced images of the job are not available for mac M1 and building the kind images fails on mac M1 :-(

From original file, this then builds kind images for `v1.21.14 ` and `v1.22.11`, but did also already build and fail with the previous k8s versions (`v1.22.10`):
[code]

mac M1

[2022-06-21 02:55] #6277 closed

[2022-06-21 05:25] #6267 closed

[2022-06-21 05:38] sbueringer commented on #6676
Can you build/push the images on Linux and then use them on MacOS? (assuming linux images can be just used in the M1 Mac Docker for Desktop)

[2022-06-21 06:02] sbueringer opened #6687 "Bump github.com/google/go-github"
We are currently using github.com/google/go-github v33 while there's already a v45.

Let's bump to the latest version.

/kind feature
/help-wanted

[2022-06-21 06:03] sbueringer opened #6688 "pkg/errors is no longer maintained and archived"
To be honest, I'm not sure what we want to do or if we want to do something, but just found out that pkg/errors is archived.

See: https://github.com/pkg/errors/issues/245

/kind bug
/area dependency
[One or more /area label. See https://github.com/kubernetes-sigs/cluster-api/labels?q=area for the list of labels]

[2022-06-21 09:26] sbueringer commented on #6676
@chrischdi I was thinking a bit about this failure and have a theory.

Assumption: this error started to occur when we switched the upgrade test to ClusterClass

Before: We set the Kubernetes and CoreDNS with the same patch call on the KCP resource
Now: We set spec.topology.version and the CoreDNS variable at the same time on the Cluster. They might still be applied at the same time to KCP but we

[2022-06-21 09:47] sbueringer commented on #6674
Interesting issue.

Some observations:
* the last time we deployed v1alpha2 resources (at least in the core CAPI provider) was v0.3.x
* CertificateRequests is a resource created by cert-manager (as part of reconciling Certificate afaik)

@MaxRink from which version did you upgrade?

I would assume for v0.3 => (v0.4 | v1.0.x) => v1.1.x it should be fine as I would expect old CertificateRequests to

[2022-06-21 11:03] furkatgofurov7 opened #6691 "Handle status.storedVersions migration during upgrades"
**User Story**

As a developer/user/operator, I would like to do an upgrade from old API versions to newer ones in sequence (v1a3 => v1a4 => v1beta1 ) without manually removing stored versions and applying them in the middle of the upgrade process (v1a4 => v1beta1 since v1a4 would have v1a3 `storedVersion` in the status).

**Detailed Description**

we have a scenario where we do an upgrade from CA

[2022-06-21 12:07] sbueringer commented on #6674
Yup. It's just that clusterctl upgrade deletes/creates all Certificates during an upgrade.

I think that makes sense, even if we don't 100% no in which cases this issue occur / doesn't occur.

[2022-06-21 12:11] furkatgofurov7 commented on #6691
Based on the slack conversation we had, this is a small summary of all points we had:

- there is an instruction on upstream k8s docs how to handle this:
https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning/#upgrade-existing-objects-to-a-new-stored-version and whole project to ensure storage version for all CRDs:
https://github.com/kubernetes-si

[2022-06-21 12:30] sbueringer commented on #6653
Has been fixed in #6660

/close

[2022-06-21 12:30] #6653 closed

[2022-06-21 12:49] chrischdi commented on #6676
I'm trying to dig deeper into this.

/assign

[2022-06-21 13:59] oscr commented on #5519
With #6680 the outdated roadmap has been removed and the CAPI book refers to GitHub for future roadmaps. So this issue is at least partly fixed. The question is should there be a roadmap in the CAPI book? Maybe it's good enough to just have it in GitHub?

[2022-06-21 14:02] killianmuldoon commented on #5519
I'd definitely be happy to close this issue and keep the roadmap going in the github discussion. IMO the future of the roadmap is going to be somewhere more dynamic like that rather than a static MD that will need to be updated often (and will easily go out of sync with the world).

[2022-06-21 14:10] sbueringer commented on #5519
+1 to not duplicating information we have in issues as a list in the book.

That being said, today it's very hard for users to figure out what will be in an upcoming release (not only for users...). Would be nice to have some kind of overview somewhere.

Could be an umbrella issue / a project (something I'm currently trying out a bit: https://github.com/orgs/kubernetes-sigs/projects/17) / ...

But

[2022-06-21 16:53] DiptoChakrabarty commented on #6688
There are two options which I think can be done

- keep things as they are
- replace with native golang error wrapping which can be handled by the fmt and errors package

there might be more but these come to my mind

there are few issues regarding this in other repos  https://github.com/kubernetes/release/issues/2549

[2022-06-21 20:45] ykakarap commented on #6671
Done. Thanks for pointing out the formatting corruption.

[2022-06-21 20:46] #6671 closed

[2022-06-22 07:25] chrischdi commented on #6674
Issue should be reproducible for cluster-api users which started using CAPI <= v0.3.14 and are now upgrading to v1.1.4 (using clusterctl `v1.1.4`).

CAPI `v1.1.4` includes cert-manager `v1.7.2` which is the first version where the old CRDs storageVersions got removed.

[2022-06-23 06:11] richardcase commented on #3661
/remove-lifecycle stale

[2022-06-23 06:11] richardcase commented on #3661
/lifecycle active

[2022-06-23 09:21] fabriziopandini opened #6706 "Provide explicit definition of variables scope in ClusterClass"
**User Story**

As a user, I would like to understand what variables are meant to be used as overrides at CP/MD levels

**Detailed Description**

As of today, ClusterClass allows to define variables and all those variables can be used in a Cluster's `topology.variables` as well as for providing override at CP and MD level.

However, in practice, it really makes sense to use variables as override o

[2022-06-23 09:21] fabriziopandini commented on #6706
/area topology

[2022-06-23 09:22] fabriziopandini commented on #6706
/kind api-change

[2022-06-23 09:51] sbueringer commented on #6450
@palnabarun Do you have time to work on this?

[2022-06-23 13:59] oscr commented on #6687
/assign

[2022-06-23 14:01] oscr commented on #6687
/close

Fixed in #6703

[2022-06-23 14:02] killianmuldoon commented on #6687
/close

[2022-06-23 14:03] #6687 closed

[2022-06-23 14:57] sbueringer commented on #5818
/remove-lifecycle rotten

[2022-06-23 19:38] fabriziopandini commented on #6327
/lifecycle frozen

[2022-06-23 20:07] fabriziopandini commented on #5519
What I would like to do is to remove the milestone from all the issues, than add it back only when someone actually commit to complete the work for a release.
Then we should find a way to pick relevant issue and show them in the milestone...

[2022-06-23 22:54] oscr opened #6714 "Not updated providers Alicloud and Baidu"
While reading the [providers list](https://main.cluster-api.sigs.k8s.io/reference/providers.html) I noticed that Alicloud only has a single commit 3 years ago and Baidu last commit was 4 years ago.

https://github.com/oam-oss/cluster-api-provider-alicloud
https://github.com/baidu/cluster-api-provider-baiducloud

I therefore suggest removing them from the documentation for future releases since the

[2022-06-23 22:54] oscr commented on #6714
/assign

[2022-06-24 00:11] vincepri commented on #6714
Sounds good to keep the list up-to-date with providers that are still working with the latest versions, we should however also document the minimum requirements to be listed in the docs.

[2022-06-24 05:02] mkumatag opened #6717 "Ship clusterctl binary for linux/ppc64le platform"
**User Story**

As a user I would like to download the clusterctl binary for the linux/ppc64le platform, currently binary is shipped for the following platforms but missing for the linux/ppc64le platform, so this enhancement proposal is for shipping the missing binary.

<img width="1222" alt="image" src="https://user-images.githubusercontent.com/12646029/175465728-b9eacbbf-6eae-4aec-ad55-d5680360a

[2022-06-24 05:02] mkumatag commented on #6717
wondering @Prajyot-Parab if you are interested in working on this

[2022-06-24 05:31] Prajyot-Parab commented on #6717
/assign @Prajyot-Parab

[2022-06-24 06:06] sbueringer commented on #6714
What are our minimum requirements to be listed in the doc?

[2022-06-24 06:19] sbueringer commented on #5519
@fabriziopandini Sounds good to me. Just that I get it right that would mean:
* remove milestones from all open issues
* remove the Next milestone
* only set a milestone if someone commits to doing the work until the next release (currently v1.3)

[2022-06-24 06:56] sbueringer commented on #6615
fyi milestone handling might change for v1.3: https://github.com/kubernetes-sigs/cluster-api/issues/5519#issuecomment-1164820058

[2022-06-24 07:28] sbueringer opened #6720 "Ease Runtime Extension implementation by providing exported util packages"
Goal of this issue is to make it easier to implement RuntimeExtensions by exporting useful packages.

Note: We gathered some experience writing RuntimeExtensions by implementing a test extension for our e2e tests.

I would propose to:
* move `internal/runtime/catalog` to `exp/runtime/catalog`
    * I think catalog is stable enough to be exported.
* move `test/extension/server` to `exp/runtime/serv

[2022-06-24 07:30] sbueringer commented on #6720
@fabriziopandini @chrischdi @ykakarap @killianmuldoon Opinions?

[2022-06-24 08:23] fabriziopandini commented on #5519
Yes, that's + probably we need to startu using /triage label to track when some maintainer take a first look at issues

[2022-06-24 08:25] ruifaling opened #6721 "Improve to get error stack trace for machine reconcile"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
we may need more error message about the machine reconcile

**Environment:**

- Cluster-api version:
- minikube/kind version:
- Kubernetes versio

[2022-06-24 09:12] #6650 closed

[2022-06-24 09:15] killianmuldoon commented on #6720
+1 I think we should make the experimental contract very explicit, and after that try to offer as much functionality (in as few public methods) as possible. +1 to both catalog and the test extension.

[2022-06-24 11:21] sbueringer commented on #6615
@ykakarap I think we already did ` Update supported versions in versions.md` at some point for v1.2. We could do the same already for v1.3 and move the task down to the v1.3 section

[2022-06-24 19:16] RaghavRoy145 commented on #5557
I found this interesting and was wondering if this is an issue that I could take up to start contributing to CAPI, I'm ramping up on it, but if this isn't a beginner friendly task/is time critical, do let me know. Otherwise I'll go ahead and assign myself!

[2022-06-24 19:19] fabriziopandini commented on #6674
/assign

[2022-06-24 19:26] ykakarap commented on #6720
+1 to moving both the packages. Would simplify implementing an extension if we access to catalog and the server libraries.

I have some bandwidth and I am happy to help with the refactoring.

/assign

[2022-06-24 22:04] oscr commented on #6714
I suggest ~"being actively developed". As long as the provider keeps improving it stays on the list.

Alternatively maybe having a CAPI and provider version compatibility table similar to https://main.cluster-api.sigs.k8s.io/reference/versions.html#core-provider-cluster-api-controller would work? Then we could just ask the provider developers to make a pr when a provider supports a new CAPI releas

[2022-06-24 22:24] aartij17 opened #6732 "Remove failure domain from cluster status upon removal from infra cluster status"
**What steps did you take and what happened:**
- Deployed a workload cluster using CAPV with failure domain
- The failure domain is included in the machine spec when the machines are reconciled
- The cluster and VSphereCluster object status also has the failure domain
- Delete the failure domain CRs, which in turn get removed from the VSphereCluster status, but not the cluster status

**What did y

[2022-06-25 16:15] #5693 closed

[2022-06-25 16:15] #5695 closed

[2022-06-25 17:15] #5509 closed

[2022-06-25 17:15] #5606 closed

[2022-06-25 19:04] fabriziopandini commented on #5557
@RaghavRoy145 unpacking KCP machine filters is not the easiest task to start with, but complexity is something really opinionated..

[2022-06-25 22:16] #5799 closed

[2022-06-26 00:13] chrischdi opened #6736 "Topology controller should not take ownership of cluster.spec.topology"
**What steps did you take and what happened:**

Checked output of `pull-cluster-api-e2e-full-main`:
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/directory/pull-cluster-api-e2e-full-main/1540324488158121984

Especially the cluster object and the resulted managed fields, the interesting part:
[code]

[[0]](https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_clust

[2022-06-26 00:14] chrischdi commented on #6736
cc @fabriziopandini @sbueringer

[2022-06-26 00:21] chrischdi commented on #6736
/area topology

I should a fix should get cherry picked to v1.2

[2022-06-26 02:52] RaghavRoy145 commented on #5557
Thanks @fabriziopandini , and you're right.

[2022-06-26 02:52] RaghavRoy145 commented on #5557
/assign

[2022-06-26 14:45] chrischdi commented on #6736
#6738 implements option 1:

- We always clearly define our desired cluster object which results in which fields the topology controller will own
- We cannot forget to add a field to the filtering at
  https://github.com/kubernetes-sigs/cluster-api/blob/5c44a14256af7ce7cd6448b0987d83a87fb84d87/internal/controllers/topology/cluster/reconcile_state.go#L442
  because we already take care to only add t

[2022-06-26 18:11] chrischdi commented on #6736
#6739 implements option 2 which simply extends the behaviour already done for `spec.controlPlaneEndpoint` for the other not-topology managed fields.

[2022-06-26 19:14] chrischdi opened #6741 "Topology controller reconciliation has race conditions which may lead to not expected creation or updates on objects."
**What steps did you take and what happened:**

The topology controller has the following two race conditions at his reconciliation loop for in-place patches (template rotation is not affected) since switching to server side apply:

1. Recreates object which got deleted
  * Topology Controller reconciler starts reconciliation
  * While it is reconciling and before object X gets applied, an externa

[2022-06-27 06:33] sbueringer commented on #5597
/reopen

/remove-lifecycle rotten

[2022-06-27 07:04] #5818 closed

[2022-06-27 09:24] oatmealb opened #6745 "Docs on 'Local Registry' section"
**What steps did you take and what happened:**
When following the [Local Registry > Create A Cluster And Registry](https://kind.sigs.k8s.io/docs/user/local-registry/#create-a-cluster-and-registry) of the guide, I ran the provided `.sh` script and got
[code]

If I "manually" `docker network create kind`, this guide section (seemingly) works. But then the next section, [Using The Registry](https://k

[2022-06-27 09:27] sbueringer commented on #6745
@oatmealb
I think this issue should be opened in the kind repository

[2022-06-27 09:40] #6745 closed, assigned to nobody

[2022-06-27 09:50] sbueringer commented on #6745
No worries :)

[2022-06-27 09:54] #6721 closed

[2022-06-27 10:13] ramineni commented on #5475
@killianmuldoon could I take up ClusterResourceSet controller if it's not done yet?

[2022-06-27 10:35] killianmuldoon commented on #5475
@ramineni that would be great!

[2022-06-27 12:40] oscr commented on #6714
As input to this discussion there is a ticket in the Alicloud provider asking if it's abandoned:
https://github.com/oam-oss/cluster-api-provider-alicloud/issues/1

I opened a similar one for Baidu:
https://github.com/baidu/cluster-api-provider-baiducloud/issues/24

Hopefully both will answer that development will continue. But lets see.

[2022-06-27 15:03] sbueringer commented on #6674
We implemented a CRD migration in #6749. It works but there are some exceptions.

The logic is:

This works, but there is the fundamental limitation that a storage version cannot be immediately dropped.
Concrete: If v1alpha2 is the storage version, there first has to be another version which becomes storage version before v1alpha2 can be dropped. But this is a limitation of CRDs in general not of

[2022-06-27 15:35] dlipovetsky commented on #5557
I started work on this in https://github.com/dlipovetsky/cluster-api/tree/dlipovetsky/verbose-filters-v1alpha4. I didn't have time to stick with it. I'd be happy to collaborate with you, if you'd like, @RaghavRoy145 .

[2022-06-27 16:55] sbueringer commented on #6691
Hey folks,
we've implemented a CRD migration in clusterctl upgrade in #6749 as we have to do it for cert-manager anyway.

I think it's a clean and straightforward solution for our issue and won't require a multi-month/year effort to get something implemented upstream in Kubernetes.

I looked over the KEPs and it seems like this will take a while:
* KEPs 2330, 2339, 2341, 2342, 2343
* [Replacement

[2022-06-27 17:07] RaghavRoy145 commented on #5557
I would love to collaborate, I'm pretty sure I'll need all the help I can get! 😄

[2022-06-28 04:33] ramineni commented on #5475
/assign

[2022-06-28 05:23] #6720 closed

[2022-06-28 14:27] #6676 closed

[2022-06-28 18:55] killianmuldoon commented on #6016
Thanks so much for your help with this work @sayantani11! 😃  I had a bit of time today so I've put out a PR to close the remaining deepcopy tasks in the builders package.

Thanks again for getting involved!

/unassign @sayantani11
/assign

[2022-06-28 19:18] josh-ferrell opened #6765 "KCP Controller Manager fails etcd member checks in certain Azure deployment scenarios"
**What steps did you take and what happened:**
When the KCP controller manager is running on a control plane node in a self-hosted cluster in Azure the etcd member health checks will fail because of the Azure hairpin issue with Azure LBs until the KCP controller pod is deleted and rescheduled to a worker node

**What did you expect to happen:**
etcd member health checks succeed when etcd is truly

[2022-06-29 06:58] sbueringer commented on #5968
Now only golangci-lint bump is left

[2022-06-29 07:32] richardcase opened #6767 "Ability to export CAPI/provider manifests"
**User Story**

As a operator
I would like to export the manifests for cert-manager, CAPI and providers
So that i can manage these via GitOps or some other mechanism instead of using `clusterctl init`

**Detailed Description**

There are scenarios where `clusterctl init` isn't an option for users to create a management cluster. GitOps is one such scenario but there are other scenarios where people

[2022-06-29 11:32] #6016 closed

[2022-06-29 18:52] #6736 closed

[2022-06-29 19:18] #6717 closed

[2022-06-29 19:49] sbueringer opened #6778 "MachineDeployment refs and ownerRefs are not upgraded after CAPI upgrade with apiVersion bump"
**What steps did you take and what happened:**
I ran the clusterctl upgrade e2e test locally (v1alpha4=>v1beta1) and the refs in MD were not upgraded from v1alpha4 to v1beta1.

Some details:

Refs are initially in-memory bumped to v1beta1 through: https://github.com/kubernetes-sigs/cluster-api/blob/d7bf8df454d7ca1c03461b60ca8f5e4afbb50f45/internal/controllers/machinedeployment/machinedeployment_co

[2022-06-30 04:36] Jacobious52 commented on #6286
We're also in need of this issue. We want to use `clusterctl backup` in a CronJob in the management cluster.
As @sbueringer mentioned I'd expect this to work like most other k8s clients using https://github.com/kubernetes/client-go/blob/master/rest/config.go#L512 that works out the box if it's running inside the cluster.

[2022-06-30 07:06] #6741 closed

[2022-06-30 07:45] ruifaling opened #6786 "How about the old workload clusters when the management cluster has been upgrade?"
Currently, my management cluster version is 1.20.10, the version of cluster-api is V0.4, the version of my workload cluster keep the same with management cluster 1.20.10 . Now for some reason , I want to upgrade my management cluster to version 1.23, thus the version of cluster-api should be upgrade at least V1.1 . So what will happen to my workload clusters(1.20.10),  can the cluster-api(1.23) co

[2022-06-30 07:49] sbueringer commented on #6786
You can also upgrade your mgmt cluster to v1.23 with v1alpha4, but it is definitely recommended to use a recent CAPI version.

The workload cluster versions that CAPI can manage doesn't depend on the Kubernetes version of the mgmt cluster.
Yes. CAPI v1.1.x can still manage 1.20.x workload clusters

Yes

See https://cluster-api.sigs.k8s.io/reference/versions.html for more details

[2022-06-30 08:05] ruifaling commented on #6786
@jichenjc Does the provider-openstack support?

[2022-06-30 08:07] ruifaling commented on #6786
![image](https://user-images.githubusercontent.com/79310393/176626248-74f9346a-5678-4149-81c1-e3618d931f87.png)

[2022-06-30 08:14] ruifaling commented on #6786
The managment upgrade to 1.23 thus the admissionregisteration.k8s.io/v1betav1 will change to admissionregisteration.k8s.io/v1 ,it does not effect on CAPI and cert-manager?

[2022-06-30 08:41] chrischdi commented on #6350
Just because I did a lookup already the second time:

So we have to wait for a `v1.47` [release](https://github.com/golangci/golangci-lint/releases).

[2022-06-30 09:16] schrej commented on #6350
Yep. We've also asked for a release. One of the maintainers wants to get a few more fixes in before a release, but it seems like they can't find time to implement them unfortunately. See [here](https://github.com/golangci/golangci-lint/pull/2892#issuecomment-1161980612)

[2022-06-30 10:54] erkanerol opened #6790 "CAPI controllers should not stop reconciling CRs when errors are removed from infra CRs"
**What steps did you take and what happened:**
When `FailureReason ` and `FailureMessage ` are not empty in infra CR (e.g. OpenStackMachine or OpenStackCluster), CAPI controllers propagate them to CAPI CRs (e.g. Machine or Cluster). Then CAPI controllers set the phase as `Failed`

After a while, the problem is resolved and the fields are removed from infra CRs by infra controller. However, CAPI co

[2022-06-30 11:37] kashifest commented on #6285
@sbueringer @enxebre Can we triage this issue and go for a solution for this? It would be nice to move forward with this issue since we are facing it in one of our deployments.

[2022-06-30 12:30] sbueringer commented on #6350
@schrej Your IPAM PR depends on Go 1.18 right? (i.e. using `go 1.18` in go.mod files)

[2022-06-30 12:34] schrej commented on #6350
Yes. I'm using the shiny new `net/netip` package in the validation webhooks. I could also change it to https://pkg.go.dev/inet.af/netaddr, from which that std lib package has been derived and swap it out once we're on 1.18.

[2022-06-30 12:38] killianmuldoon commented on #6350
We could temporarily disable gci on the CI instead of refactoring that PR, assuming a release with the fix is inbound but just won't make it for 1.2.

[2022-06-30 13:38] schrej commented on #6350
If we can get the IPAM PR into 1.2 that way, I can switch it to netaddr, and then switch back after the bump. Having it in a release makes it easier to consume for provider implementations I think.

[2022-06-30 13:41] sbueringer commented on #6786
As far as I'm aware CAPI and cert-manager were using v1 CRDs already. I can't speak for infrastructure providers.

As v0.4 is out of support since a few months, I would recommend updating CAPI to a supported v1.1.x version ASAP anyway.

[2022-06-30 13:42] sbueringer commented on #6350
Just to confirm. This package is only used in the validating webhook and not as part of the API types? (so this change wouldn't be a breaking change to the API types)

[2022-06-30 14:58] #6674 closed

[2022-06-30 14:58] #6691 closed

[2022-06-30 15:32] josh-ferrell commented on #6657
Linking #6765

[2022-06-30 15:34] josh-ferrell commented on #6657
@fabriziopandini One idea I had was to add logic that would have the KCP manager -> api-server connection use the internal kubernetes.default.svc connection in self-hosted clusters. In theory this would circumvent any management cluster LB issues regardless of provider.

[2022-06-30 15:50] sbueringer commented on #6657
Probably related: https://github.com/kubernetes-sigs/cluster-api/issues/6337

[2022-06-30 17:19] sbueringer opened #6795 "RuntimeSDK: reference generated OpenAPI specs in the documentation"
The current RuntimeSDK documentation (which will be added by #6756) does still include links to
the OpenAPI specs (for Swagger UI) that we generated for our proposals.

We already include a [runtime-sdk-openapi.yaml](https://github.com/kubernetes-sigs/cluster-api/releases/download/v1.2.0-beta.1/runtime-sdk-openapi.yaml) as part of our releases. Unfortunately, the links available for GitHub release

[2022-06-30 21:06] PushkarJ commented on #6152
/assign pushkarj

(Planning on writing this up in next few weeks)

[2022-06-30 21:48] srm09 commented on #6732
/unassign

[2022-07-01 00:24] ykakarap commented on #6732
/assign

[2022-07-01 07:06] fabriziopandini commented on #6226
/lifecycle frozen

[2022-07-01 07:28] fabriziopandini commented on #6732
It will be great to get this in 1.1.5, but given time crunch this might slip to 1.1.6

[2022-07-01 11:43] #5475 closed

[2022-07-01 12:21] ramineni commented on #3134
/assign

[2022-07-01 18:18] oscr opened #6804 "Information overlap between two clusterctl doc pages"
There is somewhat of an overlap between these two pages describing `clusterctl` commands:

- https://main.cluster-api.sigs.k8s.io/clusterctl/overview.html
- https://main.cluster-api.sigs.k8s.io/clusterctl/commands/commands.html

The first doesn't have all commands, but a nice one sentence description of each command. The seconds has all commands but no description. I suggest removing the list of c

[2022-07-01 18:38] killianmuldoon commented on #6804
Sounds good to me!

[2022-07-01 23:42] ykakarap commented on #6767
@richardcase Have you taken a look at `clusterctl generate provider`? With this you can get the manifests for CAPI and  providers for any specific version without having to download them manually. It also does variable substitution for you.

Note that it does not have support for cert-manager, but it might be nice to add the support for cert-manager into the `clusterctl generate provider` command

[2022-07-02 00:20] ykakarap opened #6807 "How to surfacing runtime hook blocking cluster deletion in condition"
**Details:**

This issue is to discuss how to surface that a cluster deletion is blocked when the `BeforeClusterDelete` hook blocks the deletion of a process with a blocking response.

We have 2 options:
1) Use `TopologyReconciled` condition  - Since only managed clusters are affected by `BeforeClusterDelete` hook we can use the `TopologyReconciled` condition to surface if a cluster deletion is bl

[2022-07-02 00:21] ykakarap commented on #6807
/area runtime-sdk

[2022-07-02 00:21] ykakarap commented on #6807
/cc @fabriziopandini @sbueringer

[2022-07-02 12:43] #5562 closed

[2022-07-04 06:00] sbueringer commented on #6807
I think we should also discuss how we surface the various "blocking states" of reconcileDelete of the regular controller (deleting MDs/KCP/InfraCluster/ ...) so that all our "delete" condition(s) fit nicely together

[2022-07-04 06:07] sbueringer commented on #6804
Sounds good so far.

I would suggest to then change the Overview page to be an overview over all direct sub pages (commands / configuration / provider contracts / clusterctl for developer).

[2022-07-04 13:01] enxebre commented on #6285
apologies for the delay, I'm ok to add the field as in https://github.com/kubernetes-sigs/cluster-api/issues/6285#issuecomment-1147290824 cc @sbueringer @fabriziopandini

[2022-07-04 13:30] enxebre commented on #6790
hi @erkanerol, this is intentional, failureMessage is meant to convey for terminal non transient failures https://github.com/kubernetes-sigs/cluster-api/blob/main/api/v1beta1/machine_types.go#L145. Also fwiw we are wanting to transistion terminal failures towards conditions and possibly deprecate these fields. I'm curious what's your particular use case?

[2022-07-04 14:30] richardcase commented on #6767
Thanks @ykakarap :+1:  I had missed that command, not sure how :thinking:

What i can in mind for the `export` is very similar but it outputs everything that `init` would  apply (including cert-manager) instead of having to run the command multiple times to get the manifests. Perhaps `clusterctl generate init` :smile:

[2022-07-04 15:01] #6400 closed

[2022-07-04 16:04] #6714 closed

[2022-07-04 16:30] fabriziopandini commented on #6227
/lifecycle frozen

[2022-07-04 16:32] fabriziopandini commented on #6613
+1 to drop current action

We should investigate how this is done in the Kubernetes project, because relying on personal tokens is not sustainable

[2022-07-04 16:48] fabriziopandini commented on #6657
I investigated two options:
- adding retry on etcd connection creation, but this did not provide improvements on a system with flaky networking, it just increased the time to fail.
- forcing KCP to reconcile after detecting some etcd connection problem, but this only increased the rate of flakiness being reported.

Now, we have identified the root cause of flakiness, which was related to api serve

[2022-07-04 16:50] sbueringer commented on #6285
Sounds fine to me as well.

We only have to discuss and document how the `volumeDetachTimeout` works in combination with the `nodeDrainTimeout`.

[2022-07-04 16:55] sbueringer commented on #6613
Opened PR https://github.com/kubernetes-sigs/cluster-api/pull/6816 to drop the action. I would keep the issue around to look for a new solution.

[2022-07-04 17:39] fabriziopandini commented on #6804
I personally think it is useful for the users to have a selection of main commands in the overview.
I would suggest adding a sentence that clarifies those are only the main ones and link to the command page for the full list

[2022-07-04 18:11] fabriziopandini commented on #4526
/lifecycle frozen

[2022-07-04 18:13] fabriziopandini commented on #6353
/lifecycle frozen

[2022-07-04 18:22] fabriziopandini commented on #6765
The hairpin problem in CAPZ can affect any pod or users doing kubectl proxy, so it is not really a KCP-specific problem, but more a conformance problem.

Going back to KCP we can explore solutions to make it more resilient, but this seems a duplicate of the discussion we are having on #6657

[2022-07-04 18:43] fabriziopandini commented on #6285
Frankly speaking, I'm still confused by the fact that both existing nodeDrainTimeout and proposed volumeDrainTimeout are going to delete the node with attached volumes, so I'm not really sure this will actually solve the issue.

Said that my consideration about adding a new field are the same already expressed in https://github.com/kubernetes-sigs/cluster-api/issues/6285#issuecomment-1097176216; I

[2022-07-04 20:36] oscr commented on #6804
That's a great point @fabriziopandini. Maybe the overview should be expanded to ~"common operations" pages instead of deleted? The Quick Start gives an overview of some of the commands and maybe additional pages could cover other topics?

While we're at it: what's everyone's opinion about moving the "clusterctl installation" section from Quick Start page to it's own page under "clusterctl CLI"? I

[2022-07-05 04:24] sbueringer commented on #6285
I see the point in not wanting to break the actual node drain + PDB behavior and being able to have an independent timeout only for the volume detach. But as I said we have to find a good way how both timeouts can work together.

One idea:
* nodeDrainTimout => only applies to the actual drain (without volume detach)
* volumeDetachTimeout => only applies to the wait for volume detach

This would gi

[2022-07-05 05:20] sbueringer opened #6819 "Update Glossary with RuntimeSDK terms"
We introduced a few new terms like Runtime Hooks and Runtime Extensions in the [Runtime SDK CAEP](https://github.com/kubernetes-sigs/cluster-api/blob/main/docs/proposals/20220221-runtime-SDK.md).

Goal of this issue is to add those terms to the Glossary: https://cluster-api.sigs.k8s.io/reference/glossary.html

[2022-07-05 07:46] fabriziopandini commented on #6819
+1
I guess we should do something similar for ClusterClass as well

[2022-07-05 07:57] fabriziopandini commented on #6804
IMO overview is already ~"common operations", we just have to make it clear to the users to address the concern raised by this issue.

I'm personally -1 to remove clusterctl installation from the quick start, it is just a couple of lines and it makes the quick start self-contained (note: it is also out of scope of this issue)

[2022-07-05 09:06] sbueringer commented on #6526
/reopen

Let's drop the workaround from the golangci-lint action

[2022-07-05 09:16] killianmuldoon commented on #6819
/assign

[2022-07-05 09:50] #6526 closed

[2022-07-05 09:51] chrischdi commented on #6458
Some progress on the topic:

I invested some time in https://github.com/kubernetes/kube-state-metrics/issues/1755 which resulted in the PR https://github.com/kubernetes/kube-state-metrics/pull/1777 to start some feedback.

Running kube-state-metrics from the linked branch and using the config in https://github.com/kubernetes/kube-state-metrics/pull/1777#issuecomment-1174830715 would already cover

[2022-07-05 12:31] chrischdi commented on #6767
If a new command is being considered to get implemented: should a warning get added tue to things which may be missed when later on not using `clusterctl upgrade`? Examples I'm aware of which would be skipped

- e.g.: CRD storageVersion migration: https://github.com/kubernetes-sigs/cluster-api/issues/6691
- Provisioning flow by: stopping all controllers and hooks / deleting the deployments prior t

[2022-07-05 18:45] fabriziopandini opened #6831 "Provide a means to identify if a cluster is self hosted"
**User Story**

As a developer, I would like to have a way to detect if a Cluster is self-hosted so I can use this info to improve connectivity from CAPI controllers

**Detailed Description**

CAPI controllers use the `<cluster>-kubeconfig` to connect to the workload cluster to inspect nodes, etcd etc. etc.

This connection goes through the external load balancer, and this is not ideal in the case

[2022-07-05 18:54] sbueringer commented on #6831
Is the assumption correct (across providers) that the client credentials stored in `<cluster>-kubeconfig` are also accepted by the apiserver when connecting via ``kubernetes.default.svc`?

(Just asking because I'm not sure what kind of authn solutions folks have build with Kubernetes, especially for managed control planes)

[2022-07-05 18:57] kfox1111 commented on #6831
+1. Some clusters cant even talk directly to the external load balancer. azure lb's of type internal cant be reached from the same node.

[2022-07-05 19:05] sbueringer commented on #6831
I think that should be fine. We would use `kubernetes.default.svc` as a URL. This should work everywhere because otherwise our controllers wouldn't work (it's used by the in cluster config we use).

I was specifically asking about the client credentials that we would take from the -kubeconfig secret

[2022-07-05 21:00] vincepri commented on #6831
We should start collecting possible ways we can identify a cluster being a self-managed one (management+workload+self)

[2022-07-05 21:03] vincepri commented on #6831
/priority important-soon

[2022-07-05 21:12] kfox1111 commented on #6831
Feels like there is a chicken and the egg problem here... but if its just an optimization, then the controller could check for its own pod in the "remote" cluster. Then it would know its within the same cluster. If it has to be established before you can talk to the "remote" cluster, maybe its better left as a driver specific implementation?

[2022-07-06 00:24] ykakarap opened #6833 "Prepare main branch for v1.3 development"
Let's prepare the main branch for v1.3 development.

This issue is mostly about changing all occurrences of the CAPI v1.2.x version to v1.3.x

As far as I'm aware we have to do the following:

* Add new release to top-level metadata.yaml and test/e2e/data/shared/v1beta1/metadata.yaml
* Update providers in docker.yaml. Roughly:
   * create a new entry for each provider for v1.2.0
    * rename v1.2.

[2022-07-06 00:24] ykakarap commented on #6833
/assign

[2022-07-06 00:27] ykakarap commented on #6833
/cc @sbueringer

[2022-07-06 00:35] ykakarap opened #6835 "Adjust clusterctl upgrade jobs for v1.3"
Once we start development of CAPI v1.3 we have to adjust our clusterctl upgrade test jobs.
The goal is to have jobs which test clusterctl upgrade from the latest release of each currently supported contract version (v1alpha3 (v0.3.x), v1alpha4 (v0.4.x) and v1beta1 (v1.2.x).

We already have jobs for v0.3, v0.4 and v1.1. As we don't need the job for v1.1 anymore we can just change it for v1.2:
Job:

[2022-07-06 00:35] ykakarap commented on #6835
/assign

[2022-07-06 03:57] sbueringer commented on #6615
If I see correctly with have PRs for everything and they are on hold until the release, except:
* Update supported versions in versions.md
* Move GitHub issues to the new milestone: Depends on #6828

[2022-07-06 04:16] sbueringer commented on #6831
Some context:
* When we access workload clusters today we do this by generating a controller-runtime Client via the `ClusterCacheTracker`.
* So we could extend the `ClusterCacheTracker` to automatically detect if the workload cluster is the current cluster the controller is running on and then generate the Client accordingly.

Just to start with some ideas on how to identify that:
1. Try to find t

[2022-07-06 06:22] sbueringer commented on #6505
As the [RuntimeSDK documentation](https://release-1-2.cluster-api.sigs.k8s.io/tasks/experimental-features/runtime-sdk/index.html) has been merged now, it's probably time to revisit this issue.

I'm not sure how much we want to document per hook in the Swagger schema, given the more extensive documentation we have in the book now (afaik we can only use plain strings for documentation in the schema)

[2022-07-06 06:58] reasonerjt commented on #5957
/remove-lifecycle stale

[2022-07-06 07:25] daixiang0 commented on #6350
Sorry for this, https://github.com/golangci/golangci-lint/pull/2892 has fixed it, let's wait for the next patch release.

[2022-07-06 12:30] erkanerol commented on #6790
@enxebre We hit this issue when OpenStack API is down temporarily. We have an open item in the CAPO repo https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/1116

According to the spec you mentioned, it seems CAPI behavior is OK. We should fix it on the CAPO side. I am closing this issue. Thanks for pointing out the spec.

[2022-07-06 14:22] sbueringer commented on #6385
/remove-lifecycle stale

[2022-07-06 14:49] killianmuldoon commented on #5519
The roadmap page is now a placeholder with a link to the github discussion:  https://github.com/kubernetes-sigs/cluster-api/pull/6680.

 There's an ongoing conversation in #6828 about how to make plans for the next minor release clearer by changing the way milestones are used on the repo.

Closing this issue for now to continue the discussion on more appropriate issues, in the community, and in th

[2022-07-06 14:49] #5519 closed, assigned to nobody

[2022-07-06 15:36] killianmuldoon opened #6841 "Use matchers from Controller Runtime komega"
Today we use a matching library kept in `internal/test/matchers`. This work has now been upstreamed (thanks to @schrej :slightly_smiling_face: ) in controller runtime `pkg/envtest/komega`

We should get rid of our matchers and replace their usage with the komega matchers as soon as it's available in a controller runtime release that we're using in CAPI.

/area testing

[2022-07-06 15:36] killianmuldoon commented on #6841
/assign

[2022-07-06 18:15] fabriziopandini commented on #6387
/lifecycle frozen

[2022-07-06 18:20] fabriziopandini commented on #6337
/lifecycle frozen

[2022-07-06 20:13] ykakarap commented on #6615
Since we decided to do v1.2.0-beta.2 for the clusterctl upgrade tests for now and go back and do another round of PRs once we have v1.2.0  - those PR should still be considered pending. I will update the task list to update this new information.

[2022-07-06 22:27] #6795 closed

[2022-07-06 22:27] #6454 closed

[2022-07-06 22:31] vincepri commented on #4304
Any updates on this issue?

[2022-07-06 22:32] vincepri commented on #5306
Closing this for now, please reopen if there are volunteers to tackle this bit

/close

[2022-07-06 22:32] #5306 closed

[2022-07-06 23:03] Jont828 commented on #6286
@sbueringer I'm happy to take a stab at this issue but I'll probably need some help since I'm not very familiar with this code.

I looked at Cluster Autoscaler and [here](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/vendor/k8s.io/client-go/tools/clientcmd/client_config.go) they have some logic that uses the in cluster config. I believe their idea is to have an interface

[2022-07-06 23:09] Jont828 commented on #6286
As for kubectl, I tried running it on a pod but it seems like it doesn't work out of the box.

[code]

It seems like we need to [set up permissions](https://itnext.io/running-kubectl-commands-from-within-a-pod-b303e8176088) for it to work, and as a result I'm not too clear on how find the relevant code in their repo.

[2022-07-07 06:33] #6833 closed

[2022-07-07 06:47] #6835 closed

[2022-07-07 11:20] sbueringer commented on #6286
Maybe we can keep the external API the same, by:
* keeping `cluster.New` as is
* adding `cluster.NewForConfig` which takes rest.Config

And then refactoring internally behind the API that we don't have to write a temporary kubeconfig with credentials somewhere?

[2022-07-07 12:51] fabriziopandini commented on #6505
Let me make a pass on the current swagger doc in the beta releases, then I will come back

[2022-07-07 13:02] fabriziopandini commented on #6245
@sbueringer @weikaipan can we close this now that we have topology mutation hooks?

[2022-07-07 13:07] sbueringer commented on #6245
I think we have no intention implement it for inline patches. So in my opinion - yes.

[2022-07-07 13:36] charlie-haley opened #6856 "Failed v1.1.5 upgrade put CAPI in a bad state"
**What steps did you take and what happened:**
I've recently performed an upgrade to v1.1.5 using `clusterctl` and it appears that it's put our cluster in a strange state. I can no longer interact with any CAPI CRDs, instead I get an internal error:
[code]

It's narrowed down to a certificate issue, the caBundle field on all the CAPI CRDs isn't properly configured:
[code]

If I manually edit the C

[2022-07-07 13:37] sbueringer commented on #6778
Duplicate of an issue I created last year (#5470) :(

/close

[2022-07-07 13:38] charlie-haley commented on #6856
/area clusterctl
/area upgrades

[2022-07-07 13:57] sbueringer commented on #3279
If I understand it correctly with Kubernetes 1.25 the old master taint will be dropped.
The old label was dropped with 1.24.

This means for us:
* when the minimum supported CAPI version is v1.24 we can drop any special handling for the old label
* when the minimum supported CAPI version is v1.25 we can drop any special handling for the old taint

Until then

/lifecycle frozen

[2022-07-07 14:07] sbueringer commented on #4910
Please note:

[2022-07-07 14:20] charlie-haley commented on #6856
Also to add some further context, it looks like all the `MutatingWebhookConfigurations` were missing the `caBundle` field entirely, I had to manually add it to the `clientConfig` of each one referencing the service `capi-webhook-service`.

It's weird because they all have the annotation `cert-manager.io/inject-ca-from: capi-system/capi-serving-cert`, there's all no errors in the cert-manager pods.

[2022-07-07 14:28] tobiasgiese opened #6857 "Implement clusterctl KCP rollout command"
**User Story**

As a user/operator I would like to be able to restart a KubeadmControlPlane rollout for any reason.

**Detailed Description**

It's possible that an Infra Machine needs to be recreated.
If a high-available (HA) KCP is provisioned, it's possible to delete each machine one after the other.
If a non-HA is provisioned, it's not that easy to re-create the Machine. There is the [`rollout

[2022-07-07 14:40] #6856 closed

[2022-07-07 14:48] tobiasgiese commented on #6857
@jCOTINEAU PR is open: https://github.com/kubernetes-sigs/cluster-api/pull/6858

[2022-07-07 14:55] sbueringer opened #6859 "Extend external patch implementation in RuntimeSDK e2e test"
Our RuntimeSDK e2e test tests external patching by calling a test extension.

Initially we only moved one patch from the ClusterClass to the test extension

Goal of this issue is to move all inline patches of the RuntimeSDk ClusterClass to the test extension handler, to increase test coverage and get some experience on how to implement external patches.

Note:
* Let's also implement some validatio

[2022-07-07 15:00] sbueringer opened #6860 "Support RuntimeSDK in clusterctl alpha topology dryrun"
As of today `clusterctl alpha topology dryrun` does not support RuntimeSDK (i.e. lifecycle and topology mutation hooks).

Goal of this issue is to implement support for RuntimeSDK in clusterctl to make it possible to dryrun ClusterClasses which use external patches.

In my opinion we should only implement support for the Topology Mutation hooks. Main goal of topology dryrun is to dryrun changes th

[2022-07-07 15:01] sbueringer commented on #6545
Feature has been completed. I opened follow-up tasks for some e2e test improvements and clusterctl support.

Thx for the great work everyone!

/close

[2022-07-07 15:01] #6545 closed

[2022-07-07 15:45] #6546 closed

[2022-07-07 15:54] sbueringer opened #6863 "Potential deadlock in ExtensionConfig deletion"
Some context:
* The `ExtensionConfig` controller discovers extensions by sending Discovery requests to the service/url configured in an ExtensionConfig
* This discovery information is then registered in a local registry
* When we e.g. want to call all extensions for a `BeforeClusterCreate` hook we query the registry and then call all registered extensions

Disclaimer: We are not sure if this deadl

[2022-07-07 16:01] sbueringer opened #6864 "Development workflow for Runtime Extensions"
As of today we have extensive documentation about how to implement Runtime Extensions ([book](https://main.cluster-api.sigs.k8s.io/tasks/experimental-features/runtime-sdk/index.html)).

But we have no good development workflow like we have with Tilt for controllers.

When deploying our test/extension we basically had to manually build and deploy the extension.

It would be nice to develop extensio

[2022-07-07 16:03] sbueringer commented on #6864
cc @killianmuldoon

[2022-07-07 17:39] CecileRobertMichon commented on #6831
+1 this would be a good improvement

I'll take a look at your POC @sbueringer, thanks for starting it

[2022-07-07 18:06] oscr opened #6867 "Improving usage in `clusterctl generate cluster --help`"
When running for example `clusterctl generate cluster --help` (there are more examples), usage is described as:

[code]

However if you attempt to run the given example you will get an error.

[code]

Since the command has a required argument.

I would therefore like to suggest changing the usage to reflect the required arguments. For example:

[code]

This suggestion would be similar to how kubec

[2022-07-07 19:13] vincepri commented on #6245
/close

per above

[2022-07-07 19:13] #6245 closed

[2022-07-07 19:16] vincepri commented on #6831
Another alternative idea would be potentially to check if the remote cluster has a Lease that matches the leader election information we have for the controller?

[2022-07-07 19:40] oscr commented on #6867
I suspect we can fix it the same way kubectl does here:
https://github.com/kubernetes/kubernetes/blob/e9b96b167fbe5bb7c16824f5515501434c9e4a2e/staging/src/k8s.io/kubectl/pkg/cmd/create/create_deployment.go#L98

I tried it with generate cluster
[code]

This gives improved usage

[code]

And the command seems to work as expected:
[code]

[2022-07-07 19:45] oscr commented on #6867
I will of course continue with the PRs to improve the remaining error messages. But the question remains: do we want to modify usage to be more in line with `kubectl`?

[2022-07-07 22:25] Jont828 commented on #6286
@killianmuldoon Sounds good! I started hacking on some ideas on my end. In proxy.go it seems like if we refactor to initialize it with a *rest.Config we could rework the other functions. One thing I'm not sure about is if we have access to a kubecontext from the rest.Config. For some of the other Proxy interface functions we could try to do something like this (from cluster autoscaler):

[code]

[2022-07-08 05:44] sbueringer commented on #6831
As far as I can tell:
* we have to pass in `LeaderElectionID` into `ClusterCacheTracker`
* we have to either calculate the `LeaderElectionNamespace` the same way as CR or calculate it in `main.go` and hand it over to `Manager` & `ClusterCacheTracker`

With that information we are able to retrieve the lease.

Lease looks ~ like this:
[code]

The `holderIdentity` is calculated in `NewResourceLock` r

[2022-07-08 05:54] ailurarctos commented on #6158
/remove-lifecycle rotten

[2022-07-08 08:32] #4902 closed

[2022-07-08 14:30] sbueringer opened #6879 "SSA dryrun detects changes of other controllers"
I played a bit around with SSA and took a closer look at dryrun.

It looks like SSA dryrun currently detects changes made by other controllers and thus triggers SSA even when it's not necessary.

Example:
* Topology Controller: Reconcile: getCurrentState (original)
* KCP controller: takes ownership of additional conditions (managed fields of KCP change)
* Topology Controller: Reconcile: reconcileS

[2022-07-08 14:30] sbueringer commented on #6879
/assign

[2022-07-08 16:45] fabriziopandini commented on #5783
/reopen

[2022-07-08 16:46] fabriziopandini commented on #5936
/reopen

[2022-07-08 17:07] jayunit100 opened #6884 "We need to support CAPI -> worker etcd connections, in high latency environments"
Per conv w @randomvariable , since CAPI lifecycles etcd membership, the ability to talk to etcd directly, is a CORE CAPI REQUIREMENT... turns out this needs tuning in high latency enviornments !

**What steps did you take and what happened:**

Ran TC so that it limited LATENCY from mgmt to workload ControlPlanes. Theres a situation where the "KCP" has to talk directly to `etcd`.

In these cases, t

[2022-07-08 18:55] jayunit100 commented on #6884
oh, wait , thats an arg for kcp ? i guess well try it hang on!

[2022-07-08 19:23] vincepri commented on #6884
https://github.com/kubernetes-sigs/cluster-api/commit/ce2700c8dbb4c25adcdc38ad155a6c016a30329e

The flag has been available from v1.1

[2022-07-09 16:48] #5634 closed

[2022-07-10 21:36] oscr commented on #6688
@sbueringer What are your thoughts on this? Is this something we can start working on, but wait with prs until 1.2 is released?

[2022-07-11 05:44] sbueringer commented on #6688
I think we need more discussion before we should do anything.

I would especially like to here the opinions of other maintainers on this as it's a pretty fundamental change

(@enxebre @CecileRobertMichon @fabriziopandini @vincepri)

[2022-07-11 09:23] #6879 closed

[2022-07-11 15:05] sbueringer commented on #6620
I had a very similar linter in the past, which checked for omitempty/ optional marker / pointer of fields.

I think this can be used as basis for this linter: https://github.com/sbueringer/cluster-api/blob/poc-optional-fields-linter/hack/tools/struct-verifier/main.go

[2022-07-11 23:32] pradipd opened #6894 "CAPI is stuck draining node if a replica-set schedules a pod on a node that is deleting."
**What steps did you take and what happened:**
A user has a replica set deployed with a toleration and no key (so it matches all taints including unschedulable).
The user initiates and upgrade.  The node is drained successfully and the infrastructure VM is deleted: (https://github.com/kubernetes-sigs/cluster-api/blob/6df168faf7be36236dda3ecdb478809d4df1ef79/internal/controllers/machine/machine_con

[2022-07-12 01:34] ykakarap commented on #6407
/lifecycle frozen

[2022-07-12 01:35] ykakarap commented on #6407
/assign

[2022-07-12 05:03] pradipd commented on #6894
Also, one other bit of information: we are doing a scale in with only 1 worker node.  So, we expect the worker node to be taking down and then a new worker node come up.  I can imagine most people have multiple worker nodes and are doing a scale out.  so they might not see this issue because the replica set can be created on the other worker nodes.

[2022-07-12 05:36] #6219 closed

[2022-07-12 09:20] vrabbi opened #6899 "Support maxSurge and maxUnavailable in Cluster Class based clusters"
**User Story**

As an operator I would like to be able to set the amount of worker nodes to upgrade at a time when using cluster class for helping to make the upgrade time of cluster much shorter especially in large clusters.

**Detailed Description**

We have clusters with more then 200 nodes. when looking into using Cluster Class, a huge issue for us is that it currently makes the nodes upgrade

[2022-07-12 10:29] sbueringer commented on #6899
I think it makes sense to make that possible.

Prior art is how we added the nodeDrainTimeout: https://github.com/kubernetes-sigs/cluster-api/issues/6278#issuecomment-1070914169

We're slowly replicating more and more properties of MD into the MachineDeployment topology, but I dont' really see an alternative (except making MD patchable)

[2022-07-12 11:26] chrischdi opened #6900 "Cleanup e2e test log artifacts directory paths"
**User Story**

As a developer I would like to have a intuitive folder structure at the artifacts directory to simplify the process of searching for specific artifacts.

**Detailed Description**

https://github.com/kubernetes-sigs/cluster-api/pull/6892 adds log artifacts for non CAPI controller deployments to a directory at: `artifacts/clusters/<cluster-name>/logs/<namespace>/<deployment>/<pod>`

[2022-07-12 11:48] chrischdi commented on #6641
@sbueringer I think we can close this one :-) 🎉

[2022-07-12 12:12] sbueringer commented on #6641
My idea was to verify if it actually works after #6596 is fixed. As of today we have a bunch of jobs using 1.9.3 but they are all failing because of #6596.

But yes if you want we can close this issue. We'll notice in #6596 if the new CoreDNS version actually works anyway.

[2022-07-12 12:47] sbueringer commented on #6596
Talked with Fabrizio about this issue, we would do the following:

* if the imageRepository is set in KCP => do nothing
* if the imageRepository is not set in KCP => upgrade the imageRepository in the ConfigMap from k8s.gcr.io to registry.k8s.io (when the current KCP version is >= v1.25)

[2022-07-12 13:04] chrischdi commented on #6641
Ah gotcha 👍  thought the 1.22 job was enough, so let's wait until

- #6596

Is closed.

[2022-07-12 14:11] sbueringer commented on #6641
Ah, only the v1.24=>v1.25 is using it because we align the versions used in e2e tests to the versions hard-coded in kubeadm (and used during kubeadm init)

v1.25 is now using CoreDNS v1.9.3 which triggered this issue

[2022-07-12 14:12] vincepri commented on #6831
@sbueringer should we proceed with the above solution proposed in v1.2? We can start by having it behind a feature gate?

[2022-07-12 14:29] sbueringer commented on #6831
Given that it mitigates the issue(s) mentioned above it sounds fine to me to include it in >=v1.2.1.

We can add it behind a feature gate or if we think that it's too minor for that it could be an alternative to add a command line flag which is for now disabled per default.

[2022-07-12 14:45] fabriziopandini commented on #6831
I'm +1 to check for if the current pod exists in the "workload cluster" because it is simple and easily back-portable. When can eventually consider more complex/elegant solution in a follow-up iteration.

TBH, I don't think that we need a feature flag for this behavior because If I got the WIP right if one of POD_NAMESPACE, POD_NAME, POD_UID are empty (or we drop those variables), it reverts to ol

[2022-07-12 15:17] sbueringer opened #6901 "Topology Mutation Hook: Variable discovery"
**User Story**

As a cluster operator I would like to not be responsible for adding variable definitions used by a Topology Mutation Hook extension manually to a ClusterClass.

(mentioned as future work [here](https://github.com/kubernetes-sigs/cluster-api/blob/8615d34a550052866736b69c55f58198db040dc5/docs/proposals/20220330-topology-mutation-hook.md#clusterclass-author-guide))

**Detailed Descrip

[2022-07-12 15:28] sbueringer opened #6903 "RuntimeSDK: Surface the usage of deprecated versions of a Runtime Hook"
**User Story**

As an operator I would like to have a way to observe that a Runtime Extension uses a deprecated Runtime Hook version.

**Detailed Description**

Background information:
* Runtime Hooks can have multiple apiVersions just like regular API types
* When creating a new apiVersion of a Runtime Hook we can deprecate the old version
* Runtime Extension authors can still use the old version

[2022-07-12 15:35] sbueringer opened #6904 "RuntimeSDK: clusterctl should check if a CAPI upgrade would break extensions"
**User Story**

As an operator I would like to get a warning/error when running `clusterctl upgrade apply/plan` when the upgrade would break currently deployed Runtime Extensions.

**Detailed Description**

Background information:

* Runtime Hooks can have multiple apiVersions just like regular API types
* When creating a new apiVersion of a Runtime Hook we can deprecate the old version
* Runtime

[2022-07-12 15:53] fabriziopandini commented on #6899
I'm generally +1, but I also think we could take the opportunity to take an overall look at how MD knobs are set.

[2022-07-12 15:57] fabriziopandini commented on #6505
/close

rif https://github.com/kubernetes-sigs/cluster-api/pull/6878

[2022-07-12 15:57] #6505 closed

[2022-07-12 16:02] fabriziopandini commented on #6139
/lifecycle frozen

[2022-07-12 17:13] fabriziopandini commented on #6901
This is a super nice improvement, but also tricky to achieve.
I'm happy too pair in discussing a possible way forward

[2022-07-13 09:03] sbueringer commented on #6529
@enxebre Sorry I didn't have the time to add more details to the issue when I created it.

Goal is specifically to renew the certificates/kubeconfigs on control plane nodes (i.e. the ones that kubeadm can renew as well: https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/#check-certificate-expiration)

kubelet client certificates are already automatically rotated. kubelet ser

[2022-07-13 09:04] sbueringer commented on #6529
#### Background information

* **control plane nodes**: kubeadm generates [certificates and kubeconfigs](https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/#check-certificate-expiration) with 1 year expiration
* **worker nodes**:
  * Kubelet serving certificates are currently self-signed ([Enabling signed kubelet serving certificates](https://kubernetes.io/docs/tasks/adminis

[2022-07-13 09:33] chrischdi commented on #6529
Regarding

If `Machine.status.certificatesExpiryDate` is of type string and in format `time.RFC3339` (which it will be if it is a `metav1.Time`) then `kube-state-metrics` (next release already, but also after my PR) will be able to expose a metric for it 👍

[2022-07-13 09:43] sbueringer opened #6907 "Some manual testing"

[2022-07-13 10:37] #6804 closed

[2022-07-13 10:44] killianmuldoon commented on #4229
Can we mark this as done as part of #6546? @sbueringer WDYT?

[2022-07-13 10:59] chrischdi commented on #4229
👍 for ControlPlane nodes.

Regarding MachineDeployments: it would currently not be possible to do things on a per MachineDeployment base, only on "after all MachineDeployments" base. It also would not reflect state to MachineDeployments. But this points are up for discussion I think :-)

[2022-07-13 12:11] sbueringer commented on #4229
I don't think that Runtime Hooks today works for the described use case above. The idea was to do additional actions per-machine.

[2022-07-13 12:12] sbueringer commented on #4229
But I'm also fine with just closing this issue. I don't have that requirement anymore and there was no other demand for it in the last almost 1,5 years.

[2022-07-13 12:20] killianmuldoon commented on #4229
Given the feedback above let's leave it open - it seems like this might be a use case for an additional runtime hook if someone from the community is interested in it.

[2022-07-13 17:04] chrischdi commented on #6596
I'd like to tackle this

/assign

[2022-07-14 08:51] chrischdi commented on #6596
To note: this won't actually fix the issue our tests have yet, because we always set a imageRepository via ClusterClass.

[2022-07-14 09:23] sbueringer commented on #6596
Yup. We should drop that patch

[2022-07-14 10:09] chrischdi commented on #6596
I think we should just not do the patch if the value is empty instead :-) keeping it customizable?!

[2022-07-14 10:42] #6819 closed

[2022-07-14 10:47] killianmuldoon commented on #6333
I think we can close this given a lack of updates and assuming that it was fixed, as expected, by #6334

/close

[2022-07-14 10:47] killianmuldoon commented on #6333
I think we can close this given a lack of updates and assuming that it was fixed, as expected, by #6334

/close

[2022-07-14 10:47] #6333 closed

[2022-07-14 11:47] sbueringer commented on #6596
I don't think there is any need for that patch to be honest. It was just a random patch we added for testing.

To be clear. I'm only referring to the ClusterClass we are using in e2e tests. I don't think we have to keep it customizable.

[2022-07-14 13:56] chrischdi commented on #6596
@sbueringer : but doesn't the `"When following the Cluster API quick-start [PR-Blocking]"` test require us to keep the clusterclass in sync?

xref: https://github.com/kubernetes-sigs/cluster-api/blob/37a4b2b4c1a377f62c374a1be4a92df90035c329/test/e2e/quick_start_test.go#L27

[2022-07-14 14:22] killianmuldoon opened #6921 "Ensure errors from Runtime Extensions are sanitized before becoming conditions"
Currently we are returning errors from our runtime extensions on failure and, as with other types of errors in reconciliation, surfacing them in the TopologyReconciled condition on the Cluster object.

As these errors are created by an external process they are currently arbitrary and may violate Runtime SDK's assumptions around [idempotence](https://main.cluster-api.sigs.k8s.io/tasks/experimental

[2022-07-14 14:22] killianmuldoon commented on #6921
/area runtime-sdk

[2022-07-14 14:34] killianmuldoon commented on #6921
/lgtm

[2022-07-14 14:35] killianmuldoon commented on #6921
/assign

[2022-07-14 18:50] nehagjain15 opened #6923 "Cluster Upgrade stuck due to incorrect kube-proxy image being referred in the pods"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
We upgraded a classy cluster from 1.21 to 1.22 but the kube-proxy image reference was updated in the daemonset,
` image: localhost:5000/vmware.io/kube-proxy:v1.22.8_vmware.1`
 but the pod which was scheduled on new node has reference to the old image
` message: Back-off pulling image "loca

[2022-07-14 18:58] vincepri commented on #6923
What does the KCP spec look like?

[2022-07-14 19:36] sbueringer commented on #6923
I think we simply update the Daemonset at the end.

We don't rollout kube-proxy in-sync with the invidiual machines.

See: https://github.com/kubernetes-sigs/cluster-api/blob/a0265021fd6af377654f5424e12b069e788b20c2/controlplane/kubeadm/internal/controllers/controller.go#L385-L389

(not sure what the exact moment is, but we definitely just change the image in the one DaemonSet we have once, which

[2022-07-14 20:11] cprivitere commented on #6216
/remove-lifecycle rotten

[2022-07-15 00:17] ykakarap opened #6925 "self-hosted e2e tests should detect unexpected rollouts"
**User Story**

The self hosted e2e tests currently do not detect if an  operation results in rollout of KCP, MachineDeployments, etc.

We already test for the same in clusterctl upgrade e2e tests. This issue is to add a similar check to the self hosted tests as well.

Ref: https://github.com/kubernetes-sigs/cluster-api/issues/6094#issuecomment-1124941334

**Detailed Description**

[A clear and co

[2022-07-15 00:17] ykakarap commented on #6925
/assign

[2022-07-15 00:17] ykakarap commented on #6094
Issue for adding rollout check to self hosted e2e tests: https://github.com/kubernetes-sigs/cluster-api/issues/6925

[2022-07-15 05:02] Bo0km4n opened #6929 "use `--disable-eviction` option when drain node"
**User Story**
If cluster user had created PDB resource, machine deleting would stack at process of node drain
So after a few drain attempts, I hope that cluster-api machine controller try drain with `--disable-eviction` option.

This problem often occurs when a user performs a RollingUpdate of MachineDeployment.

**Detailed Description**
I propose my idea to implement above opinion.

Check node d

[2022-07-15 06:06] sbueringer commented on #6732
As far as I'm aware v1.0.x is out of support and there won't be another v1.0.x release.

[2022-07-15 06:17] sbueringer commented on #6094
Okay. I'll close this issue given we have a separate one for self-hosted

/close

[2022-07-15 06:17] #6094 closed

[2022-07-15 10:43] killianmuldoon commented on #6929
On first look it seems strange to use Cluster API to implicitly overwrite user intention expressed in a pod disruption budget. It seems like a better solution to this issue would be to surface the reason for the lack of rollout of machines at the Cluster API level so users can better configure their workloads.

@Bo0km4n have you got a toy example I could test to see the impact of PDB blocking roll

[2022-07-15 11:20] sbueringer commented on #6135
It looks like this is not true anymore with SSA. Apparently SSA detects this case:

(but let's please verify this to be 100% sure)

[2022-07-15 13:30] sbueringer commented on #6929
@killianmuldoon I think you can just deploy something like that:
[code]

Selector has to match some pods that you have (e.g. just let it match the capi controller on a self-hosted cluster). If you want a always blocking PDB just use minAvailable 1 and a Deployment with 1 replica.

Current behavior is probably:
* without nodeDrainTimeout: drain will just fail indefinitely
* with nodeDrainTimeout: d

[2022-07-15 13:35] fabriziopandini commented on #6732
As per comments above
/close

[2022-07-15 13:36] #6732 closed

[2022-07-15 15:38] killianmuldoon commented on #5240
/remove-lifecycle-state

[2022-07-15 15:49] paulcarlton-ww opened #6936 "clusterctl init keeps failing with error unable to get metadata.yaml"
**What steps did you take and what happened:**

keep getting rate limiting error when running clusterctl init
[code]

**Environment:**

- Cluster-api version:
[code]
- Kubernetes version: (use `kubectl version`):
[code]
- OS (e.g. from `/etc/os-release`):
[code]

/kind bug

[2022-07-15 15:59] killianmuldoon commented on #6936
Does specifying the version using e.g. `clusterctl init --core=cluster-api:v1.1.3 --infrastructure aws,azure ` working on your set up?

[2022-07-15 16:03] Bo0km4n commented on #6929
In my case, I provide Kubernetes as a Service with using Cluster API.
Workload clusters are used by organizations and users different from us, the provider of the Cluster API.
So we cannot be involved in PDBs on workload clusters.

And if a PDB with minAvailable 1 exists during the rollout of a workload cluster, the process gets stuck.
So I want to activate the `--disable-eviction` option after dr

[2022-07-15 16:48] killianmuldoon commented on #5597
It looks like there were five separate issues logged in relation to the kubadm join retry problem:
https://github.com/kubernetes/kubeadm/issues/2094
https://github.com/kubernetes/kubeadm/issues/2093
https://github.com/kubernetes/kubeadm/issues/2092
https://github.com/kubernetes/kubeadm/issues/2091
https://github.com/kubernetes/kubeadm/issues/2095

The associated fixes made it into kubeadm and were

[2022-07-15 16:55] paulcarlton-ww commented on #6936
yep, Thanks

[2022-07-15 16:55] #6936 closed

[2022-07-15 16:59] killianmuldoon commented on #6936
Very interesting error though - the only thing I can find out about the suffix d32ac08 is that it's just one character away from a lovely shade of pink https://www.color-hex.com/color/d32ac8 😆

[2022-07-17 00:56] ggaurav10 commented on #5169
Can we please backport the fix for this issue to branch v0.4?

[2022-07-18 07:45] furkatgofurov7 commented on #6285
@fabriziopandini I thought we were [clear](https://github.com/kubernetes-sigs/cluster-api/issues/6285#issuecomment-1098145683) about why we were introducing the new timeout other than the nodeDrainTimeout. As @sbueringer pointed out, waitingForVolumeDetachment indefinitely thinking it works for everyone is not a good idea and for that reason, we came up with new `volumeDetachTimeout` timeout. Let

[2022-07-18 07:54] chrischdi commented on #3439
Just because I did some research: some context when considering an implementation of `clusterctl alpha rollout undo` for KCP: if it gets implemented it should take care to not allow downgrades of ControlPlane nodes which could break a cluster.

* We should always take https://kubernetes.io/releases/version-skew-policy/ into account which more or less means from a ControlPlane perspective that no M

[2022-07-18 10:35] fabriziopandini commented on #5597
The deprecation process is started, however, before removal I would like to check again with providers/with the community

[2022-07-18 10:37] killianmuldoon commented on #5597
I'll create a new issue to discuss that and outline the steps for removal - it's a little more complicated than just removing the field this time 🙂

[2022-07-18 11:03] killianmuldoon opened #6942 "Remove experimentalRetryJoin"
experimentalRetryJoin is [deprecated as of CAPI release 1.2](https://github.com/kubernetes-sigs/cluster-api/pull/6938). Removal is expected to happen in release 1.3 - but before proceeding we should have high confidence that CAPI + Kubeadm are capable today of solving [the problem that experimentalRetryJoin was designed to fix](https://github.com/kubernetes-sigs/cluster-api/pull/2763/files).

In o

[2022-07-18 11:05] sbueringer commented on #6942
In my opinion we should never remove a field from a v1beta1 apiVersion without an apiVersion bump.

[2022-07-18 11:08] killianmuldoon commented on #6942
Good point, but I suppose that doesn't necessarily preclude us from changing the behaviour. It's not exactly a feature gate, but the field is prefixed with `experimental`

[2022-07-18 11:11] sbueringer commented on #6942
So we would keep the field but disable its behavior? I think that's a very dangerous precedent.

[2022-07-18 11:15] killianmuldoon commented on #6942
This is done regularly for experimental features as I understand it. The key question is whether we consider this experimental or not given the prefix. I think the most important thing here is whether the actual behaviour is fixed rather than the API fields and behaviour though.

[2022-07-18 12:03] killianmuldoon commented on #6942
/area bootstrap

[2022-07-18 12:04] killianmuldoon commented on #6942
/remove area/bootstrap

[2022-07-18 12:20] Bo0km4n commented on #6929
Thanks @sbueringer .
But one point of concern. If the evicting target pod using PVC, the mounted volume attached to delete node will be orphan volume?

[2022-07-18 12:43] sbueringer commented on #6929
Not sure. This might depend on your infrastructure. CAPI will just delete the node object and then the corresponding infra.

[2022-07-18 13:06] enxebre commented on #6899
is this a dup of https://github.com/kubernetes-sigs/cluster-api/issues/5863?

[2022-07-18 13:13] Bo0km4n commented on #6929
@enxebre Thank you for your information. I will try discuss about above issues.
And I will check the above volumes and related behaviors in my environment.

Thank you guys. I close this issue.

[2022-07-18 13:13] #6929 closed

[2022-07-18 17:01] #6907 closed

[2022-07-18 17:02] sbueringer opened #6945 "Consider dedup lowestNonZeroRetryAfterSeconds"
During the Runtime SDK implementation we introduced a copy of `lowestNonZeroRetryAfterSeconds`.

Let's consider if we should deduplicate and only have this once as a util.

/kind cleanup
[One or more /area label. See https://github.com/kubernetes-sigs/cluster-api/labels?q=area for the list of labels]

[2022-07-18 17:04] sbueringer opened #6946 "Consider adding constants for field paths of core CAPI resources"
This is a follow-up to https://github.com/kubernetes-sigs/cluster-api/pull/6289#discussion_r890120475

Goal of this issue is to discuss introducing constants for field paths that we currently hard-code around the code base (e.g. `"spec.infrastructureRef"`).

/kind cleanup
[One or more /area label. See https://github.com/kubernetes-sigs/cluster-api/labels?q=area for the list of labels]

[2022-07-18 17:05] sbueringer opened #6947 "Consider introducing constants for builtin variable paths"
This is a follow-up to https://github.com/kubernetes-sigs/cluster-api/pull/6289#discussion_r890124352

Goal of this issue is to discuss introducing constants for builtin variable paths that we currently hard-code around the code base (e.g. `"builtin.machineDeployment.topologyName"`).

/kind cleanup
[One or more /area label. See https://github.com/kubernetes-sigs/cluster-api/labels?q=area for the l

[2022-07-18 17:06] #6330 closed

[2022-07-18 18:34] ykakarap commented on #6615
Sounds good. I will create the separate issue, link it here and close this.

[2022-07-18 18:40] ykakarap opened #6950 "Issue triaging for `v1.3.x`"
**Details**:

This is a pending item on the [Tasks list to prepare `v1.3.x` for development](https://github.com/kubernetes-sigs/cluster-api/issues/6615) to move GitHub issues to the new milestone.

Latest discussion on issue triaging here: https://github.com/kubernetes-sigs/cluster-api/pull/6828

cc @vincepri @sbueringer @CecileRobertMichon @fabriziopandini

[2022-07-18 19:38] christianang opened #6951 "Updating Cluster network configuration for single stack to dual-stack upgrades"
**User Story**

As an operator I would like to update the cluster network configuration for an existing Cluster resource for upgrading a single stack Cluster to a dual-stack Cluster.

**Detailed Description**

I'd like to be able to add the cidr range for an additional IP family to `spec.clusterNetwork.pods.cidrBlocks` and `spec.clusterNetwork.services.cidrBlocks` e.g If I have a single stack IPv4

[2022-07-19 00:28] ykakarap opened #6953 "clean up `cmd/clusterctl/internal/util/cmd.go`"
**Details**:

Looks like non of the functions and types defined in `cmd/clusterctl/internal/util/cmd.go` are used and this code can be deleted. Since it is an internal package we should be safe in deleting the file.

/area cleanup
/area clusterctl

[2022-07-19 00:29] ykakarap commented on #6953
/assign

[2022-07-19 09:49] fabriziopandini commented on #6040
/remove-lifecycle rotten

[2022-07-19 10:03] fabriziopandini commented on #6950
It will be great to get to an agreement for https://github.com/kubernetes-sigs/cluster-api/pull/6828 before doing this

[2022-07-19 10:04] fabriziopandini commented on #6947
/area topology

[2022-07-19 10:05] fabriziopandini commented on #6946
What about replacing those constants using the contract package?

[2022-07-19 10:05] fabriziopandini commented on #6945
/area runtime-sdk

[2022-07-19 10:07] fabriziopandini commented on #6953
/kind cleanup

[2022-07-19 10:07] sbueringer commented on #6946
I'm not sure if it's part of the contract. Up until know (afaik) contract covers the contract between core CAPI and bootstrap/infra/control plane providers.

These fields are just the always-constant paths of the fields in our core CRDs. For me it feels like they should rather be part of the clusterv1 apiGroup.

[2022-07-19 10:16] #6921 closed

[2022-07-19 10:32] #6953 closed

[2022-07-19 10:54] #5760 closed

[2022-07-19 12:19] fabriziopandini commented on #5769
/remove-lifecycle stale

[2022-07-19 15:51] sbueringer commented on #6596
Would be great if someone can keep an eye on testgrid the next few days

[2022-07-19 16:21] chrischdi commented on #6596
I will do so 😀 I'd like to see green test grids

[2022-07-20 02:56] #6786 closed

[2022-07-20 03:15] ruifaling opened #6959 "How to set the values of 'requests' and 'limits' about the CAPI pods"
How to set the values of requests and limits of pod when deploying CAPI? What is the relationship between the size of the workload cluster and CAPI resource consumption ?

[2022-07-20 05:46] ruifaling commented on #6959
kind/help

[2022-07-20 07:12] richardcase commented on #6126
/remove-lifecycle stale

[2022-07-20 11:37] enxebre commented on #6831
This connection goes through the external load balancer, and this is not ideal in the case of self-hosted clusters given that we can use "in cluster" connectivity to avoid unnecessary network hoops.

I don't think it's really implicit that it uses external load balancer but rather [whatever the known secret might contain, which is dictated by any given control plane implementation](https://github.

[2022-07-20 13:49] schrej commented on #5240
/reopen
/remove-lifecycle stale

[2022-07-20 14:38] MaxFedotov commented on #5442
Hello! And what is the current state of this issue? The lack of autoscaling abilities seems like a big stopper for migrating to ClusterClass and managed topologies

[2022-07-20 15:33] killianmuldoon commented on #5240
@schrej Is there something specific outstanding on this issue we should tackle?

[2022-07-20 15:44] schrej commented on #5240
Oh sorry, just saw your misspelled lifecycle command and missed the PR.

/close

[2022-07-20 15:44] #5240 closed

[2022-07-20 15:47] killianmuldoon commented on #5240
I didn't even notice that until now 😆

[2022-07-20 16:55] elmiko commented on #5442
@MaxFedotov as you can tell we haven't discussed this in the past month or so. i know the group is split about whether ClusterClass should expose a way to deploy the cluster autoscaler, and we have decided not to include this functionality currently.

with that said, you could add the minimum and maximum scaling annotation to the MachineDeployment or MachineSets defined in the ClusterClass. that w

[2022-07-20 17:35] fabriziopandini commented on #6951
We discussed this in the 20th July office hours and I'm reporting my take from the discussion (feel free to discuss)
- unblocking the webhook is the easiest part, but we should understand what this operation entails at infrastructure level and/or at node level
- given ^^ we should evaluate if it is worth to go down this path or it will be simpler to create a new cluster and migrate workloads

[2022-07-20 17:46] elmiko commented on #5442
we had a conversation about this on slack, it has some interesting details about problems that users might find.

https://kubernetes.slack.com/archives/C8TSNPY4T/p1658302795387519

[2022-07-20 20:16] MaxFedotov commented on #5442
Performed some test using CAPD.
If you create a Cluster and specify `replicas` for `controlPlane` or `machineDeployments`
[code]
you won't be able to scale them using:
[code]
or
[code]
They will always go to values specified in `Cluster` spec and the following error will be in capi-controller-manager logs:
[code]

But if your `Cluster` spec won't include `replicas` field  for `controlPlane` or `ma

[2022-07-21 07:04] abhijit-dev82 commented on #6450
/assign

[2022-07-21 12:52] chrischdi opened #6965 "Refactor WatchDeploymentLogs to use label selectors instead of selecting deployments by name."
**User Story**

As a developer I would like to call a function in e2e tests to stream logs of deployments, selected by a label selector, for not requiring to know the exact name of the deployment in the test implementation.

**Detailed Description**

Currently we do already the same but need to know the exact deployment name to do so, example: https://github.com/kubernetes-sigs/cluster-api/pull/68

[2022-07-21 12:55] killianmuldoon commented on #6864
/assign

[2022-07-21 16:37] enxebre opened #6966 "Paused behaviour is inconsistent"
**What steps did you take and what happened:**

In a MachineDeployment:
In the predicates we check cluster.Spec.Paused or the MachineDeployment has the annotation. We ignore MachineDeployment.Spec.Paused https://github.com/kubernetes-sigs/cluster-api/blob/main/internal/controllers/machinedeployment/machinedeployment_controller.go#L75-L97.

Then in the reconciling logic we first check the cluster.S

[2022-07-21 16:44] killianmuldoon commented on #6966
It looks like the current behaviour of paused is different depending on whether you set the spec field or the annotation? With the annotation you get no reconciliation, but with the spec field we end up calling sync() which has even allows some scaling behaviour? :thinking:

[2022-07-21 16:58] killianmuldoon commented on #6126
/area topology

[2022-07-21 17:01] enxebre commented on #6966
/kind cleanup

[2022-07-21 17:19] enxebre commented on #6831
Ah I see, I missed that. Makes sense. Thanks @CecileRobertMichon

yeh kind of, I'm suggesting long term we might want think about a model/contract letting multiple kubeconfigs scoped to different purposes to be created and so them be consumed as they best fit. But you're right for this particular case doesn't seem to help much.

fwiw the current PR lgtm I have no objections.

[2022-07-21 17:39] enxebre commented on #5145
related https://github.com/kubernetes-sigs/cluster-api/issues/5863

[2022-07-21 17:47] enxebre commented on #6894
Thanks for reporting @pradipd, could you elaborate on the use case to tolerate unschedulable?

[2022-07-21 18:26] pradipd commented on #6894
Unfortunately, I can not.  I still haven't found the reason the team has the unschedulable toleration on their replica set.
But, again, i don't think CAPI should be blocking upgrade if a POD is stuck in pending.

[2022-07-22 06:03] abhijit-dev82 commented on #6450
@sbueringer I can start working on this. Is that ok?

[2022-07-22 07:12] chrischdi commented on #6596
For the record: was green for two times in series since the fix was merged.

[2022-07-22 07:25] enxebre commented on #6894
The process is as follows:
- We check if a node is drainable e.g. drainTimeout has not been met. If it is drainable:
- We cordon the node.
- We drain - When a [Node is unreachable for too long we skip drain](https://github.com/kubernetes-sigs/cluster-api/blob/main/internal/controllers/machine/machine_controller.go#L554-L558).
- We delete infra.
- We delete the Node CR.

As you can see in the workf

[2022-07-22 10:16] killianmuldoon commented on #6450
@abhijit-dev82 let's wait until the person already assigned to it responds. @palnabarun have you been able to make any progress so far, or are you happy to hand this off?

[2022-07-22 18:32] jayunit100 commented on #6884
ok, should we close this, then ?

[2022-07-22 19:24] abhay-krishna opened #6972 "Question regarding CAPD infrastructure components manifest"
I downloaded the CAPD manifest linked in the v1.2.0 release and noticed that the image referenced in the Deployment was tagged `main`.
[code]
For previous releases however it is tagged with that tag version
[code]

I was wondering if this is intended for every new version that comes out, where the latest CAPD image deployed will be tagged `main`.

[2022-07-22 19:30] abhay-krishna commented on #6972
/area provider/docker

[2022-07-25 07:34] killianmuldoon commented on #6972
/assign

Definitely seems like an issue with the latest release.

[2022-07-25 08:03] killianmuldoon commented on #6972
@abhay-krishna Thanks for catching this! The image is published and available so you should change the image in your local manifest to `gcr.io/k8s-staging-cluster-api/capd-manager:main`. I'm going to figure out our options for updating the release with the fixed manifest.

[2022-07-25 09:41] killianmuldoon commented on #6972
This should be fixed in the current release branch, and I've got a PR out to fix the root cause in how our manifests are being generated. Thanks again for catching this!

[2022-07-25 10:00] #6972 closed

[2022-07-25 10:12] killianmuldoon opened #6975 "Add make target to generate release manifests"
Currently the only way to generate our release manifests with the CAPI Makefile is to run `make release`. Currently this runs the following targets:
[code]
With the first target - `make release-binaries` - taking by far the longest. We should introduce a way to simply generate the manifests without needing to create the binaries - i.e. introduce a target `make release-manifests-all` with the follo

[2022-07-25 10:12] killianmuldoon commented on #6975
/assign

[2022-07-25 10:20] killianmuldoon opened #6976 "Added ObjectMeta to KubeadmConfigTemplateResource, KubeadmControlPlaneTemplateResource"
Following on from https://github.com/kubernetes-sigs/cluster-api/issues/5240 we should probably add ObjectMeta to all of our *TemplateResource types as we did for the Docker infrastructure templates in https://github.com/kubernetes-sigs/cluster-api/pull/5441

There's no clear use case for adding this meta to KubeadmConfigTemplateResource, KubeadmControlPlaneTemplateResource, but there seems to be

[2022-07-25 11:58] fabriziopandini commented on #6884
As per comment above
/close

We can re-open if additional work is required.

[2022-07-25 11:58] #6884 closed

[2022-07-25 12:08] killianmuldoon commented on #6959
/close

Duplicate of #1677

[2022-07-25 12:08] #6959 closed

[2022-07-25 12:58] killianmuldoon commented on #5394
@SubhasmitaSw have you had any time to work on this?

[2022-07-25 12:59] killianmuldoon commented on #5394
#6966 Related - we should document spec fields and annotations together if possible.

[2022-07-25 13:06] killianmuldoon commented on #5968
golangci-lint bump now being tracked in https://github.com/kubernetes-sigs/cluster-api/pull/6737

[2022-07-25 13:07] killianmuldoon commented on #6007
@ykakarap have you been able to look at this? I can take this up otherwise if you'd like.

[2022-07-25 13:11] killianmuldoon commented on #5809
The Topology Mutation Hook includes a [ValidateTopology](https://cluster-api.sigs.k8s.io/tasks/experimental-features/runtime-sdk/implement-topology-mutation-hook.html#validatetopology) call so users with stricter validation requirements, which they can implement to their own requirements, can use that and could be encouraged to do so.

I'm not sure if we want stricter and more complex validation f

[2022-07-25 13:13] killianmuldoon commented on #5957
#3770 related

[2022-07-25 13:18] killianmuldoon commented on #6385
No longer happening to me - maybe fixed by a tilt update?

[2022-07-25 13:18] #6385 closed

[2022-07-25 13:23] killianmuldoon commented on #6391
/close

This is a wontfix in it's current state. The solution to this is to remove these types once we drop support for v1.21, when will happen isn't determined, but it doesn't need to be tracked as an issue with UnmarshalClusterStatus.

[2022-07-25 13:23] #6391 closed

[2022-07-25 13:43] killianmuldoon commented on #6397
/remove-lifecycle stale

[2022-07-25 15:09] chrischdi commented on #6661
`Release specific issues:` / `/Adjust KCP to migrate registry` should be fixed now :-)

[2022-07-25 15:43] killianmuldoon commented on #6429
/remove-lifecycle stale

[2022-07-25 15:44] killianmuldoon commented on #5658
/remove-lifecycle stale

[2022-07-25 16:43] killianmuldoon commented on #5510
/remove-lifecycle stale

Work is still ongoing - tracked in #6458 to make the UX for this work easily with CAPI

[2022-07-25 17:01] CecileRobertMichon commented on #4526
/reopen

#6971 didn't actually fix this, we'll want https://github.com/kubernetes-sigs/cluster-api/pull/6412 to fully fix this issue

[2022-07-25 20:23] asheeshv commented on #5940
The same issue occurs on docker desktop for windows when Kubernetes is enabled inside of it. However, it creates a different container for each of the pods running as part of a setup. Is there a way to enable this in windows as well?
Thanks,
Asheesh

[2022-07-26 01:11] ywk253100 commented on #3770
/remove-lifecycle stale

[2022-07-26 01:27] ywk253100 commented on #3770
/remove-lifecycle frozen

[2022-07-26 01:29] ywk253100 commented on #3770
/remove-lifecycle rotten

[2022-07-26 07:22] chrischdi commented on #6641
Jobs for CAPI main and v1.2 which upgrade to latest (v1.25) are green 👍  No other tests upgrade to v1.25 and coredns 1.9.3.

/close

[2022-07-26 07:22] #6641 closed

[2022-07-26 08:41] killianmuldoon commented on #3770
@ywk253100 Thanks for removing the tag! Have you encountered this issue separately and do you have some info to share on the cause?

[2022-07-26 08:45] killianmuldoon commented on #5940
Hi asheeshv - are you having this issue with Docker Desktop 4.3? If not, and you're getting the 'too many open files' issue you might find some tips here: https://cluster-api.sigs.k8s.io/user/troubleshooting.html#cluster-api-with-docker----too-many-open-files

I'm not sure what the architectural differences between Docker desktop on different OSes, but some of that information could be useful.

[2022-07-26 09:26] fabriziopandini commented on #5991
/remove-lifecycle stale

[2022-07-26 12:15] killianmuldoon opened #6979 "Secret ownerReferences not restored"
When Cluster API is backed up and restored the ownerReferences on the Kubernetes Secrets relating to the cluster are not restored. This doesn't seem to cause issues in the functioning of the cluster, but it causes these Secrets to not be deleted when the Cluster is deleted.

The following flow then results in an error as some of the secrets continue to exist unexpectedly.
1) Restore cluster 'my-cl

[2022-07-26 12:26] killianmuldoon opened #6980 "KubeadmConfig owner references not restored"
When Cluster API is backed up and restored the ownerReferences on the KubeadmConfig are not restored. As there is a check in the KubeadmConfig reconciler for the ownerReference [these KubeadmConfigs are not reconciled](https://github.com/kubernetes-sigs/cluster-api/blob/cca725c1ca50ee58ca1d4531dbeb2bb7a92669c7/bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go#L172) after a restore

[2022-07-26 12:30] killianmuldoon commented on #3134
@ramineni Have you had time to work on this?

[2022-07-26 16:31] #6831 closed

[2022-07-26 19:56] fabriziopandini commented on #6688
I would align to whatever k/k does
@neolit123 any info WRT to ^^

[2022-07-26 20:16] fabriziopandini opened #6985 "clusterctl topology plan should generate diff files in yaml"
**What steps did you take and what happened:**
Run clusterctl topology plan and I noticed that the .diff files represent resources as a go type instead of yaml, e.g.

[code]

**What did you expect to happen:**
to have a diff in yaml (easier to read)

**Environment:**

- Cluster-api version: main

/kind bug
/area topology
/area clusterctl

[2022-07-26 20:18] ykakarap opened #6986 "`clusterctl init --list-images` should not need an initialized cluster"
**Detailed Description**

`clusterctl init --list-images` currently requires that there exists a cluster that is already initialized. When running with a cluster that is not initialized the command throws the following error:
[code]

This seems to be a circular dependency: Having to `init` before one can list the images that are needed to init.

It would be nice if we could list the images without

[2022-07-26 20:20] ykakarap commented on #6986
**Prospect Solution**:
We should be able to skip performing the List operation during `InitImages` if the cluster is not already initialized.

[2022-07-26 20:20] ykakarap commented on #6986
/help

[2022-07-26 20:31] neolit123 commented on #6688
the Wrap(f) gives formatting consistency and avoids leakage of `text: ...` vs `text : ...` formatting diffs. stdlib has no answer.

k/k is not taking action for kubeadm the time being, although there was a ticket somewhere.
unless k/k/kubeadm is forced to switch we can continue vendoring it.

[2022-07-27 00:00] ywk253100 commented on #3770
@killianmuldoon  I got a similar issue when setting the wrong label selector with MD just like said in https://github.com/kubernetes-sigs/cluster-api/issues/5957.
When I correct the label selector manually, the issue is gone in my env.

[2022-07-27 00:52] ywk253100 commented on #6980
Here is the KubeadmConfig before backing up during my testing:
[code]

The same one after restoring:
[code]

[2022-07-27 06:16] valaparthvi commented on #6986
Interested :hand:
I'd like to take this up if that's alright.

[2022-07-27 07:47] chrischdi commented on #6985
/assign

[2022-07-27 10:13] killianmuldoon commented on #5699
/remove-lifecycle stale

[2022-07-27 10:15] killianmuldoon commented on #3770
Let's keep the discussion on issue #5957 and allow this issue to go stale unless we get some more info specific to this use case / outcome.

[2022-07-27 10:16] killianmuldoon commented on #3770
/lifecycle rotten

[2022-07-27 16:45] ykakarap commented on #6986
Perfect, go ahead. :)

/assign @valaparthvi

[2022-07-27 16:48] ykakarap commented on #6007
@killianmuldoon I did get to take a look at this. Please go ahead if you would like :)

[2022-07-27 16:48] killianmuldoon commented on #6007
/assign

[2022-07-27 16:50] ykakarap commented on #6007
/unassign

[2022-07-28 07:22] chrischdi commented on #6985
There would be two solutions:

A: Reuse prior art from `kubectl` / `kubectl diff`:
* This would lead to using and executing the `diff` binary or to be more specific `diff -u -N`, which could get overwritten by the env var `KUBECTL_EXTERNAL_DIFF`
* The output would be as follows:
[code]

B: use the package `github.com/pmezard/go-difflib/difflib` (which is already an indirect dependency)

* This wou

[2022-07-28 11:22] 13164815445 commented on #4936
I am very interested in this project, can I try to solve this problem?

[2022-07-28 11:24] killianmuldoon commented on #6007
/remove-lifecycle frozen

[2022-07-28 11:27] killianmuldoon commented on #4936
@13164815445 Welcome and thanks for your interest! It might be a good idea to tackle on of our [good first issues](https://github.com/kubernetes-sigs/cluster-api/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22) initially to get used to the workflow in contributing to Cluster API.

[2022-07-28 11:41] 13164815445 commented on #4936
thanks! can i assign this issue to me? @killianmuldoon

[2022-07-28 13:08] fabriziopandini commented on #6985
I think we can get this by refactoring a little bit the current code, so we convert object to yaml first and then we use the gernerated yaml to both create the files and compute the diff (now generating yaml is nested into create files)

[2022-07-28 14:12] chrischdi commented on #6985
Generating the yaml is easily refactored and would drop the os.ReadFile 👍

Still opens the question what to use for generating the actual `.diff` file. The used `cmp` library is not able to provide a proper diff for strings.

[2022-07-29 04:16] 13164815445 commented on #4936
/assign @13164815445

[2022-07-29 07:34] adilGhaffarDev commented on #6965
I would like to work on it. I am assigning it to myself.
/assign

[2022-07-29 08:43] fabriziopandini opened #6992 "Deprecate clusterctl backup and clusterctl restore"
**Detailed Description**

`clusterctl backup` and `clusterctl restore` command names are misleading and they drive a lot of confusion in the users.

Those command does not provide a full backup and restore solution, they never intended to be.
Instead they allow to break down the `cluster move` command workflow into two parts; `clusterctl backup` is the first part where move reads from the source c

[2022-07-29 13:48] fabriziopandini opened #6994 "Improve logs according to new guidelines"
We recently merged our [logging guidelines](https://github.com/kubernetes-sigs/cluster-api/pull/6969) and a first [PR](https://github.com/kubernetes-sigs/cluster-api/pull/6150) ensuring all the logs from a reconcile have consistent keys.

Now it is possible make a pass on our controller and improve existing log messages to take benefit of key-value pairs, and a good way to do so is to focus on a s

[2022-07-29 14:27] fabriziopandini commented on #6994
/help-wanted

[2022-07-29 17:25] fabriziopandini commented on #6947
/triage accepted

[2022-07-29 17:29] fabriziopandini commented on #6706
/triage accepted

The biggest challenge here is to make sure that a variable that is meant to be used in scope is not used somewhere else, and this is complex given that variables can be used in go templates or in external patches.

[2022-07-29 17:31] fabriziopandini commented on #6620
/triage accepted

[2022-07-29 17:33] fabriziopandini commented on #6450
/triage accepted
/assign @killianmuldoon

[2022-07-29 17:34] fabriziopandini commented on #6450
/unassign @palnabarun
@abhijit-dev82 feel free to start working on this issue

[2022-07-29 17:35] fabriziopandini commented on #6329
/triage accepted
/close

@PushkarJ we can eventually re-open if more work is required

[2022-07-29 17:35] #6329 closed

[2022-07-29 17:36] fabriziopandini commented on #6279
AFAIK this is not required anymore, and also we have external patches
/close

[2022-07-29 17:38] #6279 closed

[2022-07-29 17:38] fabriziopandini commented on #6139
/triage accepted

[2022-07-29 17:40] fabriziopandini commented on #6135
/tirage accepted

[2022-07-29 17:40] fabriziopandini commented on #6135
/triage accepted

[2022-07-29 17:42] fabriziopandini commented on #6126
/close
this has been fixed by introducing support for server side apply

[2022-07-29 17:42] fabriziopandini commented on #5991
/triage accepted

[2022-07-29 17:43] fabriziopandini commented on #5863
/triage accepted

[2022-07-29 17:44] fabriziopandini commented on #5859
/triage accepted

[2022-07-29 17:45] fabriziopandini commented on #5809
/triage accepted

[2022-07-29 17:47] fabriziopandini commented on #5770
As per 29/7 backlog grooming, we are not implementing this.
/close

[2022-07-29 17:47] #5770 closed

[2022-07-29 17:48] pydctw commented on #6126
This issue is related to https://github.com/kubernetes-sigs/cluster-api/pull/6988 for EKS ClusterClass support, not server side apply. Will keep it open until the proposal is merged.

/reopen

[2022-07-29 17:48] fabriziopandini commented on #5769
As per 29/7 discussion we are not going to implement this
/close

[2022-07-29 17:48] #5769 closed

[2022-07-29 17:49] fabriziopandini commented on #5699
/triage accepted

[2022-07-29 17:49] pydctw commented on #6126
/remove-lifecycle stale

[2022-07-29 17:50] fabriziopandini commented on #5673
/triage accepted

@sbueringer let's work together to summarize all the comments and define an action plan

[2022-07-29 17:51] fabriziopandini commented on #5623
/triage accepted

[2022-07-29 17:54] fabriziopandini commented on #5442
As per comment above this is already possible,
There is also documentation in the autoscaler https://github.com/kubernetes/autoscaler/pull/5053 thanks to @killianmuldoon
/close

[2022-07-29 17:55] #5442 closed

[2022-07-29 17:58] fabriziopandini commented on #1271
/triage accepted

I think we should expand a little bit the requirements in this issue

[2022-07-29 17:59] fabriziopandini commented on #5019
/triage accepted

[2022-07-29 18:01] fabriziopandini commented on #5145
/triage accepted

[2022-07-29 18:02] fabriziopandini commented on #5218
/triage accepted

[2022-07-29 18:04] fabriziopandini commented on #5222
/close
I'm working with @chrischdi to open an issue to enforce validation on version fields that will solve this issue as well

[2022-07-29 18:04] #5222 closed

[2022-07-29 18:05] fabriziopandini commented on #5230
@randomvariable can we re-assess requirement here now that runtime SDK is available
/triage accepted

[2022-07-29 18:06] fabriziopandini commented on #5347
As per 29/7 backlog grooming discussion
/close

[2022-07-29 18:06] #5347 closed

[2022-07-29 18:07] fabriziopandini commented on #6126
/triage accepted

[2022-07-29 18:29] fabriziopandini commented on #6950
/close
we are doing this according to new process introduced by https://github.com/kubernetes-sigs/cluster-api/pull/6828 that aims to eliminate some toil on how do we manage releases

[2022-07-29 18:29] #6950 closed

[2022-07-29 18:32] fabriziopandini commented on #6975
/triage accepted

[2022-07-29 18:34] fabriziopandini commented on #6864
/triage accepted

[2022-07-29 18:36] fabriziopandini commented on #6765
/close

https://github.com/kubernetes-sigs/cluster-api/issues/6831 have fixed this

[2022-07-29 18:37] #6765 closed

[2022-07-29 18:42] fabriziopandini commented on #4897
/triage accepted

As discussed in the CAPI office hours meeting, @mboersma will send an email to the list announcing the timeline for switching to Ginkgo v2.

[2022-07-29 18:47] fabriziopandini commented on #3728
/triage accepted

[2022-07-29 18:49] fabriziopandini commented on #4461
/close
It seems the test is stable lately

[2022-07-29 18:52] fabriziopandini commented on #6925
/lifecycle accepted

[2022-07-29 18:52] fabriziopandini commented on #6350
/triage accepted

[2022-07-29 18:52] fabriziopandini commented on #6074
/triage accepted

[2022-07-29 18:55] fabriziopandini commented on #6900
/triage accepted

[2022-07-29 18:56] fabriziopandini commented on #6925
/triage accepted

[2022-07-29 18:57] fabriziopandini commented on #6841
/triage accepted

[2022-07-29 18:59] fabriziopandini commented on #5836
/close
we are not making progress and it seems there isn't strong demand for this.

[2022-07-29 18:59] #5836 closed

[2022-07-29 18:59] fabriziopandini commented on #4684
/triage accepted

[2022-07-29 19:01] fabriziopandini commented on #6946
/triage accepted

[2022-07-29 19:03] fabriziopandini commented on #6688
/triage accepted

Let's keep this around to monitor the situation, but I will aling to k/k and not take action for the time being

[2022-07-29 19:03] fabriziopandini commented on #6661
/triage accepted

[2022-07-29 22:40] PushkarJ commented on #6329
Thanks for taking care of this @fabriziopandini. @chrischdi would you be interested in writing a short blog post about this with me?

[2022-07-30 01:01] jessehu commented on #1740
update: the IPAM Proposal is added in CAPI 1.2.0:
https://github.com/kubernetes-sigs/cluster-api/pull/6000
https://github.com/kubernetes-sigs/cluster-api/pull/6313

[2022-07-30 21:11] oscr commented on #6992
Is this a "help wanted" issue? If so, I would love to take it when I get back from the fells next week.

[2022-08-01 01:43] daixiang0 commented on #6350
New release has come, please try :)

[2022-08-01 06:04] chrischdi commented on #6350
It's currently getting tracked via https://github.com/kubernetes-sigs/cluster-api/pull/6737 , the recent golangci lint disabled some linters in revive due to performance issues.

[2022-08-01 07:43] killianmuldoon commented on #6350
I think we should close this in favor of #6737.  This no longer represents the issue with golangci-lint as of version 1.47.

This is also being tracked broadly as a part of #release task https://github.com/kubernetes-sigs/cluster-api/issues/5968

/close

[2022-08-01 07:43] #6350 closed

[2022-08-01 09:06] fabriziopandini opened #6996 "Test Add labels plugin"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version:
- minikube/kind version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-releas

[2022-08-01 09:44] fabriziopandini commented on #6996
/close
It doesn't seem to be working 😭

[2022-08-01 09:45] #6996 closed

[2022-08-01 09:47] fabriziopandini commented on #6992
/help-wanted

@oscr, feel free to assign yourself to this task

[2022-08-01 11:38] chrischdi commented on #3728
@anusha94 are you still working at this?

[2022-08-01 14:03] vincepri commented on #6007
/triage accepted

[2022-08-01 14:03] vincepri commented on #6007
/milestone v1.2
/assign @killianmuldoon

[2022-08-01 14:03] vincepri commented on #6007
/milestone v1.3

[2022-08-01 21:26] oscr commented on #6992
/assign

[2022-08-02 09:56] fabriziopandini opened #7000 "KCP fails when remediation happen and there are no healthy members"
**What steps did you take and what happened:**
On a Cluster under heavy stress / with kubelet failing to report status KCP remediation has been triggered lead to a nil pointer exception

[code]

Based on [the line](https://github.com/kubernetes-sigs/cluster-api/blob/f9cd69518f43b35d1008eb6b3f8b0025b9a97b20/controlplane/kubeadm/internal/controllers/remediation.go#L159) where the error happens, It s

[2022-08-02 09:58] killianmuldoon commented on #7000
/assign

[2022-08-02 09:58] fabriziopandini commented on #7000
/triage accepted

[2022-08-02 12:06] chrischdi commented on #6900
/assign

[2022-08-02 12:55] chrischdi commented on #4684
/assign

[2022-08-02 13:39] fabriziopandini opened #7003 "Test to be deleted"
Testing plugins

[2022-08-02 13:40] fabriziopandini commented on #7003
/triage accepted

[2022-08-02 13:40] fabriziopandini commented on #7003
It works!

[2022-08-02 13:41] fabriziopandini commented on #7003
/close

[2022-08-02 13:41] #7003 closed

[2022-08-02 15:55] #6900 closed

[2022-08-02 16:12] mboersma commented on #4897
https://groups.google.com/g/kubernetes-sig-cluster-lifecycle/c/5wf5ogFUeYI

[2022-08-02 18:39] MaxFedotov opened #7006 "Labels and annotations for MachineDeployments and KubeadmControlPlane created by topology controller"
**User Story**

As a user I would like to specify labels and annotations for `MachineDeployment` and `KubeadmControlPlane` created by topology controller to be used used by `cluster-autoscaler` or for filtering.

**Detailed Description**

It is possible to specify `labels` and `annotations` in cluster topology spec, but they are propagated only to `machines` created by `MachineDeployment` and `Kub

[2022-08-03 12:38] chrischdi commented on #4684
@fabriziopandini : after taking a look and playing a bit around:

* For `clusterctl upgrades`: as you mentioned this is currently not an issue because we start another watch go routine which then streams the logs of the new pods
* For `self hosted upgrades`: If I got it right, there is no test for self hosted upgrades 🤔
  * The WIP implementation at #7007 may work for for a self hosted upgrade sce

[2022-08-03 14:49] #6407 closed

[2022-08-03 19:32] fabriziopandini commented on #7006
/area topology
@vincepri another possible improvement for cluster.spec.topolgy and/or ClusterClass

[2022-08-03 21:47] fabriziopandini commented on #4684
/close
Let's make sure we keep this in the radar while implementing the test for self hosted upgrades

[2022-08-03 21:47] #4684 closed

[2022-08-03 22:13] #6985 closed

[2022-08-03 22:53] #6925 closed

[2022-08-04 12:27] chrischdi opened #7010 "Version validation for Minimum and/or Maximum version for CAPI objects"
**User Story**

As a operator I would like to ensure that a user is not able to create/update a Cluster/KubeadmControlPlane/MachineDeployment/MachineSet/Machine in/to a Kubernetes Version which is not supported by the version of Cluster API currently in use for ensuring compatibility.

**Detailed Description**

The Cluster API project currently maintains a documentation which maps the version of C

[2022-08-04 12:27] chrischdi opened #7011 "Version validation according Kubernetes Version Skew Policy"
**User Story**

As a operator I would like to ensure that creating/updating a Cluster/KubeadmControlPlane/MachineDeployment/MachineSet/Machine does not violate the [Kubernetes Version Skew Policy] for staying in supported upgrade paths and not break running applications.

**Detailed Description**

This issue proposes to add additional validation against the [Kubernetes Version Skew Policy].

Assum

[2022-08-04 12:32] neolit123 commented on #7011
the supported skew in kubeadm is documented here
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#version-skew-policy

[2022-08-04 12:32] killianmuldoon commented on #7011
I think there's a lot of overlap with this issue #7010  and existing issues e.g. https://github.com/kubernetes-sigs/cluster-api/issues/4321, https://github.com/kubernetes-sigs/cluster-api/issues/6614, https://github.com/kubernetes-sigs/cluster-api/issues/6040 - there might be more.

It would be good to ensure that the older issues are all covered by the newer ones, close the older ones and continu

[2022-08-04 12:41] chrischdi commented on #7011
I agree for #6040 regarding this issue.

#4321 and #6614 are more related to #7010

[2022-08-04 13:56] fabriziopandini commented on #4321
/close
in favor of https://github.com/kubernetes-sigs/cluster-api/issues/7010

[2022-08-04 13:56] #4321 closed

[2022-08-04 14:00] chrischdi commented on #4536
I assume this is still valid to get implemented to also proceed at #5218 (which was triaged as accepted and this one is required).

@enxebre are you still working on this or would you be ok if I recycle your implementation to file a new PR?

[2022-08-04 14:01] vincepri commented on #4536
Still a valid feature, we should be looking at rollout as a larger feature as well

[2022-08-04 14:04] fabriziopandini commented on #6614
/close
in favor of https://github.com/kubernetes-sigs/cluster-api/issues/7010

[2022-08-04 14:04] #6614 closed

[2022-08-04 14:04] fabriziopandini commented on #7010
I closed #6614 , copying here a comment that can be relevant

How to address differences between management cluster and workload cluster is already partially addressed in clusterctl, but we should re-assess in the light of the big picture proposed by this issue

[2022-08-04 14:08] fabriziopandini commented on #7011
Thanks for looking for duplicates; I have consolidated everything in https://github.com/kubernetes-sigs/cluster-api/issues/7010 and in this issue

[2022-08-04 14:08] fabriziopandini commented on #6040
/close
in favour of https://github.com/kubernetes-sigs/cluster-api/issues/7011

[2022-08-04 14:08] #6040 closed

[2022-08-04 14:09] enxebre commented on #7006
Is there any other use cases we can think of for labels/annotations? e.g Syncing from [class to Nodes](https://github.com/kubernetes-sigs/cluster-api/pull/6255).
For autoscaling in particular I'd expect this to be baked in MachineDeploymentClass API eventually e.g `.autoscaling {min: , max: }`

[2022-08-04 14:17] enxebre commented on #4536
@chrischdi I'm not actively working on implementing this, please go for it.

[2022-08-04 14:19] #6007 closed

[2022-08-04 14:21] fabriziopandini commented on #7006
Syncing from classes to a node can happen for free if we use existing metadata fields, otherwise, if we add a new field for node labels it should be surfaced in CC as well

[2022-08-04 14:35] chrischdi commented on #4536
/assign

[2022-08-04 14:41] #7000 closed

[2022-08-04 14:58] killianmuldoon commented on #6450
@abhijit-dev82 Just to check in - are you still interested in working on this issue?

[2022-08-04 15:01] abhijit-dev82 commented on #6450
@killianmuldoon Yes, got busy with some other work, will get some diffs out soon.

[2022-08-04 18:47] fabriziopandini commented on #6285
I have unhold #6413, thanks for driving this effort

[2022-08-05 05:32] valaparthvi commented on #6986
@ykakarap I am still unclear about working with this command. I understand that running `clusterctl init --list-images --infrastructure <infra-provider>` will pre-pull necessary images for me, but I am facing some 401 Bad Credential error when running the command.

[code]
curl-ing the URL(https://api.github.com/repos/kubernetes-sigs/cluster-api/releases) works fine though.

I hope there is no prer

[2022-08-05 09:41] fabriziopandini opened #7021 "Improve API around machine deletion strategy"
**User Story**

As a user, I would like to have a clean and simple API for configuring machine deletion strategy

**Detailed Description**

In recent version we expanded MachineSpec with fields allowing us to configure machine deletion strategy, `nodeDeletionTimeout`, `nodeDrainTimeout` and also `volumeDetachTimeout` (https://github.com/kubernetes-sigs/cluster-api/pull/6413); there are also annota

[2022-08-05 09:42] fabriziopandini commented on #7021
cc @vincepri

[2022-08-05 10:59] fabriziopandini opened #7023 "Relax validation for MachineDeployment's variables.overrides"
**User Story**

As a user, I would like to use MachineDeployment's variable overrides with optional variables without being forced to define an empty value in top-level variables.

**Detailed Description**

Today MachineDeployment's variable overrides require a variable to value that exists in top-level variables.
However, this seems counter-intuitive when the variable is defined as optional/witho

[2022-08-05 11:00] fabriziopandini commented on #7023
@sbueringer PTAL when you have some time

[2022-08-05 14:22] fabriziopandini opened #7029 "Drop internal/log package"
internal/log has been introduced while developing the topology controller in order to easy our path towards structured logging.

Now that structured logging is well integrated in klog and we have clear logging guidelines I think we can drop this package (eventually we can add by simply adding a couple of utility func to the topology controller, TBD)

/area topology
/kind cleanup

cc @ykakarap @sbu

[2022-08-05 17:01] randomvariable opened #7030 "Add guidance on infrastructure resource names to provider implementation guides"
**User Story**

As a user, on some infrastructures when I go to deploy a cluster with names like the following, I experience some form of breakage:

### Example names

* longnamemorethansixtythreecharacterslong
* names.using.dots.in.them
* same cluster name, but in a different namespace

### Example forms of breakage

* The cluster infrastructure doesn't come up
* The VM doesn't come up
* The VM d

[2022-08-05 17:03] randomvariable commented on #7030
Should add I'm happy to make the docs change.

Does anyone have any other examples of stuff that should be documented?

[2022-08-05 17:03] randomvariable commented on #7030
/assign

[2022-08-05 17:08] fabriziopandini commented on #7029
/tirage accepted

[2022-08-05 17:08] fabriziopandini commented on #7029
/triage accepted

[2022-08-05 17:08] fabriziopandini commented on #7029
/help-wanted

[2022-08-05 17:16] fabriziopandini commented on #7006
/triage accepted

As discussed in the Aug 5th issue triage meeting we should evaluate options:
- Propagate existing metadata both to MD/KCP and Machines (to be verified if this as undesirable side effects)
- Add new metadata fields for MD/KCP objects, TBD UX

[2022-08-05 17:18] fabriziopandini commented on #6945
/triage accepted
/help-wanted

[2022-08-05 17:19] fabriziopandini commented on #6904
/triage accepted

[2022-08-05 17:20] fabriziopandini commented on #6903
/triage accepted

[2022-08-05 17:20] fabriziopandini commented on #6901
/triage accepted

[2022-08-05 17:22] fabriziopandini commented on #6863
@sbueringer Let's re-asses this before setting triage-accepted

[2022-08-05 17:22] fabriziopandini commented on #6860
/triage accepted

[2022-08-05 17:23] fabriziopandini commented on #6859
/triage accepted

[2022-08-05 17:24] fabriziopandini commented on #6807
/triage accepted

[2022-08-05 17:27] fabriziopandini commented on #6986
/triage accepted

[2022-08-05 17:29] fabriziopandini commented on #6767
/close
As per Aug 5th issue triage we already have somethings that cover the use case, even if not ideal, let's reconsider if we identify blocking gaps

[2022-08-05 17:29] #6767 closed

[2022-08-05 17:30] fabriziopandini commented on #6535
/triage accepted
/help wanted

[2022-08-05 17:30] fabriziopandini commented on #6286
/triage accepted

[2022-08-05 17:31] fabriziopandini commented on #6154
/triage accepted

[2022-08-05 17:32] fabriziopandini commented on #5864
/triage accepted

[2022-08-05 17:33] fabriziopandini commented on #5457
/triage accepted

[2022-08-05 17:34] fabriziopandini commented on #5152
/triage accepted

[2022-08-05 17:36] fabriziopandini commented on #6613
/triage accepted

[2022-08-05 17:36] fabriziopandini commented on #4370
/close
We are still figuring out how to get one formula managed properly (see https://github.com/kubernetes-sigs/cluster-api/issues/6613).

[2022-08-05 17:36] #4370 closed

[2022-08-05 17:37] fabriziopandini commented on #4233
/close
We don't have feedback about errors in this area, so the coverage that we have should be already enough

[2022-08-05 17:37] #4233 closed

[2022-08-05 17:38] fabriziopandini commented on #4035
/triage accept
This will probably require a small proposal or some more details to make it actionable

[2022-08-05 17:39] fabriziopandini commented on #4035
/triage accepted

[2022-08-05 17:39] fabriziopandini commented on #3982
/triage accepted
/help-wanted

[2022-08-05 17:41] fabriziopandini commented on #3881
/triage accepted
/help-wanted

we have to re-assess the situation and see if we can remove all the variables from those files as suggested above

[2022-08-05 17:44] fabriziopandini commented on #3661
/triage accepted

Copying here a comment from the PR for better visibility

[2022-08-05 17:45] fabriziopandini commented on #3653
/triage accepted
/help-wanted

[2022-08-05 17:45] fabriziopandini commented on #3439
/triage accepted

[2022-08-05 17:46] fabriziopandini commented on #3255
/triage accepted
/help wanted

[2022-08-05 17:48] fabriziopandini commented on #3247
/triage accepted
/help wanted

before acting we should reconcile requirements with https://github.com/kubernetes-sigs/cluster-api/issues/3881 that advocates for "plain" provider yaml files

[2022-08-05 17:48] fabriziopandini commented on #3881
before acting we should reconcile requirements with https://github.com/kubernetes-sigs/cluster-api/issues/3247 that advocates for more templating features into provider yaml files

[2022-08-05 17:51] fabriziopandini commented on #6465
/triage accepted

[2022-08-05 17:52] fabriziopandini commented on #6345
/triage accepted

We are slowly adding the capability to inject func in test spec, this could follow the same pattern
/help-wanted

[2022-08-05 17:53] fabriziopandini commented on #6248
/triage accepted
/help-wanted

This could be a nice improvement

[2022-08-05 17:53] ykakarap commented on #6345
/help-wanted

[2022-08-05 17:54] fabriziopandini commented on #6239
/triage accepted
/help-wanted

[2022-08-05 17:55] fabriziopandini commented on #6216
/triage accepted
/help-wanted

[2022-08-05 17:56] fabriziopandini commented on #6149
/triage accepted

[2022-08-05 17:56] fabriziopandini commented on #5704
/triage accepted

[2022-08-05 17:57] fabriziopandini commented on #5378
/close
we will reconsider if the need arises

[2022-08-05 17:57] #5378 closed

[2022-08-05 17:59] fabriziopandini commented on #5008
/triage accepted
/help-wanted

[2022-08-05 17:59] fabriziopandini commented on #3983
/triage accepted

[2022-08-05 18:46] fabriziopandini commented on #7030
/kind documentation
/triage accepted

[2022-08-05 19:12] MaxFedotov commented on #7006
One side effect would be that any update of labels\annotations (e.g. for autoscaler) will cause Machine rollout

[2022-08-05 22:04] pydctw opened #7032 "Update Doc for Managed k8s service"
**User Story**
As a Cluster API provider developer, I would like to have a doc describing clear contracts between CAPI and providers for managed k8s service.

**Detailed Description**
When [Managed Kubernetes in CAPI proposal](https://github.com/kubernetes-sigs/cluster-api/pull/6988) is approved, CAPI doc needs to be updated to reflect the chosen API option.

This is not an exhaustive list and we

[2022-08-05 22:07] pydctw commented on #7032
/kind documentation

[2022-08-07 23:44] k82cn opened #7034 "clusterctl init failed with metal3"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

Failed to init cluster-api with metal3, here's the output of clusterctl:

[code]

And here's the log of kube-apiserver:

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:*

[2022-08-08 12:13] killianmuldoon commented on #7034
I've not been able to replicate this locally unfortunately, but I'm running a different env. Can you check to see what's happening with the cert-manager pods?

[2022-08-08 13:34] k82cn commented on #7034
It's a network issue of my cluster; thanks very much :)

[2022-08-08 13:34] #7034 closed

[2022-08-09 12:34] killianmuldoon opened #7041 "Holistic nil checking in public functions"
Fuzzing through OSS-Fuzz has shown a number of previously unchecked nil-pointer errors in Cluster API code e.g.:
- https://github.com/kubernetes-sigs/cluster-api/pull/6334, https://github.com/kubernetes-sigs/cluster-api/pull/7040,

There's likely to be a few other places where consumers of Cluster API's public functions could unknowingly cause a nil-pointer if not checking for nil in all parameter

[2022-08-09 23:07] cnmcavoy opened #7043 "CAPI controller should taint outdated nodes with PreferNoSchedule"
**User Story**

As a operator of the cluster API, when I make changes to an existing MachineDeployment or MachineSet infrastructure template, any  existing nodes previously managed are reconciled, replaced and then drained by the cluster api controllers.

If the MachineSet or MachineDeployment has many replicas, and each node has many pods, this can result in unnecessary pod churn. As the first no

[2022-08-09 23:43] ykakarap commented on #6986
The command uses a github token if set (using env variable `GITHUB_TOKEN`) to avoid rate limiting. The command can be used without providing any credentials (no github token) but there is a chance that it will hit the rate limit.

But from the log message you shared it doesn't look like a rate limiting issue. Do you have `GITHUB_TOKEN` set in your environment? If so, can you check if that token as

[2022-08-10 09:55] pacoxu opened #7044 "Gather user cases for kubeadm operator from CAPI side"
**User Story**
kubeadm operator was discussed many times before.
Generally, it can handle
- kubeadm cluster upgrade (some dry-run or prechecks)
- kubeadm configuration changes
- certs rotation

We want to gather a list of use cases from the CAPI side.

**Detailed Description**

I tried to build a kubeadm operator that can help users on day2.
I opened a thread in https://groups.google.com/g/kuberne

[2022-08-10 10:05] killianmuldoon commented on #7044
/cc @chrischdi seems like something you might be interested in! 🙂

[2022-08-10 11:51] killianmuldoon commented on #6278
@weikaipan Have you managed to test this successfully in a working cluster? We ran into a problem on https://github.com/kubernetes-sigs/cluster-api/pull/7031 and I couldn't get this working for the control plane either, with errors coming from the webhook.

[2022-08-10 16:40] #5864 closed

[2022-08-10 22:52] Jont828 opened #7052 "Have tilt-prepare fetch the latest version of a Helm chart in `hack/observability`"
**User Story**

Currently, the folder `hack/observability/*/charts` contains cached Helm charts. I'm running into an issue where if tilt-prepare fetches a Helm chart and later on a new version is released, tilt-prepare will still use the cached chart. In order to fetch the latest chart, I need to delete the charts folder. I would like tilt-prepare to be able to update the cache if there is a new v

[2022-08-10 22:53] Jont828 commented on #7052
@fabriziopandini @sbueringer

[2022-08-11 16:58] apelisse commented on #6398
Hey there, wg-api-expression lead here, we're generally interested in building more expressive APIs,

Just read this thread, a few comments:
- The whole discussion about required/defaulted fields. The default field in openapi is "informational", it tells you what value the server will use if no value is specified, that sounds entirely incompatible with a required field. Also it's not an indication

[2022-08-12 02:14] 24sama opened #7055 "bad architecture metadata in k8s.gcr.io images"
**What steps did you take and what happened:**
The arch metadata in the `k8s.gcr.io/cluster-api/xxx` are incorrect.
For example:
[code]
The other images are correct:
[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version: v1.2.0
- minikube/kind version:
- Kubern

[2022-08-14 12:55] k82cn opened #7059 "Support manage existing K8s cluster control plane."
**User Story**

We're going to deploy/manage k8s master by another k8s cluster (e.g. bootstrap cluster), and ask provisioned Machine to join this k8s cluster. In this way, we're going to deploy/manage k8s master as service, and leverage providers in cluster-api community to manage worker nodes, e.g. aws, gke, metal3 and so on.

**Detailed Description**

As the k8s master are deployed by another bo

[2022-08-14 13:00] k82cn commented on #7059
If no discussion on this scenario, I'd like to contribute for that :)

[2022-08-15 09:30] killianmuldoon commented on #7059
I'm no sure I fully understand the use case here - or what the limitations in CAPI are that might be getting in the way. It sounds like this may require some sort of custom control plane provider.

Have you looked at https://github.com/kubernetes-sigs/cluster-api/pull/6988? It outlines a proposal for managed Kubernetes in CAPI and may be aligned with this ask.

[2022-08-15 11:14] sbueringer commented on #6661
Just fyi. Kubernetes 1.25 is using Go 1.19

[2022-08-15 11:17] sbueringer opened #7060 "Bump cert-manager to v1.9.x"
cert-manager v1.9.x has been released. I would suggest to bump the cert-manger version in CAPI main accordingly.

/kind feature

[2022-08-15 11:38] killianmuldoon commented on #6398
The trickiest cases we have rely on the existence of objects, or of fields in other objects. When we create a cluster with ClusterClass field specified we run a get from the API server to ensure the ClusterClass exists, that it has some required fields and that variable definitions in the Cluster meet some of the contstraints in the ClusterClass.

Seeing as it relies on the spec of another object

[2022-08-15 15:24] omniproc opened #7061 "Allow to move part of all managed clusters to another management cluster"
**User Story**

As a CAPI operator I would like to `move` part of the workload clusters managed by a single CAPI  management cluster (source) to another CAPI management cluster (target) so different workload clusters can be moved to different management instances and their lifecycle can be decoupled later on.

**Detailed Description**
Currently `clusterctl move` will move *all* ClusterAPI resource

[2022-08-15 15:34] killianmuldoon commented on #7061
Interesting use case!

/area clusterctl

[2022-08-15 16:21] sbueringer commented on #7061
Just in case it helps. move has a `--namespace` parameter which only moves Clusters of a specific namespace.

The main difficulty in moving an individual cluster will be how to handle objects which are used by multiple Clusters, e.g. ClusterClass.

[2022-08-15 16:29] sbueringer commented on #6398
Also commented on the linked k/k issue, but just to mention it here. I think this statement is not correct ` The default field in openapi is "informational"`. The APIserver first runs defaulting then validation on the server-side while kubectl only runs validation.

Thus we get inconsistent results on client- and server-side

[2022-08-15 16:51] sbueringer commented on #7052
Sounds reasonable to me. Not sure how to do it though, without pulling it every time.

Probably we have to look into how `helmCharts` are implemented in kustomize?

[2022-08-15 17:02] apelisse commented on #6398
Agreed, but I think it's wrong that fields are both required and defaulted, we can't fix that in the api now, but we should strongly recommend not having these.

[2022-08-16 05:15] sbueringer commented on #6350
Fine for me to close this, but just to mention it. I think usually we shouldn't close issues in favor of PRs. But I guess good for now as we still have #5968.

[2022-08-16 10:06] sbueringer commented on #6976
Should we then re-add it also to the documentation as part of this issue?

[2022-08-16 10:26] sbueringer commented on #6979
Is this related (only) to the KCP secrets?

Naively I would have assumed that when we create Secrets with ownerRefs we should also adopt them after restore.

[2022-08-16 10:51] sbueringer commented on #6863
Sounds okay. Essentially the first half of the issue is figuring out if deadlocks can occur.

[2022-08-16 10:54] sbueringer commented on #7029
As far as I can tell our version of KObj and KRef are now not needed anymore (once we replaced their usages).

Not sure about the rest of the package, but if it is only used in the topology controller I would suggesting moving and un-exporting the funcs.

[2022-08-16 11:11] sbueringer commented on #7011
Q: Should the validation only consider the spec.version or should it also consider the current status?

E.g. if we only validate the spec it's possible to bump the version to minor versions before the rollout is finished.

[2022-08-16 11:13] sbueringer commented on #7010
Does this issue include validation in clusterctl? I.e. that clusterctl does not deploy a management cluster on unsupported (according to min/max) Kubernetes clusters? I think one of the issues we closed included that part.

[2022-08-16 11:36] sbueringer commented on #4461
/reopen

The test is stable because we skipped it: https://github.com/kubernetes-sigs/cluster-api/blob/f73a27729acf3bc2cce2479220e1460eb6f73efb/controlplane/kubeadm/internal/controllers/controller_test.go#L159

[2022-08-16 11:38] sbueringer commented on #6975
Fine for me. Let's just be careful that we don't change the outputs (e.g. before/after refactoring diff)

[2022-08-16 11:40] sbueringer commented on #5347
@ykakarap Just for my understanding, what is the current behavior of clusterctl?

With a regular cluster-template it lists all variables (envsubst), with one using ClusterClass it doesn't list any variables?

[2022-08-16 11:59] sbueringer commented on #6831
@enxebre Makes sense. I think we can continue this part of the discussion as part of https://github.com/kubernetes-sigs/cluster-api/issues/3661?

[2022-08-16 12:01] sbueringer commented on #6980
I guess one impact of the current behavior is that cluster deletion would ignore the restored KubeadmConfigs without ownerRefs?

[2022-08-16 12:04] sbueringer commented on #5770
@fabriziopandini Fine for me, just an improvement suggestion. Can we maybe add a short comment with a reason as to why we're closing issues? It's hard to tell for folks who were not at the backlog grooming. (even something like apparently no demand would be helpful)

[2022-08-16 12:08] chrischdi commented on #7011
Maybe yes, maybe no, also related here: #6651 .

[2022-08-16 12:09] sbueringer commented on #6706
[code]

With our current implementation of external patches it's impossible to decide if a variable is used in an external patch.

We could do the following:
* introduce scope
* validate scope against inline patches
* send variables based on scope to external patching (i.e. send variables which are not cluster-scoped only as template-specific variables according to their scope)

[2022-08-16 12:34] sbueringer commented on #7043
Sounds like a good idea to me. We used something like this before in another project and it also generally speeds up upgrades when PDBs are used as less Pod drains are required.

[2022-08-16 13:01] killianmuldoon commented on #6979
I think this is the relevant code for kubeadmconfig:
https://github.com/kubernetes-sigs/cluster-api/blob/1a286fdf7da314bdfbb76b042f8f25f1828734a0/bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go#L430

In this function we only set the owner references on generating the secrets, if the secrets exist and has a correctly formatted KeyPair we don't re-add the owner references.

[2022-08-16 13:15] sbueringer commented on #6979
Could be a good place to "adopt" if the ownerRefs of the current secrets are missing (not sure what is executed after the initial create)

[2022-08-16 14:20] valaparthvi commented on #6986
Exporting the GITHUB_TOKEN worked. Thanks!

[2022-08-16 15:34] valaparthvi commented on #6986
I am un-assigning this issue from my plate, I won't be able to work on it anytime soon. Sorry for holding it for long :raised_hands:

/unassign

@dharmit this might interest you.

[2022-08-16 16:36] apricote opened #7067 "Empty Files array in KubeadmConfigTemplate is deleted since CAPI v1.2"
**What steps did you take and what happened:**

- Setup local kind cluster
- `clusterctl init` with CAPI v1.2.1
- Create `KubeadmConfigTemplate` with `spec.template.spec.files: []`
- `kubectl get -o yaml` the created object and observer that the field `files` was removed from `spec.template.spec`.

**What did you expect to happen:**

I expected the empty files array to persist in the resource, as

[2022-08-16 17:34] killianmuldoon commented on #5470
/assign

[2022-08-17 02:40] ywk253100 commented on #6980
There is no `status` section if the restored `KubeadmConfig` cannot be adopted by the owner.

This may impact the downstream consumers, e.g. Tanzu considers the machine is still under configuring as Tanzu cannot identify the status

[2022-08-17 03:16] 24sama commented on #7055
Has anyone encountered this problem?

[2022-08-17 05:39] k82cn commented on #7059
Just went through the doc, that's what I want. I'd like to manage control plane myself (e.g. by bootstrap k8s), which seems no align CAPI's design. That's great to have such a discussion in community :)

[2022-08-17 05:39] #7059 closed

[2022-08-17 06:50] chrischdi commented on #6329
Hi @PushkarJ, seems like I've missed the message.

If you are still interested in writing a short blog post, I'd be happy to help 😀

[2022-08-17 09:03] chrischdi commented on #7055
Interesting finding.

This comes from https://github.com/kubernetes-sigs/cluster-api/blob/9663ed6ab6dedfc7a343430976d4442c6aae4395/Dockerfile#L63 which then will use the platform it is building on.

We already have the ARCH `build-arg` which could get used to define `--platform` in the `FROM` line which fixes this.

I will create a PR shortly :-)

[2022-08-17 09:43] ruifaling commented on #4512
is there some progress？

[2022-08-17 09:44] killianmuldoon commented on #7067
It looks like this is a combination of the way Server Side Apply - introduced in 1.2.x -  treats an empty map and the way json patch add operations work. This is expected behaviour from both of those specs, so I don't know if there's a simple way to fix it.

Would it be possible to do add the whole array instead of a single entry in the patch?

[2022-08-17 10:37] apricote commented on #7067
It is possible, but inconvenient. In case we ever want to add some files to the `KubeadmConfigTemplate` (not through patches) we would need to remember to change the patch back to only add the item, or risk overwriting the full array.

[2022-08-17 11:05] sbueringer commented on #4512
No - no one is working on this issue

[2022-08-17 12:11] chrischdi commented on #7067
The defaulting webhook was not part of v1.1.5, it was introduced in v1.2 ( https://github.com/kubernetes-sigs/cluster-api/commit/6ae0a733deb363145aaca91d583d7452f99b8b07 ). Removing it reverts the behaviour (`kubectl edit crd kubeadmconfigtemplate`).

[2022-08-17 12:15] sbueringer commented on #7067
That explains it. I wasn't aware that the webhook was added after v1.1.x.

Then the issue is essentially that while the webhook doesn't modify the field intentionally it runs through Unmarshal/Marshal, and because of `omitempty` the field gets lost in JSON:
[code]

[2022-08-17 12:17] sbueringer commented on #7067
I don't think we can/should drop the webhook again and especially we can't guarantee that we won't introduce a webhook again in the future even if we drop it now.

One other workaround could to be to add an array with a dummy file instead of an empty array. It's super hacky but not sure if there are any better alternatives.

[2022-08-17 12:18] chrischdi commented on #7067
To get back to workarounds / other solutions: another solution would be to implement the patch as a [topology mutation hook](https://main.cluster-api.sigs.k8s.io/tasks/experimental-features/runtime-sdk/implement-topology-mutation-hook.html) instead of using a json patch.

[2022-08-17 13:01] #7055 closed

[2022-08-17 13:49] HenkVanMaanen opened #7074 "Certmanager pods not starting because of untolerated taint control-plane"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
Tried to init cluster via `clusterctl init --core cluster-api --bootstrap talos --control-plane talos --infrastructure hetzner`. Got error: `timed out waiting for connection`.

Certmanager pods give following error: `Warning  FailedScheduling  13m   default-scheduler  0/3 nodes are availab

[2022-08-17 13:59] apricote commented on #7067
Thanks for your response and suggestions. I will evaluate this internally tomorrow and pick one of the provided workarounds.

As this Work as intented™, we can close the issue IMO.

[2022-08-17 14:08] killianmuldoon opened #7076 "Remove script-based mdbook install"
We currently have a third party folder with just a single tool - the rust crate installer from https://github.com/japaric/trust which is used to install mdbook.

It appears the repo this script was cloned from is now abandoned. The last commit is from 2019, and the latest issue (open since March) asks if the repo is abandoned and currently has no response.

We should remove this tool and, if wante

[2022-08-17 14:08] killianmuldoon commented on #7076
/kind cleanup

[2022-08-17 14:14] killianmuldoon commented on #7074
Just so I'm reproducing the right thing - can you see which version of cert-manager is being installed?

[2022-08-17 14:22] sbueringer commented on #7074
I think the behavior is kind of expected. Usually we use kind or a management cluster with worker nodes as management cluster.

In both cases there are nodes without a control plane taint.

What are you using as management cluster?

[2022-08-17 14:42] sbueringer commented on #7076
I think it is used by netlify as well (see netfliy.toml). So documentation for manual installation won't work.

[2022-08-17 14:45] sbueringer commented on #7067
I think unfortunately it is. It's bad that webhooks have this kind of side effect but I think there's not much we can do. Fortunately we already have webhooks for almost all resources so there shouldn't be more changes like this in the future.

[2022-08-17 14:47] #6246 closed

[2022-08-17 15:12] HenkVanMaanen commented on #7074
v1.8.2

[2022-08-17 15:16] HenkVanMaanen commented on #7074
I create a bootstrap cluster via kind, and via that bootstrap cluster create a management cluster on Hetzner with Talos as OS. Kind doesn't have the taints on the control plane nodes and the Hetzner cluster does have the control plane taints.

Here are some issues that are closed and fixed this problem:
https://github.com/kubernetes-sigs/cluster-api/issues/3033
https://github.com/kubernetes-sigs/c

[2022-08-17 16:24] killianmuldoon commented on #7074
It looks like cert-manager stopped being created from a yaml with https://github.com/kubernetes-sigs/cluster-api/pull/4748 so configuration is now done through a yaml / override pointed to by users - with the default being the cert manager upstream hard coded in a CAPI release.

We could encourage users to customize their own yamls here, this case could be incorporated in clusterctl. This issue do

[2022-08-17 16:26] kfox1111 commented on #7074
I hit this just yesterday. Thanks for the info around it.

[2022-08-17 17:36] jackfrancis commented on #7006
Related discussion about node annotations not propagating via Machine update: https://github.com/kubernetes-sigs/cluster-api/pull/6255

[2022-08-17 17:38] jackfrancis commented on #7006
Also related: https://github.com/kubernetes-sigs/cluster-api/issues/5880

[2022-08-18 01:23] ykakarap commented on #5347
The current behavior is that clusterctl will list the variables defined in the cluster templates for both normal and topology based templates. It does not however list any variables that might be in the ClusterClass definition that might be added to the `clusterctl generate cluster` output.

The issue was originally opened to support also listing variables from the ClusterClass, but now it is clos

[2022-08-18 04:09] aniruddha2000 commented on #6986
/assign

[2022-08-18 05:44] sbueringer commented on #5347
Sounds good. Thx for the context

[2022-08-18 10:31] sbueringer commented on #7044
cc @fabriziopandini

[2022-08-18 11:33] HenkVanMaanen commented on #7074
@killianmuldoon Thanks for the help! If I understand it correctly it is currently not possible to change the cert-manager deployment to tolerate these taints?

[2022-08-18 11:35] killianmuldoon commented on #7074
Not directly through CAPI - however you can use your own custom Cert manager yaml which uses the taints:
https://cluster-api.sigs.k8s.io/clusterctl/configuration.html#cert-manager-configuration

This should solve the problem for now while this issue waits for triage and for someone to pick it up.

[2022-08-18 11:48] apricote commented on #7067
We decided to just add the full array in the patch with a warning about future modifications.

/close

[2022-08-18 11:48] #7067 closed

[2022-08-18 14:14] MaxFedotov commented on #7006
After the discussion during Cluster API meeting it was proposed to separate this into two different issues:
1. Propagate labels and annotations from `ClusterClass` and `Cluster.spec.topology` not only to `Machines`, but also to `MD` and `KCP`
2. Prevent triggering of `Machine` rollout when labels or annotations in `MachineDeployment.spec.template.metadata` or `KubeadmControlPlane.spec.machineTempl

[2022-08-18 15:24] k82cn opened #7089 "Add control plane dev guidance with kubeadm bootstrap"
**What steps did you take and what happened:**

When creating a customized control plane at https://github.com/openbce/kink , I got the following error; and it seems no dev document on how to build a customized control plane to work with kubeadm bootstrap. As my project only focus on control plane part, and I'd like to work with other provider on data plane part.

[code]

**What did you expect to

[2022-08-18 19:28] chrischdi commented on #6458
- https://github.com/kubernetes/kube-state-metrics/pull/1777 finally got merged today 🎉

I will follow up the next days with a WIP PR which already integrates kube-state-metrics's helm chart into Tilt, similar to prometheus, grafana, ...

Local version is already running and seems to integrate greatly 🎉

[2022-08-19 07:33] willemm commented on #6247
Oh dang, I thought this would be useful for my use-case but turns out it's not useful at all.

Use case: We need to pass a password to one of the commands in postKubeadmCommands, so it can authorize itself (in our case, join a domain realm).

[2022-08-19 11:51] sbueringer commented on #6661
I'll be collecting some notes in this comment for the upcoming controller-runtime upgrade:
* Enable `RecoverPanic` on all our webhooks, xref: #1900

[2022-08-19 12:35] sbueringer commented on #5968
All tasks are done :tada:

Thx very much to @oscr and @killianmuldoon for implementing the golangci-lint bump!!

/close

[2022-08-19 12:35] #5968 closed

[2022-08-19 20:52] ahmetb opened #7096 "v1beta1#ClusterStatus: some fields are missing ",omitempty""
Hello, it appears most fields in `ClusterStatus` type have omitempty json tag. https://pkg.go.dev/sigs.k8s.io/cluster-api/api/v1beta1#ClusterStatus except for `ControlPlaneReady` and `InfrastructureReady`.

This prevents us from zeroing the `.Status` field on `ClusterObject` (which also has `,omitempty`) and have a clean json result. https://pkg.go.dev/sigs.k8s.io/cluster-api/api/v1beta1#Cluster

[2022-08-19 22:56] ykakarap commented on #6139
We can do the following for topology based clusters to have cluster specific MHC:
With an example ClusterClass:
[code]
We can enabled/disable the control plane MHC for a Cluster using the above ClusterClass using a new `machineHealthCheck.disabled` field in cluster topology. Example:
[code]
By setting `disabled` to `true` no MHC for the control plane for this cluster will be created. If `unset` or

[2022-08-20 17:25] knabben opened #7099 "Mismatch between ControlPlaneReady and Conditions.ControlPlaneReady"
**What steps did you take and what happened:**
Running CAPD with tilt from HEAD, created a new runtime extension webhoook server and added the function hook for `ControlPlaneInitialized`, I wanted to execute a few steps AFTER the Cluster being ready, first try was to read from `request.Cluster.Status.ControlPlaneReady` boolean to check if I can create my pod in the WL cluster. This operations neve

[2022-08-20 18:06] Skarlso opened #7100 "Tilt no longer appears to install cert-manager and fails to start up"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

Run `tilt up` on a clean kind cluster.

**What did you expect to happen:**

Error:

[code]

I have nothing else. It worked a couple commits ago...

This issue can be worked around if I run `clusterctl init --provider aws`. That installs cert-manager and things work from there on.

**Anyth

[2022-08-20 18:11] Skarlso commented on #7100
This is the offending PR: https://github.com/kubernetes-sigs/cluster-api/pull/6483/files

Aaaa... And here and now I see this OFC:

[code]

Ok, this fixed my issue.

[2022-08-21 10:46] aniruddha2000 commented on #6986
@ykakarap
When I created a kind cluster and run the `clusterctl init --infrastructure gcp --list-images` & `clusterctl init --list-images` it gave the list of images.

Then how I can reproduce the above error message with the `clusterctl init --list-images` cmd?
Trying the above cmd without the kind cluster gave
[code]

[2022-08-21 14:11] k82cn opened #7101 "bootstrap can not connect to customized controlplane because "it doesn't contain any IP SANs""
**What steps did you take and what happened:**

When building github.com/openbce/kink , I used `secret.NewCertificatesForInitialControlPlane` & `certifications.LookupOrGenerate` to generate all CAs & kubeconfig. I can start apiserver pod and etcd pod, the status of control plane were also updated accordingly; but kubeadm-bootstrap reported following error:

[code]

Is there any suggestion on how t

[2022-08-22 07:23] mkaramuk opened #7102 "Couldn't create cluster using docker provider"
**What steps did you take and what happened:**
I was following the [quick start guide](https://cluster-api.sigs.k8s.io/user/quick-start.html) in a fresh DigitalOcean droplet (not my personal computer). First of all I tried [troubleshotting](https://cluster-api.sigs.k8s.io/user/troubleshooting.html#cluster-api-with-docker----too-many-open-files):

[code]

 I created a kind cluster:
[code]

I could

[2022-08-22 07:40] chrischdi commented on #7102
To verify your steps mentioned above:

Did you use `kind create cluster` to create the kind cluster or did you use the following, which is mentioned in the Docker tab at the quickstart guide:

[code]

CAPD requires to use this special kind configuration, otherwise the CAPD controller will not be able to talk to the docker socket.

[2022-08-22 08:06] k82cn commented on #7101
Just check the ca.crt in the cluster, it seems no subject alternative name in it. But how does kubeadm control plane make it to work? Does it refresh `clusterName-ca` after `kubeadm init`?

[2022-08-22 09:07] oscr commented on #7102
There is some advice in the [Troubleshooting Guide](https://cluster-api.sigs.k8s.io/user/troubleshooting.html#troubleshooting-quick-start-with-docker-capd) how to find more information.

[2022-08-22 10:18] killianmuldoon commented on #7099
These two fields are set slightly differently, with ControlPlaneReady being based on the `status.ready` field in the Control Plane object and the condition being based on the condition.

I think, though, there's a couple of questions I have  with the approach here, so it would be good to understand the use case.

1) Are you returning a failure from the `AfterControlPlaneInitialized` hook to preven

[2022-08-22 10:20] killianmuldoon commented on #7096
I'll leave it up to others to say whether this is intentional, but out of curiosity what's the use case for zeroing the entire `Status`?

[2022-08-22 10:47] sbueringer commented on #6139
As discussed, seems to be the best way to model the API given edge cases, so +1 from my side

[2022-08-22 10:53] killianmuldoon commented on #6139
One question (and a comment 🙂) - if we're doing implicit overriding of Cluster -> ClusterClass why do we need a boolean for enabling / disabling? We could set it to `nil` at this point and overwrite it that way.

This gets rid of some confusing situations around `disabled` e.g. does it just disable the MHC at the ClusterClass level or also at the Cluster level. What happens if we set disabled=true

[2022-08-22 10:55] sbueringer commented on #7101
The ca.crt is not used as serving certificate for the apiserver. Usually kubeadm takes the CA and generates a certificate for the apiserver (and includes IP SANS). Not sure about what it exactly includes, I only know that it includes at least the SANs we configure e.g. here: https://github.com/kubernetes-sigs/cluster-api/blob/main/test/infrastructure/docker/examples/simple-cluster.yaml#L48-L51

[2022-08-22 11:14] sbueringer commented on #7100
Agree. Looks like #6483 changed the default behavior.

I'll open a PR to change that back.

/reopen

[2022-08-22 11:16] Skarlso commented on #7100
Ah yes. :) Thanks! :)) 👍

[2022-08-22 11:19] sbueringer commented on #6139
The problem is how you can differentiate between "disable" and "no override".

We would only allow combinations of fields that make sense (aka you can only set other fields if the MHC is not disabled).

The only problem with enabled is the zero value. If you set other fields to overwrite you also have to set enabled: true, because the go zero value is otherwise enabled: false.

[2022-08-22 11:26] sbueringer commented on #7096
I'm not sure why those fields don't have `omitempty`.

The only reason I can come up with is that we wanted to have those fields always visible to signal to users the current state of things (vs. having those fields "vanish" from the JSON output when the flags are false). But I think this is only the behavior because the fields are not pointers (but I don't know why they are not pointers).

But ju

[2022-08-22 11:38] killianmuldoon commented on #6139
I understand the need for the `disable` field now, and I guess this is the simplest expression of it (even if it is a bit complex)

We can default this value to true in e.g. the webhook so I don't see that as much of an issue if it's a better API, but whether it is is a matter of opinion 😄. I definitely think double negation at this level could be confusing for users.

[2022-08-22 12:34] knabben commented on #7099
1) that's correct. I should be retrying herez not sure how to do that with hookd response object
2) I'm using the cache tracker when using aftercpinitialized directly the connection returns but it's not usable, when using the config on a clientset it returns an empty list of pods for example (maybe I was missing an err somewhere), the fact is it works normally after waiting for the ready condition

[2022-08-22 13:31] #6450 closed

[2022-08-22 13:32] sbueringer commented on #7099
cc @ykakarap

[2022-08-22 13:39] sbueringer commented on #7099
If I see correctly AfterControlPlaneInitialized is called once `ControlPlaneInitializedCondition` is true.
`ControlPlaneInitializedCondition` is set to true once we have a control plane machine with a nodeRef:
https://github.com/kubernetes-sigs/cluster-api/blob/bbe7c2fedf5e516213babb4c8219cad6288fab26/internal/controllers/cluster/cluster_controller.go#L497-L500

That nodeRef is only set if we were

[2022-08-22 13:41] killianmuldoon opened #7104 "Webhook validation for Topology NodeDeletionTimeout and NodeDrainTimeout"
NodeDeletionTimeout and NodeDrainTimeout were added to Topology managed clusters in #7098 and #6278. Currently the values of these fields are not validated on creation, and validation is instead done when the templates are turned into objects.

This lack of up-front validation lead to the unexpected failure in #7047. We could do some basic validation in the webhook on object creation to ensure the

[2022-08-22 13:41] killianmuldoon commented on #7104
/area topology

[2022-08-22 13:43] sbueringer commented on #7104
What would be the valid range for those fields?

[2022-08-22 13:47] killianmuldoon commented on #7104
We don't have these defined right now in the machine webhook (and I don't know if there's any need to), but defining a min/max is an optional part of this.

I think the main part is to ensure that we do enough validation to catch errors like #7047 on object creation, instead of during the reconcile.

[2022-08-22 13:52] sbueringer commented on #7104
Yup. The problem is that `metav1.Duration` just has type "string" as OpenAPI schema, right?

If it would also use `format` `duration` OpenAPI would probably handle it for us?

[2022-08-22 13:59] sbueringer commented on #6986
I can reproduce with:
[code]

[2022-08-22 14:34] killianmuldoon commented on #7099
After doing a little bit of testing here there is a significant drift between the two markers depending on network configuration:

The condition `ControlPlaneReady` is based on whether or not the ControlPlane machines and components are created and ready.

Cluster `.status.controlPlaneReady`, is a summary of whether or not the Nodes are in a ready state. It will never become true until the CNI is

[2022-08-22 14:49] sbueringer commented on #7099
I'm not sure if that is possible. apiserver should not depend on CNI, otherwise it would be a deadlock (at least for "external access" like from the mgmt cluster)

[2022-08-22 14:55] killianmuldoon commented on #7099
Agreed for most situations (there's enough edge cases here that I'm sure there's some way this could work out.

If this is the case should our `API SERVER AVAILABLE` column in kubectl for KCP reflect the condition rather than `status.ready` as it does today?

Right now it's telling us if the nodes are ready and is different from ControlPlaneInitialized and ControlPlaneReady.

I think the drift bet

[2022-08-22 15:59] killianmuldoon commented on #7099
Seems like it should be possible with jsonPath -  ` kubectl get cluster  -o custom-columns='READY:status.conditions[0].status'` works from kubectl and I guess it should work for additionalPrinterColumns too?

I think the important question though is whether to try to close the gap between these two values. Right now the API has a couple of values with near-identical names but different semantics,

[2022-08-22 16:30] aniruddha2000 commented on #6986
![2022-08-222158](https://user-images.githubusercontent.com/44055978/185971787-07cfcfd7-c493-4141-8435-20d9691bf067.png)
It is strange, isn't it? 🤔

[2022-08-22 17:44] sbueringer commented on #6986
Yup.

I'm using kind v0.14.0 and clusterctl v1.2.0.

Are you sure clusterctl is accessing the kind cluster and not another one?

[2022-08-22 18:03] ahmetb commented on #7096
I'm trying to store these objects as JSON in another medium and I don't need their .Status field. I understand most others probably aren't trying to do this.

I've read the section on optionals vs requied a bit: https://github.com/kubernetes/community/blob/a329a26b1551046a0a48a0ef22d69739b3141933/contributors/devel/sig-architecture/api-conventions.md#optional-vs-required and it is not prescriptive

[2022-08-22 18:10] #7102 closed

[2022-08-22 21:32] #4897 closed

[2022-08-22 21:42] oscr commented on #7076
/assign

[2022-08-22 22:51] Jont828 commented on #7052
@sbueringer It looks like [here](https://github.com/kubernetes-sigs/cluster-api/blob/fa70f61a77828cea2d5d059ffd0dfcf6bcbc9f2d/hack/tools/tilt-prepare/main.go#L496) is where we're getting the Helm chart using kustomize. Would there be a flag like `--no-cache` to force it to repull the chart? Or would we want to just delete the charts in the Makefile before triggering the tilt-prepare code?

[2022-08-23 01:02] Jont828 commented on #5309
@fabriziopandini @sbueringer @killianmuldoon  I'm happy to take a look at this. Is the idea that we want to add types in [internal/contract](https://github.com/kubernetes-sigs/cluster-api/tree/main/internal/contract) for the contract listed in [Machine Infra](https://cluster-api.sigs.k8s.io/developer/providers/machine-infrastructure.html) as well as [bootstrap provider](https://cluster-api.sigs.k8

[2022-08-23 01:36] k82cn commented on #7101
Got that. In this case, I need to re-generate related certs for the components of masters.
BTW, what's the purpose of those certs without IP SANs? I found that the kubeconfig.controlplane also generate such kind of certs.

[2022-08-23 07:02] chrischdi commented on #7101
I think the ones without SANS are mostly client certificates, thats at least what I read from the table at https://kubernetes.io/docs/setup/best-practices/certificates/#all-certificates :-)

[2022-08-23 10:34] oscr opened #7109 "Netlify: DEPRECATION NOTICE: Builds using the Xenial build image will fail after November 15th, 2022."
When working on a pr I noticed the following warning banner in Netlify:

[code]

Source: https://app.netlify.com/sites/kubernetes-sigs-cluster-api/deploys/63049e1485be5d000807181f

[2022-08-23 10:43] killianmuldoon commented on #7109
I think we need someone with netlify access to update this image.
 @CecileRobertMichon do you have the ability to change the image used? [The details are here](https://answers.netlify.com/t/please-read-end-of-support-for-xenial-build-image-everything-you-need-to-know/68239).

[2022-08-23 12:06] sbueringer commented on #7052
We are just running kustomize and kustomize then pulls the Chart based on e.g. this configuration: https://github.com/kubernetes-sigs/cluster-api/blob/34676f0670506e70a61b0f2166768ca3281be509/hack/observability/prometheus/kustomization.yaml

I'm not sure how a `no-cache` flag would work. I would want to avoid that we have to pull the Charts on every `tilt up`. I don't know if the kustomize Helm co

[2022-08-23 12:45] sbueringer commented on #7109
/triage accepted

[2022-08-23 12:59] #7076 closed

[2022-08-23 13:25] sbueringer commented on #7099
I'm not sure if CRD columns support the full jsonPath. It's probably also not a good idea to depend on a certain condition being the first one in the array (not sure if more dynamic array element matching is supported by CRD columns). I had some problems with CRD columns in the past.

IIRC the plan was to migrate eventually to conditions. I'm not sure if we wanted to drop the bools accordingly.

[2022-08-23 15:34] aniruddha2000 commented on #6986
@ykakarap suppose if we specify the `clusterctl init --list-images` it should only fetch the container images for the core provider & bootstrap provider, right?
And if I mention in the `--infrastructure` then it should fetch the container images for that infrastructure.

[2022-08-23 17:01] CecileRobertMichon commented on #7109
/assign

[2022-08-23 17:05] CecileRobertMichon commented on #7109
Updated the image following instructions in Netlify settings an triggered a re-deploy, everything looks good: https://app.netlify.com/sites/kubernetes-sigs-cluster-api/deploys/6305086b63dd2c07e9bd53a1

[code]

/close

[2022-08-23 17:05] #7109 closed

[2022-08-23 20:10] Jont828 commented on #5309
/assign

[2022-08-23 20:38] Jont828 commented on #7052
Yeah I think it's a little confusing that the `version` flag says it defaults to the latest version if not set but won't update if a new version comes out. I suppose I can wait for a response to the issue I opened for kustomize.

[2022-08-24 00:55] jichenjc opened #7112 "Node Stuck in deleting status"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

I have 2 VMs as nodes before but I deleted those VM from openstack side(I admit I should not do that so this is a false action)
but CAPI seems doesn't tolerate this well

[code]

as you can see the machine marked `Deleting` status and logs complain the node can't be found and return error

[2022-08-24 01:27] ykakarap commented on #6139
Just to be clear: if `disabled` is set to `true` no MHC will be created irrespective of it being defined in the ClusterClass or Cluster (we can additionally add a check in the Cluster webhook so that MHC is not defined in a Cluster if `disabled` is true.)

The reason for going with `disabled` is to make opting out of MHC an explicit action. If `false` or nil (will probably be the more common way)

[2022-08-24 02:16] ykakarap commented on #6986
And if I mention in the --infrastructure then it should fetch the container images for that infrastructure.

It should list all the images clusterctl will try to pull if `--list-images` is not specified.
Consider a cluster with no providers installed.
If we run `clusterctl init --list-images` it should list the core (default), bootstrap (default) and the control plane (default) images.
If we run `

[2022-08-24 09:27] k82cn commented on #7101
Thanks very much for your input; but is there any document/suggestion on how those secret and configmap are used by kubeadmconfig.bootstrap controller? I think it's necessary to generate those secrets by my customized control plane.

[code]

[2022-08-24 10:30] killianmuldoon commented on #7112
I tried to replicate this using CAPD by:
1. Creating a cluster with three worker nodes
2. Deleting one of the Docker containers underlying one of the nodes
3. Deleting the Kubernetes node attached to the Machine (did you delete this seperately?)
4. Deleting the Machine at the CAPI level.

Everything worked as expected i.e. the Machine and DockerMachine were deleted and the MachineDeployment replac

[2022-08-24 11:19] killianmuldoon opened #7115 "Disable deprecated linters - structcheck, deadcode, varcheck, ifshort"
The following linters are deprecated in golangci-lint but we're still using them in our config:

- structcheck - Finds unused struct fields
- deadcode - Finds unused code
- varcheck - Finds unused global variables and constants
- ifshort - Go linter that checks if your code uses short syntax for if-statements whenever possible.

We should remove these linters at some point as they're no longer man

[2022-08-24 11:19] killianmuldoon commented on #7115
/kind cleanup

[2022-08-24 11:21] killianmuldoon commented on #7115
/assign

[2022-08-24 11:22] killianmuldoon commented on #7115
I've removed the linters in https://github.com/kubernetes-sigs/cluster-api/pull/7114 to see if it's desirable / if there's any objections.

[2022-08-24 11:23] chrischdi commented on #7101
I think there is no perfect doc or documentation which is able to give you the direct answer.

https://main.cluster-api.sigs.k8s.io/developer/providers/bootstrap.html?highlight=bootstrap#behavior gives some sort of an overview but the details are in the code, maybe especially at the functions like here:

* for `joinWorker` https://github.com/kubernetes-sigs/cluster-api/blob/24b1369f84ae9d9f2c63f18

[2022-08-24 11:27] chrischdi commented on #7115
I'd 👍  for making use of `unused`. These linters sound helpful for imho.

A buggy / non-deterministic ifshort makes no sense for me.

[2022-08-24 12:40] sbueringer commented on #7115
+1 to drop them

[2022-08-24 13:03] sbueringer commented on #6661
Just fyi. Added a new sub task as I noticed that we forgot to bump conversion-gen the last time. (we're currently using conversion-gen v0.23.1)

[2022-08-24 19:17] oscr commented on #6661
I will bump Go version once an updated cloudbuild image with Go 1.19 is released.

https://console.cloud.google.com/gcr/images/k8s-staging-test-infra/GLOBAL/gcb-docker-gcloud

[2022-08-24 20:38] Jont828 opened #7119 "Implement the bootstrap provider contract in the contract package"
Implement the bootstrap provider contract outlined [here](https://cluster-api.sigs.k8s.io/developer/providers/bootstrap.html) as a sub issue in #5309.

[2022-08-24 20:39] Jont828 commented on #7119
/assign

[2022-08-24 20:40] Jont828 opened #7120 "Implement the machine infrastructure provider contract in the contract package"
Implement the machine infrastructure provider contract outlined [here](https://cluster-api.sigs.k8s.io/developer/providers/machine-infrastructure.html) as a sub issue in #5309.

[2022-08-25 02:15] jichenjc commented on #7112
Thanks for the detailed help and hints

Found the CAPO pod not running well (due to other reason) and make it running then the whole process works fine now

closing this and sorry about mis-report

[2022-08-25 02:15] #7112 closed

[2022-08-25 03:03] jichenjc opened #7121 "wrong report of clusterctl describe?"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

I deleted the VM (node) and let machinset recreate it ,after that, found the `describe cluster` seems report wrong info about the machine's name (see below) , is it expected?

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information t

[2022-08-25 03:04] jichenjc commented on #7121
~# clusterctl version
clusterctl version: &version.Info{Major:"1", Minor:"1", GitVersion:"v1.1.4", GitCommit:"1c3a1526f101d4b07d2eec757fe75e8701cf6212", GitTreeState:"clean", BuildDate:"2022-06-03T17:11:09Z", GoVersion:"go1.17.3", Compiler:"gc", Platform:"linux/amd64"}

[2022-08-25 06:28] chrischdi commented on #7121
Hi @jichenjc,

Could you highlight which name is wrong? I don't see any mismatch from the output 🤔
Which Machine/Node got deleted / should not be there?

[2022-08-25 06:36] jichenjc commented on #7121
sorry, my bad .. read again and seems it's correct, not sure what I thought when I open this ticket,
need drink some tea before do this again ,sorry for confusion

I saw capi-quickstart-md-0-wcq9w  mismatch to capi-quickstart-md-0-c65cfd7db-cnp2q...

[2022-08-25 06:36] #7121 closed

[2022-08-25 09:02] #7100 closed

[2022-08-25 09:14] Skarlso commented on #7100
Thank you! :)

[2022-08-25 12:56] sbueringer commented on #6661
Yup. Also probably good to only do this after we bumped the CR/k8s.io dependencies first. Don't want to run an untested combination for too long

[2022-08-25 13:50] HenkVanMaanen commented on #7074
Thanks! I opted for starting worker nodes because we needed some more central things that all clusters started from the management cluster needed.

[2022-08-25 22:01] vladimirvivien commented on #3982
Still encountering this issue (with version

[code]

[code]

[2022-08-26 02:41] jichenjc opened #7125 "[question] healthy check behavior stuck by Terminating pod is correct?"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

trying MHC with openstack now , 2 worker nodes ,both not reachable
one node is updated successfully, but the other got stuck without replacement ,check the log found
[code]

Found those ports in `Terminating` status and I guess that's the root cause
have to run `kubectl delete pod php-apa

[2022-08-26 08:28] sbueringer commented on #7125
I think this is independent of MHC. MHC just triggers the remedation. Then the MachineSet controller triggers the deletion of the Machine.

During that the Machine controller drains the node. This is done with the same code that `kubectl drain` is using.

In my opinion this behavior is expected. There should a termintionGracePeriod that you can set on Pods that could help in that situation. Apart

[2022-08-26 08:32] sbueringer commented on #3982
Hm I think that should not happen. Never had the problem on my machine. Maybe there is a way to confirm that the token / your account is really over the rate limit?

[2022-08-26 09:00] enxebre commented on #7125
Can you clarify why the pods are stuck so we can reason about the right angle to approach the problem? If the reason the pods are stuck on terminating state is the Node is unreachable and so the API server is unable to communicate with the kubelet on the node, then drain should continue and proceed after 5min https://github.com/kubernetes-sigs/cluster-api/blob/main/internal/controllers/machine/mac

[2022-08-26 09:18] chrischdi commented on #3982
I'll take a look and try to at least implement the improvement mentioned by @vincepri here: https://github.com/kubernetes-sigs/cluster-api/issues/3982#issuecomment-946793975 😃

[2022-08-26 09:49] jichenjc commented on #7125
I think not, as the pod is in teminating for long time , I am guessing it's because the node is gone
the pod in that node is not able to be migrated to other node ,so stuck in terminating status?

I will read more about the code, but I can confirm I wait for more than 1-2 hours or even more
at least, my 2 nodes are not reachable at same time so all workers are gone and become 0 worker available
th

[2022-08-26 11:34] fabriziopandini commented on #7052
given that this is a dev feature I'm ok to have a meke target to cleanup the chart folder on demand + some documentation somewhere

[2022-08-26 11:39] fabriziopandini commented on #7115
+1 to drop them given that we are already running the unused linter

[2022-08-26 11:41] fabriziopandini commented on #7120
/triage accepted

[2022-08-26 11:41] fabriziopandini commented on #7119
/triage accepted

[2022-08-26 11:42] fabriziopandini commented on #7115
/triage accepted

[2022-08-26 11:47] killianmuldoon commented on #7115
dropped in #7114

/close

[2022-08-26 11:47] #7115 closed

[2022-08-26 11:48] fabriziopandini commented on #7074
/triage accepted
What do you think about opening an issue in the cert-manager repository asking to add the toleration to the new taint introduced by kubeadm?

[2022-08-26 11:58] fabriziopandini commented on #6980
IMO fixing this behavior is mostly for ensuring a proper cleanup

WRT downstream consumers, I don't think they should check the status of the BootstrapConfig if machines are already provisioned, it is redundant and not representative of the current machine state (bootstrap already completed).

[2022-08-26 12:00] fabriziopandini commented on #7043
/triage accepted

[2022-08-26 12:01] fabriziopandini commented on #7043
I'm +1, TBD if to implement this as a default behaviour or behind some feature flag/annotation
@enxebre @vincepri @CecileRobertMichon  opinions?

[2022-08-26 12:02] fabriziopandini commented on #6975
/help-wanted

[2022-08-26 12:03] fabriziopandini commented on #4461
/triage accepted

[2022-08-26 12:05] fabriziopandini commented on #7029
Adding this to the milestone because we are working on logs and this is a nice cleanup

[2022-08-26 12:36] sbueringer commented on #7074
Currently they tolerate neither the old nor the new taint.

[2022-08-26 12:41] fabriziopandini commented on #7061
/triage accepted

true, but the problem is even more complex because there could also be objects not related to any clusters (other root-hierarchies) or objects that we force to move.

AFAIK we don't have any problem today because move has been designed and it is used mostly for the bootstrap/pivot use case, when there is only one cluster and one namespace.

Any previous attempt to enhance cluster

[2022-08-26 12:41] fabriziopandini commented on #7060
/triage accepted

[2022-08-26 12:50] fabriziopandini commented on #7041
@killianmuldoon is there a way to break down this work in small actionable chuck, so we can start tackling this progressively, and possibly spread the work across many contributors?

[2022-08-26 12:58] fabriziopandini commented on #7074
thanks for the info.
then, I'm personally +1 to close this issue given that we cannot force cert-manager to add this taint and there are already ways to provide custom cert-manger yaml and/or use pre-installed cert-manager versions.

If in the future we will recognize that running a management cluster entirely on a CP tainted node is a scenario we want to officially support, we can re-open and pla

[2022-08-26 12:58] killianmuldoon commented on #7041
I'll update this issue with instructions on how to do this across packages, starting with a small group of packages that are regularly used outside CAPI.

[2022-08-26 17:24] faiq commented on #4229
/assign @faiq

i'll try my hand at it.

[2022-08-26 17:51] willie-yao commented on #7060
/assign

[2022-08-26 18:25] vladimirvivien commented on #3982
I created a fresh PAT and it seems to work. I will keep an eye and report if it happens again.
The PAT requirement should be documented though.

[2022-08-26 18:29] ykakarap commented on #3982
+1. I will open an issue for this.

[2022-08-28 12:18] k82cn commented on #7101
I made that work to launch k8s master (only kube-apiserver and etcd for now) right now.

xref : https://github.com/openbce/kink/tree/main/controllers/controlplane/secrets

[2022-08-28 14:16] fabriziopandini commented on #7044
@pacoxu thanks for reaching out with this issue.
As you probably know cluster API promotes the idea of "immutable" infrastructure, and so every mutation happens by creating a new Machine/deleting the old one.

There is some starting discussion about mutability in CAPI (cc @enxebre), and personally, I would like to be more involved in it and work to a high-level design doc; IMO there are a few area

[2022-08-28 18:12] #3770 closed

[2022-08-28 21:02] Namanl2001 commented on #5836
I attempted to implement Dockerless CAPD with Containerd. However, I have hit a few roadblocks and thought of putting them here for anyone interested in taking this up in the future.

Since containerd is available as a daemon for Linux and Windows, which can manage the complete container lifecycle of its host system, in CAPD, I implemented all the [runtime interface](https://github.com/Namanl2001/

[2022-08-29 09:11] killianmuldoon commented on #5936
/reopen

[2022-08-29 09:15] enxebre commented on #7125
If the pod is deleting means eviction was allowed, now the drain logic waits for the pod to go away. If the reason for it to be stuck in deleting state is the node is unreachable then this might be a bug on our logic as that scenario should be contemplated and skipped here https://github.com/kubernetes-sigs/cluster-api/blob/main/internal/controllers/machine/machine_controller.go#L563-L565
Otherwis

[2022-08-29 10:11] fabriziopandini commented on #5936
/triage accepted

[2022-08-29 10:13] enxebre commented on #7043
+1 to soft taint feature.
I'd expect tainting to be driven by the MachineDeployment controller as it reconciles old MachineSets.
I'm +1 to implement as default behaviour while cover by unit, e2e, conformance testing.

[2022-08-29 10:19] fabriziopandini commented on #7101
/remove-kind bug
/kind support
/triage accepted

/close
Given that it seems the problem has been solved

[2022-08-29 10:19] #7101 closed

[2022-08-29 10:21] fabriziopandini commented on #5783
/re-open
/lifecycle frozen

[2022-08-29 10:21] fabriziopandini commented on #5783
/reopen

[2022-08-29 10:41] sbueringer commented on #5783
/triage accepted

[2022-08-29 11:07] fabriziopandini commented on #7089
+1
That's an interesting use case, it will be great if you can improve our docs after your work!
However, at the same time we should also point out that how CABPK works today is not really a contract someone else can rely on; in fact we have E2E tests ensuring that CABPK and KCP properly create/manage workload clusters, but not how.

/triage accepted

[2022-08-29 12:08] #7060 closed

[2022-08-29 20:08] #6864 closed

[2022-08-29 22:04] ykakarap commented on #6365
I think we can close this issue for now as clusterctl is behaving as documented.

FYI: There are plans to bake in some improvements that will improve the accuracy of some of the clusterctl results. This effort will be tracked in a separate issue. I will link the issue here once it is opened.

For now I believe this issue can be closed.

cc @fabriziopandini

[2022-08-29 22:21] CecileRobertMichon opened #7128 "Automate release branch and tag creation"
**User Story**

As part of improving release process and setting up a release v-team (https://github.com/kubernetes-sigs/cluster-api/pull/7110), we need to make releasing accessible to more people, specifically, those who don't have `write` permissions on the repo (i.e. everyone except approvers), without making the overall process less secure or introducing risk of a bad actor being able to creat

[2022-08-29 22:34] ykakarap commented on #7061
This is an interesting use case.

Handling resources that are shared across multiple clusters is definitely an interesting problem for this use case. CRS is another example where resources are shared across clusters. The same CRS resource could be bound to multiple clusters.

[2022-08-29 22:43] ykakarap commented on #7052
Kustomize does not check for version changes even if the verison is specific or modified later as long as there is a local copy of a chart (any version).

From Kustomize documentation:

If we pin the chart version in the our kustomization.yaml files then in tilt-preare we can be a little smart by checking if the version in `Chart.yaml` matches the version specified in the corresponding kustomizati

[2022-08-30 06:17] k82cn commented on #7089
sure, let me update the doc accordingly based on my work :)

[2022-08-30 11:11] sbueringer commented on #7052
To be honest I'm not sure if it's worth the effort. We're pulling in external charts for relatively stable components like Prometheus/Grafana/Loki.

If we start pinning, we also have to regularly bump those versions (and probably test them as well, because otherwise pinning doesn't really have a big advantage).

As of today - as far as I'm aware - we had 0 issues with users of our dev env complain

[2022-08-30 11:20] killianmuldoon commented on #7052
@ykakarap and I have run into an issue with Loki/promtail being improperly configured which seemed down to the version of the chart being pulled. Promtail was trying to contact the wrong service to push to Loki.

[2022-08-30 11:24] sbueringer commented on #7052
If we start pinning it would be really good to have a rough idea what kind of tests we want to do when bumping Charts. (pinning and manual bumping without any tests wouldn't really improve the situation just produce more toil)

[2022-08-30 16:00] sbueringer opened #7129 "Tasks for Kubernetes 1.26"
This issue is tracking the list of tasks that should be implemented when Kubernetes v1.26 is released.
**Currently, we are waiting for the Kubernetes release and we will for a few months, mostly opening this already for tracking purposes**

For prior art please see #6661

* CI:
    * [ ] CAPD:
        * `docker.yaml`: `KUBERNETES_` env vars in `variables`
        * kind_provider.go, docker/*, ...

[2022-08-31 13:11] fabriziopandini commented on #7052
/triage accepted

This is the same problem we have for all the tools we build locally, and for those we are ok with a make target to cleanup them only when necessary. For consistency, I will do the same for helm charts (and avoid the burden of pinning versions)

[2022-08-31 13:13] fabriziopandini commented on #6365
/close
as per comments above

[2022-08-31 13:13] #6365 closed

[2022-08-31 13:16] fabriziopandini commented on #7128
/triage accepted

[2022-08-31 18:10] #6126 closed

[2022-08-31 18:16] sbueringer commented on #6126
@pydctw How do we want to treat this core CAPI issue now that the proposal is merged? I assume we have corresponding issues in CAPA so it's fine to close this issue here?

[2022-09-01 13:20] randomvariable commented on #6154
cc @christianang

[2022-09-01 13:29] sbueringer opened #7143 "Drop pinned kube-state-metrics tag"
Follow-up to https://github.com/kubernetes-sigs/cluster-api/pull/7095#discussion_r958498712

The idea is to stop pinning kube-state-metrics to the v2.6.0 tag in our values.yaml once the Helm Chart uses a version >=v2.6.0

cc @chrischdi

/kind cleanup

[2022-09-01 13:30] sbueringer commented on #7143
/triage accepted

[2022-09-01 14:07] jayunit100 opened #7147 "Add metrics for realtime investigation of disconnected wl scenarios"
**User Story**

As a developer running CAPI in far separated networks, id like kubeadm controlplane manager to give me a delta between healthy nodes thats easy to read, i.e.

if i do a simple disconnect experiment on a WL cluster (w CP node w/ etcd on it),

[code]

I can see that disconnect is logged easily... and i cant easily ascertain how many nodes are / arent making that etcd connection (and

[2022-09-01 14:20] killianmuldoon commented on #7147
Would it be better to raise a metric for this instead? Using logs to capture metrics seems like a strange approach.

[2022-09-01 15:34] killianmuldoon opened #7149 "Create an untainted control plane with KCP"
**User Story**

As an operator I would like to create a control plane without the `node-role.kubernetes.io/master:NoSchedule` taint.

**Detailed Description**

When creating a cluster I would like my control plane to be a scheduling target for all workloads. Setting the initConfiguration of KubeadmControlPlane  NodeRegistration taints to empty results in a nil field which means the taints are appl

[2022-09-01 15:35] killianmuldoon commented on #7149
@d8660091 does this summarize your issue correctly?

[2022-09-01 15:40] pacoxu commented on #7044
Just watched the kubeadm office hour record. https://mail.google.com/mail/u/0/#inbox/FMfcgzGqPpgGlrWbcSVJpPnNjmbXXcQf is updated.

Thanks for your advice and comments on it. More feedback and discussions are needed.
For the design, I need to think again about a better design and limitations.

[2022-09-01 16:23] sbueringer commented on #7149
nit: I assume the intention is to avoid both the old and the new control plane taint?

[2022-09-01 16:26] killianmuldoon opened #7150 "Ensure correct logging of reference structs in both json and text logging"
With recent logging changes a [reference and object logger were added to CAPI](https://github.com/kubernetes-sigs/cluster-api/commit/1a286fdf7da314bdfbb76b042f8f25f1828734a0#diff-3a86c514d2d3f52dc7235e0444e3a2c54960795d7e73cecb131b876ce306442b):

These objects may look correct in json logging, but may not correctly represent the object in text form.

https://github.com/kubernetes-sigs/cluster-api/

[2022-09-01 16:26] killianmuldoon commented on #7150
/kind cleanup

[2022-09-01 16:32] Jont828 commented on #7120
/assign

[2022-09-01 17:23] d8660091 commented on #7149
@killianmuldoon Perfect! Thank you for creating this issue, we'll keep a close eye on it.

BTW, created a playground snippet earlier trying to explain the bug: https://go.dev/play/p/TikiIjMYXlM

[2022-09-01 17:43] sbueringer commented on #7150
/triage accepted

[2022-09-01 21:47] Jont828 opened #7155 "Add CAPI Visualizer to `clusterctl`"
**User Story**

I'd like to explore adding a command like `clusterctl visualize cluster my-cluster` to open the cluster view in the visualizer app or to `clusterctl visualize` to open the visualizer management cluster view.

/kind feature

[2022-09-01 21:47] Jont828 commented on #7155
/assign