[2019-08-12 13:44] detiber commented on #1242
/assign @vincepri

[2019-08-12 15:10] chuckha opened #1243 "Add a field on Cluster Status indicating the control plane is ready"
/kind feature

**Describe the solution you'd like**
CAPI uses an annotation to mark a cluster with a control plane ready for joining new nodes. Instead of using an annotation we should use a field on Status.

**Anything else you would like to add:**
See https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/issues/99

/cc @detiber @fabriziopandini @ykakarap

[2019-08-12 15:13] ykakarap commented on #1243
Since this is related to an issue I am working on in CABPK, I would like to take this up.

/assign @ykakarap

[2019-08-12 15:58] vincepri commented on #1243
@chuckha I don't think CAPI uses any annotations today to mark a control plane ready, were you referring to CAPA?

@ykakarap Before starting implementing `Status.ControlPlaneReady` field, we should first update the cluster proposal document to reflect this change and include details such as: how will we determine if a Cluster's control plane is ready, how can we make sure we can re-calculate readi

[2019-08-12 16:01] chuckha commented on #1243
@vincepri  https://github.com/kubernetes-sigs/cluster-api/blob/master/pkg/controller/machine/machine_controller_phases.go#L279

is what I'm referencing

[2019-08-12 16:45] vincepri commented on #1243
Things past me wrote and I forgot 😂

[2019-08-12 18:07] vincepri commented on #1227
Following up on @detiber and my suggestion from above. I'd like to see a way to specify default configuration values using the `<Provider>Template` resources like `AWSMachineTemplate`.

[code]

The `bootstrapTemplate` reference should be clear in documentation that's going only to be valid for worker nodes.

WDYT?

[2019-08-12 18:22] dennisme commented on #1172
/assign

[2019-08-12 18:29] akutz opened #1245 "GitHub project template for creating a v1alpha2 provider"
/kind feature

**Describe the solution you'd like**
GitHub now allows projects to be created from [templates](https://help.github.com/en/articles/creating-a-repository-from-a-template). In fact, the [kubeadm bootstrap provider](https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm) repository was generated from the [Kubernetes template project](https://github.com/kubernetes/kub

[2019-08-12 18:44] akutz opened #1580 "[cabpk] Write "/etc/hosts" and "/etc/hostname""
/kind feature

**Describe the solution you'd like**
The bootstrap data should include the files `/etc/hosts` and `/etc/hostname` with the values derived from the host. This ensures these files reflect the correct values without requiring a reboot before the systemd-hostnamed service updates them.

[2019-08-12 20:52] vincepri commented on #1196
/lifecycle active

[2019-08-12 20:55] vincepri commented on #1188
/lifecycle active
/assign

[2019-08-12 21:06] vincepri commented on #1197
Have we reached some consensus around this? I'd prefer to move to a single endpoint and have additional ones in a different slice.

[2019-08-12 21:15] vincepri commented on #1141
@girikuncoro We might need to discuss about this issue a little more in community meetings to reach some consensus. Today, we rely on labels to link objects to a cluster and those are completely optional, this proposal is a breaking change that could impact some consumers.

[2019-08-12 21:16] vincepri commented on #1198
Closing in favor of #1187

/close

[2019-08-12 21:16] #1198 closed

[2019-08-12 21:17] vincepri commented on #1090
/kind documentation

[2019-08-12 21:49] #1196 closed

[2019-08-13 07:22] moshloop opened #1250 "Load Balancer Provider"
/kind feature

One of the long-standing issues in CAPV is the lack of a default/standard load balancer for vSphere environments - Many options exist (VMC ELB, F5, NSX, IPVS, Client-Side) but nothing would apply to all environments.

We, therefore, need a mechanism to support arbitrary load balancer implementations.

The first question that needs to be answered is where does this belong as a high-l

[2019-08-13 07:30] moshloop commented on #1250
/assign @timothysc @akutz @yastij

[2019-08-13 07:35] moshloop commented on #1197
How About:

[code]

[2019-08-13 07:36] moshloop commented on #1250
Potential implications for: https://github.com/kubernetes-sigs/cluster-api/issues/1197

[2019-08-13 13:11] detiber commented on #1250
@moshloop this aligns with my original ideas around how we should rework the "Cluster Infrastructure" when we first started discussing v1alpha2 changes. This also extends beyond just vSphere, but also affects bare metal and even OpenStack environments.

My thought was that we should split the existing monolithic cluster infrastructure into 3 separate components:
- Load Balancer provider
- Network

[2019-08-13 13:14] detiber commented on #1197
@moshloop I'm good with that proposed suggestion, but I would remove the limitation that APIEndpoints refer to InternalIP, since it might be implementation dependent on how they would be consumed by what would be providing the ClientEndpoint. (For example DNS-based config would require Public IPs)

[2019-08-13 14:19] vincepri commented on #1197
We should keep using a struct type for endpoints. I'd propose the following:

[code]

[2019-08-13 14:26] akutz commented on #1197
Hi @vincepri,

I truly don't see how the above proposal is any different than having a single slice like there is today. This appears to add an additional field for no real reason other than avoiding accessing the first element of the original slice.

[2019-08-13 14:29] detiber commented on #1197
@akutz it provides a single canonical source for generating things like a kubeconfig, rather than just randomly taking the first field from a slice that is used for various different reasons.

This gives us a way to not have to interpret provider intent when creating the client for setting NodeRefs or generating the kubeconfig secret for users.

[2019-08-13 14:30] vincepri commented on #1197
We've seen lots of folks using a single API endpoint, some others like @moshloop have use cases to use more than one, which is ok. This proposal would simplify the 80% use case and allow for others as well.

[2019-08-13 14:35] #1188 closed

[2019-08-13 14:36] akutz commented on #1197
Except that is what the doc on the single field now says short of an LB:

So to me this just separates things into two fields when all that's required is more explicit documentation on the existing field.

[2019-08-13 16:04] moshloop commented on #1243
This will need to consider https://github.com/kubernetes-sigs/cluster-api/issues/1197 and https://github.com/kubernetes-sigs/cluster-api/issues/1250  which could potentially influence this.

[2019-08-13 16:09] vincepri commented on #1250
/kind design

If there is enough interest, this functionality should be spec'd in a CAEP.

[2019-08-13 16:20] moshloop commented on #1250
I will try and create a CAEP for this.
/assign

[2019-08-13 16:28] moshloop commented on #1197
So this is *intentionally* random rather than *just* random - in theory if you have a controller looping trying to get to a ControlPlaneReady state, and you use the same endpoint (e.g. first) and that endpoint happens to be down, then it will never reconcile, even though it could potentially reconcile with a random endpoint.

1. Pick a random APIEndpoint
2. Set it as the ClientEndpoint
3. Attempt

[2019-08-13 16:46] yastij commented on #1250
@detiber - If there's enough traction on this then I'm happy to help on this.
one question that comes to my mind, if we want to have cluster infrastructure "composability" we'd need some new APIs to support this, would this be for v1a3 ?

[2019-08-13 16:49] dlipovetsky commented on #1197
I agree with the premises. Given that we are modifying the API used by all providers, I think good usability should also be a goal: both human (i.e. reading/editing the manifest), and programmatic.

Have we considered the approach taken by [corev1.NodeAddress](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.15/#nodeaddress-v1-core)?

For example:

[code]

With this approach, we ca

[2019-08-13 16:50] detiber commented on #1250
@yastij it would definitely be post v1alpha2, whether it would be included in v1alpha3 would need to still be determined based on community planning.

[2019-08-13 16:57] yastij commented on #1250
cc @akutz

[2019-08-13 18:37] #1208 closed

[2019-08-13 19:16] #791 closed

[2019-08-14 03:06] girikuncoro commented on #1141
@vincepri got it! I'll wait for the consensus and try to pick up some other issues

/unassign

[2019-08-14 06:34] dlipovetsky commented on #1197
Does anyone use an [authenticating proxy](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#authenticating-proxy)?

If I did, I might want to list it under APIEndpoints.

(I'm not sure if it merits its own type, e.g. `AuthProxyAPIEndpoint APIEndpointType = "AuthProxyEndpoint"`)

[2019-08-14 14:32] vincepri commented on #1102
Given that we're about to approach the endgame for this cycle, I'd like to propose something similar [controller-runtime](https://github.com/kubernetes-sigs/controller-runtime/releases/tag/v0.2.0-beta.5) does.

- Each PR is split into 3 groups: ⚠️ Breaking Changes, ✨ New Features, 🐛 Bug Fixes.
- We use the "Release Note" section for any additional information we'd like to give users.
- Each releas

[2019-08-14 15:19] chuckha commented on #1102
This ties in with the goreleaser doc I'm writing. If we standardize on that tool for releases we at least get every commit in the release notes. IMO that should only be a starting point for the actual release notes, but it's a great place to start.

[2019-08-14 17:47] timothysc commented on #1245
It might make sense to tool wrap kube-builder.

[2019-08-14 17:57] #707 closed

[2019-08-14 18:01] dlipovetsky commented on #1027
Some providers (CAPA, CAPV, CAPZ, to name some) have their own meetings. But this meeting is an opportunity project newcomers to ask questions, contributors to bikeshed on issues, and it's a place to do demos and code walkthroughs. The "main" CAPI meeting isn't a great place for these, because its time is taken up by provider status updates, decision making, and issue triage.

[2019-08-14 18:23] rudoi opened #1581 "[cabpk] Use controller-runtime client everywhere for consistency"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
In the reconcile logic and in the tests we have both static and controller-runtime clients in play. We should standardize on the controller-runtime client, as it is awesome.

Basically the PRs for the bootstrap token logic and the cert generation logic were being worked at the same tim

[2019-08-14 22:10] dennisme commented on #1172
/remove help-wanted

[2019-08-15 05:26] jichenjc opened #1258 "gcr.io/k8s-cluster-api/cluster-api-controller:v0.1.9 not found"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
docker pull gcr.io/k8s-cluster-api/cluster-api-controller:v0.1.9
Error response from daemon: manifest for gcr.io/k8s-cluster-api/cluster-api-controller:v0.1.9 not found

but
docker pull gcr.io/k8s-cluster-api/cluster-api-controller:v0.1.4
works

root@jj-master:~/go/src/sigs.k8s.io/clus

[2019-08-15 05:27] jichenjc commented on #1258
so can we create v0.1.9 or someone point out the images location?

[2019-08-15 13:17] detiber commented on #1258
@jichenjc we've switched from the previous container registry location to a new one when we adopted the image promoter from wg-k8s-infra. We've also started to put the container image location in the release notes for each release. For v0.1.9 it is: us.gcr.io/k8s-artifacts-prod/cluster-api/cluster-api-controller:v0.1.9

[2019-08-15 13:27] detiber opened #1259 "Status being overwritten in some cases prior to patching status"
/kind bug
/priority critical-urgent

**What steps did you take and what happened:**
From raymon on #cluster-api slack:

Since in the case of a call to `Client.Patch` with only changes to `Status`, the resource passed in will be overwritten by the cached version of the resource, it will result in a noop when calling `Client.Status().Patch` instead of updating the `Status` as we would expect.

To gu

[2019-08-15 13:42] chuckha commented on #1259
Ahh ok, I traced the code and understand now:

https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/client/typed_client.go#L132

This would be the line causing the unexpected behavior.

Agreed with the provided solution. Make a deep copy before calling .Patch with the current object then use the deep copy in the .Status().Patch call along with the original copied object.

For a co

[2019-08-15 13:42] chuckha commented on #1259
Actually I think I just hit this bug so..

/lifecycle assign

[2019-08-15 13:43] chuckha commented on #1259
/lifecycle active
/assign

[2019-08-15 14:11] jichenjc commented on #1258
ok, let me close this , thanks

[2019-08-15 14:11] #1258 closed

[2019-08-15 14:38] #1172 closed

[2019-08-15 20:51] dennisme opened #1266 "Add util func for generating kubeconfig secret name"
/kind feature
/assign
/good-first-issue

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
In the review of https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/pull/136 @detiber suggested that we add a method to the `utill` package to generate the kubeconfig secret name as it will be used other places in the ecosystem.

See htt

[2019-08-15 22:50] DirectXMan12 commented on #1259
We can't be certain that a given endpoint will overwrite status.  There's nothing that advertises it in discovery.  It's a hidden "feature".

[2019-08-16 15:00] chuckha commented on #1259
This is closed with #1261

[2019-08-16 15:00] chuckha commented on #1259
/close

[2019-08-16 15:00] #1259 closed

[2019-08-16 18:16] timothysc opened #1269 "RFE: Single cluster spanning AZs / Failure domains"
As a kubernetes operator, I'd like to deploy a cluster whose machines are evenly spread across a label (zone/region).

/kind feature

[2019-08-16 18:25] vincepri commented on #1269
/cc

[2019-08-16 18:30] timothysc opened #1271 "RFE: upgrade - tuning drain behavior"
As kubernetes operator we'd like to tailor drain parameters and possible strategy when doing a cluster upgrade.

/kind feature

[2019-08-16 18:32] timothysc commented on #1271
It's possible we might want strategy options as well.

[2019-08-16 21:31] vincepri opened #1272 "Move RBAC kubebuilder rules in each respective controller"
/kind feature

**Describe the solution you'd like**
RBAC kubebuilder rules from `controllers/doc.go` should be moved to each respective `*_controller.go` file based on what the controller actually needs access to.

/help
/good-first-issue

[2019-08-16 21:31] vincepri commented on #1272
/priority important-longterm

[2019-08-19 09:15] Xenwar commented on #1272
I am interested in working on this issue. Would it be possible to take it ?

[2019-08-19 09:15] Xenwar commented on #1272
/assign @Xenwar

[2019-08-19 13:22] dongwangdw commented on #1272
Is there any background on this issue?
As I see from doc.go, there is one line and others are all commented lines.
Are these commented lines are the rules? Is there any doc about them so that I can understand more about them?

[2019-08-19 13:39] detiber commented on #1272
The RBAC rules are generated using the annotations in the commented lines

The Kubebuilder Book should have some documentation on the annotations: https://book.kubebuilder.io/

[2019-08-19 14:15] fabriziopandini opened #1274 "Cluster Controller should create kubeconfig Secret for remote clusters"
/kind feature

**Describe the solution you'd like**
in v1alpha2, cluster controller should take care of creating the config map with the kubeconfig for accessing remote clusters before setting the BootstrapReady annotation.

At this stage, all the required certificates should exist as secrets in the management cluster, and the Cluster.Status.APIEnpoints list should contain the control plane endpoi

[2019-08-19 14:24] rudoi commented on #1274
CABPK creates a secret containing the kubeconfig. Is this meant to be something different?

[2019-08-19 14:32] vincepri commented on #1274
Long term, the kubeconfig creation can be made in CAPI, but only if there is enough standards/conventions that we can follow to get the necessary information to generate it (apiendpoints, certificates, and so on).

If we can align on how to get those information, the feature can move to Cluster API easily.

[2019-08-19 15:15] fabriziopandini commented on #1274
@rudoi, it is the same, but the current implementation assumes controlplaneEndpoint is known before creating the cloud-config for kubeadm init, but this is not always the case (e.g. CAPV).
This is why we should move this out of CAPBK.

I agree.
apiendpoints are already part of the API, and there is already utils for remote config management.
The last bit is certificates, but there is work ongoing

[2019-08-19 15:29] dennisme commented on #1274
Do we want to make a meeting topic for Wednesday? If we decide on something I am happy to cleanup my mess :)

[2019-08-19 15:50] akutz commented on #1274
If we do then I will be there to explain CAPV's side of things. The tl;dr is that vSphere doesn't have a built-in LB solution, so fun work-arounds are necessary :(

[2019-08-19 17:23] vincepri commented on #1243
/cc @ncdc

[2019-08-19 17:25] vincepri commented on #1075
/close

[2019-08-19 17:25] #1075 closed

[2019-08-19 17:25] vincepri commented on #910
This can be closed now that the actuators are gone in v1alpha2.

/close

[2019-08-19 17:25] #910 closed

[2019-08-19 17:28] vincepri commented on #859
The CI scripts have been switched to use `kubectl kustomize`, we should be able to close this one out. If there are any issues later on to use it, we should switch back to a kustomize binary, pinned to a specific version.

/close

[2019-08-19 17:28] #859 closed

[2019-08-19 17:28] ncdc commented on #1243
I am in favor of making this change. We have it as an annotation in v1alpha1, mainly because we didn't want to modify the API. I think it makes sense to promote this to a regular field for v1alpha2 so it is more visible.

As far as #1197 and #1250, there is not time for either of those to land in v1alpha2, so (pending lazy consensus) this should be able to go in by itself.

[2019-08-19 17:29] vincepri commented on #1269
@timothysc This is a duplicate of #46, which one should we close?

[2019-08-19 17:29] vincepri commented on #46
/milestone Next

[2019-08-19 17:30] vincepri commented on #1240
/close

[2019-08-19 17:30] #1240 closed

[2019-08-19 17:31] vincepri commented on #1119
This should be implemented and ready to go, @detiber do you think we can close this one out?

[2019-08-19 17:31] vincepri commented on #1187
/lifecycle active

[2019-08-19 17:32] vincepri commented on #873
The samples have been removed on master given that they were outdated and broken. Examples should probably go in docs / gitbook.

/close

[2019-08-19 17:32] #873 closed

[2019-08-19 17:32] detiber commented on #1119
Yes, let's close
/close

[2019-08-19 17:32] #1119 closed

[2019-08-19 17:33] vincepri commented on #554
@detiber Is this one still relevant? Should we punt to Next?

[2019-08-19 17:34] detiber commented on #554
@vincepri closing, since `clusterctl` has a limited shelf life anyway.
/close

[2019-08-19 17:34] #554 closed

[2019-08-19 17:34] vincepri commented on #1027
@ncdc Any thoughts about @dlipovetsky reply?

[2019-08-19 17:35] ncdc commented on #1027
Perhaps we could suggest people who attend the meetings could add their feedback here?

[2019-08-19 17:36] vincepri commented on #1245
Duplicate of #1113

[2019-08-19 17:37] alexeldeib commented on #1269
FWIW, I still think you need an explicit mechanism to tell a provider to do this.

zone/region are common labels, but are after infrastructure bootstrapping so can't be used here. Someone/thing/data has to bootstrap this process, and it should be consistent across providers. It can either anything from binary "spread me" to a CRD describing the hierarchy of each providers topology. Maybe I'm stick

[2019-08-19 17:45] alexeldeib commented on #46
/unassign

[2019-08-19 17:52] ykakarap commented on #1243
I am guessing we only want to add the field for now and considering refactoring the core to use this field instead of the annotation in a follow-up issue, correct?

[2019-08-19 17:58] ncdc commented on #1243
I'd rather do it in a single PR. But we should open a PR to modify the proposal first.

I'd actually like to propose we consider naming it `ControlPlaneInitialized` instead of `ControlPlaneReady`. I don't think we necessarily need to constantly monitor the health of the control plane and update this bool. I'd rather use it as a gate that only ever changes from false to true a single time.

[2019-08-19 18:17] ncdc commented on #493
I don't believe this will make v1alpha2 (other than the kubeadm bootstrapper continues to support initial node labels and taints).

/milestone Next

[2019-08-19 18:18] ncdc commented on #772
@vincepri do you still want to keep this open?

[2019-08-19 18:22] ncdc commented on #853
The code in `master` now supports specifying a bootstrap provider separately from infrastructure provider.

/close

[2019-08-19 18:22] #853 closed

[2019-08-19 18:26] vincepri commented on #772
Yeah I don't see why not, let's punt it to next though.

/milestone Next

[2019-08-19 18:35] ncdc commented on #936
We have worked through most or all of the issues, so...
/close

[2019-08-19 18:35] #936 closed

[2019-08-19 18:36] ncdc commented on #945
Much of this has been cleaned up in master. If there's anything left over, I'll either open a new issue, or just file PRs 😄

/close

[2019-08-19 18:36] #945 closed

[2019-08-19 18:48] ncdc commented on #913
I am not able to reproduce this with the latest code (master / v1alpha2):

[code]

[code]

[2019-08-19 18:50] ncdc commented on #992
v1alpha2 removes the `RawExtension` fields and providers can now using OpenAPI and/or validating webhooks to validate their types.

/close

[2019-08-19 18:50] #992 closed

[2019-08-19 18:50] ncdc commented on #147
v1alpha2 removes the `RawExtension` fields and providers can now using OpenAPI and/or validating webhooks to validate their types.

/close

[2019-08-19 18:50] #147 closed

[2019-08-19 21:42] cadedaniel commented on #985
I'm commenting to add an anecdote; I am implementing a controller/CRD for something unrelated and came across this same issue. I was hoping for a server-side implementation of #1180, it seems to be the better option from a framework point of view. @dlipovetsky if you create an issue against sig-apimachinery can you please post the link here.

[2019-08-19 22:07] ykakarap opened #1582 "[cabpk] Wiring up the Format field"
/kind feature

**Describe the solution you'd like**
A PR for adding the `Format` field to `KubeadmConfig.Spec` is open. This issue is to discuss how we want to use it in the controller.

**Anything else you would like to add:**
The `Format` field is used to specify the output format of the bootstrap data that the controller generates.

[2019-08-19 23:08] rudoi opened #1279 "kubectl scale doesn't work on v1a2 machinedeployments"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Created a MachineDeployment, nodes are all fine.

Then:
[code]

**What did you expect to happen:**
MachineDeployment successfully scaled to 2.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api ver

[2019-08-19 23:32] vincepri commented on #1279
/priority critical-urgent
/assign

[2019-08-20 13:57] dongwangdw commented on #1272
@detiber
thanks here is the link. https://book.kubebuilder.io/reference/markers/rbac.html

As Xenware got this. I hope this would help.

[2019-08-20 14:02] dongwangdw commented on #1271
@timothysc
Can I get more background info about this issue? Is there any link/doc that I can learn from?
/assign @dongwangdw

[2019-08-20 17:55] vincepri commented on #1279
@rudoi Would you be able to check if this issue still occurs after this PR? https://github.com/kubernetes-sigs/cluster-api/pull/1281/files

[2019-08-20 19:06] ncdc commented on #1279
Should be fixed by #1281. Please reopen if it's still not working.
/close

[2019-08-20 20:32] ncdc commented on #963
This logic has been removed from master/v1alpha2
/close

[2019-08-20 20:32] #963 closed

[2019-08-20 20:33] vincepri commented on #993
PR templates have been improved, the issue template seems to be ok for now, feel free to reopen if necessary.

/close

[2019-08-20 20:33] #993 closed

[2019-08-20 21:00] ncdc opened #1290 "Separate normal vs deleted reconciliation logic"
/kind cleanup

**Describe the solution you'd like**
To make it easier to understand what is happening, we should follow the approach I took in CAPA and split reconciliation logic into 2 different paths: 1 for normal, and 1 for deletions.

**Anything else you would like to add:**
See e.g. https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/43b0e22dcade545908d86457383e116c8f8cab11/contr

[2019-08-20 21:00] vincepri commented on #1290
/assign

[2019-08-20 21:54] rudoi commented on #1279
/reopen

something is up with resource version:
[code]

^ this works, but without it it says `invalid: metadata.resourceVersion: Invalid value: 0x0: must be specified for an update`

[2019-08-20 23:46] vincepri opened #1583 "[cabpk] Add Spec.CloudProvider in KubeadmConfig"
/kind feature

**Describe the solution you'd like**
An optional field in the KubeadmConfig Spec called `CloudProvider` could be useful to implement default logic to set the `cloud-provider` flags in multiple places.

This is an example of a configuration to setup the first controlplane instance:
[code]

As you can see, the `cloud-provider: aws` option is repeated in multiple places. Bringing that

[2019-08-21 13:17] detiber opened #1294 "Ensure proper handling of ErrorMessage/ErrorReason for referenced resources"
/kind feature

**Describe the solution you'd like**
Ensure that we are properly checking a referenced resource for ErrorMessage/ErrorReason for referenced resources. If they are present, then we should not attempt to use data from those resources and we should propagate a summary to the user via our ErrorMessage/ErrorReason pointing the user to the resource(s) with ErrorMessage/ErrorReason set.

/

[2019-08-21 13:44] chuckha opened #1295 "Support kustomize v3.1.x"
/kind feature

**Describe the solution you'd like**
The kustomize API has changed a few things and with it our default/kustomization.yaml must also change along with including the api type/version for the kustomize file format.

**Anything else you would like to add:**
/lifecycle active
/assign
/priority important-soon

[2019-08-21 13:48] ncdc commented on #1279
@rudoi the resourceVersion 0x0 error is a kubernetes bug: https://github.com/kubernetes/kubernetes/issues/80515. Is it ok to close this since it's not a cluster-api issue?

[2019-08-21 14:16] rudoi commented on #1279
darn! yep, no problem.

/close

[2019-08-21 14:16] #1279 closed

[2019-08-21 15:41] vincepri commented on #1294
This should be already implemented as described, `reconcileExternal` method in cluster and machine controllers sync the errors back with the main resources.

[2019-08-21 15:42] vincepri commented on #1294
https://github.com/kubernetes-sigs/cluster-api/blob/master/controllers/machine_controller_phases.go#L156-L167

[2019-08-21 15:45] #1272 closed

[2019-08-21 15:53] rudoi opened #1297 "Machine deletes when Infra object could still exist"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I noticed Machines were deleting before their associated AWSMachines were gone.

**What did you expect to happen:**
Machine controller waits until both bootstrap obj and infra obj are gone.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving t

[2019-08-21 15:53] rudoi commented on #1297
/assign
/lifecycle active

[2019-08-21 15:53] detiber commented on #1297
/priority important-soon
/milestone v1alpha2

[2019-08-21 16:55] joonas commented on #1266
I have a pretty good idea of what we want to do here, so I can go ahead and take this one

[2019-08-21 16:56] joonas commented on #1266
/assign @joonas

[2019-08-21 16:56] joonas commented on #1266
/lifecycle active

[2019-08-21 17:23] fabriziopandini commented on #1274
I think there are some more things to be considered...
E.g a kubeconfig file is required to set NodeRef, and this should happen before boostrapReady is set at cluster level

[2019-08-21 18:38] #1295 closed

[2019-08-21 18:47] detiber commented on #1294
@vincepri looking at the linked code, it just copies the ErrorMessage/ErrorReason from the external resource, it doesn't give any additional context to the user

[2019-08-21 21:15] ncdc opened #1303 "[0.1] Add concurrency support for MachineSet, MachineDeployment controllers"
/kind feature

**Describe the solution you'd like**
#1302 added support for controlling the concurrency of the cluster and machine controllers. We should add eventually support for the MachineDeployment and MachineSet controllers too.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-08-21 21:16] ncdc opened #1304 "Add concurrency support"
/kind feature

**Describe the solution you'd like**
#1302 added concurrency support for 0.1 for the cluster and machine controllers. For master, we should add concurrency support for all controllers.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-08-22 03:25] gyliu513 commented on #980
@hardikdr I found that you had some words at https://discuss.kubernetes.io/t/cluster-api-controlplane-lifecycle-management-workstream/5956 for managed kuberntes, any progress for this? Thanks.

[2019-08-22 06:17] kanwar-saad commented on #1274
There are two secrets in CAPBPK; <cluster-name>-certs and <cluster-name>-kubeconfig. Does this mean to move both to CAPI since they are related or just kubeconfig one?

[2019-08-22 11:49] detiber commented on #1274
Just the Kubeconfig one

[2019-08-22 14:17] ncdc commented on #1274
/priority critical-urgent

[2019-08-22 14:34] vincepri commented on #1274
/assign

[2019-08-22 16:08] #1266 closed

[2019-08-22 16:24] joonas opened #1306 "Add utility function for getting and extracting the cluster kubeconfig"
**Describe the solution you'd like**

As a follow-up to [#1301 (comment)](https://github.com/kubernetes-sigs/cluster-api/pull/1301#discussion_r316740315), it was suggested that the functionality in [clusterclient](https://github.com/kubernetes-sigs/cluster-api/blob/b7b6070a10d689f77b135993c858b688e31600ba/cmd/clusterctl/clusterdeployer/clusterclient/clusterclient.go#L169-L178) for getting and extr

[2019-08-22 16:44] vincepri commented on #1306
/help
/good-first-issue

[2019-08-22 19:00] vincepri commented on #1290
/lifecycle active

[2019-08-23 08:35] fabriziopandini opened #1584 "[cabpk] Add Support for Component Config configuration files"
/kind feature

**Describe the solution you'd like**
SCL is pushing the adoption of component config objects, and kubeadm already accepts `KubeletConfiguration` and `KubeProxyConfiguration` as part of its config file.
I would like to be able to use component config object with CABPK as well.

**Anything else you would like to add:**
The first possible approach to achieve this is to add `KubeletConf

[2019-08-23 10:43] hardikdr commented on #980
@gyliu513  Thanks for initiating the discussion.
We had started the investigation around `control-plane-lifecycle management` in-general as part of the workstreams, but there haven't been major progress after workstream-approach was stopped.

Essentially we wanted to investigate 3 different approaches of managing the control-planes using Cluster-API  - [doc](https://docs.google.com/document/d/1hTD

[2019-08-23 10:59] prankul88 commented on #1306
If no one has taken this up yet, I would like to work on this issue. I have recently started contributing and this might be a good issue to get started.

[2019-08-23 11:05] detiber commented on #980
This is going to be one of the primary discussions during the upcoming v1alpha3 planning. The starting point will be to pick up where the workstream ended

[2019-08-23 12:55] kashifest commented on #1306
I would be interested to work on this issue. I would like to take it if it is ok with others.

[2019-08-23 13:20] ncdc commented on #1306
@prankul88 would you want to pair with @kashifest on this?

[2019-08-23 14:37] #1297 closed

[2019-08-23 15:37] #1304 closed

[2019-08-23 16:39] vincepri opened #1315 "Investigate controllers flaky tests"
/kind bug

**What steps did you take and what happened:**
Our current tests use controller-runtime `testenv` to spin up a local API Server and test against it. After moving to Kubebuilder v2, all controllers are now running at the same time, every now and then, MachineDeployment and MachineSet tests fail and we need to reissue a `/retest`.

/help
/priority important-longterm

[2019-08-23 16:59] ncdc commented on #652
We are essentially out of time for this to make v1alpha2
/milestone Next

[2019-08-23 17:00] ncdc commented on #721
/milestone Next

[2019-08-23 17:02] ncdc commented on #908
I'm inclined to close this, but we can leave it open and re-triage at the beginning of the alpha3 cycle.

/milestone Next

[2019-08-23 17:02] vincepri commented on #721
We can close out this issue, we've discussed it at length during Q1/Q2 and stated that this is a non-goal for this project as outlined in https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/scope-and-objectives.md#non-goals.

/close

[2019-08-23 17:02] #721 closed

[2019-08-23 17:05] ncdc commented on #1027
/milestone Next

[2019-08-23 17:07] ncdc commented on #1049
/milestone Next

@erstaples are you still seeing this or did you ever get it resolved?

[2019-08-23 17:08] ncdc commented on #1112
/assign @vincepri
/unassign @detiber

This will be fixed for v1alpha2 in #1280.

[2019-08-23 17:09] ncdc opened #1316 "[0.1] Pivot kubeconfig secrets"
/kind feature

**Describe the solution you'd like**
Currently if any KubeConfig secrets are created pre-pivot, these secrets must be recreated post-pivot since the secrets are not moved as part of the pivot. I'd like to see the secrets moved as part of the pivot in order to simplify the post-pivot edge cases.

[2019-08-23 17:09] ncdc commented on #1112
I created https://github.com/kubernetes-sigs/cluster-api/issues/1316 for 0.1

[2019-08-24 01:27] gyliu513 commented on #980
Thanks @hardikdr @detiber , let me check what is the progress and current design first provided by @hardikdr .

@hardikdr I would love to work with you for this, will go back to you after I catch up the design and proposals.

[2019-08-25 12:03] prankul88 commented on #1306
@ncdc Sure I will :) Thanks

[2019-08-26 04:57] sbueringer opened #1319 "Kustomization broken because of invalid resource reference"
/kind bug

**What steps did you take and what happened:**
I tried to execute `kustomize build "github.com/kubernetes-sigs/cluster-api//config/default/?ref=master"` but it didn't work because bases were referenced wrong.

**What did you expect to happen:**
That the YAML files are rendered as usual

**Environment:**
- kubectl version:
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v

[2019-08-26 05:40] kashifest commented on #1306
Thanks @ncdc, me and @prankul88  have started working on it!

[2019-08-26 15:34] sbueringer commented on #1319
Ah okay.  I was using 2.0.3 so I'll upgrade to 3.1.0. According to this table: https://github.com/kubernetes-sigs/kustomize#kubectl-integration only 2.0.3 is included in kubectl 1.14 & 1.15. Do you know which version will be included in 1.16?

But I guess in any case it's safer to just use kustomize directly instead of requiring a specific kubectl version. I'm currently adapting your examples/gene

[2019-08-26 15:37] sbueringer commented on #1319
Yup my copy of yours from this morning is using it directly :). Okay so this issue here can be closed.

[2019-08-26 15:37] #1319 closed

[2019-08-26 18:41] joonas opened #1322 "Make Manager SyncPeriod configurable via a flag"
/kind feature

**Describe the solution you'd like**

It should be possible to configure the [SyncPeriod](https://godoc.org/sigs.k8s.io/controller-runtime/pkg/manager#Options.SyncPeriod) (how often watched resources are re-queued to be reconciled) that’s used to configure the [Manager](https://github.com/kubernetes-sigs/cluster-api/blob/f6c19234debff782b6b9082c4f3fd32a11c39925/main.go#L95-L103) ([s

[2019-08-27 02:07] #660 closed, assigned to liztio

[2019-08-27 04:51] prankul88 commented on #1303
Hi @ncdc ,I can like to take up this issue if you are okay with it.

[2019-08-28 08:08] kashifest commented on #1306
@joonas  and @vincepri . We have a question.  From the issue description and discussion in #1301  what we understand that the ' GetKubeconfigFromSecret' method should be also inside 'kubeconfig.go'.   That means the same method will be in two places?

[2019-08-28 14:02] kashifest commented on #1306
Thanks for the clarification @detiber

[2019-08-28 18:08] Xenwar commented on #1322
/assign @Xenwar

[2019-08-28 18:35] vincepri opened #1333 "Avoid patching Cluster object in Machine Controller"
/kind cleanup

**Describe the solution you'd like**
Currently, when the Machine controller sees the first control plane machine with a reference, we call the MachineReconciler's `reconcileClusterStatus` method to set the Status.ControlPlaneInitialized field to true.

Long term, this logic should move to the Cluster reconciler, which will need to watch and retrieve its Machines before being able to

[2019-08-28 19:30] kashifest commented on #1306
/assign @kashifest

[2019-08-28 21:18] chuckha opened #1585 "[cabpk] Remove CAPI Crds"
/kind feature

**Describe the solution you'd like**
If possible, it would be great to remove the config-capi directory. I'm not sure we need to create Clusters/Machines in our integration test. Another alternative is execing `go` to do what the script https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/blob/master/hack/update-capi-crds.sh does.

**Anything else you would like

[2019-08-28 22:09] joonas commented on #1306
@kashifest you'll also want to make sure that your pull request has this the master branch of this repository as the base so that it can be merged to the correct repository.

[2019-08-29 14:01] #1322 closed

[2019-08-29 14:09] #1306 closed

[2019-08-29 15:26] vincepri commented on #1274
/lifecycle active

[2019-08-29 16:22] sethp-nr opened #1341 "MachineDeployment loses track of MachineSet when labels change"
/kind bug

**What steps did you take and what happened:**

Given a MachineDeployment:

[code]

I added (via `kubectl edit`) a label to both the `selector` and the `template`:

[code]

The MachineDeployment controller created a new MachineSet matching the new template and scaled it up to the appropriate number of replicas, but never scaled down the old MachineSet.

**What did you expect to happen:*

[2019-08-29 19:46] chuckha commented on #567
Agreed with the above points. No YAML should be deployed. The only thing providers (including CAPI) should do is make sure that the patches they provide at the tagged commit point to the correct image tag.

These can be consumed with kustomize's remote URLs feature.

This makes deploying a management cluster a 3 kustomize-command operation. This is a reasonable approach to getting started, cluster

[2019-08-29 19:50] detiber commented on #567
Another way that we can approach this is to publish the generated yaml as part of a release.

That would allow users to either:
- Deploy the core provider components directly w/ `kubectl create -f`
- Download the files to concatenate with additional yaml for deploying with `clusterctl` and a monolithic provider components

The benefit of this approach is that we do not require that the manager ima

[2019-08-29 19:55] vincepri commented on #567
+💯 on what @detiber suggested, a familiar approach for Kubernetes users is probably going to be the best one :)

[2019-08-29 19:57] chuckha commented on #567
works for me.

[2019-08-30 10:30] tahsinrahman commented on #1333
@vincepri if you're not working on this, can i take this? thanks!

[2019-08-30 12:36] detiber commented on #1341
/priority important-soon

[2019-08-30 13:28] vincepri commented on #1333
Go for it!

[2019-08-30 16:04] detiber opened #1349 "Deleting a Cluster does not delete related MachineDeployments"
/kind bug

**What steps did you take and what happened:**
Deleting a Cluster does not clean up related MachineDeployments

**What did you expect to happen:**
Any MachineDeployments related to a Cluster be deleted when the Cluster is deleted

**Additional Information**
It appears that we were previously only patching Status for MachineDeployments, so the OwnerRef change was never committed back to

[2019-08-30 16:04] detiber commented on #1349
/assign
/priority important-soon

[2019-08-30 16:13] detiber commented on #1349
/lifecycle active

[2019-08-30 18:18] #1274 closed

[2019-08-30 18:24] ncdc opened #1351 "Deleting a cluster might not work if it tries to delete all control plane machines first"
/kind bug

**What steps did you take and what happened:**
1. `k delete cluster foo`
1. CAPI attempted to delete all of the cluster's children, and it happened to start with all the `Machines`. Unfortunately, it deleted all the control plane machines, and it got stuck in an endless loop of errors:

[code]

**What did you expect to happen:**
Cluster deletion should succeed

**Environment:**

- Clust

[2019-08-30 18:26] ncdc opened #1352 "Deleting all machines fails because it can't delete Nodes"
/kind bug

**What steps did you take and what happened:**
1. `k delete ma --all`
1. It gets in an endless error loop:

[code]

**What did you expect to happen:**
All machines get deleted

**Environment:**

- Cluster-api version: commit d495192f7

[2019-08-30 18:30] vincepri commented on #1351
/lifecycle active

[2019-08-30 19:42] vincepri commented on #1352
/lifecycle active

[2019-08-30 19:46] #1352 closed

[2019-08-30 20:00] #1351 closed

[2019-08-30 20:17] detiber commented on #1349
/cancel-lifecycle active

[2019-08-31 06:41] tahsinrahman commented on #1333
/assign
/lifecycle-active

[2019-08-31 10:25] tahsinrahman commented on #1316
/assign
/lifecycle active

[2019-09-01 18:51] akutz opened #1359 "InfrastructureReady=true prevents API endpoints from being reconciled more than once"
/kind bug

**What steps did you take and what happened:**
PR #1345 introduced an interesting side-effect. Because `InfrastructureReady` is not set before API endpoints are gathered, the latter is never again parsed once the former is `true`. For example ([source](https://github.com/kubernetes-sigs/cluster-api/blob/67d897059593c3fc8c3a304b031573c516ba1dd9/controllers/cluster_controller_phases.go#L1

[2019-09-03 15:20] #1359 closed

[2019-09-03 17:13] ncdc opened #1362 "`make release` needs to build clusterctl"
/kind bug

**What steps did you take and what happened:**
1. Ran `make release`
1. It didn't build `clusterctl`

**What did you expect to happen:**
1. Build `clusterctl` for the supported ARCHes

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version:
- Minikube/KIND version:
- Kubernetes version: (use `k

[2019-09-03 17:43] vincepri commented on #1362
/lifecycle active

[2019-09-03 18:09] vincepri commented on #1122
/lifecycle active

[2019-09-03 21:34] rudoi opened #1366 "MachineDeployment with more than 0 replicas appears to delete its own MachineSet and not create another one"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Create v1a2 cluster with 3 controlplane machines and 12 machinedeployments.

Consider the following set of machinedeployments:
[code]

This creates MachineSets:
[code]

Several days later I noticed that any MachineDeployment with replicas > 0 has had its MachineSet deleted and not replac

[2019-09-03 21:55] rudoi commented on #1366
/assign

[2019-09-03 21:56] vincepri commented on #1366
/cc

[2019-09-03 22:18] rudoi commented on #1366
OK i'm in an interesting state on my new cluster:

MachineDeployment status:
[code]

MachineSet's ownerRef seems to be wrong:
[code]

[2019-09-03 22:25] rudoi commented on #1366
https://github.com/kubernetes-sigs/cluster-api/blob/c4b86d69d8b504aefb40cf28f706cde6762998b3/controllers/machinedeployment_sync.go#L149

This sets the ownerRef to a MachineSet. Shouldn't this be MachineDeployment?

[2019-09-03 22:40] vincepri commented on #1366
It should be

/lifecycle active

[2019-09-03 23:38] vincepri opened #1368 "docs/book: Figure out which tool to use for diagrams"
/kind documentation

**Describe the solution you'd like**
The tool we use for proposals is very technical and doesn't allow for customization. We should pick a single tool that we can use as a community to draw diagrams for the book.

[2019-09-03 23:39] vincepri opened #1369 "docs/book: Quick Start"
/kind documentation

**Describe the solution you'd like**
The book needs a quickstart tutorial to go from zero to Kubernetes using AWS and Kubeadm providers.

[2019-09-03 23:41] vincepri opened #1370 "docs/book: Document controllers and their flow"
/kind documentation

**Describe the solution you'd like**
To have a good amount of documentation for v1alpha2, we should document what each controller does, their contracts and link to the code wherever possible.

[2019-09-03 23:43] vincepri opened #1371 "docs/book: Architecture"
/kind documentation

**Describe the solution you'd like**
Figure out how to best explain the current architecture with some diagrams/images. The architecture page should probably include the assumptions we made during development and capture the overall high-level flow between components.

[2019-09-03 23:45] vincepri opened #1372 "docs/book: Clusterctl"
/kind documentation

**Describe the solution you'd like**
The current [clusterctl document](https://github.com/kubernetes-sigs/cluster-api/blob/9e748f6e18444a2901d722dd0c6e7b002c68e58f/docs/how-to-use-clusterctl.md) is not in the book. We should try to port the current document and make the necessary adjustments where needed.

[2019-09-04 01:01] detiber commented on #1369
IMO, this should live in CAPA and not here. I think it makes sense for us to reference the CAPA docs, but we shouldn't be maintaining CAPA docs in this repo.

[2019-09-04 01:02] detiber commented on #1368
I'd rather not re-litigate diagramming tools again and think we should stick with the existing tool for now.

[2019-09-04 01:06] #1366 closed

[2019-09-04 02:37] vincepri commented on #1368
I was wondering which tool was used for the README's diagram, because it's a nice visualization but it's not really doable with PlantUML. I like PlantUML, but it's very technical and raw for newcomers

[2019-09-04 13:45] detiber commented on #1368
I believe it depends on what use we are talking about for diagrams...  The graphic in the README is an svg, which could have been created/edited with any SVG editor (such as Inkscape or Adobe Illustrator). I don't think we need to restrict SVGs to a tool such as PlantUML, since it is able to be edited and modified using other tooling.

For the more technical diagrams (such as flowcharts, state dia

[2019-09-04 15:02] detiber opened #1373 "Define required provider-specific metadata location and format"
/kind feature

**Describe the solution you'd like**
Currently we don't have any way to determine which provider versions are compatible with which versions of cluster-api, which bootstrap providers they support, or even what the latest versions of each are. I propose that we formalize a location and format for metadata that can be used for this purpose.

We should also formalize the process of rel

[2019-09-04 15:26] vincepri commented on #1373
I'm not sure if we should include the `latestRelease` as part of this manifest, unless it's something that gets automatically synced and doesn't require frequent user intervention. Also does this assume GitHub?

[2019-09-04 15:29] detiber commented on #1373
It would probably require some manual intervention on the part of each project, but it's better than having to use git to parse and sort tags.

I think that is a safe assumption to make for now, we could always provide a way to specify a download url pattern to use (defaulting to the GitHub pattern) at a later date if we need to.

[2019-09-04 16:03] ncdc opened #1374 "Makefile: move target comments above target names"
/kind cleanup

**Describe the solution you'd like**
Instead of having a make target like this:
[code]

I would prefer it to be formatted like this:
[code]

IMHO, this makes it easier to read, especially if a target has dependencies.

/help
/good-first-issue
/priority important-longterm
/milestone Next

[2019-09-04 16:05] #1362 closed

[2019-09-04 16:05] ncdc opened #1375 "Add .DS_Store to .gitignore"
/kind cleanup

**Describe the solution you'd like**
Add .DS_Store to .gitignore

/help
/good-first-issue
/priority important-longterm
/milestone Next

[2019-09-04 16:08] vincepri commented on #1374
FYI, This breaks the `make help` target

[2019-09-04 16:11] ncdc commented on #1374
So it does. I guess I can live with it 😄
/close

[2019-09-04 16:11] #1374 closed

[2019-09-04 17:26] ncdc commented on #296
/lifecycle frozen

[2019-09-04 17:26] ncdc commented on #327
This is done.
/close

[2019-09-04 17:26] #327 closed

[2019-09-04 17:29] ncdc commented on #1016
@timothysc & @dlipovetsky to sync & come up with a plan
/priority important-soon

[2019-09-04 17:29] erstaples commented on #1049
I'm not seeing this anymore.

[2019-09-04 17:29] #1049 closed

[2019-09-04 17:29] ncdc commented on #1071
This is done.
/close

[2019-09-04 17:29] #1071 closed

[2019-09-04 17:37] ncdc commented on #1113
Copying content from #1245 from @akutz:

[2019-09-04 17:37] ncdc commented on #1245
/close

[2019-09-04 17:37] #1245 closed

[2019-09-04 17:39] vincepri commented on #1145
We're currently working on a POC to use Prow to solve this issue. More information here: https://docs.google.com/document/d/1E2GOa3b9OgrI0PS2R-UVWDRi-m_Vd3va7cOkDQHDm5w/edit#

[2019-09-04 17:49] ncdc commented on #1369
Let's make sure each provider has a quick start/getting started tutorial in a consistent location in each repo.

[2019-09-04 17:50] ncdc commented on #1369
TODO: transfer to CAPA or close & recreate in CAPA

[2019-09-04 18:08] #1375 closed

[2019-09-04 18:21] ncdc commented on #1242
What if we try to use the secret, and if we can't find it, we fall back to trying to use the local/in-cluster credentials?

[2019-09-04 18:38] ncdc opened #1377 "MachineDeployment test is flaky"
**What steps did you take and what happened:**
The MachineDeployment test is flaky. For example:
[code]

**What did you expect to happen:**
No flakes.

**Anything else you would like to add:**
This happens because of the `fakeInfrastructureRefReady` helper function:

[code]

There is a chance for a race condition like this:

1. The MachineSet controller issues a `DELETE` request for a Machine
1. T

[2019-09-04 19:06] detiber commented on #1242
@ncdc that makes sense to me

[2019-09-04 19:19] joonas commented on #1242
I'd be interested in taking a pass at implementing this

[2019-09-04 19:34] #1122 closed

[2019-09-04 19:40] vincepri commented on #1242
@joonas Reach out if you have any questions 😊, I also think some logic needs to change in the MachineSet Controller, given that we check for the Node's readiness status

[2019-09-04 20:00] joonas commented on #1242
/assign @joonas

[2019-09-04 20:09] ncdc commented on #1203
@protess checking in again - do you have any updates? Thanks!

[2019-09-05 06:30] dongwangdw commented on #934
/assign

Due to this has been merged, I think we can close this one.

[2019-09-05 09:08] tahsinrahman commented on #1316
Don't we need the same for other releases?

[2019-09-05 13:19] detiber commented on #1316
This should already be the case for v0.2.x
/close

[2019-09-05 13:19] #1316 closed

[2019-09-05 13:23] detiber commented on #934
/close

[2019-09-05 13:23] #934 closed

[2019-09-05 13:44] detiber commented on #1271
Hi @dongwangdw this issue is currently blocked on a few different things. First is https://github.com/kubernetes-sigs/cluster-api/issues/994, which will introduce Node cordoning and draining. It is also blocked on upgrade being a first class citizen in cluster-api, which is difficult because we do not yet have control plane management baked into cluster-api as a core concept yet. This is something

[2019-09-05 13:47] ncdc commented on #1377
/reopen

Seeing a different flavor of flakiness in https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-cluster-api-test/1169506464742510593. Still another slow cache catchup issue.

/lifecycle active

[2019-09-05 14:22] detiber commented on #1349
/lifecycle active

[2019-09-05 14:33] ncdc opened #1381 "ClusterReconciler: make Client a proper field"
We are trying to be explicit when we invoke methods on the embedded Client field (Get/Patch/Delete/etc). Let's make `client.Client` a proper field.

/kind cleanup
/good-first-issue
/help
/milestone Next
/priority important-longterm

[2019-09-05 14:34] ncdc opened #1382 "MachineReconciler: make Client a proper field"
We are trying to be explicit when we invoke methods on the embedded Client field (Get/Patch/Delete/etc). Let's make client.Client a proper field.

/kind cleanup
/good-first-issue
/help
/milestone Next
/priority important-longterm

[2019-09-05 14:34] ncdc opened #1383 "MachineDeploymentReconciler: make Client a proper field"
We are trying to be explicit when we invoke methods on the embedded Client field (Get/Patch/Delete/etc). Let's make client.Client a proper field.

/kind cleanup
/good-first-issue
/help
/milestone Next
/priority important-longterm

[2019-09-05 14:34] ncdc opened #1384 "MachineSetReconciler: make Client a proper field"
We are trying to be explicit when we invoke methods on the embedded Client field (Get/Patch/Delete/etc). Let's make client.Client a proper field.

/kind cleanup
/good-first-issue
/help
/milestone Next
/priority important-longterm

[2019-09-05 14:39] vincepri commented on #1382
Might be worthwhile to note that this is the pattern we have from kubebuilder, maybe we should open an issue there as well to make its own field?

[2019-09-05 14:44] ncdc commented on #1382
We can, but I assume they had a reason for making it embedded. To me, if you have an embedded field, it's because you want indirect access to the embedded type's fields or methods (i.e. `r.Get()` instead of `r.Client.Get()`).

It sounded to me like there is a desire to be explicit (`r.Client.Get()`), and if we want to go with that convention, then I would prefer to disallow the embedding here.

[2019-09-05 14:46] vincepri commented on #1382
I'm a big +1 for being explicit

[2019-09-05 14:56] tahsinrahman commented on #1384
/assign

[2019-09-05 14:57] tahsinrahman commented on #1383
/assign

[2019-09-05 14:57] tahsinrahman commented on #1382
/assign

[2019-09-05 14:58] tahsinrahman commented on #1381
/assign

[2019-09-05 15:27] #1381 closed

[2019-09-05 15:35] #1383 closed

[2019-09-05 15:37] chuckha commented on #1370
/assign
/lifecycle active

[2019-09-05 15:45] #1384 closed

[2019-09-05 15:57] #1382 closed

[2019-09-05 17:56] chuckha opened #1389 "A redundant owner reference check"
/kind cleanup
/priority backlog

https://github.com/kubernetes-sigs/cluster-api/blob/203d8f7d66b2a9058012a10fb08e69eaafe11dcb/controllers/cluster_controller_phases.go#L91-L98

The if check could be removed to simplify code since the ensureOwnerRef function will not add a second owner ref if it already exists which would make the Patch a no-op.

However if this was added for performance reasons the

[2019-09-06 14:07] ncdc commented on #1377
This isn't happening nearly as often now. I need to work on some other things. For the time being, I'm going to unassign and drop the priority. We can raise it back up if needed.

/unassign
/remove-lifecycle active
/remove-priority critical-urgent
/priority important-longterm

[2019-09-06 15:51] vincepri commented on #1368
draw.io is great for that

/close

[2019-09-06 15:51] #1368 closed

[2019-09-06 15:51] vincepri commented on #1369
/lifecycle active

[2019-09-06 16:24] timothysc commented on #777
I'm going to close this one as in v1alpha3 my hope is to remove the need.

[2019-09-06 16:24] #777 closed

[2019-09-06 19:29] #1369 closed

[2019-09-06 21:29] kikisdeliveryservice commented on #1372
hi, do you mind if i give this a try?

[2019-09-06 21:43] vincepri commented on #1372
@kikisdeliveryservice That sounds good! The content should be ported here https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/book/src/tooling/clusterctl.md within the book :)

[2019-09-08 02:39] xrmzju opened #1398 "machine should not stay in running phase after the infra obj been deleted"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
after machine turns into running phase, i delete the infra object and machine controller watches the event but only logs about the infra obj not found err, and stays in running phase

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information

[2019-09-09 14:19] ncdc opened #1402 "Cached API discovery information can lead to failures to retrieve infrastructure and bootstrap references"
/kind bug

**What steps did you take and what happened:**
1. Deploy CAPI
1. Wait for CAPI pod to be 100% up and running
1. Deploy an infra or bootstrap provider
1. Create a `Cluster` and e.g. an `AWSCluster`
1. CAPI pod fails to set the ownerReference on the `AWSCluster` because it doesn't know about the `AWSCluster` resource

**What did you expect to happen:**
1. It sets the ownerReference correc

[2019-09-09 14:31] ncdc commented on #1402
/assign
/lifecycle active

[2019-09-09 14:38] vincepri opened #1769 "[cabpk] Patch fail first time a new config is generated"
/kind bug

**What steps did you take and what happened:**
Create a new Machine with a KubeadmConfig, the first time the config is patched, the reconciler fails with the following validation error.

E0909 02:00:09.747915       1 controller.go:218] controller-runtime/controller "msg"="Reconciler error" "error"="KubeadmConfig.bootstrap.cluster.x-k8s.io \"test1-controlplane-0\" is invalid: []: Invalid

[2019-09-09 14:42] vincepri opened #1404 "Clusterctl should remove the Secret's OwnerReferences before pivot"
/kind feature

**Describe the solution you'd like**
We should remove OwnerReferences from Secrets upon pivot if (and only if) they are part of our known APIGroups.

/help
/priority important-soon

[2019-09-09 14:57] #1402 closed

[2019-09-09 15:17] timothysc commented on #1016
So we created a terminology document but I think I'd like to make the values doc be in the community, so I'll close this one.

[2019-09-09 15:17] #1016 closed

[2019-09-09 15:19] detiber commented on #891
/lifecycle frozen

[2019-09-09 15:19] timothysc commented on #1373
IMO this should be in the .next milestone, the API is cut and some of this would require api-changes.

[2019-09-09 15:20] ncdc commented on #1373
Agree
/milestone Next

[2019-09-09 15:20] detiber commented on #892
/lifecycle frozen

[2019-09-09 15:33] tahsinrahman commented on #1404
/assign

[2019-09-09 18:50] chuckha opened #1407 "ClusterClient should return controller-runtime client not static client"
/kind feature

**Describe the solution you'd like**
It would be nice if ClusterClient was actually just controller-runtime's client.

**Anything else you would like to add:**
I think ClusterClient can go away in favor of client.Client.

Unless there is some reason we're using the typed client, of course.

[2019-09-09 18:51] ncdc commented on #1407
+1 to removing ClusterClient

[2019-09-09 18:53] chuckha commented on #1407
I'm gonna grab this as it's blocking some work on cabpk side

/assign
/lifecycle active

[2019-09-09 19:02] ncdc commented on #1349
@detiber when you have a few minutes, would you please update the description for this issue with the results of your findings? I was trying to page #1380 and this back into memory, and having more information here would be useful. Thanks!

[2019-09-09 19:36] #1349 closed

[2019-09-09 19:53] ncdc commented on #1407
FWIW, I thought you were referring to `cmd/clusterctl/clusterdeployer/clusterclient` so I was kinda surprised when the PR was as small as it was 😁

[2019-09-09 20:21] chuckha commented on #1407
ah, yes, that one will have to wait i'm afraid

[2019-09-10 02:14] #1372 closed

[2019-09-10 14:59] zdyxry opened #1412 "Add `cloud provider` project to the dependency list in the document"
/kind feature

**Describe the solution you'd like**

When I try to implement cluster-api-provider v1alpha2, I find that depend on the `cloud provider` project when deploying the target node(It will automatically set the providerID for the next steps). Maybe we should explicitly declare this in the documentation.

[2019-09-10 18:05] akutz commented on #1407
Hi @andrewsykim,

Please take note of this issue as it will affect a lot of the code you're writing in https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/502.

[2019-09-10 19:35] ncdc commented on #1412
@zdyxry thanks for filing this. There is no `cloud provider` project per se. But we do have a requirement/expectation that a `Node` must have its `spec.providerID` filled in, and it must match the value in the `Machine`.

I think we need to find a way to document the specifications/requirements/expectations of the entire ecosystem as it relates to Cluster API. I'm not sure exactly where that goes,

[2019-09-11 15:39] #1341 closed

[2019-09-11 15:41] ncdc commented on #1315
Closing this in favor of #1377
/close

[2019-09-11 15:41] #1315 closed

[2019-09-11 17:19] alejandrox1 commented on #1389
would like to take a look at this one :eyes:

[2019-09-11 17:20] detiber commented on #1389
/assign @alejandrox1
It's yours :)

[2019-09-11 17:20] detiber commented on #1389
Just set `/lifecycle active` when you start working on it to let others know it's being worked on :)

[2019-09-11 17:20] ncdc commented on #1407
@chuckha says he doesn't need to make this change any more.
/close

[2019-09-11 17:20] #1407 closed

[2019-09-12 15:25] ncdc opened #1414 "Make getMachinesInCluster a helper function that both ClusterReconciler and MachineReconciler can use"
/kind cleanup

Once #1356 merges, both the ClusterReconciler and MachineReconciler have a function called getMachinesInCluster. We should convert them to a helper function that takes in a `Client` and have both reconcilers call the helper function.

/priority important-longterm
/milestone Next
/help
/good-first-issue

[2019-09-12 15:26] #1333 closed, assigned to tahsinrahman

[2019-09-12 16:52] chuckha opened #1416 "Move CAPD + CABPK into this repository"
/kind feature

**Describe the solution you'd like**
I'd like to merge [CABPK](https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm) and [CAPD](https://github.com/kubernetes-sigs/cluster-api-provider-docker) into this repository.

This is quite a large request/update with many areas to think about. I've included my preliminary thoughts below. I could convert this to a CAEP if d

[2019-09-12 17:43] vincepri opened #1418 "APIEndpoint.Port should be an int32"
/kind feature

**Describe the solution you'd like**
To align with how other fields in Kubernetes and within this repository define ports, we should switch from a plain `int` to an `int32` in https://github.com/kubernetes-sigs/cluster-api/blob/ca112ae5f76c874c804a05e2ea2d2775d194cd39/api/v1alpha2/cluster_types.go#L142.

[2019-09-12 22:07] vincepri opened #1419 "Verify go modules in CI"
/kind feature

**Describe the solution you'd like**
As part of our `make verify` target, we should add another scripts that calls `make modules` and checks if there are any changes.

/help
/good-first-issue

[2019-09-13 16:22] vincepri opened #1421 "Document image building process"
/kind documentation

**Describe the solution you'd like**
We need a document in the current book to describe how to build images, add new images using the [image-builder](https://github.com/kubernetes-sigs/image-builder).

The document should contain instructions to build images for AWS, vSphere (OVAs), and GCP. These can be tackled separately so we can have some fast iteration on these bits.

[2019-09-13 17:51] ncdc opened #1422 "Update quickstart CAPI download link to v0.2.2"
The CAPI download link in the quickstart needs to be updated from v0.2.1 to v0.2.2

/kind documentation
/help
/good-first-issue

[2019-09-13 18:01] vincepri commented on #1422
This has been fixed by https://github.com/kubernetes-sigs/cluster-api/pull/1420

[2019-09-13 18:01] vincepri commented on #1422
/close

[2019-09-13 18:01] #1422 closed

[2019-09-13 19:22] #1414 closed

[2019-09-13 20:35] vincepri opened #1423 "Add deprecation message to each clusterctl command"
/kind documentation

**Describe the solution you'd like**
We should add a warning/deprecation message to the clusterctl CLI. The message should display before every command, and maybe we can add a 2-5s delay before continuing.

[2019-09-17 17:37] alejandrox1 commented on #1389
:nerd_face:
/lifecycle active

[2019-09-18 16:18] voor opened #1427 "Please add a version command for clusterctl"
/kind feature

**Describe the solution you'd like**
When submitting a bug report for one of the cluster api providers I wanted to provide the best information to recreate the issue I am experiencing, so I wanted to quickly provide when and what commit or tag my `clusterctl` command was built from.  Except that's not really easy to do right now.

[2019-09-19 14:35] vincepri commented on #1034
I think we can safely close this now that v1alpha2 isn’t shipping clientsets anymore

/close

[2019-09-19 14:35] #1034 closed

[2019-09-19 20:36] jdef opened #1428 "pivot fails due to secret's empty owner reference UID"
/kind bug

**What steps did you take and what happened:**

attempted to pivot from a KIND cluster to a GCP cluster, failed due to (I think) the recently applied patch #1411 (see https://github.com/kubernetes-sigs/cluster-api/pull/1411#issuecomment-533288562)

**What did you expect to happen:**

99% of the pivot to succeed, like it did a few days ago

**Anything else you would like to add:**

CAP/G

[2019-09-19 20:36] jdef commented on #1428
cc @ncdc @vincepri

[2019-09-19 20:39] vincepri commented on #1428
/priority important-soon

[2019-09-19 20:39] vincepri commented on #1428
/help

[2019-09-20 03:44] tahsinrahman commented on #1428
/assign

[2019-09-20 18:43] jdef opened #1429 "Machine adoption into MachineSet is ineffective"
/kind bug

**What steps did you take and what happened:**

1. boostrapped a k8s-on-GCP cluster via KIND ala CAP/GCP
2. executed pivot operation that failed after cluster was moved (see https://github.com/kubernetes-sigs/cluster-api-provider-gcp/issues/171) - but was mostly successful since all the CAPI+GCP objects were migrated over
3. observe that every 10m (the reconciliation period) CAPI logs t

[2019-09-20 18:46] jdef commented on #1429
machine yaml:
[code]

[2019-09-20 19:37] vincepri commented on #1429
/lifecycle active

[2019-09-20 20:11] #1429 closed

[2019-09-23 17:55] rudoi opened #1433 "bootstrap token can be expired even before infra exists"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

- Scale MachineDeployment to 12
- Get first machine / node successfully
- Subsequent Machines stuck in pending
- SSH to host and see unauthorized from `kubeadm join`

**What did you expect to happen:**

Successful kubeadm join.

**Anything else you would like to add:**
[Miscellaneous in

[2019-09-23 17:57] detiber commented on #1433
/priority important-soon
/milestone v0.4.x

[2019-09-23 17:57] detiber commented on #1433
/milestone v0.2.x

[2019-09-23 17:59] ncdc commented on #1433
Some thoughts on options:

1. Delay cloning the bootstrap and infra templates until the machine reconciler is ready to work on that machine (this would mean moving the cloning from machineset reconciler to machine reconciler)
1. Increase the lifespan of the bootstrap token (by default and/or make it configurable)
1. Increase parallelism, as you indicated

[2019-09-23 18:02] sethp-nr commented on #1433
In CAPA it seems that deletes are blocking (it looked like it didn't reconcile any other `AWSMachine`s while the delete was ongoing) which meant we ran into this often on `replicas: 12` `maxSurge: 100%`-style rolling deployments. Turning up the concurrency has largely worked around this case, though.

What's proving a little stickier is AWS-side limits, etc., that have indefinite resolution timeli

[2019-09-23 18:03] sethp-nr commented on #1433
@ncdc IMO it would be swell if `capbk` could notice the machine was still `provisioning` and keep pushing out the token expiry timestamp; I think that's the only option where I'm not racing AWS quotas against a clock somewhere.

[2019-09-23 18:03] ncdc commented on #1433
@sethp-nr that's definitely an option too

[2019-09-23 18:09] detiber commented on #1433
I definitely like the idea of this approach as well, since it helps reduce the edge cases.

But I definitely think we could benefit from:

[2019-09-23 18:24] vincepri commented on #1433
Pushing out the token expiration in CABPK seems like a good approach to me, it definitely sounds less of an invading change than moving the cloning logic from one controller to another

[2019-09-23 18:27] andrewsykim commented on #1428
Seeing the same issue with CAPV
[code]

cc @akutz

[2019-09-23 18:30] detiber commented on #1433
I think the combination approach of both is probably best. From a security standpoint we want to limit the lifetime of the bootstrap tokens as much as possible.

[2019-09-23 18:33] detiber commented on #893
/lifecycle frozen

[2019-09-23 18:52] andrewsykim commented on #1428
I can try to tackle this one

/assign

[2019-09-23 19:12] vincepri commented on #1428
@andrewsykim Check with @tahsinrahman which self-assigned the issue first to make sure we're not duplicating work, also please use `/lifecycle active` when you start working on a particular issue.

[2019-09-23 20:41] sethp-nr commented on #1433
I'm not sure I understand the "cloning delay" option – in this case, the long pole is the infrastructure provider. How would the Machine controller be signaled by the AWSMachine controller that it was ready to work?

[2019-09-23 20:44] ncdc commented on #1433
@sethp-nr it's less that the capi machine controller gets signaled by the infra machine controller and more that the capi machine controller clones from the bootstrap and infra templates when it sees a machine "in this state". The state being "machine came from a machine set and the templates haven't been cloned yet". We'd need to work out the exact details, but this is the hand-waving version 😄

[2019-09-23 21:12] sethp-nr commented on #1433
Oh, I think I understand. Right now the MachineSet controller is generating the bootstrap configs "all at once" even if the Machine controller is bogged down somewhere and can't get to them.

That said, I'm not sure if it helps my case very much – the Machine controller is fine, I think, so I would expect it to reconcile the bootstrap config at about the same time the MachineSet currently does. I'

[2019-09-23 21:12] sethp-nr commented on #1433
/assign
/lifecycle active

[2019-09-23 21:14] ncdc commented on #1433
Should I transfer this to the CABPK repo in that case?

[2019-09-23 21:16] sethp-nr commented on #1433
Oh, sure – or I could file an issue over there to assign/mark as active if we want to leave the discussion on template cloning open.

[2019-09-23 21:17] ncdc commented on #1433
I'll move this one and we can open a new one here if we want to discuss moving cloning around.

[2019-09-23 21:30] andrewsykim commented on #1428
Oops! missed that @tahsinrahman was already assigned! Happy to fix this one if you haven't started work on it @tahsinrahman, let me know :)

[2019-09-24 03:42] tahsinrahman commented on #1428
@andrewsykim sure :smile: /unassign

[2019-09-24 03:44] tahsinrahman commented on #1428
@andrewsykim sure smile
/unassign

[2019-09-24 16:03] #1428 closed

[2019-09-24 17:35] wfernandes commented on #1423
Hey @vincepri. I'm new to Cluster API but want to start contributing to the project. This seems like a good first issue.
Did you have an appropriate deprecation message in mind?

I was thinking of using the [`Deprecated` property](https://github.com/spf13/cobra/blob/19cf35ea77e5981f8e8b90a897af621f2be864f6/command.go#L75) on each `cobra.Command` to inform users about the tool's deprecation.

[2019-09-24 17:56] vincepri commented on #1423
That sounds like a really good approach!

Feel free to self-assign this issue and mark it with `/lifecycle active` when you start working on it :)

/help
/good-first-issue
/milestone v0.2.x
/priority important-longterm
/area clusterctl

[2019-09-24 18:50] moshloop commented on #1370
I think this potentially needs to be split into 2 (with some overlapping content).

1) Document the controllers and state machines from the perspective of users to aid in troubleshooting
2) Document from a CAPI developers perspective to aid in working on  new/existing providers

[2019-09-24 19:00] vincepri commented on #1370
I'm fine with that, @chuckha has started working on some parts of this in the linked PRs

[2019-09-24 19:24] wfernandes commented on #1423
@vincepri Thanks! Since the entire clusterctl tool is planned on being deprecated I'll specify the following generic message for each command:

**This utility has been deprecated in v1alpha2 and will be removed in a future version.**

/assign

[2019-09-24 20:16] wfernandes commented on #1423
/lifecycle active

[2019-09-24 21:04] timothysc opened #1438 "Umbrella - v1alpha2 retrospective action items"
During out cluster api f2f in Sept 2019 we had ran through a number of items that we should address.

- [ ] e2e testing
- [ ] better + concise documentation
- [ ] Well defined release process
   - [ ] Define blocking features for a release in plain text
   - [ ] Better release notes including breaking changes
   - [ ] More releases to test integration points and issues (alpha/beta)
   - [ ] Docs n

[2019-09-25 06:12] kashifest commented on #1398
I want to take this task if no one else is looking into it

[2019-09-25 06:12] kashifest commented on #1398
/assign @kashifest

[2019-09-25 06:18] Xenwar commented on #1418
/assign @Xenwar

[2019-09-25 15:02] timothysc opened #1441 "Godoc for the api types need curation"
When parsing the API via godoc which is the standard consumption model for most Go developers, it's in a very bad state to the point of being illegible.  This should be the canonical source of truth that developers should be able to reference when trying to understand the API and it's behaviors.

https://godoc.org/github.com/kubernetes-sigs/cluster-api/api/v1alpha2

[2019-09-25 15:04] rudoi commented on #1441
/assign

[2019-09-25 15:20] ncdc commented on #1377
Haven't seen this in a while.
/close

[2019-09-25 15:20] #1377 closed

[2019-09-25 15:20] ncdc opened #1442 "Upgrade to CRD v1 (require Kubernetes v1.16 or newer for management clusters)"
As a developer, I would like to use CRD v1 for all Cluster API custom resources, so that I can take advantage of structural schemas, pruning unknown fields, validation, defaulting, and multiple versions with conversion webhooks.

This means all management clusters must be at least Kubernetes v1.16. Workload clusters are not subject to this minimum version requirement.

/kind feature

[2019-09-25 15:31] ncdc commented on #949
@jichenjc your code links are now out of date as the repositories have evolved. Could you please clarify which events you are referencing?

/milestone Next

[2019-09-25 15:34] ncdc commented on #969
We haven't done any work on this and if it's still needed, we can consider it for the next minor release.

/unassign
/milestone Next

[2019-09-25 15:37] ncdc commented on #1145
All done!
/close

[2019-09-25 15:37] #1145 closed

[2019-09-25 15:38] ncdc commented on #1419
We recently merged https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1131 for CAPA - @pjot726 if you're still interested, could you copy that over to here?

[2019-09-25 15:38] ncdc commented on #1419
Or please let us know if you won't have time to work on this.

[2019-09-25 16:01] vincepri commented on #1416
@chuckha Do you want to work together later today on action items that should happen for this issue?

[2019-09-25 16:10] pjot726 commented on #1419
@ncdc I don't think I'll be able to work on this for a while, sorry. Feel free to reassign the issue.

[2019-09-25 16:10] tahsinrahman commented on #1419
/assign

[2019-09-25 16:15] timothysc commented on #1303
@ncdc Move to close this issue as v1alpha2 is out, providers are transitioning and this would be a feature back-port.

[2019-09-25 16:22] ncdc commented on #1303
/close

On Sep 25, 2019, at 12:16 PM, Timothy St. Clair <notifications@github.com> wrote:

﻿

@ncdc<https://nam04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fncdc&data=02%7C01%7Cgoldsteina%40vmware.com%7C088c2a75f7f54f01b06408d741d3a73f%7Cb39138ca3cee4b4aa4d6cd83d9dd62f0%7C0%7C0%7C637050249612547637&sdata=FEc%2BL17%2FvkytwBf96tCJGnrW5CG9GFUBskeKTPgaPa0%3D&reserved=0> Move to c

[2019-09-25 16:22] #1303 closed

[2019-09-25 16:45] dlipovetsky commented on #994
There was a [#cluster-api Kubernetes slack thread](https://kubernetes.slack.com/archives/C8TSNPY4T/p1569352876190300) on this topic on 09/24/19-09/25/19.

Quoting myself here:

Moving drain server-side is in progress upstream: https://github.com/kubernetes/kubernetes/issues/25625. There is a Node Maintenance Controller KEP in progress right now: https://github.com/kubernetes/enhancements/pull/1080

[2019-09-25 16:46] ncdc commented on #1442
cc @zjs @ashoksekar07 for feedback

[2019-09-25 17:25] #557 closed

[2019-09-25 17:33] timothysc commented on #1442
+1 from me.

[2019-09-25 17:35] rudoi commented on #1442
Oof, this is a bit hard to digest, because we pivot everything. This would block our adoption of v1a3 until the cluster upgrade story was solid.

I'll think about this a bit more and see if we could make it work.

[2019-09-25 17:36] vincepri commented on #1442
+1 as well

Sidenote: We'd need to wait for a Kubebuilder version that generates the correct CRDs and a controller-runtime update to be released on 1.16.

[2019-09-25 17:51] sethp-nr commented on #1442
@rudoi & I chatted a little bit about a kube >1.16 requirement, and I think it's something that we can do. We have a need to get onto 1.16 with our most sensitive clusters in a near-term timeframe for other reasons, and we're already going to have to do that without v1alpha3 support.

And, while I hesitate to say it because it's totally a user contract violation re: alpha software, but our pivot-y

[2019-09-25 18:11] zjs commented on #1442
Clarification: would this only affect v0.3.x releases or would this also affect v0.2.x patches?

[2019-09-25 18:12] vincepri commented on #1442
It's scoped for the next version (v0.3) only.

@sethp-nr What do you mean ignore <1.15 clusters?

[2019-09-25 18:16] sethp-nr commented on #1442
Whoops, I meant <=1.15 :) And "ignore" from the perspective of v1alpha3 mean that we treat them as a thing we EOL and migrate off of rather than continue to support long-term.

[2019-09-25 19:25] vincepri commented on #1416
Checklist of work items needed to make this happen:

- [ ] Branch off `release-0.2`
- [ ] Prow CI job after PR merges should build `release-0.2` branch (publish `v0.2`)
- [ ] Open a PR to move CABPK -> `/bootstrap/kubeadm` (submodule)
- [ ] Open a PR to move CAPD -> `/test/infrastructure/docker` (submodule)
- [ ] Separate build pipelines / container images
- [ ] Tests for sub-modules should only r

[2019-09-25 19:26] zjs commented on #1442
In that case, +1 from me.

[2019-09-25 19:27] detiber commented on #1416
The repo imports should be done in a way to preserve history and attribution.

[2019-09-25 19:28] chuckha commented on #1416
without a doubt.

[2019-09-25 19:29] detiber commented on #1416
Build/release tooling will need to be updated as well.

Do we continue to publish the images to the existing staging buckets, or do we consolidate them to a single bucket?

Docs will need to be updated to avoid linking out to external docs (CABPK in particular)

[2019-09-25 19:30] detiber commented on #1416
Release process will need to be updated as well, do we always build/release updated images for all images for each release? Do we version and release images independently?

[2019-09-25 19:32] chuckha commented on #1416
One of my main concerns here was release/tagging. I think the release work can be figured out as the projects move forward. As for tagging strategy, go modules has us sorted.

In a multi-module repository, please see https://research.swtch.com/vgo-module#multiple-module_repositories for an in-depth discussion.

In short, git tags would now look like

`v0.1` => cluster-api v0.1
`bootstrap/kubeadm/v

[2019-09-25 19:36] vincepri commented on #1416
+1, we need to come up with a plan that doesn't break the current CAPI history.

I looked through the commits in both repositories, and I think we should squash a lot of commit before merging them here, especially in the docker provider which doesn't seem to follow CAPI best practices around commit messages and squashing in logical groups.

Everything should be kept separate IMO, high level automa

[2019-09-25 19:43] detiber commented on #1416
Do we leave the old repositories around to not break v1alpha2 related docs and usage? If so at what point do we finally pull the plug?

Ideally I would like to document the state of v1alpha3 as we go rather than deferring the documentation to the end. We already have the ability to do per-branch documentation so we should take advantage of that to ensure that we don't repeat past mistakes wrt docu

[2019-09-25 19:45] vincepri commented on #1416
I think we should keep the repositories around, for sure. At least until we drop support for v1alpha2.

v1alpha3+ releases for both of these providers / components will be done in this repository instead.

I agree on documentation. I'm not sure if netlify allows this, but I'd love to keep the primary URL pointed to the `release-0.2` branch going forward and start documenting v1alpha3 on master

[2019-09-25 19:50] #1423 closed

[2019-09-25 19:58] ashoksekar07 commented on #1442
+1 from me.

[2019-09-25 20:17] chuckha commented on #1416
Playing around with merging strategies. Due to [github not following file renames](https://stackoverflow.com/questions/5646174/how-to-make-github-follow-directory-history-after-renames) there is very little we can do with regard to *github* in-browser file history. However, all history is maintained and no commits are lost.

I believe k8s will still count the commits but I'll followup with .... so

[2019-09-25 20:35] vincepri commented on #1416
Nice. I guess we should make sure we're not duplicating contributions (and stats) across two repos?

[2019-09-25 20:36] chuckha commented on #1416
@vincepri https://kubernetes.slack.com/archives/C9A0P0GPK/p1569443307015000

tl;dr it's no problem.

[2019-09-25 20:36] juan-lee opened #1444 "clusterctl should only delete the cluster object"
**What steps did you take and what happened:**
Use clusterctl to delete a cluster. MachineDeployment, MachineSet, Machine, and Cluster objects are all explicitly deleted.

**What did you expect to happen:**
MachineDeployment, MachineSet, and Machine are all owned by the a Cluster object. It is sufficient to only delete the Cluster object since garbage collection will clean up everything else.

**E

[2019-09-25 20:40] vincepri commented on #1416
The repo you linked looks good imo, what should we do w.r.t. the docker provider instead?

[2019-09-25 20:43] vincepri commented on #1444
/priority important-longterm

[2019-09-25 20:49] juan-lee commented on #1444
/assign

[2019-09-26 10:10] kashifest commented on #1398
What is the expectation here?

[2019-09-26 14:09] ncdc commented on #1398
If `Machine.Status.InfrastructureReady` is true and we get a 404 not found back from the call to `r.reconcileExternal` from within `reconcileInfrastructure`, we probably need to set `Machine.Status.ErrorReason` and `ErrorMessage`. WDYT @vincepri?

[2019-09-26 14:19] #1419 closed

[2019-09-26 14:39] vincepri commented on #1398
That's what I would expect as well

[2019-09-26 15:01] ncdc opened #1446 "Machine deletion: try up to n times to delete the Node, then move on"
**What steps did you take and what happened:**
1. Do something catastrophic such as manually deleting a CAPA cluster's ELB
1. `kubectl delete machine/foo`
1. Error in the logs (note, this is from v1alpha1, but the issue is still in v1alpha2):
[code]
1. The Machine is never deleted

**What did you expect to happen:**
This error shouldn't block Machine deletion

**Anything else you would like to add

[2019-09-26 15:26] vincepri commented on #1141
/area api
/assign

Now that we're in v1alpha3 planning, we should prioritize the discussion of making the Cluster object reference required in any object that's currently referencing it via labels.

[2019-09-26 16:53] vincepri opened #1450 "Create a release branch for release-0.2"
We need to create a `release-0.2` branch to continue v1alpha2 work and start working on master fro v1alpha3.

/kind feature
/assign

[2019-09-26 16:55] tahsinrahman commented on #1446
/assign

[2019-09-26 16:57] vincepri commented on #1450
/lifecycle active

[2019-09-26 16:58] tahsinrahman commented on #1446
@ncdc I'm thinking of wrapping this function inside `wait.PollImmediate()`, what do you think?

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/423721d074144de956f70ed95996101e3585758f/pkg/cloud/services/ec2/instances.go#L246-L262

[2019-09-26 17:00] vincepri commented on #1446
That seems AWS specific function, for this we should probably just retry a specific number of times. We should be able to use https://github.com/kubernetes/apimachinery/blob/master/pkg/util/wait/wait.go#L333 to achieve this, wdyt?

[2019-09-26 17:01] tahsinrahman commented on #1446
yes, i'm actually talking about this!

[2019-09-26 17:02] tahsinrahman commented on #1446
any suggestion for interval and timeout duration?

[2019-09-26 17:02] vincepri commented on #1446
Sounds good, I saw the linked aws code and was confused :D

I'd retry maybe every 2 seconds and for max 10? @ncdc

[2019-09-26 17:04] ncdc commented on #1446
Do you think it makes sense to try for up to either 30 or 60 seconds? Or is it more likely that if it fails once, it will probably fail every time, in which case trying for that long is an unnecessary delay?

[2019-09-26 17:05] ncdc commented on #1446
Or should we just try once and not even bother with any more attempts?

[2019-09-26 17:09] vincepri commented on #1446
Once might be a temporary failure, I'd limit it the retries to 10-15 seconds, if it fails for that long there is a good chance that we won't be able to reach it

[2019-09-26 17:11] ncdc commented on #1446
Ok, I'm good with interval=2s, timeout=10s

[2019-09-26 17:14] tahsinrahman commented on #1446
Should we do the same for bastion?

[2019-09-26 17:15] ncdc commented on #1446
The bastion is CAPA specific and is unrelated to this issue (the bastion doesn't have a corresponding Kubernetes Node).

[2019-09-26 17:20] tahsinrahman commented on #1446
oops, I mistook it as a capa issue, thats why i was linking the capa function :(

[2019-09-26 18:02] timothysc commented on #34
Closing b/c we are creating new e2es this cycle and we'll visit real-real conformance once we approach beta.

[2019-09-26 18:02] #34 closed

[2019-09-26 18:03] timothysc commented on #1269
Closing this one in favor of https://github.com/kubernetes-sigs/cluster-api/issues/46

[2019-09-26 18:03] #1269 closed

[2019-09-26 18:07] timothysc commented on #204
todo - remove the comment in the code

[2019-09-26 18:14] vincepri commented on #490
Closing this issue given that the project's scope and objectives specifies that this is out of scope

/close

[2019-09-26 18:14] #490 closed

[2019-09-26 18:14] timothysc commented on #493
We need to re-check the comments and behavior and verify current state.

[2019-09-26 18:16] timothysc commented on #519
This is provider specific and closing for main cluster api.

[2019-09-26 18:16] #519 closed

[2019-09-26 18:16] ncdc commented on #518
We need overall documentation for MachineDeployments. We'll incorporate this information when we do that. I don't think we need to keep this open.
/close

[2019-09-26 18:16] #518 closed

[2019-09-26 18:17] timothysc commented on #567
Closing this in favor of updated quickstart docs.

[2019-09-26 18:17] #567 closed

[2019-09-26 18:19] #204 closed

[2019-09-26 18:20] ncdc commented on #652
@samba could you please 👀 and let us know if this is still something your team is interested in. If so, could you please provide more details that line up with the v1alpha2 state of the API?

@CecileRobertMichon is this issue relevant to you? Is it the same thing as the MachinePool proposal?

I'm inclined to close this and have folks open up new issues that are more specific and in line with the v

[2019-09-26 18:24] vincepri commented on #783
After the release of v1alpha2 we adjusted the required kustomize version to be v3.1+

/close

[2019-09-26 18:24] #783 closed

[2019-09-26 18:24] ncdc commented on #794
Closing due to age
/close

[2019-09-26 18:24] #794 closed

[2019-09-26 18:25] vincepri commented on #795
Closing this given that in v1alpha2 we clearly document and use most of these fields.

/close

[2019-09-26 18:26] ncdc commented on #820
In v1alpha2, we have cluster.status.controlPlaneInitialized that is set to true once at least 1 control plane node is up. Are there more specific things we need to do as well?

[2019-09-26 18:28] detiber commented on #820
Ideally we'd be able to get summarized data about worker Nodes that are managed by the cluster as well

[2019-09-26 18:29] timothysc commented on #913
This should be fixed in v1alpha2.

[2019-09-26 18:29] #913 closed

[2019-09-26 18:30] ncdc commented on #891
This requires federated testing. Cluster API doesn't have the resources to do this testing. It is the responsibility of an interested party with appropriate computing resources to do this testing. If you need help federating the results, please let us know. Thanks!

/close

[2019-09-26 18:30] #891 closed

[2019-09-26 18:31] ncdc commented on #892
This requires federated testing. Cluster API doesn't have the resources to do this testing. It is the responsibility of an interested party with appropriate computing resources to do this testing. If you need help federating the results, please let us know. Thanks!

/close

[2019-09-26 18:31] #892 closed

[2019-09-26 18:31] ncdc commented on #893
This requires federated testing. Cluster API doesn't have the resources to do this testing. It is the responsibility of an interested party with appropriate computing resources to do this testing. If you need help federating the results, please let us know. Thanks!

/close

[2019-09-26 18:31] #893 closed

[2019-09-26 18:32] ncdc commented on #908
This work is done.
/close

[2019-09-26 18:32] #908 closed

[2019-09-26 18:32] CecileRobertMichon commented on #652
@juan-lee @vincepri @justaugustus

yes I believe the MachinePool proposal would be an alternative to this.

[2019-09-26 18:35] #1027 closed

[2019-09-26 18:35] vincepri commented on #1023
Closing this as we're using the controller-runtime client everywhere

/close

[2019-09-26 18:35] #1023 closed

[2019-09-26 18:37] ncdc commented on #820
@detiber do you have a thought about the format of that status?

[2019-09-26 18:38] ncdc commented on #820
Actually @ashoksekar07 told me he's satisfied with what is implemented. Going to close. We can open a new issue for **specific** changes such as worker node summary status.

/close

[2019-09-26 18:38] #820 closed

[2019-09-26 18:39] ncdc commented on #652
@CecileRobertMichon thanks. I'll wait a bit to hear back from either @samba or @joejulian before closing.

[2019-09-26 18:51] ncdc commented on #1242
@embik in v0.2.x (v1alpha2), Cluster API creates the kubeconfig secret for you. Will that work for you?

[2019-09-26 18:58] randomvariable commented on #1271
For discussion re: v1alpha3 CAEP

/assign @rudoi
/assign @dennisme

[2019-09-26 19:03] timothysc commented on #1421
It should not really live here but link to the image builder repo whose docs need to be updated.

[2019-09-26 19:08] tahsinrahman commented on #1203
/assign

[2019-09-26 19:09] akutz opened #1770 "[cabpk] Etcd data directory shouldn't be required"
/kind bug

**What steps did you take and what happened:**
The following `KubeadmConfig` resource illustrates using a custom image repository for a local etcd configuration. Please note only the relevant fields are shown below:

[code]

However, when submitting this resource via `kubectl`, the following error occurs:

[code]

Disabling validation and submitting the same resource to the API server r

[2019-09-26 19:20] tahsinrahman commented on #1203
/lifecycle-active

[2019-09-26 19:23] tahsinrahman commented on #1203
/lifecycle active

[2019-09-26 19:25] ncdc opened #1455 "Remove node RBAC settings"
The current RBAC settings allow full access to Nodes in the cluster where the Cluster API deployment/pod/manager is running (i.e., the management cluster). The controllers that work with Nodes, however, are interacting with the workload cluster's Nodes, not the management cluster's. When talking to the workload cluster, we use the generated kubeconfig secret, which has cluster-admin rights. We sho

[2019-09-26 20:33] ncdc commented on #1442
cc @akutz since I think you were suggesting waiting until 1.18 (or did I misinterpret your comment in Slack/the kubeadm defaulting issue?)

[2019-09-26 20:37] akutz commented on #1442
Hi @ncdc,

Thank you for pinging me. I was referring to the general agreement of n-2 versions for support. Since server-side defaulters were introduced in 1.15, it would mean that we shouldn't be making design changes to CAPI dependent upon server-side defaulters until 1.17 at the earliest. I said 1.18 because I know some people want to support at least the previous three versions of Kubernetes as

[2019-09-26 20:39] ncdc commented on #1442
I'm curious to know your reason for waiting - is it that you want some more soak time, or something else?

[2019-09-26 20:41] akutz commented on #1442
Hi @ncdc,

Perhaps I'm confusing something, but I thought the general, community consensus was that we should avoid design dependencies or changes that exclude versions of Kubernetes newer than n-2?

[2019-09-26 20:43] ncdc commented on #1442
Hmm, I'm not aware of that. We avoid dependencies on alpha features, because they are disabled by default via feature gates, but once they move to beta, they are usually defaulted to on. @timothysc can you weigh in on Andrew's question?

[2019-09-26 20:44] akutz commented on #1442
By the way, I *love* what the proposal provides as a result of CRD v1. I was just raising the issue of when it's okay to require specific versions of Kubernetes newer than X. I don't feel strongly about it, and honestly I was just bringing it up because I thought it was how support/features were generally considered with respect to versions of Kubernetes.

[2019-09-26 20:45] akutz commented on #1442
Let me put it another way -- I in no way would attempt to block this or raise an issue with it. If the group thinks it's fine, then it's fine with me. I'm certainly far less aware of the general pulse of the K8s community than some of you. :)

[2019-09-26 20:46] akutz commented on #1442
I only read the description and then your ping. I failed to see this clarification. This sounds good to me Andy. Thanks again.

[2019-09-26 20:59] #1446 closed

[2019-09-27 05:49] kashifest commented on #1398
Ok Thanks for the information. I am working on it

[2019-09-27 10:32] tahsinrahman commented on #1455
/assign

[2019-09-27 13:01] #1389 closed

[2019-09-27 15:49] chuckha opened #1460 "Better handle the error case when kubeconfig does not exist"
**What steps did you take and what happened:**
If I create only a cluster object cluster-api will error-loop forever when it's not really an error case. The error happens because during `reconcileKubeconfig` my infrastructure is all ready to go, we have an API endpoint (the load balancer) and at this point cluster-api expects that if the infrastructure is ready, the k8s-cluster must also be ready.

[2019-09-27 15:50] detiber commented on #1460
/priority important-longterm

[2019-09-27 17:40] wfernandes opened #1461 "Broken links in CRD documentation"
**What steps did you take and what happened:**
Navigated to the links and it took me to a 404.
For example, https://git.k8s.io/community/contributors/devel/api-conventions.md#idempotency

**What did you expect to happen:**
Take me to the correct documentation.
https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#idempotency

**Anything else you would like to add:**
h

[2019-09-27 17:52] wfernandes commented on #1461
/kind documentation

[2019-09-27 17:53] wfernandes commented on #1461
If this issue is valid, I can have a PR ready soon.

[2019-09-27 18:02] ncdc commented on #1461
Hi @wfernandes, thanks for filing. I'd suggest we change the title to indicate that there are broken links (we normally use "fix" in PR titles). Does that work for you?

[2019-09-27 18:07] timothysc commented on #402
closing, we are taking on a more broader initiative.

[2019-09-27 18:07] #402 closed

[2019-09-27 18:10] wfernandes commented on #1461
@ncdc Apologies. For some reason, after I updated the title the bot added the "kind/bug" label again. I removed the annotation from the initial comment.

[2019-09-27 18:11] ncdc commented on #1461
No worries, thanks for changing it!

[2019-09-27 18:12] timothysc commented on #529
/assign @fabriziopandini

[2019-09-27 18:13] timothysc commented on #678
closing, we are going to take a different road.

[2019-09-27 18:13] #678 closed

[2019-09-27 18:14] timothysc commented on #772
Closing, we're going to unify the workflow.

[2019-09-27 18:14] #772 closed

[2019-09-27 18:15] timothysc commented on #775
closing, we're going to redux the UX in v1alpha3 CAEP and POC are in progress.

[2019-09-27 18:15] #775 closed

[2019-09-27 18:16] wfernandes commented on #1461
/assign
/lifecycle-active

[2019-09-27 18:17] timothysc commented on #839
closing, we heading into a heavy refactor for v1alpha3 regarding CLI UX.

[2019-09-27 18:17] #839 closed

[2019-09-27 18:19] wfernandes commented on #1461
/lifecycle active

[2019-09-27 18:20] timothysc commented on #962
closing, we heading into a heavy refactor for v1alpha3 regarding CLI UX and control plane sets are going to be a 1st classed object.

[2019-09-27 18:20] #962 closed

[2019-09-27 18:20] timothysc commented on #959
/assign @timothysc @fabriziopandini

[2019-09-27 18:23] timothysc commented on #965
closing, we heading into a heavy refactor for v1alpha3 regarding CLI UX.

[2019-09-27 18:23] #965 closed

[2019-09-27 18:26] timothysc commented on #971
closing, we heading into a heavy refactor for v1alpha3 regarding CLI UX.

[2019-09-27 18:26] #971 closed

[2019-09-27 18:28] timothysc commented on #996
closing, we heading into a heavy refactor for v1alpha3 regarding CLI UX.

[2019-09-27 18:28] #996 closed

[2019-09-27 18:28] #1158 closed

[2019-09-27 18:29] timothysc commented on #1427
/assign @fabriziopandini

[2019-09-27 18:59] vincepri opened #1465 "OwnerReference on external cluster objects is never set"
**What steps did you take and what happened:**
After #1425, it seems that the OwnerReference isn't set properly at runtime. Currently investigating if this is a user error or not. I'll keep this open until we find the root cause.

**What did you expect to happen:**
OwnerRef should be set properly on external objects.

**Environment:**

- Cluster-api version: master

/kind bug
/lifecycle active

/c

[2019-09-27 20:36] tahsinrahman commented on #1460
/assign

[2019-09-27 20:49] #1465 closed

[2019-09-27 21:26] tahsinrahman commented on #1460
maybe we should call `reconcileKubeconfig` only if controlplane machines is present in the cluster?
cluster controller watches for controlplane machines, so cluster will be re-queued after deploying the controlplane machine and eventually kubeconfig secrets will be created

[2019-09-28 05:07] samba commented on #652
@ncdc We can close this, at least for now. Our platform needs have changed, and we probably wouldn’t approach this under v1alpha2 (and later) the same way we were thinking about it in the v1alpha1 timeframe. Thanks for checking!

[2019-09-28 14:10] vincepri commented on #652
/close

[2019-09-28 14:10] #652 closed

[2019-09-29 07:50] gyliu513 opened #1468 "How about commit `vendor` to this repo"
For some offline build or some machines under firewall, the build will be failed, how about commit `vendor` as well into this repo?

/cc @vincepri @detiber

[2019-09-30 14:56] vincepri commented on #1460
Does having a Cluster without any Machines a valid case though? It'll never become a Kubernetes Cluster or be usable.

[2019-09-30 14:59] #1461 closed

[2019-09-30 15:08] detiber commented on #1460
@vincepri If we consider externally managed controlplanes or managed "Node Pools" backed by scale groups, then it might potentially be a valild use case, since the resources wouldn't be backed by individual Machines.

[2019-09-30 15:14] vincepri commented on #1460
The kubeconfig will be created by others means in that scenario though, which wouldn't cause the behavior reported above

[2019-09-30 15:20] vincepri commented on #1450
This has been done, but the branch isn't being used until we actually merge breaking changes

[2019-09-30 17:36] vincepri commented on #1460
@chuckha @tahsinrahman Given that a Cluster without any other resource can't become a Kubernetes cluster, I'd like to close this issue and leave things as they are.

[2019-09-30 17:43] chuckha commented on #1460
The use case is I want to provision the cluster infrastructure but I'm not ready to get my machines up and running, i want to see what cluster-infrastructure has done. The expectation is that at some point I will be creating machines that are attached to this cluster.

There really shouldn't be core Cluster objects sitting around that aren't going to turn into k8s clusters at some point.

[2019-09-30 17:46] vincepri commented on #1460
That should be valid, apart from the fact that the reconciler will keep retrying?

[2019-09-30 17:48] chuckha commented on #1460
right, the issue is about the fact that the reconciler should not be returning an error because it's not an error state.

[2019-09-30 17:49] vincepri commented on #1460
The question I have is if this is an actual issue though (that requires a fix), we definitely want to requeue because we have no way to tell when the certificates are going to show up and the use case you provided seems related to testing, which doesn't fall in the 80% use case

[2019-09-30 17:50] chuckha commented on #1460
yeah requeuing is definitely fine! but the fact it returns an error makes it seem like something unexpected is happening. Which, maybe it is depending on your point of view... 🤔

[2019-09-30 17:52] vincepri commented on #1460
I usually consider errors the one that go in the exponential backoff. The requeue after isn't really an error, in fact I think it doesn't get returned as such (in the main reconciler function)

[2019-09-30 20:57] #1398 closed

[2019-09-30 21:19] wfernandes opened #1469 "clusterctl does not delete successfully"
**What steps did you take and what happened:**
1. Use this version [`bf790fc2`](https://github.com/kubernetes-sigs/cluster-api/commit/bf790fc2) of cluster-api to build `clusterctl`.
1. Use this version [`0dd895830`](https://github.com/kubernetes-sigs/cluster-api-provider-aws/commit/0dd895830) of cluster-api-provider-aws to generate the example manifests
1. Update `examples/_out/controlplane.yaml`

[2019-09-30 21:25] vincepri commented on #1469
/help
/priority important-soon
/milestone v0.2.x

[2019-09-30 22:29] wfernandes opened #1470 "`clusterctl delete cluster` cmd does not respect --bootstrap-cluster-cleanup flag"
**What steps did you take and what happened:**
1. Build `clusterctl` from this version [bf790fc](https://github.com/kubernetes-sigs/cluster-api/commit/bf790fc2a53614ff5d3405c83c0de0dd3303bb1f)
1. Run the following command.
`$ clusterctl delete cluster --kubeconfig kubeconfig --provider-components examp
les/_out/provider-components.yaml --bootstrap-type kind --bootstrap-cluster-cleanup false
`
Noti

[2019-09-30 23:14] wfernandes commented on #1470
I believe this is a user error. Since `--bootstrap-cluster-cleanup` is a boolean flag it has special behavior.

See https://github.com/spf13/cobra/issues/613#issuecomment-357706597 for more details.

We should be careful if we are going to provide example usage for this flag in any documentation.

[2019-09-30 23:14] #1470 closed

[2019-10-01 13:43] randomvariable commented on #1090
Related to providing an implementer guide as well https://github.com/kubernetes-sigs/cluster-api/issues/778

/assign

[2019-10-01 13:44] randomvariable commented on #1205
/assign

[2019-10-01 13:46] randomvariable commented on #1441
/assign

[2019-10-01 13:47] randomvariable commented on #1370
/assign
I can be the test subject

[2019-10-01 13:52] vincepri commented on #1205
@randomvariable I'd hold off on documenting this task until we discuss it during the community meeting or solve the conversations with stakeholders above

[2019-10-01 16:40] vincepri opened #1471 "RFE: Cluster API SDK"
**User Story**

As a developer I would like to use Cluster API as a framework to build infrastructure or bootstrap providers.

**Detailed Description**
For the `v0.3` cycle, I'd like to propose to move all exposed Cluster API code under `sdk/` (naming can be changed, this is an example) directory. This directory should contain code that providers and other tools can use to build on top of Cluster

[2019-10-01 18:32] detiber commented on #1471
Personally, I would like to avoid this for this current cycle to avoid the code churn that would result in downstream providers, especially after we just went through that with v1alpha2.

[2019-10-01 19:54] wfernandes commented on #1469
I can take a look at this issue unless anyone has any objections.

/assign

[2019-10-02 13:46] ncdc commented on #1468
We previously had the vendored code committed to the repository, but decided instead to omit it. Does your organization have access to a go proxy that you could use behind your firewall?

[2019-10-02 14:12] vincepri commented on #1471
We should discuss during planning. If anyone is interested working on this, I'm +1 at prioritizing given that it'll give us a better story around releasing and developer experience.

/cc @timothysc

[2019-10-02 14:45] nader-ziada commented on #969
@ncdc would it make sense to do something similar to the cluster `phase` status field, where the `machine_deployment` controller can update that field based on the replica numbers as you explained above and then show that in the kubectl get command as additional columns?

[2019-10-02 14:45] rudoi commented on #1441
@randomvariable FYI the first thing I'm taking a look at is how to fix up those conversion functions that were generated and exported. So ugly :(

[2019-10-02 14:51] gyliu513 commented on #1468
@ncdc Yes, we do have a proxy, but the proxy sometimes does not work, and we need to switch to some new proxies, adding vendor would facilitate the development work a lot if proxy does not work.

[2019-10-02 15:32] randomvariable opened #1477 "Metrics"
**User Story**

(copied from https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/78 )

A cluster operator may want to metrics from the controllers available in their monitoring system of choice, e.g. Prometheus. They would be interested in metrics with regards to the creation, deletion, mutation and failure rates of AWS APIs, and the state of their objects at least to help diagnose

[2019-10-02 15:34] vincepri commented on #1477
/priority important-long-term

[2019-10-02 15:52] vincepri commented on #1416
Let's rally around actions items, I added a PSA that we'll start working on it in the community meeting, if there is no push back or more feedback, let's make this happen 🎉

[2019-10-02 16:28] ncdc commented on #969
@nader-ziada we could consider doing something like that. Would you be willing to write up the details in a comment here?

[2019-10-02 16:30] ncdc commented on #1460
We should audit all our code paths that return errors and decide if each one is actually worth returning as an error. It's important to remember that any error we do return is largely invisible to the end user/consumer. The error is logged in the pod's logs, but it isn't surfaced to the user unless we record events or update a status field on the resource in question.

[2019-10-02 16:45] wfernandes opened #1478 "broken link in cluster doc book"
**What steps did you take and what happened:**
- Broken relative link in [this section](https://cluster-api.sigs.k8s.io/architecture/controllers/cluster.html#cluster-controller)
- Incorrect example of api endpoints in [status object](https://cluster-api.sigs.k8s.io/architecture/controllers/cluster.html#optional-status-fields)

/kind documentation

[2019-10-02 17:04] nader-ziada commented on #969
I think the approach could be the following:

 - add a `phase` field to `MachineDeploymentStatus`
 - add that field to the additional columns
 - a `machinedeployment_phase` reconcile method would watch the `machine set` in each cycle and update accordingly, maybe get the status calculated here https://github.com/kubernetes-sigs/cluster-api/blob/a6b5ba419bad1af4ec9f294720d5c61eada297be/controllers/

[2019-10-02 17:38] davidewatson commented on #1141
+1

This will simplify the conceptual model and may make the Cluster API easier to use.

[2019-10-02 17:45] ncdc commented on #1468
/assign @justinsb
😄

[2019-10-02 17:48] randomvariable commented on #1468
Summary of CAPI call comments on 2019/10/02

- @vince: Not having vendor committed simplifies dev experience, prevents out-of-sync vendor directories being committed.
- @timothysc: Having the vendor directory is important to air-gapped environments
  - @liztio: Only for building
- @justinsb: Geo-restrictions may also be an important consideration.
- @detiber: Asking for people to set up goproxies

[2019-10-02 17:49] timothysc commented on #1468
There are a number of constraints that exist on external BigCo.s are many, which is why most of kubernetes org still has a vendor folder.
- deps on proxy
- github's down
- audit review
...

[2019-10-02 17:49] vincepri commented on #1468
I'm not sure if at all possible, but could we have a presubmit job to update and commit the vendor after each merge?

[2019-10-02 17:55] vincepri commented on #1141
Lazy consensus until next week meeting

[2019-10-02 18:12] justinsb commented on #1468
I think we have a few options:

1) Create a goproxy service that works everywhere (including behind country-wide-firewalls)
2) Put the vendored content into the repo, but keep it off the master branch.  Then have some sort of tool to use that info locally, either a goproxy that reads from these branches, or some sort of copy-from-the-other branch script
3) Have a shadow branch that includes the ve

[2019-10-02 18:36] vincepri commented on #1468
Something like that, or even if the bot commits to the branch directly after merging the PR (postsubmit job) would be ok.

If we go down the 4) path, we'd need to ask users to separate vendor commits from the other ones. One upside for this solution is that we have a lot of the tools for verification and automation in an older v1alpha2 commit

[2019-10-02 18:53] chuckha commented on #1416
Let's talk about the docker provider commit history -- now, it doesn't have the cleanest commit history (as mentioned above) but at this point it feels to me it would be unfair to remove attribution in a merge.

I wonder what people think of reducing this down to a single commit and keeping the attribution in separate repo or if merging (warts and all) is the right path forward. @detiber do you ha

[2019-10-02 18:57] detiber commented on #1416
@chuckha Personally, I would rather ensure proper retention of attribution than a clean commit history

[2019-10-02 19:01] ncdc commented on #969
This seems reasonable. Before you do a PR, would you be able to flesh out the details around how you calculate the phase, more specifically?

[2019-10-02 19:02] ncdc commented on #1416
@detiber are you interested in per-line blame attribution, or is GitHub's co-authored-by information acceptable in a single squashed commit? (I have no strong feelings - just looking for more details.)

[2019-10-02 19:04] detiber commented on #1416
@ncdc both git blame/praise attribution, but also devstats attribution.

[2019-10-02 19:04] nader-ziada commented on #969
yeah sure, will update with a more detailed comment explaining how to calculate the phase

[2019-10-02 19:17] timothysc commented on #1416
On repo translation git details will be lost, and only OWNERS subsections will be maintained.  Devstats should be undeterred.  Also, none of this can/should be a blocking concern to moving forwards, as this happens all the time on code migrations.

[2019-10-02 19:29] nader-ziada commented on #969
/assign

[2019-10-02 19:33] vincepri commented on #969
You can find an example in this proposal https://github.com/kubernetes-sigs/cluster-api/tree/master/docs/proposals on how we defined phases and each requirement

[2019-10-02 19:36] nader-ziada commented on #969
Thanks @vincepri

[2019-10-02 19:37] wfernandes opened #1480 "clusterctl delete instructions in cluster api book"
**User Story**

As a user I would like to see instructions on how to delete and tear down resources that have been created by the `clusterctl create cluster` command.

Specifically, it would be nice to see instructions on the `clusterctl delete cluster` usage.
- What cluster does it delete? Does it get overridden by providing `--cluster` flag?
- Does the command respect the `--namespace` flag?
- D

[2019-10-02 19:45] vincepri commented on #1480
/kind documentation
/milestone v0.2.x
/help

[2019-10-02 19:45] vincepri commented on #1480
/priority important-longterm

[2019-10-02 21:43] dlipovetsky opened #1587 "[cabpk] Show the actual kubeadm configuration applied to a machine"
/kind feature

**Describe the solution you'd like**
The typical kubeadm configuration generated by CABPK is minimal, and kubeadm applies many defaults, the values of which are not observable in any CAPI objects. Today, my options are to inspect `/tmp/kubeadm.yaml` on the machine, or fetch the kubeadm configuration from the cluster's control plane.

**Anything else you would like to add:**
Being ab

[2019-10-02 22:48] #1478 closed

[2019-10-02 22:50] vincepri commented on #1416
+1 to what Tim said and props to Chuck for opening the different PRs to get this merged.

Can we confirm with devstats if keeping the repositories in archived mode keeps the contribution counted? If so, seems like a good compromise to merge in a single commit, avoid roadblocks, and fast track the work.

[2019-10-02 22:52] chuckha commented on #1416
I have a few PRs open:

A single merge commit for CABPK: https://github.com/kubernetes-sigs/cluster-api/pull/1483
A full history merge for CABPK: https://github.com/kubernetes-sigs/cluster-api/pull/1482
A full history merge for CAPD: https://github.com/kubernetes-sigs/cluster-api/pull/1481

The first two are for comparison purposes. I like the single commit a bit more to be honest.

[2019-10-02 22:54] vincepri commented on #1416
I agree with that sentiment, let's just make sure contributions aren't erased from archived repositories, and I think that'd be good to go.

[2019-10-03 09:53] gyliu513 commented on #1468
Thanks all for the discussion and comments here, really appreciate this, great team !!

@justinsb Having a goproxy service that works everywhere is a great idea, if we can have this service running in AWS etc, then it should helps.

For 4) path, just like `dep`, when developers commit code, they should make sure the PR include commits for `auto generated code` to facilitate the review.

[2019-10-03 14:44] #1460 closed

[2019-10-03 18:23] randomvariable opened #1588 "[cabpk] Figure out long-term interface for static pod kustomizations with kubeadm"
/kind feature

**Describe the solution you'd like**
Kubeadm 1.16 introduced `kubeadm init --experimental-kustomize kubeadm-patches/` to allow customization of the static pods for certain environments. Is there a way that  this can be passed through to kubeadm, or allow arbitrary arguments to be appended to kubeadm init/join

**Anything else you would like to add:**
[Miscellaneous information that

[2019-10-03 19:47] andrewsykim opened #1486 "CAPI quickstart doesn't work if existing cluster has taints"
**What steps did you take and what happened:**
I tried to run through the CAPI quick start for vSphere and noticed that the CAPI components and the `infrastructure-components.yaml` file from all providers don't tolerate any taints, so an existing cluster built with kubeadm doesn't work cause it applies the master taints for control plane nodes.

Tolerating _all_ taints is probably not ok, but I th

[2019-10-03 19:49] ncdc commented on #1486
Are you saying your bootstrap/management cluster has the taints?

[2019-10-03 19:51] andrewsykim commented on #1486
yes, for CAPA and CAPV it's patched (via kustomize) as part of the examples directory. e.g. https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/examples/provider-components/manager_tolerations_patch.yaml

[2019-10-03 19:52] ncdc commented on #1486
I'm wondering about the taints in your cluster (not the tolerations)?

[2019-10-03 19:52] andrewsykim commented on #1486
Happy to work on this once we agree on a set of tolerations.

It has `node-role.kubernetes.io/master` - which is added by default by kubeadm.

[2019-10-03 19:53] ncdc commented on #1486
This is probably something we need to fix, and I'm trying to gather the facts. The quickstart works if you use a kind bootstrap cluster. I take it you didn't use kind?

[2019-10-03 19:54] andrewsykim commented on #1486
I didn't use Kind and I just verified that Kind does _not_ apply any taints on nodes which explains the quick start working only for Kind.

[2019-10-03 19:55] andrewsykim commented on #1486
I think just tolerating `node-role.kubernetes.io/master` is a good start

[2019-10-03 19:55] detiber commented on #1486
If we want `clusterctl` to continue to work, then tolerating `node-role.kubernetes.io/master` would probably be a minimum requirement.

[2019-10-03 19:58] andrewsykim commented on #1486
Just to be clear, I think most examples out there of `clusterctl` does include a toleration of `node-role.kubernetes.io/master`, but if you are bringing your own cluster it does not tolerate it even though most clusters may have the same taints as one that is bootstrapped by clusterctl.

[2019-10-03 20:03] nader-ziada commented on #969
Add a new field in the MachineDeploymentStatus called Phase with the following values
 - Provisioning: if `status.Replicas` > `status.ReadyReplicas`
 - Running: if `status.Replicas` == `status.ReadyReplicas`
 - Failed: if the inspection of the machines list that is part of this deployment shows a machine with a phase of `failed` or `unknown`

Questions:
 - `Resizing` would be covered by `Provision

[2019-10-03 20:18] andrewsykim commented on #1486
/assign

[2019-10-03 21:10] ncdc commented on #969
Would `ScalingUp` and `ScalingDown` be better than `Provisioning`?

I don't feel strongly on having Pending vs not having it.

[2019-10-03 21:45] nader-ziada commented on #969
I would prefer not to have `Pending`. Doesn’t really add much value.

We can do scaling up and down by also checking `UpdatedReplicas`. If `Replicas` < `UpdatedReplicas` then `ScalingUp`, otherwise `ScalingDown`

[2019-10-03 22:08] vincepri commented on #1486
The assumption of the quickstart is also that you wouldn’t run the controllers on a control plane node, given that they can run on a simple node.

Is this something that can maybe go in an advanced section?

[2019-10-04 12:19] detiber commented on #969
Some of this is already handled by `kubectl` and `kubectl describe` for resources that have a scale subresource.

I'm not sure we need dedicated "states" or "phases" to show scaling up or down. I think the bigger concern is around bubbling up that there are anomolies encountered when scaling up or down.

My fear is that we introduce a field that is intended to just be used for friendly display and

[2019-10-04 12:38] detiber commented on #1486
Should that be the case, though? For example, if running on a Cluster API provisioned cluster in AWS, this would require an IAM profile for the Nodes that has a much higher set of permissions than we would generally require today.

[2019-10-04 13:49] nader-ziada commented on #969
The `kubectl describe machinedeployment` output will show all the replica information
[code]

but having a field with a status to say when the deployment is done scaling might be easier to automate against. Is there more context to why this would not be accurate?

[2019-10-04 13:51] ncdc commented on #969
@detiber we have status.phase for machines and clusters, and we have agreed these fields are for human consumption. People certainly could write automation against these fields (we can't stop that from happening), but we can augment our documentation on these fields to indicate they exist to provide a user-friendly visual status and nothing more. Couldn't we do the same thing here?

[2019-10-04 15:02] andrewsykim commented on #1486
I think in reality most management clusters would only have control plane nodes though? Especially if we're advising users to not run workloads on a management cluster

[2019-10-04 15:22] vincepri commented on #1486
Given that the AWS provider uses (by default) credentials mounted in a secret, I don't see why you'd need wider permissions on Nodes.

From what I've seen, that's not the case and controllers usually run on workload clusters. Let's add an advanced section that shows how to add taints on control plane nodes?

[2019-10-04 15:30] andrewsykim commented on #1486
The problem isn't that control plane nodes don't have the taints, it's that the provided deployment specs for CABPK, CAPI and CAP* don't tolerate any taints so they don't work out of the box for any cluster that do have taints.

[2019-10-04 15:34] vincepri commented on #1486
Apologies, I meant an advanced guide on how and where to add tolerations for the manager deployments

[2019-10-04 16:02] andrewsykim commented on #1486
Is that easier for users vs if the manager deployments tolerated well-known taints like `node-role.kubernetes.io/master`? If you tolerate the taint, the deployments will likely still run on workload nodes but can also run on clusters where you only have control plane nodes. We can't tolerate all taints, but `node-role.kubernetes.io/master` (kubeadm-based cluster) seems to fall in to the 80% of exi

[2019-10-04 16:04] ncdc commented on #1486
👍. We also have these tolerations in the examples we generate, but not in the components yaml we ship with the releases.

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/c6b8c307095892de15b1edcf8d610967dec77750/examples/provider-components/manager_tolerations_patch.yaml

[2019-10-04 16:26] #1486 closed

[2019-10-04 18:23] timothysc commented on #1250
After reading through the spec several times, I don't see a reason to keep this open in the main CAPI repo as a POC can be done independently.  Once the POC is complete and if folks think that it is generally useful we can revisit later.

[2019-10-04 18:25] timothysc commented on #1206
After discussions with @ncdc if we auto-label components, this will be trivial.

/assign @ncdc

Happy to close this in favor of a different issue and cross ref where needed.

[2019-10-04 18:26] ncdc commented on #1206
I don't know that I'd commit to calling it 100% trivial, but it will be easier. It's more that we need to define labeling requirements for providers for any & all resources they create and manage.

[2019-10-04 18:44] vincepri opened #1488 "Allow setting LeaderID in controller manager options"
**What steps did you take and what happened:**
Running CAPI in the same namespace with CAPA or CABPK results in leader election errors. More details https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/issues/271

/kind bug
/priority important-soon
/assign
/lifecycle active
/cc @noamran

[2019-10-04 18:45] vincepri commented on #1488
/milestone v0.2.x

[2019-10-07 06:32] fabriziopandini opened #1489 "Auto labeling cluster resources"
As an operator I would like to have a consistent set of labels for searching cluster resources.

**Detailed Description**

As the cluster API specification evolves, cluster specification is composed of a growing set of resources e.g. Cluster, AWSCluster, Machine, AWS machine, KubeConfigr, Certificate secrets, Kubeconfig secret etc.

By ensuring everything is part of a cluster consistently labeled

[2019-10-07 06:39] fabriziopandini opened #1490 "Define a convention for watching specific namespaces or all"
**User Story**

As an operator, I would like to have a convention for deploying cluster API providers for watching objects in a specific namespace

**Detailed Description**

Most of the cluster API providers already support watching objects in a specific namespace, but there is no formal convention about how this should be exposed to the users.

By defining a convention, it will be possible to imp

[2019-10-07 08:06] prankul88 commented on #1489
@fabriziopandini I can work on this if you like.

[2019-10-07 08:14] fabriziopandini commented on #1489
@prankul88 great! let's wait for some more feedback/issue triage before starting though

[2019-10-07 14:49] ncdc opened #1491 "Refine release notes process"
We auto-generate release notes from the titles of all pull requests that were part of a release. This generally works ok, but if there are any "action required" items, there is no easy way to include that information in the release notes unless we remember to make edits by hand.

It would be nice to find a way to automate including "action required" information in the release notes.

[2019-10-07 14:59] detiber commented on #1491
We can likely leverage the `releasenote` prow plugin, and do something similar to the k8s release notes generator: https://github.com/kubernetes/release/blob/master/relnotes

[2019-10-07 16:47] justaugustus commented on #1491
+1. In an ideal world, I'd like every repo that's interested be able to leverage a single tool for this. Happy to use capz as a testing ground for this (as we already have the releasenote plugin enabled).
cc: @cartyc @saschagrunert @onyiny-ang @jeefy

[2019-10-07 16:49] #1488 closed

[2019-10-07 20:05] vincepri commented on #1141
### Proposal for v1alpha2

Given that there have been no comments or pushbacks, what do we think about adding a field to the v1alpha2 types which then becomes required in the next iteration?

[code]

The field should be added to Machine, MachineSet, and MachineDeployment. The reconcilers will look at this field and set the appropriate label where needed. If the field isn't set, but there is a labe

[2019-10-08 10:18] saschagrunert commented on #1491
I'm happy to support you here, we recently added some more features to the release-notes tool, so I gave it a first try on the [cluster-api-provider-azure](https://github.com/kubernetes-sigs/cluster-api-provider-azure) repository:

[code]

- The rendered `notes.md`:
  https://gist.github.com/saschagrunert/d1be6160cbef0ed8e3a6046d634215f9
- Comparing to the contents of:
  https://github.com/kuberne

[2019-10-08 12:00] detiber commented on #1491
Ah, I didn't realize there was a Go tool now: https://github.com/kubernetes/release/tree/master/cmd/release-notes

[2019-10-08 13:17] nader-ziada commented on #969
should I go ahead with this? or is still under consideration?

[2019-10-08 13:48] ncdc commented on #969
Let's give @detiber a chance to reply to my last comment, then we'll see 😄

[2019-10-08 13:57] detiber commented on #969
@ncdc I'm willing to give it a go.

[2019-10-08 13:58] ncdc commented on #969
Great, thanks Jason!

[2019-10-08 14:13] nader-ziada commented on #969
Thanks all, I will work on that and hopefully have something to show soon

[2019-10-08 17:50] tahsinrahman opened #1496 "Deploy cert-manager from clusterctl"
**User Story**

As a developer I would like to deploy `cert-manager` from `clusterctl` for adding webhooks

**Detailed Description**

We need to deploy `cert-manager` for provisioning the certificates for the webhook server.
We need to update `clusterctl` to deploy `cert-manager` first, wait for `cert-manager` pods to be ready. Otherwise when applying manifests, we'll get following errors

[code]

[2019-10-08 17:52] tahsinrahman commented on #1496
/assign

[2019-10-08 17:56] wfernandes commented on #1477
Are we thinking of adding prometheus style metrics and an endpoint on the controller manager?

[2019-10-08 17:57] vincepri commented on #1496
How about we add cert-manager as part of the published cluster-api components?

[2019-10-08 17:57] detiber commented on #1477
There should already be rudimentary support for the metrics endpoint through controller-runtime, should just need to add additional metrics.

[2019-10-08 17:58] ncdc commented on #1477
Yes. We already have the metrics server (https://github.com/kubernetes-sigs/cluster-api/blob/aa86af24657672ebca641cf7c76da7eb305faa39/main.go#L102). +1 to what Jason wrote.

[2019-10-08 18:02] detiber commented on #1496
@vincepri As long as it wouldn't cause issues with deploying webhooks as part of the cluster-api components I'm good with that solution as well.

[2019-10-08 18:03] vincepri commented on #1496
Definitely needs to be tested out, open to any alternative

[2019-10-08 18:21] wfernandes commented on #1477
Thanks for the tips. I can start to take a look into adding some metrics.

[2019-10-08 18:23] wfernandes commented on #1477
/assign

[2019-10-08 18:25] vincepri commented on #1496
/priority important-soon

[2019-10-08 18:32] randomvariable commented on #1477
Let me know when you start work on it @wfernandes and we'll mark it as lifecycle/active

[2019-10-08 19:54] jeefy commented on #1491
The problem is `anago` still uses a bash off-shoot to do a lot of the initial work, but the golang tool is what the release team uses to generate the x.y.0 release notes as well as what gets funneled into relnotes.k8s.io :)

[2019-10-09 21:07] vincepri opened #1502 "v1alpha3 API types"
Once master branch is open to breaking changes from v1alpha2, we need to create the types for the next iteration.

- Copy types from api/v1alpha2.
- Rewrite imports.
- Set the storage version to v1alpha3 types.
- Make sure the generated CRDs contain both v1alpha2 and 3.

/kind feature
/milestone v0.3.0

[2019-10-09 21:07] vincepri commented on #1502
/priority important-soon

[2019-10-09 21:08] vincepri commented on #1450
/close

[2019-10-09 21:08] #1450 closed

[2019-10-09 21:08] ncdc commented on #1502
Master is open 😄

[2019-10-09 21:10] ncdc opened #1503 "Remove all v1alpha1 code"
Remove v1alpha1 types, conversion functions, and anything else referencing v1alpha1
/kind feature
/milestone v0.3.0
/priority important-soon
/help

[2019-10-09 21:13] juan-lee commented on #1227
If I understand correctly, most of the UX improvement is gained when multiple clusters rely on the same template? There's still a lot to define for a single cluster. Is the goal to optimize the multi or single cluster case?

[2019-10-09 21:15] vincepri opened #1504 "test/infrastructure/docker: Test infra and automation"
After merging CAPD under this repository, we need to add new jobs that only run when CAPD code is changed.

/milestone v0.3.0
/priority important-soon
/help

[2019-10-09 21:16] vincepri opened #1505 "bootstrap/kubeadm: Test infra and automation"
After merging CABPK under this repository, we need to add new jobs that only run when CABPK code is changed.

/milestone v0.3.0
/priority important-soon
/help
/kind feature

[2019-10-09 21:16] vincepri commented on #1502
/assign @noamran

[2019-10-09 21:16] vincepri commented on #1502
/assign

[2019-10-09 21:18] juan-lee commented on #1227
@ncdc @detiber @vincepri Another thought I had, when the user is using a gitops approach with kustomize, they'll be able to do their own templating. I haven't had a lot of time to think about this, but we should ask ourselves, are we are trying to solve concerns that can be solved more effectively elsewhere?

[2019-10-09 21:19] vincepri opened #1506 "v1alpha2 to v1alpha3 conversion webhook"
After merging the v1alpha3 types, we need to work on making sure we have conversion webhooks in place to allow for upgrades.

/priority important-soon
/milestone v0.3.0
/kind feature
/help

[2019-10-09 21:21] vincepri opened #1507 "test/infrastructure/docker: Release story"
After merging CAPD under this repository, we need to figure out what our release story is going to look like and how to automate the process

/milestone v0.3.0
/priority important-longterm
/help
/kind feature

[2019-10-09 21:21] vincepri opened #1508 "bootstrap/kubeadm: Release story"
After merging CABPK under this repository, we need to figure out what our release story is going to look like and how to automate the process

/milestone v0.3.0
/priority important-longterm
/help
/kind feature

[2019-10-09 21:23] detiber commented on #1227
@juan-lee I think the concern is more for those that are providing a managed cluster type experience.

For example, a centralized IT department wants to give developers access to request clusters using Cluster API, but wants to ensure that the clusters that are created are configured in a way that is compliant with their org requirements while still allowing users to customize other parts of the c

[2019-10-09 21:31] vincepri opened #1509 "[0.2] Change the default image in manifests to target release-0.2"
Now that master is open to v1alpha3, we want to change the tag referenced by default https://github.com/kubernetes-sigs/cluster-api/blob/release-0.2/config/default/manager_image_patch.yaml#L10 to be `release-0.2`, given that `latest` builds on the master branch instead.

/kind feature
/priority important-soon
/milestone v0.3.0
/help

[2019-10-09 21:33] vincepri opened #1510 "Switch `latest` container image tag to be the last stable version"
To avoid confusion, I'd like to propose we switch builds on `master` to build `master` and use the `latest` tag to target instead the latest stable release.

/priority important-soon
/kind feature

[2019-10-09 21:35] detiber commented on #1510
The latest tag should be for development purposes only, so I think having it track `master` makes sense...  latest stable release is an artifact in the prod bucket, not the staging bucket.

[2019-10-09 21:45] ncdc commented on #1510
I consider `latest` to **not** be git master, but instead the most recent stable release. However, `latest` is not particularly informative, and it can be dangerous when it transitions from one major release to the next (in CAPI terms, that would be moving from `v0.2.4` to `v0.3.0`). Given that the Kubernetes image pull policy defaults to always when the tag is `latest`, I'm not sure that having `

[2019-10-09 22:07] vincepri commented on #1510
@ncdc And deprecate `latest` going forward? If so, that breaking change can make sense for v0.3

[2019-10-09 22:14] timothysc commented on #1510
There is a ton of precedent that we should be following:

https://hub.docker.com/_/golang

:latest - latest stable
:v0.2 - latest v0.2
:v0.2.x - specific tag
:master - tip of master, use at your own peril

[2019-10-09 22:16] detiber commented on #1510
Really, I don't think anyone or anything outside of CI or release tooling should be consuming the staging images.

[2019-10-10 03:57] prankul88 commented on #1509
Hi @vincepri , Can I take this up?

[2019-10-10 07:25] tahsinrahman commented on #1496
@vincepri I think publishing cert-manager as part of clusterapi components(in a single yaml) will not work. As in clusterctl, as all clusterapi components + provider components are passed to clusterctl by single `--provider-components` flag, but we need to deploy cert-manager separately at first, then deploy other components.
Also, in future if we want to add webhooks for clusterapi types, we need

[2019-10-10 09:00] tahsinrahman commented on #1503
/assign

[2019-10-10 13:41] chuckha opened #1575 "[cabpk] [docs] external etcd doc improvement"
/kind documentation
/good-first-issue

Clean up the documentation to provide support for etcd clusters created with https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/. Right now the docs are etcdadm specific, namely the locations of certs. Be generic (say which certs  are needed) and then provide default location examples for etcdadm and kubeadm etcd

[2019-10-10 13:51] timothysc commented on #1510
:master is highly useful for consumption by downstream folks who may be doing their own qualification against tip b/c they don't want to wait till a release to find out if something is busted.

This can sometimes include deployment of dev clusters on a nightly basis.  Back at RH, we setup the death-star to do exactly this b/c if we waited for release we would always find p0 bugs after the cut whic

[2019-10-10 13:55] ncdc commented on #1510
Any other feedback - @akutz @rudoi @CecileRobertMichon @juan-lee @andrewsykim @justaugustus ?

[2019-10-10 14:20] vincepri commented on #1510
I love this

[2019-10-10 14:41] vincepri commented on #1509
sure thing! :)

[2019-10-10 14:41] vincepri commented on #1509
/assign @prankul88

[2019-10-10 14:43] vincepri commented on #1496
Would you mind expanding a little on the reason on why it wouldn't work?

[2019-10-10 14:56] detiber commented on #1496
Is this something that eventually resolves itself? Or does it stay in a perpetual error state?

[2019-10-10 14:56] detiber commented on #1496
I'm wondering if we can just dump the yaml and wait out the errors

[2019-10-10 14:56] tahsinrahman commented on #1496
yes, eventually cert-manager pods will be ready and it will work

[2019-10-10 14:58] tahsinrahman commented on #1496
So, we can publish cert-manager with capi add do a `wait.PollImmediate` on clusterctl.

[2019-10-10 15:42] ncdc commented on #1242
We are no longer maintaining v0.1.x. I'm going to remove the milestone so we can retriage this.

/milestone clear

[2019-10-10 15:46] ncdc commented on #1441
/milestone v0.3.0

Trying to keep only the bare minimum in v0.2.x so we can eventually close it out

[2019-10-10 15:46] ncdc commented on #1421
/milestone v0.3.0

Trying to keep only the bare minimum in v0.2.x so we can eventually close it out

[2019-10-10 15:46] ncdc commented on #1370
/milestone v0.3.0

Trying to keep only the bare minimum in v0.2.x so we can eventually close it out

[2019-10-10 16:46] #994 closed

[2019-10-10 16:49] michaelgugino opened #1514 "machine-controller: block deletion with finalizer/annotation"
**User Story**

As an operator I would like to have the ability to build custom components that integrate into the life-cycle of a machine.  Specifically, I would like to have the ability to perform different actions between the time a machine is deleted in the api and the time the machine is deleted from the cloud.

One use-case is to ensure that a new master machine has been successfully created

[2019-10-10 16:52] ncdc commented on #1514
Thank you for filing this! I have been thinking about a need for this too.

[2019-10-10 16:58] detiber commented on #1514
@michaelgugino I do like this idea, however how would a service implementing one of these hooks know that it is time to act? Would we need to add some type of status field to tell the hook service that it is time to attempt to act and remove it's entry from the finalizer?

I also wonder if having each hook register it's own separate finalizer might make sense in this case, since it would avoid pot

[2019-10-10 17:14] vincepri commented on #1514
Instead of adding more finalizers to the Machine, which might require write permissions to external controllers to Cluster API. We could add a list of external CRD dependencies in Spec which we wait for, like we do today for bootstrap and infrastructure references.

Something like (don't mind the name too much):

[code]

Each dependency is an object reference to _any_ external object. The external

[2019-10-10 17:15] ncdc commented on #1514
Would it be appropriate to table the implementation details discussion for now, and move this to a CAEP?

[2019-10-10 17:57] munnerz commented on #1496
If there's anything we in the cert-manager project can do to help here, please let me know and feel free to reach out 😄

[2019-10-10 20:38] chuckha opened #1518 "[docs] Kubernetes support matrix"
/kind documentation

Write down supported Kubernetes versions. The questions I would like answered are:

1. What versions of kubernetes can I install with a given version of Cluster API?
2. Do we ever drop support for a kubernetes version?

To understand why this is a difficult question let's examine Cluster API v1alpha2. When we started it, CAPI v1alpha1 supported Kubernetes v1.13, v1.14 and v1.1

[2019-10-10 20:47] detiber commented on #1518
With the current state of things (v1alpha2+), the real restriction is currently based on the versions supported by CABPK through the exposed kubeadm configuration.

For official support, I would like to state plainly that we do not support any Kubernetes versions < n-2, since those fall out of support by Kubernetes proper.

I'm not sure that v1.17 will support kubeadm v1beta1 with the adoption of

[2019-10-10 20:53] neolit123 commented on #1518
we marked v1beta1 in kubeadm as deprecated this cycle (1.17), so it will be removed in 1.20.
(was originally planned for removal in 1.18).

[2019-10-10 21:13] detiber commented on #1518
(was originally planned for removal in 1.18).

Nice

[2019-10-10 22:51] wfernandes commented on #1477
/lifecycle active
Wanted to start a discussion regarding what metrics do we want our controllers to track.

This file ([capi-metrics.txt](https://github.com/kubernetes-sigs/cluster-api/files/3714870/capi-metrics.txt)) contains _some of_ the current metrics provided by the controller_runtime framework.

I noticed we have an event recorder that is being used by some of the controllers to track impor

[2019-10-10 22:54] wfernandes commented on #1480
I'm holding off on this documentation until issue https://github.com/kubernetes-sigs/cluster-api/issues/1469 has been resolved.

[2019-10-10 23:08] wfernandes commented on #1477
Adding these for reference:
Kubernetes Instrumentation Guidelines: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation/instrumentation.md

[2019-10-11 12:07] detiber commented on #1477
We've talked about adding additional events to the Machine. For example, I think it would make sense to emit an event based on the following things:
- Status.BootstrapReady is set
- Status.InfrastructureReady is set
- Status.NodeRef is set
- ErrorReason/ErrorMessage is set

[2019-10-11 13:11] randomvariable commented on #1477
We've also just added https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/observability.md to the AWS provider, a similar doc here would also be useful to consumers.

[2019-10-11 14:18] timothysc opened #1521 "Follow consistent api-grouping standards"
**What steps did you take and what happened:**
Currently we miss-use api-groups in cluster api which don't make sense from a consumption model.  API-groups are a unit of consumption that are versioned together and who concepts and dependencies are self contained where possible.

We should not have multiple api-groups per concept b/c the concepts are co-dependent and are not consumable in their own

[2019-10-11 14:22] ncdc commented on #1521
Could you please be specific with the changes you'd like to see? Thanks!

[2019-10-11 14:24] timothysc commented on #1521
infrastructure.cluster.x-k8s.io + bootstrap.cluster.x-k8s.io => cluster.x-k8s.io

[2019-10-11 14:25] ncdc commented on #1521
Thank you 😄

Although if we change the api group, we can't do conversion webhooks

[2019-10-11 14:35] detiber commented on #1521
Do we expect that provider implementations would always be versioned in lockstep with core cluster-api?

[2019-10-11 14:53] vincepri commented on #1521
In v1alpha2 we decided to use multiple API groups for a number of reasons:

- Permissions: Cluster API grants itself RBAC permissions for all resources in those API groups, without the need for a provider to grant additional RBAC for each of their types, which happened in v1alpha1.
- Extensibility: Folks can add to these groups without touching Cluster API, or following CAPI versions.
- Responsibi

[2019-10-11 14:57] ncdc commented on #1521
I think this is worth considering when we decide it's time to graduate from alpha to beta maybe?

[2019-10-11 16:35] timothysc commented on #1206
Closing this as we have thought about different approach here.

[2019-10-11 16:35] #1206 closed

[2019-10-11 16:46] vincepri opened #1522 "Status.Phase values in Cluster and Machine should be consistent with k/k"
Currently, in [Cluster](https://github.com/kubernetes-sigs/cluster-api/blob/484d4c6e4401efcbbb5a6949564c7d8f6d2151e8/api/v1alpha2/cluster_phase_types.go#L32-L51) and [Machine](https://github.com/kubernetes-sigs/cluster-api/blob/484d4c6e4401efcbbb5a6949564c7d8f6d2151e8/api/v1alpha2/machine_phase_types.go#L32-L60) the `Status.Phase` field values aren't following upstream conventions, they should all

[2019-10-11 16:48] vincepri commented on #1506
Starting to track some breaking changes:

- https://github.com/kubernetes-sigs/cluster-api/issues/1418
- https://github.com/kubernetes-sigs/cluster-api/issues/1522

[2019-10-11 16:52] tahsinrahman commented on #1522
/assign

[2019-10-11 17:07] ncdc commented on #1522
@tahsinrahman this can't be implemented until we have the v1alpha3 api package

[2019-10-11 21:30] #1503 closed

[2019-10-13 16:48] tahsinrahman commented on #1505
I'm thinking of doing like this.

I'm not sure what scripts to run when corresponding dirs are changed, so I've referenced two new scripts `./scripts/ci-capd.sh` and `./scripts/ci-cabpk.sh` that we don't have yet. Does it look ok? :)

https://github.com/kubernetes/test-infra/compare/master...tahsinrahman:capa?expand=1

[2019-10-14 09:55] fabriziopandini commented on #1085
@timothysc @ncdc
The way forward for clusterctl currently under discussion does not include an operator, so IMO we can close this issue and eventually reiterate/re-open if necessary

[2019-10-14 09:57] fabriziopandini commented on #1065
@timothysc @ncdc
There is a CAEP in flight defining the way forward for clusterctl, so IMO we can close this issue
In the meantime, I'm moving pivoting bits to a separated issue

[2019-10-14 10:09] enxebre opened #1524 "Add immutable maker for fields in CRDs definitions"
**User Story**

As a user I would like to be notified early about immutable fields for a better UX
As a developer I would like to notify early about immutable fields for a better UX and prevent not supported corner cases scenarios to take place.

**Detailed Description**
Once CRDs support immutable fields we need to add the immutable markers in the core API and providers where is relevant https://

[2019-10-14 10:15] fabriziopandini opened #1525 "Define clusterctl move process"
[2019-11-26 Updated] according to https://github.com/kubernetes-sigs/cluster-api/pull/1730#discussion_r346935816 Pivot is now rebranded into Move; issue updated accordingly

**User Story**

As an operator I would like to move cluster objects and all the associated resources (Machines, Machine Depolyments etc.) from the current management cluster to another management cluster for any reason

**Deta

[2019-10-14 10:20] fabriziopandini commented on #1525
from https://github.com/kubernetes-sigs/cluster-api/issues/1065#issuecomment-505475948

from comments in the [GDOC for clusterctl redesing proposal](https://docs.google.com/document/d/1FvdObVNkZt9aHAZ-7X-UKS-VjWx3e0UJzuoKVeNXAaE/edit)

or:

[2019-10-14 10:26] fabriziopandini commented on #1490
Similar to this:
Defining a convention for scaling up / down a provider, where scaling down to 0 == shut down the provider

[2019-10-14 13:45] chuckha opened #1526 "[capd] make sure kubebuilder tooling works in capd"
We are unsure if kubebuilder tooling works fully with nested Projects

https://github.com/kubernetes-sigs/cluster-api/pull/1485#discussion_r333601051

This is an issue to track that we make sure the kubebuilder tooling works.

/kind bug

[2019-10-14 14:06] vincepri opened #1527 "Ship CAPI with batteries included"
**User Story**

As a developer/user/operator I would like to deploy a single Cluster API manager/binary with everything except cloud providers for easier management of Cluster API resources

**Detailed Description**

[A clear and concise description of what you want to happen.]

***Goals***
- Ship Cluster API manager including CABPK, and possibly the future control plane manager.
- Deploy all CRDs

[2019-10-14 14:09] vincepri commented on #1505
We might be able to avoid this if we do #1527

[2019-10-14 14:10] #1502 closed

[2019-10-14 14:53] fabriziopandini commented on #1527
/assign

[2019-10-14 15:01] detiber commented on #1525
I would also add a potential for:
3) Add an annotation to inform cluster-api controllers to not reconcile resources, that way the annotation could be applied prior to pivoting for all resources, and removed after pivoting all resources.

[2019-10-14 15:02] chuckha opened #1528 "Surprising version using kustomize"
**What steps did you take and what happened:**
Running `kustomize build https://github.com/kubernetes-sigs/cluster-api//config/default?ref=release-0.2` gets YAML that references the `:master` image when I would expect that to reference the `release-0.2` image instead

Note: this may not be a bug and may be a mismatch of my understanding and what is actually happening. This is not a blocker as I ca

[2019-10-14 15:09] fabriziopandini commented on #1525
@detiber ACK, updated. WRT the implementation, we can consider also the option to scale down controller deployments

[2019-10-14 15:09] detiber commented on #1524
@enxebre Which Kubernetes release is this being targeted for? Is this something that will fail gracefully when deployed on earlier versions of k8s, or will it introduce a hard requirement for a minimum version of k8s for the management cluster?

[2019-10-14 15:11] detiber commented on #1525
100%, I'm just thinking of ways that are potentially less error prone and generally more forgiving to changes such as the one from v1alpha1 to v1alpha2 where we switched from StatefulSets to Deployments.

[2019-10-14 16:07] vincepri commented on #1528
Duplicate of https://github.com/kubernetes-sigs/cluster-api/issues/1509

/close

[2019-10-14 16:07] #1528 closed

[2019-10-14 16:08] vincepri commented on #1521
/milestone Next
/priority important-longterm

[2019-10-14 18:47] #1496 closed

[2019-10-14 19:30] #1522 closed

[2019-10-14 20:22] harishspqr commented on #1477
It would be great if the cluster/machine deployment create/delete/resize latencies can be included in the CRD status field once they are created.

[2019-10-14 20:23] ncdc commented on #1477
@harishspqr if we record them, they wouldn't be included in the status field. They would be exposed as metrics accessible from the metrics server port.

[2019-10-14 20:25] detiber commented on #1477
@harishspqr What type of calculation are you looking for out of these latencies?
- The duration from request to completion?
- The duration from request to start of provisioning?
- The duration from start of provisioning to finished provisioning?
- All of the above?

[2019-10-14 21:32] vincepri commented on #1141
/lifecycle active

[2019-10-14 21:33] ncdc commented on #1141
I think Vince & I chatted about this but didn't record our conversation - my suggestion is to leave v1alpha2 alone, and make this a required field for v1alpha3.

[2019-10-14 21:33] vincepri commented on #1141
Yep -- that's what I'll be working on :)

[2019-10-14 22:12] dlipovetsky opened #1533 "docs/book: Use weave CNI with docker quickstart"
Upsides of using weave CNI:
- Avoid a known issue with Calico, kind v0.5.1, and CAPD v0.2.0.
- Remove need to override`Cluster.Spec.ClusterNetwork`

See https://github.com/kubernetes-sigs/cluster-api/pull/1484#discussion_r331046681

[2019-10-14 22:40] dlipovetsky opened #1534 "docs/book: Add MacOS instructions for quick start with Docker provider"
See https://github.com/kubernetes-sigs/cluster-api/pull/1484#discussion_r331096336

/cc @erwinvaneyk

[2019-10-14 22:42] dlipovetsky opened #1535 "docs/book: Refactor KIND configuration in quick start"
See https://github.com/kubernetes-sigs/cluster-api/pull/1484#discussion_r331060969 and https://github.com/kubernetes-sigs/cluster-api/pull/1484#discussion_r331092721

[2019-10-14 22:46] aaroniscode opened #1536 "v1alpha2 clusterctl fails if Cluster or other resources do not have a namespace defined."
**What steps did you take and what happened:**

Using the following `cluster.yaml`

[code]

Running `clusterctl` like this:

[code]

`clusterctl` fails with:

[code]

**What did you expect to happen:**

Cluster to be created, and pivot to occur.

**Anything else you would like to add:**

This appears to be an issue with `clusterctl` not liking that there is no namespace explicity referenced in `cl

[2019-10-14 23:10] aaroniscode opened #1537 "v1alpha2 clusterctl doesn't apply provider refs (like AWSCluster), if Ref's are missing namespace"
**What steps did you take and what happened:**

Using the following `cluster.yaml`

[code]

Running `clusterctl` like this:

[code]

`clusterctl` fails with:

[code]

**What did you expect to happen:**

Cluster to be created, and pivot to occur.

**Anything else you would like to add:**

`clusterctl` only applied the `Cluster` object and not the `AWSCluster` object.  Also the `Machine` was created

[2019-10-14 23:19] aaroniscode opened #1538 "v1alpha2 clusterctl fails on pivot"
**What steps did you take and what happened:**

Using the following `cluster.yaml`

[code]

Running `clusterctl` like this:

[code]

Then worked around issue #1537 by deploying the `AWSCluster` and `AWSMachine` yamls directly to the kind cluster.

`clusterctl` fails with:

[code]

**What did you expect to happen:**

Cluster to be created, and pivot to occur.

**Anything else you would like to add:

[2019-10-14 23:32] vincepri commented on #1538
Which `clusterctl` version are you using?

[2019-10-14 23:39] aaroniscode commented on #1538
v0.2.3 ... I didn't see any closed issues or fixes related to this in newer versions, but I can test tomorrow on latest if you'd like.

[2019-10-15 06:18] sirao opened #1542 "cluster deletion command hangs"
Executed below commands:
1. kind create cluster --name test-mc
2. export KUBECONFIG="$(kind get kubeconfig-path --name="clusterapi1")"
3. kubectl create -f https://github.com/kubernetes-sigs/cluster-api/releases/download/v0.2.4/cluster-api-components.yaml
4. kubectl create -f https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/releases/download/v0.1.0/bootstrap-components.yam

[2019-10-15 12:28] ncdc commented on #1542
Hi, thank you for the very detailed report! This was actually a [bug](https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1191) introduced in CAPA (cluster-api-provider-aws) v0.4.1. It was fixed [here](https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1192). We have not released an updated version of CAPA with the fix in clusterawsadm yet, so for the time being, you c

[2019-10-15 13:38] sttts commented on #1524
It uses unknown fields from the point of view of an old kube version, and hence those fields are just ignored by an old API server.

[2019-10-15 14:13] liztio commented on #1506
/lifecycle active
/assign

[2019-10-15 14:19] detiber commented on #1524
ok, so it sounds like we'd need to do validation through a webhook as well for enforcing this behavior until we can rely on a version of k8s that supports this natively.

[2019-10-15 14:30] chuckha opened #1543 "Figure out what to do with submodule Makefiles"
Now that we have multiple modules (assuming the cabpk one merges) in this repo, we need to figure out the interactions between Makefiles and release.

I like keeping modules fairly independent and responsible for their own Makefiles, but this super duper subjective so any other ideas would be good to have. This vision is: top level makefile calls module makefiles and each module has its own makefi

[2019-10-15 14:31] ncdc commented on #1543
Question: do we need to have cabpk and capd as separate go modules?

[2019-10-15 14:34] aaroniscode commented on #1538
@vincepri tested with `clusterctl` v0.2.5 and failed in the same manner

[2019-10-15 14:39] detiber commented on #1543
Arguable, but if we intend for them to be reference implementations for developers that want to create their own provider implementations, then having them as Go modules with their own Makefile, prow tooling, etc would help.

[2019-10-15 14:39] chuckha commented on #1543
no, but they would still need their own release process, or at least CAPD would

One thing I liked about CAPD as a separate repo was that it give people a place to look and see how it was structured. That's a lot more buried and now providers have to go to the more complex providers such as CAPA or CAPV

But overall, no, there's no strict requirement that they need to be separate go modules.

[2019-10-15 14:39] chuckha commented on #1543
/kind community/discussion

[2019-10-15 14:41] detiber commented on #1543
That said, the value of a reference implementation is pretty limited. When we provided a skeleton repo most people hit issues with copy/paste errors and missing places they needed to rename/modify for their own types/purposes. Having a walkthrough of creating a provider from scratch as we did in the v1alpha1 docs was a much smoother onboarding approach for new projects.

[2019-10-15 14:41] chuckha commented on #1543
/community discussion

[2019-10-15 14:42] chuckha commented on #1543
/label community/discussion

[2019-10-15 14:42] detiber commented on #1542
@ncdc I thought that issue was resolved with the v0.4.2 release here: https://github.com/kubernetes-sigs/cluster-api-provider-aws/releases/tag/v0.4.2

[2019-10-15 14:43] ncdc commented on #1542
I had thought that too, but we haven't released a tag containing the merge commit yet: https://github.com/kubernetes-sigs/cluster-api-provider-aws/commit/6bf9d72f6039e4d037c57a9075d6b52dbb38b2c8

[2019-10-15 14:45] ncdc commented on #1543
I don't know about capd, but for capi + cabpk, the proposal in #1527 is to ship a single manager binary in a single image that has all the controllers for capi and cabpk. We wouldn't have to make any edits to the Makefile for the manager binary/image - we would instead need to add the cabpk controller setup code into capi main.go. I am not sure how kubebuilder, `make generate`, etc. would work for

[2019-10-15 14:47] chuckha opened #1544 "[cabpk] Rename kubeadm package because `kubeadm/kubeadm/` is redundant"
/kind bug

If you have feelings about what to name a package containing copy/pasted kubeadm types please write them here.

[2019-10-15 14:47] detiber commented on #1527
If we do this, I would like to make sure that we don't consolidate the controllers for the different "providers" into the same go package, and that we do some level of verification that we aren't importing core logic that external providers do not have access to in the "default" provider implementations.

[2019-10-15 14:50] ncdc commented on #1527
+1. We aren't planning on merging all the controllers into a single package. Hopefully that won't be an issue with kubebuilder. If you see any evidence of preferential coding treatment to in-tree providers, definitely raise a concern. We're ok for now, though, given the current state of the repo.

[2019-10-15 15:12] sttts commented on #1524
yes, if you want to enforce it for older kube versions.

[2019-10-15 15:38] vincepri commented on #1527
@chuckha How do you feel about the above? I can take those action items if you don't have time.

[2019-10-15 15:42] fabriziopandini commented on #1527
I'm + 1 with Jason on getting moving with and then iterate simplifying automation
But somehow, we should preserve the ability to work on single pieces and assemble everything at release/package time

[2019-10-15 15:44] vincepri commented on #1527
I'm fine to merge the PR, I'd like to make sure we're aligned on the state of the repository after it merges, happy to do the work

[2019-10-15 16:06] chuckha commented on #1527
Big +1 on alignment. Let's merge the PR and then get to this point iteratively.

[2019-10-15 16:10] vincepri commented on #1527
/assign
/lifecycle active

[2019-10-15 16:59] aaroniscode commented on #1537
Was able to work-around by adding `namespace: default` to the InfrastructureRef's and ConfigRef's

[2019-10-15 17:04] aaroniscode commented on #1538
@vincepri this was resolved by adding `namespace: default` to all the InfrastructureRef's and ConfigReg's!!

So this and #1537 are probably the same issue, just errors occurring in different spots

[2019-10-15 17:40] vincepri commented on #1538
@aaroniscode Can we merge the issues together?

[2019-10-15 17:43] aaroniscode commented on #1537
Close as a duplicate of #1538

[2019-10-15 17:43] #1537 closed

[2019-10-15 17:45] aaroniscode commented on #1538
@vincepri you OK if I take a look at the code and see if I can put together a PR?    Might take me until next week as I need to find time.

[2019-10-15 17:48] vincepri commented on #1537
/close

[2019-10-15 18:26] ncdc opened #1546 "external.Get should take in a context.Context as its first parameter"
/kind cleanup
/help
/milestone v0.5.0
/priority important-longterm

[2019-10-15 18:28] vincepri commented on #1538
Sure thing, make sure to assign and `/lifecycle active` once you start working on it :)

[2019-10-15 18:43] vincepri opened #1547 "Use Spec.ClusterName to get the linked cluster"
As a follow-up to https://github.com/kubernetes-sigs/cluster-api/pull/1539#discussion_r335020736, we can improve the code to use Spec.Name to get the cluster instead of using the util metadata label.

/kind important-longterm
/kind feature
/help
/milestone v0.3.0

[2019-10-15 18:44] vincepri commented on #1547
/priority important-longterm

@noamran Would you be interested in this issue? We'd have to wait for the linked PR to merge first though

[2019-10-15 18:52] noamran commented on #1547
Sure! Thanks for tagging me.

[2019-10-15 18:54] vincepri commented on #1547
I'll assign myself, even if you work on it :)

[2019-10-15 21:11] dlipovetsky opened #1549 "Cherry-pick quick start for Docker from release-0.2"
CAPD is moving in-tree. Once changes for v1a3 are clear, cherry-pick the changes in https://github.com/kubernetes-sigs/cluster-api/pull/1484.

See https://github.com/kubernetes-sigs/cluster-api/pull/1484#issuecomment-542403365

[2019-10-15 21:29] vincepri opened #1550 "Document how to upgrade from v1alpha2 to v1alpha3"
This is a release blocker, we need documentation on how to upgrade from v1alpha2 providers to v1alpha3.

/kind documentation

[2019-10-15 21:34] detiber commented on #1550
@vincepri can you please add some more context on the CABPK related changes for v1alpha2 to v1alpha3? especially around the way the components will no longer be distributed from the old repo and the manager will no longer be a separate Deployment?

[2019-10-15 21:37] vincepri commented on #1550
Yeah, once I get more items, I'll open the sub-issues, this is to track the larger effort of upgrading from v1alpha2

[2019-10-15 21:37] vincepri opened #1551 "Add shellcheck to make verify"
As part of `make verify` target, we should also run shellcheck on all the scripts in this repository. An example is available in the CABPK repository https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/blob/master/hack/verify-shellcheck.sh

/kind feature
/help
/milestone v0.3.0
/priority important-longterm

[2019-10-15 21:40] vincepri opened #1552 "Enable more golangci-linters"
In `.golangci.yml` file we disabled a bunch of linters over time while we were doing work to upgrade v1alpha1 to v1alpha2. In the future, we should trim down the list of disabled linters a minimum.

For example, removing these and running `make lint-full` results in a bunch of returned errors
- gocritic
- staticcheck
- unparam
- unused

/kind feature
/help
/milestone v0.3.0
/priority important-lon

[2019-10-15 21:42] vincepri opened #1553 "Avoid using //nolint in the codebase"
Unless absolutely necessary, we should try and remove the `//nolint` comments in the codebase by fixing the linting issues.

/kind feature
/help
/priority backlog
/milestone v0.3.0

[2019-10-15 21:46] detiber commented on #1553
@vincepri can you call out specific context? Otherwise we are likely to just close this the next time we do backlog grooming.

[2019-10-16 00:10] #1418 closed

[2019-10-16 04:36] sirao commented on #1542
@ncdc You suggestion fixed the issue. I even tried building clusterawsadm from the latest code and repeated the same steps which doesn't have any issue.

[2019-10-16 05:08] tahsinrahman commented on #1553
/assign
/lifecycle active

[2019-10-16 05:08] tahsinrahman commented on #1552
/assign
/lifecycle active

[2019-10-16 05:25] tahsinrahman commented on #1553
/unassign
/remove lifecycle active
/assign @prankul88

[2019-10-16 05:26] prankul88 commented on #1553
@tahsinrahman Thanks.
I would like to take this up.

[2019-10-16 06:00] sirao opened #1554 "cluster with same name under different namespace is provisioned but no infra created"
**What steps did you take and what happened:**
Execute below commands:
1. kind create cluster --name=test-mc
2. export KUBECONFIG="$(kind get kubeconfig-path --name="clusterapi1")"
3. kubectl create -f https://github.com/kubernetes-sigs/cluster-api/releases/download/v0.2.4/cluster-api-components.yaml
4. kubectl create -f https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/rel

[2019-10-16 07:07] prankul88 commented on #1551
@vincepri Hi, Do you like the implementation where CABPK uses `utils.sh` for getting root path?

[2019-10-16 13:19] detiber commented on #1554
There is a similar issue tracked against CAPA here: https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/969

I do think this is something that we should probably validate and try to guard against in CAPI rather than CAPA, though.

[2019-10-16 13:28] tahsinrahman opened #1557 "external.CloneTemplate should take in a context.Context as its first parameter"
As discussed in https://github.com/kubernetes-sigs/cluster-api/pull/1555#discussion_r335452025, external.CloneTemplate should also be updated to take a context as well
/kind cleanup
/help
/milestone v0.5.0
/priority important-longterm

[2019-10-16 15:42] detiber commented on #1554
@liztio we should probably ensure that we are validating this as part of the validating webhooks work you are doing.

[2019-10-16 16:05] chuckha commented on #1543
sounds good. I'm ok closing this this in favor of #1527 if you are.

[2019-10-16 16:26] detiber opened #1559 "Provide a replacement for the previous CABPK reference implementation for implementors"
**What steps did you take and what happened:**

With #1545 we will no longer be able to point folks interested in creating a bootstrap provider towards CABPK as a reference implementation. We need to provide a replacement for this (could be docs, could be a test reference implementation, etc). The replacement should be sufficient to get started with a bootstrap provider without having to disentang

[2019-10-16 16:32] wfernandes opened #1561 "docs/book: Update quick start guide for CAPA with cert-manager changes"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
I followed the quickstart instructions for deploying CAPA and noticed that the CAPA controller manager wasn't starting up.

**What did you expect to happen:**
Expected everything to either work as before or documentation indicating what steps need to be taken to get a quick start state.

*

[2019-10-16 16:33] tahsinrahman commented on #1557
/assign
/lifecycle active

[2019-10-16 16:43] vincepri opened #1565 "docs/book: Update CAPD quickstart once ships in this repository"
/kind documentation
/milestone v0.3.0
/priority important-longterm
/help

[2019-10-16 16:43] #1527 closed

[2019-10-16 16:57] #1141 closed

[2019-10-16 17:02] thebsdbox opened #1566 "Unable to delete a cluster when infrastructureRef is defined incorrectly"
**What steps did you take and what happened:**
Creating a cluster definition with the incorrect infrastructureSpec results in a cluster resource that can't be deleted, also exhibiting the same behaviour on the namespace where it exists.

Example Cluster:

[code]

Applying this will create a new cluster resource in the namespace `blank` as expected:

[code]

**What did you expect to happen:**

That

[2019-10-16 17:07] #1557 closed

[2019-10-16 17:10] vincepri opened #1567 "Add cluster label to infrastructure and bootstrap resources"
Cluster and Machine controllers should add the `cluster-name` label to external objects (i.e. bootstrap and infrastructure objects) in addition to the owner reference.

/kind feature
/milestone v0.3.0
/help
/priority important-longterm

[2019-10-16 17:19] #1549 closed

[2019-10-16 17:36] dlipovetsky commented on #1534
/lifecycle active

[2019-10-16 17:51] ncdc commented on #1526
This works.
/close

[2019-10-16 17:51] #1526 closed

[2019-10-16 17:55] ncdc commented on #1533
@neolit123 mentioned there might be some issues with Weave and docker-in-docker

[2019-10-16 18:02] detiber commented on #1533
The initial motivation around this issue was to help simplify the quickstart examples used, and avoid user confusion on why we are overriding the podCIDR in the KubeadConfig rather than leaning on defaults.

[2019-10-16 18:04] detiber commented on #1514
Potentially, but I think having explicit management around it within the ControlPlane management implementation as defined within the [CAEP draft](https://docs.google.com/document/d/1b5cgbVmvLeY5GRly-hqFHNvGq8tIV-H6gFkp4fUh_XE/edit) would be less error prone.

[2019-10-16 19:21] vincepri commented on #1567
/lifecycle active

[2019-10-16 19:25] vincepri opened #1569 "Find better name for clusterv1.MachineClusterLabelName"
The variable name is a little misleading as this label isn't applied only to machines, or not anymore. We should find a better name such as `LabelClusterName` or similar, open to suggestions.

As part of this change, make sure to update the `v1alpha2-to-v1alpha3.md` document with the changes providers will need to apply.

/priority important-longterm
/milestone v0.3.0
/kind cleanup

[2019-10-16 19:49] detiber commented on #1569
I think `ClusterLabelName` might read a bit better, but not overly picky here.

[2019-10-16 20:06] vincepri commented on #1569
Either way :)

Also,
/help

[2019-10-16 20:39] vincepri opened #1586 "[cabpk] Split Reconcile in multiple logical sub-methods"
/kind feature

**Describe the solution you'd like**
The current `Reconcile` method has a lot of logic in it that could be extrapolated out in different reconciliation steps as sub-methods, which would also have the benefit of allow for more detailed unit testing.

[2019-10-16 20:41] detiber commented on #1585
This can likely be closed now that CABPK isn't a separate module with separate tooling.

[2019-10-16 21:09] ncdc commented on #1542
Great, thanks for reporting back!
/close

[2019-10-16 21:09] #1542 closed

[2019-10-16 21:10] vincepri commented on #1585
This has been done as part of #1545

/close

[2019-10-16 21:10] #1585 closed

[2019-10-16 21:44] ncdc opened #1589 "Remove use of ginkgo/gomega from unit tests"
We use ginkgo/gomega for e2e tests, but not unit tests. We should remove all imports of ginkgo and gomega from unit tests and either use normal assertions such as

[code]

or rally around something like `testify`.

/kind cleanup
/priority important-longterm
/help
/good-first-issue
/milestone v0.3.0

[2019-10-16 21:48] vincepri commented on #1589
We should standardize tests around gomega/ginkgo, wdyt?

[2019-10-16 21:48] ncdc commented on #1589
I'd honestly rather use testify for unit tests, and ginkgo for e2es

[2019-10-16 21:49] vincepri commented on #1589
Either, or. I'd like to avoid g.Expect(g.Success()... etc

[2019-10-16 21:51] ncdc commented on #1589
In units, yes. Kubernetes code essentially has ginkgo as the standard framework for e2es, though.

[2019-10-16 21:51] vincepri commented on #1589
Yeah, this issue of RegisterWithT only applies to unit tests

[2019-10-16 21:53] ncdc commented on #1589
I see that now. Let me change this issue to reflect that.

[2019-10-16 22:03] ncdc commented on #1589
Chatted offline with Vince. Going to hold off on this for now. Will reopen if needed.
/close

[2019-10-16 22:03] #1589 closed

[2019-10-16 23:54] neolit123 commented on #1533
the problem we saw with WeaveNet was a special case in the prow cluster using docker-in-docker and might have been related to the VMs that GCE gives us or the kubekins image.

perhaps nobody will encounter the same problem in the wild:
https://github.com/weaveworks/weave/issues/created_by/neolit123

i think Weave as the default is OK, but if someone wants to test a different CNI they should resort

[2019-10-17 02:05] aaroniscode commented on #1536
/assign @aaroniscode
/lifecycle active

[2019-10-17 02:40] gyliu513 commented on #1554
@detiber shall we provide a concept table to show what is CAPI, CAPA? I assume CAPI is cluster api provider interface and CAPA is cluster-api-provider-aws?

[2019-10-17 03:12] vincepri commented on #1490
I stumbled upon this issue reading the clusterctl proposal, we've already started an effort to label external objects https://github.com/kubernetes-sigs/cluster-api/pull/1570

[2019-10-17 05:40] noamran opened #1591 "[cabpk] Pre/PostKubeadmCommands are not properly escaped"
/kind bug

This is a copy of [cabpk-192](https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/issues/192). For more context, please refer to the original issue.

  **What steps did you take and what happened:**

  I applied the following `KubeadmConfig` configuration:

[code]

  Which resulted in the following `runcmd` being rendered and stored in the `.Status.BootstrapData`:

[2019-10-17 05:49] gyliu513 commented on #1554
Ah, I saw the glossary at https://cluster-api.sigs.k8s.io/reference/glossary.html#c , thanks @detiber

[2019-10-17 05:54] gyliu513 opened #1592 "How to add `cluster api provider ibmcloud` to glossary"
I found in the document https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/book/src/reference/glossary.md#capi , it mentioned that `CAPI` means `Core Cluster API`, but how to add `cluster api provider ibmcloud` here? The short name seems also `capi`.

How about we rename the `Core Cluster API` to `CAP`?

FYI @detiber @vincepri

[2019-10-17 09:05] tahsinrahman commented on #1569
/assign

[2019-10-17 13:32] #969 closed

[2019-10-17 13:42] #1203 closed

[2019-10-17 13:45] detiber commented on #1592
@gyliu513 we've encountered this in the past with AWS (CAPA) and Azure (CAPZ) in the past, since IBM is already pretty short, could I recommend CAPIBM?

I think trying to change the convention for what we call CAPI would cause too much confusion at this point.

[2019-10-17 13:58] #1569 closed

[2019-10-17 14:13] gyliu513 commented on #1592
Thanks @detiber , it does make sense, can you help review the PR?

[2019-10-17 14:28] #1581 closed

[2019-10-17 14:29] ncdc opened #1597 "[flake] Cluster Reconciler [It] Should successfully set Status.ControlPlaneInitialized on the cluster object if controlplane is ready"
**What steps did you take and what happened:**
`Cluster Reconciler [It] Should successfully set Status.ControlPlaneInitialized on the cluster object if controlplane is ready ` is flaking. From https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api/1595/pull-cluster-api-test/1184834417806282752/build-log.txt:

[code]

**What did you expect to happen:**
No test fl

[2019-10-17 14:33] akutz opened #1598 "Shifting dependency versions in same release branch causing downstream issues"
**What steps did you take and what happened:**
There seems to be some module weirdness originating out of the [Cluster API Upgrade Tool](https://github.com/vmware/cluster-api-upgrade-tool/blob/master/go.mod) centered around the [`github.com/Azure/go-autorest`](https://github.com/Azure/go-autorest) package.

The upgrade tool pulls in `k8s.io/client-go@v11.0.1-0.20190409021438-1a26190bd76a+incompati

[2019-10-17 14:36] ncdc commented on #1598
Going forward, I would like to do a better job of staying on a fixed version of controller-runtime, controller-tools, client-go, apimachinery, etc., within a patch stream.

[2019-10-17 14:36] akutz commented on #1598
/remove-kind bug

[2019-10-17 14:37] akutz commented on #1598
Hi @ncdc,

Thanks! Yeah, my concern is the going forward part -- hence the suggestion of the comments to make things easier for downstream consumers. But even then it will be tough to catch these as CAPI and its ecosystem grows. I wonder if some job should be set up to ensure there are no graph conflicts across a specified number of related repositories?

[2019-10-17 14:37] vincepri opened #1599 "Update golangci-lint to v0.1.21"
The new version brings in a lot of new linters, we'll need to decide which one we want to keep. Some linters like `godox` (which disallow TODO in comments) should be disabled, others like `wsl` might be too opinionated and could be disabled as well.

/kind feature
/help
/priority backlog

[2019-10-17 15:08] vincepri commented on #1514
That seems like a good approach to me, I'd make the hook generic though, something like:

[code]

The labels could be specified in spec and a reconciler could backfill those, the reason to keep them is to quickly list all the hooks related to a specific type. The APIGroup could be un-necessary, haven't thought much about it.

[2019-10-17 15:15] vincepri opened #1600 "Manager cannot list configmap resources"
Running the controller, you'll be greeted with this error:
[code]

/kind bug
/milestone v0.3.0
/priority important-critical
/lifecycle active
/assign

[2019-10-17 15:21] vincepri commented on #1598
/area dependency
/area release

I'm not sure if this issue is directly actionable, it seems we might need a policy written somewhere in the repository, but that might be a different issue

[2019-10-17 15:28] #1591 closed

[2019-10-17 15:48] #1592 closed

[2019-10-17 16:00] #1567 closed

[2019-10-17 16:34] chuckha opened #1602 "master cannot manage multiple clusters"
This PR introduced a breaking change. https://github.com/kubernetes-sigs/cluster-api/pull/1595. The bug is subtle, but the secretsClient that was a remote client to the workload cluster has been replaced with a client to the management cluster. This means ALL clusters managed by the management cluster will share a kubeadm bootstrap join token. This means it will still work if number of clusters (n

[2019-10-17 16:36] chuckha commented on #1602
The implementation to fix this is a couple of steps:

[CAPI] Create a new function (or break the API and change the existing function) to get a client for a remote cluster.
[CABPK] Use the new function to generate a client for a cluster object, similar to what we were doing before.

[2019-10-17 16:38] vincepri commented on #1602
/milestone v0.3.0
/help

[2019-10-17 16:45] detiber commented on #1602
Actually, I think the bug is that tokens wouldn't work at all, since the joining cluster will attempt to connect to it's workload cluster control plane for authentication and the bootstrap token will not exist there (even for a single cluster).

[2019-10-17 16:46] chuckha commented on #1602
oh. that's even worse...hmm i guess the e2es on master should be failing then? the GCP ones maybe?

[2019-10-17 16:48] ncdc commented on #1602
My bad on missing this in my review - sorry ☹️

[2019-10-17 16:49] ncdc commented on #1602
/assign

[2019-10-17 16:49] aaroniscode commented on #1538
/assign @aaroniscode
/lifecycle active

[2019-10-17 16:59] chuckha commented on #1602
no problem, it's just master 😂

it's always so hard to know when to slow down and when to simply merge the PR

[2019-10-17 17:04] #1552 closed

[2019-10-17 17:09] detiber opened #1604 "Remove use of `init()` and `AddToScheme` in util/util.go"
**What steps did you take and what happened:**

We currently have an `init()` method in util/util.go which calls `clusterv1.AddToScheme()`, which we should not be doing for a utility library that is intended to be used by external tooling. If there is a dependency on this, it should be documented as a requirement.

/kind bug

[2019-10-17 17:17] tahsinrahman commented on #1599
/assign
/lifecycle-active

[2019-10-17 17:24] vincepri commented on #1604
/priority important-longterm
/milestone v0.3.0
/help

[2019-10-17 17:32] ncdc opened #1606 "Change remote.NewClusterClient to return a controller-runtime client.Client"
The current signature
[code]

should be changed to
[code]

It would be nice to omit `scheme`, but I'm not sure if that's possible.

The reason for making this change is that it reduces our use on typed clients - the `ClusterClient` interface uses the `CoreV1()` typed clientset.

Because the drain code uses client-go's type client `kubernetes.Interface`, we will probably need to create a new `RestC

[2019-10-17 17:34] ncdc commented on #1597
This is flaking a lot. Raising priority

[2019-10-17 17:46] #1604 closed

[2019-10-17 18:02] vincepri opened #1609 "Enable gosec linter"
/kind cleanup
/milestone v0.3.0
/priority backlog

If there are errors reported in clusterctl, they should be ignored using `//nolint:gosec` or similar.

[2019-10-17 18:02] vincepri commented on #1609
/help

[2019-10-17 18:03] tahsinrahman commented on #1609
/assign
/lifecycle active

[2019-10-17 18:06] vincepri commented on #1606
/milestone v0.3.0

Whoever works on this, please document this breaking change in the tracking document https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/book/src/providers/v1alpha2-to-v1alpha3.md :)

[2019-10-17 18:13] vincepri commented on #1597
Thank you Thank you Thank you Thank you

[2019-10-17 18:14] #1599 closed

[2019-10-17 18:34] #1609 closed

[2019-10-17 18:57] #1600 closed

[2019-10-17 19:02] mwoodson opened #1612 "Making machine objects immutable makes managing LB's difficult"
**User Story**

As an admin of kubernetes I would like to be able to manage the LB's from within kubernetes, similar to how it is managed in machine object.

**Detailed Description**

This is a concern I have heard, so I am raising it here.  It's possible I am misunderstanding everything, as I am not a developer to this repo.

I have heard that machine objects are going to be made immutable.  Curr

[2019-10-17 19:07] detiber commented on #1612
@mwoodson I think we probably need to clarify the immutability concerns a bit.

We want to ensure immutability wrt handling of the underlying VM instance, so we should not be doing anything that mutates that VM instance after creation.

We do not plan to extend that to the Machine resource itself, which should still allow for the behavior that you are referring to.

[2019-10-17 19:08] michaelgugino commented on #1612
My preference is to have a separate controller for provider-specifc loadbalancers to add and remove instances.

There's currently not a mechanism to remove a machine from a load balancer without deleting it.

[2019-10-17 19:10] ncdc commented on #1612
For clarity, there is no code in core Cluster API that does anything with load balancers. Do you have examples of what you're doing now to add machines to / remove machines from a load balancer?

[2019-10-17 19:14] vincepri commented on #1612
Possibly related with the external effort of a load balancer provider #1250

[2019-10-17 19:15] michaelgugino commented on #1612
I don't see why that issue was closed.

I think it's reasonable to have this discussion here because it's not specific to any particular provider, rather it's an architectural concern.

[2019-10-17 19:18] ncdc commented on #1612
That issue was closed mostly coming out of discussions from the September face to face meeting, where we discussed that a component that manages/provides a load balancer doesn't necessarily need to be just for Cluster API. @timothysc suggested doing a prototype.

It's totally fine to have the discussion here. Can you help us understand how you're doing things today? Also keep in mind what I wrote

[2019-10-17 21:28] michaelgugino commented on #1612
@ncdc
Here's what we are doing downstream with respect to LB's:
https://github.com/openshift/cluster-api-provider-aws/blob/release-4.1/pkg/apis/awsproviderconfig/v1beta1/awsmachineproviderconfig_types.go#L138

I was under the impression we inherited this from upstream, but possibly not.

Generally speaking, our model is 1) Something other than machine-controller has created an ELB 2) machine-contr

[2019-10-17 21:32] ncdc commented on #1612
Ok, thanks for that. Given that core CAPI (Cluster, Machine, MachineSet, MachineDeployment) is entirely unaware of load balancers, is there anything in CAPI today that you think prevents or somehow inhibits working with load balancers in some way?

It sounds like maybe you might want to open some RFEs in provider repos, such as CAPA?

[2019-10-17 23:08] michaelgugino commented on #1612
Prevents?  No, given what I know now.  That said, I think it's still a useful exercise to describe a preferred or reference architecture that's not provider specific (even if the actual code is provider specific).

Probably more of an RFE, I agree.

[2019-10-18 15:11] #1547 closed

[2019-10-18 15:56] chuckha opened #1618 "cert-manager webhook is not starting correctly"
**What steps did you take and what happened:**
A bunch of updates to the cert-manager yaml need to happen for this to actually work. As it exists today it does not pass apiserver validation.

/assign
/lifecycle active

/kind bug

[2019-10-18 16:47] noamran commented on #1606
I can't assign myself, but I will work on this.

[2019-10-18 16:48] noamran commented on #1606
/assign

[2019-10-18 16:55] chuckha commented on #1618
not sure what the problem was. Deleted the namespace and tried again and it was fine ...

[2019-10-18 16:55] #1618 closed

[2019-10-18 18:28] ashish-amarnath commented on #1551
/assign
/lifecycle active

[2019-10-18 19:37] ncdc commented on #1612
Does this apply to core Cluster API, though?

[2019-10-18 19:50] embik commented on #1242
@ncdc sorry for the late reply! As @justinsb pointed out I feel like creating secrets that are not strictly necessary is not ideal. I'm not working on the machine api implementation that required this anymore though. I'm pinging the people that this might be relevant to.

[2019-10-18 19:52] ncdc commented on #1242
I think I'm ok looking first for the secret, then falling back to in-cluster config if the secret does not exist.

[2019-10-18 20:22] ncdc commented on #1455
After hearing feedback in #1242, proceeding with this would hinder phased adoption of Cluster API (e.g. kops wanting to manage the control plane itself, but use Cluster API for worker machines).

I believe we should therefore close this. Does that sound ok?

[2019-10-18 20:23] detiber commented on #1455
+1 from me

[2019-10-18 20:24] ncdc commented on #1455
Sold!
/close

[2019-10-18 20:24] #1455 closed

[2019-10-18 20:26] ncdc commented on #1242
/help

[2019-10-18 20:31] ncdc commented on #1242
I'd say the methods in `controllers/remote` (e.g. `NewClusterClient`) should be used everywhere we talk to a workload cluster. We should consolidate any/all logic that potentially falls back to the in-cluster config into this package, and probably rename it to `workload`. In other words (suggested method names & behavior):

- `workload.NewClusterClient` should try to create a client using the kube

[2019-10-18 21:24] #1538 closed

[2019-10-18 21:24] #1536 closed

[2019-10-19 15:23] vincepri commented on #1242
Instead of falling back, which is harder to test because the secret call has to fail first and it could lead into confusion. What if we add a new spec field or annotation to enable to in cluster client behavior?

[2019-10-20 02:38] xrmzju opened #1622 "machine controller should sense the event that infra obj turns into notReady"
if the infra obj turns from ready to notReady and not been patched with any   ErrorMsg/ErrReason, we only requeue the machine obj and stays in running state. https://github.com/kubernetes-sigs/cluster-api/blob/0da8bded303aa68acc3eb5fe29d49cf4cba7abb9/controllers/machine_controller_phases.go#L232
if the infra  machcine is recoverable(like reboot),  i don't think the infra controller should set any

[2019-10-20 15:13] yashbhutwala opened #1623 "Automate creation of k8s clusters with different storage and networking options"
**User Story**

As a user, I would like to  for streamline inputting different storage and networking options into the creation of k8s clusters

https://kubernetes.io/docs/concepts/storage/volumes/#types-of-volumes
https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins/

/kind feature

[2019-10-21 07:26] roehlc commented on #1242
Thanks for pinging me @embik .
I'm also thinking @justinsb argument for not creating a secret that isn't used is important.
I feel like falling back to the in-cluster config would be the ideal solution. If that is to difficult to test, maybe something like an additional annotation or field as suggested by @vincepri could also work.
Looking forward to progress or more ideas to get this feature done

[2019-10-21 14:07] ncdc commented on #1622
I believe this is handled in a different place. The reconcile flow is:

1. https://github.com/kubernetes-sigs/cluster-api/blob/d3140bacceea81d85da9341a591bb87e0ed2d008/controllers/machine_controller.go#L163
1. https://github.com/kubernetes-sigs/cluster-api/blob/d3140bacceea81d85da9341a591bb87e0ed2d008/controllers/machine_controller_phases.go#L209
1. https://github.com/kubernetes-sigs/cluster-api/b

[2019-10-21 14:14] xrmzju commented on #1622
sry, i might not express my self clearly, if the infra machine turned into  a permanent failure condition, the controller on the infra side should set errMsg/errReason, i agreed with this. but if the infra machine is recoverable(like reboot), the controller on the infra side（in my implemention） would just set the infra machine from ready to not ready, and machine controller in cluster-api could no

[2019-10-21 14:17] xrmzju commented on #1622
and i have this situation discussed with @detiber on slack. he agreed with me too.
![image](https://user-images.githubusercontent.com/27884109/67213351-7c363880-f450-11e9-97ce-6aa6b63f26b2.png)

[2019-10-21 14:17] ncdc commented on #1622
Ok, what you're pointing out makes sense. My apologies for being slightly confused 😄.

[2019-10-21 14:18] ncdc commented on #1622
/help

[2019-10-21 14:46] vincepri opened #1625 "Surface events and errors"
This issue serves as an umbrella to drive a larger effort to expose more information to users via events on Cluster/Machine/Machineset/MachineDeployment.

/kind feature
/milestone v0.3.0
/priority important-soon
/area ux

[2019-10-21 14:46] vincepri commented on #1625
/cc @dims

for more use cases

[2019-10-21 14:49] vincepri commented on #1622
For context, in v1alpha2 we chose not to recover from a failure case to avoid loops or going back and forth between states outlined in the machine proposal. This behavior aligns with the assumption that Machines are immutable, if you get a failure, the action the system expects an operator to take is to delete and recreate the Machine.

[2019-10-21 15:07] ncdc commented on #1242
I think this might get easier in v1alpha3 and not need a field/annotation. If `Cluster.Spec.ControlPlaneRef` is `nil`, use in-cluster config. Otherwise, require & expect the kubeconfig secret. This does require that anyone upgrading a v1alpha2 cluster that has control plane machines to v1alpha3 would need to create a new ControlPlane resource (to adopt the alpha2 control plane machines), but I'd h

[2019-10-21 15:18] detiber commented on #1622
@vincepri There are currently plenty of recoverable errors that we encounter today, we just don't necessarily bubble them up in any way. For example if the AWS API is unavailable for any reason.

I don't think we should say that *any* error should be unrecoverable, nor should we say that we should resolve errors in the controllers. I think the case that is more grey (and potentially where this iss

[2019-10-21 16:21] akutz opened #1626 "Creation of workload cluster machines stuck at provisioned status. Cloud-init preflight failing to fetch the ConfigMap"
/kind bug

**What steps did you take and what happened:**
Refiling https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/624 with the Kubeadm Bootstrap provider.

**What steps did you take and what happened:**
- Successfully created management cluster.
- Successfully created workload cluster control plane.
- Not successful in creating workload cluster workers
- Workload cluster ma

[2019-10-21 16:40] ncdc commented on #1626
It sounds like this might be a kubeadm or apiserver issue at the core? (Not that we can't code around it - just trying to clarify.)

[2019-10-21 16:41] akutz commented on #1626
Yeah, not sure myself. @neolit123 and @fabriziopandini had some thoughts on it. Either way it's almost certainly something handled by the bootstrap provider in the way it executed kubeadm or the generated kubeadm config. I just wanted to make sure the issue was triaged appropriately.

[2019-10-21 16:47] akutz commented on #1626
To my knowledge CAPV is still pretty serial, taking action only when we receive signal there's bootstrap data to process. We aren't shuffling anything into goroutines last I checked.

[2019-10-21 16:51] ncdc commented on #1626
Gotcha. Some providers allow the user to control the number of simultaneous workers per controller. For example: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/1728e1d752e84ec1dbd3a525c436d0181588e1f9/main.go#L102-L106 and https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/1728e1d752e84ec1dbd3a525c436d0181588e1f9/main.go#L162.

[2019-10-21 16:52] akutz commented on #1626
Yep. It's something I've considered implementing in CAPV, but so far I haven't seen a good reason for it. We'll probably add it sooner than later and just default the option to one.

[2019-10-21 16:55] detiber commented on #1626
I'm wondering if this could be related to the bootstrap token timing out, which version of CABPK is this against?

[2019-10-21 16:58] ncdc commented on #1626
CABPK v0.1.2+ contains the bootstrap token refresh code (https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/pull/250, https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/pull/267).

[2019-10-21 16:59] akutz commented on #1626
Tagging @yastij as an assignee from CAPV's side since he was on the original issue.

/assign @yastij

[2019-10-21 17:03] yastij commented on #1626
from what @akutz saw we're still in 0.1.0, I'll try bumping CABPK and see If I can reproduce

[2019-10-21 17:27] vincepri commented on #1626
/priority awaiting-more-evidence

[2019-10-21 17:32] vincepri commented on #1622
Yes, we need to distinguish (somehow) between controller-retryable errors and failures.

It'll be up to the infrastructure provider to make sure a machine that's being rebooted isn't marked as failed. From CAPI perspective, a Machine that's being rebooted, it'll cause the Node to become not ready and fall from `Running` state to `Provisioned`.

[2019-10-21 17:52] aaroniscode commented on #1427
@fabriziopandini Do you mind if I work on this?

[2019-10-21 18:32] ashish-amarnath opened #1627 "🏃 Post submit jobs should run CAPD and CABPK related verification on PRs"
**User Story**
As a developer, I would like to catch unintentional breaking changes to the code that may affect CAPD and CABPK.

**Detailed Description**
Currently, the only CAPD and CABPK related verification that is done is running `go test -v ./...`.
There were other verification steps that were being performed in the old repos that will have to be migrated.

[A clear and concise description of

[2019-10-21 21:13] KeithRichardLee commented on #1626
Let me know if there is anything ye wish for me to test as I can consistently reproduce this.

[2019-10-21 21:15] ncdc commented on #1626
@KeithRichardLee thanks! Can you change your CABPK deployment to v0.1.4 and test with a new cluster?

[2019-10-21 21:23] akutz commented on #1626
FWIW, a change just merged to CAPV `master` that includes `v0.1.4`. To generate manifests for that version you can use the following command:

[code]

[2019-10-21 21:24] akutz commented on #1626
Additionally, CAPV `v0.5.2-beta.1` is being tagged tomorrow morning and will also have this change, with CAPV `v0.5.2` scheduled for release this Friday.

[2019-10-21 21:30] KeithRichardLee commented on #1626
Giving this a spin now...

[2019-10-21 21:32] akutz commented on #1626
Please note you'll still need to follow the CAPV Getting started guide and provide the env vars file. I just removed it from the above CLI example as it would prevent the printing of the online help if I did (and the user didn't have such a file in their working directory). The full example would be:

[code]

[2019-10-21 22:15] KeithRichardLee commented on #1626
First run using `v0.5.2-beta.0-32-gb0cacda1` was a success. All three machines progressed to a running state. Will do another two runs.