[2020-03-13 19:47] #2669 closed

[2020-03-13 20:20] eshanks16 commented on #2450
+1 I got the same error after trying to deploy it a few times <10.

`Error: failed to get provider components for the "cluster-api" provider: failed to get repository client for the CoreProvider with name cluster-api: error creating the GitHub repository client: failed to get GitHub latest version: failed to get the list of versions: rate limit for github api has been reached. Please wait one hour

[2020-03-13 20:22] johnlam90 commented on #2591
Thanks with CAPV v6.0 and v0.3.0 , this resolved my issue. Tried it about 5 times with no issues .

[2020-03-13 21:47] wfernandes commented on #2404
After discussing with @fabriziopandini we decided on adding a property in the clusterctl config file that determines the overrides folder path.
So in clusterctl.yaml you can specify
[code]
We will still default to `~/.cluster-api/overrides`

[2020-03-13 21:55] wfernandes commented on #2609
@rajansandeep Are you working on this? If you are, feel free to `/assign` and `/lifecycle active`.

[2020-03-13 21:57] rajansandeep commented on #2609
/assign

[2020-03-13 22:05] JocelynBerrendonner commented on #2217
@rhockenbury : As per my investigation, netbios is not required to join a domain on Windows machine (that's been the case since Windows 2000). The page you mentioned only provide naming conventions when Netbios is actually used. Also, as other folks mentioned, the machine name is only truncated in Netbios. When setting a long host name (let's say "MyComputerWithALongName") in a domain (let's say "

[2020-03-13 22:07] wfernandes commented on #2671
@detiber When I go to https://cluster-api.sigs.k8s.io/user/quick-start.html#required-configuration-for-common-providers and click on the tabs, they seem to be opening the correct information **which differs** from the Initialization for Common Providers section.

Is this the correct behavior? Are you seeing a different behavior?

[2020-03-13 22:08] detiber commented on #2671
A PR to fix this was merged earlier today
/close

[2020-03-13 22:08] #2671 closed

[2020-03-13 23:42] neolit123 commented on #2599
The CoreDNS operator needs a controller runtime v2 update, but it  should
be available in the near future.

This will help us extract the migration logic out of capi and kubeadm. But
the version binding would remain in any form, since consumers would need to
track operator versioning.

Benefits would  come if A) we can track the latest version of the operator
B) old versions of the operator can in

[2020-03-14 00:41] rhockenbury commented on #2217
Thanks for the additional insight.  It feels that it would be best to disable NetBios seeing how with using the `machine` api object name as the hostname would result in NetBios name collisions.  I'll need to follow-up internally to see if we could do this.

[2020-03-14 02:29] JocelynBerrendonner commented on #2217
@rhockenbury : after further discussions with the experts, NETBIOS name resolution is mostly unused today. Though the first step in name resolution is usually going through NETBIOS, if the NETBIOS name is not found, Windows will fallback to resolving the machine name using DNS. For example, if you try to reach a machine through "MyComputerWithALongName", Windows will be able to find that name in D

[2020-03-15 14:28] cpanato commented on #2433
/help cancel

[2020-03-15 20:09] cpanato commented on #2240
This is still opened or someone already took that? Otherwise I would like to try

[2020-03-16 03:36] davidmontoyago commented on #2450
+1 Consistently seeing this issue when doing:
[code]
version: `Major:"0", Minor:"3", GitVersion:"v0.3.0-dirty", GitCommit:"b6aad253dfcdafc263e8b399d3a97732006b3069"`

[2020-03-16 03:44] SataQiu commented on #2677
/assign

[2020-03-16 09:42] fabriziopandini commented on #2240
xref https://github.com/kubernetes-sigs/cluster-api/issues/2635 for the clusterctl bits

[2020-03-16 11:55] randomvariable opened #2689 "Support variants of image tags in KCP for kube-proxy, coredns etc..."
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
Setting kcp.spec.version to 1.17.3 results in a kube-proxy daemonset being applied with a "1.17.3" tag.

**What did you expect to happen:**
Tag being "v1.17.3"

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

This is currently oc

[2020-03-16 12:00] randomvariable commented on #2689
/priority critical-urgent

[2020-03-16 12:26] kenichi-shibata opened #2690 "AWS: Secrets not being updated on new cluster"
**What steps did you take and what happened:**
- Create a bootstrap cluster EKS
- Install all clusterapi components using aws provider
- Create clusterapi cluster-1
- Login it works
- Delete clusterapi cluster-1 machines manually
- Remove all nodes of bootstrap cluster
- Create all nodes of bootstrap cluster
- Cluster-1 automatically gets created
- Cannot login anymore secrets are not updated clus

[2020-03-16 13:42] randomvariable commented on #2689
No longer a concern. *phew*

[2020-03-16 14:11] jan-est commented on #2587
Proposal opened [#2688 ](https://github.com/kubernetes-sigs/cluster-api/pull/2688)

[2020-03-16 15:21] JoelSpeed commented on #1876
I've just gone through and updated the doc based on comments given in the doc and moved the termination handling stuff to a future work section so that we can focus on just the API fields and patching the options through to the create instances calls within the first pass of spot support

[2020-03-16 15:22] JoelSpeed commented on #2646
Does anyone have any ideas on how I should seek feedback to try and come up with a better name for this field?

[2020-03-16 15:36] kenichi-shibata commented on #2690
opened in the wrong repo closing

[2020-03-16 15:36] #2690 closed

[2020-03-16 15:44] vincepri commented on #2646
Maybe bring it up at the next upstream meeting + mailing list discussion?

This is a change we'll have to delay to v1alpha4, so we should have some time :)

[2020-03-16 15:51] vincepri commented on #1876
I'm fine with either approach. The potential issue I'd like to avoid is to have changes made to the CAPI controllers (especially Machine) to take into account spot semantics. This doesn't seem to be the case today given the conversations above, so 👍 if the infrastructure providers are fine supporting it.

[2020-03-16 16:52] #2677 closed

[2020-03-16 16:58] vincepri commented on #2599
Where is the coredns operator code hosted today?

[2020-03-16 17:07] wfernandes commented on #2689
@randomvariable Let me know if you need any help with this issue.

[2020-03-16 17:13] neolit123 commented on #2599
there is a coredns operator here:
https://github.com/kubernetes-sigs/cluster-addons/tree/master/coredns
but AFAIK this is not the operator that the coredns maintainers created.

i also see there is a related GSoC task for this opened 5 days ago that includes ConfigMap updates:
https://github.com/kubernetes-sigs/cluster-addons/issues/47
cc @johnsonj

@rajansandeep mentioned to me that he is persona

[2020-03-16 17:14] ncdc commented on #2689
@randomvariable mind striking out the KCP version skew text in the description?

[2020-03-16 17:21] chuckha commented on #2651
@detiber @dlipovetsky thoughts on this? I know it was added for reentrancy concerns, but the proposed replacement is idempotent and allows us to not need to explicitly skip this action.

[2020-03-16 18:06] sethp-nr opened #2693 "KCP: defaulting webhooks add unspecified fields"
Currently, when creating a KCP with a bare-bones spec, the defaulting webhook adds some fields not specified by the user:

[code]

This behavior appears to be occurring because the `encoding/json` package doesn't know how to omit empty structs, like `nodeRegistrationOptions`. We didn't like the ergonomics of custom json serialization, but changing the struct fields to be pointers breaks go clients

[2020-03-16 18:06] sethp-nr commented on #2693
/assign

[2020-03-16 18:18] wfernandes commented on #2599
A couple of questions I had:
- Will this CoreDNS Operator be installed and/or managed by clusterctl?
- What is GSoC?

[2020-03-16 18:19] vincepri commented on #2599
For v0.3.x we might need a different issue to add a verification script to update to the latest version of the module, if it's available

[2020-03-16 18:50] neolit123 commented on #2599
unclear to me. would make sense to install it in an "addons phase" of sorts.

google summer of code.

[2020-03-16 18:54] wfernandes commented on #2612
I'm thinking of investigating this further. Has anyone seen this behavior with CAPA?
Asking because I do not have access to any vSphere infrastructure.

[2020-03-16 18:55] detiber commented on #2612
@wfernandes you should be able to replicate by attempting to delete prior to the first control plane Machine becoming ready.

[2020-03-16 19:44] #1941 closed

[2020-03-16 19:51] wfernandes commented on #2612
/assign

[2020-03-16 20:28] #2565 closed

[2020-03-16 22:00] #2689 closed

[2020-03-16 22:05] vincepri commented on #2608
/milestone v0.3.x

given that this didn't make the cut

[2020-03-16 22:05] vincepri commented on #2620
/milestone v0.3.x

given that this didn't make the cut

[2020-03-16 22:05] vincepri commented on #2610
/milestone v0.3.x

given that this didn't make the cut

[2020-03-16 22:06] vincepri commented on #2609
/milestone v0.3.x

given that this didn't make the cut

[2020-03-16 22:32] #2657 closed

[2020-03-17 04:18] dlipovetsky commented on #2651
That is idempotent, and so KCP should remain idempotent.  +1 from me.

[2020-03-17 14:27] cpanato commented on #2433
/remove-help

[2020-03-17 15:08] rudoi commented on #2651
@chuckha unfortunately after re-reading the code i don't think my proposal is sufficient on its own. if the pod fails and needs to restart, it's actually the health check that will block it, not the etcd member removal bit.

I think we somehow need to capture in the health check (that occurs during etcd member removal) the fact that there is a point in time where we _expect_ to have one more Machi

[2020-03-17 15:15] chuckha commented on #2651
We chatted offline and this is a new state that the code simply has to keep track of. I'm working on a fix that mimics the known workaround strategy: Apply annotation and have the health check know that it doesn't need exactly 1:1

[2020-03-17 15:17] chuckha commented on #2651
/milestone v0.3.2
/assign
/priority important-soon
/lifecycle active

[2020-03-17 15:18] vincepri commented on #2651
/priority critical-urgent

@chuckha what is the fix you're referring to?

[2020-03-17 15:18] johnsonj commented on #2599
Thanks for the cc @neolit123 - I'll discuss this in cluster-addons and with @rajansandeep

[2020-03-17 15:19] chuckha commented on #2651
@vincepri The one that @rudoi uses where they basically apply an annotation to put a machine in a certain state to bypass the part where it gets stuck. I'm not doing that exactly but instead going to capture this state as a valid state and improve the healtcheck.

[2020-03-17 15:21] vincepri commented on #2651
Can we work out a solution that doesn't require annotations on objects? I'd rather have ways to understand the status by querying the source

[2020-03-17 15:23] rudoi commented on #2651
I think improving the healthcheck would remove the need for that annotation, +1 here.

[2020-03-17 15:23] chuckha commented on #2651
sure -- can you open an issue that describes the desire to remove the existing annotation usage? it's already capturing a fair bit of state in annotations

[2020-03-17 15:24] sethp-nr commented on #2651
The idea I was toying with around the healthcheck was that it should take the desired operation as well as the current state as a parameter – it seems to me the question we want to ask is not "is etcd currently healthy" but "would we expect etcd to remain healthy after we make this change?"

If we did that and surfaced the etcd member list in the kcp's status, I think we'd be closer to the ideal "

[2020-03-17 15:26] chuckha commented on #2651
yeah, the health check is really inflexible right now. it will definitely need more information like "what assertions should be made" vs "this hard-coded assertion must hold true"

[2020-03-17 15:30] sethp-nr commented on #2651
Yeah. Something else to be aware of in this space is tying the assertions back to the desired state of the KCP too – e.g. #2430 happens because we look at Machines, annotations, and Nodes  but not the replica count on the KCP before we decide to delete a machine.

[2020-03-17 15:31] vincepri commented on #2651
https://github.com/kubernetes-sigs/cluster-api/blob/d06be1c58073953bc21e3d91762bd98dd28290c9/controlplane/kubeadm/controllers/kubeadm_control_plane_controller.go#L534-L548

This annotation can probably be removed today if we query etcd and check if the current node is in the list. wdyt?

[2020-03-17 15:43] vincepri commented on #2651
After chatting a little more with @chuckha seems we have not 1, 2, but multiple issues in here! The one I posted above is the next step, after we fix the healthcheck / make it more flexible.

Let's take it one bit at a time and make sure to test it after each iterations (because more issues might pop up).

[2020-03-17 15:44] rudoi commented on #2651
I am anti-testing. Please ship the code immediately.

-waits for this comment to show up in a performance review-

[2020-03-17 15:54] vincepri commented on #2176
@yastij any updates on this issue, should we close it for now?

[2020-03-17 16:17] sethp-nr commented on #2651
I'd be glad to help out with testing – this is my #1 goal today & tomorrow.

[2020-03-17 16:46] #2398 closed

[2020-03-17 19:01] dlipovetsky commented on #2646
My two cents:

I think `maxUnavailable` is accurate enough. However, because we're used to seeing the `NotReady` condition in `kubectl get nodes`, and because I think the condition name and semantics are unlikely to change in the future, I think `maxNotReady` is also a good choice.

[2020-03-17 21:07] yastij commented on #2176
@vincepri - let's close for now

[2020-03-17 21:07] #2176 closed

[2020-03-18 01:10] #2651 closed

[2020-03-18 13:44] chuckha opened #2702 "KubeadmControlPlane controller shouldn't rely on annotations to operate"
The KubeadmControlPlane requires us to set annotations on machines as they go through the upgrade process, however, as actions+labelling a machine isn't an atomic operation there is ample opportunity for a mismatch of annotation and reality as discovered by @rudoi and @sethp-nr.

KubeadmControlPlane shouldn't be using the labels to assume state. It should always be looking at reality and not inter

[2020-03-18 13:50] chuckha opened #2703 "liche, link checker should be more relaxed"
Our link checker, https://github.com/raviqqe/liche, should not be checking links we don't control. This is asking to break CI whenever external links change.

However, we really shouldn't have any 404s so when external links change maybe it's good that it fails.

Unfortunately https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/docs/getting-started.md this moved. I think

[2020-03-18 13:56] chuckha commented on #2703
now we've hit too many requests. Disabling it for now.

[2020-03-18 14:01] randomvariable opened #2705 "KCP deferred updates stall cluster deletion"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
Delete a cluster

Cluster deletion stalls on KCP, which shows 1 node ready despite the lack of an underlying infrastructure object.

Attempts at debugging showed:
[code]

Believe the issue is that during reconciliation, there is a deferred cluster status update, which attempts to get node

[2020-03-18 14:10] ncdc commented on #2602
Yes, if what matters is node readiness, we can & should be watching the appropriate nodes.

[2020-03-18 14:13] randomvariable commented on #2602
Oh, just noticed this. The node readiness check underpins #2705

[2020-03-18 14:35] randomvariable commented on #2705
/lifecycle active
/assign

[2020-03-18 14:42] vincepri commented on #2705
/milestone v0.3.2

[2020-03-18 14:42] randomvariable commented on #2705
/assign @yastij

[2020-03-18 15:10] vincepri commented on #2705
/area control-plane

[2020-03-18 15:26] vincepri opened #2709 "KCP: clarify updateStatus comment when setting Initialized"
In KCP controller the `updateStatus` method is in charge of updating `KubeadmControlPlane.Status` struct after each iteration. This line https://github.com/kubernetes-sigs/cluster-api/blob/5f14f88152342e2bec7b43c904ecb911f8301e4f/controlplane/kubeadm/controllers/kubeadm_control_plane_controller.go#L337 states that the `kcp.Status.Initialized` is only set once, even if the configmap goes away.

Unl

[2020-03-18 15:30] detiber commented on #2709
Initialized was meant to provide backward compat for setting Cluster.Status.ControlPlaneInitialized, until a later release when we no longer support the old non control plane provider workflow.

[2020-03-18 15:47] rudoi opened #2710 "Create library for setting common command line flags amongst providers"
**User Story**

As a developer I would like to not have to set flags in every provider because that is tedious and error-prone.

**Detailed Description**

Per discussion on https://github.com/kubernetes-sigs/cluster-api/pull/2664, we should create a library that allows for the easy setting of common command line flags.

/kind feature

[2020-03-18 16:58] #2653 closed

[2020-03-18 17:12] yhrenlee commented on #2596
Hi everyone!

We used to heavily rely on `node-role.kubernetes.io` for conveniently showing names of node roles in the `ROLES` column of `kubectl get nodes` output, as well as using this label to schedule our workloads to the right nodes. It looks like this label cannot be used anymore.

Could we perhaps use the new allowed label `role.node.kubernetes.io/* ` as the new standard for node role names

[2020-03-18 17:15] CecileRobertMichon commented on #2596
cc @mboersma who originally reported the issue in capz in case he has any thoughts on this.

[2020-03-18 17:29] dlipovetsky commented on #1027
At the 03/18/2020 meeting, we decided to cancel the separate office hours and create dedicated Q&A time in the main meeting.

[2020-03-18 17:34] ncdc commented on #2652
Now that #2525 is in, we should retest and see if this is still an issue.

[2020-03-18 17:47] sethp-nr commented on #2652
When I was testing Chuck's PR yesterday it was on top of #2525 and I was still seeing a couple of cases where the controllers running in the management cluster (in kind) had broken connections or timeouts trying to talk to the workload cluster (in AWS).

From what I can see, the apiserver pod is still showing as `Ready` on the node where etcd has entered `CrashLoopBackoff`, which I interpret to me

[2020-03-18 19:02] #2705 closed

[2020-03-18 21:15] CecileRobertMichon opened #2713 "[clusterctl] log when using overrides for clusterctl"
When using overrides, clusterctl should log a warning/info message. Right now it's very easy for someone switching back and forth between dev and user to forget to remove overrides and deploy a cluster the wrong controller-manager image.

[2020-03-18 21:16] CecileRobertMichon commented on #2713
/good-first-issue
/help

[2020-03-18 21:20] CecileRobertMichon commented on #2713
current log https://github.com/kubernetes-sigs/cluster-api/blob/master/cmd/clusterctl/client/repository/components_client.go#L74

Maybe it should be a warning?

[2020-03-18 22:38] #2620 closed

[2020-03-19 02:30] jfrabaute commented on #2596
Here is a PR implementing the proposed new label `role.node.kubernetes.io/*`: https://github.com/kubernetes/kubernetes/pull/89242

There are 2 preliminary commits for minor code refactoring and adding test coverage for the existing code before adding the new code.

[2020-03-19 04:38] jfrabaute commented on #2596
Rereading the KEP more carefully, I think this PR is not correct.
What it should probably propose is to add `role.node.kubernetes.io/*` as an other way to provide node role to be displayed by `kubectl` and available in tooling like `gcloud` (which is forbidding the usage of `node-role.kubernetes.io/*`, that's why this PR exists).

Is that correct?

[2020-03-19 09:14] Xenwar opened #2716 "capi-kubeadm-control-plane-controller: upgrade failure due to 'failed to move leader'"
**What steps did you take and what happened:**
- provision a control plane node
- Once successful, edit the `kubeadmcontrolplane` resource by changing the kubernetes version.
(eg. 1.17.0 to 1.17.3)
- This triggers the upgrade process

The, both nodes transition to provisioned state and stay like that indefinitely.
**What did you expect to happen:**
The original node (with 1.17.0) be de-provisioned

[2020-03-19 09:15] Xenwar commented on #2716
logs from capi-kubeadm-control-plane-controller-manager-56d8897c7d-jmgv8
[code]

[2020-03-19 09:16] Xenwar commented on #2716
[code]

[2020-03-19 09:21] prankul88 commented on #2713
/assign

[2020-03-19 09:27] prankul88 commented on #2713
@camilamacedo86 We can just remove the Verbosity part and just log the info rather than setting `-v 0` right?

[2020-03-19 10:33] camilamacedo86 commented on #2713
HI @prankul88,

It shows correct, however, I never contribute with this project.

[2020-03-19 10:35] prankul88 commented on #2713
@camilamacedo86 Sorry I tagged you by mistake.

[2020-03-19 14:00] chuckha commented on #2702
/assign

[2020-03-19 14:04] ncdc commented on #2716
@Xenwar what version of the `kubeadm-control-plane-controller` image are you using? (v1alpha3 doesn't give enough detail)

[2020-03-19 14:45] detiber opened #2721 "Quickstart missing prerequisite step of creating the IAM permissions in infrastructure provider prerequisites for AWS"
The Quickstart mentions using `clusterawsadm` to encode the bootstrap credentials for the AWS provider here: https://cluster-api.sigs.k8s.io/user/quick-start.html#initialization-for-common-providers, but it fails to let users know that they *should* create the cloud formation stack with the required IAM configuration with `clusterawsadm alpha bootstrap create-stack`.

This step should be a bit mor

[2020-03-19 15:53] vincepri opened #2723 "Cannot unset CoreDNS imageTag"
**What steps did you take and what happened:**
- Create a KubeadmControlPlane with `spec.clusterConfiguration.dns.imageTag = "1.6.3"
- Update the value to ""
- Receive faillure `KubeadmControlPlane.controlplane.cluster.x-k8s.io "test2-control-plane" is invalid: spec.kubeadmConfigSpec.clusterConfiguration.dns.imageTag: Invalid value: "": failed to parse CoreDNS target version:`

**What did you expe

[2020-03-19 15:54] gab-satchi commented on #2723
/assign

[2020-03-19 16:08] gab-satchi commented on #2723
/lifecycle active

[2020-03-19 16:29] #2404 closed

[2020-03-19 16:52] CecileRobertMichon commented on #2713
@prankul88 correct, I think just removing the `v(1)` should work since it's v 0 by default

[2020-03-19 17:05] #2723 closed

[2020-03-19 19:07] CecileRobertMichon opened #2731 "[clusterctl] move to target cluster fails at init step"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

target cluster is ready:
[code]

Follow the instructions at https://cluster-api.sigs.k8s.io/clusterctl/commands/move.html#pivot
[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Enviro

[2020-03-19 19:08] vincepri commented on #2731
CAPI version?

[2020-03-19 19:08] vincepri commented on #2731
I see it in the logs now, could you try with master?

[2020-03-19 19:10] vincepri commented on #2731
`clusterctl` master should have a fix that retries cert-manager

/cc @fabriziopandini

[2020-03-19 19:10] vincepri commented on #2721
/help

[2020-03-19 19:11] vincepri commented on #2721
/milestone v0.3.x

[2020-03-19 19:12] vincepri commented on #2716
@Xenwar This has been fixed in #2726, are you able to confirm?

/priority awaiting-more-evidence
/milestone v0.3.x

[2020-03-19 20:26] vukg commented on #2339
It seems that it will take us a bit more time to make migration from 0.2.0 to 0.3.0 than we originally anticipated. We will come back to demo once we have stable setup.

[2020-03-19 20:44] CecileRobertMichon commented on #2731
same issue from master / v0.3.2

[2020-03-19 20:48] CecileRobertMichon commented on #2731
[code]

[2020-03-19 22:16] fabriziopandini commented on #2731
@CecileRobertMichon

I saw this error in two cases:
- when the target cluster is without a CNI addon or with network problems
- when cert-manger running on machines without free resources under high pressure (mostly locally on docker on local VMs)

Is it possible we are in one of those  conditions

[2020-03-19 22:20] vincepri commented on #2731
Should we maybe add a check to make sure a CNI has been installed, maybe we could check if the nodes are in a `Ready` state?

[2020-03-19 22:36] CecileRobertMichon commented on #2731
I installed the CNI (Calico) before attempting the move and all nodes were ready (see output of get nodes in the issue description).

I doubt that the machines being under high pressure would be an issue, I'm using Azure VMs size `Standard_D2s_v3` for both control planes and machines (with 3 replicas for both).

Here's the output of get pods that shows Calico running:

[code]

[2020-03-20 00:21] rbitia opened #2735 "Can't scale machinedeployments"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

Created a Kind cluster
Created 2 different clusters off the Kind cluster using CAPZ
Tried to scale the first cluster in Azure from 3 nodes to 2 nodes.

[code]
**What did you expect to happen:**
I expected my cluster to scale

**Anything else you would like to add:**
[Miscellaneous informa

[2020-03-20 00:59] vincepri commented on #2735
It seems like this was a Kubernetes issue https://github.com/kubernetes/kubernetes/issues/80515 and was initially reported in https://github.com/kubernetes-sigs/cluster-api/issues/1279

Would you be able to try with a kubectl version that's at least 1.16?

[2020-03-20 01:00] vincepri commented on #2735
/milestone v0.3.x
/priority awaiting-more-evidence

[2020-03-20 11:57] Jaakko-Os commented on #2654
I also ran into the upgrade issue and luckily found this bug report.
As a side remark, I noticed that the 'Full ...' case cannot be run independently.
 make test-capd-e2e FOCUS='Full'
I would expect no such dependency between cases.

[2020-03-20 12:21] Xenwar commented on #2716
@vincepri I will test it once my other environment related issue is resolved, unrelated to this one.
@ncdc If you are referring to the container image, it this one `gcr.io/k8s-staging-cluster-api/kubeadm-control-plane-controller:master`

[2020-03-20 13:45] ncdc commented on #2716
@Xenwar thanks. Unfortunately the image with the `master` tag changes every time we merge a pull request, so it's hard to know which commit you were working from.

@vincepri should we have all our managers log the version info (git commit) when they start up?

[2020-03-20 13:52] Xenwar commented on #2716
@ncdc now I got it. If it gives you any hint, as was indicated in the description, it was working before 16.03.2020.

[2020-03-20 13:53] ncdc commented on #2716
I'd suggest retesting with the latest bits and see if it's still an issue.

[2020-03-20 14:00] Xenwar commented on #2716
Thanks. I will do the test and update this issue accordingly.

[2020-03-20 14:08] chuckha commented on #2654
Absolutely agree. It's not ideal and is quite confusing. I haven't found a nice way to achieve both speed and convenience, but I'm definitely open to ideas! Requirements are: Run the CI job as quickly as possible (only spin up one cluster). It would be nice if we could reuse the same cluster for other operations to optimize the run, but it's starting to look like that's not possible without intern

[2020-03-20 14:27] detiber commented on #2654
If all jobs require a baseline cluster deployed, then you could theoretically spin it up in the BeforeSuite, and then tear it down in the AfterSuite.

That said, that would only work in the case that we never expect to run the jobs in parallel, since parallel invocations could clobber each other and each test would have to leave the cluster back in the expected state at the end of it's run.

Unles

[2020-03-20 15:05] ncdc opened #2737 "MachineDeployment stuck waiting for next resync if it can't find the infrastructure template"
**What steps did you take and what happened:**
1. Create a MachineDeployment
1. Create the infrastructure template for it
1. MachineDeployment has a ReconcileError event:
[code]
1. It takes another 10-20 minutes (resync period) for the MachineDeployment to be processed and for the MachineSet to be created

**What did you expect to happen:**
1. It should requeue periodically if it gets a not-found

[2020-03-20 15:11] chuckha commented on #2654
Yeah, that might be the right answer for our general use case

[2020-03-20 16:06] sedefsavas commented on #2654
Makes sense. I will spin up a different cluster for each tests and then look for parallelizing them.

[2020-03-20 16:13] chuckha opened #2738 "CAPD improvement plan"
**User Story**
CAPD is becoming a very useful part of this project. In order to improve robustness, portability and design for the future.

**Detailed Description**

## Planning for the future

The largest flaw in the design is that in general the code was built around `exec`ing to docker directly. This made the dependency graph pretty weird and pushed all the exec calls out to the leaves instead

[2020-03-20 16:37] vincepri commented on #2737
/milestone v0.3.3

[2020-03-20 16:48] wfernandes commented on #2721
/assign
/lifecycle active

[2020-03-20 16:58] #2737 closed

[2020-03-20 17:07] wfernandes commented on #2612
/lifecycle active

[2020-03-20 17:34] #2721 closed

[2020-03-20 18:04] wfernandes commented on #2612
It seems that this issue was fixed as part of this PR: https://github.com/kubernetes-sigs/cluster-api/pull/2708.
/close

[2020-03-20 18:04] #2612 closed

[2020-03-20 20:01] wfernandes commented on #2659
I don't mind working on this if this is something that is useful for `clusterctl`.

I can see the feature being used for a few clusterctl commands like `init`,`delete`, and `upgrade`.
`move` already is taking the _from_ and _to_ kubeconfig.

Open to discussion 🙂

[2020-03-20 20:26] wfernandes commented on #2495
/assign

[2020-03-20 20:39] wfernandes commented on #2495
/lifecycle active

[2020-03-21 14:16] billhoph opened #2748 "A Documentation Bug at vSphere"
The Entries starting from vSphere_FOlDER should be = instead of :

<img width="788" alt="Screenshot 2020-03-21 at 9 52 01 PM" src="https://user-images.githubusercontent.com/28106000/77228342-902dc400-6bc1-11ea-83e9-e4a3060c9697.png">

[2020-03-22 08:17] SataQiu commented on #2748
Thank you for reporting this :+1: @billhoph
/assign

[2020-03-22 22:56] danniel1205 commented on #2424
I assume we could create that file by ourselves. But the question is what content we should put inside of the clusterctl-settings.json for docker provider ?

[2020-03-23 02:18] #2748 closed

[2020-03-23 07:19] MartinForReal opened #2751 "kubeadmControlPlane controller crashed if infrastructure template is not found"
**What steps did you take and what happened:**
the controller crashed when infrastructure template object is not found

**What did you expect to happen:**
controller should not crash when infrastructure template object is not found

**Anything else you would like to add:**
logic in updateStatus should be changed if infrastructure template object is not found

https://github.com/kubernetes-sigs/clu

[2020-03-23 07:23] MartinForReal commented on #2751
I think we need to add a few extra logic  in

https://github.com/kubernetes-sigs/cluster-api/blob/91215b8e5c8d634ab11aeb3112701ff2ed23458e/controlplane/kubeadm/controllers/kubeadm_control_plane_controller.go#L306

to check if the controller exits due to apierror generated here

https://github.com/kubernetes-sigs/cluster-api/blob/91215b8e5c8d634ab11aeb3112701ff2ed23458e/controlplane/kubeadm/control

[2020-03-23 08:38] #2433 closed

[2020-03-23 09:11] fabriziopandini commented on #2659
@wfernandes thanks for volunterering!
The main issue to be addressed before starting this change is to define how to avoid breaking compatibility/how to limit impacts on the client using the library.

My proposal here is:
1. for the main clusterctl API (/cmd/clusterctl/client) to preserve compatibility by adding new methods and deprecating old ones.
2. for the low level clusterctl API (/cmd/cluste

[2020-03-23 09:18] fabriziopandini commented on #2339
I'm interested in this discussion as well

[2020-03-23 14:34] vincepri commented on #2751
@sedefsavas do you want to take a look a this one?
/milestone v0.3.3
/priority important-soon

[2020-03-23 15:07] vincepri commented on #2659
As long as it's documented somewhere, +1

[2020-03-23 15:14] vincepri opened #2753 "KubeadmControlPlane v2 iteration and robustness"
Please see below for plan of action and feel free to ask questions!

/kind cleanup
/area control-plane
/milestone v0.3.x
/priority critical-urgent

[2020-03-23 15:21] sadysnaat commented on #2751
I have also observed kubeadmControlPlane crashing

[code]

I think this comes from the assignment in `GetWorkloadCluster` before checking the error
https://github.com/kubernetes-sigs/cluster-api/blob/35f28e985a909b9ce10f7a3a0aae79dd69a4f7c5/controlplane/kubeadm/internal/cluster.go#L72-L75

[2020-03-23 15:21] vincepri commented on #2751
The latter should be fixed in v0.3.3

[2020-03-23 15:22] sadysnaat commented on #2056
Closing due to age.

[2020-03-23 15:22] #2056 closed

[2020-03-23 15:23] ncdc commented on #2659
Looking at the code, we'd need to adjust (or add a replacement) `ClusterClientFactory`, as that's the thing the primarily creates a client, and it currently only takes in a kubeconfig but no other options. What else (if anything) is there that needs changing?

[2020-03-23 15:30] sadysnaat opened #2754 "KubeadmControlPlane crashes in GetWorkloadCluster if remote.RestConfig is nil"
**What steps did you take and what happened:**
try deploying a cluster using release 0.3.2

[code]

**What did you expect to happen:**
no panic, assignment to restconfig timeout should be done after error check

https://github.com/kubernetes-sigs/cluster-api/blob/35f28e985a909b9ce10f7a3a0aae79dd69a4f7c5/controlplane/kubeadm/internal/cluster.go#L72-L75

**Anything else you would like to add:**
No

[2020-03-23 15:32] vincepri commented on #2754
/priority critical-urgent
/milestone v0.3.3

@fabriziopandini @sedefsavas any of you want to take this one? Should be a pretty easy fix + unit test

[2020-03-23 15:32] vincepri commented on #2754
/area control-plane

[2020-03-23 15:35] sedefsavas commented on #2754
/assign

[2020-03-23 15:40] fabriziopandini commented on #2702
Being this the first iteration on KCP. I'm +1 for keeping things simple.
Let's reconsider annotation for humans when the "particular situations that the controller cannot recover from" are spec-ed out, but ideally we should work for avoiding those situations

[2020-03-23 15:42] vincepri commented on #2702
I'd agree, it seems the simplest thing to do today is to nail the KCP flow and have it work without setting any annotations first. We can revisit the need for annotations in special cases later on

[2020-03-23 15:46] detiber commented on #2702
+1 for removing annotations, the initial idea was to use the annotations as internal implementation details rather than expecting users to interact with KCP through them. If we remove the need for the annotations, then the original requirement for them no longer exists.

[2020-03-23 16:13] fabriziopandini commented on #2753
xref https://github.com/kubernetes-sigs/cluster-api/issues/2636 because there can be overlaps

[2020-03-23 16:22] vincepri commented on #2702
/retitle KubeadmControlPlane controller shouldn't rely on annotations to operate

[2020-03-23 17:04] vincepri commented on #2751
@MartinForReal can you paste the crash log / panic that you were seeing?

[2020-03-23 17:52] MartinForReal commented on #2751
Sure

`
I0323 17:50:21.654749       1 listener.go:44] controller-runtime/metrics "msg"="metrics server is starting to listen"  "addr"="127.0.0.1:8080"
I0323 17:50:21.654967       1 main.go:139] setup "msg"="starting manager"
I0323 17:50:21.655144       1 leaderelection.go:242] attempting to acquire leader lease  capi-kubeadm-control-plane-system/kubeadm-control-plane-manager-leader-election-capi..

[2020-03-23 18:00] vincepri opened #2756 "Avoid draining when KCP object is being deleted"
Originally reported in [slack](https://kubernetes.slack.com/archives/C8TSNPY4T/p1584979758070100), now that https://github.com/kubernetes-sigs/cluster-api/pull/2746 has been merged, it'd be good to have check that skips node drain and deletion when the KCP object (if any) has a deletion timestamp.

/kind cleanup
/milestone v0.3.x
/priority backlog

[2020-03-23 18:44] sedefsavas commented on #2754
I am unable to add unit test for GetWorkloadCluster() as it is using controller-runtime client. So, just added the fix.

[2020-03-23 19:00] vincepri commented on #2753
v0.3.3:

- @sedefsavas Enable CAPD e2e tests to do multi-control plane and upgrades https://github.com/kubernetes-sigs/cluster-api/blob/master/test/infrastructure/docker/e2e/docker_test.go#L185-L216
- Add more tests to CAPD e2e file
  - @sedefsavas Kube-proxy
  - @gab-satchi CoreDNS
  - @wfernandes Etcd
- @fabriziopandini  Get https://github.com/kubernetes-sigs/cluster-api/pull/2321 merged
- @fabr

[2020-03-23 19:37] #2754 closed

[2020-03-23 20:07] gab-satchi commented on #2609
Hey @rajansandeep are you still working on this?

[2020-03-23 21:50] boluisa opened #2759 "improve safety for end-user during control plane deletion"
**User Story**

As an operator, I would like to delete control plane nodes in a way that does not leave behind etcd members or in a way that does not require running Kubeadm reset prior to machine deletion.

**Detailed Description**

A delete of a control plane object should remove it corresponding etcd member from the etcd cluster.

/kind feature

[2020-03-23 21:51] sedefsavas commented on #2654
/reopen to track failing e2e test.
Also, skip-resource-cleanup flag is no-op right now. That needs to be fixed as well.

[2020-03-23 22:22] vincepri commented on #2759
The current code in v1alpha3 takes care of this when scaling down https://github.com/kubernetes-sigs/cluster-api/blob/master/controlplane/kubeadm/controllers/kubeadm_control_plane_controller.go#L541-L550, is this what you were asking?

[2020-03-23 22:23] vincepri commented on #2759
/priority awaiting-more-evidence

[2020-03-23 23:56] sedefsavas opened #2760 "[KCP]: Error in machine selection logic during scale down"
**What steps did you take and what happened:**
1) make test-capd-e2e-full
2) I see that 3 node cluster came up, and after kcp upgrade step in the e2e test, replacement machine is created. scaleDownControlPlane() fails to find a machine to delete. Seeing this error:
`failed to pick control plane Machine to mark for deletion`

**What did you expect to happen:**
I would expect it to pick one of the m

[2020-03-24 00:23] vincepri commented on #2760
@detiber @chuckha Are failure domain implemented in KCP as a required feature? If they are, we should document this somewhere or return some error to users. Otherwise, it seems like we need to put checks in place to make sure that an empty failure domain is fine to proceed.

[2020-03-24 00:27] MartinForReal commented on #2751
fixed in #2757

[2020-03-24 00:27] #2751 closed

[2020-03-24 03:18] boluisa commented on #2759
@vincepri  no, not via scaling down. I meant by deleting the control plane object itself. for example: ```kubectl delete machine controlplane-1```

[2020-03-24 14:16] detiber commented on #2759
One way to achieve this:
- Add a KCP owned finalizer to the Machine when creating or adopting
- Update etcd/kubeadm config entries when deletion of Machine is detected before removing finalizer

[2020-03-24 14:28] vincepri commented on #2759
/milestone Next

gonna punt to next for now given the pending testing and robustness in KCP #2753

[2020-03-24 14:28] vincepri commented on #2760
/milestone v0.3.x

[2020-03-24 14:31] vincepri commented on #2760
/are control-plane

[2020-03-24 15:54] detiber commented on #2760
@vincepri it should work with or without failure domains. It's been a while since I've reviewed, but the logic used to prioritize no longer existing failure domains and Machines with no failure domains for scale down.

It also previously used to use the group of "selected" machines to choose a failure domain for scale down, since the selected machine would already belong to the failure domain that

[2020-03-24 18:20] sedefsavas commented on #2760
The current logic works for scaling down if same set of machines are used for ownedMachines and selectedMachines as that is the case in regular scale down happening in reconcile().

I am changing the logic to pick a failureDomain from the selectedMachines.

[2020-03-24 18:20] sedefsavas commented on #2760
/assign

[2020-03-24 23:45] randomvariable opened #2769 "Insulate users from kubeadm API version changes"
***Goals***
1. Improve kubeadm to support Cluster API
1. Remove duplication of effort across kubeadm and Cluster API

***Non-Goals/Future Work***
1. Fully replace kubeadm

**User Story**

As an operator, I want kubeadm to have better support for Cluster API's use cases to reduce the number of failed machines in my infrastructure.

**Detailed Description**

In a number of environments, machines can

[2020-03-25 08:30] sbueringer opened #2770 "make the kubeadm bootstrap token TTL configurable"
**What steps did you take and what happened:**
I setup an e2e test for CAPO and in some cases nodes were not able to join the cluster.

**What did you expect to happen:**
Nodes are able to join the cluster

**Anything else you would like to add:**

(See also: https://kubernetes.slack.com/archives/C8TSNPY4T/p1585035222084200)

To be clear that's not a problem for me anymore, but maybe for somebody

[2020-03-25 11:06] yastij opened #2771 "KCP reporting stale information"
**What steps did you take and what happened:**

when deploying a kcp with 3 replicas, the controller do reconcile everything, generates the machines etc.. but after doing
[code]
the output is the following

[code]

and is going to get stuck in this state forever or a long time

Another problem is that when creating a KCP that fails for some reason we have the following output:

[code]

there is a

[2020-03-25 12:43] Xenwar commented on #2716
I have done more tests, and seems to fail again. But, for a slightly different reason, see logs below.
`"msg"="Failed to assign NodeRef" "error"="etcdserver: leader changed"`

[2020-03-25 12:43] Xenwar commented on #2716
[code]

[2020-03-25 14:28] detiber commented on #2771
Ready is meant to indicate that the control plane API server is available and ready to receive requests. It is meant to be a higher fidelity version of what we are currently using Cluster.Status.ControlPlaneInitialized for to unblock actions against the API Server (i.e. allowing worker Machines to be unblocked for creation).

If we change the behavior of Ready, we will need consider what to use to

[2020-03-25 14:34] detiber commented on #2770
I don't think this is necessarily something that we would want to do, unless (as mentioned below) we add revocation code after the related node has successfully joined.

This makes a lot of sense given that we already refresh the token periodically before the infrastructure is provisioned.

Since there are already other controllers where we are adding watches to the workload cluster for Node resou

[2020-03-25 14:53] maelk opened #2774 "CACPK and machine deployments modify the infrastructure version"
**What steps did you take and what happened:**
In a setup where two versions of the Infrastructure provider are matching the contract for v1alpha4, namely v1alpha3 and v1alpha4, if the Infrastructure template is given with v1alpha4, the machineDeployment will create a machineset referencing the infrastructure template with v1alpha3. A similar issue is observed with CACPK, even though it is not a m

[2020-03-25 14:58] maelk commented on #2774
I am trying to understand if the problem somehow comes from the fact that we have two versions that fulfill the same contract. The storage version is v1alpha4 for provider objects.

[2020-03-25 15:15] vincepri commented on #2774
The logic that changes the references in Cluster API is here https://github.com/kubernetes-sigs/cluster-api/blob/master/util/conversion/conversion.go#L57.

The original instructions for providers are in https://cluster-api.sigs.k8s.io/developer/providers/v1alpha2-to-v1alpha3.html#apply-the-contract-version-label-clusterx-k8sioversion-version1version2version3-to-your-crds, do you have the contract

[2020-03-25 15:19] maelk commented on #2774
ah ok, got it. The label was set wrong. Thank you for the help
/close

[2020-03-25 15:19] #2774 closed

[2020-03-25 15:39] #2760 closed

[2020-03-25 15:43] maelk opened #2775 "Commas not accepted in labels."
**What steps did you take and what happened:**
I tried to set the contract label for two versions according to https://cluster-api.sigs.k8s.io/developer/providers/v1alpha2-to-v1alpha3.html#apply-the-contract-version-label-clusterx-k8sioversion-version1version2version3-to-your-crds and got the following error :

[code]
The separator needs to be changed here https://github.com/kubernetes-sigs/cluste

[2020-03-25 15:46] vincepri commented on #2775
/milestone v0.3.3
/priority important-soon
/area api

[2020-03-25 15:49] neolit123 commented on #2770
/remove-kind bug
/kind future

[2020-03-25 15:49] neolit123 commented on #2770
/kind feature

[2020-03-25 16:42] maelk commented on #2775
@vincepri How would this work in the case of multi-tenancy ? Let's say that the provider v1alpha3 and v1alpha4 fulfill the contract. Clusterctl will deploy it so that the CRD list both, v1alpha4 is the storage version. Now if clusterctl is used to deploy a v1alpha3 provider in a separate namespace, we would hit an issue, since https://github.com/kubernetes-sigs/cluster-api/blob/master/util/convers

[2020-03-25 16:44] maelk commented on #2775
A solution could be to match on group kind and not version in https://github.com/kubernetes-sigs/cluster-api/blob/master/util/util.go#L318

[2020-03-25 16:45] vincepri commented on #2775
which provider are you talking about here?

[2020-03-25 16:47] ncdc opened #2777 "KCP: allow changing of spec.kubeadmConfigSpec.clusterConfiguration.imageRepository"
**User Story**

As a user, I would like to be able to change the image registry I'm using for control plane components.

**Detailed Description**

I'd like to be able to modify the following path in KubeadmControlPlane: `spec.kubeadmConfigSpec.clusterConfiguration.imageRepository`. If I decide to use a different registry after I've created a cluster, I'll need to be able to change this field (the

[2020-03-25 16:48] vincepri commented on #2775
For the map function you linked (https://github.com/kubernetes-sigs/cluster-api/blob/master/util/util.go#L310), this should only be looking at the groupkind, that's correct. Let's fix this in a separate PR though with a ⚠️ title so we can put it in the release notes

[2020-03-25 16:48] ncdc commented on #2777
/area control-plane

[2020-03-25 16:49] vincepri commented on #2777
Should we use this when upgrading CoreDNS, etcd, and kube-proxy as well?

[2020-03-25 16:49] ncdc commented on #2777
kubeadm uses this field if the more specific ones aren't set. We shouldn't need to add any logic here.

[2020-03-25 16:52] vincepri commented on #2777
For etcd that should be the case, but given that we do upgrade `kube-proxy` and `CoreDNS` outside of kubeadm, we should probably account for this in those functions?

Also, could this value change over time?

[2020-03-25 16:59] maelk commented on #2775
ok! @jan-est will take care of the actual implementation though

[2020-03-25 17:14] bboreham commented on #2775
Forgive my lack of background on this point, but I wonder if it suggests that this concept does not map onto a label?
Labels are indexed, so you can use them in selectors. I don't see how a multi-valued field could work that way.  Is it more like an annotation?

[2020-03-25 17:31] detiber opened #2778 "ControlPlane provider contract docs should call out that creating/managing the kubeconfig secret is a requirement"
**User Story**

As a ControlPlane provider implementer I would like to know that creation and management of the cluster kubeconfig secret is a requirement for a ControlPlane provider.

**Detailed Description**

The [Control Plane provider docs](https://cluster-api.sigs.k8s.io/developer/architecture/controllers/control-plane.html) should list creation/management of the kubeconfig secret as a requir

[2020-03-25 17:32] ncdc commented on #2738
We're looking for new maintainer(s) for CAPD - please reach out if you're interested!

[2020-03-25 17:36] ncdc commented on #2769
cc @neolit123 @fabriziopandini

[2020-03-25 17:36] elmiko commented on #2738
i like this idea. i'm finding the docker provider to be invaluable for exploring cluster-api in a local/debug manner.

the idea of having some sort of plugin for the backend sounds great to me, i think it would be amazing to see a variety of container runtime providers.

[2020-03-25 17:40] sedefsavas opened #2779 "[KCP] Increase unit test coverage"
Following issue https://github.com/kubernetes-sigs/cluster-api/issues/2753, this issue is to track unit-test-coverage increase efforts.
There are several TODO unit tests are added to the test files.
We should focus on improving the current coverage which is as follows:

**kubeadm/controllers:**

[code]

**kubeadm/internal:**
[code]

[2020-03-25 17:41] sedefsavas commented on #2779
/area control-plane
/milestone v0.3.x
/priority critical-urgent

[2020-03-25 17:41] sedefsavas commented on #2779
cc @wfernandes @fabriziopandini

[2020-03-25 17:44] vincepri commented on #2779
/milestone v0.3.x

[2020-03-25 17:50] fabriziopandini commented on #2769
I would like to add:
- Kubeadm operation should be idempotent -> so it is easier to re-execute in case of problems
- Investigate usage of etcd learner mode
- investigate changes to the join workflow in order to prevent problems when the API server gets available before the local etcd instance

Final thought.
Despite all the improvements we can add to kubeadm, a CLI cannot prove the same guarantees

[2020-03-25 17:50] jan-est commented on #2775
I open first PR for fixing the separator problem is done. I will fix the other issue with separate PR tomorrow.

[2020-03-25 17:57] JoelSpeed commented on #2775
One would assume annotations also have the same restriction on delimitation right?

I agree with this sentiment, it suggests to me that maybe multiple labels/annotations would be preferable for this long term, one per version in the mapping

[2020-03-25 18:02] vincepri commented on #2775
Labels are indexed and we can ask the client to get us only the ones we're interested in, unfortunately we can't do the same with annotations and we'd have to list all the CRDs, which is a very expensive operation.

If we feel strongly about it and we want to change it, it should probably go in v0.4 given that is non backward compatible change. The contract versions applied to CRDs are also a temp

[2020-03-25 18:03] bboreham commented on #2775
Absolutely not.  Compare [labels](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#syntax-and-character-set) and [annotations](https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/#syntax-and-character-set)

[2020-03-25 18:05] bboreham commented on #2775
This is the bit I don't get: how do we know we are interested in `v1alphaX,v1beta1` ?   Doesn't the set of possible combinations extend off to infinity?

[2020-03-25 18:07] vincepri commented on #2775
We use `HasLabels` to filter only on the CRDs that have the key, and we don't look at the values until we have to sort them and pick the highest version. https://github.com/kubernetes-sigs/cluster-api/blob/a406781c0f44f8252424bb9a32a27dbd5c9c52eb/util/util.go#L445

[2020-03-25 18:08] neolit123 commented on #2769
agreed to all of @fabriziopandini 's points.

kubeadm follows the philosophy of a CLI tool (like ssh, ftp, etc) and it cannot anticipate all of the infrastructure related failures. but having a sane / best-effort amount of retries in the CLI tool makes sense.

hopefully scheduled for 1.19. depends a lot on sig-release and partly on sig-arch!

this can be useful, no doubt. like i've mentioned today

[2020-03-25 18:17] randomvariable commented on #2769
For #2254  we will likely have some component on the machine call back to an infrastructure API notification service (or back to the management cluster) to provide information about the failure. Providing users with access to the log is one case, but providing a readable output, which may actually be something along the lines of expanding the range of error codes, could update a specific condition

[2020-03-25 18:25] nader-ziada commented on #2779
Since this seems like a bit of work, I suggest we split the work by folder so multiple people can work on it

for example, I can start working on some of the internal files without tests while someone else can pick other packages if they want to

[2020-03-25 18:26] nader-ziada commented on #2777
/assign

[2020-03-25 19:58] sedefsavas commented on #2779
Good idea @nader-ziada
I will focus on scale and upgrade tests.

[2020-03-25 20:39] wfernandes commented on #2771
I noticed the stale information as well.
1. I created a single master/single worker cluster on AWS.
1. In the KubeadmControlPlane, I edited etcd.Local.ImageTag and noticed the cluster upgrading.
1. After the upgrade was finished, I saw the following.
[code]

I was expecting to see nothing in `UNAVAILABLE REPLICAS` and even after a while it remains the same without being updated.

[2020-03-26 00:12] #2654 closed

[2020-03-26 07:09] maelk commented on #2775
The second bug discussed is acutally in two functions : MachineToInfrastructureMapFunc and in ClusterToInfrastructureMapFunc

[2020-03-26 08:38] #2495 closed

[2020-03-26 13:59] ericzhang08 commented on #2738
After leaving this project for 8 months and returning to China. I really want to do more contribution to this project again. @chuckha , very glad to see you again.

[2020-03-26 14:47] vincepri opened #2787 "Update controller dependencies"
Update controller-tools to v0.2.8 in `hack/tools/go.mod`  and controller-runtime to v0.5.2 in `go.mod`.

After updating the dependencies, run `make modules` and `make generate`

/kind cleanup
/good-first-issue
/help
/milestone v0.3.3

[2020-03-26 15:18] #2608 closed

[2020-03-26 16:44] wfernandes commented on #2779
/assign
@nader-ziada What files are you going to work on specifically?
I was thinking of `workload_cluster*` and moving onto `kubeadm_config_map*`

[2020-03-26 17:02] nader-ziada commented on #2779
i'll take these
[code]

[2020-03-26 17:17] vincepri opened #2788 "Enable webhooks in envtest"
Controller runtime v0.5.1 https://github.com/kubernetes-sigs/controller-runtime/releases/tag/v0.5.1 added support to enable and run webhooks as part of envtest. We should use this new feature to run our webhooks wherever we can.

/kind feature
/help
/priority important-longterm
/milestone v0.3.x

[2020-03-26 17:20] vincepri opened #2789 "KCP etcd client robustness"
In the current codebase, the etcd client is created from a single node https://github.com/kubernetes-sigs/cluster-api/blob/master/controlplane/kubeadm/internal/etcd_client_generator.go#L35.

To improve robustness, and always make sure to have a client to the current etcd leader, we should instead take the whole list of control plane machines and make sure to always return a client to the current l

[2020-03-26 17:26] sedefsavas opened #2790 "[CAPD] disable preflight checks"
**What steps did you take and what happened:**
Enabled UseExperimenatalRetryJoin in e2e tests https://github.com/kubernetes-sigs/cluster-api/pull/2784
When I run `make test-capd-e2e-full` getting the following error:

`
325 22:50:34.383210       1 machine.go:179] controllers/DockerMachine/DockerMachine-controller "msg"="Failed running command" "cluster"="test-0" "docker-cluster"="test-0" "docker-m

[2020-03-26 17:33] neolit123 commented on #2790
i'd recommend to disable individual preflight checks instead of `--ignore-preflight-errors=all`.

[2020-03-26 17:36] cpanato commented on #2787
will take that!
/assign
/remove-help

[2020-03-26 17:49] cpanato commented on #2240
I saw in the code it checks for the API service but that does not exist in the version 0.13.x, should we instead of checking for that wait for the deployment and check if the service is responding?
what are the guidelines from the team?

thx

[2020-03-26 17:51] ncdc commented on #2240
@munnerz do you have any guidance for how to check for cert-manager readiness in newer releases?

[2020-03-26 17:52] vincepri commented on #2777
/milestone v0.3.3

[2020-03-26 18:03] detiber commented on #2789
@vincepri if robustness is the goal, would it be better to generate the client with all known endpoints and set a short `AutoSyncInterval` on the Config?

We should also be able to use the [WithRequireLeader](https://godoc.org/go.etcd.io/etcd/clientv3#WithRequireLeader) context to ensure that requests go through to the leader regardless of the original endpoints as well.

[2020-03-26 18:04] vincepri commented on #2789
That sounds good to me as well, was trying to do it in smaller steps

[2020-03-26 18:05] randomvariable opened #2793 "Ensure GetNodesClusterRoleName ClusterRole and ClusterRoleBindings exist when upgrading to Kubernetes v1.18"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
When upgrading to Kubernetes v1.18, nodes now need an additional

**What did you expect to happen:**
When upgrading to Kubernetes 1.18, node bootstrapping requires additional permissions.
These are created by kubeadm when 1.18 is initialised, but upgrading requires remediation.

There are

[2020-03-26 19:16] sedefsavas commented on #2790
Even disabling all preflight checks (test/infrastructure/docker/cloudinit/runcmd.go) did not solve this issue. Still getting the same error.

[2020-03-26 19:18] sedefsavas commented on #2790
cc @randomvariable

[2020-03-26 19:19] vincepri commented on #2790
Without the experimental retries the test instead pass fine?

[2020-03-26 19:25] sedefsavas commented on #2790
yes, when I disable them, tests pass. Enabling experimental retry in KubeadmConfigSpec causes control plane nodes to throw error and  enabling it in MachineDeployment causes worker nodes not to come up due to same errors as above.

[2020-03-26 19:28] vincepri commented on #2790
Let's punt it then for now until we can come up with a definite solution?

[2020-03-26 20:25] benmoss commented on #2789
/assign

[2020-03-26 20:38] wfernandes commented on #2654
Should this issue have remained open?

[2020-03-26 20:41] wfernandes opened #2795 "Run CAPD e2e tests in parallel"
**User Story**

As a developer I would like to run `make test-capd-e2e` tests in parallel in order to save time.

We keep increasing the `--timeout` option to `go test` as we add more e2e tests. Our CI should be able to run these tests in parallel to save time.

Ref https://github.com/kubernetes-sigs/cluster-api/pull/2785

/kind feature

[2020-03-26 20:42] sedefsavas commented on #2654
@wfernandes  I will create another issue to avoid rereading this thread as it includes some solved issues.

[2020-03-26 20:44] detiber commented on #2795
It might be good to take a look at some of the things we've done in the CAPA e2e tests to enable parallelization: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/test/e2e/e2e_suite_test.go

There are quite a few gotchas that are likely to come into play, especially if the current tests are expecting specs to run serially.

[2020-03-26 20:51] sedefsavas opened #2796 "[e2e] Parallelize CAPD e2e tests"
Currently e2e tests share control-plane cluster. We can improve CAPD e2e tests by spinning up a new cluster for each test by adding it to BeforeEach() and deleting it in AfterEach() function. By this way the clusters become independent of each other, and hence we can parallelize them.
This issue is as per the discussions in https://github.com/kubernetes-sigs/cluster-api/issues/2654.

[2020-03-26 20:52] sedefsavas commented on #2796
Duplicate of https://github.com/kubernetes-sigs/cluster-api/issues/2795

[2020-03-26 20:52] #2796 closed

[2020-03-26 20:58] #2777 closed

[2020-03-27 08:07] cpanato commented on #2788
@vincepri there is any documentation or sample PR/code for doing that? since I'm still new in the codebase where we should add this in CAPI?
Is it possible to point some initial direction in how to achieve that?
thanks!

[2020-03-27 10:02] cpanato opened #2798 "Move `g:=NewWithT(t)` to be inside the `t.Run`"
Move `g:=NewWithT(t)` to be inside the `t.Run` where applicable

more context: https://github.com/kubernetes-sigs/cluster-api/pull/2791#pullrequestreview-382315429

/kind cleanup
/assign

[2020-03-27 10:14] #2787 closed

[2020-03-27 12:46] jichenjc opened #2800 "[question] how to pin failureDomain in control plane?"
**User Story**

As a [developer/user/operator] I would like to [high level description] for [reasons]

**Detailed Description**

[A clear and concise description of what you want to happen.]

this comes from https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/525
in openstack provider the availiability zone is used for failureDomain in cluster-api now, and from the analysis
ht

[2020-03-27 13:31] benmoss commented on #2789
Usages of `forNode`:

- https://github.com/kubernetes-sigs/cluster-api/blob/master/controlplane/kubeadm/internal/workload_cluster.go#L172
This code is when we are removing a node from the cluster, and is called immediately after `ForwardEtcdLeadership`, so seems safe to switch it to use the master rather than talking to just a random "other" node as it is right now
- https://github.com/kubernetes-

[2020-03-27 14:06] detiber commented on #2789
This code is when we are removing a node from the cluster, and is called immediately after ForwardEtcdLeadership, so seems safe to switch it to use the master rather than talking to just a random "other" node as it is right now

This code is when we are testing etcd cluster health, we loop through each node and test that it can call the Members API, so it seems like we want to keep this as is

Agr

[2020-03-27 14:42] vincepri commented on #2775
Fixed in #2780

/close

[2020-03-27 14:43] #2775 closed

[2020-03-27 14:53] vincepri commented on #2800
This is correct, only working in KubeadmControlPlane at the moment.

What do you mean here? Is this for control plane machines or just any generic machine?

[2020-03-27 14:53] vincepri commented on #2800
/triage support

[2020-03-27 14:53] vincepri commented on #2800
/milestone Next

[2020-03-27 15:03] randomvariable opened #2801 "Print controller versions on startup"
/kind feature

**Describe the solution you'd like**
Would be great to to see the controller version in the logs, makes debugging issues for end users much simpler.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api: 0.3.*

[2020-03-27 15:10] #2798 closed

[2020-03-27 15:11] vincepri commented on #2801
/help
/priority important-longterm
/milestone Next

[2020-03-27 15:11] vincepri commented on #2795
/milestone v0.3.x

[2020-03-27 17:11] vincepri opened #2803 "Run integration and e2e tests only when certain files change"
/kind cleanup
/help
/milestone v0.3.x
/priority backlog

In test-infra we have https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits.yaml that's for running pre-submit jobs on every PR.

To reduce prow load, and PR merge time for documentation, we can use `run_if_changed` (https://github.com/kubernetes/test-infra/blob/master/prow/jobs.m

[2020-03-27 19:07] yastij opened #2805 "KCP upgrades with imageRepository changed aren't complete"
**What steps did you take and what happened:**

when performing a KCP upgrade from `v1.17.1` to `v1.17.3` and updating KCP's `imageRepository` in the `clusterConfiguration`, `dns` and `etcd` the KCP is edited successfully. but when reconciling the upgrade kubeadm is trying to pull the core k8s components from the old `imageRepository` (coreDNS and kube-proxy didn't get updated too).

when checking

[2020-03-27 19:07] yastij commented on #2805
/priority important-soon

[2020-03-27 19:23] vincepri commented on #2805
/milestone v0.3.3
/priority critical-urgent
/assign @benmoss
/lifecycle active

[2020-03-27 19:23] #2609 closed

[2020-03-27 22:13] #2805 closed

[2020-03-27 22:40] CecileRobertMichon commented on #2339
Interested as well.

@ncdc I wonder if what you're describing could also apply for out-of-tree cloud provider managers and CSI (related to https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/456#issuecomment-605171003). In this case we'd want all clusters with a certain K8s version (eg. 1.18+) to install the CCM and CSI addons.

[2020-03-27 22:49] vincepri opened #2810 "KCP: CoreDNS upgrade with imageRepository containing subpaths doesn't work"
**What steps did you take and what happened:**
Try to set `dns.imageRepository` to a repository that has a subpath like `foo.io/upgrade`, the upgrade fails with:
[code]

**What did you expect to happen:**
Upgrade to succeed.

/kind bug
/area control-plane
/milestone v0.3.x

[2020-03-27 23:55] vincepri commented on #2810
See https://play.golang.org/p/McES6F4X5L6 for more details on why this is happening

[2020-03-28 00:06] vincepri commented on #2810
If having subpaths in the imageRepository is valid, we should either fix it by having some utils to parse images, or if they're not allowed we should have webhooks in place

[2020-03-28 00:08] vincepri commented on #2810
cc @fabriziopandini @neolit123

[2020-03-28 00:11] neolit123 commented on #2810
is this a bug in the coredns migration library?

[2020-03-28 07:05] jichenjc commented on #2800
the control plane, I find a place to pin worker node ,but didn't find where to pin the failuredomain for the control plane node

[2020-03-28 08:25] casibbald commented on #2339
We have it running for all components and providers and fully managed by
helm

On Fri, 27 Mar 2020 at 22:41, Cecile Robert-Michon <notifications@github.com>
wrote:

[2020-03-28 10:18] tahsinrahman commented on #2803
/assign

[2020-03-28 10:56] tahsinrahman commented on #2801
/assign

[2020-03-28 14:35] casibbald opened #2811 "Fold in Weaveworks helmchart for capi-components"
***Goals***
1. Include capi-components helm chart into upstream, update build tools to autogenerate the chart.

***Non-Goals/Future Work***
fully generate the helm repo automatically with CI

**User Story**

As a developer, I would like to deploy CAPI-Components using helm to simplify the management of my CAPI infrastructure.

**Detailed Description**

I want to be able to autogenerate a helm char

[2020-03-28 18:24] dippynark opened #2813 "Add Kubernetes provider to pre-defined list"
**Detailed Description**

I have been working on an infrastructure provider implementation using Kubernetes Pods as Nodes and was wondering if it would be useful to add to the list of out-of-the-box providers: https://github.com/dippynark/cluster-api-provider-kubernetes

The provider would be useful for testing and experimentation rather than production so potentially it isn't the right fit.

/kin

[2020-03-29 12:26] fabriziopandini commented on #2810
fyi this piece of clusterctl is doing image repository and it handles repository sub paths properly
https://github.com/kubernetes-sigs/cluster-api/blob/f07371de19756a95a4a1f09c236ace004261be22/cmd/clusterctl/client/config/imagemeta_client.go#L130-L160
As discussed https://github.com/kubernetes-sigs/cluster-api/pull/2558#discussion_r388986918, this approach provides users the flexibility to organiz

[2020-03-30 03:19] JohnOnTheWeb opened #2815 "Unable to connect to API of workload cluster"
**What steps did you take and what happened:**
Followed quickstart to create docker infrastructure in KIND / Docker environment

**What did you expect to happen:**
Be able to connect to API with kubectl

**Anything else you would like to add:**
Created workload cluster with following command
clusterctl --target-namespace test1 --config /home/john/.cluster-api/clusterctl.yaml config cluster test |

[2020-03-30 05:36] sbueringer commented on #2800
@vincepri Right now the infrastructure provider detects failure domains and then the KubeadmControlplane controller chooses between these failure domains to distribute the control plane machines equally. I think it would be nice if there's any way to restrict or filter the failure domains for a cluster. So that it's possible to decide in which failure domains the control plane is spun up (e.g. to

[2020-03-30 08:17] fabriziopandini commented on #2813
As far as understand this provider is based on kind, so it falls on the same category of CAPD, developer tools.

Currently, CAPD is not included in the list of out-of-the-box providers, but there is documentation about how to use it in the Cluster API books under developer tools. What about using the same approach for this provider as well?
Also, should we rename this cluster-api-provider-pods? (K

[2020-03-30 09:12] fabriziopandini commented on #2815
I'm not a windows user, but this seems really similar to the problem user are facing on macOS https://github.com/kubernetes-sigs/cluster-api/issues/1685

The workaround so far is to change the API server address in the kubeconfig file to 127.0.0.1:[load balancer host port] (in your example 41307)

[2020-03-30 09:38] fabriziopandini commented on #2753
WRT to #2321, My proposed plan is to close the current PR and proceed with the following plan
- [ ] Owner: @fabriziopandini Extend current E2E framework for allowing
  - clusterctl based test workflows
  - switch of the infrastructure provider used by E2E tests by changing the config file (portable workflows)
- [ ] Document how to write E2E tests (different approaches)
- [ ] Create a new version o

[2020-03-30 10:51] Xenwar opened #2816 "Provisioning a single control plane node results in two nodes being provisioned."
**What steps did you take and what happened:**
Provisioning a single control plane node results in two nodes being provisioned.
More logs are added as comments.

**What did you expect to happen:**
A single node is provisioned.

**Anything else you would like to add:**
This issue may not be possible to provision as this occurred only once.
However, we are adding the logs so that logs are not logs a

[2020-03-30 10:51] Xenwar commented on #2816
[code]

[2020-03-30 10:53] Xenwar commented on #2816
capi-controller-manager-6b584cb4b7-tgwpl.log
[code]

[2020-03-30 10:53] Xenwar commented on #2816
:~/logs$ cat capi-kubeadm-bootstrap-controller-manager-689678664d-v4b85.log

I0330 08:04:19.848166       1 listener.go:44] controller-runtime/metrics "msg"="metrics server is starting to listen"  "addr"="127.0.0.1:8080"
I0330 08:04:19.850334       1 main.go:150] setup "msg"="starting manager"
I0330 08:04:19.851587       1 leaderelection.go:242] attempting to acquire leader lease  capi-kubeadm-boot

[2020-03-30 10:55] Xenwar commented on #2816
capi-kubeadm-control-plane-controller-manager-57bcb55696-56m65.log
[code]

[2020-03-30 12:21] JoelSpeed commented on #1876
I've opened a PR to add the proposal formally https://github.com/kubernetes-sigs/cluster-api/pull/2817

[2020-03-30 12:23] enxebre opened #2818 "Control Plane Provider should reconcile by removing etcd member for voluntary machine disruptions e.g deletion"
**What steps did you take and what happened:**
Delete a control plane machine.
It causes the Control Plane Provider health checks to fail and reconciliation to stop.

**What did you expect to happen:**
When something deletes a Machine the Control Plane Provider reconciles by removing the corresponding etcd member and updating related metadata.

**Anything else you would like to add:**
[Miscellaneo

[2020-03-30 12:24] enxebre commented on #2818
/area control-plane

[2020-03-30 13:47] gab-satchi commented on #2610
Fixed by #2785
/close

[2020-03-30 13:47] #2610 closed

[2020-03-30 14:05] gab-satchi commented on #2810
/assign
/lifecycle active

[2020-03-30 14:31] vincepri commented on #2800
@jichenjc @sbueringer That makes sense, it should be possible to achieve that use case today by restricting the list of failure domain with the `.ControlPlane` boolean to true. The logic or restriction flags can be placed on the ClusterInfrastructure Spec. I can provide an example later today if the concept isn't clear

[2020-03-30 14:32] vincepri commented on #2811
I put a hold on the related PR, we can discuss it at the next community meeting if this is something that we want to do and support as a community

[2020-03-30 14:39] sbueringer commented on #2800
@vincepri Ah of course got it. So it would work like this:
* add a field to restrict the failure domains in the infrastructure-provider specific Cluster resources
* set ControlPlane to true (in the infrastructure cluster controller) only on those failure domains which are viable for control plane machines

Okay I guess then the only question is if it's preferred to implement the field to restrict

[2020-03-30 14:42] vincepri commented on #2800
That's correct. To give some background, during proposal times, it was pointed out that having failure domains restrictions / options on the KCP resource would be a little tricky, given that we don't know how infrastructure providers shape their domains, or which options they want to expose.

To avoid adding filtering based on a map without type safety or validation, we left it up to the infrastru

[2020-03-30 14:44] vincepri commented on #2818
/milestone v0.3.x
/priority important-soon

@fabriziopandini @sedefsavas any of you wants to pick this one up? It'd be great to have support for this use case in the next version

[2020-03-30 14:45] vincepri commented on #2387
Closing, fixed in #2445

/close

[2020-03-30 14:45] #2387 closed

[2020-03-30 14:50] sbueringer commented on #2800
@vincepri Okay sounds reasonable. We just wanted to make sure it's not something which is just missing in the KCP resource. Then we'll just add it to the OpenStackCluster

[2020-03-30 14:55] vincepri commented on #2800
Sounds good!

Feel free to close when ready.

[2020-03-30 15:03] vincepri commented on #2816
Possibly related https://github.com/kubernetes-sigs/cluster-api/issues/2430

[2020-03-30 15:05] vincepri commented on #2815
/triage support
/milestone Next

[2020-03-30 15:11] vincepri commented on #2753
+1 from me, let's open different issues if we all agree on the plan

[2020-03-30 15:51] sedefsavas commented on #2818
I can take this one.
/assign

[2020-03-30 15:58] dims commented on #2753
/cc

[2020-03-30 16:14] vincepri commented on #2753
Going to retitle this issue to be tracking the KubeadmControlPlane rewrite

/retitle KubeadmControlPlane v2 iteration and robustness

[2020-03-30 16:28] ncdc opened #2822 "Make clusterctl cert-manager timeout configurable"
**User Story**

As a developer using the clusterctl library, I would like to be able to specify a custom timeout for waiting for cert-manager to be available, as the default hard-coded 10 minute value might not be enough if my internet connection is slow.

As a user using clusterctl, I would like to be able to specify a custom timeout for waiting for cert-manager to be available, as the default ha

[2020-03-30 16:31] vincepri commented on #2822
/help
/milestone v0.3.4

[2020-03-30 16:31] vincepri commented on #2822
/priority important-soon

[2020-03-30 16:31] vincepri commented on #2822
@fabriziopandini How do we set other timeouts today? Environment variables, flags?

[2020-03-30 16:34] ncdc commented on #2822
MVP for me is library-only for an API consumer. Bonus is a flag or env var.

[2020-03-30 17:04] tahsinrahman opened #2823 "Move `version` package from cmd"
As we're starting to use `version` package in controllers too, we should move the package from `cmd/version` to somewhere more suitable.

ref: https://github.com/kubernetes-sigs/cluster-api/pull/2814#discussion_r400257654

/kind cleanup

[2020-03-30 17:14] nader-ziada commented on #2822
/assign

[2020-03-30 17:25] vincepri commented on #2823
/milestone v0.4.0
/priority backlog

[2020-03-30 17:30] #2801 closed

[2020-03-30 17:31] vincepri commented on #2801
/milestone v0.3.4

[2020-03-30 18:58] wfernandes commented on #2659
/assign
/lifecycle active

[2020-03-30 20:15] fabriziopandini commented on #2822
The simplest implementation will be using envvars, like e.g we are doing for the overrideFolder.
Library only requires an interface change, soI highly raccomand to tackle this with https://github.com/kubernetes-sigs/cluster-api/pull/2597 and https://github.com/kubernetes-sigs/cluster-api/issues/2659

[2020-03-30 20:24] nader-ziada commented on #2822
@fabriziopandini I was trying to implement this by adding a flag to the init command, do you think that is better or doing a env var?

[2020-03-30 20:40] ncdc commented on #2822
Ok, env var is fine for now 😄

[2020-03-30 21:56] DheerajSShetty opened #2825 "NPE in MachineDeployment controller when spec.Strategy is Empty"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
Tried to machinedeployment cluster without webhooks, i.e without capi-webhook-system namespace and its components. I used the machinedeployment that is part of each release which does not have `MachineDeploymentStrategy` set.

**What did you expect to happen:**
Since `MachineDeploymentStra

[2020-03-30 22:03] vincepri commented on #2825
This is expected behavior. The webhook code is treated as integral part of the Cluster API core, and it's a required dependency.

Currently, the defaulting happens here https://github.com/kubernetes-sigs/cluster-api/blob/master/api/v1alpha3/machinedeployment_webhook.go#L130-L136

[2020-03-30 22:33] CecileRobertMichon opened #2826 "Expand test framework to include upstream k8s testing"
ie. Use CAPI to test Kubernetes

***Goals***
1. Use CAPX as deployer to test upstream k/k changes
2. Use CAPX as deployer to test k8s-sigs projects such as out-of-tree cloud providers
3. Run upstream k8s conformance tests against CAPI
4. Encourage reuse across different infra providers instead of maintaining bash scripts in each in provider repo (right now there are scripts in [CAPG](https://githu

[2020-03-30 23:09] sedefsavas commented on #2425
This is working with the latest changes. Closing.

[2020-03-30 23:09] #2425 closed

[2020-03-30 23:23] sedefsavas commented on #2424
For docker developer setup, there is a different workflow:
https://cluster-api.sigs.k8s.io/clusterctl/developers.html#additional-steps-in-order-to-use-the-docker-provider

Closing this issue.

[2020-03-30 23:23] #2424 closed

[2020-03-31 00:14] CecileRobertMichon commented on #2731
So I tried to repro with capz 0.4.0 and capi v0.3.3 and I'm not getting the same error anymore, this time I get past it, however I'm now seeing `init` getting stuck at `Waiting for cert-manager to be available...` consistently, even though cert-manager seems to be ready:

[code]

[code]

[code]

[2020-03-31 01:16] dippynark commented on #2813
sounds good, will write something up

Each Node is its own Pod so a CAPKubernetes cluster is formed of multiple Pods - I'd say CAPod would correspond with something like CAPEc2 rather than CAPAws, so I feel saying Kubernetes is the infrastructure provider makes more sense.

[2020-03-31 01:59] jichenjc commented on #2800
so the confirm, set the ControlPlane flag in the provider should be good enough ,correct ?
the provider itself knows which one to be failuredomain and then go ahead and set the flag :)
@vincepri @sbueringer I will close this question, thanks for answering :)

[2020-03-31 01:59] #2800 closed

[2020-03-31 04:32] sbueringer commented on #2800
No I think you got it wrong. The idea is to filter the AZs for the control plane via a field and then set the ControlPlane bool to true for the failure domain:

[code]

But I'll comment in the PR on CAPO what to change

[2020-03-31 07:35] Xenwar opened #2827 "capi-controller-manager unable to locate a provisioned cluster"
**What steps did you take and what happened:**
provision a cluster
provision a control plane

The control plane is not provisioned and requeuing occurs indefinitely.
But, the cluster is already provisioned.

[code]
Logs of controllers are added as comment.
**What did you expect to happen:**
provisioning of the control plane node should succeed.

**Anything else you would like to add:**
This is one

[2020-03-31 07:35] Xenwar commented on #2827
capi-kubeadm-bootstrap-controller-manager-
[code]

[2020-03-31 07:36] Xenwar commented on #2827
capi-kubeadm-control-plane-controller-manager
[code]

[2020-03-31 07:37] Xenwar commented on #2827
capi-controller-manager
[code]

[2020-03-31 10:10] fabriziopandini commented on #2731
@CecileRobertMichon Waiting for cert-manager to be available... is waiting for the ApiService `v1beta1.webhook.cert-manager.io` to get `status.conditions` with type `Available` and value `true`.
this can be checked with
[code]
or simply with
[code]

By looking at the `apiservice/v1beta1.webhook.cert-manager.io` spec, this API service depends on the following service
[code]
And by my observations,

[2020-03-31 13:17] Xenwar commented on #2827
This was caused by a malformed yaml file. And, can be ignored.

[2020-03-31 13:17] #2827 closed

[2020-03-31 14:58] vincepri commented on #2826
Thanks for the write-up Cecile!

I'd expand the 4th goal mentioning we intend to extend the current `test/framework` to allow this proposal to be implemented there.

Would this entail changes to image-builder to take some custom scripts that can setup images in a custom fashion? We should probably tackle this separately, it's a really interesting idea and would make the images generic, although I

[2020-03-31 15:03] vincepri commented on #2414
/milestone v0.3.4

[2020-03-31 15:04] timothysc commented on #2826
pros: can be reused more easily by users not familiar with the project and CI, doesn't require the preKubeadm "hack" script, or reusing a VM image.

+1 ^ this is generally more useful for testing, but I still see a problem with the kubelet.  You can override almost everything else, but the kubelet running on the base OS built by the image builder is not easily replaced unless you combined a rpm/de

[2020-03-31 15:04] vincepri commented on #1565
Should we close this issue now that we have https://cluster-api.sigs.k8s.io/clusterctl/developers.html#additional-steps-in-order-to-use-the-docker-provider? @fabriziopandini @dlipovetsky

[2020-03-31 15:05] vincepri commented on #2535
Going to close this one now that #2563 has been merged and we haven't heard back

/close

[2020-03-31 15:05] #2535 closed

[2020-03-31 15:10] vincepri commented on #2769
/area dependency

[2020-03-31 15:11] vincepri commented on #2759
Somewhat related: https://github.com/kubernetes-sigs/cluster-api/issues/2818

[2020-03-31 15:12] vincepri commented on #2585
@erstaples are you still interested in working on this feature?

[2020-03-31 15:35] vincepri commented on #1945
/milestone v0.3.4

This should be pretty straightforward now that we have webhooks in place, it's a matter of removing https://github.com/kubernetes-sigs/cluster-api/blob/master/controllers/machineset_controller.go#L674-L684

[2020-03-31 15:49] vincepri commented on #2803
Closing this given that we might be cumbersome including all the files that need changes and might not be worth it.

Thanks again @tahsinrahman for the linked PR, we'll have to work towards improving runtime of e2e and integration tests instead of this

/close

[2020-03-31 15:49] #2803 closed

[2020-03-31 16:25] scottd018 opened #2830 "clusterctl config repositories point to invalid URLs"
**What steps did you take and what happened:**
Run the following:

[code]

Pick any of the repositories and you will get a 'Not Found' message:

[code]

**What did you expect to happen:**

The repositories will reference valid YAML repositories AND the specific version of clusterctl should be used in the repository URL (not latest).

**Anything else you would like to add:**

N/A

**Environment:**

[2020-03-31 16:30] vincepri commented on #2830
Seems the correct URL should be https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/releases/latest/download/infrastructure-components.yaml

missing the `download/` subpath

/assign @fabriziopandini @wfernandes
/milestone v0.3.x

[2020-03-31 16:32] scottd018 commented on #2830
@vincepri yes, sorry, I forgot to notate what the correct URL should be.  Was thinking it also should reference the correct version that is associated with the currently installed `clusterctl` binary (as opposed to latest), but perhaps that is taking it a bit too far.

[2020-03-31 16:33] vincepri commented on #2830
Sounds like a valid ask to me

[2020-03-31 16:43] CecileRobertMichon commented on #2826
@vincepri @timothysc what I meant by

Is that instead of using `preKubeadmCommand` to pass in the [script](https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/471/files#diff-99798beff3df309ff795d5258279b0a3R15) that overrides the k8s version, we add a new property, maybe under a feature gate, to pass in a "custom"  k8s version (what we call `CI_VERSION` in the script above, or custo

[2020-03-31 16:51] CecileRobertMichon commented on #2731
@fabriziopandini see the very last line in my previous comment. I did check the API service and it was indeed not available. I suspect it has something to do with the default capz security group not allowing port 443 traffic.

[2020-03-31 16:57] alexeldeib commented on #2826
FYI, in 1.16 kubeadm started supporting Kustomize patches (`-k` flag) on the static manifests. Might be useful:
- https://github.com/kubernetes/enhancements/issues/1177
- https://github.com/kubernetes/kubernetes/pull/80905
- https://github.com/kubernetes/kubernetes/pull/81458

[2020-03-31 17:25] DheerajSShetty commented on #2825
I agree. Can we handle the NPE and log warning instead?

[2020-03-31 17:32] vincepri commented on #2825
We could, but that defeats the purpose of having webhooks imo. We should assume that webhooks are part of the same code paths, and guards/checks should be elsewhere.

[2020-03-31 18:14] sedefsavas opened #2831 "[KCP] Selecting failure domain logic does not consider all failure domains in control plane"
**What steps did you take and what happened:**
The logic to select a failure domain to pick a machine to remove disregards control plane machines and considers only machines selected to upgrade.
This logic is introduced while fixing https://github.com/kubernetes-sigs/cluster-api/issues/2760

**What did you expect to happen:**
I expected it to order all failure domains in control plane by the numbe

[2020-03-31 18:14] sedefsavas commented on #2831
/assign

[2020-03-31 18:34] vincepri commented on #2831
/milestone v0.3.4

[2020-03-31 19:52] detiber commented on #2826
I kind of like the idea of adding support to the bootstrap provider (and hiding it behind a feature gate). It would allow us to recreate the existing functionality in a more centralized and re-usable way than exists today.

If nothing else it would provide a good stopgap until we can better define an automated pipeline where we could consume images that are automatically built using image-builder

[2020-03-31 19:54] detiber commented on #2826
We would either need to validation against k8s requested version and kustomize patches or wait until we are ready to declare that we are only willing to support workload clusters >= v1.16 if we go down that path.

[2020-03-31 20:08] fabriziopandini commented on #2830
@vincepri @scottd018

WRT to the suggestion of making the url corresponding to the real url I agree this can be less confusing for the users. However, we should make sure that the download/ subpath is ignored otherwise the api calls will fail.

The idea behind `latest` is to always use the most recent versions of a provider when creating a management cluster; this behavior was copied by kubeadm, a

[2020-03-31 20:23] vincepri commented on #2830
Maybe we should remove the full URL from the output and just point to the base repository instead?

[2020-03-31 20:23] vincepri commented on #2830
we can also output the version separately

[2020-03-31 20:41] fabriziopandini commented on #2826
+1 to this, I would like also to consider the idea of having Cluster APi conformance tests (as a next step for the work started with https://github.com/kubernetes-sigs/cluster-api/issues/2753)

This should be already possible, I can give examples if required.

[2020-03-31 20:47] DheerajSShetty commented on #2825
We can close this issue .

[2020-03-31 20:47] #2825 closed

[2020-03-31 20:51] fabriziopandini commented on #2830
How the URL should be interpreted to determine what is the base repository vs what is latest/version depends on the type of repository (Github vs FileSystem).

Instantiating those repository objects might be overkilling for the current command output, but if instead, we decide to redesign the output and show available versions this could make sense (there is also an issue for this https://github.c

[2020-03-31 20:54] sethp-nr commented on #2753
Once there's a more robust test framework in place, I'd like to discuss #2652. As it stands, KCP upgrades are fairly disruptive; as long as the KCP is able to make progress things recover quickly, but there's an opportunity to be more graceful in the common case by using `--shutdown-delay-duration` and imposing a cooling off period between "stopping" the API server (plus some work to make this pos

[2020-03-31 21:07] CecileRobertMichon commented on #2826
@fabriziopandini would love examples if you have them

[2020-03-31 21:27] CecileRobertMichon commented on #2731
Changing the NSG rules did not help unfortunately, it's still failing with the same error. I took a look with @vincepri this morning and we couldn't figure out what was going on. Cluster networking seems generally healthy and I didn't have any issues creating a simple nginx service.

[2020-03-31 21:47] evalsocket commented on #2389
@detiber Hey, We need to add index for the plugin. You can publish any cli tool as kubectl plugin. Check https://krew.sigs.k8s.io/docs/developer-guide/

[2020-03-31 21:49] evalsocket commented on #2738
@ncdc I am interested

[2020-04-01 07:45] enxebre opened #2836 "Self healing control plane: Enable MHC to watch control plane machines"
***Goals***
1. Enable MHC to watch control plane machines so faulty nodes can be auto repaired.

***Non-Goals***
1. Introduce any control plane awareness logic in the MHC controller.
2. Define unhealthy criteria / set node conditions.
3. Recovering for scenarios where quorum would be violated.

**User Story**

As a user/operator I'd my control plane machines/nodes to be self healing. I.e gracefull

[2020-04-01 07:46] enxebre commented on #2836
/area control-plane

[2020-04-01 07:47] enxebre commented on #2753
This might be relevant to include here:
https://github.com/kubernetes-sigs/cluster-api/issues/2818
https://github.com/kubernetes-sigs/cluster-api/issues/2836

[2020-04-01 08:26] fabriziopandini opened #2837 "Clustertctl should validate kubernetes version is >= v1.16.0"
**What steps did you take and what happened:**
xref https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1676

Clustertctl fails if the management cluster is <= v1.16.0

Followed the Quickstart in the docs line by line exactly and I got this error when running:
clusterctl init --infrastructure aws

o matches for kind "CustomResourceDefinition" in version "apiextensions.k8s.io/v1

**W

[2020-04-01 08:48] moonek opened #2838 "annoying error message "failed to update CoreDNS deployment: failed to validate CoreDNS:""
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

The log below is continuously output in `capi-kubeadm-control-plane-controller-manager`
(even after the workload cluster is successfully installed)
[code]

**What did you expect to happen:**
I know there is no need to update because the valid version and the current version are the same.

[2020-04-01 14:15] fabriziopandini commented on #2635
/area clusterctl

[2020-04-01 14:15] fabriziopandini commented on #2637
/area clusterctl

[2020-04-01 14:39] prksu opened #2840 "kind helpers setup error when using kind v0.7.0"
**User Story**

As a developer, I would like to use kind v0.7.0 for run e2e-test

**Detailed Description**

In `test/helpers/kind.Setup()` we run `kind get kubeconfig-path` which already removed in v0.7.0 and caused an error.

https://github.com/kubernetes-sigs/cluster-api/blob/09f87a2aadcd590952e17684f5c05259337e4da9/test/helpers/kind/setup.go#L64

We need to migrate the behavior so it can also s

[2020-04-01 15:20] vincepri commented on #2840
/assign @detiber

Can we write a deprecation notice or remove this from the codebase in the next path release?

[2020-04-01 15:21] vincepri commented on #2838
This issue is the same as #2824, it should be fixed soon in v0.3.4

[2020-04-01 15:22] vincepri commented on #2837
/milestone v0.3.4
/help
/priority important-soon

[2020-04-01 15:55] vincepri commented on #2836
/milestone v0.3.x
/priority important-longterm

[2020-04-01 15:56] vincepri commented on #2838
cc @gab-satchi

[2020-04-01 15:59] #2822 closed

[2020-04-01 15:59] prksu commented on #2837
i'll take this one
/assign

[2020-04-01 16:04] fabriziopandini commented on #2837
/lifecycle active

[2020-04-01 17:07] sedefsavas opened #2844 "[KCP] Provide all endpoint when getting ETCD client"
Instead of trying to get ETCD client for a specific node, provide all control plane nodes as endpoints and let clientv3.New() handle connecting to an available endpoint. This will simplify some of the logic in the code.
Kubeadm is using a similar logic:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/etcd/etcd.go

/kind cleanup
/area control-plane

[2020-04-01 17:26] ncdc commented on #2450
@vincepri to fill in some details for how to potential solve this problem

[2020-04-01 17:27] bboreham commented on #2450
Would this be any help? https://github.com/kubernetes/test-infra/tree/master/ghproxy

[2020-04-01 17:30] elmiko commented on #2826
just to add an extra layer to this conversation, i am looking at contributing some e2e tests for the kubernetes autoscaler that use cluster-api. although we will start by using the docker provider to help keep the resources low, i think it would not be difficult to have these tests also use cloud providers at some point.

[2020-04-01 17:30] randomvariable commented on #2753
@vincepri We discussed refactoring the dialler that we send to the etcd client to pass in all of the etcd pods. Still a worthy activity?

[2020-04-01 17:33] elmiko commented on #2121
adding a comment here as i am interested in refactoring the docker provider documentation and i think the work would be congruent with this effort.

i would like to contribute a documentation change that removes the docker information from quickstart and adds(or improves) the separate developer-facing docs about docker.

i have consulted with at least one other community member who would like to c

[2020-04-01 17:47] vincepri commented on #2450
In https://github.com/kubernetes-sigs/cluster-api/blob/master/hack/tools/mdbook/releaselink/releaselink.go#L56-L65

We use go proxy to get the latest version, and the go `raw.github.com` which doesn't have the same API limits that other endpoints have.

If we go down this path, we should make sure we let users use their preferred proxy from `GOPROXY` environment variable, or default to `proxy.gola

[2020-04-01 17:48] vincepri commented on #2790
/milestone Next

[2020-04-01 17:48] vincepri commented on #2826
/milestone v0.3.x

[2020-04-01 17:49] vincepri commented on #2838
Closing as duplicate of #2810, feel free to reopen if necessary after v0.3.4 is released

/close

[2020-04-01 17:49] #2838 closed

[2020-04-01 17:49] vincepri commented on #2844
cc @randomvariable

/milestone v0.3.x

[2020-04-01 17:50] vincepri commented on #2753
Seems @sedefsavas opened https://github.com/kubernetes-sigs/cluster-api/issues/2844

[2020-04-01 17:59] ncdc commented on #2813
cc @elmiko

[2020-04-01 18:00] yastij commented on #2554
@ncdc - it depends on how much granularity we want here. I'd be just fine to know If cloud-init succeeded or not. a trivial way to do it is to label or annotate the corresponding node object on startup

[2020-04-01 18:02] elmiko commented on #2811
this came up during the weekly meeting today, and there were several opinions expressed that any change like this would require maintenance and possibly some form of automated generation.

i just wanted to chime in here and echo those opinions, i think we before we add more configuration/manifests beyond the basic template and yaml files we currently have there would need to be a plan in place for

[2020-04-01 18:04] elmiko commented on #2813
this sounds like a cool project, i am curious though is the intent to create a more robust development/debug provider or is there an intention to have this be production grade at some point?

[2020-04-01 18:07] detiber commented on #2554
@yastij that is definitely a possibility, however it assumes that there are credentials available on the host with enough permissions to modify the Node object after starting. If I'm not mistaken that is only the case for control plane Nodes and not for general worker Nodes.

[2020-04-01 18:30] vincepri commented on #1584
/remove-lifecycle stale

[2020-04-01 18:31] dlipovetsky commented on #2554
Is it common for cloud-init to fail, but for the Node resource be created?

[2020-04-01 18:32] dlipovetsky commented on #2554
I would be in favor of using a reporting mechanism that handles a broad range of bootstrap failures. And that implies the mechanism is not related  to whatever is being bootstrapped (Kubernetes, in this case). I think the mechanism will have to be infrastructure-specific.

(_Thinking out loud_) For example, CAPA could fetch the [console output](https://docs.aws.amazon.com/AWSEC2/latest/APIReferenc

[2020-04-01 18:35] vincepri commented on #2554
+1 to this. CAPI can offer common (optional) ways to tap to the information infrastructure providers expose.

[2020-04-01 19:00] ncdc commented on #2554
Recording for posterity from a 1:1 I had with @yastij: he asked if we could use the kubeletExtraArgs to set the initial-node-labels to indicate "bootstrapping done", and I pointed out that the kubelet registers its `Node` with the apiserver before init/join is 100% done, so this won't work, unfortunately.

@dlipovetsky

Agreed; I don't think there is any generic option.

We see it fairly frequentl

[2020-04-01 19:22] erstaples commented on #2585
Hi @vincepri , I am indeed. Apologies for my self-assign-and-disappear act :) I can start work on it, at the latest, tomorrow.

[2020-04-01 19:39] erstaples commented on #2585
@vincepri OK, having taken a look at it, it looks like its a matter of surfacing DeletePolicy on the MachineRollingUpdateDeployment type, setting a default in PopulateDefaultsMachineDeployment, and making sure to set DeletePolicy on the MachineSet in `machinedeployment_sync.go`.

What might the concerns be wrt backwards compatibility?

[2020-04-01 19:54] vincepri commented on #1658
/milestone v0.3.x

[2020-04-01 20:25] rikatz commented on #1576
@vincepri Do you know if there's someone working in extending this to support additional output providers as commented by Jason [here](https://github.com/kubernetes-sigs/cluster-api/issues/1576#issuecomment-517698950)?

I was making some tests here with ClusterAPI and really want to make this work with Flatcar Linux but in the right way :D

If no one is working on this, I'll take a look into the c

[2020-04-01 21:01] vincepri commented on #1576
@rikatz I don't think anyone has started working on that yet

[2020-04-01 21:06] dippynark commented on #2813
@elmiko it started as just a good way to learn about cluster api, but I was hoping it'd be useful for something like testing controllers or distributed applications by allowing pipelines to spin up temporary clusters on existing clusters - there wasn't an intention for production grade though.

One potential future use case would be to spin up just the control plane with this provider but connect

[2020-04-01 21:17] vincepri commented on #2813
It could be, if there is a control plane provider that's pod-based, and then infrastructure references are actual infrastructure providers

[2020-04-01 21:31] vincepri commented on #2585
@erstaples If the MachineSet already has a default I don't think we need to set one in MachineDeployment, so it could effectively be empty (nil), maybe?

[2020-04-01 22:10] dippynark commented on #2813
Potentially that's already possible then, have only tried with Pod based worker machines.

I can't really find a good place to put this provider in the developer docs to fit in with what is there for docker, unless a separate page would be good? EIther way the docker provider would almost certainly be more appropriate for local development at least.

I think the list of [infrastructure providers](

[2020-04-01 22:26] elmiko commented on #2813
i am trying to sync up with folks about re-doing the docker provider page and perhaps it would fit best as a parallel document?

i am still working on the pull request, but i am proposing removing docker from the quickstart guide and creating a single document instruction in the developer section for docker. it might be nice to create a section that would fit this provider as well. i would like to

[2020-04-02 00:21] dippynark commented on #2813
Makes sense and especially with confusion around mixed messages for users as I don't think the Kubernetes provider would be great for testing compared to using the docker one.

I can hold off on any changes related to this issue then until the ones you linked are merged - if that new docker provider section gets created I can potentially copy the format to create a parallel one for the Kubernetes

[2020-04-02 08:11] jan-est opened #2846 "External Machine remediation"
**User Story**

As a Cluster Api infrastructure provider I would like to implement my own machine remediation logic and use my own logic instead of default one in MachineHealthCheck.

**Detailed Description**

We expect cluster api to enable the use of provider specific remediation logic as part of the MachineHealthCheck. Cluster api MachineHealthCheck should mark machines unhealthy and return the

[2020-04-02 12:20] fabriziopandini commented on #2830
/area clusterctl

[2020-04-02 12:21] fabriziopandini commented on #2731
/area clusterctl

[2020-04-02 12:24] fabriziopandini commented on #2450
/area clusterctl

[2020-04-02 13:32] detiber commented on #2813
I really like the simplicity of the service-based load balancer approach taken with your provider. I'm wondering if it would make sense to merge the different approaches taken between CAPD and this provider.

As an aside, I would suggest not using any references to UID, since it would not persist across a `clusterctl move` operation.

[2020-04-02 13:42] fabriziopandini commented on #2450
/lifecycle active

From my tests, `clusterctl init --infrastructure aws` currently executes 20 GitHub calls

[code]

With some caching, I can cut the number down to 8
[code]

This number is not affected by the `-v` flag.

Considering that `clusterctl config cluster test --infrastructure aws` executes 3 GitHub calls, this gives room for executing 5 Cluster API quick-start per hour without a token (

[2020-04-02 13:43] gab-satchi commented on #2844
/assign
/lifecycle active

[2020-04-02 13:43] elmiko commented on #2813
that's an interesting thought. just so i'm following, this would mean using kind to create a kubernetes cluster then using the kubernetes-provider to spawn clusters within that kind cluster? (not very different from what we do now)

[2020-04-02 13:47] detiber commented on #2813
Exactly. At least on the cluster infrastructure side the kubernetes-provider offers a great deal of simplicity compared to what we are doing in CAPD today. I'd have to do a more in-depth comparison between the two on the machine infrastructure side, but I would guess they aren't too different outside of the libraries and scaffolding they are using to do the instance creation and bootstrapping.

[2020-04-02 13:49] elmiko commented on #2813
makes sense, thanks for the explanation!

[2020-04-02 14:32] vincepri commented on #2844
@gab-satchi let's hold on to this one until we have #2821 merged

[2020-04-02 15:08] benmoss commented on #2430
/assign

[2020-04-02 15:12] #2837 closed

[2020-04-02 15:24] vukg commented on #2339
We would be ready to demonstrate together with @casibbald from Weaveworks our use case with CAPI incl. cluster templating, bootstrapping of workload clusters and installation of standard components at bootstrapping time using Helm and few other things.

If you agree I would go for dedicated call. I will reach out via Slack to fix suitable slot.

@ncdc @fabriziopandini @timothysc @vincepri @sedefsa

[2020-04-02 15:26] ncdc commented on #2339
Hi @vukg, if you'd like to demo something, I would encourage you to attend the weekly Cluster API Office Hours meeting, Wednesdays at 1pm ET. You can sign up for a demo by adding it in the "Demos/POCs" section [here](https://docs.google.com/document/d/1fQNlqsDkvEggWFi51GVxOglL2P1Bvo2JhZlMhm2d-Co/edit#heading=h.mn9z4ysumjil)

[2020-04-02 15:26] vincepri opened #2850 "Provide a library to work with container images"
We should have a package under `util/` to deal with container images, more specifically:

- We can copy this function from k/k https://github.com/kubernetes/kubernetes/blob/master/pkg/util/parsers/parsers.go#L36-L59 to add basic validation.
- Our parsing function will have to do some extra parsing to split the name of the repository (last part after splitting by `/`) and the base repository.
- Cre

[2020-04-02 15:28] vincepri commented on #2850
cc @gab-satchi @randomvariable

[2020-04-02 15:34] ncdc commented on #2811
+1, thanks for the summary @elmiko. Additionally, we have logic in `clusterctl` that handles installations in the proper order, and upgrades in the proper order. We want users to use `clusterctl` (either CLI, or as a go library) for these tasks, and we don't currently have the desire to maintain any other approaches.

If you're interested in maintaining Helm charts for this, that's fantastic, but

[2020-04-02 16:28] #2810 closed

[2020-04-02 16:28] vincepri commented on #2846
Given that `MachineHealthCheck` isn't enabled by default and it's opt-in for v1alpha3, you could model a new controller after it and do remediation externally that way

[2020-04-02 17:21] dippynark commented on #2813
@detiber thanks for taking a look, yeah a lot of the behaviour was inspired (or copied) from the docker provider - I think the main difference around machine provisioning is that the kubernetes provider creates a systemd unit on each Node which runs the cloudinit script and uses a single exec just to start the unit, whilst the docker provider runs each cloudinit command as a separate exec.

I thin

[2020-04-02 17:32] #2789 closed

[2020-04-02 18:16] rikatz commented on #1576
@vincepri it seems that the API already support the Format as in [here](https://github.com/kubernetes-sigs/cluster-api/blob/master/bootstrap/kubeadm/api/v1alpha3/kubeadmbootstrapconfig_types.go#L68-L70). It was added in [this](https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/commit/8fdb2fdda0c189c8a83c9dd484528cd6bbca32b8) commit

I'll take a look into the reconciler now t

[2020-04-02 18:40] sethp-nr opened #2851 "kubectl diff for CAPI objects"
**User Story**

As a user or operator, I would like to use `kubectl diff` to understand what object changes will result when I run an apply.

**Anything else you would like to add:**

Currently the biggest issue is that our webhooks are not configured to permit dry run:

[code]

This worked in the v1alpha2 timeframe, but maybe that was so because we didn't have webhooks then?

/kind feature
/assig

[2020-04-02 19:51] sedefsavas opened #2852 "[KCP] Replace machine with nodes in workload clusters"
In the workload cluster context, we should only be using node and be oblivious of the machine.
Replacing machine arguments with node is possible for all functions: RemoveMachineFromKubeadmConfigMap
RemoveEtcdMemberForMachine
ForwardEtcdLeadership

/kind cleanup
/area control-plane

[2020-04-02 20:02] sethp-nr commented on #2753
One idea I'd like to discuss is changing our current notion of "health check": currently health checks are acting as both safety guards and timing sequencers, and will likely soon be reconciliation hooks (#2841).

I suspect a more useful model than "is the control plane healthy right now?" would be: "would I transition the control plane closer to or further from a healthy state with this change?"

[2020-04-02 20:36] scottslowe opened #2886 "Kubeadm Bootstrap Controller crashes when passed key material via File field"
/kind bug

**What steps did you take and what happened:**
1. I created an external etcd cluster and made a copy of the `apiserver-etcd-client.{crt,key}` files.
2. I added the contents of these files to the `kubeadmConfigSpec` field of the `KubeadmControlPlane`  object in a manifest for a workload cluster.
3. I applied the workload cluster manifest to the management cluster. After seeing no activit

[2020-04-02 21:17] #2450 closed

[2020-04-02 22:25] wfernandes opened #2854 "[clusterctl] Fix method name in clusterctl upgrade tests"
Incorrect spelling of method.

https://github.com/kubernetes-sigs/cluster-api/blob/edb585e03ee23fb4d34aba7e69058c5e6b30abd4/cmd/clusterctl/client/upgrade_test.go#L197

Should be `fakeClient**For**Upgrade`

/area clusterctl
/good-first-issue
/help
/kind bug

[2020-04-02 22:28] wfernandes opened #2855 "[clusterctl] Fix godoc comment"
Fix godoc comment for `UpgradePlan`.

https://github.com/kubernetes-sigs/cluster-api/blob/edb585e03ee23fb4d34aba7e69058c5e6b30abd4/cmd/clusterctl/client/alias.go#L34-L38

/kind bug
/good-first-issue
/help
/area clusterctl

[2020-04-03 03:49] Xenwar commented on #2716
The symptoms are no longer visible. Closing this issue.

[2020-04-03 03:50] #2716 closed

[2020-04-03 08:15] fabriziopandini opened #2857 "clusterctl fails to replace variables with $"
**What steps did you take and what happened:**
Set a variable with $, eg. foo$bar into the value.
The resulting template contains a wrong value (foo in this case)

**What did you expect to happen:**
The resulting template to have the proper value

**Environment:**
- Cluster-api version: v0.3.3

/kind bug
/area clusterctl
/lifecycle active

[2020-04-03 09:14] munnerz commented on #2240
The easiest way is probably as @cpanato describes - checking if the webhook pod is running.

That said, there are still edge-cases (i.e. CAs not being configured properly for whatever reason) that could cause a request to fail - Kubernetes doesn't expose a clear way to check whether all of mutating, validating and conversion webhooks are 'ready'. I think the closest thing to that is performing a `

[2020-04-03 09:14] munnerz commented on #2240
I have used something like: ```kubectl wait -n cert-manager --for=condition=Available deploy --all``` in the past, which gives a pretty good indicator :)

[2020-04-03 12:28] fabriziopandini opened #2859 "KCP should continuously reconcile endpoints in kubeadm ConfigMap Status"
**What did you expect to happen:**
As of today, KCP changes the endpoints list in the `KubeadmConfig.Status` when scaling down the control plane nodes.

https://github.com/kubernetes-sigs/cluster-api/blob/3950a9c5614ebb0e08e35ec6e1100ac3c40e89a3/controlplane/kubeadm/controllers/scale.go#L146

However, there are cases where the list of endpoints might change outside of the scale down sequence, like

[2020-04-03 13:29] prksu commented on #2840
I don't think we need to write deprecation notice since it doesn't affect any user/dev experience, it will still work in versions below v0.7.0

[2020-04-03 13:55] randomvariable commented on #2844
I think the dialler would need to be refactored to do something like this:

* Change the etcd dialler to receive every etcd pod as a URI in the format:
  * `portforward://<name>.<namespace>.<type>:<port>`
* Refactor the Dialler so that instead of taking a pod as input, it can parse `portforward` URLs sent in via `.Dial()` and create a new tunnel on demand. Or wrap the existing Dialler to do the sa

[2020-04-03 14:32] vincepri commented on #2840
@prksu `test/helpers` should have been effectively deprecated when v1alpha3 was released, but we didn't add any notice and this was an oversight. This package has been replaced by the `test/framework` that came out of this proposal https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/20191016-e2e-test-framework.md.

[2020-04-03 14:33] vincepri commented on #2859
/retitle KCP should continuously reconcile endpoints in kubeadm ConfigMap Status

[2020-04-03 14:33] vincepri commented on #2859
/milestone v0.3.x

[2020-04-03 14:33] vincepri commented on #2857
/milestone v0.3.x

[2020-04-03 14:34] vincepri commented on #2857
/milestone v0.3.4
/close
/assign @fabriziopandini

[2020-04-03 14:34] #2857 closed

[2020-04-03 14:35] vincepri commented on #2844
If we go down this path, how can we get a client to the leader directly? And how can we effectively write tests for these changes?

[2020-04-03 14:37] vincepri commented on #2855
/milestone v0.3.x

[2020-04-03 14:37] vincepri commented on #2854
/milestone v0.3.x

[2020-04-03 14:50] vincepri commented on #2852
While this is a fine change to make, I wanted to point out that usually in Cluster API we define a Machine == Kubernetes Node, in terms of logging Machine provides also better informations to users looking at the management's cluster logs

[2020-04-03 14:51] vincepri commented on #2753
+1 on making this distinction, we should work out a plan of action on how we want to see this happen. @sedefsavas given that you started thinking about health checks, do you want to put a small proposal in an issue together?

[2020-04-03 14:52] gab-satchi commented on #2844
Jason suggested using [WithRequireLeader](https://godoc.org/go.etcd.io/etcd/clientv3#WithRequireLeader) in another issue, but it just seems to require that a leader exists.

[2020-04-03 14:52] nader-ziada commented on #2850
I can work on this one

/assign

[2020-04-03 14:55] vincepri commented on #2844
What do you think about making a POC / small PR to see if the idea works out? Then we can discuss the design there, I want to make we have a test plan in place for any changes related to etcd.

[2020-04-03 15:01] gab-satchi commented on #2844
Agree with that approach. On top of having a test plan, I wanted to know if there's something I can reproduce locally to get etcd connections in a flaky state. Then see if the changes are improving that in any way.

[2020-04-03 15:02] gab-satchi commented on #2844
Constantly scaling up and down comes to mind, but most of our connections go through the leader now. And I think the newest machine gets assigned the leader while the oldest one is always the one to get deleted in a scale down. So unsure if that plan would work

[2020-04-03 15:30] wfernandes commented on #2854
I suggest waiting for https://github.com/kubernetes-sigs/cluster-api/pull/2856 to be merged in because there will be other references to this method.

[2020-04-03 17:32] fabriziopandini opened #2860 "E2E add dump controller logs to the framework"
**User Story**

As a developer, I would like to have a convenient way to dump controller logs at the end of the E2E tests for easier problem investigation

**Detailed Description**
The docker E2E test already implements an example of Dump controller logs

https://github.com/kubernetes-sigs/cluster-api/blob/314a00b9fdc266685d1440442cd30d2372fe0420/test/infrastructure/docker/e2e/docker_suite_test.go

[2020-04-03 17:36] sedefsavas commented on #2860
/assign

[2020-04-03 17:59] CecileRobertMichon commented on #1876
https://azure.microsoft.com/en-us/updates/azure-spot-virtual-machines-are-now-generally-available/

Looks like we don't need to worry about that anymore 🙂 cc @JoelSpeed

[2020-04-03 20:34] vincepri commented on #2860
/milestone v0.3.x

[2020-04-03 20:49] jayunit100 opened #2861 "MachineHealthCheck documentation should clarify which use cases covers"
Although this is a bug report, I think it also might correspond to a feature request: Adding a status field to MachineHealthChecks, which allows for easy inspection of wether the MHC is targeting a non-null set of nodes.

**What steps did you take and what happened:**

- I copied the labels for a cluster to a MHC yaml
- I added the correct `cluster-name`
- I deleted the corresponding machine in a

[2020-04-03 21:11] wfernandes commented on #2854
/assign
/lifecycle active
I'm planning on including this fix as part of another PR https://github.com/kubernetes-sigs/cluster-api/pull/2856

[2020-04-03 21:48] jayunit100 opened #2863 "Add Status or Conditions metadata to MachineHealthChecks"
**User Story**

As a Administrator I'd like to be able to confirm my MHC's were targetted at all clusters that needed and properly labelled, without needing to test them "for real" (which obviously is a dangerous test to run - as it involves deleting compute units).

**Detailed Description**

Per https://github.com/kubernetes-sigs/cluster-api/issues/2861, It would be good to easily see the Status

[2020-04-03 21:50] ncdc commented on #2861
As I wrote in Slack, MHC only currently reconciles Machines that have an OwnerReference to a MachineSet. We will be adding control plane remediation in a future release.

[2020-04-03 22:03] #2560 closed

[2020-04-03 22:05] vincepri commented on #2863
cc @fabriziopandini

[2020-04-04 10:38] JoelSpeed commented on #1876
Thanks for the heads up @CecileRobertMichon, will update the proposal  🙂

[2020-04-05 17:26] vincepri commented on #2861
If this isn't super clear in the docs, we should make it. I also got confused at first and assume it'd work with any Machine.

[2020-04-05 17:26] vincepri commented on #2861
/kind documentation
/milestone v0.3.x

[2020-04-06 07:09] prankul88 commented on #2770
/assign

@detiber You would suggest the latter one?

And if we plan the former, what would be the correct way to make TTL configurable?

[2020-04-06 07:33] enxebre commented on #2861
related https://github.com/kubernetes-sigs/cluster-api/issues/2836

[2020-04-06 07:47] jan-est commented on #2846
@vincepri  So if infrastructure provider needs its own remediation logic, it would be better to implement the whole new provider specific MachineHealthCheck controller and not to use Cluster API implementation at all?

[2020-04-06 10:50] prankul88 commented on #2410
/assign

[2020-04-06 11:31] beekhof commented on #2846
It seems sub-optimal to duplicate the development and maintenance effort when there is 90-95% overlap between the current MHC and a version of it that facilitates provider specific workflows.

[2020-04-06 12:40] randomvariable commented on #2844
Yeah, a POC probably makes sense.

Was going to mention WithRequireLeader, but we can add that in post, and is more applicable to watches than anything else.

@gab-satchi . Using `tc` or `iptables` to knock out / delay packets should work. Over 1s delay causes heartbeats to start failing.

[2020-04-06 14:09] vincepri commented on #2846
@jan-est @beekhof When I replied I was looking through the lenses of how something like this could be implemented in v1alpha3. For v1alpha4 (and onwards), we've discussed to have a hooking mechanism https://github.com/kubernetes-sigs/cluster-api/issues/1514 to determine what to do when a Machine gets deleted, is this a use case for that issue?

[2020-04-06 14:10] vincepri commented on #2861
/retitle MachineHealthCheck documentation should clarify which use cases covers

[2020-04-06 14:42] vincepri commented on #2770
Let's work on make it configurable, we can add a optional flag with the same default we have today to KubeadmConfig, this way it'll be backward-compatible and it won't be a breaking change.

[2020-04-06 14:49] detiber commented on #2770
@vincepri If we want to go down the configurable route, I'm wondering if a field might be better, since one might want a different TTL based on which infrastructure provider you may be using for a given workload cluster.

[2020-04-06 14:55] vincepri commented on #2770
flag/field, yes I mistyped

[2020-04-06 16:05] detiber commented on #1749
/lifecycle frozen

[2020-04-06 16:25] JoelSpeed commented on #2861
@jayunit100 I just had a quick read through this and noticed a couple of things about your examples, not sure if this was mentioned in slack or not so will post here for posterity

1) The labels you've set on the MachineHealthCheck don't match the Machine you've deleted, the `kubeadm.controlplane.cluster.x-k8s.io/hash` value is different. The label selector follows normal label selector principles

[2020-04-06 17:07] vincepri commented on #2861
Yeah, either a warning or informational sign would be great.

[2020-04-06 17:08] vincepri commented on #1749
Related upstream work https://github.com/kubernetes-sigs/controller-runtime/pull/818/files

[2020-04-06 17:31] vincepri commented on #2836
I'd like to propose that for control plane nodes managed by a controller reference (e.g. KubeadmConfig) we annotate the Machine without deleting it.

To describe the flow a little bit in more details:
- MHC watches control plane machines
- Health condition fails
- MHC controller annotates the Machine(s) that failed health check
- KCP receives a notification
- KCP controller looks at all the machin

[2020-04-06 17:32] vincepri commented on #2836
/milestone v0.3.4

[2020-04-06 17:32] vincepri commented on #2836
cc @ncdc @sedefsavas

[2020-04-06 17:39] vincepri commented on #2851
Good find!

/milestone v0.3.4

[2020-04-06 17:51] #2831 closed

[2020-04-06 18:11] wfernandes commented on #2855
/assign
/lifecycle active

[2020-04-06 18:19] vincepri opened #2867 "Book's MachineDeployment page shows MachineSet controller flow"
This page https://cluster-api.sigs.k8s.io/developer/architecture/controllers/machine-deployment.html shows the incorrect flow (MachineSet), instead of the MachineDeployment one.

/kind documentation
/help
/milestone v0.3.x

[2020-04-06 18:29] #2855 closed

[2020-04-06 19:16] wfernandes commented on #2830
Maybe we can **present** the URLs in the output of `clusterctl config repositories` as just
`https://github.com/kubernetes-sigs/cluster-api-provider-aws/releases/latest` for example.
That way when a user happens to go to that url, it redirects them to the specific version/tag of the provider.

I believe [our documentation](https://github.com/kubernetes-sigs/cluster-api/releases/latest/core-compone

[2020-04-06 19:27] detiber commented on #2836
@vincepri your comment got me thinking, what if instead of modifying the MHC behavior based on the type of the controller reference we actually modified the Machine controller to handle deletion behavior differently in that case instead?

That would allow for blocking deletion behavior not only on MHC-initiated deletions, but any external deletions until the owning controller "allows" the deletion

[2020-04-06 20:06] vincepri commented on #2836
@detiber Thinking through how that would work

- MHC watches control plane machines
- Health condition fails
- MHC controller issues a delete on the Machine
- Machine controller sees the delete request, but waits (by returning early) on a specific annotation to be present.
- KCP receives a notification, does XYZ actions (like scaling up), and finally patches the Machine with annotation.
- Machine

[2020-04-06 20:55] benmoss commented on #2753
I'd really like to see us break apart break apart the controllers, I think they're really overburdened with responsibility. We have resorted to testing private methods and splitting structs across files, both of which I think are smells and signs that we are struggling with how big the objects and methods of these controllers are.

[2020-04-06 20:59] wfernandes opened #2871 "[clusterctl] Add unit tests for InitImages method"
Currently, we do not have any unit tests for [`InitImages`](https://github.com/kubernetes-sigs/cluster-api/blob/51138ad376d42552524527c10d7d02d530e93291/cmd/clusterctl/client/init.go#L99) in [`init_test.go`](https://github.com/kubernetes-sigs/cluster-api/blob/51138ad376d42552524527c10d7d02d530e93291/cmd/clusterctl/client/init_test.go)

There is a basic test being added in PR https://github.com/kub

[2020-04-06 21:00] vincepri commented on #2753
@benmoss Sounds like a good refactoring we could do for v0.4 after a proposal is written up. I'd like to hear other folks' thoughts as well though. @ncdc @detiber

[2020-04-06 21:00] vincepri commented on #2871
/milestone v0.3.x

[2020-04-06 21:13] sb1975 opened #2872 "CAPD Error running clusterctl init to transform ephemeral cluster to Management Cluster"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

clusterctl init --core cluster-api:v0.3.0 --bootstrap kubeadm:v0.3.0 --control-plane kubeadm:v0.3.0 --                                                                      infrastructure docker:v0.3.0
Fetching providers
Error: failed to get provider components for the "docker:v0.3.0" prov

[2020-04-06 22:10] benmoss commented on #2753
Yeah I'll write something up when I have a chance

[2020-04-07 01:37] dpandhi-git opened #2873 "Workload Cluster creation stuck at Provisioning phase (Docker, Mac)"
**What steps did you take and what happened:**
Followed Cluster API handbook
Created kind cluster
successfully created Management Cluster using clusterctl
During Workload cluster creation, Cluster stuck at Provisioning phase

[code]

[code]

[code]

**What did you expect to happen:**
Workload cluster's  kubeadmcontrolplane in Ready state

**Anything else you would like to add:**
Management cluster

[2020-04-07 01:46] beekhof commented on #2846
Waiting for `v1alpha4` or later isn't a deal breaker, but it would be preferable if we could converge on a design "soon" so that the patches we're carrying for `v1alpha3` aren't fundamentally incompatible.

We're working on an enhancement and will link to it from this issue once its ready.

wrt #1514, because metal takes **so** much longer to reprovision than clouds, the workflows we're interested

[2020-04-07 05:02] ericzhang08 commented on #2871
Could I have a look for this issue?
/assign

[2020-04-07 06:14] Xenwar commented on #2816
@vincepri

I am able to reproduce a similar issue, but temporarily, two nodes registering at the same time.
None of the CAPI controllers' logs contain anything on node-2.

[code]

After about half an hour

[code]

Since the initial registering state of two nodes was temporary and NOT both of transitioned into provisioned state simultaneously, I am considering this issue to be resolved.

[2020-04-07 06:32] sedefsavas commented on #2859
@fabriziopandini This is partially covered here: https://github.com/kubernetes-sigs/cluster-api/pull/2841
When we detect a machine deletion (machine does not exist but ETCD has it as a member), it is being removed from kubeadm ConfigMap (and from ETCD member list).

I guess separating that logic by doing the same check starting from kubeadm ConfigMap makes sense. By this way, ETCD check only clean

[2020-04-07 09:03] fabriziopandini commented on #2859
Yes @sedefsavas, having a dedicated reconcile loop for the kubeadm ConfigMap IMO is more robust vs managing changes to the config map as a derivative of other workflows (scale, delete).

Hopefully, this can lead to the simplification of other workflows as well, but this is not the primary goal of this issue and we will get there incrementally.

Said that, considered #2841 I'll defer to @vincepri i

[2020-04-07 09:57] fabriziopandini commented on #2753
I'm +1 for breaking down the controller in focused reconciliation loops (simular to what we have in other controllers).

https://github.com/kubernetes-sigs/cluster-api/issues/2859 goes in that direction trying to extract a first isolated reconciliation loop.

Also merging the current scale up/scale down logic that exists under ReconcileNormal and under ReconcileUpgrade can greatly contribute to cl

[2020-04-07 11:43] jan-est commented on #2846
@vincepri as @beekhof mentioned we have been working on an enhancement proposal. I would say the same that we will finish that proposal and continue discussion after that.

[2020-04-07 13:55] ncdc commented on #2753
@vincepri 👍

[2020-04-07 14:02] vincepri commented on #2846
Just for some more context, regarding Machine remediation, for (pre-delete hooks), there is a solution we were brainstorming yesterday when thinking about control plane, you can read it more [here](https://github.com/kubernetes-sigs/cluster-api/issues/2836#issuecomment-610009339) and some comments below that, it follows somewhat what's in #1514.

How would you recreate the Machine in this use case

[2020-04-07 14:02] vincepri commented on #2846
/milestone Next

Setting the milestone to Next until we have a better idea what the proposal entails, and where it would fit.

[2020-04-07 14:07] vincepri commented on #2871
Go for it @ericzhang08.

/milestone v0.3.4

[2020-04-07 14:17] detiber commented on #2753
+1 to working towards breaking up the controller into more easy to rationalize and test components. I'm happy to see that we are taking the time/effort to clean up and refactor the initial implementation.

Much of the scale up/scale down logic is already consolidated, the main differences that exist are related to priority of operations (upgrades are prioritized over other scaling events) and dete

[2020-04-07 14:32] vincepri commented on #2859
Let's hold on to this until we have annotations removed from KCP, @benmoss has been working on it.

[2020-04-07 14:33] vincepri commented on #2859
We can revisit the milestone once that's merged in, one reason I would like to have one refactor at a time is that we have few folks looking/reviewing at the codebase, and we should take our time to make sure the changes are correct and have been validated.

[2020-04-07 14:36] JoelSpeed commented on #2861
I've added a PR to highlight the limitation at the top of the MHC docs https://github.com/kubernetes-sigs/cluster-api/pull/2875

[2020-04-07 14:55] detiber commented on #2816
@Xenwar is it only the `BareMetalHost` resource that is duplicated or is the `BareMetalMachine` resource also duplicated? If it's only the `BareMetalHost`, I would say it's likely a but in metal3 causing this.

[2020-04-07 16:47] sedefsavas opened #2876 "[clusterctl] "clusterctl config provider" fails to show AWS, VSphere, and Azure info"
**What steps did you take and what happened:**

Running `clusterctl config provider --infrastructure aws ` gives the following error:

`Error: failed to perform variable substitution: value for variables [AWS_B64ENCODED_CREDENTIALS] is not set. Please set the value using os environment variables or the clusterctl config file`

**What did you expect to happen:**
I expected it to run without needing

[2020-04-07 18:19] wfernandes commented on #2753
👍 Having the relevant unit/e2e tests should enable us to do this with more confidence.

[2020-04-07 19:20] elmiko commented on #2369
just so i follow, this is suggesting that the MachineAutoscaler resource would be owned by the cluster-autoscaler project but cluster-api (and perhaps others) could consume these resources to perform action?

[2020-04-07 19:34] vincepri commented on #1882
/lifecycle frozen

[2020-04-07 19:34] vincepri commented on #1964
/lifecycle frozen

[2020-04-07 19:35] vincepri commented on #1993
@fabriziopandini do we want to keep this open?

[2020-04-08 04:21] Xenwar commented on #2816
@detiber
I have not notice such behavior on  `BareMetalMachine` resource and I agree the problem is more likely on the metal3 side. We can close this one for now and will add comments in the future, just for documentation purposes.

[2020-04-08 04:21] #2816 closed

[2020-04-08 07:12] prankul88 commented on #2770
@vincepri @detiber Thanks.

[2020-04-08 07:44] prankul88 commented on #2867
/assign

[2020-04-08 13:53] #2867 closed

[2020-04-08 14:41] benmoss opened #2881 "test-capd-e2e can leak kind clusters"
**What steps did you take and what happened:**
If there's a problem waiting for pods to startup in [InitManagementCluster](https://github.com/benmoss/cluster-api/blob/cb8f8e40d3a013a9cf8328f7a3df5553501f7baf/test/framework/management_cluster.go#L71-L130) but the kind cluster is created, it won't get torn down during `AfterSuite` and instead you get a panic:

[code]

**What did you expect to happen

[2020-04-08 15:00] JoelSpeed commented on #2836
I am +1 for the idea of this being opt-in rather than opt out

To me, using a finalizer seems like the natural route since they're intended to be used for special deletion logic. My idea was that the Machine controller could check the the finalizers list consists only of it's own finalizer before proceeding with the deletion logic, that said, I have a vague feeling like this could be bad and make

[2020-04-08 15:09] ncdc commented on #2836
In a given controller that we own, we can control if we respect the order and/or count of the finalizers in the list. But we can't assume that any other controller is doing the same. I think we could be reasonably assured that all controllers in cluster-api plus the infrastructure providers with which we're involved could do this, but there's no way to guarantee that an arbitrary bootstrap/control

[2020-04-08 15:13] vincepri commented on #2836
For v1alph3, we should keep the scope as minimal as possible. Supporting this feature for control plane machines is a very specific use case which we can tackle, learn, and extend once we're ready to work on vNext.

That said, I'd like us to find a common solution if we want to tackle #1514 or #2846 in v0.3.x

[2020-04-08 15:37] vincepri commented on #2788
@cpanato I'll follow-up later today, this might be a larger item

[2020-04-08 15:42] vincepri commented on #2731
@CecileRobertMichon ok to close this issue now that we've identified the issue is with Calico configuration?

[2020-04-08 15:56] enxebre commented on #2836
mm I'm not fully sold on why we wouldn't put a finaliser on machines to enforce that the KCP cleans up the etcd membership. That would effectively solve https://github.com/kubernetes-sigs/cluster-api/issues/2818 / https://github.com/kubernetes-sigs/cluster-api/issues/2759.

If we solved the above then this is orthogonal and transparent to MHCs. It would work consistently for any voluntary machine

[2020-04-08 16:04] vincepri commented on #2836
If we go down the path of MHC annotating unhealthy Machines, I think we should change up the current implementation as well and keep it consistent. From a user point of view, it won't be a breaking change, the delete will be issued by another controller, but that's pretty much it.

I'd like to see a google doc proposal though, given that there are a lot of parts that need to be touched. Possibly,

[2020-04-08 16:06] ncdc commented on #2836
Doesn't this require a coordinated order of operations across the KCP, Machine, and InfraMachine controllers though? Or can we do it without strict ordering?

[2020-04-08 16:18] enxebre commented on #2836
I suppose we could block Machine and InfraMachine controllers from proceeding until this finalizer is removed. But I don't think is even necessary and we can probably do it without strict ordering.

The KCP will watch a deletion timestamp and will trigger the "remove the etcd member" immediately while the node still needs to be drained.

Worst case scenario If by any chance it happens that the inf

[2020-04-08 16:21] vincepri commented on #2836
KCP should create a new member though before the Machine is deleted, we should give full control to the controller's owner reference, rather than issuing a delete and then blocking it

[2020-04-08 16:23] detiber commented on #2836
Not if the number of deletions issued exceeds the amount that would cause quorum to be lost, or worse include the last member which would cause complete data loss.

[2020-04-08 16:24] detiber commented on #2836
maxUnhealthy cannot necessarily be relied upon, since there is nothing to ensure that it is sync'd with a value that would prevent the loss of quorum compared.

[2020-04-08 16:29] enxebre commented on #2836
In the issue desc above I envision this MHC to be owned by the KCP controlelr which would enforce maxUnhealthy based on the KCP replica field i.e for replicas 3 maxUnhealthy 1, and so on.
So we'd prevent users from shooting on their foot with bad unsafe input values.

[2020-04-08 16:36] CecileRobertMichon commented on #2731
Yes

/close

[2020-04-08 16:36] #2731 closed

[2020-04-08 16:45] enxebre commented on #2836
So to summarise I think my preference would be:
- Add ability to KCP controller to watch a deletion timestamp and remove the etcd member.
- Let the KCP controller to create and manage the underlying MHC to enforce opinionated and safe values i.e maxUnhealthy based on current replicas.

[2020-04-08 17:28] vincepri commented on #2863
/milestone v0.3.x
/priority backlog

[2020-04-08 17:29] vincepri commented on #2872
/help
/milestone Next

[2020-04-08 17:29] vincepri commented on #2873
/help
/milestone Next

[2020-04-08 17:31] elmiko commented on #2872
i think this issue needs to be addressed through our capd documentation.

[2020-04-08 17:31] vincepri commented on #2876
/close

We expect variables to be present to generate configuration.

@randomvariable mentioned during today's meeting that need for credentials might be removed.

[2020-04-08 17:34] vincepri commented on #2881
/milestone v0.3.x
/priority important-longterm

[2020-04-08 17:34] vincepri commented on #2881
/help

[2020-04-08 17:35] elmiko commented on #2872
this is in our docs https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/book/src/clusterctl/developers.md

[2020-04-08 17:36] vincepri commented on #2872
/priority awaiting-more-evidence

[2020-04-08 17:36] JoelSpeed commented on #2863
@jayunit100 Just reading this and trying to understand the request here

If my understanding is correct you would like to see for example a list in the status that contains the Machine names that the MHC is targeting?
[code]

I wasn't sure here whether you just meant deleting a Machine as a test or whether you expect there to be some sort of dry run mode for the MHC?

I think listing the Machines

[2020-04-08 17:38] CecileRobertMichon commented on #2876
@vincepri @fabriziopandini thinking about this more, `custerctl config provider` is supposed to list info about a provider.  It doesn’t generate a config or deploy any infrastructure, so not sure why it needs credentials...

FWIW the same is true with Azure:

[code]

After exporting the credentials:

[code]

[2020-04-08 17:41] CecileRobertMichon commented on #2876
Also this works which proves the command doesn't need credentials to work:

[code]

[2020-04-08 17:49] sedefsavas commented on #2876
/reopen

[2020-04-08 18:44] vincepri commented on #2872
@sb1975 given @elmiko's point above, do you think we can go ahead and close this issue?

[2020-04-08 19:53] #2860 closed

[2020-04-09 02:03] DheerajSShetty opened #2885 "Update coredns in kubeadm-config configmap from clusterconfiguration before Scaling Control plane"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
Steps I took
Tried upgrading control plane using custom AMI with baked etcd and coredns container images
1. Create AWSMachineTemplate with new AMI
2. Edited Kubeadcontrolplane spec with new machinetemplate under infrastructureTemplate
    and updated cluster configuration with new coredns

[2020-04-09 02:13] ncdc commented on #2885
@vincepri @detiber @benmoss

[2020-04-09 06:45] prankul88 commented on #2410
/lifecycle active

[2020-04-09 07:25] fabriziopandini commented on #1993
IMO we can close this, because there is no additional use cases collected so far.
We can always re-open/re-create when something concrete shows up.
/close

[2020-04-09 07:25] #1993 closed

[2020-04-09 13:22] detiber commented on #2885
I'm not necessarily sure we should update CoreDNS in the kubeadm ConfigMap prior to adding a new control plane Machine, since the Deployment is still pointing at the old image at that point.

[2020-04-09 13:32] nader-ziada commented on #2876
/assign

[2020-04-09 13:45] #2850 closed

[2020-04-09 13:56] michaelgugino commented on #2369
@elmiko yes, that's what I'm suggesting.

Perhaps this resource should be scalable itself.  The cluster-autoscaler just scales this resource.  We write a controller that syncs the resource info to the status here, we write a controller that syncs replica counts from this to desired machineset/deployment/whatever.  On scale down, autoscaler annotates some nodes it wants to go away, our new controll

[2020-04-09 14:19] ncdc commented on #2885
After `kubeadm init`, the value in the ConfigMap is only used during the ImagePull preflight check when new control plane nodes join the cluster. (It would be used during `kubeadm upgrade`, but we're not using that.)

The change proposed in this issue allows upgrades to succeed if the original CoreDNS used during `kubeadm init` was baked into the OS image but **is not pullable**. If both the origi

[2020-04-09 14:30] detiber commented on #2885
I don't necessarily know that there is specific harm in making the change, but it does result in drift between the state of things. That in itself is probably fine as long as we don't currently (or accidentally in the future) rely on the value of the configmap rather than the Deployment. Another potential gotcha would be if Kubeadm ever introduces a change to Join that would be affected by the dri

[2020-04-09 17:29] vincepri commented on #2788
@cpanato Controller Runtime added some support for webhooks in `envtest` suites. A good first step would be to enable the ones for the core types under `controllers/suite_test.go`.

Specifically, we can now install webhooks using https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/envtest/server.go#L90, unfortunately there is no documentation for these upstream.

The installation

[2020-04-09 18:20] vincepri commented on #1554
/lifecycle frozen

[2020-04-09 19:21] vincepri commented on #1743
Going to close this one for now, and merge the requirement in the conditions proposal coming up.

cc @fabriziopandini
/close

[2020-04-09 19:21] #1743 closed

[2020-04-09 21:24] wfernandes commented on #2779
Are there any more areas that require testing in KCP? Should we close this issue?

[2020-04-09 21:26] wfernandes commented on #2830
I can work on this issue regarding the solution I proposed above. What do y'all think?

[2020-04-09 21:29] scottd018 commented on #2830
Hey @wfernandes apologies for the delayed response.  I think your solution is acceptable.  It would certainly fix the confusion surrounding broken links and inaccessible URLs.  Probably the best approach considering what @fabriziopandini has pointed out.

Other thoughts???

[2020-04-09 21:50] vincepri commented on #2779
We can probably close this for now, we're tacking the rest in #2753

/close

[2020-04-09 21:50] #2779 closed

[2020-04-09 21:50] vincepri commented on #2779
/milestone v0.3.4

[2020-04-09 22:31] wfernandes commented on #2830
Cool...I can get started on this and I'm open to feedback and suggestions @fabriziopandini if you have any input on this.

[2020-04-09 22:33] wfernandes commented on #2830
/assign

[2020-04-10 00:43] sedefsavas opened #2889 "test-capd-e2e fails occasionally with same error"
**What steps did you take and what happened:**
cluster-api-capd-e2e test sometimes fails for PRs (and it occasionally fails in Prow job too) with the following error:
[code]

**What did you expect to happen:**
I expected it to be less flakey.

**Anything else you would like to add:**
This issue is most likely hits the 10 min timeout interval.

/kind bug
/area testing

[2020-04-10 01:24] jseely opened #2890 "KubeadmControlPlane is not deploying the correct number of Replicas"
**Summary:**
kubeadm join on the second control plane succeeded, both control plane `Machines` are in `Running` state, but no 3rd `Machine` was created, even though the KCP replica desired count is 3. `kubectl get nodes` shows only one of the control planes (the second one that did the join).

**What steps did you take and what happened:**

- Checked out both `cluster-api` and `cluster-api-provide

[2020-04-10 06:43] fabriziopandini commented on #2830
@wfernandes +1 to the idea
What about moving the file name to a separated column? This will make clear the difference between the three provider that are reading from the cluster API repository.
Also please make sure the spot mechanism works for local repository as well.

[2020-04-10 13:45] vincepri commented on #2889
/milestone v0.3.x

[2020-04-10 13:52] vincepri commented on #2876
/milestone v0.3.x

[2020-04-10 15:12] wfernandes commented on #2830
/lifecycle active

[2020-04-10 16:33] #1533 closed

[2020-04-10 17:49] vincepri commented on #1685
/lifecycle frozen

[2020-04-10 17:54] benmoss opened #2895 "e2e upgrade tests should exercise failure domains"
The CAPD e2e upgrade test that was added doesn't exercise failure domain logic. It's been the source of a lot of bugs too, so it's important that we have coverage. Whether or not this means we should have two tests, one FD and one non, I'm not sure about.

/kind bug
/area testing

[2020-04-10 18:30] sedefsavas opened #2896 "[KCP] Get etcd client using all nodes in ReconcileEtcdMembers"
ReconcileEtcdMembers() logic can be simplified by connection a health etcd member automatically by using all nodes as endpoint during getting etcd client.

This improvement can be done after https://github.com/kubernetes-sigs/cluster-api/pull/2888 is merged.

/area control-plane

[2020-04-10 18:30] sedefsavas commented on #2896
cc @benmoss

[2020-04-10 18:58] wfernandes opened #2897 "[clusterctl] no error returned when pointing invalid config path"
**What steps did you take and what happened:**
1. `clusterctl --config /tmp/do-not-exist config repositories`
1. Returned the default list of repositories

**What did you expect to happen:**
I expected an error to have occurred since I'm specifying a config file that does not exist or with an incorrect path.

This is also misleading for a command like `clusterctl --config /tmp/path-with-typo.yaml

[2020-04-10 19:16] wfernandes commented on #2897
/assign
/lifecycle active

[2020-04-10 22:25] rbitia commented on #2121
I've been thinking about this more, I think we should use the Cluster API book for all documentation including provider specific documentation. We can have separate tabs or sections for each provider. That way we can lean on each other for doc structure but we also have a one stop shop for all documentation for users. The opposite of this would be splitting out the docs (including the quick-start)

[2020-04-12 06:01] beekhof commented on #2846
We wouldn’t. Returning the node to a healthy state could/would be achieved by (for example) power cycling the hardware instead. No machine deletion or recreation required

That would be ideal, but mostly we’ve been hearing that what we want is to specific to bare metal

[2020-04-12 06:13] beekhof commented on #2846
@vincepri If you replace KCP with “a bare metal specific controller” and “scaling down and then back up” with “rebooting the node”, then you’ve got pretty much what we’re doing downstream at the moment.

There are some challenges with that approach, which is why we’ll propose a MachineRemediationRequest CRD.

[2020-04-13 04:59] ericzhang08 commented on #2871
/lifecycle active

[2020-04-13 13:14] enxebre commented on #2318
cross referencing PR https://github.com/kubernetes/kubernetes/pull/87459 to add more context.

[2020-04-13 13:28] detiber commented on #2318
Also relevant PR to update the api conventions doc: https://github.com/kubernetes/community/pull/4705

[2020-04-13 13:57] michaelgugino commented on #1808
/remove-lifecycle rotten

[2020-04-13 17:23] CecileRobertMichon commented on #2121
+1 from me,  user docs being centralized in one place makes a lot of sense.

I think the only docs that might still live in provider specific repos are development stuff specific to the repo (like how to use make targets to run unit tests, e2e tests, etc).

[2020-04-13 17:30] detiber commented on #2121
+1 from me as well for centralizing docs.

I would like to see us find a way to organize the per-provider docs in a way that we can leverage separate OWNERS files to make it easier for provider maintainers to contribute and update the docs, though.

[2020-04-13 18:10] elmiko commented on #2121
+1 @rbitia , i like this idea as well.

just to be slightly contrarian, what about the notion of having the individual provider repos maintain their own docs with the publish process being able to pull them in from a config list?

i only propose this to hopefully allow wider inclusion of provider types without necessarily needing to do a large amount of configuration on this repo. just a thought =

[2020-04-13 20:27] gab-satchi opened #2902 "MachineHealthCheck nodes cache doesn't stop after cluster deletion"
**What steps did you take and what happened:**
- created a new workload cluster with a MachineHealthCheck watching the worker nodes on the cluster
- delete the workload cluster

**What happened**
The workload cluster along with the MachineHealthCheck gets deleted; however, the cache set up by the capi-controller continues to look for nodes on the workload cluster. The logs from the capi-controller

[2020-04-13 20:30] vincepri commented on #2902
Duplicate of #2577, work started in #2880

[2020-04-13 20:31] vincepri commented on #2897
/milestone v0.3.4

[2020-04-13 20:31] vincepri commented on #2896
/milestone v0.3.x

[2020-04-13 20:32] vincepri commented on #2895
/milestone v0.3.x

[2020-04-13 20:32] vincepri commented on #2895
Please add/track this in https://docs.google.com/spreadsheets/d/1uB3DyacOLctRjbI6ov7mVoRb6PnM4ktTABxBygt5sKI/edit#gid=0 as a sub-test

[2020-04-13 20:33] gab-satchi commented on #2902
Thanks @vincepri

[2020-04-13 20:33] #2902 closed

[2020-04-13 20:34] vincepri commented on #2890
cc @CecileRobertMichon

We'll probably need to look at the KCP controller logs as well

[2020-04-13 20:34] vincepri commented on #2890
/milestone Next
/priority awaiting-more-evidence
/triage support

[2020-04-13 20:36] CecileRobertMichon commented on #2890
For context, @jseely and I discussed at length on Slack: https://kubernetes.slack.com/archives/CEX9HENG7/p1586471169049800

[2020-04-13 20:46] vincepri commented on #2836
For control plane nodes, I'd prefer to down the path of the annotation approach (and discuss to do the same for Machines in a MachineSet). This gives the controller owner ability to apply any remediation steps it deems necessary before proceeding and it separates the controllers responsibilities even more.

If you're all +1 on it, we should code up the changes in the MHC controller first. After th

[2020-04-13 20:47] ncdc commented on #2836
+1 to annotation approach.

[2020-04-13 21:52] fabriziopandini opened #2903 "Make CAPD support self-hosted"
**User Story**

As a developer, I would like to use CAPD for testing CAPI in a self-hosted cluster

**Detailed Description**

As part of https://github.com/kubernetes-sigs/cluster-api/issues/2753, we would like to use CAPD for testing CAPI in a self-hosted cluster.

In order to do so, it is required to overcome the following CAPD limitations:

- when CAPD creates new DockerMachine/containers, ther

[2020-04-13 21:54] vincepri commented on #2903
/milestone v0.3.4

[2020-04-14 07:17] #2897 closed

[2020-04-14 10:19] prankul88 commented on #2542
@vincepri Will it make sense if we can output the kubeconfig in a file as soon as the workload cluster is created. It will be a lot easier for the end-user to access.

/assign

[2020-04-14 10:26] jan-est commented on #2846
@vincepri we would like to discuss this issue at tomorrow's community meeting. Here’s a idea on what we’d like to discuss:

"We would like to Cluster API ```MachineHealthCheck``` split the health check and remediation from each other. We would like to CAPI MHC check the health of Nodes in the workload clusters and create new CR called ```MachineRemediationRequest (MRR)``` for each machine/node fou

[2020-04-14 15:01] ncdc commented on #2846
I think it's useful to have MHC do the marking, and something else do the sweeping. This is what @vincepri is proposing in https://github.com/kubernetes-sigs/cluster-api/issues/2836#issuecomment-609932576.

It sounds like you are interested in having custom remediation logic, so it's not always "delete". That makes sense to me. We might be able to handle all of this with annotations on the Machine

[2020-04-14 15:12] JoelSpeed commented on #2836
I think using annotations will make sense for the control plane as it needs the special handling for scaling down and back up.

As for annotations in general, I have some thoughts, provided the Machine is guaranteed to be deleted, then they're ok, it's just a proxy for the delete request essentially. My concern with annotations in the general sense comes from scenarios where the Machine is not goi

[2020-04-14 15:38] vincepri commented on #2836
I'd expect MHC to keep checking a Machine and remove the annotation if it goes back to healthy

Nothing should prevent this imo

MHC shouldn't know/understand that a Machine has been reset, I would expect an external reconciler to do thing out of band, and outside core functionality. For example, if an external controller changes the NodeRef on the Machine's status that's not a supported behavior

[2020-04-14 16:42] alexander-hughes commented on #2121
As a new member to the CAPI community I had a lot of difficulty in setting up my first dev environment.  To be fair I have limited experience with the projects that CAPI leverages in the quick start.

I put together a [blog post](https://www.airshipit.org/blog/cluster-api-development-environment/) on the Airship website with how I accomplished a dev environment setup with help from @elmiko that ma

[2020-04-14 16:43] enxebre commented on #2836
MHC is intentionally simple today and based on the principle that machines are "cattle". It's up to each controller (KCP, machineSet...) to react gracefully and protectively if they choose to when a MHC or something else requests a machine deletion.

I think consumers of the machine semantics shouldn't care about this in their designs. In the same way that they don't care about pods, they just req

[2020-04-14 16:58] vincepri commented on #2836
Annotations wouldn't change that, it would really only separate the responsibilities of a health check and the remediation process.

"Add ability to KCP controller to watch a deletion timestamp and remove the etcd member" this isn't far from what we'll have today in #2841. The biggest drawback of this approach is that we cannot control when the underlying infrastructure is getting deleted, and we

[2020-04-14 17:23] enxebre commented on #2836
A MHC managed by the KCP enforcing the maxUnhealthy value based on current replicas would protect you from shooting yourself in the foot, that's why we have maxUnhealhty semantic.

Cool, I'm all good with that. MHC should be just an integration point between node problem detector tooling and remediation strategies (if there's a need for them).
I just think we should make sure we flesh out the deta

[2020-04-14 17:29] ncdc commented on #2836
KCP has to scale up first, then delete. Can you help me understand how MHC allows for this?

If we separate the concerns, and have MHC only mark, and some other thing(s) remediate (sweep), I think we'll be able to make everyone happy. WDYT?

[2020-04-14 19:12] detiber commented on #2062
/lifecycle frozen

[2020-04-14 19:12] fabriziopandini opened #2906 "Add a temporary workaround to get KCP to detect Ready state faster"
**User Story**

As a developer/user/operator I would like KCP to detect Ready state in a reliable way.

**Detailed Description**

The KCP Ready state depends by the controller to detect node state changes.

This is going to be addressed by https://github.com/kubernetes-sigs/cluster-api/pull/2880 and by follow up PRs making KCP to use the new remote cluster cache.

However, in the meantime, KCP is

[2020-04-14 19:12] detiber commented on #2063
/lifecycle frozen

[2020-04-14 19:20] vincepri commented on #2906
/area control-plane
/milestone v0.3.4

I'd like to get this in v0.3.4, and replace it by #2880 and any follow-up PRs when it's ready.

[2020-04-14 19:35] n1r1 commented on #2836
It's a bit tricky.
After remediation, we end up with a healthy Machine with unhealthy annotation, and now we have a race - MHC will want to remove the unhealthy annotation, but also the remediation-controller will have to avoid re-remeidate it (i.e. remediation-loop)

It could be avoided by having that remediation-controller adding extra annotation to differentiate between unhealthy Machine and un

[2020-04-14 20:00] benmoss commented on #2906
/assign @fabriziopandini
https://github.com/kubernetes-sigs/cluster-api/pull/2907

[2020-04-14 20:02] benmoss commented on #2903
/assign @fabriziopandini

[2020-04-14 20:17] benmoss commented on #1945
/assign

[2020-04-14 20:20] #2906 closed

[2020-04-14 21:56] #2818 closed

[2020-04-14 22:14] #2903 closed

[2020-04-15 01:48] erstaples commented on #2585
@vincepri I have this complete and ready for a PR, aside from one issue. I ran `make generate`, which deleted the autogenerated function `Convert_v1alpha3_MachineRollingUpdateDeployment_To_v1alpha2_MachineRollingUpdateDeployment`.

After that, `make test` fails with the error
[code]

Am I running the wrong version of a dependency used to generate the files, or...?

[2020-04-15 07:13] jan-est commented on #2846
@ncdc @vincepri yes we are looking for a custom remediation. Good thing with the CRD is that providers could annotate MRR and MHC can watch the status of the remediation. For example, reboot or reprovision of the physical node takes a long time. If we need to reboot the node multiple times, we are talking about minutes maybe more. In this cases annotations like`remediation-in-progress` can be used

[2020-04-15 08:13] fabriziopandini commented on #2713
Unfortunately, this can cause problems to ./bin/clusterctl config provider --infrastructure aws -o yaml, because this is going to prepend logs to the yaml (same for other commands ruturning yaml)

[code]

So as per https://github.com/kubernetes-sigs/cluster-api/pull/2717#issuecomment-607518818, before implementing this, we should explore different solutions like log to stderr in case of commands g

[2020-04-15 08:53] fabriziopandini commented on #2876
Two comments about this:
1. It requires all variables to be set, not only credentials
2. `custerctl config provider` is the `-o yaml` options that is the only way for a user to get a preview of the yaml that will be applied to a cluster

If we are going to make the command to work without variable substitution, we are losing the option to run o get a preview of the yaml that will be applied to a c

[2020-04-15 09:07] beekhof commented on #2846
I would actually assume that the provider's MRC would do that

[2020-04-15 09:14] beekhof commented on #2846
We've been able to make-do with an annotation downstream, but there are various issues that would be alleviated by using a CRD instead.  Nir will join the community call to elaborate and discuss

[2020-04-15 09:41] fabriziopandini commented on #2836
my two cents.
I'm +1 on for annotations, and possible with annotations when the machine is starting to fail an MHC check and when the machine is finally scheduled for delete.

The machine is starting to fail check annotations is something that might not be relevant for this issue, but it could be a super valuable source of information for implementing conditions on machines.

[2020-04-15 11:45] fabriziopandini opened #2910 "[E2E] split BootstrapCluster and ManagementCluster"
**Detailed Description**

The Cluster API E2E framework implements a `ManagementCluster` interface

https://github.com/kubernetes-sigs/cluster-api/blob/0b964b734167081a2a994f28983877140c58c50c/test/framework/interfaces.go#L54

But its definition and its implementation (https://github.com/kubernetes-sigs/cluster-api/blob/master/test/framework/management/kind/mgmt.go) is tightly coupled with kind an

[2020-04-15 12:39] fabriziopandini commented on #2910
/assign
/lifecycle active

[2020-04-15 14:03] benmoss commented on #1945
With the fallback call to `Update` removed I am still seeing

[code]

[2020-04-15 14:10] detiber opened #2912 "MachineSet is looking at the wrong annotation for Machine deletion"
**What steps did you take and what happened:**
Apply the documented annotation to a Machine that belongs to a MachineSet to select it for deletion (`cluster.x-k8s.io/delete-machine`) and then scale down the MachineSet. The MachineSet will not honor the documented annotation.

**What did you expect to happen:**
The MachineSet honor the documented annotation

**Anything else you would like to add:**

[2020-04-15 14:12] ncdc commented on #2912
Let's add code in 0.3.x to support both versions, and in 0.4.x only respect the x-k8s version?

[2020-04-15 14:22] vincepri commented on #2912
/milestone v0.3.4
/priority important-soon

@wfernandes did you want to try to tackle this issue?

[2020-04-15 14:57] wfernandes commented on #2912
/assign

[2020-04-15 15:11] benmoss commented on #2836
Seems like we need a separate state of "remediation applied" that KCP would apply if we want to handle a machine going from unhealthy to "maybe healthy" and have the MHC be the one who decides that it's fully healthy again

[2020-04-15 15:45] vincepri commented on #2836
This sounds more like a matter of configuration options in MHC and timeouts, rather than having a full state machine.

Understanding that remediation has been applied is something that the remediating controller needs to track, not a health check.

[2020-04-15 15:51] vincepri commented on #2910
/milestone v0.3.4

[2020-04-15 15:51] vincepri commented on #2886
/milestone v0.3.x

[2020-04-15 15:53] vincepri commented on #2885
/milestone v0.3.x
/priority awaiting-more-evidence

@fabriziopandini do you have any thoughts around this issue?

[2020-04-15 15:56] JoelSpeed commented on #2836
I think the problem to solve is how we healthcheck/mark unhealthy/remediate in an idempotent way, as @n1r1 says, we don't want to get into a loop. Currently, MHC signals remediation by deleting the machine, which is irreversible. Adding and removing annotations because of the health status changes rather changes the current beahviour.

My concern would be that MHC marks the machine unhealthy with

[2020-04-15 16:22] sherifkayad opened #2914 "Allow existing k8s clusters to join a management cluster"
**User Story**

As an Operations Team Member I would like to use the cluster API provider implementation to let existing k8s clusters pre cluster API to join my management cluster in order for me to be able to use the cluster API spec not only for new clusters but also for existing clusters in my organization.

**Detailed Description**

It's explicitly mentioned in the non goals that one of the cl

[2020-04-15 16:25] CecileRobertMichon commented on #2876
Isn't that what `clusterctl config cluster` does?

[2020-04-15 16:30] fabriziopandini commented on #2876
@CecileRobertMichon `clusterctl config cluster` gives you the cluster template yaml, while `clusterctl config provider` gives you the component yaml (your provider yaml)

[2020-04-15 16:32] CecileRobertMichon commented on #2876
edit: I realized that by "a preview of the yaml that will be applied to a cluster" you meant the infra components, not the cluster resources.

In that case I think solution 2) makes sense - the command shouldn't fail if variables are missing since it still provides valuable information and should just replace the variables if they are present.

[2020-04-15 16:42] #1945 closed

[2020-04-15 16:47] sedefsavas opened #2915 "[KCP] Fails to upgrade single node control plane"
**What steps did you take and what happened:**
On a single-node control-plane, I upgraded kubernetes version, etcd and CoreDNS image tags by modifying KCP object. New node with upgraded Kubernetes version is created, old node is physically deleted but old node object and all pods that was on the old pod are dangling.

[code]

**What did you expect to happen:**
I expected KCP to remove node object

[2020-04-15 16:51] sherifkayad opened #2916 "UI dashboard for visualizing cluster-api managed clusters"
**User Story**

As a user of the cluster API, I would like to be able to see the managed clusters and some basic metrics about them in a friendly UI in order for me to get an easy visualization about my managed clusters.

**Detailed Description**

Similar to the approaches of most of the k8s cluster management solutions (e.g. Rancher / Gardener / .. etc.), I think having a friendly UI dashboard wi

[2020-04-15 16:53] JoelSpeed commented on #2846
I posted some thoughts on the remediation problem on the other thread regarding KCP MHC integration, they may actually be more relevant to this thread https://github.com/kubernetes-sigs/cluster-api/issues/2836#issuecomment-614124616

In particular the idea of having some sort of delay.

ie MHC adds two(?) annotations, one sayin `remediation-required` and one saying `lastRemediated: time.Now()`. Th

[2020-04-15 16:53] vincepri commented on #2915
This seems like needs to be investigated
/priority critical-urgent
/milestone v0.3.4

[2020-04-15 16:53] davidewatson commented on #2916
The group may or may not have developers with the rights skills and interests, but this would be great for user experience one day.

[2020-04-15 17:00] vincepri commented on #2916
@johnharris85 is going to demo a plugin for [Octant](https://github.com/vmware-tanzu/octant) either next week or the week after

[2020-04-15 17:08] sherifkayad commented on #2916
@vincepri @johnharris85 sounds great! .. could you please post a link for the demo video here in this issue?

[2020-04-15 17:25] benmoss commented on #2915
I tried reproducing with CAPA and everything worked as it should, the new machine appears and joins the cluster, the old machine is deleted and its node disappears when it's removed

[2020-04-15 17:27] neolit123 commented on #2885
i see a question here related to who's responsibility it is to pull the container images for a new node?
the user building the VM image or kubeadm running `join` on the node?
if it's kubeadm's responsibility then this feels like chopping away from the whole "immutability" concept for a machine.

for immutable upgrades it makes sense to me to skip kubeadm prepull completely and assume the VM was pr

[2020-04-15 17:37] ncdc commented on #2885
@neolit123 it fails to pull because the original node used an OS image that had all the images baked in **AND** those images are **NOT** pullable

[2020-04-15 17:42] DheerajSShetty commented on #2885
@neolit123
It tries to pull coredns Y-1 in AMI with version Y.

[2020-04-15 17:58] sedefsavas commented on #2915
I am testing it on a clusterctl initiated cluster with CAPD. I am investigating a bit more to see if this is related to image tag upgrades, will update soon.

[2020-04-15 18:32] vincepri commented on #2811
Closing this per our discussion in our meeting today

/close

[2020-04-15 18:32] #2811 closed

[2020-04-15 19:03] sedefsavas commented on #2915
e2e test (docker_upgrade_test.go) fails when I change control plane replica number from 3 to 1.
Physical container is being deleted but kubernetes cluster still has it in its node list.

E.g., below `test-upgrade-0-test-upgrade-0-cwcb2` is the old node.

[code]
[code]

[2020-04-15 19:05] vincepri commented on #2915
@sedefsavas scaling down a KCP replicas isn't a supported use case, @detiber can you confirm?

[2020-04-15 19:08] detiber commented on #2915
Scale down is something that we had originally intended to support in the proposal (mainly as a pre-requisite for upgrade), not sure if anything has changed since, though.

[2020-04-15 19:09] vincepri commented on #2915
I was under the assumption that we were not allowing to go 1 replica -> 3 replicas -> 1 replica

[2020-04-15 19:11] sedefsavas commented on #2915
@vincepri @detiber Sorry for the confusion. I am not scaling down, I changed the hardcoded 3 control plane replica number in the test to 1.

[2020-04-15 19:12] #2861 closed

[2020-04-15 20:00] wfernandes opened #2918 "Add some code coverage analysis as part of prow PR feedback"
**User Story**

As a developer I would like to have some code coverage feedback from prow when I submit PRs to CAPI.

**Detailed Description**
This is important to developers submitting PRs to analyze how many tests are being introduced into the code base and/or removed and the quality of the tests as well.
This will also enable reviewers to assist in improving the test code base as well.
This is

[2020-04-15 20:05] vincepri commented on #2918
/milestone v0.3.x
/priority important-soon
/help

[2020-04-15 20:14] benmoss opened #2919 "Refactoring KCP to support pluggable upgrade strategy"
***Goals***
1. Provide an abstraction for defining the current upgrade strategy of KCP such that we can later provide a way for users to select alternative strategies.
1. Clean up code in [KCP ControlPlane](https://github.com/kubernetes-sigs/cluster-api/blob/5fdcb9e8dcf0ce93d9eaf984a1de1b1377290f8c/controlplane/kubeadm/internal/control_plane.go#L97-L146)
1. Logic for when we scale up / down lives

[2020-04-15 21:12] #2881 closed

[2020-04-15 21:40] wfernandes commented on #2912
/lifecycle active

[2020-04-15 21:48] #2910 closed

[2020-04-15 22:23] gab-satchi commented on #2863
I read this as "If the MHC doesn't target any machines, there should be some type of feedback since it likely means the MHC was misconfigured". I ran into this while testing MHC where I had a typo in my label and that caused 0 targets for the MHC. Describing the MHC wasn't helpful as the Status was showing empty values for Target, Healthy/Unhealthy instead of 0 (separate issue)

/assign
/lifecycle

[2020-04-16 07:05] n1r1 commented on #2846
Downstream we solved this by having an extra annotation to indicate that remediation is in progress and removing it (and MHC annotation) only after we think that remediation was successful. (see [my PR downstream](https://github.com/openshift/cluster-api-provider-baremetal/pull/59) if this helps).

`remediationTimeout` sounds like an interesting idea. We thought that MHC could have finalizer on MR

[2020-04-16 08:41] jan-est commented on #2919
@benmoss idea of ​​the ```ScaleStrategy``` interface is good and makes it easy to implement alternative upgrade strategies. It is certainly a good idea to keep the ```DefaultScaleStrategy```` in such a way that the user cannot control it in any way and implement for example Rolling Update like features as their own strategies.

I'm not so sure about the scaling steps and could this cause a problem

[2020-04-16 09:25] fabriziopandini commented on #2885
@DheerajSShetty @vincepri @ncdc
Might be I'm wrong, but I think that the problem is a little bit more complex.

Assuming we change the version in the kubeadm config map before upgrades, we can the new control-plane to join the cluster. That's fine (and I don't see particular problems in doing this).

But if the images are not pullable, there could be another problem, because the new image will be

[2020-04-16 11:06] fabriziopandini opened #2921 "E2E reorgs helpers"
**Detailed Description**

The Cluster API E2E framework is mostly a collection of helper functions.

As of today, those helpers are organized in files following a mixed approach:

- some of them are organized by "object": `control-plane.go`, `failure-domains.go`
- some of them are organized by "cluster type": `management-cluster.go`, `workload-cluster.go`
- some of them are in the "discovery" pack

[2020-04-16 11:06] fabriziopandini commented on #2921
/assign
/lifecycle active

[2020-04-16 13:04] benmoss commented on #2919
We could definitely still alter this to have more methods to distinguish Upgrade scaling operations from regular reasons, it just means it'll be a broader interface. If it's feasible I think it's conceptually simpler to not special-case upgrading, but there might be more wrinkles there than I realize.

[2020-04-16 13:36] vincepri commented on #2921
/milestone v0.3.4

[2020-04-16 13:39] vincepri commented on #2919
I'm going to punt this to Next for now. This refactoring needs definitely more discussions. That said, we can start working on some implementation (or light refactoring) in the current codebase, but I would like to understand first what gains/improvements and outcomes we're trying to achieve.

/milestone Next

[2020-04-16 14:04] benmoss commented on #2918
/assign

[2020-04-16 14:19] detiber commented on #2919
There are some potential issues that I see with allowing for additional upgrade strategies:
- How to handle a single control plane replica using the default of stacked etcd
- Impact on the failure tolerance of the etcd cluster during the upgrade process
- Ensuring the action we are taking would not cause the etcd cluster to lose quorum

By far the biggest driver for hardcoding the current strategy

[2020-04-16 14:30] #2659 closed

[2020-04-16 14:30] #2854 closed

[2020-04-16 16:30] DheerajSShetty commented on #2885
I have been working around this issue by changing repository field of CoreDNS Deployment before upgrade to someplace where it can be downloaded from.
But in v1alpha3, KCP changes the deployment image and repo to value in kubeadm-config, and hence the approach I used in v1alpha2 did not work.
Hence for now I have stopped using baked container images in AMI.

As you mentioned using air-gapped coredn

[2020-04-16 17:12] #2921 closed

[2020-04-16 19:36] gab-satchi commented on #2863
Hadn't thought of that usecase. Given it's feasible to target 0 machines, I think seeing either a 0 for Target or an empty list of targets is sufficient. There's no need to raise a warning for 0 machines.

[2020-04-16 20:10] michaelgugino commented on #1811
/remove-lifecycle rotten

[2020-04-16 20:15] vincepri commented on #1811
I'm wondering if we actually need any changes to Cluster API core types. Following what the spot instances proposal has done, we can build a small CAEP that defines a convention for infrastructure provider to use.

Clients that want to use this feature can use the conventions established in the proposal, alongside some utilities.

I'd like to open the discussion and involve more folks working on i

[2020-04-16 20:19] michaelgugino commented on #1811
@vincepri can you be more specific about conventions.

I like it on the machine object for a few reasons.

1. Human accessible.  If I want to power off a machine, I can see if that operation is supported.
1. External components only need to worry about integrating with machines, not reading any data from elsewhere.
1. Most likely we'll set the power state of a machine on the machine itself, rather

[2020-04-16 20:27] #2830 closed

[2020-04-16 20:45] #2702 closed

[2020-04-16 20:53] vincepri commented on #2889
@sedefsavas should we close this given the work we're doing on e2e and the increased timeout?

[2020-04-16 20:58] sedefsavas commented on #2889
Yes, closing.

[2020-04-16 20:58] #2889 closed

[2020-04-16 21:27] ncdc opened #2928 "clusterctl: filter out cert-manager-leaderelection ClusterRoleBinding"
**What steps did you take and what happened:**
1. Create a management cluster with clusterctl
1. Try to back it up using Velero
1. Backup fails because it can't find cert-manager-leaderelection (Velero tries to back up all referenced roles)

**What did you expect to happen:**
1. No failure

**Anything else you would like to add:**
https://github.com/jetstack/cert-manager/pull/2207 removed the cert

[2020-04-16 21:41] wfernandes commented on #2912
So posing one of [the hardest problems in CS](https://martinfowler.com/bliki/TwoHardThings.html).

If the existing annotation `cluster.k8s.io/delete-machine` is called `DeleteNodeAnnotation` what do we call the other one `cluster.x-k8s.io/delete-machine`?

Suggestions:
- `DeleteNodexAnnotation`
- `DeleteNodeAnnotationv2`
- This might not be API compatible, but change the value of `DeleteNodeAnnota

[2020-04-16 21:56] sedefsavas commented on #2915
I see this issue with CAPV too. It is happening more often than not. @benmoss can you redo this test for CAPA too to see if it is consistently succeeding?

[2020-04-16 22:11] vincepri commented on #2915
Is scale-down not working for this node? Can you up the logs in the controller and try to trace what happens?

[2020-04-16 22:29] sedefsavas commented on #2915
Yes, in the scale down. It is failing to remove etcd member.
`[manager] E0416 21:46:02.455746       8 scale.go:117]  "msg"="Failed to remove etcd member for machine" "error"="failed to create etcd client: unable to create etcd client: context deadline exceeded" "cluster-nanme"="sedef" "name"="sedef" "namespace"="default" `

I don't understand why it happens only sometimes though.

[2020-04-16 22:31] vincepri commented on #2915
Sounds like it could be a timing issue, it'd be great to have an exact trace when it fails

[2020-04-16 22:56] wfernandes commented on #2928
/assign
/lifecycle active

[2020-04-16 23:00] wfernandes commented on #2635
Commenting on this issue so I can be in the loop. This looks like a lot of work and I would like to help out where ever I can 🙂

[2020-04-16 23:50] CecileRobertMichon commented on #2826
@vincepri with the new v1alpha3+ roadmap should this be 0.3.x or 0.4.x?

[2020-04-16 23:58] CecileRobertMichon commented on #2339
@devigned and I have been thinking about this overall problem lately, wondering if anyone on this thread has thoughts on https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/540 since it's related.

[2020-04-17 06:42] jan-est commented on #2919
@detiber any extra safety in KCP would be good. Maybe we need to discuss about etcd backing up and restoring as well as additional checks on state of the etcd, before we can decide adding alternative upgrade strategies? Adding these feature into KCP is a major refactoring, though.

[2020-04-17 12:58] benmoss commented on #2915
Can you give some more details of what the change you're making is? You're upgrading Kubernetes, etcd, and CoreDNS all at the same time?

[2020-04-17 13:06] nader-ziada commented on #2756
/assign

[2020-04-17 14:24] benmoss commented on #2918
/unassign

maybe someone with more familiarity on the prow ecosystem can do this

[2020-04-17 15:27] vincepri commented on #2826
@CecileRobertMichon This could be added to v0.3.x in a backward compatible way. I'm unclear though if we have folks interested in working on it.

[2020-04-17 15:38] vincepri commented on #2928
/milestone v0.3.x

[2020-04-17 17:08] vincepri commented on #2826
/help

[2020-04-17 18:05] sedefsavas commented on #2915
No, only upgrading Kubernetes version.
I see different errors at different times. One of them is panic during ForwardETCDLeardship(). This is rarely happening

[code]

[2020-04-17 18:12] vincepri commented on #2915
It seems like that failure is related to the leaderCandidate not having a NodeRef yet, which is a little strange.

[2020-04-17 18:16] vincepri commented on #2915
Aren't we waiting any longer that all the nodes in the control plane are ready before proceeding to delete the older machines?

[2020-04-17 18:19] sedefsavas commented on #2915
I don't see a node ready check, without CNI is installed, 3 node control-plane upgrades are working fine.

[2020-04-17 18:25] vincepri commented on #2915
Can you run a test locally with a custom build after adding a check the NodeRef is there for the leaderCandidate and see if that fixes it?

[2020-04-17 18:47] sedefsavas commented on #2915
Another set of errors I see when the times it does not panic during upgrade is etcd remove member error:

[code]

Now testing what @vincepri suggested.

[2020-04-17 20:05] vincepri commented on #2915
If I had to guess, it seems like it's trying to remove the etcd member too soon

[2020-04-17 20:09] sedefsavas commented on #2915
@vincepri Noderef is not the issue,  we already wait for kube-api-server to be ready.

[2020-04-17 20:09] sedefsavas commented on #2915
/assign

[2020-04-17 20:10] vincepri commented on #2915
We shouldn't have panics though, so we need a check in place somewhere before doing that scale down

[2020-04-17 20:59] wfernandes commented on #2928
Was able to repro this issue:
`$ velero backup logs wff-test-velero-backup1 | grep -v level=info`

`

[2020-04-17 21:49] fabriziopandini commented on #2928
What about having a local copy of the cert-manager manifest (instead of curl every time we build generate bin data)?

[2020-04-17 21:57] #2876 closed

[2020-04-17 21:59] fabriziopandini commented on #2637
/close
Now that #2884 is merged, clusterctl is being tested a part of CAPI e2e tests

[2020-04-17 21:59] #2637 closed

[2020-04-17 22:01] fabriziopandini commented on #2636
With #2884 merged, e2e workflow are now clusterctl based.

[2020-04-17 22:09] fabriziopandini opened #2930 "Remove cmd/clusterctl/test"
With #2884 clusterctl is now tested by the CAPI e2e tests, so it is possible to remove e2e tests `under cmd/clusterctl/test`

/kind cleanup
/area clusterctl
/help
/good-first-issue

[2020-04-17 22:52] michaelgugino commented on #1514
@ncdc
So, one alternative, kind of a hybrid of two approaches outlined here.

Instead of having another CRD, we just utilize the status of the machine object.  If we're proposing that 3rd party controllers are updating this field, then let's do that up front.  If a machine has no deletion timestamp, some other controller can update an individual machine object with an entry into a hook list.

[cod

[2020-04-17 23:19] michaelgugino commented on #1514
One question is, what if we want to disable/remove one of these hooks after the machine has been deleted.  One way to accomplish this would be with an annotation to skip one or more hooks.

This kind of brings us full circle.  We might as well just use annotations.  They are easy for users to delete, they are pretty straight forward.  We're already using an annotation to skip drain (eg, a lifecycl

[2020-04-18 10:46] prankul88 commented on #2930
/assign

[2020-04-18 10:50] prankul88 commented on #2930
@fabriziopandini Is it safe to remove whole /cmd/clusterctl/test folder

[2020-04-18 15:27] vincepri commented on #2636
Do we want to close this one out and tackle the development experience separately? It's probably going to be an ongoing task.

[2020-04-18 15:59] fabriziopandini commented on #2930
@prankul88 yes

[2020-04-18 21:57] sb1975 commented on #2872
I was able to do it following the steps given by

[2020-04-18 22:00] #2872 closed

[2020-04-19 08:05] fabriziopandini commented on #2636
Ok
/close

[2020-04-19 08:06] #2636 closed

[2020-04-19 18:53] voor opened #2934 "Add Security Context, Service Accounts, and PodSecurityPolicy to cert-manager, cluster-api, bootstrap-kubeadm, and control-plane-kubeadm"
**User Story**

As an operator I would like to run Cluster API's processes on a Kubernetes cluster that has the Pod Security Policy admission controllers turned on.

**Detailed Description**

Right now the various components of Cluster API are just using the defaults -- default security context, default service account in each namespace, and no PSP setup for those default service accounts.  Unfort

[2020-04-20 09:03] fabriziopandini commented on #2934
/cc

[2020-04-20 13:29] benmoss opened #2937 "KCP should shut down kube-apiserver gracefully"
**User Story**

As an operator I would like to my Kubernetes cluster not to become unavailable as nodes are being removed from my cluster.

**Detailed Description**

When a node is being removed right now, whether due to scale down or upgrade, users can potentially see errors while trying to reach the cluster. At least in my testing using CAPA I believe this is because the load balancer for contro

[2020-04-20 14:01] detiber commented on #1514
I'd like to avoid the use of Status for implementing this feature for a couple of reasons:
- It would not persist across backup/restore or `clusterctl move` operations
- Having external controllers updating a Status for a resource means we will have competing controllers updating the spec/status of the same resource, which is something that we were trying to avoid in the past.

I can't say I'm a h

[2020-04-20 14:12] benmoss commented on #2886
What's expected behavior here? It seems like this feature is not very well defined. According to https://github.com/kubernetes-sigs/cluster-api/blob/master/bootstrap/kubeadm/docs/external-etcd.md we only support creating secrets with specific names. Do we just want to fix the NPE and return an error?

[2020-04-20 14:15] michaelgugino commented on #1514
@detiber that's a good point, and I don't disagree.  There's not one-way to do it if we use annotations.  If you want to apply them at creation, you can.  If you want some automated process to apply them based on whatever logic you decide, you can.

[2020-04-20 14:23] ncdc commented on #1514
I agree we should avoid using status for this.

I don't have any huge issues with an external controller here, but I don't love the fact that there is a period of time during which the annotation is absent (Machine is brand new, persisted to etcd, and the external controller hasn't processed it yet). For delete hooks, this is probably fine, because the rapid creation and then immediate deletion of

[2020-04-20 14:25] vincepri commented on #2937
cc @sethp-nr

[2020-04-20 14:25] vincepri commented on #2937
/milestone v0.3.x

[2020-04-20 14:27] detiber commented on #1514
Deletion of a self-hosted management cluster is the one case where creation/deletion happens in somewhat quick succession as a course of normal operation.

[2020-04-20 14:33] vincepri commented on #1514
I forgot to post my comment here last week, apologies. I was going to propose to move this proposal to a full CAEP / Google Doc, and possibly see if we can merge this use case with #2846, it was mentioned in there that we might want to have multiple remediation steps before deletion, which should fit the use cases described in this proposal.

[2020-04-20 14:35] michaelgugino commented on #1514
I'd prefer to keep the issues separate.  That proposal is about the MHC doing something *other* than deleting the machine object (such as rebooting the machine, or performing some other unrelated action).  This is mostly about pausing the machine-controller from doing some portion of it's normal operation based on some input.

[2020-04-20 14:37] detiber commented on #2886
In the general case that the keypair is pre-defined in the config, we don't actually need to lookup or create the secret at all, we should skip that step, but only for the certs/keys that are injected via config.

In the more specific case of specifying the use of an external etcd cluster, we should likely also skip the creation of the etcd CA keypair and the associated secrets and should likely t

[2020-04-20 14:39] vincepri commented on #2934
/help

[2020-04-20 14:40] vincepri commented on #2930
/milestone v0.3.4

[2020-04-20 14:54] michaelgugino commented on #1514
@ncdc as I mentioned above, having the controller apply the initial annotation (or what have you) is optional.  If we use annotations, the user (or whoever creates the machine object) can apply those annotations at creation time, if appropriate.

In the case of Masters / Control Plane hosts, applying the 'don't delete until replacement is created' is something that could be applied at creation tim

[2020-04-20 14:56] benmoss commented on #2886
Not sure I understand, maybe I can explain my understanding better. The workflow as I understand it from the external ETCD doc is

- create secrets named `my-cluster-apiserver-etcd-client`, `my-cluster-etcd`
- specify the filepaths under `clusterConfiguration.etcd.external.caFile`, `certFile`, and `keyFile`.
- KubeadmConfig controller will read the secrets and inject them into bootstrap data to be

[2020-04-20 14:58] benmoss commented on #2886
Yes, the way it was built it seems the intention was that users would put them in secrets (not ConfigMaps) and the controller would handle mounting those as files. It's probably possible for us to support a user putting them as `files` as well, but it's not supported now.

[2020-04-20 15:00] scottslowe commented on #2886
@benmoss Yes, sorry, I should have said Secrets (my mistake, thank you for correcting me).

[2020-04-20 15:01] vincepri commented on #1514
@michaelgugino #2846 started as that, but it quickly turned out to be larger than expected.

We're expecting folks there to bring up a proposal, a quick recap from last week's conversation:
- Want to have the ability for any external controller to be able to perform some steps before remediation happens.
- Applies to any Machine, not just MHC-controller machines, or KCP ones.
- Initial idea was to

[2020-04-20 15:10] michaelgugino commented on #1514
@vincepri I disagree that they are related.

#2846 is about applying some annotation (or in the worst case, make some remediation record CRD) to a machine for some *other* controller to do work related to the remediation.  The machine-controller is not in charge of doing anything it wouldn't normally do.  In the case they are proposing, the machine-object is *not* deleted.  They want to apply an a

[2020-04-20 15:21] benmoss commented on #2619
/assign

[2020-04-20 15:49] wfernandes commented on #2635
Referencing this issue https://github.com/kubernetes-sigs/cluster-api/issues/2934 here as it may be relevant when we design this out.

[2020-04-20 16:35] fabriziopandini commented on #2619
@benmoss just saw a notification about this issue.
this should be already addressed by latest changes in the test framework; also capd-e2e test are going to be replaced by test e2e...

[2020-04-20 16:51] vincepri commented on #2619
Should we close this one out?

[2020-04-20 17:39] wfernandes commented on #2795
Going to take a peek into this.
/assign

[2020-04-20 17:43] vincepri commented on #2795
@wfernandes I think this might have been outdated, we're tackling this with the new clusterctl-based e2e tests

cc @fabriziopandini @sedefsavas

[2020-04-20 17:51] wfernandes commented on #2795
@vincepri I'm assuming this issue was for the tests in `test/infrastructure/docker/e2e`. But if we are switching to the clusterctl tests in `test/e2e` then do we need the docker tests in the future?

[2020-04-20 17:51] wfernandes commented on #2795
I'll hold off on this until we understand what needs to be done.
/hold

[2020-04-20 17:58] sethp-nr commented on #2937
Thanks for writing this up, Ben!

That certainly doesn't help, though what we saw in https://github.com/kubernetes-sigs/cluster-api/issues/2652 was that the api-server seemed "healthy" in that it never got taken out of the load balancer, even when the KCP got stuck between the remove member and shut down node steps. It appeared to be accepting requests & hanging on to them, waiting for its local e

[2020-04-20 18:01] #2851 closed

[2020-04-20 18:08] fabriziopandini commented on #2795
My opinion is that as soon as test e2e gets functional parity with docker e2e (and we should be really near to that), we won't need docker e2e test anymore.
FYI I have already open ann issue to nuke clusterctl e2e tests for the same reason.

[2020-04-20 18:18] detiber commented on #2937
I worry a bit about how implementation of this would work. Would we need some changes in Kubeadm to support this, or if we tried to implement outside of kubeadm, would we have to worry about compatibility of our solution with specific versions of kubeadm/kubernetes?

Another potential option that we have is to change the order of operations for scaling down/deletion of a Machine with KubeadmContro

[2020-04-20 18:31] vincepri commented on #2795
Going to close this out for now given that we're moving away from the older capd e2e tests

/close

[2020-04-20 18:31] #2795 closed

[2020-04-20 18:32] vincepri commented on #1565
/close

closing due to timeout

[2020-04-20 18:32] #1565 closed

[2020-04-20 18:33] vincepri commented on #2141
closing in favor of https://github.com/kubernetes-sigs/cluster-api/issues/2826

/close

[2020-04-20 18:33] #2141 closed

[2020-04-20 18:43] vincepri commented on #2937
/area control-plane

[2020-04-20 18:47] vincepri commented on #980
/remove-lifecycle frozen
/kind proposal
/help

As pointed out in https://github.com/kubernetes-sigs/cluster-api/pull/2045#issuecomment-610540856 this could turn out to be a documentation issue which we can tackle separately.

[2020-04-20 18:47] vincepri commented on #1113
Closing this for now given inactivity / release of v1alpha3.

/close

[2020-04-20 18:47] #1113 closed

[2020-04-20 18:50] vincepri commented on #1242
Closing for now due to inactivity, feel free to reopen

/close

[2020-04-20 18:50] #1242 closed

[2020-04-20 18:51] vincepri commented on #1514
/kind proposal

Let's move to a Google Doc CAEP whenever possible and post the link here.

[2020-04-20 18:54] vincepri commented on #1524
Given that this work is still in progress, and we'll need to tackle this in controller-runtime (and tools) first, what do you think of closing this for now?

/remove-lifecycle frozen

[2020-04-20 18:54] vincepri commented on #1518
We should try to tackle this in v0.3.x now that we're focusing on alpha3 for a little longer.

/help
/milestone v0.3.x

[2020-04-20 18:55] vincepri commented on #1477
@randomvariable Thoughts on closing this one out and tackle it after we work on conditions in this cycle?

[2020-04-20 18:56] vincepri commented on #1554
This issue seems mostly a documentation / infrastructure limitation, @detiber thoughts?

/help

[2020-04-20 18:57] vincepri commented on #1566
Closing this due to inactivity, please feel free to reopen

/close

[2020-04-20 18:57] #1566 closed

[2020-04-20 19:00] vincepri commented on #1559
This should be potentially an extension of the current guide we already have today https://cluster-api.sigs.k8s.io/developer/providers/implementers-guide/overview.html

[2020-04-20 19:01] vincepri commented on #1524
/area api

[2020-04-20 19:01] vincepri commented on #1227
/area ux

[2020-04-20 19:01] vincepri commented on #1514
/area machine

[2020-04-20 19:02] vincepri commented on #1559
/area bootstrap

[2020-04-20 19:02] vincepri commented on #1582
/area bootstrap

[2020-04-20 19:02] vincepri commented on #1583
Closing this one out due to inactivity
/close
/area bootstrap

[2020-04-20 19:03] #1583 closed

[2020-04-20 19:03] vincepri commented on #1584
/area ux

[2020-04-20 19:03] vincepri commented on #1477
/area health
/area ux

[2020-04-20 19:04] vincepri commented on #1586
/area bootstrap
/remove-lifecycle frozen

[2020-04-20 19:04] vincepri commented on #1586
/priority backlog

[2020-04-20 19:04] vincepri commented on #1587
/area ux
/area bootstrap
/remove-lifecycle frozen
/help
/priority backlog

[2020-04-20 19:05] vincepri commented on #1588
/remove-lifecycle frozen
/area bootstrap
/priority backlog
/help

[2020-04-20 19:06] vincepri commented on #1642
/area bootstrap
/help

[2020-04-20 19:07] vincepri commented on #1658
/assign @fabriziopandini
/lifecycle active
/area api

[2020-04-20 19:07] vincepri commented on #1666
/help
/remove-lifecycle frozen

[2020-04-20 19:08] vincepri commented on #1666
Actually, going to close this out until there is a real ask / use cases

[2020-04-20 19:08] vincepri commented on #1666
/close

[2020-04-20 19:08] #1666 closed

[2020-04-20 19:10] vincepri commented on #1727
Closing due to inactivity

/close

[2020-04-20 19:10] #1727 closed

[2020-04-20 19:11] vincepri commented on #1768
/priority backlog
/help

[2020-04-20 19:11] vincepri commented on #1768
/area bootstrap

[2020-04-20 19:11] vincepri commented on #1767
/area bootstrap
/priority backlog

[2020-04-20 19:12] vincepri commented on #1749
/area api
/area ux

[2020-04-20 19:12] vincepri commented on #1749
This needs a proposal

[2020-04-20 19:15] vincepri commented on #1754
/remove-lifecycle frozen

@johngmyers Do you have any updates on this?

[2020-04-20 19:20] elmiko commented on #1514
this is a great discussion, thanks for kicking it off Mike.

i do have a question though, will we need to preserve some sort of ordering for these deletion finalizers? (i saw a mention of `pre-drain` and `pre-delete` in one of the examples)

reason i am asking is because, imo, from a user perspective it would be really nice to see a Machine resource and be able to inspect a key that has a simple l

[2020-04-20 19:25] vincepri commented on #2372
/milestone v0.3.x

[2020-04-20 19:26] fabriziopandini commented on #2813
One interesting point about this provider is the possibility to span a test cluster on many nodes.
I second @detiber comments that it will be interesting to explore a possible convergence CAPD/Kubernetes provider, but supporting move is a hard-requirement IMO

[2020-04-20 19:32] vincepri commented on #1828
/priority backlog

[2020-04-20 19:32] vincepri commented on #1840
/milestone v0.3.x

[2020-04-20 19:33] vincepri commented on #1858
Closing for inactivity, feel free to reopen

/close

[2020-04-20 19:33] #1858 closed

[2020-04-20 19:33] vincepri commented on #1878
/milestone v0.3.x

[2020-04-20 19:34] vincepri commented on #1950
Closing this out given that there was no progress / actionable items

/close

[2020-04-20 19:34] #1950 closed

[2020-04-20 19:35] vincepri commented on #1949
Merging this with #2372

/close

[2020-04-20 19:35] #1949 closed

[2020-04-20 19:35] vincepri commented on #2372
From @ncdc in #1949:

[code]

[2020-04-20 19:36] vincepri commented on #1876
@JoelSpeed can we close this one now that the proposal has been merged?

[2020-04-20 19:37] vincepri commented on #1876
We probably should follow-up with a documentation task to write up in the book what infrastructure providers are expected to follow as convention

[2020-04-20 19:37] vincepri commented on #2062
/priority backlog