[2021-11-08 14:39] enxebre commented on #5562
Hey @omniproc to make sure we can have a productive discussion and find a way to help, can you elaborate as much as possible on the particular use case you are interested in that is not possible to achieve today?

Particularly for vSphere it seems the Machine name is made available to the metadata via [1] and [2] that then can be used by the `preKubeadmCommands`.
cc @randomvariable @srm09 @yastij

[2021-11-08 15:20] neolit123 commented on #5606
kubeadm deploys two replicas by default to allow them to spread on nodes if possible.
users can certainly patch the coredns deployment as see fit.

long term kubeadm would like to stop hardcoding the coredns deployment and use an operator, currently alpha and located in the kubernetes-sigs/cluster-addons repository.

it seems that you should be setting this annotation in the pod template if you wa

[2021-11-08 15:41] #5594 closed

[2021-11-08 16:35] enxebre commented on #5606
There's nothing to do from autoscaler pov, it's just working as designed and there're the mentioned annotations for users to tweak evicting behaviour.

This seems all expected behaviour to satisfy kubeadm control plane coreDNS deployment topology settings. Does coreDNS need to run in a worker instance though, can we enforce it's spread only across control plane machines so we reduce the "infra" po

[2021-11-08 16:41] #5587 closed

[2021-11-08 16:56] sbueringer commented on #5606
I think it's reasonable to run CoreDNS pods on workload nodes if your cluster only has one control plane node.

A compromise could be: `preferredDuringSchedulingIgnoredDuringExecution`.

[2021-11-08 18:01] omniproc commented on #5562
@enxebre the problem isn't that you cant refer to the generated name in k8s, the problem is that you can't tell CAPI what the generated name should be.

[2021-11-08 18:05] enxebre commented on #5487
/milestone v1.1

[2021-11-08 20:14] fabriziopandini commented on #5487
/milestone v1.1

NOTE: this issue originally was about documenting current owner chain, which is something useful per se.

I would suggest to move discussion about changing current owner chain on another issue; mostly because CAPI relies heavily on it for deletion and move on top of my mind but most probably in other places as well, and this requires proper investigation.

[2021-11-08 23:34] #5452 closed

[2021-11-09 09:30] mdbooth commented on #5552
Another example:

[code]

Ideally this would be something like:

[code]

[2021-11-09 09:57] enxebre commented on #5562
ok I see, can you elaborate on the need for that so we can consider solutions?

[2021-11-09 11:36] omniproc commented on #5562
- Enterprise compliance reasons. Most enterprises define a given hostname schema. This often isn't pure eye-candy but you'll often have business processes that rely on such internal definitions (if that's something you'd want or not is another discussion but it's a given reality in most big enterprises).
- Consistent re-deployments of cluster nodes. In case you have / want to redeploy a node you w

[2021-11-09 14:05] sbueringer opened #5612 "Cluster/ClusterClass: variable validation and defaulting"
Goal of this issue is to implement validation (Cluster and ClusterClass) and defaulting (Cluster) of variables.

This includes:
* ClusterClass: (create/update webhook)
    * validate variable schemas
    * validate variable names are unique, not empty and don't start with `builtin`
* Cluster (create/update webhook)
    * default variables (if they don't exist)
    * validate variables based on the

[2021-11-09 14:05] sbueringer commented on #5612
/assign @killianmuldoon

[2021-11-09 14:06] sbueringer opened #5613 "ClusterClass: patch validation"
Goal of this issue is to extend our existing ClusterClass webhook (create and update), to also validate patches
as described in the proposal.

More details can be found in the ClusterClass proposal in: Validations | ClusterClass | ClusterClassPatch and PatchDefinition

/kind feature
/area topology

[2021-11-09 14:06] sbueringer commented on #5613
/assign @killianmuldoon

[2021-11-09 14:07] killianmuldoon opened #5614 "Move controllers/topology/internal/check to /internal/topology/check"
The folder at controllers/topology/internal/check is currently used for validation of clusterClass and managedTopology related operations.

A number of similar operations are now being added in the new top level webhooks folder in order to assess compatibility between clusterclasses.

These functions should be moved to the top-level internal package to make them available across the CAPI codebase,

[2021-11-09 14:09] killianmuldoon commented on #5614
/area topology
/kind cleanup

[2021-11-09 15:17] #5614 closed

[2021-11-09 16:20] sbueringer commented on #5120
@ykakarap Are you currently working on the issue? Should we potentially make it a help wanted issue? I think it would be great issue for new contributors.

[2021-11-09 16:40] sbarikdev commented on #5606
/help

I have kicked of this work with https://kubernetes.io/docs/tasks/administer-cluster/dns-horizontal-autoscaling/
 &  https://github.com/kubernetes/autoscaler/issues/3196 but there is definitely room for other people helping in this effort, which hopefully in most cases it is also more straight forward than the linked PR (move, adjust import without additional changes).
If someone want to hel

[2021-11-09 16:41] sbarikdev commented on #5606
/help

I have kicked of this work with [https://kubernetes.io/docs/tasks/administer-cluster/dns-horizontal-autoscaling/ ](url)
 &  [https://github.com/kubernetes/autoscaler/issues/3196](url) but there is definitely room for other people helping in this effort, which hopefully in most cases it is also more straight forward than the linked PR (move, adjust import without additional changes).
If some

[2021-11-09 16:56] schrej commented on #5606
I don't think this issue classifies as `help-wanted`. While the initial issue is well written, the solution is still in discussion and there is no clear task laid out, which is a requirement for that label.
/remove-help

[2021-11-09 17:24] fabriziopandini commented on #5577
I'm +1 to keep things simple in the first iteration and drop builtin variables for labels/annotations until a clear use case for those variables comes up

[2021-11-09 17:34] ykakarap opened #5620 "`clusterctl move` should move ClusterClass before Clusters"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

**What did you expect to happen:**

The current move operation treats both ClusterClass and Clusters as roots of the move graph.

With https://github.com/kubernetes-sigs/cluster-api/pull/5596 merged there is now a requirement that we have to make sure that a ClusterClass exists in the Clu

[2021-11-09 17:41] fabriziopandini commented on #5620
@ykakarap thanks for filing this issue
I'm happy to chat about possible solutions if this can help

[2021-11-09 17:52] fabriziopandini commented on #5612
Q: should we consider adding some safeguard, redundant validations in the reconcile loop (same as we are already doing for compatibility)?

[2021-11-09 17:57] sbueringer commented on #5612
Good question, we were thinking we leave it out of the first PR, but then introduce it with the other compatibility checks Killian is working on in the reconciler too.

(If I got it correctly, please correct me if I'm wrong @killianmuldoon)

But for me it would be also fine to already introduce it in the first PR, I think eventually we should have them

[2021-11-09 18:04] killianmuldoon opened #5621 "Add test builders to Cluster and ClusterClass webhooks"
Currently our webhook tests are using raw structs. We should update the tests under webhooks/ for the Cluster and ClusterClass webhooks to use our internal/builders.

This will allow easier creation of tests for compatibility checks when using ClusterClass and Clusters to cross-validate.

c/f #5585

[2021-11-09 18:52] sbueringer commented on #5621
/area topology
/kind cleanup

[2021-11-09 19:29] fabriziopandini commented on #5612
What is important to me is to keep this point into the radar, and it seems it is.
Then, I'm ok in breaking down the work at your convenience

[2021-11-09 20:32] killianmuldoon opened #5623 "Cluster/ClusterClass: variable validation during reconciliation"
Variable validation should be implemented during the reconcile loop in the topology controller:

This may include:

ClusterClass: (create/update webhook)
- validate variable schemas
- validate variable names are unique, not empty and don't start with builtin

Cluster (create/update webhook)
- validate variables based on the corresponding schema in the ClusterClass
- validate that required variable

[2021-11-09 20:33] killianmuldoon commented on #5620
👍  I knew there'd be fallout - I'd forgotten this test had merged. Let me know if there's anything I can help with @ykakarap

[2021-11-09 22:52] Jont828 opened #5624 "Is it possible to omit conditions when they don't apply to a given cluster?"
I discussed with @CecileRobertMichon about finding a way to omit conditions when they don't apply to a given AzureCluster. For example, there is a ready condition for virtual network peerings called `VnetPeeringsReady`, and if there are no virtual network peerings, then it would make sense to omit that condition since it doesn't apply. However, currently `VnetPeeringsReady` is set to `true` so it

[2021-11-10 00:40] ykakarap commented on #5620
I opened a PR for this. It would be great if you can review it. #5625

[2021-11-10 00:50] ykakarap commented on #5120
Good idea to make it a good first issue.

/good-first-issue
/help

/unassign

[2021-11-10 01:23] budhirajamadhav commented on #5120
/assign

[2021-11-10 07:32] sbueringer commented on #5552
I think I'll go systematically over the test framework and then create a new issue with "sub-tasks" (good-first-issue/help-wanted).

(/cc @fabriziopandini)

WDYT?

[2021-11-10 07:35] sbueringer commented on #5623
Sounds good, can you drop the "webhook" from the description? :)

[2021-11-10 09:47] killianmuldoon commented on #5606
& https://github.com/kubernetes/autoscaler/issues/3196 but there is definitely room for other people helping in this effort, which hopefully in most cases it is also more straight forward than the linked PR (move, adjust import without additional changes).
If someone want to help, it will be really useful to made a first pass on packages and propose a list of changes so than this issue can be labe

[2021-11-10 11:01] sbarikdev opened #5628 ""vsphere" provider: failed to set the TargetNamespace"
I try to install capi and get the following problem.
$ clusterctl init --infrastructure vsphere
Fetching providers
Error: failed to get provider components for the "vsphere" provider: failed to set the TargetNamespace on the components: converting (v1beta1.MutatingWebhookConfiguration) to (v1.MutatingWebhookConfiguration): unknown conversion
my environment is:
$ clusterctl version
clusterctl versi

[2021-11-10 11:23] sbarikdev commented on #5620
@ykakarap can you please mention what steps did you perform in this [#5625](https://github.com/kubernetes-sigs/cluster-api/pull/5625)

[2021-11-10 11:31] sbarikdev commented on #5613
I have a couple of questions I'd like to get alignment on before taking a proper run at this:

Are we assuming that listing all clusters using a clusterclass from the webhook is the supposed mechanism for ensure variables aren't in use currently? Or is there some other semaphore or lock that could be used?

The overall question I'm running into is how much validation we want to do against existing

[2021-11-10 11:35] sbarikdev commented on #5606
The autoscaler has an option _--skip-nodes-with-system-pods_ (default is true), which can be used to change this behavior. By default, pods in kube-system are considered as critical pods, hence non-daemonset pods are not drained.

[2021-11-10 11:39] sbarikdev commented on #5606
Similar issue to this one
kubernetes/autoscaler

which links to this page

[](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-types-of-pods-can-prevent-ca-from-removing-a-node)

Also more specific on same page "How to enable CA to move kube system pods"

[](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-to-set-pdbs-to-enable-c

[2021-11-10 11:39] killianmuldoon commented on #5606
https://github.com/kubernetes-sigs/cluster-api/issues/5606#issuecomment-965046206

[2021-11-10 11:41] enxebre commented on #5624
hey @Jont828 I think what you are describing it's supported today and expected to be implemented in the most meaningful way by each provider. It is up to each provider to model and signal their semantics for each infra piece. Also what it's considered for readiness is a provider choice and we provide reasonable conditions primitives to support that.
See e.g [1], [2], [3].

Please let me know if th

[2021-11-10 12:42] enxebre commented on #4536
/milestone v1.1

[2021-11-10 12:47] enxebre commented on #5628
fwiw I haven't been able to reproduce this so far. based on the code I'd expect it to just work https://github.com/kubernetes-sigs/cluster-api/blob/55e92ea2e2e4311ea17d319c45c11f9218bc8380/cmd/clusterctl/client/repository/components.go#L384

[2021-11-10 13:17] sbueringer commented on #5613
@sbarikdev Your comment seems to be copied from: https://github.com/kubernetes-sigs/cluster-api/issues/5461#issuecomment-948792415 and thus doesn't make sense in the context of this issue.

[2021-11-10 13:41] sbueringer commented on #5628
Same here:
[code]

[2021-11-10 13:45] fabriziopandini commented on #5628
/remove-kind bug
/kind support

[2021-11-10 13:47] enxebre commented on #5624
/kind support

[2021-11-10 14:07] enxebre commented on #5624
/priority awaiting-more-evidence

[2021-11-10 15:43] fabriziopandini commented on #4974
/close
We will get to this only if required, but for now the current approach is the simplest both from a user PoV (all or nothing vs a bounch of if) and from the implementation PoV

[2021-11-10 15:44] fabriziopandini commented on #5019
/lifecycle frozen

[2021-11-10 16:21] fabriziopandini opened #5634 "Make CAPD support Remote Docker Server on a Cluster bases"
**User Story**

As a user I would like to use CAPD without mounting the docker socket
As a developer I would like to use CAPD without starving resources on my local machine
As a developer I would like to use CAPD to run stress tests, deploying workload clusters to a pool of machines

**Detailed Description**

CAPD today talks to a local docker socket via a volume mount.

I would like to make CAPD

[2021-11-10 16:22] fabriziopandini commented on #5634
/assign
/area provider/docker
/area testing

/milestone v1.1

[2021-11-10 16:34] oomichi commented on #5628
This seems duplicated with https://github.com/kubernetes-sigs/cluster-api/issues/5171
Is it better to concentrate on the another one by closing this issue?

[2021-11-10 16:39] jdef opened #5635 "Machine failures not propagated up to MachineDeployment.Status"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
MD.Status.Phase *may* be MachineDeploymetPhaseFailed: MD controller code indicates it's derived from MachineSet.Status.Failure{Message,Reason} but those fields aren't seemingly set if/when a Machine experiences a failure (read: Machine.Status.Failure{Message,Reason} set). So although the c

[2021-11-10 16:39] jdef commented on #5635
@dims @vincepri @fabriziopandini

[2021-11-10 16:43] yastij opened #5636 "enable setting failureDomain as part of a cluster's topology"
**User Story**

As a user would like to reference a clusterClass in a cluster, and configure the failure domain of workers in its topology, to be able to re-use ClusterClass more broadly

**Detailed Description**

Today we don't offer users the ability to configure failureDomain for the various machineDeployment that is part of a `ClusterClass` which limits a bit the re-usability. We likely also n

[2021-11-10 16:43] yastij commented on #5636
cc @fabriziopandini @CecileRobertMichon

[2021-11-10 16:45] fabriziopandini commented on #5636
/area topology
/milestone v1.1
@yastij if I got this right it is your intention to work on this, right?

[2021-11-10 16:46] vincepri commented on #5635
/milestone v1.1

[2021-11-10 16:46] fabriziopandini commented on #5636
Show we consider also failure domains for control plane machines?

[2021-11-10 16:47] fabriziopandini commented on #5623
/milestone v1.1

[2021-11-10 16:47] vincepri commented on #5636
/priority important-soon

[2021-11-10 16:52] killianmuldoon commented on #5318
@ykakarap I think I'm going to be working on this - indirectly as part of #5537 . Have you made any progress yet?

[2021-11-10 16:54] ykakarap commented on #5318
@killianmuldoon Please go ahead 👍🏼 :)
I dont think I will be able to get to this in the next few days anyway.

[2021-11-10 16:55] killianmuldoon commented on #5318
/assign

[2021-11-10 16:57] ykakarap commented on #5318
/unassign

[2021-11-10 16:59] yastij commented on #5636
@fabriziopandini - yeah, planning to work on this. As for "should we include control plane machines?" I'm not sure we want to.

The options for CP to me are:

1. not specify anything and keep today's behaviour which read from the cluster's status
2. add a failureDomain field, that might not achieve what we want as it'll colocate everything
3. add a list of failureDomains, which is a subset of what

[2021-11-10 17:03] vincepri commented on #5636
+1 to keep control plane delegated to the control plane provider

[2021-11-10 17:06] sbueringer commented on #5506
/reopen
looks like only vsphere is open: https://cs.k8s.io/?q=cluster-api%2Fblob%2Fmaster&i=nope&files=&excludeFiles=&repos=

[2021-11-10 17:09] sbueringer commented on #5634
:+1: I would take a look sooner or later

[2021-11-10 17:11] sbueringer commented on #5628
@oomichi The user in #5171 is using `clusterctl` `v0.4.1`this issue is about v1.0.0. Although the issue shouldn't occur in my opinion with clusterctl v0.4.2+ or v1.0.0.

[2021-11-10 18:02] fabriziopandini commented on #5634
some useful link
https://docs.docker.com/engine/security/protect-access/
https://www.cloudsavvyit.com/11185/how-and-why-to-use-a-remote-docker-host/

[2021-11-10 18:41] #5307 closed

[2021-11-10 19:07] vibhorrawat commented on #5455
@fabriziopandini Hi there, just an update from my end, I'm ready with the required changes for -
`/exp/addons/controllers --> /exp/addons/internal/controllers`
However, I'm yet to test the code changes locally. As of now, following the suggested testing [page](https://cluster-api.sigs.k8s.io/developer/testing.html). Hopefully, I will have something to share before end of this week. Kindly bear wit

[2021-11-10 19:36] sbueringer commented on #5455
@vibhorrawat If you want, you can also open a WIP PR and CI will run all the tests for you.

[2021-11-10 22:29] CecileRobertMichon commented on #5624
@enxebre what we're looking at doing is having granular conditions for every Azure resource (eg. "vnetReady", "loadBalancerReady", etc), and using those conditions to determine the summary ready status of the AzureCluster. However, in some situations, depending on the AzureClusterSpec, some resources don't apply. For example, I'm only going to have a bastion resource if I enable bastionHost. If we

[2021-11-10 22:30] Jont828 opened #5637 "Is the label `cluster.x-k8s.io/control-plane` still used for indicating control plane CRDs?"
I'm trying to sort resources like Machines, AzureMachines, and AzureMachineTemplates into the Worker category and ControlPlane category like in  `clusterctl describe`. The implementation of `clusterctl describe` searches for the label `cluster.x-k8s.io/control-plane: ""` on resources like Machines, but the label is not present on AzureMachineTemplates and I believe it's not present on DockerMachin

[2021-11-10 22:42] Jont828 opened #5638 "Adding UIDs to `controlPlaneRefs` and `infraStructureRefs` for Clusters"
I would like to create a lookup table for CRDs on a cluster so that when I follow the refs, I can find immediately look up the resource it refers to. I think it makes sense to use the UIDs as a the key, but I noticed all of the refs include the UID except for Cluster, which has `controlPlaneRefs` and  `infraStructureRefs` with only the name and kind. Is it possible to add the UIDs to the refs for

[2021-11-10 23:15] oomichi commented on #5628
Thank you for letting me know the difference.
I saw your comment on another issue, it would be useful to use the same issue for both `clusterctl` v0.4.1 and v1.0.0 to understand the issue still happens on newer version.

[2021-11-10 23:28] budhirajamadhav commented on #5120
Hey @fabriziopandini @sbueringer I was trying to transform the above-mentioned: ` if cluster.Spec.Topology == nil {
 	return ctrl.Result{}, nil
 } ` into a predicate.
So, since the `"sigs.k8s.io/controller-runtime/pkg/predicate"` package isn't imported in the `cluster_controller.go` file, should I import the package and write the predicate there only(inline, [here](https://github.com/kubernetes-si

[2021-11-11 02:41] ykakarap commented on #5091
@Priyankasaggu11929 Will you be able to work on this?

[2021-11-11 02:50] ykakarap commented on #5120
@budhirajamadhav You will need to add a new predicate definition in the file here: https://github.com/kubernetes-sigs/cluster-api/blob/main/util/predicates/cluster_predicates.go

In the above file define a function called `ClusterIsManagedTopology` that returns `predicate.Funcs` (refer to other predicates in the same file for an example).

The predicate should be considered true if `topology is NO

[2021-11-11 03:06] sbarikdev commented on #5628
this issue happens on my side

[2021-11-11 03:18] sbarikdev commented on #5628
sorry for adding duplicate issue, I did not see the existing issue which I should have. I am closing this issue and will track it on #5171. Sorry again for the noise.

[2021-11-11 03:19] #5628 closed

[2021-11-11 03:20] sbarikdev commented on #5171
This issue happened to my env with clusterctl v1.0.0 version also.

[2021-11-11 04:49] sbarikdev commented on #5606
Sorry for the copy pasting the text from other issue, that was not my intent. I mean to say autoscaler#3196 might be related to this issue but we might need to do more update also But i copied the text from other place which created the confusion here. I am new to k8s community and learning the things here. I will take care of such things in future or talk to the team on slack for more question/co

[2021-11-11 05:02] Priyankasaggu11929 commented on #5091
Hello @ykakarap, apologies for leaving the issue hanging. I just got stuck in too many things together. Have unassigned myself from the issue. I'll start fresh (& pick some myself). Sorry once again & thank you! :)

[2021-11-11 05:06] jayesh-srivastava commented on #5091
/assign

[2021-11-11 05:06] shivanshu1333 commented on #5091
Would like to work on it
/assign

[2021-11-11 05:09] ykakarap commented on #5091
@jayesh-srivastava @shivanshu1333 Awesome to see such interest! 🚀
I see that both of you assigned yourself to the issue. Please coordinate on who works on this. :) I dont think it really needs 2 people working on it.

[2021-11-11 05:11] jayesh-srivastava commented on #5091
Yeah I was keen to work on this so I assigned it to myself first. So if @shivanshu1333 can `unassign`, that would be great :)

[2021-11-11 05:14] shivanshu1333 commented on #5091
Sure go ahead :)
/unassign

[2021-11-11 05:14] sandipanpanda commented on #5091
@shivanshu1333 @shivanshu1333 I see that both you are already K8s Org members and have multiple previous contributions to K8s. As this  is a `good-first-issue`, I would suggest you keep this issue for someone who is a first time contributor to K8s.
That's what good first issue means, right? :wink:

[2021-11-11 05:34] budhirajamadhav commented on #5120
Ok, Thanks @ykakarap. :,)

[2021-11-11 05:43] palnabarun commented on #5091
/remove-lifecycle stale
(with all the activity on the thread)

[2021-11-11 07:38] sbueringer commented on #5171
As mentioned above and on https://github.com/kubernetes-sigs/cluster-api/issues/5628

We're not able to reproduce the issue either with v0.4.2+ or v1.0.0:

[code]

The only way I can think of that this issue can occur is if clusterctl somehow fetches and older version of the vsphere provider which I think can only happen via overrides (https://cluster-api.sigs.k8s.io/clusterctl/developers.html#cre

[2021-11-11 08:36] sbueringer commented on #5637
I think the intention of the label is to signal which Machines and InfrastructureMachines are control plane machines. I don't think we should set the label on the corresponding templates, based on where the templates are referenced. Especially as a template can be used e.g. in KCP and in a MachineDeployment at the same time.

[2021-11-11 08:39] sbueringer commented on #5638
I'm not sure we should.

My impression is that we are intentionally only using the apiVersion, kind, name and namespace fields of `ObjectReference`.

The advantage is that we don't have to reconcile all our ObjectReferences (uid is not known to users at the time when they create the resources).

[2021-11-11 09:09] killianmuldoon commented on #5606
Hi @sbarikdev welcome to the community! Don't worry about the above! :) Feel free to ask questions or join in the conversation here. When you're copying from somewhere else it's a good idea to post the link  and comment why you think it's important. You can also  put it in a quote

 By placing a '>' as the first character in a line of text.

[2021-11-11 09:46] randomvariable commented on #5606
I think that's correct. For AWS for example, to avoid the 500 QPS rate limit, we need to scale out CoreDNS quite a lot (or [even do this](https://kubernetes.io/docs/tasks/administer-cluster/nodelocaldns/))

[2021-11-11 09:50] vibhorrawat commented on #5455
@sbueringer @fabriziopandini Submitted the PR for review with [WIP] prefix. Kindly have a look whenever convenient. Besides, I will continue my effort towards testing the code changes locally.

[2021-11-11 10:37] fabriziopandini commented on #5506
it seems this is addressed now.
also, this should be tracked in vsphere then...

[2021-11-11 10:55] sbueringer commented on #5506
Yup, looks good now.

Thx @sayantani11 !

/close

[2021-11-11 10:56] #5506 closed

[2021-11-11 15:12] fabriziopandini commented on #5638
I'm personally -1 for this change, this will have undesired side effects to operations like move

We are doing this in several places in CAPI, and it is not required to have UID to do so.
/priority awaiting-more-evidences

[2021-11-11 15:20] fabriziopandini commented on #5638
@Jont828 if I got it right this is for your CAPI UX project.
Might be it makes sense we sync up and we try to convey your requirements into "sigs.k8s.io/cluster-api/cmd/clusterctl/client/tree", so there will be a single discovery library with different UX on top

[2021-11-11 15:21] fabriziopandini commented on #5637
Echoing https://github.com/kubernetes-sigs/cluster-api/issues/5638#issuecomment-966388354

/remove-kind bug
/priority awaiting-more-evidence

[2021-11-11 15:29] vincepri commented on #5637
/milestone Next

The labels is actively used on Machines that are control plane machines, you can still create a control plane without a control plane provider (like KCP). The templates though usually shouldn't have the label attached, given that's only valid on a Machine object.

[2021-11-11 15:32] fabriziopandini commented on #5624
@Jont828 @CecileRobertMichon  If you don't add the `WithConditions` option, then the summary will be computed on all the existing conditions (excluding ready). Relevant code is https://github.com/kubernetes-sigs/cluster-api/blob/fc52fe3d5cfe05d436a7d2f0ba3cf8a1399aad59/util/conditions/getter.go#L129-L153

The `WithStepCounterIf` instead controls when the conditions message will be in the form of 1

[2021-11-11 15:35] sbueringer opened #5643 "Add ClusterClass upgrade e2e test"
**User Story**

As a developer I would like to have e2e test coverage for Cluster upgrades with ClusterClass

**Detailed Description**

The idea is to have a test similar to `"When upgrading a workload cluster and testing K8S conformance"` for ClusterClass.

This might be an extension of the existing test or a new test which works very similarly.

**Anything else you would like to add:**

[Miscell

[2021-11-11 15:35] sbueringer commented on #5643
/assign

[2021-11-11 15:41] fabriziopandini commented on #5643
/area testing
/milestone v1.1

[2021-11-11 16:20] #5620 closed

[2021-11-11 18:03] Jont828 commented on #5638
@fabriziopandini Yep, that #5637 are both questions that I came up with when brainstorming ideas on discovery. Let's sync up and chat more about it soon.

[2021-11-11 20:15] vincepri commented on #4618
/close

As we're using topology for something else now

[2021-11-11 20:15] #4618 closed

[2021-11-11 20:34] vincepri commented on #5638
Having UIDs can break easily when moving a cluster, would suggest to always use names instead

[2021-11-11 22:49] srm09 commented on #5635
/assign

[2021-11-12 10:55] sbueringer opened #5648 "ClusterClass patches: Allow matching all MachineDeploymentClasses"
**User Story**

As a user I would like to be able to configure patches which apply to all MachineDeploymentClasses of a ClusterClass without listing them explicitly.

**Detailed Description**

Currently a PatchSelector only allows explicit matching:
[code]

It's cumbersome to be forced to list all MachineDeploymentClasses explicitly. Thus we want to allow the following:
[code]

This would be consi

[2021-11-12 10:57] sbueringer commented on #5648
/area topology

[2021-11-12 11:07] sbueringer opened #5649 "ClusterClass: Add documentation fields for variables and patches"
**User Story**

As a user of a ClusterClass it would be great if a ClusterClass provides additional information for patches and variables.

**Detailed Description**

One way to implement this would be to add additional fields (like `description`) to our Patch and Variable structs of the ClusterClass.

**Anything else you would like to add:**

For variables this can be implemented by introducing ad

[2021-11-12 11:08] sbueringer commented on #5649
/cc @Jont828 @vuil

[2021-11-12 15:24] enxebre commented on #5624
I see, I'm not sure we can/should provide a reasonable abstraction for providers but rather may be agreeing and documenting some best practices?

As a general patter I think it'd make sense for a provider to:
- Set all relevant conditions (spec check here) to false/unknown.
- Check current state of the world. Set each condition as true where appropriate.
- Call SetSummary so it uses all existing c

[2021-11-12 15:25] sbueringer opened #5652 "Flaky ifshort linter"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

We have multiple reports that golangci-lint sometimes shows a finding that the nolint is not required in this case:
[code]

I've never seen this in CI, all currently known occurrences were on MacOS.

I think the problem is that ifshort doesn't report this as a finding on every run and thu

[2021-11-12 15:25] sbueringer commented on #5652
/assign

[2021-11-12 15:55] fabriziopandini commented on #5652
/milestone v1.1

[2021-11-12 15:58] enxebre commented on #5562
I think the uses cases described above are to make machines behave more like pets which does not align with the main machineSet/machineDeployment design and assumptions.

For such static use cases where you need fixed names and more control you could create single Machines resources with well known names and no upper level owner controller. Would this satisfy the needs? Furthermore, nothing would

[2021-11-12 16:06] fabriziopandini commented on #5624
Please note that this comes with a disadvantage, because if an external controller adds a Condition to your object, then the semantic of your ready condition gets altered; `WithConditions` solve this pinning the semantic of your ready condition to a well know set of conditions.

[2021-11-12 16:09] fabriziopandini commented on #5648
/milestone v1.1
Putting in the milestone, but this is really a nice to have

[2021-11-12 17:50] omniproc commented on #5562
Can you point me to any documentation explaining how to implement such an ad-hoc controller?

I agree that it somewhat goes the pets way but keep the re-deploy case in mind which *is* a cattle approach. Given a cluster breaks for some reasonI want to redeploy it and once it's ready have it the same way the old cluster way. From the k8s perspective no assumptions are made regarding any *name* of a

[2021-11-12 17:58] sbueringer commented on #5652
Opened an issue here: https://github.com/esimonov/ifshort/issues/23

Currently ifshort reports the issue most of the time, which is why our nolint is okay. Sometimes the issue is not reported and then the nolint linter fails. I'll change the way we ignore the finding until the ifshort issues is resolved.

[2021-11-12 18:51] enxebre commented on #5562
To make sure my feedback is useful for you and that we are on the same page: the issue you have is by using scalable resources i.e MachineSet/MachineDeployment which generate the Machine names dynamically.

Now, nothing would prevent you from creating a single Machine CR with the name of your choice which it'll be set as the hostname e.g in vSphere as pointed in https://github.com/kubernetes-sigs/

[2021-11-12 20:01] dthorsen opened #5658 "Support external scalers for infrastructure managed by a MachinePool"
**User Story**

As a cluster operator, I would like to have the option to utilize external scaling applications for autoscaling infrastructure managed under a MachinePool so that we can take advantage of the capabilities of existing infrastructure scaling tools if we chose.

**Detailed Description**

There are many potential scaler implementations that support things like AWS ASG and Azure VMSS. W

[2021-11-12 20:02] dthorsen commented on #5658
/assign

[2021-11-12 20:14] dthorsen commented on #5658
Related issue with more history and discussion: https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2022

[2021-11-12 23:31] omniproc commented on #5562
@enxebre I wasn't aware creating a Machine directly is possible with CAPV so I didn't know that's an option. If it's really that easy to directly access the Machine ressource shim provided by CAPV, which should be VSphereMachine, then that probably would do the trick for my use case.

Still I think there's more to it. If you look through the issues you'll notice ppl. asking for a feature to contro

[2021-11-14 17:08] #5478 closed

[2021-11-15 09:29] sbueringer commented on #4621
/remove-lifecycle stale

[2021-11-15 10:27] mkumatag opened #5661 "clusterctl delete fails if version present in the provider string"
**What steps did you take and what happened:**

[code]

but the cluster does contain the aws infrastructure provider installed

[code]

[code]

**What did you expect to happen:**

Expect command to be find the aws provider and delete the same

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version: main(c

[2021-11-15 10:29] mkumatag commented on #5661
/assign

[2021-11-15 12:34] fabriziopandini commented on #5097
/close
this has to be fixed in CAPO

[2021-11-15 12:34] #5097 closed

[2021-11-15 14:12] fabriziopandini commented on #5532
Q:  should we close this issue given that there are more detailed one for MHC, autoscaler, CRS?

[2021-11-15 14:19] fabriziopandini commented on #5577
@sbueringer should we close this and eventually reconsider if the need arise?

[2021-11-15 14:22] fabriziopandini commented on #5599
/milestone v1.1

[2021-11-15 14:23] fabriziopandini commented on #5621
/milestone v1.1

[2021-11-15 14:26] fabriziopandini commented on #5613
/milestone v1.1

[2021-11-15 14:26] fabriziopandini commented on #5612
/milestone v1.1

[2021-11-15 14:27] fabriziopandini commented on #5578
/milestone v1.1

[2021-11-15 14:28] sbueringer commented on #5203
Fine for me

[2021-11-15 14:28] sbueringer commented on #5577
Yup
/close

[2021-11-15 14:28] #5577 closed

[2021-11-15 14:36] #5621 closed

[2021-11-15 15:44] #5652 closed

[2021-11-15 17:40] enxebre commented on #5562
Hey @omniproc

If you restore from a backup all names will be honoured and so they will honour hostname as well. Correct?

So in a perfect k8s world I'd agree. But in the infrastructure stack below reality is often different. Currently providers can't control the hostname since it's generated by CAPI as far as I understand.

I think scalable resources are designed to treat machines are "cattle" an

[2021-11-15 20:16] Arvinderpal opened #5666 "Machine Controller FailureDomain handling is inconsistent with KCP"
KCP and Machine controller are inconsistent in their handling of FalureDomains (FDs).

KCP [picks an FD](https://github.com/kubernetes-sigs/cluster-api/blob/fc480622663ae4117ad94a912c51e31df78591db/controlplane/kubeadm/internal/control_plane.go#L98) from Cluster.Status.FailureDomains and [puts it in](https://github.com/kubernetes-sigs/cluster-api/blob/58905fb5140a7844c3e24aa70d255fb8f9d0c491/contr

[2021-11-15 20:16] Arvinderpal commented on #5666
/assign

[2021-11-15 20:20] Arvinderpal commented on #5666
@vincepri @detiber I'd be happy to put out a PR for this. Just want to make sure I'm not overlooking anything - can you confirm that that Machine Controller should follow the same approach as KCP.
Thank you

[2021-11-15 20:47] Arvinderpal opened #5667 "Improve FailureDomain handling in CAPI"
**User Story**

As a user/operator of a non-cloud provider cluster (e.g. baremetal), I would like CAPI to label Nodes with the [well-known label](https://kubernetes.io/docs/reference/labels-annotations-taints/#topologykubernetesiozone) that corresponds to the failuredomain that was selected by CAPI.

As a user/operator I would like to have more control over how CAPI balances my control-plane and w

[2021-11-15 20:56] Arvinderpal commented on #5667
@vincepri @fabriziopandini @enxebre @elmiko
I'm sure some or all of these points have been brought up before, but I could not find an issue on failuredomains that documented them. Perhaps we can use this issue to discuss the scope of failuredomains going forward.
Your thoughts are much appreciated.

[2021-11-15 22:51] vincepri commented on #5667
This seems a good addition, for cloud providers it might be redundant information given that there should already be labels to that effect

cc @CecileRobertMichon @fabriziopandini @enxebre
/milestone v1.1

[2021-11-16 06:07] #5005 closed

[2021-11-16 08:32] kashifest opened #5672 "KCP Controller complains about Failed to watch *v1.PartialObjectMetadata: unknown"
When we provision a cluster with one KCP the logs of KCP has the following error in almost every reconcile:

`E1115 13:06:15.103368       1 reflector.go:138] pkg/mod/k8s.io/client-go@v0.22.2/tools/cache/reflector.go:167: Failed to watch *v1.PartialObjectMetadata: unknown`

This has started to come in the logs of KCP possibly from CAPI v1alpha4 and it has continued in v1beta1. The possible culprit

[2021-11-16 08:34] kashifest commented on #5672
/kind bug
/area control-plane

[2021-11-16 08:34] kashifest commented on #5672
/assign @kashifest

[2021-11-16 08:56] fmuyassarov commented on #5672
Seems a RBAC rule related to `customresourcedefinitions` was added in https://github.com/kubernetes-sigs/cluster-api/commit/408f30bada3e2994f93ea1dddd468682f8e63bcb.
Perhaps @sbueringer has some thoughts on this?

[2021-11-16 09:12] slintes commented on #3106
Hi folks, any thoughts on what Joel wrote above?
While we implemented (but didn't merge yet) the `failedNodeStartupTimeout` in Openshift first, we would like to know if the upstream community would accept the feature as described as well, in order to not diverge too much. Thanks :)

[2021-11-16 09:14] fabriziopandini opened #5673 "Allow using a ClusterClass across namespaces"
**User Story**

As a user/operator I would like to define ClusterClass once and reuse it across many namespaces
As a user/operator I would like to define the namespaces my ClusterClass can be used from

**Detailed Description**

As of today ClusterClass is a namespaced object, and the Cluster.spec.topology.class is a simple name

This works well under some many circumstances,  but this approach do

[2021-11-16 09:15] fabriziopandini commented on #5673
/area topology
/milestone v1.1

[2021-11-16 10:27] fabriziopandini commented on #5673
NOTE: I'm assuming a ClusterClass and its referenced templates should be in a single namespace as of today; the Cluster only can be in a different namespace

[2021-11-16 10:58] sbueringer commented on #5672
@fmuyassarov I'll respond on the PR to avoid having two parallel discussions: https://github.com/kubernetes-sigs/cluster-api/pull/5675#discussion_r750136258

[2021-11-16 11:25] killianmuldoon commented on #5532
@fabriziopandini I think we probably can given this issue isn't attracting much in the way of comments. I'm in agreement on your points above. I'm going to do a prototype PR for MHC as laid out in the [proposal ](https://github.com/kubernetes-sigs/cluster-api/pull/5511) PR.

Other components, and the ClusterResourceSets, don't cleanly fit into the same bucket as MHC so we should think of another a

[2021-11-16 11:32] sbueringer opened #5676 "Deploy Provider CRs during tilt up"
**User Story**

As a developer I would like `tilt up` to result in a dev environment which is as compatible as possible with one set up via `clusterctl init`

**Detailed Description**

The biggest gap is that `tilt up` currently does not deploy the `Provider` CRDs and CRs.

The CRDs can be generated via: `kustomize build cmd/clusterctl/config/crd`

A `Provider` CR looks like this:
[code]

I think

[2021-11-16 11:33] sbueringer commented on #5676
/cc @fabriziopandini @randomvariable

[2021-11-16 11:34] sbueringer commented on #5676
/area testing

[2021-11-16 11:45] sbueringer opened #5677 "Speed up e2e test execution when using an existing cluster"
**User Story**

As a developer I would like to be able to run and develop e2e tests with an existing cluster with the shortest possible feedback loop.

**Detailed Description**

Context:
* e2e tests can be run locally as documented here: https://cluster-api.sigs.k8s.io/developer/testing.html#running-the-end-to-end-tests-locally

When running the e2e tests locally in the default case the test will

[2021-11-16 11:45] sbueringer commented on #5677
/cc @fabriziopandini @randomvariable

[2021-11-16 12:39] omniproc commented on #5562
Well the hole point of using CAPI is to have  cattle / reproducable / re-deployable infra-stack, isn't it? So if you argue "use backup" I'd argue we already had that before CAPI. Maybe it's just me but all this discussion is about which attributes can/should change between redeployments and which can't / shouldn't. I see use-cases were you want to keep the hostname and I don't think "restore from

[2021-11-16 12:40] sbueringer opened #5678 "Drop topology managed fields from KubeadmControlPlaneTemplate"
**User Story**

As a user it would be nice if I don't have to specify fields in KubeadmControlPlaneTemplate which are not used and on the KubeadmControlPlane managed by the Cluster topology controller.

**Detailed Description**

The following fields in KCPTemplate are currently unused (some of them have to be set because of the webhook):
* .spec.template.spec.machineTemplate.infrastructureRef
* .s

[2021-11-16 12:40] sbueringer commented on #5678
/cc @fabriziopandini @randomvariable

[2021-11-16 12:47] sbueringer commented on #5678
/area control-plane

[2021-11-16 12:51] fabriziopandini commented on #5456
@vincepri  @enxebre @CecileRobertMichon @sbueringer any objection about closing this now?
I think that the initial steps for using the sub-area approach has been completed, the contributor guide updated, so now we can reconsider add OWNERS file case by case when the need arise

[2021-11-16 13:10] sbueringer commented on #4896
/reopen

Just reopening for a short discussion instead of creating a new issue. (we just had this discussion somewhere again).

`MachineDeploymentUpgradesSpec` and `MachinePoolSpec` have been refactored.

I wonder if we should deprecate `KCPUpgradeSpec` given that the same can be achieved with `ClusterUpgradeConformanceSpec` by:
* adding a new `ControlPlaneMachineCount` field to `ClusterUpgradeCon

[2021-11-16 13:30] sbueringer commented on #5673
`clusterctl move` currently moves an entire namespace. Because up until now Clusters and their ClusterClasses had to be in the same namespace we could just move all Clusters and ClusterClasses of the respective namespaces (but of course in the right order).

The feature that ClusterClasses can be in another namespace changes our assumptions, so we have to think about how `clusterctl move` should b

[2021-11-16 14:34] kaitoii11 commented on #5455
If there aren't any takers, is it okay if I also work on  `/test/infrastructure/docker/exp/controllers --> /test/infrastructure/docker/exp/internal/controllers` ?

[2021-11-16 14:35] fabriziopandini commented on #5677
I'm generally +1, however in the workflow above we should account for an additional step to create the local repository

/milestone Next
Given that this doesn't have a real dependency on a release, but the sooner, the better

[2021-11-16 14:44] elmiko commented on #5667
+1 to using the well know label for this, the autoscaler is already of aware of that label and takes it into account when the user has specified `--balance-similar-node-groups` for the autoscaler.

[2021-11-16 14:53] enxebre commented on #5667
As noted by Vince this should be already the case for environments with a cloud provider https://kubernetes.io/docs/reference/labels-annotations-taints/#topologykubernetesiozone

If we do this it might be part of https://github.com/kubernetes-sigs/cluster-api/issues/493.

[2021-11-16 14:55] fabriziopandini commented on #5678
+1 from my side, but this should follow deprecation rules.
That's means that we can make all the work (refactor types etc.), but the field should remain there with a deprecation notice

/milestone v1.1
/remove-kind feature
/kind api-change

[2021-11-16 14:56] sbueringer commented on #5455
@kaitoii11 Yup!

[2021-11-16 14:59] fabriziopandini commented on #5676
I'm +1 to try to make this implemented deferring all the infos from the manifests, like are are already doing for manager name (and possibly avoid to parse manifest twice)
WRT to the version, we can have a fallback version and apply it the value we get from the manifest is not a valid version.

[2021-11-16 14:59] fabriziopandini commented on #5676
/milestone Next
Given that this is not strictly linked to a release, but the sooner, the better

[2021-11-16 16:13] sandipanpanda opened #5682 "Webhook is misspelt in defaulting.go file"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

Spelling of `webhook` in defaulting.go file is wrong, it is `webook`.
Part needed to be updated: https://github.com/kubernetes-sigs/cluster-api/blob/ad965df37984cab5342be3c6320f85005f44f931/util/defaulting/defaulting.go#L17

**What did you expect to happen:**

**Anything else you would li

[2021-11-16 16:36] vincepri commented on #5682
/milestone v1.1

[2021-11-16 17:01] sbueringer commented on #5682
@sandipanpanda Feel free to open a PR, if you want.

[2021-11-16 17:45] CecileRobertMichon commented on #4896
for cloud providers that take more time to create Machines (ie. not Docker) it can be very time-consuming to roll out the whole cluster in the tests.

if we make both ControlPlaneMachineCount and WorkerMachineCount configurable with the current values as defaults that would work. Someone could theoretically set worker count to 0 to recreate the same test and mitigate the above.

[2021-11-16 18:03] CecileRobertMichon commented on #3106
Just read the issue to catch up on context. @JoelSpeed's proposal seems useful for the specific use case he describes above, ie. "If using a machine is backed by an AWS spot instance, except the maximum spot price is too low for the current price, it will fail to launch", but it doesn't seem to solve the original use case described in the issue, ie. the idea of a "global terminal failure" where no

[2021-11-16 20:02] CecileRobertMichon commented on #5624
Opened https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1868 to track changes needed in CAPZ

we can close this one since no changes are required in CAPI for now
/close

[2021-11-16 20:03] #5624 closed

[2021-11-16 20:13] enxebre commented on #5562
hey @omniproc I didn't meant restore from a backup as a solution to the problem, I mistakenly understood that's what you were doing in the  context of your re-deploying scenario :)

Sure, I'm just trying to gather as much feedback as possible to understand the problems and challenges being faced in this scenario to figure and discuss the best angle to approach them and to weight the level of suppo

[2021-11-16 20:27] omniproc commented on #5562
I see. No, I'm not doing stuff like *that* :-)

I'm definitly in favour of this since I believe many issues are related to bootstrapping and unnecessarily coupled with kubeadm which currently seems to be 'abused' as tool to exec shell commands for pretty much everything.
If it would be more loosely coupled, possibly with a way to extend and even override what happens during bootstrap that would be

[2021-11-16 20:37] omniproc commented on #3430
I just wanted to drop that Jinja templating is not exclusive for cloud-init. You can use it to template whatever you like. All you need is a working Jinja install and a Jinja formatted template.
So if you want to unify the bootstrap process but still allow two different bootstrap techs, cloud-init and ignition, using a single templateing engine unrelated to those bootstrappers might be a way to de

[2021-11-16 20:41] sbueringer commented on #4896
Sounds good to me!

[2021-11-16 21:26] Jont828 commented on #5637
Gotcha, thanks for letting me know. I synced with Fabrizio and I'll look into the clusterctl discovery service a bit more.

[2021-11-16 21:26] #5637 closed

[2021-11-16 21:27] Jont828 commented on #5638
Okay that makes sense. I synced with Fabrizio and I'll look into the clusterctl discovery service and see what it's doing.

[2021-11-16 21:27] #5638 closed

[2021-11-16 21:38] sbueringer opened #5686 "Stop using full CRD list as a fallback to get ObjectMetadata for UpdateReferenceAPIContract"
**Detailed Description**

Context: We automatically update references in CAPI to newer versions if there is a newer version with the same contract for a CRD.
Example: The MachineSet controller automatically updates references to a InfrastructureMachineTemplate if there is a newer apiVersion for the InfrastructureMachineTemplate which complies to the same CAPI contract.

This functionality is imple

[2021-11-16 21:39] #5672 closed

[2021-11-16 21:42] sbueringer commented on #5686
/cc @fabriziopandini @vincepri @CecileRobertMichon @enxebre

[2021-11-17 08:55] sbueringer commented on #5456
+1 for closing this issue

@enxebre A follow-up for this point would be nice.

[2021-11-17 09:49] fabriziopandini commented on #5436
https://github.com/kubernetes/kubernetes/pull/105706 is merged
adding release blocking because we want o be sure to be aligned to Kubernetes before releasing
/kind release-blocking

[2021-11-17 10:21] fabriziopandini commented on #5456
/close
let's open other issues to track additional onboarding efforts

[2021-11-17 10:21] #5456 closed

[2021-11-17 10:33] enxebre commented on #5456
@sbueringer let me draft something and I'll create a follow up issue

[2021-11-17 13:43] sbueringer commented on #5566
I would propose adding an `enabledIf` field to the `ClusterClassPatch` struct. It would looks like this

[code]

It would use ~ the same value/valueFrom structure as we have for JSONPatch values (I think it's nicely consistent that way)

[2021-11-17 13:44] sbueringer commented on #5566
@vuil @fabriziopandini @vincepri Thoughts?

[2021-11-17 14:21] sandipanpanda commented on #5682
This issue is fixed in #5683
/close

[2021-11-17 14:21] #5682 closed

[2021-11-17 16:27] fabriziopandini commented on #5566
+1
I assume value, valueFrom.variable and valueFrom.Template are mutually exclusive

[2021-11-17 16:46] mihalycsokas opened #5693 "Option for configuring High Availability"
**User Story**

As an operator I would like to use high availability for meeting such customer needs.

**Detailed Description**

Such needs can be fulfilled by raising replicas in controller-manager deployment.
The clusterctl should have an extra parameter that can be used at initiation time, e.g. clusterctl init -i someprovider --controller-manager-replicas 3

**Anything else you would like to ad

[2021-11-17 16:46] fabriziopandini commented on #5686
+1, but we should discuss this with providers implementers at the office hours and understand how this forcing function impacts on them in order to figure out how fast this can be rolled out

[2021-11-17 18:27] CecileRobertMichon commented on #5636
+1

[2021-11-17 18:31] sbueringer commented on #5686
Result from the CAPI meeting today:

Tasks:
* v1.1:
    * [ ] Let's use an API reader for the fallback (to avoid memory issues)

* In general:
    * [ ] Add the CRD name restriction to the contract
    * [ ] Verify known providers manually or create issues in provider repos, so they can audit their CRDs
    * [ ] clusterctl should emit a warning (with the hint that support will be dropped in a fut

[2021-11-17 19:44] sbueringer commented on #5566
Hm we could also drastically simplify it if enabledIf is just a template:

hardcoded:
[code]

variable usage:
[code]

more advanced templating:
[code]

[2021-11-17 20:41] #5120 closed

[2021-11-17 20:46] vincepri commented on #5566
I do prefer the approach of having `enabledIf` to be a template and always expecting to return true/false

[2021-11-18 01:43] pradipd opened #5695 "Occasionally it takes 15 minutes for control plane to transition to running"
**What steps did you take and what happened:**
When bringing up a cluster, we are noticing that the machines.cluster.x-k8s.io CR (which represents the control plane) will occasionally take 15 minutes to transition from Provisioning to Running.
We have our own CAP-Provider and a corresponding cloud provider POD.

**What did you expect to happen:**
The machine to transition to Running once the node

[2021-11-18 01:48] pradipd commented on #5695
capi logs and provider logs are https://gist.github.com/pradipd/99fff894cd95ae8bf094a91f48a4f0f8

I'm curious if there is a timing issue between when the cloud provider sets the provider id on the node and when we run func (r *MachineReconciler) reconcile and/or func (r *MachineReconciler) nodeToMachine,

[2021-11-18 09:35] sbueringer commented on #5566
To clarify. Do you specifically mean that the result of the template always has to be `true` or `false` and otherwise we should return an error?

If we instead enable the patch if the template returns `true` and disable it otherwise it simplifies the templates, e.g.:
* true / otherwise logic
[code]
* true / false logic
[code]
(of course we would return an error if the template doesn't render at al

[2021-11-18 09:36] dharmjit commented on #5466
Hi @sbueringer, Submitted this Draft #5697 PR, Could you please let me know how could I backport this for v1alph4 and to start with unit tests/integration tests for the same.
I had manually tested it
[code]

[2021-11-18 09:56] sbueringer commented on #5466
@dharmjit Sure, let's continue on the PR to avoid two parallel discussions.

[2021-11-18 10:28] randomvariable commented on #5008
/assign @sonasingh46

[2021-11-18 13:21] fabriziopandini commented on #5008
@sonasingh46 if you want, you can assign yourself to the issue (this should work also if you are not an org member yet)

[2021-11-18 13:34] killianmuldoon commented on #5673
Would it be more user friendly to change class to a struct with name and namespace(defaulting to cluster namespace if unset? This would mirror what we're doing elsewhere at least and avoids adding new patterns which might be confusing - I think making it a namespaced name  could be tough for new users to understand
.

[2021-11-18 13:38] killianmuldoon opened #5699 "Add spec comparison to topology integration tests"
As a developer I would like to validate the impact of complex clusterClass operations such as updating the clusterClass or moving a cluster from one clusterclass to another.

**Detailed Description**
Tests in the https://github.com/kubernetes-sigs/cluster-api/blob/main/controllers/topology/cluster_controller_test.go file test the full reconciliation loop for managed topologies, but the tests curre

[2021-11-18 13:38] fabriziopandini commented on #5695
I'm not sure what is going on but most of the delay is between this two lines
[code]
Where the controllers are apparently idle
This and the fact that the error happens occasionally makes me wondering if there is something ongoing at a different level, might be networking, but I don't have elements to prove or deny this theory

/priority awaiting-more-evidence

[2021-11-18 13:39] sbueringer commented on #5673
I think you both mean the same thing: `types.NamespacedName`:
https://github.com/kubernetes/apimachinery/blob/master/pkg/types/namespacedname.go#L27-L30

[2021-11-18 13:53] killianmuldoon commented on #5673
That looks right - I was thinking class: "namespace/classname" was on the table as an option.

[2021-11-18 16:55] killianmuldoon commented on #5699
/assign

[2021-11-18 17:29] pradipd commented on #5695
What would I look for?  the connectivity seems fine.  And, if there were connectivity issues, it would not manifest itself in the same way.  Usually network connectivity issues will effect other components as well.  E..g kubeadm join would be flakey.

My guess was that it was in our cloud provider.  Specifically in the instances implementation.

[2021-11-18 17:40] CecileRobertMichon commented on #5695
@pradipd I'm curious, did you attempt to repro this with the latest v0.4 patch? I noticed you're using v0.4.2. Probably not related but worth the try. Otherwise, I think it's likely that this has something to do with your cloud provider taking a long time to set the node's provider ID. Since CAPI controllers have exponential backoff, it's possible that it tried and failed many times to get the pro

[2021-11-18 18:18] ykakarap commented on #5673
/assign

[2021-11-18 18:31] vincepri commented on #5673
`class: "namespace/classname"` this could make sense as it's not a breaking change

[2021-11-19 00:05] sedefsavas opened #5704 "[e2e] Use different K8s version with each ClusterctlUpgrade e2e call"
In `ClusterctlUpgrade` e2e test, independent of the `clusterctl` version specified with `INIT_WITH_BINARY`, we can only specify a single K8s version (`INIT_WITH_KUBERNETES_VERSION`) for the cluster.

More specifically, providers might call ClusterctlUpgrade to test both v1alpha3-->v1beta1 test and v1alpha4-->v1beta1 upgrade, but both calls use the same K8s version specified with `INIT_WITH_KUBERNE

[2021-11-19 00:06] sedefsavas commented on #5704
/kind feature

[2021-11-19 05:41] pradipd commented on #5695
I have not tried the latest v0.4 patch.
I was also thinking it had to do with the cloud provider.  We have implemented the instances interface, but, I don't really see what could be intermittently going wrong.  I was wondering if there is some timing issue between when the cloud provider starts.  Perhaps the node is ready, but the cloud provider is taking a while to start so it doesn't set the pro

[2021-11-19 09:46] killianmuldoon opened #5705 "Review and update staging use cases doc"
The doc at https://github.com/kubernetes-sigs/cluster-api/blob/main/docs/staging-use-cases.md was last updated in 2019. It is linked from the main cluster api README and goes through a number of use cases / user stories for using the project.

Given how long ago the last update was, and issues that have been pointed out in the doc (e.g. https://github.com/kubernetes-sigs/cluster-api/pull/5702/file

[2021-11-19 09:57] fabriziopandini commented on #4537
/lifecycle frozen
Finally managed to reproduce
/assign

[2021-11-19 10:11] fabriziopandini commented on #5705
/milestone v1.1
/kind documentation

[2021-11-19 10:30] sbueringer commented on #5704
+1

[2021-11-19 10:30] sbueringer commented on #5704
/area testing

[2021-11-19 10:57] sbueringer commented on #5677
I've added a step just if someone else read it later.

[2021-11-19 11:00] sbueringer commented on #5677
Note: The flag can of course also be used in combination with  (https://cluster-api.sigs.k8s.io/clusterctl/developers.html#create-the-local-repository)

[2021-11-19 11:47] sbueringer opened #5709 "Log panics with current log context during reconcile"
**User Story**

As a operator it would be great if ClusterAPI automatically recovers panics from reconciles and logs the panic instead of failing entirely.

**Detailed Description**

Currently, if there is a panic in a CAPI controller the whole controller fails / shuts down. This means that if there is a problem with the reconciliation of an individual resource the whole controller fails and becom

[2021-11-19 11:51] sbueringer commented on #5709
@fabriziopandini @vincepri @randomvariable Opinions?

[2021-11-19 13:30] kaitoii11 commented on #5599
/assign

[2021-11-19 13:30] killianmuldoon commented on #5599
Thanks @kaitoii11 let me know if you need any help with this. 😃

[2021-11-19 14:33] sbueringer commented on #5677
/assign

[2021-11-19 18:26] CecileRobertMichon commented on #5695
yes it's a manager flag https://github.com/kubernetes-sigs/cluster-api/blob/main/main.go#L163

actually looks like the default is 10mn, not 15. Keep in mind that if you lower it, that will cause your controller to reconcile more often, even if nothing has changed, which might not be desirable. It might be better to try to investigate why it's taking a long time for the provider ID to be set.

[2021-11-19 18:49] pradipd commented on #5695
We will definitely continue to try and root cause this.  changing the default is merely a workaround for developers that have to wait 15 minutes for their cluster to come up before they can do work.

In the logs provided, it does look like the providerid is set at the beginning of that 15 minute wait.  I'll have to keep poking around.

[2021-11-19 20:31] #4537 closed

[2021-11-21 17:46] #4450 closed

[2021-11-22 10:12] sonasingh46 commented on #5008
/assign sonasingh46

[2021-11-22 12:09] #5677 closed

[2021-11-22 13:18] #5318 closed

[2021-11-22 15:49] #5676 closed

[2021-11-22 16:09] #5643 closed

[2021-11-22 16:41] Arvinderpal commented on #5667
@enxebre While this could get roped in with #493, I think there is simpler solution. CABPK could append the label to the join/init configs. If the user has specified FailureDomains, Machine.Spec.FailureDomain should already be set by the time we get to CABPK. If this field is set, it will insert the well-known label for the kubelet.

The zone label is one of specifically allowed labels in the kube

[2021-11-22 17:03] #5599 closed

[2021-11-22 17:48] killianmuldoon commented on #5673
note: #5717 adds some namespacing to webhook validation for clusterClass that will have to be addressed as part of this work.

[2021-11-22 22:42] avirekghatia commented on #3279
Hi, I want to take this up and I will assign it to myself because no one else seems to be assigned. Thanks and please let me know if any issues.

[2021-11-22 22:43] avirekghatia commented on #3279
/assign

[2021-11-23 10:10] fabriziopandini commented on #3279
@avirekghatia thanks for volonteering. please sync up with the kubeadm efforts as well.
Please also note, that in CAPI we support a wide range of Kubernetes versions, so it is required to find out a solution that works with both old and new labels

[2021-11-23 12:19] killianmuldoon opened #5719 "Add list by index to ClusterClass webhook"
The ClusterClass webhook  in PR #5717 lists all clusters and then cycles through them to find those using the clusterClass being validated. Instead the ClusterClass webhook should use index.ClusterClassNameField to pull the correct clusters directly.

This workflow is currently blocked as it requires envtest to test the indices. fakeClient does not populate indices  like index.ClusterClassNameFiel

[2021-11-23 12:45] sbueringer commented on #5719
/area topology
I'll open the issue to remove the circular dependency ASAP

[2021-11-23 13:19] fabriziopandini commented on #5719
/milestone v1.1

[2021-11-23 14:10] sbueringer opened #5721 "Enable envtest-based unit tests for webhooks"
**User Story**

As a developer I would like to be able to write unit tests with envtest for our webhooks.

Note: In case of webhooks the fakeclient unit tests have (at least) the following limitations:
* The webhooks cannot use indices (as that's not supported by fakeclient)
* There is no marshalling/unmarshalling of Go types and no OpenAPI schema validation of the kube-apiserver as we directly ca

[2021-11-23 14:10] sbueringer commented on #5721
Note: https://github.com/kubernetes-sigs/cluster-api/issues/5719 depends on this issue

[2021-11-23 14:10] sbueringer commented on #5721
@fabriziopandini WDYT?

[2021-11-23 14:26] sbueringer commented on #5721
Just realized that the idea might sound good in theory, but that we have way too many api packages. So we still would have to call 6 setup funcs whenever we use `SetupWebhooks`. I'll come up with an alternative approach

[2021-11-23 18:24] sbueringer commented on #5721
PR #5722 represents a potential solution by refactoring the envtest package.

I've discussed the issue with Fabrizio and we would simply implement the webhooks integration test in a package like internal/webhooks/integration instead of refactoring envtest like proposed in the PR.

The problem with the changes proposed in the PR is that it distributes the webhook setup all over the place vs. curren

[2021-11-24 05:09] pradipd commented on #5695
I spent some time debugging this and I think I have an idea of the timing issue.
1. The providerID is set on the InfrastructureRef object (in our case this is AzureStackHciCluster).
2. (r *MachineReconciler) reconcile() runs.  It does *not* start the node watcher because the ControlPlaneInitialized is not set on the cluster yet.
3. (r *MachineReconciler) reconcileInfrastructure() finds the provide

[2021-11-24 07:12] mkumatag opened #5724 "Flaky test: TestBootstrapTokenRotationMachinePool"
**What steps did you take and what happened:**
While testing the https://github.com/kubernetes-sigs/cluster-api/pull/5662, we have seen this test flaking, report can be found [here](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api/5662/pull-cluster-api-test-main/1463398081641844736)

[code]

Seen sometime in the past as well: https://storage.googleapis.com/k8

[2021-11-24 07:13] mkumatag commented on #5724
/kind flake

[2021-11-24 08:01] sbueringer commented on #5695
Question about 1. did you mean a machine or really `AzureStackHciCluster`?

I wonder why it takes so long to set the providerID on the node. Afaik this should be way faster and is the responsibility of the cloud controller manager. I'm not sure if we should start patching the providerID into node objects. If I remember correctly the OpenStack CCM sets the provider ID pretty much instantly, I would

[2021-11-24 08:16] pradipd commented on #5695
For 1, I mean AzureStackHciCluster, which is the infrastructureRef in the  machine
When do you start your CCM?  do you start it as a static POD?
Currently, we take our time deploying the CCM POD.   Perhaps we need to install sooner.

[2021-11-24 08:27] sbueringer commented on #5695
So the InfrastructureMachine is actually a Cluster? :) (Obviously, but it's interesting as that's usually a `*Machine` resource)

Ah that maybe explains it. IIRC it's deployed via a ClusterResourceSet pretty much as soon as the APIserver is available, but I'm not 100% sure about that.

[2021-11-24 08:34] pradipd commented on #5695
Ah. I see.  You are correct.  It is actually a AzureStackHCI*Machine*.  that probably make more sense.

[2021-11-24 10:12] #5498 closed

[2021-11-24 11:40] fabriziopandini commented on #5724
/milestone v1.1

@mkumatag do you want to give it a go at this?

[2021-11-24 12:01] mkumatag commented on #5724
may need some time to understand the testcase, can give it a try :)

[2021-11-24 16:11] sbueringer opened #5730 "Publish CAPD cluster-template with ClusterClass"
**User Story**

As a user I would like to be able to easily setup a Cluster with CAPD and ClusterClass.

**Detailed Description**

The idea is to be able to use the regular CAPD quickstart with a cluster template with ClusterClass (+/- a different flavor).

Currently we only have the `development` flavor which sets up a  Cluster without ClusterClass.

**Anything else you would like to add:**

Task

[2021-11-24 16:12] enxebre commented on #5724
/area testing

[2021-11-24 16:42] vladimirvivien commented on #4897
/remove-lifecycle stale

Keeping this open if it's still relevant.

[2021-11-24 17:32] fabriziopandini commented on #5730
/milestone v1.1

[2021-11-25 10:32] mkumatag commented on #5724
This is happening because the validation is comparing the expiration TTL with the TTL calculated based on the time.Now() + TTL, this may produce inconsistent results because there is always a lag between the token rotation in the reconcile method and the test case(this happens when the lag is more than a second).

So the best way to fix this issue is to check that token expiry is between the just

[2021-11-25 11:58] #5612 closed

[2021-11-25 16:29] fabriziopandini opened #5736 "clusterctl on main seems to not respect anymore the log level"
**What steps did you take and what happened:**
run clusterctl commands, eg. `clusterctl describe cluster` and got some unexpected log lines (No default config file available)

[code]

It seems that somehow, clustectl now does not respect anymore the log level

**What did you expect to happen:**
clusterctl to print additional log lines only when -v flag is used

**Environment:**

- Cluster-api vers

[2021-11-26 00:17] mkumatag opened #5738 "Misleading error message for clusterctl init"
**What steps did you take and what happened:**
1. Install the core and infra providers:
[code]
2. Installed providers
[code]
3. Try installing same infra provider in a different namespace
[code]

In the above error message it says `there is already an instance of the "infrastructure-aws" provider installed in the "something-else" namespace` which is false because this infra provider is installed i

[2021-11-26 00:18] mkumatag commented on #5738
/area clusterctl

[2021-11-26 00:27] mkumatag commented on #5738
/assign

[2021-11-26 00:27] mkumatag commented on #5724
/assign

[2021-11-26 01:38] mkumatag commented on #5736
looking into this issue

/assign

[2021-11-26 08:59] jonyhy96 commented on #4183
Hi! if there is any plan to moved away from Ginkgo for k/k?

[2021-11-26 10:49] kaitoii11 commented on #5569
/assign

[2021-11-26 16:03] timoreimann commented on #5586
We had the exact same need as @jdef to bump the timeout, though for slightly different reasons: the control plane of one of our CAPI-managed clusters was under a certain amount of extensive load that happened to be too large for the underlying VM to sustain. The solution we aimed for was to rolling-update the control plane to bigger instances. However, the existing load made it incredibly hard for

[2021-11-28 17:56] jayunit100 commented on #5357
after about 2 hours of grepping and googling, i just realized this :) what is the current workaround ?

[2021-11-28 17:59] jayunit100 commented on #5357
yes silently ignoreing the flag is fine - imo as a user :) i have a selfish motivation for this

[2021-11-29 05:03] vincepri commented on #5124
/lifecycle frozen

[2021-11-29 05:09] vincepri commented on #5357
@fabriziopandini might know more, but AFAIK today all configuration options have been compatible with each Kubeadm/Kubernetes version.

That could be a potential solution, although translating only some options to CLI flags still requires Cluster API to be aware of which Kubernetes version a flag is supported in.

Silently ignoring flags isn't ideal, we should try to warn users as much as possible

[2021-11-29 05:21] vincepri commented on #5586
Let's do it :)

[2021-11-29 05:31] vincepri commented on #4810
/close

[2021-11-29 05:31] #4810 closed

[2021-11-29 07:03] #5736 closed

[2021-11-29 07:17] fabriziopandini commented on #5738
/milestone v1.1

[2021-11-29 07:23] fabriziopandini commented on #5586
+1 from my side
@timoreimann let me know if I can help to get this addressed ([here](https://github.com/kubernetes-sigs/cluster-api/issues/5586#issuecomment-961375833) some hints about point 2 of Vince's suggestion)

[2021-11-29 07:27] #5738 closed

[2021-11-29 13:59] sbueringer commented on #5576
Note: we're now on a pre-release version (a commit from main after beta 0) of CR. Let's keep this issue open until we use a v0.11.x CR release.

[2021-11-29 16:03] #5724 closed

[2021-11-29 21:38] killianmuldoon opened #5753 "Reduce detail in ClusterClass proposal validation"
The [clusterClass proposal](https://github.com/kubernetes-sigs/cluster-api/blob/main/docs/proposals/202105256-cluster-class-and-managed-topologies.md ) contains a lot of detailed information about the valid rules for ClusterClass and managed topology related fields.

 These validation rules have been updated regularly to take into account issues discovered during testing and new features in Cluste

[2021-11-29 21:38] killianmuldoon commented on #5753
/assign

[2021-11-29 21:42] killianmuldoon opened #5754 "Ensure Cluster variable order is maintained through webhooks"
The ClusterClass defaulting webhook #5612 does not guarantee that variables are set on the Cluster in the same order as users supplied them when the Cluster goes through defaulting.

In order to improve the UX Cluster variables should be set in a defined order and user variables should keep the order set by the end user.

/area topology

[2021-11-30 08:29] sbueringer opened #5755 "Implement `fmt.Stringer` interface with value receiver"
Follow-up to: https://github.com/kubernetes-sigs/cluster-api/pull/5751#discussion_r758661985

It seems like the String func should always be implemented with a value receiver. That way it works independent of if the type (in this example `TemplateRef`) is a pointer or not. I tested it with ~ `fmt.Sprintf("%s %s", &api.TemplateRef{..}, api.TemplateRef{..}`.

`TemplateRef` has already been fixed in

[2021-11-30 08:31] sbueringer commented on #5754
:+1:

I would suggest the following order:
* All existing variables on the Cluster are kept in the same order as they already are
* All newly added/defaulted variables are appended in the order in which they occur on the ClusterClass

[2021-11-30 08:36] sbueringer commented on #5753
/kind documentation

[2021-11-30 09:22] fabriziopandini commented on #5753
/milestone v1.1

[2021-11-30 09:23] fabriziopandini commented on #5753
I think the same apply to the behavior sections, where we can replace detailed sequence of steps with a "meta" list or a diagram

[2021-11-30 09:24] fabriziopandini commented on #5754
/kind feature
/milestone v1.1

[2021-11-30 14:39] fabriziopandini opened #5758 "Implement safeguard validation in the topology controller"
**Detailed Description**
We recently added extensive validation for ClusterClass and Cluster topologies.

As an additional safeguard, we should now add the following check in the topology controller for:
- Check variable values against the schema defined in the ClusterClass, and more specifically
   - TBD if to default missing variables according to schema
   - Fail if a variable value does not co

[2021-11-30 14:55] sbueringer commented on #5758
I think we should decide this based on what would be the least surprising behavior for users. And to be honest I'm not sure which one it is. I lean towards starting with the `CRD` way of doing things and **only** defaulting on Cluster create/update and possible adding defaulting during reconciliation later on.
The only thing I wouldn't want to do is default the variables locally and *don't* write

[2021-11-30 17:59] pradipd commented on #5695
Is there a doc that describes the ordering of events?
I've read https://cluster-api.sigs.k8s.io/developer/architecture/controllers/control-plane.html and I can see what each compoent is reponsbile for, but, i think there needs to be some ordering.
Specifically, I think that the controlplaneinitialized on the cluster needs to happen before the instrastructureMachine sets the providerID.

[2021-11-30 18:26] sbueringer opened #5760 "Ensure we don't reconcile templates which are not topology owned"
We currently have checks in place which make sure that we never reconcile InfrastructureClusters and ControlPlanes of a classy Clusters which are not topology owned (detected by the label):
https://github.com/kubernetes-sigs/cluster-api/blob/fc2bbbb74867f79e37de24ea70719fd095de6f66/controllers/topology/current_state.go#L99-L104

I think we should do the same for the ControlPlane InfrastructureMach

[2021-11-30 18:58] fabriziopandini commented on #5760
/milestone v1.1

[2021-11-30 19:36] sbueringer commented on #4580
Fixed in https://github.com/kubernetes-sigs/cluster-api/pull/5228

/close

[2021-11-30 19:36] #4580 closed

[2021-12-01 00:52] CecileRobertMichon commented on #5695
@enxebre do you have any thoughts on this one? Asking because it seems related to https://github.com/kubernetes-sigs/cluster-api/pull/4947

[2021-12-01 07:55] fabriziopandini commented on #4896
+1 to have flags that makes this test configurable
we can use machine counts but also simple boolean flags to decide which tasks to perform: e.g
- I want (i have) to deploy 1 CP node. but I don't want to upgrade it
- I don't  want to run the conformance tests

[2021-12-01 14:37] #5613 closed

[2021-12-01 14:50] fabriziopandini opened #5768 "Run clusterclass quick-start as PR informing"
As a maintainer I would like to have a quick signal on how changes impacts on ClusterClass, so ti would be great to have clusterclass quick-start job running as PR informing

I can see two options to achieve this:
1. creating a new prow job similar to pull-cluster-api-e2e-ipv6-main
2. renaming pull-cluster-api-e2e-ipv6-main into pull-cluster-api-e2e-informing-main and running all the jobs with a n

[2021-12-01 14:52] killianmuldoon opened #5769 "Default MHC fields defined in a ClusterClass"
There is an open PR to include MachineHealthCheck in the ClusterClass proposal #5125 .

The MHC spec in a ClusterClass, according to the proposal would allow an empty MachineHealthCheck to be added to the ClusterClass and sensible defaults would be added to the object before it is created. This issue covers issues related to defaulting including:

1. Which fields should be defaulted and to what va

[2021-12-01 14:58] sbueringer commented on #5769
/area topology

[2021-12-01 15:00] killianmuldoon opened #5770 "MachineHealthCheck overriding"
There is an open PR to include MachineHealthCheck in the ClusterClass proposal #5125 .

The proposal allows users to set either:

* A global MachineHealthCheck: a MachineHealthCheck for each Machine linked to a MachineDeployment in the Cluster and a MachineHealthCheck for ControlPlane Machines if defined.
          **OR**
* An individual MachineHealthCheck for the ControlPlane MachineInfrastructur

[2021-12-01 15:10] sbueringer commented on #5768
+1 overall

I'm also in favor of 2. with a tag like `[PR-informing]` (cf. `[PR-blocking]`)

The problem right now is that the IPv6 job is run in a way that the ClusterClass quickstart also **has to** run with IPv6. (https://github.com/kubernetes/test-infra/blob/243d30eaed8045b4ab39d4d72abcc3dcdea92de7/config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-main.yaml#L185-L190)
I would reall

[2021-12-01 15:15] sbueringer commented on #5768
I overlooked that we're also creating the bootstrap cluster with IPv6. I'm not sure if this is necessary to create an IPv6 workload cluster though.

If it is, our only option is to have a separate job.

[2021-12-01 15:17] sbueringer commented on #5770
Note: Depending on how we decide to implement defaulting the defaulting could interact in interesting ways with the override logic.

[2021-12-01 15:23] fabriziopandini commented on #5768
I would explore if creating an ipv4 workload cluster from an ipv6 management cluster works

[2021-12-01 16:07] vincepri commented on #5661
/milestone v1.1

[2021-12-01 17:19] fabriziopandini commented on #5346
@DiptoChakrabarty do you want to pick up also
- `--disable-no-echo` (default false) should be deprecated in favour of `--echo` (default false)

This should be ~same as your work in #5550

[2021-12-01 17:53] DiptoChakrabarty commented on #5346
yes I want to work on it

[2021-12-01 20:48] srm09 commented on #5483
Hey @sbarikdev any movement on this one? I have been seeing this issue pop up in a couple of downstream scenarios and would love the CAPI fix instead of bandaging the fixes in the provider.

[2021-12-01 21:12] pradipd commented on #5695
Just  wanted to confirm 1 thing:
Are you setting the providerid for the control plane in cloud-init or through the cloud-provider?

[2021-12-01 21:17] pradipd commented on #5695
Also, just to be clear, i think this is an issue with just the 1st control plane node. For any subsequent node, the node watcher works well.
However, for the first control plane, it looks like there is a subtle issue between when we set the providerID on the infrastructure machine, when the cluster moves to controlplaneinitialized, and when the providerID is set on the node.

[2021-12-02 01:34] CecileRobertMichon commented on #5695
For Azure, cloud-provider-azure is responsible for setting the node provider ID.

Just to make sure, I created a cluster in Azure with no cloud-provider. Nodes came up fine, but didn't have a providerID. CAPI logs show:
[code]
This loops until 01:20:
[code]

Then, I deployed the cloud-provider on the cluster (`mcr.microsoft.com/oss/kubernetes/azure-cloud-controller-manager:v1.0.1` and `mcr.microso

[2021-12-02 06:14] ykakarap commented on #5673
Thanks for the heads up @killianmuldoon! :)

[2021-12-02 08:09] ykakarap commented on #5768
I am also +1 to option 2 if we workload ipv4 works with management ipv6.

Since we are already doing this in e2e-full for other tests like `Conformance` and `K8s-Upgrade` I think we should be okay with doing the same with a new tag like `IPV6`.

[2021-12-02 08:43] sbueringer commented on #5768
Yup. But maybe we want to just run it too in e2e-full. I wouldn't be opposed to it (if we get it to work :))

[2021-12-02 11:03] #5661 closed

[2021-12-02 11:07] fabriziopandini commented on #5768
I was only considering using management cluster ipv6 with ipv4 workload cluster for the PR-informing (and keep e2e-full as it is).
TBH, we can also expore using ipv6 for the cluster class test if ^^

[2021-12-02 11:17] #4896 closed

[2021-12-02 12:04] sbueringer commented on #5768
Do you mean ipv4 managed with ipv6 workload?

I was just thinking that we get better signal if each of those fails on it's own, i.e. the ClusterClass gives us a clean signal without introducing potential errors from IPv6.

[2021-12-02 12:37] fabriziopandini commented on #5768
Taking a step back:
- the intent of this issue is to get ClusterClass test as PR informing
- ideally, we should get a single PR informing job, and in order to do so it is required to get IPV6 informing e ClusterClass informing to run together (and currently this test have management cluster IPV6 and workload cluster IPV6; open to any idea on how to add the clusterclass test on top of this)
- any c

[2021-12-02 14:58] #4178 closed

[2021-12-02 15:01] sbueringer opened #5776 "ClusterClass patches/variables: JSON `null` value does not work as expected with kubectl client-side apply"
### Overview

Currently, we support nullable variables. This means that in the variable schema `nullable` can be set and then the corresponding variable on the Cluster can be also set to `null`.

Setting `null` as variable value works as expected. But setting `null` in `openAPIV3Schema.Default` and `jsonPatch.Value` doesn't work, i.e. setting them to `null` is treated the same way as not setting t

[2021-12-02 15:13] fabriziopandini commented on #5776
/milestone v1.1

I'm +1 for option1; unexpected behaviors when using plain kubectl apply could be very surprising for the users; also the alternative seems very clean and user friendly to me: if you don't want to set a value for a variable, just drop the variable from cluster.spec.variables (if the schema allows this).

[2021-12-02 15:15] killianmuldoon commented on #5776
+1 for this unless there's some use case for a null variable it doesn't make sense to go out of our way to support it.

[2021-12-02 15:15] sbueringer commented on #5776
/cc @vincepri

[2021-12-02 20:22] sbueringer commented on #5776
As if the behavior of the top-level nullable isn't already bad enough. Just tried if nested nullable fields would work. Result is that the `null` is not even set on initial create

Just tested it. It doesn’t even set the nested null value on create:

local YAML:
[code]
YAML in Kubernetes:
[code]
kubectl debugger JSON merge patch: (on later applies)
[code]

[2021-12-02 21:39] #5776 closed

[2021-12-03 09:36] sbueringer commented on #5346
/reopen
Given that there is more to do.

[2021-12-03 09:39] superbrothers opened #5783 "minReadySeconds for kubeadmControlPlane"
**User Story**

As a user, I would like to use minReadySeconds for kubeadmControlPlane for making the rollout of ControlPlane nodes safer.

**Detailed Description**

MachineDeployment has `minReadySeconds`, but KubeadmControlPlane does not.

In our cluster, there are times when a node needs to be rebooted after it joins the cluster, for example due to a device firmware update, and we want a  perio

[2021-12-03 09:40] sbueringer commented on #5783
/area control-plane
/cc @randomvariable

[2021-12-03 10:59] sbueringer commented on #5566
PR ready for review now: https://github.com/kubernetes-sigs/cluster-api/pull/5694

[2021-12-03 11:23] fabriziopandini commented on #5483
/kind release-blocking
I'm adding release-blocking because It will be great to get this solved in the 1.1 release

[2021-12-03 12:05] itspngu commented on #5606
Following up on this, it seems that using [`preferredDuringSchedulingIgnoredDuringExecution` has been discussed](https://github.com/kubernetes/kubeadm/issues/1931) and they likely want to [externalize CoreDNS](https://github.com/kubernetes/kubeadm/issues/1931#issuecomment-857908220) entirely, eventually, so the corresponding issue regarding the node selection policy has been closed. I'll proceed w

[2021-12-03 15:49] itspngu commented on #5606
I can't for the life of me figure out how to implement the `skipPhases` workaround. It's not part of the `KubeadmControlPlane` or `KubeadmConfig{Template}` specs, and server side validation fails accordingly:

[code]

After digging through the CAPI CRD definitions, the corresponding kubeadm commit enabling skips, and even the generated cloud-init config I circled back to Github and all I could fin

[2021-12-03 16:31] Arvinderpal commented on #493
We've had some good discussions in the google doc. I would like to ask folks that have shown interest in pushing this proposal forward to please take a look at the doc again.

In particular, we are leaning towards introducing a new field -- `MD.spec.template.NodeLifecycle.Labels` -- in which users can place arbitrary (restricted or unrestricted) labels and CAPI keeps those labels in sync. While th

[2021-12-03 19:07] #4572 closed

[2021-12-03 20:36] #5466 closed

[2021-12-03 22:26] #5566 closed

[2021-12-06 02:34] vincepri commented on #493
Thanks @Arvinderpal, I gave it a review and it's looking good so far. We should talk about it at the next office hours as well, and proceed with a full proposal

[2021-12-06 02:40] vincepri commented on #5783
/milestone v1.1

This sound like a great addition, how would we go about tracking the time from the last rollout?

[2021-12-06 02:48] #5586 closed

[2021-12-06 09:26] sbueringer commented on #4620
/reopen

[2021-12-06 11:28] fabriziopandini commented on #5769
my 2 cents.
- There must not be any different default rules/behaviors between a topology-owned MHC and a user-created MHC. they should be identical.
- Corollary: MHC defaulting must be a responsibility of the MHC webhook.
- Topology controller, when reconciling a topology-owned MHC must enforce ClusterName, Selector, and the values specifically defined in the ClusterClass (and not everything else)

[2021-12-06 11:28] fabriziopandini commented on #5769
/milestone v1.1

[2021-12-06 12:48] fabriziopandini commented on #5758
/close
in favour of https://github.com/kubernetes-sigs/cluster-api/issues/5623

[2021-12-06 12:48] #5758 closed

[2021-12-06 12:51] fabriziopandini commented on #5461
@killianmuldoon can we close this issue now that the work on Cluster/ClusterClass web hook is completed?

[2021-12-06 12:53] fabriziopandini commented on #5460
@sbueringer @killianmuldoon  can we close this issue now that patch are merged and the web hook work is completed?

[2021-12-06 12:54] killianmuldoon commented on #5461
I think the variable validation issue is the last outstanding piece of work here. Let's close it when we close #5752 (I've added a Fixes tag on that PR)

[2021-12-06 12:55] killianmuldoon commented on #5460
#5752 is still outstanding here - let's close this issue once that one is merged.

[2021-12-06 12:55] fabriziopandini commented on #5537
/close
given that no objection were raised, the first implementation has been completed according to the proposal thus introducing a ordering between operation on a ClusterClass and Clusters using that one

[2021-12-06 12:55] #5537 closed

[2021-12-06 12:58] fabriziopandini commented on #5447
/area topology
/close

This has been fixed by https://github.com/kubernetes-sigs/cluster-api/pull/5582

[2021-12-06 12:58] #5447 closed

[2021-12-06 13:02] fabriziopandini commented on #5203
/close
As per comment above

[2021-12-06 13:02] #5203 closed

[2021-12-06 13:04] sbueringer opened #5793 "Housekeeping tasks for Kubernetes v1.23"
Let's upgrade to Kubernetes v1.23.

### Tasks

* Make sure we're using a controller-runtime version which uses v1.23: will be done in https://github.com/kubernetes-sigs/cluster-api/issues/5576
* [x] Upgrade testing & CAPD for Kubernetes v1.23:
    * docker.yaml, kind_provider.go, docker/Dockerfile, docker/machine.go, docker/examples/*
* [x] Update testgrid for Kubernetes v1.23
    * cluster-api-pe

[2021-12-06 13:06] fabriziopandini commented on #4916
@alexander-demichev any objection to close this now that the work is being moved in a separated repo?

[2021-12-06 13:07] fabriziopandini commented on #5133
@alexander-demichev any objection to closing this now that the work is being moved in a separated repo?

[2021-12-06 13:07] fabriziopandini commented on #5132
@alexander-demichev any objection to closing this now that the work is being moved in a separated repo?

[2021-12-06 13:07] fabriziopandini commented on #4642
@alexander-demichev any objection to closing this now that the work is being moved in a separated repo?

[2021-12-06 13:09] sbueringer commented on #5793
@fabriziopandini Can you check if I missed anything? (P.S. I intentionally didn't document minor changes in Jobs like changing the tab names)

[2021-12-06 13:11] sbueringer commented on #5460
I'll close the issue once Killians PR is merged and I'll create a follow-up low-prio issue for advanced template validation.

[2021-12-06 13:16] alexander-demichev commented on #4642
👍
/close

[2021-12-06 13:16] alexander-demichev commented on #5132
👍
/close

[2021-12-06 13:16] alexander-demichev commented on #4916
👍
/close

[2021-12-06 13:16] fabriziopandini commented on #5578
Let's consider also surfacing a derived variable called ipfamily

[2021-12-06 13:16] #4642 closed

[2021-12-06 13:16] #5132 closed

[2021-12-06 13:16] #4916 closed

[2021-12-06 14:40] fabriziopandini commented on #5436
/assign

[2021-12-06 15:26] sbueringer commented on #5436
@fabriziopandini Q: (as also stated in https://github.com/kubernetes-sigs/cluster-api/issues/5793):

Supported etcd version on main is v3.5.1 for v1.23 and v1.22. (https://github.com/kubernetes/kubernetes/blob/v1.23.0-rc.1/cmd/kubeadm/app/constants/constants.go). The latest v1.22.4 release still has v3.5.0. Which version should we use for our v1.22 installations?

[2021-12-06 15:27] sbueringer commented on #5436
Based on https://github.com/kubernetes-sigs/cluster-api/pull/5797 I would assume we also use v3.5.1 for 1.22?

[2021-12-06 15:34] fabriziopandini commented on #5793
Seems ok to me

[2021-12-06 15:43] Prajyot-Parab commented on #5574
@fabriziopandini I am working on something similar, will be happy to contribute on this one.

/assign @Prajyot-Parab

[2021-12-06 16:29] jayunit100 opened #5799 "Should we have a data model for "PrivateClusters""
**User Story**

As an CAPZ user or CAPA or ... user, I want my cluster to have a definitional constraint that makes it private or public .

**Detailed Description**

Looking at  the code in cluster-api-provider-azure, we can see that theres *stuff* that interprets the cluster network specification...

[code]

**Anything else you would like to add:**

I guess first pass here would be to:
- look at

[2021-12-06 16:29] jayunit100 commented on #5799
cc @lubronzhan might be interested?

[2021-12-06 17:41] sbueringer commented on #5793
I've opened both PRs. Should be ready to go once Kubernetes 1.23 has been released.

[2021-12-06 18:16] sbueringer commented on #5768
/assign

[2021-12-06 19:48] ykakarap commented on #5447
@fabriziopandini Thanks for closing this :)

[2021-12-06 20:14] sbueringer commented on #5730
/assign

[2021-12-06 20:14] sbueringer commented on #5678
/assign

[2021-12-06 21:12] fabriziopandini commented on #5574
/unassign @mrajashree

[2021-12-07 09:33] tasos71 opened #5807 "capi cannot provision nodes"
**What steps did you take and what happened:**

I am trying to deploy a cluster (k8s version 1.17.3 and ubuntu 19.10) and I am facing the issue below

NAME                                                                                READY  SEVERITY  REASON            SINCE  MESSAGE
/capi-quickstart                                                                    False  Warning   ScalingUp

[2021-12-07 11:14] #5461 closed

[2021-12-07 12:48] sbueringer opened #5809 "ClusterClass patches: advanced template validation"
Currently, we have basic template validation for `valueFrom.template` and `enabledIf`, i.e. we make sure that they can be parsed by the Go template lib (https://github.com/kubernetes-sigs/cluster-api/blob/534bae8b6161a3e1d676c1c1cfc17ec87979b911/internal/webhooks/patch_validation.go#L96-L113).

Goal of this issue is to discuss and possibly implement an extension of this validation.

One idea would

[2021-12-07 13:04] sbueringer commented on #5460
Killian's PR has been merged. I created a separate issue to track https://github.com/kubernetes-sigs/cluster-api/issues/5809.

So this issue can be closed.

Great job everyone!

/close

[2021-12-07 13:05] #5460 closed

[2021-12-07 13:18] sbueringer commented on #5721
We're now implementing the first integration tests in `internal/webhooks/test`.

I'm not sure if we should keep this issue around for further discussions or close it for now.

@fabriziopandini @killianmuldoon WDYT?

[2021-12-07 13:26] killianmuldoon commented on #5721
I think we close this discussion for now - if it comes up again we can open a new issue, but for the webhook case we have something that works for now.

[2021-12-07 13:28] sbueringer commented on #5721
/close

[2021-12-07 13:28] #5721 closed

[2021-12-07 13:31] fabriziopandini opened #5811 "Topology reconcile should manage field removal in an intuitive way"
**User Story**

As a user/operator I would like to have a predictable and intuitive behavior of managed objects

**Detailed Description**

The topology controller relies on a two-way merge patch to reconcile desired and current state of managed objects.

This works nicely and intuitively when a field gets added to a template, but in case a field is removed the behavior is far less intuitive becaus

[2021-12-07 13:31] fabriziopandini commented on #5811
@sbueringer to add more color if necessary
/assign

[2021-12-07 13:31] fabriziopandini commented on #5811
/lifecycle active

[2021-12-07 13:33] sbueringer commented on #5811
Sounds very concise and complete to me

[2021-12-07 14:56] gab-satchi opened #5814 "A deleted Machine can block cluster initialization indefinitely (flake)"
**What steps did you take and what happened:**
- We found a cluster that was stuck initializing the first control plane.
- The kubeadmConfig for the machine was in a loop with `"A control plane is already being initialized, requeing until control plane is ready"`
- Looking at the configMap holding the init lock for that cluster, we found a machine that no longer exists.

The theory is the lock fai

[2021-12-07 15:43] vincepri commented on #5814
/assign @killianmuldoon
Let's investigate if the lock removal is not re-entrant

/milestone v1.1

[2021-12-07 16:37] fabriziopandini commented on #5809
/milestone v1.1
I would like to get a little bit more understanding of how templates are used before investing in more advanced validation.
Also, we should consider alternatives like the clusterctl tooling, think e.g. dry-run to provide support for more complex use cases.

[2021-12-07 22:52] k8s-triage-robot opened #5816 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-08 04:25] justaugustus commented on #5816
Thank you for creating a SECURITY_CONTACTS file. Please `/close` the issue.
/close

[2021-12-08 04:25] #5816 closed

[2021-12-08 07:37] pradipd commented on #5695
Thiis is great! Thank you for doing that experiment.  I will try and do the same.
However, changing the sync period has worked out very well.
As soon as I'm done fighting all my fires, I'll come back to this and see if I can figure out where the difference is.

Is there anyway to tell what caused the reconcile loop to run?  Is it always a timer that causes the reconcile loop to run?  or does it al

[2021-12-08 08:53] namnx228 opened #5818 "clarify how clusterctl overrides works"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
`clusterctl upgrade plan | apply` ignores the overrides repository and fetch the metadata.yaml file from upstream.
Here is my overrides structure:
[code]
clusterctl.yaml:
[code]
and this is the debug message from `clusterctl upgrade plan`:
[code]
If the metal3 infrastructure provider metad

[2021-12-08 08:53] namnx228 commented on #5818
/area upgrades

[2021-12-08 09:38] sbueringer commented on #5818
I think the clusterctl.yaml has to contain something like this:
[code]

[2021-12-08 09:44] sbueringer commented on #5695
The machine reconciler is triggered at least by:
* Machine events
* Cluster events
* [After ControlPlaneInitialized is true] workload cluster node events
(~ `For` and all the `Watch`es here: https://github.com/kubernetes-sigs/cluster-api/blob/8e2369e1bdc6ee0620332a76becdbc80eba4b918/controllers/machine_controller.go#L90-L125)

There are also some predicates which filter out events, but I don't thi

[2021-12-08 09:48] namnx228 commented on #5818
@sbueringer I expect it works even when we don't have the provider field in the `clusterctl.yaml`. With clusterctl <=v1.0.0, it uses the metadata.yaml from overrides repository without the provider field.
One thing I should add is that `clusterctl init` in my case still use the overrides repository, so only `clusterctl upgrade` has this issue.

[2021-12-08 09:52] sbueringer commented on #5818
Ah okay, I wasn't aware of that. Let's see what other folks which know more about clusterctl say

[2021-12-08 10:39] sbueringer opened #5820 "Make dev kind cluster name configurable"
Currently, we're hard-coding `capi-test` as kind cluster name in the following places:
* hack/tools/tilt-prepare/main.go
* hack/kind-install-for-capd.sh

It might be good to make that configurable, e.g. via a `CAPI_KIND_CLUSTER_NAME` env var.

/kind feature

[2021-12-08 12:08] DiptoChakrabarty commented on #5755
hey @sbueringer I would like to try this , I want to send PR with this one first https://github.com/kubernetes-sigs/cluster-api/blob/faffa2c609dc399a6c06596a64db179709f88f8c/controllers/noderefutil/providerid.go#L94-L98

As I can understand I need to pointer receiver to value receiver perform any modifications in the codebase if required.

[2021-12-08 12:31] chrischdi commented on #1477
/reopen

I'd like to reopen here for discussion.
We just released our solution for this metrics problem: https://github.com/daimler/cluster-api-state-metrics

We are already using it internally and it published it with the target to enter the discussion here with the published code (because it is easier to talk about code which is readable by everyone) and if this would be a sufficient solution.

[2021-12-08 12:36] killianmuldoon commented on #1477
/area health

[2021-12-08 13:09] randomvariable commented on #5814
For a hint on reproducability, create X number of workload clusters simultaneously above the controller concurrency limit. The issue was reported when CAPV was being used. Would be interesting to see if it can be reproduced using CAPD.

[2021-12-08 13:36] DiptoChakrabarty commented on #5820
@sbueringer where is the first file that is /hack/tools/tilt-prepare/main.go  in this repository , sorry I am unable to find it. I have done the second one for this, would like to work on this.

/assign

[2021-12-08 14:29] #5346 closed

[2021-12-08 14:35] #5793 closed

[2021-12-08 14:36] sbueringer commented on #5346
I think the only thing potentially left is `TBD support clusterctl describe clusterclass`, but maybe that should be another issue?

[2021-12-08 15:01] killianmuldoon commented on #5814
I can't seem to reproduce on CAPD as described - I've got the concurrency limits for clusters, machines and kubeadmbootstrap set to 1 (and a couple of combinations of them set and unset) and I'm able to initialize 10 cluster control planes simultaneously (though it's heating the room nicely 😄 )

[2021-12-08 15:04] sbueringer commented on #5820
Should be there after https://github.com/kubernetes-sigs/cluster-api/pull/5785 has been merged

[2021-12-08 15:07] sbueringer commented on #5755
Exactly, although I wouldn't expect that there are modifications necessary as you can call a method without handling if the object is a pointer or not because Go does it automatically behind the scenes.

[2021-12-08 15:29] #5730 closed

[2021-12-08 15:35] sbueringer commented on #5793
P.S. for 1.24 we can probably use this issue as template + the two corresponding PRs

[2021-12-08 16:18] vincepri commented on #5755
Is there a linter we can use here?

[2021-12-08 16:20] vincepri commented on #5755
@sbueringer Could you also try with `%v` instead? Forcing all String() methods to be value receivers and not pointer also comes at a (struct copy) cost that it's not visible to callers.

[2021-12-08 16:37] sbueringer commented on #5755
@vincepri https://go.dev/play/p/gNt_CTprzGD

[2021-12-08 16:49] sbueringer commented on #5755
[code]

[code]

Not sure if it's a good way to benchmark it

[2021-12-08 16:55] sbueringer commented on #5755
Pointer seems to get slower with bigger structs (?)
[code]
[code]

[2021-12-08 18:02] fabriziopandini commented on #5649
I'm +1 for Description + Example, 0- for External Docs mostly because it introduce a new struct

[2021-12-08 18:08] sbueringer commented on #5649
Agree. I would add Description and Example

[2021-12-08 18:17] invidian opened #5823 "Set default value for bootstrap secret format to cloud-init"
**Detailed Description**

As discussed in [#4172](https://github.com/kubernetes-sigs/cluster-api/pull/4172/files#r764995622), right now we set `format` field in bootstrap secret to empty value. We should set it via webhook to `cloud-init` explicitly.

**Anything else you would like to add:**

[Miscellaneous information that will assist in solving the issue.]

/kind feature

[2021-12-08 18:22] sbueringer commented on #5823
/area bootstrap
/kind release-blocking

[2021-12-08 18:23] sbueringer commented on #5823
I assume we want to default the `Format` field on KCP / KubeadmConfig and KubeadmConfigTemplate, right?

[2021-12-08 18:34] killianmuldoon commented on #5814
I haven't been able to reproduce the flake - but there is no unlocking mechanism for the ControlPlaneInitMutex if a machine is deleted - I've been able to reproduce that locally and put a fix into the locking mechanism to check if the exiting lock is  valid in #5824

 @gab-satchi do you have some way to reproduce this flake?

[2021-12-08 19:41] #5649 closed

[2021-12-08 19:46] sbueringer commented on #5754
Has been fixed as part of https://github.com/kubernetes-sigs/cluster-api/pull/5779 as I had to refactor the defaulting logic there anyway.
/close

[2021-12-08 19:46] #5754 closed

[2021-12-08 19:53] #3430 closed

[2021-12-08 22:25] #4380 closed

[2021-12-08 22:53] k8s-triage-robot opened #5826 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-08 22:55] CecileRobertMichon commented on #5695
In this case it's also watching the node objects (https://github.com/kubernetes-sigs/cluster-api/blob/8e2369e1bdc6ee0620332a76becdbc80eba4b918/controllers/machine_controller.go#L673) so I'm pretty sure it was queued because the Node Spec changed when the cloud provider set the provider ID.

[2021-12-08 23:01] pradipd commented on #5695
But watchClusterNodes is only started if the control plane is initilized: https://github.com/kubernetes-sigs/cluster-api/blob/8e2369e1bdc6ee0620332a76becdbc80eba4b918/controllers/machine_controller.go#L237

[2021-12-08 23:04] pradipd commented on #5695
So, control plane had to become initialized.  we then reconcile the machine, then kick off the node watcher, then update the Node Spec with provider ID.

[2021-12-08 23:58] stmcginnis commented on #4419
/close

This has been addressed by the upgrade of golangci-lint to 1.43.0. The updated linters used by that version include checks for `ioutil` usage.

[2021-12-09 03:01] justaugustus commented on #5826
This issue may have been opened in error due to a bug in the logic for discovering SECURITY_CONTACTS files.
For more information, please see this notice to [kubernetes-dev](https://groups.google.com/g/kubernetes-dev/c/yFlPFIYJCt8).

As this has [re]opened multiple issues across Kubernetes orgs, I will not attempt to answer comments on individual issues.
Feel free to reply to the linked kubernetes-

[2021-12-09 03:01] #5826 closed

[2021-12-09 08:32] sbueringer commented on #4419
@stmcginnis I tried to reproduce but I couldn't.

I added the following to `main.go`:
[code]

Which linter should have detected that? Maybe it's somehow not enabled/excluded in our config?

/reopen
(for the moment)

[2021-12-09 08:33] namnx228 commented on #5818
cc @fabriziopandini

[2021-12-09 09:23] sbueringer opened #5831 "ClusterClass: schema validation of Default, Enum, Example"
Currently, we only validate that `Default`, `Enum` and `Example` (in `JSONSchemaProps`) are valid JSON. We don't validate that they comply to the schema.

Goal of this issue is to discuss if we also want to validate those fields.

In my opinion, the most important field of those is `Default`. If `Default` does not comply to the schema and a variable is defaulted, the resulting Cluster will automat

[2021-12-09 09:28] sbueringer commented on #5831
I personally think we should do it as it makes ClusterClasses safer to use and I don't expect performance issues.

I don't think it has to be release blocking but it would be nice to have and it should be possible to implement it until the release.

[2021-12-09 10:05] killianmuldoon commented on #5831
/assign

I can take this up

[2021-12-09 10:42] superbrothers commented on #5783
How about using `preflightChecks` function to check if all nodes associated with all control plane machines are available using `IsNodeAvailable` function?

https://github.com/kubernetes-sigs/cluster-api/blob/89db44e9a462028267ed49295359fe9db2a6a10a/controlplane/kubeadm/controllers/scale.go#L155-L163

https://github.com/kubernetes-sigs/cluster-api/blob/30ae87d0fd95a11c83e3b721f81b9f1963a0baf3/cont

[2021-12-09 11:45] killianmuldoon commented on #5831
@sbueringer I have a PR that does this and validates example / enums and defaults up now.

As far as I understand defaulting was already validated, and it's validated recursively so we'll need to remove that function  - it does a bunch of stuff that seems to be CRD specific rather than relevant for our objects.  - [here's the call](https://github.com/kubernetes-sigs/cluster-api/blob/199d229248771b

[2021-12-09 13:21] sbueringer commented on #5831
Agree it looks like they are already validated. I'm not sure if we should drop the call. It seems to do additional stuff, but I"m not sure if that's a problem. I'll take a closer look later and comment on the PR

[2021-12-09 13:22] #5678 closed

[2021-12-09 14:13] fabriziopandini opened #5836 "Docker less CAPD 😜"
**User Story**

As a developer, I would like to have a docker less dev env for CAPI
As a maintainer, I would like to run E2E tests without being required to use docker

**Detailed Description**

This is a follow-up of 1. Docker license model changes and 2. Kubernetes removing docker shim from kubelet

Using docker both locally and in CI is getting "complex", so we should start considering options

[2021-12-09 14:29] fabriziopandini commented on #5836
Also https://github.com/kubernetes-sigs/cluster-api/issues/5634 can be related

/milestone Next
/area testing
/area provider/docker

[2021-12-09 14:54] adisky commented on #5836
would like to explore on making CAPD work with CRI (containerd) with the little knowledge i have on CRI/containerd And also use this as an opportunity to learn about cluster API, essentially i can focus on

[2021-12-09 15:09] sbueringer commented on #5836
It would be great if we can keep using the same underlying "container provider" for the dev env, local test execution and in CI/Prow.

I think otherwise we will run into problems if there are too much differences between those environments.

(I'm not sure if the issue already states that it should also be possible to run the new thing in CI/Prow)

[2021-12-09 15:21] stmcginnis commented on #4419
/assign

[2021-12-09 15:55] dims commented on #5836
/assign @adisky

:)

[2021-12-09 19:20] #5768 closed

[2021-12-09 21:20] stmcginnis commented on #4419
My mistake closing this. The other repos where I'm using golangci-lint had additional groups enabled for the `gocritic` linter that picked up the `ioutil` usage. We did not have the right groups enabled in cluster-api, so proposing the enabling of the necessary groups now.

[2021-12-09 23:55] anusha94 commented on #5836
@adisky would you like to pair on this? I'd like to learn more about CRI / containerd with the little knowledge I have of CAPI :)

[2021-12-10 03:40] adisky commented on #5836
@anusha94 yup Anusha, lets do some pairing :)

[2021-12-10 08:08] sbueringer commented on #4419
Thx. Yeah I thought it's something like that.

[2021-12-10 13:12] sayantani11 opened #5845 "📖Add a section for Kubevirt in the Quick Start doc"
**User Story**
As we know, we now have Cluster API Provider for Kubevirt, and recently a issue was raised in Kubevirt about how a quickstart guide/example was missing for it.
https://github.com/kubernetes-sigs/cluster-api-provider-kubevirt/issues/36

**Detailed Description**
It will be great if we could have a qucikstart section for Kubevirt in the Cluster API Quick Start doc, makes it easier for

[2021-12-10 13:13] sayantani11 commented on #5845
/kind proposal

[2021-12-10 13:48] fabriziopandini commented on #5845
@sayantani11 go for it! feel free to send a PR proposing changes to the quick start page (prior art https://github.com/kubernetes-sigs/cluster-api/pull/3827)

/remove-kind proposal
/kind documentation
/milestone v1.1

[2021-12-10 14:13] fabriziopandini commented on #5807
/priority awayting-more-evidences

"msg"="Failed to parse ProviderID" "error"="providerID is empty" usally happens when for any reason the node on the machine does not start.

You can try to investigate this on the machine following instructions at https://cluster-api.sigs.k8s.io/user/troubleshooting.html or ask in the OpenStack provider channel given that the machine seems to be stuck in the midd

[2021-12-10 14:17] enxebre commented on #5807
Do the nodes actually have the providerID set on them?

[2021-12-10 15:57] #4419 closed

[2021-12-10 17:51] sbueringer opened #5848 "TestReconcileUnhealthyMachines is flaky"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

TestReconcileUnhealthyMachines/Remediation_does_not_happen_if_desired_replicas_<=_1 is failing from time to time.

Two recent examples:
* https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/directory/pull-cluster-api-test-main/1468933028284731392
* https://prow.k8s.io/view/gs/kubernete

[2021-12-10 17:55] sbueringer opened #5849 "Cluster upgrade 1.23 => latest is broken"
The recently added 1.23 => latest upgrade e2e test is failing constantly: https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api#capi-e2e-main-1-23-latest

/kind failing-test
[One or more /area label. See https://github.com/kubernetes-sigs/cluster-api/labels?q=area for the list of labels]

[2021-12-10 19:19] #4837 closed

[2021-12-13 08:24] fabriziopandini commented on #5849
/milestone v1.1
/kind release-blocking

Let's make sure to figure out what's going on before release, the we can decide if we should wait for the fix or not

[2021-12-13 08:49] fabriziopandini commented on #5636
/unassing @yastij
/assign

[2021-12-13 09:43] killianmuldoon commented on #5849
/assign

[2021-12-13 10:38] fabriziopandini commented on #5125
Adding some implementation notes:
1. given that CP/MD which already have randomly generated names, we can use the same name of the corresponding MHC objects as well
2. scope `ControlPlaneState` and `MachineDeploymentState` should be modified to host corresponding MHC objects
3. `getCurrentState` should read existing MHC objects and fill in `scope.Current` (via simple Get statements which are more

[2021-12-13 11:03] #5831 closed

[2021-12-13 15:31] stmcginnis commented on #5146
I spent a little time on this to see what it would look like to have podman support with the new runtime layer. I could not get everything working right with just manual testing. I _think_ we may want to support podman for the e2e tests and the initial "setup" parts, but then capd-controller runtime operations to stay with using `docker` inside the container.

POC code that is not fully working ca

[2021-12-13 16:03] frezbo opened #5851 "`clusterctl generate` creates a duplicate deployment"
**What steps did you take and what happened:**

[code]

[code]

**What did you expect to happen:**

[code]

**Anything else you would like to add:**

[code]

[2021-12-13 16:13] stmcginnis commented on #5851
Hi @frezbo, can you add some description to the issue of what the problem encountered is? With the example output you added, it's not very clear what the issue is.

[2021-12-13 16:15] stmcginnis commented on #5849
Not sure if it is related in any way, but just wanted to point out this other outstanding issue we have: https://github.com/kubernetes-sigs/cluster-api/issues/5818

[2021-12-13 16:19] #5814 closed

[2021-12-13 16:22] killianmuldoon commented on #5814
#5824 may be the source of this issue. This issue should be reopened if the test continues to be flaky.

[2021-12-13 16:24] vincepri commented on #5755
The benchmarks are always returning a fixed string which might be optimized, I'm more curious on why we need this change though across the board

[2021-12-13 16:39] sayantani11 opened #5852 "📖 CAPG missing in provider-contract file"
In this `docs/book/src/clusterctl/provider-contract.md` the labels section is missing CAPG. Since we have GCP as a provider, it will be nice to have it under the label section.
In the labels table add
[code]

/kind documentation
/good-first-issue
/help

[2021-12-13 17:18] fabriziopandini commented on #5851
@ykakarap PTAL
Not sure this is an actual issue or it depends by the provider yamls, but worth to investigate

[2021-12-13 17:47] ykakarap opened #5853 "Upgrade to +2 minor version on a managed topology fails when using KCP"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
Create a ClusterClass that uses a `KubeadmControlPlaneTemplate` for the control plane.
Create a cluster that uses the above ClusterClass.

Upgrade the version on cluster topology to a +2 minor version (eg: v1.21.2 -> v1.23.0). The change is accepted by the webhook but the topology reconcil

[2021-12-13 18:01] mboersma commented on #4063
/remove-lifecycle stale

[2021-12-13 18:07] killianmuldoon commented on #5852
Thanks for pointing this out @sayantani11! Do you have time to work on it?

[2021-12-13 18:09] enxebre commented on #5755
FWIW Given https://go.dev/doc/effective_go#pointers_vs_values

I see it that as +1 so to ensure we always print as expected. Otherwise I have no strong opinions.

[2021-12-13 18:29] killianmuldoon commented on #5848
This should be solved by #5837 .  Should we leave the issue open (and let it be closed over time by the stale bot) to see if this has reduced the flakiness of the test?

[2021-12-13 18:38] TheAbhishekS commented on #5852
/assign

[2021-12-13 19:01] fabriziopandini commented on #5818
@ykakarap PTAL

[2021-12-13 19:48] ykakarap commented on #5851
@frezbo  From a quick glance, it looks like this could be a result of using the newest version of clusterctl (`v1.2.0`) with old version of CAPA. CAPA v0.5.0 is a `v1alpha3` release that should be used with `v.0.3.x` binaries of clusterctl.

The output of `./clusterctl-1.0.2 generate provider --infrastructure aws:v1.2.0` seems to be correct, with only one Deployment.

(I suspect the 2 deployments

[2021-12-13 20:10] #5852 closed

[2021-12-13 21:20] #5636 closed

[2021-12-14 02:10] ykakarap commented on #5851
After analyzing further:
The output for the cases used in the issue description is supposed to have two deployments. The versions used are v1alpha3 versions and as mentioned previously these versions came with 2 deployments. One for the manager and one for the webhook. Example ref: https://github.com/kubernetes-sigs/cluster-api-provider-aws/releases/download/v0.5.0/infrastructure-components.yaml

[2021-12-14 04:45] ykakarap commented on #5818
@namnx228 I see that you mentioned that `clsuterctl init` picked the correct overrides. Can you share more details about this case?
Can you share the version of clusterctl used when running the init command? alos, if you have it can you share the init command you used? did you use specify a version of the provider when performing `init`?

This will help me in debugging further. Thank you :)

[2021-12-14 05:07] frezbo commented on #5851
@ykakarap thanks for explaining the issue in detail :+1: :muscle: . I'm going to close this, doesn't make sense to support this use case for clusterctl with older versions. Probably returning an error like  `init` when using a `v1alpha*` version should be sufficient.

[2021-12-14 05:07] #5851 closed

[2021-12-14 10:21] fabriziopandini opened #5859 "Topology should validate failureDomain before creating MachineDeployments"
**User Story**

As a user, I would like to have validation on `failureDomain` value selected for my MachineDeployments

**Detailed Description**

This is a follow up of https://github.com/kubernetes-sigs/cluster-api/pull/5850#discussion_r767892624

https://github.com/kubernetes-sigs/cluster-api/pull/5850 introduced the possibility to spread MachineDeployments across failureDomains, however, on cre

[2021-12-14 10:45] fabriziopandini commented on #5319
Quick update:
We are going to enhance the WIP PR in order to get new alpha commands that support a couple of use cases derived from the ones in the issue above:

- I would like to test my ClusterClass without actually creating objects
- I would like to test what happens if I change topology values on an existing Cluster
- I would like to test what happens if I do rebase on an existing Cluster (thi

[2021-12-14 12:06] killianmuldoon commented on #5814
#5855 Ports this to release 1.0.X
#5856 Ports this to release 0.4.X
#5860 Ports this to release 0.3.X

[2021-12-14 13:13] fabriziopandini commented on #5848
/milestone v1.1
/area testing

/close
we can eventually re-open if new problems are reported

[2021-12-14 13:13] #5848 closed

[2021-12-14 13:16] fabriziopandini commented on #5836
FYI https://github.com/kubernetes-sigs/cluster-api/issues/5146#issuecomment-992595937

[2021-12-14 13:41] darashevcstbg opened #5862 "Cannot install longhorn storage on CAPI cluster"
**What steps did you take and what happened:**
I have successfully installed CAPI cluster, but I am not able to install longhorn storage on it, because they have a requirement to have 'open-iscsi' package installed on each node.

**What did you expect to happen:**
To have a mechanism in CAPI to make changes to Linux VMs using SSH or some other mechanism.

**Anything else you would like to add:**
L

[2021-12-14 14:26] fabriziopandini commented on #5862
There are already ways to make what you are requiring.
- Add pre/post kubeadm commands if using the kubeadm bootstrap providers
- Use image builder to create your own images

/remove-kind bug
/kind support
/priority awaiting-more-evidence

[2021-12-14 14:53] enxebre opened #5863 "Expose upgrade strategy in MachineDeploymentTopology/MachineDeploymentClassTemplate"
**User Story**

As a cluster operator I would like to configure the MachineDeployment upgrade strategy for each of my worker node pools in a manage topology.

**Detailed Description**

This is not exposed today so the scenarios supported are very limited.

**Anything else you would like to add:**

[Miscellaneous information that will assist in solving the issue.]

/kind feature
/area topology

[2021-12-14 15:00] fabriziopandini commented on #5436
/close
given that #5797 and corresponding PR in test-infra are merged

[2021-12-14 15:01] #5436 closed, assigned to fabriziopandini

[2021-12-14 15:07] #5539 closed

[2021-12-14 15:11] fabriziopandini commented on #5483
/unassign @sbarikdev
/assign
I'm stepping in to try to get this into the release

[2021-12-14 17:16] ykakarap opened #5864 "`clusterctl generate provider` should return early if working with incompatible provider versions"
**User Story**

As a user when I run `clusterctl generate provider` on a version of a provider that is incompatible I want it to return early with an error messages that says that the version is incompatible with the version of clusterctl.

**Detailed Description**

Ref: https://github.com/kubernetes-sigs/cluster-api/issues/5851#issuecomment-993088847 for more details.

**Anything else you would l

[2021-12-14 17:18] ykakarap commented on #5851
Opened https://github.com/kubernetes-sigs/cluster-api/issues/5864 to follow on up.

[2021-12-14 19:40] fabriziopandini commented on #5864
/milestone v1.1

[2021-12-14 19:42] fabriziopandini commented on #4507
/lifecycle frozen

[2021-12-14 19:46] #5576 closed

[2021-12-14 20:24] tasos71 commented on #5807
thanks for the clarifications,

actually I found in the master node those logs

crictl ps -a
CONTAINER           IMAGE               CREATED             STATE               NAME                      ATTEMPT             POD ID
07fa913e85a4d       51072d10fe8cb       57 minutes ago      Running             calico-node               0                   f24370a5e54cc
1c357900bfcce       28d763a4d4e88

[2021-12-15 08:43] tasos71 commented on #5807
thanks a lot for the info

[2021-12-15 08:43] #5807 closed

[2021-12-15 09:32] fabriziopandini commented on #5853
It would be great to hear opinion of people managing other control plane providers about the suggested changes

[2021-12-15 09:43] fabriziopandini commented on #5849
I don't think the two problems are related, because AFAIK we are not using overrides in our E2E tests; also the tests are failing due to an error upgrading CoreDNS (and this means all the clusterctl stuff worked property)

[2021-12-15 10:04] invidian commented on #5823
/assign invidian

[2021-12-15 10:06] invidian commented on #5823
Created https://github.com/kubernetes-sigs/cluster-api/pull/5869 to resolve this.

[2021-12-15 14:24] macaptain commented on #5562
The discussion above was interesting to me, especially the suggestion of creating Machine CRs instead of a MachineDeployment and managing the Machines manually. (tagging @enxebre since your suggestions above are very helpful.)

A use case to illustrate the problem:

I have external network infrastructure which cares about the IP addresses of worker nodes in my Kubernetes cluster. I'm running Metal

[2021-12-15 14:31] omniproc commented on #5562
In most cases you'll have some counter so the 'pool' could be a template rather then a list of static hostnames, thus "infinite" pool of hostnames that's still compliant with whatever you need.

[2021-12-15 19:42] vincepri commented on #5853
+1 to keep it consistent and block

[2021-12-15 19:57] #5483 closed

[2021-12-15 20:33] #5811 closed

[2021-12-16 13:12] furkatgofurov7 opened #5874 "clusterctl init fails to find core provoder while running e2e tests"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
While running e2e tests with BETA v1.1.0-beta.1 pre release, `clusterctl init` fails with:
[code]

**What did you expect to happen:**
clusterctl init command run properly

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environ

[2021-12-16 13:12] furkatgofurov7 commented on #5874
/cc @fabriziopandini

[2021-12-16 16:18] jorgemoralespou commented on #5836
@fabriziopandini This issue seems more targeting CAPD as a testing tool than as a Provider. I would have expected to see something like this in the description:

- As a user, I would like to leverage my local container runtime as infrastructure provider so that I can use the same CAPI semantics to provision clusters locally.

On [ClusterAPI README.md](https://github.com/kubernetes-sigs/cluster-api

[2021-12-16 17:22] namnx228 commented on #5818
Hi @ykakarap, sorry for my late answer.
After digging into the source code of clusterctl, here is my finding about how it uses the override directory in case of upgrade. To upgrade a specific provider:
- First, it checks if there is any information regarding this provider in `clusterctl.yaml` (from providers field as in comment above). If provider field is not provided, it checks the information f

[2021-12-16 19:09] fabriziopandini commented on #5818
@namnx228 thanks for reporting the result of your investigation!

/remove-kind bug
/kind documentation

/retitle clarify how clusterctl overrides works
The point to stress in the doc is the fact that overrides only provide file replacements; instead, provider version resolution is based only on the actual repository structure

[2021-12-16 19:38] fabriziopandini commented on #5836
@jorgemoralespou this issue is about how to interact with a CRI without the docker daemon/CLI, so the idea of CAPD is not in discussion but is just adapting to the changed context.

WRT to I would love to see CAPD be a real infrastructure provider rather than just a means to test CAPI itself, this goes behind the scope of this issue and if you are interested in this topic I suggest you open a sepa

[2021-12-17 08:58] furkatgofurov7 commented on #5874
Looking a bit more into this issue, I have found this similar issue https://github.com/kubernetes-sigs/cluster-api/issues/3496 that was reported some time ago and a fix https://github.com/kubernetes-sigs/cluster-api/pull/3502 which was merged long ago.
Later, check for `latestPrereleaseVersion` seems to be moved in https://github.com/kubernetes-sigs/cluster-api/pull/4981. However, seems we are sti

[2021-12-17 13:03] furkatgofurov7 commented on #5874
/cc @vincepri @rsmitty @wfernandes

[2021-12-20 09:00] #4817 closed

[2021-12-20 10:31] #5574 closed

[2021-12-20 10:54] fabriziopandini commented on #5874
Given that the "failed to get latest version" error happens in the e2e test which is building a local repository instead of relying on published artifacts (the stacks confirm this with "error creating the local filesystem repository client"), I think that as a first thing we should check for the local repository to be properly set up for the new release.

This is driven by your local config file p

[2021-12-20 10:57] fabriziopandini commented on #5874
Also, recently documentation was added in https://cluster-api.sigs.k8s.io/developer/testing.html#test-execution-via-ide about how to debug tests locally with different IDEs, this will help to quickly figure out the problem in an environment with your specific configuration

[2021-12-20 16:05] furkatgofurov7 commented on #5874
@fabriziopandini sure, here it is:
[code]
also content of clusterctl-config.yaml as below:
[code]

[2021-12-20 16:10] furkatgofurov7 commented on #5874
Also, one more thing I should share maybe, while running e2e tests using the CAPI v1a4, clusterctl init goes well, and structure of artifacts/repositories exactly the same (of course with different release versions):

[code]

[2021-12-20 17:53] fabriziopandini commented on #5874
This is helpful.
So, it seems that in the E2E test in the majority of the use cases we are delegating to clusterctl to pick up latest version, and cluster doesn't consider pre-releases by design https://cluster-api.sigs.k8s.io/clusterctl/commands/init.html#provider-version.

A workaround that comes to my mind is that in your docker.yaml file you name your version v1.1.0, no matter if you are readi

[2021-12-20 18:09] furkatgofurov7 commented on #5874
This, I did not know, so per-releases are discarded by clusterctl...

Sorry, do you mean in e2e_conf.yaml i.e [here](https://github.com/metal3-io/cluster-api-provider-metal3/blob/main/test/e2e/config/e2e_conf.yaml)? Also, how can I set it to v1.1.0 since this is not a latest release version as of now and not existant at all in the repo?

[2021-12-20 18:20] fabriziopandini commented on #5874
Yes, for instance, https://github.com/metal3-io/cluster-api-provider-metal3/blob/main/test/e2e/config/e2e_conf.yaml#L21 should be v1.1.0

The providers section in the E2E config file de facto defines the struct of your local repository, so it is up to you to define which version exists for your tests; what I'm suggesting is to exploit the idea to define a version with name v1.1.0, but temporarily

[2021-12-20 18:23] furkatgofurov7 commented on #5874
Thanks

Ah alright, I will try that and report back tomorrow, thanks @fabriziopandini for the help all the way along :+1:

[2021-12-20 20:23] furkatgofurov7 commented on #5874
@fabriziopandini I have tested it but unfortunately I got the same result by setting version name to v1.1.0 and url to v1.1.0-beta.1:
`airshipci@ci-test-vm-20211220190113-uiac:~/tested_repo/_artifacts/repository$ tree
[code]

clusterctl init output:
[code]

clusterctl still tries to pull the latest from the repo. Is there any other way I can instruct it so that it runs all providers with specific

[2021-12-21 09:42] enxebre opened #5880 "Support to propagate properties in-place from MachineDeployments to Machines"
**User Story**

As a cluster operator I would like to change the NodeDrainTimeout/NodeDeletionTimeout for the Machines belonging to a MachineDeployment.

**Detailed Description**

Today this would trigger a rolling upgrade honouring current NodeDrainTimeout in Machines which defeats the purpose of the change. We should consider NodeDrainTimeout to propagate in-place from MachineDeployments to Mach

[2021-12-21 09:47] enxebre opened #5881 "Machines should skip draining when deleting a cluster"
**What steps did you take and what happened:**
When deleting a cluster Machines will try to drain and honour NodeDrainTimeout.

**What did you expect to happen:**
When deleting a Cluster Machines there's no point in draining so we could ensure draining is skipped e.g use the ExcludeNodeDrainingAnnotation to avoid pdb lock situations.

**Anything else you would like to add:**
[Miscellaneous informa

[2021-12-21 09:57] fabriziopandini commented on #5881
On top of my memory, this should be already the case (or at least this was), but I might be wrong.
Do you have any evidence of this not working?

/milestone v1.1

[2021-12-21 09:58] fabriziopandini commented on #5880
/milestone v1.1

[2021-12-21 10:04] fabriziopandini commented on #5874
I'm not sure I'm grokking the problem right, because there is something that doesn't sound right in the output above.

Am I wrong or you are creating a local repository under `~/tested_repo/_artifacts/repository`, but then you are testing clusterctl init passing a different config file from `/home/airshipci/.cluster-api/clusterctl.yaml`. Should you pass the config file existing the repository inst

[2021-12-21 10:05] enxebre commented on #5881
@fabriziopandini just double checked and you're right, this is gated by `isDeleteNodeAllowed`.
/close

[2021-12-21 10:05] #5881 closed

[2021-12-21 15:51] furkatgofurov7 commented on #5874
@fabriziopandini yes local repository created under `~/tested_repo/_artifacts/repository` and that should be the one to be used while doing clusterctl init. When testing in the failed cluster, I was manually running the command and then apparently it was using by default `/home/airshipci/.cluster-api/clusterctl.yaml` instead of `/home/****/tested_repo/_artifacts/repository/clusterctl-config.yaml".

[2021-12-21 16:11] fabriziopandini commented on #5874
Does clusterctl init with the test repository works?

[2021-12-21 16:27] furkatgofurov7 commented on #5874
Yes, it does using `"/home/****/.cluster-api/clusterctl.yaml"` when manually running it, however in our e2e tests we make use of above Init function and if I am not mistaken that tries to use configuration from `"~/tested_repo/_artifacts/repository/clusterctl-config.yaml"` because old runs (v1a4 CAPI) I checked uses that, .ie [here](https://github.com/kubernetes-sigs/cluster-api/issues/5874#issuec

[2021-12-21 16:29] fabriziopandini commented on #5874
Each E2E recreates its own local repository, so if the manual test worked, I assume the test will work as well

[2021-12-21 16:30] #5820 closed

[2021-12-21 18:14] #4190 closed

[2021-12-21 18:28] vincepri commented on #4229
/reopen
/lifecycle frozen

[2021-12-21 18:29] vincepri commented on #4936
/reopen
/lifecycle frozen

[2021-12-22 14:38] fabriziopandini commented on #5472
I took a look at https://github.com/kubernetes-sigs/cli-utils/tree/master/pkg/kstatus#conditions, and it seems that it is trying to solve the very same problem CAPI addressed with Severity, that is to determine if Status=false but we are making progress or we are blocked somehow.

However, I'm kind of skeptical about the solution because
- It addresses this problem only for the Ready condition, wh

[2021-12-22 19:26] sedefsavas opened #5882 "[e2e] clusterctl init fails when v1.2.99 is set as provider version"
/area clusterctl
/kind bug

`clusterctl init` fails with the error below when CAPA version is set > v1.0 in e2e_config (corresponding issue in CAPA: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3050):

[code]

[2021-12-22 19:37] fabriziopandini commented on #5882
area/testing

I'm not sure the problem is the version number, we are already using something similar in CAPI

https://github.com/kubernetes-sigs/cluster-api/blob/46df46a9b6d3efe44d88148105fe63380ac531bd/test/e2e/config/docker.yaml#L59

Is there a test run to look at?

[2021-12-22 19:54] sedefsavas commented on #5882
Interesting, no idea why it didn't work for CAPA.
The test below uses 1.2.0 and fails but also confirmed that it happens with a non-existent version like v1.2.99:

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/periodic-cluster-api-provider-aws-e2e-conformance-with-k8s-ci-artifacts/1473662490121342976

And tests pass when I set the version to v1.0.99

[2021-12-23 08:40] ruifaling opened #5883 "Support reset password for machine"
**User Story**

In the current version,after launch a cluter,if we do not know the password for root from the image ,we can only connet to the vm by keypair,I hope we can reset the password,the we could connect to the vm by password

**Detailed Description**

I hope we could reset the root password for vm by cloudinit when launch a cluster

**Anything else you would like to add:**

[Miscellaneous

[2021-12-23 08:45] ruifaling commented on #5883
/area bootstrap

[2021-12-26 01:10] #4870 closed

[2021-12-27 10:44] qmloong opened #5888 "Too small timeout for watch in `ClusterCacheTracker`"
**What steps did you take and what happened:**
A default timeout value was set here.
https://github.com/kubernetes-sigs/cluster-api/blob/46df46a9b6d3efe44d88148105fe63380ac531bd/controllers/remote/cluster.go#L64

And `ClusterCacheTracker` will new config by default.

https://github.com/kubernetes-sigs/cluster-api/blob/46df46a9b6d3efe44d88148105fe63380ac531bd/controllers/remote/cluster_cache.go#L18

[2021-12-27 10:51] qmloong commented on #5888
/auto-cc

[2021-12-27 12:22] qmloong commented on #5888
/assign

[2021-12-28 11:35] fabriziopandini commented on #5888
Some questions in order to better understand the problem at stake:

What is the expected behavior/timeout you are proposing?

If I look at logs at level 4 it seems that we are already using 10 seconds timeout (18:27:43, then:53, then:03), and if I'm not wrong in most cases this is combined with exponential backoff; IMO this is already a good compromise between what we need (the watch to be up and

[2021-12-28 11:37] fabriziopandini commented on #5883
/milestone v1.1
I have some concerns about the request, see comment on the PR

[2021-12-28 14:56] fabriziopandini commented on #5634
update: Given recent changes in CAPD (container.Runtime client passed via context) it is now simpler to target remote docker engine servers on per Cluster basis.
The bit that should be addressed is how to ensure communication from CAPI to remote clusters, given that the current LB solution relies on local addresses + random ports.

[2021-12-28 17:13] qmloong commented on #5888
I think this is a generalized problem. But actually,  it seems to be no real bad impact so far except redundant log above level 4..  I will take a closer look at `watch` code piece to confrim this short timeout value when I am free.
Thank you for the response.

[2021-12-28 17:13] #5888 closed

[2021-12-29 15:40] pparshin opened #5891 "clusterctl does not restore CAPI objects from backup"
**What steps did you take and what happened:**
I have two Kubernetes management clusters and would like to move the Cluster API objects defining workload cluster from one cluster to another. I do not have the network connectivity between management clusters so I decided to use the `backup` and `restore` commands in the clusterctl to move CRDs.

[code]

**What did you expect to happen:**
I expected

[2021-12-30 00:38] chymy commented on #4996
/remove-lifecycle stale

[2021-12-30 09:44] pparshin commented on #5891
My bad, we don't have an internet on the jump machine so installed CAPI resources by hands and a clusterctl label wasn't set which needs to discover the resources.

[2021-12-30 09:44] #5891 closed

[2021-12-31 00:57] kfox1111 opened #5894 "Client Container"
As a user/operator I would like to use a prebuilt container for clusterctl in image based pipelines.

**Detailed Description**

It would be nice if there was a released official container containing clusterctl along with the released binaries. This could be used in image based pipelines such as gitlab, tekton, etc.

/kind feature

[2021-12-31 15:51] #4891 closed

[2022-01-01 20:46] vincepri commented on #4996
/lifecycle frozen

[2022-01-01 20:46] vincepri commented on #5894
/milestone Next
/help

[2022-01-02 16:01] fabriziopandini commented on #4996
According to https://github.com/kubernetes-sigs/cluster-api/pull/5330#issuecomment-929663822 we should preserve the field as optional

[2022-01-03 15:18] enxebre commented on #5294
/area bootstrap

[2022-01-03 16:37] sbueringer commented on #5755
xref: https://github.com/kubernetes-sigs/cluster-api/pull/5751#discussion_r758661985

@vincepri
If we use a pointer receiver the `String()` func is not used by `fmt.Sprintf("%s", &Node{})`, which means the objects are not printed correctly. If we want to print them correclty when `String` is implemented with a pointer receiver we have to print like this: `fmt.Sprintf("%s", &Node{}.String())` (if w

[2022-01-03 16:52] sbueringer commented on #5859
I think if the failureDomain is set in MachineDeploymentTopology we should only create a MD when we can validate if the failureDomain is valid (i.e. if it's one of the failureDomains in the Cluster).

Otherwise the machines might get created first in the wrong failure domain and then re-created once the Cluster contains the list of failureDomains.

[2022-01-03 16:56] sbueringer commented on #5755
/reopen
(partially fixed, I've updated the issue description with the current status)

[2022-01-03 16:58] sbueringer commented on #5755
@vincepri
`test/infrastructure/docker/docker/types.Nodes` should be trivial to fix.

What should we do with `api/v1beta1.NetworkRanges`? (asking because it's an exported type)

[2022-01-03 17:13] #5823 closed

[2022-01-03 21:50] vincepri commented on #5859
Yes, users can decide to move all machines in a MD to a different AZ and trigger a rollout

+1

[2022-01-04 11:28] sbueringer commented on #5882
@sedefsavas
The issue should be that the metadata.yaml used for the e2e test does not contain the v1.2.x release series: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/test/e2e/data/shared/v1beta1_provider/metadata.yaml#L20-L22

[2022-01-04 11:53] sbueringer commented on #5864
Afaik we already have a similar logic for `clusterctl init`

[2022-01-04 11:59] sbueringer commented on #5853
If there is no other feedback, I agree that we should block +2 upgrades in the topology as well.

We can always make the validation less restrictive in the future if a +2 upgrade works with other controlplane providers.

[2022-01-04 14:29] #2826 closed

[2022-01-04 21:50] sedefsavas commented on #5882
Good catch, I finally noticed that yesterday and the fix works.

[2022-01-04 21:50] #5882 closed

[2022-01-05 10:24] sbueringer commented on #4620
/reopen
/remove-lifecycle rotten

[2022-01-05 11:21] fabriziopandini commented on #4874
/remove-lifecycle stale
given that there is a PR out for it

[2022-01-05 13:41] sbueringer commented on #5849
Looks like we’re trying to “upgrade” to CoreDNS v1.8.4, but the cluster already has CoreDNS v1.8.6

The test is able to set v1.8.4 in the KCP object but the CoreDNS deployment stays on v1.8.6

kubeadm CoreDNSVersion constant:
* v1.21 => v1.8.0
* v1.22 => v1.8.4
* v1.23 => v1.8.6
* master => v1.8.6

KCP log:

I would suggest updating the job configs to always upgrade to the CoreDNS version correspo

[2022-01-05 13:48] sbueringer commented on #5849
/assign
/unassing @killianmuldoon

[2022-01-05 14:46] #5849 closed

[2022-01-06 07:56] #5041 closed

[2022-01-06 13:53] #5570 closed

[2022-01-06 14:58] xvzf opened #5914 "ClusterAPI is deleting machines after cluster-nodes cannot be retrieved (Unauthorized)"
**What steps did you take and what happened:**
With the cluster-api-provider-aws, the `kubeconfig` secret contains a hinted token which is retrieved by the AWS STS service (check [here](https://github.com/kubernetes-sigs/aws-iam-authenticator#api-authorization-from-outside-a-cluster) for reference) and needs to be refreshed every 15 minutes in the [current configuration](https://github.com/kuberne

[2022-01-06 15:16] xvzf commented on #5914
Another thing we realised: the `machinedeployment` (or the `machineset`) replica count is updated when a `machine` is deleted by cluster-api. Is this intended?

[2022-01-07 08:22] sbueringer commented on #3279
@fabriziopandini I think it would be good to get this implemented before the release because of the changes in kubeadm 1.24: https://groups.google.com/g/kubernetes-sig-cluster-lifecycle/c/XJhn8bpvHac

It might even should be release blocking.

[2022-01-07 09:57] fabriziopandini commented on #5914
@xvzf probably it is better to open this issue in cluster-api-provider-aws repository, so the team can triage the AWS specific bits first...

[2022-01-07 10:02] xvzf commented on #5914
@fabriziopandini we weren't sure where to open this issue, I'll create an issue on the aws provider as well and reference this one.

The deleting and implicit scaling down of the `machinedeployment` belongs here. It might be worth splitting this up into two issues though

[2022-01-07 10:34] enxebre commented on #5914
Hey @xvzf I haven't had time to debug this yet, but

I can't think of any core controller that would modify machineDeployment.spec.replicas. So as a first thought this is possibly a red herring. Have you seen that happening in a bare cluster (no autoscaler, no flux...)?

[2022-01-07 10:42] xvzf commented on #5914
@enxebre

Yes, both of the mentioned components scaled down to 0

[2022-01-07 11:01] sbueringer commented on #5914
I could be wrong, but I couldn't fine a single write operation on MachineDeployment.spec.replicas in the regular controllers (there is one in the controller for ClusterClass, but I think ClusterClass is not used here).

To be absolutely sure we have the right data. Where are you "reading" the replicas of the MachineDeployment from? The "REPLICAS" column of the MachineDeployment is `.status.replica

[2022-01-07 11:07] xvzf commented on #5914
@sbueringer Yes, it's been the `.spec.replicas`; I stepped through the code and couldn't find anything as well (just updating the specs). I'll try to check with audit logging which service account is doing the change, this way we might habe a better clue on what's going on.

What's strange is the ordered downscaling from `4 -> 3 -> 2 -> ...` so there's likely _something_ that performs those action

[2022-01-07 11:23] sbueringer commented on #5914
If you refer to the events, it looks to me like something scales down the MD.spec.replicas and then the MD controller scales down the MachineSet accordingly.

[2022-01-07 13:48] ninlil opened #5916 "webhook-error when using Experimental flags and multiple providers"
**What steps did you take and what happened:**

I have 2 main setup scenarios (see below)
I have 2 tests (using the capi-quickstart-tutorial, see below)

## Setup scenarios
### A) One provider at a time:
[code]

### B) setup core before providers
[code]
## Test-scenarios
### 1) vsphere
[code]
### 2) azure (aks)
[code]

**What did you expect to happen:**

Test 1 and 2 should work flawless regardles

[2022-01-07 13:54] enxebre commented on #5914
/priority awaiting-more-evidence

[2022-01-07 14:45] sbueringer commented on #1477
/reopen
/remove-lifecycle rotten

[2022-01-07 19:55] fabriziopandini commented on #5916
This is not an error, but as stated above, a consequence of the fact that experimental features (the ones documented in https://cluster-api.sigs.k8s.io/tasks/experimental-features/experimental-features.html) must be enabled in CAPI first (as well as in the subsequent calls to init).

That means that in scenario A, you need to set both EXP_CLUSTER_RESOURCE_SET and EXP_MACHINE_POOL before the first

[2022-01-07 21:24] fredgate commented on #5845
I discovered this provider by chance.
It should also be added to the list of providers : https://cluster-api.sigs.k8s.io/reference/providers.html

[2022-01-08 00:20] #5058 closed

[2022-01-08 15:56] sayantani11 commented on #5845
@fabriziopandini This can be done after KubeVirt  has its first release

[2022-01-08 15:57] sayantani11 commented on #5845
Okay will add a new issue for it

[2022-01-09 16:41] sayantani11 opened #5918 "📖Add KubeVirt to providers list"
Now that we have Cluster Api Provider KubeVirt, that should be added to the providers list [here](https://cluster-api.sigs.k8s.io/reference/providers.html)
To make the changes, add
Kubevirt with link redirecting to the repository: https://github.com/kubernetes-sigs/cluster-api-provider-kubevirt

/kind documentation

[2022-01-09 16:41] sayantani11 commented on #5918
/good-first-issue

[2022-01-09 16:52] MukulKolpe commented on #5918
Hey @sayantani11, can I work on this issue?

[2022-01-09 17:01] tharun208 commented on #5864
@ykakarap I like to work on this

[2022-01-09 17:19] AvineshTripathi commented on #5918
@MukulKolpe Yes it is open you can do a self assign by commenting `/assign`

[2022-01-09 17:28] MukulKolpe commented on #5918
/assign

[2022-01-10 11:18] sbueringer commented on #5864
@tharun208 Feel free to assign yourself the issue with `/assign`

[2022-01-10 11:26] tharun208 commented on #5864
/assign

[2022-01-10 12:37] killianmuldoon commented on #5338
c/f https://github.com/kubernetes-sigs/controller-runtime/pull/1767

[2022-01-10 14:12] xvzf commented on #5914
The root cause of the node deletion has been an assumingly terminated instance of cluster-autoscaler with a different configuration (it was still up in containerd).

Thx for the help folks!

[2022-01-10 16:46] sbueringer opened #5920 "Make sure kubeadm 1.24 socket auto-discovery doesn't lead to issues"
With kubeadm 1.24 there are some changes related to the removal of the dockershim (see [Mail](https://groups.google.com/g/kubernetes-sig-cluster-lifecycle/c/XJhn8bpvHac), [kubeadm Issue](https://github.com/kubernetes/kubeadm/issues/2626)).

The only relevant change for us should be:

host and ask the user to specify which one to use. do not special case
containerd+docker if both sockets are presen

[2022-01-10 18:00] sbueringer opened #5921 "Handle kubeadm 1.24 kubelet ConfigMap name change"
With kubeadm 1.24 the UnversionedKubeletConfigMap feature gate is moving to beta and thus is enabled per default.

According to [upcoming notable changes in kubeadm 1.24](https://groups.google.com/g/kubernetes-sig-cluster-lifecycle/c/XJhn8bpvHac), `"kubeadm upgrade" will automatically handle this`. As we're not running `kubeadm upgrade` during upgrade I suspect we have to implement something on ou

[2022-01-10 18:00] sbueringer commented on #5920
/area bootstrap

[2022-01-10 18:01] sbueringer commented on #5921
@neolit123 If you have a moment, would be great to hear what you think about it.

[2022-01-11 09:50] fabriziopandini commented on #5921
On top of my mind in KCP we have specific logic for
1. creating new versioned KubeletConfigMap before upgrade
2. editing new versioned if required (e.g for adapting the cgroup default driver change happened in kubeadm few version ago)

I think that 1 should stop happening starting from 1.24, but a deeper analysis is required.

/milestone v1.1
It will be nice to get into the release + backport if t

[2022-01-11 09:55] fabriziopandini commented on #5845
clusterctl allows to install prerelease as well (https://cluster-api.sigs.k8s.io/clusterctl/commands/init.html#provider-version), but at least a release or a pre-release should exist

[2022-01-11 18:56] fabriziopandini commented on #5295
/lifecycle frozen

[2022-01-11 18:59] #5918 closed

[2022-01-12 01:00] CecileRobertMichon commented on #4896
@sbueringer I updated to CAPI v1.1.0-beta.1 which has this deprecation and updated the current KCP upgrade tests to use cluster upgrade tests with WorkerMachine count set to 0 for the HA scale in and scale out tests, but I'm getting this error:

[code]

looks like we need to skip the machine deployment phases when the count is 0

[2022-01-12 09:24] sbueringer commented on #4896
@CecileRobertMichon Thx for reporting it. I agree. I've opened #5926 to fix the test.

I verified it locally and it works now.

[2022-01-12 14:02] sbueringer opened #5927 "ClusterClass: MachineDeployment variable overrides"
**User Story**

As a user I would like to be able to create MachineDeployments with different configurations using ClusterClass, without having to duplicate MachineDeploymentClasses in the ClusterClass.

**Detailed Description**

Context:
Today, variables in general allow customization of individual clusters. This means that the cluster as a whole can be customized by specifying variables when cre

[2022-01-12 14:06] sbueringer commented on #5927
/area topology

/cc @fabriziopandini @vincepri @CecileRobertMichon @enxebre

[2022-01-12 17:30] enxebre commented on #5927
Thanks @sbueringer! Taking your example "large-nodes" vs "small-nodes" from a different angle I could argue that the instance size might be a legit defining form factor ​for a Class and so they shouldn't be names but rather two different classes.
E.g As a cluster fleet operator I want to define my pool of t-shirt size classes that my particular cluster instances can use as I see feet without havin

[2022-01-12 18:39] dlipovetsky commented on #3715
This seems reasonable.

This is how I read the above:
- If an infra provider wants to support a user-defined control plane endpoint, they can provide some field in the InfrastructureCluster Spec. The user MAY use this field.
 - If the user does use the field, the provider uses the field to derive Status.controlPlaneEndpoint.
 - If the user does not use the field, the provider uses some internal va

[2022-01-12 18:44] dlipovetsky commented on #3715
In today's office hours, @CecileRobertMichon mentioned that using Spec.controlPlaneEndpoint is awkward: If the user defines this field, core CAPI controllers start to talk to the endpoint, even though the infrastructure may not yet be ready. @fabriziopandini said this may be a bug in the core CAPI controllers; instead, they should check for infrastructure to be ready _and_ for the control plane en

[2022-01-12 18:49] dlipovetsky commented on #3715
On a related note, some providers use some algorithm to derive the control plane endpoint. For example, CAPA [derives it from the cluster name](https://github.com/mesosphere/cluster-api-provider-aws/blob/09afe190c1f4d3f844dff6c6c402db4aa9daa84f/pkg/cloud/services/elb/loadbalancer.go#L304-L319).

If the algorithm changes in some way, then two provider versions may derive different control plane end

[2022-01-12 19:01] CecileRobertMichon commented on #3715
link above (https://github.com/mesosphere/cluster-api-provider-aws/blob/09afe190c1f4d3f844dff6c6c402db4aa9daa84f/pkg/cloud/services/elb/loadbalancer.go#L304-L319) is returning 404 for me

[2022-01-12 20:04] killianmuldoon commented on #5769
A decision has been made to include no additional defaulting in the current proposal and implementation. The proposal has been merged with that design. Defaulting may still be included in a future iteration of the MachineHealthCheck generation code. This should be removed from milestone 1.1.

[2022-01-12 21:24] dlipovetsky commented on #3715
Sorry about that. I fixed the link. It should have been https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/09afe190c1f4d3f844dff6c6c402db4aa9daa84f/pkg/cloud/services/elb/loadbalancer.go#L304-L319

[2022-01-13 08:26] ykakarap commented on #5864
@tharun208 Thanks for offering to work on the issue. Later, I will add some details here that should help you get started.

[2022-01-13 10:04] ykakarap commented on #5864
@tharun208 Here are some details that should help you get started:

The `generate provider` command directly calls `c.GetProviderComponents`. We want to add a step to check if the version used are compatible before getting the provider components.

I think you can start with adding a `GenerateProvider` to `clusterctlClient` (and the corresponding interface) that takes as input `providerName`, `pro

[2022-01-13 10:08] tharun208 commented on #5864
thank you much. will look into this

[2022-01-13 10:10] sbueringer commented on #5024
/area topology

@fabriziopandini I think this has been resolved by dropping the infrastructureRef from KCPTemplate. WDYT?

[2022-01-13 10:30] ykakarap commented on #5853
Looks like we can go ahead with blocking +2 upgrade in topologies. I will go ahead and update the webhook and open an PR for this.

[2022-01-13 15:39] sbueringer opened #5936 "Restructure KCP internal package"
We've recently moved the KCP controllers package into internal/controllers in https://github.com/kubernetes-sigs/cluster-api/pull/5929.

As a follow-up it would be great if we can restructure (at least) the files directly in the `controlplane/kubeadm/internal` package into new sub-packages.

xref: https://github.com/kubernetes-sigs/cluster-api/pull/5929#pullrequestreview-851748669

/kind cleanup
/

[2022-01-13 15:49] neolit123 commented on #3279
WIP PR for 1.24 (stage 2) is here:
https://github.com/kubernetes/kubernetes/pull/107533

[2022-01-14 08:24] fabriziopandini commented on #5936
/milestone v1.1
(this probably won't make the release, but it will be bumped in the next one as soon we will create it)

[2022-01-14 13:10] sbueringer opened #5937 "TestMachineHealthCheck_Reconcile test is flaky"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

TestMachineHealthCheck_Reconcile fails from time to time with the following error:
[code]

Recent runs:
* https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/periodic-cluster-api-test-main/1480841629660090368
* https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/periodic-cluster-api-test-

[2022-01-14 13:10] sbueringer commented on #5937
/area health

fyi @killianmuldoon

[2022-01-14 13:13] sbueringer opened #5938 "Test_objectMover is flaky"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

The Test_objectMover is failing from time to time with the following error
[code]

Recent run:
* https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/periodic-cluster-api-test-main/1480660217195663360

/kind bug
[One or more /area label. See https://github.com/kubernetes-sigs/cluster-api/l

[2022-01-14 13:13] sbueringer commented on #5938
fyi @killianmuldoon

[2022-01-14 13:15] sbueringer commented on #5938
/kind flake
/remove-kind bug

[2022-01-14 13:15] killianmuldoon commented on #5937
/assign

[2022-01-14 14:35] killianmuldoon commented on #5938
It seems that when this happens it's impacting two test cases so there must be some subtle file system issue that's causing this and we're not catching the error somehow.

 I'm investigating this, but it's not going to be easily reproducible.

[2022-01-14 15:41] #5125 closed

[2022-01-14 16:11] gab-satchi opened #5939 "Parameterize provider resources location for Tilt"
**User Story**

As a developer I would like to use a custom location for my provider resources so I could work with Supervisor based resources in CAPV.

**Detailed Description**
In CAPV, we store default set of resources under the expected `config/default` path and Supervisor based resources under `config/supervisor`. Developers (and users) would only load one or the other set of resources at a ti

[2022-01-14 16:42] fabriziopandini commented on #5939
/milestone v1.1

[2022-01-14 16:46] sbueringer opened #5940 "Docker Desktop >= 4.3.* for MacOS: unable to create workload cluster with CAPD"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

It looks like it's not possible to create workload clusters with CAPD on Docker Desktop for MacOS out of the box.

The creation of the management cluster still works, but usually the creation of the first worker machine of the workload cluster fails.
CAPD / the worker machine report a lot

[2022-01-16 16:46] ykakarap opened #5941 "Replace `github.com/gosuri/uitable` with `github.com/olekukonko/tablewriter`"
**Detailed Description**

`github.com/olekukonko/tablewriter` is introduced in the #5893 . This new library is more feature rich and can be used to do everything that `github.com/gosuri/uitable`. Therefore, it would be good to replace the later with the former so that we dont have to include two table libraries.

**Anything else you would like to add:**

`github.com/gosuri/uitable` is currently be

[2022-01-16 18:47] DiptoChakrabarty commented on #5941
I would like to try
/assign

[2022-01-16 19:36] DiptoChakrabarty commented on #5941
@ykakarap have got everything almost ready however there is an issue in the testing part https://github.com/kubernetes-sigs/cluster-api/blob/58f834f6ef181113b78f65c14be4685572dc6c10/cmd/clusterctl/cmd/describe_cluster_test.go#L280-L287

How to access specific rows and column in tablewriter like uitable , there does not seem to be method to implement line 287.

The tests can be modified to be like

[2022-01-17 07:31] ykakarap commented on #5941
@DiptoChakrabarty Firstly, thank you for stepping up to work on this. 👍🏼
I answered your query on the PR. Take a look.

[2022-01-17 07:33] ykakarap commented on #5941
/remove-kind feature

[2022-01-17 13:15] #5853 closed

[2022-01-17 14:07] fabriziopandini commented on #5941
/kind cleanup
/milestone v1.1
/area clusterctl
Being a cleanup, there is a chance that this will probably get merged after the release

[2022-01-17 14:09] fabriziopandini commented on #5940
/remove-kind bug
/kind documentation
/milestone v1.1
Let's get this in our developer documentation!

[2022-01-17 14:10] fabriziopandini commented on #5938
/area testing
/milestone v1.1

[2022-01-17 14:10] fabriziopandini commented on #5937
/milestone v1.1

[2022-01-17 14:15] fabriziopandini commented on #5769
/milestone Next
Given that it is TBH when we want to come back to this issue

[2022-01-17 14:18] fabriziopandini commented on #5024
I think we are ok for now; some more consideration will be required when we discuss how to decouple bootstrap and machine deployment, but that's still tbd
/close

[2022-01-17 14:18] #5024 closed

[2022-01-17 14:56] sbueringer commented on #5940
Just to mention it, downgrading to Docker v4.2.0 also works, but please note [CVE-2021-45449](https://docs.docker.com/security/#cve-2021-45449) and [Log4j 2 CVE-2021-44228](https://docs.docker.com/security/#log4j-2-cve-2021-44228) are not fixed there (https://docs.docker.com/desktop/mac/release-notes/)

[2022-01-17 15:10] killianmuldoon opened #5944 "Unexpected behavior in "append" to array patch operation"
An append or prepend operation when attempting to patch a Cluster with ClusterClass can not be used to append or prepend one array onto an existing array. Currently the operation only supports adding a single value to the array. In a case where multiple values are required there needs to be a patch for each value.

 If an array is added as a variable in an append operation reconciliation fails and

[2022-01-17 15:12] killianmuldoon commented on #5944
/area topology

[2022-01-17 15:15] killianmuldoon opened #5945 "Reconciliation error doesn't result in exponential backoff"
When an error happens during Cluster reconciliation in the topology/cluster controller it doesn't result in an exponential backoff meaning the operation is continually retried even when the configuration is completely broken.

This makes it harder for users to understand the source of their issues, and CAPI is continually working to reconcile a completely broken config.

This was noticed when repr

[2022-01-17 17:24] fabriziopandini commented on #5944
Let start documenting this for now @sbueringer
/milestone v1.1

[2022-01-17 17:25] fabriziopandini commented on #5944
/kind documentation
For the initial part of this effort, the we will figure it out if code changes are required

[2022-01-17 17:27] sbueringer commented on #5945
@fabriziopandini If possible, we should address this before the release.

[2022-01-17 17:27] fabriziopandini commented on #5945
/milestone v1.1
/priority release-blocking
It would be great to understand the underlying problem of this issue before v1.1

[2022-01-17 17:37] sbueringer opened #5946 "Consider to dissolve or move internal/topology"
The idea is to potentially dissolve or move the internal/package, so we don’t have 3 topology packages below internal, which might be confusing.

internal/package consists of:
* internal/topology/check
* internal/topology/variables

### internal/topology/check

used by:
* internal/webhooks:
  * check.MachineDeploymentTopologiesAreUniqueAndDefinedInClusterClass(newCluster, clusterClass)
  * check.C

[2022-01-17 18:15] killianmuldoon commented on #5940
@fabriziopandini Would a section on this work in the book Troubleshooting section?

[2022-01-17 18:18] fabriziopandini commented on #5940
+1 from me

[2022-01-18 10:38] sbueringer opened #5948 "ClusterClass: MHC reconciliation is not authoritative"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

**What did you expect to happen:**
I expect the MHC reconciliation to be authoritative (similar to the reconciliation of other resources).

Example:

I add one field after another to the MHC config in the ClusterClass:
[code]
The fields are correctly propagated/reconciled to the MHC.

The

[2022-01-18 10:38] sbueringer commented on #5948
/assign @killianmuldoon

[2022-01-18 10:44] fabriziopandini commented on #5948
/milestone v1.1

current implementation automatically triggers managed field is for unstructured types.
In this case, it is required to explicitly pass AuthoritativePaths option to the call to merge patch (I'm not sure we can simply state the spec is entirely authoritative or if we should list all the field under spec that should be autoritative)

[2022-01-18 10:52] sbueringer commented on #5948
I wonder if instead it wouldn’t be enough to also use DeepCopyWithManagedFieldAnnotation  on create of MHCs.

I could be missing something but the merge patch helper looks like it should work with MHCs the same way

[2022-01-18 12:07] sbueringer commented on #5948
By making the entire "spec" authoritative we now get a permanent reconcile on the MHC if the fields are unset on the ClusterClass and defaulted on the MHC.

I see the following alternatives:
* defaulting the two optional fields with default values (maxUnhealthy, nodeStartupTimeout) in the reconciler if they are not set by the user
* tracking the fields where we have on opinion on via managed field

[2022-01-18 12:12] killianmuldoon commented on #5948
Both of these changes are brittle in relation to changes in defaulting, but I don't another option. We could break out the defaulting webhook function to ensure we're running the same code in both places or we could make sure to have a set of tests that checks for each individual field.

Do you mean managed fields as apposed to authoritative paths here? Would that solve the issue of the default/re

[2022-01-18 12:20] sbueringer commented on #5948
Yup, if we do that, we should share the code, like we did with MD defaults: https://github.com/kubernetes-sigs/cluster-api/blob/5026786ee809c5def466049f5befd2a786fbcefa/api/v1beta1/machinedeployment_webhook.go#L145

I think it would solve the issue as on a high-level it tracks if we have an opinion on the field, so I **think** it would behave correctly. The implementation change would be:
* add th

[2022-01-18 13:28] killianmuldoon commented on #5945
@sbueringer and I debugged this issue and found that exponential backoff is not working when new conditions are added to the Cluster status. When a new condition is added reconciliation happens instantly.

 In the case of our reconcile-create functions we get a new name in the condition each time e.g. the auto-generated name of the template. This make this a new condition rather than an update to

[2022-01-18 15:27] vincepri commented on #5121
/reopen

[2022-01-18 15:27] vincepri commented on #5121
/lifecycle frozen

[2022-01-18 17:35] #4874 closed

[2022-01-18 17:38] fabriziopandini commented on #5940
/close

we have a documented workaround + opened an issue in docker desktop https://github.com/docker/for-mac/issues/6071

[2022-01-18 17:38] #5940 closed

[2022-01-18 18:06] fabriziopandini commented on #5945
@killianmuldoon and @sbueringer thanks for having triaged this issue!
I agree that 2 is the most reasonable approach.
It does not really sense to have (random) object names in error messages if they were not actually created

[2022-01-18 18:33] fabriziopandini commented on #5948
Sharing the defaulting function seems a cleaner and simpler approach.
I'm personally -1 on using managedField for the typed objects, unless we make it a first-class case in mergePatch (but this could have side effects on Cluster/MachineDeplyments and we are late in the cycle for this).

[2022-01-18 19:58] #5927 closed

[2022-01-18 20:10] #5319 closed

[2022-01-19 11:01] sbueringer commented on #5948
Sharing the defaulting sounds fine to me now. I think it could be as simple as calling .Default() on our computed MHC

[2022-01-19 11:20] fabriziopandini opened #5952 "Failing tests for 0.4 and 1.0"
The following E2E tests for 0.4 seems to be constantly failing:

https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-0.4#capi-e2e-release-0-4-1-22-1-23
https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-0.4#capi-e2e-release-0-4-1-23-latest

/kind failing-test
/milestone v0.4
/kind release-blocking
/area testing

[2022-01-19 11:21] sbueringer commented on #5945
Just to make sure we're talking about the same. We need "identifiers" we can include in errors for:
1. create MD & MHC
2. create InfraCluster & ControlPlane via reconcileReferencedObject
3. create InfrastructureMachineTemplate for ControlPlane via reconcileReferencedTemplate
4. create BootstrapTemplate & InfrastructureMachineTemplate for MD via reconcileReferencedTemplate

I wonder what the ideal

[2022-01-19 11:45] sbueringer commented on #5952
Based on KCP controller logs it looks like the CoreDNS migration lib we're using only supports older CoreDNS versions: https://storage.googleapis.com/kubernetes-jenkins/logs/periodic-cluster-api-e2e-workload-upgrade-1-22-1-23-release-0-4/1483442871951429632/artifacts/clusters/bootstrap/controllers/capi-kubeadm-control-plane-controller-manager/capi-kubeadm-control-plane-controller-manager-744575bdd

[2022-01-19 11:56] killianmuldoon commented on #5952
/assign

Should the doc change be only for the 0.4 section of the book? I'll create a PR into the test/infra now to change the upgrade target to 1.8.4.

[2022-01-19 12:02] sbueringer commented on #5952
@killianmuldoon Do you know which versions are supported by the CoreDNS lib?

Some context about the upgrade test:
* we're creating the cluster with kubeadm of the source version (i.e. the CoreDNS version of the source version is deployed)
* during the upgrade we then have the jobs configured to upgrade to the CoreDNS version which the kubeadm of the target version is using

We should now change t

[2022-01-19 12:04] sbueringer commented on #5952
We currently assume that the CoreDNS migration lib doesn't fail when a cluster is created with CoreDNS v1.8.6 (1.23=>latest job) and CoreDNS is "upgraded" to v1.8.6 because then the migration shouldn't be executed.

[2022-01-19 12:07] killianmuldoon commented on #5952
The supported version are here: https://github.com/coredns/corefile-migration/blob/v1.0.13/migration/versions.go

For the given version of the library we're using in CAPI:
0.4: v1.0.12 (max 1.84)
1.0: v1.0.13 (max 1.85)
1.1: v1.0.14 (max 1.86)

[2022-01-19 12:08] sbueringer commented on #5952
Some more data
* kubeadm => CoreDNS versions
    * 1.21 => v1.8.0
    * 1.22 => v1.8.4
    * 1.23 => v1.8.6
    * latest => v1.8.6

[2022-01-19 12:10] sbueringer commented on #5952
Btw v1.0 jobs are failing too as expected based on the data: https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-1.0#capi-e2e-release-1-0-1-22-1-23

[2022-01-19 12:11] killianmuldoon commented on #5952
Yeah - I'm updating that to 1.8.5

[2022-01-19 12:12] sbueringer commented on #5952
That assumption was wrong, even v1.8.6 => v1.8.6 fails: https://storage.googleapis.com/kubernetes-jenkins/logs/periodic-cluster-api-e2e-workload-upgrade-1-23-latest-release-1-0/1483442872060481536/artifacts/clusters/bootstrap/controllers/capi-kubeadm-control-plane-controller-manager/capi-kubeadm-control-plane-controller-manager-744575bddc-qwdqp/manager.log

In my opinion we can and should fix this

[2022-01-19 12:14] killianmuldoon commented on #5952
Agreed - that should be fixed for sure.

[2022-01-19 12:18] killianmuldoon commented on #5952
I'll take a look at the KCP fix too if that's alright with you.

[2022-01-19 12:37] fabriziopandini commented on #5952
+1 to the change in KCP to make it possible to upgrade to the same version (I assume this is not only in the webhook, but also in the upgrade logic)

WRT to doc, let's document kubernetes version/default CoreDNS version and CAPI versioni/CoreDNS ranges  in https://cluster-api.sigs.k8s.io/reference/versions.html#kubeadm-control-plane-provider-kubeadm-control-plane-controller

[2022-01-19 13:27] sbueringer opened #5953 "Improve ClusterClass documentation"
**User Story**

As a user and ClusterClass author I would like to have great documentation which makes it easier to adopt and use ClusterClass!

**Detailed Description**

This issue proposes some changes / extensions of the current ClusterClass documentation.

The documentation should be structured like this:
* For ClusterClass authors:
    * Writing a ClusterClass
    * Changing a ClusterClass

[2022-01-19 13:43] ykakarap commented on #5953
I can work on the "clusterctl topology plan" document :)

[2022-01-19 13:53] sbueringer commented on #5952
/retitle Failing tests for 0.4 and 1.0

[2022-01-19 15:40] #5948 closed

[2022-01-19 16:01] fabriziopandini commented on #5953
I'm taking Changing a ClusterClass given that I'm co-responsible for the previous version of it

[2022-01-19 16:11] sbueringer commented on #5945
I'm not sure if that works in all cases, but I'm fine with alternatives and happy to just take a look at the PR :)

[2022-01-19 19:16] srm09 opened #5957 "Workload cluster loses worker nodes after restoring the management cluster from a velero backup"
**What steps did you take and what happened:**
- Create a workload cluster with 3 MachineDeployments, with one replica each (1 CP node and 3 worker nodes)
- Setup velero with the AWS provider for backing up management cluster
- Backup the management cluster
- Delete & recreate the management cluster
- Restore the management cluster using the earlier created backup
- The number of worker nodes afte

[2022-01-19 19:24] killianmuldoon commented on #5945
The errors here are deeply wrapped and it's not trivial to unwrap them or sanitize them at the right level. I've opened a PR to add a predicate to the controller to get it to ignore status updates (using the generationChange predicate from controller runtime). It solves the direct issue, but I'd like to hear ideas/responses to this solution.

[2022-01-20 12:36] killianmuldoon opened #5961 "Crash on startup from ClusterResourceSetBindingController"
Using backup and restore on a workload cluster with a ClusterResourceSet and ClusterResourceSetBinding which resulted in a crash on startup in the ClusterResourceSetBinding controller. The issue is a nil pointer exception due to insufficient nil checking around **https://github.com/kubernetes-sigs/cluster-api/blob/f072182406e60b1c3b6325b95e9521c1725a3d75/exp/addons/internal/controllers/clusterreso

[2022-01-20 13:25] killianmuldoon commented on #5961
Related: https://community.pivotal.io/s/article/5000e00001pJyN41611954332537?language=en_US

[2022-01-20 14:03] sbueringer opened #5963 "Run periodic unit/integration test against the minimum supported Kubernetes version"
Currently, we're running our unit/integration tests periodically against a management cluster with Kubernetes 1.23.1 ([config](https://github.com/kubernetes/test-infra/blob/fa11afa35cb290b1b87403e21f6e718d32571160/config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-main.yaml#L2-L24)).

Let's add a new periodic which does the same but with Kubernetes 1.19.2.

The idea is to essentially co

[2022-01-20 14:04] sbueringer commented on #5963
/good-first-issue

[2022-01-20 16:19] #4681 closed

[2022-01-20 16:44] sbueringer commented on #5952
Short update. CAPI v0.4 & v1.0 updates from 1.22=>1.23 are green again. 1.23=>latest will be fixed by improving KCP.

[2022-01-20 16:50] killianmuldoon commented on #5952
/assign

I'm going to tackle the KCP part. Good to see yesterday's change worked!

[2022-01-20 16:50] therealak12 commented on #5005
Hi.
If I want to change `ControlPlaneEndpoint` value, is there a clear solution to handle side effects?
Or I should consider recreating the cluster?

[2022-01-20 17:08] sbueringer commented on #5005
If it's comparatively easy for you to re-create the cluster, it's probably easier.

I would expect that you have to change some fields in CAPI and then figure out how to update the
config of everyone who was using the old endpoint. CAPI generates a kubeconfig to access the cluster in a secret.
I'm absolutely not sure who else is affected, but it probably includes kubelet on all nodes.

[2022-01-20 17:11] therealak12 commented on #5005
Got my answer, Thanks for your fast and complete response @sbueringer.

[2022-01-20 17:28] killianmuldoon commented on #5289
@sbueringer Do you think this task would need anything additional to your video in the book?

[2022-01-20 17:29] invidian commented on #4279
/remove-lifecycle stale

[2022-01-20 17:29] invidian commented on #4278
/remove-lifecycle stale

[2022-01-20 17:51] sbueringer commented on #5289
I think the video + hackmd should be complete

[2022-01-20 17:54] sbueringer commented on #4938
@fabriziopandini WDYT, could this be a good first issue with some more actionable information what to do (and where)?

[2022-01-20 17:56] killianmuldoon commented on #5289
Can you add a Fixes on that PR so this will close once it merges? I think that has to be in the PR description for the automation to work, right?

[2022-01-20 18:16] sbueringer commented on #5289
Tested, has to be in the PR description & done

[2022-01-20 18:19] elmiko commented on #4681
wondering if this is something we should keep open? seems like i kinda forgot about it after the initial discussion. @JoelSpeed @vincepri wdyt?

[2022-01-20 18:21] #5289 closed

[2022-01-20 18:25] fabriziopandini commented on #4938
TBH I don't think this qualifies as a good first issue, given it is required to skim through the entire codebase and make evaluations case by case

[2022-01-20 18:26] fabriziopandini commented on #5123
/lifecycle frozen

[2022-01-20 18:26] fabriziopandini commented on #5347
/remove-lifecycle stale

[2022-01-20 18:56] fabriziopandini commented on #5145
/remove-lifecycle stale

[2022-01-20 18:57] fabriziopandini commented on #3881
/remove-lifecycle stale

[2022-01-20 18:58] fabriziopandini commented on #5457
/remove-lifecycle stale
/help

[2022-01-20 18:59] fabriziopandini commented on #5325
/remove-lifecycle stale

[2022-01-20 19:47] fabriziopandini commented on #5392
/remove-lifecycle stale

[2022-01-20 19:48] fabriziopandini commented on #5370
/remove-lifecycle stale

[2022-01-20 19:50] fabriziopandini commented on #3486
/remove-lifecycle stale

[2022-01-20 19:50] fabriziopandini commented on #5263
/remove-lifecycle stale

[2022-01-20 19:51] fabriziopandini commented on #5230
/remove-lifecycle stale

[2022-01-20 19:53] fabriziopandini commented on #5240
@sbueringer I see a couple of PR merged, is there something left on this issue or can we close?

[2022-01-20 19:54] fabriziopandini commented on #5218
/lifecycle frozen

[2022-01-20 19:56] fabriziopandini commented on #5222
/lifecycle frozen

[2022-01-20 19:57] fabriziopandini commented on #5433
@sbueringer @killianmuldoon to re asses

[2022-01-20 20:28] fabriziopandini commented on #5341
/remove-lifecycle stale
this could be relevant also for https://github.com/kubernetes-sigs/cluster-api/issues/5222#issuecomment-943422381 (option 2)

[2022-01-20 20:29] fabriziopandini commented on #5453
/remove-lifecycle stale

[2022-01-20 20:29] fabriziopandini commented on #5450
/lifecycle frozen

[2022-01-20 20:30] fabriziopandini commented on #5451
@sbueringer it seems that a PR merged, can we re-assess and eventually close?

[2022-01-20 20:48] fabriziopandini commented on #5393
/remove-lifecycle stale

[2022-01-20 20:49] fabriziopandini commented on #5398
/remove-lifecycle stale

[2022-01-20 20:49] fabriziopandini commented on #5404
@ykakarap to re-assess

[2022-01-20 20:50] fabriziopandini commented on #5405
/remove-lifecycle stale
@sbueringer to re-assess

[2022-01-20 20:57] fabriziopandini commented on #5332
/remove-lifecycle stale

[2022-01-20 21:00] fabriziopandini commented on #5309
/remove-lifecycle stale
The package now is in a position where it can be used across all the controllers

[2022-01-20 21:02] fabriziopandini commented on #5291
/lifecycle frozen

[2022-01-20 21:03] fabriziopandini commented on #5026
/remove-lifecycle stale

[2022-01-20 21:05] fabriziopandini commented on #4902
The graduation of this feauture in kubeadm depends on kubelet work still being defined.
let's keep this on hold until the above point is sorted out
/remove-lifecycle stale

[2022-01-20 21:17] fabriziopandini commented on #5961
Good catch! this is a candidate for backporting, also putting in the release as blocking, but we re-evaluate

/milestone v1.1
/kind release-blocking

[2022-01-21 00:18] AartiJivrajani commented on #5961
/assign @AartiJivrajani

[2022-01-21 05:53] niladrih commented on #5961
/assign @niladrih

[2022-01-21 05:56] niladrih commented on #5963
/assign

[2022-01-21 07:56] sbueringer commented on #4938
I was thinking of doing that part myself and then producing a list here what exactly has to be done

[2022-01-21 08:06] sbueringer commented on #5405
@fabriziopandini To summarize:
* In a regular CAPI update we update core CAPI, the bootstrap, the controlplane and the infra provider.
* for this issue it's relevant that either the bootstrap provider or the infra provider used in the MachineSet is updated
* when the MachineSetReconciler updates either of the references in the MachineSet because of that, this issue is automatically mitigated (beca

[2022-01-21 08:08] sbueringer commented on #5405
If we want to mitigate that edge case ,we could add code which adds the prefix to the version field during each reconcile (if necessary).

I think I would prefer avoiding that, if we don't have to.

[2022-01-21 08:10] sbueringer commented on #5451
@fabriziopandini That was only an issue which was closed in favor fof the current one.

[2022-01-21 08:14] sbueringer commented on #5433
@fabriziopandini I think the behavior is correctly.

While we have 3 `.status.replicas`, we have 0 `.status.readyReplicas`. In most cases I saw this the difference was if CNI is deployed or not (aka if the nodes are ready).

Except if we want to change the behavior and consider a MachineSet which has all replicas completely rolled out even if they are not ready.

[2022-01-21 08:29] sbueringer commented on #5240
@fabriziopandini I think the following is open:
* missing documentation that we're propagating .template.metadata of InfrastructureMachineTemplates and BootstrapConfigTemplates
    * we recommended in the v1alpha4=>v1beta1 migration doc that template resources should have template.metadata:

* KubeadmConfigTemplateResource does not have ObjectMeta vs. the documentation in our book: https://cluster

[2022-01-21 09:15] fabriziopandini commented on #5451
My bad, thanks for pointing it out

[2022-01-21 09:25] fabriziopandini commented on #5405
That's a use case we are not supporting, given that clusterctl ensures that all the providers move up at the same time
I agree we should not fix

[2022-01-21 10:35] JoelSpeed commented on #4681
From a UX perspective, unless we've done something else to cover this, I think we still want some sort of signal if the MHC actions don't manifest into a fixed machine

[2022-01-21 11:39] fabriziopandini commented on #4681
Shouldn't this be a responsibility of a monitoring system to look at external components properly working?

[2022-01-21 11:48] fabriziopandini commented on #5433
Ok, thanks for investigating.
I think we are fine given that CNI should be installed in all the Clusters (but it wasn't in my dev env)

/close

[2022-01-21 11:48] #5433 closed

[2022-01-21 12:01] ksiadz opened #5965 "CRD awscluster state is not updated after succesful change regarding bastion"
**What steps did you take and what happened:**

I modified existing clusters to not have bastion enabled. The events logs suggested it worked fine but awsclusters CRDs state was not updated.

**What did you expect to happen:**
`kubectl get awsclusters`
Output:
`NAMESPACE           NAME                CLUSTER             READY   VPC                     BASTION IP`
`clusters-dev        dev-db

[2022-01-21 13:03] fabriziopandini commented on #5965
moving to Cluster API provider AWS

[2022-01-21 13:37] ksiadz commented on #5965
Okey thank you, will do that and close this one

[2022-01-21 13:37] #5965 closed

[2022-01-21 14:17] killianmuldoon commented on #5957
@srm09 Have you by any chance got the Cluster yamls (with templates and MachineDeployments etc. to reproduce this?

[2022-01-21 14:26] elmiko commented on #4681
i think that's fair @fabriziopandini , my concern is that i think the mhc controller should have some way of indicating that it has sent out for external remediation, but that it has not completed yet.

[2022-01-21 15:23] sbueringer opened #5967 "Tasks for CAPI release v1.1"
### During the release cycle

* [ ] GitHub milestone
    * Create the new milestone
    * [TBD] Move issues
    * Update the [milestone_applier config](https://github.com/kubernetes/test-infra/blob/0b17ef5ffd6c7aa7d8ca1372d837acfb85f7bec6/config/prow/plugins.yaml#L371) accordingly
* [ ] Update top-level metadata.yaml
* [ ] Book:
    * Add a new migration doc for provider implementers
* [ ] Check i

[2022-01-21 15:26] sbueringer opened #5968 "Tasks for Kubernetes v1.24"
This issue is tracking the list of tasks that should be implemented when Kubernetes v1.24 is released. **Currently, we are waiting for the Kubernetes release**

* CI:
    * [x] CAPD: #6513
        * `docker.yaml`: `KUBERNETES_` env vars in `variables`
        * kind_provider.go, docker/*, ... (just grep for the previously used version in CAPD)
    * [x] Jobs: https://github.com/kubernetes/test-inf

[2022-01-21 18:57] sbueringer opened #5970 "Create jobs for the release-1.1 branch"
Hey folks,
the release-1.1 branch has been created. Now we can setup the jobs in test-infra for that branch.

We have to do the following:
* Add the new `sig-cluster-lifecycle-cluster-api-1.0` dashboard group and dashboard in https://github.com/kubernetes/test-infra/blob/ff46c2790d6d0f795a5aacaa96ecd307da230605/config/testgrids/kubernetes/sig-cluster-lifecycle/config.yaml
* Copy `cluster-api-perio

[2022-01-21 18:59] sbueringer commented on #5967
Release branch has been created, now we can create the jobs and the dashboard. I've created a separated issue for that: https://github.com/kubernetes-sigs/cluster-api/issues/5970 (help wanted)

[2022-01-21 19:38] alexander-demichev commented on #5970
/assign

[2022-01-23 12:19] dntosas commented on #493
hey team, thanks for the nice job!

this actually seems to be a mandatory feature on most cloud environments. is this still tracked for v1.1?

[2022-01-24 09:56] neolit123 commented on #493
I read the proposal last week and i think it was missing one minor detail
whether label values will play a role when syncing. Labels are a key=value
tupple and nodeselectors do care about the value part.

[2022-01-24 11:07] fabriziopandini commented on #5968
/milestone v1.1

[2022-01-24 11:22] fabriziopandini commented on #5957
/milestone v1.1

[2022-01-24 11:22] sbueringer commented on #5260
We've created issue to track tasks for CAPI v1.1/v1.2 and Kubernetes v1.24:
* https://github.com/kubernetes-sigs/cluster-api/issues/5968
* https://github.com/kubernetes-sigs/cluster-api/issues/5967

There are probably a few things missing which we'll add over time. I also think these issues will evolve from one release to another as our processes/code changes.

I'm not sure if we should - in addit

[2022-01-24 12:00] sbueringer commented on #5968
/lifecycle frozen

[2022-01-24 12:57] #5970 closed

[2022-01-24 14:20] killianmuldoon opened #5975 "CAPD: Inconsistent Load Balancer Behaviour on Mgmt Cluster deletion and recreation"
When the management cluster with the Docker Infrastructure provider is deleted the containers backing it up the DockerMachines are not deleted. This can cause a number of problems on a user machine as a number of containers not seen by Cluster API continue to run.

Step by step:
1. Create a management cluster and create a workload cluster using docker infrastructure. (**cluster apply 1**)
1. Delet

[2022-01-24 14:39] sbueringer commented on #5975
I think it's expected behavior that CAPD doesn't do anything in step2, as for CAPD the Cluster resources are all still there and it only gets a terminate signal (at best).

I think the problem is in step 3 where we:
* are creating new machines (instead of using the existing ones)
* are re-using the original lb container
* are adding old and new machines to the lb configuration of the lb container

[2022-01-24 14:42] sbueringer commented on #5975
/area provider/docker

[2022-01-24 15:18] killianmuldoon commented on #5957
I think @ykakarap and I have reproduced this issue after making some assumptions about the set up. We've identified two separate problems:

1) Machines being recreated on restore
This could be reproduced by specifying the same selectors on each of the MachineDeployments. When all of the MDs shared selectors adoption of the MachineSets was non-deterministic. There was a race condition and any MD co

[2022-01-24 15:28] ykakarap commented on #5957
Note: The proposed alternate solution for the `Machines being recreated on restore` problem will fix the problem in most cases. However, the problem could still persist when the controller picks up stale cache (a race case). The best practice would be to always pause and unpause the cluster.

[2022-01-24 15:44] alexander-demichev commented on #5967
does this mean adding a job for upgrading v1.1 to main?

[2022-01-24 16:04] sbueringer commented on #5967
Good question. v1.1 had/has:
* clusterctl v0-3 to main
* clusterctl v1-0 to main
* capi-e2e-main tests v0-4 to main (as the docker.yaml on main/v1.1 is configured to upgrade from v0.4)

I think for v1.2 we only have to adjust the `clusterctl v1-0 to main` job to upgrade from v1-1 to main.

The idea is to then have jobs which test from the latest release of each currently supported contract version

[2022-01-24 16:05] sbueringer commented on #5967
@fabriziopandini Please correct me if I'm wrong.

[2022-01-24 17:21] killianmuldoon commented on #5260
That's what I was thinking with this issue orignally, but I didn't get around to it. I'll work on getting something into the book for just after this release cycle.

[2022-01-24 17:24] sbueringer commented on #5260
I'll try to keep the umbrella issues and the issues linked there complete.

[2022-01-25 06:00] mkumatag commented on #5709
/assign @Karthik-K-N

[2022-01-25 09:28] fabriziopandini commented on #5394
/lifecycle frozen

[2022-01-25 09:28] fabriziopandini commented on #5470
/lifecycle frozen

[2022-01-25 09:29] fabriziopandini commented on #5709
/milestone v1.1

[2022-01-25 12:51] fabriziopandini commented on #5967
I agree, what is important is to test upgrades where something relevant changes (e.g API version) + upgrade from the latest version, so we need coverage for
- v0-3 to main
- v0-4 to main
- v1-1 to main (that should replace clusterctl v1-0 to main)

[2022-01-25 13:37] fabriziopandini commented on #5975
TBH I don't think there is something we should fix until we define a shared set or rules/a sort of contract that all the providers should comply with in order to deal with existing infrastructure. In other words, IMO re-starting a cluster without properly cleaning up the previous incarnation of the same cluster is not a supported use case in CAPD (and most probably in other containers as well).

W

[2022-01-25 14:31] alexander-demichev commented on #5967
I guess we'll also need to bump versions here https://github.com/kubernetes-sigs/cluster-api/blob/main/cmd/clusterctl/hack/create-local-repository.py#L56?

[2022-01-25 15:33] sbueringer commented on #5967
Yes. Essentially you have to grep for ~ `v1.1` and take a look what we have to change.

[2022-01-25 17:18] aartij17 opened #5984 "Missing nil check in `dockerMachineController` while getting ownerCluster"
**What steps did you take and what happened:**
This is a follow up on [this](https://github.com/kubernetes-sigs/cluster-api/issues/5961) where getting the `ownerRef` does not return a cluster. There could be a nil pointer exception due to insufficient nil checking around -
https://github.com/kubernetes-sigs/cluster-api/blob/c6e30491b05f3c6bffed4e456601d6a27439efb0/test/infrastructure/docker/intern

[2022-01-25 17:18] AartiJivrajani commented on #5984
/assign @AartiJivrajani

[2022-01-25 18:01] zmalik opened #5988 "add actual cluster version of workload clusters to status"
**User Story**

As a developer/user/operator I would like to see the actual version of workload/remote clusters in the status of the cluster CR to gain more visibility during upgrades.

**Detailed Description**

To add the cluster version to the `.status.version` fetching the information from the remote clusters  `/version` API endpoint.
This is helpful when doing operations like cluster upgrades.

[2022-01-25 18:12] sbueringer commented on #5988
@zmalik Thx for opening the issue. Can you please take a look at https://github.com/kubernetes-sigs/cluster-api/issues/5341. I think we might be able to deduplicate.

[2022-01-25 18:47] sbueringer opened #5990 "Add a note to versions.md about ClusterClass issues on Kubernetes v1.23.{0,1,2}"
There was an announcement that there is an issue with Kubernetes v1.23.{0,1,2} and CRDs using `x-kubernetes-preserve-unknown-fields: true` (https://groups.google.com/a/kubernetes.io/g/dev/c/Xl1sm-CItaY https://github.com/kubernetes/kubernetes/issues/107690)

ClusterAPI uses preserve unknown fields only for ClusterClass patches and variables:
* ClusterClass: jsonPatches[x].value, openAPIV3Schema.{d

[2022-01-25 18:47] sbueringer commented on #5990
/area topology

[2022-01-25 19:58] zmalik commented on #5988
thanks @sbueringer, somehow missed the other issue when was searching for similar issues.
I will close this one

[2022-01-25 19:58] #5988 closed

[2022-01-25 20:05] dlipovetsky opened #5991 "MachinePool workers support in ClusterClass"
**User Story**

As a user, I would like to create a ClusterClass-based Cluster where workers are managed using MachinePools instead of MachineDeployments. This allows me, for example, to use ClusterClass with an infrastructure provider "flavor" like Cluster API Azure Provider Managed AKS, which supports only MachinePools.

**Detailed Description**

I want to be able to define a ClusterClass where

[2022-01-25 21:07] #5945 closed

[2022-01-26 02:25] liggitt commented on #5990
FYI, v1.23.3 has been released with a fix for kubernetes/kubernetes#107690

[2022-01-26 07:18] sbueringer commented on #5990
Thx!

For completeness, simple arrays like e.g. a string array are not affected.

[2022-01-26 07:50] sbueringer commented on #5516
/remove-lifecycle stale
PR in progress

[2022-01-26 07:50] sbueringer commented on #5516
/lifecycle active
/assign @schrej

[2022-01-26 08:06] sbueringer commented on #5991
Thx for filing this issue.
As mentioned in the linked thread, +1 if we don't have any concerns about embedding support for an experimental feature in another experimental feature (which leaks into the non-experimental Cluster resource :)).

Nit regarding the YAML. I would imagine it to look ~ like this:
[code]

[2022-01-26 08:35] sbueringer opened #5995 "Upgrade to Kubernetes 1.23.3 in Quickstart and CI"
As noted in https://github.com/kubernetes-sigs/cluster-api/issues/5990 there is an edge case in ClusterClass patches which is affected by the CRD issue in Kubernetes 1.23.{0,1,2). I think it would be good to upgrade to that version in our quick start and in CI.

I think we should upgrade the following:

**cluster-api**:
* docs/book/src/user/quick-start.md: v1.23.0 => v1.23.3
* test/e2e/config/dock

[2022-01-26 08:36] sbueringer commented on #5990
I also opened an issue to switch to 1.23.3 in our quickstart doc and in CI: https://github.com/kubernetes-sigs/cluster-api/issues/5995

[2022-01-26 09:26] fabriziopandini commented on #5990
/milestone v1.1

[2022-01-26 09:27] fabriziopandini commented on #5995
/milestone v1.1

[2022-01-26 09:27] fabriziopandini commented on #5995
/good-first-issue
/help-wanted

[2022-01-26 11:32] fabriziopandini commented on #5519
/lifecycle frozen

[2022-01-26 12:44] fabriziopandini commented on #5991
/milestone v1.2

[2022-01-26 13:44] fabriziopandini commented on #5516
/milestone v1.2

[2022-01-26 13:45] fabriziopandini commented on #5984
/milestone v1.1
/area provider/docker

[2022-01-26 14:04] fabriziopandini commented on #5874
/milestone v1.2
@furkatgofurov7 any update on this issue?

[2022-01-26 14:05] fabriziopandini commented on #5963
/milestone v1.2