[2022-11-03 08:38] nunnatsa commented on #7455
/lifecycle active

[2022-11-03 11:21] killianmuldoon commented on #5145
/remove-lifecycle stale

Currently being worked on in #7401

[2022-11-03 11:29] killianmuldoon commented on #7224
It seems there is no upstream solution to this problem - it's been tracked in this issue for the last couple of years:
https://github.com/kubernetes/kubernetes/issues/96650

It would be great if we could get a solution that would also work in Controller Runtime, or in k/k itself to solve this problem across the community, but the first step here might just be to solve it in CAPI e.g. by upgrading

[2022-11-03 11:33] killianmuldoon commented on #6663
In my opinion cluster-templates with ClusterClasses are the maintainable way to go.

Agreed - a compromise might be to heavily comment the manifests and then embed the latest release versions for providers in the CAPI book so that they're well documented, literate, and maintained by providers in those repos.

[2022-11-03 12:44] sbueringer commented on #7224
Yup - as discussed, I agree I think we have to start with a solution for CAPI.

[2022-11-03 12:47] sbueringer commented on #5145
As Killian wrote on the PR this issue is not related to #7401

[2022-11-03 14:19] nilsanderselde commented on #7330
@umesh168 How did you end up fixing it? I'm encountering something similar.

[2022-11-03 14:52] fabriziopandini commented on #5145
/help

[2022-11-03 14:54] fabriziopandini commented on #7021
/lifecycle frozen
/help

[2022-11-03 15:17] fabriziopandini commented on #7353
Thanks for the feedback
I'm closing the issue for now. if you found some problem you could either re-open or create a new issue focused on your findings
/close

[2022-11-03 15:26] fabriziopandini commented on #7461
/triage accepted

I have to look into this and come back with my consideration about the proposed changes, but I agree that the system should reflect changes as soon as possible and there should be consistency between KCP and MD

[2022-11-03 15:34] fabriziopandini commented on #6894
/close
reading the comment above it seems the problem has been addressed.

I would prefer to not support pods ignoring cordon taint for the time being, and reconsider only if there is strong demand for it; also, users can set timeouts and force machine deletion if necessary even if pods gets scheduled on nodes while deleting.

But frankly speaking, I think that the right approach/what we should al

[2022-11-03 15:34] #6894 closed

[2022-11-03 16:07] sbueringer commented on #7216
I think we don't care about this case anymore, given that KCP will just add it again on the next reconcile

@ykakarap @fabriziopandini WDYT, can we close this issue?

[2022-11-03 16:10] sbueringer commented on #7006
Just to provide an update. We included this in this proposal: https://github.com/kubernetes-sigs/cluster-api/pull/7331

[2022-11-03 16:23] fabriziopandini commented on #7216
makes sense for me
/close

[2022-11-03 16:26] #7216 closed

[2022-11-03 17:35] killianmuldoon commented on #6979
/assign

[2022-11-03 17:37] lentzi90 commented on #7475
Thanks for creating the issue! I'm adding some additional information and findings here.

For people interested in this, I recommend checking [this slack thread](https://kubernetes.slack.com/archives/C8TSNPY4T/p1667458956589639) where we are discussing next steps.

@richardcase and me started a [draft proposal document](https://docs.google.com/document/d/1AODZlL7S55gYWKo-iVskzzqp-uKiSmK_P128z_kit1

[2022-11-03 17:57] #7119 closed

[2022-11-03 18:08] sbueringer commented on #7464
Regarding 1. Please see: https://github.com/kubernetes-sigs/cluster-api/issues/5569

I don't necessarily see the benefit in splitting up the Makefile after we spent quite some time moving things into a monolithic Makefile if the goal would be just to make it shorter :)

I think our reason for e.g. dropping the CAPD Makefile was to remove redundant Makefile code and reuse what we already have. But

[2022-11-03 18:12] sbueringer commented on #7120
/close

[2022-11-03 18:26] CecileRobertMichon commented on #7128
I haven’t looked at what k/k does but here is some prior art: https://github.com/Azure/aks-engine/blob/master/.github/workflows/create-release-branch.yaml

The main thing to figure out here is what should trigger the action. Right now the automation is triggered when a tag is pushed, but that requires write permissions on the repo. If we make it a GitHub Action with manual triggers, it would still

[2022-11-03 18:40] ykakarap commented on #7128
Sounds good. I will do some research on what k/k does and see if there are any insights/tools we can use from there. That combined with the PR for release notes to trigger the action sounds like a good idea.

I will report my findings here.

[2022-11-03 18:52] #7448 closed

[2022-11-03 19:18] sbueringer commented on #7128
Agree with all above.

Just small clarification. The following actions require additional permissions today:
* create a GitHub milestone (I would ignore this one for now)
* create a release branch
* create a tag
* create/update/publish a release

[2022-11-03 19:26] mrog commented on #7353
This looks like a combination of at least two issues.  I can partially fix it in EKS-A by adding the machine health checks and CNI earlier in the cluster creation process.  This allows MHC to remediate worker machines.  There are still sometimes failures in EKS-A after MHC does this, and I'm investigating the reason for that.  So, for worker machines, this seems to be an EKS-A issue.

CP machines

[2022-11-03 19:41] fabriziopandini commented on #7353
from a first look this should be fixed in EKS-A, not sure what we can do to help here

[2022-11-03 19:46] fabriziopandini commented on #7030
in CAPI we can give some general guidelines, but documentation for each infrastructure should be implemented in each provider.

if we want to fix this properly, one possible approach is to implement additional validation webhooks for CAPI resources in providers, but this seems out of scope of the current request so eventually this + follow up discussions should be moved to a separated issue

/life

[2022-11-03 20:06] fabriziopandini commented on #3881
/lifecycle frozen
/help

even if there are conflicting requirements between this issue and https://github.com/kubernetes-sigs/cluster-api/issues/3247, finding a way forward could help people using Cluster API without cluterctl

[2022-11-03 20:09] fabriziopandini commented on #6216
/lifecycle frozen
/unassign @pydctw
/help

[2022-11-03 20:10] fabriziopandini commented on #6807
/lifecycle frozen

[2022-11-03 20:12] fabriziopandini commented on #3661
/lifecycle frozen
@richardcase @jackfrancis  this is something to be considered for the managed Kubernetes work

[2022-11-03 20:14] fabriziopandini commented on #6613
/lifecycle frozen
/help

cc @ykakarap possible improvement to the release automation

[2022-11-03 20:23] sbueringer commented on #6613
Disclaimer: Probably hard to automotate entirely as we don't want to use personalized GitHub tokens and it's non trivial to push to community owned forks like the cherry pick bot.

But maybe there's prior art or ways to optimize the manual process a bit

[2022-11-03 20:26] fabriziopandini commented on #6613
I was thinking something like kpromo, so we create the PR automatically but using personal github token
but I agree the first step should be checking how this is done in K8s

[2022-11-03 20:28] fabriziopandini commented on #6903
/lifecycle frozen
/help

[2022-11-03 20:29] fabriziopandini commented on #6901
/lifecycle frozen
/assign
I have started collecting some ideas on this topic, I will start moving this to a doc soon

[2022-11-03 20:30] fabriziopandini commented on #6945
/lifecycle frozen
/help

[2022-11-03 20:32] fabriziopandini commented on #6904
/lifecycle frozen
/help

We can also consider adding the required information to metadata.yaml

[2022-11-03 21:25] oscr commented on #6867
@fabriziopandini Maybe this is also good first issue? It seems like a pretty straight forward task with plenty of interesting things to learn. Otherwise I can likely have it done by the weekend.

[2022-11-03 22:53] pradipd opened #7492 "CAPI is stuck draining a node"
**What steps did you take and what happened:**
The sequence of steps were:
1. Rebooted the VM and all these pods started to run again.
2. Many pods reached the Pending phase with containerstatus == containercreating.
3. Initiated the upgrade.
4. the upgrade is struck in node draining.

In the logs we can see the following "global timeout reached: 20s, error when waiting for pod" for numerous pods.

[2022-11-03 23:39] mrog commented on #7353
I agree.  That part is an EKS-A issue, and I think I have a fix for it.  But we're still faced with CAPI's inability to remediate CP machines that fail during cluster creation.

[2022-11-04 02:22] ykakarap commented on #6867
+1 to making it a good first issue. Lets see if others might be interested in working on it after making it a good first issue. If not feel free to take it up.

[2022-11-04 05:46] pradipd commented on #7492
Note: I put the wrong CAPI version when I filed this issue.
The correct version is 0.4.2.  I have updated it above as well

[2022-11-04 05:53] mweibel commented on #6448
Yes exactly. It's logged by cloudbase init (windows) but only once it's done. I believe (but since linux usually just works, haven't checked in detail) on linux this works. On windows not so much.

One issue we still face (using CAPZ + MachinePools) is that the updated bootstrrap tokens don't reach the VMSS (https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/2683). That's CAPZ +

[2022-11-04 06:45] sbueringer commented on #6448
I think I remember that I also had to wait on Linux until kubeadm join / init (or rather all run commands in cloud-init) are done to get logs. It's a bit annoying.

IIRC (it's been a while) `journalctl -f` also receives does logs while they are produced.

[2022-11-04 08:46] #7429 closed

[2022-11-04 10:44] killianmuldoon commented on #7492
This error means that the Kubernetes client is not able to delete the pods. It seems that the pods you've described aren't in a healthy state currently, however. Are you able to delete any of them manually? Do you know why they appear to be stuck in `containerCreating` ? Is the kubelet in a healthy state on this node?

[2022-11-04 10:56] richardcase opened #7494 "Managed Kubernetes in CAPI"
/kind design
/kind api-change
/area api

**User Story**

As a cluster service consumer, I want to use Cluster API to provision and manage Kubernetes Clusters that utilize my service provider's Managed Kubernetes Service (i.e. EKS, AKS, GKE), So that I don’t have to worry about the management/provisioning of control plane nodes, and so I can take advantage of any value add services offered by the s

[2022-11-04 12:45] hiromu-a5a commented on #7043
Hi,
If there's no assignee I can handle it based on the idea described in https://github.com/kubernetes-sigs/cluster-api/issues/7043#issue-1333875124. Could I working on it (would you allow me to do `/lifecycle active`?)

[2022-11-04 12:54] oscr commented on #6867
Great! I'll give it a few weeks and we'll see if we have any takers.

[2022-11-04 13:30] umesh168 commented on #7330
@nilsanderselde try pull haproxy image manually.

[2022-11-04 14:38] jweite-amazon opened #7496 "KCP Doesn't Remediate Faulty Machines During Cluster Formation"
**What steps did you take and what happened:**
* Defined a CAPI/CAPC cluster with three CAPC failure domains, one of which used a network that was not routable, to simulate a transient network failure our client experiences.
* Launched a single replica KCP and confirmed its machine became a node.  (Repeated if it was assigned to the "bad" failure domain until it was assigned to one of the two "goo

[2022-11-04 15:52] sbueringer commented on #7128
@ykakarap Let's please also ask around in sig-testing / sig-k8s-infra / release team channels if there is already tooling to automate one of the things I mentioned in the comment above.

Obviously they have tooling to manage things like GitHub orgs & teams. So we're not too far off with what we want. There also might be a chance for collaboration with one of those SIGs.

[2022-11-04 15:54] sbueringer commented on #6613
Sounds good as a fallback.

Just remembered that kubectl is available via homebrew, so we can definitely ask the k/k release team how they are doing it.

[2022-11-04 16:12] fabriziopandini commented on #6867
If you want to make this a good first issue it is required to give some more details about which command help should be improved, otherwise if the task requires some research/knowledge of the codebase

[2022-11-04 16:17] fabriziopandini commented on #7494
/triage accepted

[2022-11-04 16:28] killianmuldoon commented on #7496
This is as-designed right now - KCP will not do re-mediation based on MHC until there are at least the number of healthy desired KCP machines running. This is to ensure stability when a cluster is coming up. On your unhealthy machine you should see a log like:

`KCP waiting for having at least 3 control plane machines before triggering remediation`

If that's there then MHC is correctly labelling

[2022-11-04 16:36] pradipd commented on #7492
Interesting.  How do you know the pods aren't in a healthy state?
I *assumed* it was just a timing issue between when the pods were restarting (due to the reboot) and when the upgrade was initiated.

We did not try to delete them manually as this in a customer site.  Our thinking is CAPI (or k8s?) would delete the pods on the drain.

as best as i can tell, kubelet is healthy.  When the drain start

[2022-11-04 16:56] killianmuldoon commented on #7492
I'm not sure as I don't have the full picture here. It sounded like the pods are stuck in containerCreating if that's not the case then it's irrelevant.

FYI CAPI v0.4.2 has been out of date since April 2022 - https://cluster-api.sigs.k8s.io/contributing#support-and-guarantees

[2022-11-04 17:15] jweite-amazon commented on #7496
Thanks for that feedback @killianmuldoon.  I certainly don't know the basis behind the design decision here (i.e., why remediating during CP formation is risky).  Its downside, as demonstrated, is that the partially provisioned CP will remain stuck in that state: the new CP machine can never join the cluster, and CAPI keeps waiting for it to.  Stable, yes, but not in a useful way.  I'd like CAPI t

[2022-11-04 17:44] jackfrancis commented on #7494
@richardcase thank you for this, very succinctly stated and with all the important items. 🙏

I would like to call out how this proposal effects our "consistency across cloud providers" objective. You mention in the description several real-world issues that make consistency a challenge in the current landscape (in practice it would mean all cloud providers committing to either option 2 or 3 as def

[2022-11-04 17:52] CecileRobertMichon commented on #7043
Hi @hiromu-a5a, feel free to comment `/assign` if you'd like to work on it

/lifecycle active

[2022-11-04 17:53] killianmuldoon commented on #7496
The major risk at this point is that the etcd cluster is knocked into a state that it can't automatically recover from - e.g losing the leader, losing the majority.

Given that this is happening at bootstrap time it's probably easier and faster to just automatically restart if you're confident the KCP machine failure is something flaky, rather than something clearly wrong with the underlying infra

[2022-11-04 17:58] pradipd commented on #7492
I'm not sure if the pods are stuck or not.  there are a lot of pods.
They were scheduled at 20:43 and the update started around 21:10.
But, even if they are unhealthy, why are waiting?  They aren't even running.

[2022-11-04 18:00] pradipd commented on #7492
One more update. it looks like the update did succeed!
it took ~2 hours for the node to drain and the new worker node to come up (we are doing a scale in).

[2022-11-04 18:46] fabriziopandini commented on #7473
Given this is something that impact everyone who does bootstrap pivot I think that we should implement a minimal fix in clusterctl (~same of the example linked above), and cherry-pick it to the 1.2 branch

then, while working at SSA for label/annotation propagation we can eventually consider if to add a more sophisticated fix.

[2022-11-04 19:26] sbueringer opened #7500 "🎉 #7500"
Great work everyone :)

[2022-11-04 19:40] sbueringer commented on #7486
Update: We will probably wait until our December release with this cherry-pick, given that upstream waits a bit longer as well so they have more time for communication.

[2022-11-04 19:56] chrischdi commented on #7500
/lgtm 😅

[2022-11-04 20:27] fabriziopandini commented on #7496
/triage accepted

I agree this is an interesting new use case to cover if we can find a safe, stable way to do this

Some context that I hope can help in shaping the discussion:

- KCP remediation was not originally designed for acting with less than 3 nodes;
- in a follow-up iteration, we relaxed some of the original constraints in order to support remediation errors during the rollout of single

[2022-11-04 20:28] CecileRobertMichon commented on #7500
/triage accepted 😉

[2022-11-04 20:29] fabriziopandini commented on #7500
🍰 🥳

[2022-11-04 20:45] fabriziopandini commented on #7492
/close
Happy to see the problem has been fixed

just for context, CAPI relies on kubectl drain code and we just add on top only some optional timeouts the users can set to avoid the machine being indefinitely stuck in deletion; also, CAPI does not have any control impact on the container state, which is managed by kubelet.

All of this is to argue that if there was a problem my wild assumption is

[2022-11-04 20:45] #7492 closed

[2022-11-04 20:51] braghettos commented on #7424
Ok so we should open another issue regarding the opportunity to write a Kubernetes event for every new condition for every Custom Resource - but originally this issue was open by myself because we're missing the opportunity to write a Kubernetes event "when the cluster is Ready", which IMHO should translate into the possibility to schedule pods on worker nodes. Is there already a condition represe

[2022-11-04 21:22] pydctw commented on #7494
Great write up, @richardcase.

I also want to add what I heard from managed Kubernetes customers in the community.  As pointed out in @jackfrancis's [CAPZ Managed Kubernetes evolution proposal](https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2739), the typical customer persona is a Cluster API, multi-cloud, Managed Kubernetes customer first of all and what they care about is con

[2022-11-04 21:50] pradipd commented on #7492
@fabriziopandini  @killianmuldoon   Thank you for the information and help.
I can see the call to k8s drain here:
https://github.com/kubernetes-sigs/cluster-api/blob/5b4efa180f710cc6bb83784f64717e05d2607ef2/internal/controllers/machine/machine_controller.go#L622

[2022-11-04 22:02] Jont828 opened #7501 "Support configuring the e2e test image name using a variable"
**User Story**

As a developer, I would like to be able to run the e2e tests using `make test-e2e` or `./scripts/ci-e2e.sh` using a custom image name and tag rather than having it be hard coded to `gcr.io/k8s-staging-cluster-api/cluster-api-controller-{ARCH}:dev`.

**Detailed Description**

I'm building a pipeline that builds the CAPI images with a custom image name, and I'd like to be able to val

[2022-11-04 22:02] Jont828 commented on #7501
@CecileRobertMichon

[2022-11-04 22:03] fabriziopandini commented on #7494
Frankly speaking, I think we should be really careful in taking this path
Most of the value of Cluster API is having a common abstraction over different types of infrastructure, enabling higher-level tools to build truly multi-cluster/multi-infrastructure in a very effective way.

So, in my humble opinion, this task should be about how to embrace managed Kubernetes while preserving a common abstra

[2022-11-04 22:34] mtougeron commented on #7424
I think this is a great opportunity to write these events. I'm fully supportive of it and if, when I get a moment, no one else has picked it up, I'd love to work on it.

My 2c is that I think you've put forward a reasonable definition of `Ready` from a CAPI point of view but I also agree with @fabriziopandini that some of it might be dependent on the individual providers; especially when it comes

[2022-11-05 03:02] k82cn commented on #7475
Thanks for your inputs; this requirements is more about a new control plane. For mixed provider, I'd like to contribute :)

[2022-11-05 15:21] LuBingtan commented on #7466
Hi, I'd like to open a PR for this issue
/assign

[2022-11-05 15:35] LuBingtan commented on #7466
https://github.com/kubernetes-sigs/cluster-api/pull/7502  PTAL :smile:
Thanks!

[2022-11-05 18:25] hackeramitkumar commented on #7441
/triage accepted

[2022-11-05 19:05] oscr commented on #6867
@fabriziopandini Good point. I've updated with more details about what commands to run, what files to change, how to change and how to test. Please take a look if you're happy with it otherwise I will add more details.

[2022-11-05 23:50] jayunit100 commented on #7147
.... Agree nothing beats a lavish grafana dashboard but in chaotic situations a "dumb" alternative is needed.

What's the workaround for people experiencing a netsplit from wL etcd ... running hundreds of clusters, and not enabling prometheus at the mgmt layer?

[2022-11-06 00:10] jayunit100 commented on #7147
@fabriziopandini  prometheus histograms.... dont they  already give us this for free in memory ?  I don't see the persistent state corrallary.  But I agree this shouldn't be an overblown crd / api level thing. More like a logging point in time heuristic.

[2022-11-06 21:42] oscr commented on #7464
Thanks for the great reply with history. In hindsight "simplify" in the title was a bad choice of words :)

For 1 I was hoping for more native go tooling and thereby being able to use dependabot to bump ginkgo etc. This would automatically notify us of new versions and possible breakages. But I understand the reasoning behind the change now.

What I liked about [test-infra](https://github.com/kube

[2022-11-07 06:10] hiromu-a5a commented on #7043
/assign

[2022-11-07 07:29] erkanerol commented on #6588
@fabriziopandini  From my point of view, any controller should add a finalizer into a custom resource if the controller requires that custom resource to proceed when the custom resource is deleted. This rule must be followed by each controller in the dependency hierarchy/tree regardless of use cases.

[2022-11-07 10:10] kundan2707 commented on #7501
/check-this

[2022-11-07 10:59] sbueringer commented on #7472
/reopen
until the cherry-pick is merged as well: https://github.com/kubernetes-sigs/cluster-api/pull/7505

[2022-11-07 11:12] #7247 closed

[2022-11-07 11:46] sbueringer commented on #7500
Party over, back to work :joy:

/close

[2022-11-07 11:46] #7500 closed

[2022-11-07 12:36] sbueringer commented on #7466
Thx!

Thx & kudos to @naveensrinivasan for bringing this up initially via https://github.com/kubernetes-sigs/cluster-api/pull/6341

[2022-11-07 12:50] #7466 closed

[2022-11-07 15:58] fabriziopandini commented on #7501
I kind of remember discussing this recently in some other threads but I can't find them now, but this is hard to achieve because image name should be consistent in a couple of places (test config, scripts running tests in ci, makefiles running tests locally, also probably tilt, but not 100% sure), and there is no way to ensure a clean flow of this information given all the possible scenarios/diffe

[2022-11-07 16:45] sbueringer commented on #7501
I 100% agree with Fabrizio. In addition, our scripts / Makefile / ... are already complex and hard to maintain. I think this would add additional complexity and I'm not sure if adding more complexity is worth it in this case.

I think if you want to use your own images you can also build the images in the way you want and then use your own e2e config file with `replacements`.

[2022-11-07 16:58] richardcase commented on #7494
I agree @fabriziopandini 👍  The desire to keep managed / unmanaged as close as possible in the long term will be carefully considered. I think there are ways to do that whilst still being more implementation friendly to the managed provider implementors.

[2022-11-07 17:19] ykakarap opened #7510 "self-hosted E2E tests should also make sure that `clusterctl` does not own any fields at the end of the move operation"
**Detailed Description**

https://github.com/kubernetes-sigs/cluster-api/pull/7504 fixes the issue that `clusterctl move` takes ownership of all the fields of the clusters causing  potential ownership conflicts.
The E2E tests should now also make sure to check that the `clusterctl move` operation not give `clusterctl` ownership of any of the fields.

**Anything else you would like to add:**

[Misc

[2022-11-07 17:19] jackfrancis commented on #7494
The challenge here is that we have a trade-off in terms of *what* to prioritize for "close"-ness.

1. self-managed clusters and managed clusters on capi share a common API
  - in this scenario we will probably have to accept that that common API will _behave_ slightly differently between managed and unmanaged
2. preserve existing capi behavior for self-managed clusters
  - in this scenario we are

[2022-11-07 17:23] sbueringer commented on #7501
Would definitely reduce the scope from having it parameterizable through the entire chain (starting with script/ci-e2e.sh that we only use in Prow) to only the make target. (and having to keep that entire chain working over time).

I think we would need this 4x as we have 4 images in core CAPI e2e tests.

I think you could try it. We are also doing this when we run `make docker-build-e2e` to chang

[2022-11-07 17:26] fabriziopandini commented on #7501
We are going down the rabbit hole...

A change in the makefile you will generate images with the new name, but then CI will fail because of old names hard-coded in https://github.com/kubernetes-sigs/cluster-api/blob/4484e6b5a3a33d714f82b43fc7130b7bed5da482/test/e2e/config/docker.yaml#L12-L27 and https://github.com/kubernetes-sigs/cluster-api/blob/4484e6b5a3a33d714f82b43fc7130b7bed5da482/scripts/ci

[2022-11-07 17:27] sbueringer commented on #7501
The docker.yaml part should be only relevant if you don't push the images. If you push them to a registry the `tryLoad` doesn't have to load them.

[2022-11-07 17:33] fabriziopandini commented on #7501
It will make a couple of tests to fail locally, e.g. self hosted

[2022-11-07 17:36] fabriziopandini commented on #7510
/triage accepted
/milestone v1.3

I will put this in the 1.3 milestone given that this can merge also after RC, but we can eventually reconsider if we don't have bandwidth

[2022-11-07 17:38] fabriziopandini commented on #4063
/lifecycle frozen
/help

[2022-11-07 18:29] srm09 commented on #7224
Replicating this in CAPV as an investigation issue. 💯

[2022-11-07 18:30] fabriziopandini commented on #6867
/good-first-issue

[2022-11-07 18:36] fabriziopandini commented on #6448
@mweibel thanks for reporting back
I'm closing this for now
/close

[2022-11-07 18:36] #6448 closed

[2022-11-07 18:44] #6511 closed

[2022-11-07 19:16] #7473 closed

[2022-11-07 19:17] fabriziopandini commented on #7353
Thanks for reporting back feedback from EKS-A
if the remaining part is implemented in KCP remediation while provisioning the cluster, then this is a duplicate of https://github.com/kubernetes-sigs/cluster-api/issues/7496

Let's continue discussion there
/close

[2022-11-07 19:19] #7353 closed

[2022-11-07 19:26] CecileRobertMichon commented on #7501
For docker.yaml

If tryLoad fails that's okay, it doesn't fail the overall test. If the images are available to be pulled from the registry even self-hosted test should pass.

For ci-e2e-lib.sh

We could just change those bash exports to default instead, eg.
` export REGISTRY="${REGISTRY:-"gcr.io/k8s-staging-cluster-api"}"`

[2022-11-07 19:29] fabriziopandini commented on #7501
This doesn't work for docker in docker, because containerd inside workers cannot pull images from the docker instance in the host

[2022-11-07 19:35] sbueringer commented on #7501
Theoretically yes, but the self hosted test with Docker is using "load image". And it loads it from the locker docker engine.

Image names are taken from docker.yaml | images

[2022-11-07 19:42] CecileRobertMichon commented on #7501
Ah that's unfortunate 😓 I think that's why we had to fork the self-hosted thest in CAPZ https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/test/e2e/azure_selfhosted.go (loading the image doesn't work for anything that isn't kind).

@Jont828 would you able to test with `make set-manifest-image` and seeing what breaks? If we just have to skip the self-hosted cluster test for now

[2022-11-07 19:49] sbueringer commented on #7501
Nope, should be all properly branched

[2022-11-07 19:53] sbueringer commented on #7501
IIRC CAPA uploads controller images before they trigger our test spec, but they are using it

[2022-11-07 20:09] CecileRobertMichon commented on #7501
Aah you're right, looks like it was introduced in https://github.com/kubernetes-sigs/cluster-api-provider-azure/commit/1aa9837cd2f9d9efe4e4eaceacb22a1b55e13969#diff-b3030e822260e7cdffc1567e8416af8e9e915d7d6830f7b92078e2e51a4dbcbaR52, something to do with moving the AzureClusterIdentity to the workload cluster that wasn't working at the time if I remember correctly... We should re-evaluate whether

[2022-11-07 21:13] Jont828 commented on #7501
I ran `make docker-build REGISTRY=jont828 PULL_POLICY=IfNotPresent` which also calls `make set-manifest-image` and it looks like it doesn't change anything in the `docker.yaml` file that Fabrizio pointed out.

[2022-11-07 23:19] mrog commented on #7353
I agree with closing the issue at this time.  Let's use #7496 for the CAPI changes.  The needed EKS-A changes are at https://github.com/aws/eks-anywhere/issues/3979.

[2022-11-08 01:34] shyamradhakrishnan commented on #7494
@jackfrancis we need to understand the flaws of the current managed cluster CAPI proposal. It did tie nicely to CAPI API such as control plane, machine pool etc and also to Kubernetes constructs. We in OCI did not find any huge problems implementing using the proposal. Ofcourse there is a minor naming problem in that the control plane translates to the Cluster object in cloud provider, but technic

[2022-11-08 02:27] shyamradhakrishnan commented on #7494
Sounds good @jackfrancis , a small change is that capa needs to be modified to support cluster class, as current implementation does not support it.

[2022-11-08 11:25] lentzi90 commented on #7457
After some more trial and error and hacking I have some more observations.

In some cases the order of the `preKubeadmCommands` can be important. I tried to add a script for pre-pulling a container image, only to realize that it must be run *after* the CI artifacts injection, since that ensures the proper version of containerd and `ctr`. As far as I can tell, there is no way to add a command after

[2022-11-08 13:18] puja108 commented on #7494
I mentioned something along those lines at KubeCon. My main point being that configurability options present with the managed Kubernetes solutions out there should also be possible with our CAPI solution for them for two reasons:
1. If our configurability is too low and limited to some generic cases, people will have good reasons not to use CAPI but go with solutions like the KubeCon NA Keynote fr

[2022-11-08 14:53] killianmuldoon opened #7519 "Expose additional MachineDeployment fields in ClusterClass and Cluster Topology"
Currently CAPI exposes a number of fields to specify the config of the MachineDeployment in the Cluster Topology and ClusterClass, while the core MachineDeployment struct has a few fields that aren't exposed in either.

We should add the missing fields to both MachineDeploymentTopology and MachineDeploymentClass where appropriate to enable topology users to configure their MachineDeployments in th

[2022-11-08 15:08] killianmuldoon opened #7520 "Expose additional Control Plane fields in ClusterClass"
Currently CAPI exposes a number of fields to specify the config of the Control Plane and its underlying machines in the Cluster Topology and ClusterClass.

[The Control Plane contract shows the following fields as required](https://cluster-api.sigs.k8s.io/developer/architecture/controllers/control-plane.html). There is some variation depending on whether replicas and underlying machineInfrastructu

[2022-11-08 16:04] sbueringer commented on #7520
Sounds fine to me in general.

I assume the rules are similar to the MHC fields:

| CC  | Cluster.spec.topology | effective value from  |
|-----|-----------------------|-----------------------|
| -   | -                     | -                     |
| -   | set                   | Cluster.spec.topology |
| set | -                     | CC                    |
| set | set                   | Cluste

[2022-11-08 16:08] killianmuldoon commented on #7520
My inclination for the timeouts would be to have the topology fields overwrite the class fields - so we set them twice in the controller, first from the class and then from the topology WDYT?

[2022-11-08 16:40] fabriziopandini commented on #7519
/triage accepted
/area topology
/help

I think we can break down this into 2 parts and start exposing everything that's currently available on the MachineDeploymentTopology in the MachineDeploymentClass
We can eventually tackle ProgressDeadlineSeconds and RevisionHistoryLimit in a follow up iteration

[2022-11-08 16:41] fabriziopandini commented on #7520
/triage accepted
/area runtime-sdk
/help

+1 from me!

[2022-11-08 16:48] killianmuldoon commented on #7520
/assign

[2022-11-08 16:48] killianmuldoon commented on #7519
/assign

[2022-11-08 16:53] fabriziopandini commented on #7501
just a data point
since one of the scenarios debugging E2E with tilt which rebuilds stuff at every change, pushing images to a remote repository could really slow down the dev process...

[2022-11-08 18:22] sbueringer commented on #7128
Note:
* We also have to update the release-tasks documentation accordingly

(also added above as follow-up)

[2022-11-08 19:36] CecileRobertMichon commented on #7457
I'm +1 on this idea in general as we also need this for CAPZ (and it's in fact the reason we haven't been using `GenerateCIArtifactsInjectedTemplateForDebian` so far. Maintaining the different templates for a combination of features + CI vs. not CI is very costly and can be quite confusing to newcomers.

Taking this even further, one idea I've been playing with but haven't had time to try and impl

[2022-11-08 20:10] killianmuldoon opened #7521 "Remove IP Family from API types and cluster class builtin variables"
This issue is for discussion on whether an "IPFamily" concept and restriction is useful and concretely definable in a way that works across Cluster API providers.

Since the introduction of dual stack networking in Cluster API - [in particular its use in tests in CAPD](https://github.com/kubernetes-sigs/cluster-api/commit/54c0d307a5f0a4edf3c3f93b31a5907281c194cb) - Cluster API has a definition of

[2022-11-09 06:24] sbueringer commented on #7521
I think the summary is not correct. I think it is:

1. If no CIDRS are set, the Cluster IPFamily is IPv4
1. If only pod CIDR is set, the Cluster IPFamily is the one from the pod CIDR
1. If only service CIDR is set, the Cluster IPFamily is the one from the service CIDR
1. If pod CIDR is DualStack, the Cluster IPFamily is DualStack
1. If both pods and service CIDR blocks are IPv4, the Cluster IPFami

[2022-11-09 11:19] fabriziopandini commented on #6571
I double check @sbueringer findings and we are fine for the scenario where all the providers are deployed in the same namespace because we add cluster.x-k8s.io/provider: ... to each selector.

Given that the scenario for deploying multiple instances has only very limited support, this requires the users to apply their own modification to /config as described in https://cluster-api.sigs.k8s.io/deve

[2022-11-09 11:19] #6571 closed

[2022-11-09 11:26] neolit123 commented on #7521
you could open a thread in #sig-network and link to this issue for additional feedback

[2022-11-09 13:13] C-Society commented on #6867
Helllo @fabriziopandini and @oscr, Thank you for marking it `good first issue`,I will like to work on this.

/assign

[2022-11-09 13:15] oscr commented on #6867
Awesome @C-Society! Thank you for taking it and good luck!

[2022-11-09 15:09] oscr commented on #7458
@Amulyam24 This seems to be fixed in Gomega `1.24.1`. Version is now being bumped in #7523

I think this issue can be closed now

[2022-11-09 15:11] sbueringer commented on #7458
Yup if you bump to v1.24.1 there shouldn't be a compatibility issue with CAPI anymore

[2022-11-09 16:43] ykakarap opened #7524 "Improvement tasks for v1.4 release cycle"
**NOTE**: To be clear, this is a list of potential improvements and is meant as a backlog.
The idea is not that we have to implement all of those within the v1.4 release cycle.
It's also an umbrella issue, please create separate issues for the individual sub-tasks.

## CI Signal/Bug Triage/Automation Manager/Team

* [ ] Automate release branch and tag creation: #7128
* [ ] https://github.com/kuber

[2022-11-09 21:32] maxdrib commented on #7237
We have observed the same issue when working in a slow CloudStack environment. Basically we're trying to scale up our cluster and request new machines. These CAPI machines get created, then the MachineHealthCheck activates and deletes them while the node is coming up, before nodeRef is set.

[2022-11-10 05:56] Amulyam24 commented on #7458
Thanks @oscr and  @sbueringer !

[2022-11-10 05:56] #7458 closed

[2022-11-10 07:12] #6867 closed

[2022-11-10 07:19] chiukapoor commented on #6867
The PR has merged successfully, thank you @oscr for the detailed issue description!

[2022-11-10 07:28] sbueringer opened #7527 "Tasks for v1.3 release cycle"
**Note** We're roughly testing the new workflow for the current release cycle. I doesn't fit 100% of course without a release team.

Please see the corresponding section in [release-tasks.md](https://github.com/sbueringer/cluster-api/blob/pr-release-tasks/docs/release/release-tasks.md) for documentation of individual tasks.

## Tasks

**Notes**:
* Weeks are only specified to give some orientation.

[2022-11-10 07:47] sbueringer commented on #7527
cc @ykakarap (fyi)

[2022-11-10 13:07] fabriziopandini opened #7529 "Adoption for stand-alone machines and stand-alone machine sets should not race with machine set adoption"
**What steps did you take and what happened:**
After restoring a Cluster from a backup in some cases it happens that Machines gets an ownerRef to the cluster on top of the onwerRef to a MachineSet, which is the only one expected

Similarly, in some cases also MachineSet gets an ownerRef to the cluster on top of the onwerRef to a MachineDeployment, which is the only one expected

**What did you exp

[2022-11-10 16:21] killianmuldoon opened #7530 "🐛 Topology MachineDeploymentFinalizer not properly applied"
When creating a topology-managed cluster of any kind (I replicated with CAPD), create a cluster with MachineDeployments.

After creation the machineDeployment does not have any finalizers. I expected it to have the `MachineDeploymentTopologyFinalizer` - "machinedeployment.topology.cluster.x-k8s.io". The MachineSetTopologyFinalizer is still in place.

This issue is probably related to server-side a

[2022-11-10 18:11] sbueringer commented on #7530
Damn this breaks my heuristic that notifications with icons are always PRs :)

[2022-11-10 18:11] sbueringer commented on #7530
/triage accepted

[2022-11-10 20:54] nehagjain15 opened #7533 "MachineDeployment Status should take MachineHealthCheck into account when computing final status"
**What steps did you take and what happened:**
The cluster was provisioned with version 1.22.9+.
The cluster was then upgraded to v1.23.8+. At the time when the cluster was upgraded Machine Deployment status was running but MachineHealthCheck was still reporting some nodes as unhealthy.
Post k8s version upgrade Control plane nodes were upgraded to the new version but MD was not updated with the ne

[2022-11-11 02:37] aanoaa commented on #7477
I set FailureReason and FailureMessage only on fatal errors.
and using status.conditions on recoverable errors.
thanks.

[2022-11-11 02:37] #7477 closed

[2022-11-11 05:23] sbueringer commented on #7533
Thx for opening the issue

I think we might have an additional problem. In this situation afaik we can't create a new Machine with the old version

[2022-11-11 14:46] fabriziopandini commented on #7520
/unassign @killianmuldoon
/assign

[2022-11-11 14:46] fabriziopandini commented on #7519
/unassign @killianmuldoon
/assign

[2022-11-11 17:46] fabriziopandini commented on #7533
/triage accepted
Let's focus this issue on the status and what it should represent. (what @sbueringer is highlighted is correct, but worth a separate discussion given that this limitation is rooted down in kubeadm/image builder)

[2022-11-11 18:25] chiukapoor commented on #7430
Hello Team, I have gone through the PR https://github.com/tilt-dev/tilt/issues/5910#issuecomment-1279068596. May I work on this issue?

[2022-11-11 18:47] sbueringer commented on #7430
Sure

[2022-11-11 19:22] chiukapoor commented on #7430
Along with the below `cmd_button` function's `inputs` parameter

https://github.com/kubernetes-sigs/cluster-api/blob/dba1c7095422e1c94853811613b5224c5d759938/Tiltfile#L523-L535

Should I update the rest of the `cmd_button` function's `inputs` parameter with `env = substitutions`?

https://github.com/kubernetes-sigs/cluster-api/blob/dba1c7095422e1c94853811613b5224c5d759938/Tiltfile#L537-L546

https

[2022-11-13 16:12] mcwumbly commented on #7521
I think most of the background for this decision is covered in this comment thread: https://github.com/kubernetes-sigs/cluster-api/pull/4558#discussion_r625226177

Toward the end of that thread, I linked to this sig-networking thread: https://groups.google.com/g/kubernetes-sig-network/c/S_64nw4BqoM/m/w64pw2ejAwAJ?pli=1

In summary, I think you're correct that this concept doesn't exist in Kubernet

[2022-11-14 05:35] chiukapoor commented on #7430
@sbueringer @fabriziopandini May you please help me with this query

[2022-11-14 08:39] fabriziopandini commented on #6398
/lifecycle frozen

[2022-11-14 10:03] fabriziopandini commented on #7529
The PR above fixes adoption for stand-alone objects so it ignores objects generated by MachineDeployments (both Machines and MachinesSet)

We currently don't have a clear signal for identifying stand-alone CP machines vs KCP managed CP machines; the same applies to stand-alone worker machines and machines managed by stand-alone Machine sets

[2022-11-14 12:10] sbueringer commented on #6863
/remove-lifecycle stale

[2022-11-14 12:10] sbueringer commented on #6966
/remove-lifecycle stale

[2022-11-14 13:05] killianmuldoon opened #7538 "Add strict validation for CIDR ranges in the Cluster webhook"
Add a check in the Cluster webhook to ensure each CIDR block only contains valid CIDR blocks with the following rules:

1. No more than two CIDR blocks are specified under Pods or Services
2. If two are specified the blocks need to be from different IP families i.e. one IPv4 and one IPv6
3. The IPFamily for pods and services must be compatible
4. The CIDR ranges are valid CIDR ranges

This change

[2022-11-14 13:58] fabriziopandini commented on #7538
/triage accepted
just as a reference the upstream code where Kubernetes components validate CIDR

Services: https://github.com/kubernetes/kubernetes/blob/6dc81c3280996a9a4267bf8ef30d4bda36f8a293/cmd/kube-apiserver/app/options/validation.go#L47-L69

Pods: https://github.com/kubernetes/kubernetes/blob/08749750a96fe7f236befa40076a3117e7b36733/staging/src/k8s.io/cloud-provider/app/core.go#L127-L133

(

[2022-11-14 15:20] #7358 closed

[2022-11-14 16:56] fabriziopandini commented on #7538
note: this is initially considered an API change because currently we are not prescriptive on what Cluster.Network CIDRs are for, we saw some borderline usage of that info, and we want to move to a place where it is clear that those values are meant for defining values to be passed to Kubernetes components only, so it makes sense to apply the same validations rules
/help

[2022-11-14 17:00] fabriziopandini commented on #7358
@marvinWolff we closed the issue but we are still discussing the use case in https://github.com/kubernetes-sigs/cluster-api/issues/7538 and it would be really great if we can get feedback on which bootstrap and control plane provider you are using and on how the configuration described above can even work given that based on our research this is not supported by Kubernetes control plane components

[2022-11-14 17:15] sbueringer commented on #7476
Final tasks:
* https://github.com/kubernetes/org/pull/3827
* https://github.com/kubernetes/community/pull/6962

[2022-11-14 17:15] sbueringer commented on #7524
/triage accepted

[2022-11-14 17:16] sbueringer commented on #7524
/assign @ykakarap
(for tracking during the v1.4 release cycle)

[2022-11-14 18:17] dlipovetsky commented on #7415
Has anyone demonstrated that an in-place upgrade of a single control plane is even possible in a way that is supported by upstream? (For example, node drain is a required step of an upgrade. Is that a problem?)

Before we ask Cluster API to support this use case,  I think we either have to demonstrate that it is possible, or understand (and address) the upstream issues that make it impossible.

[2022-11-14 19:18] viveksyngh commented on #7538
/assign

[2022-11-14 19:19] viveksyngh commented on #7538
I would like to help with this.

[2022-11-14 19:22] killianmuldoon commented on #7538
@viveksyngh Thanks for the interest! But this issue isn't ready to be worked on yet - we've added the label `api-change` which means we can't add this until we have a new API version, which I don't think there's been any planning for as of yet. That means this work is at least months away.

/remove help
(to avoid confusion)

[2022-11-14 19:22] killianmuldoon commented on #7538
/help remove

[2022-11-14 19:24] viveksyngh commented on #7538
Thanks for the info @killianmuldoon

[2022-11-14 19:52] fabriziopandini commented on #7529
/re-open
to track the two use cases described in previous comment

[2022-11-14 19:55] fabriziopandini commented on #6706
/lifecycle frozen
/help

still something worth to discuss and address

[2022-11-14 23:06] #7519 closed

[2022-11-14 23:06] #7520 closed

[2022-11-15 10:32] #6986 closed

[2022-11-15 13:23] richardcase commented on #6520
We have the scenario where we need to be able to support a workload cluster initiated connection as opposed to the current management cluster initiated connection. And this isn't specifically for managed k8s clusters, but a general principle for all clusters created. We see this requirement a lot with customers.

This is something that we need, so i will start looking into this:

/assign

I'll sta

[2022-11-15 13:45] hackeramitkumar commented on #7441
@fabriziopandini Can you suggest me some resources ?  Where I can find the following details -
    a. Object the label/annotation applies to
    b. Managed by Cluster API or by users

[2022-11-15 14:06] LuBingtan commented on #6945
I'd like to fix this
/assign

[2022-11-15 15:49] mkarise opened #7543 "Failure to list prometheus service during a clusterctl upgrade"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
1. Run`clusterctl upgrade plan`
2. Run `clusterctl upgrade apply --contract v1beta1` as suggested by output of previous command

Result:
Got the following error :
`❯ clusterctl upgrade apply --contract v1beta1
I1114 13:55:06.678405   87579 request.go:601] Waited for 1.044511541s due to cli

[2022-11-15 16:32] #7543 closed

[2022-11-15 20:06] johandry opened #7547 "TKC Upgrading and MD Scaling simultaneously does not work"
**What steps did you take and what happened:**

Update the k8s version of CP and scale up replica count of MD at the same time TKC upgrade gets stuck.
Upgrading TKC from `v1.22.9+vmware.1` to `v1.23.8+vmware.2` along with scaling up operation, simultaneously, cause the TKC upgrade to get stuck.

**What did you expect to happen:**

It's expected to get the upgrade and scale up successfully.
This is

[2022-11-16 11:04] richardcase commented on #6520
@randomvariable started a doc to add notes/thoughts to: https://docs.google.com/document/d/1j4sCPGO_0e1G-IyiI_8s98R3RVrYsgY9n0VFcde3ELo/edit#heading=h.lcjlkg7scook

[2022-11-16 17:01] nehagjain15 commented on #7533
@fabriziopandini I will repro the issue and attach the cluster and machine description.

[2022-11-16 21:38] #7547 closed

[2022-11-16 21:38] fabriziopandini commented on #7158
First proposal about how to model metrics with golang markers (thanks to @sbueringer and @chrischdi for helping in defining this)

Note: all the markers must have a prefix yet TBD, using `Metrics` for now
Note: all the markers must comply with https://book.kubebuilder.io/reference/markers.html#marker-syntax
Note: in a follow-up iteration we might consider introducing additional markers for definin

[2022-11-17 05:16] sbueringer commented on #7485
/close

Closing this issue given that we're already working on a release note draft and I added a note there.

[2022-11-17 05:16] #7485 closed

[2022-11-17 05:18] sbueringer commented on #7432
/assign

[2022-11-17 11:52] #7530 closed

[2022-11-17 14:00] sbueringer commented on #7158
Sounds good to me.

I didn't do a very detailed review, but in general it looks good and we can discuss some minor details on PRs when necessary.

[2022-11-17 14:28] chrischdi commented on #7158
One small addition:

Instead of `labelFromPath={name: <string>, JSONPath: <string>},labelFromPath={name: <string>, JSONPath: <string>}`
We could define it as: `labelsFromPath={<name>: <JSONPath>}` (while `<name>` and `<JSONPath>` would both be strings.

Following example:
[code]
would turn to:
[code]

[2022-11-17 15:31] AverageMarcus opened #7559 "MachinePool stuck deleting if cluster already removed"
**What steps did you take and what happened:**

When deleting a cluster (CAPA in my case) I get into a situation where the cluster is completely cleaned up by CAPA before the capi-controller has managed to remove the `MachinePool` CR. By the time it tries to, there's no infra left anymore and the kubeconfig secret has been deleted.
This is blocking the deletion of the `MachinePool` CR because one

[2022-11-17 15:57] sbueringer commented on #7559
@killianmuldoon When you have some time and given that you're our expert on ownerReferences now ( :)). Can you please also take a look at this one?

@AverageMarcus Could you provide us the YAML of the resources before you trigger deletion + afterwards when it's stuck?
(specifically looking for Cluster, MachinePool, AWSMachinePool)

[2022-11-17 17:48] fabriziopandini commented on #7441
@hackeramitkumar you can try to infer this from label/annotation description or dig into the code.
but it is ok also if you come up with a partial work and then we rally on completing it

[2022-11-17 17:57] fabriziopandini commented on #7559
/triage accepted
Just from reading the thread I'm not sure the issue is on CAPI side instead of being on CAPA side, but worth investigating.
Probably a quick way to triage the issue is to run locally an E2E test with CAPD machine pools and observe the deletion workflow (AFAIK there are no failures in CI)

[2022-11-17 18:14] Jont828 commented on #7301
Should be fixed in #7328, looks like this didn't get closed when that merged.

[2022-11-17 18:14] #7301 closed

[2022-11-17 18:15] sbueringer commented on #7476
PRs all merged

Thx for taking care of this!

/close

[2022-11-17 18:15] #7476 closed

[2022-11-17 18:16] sbueringer commented on #7389
@ykakarap I would move "Figure out how to coordinate / sync / work / ... together" out of this issue feel free to handle it as appropriate with the new release team.

I would close out this issue when the release tasks PR and the upcoming Kubernetes bump PR are merged.

[2022-11-17 18:24] Jont828 commented on #7501
I'd keep the existing behavior where we bypass pulling the image by having `PULL_POLICY=IfNotPresent` and having the image available locally. I was just hoping to allow us to customize the name of the image we expect to be present after running `make docker-build-e2e` so that folks can have a way to easily validate images they're building themselves, say for a custom fork.

[2022-11-17 21:22] nehagjain15 commented on #7533
Reproduced the issue:
Steps:
1. Create cluster with 1.21.6 version
2. Add a new nodepool to this cluster tkc-wc-wcm-nodepool
3. Upgrade cluster to 1.22.9
4. Observed that the new node pool was still rolling out so MD was not upgraded, but KCP was.

Will try to explain the problem that I see and that there could be different ways to fix it than what has been asked in the issue.

1. At step#3 - MD w

[2022-11-18 07:39] AverageMarcus commented on #7559
@sbueringer  I've added manifests for `Cluster`, `MachinePool` and `AWSMachinePool` before and after delete.

What is expected of infra providers in this situation? Should CAPA block the deletion of the control plane until all `MachinePool` resources are gone?

Is there any harm in CAPI allowing the deletion of the `MachinePool` in the situation where the cluster no longer exists?

[2022-11-18 08:47] sbueringer commented on #7559
The expected behavior is that the Cluster controller deletes the objets in the right order. In general there is nothing to do for an infr a provider except handling the deletions of it's resources as it always does (InfraMachine, InfraCluster, InfraMachinePool)

[2022-11-18 08:56] #7510 closed

[2022-11-18 09:03] AverageMarcus commented on #7559
Just so it's clear. When it gets into the "stuck" state, this is all that remains:
[code]

What I _think_ is happening (but haven't confirmed yet) is once the Cluster receives the delete operation and propagates it down to all the others CAPA is doing something along these lines:

* Delete AWSMachinePool
* Delete AWSMachine (these are the control plane nodes)
* Delete AWSMachineTemplate (again, co

[2022-11-18 12:34] sbueringer commented on #7559
So the AWSMachinePool is already gone? I think then the issue is somewhere there. I would expect that the MachinePool and AWSMachinePool are deleted together

[2022-11-18 12:41] sbueringer commented on #6536
I wonder if this was already solved in:
* https://github.com/kubernetes-sigs/cluster-api/pull/5479
* https://github.com/kubernetes-sigs/cluster-api/issues/6732

cc @srm09

[2022-11-18 12:55] AverageMarcus commented on #7559
Right, I'll see if I can figure out which controller isn't waiting on the other to complete.

I'll report back when I have something.

[2022-11-18 12:58] sbueringer commented on #7237
One alternative could look like this:
* Set a label with the machine name on join via --node-labels (there seem to be no way to add an annotation on join)
* The label could be basically the same as the annotation we set here: https://github.com/kubernetes-sigs/cluster-api/blob/main/internal/controllers/machine/machine_controller_noderef.go#L103-L107

Essentially during deletion if the node ref is

[2022-11-18 13:19] sbueringer commented on #7430
What do you mean with "update the rest of the cmd_button function's inputs parameter with env = substitutions?" ?

Adding env = substitutions to the cmd_button or something with the input parameter?

The idea would be to add `env = substitutions` to all buttons in deploy_cluster_template and deploy_clusterclass

[2022-11-18 13:30] sbueringer commented on #7538
Just rememberd something from a different life :).

The "normal" use case is that the Pod CIDRs are passed through to the kube-controller-manager. The kube-controller-manager takes this CIDR and splits it up to assign Node CIDRs to Nodes. Then the "host-local" IPAM plugin on the nodes assigns IPs from the Node CIDR to individual Pods.

I don't remember how this works e.g. when Calico takes over th

[2022-11-18 13:36] sbueringer commented on #7501
I would have expected that after you run `make docker-build REGISTRY=jont828 PULL_POLICY=IfNotPresent` the YAML files for kustomize are modified to use your image name.

This should only leave the docker.yaml file which expects the other image names. But this should only produce **warnings** during e2e test. So then this should only leave tests which read the images from the e2e config / docker.ya

[2022-11-18 16:24] randomvariable commented on #7533
I guess one of the key things in this particular issue is that kubeadm uses configmaps rather than CRDs and there's no conversion webhooks. That means if kubeadm does an API revision bump and upconverts the cluster config to it in the same release, then the immediately preceding release doesn't understand the config anymore.

[2022-11-18 16:43] fabriziopandini commented on #7533
echoing from above (trying to avoid scope creeping on the issue)

I'm investigating the kubeadm issue; ASAP I will follow up with a separated issue and possibly some ideas

[2022-11-18 16:49] randomvariable commented on #7533
Fair enough.

I don't know if there's much we want to do with Phase. It's very tricky to convey a sensible meaning in a single status field.

What might be more interesting, is to set a Condition. In this error state we have:

[code]

Maybe we want an explicit Condition indicating there is at least one bad replica.

[2022-11-18 18:35] fabriziopandini commented on #7322
Note, point 3 of the above list can be addressed via https://github.com/kubernetes-sigs/cluster-api/pull/7562; most specifically, we can make the test extension to not block by default, unless a specific setting exists.
This setting can be by our E2E test framework machinery (but won't block developers using the same templates with tilt)

[2022-11-18 18:36] fabriziopandini commented on #7322
/triage accepted

[2022-11-18 21:22] sbueringer commented on #7322
I think in combination with variable discovery this can be more. Essentially treat variables like our regular API types:
1. define complex variables as Go types
2. and then leverage the Go types either:
  * to provide a util func to convert variables into those go types or
  * already pass the converted variable Go structs into the handler (cf. how we get the objects passed into a regular mutating

[2022-11-18 22:26] sbueringer commented on #7459
I think you could deploy a separate etcd cluster (+ apiserver) on top of multiple Kubernetes clusters and then use that to store and reconcile Cluster API CRDs.

I think CAPI controllers don't necessarily have to reconcile against the same cluster/apiserver they are running on.

Could be a fun experiment.

Afaik Gardner uses this pattern for something

[2022-11-19 10:47] chiukapoor commented on #7430
Thanks for the clarification will update the above functions.

I meant to ask if the `inputs` parameter needs to be removed and the `env` parameter needs to be added, as once the `env` variable provides the content of list `substitutions` as an environment variable we won't need to pass it using the `inputs` parameter

https://github.com/kubernetes-sigs/cluster-api/blob/dba1c7095422e1c94853811613b

[2022-11-21 04:38] sbueringer commented on #7430
Please keep inputs. With inputs users can set the fields in the Tilt UI. This is a feature we want to keep.

[2022-11-21 04:45] sbueringer commented on #7096
/remove-lifecycle stale

[2022-11-21 04:46] sbueringer commented on #7104
/remove-lifecycle stale

[2022-11-21 05:29] sbueringer commented on #6416
Let's also take a look at CAPD when we get to implementing this issue. We probably should make similar changes in DockerCluster.

[2022-11-21 05:43] sbueringer commented on #7533
@fabriziopandini I'm probably wrong but I thought the MHC controller sets the `OwnerRemediated` (false) condition on the Machine to indicate the Machine should be remediated. Which annotation do you mean?

Independent of that. To me it seems we have a mismatch between when the Cluster topology controller considers a MD as "rolling out" vs what you can see at the MD (specifically the phase).

Topol

[2022-11-21 06:22] andyzheung opened #7573 "Adopt existing clusters on vSphere"
As I say in the following:
https://github.com/kubernetes-sigs/cluster-api/discussions/7572

I think this is very common, if I can enhance my exist k8s cluster to get autoscaler capibility.

for more details ,  I want to enhance my exist  kubernetes use capi and capv.
![image](https://user-images.githubusercontent.com/22912347/203087496-b03d7b5f-30ec-4ecc-aebe-d95e8720ad6f.png)
![image](https://use

[2022-11-21 07:15] jingai-db commented on #7330
I hit the same issue of `Unable to connect to the server: net/http: TLS handshake timeout`, though my 'capi-haproxy-lb' container is running properly.

[2022-11-21 09:09] 24sama commented on #7573
Also need, looking forward to this feature.

[2022-11-21 09:40] sbueringer commented on #7521
Thx @mcwumbly. That's really helpful context, especially: https://github.com/kubernetes-sigs/cluster-api/pull/4558#discussion_r625268266.

Essentially IPFamily is used in the following places:
1. CAPD: to detect which IPFamily a cluster has to then setup listener addresses, sysctls, ... correctly
2. Additionally we took the value of IPFamily and provided it as a builtin variable in ClusterClass

A

[2022-11-21 09:42] chiukapoor commented on #7430
@sbueringer, May you please me understand how may I successfully test the changes?

While doing my research I came across https://cluster-api.sigs.k8s.io/developer/tilt.html to set up the development environment.

[2022-11-21 09:46] sbueringer commented on #7430
Follow the documentation to setup the tilt environment (with CAPD). Then make your changes and verify that you can set the variables via substitutions. If that works, verify that you can also set them via the Tilt UI (the buttons will have an input form ~ like this: https://docs.tilt.dev/buttons.html).

[2022-11-21 10:30] sbueringer commented on #7457
@lentzi90 Can you try what happens if you drop the code to insert the empty arrays? I just recently saw some effect which might mean that the addition works regardless of adding the empty array or not.

In case that doesn't work, I'm fine to check if the strategic merge patch in PlatformKustomization contains those paths or not, if we find a good way to do it.

But overall (especially considering

[2022-11-21 12:04] fabriziopandini commented on #7573
@andyzheung could you kindly expand the issue comment providing a better explanation of what is your ask, so people can quickly understand the problem?

If the question is to adopt existing clusters into Cluster API, if fear the answer is the same as you got in the discussion; this is not supported, and given the complexity of the topic, IMO it requires a group of folks committed to writing a prop

[2022-11-21 13:30] fabriziopandini commented on #7573
Thanks for adding more details (please move them in the comment on top of the issue)
This confirms my initial guess, and thus the answer as of today is

Based on the fact the community never agreed/committed on implementing something similar, IMO it will be easier and faster to move workloads to a new cluster created by Cluster API, but let's see if we can reach critical mass this time.

/triage a

[2022-11-21 13:33] fabriziopandini commented on #7529
After discussing this a little bit it seems that if we introduce a signal that surfaces when we have a stand-alone object we can  address all the use cases based on this one, I will give a try to it

[2022-11-21 14:59] andyzheung commented on #7573
thx for reply. I don't understand IMO means, have any details for it?
the second question is that why I deploy the cr and controller will crash? Is version mismatch?
[cluster-api.zip](https://github.com/kubernetes-sigs/cluster-api/files/10057584/cluster-api.zip)

[2022-11-21 17:03] killianmuldoon opened #7575 "Ensure owner references are correctly re-reconciled"
The test in #https://github.com/kubernetes-sigs/cluster-api/pull/7569 shows that some of the ownerReferences in Cluster API are not correctly re-reconciled if they are removed for any reason. This is an umbrella issue to capture the different cases under which this can happen.

The expectation is that the ownerReference tree should look the same as on cluster creation after being re-reconciled. Th

[2022-11-21 22:13] fabriziopandini commented on #7573
IMO stands for In my Opinion, sorry for using abbreviations.

given my understanding of the issue, I don't think it is worth investing time in avoiding the error above because you are using the controller for a scenario that is not supported.

[2022-11-22 00:04] jingai-db opened #7576 ""Unable to connect to the server: net/http: TLS handshake timeout" When accessing the workload cluster provisioned by Docker"
**What steps did you take and what happened:**
Follow cluster api quick start [here](https://cluster-api.sigs.k8s.io/user/quick-start.html), using the combination of `kind` and `docker` (`Client: Version: 20.10.21`, `Server: Docker Desktop 4.14.1 (91661)`).

Specifically,
1) `kind create cluster --config kind-cluster-with-extramounts.yaml`, where yaml file is exactly the same as quick-start guide.

[2022-11-22 00:19] jingai-db commented on #7576
By running `docker network inspect kind`, we can observe that `172.18.0.3` is assigned to `capi-quickstart-lb` (haproxy).

[
    {
        "Name": "kind",
        "Id": "00fa4ad13556f3a038f38dd0f851e306df9e54700e3c6848bb307d634ad6c37b",
        "Created": "2022-11-18T23:51:39.462487721Z",
        "Scope": "local",
        "Driver": "bridge",
        "EnableIPv6": true,
        "IPAM": {

[2022-11-22 00:24] jingai-db commented on #7576
Besides `kubectl`, I also tried `curl` as follows

*   Trying 172.18.0.3:80...
* Connected to 172.18.0.3 (172.18.0.3) port 80 (#0)

* Recv failure: Connection reset by peer
* Closing connection 0
curl: (56) Recv failure: Connection reset by peer
*   Trying 0.0.25.43:80...
* Immediate connect fail for 0.0.25.43: No route to host
* Closing connection 1
curl: (7) Couldn't connect to server

`0.0.25.4

[2022-11-22 00:41] andyzheung commented on #7573
---
oh, thx.
But the error I mentioned is not that I used the exist  cluster, I just follow this:
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/v0.8.0/templates/cluster-template.yaml
 and my version is:
my cluster version:
1、kubernetes: 1.22.0
2、cert-manager: 1.4.0
3、cluster-api-component: 0.3.16
4、infrastructure-componemntsv0.7.12

[2022-11-22 00:48] jingai-db commented on #7576
Apparently, I needed the additional step for Mac. I just found it at https://release-0-3.cluster-api.sigs.k8s.io/clusterctl/developers.html#additional-notes-for-the-docker-provider

# Point the kubeconfig to the exposed port of the load balancer, rather than the inaccessible container IP.

# Ignore the CA, because it is not signed for 127.0.0.1

It would be nice to link it in the latest quick-star

[2022-11-22 00:48] #7576 closed

[2022-11-22 03:33] sbueringer commented on #7575
/triage accepted

@killianmuldoon I'm not sure who is already working on which sub-task. Please let me know if I should take over one of them.

[2022-11-22 04:11] sbueringer opened #7577 "test/e2e: By statements are not logged anymore"
While trying to debug an e2e test I noticed that our `By` statements are not logged.

Example:

Job:
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/periodic-cluster-api-e2e-main/1594729437797027840

[code]
Produces no log

[code]
Logs as expected

Looks like this only happens in v1.3+ (+ main)

In v1.3 the `By` statements are logged (grep for STEP [logs](https://storage.googleapis.com/kuberne

[2022-11-22 04:12] sbueringer commented on #7577
/triage accepted

[2022-11-22 04:24] sbueringer opened #7578 "test/e2e: ClusterClass changes test is flaky"
The ClusterClass changes test currently fails from time to time.

The problem is that we create a new ClusterClass in the middle of the test and then directly try to use it on the Cluster.

In some cases the cache of the client used in the webhook is not yet aware of the new ClusterClass:

e.g.: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/periodic-cluster-api-e2e-main/1594729437797027840

[2022-11-22 04:35] sbueringer commented on #7577
Debug log:
* Looks like STEP is logged when tests are successful, but not when they fail. (now with v1.3, with v1.2 they were always logged)

[2022-11-22 05:53] sbueringer commented on #7577
Bump the binary to ginkgo v2.5.0 seems to fix it somehow

#7580: https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api/7580/pull-cluster-api-e2e-informing-main/1594922232876896256/build-log.txt

[code]

#7579 https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api/7579/pull-cluster-api-e2e-informing-main/1594910036130271232/bu

[2022-11-22 05:56] sbueringer commented on #7577
Looks like improving that log was the highlight of the v2.5 ginkgo release: https://github.com/onsi/ginkgo/releases
(didn't remember / correlate that)

[2022-11-22 09:02] fabriziopandini commented on #7578
/triage accepted

[2022-11-22 09:07] fabriziopandini commented on #7573
v0.3.16 is out of support, please use a more recent Cluster API version, also, if a problem is different from the scenario described in this thread, move the discussion to another issue

[2022-11-22 09:31] andyzheung commented on #7573
thx, i will talk to other issue.@fabriziopandini

[2022-11-22 09:33] killianmuldoon commented on #7575
/assign

[2022-11-22 09:54] #7389 closed

[2022-11-22 10:50] #7577 closed

[2022-11-22 12:02] andyzheung opened #7588 "why the worker cluster can't ready?"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

I use the capi : v1.0.0
capv: 1.0.0
management cluster kubernetes: 1.21.0

work cluster:
kubernetes: 1.16.3
![image](https://user-images.githubusercontent.com/22912347/203306536-be83449a-20a7-49d1-81d2-8d790867dd07.png)

![image](https://user-images.githubusercontent.com/22912347/20330662

[2022-11-22 12:21] andyzheung commented on #7588
I manually untain the node:
taint nodes --all node.cloudprovider.kubernetes.io/uninitialized:NoSchedule-
![image](https://user-images.githubusercontent.com/22912347/203310436-03484888-6576-4481-8d0a-8d05acb939ee.png)
So I have  the following problem:

1、why all the node get taint?
node.cloudprovider.kubernetes.io/uninitialized=true:NoSchedule
Is related to the log in capi? how to solve it?
![image

[2022-11-22 12:39] killianmuldoon commented on #7588
This might get a more expert response in https://github.com/kubernetes-sigs/cluster-api-provider-vsphere as it seems to be down to something going wrong with the cloudprovider.

As an aside - CAPI v1.0.0 - is out of support, the current supported release is v1.2 so if you can update that would help get you better support

[2022-11-22 12:56] andyzheung commented on #7588
thx, my management cluster is 1.21.0, can it use CAPI  v1.2?
@killianmuldoon

about capv problelm can @fabriziopandini help?

[2022-11-22 13:10] chiukapoor commented on #6975
Hello Team, As per my understanding we need to create a target `release-manifests-all` in Makefile so that the user can generate all the manifests independent of `release-binaries`

The expected content of `release-manifest-all`

https://github.com/kubernetes-sigs/cluster-api/blob/844eff2f29d1119ec171efb8111e305e03c5bfca/Makefile#L832-L841

If no one is actively working on this issue, may I take i

[2022-11-22 13:15] killianmuldoon commented on #7588
Version support information for the core CAPI provider is here:

https://cluster-api.sigs.k8s.io/reference/versions.html#release-components

For CAPV it's here:
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere#compatibility-with-cluster-api-and-kubernetes-versions

[2022-11-22 13:16] killianmuldoon commented on #6975
Thanks for taking this up @chiukapoor !

/unassign
/assign @chiukapoor

[2022-11-22 14:01] chiukapoor commented on #6975
I have made changes as per the issue description but having some doubts as if it is safe to run `make release` for testing purposes on the local environment. As per my understanding of the code there is no code/release push that is happening but just wanted to be sure before I proceed.

[2022-11-22 15:33] andyzheung commented on #7588
that seems my system version is match.
my management cluster is:  1.21.0
CAPI 1.0.0 v1beta1
CAPV 1.0.0 v1beta1
this seem compatible.
but what version of workload cluster kubernetes.
I use :
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere#compatibility-with-cluster-api-and-kubernetes-versions
![image](https://user-images.githubusercontent.com/22912347/203353936-24cbc604-624c-45e5-ba

[2022-11-22 15:55] andyzheung commented on #7588
if any one run cluster api+ cluster api vsphere + kubernetes, have the detail version and operation instruction?
I think I have  a lot problem so  I just need a running system on vsphere first.

[2022-11-22 16:23] mel1nn commented on #7061
I also need this feature. It would be good to add it also in the `backup` command to be able to backup only one workload cluster.

[2022-11-22 19:36] fabriziopandini commented on #7575
Thanks for this extensive work of research.
Most of this is legacy stuff, like control-plane machines without a control-plane object controlling them, or stand-alone machines. I will trigger some discussion about triggering the process for dropping support for some of this, which is healthy for the entire project.

But, for now, praise for this work making the project more robust and resilient to

[2022-11-22 19:42] fabriziopandini commented on #7521
+1 to move this concept to something internal to CAPD.
Let's just make an inventory of what the flags influence today + advertise this change as usual

[2022-11-22 19:55] fabriziopandini commented on #7061
Rif. https://github.com/kubernetes-sigs/cluster-api/issues/6992, -1 from my side (reasons are discussed in the issue)

[2022-11-22 20:04] fabriziopandini commented on #7104
/triage accepted
/remove-kind feature
/kind bug

[2022-11-22 20:16] i-prudnikov opened #7594 "util/patch, partial status loss after helper.Patch()"
**What steps did you take and what happened:**
I've been building infrastructure provider (following cluster-API book). In infra-cluster CRD reconcile loop, I'm using patch helper (`sigs.k8s.io/cluster-api/util/patch`) to persist change in CRD after reconciliation.

There are following generic steps in reconciliation procedure:
1. After fetching infra-cluster CRD and making preliminary checks (ann

[2022-11-22 21:50] srm09 commented on #7588
@andyzheung
Few things here:
1. The uninitialized taint is removed by the vSphere CPI pods `vsphere-cloud-controller-manager-xxxxxx`. Can you check the logs of the pod to see if there are any obvious errors?
2. The provider ID is also set by the CPI pods as well, can you check the `kubectl get nodes` output to see if the provider IDs are set correctly?
3. From the pods output on the cluster, it se

[2022-11-23 00:15] dtzar commented on #5705
It feels like there is overlap with this doc and these areas on the book:
- [Personas ](https://cluster-api.sigs.k8s.io/user/personas.html ) - This has the angle of "Where CAPI desires to invest resources" versus the article "why does CAPI benefit you as persona".
- Introduction, especially the ["Why build Cluster API?"](https://cluster-api.sigs.k8s.io/introduction.html#why-build-cluster-api) sect

[2022-11-23 04:53] sbueringer commented on #7575
Thx.  Absolutely agree. We should continuously try to get rid of things which are not needed anymore.

+100. Thx @killianmuldoon great work!!

[2022-11-23 05:12] sbueringer commented on #7521
Outside of CAPD: only the builtin variable and we have no knowledge of who is using that

In CAPD: A lot of things and the information is propagated everywhere to implement IPv4/IPv6 correctly:

<img width="1385" alt="image" src="https://user-images.githubusercontent.com/4662360/203472437-06a818fd-c8bf-4166-819f-a9852ca8bcb7.png">

I would deprecate by:
* Adding Deprecated on the Cluster.GetIPFami

[2022-11-23 05:30] sbueringer commented on #7594
Would be interesting to see the patches actually sent to the APIserver.

Is there any way for us to reproduce this issue? (e.g. your controller code with an integration test using envtest so we can step through the code to figure out what is going on)

[2022-11-23 05:34] #7430 closed

[2022-11-23 05:46] andyzheung commented on #7588
--------------------
Thank you so much,  I seems all the problem come from vsphere-controller-manager can't connect to vsphere?
1、I try add this: insecure-flag = "true" .
2、I check the workload cluster vsphere controller manager--xxx logs, as you say it's really have many errors that I don't care before...
E1123 00:43:49.456930       1 connection.go:177] Failed to create new client. err: Post http

[2022-11-23 05:49] andyzheung commented on #7588
The provider ID is also set by the CPI pods as well, can you check the kubectl get nodes output to see if the provider IDs are set correctly?
===>

I didn't see provider ID? not ready is because I have not installed the calico cni..
kubectl get nodes -o wide
NAME                                                STATUS     ROLES    AGE    VERSION   INTERNAL-IP    EXTERNAL-IP   OS-IMAGE             KE

[2022-11-23 05:58] andyzheung commented on #7588
Is because I annotation the following?
![image](https://user-images.githubusercontent.com/22912347/203481050-fd0e697c-6cf9-4f17-aa96-5072f3b5b7b9.png)

[2022-11-23 06:30] andyzheung commented on #7588
really thank you so much, I got the TLS_THUMBPRINT ervery thing is OK when work cluster I use ubuntu-1804-kube-v1.16.3.ova
I will try to use other higher version of kubernetes. @srm09
![image](https://user-images.githubusercontent.com/22912347/203484764-b827f0b5-cd7f-4589-9730-34d05860decf.png)

[2022-11-23 09:26] fabriziopandini commented on #7588
/triage accepted
/close
given the comment above

[2022-11-23 09:26] #7588 closed

[2022-11-23 09:58] #6945 closed

[2022-11-23 11:48] andyzheung opened #7597 "why I can't use the other ova template to create worker cluster."
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

https://github.com/kubernetes-sigs/cluster-api/issues/7588
I have solve the problem to use cluster api to get the cluster autoscaler capiblity for work cluster.
but only use ubuntu-1804-kube-v1.16.3.ova can setup the work cluster and can cluster autoscaler capiblitiy.
I use the ubuntu-180

[2022-11-23 11:51] sbueringer commented on #7597
Please use a Cluster API version which is still in support https://github.com/kubernetes-sigs/cluster-api/blob/main/CONTRIBUTING.md#support-and-guarantees (>= v1.2)

[2022-11-23 12:19] sbueringer opened #7599 "Lint unused funcs"
It would be great if we had a linter which detects unused funcs.

I recently opened a PR to drop some unused code in KCP: https://github.com/kubernetes-sigs/cluster-api/pull/7598

I found the following cases:
1. funcs which weren't used by anyone: e.g. ControlPlane.MachineInfrastructureTemplateRef
2. funcs which were only used test code: e.g. ControlPlane.NewMachine

I think if there is a linter 1

[2022-11-23 12:19] sbueringer commented on #7599
/triage accepted
/help

[2022-11-23 12:25] andyzheung commented on #7597
I try to use ubuntu-1804-kube-v1.19.6.ova it seem ok...
It that related to the management cluster kubernetes version, my management cluster is 1.21.0?

[2022-11-23 12:25] andyzheung commented on #7597
oh, i will try the new version....

[2022-11-23 13:15] fabriziopandini commented on #7597
This seems an issue related to CAPV images, please move the issue in https://github.com/kubernetes-sigs/cluster-api-provider-vsphere
/close

[2022-11-23 13:15] #7597 closed

[2022-11-23 14:36] lentzi90 opened #7603 "Framework: Support starting controller version in clusterctl upgrade tests"
**User Story**

As a provider developer I would like to select the controller version to start from for clusterctl upgrade tests since the provider API version can differ from the CAPI contract.

**Detailed Description**

Currently the clusterctl upgrade test always starts from the latest version supporting the selected contract:
https://github.com/kubernetes-sigs/cluster-api/blob/6c6543448bee3514

[2022-11-24 03:18] sbueringer commented on #7603
/triage accepted

Sound reasonable to me.

Looking at: https://github.com/kubernetes-sigs/cluster-api/blob/e032bec7c04c45b42d92b7bb9bd4f16765218181/test/e2e/clusterctl_upgrade.go#L262-L267

I think the easiest way is to just add additional fields to `ClusterctlUpgradeSpecInput`. I would suggest:
[code]

If one of the fields is set we would use its value directly instead of calculating it via the c

[2022-11-24 06:21] sbueringer opened #7611 "Use suffixes consistently in API constants"
Follow-up to: https://github.com/kubernetes-sigs/cluster-api/pull/7591#discussion_r1029322642

We have a few inconsistencies with how we use suffixes in various constants (I audited all our constants).

### Label constants

As of today the names of our label constants are inconsistent, we have some with:
* a `LabelName` suffix
* a `Label` suffix
* a `NameLabel` suffix

I would suggest to only incl

[2022-11-24 06:23] sbueringer commented on #7611
@fabriziopandini WDYT? We can also potentially mark this as help wanted.

[2022-11-24 06:34] Rohitrajak1807 opened #7612 "Support for output flag for generate command."
**User Story**

As a developer on [Arlon project](https://github.com/arlonproj/arlon/) I would like to have an `--output` flag for `clusterctl generate ...` s for a dependency on `clusterctl`. Arlon depends on clusterctl and needs wrappers around certain commands for which, we import the `cobraCommand` from `clusterctl` code, for now, we have to reimplement the `generate cluster` subcommand so tha

[2022-11-24 07:13] lentzi90 opened #7613 "Framework: Kind cluster as secondary management cluster?"
**User Story**

As an infrastructure provider developer I would like to use a less resource intensive and time consuming secondary management cluster in clusterctl upgrade tests to avoid resource congestion and long run times.

**Detailed Description**

Currently the clusterctl upgrade test is making use of a [secondary management cluster](https://github.com/kubernetes-sigs/cluster-api/blob/6c6543

[2022-11-24 09:25] sbueringer commented on #7612
In general this sounds fine to me.

I just wouldn't use `--output / -o` as flag name / shortcut as a lot of folks in the Kubernetes ecosystem are used to kubectl and there it's used in a different way.

[2022-11-24 09:35] sbueringer commented on #7613
Thx for opening the issue. This sounds like a good idea to me in general. It should speed up a lot of provider tests and make them simpler regarding the preload.

I only see one edge case. Today it's possible to use a pre-existing Kubernetes cluster instead of a kind cluster (in the core Cluster API tests this is exposed via `--e2e.use-existing-cluster`). This means that today we don't have a hard

[2022-11-24 10:13] chiukapoor commented on #7611
I would like to work on this issue.

[2022-11-24 13:13] lentzi90 commented on #7457
Alright I have done some testing. At first it looked like it could work without adding the array actually, but then I realized this was because my own strategic merge was adding the array anyway. :facepalm: If my patch did not add the array and it was not there in the source, then I got this error:
[code]

But this highlights another issue also: the platform-specific patch is applied as a `patches

[2022-11-24 13:26] sbueringer commented on #7611
Sounds good, but let's please wait for confirmation from Fabrizio when he's got to it.

[2022-11-24 14:06] AverageMarcus commented on #6081
/remove-lifecycle stale

I hit this issue today when including cluster-api-provider-aws as a dependency in my project. Would be good to have consensus on how this should be handled. (e.g. fix in CAPI vs. getting all providers to update their test structure)

[2022-11-24 15:11] fabriziopandini commented on #7611
/triage accepted

+1 to the approach

[2022-11-24 17:32] chiukapoor commented on #7611
Thank you @sbueringer for creating the issue and @fabriziopandini for triaging it.

I will update the constant `ClusterLabelName` to `ClusterNameLabel` and raise a WIP PR, for initial review before I proceed with the rest of the inconsistent constants.

/assign

[2022-11-24 19:17] chiukapoor commented on #7611
Updated the constant `ClusterLabelName` to `ClusterNameLabel`, executed the test using `make test` [passed], and created a WIP PR.

[2022-11-25 03:55] andyzheung opened #7619 "can help me to solve how to deploy 3 controller plane workload cluster use capi+capv?"
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/1700
I see some of the problem like me, but it seem don't solve it?
@srm09 @fabriziopandini

[2022-11-25 04:31] sbueringer commented on #7575
Looks like  #7587 introduced a bug: https://github.com/kubernetes-sigs/cluster-api/pull/7616/files#r1031946701

[2022-11-25 04:39] sbueringer commented on #7619
Is this issue a duplicate of https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/1700 just to point to the CAPV issue? If yes, let's please close the issue here (#7619)

[2022-11-25 04:58] sbueringer commented on #7575
@killianmuldoon Just out of curiosity in case you just know it.

Is the ClusterClass ownerRef tree equivalent to the non-ClusterClass tree just with more ownerRefs for the ClusterClass+referenced templates? (it's a bit hard to diff in the pictures)

[2022-11-25 05:03] sbueringer commented on #6081
The current situation is that consumers of our `cluster-api/test` module have to add a replace statement (`replace sigs.k8s.io/cluster-api => sigs.k8s.io/cluster-api v1.1.2`) to their go.mod file.

I'm not sure we found a good alternative yet that doesn't introduce too much toil.

I'm not sure what you mean with "getting all providers to update their test structure", adding the replace statement?

[2022-11-25 06:07] sbueringer opened #7620 "Use latest kind image in CAPD e2e tests"
We bumped to kind v0.17.0 a while back. Let's align the images used in CAPD to use the images published by kind v0.17.0 (can be seen here: https://github.com/kubernetes-sigs/kind/releases/tag/v0.17.0)

Notably:
* 1.25: kindest/node:v1.25.3@sha256:f52781bc0d7a19fb6c405c2af83abfeb311f130707a0e219175677e366cc45d1
* 1.24: kindest/node:v1.24.7@sha256:577c630ce8e509131eab1aea12c022190978dd2f745aac5eb1fe

[2022-11-25 06:08] sbueringer commented on #7620
/triage accepted

[2022-11-25 06:53] AverageMarcus commented on #6081
Yeah that's what I was thinking but it's quite a lot of work for all the providers. If that's going to be the recommended approach then the provider contract docs should also be updated to include it.

[2022-11-25 06:59] sbueringer opened #7622 "Cluster API and cgroups v2"
Goal of this issue for now is to figure out where we stand regarding cgroups v2 and if there's anything to do and by whom.

## Context

* cgroups v2 was recently graduated to GA in Kubernetes v1.25: https://kubernetes.io/blog/2022/08/31/cgroupv2-ga-1-25/
* It is recommended to use [cgroups v2](https://kubernetes.io/blog/2022/08/31/cgroupv2-ga-1-25/#what-is-cgroup-v2) if possible
* cgroups v2 requi

[2022-11-25 07:03] sbueringer commented on #6081
We can certainly discuss alternatives. I personally just don't have a good solution yet.

[2022-11-25 07:13] AverageMarcus commented on #6081
Implementers guide is what I meant, just couldn't remember the right name.

I also don't have a good solution. 😞

[2022-11-25 10:01] spjmurray opened #7624 "Keep Provider Identites Alive During Deletion"
**User Story**

CAPI clusters aren't particularly compatible with CD solutions like Helm, that create a bunch of resources, then delete a bunch of resources.  In my particular case, using CAPO, deprovisioning would delete the OpenStack identify secret before the CAPO controller was able to deprovision the resources, leaving a load of orphaned expense and stuff deadlocked.  Can we make a more "norm

[2022-11-25 10:05] AxiomSamarth opened #7625 "clusterctl backup does not backup worker node CRs"
**What steps did you take and what happened:**
I am backing up and restoring target clusters from one management cluster to another. I ran

`clusterct.exe backup --kubeconfig <path-to-kubeconfig> --directory <path-to-cr-file-dump-directory>`

However, I do not see the `machinedeployment`, `machinset`, `machines`, `kubeadmconfig`, provider-specific infrastructure `<provider>-machine` and `<provider

[2022-11-25 11:51] chiukapoor commented on #6975
Hello @sbueringer, @fabriziopandini and @killianmuldoon, May you please help with the [above](https://github.com/kubernetes-sigs/cluster-api/issues/6975#issuecomment-1323725276) query

[2022-11-25 11:57] killianmuldoon commented on #6975
It should be fine to run `make release` locally to test you changes :slightly_smiling_face:

[2022-11-25 12:02] chiukapoor commented on #6975
Thank you, I will test things out and will create a PR.

[2022-11-25 13:45] chiukapoor commented on #6975
I have created the PR which adds make target `release-manifests-all` to generate all the release manifests independently of `make release`

While looking at `release-manifests` and `release-manifests-dev` targets, I couldn't find a way to combine them considering that both of them are using pretty different variables of folder paths. The same applies to `manifest-modification-*`. Please do let me

[2022-11-28 06:29] sbueringer opened #7633 "Consider adding the KubeCon Cluster API tutorial to the book"
I think we should consider adding the KubeCon tutorial to our book (sched: https://kccncna2022.sched.com/event/1BZDs docs: https://github.com/ykakarap/kubecon-na-22-capi-lab).

Disclaimer: Let's wait a bit for now as we currently consider migrating the book to hugo.

I think it would be nice to have the later parts of the tutorial as some sort of advanced section which walks through Cluster API fe

[2022-11-28 06:31] sbueringer commented on #7633
cc @fabriziopandini @killianmuldoon @ykakarap @jackfrancis @shivi28

[2022-11-28 08:23] sbueringer opened #7634 "Define CRD field validation policy"
As of today we have 95%+ of our field validation in webhook code.

We did this mostly because:
* most of the validation is too complex to be handled in OpenAPI schema
* it's easier to test our webhook code with simple unit tests vs. OpenAPI validation with envtest

This has the following downsides:
* our OpenAPI schema is less expressive, so users and tools can't validate field values based on our

[2022-11-28 08:27] sbueringer commented on #7634
cc @CecileRobertMichon @enxebre @fabriziopandini @vincepri

cc @killianmuldoon @JoelSpeed

[2022-11-28 08:35] sbueringer opened #7635 "Consider aligning Cluster API conditions to upstream conditions"
A while back an upstream KEP was merged which tries to standardize conditions: https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/1623-standardize-conditions
(corresponding implementation: https://github.com/kubernetes/kubernetes/pull/90454)

The diff to our conditions is:
* upstream has an additional optional ObservedGeneration field
* Cluster API has an additional opti

[2022-11-28 08:36] sbueringer commented on #7635
cc @fabriziopandini @dlipovetsky

[2022-11-28 08:46] sbueringer opened #7636 "Provide more prescriptive guidance on multi-tenancy"
From the PR that we previously had for this topics:

future release of Cluster API that drops support for older Kubernetes versions.

There doesn't seem to be a proposal in core Cluster API and the book only has this short documentation: https://cluster-api.sigs.k8s.io/developer/architecture/controllers/multi-tenancy.html

Multi tenancy in Cluster API defines the capability of an infrastructure pr

[2022-11-28 08:47] sbueringer commented on #7636
cc @randomvariable @fabriziopandini @CecileRobertMichon @richardcase
In case you want to add something. Just thought it's better to at least track this in an issue vs a closed PR.

[2022-11-28 10:11] killianmuldoon commented on #7634
Related discussion at https://github.com/kubernetes-sigs/cluster-api/issues/6398 (Maybe should be closed in favor of this one?)

[2022-11-28 10:38] sbueringer commented on #7634
Hm damn. Forgot we had the other issue. I'll re-read the whole thing when I get to it

[2022-11-28 11:07] sbueringer opened #7641 "TestMachineDeploymentReconciler is flaky"
### Failure cluster [bc29265e905008978037](https://go.k8s.io/triage#bc29265e905008978037)

##### Error text:
[code]
#### Recent failures:
[28/11/2022, 01:20:22 periodic-cluster-api-test-mink8s-main](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/periodic-cluster-api-test-mink8s-main/1596931864117907456)
[27/11/2022, 21:20:18 periodic-cluster-api-test-mink8s-main](https://prow.k8s.io/view/gs/k

[2022-11-28 11:08] sbueringer opened #7642 "TestMachineHealthCheck_Reconcile is flaky"
### Failure cluster [f53edb1c255bf8803bc1](https://go.k8s.io/triage#f53edb1c255bf8803bc1)

##### Error text:
[code]
#### Recent failures:
[28/11/2022, 08:33:20 periodic-cluster-api-test-mink8s-release-1-2](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/periodic-cluster-api-test-mink8s-release-1-2/1597040833272483840)
[22/11/2022, 16:06:31 pr:pull-cluster-api-test-main](https://prow.k8s.io/vie

[2022-11-28 11:28] sbueringer opened #7643 "Self-hosted e2e tests are a bit flaky"
### Failure cluster [16cd3caed44925f8a110](https://go.k8s.io/triage#16cd3caed44925f8a110)

##### Error text:
[code]
#### Recent failures:
[26/11/2022, 01:26:11 periodic-cluster-api-e2e-main](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/periodic-cluster-api-e2e-main/1596208087008546816)
[21/11/2022, 07:28:26 periodic-cluster-api-e2e-main](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/p

[2022-11-28 11:58] fabriziopandini commented on #7643
/triage accepted
/help

[2022-11-28 11:58] fabriziopandini commented on #7642
/triage accepted
/help

[2022-11-28 11:58] fabriziopandini commented on #7641
/triage accepted
/help

[2022-11-28 12:01] fabriziopandini commented on #7635
/triage accepted
I have written https://docs.google.com/document/d/1hBQnWWa5d16FOslNhDwYVOhcMjLIul4tMeUgh4maI3w/edit some time ago with similar considerations, which is also linked by our meeting minutes in the open proposal section

[2022-11-28 12:01] fabriziopandini commented on #7635
/kind api-change

[2022-11-28 12:03] fabriziopandini commented on #7633
/triage accepted
/help

huge +1 as soon as we sort out-migration + maintainability discussions

[2022-11-28 12:08] sbueringer commented on #7457
Thx for testing this, good information.

I think this brings me back to:

Seems to me the current util is not ideal. I wonder if we should re-analyze what exactly providers need from this util and then re-design it based on that. Currently we're just trying to improve what we have to make it fit new use cases somehow, but I think we can think bigger if we want to.

[2022-11-28 12:11] fabriziopandini commented on #7636
/triage accepted
/help
It would be great to revive https://github.com/kubernetes-sigs/cluster-api/pull/4514, but at the same time, I would like provider's teams to take ownership of defining a common baseline that the users can rely on across different providers and make it a formal contract.
If it could help. let's bring up this topic in the weekly meeting ...

[2022-11-28 12:13] sbueringer commented on #7636
I agree. I just had it on my list of things that we just lost track of. I definitely think this should be discussed with providers if we want to get to more conformity that we currently have documented.

Added it to the agenda for this wekk.

[2022-11-28 12:22] fabriziopandini commented on #7620
Thanks for this change!
What about tracking this somehow on our release task list, so we periodically check we are running recent images?
cc @sbueringer @ykakarap
/lgtm
/approve

[2022-11-28 12:27] fabriziopandini commented on #7074
/close
give plus ones on my comment above

[2022-11-28 12:27] #7074 closed

[2022-11-28 12:28] fabriziopandini commented on #7619
/close
as per the comment above

[2022-11-28 12:36] #7620 closed

[2022-11-28 12:43] fabriziopandini commented on #7603
I will comment on the issue as well, I'm only a bit concerned about the spreading of versions in the config file, but as soon as we sort this out, I'm +1 for changes making the E2E test framework easier to use for providers

[2022-11-28 12:55] JoelSpeed commented on #7634
The testing side of this could use some expansion IMO. In other projects I work on we have managed to leverage envtest effectively to test validations of the OpenAPI schemas from a user perspective (ie from the YAML representation). We have also used it to test the validations from a Go perspective (because Go serialisation also matters). Yes with the webhooks we can write unit tests for the webho

[2022-11-28 15:17] fabriziopandini commented on #7457
I kind of agree that we can achieve a cleaner and more flexible solution with a runtime extension...
This will solve the issue of having granular control on prekubeadm commands, and provide many alternatives to inject custom scripts via ConfigMaps or other means...

[2022-11-28 17:41] fabriziopandini commented on #7622
/triage accepted
Thanks for this research!
I think the only missing bit is to ask in test-infra if/how we can enable cgroups v2 in prow machines where we run CAPD.

[2022-11-28 17:49] fabriziopandini commented on #7612
Sure, feel free to assign yourself to the issue; there is still some work to be done to get to an agreement about the solution, but this can be part of your work

[2022-11-28 18:36] fabriziopandini commented on #7624
/triage accepted
/help
I think it is an interesting field to investigate if someone has the bandwidth to invest time in it

I also agree a PoC can help; one of the challenges will be to identify what is relevant for core CAPI and how to generalize things learned using the openstack provider so that they can be valuable for other providers.

At this stage it is kind of early to say this requires a

[2022-11-28 21:31] fabriziopandini commented on #7625
FYI cluster API 1.1.3 is out of support.
also, FYI https://github.com/kubernetes-sigs/cluster-api/pull/7005 (clusterctl: Add move --to-directory and --from-directory flags, deprecate clusterctl backup and restore) and https://github.com/kubernetes-sigs/cluster-api/pull/7435 (Clarify clusterctl move supported use case and limitations)

In the following doc you can find details about how clusterctl

[2022-11-29 02:37] sbueringer commented on #7622
I'll ask in Slack if that's something doable.

[2022-11-29 04:53] Rohitrajak1807 commented on #7612
/help

[2022-11-29 04:57] Rohitrajak1807 commented on #7612
I can't seem to assign it to me. Can you guide me on the process of doing it? Contributing guide mentions a CLA, but that's done when the PR is created. Is there something else that needs to be done beforehand?

[2022-11-29 05:17] sbueringer commented on #7612
@Rohitrajak1807 You have to write `/assign` in a comment on this issue

[2022-11-29 05:30] Rohitrajak1807 commented on #7612
/assign

[2022-11-29 07:24] sbueringer commented on #7147
They don't need Prometheus specifically, but running Kubernetes clusters at that scale in production without monitoring doesn't sound sane to me.

Yup they should. I think Fabrizio meant if we build our own instead of just using metrics.

If solved with normal metrics that's usually fine. For normal counters usually rates are used (e.g. error per minute vs absolute error count) and Prometheus hand

[2022-11-29 09:03] sbueringer commented on #7424
I think Ready could be super-ambigious. Are we talking about:
* when a cluster is "ready" after initial provisioning
* when a cluster is "ready" after latest changes to KCP/ MachineDeployments/ ... are reconciled + nodes are up ...

What should happen if Nodes & Machines and thus the Cluster flips into not ready? Are we expecting an event every time the cluster flips into not Ready / Ready?

[2022-11-29 09:14] AxiomSamarth commented on #7625
This is very helpful. Thank you so much @fabriziopandini!

[2022-11-29 09:14] #7625 closed

[2022-11-29 09:36] sbueringer commented on #7445
I think the answer is monitoring to be honest. Monitor Cluster API and then produce corresponding alerts with either manual playbooks or some automatic mitigation (although that's super hard with things like net splits)

Some thoughts:

If we include "can the CAPI controller contact workload clusters" into our readiness/liveness probes (or if the controller just shuts down) we get the following co

[2022-11-29 09:45] braghettos commented on #7424
In the CAPI context, this is the status of a Cluster custom resource:

[code]

So I would say that the Cluster is Ready when both `controlPlaneReady` and `infrastructureReady` are `true`, what do you think?

There is also an event with reason `ControlPlaneUnhealthy`, why there shouldn't be one for ControlPlaneReady as the condition states?

That's clear, an event should be captured and stored if s

[2022-11-29 14:05] #6975 closed

[2022-11-29 14:56] jayunit100 commented on #7445
The answer to any logging problem can be better metrics and alerting, but logs are just a batteries included solution that work anywhere.

And  w non traditional capi deployments is there is no monitoring infrastructure guarantee.

The advantage of some kind of log in here or other lightweight aggregation is that it makes the diagnosis immediate and transparent.

[2022-11-29 15:31] jayunit100 commented on #7147
The answer to any logging problem can be better metrics and alerting, but logs are just a batteries included solution that work anywhere.

And  w non traditional capi deployments is there is no monitoring infrastructure guarantee.

The advantage of some kind of log in here or other lightweight aggregation is that it makes the diagnosis immediate and transparent.

[2022-11-29 16:37] #6979 closed

[2022-11-29 16:40] #6980 closed

[2022-11-29 17:05] killianmuldoon commented on #7575
All tasks now done - will close this once #7606 is merged.

[2022-11-30 13:50] killianmuldoon commented on #7641
/assign

[2022-11-30 14:45] killianmuldoon opened #7669 "Stop using owner references to determine ClusterResourceSetBinding cluster"
The current implementation of the ClusterResourceSetBinding controller [uses the owner references in objectMeta to determine which cluster the resource binding applies to](https://github.com/kubernetes-sigs/cluster-api/blob/5e1d9600e31377b72372db3251607868cfa75c7d/exp/addons/internal/controllers/clusterresourcesetbinding_controller.go#L81).

As a result the ClusterResourceSetBinding requires two o

[2022-11-30 15:44] johananl opened #7670 "Track CAPI usage"
## General

It could be useful to find a way to track CAPI usage and adoption by the community, namely to roughly measure how many people use the project and perhaps slice the data using more detailed dimensions.

Some questions which such a solution could help us answer:

- How many people use CAPI in general?
- How many people use each CAPI provider
- How many people use each supported distro?
-

[2022-11-30 15:50] killianmuldoon commented on #7670
Is there any example of a community-owned open source project which has implemented telemetry of this sort?

I think this would be a very sensitive topic, and it could be useful to discuss it at a community meeting and the mailing list to get an idea of the broader community's opinions.

[2022-11-30 16:20] sbueringer commented on #7669
Sounds fine to me in general.

Do you know when we currently use .spec.clusterName vs the cluster name label?

I think ~ core CRDs are using the spec field? (not sure IIRC)

[2022-11-30 16:34] johananl commented on #7670
Caddy comes to mind: https://caddy.its-em.ma/v1/docs/telemetry

I agree 100%, and maybe telemetry isn't the only option or the best one. If there are less "intrusive" ways to gain similar insights, even partially, I'd be willing to check them out of course.

[2022-11-30 17:00] sbueringer commented on #4063
Removing it from the 1.2 milestone as it wasn't implemented in the 1.2 time frame

[2022-11-30 17:08] fabriziopandini commented on #7669
+1 to add a field; we can infer the value from the ownerRef while dropping it from existing objects.

/triage accepted
/help

[2022-11-30 17:10] ykakarap commented on #7129
/close
re-opening with new template.

[2022-11-30 17:10] #7129 closed

[2022-11-30 17:11] ykakarap opened #7671 "Tasks to bump to Kubernetes v1.26"
This issue is tracking the tasks that should be implemented **after** the Kubernetes minor release has been released.

## Tasks

Prerequisites:
* [x] Decide which Cluster API release series will support the new Kubernetes version
  * If feasible we usually cherry-pick the changes back to the latest release series.
  * The v1.26 Kubernetes version support should go back till v1.2.

### Supporting m

[2022-11-30 17:12] killianmuldoon commented on #7669
I think we can update the field in the CRS controller to update existing CRSbindings with the new field.

[2022-11-30 17:23] fabriziopandini commented on #7671
/triage accepted

[2022-11-30 17:24] ykakarap opened #7672 "Tasks for v1.4 release cycle"
Please see the corresponding section in [release-tasks.md](https://github.com/kubernetes-sigs/cluster-api/blob/main/docs/release/release-tasks.md) for documentation of individual tasks.

## Tasks

**Notes**:
* Weeks are only specified to give some orientation.

Week -3 to 1:
* [x] [Release Lead] [Set a tentative release date for the minor release](https://github.com/kubernetes-sigs/cluster-api/blo

[2022-11-30 17:26] ykakarap commented on #7672
cc @kubernetes-sigs/cluster-api-release-team

[2022-11-30 17:28] fabriziopandini commented on #7670
/triage accepted
/kind proposal

the idea is interesting, thanks for bringing this up
I think this requires a sort of proposal because what telemetry should do must be fully transparent/well documented, at the end it is a kind of contract with end users.

[2022-11-30 17:31] fabriziopandini commented on #7672
/triage accepted
it is awesome to see this work kicking off...

[2022-11-30 17:34] fabriziopandini commented on #5294
/triage accepted

[2022-11-30 17:36] johananl commented on #7670
I agree. I wanted to gather very initial feedback on the idea before going into any design discussions. As said above, I'm not 100% telemetry is the best way to go, it's _one_ of the options AFAICT.

[2022-11-30 17:37] fabriziopandini commented on #5392
/triage accepted

[2022-11-30 17:44] fabriziopandini commented on #5957
/close
due to lack of feedback, but fixing selectors should be enough and recent work on ownerRef makes things more deterministic.

Nevertheless, it seems to me that velero intentionally dropping owners' references, finalizers, managed fields leads to a reconciliation storm / the entire system being in a sort of unset state for some time, and this isn't ideal and potentially opens up to edge condi

[2022-11-30 17:44] #5957 closed

[2022-11-30 17:46] fabriziopandini commented on #6069
/triage accepted

[2022-11-30 17:46] fabriziopandini commented on #7671
FYI [this issue](https://github.com/kubernetes-sigs/cluster-api/issues/6069) seems linked to this work

[2022-11-30 17:48] fabriziopandini commented on #6081
/triage accepted
/help

/remove-kind feature
/kind documentation
according to the latest comments about providing some guidelines

[2022-11-30 17:49] fabriziopandini commented on #6147
/triage accepted

[2022-11-30 17:51] fabriziopandini commented on #6158
/triage accepted

[2022-11-30 17:53] fabriziopandini commented on #7521
/triage accepted
/help

[2022-11-30 17:54] fabriziopandini commented on #6226
/close

this discussion is superseded by https://github.com/kubernetes-sigs/cluster-api/issues/7521 (move IP family to be a CAPD internal concern)

[2022-11-30 17:54] #6226 closed

[2022-11-30 18:00] fabriziopandini commented on #6337
If I got it right this should have been fixed by https://github.com/kubernetes-sigs/cluster-api/pull/6836
/close

[2022-11-30 18:50] sbueringer commented on #6337
Yup should be fixed

[2022-11-30 18:54] sbueringer commented on #7671
Yup thx it is. @ykakarap can you please add it as release related task to the 2nd section?

[2022-11-30 19:08] sbueringer commented on #7670
Definitely interesting to have that data. I'm not sure about legal considerations and how we as a community could run the "internet-available service" which collects the data, given that we basically don't own infrastructure.

We also have to clarify how we can staff this feature/service.

Wondering if a non-intrusive way of starting a reference page where folks can add themselve would have at lea

[2022-11-30 19:22] #7603 closed

[2022-11-30 19:25] mtougeron commented on #7622
We need to be careful with enabling cgroups v2 in kubernetes < 1.24 as the version of cAdvisor is definitely broken. In 1.24 it is a compatible version of cAdvisor but cgroups v2 still isn't GA until kubernetes 1.25. The general advice I've gotten (though it is anecdotal) is to not run cgroups v2 until kubernetes 1.25.

[2022-11-30 19:27] sbueringer commented on #7622
Thx for the info! To provide a bit more information:

In general I would recommend reading the entire doc, a lot of useful information there.

[2022-11-30 20:26] mtougeron commented on #7622
yeah. But that doesn't help kubelet's built in node pressure work properly. It would help things like metrics-service and monitoring though.

[2022-11-30 20:26] fabriziopandini commented on #6398
/triage accepted

[2022-11-30 20:29] fabriziopandini commented on #6520
/triage accepted
cc @fgutmann

[2022-11-30 20:30] fabriziopandini commented on #6923
/close
due to lack of activity

[2022-11-30 20:30] #6923 closed

[2022-11-30 20:33] ykakarap commented on #7671
done

[2022-11-30 20:47] fabriziopandini commented on #6588
/triage accepted
I will start by adding a warning about not deleting old templates in https://cluster-api.sigs.k8s.io/tasks/updating-machine-templates.html

I'm not 100% sold on the idea of forcing finalizers on objects managed by the users (while instead we are already doing something similar when using managed topologies)
Let's wait for some additional opinion - or bring it up during office hour

[2022-11-30 20:48] fabriziopandini commented on #6679
/triage accepted

[2022-11-30 20:55] fabriziopandini commented on #6863
/triage accepted
A possible approach that comes to my mind is to, add a custom watch ensuring all the register extensions get reconciled periodically (a sort of sync but starting from the registry)
/help

@sbueringer is this something do you think we should prioritize in 1.4?

[2022-11-30 20:56] fabriziopandini commented on #7044
Let's keep this discussion open to channel feedback to @pacoxu
/triage accepted

[2022-11-30 20:59] fabriziopandini commented on #6353
/triage accepted

[2022-11-30 21:00] fabriziopandini commented on #2217
/triage accepted

[2022-11-30 21:00] fabriziopandini commented on #6227
/triage accepted

[2022-11-30 21:08] fabriziopandini commented on #6303
my two cents is that we should improve incrementally, identify one use case that can lead to failures, fix it, and move to the following one.
also interesting the idea to make clusterctl init to wait by default, but IMO we should ask for feedback during the office hours + treat it as a breaking change

/triage accepted
/help

[2022-11-30 21:11] fabriziopandini commented on #6283
/triage accepted
/help
There is ongoing work in https://github.com/kubernetes-sigs/controller-runtime/pull/2014 to implement warning in controller runtime, this could potentially unblock this issue

[2022-11-30 21:14] fabriziopandini commented on #7246
/triage accepted
/help

[2022-11-30 21:14] fabriziopandini commented on #7041
/triage accepted

[2022-11-30 21:21] fabriziopandini commented on #7449
/triage accepted
/help

let's make an assessment about how much invasive this is vs the value added by the check before fixing

[2022-11-30 21:22] fabriziopandini commented on #7321
/triage accepted
/help

[2022-11-30 21:23] fabriziopandini commented on #7321
PS. we already re-inforced guidelines on error messages, so we can also consider to surface the underlying error

[2022-11-30 21:24] fabriziopandini commented on #7245
/triage accepted

[2022-11-30 21:25] fabriziopandini commented on #7634
/triage accepted
@sbueringer when you have some time please check if we can dedup

[2022-11-30 21:25] fabriziopandini commented on #6966
/triage accepted

[2022-11-30 21:29] fabriziopandini commented on #6951
It is not clear how to address this use case and if there are contributors willing to invest in this effort.
but let's keep this around at least till the bot closes it
/triage accepted

[2022-11-30 21:29] fabriziopandini commented on #6951
/help

[2022-11-30 21:33] fabriziopandini commented on #7385
/close
eventually re-open a new issue if the error exists with more recent versions of Cluster API

[2022-11-30 21:33] #7385 closed

[2022-11-30 21:35] fabriziopandini commented on #7409
/triage accepted
/help

I think we should implement label propagation first, and then build on top of it

[2022-11-30 21:36] fabriziopandini commented on #6387
/triage accepted
/help

[2022-11-30 21:38] fabriziopandini commented on #7455
/triage accepted

[2022-11-30 21:50] kfox1111 commented on #7409
taints is important too. should that be another issue too or wrapped up with labels or annotations?

[2022-11-30 21:55] fabriziopandini commented on #7445
/triage accepted

trying to make up my mind on two sides of the problem:
- how can we detect netsplit (a problem on the machine controller run on) from other network problems that affect connectivity to all or a subset of workload clusters
- how bounce should happen is interesting. What trigger the bumps? how do we ensure the newly scheduled controller doesn't get scheduled on the same machine.

[2022-11-30 22:00] fabriziopandini commented on #7443
/triage accepted

It will be interesting to have a security expert taking a look at this; what I would like to avoid is implementing and supporting both the customer certificate generation process and the cert-manager way of doing stuff due to for some corner case like e.g. bring your own certificate issuer or something else

[2022-11-30 22:00] fabriziopandini commented on #7443
/help

[2022-11-30 22:04] kfox1111 commented on #7443
I for one like having all the certificate generation code centralized into a well known, well reviewed product like cert-manager. Having each and every project build or at least embed its own is rather scary.

I'd say, at very minimum, please keep the option.

[2022-11-30 22:06] thefirstofthe300 opened #7674 "Updating machineType fails to reconcile MachineDeployments"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
I created a cluster following the guide here: https://cluster-api.sigs.k8s.io/tasks/experimental-features/cluster-class/write-clusterclass.html#machinedeployment-variable-overrides

This guide patches the instanceType in the AWSMachineTemplate and KubeadmControlPlaneTemplate; however, if t