[2020-04-20 19:38] vincepri commented on #2041
@chuckha @hypnoglow what's the status of this issue? can it be closed?

[2020-04-20 19:39] vincepri commented on #1970
/remove-lifecycle stale
@dippynark any updates or action items on this issue?

[2020-04-20 19:39] vincepri commented on #1970
/area bootstrap

[2020-04-20 19:40] vincepri commented on #2063
@benmoss this might be worthwhile to explore this cycle

[2020-04-20 19:40] vincepri commented on #2063
/milestone v0.3.x

[2020-04-20 19:41] vincepri commented on #2064
@dlipovetsky any updates on this issue?

[2020-04-20 19:42] vincepri commented on #2073
@jayunit100 do we have an action items here, or should we close this one out?

[2020-04-20 19:51] vincepri commented on #2171
@wfernandes any thoughts on this?

[2020-04-20 19:52] detiber commented on #1828
@jonasrosland did a bit of a poc of this a little bit back. His branch can be found here: https://github.com/jonasrosland/cluster-api/blob/master/docs/book/install-and-build.sh#L63

[2020-04-20 20:15] detiber commented on #1554
It depends? The issue is complicated quite a bit by the kubernetes cloud provider integration, which requires a unique cluster name as well.

I think we have a couple of paths we can take here:
- Fully externalize the issue and document that it shouldn't be done
  - This is what we've done to date
  - Poor UX, could end up with competing reconciliations that could end with running workloads being

[2020-04-20 20:16] benmoss commented on #2063
/assign

[2020-04-20 20:21] hypnoglow commented on #2041
Probably this is obsolete, as I think https://github.com/kubernetes-sigs/cluster-api/pull/2144 resolved the issue.

[2020-04-20 20:23] fabriziopandini commented on #2619
@vincepri +1 to close

[2020-04-20 20:26] fabriziopandini commented on #2041
+1 to close.
every change to manifest should go through clusterctl, otherwise, we are introducing skew between UX and E2E test.

[2020-04-20 20:28] fabriziopandini commented on #2372
+100

[2020-04-20 21:09] vincepri commented on #2619
/close

[2020-04-20 21:09] #2619 closed

[2020-04-20 21:13] vincepri commented on #2041
Closing, thank you!

/close

[2020-04-20 21:13] #2041 closed

[2020-04-20 21:29] vincepri commented on #2234
Is this still the case now that CAPD has been updated to support v1alpha3 and KCP?

[2020-04-20 21:29] vincepri commented on #2252
/good-first-issue

[2020-04-20 21:30] vincepri commented on #2306
I'd almost consider this as a non-goal for the foreseeable future. Thoughts on closing this out?

/cc @fabriziopandini

[2020-04-20 21:33] vincepri commented on #2309
cc @fabriziopandini

[2020-04-20 21:43] scottslowe commented on #2886
OK, I was able to make this work using Secrets instead of injecting the certificate data in the configuration. I did find some errors in the external etcd doc, for which I'll open an issue (and for which I'm happy to work on a PR). That being said, I think this issue is still valid, but feel free to correct me.

[2020-04-20 21:44] vincepri commented on #2416
Closing for now due to inactivity, feel free to reopen if necessary.

/close

[2020-04-20 21:44] #2416 closed

[2020-04-20 21:49] scottslowe opened #2941 "Instructions for using external etcd cluster are incomplete"
**What steps did you take and what happened:**

I followed the instructions found at https://github.com/kubernetes-sigs/cluster-api/blob/master/bootstrap/kubeadm/docs/external-etcd.md and noted several errors in the document:
1. One of the `kubectl create secret` commands references the etcd server certificate and key, but it should reference the etcd CA.
2. The `kubectl create secret tls` command

[2020-04-20 21:51] scottslowe commented on #2886
#2941 opened for errors/omissions in the external etcd document.

[2020-04-20 21:54] vincepri commented on #2121
/kind documentation

[2020-04-20 22:00] wfernandes commented on #2171
I need to look into this some more since it has been a while. I can take a look into this and see if this is still necessary/applicable.
/assign

[2020-04-20 22:05] vincepri commented on #2171
/milestone v0.3.x

[2020-04-20 22:11] benmoss commented on #2886
Yup, we certainly shouldn't crash I was hoping to clarify whether we wanted to support this use-case or if we wanted to error to the user that the required secrets couldn't be found. I'm still not sure, @vincepri did you have any opinion on this?

[2020-04-20 22:25] dippynark commented on #2813
@fabriziopandini I guess I'm just not too sure what a move implementation would look like since currently the controller assumes we're deploying to the local cluster.

The only thing I can think of would be for the KubernetesCluster resource to trigger the creation of a ServiceAccount with enough permissions to manage the local cluster. A corresponding token, CA cert and external apiserver IP (may

[2020-04-20 22:32] dippynark commented on #1970
@vincepri IMO it makes sense to either remove the `cluster.Spec.ClusterNetwork.APIServerPort` field and always use the default 6443 serving port, or change the kubeadm bootstrap provider to respect this field (i.e. configuring the apiserver to serve on whatever is specified) as well as requiring all infrastructure providers to respect it (i.e. configuring the target port of the apiserver loadbalan

[2020-04-20 23:05] vincepri commented on #2577
/milestone v0.3.4

Should be fixed in #2880

[2020-04-21 00:06] michaelgugino commented on #1514
@elmiko I'm going to draw up a full CAEP.  If we go with the annotation method I proposed here: https://github.com/kubernetes-sigs/cluster-api/issues/1514#issuecomment-615504053

Then ordering doesn't matter, at least not in the context of the machine-controller.  Other components can decide ordering among themselves, if at all.  The machine-controller just doesn't move onto the next action if one

[2020-04-21 00:13] michaelgugino commented on #2846
@jan-est

@vincepri pointed me at this issue as a point of collaboration.

I have https://github.com/kubernetes/enhancements/pull/1411 for a source of coordinating disruptive actions against nodes.  In particular, disruptive actions might not be limited to just cluster-api components.  For example, in OpenShift, we update on-disk configuration and reboot hosts.  We obviously don't want to remediat

[2020-04-21 06:50] jan-est commented on #2846
@michaelgugino we have written enhancement google document that we are going to share to the whole community very soon. We would be really grateful if you would take part in the debate as soon as that document is made public. Those things that you have suggested in your enhancement proposal must definitely be considered before we can reach a final solution.

We discussed external machine remediati

[2020-04-21 07:22] fabriziopandini commented on #2306
Being a library, this is still something interesting to explore in the long term
However AFAIK there is no concrete need for this now, and considering that it requires changing methods signatures, I'm ok in closing this issue and move this in the roadmap as an item to be planned for some future relase

[2020-04-21 08:49] fabriziopandini commented on #2234
Now the code is slightly different; it looks for the new node (instead of one of the control plane nodes) and it runs kubectl inside the node; the code looks also re-entrant and the controller will retry this until nodeRef is set
So IMO this issue can be closed.

[2020-04-21 08:51] fabriziopandini commented on #2073
IMO a possible action item is to check all the client-go /controller runtime client have a finite timeout

[2020-04-21 08:54] fabriziopandini commented on #2309
/close
We are already waiting for all the nodes having noderef
see https://github.com/kubernetes-sigs/cluster-api/blob/5596ab2a8d3f7dc14ca63e7f425df7c8f76fab3d/test/framework/machinedeployment_helpers.go#L81-L112

[2020-04-21 08:54] #2309 closed

[2020-04-21 09:17] fabriziopandini commented on #2813
@dippynark supporting move is part of a common workflow (from bootstrap to a self-hosted cluster) and we should ensure this is tested by our E2E. So this is a requirement if we want to merge CAPD and the Kubernetes provider

I think that as other providers do,  this provider should accept some parameters specifying where the infrastructure lives. In this case, it should be a config map with the ku

[2020-04-21 09:39] fabriziopandini commented on #2941
/kind documentation

[2020-04-21 12:06] jan-est commented on #2846
@michaelgugino @vincepri @beekhof @JoelSpeed We have published a MachineHealthCheck enhancement proposal in google docs. The document is now open to everyone's comments [CAPI MachineHealthCheck enhancement](https://docs.google.com/document/d/1V59vCguj5doNBL05lsRTlfon7AhUZ2oHfvhw1T4to6s/edit)

[2020-04-21 12:08] jan-est commented on #2836
We have published a MachineHealthCheck enhancement proposal in google docs. The document is now open to everyone's comments [CAPI MachineHealthCheck enhancement](https://docs.google.com/document/d/1V59vCguj5doNBL05lsRTlfon7AhUZ2oHfvhw1T4to6s/edit)

[2020-04-21 12:19] randomvariable commented on #1642
I think @scottslowe was doing some tests around this.

[2020-04-21 12:25] randomvariable commented on #1477
Don't think conditions would negate the need for metrics. Would prefer to keep this open even if it occurs after conditions.

[2020-04-21 14:06] vincepri commented on #2886
We definitely shouldn't crash or panic, I didn't have time to actually go in the code details yet though, can you do an investigation and come up with a plan of action / PR?

[2020-04-21 14:29] benmoss commented on #2886
/assign

[2020-04-21 14:36] vincepri commented on #2234
/close

[2020-04-21 14:37] #2234 closed

[2020-04-21 14:39] vincepri commented on #1970
I'd prefer to add support to respect the field, but that requires a contract amendment. We should have more clear documentation on what we do today

[2020-04-21 14:43] scottslowe commented on #1642
I am not doing any testing in this area, but I'm happy to help with some testing if that would be useful. (My recent involvement with certificates was around external etcd clusters.)

[2020-04-21 15:23] wfernandes opened #2944 "Remove deprecated DeleteNodeAnnotation"
We've marked `DeleteNodeAnnotation` for deprecation as part of this PR https://github.com/kubernetes-sigs/cluster-api/pull/2929.

This issue is to track its removal.

/kind cleanup
/milestone v0.4.0

[2020-04-21 15:24] vincepri commented on #2944
/milestone v0.4.0

[2020-04-21 16:29] JoelSpeed commented on #1876
Yep, next steps I would say is:
- Ensure CAPA, CAPG, CAPZ have tracking issues for adding support
- Update documentation to ensure convention is documented

[2020-04-21 16:48] vincepri commented on #1876
/kind documentation

[2020-04-21 16:48] vincepri commented on #1876
/milestone v0.3.x

[2020-04-21 19:50] wfernandes opened #2947 "clusterctl init returns config file not found error in clean environment"
**What steps did you take and what happened:**
1. In your environment, ensure that you do not have `$HOME/.cluster-api/clusterctl*`. This is the default path location that clusterctl looks at for its config.
1. Run `clusterctl init`

See the following error:
[code]

**What did you expect to happen:**
Expected `clusterctl init` to succeed without having to create an empty `$HOME/.cluster-api/cluste

[2020-04-21 19:56] vincepri commented on #2947
/milestone v0.3.4

[2020-04-21 20:15] #2912 closed

[2020-04-21 20:19] detiber commented on #2944
@elmiko this will have implications for the cluster autoscaler integration

[2020-04-21 20:29] elmiko commented on #2944
thanks for the heads up @detiber, it certainly will!

[2020-04-21 21:17] #2930 closed

[2020-04-21 21:37] #2928 closed

[2020-04-21 21:54] wfernandes commented on #2171
After investigating I'm going to fix the output of `clusterctl config provider -i aws`.
The URL is technically incorrect for the same reasons as https://github.com/kubernetes-sigs/cluster-api/issues/2830.

Currently we display
[code]
I'm thinking of splitting the URL and displaying a portion of it.
[code]

[2020-04-22 01:22] sedefsavas opened #2949 "DockerMachineTemplate is not immutable."
**What steps did you take and what happened:**
In [KubeadmControlPlane section](https://cluster-api.sigs.k8s.io/tasks/kubeadm-control-plane.html?highlight=rolling#upgrading-the-control-plane-machines) in the book, it is stated that recreating machine template is required for upgrade:
[code]

I can update DockerMachineTemplate.

/kind bug

[2020-04-22 07:26] fabriziopandini commented on #2947
Ok for me to test if we are using default clusterctl file (path is empty)
However we should preserve also the behaviour introduce by https://github.com/kubernetes-sigs/cluster-api/pull/2899 (error if a config file is specified but it doesn't exist)

[2020-04-22 07:30] fabriziopandini commented on #2947
A possible alternative is to revert 2899 and and a test for checking file exists in case EOF path != ""
This probably is cleaner and more explicit than using ReadInConfig to check file existance
@wfernandes opinions?

[2020-04-22 14:19] vincepri commented on #2949
This is definitely strange, let's fix that up!

/milestone v0.3.4
/help

[2020-04-22 14:25] detiber commented on #2949
Is this an issue against KubeadmControlPlane or against cluster-api-provider-vsphere, which isn't enforcing that VSphereMachineTemplate is immutable?

It seems to me that KubeadmControlPlane is operating as expected here by detecting the `Spec.Version` change, but not the change to the VSphereMachineTemplate.

[2020-04-22 15:02] wfernandes commented on #2947
/assign
/lifecycle active

[2020-04-22 16:48] sethp-nr commented on #2949
What Jason's describing matches my understanding: providers SHOULD make their templates immutable, because CAPI will treat them as such by not inspecting them to see if they've changed.

We have gotten ourselves out of a pickle at least once by temporarily turning off immutability (by deleting the webhook config), making a change, and then causing the KCP into doing an upgrade, as you describe, bu

[2020-04-22 17:24] vincepri commented on #2941
/milestone v0.3.x

[2020-04-22 17:24] CecileRobertMichon commented on #2941
/priority important-soon

[2020-04-22 17:24] CecileRobertMichon commented on #2941
/help

[2020-04-22 17:26] vincepri commented on #2934
/milestone v0.3.x

[2020-04-22 17:28] vincepri commented on #2916
/milestone Next

[2020-04-22 17:30] bboreham commented on #2916
[Weave Scope](https://github.com/weaveworks/scope/) is another possible starting-point - I don't know if anyone has done a ClusterAPI plugin for it yet, but maybe having the link here will encourage someone.

[2020-04-22 17:43] vincepri commented on #2914
Thank you for bringing this up @sherifkayad, we discussed this during the April 22nd community meeting, in general consensus is that adoption is out of scope for this project. That said, we want to help efforts outside Cluster API by making adoption possible, but not supported.

From the [meeting notes](https://docs.google.com/document/d/1fQNlqsDkvEggWFi51GVxOglL2P1Bvo2JhZlMhm2d-Co/edit#heading=h.

[2020-04-22 17:43] #2914 closed

[2020-04-22 17:45] devigned opened #2952 "listDescendants should also fetch machinepools"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

When deleting a cluster, machinepools are not deleted. This is due to [`listDescendants` not collecting machinepools](https://github.com/kubernetes-sigs/cluster-api/blob/99a95aaa59492924b04e6dddbea17992fecca24d/controllers/cluster_controller.go#L361-L392).

**What did you expect to happen

[2020-04-22 17:47] kfox1111 commented on #2914
While in general I don't think adopting every existing k8s cluster is a good idea, what about kubeadm deployed clusters? a process to adopt them would be good I think.

[2020-04-22 20:00] vincepri commented on #2916
Super supportive of having efforts to provide user interfaces, and we should definitely follow-up with some documentation on how to use and setup such tools. In general, for this repository we don't think it falls under our current responsibilities.

Should we close this one out and follow-up with some PRs to the book when UI tools are ready to be used?

[2020-04-22 20:49] #2886 closed

[2020-04-22 21:59] scottslowe commented on #2941
As this is something I'm actively testing right now, I'd like to take this issue.

/assign

[2020-04-23 08:00] enxebre commented on #2846
Generally we try to remove burden from providers and enforce contracts and behaviour at the core machine API layer. This provides consistent and reproducible behaviours and universal CAPI UX across any environment.

This is exactly why we removed the ability for actuators to remediate/recreate instances themselves, because there's not guarantees. Instead we put this knowledge in the MHC and we let

[2020-04-23 08:39] #2171 closed

[2020-04-23 09:26] sherifkayad commented on #2916
@vincepri I definitely agree that the responsibility of this repo would be to document the tools / reference how to integrate them in its book.

In the meantime, maybe it's fine to leave that issue here open until those PRs get merged / until the first tool emerges.

What do you think?

[2020-04-23 10:42] fabriziopandini commented on #2916
might be an issue in the octant/weave scope repositories can reach the right audience for carrying on this task...

[2020-04-23 14:04] vincepri commented on #2846
@enxebre I had a brief chat yesterday with @n1r1 and Feruz, and I posted a summary from our discussion in the linked document.

While I agree that there are more use cases other than the current remediation (delete a Machine), it hasn't been in scope for Cluster API, nor MachineHealthCheck. Moreover, we mentioned multiple times that in-place remediation isn't something we as a community want to fo

[2020-04-23 14:22] detiber commented on #2941
/lifecycle active
/remove-help

[2020-04-23 14:53] vincepri commented on #2793
/priority critical-urgent

[2020-04-23 15:11] ncdc commented on #2952
/help
/priority important-soon
/milestone v0.3.x

[2020-04-23 15:26] sethp-nr commented on #2083
/remove-lifecycle stale

I think the third item is still a valid feature request. It seems likely to tug on / help define #2769 .

[2020-04-23 15:29] ncdc commented on #2937
Another thing related to this area: if we were to add the proposed MachineLoadBalancer types, we presumably could have KCP orchestrate removing control plane machines from the load balancer, wait for quiescence, and then delete the machine. That would help, wouldn't it?

[2020-04-23 15:55] vincepri commented on #2916
/kind documentation

[2020-04-23 15:57] sethp-nr commented on #2937
Ah, that would be a nice alternative to the `--shutdown-delay-duration` & timeouts & signaling long road to the same destination 😆

[2020-04-23 16:00] vincepri commented on #2937
Just throwing an idea out there, could we make this an optional improvement in each infrastructure provider that's currently managing ELBs directly?

As in, let's say a Machine is unhealthy or is being deleted, the InfraCluster controllers today should be able to detect that and quickly remove the Machine from the load balancer list of Machines available.

[2020-04-23 16:08] ncdc commented on #2937
Yes, that is a good idea. Looking at CAPA as an example, I don't believe we're currently doing that.

[2020-04-23 16:22] vincepri commented on #2871
/milestone v0.3.x

[2020-04-23 16:24] vincepri commented on #2836
Moving this out of v0.3.4 for now, if we get the proposal merged in this cycle, we can target the full support in the next version.

/milestone v0.3.x

[2020-04-23 16:24] vincepri commented on #2836
/assign @benmoss

[2020-04-23 16:27] yastij commented on #2949
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/636 should solve this for CAPV

[2020-04-23 16:28] yastij commented on #2949
closing this as dupe

/close

[2020-04-23 17:09] sedefsavas commented on #2949
Reopening this for CAPD. There is not much to change in a DockerMachineTemplate as only docker.sock is in the template.

[2020-04-23 17:10] sedefsavas commented on #2949
/reopen

[2020-04-23 17:49] vincepri opened #2954 "Update to Controller Runtime v0.6 once it releases"
Controller Runtime is getting ready to release a new version based on Kubernetes and client-go v1.18. Once that gets released, we should update it in this repository as well.

This version bump will come with some breaking changes, and we should discuss to get it in v0.3.5 and how to communicate to infrastructure providers the possible breaking changes.

/area dependency
/milestone v0.3.x

[2020-04-23 17:54] sethp-nr commented on #2937
I wonder what the signaling mechanism should be. The health-check-and-timeout-based interface seems both hard to implement and hard to consume (e.g. ELBs not supporting HTTP-based health checks on TCP load balancers).

That said, either "deleting" or ill health is a bit late if we're going for graceful, as removing the target will race with the shutdown on the api-server side. The health-check-and

[2020-04-23 17:57] vincepri commented on #2937
We could soon use MachineHealthCheck ability to annotate unhealthy machines to detect failures early. CAPA for example can get this notification as well, and when reconciling the load balancer endpoints, could detach the unhealthy instance from the ELB.

[2020-04-23 17:59] vincepri commented on #2954
Also might be good to add a policy document on when we should allow such dependency updates.

[2020-04-23 18:10] sethp-nr commented on #2937
Right, and I think that's probably a good idea (it can potentially make cascading failures much more fun, but such is the healthy / not healthy dance). It's a solution to a slightly different problem than "how do we give advance notice that we are about to intentionally make an unhealthy control plane node?"

Maybe the answer is we don't, but that's the question I think this issue is asking.

[2020-04-23 18:31] vincepri commented on #2937
That makes sense, I was more proposing these as an additional solution to improve the situation in v0.3.x — I'll open issues in the infrastructure providers when we have the bits though and not hijack this discussion.

[2020-04-24 01:23] beekhof commented on #2846
@enxebre I really want a reboot API too, but _off_ and _on_ primitives are more useful for in-place remediation. This can be seen in what we ended up with in order to support in-place recovery downstream on metal3: https://github.com/metal3-io/metal3-docs/blob/master/design/reboot-interface.md

[2020-04-24 08:45] randomvariable commented on #2793
/assign

Will start this week commencing 27 Apr, with the usual lifecycle active label

[2020-04-24 08:58] fabriziopandini commented on #2954
/cc

[2020-04-24 09:08] fabriziopandini commented on #1749
Two considerations:
1. As of today with clusterctl init/clusterctl upgrades usage of controller flags is complicated; this change could help to solve at least the upgrade part; not sure if it can help for init as well
2. A major point of attention for the usage of component config (this is a component config) is the lack of a proper solution for managing upgrades of the config version. However, In

[2020-04-24 09:25] fabriziopandini commented on #1749
BTW, if when I get the condition work started this work is still pending I will be happy to help

[2020-04-24 09:49] fabriziopandini opened #2955 "[e2e] test framework helpers should return error (and not panic)"
**User Story**

As a developer I would like to compose test framework helpers for defining new higher level-helpers

**Detailed Description**

As of today test framework helpers are designed following the pattern2 defined [here](http://onsi.github.io/ginkgo/#global-shared-behaviors), which assumes any helper should implement assertions inside its code.

This is ok for simple helpers, like `CreateC

[2020-04-24 09:52] fabriziopandini commented on #2955
I'm going to implement a workaround in test/e2e to force delete all the clusters at the end of tests, but this should be removed as soon as a proper solution is in place

[2020-04-24 11:06] prankul88 opened #2956 "Improvements in Developers Guide"
**What steps did you take and what happened:**
Going through the [developers guide](https://cluster-api.sigs.k8s.io/developer/guide.html), I noticed a few things that were missing.

1. [Edit Manifests](https://cluster-api.sigs.k8s.io/developer/guide.html#edit-the-manifests) section does not tell the file where the image name needs to change. (for capd).
2. The management cluster requires `cert-man

[2020-04-24 13:29] detiber commented on #2955
+1 for this, I think the assertions in the common helpers also makes the errors in resulting tests more difficult to decipher as well, since the assertion calls out helper code that is not under your control (in the case of out-of-tree providers) requiring a user to dig deeper into the stack trace to figure out where in their test code the error occurred.

[2020-04-24 15:14] wfernandes opened #2957 "Define config var for clusterctl log level"
**User Story**

As a [developer/operator] I would like to see the higher verbosity logs from clusterctl by setting the log level in a config file or environment variable.

**Detailed Description**
Currently as a developer/operator if we want more log output from clusterctl we have to add the flag `-v<int>`. This is great but I have to keep remembering to add that flag for all my clusterctl command

[2020-04-24 16:08] randomvariable commented on #2793
/lifecycle active

[2020-04-24 17:09] vincepri commented on #2954
Tried to update this locally, got the following compilation errors:

[code]

[2020-04-24 17:09] devigned commented on #2339
It would also be useful to provide templating functionality for `clusterctl init` as well.

For example, it would be useful to template the infrastructure-components.yaml for a provider to change the way the provider is configured.

One concrete example of this is the desire to use a different identity type when initializing a CAPZ provider. Many of the cloud providers offer credentialed access or

[2020-04-24 17:16] detiber commented on #2954
I've been working on this a bit on https://github.com/kubernetes-sigs/cluster-api/pull/2877, just not against the cut release. Would be happy to take this issue on as part of that work.

[2020-04-24 17:21] vincepri commented on #2954
ok sounds good, can we do a separate PR for it?

/assign @detiber

[2020-04-24 17:21] vincepri commented on #2954
we should also update controller-tools to v0.3.0

[2020-04-24 17:22] detiber commented on #2954
Will definitely do a separate PR once I get things working and disentangled.

[2020-04-24 18:07] scottslowe opened #2960 "Failed first control plane node creates unrecoverable failure"
**What steps did you take and what happened:**

I created a workload cluster on AWS that would use existing infrastructure. The instance backing the first control plane node failed unexpected (some sort of AWS failure), generating errors like this in the CAPA controller manager log:

[code]

In talking with @randomvariable, he suggested deleting the Machine object, which I did, and that removed th

[2020-04-24 18:11] detiber commented on #2960
There is a unique challenge here. If we can differentiate between the control plane never initialized and the control plane existed but is no longer there, then I think we can safely retry initialization on failed creation.

I'm not sure we'd ever want to "re-initialize" a control plane that was present but is no longer there, since recreating the "control plane" despite the data loss incurred dur

[2020-04-24 18:13] detiber commented on #2954
/lifecycle active

[2020-04-24 19:04] scottslowe commented on #2960
I'm completely out of my depth here, but wouldn't CABPK or KCP have knowledge as to whether the control plane ever initialized or not? I completely agree we'd want to avoid "re-initializing" a control plane.

[2020-04-24 20:05] fabriziopandini commented on #2956
/help

[2020-04-24 20:14] fabriziopandini commented on #2957
WRT to having a variable for setting log levels I don't have strong preference
WRT to commands that generate yaml output, I think we should output logs on stderr for  (AFAIK this is how kebectl does); probably this should be a separated issue

[2020-04-24 20:25] fabriziopandini commented on #2949
This requires getting web-hooks in places for CAPD...

[2020-04-24 21:29] wfernandes commented on #2957
@fabriziopandini Yes I agree. I was going to open a separate issue for the logs to be printed onto stderr but got distracted 😄 I'll do that now.

[2020-04-24 21:33] wfernandes opened #2963 "clusterctl log output should be printed to stderr"
**What steps did you take and what happened:**
When I print out higher verbosity logs from clusterctl for example `clusterctl config cluster -v5 test -i aws`, it prints out the logs and output to stdout. So piping the output such as `clusterctl config cluster -v5 test -i aws | kubectl apply -f -` doesn't work.

**What did you expect to happen:**
I'd expect the logs to be printed out to stderr whic

[2020-04-24 21:34] wfernandes commented on #2957
https://github.com/kubernetes-sigs/cluster-api/issues/2963 is the issue as discussed above.

[2020-04-25 15:28] Arvinderpal opened #2964 "[CAPBK] [KCP] [clusterctl] Support moving custom certs"
**User Story**

As a user/operator I would like my custom certificates to be moved by clusterctl during a move operation.

**Detailed Description**

Currently, when a clusterctl move is performed, only _generated_ certificates are moved from the source to the target cluster. This is due to the fact that current code skips over custom certs. Only generated certs are assigned OwnerReferences which a

[2020-04-25 15:29] Arvinderpal commented on #2964
Also, I'd be more than happy to submit a small PR that implements this.

[2020-04-26 22:33] fabriziopandini commented on #2964
Clusterctl is designed to move also certificates without owenrref. This is called soft ownership and assumes the user provided certificates follow the same naming convention used for certificates https://github.com/kubernetes-sigs/cluster-api/blob/18ce96a31a4a7102848effecd05c3753003e092c/cmd/clusterctl/client/cluster/objectgraph.go#L333

[2020-04-26 22:37] fabriziopandini commented on #2964
/area clusterctl
/remove-kind feature
/kind bug

[2020-04-26 22:43] fabriziopandini commented on #2963
The same should apply to cluster config provider -o yaml

[2020-04-27 10:08] sachinphogat opened #2967 "vCloud Support for Cluster api"
/kind feature

Does cluster-api is planning to support vCloud Director  as we are moving all our vsphere infra to vCloud Director for managing VMs and and if yes, any ETA?

Or is there any way in which we can use current cluster-api-provider-vsphere for managing lifecycle on vCloud Director?

[2020-04-27 10:35] prankul88 commented on #2952
/assign

[2020-04-27 14:23] vincepri commented on #2955
/milestone Next
/priority important-longterm

[2020-04-27 14:26] vincepri commented on #2956
/milestone Next

Happy to put it in v0.3 milestone if someone can pick this up

[2020-04-27 14:33] vincepri commented on #2949
/milestone v0.3.x
/priority backlog

[2020-04-27 14:53] #2947 closed

[2020-04-27 17:09] vincepri commented on #2318
/kind cleanup
/area api

[2020-04-27 17:09] vincepri commented on #2318
/kind cleanup

[2020-04-27 17:09] vincepri commented on #2414
/kind cleanup

[2020-04-27 17:11] vincepri commented on #2919
As per April 27th 2020 community guidelines, this project follows the process outlined in https://github.com/kubernetes-sigs/cluster-api/blob/master/CONTRIBUTING.md#proposal-process-caep for large features or changes.

Following those guidelines, I'll go ahead and close this issue for now and defer to contributors interested in pushing the proposal forward to open a collaborative document proposal

[2020-04-27 17:11] #2919 closed

[2020-04-27 17:11] vincepri commented on #2836
As per April 27th 2020 community guidelines, this project follows the process outlined in https://github.com/kubernetes-sigs/cluster-api/blob/master/CONTRIBUTING.md#proposal-process-caep for large features or changes.

Following those guidelines, I'll go ahead and close this issue for now and defer to contributors interested in pushing the proposal forward to open a collaborative document proposal

[2020-04-27 17:11] #2836 closed

[2020-04-27 17:12] vincepri commented on #2826
/kind cleanup

[2020-04-27 17:12] vincepri commented on #2587
As per April 27th 2020 community guidelines, this project follows the process outlined in https://github.com/kubernetes-sigs/cluster-api/blob/master/CONTRIBUTING.md#proposal-process-caep for large features or changes.

Following those guidelines, I'll go ahead and close this issue for now and defer to contributors interested in pushing the proposal forward to open a collaborative document proposal

[2020-04-27 17:12] #2587 closed

[2020-04-27 17:13] vincepri commented on #2554
As per April 27th 2020 community guidelines, this project follows the process outlined in https://github.com/kubernetes-sigs/cluster-api/blob/master/CONTRIBUTING.md#proposal-process-caep for large features or changes.

Following those guidelines, I'll go ahead and close this issue for now and defer to contributors interested in pushing the proposal forward to open a collaborative document proposal

[2020-04-27 17:13] #2554 closed

[2020-04-27 17:14] vincepri commented on #2339
/assign @wfernandes

[2020-04-27 17:14] vincepri commented on #2395
As per April 27th 2020 community guidelines, this project follows the process outlined in https://github.com/kubernetes-sigs/cluster-api/blob/master/CONTRIBUTING.md#proposal-process-caep for large features or changes.

Following those guidelines, I'll go ahead and close this issue for now and defer to contributors interested in pushing the proposal forward to open a collaborative document proposal

[2020-04-27 17:14] #2395 closed

[2020-04-27 17:14] vincepri commented on #2527
As per April 27th 2020 community guidelines, this project follows the process outlined in https://github.com/kubernetes-sigs/cluster-api/blob/master/CONTRIBUTING.md#proposal-process-caep for large features or changes.

Following those guidelines, I'll go ahead and close this issue for now and defer to contributors interested in pushing the proposal forward to open a collaborative document proposal

[2020-04-27 17:14] #2527 closed

[2020-04-27 17:14] vincepri commented on #2090
As per April 27th 2020 community guidelines, this project follows the process outlined in https://github.com/kubernetes-sigs/cluster-api/blob/master/CONTRIBUTING.md#proposal-process-caep for large features or changes.

Following those guidelines, I'll go ahead and close this issue for now and defer to contributors interested in pushing the proposal forward to open a collaborative document proposal

[2020-04-27 17:14] #2090 closed

[2020-04-27 17:15] vincepri commented on #1811
As per April 27th 2020 community guidelines, this project follows the process outlined in https://github.com/kubernetes-sigs/cluster-api/blob/master/CONTRIBUTING.md#proposal-process-caep for large features or changes.

Following those guidelines, I'll go ahead and close this issue for now and defer to contributors interested in pushing the proposal forward to open a collaborative document proposal

[2020-04-27 17:15] vincepri commented on #1810
As per April 27th 2020 community guidelines, this project follows the process outlined in https://github.com/kubernetes-sigs/cluster-api/blob/master/CONTRIBUTING.md#proposal-process-caep for large features or changes.

Following those guidelines, I'll go ahead and close this issue for now and defer to contributors interested in pushing the proposal forward to open a collaborative document proposal

[2020-04-27 17:15] #1811 closed

[2020-04-27 17:15] vincepri commented on #1808
As per April 27th 2020 community guidelines, this project follows the process outlined in https://github.com/kubernetes-sigs/cluster-api/blob/master/CONTRIBUTING.md#proposal-process-caep for large features or changes.

Following those guidelines, I'll go ahead and close this issue for now and defer to contributors interested in pushing the proposal forward to open a collaborative document proposal

[2020-04-27 17:15] #1808 closed

[2020-04-27 17:15] vincepri commented on #1779
As per April 27th 2020 community guidelines, this project follows the process outlined in https://github.com/kubernetes-sigs/cluster-api/blob/master/CONTRIBUTING.md#proposal-process-caep for large features or changes.

Following those guidelines, I'll go ahead and close this issue for now and defer to contributors interested in pushing the proposal forward to open a collaborative document proposal

[2020-04-27 17:15] #1779 closed

[2020-04-27 17:15] vincepri commented on #2369
As per April 27th 2020 community guidelines, this project follows the process outlined in https://github.com/kubernetes-sigs/cluster-api/blob/master/CONTRIBUTING.md#proposal-process-caep for large features or changes.

Following those guidelines, I'll go ahead and close this issue for now and defer to contributors interested in pushing the proposal forward to open a collaborative document proposal

[2020-04-27 17:15] #2369 closed

[2020-04-27 17:15] vincepri commented on #1658
As per April 27th 2020 community guidelines, this project follows the process outlined in https://github.com/kubernetes-sigs/cluster-api/blob/master/CONTRIBUTING.md#proposal-process-caep for large features or changes.

Following those guidelines, I'll go ahead and close this issue for now and defer to contributors interested in pushing the proposal forward to open a collaborative document proposal

[2020-04-27 17:15] #1658 closed

[2020-04-27 17:16] vincepri commented on #980
As per April 27th 2020 community guidelines, this project follows the process outlined in https://github.com/kubernetes-sigs/cluster-api/blob/master/CONTRIBUTING.md#proposal-process-caep for large features or changes.

Following those guidelines, I'll go ahead and close this issue for now and defer to contributors interested in pushing the proposal forward to open a collaborative document proposal

[2020-04-27 17:16] #980 closed

[2020-04-27 17:17] vincepri commented on #2769
Removing this as a proposal, rather seems like a future cleanup

/kind cleanup

[2020-04-27 17:17] vincepri commented on #1514
As per April 27th 2020 community guidelines, this project follows the process outlined in https://github.com/kubernetes-sigs/cluster-api/blob/master/CONTRIBUTING.md#proposal-process-caep for large features or changes.

Following those guidelines, I'll go ahead and close this issue for now and defer to contributors interested in pushing the proposal forward to open a collaborative document proposal

[2020-04-27 17:17] #1514 closed

[2020-04-27 17:20] wfernandes commented on #2339
/lifecycle active

[2020-04-27 17:21] vincepri commented on #2339
As per April 27th 2020 community guidelines, this project follows the process outlined in https://github.com/kubernetes-sigs/cluster-api/blob/master/CONTRIBUTING.md#proposal-process-caep for large features or changes.

Following those guidelines, I'll go ahead and close this issue for now and defer to contributors interested in pushing the proposal forward to open a collaborative document proposal

[2020-04-27 17:21] #2339 closed

[2020-04-27 17:35] vincepri commented on #2414
/milestone v0.3.x

[2020-04-27 17:35] vincepri commented on #2577
Merging this with #2414

/close

[2020-04-27 17:35] #2577 closed

[2020-04-27 17:36] vincepri commented on #2414
Closed https://github.com/kubernetes-sigs/cluster-api/issues/2577 in favor of this issue

[2020-04-27 17:37] vincepri commented on #2873
/priority awaiting-more-evidence

[2020-04-27 17:39] vincepri commented on #2753
Folks — Can this tracking issue be closed now? It seems we've checked most of the boxes, we can follow-up with other, more focused, issues if we need.

[2020-04-27 18:25] detiber opened #2969 "Remove use of metav1.FinalizerDeleteDependents from tests"
**What steps did you take and what happened:**
In controllers/machine_controller_test.go and exp/controllers/machinepool_controller_test.go we are setting `metav1.FinalizerDeleteDependents` during test setup. I believe this is vestigial from when we had previously relied on foreground deletion semantics for Cluster deletion. Since we no longer depend on the finalizer being set for proper deletion

[2020-04-27 21:47] benmoss commented on #1658
A proposal was made here https://docs.google.com/document/d/1eWTDcNp8p-m-RheaX4WJmmb0YGDSm_Ruj1GjtVZ_9Jk/edit

[2020-04-27 23:46] abhinavnagaraj opened #2970 "Failed to create bootstrap data secret for KubeadmConfig"
What steps did you take and what happened
Launched a 3 masters/3 workers HA cluster in vSphere.
Updated the kubernetes version on this cluster by modifying  KCP, MachineDeployment and VSphereMachineTemplate. This triggered the rolling upgrade.

Error in the boostrap controller logs
kubectl logs -f  capi-kubeadm-bootstrap-controller-manager-5bb9bfdc46-ch5rg -n capi-kubeadm-bootstrap-system manager

[2020-04-28 02:56] michaelgugino commented on #1808
@vincepri I disagree this issue should be closed.  Where else are we supposed to document RFE's that don't have a proposal yet?

[2020-04-28 04:46] vincepri commented on #1808
@michaelgugino Thanks for bringing this up, per last week meeting going forward we’ll do all proposals in a google doc following the process outlined above. There is space in each community meeting for members to add their proposals to be discussed in.

Another good venue to have more visibility is slack and the mailing list.

We’ve closed all the other issue-proposals today, not just this one in

[2020-04-28 04:47] Xenwar commented on #2915
I have seen that consistently in [metal3-dev-env](https://github.com/metal3-io/metal3-dev-env).
In the upgrade of K8S version process, both during scale up and scale down. In order to reach the scale down phase.

@sedefsavas Do you have any update on this issue or some line ?

[2020-04-28 04:50] vincepri commented on #2915
@Xenwar There is a PR currently open that has more information #2958, this is considered release blocking, need to have a fix before v0.3.4 is cut.

[2020-04-28 04:59] Xenwar commented on #2915
@vincepri Thanks, will follow the issue.

[2020-04-28 08:00] fabriziopandini commented on #2318
/cc

[2020-04-28 08:07] fabriziopandini commented on #2873
@dpandhi-git

you get this error when you don't have the docker socket mounted into your kind container.
[here](https://cluster-api.sigs.k8s.io/clusterctl/developers.html#additional-steps-in-order-to-use-the-docker-provider) you can find an example of the kind config file you have to use

[2020-04-28 08:09] fabriziopandini commented on #2753
WRT to tests we are done / finishing last bits (docs, decommission capd_e2e job)
I'm not fully up to date on the refactoring activities

[2020-04-28 08:34] prankul88 commented on #2956
If no one is taking this up, I can assign it to me. Will push the patch today.

[2020-04-28 08:34] prankul88 commented on #2956
/assign

[2020-04-28 14:00] detiber opened #2973 "Developer guide for tilt has `extra_args` is in the wrong place"
**What steps did you take and what happened:**
The developer guide for using tilt has `extra_args` under the `tilt-provider.json` section rather than `tilt-settings.json` section where it belongs.

**What did you expect to happen:**
`extra_args` to be described under `tilt-settings.json` rather than `tilt-provider.json` section

/kind bug
/kind documentat

[2020-04-28 14:00] detiber commented on #2973
/kind/documentation

[2020-04-28 14:01] detiber commented on #2973
/kind documentation

[2020-04-28 14:35] vincepri commented on #2973
/help
/milestone v0.3.x

[2020-04-28 15:03] vincepri commented on #2753
Closing for now, we can file the rest of the issue separately, if any.

/close

[2020-04-28 15:03] #2753 closed

[2020-04-28 17:22] vincepri commented on #2182
/lifecycle stale

[2020-04-28 17:22] vincepri commented on #2182
/lifecycle frozen

[2020-04-28 20:44] #2956 closed

[2020-04-28 22:44] #2915 closed

[2020-04-28 22:47] benmoss opened #2976 "KCP unhealthy remediation support"
**User Story**

As an operator I would like to have my control plane clusters automatically remediate unhealthy machines.

**Detailed Description**

- The cluster should scale up a replacement machine and then scale down the unhealthy machine. Rinse and repeat.
- The cluster must contain at least one healthy control plane machine for any remediation to happen (clusters where all the nodes are unhe

[2020-04-28 22:49] benmoss commented on #2976
@ncdc @detiber @vincepri for visibility, we spent some time thinking through the infinite remediation problem today and were looking for some help.

[2020-04-29 00:00] michaelgugino commented on #1808
@vincepri there's a difference between proposals and RFEs.  RFEs should have an issue, and we can link to one or more proposals from that issue until some proposal is accepted.

[2020-04-29 00:31] vincepri commented on #1808
Feel free to reopen

[2020-04-29 03:58] jichenjc opened #2977 "[question] do we support external cloud provider ?"
**User Story**
This comes from
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/489

openstack used to have intree cloud provider and now it's targeting to move to external and
some projects like https://github.com/kubernetes/cloud-provider-openstack will be used,

so the question is do we need to consider this into
1) a general cluster-api consideration
2) an addon to clus

[2020-04-29 08:16] fabriziopandini commented on #2201
/assign
/lifecycle active

[2020-04-29 08:25] fabriziopandini commented on #2973
/assign
/lifecycle active

[2020-04-29 08:55] nwoodmsft commented on #2578
I was also trying a similar scenario (1.16->1.18) without realizing that it is not supported to skip a minor version in the current upgrade flow. Any plans to support skipping minor versions or is this intentional and something that is likely to remain for the foreseeable future?

Also, Is there a section of the book or similar where I can read about CAPI requirements such as this? It would be gre

[2020-04-29 13:02] fabriziopandini opened #2982 "Error running clusterctl init in v0.3.4"
**What steps did you take and what happened:**
as per https://kubernetes.slack.com/archives/C8TSNPY4T/p1588162142132000?thread_ts=1588162135.131900&cid=C8TSNPY4T

got

when running clusterctl init with 0.3.4

**Environment:**

- Cluster-api version: 0.3.4

/kind bug

[2020-04-29 13:30] benmoss commented on #2976
Some tricky scenarios to think this over for

2 control plane machines:
- m1 - healthy
- m2 - unhealthy

Planned remediation:
- Scale up / create m3
- Wait for m3 to join the cluster
- Scale down / delete m2

Problems:
- What if m3 never joins the cluster
- What if m3 joins and then becomes unhealthy
- What if m2 is no longer unhealthy by the time m3 joins the cluster
- What if m1 becomes unhealth

[2020-04-29 13:39] randomvariable commented on #2976
Also would need to ensure we save status appropriately such that the controller can crash mid way through remediation and not go "oh, why have I got this extra instance, let's kill it").

Am wondering if there's any benefit to constructive usage of the raft index points to determine how far a new instance has caught up, or even if an instance is too far behind and needs remediation, at least whils

[2020-04-29 13:58] detiber commented on #2578
It's likely to remain for as long as it's a limitation of Kubernetes/kubeadm.

[2020-04-29 14:03] ncdc commented on #2982
/priority critical-urgent

[2020-04-29 14:03] ncdc commented on #2982
/assign @fabriziopandini

[2020-04-29 14:05] benmoss commented on #2976
I don't think this is a problem since we will still have access to m2 and therefore can safely infer that we have m3 because it is replacing m2

This gets into a completely different area of messiness, which is "what kind of unhealthy do we have here."

- MHC can mark a node as unhealthy for something as simple as a condition on a Node, which means a user could setup a MHC that triggers on somethi

[2020-04-29 14:07] detiber commented on #2977
@jichenjc There should be nothing preventing the use of the in-tree cloud provider that I'm aware of. I know https://github.com/kubernetes-sigs/cluster-api-provider-vsphere makes use of it and cluster-api-provider-azure recently added support as well: https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/456

[2020-04-29 14:11] fabriziopandini commented on #2982
/lifecycle active

[2020-04-29 14:52] randomvariable commented on #2976
Might be worth some state machine or other form of modelling

[2020-04-29 16:06] ncdc commented on #2977
@detiber I assume you meant out-of-tree 😄

[2020-04-29 16:38] detiber commented on #2977
doh, yes, edited the comment to fix :joy:

[2020-04-29 16:58] Arvinderpal commented on #2964
@fabriziopandini thanks for the pointer to the soft ownership.
One issue that we faced (and possibly others will too) is that the code currently uses `-` as the delimiter; however if you our cluster name contains `-`, the code will not function (e.g. `workload-cluster`):
https://github.com/kubernetes-sigs/cluster-api/blob/18ce96a31a4a7102848effecd05c3753003e092c/cmd/clusterctl/client/cluster/objec

[2020-04-29 17:05] elmiko commented on #2982
i ran into this as well with the "docker" provider. similar error message for me.

[2020-04-29 17:07] benmoss commented on #2430
/close

This has been resolved by no longer using annotations for determining upgrade state

[2020-04-29 17:08] #2430 closed

[2020-04-29 17:55] vincepri commented on #2957
/milestone v0.3.x
/help
/priority backlog

[2020-04-29 17:56] vincepri commented on #2960
/priority awaiting-more-evidence
/milestone v0.3.x

[2020-04-29 17:56] vincepri commented on #2963
/milestone v0.3.x
/priority important-longterm

[2020-04-29 17:58] vincepri commented on #2969
/help
/good-first-issue
/milestone v0.3.x

[2020-04-29 18:01] vincepri commented on #2964
/priority important-soon
/help
/milestone v0.3.5

/assign @wfernandes

[2020-04-29 18:04] vincepri commented on #2976
/milestone v0.3.x
/priority important-soon
/assign @benmoss

[2020-04-29 18:11] randomvariable commented on #2960
CABPK is very much in the fire and forget category.
KCP potentially has the ability to figure this out. Related to #2976

[2020-04-29 18:45] vincepri commented on #2252
/milestone v0.3.5

[2020-04-29 18:57] CecileRobertMichon commented on #1518
If we're officially supporting and deprecating versions, we should also consider adding validation on k8s versions to reject create or updates with unsupported versions. Also, we might want a way for users to get a list of supported k8s versions with clusterctl based on the versions supported by the version of CABPK installed.

[2020-04-29 19:08] dlipovetsky commented on #1518
I'll work on the docs. Once that's there, I can open issues for validation and clusterctl support.

/assign
/lifecycle active

[2020-04-29 19:11] detiber commented on #1518
I think this gets a bit tricky when we compare:

1. What is supported by the implementation, which currently is any version associated with a version of kubeadm that accepts the v1beta1 config currently
2. What is our "official" support policy, which is to align with supported upstream kubernetes releases
3. What downstream consumers (such as projects and products that are consuming, extending, or

[2020-04-29 20:26] #2982 closed

[2020-04-29 21:00] benmoss commented on #2976
We discussed this again and came to the idea that we need to start by defining narrow cases that we know we can handle and deferring the general solution until we can nail more of these down.

We came up with three cases that seem tractable to start with:
- The machine's backing VM is gone
- The machine's backing infrastructure machine is gone
- The machine has never successfully booted

I'd propo

[2020-04-29 21:41] codenrhoden opened #2986 "clusterctl v0.3.4 not using default config location"
**What steps did you take and what happened:**
I just grabbed the latest `clusterctl`, filled in some values at `~/cluster-api/clusterctl.yaml`, and tried to create a management cluster. Here is what I saw:

[code]

The variables it is complaining about *are* defined, so I figured maybe it wasn't reading it.

Sure enough, this command worked:

[code]

**What did you expect to happen:**

I expected

[2020-04-29 22:14] vincepri commented on #2986
/assign @fabriziopandini @wfernandes
/priority critical-urgent
/milestone v0.3.5

[2020-04-30 00:43] jichenjc commented on #2977
@detiber thanks a lot :) yes, I mean out of tree provider
so it's provider's responsibility to create those and not in cluster-api scope :)

thanks ~

@sbueringer FYI

[2020-04-30 02:30] rhockenbury commented on #2080
/remove-lifecycle stale

[2020-04-30 02:53] sbueringer commented on #2977
So in Azure it seems to be just another flavor and a document describing how to deploy the CCM: https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/527/files

Seems reasonable

[2020-04-30 05:01] jichenjc commented on #2977
yes, so this is something we can replicate into ours
not something in cluster-api scope, instead, do it in provider..

[2020-04-30 05:01] #2977 closed

[2020-04-30 05:34] #2201 closed

[2020-04-30 07:41] fabriziopandini commented on #2230
Small not.clusterctl is not pivoting providers; they are re-installed from scratch in the target cluster before pivot
+1 to ignore

[2020-04-30 07:44] fabriziopandini commented on #2986
This is a duplicate of https://github.com/kubernetes-sigs/cluster-api/issues/2982 and the problem was fixed by https://github.com/kubernetes-sigs/cluster-api/pull/2983
/close

[2020-04-30 07:44] #2986 closed

[2020-04-30 07:50] fabriziopandini commented on #2964
Thanks for clarifying the problem
I think this can be fixed by checking that the name ends with one of the well known suffix (kubeconfig + certificates)
/assign
/lifecycle active

[2020-04-30 08:34] SataQiu commented on #2969
/assign

[2020-04-30 14:12] #2973 closed

[2020-04-30 14:46] #2793 closed

[2020-04-30 15:10] #2964 closed

[2020-04-30 15:32] akhil-rane commented on #2252
@vincepri I am trying this
/assign

[2020-04-30 15:40] vincepri commented on #2252
@akhil-rane it seems that @hazbo already has a PR out for this issue

[2020-04-30 15:47] akhil-rane commented on #2252
@vincepri No problem, I will unassign myself
/unassign

[2020-04-30 16:54] wfernandes commented on #2230
@vincepri Feel free to close.

[2020-04-30 18:05] vincepri commented on #2230
/close

[2020-04-30 18:05] #2230 closed

[2020-04-30 22:59] vincepri opened #2989 "MachineSet controller deletion requests don't need to run in a WaitGroup"
The MachineSet controller currently uses a WaitGroup when it scales down: https://github.com/kubernetes-sigs/cluster-api/blob/59a696e07b5e4620ba66ce17cd35d2d0b0ae73d0/controllers/machineset_controller.go#L377-L393

This was added around v1alpha1 timeframe because Delete at that time was blocking. Today, these Delete calls can be done sequentially because they return right away and don't have to wa

[2020-04-30 23:01] vincepri commented on #2252
/milestone v0.3.6

[2020-04-30 23:04] vincepri commented on #2970
/priority awaiting-more-evidence

The strange part about this issue is that the call to create the bootstrap data secret should only ever made once, if it gets in there twice we might be missing a check — definitely requires a little bit more investigation

[2020-04-30 23:04] vincepri commented on #2970
/milestone Next

[2020-04-30 23:05] vincepri commented on #2941
/milestone v0.3.6

[2020-04-30 23:06] vincepri commented on #2918
/priority backlog

[2020-04-30 23:10] vincepri commented on #2063
/milestone v0.3.6

[2020-04-30 23:10] vincepri commented on #1878
/milestone v0.3.6

[2020-04-30 23:11] vincepri commented on #2372
/assign
/milestone v0.3.6

[2020-04-30 23:11] vincepri commented on #2391
@detiber do you think we can get this done this cycle?

[2020-04-30 23:12] vincepri commented on #2454
@sethp-nr Not sure if you saw [this response](https://github.com/grpc/grpc-go/pull/3412#issuecomment-595879401), should we leave things as they are if the upstream fix isn't merged?

[2020-04-30 23:12] akhil-rane commented on #2989
@vincepri Can I take this up?

[2020-04-30 23:13] vincepri commented on #2483
/assign @fabriziopandini @wfernandes

Can we re-triage and evaluate if we should keep this open or close it?

/milestone v0.3.6

[2020-04-30 23:13] vincepri commented on #2516
Has this been fixed?

[2020-04-30 23:16] vincepri commented on #2585
@erstaples sorry for the late reply, those errors usually means that the auto-conversion generation wasn't able to figure out how to convert from the old type to the new one, so it needs manual conversion

[2020-04-30 23:18] vincepri commented on #2989
go for it @akhil-rane !

[2020-04-30 23:21] akhil-rane commented on #2989
/assign

[2020-04-30 23:23] vincepri commented on #2969
/milestone v0.3.6

[2020-04-30 23:34] #2941 closed

[2020-05-01 13:49] detiber commented on #2391
I'll see what I can do.

[2020-05-01 14:08] kferrone opened #2990 "Says AWS_B64ENCODED_CREDENTIALS is not set"
**What steps did you take and what happened:**
Followed [quick start](https://cluster-api.sigs.k8s.io/user/quick-start.html) exactly.
Got to the step below:
[code]
then ran the following:
[code]
Got this error

Next I created the cluster config file with correct info. Still got the error?

**What did you expect to happen:**
Init to work . . .

**Environment:**

- Cluster-api version:
clusterctl ve

[2020-05-01 14:10] vincepri commented on #2990
Without posting the output, was the `AWS_B64ENCODED_CREDENTIALS` actually set to some value, or was it empty?

/cc @wfernandes

[2020-05-01 14:10] vincepri commented on #2990
/triage support

[2020-05-01 14:15] kferrone commented on #2990
@vincepri
I ran `echo $AWS_B64ENCODED_CREDENTIALS | base64 --decode`
It is an AWS profile with access key, secret, region, and a name called default for the profile. Just like the one in `$HOME/.aws`

Like this:
[code]

[2020-05-01 14:18] kferrone commented on #2516
I'm getting the same issue too: https://github.com/kubernetes-sigs/cluster-api/issues/2990

[2020-05-01 14:26] JoelSpeed opened #2991 "Switch RWMutex's to sync.Map in remote cluster caches"
**User Story**

This will improve the readability and maintainability of the remote cluster caching code

**Detailed Description**

The remote cluster caching code introduced in #2880 includes two maps that are accessed currently by grabbing a lock from two RWMutexs. These could be replaced by a [sync.Map](https://golang.org/pkg/sync/#Map) (or wrapper around it) that would then reduce this complex

[2020-05-01 14:28] randomvariable opened #2992 "Bump kind to v0.8.0"
**Detailed Description**

Upgrade to kind v0.8.x as per https://github.com/kubernetes-sigs/kind/releases/tag/v0.8.0

Requires API machinery v1.18.2, so will be dependent on a controller-runtime update occurring first..

**Anything else you would like to add:**

[Miscellaneous information that will assist in solving the issue.]

/kind feature

[2020-05-01 14:40] JoelSpeed opened #2993 "Set User Agent and Request Timeout for Remote Cluster Caches"
**User Story**

We should set a user agent on the clients used by the remote cluster caches introduced in #2880 so that request logs can be tracked back to the cluster caches.

We should also set a Timeout on the requests so that failed connections time out rather than hanging

(Originally suggested by @fabriziopandini and @ncdc)

/kind feature

[2020-05-01 14:54] vincepri commented on #2992
/milestone v0.4.0

[2020-05-01 14:54] vincepri commented on #2993
/milestone v0.3.x
/help
/priority important-longterm

[2020-05-01 14:55] vincepri commented on #2991
/priority backlog

I'm fine keeping what we have today, this is more of a possible cleanup suggestion

[2020-05-01 14:56] vincepri commented on #2990
/assign @fabriziopandini

[2020-05-01 15:10] #2969 closed

[2020-05-01 15:23] vincepri commented on #2991
I think we can actually close this, reading the code again and discussing it more with @ncdc on Slack, I don't think sync.Map is useful in this case

/close

[2020-05-01 15:23] #2991 closed

[2020-05-01 17:19] CecileRobertMichon opened #2994 "CABPK: Support disk_setup and mounts in cloud-init"
This is to support mounting etcd on a data disk.

CAEP: https://docs.google.com/document/d/12eYcQrlZdkojHY3atUCCIS9YGPQ1LSQvT4gdg6JWroc/edit?usp=sharing

(shared edit permissions with [the kubernetes-sig-cluster-lifecycle google group](https://groups.google.com/forum/#!forum/kubernetes-sig-cluster-lifecycle)).

/kind feature

[2020-05-01 17:41] vincepri commented on #2994
/milestone v0.3.x

[2020-05-01 17:41] vincepri commented on #2994
+1 from me, have some thoughts about extra validation bits, overall having looked at the POC + the proposal, the implementation looks pretty straightforward.

[2020-05-01 17:52] CecileRobertMichon commented on #2994
/assign

[2020-05-01 18:27] voor commented on #2994
I *really* like this proposal, as it's going to open up the option of putting /var/lib/containerd and /var/log onto separate partitions as well (I need /home on another partition, but that's more for legacy compliance reasons than anything).

[2020-05-01 22:55] CecileRobertMichon commented on #2994
For anyone who is interested, I have a working prototype of this with these changes:

- https://github.com/kubernetes-sigs/cluster-api/compare/master...CecileRobertMichon:etcd-mount
- https://github.com/kubernetes-sigs/cluster-api-provider-azure/compare/master...CecileRobertMichon:etcd-disk

[2020-05-01 23:53] sethp-nr commented on #2454
It ended up going in as an option under a different PR after some discussion in the linked thread (culminating here: https://github.com/grpc/grpc-go/issues/2031#issuecomment-618700822 ).

There's still some work in getting it into a released version & getting etcd to be compatible with that version & picking that version up here and then we can finally replace `WithBlock` with `WithReturnLastError

[2020-05-02 09:27] fabriziopandini commented on #2990
This error was fixed by https://github.com/kubernetes-sigs/cluster-api/pull/2983
Please upgrade to v0.3.5; possible workaround to pass the --config flag
/close

[2020-05-02 09:27] #2990 closed

[2020-05-02 09:30] fabriziopandini commented on #2516
@vincepri no this is not fixed.
clusterctl init requires all the variables to be in place, so it does when called with the --list-variables flag.

@wfernandes wdyt about making clusterctl init tolerate missing variable **only** when invoked with the --list-variables flag?

[2020-05-02 09:31] fabriziopandini commented on #2516
@kferrone this is slightly different from #2990; the former is fixed by v03.5, this one not

[2020-05-03 14:03] cpanato commented on #2992
I would like to help on this, can you point to me some path where we need to update? @randomvariable

[2020-05-03 14:15] cpanato commented on #2992
should we update the dependencies for 0.18.2 first? and then do this update?

[2020-05-03 15:58] cpanato commented on #2957
/assign
/remove-help

[2020-05-03 17:46] vincepri commented on #2992
@cpanato we’ll need to wait for #2961 to be merged before we can update the kind version. Given that controller runtime v0.6 brings in breaking changes, we won’t be able to get this done until we can open master to v0.4

[2020-05-04 05:43] ginobiliwang commented on #2341
Hi guys, i have encountered the same issue.

`I0504 04:58:52.650093       1 loadbalancer.go:120] controllers/DockerMachine/DockerMachine-controller "level"=0 "msg"="Updating load balancer configuration" "cluster"="capi-quickstart" "docker-cluster"="capi-quickstart" "docker-machine"={"Namespace":"default","Name":"capi-quickstart-controlplane-0"} "machine"="capi-quickstart-controlplane-0"
I0504 04:5

[2020-05-04 08:23] fabriziopandini commented on #2341
@ginobiliwang it will be great if you can help us to reproduce this error because I'm not able to do so locally nor I can see similar errors in  the CI jobs that are using CAPD 😓

[2020-05-04 13:22] MaxRink opened #2997 "Clusterctl upgrade does not respect config for n-Infra setup"
**What steps did you take and what happened:**
We are running an n-Infra Setup with different credentials for the infra providers

[code]

Im im doing a clusterctl upgrade the credentials used by the 2nd instance get overwritten with those of the 1st instance.
Thus i have to patch the 2nd secret after the update and kill the 2nd pod.
**What did you expect to happen:**
either do an upgrade in steps

[2020-05-04 14:20] fabriziopandini opened #2998 "Machine deletion should complete when kubelet is not responding"
**What steps did you take and what happened:**
_disclaimer: not 100% sure this is a real bug or an error in my test strategy_

While testing MHC I created a cluster with CAPD, then in order to simulate a problem, I stopped the  kubelet service on a node.

MHC remediation was triggered and a new machine created, but the existing machine was not deleted due to

[code]

Now, it is fine that the drain

[2020-05-04 14:40] ncdc commented on #2998
@fabriziopandini I think https://github.com/kubernetes-sigs/cluster-api/blob/0bb5cbfc9e846ade5e327a5810cbb0c1b120824a/controllers/machine_controller.go#L377-L380 covers your scenario?

[2020-05-04 14:44] detiber commented on #2249
This issue still seems to be happening under some situations
/remove-lifecycle stale

[2020-05-04 14:45] vincepri commented on #2341
@ginobiliwang This error is a little suspect, it seems that when running CAPD on your machine, the bootstrap data generated isn't able to run properly, this might be an issue with your local development environment

[2020-05-04 14:53] vincepri commented on #2997
@MaxRink Just to clarify a little more, are you seeing that the second infrastructure provider's credential (in your case the one in `capv-system-2` namespace) credentials are being lost/overwritten by the ones in the other namespace?

[2020-05-04 14:57] vincepri commented on #2997
/assign @wfernandes @fabriziopandini

to investigate

/priority critical-urgent
/milestone v0.3.6

[2020-05-04 14:58] ncdc commented on #2997
@MaxRink can you share the owner references for both secrets prior to running the upgrade?

[2020-05-04 15:25] vincepri commented on #2516
/milestone v0.3.6

[2020-05-04 15:56] fabriziopandini commented on #2997
@MaxRink

So the key point here is that AWS components has some variable and you want to keep this variable  instance-specific.

When creating the management cluster I assume you achieved this running `clusterctl init` several times, each one with different env variables.

In order to preserve this behavior, you should do the same during upgrades. This means that you you have to upgrade in steps b

[2020-05-04 16:11] vincepri commented on #2997
/milestone v0.3.x

[2020-05-04 16:31] benmoss opened #2999 "Flaky test: When following the Cluster API quick-start Should create a workload cluster"
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api/2995/pull-cluster-api-e2e/1257338816272797696

/kind bug
/area testing

[2020-05-04 16:50] fabriziopandini commented on #2998
@ncdc thanks for pointing this out. Let me quickly re-check before closing

[2020-05-04 17:02] vincepri commented on #2999
cc @fabriziopandini @sedefsavas

[2020-05-04 17:07] fabriziopandini commented on #2999
/assign

[2020-05-04 17:47] l4z41 opened #3000 "Documentation of CABPK Additional Features"
**Detailed Description**

Found the `KubeadmConfig` object for additional features from CABPK very useful as I was experimenting with CAPI and CAPV but they aren't well documented and just some examples for often occuring use cases could be super helpful as I found myself quick in source code, slack and existing issues.

Examples needed for:
- `KubeadmConfig.Files` specifies additional files to be

[2020-05-04 17:52] jzhoucliqr opened #3001 "kcp keeps trying init cluster creating 20+ controlplane nodes"
**What steps did you take and what happened:**

See this with capz, kcp try to init cluster, creating machines, but somehow in later reconcile does not see the created machine `"Desired"=1 "Existing"=0`, and then try to init again. This keep going till kcp pod somehow lose leader election and got restarted (after around 20 minutes), then it can see all the machines (24 replicas) and start to scale

[2020-05-04 18:11] vincepri commented on #3001
/assign @benmoss

[2020-05-04 18:12] vincepri commented on #3001
@jzhoucliqr it's a little hard to read the logs, would you be able to paste them in a github gist instead?

[2020-05-04 18:20] vincepri commented on #3001
Looking through the logs a little more, it seems that indeed the control plane is being initialized multiple times, which comes from here:

https://github.com/kubernetes-sigs/cluster-api/blob/7cda00b20b09cdccf2ce4e5e952ecfdc0f87ccd5/controlplane/kubeadm/controllers/controller.go#L235-L238

which then calls this function: https://github.com/kubernetes-sigs/cluster-api/blob/7cda00b20b09cdccf2ce4e5e9

[2020-05-04 18:36] benmoss commented on #3001
I can't imagine how this is possible. It was doing a `client.List` on machines owned by this cluster and this control plane and apparently coming up with 0. I wonder what the state of etcd was, if there were machines in it and they were being filtered out, or whether like you suggest it was some kind of client caching issue. I know literally nothing about what a caching issue could be caused by.

[2020-05-04 19:47] jzhoucliqr commented on #3001
Thanks for looking into this. @benmoss @vincepri

gist:  https://gist.github.com/jzhoucliqr/5a5989421b9ab92f6fa1f1fea1805457

Agree that could be some issue with mgmt cluster, especially when all 3 indepedent kcp controller have the same issue at the same time.

I was not able to check exactly what's the state when the issue happens, but from logs of other controllers seems machine objects are the

[2020-05-04 20:21] vincepri commented on #3001
@jzhoucliqr Did the Machine in question have an OwnerReference under metadata pointing to the KCP controller? If so, I suspect the KCP controller manager cache was lagging behind and never received notifications for new Machines / updated the cache

[2020-05-04 20:42] jzhoucliqr commented on #3001
yes that's the first thing I checked and they have the right OwnerReference.

[2020-05-04 20:46] vincepri commented on #3001
We can potentially use a direct (uncached) client only for the initialization part to make sure we don't create multiple control planes, although I'd like to see what others think about this. It could be that we decide that we don't want to cover this case given that it seems that the management cluster wasn't in a healthy state. @detiber @ncdc thoughts?

[2020-05-04 20:53] detiber commented on #3001
I think adding additional safety through the use of an uncached client for initialization only makes sense.

[2020-05-04 21:13] vincepri commented on #3001
/milestone v0.3.6

[2020-05-04 21:23] ncdc commented on #3001
I have a feeling the MachineSet controller would experience a similar issue here. More broadly: anything that is doing a count against cached data that then proceeds to create or delete things could face this (given slow cache updates).

[2020-05-04 21:26] detiber commented on #3001
Anything else (outside of KCP/init) should be able to reconcile back to the expected state in an eventually consistent way, though. Hard to recover from a split-brain scenario from multiple KCP inits, though.

[2020-05-04 21:27] ncdc commented on #3001
Oh yeah, we should be most protective of KCP.

[2020-05-04 21:28] vincepri commented on #3001
/assign
/lifecycle active

[2020-05-04 22:18] zjs commented on #2770
This feels like a bug, not a feature, to me. What's the remediation if the token expires before the node joins the cluster?

[2020-05-04 22:37] #3001 closed

[2020-05-04 23:04] vincepri commented on #2770
@zjs There is no automatic remediation today, users can setup a MachineHealthCheck to remediate machines that weren’t able to join a cluster after a specific timeout

[2020-05-05 09:58] enxebre commented on #1658
@vincepri @ncdc This is linked in the roadmap under "Improved status conditions" https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/book/src/roadmap.md

Based on https://github.com/kubernetes-sigs/cluster-api/issues/1658#issuecomment-620118757
is there a doc related to this? if so is there a place where I can find the link to that doc? I'd expect this ticket to be that place so the ro

[2020-05-05 10:25] fabriziopandini commented on #2999
According to the logs there is problem when provisioning the docker machines fails for some reason but a container exists:
[code]
The controller does not detect this is operation is failed and at the next reconcile loop it continues to the provisioning, assuming the container is fully functional, but this can be true
[code]
I'm sending a fix to make the controller detect and recover from those con

[2020-05-05 10:37] fabriziopandini commented on #2341
I managed to reproduce

Fix in flight

[2020-05-05 10:50] fabriziopandini opened #3005 "Implement Conditions"
This is to support conditions on Cluster API objects

CAEP:
https://docs.google.com/document/d/1eWTDcNp8p-m-RheaX4WJmmb0YGDSm_Ruj1GjtVZ_9Jk/edit?usp=sharing

(shared edit permissions with the [kubernetes-sig-cluster-lifecycle google group](https://groups.google.com/forum/#!forum/kubernetes-sig-cluster-lifecycle)).

/kind feature

[2020-05-05 10:52] fabriziopandini commented on #1658
new tracking issue for the CAEP is https://github.com/kubernetes-sigs/cluster-api/issues/3005
@enxebre the Kuberenetes KEP is already in the radar

[2020-05-05 13:15] fabriziopandini commented on #2998
/close

[2020-05-05 13:15] #2998 closed

[2020-05-05 14:22] ginobiliwang commented on #2341
thanks @fabriziopandini @vincepri for comments.
I deleted accordingly deployments and tried again, the issue is gone.
But i have met further issues as below. The issue prevents me from correctly deploying master node and worker node, could you please shed some light on it, thanks.

`[root@sdw1 config]# kubectl get machine
NAME                             PROVIDERID

[2020-05-05 15:11] vincepri commented on #3005
/milestone v0.3.x

[2020-05-05 15:17] wfernandes commented on #2516
Yeah..this is interesting.

I agree with @fabriziopandini that ideally, we should be inspecting the images once a yaml is fully processed. Because if provider components can also be templated then the images themselves could be variables that require processing.

@fabriziopandini Did you mean `--list-images` flag for this specific issue?

[2020-05-05 15:21] wfernandes commented on #2483
@vincepri I'll re-triage this today.

[2020-05-05 15:28] wfernandes commented on #2410
/area clusterctl

[2020-05-05 15:32] vincepri commented on #2516
`--list-images` isn't really an option for init from what I can tell, does it makes sense to make it a separate command instead?

[2020-05-05 15:48] JoelSpeed opened #3006 "Remote nodes do not trigger reconcile for MHC when MHC selector is empty"
**What steps did you take and what happened:**

Create an MHC with an empty selector
Add a condition to a node that is created by a Machine on the cluster the MHC targets

**What did you expect to happen:**
Expect MHC to be reconciled

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
When listing Machines that are targeted by MHC, an empty

[2020-05-05 15:57] wfernandes commented on #2410
@prankul88 Thanks for reaching out regarding this issue.

So I think the idea here is not necessarily the contents of the `$HOME/.cluster-api/clusterctl.yaml` but rather from the slack conversation what is being asked for is a YAML formatted output of `clusterctl config repositories`.

So in this case we don't necessarily need the path of the config file. In my understanding, we need to add a `-o

[2020-05-05 15:59] wfernandes commented on #2410
@randomvariable Maybe we should retitle this issue to specify the ask from the slack convo. WDYT?

[2020-05-05 16:11] ncdc commented on #3006
I think we disallow empty selectors elsewhere (MachineDeployment/MachineSet)? Should we disallow empty selectors?

[2020-05-05 16:16] wfernandes commented on #2516
I believe `--list-images` is a flag for `clusterctl init`.
`--list-variables` is a flag for `clusterctl config cluster`.

[code]

However, I've come across this exact statement before.
https://github.com/kubernetes-sigs/cluster-api/blob/23a9ec341de33c399c542558c22046cb413082d5/cmd/clusterctl/cmd/init.go#L110-L112

IMO we should deprecate this flag entirely and not substitute it with anything.
If a

[2020-05-05 16:29] randomvariable commented on #2410
Yup sure, retitle how you think best.

[2020-05-05 16:29] scottdhowell3 opened #3019 "HA cluster will not join second control-plane node when aws-encryption-provider is running"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
1. Add aws-encryption-config.yaml static pod as a base64 encoded file to KubeAdmConfigSpec
2. Add encryption-config.yaml as a base64 encoded file to KubeAdmConfigSpec
3. Create KMS key in AWS
4. Spin up 3 control-plane and 1 worker node cluster using the cluster-api-aws-provider
5. First

[2020-05-05 16:35] JoelSpeed commented on #3006
What's the motivation for disabling empty selectors elsewhere? I think an empty selector is valid for MachineHealthCheck, you may well want to health check over all machines with a single health check right? The checks we have in place already should make this safe.

I could see this either way tbh

[2020-05-05 17:14] wfernandes commented on #2410
/retitle Provide a yaml output format for clusterctl config repositories

[2020-05-05 17:27] wfernandes commented on #2483
This is still reproducible.
[code]

/help

[2020-05-05 17:48] bboreham opened #3007 "📖 correct or clarify text about providerID"
The book [page on Machine Controller](https://github.com/kubernetes-sigs/cluster-api/blob/5d7c1459b44a94b93dddc9b88b45c1e27cf53797/docs/book/src/developer/architecture/controllers/machine.md) says things about `providerID` that confused me:

 - It says it's required on `status` but it's [only](https://github.com/kubernetes-sigs/cluster-api/blob/5d7c1459b44a94b93dddc9b88b45c1e27cf53797/controllers/

[2020-05-05 17:57] vincepri commented on #2976
/milestone v0.3.6

[2020-05-05 17:57] vincepri commented on #2976
/cc @detiber @ncdc

[2020-05-05 17:59] vincepri commented on #3007
/kind documentation

[2020-05-05 18:00] vincepri commented on #3007
/milestone v0.3.x
/help

[2020-05-05 18:08] stgarf commented on #1970
This should also take into account the `spec.livenessProbe.port` field as well. It defaults to `6443` and if you change `APIServerPort` you need to ensure `spec.livenessProbe.port` is updated as well or your container will just get endlessly rebooted.

[2020-05-05 19:22] fabriziopandini commented on #2341
@ginobiliwang
Is it possible to move the new problem on a different issue, so we can properly track the original problem and its fix

[2020-05-05 19:40] benmoss commented on #2976
Goals
- Remediate HA (3+ replica) control planes

Requirements
- We only remediate one machine at a time
- We only remediate machines that have the unhealthy annotation

Cleanup
- Move reconcileHealth to above reconciliation and out of scaleUp / scaleDown, it will need to change as well to not block remediation.

pseudocode
[code]

[2020-05-05 20:19] vincepri commented on #3006
In the past we've gone through the same issue for MachineSet and MachineDeployment selectors, and we opted instead to default to some pre-defined label if the selector is empty. Folks brought up different issues with having a "catch-all" type of selector which might confuse users, and it'd be worthwhile to keep things consistent for in this project.

One example that comes to mind is, let's say so

[2020-05-05 20:19] benmoss opened #3009 "Flaky test: e2e tests timing out"
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api/2975/pull-cluster-api-capd-e2e/1257736277134938115

Not sure which part is taking more time than usual, it would be really nice if we had timestamps of everything being logged.

/kind bug
/area testing

[2020-05-05 20:25] vincepri commented on #2218
/remove-lifecycle stale

[2020-05-05 21:30] vladimirvivien commented on #2341
I am closing this issue.  I was able to get CAPD following documentation update here -https://notes.elmiko.dev/2020/04/17/exploring-cluster-api.html

[2020-05-05 21:30] #2341 closed

[2020-05-06 01:57] cprivite opened #3012 "clusterctl ignores later files defined in KUBECONFIG variable"
**What steps did you take and what happened:**
clusterctl ignores later kubeconfig files defined in the KUBECONFIG environment variable. Seems to be be part of the changes in 0.3.4 to enable specifying the kubeconfig context.

**What did you expect to happen:**
Should parse all the files then start looking for the context it wants. You can "fix" it by manually ensuring the the config file with the

[2020-05-06 02:05] ginobiliwang commented on #2341
no problem

[2020-05-06 02:59] ginobiliwang opened #3013 "issue with provisioning worker cluster (dial tcp 172.17.0.2:6443: i/o timeout)"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
I am installing clusterApi using kind, follow steps on this link(it is almost the same with quickstart tutorial).
https://notes.elmiko.dev/2020/04/17/exploring-cluster-api.html

After all the steps, the "controlplane-0" and "worker-0" never go to running state.

`[root@sdw1 v0.3.0]# kubect

[2020-05-06 03:02] ginobiliwang commented on #3013
`[root@sdw1 v0.3.0]# kubectl get machine
NAME             PROVIDERID                               PHASE
controlplane-0   docker:////work-cluster-controlplane-0   Provisioning
worker-0                                                  Pending
[root@sdw1 v0.3.0]#
[root@sdw1 v0.3.0]#
[root@sdw1 v0.3.0]# kubectl describe machine controlplane-0
Name:         controlplane-0
Namespace:    default
Labels:

[2020-05-06 03:04] ginobiliwang commented on #3013
[root@sdw1 v0.3.0]# kubectl get machine
NAME             PROVIDERID                               PHASE
controlplane-0   docker:////work-cluster-controlplane-0   Provisioning
worker-0                                                  Pending

[2020-05-06 03:04] ginobiliwang commented on #3013
[root@sdw1 v0.3.0]# kubectl describe machine controlplane-0
Name:         controlplane-0
Namespace:    default
Labels:       cluster.x-k8s.io/cluster-name=work-cluster
              cluster.x-k8s.io/control-plane=true
Annotations:  kubectl.kubernetes.io/last-applied-configuration:
                {"apiVersion":"cluster.x-k8s.io/v1alpha3","kind":"Machine","metadata":{"annotations":{},"labels":{"clu

[2020-05-06 07:24] ginobiliwang commented on #3013
I have changed the environmental variable to the following and tried again, issue still exits.

+++++++++++++++++++++++++++++++++++++
export DOCKER_POD_CIDRS=192.200.0.0/16
export DOCKER_SERVICE_CIDRS=10.0.1.0/24
export DOCKER_SERVICE_DOMAIN=cluster.local
+++++++++++++++++++++++++++++++++++++

Issue is the same with "dial tcp 172.17.0.2:6443: i/o timeout", looks like this ip is with docker's netwo

[2020-05-06 07:59] JoelSpeed commented on #3006
Ack, that context is helpful. In that case, I'd suggest we have a validation in the webhook that verifies that they are non-empty

[2020-05-06 08:35] prankul88 commented on #2410
@wfernandes Thanks for taking a look :)

[2020-05-06 09:04] fabriziopandini commented on #3013
does not seem a bug to me, but a networking problem in your setup.
I saw similar errors in environments with a proxy ...
/remove-kind bug
/priority awaiting-more-evidence

@elmiko PTAL

[2020-05-06 09:47] fabriziopandini commented on #3009
@benmoss test infra is having a bad time lately
We are observing a general increase on timeouts also on all the kubeam jobs.

However, In this case, I would prefer to push for removing  `pull-cluster-api-capd-e2e` as soon as possible instead of investigating flakes
@vincepri opinions?

[2020-05-06 09:50] fabriziopandini commented on #3012
/area clusterctl
/priority important-soon
/milestone v0.3.6

/cc @wfernandes

[2020-05-06 09:54] fabriziopandini commented on #3012
/cc @vuil @Anuj2512

[2020-05-06 10:13] fabriziopandini commented on #2516
The `--list-images` on `clusterctl init` is really helpful for the air-gapped scenario, because it gives you a list of all the required images in a single command.
If we drop this flag, the user will be required to call 4 times `clusterctl config provider`; additionally, the input of `clusterctl config provider` can't be easily piped to other commands, while the output of  `--list-images` is desig

[2020-05-06 11:56] Jaakko-Os opened #3014 "Possibility to modify preKubeadmCommands during a KCP update"
**User Story**

As a developer I would like to have a possibility to modify preKubeadmCommands during KCP update for maintaining compatibility with new images.

**Detailed Description**

Situation can occur if we need to do something different due to new versions of the kubernetes binaries (kubeadm, kubelet, kubelet) that are baked into a new image.
E.g change a load balancer configuration, call a

[2020-05-06 12:04] maelk commented on #3014
I believe the situation would be the same with postKubeadmCommands and files.

[2020-05-06 12:23] elmiko commented on #3013
that it my initial guess as well. i would double check what the docker network cidr is, also check your external network. i matched DOCKER_POD_CIDR to my pod network, and DOCKER_SERVICE_CIDR to my local network.

also check the firewall settings in centos to make sure nothing is blocking traffic to the pod network.

[2020-05-06 15:11] gab-satchi opened #3015 "e2e Framework: machine deployment helper to scale a machine deployment"
**User Story**

As a developer I would like more e2e helpers in order to make developing providers easier

**Detailed Description**

Request to add a helper to `machinedeployment_helpers` that will make updating machine deployments easier. Specifically the replicas in order to scale up/down a machine deployment

/kind feature

[2020-05-06 15:15] gab-satchi opened #3016 "e2e Framework: Add machine helper to wait and validate status of machine"
**User Story**

As a developer I would like more e2e helpers in order to make developing providers easier

**Detailed Description**

Request to add a helper to `machine_helpers` that will make asserting on a machine's state easier. Similar to other helpers, it should take intervals as an argument to determine how often to check and when to timeout.

/kind feature

[2020-05-06 15:58] vincepri commented on #3006
/priority important-soon
/milestone v0.3.6

[2020-05-06 16:01] wfernandes commented on #2516
@fabriziopandini Thanks for the context about the need for `--list-images`. TIL. 🙂

I'm fine with adding the skip variables bool in the call for InitImages. Did we want to move it to a separate sub-command or can we do that as part of a separate issue?

[2020-05-06 16:10] randomvariable commented on #2994
+1 on this

[2020-05-06 16:25] vincepri commented on #3013
/triage support
/milestone Next

[2020-05-06 16:28] vincepri commented on #3009
After the MachineDeployment tests are in the new e2e job, we can remove the old one

[2020-05-06 16:29] wfernandes commented on #3012
Thanks for this issue. We can take a look at how `kubectl` chooses the context with its `--kubeconfig` and `--context` flags.

TBH I wasn't aware that [KUBECONFIG allowed for multiple files to be specified](https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/#set-the-kubeconfig-environment-variable). I assumed that it would behave the same way as the flag

[2020-05-06 16:42] rbitia commented on #2121
Cool so a couple things we want to do initially:

- Allow providers to PR docs into their respective repos and use a config file to build docs from providers to the CAPI Book
- Create a separate section within the CAPI Book for providers, and create common doc structures for common docs like machine pool support, networking & more... We want the docs to be similar in structure for easy usability a

[2020-05-06 17:00] elmiko commented on #2121
++, i like both of those ideas

[2020-05-06 17:27] jodavis-suse commented on #2957
I took a quick look at this, but wasn't clear if klog would allow outputing to anything that wasn't stdout easily.  I also found klog or logr are used in different parts of the cluster-api code, which may make it difficult to implement.
So I'm curious to see if @cpanato comes to the same conclusion.

[2020-05-06 17:30] cpanato commented on #2957
@jodavis-suse I did some testing and using the klog I saw the output in the terminal without any problems

[2020-05-06 17:38] vincepri commented on #3016
/milestone v0.3.x

[2020-05-06 17:38] CecileRobertMichon commented on #3016
/help

[2020-05-06 17:38] vincepri commented on #3015
/milestone v0.3.x

[2020-05-06 17:39] vincepri commented on #3014
/milestone Next

[2020-05-06 17:41] CecileRobertMichon commented on #3019
/priority awaiting-more-evidence
/area bootstrap
/assign @randomvariable

[2020-05-06 17:42] vincepri commented on #3019
/milestone v0.3.x

[2020-05-06 17:42] vincepri commented on #3012
/milestone v0.3.x

[2020-05-06 17:43] CecileRobertMichon commented on #3009
/close

old capd e2e test will be removed in favor the new infra e2e tests.

[2020-05-06 17:43] #3009 closed

[2020-05-06 17:43] ncdc commented on #3014
As discussed in the community meeting today, I believe we started with complete immutability, and have been opening up fields to mutability as the need arises. We typically have had to write logic specific to each field (e.g. to sync data into the kubeadm configmap in the workload cluster). But for pre/postKubeadmCommands and files, those likely wouldn't require any syncing.

I think I'm ok allowi

[2020-05-06 17:44] vincepri commented on #2999
/milestone v0.3.x

[2020-05-06 17:44] CecileRobertMichon commented on #3000
/help

[2020-05-06 17:44] vincepri commented on #3000
/milestone v0.3.x

[2020-05-06 17:51] sethp-nr opened #3020 "[RFE] CAPI should link infrastructure objects to their originating template"
**User Story**

As a provider developer I would like to be able to identify which infrastructure resources were created from a template directly.

**Detailed Description**

CAPA has a few mutable fields on AWSMachine objects (specifically: security groups and tags) that, as users of CAPA, we would like to be mutable at the "template" level.

The path to the provider being able to reconcile those c

[2020-05-06 17:53] vincepri commented on #3014
cc @detiber

[2020-05-06 17:55] jodavis-suse commented on #2957
Yes, `-v` options do work for controlling the verbosity of output, but I think the request was about separating out the output.  (rereading) Ah, there are two things being asked for
 - control of the log level through a config variable, not just from the `-v` command line option
 - split of the debug output from stdout, which is mentioned here but captured in #2963

Sorry for combining the two in

[2020-05-06 18:04] wfernandes commented on #3012
/assign
Going to take a look at how `kubectl` does this but I'm open to suggestions on what we want the `clusterctl` UX to be.

[2020-05-06 18:27] sedefsavas commented on #3015
/assign

[2020-05-06 19:31] benmoss opened #3021 "KCP reports "failed to update KubeadmControlPlane status" even though it does update the status"
**What steps did you take and what happened:**
Whenever KCP can't establish a connection to the workload cluster it will log an error saying "Failed to update KubeadmControlPlane Status". This isn't true, and we don't treat it as a terminal error, because this is only part of what `updateStatus` does. We still update the fields we can on the KCP object, and then we still patch the object in etcd e

[2020-05-06 20:06] fabriziopandini commented on #2516
@wfernandes I'm in favor of keeping it simple and only changing the behavior of --list-images (without creating a new command).

But I defer this to @vincepri

[2020-05-06 20:19] wfernandes commented on #3012
So I've found out that in the following scenario kubectl works as intended.
[code]
I'll work on this to get clusterctl to work as kubectl.

[2020-05-06 20:19] wfernandes commented on #3012
/lifecycle active

[2020-05-06 20:33] vincepri commented on #3021
We should definitely try to fail more gracefully here

/milestone v0.3.x

[2020-05-06 20:54] wfernandes commented on #2516
/assign

[2020-05-06 21:55] jodavis-suse commented on #2963
Easy one liner to intentionally break and create both debug and error log output (by using clusterctl without a provider):
`clusterctl config cluster failcluster -v 5 1>stdout.txt 2>stderr.txt`

[2020-05-07 07:26] maelk commented on #3014
During the meeting, you were mentioning an issue with rollback. What would be the strategy for rollback then ? I would expect the commands would be related to the image we use, so they would need to be in sync.

[2020-05-07 15:16] ginobiliwang commented on #3013
@elmiko , thanks for comments.
I did some trouble shooting.
+++++++++++++++++++++++++++++++++++++++++++
[root@sdw1 v0.3.0]# ifconfig
br-46701fee4f7d: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
        inet 172.19.0.1  netmask 255.255.0.0  broadcast 172.19.255.255
        inet6 fc00:f853:ccd:e793::1  prefixlen 64  scopeid 0x0<global>
        inet6 fe80::1  prefixlen 64  scopeid 0x20<link>

[2020-05-07 15:22] ncdc opened #3026 "MachineHealthCheck issues handling machines right after the control plane becomes accessible"
**What steps did you take and what happened:**
1. Create a MachineHealthCheck with some nodeStartupTimeout (e.g. 10m)
1. Create a cluster (Cluster, InfraCluster, KubeadmControlPlane, MachineDeployment, etc)
1. For whatever reason, the control plane takes a while to be accessible (close to nodeStartupTimeout, or more) - let's say it takes 9m
1. MachineHealthCheck evaluates unhealthiness based on th

[2020-05-07 15:22] vincepri commented on #3026
/milestone v0.3.x

[2020-05-07 16:45] ncdc commented on #3014
We don't actually support any rollbacks in KCP, so never mind about what I said in the meeting 😄. Whatever is in the KCP spec must be valid whenever creating a new control plane machine.

[2020-05-07 16:57] sedefsavas commented on #3016
/assign

[2020-05-07 17:06] sedefsavas commented on #3016
@gab-satchi which status checks are you looking here? I added a noderef check in a PR that may be useful but can add more based on your feedback.

[2020-05-07 17:42] enxebre commented on #3026
fwiw I believe this was originally to avoid scenarios exactly like what Andy describes in “1”. Changing lastUpdate means machine is making progress so the last lastUpdate (provisioned -> running) is actually the real nodeStartupTimeout.

[2020-05-07 18:13] #2970 closed

[2020-05-07 20:03] stormobile commented on #1576
I think coreos/fcos/flatcar support is desired as those distributions as a base for cluster nodes are lighter and their lcm models correspond to k8s lcm models. There is at least one fork of cabpk https://github.com/minsheng-fintech-corp-ltd/cluster-api-bootstrap-provider-kubeadm-ignition that changes output format to ignition but this approach introduces a number of obvious challenges.

[2020-05-07 20:18] scottdhowell3 commented on #3019
Do we need to provide anything else for troubleshooting?

[2020-05-07 22:09] alexeldeib opened #3030 "[capz] kubeadm bootstrap config contains raw secrets"
**What steps did you take and what happened:**
Create any CAPZ cluster with CAPBK. The `files` object with azure.json contains a secret. In CAPBK, this probably needs to be changed so that files can be pulled from Kubernetes secrets and populated inside the CAPBK controller.

https://github.com/kubernetes-sigs/cluster-api/blob/9970a175c258395de4a601f96efb315c50db0656/bootstrap/kubeadm/controllers/

[2020-05-07 22:53] vincepri commented on #3030
There was https://github.com/kubernetes-sigs/cluster-api/pull/1860 open a while ago which had good progress on this issue, although there was a little back/forth, maybe we want to open a simple CAEP for it?

[2020-05-07 22:53] vincepri commented on #3030
I'm super +1 on getting Secret support for anything that may contain credentials or similar data

[2020-05-08 07:15] fabriziopandini commented on #3026
What about waiting for Status.NodeRef to exist before starting to health-checking a machine?

[2020-05-08 07:28] fabriziopandini commented on #3030
What about adding a new filed `secretMounts` of type `[]corev1.SecretVolumeSource` (https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#secretvolumesource-v1-core)

[2020-05-08 11:18] ncdc commented on #3026
@fabriziopandini that's actually what this issue is about 😄. The "node startup timeout" is how long to wait for a node ref. There are two different timeouts that MHC handles - node startup timeout, and node health conditions.

[2020-05-08 13:25] lnovara commented on #3013
I had a simular issue caused by the fact that `kind` is creating the containers in the `kind` network while CAPD is creating them in the `bridge` one making them not accessible from the kind management cluster.

I had to `docker network connect bridge kind-control-plane` to make the workload cluster accessible from the management one.

I got the same issue on both Linux and Mac.

Hope it helps.

[2020-05-08 13:29] elmiko commented on #3013
interesting, i have not experienced this behavior with the bridge. i do see the haproxy lb pods that are created, but my network defaults must tolerate this. fwiw i wrote the article that @ginobiliwang referenced on a machine with stock fedora 31 server instance.

[2020-05-08 13:53] lnovara commented on #3013
I don't know, I got the same issue on Docker for Mac and Debian.

After doing the `docker network connect` command everything started working, I even scheduled a pod on the management cluster to check if I was able to reach the load balancer and I couldn't.

I don't remember having done anything fancy with the docker networking on that two machines.

[2020-05-08 13:56] elmiko commented on #3013
glad to hear we have a good workaround.

i'm not sure how the docker deployments differ between macos/debian and fedora, but i have not had to run that command to make this work on my machines. i tend to run all fedora and centos boxes though, so i have to think it's just a difference in distro configuration.

[2020-05-08 14:12] elmiko commented on #3013
i tried to reproduce what is happening, but when i run kind i only see the addition a virtual network interface, and no bridge is created.

if i run `kind create cluster --name foo`, i get one new ethernet device created (the virtual interface), and no new pods (no lb).

this is all done on fedora 31 server, just wanted to add another data point to the discussion.

ifconfig before kind
[code]

ifc

[2020-05-08 16:23] fabriziopandini commented on #3013
Same here. I jump from macos and ubuntu but I never faced the same problem 🤔

[2020-05-08 16:40] elmiko commented on #3013
i wonder if this is a kind issue?

[2020-05-08 19:12] ZhiFeng1993 commented on #3007
/assign

[2020-05-08 21:41] alexeldeib commented on #3030
I missed #1846, it's the request for the feature while I described it as a bug 🙃

deduping

[2020-05-08 21:41] #3030 closed

[2020-05-08 22:28] ZhiFeng1993 commented on #3007
/unassign

[2020-05-09 00:42] voor opened #3033 "cert-manager should probably tolerate masters"
**What steps did you take and what happened:**
Control planes consisting of only masters cannot deploy cert-manager because cert-manager does not tolerate masters.

**What did you expect to happen:**
cert-manager deployed properly

**Anything else you would like to add:**
Probably need to add
[code]
to the cert-manager stuff.

**Environment:**

- Cluster-api version:
- Minikube/KIND version:
- Kub

[2020-05-09 03:30] ginobiliwang commented on #3013
@elmiko, i have been looking for some config that could assign kind clusters with certain subnets, which could used to prevent kind from creating a new bridge, but did not found out.
If it exits, it could definitely being used in cluster-api project to mitigate the issue.

@lnovara , thanks for the information, i will try the walk-around.

[2020-05-09 04:55] ginobiliwang commented on #3013
@lnovara  it works after applying the command!

[2020-05-09 18:17] #2957 closed

[2020-05-09 20:45] alexeldeib commented on #3007
/assign

[2020-05-09 20:49] alexeldeib commented on #3007
ref this slack thread, paraphrased below: https://kubernetes.slack.com/archives/C8TSNPY4T/p1588765299307600?thread_ts=1588755177.299000&cid=C8TSNPY4T

[2020-05-09 20:53] alexeldeib commented on #3007
This is correctly documented in the original proposal: https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/20190610-machine-states-preboot-bootstrapping.md#transition-conditions-2

[2020-05-09 21:16] alexeldeib opened #3036 "Provisioned phase?"
Are these phase definitions correct?

https://github.com/kubernetes-sigs/cluster-api/blob/98d461988fec43f6471ff13417bfe079fcbc5b5c/controllers/machine_controller_phases.go#L60-L68

See also: https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/20190610-machine-states-preboot-bootstrapping.md#transition-conditions-2

The machine controller reconciles infrastructure before the I

[2020-05-09 22:05] alexeldeib commented on #1739
this and https://github.com/kubernetes-sigs/cluster-api/issues/1846 are very similar/dupes

[2020-05-10 00:28] alexeldeib commented on #1739
@vincepri @fabriziopandini Started a doc and expanded on the existing PR. The doc is fairly short right now, I mostly wanted to highlight the API types and how the implementation would change from https://github.com/kubernetes-sigs/cluster-api/pull/1860

https://github.com/kubernetes-sigs/cluster-api/pull/3038

https://docs.google.com/document/d/1R_E3uu8Uvfe4pOcTrfQYUolJCK8mUS58Kq4A8zmqTr8/edit?us

[2020-05-10 00:28] alexeldeib commented on #1739
/assign

[2020-05-10 00:29] alexeldeib commented on #1739
/remove help

[2020-05-10 00:29] alexeldeib commented on #1739
/remove-help

[2020-05-10 00:38] alexeldeib commented on #1846
/assign
/remove-help

[2020-05-10 05:10] yongxiu opened #3039 "provider implementers guide needs to be updated for apply the contract version label"
**What steps did you take and what happened:**
I followed the steps in https://github.com/kubernetes-sigs/cluster-api/tree/master/docs/book/src/developer/providers/implementers-guide

source code: https://github.com/liztio/cluster-api-provider-mailgun

**What did you expect to happen:**
mailgun email received.

**Anything else you would like to add:**

I met error in capi-system\capi-controller-ma

[2020-05-10 11:13] lnovara commented on #3013
I think that this might be related to the recent kind 0.8.0 release which changes the default network in which kind clusters are created.

Is this a CAPD "bug"? What CAPD should do now? Create the workload clusters in the same Docker network in which CAPD is running?

Ref: https://github.com/kubernetes-sigs/kind/releases/tag/v0.8.0

[2020-05-11 03:59] ginobiliwang commented on #3013
Agree.

With this PR, i did some experiments.
https://github.com/kubernetes-sigs/kind/pull/1538

[root@sdw1 clusterApiTest]# export KIND_EXPERIMENTAL_DOCKER_NETWORK=bridge
[root@sdw1 clusterApiTest]# kind create cluster --name testcluster
Creating cluster "testcluster" ...
WARNING: Overriding docker network due to KIND_EXPERIMENTAL_DOCKER_NETWORK
WARNING: Here be dragons! This is not supported cur

[2020-05-11 07:24] fabriziopandini commented on #3013
@elmiko @lnovara @ginobiliwang should we document this?

[2020-05-11 07:37] fabriziopandini commented on #3033
@voor are you referring to single-node clusters?
(because single node control plane usually has some workers, so this should not be a problem)

In kubeadm, we are documenting to remove node-role.kubernetes.io/master from single-node clusters, and this why e.g. a single-node kind cluster can be used a temporary management cluster

Is it possible to do the same in your use case (single-node cluster

[2020-05-11 07:48] fabriziopandini commented on #3026
@ncdc yeah, probably we are saying the same thing. I was mostly focused on

And double chacking that node health conditions starts after node ref is set

[2020-05-11 09:17] voor commented on #3033
Yes, single node cluster not single control plane.

[2020-05-11 12:54] elmiko commented on #3013
imo, seems worth mentioning in a note or something

[2020-05-11 13:30] randomvariable commented on #3019
@scottdhowell3 nope. had a foreshortened week due to public holidays last week, will sort out this week.

[2020-05-11 14:16] lnovara commented on #3013
I agree with @elmiko, while we wait for a proper fix this should be mentioned in the documentation to avoid some head scratching for people approaching the project. 😄

[2020-05-11 14:23] fabriziopandini opened #3042 "Adapt clusterctl move to the new multi-tenancy model"
**User Story**

As a User, I would like to use clusterctl for creating multy-tenant clusters.

**Detailed Description**

https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1713 is introducing the possibility for a provider to use many credentials with a single instance of a provider.

We should define if/how this scenario is supported by clusterctl.

**Anything else you would like to

[2020-05-11 14:34] fabriziopandini opened #3043 "Document clusterctl upgrade for multi-tenant clusters"
https://cluster-api.sigs.k8s.io/clusterctl/commands/upgrade.html should provide details about how to upgrade multi-tenant cluster.

**Anything else you would like to add:**
This issue is derived from https://github.com/kubernetes-sigs/cluster-api/issues/2997#issuecomment-623549302
The main points to be documented are the limitations about:
- usage of instance-specific variables vs upgrades.
- lack

[2020-05-11 14:35] fabriziopandini commented on #3043
/area upgrades

[2020-05-11 14:38] fabriziopandini commented on #3042
/area clusterctl
even do this problem is not clusterctl specific

[2020-05-11 14:40] vincepri commented on #3042
@randomvariable is working on this in the providers for v1alpha3, although we should revisit in v1alpha4 and forward. It's definitely something we might want to tackle before getting to beta.

/milestone Next

[2020-05-11 14:44] fabriziopandini opened #3044 "clusterctl upgrades does not support change of contract with multi-tenancy"
This issue is derived from https://github.com/kubernetes-sigs/cluster-api/issues/2997#issuecomment-623549302

clusterctl does not support provider upgrades if the following conditions apply:
- muti-tenancy
- providers use instance-specific variables
- the upgrade requires change of contract

because:
- change of contract requires to be upgraded at the same time
-  usage of instance-specific variab

[2020-05-11 15:02] vincepri commented on #3036
These values have been only informational, and shouldn't be used in any controllers or code. I agree with you that the current logic is a little confusing. We'll probably always transition from `provisioning` -> `running` given the code above.

Another reason why conditions are a better way to determine the status of our objects

[2020-05-11 15:08] fabriziopandini opened #3045 "clusterctl should manage controller flags"
**User Story**

As an operator, I would like a simple way to provide controller flags during init
As an operator, I would like clusterctl to preserve controller's flags during upgrades

**Detailed Description**
The number of flags in controller is growing, mostly due to the work on experiments, but currently clusterctl manages only the --namespace flag during init and upgrades.

Currently, there i

[2020-05-11 15:14] vincepri commented on #3044
When do we want to get this fixed? Should we document the limitations?

[2020-05-11 15:15] vincepri commented on #3045
See https://github.com/kubernetes-sigs/controller-runtime/blob/master/designs/component-config.md for CR component config

[2020-05-11 15:56] benmoss opened #3046 "Consolidate access to Machine phase statuses"
**User Story**

As a developer I want the codebase to use a consistent definition of `Pending`/`Provisioning`/`Provisioned`/`Running`/`Failed`/`Deleting` so that we can have a clear and consistent mental model of what these words mean.

**Detailed Description**

Right now there is a lot of code strewn about the codebase that checks various things that represent these phases. For example, bugs can

[2020-05-11 16:05] vincepri commented on #3046
@benmoss Thanks for filing this, it seems the use cases span into the work @fabriziopandini is pushing forward with `Conditions` on all Cluster API objects.

[2020-05-11 16:41] wfernandes commented on #3033
/priority awaiting-more-evidence

[2020-05-11 16:52] kfox1111 commented on #3033
I could totally see using the cluster api on a 3 node raspberry pi cluster with only 3 masters. In this configuration, cert-manager should tolerate being on masters?

[2020-05-11 17:43] wfernandes commented on #2635
Referencing this issue https://github.com/kubernetes-sigs/cluster-api/issues/3033 here as it may be relevant when we design this out.

[2020-05-11 17:44] wfernandes commented on #3033
I think I understand the use case.

So you have a management cluster with just a single node that is the master node (that is, it has the label `node-role.kubernetes.io/master: ""`) and it has a taint `NoSchedule`.
And the ask is to be able to install CAPI management components onto that single master node.

I see that the other CAPI components have the toleration specified in their manifests.
htt

[2020-05-11 17:57] yongxiu commented on #3039
As per @ncdc, what need to do is: https://cluster-api.sigs.k8s.io/developer/providers/v1alpha2-to-v1alpha3.html#apply-the-contract-version-label-clusterx-k8sioversion-version1_version2_version3-to-your-crds

[2020-05-11 18:34] fabriziopandini commented on #3033
@wfernandes I'm interested in understanding the use case because IMO he Idaa of having a single node management cluster supported by Cluster API goes far and behind the cert manager toleration.
E.g. when kcp does upgrades AFAIK we are not doing drain. Should we implement this?
E.g should we have test coverage for single node control plane?

[2020-05-11 18:40] voor commented on #3033
Yes, my use case actually aligns with the 3 node master cluster mentioned earlier, since if I scale all of my CAPI components to 3 and only run master nodes, I effectively have a very small footprint health check capability for my clusters that is itself highly available.

[2020-05-11 18:45] fabriziopandini commented on #3044
This is for v1alpha4

I'm fine in document or fix, but currently there is no strategy defined for this use case (user are blocked)

[2020-05-11 18:54] wfernandes commented on #3033
Makes sense. I guess the stuff I mentioned above also holds true for a multi-master cluster with no worker nodes.

[2020-05-11 19:11] vincepri commented on #3033
Do we allow CAPI controllers to run on control plane nodes? If not, we should document the worker node as a minimum requirement

[2020-05-11 19:14] voor commented on #3033
Currently CAPA and CAPV tolerate masters, but CAPZ does not. @CecileRobertMichon maybe we should figure out some consistency there, too.

[2020-05-11 19:20] wfernandes commented on #3033
@vincepri I believe the CAPI components have the tolerations to be scheduled onto the master.
https://github.com/kubernetes-sigs/cluster-api/blob/bfa499083ba3c316b647d9c211baf4453a2cc1db/config/manager/manager.yaml#L39-L41

However, they need cert-manager for the webhook components to run. Right now, if you do `clusterctl init -v5`, it will hang on `Waiting for cert-manager to be available...`.

[2020-05-11 19:29] ncdc commented on #2331
@williamsandrew does https://github.com/kubernetes-sigs/cluster-api/pull/2165 solve this for you?

[2020-05-11 19:47] ncdc commented on #2331
Oh wait, that PR is only for unreachable/unready nodes

[2020-05-11 19:52] vincepri commented on #3033
If we do, then we +1 to be consistent / make it as a requirement for providers as well & add the tolerations to cert-manager, which is a required dependency

[2020-05-11 20:08] benmoss commented on #2063
@dlipovetsky is this still relevant? We now rely a lot on the `FilterableMachineCollection` in KCP, would that be what we want to move to util?

[2020-05-11 20:14] fabriziopandini commented on #3033
ok, it seems there is consensus on the use case (3 CP without worker nodes), so I'm +1

[2020-05-11 20:22] #3015 closed

[2020-05-11 20:25] wfernandes commented on #3033
/remove-priority awaiting-more-evidence

[2020-05-11 20:26] vincepri commented on #3033
/milestone v0.3.6

[2020-05-11 20:41] gab-satchi opened #3049 "clusterctl rejects cluster names with dots"
**What steps did you take and what happened:**
`clusterctl config cluster 'test.1'`

clusterctl fails with:
`Error: invalid cluster name: a DNS-1123 label must consist of lower case alphanumeric characters or '-', and must start and end with an alphanumeric character (e.g. 'my-name',  or '123-abc', regex used for validation is '[a-z0-9]([-a-z0-9]*[a-z0-9])?')`

**What did you expect to happen:**
c

[2020-05-11 22:19] williamsandrew commented on #2331
Correct. My use case would include nodes that are accessible but are still unable to drain within a certain period of time.

[2020-05-12 10:25] randomvariable commented on #3042
Thanks for this issue Fabrizio.

/priority important/long-term

[2020-05-12 10:25] randomvariable commented on #3042
/priority important-longterm

[2020-05-12 10:27] randomvariable commented on #1739
Important to note that the history of this also included advising people to use provider specific features where necessary, for example https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1490 and https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/582

[2020-05-12 12:50] randomvariable commented on #3019
/priority important-soon

[2020-05-12 12:51] randomvariable commented on #3019
/lifecycle active

[2020-05-12 12:53] JoelSpeed commented on #3026
Probably worth discussing this issue on the community call, but I'll add my thoughts here as they are at the moment

When I think of the NodeStartupTimeout, I expect that to be how long the cloud provider has to start the machine and for the machine to join the cluster, so perhaps it makes sense for the check to only start that timer when the phase is `Provisioned` (as in instance created, should

[2020-05-12 16:12] vincepri commented on #3049
Object names indeed allow `.` to be included in the name (see https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#dns-subdomain-names), although we also use the Cluster Name as a label, so we need to restrict it to https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#dns-label-names

I think clusterctl is erroring as it should here.

[2020-05-12 16:24] wfernandes commented on #2516
/lifecycle active

[2020-05-12 17:04] #3033 closed

[2020-05-12 21:46] fabriziopandini commented on #2305
@vincepri, considering this getting stale and the discussions in https://github.com/kubernetes-sigs/cluster-api/issues/2955, I'm +1 for closing this issue...

[2020-05-12 22:14] #3019 closed

[2020-05-13 13:49] gab-satchi commented on #3049
`.` is allowed for labels from what I can tell: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#syntax-and-character-set

From what you linked, it looks like some resource types may restrict their names to be RFC1123 compliant

[2020-05-13 14:46] fabriziopandini commented on #2840
@gab-satchi FYI, we are planning to deprecate test/helpers in CAPI as soon as CAPA stops to use methods in this package

[2020-05-13 14:57] #3012 closed

[2020-05-13 16:03] fabriziopandini commented on #3049
@vincepri

Uhmm, AFAIK we are using cluster name as a condition value, so we should be fine allowing dot: "Valid label values must be 63 characters or less and must be empty or begin and end with an alphanumeric character ([a-z0-9A-Z]) with dashes (-), underscores (_), dots (.), and alphanumerics between."

[2020-05-13 16:23] vincepri commented on #3049
Where is this validation happening today?

[2020-05-13 16:28] benmoss opened #3057 "MachineHealthChecks should not overlap"
**User Story**

As an operator I would like to guard rails in place to prevent myself/my team from accidentally creating overlapping MachineHealthChecks. Today this is not a huge problem, since the system is such that the first failing health check will delete the machine, but as we move towards a stateful approach (#3056) it will become such that the multiple health checks start fighting with eac

[2020-05-13 16:30] vincepri commented on #3057
Let's tackle (for now) the documentation piece of it and seek feedback

[2020-05-13 16:43] vincepri commented on #3036
/triage support
/milestone Next

[2020-05-13 16:43] vincepri commented on #3039
/kind documentation
/milestone v0.3.x

[2020-05-13 16:43] vincepri commented on #3039
/help

[2020-05-13 16:44] vincepri commented on #3045
/milestone Next
/priority important-longterm

[2020-05-13 16:44] vincepri commented on #3049
/priority awaiting-more-evidence
/milestone Next

[2020-05-13 16:44] vincepri commented on #3046
/milestone Next
/priority backlog

[2020-05-13 16:45] vincepri commented on #3046
/kind cleanup

[2020-05-13 16:46] #3006 closed

[2020-05-13 17:29] vincepri commented on #3057
/milestone Next

[2020-05-13 17:29] vincepri commented on #3057
/priority important-longterm

[2020-05-13 17:31] benmoss opened #3058 "Document that users should not create overlapping health checks"
**User Story**

As an operator I would like to be warned that creating overlapping MachineHealthChecks can potentially result in undesired behavior.

**Detailed Description**

Split out from #3057 to just add documentation as a first step towards preventing this problem.

/kind feature

[2020-05-13 17:32] vincepri commented on #3044
/milestone Next

[2020-05-13 17:32] vincepri commented on #3058
/milestone v0.3.x

[2020-05-13 17:32] vincepri commented on #3058
/kind documentation

[2020-05-13 17:33] vincepri commented on #3043
/milestone v0.3.x

[2020-05-13 17:36] #2999 closed

[2020-05-13 17:40] vincepri commented on #3020
/milestone v0.3.x

[2020-05-13 20:09] dhawal55 commented on #2994
+1
I would like me to have separate volume mounts for `/var/lib/docker`, `/var/lib/kubelet` and etcd data dir

[2020-05-14 09:21] fabriziopandini commented on #3026
AFAIK this only means that the cluster infrastructure is ready (ELB, VPC, etc)...

[2020-05-14 10:29] randomvariable opened #3062 "Add security section to CAEP template"
We've started to brush up against security concerns, particularly RBAC in the development of features and proposals. Wonder if it's worth creating an explicit section about in the CAEP template.

Initial thing could be:

### Security Model Changes

In this section, describe how Cluster API's security model would be affected by your proposal/feature.

#### Roles

Identify the expected users or syst

[2020-05-14 10:30] randomvariable commented on #3062
/kind documentation
/assign

Happy to add it if folk agree.

[2020-05-14 10:31] randomvariable commented on #3062
/area security

[2020-05-14 13:04] fabriziopandini commented on #3049
@vincepri it is backed in the API server:

error validating "test-full.yaml": error validating data: ValidationError(DockerMachineTemplate.spec.template.spec): unknown field "extraMounts" in io.x-k8s.cluster.infrastructure.v1alpha3.DockerMachineTemplate.spec.template.spec; if you choose to ignore these errors, turn validation off with --validate=false

[2020-05-14 13:23] fabriziopandini commented on #3062
+1 from me.
Not sure which role are expected to be listed, but I like the idea of having something that forces me to this about RBAC and security when reading a proposal

[2020-05-14 13:55] benmoss commented on #3058
I think it makes sense to wait until after we get some resolution on #3056 so we can document the new behavior, which will be worse than the existing behavior.

[2020-05-14 14:09] alanmeadows opened #3064 "Improved access to the cloud-init interface"
/kind feature

**Describe the solution you'd like**
The kubeadm bootstrap provider should support additional cloud-init interfaces that are commonly used in production systems.

Today, only a few are supported: https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/blob/master/cloudinit/cloudinit.go#L34-L42

Even some of these options, for instance, NTP, do not support the full

[2020-05-14 15:52] vincepri commented on #3062
/help
/milestone v0.3.x

Please do, this is a great reminder to _always_ think about security when writing a proposal!

[2020-05-14 15:52] vincepri commented on #3062
/priority important-soon

[2020-05-14 16:16] vincepri commented on #3049
Makes sense, although the original message that @gab-satchi posted seems different?

[2020-05-14 16:32] alanmeadows commented on #3064
Parts of this may be a duplicate of https://github.com/kubernetes-sigs/cluster-api/issues/2994

[2020-05-14 16:33] vincepri commented on #3064
cc @CecileRobertMichon

[2020-05-14 16:51] CecileRobertMichon commented on #3064
@alanmeadows see #3066 and proposal #3048. That proposal is scoped to disk_setup, fs_setup, and mounts.

[2020-05-14 16:59] wfernandes commented on #2871
Adding this for context.
I've added another test for `InitImages` as part of PR: https://github.com/kubernetes-sigs/cluster-api/pull/3059

I still believe we can add more test cases as part of this issue/PR. For example,
- `returns images for cert-manager`
- `returns images for the default providers`

[2020-05-14 18:33] vincepri commented on #2414
/milestone v0.3.6

[2020-05-14 18:33] vincepri commented on #2414
/close

[2020-05-14 18:33] #2414 closed

[2020-05-14 19:13] vincepri commented on #3057
⚠️ A potential breaking-change solution:

- Have MachineHealthCheck selector field to be `deprecated`.
- If a MachineHealthCheck selector is empty or nil, we have a default label that each MHC operates on, e.g. `cluster.x-k8s.io/health-check: "<mhc-object-name>"` which is applied on Machine objects.
- The new label guarantees uniqueness (because names are unique).
- We can potentially have a backw

[2020-05-14 19:13] vincepri commented on #3057
cc @ncdc

[2020-05-14 21:08] ncdc commented on #3057
SGTM

[2020-05-14 21:08] #3016 closed

[2020-05-14 21:20] teoyaomiqui opened #3067 "Allow URL() method of Provider interface to return empty string"
**User Story**

As a user of clusterctl (as a library, not as a binary). We found it to be inconvenient for us, to hold all the provider component repositories in the specified directory structure, as we have our own ways to store kubernetes resource documents, we wanted to use clusterctl on top of this our data interface, which in turn is built on top of kustomize.

So thanks to great flexibility

[2020-05-15 01:12] cprivite commented on #3012
Yes, that's more or less my use case.
Technically, I'm doing this trickery:
[code]
Very handy when dealing with multiple ephemeral clusters (like one tends to do when using cluster-api). You just drop the config.clustername.yaml file into the .kube directory and you're good to go.

[2020-05-15 10:05] JoelSpeed commented on #3057
The above plan seems reasonable to me, guarantees the 1:1 requirement that we need to introduce. It's a shame it means that now the Machine's have knowledge of the health checks but this is definitely the best solution so far I think.

I had been pondering alternatives about modifying the requirements of the selectors but every avenue I thought of had at least one case where the 1:1 assumption cou

[2020-05-15 14:35] vincepri commented on #2252
/milestone v0.3.x

[2020-05-15 14:35] vincepri commented on #2063
/help
/priority backlog
/milestone v0.3.x

[2020-05-15 14:35] vincepri commented on #1878
/milestone v0.3.x

[2020-05-15 14:36] vincepri commented on #2483
/milestone v0.3.x

[2020-05-15 14:36] vincepri commented on #2976
/milestone v0.3.x

[2020-05-15 18:05] dhawal55 commented on #1576
@rikatz I'm very interested in helping with this effort (support ignition output format). Let me know how you want to collaborate on this activity.

[2020-05-15 18:31] rikatz commented on #1576
@dhawal55 sure :) I've made a simple PoC to see if this was viable, but I'm getting really crowded with other stuff here.

If you want to take care of this, and got more cycles than me to deal with this please, really please go ahead :)

[2020-05-15 19:04] wfernandes commented on #2871
@ericzhang08 Are you still working on this? Else I can fill in a few more tests as part of the PR mentioned above.

[2020-05-15 22:03] dlipovetsky commented on #2063
I think this got done, but the issue wasn't closed.

[2020-05-15 22:03] #2063 closed

[2020-05-15 23:03] dhawal55 commented on #1576
K, I will start getting familiar with kubeadm provider. From what I have seen so far, I don't see the Format field used anywhere

[2020-05-16 11:15] fabriziopandini commented on #3067
/cc

[2020-05-17 05:58] kanwar-saad opened #3072 "CABPK creates multiple machines with kubeadm init"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
I am creating control plane machines directly without kubeadmcontrolplanecontroller. If I create multiple controlplane machines back to back, the CAPK starts provisioning all of them at once and all machines have kubeadm init in their userdata instead of only for the first master.
When cre

[2020-05-17 06:01] kanwar-saad commented on #3072
/area bootstrap

[2020-05-18 05:32] maelk commented on #3014
Hi there! Are there any updates regarding this ? @ncdc and @detiber ? thank you!

[2020-05-18 10:14] fabriziopandini commented on #3072
/remove-kind bug
/triage support

@kanwar-saad I have tried to reproduce locally but it is working just fine for me:

Only one master gets provisioned at first
[code]

After the first master is up, the 2nd and 2rd start provisioning
[code]

At the end I get 3 master up and running (NotReady is because I have not installed CNI)
[code]

The only thing I can notice in your logs is

[code]

And this m

[2020-05-18 14:20] benmoss commented on #3057
This would introduce the possibility of a machine specifying a health check that doesn't exist, or of a health check being deleted while machines are still dependent on it. We could probably validate both.

[2020-05-18 19:32] detiber commented on #2305
/close

[2020-05-18 19:32] #2305 closed

[2020-05-18 20:13] CecileRobertMichon opened #3073 "documentation: add example for enabling feature gates in CAPI book"
/kind documentation

The clusterctl [documentation](https://cluster-api.sigs.k8s.io/clusterctl/configuration.html) should include an example for adding flags to the various providers to enable a feature gate (we can use MachinePool as an example since it's the only one supported across multiple providers right now).

[2020-05-18 20:14] CecileRobertMichon commented on #3073
/help

[2020-05-18 20:14] CecileRobertMichon commented on #3073
/kind documentation

[2020-05-18 21:58] wfernandes opened #3074 "Add contrib folder guidelines to CONTRIBUTING.md"
**User Story**

As a developer I would like to to better understand CAPIs guidelines for `contrib` folders. For example, if I wanted to contribute a yaml processor in order to extend clusterctl's templating.

**Anything else you would like to add:**
Ref https://github.com/kubernetes-sigs/cluster-api/pull/3052

/kind feature
/kind documentation

[2020-05-19 09:18] randomvariable opened #3075 "Drain workload clusters of service Type=Loadbalancer on teardown"
**User Story**

As a cluster operator, I delete a cluster (e.g. in AWS), but my cluster won't delete infrastructure objects because developers had created services of Type=LoadBalancer that consumed the cluster resources, the cloud provider controller has already been deleted and therefore can't remove them and I have to manually clean up the resources.

**Detailed Description**

An extension of h

[2020-05-19 09:23] fabriziopandini commented on #3073
this is related to https://github.com/kubernetes-sigs/cluster-api/issues/3045

[2020-05-19 13:58] ncdc commented on #3014
/help
/good-first-issue

[2020-05-19 14:13] vincepri commented on #3067
@fabriziopandini Do you have any opinions here? What could be the implications to allow this use case to be taken into account?

/milestone Next

[2020-05-19 14:19] vincepri commented on #1740
/remove-lifecycle stale

[2020-05-19 14:27] vincepri commented on #3072
This bug should have been fixed in [v0.3.6](https://github.com/kubernetes-sigs/cluster-api/releases/tag/v0.3.6), specifically in https://github.com/kubernetes-sigs/cluster-api/pull/3002

[2020-05-19 14:27] vincepri commented on #3072
/milestone Next
/priority awaiting-more-evidence

[2020-05-19 14:32] vincepri commented on #3075
This is an interesting one, @detiber @ncdc thoughts on getting this in v0.3.x? It could be an optional flag on the Cluster object. I'd discuss it at a community meeting as well to get more thoughts

[2020-05-19 14:35] detiber commented on #3075
@vincepri we could also likely introduce it as an experimental command line flag to start with rather than modifying the Cluster object to start.

[2020-05-19 14:38] randomvariable commented on #3075
FeatureGate seems appropriate to me. I've already put it down on the agenda for 2020/05/20.

[2020-05-19 16:10] fabriziopandini commented on #3072
@vincepri this issue is referred to a cluster without KCP, so I don't think #3002 is relevant here

[2020-05-19 16:20] detiber commented on #3014
I'm a +1 to allowing mutability for the PreKubeadmCommands and PostKubeadmCommands fields.

[2020-05-19 16:22] furkatgofurov7 commented on #3072
@fabriziopandini true, it is referred to a cluster without KCP in this case.

[2020-05-19 16:27] vincepri commented on #3072
Apologies, I missed the `without` in the description

[2020-05-19 16:30] vincepri commented on #3073
/milestone v0.3.x

[2020-05-19 16:53] #2516 closed

[2020-05-20 05:48] sedefsavas commented on #3049
I think it hits apimachinery validation:
https://github.com/kubernetes/apimachinery/blob/bdcc9f4ab675d837965d1bd5babf8299afead78a/pkg/util/validation/validation.go#L173

Its regex is `[a-z0-9]([-a-z0-9]*[a-z0-9])?`

[2020-05-20 07:53] fabriziopandini commented on #3067
@teoyaomiqui I'm happy to know you appreciate clusterctl flexibility.

I'm trying to understand your use case, however there is one thing I disagree on your analysis:

This is not true, on the contrary, the goal of the repository data structure is to provide the location (the URL) for a provider so

a. clusterctl can fetch and assemble all the required providers
b. the user can add new providers (

[2020-05-20 08:12] fabriziopandini commented on #3049
/assign
/lifecycle active

[2020-05-20 08:32] fabriziopandini commented on #3049
/remove-priority awaiting-more-evidence

[2020-05-20 16:30] #2410 closed

[2020-05-20 16:37] rudoi opened #3078 "Add .status.observedGeneration to all objects"
**User Story**

Many Kubernetes objects have an `observedGeneration` in the status that enables comparison against `.metadata.generation`. This is helpful for implementing other controllers against CAPI types that want to wait until changes are reconciled by the CAPI controllers before jumping in and doing their work.

**Detailed Description**

Add `.status.observedGeneration` and have each contro

[2020-05-20 16:40] vincepri commented on #3074
/milestone v0.3.x

[2020-05-20 16:42] sedefsavas commented on #2949
Will Docker provider webhook be a separate deployment as the rest of the providers? Or can we bundle it together with manager?

cc @fabriziopandini

/assign

[2020-05-20 17:16] #3049 closed

[2020-05-20 17:22] ncdc commented on #3075
We had talked about this previously as an alternative to infra providers having to manage this. I ok experimenting with it.

[2020-05-20 17:51] vincepri commented on #3075
/milestone Next

[2020-05-20 17:52] vincepri commented on #3078
/milestone v0.3.x
/help
/priority important-longterm
/area api

[2020-05-20 17:52] randomvariable commented on #3078
CAPI conditions will have an ObservedGeneration field, so will need to be done as part of that work.

[2020-05-20 17:55] vincepri commented on #3064
/milestone Next

Needs more discussion on the future of CABPK.

[2020-05-20 17:59] detiber commented on #3064
One of the things we've discussed in the past is honoring the `Format` field to support outputting config other than cloud-init (such as ignition or other bootstrapping tools): https://github.com/kubernetes-sigs/cluster-api/issues/1582

If we do still intend to do that, then we need to be cautious around what config fields we support since there is not 100% parity between the different bootstrappi

[2020-05-20 23:06] CecileRobertMichon commented on #3075
I looked into this a bit more and I think this doesn't apply to CAPZ. Azure has resource groups so all the resources for the cluster are contained within a resource group, including the load balancer created by cloud provider for exposing services. Also, the Azure vnet doesn't have any dependencies on the load balancer, only network interfaces do so I think since the AzureMachines get deleted firs

[2020-05-21 02:54] sedefsavas commented on #2949
Since docker provider does not have conversion webhooks, no need to have a separate deployment for the webhook. So will add the webhook to the docker controller manager.

[2020-05-21 04:04] scottslowe commented on #2557
I'd like to help with this issue. Do we anticipate this would create a new standalone doc somewhere (like in the `docs` directory), or that it should be a new page/section in the book?

[2020-05-21 06:22] prankul88 commented on #2542
/lifecycle active

[2020-05-21 06:51] fabriziopandini commented on #2949
@sedefsavas
Is there a problem to get docker provider similar to other providers?

Then i'm not sure that the choice to manage web-hooks in a specific way for the docker provider will simplify your task, because e.g. clusterctl assumes all the provider to follow the same contract for yaml files (see https://cluster-api.sigs.k8s.io/developer/providers/v1alpha2-to-v1alpha3.html#refactor-kustomize-co

[2020-05-21 13:48] randomvariable commented on #3075
Thanks, I thought resource groups, that feature if only AWS had :( would mitigate having to do this in Azure.

If this is really AWS specific, but also in CAPA we don't want to have to sync with any number of exotic AWS LB provisioners, then perhaps a variant of @michaelgugino 's machine lifecycle hooks proposal is relevant, but with CAPA issuing the deletes to loadbalancer type services in the wo

[2020-05-21 13:50] ncdc commented on #2557
It should show up on our docs site, so it'll need to go somewhere in `docs/book/src`. I'm not sure off the top of my head where the best place in there is. Do you have any thoughts?

[2020-05-21 14:10] benmoss commented on #3026
I think it makes sense to ignore machines that are in phases before `Provisioning`. If a machine is stuck before that it's a signal something else is wrong, not likely something MHC would be able to fix.

[2020-05-21 14:33] ncdc commented on #3026
@JoelSpeed re waiting for `Provisioned`, that phase value is set when we have a node ref. Given that's what `nodeStartupTimeout` is guarding, I don't think that's what we want.

We have said previously that we wouldn't write logic against phases, for better or for worse 😄, so I'll translate to what we could check:

- m.status.bootstrapReady=false, we can't provision infra. I propose we exclude thi

[2020-05-21 14:45] JoelSpeed commented on #3026
Ahh, I thought it was set to provisioned once the Machine had a cloud provider instance created, as in, EC2 RunInstances request has succeeded, EC2 instance is now starting <-- this is basically where we want the node startup timeout to start from, that call to the cloud provider

I agree with the logic you've suggested above. The `bootstrapReady` should guard us for a lot of the cases right? I wo

[2020-05-21 14:49] vincepri commented on #2949
@fabriziopandini CAPD doesn't need multi-tenancy or conversion webhooks, I'm fine having the validation/defaulting webhooks live in the same controller for now, it doesn't really matter where they live and they could always be moved later on.

[2020-05-21 14:51] ncdc commented on #3026
InfrastructureMachines today can only report a "ready" bool back to the Machine controller. For CAPA specifically, ready is true iff the EC2 instance's state is Running. When we start adding conditions, we may consider defining additional ones beyond a single ready bool.

The kubeadm bootstrapper does wait for the cluster infra to be ready before proceeding with bootstrap data generation, and if o

[2020-05-21 15:15] ncdc commented on #3026
When we have conditions added, we should probably think about doing something like this w.r.t. nodeStartupTimeout:

For control plane machines, don't start the clock until the "cluster infrastructure ready" condition is true. For example, on AWS, it can take a long time for the ELB's DNS name to be resolvable. This time should not count against node startup.

For non control plane machines, don't

[2020-05-21 15:31] vincepri commented on #3026
+1 Waiting for conditions

[2020-05-21 15:31] JoelSpeed commented on #3026
+1 waiting for conditions too

[2020-05-21 15:32] ncdc commented on #3026
+1 waiting for conditions

[2020-05-21 16:52] randomvariable opened #3081 "clusterctl move support for cluster-scoped global resources"
**User Story**

As a cluster operator using AWS as per https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1713, I reference a cluster-scoped resource in my AWSCluster object. When I use `clusterctl move`, I want my cluster-scoped resource to be copied to the target cluster so Cluster API continues running.

**Detailed Description**

New in https://github.com/kubernetes-sigs/cluster-a

[2020-05-21 17:33] vincepri commented on #3081
/milestone v0.3x

[2020-05-21 19:14] benmoss commented on #3078
/assign

[2020-05-21 20:21] benmoss commented on #3078
And do we want to do this for *every* object? `KubeadmConfigTemplate`?

[2020-05-21 21:06] akutz commented on #3073
Hi @CecileRobertMichon,

I was looking at this issue to see if it is something with which I can help. I have not worked on CAPI in a while, and so a lot of the clusterctl bits are new to me. Could you please provide more information on what you would like to see documented? I found the following related to feature gates:

* [Implement `--feature-flag` in `main.go`](https://cluster-api.sigs.k8s.io/

[2020-05-21 22:29] CecileRobertMichon commented on #3073
@akutz the right fix is #3045 I think which would, as you said, allow setting flags for a provider's controller manager. In the meantime, the only way to enable a feature gate is to manually set the flag on the manager by overriding the provider config, and that's the workaround I wanted to document (and it should probably be part of https://cluster-api.sigs.k8s.io/clusterctl/developers.html). @fa

[2020-05-21 23:17] alexeldeib commented on #1739
Ah, I see there are two side to this issue:
- Bootstrap provider needs secure sources for data (what i'm tackling)
- Infrastructure providers may need a secure place to put that data (the issues you linked)

Perhaps i'll reopen one of the other issues I closed as dupes to reflect the work more accurately, as those are better aligned to the task. But i'm also about to open a PR to fix it, so maybe

[2020-05-21 23:34] akutz commented on #3073
Hi @CecileRobertMichon,

Ah, so I think you confirmed what I was thinking was the case. Just to be sure, can you please confirm that today, the only way to set feature flags, or change any flags other than `namespace`, is by overriding the provider config locally?

If that is the case, my concern is that any documented example for enabling feature flags will result in:

* Data that needs to be con

[2020-05-22 02:21] ericzhang08 commented on #2871
@wfernandes Have you already add all tests? If not, I will add others this week.

[2020-05-22 08:03] furkatgofurov7 commented on #3014
/assign

[2020-05-22 09:17] fabriziopandini commented on #3078
being the generation number linked to changes to the object's spec, IMO we should add the field to any object that allows spec mutation

[2020-05-22 09:30] fabriziopandini commented on #3081
some background about the move operation:
- the move operation is based on an object graph,
- graph's nodes are all the object of kinds defined by CRDs installed by clusterctl + Secrets & ConfigMaps
- graph's edges are based on OwnerReferences
- nodes not linked to a cluster directly or in-directly are excluded from move
- graphs relations are used to determine the create/delete order

in order to

[2020-05-22 09:31] fabriziopandini commented on #3081
nb. a similar change might be required for ClusterResourceSet as well.
/cc @sedefsavas

[2020-05-22 09:48] #2514 closed

[2020-05-22 11:13] casibbald opened #3085 "Set CAPI status to paused or running"
**User Story**

As a operator I would like to set my CAPI management cluster to a state of Paused or Running for the reason of needing to safely backup or restore my CAPI cluster.

**Detailed Description**

In order to safely backup, restore, duplicate a cluster and leave it in 'stopped' state there is a need for the following clusterctl commands.

`
clusterctl state stop
clusterctl state start
cl

[2020-05-22 13:49] maelk commented on #3014
Just a note that we would need it for files too. It is the same use-case.

[2020-05-22 13:54] vincepri commented on #3085
/help
/priority backlog

Today, clusters have a `spec.paused` field you can use to pause reconciliation, you'd have to patch every cluster you have in your management cluster. In alternative, another potential and safe solution is to scale down the deployments to `replicas = 0`, back up the cluster, and scale them back up.

[2020-05-22 13:56] vincepri commented on #3078
Templates don't have a status subresource today

[2020-05-22 14:13] scottslowe commented on #2557
Perhaps in the “Tasks” section, with a title like “Changing Infrastructure Machine Templates” or similar?

[2020-05-22 14:37] wfernandes commented on #2871
@ericzhang08 I don't believe I have added all the test cases. So far I've been adding test cases that are specific to the use cases I run into when I need to touch that part of the code.
I've been avoiding adding all the test cases as technically they do not pertain to the issue that I'm working on. So go for it 🙂

[2020-05-22 16:23] fabriziopandini commented on #3073
@akutz @CecileRobertMichon, I'm ok in documenting the workaround while #3045 gets addressed.

A simple workaround is to download the controller manifest to `$HOME/.cluster-api/overrides/<provider-label>/<version>/<file-name.yaml>` and edit the controller flags before doing init

NB. worth adding that the same operation must be repeated before upgrades (see warning https://cluster-api.sigs.k8s.io/c

[2020-05-22 16:29] #3021 closed

[2020-05-22 20:06] gab-satchi commented on #3081
/assign

[2020-05-22 22:05] dlipovetsky opened #3090 "Document clusterctl version support"
The support matrix (added in https://github.com/kubernetes-sigs/cluster-api/pull/3031) needs details for clusterctl.

/kind documentation

[2020-05-22 22:09] dlipovetsky opened #3091 "Document management/workload cluster upgrade order"
The version support doc (added in https://github.com/kubernetes-sigs/cluster-api/pull/3031) should describe the correct order of upgrading the management and workload clusters.

/kind documentation

[2020-05-24 12:26] fabriziopandini commented on #3090
From my point of view clusterctl is bound to ClusterAPI version, so e.g. v1alpha3 clusterctl is compatible with all the provider that are compatible with the v1alpha3 contract.
@dlipovetsky is this ok for you?

[2020-05-24 20:40] joshrosso opened #3095 "MachineDeploymentStatus.Phase value "ScalingUp" is too broad"
**User Story**

When all node replicas are created and running, the `Phase` of the `MachineDeployment` remains `ScalingUp` until all machines report as `Ready`.

As a user, this is confusing as I think the controller is stuck trying to create new machines or the underlying provider is struggling to create new nodes.

This was a source of confusion for another user at https://github.com/kubernetes-

[2020-05-24 21:05] fabriziopandini commented on #3095
/cc

[2020-05-24 21:19] joshrosso opened #3096 "Converge most printcolumn settings between KubeadmControlPlane and MachineDeployment"
**User Story**

As a user, I'd like to have a similar experience evaluating the state of machines, regardless of whether they're managed by a `MachineDeployment->MachineSet` or `KubeadmControlPlane`.

**Detailed Description**

Today, the output of getting `MachineDeployment` and `KubeadmControlPlane` is as follows.

*KubeadmControlPlane*
[code]

*MachineDeployment*
[code]

The majority of this wor

[2020-05-24 21:35] joshrosso opened #3097 "Document control-plane-controller in Concepts docs"
Before opening an MR, I just wanted to make sure ya'll felt this was appropriate:

As of `v1alpha3`, the `control-plane-controller` and `kubeadmControlPlane` API have become first-class citizens. We should update the Concepts page to include this object and controller where appropriate.

Additionally, the namespace/controller/API diagram should be updated to include  `ns/capi-kubeadm-control-plane

[2020-05-24 21:51] fabriziopandini commented on #3097
I'm +1 to document control plane provider in this schema; additionally we should consider also documenting MHC

[2020-05-25 15:12] lomkju commented on #1554
Also if we create a cluster with the same name in two different namespaces. The kubeconfig and other secrets in the default namespace get overwritten. This way you lose all certs for the first cluster.

One solution would be to keep all secrets scoped to the specific cluster namespace. Ideally each cluster should have its own namespace.

[2020-05-25 15:23] #3014 closed

[2020-05-25 15:39] #2989 closed

[2020-05-25 15:54] vincepri commented on #3095
/area ux
/priority important-longterm
/milestone v0.3.x

This might be a good opportunity for conditions to solve.

[2020-05-25 15:55] vincepri commented on #3097
/kind documentation
/milestone v0.3.x
/help

[2020-05-25 15:56] vincepri commented on #3096
/help
/milestone v0.3.x

[2020-05-25 15:58] vincepri commented on #3081
@gab-satchi Before we start implementation, let's discuss a little more about the use case & proposed solution

[2020-05-25 16:04] joshrosso commented on #3096
I'll take this, you can `/assign joshrosso`.

[2020-05-25 16:04] joshrosso commented on #3097
I'll take this, you can `/assign joshrosso`.

[2020-05-25 16:06] vincepri commented on #3097
/assign joshrosso

[2020-05-25 16:06] vincepri commented on #3096
/assign @joshrosso

[2020-05-25 16:07] vincepri commented on #3091
/help
/milestone v0.3.x

[2020-05-25 16:07] vincepri commented on #2402
/close

[2020-05-25 16:07] #2402 closed

[2020-05-25 16:13] #1518 closed

[2020-05-26 08:00] fabriziopandini commented on #3026
If I got Al this thread right is to have a condition at machine level that signals when the bootstrap data is ready and use this info to  start the timer for nodeStartupTimeout. Is that right?

[2020-05-26 08:07] fabriziopandini commented on #3095
Yes, concerns about object state are part of the condition work.
Ensuring this match objects Phase is an additional step, but I see the point in keeping this in the radar

[2020-05-26 08:43] fabriziopandini commented on #2423
/close
from a quick check this work is complete

[2020-05-26 08:43] #2423 closed

[2020-05-26 11:38] deitch opened #3099 "clusterctl --config=<config> should support URL"
**User Story**

As a user I would like to run `clusterctl --config=<url>` so that I can reference providers out there in a single step, without downloading them.

**Detailed Description**

If I do `clusterctl --config=https://github.com/some/path/to/clusterctl.yaml`, it fails without a clear understanding.

Separately, if it does not support a URL, it should explain that it cannot find that path (

[2020-05-26 11:50] deitch commented on #3099
Also, it would be great if it had the same "resolve to asset" logic that we use in the built-in repositories, where we can do `URL=https://github.com/kubernetes-sigs/cluster-api-provider-aws/releases/latest/` and `FILE=infrastructure-components.yaml` and it knows how to resolve to the release pointed to by the URL, and then find the asset. Perhaps even `--config=<URL>`, where `<URL>`=url-to-releas

[2020-05-26 14:06] vincepri commented on #3099
/assign @wfernandes @fabriziopandini

[2020-05-26 14:13] vincepri commented on #3026
I think we want to wait to have `Cluster.Status.Conditions` to be populated with `InfrastructureReady` and offset all Machines health checks on that

[2020-05-26 14:23] ncdc commented on #2557
SGTM. We can always move it around later if needed.

[2020-05-26 14:27] #2949 closed

[2020-05-26 14:58] ncdc commented on #1554
@lomkju the secrets managed by Cluster API are scoped to the cluster's namespace. Are you seeing some different behavior?

[2020-05-26 15:07] ncdc commented on #3026
What @vincepri wrote. Adding logic around bootstrap ready will be problematic now, since bootstrap data is technically optional (although some providers, such as CAPA, require it).

[2020-05-26 15:44] fabriziopandini commented on #3099
I'm +1 in getting --config to support https/http if this can help users in getting started.

WRT to the idea of supporting latest in --config I'm a little bit more cautious because I don't want to over-engineer get config.  Also, AFAIK https://github.com/kubernetes-sigs/cluster-api/releases/latest automatically resolve to latest, so this should be covered without additional logic

[2020-05-26 15:47] deitch commented on #3099
Neither do I. If we can get it directly from a URL asset, then all good.

[2020-05-26 15:54] wfernandes commented on #3099
@deitch Thanks for this issue however I don't think I understand the use case. `clusterctl.yaml` is the configuration file for `clusterctl` itself and is not specific to any provider.

So if a provider provides `clusterctl.yaml` as part of its releases, will it be used to provide default values for provider's cluster templates?

What about the other "global" properties defined in the `clusterctl.y

[2020-05-26 16:10] lomkju commented on #1554
@ncdc After testing this again, I found that the secrets are indeed created in the respective namespace. I was wrong in the above comment. But actually the problem is that if we create clusters with the same name in different namespaces the same ELB is used for both masters. That's why I'm getting the below error sometimes because requests are being sent to the other master which is using a differ

[2020-05-26 16:54] dlipovetsky commented on #3090
@fabriziopandini That sounds right. I think it would be good to say add that to the doc.

[2020-05-26 17:41] vincepri commented on #2453
I this has been fixed, at least partially in some previous PRs, we ended up using Info with Verbosity = 2/4 in some other places.

Going to close this for now, given that there has been no further comments.

/close

[2020-05-26 17:42] #2453 closed

[2020-05-26 18:25] voor commented on #3075
I've been kicking this around in the old noggin, I'm wondering if we're taking what might become a more significant issue and trying to band-aid fix it.  As more external dependencies are impacted by clusters, perhaps there should be a better way to handle graceful destruction of stuff?  I can't think of any immediate other comparables, but this is something that has come up in https://github.com/

[2020-05-26 18:41] scottslowe commented on #2557
/assign

[2020-05-27 01:26] #2214 closed

[2020-05-27 04:41] deitch commented on #3099
Thanks for the detailed comments @wfernandes

I almost wrote “I don’t know”, but then realized, “yes, I do”.

The issue you are raising is, I believe, that the config file serves multiple purposes, but does not provide a way to separate those purposes or to compose them. Those purposes are:

- Normal config like you listed
- Defining providers (infra, core, bootstrap, etc)

If I want to keep my no

[2020-05-27 10:24] maelvls opened #3101 "Push capd-controller-manager images on new cluster-api tags"
**Context:**

During the ClusterAPI Weekly meeting on 6 May 2020, I wondered why no `capd-controller-manager:v0.3.0` image was pushed to the [gcr.io/staging-capi-docker](https://console.cloud.google.com/gcr/images/k8s-staging-capi-docker/GLOBAL/capd-manager) registry (see [the discussion](https://docs.google.com/document/d/1fQNlqsDkvEggWFi51GVxOglL2P1Bvo2JhZlMhm2d-Co/edit#bookmark=id.8uwgb4bnlqz6)

[2020-05-27 16:31] vincepri commented on #3101
Hi @maelvls, thanks for filing this issue. During v1alpha3 planning and while working on getting the v0.3.0 out, we've decided to not publish any CAPD images going forward.

As you mentioned, the reason for this was to make sure that our published artifacts are in line with this project's charter and goals. CAPD has always been primarily a development and testing product, and shouldn't be used to

[2020-05-27 16:32] vincepri commented on #3085
/milestone Next
/priority awaiting-more-evidence

[2020-05-27 16:33] vincepri commented on #3099
/milestone Next

Setting Next until we have agreed on a clear design / path forward

[2020-05-27 16:33] vincepri commented on #3090
/milestone v0.3.x

[2020-05-27 16:51] casibbald commented on #3085
Will build this an external cli tool and reach into mover.go to pause or
resume the app

On Wed, 27 May 2020 at 17:32, Vince Prignano <notifications@github.com>
wrote:

[2020-05-27 17:26] ncdc commented on #3101
I'm 👍 for just staging

[2020-05-27 17:28] vincepri commented on #3101
/milestone v0.3.x
/assign @maelvls

[2020-05-27 17:39] ncdc commented on #3101
FYI, there are two parts to this, for getting started:

1. cloudbuild.yaml in this repo, which currently calls `make release-staging`
2. The `release-staging` target in our `Makefile`

Also note, all of CAPD is rooted in test/infrastructure/docker, and it has its own separate `Makefile`. I guess you'd make want to have `make release-staging` invoke the same target in CAPD's `Makefile` (which doesn

[2020-05-27 17:42] vincepri commented on #3101
+1, we only need to make sure we don't build the release-staging images and tags when it's not master

[2020-05-27 17:43] ncdc commented on #3101
Too many negatives 😄 - what needs to change?

[2020-05-27 17:57] vincepri commented on #3101
The job kicks in when these are met: https://github.com/kubernetes/test-infra/blob/e50e8f54a551e3ab05f8d04f0ed1f11c53ce5583/config/jobs/image-pushing/k8s-staging-cluster-api.yaml#L10-L14

Then tags and branch names are passed to the Makefile in https://github.com/kubernetes-sigs/cluster-api/blob/master/cloudbuild.yaml#L10-L12

If we push a tag, let's say `v0.3.7` and add a `make release-staging` i

[2020-05-27 20:58] scottslowe commented on #2557
PR submitted, appreciate any feedback.

[2020-05-28 07:56] fabriziopandini commented on #3101
Getting images with tag release is not bad.... it can help for simplifying usage of CAPD with the quickstart/clusterctl

[2020-05-28 08:05] fabriziopandini commented on #3099
as said before supporting https/http source for config is not a bad idea, especially if it can avoid config editing during quick-start
afterwards, the user can shift to local config, or a team can agree on managing a shared config on a remote location.

@deitch FYI, if your concert is to provider an easy start for user, you can also send a PR for embedding your provider config in clusterctl [here]

[2020-05-28 08:11] deitch commented on #3099
@fabriziopandini LOL! I literally have a window open typing `git commit` on a branch to do precisely that! Your timing is perfect. 😀

[2020-05-28 08:15] fabriziopandini commented on #3099
Great! then you might be interested in providing your settings [here](https://github.com/kubernetes-sigs/cluster-api/blob/b37f94b2bb2c670e6f2c92ccfe3e712e006c1d52/cmd/clusterctl/client/repository/metadata_client.go#L108-L236) as well

[2020-05-28 08:16] deitch commented on #3099
I did that too. I am building locally and testing before pushing out the commit and opening the PR.

[2020-05-28 12:44] yastij opened #3106 "MHC shouldn't remediate the reported terminal failures"
**User Story**

As an Operator I would like MHC to avoid doing remediation on some specific `failureReason` and `failureMessage` that are terminal states, to avoid spamming the infrastructure and confuse the users.

**Detailed Description**

some Infrastructure have some terminal states where deleting and re-creating won't change the outcome (e.g. not enough quota, insufficient resources etc..). A

[2020-05-28 13:21] fabriziopandini commented on #3106
My hot take on this topic is the following:
- Remediation should be always explicitly requested by the administrator that configures MHC, so:
  - MHC should not automatically remediate machines with failureMessage/Reason
  - There should be a knob in the MHC config allowing if to remediate machines with failureMessage/Reason & possibly a timeout
- failureMessage/Reason IMO is not the best API to r

[2020-05-28 13:30] detiber commented on #3106
This is actually quite interesting, since it would introduce a new "class" of errors.

Current "classes" of errors:
1) non-terminal error (does not set failure message/failure reason) and associated controller should attempt to retry on any subsequent reconciliation
2) terminal error (sets failure message/failure reason) and associated controller should not attempt to retry on any subsequent recon

[2020-05-28 13:44] detiber commented on #3101
I don't necessarily see an issue if we are creating the tag in the staging bucket but are not promoting it as part of the release process. I would also expect any tagged images for CAPD to be purged from staging after they have aged out, so we should avoid any references to those tags in any documentation or automation.

[2020-05-28 14:13] ncdc commented on #3101
I don't have any objections to semver tags going to staging. We aren't pushing to prod. We're very clear about CAPD's purpose.

[2020-05-28 14:14] benmoss commented on #3106
What about just using something like exponential backoffs instead of trying to classify which kinds of error are terminal and which are ephemeral? I think none of these are truly terminal, quotas can be raised, additional storage can be added, etc.

[2020-05-28 14:20] detiber commented on #3106
One example I can think of that would definitely be a "global terminal failure" would be something like specifying an invalid instance type or a root volume size that is less than the minimum required for a given imageID, either of those we could assume would never resolve.

+1 to adding some type of exponential backoff for "local terminal failure", though. The tricky part will be how to detect an

[2020-05-28 14:46] vincepri commented on #3106
Going to set this to next for now until we understand the priority. Given the discussions above, unless there is a clear path, this probably can wait after the first implementation outlined in #3056 has been implemented and shipped.

/milestone Next

[2020-05-28 15:52] yastij commented on #3106
I'm fine with delaying this until #3056 is implemented

[2020-05-28 18:40] fabriziopandini opened #3110 "Add conditions to the KubeadmConfig object"
**User Story**

As a developer/user/operator I would like to have conditions documenting the operational state of `KubeadmConfig` objects

**Detailed Description**

The `KubeadmConfig` object drives the process of generating a BootstrapSecret; this process waits for the cluster infrastructure to be ready first and then the `KubeadmConfig` for first control plane machine is processed; instead, the

[2020-05-28 18:43] fabriziopandini opened #3111 "Add conditions to the DockerMachine object"
**User Story**

As a developer/user/operator I would like to have conditions documenting the operational state of `DockerMachine` objects

**Detailed Description**

The `DockerMachine` object drives the process that creates a docker container and starts a Kubernetes node on it; please note that, as a difference from other providers, container provisioning and bootstrap are directly managed by the

[2020-05-28 18:47] fabriziopandini opened #3112 "Add conditions to the Machine object"
**User Story**

As a developer/user/operator I would like to have conditions documenting the operational state of `Machine` objects

**Detailed Description**
A `Machine` object in CAPI is defined by the aggregation of an infrastructure machine and a bootstrap configuration object.

As a consequence, I'm proposing to start implementing the following two conditions for the `Machine` object:

[code]

[2020-05-28 21:51] ashoksekar07 opened #3113 "Kubeconfig secret is not rotated on cluster upgrade"
**What steps did you take and what happened:**
I created a cluster. All the certificates in the cluster had an expiry of 1 year. On upgrading the cluster, all the certificates inside the cluster were rotated and the expiry changed to 1 year from the time of upgrade. But the kubeconfig secret that gets created still had the older expiry period and it was not refreshed.

**What did you expect to hap

[2020-05-29 03:32] vincepri commented on #3113
/priority important-soon
/milestone v0.3.x

[2020-05-29 14:30] vincepri commented on #3110
/milestone v0.3.x

[2020-05-29 14:30] vincepri commented on #3111
/milestone v0.3.x

[2020-05-29 14:30] vincepri commented on #3112
/milestone v0.3.x

[2020-05-29 14:57] gab-satchi opened #3117 "Use URLs for CNI definition in e2e framework"
**User Story**

As a developer, I would like to specify CNI manifest as a URL in order to avoid duplicating the manifest in e2e tests

**Detailed Description**
The CNI path for e2e tests is currently expected to be on disk and gets applied after [reading the file](https://github.com/kubernetes-sigs/cluster-api/blob/master/test/framework/clusterctl/clusterctl_helpers.go#L152). Request is to support

[2020-05-29 15:32] jessehu commented on #1793
Hi @ncdc @detiber, can we suppport this? It's a pretty good idea. Supposing the CAPI users is using a private docker registry (like Harbor, Quay), this feature would be nice.

[2020-05-29 17:57] #2557 closed

[2020-05-29 18:31] JTarasovic opened #3119 "clusterctl deletes ClusterRole and ClusterRoleBinding resources when they share a prefix w/ a namespaced delete"
**What steps did you take and what happened:**
Init an infrastructure provider in a namespace
`clusterctl init --infrastructure aws  --watching-namespace test --target-namespace test`

Init an infrastructure provider in a namespace that has the same prefix
`clusterctl init --infrastructure aws  --watching-namespace test-1 --target-namespace test-1`

Delete infrastructure components in first namesp

[2020-05-29 18:33] vincepri commented on #3119
/assign @fabriziopandini @wfernandes
/triage support

[2020-05-29 18:44] vincepri commented on #2227
This is still valid, if it can be investigate it'd save lots of testing time locally.

/lifecycle frozen

[2020-05-29 19:08] fabriziopandini commented on #3117
I'm personally convinced we should avoid test e2e to have external dependencies for several reasons, above all reduce flakes due to network problems/availability of the source.
cert-manager/quay.io is a notable example of this.

Said that, if we want to implement this, we should rely on the same mechanism that already manages the same problem for reading provider manifests

[2020-05-29 19:24] fabriziopandini commented on #3119
That's an interesting one.

The code for delete check for the namespace prefix for identifying the resource belonging to a prefix.
https://github.com/kubernetes-sigs/cluster-api/blob/b8026b35a857fb15407290507cb3ae202fa581b6/cmd/clusterctl/client/cluster/components.go#L169-L177

But in this case when you delete the `test` instance it check for all the objects with namespace prefix `test-` which is

[2020-05-29 19:27] JTarasovic commented on #3119
Yeah, not sure why it got labelled support. I'd already linked the line that deleted based on prefix (174).

[2020-05-29 19:28] vince commented on #3119
Wrong vince @fabriziopandini

[2020-05-29 19:32] vincepri commented on #3119
/milestone v0.3.7
/priority important-soon

[2020-05-29 20:05] vincepri commented on #3112
+1 for the first two and do the rest later

[2020-05-29 20:13] vincepri commented on #3110
+1 to surface errors and exposing a generic condition when certs are generated, we should do the same in KCP later.

[2020-06-01 05:29] vincepri commented on #2460
/lifecycle frozen
/help

[2020-06-01 05:30] vincepri commented on #2479
/lifecycle frozen

[2020-06-01 05:30] vincepri commented on #2478
/lifecycle frozen

[2020-06-01 05:30] vincepri commented on #2256
/lifecycle frozen

[2020-06-01 05:31] vincepri commented on #2097
/close

[2020-06-01 05:31] #2097 closed

[2020-06-01 08:52] fabriziopandini commented on #2460
This one was fixed by https://github.com/kubernetes-sigs/cluster-api/pull/2858
Sorry I missed this issue reporting the same problem

[2020-06-01 08:52] fabriziopandini commented on #2460
/close

[2020-06-01 08:52] #2460 closed

[2020-06-01 09:37] fabriziopandini commented on #3111
/assign
/lifecycle active

[2020-06-01 09:58] JoelSpeed commented on #3106
To add an additional example of a scenario:

If using a machine is backed by an AWS spot instance, except the maximum spot price is too low for the current price, it will fail to launch. Retrying this in a hot loop would be bad, but it isn't technically terminal because the price for the instance may eventually drop below the max price. So you would want to retry this periodically, which to me sug

[2020-06-01 10:30] prankul88 commented on #2713
@CecileRobertMichon Can we close this?

[2020-06-01 12:13] fabriziopandini commented on #3110
/assign
/lifecycle active

[2020-06-01 16:25] CecileRobertMichon commented on #2713
@prankul88 was it fixed? It looks like your PR got closed

[2020-06-01 18:19] #2994 closed

[2020-06-01 19:33] benmoss commented on #3113
You are referring to the user's client certificate (`.users[0].user.client-certificate-data`)? The cluster certificate has a 10 year expiry.

[2020-06-01 19:35] detiber commented on #3113
Yes, the client certificate embedded in the kubeconfig is the issue.

[2020-06-01 19:37] benmoss commented on #3113
/assign

[2020-06-01 20:36] fabriziopandini opened #3126 "[E2E] Upgrade test should not report false-negatives while waiting for conditions"
**What steps did you take and what happened:**
while checking [E2E test logs](https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api/3118/pull-cluster-api-e2e/1267528640598380544/build-log.txt) I noticed that `Waiting for etcd to have the upgraded image tag` is reporting false-negative errors while waiting for the conditions to be reached

[code]

**What did you

[2020-06-01 20:36] fabriziopandini commented on #3126
@sedefsavas please comment if you disagree on the proposed change

[2020-06-01 21:05] sedefsavas commented on #3126
@fabriziopandini Yes, this shouldn't be logged in the `Eventually`. Thanks for filing this.

[2020-06-01 21:18] #2713 closed

[2020-06-02 04:28] vincepri commented on #2510
/lifecycle frozen

[2020-06-02 07:02] farodin91 opened #3127 "Stuck on replacing controlplane nodes"
**What steps did you take and what happened:**

- Create a Cluster
- Wait for the cluster to be running
- Change the configuration of a controlplane
- New controlplane node are spawned
- New controlplane stucks in the phase: Provisioning with the event: `Waiting for control plane to pass control plane health check to continue reconciliation: control plane machine namespace/node-cp-v2-s8p8w has no

[2020-06-02 12:28] farodin91 commented on #3127
I checkout the issue a bit deeper and seems the cloud controller in the provision cluster is unable to set the providerID. I think it would helpful to improve the log message.

[2020-06-02 14:09] vincepri commented on #3127
Makes sense to improve the error message, +1

/milestone v0.3.x

[2020-06-02 14:09] vincepri commented on #3127
/help

[2020-06-02 15:32] prankul88 commented on #3126
/assign

[2020-06-02 16:42] mboersma opened #3128 "Machine and KubeadmControlPlane disagree on k8s version validation"
**What steps did you take and what happened:**

Generate a machinepool-flavored cluster manifest:

```clusterctl config cluster capz-machinepool -f machinepool --worker-machine-count 1 --kubernetes-version 1.18.3 > capz-machinepool.yaml```

Then apply the manifest and get a validation error on the "version" field:

[code]

Adding a `v` prefix to `v1.18.3` in the manifest fixes it, but note that:
-

[2020-06-02 17:23] vincepri commented on #3128
Let's reconcile the two and make sure they adhere to the same standard

cc @CecileRobertMichon @juan-lee

[2020-06-02 17:39] CecileRobertMichon commented on #3128
Is there a reason why both `1.18.3` and `v1.18.3` can't be valid? It worked fine before that validation was added so is it possible that requiring the `v` prefix is an artificial requirement? cc @randomvariable

[2020-06-02 17:45] randomvariable commented on #3128
The decision was as a result of
https://github.com/kubernetes-sigs/cluster-api/pull/2691#discussion_r393266948

I did originally have it defaulting to add the v prefix for you.

[2020-06-02 21:59] dhawal55 commented on #2083
@ncdc If I understand correctly, it is possible to update apiserver flags and other configuration by  updating the `kubeadm-config` ConfigMap in `kube-system` and manually rolling the nodes.

[2020-06-03 02:06] rbitia commented on #3073
@fabianofranz @CecileRobertMichon Can we document the workaround in documentation too? I see the fix is scheduled for vNext but I'd love to see it prioritized in a sooner milestone :D

Also as a user I need more description on where the controller manifest lives and what to change to enable feature gates.

[2020-06-03 10:01] fabriziopandini opened #3134 "KubeadmConfig controller should not rely on previously set status"
**What did you expect to happen:**
As per comment https://github.com/kubernetes-sigs/cluster-api/pull/3122#discussion_r433250967 and https://github.com/kubernetes-sigs/cluster-api/pull/3125#discussion_r434177064

The KubeadmConfig controller implements a subset of reconcile logic in the main reconcile loop
https://github.com/kubernetes-sigs/cluster-api/blob/7b9762100a1d4852a037a9ace0ea96af0b22c20e

[2020-06-03 10:05] fabriziopandini commented on #3134
Nb. if we implement lookup for existing secrets, this logic potentially can be removed
https://github.com/kubernetes-sigs/cluster-api/blob/7b9762100a1d4852a037a9ace0ea96af0b22c20e/bootstrap/kubeadm/controllers/kubeadmconfig_controller.go#L801-L803

[2020-06-03 10:15] fabriziopandini commented on #3112
/assign
/lifecycle active

[2020-06-03 14:29] ncdc commented on #2083
@dhawal55 I believe that will work

[2020-06-03 17:39] dhawal55 commented on #2083
@ncdc Thank you. I tested it and it works. Do you know if progress is made in this regard and are you targeting a specific release milestone for this change?

[2020-06-03 21:17] fabriziopandini opened #3137 "Add conditions to the KubeadmControlPlane object"
**User Story**
As a developer/user/operator I would like to have conditions documenting the operational state of `KubeadmControlPlane` objects

**Detailed Description**
A `KubeadmControlPlane` controls a set of machines that compose the cluster control plane.

I'm proposing to start implementing the following conditions for the `KubeadmControlPlane` object:

- `MachinesReady`, reporting the aggreg

[2020-06-03 21:36] vincepri opened #3138 "Machines conditions should provide more visibility to the underlying Node"
Today, it's hard to understand that a Machine is fully healthy, and what determines a Machine not healthy.

For example, KCP performs kubeadm-specific health checks (inspect the etcd node, static pods, and so on). We should expose all of these internal checks by writing specific conditions on Machines from different controllers.

Let's brainstorm though on a design that could work across the board

[2020-06-03 21:36] vincepri commented on #3138
cc @detiber

[2020-06-03 21:37] vincepri commented on #3137
/milestone v0.3.7

[2020-06-03 22:08] #3126 closed

[2020-06-04 13:06] fabriziopandini commented on #3137
/assign
/lifecycle active

[2020-06-04 14:27] ncdc commented on #2083
@dhawal55 I am not aware of any updates. Would you have time to prepare a PR for it?

[2020-06-04 16:49] #3111 closed

[2020-06-04 19:36] benmoss commented on #3078
/reopen

We need to add the code to start updating `ObservedGeneration` once #3118 has merged using the new `WithStatusObservedGeneration` option there.

[2020-06-04 20:02] vincepri commented on #3078
/milestone v0.3.7

[2020-06-04 20:16] fabriziopandini opened #3141 "Add conditions to the DockerCluster object"
**User Story**

As a developer/user/operator I would like to have conditions documenting the operational state of `DockerCluster` objects

**Detailed Description**
A `DockerCluster` object in CAPI is responsible for creating a container that creates the cluster infrastructure-

As a consequence, I'm proposing to start implementing the following for the `DockerCluster` object:

- LoadBalancerProvis

[2020-06-04 20:16] fabriziopandini commented on #3141
/lifecycle active
/assign

[2020-06-04 20:45] CecileRobertMichon commented on #3128
/assign

[2020-06-04 21:19] ncdc opened #3143 "util.GetOwnerMachine needs to exclude API version"
**What steps did you take and what happened:**
1. Deploy v1alpha2
1. Create a Cluster, Machine, InfraMachine (e.g. AWSMachine)
1. Upgrade to v1alpha3
1. Try to delete the InfraMachine
1. If the controller is using util.GetOwnerMachine(), it returns nil instead of the Machine

**What did you expect to happen:**
1. Return the owning Machine

**Anything else you would like to add:**
This is because u

[2020-06-04 21:42] ykakarap commented on #3143
/assign @ykakarap

[2020-06-04 21:42] ykakarap commented on #3143
/lifecycle active

[2020-06-04 21:56] randomvariable opened #3144 "KCP needs to change owner references of control plane secrets on adoption"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
* Create a v1alpha2 cluster
* Update to v1alpha3, with a KCP with an upgraded version
* All control plane secrets are deleted and recreated except for the kubeconfig
* Cluster is borked

**What did you expect to happen:**
* Control plane secrets are not replaced

**Anything else you would

[2020-06-04 21:59] ncdc opened #3145 "v1alpha3 Machine controller unable to process Machines created from v1alpha2 MachineSets"
**What steps did you take and what happened:**
1. Deploy v1alpha2 and create a Cluster + MachineSet
1. Upgrade the management cluster to v1alpha3
1. Machine controller has errors such as
[code]

**What did you expect to happen:**
1. No errors

**Anything else you would like to add:**
In v1alpha2, the MachineSet controller clones the infra machine and bootstrap config templates and sets the Machine

[2020-06-04 22:09] vincepri commented on #3144
@sethp-nr

[2020-06-04 22:12] DheerajSShetty opened #3146 "KCP does not delete old control plane as soon as new upgraded control plane comes up"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

- Create a v1alpha2 cluster with 3 control planes
- Update the namespace to v1alpha3
- Create KCP with replica set to 3 for adopting the 3 control planes
- KCP tried upgrading the cluster, but while scaling it created 5 replicas before deleting old replicas

**What did you expect to happe

[2020-06-04 22:13] rudoi commented on #3144
ohhhhh this is interesting.

that's basically the same flow our clusters went through but we didn't see this behavior.

[2020-06-04 22:55] vincepri commented on #3144
Isn't this covered in https://github.com/kubernetes-sigs/cluster-api/blob/d54acb51d11a3e14a88b4f9f64f8611d58044f7c/controlplane/kubeadm/controllers/controller.go#L509-L542

[2020-06-04 23:05] vincepri commented on #3143
/milestone v0.3.7

[2020-06-05 00:26] vincepri commented on #3145
/milestone v0.3.7

[2020-06-05 00:29] srm09 commented on #3145
/assign
/lifecycle active

[2020-06-05 00:47] #3143 closed

[2020-06-05 05:20] maelvls commented on #3101
I'll be working on this (if it's OK) next week. I was waiting for a tiny approval from my employer!

Looks like we have reached a consensus: let's have the CI push images for each semver git tag + a master tag too?

[code]

[2020-06-05 08:46] fabriziopandini opened #3149 "Cluster API fails to propagate network setting into the KubeadmConfig"
**What steps did you take and what happened:**
from [slack](https://kubernetes.slack.com/archives/C8TSNPY4T/p1591319828427800)

Here is my cluster spec:
[code]
But master provisioning is failing. Here is error message from /var/log/cloud-init-output.log
[code]

**What did you expect to happen:**
The kubeadm config get properly generate and kubeadm init to complete

**Anything else you would like t

[2020-06-05 08:54] fabriziopandini opened #3150 "Update Cluster API to handle kubeadm v1beta2 configuration"
**User Story**

As a user, I would like Cluster API to support Kubeadm v1beta2 config as part of KubeadmConfig and KubeadmControlPlane because the v1beta1 configuration is deprecated and will eventually lose support.

**Detailed Description**
Kubeadm is deprecated, and while there is not yet a date for removal, we should start to plan for starting to use v1beta2 in cluster API.

The issue is compl

[2020-06-05 09:04] randomvariable commented on #3144
Possibly a race condition if you apply a KCP that immediately forces an upgrade.

[2020-06-05 10:52] randomvariable commented on #3144
/assign
/lifecycle active

[2020-06-05 13:35] detiber commented on #3146
Steps that were taken prior to seeing this issue:
- Cluster was originally created using v1alpha2 types and controllers
- controllers/crds were upgraded to v1alpha3
- KCP resources were created to adopt existing Machine-based control plane instances
- KCP adoption triggered an upgrade

When the upgrade was initiated there were 2 new replicas that were created prior to the first deletion occurring

[2020-06-05 14:07] fabriziopandini opened #3151 "Improve conditions Summary for Machines"
**Detailed Description**

Conditions Summary supports a set of rules for defining the target condition; the rule initially selected for machine generates a message in the form "x of y completed"

While this approach is fine and works for other objects like the infrastructure machines, it is showing some limit for machines when the provisioning phase is completed and other conditions might pop up,

[2020-06-05 14:14] vincepri commented on #3144
/milestone v0.3.7
/priority important-soon

[2020-06-05 14:16] vincepri commented on #2566
/lifecycle frozen

[2020-06-05 14:17] vincepri commented on #3134
/priority backlog
/milestone v0.3.x

[2020-06-05 14:19] vincepri commented on #3149
/help
/priority important-soon
/milestone v0.3.7

[2020-06-05 14:26] vincepri commented on #2457
/close

[2020-06-05 14:26] #2457 closed

[2020-06-05 14:45] fabriziopandini opened #3153 "Define roadmap for a condition based contract"
**Detailed Description**
from https://github.com/kubernetes-sigs/cluster-api/pull/3136#discussion_r434601486

The Cluster API contract mostly rely on flags for orchestrating controllers.

Now that we are starting to add conditions we, should start to think if in future we want to deprecate flags and move to a condition-based contract and start planning for this transition.

**Anything else you wou

[2020-06-05 15:09] fabriziopandini commented on #3138
rif https://github.com/kubernetes-sigs/cluster-api/pull/3139#pullrequestreview-424499850

[2020-06-05 16:14] fabriziopandini commented on #3153
Additional note:
While flags provide a clear upgrade/conversion strategy, this is not so true for conditions; especially changes on the condition semantic could be really tricky to handle

[2020-06-05 16:15] vincepri commented on #3153
/milestone Next

[2020-06-05 20:30] Arvinderpal commented on #1584
Is there a documented workaround for this? For example, if I want to specify a custom `KubeProxyConfiguration`?

[2020-06-05 20:37] sb464f commented on #1584
We are looking for this feature to enable ipvs mode in kubeProxyConfiguration

[2020-06-05 22:02] sb464f commented on #1584
Workaround:
adding it to prekubeadmcommands
  - /tmp/generate-kube-proxy.sh
creating a file with script
`
      - path: /tmp/generate-kube-proxy.sh
        permissions: "0700"
        owner: root:root
        content: |
          #!/bin/bash

          for i in $(ls /tmp | grep kubeadm); do
              cat <<EOF>> /tmp/$i
          ---
          kind: KubeProxyConfiguration
          apiVersion:

[2020-06-06 23:18] Arvinderpal commented on #1584
Trying to understand how onerous it would be to add `KubeletConfiguration` and `KubeProxyConfiguration` to `KubeadmConfig` -- the first possible approach noted by @fabriziopandini.

Looking at the code, it appears that kubeadm itself does no validation on either  `KubeletConfiguration` or `KubeProxyConfiguration`. kubeadm has the framework for component specific validation, but currently, that doe

[2020-06-08 14:56] detiber commented on #1576
@dhawal55 that is correct, the Format field isn't currently used anywhere, https://github.com/kubernetes-sigs/cluster-api/issues/1582 is the tracking issue for it.

[2020-06-08 15:44] vincepri commented on #3151
/milestone v0.3.7

[2020-06-08 15:44] vincepri commented on #3151
/assign @fabriziopandini

[2020-06-08 15:45] vincepri commented on #3150
/milestone Next

Unfortunately we'll have to tackle this item in v1alpha4 given that we might need breaking changes and/or a redesign of the current APIs.

[2020-06-08 15:48] vincepri commented on #3146
/milestone v0.3.x

[2020-06-08 15:49] vincepri commented on #3138
/milestone v0.3.x

[2020-06-08 15:49] vincepri commented on #3141
Fixed by #3142

/close

[2020-06-08 15:49] #3141 closed

[2020-06-08 15:59] ncdc commented on #2518
/remove-lifecycle stale

[2020-06-08 16:14] #3110 closed

[2020-06-08 16:23] CecileRobertMichon commented on #3128
/retitle "Machine and KubeadmControlPlane disagree on k8s version validation"

[2020-06-08 16:23] CecileRobertMichon commented on #3128
/retitle Machine and KubeadmControlPlane disagree on k8s version validation

[2020-06-08 16:24] CecileRobertMichon commented on #2952
@prankul88 are you still working on this?

[2020-06-08 16:27] CecileRobertMichon opened #3158 "MachinePool doesn't support kubectl scale"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

MachinePool should have the scale subresource enabled via `+kubebuilder:subresource:scale` and support `kubectl scale`. This will require implementing `Status.Selector`.

See also https://book.kubebuilder.io/reference/generating-crd.html?highlight=scale#scale
**What did you expect to happ

[2020-06-08 16:27] CecileRobertMichon commented on #3158
/assign

[2020-06-08 16:29] vincepri commented on #3158
/milestone v0.3.x

[2020-06-08 16:29] vincepri commented on #3128
/milestone v0.3.7

[2020-06-08 16:53] #3128 closed

[2020-06-08 17:05] CecileRobertMichon opened #3160 "MachinePool k8s version upgrade doesn't work"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

Create a cluster with a machine pool, eg. :

[code]

Try to edit the mp resource and change `Spec.Version` to another k8s version, such as `v1.18.3`. Nothing happens. The mp stays in phase "running" and no update is made to amp.
[code]

Need to do some more digging, this might be due to C

[2020-06-08 17:37] vincepri opened #3161 "Update Go to 1.13.12"
Our build images are still using an old Go version (1.13.8 iirc), we should update to the latest one.

/kind cleanup

[2020-06-08 17:37] vincepri commented on #3161
/milestone v0.3.7
/good-first-issue
/help

[2020-06-08 17:38] vincepri commented on #3160
/milestone v0.3.x

[2020-06-08 17:50] vincepri commented on #3013
/milestone v0.3.x

[2020-06-08 18:54] benmoss opened #3163 "MHC should surface unhealthy machines even if maxUnhealthy has been reached"
**User Story**

As an operator I would like to be able to see what machines are unhealthy in my cluster even when I have configured a `maxUnhealthy` limit on my MHC and it has been triggered, so that I can have help manually determining the problems.

**Detailed Description**

Right now when `maxUnhealthy` is hit we log a message and emit an event on the MachineHealthCheck object. Since we are int

[2020-06-08 19:37] #3112 closed

[2020-06-08 20:33] benmoss commented on #3149
/assign

[2020-06-08 20:34] rudoi commented on #3146
I just saw this behavior updating from 0.3.2 to 0.3.5, not during a v1alpha2-3 update, FYI.

[2020-06-08 22:06] CecileRobertMichon commented on #3160
/assign

[2020-06-09 01:53] srm09 commented on #3161
/assign

[2020-06-09 09:21] #3161 closed

[2020-06-09 09:33] prankul88 commented on #2952
@CecileRobertMichon Sorry for the delay. Will be trying for a fix in a couple of days.

[2020-06-09 09:36] fabriziopandini opened #3168 "Refactor test CRDs in controller/external"
As per comment https://github.com/kubernetes-sigs/cluster-api/pull/3136#discussion_r436819480

In `controller/external/testing.go` we are exposing a set of test CRDs as a pointer e.g. https://github.com/fabriziopandini/cluster-api/blob/d09777b1a19f7635d75c978fd844db6e3003a927/controllers/external/testing.go#L27

Those CRDs are used in several tests, and being pointers, this exposes CAPI unit tests

[2020-06-09 14:11] vincepri commented on #3168
/milestone Next

[2020-06-09 14:11] vincepri commented on #3168
/priority backlog

[2020-06-09 14:37] #3158 closed

[2020-06-09 16:00] detiber commented on #1250
/lifecycle frozen

[2020-06-09 16:37] vincepri commented on #1271
/remove-lifecycle stale

[2020-06-09 20:30] sedefsavas opened #3170 "KCP upgrade is triggered by CAPI minor version update"
**What steps did you take and what happened:**

- With cluster api v0.3.2, create a cluster with single control plane machine.
- Upgrade cluster api to v0.3.5
- Rolling upgrade started for the control plane machine.

**What did you expect to happen:**
No machine upgrades are initiated by minor version CAPI upgrades.

The same behaviour is observed in an HA control plane by @rudoi

/kind bug

[2020-06-09 20:30] sedefsavas commented on #3146
@rudoi
I observe the same behaviour with a single control plane machine. This looks like a different issue, because the issue above is related to an error during upgrade, there was supposed to be an upgrade there whereas here upgrade should have never been triggered (but successfully upgrades after it is triggered).
 I think we should track this in a new issue: https://github.com/kubernetes-sigs/c

[2020-06-09 20:37] vincepri commented on #3170
@sedefsavas are you working on this?

/milestone v0.3.x

[2020-06-09 20:45] sedefsavas commented on #3170
/assign

[2020-06-09 20:50] #3151 closed

[2020-06-10 08:02] maelk opened #3173 "Support PKCS8 private key for user CA private key"
**User Story**

As a user, I would like Cluster API to be able to parse my private key when provided in the PKCS8 format.

**Detailed Description**

Currently the kubeconfig generation fails if the CA private key is not in PKCS1 format. Considering that PKCS8 is what you get by default with openssl, it would be nice for the user not to have to convert their private key to PKCS1.

An attempt to par

[2020-06-10 08:20] jichenjc opened #3174 "[question] Is cluster-api calico only?"
**User Story**

As a [developer/user/operator] I would like to [high level description] for [reasons]

**Detailed Description**

Is cluster-api , e.g we mentioned we support add-ons so that we can create different CNI

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/pkg/cloud/services/ec2/securitygroups.go#L368-L488

only support calico

during discussion https://github.com

[2020-06-10 09:12] randomvariable commented on #3170
0.3.3 triggers the change in https://github.com/kubernetes-sigs/cluster-api/commit/dcd3d51881552722234c3443d9d597f5e5c3db98#diff-f30ad9aecb671548155d73c5840fe19bR88

The mdutil.Hash func uses Spew to spit out a string serialisation of the object and then hashes it. The addition of `UseExperimentalRetryJoin` to the API caused the hash to change.

Number of options:

1. No additions to kubeadmconfig

[2020-06-10 10:24] MaxRink opened #3176 "Move CCM Optionally into the ControlPlane"
**User Story**

As a Security Engiuneer i want my Clusters procvisioned by CAPI  with the least ammount of possible access rights, e.g. not needing to talk to the api that they are running on.

**Detailed Description**

As we were running CAPV we ran into the limitation that due to the CCM a cluster provisioned by CAPI using a Management Cluster still needs to access the vCenter API ( https://gith

[2020-06-10 10:44] spagno commented on #3013
/assign
/lifecycle active

[2020-06-10 14:52] benmoss opened #3178 "Flaky test: Patch Helper Should patch conditions"
**What steps did you take and what happened:**
Running `ginkgo -untilItFails ./util/patch/` is giving periodic failures

[code]

/kind bug
/kind testing

[2020-06-11 01:46] jichenjc commented on #3174
yes, I understand cluster-api is not specific to one CNI but the implementation is related to Calico
and I understand Calico is widely used so agree for now it's a good thing to use

https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1137 is a good reference ,thanks for the pointing @vincepri @benmoss

[2020-06-11 02:37] johngmyers commented on #1754
It looks like the `Paused` annotation/field disables too much of reconciliation. For this use case the desire is to have the reconciliation create new machines when there aren't enough, but to let external code identify when to remove particular machines.

[2020-06-11 04:06] vincepri commented on #3174
Good to close this issue?

[2020-06-11 04:14] jichenjc commented on #3174
yes, works for me

[2020-06-11 04:14] #3174 closed

[2020-06-11 09:39] JoelSpeed commented on #1876
I think we still need to put some docs into the cluster-api book for this

[2020-06-11 14:13] vincepri commented on #1876
/help

[2020-06-11 15:32] #3113 closed

[2020-06-11 16:53] vincepri opened #3182 "CAPD image publish job is using the wrong bucket"
The current image publishing job is broken for CAPD, given that it's using `k8s-staging-capi-docker` as bucket, instead it should have `k8s-staging-cluster-api`.

/kind bug
/assign @fabriziopandini
/milestone v0.3.7

[2020-06-11 17:28] sethp-nr commented on #3144
Weird, I'm not tracking how the race condition would present – if there are adoptable machines, whether we succeed or fail, we should halt further reconciliation until they've been adopted and the local cache reflects that: https://github.com/kubernetes-sigs/cluster-api/blob/master/controlplane/kubeadm/controllers/controller.go#L244-L249

Which resource are your secrets owned by? It might be somet

[2020-06-11 18:10] #3182 closed

[2020-06-11 19:54] #3149 closed

[2020-06-11 20:39] benmoss opened #3184 "CAPI controller logging endless "Starting EventSource" messages"
**What steps did you take and what happened:**
- Create a MachineHealthCheck for my cluster
- See that you get an endless stream of these log lines
[code]

**What did you expect to happen:**
Not see that

**Anything else you would like to add:**
I did a `git bisect` already and it was introduced by https://github.com/kubernetes-sigs/cluster-api/commit/f31f0cea32d03b158b381ffb330c5b61b87cd82d / #31

[2020-06-11 20:40] benmoss commented on #3184
cc @JoelSpeed

[2020-06-11 21:38] #3178 closed

[2020-06-12 03:22] rhockenbury commented on #2217
/remove-lifecycle stale

[2020-06-12 07:55] superbrothers opened #3187 "Add resource relationship diagrams to the doc"
I'm a newbie of Cluster API. I have created Cluster API resource relationship diagrams to learn Cluster API for myself.

- https://docs.google.com/document/d/1byUfKYdOwyhSg5ZShSR29d5FxyhQtekAekiBZezV89A/edit?usp=sharing

I think it's useful for first time learners. I'd like to add them to the documentation if you'd like.

What do you think?

[2020-06-12 09:38] JoelSpeed commented on #3184
I'll take a look at this next week

[2020-06-14 10:31] fabriziopandini commented on #3187
I'm +1 with the idea
Just wondering if we should use plat uml like other diagrams we have in the book

[2020-06-14 10:49] fabriziopandini commented on #3187
/help

[2020-06-15 10:01] spagno commented on #2993
/assign
/lifecycle active

[2020-06-15 10:05] Boutheina-Dab commented on #2788
/assign
/lifecycle active

[2020-06-15 15:21] vincepri commented on #2599
/lifecycle frozen

[2020-06-15 15:23] vincepri commented on #3187
/kind documentation
/milestone v0.3.x

[2020-06-15 15:23] vincepri commented on #3187
+1 to reusing the same diagrams we have today, we have some automation to generate them [here](https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/Makefile#L28)

[2020-06-15 15:31] JoelSpeed commented on #3184
@benmoss I've just tried to reproduce this (though accidentally on a slightly older kind), having built the images from master and deployed to AWS, I've only seen the starting eventsource message 4 times for the machine health check controller, all 4 as valid cases. I'm gonna tear down my cluster and update kind to repro with identical versions, but I suspect this shouldn't make a difference.

Is

[2020-06-15 15:31] vincepri commented on #3184
/priority awaiting-more-evidence
/milestone Next

[2020-06-15 16:07] benmoss commented on #3184
Ya, let me try to reproduce this again and give some more detailas

[2020-06-15 16:31] CecileRobertMichon opened #3189 "[clusterctl] Allow providers to specify variable defaults for templates"
**User Story**

As an infrastructure provider, I would like to be able to provide optional variables in infrastructure-components.yaml and in cluster-template.yaml that a user can choose to specify or use the default to avoid growing the number of required variables while providing flexibility to the user.

**Detailed Description**

For example, see https://github.com/kubernetes-sigs/cluster-api-p

[2020-06-15 16:31] CecileRobertMichon commented on #3189
/cc @nader-ziada @devigned

[2020-06-15 17:17] sb464f opened #3193 "Prioritize machines without node reference when scaling down machine deployments."
**What steps did you take and what happened:**
I have like 10 replicas of machines running via machinedeployment, where 8 have node references and two are still hanging around with no node references. And if I scale down md to 8 it is bringing down random machines.

**What did you expect to happen:**
Prioritize machines without node reference to bring down.

**Environment:**

- Cluster-api version

[2020-06-15 17:24] sftim commented on #2182
https://github.com/kubernetes/enhancements/blob/master/keps/sig-docs/20191020-doc-policies-for-third-party-content.md is about the main Kubernetes website not CAPI, but might still be relevant.

[2020-06-15 17:41] benmoss commented on #3184
Steps:
- `kind up` (kind 0.8.1)
- `clusterctl init --infrastructure aws` to install aws provider
- `tilt up` to build from master (71a6fd702bf0b3ebce0920539f39ec4d21f96588 just now)
- `clusterctl config cluster bmo --kubernetes-version v1.17.3 --control-plane-machine-count=1 | k apply -f-` (clusterctl 0.3.6)
- wait for cluster to come up / stabilize and then `k apply -f mhc.yml`
- `kubetail -n cap

[2020-06-15 17:42] nader-ziada commented on #3189
@wfernandes what do you think?

[2020-06-15 19:58] vincepri commented on #2646
/lifecycle frozen

[2020-06-15 20:08] fabriziopandini commented on #3189
my two cents:
TBH I always have tried to avoid extending the current variable substitution because it could quickly lead to introducing and maintaining our own very opinionated templating syntax and maintaining our own templating code.

However, considering if this can help the Cluster API users, I will be happy to reconsider the topic if there is a simple proposal and we can clearly define the sc

[2020-06-15 22:44] CecileRobertMichon commented on #3189
How about simply using something like [envsubst](https://github.com/a8m/envsubst#using-envsubst-programmatically) to sub in environment variables within clusterctl? That way providers can optionally provide defaults like `${AZURE_ENVIRONMENT-AzurePublicCloud}` directly within the templates without breaking other providers that decide not to define defaults (and the vars that stay as ${var} are sti

[2020-06-15 22:47] Arvinderpal opened #3195 "Mutability of KubeadmConfigSpec"
**User Story**

- As a user/operator I would like to have finer control over the kubeadm specific configuration parameters of my cluster.

- As a user/operator I would like to upgrade my clusters to utilize the latest/cutting-edge features as soon as they are exposed via kubeadm.

- As a developer/user I would like to experiment with different parameters with the understanding that I'm responsible

[2020-06-15 22:47] Arvinderpal commented on #3195
One approach is to introduce a run-time flag to KCP (e.g. `--enable-expert-mode`) that bypasses these validation checks, and would essentially do the following:

[code]

[2020-06-15 22:49] Arvinderpal commented on #3195
CC @alanmeadows @sb464f

[2020-06-16 07:26] superbrothers commented on #3187
/assign @superbrothers

[2020-06-16 07:27] superbrothers commented on #3187
Nice! 😍

[2020-06-16 09:21] fabriziopandini commented on #3189
If the scope is to support `-`, `:-` (or `=`, `:=`) following by a const value, I think this is feasible (TBD how to properly treat the const value e.g. for trailing spaces, that now in clusterctl are tolerated but ignored)

[2020-06-16 09:24] fabriziopandini commented on #3195
@Arvinderpal IMO this is a duplicate of https://github.com/kubernetes-sigs/cluster-api/issues/2083.
What about closing/dedupe by copying the above comments on this issue?

[2020-06-16 13:31] Arvinderpal commented on #3195
Thanks @fabriziopandini. I'll update the other ticket.
/close

[2020-06-16 13:31] #3195 closed

[2020-06-16 13:49] Arvinderpal commented on #2083
+1 We (airshipctl community) are building out clusters using CAPI and need finer control over the kubeadm configuration parameters. We also make use of the latest/cutting-edge features in K and would like to upgrade our existing clusters as those features get incorporated into kubeadm.

One option here is to introduce a run-time flag to KCP (e.g. `--enable-expert-mode`) that bypasses  [validation