[2022-09-02 07:29] chrischdi commented on #7143
xref https://github.com/prometheus-community/helm-charts/pull/2422

/assign

[2022-09-02 08:59] fabriziopandini commented on #7052
/close
For now we are not pinning releases to avoid maintenance burden.
We will reconsider only if we detect that some of the charts we are using will introduce breaking changes repeatedly

[2022-09-02 09:09] fabriziopandini commented on #7155
I'm not 100% sure we should do this via clusterctl, because IMO the Visualizer is something like an addon for the management cluster.
Opinions?

[2022-09-02 09:14] fabriziopandini commented on #7149
cc @anusha94 and @randomvariable
First of all we should check if overriding taints is possible in kubeam, and then expose the same capability in CAPI.

However, the fact that taints will be overridden by KubeadmConfig is tricky e.g. for upgrades when we are fixing up taints to accommodate kubeadm changes.

[2022-09-02 09:16] fabriziopandini commented on #7149
Another consideration, this could impact addons relying on the taints existance

[2022-09-02 09:25] randomvariable commented on #7149
addons shouldn't "rely" on taints. Reliance on a control plane for a selector or affinity rule should be based on labels instead. We can defer that problem to the addon IMO.

[2022-09-02 09:37] randomvariable commented on #7149
had a look at kind, unfortunately:

[code]

[2022-09-02 09:42] randomvariable commented on #7149
In terms of what we do about scale up, I think we will need to make this explicit. As in we don't care about doing anything like setting the taints back on if worker nodes suddenly appear. The user must explicitly opt out of removing the control plane taint.

[2022-09-02 10:13] randomvariable commented on #7149
@neolit123 , is there any support for not setting the taints on the kubeadm side? i struggled to find a relevant issue in k/kubeadm.

[2022-09-02 10:24] sbueringer commented on #7155
I tend to agree with that. It would want to avoid making clusterctl a general kubectl/helm replacement over time. I think we should limit it to the absolute necessary.

[2022-09-02 10:34] sbueringer commented on #7149
@fabriziopandini My impression was that the "taint changes" over the last few releases have all been "implemented" by the kubeadm binary itself. I couldn't find anything in KCP where we are modifying the taints.

[2022-09-02 10:36] sbueringer commented on #7149
@d8660091 What did you mean with it makes taints "required"?

[2022-09-02 10:48] fabriziopandini commented on #7150
What about proposing this change in Klog instead?

[2022-09-02 12:20] #6859 closed

[2022-09-02 12:43] fabriziopandini opened #7158 "Automate generation of kube-state-metrics configuration"
**User Story**

As a developer, I would like the kube-state-metrics configuration to be automatically generated from the API

**Detailed Description**

We currently introduced the first kube-state-metrics configuration for Cluster API objects, but in the current state this file must be updated every time there is an API change.

We would like to automate the generation of the kube-state-metrics co

[2022-09-02 12:43] fabriziopandini commented on #6458
@chrischdi can we close this issue now and move pending items to separated issues? (I have already opened https://github.com/kubernetes-sigs/cluster-api/issues/7158)

[2022-09-02 12:46] sbueringer commented on #7158
/triage accepted

Agree that we can host it for now in the CAPI repo. I would suggest to bring up the idea already in parallel in the kube-state-metrics repository. We can then decide if we merge it first into CAPI or kube-state-metrics depending on feedback.

[2022-09-02 12:47] sbueringer commented on #7158
Given that kube-state-metrics is also a Kubernetes project it could also be possible to add this to controller-gen. Although ideally it would land in kube-state-metrics given that this could be interesting for all users of kube-state-metrics and not only folks who are writing controllers with controller-runtime.

[2022-09-02 14:34] d8660091 commented on #7149
@sbueringer After I removed "omitempty" from taints, although taints can be passed from cluster-API to kubeadm, the e2e test broken. It's broken because when "taints: []" is encoded to json, it becomes "taints: null" instead of "" (omitted).

So in this sense, I cannot omit taints in your yaml, so I called it "required", which like you see, is not accurate. If we can find some way to encode "taint

[2022-09-02 14:51] sbueringer commented on #7023
@fabriziopandini

The current behavior was intended (at the time of implementation). Essentially the idea was on a MD you only have overrides and you can only override something that is set on top-level.

We could drop the validation that for every override a top-level variable exists by dropping this code: https://github.com/kubernetes-sigs/cluster-api/blob/6b52d87772548c1cf86e4bef38f3b576b78ad84

[2022-09-02 15:14] sbueringer commented on #7149
Just took a closer look.

### With the current API type

* When setting taints to `[]` it is sent correctly to the server and to the defaulting/mutating webhook
* The webhook does defaulting and then json.Marshal. json.Marshal omits the empty slice and thus CR generates a patch to drop the taints field in `PatchResponseFromRaw`

### After dropping omitempty

* When setting taints to `[]` it is sen

[2022-09-02 15:22] randomvariable commented on #7149
I do remember this conversation in kubeadm, and we decided that to change the way kubeadm handles this would be a breaking API change.

[2022-09-02 16:51] sbueringer commented on #7149
I think kubeadm handles it correctly at the moment. They dropped omitempty btw between v1beta2 and v1beta3 APIs

[2022-09-02 17:13] sbueringer commented on #7149
Implemented a quick hack on #7161 to show that it's possible.

I think the change from a user point of view is that when an empty slice is set it is not just dropped and ignored. This could be considered a bug fix.

[2022-09-03 10:53] chrischdi commented on #6458
I've got two AI's I want to do and would have closed this issue afterwards:
- [ ] resync the proposal to the current state
- [ ] review again the `*status_*replica*` metrics for consistency purposes

Also the issue mentions the point ` clarify and implement release manifest`, I am also ok with not doing this for now and/or creating a separate issue for that.

[2022-09-04 18:21] #6345 closed

[2022-09-05 09:02] sbueringer opened #7165 "cluster-api-push-images-nightly job is failing"
Just got a mail that our nightly image push job doesn't work anymore.

See: https://testgrid.k8s.io/sig-cluster-lifecycle-image-pushes#cluster-api-push-images-nightly

Looks like this was caused by https://github.com/kubernetes-sigs/cluster-api/pull/7135 and the new image doesn't contain gsutil anymore.

P.S. post-cluster-api-push-images still works because it doesn't use gsutil.

/kind bug
[One o

[2022-09-05 09:54] sbueringer commented on #6458
I think the two sub-tasks that you mentioned + a separate issue for release manifests would be good.

I'm not sure if we want to release the manifests as long as we are writing / maintaining them manually. So this could depend on the gen tool.

[2022-09-05 11:16] chrischdi commented on #7165
Seems to be a regression via https://github.com/kubernetes/test-infra/commit/b5133abb96a85be4211c97da82c379646df4ff65 which did remove the following command which lead to an installed gsutil binary:

[code]

[2022-09-05 11:20] chrischdi commented on #7165
Adding `gsutil` to the command `gcloud components install ...` in https://github.com/kubernetes/test-infra/blob/master/images/gcb-docker-gcloud/Dockerfile#L41 would install it again. However I was not able to get context of it getting deleted on purpose (at the PR).

[2022-09-05 11:37] chrischdi commented on #6458
Fair point to get discussed in the follow-up issue then 👍

Ok, I will do so and also create the issue.

[2022-09-05 12:00] sbueringer commented on #7165
Let's open an issue in test-infra an cc author/reviewers of this PR

[2022-09-05 14:52] sbueringer commented on #5470
Let's use the other issue instead as it also talks about ownerRefs in additions to refs

/close

[2022-09-05 14:52] #5470 closed

[2022-09-05 14:53] sbueringer commented on #6778
/reopen

Realized this issue is more comprehensive as it also mentions ownerRefs.
More details about the ref issue can be found in #5470

[2022-09-05 14:54] sbueringer commented on #6778
/assign @killianmuldoon
(as you were assigned to the other one)

[2022-09-05 15:32] furkatgofurov7 commented on #6994
@fabriziopandini hi, I am happy to take up a few items from the list. For the start, I can go with MD creating/deleting MS, if no one is working on it.

[2022-09-05 15:37] sbueringer commented on #6994
@furkatgofurov7 Sounds great! Just go ahead, first come first serve. I'll reserve the sub-task for you above

[2022-09-05 15:49] sbueringer commented on #5490
/unassign

[2022-09-06 08:10] #7143 closed

[2022-09-06 08:41] furkatgofurov7 commented on #7029
Hi! Are there any action points on this issue or it is still under the discussion? I am happy to work on it, but some more pointers would be a great help to tackle this.

[2022-09-06 09:17] sbueringer commented on #7029
Essentially the next step is going through the package and deciding if we have replacements for everything that is in there and what those are.

My take:
* a first good step/PR would be to replace usages of tlog.KRef and tlog.Kob through klog.KRef and klog.KObj.
* I think the topologyReconcileLogger and our custom interface can be dropped after we decided how we replace the usages of WithObject, W

[2022-09-06 09:23] fabriziopandini commented on #7029
This sounds ok to me!

[2022-09-06 11:14] fabriziopandini commented on #7147
I understand that not small clusters don't have full-blown monitoring, but at the same time I don't we should build into our controllers/API a system to count failures across different reconcile because this comes with some immediate drawbacks
- it requires some persistent state to ensure counters survive controller restarts
- if we use existing API objects as API state, this will impact the syste

[2022-09-06 11:23] furkatgofurov7 commented on #7029
@sbueringer thanks for the detailed explanation! Looks like we already have a work item for the start now, I will go ahead with this for now. As you suggested, we can tackle the remaining items when it is agreed/ later on.

[2022-09-06 11:33] sbueringer commented on #7147
+1 Sounds reasonable.

Apparently there is an integration between grpc and Prometheus and etcd has an example on how to combine them: https://github.com/etcd-io/etcd/blob/main/tests/integration/clientv3/examples/example_metrics_test.go

[2022-09-06 12:10] sbueringer commented on #6994
@fabriziopandini Can we add another sub-task for the structuredmerge package?

I think it would be good if we had more logs there to make it easier to debug.
In my specific case I wanted to know what diff was detected by SSA, i.e.. why were there changes, but no spec changes.

xref: https://kubernetes.slack.com/archives/C8TSNPY4T/p1662462731560389

[2022-09-06 13:15] johannesfrey opened #7176 "Make the v1beta1 api package easier to consume"
**User Story**

As a user I would like to easily consume the CAPI v1beta1 API package without introducing unwanted transitive dependencies.

**Detailed Description**

Currently if one imports the CAPI v1beta1 API package, which in turn imports `sigs.k8s.io/controller-runtime`, the user transitively imports `sigs.k8s.io/controller-runtime/pkg/client/config`, which sets the string var `kubeconfig` t

[2022-09-06 13:19] sbueringer commented on #7176
I would prefer the first option, i.e. changing the imports.

But I wonder if there is a way to resolve the TODO in CR itself so using the top-level package doesn't lead to this problem.

Essentially resolving
[code]
in CR instead of changing the imports in CAPI.

No strong objections against changing the imports in CAPI, but it would be more sustainable if it could be fixed in CR instead (not sure

[2022-09-06 13:25] johannesfrey commented on #7176
There have been related issues regarding this in CR:
* https://github.com/kubernetes-sigs/controller-runtime/issues/878
* https://github.com/kubernetes-sigs/controller-runtime/issues/1396 (Still open, with an idea to define a RegisterFlag func, which would be a breaking change as the user must call this instead of relying on an `init` during the import.)

[2022-09-06 13:29] sbueringer commented on #7176
Thx!
Yup looks like it needs an idea on how to resolve this and potentially a first implementation PR to make it happen / to push it forward.

[2022-09-06 14:15] furkatgofurov7 commented on #7029
@sbueringer @fabriziopandini I started looking into the code and got to know that `tlog` is used for `LoggerFrom`, i.e
`log := tlog.LoggerFrom(ctx)`

in few places in the codebase and not sure if I should leave it as is or replace it with something like:

`log := ctrl.LoggerFrom(ctx)`

from runtime which was used in a lot of places?

Note: If we decide to go with  only `ctrl.LoggerFrom(ctx)` I hav

[2022-09-06 14:46] sbueringer commented on #5686
I implemented a unit test on https://github.com/sbueringer/cluster-api/blob/poc-clusterctl-crd/cmd/clusterctl/client/config_test.go#L92-L141 to check if at least all builtin providers are using correct CRD names. It turns out almost all of them do, only one single CRD is wrong:
* the `metal3datas.infrastructure.cluster.x-k8s.io` CRD should actually be called `metal3data.infrastructure.cluster.x-k8

[2022-09-06 14:48] sbueringer commented on #5686
cc @fabriziopandini @CecileRobertMichon @enxebre @vincepri Any opinions / suggestions?

[2022-09-06 15:11] furkatgofurov7 commented on #5686
@sbueringer I just checked it in metal3 provider repo, we do define the kind for that specific CRD correctly https://github.com/metal3-io/cluster-api-provider-metal3/blob/main/config/crd/bases/infrastructure.cluster.x-k8s.io_metal3dataclaims.yaml#L14, would you mind pointing out where pluralization is coming incorrectly? AFAIU `flect.Pluralize` is getting Kind (Metal3Data), lower it(metal3data) an

[2022-09-06 15:14] sbueringer commented on #3889
I took another look. The tool itself looks interesting, but I couldn't get it to work. It also looks like upstream Kubernetes has issues with Go 1.19 and levee and requires fixes in a Go lib to get it to work again.

I even couldn't get it to work with Go 1.18 locally.

So overall I agree, given that almost all our secrets are in Secrets and we have a lot of untyped JSON patches in which secrets b

[2022-09-06 15:15] #3889 closed

[2022-09-06 15:29] sbueringer commented on #5686
No worries. I think the issue is that `flect.Pluralize` pluralizes `metal3data` as `metal3data` without `s`.

Afaik our assumption is that kubebuilder is also using `flect.Pluralize` which would help if the CRDs are scaffolded with `kubebuilder` but otherwise it's hard to know when creating them manually.

[2022-09-06 16:52] furkatgofurov7 commented on #5686
ou yeah, since `data` is already in a plural format 😀

[2022-09-06 23:32] carlosonunez-vmw opened #7179 "Bad CPU type in executable for clusterctl v1.2.1"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

- I downloaded `clusterctl-darwin-arm64` from GitHub releases
- I tried to run `clusterctl version`
- `Bad CPU type in executeable`

**What did you expect to happen:**

A wild version to appear

**Anything else you would like to add:**
[Miscellaneous information that will assist in solvin

[2022-09-06 23:32] carlosonunez-vmw commented on #7179
Never mind! I absolutely 100% did download the incorrect architecture for my machine. Closing.

[2022-09-06 23:32] #7179 closed

[2022-09-07 12:37] shawn111 commented on #7044
This operator provide something just like rpm-ostree with --apply-live.
rpm-ostree focus on immutable and --apply-live provide some convenience.
It is useful but can not cover all the cases.
We still have chances need to replace like runc/containerd.

Thanks @pacoxu

[2022-09-08 01:44] ykakarap commented on #6139
After further discussions the we would like to recommend the following approach to have the ability to enable/disable an MHC per cluster and also provide a mechanism to override an MHC on a per Cluster basis:

For the Cluster topology, we would like to add an optional section named `machineHealthCheck` which would look like so:

[code]

The `machineHealthCheck.enable` field can be one of:
* `false

[2022-09-08 01:54] ykakarap opened #7188 "Document the github Personal Access Token requirement in the book"
**Detailed Description**

The CAPI book does not document the need for a github personal access token when working with public repos. I believe this requirement is well known to folks who regularly work with Cluster API but it would good to document the requirement in the book for more visibility.

Ref: https://github.com/kubernetes-sigs/cluster-api/issues/3982#issuecomment-1228793391

/kind docum

[2022-09-08 08:20] fabriziopandini commented on #7188
/triage accepted
+1
let's just make clear this is required only for folks doing extensive use of clusterctl

[2022-09-08 08:22] fabriziopandini commented on #6139
Thanks for the summary @ykakarap +1 for me

[2022-09-08 09:25] sbueringer commented on #6139
Thx, sounds perfect!

[2022-09-08 10:46] zhaodiaoer opened #7191 "Clarify that failureReason & failureMessage are terminal in provider's implementers docs"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
If external object (like bootstrapConfig/infrastructureMachine) experienced some failure and exposed failureReason
or failureMessage in `status`, even if that external object recovered and failureReason or failureMessage is cleanup,
current object will not sync this cleanup ,the current ob

[2022-09-08 17:16] tenczar commented on #6139
This proposal looks good to me.

[2022-09-08 19:24] Skarlso opened #7198 "Add Karpenter support"
**User Story**

I would like to use Karpenter as auto-scaler.

**Detailed Description**

Karpenter provides a nice way of configuring autoscaling options. Right now, there is only support for AWS but more can / will be added later on with providers mechanism.

CAPI can support Karpenter being installed as an autoscaler.

https://karpenter.sh/

**Anything else you would like to add:**

Some talk ha

[2022-09-09 05:56] sbueringer commented on #7198
cc @randomvariable @elmiko (just fyi)

[2022-09-09 08:44] Karthik-K-N opened #7201 "Failed to intialise management cluster using tilt up"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

created following tilt-setting.json file in cluster-api repo

[code]
Here is the content of tilt-provider.json in cluster-api-provider-ibmcloud
[code]

When I try to run tilt up from cluster api repo I see the below error

[code]

**What did you expect to happen:**

Successfully able to i

[2022-09-09 08:50] fabriziopandini commented on #7201
could you kindly past the entire error including the error message (not only the trace stack)

[2022-09-09 08:56] fabriziopandini commented on #7201
also, from a quick look to other tilt-provider.json, label should go under config

[2022-09-09 08:57] fabriziopandini commented on #7201
/triage needs-information

[2022-09-09 08:57] Karthik-K-N commented on #7201
Here is the error
[code]

[2022-09-09 09:03] fabriziopandini commented on #7198
/triage needs-information

while I'm generally +1 to support tools in the ecosystem, I think we should qualify a little bit better what are the implication in cluster-API for this request; TBD if this requires a proposal

[2022-09-09 09:08] fabriziopandini commented on #7201
could you try to move the label setting as suggested above?

[2022-09-09 09:08] Skarlso commented on #7198
👍 For sure. I'm not very well versed with CAPI so I'm unsure what the implications are and what they look like. I require some help in determining that. :)

[2022-09-09 09:10] fabriziopandini commented on #7198
that's fair. I think we can start collecting what karpenter needs, then someone can step in to help in defining how this can be implemented in CAPI

[2022-09-09 09:12] Skarlso commented on #7198
Awesome. Sounds good. I can add what little information I know. :) The attached Karpenter ticket details some of the things that Karpenter itself is working on to make this a viable thing. It might even be that we have to wait for them a bit to come up with something.

[2022-09-09 09:12] Karthik-K-N commented on #7201
Sure will do, Thank you

[2022-09-09 09:42] fabriziopandini commented on #7191
I'm not sure this is a bug, given that AFAIK Failure Reason and Message are intended for surfacing terminal failures.

[2022-09-09 10:27] mkumatag commented on #7201
But the example here says outside the config: https://cluster-api.sigs.k8s.io/developer/tilt.html#tilt-provider-configuration

[code]

[2022-09-09 11:05] fabriziopandini commented on #7201
might be the documentation is not correct, I just took a look at CAPV tilt-provider.json; CAPA is the same, and all the provider inlined in the tilt file too

[2022-09-09 11:16] mkumatag commented on #7201
possible! @Karthik-K-N it will be great if we can fix the misleading documentation as well.

[2022-09-09 11:47] chrischdi commented on #7158
I'll try to do a first POC and open up a issue in kube-state-metrics repo to start discussion about it. I also see it as target in kube-state-metrics, and maybe a section here in the docs for provider guidance.

[2022-09-09 11:47] chrischdi commented on #7158
/assign

[2022-09-09 21:04] elmiko commented on #7198
thanks for the ping @sbueringer , definitely sounds like a good use case to me. from my understanding of karpenter i imagine there would be work to be done around synchronizing the instances created by it with the records that cluster-api keeps. perhaps this might be best used with MachinePools?

as i understand it, karpenter wants to talk directly to the AWS infrastructure. i had looked into a cl

[2022-09-12 05:14] #7201 closed

[2022-09-12 10:27] fabriziopandini commented on #5686
I think we should continue with the plan described in https://github.com/kubernetes-sigs/cluster-api/issues/5686#issuecomment-971853082, add documentation, create awareness via email/reminder in the office hours, add warnings, and sometime in the future, we can finally drop support for the fallback mechanism.

[2022-09-12 10:48] sbueringer commented on #5686
I'll take another look today. I just realized that the metal3 CR might even be okay (as we probably use the relevant func only under certain circumstances)

[2022-09-12 16:49] sbueringer commented on #6661
All done. @oscr Thank you very much!!

[2022-09-12 16:49] sbueringer commented on #6661
/close

[2022-09-12 16:49] #6661 closed

[2022-09-12 17:59] valaparthvi commented on #6994
I'd like to pick up Cluster deletion! @sbueringer, can you please reserve that for me?

[2022-09-12 19:09] aniruddha2000 commented on #7188
/assign

[2022-09-13 07:09] zhaodiaoer commented on #7191
If we decied that Failure Reason and Message are intended for surfacing terminal failures, I think there are some work to do:

1. Provide more clearer descriptions of `Failure Reason` and `Failure Message` fields in provider contracts guide documents and point out that once any failure field has been filled, the object which referenced to the provided object can not be recoveryed forever.
2. (opti

[2022-09-13 08:37] 24sama commented on #6304
Hi, @furkatgofurov7. Is there any way to handle the KCP use case? I didn't find the `onDelete` strategy in the KCP.

[2022-09-13 09:22] sbueringer commented on #6994
Sure, done!

[2022-09-13 13:26] furkatgofurov7 commented on #6304
@24sama hi! Would the above fulfill your requirements, although I have not tested it myself and can't confirm it?
Also, since this issue is already closed and was only specific to MD, I would suggest opening a new issue and referencing back to this one to have a better background on the new issue.

[2022-09-13 16:15] sbueringer opened #7212 "Improve ClusterAPI upgrade workflow with ClusterClass"
**User Story**

As a user I would like to have a smooth Cluster API upgrade process with ClusterClass-based clusters.

### Current state

*Note*: The following is only relevant if the Cluster API upgrade contains apiVersion bumps of control plane / bootstrap / infra provider CRDs.

ClusterClass inline patches are coupled to a specific template apiVersion. However, the Cluster topology controller a

[2022-09-13 16:30] fabriziopandini commented on #7212
/triage accepted

Thanks for investigating this topic, great stuff!
+1 to drop automatic version bump in CC

[2022-09-13 16:45] sbueringer opened #7213 "ClusterClass improve inline patch selector validation"
**User Story**

As a user I would like to get validation errors if parts of my selector don't match anything.

**Detailed Description**

As of today we have validation in our ClusterClass webhook which validates that a selector matches at least one template in a ClusterClass. As selectors can be configured to match multiple templates at the same time this is not enough.

**Anything else you would

[2022-09-13 16:53] sbueringer opened #7214 "ClusterClass: Validate inline patches during topology reconciliation"
**User Story**

As a user I would like to be confident that all configured inline patches that are relevant for my cluster are valid before reconciling the cluster.

**Detailed Description**

**Note**: This issue assumes https://github.com/kubernetes-sigs/cluster-api/issues/7213 to be already implemented.

As of today we only validate inline patches with a webhook, it could be interesting to also

[2022-09-13 18:24] vincepri commented on #7212
+1 on the plan above for ClusterClass-based clusters. It checks all the boxes, and the condition to surface that the last API version isn't being used is a nice touch.

[2022-09-13 19:08] fabriziopandini commented on #7213
/triage accepted
/remove-kind feature
/kind bug

I consider this a bug, but being this potentially breaking for users with invalid/inconsistent CC definitions we should take care of writing documentation + eventually an action required notice in the release doc

[2022-09-13 19:12] fabriziopandini commented on #7214
/triage accepted

+1 to add extra safety to the topology controller given it's complexity/potential impacts on the entire cluster.
However, having https://github.com/kubernetes-sigs/cluster-api/issues/7212 and https://github.com/kubernetes-sigs/cluster-api/issues/7213 first seems more important IMO

[2022-09-14 01:59] ykakarap opened #7215 "Introduce a `NeedsRollout` filter in `util/collections` package"
**Detailed Description**

The [`MachinesNeedingRollout`](https://github.com/ykakarap/cluster-api/blob/bf99b6a2425c603c7a544bd318132b7270fa17cf/controlplane/kubeadm/internal/control_plane.go#L248) and the [`UpToDateMachines`](https://github.com/ykakarap/cluster-api/blob/bf99b6a2425c603c7a544bd318132b7270fa17cf/controlplane/kubeadm/internal/control_plane.go#L265) functions in `controlplane/kubeadm/i

[2022-09-14 02:12] ykakarap opened #7216 "How to handle deleting `machine.cluster.x-k8s.io/certificates-expiry` annotation on the kubeadmconfig"
**Detailed Description**

This issue is to discuss how to handle user deleting the `machine.cluster.x-k8s.io/certificates-expiry` annotation on KubeadmConfig.

The option proposed was:
* Block the deletion of the annotation in the webhook of KubeadmConfig.
* Simply document the need and use of annotation

Ref: https://github.com/kubernetes-sigs/cluster-api/pull/6983#discussion_r968197973

[2022-09-14 08:32] sbueringer commented on #7216
Just wanted to add that when we implement in-place propagation of labels/annotations we have to take care that we don't overwrite this annotation on the Machine and on the KubeadmConfig. But I guess that's already a requirement there for any additional labels/annotations anyway.

Back to topic: I think validating in the validate up hook that this annotation can never be removed once it has been ad

[2022-09-14 08:37] sbueringer commented on #7213
Given we can consider this a bug but it is breaking for "invalid" CCs I wonder if we should backport this or not.

[2022-09-14 10:20] killianmuldoon commented on #6239
/reopen

I think this is still a nice to have if someone has time to take it on.

[2022-09-14 10:47] sbueringer commented on #6239
/remove-lifecycle rotten
(afaik it's otherwise just closed again when the job runs the next time)

[2022-09-14 11:33] sbueringer commented on #7214
I think we should introduce this the earliest one release series after #7213 (more details: https://github.com/kubernetes-sigs/cluster-api/issues/7213#issuecomment-1246432066)

[2022-09-14 15:00] aniruddha2000 commented on #7188
It should be documented under [clusterctl configuration](https://cluster-api.sigs.k8s.io/clusterctl/configuration.html) right?

[2022-09-14 19:03] fabriziopandini commented on #7216
+1 to prevent users from removing / modifying the annotation
/triage accepted

[2022-09-15 02:00] dharmicksai commented on #7215
Hello, I would like to work on this issue
/assign

[2022-09-15 03:23] pacoxu commented on #7044
For kubeadm-operator topic, I think runc/containerd is out of the scope.

For package management of apt/yum, it may be part of it for kubelet/kubeadm/kubectl upgrade.
I think there are several choices.
1. download binary to replace directly. Simple but not cover all the cases.
2. upgrade using yum/apt with a configured repo.
3. use rpm for offline(or use local repo with rpms like choice 2).

[2022-09-15 04:07] ykakarap opened #7222 "Support showing MachineHealthChecks in `clusterctl describe cluster` output"
**User Story**

As a user I would like to be able see MachineHealthChecks acting on a cluster in the at-a-glance view generated by `clusterctl describe cluster`.

**Detailed Description**

Currently MHCs are not part of the clusterctl describe cluster output. Since MHCs can be uniquely linked to a specific cluster using `MachineHealthCheck.Spec.ClusterName` it would be nice to also see them in the

[2022-09-15 08:06] killianmuldoon commented on #7150
I'm not sure if this new type would be acceptable in klog (or adding it to KRef), but I can open an issue over there to check the temperature.

This should probably be cleaned up in CAPI (for WithRef) for the time being as well. I'm not sure where else structs are logged that don't appear correctly in text format, but it seems likely this might not be the only place.

[2022-09-15 09:49] killianmuldoon commented on #7216
Aside: Could the same be done for other pieces of metadata that CAPI relies on as a source of truth? e.g. the `topologyOwned` label?

[2022-09-15 11:54] fabriziopandini commented on #7215
/triage accepted

[2022-09-15 13:32] sbueringer commented on #7216
For the ones that should be immutable - yes

[2022-09-15 14:04] fabriziopandini commented on #7222
/triage accepted

it makes sense given that we are extending to all the objects in a cluster, but at the same time I'm not really sure what is the best way to represent them given the mechanism they are using to target machines

[2022-09-15 14:13] #6841 closed

[2022-09-15 14:51] fabriziopandini commented on #7216
thinking a little bit more about this.
I'm not sure we should go down the path of making labels immutable (it makes sense, but even in KK they are not, and also this goes behind the scope of this issue), so this is a broader discussion.

The problem with this specific issue is that we should prevent the annotation to be created with the wrong expiration date, which can lead to certificate expirati

[2022-09-15 16:45] sbueringer opened #7224 "CAPI controllers should keep ownerRefs on the current apiVersion"
I took a closer look at our ownerRefs and how they evolve (or not) after ClusterAPI upgrades. In some cases we bump the apiVersions automatically in some cases we don’t. Our cluster deletion reconciliation works independent of the apiVersion, but the Kubernetes garbage collection does not.

An Example:
* MD > MS > M is created with v1alpha3
* ownerRefs in MS and M are set with v1alpha3
* CAPI is u

[2022-09-15 16:45] sbueringer commented on #7224
cc @killianmuldoon Just in case you're interested

[2022-09-15 16:46] sbueringer commented on #6778
Sorry for the back and forth.

I created this issue for ownerRefs: https://github.com/kubernetes-sigs/cluster-api/issues/7224

I've done some additional research on refs and will open a separate issue to address the apiVersion-bump-in-refs topic.

/close

[2022-09-15 22:50] Jont828 commented on #7155
Yeah that makes sense. My goal was to make it more seamless to use the visualizer app for general use cases. Currently you'd need to `helm install`, wait for the deployment to be ready, and then create port-forward. Do you think that introduces too much friction (since the Tilt setup includes it with a YAML setting).

[2022-09-16 00:33] Jont828 commented on #4288
@devigned @killianmuldoon I'm happy to give this a try. How are we currently creating the images in the docs/book?

[2022-09-16 06:34] sbueringer commented on #7155
I think if you want to make visualizer easy to use for "normal" consumers independent of our tilt development setup, it would be best to further extend the Helm Chart.

Usually Helm charts for applications which provide a UI contain a service/ingress combination which can then be leveraged by consumers to expose it via a separately deployed ingress controller.

It's my impression that that's how i

[2022-09-16 06:38] sbueringer commented on #4288
Most of them are generated with plantuml

[2022-09-16 07:12] chrischdi commented on #7149
@sbueringer : wondering if this then also works with topology controller. Did you try that?

[2022-09-16 07:33] sbueringer commented on #7149
I would expect it to work but I didn't try it.

If the empty slice is coming from patches it's very very likely as we're just working with the JSON in the controller.
If the empty slice is coming from KubeadmControlPlaneTemplate it should work as well if the same custom marshalling is used there to "preserve" the empty array (and it should automatically as we use the same struct there)

[2022-09-16 07:51] chrischdi commented on #7149
Maybe a workaround to consider until a fix for this was implemented: Set a taint which has effect `PreferNoSchedule` to be added to all nodes. As long as all nodes (control plane and worker) have this same taint, they should be treated equally for scheduling purposes and control plane nodes should get workload scheduled.

[code]

[2022-09-16 08:01] sbueringer opened #7226 "Also run clusterctl upgrade test with ClusterClass"
**User Story**

As a user I would like to be able to upgrade ClusterAPI without unintended consequences for ClusterClass-based clusters.

**Detailed Description**

As of today we have a clusterctl upgrade which we run in various permutations (regarding "initial" versions).
The test roughly does the following:

* Create a 1st workload cluster
* Download a specific version of clusterctl and convert

[2022-09-16 09:15] killianmuldoon commented on #7224
/assign

I'll take a look at this

[2022-09-16 09:34] neoaggelos opened #7227 "Support standard input as input source for `clusterctl generate cluster` command"
**User Story**

As a developer/user, I would like to pass cluster templates to the `clusterctl generate cluster` command via stdin for the following reasons:
- allow this syntax: `$any_command | clusterctl generate cluster --from -`, so that the generate command can be a part of a whole pipeline of steps
- make it easier to use clusterctl with cluster templates that are in a different machine. e.g

[2022-09-16 09:39] neoaggelos commented on #7227
I have went ahead and created a small PR for this which works fine for me. If CAPI contributors are happy with this addition, I can add some unit test coverage as well.

[2022-09-16 09:41] chrischdi opened #7229 "Add a Custom Resource metrics configuration file to the release artifacts"
**User Story**

As a operator I would like to have metrics for my running Cluster API verison for day-2 operations.

**Detailed Description**

We recently added a first configuration for metrics for the core CAPI resources via #6458 .

It would be great to add the configuration as artifact to future releases so an operator could also easily find the matching configuration when updating Cluster API

[2022-09-16 09:42] chrischdi commented on #6458
Closing here by marking the last step as done 🎉  / via creation of:
- #7229

/close

[2022-09-16 09:42] #6458 closed

[2022-09-16 10:12] sbueringer commented on #7229
/triage accepted

Sounds good. Thx for working on this!

[2022-09-16 10:15] sbueringer commented on #7227
cc @ykakarap

[2022-09-16 10:24] fabriziopandini opened #7230 "Add E2E for single node clusters with scale out rollout"
**User Story**

As a user, I would like to use CAPI for single node clusters

**Detailed Description**

We are getting a growing number of queries in slack/via other channels about single node clusters, and it would be great if we set up an E2E test for ensuring proper coverage of the scenario we already support, which is a single node cluster with a scale-out rollout policy.

**Anything else you

[2022-09-16 10:49] sbueringer commented on #7230
Related: #3728 (essentially the self-hosted upgrade part of it)

[2022-09-16 10:50] sbueringer commented on #7230
/triage accepted

[2022-09-16 11:43] fabriziopandini commented on #7227
/triage accepted

we are already supporting something similar in clusterctl generate yaml, but I'm not opposed having it gerated cluster as well

[2022-09-16 11:51] fabriziopandini commented on #7226
/triage accepted

Let's make sure this scenario works without changes first, then we can figure out what is the solution that makes our maintenance duties simpler

[2022-09-16 13:04] sbueringer commented on #7226
Yup definitely

[2022-09-16 15:39] fabriziopandini opened #7233 "NodeVolumeDetachTimeout should be made available in Cluster.Spec.Topology"
https://github.com/kubernetes-sigs/cluster-api/pull/6413/files is adding a new field on machines, we should make this available in Cluster.Spec.Topology like we are already doing for NodeDrainTimeout and NodeDeletionTimeout

As an extended task, we should also start discussing if and how to allow users to provide defaults for those fields in the ClusterClass

/area topology
/milestone v1.3

/kind

[2022-09-16 15:40] fabriziopandini commented on #7233
/triage accepted

[2022-09-16 16:22] fabriziopandini commented on #7176
/triage accepted

I'm curious to understand if changing imports is enough to improve the situation/simplify the import graph.
+1 to fix the flag issue in CR

[2022-09-16 17:57] KlavsKlavsen opened #7234 "Document how to use multiple providers in the same management cluster"
We would like to be able to manage clusters in both AWS, Hetzner hcloud and Azure AKS - the docs does not seem to show anything about how that can be done.. only how to handle a single provider, which seems to exclude adding multiple provider support - to a single cluster-api instance ?

[2022-09-16 21:59] ykakarap commented on #7188
@aniruddha2000 Under clusterctl configuration sounds good. Please add a new section in that page and document the personal access token requirements.

[2022-09-16 22:06] ykakarap commented on #7222
I guess this can be broken down into 2 things:
1) Listing the MachineHealthChecks that are linked to a cluster in `clusterctl describe`
2) Showing which MHCs are acting on which Machines

These things can probably be address in 2 steps.
The first one is probably straight forward to implement with how `clusterctl describe` works right now.
For the second one, it will need more though on a good UX t

[2022-09-17 00:26] ykakarap commented on #7227
I am fine with adding the support.

[2022-09-19 08:57] fabriziopandini commented on #7222
/help-wanted

[2022-09-19 09:18] sbueringer commented on #7234
In general it should work, we just don't have CI coverage for it.

[2022-09-19 09:24] sbueringer commented on #7222
+1 not sure if there's a good way to do 2. considering that MHC (as far as I know) could apply to Machines managed by different resources (KCP,MD)

[2022-09-19 09:24] fabriziopandini commented on #7234
/triage accepted
/kind documentation

CAPI supports working with many infrastructure providers/bootstrap providers/control plane providers out of the box, but probably we are not doing a great job in highlighting this in the doc; that's something I agree we should fix
(my only recommendation is to suggest users to rely on clusterctl in this case, because it helps in ensuring all the providers are

[2022-09-19 09:26] fabriziopandini commented on #7234
/help

[2022-09-19 09:29] fabriziopandini commented on #7188
If we are targeting end users I will document this in https://cluster-api.sigs.k8s.io/clusterctl/overview.html as well (let's document it here and link it from configuration and from the clusterctl init page as well)

[2022-09-19 09:36] #6529 closed

[2022-09-19 09:39] fabriziopandini commented on #7222
/help

[2022-09-19 10:22] lentzi90 opened #7237 "Node orphaned and stuck after early deletion of Machine"
**What steps did you take and what happened:**

This is a bit tricky because it depends on timing. We accidentally stumbled across it in the Metal3 provider because we made a mistake in our e2e tests. The gist is that we didn't wait for a Machine to become running before it was deleted as part of a change to the MachineDeployment (but the underlying infrastructure was provisioned).
It goes somethi

[2022-09-19 10:38] fabriziopandini commented on #7237
This is a tricky one.
CAPI relies on the infra provider to get the node ref, and thus it cannot handle node deletion if the node ref is not set.
Also, setting a constraint on node ref existing before deletion/rollout seems not viable, because in some cases the node never comes out and you want to delete to fix the problem...

It is required to think carefully if/how we can handle this use case...

[2022-09-19 11:09] lentzi90 commented on #7237
Thanks for your insights @fabriziopandini ! I had a feeling this may not be easily solved but wanted to at least create an issue after spending the time to figure out what happened. :smile:
Anyway, it is not critical for us to get this fixed. As mentioned above, we only saw it because of a mistake and don't expect to run into it normally.

[2022-09-19 12:12] sbueringer opened #7238 "ClusterClass: Make it easier to debug errors on object creation"
**User Story**

As a user/operator I would like to be able to figure out why an object creation failed without the go debugger.

**Detailed Description**

During topology reconciliation we have to create objects, like e.g. DockerCluster. Because the error messages contains names which are different with every reconcile we dropped them from the error we surface in conditions. Surfacing a name which

[2022-09-19 12:13] sbueringer commented on #7238
cc @killianmuldoon

[2022-09-19 18:51] fabriziopandini commented on #6860
+1 to implement support for testing Topology Mutation hooks only

We briefly discussed possible options and as a first iteration we are going to implement the support for the following scenario
    - extensions must be installed in the Cluster and the corresponding ExtensionConfig should be in place (we do not accept ExtensionConfig in the file)

The implementation will be based on the following s

[2022-09-19 19:09] fabriziopandini opened #7245 "Improving defaulting and validation in clusterctl alpha topology plan"
**User Story**

As a user I would like that clusterctl alpha topology plan gives me results as accurate as possible

**Detailed Description**

As of today clusterctl alpha topology plan defaults and validates only CC and Cluster objects, leaving the users the burden to provide templates that pass validation and that include all the values that the defaulting web hook usually apply.

This issue is

[2022-09-19 19:11] ykakarap commented on #7245
I am happy to work on this once I have some bandwidth but if someone wants to work on this in the meantime I am happy to pair and help :)

[2022-09-19 19:22] fabriziopandini opened #7246 "Make clusterctl alpha topology plan to use SSA / dry run"
**User Story**

As a user I would like that clusterctl alpha topology plan gives me results as accurate as possible

**Detailed Description**

As of today, clusterctl alpha topology plan uses a TwoWaysPatchHelper to compute changes applied by the topology controller, but this can give false positives/false negatives given the recent move to SSA for the topology controller.

This issue is about mak

[2022-09-19 19:23] fabriziopandini commented on #7246
Note: I have hacked a little bit around this, I'm going to share what I have in a personal branch ASAP

[2022-09-20 02:17] ykakarap commented on #7246
I am interested in working on this. I will need some more time before I can get to this. In the mean time if someone wants to take stab at this I am happy to pair and help :)

[2022-09-20 02:17] ykakarap commented on #6860
I am happy to work on this once I have some bandwidth but if someone wants to work on this in the meantime I am happy to pair and help :)

[2022-09-20 02:47] ykakarap opened #7247 "Document about the newly added support for certificate rotation through machine repave in KCP in CAPI book"
**Detailed Description**

A new ability to perform certificate rotation by triggering a rollout is added to KCP. This allows for the KCP machines to be rotated if the machine certificates are close to expiry.

This issue is to document this feature and all associated details in the CAPI book.

/kind documentation
/area control-plane

/assign

[2022-09-20 03:24] rajaSahil commented on #7222
Hey @ykakarap, I would like to work on this.

[2022-09-20 03:46] ykakarap commented on #7222
@rajaSahil Great!
Feel free to assign it to yourself.

[2022-09-20 03:49] rajaSahil commented on #7222
Sure. Thank you!
/assign

[2022-09-20 04:52] shyamradhakrishnan opened #7248 "MachinePools cannot be upgraded atomically when used with managed providers"
**What steps did you take and what happened:**
Many providers have built their managed node pool based on CPI machinepools. In most cases, customers can provide a custom vm image to be used by the node pool. for example here - https://github.com/oracle/cluster-api-provider-oci/blob/63f38727a6fba8ef78668fcb8187922ddf3cbfa8/exp/api/v1beta1/ocimanagedmachinepool_types.go#L180

The nodepool version is

[2022-09-20 04:52] shyamradhakrishnan commented on #7248
/cc @richardcase

[2022-09-20 05:07] sbueringer commented on #7248
Hm, on KCP/MD/MS it would work like this:
An additional InfrastructureMachineTemplate would be created and then the KCP/MD/MS would be updated to the new Kubernetes version and the new InfrastructureMachineTemplate at the same time.

I assume something similar doesn't work with the MachinePool as the InfraMachinePool is representing the "machines" directly so there is no rotation?

[2022-09-20 05:16] shyamradhakrishnan commented on #7248
@sbueringer yeah, the current implementation of machinepools does not have a rotation, the machinepool references a direct infra machine pool. for example https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/templates/cluster-template-aks.yaml#L58
and its the same for all providers I saw.

[2022-09-20 07:04] fabriziopandini commented on #7248
/cc @CecileRobertMichon @jackfrancis

[2022-09-20 07:07] fabriziopandini commented on #7247
/triage accepted
/milestone v1.3

[2022-09-20 08:57] killianmuldoon commented on #7238
/assign

[2022-09-20 09:13] #6285 closed

[2022-09-20 11:35] sbueringer commented on #7246
Sounds good. Would be good if we only use SSA for Kubernetes >= v1.22 (CC is not supported below v1.22 anyway, but just to be safe)

[2022-09-20 16:36] CecileRobertMichon commented on #7248
This isn't something we've encountered with AzureManagedMachinePools as there is no image reference and the image is managed by AKS, so changing the k8s version on the MachinePool is enough to trigger a k8s version + image upgrade of the managed service. However, the same think might be true with non-managed clusters that specify a custom image when using MachinePools.

@mboersma wonder if you hav

[2022-09-20 18:07] fabriziopandini commented on #6860
Makes sense for me to explore also to think about modifying the client, this could remove from us the complexity of opening/closing tunnels
cc @ykakarap

[2022-09-21 01:34] ykakarap commented on #6860
Sounds like an interesting option to explore.

Do you have a reference that I can take a look at?

[2022-09-21 06:27] sbueringer commented on #6860
I don't have access anymore unfortunately. Basically we told Promtheus via it's discovery mechanism to pull from a specific URL (the one I mentioned above) and use client certificates for authentication.

I'll try to dig up a bit more information.

[2022-09-21 11:57] randomvariable opened #7257 "Fields that are taking URLs or OCI registry paths should validate for correctness"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

Use a kubeadmControlPlane with the following

[code]
The image repository then has a new line character in it. This is currently treated as valid, but should be rejected, and the end result is that the user may not know they've something wrong until the KCP machine fails to boot.

**What

[2022-09-21 12:02] sbueringer commented on #6860
I got it to work with kubectl. The following is a discovery request against the service with:
* namespace "default"
* name: "webhook-service"
* port "443"
* protocol "https"
(the one deployed in our Tilt env)

I think if we track this back to how kubectl does it we should be able to do the same with client-go, but I don't want to spoil al the fun :)

[2022-09-21 12:06] sbueringer commented on #7257
/triage accepted

[2022-09-21 12:35] randomvariable commented on #7257
If you end up doing something custom because library things don't do the right thing, it'd be good to have a utility function in one of the externally exposed packages as I can imagine it being useful to runtime extension authors.

[2022-09-21 12:42] sbueringer opened #7258 "Consider adding liveness/readiness probes and metrics endpoint to test extension"
To make our test extenson / the reference implementation more production ready it would be great if we have readiness/liveness and metrics endpoints.

**Details**

I think we have at least two options:
* start a manager which gives us the additional endpoints always for free
  * we have to figure out how that can work with our custom extension server (which uses a webhook server underneath)
* impl

[2022-09-21 12:42] sbueringer commented on #7258
cc @killianmuldoon

[2022-09-21 13:55] fabriziopandini commented on #6154
thinking about this:
- clusterctl offers a set of capabilities that could apply to any component that could be part of a management Cluster, like e.g. it manages all the artifact retrieval, some manipulation like changing namespaces or doing envsubst, labeling objects so they can deleted/upgraded and it also provide a way to define compatibility matrix via metada.yaml
- clusterctl already extended

[2022-09-21 16:17] ykakarap commented on #6860
Thanks for this find Stefan. Never know about this.

haha.. thank you 🙏🏼 😃

[2022-09-21 17:28] mboersma opened #7263 "Docker provider broken in "tilt up" workflow"
**What steps did you take and what happened:**

Local testing with Docker clusters broke in the last day. To demonstrate:

- Check out HEAD of `main`
- `make tilt-up`
- Deploy a Docker-based cluster
- See errors about "permission denied to /var/run/docker.sock"

[code]

**What did you expect to happen:**

Cluster is provisioned without errors.

**Anything else you would like to add:**

I'm sure th

[2022-09-21 17:28] mboersma commented on #7263
/assign

[2022-09-21 17:38] elmiko commented on #6154
we talked about this during the community meeting today, imo it sounds like a good idea on balance.

one thing we discussed during the meeting was the notion of compatibility between various providers. it would be nice if a user could know that some combinations might not work, or will produce unexpected results. having deep logic to detect these combinations is probably not what we want, but if t

[2022-09-21 17:57] #7263 closed

[2022-09-21 18:53] fabriziopandini commented on #7263
/triage accepted
better late than even 😉

[2022-09-21 19:19] #7188 closed

[2022-09-21 19:28] fabriziopandini commented on #7258
That's a nice improvement!
/triage accepted

[2022-09-21 19:33] fabriziopandini commented on #7257
Q: does this qualifies for backport? I'm generally +1 because it is a bug and the fix can avoid problems to users, but at the same time it could potentially break some users (I have to check for impacted fields/use cases to confirm first)

[2022-09-21 20:07] #7227 closed

[2022-09-22 07:25] chrischdi commented on #6860
It's easy to experiment using `kubectl proxy` and then using `curl -X [GET/POST/...] 127.0.0.1:8001/...`, especially when other requests than GET is required 😄

[2022-09-22 09:53] sbueringer commented on #7257
If all cases that the validation additional blocks are cases that wouldn't work anyway (like the new line), it wouldn't block any working setups for users.

[2022-09-22 11:29] ramineni commented on #3134
@killianmuldoon sorry for the delay . Got time to get back on this.

Could you help me understand is this issue still relevant now? I see code is changed around

Is this the pending item?

Thanks,

[2022-09-22 11:41] fabriziopandini commented on #7257
that's ok, we can bring this to the office hours if there is demand for this backport, but I agree this should not block the users (but it is worth a note in the release notes)

[2022-09-22 12:42] ramineni commented on #7257
can I work on this issue?
sorry newbie question .. Does this needs to be fixed at kubeadm and cluster api , or cluster API uses kubeadm validation once it implements?

[2022-09-22 12:49] sbueringer commented on #7257
The idea is to implement this in ClusterAPI validation webhooks in addition to anything else that might be implemented in kubeadm (to get the validation errors already from the webhook).

It's pretty much TBD at this point for which fields we want to implement which validation exactly (except imageRepository which is already pretty clear). So first step is doing an audit of all our v1beta1 API typ

[2022-09-22 17:05] sbueringer commented on #3982
Might be a stupid question but as we only have the sources in the go modules (https://pkg.go.dev/sigs.k8s.io/cluster-api#section-sourcefiles), from where else can we get the build/rendered release assets?

[2022-09-22 19:20] fabriziopandini commented on #3982
I did not research the topic extensively, but if we can build an url like https://github.com/kubernetes-sigs/cluster-api/releases/download/v1.2.2/bootstrap-components.yaml with the info we have, I assume we can download from there without passing from the GitHub API, similar to when I click to links in the asset section in https://github.com/kubernetes-sigs/cluster-api/releases/tag/v1.2.2 page

In

[2022-09-23 04:14] ramineni commented on #7257
@sbueringer Thanks for clarifying and adding more context.

[2022-09-23 09:26] Ankitasw opened #7278 "Noderefs mismatch in machinepool nodes"
**What steps did you take and what happened:**
We are trying to bump CAPI version to v1.2.2 in CAPA, and facing the issue of noderef not getting assigned to machinepool nodes, even though the nodes are up and running in the cluster.
[code]
The root cause for this issue is [this](https://github.com/kubernetes-sigs/cluster-api/pull/6971) PR.
The providerIDList looks something like
[code]
and the pro

[2022-09-23 09:26] fabriziopandini opened #7279 "Bump to kind 0.16.0"
Kind just release a [new release](https://github.com/kubernetes-sigs/kind/releases/tag/v0.16.0) with some fixes, let's pick it up as soon as possible

/kind feature

[2022-09-23 09:27] fabriziopandini commented on #7279
/triage accepted

[2022-09-23 09:34] #6992 closed

[2022-09-23 09:34] fabriziopandini commented on #7278
/triage accepted
cc @CecileRobertMichon @jackfrancis

[2022-09-23 10:01] fabriziopandini commented on #7279
/assign @sbueringer

[2022-09-23 10:20] enxebre commented on #7278
@Ankitasw I see the providerList [comes from the infra machine pool](https://github.com/kubernetes-sigs/cluster-api/blob/main/exp/internal/controllers/machinepool_controller_phases.go#L277) how does it look in your case?

[2022-09-23 10:30] Ankitasw commented on #7278
After chatting with @fabriziopandini I got to know that our providerList is dropping AZ from the providerIDs in providerIDList. I am taking a look at CAPA side as why this is dropped.

[2022-09-23 10:32] charlie-haley opened #7280 "document migrating to user-managed cert-manager"
**User Story**

As an operator I would like to ignore cert-manager during upgrades so I can self-manage cert-manager deployments.

**Detailed Description**
Currently when upgrading CAPI through clusterctl, it tries to upgrade cert-manager based on the annotation `cert-manager.clusterctl.cluster.x-k8s.io/version`, as we manage our own cert-manager deployment this annotation is almost always out of

[2022-09-23 10:40] Ankitasw commented on #7278
/transfer cluster-api-provider-aws

[2022-09-23 10:56] #7279 closed

[2022-09-23 13:55] chrischdi commented on #7280
clusterctl already checks if cert-manager is managed by clusterctl or by the user.
It won't update cert-manager if cert-manager was not deployed via clusterctl.

It does so by checking if the installation is externally managed:
- https://github.com/kubernetes-sigs/cluster-api/blob/cdf3b9c8203ba65936a363943957d4c04eef265e/cmd/clusterctl/cmd/upgrade_plan.go#L79

And the check if cert-manager is mana

[2022-09-23 14:27] charlie-haley commented on #7280
Thanks for the reply @chrischdi, it looks like our cert-manager deployment got into a weird state - it was originally installed with clusterctl, now we're managing it ourselves.

Removing the labels fixes the issue for me! However, do you think an `ignore` option would still be valid if people wanted to migrate from clusterctl managed cert-manager to user-managed?

[2022-09-23 15:00] sbueringer commented on #7280
I would prefer to tell folks to just remove our label vs telling them they should add another one.

[2022-09-23 15:19] aniruddha2000 commented on #7215
@dharmicksai are you still working on this?

[2022-09-23 15:25] dharmicksai commented on #7215
Hey , I am working on the task

[2022-09-23 15:30] charlie-haley commented on #7280
Okay sounds good! If you want, I can raise a PR to the docs explaining this?

[2022-09-23 17:15] fabriziopandini commented on #7257
Stumbled in https://github.com/kubernetes-sigs/cluster-api/blob/62e6600244ee7503eefba4db56ef7e94773b8314/util/container/image.go#L45 (code where we are using docker library to parse image names)

[2022-09-25 11:43] fabriziopandini commented on #7280
+1 to document how to transition form a managed cert-manager to unmanaged; probably this documentation should go https://cluster-api.sigs.k8s.io/tasks/certs/index.html and then link in https://cluster-api.sigs.k8s.io/clusterctl/configuration.html#cert-manager-configuration

/triage accepted
/remove-kind feature
/kind documentation

[2022-09-26 09:53] sbueringer commented on #7257
Yup that's why Naadir mentioned `docker/distribution/reference` (as we're using utils from there and there are more).

Additional note: Our issue was that we had a trailing `\n` after an absolutely valid image repo name. Would be good to make sure that cases like this are captured by the validation.

[2022-09-26 10:03] #7233 closed

[2022-09-26 15:09] oscr commented on #6992
@mmmmmmpc Could you please explain a little more? No functionality is being removed. It's just changed name and location:  `backup` -> `move --to-directory` and `restore` -> `move --from-directory`.

[2022-09-26 19:32] fabriziopandini commented on #6535
Am I wrong or this is a duplicate on https://github.com/kubernetes-sigs/cluster-api/issues/7227 and it has already been fixed by https://github.com/kubernetes-sigs/cluster-api/pull/7228?

[2022-09-26 19:39] fabriziopandini commented on #6992
And this change is meant to avoid confusion

backup and restore should be executed using tools like velero or by leveraging GitOps tools capable to consider everything there is in a Cluster, not only CAPI resources in a namespace

[2022-09-26 19:45] kfox1111 commented on #6992
Fair. But does this mean the backup commands are successful in backing up/restoring all the bits the cluster api is in charge of?

IE, say you have a management cluster, as per recommended best practice. Is dumping the objects via backup, and saving them enough to be able to reinstall the management cluster and have it re-manage the managed cluster?

IE, this backup on mgmt cluster, and velero on

[2022-09-26 20:22] vincepri commented on #6942
/kind api-change

As mentioned above, we need to deprecate now (just a comment on the field would suffice) + remove in the next API version

[2022-09-26 20:22] vincepri commented on #6942
/triage accepted

[2022-09-26 20:29] fabriziopandini commented on #6942
/milestone v1.3

to track to to this before the release

[2022-09-26 20:30] fabriziopandini commented on #6942
/good-first-issue

[2022-09-27 08:04] mmmmmmpc commented on #6992
@fabriziopandini ... the Management Cluster is not a cluster to handle any workload but a very special case.
It handles all the deployment and changes to the productive clusters (i.e. worload clusters and shared services clusters).
Velero is intended to work to restore the productive clusters ... while clusterctl can take care of integrating them into a running management cluster.
If you see it fr

[2022-09-27 09:14] scuzhanglei opened #7291 "Support add annotations to MachineTemplate when `cluster generate cluster` run"
**User Story**

We have a cluster template, and when different user use this template, they may add different annotations to `MachineTemplate`. I found it was not possible to do this by Environment variable substitution.  And I tried set it in clusterctl.yaml, it didn't work too. So is there any solution to do this?
**Detailed Description**

**Anything else you would like to add:**

[Miscellaneous

[2022-09-27 09:47] sbueringer opened #7292 "Tasks for Cluster API v1.2.3"
Just collecting some notes for additional tasks for the upcoming v1.2.3 release.

As with our release note generation tool we don't have a way to automatically add notes to the release notes, here's a collection of things we should highlight:
* https://github.com/kubernetes-sigs/cluster-api/pull/7286
* https://github.com/kubernetes-sigs/cluster-api/pull/7366
* https://github.com/kubernetes-sigs/cl

[2022-09-27 09:51] sbueringer commented on #7292
/triage accepted

[2022-09-27 10:05] sbueringer commented on #7291
I'm not sure if `clusterctl generate cluster` is supposed to handle specific use cases like this. Essentially it ~ downloads cluster-templates published by providers and then runs envsubst on them. I think in general there are a lot of things that folks might want to customize in those resources, but I don't think we should adjust clusterctl to handle them.

I would recommend to either run kustomi

[2022-09-27 10:13] sbueringer commented on #6942
If I'm not mistaken deprecation was done in these PRs:
* https://github.com/kubernetes-sigs/cluster-api/pull/6938
* https://github.com/kubernetes-sigs/cluster-api/pull/6941

It was already part of v1.2.0 (https://github.com/kubernetes-sigs/cluster-api/releases/tag/v1.2.0).

I wonder a bit about removal though.

I don't have background information for what exactly this feature was needed and why we

[2022-09-27 10:23] #7291 closed

[2022-09-27 10:28] zhouke1991 opened #7293 "MachineDeployment.spec.replicas defaulting should take into account autoscaler min/max size if defined"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
Kubernetes version v1.23.8
cluster-api version v1.1.5
capa version v1.2.0
cluster-autoscaler v1.20.0

I deployed an autoscaler deployment against a workload cluster in the mgmt cluster. When I apply a large requests pod in the workload cluster and the pod is in a pending status. In this sc

[2022-09-27 10:41] killianmuldoon commented on #7293
A workaround for this is to follow the pattern in https://github.com/kubernetes-sigs/cluster-api/issues/link but set the replica field in the **MachineDeployment**, where you're setting the autoscaler annotations, to whatever initial value you'd prefer.

The issue here is that the cluster topology controller will try to manage the number of replicas if the value is set in the Cluster object. If th

[2022-09-27 11:11] #6139 closed

[2022-09-27 12:40] oscr commented on #6992
This sounds like a much larger discussion than the scope of this specific issue. Maybe we could start a discussion / office hours / take it on slack to get more people involved?

[2022-09-27 13:17] killianmuldoon commented on #7293
Apologies - the correct link is: https://github.com/kubernetes-sigs/cluster-api/issues/5442#issuecomment-1190713981

[2022-09-27 13:21] killianmuldoon commented on #7293
The current sequence for working around this issue is to:
1) Create the cluster object
2) The Cluster topology controller will create a MachineDeployment with no autoscaler annotations and a default replica number (i.e. 1)
3) Edit the MachineDeployment to add the annotations and the desired replica count

As @sbueringer said there is an open issue for setting the annotations through ClusterClass.

[2022-09-27 13:23] sbueringer commented on #7293
I would expect that it's fine if the replica count is 1 initially as the autoscaler sould upgrade to the min-size automatically (? just guessing)

[2022-09-27 13:33] killianmuldoon commented on #6942
I think we should remove the good first issue and help wanted labels, as this removal isn't something easily implemented. @fabriziopandini WDYT?

[2022-09-27 13:36] fabriziopandini commented on #6942
I I got this right what we are doing now is just applying a deprecated label on the API field (I have updated the issue title)

[2022-09-27 13:37] sbueringer commented on #6942
I'm slightly confused. As mentioned, I think we did this already?

[2022-09-27 13:40] fabriziopandini commented on #6942
/remove-good-first-issue

[2022-09-27 16:53] sbueringer commented on #6135
Verified:

ClusterClass:
[code]
+ Cluster:
[code]

=> logs

This means we shouldn't run into infinite reconciles because of this because SSA errors for unknown fields.

But this still leaves the case were folks are not specifying the entire object (either no fields at all or not all of them) and depend on them being there.

So I think we should still try to find a way to introduce `x-kubernetes-pr

[2022-09-27 17:59] #6402 closed

[2022-09-27 17:59] #6410 closed

[2022-09-27 17:59] #6459 closed

[2022-09-27 17:59] #5146 closed

[2022-09-27 17:59] #5883 closed

[2022-09-28 02:13] Jont828 opened #7300 "Document `failureDomains` for Cluster controllers in the CAPI Book"
/kind bug

The [infra cluster provider contract](https://cluster-api.sigs.k8s.io/developer/providers/cluster-infrastructure.html) lists `failureDomains` as a required contract field. It's not listed in the [cluster controller](https://cluster-api.sigs.k8s.io/developer/architecture/controllers/cluster.html) section however, and it should be added in order to be consistent.

[2022-09-28 02:18] Jont828 opened #7301 "Add `failureDomain` as a required field in the machine controller docs"
/kind bug

The [infra machine provider contract](https://cluster-api.sigs.k8s.io/developer/providers/machine-infrastructure.html) lists `failureDomain` as a required contract field. It's not listed in the [machine controller](https://cluster-api.sigs.k8s.io/developer/architecture/controllers/machine.html) section however, and it should be added in order to be consistent.

[2022-09-28 10:04] sbueringer commented on #7300
/triage accepted

Thx for catching this.

Minor nit: It's an optional field.

[2022-09-28 10:07] sbueringer commented on #7301
Some nits:
`failureDomain` is an optional spec field (not required).
Would be also good to add the optional status field `addresses`.

/triage accepted

[2022-09-28 10:52] sbueringer commented on #7214
#7213 is merged and will be part of v1.2.3 and v1.3.0. We can reconsider this issue when we start the work in v1.4.0

[2022-09-28 13:14] sbueringer commented on #5686
Thinking about "clusterctl should emit a warning (with the hint that support will be dropped in a future release)"

The idea is to add a pre-check to `clusterctl init` & `clusterctl upgrade` (any other commands?) to emit a warning when CRDs with invalid names are deployed.

It's easy to identify an invalid name, but not all CRDs deployed by providers have to comply with our naming conventions. Onl

[2022-09-28 13:18] fabriziopandini commented on #5936
/reopen
/lifecycle frozen

the KCP package structure is still not ideal, let's keep this around

[2022-09-28 16:26] zhouke1991 commented on #7293
@sbueringer I think I also need this feature #7006 if I create a workload cluster with autoscaler annotations(cluster.k8s.io/cluster-api-autoscaler-node-group-max-size) in machinedeployment day0. Otherwise, users have to edit the MachineDeployment to add the annotations.

[2022-09-28 16:34] cunningr opened #7308 "Document guidelines around CAPI cluster scalability"
This is not a code issue specifically but we were wondering if there exists any data or guidelines around CAPI cluster scalability.  Thinking more specifically around;

 * Number of workload clusters
 * Number of active nodes (would this be provider specific?)
 * Number of healthchecks
 * other important params?

If ball park numbers don't exist today, do we know what parameters are important to t

[2022-09-28 17:49] sbueringer commented on #7293
@zhouke1991

Correct. We're working on it and I would currently expect this to land in Cluster API v1.3.0.

[2022-09-28 19:02] fabriziopandini commented on #7301
/remove-kind bug

[2022-09-28 19:03] fabriziopandini commented on #7301
/triage accepted

[2022-09-28 19:04] fabriziopandini commented on #7300
/remove-kind bug
/triage accepted

[2022-09-28 19:06] fabriziopandini commented on #7212
@sbueringer is there some work left in this issue?

[2022-09-28 19:30] fabriziopandini commented on #5686
what about validating all CRDs except ones with a well know annotation, so provider authors can "silence" the warning without sending a PR in CAPI

note: I think this is acceptable because research work on all the listed providers provided evidences that there are very few (one) CRD not compliant with the rule

[2022-09-28 19:36] sbueringer commented on #7212
Condition and doc:
      * [Implement condition](https://github.com/kubernetes-sigs/cluster-api/pull/7259)
      * [book: add doc about Cluster API updates with ClusterClass](https://github.com/kubernetes-sigs/cluster-api/pull/7298)

[2022-09-28 19:42] sbueringer commented on #5686
Sure, can do.

[2022-09-28 20:00] #7280 closed

[2022-09-29 10:41] fabriziopandini commented on #7300
/triage accepted

[2022-09-29 10:46] sbueringer commented on #7238
Test post

[2022-09-29 11:37] mboukhalfa opened #7311 "[e2e tests] UpgradeManagementClusterAndWait cannot upgrade to a pre-release"
**User Story**

As a developer I would like to to test upgrade a management cluster to a pre-release from e2e tests.

**Detailed Description**
Upgrading to a pre-release is already possible with `clusterctl` since we can specify custom providers instead of contract e.g:
[code]
But when using e2e framework this option does not seem allowed.
The upgrade client implements setting custom providers htt

[2022-09-29 11:51] sbueringer commented on #7238
/check-required-labels

[2022-09-29 11:51] sbueringer commented on #7238
/triage accepted

[2022-09-29 11:55] cunningr commented on #7308
Thank you for accepting this issue.  Based on the above I filed https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/1349 since we are specifically interested in CAPI + CAPO currently.

[2022-09-29 13:04] #7226 closed

[2022-09-29 13:16] elmiko commented on #7293
hmm, this is a good scenario and we need to be careful about. if the minimum size for the node group is "3" then we need to make sure that the initial replicas is also set to "3" on the MachineDeployment. the autoscaler will not try to bring a node group to its minimum, these values are just boundaries that the autoscaler will not go beyond.

if possible, i think we need the cluster class logic to

[2022-09-29 13:36] sbueringer commented on #7293
That's a bit hard to do in the Cluster topology reconciler as it usually either reconciles a field always to a specific value or not. But always doesn't work as it would overwrite the auto-scaler continuously.

Q: Just saw that those labels are deprecated in the auto scaler (https://github.com/kubernetes/autoscaler/blob/e478ee29596f541bef3d783843532d4fe64d9a48/cluster-autoscaler/cloudprovider/clus

[2022-09-29 13:50] fabriziopandini commented on #7216
in this use case API server warnings would be an even better solution because they give an immediate feedback to the users, but we have to wait for controller runtime to support them

[2022-09-29 13:52] sbueringer commented on #6135
Thought about it a bit more & discussed it with Fabrizio, to summarize:

* with v1.3 we would make the Cluster & ClusterClass validation webhooks more strict:
  * if `x-kubernetes-preserve-unknown-fields` is set: additional fields are allowed
  * otherwise: validation webhooks fail if additional fields are found
  * We would allow to opt-out from the stricter validation if the `unsafe.topology.clu

[2022-09-29 13:55] fabriziopandini commented on #7293
I don't have context on this decision, but from a UX point of view this is like ignoring `cluster.k8s.io/cluster-api-autoscaler-node-group-min-size: "3"`. @elmiko  Is there room to fix this behavior?

[2022-09-29 14:48] vincepri commented on #7216
While can be a problem, there are a number of similar issues where deleting a label or annotation could result in the system not behaving accordingly. While we could go down the path of preventing the annotation to be removed through the webhook (which I'm fine with), we could also choose to keep it as-is and document the side effects in case that happens

[2022-09-29 15:35] sbueringer commented on #6135
I have some free time to implement this

/unassign @ykakarap
/assign @sbueringer

[2022-09-29 15:36] fabriziopandini commented on #6135
Given that users are required to edit the CC for adding the annotation, at this point I think that we should ask them to add x-Kubernetes-preserve-unknown-fields: true instead which is the permanent way to opt out (while the annotation is just temporary)

In other words, ok for me but let's keep things simple and not implement the temporary annotation

[2022-09-29 17:46] elmiko commented on #7293
yeah... that does sound complicated. it makes me wonder if we need to add something to that API to allow for the autoscaler? (i'm not super fond of that idea as it's very specific to one cluster addon, but i feel compelled to ask)

unfortunately this is another error on my part, when merging the scale from zero support i should have removed those constants as we use [a more dynamic method](https:/

[2022-09-29 17:51] sbueringer commented on #7293
Ah thx, so the annotations are not deprecated just the local constants.

I'm not sure if it's acceptable but we could adjust the behavior of the MachineDeployment webhook. As of today it always defaults replicas to 1 if replicas is not set. We could default to the value of the min-size annotation if the annotation is present.

Would work like this:
* Cluster.spec.topology...replicas is not set, mi

[2022-09-29 18:29] elmiko commented on #7293
yeah, and https://github.com/kubernetes/autoscaler/pull/5222 =)

that sounds like it would work, i'm not sure about how hacky it might be.

i guess another option might be to create explicit values in the Cluster API for the autoscaler behavior, but i'm not sure that would be any more acceptable than what you have proposed.

[2022-09-29 18:41] fabriziopandini commented on #7293
@elmiko thanks for the detailed explanation

I think that @sbueringer idea makes sense, the one downside is that we are embedding in CAPI something autoscaler specific while instead we should be agnostic, but I think we can make an exception in this caseò

@vincepri @enxebre opinions?

[2022-09-29 19:05] elmiko commented on #7293
+1, i think the desire to make this agnostic is good especially since there might be situations in the future where people want to run different autoscalers (eg someone mentioned karpenter with cluster-api).

[2022-09-29 19:42] #6465 closed

[2022-09-29 21:58] Jont828 commented on #7301
/assign

[2022-09-29 21:59] Jont828 commented on #7155
Fair enough, if we'd like to keep it separate then I'll go ahead and close out this issue.

[2022-09-29 21:59] #7155 closed

[2022-09-29 22:00] Jont828 commented on #7300
/assign

[2022-09-29 22:23] Jont828 commented on #4288
/assign

[2022-09-29 22:24] Jont828 commented on #4288
Sounds good I'll look into it!

[2022-09-30 01:07] ykakarap commented on #7216
We dont explicitly call it out now, but I think we should add a section about this in the new Certificate Renewal doc that we are adding. Ref PR: https://github.com/kubernetes-sigs/cluster-api/pull/7268

[2022-09-30 08:15] fabriziopandini commented on #5863
/help

[2022-09-30 08:52] fabriziopandini opened #7318 "Drop fix RBAC from component management in clusterctl"
clusterctl dropped support for many instances of the same providers a couple of release ago, but there are still some part of the code that consider this uses case. By cleaning them up we can simplify the codebase.

One of them is [fixRBAC](https://github.com/kubernetes-sigs/cluster-api/blob/dca818ab13049ea972400cae188b1bd3d47b5d55/cmd/clusterctl/client/repository/components.go#L262) while process

[2022-09-30 09:07] fabriziopandini opened #7319 "Simplify UX in clusterctl upgrades"
clusterctl dropped support for many instances of the same providers a couple of release ago, but there is still some part of the code that consider this uses case. By cleaning them up we can simplify the UX of some commands.

One of them is [clusterctl upgrade apply](https://cluster-api.sigs.k8s.io/clusterctl/commands/upgrade.html) UX, that when upgrading single providers by using flags like --boo

[2022-09-30 09:16] fabriziopandini opened #7320 "Drop test/e2e/Makefile"
In the effort to simplify the CAPI codebase, we are progressively dropping secondary Makefiles, moving everything to the top-level Makefile.

The next in the list is test/e2e/Makefile, which, after https://github.com/kubernetes-sigs/cluster-api/pull/7288 merge, will have a few targets left.

The implementation should take care also to pdate all calls to make targets accordingly (both in code, scri

[2022-09-30 09:33] fabriziopandini opened #7321 "Improve RuntimeSDK error management (or conditions)"
After some time using runtime SDK iI have found some places where we can improve error management for Runtime SDK; I'm listing some improvement idea here, but this does not imply all of them should be fixed in a single PR (many PR is fine or even better).

**Extension Config**

There is little visibility in the errors that can happen while registering a runtime extension:
- Lack of certificates
-

[2022-09-30 11:08] sbueringer commented on #7320
/triage accepted

[2022-09-30 11:12] sbueringer commented on #7319
Wouldn't this mean the same provider cannot deployed twice at the same time with clusterctl? Or is that the case we dropped?

[2022-09-30 11:12] sbueringer commented on #7319
/triage accepted

[2022-09-30 11:18] sbueringer commented on #7321
It would be good if we can check if it would fit to also cover the certificate injection in the existing Discovery condition

I would prefer the first option. I think the second one is too dangerous. Essentially Runtime Extension authors have to sanitize every error they return. If they do some downstream requests to cloud APIs, ... the propagated errors could change in arbitrary ways.

[2022-09-30 11:20] sbueringer commented on #7293
One way to do this is to use a different additional annotation (something that expresses "default replicas")

[2022-09-30 11:22] sbueringer commented on #7318
/triage accepted

[2022-09-30 11:24] killianmuldoon commented on #7293
If we're adding an annotation would it be better to add something even more generic - e.g. `external-scaling`, allow users to set replicas in the ClusterClass but only set the replica count on MD creation?

That way the flow feels more natural to me i.e. replicas are set in the replica field but scaling is no longer handled by the topology controller. It feels confusing to have two places to set t

[2022-09-30 11:27] sbueringer commented on #5863
For prior art, please see: https://github.com/kubernetes-sigs/cluster-api/issues/6278#issuecomment-1070914169

Most if it applies to this issue as well (except that we only have to add something to the MachineDeployment types, the control plane should not be adjusted)

[2022-09-30 11:28] sbueringer commented on #5863
I think I would only add it to MachineDeploymentTopology for now and not to the MachineDeploymentClass (as mentioned in the title)

[2022-09-30 11:32] sbueringer commented on #7293
The problem is that if we only set it on create the subsequent update would remove the field again which again leads to the default value being set.

This would only work if the objects is created/modified exactly in this order:
1. Cluster topology controller creates the MD with .spec.replicas being set (and thus owns .spec.replicas)
2. autoscaler updates the MD and overwrites the .spec.replicas f

[2022-09-30 11:41] killianmuldoon commented on #7293
I think there's a few ways to work around that in the implementation e.g. the webhook could check for the annotation and not default if it's there. I'm wondering though what the cleanest version of the API is for autoscaling, assuming we want one way to support multiple types of external scaling.

[2022-09-30 12:31] fabriziopandini opened #7322 "Ideas for test extensions improvements"
While developing https://github.com/kubernetes-sigs/cluster-api/pull/7288 we collected some ideas for improving test extensions; I'm reporting them here in order to keep track/ trigger discussion on next steps

- https://github.com/kubernetes-sigs/cluster-api/pull/7288#discussion_r981141622 Rename test extension to something that avoids us to use "runtime-extension-test-extension" (or make test-te

[2022-09-30 12:41] sbueringer opened #7324 "e2e-mink8s is failing"
The e2e-mink8s job is failing since yesterday: https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api#capi-e2e-main

The issue was introduced in #7226. Essentially the mink8s job has ClusterClass disabled because it's jusing Kubernetes v1.20 as mgmt cluster. The new test wasn't tagged correctly with `[ClusterClass]`.

/kind bug
[One or more /area label. See https://github.com/kubernetes-sigs/cl

[2022-09-30 12:41] sbueringer commented on #7324
/triage accepted

[2022-09-30 12:52] #7324 closed

[2022-09-30 18:57] fabriziopandini commented on #493
/triage accepted

[2022-09-30 19:08] fabriziopandini commented on #1554
/triage accepted
This is up to providers, if we want this to happen the topic should be raised in the office hours and an agreement between provider implementer should be reached

[2022-09-30 19:08] fabriziopandini commented on #1554
/help

[2022-09-30 19:11] fabriziopandini commented on #1677
closed in favour of https://github.com/kubernetes-sigs/cluster-api/issues/7308

[2022-09-30 19:11] fabriziopandini commented on #1677
/close

[2022-09-30 19:11] #1677 closed

[2022-09-30 19:12] fabriziopandini commented on #2217
/triage needs-information
@CecileRobertMichon is this still a problem?

[2022-09-30 19:16] fabriziopandini commented on #6539
/triage accepted

@sbueringer to comment about recent discovery on this topic

[2022-09-30 19:16] fabriziopandini commented on #2318
/triage accepted

the original ask to improve documentation is still valid; the discussion about how to model reference is tracked in https://github.com/kubernetes-sigs/cluster-api/issues/6539 so I suggest to drop it from this thread

/help

[2022-09-30 19:18] fabriziopandini commented on #2454
/close

until we get more evidence that there are still other occurrences of this error after https://github.com/kubernetes-sigs/cluster-api/pull/4997 merged

[2022-09-30 19:18] #2454 closed

[2022-09-30 19:18] fabriziopandini commented on #2599
/triage accepted

[2022-09-30 19:19] fabriziopandini commented on #2599
/help
/unassign @killianmuldoon

[2022-09-30 19:21] fabriziopandini commented on #2960
/close

As of today the easiest path is to delete and re-create.

[2022-09-30 19:21] #2960 closed

[2022-09-30 19:22] fabriziopandini commented on #3075
/triage accepted
/unassign @randomvariable
/help

[2022-09-30 19:24] fabriziopandini commented on #3134
/triage accepted

[2022-09-30 19:28] fabriziopandini commented on #3227
/close

the issue is here since long time, but given the lack of cooments/progress it seems that there is no concrete need to define better deletion priorities

[2022-09-30 19:28] #3227 closed

[2022-09-30 19:29] fabriziopandini commented on #3259
/close
over time the mutable surface of KCP has been increased addressing more use cases

[2022-09-30 19:29] #3259 closed

[2022-09-30 19:31] fabriziopandini commented on #3425
/triage accepted

we should start documenting this somewhere, then we can consider if and how to enforce it in the code

[2022-09-30 19:33] fabriziopandini commented on #3686
/triage accepted
@sbueringer I remember making progress on this issue while working toghether on some E2E improvements. Could you kindly check if this is still valid

[2022-09-30 19:34] fabriziopandini commented on #3697
/close
in favour of https://github.com/kubernetes-sigs/cluster-api/issues/7011 and https://github.com/kubernetes-sigs/cluster-api/issues/7010

[2022-09-30 19:34] #3697 closed

[2022-09-30 19:35] fabriziopandini commented on #7010
/triage accepted
/help

[2022-09-30 19:35] fabriziopandini commented on #7011
/help

[2022-09-30 19:36] fabriziopandini commented on #3700
/triage accepted

/help

[2022-09-30 19:37] fabriziopandini commented on #3762
/triage accepted
/help

[2022-09-30 19:38] fabriziopandini commented on #3779
/triage accepted
/help

[2022-09-30 19:39] fabriziopandini commented on #3782
/triage accepted
/help

[2022-09-30 19:40] #3828 closed

[2022-09-30 19:41] fabriziopandini commented on #3845
/close
given that we don't have evidence of problems due to the current rule

[2022-09-30 19:41] #3845 closed

[2022-09-30 19:42] #3854 closed

[2022-09-30 19:44] fabriziopandini commented on #4288
/triage acepted

[2022-09-30 19:47] fabriziopandini commented on #5393
/triage accepted
/unassign @killianmuldoon

[2022-09-30 19:48] fabriziopandini commented on #5394
/triage accepted
/unassign @SubhasmitaSw

[2022-09-30 19:48] fabriziopandini commented on #5487
/triage accepted

[2022-09-30 19:49] fabriziopandini commented on #5542
/triage accepted
/help

[2022-09-30 19:49] fabriziopandini commented on #5705
/triage accepted

[2022-09-30 19:54] fabriziopandini commented on #5309
/triage accepted

[2022-09-30 19:54] fabriziopandini commented on #5517
/triage accepted

[2022-09-30 19:54] fabriziopandini commented on #4526
/triage accepted

[2022-09-30 19:55] fabriziopandini commented on #4536
/triage accepted

[2022-09-30 19:57] fabriziopandini commented on #6965
/triage accepted

[2022-09-30 19:58] fabriziopandini commented on #5598
/close

given recent changes in the topology controller this is not relevant anymore

[2022-09-30 19:58] #5598 closed

[2022-09-30 20:00] fabriziopandini commented on #6152
/triage accepted
/remove-kind cleanup
/kind documentation

[2022-09-30 20:01] fabriziopandini commented on #6976
/triage accepted

[2022-09-30 20:03] fabriziopandini commented on #5123
/triage accepted
worth to investigate if this is still the case

[2022-09-30 20:06] fabriziopandini commented on #6327
/triage accepted
/help

[2022-09-30 20:09] #6442 closed

[2022-09-30 20:25] CecileRobertMichon commented on #2217
if you're asking if

is still true, then yes. I know some providers including CAPZ have implemented workaround to trim the AzureMachineName to use as hostname (https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/azure/scope/machine.go#L399). Not sure if this is something that can be fixed at the CAPI level. @marosset do you have any thoughts?

[2022-09-30 20:46] elmiko commented on #7293
i wonder if it make sense to have some sort of field or annotation that shows the MD is being managed by something else?

[2022-09-30 22:13] oscr commented on #7320
/assign

[2022-10-01 12:35] oscr commented on #7318
Some control questions to get the scope right from the start:
* What clusterctl version(s) would be reasonable to upgrade from?
* Should we test step by step upgrade (1.0 -> 1.1 -> 1.2 -> master) and/or "jump" upgrades (1.0 -> master, 1.1 -> master)?
* Would creating a cluster (the getting started guide with capd) and then upgrading the cluster be a sufficient test scope?

[2022-10-01 12:36] oscr commented on #7318
/assign

[2022-10-03 08:46] fabriziopandini commented on #1250
/unassign @randomvariable

[2022-10-03 08:55] fabriziopandini commented on #7318
I will test upgrading from v1.2.2 (latest release with fixed RBAC) to main

I don't think it is necessary to test sequences, once we team from a version with fixed RBAC to the new version without RABC fix, all the combination should be the same

Yes this (while looking at RBAC rules in the cluster) or the E2E for clusterctl upgrades

[2022-10-03 10:51] umesh168 opened #7330 "cluster api having networking issue while using docker provider"
Steps to reproduce the issue
Follow cluster api quick start [here](https://cluster-api.sigs.k8s.io/user/quick-start.html)

**What did you expect to happen:**
It show 3 replica after running command
`kubectl get kubeadmcontrolplane`

**Anything else you would like to add:**
NAMESPACE↑             NAME                                                    CLUSTER                     NODENAME

[2022-10-03 10:59] killianmuldoon commented on #7330
This isn't necessarily a networking error - when the client is timing out like that it means the Cluster isn't contactable. That could be a network error, or it could mean that the target cluster isn't actually running.

Can you provide the output of `docker ps`? There's some additional steps to help debug / find the correct errors from the quick start at https://cluster-api.sigs.k8s.io/user/troub

[2022-10-03 11:03] umesh168 commented on #7330
CONTAINER ID   IMAGE                                COMMAND                  CREATED          STATUS          PORTS                                  NAMES
48897e84aa0d   kindest/node:v1.25.0                 "/usr/local/bin/entr…"   11 minutes ago   Up 11 minutes   36893/tcp, 127.0.0.1:36893->6443/tcp   capi-quickstart-47d7b-vk7tg
8063eca1ea18   kindest/haproxy:v20210715-a6da3463   "haproxy -sf 7 -

[2022-10-03 12:09] umesh168 commented on #7330
CONTAINER ID   IMAGE                                COMMAND                  CREATED       STATUS       PORTS                                  NAMES
48897e84aa0d   kindest/node:v1.25.0                 "/usr/local/bin/entr…"   4 hours ago   Up 4 hours   36893/tcp, 127.0.0.1:36893->6443/tcp   capi-quickstart-47d7b-vk7tg
8063eca1ea18   kindest/haproxy:v20210715-a6da3463   "haproxy -sf 7 -W -d…"   4 h

[2022-10-03 12:12] killianmuldoon commented on #7330
Can you check the status of the Machine objects? Can you see if there are errors in the logs of CAPD?

[2022-10-03 13:17] umesh168 commented on #7330
@killianmuldoon here are some more details from docker desktop hxproxy not running
<img width="1271" alt="Screenshot 2022-10-03 at 6 43 43 PM" src="https://user-images.githubusercontent.com/11361117/193586261-20fcab2a-7cf0-4c8d-b8b1-a9e4157cfe87.png">
and logs for the same
[WARNING] 275/073913 (1) : config : missing timeouts for frontend 'controlPlane'.
2022-10-03T07:39:13.813476586Z | not properl

[2022-10-03 13:28] umesh168 commented on #7330
**containerd.log**
Oct 03 07:53:45 kind-control-plane containerd[99]: time="2022-10-03T07:53:45.389292253Z" level=info msg="RemoveContainer for \"615835aa60d5a9cdded7cf75e8de9918cce71e37236ac19e6f0dce1a0add000d\" returns successfully"
Oct 03 07:53:45 kind-control-plane containerd[99]: time="2022-10-03T07:53:45.389919420Z" level=error msg="ContainerStatus for \"615835aa60d5a9cdded7cf75e8de9918cce71

[2022-10-03 14:35] killianmuldoon commented on #7330
I'm not sure what the issue is with the haproxy container - I've seen it fail due to resource exhaustion on Linux systems at times. Can you share what resources you're dedicating to Docker Desktop? Can you see what memory usage is like when you create a new cluster and haproxy fails?

It would also be really helpful if you could see if there's anything relevant in the capd infrastructure provider

[2022-10-03 14:41] umesh168 commented on #7330
`E1003 10:22:18.784244 1 controller.go:182] "Failed to update KubeadmControlPlane Status" err="failed to create remote cluster client: error creating client and cache for remote cluster: error creating dynamic rest mapper for remote cluster \"default/capi-quickstart\": Get \"https://172.18.0.2:6443/api?timeout=10s\": net/http: request canceled while waiting for connection (Client.Timeout exceeded

[2022-10-03 17:11] fabriziopandini commented on #3974
/triage accepted

[2022-10-03 17:12] fabriziopandini commented on #3975
/triage accepted

[2022-10-03 17:12] fabriziopandini commented on #4031
/help wanted

[2022-10-03 17:13] fabriziopandini commented on #4031
/help

[2022-10-03 17:14] fabriziopandini commented on #4166
/triage accepted

@CecileRobertMichon @yastij PTAL and update

[2022-10-03 17:17] fabriziopandini commented on #4278
/close

we are relying on CR tooling, if there is an issue it should be fixed there

[2022-10-03 17:17] #4278 closed

[2022-10-03 17:18] fabriziopandini commented on #4279
/triage accepted

this is being worked on controller runtime

[2022-10-03 17:18] fabriziopandini commented on #4288
/triage accepted

[2022-10-03 17:20] fabriziopandini commented on #4304
/triage accepted
/unassign @yastij

/help

[2022-10-03 17:22] fabriziopandini commented on #4464
/close

Given that the future of component config is not clear I would avoid extending its usage in CAPI. Let's collect use cases where current approach does not work before committing to a way forward

[2022-10-03 17:22] #4464 closed

[2022-10-03 17:23] fabriziopandini commented on #4512
/close

Given that the future of component config is not clear I would avoid extending its usage in CAPI. Let's collect use cases where the current approach does not work before committing to a way forward

[2022-10-03 17:23] #4512 closed

[2022-10-03 17:26] fabriziopandini commented on #4585
/triage accepted
/unassign @ykakarap

@joejulian could you share how you fixed this problem as per https://github.com/kubernetes-sigs/cluster-api/issues/4585#issuecomment-1027310851 so someone can pick up the work in CAPI
/help

[2022-10-03 17:27] fabriziopandini commented on #4608
/close

so if someone will revive the work on this CAEP, he could make his own work breakdown.

[2022-10-03 17:27] #4608 closed

[2022-10-03 17:27] #4609 closed

[2022-10-03 17:28] fabriziopandini commented on #4610
/close

so if someone will revive the work on this CAEP, he could make his own work breakdown.

[2022-10-03 17:28] #4610 closed

[2022-10-03 17:28] fabriziopandini commented on #4611
/close

so if someone will revive the work on this CAEP, he could make his own work breakdown.

[2022-10-03 17:28] #4611 closed

[2022-10-03 17:29] fabriziopandini commented on #4658
/close
due to lack of activity, we can re-open if someone is interested to pick up the work

[2022-10-03 17:30] fabriziopandini commented on #4807
/triage accepted

[2022-10-03 17:33] faiq commented on #4585
@fabriziopandini we modify the core-components.yaml file with this `kustomization` overlay

[code]

[2022-10-03 18:06] dlipovetsky commented on #4585
Sounds like we have at least 3 options, in order from "least work required" to "most work required" from our users:

1. Include these env variables in the manifest for the core provider.
2. Document how to add these env variables by patching the manifest, e.g. with kustomize.
3. Document how to use a mutating webhook to set these env variables.

(In every cases, users need to include information l

[2022-10-03 19:26] fabriziopandini commented on #4875
/triage accepted

[2022-10-03 19:27] fabriziopandini commented on #4936
/triage accepted

[2022-10-03 19:28] #5026 closed

[2022-10-03 19:30] fabriziopandini commented on #5035
/triage accepted
/unassign @ykakarap

/help

[2022-10-03 19:32] fabriziopandini commented on #5124
/triage accepted
/help

/remove-lifecycle frozen
so this issue will be closed if no one step up for moving this forward

[2022-10-03 19:32] fabriziopandini commented on #5263
/triage accepted
/help

[2022-10-03 19:33] fabriziopandini commented on #5291
/triage accepted
/unassign @aartij17

[2022-10-03 19:35] fabriziopandini commented on #5294
/unassign @killianmuldoon
/kind api-change
/help
this work really requires a proposal to be agreed before the next API bump

[2022-10-03 19:36] fabriziopandini commented on #5295
/triage accepted
/help

[2022-10-03 19:37] fabriziopandini commented on #5323
/close
we can reconsider if we find out problems in the current deployment method

[2022-10-03 19:37] #5323 closed

[2022-10-03 19:37] fabriziopandini commented on #5332
/triage accepted

[2022-10-03 19:37] fabriziopandini commented on #5341
/triage accepted
/help

[2022-10-03 19:38] fabriziopandini commented on #5370
/triage accepted
/help

[2022-10-03 19:41] fabriziopandini commented on #5392
/help

In order to set those values benchmark data are required; also sizing depends on number of targets objects to manage (clusters/machines) and they can be impacted by performances of the hardware used for the management cluster

[2022-10-03 19:42] fabriziopandini commented on #5450
/triage accepted
/help

still a nice idea, might help having some concrete use case

[2022-10-03 19:44] fabriziopandini commented on #5453
/triage accepted
/unassign @ykakarap
/help

[2022-10-03 19:46] dantiandb opened #7332 "MachinePool phase stuck in Failed state even if InfrastructureRef is healthy"
**What steps did you take and what happened:**
When reconciling a MachinePool, if the InfrastructureRef object encounters an error during reconciliation in `reconcileExternal()`, the machine pool controller sets the MP fields `Status.FailureReason` and `Status.FailureMessage` here:
https://github.com/kubernetes-sigs/cluster-api/blob/main/exp/internal/controllers/machinepool_controller_phases.go#L1

[2022-10-03 19:46] fabriziopandini commented on #5477
/triage accepted
/unassign @randomvariable
/unassign @gab-satchi

This should be re-assessed after we improved how token renewal is managed (tokens are now renewed until the machine joins); also in kubeadm we recently discussed to revive the work on etcd learner mode

[2022-10-03 19:47] fabriziopandini commented on #5477
/help

[2022-10-03 19:51] fabriziopandini commented on #5491
/triage accepted
this is being address by https://github.com/kubernetes-sigs/cluster-api/pull/6905 plus companies using Cluster API have their own solution for addon management

@PushkarJ PTAL to the linked proposal

[2022-10-03 19:51] fabriziopandini commented on #5510
/triage accepted
/unassign @killianmuldoon
/help

[2022-10-03 19:54] fabriziopandini commented on #5513
/triage accepted
/help
IMO such a feature will make sense after / when we are hitting GA with API; however, if someone has use case for this, let's document them and see if we can address them tactically

[2022-10-03 19:54] fabriziopandini commented on #5553
/triage accepted

[2022-10-03 19:55] fabriziopandini commented on #5557
/triage accepted
/unassign @RaghavRoy145

[2022-10-03 19:57] fabriziopandini commented on #5635
/triage accepted
/help
/unassign @enxebre

We still need to figure out if to maintain failureReason/Message or if to merge everything into conditions and benefit from a single mechanism to bubble up problems

[2022-10-03 19:59] fabriziopandini commented on #5658
/triage needs-information
/unassign @dthorsen

@CecileRobertMichon  is this still something on your radar?

[2022-10-03 20:01] fabriziopandini commented on #5666
/triage accepted
/unassign @Arvinderpal
/help

This still need to figure out long term plan for failure domain

[2022-10-03 20:02] fabriziopandini commented on #5666
related to https://github.com/kubernetes-sigs/cluster-api/issues/5667

[2022-10-03 20:03] fabriziopandini commented on #5667
/triage accepted
/help

This still need to figure out long term plan for failure domain
related to https://github.com/kubernetes-sigs/cluster-api/issues/5666

[2022-10-03 20:03] fabriziopandini commented on #5880
/triage accepted
/assign @fabriziopandini

[2022-10-03 20:06] fabriziopandini commented on #5490
/triage accepted
@PushkarJ  we are implementing automatic certificate renewal as described in https://github.com/kubernetes-sigs/cluster-api/pull/7268. is this enough to close this issue?

[2022-10-03 20:07] fabriziopandini commented on #3974
/help

[2022-10-03 20:58] CecileRobertMichon commented on #5658
@jackfrancis was in #7107

/assign @jackfrancis

[2022-10-04 07:57] sbueringer commented on #7318
Sounds like running e2e-full on the PR should cover it (and more)

[2022-10-04 09:09] fabriziopandini commented on #7318
Yes, E2E covers it, but human eyes have to check the we are not leaving behind objects when we move from a version with fixed RBAC to the new version without RABC fix

[2022-10-04 09:10] chrischdi commented on #7318
/retitle Drop fix RBAC from component management in clusterctl

[2022-10-04 09:11] fabriziopandini commented on #5658
/remove-triage needs-information
/triage accepted

[2022-10-04 09:19] fabriziopandini commented on #7332
/remove-kind bug
/kind support
/triage accepted

Status.FailureReason / Status.FailureMessage must be used for terminal failures only, so it is not expected/supported this error to go away.
See discussion on https://github.com/kubernetes-sigs/cluster-api/issues/7191

[2022-10-04 10:02] fabriziopandini commented on #4031
linked to https://github.com/kubernetes-sigs/cluster-api/issues/5667

[2022-10-04 10:09] fabriziopandini commented on #7330
/kind support

from a quick look CAPD is failing to update the configuration inside the HA proxy image, CAPD logs should have an error if this is what is happening but this is a very uncommon error

[2022-10-04 10:10] fabriziopandini commented on #7311
This implies some plumbing, but it should be doable
/triage accepted
/help

[2022-10-04 13:03] killianmuldoon opened #7337 "Patch UID in error causing infinite reconcile"
In the Topology Reconciler's patching logic `applyPatchesToRequest` returns an error which includes the Patch UID if the patch fails. If a patch is misspecified (i.e. always errors in this function) this error gets added to a TopologyReconciled condition on the Cluster object. The result is `infinite` reconciles i.e. no exponential backoff if this error occurs, similar to the issue in https://gith

[2022-10-04 13:09] timoreimann commented on #4512
FWIW, we'd also like to disable / omit kube-proxy long-term as we plan to use Cilium's kube-proxy-free mode where all forwarding/routing is supposed to happen through eBPF. Not 100% sure if that's relevant here (or rather kubeadm), but I thought I'd share it since @fabriziopandini asked for collecting use cases.

[2022-10-04 14:03] sbueringer opened #7340 "Bump to golangci-lint v1.50"
Hey folks,

there's a new golangci-lint v1.50 released (just today). Let's bump golangci-lint + fix new findings if there are new ones.

golangci-lint can be bumpbed by changing the version here: https://github.com/kubernetes-sigs/cluster-api/blob/2fb25ef8e337acd7c7efe866c041a7d8b40c2932/.github/workflows/golangci-lint.yml#L28

The new linter can be tested locally via `make lint`

/help
/kind feat

[2022-10-04 14:24] sbueringer commented on #3686
@fabriziopandini `.spec.bootstrapped` is now deprecated and will be removed with v1beta2.

We don't have it in status, but I don't think we need it there, given we have `ready`.

I think we can close this issue

[2022-10-04 14:24] sbueringer commented on #7340
Fixed in #7336

/close

[2022-10-04 14:26] sbueringer commented on #4512
Thx for the info. We also have this issue: #3700

As far as I know kube-proxy deployment can be disabled via the `controlplane.cluster.x-k8s.io/skip-kube-proxy` annotation.

[2022-10-04 14:27] sbueringer commented on #3700
@fabriziopandini I think this is possible today via: `controlplane.cluster.x-k8s.io/skip-kube-proxy`

Not sure if this covers the entire issue.

[2022-10-04 14:32] fabriziopandini commented on #3700
I have to dig into this, but on top of my mind what we have now isn't a clean API because you have to use phases to skip addon installation and then use the annotation above to avoid errors on upgrades.
But you are right, this can be achieved now; let's keep this open to see if we gather ideas about if and how we should improve the UX

[2022-10-04 14:38] fabriziopandini commented on #4512
@timoreimann thanks for sharing!
I agree with @sbueringer that https://github.com/kubernetes-sigs/cluster-api/issues/3700 is most appropriate to track your use cases (this one was about exposing the kube-proxy component config instead)

[2022-10-04 14:41] fabriziopandini commented on #3686
thanks for the update!
/close

[2022-10-04 14:42] sbueringer commented on #3700
Oh you're right. Same for CoreDNS

[2022-10-04 14:55] sbueringer commented on #7337
I think our best option is to log with UID and return the error without as you suggested.

[2022-10-04 15:32] joejulian commented on #4585
@fabriziopandini I don't remember what we did (and I don't work there anymore so I can't go back and check).

[2022-10-04 15:36] joejulian commented on #4585
I think it's obvious I support 1. :)

2. Seems odd that we'd rebuild this entire toolset around templating but this one bit we'd require using kustomize.
3. How would this webhook be installed without the proxy config?

[2022-10-04 18:45] ykakarap opened #7342 "KCP should introspect machine certificate expiry information from node to enable automatic certificate renewal"
**User Story**

Recently a feature was introduced in KCP to enable automatic renewal of certificates by doing a repave: https://github.com/kubernetes-sigs/cluster-api/pull/6983

This feature only works for control plane machines created using Cluster API v1.3 or above.
For older control plane machines it needs manual intervention from the user to provide the actual certificate expiry date of the c

[2022-10-04 19:46] sbueringer commented on #7342
I wonder if we should really introduce this mechanism in our controller. It's only needed for old machines, but we will still never be really able to remove this code again (as we will have to assume for a very long time that old machines still exist).

Apart from that I wonder if it's worth investing the effort to implement this. It's non-trivial to do considering that this probably has to work o

[2022-10-04 19:52] sbueringer commented on #7342
I wonder if there might be some other/better ways to determine the node creation date and we just missed them:
* inspect the kube-apiserver or etcd-server serving certificate for expiry (of the specific node)
  * Should be the same expiry as the other certs: https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/#check-certificate-expiration
* Maybe the etcd member of the machin

[2022-10-04 19:52] sbueringer commented on #7342
@vincepri WDYT?

[2022-10-04 20:04] fabriziopandini commented on #6154
/assign

[2022-10-05 04:57] timoreimann commented on #4512
Thanks to both of you. The info in #3700 is super useful to us.

[2022-10-05 10:57] sbueringer commented on #5477
Quick update: kubeadm learner mode RFE:
* https://github.com/kubernetes/kubeadm/issues/1793#issuecomment-1268139489
* https://hackmd.io/@DAKGcrh_RpC5vlt8w5bf8A/r1qoLh9zj

[2022-10-05 11:20] fabriziopandini commented on #7342
I'm +1 to explore this idea, but we should find a solution that does not require adding new binaries to the controller image (do something equivalent via some go code)

[2022-10-05 11:25] sbueringer commented on #7342
/assign

[2022-10-05 12:03] fabriziopandini commented on #4585
I agree that adding env var to the manifest is the simplest way forward, my only concern is that in the past we got push-back for this type of change by folks using git-ops and trying to use yaml files directly (and in fact there is https://github.com/kubernetes-sigs/cluster-api/issues/3881 asking to remove all the variables we currently have).

[2022-10-05 12:08] furkatgofurov7 commented on #7311
/assign @mboukhalfa

[2022-10-05 12:47] sbueringer commented on #5457
@Jont828 Sorry missed this in Feburary. I've implemented a solution for it in #7343 (we would like to use the functionality at a KubeCon tutorial in two weeks)

/assign

[2022-10-05 13:00] sbueringer opened #7346 "clusterctl: Consider re-using repositoryClientFactory"
While implementing #7343 we noticed that we create multiple repositoryClientFactories in clusterctl.

`newClusterctlClient`:
https://github.com/kubernetes-sigs/cluster-api/blob/44f9fd9501bd8aa2e5a77597dd9cc02a09af46e4/cmd/clusterctl/client/client.go#L188-L195

`defaultRepositoryFactory` and `defaultClusterFactory`
https://github.com/kubernetes-sigs/cluster-api/blob/44f9fd9501bd8aa2e5a77597dd9cc02a

[2022-10-05 13:20] killianmuldoon commented on #7337
/assign

[2022-10-05 16:29] sbueringer opened #7348 "Upgrade to Go 1.19.2 / 1.18.7"
There are a few CVEs in upstream Go. Let's bump to the latest releases on main & release-1.2

xref: https://twitter.com/golang/status/1577362057493626908

[One or more /area label. See https://github.com/kubernetes-sigs/cluster-api/labels?q=area for the list of labels]

https://github.com/kubernetes-sigs/cluster-api/issues/7348#tasklist-block-375daaf4-3210-4be2-904b-e48f816c6d73

[2022-10-05 16:33] sbueringer commented on #7348
/triage accepted

[2022-10-05 16:51] joejulian commented on #4585
I've never been a fan of adding the complexity of templating to cluster-api a la ClusterClass, but the community felt the return was worth it. Embracing that change; I'm not sure, now, where the distinction lies between one form of templating and another. Is there a way to solve this that's more in line with ClusterClass, maybe?

[2022-10-05 16:56] #7238 closed

[2022-10-05 17:31] chrischdi commented on #5477
Also related: had to increase the timeout here for self-hosted upgrade tests. From my analysis the reason here is also etcd churn and side-effects of it (e.g. leader-election failing which makes webhooks unavailable).

- code-change: https://github.com/kubernetes-sigs/cluster-api/blob/02f42f2ffc4114d00a300ae3d8cd39a4c934fc5c/test/framework/cluster_proxy.go#L49-L53
- xref PR discussion: https://git

[2022-10-05 17:43] mrog opened #7353 "While creating a new cluster, CAPI fails to remediate new machines that aren't functional"
**What steps did you take and what happened:**
I'm using [EKS Anywhere](https://github.com/aws/eks-anywhere) (EKS-A) to create clusters.  EKS-A uses CAPI.  I'm using Apache CloudStack via [CAPC](https://github.com/kubernetes-sigs/cluster-api-provider-cloudstack) for the infrastructure.

CAPI's machine health checker (MHC) works well, but only after a cluster is fully created.  If there's a problem

[2022-10-05 17:44] sbueringer commented on #4585
Just for my understanding. For which connections do we need the http proxy configuration?
1. communication from CAPI to infra provider APIs (AWS,Azure,...)
2. communication from CAPI to workload clusters

I'm just a bit confused because the original ask was for the infra provider, but core CAPI is not accessing it.

[2022-10-06 10:12] chrischdi commented on #4585
4. communication from workload clusters to endpoints (registry, internet, ...)

[2022-10-06 10:16] chrischdi commented on #7230
#7239 will not implement it for single node clusters (1 replica for KCP, 0 worker nodes).

The first point failing would be: cert-manager pods not having tolerations to run on the control-plane nodes.

If that is the requirement, we should keep it out-of scope for #7239 and build on top instead.

[2022-10-06 10:27] fabriziopandini commented on #7353
/triage support

might be I'm missing something in the issue description, but it seems to me that what you are describing can be achieved by MHC's nodeStartupTimeout, am I wrong?

otherwise, I'm not sure I fully grasp the meaning of

[2022-10-06 10:28] fabriziopandini commented on #7353
/triage accepted
/kind support

[2022-10-06 10:34] fabriziopandini commented on #5477
We should better sequence what's happening here.
KCP move leadership to another node only before deleting the current leader, so we are already minimizing the number of forced leader changes / doing what is possible for them to happen in a controlled way.
Everything else is raft periodic leader election that should be pretty stable, assuming the current leader answers timely.
🤔

[2022-10-06 10:37] fabriziopandini commented on #7346
/triage accepted
As a first step, I will make sure we are always creating repository with the same parameters given that this is probably easier, but might be that there is a solution to directly move to use only one repository client

[2022-10-06 10:38] fabriziopandini commented on #5457
/unassign @Jont828

[2022-10-06 13:17] sbueringer commented on #7320
I'm not sure if it is beneficial in general to have one huge monotlithic Makefile if the targets are independent.

I understand there was considerable overlap between the top-level, CAPD and test/extension Makefiles.
I'm not sure if that's true for the doc Makefiles.

But could be still useful to have all targets available at the root

[2022-10-06 13:41] sbueringer commented on #7230
Good finding, missed that one. Yup let's make it a follow-up

[2022-10-06 13:47] oscr commented on #7320
I kind of like how CAPO has split the Makefile into common component parts. For example https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/main/common.mk and https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/main/versions.mk This is something I've been thinking about pocing for capi. So with this poc in mind I like unifying the different Makefiles into the

[2022-10-06 13:57] marvinWolff opened #7358 "Error when using multiple cidrBlocks"
**What steps did you take and what happened:**
I tried to migrate a cluster to clusterclass.
The cluster has multiple cidr entries specified:

[code]
When applied, we get the following error:

`E1006 13:36:33.544202       1 controller.go:326] "Reconciler error" err="error computing the desired state of the Cluster topology: failed to apply patches: failed to generate patch request: failed to calcu

[2022-10-06 14:03] killianmuldoon commented on #7358
From my reading of the code we are currently validating in the Cluster Topology controller if a Cluster has more than two cidr ranges defined. This validation isn't being done in the webhook, however, leading to a case like this, where creation works, but reconcile does not.

Previously the GetIPFamily wasn't called in the Cluster controller - it was introduced when the cidrs were added to variabl

[2022-10-06 14:09] sbueringer commented on #7358
No idea, but maybe the idea was to allow either IPv4 only, IPv6 only or one CIDR for IPv4 one for IPv6

What is Kubernetes supporting?

[2022-10-06 14:33] killianmuldoon commented on #7358
When I try to set the pod cidrs as above (and disable the check) this fails to bootstrap with an error from CAPD complaining about a failure to run the kubeadm command:
``
failed to exec DockerMachine bootstrap: failed to run cloud config
``

``
podSubnet: Invalid value: "192.168.0.0/20,192.168.64.0/18,192.168.128.0/18,192.168.192.0/19,192.168.224.0/20": expected one (IPv4 or IPv6) CIDR or two CID

[2022-10-06 16:27] fabriziopandini commented on #7358
it seems that also kubeadm is rejecting more than 2 CIDR

https://github.com/kubernetes/kubernetes/blob/93d1c43b491a39740297cf1e76782b99d8739865/cmd/kubeadm/app/apis/kubeadm/validation/validation.go#L391-L393

[2022-10-06 17:00] fabriziopandini commented on #7230
+1 to get an E2E test for taints: [] (with ClusterClass)

[2022-10-06 17:50] sbueringer commented on #7230
I'll follow-up once #7239 merges

[2022-10-06 18:19] mrog commented on #7353
Even with nodeStartupTimeout set to 5 minutes, MHC sees the newly provisioned machines as unhealthy.  It replaces them a few seconds after they transition to the Provisioned phase.

EKS-A uses clusterctl to create a new cluster.  Once this cluster creation process is complete, MHC works as designed.  But, it doesn't work properly during the creation of a new cluster.  During the cluster creation p

[2022-10-06 20:03] fabriziopandini commented on #7353
/remove-triage support
/triage needs-information

I'm trying to better understand your problem...
@JoelSpeed if it can take a look and seek if something in the description above rings some bell

MHC set the machine as unhealthy according to the rules defined in the spec, what is your MHC configuration? Can you provide more info about your setup (yaml resources) or evidence from logs to look at?

A

[2022-10-06 21:11] joejulian commented on #4585
I don't think you can add generalized proxy support. There's no standard.

[2022-10-07 06:18] chrischdi opened #7360 "Investigate self-hosted control-plane upgrades to exceed the 1 minute retryableOperationTimeout"
**What steps did you take and what happened:**

While developing #7239 which introduced self-hosted cluster upgrades I detected that the timeout of 1 minute for
- retryableOperationTimeout https://github.com/kubernetes-sigs/cluster-api/blob/31ebd8331ee13953430d10b60455b29041bfa10a/test/framework/cluster_proxy.go#L53
gets hit.

This happens in `GetControlPlaneMachinesByCluster`
- https://github.com

[2022-10-07 06:27] chrischdi commented on #7360
Maybe related to #5477

[2022-10-07 07:52] sbueringer commented on #7360
/triage accepted

[2022-10-07 11:19] #3728 closed

[2022-10-07 11:34] #5457 closed

[2022-10-07 11:51] #7165 closed

[2022-10-07 12:05] #7342 closed

[2022-10-07 13:13] #7149 closed

[2022-10-07 13:30] fabriziopandini opened #7367 "Automatically add node-role.kubernetes.io/control-plane toleration to CoreDNS deployment if missing"
kubeadm progressively introduced the `node-role.kubernetes.io/control-plane` taint as a replacement of the `node-role.kubernetes.io/control-master` taint on control plane nodes (see https://github.com/kubernetes/enhancements/blob/master/keps/sig-cluster-lifecycle/kubeadm/2067-rename-master-label-taint/README.md)

As a consequence of this change, it could happen that when upgrading to Kubernetes 1.

[2022-10-07 13:30] fabriziopandini commented on #7367
/triage accepted

[2022-10-07 13:31] sbueringer commented on #3279
To post this here as well as I regularly have to look this up somewhere:

Labels:
* v1.19:  only the old label is set
* v1.20-v1.23:  both labels are set
* v1.24: only the new label is set

Taints:
* x-v1.23: only old taint is set
* v1.24: both taints are set
* v1.25: only new taint is set

Stefan Büringer
  [8 days ago](https://vmware.slack.com/archives/C023W6H244V/p1664457853878439?thread_ts=166

[2022-10-07 14:06] sbueringer commented on #7367
/assign

[2022-10-07 15:31] #7367 closed

[2022-10-07 15:58] aniruddha2000 commented on #6535
I think this [part](https://github.com/kubernetes-sigs/cluster-api/blob/df0fb87932b9661ceea754dff79344fd3c395f20/cmd/clusterctl/client/cluster/template.go#L146-L154) is causing the issue.

[2022-10-07 17:37] sbueringer opened #7372 "Improve Linux tool installation in quickstart docs"
Just saw that the Kubernetes docs are installing kubectl after the download with

[code]

(xref: https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/#install-kubectl-binary-with-curl-on-linux)

Instead of chmod + mv ...

I think we should be able to use this in our quickstart as well (only for Linux).

/kind documentation
/help

[2022-10-07 17:37] sbueringer commented on #7372
/triage accepted

[2022-10-07 20:49] mrog commented on #7353
I reproduced the issue again using unmodified versions of EKS-A and all the k8s tools.  The management cluster is named `mark-mgmt`, and the workload cluster that's being created is named `mark-work`.  The attached cluster yaml file was generated by EKS-A.  I used kubectl to apply the health checks near the beginning of the cluster creation process.

As soon as the first worker VM was running, I d

[2022-10-07 21:28] mrog commented on #7353
Here's another example, again using unmodified code.  The setup is the same as the last one, except this time I disabled the first CP machine as it was being added to the new cluster.  The machine name was mark-work-5c42l.  That machine remained in the Provisioned phase for over 20 minutes before I manually deleted the cluster.  During this time, the cluster creation process was blocked.  Kubectl

[2022-10-08 00:23] #4288 closed

[2022-10-08 02:42] hackeramitkumar commented on #7372
@sbueringer I would like to work on it. Can you assign it to me?

[2022-10-08 02:52] hackeramitkumar commented on #7372
It's going to be my first contribution to this project, So please assign it to me.

[2022-10-08 05:51] sbueringer commented on #7372
Sure!

/assign @hackeramitkumar

[2022-10-08 10:45] oscr commented on #7319
/assign

[2022-10-09 08:12] k82cn opened #7378 "How to keep v1.Node in cluster when deleting Machine?"
**User Story**

As an operator, I would like to keep **v1.Node** in the cluster when deleting Machine; as I'd like to migrate cluster-api and infra to other cluster.

**Detailed Description**

I'd like to move cluster-api and infra to other cluster; so I'd like to keep v1.Node in the cluster, just remove cluster-api CRs.

**Anything else you would like to add:**

xref: https://metal3io.netlify.app

[2022-10-10 07:19] enxebre commented on #7378
Deleting the Node is part of the deletion workflow and I don't think it should be disassociated from it unless there's a strong rationale for it. For migration scenarios I'd suggest to explore spec.Pause, ,and may be open an issue to discuss best practices.

[2022-10-10 07:22] killianmuldoon commented on #7348
/close

[2022-10-10 07:22] #7348 closed

[2022-10-10 07:23] killianmuldoon commented on #7330
@umesh168 did you manage to resolve this?

[2022-10-10 08:51] fabriziopandini commented on #7378
I agree with @enxebre, this should not be implemented unless we clarify use cases/user stories around the idea of "detaching", which is something we do not support and, as far as I remember, was never discussed during office hours.

Please also note that in most of the infrastructure providers Machine deletion implies the removal of the underlying infrastructure, so keeping the node around does no

[2022-10-10 09:48] JoelSpeed commented on #7353
When you were testing this, did you have the MHC attached only to the management cluster? Bear in mind that the MHC needs to check both workload and management clusters as part of its logic, if you've connected it to just the management cluster then it won't be able to review the Nodes from the workload cluster and won't operate as intended.

From what I've read, it seems like Fabrizio is on to so

[2022-10-10 09:49] sbueringer commented on #7378
It sounds like the ask is to do something similar to clustectl move. Thus it can be probably solved with our current implementation accordingly.

[2022-10-10 10:22] k82cn commented on #7378
We're using [Metal3.BareMetalHost detached](https://metal3io.netlify.app/bmo/detached_annotation.html) feature which will not remove the infra. So in my case, I removed BareMetalHost without de-provision (the kubelet keep running), but the v1.Node was deleted by Machine.

Any guidance or links for that?

[2022-10-10 10:24] sbueringer commented on #7378
Here's the link:

But might not make any sense depending on what exactly you want to do.

[2022-10-10 14:54] killianmuldoon opened #7381 "clusterctl describe not working in Windows PowerShell"
Running `cluster describe cluster my-cluster` on PowerShell results in broken output as the colors are not rendered correctly. There is a current workaround involving setting a `NO_COLOR` environmental variable to print the output without color.

`clusterctl describe` (on main) supports a --color flag which forces color output when it's off by default (the library clusterctl uses fatih/color does

[2022-10-10 14:59] killianmuldoon opened #7382 "Improve troubleshooting guide for Cluster API"
The CAPI book currently has a troubleshooting page with a guide focused on the Quick Start.

https://cluster-api.sigs.k8s.io/user/troubleshooting.html

It would be great to have a more fully featured troubleshooting guide that takes users through the process of troubleshooting issues in Cluster API. Steps could, for example, include - looking at clusterctl describe, looking at conditions, reviewin

[2022-10-10 15:00] killianmuldoon commented on #7382
/kind documentation

[2022-10-10 15:31] #7292 closed

[2022-10-10 15:40] sbueringer commented on #7382
/triage accepted

[2022-10-10 19:44] jayunit100 commented on #1250
So , since this was made 3 years ago.  Tanzu supports AVI or kube vip as a loadbalancer.  And in the kube-vip case, we embed yaml for kube vip into our kubeadm file bootstrapping.

A more declarative way to do this would be cool, because it would be more understandable and then easier to separate out "LB UX / config problems" from "CAPI installation problems" from "infra" problems related to unrou

[2022-10-10 20:33] lubronzhan commented on #1250
Hi @detiber Looks like the google doc is no longer available Referenced here https://github.com/kubernetes-sigs/cluster-api/pull/4389#issue-843417701
https://docs.google.com/document/d/1wJrtd3hgVrUnZsdHDXQLXmZE3cbXVB5KChqmNusBGpE/edit#
Do you still have the original doc?

[2022-10-11 02:26] ruifaling opened #7385 "machine controller failed to receive resource changes about some machines"
when delete some workload cluster,the deletion lasted a long time. From the log,I found it has been a long time not recorded about the machines of this cluster,then I edit the machine(some controlplan machine) and add some labels, it still no log about the machine.
Then I delete the pod of capi-controller-manager,after the pod has been rebuild,the machine deleted,and at last the cluster deleted.

[2022-10-11 02:26] ruifaling commented on #7385
/help

[2022-10-11 06:41] farodin91 opened #7386 "ClusterClass: Old VSphereMachineTemplate get patched before new one is created"
**What steps did you take and what happened:**

1. (Adopt cluster by ClusterClass)
2. Upgrade kubeversion
3. clusterclass tried to patch old VSphereMachineTemplate of the controlplane
4. relaxed VSphereMachineTemplate validation
5. clusterclass patched old VSphereMachineTemplates of the controlplane
6. clusterclass created new VSphereMachineTemplates of the controlplane
7. controlplane upgrade wen

[2022-10-11 06:46] farodin91 commented on #7386
/area topology

[2022-10-11 07:34] sbueringer commented on #7386
Which CAPV version are you using?

[2022-10-11 07:40] farodin91 commented on #7386
CAPV: v1.3.1

[2022-10-11 07:40] sbueringer commented on #7386
It has to be v1.4
(I wasn't aware it was just released 8 hours ago)

[2022-10-11 07:41] sbueringer commented on #7386
If I'm right the old template wasn't patched we were just running a dry run SSA apply against it to figure out if we have to rotate.
There were changes needed in providers to make the dryrun work

[2022-10-11 07:41] sbueringer commented on #7386
2nd point in https://cluster-api.sigs.k8s.io/developer/providers/v1.1-to-v1.2.html#required-api-changes-for-providers

[2022-10-11 08:05] farodin91 commented on #7386
@sbueringer Should i close this ticket and reopen if required?

[2022-10-11 08:16] sbueringer commented on #7386
Up to you, I'm fine keeping it open a bit until you know if CAPV v1.4 solves it

[2022-10-11 09:23] killianmuldoon commented on #7385
I think we need a bit more information here to get to the bottom of this.

What infrastructure provider are you using? Do you know if the infrastructure machine was deleted? Do you have the output of the logs? How long was it taking for the Machine to be correctly deleted?

/triage needs-information
/kind support
/remove-help
(The help label is too signal work that someone in the community should

[2022-10-11 10:18] fabriziopandini commented on #7386
/triage accepted

Let's wait for confirmation before closing

[2022-10-11 10:24] sbueringer commented on #7385
Sorry Cluster API v0.4. is out of support. Can you please upgrade to the currently supported v1.2.x release series and see if the issue still occurs?

[2022-10-11 10:24] fabriziopandini commented on #7381
/triage accepted

Q: should we report the issue to fatih/color maintainers? (or might be this already has been fixed in latest version of this library)

[2022-10-11 10:25] sbueringer commented on #7381
I'm not sure if the library is wrong, but rather our usage of it.

[2022-10-11 10:30] fabriziopandini commented on #7381
that could be another issue as well, but I think we should nail down the problem before deciding to workaround it

[2022-10-11 10:36] killianmuldoon commented on #7381
We're using the latest version (v1.13.0) but it's 1+ years old. This issue might have been solved in a more recent commit.

[2022-10-11 11:47] sbueringer opened #7389 "Setup initial release docs, dates and team"
This is an umbrella issue which captures tasks we want to do **before** the v1.4.0 release cycle starts to have a starting point from which we can iterate.

## Preparation tasks

* [x] Assemble the release team for v1.4 (@CecileRobertMichon)
  * [x] PR to add the release team to the doc: #7470
* [x] Finalize v1.3 + v1.4 release dates + initial release cycle definition (@sbueringer #7391)
* [x] #74

[2022-10-11 11:47] sbueringer commented on #7389
/triage accepted

[2022-10-11 12:01] #7372 closed

[2022-10-11 14:27] killianmuldoon commented on #5263
The workaround for this for most users is probably just to use `kind` to get the kubeconfig - this is changed in documentation in #7392. I think we can close this issue (as it's about the quickstart on Docker only) if that change merges.

[2022-10-11 14:42] killianmuldoon commented on #7381
I'll report the issue, bit after going over a bunch of workarounds it seems that there's a general issue with getting colors to work in PowerShell / cmd environments.

Changing the terminal settings as described here - https://stackoverflow.com/questions/51680709/colored-text-output-in-powershell-console-using-ansi-vt100-codes - worked to fix the output but did not actually get colors in the outpu

[2022-10-11 14:54] killianmuldoon commented on #6980
/assign

[2022-10-11 16:10] chrischdi commented on #7360
Helpful new test to iterate on this: https://github.com/kubernetes-sigs/cluster-api/pull/7387

[2022-10-12 00:44] lubronzhan commented on #6511
The controller runtime [v0.13.0](https://github.com/kubernetes-sigs/controller-runtime/releases/tag/v0.13.0) already has the [fix](https://github.com/kubernetes-sigs/controller-runtime/pull/1897)

[2022-10-12 01:33] mrog commented on #7353
In both scenarios, the MHC is only attached to the management cluster.

MHC was only attached to the management cluster.  In the scenario where I disabled one of the MD VMs, the corresponding Machine object never got a nodeRef value, which suggests to me that it did not join the cluster.  The other Machines got nodeRef values, so it seems that they joined the cluster successfully.

I wasn't able t

[2022-10-12 04:01] PushkarJ commented on #5490
@fabriziopandini the linked PR does look promising. We can close this with the usual caveat that if somebody feels like there is something left in the scope that is not covered in the new feature docs, we should reopen the issue.

[2022-10-12 04:03] PushkarJ commented on #5491
@fabriziopandini Unfortunately, I do not have bandwidth anymore to go in depth into the linked CAEP but the overall proposal seems to do what is intended in this issue description!

[2022-10-12 09:59] sbueringer commented on #6511
I think it would be good if we would implement the flag like this:
* It should be ~ consistent with the `tls-min-version` flag of the [kube-apiserver](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/) regarding flag name + possible values
* I think it could be a good idea to default to 1.2. But to do this we have to verify if that works on Kubernetes 1.20 as that's

[2022-10-12 10:45] #7230 closed

[2022-10-12 12:12] fabriziopandini commented on #6511
/triage accepted

[2022-10-12 12:12] fabriziopandini commented on #6511
/help

[2022-10-12 12:29] killianmuldoon opened #7395 "Unexpected behaviour using kubectl scale with a topology managed cluster"
When using `kubectl scale machinedeployment` or `kubectl scale kcp`  with a topology managed cluster the command succeeds but does not have the expected result. Depending on how quickly the topology controller reacts to the change the resource either doesn't appear to scale at all or else it scales up and then scales down quickly (in line with replicas specified in the cluster topology).

There's

[2022-10-12 12:46] fabriziopandini commented on #7395
/triage accepted

Ideally, the cluster should become the scalable resource in this case, but I'm not sure we can achieve this given that there could be many scalable things in one cluster.

+1 to explore ideas about how to make this possible/less surprising for the users

[2022-10-12 12:52] killianmuldoon commented on #7395
Agreed - especially with multiple MachineDeployments this could become really unergonomic - i.e. `kubectl scale cluster md $MD_NAME --replicas=3`

[2022-10-12 12:53] sbueringer commented on #7395
Looking at how scale is implemented on the Kubernets side this means we need spec/status fields for replicas in the Cluster and I think we can't have multiple of them: https://github.com/kubernetes-sigs/cluster-api/blob/3b3d969c1587e8c6cf762b1d1b3ce98a977e4c29/config/crd/bases/cluster.x-k8s.io_machinedeployments.yaml#L508-L512

So I think making this happen somehow requires a very creative solutio

[2022-10-12 12:54] sbueringer commented on #7395
This CLI syntax 100% requires a KEP for kubectl as it's not supported today.

[2022-10-12 12:56] fabriziopandini commented on #5491
thanks for the feedback
/close

we can eventually make a follow-up issue if more work is required from a security standpoint

[2022-10-12 12:56] #5491 closed

[2022-10-12 12:58] killianmuldoon commented on #7395
I think if we implement either of the solutions it would have to work for both the scale subresource and for updating the replicas field.

I'm definitely not up for proposing it :laughing:  - just expressing the level of granularity this would need because of the multiple types of scalable resource and the multiple actual resource in the Cluster Topology.

[2022-10-12 12:59] sbueringer commented on #7395
Just wanted to make clear that we're talking about changing a feature / trying to workaround a feature which is almost entirely implemented upstream (kubectl / kube-apiserver) :)

[2022-10-12 13:02] killianmuldoon commented on #7395
Just had a look - it looks like the Cluster Autoscaler uses https://pkg.go.dev/k8s.io/client-go/scale which works on the scale subresource. But we can't be sure this is the case for other autoscaler implementations of course.

[2022-10-12 17:52] srm09 commented on #6511
/assign

[2022-10-12 18:24] hackeramitkumar commented on #5394
@fabriziopandini , I would like to work on this issue. Can you please assign it to me? And If possible show me a sample list So that I can get a basic idea.

[2022-10-12 18:56] srm09 commented on #6511
Opened https://github.com/kubernetes-sigs/controller-runtime/issues/2020 as per @fabriziopandini's first comment above.

[2022-10-12 19:59] fabriziopandini commented on #5394
/assign @SubhasmitaSw
(I think you can assign yourself)

I will start bu adding a page in the book under reference with two paragraphs, one for supported labels and the other for supported annotations.
Each paragraph should have a table with label/annotation and note.

then you have to search in the locations listed in https://github.com/kubernetes-sigs/cluster-api/issues/5394#issuecomment-1039089

[2022-10-12 23:34] g-gaston opened #7399 "External etcd lifecycle support"
**User Story**

As an operator, I would like to be able to manage the lifecycle of external etcd clusters in the same way I do for control planes, using CAPI primitives.

**Detailed Description**

Cluster API supports the use of an external etcd cluster, by allowing users to provide their external etcd cluster's endpoints.
So it would be good to add support for provisioning the etcd cluster too, s

[2022-10-12 23:35] g-gaston commented on #7399
@fabriziopandini, as promised :)
I'll follow up with a new PR

[2022-10-13 02:16] zawachte commented on #3974
Is anyone looking into this? I would love to help get this implemented.

[2022-10-13 08:01] sbueringer opened #7402 "Change registry in published manifests to registry.k8s.io"
Hey folks,

I think it is time that we publish manifests with the new registry location. I did a quick test just to double check and our v1.2.3 images are already available under registry.k8s.io/cluster-api.

While we're on it. Let's check the whole repo for occurences of k8s.gcr.io and see if we can replace them all

Let's also add this to the v1.2=>v1.3 migration guide as a hint for providers.

[2022-10-13 08:04] sbueringer commented on #7402
@fabriziopandini WDYT?

(I flagged it as release-blocking as I think we should do this before v1.3.0)

[2022-10-13 08:48] farodin91 commented on #7386
We have tested it with CAPV 1.4 and it works fine.

[2022-10-13 08:58] sbueringer commented on #7386
Thank you very much for reporting the issue and the verification that it works now! :)

[2022-10-13 09:04] farodin91 commented on #7386
We get now a different validation error.
1 controller.go:326] "Reconciler error" err="admission webhook \"validation.vspherevm.infrastructure.x-k8s.io\" denied the request: VSphereVM.infrastructure.cluster.x-k8s.io \"tmr-outside-cl3-cp-7zc5v\" is invalid: spec: Forbidden: cannot be modified" controller="vspherevm" controllerGroup="infrastructure.cluster.x-k8s.io" controllerKind="VSphereVM" vSphere

[2022-10-13 09:07] sbueringer commented on #7386
Which controller?

[2022-10-13 09:07] farodin91 commented on #7386
capv controller

[2022-10-13 09:08] sbueringer commented on #7386
/reopen

As I don't have any specific CAPV know-how. @srm09 can you please take a look at this issue?

[2022-10-13 09:11] farodin91 commented on #7386
Current state, we are rotating the control plane and the first old node is in the deletion process.

[2022-10-13 09:14] farodin91 commented on #7386
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/commit/bf287978a095372fcda6574a5b6ddfdf43a799ea it could be this one.

[2022-10-13 09:17] farodin91 commented on #7386
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/commit/bf287978a095372fcda6574a5b6ddfdf43a799ea perhaps.

[2022-10-13 09:23] yastij commented on #7386
yeah, it seems like when upgrading the controller, the webhook seem to be rejecting the update that comes with the defaulting. we need to fix that for the 1.4 line @srm09.

we should move the issue to the CAPV repo

[2022-10-13 10:04] sbueringer commented on #7386
/transfer cluster-api-provider-vsphere

(I don't think I have the rights, but let's see what happens)

[2022-10-13 11:19] sbueringer commented on #7389
cc @ykakarap @CecileRobertMichon I added a point about organization / GitHub teams / Slack aliases / ...

[2022-10-13 12:43] #7311 closed

[2022-10-13 14:23] sbueringer opened #7404 "Extend ClusterClass changes e2e test to cover MD deletion"
As already written in the title, goal of this issue is to extend our ClusterClass changes e2e test to delete a MachineDeployment.

The idea is to trigger a delete of the MD via Cluster.spec.topology at the end of the test and then verify that the MD is actually deleted.

/kind feature

[2022-10-13 14:24] killianmuldoon commented on #7404
/triage accepted
/assign

[2022-10-13 17:35] mrog commented on #7353
In my last comment, I said that the CAPI controller and CRDs weren't installed on the workload cluster at that point in time.  That suggests that they would be installed later.  However, that's not the case.  CAPI never gets installed on the workload cluster, so the MHC has to monitor the workload cluster from the management cluster.

[2022-10-14 05:06] ykakarap opened #7407 "`clusterctl move` should not pause clusters before completing all the preflight checks"
**What steps did you take and what happened:**
* Create a management cluster with `CLUSTER_TOPOLOGY`  feature gate enabled
* Create a classy cluster
* Initialize CAPI on the classy cluster `CLUSTE_TOPOLOGY` feature gate disabled
* Perform a `clusterctl move --to-kubeconfig classy-cluster.kubeconfig`

**What did you expect to happen:**

The `clusterctl move` operation should fail since the target c

[2022-10-14 14:21] fabriziopandini commented on #7404
/close
PR is merged

[2022-10-14 14:21] #7404 closed

[2022-10-14 14:23] #5490 closed

[2022-10-14 14:25] fabriziopandini commented on #7402
Agreed
/triage accepted
/milestone v1.3

[2022-10-14 14:58] shyamradhakrishnan opened #7409 "Provide ability to set annotations on worker nodes"
**User Story**

As an operator I would like to have the ability to set annotations on worker nodes created by CAPI. This is similar to the ability to set labels which is being currently worked on.

**Detailed Description**

In many cases, annotations are used to set metadata on nodes. For example in OCI, compartment id can be set on nodes which will help in discovery of nodes by cloud provider, as

[2022-10-14 16:12] sbueringer commented on #7409
I'm fine in general with the requirement. Just about this one. I don't exactly know what a compartment is, but I wonder if it's the kind of metadata that in some clouds is provided by the cloud-provider running inside of the workload cluster.

[2022-10-14 17:42] jackfrancis commented on #7395
Thanks for facilitating this discussion @killianmuldoon

@elmiko a brief tour through the capi provider of cluster-autoscaler suggests that it doesn't work with ClusterClass at all

Maybe this option will solve for a lot of the issues we're observing:

But it would probably be better to have autoscaler be ClusterClass-aware, and initiate scale events against the appropriate Cluster sub-resource in

[2022-10-14 20:04] fabriziopandini commented on #7395
I was thinking at this and looking at options to make it work for the 80% of the use cases

Is it acceptable to say that kubectl scale should scale the first MachineDeployment?

Why this approach?
I assume scaling the control plane is not a frequent operator, so I don't see value in providing a shortcut on this operation (it could also be seen as a sort of protection to the control plane)

So, wit

[2022-10-14 20:06] fabriziopandini commented on #7395
Wrt to the auto scaler, AFAIK we are not setting replicas in the cluster topology, so everything should work as usual

[2022-10-15 08:13] oscr commented on #7402
/assign

[2022-10-15 15:27] jessehu opened #7411 "clusterctl delete should be idempotent"
**What steps did you take and what happened:**
[code]

**What did you expect to happen:**
After the 1st run of clusterctl failed,  we're able to run the clusterctl again and it deletes all remaining providers.

**Anything else you would like to add:**
The 2nd run of clusterctl failed because clusterctl requires the "clusters.cluster.x-k8s.io" CRD must exist (see [source code](https://github.com/ku

[2022-10-17 06:36] haijianyang opened #7412 "CAPI should delete kubernetes node when InfraMachine with providerID but Machine without providerID"
**What steps did you take and what happened:**
[cluster-api-provider-elf(CAPE) ](https://github.com/smartxworks/cluster-api-provider-elf) is the infrastructure provider of cluster-api (CAPI)

During deleting the CAPI Machine that without providerID, and ElfMachine set providerID successful at the same time (kubernetes worker node is up). CAPI removed CAPI Machine and ElfMachine directly, did not d

[2022-10-17 08:59] killianmuldoon commented on #7395
The first MachineDeployment is probably the 80 percent case but IMO it's not a great solution to this problem. It's not extensible to cover any other use case which makes it confusing and frustrating for users. It introduces inconsistency into the management of Clusters, and in the API which could cause further complications down the line.

I think blocking the request is probably a better solutio

[2022-10-17 10:14] fabriziopandini commented on #7412
/triage accepted
This is an interesting use case. We can explore how to cover this condition (machine deleted before picking up the provider ID) so we can ensure a proper node cleanup, but I would limit it to this specific scenario and not duplicate logic from reconcile and reconcile delete

[2022-10-17 10:18] fabriziopandini commented on #7399
/triage accepted
/remove-kind feature
/kind proposal

[2022-10-17 10:21] fabriziopandini commented on #3974
@zawachte AFAIK no one is driving this discussion.
Some time ago I have tried to revive it writing https://docs.google.com/document/d/1hBQnWWa5d16FOslNhDwYVOhcMjLIul4tMeUgh4maI3w/edit?usp=sharing, but without success 😢

[2022-10-17 10:25] fabriziopandini commented on #7407
/triage accepted

I agree we should complete all the preflight check before pausing the clusters, but at the same time we should not unpause the clusters if the operation fail because the operation is designed to be idempotent (so the user can restart and complete move).

[2022-10-17 10:27] jessehu commented on #7411
Thanks. But this won't work if delete CAPI provider (at the end) fails in the middle.

[2022-10-17 10:54] sbueringer commented on #7395
I would definitely prefer not adding the necessary replica fields to Cluster to be able to make `kubectl scale` work

[2022-10-17 11:17] JoelSpeed commented on #7353
I think there may have been some confusion around what is meant by where it is attached to.
The MHC runs in the management cluster and IIRC uses a service account to communicate with that cluster to look up machines etc.
The MHC also uses a client to connect to the workload cluster to look up objects such as the Nodes. It does this by fetching the kubeconfig generated by the ControlPlane implement

[2022-10-17 13:07] furkatgofurov7 opened #7415 "Single node cluster (controlplane) in-place upgrade"
**User Story**

As a developer/user/operator I have a use case where single-server installations are desirable (i.e edge, base stations and small regional clouds). To clarify, by single-server, we mean using a single Kubernetes control plane node in the cluster (no worker nodes), which runs workloads on them (properly tainted).
Then, I would like to perform an in-place (an upgrade strategy that pr

[2022-10-17 13:08] furkatgofurov7 commented on #7415
/cc @kashifest
/cc @enxebre @fabriziopandini @sbueringer

[2022-10-17 13:18] sbueringer opened #7416 "Upgrade to cert-manager v1.10.0"
Hey folks,

cert-manager v1.10 was released. So let's bump the version used in CAPI (https://github.com/cert-manager/cert-manager/releases/tag/v1.10.0)

/kind feature

[2022-10-17 13:26] enxebre commented on #7415
Thanks for creating this @furkatgofurov7! Let's try to define and separate things into different areas:

Re: Single server, as per your use case let's call this "single Node cluster". A single server could be a ControlPlane implementation that runs the control plane as pods in a management cluster or such but does not necessarily expose a Node of any kind. However in your description seems that th

[2022-10-17 13:41] furkatgofurov7 commented on #7415
Thanks for quick reply @enxebre

 Yes, it is the baremetal under the hood backing up the node itself.

Absolutely, will add that as a separate use case to the user story in the proposal

Agree, having control plane implementation needs in mind during the worker-in-place design makes sense to me.

[2022-10-17 14:59] mdbooth opened #7417 "Enabling controllers to respond to an updated failure domain"
This could turn into a CAEP, but this issue is more of a problem statement so this is not a CAEP.

**Context**

In OpenStack and possibly other on-prem platforms, failure domains may be implemented independently for different services, e.g. compute, storage, and network. A user may have implemented failure domains for none or more of these things. A single 'failure domain' therefore needs to defin

[2022-10-17 16:05] mrog commented on #7353
Thanks for the clarification.  MHC on the management cluster isn't able to connect to the workload cluster until Cilium and kube-vip are added to it, and that doesn't happen until all the machines are seen as running.  While the cluster is still being created, the CAPI controller log shows many error messages from MHC's failed attempts to contact the workload cluster.

Even if MHC could connect to

[2022-10-17 16:28] jackfrancis commented on #7395
+1 on not doing the "just choose the first MachineDeployment" approach, as that seems too non-deterministic

[2022-10-17 17:42] oscr commented on #7416
/assign

[2022-10-17 19:05] fabriziopandini commented on #7416
/triage accepted

[2022-10-17 22:18] elmiko commented on #7395
from @jackfrancis

correct, autoscaler does not know about ClusterClass

i have to admit that i don't know all the details of the relationship between ClusterClass and MachineDeployment, but certainly we could have the autoscaler become aware of ClusterClasses and then add that into the workflow that it follows. it sounds like there might be a case where the autoscaler would detect that a ClusterC

[2022-10-17 22:21] jackfrancis commented on #7395
I just want to be clear for any other folks reading this thread now and in the future: the cluster-api cluster-autoscaler not only doesn't know about ClusterClass, but it will 100% not work. So for folks running ClusterClass-enabled Cluster API clusters, *you can not use cluster-autoscaler* at this time.

Someone correct me if I'm wrong!

[2022-10-18 05:55] sbueringer commented on #7395
I think this is not correct. If you want to use autoscaler, you just don't set a replica field in Cluster.spec.topology.workers..... The topology controller will create the MD without specifying replicas. Defaulting will set replicas to `1`. From then on the cluster-autscaler can modify the replicas in MD and the topology controller doesn't care and doesn't enforce any value on the spec field.

We

[2022-10-18 08:10] enxebre commented on #7395
Hey folks, great dicussion, can you help understand and try to scope down what's the concrete issue / use case here?

When using kubectl scale machinedeployment or kubectl scale kcp with a topology managed cluster the command succeeds but does not have the expected result. Depending on how quickly the topology controller reacts to the change the resource either doesn't appear to scale at all or el

[2022-10-18 09:45] #7416 closed

[2022-10-18 10:00] mdbooth commented on #7417
Coming back to this in the morning, I think I can summarise the issue more succinctly:

MachineSpec, and therefore MachineTemplateSpec, refers to a failure domain only by name. It is not possible to determine from this alone whether the referenced failure domain has been updated.

Therefore none of the controllers which use MachineTemplates are able to detect a change to a failure domain.

There a

[2022-10-18 10:30] mdbooth commented on #7417
CAPV appears to suffer with the same problem. AFAICT updating a `VSphereDeploymentZoneSpec`, for example with a new vSphere endpoint or PlacementConstraint, would not result in a rollout of new machines with the new spec.

I'm currently investigating to see if CAPV has a solution for this. If so, it would be good to be consistent with it.

[2022-10-18 11:05] killianmuldoon opened #7423 "Can't delete an invalid cluster"
If a Cluster becomes invalid during its lifetime i.e. when validation in the webhook is changed between Cluster API versions, the Cluster can no longer be deleted. This is because the delete flow attempts to patch the cluster before deleting with updated conditions.

Steps to recreate:
1) With e.g. CAPI 1.2.4 create a Cluster with more than two CIDR ranges under Cluster `.spec.ClusterNetwork.Pods`

[2022-10-18 11:14] sbueringer commented on #7423
I wonder if this can be optimized. I think if we only patch conditions we don't necessarily have to validate the whole Cluster.

[2022-10-18 11:15] braghettos opened #7424 "Write a Kubernetes event when the cluster is Ready"
**User Story**

As an operator, I would like to get a Kubernetes event when the cluster is Ready. The use case is useful when I would like to trigger a notification or workflow, i.e. with Argo Events

**Detailed Description**

Actually there is already a Condition that shows when the cluster is Ready. It would be useful to add also a Kubernetes event stating the same thing.

**Anything else you wo

[2022-10-18 11:19] killianmuldoon commented on #7423
I think this would be a good idea, but you're second point is right that the finalizer is also a blocker (I didn't check the full contents of the patch so I'm not sure). Is there a list of other operations we'd like to not validate for? I can see an argument for setting paused also: i.e. cluster is invalid, and user wants to pause it so that changes to make it valid aren't instantly reconciled.

[2022-10-18 11:46] sbueringer commented on #7423
Not sure about other things, but if there are only changes in status / finalizer / pause I think it's reasonable to not re-validate everything else

[2022-10-18 12:10] mdbooth commented on #7417
CAPV's `Topology` looks very similar to what we're proposing in OpenStack: https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/9cb1cec4cf7206358ae9934082a922b955a504f1/apis/v1beta1/vspherefailuredomain_types.go#L60-L82

I have still not found if/how an update to this object would be reflected in existing machines.

[2022-10-18 12:38] fabriziopandini commented on #7424
This seems a nice idea to me.
But before proceeding we should carefully identify what cluster ready is because there are different notions of it; e.g the condition about reports if the cluster's control plane has been initialized such that the cluster's apiserver is reachable and at least one control plane Machine has a node reference.

Is that what you mean by Cluster is ready?

/triage accepted

[2022-10-18 12:54] braghettos commented on #7424
I think a Cluster is Ready from a user perspective when pods can be scheduled (no taints NoSchedule on worker nodes). I think it's aligned to what you are suggesting.

[2022-10-18 13:58] braghettos commented on #7424
+1 for your proposal @mtougeron

[2022-10-18 15:32] fabriziopandini opened #7427 "Consider if to drop golang.org/x/net in favor of context"
While reviewing https://github.com/kubernetes-sigs/cluster-api/pull/7425 it surfaced that we are using golang.org/x/net, but from a quick look we are using only context from this package.

This issue is about investigating whether to drop this package and use context from golang standard library.

/kind cleanup
/help

[2022-10-18 16:24] jackfrancis opened #7428 "ClusterClass-enabled clusters get stuck on version change"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

If you change the `spec.topology.version` value on a ClusterClass-enabled Cluster resource to a version that doesn't exist, or isn't supported for any reason (e.g., corresponding machine image doesn't exit), your kubeadmcontrolplane will get stuck in a permanent failure loop like this:

[

[2022-10-18 16:29] sbueringer commented on #7428
/triage accepted

[2022-10-18 16:30] sbueringer commented on #7428
@fabriziopandini I think this should be something about which we should talk to see if we can improve the situation before v1.3

[2022-10-18 16:35] #4526 closed

[2022-10-18 16:51] fabriziopandini commented on #7427
/triage accepted

[2022-10-18 16:51] fabriziopandini commented on #7427
/assign @sbueringer

[2022-10-18 18:20] sbueringer commented on #7427
/close

given #7426 was merged

[2022-10-18 18:20] #7427 closed

[2022-10-18 20:28] vincepri commented on #7378
/triage needs-information

[2022-10-18 20:28] vincepri commented on #7423
/triage accepted

[2022-10-19 06:00] ramineni commented on #7011
/assign

[2022-10-19 08:49] sbueringer commented on #7011
Do we already have a clear idea what exactly we want to implement and where?

[2022-10-19 08:58] fabriziopandini commented on #7011
+1 to nail down some details first
@ramineni is it ok for your to some comments here as soon as you make up your mind around this topic/before starting implementation?

[2022-10-19 09:19] fabriziopandini commented on #7428
Sure, this relates also to
https://github.com/kubernetes-sigs/cluster-api/issues/7010
https://github.com/kubernetes-sigs/cluster-api/issues/7011

[2022-10-19 09:50] chrischdi opened #7429 "Add pod security admission labels to CAPD provider namespace"
**User Story**

As an operator I would like to set the baseline to enforce at the pod security admission configuration on my management cluster for operating a secure management cluster.

Currently when using CAPI with CAPD, all capi namespaces except `capd-system` are compliant to the `baseline` pod security admission profile.

**Detailed Description**

CAPD will always require the `privileged` p

[2022-10-19 09:51] ramineni commented on #7011
Have not gone that much far, just started to explore the details . I'll sure discuss here or in slack before going for implementation.

[2022-10-19 10:38] JoelSpeed commented on #7353
Based on this, I don't think MHC is the component we should be looking at here. It seems that MHC just isn't going to work until the cluster is up and running. The design of the component prevents it being used this early in the cluster bootstrap

I wonder if there's some other way to help resolve your scenario

[2022-10-19 11:52] sbueringer opened #7430 "Avoid writing environment variables in Tiltfile"
Today we're writing to the os environment in our Tiltfile so that clusterctl can pick up the env vars when we use clusterctl to generate a cluster.

https://github.com/kubernetes-sigs/cluster-api/blob/835c58985bc59c430a71575e8a12042e71616abf/Tiltfile#L429-L432

This was necessary because Tilt didn't support passing in env variables into cmd_button: https://github.com/kubernetes-sigs/cluster-api/bl

[2022-10-19 11:53] sbueringer commented on #7430
/triage accepted

[2022-10-19 15:27] fabriziopandini opened #7432 "Support settings for RuntimeExtensions"
**User Story**

As a RuntimeExtensions author, I would like to offer settings allowing cluster administrators to tune my RuntimeExtensions behavior when installed on a management cluster

As a RuntimeExtensions author, I would like to offer settings allowing cluster class authors to tune my RuntimeExtensions behavior when used in a ClusterClass

**Detailed Description**

RuntimeExtension is a powe

[2022-10-19 16:58] mrog commented on #7353
The conversation in https://github.com/kubernetes-sigs/cluster-api/issues/1205 suggests that remediation should be done by CAPI, and I agree with that.  My own experiments showed that remediation outside of CAPI (by deleting the CAPI Machine) sometimes causes problems.  My guess is that it's due to a race condition when the Machine is deleted while CAPI is busy doing something else with it.  The r

[2022-10-19 20:01] fabriziopandini commented on #7429
/triage accepted

+1 to the idea
let's talk about how to add this to one (or more of the existing tests) instead of creating a new one, we already have too many of them and we start to think about how to rationalize things a little bit

[2022-10-19 20:03] fabriziopandini commented on #7430
/help

I think we should wait a little bit to give some room to folks to pick up with the latest tilt version, but +1 to get this cleanup implemented

[2022-10-20 00:40] jackfrancis opened #7434 "Consider "false" value when evaluating "bool" annotations"
**User Story**

As a user I would like existing annotations annotations explicitly set to "false" to be respected as false in Cluster API.

**Detailed Description**

For annotations where we simply look for the presence of a well-known key to indicate true/false, we should consider enabling support for explicit "false" indicators. The most obvious is the value of `"false"` in the value of the exis

[2022-10-20 04:05] elmiko commented on #7395
correct, they are required and must be on only the MD or MS.

[2022-10-20 05:49] sbueringer commented on #7434
/triage accepted

[2022-10-21 08:51] JoelSpeed commented on #7353
MHC currently looks at the Node conditions, if it also looked at Machine conditions then perhaps we could use the bootstrap conditions to determine that the Machine didn't bootstrap within a certain time period, you would have to make sure the MHC gracefully handles not being able to find the Node for the Machine though

[2022-10-21 13:24] hackeramitkumar opened #7441 "Add extra information in the supported labels and annotations tables"
Follow up :  #7418

**Detailed Description**
Add two columns in the supported labels and annotations table :
- Object the label/annotation applies to
- Managed by Cluster API or by users

Please also define some consistent sort criteria for both tables.

**Anything else you would like to add:**

[Miscellaneous information that will assist in solving the issue.]

/kind documentation

[2022-10-23 06:04] sbueringer commented on #7432
Sounds good to me!

/triage accepted

[2022-10-23 08:01] sbueringer commented on #7429
+1

I would just modify the quick start Clusterclass we are using in multiple tests already accordingly + CAPD

This should not require an additional test

[2022-10-23 08:30] #7234 closed

[2022-10-23 11:48] jayunit100 opened #7443 "Embedding cert-manager into CAPI for smaller footprint/less upgrade deps"
I recently realized that the 3 cert-manager related processes we use in CAPI are actually not required when a cluster is running, and only required, i believe:
- on upgrades
- on creation of a new cluster

**User Story**

As a CAPI User I'd like to minimize the number of containers I need to run persistently in my cluster, and thus i'd like a like a default "batteries included" certificate managem

[2022-10-23 21:26] #7300 closed

[2022-10-24 00:34] jayunit100 opened #7445 "Proactively bounce capi-controller-manager in case of netsplits"
(edit: removed ccm, bc its an ambiguous abbreviation)

**User Story**

As a user on the edge, in case that one node in my MC gets somehow netsplit off from my Controlplane worker nodes, id like the capi controller manager to fail, that way it bounces to a "potentially" healthy, connected other node in my MC.

**Detailed Description**

As an example of how I was stepping through this earlier,  the

[2022-10-24 08:17] chrischdi commented on #7445
I think this is a general problem for all kind of controllers and is not specific to CAPI's controllers. It should be (or maybe is already) solved in Kubernetes itself.

Did you check if the pod gets evicted after five minutes which would map to the default of the kube-controller-managers `pod-eviction-timeout duration` parameter (which defaults to `5m0s`, [xref](https://kubernetes.io/docs/referen

[2022-10-24 08:29] sbueringer commented on #7445
Not sure if I underestood the issue correctly, but changes to the CCM should be out of scope of the Cluster API project?

[2022-10-24 08:31] sbueringer commented on #7429
Sounds good, thx!

[2022-10-24 08:41] sbueringer commented on #7445
To be clear:
* CCM = cloud controller manager
* not capi controller manager

Wasn't your problem that the cloud controller manager was not setting the providerIDs on nodes?

[2022-10-24 09:14] sbueringer commented on #7443
I think it's a fair ask to consider getting rid of cert-manager considering what we are using it for.

Today we use cert-manager only for generation of the webhook certificates. This roughly works like this:
* We deploy a Certificate and Issuer CRs (one each per-provider)
* cert-manger generates a Secret with the serving certificate + key
* The secret is
    * mounted into the provider Pod so it c

[2022-10-24 10:25] dipankardas011 opened #7447 "[Docs] Generate CRD guide"
https://github.com/kubernetes-sigs/cluster-api/blob/56db3f5dd92a508906b6c53ae238adbff5fe0645/docs/book/src/developer/providers/implementers-guide/generate_crds.md?plain=1#L5

https://github.com/kubernetes-sigs/cluster-api/issues/7447#tasklist-block-d0ba0da8-b262-4993-be82-6c3650ea1c9b

[2022-10-24 10:29] killianmuldoon commented on #7447
This is the module path for CAPI and other providers that are under kubernetes-sigs repos,  but 100 percent agree it would be more explicit and helpful to clearly mention why the user is in that path in the text here
.

[2022-10-24 10:31] dipankardas011 commented on #7447
can we use
[code]
@killianmuldoon
is it correct if I do this?

[2022-10-24 10:32] killianmuldoon commented on #7447
I think it might be clearer to simply state that the guide assumes the current directory is `src/sigs.k8s.io/`. Users who have CAPI installed will probably already have this path on their system.

[2022-10-24 10:34] dipankardas011 commented on #7447
But as I don't have CAPI installed will it be correct to create any folder and do the same folder structure here?

[2022-10-24 10:35] dipankardas011 commented on #7447
I am getting confused could you guide me as a beginner to CRD in K8s

[2022-10-24 10:42] killianmuldoon commented on #7447
Apologies - I misunderstood what you were aiming for.

To get this working as in guide your steps were likely correct i.e.

[code]

[2022-10-24 10:45] dipankardas011 commented on #7447
following this guide to get started with crd and controller good for beginners in terms of crd creation?

[2022-10-24 10:45] dipankardas011 commented on #7447
I have background of go, kubernetes, docker

[2022-10-24 10:52] killianmuldoon commented on #7447
@dipankardas011 It's a better idea to follow the guide in the [kubebuilder book](https://book.kubebuilder.io/) IMO as this tutorial is very specific to Cluster API.

[2022-10-24 10:55] dipankardas011 commented on #7447
Thanks @killianmuldoon

[2022-10-24 11:01] #7447 closed

[2022-10-24 13:30] jayunit100 commented on #7445
- I think the cloud controller Manager issue may also have been a problem, but i saw that
- during a net split situation,  capi-controller-manager flips out if it cant connect to a control plane of a wl cluster , but it doesnt actually shutdown or bounce to a new node.

[2022-10-24 13:49] killianmuldoon commented on #7445
Is the CAPI Controller Manager running with multiple replicas? If the controller is out of the network (split from the leader API server on the mgmt cluster) it should lose the lease and another replica should take up the lease.

If the management Cluster is cut off from the network entirely it will just keep retrying to contact the workload cluster.

[2022-10-24 14:44] jayunit100 commented on #7445
in this case,  the capi-controller-manager's node
- is able to connect to *its own* apiserver, (so it doesnt lose the lease)
- *but not that* of other WL apiservers, (so it keeps failing at any MHC type steps)

[2022-10-24 15:30] chrischdi commented on #7445
So it looks something like this, the red or orange connection here is broken in someway?

![image](https://user-images.githubusercontent.com/417870/197565520-9ec81217-6149-46f7-b0f5-5e5d51621da8.png)

[2022-10-24 16:42] oscr opened #7448 "Enable revive check unused-parameter"
**Detailed Description**

In pr #7442 most of the [recommended revive rules](https://github.com/mgechev/revive#recommended-configuration) where enabled, except two which had a lot of findings.

This ticket is about enabling revive check: `unused-parameter ` again [here](https://github.com/kubernetes-sigs/cluster-api/blob/9d35266899202681e8faaf93d002608ad58a6ff5/.golangci.yml#L179) and fixing the f

[2022-10-24 16:42] oscr commented on #7448
/assign

[2022-10-24 16:43] oscr opened #7449 "Enable revive check if-return"
**Detailed Description**

In pr #7442 most of the [recommended revive rules](https://github.com/mgechev/revive#recommended-configuration) where enabled, except two which had a lot of findings.

This ticket is about enabling revive check: `if-return` again [here](https://github.com/kubernetes-sigs/cluster-api/blob/9d35266899202681e8faaf93d002608ad58a6ff5/.golangci.yml#L166) and fixing the findings.

[2022-10-24 16:45] oscr commented on #7448
/triage accepted

[2022-10-24 19:40] jayunit100 commented on #7445
Yup !!!!!!!!!

[2022-10-24 19:41] jayunit100 commented on #7445
<img width="1472" alt="image" src="https://user-images.githubusercontent.com/826111/197611574-2519a7ac-7852-41ad-8071-6f3ee32c6270.png">
similar pic to yours

[2022-10-25 01:04] jayunit100 commented on #7147
it doesnt require persistent state really, its just a heuristic.  and a hashtable at that :).

[2022-10-25 11:57] killianmuldoon commented on #7445
There's a few questions that come to mind:
1) Should CAPI be considered in a non-healthy state if it can't contact a single workload cluster, or a majority or all of them? How long should this be the case before taking action?
2) Is the management cluster in HA? Is the assumption that a CAPI controller on another node would be able to communicate with the Workload Cluster? Would it be able to comm

[2022-10-25 12:35] braghettos commented on #7424
Any updates on this opportunity?

[2022-10-25 13:19] fabriziopandini commented on #7424
not sure I grasp the no taints NoSchedule part of it, the taints are usually managed by kubelet and CPI on a node bases, not by Cluster CAPI

If I can give my 2 cents, in order to be actionable this should be more specif/potentially split in different issues

Assuming above topics could be addressed quickly
/help

[2022-10-25 14:12] braghettos commented on #7424
Regarding the https://cluster-api.sigs.k8s.io/tasks/experimental-features/runtime-sdk/implement-lifecycle-hooks.html, I think there's should be an additional state after 'API Server is available' when I have deployed a CNI and all the worker nodes are Ready.
Every event of this lifecycle should write a Kubernetes events.

[2022-10-25 14:24] fabriziopandini commented on #7441
/trige accepted

[2022-10-25 18:00] srm09 commented on #6511
Waiting for a controller-runtime version to be available with the fix before creating a PR.

[2022-10-25 18:59] nunnatsa opened #7455 "Can't use the `--from` flag to generate a cluster, from a github release asset"
## What steps did you take and what happened
Trying to create a cluster manifest using the `--form` flag, with the value of a release asset URL; e.g.
[code]

Getting error:
[code]

## What did you expect to happen
Should successfully generate the cluster manifest.

**Environment:**

- Cluster-api version: `v1.2.4`
- kind version: `kind v0.14.0 go1.18.4 linux/amd64`
- Kubernetes version: (use `kube

[2022-10-25 21:01] vpnda opened #7456 "Service Account Private Key Rotation"
**User Story**

As a developer I would like to setup a rotation mechanism service account private keys for security. Rotating RSA-2048 keys is essential if I use the SA key to sign projected service-bound tokens.

**Detailed Description**

I would like CAPI to:

1. Create the new key pair.
2. Allow the user to create a mechanism in which it can intercept the newly generated key-pair so it can upda

[2022-10-27 07:21] johannesfrey commented on #7176
FYI: The [CR PR](https://github.com/kubernetes-sigs/controller-runtime/pull/1999) has been merged, which should resolve the issue as soon as CAPI bumps to a version of CR that contains the fix. Some follow-up steps/questions:

- I would then definitely close https://github.com/kubernetes-sigs/cluster-api/pull/7175?!
- https://github.com/kubernetes-sigs/cluster-api/pull/7157 follows another approac

[2022-10-27 10:28] lentzi90 opened #7457 "Consider the PlatformKustomization when generating the JSONPatch in GenerateCIArtifactsInjectedTemplateForDebian"
**User Story**

As a [developer/user/operator] I would like to [high level description] for [reasons]

As a infrastructure provider developer I would like to inject my own `preKubeadmCommands` for when using CI artifacts.

**Detailed Description**

[GenerateCIArtifactsInjectedTemplateForDebian](https://github.com/kubernetes-sigs/cluster-api/blob/main/test/framework/kubernetesversions/template.go#L

[2022-10-27 10:29] Amulyam24 opened #7458 "Bump gomega to v1.23.0"
**What steps did you take and what happened:**
On bumping gomega version to 1.23.0 in `cluster-api-provider-ibmcloud`, the e2e tests(using capi test framework) fail with
[code]
This is caused due to a recent change in using `Eventually` in gomega v1.23.0

- cluster-api is using gomega v1.20.1

**What did you expect to happen:**

**Anything else you would like to add:**

1. Is there a reason why an

[2022-10-27 14:37] josh-ferrell opened #7459 "Support highly available CAPI management components across clusters."
**User Story**

As an operator I would like to be able to configure redundant Cluster API components across clusters for automatic failover of workload cluster management.

**Detailed Description**

In a failure scenario where a management cluster is not functioning or inaccessible, remediation is mostly manual. In production deployments that rely on CAPI to back a mid-tier for cluster lifecycle o

[2022-10-27 14:46] oscr commented on #7458
/triage accepted
/assign

[2022-10-27 14:52] oscr commented on #7458
Gomega v1.20.1 is [two months old](https://github.com/onsi/gomega/releases/tag/v1.20.1) so I think it's just a case of not being updated yet. But I have created a pr to upgrade Ginkgo and Gomega.

[2022-10-27 18:13] oscr commented on #6867
/remove-lifecycle stale

[2022-10-27 19:55] josh-ferrell commented on #6657
/remove-lifecycle stale

[2022-10-27 20:24] cprivitere commented on #6429
/remove-lifecycle stale

[2022-10-28 06:55] pradipd commented on #6894
Sorry for the delay.
@enxebre  thank you for breaking down the process.
We reached out to the owner (@ganga1980) and they were trying to add tolerations to schedule their deployment on the master node.  My suggestion was to use the specific key (node-role.kubernetes.io/master, node-role.kubernetes.io/control-plane) and not use a wildcard.

[2022-10-28 08:44] johananl commented on #6147
/remove-lifecycle stale

[2022-10-28 08:59] jessehu opened #7461 "The ready condition of MachineDeployment doesn't change when a Machine CR is deleted"
**What steps did you take and what happened:**
1. Create a workload cluster (e.g. 3 CP + 3 Workers)
2. Delete a Machine CR related to MachineDeployment
3. MachineDeployment status doesn't change until the old Machine is deleted successfully and the new Machine CR is created.

**What did you expect to happen:**
The ready condition of MachineDeployment CR should change to False right after Machine C

[2022-10-28 09:04] jessehu commented on #7461
Related to PR https://github.com/kubernetes-sigs/cluster-api/pull/4625

[2022-10-28 12:20] oscr commented on #6688
/remove-lifecycle stale

[2022-10-29 12:20] sbueringer commented on #7458
Yup. Bumping is fine

[2022-10-29 22:46] oscr opened #7464 "Simplifying the Makefile"
**Detailed Description**

I would like to make a few suggestions for simplifying the Makefile.

* Removing Go based dependency installation from Makefile and instead using Go tooling. Basically copying the approach of [test-infra](https://github.com/kubernetes/test-infra/blob/master/hack/tools/tools.go) and [k/k](https://github.com/kubernetes/kubernetes/blob/master/hack/tools/tools.go).

* Creatin

[2022-10-30 10:34] umesh168 commented on #7330
@killianmuldoon above issue has been resolved.
Thanks for you comments and suggestion.

[2022-10-30 10:50] fabriziopandini commented on #7330
Happy to hear the problem has been fixed
/close

[2022-10-30 10:50] #7330 closed

[2022-10-30 12:43] fabriziopandini commented on #7464
/triage accepted
Let's way for others opinions on the proposed approach but I'm generally +1 to simplify the current Makefile

[2022-10-30 12:46] fabriziopandini commented on #6688
/lifecycle frozen

[2022-10-30 12:48] fabriziopandini commented on #6147
/lifecycle frozen

[2022-10-30 12:49] fabriziopandini commented on #6946
/lifecycle frozen

[2022-10-30 12:50] fabriziopandini commented on #6946
/help

[2022-10-30 12:50] oscr commented on #7464
I forgot to mention this but we should be able to use dependabot with the first suggestion. This would remove some manual work.

[2022-10-30 12:53] fabriziopandini commented on #5673
/lifecycle frozen

[2022-10-30 12:54] fabriziopandini commented on #6947
/lifecycle frozen

[2022-10-31 07:33] erkanerol commented on #6588
/remove-lifecycle stale

[2022-10-31 11:59] steve-fraser opened #7465 "Generate provider for control-plane pulls back v1alpha3 instead of v1beta1"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

[code]

[code]
**What did you expect to happen:**

I would expect v1alpha3 to be pulled back

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version:
[code]
clusterctl version: &version.Info{Majo

[2022-10-31 12:14] sbueringer commented on #7465
What do you mean with "pull back"?

You are generating the YAML for the kubeadm v0.3.0 provider. This provider was based on v1alpha3 not v1beta1. So I think the output is expected

[2022-10-31 12:16] steve-fraser commented on #7465
@sbueringer I guess I am confused then. How do I pull back v1beta1 instead?

[2022-10-31 13:12] sbueringer commented on #7465
Sorry I have no idea what you mean with "pull back". Can you please explain?

The `clusterctl generate provider` can be used to generate manifests for a provider.

If you pin the version to `v0.3.0` via `kubeadm:v0.3.0` you get the manifests for the `v0.3.0` version.

If you want the YAML for the latest release use `clusterctl generate provider --control-plane kubeadm`

[2022-10-31 13:15] steve-fraser commented on #7465
I see my confusion now.

I (wrongfully) assumed that the output to clusterctl generate provider
[code]
Assumed that the output to the command showed me the latest version
[code]

[2022-10-31 13:27] #7465 closed

[2022-10-31 13:34] sbueringer opened #7466 "Pin GitHub actions to commit SHAs"
It would be great if we can pin our GitHub actions to specific commits instead of just to tags.

Recently a feature was added to dependabot ([link](https://github.com/dependabot/dependabot-core/issues/4691?notification_referrer_id=NT_kwDOAEckWLIzMDM3MzE5MTIwOjQ2NjIzNjA#issuecomment-1296532496)) which makes it possible to bump actions even if they are referencing commit SHAs.

I would suggest to us

[2022-10-31 13:38] sbueringer opened #7467 "Bump to kind v0.17.0"
Kind v0.17.0 was released last week, let's use it.

Prior art: https://github.com/kubernetes-sigs/cluster-api/pull/7276

/kind feature

[2022-10-31 13:38] sbueringer commented on #7467
/triage accepted

[2022-10-31 13:39] sbueringer commented on #7467
/triage accepted

[2022-10-31 13:39] sbueringer commented on #7467
/help

[2022-10-31 13:46] stmcginnis commented on #7467
I can tackle this quick!

/assign

[2022-10-31 17:32] sbueringer commented on #7466
/triage accepted

/help

[2022-10-31 17:44] #7467 closed

[2022-10-31 17:52] sbueringer opened #7472 "Use new Kubernetes registry for Kubernetes >= v1.22"
Given:
* that the new registry is cheaper for the project and
* there's an upstream effort (kubeadm) to backport the registry change back until v1.22

let's align and already use the new registry for Kubernetes >= v1.22

xrefs:
* https://github.com/kubernetes/kubeadm/issues/2671#issuecomment-1290991218
* https://github.com/kubernetes/kubeadm/issues/2671#issuecomment-1293373083

/kind feature

[2022-10-31 17:53] sbueringer commented on #7472
/triage accepted

[2022-10-31 18:15] sbueringer opened #7473 "clusterctl move takes ownership of all fields"
As the title says when using clusterctl move, clusterctl owns all fields after the move.

Steps to reproduce
* Create a mgmt cluster (Cluster A)
* Deploy a workload cluster (Cluster B)
* Make the workload cluster (Cluster B) a mgmt cluster
* clusterctl move from Cluster A to Cluster B

[code]

The consequence of that issue is that
* From now on `kubectl apply` or other clients (e.g. the Cluster to

[2022-10-31 18:16] sbueringer commented on #7473
cc @fabriziopandini @ykakarap @vincepri

[2022-10-31 23:34] #6029 closed

[2022-11-01 00:20] ykakarap commented on #6651
/lifecycle frozen

[2022-11-01 01:20] mrog commented on #7353
I tried another experiment.  This time, I added MHC and CNI after the first CP machine was running, and before the other machines were provisioned.  Then I disabled the network interfaces on one of the new worker machines as soon as it started running.  This ensured that the cluster would take longer than 5 minutes to be ready.  Even with the CNI installed, MHC still marked all the machines as unh

[2022-11-01 01:26] ykakarap commented on #7407
Changing it so that it only pauses if the pre-flight checks pass is a good approach. I am +1 to that.

[2022-11-01 02:50] k82cn opened #7475 "Launch ControlePlane in existing cluster"
**User Story**

As a user/operator, I would like to launch cluster master in kubernetes; it'll avoid additional provider (only provider for the worker node) and save cost by container/pod.

**Detailed Description**

Currently, I'm using Metal3 provider to manage workers; but it's cost concern to use bare-metals for master and it's complex to set additional VMs, e.g. BYOH ( https://metal3.io/blog/2

[2022-11-01 22:36] ykakarap opened #7476 "Setup github team and slack alias for the release team"
**Detailed Description:**
For the newly created release team for v1.4 cycle lets create a github team and a slack alias for the team.

Part of #7389

/assign

[2022-11-01 22:37] ykakarap commented on #7476
* PR for github team: https://github.com/kubernetes/org/pull/3802
* PR for slack alias: https://github.com/kubernetes/community/pull/6920

[2022-11-01 22:38] ykakarap commented on #7389
@sbueringer Issue for setting up the github and slack teams: https://github.com/kubernetes-sigs/cluster-api/issues/7476

(I dont have edit permissions on the issue to add it to the issue description.)

[2022-11-02 01:52] ykakarap commented on #7215
Sounds good. Go ahead with this. The  `controlplane/kubeadm/internal/filters.go` is probably the best place for this since it already holds definitions for other filters.

[2022-11-02 02:10] aanoaa opened #7477 "machine Status.Phase always Failed if FailureReason or FailureMessage is set"
**User Story**

After provider controller set machine's `Status.FailureReason` and `Status.FailureMessage`, machine `Status.Phase` is always `Failed`

**Detailed Description**

The failure can be solved while reconcile loops.
At this point, should controller clean the machine `Status.FailureReason` and `Status.FailureMessage`?

I think failure message is useful for debugging.

If the Running condi

[2022-11-02 08:12] #7402 closed

[2022-11-02 08:30] sbueringer commented on #7476
/triage accepted

[2022-11-02 08:31] sbueringer commented on #7389
Thx, added.

[2022-11-02 08:55] killianmuldoon commented on #7477
This is the intended semantics of the FailureMessage and FailureReason - they correspond to irreversible failure of some kind. If you'd like to make errors visible in the Machine object it's a good idea to set them in a Message in a condition on the Machine object.

[2022-11-02 14:09] fabriziopandini commented on #7029
removing from the milestone because it is not blocking, but if someone could working on it this will be nice

[2022-11-02 14:11] fabriziopandini commented on #6994
this is long tail of activity, not blocking for the milestone

[2022-11-02 14:13] fabriziopandini commented on #5673
dropping from the milestone because not yet staffed
@vincepri  let's discuss if we want to keep pushing on this feature and how
/help

[2022-11-02 14:14] fabriziopandini commented on #5859
moving out of the milestone because not staffed yet, but nice to have the soon as possible
/help

[2022-11-02 14:15] fabriziopandini commented on #5880
moving out from the milestone because this will land later when also label propagation is fully addressed (hopefully in 1.4)

[2022-11-02 14:17] fabriziopandini commented on #6286
dropping from the milestone because not blocking, but nice to have as soon as someone has bandwidth
/help

[2022-11-02 14:19] fabriziopandini commented on #6942
Dropping to the milestone
@yastij @randomvariable what is your opinion about making this happen in 1.4 timeframe (target date ~march 2023)

[2022-11-02 15:51] ykakarap commented on #7473
/assign

I can work on this. I will sync with @fabriziopandini on this.

[2022-11-02 16:40] srm09 commented on #6511
I think this is a good place to also think about exposing the `--tls-cipher-suites` flag in a similar fashion.

[2022-11-02 17:10] chrischdi commented on #7424
I have some concerns about relying on an "exposed Kubernetes event", due to the eventual consistency of kubernetes/etcd and events getting deleted/garbage collected after some time, in my opinion it makes more sense to favor a "I have a way to check if this is the case by reading some related CR" (whatever I want to check, maybe best to simplify via some public library / functions).

If I get argo

[2022-11-02 17:28] dlipovetsky commented on #6511
Just for reference: Requiring TLS >= 1.2 will **not** cause any issues for FIPS compliance. FIPS already requires 1.2 as the minimum version.

The clearest reference I found is this second-hand [AWS announcement](https://aws.amazon.com/blogs/security/tls-1-2-required-for-aws-fips-endpoints/).

[2022-11-02 18:43] fabriziopandini commented on #7456
/triage accepted
This is a really interesting feature; IMO this requires a small proposal, but I like the idea of approaching this from an immutable PoV

[2022-11-02 18:47] fabriziopandini commented on #7176
Thanks for the update!
+1 to close the two PRs
We are usually bumping CR as soon as a new release is out, but feel free to open an issue to track this bump specifically

[2022-11-02 19:09] fabriziopandini commented on #7457
/triage accepted
I'm generally ok with avoiding to override the platform patch if it already exists, but before implementing the change it I would like to hear opinions from people using this in providers
cc @yastij @CecileRobertMichon

[2022-11-02 19:15] fabriziopandini commented on #7459
/triage accepted
This is a really interesting idea but at the same time something not easy to achieve given that in order to address this issue we need some primitives like replicating CRs across clusters. But happy to keep the discussion going so we can collect ideas

[2022-11-02 19:17] fabriziopandini commented on #6520
@jackfrancis and @richardcase if we want to consider this in the managed Kubernetes discussion

[2022-11-02 19:19] fabriziopandini commented on #6554
/lifecycle frozen
/triage accepted
this is still a nice issue to be addressed

/help

[2022-11-02 19:20] fabriziopandini commented on #6531
/close
this is not going to be fixed

[2022-11-02 19:20] #6531 closed

[2022-11-02 19:40] fabriziopandini commented on #6536
/triage accepted

Cluster.status.Failure domain should automatically align with what reported by the infrastructure provider

https://github.com/kubernetes-sigs/cluster-api/blob/e70fef893f068085b2ada4ae09f96948cb65b22c/internal/controllers/cluster/cluster_controller_phases.go#L191-L197

If we can confirm if the infrastructure provider used in this case was properly reporting the updated list, then

[2022-11-02 19:41] fabriziopandini commented on #6536
/remove lifecycle-stale

[2022-11-02 19:45] sbueringer opened #7485 "Release notes for Cluster API v1.3.0"
Just an issue to collect the things we absolutely **have** to mention explicitly in the release notes

Notes:
* #7471

/kind documentation

[2022-11-02 19:45] sbueringer commented on #7485
/triage accepted

[2022-11-02 19:47] sbueringer opened #7486 "Release notes for Cluster API v1.2.x"
Just an issue to collect the things we absolutely **have** to mention explicitly in the release notes

Notes:
* #7505
  * Upstream blog: https://kubernetes.io/blog/2022/11/28/registry-k8s-io-faster-cheaper-ga/

Update: We will probably wait until our December release with this cherry-pick, given that upstream waits a bit longer as well so they have more time for communication.

/kind documentation

[2022-11-02 19:50] fabriziopandini commented on #7417
/triage accepted

I think there are two parts of this issue

For the first part, I would like to have feedback from other providers about this idea of failure domain for different services; discussing this during office hours could also help to shape and address the discussion. My first reaction is that this will be complex for users, and I would kind of prefer a model where there is a generic def

[2022-11-02 19:55] fabriziopandini commented on #6563
/triage accepted
/lifecycle frozen
cc @CecileRobertMichon this IMO is something to address before graduating MP

/help

[2022-11-02 19:57] fabriziopandini commented on #6867
/triage accepted
/area clusterctl
I'm +1 to improve command helps

/help

[2022-11-02 20:05] fabriziopandini commented on #6571
/triage accepted
/help
/remove lifecycle-stale

I think we should take a look at label selectors for ensuring that deploying all CAPI components in a single namespace works, but support for deploying multiple instances of CAPI in the same cluster is out of scope

[2022-11-02 20:17] fabriziopandini commented on #6588
What I was trying to explain (sorry if I did not provide context) is that ClusterClass and managed topologies are already an answer to this use case because when using this feature the system takes care of managing template rotation for the users/the tool triggering the change.

Given that, I don't think we need to implement another solution to the same problem (and ClusterClass and managed topolo

[2022-11-02 20:18] fabriziopandini commented on #6679
/lifecycle frozen
/help

[2022-11-02 20:36] fabriziopandini commented on #6663
/triage accepted

[2022-11-02 20:48] fabriziopandini commented on #6397
/lifecycle frozen
/triage accepted

[2022-11-02 20:50] fabriziopandini commented on #6476
/triage accepted
pending for feedback...

[2022-11-02 20:52] fabriziopandini commented on #6416
/triage accepted

[2022-11-02 20:53] fabriziopandini commented on #6489
/triage accepted
pending for feedback about plans to make this a K8s standard

[2022-11-02 20:55] fabriziopandini commented on #6657
we already improved our cluster tracker to use kubernetes.default.svc connection in self-hosted clusters
/close

[2022-11-02 20:55] #6657 closed

[2022-11-02 20:57] fabriziopandini commented on #6477
/triage accepted
waiting for more feedback on the direction this issues should take

[2022-11-02 20:58] fabriziopandini commented on #6504
/triage accepted
/lifecycle frozen

[2022-11-02 20:59] fabriziopandini commented on #6504
/remove-kind bug
/kind api-change

[2022-11-02 21:06] fabriziopandini commented on #6517
/lifecycle frozen
/triage accepted
/help

Still a valid point to document some general best practices, but providing specific guidance for each cloud infrastructure should be addressed by cloud providers

I'm not sure that we can/we should apply rate limits on clusterctl and underlying APIs on concurrent and successive requests because technically complex; also it does not prevents to use of crede

[2022-11-02 21:07] fabriziopandini commented on #6516
/lifecycle frozen
/triage accepted
/help

Still a valid point to document some general best practices, but providing specific guidance for each cloud infrastructure should be addressed by cloud providers

I'm not sure that we can/we should apply rate limits on clusterctl and underlying APIs on concurrent and successive requests because technically complex; also it does not prevents to use of crede

[2022-11-02 21:09] fabriziopandini commented on #6518
/lifecycle frozen
/triage accepted
/help

Still a valid point to document some general best practices, but I think we should rely on core Kubernetes capabilities to limit what a user can do on the API Server / etcd instead of inventig our own custom solution

[2022-11-02 21:10] fabriziopandini commented on #6519
/lifecycle frozen
/triage accepted
/help

Still a valid point to document some general best practices, but providing specific guidance for each cloud infrastructure should be addressed by cloud providers

[2022-11-02 21:11] fabriziopandini commented on #6151
/lifecycle frozen
/triage accepted
/help

As commented above, we should rely on K8s processes for implementing a sanity check on owners files

[2022-11-02 21:12] fabriziopandini commented on #6153
/lifecycle frozen
/triage accepted
/help

Still a valid point to implement, but IMO we should rely on the same tooling used for k/k whatever it is

[2022-11-02 21:26] fabriziopandini commented on #7475
/triage accepted

there are probably different angles to consider, top of mind:
- writing a new CP provider is already a supported use case
- some providers already worked on similar ideas (CP deployed as a pod, like e.g. https://github.com/kubernetes-sigs/cluster-api-provider-nested). Can we join forces?
- one issue when decoupling CP from machines is networking, what kind of constraints are we e

[2022-11-02 21:30] fabriziopandini commented on #7477
this seems a duplicate of https://github.com/kubernetes-sigs/cluster-api/issues/7191
should we close/dedup?

[2022-11-02 21:34] fabriziopandini commented on #7353
can you provide your MHC configuration so someone can take a look if they have some bandwidth?

[2022-11-02 21:38] fabriziopandini commented on #6651
I kind of have the impression that we should avoid to lock down the process too much unless we have strong reasons to do so, but at the same time it makes sense to enforce we are respecting version skew rules (which is also tracked in https://github.com/kubernetes-sigs/cluster-api/issues/7011). Let's consider if to scope down and dedup

[2022-11-02 21:39] fabriziopandini commented on #5623
/lifecycle frozen

[2022-11-02 21:41] fabriziopandini commented on #5699
/lifecycle frozen

[2022-11-02 21:45] fabriziopandini commented on #5809
/close
Let's consider topology mutation hooks the way forward for advanced use cases because it provides options for unit testing everything using a proper programming language

[2022-11-02 21:45] #5809 closed

[2022-11-02 21:46] fabriziopandini commented on #5991
/lifecycle frozen
/help

this is something to complete before moving CC or Machine pools to next phases in graduation

[2022-11-02 21:47] fabriziopandini commented on #6620
/lifecycle frozen
/help

[2022-11-02 21:53] fabriziopandini commented on #6429
/lifecycle frozen
/area controlplane
/area bootstrap
/triage accepted

if we can figure out a nice and clean transition from current to the new behaviour this could be a nice UX improvement at the cost of maintaining a version map between Kubernetes version and CoreDns version.
It probably qualifiies as API change given we are changing behaviour when fields are not explicitly set
/kind api-change

[2022-11-02 21:54] mtougeron commented on #7424
I agree it isn't a perfect solution but imo the ability to set a WATCH for these events is better than having nothing or having to constantly poll the apiserver for the status.

[2022-11-02 23:39] mrog commented on #7353
I discovered a mistake in my experiment 2 days ago.  The EKS-A changes I made weren't always working, so the CNI might not have been installed in time.  I fixed my code changes today and tried a couple more times.  With the CNI working, MHC was able to detect the health of all the machines, and it remediated the unhealthy ones.

I only made worker machines unhealthy in this test.  And EKS-A failed

[2022-11-03 06:16] sbueringer commented on #7473
Yup please sync with Fabrizio. He also wanted to talk to Vince about it

[2022-11-03 06:21] sbueringer commented on #7473
fyi. Some prior art on how to write managed fields: https://github.com/kubernetes-sigs/cluster-api/blob/eaf2e619b233de8dcbf7ff7807e707629cce1262/cmd/clusterctl/client/cluster/mover.go#L1177-L1204

(we dropped this code later on again)

[2022-11-03 06:26] sbueringer commented on #7473
@chrischdi Do you remember why we dropped that code?

[code]
(xref: https://github.com/kubernetes-sigs/cluster-api/pull/6710)

I guess because we maybe didn't need it for this anymore?
* prevent unnecessary machine rollouts

But I think this is still the case:
* Without patching the managed fields, clusterctl would be the owner of the fields which would lead to co-ownership

[2022-11-03 06:41] johannesfrey commented on #7176
Sure :slightly_smiling_face:. Ok, if the bump is done regularly I won't open an issue. Thx!

[2022-11-03 06:41] #7176 closed

[2022-11-03 07:28] sbueringer commented on #7176
Sounds good to me. The bump of CR will be mandatory for the Kubernetes 1.26 dependency bump anyway.

Both should easily make it into v1.4.0 (given that Kubernetes 1.26 is planned for December and 1.4 for end of March)

[2022-11-03 07:28] sbueringer commented on #7176
@johannesfrey Thx for your work on this!!

[2022-11-03 08:03] #5394 closed

[2022-11-03 08:10] sbueringer commented on #6448
Isn't this usually logged to cloud-init-output.log?

But could be that it's only logged there once the command finishes. Getting the logs live would be a big improvement

[2022-11-03 08:11] sbueringer commented on #6663
Considering the comments above. I don't think we should actually do this.

In my opinion cluster-templates with ClusterClasses are the maintainable way to go.

[2022-11-03 08:18] sbueringer commented on #6571
I'm not sure I understand the problem:

[code]

[code]

I understand that you would run into a problem if you deploy multiple-instances of the same provider, but multiple different providers in the same namespace should work I guess (?)