[2019-05-06 07:21] pablochacin commented on #833
@mhrivnak thanks for the clarification regarding how metakube uses the CRD.

[2019-05-06 07:40] pablochacin commented on #833
@mhrivnak Your suggestion about using a generic controller watching the provider CRD seams interesting. I don't know if you are participating in the discussion about [extension mechanism for the cluster-api](https://docs.google.com/document/d/1oS14nPniZg_r3-vmgydFKri6sx_590XQVxH4Yu4wNt0/edit#). That would be a good place to present and discuss the idea. Interested?

[2019-05-06 14:48] gyliu513 opened #935 "How to update existing diagrams in cluster api?"
If I want to update the svg image like `docs/book/common_code/architecture.svg` etc, how to update it? @vvishal1 can you help? Thanks.

[2019-05-06 14:59] detiber commented on #935
@gyliu513 [Inkscape](https://inkscape.org/) is a FOSS tool that is capable of modifying SVG images.

[2019-05-06 15:08] gyliu513 commented on #935
Thanks @detiber , will check. But here I have more comments for this, how about put all of the RAW images used in cluster-api to a google driver which can be accessed by all cluster-api members? This can make sure everyone can modify the diagrams with ease.

Istio community is hosting all diagrams in google driver and every Istio member can update the diagram based on their requirement, perhaps cl

[2019-05-06 17:28] davidewatson commented on #935
I agree that image editing could be easier. I am not sure that using Google Drive would be better:

- Google Drive and GitHub history are separate. Since the GitBook is stored in GitHub, this means the Cluster API documentation must be kept in sync with the images using an external mechanism.
- Google Drive may not be accessible everywhere.

We should probably document how to edit the images. If t

[2019-05-06 18:00] detiber commented on #935
In addition to the potential issues that @davidewatson raises, I am also concerned about the management overhead of using Google Drive, since we would then also need to manage the ACLs for the drive.

[2019-05-06 21:31] chuckha opened #936 "[blocked] implement the container image promoter process"
/kind feature

**Describe the solution you'd like**
I'd like releases to use the container-image-promoter process supported by k8s-infra working group.

Please see this for more detail
https://github.com/kubernetes-sigs/k8s-container-image-promoter

You will likely have to talk with @dims as the service is currently in beta.

**Anything else you would like to add:**

[2019-05-07 00:05] vincepri commented on #929
Which version of the Cluster API controller are you running?

The ownerReference is set here
https://github.com/kubernetes-sigs/cluster-api/blob/master/pkg/controller/machinedeployment/controller.go#L221-L231

[2019-05-07 00:28] vincepri commented on #930
/kind bug

This issue is related to the AWS provider not setting the NodeRef field when running in a Management cluster. The nodeRef was being set before, but the logic was revisited in https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/744 because Cluster API wouldn't properly delete the cluster in a management scenario.

Going to close this one here, given it's specific to the AWS

[2019-05-07 00:30] vincepri commented on #839
/milestone Next
/priority important-soon

[2019-05-07 00:30] vincepri commented on #935
/kind documentation
/milestone Next

[2019-05-07 00:31] vincepri commented on #934
/priority important-longterm
/milestone Next

[2019-05-07 00:32] vincepri commented on #873
/priority important-longterm
/milestone Next
/kind documentation

[2019-05-07 00:32] vincepri commented on #866
/milestone Next
/priority important-longterm

[2019-05-07 00:33] vincepri commented on #876
@gyliu513 Any updates on the issue above?

[2019-05-07 00:34] vincepri commented on #891
/priority backlog
/milestone Next

[2019-05-07 00:34] vincepri commented on #892
/priority backlog
/milestone Next

[2019-05-07 00:34] vincepri commented on #893
/priority backlog
/milestone Next

[2019-05-07 00:35] vincepri commented on #908
/priority backlog
/milestone Next

This would be aligned with the work being discussed for v1alpha2

[2019-05-07 00:35] vincepri commented on #913
/priority important-soon
/milestone Next

[2019-05-07 00:36] vincepri commented on #917
/kind documentation
/priority backlog
/milestone Next

[2019-05-07 00:37] vincepri commented on #925
/priority important-longterm
/milestone Next

[2019-05-07 00:37] vincepri commented on #926
/priority important-soon
/milestone Next

[2019-05-07 00:37] vincepri commented on #929
/kind bug
/priority awaiting-more-evidence
/milestone Next

[2019-05-07 02:39] gyliu513 commented on #876
Thanks @vincepri for the reminder, yes, it was fixed in 0.1.0, please refer to our test result at https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/334#issuecomment-489428316

[2019-05-07 02:39] #876 closed

[2019-05-07 02:47] gyliu513 commented on #866
@derekwaynecarr @vincepri @detiber The kubeadm 1.11 can help set kubelet cgroup based on docker info, and it has been fixed at https://github.com/kubernetes/kubernetes/pull/64347 , so I updated the description of the issue a bit to specify docker configurations for end user via cluster api.

[2019-05-07 03:00] gyliu513 commented on #935
Alright, thanks all for the comments here, I will leave this issue for further discussion and will check Inkscape first to edit.

[2019-05-07 03:00] gyliu513 commented on #839
/uncc @gyliu513
/cc @xunpan

@xunpan Can you help check this as well? I recalled that you also encounter this issue before.

[2019-05-07 12:57] detiber commented on #930
@vincepri This would also affect other providers that do not set NodeRef when run in a management cluster (which I believe is all)

/reopen

[2019-05-07 13:54] chuckha opened #938 "Release v0.1.1"
/assign @justinsb

Until we get the image promoter process in place I think the gcr repo is locked down? It would be awesome to cut another release after the big backport of fixes to the release-0.1 branch.

🙏  let me know if you have questions or if you find the releasing document out of date.

[2019-05-07 14:49] gyliu513 opened #939 "Updated README to clarify the difference between Cluster API and Kubernetes Cloud Provider"
/kind bug

The Kubernetes also have bunch of cloud providers at https://github.com/kubernetes/kubernetes/tree/master/pkg/cloudprovider , I think we need to clarify the difference between those two providers, comments? @detiber @vincepri

[2019-05-07 15:05] detiber commented on #939
+1 to clarifying the differences.

[2019-05-07 15:30] vincepri commented on #939
/kind documentation
/milestone Next
/priority important-soon

[2019-05-07 15:46] mkumatag commented on #892
/assign

[2019-05-08 05:58] gyliu513 commented on #939
/cc @jichenjc

[2019-05-08 16:57] jichenjc commented on #939
ok, this can be some doc update, basically, to me cloud provider is something we can leverage from k8s perspective to get resource such as volume, files, network, machine etc, while cluster-api is focus on provisioning workers nodes from cloud then bootstrap k8s controller/nodes on top..

[2019-05-09 22:39] qingzhhu commented on #908
Thanks for your reply, looking forward to see it happen.

[2019-05-14 18:14] liztio commented on #660
/assign

[2019-05-14 18:48] ncdc opened #945 "Makefile improvement suggestions"
/kind feature

**Describe the solution you'd like**
I'd like to propose some changes to our Makefile targets:

- If I'm compiling locally, I only want the clientsets/listers/informers regenerated as-needed; in other words, do not regenerate every time I run any sort of build-related target. The same applies to the `go generate` output.
- If I'm compiling locally, I only want to deal with `dep` as-

[2019-05-16 02:14] jichenjc opened #949 "[question] why we make events to each cloud provider?"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
 looks aws provider using events here:
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/pkg/cloud/aws/services/ec2/instances.go#L283

why we can't generalize it somewhere such as
https://github.com/kubernetes-sigs/cluster-api/blob/master/pkg/controller/machine/co

[2019-05-17 01:48] jichenjc opened #950 "Add Addresses into output list"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

per https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/331
we want to floating ip (access ip) to be showable in the 'get' command
this will require changes in cluster-api

**Anything else you would like to add:**
[Miscellaneous information that will assist in sol

[2019-05-17 01:48] jichenjc commented on #950
/assign

[2019-05-20 17:38] vincepri commented on #748
This should be safe to close now that the internal is back to 10m.

/close

[2019-05-20 17:38] #748 closed

[2019-05-22 16:31] liztio commented on #939
/assign

[2019-05-22 18:19] vincepri commented on #655
/remove-lifecycle stale

[2019-05-22 18:36] liztio commented on #820
@jichenjc is this completed?

[2019-05-22 18:53] liztio commented on #930
/assign

[2019-05-23 01:10] jichenjc commented on #820
yes, it's done

[2019-05-23 01:11] jichenjc commented on #820
I forgot to add fixes keyword and I can't close this ,maybe leave to @ashoksekar07 for close ..

[2019-05-23 17:50] liztio commented on #930
Reproduction steps:

1. Create a new management cluster
2. Use the example yaml and `generate.sh` scripts as per capa [setup instructions](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/getting-started.md#generating-cluster-manifests-and-example-cluster)
3. Wait for machines to run
4. Observe lack of ReadyRequests:
[code]

[2019-05-24 00:34] #939 closed

[2019-05-24 22:04] liztio commented on #930
I'm curious how we can make this work in the general case. The only status information reported by the machine is provider-specific:

[code]
If we look at [the structure itself](https://godoc.org/sigs.k8s.io/cluster-api/pkg/apis/cluster/v1alpha1#MachineStatus), we see that there's [a `Phase` field](https://github.com/kubernetes-sigs/cluster-api/blob/master/pkg/apis/cluster/v1alpha1/machine_types.g

[2019-05-27 14:44] clyang82 opened #959 "Expose generate-yaml.sh functionality"
In order to use `generate-yaml.sh` to generate the `machines.yaml` and `cluster.yaml` from the `template`. the user has to download the source code to accomplish it. This is not a user friendly way.

Suggest to expose `generate-yaml.sh` functionality to `clusterctl generate`. and the end user just pulls the `clusterctl` image can accomplish.

WDYT?

/cc @gyliu513 @jichenjc

[2019-05-27 14:57] gyliu513 commented on #959
@detiber @vincepri comments?

[2019-05-28 13:54] vincepri commented on #254
/remove-lifecycle rotte

[2019-05-28 14:11] vincepri commented on #254
/remove-lifecycle rotten

[2019-05-28 19:37] vincepri commented on #772
/remove-lifecycle stale

[2019-05-28 19:37] vincepri commented on #776
/remove-lifecycle stale

[2019-05-28 19:38] vincepri commented on #16
/remove-lifecycle rotten

[2019-05-28 19:38] vincepri commented on #13
/remove-lifecycle rotten

[2019-05-28 19:38] vincepri commented on #57
/remove-lifecycle rotten

[2019-05-28 19:38] vincepri commented on #31
/remove-lifecycle rotten

[2019-05-28 19:38] vincepri commented on #276
/remove-lifecycle rotten

[2019-05-28 19:39] vincepri commented on #290
/remove-lifecycle rotten

[2019-05-28 19:39] vincepri commented on #204
/remove-lifecycle stale

[2019-05-28 19:39] vincepri commented on #253
/remove-lifecycle stale

[2019-05-28 19:57] liztio commented on #913
/assign

[2019-05-28 21:38] vincepri commented on #622
/remove-lifecycle rotten

[2019-05-29 00:29] jichenjc commented on #959
I think we want to include the generate-yaml.sh into the clusterctl docker image and use that ?
first  the generate-yaml.sh is provider specific? they might have different options for different vendor?
and you still need download code in order to complete the generation? for example,

something like:
kubectl kustomize $PWD/../../../../config > $PWD/$OUTPUT/provider-components.yaml
you still need d

[2019-05-29 05:25] clyang82 commented on #959
In my understand, yes, the generate-yaml.sh is provider-specific and clusterctl is also provider-specific. Please correct me If I am wrong. Can we consider to bundle the generate-yaml.sh with templates together into clusterctl? That is one way. I am open for other great ideas. I just think download source code is not a good way for client enablement.

[2019-05-29 07:31] xunpan opened #961 "configuable timeoutKubeconfigReady"
/kind feature

**Describe the solution you'd like**
For deploying a different release of Kubernetes, e.g. ICP, the default time out for 20m may be not enough in waiting for cluster ready.

It should be better configurable by command line options.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-05-29 07:39] xunpan opened #962 "HA requirement for ICP Kubernetes distribution"
/kind feature

**Describe the solution you'd like**
ICP is an IBM kubernetes release. It implements HA with below dependency which may need cluster-api support
1. create load balancer after control plane machines created
    Shall we have any callback mechanism in `clusterctl` to add dependencies checking for different Kubernetes distribution?
2.  wait for all control plane hosts ready before kube

[2019-05-29 21:30] michaelgugino opened #963 "Unable to delete master machine"
/kind bug

**What steps did you take and what happened:**
Deleting a master machine where the machine-controller running is prohibited in code: https://github.com/kubernetes-sigs/cluster-api/blob/bf950adfea7c117e58ca30770d02067d8e43d3c7/pkg/controller/machine/machine_controller.go#L167-L168

**What did you expect to happen:**
We should delete this machine, the machine-controller can get reschedule

[2019-05-30 01:13] chenzhiwei opened #965 "don't abort the cluster creation when applying addon failed"
/kind feature

**Describe the solution you'd like**

Since the addon can be deployed after the Kubernetes core started and cluster-api does not do any special setting for deploying addon, so I think it is better to not abort the cluster creation when applying addon failed.

Users can correct the addon content or tweak the Kubernetes configuration, then deploy the addon.

**Anything else you would

[2019-05-30 13:25] posox opened #966 "Failed to move machine from bootstrap cluster"
/kind bug

**Problem:**
Master machine cannot be moved from bootstrap cluster because machine cannot be force deleted from cluster. Cluster api uses the following code for force delete machine:

`clusterclient.go:`
[code]

After machine update reconcile will be called and machine finalizer returns back because deletionTimestamp is not set. [code](https://github.com/kubernetes-sigs/cluster-api/blob

[2019-05-30 14:14] ncdc commented on #13
I don't believe we need to automate updating a repo's vendoring of cluster-api. I suggest we close this issue. WDYT?

[2019-05-30 14:17] ncdc commented on #16
I'm not entirely certain what this issue is asking for specifically. Is it:

- I have some servers that are already running Kubernetes and I want to create `Machine` custom resources that represent these preexisting servers?
- Something else?

[2019-05-30 14:19] ncdc commented on #31
This sounds like the ask is to be able to scale a one-node control plane to multi-node. Is that accurate?

[2019-05-30 14:37] ncdc commented on #57
It doesn't appear that the Cluster Registry project is active? I'm also not sure that Cluster API necessarily needs to be responsible for direct integration with Cluster Registry - this could be achieved outside of Cluster API. Do you all think we should keep this open, or can we close it?

[2019-05-30 14:41] ncdc commented on #137
The referenced kube-openapi PR has been merged. I'm wondering if this is possibly fixed. Would someone have some time to test this issue and report back?

[2019-05-30 14:45] dhellmann commented on #57
I like the idea of working one layer at a time, from the bottom up. If we eventually want to add registry support, we can either reopen this ticket or file a new one at the point where we have a good idea of what that support means. So, let's close this.

[2019-05-30 14:49] ncdc commented on #57
/close

[2019-05-30 14:49] #57 closed

[2019-05-30 14:50] ncdc commented on #13
As suggested by @dhellmann, I'm going to close and we can always reopen issues if needed.

/close

[2019-05-30 14:50] #13 closed

[2019-05-30 14:53] vincepri commented on #31
I think this might be safe to close given that #30 has been fixed.

[2019-05-30 14:54] ncdc commented on #253
I'm not entirely clear on what this issue is about. Could someone please clarify? Thank you!

[2019-05-30 14:55] ncdc commented on #31
Sold.

/close

[2019-05-30 14:55] #31 closed

[2019-05-30 14:58] vincepri commented on #965
@chenzhiwei Can you please fill out the template as described?

I'm not sure if this actually should fail with a warning given that addons often contain networking related components (like Calico) which are required to build a cluster.

[2019-05-30 14:59] vincepri commented on #965
/priority awaiting-more-evidence
/milestone Next

[2019-05-30 15:02] ncdc commented on #254
What are we talking about testing here? Which code and/or workflow(s)?

[2019-05-30 15:07] ncdc commented on #262
As best I can tell, the manager automatically enables leader election. I'm going to close this but we of course can reopen if needed.

/close

[2019-05-30 15:07] #262 closed

[2019-05-30 15:11] ncdc commented on #276
This hopefully will be a feature of a kubeadm-based bootstrap provider. We're still working on a proposal for machine bootstrapping, and we'll also be writing a design doc for a kubeadm bootstrap provider.

[2019-05-30 15:13] ncdc commented on #290
We will be creating a PR with a proposed release cadence for the project shortly. I'll make sure it's tagged to close this on merge.

[2019-05-30 17:27] seans3 commented on #137
/remove-lifecycle stale

[2019-05-30 18:00] ncdc commented on #567
Assuming we proceed with removing actuators and move to a true split between generic cluster-api CRDs and controllers vs. provider CRDs and controllers, this issue probably becomes "document how to deploy cluster-api". Agree?

[2019-05-30 18:00] ncdc commented on #567
/remove-lifecycle stale

[2019-05-30 18:02] ncdc commented on #622
@vincepri do you still think we need this as an umbrella issue? Would it be ok to close it and create individual issues as needed?

[2019-05-30 18:51] Lokicity opened #969 "Status of a machine deployment"
/kind feature

**Describe the solution you'd like**
When I create a machine deployment, It is hard to see the state of it. If it is still resizing, or if it has reached the expected replica number, or it has running into some error reconciling. It would be nice to associated machine deployment with some sort of state such as "RESIZING", "READY", ERROR", etc. Also, currently it is not easy to get a

[2019-05-30 19:56] vincepri commented on #639
Closing now that we're tackling proposals that might remove some actuators.

/close

[2019-05-30 19:56] #639 closed

[2019-05-30 19:57] vincepri commented on #622
Sounds good!

/close

[2019-05-30 19:57] #622 closed

[2019-05-30 22:55] chingchiaw opened #970 "MD controller sync getNewMachineSet should not return nil as newMS after updating existingNewMS"
/kind bug

In pkg/controller/machinedeployments/sync.go `getNewMachineSet`, when there's an existing new MS, and its annotations or minReadySeconds need to be updated, the controller update the MS and return nil as new MS, and the error from r.Update as follows:

[code]

IMO it should not return nil, it should return the updated MS (msCopy).

https://github.com/kubernetes-sigs/cluster-api/blame/ma

[2019-05-30 23:56] chenzhiwei commented on #965
@vincepri Network component is optional in Kubernetes core, otherwise it will be part of Kubernetes core.

My main concern is if there is an error in the optional addon, I need to delete the whole cluster and re-deploy.  Why not just throw a warning message and let users decided they want to re-create the cluster or re-deploy addon?

[2019-05-31 06:31] chenzhiwei opened #971 "simplify the cluster-api configuration"
/kind feature

**Describe the solution you'd like**

Currently cluster-api accepts 3 yaml files, even there is a script to automatically generate them, it is still complex.

I propose to have a declarative configuration file, cluster-api convert it to the 3 yaml files internally.

For format can be something like:

[code]

The command to create cluster can simplify to: `clusterctl -c config.yaml c

[2019-05-31 06:35] gyliu513 commented on #971
@detiber @vincepri comments for this?

[2019-05-31 06:45] chenzhiwei commented on #959
Using a single configuration file can achieve same result: https://github.com/kubernetes-sigs/cluster-api/issues/971

[2019-05-31 14:14] ncdc commented on #682
This was fixed by #878
/close

[2019-05-31 14:14] #682 closed

[2019-05-31 14:32] ncdc commented on #776
@vincepri given our desire to remove actuators, can we close this?

[2019-05-31 14:40] ncdc commented on #853
We are working on a proposal that we'll share soon to separate machine infrastructure provisioning from node bootstrapping. That will allow users to pick one provider for infrastructure (e.g. IBM Cloud) and separate providers for bootstrapping (Kubernetes via kubeadm, OpenShift, Rancher, etc).

[2019-05-31 14:53] jichenjc commented on #853
Thanks, will that be posted in Forum or somewhere soon? also, I assume that will be a set of provider related changes as well (not only in cluster-api itself) right?

[2019-05-31 15:01] ncdc commented on #870
There is currently no way to choose the relative priority ordering for custom resources when you execute `kubectl get`. What happens is `kubectl` downloads the API discovery document from the apiserver and stores it in a local file cache. The discovery document contains a list of all the resources the apiserver offers. Whichever `cluster` resource is first in the list is the one that `kubectl get`

[2019-05-31 15:01] #870 closed

[2019-05-31 15:03] ncdc commented on #881
Closing this as a duplicate of #493.
/close

[2019-05-31 15:03] #881 closed

[2019-05-31 15:05] ncdc commented on #853
We are working as quickly as we can to produce an initial draft of the proposal. At this point, I would expect it early next week. We will post to the [discuss forum](https://discuss.kubernetes.io/c/contributors/cluster-api) and Slack and anyplace else that makes sense.

Yes, this will require transforming "providers" as they exist in v1alpha1 from what they currently are (infrastructure & bootstr

[2019-05-31 15:12] ncdc commented on #908
This sounds like a combination of:

1. making sure the image stamping work (#723) produces images with the appropriate prerequisites installed
1. separating infrastructure providers from bootstrap providers (#853, among others)

We are working on a proposal for separating infrastructure from bootstrapping. Please look for it early next week.

[2019-05-31 15:13] ncdc commented on #910
Given that we are proposing removing the actuator interface, would it be ok to close this?

[2019-05-31 15:27] ncdc commented on #913
@liztio it looks like there has been some movement in kubernetes to address this. Would you have some time to follow the chain of issues & PRs to see if we'll get this fixed for free in newer Kubernetes releases?

[2019-05-31 15:30] ncdc commented on #925
Didn't we fix this in #878?

[2019-05-31 15:31] davidewatson commented on #910
I feel this is premature. This is a small change, and independent of whether the actuator interface goes away, this is precisely the type of small targeted change I think we should focus on.

Too many simultaneous changes will only confuse and upset people who are already invested in this project.

[2019-05-31 15:32] ncdc commented on #929
@DheerajSShetty could you please let us know if this is still an issue for you?

[2019-05-31 15:36] ncdc commented on #910
The machine bootstrapping proposal we're working on (ETA: early next week) will remove the Machine actuator entirely, but we aren't touching the Cluster actuator. Someone could add the context to the Cluster actuator for v1alpha2, but I would expect it to be removed when we tackle Cluster+Infrastructure later on.

[2019-05-31 15:38] akutz commented on #910
Hi @ncdc,

The lack of a context is anti-pattern, and I think it should be added. I can't speak to what the design will be, so if you think this is no longer relevant, then closing this is up to you.

[2019-05-31 15:42] vincepri commented on #776
Yep

/close

[2019-05-31 15:42] #776 closed

[2019-05-31 15:42] ncdc commented on #910
I 100% agree we should add context to methods. I'm just questioning if it's worth doing this for an interface that likely will go away.

[2019-05-31 15:49] vincepri commented on #718
/remove-lifecycle rotten

[2019-05-31 16:05] akutz commented on #910
Hi @ncdc,

That was what I meant when I said:

If there's no rev planned between CAPI v1alpha1 and v1alpha2, then I agree that it may not be worth adding.

[2019-05-31 16:39] DheerajSShetty commented on #929
I will use capi 0.1.1 and recheck this. Last time I checked, this issue was still seen. I will check it today and update here.

[2019-06-03 03:22] jichenjc opened #974 "downgrade log for execute commands"
/kind feature

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/issues/213
we should not use Errorf because it's anyway has a error inside and don't affect the return value

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that

[2019-06-03 03:22] jichenjc commented on #974
/assign

[2019-06-03 03:36] jichenjc opened #976 "Enhance log of create control pane"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

see this log during cluster creation with ibm cloud provider

I0603 02:10:37.596053   30460 clusterdeployer.go:92] Creating control plane  in namespace "default"

the code is following

klog.Infof("Creating control plane %v in namespace %q", controlPlaneMachines[0].Name, cluster.Namespa

[2019-06-03 03:36] jichenjc commented on #976
/assign

[2019-06-03 03:39] #976 closed

[2019-06-03 03:39] jichenjc commented on #976
already fixed

[2019-06-03 04:20] jichenjc opened #977 "add more log for cluster deletion failed"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
when doing deletion cluster, keep getting this log but don't know what happened
`Waiting for Cluster API resources to have statuses`

so we need consider add some debug logs there

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue

[2019-06-03 04:20] jichenjc commented on #977
/assign

[2019-06-03 04:21] jichenjc commented on #974
/kind bug cancel

[2019-06-03 04:27] jichenjc commented on #966
I can create with following command:
[code]

and delete the cluster succesfully using
[code]

so is there pre-existing condition/error lead to the move steps error @posox ?  and which provider you are using? thanks

[2019-06-03 07:06] wanghh2000 opened #979 "Better do not output the messages of detection process"
/kind bug

**What steps did you take and what happened:**
Follow steps to create a cluster. There are some messages of detection to be output by command `clusterctl` as below. Seems no any impact on cluster creation.

[code]

**What did you expect to happen:**
Do not output the messages if no any impact.
[code]

**Anything else you would like to add:**

**Environment:**

- Cluster-api version: mas

[2019-06-03 18:01] DheerajSShetty commented on #929
I could not test this on Friday. I did a quick describe MachineDeployment, which showed OwnerReference. I have to check if
https://github.com/kubernetes-sigs/cluster-api/blob/a7a0a93a8052fd08a8fb585746f99d107227f521/cmd/clusterctl/clusterdeployer/clusterclient/clusterclient.go#L292
this returns a MachineDeployment or not.

[2019-06-03 18:07] detiber commented on #966
@posox which provider are you encountering this with? The pivot workflow should be scaling down the controllers before doing the force deletion, which should avoid the situation you are describing.

[2019-06-04 05:21] wanghh2000 commented on #961
@xunpan You want a parameter like "--timeoutForWaitingTargetCluster 30" from Clusterctl to update timeoutKubeconfigReady in case creating a cluster is very long process. Right?

[2019-06-04 06:57] errordeveloper commented on #733
/remove-lifecycle stale

On Mon, 3 Jun 2019, 11:30 pm fejta-bot, <notifications@github.com> wrote:

[2019-06-04 07:43] gyliu513 commented on #961
@wanghh2000 @xunpan You can post a PR like this https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/262 which was fixed by @jichenjc for OpenStack.

[2019-06-04 08:31] wanghh2000 commented on #961
@gyliu513
Shouldn't the timeout be a common feature from `clusterctl` for all provider projects?
Do you mean that add a timeout in each provider to handle instead of a common `clusterctl` parameter?

[2019-06-04 08:45] jichenjc commented on #961
that's doable, It will increase a lot of options since we have a set of timeout options...
and our provider is running in container (statefulset), we need transfer that from clusterctl exec file to the container as well

[2019-06-04 08:54] wanghh2000 commented on #961
@jichenjc OK, I will reference what you did.

[2019-06-04 11:29] posox commented on #966
@jichenjc I use openstack provider with custom patches.

[2019-06-04 14:13] detiber commented on #966
Looking at the OpenStack provider, it seems to be using a `Deployment` instead of a `StatefulSet` for the controller deployment (https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/config/manager/deployment.yaml) and that would explain the behavior that you are seeing.

`clusterctl` could be extended to support `Deployments` or `StatefuleSets` here: https://github.com/kub

[2019-06-04 14:52] gyliu513 opened #980 "Support Managed Kubernetes Provider"
/kind feature
/kind question

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

I found that Cluster API is focusing on support infrastructure provider, like AWS, Azure, OpenStack, IBM Cloud etc. Any plan to enable Cluster API can also support hosted Kubernetes provider, like AKS, IKS, GKE etc?

/cc @vincepri @detiber

[2019-06-04 14:59] ncdc commented on #980
@gyliu513 yes, we do hope to support this when we implement control plane lifecycle management.

[2019-06-04 18:54] detiber commented on #47
/remove-lifecycle stale

[2019-06-04 18:54] detiber commented on #520
/remove-lifecycle stale

[2019-06-05 01:11] jichenjc commented on #966
I can take a look at this as I am working on openstack provider now

[2019-06-05 01:11] jichenjc commented on #966
/assign

[2019-06-05 04:11] gyliu513 commented on #980
@ncdc any design or document that I can refer for `control plane lifecycle management`?

[2019-06-05 05:27] gyliu513 opened #981 "Use random name for KIND or MiniKube as Bootstrap Cluster"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

For KIND, we are using cluster name as `clusterapi` at https://github.com/kubernetes-sigs/cluster-api/blob/master/cmd/clusterctl/clusterdeployer/bootstrap/kind/kind.go#L30 as the bootstrap cluster name, the problem here is if I have multiple clusterctl requests, then I need to specify t

[2019-06-05 09:47] posox commented on #966
@detiber thank you for clarification, need to switch to statefulsets in openstack provider.

[2019-06-05 09:47] #966 closed

[2019-06-05 09:52] jichenjc commented on #980
+1 for some reference doc share :)

[2019-06-05 13:02] detiber commented on #981
I'm not necessarily against the idea, but I would suspect that there could very well be other blockers involved with running multiple `clusterctl` processes in parallel on the same host. For example the hardcoded use of kubeconfigs withing the current working directory would also be a point of contention between parallel running instances.

[2019-06-05 13:40] detiber commented on #567
Yes

[2019-06-05 13:57] gyliu513 commented on #981
Yes, that is a issue we need to fix as well, I will check, but let me first post a PR to fix the cluster name issue here, thanks @detiber for the quick response ;-)

[2019-06-05 14:09] detiber commented on #981
@gyliu513 Changing the location of the generated kubeconfig files would likely cause issues for downstream providers who currently reference the hardcoded locations in their documentation.

We should probably have a larger discussion around if we are willing to accept that and if running `clusterctl` in parallel is a use case that we should support.

[2019-06-05 14:22] gyliu513 commented on #981
@detiber sure thing, let me do some test first.

FYI @hchenxa @jichenjc

[2019-06-05 16:12] ncdc commented on #938
@chuckha is there still work to do here?

[2019-06-05 16:41] ncdc commented on #980
They haven't been written yet. This is the most recent update I've seen: https://discuss.kubernetes.io/t/cluster-api-controlplane-lifecycle-management-workstream/5956/2?u=ncdc

[2019-06-05 18:13] #290 closed

[2019-06-05 19:31] detiber commented on #807
/remove-lifecycle stale

[2019-06-05 19:34] detiber commented on #938
It looks like the release notes were never generated for the release.

[2019-06-05 22:54] #977 closed

[2019-06-06 03:38] jichenjc opened #983 "[question] support deployment in provider components"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

this actually comes from https://github.com/kubernetes-sigs/cluster-api/issues/966
as @detiber pointed out, the question is openstack provider is using deployment
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/config/manager/deployment.yaml

and it's ign

[2019-06-06 08:50] gyliu513 commented on #981
@clyang82

[2019-06-06 13:41] liztio opened #985 "[0.1] Deleting Cluster does not delete"
/kind bug

**What steps did you take and what happened:**

1. Create a cluster in the cluster API
2. Add a Machine or MachineDeployment
3. Wait for all objects to become available
4. `kubectl delete` the cluster
5. The cluster gets a deleted-at, but nothing else gets deleted

**What did you expect to happen:**

The Machines, then MachineDeployments should be marked to be deleted, then the cluster

[2019-06-06 13:42] liztio commented on #985
/assign
/cc @ncdc

[2019-06-06 14:41] chuckha commented on #938
minimally, we only need the image pushed for a release. I'd say this is closed and release notes are not strictly required, but they would be very nice to do as part of a release.

[2019-06-06 16:17] ncdc commented on #983
I believe one motivation for using StatefulSet is that it guarantees you can't have multiple replicas of the same pod running at the same time, whereas this isn't necessarily true with Deployment (am I stating that correctly, @detiber?). If this is true, I think the rationale was to avoid multiple instances of the controllers from trying to act on the same objects. As best I can tell, controller-r

[2019-06-06 18:25] detiber commented on #983
That is indeed the motivation and the reason for StatefulSets being used by default by Kubebuilder.

While it is true that controller-runtime supports leader election, we do not currently set the options to enable it by default (either in the cluster-api common controller manager or most downstream provider controller managers).

[2019-06-06 18:29] ncdc commented on #983
I could have sworn it was enabled by default. Maybe I misread something?

On Jun 6, 2019, at 2:25 PM, Jason DeTiberus <notifications@github.com<mailto:notifications@github.com>> wrote:

That is indeed the motivation and the reason for StatefulSets being used by default by Kubebuilder.

While it is true that controller-runtime supports leader election, we do not currently set the options to enable

[2019-06-06 18:34] detiber commented on #983
Based on how we currently initialize the manager: https://github.com/kubernetes-sigs/cluster-api/blob/master/cmd/manager/main.go#L52-L55 We get the default value for the Options struct, which is `false`: https://github.com/kubernetes-sigs/controller-runtime/blob/f1eaba5087d69cebb154c6a48193e6667f5b512c/pkg/manager/manager.go#L101

[2019-06-07 14:20] jichenjc commented on #983
so because of above conclusion (the default is false for leader election) that means the best way might still be stateful set for each provider in order to avoid the concurrent issue? @detiber @ncdc , then I will change openstack provider settings...

[2019-06-07 14:45] detiber commented on #983
I think that is probably the safest bet for now

[2019-06-07 14:50] jichenjc commented on #983
got it , thanks for the confirm

[2019-06-07 14:50] #983 closed

[2019-06-07 18:11] timothysc commented on #938
We can close this given we cut 0.1.2 today.

[2019-06-07 18:11] #938 closed

[2019-06-07 18:12] ncdc commented on #789
The long term goal is to move away from provider-specific clusterctl. Closing.

/close

[2019-06-07 18:12] #789 closed

[2019-06-07 18:16] davidewatson commented on #571
The only remaining item for this issue is #788. Therefore we are closing it.

/close

[2019-06-07 18:16] #571 closed

[2019-06-07 18:20] timothysc commented on #137
/cc @michaelgugino

[2019-06-07 18:22] ncdc commented on #925
As discussed in today's grooming meeting, this is done. We'll use separate issue(s) to track control plane lifecycle management.

/close

[2019-06-07 18:22] #925 closed

[2019-06-07 18:23] vincepri commented on #929
@DheerajSShetty This is going to be tackled in v1alpha2, v1alpha1 has limitations around how we access workload clusters from a management one.

[2019-06-07 18:25] timothysc commented on #431
Closing, folks can PR the main docs if/when they create one.

[2019-06-07 18:25] #431 closed

[2019-06-07 18:27] ncdc opened #991 "Make sure the bot is working correctly to sync GitHub labels for this repo"
We need to make sure the bot integration is set up correctly so all the appropriate GitHub labels are synchronized into this repo.

[2019-06-07 18:27] ncdc commented on #991
We need labels such as `area/api`.

[2019-06-07 18:30] vincepri commented on #777
/remove-lifecycle stale

[2019-06-07 18:36] ncdc opened #992 "Allow validation of provider-specific Machine types"
/kind feature

**Describe the solution you'd like**
#147 is for `Cluster`. This is for `Machine`. We want to remove the inline `RawExtension` `providerSpec` and `providerStatus` fields from `Machine` and replace them with references to first-class custom resource instances, which can then be individually validated at create/update time using OpenAPI schema validation and/or validating webhooks.

*

[2019-06-07 18:39] vincepri commented on #16
Closing this issue given the project's scope and goals. This particular feature is allowed but not necessarily supported.

/close

[2019-06-07 18:39] #16 closed

[2019-06-07 18:41] timothysc commented on #254
closing

[2019-06-07 18:41] #254 closed

[2019-06-07 18:42] vincepri opened #993 "Improve issue templates"
/kind feature

**Describe the solution you'd like**
We should update our template issues to add more details and be more verbose.

**Anything else you would like to add:**
/cc @timothysc

[2019-06-07 18:42] davidewatson commented on #253
A `Ready` "status" is only one of the states we need to expose for Bootstrapping. Therefore we'll close this and handle this there.

/close

[2019-06-07 18:43] #253 closed

[2019-06-07 18:46] timothysc commented on #518
We should be recommending machine deployments and outline that we may not support on machines.

[2019-06-07 18:51] michaelgugino opened #994 "Centralize Node Cordon & Drain"
/kind feature

**Describe the solution you'd like**
Currently, provider Actuators may (or may not) implement Node cordon & drain before delete.  We should do this in the machine-controller.

**Anything else you would like to add:**
To be provider neutral, we may need to add an extension to the Actuator interface such as "preDrain()" that allows a provider to do things like label/annotation VMs (su

[2019-06-07 18:55] timothysc commented on #772
xref: https://github.com/kubernetes-sigs/cluster-api/issues/827

[2019-06-07 19:00] detiber commented on #994
The main impediment to this today is the lack of remote node references. It'll work for self-managed clusters, but if a separate management cluster is used it will not work today.

[2019-06-07 19:04] ncdc commented on #991
Being worked in https://github.com/kubernetes/test-infra/pull/12949

[2019-06-07 19:04] ncdc commented on #994
Remote node ref issue: #520

[2019-06-07 19:14] vincepri commented on #991
/lifecycle active

[2019-06-07 19:38] detiber commented on #137
I just tested this with `kubeadm` version 1.13.1 and I am no longer able to replicate the issue. Closing.

/close

[2019-06-07 19:39] #137 closed

[2019-06-07 20:19] #991 closed

[2019-06-10 03:24] clyang82 commented on #981
@detiber @vincepri @ncdc How about add new parameter to `clusterctl` command to allow generating multiple kubeconfig files when the clusterctl are running in parallel on the same host. in this way, we can support backward compatibility. something likes:
[code]

WDYT?

[2019-06-10 08:26] gyliu513 opened #995 "[Question] How to use cluster API to add label and taint for a node"
/kind bug
/kind question

When I set up my cluster, I want to add label and taint for my node, how can I do this via cluster api?

/cc @detiber @vincepri

FYI @xunpan @qiujian16 @jichenjc

[2019-06-10 08:51] jichenjc commented on #995
@gyliu513
https://github.com/kubernetes-sigs/cluster-api/issues/493 has the info

[2019-06-10 13:49] gyliu513 opened #996 "CRDs should not be deleted if I was using existing cluster as bootstrap cluster"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

The current behavior is if I use existing cluster as bootstrap cluster, then after the k8s cluster was provisioned on the remote cloud, then the CRDs and CRs will be deleted on the existing cluster.

The problem here is if I run two `clusterctl create` one by one, then after the first `

[2019-06-10 13:51] gyliu513 commented on #995
Thanks @jichenjc , this is duplicate with #493

[2019-06-10 13:51] #995 closed

[2019-06-10 13:51] gyliu513 commented on #493
@hardikdr What is the progress of this? If you are not working, can I take this over?

[2019-06-10 13:52] gyliu513 commented on #493
@qiujian16 @xunpan @clyang82

[2019-06-10 13:55] gyliu513 commented on #996
Or at least we should adding some parameters in `clusterctl` to let end use decide if they want to delete the CRD or not.

[2019-06-10 14:02] detiber commented on #996
Personally I'm torn on this, I do think this is a great use case, however I think the scope and goals of `clusterctl` is already overloaded and confusing.

I would like to see `clusterctl`'s scope reduced to just being a tool to bootstrap a cluster-api management cluster and potentially introduce a new tool, say `clusterdeploy`, for deploying a cluster using an existing management cluster.

/assig

[2019-06-10 14:02] detiber commented on #996
/area clusterctl

[2019-06-10 14:13] davidewatson commented on #996
I agree with the general idea of reducing the scope of `clusterctl`.

Internally we have discussed various ways to prevent CRDs from being deleted on a management cluster while the controllers are still running and there are still managed clusters, however I am not convinced anything more is necessary than setting the right RBAC permissions.

`clusterctl` could warn when it is being run in paralle

[2019-06-10 14:53] gyliu513 commented on #996
@davidewatson @detiber This will be difficult to control if there are multiple end users using on the same existing cluster, and I would expect only the cluster admin have the ability to create clusters via `clusterctl`, as a short term solution, how about add an option in `clusterctl` to fix this?

[2019-06-10 15:25] vincepri commented on #34
/area testing

[2019-06-10 15:26] vincepri commented on #46
/area api

[2019-06-10 15:26] vincepri commented on #47
/area health

[2019-06-10 15:26] vincepri commented on #147
/area api

[2019-06-10 15:26] vincepri commented on #992
/area api

[2019-06-10 15:27] vincepri commented on #276
/area control-plane

[2019-06-10 15:27] vincepri commented on #296
/area machine

[2019-06-10 15:28] vincepri commented on #325
/area clusterctl

[2019-06-10 15:30] vincepri commented on #402
/area clusterctl

[2019-06-10 15:30] vincepri commented on #490
/area api

[2019-06-10 15:30] vincepri commented on #493
/area api

[2019-06-10 15:30] vincepri commented on #518
/area machine

[2019-06-10 15:31] vincepri commented on #519
/area machine

[2019-06-10 15:31] vincepri commented on #520
/area api

[2019-06-10 15:31] vincepri commented on #529
/area clusterctl

[2019-06-10 15:31] vincepri commented on #554
/area clusterctl

[2019-06-10 15:31] vincepri commented on #557
/area clusterctl

[2019-06-10 15:32] vincepri commented on #638
/area clusterctl

[2019-06-10 15:33] vincepri commented on #652
/area api

[2019-06-10 15:33] vincepri commented on #655
/area release

[2019-06-10 15:33] vincepri commented on #660
/area testing

[2019-06-10 15:35] vincepri commented on #678
/area ux

[2019-06-10 15:35] vincepri commented on #707
/area api

[2019-06-10 15:35] vincepri commented on #718
/area clusterctl

[2019-06-10 15:35] vincepri commented on #720
/area control-plane

[2019-06-10 15:36] vincepri commented on #723
/area release

[2019-06-10 15:36] vincepri commented on #772
/area clusterctl

[2019-06-10 15:36] vincepri commented on #775
/area clusterctl

[2019-06-10 15:36] vincepri commented on #777
/area clusterctl

[2019-06-10 15:36] vincepri commented on #777
/area clusterctl

[2019-06-10 15:37] vincepri commented on #783
/area ux

[2019-06-10 15:37] vincepri commented on #791
/area clusterctl

[2019-06-10 15:38] vincepri commented on #820
/area ux

[2019-06-10 15:38] vincepri commented on #827
/area clusterctl

[2019-06-10 15:38] vincepri commented on #833
/area api

[2019-06-10 15:38] vincepri commented on #839
/area clusterctl

[2019-06-10 15:39] vincepri commented on #859
/area ux

[2019-06-10 15:41] vincepri commented on #891
/area testing

[2019-06-10 15:41] vincepri commented on #892
/area testing

[2019-06-10 15:41] vincepri commented on #893
/area testing

[2019-06-10 15:43] vincepri commented on #910
/area api

[2019-06-10 17:08] detiber commented on #655
Closing, since the gitbook release updates are now fully automated.
/close

[2019-06-10 17:08] #655 closed

[2019-06-10 18:43] vincepri opened #999 "0.1.2 controller image fails to run"
/kind bug

**What steps did you take and what happened:**
Run cluster-api-controller 0.1.2, fails with message below.

[code]

**What did you expect to happen:**
Controller running successfully.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version: 0.1.2

[2019-06-10 18:51] justaugustus commented on #999
+1 from capz...

[code]

[code]

[2019-06-10 18:59] vincepri commented on #999
It seems that the image published is based on an older distroless version by looking at the base layers:

- CAPI: https://console.cloud.google.com/gcr/images/k8s-cluster-api/GLOBAL/cluster-api-controller@sha256:51a4c904fc3555483b496b7d4d433ea26174eeba7f92402dcc711531c2e287e5/details?tab=info
- Distroless: https://console.cloud.google.com/gcr/images/distroless/GLOBAL/static@sha256:cd0679a54d2abaf36

[2019-06-10 19:03] vincepri commented on #999
/assign @justinsb

[2019-06-10 19:30] ncdc commented on #930
@liztio FYI @vincepri is working on a POC to handle setting remote node references. If that is approved, this should be achievable as a follow-up.

[2019-06-10 19:30] ncdc commented on #930
/area machine

[2019-06-10 19:36] vincepri commented on #520
Regarding this issue, I'd propose to tackle this in v1alpha1 by creating a new, backward-compatible, controller that references a secret in a specific location.

- Create a nodeRef controller in CAPA that watches Machines
- Check `<cluster-name>-kubeconfig` secret is available
- Create a client from kubeconfig
- Check each remote node and set NodeRef if a matching Node is found

Happy to start wor

[2019-06-10 19:53] detiber commented on #520
@vincepri sgtm

[2019-06-10 22:44] dhellmann opened #1005 "developers need a way to test the gitbook build locally"
/kind feature

**Describe the solution you'd like**

I would like to be able to test the gitbook build on my local system.

I tried using `hack/build-gitbook.sh` and encountered several errors, likely because that script is assuming it is running in CI.

[code]

I then removed the `-g` option from the `npm install` command and made more progress, but still failed because the bin directory for the

[2019-06-10 23:58] gyliu513 commented on #827
This is not a problem any more, as we can set cluster name for both Minikube and Kind now.

[2019-06-10 23:58] #827 closed

[2019-06-11 02:19] vincepri commented on #999
/close

Fixed in 0.1.3

[2019-06-11 02:19] #999 closed

[2019-06-11 02:20] vincepri commented on #929
I just tried running CAPA with the latest CAPI 0.1.3 and the OwnerReference is set properly

[code]

[2019-06-11 02:21] DheerajSShetty commented on #929
Please close it if it is Set.

[2019-06-11 02:22] vincepri commented on #929
/close

[2019-06-11 02:22] #929 closed

[2019-06-11 02:56] davidewatson commented on #996
I haven't looked at `clusterctl` in some time but I believe the `--bootstrap-cluster-cleanup` option may help you avoid cleaning up the bootstrap cluster.

[2019-06-11 03:08] gyliu513 commented on #996
@xunpan can you help check if `--bootstrap-cluster-cleanup` can help this case?

[2019-06-11 04:27] jichenjc commented on #996
my understanding is that flag is just for whole boot cluster to be deleted, seems different to the question here....
[code]

[2019-06-11 05:12] gyliu513 commented on #996
Thanks @jichenjc , Yes, seems we still need a parameter to control this.

@davidewatson comments?

[2019-06-11 05:30] xunpan commented on #996
Currently, `cleanupBootstrapCluster` for existing cluster do nothing.
The CRDs are deleted when cluster api resources are pivoted to target cluster. So, if we need the feature, we need coding work.

[2019-06-11 06:43] #981 closed

[2019-06-11 13:56] ncdc opened #1007 "Add additional events for MachineSet"
/kind feature

**Describe the solution you'd like**
As a Cluster API user, I would like more insight into the actions associated with a MachineSet. Specifically, I would like to see events for:

- `SuccessfulCreate` - created Machine $name
- `FailedCreate` - error creating Machine $name
- `SuccessfulDelete` - deleted Machine $name
- `FailedDeleted` error deleting Machine $name

This is similar to

[2019-06-11 13:56] ncdc commented on #1007
/area machine
/area ux
/priority important-soon

[2019-06-11 14:06] detiber commented on #1005
/assign @davidewatson

[2019-06-11 15:24] detiber commented on #1007
/assign

[2019-06-11 16:06] chuckha opened #1009 "ClusterNetwork should be optional"
/kind bug

**What steps did you take and what happened:**
ClusterNetwork on v1a1.Cluster object is required but nothing else is. Is there a reason this is required and not defaulted? kubeadm can probably provide some sane defaults for these values.

**What did you expect to happen:**
defaulting the cluster network fields.

**Anything else you would like to add:**

[2019-06-11 16:12] detiber commented on #1009
I see no issues with providing defaulting for this, the question would be how to do it. There are potentially 2 different ways:
- webhook
  - this would require no changes to the types themselves
  - adding the default would not trigger an additional reconciliation
- updating the types to allow for omitempty
  - could add the default in the cluster controller, this would trigger an additional reco

[2019-06-11 16:18] ncdc commented on #969
A MachineDeployment is ready if spec.replicas == status.updatedReplicas == status.availableReplicas - does that sound accurate?

It's resizing if spec.replicas != status.updatedReplicas or spec.replicas != status.availableReplicas?

Can you use the 2 above calculations to determine ready & resizing?

It's in an error state if something is going wrong, such as:

- error updating a MachineSet
- erro

[2019-06-11 16:38] vincepri commented on #1009
/area api

[2019-06-11 18:30] alexeldeib commented on #46
cc @juan-lee @cecilerobertmichon

[2019-06-11 19:16] davidewatson commented on #1009
I think `kubeadm` does default these values. I put up a PR a while back to make this field optional: https://github.com/kubernetes-sigs/cluster-api/pull/919

[2019-06-11 19:19] detiber commented on #1009
`kubeadm` does indeed default these values. That said, this goes a bit beyond just bootstrapping, as it would also impact the CNI configuration as well.

[2019-06-11 19:20] davidewatson commented on #996
@xunpan: You are correct. I have mostly been using `kubectl` to manage my clusters so I misunderstood the original problem.

More code would be necessary. I'll defer to @detiber on whether a PR implementing this would be accepted. IMO **it should be**. `clusterctl` is already too complicated. We can't save it by not merging features...

[2019-06-11 19:31] detiber commented on #996
I'm going to defer this to @timothysc, who is attempting to wrangle and make sense of the various `clusterctl` issues that we have outstanding.

[2019-06-12 01:15] wanghh2000 commented on #979
Close it due to #213 was fixed.

[2019-06-12 01:20] wanghh2000 commented on #979
Close it and trace on https://github.com/kubernetes-sigs/cluster-api/issues/974

[2019-06-12 01:20] #979 closed

[2019-06-12 13:13] #1007 closed

[2019-06-12 17:14] pablochacin commented on #833
@vincepri I would like to work on this issue (seems I cannot assign to my self, can I?)

However, I have two questions:
1. This issue is previous to the work towards v1alpha2, so there's significant overlapping with the work on Machine Statues and Boostrapping.
2. v1alpha2 doesn't targets any change in the cluster api/data model.

[2019-06-12 17:23] chuckha opened #1015 "Cluster API Kind discussion"
# Background

In the development of https://github.com/vmware/cluster-api-upgrade-tool we found we needed a testing Cluster API provider. I built a provider with Kind as the backend. It could be very useful for testing Cluster API itself.

## Where is it

It's closed at the moment until it finds a home.

## Steps

- [ ] sig adoption
- [ ] put the code somewhere

I think the sig has to adopt it, I'

[2019-06-12 17:24] ncdc commented on #833
@pablochacin would you be willing to write up a proposal for the changes to the `Cluster` type to switch from inline to object references? I imagine this would also include removing the cluster `Actuator` interface (to match what's proposed in #997) and replacing it with a cluster infrastructure controller.

[2019-06-12 17:26] ncdc commented on #1015
@chuckha do you anticipate the kind provider needing a different set of dependency versions compared to those needed by cluster-api proper?

[2019-06-12 17:28] chuckha commented on #1015
No. Like all providers it is strongly bound to cluster-api dependencies and cannot have a different set of dependency versions.

[2019-06-12 17:29] ncdc commented on #1015
Ok, maybe I misinterpreted what you meant by

What is the multi-projectness issue?

[2019-06-12 17:29] pablochacin commented on #833
@ncdc Yes, I would be interested. Now, I expect the cluster data model to change significantly, according to what we discussed in the data model workstream. For instance, the references to infrastructure and control plane objects. So it's timely to do this change?  If so, I'm in.

Regarding the machine part, I'm not sure how to approach this change in coordination with the proposal we have on the

[2019-06-12 17:30] timothysc commented on #1015
/assign @timothysc

[2019-06-12 17:30] detiber commented on #833
@pablochacin I am in favor of including this for v1alpha1 assuming:
- A proposal is created for it as suggested by @ncdc
- We have commitment from one or more people to do the implementation

[2019-06-12 17:31] timothysc commented on #1015
I'm a +1 for in-tree to serve as reference and for faster turn-key testing, in the fullness of time we could always move it out as well.

[2019-06-12 17:33] chuckha commented on #1015
@ncdc It has its own Dockerfile, set of binaries and libraries and additional dependencies on top of Cluster API.

If we merge the projects together, cluster api adopts all of these dependencies as well as additional binaries to produce and container images to build. I'm not sure what that would look like if we merged them all together.

The multiproject bit I was talking about was thinking about

[2019-06-12 17:33] timothysc opened #1016 "Add a doc which outlines values and conventions"
Add a document which outlines values and conventions

/kind docs

[2019-06-12 17:34] ncdc commented on #833
If we want to do this in "small" steps, I'd suggest the only change we make for starters is the combination of removing the inline providerSpec and providerStatus fields (replacing them with object references to "cluster infrastructure" provider-specific CRDs, whatever they may look like per provider) and switching from a cluster Actuator to a cluster infrastructure controller. I think this would

[2019-06-12 17:35] pablochacin commented on #833
@ncdc sounds like a plan.

[2019-06-12 17:35] detiber commented on #1015
I'm in favor of out-of-tree for a few different reasons:
- It avoids any accidental tight coupling with cluster-api
- It avoids vendoring the kubeadm types into the cluster-api repo (at least for v1alpha1)
- Standalone provides a better example to users for how to implement a provider
- It keeps the cluster-api repo proper cleaner and avoids developer confusion around what cluster-api is/isn't

[2019-06-12 17:36] timothysc opened #1017 "Code walkthrough"
Per-discussions during grooming, we are going todo a code walkthrough or audit.

The purposes of code walkthroughs is both to inform, but to also open issues on longstanding bugs, warts, etc in the code.

If folks have proposed times, please add them below otherwise I will send out a doodle.

[2019-06-12 17:36] ncdc commented on #1015
To give an example from another project, Velero has multiple Dockerfiles that produce different container images with different executables and/or purposes. I'm not super worried about a single GitHub repository producing multiple executables and container images, FWIW.

From Jason:

This would be a nice thing to avoid.

[2019-06-12 17:39] ncdc commented on #833
I'm going to mark this p0 and move it to the v1alpha2 milestone as this issue covers both Machine and Cluster providerSpec/Status and the current plan is at least to tackle the fields in Machine for v1alpha2. And if we can get the proposal for the Cluster changes approved & have someone sign up to do it, 👍!

If we need to split this up so we have 1 issue for Cluster, and a separate for Machine, pl

[2019-06-12 17:40] dhellmann commented on #1017
It would be great to put together some sort of rough agenda or ordering, so new folks like me can read ahead in an order that would be helpful.

[2019-06-12 17:40] ncdc commented on #1017
Monday or Tuesday next week is probably better for me than the other days, although I can probably make anything work.

[2019-06-12 17:42] timothysc commented on #1017
Code walkthroughs are pretty ad hoc conversations where you have someone driving the code and others asking questions about why.

[2019-06-12 17:42] dlipovetsky commented on #1017
I propose the Implementers Office Hours time slots _as options_. I see no reason to exclude them.

Tue 12pm PT
Wed 6am PT (15:00 CET)

[2019-06-12 17:43] dhellmann commented on #1017
Presumably we wouldn't do that by picking files at random, though, right?

[2019-06-12 17:44] ncdc commented on #1017
I would start by explaining the overall structure of the repo, in terms of API types, controllers, etc. I'd talk about the Manager first, then work my way into each controller.

[2019-06-12 17:46] dhellmann commented on #1017
That's the sort of thing I'm looking for. But with some filenames for us n00bs. :-)

[2019-06-12 17:48] timothysc commented on #1017
Folks want to add to the open capi-agenda a Code-Walkthrough section and we can use that as our guide?

[2019-06-12 18:49] alexeldeib commented on #46
@timothysc @detiber @ncdc are you aware of anyone working on this?

[2019-06-12 18:49] ncdc commented on #46
I'm not aware of any activity

[2019-06-12 20:22] akutz opened #1018 "Enhance the RequeueError to support wrapping/interfaces"
/kind feature

**Describe the solution you'd like**
Today the `RequeueAfterError` is subject to being lost due to wrapping, and does not support additional data since `RequeueAfterError` is a struct, not an interface. I would like to see support for:

* Wrapped `RequeueAfterError` errors
* An interface for `RequeueAfterError`

**Anything else you would like to add:**
Nope

[2019-06-12 20:23] vincepri commented on #1018
/area api
/priority important-backlog

[2019-06-12 20:25] vincepri commented on #1015
I'm also in favor of keeping providers out-of-tree for the time being

[2019-06-12 22:51] neolit123 commented on #1015
cc @fabriziopandini

[2019-06-13 12:33] chuckha commented on #1015
I'm considering putting this on my personal GitHub for a temporary public home so that people can look at it and have a better idea of what would be merging into this repo.

here is the go.mod file

[code]

[2019-06-13 13:23] timothysc commented on #1015
I actually want this ... for now.  My primary concern at this point is project velocity

We're working on making sure the factoring is cleaner and scoped, but that is orthogonal imo.

But it also requires separate maintenance and vendoring back<>forth will be an issue.

I'm not concerned with it at this time, my primary concern is developer productivity and project velocity.

History has also taug

[2019-06-13 13:35] timothysc commented on #993
remember, you need to
/assign @timothysc

[2019-06-13 17:59] hardikdr commented on #493
@gyliu513 I had prepared and presented the proposal [doc](https://docs.google.com/document/d/1yNTCJ7hwAhYPmBwACZvnKqO10G_aZ8kotcuSkiN4NAA/edit?usp=sharing). There was not any conclusion though.  Doc has to be converted into the defined template as well.
I am more than happy to collaborate with you, to push it forward.

[2019-06-14 03:02] gyliu513 commented on #493
Thanks @hardikdr , the doc looks good ;-)

@vincepri @detiber can you please post some comments to the design [doc](https://docs.google.com/document/d/1yNTCJ7hwAhYPmBwACZvnKqO10G_aZ8kotcuSkiN4NAA/edit) as well? I think this is a very important project for cluster life cycle management.

[2019-06-14 07:26] ashoksekar07 commented on #820
The fix seems to address the status of a machine, but not the status of a cluster. Can a similar status field be added to the cluster?

[2019-06-14 13:29] detiber commented on #493
The linked doc proposes full management of Labels, Annotations, and Taints for Machines. It might be better to initial target initial state (Labels and Taints are already supported in this manner if using kubeadm for bootstrapping).

[2019-06-14 13:47] yastij opened #1023 "use new EventRecorder to emit v1beta1 Events"
/kind feature

**Describe the solution you'd like**  use the new eventRecorder that will be available on client-go to emit Events the under the new API ref kubernetes/enhancements#383

cc @detiber @timothysc

/assign
/priority backlog

[2019-06-14 13:55] detiber commented on #1023
There are three main blockers to this at the moment:
- The version of kubernetes that is vendored through transitive dependencies from controller-runtime and controller-tools
- The event recorder is initialized by the controller-runtime manager
- Supported management clusters would be required to be >= v1.15

/milestone Next

[2019-06-14 14:10] gyliu513 commented on #493
@detiber but I think we still need to tell kubadm what kind of labels, taints should be added when bootstraping the nodes on different cloud, so seems we still need some logic to set those labels, annotations etc.

[2019-06-14 14:18] detiber commented on #493
@gyliu513 fully agree

[2019-06-14 14:24] jichenjc commented on #493
at least I saw vshpere support taint and label
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/116/files
though this is a pretty old stuff...

maybe different provider will honor the spec.Taints etc?

[2019-06-14 15:51] sidharthsurana commented on #493
@hardikdr

I have one doubt, in the current API the MachineSpec already has the `MetaObject` and `Taints` field that is precisely defined for this purpose

see https://github.com/kubernetes-sigs/cluster-api/blob/0b215f4d102edd23977f04383eb8d2b028bd315b/pkg/apis/cluster/v1alpha1/machine_types.go#L58-L71

In the CAPV we have implemented this feature using those fields.
Do we really need to redefine

[2019-06-14 16:00] ncdc commented on #493
If we want all consumers of Cluster API to be able to get their nodes' annotations, labels, and taints set based on what's defined in the common `MachineSpec`, it may make sense to consider adding code to Cluster API itself to set a node's attributes **after** it has joined the cluster, instead of trying to use kubeadm to do this. This would ensure that any node-related fields in the MachineSpec w

[2019-06-14 16:21] detiber commented on #493
@ncdc I think the issue with having cluster-api try to manage these Node attributes is that we have to potentially worry about battling user management of the same attributes, since users may try to add, remove, or update labels, annotations, or taints using `kubectl` or other tools.

[2019-06-14 16:24] ncdc commented on #493
@detiber I agree, and we need to come to a consensus re if CAPI is allowed to reconcile beyond setting the initial values. I'm also wondering it's worth considering a little bit of wiggle room here for the initial values - having a CAPI controller do a one-time best-effort patch of the node to set the initial values for annotations/labels/taints vs requiring the bootstrapper to do that.

[2019-06-14 16:37] davidewatson commented on #493
There is a bunch of history around this issue (cf. https://github.com/kubernetes/kubeadm/issues/202 and/or last years meeting notes). The previous consensus was that we would allow the setting of taints but that labels and annotations would be handled by another mechanism.

@detiber is right about the risk of battling controllers. This is why taints are additive: https://github.com/kubernetes-sigs

[2019-06-14 17:53] timothysc commented on #1017
/assign @timothysc @vincepri

[2019-06-14 18:05] timothysc commented on #843
@davidewatson please comment and close por favor.

[2019-06-14 18:07] timothysc commented on #866
This falls under image stamping, and would also be possible with the latest bootstrapping proposal, but is not within scope of clusterapi.

[2019-06-14 18:07] #866 closed

[2019-06-14 18:08] timothysc commented on #723
closing - xref: https://github.com/kubernetes/enhancements/pull/1102

[2019-06-14 18:08] #723 closed

[2019-06-14 18:09] detiber commented on #852
Closing since this has landed and CI support is being tracked here: https://github.com/kubernetes-sigs/cluster-api/issues/893

/close

[2019-06-14 18:09] #852 closed

[2019-06-14 18:12] timothysc commented on #859
/cc @pablochacin

[2019-06-14 18:13] davidewatson commented on #843
With the [Machine States & Preboot Bootstrapping](https://github.com/kubernetes-sigs/cluster-api/pull/997) proposal it should be possible to build an Infrastructure controller based on `terraform`. While I think there can/will be better native providers for most infrastructure, I agree that there might be value in a `terraform` provider in terms of speed of implementation. If someone wants to writ

[2019-06-14 18:13] #843 closed

[2019-06-14 18:14] ncdc opened #1024 "Add info to contributing doc about how to join the Kubernetes org"
/kind feature

**Describe the solution you'd like**
Add info to contributing doc about how to join the Kubernetes org so people can be assigned issues, etc.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-06-14 18:18] jaypipes commented on #1024
The kubernetes-sigs org is the one that you need to belong to, correct?

[2019-06-14 18:21] detiber commented on #1024
Yes, `kubernetes-sigs` is indeed the org in question

[2019-06-14 18:22] jaypipes commented on #1024
Roger. I'll push up a PR with a doc shortly. :)

[2019-06-14 18:29] chuckha opened #1025 "update controller-runtime"
/kind feature

This is a tracking issue for people to pay attention to the controller-runtime dependency update.

**Anything else you would like to add:**
Add related issues below and why they are related:

* https://github.com/kubernetes-sigs/cluster-api/issues/296 -- crd web hook validations are coming with the next version of controller runtime.

[2019-06-14 18:30] vincepri commented on #961
/lifecycle active

[2019-06-14 18:32] vincepri commented on #1025
/area dependency
/milestone v1alpha2

[2019-06-14 18:39] timothysc commented on #652
@detiber - could you link this with more context.

[2019-06-14 18:41] detiber commented on #652
Azure provider issue: https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/113
/cc @juan-lee @alexeldeib

[2019-06-14 18:45] ncdc commented on #493
As discussed in today's grooming call, we plan to include support for setting the initial values of a node's labels and taints in a kubeadm-based bootstrap provider (you may choose to use this provider or pick another one).

I don't believe kubeadm currently supports setting the initial annotations for a node. @timothysc says people typically deploy a daemonset pod that can set these values based

[2019-06-14 18:49] ncdc commented on #853
The proposal is #997.

[2019-06-14 18:50] timothysc commented on #908
TODO: lets leave this open but unassigned and we can revisit later on in v1alpha2.

[2019-06-14 18:55] timothysc commented on #34
TODO: outline a reasonable action plan so newcomers could work on this.

[2019-06-14 18:55] ncdc commented on #660
@liztio I know you've been busy on other things - just wanted to check in & see if you'd made any progress here?

[2019-06-14 18:58] timothysc commented on #47
@vincepri - could you please re-eval when noderef lands.

[2019-06-14 19:56] #961 closed

[2019-06-14 20:17] timothysc commented on #1017
@vincepri when you send out the invite feel free to close with deets.

[2019-06-14 20:17] ncdc opened #1027 "Should we keep the provider implementers office hours meetings?"
As discussed at this week's Cluster API meeting - should we keep the provider implementers office hours meetings? Are they serving your needs?

cc @dlipovetsky

[2019-06-14 20:30] vincepri commented on #1017
Invite sent!

/close

[2019-06-14 20:30] #1017 closed

[2019-06-14 22:24] alexeldeib commented on #962
Is this a hard dependency, e.g. there is no way to attach machines to the load balancer after creation? The natural thing to do to me is create the LB after you have 1 control plane node, pivot from bootstrap to remote, then attach the next 2 control plane nodes to the LB.

To me, this seems like a provider-specific detail which should be handled accordingly in whatever reconcile loop the provider

[2019-06-14 22:29] alexeldeib commented on #46
I have a draft proposal for this. Will share before Wednesday next week.

As so much is in flux with the data model and implementation, I am choosing to define an approach without taking any stance on specific data model changes. Naturally that means the proposal is incomplete until we expose the knob(s) for users to tune this.

Still, I think I've managed to attain a nugget of value in sketching

[2019-06-14 23:24] davidewatson commented on #926
This was fixed by https://github.com/kubernetes-sigs/cluster-api/pull/1008
/close

[2019-06-14 23:24] #926 closed

[2019-06-14 23:43] alexeldeib commented on #652
@cecilerobertmichon

[2019-06-15 09:10] jimmidyson commented on #493
I completely appreciate the difficulty of competing with cluster admins when tainting/labelling nodes, but only setting the values once does go against standard controller reconciliation behaviour to continually being desired and observed state into alignment. Are there other examples of this in kubernetes APIs? We need to be careful with principle of least surprise and make the intent of these in

[2019-06-16 02:29] mkumatag commented on #893
/assign

[2019-06-16 02:39] mkumatag commented on #893
/unassign

[2019-06-16 04:14] akutz commented on #999
Are you kidding me!? I was literally **just** hitting this with the same problem. Thanks to @vincepri and @justaugustus for solving this for CAPV before we even knew it was an issue!

[code]

[2019-06-16 04:45] akutz commented on #999
After reading #1000, is there a good reason to use `latest` for the base image instead of an explicit tag? Yes, one requires updating, but it also provides a deterministic build instead of relying on latest. Plus, explicit tags are just a handy thing to use as they are never subject to pull policies.

[2019-06-16 22:25] alexeldeib commented on #1025
Are we saying migrating to v2 is dependent on v2 kubebuilder/controller runtime supporting webhooks fully? Or that we don’t have it today so we can punt to post-upgrade

[2019-06-17 00:09] jichenjc commented on #493
agree, seems we will change the declartive API to imperative API if the first time setting and no further reconcile ...set `cluster-api.k8s.io/*` is reasonable as it will handle all resource belong to cluster-api if we consider the label is resource of cluster-api, but how much is that useful to user(only label with this prefix) is a question...

[2019-06-17 13:28] detiber commented on #1025
I don't necessarily think that it is a blocker, but rather a nice to have.

[2019-06-17 13:50] ncdc commented on #493
I should have been clearer in what I wrote above. The suggestion is to allow a bootstrap provider (as proposed in #997), if it wants, to allow the user to specify the initial taints and labels. The bootstrap provider's API types are 100% up to it. Cluster API doesn't require any specific functionality from a bootstrap provider beyond the overall goal of turning a server into a Kubernetes node (our

[2019-06-17 16:55] dlipovetsky commented on #1027
The attendance has decreased during the v1alpha2 design period. However, people new to the project frequently join with questions about the implementation, roadmap, etc. These kinds of questions are typically not asked or answered during the "main" meeting.

[2019-06-17 17:24] alexeldeib commented on #46
@ncdc @vincepri @detiber collected some of my thoughts, looking for a gut check

[Topology Fault Tolerance](https://docs.google.com/document/d/1e-H5tPynFfqW6AYozk_ooNsRtakCMF2yXc7XHah8w10/edit?usp=sharing)

[2019-06-17 19:10] vincepri commented on #1024
Closing now that #1030 has been merged.

/close

[2019-06-17 19:10] #1024 closed

[2019-06-17 20:21] chuckha commented on #1015
Here it is https://github.com/chuckha/cluster-api-provider-kind

[2019-06-18 14:41] andrewsykim opened #1033 "Overriding cluster-api-controller image version"
/kind feature

**Describe the solution you'd like**
From the perspective of cluster API providers, the cluster API CRD + controller specs are pulled in from `vendor/sigs.k8s.io/cluster-api` as part of `generate-yaml.sh`. This is not ideal in cases where I want to pin the cluster-api-controller statefulset to a specific version, the latest version of `sigs.k8s.io/cluster-api` points to `latest`.

T

[2019-06-18 15:05] akutz commented on #1033
Also, we advise against pulling “latest” and recommend specifying an explicit tag when possible.

[2019-06-18 15:20] #1018 closed

[2019-06-18 19:48] alexeldeib opened #1034 "switch from k8s.io/code-generator to controller-gen for all clients"
/kind feature

**Describe the solution you'd like**
This project is pulling all the controller runtime goodies and already uses controller-gen as part of make manifests. This issue is about refactoring to shift dependencies on the clientset in clusterctl and manager to use the controller-runtime provided clients instead.

**Anything else you would like to add:**
~This could either be done similar

[2019-06-18 19:57] detiber commented on #1034
/milestone Next
/priority important-longterm

[2019-06-18 23:22] vincepri opened #1035 "Create v1alpha2 API types"
/kind feature
/area api
/milestone v1alpha2

**Describe the solution you'd like**
This issue is to track the development towards v1alpha2, including [Machine States & Preboot Bootstrap Proposal](https://github.com/kubernetes-sigs/cluster-api/pull/997).

- [x] Create v1alpha2 Machine type and custom resource definition
  - [x] Define Bootstrap struct
- [x] Create v1alpha2 MachineSet type and custom

[2019-06-18 23:27] vincepri opened #1036 "Machine Controller functionality"
/kind feature
/area api
/area machine
/milestone v1alpha2

**Describe the solution you'd like**
This issue is to track the development towards v1alpha2, including [Machine States & Preboot Bootstrap Proposal](https://github.com/kubernetes-sigs/cluster-api/pull/997).

- [x] Use v1alpha2 types (#1035)
- [x] Remove Actuator
- [x] Rewrite reconciler logic based on the proposal's implementation details

[2019-06-18 23:29] vincepri opened #1037 "MachineSet Controller functionality"
/kind feature
/area api
/area machine
/milestone v1alpha2

**Describe the solution you'd like**
This issue is to track the development towards v1alpha2, including [Machine States & Preboot Bootstrap Proposal](https://github.com/kubernetes-sigs/cluster-api/pull/997).

- [x] Use v1alpha2 types (#1035)
- [x] Add templating logic for Bootstrap and InfrastructureRef
- [x] Use secret-based KubeConfig to

[2019-06-18 23:30] vincepri opened #1038 "MachineDeployment controller functionality"
/kind feature
/area api
/area machine
/milestone v1alpha2

**Describe the solution you'd like**
This issue is to track the development for the v1alpha2 milestone and part of the effort of the [Machine States & Preboot Bootstrap Proposal](https://github.com/kubernetes-sigs/cluster-api/pull/997).

- [ ] Design how to handle changes to Machines when the referenced InfrastructureRef changes

[2019-06-18 23:33] vincepri opened #1039 "Kubeadm Bootstrapper"
/kind feature
/area machine
/area control-plane
/milestone v1alpha2

**Describe the solution you'd like**
This issue is to track the development towards v1alpha2, including [Machine States & Preboot Bootstrap Proposal](https://github.com/kubernetes-sigs/cluster-api/pull/997).

- [ ] Create provider repository `sigs/cluster-api-provider-kubeadm` @chuckha
- [ ] Create API types
- [ ] Create controll

[2019-06-18 23:37] vincepri opened #1040 "Deprecate provider.Deployer"
/kind cleanup
/area clusterctl
/milestone v1alpha2

**Describe the solution you'd like**
This issue is to track the development towards v1alpha2, including [Machine States & Preboot Bootstrap Proposal](https://github.com/kubernetes-sigs/cluster-api/pull/997).

The [provider.Deployer interface](https://github.com/kubernetes-sigs/cluster-api/blob/release-0.1/cmd/clusterctl/clusterdeployer/provider/p

[2019-06-18 23:37] vincepri commented on #1040
/assign @timothysc

[2019-06-18 23:39] vincepri opened #1041 "Deprecate node controller"
/kind cleanup
/area api
/area machine
/milestone v1alpha2

**Describe the solution you'd like**
This issue is to track the development towards v1alpha2, including [Machine States & Preboot Bootstrap Proposal](https://github.com/kubernetes-sigs/cluster-api/pull/997).

The [node controller](https://github.com/kubernetes-sigs/cluster-api/blob/release-0.1/pkg/controller/node/node.go) is deprecated in

[2019-06-18 23:43] vincepri opened #1042 "Upgrading to v1alpha2"
/kind design
/area api
/area upgrades
/area ux
/milestone v1alpha2

**Describe the solution you'd like**
This issue is to track the development towards v1alpha2, including [Machine States & Preboot Bootstrap Proposal](https://github.com/kubernetes-sigs/cluster-api/pull/997).

- [ ] Design how to handle v1alpha1 to v1alpha2 upgrades

[2019-06-19 15:42] timothysc commented on #638
Given some of the ways I would like to change clustectl I'm going to close this specific issue.

More generally surfacing insights/state+status will be a high priority.

[2019-06-19 15:42] #638 closed

[2019-06-19 15:44] timothysc commented on #325
Given a larger refactor of clusterctl I'm going to close this issue due to history and open up a larger umbrella.

[2019-06-19 15:44] #325 closed

[2019-06-19 15:48] timothysc commented on #718
I'm going to close this specific issue and focus on rallying on a well defined set of umbrella issues for next version.

[2019-06-19 15:48] #718 closed

[2019-06-19 15:54] #917 closed

[2019-06-19 17:26] chuckha commented on #1015
Final call, in the June 19th meeting, we're keeping this external:

I will figure out how to get a kubernetes-sigs repo named `cluster-api-provider-docker` instead of kind as kind is only a small part of the implementation and the provider is really docker.

[2019-06-19 17:26] chuckha commented on #1015
thanks for all the input!

[2019-06-19 17:26] #1015 closed

[2019-06-19 17:27] chuckha commented on #1039
This will live external to this repository. I will figure out the steps to create a repo for it.

[2019-06-19 17:30] vincepri commented on #1035
/assign
/lifecycle active

[2019-06-19 17:35] vincepri commented on #1033
Are you vendoring master instead of the `release-X` branch?

[2019-06-19 18:22] tariq1890 opened #1046 "Should the CI be using the kustomize binary?"
I see that kustomize is being installed [here](https://github.com/kubernetes-sigs/cluster-api/blob/master/scripts/ci-integration.sh#L35).

If I am not mistaken, the latest kubectls have `kustomize` built-in and we could use `apply -k` instead?

[2019-06-19 18:24] detiber commented on #1046
@tariq1890 I have no objections to switching to the built-in kustomize

[2019-06-19 18:25] detiber commented on #1046
/area testing
/kind feature
/milestone v1alpha2
/priority important-longterm

[2019-06-19 18:26] detiber commented on #1046
/help

[2019-06-19 18:26] tariq1890 commented on #1046
/good-first-issue

[2019-06-19 18:26] tariq1890 commented on #1046
/need-more-labels

[2019-06-19 18:58] ncdc commented on #1046
Is this related to #859?

[2019-06-19 19:01] tariq1890 commented on #1046
Yes it is! This can be closed I guess.

[2019-06-19 20:47] chuckha commented on #1039
watch me flail wildly with kubernetes process: https://github.com/kubernetes/community/pull/3818

[2019-06-19 22:53] erstaples opened #1049 "MachineDeployment rolling update surges and then stops working"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Created a `MachineDeployment`:
[code]
I get expected behavior:
* A `MachineSet` is created
* 3 `Machine`s are created
* 3 nodes are created in `foo` cluster

Then I change a value in the `MachineDeployment` `.spec.template.spec.providerSpec` (not included in the snippet above) in order t

[2019-06-19 23:31] sethp-nr commented on #1049
This sounds a lot like what we were seeing in #901 – is it possible that update to the provider-components didn't make its way into your cluster?

[2019-06-19 23:34] alexeldeib commented on #1025
I started looking at the cost of this w.r.t code-generation as well (they are fairly tightly linked, and have dependency interconnection problems). The CAPI side is a decent amount of code but mostly constrained to clusterclient and friends. I haven't looked at it from the provider side yet.

If the provider side isn't too crazy and most of the work is in clusterclient it might be possible to pull

[2019-06-20 03:34] vincepri commented on #1049
@erstaples Do you still have the controllers logs? @sethp-nr might be onto something.

[2019-06-20 14:31] chuckha commented on #1039
more wild flailing: https://github.com/kubernetes/org/issues/937

[2019-06-20 14:34] vincepri commented on #1039
@chuckha Can you add also myself and @detiber to owners and maintainers?

[2019-06-20 14:46] #974 closed

[2019-06-20 14:51] chuckha commented on #1039
yeah, y'all are added, it's a subproject of capi so it's same permissions as here + me as I'm the only author right now

[2019-06-20 16:02] #520 closed

[2019-06-20 17:38] vincepri commented on #930
/lifecycle active

[2019-06-20 18:31] tamalsaha commented on #1025
Folks, @tahsinrahman and @faem from our team would like to help with this process. We are also blocked on this, as we want to use the client-go 1.14 version for the cloud providers. If you can show us how you like to see this done for one the providers, we can send prs for other ones.

Are these projects planning to switch to the new v2 project structure and go.mod at the same time?

[2019-06-20 18:37] detiber commented on #1025
I don't have any objections to switching to the v2 project structure and go.mod.

[2019-06-20 18:39] alexeldeib commented on #1025
I started work to move ClusterClient to use the controller-runtime clients and simultaneously bump to controller-runtime v0.2.0-beta.2. It's very WIP at this stage, I got the builds and type generation generally working. I attempted to directly rip out controller-tools and anything that changed in v1 -> v2 while still supporting `dep` before doing any additional sort of clean up work around client

[2019-06-20 18:49] vincepri commented on #1025
Do Kubernetes and controller-runtime v2 use go.mod?

[2019-06-20 18:51] tamalsaha commented on #1025
@vincepri , yes.

[2019-06-20 18:53] tamalsaha commented on #1025
@vincepri , Kubernetes 1.14 does not use go.mod. Kubernetes 1.15 uses go.mod.

kubebuilder's 2.0.0-alpha.X release uses go.mod and k8s 1.14.

I wonder if we could update kubebuilder and controller-runtime to k8s 1.15 and then update CAPI stuff to 1.15 at the same time. This might be a little ambitious.

[2019-06-20 18:54] vincepri commented on #1025
That'd be all great, I know there has been a lot of work making sure go.mod works fine with upstream k/k. I only want to make sure that we don't duplicate the burden of supporting go.mod too early for CAPI and all the downstream providers.

[2019-06-20 18:59] tamalsaha commented on #1025
According to https://github.com/golang/go/wiki/Go-Release-Cycle, GO 1.13 is supposed to be released on Aug 1. My understanding is that it will have go mod on by default. This is probably a good time to switch to go.mod from that point.

[2019-06-20 19:00] vincepri commented on #1025
Agreed!

[2019-06-20 19:59] tamalsaha commented on #1025
It seems controller-runtime can be upgraded to use k8s 1.1.5 https://github.com/kubernetes-sigs/controller-runtime/pull/495 . All tests are passing.

[2019-06-20 20:21] vincepri commented on #1025
@tamalsaha @alexeldeib It seems that to introduce v1alpha2 types (#1035) we'd need to update controller-runtime and controller-tools. Would it be ok for me to open a PR later today to tackle these updates as they're blocking for all the other work items related to v1alpha2?

[2019-06-20 20:23] alexeldeib commented on #1025
music to my ears. I am looking less at the k8s dependency side and more looking at cutting out the code-gen typed clients in favor of controller-runtime.

[2019-06-20 20:29] alexeldeib commented on #1025
if anyone is interested, I'm working on that here: https://github.com/kubernetes-sigs/cluster-api/compare/master...alexeldeib:ace/ctrl?expand=1 (very messy WIP branch, but should be clear what I am trying to achieve from clusterclient.go)

[2019-06-20 20:30] ncdc commented on #1046
/close

[2019-06-20 20:30] #1046 closed

[2019-06-20 20:34] tamalsaha commented on #1025
I have opened a pr against controller-tools to update it to 1.15.0 https://github.com/kubernetes-sigs/controller-tools/pull/231 . One new thing is that instead of one `Webhook` struct, now there are separate `MutatingWebhook` and `ValidatingWebhook`.

[2019-06-20 20:52] vincepri commented on #1025
Should I push the changes as part of the v1alpha2 types or a different PR? Given that both runtime and tools are beta we probably shouldn’t backport to v1a1 anyways

[2019-06-20 20:54] detiber commented on #1025
I'm partial to separating them to make reviewing the changes easier

[2019-06-20 20:59] vincepri commented on #1025
Not a big deal either way, the update currently blocks v1alpha2 so take priority

[2019-06-21 00:34] vincepri commented on #1025
/lifecycle active

[2019-06-21 00:34] vincepri commented on #1025
PR is up, ptal

[2019-06-21 12:29] chuckha opened #1055 "node deletion can't delete node"
/kind bug

It might be my misunderstanding, but deleting a node doesn't make sense. The machine actuator has a client to the management cluster, but, unless I'm misunderstanding what 'node' means here, it has no way to delete the node object from the target cluster. What node object is cluster-api trying to delete? I'm specifically referencing https://github.com/kubernetes-sigs/cluster-api/blob/ma

[2019-06-21 13:58] ncdc commented on #1055
The assumption in the code you linked is that there is only one cluster, performing the roles of management cluster and workload cluster, together. With the work that @vincepri has been doing to support remote node references, this will need to be adjusted. And that's what he's done in #1052 😄 (not merged yet)

[2019-06-21 14:03] ncdc commented on #1055
/assign @vincepri
/milestone v1alpha2
/priority important-soon
/area machine

[2019-06-21 14:03] ncdc commented on #1055
/lifecycle active

[2019-06-21 14:25] chuckha commented on #1055
haha trust @vincepri to solve my problems before I know I have them

[2019-06-21 18:07] vincepri commented on #47
This can be probably closed given that #1011 has been merged and #1052 is up for review

/close

[2019-06-21 18:07] #47 closed

[2019-06-21 18:07] timothysc commented on #820
TL;DR - we need a well defined state-machine for the cluster.

[2019-06-21 18:13] ncdc commented on #950
Discussed in today's grooming call - closing for now as the node has this information. Please reopen with additional details if you still want this. Thanks!

/close

[2019-06-21 18:13] #950 closed

[2019-06-21 18:14] ncdc commented on #969
Note to self: check out how k/k Deployments handle resize failures & status

[2019-06-21 18:17] timothysc commented on #783
/cc @asauber

[2019-06-21 18:21] davidewatson opened #1057 "Old gh-pages documentation should be removed in favor of new netlify documentation"
/kind bug

**What steps did you take and what happened:**

https://kubernetes-sigs.github.io/cluster-api/ is still a gh-pages site but the book has moved to https://cluster-api.sigs.k8s.io

**What did you expect to happen:**

Either a redirect or a 404.

**Anything else you would like to add:**

I've reached out to GitHub to solve this problem: https://github.community/t5/GitHub-Pages/Can-not-disa

[2019-06-21 18:22] timothysc commented on #327
TODO: This is much broader problem that should be a breakout of issues.

[2019-06-21 18:24] asauber commented on #567
cc myself

[2019-06-21 18:25] asauber commented on #783
This is caused by a security update to kustomize to prevent directory traversal. Fix boils down to not using `./..`

[2019-06-21 18:27] ncdc commented on #733
Discussed in grooming call today - we can't easily identify an actionable outcome for this particular issue. It is important to keep in mind what the purpose of this repo is, and we'll be opening a new issue to focus on this for v1alpha2.

/close

[2019-06-21 18:27] #733 closed

[2019-06-21 18:37] asauber commented on #945
cc myself

[2019-06-21 18:40] vincepri commented on #1009
Closing now that https://github.com/kubernetes-sigs/cluster-api/pull/919 has been merged

[2019-06-21 18:40] #1009 closed

[2019-06-21 18:59] davidewatson commented on #935
@gyliu513: Can you create an issue for this under [sig-contribx](https://github.com/kubernetes/community/tree/master/sig-contributor-experience). Since SVGs are an open format, determining a tool which works for all developers is outside of the scope of the Cluster API project.

/close

[2019-06-21 18:59] #935 closed

[2019-06-21 20:46] vincepri commented on #1033
/priority awaiting-more-evidence

[2019-06-21 20:49] andrewsykim commented on #1033
/close

Updating to the latest version of release-0.1 fixed this. Thanks!

[2019-06-21 20:49] #1033 closed

[2019-06-21 20:51] vincepri commented on #783
I thought we fixed this by switching to bases instead of resources.

@asauber I was able to run CAPI with 2.0.3

[2019-06-21 22:10] figo commented on #783
It been fixed, the remaining is to document the minimum kubebuilder version

[2019-06-21 23:08] asauber commented on #783
I have a patch for the book. Putting it up when I get home.

[2019-06-21 23:15] asauber commented on #783
WIP https://github.com/kubernetes-sigs/cluster-api/pull/1059 Testing and updating the instructions.

[2019-06-24 01:19] dongwangdw commented on #934
How can I help when I can not assign this issue to myself?

[2019-06-24 01:45] gyliu513 commented on #934
@dongwangdw you can claim that you will work for this in this issue and go ahead to propose PR.

[2019-06-24 02:02] dongwangdw commented on #934
@gyliu513 thanks.

I will work on this issue then.

[2019-06-24 16:29] sethp-nr commented on #969
/cc @rudoi – you've spent some time staring at MachineDeployments. Want to join us?

[2019-06-24 17:16] amy commented on #936
In order to use the upstream image promoter, this issue is blocked on k8s-infra-wg writing e2e tests for the promoter. I am helping with this effort and working on a testing document to define what "done" means for e2e testing.

[2019-06-24 17:19] chuckha commented on #936
thanks for the update

Is there an upstream issue we can track so we know when this work is unblocked?

[2019-06-24 18:55] dlipovetsky commented on #970
@calebamiles and I looked at the code together.

From the doc string of `getNewMachineSet`:

Of course, L113 returns nil even though the new machine set _does_ exist.

But none of the machine deployment tests fail because of this. So either those tests don't catch the issue, or it's not an issue (e.g. the caller of `getNewMachineSet` doesn't care that it returns a `nil` when it's supposed to retur

[2019-06-24 18:58] calebamiles commented on #970
@detiber, maybe a short walkthrough of the code might be helpful. don't know if it makes sense to do so before or after the general cluster api code walkthrough

[2019-06-24 19:16] posox opened #1063 "Failed to create bootstrap cluster using alpha phases"
/kind bug

Steps to reproduce:

Create a bootstrap cluster:

[code]

**Environment:**

- Cluster-api version: master
- Minikube/KIND version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2019-06-24 20:36] #1025 closed

[2019-06-24 21:07] timothysc opened #1065 "Umbrella: Breaking apart clusterctl"
**Describe the solution you'd like**
As an old-timer to kubernetes, I find clusterctl to be weird... It's performing operations which "could be preconditions", and also performing operations which IMO should be part of the .spec of the objects.  This issue tries to break down some of the details, and feedback is solicited.

1. Building a bootstrap cluster...
    - Why?  We can / should have it as

[2019-06-24 21:50] timothysc commented on #1063
This is still open, but it looks like the PR has been merged.

[2019-06-24 21:50] #1063 closed

[2019-06-24 22:21] moshloop commented on #1065
Agree on the clusters and machines, CRD's are a little different though

There are a few high-level features that I think clusterctl could serve:

1) A generic `install`

 e.g. `capdctl crds | kubectl apply -f -` from https://github.com/kubernetes-sigs/cluster-api-provider-docker.

Install could probably be solved by hosting a concatenated YAML if it were the only use case

2) `clusterctl logs` fo

[2019-06-25 13:37] yastij commented on #1023
I agree, but the event logic lives under client-go so we'd need to bump only client-go (which depends on the compatibility matrix)

the API exists in kubernetes since 1.9 (ref kubernetes/kubernetes#49112)

[2019-06-25 13:58] timothysc commented on #1065
1 & 3 could be solved with a kubectl plugin.  Or possibly an AddOn operator pattern.

2 is a non-starter imo.  If you want that you, should setup your own logging service.

[2019-06-25 14:40] detiber commented on #1065
Pivot is complicated for a few reasons, I'm not sure it could be simplified outside of an external tool.
- cluster-api components need to be moved to a new cluster
- scaling of the cluster-api controllers from the source cluster need to be scaled down before the target cluster cluster-api controllers are running to avoid multiple controllers running at the same time
- cluster and machine* objects

[2019-06-25 14:42] detiber commented on #1065
The big reason for this was to simplify the user experience and avoid needing to run manual pre-steps.

[2019-06-25 14:44] detiber commented on #1065
+1 to this approach going forward, it didn't exist for the first iteration

[2019-06-25 14:45] detiber commented on #1065
Overall, I think kubectl plugins are a great way for us to move going forward, when `clusterctl` was started `kubectl` plugins either did not exist yet or they were just implemented with little to no documentation.

[2019-06-25 15:13] moshloop commented on #1065
Perhaps we need to reframe the question:

a) Should CAPI and CAPI providers depend/require `clusterctl` ? *I think not*
b) Would the community benefit from tool that can provide higher-order functionality for a better UX? *I think yes, but it could be a sub-project or a 3rd project entirely.*

[2019-06-25 15:18] moshloop commented on #1065
I think the UX with kind is good enough, if not great

[2019-06-25 15:21] detiber commented on #1065
I agree here 100%, there should definitely be workflows that exist without `clusterctl`, that said certain functionality such as Pivot, will require some explicit documentation on how to do without causing issues.

I think there may be multiple levels here. I think the project benefits from having a bootstrapping tool to go from 0 -> cluster-api, but how much of a friendly UX we can accomplish whi

[2019-06-25 15:22] michaelgugino opened #1067 "machine-controller: prepend all logging with machine-name"
/kind feature

**Describe the solution you'd like**
For the machine-controller we should prepend every log message emitted with machine-name.  This might be a bit redundant, but for really busy clusters, it would make troubleshooting the workflow for a particular machine much easier.

This behavior should be also implemented in upcoming infrastructure-controller(s) as well.

**Anything else you wo

[2019-06-25 15:25] vincepri commented on #1067
@chuckha has done a great amount of work for this issue in CAPA. I'm sure we can reuse bits of it for the machine controller in CAPI.

The logs should also include the namespace.

[2019-06-25 15:25] vincepri commented on #1067
/priority important-longterm

[2019-06-25 15:30] vincepri commented on #1036
/lifecycle active

[2019-06-25 15:44] #930 closed

[2019-06-25 15:44] #1055 closed

[2019-06-25 18:23] dlipovetsky opened #1070 "Publish a plantuml image owned by CAPI"
In https://github.com/kubernetes-sigs/cluster-api/pull/1058, I use the PlantUML CLI to generate sequence diagrams for proposals and docs. It needs the Java runtime and some fonts, so it is run in a container with those dependencies provided. The container is [currently published on docker hub](https://hub.docker.com/r/dpf9/plantuml). Let's publish it using the official k8s channels.

[2019-06-25 19:23] ashish-amarnath opened #1071 "[Doc] Update glossary doc with terminology"
/kind feature

**Describe the solution you'd like**
The glossary doc needs to define terms like:
* pivot
* bootstrap cluster
* target/ workload cluster

 **Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-06-25 19:24] pires opened #1072 "Add missing terms to glossary"
/kind docs

During June 25th code walkthrough, it was brought up that some of the terms used are either missing from the glossary or they're not complete, such as `pivot`, or `bootstrap cluster`, or `target/workload cluster`.

[2019-06-25 19:24] ashish-amarnath commented on #1071
https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/book/GLOSSARY.md

[2019-06-25 19:24] pires commented on #1072
Duplicate of #1071

[2019-06-25 19:24] #1072 closed

[2019-06-25 19:29] dlipovetsky opened #1073 "Come up with globally valid API groups"
/kind bug

https://github.com/kubernetes-sigs/cluster-api/blob/814130408c655984e6b2b10d698243aa226fb43f/pkg/apis/cluster/v1alpha1/cluster_types.go#L26

The API group `.k8s.io` should not be used by anything other than core Kubernetes.

[2019-06-25 19:30] ncdc commented on #1073
Do we want separate issues for the other places we'll need to change (all label keys, all finalizers, the API group itself)? Or lump them all here?

[2019-06-25 19:31] ncdc commented on #1073
/priority important-soon
/milestone v1alpha2
/area api

[2019-06-25 19:34] dlipovetsky commented on #1073
@ncdc We can lump them all here. I'll update the issue. Can we enumerate the "bad" groups?

`cluster.k8s.io`
`machines.k8s.io`

[2019-06-25 19:49] dlipovetsky opened #1074 "Umbrella issue: Make end-user experience transparent (Taints & Labels)"
An end user can use CAPI types to configure clusters and machines. It is up to each CAPI infra or bootstrap provider to respect, ignore, or override this configuration. The providers may have good reasons for doing so, but the end user has no clue what configuration a provider respects, and what it ignores, or overrides.

For example, an end user can set `Machine.Spec.Taints[]`. Some CAPI provider

[2019-06-25 19:51] ncdc commented on #1073
Anything `.k8s.io` used as an API group name, label key, finalizer key. That's a good start. We can add more if we find them in the code.

[2019-06-25 19:53] dlipovetsky commented on #1074
There was a comment during the code walkthrough that it is confusing that the v1alpha1 `Machine.Spec` includes `Taints`, but does not include `Labels`. In this case, and others, the split between the v1alpha1 CAPI types and the Provider types is not clear.

[2019-06-25 20:03] dlipovetsky commented on #1073
Got it.

Might providers be using these, too? I realize they'll define their own groups, but if they're using `.k8s.io` groups anywhere (like labels), we should let them know.

[2019-06-25 20:05] ncdc commented on #1074
I'd like to remove `Machine.Spec.Taints` and make it the responsibility of the bootstrap provider you choose to support setting initial taints for a node. And the bootstrap provider should do the same thing for `Labels`.

[2019-06-25 20:05] ncdc commented on #1073
It's certainly possible. We could check all the CAP* repos in kubernetes-sigs.

[2019-06-25 20:06] detiber commented on #1074
I think prior to the concept of having common bootstrapping it made more sense to make these fields on the Machine. With v1alpha2 introducing common bootstrapping logic, I think the value of having these fields attached to the Machine go away.

[2019-06-25 20:06] vincepri opened #1075 "Umbrella: Kubebuilder v2 support"
/kind feature
/area ux
/priority important-soon

**Describe the solution you'd like**
As part of https://github.com/kubernetes-sigs/cluster-api/pull/1054, folks should switch to use kubebuilder v2 when using master. This issue is to track the remaining items to make it a reality.

[2019-06-25 20:06] vincepri commented on #1075
/area dependency

[2019-06-25 20:08] detiber commented on #1073
sigs.k8s.io is the official alias for kubernetes-sigs projects, so should likely use subdomains of that.
`cluster.cluster-api.sigs.k8s.io` for example.

Providers could use similar naming as well (assuming they are hosted under kubernetes-sigs):
`<something>.cluster-api-provider-aws.sigs.k8s.io`

[2019-06-25 20:08] vincepri commented on #1073
/assign

Would this break v1alpha1 compatibility if we switch?

[2019-06-25 20:09] vincepri commented on #1073
I can switch in #1035, if we find consensus

[2019-06-25 20:10] detiber commented on #1073
It will break v1alpha1 compatibility, we should only change for v1alpha2+

[2019-06-25 20:10] ncdc commented on #1073
The only way to preserve v1alpha1 compatibility is to not change it, which means keeping v1alpha1 at the old group name, and changing the name for v1alpha2. At that point, we wouldn't have CRD multi-versioning because it'd be 2 different API groups.

[2019-06-25 20:10] vincepri commented on #1073
I don't think we can, given that multi-version support requires the same APIGroup :/

[2019-06-25 20:10] ncdc commented on #1073
We'd create 2 different API groups

[2019-06-25 20:11] detiber commented on #1073
We're going to need an external migration anyway since we are breaking out the embedded types and introducing the bootstrapping types.

[2019-06-25 20:11] vincepri commented on #1073
Doesn't that mean no webhook conversion though?

[2019-06-25 20:12] vincepri commented on #1073
In that case, I'd prefer to keep them under the new type and let the external migration tool handle the change, wdyt?

[2019-06-25 20:12] ncdc commented on #1073
I'm not sure conversion webhooks were really on the table given how much of a change this is, and the split from RawExtension to full CRDs will require custom logic per provider.

[2019-06-25 20:13] ncdc commented on #1073
What do you mean?

[2019-06-25 20:13] vincepri commented on #1073
I mean just use the new APIGroup for v1alpha1 and v1alpha2 and let the external tool to change the APIGroup as well

[2019-06-25 20:14] ncdc commented on #1073
We have to keep v1alpha1 using the old api group

[2019-06-25 20:15] detiber commented on #1073
Yes, we can't change the api group otherwise we lose the connection to the underlying object storage in etcd

[2019-06-25 20:17] dlipovetsky commented on #1074
Agreed, the `Machine.Spec.Taints` field can be removed.

In general, in v1alpha2, most of the power (to be opinionated) and responsibility (to provide a transparent experience) goes to the infra/bootstrap providers.

CAPI should use the "default" providers to set an example of transparent user experience.

[2019-06-25 20:53] timothysc commented on #1071
We should also add node pools to that list:
A node pool is a group of nodes within a cluster that all have the same configuration.

[2019-06-25 22:08] timothysc commented on #1065
I'm thinking Cluster API Operator to manage the lifecycle across * providers.  This component can install the CRDs and controllers and turn down components if needed.  It could be the one todo the final killing, but regardless we could.  The operator also solves a part of our distribution problem.

[2019-06-26 02:28] wanghh2000 opened #1076 "Log message update"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Log "Setting KubeConfg timeout to 5m0s" need update.

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version:
- Minikube/KIND version:
- Kubernetes version: (

[2019-06-26 03:29] wanghh2000 commented on #1071
If I am right, I guess the following link described the `target/workload cluster` above.
https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/book/GLOSSARY.md#workload-cluster
Or is it another concept?
- Thanks.

[2019-06-26 03:29] #1076 closed

[2019-06-26 10:37] prankul88 commented on #1071
Hi @ashish-amarnath @timothysc , I am new to this project and would love to contribute.
If you guys say I can take up this issue.
Thanks

[2019-06-26 13:45] detiber commented on #1065
I definitely like the idea of an operator, but we also need to remember that deploying the operator also presents a chicken/egg situation where an existing cluster needs to be present.

[2019-06-26 14:23] timothysc commented on #1065
I'm totally cool with having a bootstrap cluster be a precondition.

[2019-06-26 14:25] ncdc commented on #1065
Same - `kind` is so easy to set up these days, that should be sufficient as a minimum requirement.

[2019-06-26 14:27] detiber commented on #1065
The problem with kind as the bootstrapping cluster now means that you still need something to handle pivoting, or would we expect that the operator be able to solve the pivoting problem for us?

[2019-06-26 14:28] timothysc commented on #1065
My thought is that the operator would do the pivot.

[2019-06-26 15:47] michaelgugino opened #1078 "machine-controller problem self-detection"
/kind feature

**Describe the solution you'd like**
In v1alpha1, as well as v1alpha2, the machine-controller can get 'stuck' in a variety of states.  For instance, the state of a machine might never progress past "creating" (or as in v1alpha1, each reconcile loop always results in calling the Create() function of the actuator interface) state.  The reasons for this can vary, but we don't currently

[2019-06-26 15:53] detiber commented on #994
/assign @michaelgugino

[2019-06-26 15:54] ncdc commented on #1078
Ditto. I'd like to try to enumerate specific places in the overall workflow that can get stuck. Once we have an initial list, we can try to decide how to surface this information.

[2019-06-26 15:56] ashish-amarnath commented on #1071
@prankul88 Welcome to the project! Yes, you can absolutely work on this issue :)

[2019-06-26 15:57] ashish-amarnath commented on #1071
Setting lifecycle status as @prankul88 will be working on it
/lifecycle active

[2019-06-26 15:58] ncdc commented on #1078
/area machine

[2019-06-26 16:29] michaelgugino commented on #1078
@detiber Labels are used primarily for grouping things.  In this case 'broken machines' would be a group.  We are, IMO, primarily concerned with raising this data to the user/admin or another 3rd party component.  While we could set this data as a field somewhere, we'd then require *something else* to make the labels or otherwise have to query for all objects and filter.

I would prefer labels, bu

[2019-06-26 17:01] davidewatson commented on #1057
I've been asked to follow up with  https://github.com/contact

[2019-06-26 17:30] timothysc commented on #1070
@justinsb we should sync with @dims && k8s-infra on how we manage shared infra containers.
/cc @spiffxp

[2019-06-26 17:31] dlipovetsky commented on #1070
I'll PR the Dockerfile to this repo as a first step

[2019-06-26 17:31] vincepri commented on #1073
/lifecycle active

[2019-06-26 17:45] sethp-nr commented on #1078
For cross-referencing purposes: this would greatly ease the implementation of #969 (being able to tell the "resizing" case apart from the "error" case, anyway).

[2019-06-26 17:51] #1035 closed

[2019-06-26 18:25] vincepri commented on #1041
The node controller has been removed in #1051
/close

[2019-06-26 18:25] #1041 closed

[2019-06-26 21:06] liztio commented on #985
Just finished an extended debugging session with @ncdc. Some background:

There are three deletion techniques the kubernetes apiserver supports: `orphan`, `foreground`, and `background`. By default, `kubectl delete` does a `background` deletion.

During a `background` deletion, the parent object is deleted, then dependent objects are garbage collected. In a `foreground` deletion, objects are delet

[2019-06-26 22:11] AlainRoy commented on #985
@liztio: If you delete bottom-up, does that mean that you delete the Machines before the MachineSets Might the Machines potentially be recreated by the MachineSets?

Apologies if this is a stupid question--I don't know all the details of how cluster deletion works.

[2019-06-26 22:34] Lokicity commented on #985
Thanks for the explanation. i am running into a similar issue where if I deletes a machine deployment using this client
[code]

If I delete the machine deployment, it doesn't delete the machine deployment object nor the machineset object. However, I can see that my cloud provider VM is getting deleted and recreated constantly. I am not entirely sure if it necessarily related for my case. I will ad

[2019-06-27 05:16] Lokicity commented on #985
Hi Liz, I am not using kubect and I am using the ClusterV1alpha1Client to delete machine deployment.  Even with the DeletePropogationForeground set, the machine deployment is not deleted properly. This looks like a bug in CAPA and I can provide more detail if needed.

[2019-06-27 05:36] jimmidyson commented on #985
Shouldn't we be using finalizers here and controller triggering deletion of dependent objects? Coupled with `ownerReference.blockOwnerDeletion=true` on dependent objects (with ownership set up), and we should have bottom up deletion, no?

[2019-06-27 05:39] jimmidyson commented on #985
The machine controller shouldn't be trying to create machines for machinesets the are deleting (deletiontimestamp is set).

[2019-06-27 07:35] pires commented on #1065
Here's my POV:
- Things will be easier on the user if there's a bootstrap cluster, eg `kind`. I understand the argument _chicken/egg problem_ but there's no such thing as free lunch.
- Self-hosted (pivot) stuff is complicated, particularly if you're moving from the bootstrap cluster to the target cluster and need to account for concurrency. I wouldn't make it a _must-have_ but a _good-to-have_ and

[2019-06-27 08:20] pires commented on #1065
@detiber I don't want to hijack the discussion here but since you mention the concurrency problems of moving from bootstrapper to pivot, I think for as long as one can reach the other, say bootstrapper can reach the pivot, controller(s) may be smart and rely on the same locks to guarantee there are no concurrency issues. Something along the follow lines:
- bootstrapper controller (bc1) locks objec

[2019-06-27 12:49] ncdc commented on #985
@Lokicity please open a new issue for your machine deployment issue - thanks!

[2019-06-27 12:53] ncdc commented on #985
FYI, once we break apart the `Cluster` and move `providerSpec` into its own custom resource, background deletion will work and this won't be an issue any more:

1. `kubectl delete cluster` - cluster is removed from etcd because we don't need any finalizers on it
1. Garbage collection deletes all objects that had the cluster as an owner
    1. MachineDeployments
    1. MachineSets
    1. Machines

[2019-06-27 13:13] jimmidyson commented on #985
That means that `Cluster` will be removed before resources for that cluster are actually released. Is that desirable functionality? I'd prefer to see that my `Cluster` exists until all resources are cleaned up. If we don't do this, then I can't list clusters and see that my cluster is in `deleting` (or whatever) phase.

[2019-06-27 13:30] detiber commented on #985
@Lokicity Passing in `metav1.DeleteOptions` with a `PropagationPolicy` of `metav1.DeletePropatationForeground` to the `Delete` method should resolve the issue when using `ClusterV1alpha1Client`. This is what is done in `clusterctl`.

[2019-06-27 13:32] detiber commented on #985
@jimmidyson I would also expect the `Cluster` object to stick around until the dependent resources are removed, I'm just not sure that we can enforce that with `kubectl` today since there is no way to enforce foreground propagation there.

[2019-06-27 13:38] jimmidyson commented on #985
Like I said above, finalizers and controller managed deletion would do it, analagous to namespace finalizer.

[2019-06-27 13:39] detiber commented on #1065
One thing to keep in mind in this discussion is that currently `kubectl` does not allow for setting foreground propagation during delete which is currently needed to ensure that resources are cleaned up properly, see #985. Providing something to safely delete resources might be a good thing. Whether that is a standalone tool ala `clusterctl` or a `kubectl` plugin.

[2019-06-27 14:53] liztio commented on #985
@jimmidyson I wanted to avoid completely reimplementing the wheel w.r.t. finalizers. the GC already has the behaviour we want - delete all dependents before deleting the owner object. Why should we have to do that ourselves?

[2019-06-27 14:54] liztio commented on #985
@AlainRoy the machines are deleted before the machinesets, but the machinesets are _marked as being deleted_ (by the deletedAt timestamp). This way they know not to create new deployments.

[2019-06-27 15:00] jimmidyson commented on #985
@liztio Can you force that behaviour? I don't think you can (but would love to know if it is possible!), and as you've said above, the default is to do a background deletion. As far as I'm aware, if we want to _consistently_ only delete clusters after all their dependents have been deleted, that has to happen through finalizers.

[2019-06-27 15:18] liztio commented on #985
I'm grumpy rn that apiserver _removes_ the foregroundDeletion finalizer I added in. There has to be a better way than "reimplement the GC from scratch." I've seen the GC code, it's really complicated and there's a lot of edge cases, I don't trust us to get it right first try.

[2019-06-27 15:23] ncdc commented on #985
We first need to decide if we want the cluster to stick around "Terminating" while its various resources are being cleaned up. If no, this problem should go away with alpha2. If yes, then we probably need to have conversations with the apimachinery & kubectl folks about how to handle this... or we could add logic to the MachineDeployment, MachineSet, and Machine controllers to watch Clusters, and

[2019-06-27 15:31] detiber commented on #985
@ncdc I'm partial to say yes the `Cluster` and other parent objects should stick around until their child resources/objects are cleaned up.

[2019-06-27 15:33] jimmidyson commented on #985
I agree with @detiber.

[2019-06-27 21:50] timothysc opened #1085 "Cluster API Operator - Manage lifecycle across providers"
**Basic User Story**
As a Cluster API user I would like to be able to apply a single manifest for a given version (e.g. v1alpha2) and have it deploy and manage the lifecycle of the supported providers that are specified.

**Example use case:**
New user comes to the cluster api repo wanting to kick the tires and give it a whirl.
User goes to the getting started guide.
Preconditions (some initial cl

[2019-06-27 21:51] vincepri commented on #1085
/cc

[2019-06-28 14:06] ncdc commented on #985
Ok, then I think we need to deal with the fact that kubectl defaults to background deletion and doesn't allow you to specify foreground, which results in the apiserver/garbage collection ignoring the foreground deletion finalizer.

Unfortunately I think the only way to guarantee that we don't end up with a cluster stuck deleting is to implement the dependent deletion logic that we get for free wit

[2019-06-28 21:25] davidewatson commented on #1057
The `gh-pages` branch has been deleted. 🎉?

[2019-06-28 21:25] #1057 closed

[2019-06-30 12:10] vsamidurai commented on #963
@timothysc  Can I take this up if it's not already taken?

[2019-06-30 22:35] pablochacin opened #1090 "Update provider implementation guide to Kubebuilder 2.0"
/kind bug

**What steps did you take and what happened:**

Following the instructions in the provider implementation documentation when building the project, the following errors/inconsistencies occurs:

***Makefile patch***

Instructions for building the project include a patch for the `Makefile` which includes this   change:
[code]

However, the actual Makefile looks as follows:
[code]

***API p

[2019-07-01 13:03] detiber commented on #1090
/assign @vincepri

[2019-07-01 14:22] dongwangdw commented on #934
I would like to implement it like this.
Any changes to docs will be detected with pre-commit, then error will be raised and ask the commiter to update the docs with doctoc and commit that too. Then the update shell will reside in hack if the script is necessary. because this update only refers to a line of command.

Any comments will be appreciated.

[2019-07-01 14:38] ncdc commented on #963
@vsamidurai yes, definitely. No one is currently assigned and it's not marked active.

[2019-07-01 14:42] detiber commented on #963
@vsamidurai One thing to keep in mind for this issue: The current check was put in place to avoid orphaning cloud resources.

[2019-07-01 15:11] ncdc commented on #963
@detiber could you elaborate on that scenario please?

[2019-07-01 15:38] michaelgugino commented on #994
/active

[2019-07-01 15:39] ncdc commented on #994
@michaelgugino FYI it's `slash-lifecycle active` - thanks!

[2019-07-01 15:45] michaelgugino commented on #994
/lifecycle active

[2019-07-01 16:14] detiber commented on #963
Sure thing, the scenario is:
- a self-hosted cluster (cluster-api running on a cluster it is managing)
- where the cluster-api controller manager(s) are running on the single control plane Node
- A user issues a delete for the Machine backing the control plane Node

Today, the existing check would prevent the Machine from being deleted prior to pivoting the cluster-api resources to a different clu

[2019-07-01 18:02] vincepri commented on #949
@calebamiles Let me know if there is anything I can do to get you started here (if you'd like to work on it), we can definitely tackle this in v1alpha2

[2019-07-01 18:55] ncdc opened #1097 "Fix import alias for controllerError "sigs.k8s.io/cluster-api/pkg/controller/error""
/kind bug

**What steps did you take and what happened:**
We have some places in the repo with this import alias:

[code]

**What did you expect to happen:**
Package aliases should be lowercase. This should be changed to `controllererror`.

**Anything else you would like to add:**
N/A

**Environment:**

- Cluster-api version: master
- Minikube/KIND version: N/A
- Kubernetes version: (use `kubectl

[2019-07-01 20:49] vincepri commented on #1037
/lifecycle active

[2019-07-01 20:58] vincepri opened #1099 "MachineSet reconcile test hardening"
/kind bug

**What steps did you take and what happened:**
MachineSet controller has a function called `TestReconcile`. When this function runs during a test, it'll use a Kubebuilder installation to spin up a local api-server and perform actions against it.

This test has multiple issues and it's most likely incomplete
- The last part of the test (after the Delete) call is performed is commented ou

[2019-07-01 20:59] vincepri commented on #1099
/priority important-longterm
/area testing

[2019-07-01 23:28] vincepri commented on #1099
/lifecycle active

[2019-07-02 15:09] #1097 closed

[2019-07-02 15:57] timothysc commented on #46
/assign @alexeldeib @timothysc

We may not get to this in v1alpha2 but we'll try to make a decision during this timeframe.

[2019-07-02 18:35] timothysc opened #1102 "Versioned naming schema for CAPI + providers."
To the external observer it's very confusing to match versions of CAPI<>provider and to have a well crafted naming convention.

for v1alpha2+ IMO this needs to be addressed and documented so it's clear to downstream consumers.

/kind feature
/kind documentation

[2019-07-02 18:36] timothysc commented on #1102
/cc @vincepri @detiber @ncdc

[2019-07-02 19:17] ncdc opened #1104 "Panic in NodeRef controller"
/kind bug

**What steps did you take and what happened:**
- Create a cluster using CAPI + CAPA in AWS
- Add a machine
- NodeRef controller panicked

**What did you expect to happen:**
- No panic

**Anything else you would like to add:**
I hit this return statement: https://github.com/kubernetes-sigs/cluster-api/blob/b37cf11c05acebee2ffd0c8a845c2bc3e1c1f7a0/pkg/controller/noderef/noderef_controller

[2019-07-02 19:18] ncdc commented on #1104
Once fixed, we'll need to backport to `release-0.1`.

[2019-07-02 19:29] calebamiles commented on #970
@dlipovetsky I got two examples of testing to look at
- https://github.com/DirectXMan12/kubebuilder/blob/docs/tutorial/test/project/controllers/cronjob_controller_test.go
- https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/controller/controller_integration_test.go

[2019-07-02 19:48] michaelgugino commented on #963
One way to solve this problem (IMO) is to use leader election, always deploy at least two machine-controllers, and use pod disruption budget of 1.

Otherwise, maybe just use an annotation to prevent delete that you can remove in CI after the pivot, or you could attempt to count to ensure masters > 1 (or >= 3?)

[2019-07-02 20:02] detiber commented on #963
It could potentially require a combination of those approaches.

In general today `clusterctl` based-deployments will have the controller managers running on the "first" control plane node, since it is the only Machine that is deployed prior to pivoting the cluster-api resources. However, there wouldn't be anything that would prevent the other two control plane Machines from being deleted and caus

[2019-07-02 20:59] pires commented on #1104
Fixing the panic is seems to be as easy as not swallowing the error when returning: https://github.com/kubernetes-sigs/cluster-api/blob/b37cf11c05acebee2ffd0c8a845c2bc3e1c1f7a0/pkg/controller/noderef/noderef_controller.go#L169

Now, I'm not sure this is enough because the code (or its comments) is not clear whether `Reconcile` is expected to be called again. Assuming it should be, we also need to

[2019-07-02 21:56] vincepri commented on #1104
@pires That seems like a good approach, we can return both

[2019-07-02 21:58] akutz opened #1105 "clusterctl delete cluster appears to hang on 0.1.4"
/kind bug

**What steps did you take and what happened:**
`clusterctl delete cluster` hangs indefinitely waiting for a machine to be deleted

[code]

**What did you expect to happen:**
For `clusterctl delete cluster` to not hang.

**Anything else you would like to add:**
The CAPV manager log has the following, ad infinitum:

[code]

Based on the log message, the error appears to be occurring [here

[2019-07-02 22:39] #1037 closed

[2019-07-03 07:59] moshloop opened #1576 "[cabpk] Define supported combinations"
We should define what combinations of OS / K8S / CRI / Cloud this provider will support, perhaps breaking it down into 3 categories:

1. Supported with E2E test
2. Known to work
3. Unsupported / Known not to work

**Operating Systems:**
* [x] Ubuntu 18.04
* [ ] Ubuntu 16.04
* [x] CentOS 7.2
* [ ]  Amazon Linux 2
* [ ] RHEL 7.4
* [ ] RHEL 7.5
* [ ] RHEL 8
* [ ] RHEL Atomic
* [ ] CoreOS
* [ ] Debian

[2019-07-03 08:00] moshloop opened #1577 "[cabpk] Create E2E test framework"
If we are generating cloud-init then a KVM/QEMU based framework should work - AppVeyor supports nested virtualization for CI, and we could potentially work with test-infra to get some nested virtualization capable runners on GCP.

* Testing the logic of the controller could be done with the standard kube-builder testing framework
* Testing the output of this provider would use KVM, e.g.:

1) Gener

[2019-07-03 08:40] jichenjc opened #1109 "[tag 0.1.4] how to handle `failed to retrieve kubeconfig secret for Cluster`"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

after upgrade to 0.1.4 something like:
[code]
looks like pkg/controller/remote/util.go need some secret created for

[code]

is there any doc guide how and where to create this secret? and what's the content to be put? Guess that's something need to be done for cluster api provider?

[2019-07-03 13:46] detiber commented on #1109
@jichenjc The NodeRef controller is documented here: https://cluster-api.sigs.k8s.io/common_code/noderef_controller.html

[2019-07-03 13:47] pires commented on #1104
I'll be opening a PR to address this today.

[2019-07-03 14:01] timothysc commented on #1102
xref - https://github.com/kubernetes/enhancements/pull/1111

[2019-07-03 14:48] #1099 closed

[2019-07-03 17:02] akutz opened #1112 "The KubeConfig secrets should be moved as part of the pivot with clusterctl"
/kind feature

**Describe the solution you'd like**
Currently if any KubeConfig secrets are created pre-pivot, these secrets must be recreated post-pivot since the secrets are not moved as part of the pivot. This prevents having to handle the situation post-pivot of waiting for the secrets to be recreated before additional resources can be processed.

**Anything else you would like to add:**

[2019-07-03 17:04] vincepri commented on #833
/assign

[2019-07-03 17:12] timothysc commented on #833
@pablochacin @ncdc - could folks please update this issue.

[2019-07-03 17:14] ncdc commented on #833
Pablo to write a proposal.

[2019-07-03 17:53] vincepri commented on #1112
/priority important-soon
/area clusterctl
/assign @detiber

[2019-07-03 17:54] akutz commented on #1105
Hi @timothysc,

This will also need to be back ported to v1a1.

[2019-07-03 17:55] ncdc commented on #1109
The documentation contains the information needed. Please reopen if you have further questions or comments. Thanks!

/close

[2019-07-03 17:55] #1109 closed

[2019-07-03 17:57] akutz commented on #1112
This should also be back ported to v1a1 since these are used in 0.1.4.

[2019-07-03 19:01] michaelgugino opened #1113 "v1alpha2 infrastructure provider scaffolding"
/kind feature

We should provide a way to help developers implement infrastructure providers.  Ideally, most of these providers should be rather uniform in construction.

Some common concerns:

1. Reading details from the associated machine-object
2. Putting instance addresses (such as ip address or internal hostname) in a predictable place that can easily be scraped by the machine-controller
3. U

[2019-07-03 19:05] detiber commented on #1113
I definitely like the idea of having a library that can be used to provide common functionality.

I'm not a huge fan of a scaffolding repo, unless we somehow deliver it as a template that can do the find/replace necessary for users, since this has proven to be error prone and difficult for users in the past.

Another option that we may have is to extend kubebuilder or otherwise provide a kubebuild

[2019-07-03 19:18] michaelgugino commented on #1113
kubebuilder like tool might work, but how do we enable providers to take advantage of enhancements down the road?

My dream is to just do ``` upstream stuff (merge)-> my stuff``` kind of thing.  As a provider implementer, I don't want to have to worry about the k8s part, just the cloud part.

[2019-07-03 19:23] detiber commented on #1113
@michaelgugino I'm not sure there is a good solution there, as we can't guarantee that users aren't doing something that would cause a merge conflict.

That said, putting the majority of functionality into a library would help alleviate some of the pain there.

[2019-07-03 19:39] vincepri commented on #1039
Closing this given that the development is happening out of tree.

/close

[2019-07-03 19:39] #1039 closed

[2019-07-03 19:39] vincepri commented on #1038
/lifecycle active

[2019-07-03 20:02] chuckha commented on #1104
I just hit this and have a patch. I do not se lifecycle active so I will take it.

/assign
/lifecycle active

[2019-07-03 20:03] ncdc commented on #1104
@chuckha check with @pires ?

[2019-07-03 20:07] chuckha commented on #1104
ah ok, actually this is a good chance for someone else to get a contribution

/remove-lifecycle active
/unassign

Sorry for the noise @pires, you should for sure work on this

[2019-07-03 20:29] detiber commented on #1039
Repo is here: https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm

[2019-07-03 20:45] michaelgugino commented on #1113
@detiber yeah, there might be merge conflicts, but you can always resolve those, and I think that would be easier than some other approaches.

Yeah, library at the very least would be quite helpful.

Perhaps we can come up with a sane workflow around kubebuilder + branch merging on the user's end.

[2019-07-03 21:23] timothysc commented on #1113
/assign @michaelgugino @detiber

[2019-07-03 21:25] harishspqr opened #1118 "nil pointer dereference while the controller cannot find the matching Node for a machine."
/kind bug

Here are the logs with call stack:

`I0703 21:01:32.588010       1 noderef_controller.go:84] Reconcile request for Machine "worker-lindic-703f-t2.medium-547557bc47-qkbx4" in namespace "6a8585e7f3657d0d68d189e0ffc2cb7ca093e181"
W0703 21:01:32.674289       1 noderef_controller.go:165] Cannot find a matching Node for Machine "worker-lindic-703f-t2.medium-547557bc47-qkbx4" in namespace "6a8

[2019-07-03 21:26] vincepri commented on #1118
Duplicate of #1104

[2019-07-04 06:56] moshloop opened #1119 "Decide on a documentation versioning/scheme"
What is the planned approach for handling documentation re v1alpha1 vs v1alpha2?  I see a couple of potential approaches:

1) Have a different documentation site for each version, similar to k/k
2) Have 1 documentation site focusing on master, and just highlighting version specific differences
3) Have 1 documentation site with a common, v1alpha1 and v1alpha2 sections

@davidewatson @vincepri @ashi

[2019-07-04 06:57] moshloop commented on #1119
/kind documentation

[2019-07-05 12:46] dims commented on #1070
@dlipovetsky @timothysc i've got the ball rolling by notifying kubernetes-dev on the steps we support [1]

[1] https://groups.google.com/d/msg/kubernetes-dev/ZqdjjDIAISY/n5USEpPBCgAJ

[2019-07-05 12:51] detiber commented on #1070
@dims is use of the image-promoter now allowed?

[2019-07-05 13:21] detiber commented on #1119
My preference is to have a documentation site for each version, since v1alpha2 will differ significantly from v1alpha1. We can leverage the Netlify integration that we have currently in the following ways to handle this:
- enable per-branch subdomains in Netlify
- add a Netlify a new config to the release-0.1 branch
- Add a header to the docs in `master` to indicate that they are under heavy devel

[2019-07-05 13:35] detiber commented on #1118
Closing, since this is a duplicate.

[2019-07-05 13:35] #1118 closed

[2019-07-05 13:44] dims commented on #1070
@detiber yes, please try it

[2019-07-05 13:47] ncdc opened #1120 "noderefutil.ProviderID doesn't handle scheme://id correctly"
/kind bug

**What steps did you take and what happened:**
`noderefutil.NewProviderID("scheme://id123").Id()` returns `.`

**What did you expect to happen:**
`id123`

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version:
- Minikube/KIND version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. f

[2019-07-05 13:47] ncdc commented on #1120
/assign
/lifecycle active

[2019-07-05 14:43] moshloop commented on #1119
I am happy with that as well, who has the rights to create the new subdomain?

[2019-07-05 14:52] detiber commented on #1119
I'll work on following up with @davidewatson on this
/assign
/assign @davidewatson

[2019-07-05 15:09] pires opened #1122 "Changes to Gitbook business model that may affect this project"
This project seems to rely on Gitbook to generate and serve documentation. Recently, a new version of [Gitbook (v2) dropped support for serving the resources locally](https://docs.gitbook.com/v2-changes/important-differences) which I think will at least affect how developers interact with the tool and the resources managed by it. Did anyone here look into this already?

cc @timothysc

[2019-07-05 15:42] timothysc commented on #1122
/assign @davidewatson @detiber @vincepri

[2019-07-05 15:44] #1120 closed

[2019-07-05 15:51] detiber commented on #1122
We may want to take a path similar to kubebuilder, it looks like they switched to a tool called `mdbook`: https://github.com/kubernetes-sigs/kubebuilder/blob/master/docs/book/install-and-build.sh

[2019-07-05 19:14] #1104 closed

[2019-07-05 19:42] chuckha commented on #820
It would really help out testing efforts to know when a cluster hits the ready state.

Right now I go into child cluster and query Nodes directly, but if I could just stay on the management cluster that would be awesome.

[2019-07-05 20:32] #1005 closed

[2019-07-05 21:25] chuckha opened #1127 "Slow machine deployment upgrade"
/kind bug

**What steps did you take and what happened:**
I issued an update to a machineDeployment. Everything ended up working in the end but it was very slow. In fact, it was 10 minutes between each node being scaled up / down. So each reconcile loop, the MachineSet would take exactly one action. Note: There are two machinists during an update event. The original one that scales down and the ne

[2019-07-06 18:07] moshloop commented on #1122
Another tool to consider is www.mkdocs.org - It has a GitBook theme and fairly decent plugin ecosystem including [sequence diagrams](http://bwmarrin.github.io/MkDocsPlus/mermaid) with mermaid.

We could then combine it with [gen-apidocs](https://github.com/kubernetes-incubator/reference-docs/tree/master/gen-apidocs) for k/k style API docs.

[2019-07-06 18:09] moshloop commented on #1122
/kind documentation

[2019-07-08 16:21] ncdc commented on #1127
@chuckha do you have logs from the infra provider during this time?

[2019-07-08 16:22] chuckha commented on #1127
I don't but can recreate them. I was watching the logs and it was nothing interesting. It did everything I was expecting except there was a 10 minute space between when things happened.

[2019-07-08 16:33] vincepri commented on #1127
A few other details to check: Do Machine have NodeRef properly set? Do the MachineSets associated with the MachineDeployment have AvailableReplicas?

[2019-07-08 16:54] chuckha commented on #1127
The associated MachineSets do need have available replicas. It does work, it just takes a long time.

[2019-07-08 18:22] ncdc commented on #1127
@chuckha which provider were you using - capd?

[2019-07-08 18:24] chuckha commented on #1127
@ncdc yes, I have not tried on CAPA yet so it may very well be a CAPD issue.

[2019-07-08 18:24] ncdc commented on #1127
I've heard similar reports with CAPA

[2019-07-08 18:31] chuckha commented on #1127
/assign
/lifecycle active

[2019-07-08 18:54] vincepri commented on #1127
/priority critical-urgent

[2019-07-08 20:06] chuckha commented on #1067
this is a subset of the problem, I think ideally we have our manager logging context on each log line from which controller the log came from (machinesets controller, machinedeployments controller, noderef controller, etc).

At this point the logging would be abstracted enough to easily log the machine name along with the machine controller logger (which for now is entirely provider specific)

[2019-07-09 09:42] hardikdr commented on #493
I was hoping for a solution which is agnostic to both cloud-provider and bootstrap-provider. This seems like a generic feature and doesn't need to be coupled with providers I guess. I am also curious to know more about security implications if we decide to reconcile the taints/labels.

[2019-07-09 17:47] ncdc commented on #1105
Fixed by #1110
/close

[2019-07-09 17:47] #1105 closed

[2019-07-09 18:43] #1127 closed

[2019-07-09 19:28] alexeldeib commented on #1065
I like the idea of a `kubectl cluster bootstrap` plugin. `kubectl create cluster` would be nice but I don't think you can override create like that (?).

[2019-07-10 00:53] dlipovetsky commented on #1122
<bikeshed> Mermaid? What about PlantUML </bikeshed> :laughing:

[2019-07-10 01:00] dlipovetsky commented on #970
MachineDeployment from the CAPI book: https://cluster-api.sigs.k8s.io/common_code/machinedeployment_controller.html

[2019-07-10 01:35] dlipovetsky opened #1138 "Document requirements of conformant Infrastructure and Bootstrap providers"
#997 introduces Infrastructure and Bootstrap providers. The Cluster API subproject is implementing a [kubeadm Bootstrap provider](https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm), but external orgs will implement most Infrastructure providers.

How does a Cluster API end-user evaluate the quality of providers? One way is for Cluster API to write set of conformance tests t

[2019-07-10 01:40] dlipovetsky commented on #1138
I'm going to jot down a couple of requirements here. Disclaimer: I haven't proposed these formally, and there's no consensus on them.

1. A conformant provider MUST be able to reconcile objects in the same namespace as other conformant providers.
0. A conformant provider MUST be able to reconcile objects for multiple clusters in the same namespace.
0. A conformant provider MAY be able to reconcile

[2019-07-10 16:33] vincepri commented on #775
/remove-lifecycle rotten

[2019-07-10 17:18] moshloop commented on #1122
mkdocs supports plugins so it should be easy to create a plugin to use the docker image you created to convert PlantUML -> PNG/SVG at book build time

[2019-07-10 17:20] vincepri opened #1141 "Cluster references should be required on child objects"
/kind feature

**Describe the solution you'd like**
In v1alpha1 we allow Cluster references to be empty in the Machine object.

- Code in multiple places has to check if the Machine label is specified and returns a `<nil>` Cluster reference.
- Provider implementations have to check if the Cluster reference passed in is not `<nil>`.
- NodeRef controller doesn't work without a Cluster reference give

[2019-07-10 17:32] detiber opened #1142 "v0.1.5 release"
There are a few backports that have not made it into a release yet, and we are being asked by the wg-k8s-infra to [test the image promotion process](https://github.com/kubernetes/k8s.io/issues/300) I'd like to cut the release either today (July 10) or tomorrow (July 11).

If there are any additional backports needed prior to the release, please let me know asap.

[2019-07-11 13:58] detiber commented on #1142
Since I haven't seen or heard any additional requests for the v0.1.5 release, I'm going to start cutting the release now.

[2019-07-11 13:58] detiber commented on #1142
/lifecycle active

[2019-07-11 15:27] vincepri opened #1145 "Publish images from master after each merge"
/kind feature

**Describe the solution you'd like**
We should have a way to automatically push a new `master` image to the staging bucket after each PR is merged to ease development, the images should be tagged and pushed with `:master` and `:<commit-hash>`.

[2019-07-11 16:23] detiber commented on #1145
There is an upstream issue for doing this for the kubernetes-csi artifacts that may help with implementing this: https://github.com/kubernetes/test-infra/issues/13332

[2019-07-11 20:40] detiber commented on #1142
v0.1.5 turned into v0.1.6 due to a mixup on the production location of the image after promotion, but it is now pushed.

/close

[2019-07-11 20:40] #1142 closed

[2019-07-15 17:00] amy commented on #1145
From slack:
[code]
https://kubernetes.slack.com/archives/CCK68P2Q2/p1563209559416100?thread_ts=1562332672.163800&cid=CCK68P2Q2

[2019-07-16 03:45] dlipovetsky opened #1158 "Bootstrap cluster cleaned up despite failed pivot"
/kind bug

When the `clusterdeployer.Create` method fails _after_ deploying the control plane machine, but _before_ pivoting (i.e. copying over the CAPI and CAPA control planes, and Cluster, Machine, and ancillary objects to the workload cluster), the bootstrap cluster is cleaned up.

Without the Cluster, Machine, and ancillary objects, it is not possible to use clusterctl to delete the AWS resour

[2019-07-16 10:53] prankul88 commented on #873
Hi @vincepri , I was going through this issue and saw that in [https://github.com/kubernetes-sigs/cluster-api/tree/master/config/samples](url) the files named v1alpha1 yaml have apiVersion set to "cluster.k8s.io/v1alpha2" , while there are already seperate v1alpha2 yaml available. Can you explain why is it so?
And if anybody is not working on this I can take up this issue.
Thanks

[2019-07-16 15:56] vincepri commented on #873
It might have been a mistake and they should be probably either removed or fixed

[2019-07-16 17:42] vincepri commented on #1158
Seems it worked 🎉

[2019-07-17 04:37] prankul88 commented on #873
@vincepri Should I push a PR for that?
And any opinions on how the different repos mentioned in this issue should be handled ?

[2019-07-17 14:45] timothysc commented on #1102
So why can't we just follow v1alpha2.patchver.  Or specifically

vMajor.Minor.Patch
v0.2.patch

[2019-07-17 14:46] ncdc commented on #1102
We can for CAPI. It's harder for providers since CAPA is already at 0.3 and CAPV is also at 0.3 and moving to 0.4.

As much as I hate to say it, I feel like we may need to live with mismatches across providers until we get to 1.0.

[2019-07-17 14:51] detiber commented on #1102
I think I agree that 1.0 seems like a good mark for aligning. I'm not sure that we won't be able to prevent another situation where there is a breaking change required for a provider upgrade outside of a cluster-api upgrade, though.

I think defining compatibility metadata that can be consumed by the cluster-api-operator would be a better approach to compatibility, we'd just need to define a story

[2019-07-17 14:57] timothysc commented on #1102
1.0 could be a year away, I think we'll need to have a rally point repo that follows semver matching with capi.

I'm starting capi-tools repo for cli-redux + capi-operator, that may be the only possible option for now to decrease confusion and point folks there for consumption.

[2019-07-17 17:14] davidewatson opened #1168 "Update lodash"
/kind bug

**What steps did you take and what happened:**

According to GitHub `lodash` needed to be updated again:

<img width="1018" alt="Screen Shot 2019-07-17 at 10 10 46 AM" src="https://user-images.githubusercontent.com/11819015/61395845-4004a200-a87b-11e9-8c72-803a1e28cecb.png">

**What did you expect to happen:**

GitHub should be happy.

**Anything else you would like to add:**

This alre

[2019-07-17 17:28] detiber commented on #1168
There is an open PR for this here: https://github.com/kubernetes-sigs/cluster-api/pull/1157

[2019-07-17 17:48] #1168 closed

[2019-07-17 20:06] dlipovetsky commented on #985
I talked with @ncdc about this in #cluster-api slack yesterday, and I wanted to add a summary of that here:

For a cascading delete, the apiserver decides which strategy to use by looking for the strategy finalizer (e.g. [`foregroundDeletion`](https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/#foreground-cascading-deletion)) on the parent object. The client can override

[2019-07-18 13:55] timothysc commented on #1102
It might be possible to encode meaning into the first digit in the minor.
0.12.0
10's = alpha
20's = beta

In this case 0.12.0 = alpha2
It would work and be consistent and if we have 8 more minors we're in a bigger pickel.

I'm not crazy about the encoding, but I do think this makes it easier to reason about across providers, and I loath the idea of waiting a year.

[2019-07-18 14:14] detiber commented on #1102
@timothysc if we go this route, maybe it needs an extra digit to account for provider-related compat info.

0.121.0 = compat with capi 0.12x series, first release
0.122.0 = compat with capi 0.12x series, but requires intervention for provider release 0.121.y

[2019-07-18 14:23] timothysc commented on #1102
or, providers could also use the -x suffix to encode their specific patch version.

CAPI
0.12.0 = v1alpha2 - patch 0
0.12.1 = v1alpha2 - patch 1
0.21.0 = v1beta1 - patch 0

CAPA
0.12.0-0 = v1alpha2 based patch 0
0.12.0-1 = v1alpha2 based patch 1
0.21.0-2 = v1beta2 based patch 2

[2019-07-18 14:32] detiber commented on #1102
@timothysc with that approach how would we encode a breaking/manual change for a provider for the same version of capi?

[2019-07-18 14:36] timothysc commented on #1102
IMO that should be in release notes, not necessarily encoded in version.
But we should generally avoid that in a world where we churn releases more frequently and enforce semantics on what is allowed in patched versions.  We're kind of breaking upstream policy today.

[2019-07-18 15:12] vincepri opened #1172 "Add verify script to check generated files are up to date"
/kind feature

**Describe the solution you'd like**
To avoid missing generating files during a PR, we should check if the files generated during the `make generate` target are in sync. We can add a new script to the `make verify` target, which CI runs on every PR.

[2019-07-18 15:15] detiber commented on #1172
/help
/priority important-soon
/milestone v1alpha2

[2019-07-18 15:16] detiber commented on #1172
Tangentially, the gazelle generation should also be validated

[2019-07-18 20:14] ncdc commented on #1102
@timothysc are you thinking that it's invalid for a provider to make a breaking change that is independent of cluster-api?

[2019-07-18 20:16] vincepri commented on #1102
I wouldn't mind the proposed approach to gain consistency in the ecosystem. I do see Jason's point about breaking changes.

If we go with this approach, we have to allow for providers to introduce changes between patch versions.

[2019-07-18 20:18] ncdc commented on #1102
Let's use a specific example. Let's pretend we've all agreed on a versioning scheme and we're cluster-api + the providers are aligned. In CAPA, we realized that our AWS resource tagging scheme had some issues, and we needed to revise it. There are no cluster-api changes required, but the CAPA changes are breaking changes (existing clusters/machines won't necessarily function properly unless they'r

[2019-07-18 21:02] davidewatson commented on #1119
I have enabled per branch netlify [deployments](https://www.netlify.com/docs/continuous-deployment/#branches-deploys) and am using https://github.com/kubernetes-sigs/cluster-api/pull/1156 to test.

[2019-07-18 21:06] davidewatson commented on #1122
Talked to @detiber, et al today and we agree that we should get off of GitBook. I am fine with most other solutions and also think there might be an advantage to copying `kubebuilder` because doing so simplifies onboarding.

[2019-07-18 21:20] davidewatson commented on #1119
The URL for the `release-0.1` branch should be `https://release-0.1--kubernetes-sigs-cluster-api.netlify.com/`. I think we just need to configure a CNAME and update the `netlify.toml` now. See https://github.com/kubernetes/community/issues/3454#issuecomment-484534141 for the complete instructions.

[2019-07-18 22:47] neolit123 commented on #1102
i proposed this in a CAPI doc at some point:

[code]

- probably the best option in terms of ease of understanding?
- versions can be bumped individually or both at the same time.
- a side effect is that this will treat all releases as pre-releases.

--------

there is also the option to use dual tags in git:

- a CAPA version could be at `v0.3.4`, but this SHA will also be tagged with `CAPI-0.1.7

[2019-07-19 14:08] detiber commented on #1102
@neolit123 One downside to the `vA-I` scheme you propose is that it assumes that a provider is only compatible with a specific patch version of CAPI rather than a specific minor version.

I really think the only way to provide the flexibility that we need is to document and publish compatibility metadata that higher level tools use for orchestrating.

[2019-07-19 14:14] neolit123 commented on #1102
i guess the PATCH from the CAPI can me omitted too.
if the PATCH in CAPI is still included it could mean a sync point - i.e. "latest CAPI version that is supported".

IMHO a compatibility table would be needed in the READMEs regardless.

[2019-07-19 14:18] detiber commented on #1102
The compatibility table should already be listed in the major providers. I'd like to see us add a requirement for machine-readable metadata for v1alpha2 at a specific subdirectory under the github repo that could then be consumed by the cluster-api-operator and other tooling to automatically download and consume providers.

[2019-07-19 14:21] neolit123 commented on #1102
that would definitely be useful.

[2019-07-19 14:27] detiber commented on #1119
I went ahead and created the PR for the DNS subdmain here: https://github.com/kubernetes/k8s.io/pull/318
I'll work on creating a PR to update the Netlify config.

[2019-07-19 14:33] detiber commented on #1119
Netlify config update here: https://github.com/kubernetes-sigs/cluster-api/pull/1176

[2019-07-19 16:56] rudoi commented on #1085
+1 for this.

Assuming this Operator would complete pivoting, it would provide a great way to keep a catalog of created clusters, even when those clusters have pivoted and are managing themselves. I believe there's a small gap today where I have no way to keep track of clusters that have pivoted without keeping all their kubeconfigs somewhere or something of that sort.

[2019-07-19 17:26] vincepri commented on #1036
/close

[2019-07-19 17:26] #1036 closed

[2019-07-19 18:47] vincepri commented on #1040
/lifecycle active

[2019-07-22 13:47] ncdc commented on #833
/reopen

The proposal has merged but we haven't modified the code yet. That's happening in #1177

[2019-07-22 21:00] ashish-amarnath commented on #1172
/assign
/lifecycle active

[2019-07-22 21:40] #1040 closed

[2019-07-23 03:45] davidewatson commented on #1119
For some reason the branch name `release-0.1` is causing problems. I think it's the dot and the [DNS haiku](https://www.cyberciti.biz/humour/a-haiku-about-dns/) is right. Either way, here's where we are:

- Netlify [deployment contexts](https://www.netlify.com/docs/continuous-deployment/#deploy-contexts) are configured for branches named: `release-0.1`, `release-01`, and `v1alpha1`.

<img width="9

[2019-07-23 04:11] davidewatson commented on #1119
Maybe the right thing to do is just enable all branches...

[2019-07-23 05:28] vincepri commented on #1119
What about naming the subdomain v1alpha1 instead of v0-1?

[2019-07-23 15:25] detiber commented on #1119
@vincepri The issue is less about the subdomain used for the redirects and CNAME entries, and more about the name of the underlying branch name (that is the target of the redirects).

[2019-07-23 15:27] detiber commented on #1119
I'm not sure how the k8s docs are handling the redirects, I'm not seeing anything related to it in the release-1.15 branch netlify config for example: https://github.com/kubernetes/website/blob/release-1.15/netlify.toml

[2019-07-23 15:34] vincepri commented on #1075
/lifecycle active

[2019-07-23 15:35] detiber commented on #1119
It looks like some of it is abstracted away in the hugo config: https://github.com/kubernetes/website/blob/release-1.15/config.toml

[2019-07-23 15:37] vincepri commented on #1073
/reopen

[2019-07-23 15:39] timothysc commented on #1073
the blessed namespace is `x-k8s.io`
Documentation has been updated and guidelines are also coming from sig-arch
https://github.com/kubernetes/community/blob/master/sig-architecture/api-review-process.md

[2019-07-23 15:48] detiber commented on #1119
Aha, I think I cracked the code, it looks like Netlify might just replace `.` with `-`: https://release-0-1--kubernetes-sigs-cluster-api.netlify.com/

[2019-07-23 16:12] #1073 closed

[2019-07-23 17:06] timothysc commented on #1102
I still stick by my previous statement that such a change is listed in the release notes as a breaking change, and don't try to encode it in version information b/c I've rarely seen that schema work properly.  K8's doesn't follow that convention anyway and uses release notes to denote action required.

[2019-07-23 17:08] ncdc commented on #1102
The "problem" is that Kubernetes doesn't follow semver as it should re breaking changes only being allowed in new major versions.

[2019-07-23 17:39] timothysc commented on #1102
I'm still sticking with my assertions:

1 - Release CAPI more frequently
2 - Apply strict policy on what we can be backported
3 - Get religious about release notes and auto-generate those release notes to denote breaking changes.

If you do that, you sufficiently mitigate most of the risk for consumers who are downstream.

[2019-07-23 18:24] vincepri opened #1187 "Update clusterctl for v1alpha2"
/kind feature

**Describe the solution you'd like**
The `clusterctl` codebase doesn't work when pivoting v1alpha2 clusters. We'd have to apply some changes to allow for secrets, bootstrap and infrastructure resources to be pivoted as well.

[2019-07-23 18:40] vielmetti commented on #431
https://github.com/packethost/cluster-api-provider-packet

PR for main docs to follow.

[2019-07-23 19:38] ncdc opened #1188 "Make cluster.status.phase and machine.status.phase non-pointers"
/kind feature

**Describe the solution you'd like**
Unless we have a need to be able to distinguish between `nil` and `""` (the empty string), let's change `cluster.status.phase` (coming in #1177) and `machine.status.phase` from `*string` to `string`.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

/area api
/milestone v1alpha2
/priorit

[2019-07-23 20:10] davidewatson commented on #1119
🙃okay! So we can keep the branch names... Do we want to deploy all branches? I think so...

[2019-07-23 20:17] detiber commented on #1119
+1 to all branches

[2019-07-24 14:23] vielmetti commented on #431
The relevant PR for docs is https://github.com/kubernetes-sigs/cluster-api/pull/1189

[2019-07-24 14:27] ncdc opened #1190 "[0.1] MachineDeployments, MachineSets, and Machines should always have a Cluster owner reference if a Cluster exists"
/kind bug

**What steps did you take and what happened:**
- Create a Cluster
- Create a MachineDeployment, MachineSet, or Machine and manually specify an ownerReference to some arbitrary resource that is not a Cluster
- The created resource does not end up with an ownerReference pointing at the Cluster

**What did you expect to happen:**
- There should be an ownerReference pointing at the Cluster

[2019-07-24 14:30] liztio commented on #1190
/cc

[2019-07-24 14:36] detiber commented on #1190
+1 to always ensuring a reference to a Cluster. However do we expect that reference to always be a direct reference, or should we also allow indirect references?

For example, do we expect all Machines to have a Cluster reference, or only Machines that do not belong to a MachineSet? Similar for MachineSets, do we expect all MachineSets to have a Cluster reference or only MachineSets that do not be

[2019-07-24 14:38] liztio commented on #1190
I think we should replace "check length of list" with "check if list currently references a machineset or machinedeployment." We want to keep the tree hierarchy

[2019-07-24 14:42] vincepri commented on #1190
+1 to this, the behavior described is what happens today in v1alpha2. The util functions to work with ownerRefs could be backported for simplicity.

[2019-07-24 14:49] ncdc commented on #1190
The deletion logic coming in #1180 will delete MachineDeployments, then MachineSets, then Machines as part of the cluster deletion/finalizer logic. I think we'd be fine either with direct or indirect references.

[2019-07-24 17:17] calebamiles commented on #970
/unassign

[2019-07-24 17:57] ncdc opened #1191 "Switch from squashed merges to merge commits"
/kind feature

**Describe the solution you'd like**
We currently use GitHub's squash merge feature, which combines all commits in a pull request into a single commit. This has one major downside in that it can result in the author/attribution of a git commit changing. It looks like GitHub changes the author to whatever you have listed as your primary email address in your GitHub settings, which ma

[2019-07-24 18:56] liztio commented on #1190
/assign

[2019-07-24 18:57] ncdc commented on #985
I think #1180 is sufficient to close this, and #1190 will make it stronger.
/close

[2019-07-24 18:57] #985 closed

[2019-07-24 19:49] dlipovetsky commented on #707
The kubeadm bootstrap provider (https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/) is using the kuebadm v1beta2 types, so it should be free from this problem.

Other bootstrap providers will need to be aware of this issue. Something to keep in mind for the future set of CAPI conformance tests.

Time to close this issue?

[2019-07-24 20:10] detiber commented on #707
+1 to closing

[2019-07-24 20:55] detiber commented on #1070
Request for promotion for an initial image for this is here: https://github.com/kubernetes/k8s.io/pull/322

[2019-07-24 21:25] #1070 closed

[2019-07-25 10:04] prankul88 opened #1196 "Improvement in hack files"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I was going through the hack files in the repo. I encountered 2 problems./
1. In pin-dependency.sh script there is `source "${KUBE_ROOT}/hack/lib/init.sh"` whereas there is no such folder. Thus it fails.
2. update-bazel.sh script doesnot run from the hack directory which I dont find idea

[2019-07-25 14:23] detiber opened #1197 "Separate client vs provider APIEndpoints fields"
/kind feature

**Describe the solution you'd like**
Currently both external consumers of Cluster API and internal providers can use the existing APIEndpoints field in different ways. I'd like to propose that we separate these uses into at least two separate fields, so that each field has a single purpose and the semantics of how and when to consume the fields are well known.

External consumers ar

[2019-07-25 14:23] detiber commented on #1197
/cc @ncdc @moshloop @akutz

[2019-07-25 14:25] detiber commented on #1197
I'd also like to target this change for v1alpha2
/assign @vincepri

[2019-07-25 14:27] detiber commented on #1197
/cc @davidewatson @dlipovetsky

[2019-07-25 14:51] moshloop commented on #1197
Yes, they SHOULD, not MUST - We still need to cater for scenarios where it is not possible

With a client-side load balancer it is always `localhost`

If the APIEndpoints respect "cordoned" masters, then this shouldn't be an issue - When using a single endpoint, if that endpoint fails, or is upgraded then clients are left unable to connect at all

[2019-07-25 14:57] akutz commented on #1197
Without HA and a LB you can’t support this. At best you can only provide a deterministic means if selecting a control plane node, which CAPV selects as the oldest member of the control plane.

It doesn’t matter what MUST occur, but rather what the cluster and its operators design. If they design a cluster with no external HA and multiple control plane nodes, then it’s possible those nodes don’t st

[2019-07-25 15:02] moshloop commented on #1197
Which part are you referring to that can't be supported?

How do you plan on designing this on-premise (without an ELB on VMC)  Most CAPV users will be on-premise, where a client-side load balancer makes the most sense.

[2019-07-25 15:20] detiber commented on #1197
@moshloop you keep mentioning a client-side load balancer. How would that work with external clients and integrations (such as Jenkins, etc)?

[2019-07-25 15:27] vincepri commented on #1196
+1 on fixing the first problem you mentioned. I'm not sure what is the issue with `update-bazel.sh`, the `Makefile` runs it as part of generating bazel files.

[2019-07-25 15:56] vincepri opened #1198 "Remove pivoting logic from clusterctl"
/kind feature

**Describe the solution you'd like**
This is a counter-proposal to #1187. For v1alpha2 we can remove all the pivoting logic and only support management clusters. If this issue is accepted, the CLI becomes a toolkit of alpha phases to create and delete clusters without higher level abstraction

[2019-07-25 16:05] moshloop commented on #1197
DNS round-robin would be suitable for most external clients. If APIEndpoints are the source of truth, then different out of band controllers (client-side, dns, F5, etc..) can be created that work across CAPI providers.

A client-side load balancer could also be used for bootstrapping, and then pivot to a real load balancer once the load balancer is healthy via removal of a `iptables` rule or `/etc

[2019-07-25 17:03] #833 closed

[2019-07-25 19:13] moshloop commented on #1198
Is a pivot not conceptually the same as a backup and restore?

I am in favour of removing both pivot and bootstrapping so the existing pivot workflow would be transformed to:

1) Create kind/minukube/management cluster (out of band)
2) `clusterctl create cluster`
3) Backup and restore CAP* objects to target cluster (out of band)

[2019-07-25 19:15] vincepri commented on #1196
/help

[2019-07-25 19:15] vincepri commented on #1196
/priority important-longterm

[2019-07-25 19:15] vincepri commented on #1198
/area clusterctl

[2019-07-25 19:16] vincepri commented on #1197
/area api
/priority important-soon
/milestone v1alpha2

[2019-07-25 19:57] detiber commented on #1198
@moshloop pivot is indeed basically a backup/restore, but that backup/restore needs to be done in a certain order (and ensuring that only a single set of controllers is operating for a given set of objects) to ensure a successful migration.

[2019-07-25 20:15] dlipovetsky commented on #985
@ncdc If I'm reading #1180 correctly, it implements controller-side cascading delete. Would we use server-side cascading delete if we didn't have the strategy issue? If so, LMK if it's worth filing an issue to revisit this in the future and reach out to sig-apimachinery in the meantime.

[2019-07-25 20:30] ncdc commented on #985
@dlipovetsky yes, it does implement server-side cascading delete. I assume we would revert this if we didn't have the strategy issue. I'm not sure about an issue - we need correct behavior, 100% of the time, and we can't rely on users (or tooling) correctly setting foreground deletion. Do you think there's an alternative approach?

[2019-07-25 21:54] sethp-nr commented on #1198
We're pretty active users of the pivot functionality, and so if it were removed from `clusterctl` that would at least delay our adoption of the v1alpha2 components.

We really like the conceptual fit for our users (use `kubectl` to scale your cluster!) and the failure isolation it provides (if you scale all the machine deployments to zero, only your cluster will be affected!). We'd need to take so

[2019-07-25 21:58] sethp-nr commented on #1187
Is it fair to say that the work here would be roughly to enumerate the new resources that need to move: the appropriate secrets, and whatever object types are under the `bootstrap.cluster.x-k8s.io` and `infrastructure.cluster.x-k8s.io` groups?

The tricky bit being that `clusterctl` doesn't know about the exact latter types in advance, so it would need to use the unstructured client to dynamically

[2019-07-25 22:41] dlipovetsky commented on #1065
I don't see a need for clusterctl. I've been using CAPA entirely without clusterctl. I create a management cluster with kind (one command) and then use kubectl to deploy the CAPI/CAPA bits, and the workload cluster(s).

I do use a CAPA-maintained helper shell script to generate the manifests, though. With the infra/bootstrap provider split, I can see each infra and bootstrap provider shipping its

[2019-07-26 04:46] prankul88 commented on #1196
@vincepri In second problem I feel we should able to run update-bazel file manually too which it fails. Thoughts?

[2019-07-26 14:48] detiber commented on #1187
@sethp-nr for the `pivot` functionality, I believe that is a correct description of the problem.

However, to support `clusterctl create cluster` there is additional work that would be needed to accept the new provider-defined types as well as how to handle separate provider components from cluster-api and providers.

[2019-07-26 18:16] ncdc opened #1199 "Record events when Machine bootstrap and infra references are deleted"
/kind feature

**Describe the solution you'd like**
As part of Machine deletion, we should record events when the associated bootstrap and infra resources are completely deleted.

**Anything else you would like to add:**
We may need to add a CAPI finalizer to each bootstrap and infra resource so we can guarantee we see the deletions.

/priority important-soon
/area machine
/milestone v1alpha2

[2019-07-26 22:13] CecileRobertMichon opened #1201 "VMs sizes that don't support accelerated networking cause cluster create to fail"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Create a cluster following quickstart but use a VM size that doesn't support accelerated networking such as `Standard_D2_v3`.

Create fails with:
[code]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
https://docs.microsoft.com

[2019-07-26 22:14] #1201 closed

[2019-07-29 13:22] chuckha opened #1203 "Remove raw `klog` calls in controllers"
/kind feature

**Describe the solution you'd like**
A reconciler should own its own logger and not depend on global functions to log. This will allow us to print log lines more consistently at the expensive of one extra parameter somewhere.

The logging should be pluggable. If I decide to write my own main.go and import the machine and controller managers I should be able to use whatever logger I

[2019-07-29 13:56] vincepri commented on #1203
Awesome @chuckha! This is a really needed improvement. I was hoping we could tackle some parts of this PR with #1075 at some point in the future.

+1 starting to have the reconcilers own their own loggers.

[2019-07-29 14:23] detiber commented on #1119
Created PRs to fix the netlify URL: https://github.com/kubernetes-sigs/cluster-api/pull/1204 and https://github.com/kubernetes/k8s.io/pull/323

@davidewatson With that I believe we can delete the Netlify configurations for `release-01` and `v1alpha1` and also delete the `release-01` branch.

[2019-07-29 14:34] ncdc opened #1205 "Decide on & document how infrastructure providers should (or must) handle permanently failed servers/VMs"
/kind feature

**Describe the solution you'd like**
Let's say I have a Machine, and my infrastructure provider created a server/VM. Everything is working fine, and then, for whatever reason, the server/VM gets in a bad state. Let's imagine someone/something external to Cluster API manually deleted it. I'd like for us to decide on and document how an infrastructure provider should (or must) address

[2019-07-29 14:37] ncdc commented on #1205
I think something else that is related to this is what the expected behavior of the MachineSet controller should be if it encounters a Machine that has its ErrorReason/ErrorMessage set. I'd like us to consider having the MachineSet controller delete Machines in this state, so replacement replicas can be created.

[2019-07-29 14:38] detiber commented on #1205
Based on discussions that were held during the Node Lifecycle Workstream, the general consensus was to *not* recreate missing Machine instances.

/assign @timothysc

[2019-07-29 14:39] ncdc commented on #1205
That's what I recall, although I have had difficulty locating any docs on this. Hence the issue.

[2019-07-29 14:40] akutz commented on #1205
Hi @ncdc,

This sums up our discussion quite well, thank you. The CAPV issue to which you referred is https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/409.

We also discussed adding entropy to VM/guest names in the form of a UUID-based suffix (something like the first seven characters from a UUID) so that a CAPV machine might still recreate a missing VM, but ensure that VMs/g

[2019-07-29 14:41] akutz commented on #1205
FWIW, I do feel that **not** recreating backend VMs/instances is anti-pattern to Kubernetes, and I completely understand why a user would reasonably expect a CAPI provider to ensure that a backend instance/VM is recreated if missing.

[2019-07-29 14:42] detiber commented on #1205
@akutz UUID of a Machine (or a provider CRD object) cannot be relied on, since it will change if the cluster-api components are pivoted or restored from backup.

[2019-07-29 14:44] akutz commented on #1205
Hi @detiber,

Which is why CAPV updates a Machine spec to include the VM's own instance UUID.

[2019-07-29 14:48] detiber commented on #1205
I'm having trouble finding the notes/discussions, but iirc the rationale was that since a Machine is an abstraction over a Kubernetes Node, if we destroy/recreate a Machine as part of recovery of errors, then we will generally get a completely different Node object rather than the same Node that previously existed.

[2019-07-29 14:49] ncdc commented on #1205
do you mean server/VM/instance?

[2019-07-29 14:49] detiber commented on #1205
@ncdc yes, that is indeed what I meant.

[2019-07-29 14:50] akutz commented on #1205
Which is why I made this remark to Andy on Slack:

I consider the CAPI `Machine` to almost be the contract for the node. What satisfies that contract is unimportant as long as you can find the thing (the node) that satisfies the Machine contract.

[2019-07-29 14:51] ncdc commented on #1205
@detiber ok, that's not necessarily the case - it depends on the provider. CAPV is able to create a replacement VM that will reassociate with the original Node (and potentially be an issue if the provider id is outdated).

[2019-07-29 16:19] timothysc opened #1206 "RFE : Cluster Pivot parameter"
**Describe the solution you'd like**
As a Kubernetes operator I would like to declaratively state whether or not the management resources should be pivoted to the target cluster from within the cluster spec, e.g.

[code]

Currently today this operation resides within clusterctl and I think this is a layer violation because it should be a declared state of the cluster.

The purpose of this issue is

[2019-07-29 16:24] rudoi commented on #1206
/cc @sethp-nr

[2019-07-29 16:48] detiber commented on #1206
One concern that I have with this is that we would need to have a way to ensure that a managment cluster administrator could disable the ability for users to set/override this value.

[2019-07-29 17:29] timothysc commented on #1206
Isn't that just an admission control webhook that admins control?

[2019-07-29 17:32] detiber commented on #1206
@timothysc indeed, but we would need a story and documentation around it.

[2019-07-29 17:45] detiber commented on #1206
If the cluster-api controllers are in charge of handling the pivoting of resources, then we need to assume that the controllers have knowledge of `clusteradm` and the `clusteradm-operator`.

If there are multiple providers deployed in the original management cluster, then how would the controller know which of the deployed providers need to be deployed on the pivoted cluster?

Do we just assume in

[2019-07-29 17:58] detiber commented on #1119
@davidewatson I believe the [Assigning a custom domain steps](https://www.netlify.com/docs/custom-domains/#assigning-a-custom-domain) need to be performed within the Netlify config, and may require some additional trickery as described here: https://community.netlify.com/t/common-issue-how-to-use-netlify-s-branch-deploy-feature-without-netlify-dns/128

[2019-07-29 18:06] timothysc commented on #1206
I'm wondering what the boundary lines really need to be?

Can we/should we abstract away provider details.

[2019-07-29 19:21] timothysc commented on #1206
By name + label , and it would have to be running with the local kubeconfig available.  Once the kubeconfig is available it should be able todo a label query and xfer those resources.

Still needs more thought, but I totally think this is possible.

[2019-07-29 19:56] davidewatson commented on #1119
Thanks Jason, I’ll take a look tonight.

[2019-07-29 22:46] dlipovetsky commented on #1205
I do not recognize an anti-pattern. I find that an immutable Machine object is useful, and even necessary for some semantics.

If a VM/instance is missing, then the controller will act according to the semantics it provides. For example, the MachineSet controller can create a new Machine, then delete the Machine with the missing VM/instance. If the Machine is not owned by a controller, then a user

[2019-07-29 22:51] dlipovetsky commented on #1205
This is also related to in-place vs. re-place upgrades.

/cc @neolit123

[2019-07-30 00:22] akutz commented on #1205
Hi @dlipovetsky,

I'm not entirely sure I understand how recreating a VM/instance for a Machine makes a Machine mutable. The Machine is an immutable spec that guarantees the existence of a back-end instance/VM.

If a Machine is not a contract that guarantees the existence of the back-end instance/VM, then why is a Machine even represented as a resource? The Machine is the intended/desired state th

[2019-07-30 08:59] eromanova opened #1208 "[clusterctl] Do not fail ensureNamespace if user does not have permissions to create ns"
Currently in case of users (without permissions to create namespaces) try to create clusters in existing namespace, ensureNamespace function fails due to missing permissions. That's because ensureNamespace tries to create namespace first and only then checks an error. I suppose, there should be another logic: first check if namespace exists and only if not - try to create namespace.

[2019-07-30 11:54] protess commented on #1203
Greetings @chuckha @vincepri , I am new to cluster-api group and as this issue is labeled 'good first issue' I'd love to contribute if this hasn't been assigned to anyone yet.
Thanks!

[2019-07-30 13:27] chuckha commented on #1203
@protess that would be great! I can't assign the issue to you, but i'll assign it to me as a proxy for you. I'm happy to help offer guidance if you need any, but otherwise, tag me in the PR!

/assign
/lifecycle active

[2019-07-30 14:19] ncdc commented on #1205
Another data point to bring up: a Pod has a restart policy that applies to all of its containers. Valid values are Always, OnFailure, and Never. If a container terminates, it may be restarted, depending on the policy.

Maybe we need a similar restart (recreate) policy for Machines?

[2019-07-30 14:22] detiber commented on #1205
Unlike Pods we have multiple backing implementations, can we ensure that such policies can be handled and enforced across all the different backing implementations? How to handle cases where they can't be for a particular provider?

[2019-07-30 14:30] ncdc commented on #1205
Good point. You could potentially have an infra provider install a validating webhook that validates a machine if its infraRef is for that provider, and it could reject unsupported policies.

[2019-07-30 14:36] detiber commented on #1205
Having different providers supporting and rejecting different sets of policies seems like it could lead to end-user confusion and frustration.

[2019-07-30 14:51] ncdc commented on #1205
What about a retention policy with options being retain or delete. If the server is in error (missing or some actual error):
- retain = don't do anything
- delete = delete the server (if it exists)

Then to handle the need to recreate, if the Machine belongs to a MachineSet, the MachineSet logic could identify the unhealthy Machine, delete it, and create a replacement.

[2019-07-30 18:32] dlipovetsky commented on #1205
I agree with you. Having read @detiber's, @ncdc's, and your comments, I see I did not understand the problem with enough nuance.

I now think the problem is _not_ replacing the back-end instance/VM, but rather in the difference in network identity and on-disk state (among other things) between the original back-end instance/VM and its replacement.

For convenience, let me refer to the two back-end

[2019-07-30 18:56] andrewsykim commented on #1205
+1 to a machine lifecycle policy, I think VM lifecycle has deviated too much from various cloud providers to find policy that will fit all the use-cases. The AWS EC2 vs vSphere VM case is drastically different enough already.

Adding to Andy's list of `Retain` and `Delete`, some other possible policies off the top of my head:
- `ReconcileOnDelete` - only reconcile if an instance is deleted outside

[2019-07-30 19:04] michaelgugino commented on #1205
Chiming in here.

In OpenShift, we decided it doesn't make sense to recreate a missing VM, or a VM that is otherwise unhealthy.  In v1alpha1, originally even if the VM was stopped, AWS provider would create a new instance (and delete the other instance based on whether or not it's a master).

For cluster-api, I would like to get to the place where a machine-object only results in a single instance

[2019-07-30 19:09] michaelgugino commented on #1205
Also, recreating the backing-instances messes up our bootstrap flow.  Fact of the matter is, there's other components that do things when a machine is created, and trying to signal to a bunch of loosely coupled components that 'hey this machine is actually different now' is quite problematic.

[2019-07-30 19:12] ncdc opened #1210 "Port #1207 to master"
/kind feature

**Describe the solution you'd like**
Once #1207 merges to release-0.1, we'll need to forward-port it to master.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-07-30 19:14] ncdc commented on #1210
FYI @liztio if you're interested in doing the port.

[2019-07-31 08:07] girikuncoro commented on #1141
@vincepri I can pick this up if you help me with pointers/guidance on how to start

/assign

[2019-07-31 11:03] enxebre commented on #1205
Generally I think we should strive to provide the most similar cluster-api experience across all different providers. This makes behaviour predictable across any cloud providing better UX for cluster-api. Also this makes easy building farther common abstractions and upper level tooling on top of cluster-api core primitives yielding added value for the end consumers and favouring the community clus

[2019-07-31 19:43] ashish-amarnath commented on #1172
/unassign
/remove lifecycle

[2019-07-31 19:43] ashish-amarnath commented on #1172
/remove-lifecycle

[2019-07-31 19:51] ashish-amarnath commented on #1172
/remove-lifecycle-active

[2019-07-31 19:51] ashish-amarnath commented on #1172
/remove-lifecycle active

[2019-07-31 22:03] ncdc commented on #1210
/assign
/lifecycle active

[2019-08-01 14:23] chuckha opened #1218 "Cannot delete a machine if there is no cluster"
/kind bug

**What steps did you take and what happened:**
I created a cluster and then a machine and deleted them both. The cluster was deleted and then the machine was unable to delete because it couldn't find the cluster:

[code]

**What did you expect to happen:**
I expect the machine to be deleted.

[2019-08-01 14:24] ncdc commented on #1218
/assign
/lifecycle active

[2019-08-01 14:27] ncdc commented on #1218
I'm going to port https://github.com/kubernetes-sigs/cluster-api/pull/1180 to master to fix this

[2019-08-01 14:42] #1210 closed

[2019-08-01 18:12] chuckha opened #1219 "bootstrap.Data == "" should be valid"
/kind bug

**What steps did you take and what happened:**
I expected setting my bootstrap data = "" would be a valid scenario saying basically "there is nothing to do for bootstrapping, or i'm taking care of it elsewhere" but this line of code seems to indicate that bootstrap data is *required*

https://github.com/kubernetes-sigs/cluster-api/blob/master/pkg/controller/machine/machine_controller_ph

[2019-08-01 18:14] chuckha commented on #1219
also indicated in the proposal that `""` is perfectly valid bootstrap data

https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/20190610-machine-states-preboot-bootstrapping.md#expectations

[2019-08-01 18:16] chuckha commented on #1219
/assign
/lifecycle active

[2019-08-01 18:16] chuckha commented on #1219
/milestone v1alpha2

[2019-08-01 18:54] ericzhang08 commented on #1199
/assign

[2019-08-01 19:30] chuckha commented on #1219
not true! please see #1220 for details

/close

[2019-08-01 19:30] #1219 closed

[2019-08-01 21:44] chuckha opened #1221 "Addresses cannot be empty but are marked optional in the spec"
/kind bug

**What steps did you take and what happened:**
Addresses on infra machines should be allowed to be empty as not all providers need them or will use them.

**What did you expect to happen:**
I expected not having an "addresses" field to be acceptable.

/lifecycle active
/assign

[2019-08-01 21:46] chuckha commented on #1221
this is missing a check for ErrNotFound

https://github.com/kubernetes-sigs/cluster-api/blob/master/pkg/controller/machine/machine_controller_phases.go#L251

[2019-08-02 06:44] vincepri commented on #1221
IIRC the check fails on nil slices but not on zero-length ones, you should be able to marshal an empty slice and it should decode it without errors.

[2019-08-02 13:19] #1218 closed

[2019-08-02 13:43] #1221 closed

[2019-08-02 14:09] chuckha commented on #1221
That would still require my provider that doesn't need or use an optional field to specify the field in the CRD

[2019-08-02 14:40] ncdc commented on #1191
Seeing no objections, I'm going to open a PR to make this change.

[2019-08-02 14:41] timothysc commented on #1187
We need todo a gap analysis and estimate resources on the work between this and https://docs.google.com/document/d/1ox_2dVzxJtWy_zv1SID0bGIes-hQyOVlAIC5ARcVdak/edit

/assign @ncdc

[2019-08-02 14:42] ncdc commented on #1187
The first gap analysis meeting is today at 1pm EDT.

[2019-08-02 14:45] ncdc commented on #1191
PR to use merge commits for CAPI and CAPA: https://github.com/kubernetes/test-infra/pull/13742

[2019-08-02 16:40] ncdc commented on #1187
Google doc for it: https://docs.google.com/document/d/1YWO6nyLToSn7vuwLfbMpvXKU7IVO8FhFApRZIdFShH0/edit#

[2019-08-02 16:41] ncdc commented on #1198
Google doc for a gap analysis: https://docs.google.com/document/d/1YWO6nyLToSn7vuwLfbMpvXKU7IVO8FhFApRZIdFShH0/edit#

[2019-08-02 18:20] chuckha opened #1578 "[cabpk] Error logging strategy"
/kind feature

**Describe the solution you'd like**
How should we make this application debuggable? The reconcile function returns an error, it should probably have a stacktrace associated with it, but should we simply print it? Structured logging will print it for us but the usability is pretty bad since it gets escaped it's really hard to read.

A suggested strategy might be to log the stack tra

[2019-08-02 19:17] ncdc commented on #1187
Meeting summary: we think we might have a simplified plan for pivot for v1alpha2. @rudoi / New Relic are going to do an analysis + initial design based on today's call.

[2019-08-02 19:49] #1191 closed

[2019-08-05 17:25] ncdc opened #1227 "Easier, simplified UX for cluster and machine creation"
/kind feature

**Describe the solution you'd like**
In v1alpha1, you typically have to create two resources to have a minimally functional Kubernetes cluster: a `Cluster` and a `Machine`. Anything that is provider-specific, from kubeadm configuration to infrastructure details such as instance type are stored in `providerSpec` in each resource.

In v1alpha2, now that `providerSpec` has moved to a s

[2019-08-05 18:04] sethp-nr commented on #1227
This is really interesting! I really like where you're going with this as a concept. Beyond what seems to me as providing a good experience, it would make (more) possible an idea that I've been not-so-seriously kicking around: having a control plane from one provider (say, a dynamically size-able cloud) manage nodes from a different one (say, expensive bare metal).

One detail I'm wondering about

[2019-08-05 18:16] ncdc commented on #1227
Ideally, each provider that wants to support this would expose an absolute minimum number of annotations. Anything beyond a strict minimum must force the user to create their own resources (AWSMachine, etc).

I feel like this is `AWSCluster` and `AWSMachine`, which we already have, and which are the full-feature CRDs you'd fill out. Right?

[2019-08-05 18:52] moshloop commented on #1227
I really like the goal, of a better simplified UX

This seems like a lot of boilerplate already, if our goal is to reduce boilerplate.

Perhaps it makes more sense to have these as first-class fields on a new Cluster API Operator.

[code]

Region I think can be handled in a similar way to the proposed [service topologies](https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/0033

[2019-08-05 19:08] ncdc commented on #1227
@moshloop this issue isn't about having an operator install specific versions of specific providers (which is a fantastic, separate idea - see https://docs.google.com/document/d/1ox_2dVzxJtWy_zv1SID0bGIes-hQyOVlAIC5ARcVdak/edit if you haven't already). It's about making it easier to get up and running by omitting the need to create the 3 extra resources and replacing them with a small set of annot

[2019-08-05 19:25] moshloop commented on #1227
`clusteradm` could start out by providing just this UX before growing into a full-blown provider lifecycle manager or this could be implemented in a standalone _defaulting_ controller

The problem I see is that this completely breaks the lifecycle phases that you so carefully put together - this will make it harder to reason about the system as a whole.

/assign @timothysc

[2019-08-05 19:26] ncdc commented on #1227
This is essentially what I'm proposing.

How - could you please explain?

[2019-08-05 19:34] ncdc commented on #1190
This was fixed in #1207
/close

[2019-08-05 19:34] #1190 closed

[2019-08-05 19:34] moshloop commented on #1227
I think this is where we diverge:

Adding this logic into CAPA/CAPV/CAPKB/etc adds many new conditions,  branches and watches to the existing state diagram.

On the other hand adding this logic into a new or standalone controller leaves the existing state diagram unchanged and adds a new defaulting diagram that is easy to reason about (Watch `Machine` and create `AWSMachine` ), and therefore easy

[2019-08-05 19:39] ncdc commented on #1227
I'm not sure I see this adding as much complexity as you're suggesting.

If we add a standalone controller to CAPI, it then has to know about all the different providers and their data types. I'd rather have the logic live in each provider.

[2019-08-05 19:44] ncdc commented on #276
Do we want to keep this open and close it when v1alpha2 is released? Or should we close it now, knowing it'll be part of CABPK?

[2019-08-05 19:45] detiber commented on #276
I think it should be safe to close it now.

[2019-08-05 19:48] moshloop commented on #1227
This might not be complex to create, But from readability, e2e testing and reasoning perspective, it adds complexity.

Isn't that an eventuality/requirement for `clusteradm` ?

[2019-08-05 19:49] ncdc commented on #1227
Yes, and I'll admit I haven't been thinking of this as a `clusteradm` feature.

[2019-08-05 19:50] detiber commented on #1227
@moshloop I hope not, otherwise we remove support for custom providers that `clusteradm` does not know about and we are back in a situation similar to v1alpha1 where users would have to custom build their own `clusteradm` for non-blessed providers.

[2019-08-05 19:51] ncdc commented on #276
/close

[2019-08-05 19:51] #276 closed

[2019-08-05 19:58] moshloop commented on #1227
I think `clusteradm init --infra=aws,vsphere --bootstrap=kubeadm` would require knowing about these providers?  non-blessed providers could implement a provider plugin similar to how packer does it today for custom provisioners/builders

[2019-08-05 20:06] ericzhang08 commented on #1199
Hi @ncdc . I have read the code about Machine Deletion.
I want to confirm if my understanding is correct.

Do you mean we should add Finalizers for  Bootstrap and InfrastructureRef when Finalizers not exist,  and Delete them  when isDeleteReady function  is true.
[code]

[2019-08-05 20:24] ncdc commented on #1199
Thinking about this some more, I'm not sure if we need this, or should do this. I was originally thinking it would be nice to have a record of the infra/bootstrap resources being deleted, but I'm no longer sure it makes sense for these to be events. What matters is whether these resources still exist, or not, and the easiest way to check for that is to issue `get` requests and see if they come bac

[2019-08-05 20:34] ericzhang08 commented on #1199
Ok,I will find other issues to contribute.

[2019-08-05 20:45] timothysc commented on #1227
Let's table some of this for conversing high bandwidth on Wed.   I generally like the core idea, but a question I would have is: "Shouldn't we be able to cache the defaults, and not even have to specify, e.g. added on admission?"

[2019-08-06 07:56] detiber commented on #1227
@ncdc I've been thinking a bit more on this. I'm not sure I'm a fan of encouraging users to set annotations for this type of behavior as it essentially creates an unversioned shadow API that exists parallel to the defined and versioned API.

I think it's one thing for leveraging annotations for tracking internal state, since we do not expose that directly to the user.

For defaulting based on whic

[2019-08-06 13:06] chuckha opened #1229 "GetOwnerCluster should lookup using ref name not metadata name"
/kind bug

**What steps did you take and what happened:**
The function `util.GetOwnerCluster` should lookup the owning cluster by name not by metadata name.

/lifecycle active
/priority important-soon

[2019-08-06 13:29] ncdc commented on #1227
@detiber I like your suggestions better than mine - thanks!

[2019-08-06 14:39] ncdc commented on #1199
/close

[2019-08-06 14:39] #1199 closed

[2019-08-07 13:42] vincepri commented on #1227
Could we leverage the template resources in the example that @detiber suggested to let users to specify the default configurations?

[2019-08-07 15:01] ncdc commented on #1227
SGTM

[2019-08-07 17:39] dlipovetsky commented on #1227
I think we all agree that we want to improve the user experience by reducing the boilerplate that the client has to send to the server.

But so far we are discussing reducing this boilerplate server-side. I'd like to hear alternatives.

[2019-08-07 17:39] dlipovetsky commented on #1227
Here's a naive alternative: Reduce boilerplate client-side. Create a shell script, kubectl plugin, or standalone CLI that generates the boilerplate.

Advantages:
- It's easier to iterate on client-side functionality.

Known drawbacks:
- Users must use a special client to reduce boilerplate.

Potential drawbacks (not yet sure if these are true):
- Every infra and bootstrap provider has to provide t

[2019-08-07 17:40] detiber commented on #1227
@dlipovetsky the client-side solution you bring up seems like it falls in line with the clusteradm discussion.

[2019-08-07 17:44] dlipovetsky commented on #1227
@detiber Good point. I assumed clusteradm would not be available in time. I also feel like there's room for experimentation, which I expect would be easier to do with something like a kubectl plugin.

[2019-08-07 18:11] randomvariable commented on #1227
Think some of the confusion around the use cases comes from the word `default`. Makes sense from our perspective of people developing Cluster API, but from an end-user perspective, the question would be '"default" in what sense?'

Is there better terminology?

[2019-08-07 18:22] dlipovetsky commented on #1227
Some providers do not (or cannot) provide sensible defaults. For example, CAPO requires the end user to [manually create some infrastructure](https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/docs/config.md).

As an end-user, how will I discover that settings defaults (using fields or annotations) for these providers will not work?

Reducing boilerplate is important for

[2019-08-07 18:30] #1229 closed

[2019-08-07 18:55] chuckha commented on #1203
@protess Any updates on this? Do you need any assistance from me?

[2019-08-07 19:34] joonas opened #1234 "GetOwnerMachine should lookup using ref name not metadata name"
/kind bug

**What steps did you take and what happened:**
The function `util.GetOwnerMachine` should lookup the owning machine by name not by metadata name.

In addressing #1229, @xrmzju pointed out in [#1230](https://github.com/kubernetes-sigs/cluster-api/pull/1230#issuecomment-519021919) that this function should also be addressed as a follow-up.

/priority important-soon

cc @xrmzju @chuckha

[2019-08-07 19:39] detiber commented on #1234
/milestone v1alpha2

[2019-08-07 19:44] detiber commented on #1234
/assign
/lifecycle active

[2019-08-07 22:31] #1234 closed

[2019-08-08 00:49] protess commented on #1203
@chuckha My apologies, I am a slow starter and I am still reading thru https://cluster-api.sigs.k8s.io/ along with source codes. If not I will prolly ask too many questions in slack channel.  If you don't mind allow me to read it thru few more days and I will ask for assistance.

[2019-08-08 15:11] detiber opened #1237 "Avoid getting MachineSet in MachineSetToDeployments"
/kind bug

**What steps did you take and what happened:**
MachineSetToDeployments does an unnecessary get to retrieve the MachineSet.

**What did you expect to happen:**
MachineSetToDeployments not do the unnecessary get.

[2019-08-08 15:11] detiber commented on #1237
/assign
/lifecycle active

[2019-08-08 15:49] #1237 closed

[2019-08-08 16:03] chuckha commented on #1203
not a problem! don't worry about making noise in the channel or feel free to ping me directly on slack!

[2019-08-08 16:36] zjs opened #1579 "[cabpk] Ability to configure hostname via cloud-config"
/kind feature

**Describe the solution you'd like**
 I would like to be able to define a hostname via cloud-config data.

For example, I may want to use a specific hostname for each of my nodes.

**Anything else you would like to add:**
A golang template for configuring this could look something like:
[code]

[2019-08-09 15:46] vincepri opened #1240 "Remove pkg/client and migrate clusterctl to controller-runtime Manager"
/kind cleanup

**Describe the solution you'd like**
To ease the transition to `Kubebuilder` v2, we should remove the `pkg/client` directory and all client-gen, informer-gen, and lister-gen related tools.

Clusterctl is the only user (within Cluster API repository) that uses clientset to perform its operations. We can leverage `controller-runtime` by creating a new (short-lived) `Manager` instance

[2019-08-12 09:12] embik opened #1242 "Enable optional use of local Kubernetes API connection in NodeRef controller"
/kind feature

**Describe the solution you'd like**
The NodeRef controller [requires](https://cluster-api.sigs.k8s.io/common_code/noderef_controller.html) a `<Cluster Name>-kubeconfig` secret for access to remote Kubernetes clusters. It fails if no kubeconfig secret is available.

As discussed in #cluster-api (Slack), the legacy Node controller did not require that secret, but rather connected via