[2021-04-14 04:08] sbueringer commented on #4463
/cc @fabriziopandini @neolit123

[2021-04-14 07:44] maelk commented on #4472
I think this relates to https://github.com/kubernetes-sigs/cluster-api/issues/4365 . We should be able to go further with the remediation if the machine is not part of the etcd cluster.

[2021-04-14 07:50] maelk commented on #4437
Is this fixed ? should it be closed ?

[2021-04-14 08:55] smcaine commented on #3203
we have similar use case, we are using gitops + capi, to upgrade our clusters, for now we have to create new machinetemplate, update kcp, wait for that to finish delete old template, create new machinetemplate for machinedeployment, wait for rollout, delete old machinetemplate.. an operator or additional feature/resource that could handle this lifecycle as a whole (declaritively) would be ideal fo

[2021-04-14 09:19] fabriziopandini commented on #4463
I'm +1 to do what is possible now in CAPI, and to address the nested registry problem in kubeadm (@neolit123 this could be part of v1beta3 changes)

Also, this is candidate for backport, given that it could affect users on the v0.3.x series
@CecileRobertMichon @vincepri @detiber

[2021-04-14 10:58] fabriziopandini commented on #4463
/assign
/lifecycle active

[2021-04-14 11:08] randomvariable commented on #4472
Logs:

State of vSphereMachines:
[code]

`fvf4s` is the one of interest, stuck in Provisioning. It's inaccessible via VMware vCenter due to a networking glitch that occurred at the moment it turned on. GuestInfo reports no IP addresses, and the machine is sitting at 47Mhz with 200MB memory usage compared to the other CP nodes running at 2.1Ghz.

Describe of kcp:
[code]

Relevant CAPI logs:
[code]

[2021-04-14 11:08] randomvariable commented on #4472
I believe this is CAPI 0.3.12, but will need to check.

[2021-04-14 14:08] enxebre commented on #4457
/assign

[2021-04-14 15:01] fabriziopandini commented on #4457
/lifecycle active

[2021-04-14 15:22] fabriziopandini commented on #4437
/close
This is going in the next v0.3 release

[2021-04-14 15:22] #4437 closed

[2021-04-14 17:53] srm09 commented on #4430
@enxebre

The idea behind `ClusterClass` is to provide a single template for outlining the bits that would be used to create the cluster. And this same template can be used to create multiple clusters with different number of CP and worker nodes.

I quite do not understand this question. I am happy to chat about it more on Slack/here too.

[2021-04-14 18:05] srm09 commented on #4430
@fiunchinho
The idea behind adding a k8s version in the `spec.class` is to provide a knob which will override the k8s version specified on the KCP and the MachineDeployments controlling the worker node pools in the cluster.  For each entry in `spec.class.Managed` (CP and worker nodes alike), `spec.class.version` would drive the k8s version.

[2021-04-14 18:09] rhockenbury opened #4477 "Windows Machine Naming"
**User Story**

The name of the Azure Windows machines is currently derived from the cluster object name (first 10 chars) and the last 5 chars from the Azure machine object name.  https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/azure/scope/machine.go#L280-L291

While this is fine, it would be slightly more functional in my case to have the machine name base (first 10 char

[2021-04-14 18:10] rhockenbury commented on #4477
Oops. Wrong repo.

[2021-04-14 18:10] #4477 closed

[2021-04-14 18:41] kfox1111 commented on #4444
Its the Removals that are at the most issue. Pluto is keeping track of them.

[code]

[2021-04-14 18:51] sbueringer commented on #4462
2 in a row.

@fabriziopandini  should we close the issue?

[2021-04-14 18:55] CecileRobertMichon commented on #4474
@fabriziopandini @shysank any thoughts on this?

[2021-04-14 19:05] neolit123 commented on #4444
and one must use `kubectl convert` to migrate manifest on disk?

[2021-04-14 19:06] fabriziopandini commented on #4444
My two cent on this
- https://github.com/kubernetes/enhancements/pull/2567 could be a better place discussion about impacts of Kubernetes changes.
- IMO CAPI can't be the definitive solution for avoiding the side effects caused by those system changing; sooner or later each consumer should adapt like we are doing.
- If possible and everyone agree, I would like to keep the discussion on this issue

[2021-04-14 19:17] neolit123 commented on #4444
i'd agree that delayed upgrades due to core API removals is an upstream k8s problem and not a CAPI problem.

[2021-04-14 19:18] fabriziopandini commented on #4474
prior discussion/pr about this

- https://github.com/kubernetes-sigs/cluster-api/issues/3720
- https://github.com/kubernetes-sigs/cluster-api/pull/3825

the work was stopped due to the operator work; we should reconsider now as soon as we are a rough idea of when the operator work will land

[2021-04-14 19:20] kfox1111 commented on #4444
For helm charts, its typically helm upgrading with a new enough version of the chart that has the new api's used.

[2021-04-14 19:20] fabriziopandini commented on #4462
/close
Thanks @sbueringer for the great work here!

[2021-04-14 19:20] #4462 closed

[2021-04-14 19:24] sbueringer commented on #4444
Absolutely agree with @fabriziopandini. While there are some changes in upstream Kubernetes which require work on the user-side, the deprecation/removal periods are pretty long (especially with probably 3 Kubernetes per release now, these add up to 1-2 years).

From a CAPI-side we have to also take into account what's sustainable for the CAPI community. It's non-trivial for a single CAPI version t

[2021-04-14 19:36] sbueringer commented on #4401
@fabriziopandini Not sure how realistic it is, but just though I'd ask. Do we already have e2e tests in place which test the upgrade of a CAPD cluster from v1alpha3 => v1alph4? This in combination with a conversion webhook in CAPD could capture issues like this even earlier.

Not sure if we already have something like this or if our unit tests are sufficient, but I guess with a test like this we c

[2021-04-14 19:55] fabriziopandini commented on #4401
I agree that a dedicated E2E test is out of scope for this issue given that IMO what is being implemented in https://github.com/kubernetes-sigs/cluster-api/pull/4417 and also in https://github.com/kubernetes-sigs/cluster-api/pull/4448 could provide a good signal about web hook working.
In pipeline there is also https://github.com/kubernetes-sigs/cluster-api/pull/3708  that will stress conversion w

[2021-04-14 20:09] detiber commented on #4473
I think even in the case where a resource is being moved from one management cluster to another, updating only the status (no mutating of spec or changes to the underlying resources being managed) should be fine, since the status is not copied to the new management cluster.

This would also give us the ability to do things like add a 'Paused' condition to the resource. Taking it a step further, we

[2021-04-14 20:13] sbueringer commented on #4401
Ah thx perfect. Wasn't aware of that one.

[2021-04-14 20:31] detiber commented on #4430
I'd really like to see the detailed proposal before I provide too much feedback, but one initial concern that I have is that there doesn't seem to be support at the Cluster level here to support an upgrade similar to what is provided by `KubeadmControlPlane` with `UpgradeAfter`. Since there are cases where new base images could be published under the same default lookup scheme for a given infrastr

[2021-04-14 21:16] vincepri commented on #4445
/milestone v0.4

[2021-04-14 21:16] vincepri commented on #4445
/area api

[2021-04-15 10:26] enxebre commented on #3095
Related to https://github.com/kubernetes-sigs/cluster-api/pull/4174

[2021-04-15 11:06] fabriziopandini opened #4482 "Add validation for kubeadm types"
**User Story**

As a user I would like to have early warning in case of misconfigurations

**Detailed Description**

Starting from v1alpha4 CAPI has its own version of kubeadm configuration types that isolate user from the changes in the kubeadm APIs.

Given that this abstraction layer exists, we can now consider to use it for avoiding misconfigurations early on in the process (instead of detectin

[2021-04-15 11:58] Insullone opened #4483 "Does Cluster API test framework support creating bootstrap cluster with minikube?"
We are using [Cluster API test framework](https://pkg.go.dev/sigs.k8s.io/cluster-api/test/framework) for e2e tests. I see that the framework provides a way to create bootstrap cluster with kind. However, we want to create bootstrap cluster with minikube for now. Is it possible to do that with the Cluster API test framework?

[2021-04-15 13:17] fabriziopandini commented on #4483
We are not supporting the creation of cluster with Minikube, but you can provide any Kubeconfig file and everything else should just work.

Buing a little bit more specific, you have to replace the following lines in your test suite with something that creates a Minikube cluster and returns the path to the Kubeconfig file for accessing your minkube cluster

https://github.com/kubernetes-sigs/clust

[2021-04-15 13:40] randomvariable opened #4484 "Generate reference documentation in the book"
**User Story**

As a user, I want to read the API spec of Cluster API without having to deploy it and use `kubectl explain`

**Detailed Description**

Upstream the CRD and CLI reference doc generation from CAPA

CRD output:
https://cluster-api-aws.sigs.k8s.io/crd/cluster-api-aws.html

CLI output:
https://cluster-api-aws.sigs.k8s.io/clusterawsadm/clusterawsadm.html

Generation code is:
CLI doc gene

[2021-04-15 15:00] detiber commented on #4484
I'm wondering if we can leverage https://doc.crds.dev/ here in some way?

[2021-04-15 15:02] randomvariable commented on #4484
I used the one I did as it's used in knative. The CAPA ones to actually currently link out to docs.crds.dev for the CAPI CRDs at the moment.

[2021-04-15 15:07] vincepri commented on #4430
ClusterClass abstracts away not only Machines, but also control plane configuration and cluster infrastructure. We don't have support for that today.

Apologies if I didn't understand the question. The ClusterClass abstraction by itself doesn't really provide much value. The overall arch of this issue-proposal is to ease the getting started / day 0 operations and get to a Kubernetes cluster by cre

[2021-04-15 15:10] vincepri commented on #4484
I was chatting with @hasheddan a while back about this, we ended up in https://github.com/kubernetes-sigs/controller-tools/issues/240 which would be great to integrate with.

[2021-04-15 15:11] vincepri commented on #4473
/milestone Next

[2021-04-15 15:12] vincepri commented on #4473
Would this still be informational only? Or are you thinking to replace annotations with a condition? That might not work for `move` given that (as you mentioned) status isn't copied over, and it might cause the pause to be removed too early

[2021-04-15 15:16] randomvariable commented on #4484
Very cool.

Maybe I can do the CLI reference docs first then?

[2021-04-15 15:40] hasheddan commented on #4484
@randomvariable @vincepri I am planning on ramping up on https://github.com/kubernetes-sigs/controller-tools/issues/240 very soon and will try to get this usable for y'all ASAP :)

[2021-04-15 16:26] detiber commented on #4473
I was thinking informational only, I don't think we can get rid of the annotation unless we formalize it into a required field as part of the contract for the reasons you mentioned.

[2021-04-15 16:43] fabriziopandini commented on #4423
/assign
/lifecycle active

[2021-04-15 18:33] sbueringer opened #4486 "Periodic tests are failing: exp/addons/controllers.TestAPIs"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

According to [testgrid](https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api#capi-test-main&width=20&sort-by-failures=&exclude-non-failed-tests=100) the TestAPIs test is regularly failing in our periodic tests of the main branch (rough estimate 10-20%)

![image](https://user-images.g

[2021-04-15 18:41] vincepri commented on #4486
This looks like a flake, do you have time to root cause @sbueringer ?

[2021-04-15 18:41] vincepri commented on #4486
/milestone v0.4

[2021-04-15 19:01] sbueringer commented on #4486
Yes. I'll give it a try. I'm guessing it's not one of the flakes which might be caused by CPU starvation so I should be able to reproduce it easier locally.
/assign

[2021-04-15 19:59] sbueringer commented on #4463
/reopen

The CoreDNS issue looks fixed, but I think there is something else going wrong: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/periodic-cluster-api-e2e-workload-upgrade-1-20-1-21-main/1382743995154698240

[2021-04-15 20:42] sbueringer commented on #4486
Looks like I found the problem:
https://github.com/kubernetes-sigs/cluster-api/blob/master/exp/addons/controllers/clusterresourceset_controller.go#L484-L487

This returns an error and thus there is no reconciliation triggered (in the test a ConfigMap is created, which should trigger a reconciliation to add a binding to a ClusterResourceBinding)

[2021-04-15 20:49] sbueringer commented on #4486
One level deeper. GFKForObject tries to calculate the gfk based on TypeMeta:

https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/client/apiutil/apimachinery.go#L87-L90

TypeMeta looks like this:

![Uploading image.png…]()

[2021-04-15 20:51] Insullone opened #4488 "Can we set different variables in E2E config file for each flavor in capi e2e testing framework?"
We are using [Cluster API test framework](https://cluster-api.sigs.k8s.io/developer/e2e.html)  for e2e tests. In the E2E config file, there is **variables** property. Can we have a separate set of variables for each flavor? Thanks.

[2021-04-15 20:56] Insullone commented on #4488
In terms of **flavor**, we use flavors to specify which cluster template file is used in the tests.

[2021-04-15 21:01] sbueringer commented on #4486
I'm pretty sure `builder.OnlyMetadata` does not work correctly in our case. Alternative hack to get green tests:
[code]

[2021-04-15 21:25] #3751 closed

[2021-04-16 00:05] vincepri commented on #4486
Hmm, we should make sure that the PartialObjectMetadata objects always have the TypeMeta/GVK information filled in.

[2021-04-16 00:06] vincepri commented on #4486
In this case though the object is coming from controller runtime, which should have the information prepopulated, if that's not the case we should check in CR codebase.

[2021-04-16 04:25] sbueringer commented on #4486
@vincepri I took a closer look and actually the PartialObjectMetadata never has the TypeMeta information filled in. I'll open a PR later on which makes the error 100% reproducable for debugging. The interesting thing about this test is, the faster the test is run, the more likely it is to fail. So if the test would be a bit more correct it would fail 100%, because the implementation has an issue.

[2021-04-16 10:13] fabriziopandini commented on #4488
I'm not sure I get the use case are you trying to address.

As a little bit of background, the E2E config files is meant to configure a set of tests; if you pass variables via the variables property, it makes sense the same variable has a unique variable across all the tests.

/kind support

[2021-04-16 11:25] enxebre commented on #493
Ideally we'd provide a mechanism to handle this via kubelet `--register-with-taints`/`--node-labels`. Otherwise there's a race during the time the node gets register and the labels/taints are synched. For labels/taints that affect scheduling this might result in issues like workloads scheduled undesirably.
This needs to be called out in the proposal.

[2021-04-16 11:39] enxebre commented on #2646
To clarify it does not necessarily relates with NotReady. MaxUnhealthy value represents the percentage of machines which either don't have a node associated or which node matches the [UnhealthyConditions](https://github.com/kubernetes-sigs/cluster-api/blob/master/api/v1alpha4/machinehealthcheck_types.go#L41) criteria, thus the original maxUnhealthy name.

[2021-04-16 12:43] blencoff opened #4489 "Can't have 3 master nodes"
**What steps did you take and what happened:**
I followed the instruction in https://cluster-api.sigs.k8s.io/user/quick-start.html with `OpenStack infrastructure provider` and faced with an issue when only one Control Plane VM was created and then it unable to be scaled to desired 3 replicas.

**Anything else you would like to add:**

Some logs and k8s objects:
[code]
Image for OpenStack has been

[2021-04-16 12:53] fabriziopandini commented on #4177
@shysank are you working on this? otherwise @ludusrusso is interested in giving a try to this...

[2021-04-16 12:55] shysank commented on #4177
I just started but haven't gotten much far. I'm fine with @ludusrusso taking it. I'll unassign myself.

[2021-04-16 12:57] ludusrusso commented on #4177
Thanks @shysank :D

/assign

[2021-04-16 13:47] fabriziopandini commented on #4177
/lifecycle active

[2021-04-16 14:00] #4489 closed

[2021-04-16 14:29] vincepri commented on #4486
Got it, thanks for the information. It seems like there is a couple of issues here to tackle, feel free to assign any possible PRs in slack.

[2021-04-16 14:40] ludusrusso commented on #4177
Hi!
With this change we need to handle the case of an user that is currently using v1alpha3 with dns.type != from CoreDNS.

https://github.com/kubernetes-sigs/cluster-api/blob/1b4faf5d6282bfdd0fac543c798238fe2c9a6046/controlplane/kubeadm/internal/workload_cluster_coredns.go#L90-L92

Current implementation raises error (I think) when dns.type is different from coreDNS, but if we remove the type fie

[2021-04-16 17:14] vincepri commented on #493
Aren't those flag only good when the node gets registered? They wouldn't be reconciled, and if you need to remove a label or taint you have to do it out of band and they might get out of sync

[2021-04-16 21:21] Arvinderpal commented on #493
@enxebre Yes there may be a delay (potentially several seconds) before the CAPI node synchronization logic kicks in to apply
the labels to a newly minted Node.

Kubernetes supports both equality and inequality requirements in label selection. In an equality based selection, the user wants to place a workload on node(s) matching a specific label (e.g. Node.Labels contains `my.prefix/foo=bar`). The

[2021-04-19 10:34] enxebre commented on #4483
Hey @Insullone I'm curious what are the constraints you have for wanting to use minikube rather than kind?

[2021-04-19 11:56] fabriziopandini commented on #4177
@ludusrusso
Thanks for pointing this out.

So, I investigate the issue a little bit and

1. Using cluster API v1alpha3 & kubernetes < v1.21 it is possible to spin up a cluster with kube-dns and then execute control plane upgrades using the `controlplane.cluster.x-k8s.io/skip-coredns` annotation.
2. Starting from kubernetes >= v1.21 does not support anymore Kubeadm-dns.

By removing the  clusterCon

[2021-04-19 12:18] ludusrusso commented on #4177
Ok for me

Yep, first time that I partecipate to a SIG Meeting :D

[2021-04-19 16:33] CecileRobertMichon commented on #4488
In CAPZ what we do is set env vars directly in the spec when they are unique to a spec, for eg https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/test/e2e/azure_test.go#L82. For the ones that are different for each spec (for eg. random or depends on the clusterName) we use a BeforeEach: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/test/e2e/azure_

[2021-04-19 19:47] richardcase commented on #3968
/lifecycle frozen

[2021-04-20 01:44] chymy opened #4493 "workcluster(one master + one node) upgrade"
I created a workcluster: one master + one node, upgrading the workcluster always fails. Does CAPI not support the upgrade for `single master` ?

**Environment:**

- Cluster-api version: v0.3.11
- Minikube/KIND version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

/kind bug
/help

[2021-04-20 04:02] sbueringer commented on #4493
@chymy It does. Our upgrade test uses 1 control plane node, a machine deployment with 3 replicas and a machinepool with 3 replicas. This is tested for:
* 1.18 => 1.19
* 1.19 => 1.20
* 1.20 => 1.21
* 1.21 => 1.22 (k/k main branch)

Test runs: https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api#capi-e2e-main-1-18-1-19
Test code: https://github.com/kubernetes-sigs/cluster-api/blob/master/test/e

[2021-04-20 07:50] Insullone commented on #4483
@enxebre Currently we are using minikube when node images is CentOS. My team told me that they didn't use kind for CentOS because there was some issues when developing [metal3-dev-env](https://github.com/metal3-io/metal3-dev-env) if they install docker in CentOS at that time.

[2021-04-20 07:51] #4483 closed

[2021-04-20 08:03] #4406 closed

[2021-04-20 12:13] JoelSpeed opened #4497 "Consider removing the default value for MHC NodeStartupTimeout"
**User Story**

As a user I would like to have the Machine Health Check only remediate machines when I have explicitly requested it to do so. This will ensure that Machines are not removed from my cluster in unexpected circumstances.

**Detailed Description**

At present, if a user does not specify a `NodeStartupTimeout`, we default this value to `10m`. This means that if no `Node` joins the clust

[2021-04-20 15:19] vincepri commented on #4497
/milestone Next

[2021-04-20 15:19] vincepri commented on #4497
/kind api-change

[2021-04-20 15:57] vincepri commented on #3805
Closing due to lack of updates.

/close

[2021-04-20 15:57] #3805 closed

[2021-04-20 19:00] #3420 closed

[2021-04-20 19:05] sbueringer opened #4502 "Flaky e2e upgrade tests"
**What steps did you take and what happened:**

Our upgrade tests are mostly green, but I think there are a few recurring issues left that we can fix. Example 1.21=> latest (1.22): https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api#capi-e2e-main-1-21-latest

Overview of failed test runs during the last few days:

### 1.18 => 1.19

* [10-04](https://prow.k8s.io/view/gs/kubernetes-jenkins/log

[2021-04-20 19:10] sbueringer commented on #4502
/cc @fabriziopandini

[2021-04-20 20:03] sbueringer opened #4503 "Upgrade to kind v0.11.0 in our e2e tests"
**User Story**

As a developer I would like to use the latest (next) kind version to reduce flakiness in the CAPI e2e tests.

**Detailed Description**

I had some issues running our e2e tests with the latest kind version: https://github.com/kubernetes-sigs/kind/commit/216edda697a37f8bf16651af6c23b7e2bb7ef42f . We want to upgrade asap after the next kind release to get the pipefail fix which will r

[2021-04-20 20:03] sbueringer commented on #4503
/assign
/cc @fabriziopandini

[2021-04-21 02:54] chymy commented on #4493
Thanks @sbueringer , It should be related to infrastructure provider.

[2021-04-21 08:43] enxebre commented on #3203
This relates to the cluster Class discussion https://github.com/kubernetes-sigs/cluster-api/issues/4430.
This will require a considerable amount of work and thinking to get it right. @vincepri is this work still intended to make it to v1alpha4 or can we move it to next milestone?

/area upgrades

[2021-04-21 08:51] enxebre commented on #4344
/kind feature
/area machine
Thanks @relyt0925! This now fixed by https://github.com/kubernetes-sigs/cluster-api/pull/4346. Can we close this now?
/close

[2021-04-21 08:51] #4344 closed

[2021-04-21 10:05] enxebre commented on #3831
Or an indexField for `spec.ClusterName` but how do we know the cluster in the scope of `nodeToMachine` since `type MapFunc func(client.Object) []reconcile.Request` does not take parameters? Is there something in the nodes e.g a label we can use?

@vincepri For namespace aren't we filtering already since we are using the cached `r.Client.` which is scoped to the manager namespace?

[2021-04-21 10:08] enxebre commented on #3831
/assign

[2021-04-21 10:13] enxebre commented on #3153
/area api

[2021-04-21 10:22] #4095 closed

[2021-04-21 11:59] furkatgofurov7 commented on #4282
@fabriziopandini hi! Is there anything else that needs to be done to close this as #4347 is already merged?

[2021-04-21 12:04] fabriziopandini commented on #4282
@furkatgofurov7 thanks for pinging me on this issue. I think we are good here now
/close

[2021-04-21 12:04] #4282 closed

[2021-04-21 12:45] fabriziopandini commented on #4502
Thanks for the detailed analysis.
The proposed changes will get rid of 50% of the failures listed above, so +100 to get a PR

What about changing a little bit things so:
- We reduce the size of the cluster to 1CP + 2MD + 2MP (less stress on the machine resources, faster upgrade test)
- We start the conformance test with 2 * workerMachineCount (so we will test on 4 nodes instead of 3; I don't think

[2021-04-21 13:38] JoelSpeed commented on #3465
As we are starting to discuss a move to v1beta1, this should be kept in the discussion. Moving to v1beta1 could be an appropriate time to make a change like this.

My thoughts on the issue:
- When building a controller that needs Cluster API go types, it is frustrating to be tied to the exact controller-runtime (and therefore others) versions
  - It would be preferable if the API types didn't tie

[2021-04-21 13:54] enxebre commented on #3465
I agree with @JoelSpeed here, I think solving this is critical for community adoption and UX for CAPI as a library that one can build on top of. In some scenarios we are currently having to mirror the API only in a "third party" folder to mitigate the hassle of transient dependencies.

[2021-04-21 15:02] fabriziopandini commented on #4445
v1beta3 merged in kubeadm so, initially as a clone of v1beta2, we can start to work on this and get all the scaffolding (*) in place.
This will make easier to apply following changes to the API as they land incrementally in kubeadm

(*) scaffolding includes
- having a kubeadm v1beta3 API  clone under bootstrap/kubeadm/types
- having all the conversion in place
- having the new v1beta3 used for kub

[2021-04-21 15:07] imoladavide commented on #4445
/assign
/lifecycle active

[2021-04-21 15:09] smcaine commented on #4430
Would this issue also be tackling the lifecycle process mentioned above in #3203 ? This would be a big step forward for us to be able to manage cluster lifecycle declaratively in git and have an operator manage the order of which KCP/MachineDeployments are upgraded for example.. also having some way to update machinetemplates without having to create new ones, then clean up after they are updated

[2021-04-21 15:25] vincepri commented on #4430
@smcaine Yes, in some ways it does but only for the managed topologies (control plane + workers defined as part of the Cluster object). If users create Machine, MachineSet, or MachineDeployment objects outside of that we won't be upgrading those versions.

[2021-04-21 15:37] vincepri commented on #3465
Would you want to limit this to only the API types? When one imports Cluster API and uses its utilities the Controller Runtime version must match to avoid any potential impact on behaviors.

Maybe? The separate go module creates other sorts of issues, for example the release process is going to be more complicated, and we'd need to figure out ways to make sure we can still reference those types in

[2021-04-21 15:58] fabriziopandini opened #4507 "Should we drop support for kubeadm v1beta1 types?"
CABPK & KCP in the v1alpha4 branch support kubeadm API v1beta1, v1beta2 and soon v1beta3 (https://github.com/kubernetes-sigs/cluster-api/issues/4445).

This issue is about discussing the option to drop support for kubeadm v1beta1 types, which practically means that capi v1alpha4 cannot be used to create Kubernetes clusters < v1.15.

Now kubeadm v1.15 is N-6 as of today, this makes such release out

[2021-04-21 16:19] vincepri commented on #4507
I'm ok dropping support in v0.4

[2021-04-21 16:30] JoelSpeed commented on #3465
I think yes, limit this to the API types, and maybe even generate clientsets for them (possibly a different conversation). While I appreciate that currently all of the community uses controller-runtime clients, there are reasons that you may want to use a typed clientset instead, and I could see this being more prevalent with projects that are integrating their own existing deployment methods

[2021-04-21 16:34] sbueringer commented on #4502
@fabriziopandini I'll start working on a PR. I agree with all your points.

I would add a helper to wait for nodes ready and do that immediately before we start the conformance test. This will also speed up the test because we then don't have to wait until the MachineDeployment Machines are ready before starting the MachinePool upgrade.

/assign

[2021-04-21 16:53] JoelSpeed commented on #3465
I think yes, limit this to the API types, and maybe even generate clientsets for them (possibly a different conversation). While I appreciate that currently all of the community uses controller-runtime clients, there are reasons that you may want to use a typed clientset instead, and I could see this being more prevalent with projects that are integrating their own existing deployment methods

Yea

[2021-04-21 17:47] sbueringer commented on #3465
I also think, if possible we should avoid forcing consumers of our API types to use the same controller runtime version. In our case it's not an issues as we are essentially pinning to the same controller-runtime / client-go / ... versions as ClusterAPI main branch.

But I think it's not a good idea to force consumers of our API types to the same version which potentially blocks them from up/downg

[2021-04-21 18:00] sbueringer commented on #4507
+1 from me too.
Main argument for me is that supporting n-6 (and it will be a lot more at the time of the release and over the lifetime of v0.4.0) is not sustainable.

[2021-04-21 18:49] CecileRobertMichon commented on #4507
+1 from me as well with the same reasoning

[2021-04-21 19:26] vincepri commented on #4507
/milestone v0.4

[2021-04-21 19:26] vincepri commented on #4507
/kind release-blocking

[2021-04-21 20:08] sbueringer commented on #4463
@fabriziopandini  I think we can close this issue again as the remaining issues seem to be not specific to the 1.20=>1.21 upgrade and tracked via: https://github.com/kubernetes-sigs/cluster-api/issues/4502

WDYT?

[2021-04-21 20:31] fabriziopandini commented on #4463
/close
If we detect new problems we can open an issue and eventually reference this thread

[2021-04-21 20:31] #4463 closed

[2021-04-21 22:48] sedefsavas opened #4508 "Remove restriction to use pointer slices for v1alpha4 types"
During v1alpha4 type creation, newer code-generator were causing issues during creating `slice of pointers` conversion functions, and we added the following requirement for the providers that will [upgrade from v1alpha3-v1alpha4:](https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/book/src/developer/providers/v1alpha3-to-v1alpha4.md#change-types-with-arrays-of-pointers-to-custom-objec

[2021-04-21 23:01] gnadaban opened #4509 "machinedeployment_controller fails with null pointer exception if Spec.Strategy is not defined"
**What steps did you take and what happened:**

Attempted to create a simple Azure cluster and the `capi-controller-manager` pod failed with error:

[code]

**What did you expect to happen:**

Provisioning to start without errors.

**Anything else you would like to add:**

Error is in `controllers/machinedeployment_controller.go` in the `reconcile` function:

[code]

**Environment:**

- Cluster-ap

[2021-04-21 23:39] srm09 commented on #4508
I am not sure what got changed in the `controller-runtime` v0.9 to enable this. But if it is fixed, might as well. The best way to move forward would be to revert the docker type changes that were introduced and re-run conversion-gen. If it is fixed, we can remove the requirement and let the knowledge flow to the providers as well.

[2021-04-22 10:39] enxebre commented on #4509
This should be defaulted by https://github.com/kubernetes-sigs/cluster-api/blob/v0.3.16/api/v1alpha3/machinedeployment_webhook.go#L130-L155

Do you have webhooks enabled?

Still I agree the backend should not make any assumption and error appropriately rather than panic

/assign

[2021-04-22 10:56] enxebre commented on #4310
I really see no issue with two tangential components ensuring the node resource is garbage collected, as mentioned above if there's no node any component will no-op. I see no value on exposing this as config to the user as this is an internal detail.
We own the host lifecycle thus makes total sense to me to ensure the node resource is deleted after the infrastructure. This ensures the same behavio

[2021-04-22 14:15] vrabbi opened #4512 "Allow management of KubeProxy configuration in CAPI"
### User Story ###

As a CAPI user I would like to manage the kubeproxy configuration in a declarative way

### Detailed Description ###

This is a follow up of #1584

There are many reasons and use cases for changing kubeProxy settings. the main one i have encountered is using IPVS mode which is a requirement in certain envirnments due to performance gains it offers over iptables.

As of today wh

[2021-04-22 14:56] Danil-Grigorev commented on #4310
Yeah, argument that there may be providers which do not have CCM in k/k and so lack this feature so CAPI will take care of Node removal seems good to me. Redundancy in this case is good, and surely CAPI will be quicker to respond then a polling process in CCM anyway to Node removal request.

/close

[2021-04-22 14:56] #4310 closed

[2021-04-22 15:11] enxebre commented on #4512
/kind feature
/area api
Relates to https://github.com/kubernetes-sigs/cluster-api/issues/4444

[2021-04-22 15:14] vincepri commented on #4512
@fabriziopandini Could we unify all of these issues into one?

[2021-04-22 15:26] davideimola commented on #4445
Hi @fabriziopandini can you change the assignee to this user instead of @imoladavide?
I have commented with the wrong account!

[2021-04-22 16:24] CecileRobertMichon commented on #1227
related to #4430

/remove help

[2021-04-22 17:19] vincepri commented on #1227
We can probably close this in favor of #4430, thoughts?

[2021-04-22 17:29] vincepri commented on #4509
/milestone v0.4

We might want to backport as well

[2021-04-22 17:31] vincepri commented on #4508
Is there any benefit doing so?

[2021-04-22 17:50] sedefsavas commented on #4508
I think @srm09 means reverting them for testing. Otherwise no benefit.

[2021-04-22 17:51] vincepri commented on #4508
If there are no benefits, I'd leave them as-is

[2021-04-22 17:55] sbueringer commented on #4445
/assign @davideimola

[2021-04-22 19:29] fabriziopandini commented on #1227
Given thumbs up on ^^
/close

[2021-04-22 19:29] #1227 closed

[2021-04-22 19:34] fabriziopandini commented on #4512
I prefer to keep them separated because implication of changing KubeletConfiguration and changing KubeProxy configuration are different and we need to nail down details and actionable items.
However I agree we should have consistency at UX level

[2021-04-22 20:07] fabriziopandini commented on #3534
/close
This has been fixed by the work in preparation for v1alpha3 --> v1alpha4 upgrades

[2021-04-22 20:07] #3534 closed

[2021-04-22 20:39] fabriziopandini commented on #3042
Thanks to the work in https://github.com/kubernetes-sigs/cluster-api/pull/4514, we can finally nail down required changes in clusterctl move.

- during the discovery, on top of what is considered today, clustectl has to collect secrets from the namespaces where the infrastructure providers are running
- the filtering step process at the end of the discovery process should be updated in order to ma

[2021-04-23 03:16] chymy commented on #4493
Hi, @sbueringer,
https://github.com/kubernetes-sigs/cluster-api/blob/46dc43a725c9acc168fb7171e5710d3e12db8633/controlplane/kubeadm/controllers/scale.go#L118-L142

I create a workcluster, `apiServerEndpoint` is loadbalancer. During the upgrade, if etcd member is deleted by calling `workloadCluster.RemoveEtcdMemberForMachine` in advance, the load balancer is likely to connect to the old controlplane

[2021-04-23 08:26] chymy commented on #4493
While removing etcd member, should also stopping apiserver

[2021-04-23 10:31] sbueringer commented on #4493
Let's reopen the issue for now to discuss this point. I cannot really say why the code is as it is right now, so let's see what others will say.

/reopen

[2021-04-23 13:03] enxebre opened #4518 "Use a providerID index to find a nodeRef for machines"
**What steps did you take and what happened:**
We are looping over all nodes to find a nodeRef for machines.
https://github.com/kubernetes-sigs/cluster-api/blob/bfc6f80add5c21b8dc2b704951f42bc14708ebc4/controllers/machine_controller_noderef.go#L165

**What did you expect to happen:**
We should use an index based on the providerID,

**Anything else you would like to add:**
[Miscellaneous informatio

[2021-04-23 13:04] enxebre commented on #4518
/assign

[2021-04-23 13:20] digambar15 opened #4519 "Introduce Hardware details in Machine object"
**User Story**

As a [developer/user/operator] I would like to fetch hardware details from Machine object, that way It will help preplan the cluster deployment.

**Detailed Description**

Actually this use feature is very much necessary in cases of 5G/edge cases where you will look at the hardware details and based on that it will help classify the best fit machines for creating target cluster or

[2021-04-23 14:14] rficcaglia commented on #4446
just to update from the various slack discussions:

1. CNCF SIG-security wants to scope the new Security Pal program to sandbox. "it was scoped to a limited set of CNCF sandbox projects based on recommendations from our TOC Liaisons"
2. However, the process and materials for self-assessment are available and having lead other SIG reviews (before they were called "Pal" reviews) I am confident we ca

[2021-04-23 15:36] enxebre commented on #4519
If the details are in a Machine object, doesn't it mean the cluster was already deployed? Or are you referring only to deploy the workloads in an existing cluster where you'd have nodes labeled with hardware details?

[2021-04-25 01:21] chymy commented on #4493
After testing, before removing etcd member, remove the static yaml of apiserver first, and delete the controlplane node is successful. So just make sure that the apisever stops and doesn't start any more, the load balancer will not connect to old controlplane node.

[2021-04-26 09:03] enxebre opened #4525 "Revisit MachineDeployment.Spec.Strategy to be required"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

`MachineDeployment.Spec.Strategy` is marked as optional https://github.com/kubernetes-sigs/cluster-api/blob/master/api/v1alpha4/machinedeployment_types.go#L73

**What did you expect to happen:**
Any field which prevents the backend controller from operating and reconciling successfully sh

[2021-04-26 09:03] enxebre commented on #4525
/kind bug
/area api

[2021-04-26 09:17] #4509 closed

[2021-04-26 09:54] enxebre opened #4526 "ProviderID set by capi infra providers should match the one set by the controller manager cloud-provider"
**What steps did you take and what happened:**
In the existing providerID logic assumptions, cloudProvider and ID is what is used to compare, skipping the other segments of the providerID.  See https://github.com/kubernetes-sigs/cluster-api/blob/master/controllers/noderefutil/providerid.go#L86

This makes the assumption - not necessarily true - that IDs in different regions/zones won't be reused b

[2021-04-26 09:55] enxebre commented on #4526
/assign

[2021-04-26 10:07] enxebre commented on #4525
/assign

[2021-04-26 10:55] digambar15 commented on #4519
Idea is to keep hardware details in machine object so it will used for future workload deployment. Also we can introduce one classification mechanism in place where we can ask user to declare his requirement (Declarative one) and classify the machines which matches to him workload and whichever hosts matches the requirement, classification controller will label the hosts with approapriate workload

[2021-04-26 14:53] vincepri commented on #4525
+1 on making this required in the next iteration, seems like a good improvement to the APIs.

-1 on this specific bit, I don't think we should default structs using json-based text in struct annotations.

[2021-04-26 15:01] vincepri commented on #4525
/milestone Next

[2021-04-26 15:34] sbueringer commented on #4525
I also agree with making this mandatory.

I would also like to keep avoiding defaulting structs via tags. I think it's "less magic" (sorry that's a bit vague) to just do the defaulting of everything apart from single values in the defaulting webhook instead of distributing it between the default webhook and tags and then you have to look at both places to know what the defaults are.

[2021-04-26 15:52] sbueringer commented on #4526
Seems reasonable to me, but I don't know about other providers. If I got it correctly, this wouldn't lead to problems with CAPO providerIDs?

They currently look like this in CAPO and in the cloud provider openstack: `openstack:///e85a1e5e-0340-423a-be12-23d3c52c9e10`

[2021-04-26 16:24] CecileRobertMichon commented on #4526
What are you proposing the change be in cluster-api itself?

The providerIDs definitely need to be consistent with the ones expected by cloud-provider, we actually ran into cluster-autoscaler issues with the Azure provider recently because of an extra slash in the ID (https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1293). https://github.com/kubernetes-sigs/cluster-api-provider-a

[2021-04-26 16:31] CecileRobertMichon commented on #4525
I'm +1 on defaulting everything in webhooks besides single values so we can have unit tests.

For `MachineDeploymentStrategy` specifically, we could do something like:

[code]

And then default `MachineRollingUpdateDeployment` in the webhook based on the value of `MachineDeploymentStrategyType`.

The other advantage of not doing this all in schema annotations is that we allow the user to specify `

[2021-04-26 16:40] neolit123 commented on #4446
sent email to the k8s SIGs for more visibility:
https://groups.google.com/g/kubernetes-sig-cluster-lifecycle/c/Fi0UGzfbQfY

[2021-04-26 17:03] vincepri commented on #4446
Thanks @neolit123 !

[2021-04-26 17:31] dlipovetsky commented on #1250
Per the discussion in the meeting 4/21/2021, this proposal is deferred until v0.5.

/milestone v0.5
/lifecycle frozen

[2021-04-26 17:33] vincepri commented on #1250
/milestone Next

[2021-04-26 17:42] vincepri commented on #4519
@digambar15 Thanks for filing this issue, as @enxebre mentioned the Machine object is meant to _declare_ the user intent to create/manage an actual machine, not as a tool that can help with planning.

This seems a detail that should be handled outside of Cluster API. Users should make their best decision with the cloud (or bare metal) they chose to use. When Cluster API comes into the picture, it'

[2021-04-26 17:43] enxebre commented on #4526
Thanks for that context @CecileRobertMichon.

If we agree on `"The providerIDs definitely need to be consistent with the ones expected by cloud-provider"`
what I'm proposing is for capi to consider that a contract in the equality check, so i.e to change this method to compare the whole string -> https://github.com/kubernetes-sigs/cluster-api/blob/bfc6f80add5c21b8dc2b704951f42bc14708ebc4/controller

[2021-04-26 17:43] vincepri commented on #4519
/milestone Next
/priority awaiting-more-evidence

[2021-04-26 17:50] vincepri commented on #4526
IIRC the equality check was checking the entire string in the past, but we had to change it to match only on CloudProvider and the identifier given that some of the ProviderID information might be missing when the infrastructure provider provisions the machine and the cloud provider assigns the identifier later on.

By contract, the ProviderID's ID part (last chunk after `/`) should be unique, is

[2021-04-26 19:14] sbueringer commented on #4502
PR: https://github.com/kubernetes-sigs/cluster-api/pull/4515 is now merged. I'll check testgrid the next few days.

[2021-04-27 09:46] enxebre commented on #4526
This is a good point, we should probably revisit and verify this is still the case.

Isn't this contract something we just assumed to be true for convenience because of the limitation you describe above but there's actually no reason nor guarantees for Cloud providers to necessarily satisfy this?

My concern is that uniqueness might not be necessarily the case for all cloud providers. E.g It seems

[2021-04-27 16:22] enxebre opened #4531 "Drop usage of GetValueFromIntOrPercent in favour of GetScaledValueFromIntOrPercent"
**What steps did you take and what happened:**
Because we rely on [1] in this func [2] a string such as "2" would be treated as a percentage for this fields.

[1] https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/staging/src/k8s.io/apimachinery/pkg/util/intstr/intstr.go#L164-L168

[2] https://github.com/kubernetes-sigs/cluster-api/blob/3bc596eea96cb27e23c8f2d6c

[2021-04-27 16:24] enxebre commented on #4531
/assign

[2021-04-27 17:34] vincepri commented on #4124
@fabriziopandini Let's tackle this before v0.4.0 release.

[2021-04-27 17:34] vincepri commented on #4124
/remove-lifecycle stale

[2021-04-27 17:37] rumshenoy opened #4533 "CAPI controller pods go into OOM killed state when guest clusters are scaled up"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
Scaled guest clusters 190 and over 950VMs in the test environment.  `capi-controller-manager` pods go into OOM killed state. New containers are getting created almost every 20 mins. The restart count of `capi-controller-manager` pods reached about 100 restarts.
[code]

**What did you expec

[2021-04-27 17:46] vincepri commented on #4533
How much memory is being allocated for these pods? Are there any limits in place for these containers? How much memory usage are we talking about?

[2021-04-27 17:57] vincepri commented on #4533
/milestone Next
/priority awaiting-more-evidence

[2021-04-27 18:05] vincepri opened #4534 "Rename KubeadmControlPlane UpgradeAfter to RolloutAfter"
UpgradeAfter is a bit confusing especially now that we have a RolloutStrategy for KCP with maxSurge/maxUnavailable. A rollout doesn't necessarily mean an upgrade is taking place.

/milestone v0.4
/kind cleanup
/kind api-change
/kind release-blocking
/area api

/assign
/lifecycle active

[2021-04-27 18:18] vincepri opened #4536 "Add support for RolloutAfter to MachineDeployments"
We have had good feedback about KCP's upgradeAfter field (now being renamed to rolloutAfter). It'd be great to add the same functionality to MachineDeployments.

/kind feature
/milestone v0.4
/help

[2021-04-27 18:56] rumshenoy opened #4537 "Runtime error in capi kubeadm controller manager pods"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
1. We have a guest cluster of 3 control plane, 200 workers on an environment.
2. Triggered a scale down the  cluster from 3 control plane, 200 worker nodes to 3 control plane, 150 workers
3. Scaled this up back to 3 Control Plane, 200 Workers)
4. Around this time capi-kubeadm-control-plane

[2021-04-27 19:04] enxebre commented on #4536
/assign

[2021-04-27 19:32] neolit123 commented on #4537
this defer here is problematic:
https://github.com/kubernetes-sigs/cluster-api/blob/bfc6f80add5c21b8dc2b704951f42bc14708ebc4/controlplane/kubeadm/internal/workload_cluster_etcd.go#L47

as it would act on the entire wrapping function ReconcileEtcdMembers and not per `etcdClient` in each loop iteration.

cc @vincepri
https://github.com/kubernetes-sigs/cluster-api/commit/e38df08235e2fadea502df7752324

[2021-04-27 19:46] vincepri commented on #4537
Why is that a problem? I was looking at the exact same code: although the defer(s) run after `ReconcileEtcdMembers` returns, even if they remain open until the end, that should be fine? How would that cause a panic?

[2021-04-27 20:07] neolit123 commented on #4537
my mistake, the defers in ReconcileEtcdMembers should be fine.

the first panic is here:
https://github.com/kubernetes-sigs/cluster-api/blob/bfc6f80add5c21b8dc2b704951f42bc14708ebc4/controlplane/kubeadm/internal/etcd/etcd.go#L176

since something has `nil`-ed the c.EtcdClient value and then this also panics:
https://github.com/kubernetes-sigs/cluster-api/blob/bfc6f80add5c21b8dc2b704951f42bc14708eb

[2021-04-27 20:30] neolit123 commented on #4537
i tried to to understand more what's happening here, but went out of ideas.
one native fix is to return early in these functions if `c.EtcdClient == nil`, but that's not great.

[2021-04-27 20:59] rumshenoy commented on #4533
The pod has the following limits set.
[code]

[2021-04-28 13:23] fabriziopandini commented on #4536
FYI This issue is somehow related https://github.com/kubernetes-sigs/cluster-api/issues/4450

And interesting nuance is that there is demand both for RolloutAfter <Instant in Time> and RolloutAfter <Time Interval>.

[2021-04-28 14:23] fabriziopandini opened #4542 "Remove deprecated hyperkube image support in ClusterConfiguration/v1alpha4"
**Detailed Description**
The `UseHyperKubeImage` field is going to be removed in kubeadm v1beta3 API, see https://github.com/kubernetes/kubernetes/pull/101537/files

We should do the same in ClusterConfiguration/v1alpha4

**Anything else you would like to add:**
Given that
- hyperkube images are not available on gcr since v1.16 and the project has been discontinued (See https://github.com/kubernet

[2021-04-28 14:56] vespian commented on #4384
@fabriziopandini Thank you for a reply and I apologize for a late answer. Please see my answers below:

Happy to do that, if CAPI community thinks that the use case is useful/makes sense:

In our product we wanted to bundle CAPI manifests together with a binary. The clusterctl command fetches the latest version from github and this requires setting up github token to avoid hitting limits and does

[2021-04-28 15:28] schrej opened #4543 "Pass down annotations from Machine to provider specific machine resources"
**User Story**

As a user I'd like to specify annotations as part of a MachineDeployment and use them on the provider specific machine resources to pass parameters to a custom controller that assigns static IP addresses.

**Detailed Description**

It's possible to specify both labels and annotations as part of the `spec.template.metadata` of a `MachineDeployment`. Both get passed down to the `Mach

[2021-04-28 15:46] ludusrusso commented on #4542
/assign

tnx @fabriziopandini

[2021-04-28 16:19] CecileRobertMichon commented on #4542
👍

[2021-04-28 16:42] vincepri commented on #4542
/milestone v0.4
/kind release-blocking

[2021-04-28 16:42] vincepri commented on #4542
I'm fine dropping the field.

[2021-04-28 17:09] vincepri commented on #2646
/assign @dlipovetsky
to triage, or remove from milestone v0.4

[2021-04-28 17:10] vincepri commented on #2693
@fabriziopandini to take a look or remove from milestone if something else takes precendence

[2021-04-28 17:11] vincepri commented on #3360
/lifecycle active

[2021-04-28 17:19] vincepri commented on #3424
During April 28th community meeting, most folks were ok with a breaking change without a migration path. We should definitely document the change and communicate it.

/assign @CecileRobertMichon
/assign @yastij  to send an email to the mailing list

[2021-04-28 17:21] vincepri commented on #3486
@fabriziopandini to check if the PR is ready to go and double check the release blocking status

[2021-04-28 17:26] vincepri commented on #3715
/milestone Next

To revisit once the load balancer proposal is tackled as part of v0.5

[2021-04-28 17:27] vincepri commented on #4507
/help

[2021-04-28 17:53] vincepri commented on #4543
/help

[2021-04-28 17:54] dlipovetsky commented on #2646
My original concern was:

I don't think a different name will make the remediation algorithm obvious. The [docs](https://cluster-api.sigs.k8s.io/tasks/healthcheck.html?highlight=MaxUnhealthy) do a good job of explaining it.

Also, over the past year, no one has complained about the current name.

I'm closing this.

/remove milestone/v0.4

[2021-04-28 17:55] #2646 closed

[2021-04-28 17:55] schrej commented on #4543
/assign

[2021-04-28 18:26] sbueringer commented on #4533
@rumshenoy How high do you have to set the memory limit do avoid OOM kills? (or phrased differently: how much RAM do the controllers need?)

The actual question imho is are we using RAM inefficiently or do we have a memory leak.

[2021-04-28 18:29] vincepri commented on #4533
Having ~190 clusters and 1k VMs to manage might require more than 600Mi, also I've noticed that the requests are for 75Mi, which might cause the overall memory to be oversubscribed, was there anything else running on this cluster?

Also echo the request from @sbueringer.

Semi-related: We usually don't suggest setting CPU limits, given that cgroups might hold the Go runtime back, especially when u

[2021-04-28 19:14] sbueringer commented on #4533
Also CPU starvation can cause OOM kills in my experience because the Go GC cannot keep up.

[2021-04-28 20:09] sbueringer commented on #4537
Hm, also looked at. I also cannot see a way how this panic can occur. `EtcdClient` is only written by `newEtcdClient` and that's it.

Only way to debug I can see is make it reproducable and either add a lot of log statements or try to get something like a Mozilla rr trace (for context: https://www.jetbrains.com/help/go/debugging-with-mozilla-rr.html#collecting-mozilla-rr-traces)

[2021-04-28 20:32] #4177 closed

[2021-04-29 10:19] fabriziopandini commented on #4543
Only one note from my side.
We should made sure we are consistent in how label & annotations are passed down to machines across the entire table, that means to consider also KCP (control plane providers) and MachinePool.
Those could be eventually tracked in separated issues and addressed in separated PR; ideally we should get a picture of required changes in those area before merging MachineDeploy

[2021-04-29 11:25] schrej commented on #4543
I agree. I already planned to extend the tests for the `util.GenerateTemplate()` function to ensure the variable precedence is consistent.

[2021-04-29 13:16] #4488 closed

[2021-04-29 14:10] ludusrusso opened #4546 "Remove unused DNSAddOnType constants from kubeadm/v1alpha4"
**User Story**

As a developer I would like to live the code to be as simple as possible. In my PR #4516 I left this piece of code from v1alpha4 that I think can be safely removed: https://github.com/kubernetes-sigs/cluster-api/blob/9d825629d89c9394ddbdf1484fc9e389cf544146/bootstrap/kubeadm/api/v1alpha4/kubeadm_types.go#L157-L166

@fabriziopandini if you are ok with this I can submit a PR!

[2021-04-29 14:42] sbueringer commented on #4546
@ludusrusso If those are just unused constants, you can go ahead and open a PR to drop them.

[2021-04-29 15:42] #4534 closed

[2021-04-29 18:13] randomvariable opened #4548 "clusterctl multitenancy doc needs updating"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

A user was following https://cluster-api.sigs.k8s.io/clusterctl/commands/init.html#multi-tenancy in Slack, and found that it's outdated against the intended model from v1alpha4.

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that w

[2021-04-29 18:14] #4542 closed

[2021-04-29 19:38] fabriziopandini commented on #4384
@vespian great to hear that.
I think that the next step is to define the contract (*) around this new binary repository and start discussing it with the community (or might be to do both steps in parallel).
(*) define a set of of rules that makes this new repository provider "usable" for a wider audience in the community

[2021-04-29 19:46] #4546 closed

[2021-04-30 10:40] fabriziopandini commented on #4548
This is already fixed on the main branch of docs.
Also, more cleanups on clusterctl/docs will happen when https://github.com/kubernetes-sigs/cluster-api/issues/4056 will be implemented
/close

[2021-04-30 10:40] #4548 closed

[2021-04-30 11:34] randomvariable commented on #4548
Ah, ok. Thx.

[2021-04-30 12:10] fabriziopandini opened #4552 "clusterctl config cluster --from fails on empty clusters"
**What steps did you take and what happened:**
run `clusterctl config cluster XX --from` on an empty cluster and got:

[code]

**What did you expect to happen:**
The command to complete given that we are not relying on external resources (a not on clusterctl in cluster settings)

**Anything else you would like to add:**
This should probably be backported

**Environment:**
- Cluster-api version: ma

[2021-04-30 12:39] yastij opened #4554 "KCP remediation for upgrade and scale up scenarios"
**User Story**

As a user I would like KCP remediation to work when having 1 CP machine and doing upgrades or scale operations

**Detailed Description**

when upgrading KCP we create a new CP machine, If the bootstrap of the second machine fails the bootstrap script resets the machine through `kubeadm reset`, but we're still left with an instance created. The same goes for scale operations.

Ideal

[2021-04-30 12:49] yastij commented on #4554
/priority important-soon

[2021-04-30 14:26] fabriziopandini commented on #4365
/lifecycle active

[2021-04-30 15:58] vincepri commented on #4554
To clarify, the title mentions upgraden and scale up scenarios (which we should already support), but the description states for a single control plane machine. Is there a reason we'd want to support this? Operations could be potentially disruptive without an operator intervention when the control plane isn't running in HA mode.

[2021-04-30 18:03] #4552 closed

[2021-04-30 18:27] sbueringer commented on #4502
Short update. The last 4 days after the PR was merged we have 5/16 failed tests. But at a first glance it looks like they are all from flaky conformance e2e tests. There was no failure where not all nodes were ready as seen previously, so that should be fixed.

[2021-04-30 19:16] stmcginnis opened #4555 "Docs needed for debugging e2e tests in an IDE"
**User Story**

As a developer I would like to interactively debug e2e test runs to make it easier to verify or troubleshoot test code.

**Detailed Description**

Those familiar with cluster-api are already doing this, but there are no docs to help folks newer to the project get started. It could really help to have some basic pointers or at least examples of what has worked for others to help new

[2021-04-30 19:16] stmcginnis commented on #4555
/assign sbueringer

[2021-04-30 20:09] fabriziopandini commented on #4502
yay!
/close

[2021-04-30 20:09] #4502 closed

[2021-04-30 20:13] fabriziopandini opened #4556 "Backport Allow clusterctl config cluster --from on empty clusters"
https://github.com/kubernetes-sigs/cluster-api/pull/4553  fixed a version check too much restrictive preventing to run clusterctl config cluster --from on an empty cluster. we should back-port this in the release-0.3 branch

/kind bug
/milestone v0.3
/help
/good-first-issue

[2021-04-30 21:03] #4531 closed

[2021-05-03 01:05] mcwumbly opened #4557 "Support for IPv6-only clusters with CAPD"
**User Story**

As a developer I would like to use CAPD to create IPv6 clusters so that I can gain confidence that cluster API and other components that I want to deploy on cluster API managed cluster work with IPv6.

**Detailed Description**

Support for IPv6-only clusters on Kubernetes has been a beta feature for some time ([KEP 506](https://github.com/kubernetes/enhancements/tree/master/keps/si

[2021-05-03 05:47] jan-est commented on #4124
@fabriziopandini I’m not sure does scale-in rollout stop us from hitting this issue? Scale-in does solve lot of baremetal use cases, but is this issue something we would need to prevent in general?

[2021-05-03 07:38] Evalle commented on #4556
I can take care of it.
/assign

[2021-05-03 09:36] enxebre commented on #3465
Related discussion about controller-runtime own deps https://github.com/kubernetes-sigs/controller-runtime/issues/1495

[2021-05-03 11:14] fabriziopandini opened #4559 "Tilt up flakes"
**What steps did you take and what happened:**
Recently when running `tilt up`, I frequently get

[code]

By running `tilt up` again then everything works as expected, so this problem is not critical/blocking.

**What did you expect to happen:**
To `tilt up` without errors

**Anything else you would like to add:**
Apparently we are too aggressive in applying cert-manager-test yaml (or probably fai

[2021-05-03 11:14] fabriziopandini commented on #4559
/help

[2021-05-03 12:02] fabriziopandini commented on #4124
IMO remediation main concern is to preserve a functional cluster, so IMO it should not be used as a strategy for solving other problems, like resource constrained environments.

There are a lot of unknown when remediating a machine when another one is still in the middle of provisioning, beacuse any assumption about the operation (and especially about the target etcd quorum) can be invalidated any

[2021-05-03 15:13] vincepri commented on #4559
I thought we were waiting for webhooks to be available before starting everything up? Is the command not working anymore?

[2021-05-03 15:13] vincepri commented on #4134
/close

[2021-05-03 15:14] #4134 closed

[2021-05-03 15:30] fabriziopandini opened #4562 "Improve conditions when node is unknown"
**What steps did you take and what happened:**
While testing KCP remediation I noticed that conditions are not reporting properly when a node in unknown status (e.g where running kubeadm reset on a node).

**What did you expect to happen:**
KCP/machine controller to surface properly this condition

/kind bug
/assign
/lifecycle active

[2021-05-03 15:41] MohiK98 opened #4563 "Specify extra condition checks before deleting a Machine"
**User Story**

As an operator I would like to specify extra condition checks before deleting a machine for better cluster management and smoother upgrade.

**Detailed Description**

Currently I'm integrating cluster api with the cloud company IaaS I'm working and here is the scenario I think upgrade process can go smoother.

Right now when I upgrade a MachineDeployment version, the following happ

[2021-05-03 15:46] vincepri commented on #4562
/milestone v0.4

[2021-05-03 15:51] vincepri commented on #4563
Would Machine deletion hook https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/20200602-machine-deletion-phase-hooks.md suffice for this use case?

[2021-05-03 15:58] fabriziopandini commented on #4554
Considering the work in https://github.com/kubernetes-sigs/cluster-api/pull/4561, I'm a little bit less concerned about remediation disrupting the cluster, because now there is an improved rule for computing the target quorum and this rule already manages less then etcd members.

The only missing bit is to relax the constraint that KCP should remediate only in N° of replicas > 3, but overall I thi

[2021-05-03 16:01] MohiK98 commented on #4563
Yes it seems perfect. Since the proposal's status is implemented, can I use it now? just asking to make sure 😄

[2021-05-03 16:04] vincepri commented on #4563
Yes, the code has already been implemented and ready to go. We should add some docs to our book

[2021-05-03 16:05] MohiK98 commented on #4563
That would be great, Thanks! I'm closing the issue.

[2021-05-03 16:05] #4563 closed

[2021-05-03 16:14] fabriziopandini commented on #4124
By Mistake I delete my comment... sorry

IMO the main concern of remediation is to preserve the operational state of cluster, and it should not be used as as strategy for solve other problems like resource constrained environments.

Remediation a machine one another is being provisioned have several unknowns, because any assumption made before remediating can be invalidated whenever the member bei

[2021-05-03 16:15] yastij commented on #4554
agreed, we've done testing and this will be a good a improvement. @fabriziopandini once you open a PR feel free to ping me and I can review

[2021-05-03 16:46] fabriziopandini opened #4565 "Implement support for HollowMachines in CAPD"
**User Story**
As a developer I would like to stress test CAPI for improving stability
As a developer I would like to speed up local CAPI development/test cycles
As a developer I would like to reduce E2E jobs duration & footprint
As a developer I would like to have some alternative to DockerMachines for testing autoscaler

**Detailed Description**
This issue proposes the implementation of HollowMa

[2021-05-03 17:38] dims commented on #4565
cc @stmcginnis

[2021-05-03 19:46] fabriziopandini commented on #4559
The wait is still there, but It seems not working anymore... need to investigate.

[2021-05-03 22:11] sbueringer commented on #4565
Sounds like a great improvement to me!

[2021-05-04 14:35] enxebre commented on #4450
For either `rolloutAfter`  or `rolloutOlderThan` in machineDeployments we could introduce and additional logic which does not interfere with the existing one based on the spec changes, i.e the new one would leverage only the newest machineSet by scaling it out/in to satisfy maxSurge/minAvailable. I'll try to implement this. Does this make sense to you @detiber?

I still see no reason for not consi

[2021-05-04 15:42] vincepri commented on #4559
/milestone v0.4

[2021-05-04 17:49] sbueringer commented on #4559
@fabriziopandini Does it by any chance only happen with Kubernetes >= 1.21?

[2021-05-04 18:38] #4401 closed

[2021-05-04 19:24] fabriziopandini commented on #4559
No, this happens when installing cert-manager on a kind cluster v1.19.1

[2021-05-04 21:02] sbueringer commented on #3889
/remove-lifecycle rotten

[2021-05-04 21:50] fabriziopandini opened #4569 "Fix clusterctl config cluster"
**What steps did you take and what happened:**
Prior to https://github.com/kubernetes-sigs/cluster-api/pull/4199 (back port https://github.com/kubernetes-sigs/cluster-api/pull/4265) it was possible to use the clusterctl library for `clusterctl config cluster` before the management cluster is created or when the management cluster is not yet initialised.

This behaviour provided a sort of "dry-run"

[2021-05-05 12:56] fabriziopandini commented on #4192
PR merged
/close

[2021-05-05 12:56] #4192 closed

[2021-05-05 12:56] fabriziopandini commented on #4191
PR merged
/close

[2021-05-05 12:56] #4191 closed

[2021-05-05 16:25] joshrosso opened #4572 "Introduce dry-run functionality to init"
**User Story**

A user may wish to persist the YAML that is part of a `clusterctl init` to disk, prior to running `init`. This can be achieved by introducing a `dry-run` flag on the `init` command. When this flag is present, we would persist all relevant YAML to the current directory.

If there is not a way to do this currently, and we are interested in it, I'd be happy to implement it.

/kind fea

[2021-05-05 17:12] elmiko commented on #4565
i think this is a cool idea, would it replace the current kubemark provider?

https://github.com/kubernetes-sigs/cluster-api-provider-kubemark

[2021-05-05 17:44] CecileRobertMichon commented on #4572
The closest thing we have to this right now is `clusterctl config provider -o yaml`. You could do something like:

[code]

This wouldn't include things like cert-manager though.

[2021-05-05 17:44] sbueringer commented on #3280
@vincepri What was the reason to move this out of v0.4.0? No bandwith?

[2021-05-05 17:48] vincepri commented on #3280
Yes, we'll tackle this after v0.4 has a release branch

[2021-05-05 17:48] vincepri commented on #3692
/close

[2021-05-05 17:48] #3692 closed

[2021-05-05 17:49] CecileRobertMichon commented on #4559
I'm running into the same thing locally (with kind cluster v1.20.2)

[code]

[2021-05-05 17:54] elmiko commented on #4565
i would like to maximize our efforts around kubemark. whether in capd or its own provider, i think it will be valuable.

for me, the main difference between this implementation and the standalone kubemark provider is that the latter presents an option for deploying onto non-capd clusters. otherwise it seems like functionally they would be the same.

[2021-05-05 17:59] vincepri commented on #4559
https://github.com/kubernetes-sigs/cluster-api/blob/master/tilt_modules/cert_manager/Tiltfile#L56-L58

Given that these are shelling out, it could be the kubectl version used locally? Are your kubectl(s) 1.21? Maybe let's remove the `quiet` options to see if there is any errors coming from those commands?

[2021-05-05 18:00] vincepri commented on #4559
The only change I see w.r.t kubectl wait in 1.21 is https://github.com/kubernetes/kubernetes/pull/97408

[2021-05-05 18:10] CecileRobertMichon commented on #4559
I have kubectl v1.19.0 locally

[2021-05-05 18:14] vincepri commented on #4569
/milestone v0.4

[2021-05-05 18:47] Arvinderpal commented on #4450
Wondering if a combination of CronJob + existing rollout support in MD is the simplest way to accomplish this?

Also, wouldn't we have to have some reconcile event occur on the MD for the rolloutAfter to work. The current time > rolloutAfter is not sufficient in itself. I assume we have or will need some periodic reconcile mechanism in place.

[2021-05-05 20:51] #4569 closed

[2021-05-06 09:34] fabriziopandini opened #4577 "Backport the clusterctl config cluster fix"
https://github.com/kubernetes-sigs/cluster-api/pull/4570 fixed a clusterctl regression preventing to use the clusterctl library for clusterctl config cluster before the management cluster is created or when the management cluster is not yet initialised.

We should backport the same fix on the release-0.3 branch

**Environment:**

- Cluster-api version: release-0.3 branch

/kind bug
/milestone v0.3

[2021-05-06 12:01] JoelSpeed commented on #4450
I think the problem with something like a cronjob is it that we want to obey some sort of disruption budget as it were. If all machines come online at once, then they would all go away at once with a simple script. So without some way to prevent that and delay some of the machine disruptions, I don't think a cronjob would be sufficient

[2021-05-06 15:12] enxebre commented on #4525
Closing as per https://github.com/kubernetes-sigs/cluster-api/pull/4527#issuecomment-833602169
/close

[2021-05-06 15:12] #4525 closed

[2021-05-06 16:14] sbueringer opened #4580 "Panic when calling clusterctl describe cluster on a cluster without a controlPlaneRef"
**What steps did you take and what happened:**

According to PR https://github.com/kubernetes-sigs/cluster-api/pull/4343 `clusterctl describe cluster` panics when called on a Cluster without a `controlPlaneRef`

**What did you expect to happen:**
Should not panic!

**Anything else you would like to add:**
I think PR https://github.com/kubernetes-sigs/cluster-api/pull/4343 can be used as a basis (+

[2021-05-06 16:24] sbueringer opened #4581 "Add IgnorePreflightErrors to KubeadmConfig types"
**What steps did you take and what happened:**

Based on Slack thread: https://kubernetes.slack.com/archives/C8TSNPY4T/p1619121490147500

We saw that there were some fields missing which are in upstream kubeadm v1beta2. At a first glance we're missing:
* CertificateKey
* IgnorePreflightErrors

The theory in Slack was that these fields were added after we forked the types

**What did you expect to

[2021-05-06 16:26] vincepri commented on #4580
/milestone v0.4
/priority critical-urgent
/help

[2021-05-06 17:16] mboersma commented on #4183
Supporting `go test -count <n>` seems infeasible given that so many of the tests are based on Ginkgo, and
[`-count` isn't supported by Ginkgo](https://github.com/onsi/ginkgo/issues/704#issuecomment-758031857).

I have a branch where I've tried to hack around this by ensuring namespace and cluster names don't collide, but that's not sufficient. AFAICT each `It` clause is taken as a unit to run *n*

[2021-05-06 17:27] fabriziopandini commented on #4581
Hopefully I can help with some context here:
1. Current version of Cluster API `KubeadmConfig` is derived from kubeadm API v1 beta1
2. Starting from v1alpha4, Cluster API KubeadmConfig types are decoupled from a specific version of the kubeadm API
3. Building on top of 2, it is now possible to implement some changes/cleanups in `KubeadmConfig` to improve usability

Accordingly
- `IgnorePreflightEr

[2021-05-06 17:37] vincepri commented on #4183
@mboersma We're actually in the process (almost there!) to move away from Ginkgo in favor of using just plain go tests + envtest

[2021-05-06 17:43] fabriziopandini commented on #4577
PR merged
/close

[2021-05-06 17:43] #4577 closed

[2021-05-06 17:47] sbueringer commented on #4581
Makes sense to me. Is there already an issue open for v1alpha4 changes to the KubeadmConfig types or do we want to keep the current issue open to add the `IgnorePreflightErrors` field?

[2021-05-06 17:56] mboersma commented on #4183
Awesome--I think this will be a non-problem once we have moved away from Ginkgo.

[2021-05-06 18:21] fabriziopandini commented on #4581
AFAIK there is no issue. It is ok to use this one for now.

[2021-05-06 21:17] khos2ow commented on #4580
By the look of it #4343 was abandoned with some outstanding review comments. If that's the case I can revive it and get a crack at it.

[2021-05-06 21:43] khos2ow commented on #4580
/assign

[2021-05-06 21:51] joshrosso commented on #4572
@CecileRobertMichon hey, I didn't know that. Very cool.

I wonder if there's still value in a true "dry run" for `init`. I know I'd like it a lot for the experiments I'm currently running.

Let me know!

[2021-05-07 00:04] wcurry opened #4583 "KubeadmControlPlane stuck rolling out changes to apiServer extraArgs"
**What steps did you take and what happened:**

Deployed a 1 CP, 1 worker cluster. Realized my OIDC config was set for the wrong environment. Redeployed the workload cluster with the updated apiServer extraArgs. The new machine was created, but got stuck provisioning. I did not see any static pods in /etc/kubernetes/manifests.

**What did you expect to happen:**

CP roll finishes successfully.

**

[2021-05-07 09:16] fabriziopandini commented on #4580
/lifecycle active

[2021-05-07 11:02] Evalle commented on #4556
This can be closed, see https://github.com/kubernetes-sigs/cluster-api/pull/4560
FYI @fabriziopandini

[2021-05-07 12:22] fabriziopandini commented on #4556
/close

[2021-05-07 12:23] #4556 closed

[2021-05-07 15:50] sbueringer commented on #4583
Those static pod manifests are created by kubeadm, but without a kubeadm log (usually visible in cloud-init) it's basically impossible to debug what went wrong in your case ;)

[2021-05-07 15:59] sbueringer commented on #4145
The current situation seems to be:

As more and more providers implement webhooks to enforce machine template immutability, I'm not sure what we should do with this issue:
* https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1255
* https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/858

Is it basically about if we want to reconsider the current decision? (I

[2021-05-07 21:58] hanlins opened #4585 "Need proxy support in air-gapped environment"
**User Story**

As an operator, I would like to add proxy setting configurations to capi providers for the air-gapped environments.

**Detailed Description**

In air-gapped environment, cluster API provider pods might be deployed in air-gapped environment, and thus cannot talk to the infrastructure provider directly. In this scenario, a proxy server is typically deployed to enable the connectivity

[2021-05-08 18:04] stmcginnis opened #4586 "Failures in deferred calls not captured"
**What steps did you take and what happened:**

Great suggestion from Stefan in https://github.com/kubernetes-sigs/cluster-api/pull/4499#discussion_r628486582

I think it would be a good idea to use something like that to be able to capture failure information in deferred calls.

**What did you expect to happen:**

It would be great to capture failure information rather than silently swallowing pr

[2021-05-09 21:38] charleszheng44 opened #4587 "clusterctl config cluster failed"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
Followed the instruction

https://cluster-api.sigs.k8s.io/user/quick-start.html

After running
[code]

got error message

[code]
I checked the v0.3.16 assets, looks like there is no file named cluster-template.yaml

**What did you expect to happen:**
The workload cluster is successfully cr

[2021-05-09 23:08] #4587 closed

[2021-05-10 00:44] jessehu commented on #1793
/remove-lifecycle stale

[2021-05-10 00:45] jessehu commented on #1793
It would be great if CAPI can also support additional CA certs post cluster creation without deleting and recreating new VMs.

[2021-05-10 07:22] cpanato commented on #1828
/remove-lifecycle stale

[2021-05-10 10:03] enxebre commented on #4585
For such scenario we would also want the ability to configure https_proxy and no_proxy.

We'd need to flesh out details here, define and agree on what an air gapped env is and what scenarios and behaviour exactly we want to support end to end, e.g would this be a one shot thing? or would we want capi components to watch a "proxy config" and react to changes there?
I think this will probably deserv

[2021-05-10 11:49] fabriziopandini commented on #3836
/close
Cluster API is using cert-manager v1.1.0 now, so this should not be a problem anymore

[2021-05-10 11:49] #3836 closed

[2021-05-10 12:14] fabriziopandini opened #4588 "Refactor tests using plain go tests + envtest instead of ginkgo"
As documented in https://cluster-api.sigs.k8s.io/developer/testing.html, we agreed to use plain go tests + envtest instead of ginkgo for all the integration tests (E2E test should continue to use ginkgo for the time being).

This issue is for tracking this effort.

/area testing
/kind cleanup
/help

[2021-05-10 12:15] fabriziopandini commented on #4183
/close
Given that there is agreement that using go test instead of ginkgo will address this issue.
Opened https://github.com/kubernetes-sigs/cluster-api/issues/4588 to track this effort

[2021-05-10 13:48] fabriziopandini commented on #4585
@hanlins I'm starting to think about this use case, and my main concern is that adding proxy settings can't be achieved by simple variable substitution, which is the only for of templating supported in clusterctl as of today.
So the only two options I can see here are:
- to rely on different templating solutions injected in the clusterctl library
- use mutating web hooks

Also, the ongoing work on

[2021-05-10 14:21] vincepri commented on #4588
Do we need a tracking issue for this? To make it a bit better, especially for first time contributors, it might be good to enumerate in which packages we still need work to do.

[2021-05-10 14:41] vincepri commented on #4583
/triage support
/milestone Next
/priority awaiting-more-evidence

[2021-05-10 14:42] vincepri commented on #4583
@wcurry One thing that jumps out is that the Cluster API version is a bit behind and we've had multiple bug fixes to KubeadmControlPlane from v0.3.13. Would you be able to update first?

[2021-05-10 14:57] #4562 closed

[2021-05-10 15:23] #4365 closed

[2021-05-10 15:23] #4472 closed

[2021-05-10 17:14] shysank opened #4590 "Remove clusterctl config cluster and provider subcommands"
**User Story**

`clusterctl config cluster` and `clusterctl config provider` are deprecated in favor of `clusterctl generate cluster` and `clusterctl generate provider` respectively. We will be supporting the old commands for `0.4.x` release, but will have to be removed in the subsequent release.

/kind feature

[2021-05-10 17:48] yastij commented on #4031
/remove-lifecycle stale

reviving this, Ideally we should have a field to represent availability (e.g. an `Available` field). KCP should then place machines on the other failure domains.
Ideally, If two machines are in the same failure domain, KCP should have a warning condition that says so. Also long term, If an AZ turn into a ready state and machines are colocated, we should scale into the newl

[2021-05-10 17:59] sbueringer commented on #4586
@vincepri No, at least not yet. Although I'm not sure if there's a linter we could enable via golangci-lint

Errors in defer calls are pretty frequently ignored, especially for thing like file.Close.

[2021-05-10 18:32] sbueringer commented on #4151
Makes sense to me. Maybe help wanted?

[2021-05-10 18:41] sbueringer commented on #2918
We could also integrate the overall coverage (not the diff introduced through the PR) in the Prow job view.
But I'm not sure how useful it is. If we produce coverage files with our go tests we could have a view like this in Prow basically for free:
![coverage](https://user-images.githubusercontent.com/4662360/117708054-a3d62880-b1cf-11eb-923e-2c3d4b054222.png)
https://prow.k8s.io/view/gs/kubernete

[2021-05-10 18:58] fabriziopandini commented on #4151
/help

[2021-05-10 19:03] charleszheng44 opened #4593 "Docker provider does not work"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
I followed the quick start https://cluster-api.sigs.k8s.io/user/quick-start.html
1. create kind cluster
[code]
2. download the clusterctl v0.3.16
3. initialize the docker infrastructure
[code]
4. generate the cluster configuration
[code]
5. apply the configuration yaml
[code]
6. try to gen

[2021-05-10 19:17] fabriziopandini commented on #4593
/triage needs-information

We have a good signal in CI for the quick start with CAPD, so I'm inclined to think this is a local problem.
Looking at the sequence of actions, it seems that the kind cluster is created without the required mount of the docker socket; this prevents the cluster to be created, and the secret with the kubeconfig file too.

See the Docker infrastructure provider - CAPD tab

[2021-05-10 20:33] vincepri commented on #4593
/priority awaiting-more-evidence
/milestone Next

[2021-05-10 20:46] charleszheng44 commented on #4593
Following is the output of the `docker ps`

[code]
looks like the dockermachine_controller tries to get the manifest of kindest/node:v1.18.16, while the kindest/node in use is v1.20.2, do you think this is the cause?

[2021-05-10 21:17] mboersma commented on #4258
@mabikash are you working on this? I have a branch that implements these changes in `clusterctl`, but I don't want to interfere if you're making progress.

[2021-05-11 03:47] sbueringer commented on #4583
@wcurry Just a hint. In case of an error check the following logs:
[code]

If there is nothing there just take a look at:
[code]

In case you see in kubeadm that it times out waiting for the static Pods to come up my buest guess is to take a look at the logs of the kubelet / container unit if the containers were started at all (also `crictl ps -a` helps) and if containers exit at the container log

[2021-05-11 10:12] fabriziopandini commented on #4593
The key message to understand what is going on is
[code]

This is because we are relying on kind published images for node, and apparently there is not an image published for v1.18.16 (see https://hub.docker.com/r/kindest/node/tags?page=1&ordering=last_updated). You can build this image locally using kind, but if you don't have special needs, the easiest way forward is to use another Kubernetes ve

[2021-05-11 12:43] fabriziopandini commented on #3081
/close
in favour of https://github.com/kubernetes-sigs/cluster-api/issues/3042 (see https://github.com/kubernetes-sigs/cluster-api/issues/3042#issuecomment-825169701 for latest decisions)

[2021-05-11 13:21] fabriziopandini commented on #3042
/unassign @randomvariable

/assign
/lifecycle active

[2021-05-11 17:06] sbueringer commented on #4583
@vincepri Yes. I might have some more. We're running about 200 test installations (cluster create + updates) every night internally.  They are  only using ClusterAPI (with CAPO) partially right now but we're using kubeadm  there since 1-2 years. As we're trying to achieve a very high success rate we have lots of experience debugging those kind of things.

I'll collect the troubleshooting hints whi

[2021-05-11 17:46] vincepri commented on #4593
That sounds good to me

[2021-05-12 14:45] gab-satchi commented on #4507
/assign

[2021-05-12 14:47] vincepri commented on #4507
/lifecycle active

[2021-05-12 18:47] #3690 closed

[2021-05-13 11:44] yastij opened #4608 "[node attestation] add a controller to approve kubelet CSRs"
**Detailed Description**

following the merge of the CAEP, I'm opening an issue to track the addition of the node attestation controller and its interface, to handle CSR approval for Kubelet client/server certificates, this issue should also track test coverage for the feature

**Anything else you would like to add:**

[Miscellaneous information that will assist in solving the issue.]

/kind featu

[2021-05-13 11:44] yastij commented on #4608
/assign
/lifecyle active

[2021-05-13 11:45] yastij commented on #4608
/lifecycle active

[2021-05-13 11:45] yastij commented on #4608
/priority important-soon

[2021-05-13 11:46] yastij commented on #4608
FYI @randomvariable @vincepri @fabriziopandini

[2021-05-13 12:48] yastij opened #4609 "[node attestation] integrate CAPI's bootstrap process with node attestation"
**Detailed Description**

following the merge of the CAEP, I'm opening an issue to track the integration of node attestation in the bootstrap process, this should adapt our bootstrap to provide a kubeconfig using the `capi-exec-auth` cli we're building.

**Anything else you would like to add:**

[Miscellaneous information that will assist in solving the issue.]

/kind feature
/assign
/lifecycle ac

[2021-05-13 13:57] yastij opened #4610 "[node attestation] enable removing nodeclient and selfnodeclient subresources when node attestation is enabled"
**Detailed Description**

following the merge of the CAEP, I'm opening an issue to track the reconciliation of RBACs to remove the `nodeclient` and `selfnodeclient` subresources of CSRs when `.spec. kubeletAuthentication` is set to true

**Anything else you would like to add:**

[Miscellaneous information that will assist in solving the issue.]

/kind feature
/priority important-soon

[2021-05-13 14:05] yastij opened #4611 "[node attestation] introduce capi-exec-auth CLI to issue CSRs"
**Detailed Description**

following the merge of the CAEP, I'm opening an issue to track the introductioin of `capi-exec-auth` CLI so that the kubelet config can use it to either:

- read certificates from disk when they're valid
- issue CSRs to renew client/server certificates when they're near expiry

**Anything else you would like to add:**

[Miscellaneous information that will assist in solvin

[2021-05-13 15:35] vincepri commented on #4611
/milestone v0.4

[2021-05-13 15:35] vincepri commented on #4610
/milestone v0.4

[2021-05-13 15:35] vincepri commented on #4609
/milestone v0.4

[2021-05-13 15:35] vincepri commented on #4608
/milestone v0.4

[2021-05-13 18:26] charleszheng44 commented on #4593
The latest cluster-api book has changed the `kubenetes-version` to v1.19.7 for the docker provider.

[2021-05-13 18:26] #4593 closed

[2021-05-13 21:21] TimJones opened #4617 "cert-manager is always deleted/reinstalled on clusterctl upgrade"
Using [talos docker cluster](https://www.talos.dev/docs/v0.10/local-platforms/docker/) for a reproducible test
**What steps did you take and what happened:**
[code]

**What did you expect to happen:**
clusterctl not to remove the installed version of cert-manager

**Anything else you would like to add:**
https://github.com/kubernetes-sigs/cluster-api/blob/master/cmd/clusterctl/client/cluster/cert_

[2021-05-14 13:51] yastij opened #4618 "Rename failure domains to Topology.zone"
**Detailed Description**

After the zone and region node labels were graduated to GA in k/k, the key was renamed:

[code]

This issue is to kick-off discussion around renaming failure domain to something like:
[code]

This should help us align terminologies and avoid confusion for folks

**Anything else you would like to add:**

[Miscellaneous information that will assist in solving the issue.]

/

[2021-05-14 13:52] yastij commented on #4618
cc @vincepri @CecileRobertMichon @randomvariable @fabriziopandini

[2021-05-14 16:13] vincepri commented on #4618
It might be a little late right now to rename and change the contract for providers for v0.4

[2021-05-14 16:13] vincepri commented on #4618
Is it ok to tackle this in the next iteration?

[2021-05-14 16:25] vincepri commented on #4337
/kind release-blocking

[2021-05-14 17:13] #4543 closed

[2021-05-14 17:44] sbueringer opened #4619 "Update tests from 1.21 => main are failing"
**What steps did you take and what happened:**

The update test from 1.21 to latest main is failing since about May 11th. We discovered this through: https://github.com/kubernetes-sigs/cluster-api/pull/4614 .
Testgrid provides some additional data: https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api#capi-e2e-main-1-21-latest

**What did you expect to happen:**
Update test should work

**Anyt

[2021-05-14 17:44] sbueringer commented on #4619
/cc @fabriziopandini @vincepri

[2021-05-14 17:49] fabriziopandini commented on #4619
/assign
I will take at look at this

[2021-05-14 18:08] fabriziopandini opened #4620 "Generate images for CAPD machines to be used in our E2E testing"
As part of the efforts form making our E2E test more reliable, I'm proposing this issue for discussing the opportunity to pre generate images to be used for CAPD machines in our E2E testing and store them into gcr.io/k8s-staging-cluster-api.

**Context**
Our E2E test use kind images from docker hub for creating CAPD machines in our E2E test; docker hub has rate limits constraints; also, by relying

[2021-05-14 18:18] sbueringer commented on #4503
After https://github.com/kubernetes-sigs/cluster-api/pull/4614 has been merged we only have to wait for the kind release and upgrade and it should work directly.

[2021-05-14 18:18] sbueringer commented on #4503
This will then also fix: https://github.com/kubernetes-sigs/cluster-api/issues/4405

[2021-05-14 18:31] sbueringer opened #4621 "Use systemd cgroupDriver in CAPD"
**User Story**

As a  operator I would like to use the (kubeadm) default cgroupDriver (which is systemd) with CAPD.

**Detailed Description**

Starting with kubeadm 1.21 the default cgroupDriver is systemd. With the upcoming kind version we have to pin CAPD to cgroupDriver cgroupsfs, because it won't work otherwise.

More context:
* PR to pin cgroupDriver to cgroupfs: https://github.com/kubernetes

[2021-05-14 18:31] sbueringer commented on #4621
/are testing

[2021-05-14 18:32] sbueringer commented on #4621
/area testing

[2021-05-14 18:44] sbueringer commented on #4620
Overall I think that's a great idea. I think I would prefer the separate job as it's then cleanly separated from the e2e test job.

A few questions:

* We wouldn't  publish images for latest (e.g. `ci/latest-1.22`), right? We would have to publish those images after every k/k merge.
* I assume the logic in our e2e test would then be: try to use one of our published images, if not, build it locally

[2021-05-14 18:53] sbueringer opened #4622 "Investigate if we should enable additional linters (through golangci-lint)"
**User Story**

As a reviewer I would like to focus on reviewing the most relevant changes in PRs and not too much on nitpicking.

**Detailed Description**

The amount of cleanup PRs we get (although they are great!) suggests that we have a few gaps in our linting.
I think we should investigate if there are some additional linters we could easily enable via golangci-lint (https://golangci-lint.run

[2021-05-14 18:55] sbueringer commented on #4622
@enxebre @fabriziopandini @vincepri If this sounds reasonable to you, I would take a look if I can find some useful linters.

[2021-05-14 19:00] stmcginnis commented on #4622
Here's a list of golangci-lint based linters I've used on other projects. For the most part I think they wouldn't be too contentious, though there may be a couple (certain gocritic cases) where we may want to tweak some of the specific linter settings.

[code]

Happy to help in this effort too, if you need it.

[2021-05-14 19:10] sbueringer commented on #4486
Short update. Issue itself is fixed. Only open issue is that the test does not reliable test the expected behavior: https://github.com/kubernetes-sigs/cluster-api/pull/4491

[2021-05-14 19:12] sbueringer commented on #4622
@stmcginnis You can just take it over if you want :)

[2021-05-14 19:16] stmcginnis commented on #4622
Sounds good @sbueringer! I'll do some local checking and see how badly that list complains, then share that here.

/assign

[2021-05-14 21:36] stmcginnis commented on #4622
To get the discussion started I've submitted https://github.com/kubernetes-sigs/cluster-api/pull/4624

That has a list of other checks we can enable that others can comment on if they feel they are contentious or not.

Biggest impact from the ones not included in that change are two related to docstrings: whether packages have godocs (maybe contentious) and whether doc string matches function name

[2021-05-14 22:25] jpmcb commented on #3441
Hi all - @dvonthenen and I have started looking into this and will hopefully have something to contribute back soon.

Our approach would be similar to what's been discussed before.

* In the `Save` method, we dump resources to file from the cluster.
* In the `Restore` method, we would accept a glob to get the files with saved objects, create `unstructured.Unstructured` objects from the files using

[2021-05-14 22:37] #3944 closed

[2021-05-16 19:26] fabriziopandini commented on #4181
The field has been removed by https://github.com/kubernetes-sigs/cluster-api/pull/4545

[2021-05-16 19:26] #4181 closed

[2021-05-16 19:47] fabriziopandini commented on #3441
@jpmcb thanks for the update.
While working at this, let's make sure we define what exact use case are we aim to support and which are the boundaries of this feature because personally I don't see in scope for clusterctl to add support fancy backup features like scheduled backups or backup to cloud storage etc.

Last but not least, we should consider that move is now going to include global resour

[2021-05-16 20:27] fabriziopandini commented on #4620
A nightly job is more than fine for me.

I think that the easiest way for starting, also because there is no automation that triggers our build after every K/k merge (and TBH we don't need all those images).
Eventually we can iterate later and create a nightly image instead.

I agree.
This also helps given that there are not automation to ensure our image gerations is in sync with Kubernetes relea

[2021-05-16 20:38] fabriziopandini commented on #4621
For track of records I'm reporting here some some of my notes about the discussion that lead to opening this issue.
- We should to stick to kind default, because kind's team is doing an amazing job in hardening the kindest/node image (this is why we implemented and #4614).
- We are going to wait for kind to switch to systemd cgroupDriver, and possibly, we should figure out a way to help in making

[2021-05-16 21:05] fabriziopandini commented on #3354
@vincepri I'm +1 for closing this issue given that we have an influx of activities on more detailed use cases:
- move for multi-tenancy credentials (#3042)
- move single cluster (#4605)
- backup restore (#3441)

[2021-05-17 09:32] fabriziopandini commented on #4619
Thinks a changed a little bit during this days so:
- A new Kubernetes release was issued v1.21.1
- Kind images for the above version was generated, requiring us to ping the cgroup drivers (Addressed by https://github.com/kubernetes-sigs/cluster-api/pull/4614)

However, the root cause of the problem is kubeadm having switched to v1beta3, while CAPI is lagging behind.
I have pinged @davideimola for

[2021-05-17 13:07] sbueringer commented on #4620
@fabriziopandini Sounds good to me. I would like to wait with publishing the first images until after the kind v0.11 release (or alternatively overwrite them after the kind release). Otherwise we would be stuck with the PIPEFAIL issue for a while.

[2021-05-17 14:31] teoyaomiqui commented on #4334
This approach would make it harder to use as a library. Instead of simply passing it as an option to command, a user would have to actually have a file with that configuration or reimplement the configuration interface to override it.

For example, here is how simple it is for us to use right now: https://github.com/airshipit/airshipctl/blob/master/pkg/clusterctl/client/client.go#L173-L182

It wou

[2021-05-17 14:56] vincepri commented on #4621
/milestone Next

[2021-05-17 16:21] vincepri commented on #3354
/close

[2021-05-17 16:21] #3354 closed

[2021-05-17 16:25] mboersma commented on #4588
/assign

[2021-05-17 16:30] vincepri commented on #4180
Should we do this, or close the issue?

[2021-05-17 16:42] sedefsavas commented on #3042
@fabriziopandini Will it be straightforward to backport this to v0.3.x release? Asking because CAPA is supporting multi-tenancy in v1alpha3 releases.

[2021-05-17 16:54] sbueringer commented on #4180
With the information Fabrizion provided I would say as there is no safe way to implement it generically I wouldn't implement it right now.

I think it makes more sense when we run into a concrete use case (with a specific feature gate) and then if there is a need for it implement it for this specific flag?

[2021-05-17 17:14] vincepri commented on #4180
While I do agree that it might not be safe, I wonder if it's on the same level as the extra flags for components?

[2021-05-17 17:28] sbueringer commented on #4180
So make them mutable without adding additional implementation for them?

I think extra flags are applied when recreating the control plane nodes, which is what is expected. There might be a gap between expectation and reality with kubeadm FeatureGates, if I got it correctly that they require execution of `kubeadm init` which we never repeat after the initial cluster creation.

(I assume that we up

[2021-05-17 19:08] vincepri commented on #4180
Yeah that makes sense, I wonder if there is some middle ground because I do see having feature gates might be useful to some, although if we don't plan to have this anytime soon, I'm fine closing this issue.

[2021-05-17 19:50] shysank commented on #4180
The feature gates only support two flags right now: `PublicKeysECDSA, IPv6DualStack`. Not sure if it is worth to take the risk unless there is an immediate requirement.

[2021-05-17 21:36] mboersma opened #4629 "Tests should use a randomly generated namespace"
**What steps did you take and what happened:**

In refactoring the unit/integration tests for #4588, we noticed that they use the "default" namespace, and not always through the `v1.NamespaceDefault` constant.

**What did you expect to happen:**

We should review and unify the use of namespaces in the tests so that each uses a randomly-generated namespace to avoid collision, and so we are not poll

[2021-05-18 09:22] fabriziopandini commented on #4629
+100 to this.
It is also compliant with what we are recommending in https://cluster-api.sigs.k8s.io/developer/testing.html#quick-reference

[2021-05-18 09:24] fabriziopandini commented on #4180
Closing this as per discussion above; when can eventually reconsider if a specific uses case arise.
/close

[2021-05-18 09:25] #4180 closed

[2021-05-18 09:30] fabriziopandini commented on #4588
@mboersma great to sees so much progress in this domain, thanks!

[2021-05-18 09:39] fabriziopandini commented on #4334
As far as I remember there are already 3 ways to set this setting: if you don't want to use the file, and you are not considering to  inject your own config provider, you can just set an env variable in you code and the library will pick up the setting.

Generalising a little bit, I don't think we should add field in method signature for each specific setting, otherwise things can get easily out o

[2021-05-18 09:41] fabriziopandini commented on #4620
Might be I'm wrong here, and we are pinning the kind version under hack/tools. Let's be consistent and do the same

[2021-05-18 09:45] fabriziopandini commented on #3761
@vincepri @randomvariable  what about closing this issue given that we already have chunks of this work moving on separated threads (ignition, kubelet authenticator)?

[2021-05-18 13:59] #3831 closed

[2021-05-18 15:07] fabriziopandini commented on #4507
/milestone next
This should wait after we remove v1alpha3 API (v1alpha3 API  is embedding kubeadm v1beta1 types 😞 )

[2021-05-18 15:14] vincepri commented on #4507
Could we add a deprecation notice to the package at least?

[2021-05-18 15:55] #4588 closed

[2021-05-18 16:51] sbueringer commented on #4622
@stmcginnis @fabriziopandini @vincepri I adjusted the issue description above to reflect the open tasks. I would suggest adding the help wanted label, wdyt?

[2021-05-18 17:03] stmcginnis commented on #4622
Sounds good. Working on the next step now, but would be good to capture more that we want to do under this issue and see if we want to crowdsource knocking those out.

[2021-05-18 17:09] sbueringer commented on #4622
@stmcginnis Ah, alright. Let's just try to make clear which parts are already in progress and which might be available for crowdsourcing (in case there are any - your choice).

[2021-05-18 17:19] sbueringer commented on #4620
@fabriziopandini Currently we pin the kind version in:
* `go.mod`
* `test/infrastructure/docker/go.mod`
* `hack/ensure-kind.sh` (`MINIMUM_KIND_VERSION=v0.9.0`)

But agree we should use the same version for e2e testing and image publishing.

[2021-05-18 17:21] sbueringer commented on #4629
Also the same way as the Kubernetes conformance tests are working and it's working great there, so it should also be a good fit for us.

[2021-05-18 20:54] stmcginnis opened #4632 "Update to v1alpha4 imports did not update tests"
**What steps did you take and what happened:**

While updating imports I noticed there are several places where an alias of something like `clusterv1alpha1`
and `clusterv1alpha2` were both changed to import `v1alpha4`. These tests appear to be testing the
migration between these versions, but now are testing the same thing.

This happened in commit e73e3d9021e5df61ea2861be6f73698a031a63c3 and a sp

[2021-05-18 23:43] CecileRobertMichon commented on #4632
@vincepri @fabriziopandini this one should probably be release blocking, wdyt?

[2021-05-18 23:45] CecileRobertMichon commented on #4629
/help

[2021-05-19 02:21] hzliangbin commented on #4629
/assign

[2021-05-19 02:34] hzliangbin commented on #4629
@mboersma hi, are you working on this already?

[2021-05-19 02:42] mboersma commented on #4629
@hzliangbin no, please have at it, and thanks!

I looked at it briefly and my only thoughts are:

- it will be a lot of work
- maybe we can use testEnv.CreateNamespace(ctx, t.Name())

[2021-05-19 03:25] sbueringer commented on #4629
@hzliangbin  I would suggest to implement it first on a relatively small package to establish the correct way to do it and then post a list like here https://github.com/kubernetes-sigs/cluster-api/issues/4588#issuecomment-838174633 in this issue to give an overview and possibly crowdsource it (your choice).

[2021-05-19 05:53] chrischdi opened #4634 "Increase unit test coverage in bootstrap/kubeadm/internal/cloudinit"
**User Story**

Currently not all functions inside `bootstrap/kubeadm/internal/cloudinit` are covered in unit tests.
We want to add more coverage by adding tests for the remaining methods.

Current state (as of today):
[code]

#4630 is a first PR which includes additional tests for `NewNode`

/kind feature

[2021-05-19 08:18] fabriziopandini commented on #4632
I'm +1 to get this fixed ASAP
I would be great if we make a list of the occurrence of this problem.

(I have searched for "sigs.k8s.io/cluster-api/api/v1alpha4", and I have found only one file with two times the same import, util/conversion/conversion_test.go; here it should not be relevant, given we are testing the marshal annotation, but nevertheless it would be nice to get this fixed)

[2021-05-19 11:05] bigkevmcd commented on #3968
/assign

[2021-05-19 12:04] enxebre commented on #4457
I'm closing this as the 3 referenced PRs got merged and lay down a decent basis. Let's create new issues for any particular upcoming increase coverage.
/close

[2021-05-19 12:04] #4457 closed

[2021-05-19 14:58] #4468 closed

[2021-05-19 15:18] fabriziopandini opened #4635 "Document CRS API does not allow empty selectors"
As per https://github.com/kubernetes-sigs/cluster-api/pull/4036#issuecomment-786981907 we should improve the CustomResourceSet API documentation (https://github.com/kubernetes-sigs/cluster-api/blob/f5dec18def709194f81a6106943ad80a88e8b4e5/exp/addons/api/v1alpha4/clusterresourceset_types.go#L40) making it explicit that empty selector are not allowed.

/kind documentation
/help
/good-first-issue

[2021-05-19 15:22] vincepri opened #4636 "KubeadmControlPlane: Support metadata for machines and propagate to all templates"
This issue is to track the support of the adding `clusterv1.ObjectMeta` object information to the KCP object.

Currently, we have a single field called `InfrastructureTemplate` under `spec` which gives information to KCP on how to create the infrastructure of machines https://github.com/kubernetes-sigs/cluster-api/blob/06f58a66353d5a22a2849f2f516ee71e4664c323/controlplane/kubeadm/api/v1alpha3/kube

[2021-05-19 15:22] sbueringer commented on #4622
Another suggestion. There's also an `importas` linter. This can be used to enforce that certain packages are always imported with the "correct" name. Imho this makes the code easier readable (e.g. because you know that you always use corev1 to import a certain package etc...) and avoids duplicate imports.

If we want to use it, I would restrict it to certain very frequently imported packages. Here

[2021-05-19 15:45] enxebre commented on #4635
@fabriziopandini Title mention CRS but the PR desc references MHC, is this intended?

[2021-05-19 16:48] sedefsavas commented on #4635
Maybe we can add a generic note for this, something like `selectors in cluster-api projects should not "match all" if left empty`.
Considering we are going to be selecting all namespaces explicitly for multitenancy too, this will apply to all selectors.

[2021-05-19 16:55] sbueringer commented on #4635
I didn't look it up, but if it's not allowed should we block it via the webhook? (maybe we're already doing it)

[2021-05-19 16:58] sedefsavas commented on #4635
Yes, already not allowing empty selectors in the webhook for both CRS and MHC.

[2021-05-19 17:04] schrej commented on #4636
In MachineDeployment and MachineSet the reference is called `infrastructureRef`, so maybe we should be consistent here?

[2021-05-19 17:08] vincepri commented on #4636
/lifecycle active
/assign

[2021-05-19 17:10] vincepri commented on #4337
/close

Closing in favor of #4636

[2021-05-19 17:10] #4337 closed

[2021-05-19 17:18] #3424 closed

[2021-05-19 18:10] sbueringer commented on #4634
@fabriziopandini I assume help wanted?

[2021-05-19 18:19] sbueringer commented on #4325
Me too. But we'll see in the PR. The only other endpoints we have are the webhooks and they are not using kube-rbac-proxy.

[2021-05-19 21:31] sedefsavas commented on #4180
Sorry just saw this discussion.
@fabriziopandini
We need to enable additional flags for enabling CSI (it is a requirement for k8s versions > 1.22)
For existing clusters to continue to work after upgrading to v1.22, we need to enable these for CAPA:
`CSIMigration + CSIMigrationAWS`, see https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1475 for details.

This may be the case for ot

[2021-05-20 01:21] shysank commented on #4180
@sedefsavas I think these feature gates are specific to kubeadm. To control the featureGates of kubernetes componenets, you'll have to pass it through extra args. eg:

[code]
These are already allowed in #3994 . @fabriziopandini correct me if I'm wrong.

[2021-05-20 08:55] fabriziopandini commented on #4180
That's right
feature gates for the API server (as well for other components) are already mutable; this issue instead was about for kubeadm specific feature flags.

[2021-05-20 09:21] fabriziopandini commented on #4634
/help
/milestone v0.4

Putting in the milestone because the sooner, the better, but this is not blocking for the release

[2021-05-20 09:36] alexander-demichev opened #4641 "Operator: Add summary condition to providers"
Add summary condition to providers - https://github.com/kubernetes-sigs/cluster-api/pull/4520#issuecomment-825681304

/kind feature
/area operator

[2021-05-20 09:41] alexander-demichev opened #4642 "Operator: Add ObservedGeneration field to provider status"
Add ObservedGeneration field to provider status. This is a common pattern for other CAPI resources.

https://github.com/kubernetes-sigs/cluster-api/pull/4520#discussion_r625632177

/kind feature
/area operator

[2021-05-20 10:02] fabriziopandini commented on #4635
The issues is about CRS - this was the scope of the original PR -. I have fixed the link to the API (Not sure why the original comment was referring to MHC).

If we want to broaden the scope I'm fine with this, but given this is a good first issue let provide as much detail as we can so also newcomers can take up the issue.

[2021-05-20 10:03] fabriziopandini commented on #4642
/milestone Next

[2021-05-20 10:03] fabriziopandini commented on #4641
/milestone Next

[2021-05-20 14:18] Madhur13 commented on #4635
Hello @fabriziopandini
I am new to this community. Would like to get started with this good first issue. Can you please assign this to me?

[2021-05-20 14:29] #3834 closed

[2021-05-20 16:14] fabriziopandini commented on #4635
/assign @Madhur13
/lifecycle active

[2021-05-20 16:18] CecileRobertMichon commented on #3880
/remove-lifecycle stale
/unassign @wangzewang

[2021-05-20 17:17] fabriziopandini commented on #3880
Should we make this release blocking, it seems pretty important to me no matter if MachinePools are still experimentals

[2021-05-20 17:19] CecileRobertMichon commented on #3880
I can take this one. I don't think it's release-blocking since it's not a breaking change, and MachinePools are experimental but agree we should get it done sooner rather than later.

/assign

[2021-05-20 18:32] vincepri commented on #4635
/milestone v0.4

[2021-05-20 18:38] vincepri commented on #4146
/unassign @furkatgofurov7
/remove-lifecycle active

[2021-05-20 18:38] ykakarap commented on #4151
I can work on this
/assign

[2021-05-20 18:38] vincepri commented on #4146
/remove-lifecycle stale

[2021-05-20 20:04] vincepri commented on #2182
Closing this due to inactivity

/close

[2021-05-20 20:04] #2182 closed

[2021-05-21 09:14] Thor-wl commented on #1796
Well, how can i get the path of kubeconfig when kind is upgraded to v0.9.0? Anyone can help?

[2021-05-21 10:40] #3360 closed

[2021-05-21 14:50] tcordeu commented on #3728
@fabriziopandini can I work on this one? If so, can you provide some tips on where to start?

[2021-05-21 17:01] fabriziopandini commented on #3360
/re-open
given that some work still has to be done (--raw if remember well; @shysank to keep me honest here)

[2021-05-21 17:03] fabriziopandini commented on #3360
Uhmm it seems I can re-open this, @shysank what about opening a new issue to track the missing part

[2021-05-21 18:31] fabriziopandini commented on #3728
Sure!
So, currently in out e2e we are testing pivot a management cluster to a self hosted cluster, see https://github.com/kubernetes-sigs/cluster-api/blob/master/test/e2e/self_hosted.go (*), however, after pivoting, we don't do any operation on the self hosted managed cluster (apart from checking it is reconciling itself).

(*) Note that we cannot pivot the kind management cluster, because it is s

[2021-05-21 18:33] shysank opened #4650 "Refactor clusterctl generate - add --raw option to generate provider"
**User Story**

Part 2 of #3360

#4584 refactored config cluster and provider subcommands to generate subcommands. We want to add `--raw` option to `clusterctl generate provider` which will skip yaml processing (not replace env variables). This also includes refactoring `skipVariables` to `skipProcess` in code.

As a [developer/user/operator] I would like to [high level description] for [reasons]

[2021-05-21 18:34] shysank commented on #3360
Done

[2021-05-21 19:54] #3880 closed

[2021-05-21 21:11] jackfrancis opened #4651 "MachineDeployment version validation"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

In a MachineDeployment resource spec, if you declare a `spec.template.spec.version` value that omits the `v` prefix (e.g., "1.19.10" instead of "v1.19.10") a strange side-effect happens: the MachineDeployment gets stuck in a ScalingUp state:

[code]

In the capi-controller logs you see a

[2021-05-21 23:37] #3764 closed

[2021-05-24 09:20] fabriziopandini commented on #4651
This issue is somehow related to this ticket https://github.com/kubernetes-sigs/cluster-api/issues/3697

[2021-05-24 10:55] #4636 closed

[2021-05-24 11:03] fabriziopandini commented on #3042
I don't think we are going to backport this; changes are sort of invasive and not all the guidelines for the providers (https://github.com/kubernetes-sigs/cluster-api/pull/4514) are not yet merged

[2021-05-24 11:13] fabriziopandini commented on #2769
@vincepri @CecileRobertMichon I think we can close this one

Instead IMO we should bump priority for following issues/PRs which are mandatory to get v1alpha4 to work with Kubernetes v1.22:
- Issue https://github.com/kubernetes-sigs/cluster-api/issues/4423; PRs https://github.com/kubernetes-sigs/cluster-api/pull/4485 and https://github.com/kubernetes-sigs/cluster-api/issues/4423
- issue https://git

[2021-05-24 11:26] fabriziopandini commented on #2693
@vincepri @CecileRobertMichon I have checked this issue and I'm +1 to remove release blocking / punt to a next release.

As of today almost all the fields defaulting to empty string are not showing up anymore, but however we have have still empty struct still showing up (here an example):

[code]

I'm going to check the latest empty string showing up (advertiseAddress) as well as `bindPort: 0`; in

[2021-05-24 12:26] fabriziopandini commented on #2693
I quickly checked advertiseAddress and bindPort inside localAPIEndpoint; in order to get fixed it is required to add omit empty/optional to the two fields, but personally I don't think we should do this given that the discussion about converting localAPIEndpoint field to a point probably provides a better fix.

[2021-05-24 15:19] sbueringer commented on #2769
@fabriziopandini  @CecileRobertMichon  @vincepri  Will 1.22 support be mandatory for the CAPI v0.4.0 release and does bump up then mean release blocking?

(I don't really know when we wanted to release v0.4.0, Kubernetes 1.22 release seems to be mid-August according to https://github.com/justaugustus/enhancements/blob/2887453eac5cbc5fbd31112fd3d0be2be17b456c/keps/sig-release/2572-release-cadence/R

[2021-05-24 15:22] vincepri commented on #4445
/unassign @davideimola

@shysank Are you able to take care of this?

[2021-05-24 15:23] vincepri commented on #4445
/priority important-soon

[2021-05-24 15:34] vincepri commented on #2693
What about the empty structs? Can we fix those?

[2021-05-24 15:46] fabriziopandini commented on #2693
It requires to change from

[code]

To

[code]

(Adding the pointer in front of the types and fixup conversions to all the spoke: capi v1alpha3, kubeadm v1bet1, v1beta2 and soon v1beta3)

[2021-05-24 15:55] vincepri commented on #3782
@randomvariable @yastij Can this be part of machine attestation?

[2021-05-24 16:01] vincepri commented on #4651
cc @CecileRobertMichon

[2021-05-24 16:18] shysank commented on #4445
/assign

[2021-05-24 16:25] CecileRobertMichon commented on #4651
this is a little different, the issue here is that we are not normalizing the k8s version (adding `v` prefix) in the MachineDeployment webhook the same way we do for the KCP, Machine, and MachinePool webhooks. This results in Machines getting created correctly with the v prefix added but the MachineDeployment version doesn't match and somehow (that part is still unclear to me) it keeps trying to r

[2021-05-24 16:32] sedefsavas opened #4655 "Allow accepting data loss from spoke to hub in FuzzTests"
Since there are breaking changes from v1alpha3 to v1alpha4, we can expect some data loss from v1alpha3 to 4 caused by removing a field from v1alpha4 that exist in v1alpha3.

For values that exist in the spoke version but does not exist in the Hub version, we need to define `SpokeBeforeMutation` for fuzz tests to pass.

[2021-05-24 16:50] fabriziopandini commented on #4655
@sedefsavas currently we are already doing so implementing custom fuzzer functions like in https://github.com/kubernetes-sigs/cluster-api/blob/db4736853644a6440a1b2eea990d7af99a29d992/bootstrap/kubeadm/types/v1beta2/conversion_test.go#L110-L115

[2021-05-24 16:57] fabriziopandini commented on #2769
Yes, with bump up I intended to make this release blocking.
The rational behind this is that IMO we should cut v1alpha4 only if it working with v1.22 - at that time (things can change of course, but we should have all the know problems out of the table).

[2021-05-24 17:11] jackfrancis commented on #4651
@CecileRobertMichon where do we normalize in the other webhooks? I can try to put together a PR w/ the equivalent for MachineDeployment

[2021-05-24 18:06] CecileRobertMichon commented on #2769
+1 not blocking releasing v0.4 on the release timeline of k8s 1.22

@fabriziopandini, you are saying that we can cut v1alpha4 even if 1.22 is not out yet, given that we have fixed the known compatibility issues defined above, correct?

[2021-05-24 18:06] CecileRobertMichon commented on #4445
/kind release-blocking

[2021-05-24 18:40] CecileRobertMichon commented on #4423
/kind release-blocking

[2021-05-24 18:41] CecileRobertMichon commented on #4651
@jackfrancis that'd be great. Here's an example: https://github.com/kubernetes-sigs/cluster-api/blob/master/api/v1alpha4/machine_webhook.go#L58

[2021-05-24 18:45] #4503 closed

[2021-05-24 19:10] fabriziopandini commented on #2769
yes, let's do our best to get ready for v1.22 within v0.4, but we should not wait for it (I edited my comment above to make it clear, I hope)

[2021-05-24 19:10] vincepri commented on #4655
/milestone Next
/priority awaiting-more-evidence

[2021-05-24 19:11] vincepri commented on #2769
Just to clarify, if we're not ready for 1.22 we shouldn't block the release, but rather add the support in a patch release

[2021-05-24 19:11] vincepri commented on #2769
Also, given that 1.22 isn't ready yet, we're relying on an alpha/beta/rc version which until release could still bring in additional required changes

[2021-05-24 19:15] vincepri commented on #2693
Hm, if the APIServer struct is empty, it shouldn't be printed out in the resulting json

[2021-05-24 19:17] vincepri commented on #2693
Oh, it seems that we're embedding slices, maps, and another struct in `APIServer` which might be causing the struct to be printed out as `{}`. We should double check this though.

[2021-05-24 19:19] vincepri commented on #4650
Is there any use case for the `--raw` variable? Not opposed to it, just trying to understand the reasoning + get some requirements in place.

[2021-05-24 19:27] sbueringer commented on #4405
Status update: https://github.com/kubernetes-sigs/cluster-api/issues/4503#event-4788226698 has been merged. So I'll take a look the next few days if the "container is not running" issue is gone as expected

[2021-05-24 19:34] fabriziopandini commented on #2693
#2769 is already there now.
But I agree that changing everything to pointers is a lot of work for little gain

[2021-05-24 19:34] shysank commented on #4650
This is to replicate the current [behavior](https://github.com/kubernetes-sigs/cluster-api/issues/3360#issuecomment-662681629) of `clusterctl config provider -i aws -o yaml` which does not do variable substitution.

[2021-05-24 19:36] fabriziopandini commented on #2769
I think we are in agreement.
Let try to get ready as much as possible.

[2021-05-24 19:36] fabriziopandini commented on #2769
What about closing this issue?

[2021-05-24 19:47] vincepri commented on #2769
/close

[2021-05-24 19:48] #2769 closed

[2021-05-24 19:48] vincepri commented on #2693
+1 to close?

[2021-05-24 19:48] vincepri commented on #4650
/milestone v0.4

[2021-05-24 19:48] vincepri commented on #4650
/area clusterctl

[2021-05-24 19:52] sbueringer commented on #2693
+1 from me. The remaining "issues" doesn't seem to be worth the effort.

[2021-05-24 20:19] fabriziopandini commented on #2693
As per discussion above
/close

[2021-05-24 20:19] #2693 closed

[2021-05-24 20:57] CecileRobertMichon commented on #4651
/assign @jackfrancis

[2021-05-24 23:16] mrajashree opened #4658 "Add support for managed external etcd clusters in CAPI"
**User Story**

As an end user, I want to be able to create a Kubernetes cluster that uses external etcd topology using CAPI with a single step. CAPI will first provision an external etcd cluster and then use it for the workload cluster. CAPI will also manage this external etcd cluster.

**Detailed Description**

This feature request is for adding support for provisioning external etcd clusters in

[2021-05-24 23:53] jsturtevant opened #4660 "Failing conformance test"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
https://testgrid.k8s.io/provider-azure-master-signal#capz-conformance

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/capz-conformance-master/1396926343957975040

The test is showing green but is not running any tests since 05-21.  This appears to be a change introduced in the way t

[2021-05-25 00:30] dims commented on #4660
@wilsonehusin @vladimirvivien @johnSchnake

[2021-05-25 01:51] wilsonehusin commented on #4660
posting for visibility -- the actual error quoted in the issue came from here:
https://github.com/kubernetes/kubernetes/blob/f545438bd347d2ac853b03983576bf0a6f1cc98b/cluster/images/conformance/go-runner/main.go#L63-L66

[2021-05-25 01:56] wilsonehusin commented on #4660
also generally the conformance image doesn't expect the results directory (i.e. `/tmp/results` for default) to be present in container because it's supposed to be a mounted volume

https://github.com/kubernetes/kubernetes/blob/f545438bd347d2ac853b03983576bf0a6f1cc98b/cluster/images/conformance/conformance-e2e.yaml#L71-L77

[2021-05-25 02:09] wilsonehusin commented on #4660
reading again on the actual docker command on Prow console --

[code]

i believe the intent here is to execute the ginkgo binary, but as of https://github.com/kubernetes/kubernetes/pull/99178, the conformance image actually [defines `ENTRYPOINT` to be the conformance binary](https://github.com/kubernetes/kubernetes/blob/f545438bd347d2ac853b03983576bf0a6f1cc98b/cluster/images/conformance/Dockerfile

[2021-05-25 06:15] sbueringer commented on #4405
Still occurs ([link](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/periodic-cluster-api-e2e-main/1396983973665574912)), but that makes sense as in some tests we're using images published by old kind versions ([docker images](https://hub.docker.com/r/kindest/node/tags?page=1&ordering=last_updated)). These images still contain the old entrypoint script.

I'll open a PR to upgrade to the latest

[2021-05-25 08:09] sedefsavas commented on #4655
Thanks @fabriziopandini, yes this is what I was looking for.

[2021-05-25 08:09] #4655 closed

[2021-05-25 09:34] sbueringer opened #4665 "Document our build jobs and current e2e test coverage"
**User Story**

As a developer/maintainer I would like to have an overview which builds and e2e tests are executed on presubmit, periodically or postsubmit in CAPI. This is useful to make it easier to get a grasp of how our build works and what we're testing. It's also useful for maintainers to analyze if there are gaps  in our test coverage.

**Detailed Description**

Goal of this issue is to add

[2021-05-25 09:37] sbueringer commented on #4665
/assign

[2021-05-25 10:12] #4660 closed

[2021-05-25 10:27] fabriziopandini commented on #4665
@sbueringer thanks for filing this issue.
IMO this documentation should target CAPI developers/mantainers, and the main goal should be to provide some hints to help people to self-triage failures; including also tips on how to run those jobs locally (or link to other pages explaining this).

Also, ideally we should document or at least quote the jobs which are not running in prow (GitHub workflows

[2021-05-25 10:58] sbueringer commented on #4665
@fabriziopandini

I agree, I updated the issue description accordingly.

I think I got all Jobs of the main repo I'm aware of. Can you check if I missed something?

You can ignore the documentation style. I'll document it differently in the book and would like to add the things you suggested and some kind of test matrix.

[2021-05-25 14:34] randomvariable commented on #3782
it's completely orthogonal. machine attestation isn't part of control plane provisioning (because you're providing the machine with the secret data). we'll need to treat it as part of whatever happens if we revisit #4221

[2021-05-25 14:34] vincepri commented on #4364
/milestone Next
/assign @fabriziopandini

[2021-05-25 14:35] vincepri commented on #4386
/milestone v0.4
/assign @sbueringer
/lifecycle active

[2021-05-25 14:36] vincepri commented on #4419
/milestone v0.4
/help
/priority backlog

[2021-05-25 14:37] vincepri commented on #4405
/priority important-soon
/milestone v0.4
/assign @sbueringer
/lifecycle active

[2021-05-25 14:37] vincepri commented on #4423
/milestone v0.4

[2021-05-25 14:38] vincepri commented on #4429
/priority awaiting-more-evidence
/milestone Next

[2021-05-25 14:39] vincepri commented on #4444
Folks, what's the status of this discussion? Could we follow up with an update to the book stating our support range a bit more?

[2021-05-25 14:39] vincepri commented on #4444
/milestone Next
/kind documentation
/priority important-soon

[2021-05-25 14:40] vincepri commented on #4446
/milestone Next

[2021-05-25 14:43] vincepri commented on #4447
@detiber Are you talking about corev1.Node objects above? If so, we can already make use of the remote ClusterCacheTracker https://github.com/kubernetes-sigs/cluster-api/blob/master/controllers/remote/cluster_cache.go#L52-L60

[2021-05-25 14:43] vincepri commented on #4447
/milestone Next

[2021-05-25 14:45] vincepri commented on #4450
/milestone Next

[2021-05-25 14:55] vincepri commented on #4461
/milestone v0.4

[2021-05-25 15:01] vincepri commented on #4508
/close

Closing for now, given that we have today works fine.

[2021-05-25 15:01] vincepri commented on #4557
/milestone v0.4

[2021-05-25 15:02] vincepri commented on #4518
/milestone v0.4

[2021-05-25 15:05] #4429 closed

[2021-05-25 18:24] #4555 closed

[2021-05-25 18:55] vincepri commented on #4658
/milestone Next
/kind proposla

[2021-05-25 18:55] vincepri commented on #4658
/kind proposal

[2021-05-25 21:00] #4651 closed

[2021-05-26 00:39] #4423 closed

[2021-05-26 05:39] sedefsavas opened #4672 "Divide KCP upgrade e2e test into multiple tests"
KCP upgrade tests include 2 HA cluster upgrade tests which takes too long for providers.

For the providers that parallelize their e2e tests, calling a time-consuming cluster-api test spec reduces the parallelization benefits. Instead dividing these tests will allow providers to choose which test to call and parallelise accordingly.

I propose to place [scale-in-rollout](https://github.com/kuberne

[2021-05-26 05:39] sedefsavas commented on #4672
cc @jan-est

[2021-05-26 06:34] jan-est commented on #4672
Thanks @sedefsavas
Is there anyone in the community who could like work on this one right away?

[2021-05-26 07:56] gyliu513 opened #4673 "[capd] failed to create capi-quickstart.yaml"
**What steps did you take and what happened:**
Following the guidance at https://cluster-api.sigs.k8s.io/user/quick-start.html for CAPD.

[code]
[code]
[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version:
- Minikube/KIND version:
- Kubernetes version: (use `k

[2021-05-26 08:01] schrej commented on #4673
Since you didn't provide a clusterctl version in your issue this is just a guess, but if you're using the latest development version, I think you'll need to use local artifacts as described here: https://cluster-api.sigs.k8s.io/clusterctl/developers.html#use-local-artifacts

[2021-05-26 08:05] gyliu513 commented on #4673
[code]

I was using 0.3.16, @schrej

[2021-05-26 08:12] chymy commented on #4493
After testing, `apiServerEndpoint` is loadbalancer, adjust the following code order, upgrade and downgrade are successful.
because call the `workloadCluster.RemoveMachineFromKubeadmConfigMap` and `r.Client.Delete` before `controlPlane.IsEtcdManaged()` etcd , and the infrastructure is triggered to clean up successfully the old apisever instance used by loadbalancer. If `RemoveEtcdMemberForMachine`

[2021-05-26 08:33] fabriziopandini commented on #4673
When doing "clusterctl config cluster" with CAPD you have to add `--flavor development`(as per https://cluster-api.sigs.k8s.io/user/quick-start.html#generating-the-cluster-configuration)
Also, I got reports that kind images for v1.18.16 are not available on GitHub, so I suggest to use v1.18.19 (see https://hub.docker.com/r/kindest/node/tags for the list of available images)

[2021-05-26 08:36] fabriziopandini commented on #4672
/kind feature
/area testing
/milestone v0.4
(setting milestone 0.4 given it seems that the sooner the better)

[2021-05-26 08:48] fabriziopandini commented on #4672
/help

[2021-05-26 09:21] fabriziopandini commented on #4665
sgtm, off to a great start!

[2021-05-26 11:24] fabriziopandini opened #4676 "Refactor raw yaml const in tests"
As per discussion on https://github.com/kubernetes-sigs/cluster-api/pull/4643#discussion_r638229515, on our tests we are using two mixed approached for multiline yaml const

multiline string, not ideal because it does not respect indentation. e.g

https://github.com/kubernetes-sigs/cluster-api/blob/7478817225e0a75acb6e14fc7b438231578073d2/controlplane/kubeadm/internal/workload_cluster_test.go#L809

[2021-05-26 13:39] gyliu513 commented on #4673
it works, thanks @fabriziopandini

[2021-05-26 13:39] #4673 closed

[2021-05-26 14:42] vincepri commented on #4676
Works for me!

[2021-05-26 14:42] vincepri commented on #4676
/help
/milestone v0.4
/priority backlog

[2021-05-26 15:39] tcordeu commented on #4672
I can work on this one! @fabriziopandini @jan-est

[2021-05-26 16:36] tcordeu commented on #4672
I am going to go ahead and assign myself, If anyone is already working on it feel free to unassign me.

/assign @tcordeu

[2021-05-26 17:46] vincepri opened #4679 "Consider removing kube-rbac-proxy from release-0.3"
A follow-up issue discussion from May 26th community meeting and https://github.com/kubernetes-sigs/cluster-api/issues/4325.

We recently updated kube-rbac-proxy to v0.8 in #4639, although after further consideration we might want to stop making a choice for our users and let them secure metrics endpoints by patching our components instead of shipping all our managers with a somewhat opinionated s

[2021-05-26 18:03] elmiko opened #4681 "MachineHealthCheck external remediations should generate an event if not removed within a reasonable time period"
**User Story**

As an operator I would like to know when my external remediations have not been acted upon within a reasonable amount of time. Ideally I want to see an event or some form of alert that tells me an external remediation has been created but not acted upon.

**Detailed Description**

When the MachineHealthCheck instantiates an external remediation template it has no way of knowing wha

[2021-05-26 18:47] #4559 closed

[2021-05-26 18:54] CecileRobertMichon commented on #4679
cc @randomvariable @micahhausler

[2021-05-26 19:53] fabriziopandini commented on #4672
/lifecycle active

[2021-05-26 21:40] PushkarJ commented on #4446
FYI, A new slack channel is created for focussed discussion on this topic in Kubernetes slack workspace: [#sig-security-assess-capi](https://kubernetes.slack.com/archives/C022K4F2W4W)
Related: https://github.com/kubernetes/community/pull/5792

[2021-05-26 21:44] dthorsen commented on #4679
Shipping an opinionated solution (including kube-rbac-proxy out of the box) seems to be shipping a "secure default" configuration and seems reasonable. There is nothing stopping our users from patching kube-rbac-proxy out and replacing it with something else. Do we have data that suggests the majority of users replace it with something else that would warrant changing the default?

[2021-05-26 21:58] vincepri commented on #4679
@dthorsen There is a PR in flight to remove kube-rbac-proxy in v0.4, this request is potentially to backport that change.

Regarding the secure default bit, we've actually came to this conclusion because we were shipping a very old version of kube-rbac-proxy that was affected by a CRD, so we were opting to change the defaults to only listen for metrics on a localhost port that can be potentially b

[2021-05-26 22:27] vincepri commented on #4218
@sedefsavas Could we check the same with the latest version of controller runtime? The mapping functions, when used with PartialObjectMetadata should have the type information filled in now

[2021-05-27 08:35] shivi28 commented on #4676
/assign @shivi28

[2021-05-27 10:37] fabriziopandini commented on #4232
@vincepri I don't see problems in enabling this (it triggers a rollout, but this seems fine for me).
opinions?

[2021-05-27 11:52] fabriziopandini opened #4684 "Improve log streaming for E2E tests"
**User Story**

As a developer I would like that the E2E framework streams all the logs from my controllers during a test

**Detailed Description**

When we install providers using the E2E test framework, we start a go routine that streams logs from the pods hosting our CAPI/Providers controllers.

However, now that our test are getting more and more complex, it happens that the pods hosting CAPI/

[2021-05-27 12:43] xannz commented on #4572
I was looking for this functionality for my use case. I would like to set up the management cluster via ArgoCD and a dry run flag would be really useful here to retrieve all the needed yaml manifests.

[2021-05-27 13:26] wuli-jessica opened #4685 "The cluster status is stuck in "Deleting""
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
Hi. When I created the workload cluster, I encountered the "providerClient authentication err: Authentication failed" because I wrote something wrong in clouds.yaml , and when I executed "kubectl delete" to delete the cluster, the command did not return and the cluster was stuck in "Deleti

[2021-05-27 13:50] fabriziopandini commented on #4685
Contributions are always welcome!

As far as I understand this problem, most probably this issue has different connotations on the various infrastructure providers, because CAPI "core" does not handle infrastructure credentials at all.
So my suggestion is to close this issue here and open a new one in the repository for the infrastructure provider of your choice

[2021-05-27 14:39] vincepri opened #4687 "Consider releasing the our test folder as a separate go module"
There is a couple of PRs that introduce a dependency on docker (https://github.com/kubernetes-sigs/cluster-api/pull/4499 and https://github.com/kubernetes-sigs/cluster-api/pull/4413) which would become a dependency in the main Cluster API `go.mod`.

While these are good improvements, it'd be great to completely separate everything under testing into a different go module and release the module sep

[2021-05-27 16:51] vincepri commented on #4685
/milestone Next

[2021-05-27 17:12] vincepri commented on #4632
/assign
/lifecycle active

[2021-05-27 17:16] vincepri commented on #4632
/kind release-blocking

[2021-05-27 18:23] ykakarap commented on #4146
/assign

[2021-05-27 19:04] #4632 closed

[2021-05-27 19:18] dthorsen commented on #4679
I see. I don't feel strongly either way, but if the fix is simply to change the kube-rbac-proxy tag, wouldn't that be a less disruptive fix for users?

[2021-05-27 20:50] #4056 closed

[2021-05-27 22:04] #4258 closed

[2021-05-27 23:18] #4672 closed

[2021-05-27 23:37] vincepri commented on #3782
/lifecycle frozen

[2021-05-28 00:57] #4685 closed

[2021-05-28 10:33] fabriziopandini commented on #4687
I'm +100 to move envtest env into `util/test` (and finally drop the `test/helpers` folder)

I'm also ok with the go mod reorg; this has the nice side effect that kind will be removed from top level CAPI dependencies

WRT to introduce docker as a dependency, this is an interesting change, and hopefully it will help us in having better error messages in case of problems (vs shelling out). However, I

[2021-05-28 12:39] yastij commented on #4687
+1 from me

[2021-05-28 18:42] jackfrancis opened #4702 "non-deterministic test outcome for TestClusterResourceSetReconciler"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

While investigating non-deterministic UT results, I received this failure on the 31st test run in a loop:

[code]

**What did you expect to happen:**

I expect every UT run to produce the same results.

**Anything else you would like to add:**
[Miscellaneous information that will assist i

[2021-05-28 19:30] #4445 closed

[2021-05-29 10:22] #3380 closed

[2021-05-30 12:46] Madhur97 commented on #4635
/unassign @Madhur13

[2021-05-30 12:47] Madhur97 commented on #4635
/assign @Madhur97

[2021-05-30 14:35] aayushrangwala commented on #4642
/assign

[2021-05-30 14:56] aayushrangwala commented on #4650
/assign

[2021-05-31 06:58] arianvp commented on #3762
Would it make sense to use https://spiffe.io/ for abstracting the node attestation part so it's cloud-agnostic (and works on prem; e.g. with the TPM attestor? )

[2021-05-31 08:36] fabriziopandini commented on #3762
@randomvariable @yastij
In the proposal recently merged https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/20210222-kubelet-authentication.md#spirespiffe there was a session explaining why SPIFFIE alternative was not selected.

[2021-05-31 08:45] arianvp commented on #3762
Thanks for the like to the proposal. This looks very interesting.

[2021-05-31 13:50] fabriziopandini commented on #3042
We should wait for  #4628 as well

[2021-05-31 16:19] MaxRink opened #4707 "CAPi doesnt wait for CSI volume unbinding"
**What steps did you take and what happened:**
Ive rolled my workers which had volumes provisioned by the vsphere CSI attached.
Some of those volumes did not detach properly as CAPI was too fast and removed the nodes before the csi controller could fully detach the volumes.

**What did you expect to happen:**
CAPI waits until volumes are detached.

**Anything else you would like to add:**
We had a

[2021-05-31 17:29] enxebre commented on #4707
@MaxRink what does signal the csi controller to detach the volumes?

[2021-05-31 17:34] MaxRink commented on #4707
The pod eviction, after the pods are stopped the csi controller will detach the voumes so they can be rebound on another node.
Right now, as far as capi is concerned, after all pods are terminated the node can be safely deleted, getting in the way of the csi nod deamonset and the controller coordinating the volume detachment

[2021-06-01 10:04] fabriziopandini commented on #4707
I'm not sure this is really a CAPI bug, given that CAPI is not really aware of storage providers in use.
Nevertheless, if I got the problem right, machine lifecycle hooks could be a valid solution here; they provide an extension point each provider/each User can exploit to check additional conditions before allowing node deletion, like in this case CSI volumes cleanup.
cc @yastij @gab-satchi

[2021-06-01 10:06] fabriziopandini commented on #3974
@vincepri @CecileRobertMichon opinions about including this in v1alpha4?

[2021-06-01 12:27] yastij commented on #4707
generally speaking I think CAPI should ensure that volumes are properly detached before deleting the machines. That can be done regardless of the storage provider e.g. @jzhoucliqr.

@randomvariable - IIRC CAPA do not have this problem as non-root volumes are detached and preserved on instance termination right ?

[2021-06-01 12:33] fabriziopandini commented on #4482
@vincepri It is still required to do some investigations.

Eg. for the following fields, CABPK applies defaults mostly derived from Machine of Cluster objects; as of today user is allowed to override those defaults, but this can lead to non functional clusters.

| `KubeadmConfig` field                           | Default                                                      |
 | -------------------

[2021-06-01 13:30] MaxRink commented on #4707
Its not only the vsphere CSI which might have that issue btw.
Other providers like  NetApp Trident, Pure PSO and other iSCSI based provisionbers also rely on properly detaching before node deletion.

[2021-06-01 14:42] elmiko commented on #4687
+1, preventing some of those top level dependencies seems really worthwhile.

[2021-06-01 16:02] fabriziopandini commented on #4166
Might be we should raise priority on this topic:

@CecileRobertMichon @nader-ziada @randomvariable @yastij @gab-satchi
opinions?

[2021-06-01 17:38] CecileRobertMichon commented on #3974
This shouldn't be a breaking change correct? I'm +1 on getting this in as soon as we can but I don't think it's blocking for v0.4.0

[2021-06-01 19:39] stmcginnis commented on #4687
Would it make sense to separate the docker engine interaction from the rest of the test code? And keep CAPD separate too?

The changes being proposed for not exec'ing docker calls impacts test infra and CAPD. It might be nice to keep these independent. Then if someone wants to use CAPD outside of our testing, things can be limited to just the parts needed. Vice versa, for a user of the test infras

[2021-06-01 20:23] #4634 closed

[2021-06-01 20:37] vincepri commented on #4707
@yastij Are you thinking about inspecting a node and relative Volumes' status

[2021-06-01 20:43] #4635 closed

[2021-06-02 14:35] randomvariable opened #4712 "May 2021 security updates to Linux kernel restricts access to conntrack sysctls, breaking kube-proxy in CAPD clusters"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

Create a kind cluster
Provision a CAPD cluster
Cluster gets created but kube-proxy is in CrashLoopBackoff with

[code]

**What did you expect to happen:**
Cluster to work

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

This cha

[2021-06-02 14:36] elmiko commented on #4712
this affected me as well

[2021-06-02 14:48] neolit123 commented on #4712
I assume this will affect us in kinder too once we move to a newer kernel
on the host.

Can something be done on the node images to mitigate instead of passing a
component config?

Do sig network know about this and are we going to patch kube proxy?

[2021-06-02 14:48] neolit123 commented on #4712
@aojea do you happen to know?

[2021-06-02 14:50] randomvariable commented on #4712
component config?

If you're thinking "can we set the host value before spinning up", unfortunately not, because the kube-proxy calculates the max conn sysctl it wants to set based on available memory.

[2021-06-02 14:52] randomvariable commented on #4712
I pinged @andrewsykim and @jayunit100 for an opinion on Option 2.

[2021-06-02 15:34] fabriziopandini commented on #4712
WRT to the proposed options,
1. requires some design because it could impact UX
2. (leave the opinion to the Kubeadm-proxy experts)
3. as of today the most viable solution, it mimics what kind is doing.

[2021-06-02 15:58] aojea commented on #4712
Are CAPD cluster production cluster or just for testing?
putting a workaround in a "core" component of kubernetes, that also is kind of changing a default value just for a test environment seems a bit excessive ... unless in the future containerised cluster are the norm, but then agree it should be revisited

I agree here, CAPD controls the environment so it should know in advance what is the best

[2021-06-02 16:17] CecileRobertMichon opened #4714 "Update controller runtime to v0.9.0"
Pending on v0.9.0 controller-runtime [release](https://github.com/kubernetes-sigs/controller-runtime/releases).

We are currently using a beta release of controller-runtime, we should switch to using the v0.9.0 stable release as soon as it is available, before releasing v0.4.0.

/kind release-blocking

[2021-06-02 17:26] vincepri commented on #4679
/close

During June 2nd 2021 community meeting we've decided to keep kube-rbac-proxy in release-0.3 and go ahead with the removal in v0.4.0.

[2021-06-02 17:26] #4679 closed

[2021-06-02 17:27] vincepri commented on #4166
/remove-lifecycle stale

[2021-06-02 17:33] randomvariable commented on #4166
AWS issue is here https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1475 with corresponding PR for e2e.

[2021-06-02 18:51] vincepri commented on #4714
/milestone v0.4

[2021-06-03 08:46] randomvariable commented on #4712
Looks like the consensus is to do it in CAPD.

Chatting to @andrewsykim , I may speculatively open a PR to kube-proxy to make setting the sysctls non-fatal when it gets permission denied as this will help any nested running of kube-proxy.

[2021-06-03 09:48] randomvariable commented on #4712
/lifecycle active
/assign

[2021-06-03 10:06] fabriziopandini commented on #3465
/remove-lifecycle rotten

[2021-06-03 10:11] fabriziopandini commented on #3974
Given that we are going to change the semantic of the Ready condition for the machines, from a certain PoV this could be considered breaking (this was at least what we assumed when we decided to not include the the condition in the summary during v1alpha3)

[2021-06-03 15:39] #4687 closed

[2021-06-03 17:24] reylejano commented on #4446
Kubernetes SIG Security will perform a community-driven, security assessment of Cluster API
Related: https://github.com/kubernetes/community/issues/5814

[2021-06-03 18:43] PushkarJ commented on #4446
@vincepri probably okay to close this, as now we have a separate issue in k8s sig-security to track this effort?

[2021-06-03 19:20] #3042 closed

[2021-06-03 21:07] elmiko opened #4720 "checksum mismatch while building docker provider test artifacts"
**What steps did you take and what happened:**

1. get a fresh copy of cluster-api repo
2. follow clusterctl devel instructions to the [build artifacts locally](https://cluster-api.sigs.k8s.io/clusterctl/developers.html#build-artifacts-locally) step
3. build infrastructure provider with command `make -C test/infrastructure/docker docker-build REGISTRY=gcr.io/k8s-staging-cluster-api`

the following

[2021-06-03 21:13] elmiko commented on #4720
/area testing

[2021-06-03 21:30] elmiko commented on #4720
cc @vincepri this seems to have come in with the recent test module changes

[2021-06-03 21:34] vincepri commented on #4720
@elmiko Can you try on top of 4721? It's kind of strange, although running the command you posted above with those changes, the build went through

[2021-06-03 22:26] elmiko commented on #4720
hmm, really weird. i tried on top of 4721 and i get the same output

[code]

[2021-06-03 22:27] elmiko commented on #4720
i don't know how these hashes are computed, but i wonder if i'm seeing something related to fedora (eg an updated hash lib or similar) ?

[2021-06-03 22:35] elmiko commented on #4720
from https://golang.org/ref/mod#authenticating

and

really makes me wonder if i'm just seeing some local crypto update. i'll keep poking around

[2021-06-03 22:39] elmiko commented on #4720
the weird just keeps getting weirder...
i deleted `test/go.sum` and then re-ran `go mod tidy && go mod vendor && go mod verify` in the `test` directory, the only change it picked up was that ginkgo hash.

[code]

[2021-06-03 23:01] vincepri commented on #4720
Which GO version are you using?

[2021-06-04 00:08] elmiko commented on #4720
`go version go1.16.3 linux/amd64`

[2021-06-04 00:13] vincepri commented on #4720
I've been using Go 1.16.4, and the Dockerfiles should be using that as well, might be worth a try?

It's a bit strange that it changes the `go.sum` 🤔

[2021-06-04 05:00] sedefsavas commented on #4218
`PartialObjectMetadata` has Type info, but is not enough to get the type of the Secret. We either watch all `Secrets` like we do for `ConfigMaps` or cache full `Secret` objects to solve this.
Opened a PR that does the latter.

[2021-06-04 10:49] enxebre commented on #3778
fwiw I have a different perspective on this, I'd like `api/` to be as lean as possible and ideally to eventually become a module on its own so consumers are not dictated with versions of transitive deps they wouldn't need to consume the API.

[2021-06-04 13:53] ncdc commented on #3778
Good point. #3465 is the issue for that... I think my primary comment is that an individual controller shouldn't be responsible for registering a field index function (unless for some reason data from the controller is necessary to implement said function). I think a compromise to my original suggestion could be to move the registration of field index functions outside of individual controllers, b

[2021-06-04 14:34] elmiko commented on #4720
ok, i tried testing this out with a few other go version (1.16.4, 1.16.5) and i think i must be seeing some sort of artifact from a cached build or something.

i deleted my `$HOME/go`  and `$HOME/.cache` directories, then tried running `go mod tidy` in the `test` dir and it didn't complain at all. but when i ran the makefile again, it produced the same error.

additionally, when i took the suppose

[2021-06-04 14:37] vincepri commented on #4720
@fabriziopandini @ykakarap Can you folks try to reproduce?

[2021-06-04 14:43] vincepri commented on #3778
cc @ykakarap

[2021-06-04 17:48] ykakarap commented on #3778
/assign

[2021-06-04 18:26] #4146 closed

[2021-06-04 20:09] zawachte opened #4727 "Image Management Story in ClusterAPi"
**User Story**

As a user, I would like to have core support in ClusterAPI for managing the "images" of Kubernetes for my clusters. This will provide a uniform deployment and upgrade story w.r.t clusters and their underlying images.

Basically I want to play with the idea of promoting "image" to a core clusterapi concept from something completly within the infrastucture provider (kind of like the

[2021-06-05 14:17] #4037 closed

[2021-06-07 08:06] fabriziopandini commented on #3358
/remove-lifecycle rotten

[2021-06-07 08:17] fabriziopandini commented on #4720
I got a similar error about ginkgo checksum while running tests is Goland, and I got it fixed by enforcing usage of GOPROXY=https://proxy.golang.org
@elmiko If you are using Cluster API makefile command it will enforce GOPROXY for you; instead if you using plain go commands might be you are facing a similar problem; could you check you GOPROXY env var?

[2021-06-07 08:22] #4712 closed

[2021-06-07 11:09] randomvariable opened #4729 "Remove use of Viper in kubetest framework"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

https://github.com/kubernetes/kubernetes/pull/102598 removes Viper from the Kubernetes e2e framework, but we are using it in the e2e framework, with CAPA and CAPZ as consumers.

**What did you expect to happen:**
Not use Viper

**Anything else you would like to add:**
[Miscellaneous infor

[2021-06-07 11:10] randomvariable commented on #4729
/kind backport

We'll want it on v1alpha3 until v1alpha4 + 1

[2021-06-07 13:04] fabriziopandini opened #4731 "Make clusterctl support for cert-manager more flexible"
**User Story**

As a operator I would like to use an external tool to manage cert-manager
As a operator I would like to use have control on the cert-manager version installed by clusterctl
As a operator I would like to use have control on the cert-manager manifest installed by clusterctl

**Detailed Description**

As of today clusterctl assumes to manage the cert-manager instance in the management

[2021-06-07 14:32] davidewatson commented on #4731
How will cert-manager lifecycle be managed in each case?

- When it ALREADY EXISTS we will be assuming that the operator will always install a compatible version. Is this safe?
- When it DOES NOT EXISTS and the user does not configure an override, do we now (or plan to later) upgrade whichever cert-manager we install?

My apologizes if these questions are obtuse. I'm new here... ;)

[2021-06-07 14:38] elmiko commented on #4720
i did a few more tests with GOPROXY. here is what i did:

* fresh clone from cluster-api master, ran `make -C test/infrastructure/docker docker-build REGISTRY=localhost:5000`
  * got error
* with no GOPROXY set, `cd test && go mod tidy`
  * no error
* set `GOPROXY=https://proxy.golang.org`, `cd test && go mod tidy`
  * no error

currently, on this system it is just the makefile that is producing t

[2021-06-07 14:40] invidian commented on #4279
/remove-lifecycle stale

[2021-06-07 14:43] fabriziopandini commented on #4731
Clusterctl will be testing for a cert-manager version supporting the `cert-manager.io/v1` API, which is a GA version from about a year now a subject to usual API guarantees for deprecation and or conversion to the future release.
The only change here is that "externally provisioned" cert-manager became a first class option and we support it also during upgrades (no-op for externally managed cert-m

[2021-06-07 14:59] fabriziopandini commented on #4720
This is kind of confusing me, because we are enforcing go proxy both in the makefile and in the docker file...
🤔

[2021-06-07 15:14] elmiko commented on #4720
yeah, i'm stumped. i am trying to setup another environment to double check what i've done.

[2021-06-07 15:22] davidewatson commented on #4731
I worry about implicit runtime differences which might surprise users. But I [see](https://github.com/kubernetes-sigs/cluster-api/blob/70e959802aa7722efefe69158e868d7ff3eec4be/cmd/clusterctl/client/cluster/cert_manager.go#L439). Seems reasonable.

[2021-06-07 15:24] vincepri commented on #4720
Is the local proxy up to date?

[2021-06-07 15:57] ykakarap commented on #4720
@vincepri I was not able to reproduce this locally. All the commands ran successfully.

[2021-06-07 16:20] randomvariable opened #4745 "Update etcd client dependency"
**User Story**

The etcd client dependency is very outdated, and we're missing grpc fixes as a result. Need to refactor the cluster etcd client to make use of v3.4.16.

**Detailed Description**

[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**

[Miscellaneous information that will assist in solving the issue.]

/kind feature

[2021-06-07 16:24] #4218 closed

[2021-06-07 16:42] vincepri commented on #4745
@randomvariable Could we do this before v0.4.0?

[2021-06-07 16:48] vincepri commented on #3106
@yastij @CecileRobertMichon This seems a behavioral breaking change that we should try making into v0.4.0 if possible

[2021-06-07 17:25] elmiko commented on #4720
afaict yes, i deleted my local `go` and `.cache` directories. is there any other location i should check?

[2021-06-07 18:12] vincepri commented on #3358
/lifecycle frozen

[2021-06-07 18:39] shysank opened #4749 "Decouple control plane status check logic"
**User Story**

In e2e test framework's `ApplyClusterTemplateAndWait`, the logic for control plane is tightly coupled with `kubeadmControlPlane` implementation. This is not suitable when we want to test clusters where the control plane is not kubeadm. Eg. In capz, for [testing AKS clusters](https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/611) where the control plane is an `Azu

[2021-06-07 18:48] fabriziopandini commented on #4749
/area testing
/milestone Next

[2021-06-07 19:18] #4749 closed

[2021-06-07 19:52] #3640 closed

[2021-06-07 23:04] BenTheElder commented on #4729
https://github.com/kubernetes/kubernetes/pull/102598 is currently held waiting on this FYI

[2021-06-08 10:39] enxebre commented on #3778
@sedefsavas can we update the title/desc to be compatible with
https://github.com/kubernetes-sigs/cluster-api/issues/3778#issuecomment-854612259
https://github.com/kubernetes-sigs/cluster-api/issues/3778#issuecomment-854740241
https://github.com/kubernetes-sigs/cluster-api/issues/3465
?

So i.e don't add additional deps to `/api`

[2021-06-08 13:00] randomvariable commented on #4745
I wasn't sure how big a change it was going to be. I'll review and get an answer today.

[2021-06-08 13:02] randomvariable opened #4760 "Importing test module causes errors"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
I bumped CAPA to sigs.k8s.io/cluster-api v0.3.11-0.20210607195256-55f064d1b9fc and then running `go mod tidy` gave me

[code]

I think this works in the core repo because we have the replace statement, but when importing externally, we need a real reference.

**What did you expect to happe

[2021-06-08 13:05] randomvariable commented on #4760
Or do we just need a one off tag to be released first?

[2021-06-08 13:06] randomvariable commented on #4760
fixed it

Needed `sigs.k8s.io/cluster-api/test v0.0.0-20210607195256-55f064d1b9fc`

/close

[2021-06-08 13:08] randomvariable commented on #4760
fixed it in CAPA with

Actually, needed the following replace as well for it to work
`
replace sigs.k8s.io/cluster-api => sigs.k8s.io/cluster-api v0.3.11-0.20210607195256-55f064d1b9fc

require(
sigs.k8s.io/cluster-api/test v0.0.0-20210607195256-55f064d1b9fc`
)
[code]

[2021-06-08 14:17] devigned commented on #4760
@CecileRobertMichon is doing a similar thing here: https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1421

[2021-06-08 15:59] huchen2021 opened #4763 "How to set up proxy to pass to "clusterctl init --infrastructure docker""
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version:
- Minikube/KIND version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-releas

[2021-06-08 16:37] #4714 closed

[2021-06-08 16:49] fabriziopandini commented on #4763
Might be I'm wrong, but I think that kubelet failing to fetch cert-manager images mean that kind is not picking up the proxy (all the container started use pre-loaded image, so they are not a good signal)
Could you double check my assumption by deploying somethings else on the kind cluster, like e.g. nginx

[2021-06-08 17:03] #4729 closed

[2021-06-08 17:52] randomvariable commented on #4760
I think we came to a conclusion in https://github.com/kubernetes-sigs/cluster-api/pull/4765

so

/close

[2021-06-08 17:52] #4760 closed

[2021-06-08 18:01] randomvariable commented on #4745
Just checked. There's nothing we can do here because Kubernetes depends on the older etcd client, which might be because it's stuck on an old grpc version because of cadvisor.

So

/close

[2021-06-08 18:13] randomvariable commented on #4745
The network of dependencies is:
sigs.k8s.io/controller-runtime@v0.9.0 k8s.io/apiextensions-apiserver@v0.21.1
k8s.io/apiextensions-apiserver@v0.21.1 google.golang.org/grpc@v1.27.1

Work is ongoing in https://github.com/kubernetes/kubernetes/pull/102061 to update that.

[2021-06-08 18:21] randomvariable commented on #4745
Only pulling in apiextensions-apiserver to bring in the struct for CustomResourceDefinition... potentially removable.

[2021-06-08 18:38] randomvariable commented on #4745
/reopoen

figured it out.

[2021-06-08 18:41] randomvariable commented on #4745
/reopen

[2021-06-08 19:08] jdef commented on #3881
/remove-lifecycle stale

[2021-06-08 19:21] vincepri commented on #4745
/milestone v0.4

Let's bump it once v3.5 is released and we can validate it a bit more

[2021-06-08 20:44] #3778 closed

[2021-06-08 21:46] #4731 closed

[2021-06-08 22:35] #4650 closed

[2021-06-09 09:43] randomvariable commented on #4745
I had a look at the milestone planning for etcd, their plan is to get the release out once they have signal from k/k to accept it for 1.22

[2021-06-09 10:36] onesolpark opened #4779 "Machine "Provisioned" phase is never set and used."
**What steps did you take and what happened:**
The machine object has the following phases to indicate the status of the lifecycle.
```Pending, Provisioning, Provisioned, Running, Deleting, Deleted, Failed, Unknown```

But it looks like machine can never be on the ```Provisioned``` phase.

https://github.com/kubernetes-sigs/cluster-api/blob/e970639fd4cb56003039878e82ffbc0b2e950a9e/controllers/mach

[2021-06-09 14:43] elmiko commented on #4720
i updated my repo again today, after seeing some changes come through on go.mod and go.sum, and now the error has migrated slightly on my build machine:

[code]

it seemingly makes it past the previous failure point, to a new one. i'm going to keep poking at this.

[2021-06-09 14:45] vincepri commented on #4720
@elmiko Is this happening with a local registry?

[2021-06-09 14:52] elmiko commented on #4720
i am going to close this issue. i think i am just seeing the results of some sort of caching going on, or something on my local machine. i cleaned all caches, got all new code, installed new golang binaries, and rebuilt everything, and now it is working...

i have no explanations for this, and i apologize if this has wasted anyone's time. i do appreciate all the help and feedback.

[2021-06-09 14:52] #4720 closed

[2021-06-09 14:52] elmiko commented on #4720
yes

[2021-06-09 14:56] elmiko commented on #4720
@vincepri does it try to use images that were created in previous steps during the build for the test stuff? (that would explain a few things)

[2021-06-09 15:01] vincepri commented on #4720
It should use cached images, yes

[2021-06-09 15:06] vincepri commented on #4779
might be a case where machine is in the provisioned state.

This is correct and the original reason for the "Provisioned" phase. The phase is meant to signify that the infrastructure was provisioned, but we haven't received yet a ProviderID from the infrastructure provider, which might be coming in later (for example bare metal providers).

[2021-06-09 15:07] vincepri commented on #4779
/milestone Next
/priority awaiting-more-evidence

[2021-06-09 15:07] vincepri commented on #4763
/milestone Next

[2021-06-09 15:07] vincepri commented on #4702
@jackfrancis Can you test again on top of v0.4.0-beta.0?

/milestone v0.4
/area testing

[2021-06-09 15:08] vincepri commented on #4681
/milestone Next

[2021-06-09 15:29] onesolpark commented on #4779
Makes sense, but currently there is no way to reach the "Provisioned" phase.

As mentioned above, for ```m.Status.NodeRef != nil```  -> infrastructure needs to be ready.
Which will automatically turn the machine into "Running" phase without ever reaching into "Provisioned" phase.

Do you think changing ```m.Status.NodeRef != nil``` to ```m.Status.InfrastructureReady && m.Status.NodeRef == nil``` m

[2021-06-09 15:59] elmiko commented on #4720
ok, i have to imagine that is what i was seeing. now i'm wondering if there is a way to add a little warning to the docs :thinking:

thanks again Vince!

[2021-06-09 17:52] aayushrangwala opened #4784 "Rename ListVariableOnly option from TemplateInput"
User Story

Part 3 of #3360

rename the `ListVariablesOnly` in `TemplateInput` which should be consistent with `ComponentInput` `SkipTemplateProcess`

/kind feature

[2021-06-09 17:52] aayushrangwala commented on #4784
/assign

[2021-06-09 18:01] sbueringer commented on #4760
@randomvariable In case additional data is helpful in any way. The suggestion in #4765 worked perfectly in CAPO (https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/go.mod)

[2021-06-09 18:55] jackfrancis commented on #4702
I got a UT failure on a different test:

[code]

Also got this panic:

[code]

[2021-06-09 19:13] jackfrancis commented on #4702
The above failure was on the 6th attempt (first five passed all UT via `make test`). I'm now onto a follow-up run, 9 passes and counting...

[2021-06-09 20:09] jackfrancis commented on #4702
Ran 33 more consecutive follow-up test runs. I don't think non-determinism is an acute symptom based on my tests. Specifically could not repro the test failure that this issue originally describes.

[2021-06-09 21:33] vincepri commented on #4779
Going by the current definition in the proposal https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/20190610-machine-states-preboot-bootstrapping.md#provisioned seems we should check the `ProviderID` to be present, NodeRef should come afterwards 🤔

[2021-06-09 21:57] vincepri commented on #4779
/priority important-soon
/kind release-blocking
/milestone v0.4

[2021-06-10 04:09] sbueringer commented on #3694
/reopen

[2021-06-10 04:10] sbueringer commented on #3694
/remove-lifecycle rotten

[2021-06-10 04:38] sbueringer commented on #4232
Sounds reasonable to me.

[2021-06-10 04:39] sbueringer commented on #4233
/remove-lifecycle stale

[2021-06-10 04:40] sbueringer commented on #4209
/remove-lifecycle stale

[2021-06-10 04:42] sbueringer commented on #4166
@fabriziopandini I'm wondering if we have the same issue with ccm (not sure when the internal cloud provider is removed though)

[2021-06-10 04:49] sbueringer commented on #4178
/remove-lifecycle stale

[2021-06-10 04:49] sbueringer commented on #4179
/remove-lifecycle stale

[2021-06-10 06:50] anusha94 opened #4790 "Allow more than 1 InfrastructureProvider to be installed in e2e tests"
**User Story**

As a developer I would like to be able to install multiple infrastructure providers as part of the e2e tests so that I can test a cluster that is spun up using multiple providers.

**Detailed Description**
The `e2e_config` forces exactly one infrastructure provider to be run as part of tests https://github.com/kubernetes-sigs/cluster-api/blob/master/test/framework/clusterctl/e2e_co

[2021-06-10 08:34] sbueringer opened #4794 "Metric collection in e2e tests is broken"
**What steps did you take and what happened:**

Our e2e tests are trying to dump metrics of our controllers via:
https://github.com/kubernetes-sigs/cluster-api/blob/303483aeea393e066d69e8c3757326c37c7a3ff3/test/framework/deployment_helpers.go#L195-L220

As far as I can see this is currently broken:
[code]
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api/47

[2021-06-10 09:32] fenglixa opened #4795 "make release-notes failed"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

[code]

**What did you expect to happen:**
work well

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version:
- Minikube/KIND version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. fr

[2021-06-10 09:33] fenglixa commented on #4795
/assign

[2021-06-10 10:25] fabriziopandini commented on #4794
/area testing

[2021-06-10 10:34] fabriziopandini commented on #4790
Happy to see new use case for our test framework!
/area testing

[2021-06-10 10:46] fabriziopandini commented on #4784
/area clusterctl

[2021-06-10 10:49] fabriziopandini commented on #4486
Thanks @sbueringer !
/close

[2021-06-10 10:49] #4486 closed

[2021-06-10 10:52] Ankitasw commented on #4232
/assign

[2021-06-10 11:00] sbueringer commented on #4405
@vincepri @fabriziopandini

I took a rough look at the last 12 failed e2e tests and they didn't show the "is not running" issue. So I would suggest to close this issue.

I wouldn't say that the e2e tests are completely stable. I think this should (depending on priority) be addressed by a new issue.
![image](https://user-images.githubusercontent.com/4662360/121513918-af458b00-c9eb-11eb-8960-2ed7756

[2021-06-10 11:03] #4405 closed

[2021-06-10 13:34] kbreit opened #4799 "CRS should support more strategies than ApplyOnce"
**User Story**

I would like to see CAPI CRS objects support strategies beyond just `ApplyOnce`. I find it unintuitive and confusing that you create and manage some objects (ex. nodes) using the control cluster but then other components need to be modified in the worker cluster. Also, it complicates a CICD pipeline since the control cluster's objects should be modified as well as the worker cluste

[2021-06-10 14:41] gnadaban opened #4802 "clusterctl version empty after Homebrew install"
**What steps did you take and what happened:**
[code]

Output:
[code]

**What did you expect to happen:**

`clusterctl version` to output current version.

**Anything else you would like to add:**
N/A

**Environment:**

- Cluster-api version: 0.3.17-0.3.19
- OS (e.g. from `/etc/os-release`): `Darwin <redacted> 20.5.0 Darwin Kernel Version 20.5.0: Sat May  8 05:10:31 PDT 2021; root:xnu-7195.121.3~9

[2021-06-10 15:10] huchen2021 opened #4803 "It reporting Error: failed to read "cluster-template.yaml" from provider's repository "infrastructure-docker""
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version:
- Minikube/KIND version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-releas

[2021-06-10 15:24] sbueringer commented on #4803
@huchen2021 You have to add the `--flavor developmen` arg:
![image](https://user-images.githubusercontent.com/4662360/121552396-b9c64b80-ca10-11eb-8241-a572fae818e4.png)

[2021-06-10 15:31] #4795 closed

[2021-06-10 15:37] vincepri commented on #4802
@ludusrusso @fabriziopandini How does brew build clusterctl?

Running `make clusterctl` locally correctly calls `hack/version.sh` to set the `-ldflags` which then brings in the version

[2021-06-10 15:43] vincepri commented on #4802
Tried to run `brew install clusterctl --build-bottle` locally and it seems it also didn't get the version information

[2021-06-10 15:46] vincepri commented on #4802
Further info: Seems that the tar downloaded from github (`https://github.com/kubernetes-sigs/cluster-api/archive/refs/tags/v0.3.19.tar.gz`) doesn't contain `.git` directory or any git information, which makes `hack/version.sh` to fail to understand which version is it.

[2021-06-10 16:35] ludusrusso commented on #4802
@vincepri uhm! How do you suggest to fix this? I think we need to change the hack/version.ah in some way to get the version!

[2021-06-10 16:59] sbueringer commented on #4622
Short update. Looks like we're making good progress, very nice!

After #4804 we only have to fix the remaining excludes and we're done:
* Subprocess launch(ed with variable|ing should be audited)
* (Expect directory permissions to be 0750 or less|Expect
* (G104|G307)

[2021-06-10 21:31] Promaethius opened #4807 "Continuous ClusterResourceSetStrategy"
**User Story**

ClusterResourceSets provide a unique Kubernetes experience where a Cluster and its workload can be defined in a single .yaml file, templated out in CI/CD pipelines, or controlled by centralized management infrastructure. However, ApplyOnce falls short in terms of dependent objects and changing application definitions. Adding the option for ContinuousApply opens new strategies for r

[2021-06-10 22:09] #4779 closed

[2021-06-11 04:46] sbueringer commented on #4807
If I get it correctly, we should consolidate this issue and https://github.com/kubernetes-sigs/cluster-api/issues/4799

[2021-06-11 09:05] fabriziopandini commented on #4803
This is also documented in the quick start in a dedicate tab under https://cluster-api.sigs.k8s.io/user/quick-start.html#generating-the-cluster-configuration
/close

[2021-06-11 09:05] #4803 closed

[2021-06-11 09:21] #4232 closed

[2021-06-11 16:55] #4062 closed

[2021-06-11 21:15] Promaethius commented on #4807
@sbueringer huh same day, what are the odds. Yeah basically. I'd like to work on it.

[2021-06-11 21:17] Promaethius commented on #4807
Semi part of the user story, I'd also like to add a reconciliation interval option for both ApplyOnce and Continuous Apply.

[2021-06-11 21:24] jpmcb commented on #4803
I'm also not able to get this to work. I built from source and am running:

[code]

And I'm getting the following error message:
[code]
What am I missing?

[2021-06-13 15:13] huchen2021 opened #4810 "clusterctl get kubeconfig failed, it reporting: Error: "capi-quickstart-kubeconfig" not found in namespace "default": secrets "capi-quickstart-kubeconfig" not found"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version:
- Minikube/KIND version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-releas

[2021-06-13 15:32] huchen2021 opened #4811 "Delete workload cluster failed"
-

- **What steps did you take and what happened:**

[A clear and concise description on how to REPRODUCE the bug.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version:
- Minikube/KIND version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-

[2021-06-13 23:07] #3296 closed

[2021-06-14 08:33] enxebre commented on #4811
hey @huchen2021 would you please edit the yaml above as code for better readability? Can you share capi/capd controllers logs?

[2021-06-14 08:37] enxebre commented on #4810
@huchen2021 I assume this is the root cause for https://github.com/kubernetes-sigs/cluster-api/issues/4811. Can you share capi/capd controllers logs?

[2021-06-14 15:13] huchen2021 commented on #4811
@enxebre OK.

[code]

[2021-06-14 17:29] scottslowe opened #4814 "Error cross-compiling ARM64 version of clusterctl from x86_64 Linux system"
**What steps did you take and what happened:**
All these steps were performed on an x86_64 Ubuntu 20.04 instance running Docker 20.10.2.
1. Cloned the "cluster-api" repository using `git clone https://github.com/kubernetes-sigs/cluster-api.git`.
2. Switch into the cloned repository.
3. Run `git checkout v0.3.19` (to build a binary for the v0.3.19 release).
4. Run `RELEASE_BINARY=./cmd/clusterctl G

[2021-06-14 17:30] scottslowe commented on #4814
Here's the full output of the `RELEASE_BINARY=...` command.

[build-output.txt](https://github.com/kubernetes-sigs/cluster-api/files/6650177/build-output.txt)

[2021-06-14 20:56] jpmcb opened #4816 "Failed to move management-cluster objects"
**What steps did you take and what happened:**
When attempting to move cluster-api objects from a boostrap management cluster to another management cluster, I'm running into the following error:
[code]

Here are the steps to reproduce:
1. Start a kind cluster with:
[code]

2. Bring tilt up:
[code]
Here's what my tilt json looks like:
[code]
The `cluster-api-provider-aws` version I have is 0.6.6, p

[2021-06-14 22:01] vincepri commented on #4816
/assign @fabriziopandini
/milestone v0.4
/priority important-soon

[2021-06-14 22:01] vincepri commented on #4816
/cc @sbueringer

[2021-06-15 05:56] huchen2021 opened #4817 "confusion about Quick Start"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version:
- Minikube/KIND version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-releas

[2021-06-15 08:07] enxebre commented on #4811
Thanks @huchen2021 can you please share the logs without grep for capd and capi pods?
cc @elmiko who might be more familiar with that docker error.

[2021-06-15 08:19] fabriziopandini commented on #4817
It seems the machine are not starting and this can happen due to several reasons
- Lack of docker socket mount in kind (see https://cluster-api.sigs.k8s.io/user/quick-start.html#install-andor-configure-a-kubernetes-cluster)
- Kind version older than 0.8
- Low resources for docker daemon (I suggest 6GB)
- A couple of docker related issues https://master.cluster-api.sigs.k8s.io/user/troubleshooting.

[2021-06-15 08:22] fabriziopandini commented on #4811
As per https://github.com/kubernetes-sigs/cluster-api/issues/4817, is seems there is something in the user setup preventing CAPD to function properly.
Let's investigate that first

[2021-06-15 08:50] huchen2021 commented on #4811
[capd-controller-manager-84cb4b79-grkcx.log](https://github.com/kubernetes-sigs/cluster-api/files/6654189/capd-controller-manager-84cb4b79-grkcx.log)
[capi-controller-manager-5678dfd475-n9xqw.log](https://github.com/kubernetes-sigs/cluster-api/files/6654190/capi-controller-manager-5678dfd475-n9xqw.log)
[capi-controller-manager-d6c5f966b-mr8v5.log](https://github.com/kubernetes-sigs/cluster-api/fil

[2021-06-15 09:23] huchen2021 commented on #4817
[code]

[code]

[code]

[code]

[code]

[2021-06-15 09:33] huchen2021 commented on #4817
[code]

[2021-06-15 14:43] elmiko commented on #4817
do you have selinux enforcing by chance?

[2021-06-15 14:44] elmiko commented on #4811
i have not seen that specific error before, but agreed with @fabriziopandini about the deeper root cause. i left a comment on #4817

[2021-06-15 15:46] #4676 closed

[2021-06-15 16:20] jpmcb commented on #4816
Some more info - Providing the `--namespace=default` flag doesn't make a difference.

Here's some of the log output from increased logging level
[code]

[2021-06-15 18:55] fabriziopandini commented on #4817
I see this error when trying to create the load balancer
[code]

Digging into the info above, you should not set
[code]
If you do so, the kind cluster is going to be created in a different network, and so CAPD >= v0.3.16 will fail. (instead you need this info for CAPD versions <= v0.3.15 as documented in https://cluster-api.sigs.k8s.io/user/quick-start.html#install-andor-configure-a-kubernetes-clu

[2021-06-15 19:12] fabriziopandini commented on #4816
@jpmcb If I'm not wrong you are using tilt to setup your management cluster.

While, this is super convenient to debug controllers, unfortunately it comes at the cost that this is not fully equivalent to what clusterctl init does, and this could have side effects down the path when you do move.
Could you kindly retry by doing clusterctl init instead of tilt up?

[2021-06-15 20:11] #4784 closed

[2021-06-15 22:08] jpmcb commented on #4816
Good catch - I'd be happy to, thanks for the info!

[2021-06-16 01:49] huchen2021 commented on #4817
@fabriziopandini how to check the version of CAPD in my environment?

[2021-06-16 05:02] huchen2021 commented on #4817
@fabriziopandini Thanks for your suggestion. It moves on. But still have some issues.
[code]

[2021-06-16 06:37] huchen2021 commented on #4817
[capd-controller-manager-84cb4b79-jwjrn.log](https://github.com/kubernetes-sigs/cluster-api/files/6660699/capd-controller-manager-84cb4b79-jwjrn.log)

[code]

[2021-06-16 08:26] huchen2021 commented on #4817
[capi-webhook-system-capi-kubeadm-bootstrap-controller-manager-6cdb7bfd75-t8d7z-manager.log](https://github.com/kubernetes-sigs/cluster-api/files/6661449/capi-webhook-system-capi-kubeadm-bootstrap-controller-manager-6cdb7bfd75-t8d7z-manager.log)
[capi-webhook-system-capi-kubeadm-control-plane-controller-manager-64b4687986-zs22p-manager.log](https://github.com/kubernetes-sigs/cluster-api/files/6661

[2021-06-16 14:20] fabriziopandini commented on #4811
/close

Kind network settings were not in line with quick start instructions
See #4817

[2021-06-16 14:20] #4811 closed

[2021-06-16 17:05] vincepri commented on #4745
/kind release-blocking

[2021-06-16 17:13] CecileRobertMichon commented on #4063
/assign @devigned @dthorsen

[2021-06-16 21:50] scottslowe commented on #4814
Another data point: at the v0.3.19 tag/commit, `Makefile` uses the Go 1.13.15 container image (the version is hard-coded in the file). Changing `Makefile` to use Go 1.16.5 fixes the error reported above and allows the build to complete successfully.

[2021-06-17 01:36] Promaethius commented on #4807
/assign
Going to start work on this.

[2021-06-17 11:38] invidian commented on #3761
/remove-lifecycle rotten

[2021-06-17 21:06] jpmcb commented on #4816
This was successful and I was able to use move as expected. Thanks for the heads up!!

[2021-06-17 21:06] #4816 closed

[2021-06-17 21:12] jpmcb commented on #4803
Providing
[code]
corrected this for me

[2021-06-18 01:54] cabrinha opened #4824 "clusterctl init: no kind "Metadata" is registered for version "clusterctl.cluster.x-k8s.io/v1alpha4""
**What steps did you take and what happened:**
I built the e2e images off the main branch, now when I run `clusterctl init --infrastructure aws --control-plane aws-eks --bootstrap aws-eks`, I get this:

[code]

**What did you expect to happen:**
I did not expect this error. I don't want to use `v1alpha4`. How do I get back on `v1alpha3`?

**Anything else you would like to add:**
I have since remov

[2021-06-18 01:57] huchen2021 commented on #4803
@jpmcb  After added "--infrastructure aws:0.6.6", Does it works? Including bring up the workload cluster?  But my infrastructure is docker, now it can get yaml file, but still has issue to bring up the workload cluster.

[2021-06-18 04:20] cabrinha commented on #4824
Solved by using:
[code]

[2021-06-18 07:28] invidian commented on #4342
/remove-lifecycle stale

[2021-06-18 13:42] #3939 closed

[2021-06-18 16:59] fabriziopandini commented on #4824
/close
As per comment above

[2021-06-18 16:59] #4824 closed

[2021-06-20 15:10] richardcase commented on #3983
/lifecycle frozen

[2021-06-21 10:19] huchen2021 opened #4837 "Why there is no output by "kubectl get all --all-namespaces | grep calico""
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version:
- Minikube/KIND version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-releas

[2021-06-21 14:13] jpmcb commented on #4803
Providing
[code]
corrected this for me. My mistake, disregard

[2021-06-21 14:16] jpmcb commented on #4803
@huchen2021 - maybe you need to provider the docker infrastructure version to the command line?
[code]

[2021-06-21 14:19] fabriziopandini commented on #4837
You should use `kubectl --kubeconfig=./capi-quickstart.kubeconfig get all --all-namespaces | grep calico`

[2021-06-21 14:23] fabriziopandini commented on #4352
/lifecycle frozen

[2021-06-21 14:35] vincepri commented on #4352
/close

[2021-06-21 14:35] #4352 closed

[2021-06-21 15:05] vincepri commented on #4352
Closing this issue as there was a wish to actually use `k8s.io` instead of a different domain.

[2021-06-21 15:46] vincepri commented on #4321
/lifecycle frozen

@fabriziopandini What are some action items we can take as part of this issue?

[2021-06-21 15:54] jdef opened #4838 "feature: Formal KCP / CAPBK API to differentiate between init/join phases at bootstrap time"
**User Story**

The current KCP API relies on a single CAPBK config for pre/post steps across all control plane machines, and does not provide a formal API/guarantee to address the need for different pre/post step execution depending on init vs. join phase.

**Detailed Description**

The current implementation doesn't provide a contract for differentiating between init vs. join phase of KCP nodes.

[2021-06-21 16:42] shysank commented on #3983
`The DiscoverAndWaitForControlPlaneInitialized function assumes kubeadm` has been handled in https://github.com/kubernetes-sigs/cluster-api/pull/4719

[2021-06-21 16:50] #4745 closed

[2021-06-21 17:13] CecileRobertMichon commented on #4838
duplicate of #3828

[2021-06-21 17:19] CecileRobertMichon commented on #4288
/remove-lifecycle stale

[2021-06-21 17:25] vincepri commented on #4450
/milestone v0.4

[2021-06-21 17:25] vincepri commented on #4450
/priority important-soon

[2021-06-23 13:32] #4790 closed

[2021-06-23 20:38] ykakarap commented on #4611
/assign

[2021-06-23 20:39] ykakarap commented on #4610
/assign

[2021-06-24 14:43] vincepri commented on #4342
@invidian Have you tried to reproduce on the latest commit?

[2021-06-24 14:47] invidian commented on #4342
I'll give it a try when I find some time :+1:

[2021-06-24 15:30] prksu opened #4847 "KCP scale broken in capi v0.4.x"
**What steps did you take and what happened:**

Before v0.4.x I can scale kubeadmcontrolplane using kubectl like:
[code]

After v0.4.0-beta.x when scaling kubeadmcontrolplane using kubectl i got an error:
[code]

Seem it's related to subresource validation https://github.com/kubernetes-sigs/cluster-api/pull/4366

**What did you expect to happen:**
kubeadmcontrolplane can be scaled using kubectl as

[2021-06-24 16:16] brianthelion opened #4848 "Admission controller's valid `allowed: false` response causes kubelet to retry forever"
**What steps did you take and what happened:**

Start with a working admission controller:

[code]

Have the associated web service return a [valid response with HTTP code 299](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#response):

[code]
Watch `kubeadm join ...` time out:

<details>
<summary>Log</summary>
[code]
</details>

Simultaneously, the API co

[2021-06-24 16:39] brianthelion commented on #4848
Killing the kubelet daemon is sufficient to stop the repeated polling of the admission controller.

[2021-06-24 18:44] CecileRobertMichon commented on #4847
I can repro this as well

/cc @vincepri

[2021-06-24 18:56] CecileRobertMichon commented on #4847
@yastij did kcp scale work at the time #4366 merged?

[2021-06-24 20:53] brianthelion commented on #3335
@ncdc

I finally got around to implementing your suggesting, above, of using a controller for this. At `kubeadm join` time we provide a second secure token via a node label on `JoinConfiguration.nodeRegistration.kubeletExtraArgs`.

When everything is *correct*, the kubelet joins just fine, and our controller further "flavors" the node by checking our token and then applying node annotations.

Howe

[2021-06-25 05:57] invidian commented on #4342
First run on commit 686aef6a95613cfe87631e92a11cb55349da4725 yielded the following:
[code]

There was also:
[code]

And:

[code]

And this one after 30 minutes of running continuously:
[code]

Given that rate of errors is not very high, I was running them on the laptop, and that errors are not strictly related to CAPI tests, I _think_ this can be closed now. Time will verify when I get some time t

[2021-06-25 14:25] fabriziopandini commented on #4342
/close
As per comment above
Thanks for taking time to check this!

[2021-06-25 14:25] #4342 closed

[2021-06-25 14:45] detiber opened #4856 "clusterctl does not honor contract metadata when looking up latest release for providers"
**What steps did you take and what happened:**

Using `clusterctl` v0.3.x without explicitly specifying component versions breaks now that v0.4.0 is released.

[code]

**What did you expect to happen:**

`clusterctl` to install the latest version compatible with clusterctl

**Anything else you would like to add:**

This is following up from a Slack conversation: https://kubernetes.slack.com/archiv

[2021-06-25 15:19] fabriziopandini opened #4857 "capi-e2e-main-1-21-latest should upgrade to CoreDNS version 1.8.4"
**Detailed Description**
As per https://github.com/kubernetes/kubernetes/pull/102466 the capi-e2e-main-1-21-latest should upgrade to CoreDNS version 1.8.4

Changes should be applied to https://github.com/kubernetes/test-infra/blob/f668b08714d2974ff1fbe68302050d74e4bbedf4/config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-main-upgrades.yaml#L164

Same for capi-pr-e2e-main-1-21-latest; in

[2021-06-25 17:00] shysank opened #4858 "Backport list images daemon set fix to 0.3.x"
**User Story**

Backport #4455 to 0.3.x

**Detailed Description**

[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**

[Miscellaneous information that will assist in solving the issue.]

/kind feature

[2021-06-25 17:00] shysank commented on #4858
/assign

[2021-06-25 17:01] shysank commented on #4858
/milestone 0.3.x

[2021-06-25 17:19] himanshu007-creator commented on #4857
Hi, i would like to work on this issue

[2021-06-25 17:35] timfpark commented on #4856
Would be good to at least document somewhere that you can avoid this by explicitly specifying the version, ala:

[code]

[2021-06-25 17:41] detiber commented on #4856
The documentation is definitely important, but I think it's quite a bit surprising for a user for the tool to work one day and then not work the next just because a new incompatible release was published.

I'd be less concerned if we were talking about a version of clusterctl that was no longer supported, but my understanding is that we plan to continue bugfix and best effort support for v1alpha3/

[2021-06-25 21:18] jpmcb opened #4860 "Upgrade Cluster API to 0.4.0"
**User Story**

As a developer I would like to utilize Cluster API 0.4.0 for to stay aligned with upstream kubernetes

**Detailed Description**

Cluster API has cut the 0.4.0 release. This is a high impact upgrade for `core` as it drops the ` sigs.k8s.io/cluster-api/api/v1alpha2` package which looks to be heavily utilized in the `github.com/vmware-tanzu-private/core/pkg/v1/tkg/client` package.

I

[2021-06-25 21:19] #4860 closed

[2021-06-27 18:21] akutz commented on #4618
Given Kubernetes primitives use labels to express topology information such as zones and regions, does it make sense to continue to use first-class fields as the transport mechanism for assignment to machines? Please note this is not suggesting to alter the way the infrastructure provider currently advertises the topology. Rather, instead of KCP assigning the FD to `spec.failureDomain` (https://gi

[2021-06-28 06:47] likamrat commented on #4856
Just hit the same issue

[2021-06-28 08:05] Evalle commented on #4857
@himanshu007-creator hi! Feel free to assign it to yourself via (`/assign <nickname>`). Thanks!

[2021-06-28 08:11] himanshu007-creator commented on #4857
/assign Himanshu

[2021-06-28 08:12] himanshu007-creator commented on #4857
\assign himanshu007-creator

[2021-06-28 08:13] himanshu007-creator commented on #4857
/assign himanshu007-creator

[2021-06-28 08:13] furkatgofurov7 commented on #4857
/assign @himanshu007-creator

[2021-06-28 14:19] jdef opened #4864 "🐛 KCP: status.observedGeneration not properly patched"
**What steps did you take and what happened:**
`kubectl wait --for=condition=Ready ...` times out unexpectedly

**What did you expect to happen:**
When KCP status condition Ready is True, the above command completes successfully.

**Anything else you would like to add:**
The KCP reconciler *should* be patching kcp.status.observedGeneration when reconciliation is successful, like other controllers

[2021-06-28 15:36] randomvariable commented on #4618
Oops, we missed this one. We should sort this out for v.Next

/milestone next
/priority important-soon

[2021-06-28 16:54] CecileRobertMichon commented on #4856
I'm going to look into solving this

/assign

[2021-06-28 20:28] neolit123 commented on #4848
technically not a cluster-api or kubeadm issue.
commented on the k/k issue.

[2021-06-29 10:31] sbueringer commented on #4229
Currently not really working on it
/unassign

[2021-06-29 17:02] benc-uk commented on #4856
Thanks @timfpark your command overriding the versions, just saved me a LOT of time

[2021-06-29 23:15] #4856 closed

[2021-06-30 00:06] CecileRobertMichon commented on #4858
/close

done in #4859

[2021-06-30 00:06] #4858 closed

[2021-06-30 18:17] dlipovetsky opened #4870 ":bug: clusterctl move preflight check can fail even if the target cluster is up and running"
**What steps did you take and what happened:**
I deployed a workload cluster. I then deployed the CAPI controllers on the workload cluster. Finally, I tried to move the workload cluster objects from the bootstrap the workload cluster. But `clusterctl move` failed one of its preflight checks:

[code]

The error is created here: https://github.com/kubernetes-sigs/cluster-api/blob/9bb9c95f846a0f2cf85

[2021-06-30 18:43] CecileRobertMichon commented on #4870
cc @arunmk

[2021-06-30 23:31] CecileRobertMichon commented on #4864
@jdef thanks for opening an issue, I agree this looks like an oversight. Would you like to open the PR to fix? If not I'll mark this as help-wanted

[2021-07-01 01:36] jdef commented on #4864
Please mark as help-wanted. Still fighting the corporate red tape...

On Wed, Jun 30, 2021 at 7:31 PM Cecile Robert-Michon <
***@***.***> wrote:

--
James DeFelice
585.241.9488 (voice)
650.649.6071 (fax)

[2021-07-01 16:24] CecileRobertMichon commented on #4864
/help

[2021-07-04 10:07] fabriziopandini opened #4874 "Consider if to add Patches field to InitConfiguration and JoinConfiguration"
**Detailed Description**

https://github.com/kubernetes/kubernetes/pull/103063 recently added `InitConfiguration.Patches.Directory`, `JoinConfiguration.Patches.Directory` to allow the user to configure a directory from which to take patches for components deployed by kubeadm.

Should we add the same to the KubeadmConfig type in CAPI?

**Anything else you would like to add:**

IMPORTANT: This will

[2021-07-04 10:31] fabriziopandini opened #4875 "Consider how to decouple the bootstraptoken API from the kubeadm API"
**Detailed Description**

https://github.com/kubernetes/kubernetes/pull/102964 decoupled the bootstraptoken API from the kubeadm API.

In CAPI we are maintaining a mirror of kubeadm v1beta3 types, that should be probably adapted to the above changes

**Anything else you would like to add:**

This change should not be applied to kubeadm v1beta1 and v1beta2 types; also the Cluster API owned types un

[2021-07-04 10:47] MaxRink opened #4876 "Kubeadm join yaml gets purged by SystemD"
**What steps did you take and what happened:**
Im trying to bootstrap bare metal nodes with CAPI and have hit the issue that systemd purges files from tmp before kubeadm join runs. There is a warning about this in the cloud-init docs about that, too ( https://cloudinit.readthedocs.io/en/latest/topics/modules.html#write-files )
This also has been fixed in v1a4 but noct backported to a3 ( https://gi

[2021-07-04 11:40] fabriziopandini commented on #4190
I think that this can be easily fixed by moving the https://cluster-api.sigs.k8s.io/developer/guide.html#cert-manager paragraph under the https://cluster-api.sigs.k8s.io/developer/guide.html#option-2-the-old-fashioned-way section, and adding a note the version of cert-manager should match the version used in the Cluster API version you are planning to test/develop.

/help
/good-first-issue

[2021-07-04 11:40] fabriziopandini commented on #4190
/remove-lifecycle rotten

[2021-07-04 12:13] fabriziopandini commented on #4870
My two cents
- technically, there is no clean way for clusterctl to determine if a provider in the source cluster is doing some long term operation, like e.g. provisioning a VM or some other piece of infrastructure.
- If moves happens in the middle of one of the above long term operation, most probably the operation will fail because the Cluster API resources does not exist anymore in the source c

[2021-07-04 12:26] fabriziopandini commented on #4848
/close
as per comment on the Kubernetes issue Cluster API is not responsible for this retry

[2021-07-04 12:26] #4848 closed

[2021-07-04 16:15] MaxRink commented on #4876
i had a short exchange with @fabriziopandini on slack about this: https://kubernetes.slack.com/archives/C8TSNPY4T/p1625393799083100

[2021-07-05 07:50] fabriziopandini commented on #3439
/lifecycle frozen

[2021-07-05 07:53] fabriziopandini commented on #4007
Things are changed a lot in this area, but IMO it will be interesting to explore if this refactor still makes sense...
/remove-lifecycle stale

[2021-07-05 07:55] fabriziopandini commented on #4253
Not sure what is the state here given that the actual work seems to be happening on other projects...
/remove-lifecycle stale

[2021-07-06 01:10] stmcginnis commented on #4380
/remove-lifecycle stale

[2021-07-06 05:03] dlipovetsky commented on #4870
Thank you for joining in the discussion, @fabriziopandini! :pray:

To execute this step, I need some criteria that tells me that my cluster is "up and running." If I understand you correctly, you are saying that the criteria may be different for each cluster, and that the clusterctl preflight checks are a necessary subset of the criteria, but not the complete criteria:

I don't understand why this

[2021-07-06 08:52] gyliu513 opened #4878 "ClusterResourceSet feature does not work"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

Please refer to https://github.com/kubernetes-sigs/cluster-api-provider-nested/issues/155 for detail.

Follow the proposal guides:
- https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/20200220-cluster-resource-set.md
- https://cluster-api.sigs.k8s.io/tasks/experimen

[2021-07-06 09:00] fabriziopandini commented on #4870
IMO having all the machine in a cluster provisioned is a good signal; if you want to stay on the safe side, you could also check for all the nodes to be in ready state.

I was not making a claim, but just noting that it might happen to get some orphaned infrastructure, and I fully agree with you that this should not happen if re-entrancy is properly implemented by all the providers.
But why take t

[2021-07-06 09:20] fabriziopandini commented on #4436
/close

This was fixed by https://github.com/kubernetes-sigs/cluster-api/pull/3088 and following PRs