[2020-06-16 14:01] neolit123 commented on #2769
WRT:

in 1.19 kubeadm merged a number of fixes and backported them to 1.17, 1.18:

https://github.com/kubernetes/kubeadm/issues/2091
https://github.com/kubernetes/kubeadm/issues/2092
https://github.com/kubernetes/kubeadm/issues/2093
https://github.com/kubernetes/kubeadm/issues/2094

/assign @fabriziopandini
for evaluation of this part.

adding up-to-date comments to the rest of the tasks:

[1] tim

[2020-06-16 14:11] benmoss opened #3197 "Flaky test: MachineHealthCheck Reconciler when reconciling a MachineHealthCheck should mark unhealthy nodes for remediation"
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api/3190/pull-cluster-api-test/1272574021598187520
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api/3186/pull-cluster-api-test/1272635929516838912
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api/3181/pull-cluster-api-test/12725746514484

[2020-06-16 14:12] benmoss commented on #3197
/assign

[2020-06-16 14:29] ncdc commented on #2083
We should try to find a solution that works for everyone, and I'd prefer to avoid adding "expert mode" flags to enable something like this.

Additionally, we have to add logic that copies changes made to the KCP spec to the kubeadm ConfigMap that lives inside the workload cluster - it's not sufficient to solely set `allowedPaths` to `*`.

@Arvinderpal would you be able to enumerate which specific

[2020-06-16 14:31] detiber commented on #2083
Part of the issue with updating the kubeadm configmap will be that the version of the kubeadm config stored there will be dependent on the version of kubeadm that was used to create it, and unless that version is < v1.15 I suspect it will be a v1beta2 configuration rather than the v1beta1 configuration that we have embedded in our types.

[2020-06-16 14:34] mariusgrigoriu commented on #2083
Wouldn't the strategy of taking on individual fields make this a recurring issue and put cluster api always behind whatever capabilities come out in kubeadm? How might we allow the whole config file to be regenerated?

[2020-06-16 14:44] detiber commented on #2083
Potentially yes, but we also need to be able to target a least common denominator configuration format to support the minimum k8s version that we expect to support in cluster-api.

Treating the kubeadm config as an opaque blob leads to a few different issues:
- We can't validate the config for users nor provide any type of feedback on why it may be failing to bootstrap/join a cluster
- We can't ha

[2020-06-16 14:56] vincepri commented on #2769
/milestone v0.4.0

[2020-06-16 15:11] vincepri commented on #3197
@benmoss Can we prioritize this issue a little more? Seems there is a lot of failing tests because of this flake. I think what we're doing today with the `DescribeTable` and reusing the same Machines isn't exactly right.

When I was working on the tracking cache, I started rewriting the tests using an approach consistent with the rest of the codebase. If you have time to finish this up, it'd be gr

[2020-06-16 15:18] vincepri commented on #3150
Closing this in favor of https://github.com/kubernetes-sigs/cluster-api/issues/3150

/close

[2020-06-16 15:18] #3150 closed

[2020-06-16 15:37] benmoss commented on #3197
I can't prioritize it any more captain, I'm giving it all I've got!

but yes I'll try to incorporate those changes 😄 . Still at the scratching my head phase so the suggestion is helpful.

[2020-06-16 15:52] vincepri commented on #3197
/priority critical-urgent
/milestone v0.3.7

[2020-06-16 15:58] vincepri commented on #3189
We can consider using https://github.com/a8m/envsubst

[2020-06-16 16:36] JoelSpeed commented on #3184
I think I found the problem, I believe that the `watchExists` isn't working because the eventhandler and kind are being created as _separate_ pointers for each cycle through the controller

I've updated the test to reflect this and it now fails, which I believe is what is causing this hot loop https://github.com/JoelSpeed/cluster-api/commit/26bbc140c18880e590797a02568be41dcf4a080f

We need to do c

[2020-06-16 16:42] vincepri commented on #3184
@JoelSpeed are you able to put a PR up in this milestone?

[2020-06-16 16:48] jzhoucliqr opened #3198 "KCP deleted without deleting the CP Machine"
When cluster delete happens before KCP controller able to add finalizer, the KCP object is deleted without deleting the CP Machine.

Seen this with capz. what happened is, the first time when kcp reconcile doing init, before the finalizer is added, it's trying to get remote cluster status before calling patchHelper, but since first CP node is not up yet, the call to remote cluster stuck and timeou

[2020-06-16 16:53] vincepri commented on #3198
Thanks for filing this issue @jzhoucliqr, are you able to reproduce using one of the latest images (from master branch)? It should be fixed https://github.com/kubernetes-sigs/cluster-api/blob/master/controlplane/kubeadm/controllers/controller.go#L166-L172

[2020-06-16 17:01] jzhoucliqr commented on #3198
I'm not sure the fix will solve this particular issue, because r.updateStatus() won't return until the 30 seconds timeout, unless it has other way to detect the connection error without timeout.

[2020-06-16 17:03] detiber commented on #3198
Might not hurt to add the finalizer and force a reconciliation before taking any other actions on the resource to ensure that we don't have a race condition between a delete and the initial reconciliation loop for a resource.

[2020-06-16 17:05] vincepri commented on #3198
We can also reduce the timeout, 30s seems a very large amount

[2020-06-16 17:05] vincepri commented on #3198
/milestone v0.3.7

[2020-06-16 17:07] JoelSpeed commented on #3184
I'm working on a fix, I initially tried `reflect.DeepEqual()` over the watchInfo, but that passed the test but failed on the cluster. For some reason the eventHandler thats being passed through doesn't match on reflect.DeepEqual, so I need to work out why/come up with a way to compare those. Will likely have a PR up tomorrow

[2020-06-16 17:19] Arvinderpal commented on #2083
Can we start with `joinConfiguration.nodeRegistration.kubeletExtraArgs` and also expose (and allow mutation of) `KubeletConfiguration` and `KubeProxyConfiguration` (https://github.com/kubernetes-sigs/cluster-api/issues/1584)?

More than happy to do the leg work in implementing these changes, if we can reach some consensus here.

[2020-06-16 17:23] jzhoucliqr commented on #3198
/assign

[2020-06-16 17:24] wfernandes commented on #3189
It looks like this can be easily spiked out using the YamlProcessor interface to flush out the behavior and current expectations from clusterctl. I'm happy to assist here if needed.

If the community decides on the convention we want to follow we can swap it with the SimpleYamlProcessor or do some kind of transition. But it seems that envsubst looks minimal enough to support and doesn't need addit

[2020-06-16 17:32] Arvinderpal commented on #2083
Can we assume `v1beta1` for now?

There is a separate issue for v1beta2 here: https://github.com/kubernetes-sigs/cluster-api/issues/3150

[2020-06-16 17:34] detiber commented on #2083
For mutating the stored kubeadm config in the workload cluster, unfortunately not. It already is v1beta2 in the general case today and the config map handling we have today around it just happens to get away with there being high similarity between the versions.

That issue is more around being able to consume the v1beta2 config and leveraging the v1beta2 config for bootstrapping nodes.

[2020-06-16 17:57] detiber commented on #2710
/lifecycle frozen

[2020-06-16 18:18] vincepri commented on #3189
/milestone v0.3.x

[2020-06-16 18:18] vincepri commented on #3189
/priority important-soon
/help

@CecileRobertMichon Is there someone from your team that could pick this up?

[2020-06-16 18:20] ncdc commented on #3189
/assign @nader-ziada @wfernandes

[2020-06-16 18:21] ncdc commented on #3189
/help cancel

[2020-06-16 18:29] vincepri commented on #3184
Thanks @JoelSpeed, reach out if you wanna chat over the solution on slack

[2020-06-16 18:54] ncdc commented on #2083
I would be in favor of `joinConfiguration.nodeRegistration.kubeletExtraArgs`, as I believe that is self-contained (does not have to be copied to the ConfigMap). Does anyone foresee any issues here (other than the possibility that you might specify args that prevent the kubelet from running correctly)?

We should probably continue to use #1584 for fleshing out the component config ideas.

[2020-06-16 18:57] ncdc commented on #2083
For v1beta1 vs v1beta2 in the ConfigMap, we are currently working with the data as `*unstructured.Unstructured`, which means we don't specifically to have convert to/from versioned kubeadm go types, but @detiber is correct that we have been lucky up til now that things are generally compatible in this space between v1beta1 and v1beta2. We may need to start adding logic that checks the apiVersion o

[2020-06-16 21:48] fabriziopandini commented on #2769
@neolit123 thanks for the update!

[2020-06-17 02:57] vincepri commented on #3193
Sounds reasonable to me, we can probably add this in v0.3.x given that it's a benign improvement, @ncdc thoughts?

[2020-06-17 08:35] lsytj0413 opened #3200 "[doc] gcr.io/k8s-staging-cluster-api/capd-manager-amd64:dev not found"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

In the [clusterctl for Developers](https://cluster-api.sigs.k8s.io/clusterctl/developers.html#additional-steps-in-order-to-use-the-docker-provider), it use gcr.io/k8s-staging-cluster-api/capd-manager-amd64:dev for the docker provider image, but if we pull it, the docker report **not found

[2020-06-17 08:47] lsytj0413 commented on #3200
Found it must be build from **make -C test/infrastructure/docker docker-build REGISTRY=gcr.io/k8s-staging-cluster-api** command. close issue.

[2020-06-17 08:47] #3200 closed

[2020-06-17 09:16] JoelSpeed commented on #3184
/assign
/lifecycle active

[2020-06-17 12:10] randomvariable commented on #2461
/lifecycle frozen

[2020-06-17 12:47] fabriziopandini commented on #3200
Great to hear you managed to find the solution to your problem.
If you have suggestions on how to make this more clear in the docs, let us know

[2020-06-17 12:49] fabriziopandini commented on #2596
/remove-lifecycle stale

[2020-06-17 12:56] #3198 closed

[2020-06-17 13:48] wjun commented on #3170
I applied the latest kubeadm-bootstrap-controller and kubeadm-control-plane-controller images to the management cluster during velero backup and restore, but still triggered KCP upgrade with logs as:
I0617 13:12:58.613527       1 controller.go:261] controllers/KubeadmControlPlane "msg"="Upgrading Control Plane" "cluster"="cool" "kubeadmControlPlane"="cool-control-plane" "namespace"="default"

The

[2020-06-17 14:24] vincepri commented on #3170
@wjun Thanks for the report, @sedefsavas is actively working on this issue, we'll have a fix in v0.3.7 (due in a couple of weeks)

[2020-06-17 14:25] vincepri commented on #3184
/milestone v0.3.7

[2020-06-17 17:15] detiber commented on #3193
/milestone v0.3.x
/priority important-longterm
/help

[2020-06-17 17:26] JoelSpeed opened #3202 "MachineHealthCheck will match Machines across cluster boundaries"
**What steps did you take and what happened:**
- Create a management cluster with at least two workload clusters running on it.
- Ensure that there is a label common to some Machines across at least two workload clusters
  - Eg, add the label `role: worker` to MachineDeployments on the two clusters
- Create a MachineHealthCheck  with `clusterName` pointing to one of the clusters, but the label sel

[2020-06-17 17:40] JTarasovic opened #3203 "Enhanced kubernetes version upgrades for workload clusters"
**User Story**

As an operator, I would like to be able to easily update the Kubernetes version of my workload clusters to be able to stay on top of security patches and new features.

**Detailed Description**

The procedure for updating the k8s version currently* is to copy the `MachineTemplate` for KCP, update KCP w/ new version and reference to new `MachineTemplate` which causes a rollout. Rins

[2020-06-17 17:48] nader-ziada commented on #3189
@wfernandes and me looked into using `envsubst`, and the TLDR is it's a lot bigger change than we expected.

the library doesn't really expose any detailed func(s) that would return a list of variables, its has a limited set of public func https://godoc.org/github.com/a8m/envsubst and doesn't really fit with how clusterctl works. With respect to the Azure PR mentioned here, clusterctl only does su

[2020-06-17 17:49] vincepri commented on #3202
/milestone v0.3.7

[2020-06-17 17:57] CecileRobertMichon commented on #3189
How does clusterctl get the credential variables that are in infrastructure_components.yaml then?

[2020-06-17 18:07] nader-ziada commented on #3189
the new change to add templating are geared towards the templates and not the infrastructure_components.yaml, the infrastructure components will still get values but its was not planned to have any templating.

The issue with the doing that using envsubst library is that it only accepts values from environment variables so it would ignore the clusterctl config file and if it doesn't find a value f

[2020-06-17 18:16] vincepri commented on #3189
@nader-ziada @wfernandes I tried out a different envsubst library, which permits to give your own mapping function. It's closer to what the stdlib does, and we could use it as a starting point, the library also offers the `envsubst/parse` library that can be used directly as well. It'd parse the file for us, and we can have a custom env template that doesn't allow for empty (unset) values.

See ht

[2020-06-17 19:34] wfernandes opened #3204 "sideEffects for cert-manager mutating webhook is Unkown"
**What steps did you take and what happened:**
1. `kind create cluster`
1. `clusterctl init`
1. `velero install ...`
1. `velero backup create bak1`
1. `kubectl delete mutatingwebhookconfigurations cert-manager-webhook`
1. `velero restore create rest1 --from-backup bak1`
1. `velero restore logs rest1 | grep error`
[code]

**What did you expect to happen:**
Expected `velero restore` to succeed.

**A

[2020-06-17 19:34] wfernandes commented on #3204
/assign
/lifecycle active

[2020-06-17 19:49] fabriziopandini opened #3205 "Change controllers to add finalizers at the first reconciliation"
**What steps did you take and what happened:**
As per https://github.com/kubernetes-sigs/cluster-api/issues/3198, we should make sure that the controllers will add finalizers to object at the first reconciliation, thus avoiding problem on the deletion of objects still in the middle of the first reconciliation.

https://github.com/kubernetes-sigs/cluster-api/pull/3199 fixed the problem for KCP, but

[2020-06-17 19:52] fabriziopandini commented on #3205
/priority important-longterm

[2020-06-17 21:00] vincepri commented on #3205
/milestone v0.3.x
/help

[2020-06-17 21:02] vincepri commented on #3204
/milestone v0.3.x
/priority important-longterm

[2020-06-18 06:52] SataQiu commented on #3205
/assign

[2020-06-18 07:38] fabriziopandini commented on #3203
This issue requires a certain degree of coordination across several components, so the first question in my mind is where to implement this logic.
I don't think this should go at cluster level, because cluster main responsibility is the cluster infrastructure, so what about assuming this should be implemented in separated extension (with it's own CRD/controller)?

[2020-06-18 14:33] vincepri commented on #3078
/priority important-soon

[2020-06-18 14:44] spagno commented on #3078
/assign
/lifecycle active

[2020-06-18 15:05] vincepri commented on #3197
This should be fixed by #3201

cc @fabriziopandini

[2020-06-18 15:26] ncdc commented on #3193
👍 (@sb464f & I chatted on Slack about this)

[2020-06-18 17:18] #3204 closed

[2020-06-18 17:26] randomvariable commented on #2826
/assign

CAPA conformance was giving me grief so i kind of started doing it.

/lifecycle active

[2020-06-18 17:43] elmiko commented on #2826
hey @randomvariable, just an update to the comment i made previously in this thread. i have started to hack on an experiment where i have broken out the autoscaler tests from upstream and started to make them into a library.

the general idea is that currently the upstream autoscaler tests are heavily tied into the gce/gke provider. i am working towards rewriting the provider interface so that it

[2020-06-18 18:35] vincepri commented on #3203
/milestone v0.4.0

We should revisit in v1alpha4 timeframe, probably needs a more detailed proposal

[2020-06-18 18:43] benmoss commented on #3197
/unassign

[2020-06-18 19:24] vincepri commented on #3202
This should be pretty straightforward, here is where we list the Machines attached to a MHC object: https://github.com/kubernetes-sigs/cluster-api/blob/80653d174c6f5bb5ea76fbafbe2f0c50cc1185dd/controllers/machinehealthcheck_targets.go#L205-L212

The list uses the label selector we have under `spec.selector` to filter the machines we want to target. In the webhook defaulter https://github.com/kuber

[2020-06-18 19:49] #3137 closed

[2020-06-18 20:38] wfernandes commented on #3189
The `drone/envsubst` library could work.
See spike below.
https://play.golang.org/p/exlOO2Z4dMN

However, a couple of questions.
1. Are there any considerations for including this library?
1. If we do decide this is something we want, should we be creating a CAEP for this work? Since it will be updating the behavior of clusterctl?

[2020-06-18 20:44] vincepri commented on #3189
I can't think of any, the license allows us to use it as a library, @detiber thoughts?

[2020-06-18 20:46] CecileRobertMichon commented on #3189
Would it be a breaking change? If so, then yes. But I would expect this to be backwards compatible (ie. existing users can still use the same templates without defaults and it would still work), in which case I don't think a CAEP is needed.

[2020-06-18 21:01] detiber commented on #3189
As long as it meets the CNCF whitelist policy, then it should be fine: https://docs.google.com/presentation/d/1tbH15qF7bXOp8veRKHlWSeH6w1NWkMN3qmIwB6LvvgU/edit#slide=id.p1

[2020-06-18 21:08] wfernandes commented on #3189
Looks like it fulfills the requirements. Unless there are any other community concerns I don't mind working on this.
However, I suggest we get https://github.com/kubernetes-sigs/cluster-api/pull/3115 merged in before we do any work on this. 😄
Also, we should suggest them updating those slide to be called `CNCF Allowlist Policy` 😉

[2020-06-18 21:09] detiber commented on #3189
Indeed, I'm not sure if there is a newer version available elsewhere, I had to dig through quite a few old k8s issues across various repos to dig that copy up :grimacing:

[2020-06-18 21:19] vincepri commented on #3193
Whoever is looking into implement this change, MachineSet gets the priority list from: https://github.com/kubernetes-sigs/cluster-api/blob/0225dbfdb3fd16538336a2cc6f6857119bf72aec/controllers/machineset_delete_policy.go#L133

Each of those functions needs to be changed to look for `Machine.Status.NodeRef` and return a higher priority for those.

Given that now we also have `MachineHealthCheckSucce

[2020-06-18 21:26] benmoss commented on #3202
What is the point of the `clusterName` selector now that there's a mandatory `selector`?

[2020-06-18 21:26] benmoss commented on #3202
/assign

[2020-06-18 21:27] benmoss commented on #3202
Do we want to deprecate `clusterName` and move people to using `selector` exclusively for this?

[2020-06-18 21:28] wfernandes commented on #3193
/assign

[2020-06-18 22:16] CecileRobertMichon commented on #3203
cc @rbitia

Ria, this might fit into your "cluster group" proposal?

[2020-06-18 22:53] JTarasovic commented on #3203
We have a relatively small (but growing) number of clusters so we're currently doing upgrades sort of manually. Conceptually, we think about our clusters in 3 streams - alpha, beta and stable - and roll out upgrades according to stream.

Our plan right now is to have common configuration for a stream in a CR (`StreamConfig`) w/ a controller. The `StreamConfig` controller would reconcile to `Cluste

[2020-06-18 23:03] vincepri commented on #3203
Thanks for the extra context @JTarasovic, from everything I'm hearing here it might be worth considering some extra utilities/libraries/commands under `clusterctl` which could perform some variations of the concepts described above.

[2020-06-19 15:45] #3184 closed

[2020-06-19 16:08] cprivite commented on #1584
Here's a user story for you in case it helps motivate folks. The need to edit kube-proxy to do metrics binding to 0.0.0.0 instead of 127.0.0.1 so that prometheus can get metrics from kube-proxy on cluster-api provisioned clusters.

[2020-06-19 16:29] wfernandes commented on #3193
/lifecycle active

[2020-06-19 20:29] wfernandes commented on #2252
@vincepri I believe we can close this issue since the PR above was merged in.

[2020-06-19 20:43] vincepri commented on #2252
👍
/close

[2020-06-19 20:43] #2252 closed

[2020-06-19 22:05] joaopapereira commented on #2871
@ericzhang08 I do not mind to give it a try if you do not have time.
If so you can assign it to me.

[2020-06-19 22:23] wfernandes commented on #2871
@joaopapereira Feel free to assign it to yourself with `/assign` and mark it as `/lifecycle active` to indicate that you are working on it. Thanks!

[2020-06-21 13:21] hazbo commented on #3168
Where do you think might be an appropriate place to put these? Is the idea to create exported funcs that return an instance of each given CRD, in this case?

i.e.
[code]

Is there some overlap where for a period of time both the `var` and a func like this one could co-exist while work is in progress on it?

[2020-06-21 21:45] #2138 closed

[2020-06-22 08:38] fabriziopandini commented on #3168
I think that a func in an internal package will be enough to fix this issue (might me returning a pointer instead of a copy of the struct), but considering the type of problem, IMO we should avoid coexistence of current and target solution and wait for when v1alpha4 work start.

[2020-06-22 13:23] fabriziopandini commented on #2542
Creating a workload cluster is an async operation triggered by kubectl apply, not by clusterctl. So I don't see this a viable option

@prankul88 if I can give a suggestion, don’t underestimate the UX around the two options - create a separated kubeconfig file vs merging into the current one -, because in my experience this is controversial and users like the commands to adapt to their habits.
Migh

[2020-06-22 13:30] prankul88 commented on #2542
@fabianofranz Thanks for the input.

I would be posting on the channel to discuss this.

[2020-06-22 15:32] detiber opened #3227 "Support for better deletion priority granularity and precedence for MachineSets"
**User Story**

As a Cluster API user I would like MachineSet deletion priority to be easier to understand, especially when external integrations are involved

**Detailed Description**

Currently we lump a lot of different deletion priority mechanisms for MachineSet under the same priority levels, so there is no clear precedence for which mechanisms take priority. There are also slightly different

[2020-06-22 15:34] vincepri commented on #3227
/milestone v0.4.0

Going to set v1alpha4 for now to see if we need a redesign or not

[2020-06-22 17:31] benmoss commented on #3197
/reopen

I don't think the changes fixed the flakiness

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api/3226/pull-cluster-api-test/1275105539935703044
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api/3226/pull-cluster-api-test/1275095850397208576
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sig

[2020-06-22 17:42] vincepri commented on #3197
Going to re-categorize for improvement in v0.3.x and non-release blocking; not sure how much more time we wan to spend on these tests; we should move them to e2e.

/milestone v0.3.x

[2020-06-22 17:44] benmoss commented on #3197
I was able to reproduce pretty easily with `ginkgo -untilItFails ./controllers/ -- -v=3 | tee /tmp/test.log` for anyone who wants to pick this up. `tee` just helps for reading the huge log output in a text editor later.

[2020-06-22 20:15] benmoss opened #3230 "KCP should pause reconciliation while machines are failed but not eligible for automatic remediation"
**User Story**

As an operator I would like to not have KCP continue to do scale up / scale down operations when a machine is in a failed state but is not marked for remediation so that I can triage the problem and not have it compounded by additional operations KCP might decide to take.

**Detailed Description**

Right now we have code in place to not do scaling operations while we are waiting on

[2020-06-22 20:33] #3173 closed

[2020-06-23 14:07] ncdc commented on #3202
@benmoss hi, are you working on this?

[2020-06-23 14:19] #3193 closed

[2020-06-23 14:57] joaopapereira commented on #2871
/assign
/lifecycle active

[2020-06-23 15:32] randomvariable commented on #3176
Linking some investigatory work done by @MaxRink here:
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/942

[2020-06-23 15:34] benmoss commented on #3202
@ncdc hey, yep

[2020-06-23 15:35] ncdc commented on #3202
Thanks! Mind marking it active?

[2020-06-23 15:36] seh commented on #3203
I find that if I change the "spec.version" field in an existing _KubeadmControlPlane_ object and apply the change, *usually* the controllers will upgrade my control plane, without me introducing a new _(AWS)MachineTemplate_. It sounds like that's not supposed to work, and yet it does—most of the time. Why is that?

[2020-06-23 15:37] benmoss commented on #3202
/lifecycle active

[2020-06-23 16:31] vincepri commented on #3119
Do we have anyone working on this, or should we bump it from the milestone?

[2020-06-23 16:51] #3020 closed

[2020-06-23 17:05] #3202 closed

[2020-06-23 17:31] wfernandes commented on #3119
@vincepri Apologies. I didn't get a chance to look at this. But I think it should be bumped from this release.

Maybe we document this as a known bug. WDYT?

[2020-06-23 18:16] vincepri commented on #3144
Needs another pass / triage

[2020-06-23 18:19] vincepri commented on #3144
/priority critical-urgent

[2020-06-23 18:30] vincepri commented on #2778
/lifecycle frozen

[2020-06-23 19:17] ncdc commented on #3144
We have determined the root cause. The adoption logic checks only for secrets with controller owners, but CAPBK in v1alpha2 only ever creates secrets with non-controller owners; thus, the adoption logic does not reparent the secrets correctly.

When @sethp-nr tested this, it was using a fork with slightly different code that checks for any ownership, not specifically controller ownership.

@sethp-

[2020-06-23 19:38] fabriziopandini commented on #3119
I'm +1 to document and bump the fix to the next release

Working on the fix is tricky, because we should preserve the current approach for some time for retro compatibility e.g. assuming that we move to labels for identifying the cluster to which a clusterRoleBinding belongs,

if you
- run clusterctl init with an older version of clusterctl
- clusterRoles gets created with name prefix (but without

[2020-06-23 21:21] #3144 closed

[2020-06-24 00:05] vincepri commented on #2403
Closing given that the CAPV issue has been closed, feel free to reopen if necessary.

/close

[2020-06-24 00:05] #2403 closed

[2020-06-24 01:54] zanghao2 opened #3242 "Using external etcd can not update kcp status"
**What steps did you take and what happened:**

* I use external etcd for kcp and refer to the document [https://github.com/kubernetes-sigs/cluster-api/blob/6dc38f9b64691822ccbefc8c08ae4a49b474f602/bootstrap/kubeadm/docs/external-etcd.md](url).
* There is an error that the etcd tls.key could not be obtained when the KCP controller updated the status.
* Then I add tls.key for  CLUSTER-NAME-etcd but

[2020-06-24 02:16] vincepri commented on #3242
Hi @zanghao2 and thanks for filing this issue, the original implementation and proposal for KubeadmControlPlane was meant to be used only with stacked etcd.

From the [proposal](https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/20191017-kubeadm-based-control-plane.md#non-goals--future-work):

This requirement was meant to reduce the support scope for KCP and to allow the co

[2020-06-24 08:08] randomvariable commented on #3242
There may be a bug in KCP attempting to check the etcd status even when it shouldn't.
@zanghao2, could you provide a sample of your kubeadmcontrolplane configuration, and ideally if you can get the logs of the cluster api controllers, that would also help.

[2020-06-24 14:26] fabriziopandini commented on #3081
/lifecycle active
/assign

[2020-06-24 14:34] detiber commented on #3242
@vincepri we never intended to remove support for external etcd when specified in the kubeadm configuration that is passed to KCP, we likely just need to short-circuit some of the health checking that we are doing when external etcd is configured

[2020-06-24 14:51] vincepri commented on #3242
Might be worthwhile to amend the proposal with some clarification, that wasn't immediately clear it's/should. be supported

[2020-06-24 15:26] detiber commented on #3242
@vincepri It's called out specifically in the goals section: "To support pre-existing, user-managed, external etcd clusters", and the scenario is also called out in the behavioral sections as it applies to the various operations

[2020-06-24 15:40] vincepri commented on #3242
Got it, the non-goal threw me off, but I guess it does say managed :D

[2020-06-24 15:59] CecileRobertMichon opened #3244 "[docs] Add controller architecture docs for MachinePool"
We should add a page for MachinePool in the architecture/controllers section of the book to document the controller flow for MachinePools, similar to https://cluster-api.sigs.k8s.io/developer/architecture/controllers/machine.html and https://cluster-api.sigs.k8s.io/developer/architecture/controllers/control-plane.html.

/kind documentation
/help

[2020-06-24 16:12] vincepri commented on #3244
/milestone v0.3.x

[2020-06-24 16:42] vincepri commented on #3119
/milestone v0.3.x

[2020-06-24 16:42] wfernandes commented on #3119
I'll create a PR updating the clusterctl docs with a warning for now. We can tackle the real solution as part of the next release.
 Thanks @JTarasovic for surfacing this bug.

[2020-06-24 16:46] JTarasovic commented on #3203
Does it actually change the version of the running cluster - eg `kubectl get no -o wide` shows the new version?

It did not in our experience. It would roll the control plane instances but they'd still be on the previous version.

[2020-06-24 16:53] CecileRobertMichon commented on #3203
This is how upgrading k8s version on control planes workes currently: current https://cluster-api.sigs.k8s.io/tasks/kubeadm-control-plane.html?highlight=rolling#how-to-upgrade-the-kubernetes-control-plane-version

Note that you might need to update the image as well if you are specifying the image to use in the machine template.

[2020-06-24 17:09] CecileRobertMichon commented on #3242
/help

[2020-06-24 17:10] vincepri commented on #3242
/milestone v0.3.x

[2020-06-24 17:12] vincepri commented on #3230
/milestone v0.3.x

[2020-06-24 17:12] CecileRobertMichon commented on #3230
/help

[2020-06-24 17:18] wfernandes commented on #2542
/area clusterctl

[2020-06-24 17:19] vincepri commented on #2542
/milestone v0.3.x

[2020-06-24 17:23] elmiko commented on #2542
i think this is a nice feature to make things easier for users, it would be cool if it could be used as a shell substitution too eg:

[code]

or

[code]

obviously this is just a made up example, but i hope it's clear. i think it also implies that each clusters kubeconfig would get written _somewhere_. maybe this functionality could be a flagged option?

[2020-06-24 17:29] prankul88 commented on #2542
@elmiko I was thinking of something like `clusterctl get kubeconfig <workload cluster name>` so that each cluster's config can be identified.

[2020-06-24 17:53] vincepri commented on #2542
How about something like
[code]

Kind, when creating a new cluster it sets the context to `kind-<cluster-name>`, we might be able to do something similar like `capi-<namespace>-<cluster-name>`?

[2020-06-24 18:01] wfernandes commented on #2963
I just tested this on the current clusterctl cli and it seems to work.
[code]
It seems that this got fixed as part of PR https://github.com/kubernetes-sigs/cluster-api/pull/3124

/close

[2020-06-24 18:01] #2963 closed

[2020-06-24 19:05] CecileRobertMichon opened #3247 "[clusterctl] Support pluggable templating engines for provider yaml (core, bootstrap, kcp, infra)"
To follow up on #3115 which adds a templating interface for clusterctl cluster config, I would like to be able to process templates for the providers as well (infrastructure-components.yaml, core-components.yaml, bootstrap-components.yaml, control-plane-components.yaml).

To give concrete use cases:

- As a provider, I would like to be able to specify a default for an environment variable that is

[2020-06-24 19:09] sedefsavas opened #3248 "Add logger to KCP machine filters"
Machine filters (controlplane/kubeadm/internal/macine_filters) do not return any errors hence adding a logger to this package will give some visibility into if/when an error occurs.

/help
/priority backlog

cc @detiber

[2020-06-24 19:19] vincepri commented on #3248
/milestone v0.3.x

[2020-06-24 19:35] wfernandes commented on #3247
/area clusterctl

[2020-06-24 19:36] seh commented on #3203
Yes, it shows the new version there.

[2020-06-24 19:47] vincepri commented on #3247
If we do #3189, can we rely on component config in the future to configure controllers?

[2020-06-24 20:24] detiber commented on #2542
Do we need to worry about maintaining consistency with the way that we use stdout for `clusterctl config cluster`?

That said, I do like the idea of being able to insert config into a specified (or default) kubeconfig and potentially having the option to modify the current context for that config (if it exists)

[2020-06-24 20:35] vincepri commented on #2542
Yeah that crossed my mind, they do cover different purposes, 🤷 — what do you think?

[2020-06-24 21:09] CecileRobertMichon commented on #3247
I think that makes sense as the templating needs for the provider aren't as complex as the cluster templates (config is mostly controlled by env vars and container args, there is no need to change what the template structure itself looks like, if/else statements, etc.) Component config is also versioned as you pointed out in Slack and can be reloaded at runtime.

[2020-06-24 21:30] #2863 closed

[2020-06-24 21:33] vincepri commented on #3247
That said, I'm in favor of having templating for the infrastructure components as a quicker solution

[2020-06-24 21:48] CecileRobertMichon opened #3252 "[clusterctl] proposal: support a more expressive templating engine beyond simple variable substitution"
**Problem statement:**

As infrastructure providers add more cluster configuration options and features, it is becoming harder to define templates for each feature. In CAPZ, we have taken the approach of using kustomize to generate template "flavors". The main downside of this approach is that 1 feature -> 1 [flavor](https://github.com/kubernetes-sigs/cluster-api-provider-azure/tree/master/templat

[2020-06-24 21:49] CecileRobertMichon commented on #3252
/cc @nader-ziada @devigned @wfernandes @fabriziopandini @ncdc @timothysc @vincepri

[2020-06-24 21:53] CecileRobertMichon commented on #3247
@vincepri I actually just remembered a case where component config wouldn't be enough (I think): as @devigned mentioned in https://github.com/kubernetes-sigs/cluster-api/issues/2339#issuecomment-619136970:

Since this is infra specific, I don't think it would quite fit in the component config. It also requires conditionals in the infra components (ie. create the bootstrap credentials secret iff no

[2020-06-24 21:56] vincepri commented on #3252
@CecileRobertMichon Thoughts about milestone?

[2020-06-24 22:10] CecileRobertMichon commented on #3252
@vincepri for now just wanted to get the discussion started since I know we considered doing this in the past (#2339) and didn't end up implementing it.

[2020-06-25 07:59] prankul88 commented on #2542
@detiber I was more inclined towards the way we use stdout in config cluster to maintain consistency. But happy with what @vincepri suggested too

[2020-06-25 09:36] fabriziopandini commented on #3247
I'm +1 to use #3189 to have the first set of use cases addressed without changing the UX, and to proceed in enabling usage of templating engines in a second step.

WRT to the change required for using a full-fledged templating engine, my suggestion is to add the declaration of the template engine for each provider in the clusterctl config file / in the embedded provider config, so it will be possi

[2020-06-25 16:06] #3205 closed

[2020-06-25 16:10] devigned opened #3255 "Support plugins in clusterctl to make provider-specific setup easier"
**User Story**

As a user I would like to be able to use `clusterctl` to setup my provider with as few commands and scripts as possible, perhaps, just one command.

As a [developer/user/operator] I would like to [high level description] for [reasons]

**Detailed Description**

As of now, a user of a given cloud provider must use a set of scripts and / or other command line tools to setup a provide

[2020-06-25 16:16] CecileRobertMichon commented on #3255
/area clusterctl

[2020-06-25 16:33] vincepri commented on #2542
Let's go with that for now, we can revisit in v1alpha4.

[2020-06-25 16:39] detiber opened #3256 "Should we be updating observed generation automatically in the patch helper?"
/kind question

@vincepri @fabriziopandini One thing that just came to my mind, if we are expecting to be able to rely on using status.observedGeneration as a way to say that a resource has been reconciled to match the desired spec, then we should likely ONLY update observedGeneration when we have successfully reconciled the given resource to the state fully defined in the spec (not just partial r

[2020-06-25 16:44] vincepri commented on #3256
It's probably fair to say we'll need to improve it to only update it if there are no reported errors, it'll require some changes which we can hopefully make in v0.4.

We ended up going this way because in lots of places we were setting the ObservedGeneration regardless in all defer functions.

[2020-06-25 16:50] detiber commented on #3256
The problem is that, if I remember correctly, the rationale for adding it was to have a way for external tooling or controllers to know that the reconciling controller has indicated the resource is "up to date", if we are setting observedGeneration prematurely and potentially on resources that are not under the controllers management, then we are not meeting the expectations of the feature.

If we

[2020-06-25 17:04] wfernandes commented on #2542
So just wanted to clarify the UX here.

The command `clusterctl get kubeconfig <workload-cluster-name>` is going to print out the kubeconfig to stdout.
I'm guessing the user can then `>` that into a kubeconfig file and use `kubectl --kubeconfig=<workload-cluster-kubeconfig-file-path>` to then access the cluster or update the `KUBECONFIG` environment variable.

[2020-06-25 17:25] wfernandes opened #3257 "References to Machine spec.kubernetesVersion seems misleading"
**What steps did you take and what happened:**
In the following files we reference `spec.kubernetesVersion` for the Machine object. But I don't believe we have that property.

https://github.com/kubernetes-sigs/cluster-api/blob/fd73b181efeb3f2027c26841e1c08f5cab0322e9/bootstrap/kubeadm/types/v1beta1/types.go#L67

https://github.com/kubernetes-sigs/cluster-api/blob/fd73b181efeb3f2027c26841e1c08f5ca

[2020-06-25 17:50] vincepri commented on #3257
/help
/milestone v0.3.x

[2020-06-25 18:07] detiber opened #3259 "Improve reconciliation of updates to KubeadmControlPlane ClusterConfiguration"
**User Story**

As a user I would like to be able to mutate more fields for KubeadmControlPlane.Spec.KubeadmConfigSpec.ClusterConfiguration and for those changes to be rolled out in a way that makes sense based on their use.

**Detailed Description**

Currently today we limit the number of fields that are mutable for the Cluster Configuration and the fields that we do allow mutation any mutation t

[2020-06-25 18:11] vincepri commented on #3259
/milestone v0.4.0

[2020-06-25 18:38] detiber commented on #3257
/kind documentation

[2020-06-25 21:54] gab-satchi opened #3260 "Incremental conditions patching leads to reconciliation errors"
While adding conditions to AWSMachine and other CAPA resources, we wanted to show incremental updates using conditions for long running processes that do a busy wait. For ex: [InstanceProvisionStarted](https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1740/files#diff-f44218f73b54795ef2beb4d9a9d59b74R453-R457)

In the same reconciliation loop, the same condition can be updated furthe

[2020-06-25 21:56] wfernandes commented on #3247
I think we can start by implementing a backward compatible change for #3189. I was hoping to **try** it with `drone/envsubst`. See https://github.com/kubernetes-sigs/cluster-api/issues/3189#issuecomment-646293367

To @fabriziopandini last point, I had actually proposed it in the CAEP at one point when we were considering of adding the extensible yaml processors in clusterctl directly via a `contri

[2020-06-25 22:40] wfernandes commented on #3189
/assign
Going to look into this and see if we can get a first pass for supporting certain `envsubst` syntax as discussed above.

[2020-06-26 03:04] zanghao2 commented on #3242
My kcp configuration is as follows: @randomvariable
[code]
The CLUSTER_NAME-etcd only contains tls.crt, When check kcp status I get the log "etcd tls key does not exist for cluster cluster-demo test". I check the code in the GetWorkloadCluster，It's try to check external etcd likes staked etcd. Even if I add the corresponding tls.key. when I change replicase of kcp, I will get the error, because th

[2020-06-26 10:05] fabriziopandini commented on #3247
@wfernandes I'm fine with your proposal for the config, TBD how to integrate new processors in clusterctl

[2020-06-26 10:16] fabriziopandini commented on #3255
I'm generally +1 with the idea, I like seeing clusterctl supporting new use cases.

I think that the discussion should focus on use cases & on defining the required hooks during the full lifecycle of providers (init/upgrade/delete).
Also having some sequence diagrams (or better a CAEP) will shape out the idea / document how plugins should work.

[2020-06-26 11:29] fabriziopandini commented on #3260
Condition patching was originally designed to handle concurrency between two controllers, and in that case each controller was expected to control different conditions. As a consequence, the conflict resolution logic was implemented "at best effort" mimicking the three-way merge.

This is actually a new use case because the same controller is patching the same conditions both incrementally and in

[2020-06-26 13:09] fabriziopandini commented on #3260
/assign
/lifecycle active

[2020-06-26 13:37] gab-satchi commented on #2844
/close

[2020-06-26 13:37] #2844 closed

[2020-06-26 16:15] vincepri commented on #3255
How does kubectl do plugins today?

[2020-06-26 16:19] yastij opened #3264 "clusterctl rewrites provider specific clusterRoleBindings for webhooks"
**What steps did you take and what happened:**
when Installing CAPV through `clusterctl init` clusterctl rewrites the name and Subject's Namespace for ClusterRoleBinding. This becomes an issue when a provider wants to use a mutating webhook that needs a client to perform its logic. see https://github.com/kubernetes-sigs/cluster-api/blob/e874a89c47d4cdf9e14fda545a5765db77cf24f2/cmd/clusterctl/clien

[2020-06-26 16:19] yastij commented on #3264
/priority important-soon

[2020-06-26 16:22] fabriziopandini commented on #3264
rif https://github.com/kubernetes-sigs/cluster-api/blob/cc327c8dcb389d288c72a07aed85f3a4581bbae4/cmd/clusterctl/client/repository/components.go#L437

[2020-06-26 16:55] vincepri commented on #3264
/milestone v0.3.x

[2020-06-26 18:12] wfernandes commented on #2331
/assign
Investigating what needs to be done here.

[2020-06-26 18:35] #2871 closed

[2020-06-26 18:59] fabriziopandini commented on #3248
I'm debated on this one.
I think we are pushing too much application logic, a most specifically code reading from the cluster, into machine filters.
So IMO a better approach to solve this problem is to have a unique method that collects all the required info upfront, with proper error management, and to use filters only ... as a filter.

[2020-06-26 19:10] saimanoj01 commented on #3257
/assign
/lifcycle active

[2020-06-26 19:10] saimanoj01 commented on #3257
/assign

[2020-06-26 19:25] saimanoj01 commented on #3257
/lifecycle active

[2020-06-29 11:41] fabriziopandini commented on #2815
/close
given lack of updates
feel free to re-open if the problem still exists

[2020-06-29 11:41] #2815 closed

[2020-06-29 13:02] fabriziopandini commented on #3230
I see some potential downside in the change requested by this issue:
if we are in the middle of the first deployment of a 5 node CP (scale up from 0 to 5), and e.g. there is a problem on the 4th node, this PR will block the CP creation and wait for user intervention before going up to 5 nodes.

Instead I think that KCP should always continue to try to do its work, and block only if the next action

[2020-06-29 13:45] detiber commented on #3230
@fabriziopandini 100% agree that once we can tell how an operation would affect quorum that it would be preferable to use that to block actions rather than this approach.

[2020-06-29 14:15] #3260 closed

[2020-06-29 14:28] vincepri commented on #2823
/lifecycle frozen

[2020-06-29 14:37] #3145 closed

[2020-06-29 16:20] vincepri commented on #2759
Closing this given that we reconcile the etcd membership with what Machines are available (and without a deletion timestamp).

/close

[2020-06-29 16:20] #2759 closed

[2020-06-29 17:25] wfernandes commented on #3189
/lifecycle active

[2020-06-29 18:46] vincepri opened #3269 "Patch helper should validate before/after object are the same"
The current patch helper implementation lets users to create a helper with object A and patch with object B. Given the lack of validation, we should add more bits in place to make sure the before/after object have the same GroupVersionKind and Name.

To add this validation, we'd also have to validate that the object is a valid `metav1.Object`. In the future, we might want to switch the `obj` param

[2020-06-29 18:47] vincepri commented on #3269
cc @detiber @CecileRobertMichon @devigned @fabriziopandini @ncdc

[2020-06-29 18:52] fabriziopandini commented on #3269
I'm +1
TBH I don't consider this a breaking change, because an objects without an ObjectMeta already fails, but let's wait for v1alpha4

[2020-06-29 19:08] ncdc commented on #3269
+1 to me for v0.4.

[2020-06-29 19:37] vincepri commented on #3269
/milestone v0.4.0

[2020-06-30 14:09] vincepri commented on #2389
/lifecycle frozen

It'd be great to still do this if we have some time, we can also offer one for Linux.

[2020-06-30 15:13] Arvinderpal opened #3272 "clusterctl init will force a name change of ClusterRole and ClusterRoleBinding"
**What steps did you take and what happened:**

Specified `ClusterRoles` and `ClusterRoleBinding` were modified by clusterctl after init.

During the installation, clusterctl adds the instance namespace prefix to  `ClusterRoles` and `ClusterRoleBinding`, and so it can rely on that for deleting only the global resources belonging the the provider instance being deleted:
https://github.com/kubernete

[2020-06-30 15:40] vincepri commented on #3272
/assign @fabriziopandini

[2020-06-30 15:44] #3078 closed

[2020-06-30 18:55] vincepri commented on #2790
/lifecycle frozen

[2020-07-01 17:05] michaelgugino opened #3274 "Quickstart fails to create reconcile cluster and machinedeployment objects"
**What steps did you take and what happened:**

Following latest published quickstart.

Download things
[code]

[code]

(Note, quickstart docs have instructions for v0.5.5 which is unreleased, so using v0.5.4)

Using kubeconfig for existing OpenShift cluster rather than KIND.

[code]

Completes successfully

[code]

Edit iamRole to one that already exists and has proper permissions.

[code]

Compl

[2020-07-01 17:39] vincepri commented on #3247
/milestone Next

[2020-07-01 17:40] vincepri commented on #3252
/milestone Next

[2020-07-01 17:42] vincepri commented on #3255
Probably needs a proposal / design with use cases.

/milestone Next

[2020-07-01 17:43] vincepri commented on #3256
/kind documentation
/assign @spagno
/milestone v0.3.x

[2020-07-01 17:44] vincepri commented on #3274
/milestone v0.3.x
/help

[2020-07-01 18:12] vincepri commented on #3256
The code changed to only patch when returning errors, now we only need to update the documentation on each ObservedGeneration field to reflect the change and explain the caveats.

[2020-07-01 18:26] benmoss commented on #3248
I agree with @fabriziopandini, the filters should just be doing filtering, so they should only take values that have sufficient information for doing the filtering, not stuff like `client.Client`.

[2020-07-01 19:28] #3257 closed

[2020-07-01 19:53] fabriziopandini commented on #3272
I'm not sure I got this right, but I don't think that we should implement the change described above/support this use case.

Let's assume that the author set's the ClusterRole name to `myprovider-system-foo` instead of `foo`.

If we are installing the provider to the `myprovider-system` namespace, without the change you will get `myprovider-system-myprovider-system-foo`, with the proposed change y

[2020-07-01 20:10] detiber commented on #3274
@michaelgugino I believe in the call you mentioned that you were attempting to run this on OpenShift, based on this error message:

[code]

It looks like there is some type of admission controller at play that is preventing the creation of resources with the appropriate finalizers needed. Based on the limited digging I did, it looks like it's related to the OwnerReferencesPermissionsEnforcement an

[2020-07-01 21:50] #3170 closed

[2020-07-02 10:30] voor commented on #2240
/lifecycle frozen

[2020-07-02 13:04] michaelgugino commented on #3274
@detiber thanks for digging into this.  I think if that's a built-in admission controller, it's likely others will bump into this if using an existing cluster as well.  I'll investigate.

[2020-07-02 13:30] fabriziopandini opened #3276 "Cleanup machinesNeedingRollout in KCP"
As per https://github.com/kubernetes-sigs/cluster-api/pull/3234#discussion_r448475655 there is room for cleaning up the `machinesNeedingRollout` func in KCP

/assign
/lifecycle active

[2020-07-02 13:39] fabriziopandini opened #3278 "Cleanup MatchesKubeadmBootstrapConfig func in KCP"
As per https://github.com/kubernetes-sigs/cluster-api/pull/3234#discussion_r448497364 there is room to split the MatchesKubeadmBootstrapConfig func in KCP in logical components (init/join/cluster configuration, etc).

[2020-07-02 14:29] vincepri commented on #3276
/milestone v0.3.x

[2020-07-02 14:29] vincepri commented on #3278
/milestone v0.3.x
/help
/priority important-longterm

[2020-07-02 14:29] vincepri commented on #3278
/area control-plane

[2020-07-02 14:31] vincepri commented on #3272
Is this documented somewhere?

[2020-07-02 14:42] fabriziopandini commented on #3272
@vincepri it is documented here https://cluster-api.sigs.k8s.io/clusterctl/provider-contract.html#components-yaml-transformations

[2020-07-02 14:46] vincepri commented on #3272
/priority awaiting-more-evidence
/milestone v0.3.x

[2020-07-02 16:20] fabriziopandini commented on #3278
/assign
/lifecycle active

[2020-07-02 17:19] vincepri opened #3279 "Rename references to "node-role.kubernetes.io/master""
See upstream Kubeadm issue https://github.com/kubernetes/kubeadm/issues/2200

/kind cleanup
/wg naming
/milestone Next

[2020-07-02 17:26] vincepri opened #3280 "Change default branch to "main""
Once the community agrees on the naming, we need to change our default development branch to `main`, and check that any tools or references to it are changed as well.

This includes the container image tag used in development.

/kind cleanup
/wg naming
/milestone Next

[2020-07-02 17:32] vincepri opened #3281 "Remove use of "master" word from our codebase"
These are some of the uses that can be changed within this repository

- https://github.com/kubernetes-sigs/cluster-api/blob/2ac3728d26593f7c54520999477aad45934e1c59/test/framework/cluster_proxy.go#L229-L234
- https://github.com/kubernetes-sigs/cluster-api/blob/2ac3728d26593f7c54520999477aad45934e1c59/controllers/machinehealthcheck_targets.go#L40
- https://github.com/kubernetes-sigs/cluster-api/bl

[2020-07-02 17:40] vincepri opened #3282 "Remove use of word "dummy" from our codebase"
See https://grep.app/search?q=dummy&filter[repo.pattern][0]=kubernetes-sigs/cluster-api for the required changes.

/kind cleanup
/wg naming
/milestone v0.3.x

[2020-07-02 17:46] vincepri commented on #3280
I'm going to move this to v1alpha4, given that the change should have low impact.

/milestone v0.4.0

[2020-07-02 17:46] vincepri commented on #3280
/assign

[2020-07-02 18:12] vincepri opened #3283 "Document/relax template immutability requirements"
Now that #3181 has been merged, we should provide some better documentation and guidelines for providers implementing templates allowing for the templates to be mutable.

From Cluster API perspective, _template references_ are immutable, as in you'd have to change the whole reference to have a MachineSet or KCP rollout new machines. Providers can allow mutability for fields that can be mutated in

[2020-07-02 22:17] kplimack commented on #3279
👏  @vincepri
💯

[2020-07-03 07:24] SataQiu commented on #3281
/cc

[2020-07-06 08:48] fabriziopandini commented on #3281
/assign @SataQiu
/lifecycle active

[2020-07-06 13:03] fabriziopandini opened #3287 "Standardize CAPI tests"
Originally this issue was about a different topic (see https://github.com/kubernetes-sigs/cluster-api/issues/3309), but the discussion here took a different direction. So I'm updating issue title/description in order to give better visibility to the highly valuable comments about standardizing tests in CAPI

[2020-07-06 13:12] fabriziopandini commented on #3282
/assign
/lifecycle active

[2020-07-06 13:44] #3281 closed

[2020-07-06 14:07] vincepri commented on #3287
I'd add we should also consider moving the tests to ginkgo and standardize on those across the codebase, it could be done as part of this effort for KCP.

/milestone v0.3.x
/priority important-longterm

[2020-07-06 14:30] #3276 closed

[2020-07-06 14:31] #3282 closed

[2020-07-06 14:39] fabriziopandini commented on #3242
@zanghao2 I'm still making up my mind around this issue, but I was expecting to get the etcd keys to be passed as a Files into the kubeadmConfigSpec, otherwise, I don't get how those files are going to be placed into the machine

[2020-07-06 15:27] benmoss opened #3289 "KCP resilience to machine disk space issues"
**What steps did you take and what happened:**
Adapted this [space quota tutorial](https://etcd.io/docs/v3.2.17/op-guide/maintenance/) to a KCP cluster a slightly modified version of [this gist](https://gist.github.com/benmoss/70ecbcc0593572cb7a409de236486e62) to fill up etcd. After a while I saw kube-apiserver crash on one of the machines, I tried to delete the bad machine but then ran into #2331

[2020-07-06 15:39] fabriziopandini commented on #3287
I'm -1 to move to ginkgo.
I personally prefer a combination of go-test and gomega so it is possible to have a much better developer experience from different IDE (like running a single test with a click or debugging)

[2020-07-06 15:54] fabriziopandini commented on #3074
/close
Given that we are not using the contribs folder so far.
We can always re-open/re-create if this be reconsidered in future

[2020-07-06 15:54] #3074 closed

[2020-07-06 16:06] fabriziopandini commented on #3062
@randomvariable are you still working at this? otherwise, I can take the ticket

[2020-07-06 16:19] fabriziopandini commented on #3242
ignore my previous comment, the bootstrap provider takes charge of injecting the files on the machines starting from secrets

[2020-07-06 16:32] vincepri commented on #3287
Taking a close look at controller-runtime, it's nice that all tests look the same and are consistent. We can discuss it in the next milestone, although I'd like to reduce the amount of context switch between tests and make it so if you can read one, you can read all of them.

[2020-07-06 17:00] sedefsavas opened #3291 "Better way of conveving ClusterResourceSet errors"
**User Story**

As a user/operator I would like to see the errors from applying a ClusterResourceSet without going through logs.

**Detailed Description**
ClusterResourceSetBinding only shows if resources in a ClusterResourceSet failed/succeeded for a particular cluster. Users may want to see all failures related to applying a ClusterResourceSet to many clusters in a single place.
 One possibility

[2020-07-06 17:20] sedefsavas opened #3292 "[e2e] Use ClusterResourceSet to apply CNI for all tests"
In e2e tests, using ClusterResourceSet to apply CNIs for the workload clusters will let us test CRS in a more realistic scenario.

This requires some communications between providers and the test framework, and also  ClusterResourceSet feature needs to be enabled via feature-gates.

/milestone v0.3.x
/priority important-longterm

[2020-07-06 18:47] benmoss commented on #3289
/remove-kind bug
/kind feature

[2020-07-06 19:24] vincepri commented on #3292
/milestone v0.3.x

[2020-07-06 19:34] fabriziopandini commented on #3242
/assign
/lifecycle active

[2020-07-06 19:50] vincepri commented on #2476
/lifecycle frozen

We should add this to the book

[2020-07-06 19:56] wfernandes commented on #2331
Just wanted to get some clarification on expected behavior.

In the Machine Controller, when we are draining the nodes, the default behavior is to Evict the pods before deleting them.

In this scenario of evicting the pods and then deleting them we are waiting forever for the pods to be deleted. The `timeout` property is set to `MaxInt64` in `evictPods()`.
https://github.com/kubernetes-sigs/cluste

[2020-07-06 20:03] vincepri commented on #2331
Thanks for the great write-up @wfernandes, let's sync up at the community meeting. +1 to using a different default where we're using `MaxInt64`, seems rather a large timeout. What would be a good default we can get in v0.3.7 @detiber ?

[2020-07-06 20:09] wfernandes commented on #2331
@vincepri I added a topic under the General Questions section for the July 8th meeting.

[2020-07-06 20:36] detiber commented on #2331
If I had to hazard a guess, the idea was to try to err on the side of workload safety, since pod deletion should be subject to any pod disruption budgets that are configured if we force early deletion we could be affecting configured pod disruption budgets.

It does seem that `MaxInt64` is a tad big excessive, but I would think that `20s` is probably a bit short if we want to avoid evicting or del

[2020-07-07 09:45] randomvariable commented on #3062
I'll do it now, since I already have a section in the CAPA multitenancy prop

[2020-07-07 11:49] prankul88 opened #3294 "Add tests for listDecendents fetching MachinePools"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
This is a follow up to PR #3196

**What did you expect to happen:**
Add test for the functionality added.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version:
- Minikube/KIND version:
- Kubern

[2020-07-07 12:18] voor commented on #2240
@fabriziopandini or @wfernandes have you had a chance to experiment with this alternative way of waiting for cert-manager?

[2020-07-07 13:48] benmoss commented on #3287
Yes I am -1 to ginkgo as well, I think it encourages difficult to understand test code

[2020-07-07 13:55] vincepri commented on #3287
@fabriziopandini will have a proposal at some point. The goal is to have consistent, easy-to-read, and useful tests. Ginkgo is just a tool to achieve that, although I think Fabrizio's idea of using simple go tests with `envtest` should work out.

[2020-07-07 13:59] vincepri commented on #3294
/help
/milestone v0.3.x
/priority important-longterm

[2020-07-07 14:24] detiber commented on #3287
I like the idea of standardizing tests, but I think we should likely group things into types of tests and standardize based on the test type:
- e2e style tests (components built and running as containers against test-driven inputs) make sense to fully standardize on ginkgo/gomega

- unit style tests (component code being called directly by tests without any dependencies on other controllers runnin

[2020-07-07 15:12] randomvariable opened #3296 "Cluster condition, consumable by Infrastructure Providers for machine IP / pod & service CIDR overlap"
**User Story**

As a operator, I deploy a cluster in my infrastructure provider. The infrastructure has a CIDR range of 192.168.0.0/24, and I set a pod and service CIDR range of 192.168.0.0/16.

I see intermittent communication failures, but Cluster API hasn't told me what is wrong.

**Detailed Description**

Cluster API should inform a user that there is overlap between their infrastructure netwo

[2020-07-07 15:47] sedefsavas opened #3297 "[ClusterResourceSet] Use slices instead of maps in CRSBinding"
Currently, to represent ClusterRecourcesetBinding,  a map of maps are being used:
[code]

The initial reason of using maps was because CRSBinding was auto-generated and at each reconcile, we are checking if a resource is applied to a cluster or not by looking at its CRSBinding. To avoid slice iteration, we used maps but we can use slices instead to be inline with api conventions https://github.com

[2020-07-07 15:49] sedefsavas commented on #3297
/assign

[2020-07-07 15:55] vincepri commented on #3297
/milestone v0.3.7

[2020-07-07 16:06] vincepri commented on #3296
/milestone v0.3.x
/help

[2020-07-07 16:28] h0tbird opened #3299 "Add support for multiple Tilt providers in tilt-provider.json"
**User Story**

As a developer I want to be able to define multiple Tilt providers per repository.
This is useful for developing CAPI providers that include multiple operators (main.go).

**Detailed Description**

Let’s say I am working on a new CAPA operator/controller in `bootstrap/eks`.
My `tilt-provider.json` might look like this:

[code]

**Anything else you would like to add:**

FWIW I have

[2020-07-07 17:15] dthorsen opened #3300 "Potential bug during drain"
**What steps did you take and what happened:**
We created a cluster in AWS, and we created 3 MachineDeployments with 1 replica each, each in its own AZ.
We created a simple deployment with 3 replicas, readinessProbe with `initialDelaySeconds: 120`, and node anti-affinity so that the pods scheduled such that there was one on each Node.
We created a PDB covering this deployment that set minAvailable

[2020-07-07 17:16] dthorsen commented on #3300
/assign

[2020-07-07 17:25] sedefsavas opened #3301 "[ClusterResourceSet] Ownership of resources"
Currently, resources (Secrets/ConfigMaps) have ClusterResourceSet as owner reference and they are being deleted when CRS is deleted. Owner references will possibly be used by `clusterctl move` and also might be beneficial if we want to detect changes in resources along the way when we support different apply strategies other than `ApplyOnce`.

To avoid the deletion of resources when ClusterResourc

[2020-07-07 17:26] ncdc commented on #3300
Did the 2 pods that terminated simultaneously do so because their Machines were deleted as part of the MachineDeployment rolling update?

[2020-07-07 17:27] ncdc commented on #3300
Also, re Cluster-api version, v0.5.1 looks like a CAPA (AWS provider) version - which Cluster API version are you using?

[2020-07-07 17:28] dthorsen commented on #3300
Oops. Fixed that

[2020-07-07 17:29] dthorsen commented on #3300
That is my suspicion but we are actively reproducing again and gathering additional detail.

[2020-07-07 17:32] ncdc commented on #3299
Another option for the format would be to use a JSON list for the document, providing backward compatibility with the contents being a map (i.e. single entry). That only works if there's a way in the Tiltfile/Starlark to check if `provider_details` is an array vs a map.

[2020-07-07 17:33] #3278 closed

[2020-07-07 17:47] vincepri commented on #3301
/milestone v0.3.x

[2020-07-07 21:33] ncdc opened #3304 "periodic-cluster-api-test-release-0-2 is failing linting"
https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api#unit%20tests-release-0-2 is failing consistently. Something is off with the linter. I've tested manually on my laptop and get the same error. If I reduce the number of linters in use to a small number (e.g. one to three), it seems to pass. But running e.g. just `deadcode` by itself exits nonzero with nothing else printed to stdout/stderr.

[2020-07-08 01:31] hanumanthan commented on #3304
Hi @ncdc Happy to pick this up. Can you give a bit more details on how to reproduce this and pointer to the file would be helpful. Thanks

[2020-07-08 03:44] zanghao2 commented on #3242
@fabriziopandini Thanks for your reply. I have fix the code for external etcd, but I do not know the plane for external etcd, In my opinion, I do not care or check the status of external etcd, I just check ca.crt ,clinet,crt,client.key but this idea may not be in line with the idea of cluster-api.

[2020-07-08 11:43] fabriziopandini commented on #3058
/assign
/lifecycle active

[2020-07-08 12:15] fabriziopandini commented on #3039
/assign
/lifecycle active

[2020-07-08 12:22] fabriziopandini commented on #2476
/assign
/lifecycle active

[2020-07-08 12:39] fabriziopandini opened #3309 "Audit KCP test coverage"
[originally this was proposed as https://github.com/kubernetes-sigs/cluster-api/issues/3287, but the discussion took a different direction there 😜]

As already done at the beginning of v0.3.x series, we should re-audit test coverage for KCP and ensure that it is adequate for the complexity of this critical component

@wfernandes If I'm not wrong you make last analysis. Could you kindly link the re

[2020-07-08 13:11] luxas commented on #2954
Hi :wave:!
Other than the context-adds in client-go v1.18, is there anything technically blocking the upgrade to v0.6.0?
Or are we just waiting as we haven't cut the release-0.3 branch yet to enable us to do breaking v0.4.x stuff on master?

[2020-07-08 13:55] detiber commented on #2954
@luxas yes, there were additional "breaking" changes to the controller-runtime API that would impact downstream consumers of the cluster-api API.

I believe plans are to branch release-0.3 and start allowing breaking changes shortly after the upcoming v0.3.7 release, but not sure if we are planning on waiting until after we've finished v1alpha4/v0.4.0 planning, though.

[2020-07-08 14:10] fabriziopandini commented on #3304
@hanumanthan IMO you can start checking out the release 0.2 branch and running `make lint` will be enough to reproduce; the linter settings are in `.golangci.yml`

[2020-07-08 14:10] fabriziopandini commented on #3304
/assign @hanumanthan
/lifecycle active

[2020-07-08 14:13] fabriziopandini commented on #3242
@zanghao2 PTAL to the related PR, it will be great to have you opinion on the proposed changes

[2020-07-08 14:35] vincepri commented on #3309
We should probably audit tests throughout the codebase, including infrastructure providers. That's a much larger effort though.

[2020-07-08 14:36] vincepri commented on #3304
/milestone v0.2.x

[2020-07-08 14:41] vincepri commented on #2954
+1 to what @detiber mentioned, we're also hoping to get more changes in place in controller-runtime before adopting a new version. For example https://github.com/kubernetes-sigs/controller-runtime/issues/801 and updating its dependencies to Kubernetes v1.19 once it releases. It might take a bit though, given that we haven't even started v1alpha4 planning yet.

[2020-07-08 14:48] fabriziopandini commented on #2476
/close
it turns out there is already this table in the book https://cluster-api.sigs.k8s.io/reference/versions.html#cluster-api-version-support-and-kubernetes-version-skew-policy

[2020-07-08 14:48] #2476 closed

[2020-07-08 15:36] wmgroot commented on #2240
Would it be possible to add a flag to `clusterctl init` that opts out of having `clusterctl` manage cert-manager?
I'm attempting to use features only available in cert-manager 0.13+, and would like the option to install cert-manager myself to work around this issue.

[2020-07-08 15:41] vincepri commented on #2240
@wmgroot All components shipped with Cluster API and providers include cert-manager certificates that are compatible with 0.11. Having a different version would make the installation of those components fail. We're looking to migrate the cert-manager version in a future release.

[2020-07-08 15:45] ncdc commented on #2240
@vincepri are we creating anything related to cert-manager that is incompatible with newer versions? I wouldn't think so?

[2020-07-08 15:45] wfernandes commented on #2240
@voor Unfortunately, I haven't had the time to dive into the newer versions of cert-manager and the implications of clusterctl installation and upgrades yet. As @fabriziopandini mentioned, this does get into the realm of clusterctl managing the lifecycle of cert-manager so this work feels substantial.

[2020-07-08 15:48] vincepri commented on #2240
@ncdc The certificate creation failed using manifests from v1alpha2 with 0.13 controllers, this was a long time ago. Happy to be proved wrong, if that works it might help the transition in the future

[2020-07-08 15:50] munnerz commented on #2240
I'm interested to see where you saw this failure, we aim to ensure we don't make backward compatible changes within an API version in cert-manager.

We have a conversion webhook that manages conversions *between* API versions, which should be being deployed automatically for you anyway too.

I may have some time to dig into this over the weekend/next week - what's the best way for me to verify tha

[2020-07-08 15:52] wfernandes commented on #2240
Adding this here for context.
v0.11 -> v0.12 is pretty much the APIService being removed.
v0.12 -> v0.13 nothing
v0.13 -> v0.14 https://cert-manager.io/docs/installation/upgrading/upgrading-0.13-0.14/

[2020-07-08 15:54] ncdc commented on #2240
Not currently. That's the main reason I filed this issue 😄

[2020-07-08 15:54] vincepri commented on #2240
This might have been the issue, the webhook wasn't responding but that might have been an isolated issue. We need to do a little more validation.

If we provide an option to disable installing cert-manager w/ clusterctl during it, you should be able to create a kind cluster, install 0.13 and run `clusterctl init`.

Today, we only install cert-manager and don't handle its lifecycle, there is some w

[2020-07-08 15:54] wfernandes commented on #2240
@munnerz Currently clusterctl only installs cert-manger v0.11. It does not handle any upgrade for cert-manager components. See https://github.com/kubernetes-sigs/cluster-api/issues/2635 for more info.

[2020-07-08 15:56] ncdc commented on #2240
Jinx to all of us 😄.

I think adding the ability to opt-out of cert-manager in clusterctl might be ok, but we will need to very explicit about which cert-manager versions we've tested against, and anything else is YMMV.

[2020-07-08 16:04] wfernandes commented on #3309
Hmm...I don't remember if I did the KCP audit. @gab-satchi were you involved with this?
I remember we had a github issue and a public spreadsheet that tracked all of the tests required. I'll link them if I can find them.

[2020-07-08 16:26] vincepri commented on #3309
We might be talking about #2753

[2020-07-08 16:30] wfernandes commented on #3287
I'm +1 to using standard golang test framework with design patterns along with Gomega matcher library.

I've seen Ginkgo being misused to making tests more complicated. E.g. nested `BeforeEach`, `JustBeforeEach`. Also I've noticed writing table-driven tests are kinda un-intuitive with `DescribeTable` IMO.

But I also think having tests that match the community will make it easier to attract and en

[2020-07-08 16:42] vincepri commented on #3287
Thanks for the extra details @detiber and @wfernandes. During v1alpha4 we should revisit this topic and provide guidelines and policies across the board.

One thing I'd also like to do is to completely remove any use of the fake controller-runtime client, if possible. It has multiple issues and it doesn't work well with patches. Its use should be greatly reduced if not removed. If we standardize o

[2020-07-08 16:50] munnerz commented on #2240
I'm working on this at the moment.

Initially, I'm intending to upgrade cert-manager to v0.15.x (or perhaps v0.16.0 depending on timing of the next CAPI release).

Rough plan for this first phase:

1) Upgrade the embedded manifests to use the regular upstream manifests taken from the CM release page.
2) Updating the "wait for cert-manager readiness" logic to take a more 'blackbox' approach (i.e. n

[2020-07-08 16:56] detiber commented on #2240
I suspect at some point, if we start using newer versions of the types we'll want to also upgrade the certmanager for existing management clusters as part of the `clusterctl upgrade` process.

What is the general recommendation for cert-manager there? Are in-place `kubectl update` of the manifests considered the appropriate way?

It might be good to double check that we don't orphan any stored res

[2020-07-08 16:58] fabriziopandini commented on #3309
This is a [gist](https://gist.github.com/fabriziopandini/195e4f59c2fa33a1bb6cd5b7a11238fd/revisions) with the current test coverage results; We should take a look at it and derive some action items.
Also https://github.com/kubernetes-sigs/cluster-api/pull/3310 will make this easier to repeat in future

[2020-07-08 17:02] munnerz commented on #2240
Typically, yes. Historically we've had a few additional steps that have been needed. We are aiming to get to a world where that's *not* the case, and from my point of view I don't see where we'll need to making breaking changes in future.

That said, it's not unheard of, so perhaps does not some special handling. We've look at creating an operator for cert-manager in the past to help work through

[2020-07-08 17:15] fabriziopandini commented on #3264
/close
the PR is merged

[2020-07-08 17:15] #3264 closed

[2020-07-08 17:16] vincepri commented on #3309
/milestone v0.3.x

[2020-07-08 17:29] CecileRobertMichon commented on #3300
/cc @michaelgugino

[2020-07-08 17:30] vincepri commented on #3300
/milestone v0.3.x
/priority awaiting-more-evidence

[2020-07-08 17:31] vincepri commented on #3299
/milestone v0.3.x

[2020-07-08 17:32] CecileRobertMichon commented on #3299
/help

[2020-07-08 17:32] vincepri commented on #3299
/priority important-soon

[2020-07-08 17:32] vincepri commented on #3291
/milestone v0.3.x

[2020-07-08 17:32] CecileRobertMichon commented on #3291
/area feature

[2020-07-08 17:32] CecileRobertMichon commented on #3291
/kind feature

[2020-07-08 17:34] vincepri opened #3311 "Enable ClusterResourceSet experiment by default"
After v0.3.7 is released, we should evaluate to enable the ClusterResourceSet feature gate by default. The change has a few benefits:

- We can have providers to embed CRS resources directly in the infrastructure components.
- Change the quickstart to use CRS based resources without requiring folks to install CNI directly.

/kind feature

[2020-07-08 17:36] vincepri commented on #3289
/milestone v0.3.x

[2020-07-08 17:36] benmoss commented on #3289
Related issue: https://github.com/kubernetes/kubeadm/issues/2195

[2020-07-08 17:37] vincepri commented on #3311
/milestone v0.3.x

[2020-07-08 17:50] munnerz commented on #2240
The only other thing to note here, is that cert-manager technically comes in two 'flavours' - the 'legacy' variants are intended to be used on Kubernetes 1.14 and below, whereas the 'regular' manifests are intended for newer versions. This is caused by the strict requirements around CRDs, and the tight validation that's been added to various fields on CRD objects as they have matured to v1.

Is th

[2020-07-08 17:51] vincepri commented on #2240
Minimum version for the management cluster is v1.16

[2020-07-08 17:51] detiber commented on #2240
For management clusters (where we deploy cert-manager), the minimum requirement is Kubernetes v1.16 for CRD v1

[2020-07-08 18:33] dthorsen commented on #3300
/close
We have isolated this to a bug in one of our own controllers and not within CAPI.

[2020-07-08 18:33] #3300 closed

[2020-07-08 18:42] sedefsavas opened #3315 "[Docs] Add experimental features section"
We should add a section where we have a list of active experimental features with some introduction and examples on how to use each of them.

Current experimental features are ClusterResourceSet and MachinePool.

/kind documentation

[2020-07-08 19:44] fabriziopandini commented on #3311
I'm generally +1, but I think we should wait from the first round of feedback from users and, in the meantime, make sure ClusterResourceSet is actively exercised in all the E2E tests

[2020-07-08 20:29] vincepri commented on #3297
@sedefsavas Do we still want to tackle this or leave it as-is for now?

[2020-07-08 20:36] sedefsavas commented on #3297
Yes, I am working on it.

/lifecycle active

[2020-07-08 20:40] CecileRobertMichon commented on #3315
related to https://github.com/kubernetes-sigs/cluster-api/issues/3073

[2020-07-08 21:31] benmoss commented on #3287
I was thinking about this today and wondering if everyone is just using Ginkgo because k8s does, while meanwhile consensus in sig-testing and beyond seems to be "we wish we could remove it out but it's too much work"

[2020-07-08 22:05] vincepri commented on #3315
/milestone v0.3.x

[2020-07-09 01:41] zanghao2 commented on #3242
@fabriziopandini Thanks, Your code logic is consistent with my code, I hope this pr can be merged.

[2020-07-09 01:41] #3242 closed

[2020-07-09 06:58] hanumanthan commented on #3304
@fabriziopandini When i run lint with `fast=false` (make lint-full) - it works fine whereas `make lint` exits with exit code 1.
**Unit test make target uses lint and not lint-full**

There are 2 ways to solve the problem
1. Upgrading golangci-lint to its latest version from 1.18.0 to 1.28.1 doesnt exit but it throws a larger problem. There are so many lint complaints. List of errors [here](https:/

[2020-07-09 09:01] fabriziopandini commented on #3304
@hanumanthan I'm +1 to run lint-full in CI
@ncdc @vincepri @detiber opinions? ^^

[2020-07-09 13:38] Arvinderpal commented on #3150
@vincepri

@vincepri Did you mean to reference some other issue or was this closed by accident?

[2020-07-09 13:51] vincepri commented on #3150
It should have been closed in favor of #2769

[2020-07-09 13:56] vincepri commented on #3304
Lint-full sound good, might be worth removing the other target if it doesn't work properly. I'm not sure if it's worth fixing / upgrading.

[2020-07-09 13:59] benmoss opened #3316 "Better clusterctl error messages"
**User Story**

As a user I would like to have better error messages from clusterctl so that I can understand what I'm doing wrong.

**Detailed Description**

Trying to follow @elmiko's blog post https://notes.elmiko.dev/2020/04/17/exploring-cluster-api.html but not following things exactly to a tee to try to push my understanding. I am running `clusterctl init --infrastructure docker` after setti

[2020-07-09 13:59] ncdc commented on #3304
👍 lint-full.

I'm fine removing the lint target in this branch.

[2020-07-09 14:00] benmoss commented on #3316
/area clusterctl

[2020-07-09 14:05] detiber commented on #3304
+1 to lint-full from me

[2020-07-09 14:47] #3316 closed

[2020-07-09 17:26] tvs opened #3318 "Provide a means to opt-out of kube-proxy updates in KCP"
**User Story**

As a user, I would like to opt-out of the kube-proxy updates provided by the KCP. In air-gapped systems we cannot pull container images, they're instead baked into the image and pre-loaded to the container runtime. When performing a rolling update, it then becomes important to guide the add-ons updates so that they roll out in a synchronized fashion with the new Machines.

**Detail

[2020-07-09 17:27] vincepri commented on #3318
Thanks @tvs

/help
/milestone v0.3.x
/priority important-soon

[2020-07-09 17:32] vincepri commented on #3318
/assign @tvs
/milestone v0.3.7

Going to have this in v0.3.7 given that it's a pretty small change.

[2020-07-09 17:50] #3039 closed

[2020-07-09 18:14] fabriziopandini commented on #3318
+1

[2020-07-09 19:22] #2952 closed

[2020-07-09 20:07] sedefsavas commented on #3315
/lifecycle active

[2020-07-09 20:12] #3297 closed

[2020-07-09 20:42] #3318 closed

[2020-07-09 22:28] hanumanthan commented on #3304
BTW there are some unit test failures in this branch. I can take a look at it if isnt being worked on though would need some help 😃

[2020-07-10 02:10] #3189 closed

[2020-07-10 02:27] vincepri opened #3322 "Builds should be updated to Go 1.15, once we adopt Kubernetes 1.19"
See https://github.com/kubernetes/kubernetes/issues/92521 for more information, opened this issue to track it for v1alpha4.

/kind cleanup
/area dependency
/milestone v0.4.0

[2020-07-10 05:53] tvs opened #3323 "Allow KCP users to change node registration options"
**User Story**

As a developer, we would like to be able to change the node registration options used by the KCP. When upgrading, we frequently change these settings to add node labels containing information about that particular node (i.e. the distribution version of the virtual machine image).

This is currently blocked by the validating webhook:

[code]

We've also had cause in the past to chan

[2020-07-10 11:57] fabriziopandini commented on #3315
@sedefsavas
PTAL https://github.com/kubernetes-sigs/cluster-api/pull/3325; this can simplify the UX for experimental features

[2020-07-10 11:59] fabriziopandini commented on #3073
related PR https://github.com/kubernetes-sigs/cluster-api/pull/3325

[2020-07-10 12:01] fabriziopandini opened #3326 "Make Tilt to work with envsubst style variables"
https://github.com/kubernetes-sigs/cluster-api/pull/3270 introduced support for envsubst style variable in the component yaml, but the Tilt file still implements variable substitution without envsubst

https://github.com/kubernetes-sigs/cluster-api/blob/492970b1c9d14551f04e819a49e4216c9927fddd/Tiltfile#L185-L192

As a workaround, it is possible to use `kustomize_substitutions`  in `tilt-settings.j

[2020-07-10 12:27] randomvariable opened #3327 "Remove current metrics due to memory consumption and loading of TSDBs"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
Reviewing the published Prometheus metrics, these should probably be revised:
It isn't recommended to use gauge metrics with per cluster and namespace labels. This is because every cluster will create a new gauge, which is never GC'd, and creates a new time series in Prometheus, costing CP

[2020-07-10 13:45] vincepri commented on #3327
/milestone v0.3.x
/help
/priority important-soon

[2020-07-10 13:46] vincepri commented on #3323
/milestone v0.3.x
/priority important-soon

[2020-07-10 14:00] detiber commented on #3323
I'm wondering if it would make sense to keep `spec.kubeadmConfigSpec.initConfiguration.nodeRegistration` immutable, but allow changes to `spec.kubeadmConfigSpec.joinConfiguration`?

My reasoning for suggesting this is that `spec.kuberadmConfigSpec.initConfiguration.nodeRegistration` would never impact the running cluster, since we do not allow operations for those types of actions in-place, but al

[2020-07-10 14:04] fabriziopandini commented on #3323
@detiber I was thinking something on the same line, but I thing that the current logic that detects rollouts compares the machineConfiguration with KCP.InitConfiguration or KCP.JoinConfiguration depending on the fact that the machine is the initial control plane or a joining control plane.
So, if I'm not wrong, In order to get machine rolled out properly the user should change both Init & Join con

[2020-07-10 14:21] detiber commented on #3323
@fabriziopandini good point, we may need to special case the handling of `nodeRegistration` for that edge case.

It does make me wonder for v1alpha4+ if it would make sense to break `nodeRegistration` out of InitConfiguration/JoinConfiguration in the types that we expose (we could also do this with other subconfig as it makes sense as well). That would allow us to more easily control mutability of

[2020-07-10 16:00] ncdc commented on #3323
Also see #3195

[2020-07-10 16:12] rsmitty opened #3329 "Support moving custom resources in clusterctl"
**User Story**

As a developer, I'd like to ensure any custom resources I create as part of my provider come along for the `clusterctl move` ride.

**Detailed Description**
Here's my use case:

I've got an infra provider that I've been building for bare metal. it's shipped as an infra-components.yaml that includes my provider, as well as a couple of other deployments that provide metal services li

[2020-07-10 16:15] tvs commented on #3323
@detiber Right. Like I said, it's not _as_ important, since it'll largely be ignored past the initial node coming up.

The reason for suggesting that the init config also become mutable is purely from the perspective of our controllers.

When we generate configuration for the `KubeadmControlPlane` (and every other CAPI component for that matter), we generate the `.spec` from scratch on every recon

[2020-07-10 16:21] wfernandes commented on #3329
/area clusterctl

[2020-07-10 16:23] ncdc opened #3331 "Move away from using the actual CRDs for the provider contracts"
**User Story**

As a developer, I would like to move away from using information in the actual CRDs (labels) to represent the provider contracts, so that the Cluster API controllers no longer need read permissions on CRDs.

**Detailed Description**

https://cluster-api.sigs.k8s.io/developer/providers/v1alpha2-to-v1alpha3.html#apply-the-contract-version-label-clusterx-k8sioversion-version1_version2

[2020-07-10 16:31] fabriziopandini commented on #3331
FYI, we already have a Provider crd managed by clusterctl, but in this case, it describes a provider instance.
Happy to discuss how to harmonize the two concepts.

[2020-07-10 16:35] fabriziopandini commented on #3323
I'm starting to thing that, having InitConfiguration/JoinConfiguration does not make really sense for the sake of ClusterAPI. This is a kubeadm detail that should be managed internally by CABPK/KCP

[2020-07-10 16:36] ncdc commented on #3327
Maybe we should split this into 1 issue for removing all the current metrics (they duplicate information directly available on Clusters, Machines, etc), and 1 for coming up with some new metrics? cc @wfernandes as I think you authored the original metrics.

[2020-07-10 16:39] ncdc commented on #3323
Slightly tangential but semi-related - would it make sense to stop exposing the kubeadm v1betax types in our KubeadmConfig/KubeadmControlPlane specs, and instead use our own types? This would allow us to separate what users fill in from which kubeadm API version we end up using in our bootstrap data.

[2020-07-10 16:41] detiber commented on #3323
100%, however it does introduce the challenge that we still need to generate a valid kubeadm config for the purposes of bootstrapping and modifying the stored in-cluster configuration.

[2020-07-10 16:42] ncdc commented on #3323
Exactly - we'd have to know which kubeadm API version to use

[2020-07-10 16:45] cpanato commented on #1828
this is something we still want? i can work in the Brazilian Portuguese part.

[2020-07-10 16:46] detiber commented on #1828
Yes, this is definitely something we still would like to do.

[2020-07-10 16:48] ncdc commented on #2769
xref my comment from https://github.com/kubernetes-sigs/cluster-api/issues/3323#issuecomment-656771293:

We should stop exposing the kubeadm v1betax types in our KubeadmConfig/KubeadmControlPlane specs, and instead use our own types. This would allow us to separate what users fill in from which kubeadm API version we end up using in our bootstrap data. As @detiber pointed out, we still have to kno

[2020-07-10 16:48] ncdc commented on #3323
Moving the kubeadm types discussion over to #2769

[2020-07-10 19:33] wfernandes commented on #3327
I think it would be best to split into multiple issues as well. This one can focus on removing irrelevant, misleading or duplicate metrics.
If we want to come up with new metrics we should define what they are and how to calculate them. 🙂

Linking this issue https://github.com/kubernetes-sigs/cluster-api/issues/1477 since it feels related. Maybe we can continue to use this issue to track what metr

[2020-07-11 22:33] #788 closed

[2020-07-13 13:06] fabriziopandini commented on #3309
Some actions for KCP (this can be address in multiple PRs as well)
- `reconcileKubeconfig` is missing a test on the client certificate renewal feature https://github.com/kubernetes-sigs/cluster-api/blob/4e07b0c23f6782fa5ca3729c3f9ed005a6f9a203/controlplane/kubeadm/controllers/helpers.go#L77-L87
- `cloneConfigsAndGenerateMachine` is missing a test on cleanup in case of errors https://github.com/kub

[2020-07-13 13:37] fabriziopandini commented on #3287
/assign
/lifecycle active

[2020-07-13 14:01] vincepri commented on #3287
@fabriziopandini What's the action item out of this issue? Are we going to write up a small proposal? Does this effort include the e2e tests suites as well, or should we avoid changing those given that are used externally?

[2020-07-13 14:14] vincepri commented on #2890
@CecileRobertMichon Can this issue be closed? Do we have any action items here?

[2020-07-13 14:14] vincepri commented on #2895
/lifecycle frozen

[2020-07-13 14:21] vincepri commented on #3323
/milestone v0.3.7

[2020-07-13 15:30] CecileRobertMichon commented on #2890
Not sure, @jseely did you end up fixing the issue on your end?

[2020-07-13 18:38] fabriziopandini commented on #3287
I'm starting to work on a prototype/proposal and try to figure out how to address all the comments above.
Personally I would prefer to avoid a CAEP and discuss on PRs/changes on the contributor docs, but let's see how this shapes out

[2020-07-13 20:07] wfernandes commented on #3309
I was looking into writing a test for `cloneConfigsAndGenerateMachine`. The errors to be returned are primarily from `fakeClient.Create` which is hard to setup. Is there some way to let `fakeClient` return an error?

[2020-07-13 20:43] wfernandes commented on #3309
I'll work on tests for `UpdateCoreDNS`.
/assign

[2020-07-13 22:22] wfernandes commented on #3309
Moving on to MatchesKubernetesVersion

[2020-07-14 07:37] shreyasbapat commented on #3315
I would like to work on it

[2020-07-14 09:27] fabriziopandini commented on #3315
@shreyasbapat we are using /lifecycle active to signal that someone is working on an issue, and in this case, it seems @sedefsavas is already working on it

[2020-07-14 09:59] shreyasbapat commented on #3315
Thanks @fabriziopandini . I am sorry for the inconvenience

[2020-07-14 10:48] luxas commented on #2954
Thanks for the information! The context issue you linked is super interesting, maybe I can help getting some of those things forward. Let's see.

[2020-07-14 12:37] voor commented on #2499
I'm okay with this going stale, I realize it's a fairly unique use case, if someone else is passionate about it feel free to bump it.

[2020-07-14 14:10] vincepri commented on #3146
This one has been fixed in #3234

/close

[2020-07-14 14:11] #3146 closed

[2020-07-14 14:11] #3323 closed

[2020-07-14 15:29] brianthelion opened #3335 "Flavored tokens --> flavored nodes"
**Preface**

I've chosen the term "flavor" here instead of one of the existing idioms -- "label", "taint", "role", "annotation," etc. -- to indicate that I'm agnostic to implementation mechanism. An existing operator and/or an obvious implementation path for this may already exist. If so, a pointer to a relevant doc would be very helpful; it has proven extremely difficult to Google for.

**User St

[2020-07-14 17:39] sedefsavas commented on #3315
/assign

[2020-07-14 17:46] vincepri commented on #3315
@shreyasbapat No worries! If you're looking for something to do, I'd suggest to filter the issues and look either for `good-first-issues` or others marked as `help-wanted`

[2020-07-14 18:01] shreyasbapat commented on #3244
I believe this is not taken by anyone :D

So, can I work on this?

[2020-07-14 18:06] vincepri commented on #3244
Go for it!

cc @CecileRobertMichon @juan-lee

[2020-07-14 19:02] shreyasbapat commented on #3244
Can I add details from this? https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/20190919-machinepool-api.md

[2020-07-14 20:37] rsmitty commented on #3329
After some discussion on zoom yesterday, we decided that a "force move" label on the CRD should ensure that all objects of that CRD type get moved. The initial PR has been closed and a new one linked above with this new behavior.

[2020-07-14 20:37] wfernandes commented on #3309
Moving on to GetWorkloadCluster

[2020-07-14 20:43] Arvinderpal opened #3338 "Allow DockerMachineTemplate to be mutable"
**User Story**

As a developer/user I would like to update the custom image (`DockerMachineSpec.CustomeImage`) in my `DockerMachineTemplate` to enable reliable upgrades in KinD.

**Detailed Description**

KinD has very specific image requirements for its Nodes (see https://github.com/kubernetes-sigs/kind/releases). In particular, specific {images,tags,digest} must be used for a given Kubernetes ve

[2020-07-14 20:44] benmoss opened #3339 "New release is breaking old clusterctl"
**What steps did you take and what happened:**
Ran `clusterctl init --infrastructure aws` to install CAPI onto my kind cluster. Ran `clusterctl config ... | k apply -f-` to create a cluster as the `init` succeeded, but then get errors from the webhook controllers like

[code]

Saw that the `capi-controller-manager` deployment was failing in `capi-webhook-system`, this is the logs of the pod:

[cod

[2020-07-14 20:49] vincepri commented on #3339
@fabriziopandini

[2020-07-14 20:51] ncdc commented on #3339
We either have to revert the variable defaulting in the new new yaml, or we say clusterctl v0.3.6 can't work with v0.3.7+ yaml. The former is probably better in the immediate term while we continue to think about ways to avoid this.

[2020-07-14 20:52] vincepri commented on #3339
Might be worthwhile to add a check and disallow to install newer versions of Cluster API with an older clusterctl

[2020-07-14 20:55] ncdc commented on #3339
At some point (be it now or in the future), we'll want to lock the clusterctl feature set and expect it to work with future versions of the yaml (up until some point where we clearly define when we're allowed to make breaking changes).

[2020-07-14 21:00] Arvinderpal opened #3342 "Document CAPD Usage and Upgrade Requirements"
**User Story**

As a developer/user I would like to have clear and accurate instructions on using CAPD for development, for testing and for just learning CAPI.

**Detailed Description**

CAPD uses KinD under-the-hood. KinD has very specific image requirements  for its Nodes (see https://github.com/kubernetes-sigs/kind/releases). In particular, specific {images,tags,digest} must be used for a given

[2020-07-14 21:01] Arvinderpal commented on #3342
If the above sounds good to people, I can add the docs under `test/infrastructure/docker/docs/kind.md`

[2020-07-14 21:41] wfernandes commented on #3339
Do we need to do a backport fix for clusterctl v0.3.6? Or should we update the docs?

[2020-07-14 21:48] vincepri commented on #3339
I've updated the release notes for now, I'm not sure if there is any action item that we want to take

[2020-07-14 21:50] CecileRobertMichon commented on #3339
looks like the yaml does need to be patched with https://github.com/kubernetes-sigs/cluster-api/pull/3341

[2020-07-14 21:52] vincepri commented on #3339
Let's merge that in, I'll update the release components in the v0.3.7 release for now

[2020-07-14 21:58] vincepri commented on #3339
The published artifacts have been fixed, ptal

[2020-07-14 22:08] wfernandes commented on #3339
In case other ppl happen to run into this issue. Adding this here for visibility:
From [v0.3.7 release notes](https://github.com/kubernetes-sigs/cluster-api/releases/tag/v0.3.7)

[2020-07-14 22:09] benmoss commented on #3339
Sounds like this is documented now, should we close this issue?

[2020-07-14 22:09] vincepri commented on #3338
@Arvinderpal Thanks for filing this issue, I've briefly looked at the related PR, is CAPD capable of changing any fields on the template dynamically?

#3283 should be tackled at some point to explain a little better the requirements, while Infrastructure providers can decide to make a template mutable, they have to be able to reconcile the changes on each Machine when a template gets updated. As f

[2020-07-14 22:11] vincepri commented on #3339
Sounds good, thanks @benmoss @wfernandes @CecileRobertMichon for bringing this up; a follow-up item would be how to better agree changes like this in the future and avoid breaking changes between patch releases. Thankfully we're an alpha project and we'll use this experience to learn how to do better in the future. As @ncdc mentioned above, we need to lock in clusterctl features at some point, or

[2020-07-14 22:11] #3339 closed

[2020-07-14 22:12] vincepri commented on #3339
/milestone v0.3.x

[2020-07-15 00:23] DheerajSShetty opened #3343 "Reconcile errors in CAPI after updating controllers from v1alpha2 to v1alpha3"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
1. Create a cluster with a controlplane and machinedeployment using a v1alpha2 controller/CRD.
2. Make sure thee cluster comes up fine.
3. Update the controllers/CRDS/Webhhoks to v1alpha3.
4. We see CAPI reconciling with errors
[code]

**What did you expect to happen:**
1. Expected no issu

[2020-07-15 08:13] fabriziopandini opened #3344 "Collect cloud init logs/machine logs for E2E workload clusters"
[this is a mirror of https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/761]

Right now the CAPI test framework only collect logs from the management cluster. We should also collect workload cluster logs.

In CAPZ, or conformance tests, we have https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/hack/log/log-dump.sh#L88 to get the logs directly from machines

[2020-07-15 08:52] fabriziopandini commented on #3335
TBH I'm not 100% sure I fully understand the used case explained above, so I can add only some background considerations based on my knowledge of kubeadm/CABPK:

- kubeadm init/CABPK does not provide a way to define bootstrap tokens at init time, so it should be defined how to do so (e.g. by changing kubeadm/CABPK or by using postKubeadm commands)
- kubeadm join/CABPK allows to specify the tokens

[2020-07-15 09:25] fabriziopandini commented on #3338
Might be I'm missing something, but if you leave the custom image field empty, CAPD will pick up the official kindest image for a kubernetes version (if available on the docker hub); FYI this is the approach we are using in E2E tests.

WRT to the problem of mutability,  IMO all the possible changes to the template require a machine rollout (`CustomImage`, `PreLoadImages`, `ExtraMounts`) while IMO

[2020-07-15 09:37] fabriziopandini commented on #3342
IMO this one should be merged into https://github.com/kubernetes-sigs/cluster-api/issues/3338, because the underlying problem is the same and the solution to be documented depends on the decisions we are going to take on that issue.

FYI in E2E, we are using extensively CAPD without specifying a `CustomeImage`; if you leave the custom image field empty, CAPD will pick up the official kindest image

[2020-07-15 09:48] fabriziopandini commented on #3315
@shreyasbapat No worries! We should probably highlight this convention in https://github.com/kubernetes-sigs/cluster-api/blob/master/CONTRIBUTING.md#finding-things-that-need-help (feel free to open an issue/send a PR for this 😉 )

[2020-07-15 09:55] fabriziopandini commented on #3244
/lifecycle active
Sure, the proposal is a good starting point; the actual implementation of the code is https://github.com/kubernetes-sigs/cluster-api/tree/master/exp/controllers to be documented is here

[2020-07-15 10:47] h0tbird commented on #3299
Thank you @ncdc. I have implemented a solution which I think is backwards compatible.

[2020-07-15 11:11] fabriziopandini commented on #3343
I quickly investigated the topic and IMO this is a transient error that gets automatically fixed when the KubeadmConfig object gets reconciled by the CAPBK controller/v1alppha3 for the first time. In fact, I checked in the cluster and now the dataSecretName is correctly set e.g. for `make-20-controlplane-0 `

@vincepri is this correct?

[2020-07-15 11:12] fabriziopandini commented on #3299
/lifecycle active
/assign @h0tbird

[2020-07-15 12:03] shreyasbapat commented on #3244
Thanks @fabriziopandini . I will look into it

[2020-07-15 12:13] shreyasbapat commented on #3315
Added https://github.com/kubernetes-sigs/cluster-api/pull/3347 for this :D

[2020-07-15 13:44] vincepri commented on #3344
/milestone v0.3.x
/priority important-longterm
/help

[2020-07-15 13:51] vincepri commented on #3343
That's correct, the error should go away on its own after a while

[2020-07-15 14:16] detiber commented on #3344
This may be a bit tough to generalize across providers, since the mechanism for connecting to remote hosts may differ across providers.

For example, possibly using Azure bastion to access Azure hosts, or using AWS Session Manager for connecting to AWS instances, docker exec for CAPD, or using ssh for more generalized use cases.

Any common tooling we provide here would have to account for both cu

[2020-07-15 14:42] farodin91 opened #3348 "Force a regeneration of kubeconfig of a workload cluster"
**User Story**

As an operator I would like to replace the current kubeconfig by a new one for mainly as  security concerns such as the kubeconfig got leaked.

**Detailed Description**

As I understood the code, currently kuebconfigs are regenerate after a defined lifespan. It would be help to have a command in the Clusterctl to trigger the regeneration at any point for a defined workload cluster.

[2020-07-15 14:48] detiber commented on #3348
I believe this should already be possible by deleting the existing kubeconfig secret.

That said, since we do not have any support today for rotating secrets and Kubernetes doesn't have support for certificate revocation, a leaked kubeconfig using a client certificate would still be valid even if it was replaced.

[2020-07-15 14:52] #3058 closed

[2020-07-15 15:25] ncdc commented on #3343
Closing, as this is not a bug.
/close

[2020-07-15 15:25] #3343 closed

[2020-07-15 15:29] ncdc commented on #3335
@brianthelion could you please expand on your user story with some examples of what you'd do with one token vs another?

[2020-07-15 15:33] ncdc commented on #3304
@hanumanthan I don't see any failures at https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api#unit%20tests-release-0-2. What were you seeing?

Closing as this issue has been resolved.

/close

[2020-07-15 15:33] #3304 closed

[2020-07-15 15:44] wfernandes commented on #3309
So writing a unit test for `GetWorkloadCluster` for KCP is not as simple since the code for connecting and creating a client is within the `GetWorkloadCluster` method.
https://github.com/kubernetes-sigs/cluster-api/blob/dfe7022e94b8f61eb27a9606e270e09c84d29767/controlplane/kubeadm/internal/cluster.go#L94-L103

There are a couple of options:
1. We use envtest to create an environment and use it's `

[2020-07-15 16:13] Arvinderpal commented on #3342
The issues are separate. The underlying problem here is that the user may use a specific release of KinD (e.g. 0.7 vs 0.8), but if she does not specify a digest corresponding to {K version, KinD release}, then weird errors can arise -- I experienced these myself and would like to save others the trouble :)
I gave the upgrade as an example and we can keep that discussion in #3338

In my experience,

[2020-07-15 17:00] Arvinderpal commented on #3338
The two providers that I'm familiar with capd and metal3 do not contain any template specific reconcile logic. The machine templates exists solely for consumption by KCP/MD when creating new control-plane/worker machines. For example, today, if we allow the above mutation to `DockerMachineTemplate`, and the user modifies `customImage`, then that change has no immediate impact; it is only when the

[2020-07-15 17:16] vincepri commented on #3326
/milestone v0.3.x
/priority important-soon

[2020-07-15 17:18] vincepri commented on #3329
/milestone v0.3.x
/priority important-soon

[2020-07-15 17:19] vincepri commented on #3335
/milestone Next
/priority awaiting-more-evidence

[2020-07-15 17:20] vincepri commented on #3338
/priority awaiting-more-evidence
/milestone Next

[2020-07-15 17:28] vincepri commented on #3342
/priority awaiting-more-evidence
/milestone v0.3.x

[2020-07-15 17:30] fabriziopandini commented on #3342
This is the CI script https://github.com/kubernetes-sigs/cluster-api/blob/d40fcd73e6c1bdf2bd6e90f91c0a8ecaaeb184ac/scripts/ci-e2e.sh

CAPD uses kind images to get something will all the prerequisites in places, but internally it does not rely on kind for other tasks and it should not be impacted by kind v0.7 / v0.8 differences (at least for what I'm aware of).

Instead, for the KIND cluster hostin

[2020-07-15 17:30] vincepri commented on #3348
/milestone Next
/priority awaiting-more-evidence

[2020-07-15 20:44] CecileRobertMichon commented on #3344
@detiber check out https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/hack/log/log-dump.sh#L88, would something like it be generic enough to work across providers (ie. using a daemonset on the target cluster to collect the logs on each VM)?

[2020-07-15 20:46] CecileRobertMichon commented on #3326
This is how CAPZ dealt with it if it helps https://github.com/kubernetes-sigs/cluster-api-provider-azure/commit/82b903d6eaef7eff13b4c89602f965dc2fa76b0c#diff-1a474bf970407efc3332970120c1a429

[2020-07-15 20:46] detiber commented on #3344
@CecileRobertMichon assuming all nodes have bootstrapped properly it could likely work, but I think we'd still need to fall back to provider-specific ways to gather logs in the event of machines that fail to properly bootstrap.

[2020-07-15 20:50] CecileRobertMichon commented on #3344
By failed to bootstrapped do you mean the VM is succeeded/running but the node failed to kubeadm init or join the cluster? In that case we should be able to expect collect cloud init logs in the same way no?

If you're talking about an infrastructure failure (eg. instance doesn't come up and is in failed state), I agree that would be provider specific but ideally there would already be events/logs

[2020-07-15 21:00] CecileRobertMichon commented on #3244
/assign @shreyasbapat

Let me know if you need any guidance! I can also help review once you have a draft.

[2020-07-15 21:04] detiber commented on #3344
Yes, wasn't sure if we were planning on treating those separately from other logs on the host.

[2020-07-15 21:06] DheerajSShetty commented on #2885
@fabriziopandini
Based on the existing workflow in KCP, any old cluster which has used baked AMI cannot be upgraded using KCP. We have made the changes to use container images that are pullable. But old clusters still need the kubeadm config map to be changed in upgradeControlPlane() along with UpdateImageRepositoryInKubeadmConfigMap() and UpdateEtcdVersionInKubeadmConfigMap()

[2020-07-15 23:16] CecileRobertMichon commented on #1846
@alexeldeib can this issue be closed?

[2020-07-15 23:32] alexeldeib commented on #1846
yep 👍

/close

[2020-07-15 23:32] #1846 closed

[2020-07-16 04:05] jichenjc opened #3351 "clusterctl panics on init"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

**What did you expect to happen:**

I am using openstack provider and doing
`clusterctl init --infrastructure openstack --kubeconfig ./capi-quickstart.kubeconfig `

first time it last for long time (a few minutes and I ctrl + c)

[code]

[code]
run the command again, it panic ...
[code]
*

[2020-07-16 09:07] fabriziopandini commented on #3351
I agree that clusterctl should not panic and this should be fixed.

With regard to the specific problem, it seems that for some reason the first cert-manager installation did not end up correctly (I saw this happen if you don't have a CNI installed). When you run the second init, clusterctl detected cert manager already installed, but then get stuck when trying to create a Certificate.

FYI There

[2020-07-16 09:10] jichenjc opened #3352 "[question] do we support external LB?"
**User Story**

As a [developer/user/operator] I would like to [high level description] for [reasons]

**Detailed Description**

this inspired from https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/584

do cluster-api has any provider support external LB solution? e.g I can create several master nodes behind a external LB ?

[A clear and concise description of what you want

[2020-07-16 09:38] jichenjc commented on #3351
@fabriziopandini thanks for the info ,yes, I don't know what happened at 1st time to try cert-manager
the CNI is not a problem as I am using `kind` ...

[2020-07-16 09:52] fabriziopandini commented on #3344
I agree this solution want work in case a node fails to init/join, but IMO is acceptable for e2e test because it will provide more visibility on workload cluster machines as soon as there is kubelet running (now there is no visibility at all).
The solution is provider agnostic, but if we can keep the list of commands configurable, we can cover provider-specific logs as well

[2020-07-16 12:15] jan-est opened #3353 "KCP is scaling continuosly"
**What steps did you take and what happened:**

We have been debugging KCP problem in Metal3 last two days.  We deploy KCP with one replica and after the infrastructure is ready and our baremetal node is provisioned, it stays up for a while. But then KCP starts to scale up another replica and deletes the first one. This stay in the loop, so each time new replica is ready, KCP starts to scale again

[2020-07-16 12:34] moshloop commented on #3344
https://github.com/vmware-tanzu/crash-diagnostics/pull/114 might come in handy here

[2020-07-16 12:41] fabriziopandini opened #3354 "Re-define the scope of clusterctl move"
**Detailed Description**

Clusterctl move was introduced in v0.3 as an evolution of pivot command but with a smaller scope that the original command.

The moving process was designed around the bootstrap use case, and it relies on three core ideas:
1. identify all the object candidate for move, using as a starting point the list of CRDs installed by clusterctl + Secrets & ConfigMaps.
2. use the ow

[2020-07-16 12:57] smoshiur1237 commented on #3353
Adding some more data to this scenario for better understanding. So even KCP replicas is set to 1, KCP is provisioning new controlplane, get provisioned and starts deleting the first controlplane. When its deleting the controlplane, KCP starts to provision new controlplane.
[code]

[2020-07-16 13:31] #3299 closed

[2020-07-16 13:33] ncdc commented on #2885
@DheerajSShetty would it be feasible for you to manually modify the kubeadm-config ConfigMap to set the images to pullable specs before starting the KCP upgrade? This would be a one-time operation to allow the first upgrade to succeed.

[2020-07-16 13:34] vbatts commented on #1582
/cc self

[2020-07-16 13:42] fabriziopandini commented on #3353
@smoshiur1237 is it possble to get the output of `kubectl get get kcp` and `kubectl get machines` together with the output of `kubectl get bmh` (i guess it is the infrastructure machine)
Also, what command are you issuing to make "KCP starts to scale up"?

[2020-07-16 13:53] maelk commented on #3353
bmh is not the actual infrastructure object, that would be the Metal3Machine. BareMetalHost is one level under. We do not run any command to trigger a rollout of KCP. it directly starts when we apply the manifests.

[2020-07-16 14:04] ncdc commented on #3352
We do have Cluster's `spec.controlPlaneEndpoint`, which is a tiny bit of foundation for this (it provides a stable endpoint for the control plane). Some providers do support load balancers, such as cluster-api-provider-aws (CAPA), which manages an ElasticLoadBalancer for the control plane, including VM membership. This is baked in to CAPA, and you can't currently swap it out for another load balan

[2020-07-16 14:05] detiber commented on #3353
I think it would still be helpful to see the output of the kcp resource, machine resources, and infrastructure machine resources to try to get a better idea of what could be causing the controller to be confused and consistently trigger a rolling upgrade

[2020-07-16 15:03] detiber commented on #3354
I could potentially see a two different use cases for move:
- I want to move management of this single Cluster to a different management cluster
  - not completely sure this is needed
- I want to move management of all Clusters to a different management cluster
  - might want to limit to a single namespace if using namespaces for multi-tenancy
  - applies to "pivot" use case for bootstrapping
  -

[2020-07-16 15:15] maelk commented on #3353
An example of resources is here : https://kubernetes.slack.com/files/UF98WRP8R/F0177HNULUS/rollout-debug.yaml

[2020-07-16 15:24] benmoss commented on #3353
Followup from Slack: we think that it's the result of the KCP not having a `clusterConfiguration` set. We do a comparison [here](https://github.com/kubernetes-sigs/cluster-api/blob/19afe6cc4abec48f16211617d7f8a6571f6a2997/controlplane/kubeadm/internal/machinefilters/machine_filters.go#L275-L288) of a cached version of the `clusterConfiguration` stored in a Machine annotation with the current clust

[2020-07-16 15:43] fabriziopandini commented on #3353
Fix in flight; possible workaround: set `ClusterConfiguration: {}` in KCP

[2020-07-16 17:06] DheerajSShetty commented on #2885
Wont it be better if image changes happen in a single controller, so that an Upgrade logic is straightforward for CAPI users. With existing v1alpha3 the only ask would be making sure new k8s version container images are pullable.

But if you feel it is unnecessary we can make changes on our side.

[2020-07-16 17:14] ncdc commented on #2885
I am proposing that you do the manual modifications because this is only a problem for air-gapped environments where the container images baked into the operating system images have bogus pull specs / are not pullable. WDYT @detiber?

[2020-07-16 17:24] lyveng commented on #2916
@vincepri / @johnharris85 Is this the github issue vmware-tanzu/octant#600 tracking the cluster api plugin work for octant? Did the demo happen? I'd love to try it out if you need some beta testers.

[2020-07-16 18:13] brianthelion commented on #3335
@fabriziopandini @ncdc @vincepri Thank you for the follow-up.

The basis for the use-case is that we're stuck with certain operational constraints, the most challenging of which is that third-parties are administering our nodes. When we hand out bootstrap tokens, we have strong guarantees about _who_ we're handing them out to. Next, we want to limit any given administrator's node's access to workl

[2020-07-16 18:41] maplain opened #3357 "[ClusterResourceSet] ClusterResourceSetBinding is not cleaned up"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
1. Create a Cluster and apply a label;
2. Create a CRS selecting the above Cluster and a corresponding Secret;
3. After the CRS's corresponding Secret gets applied, delete the cluster;
4. Check the ClusterResourceSetBinding:
[code]
5. Create the cluster with the same name;
6. Check the clu

[2020-07-16 19:01] detiber commented on #2885
I think there are rough edge cases no matter how we try to approach this, and if we have a known workaround that can be used for the migration we should probably try to stick to that rather than try and make this work in the more generalized use case.

For example, which image urls are we expecting to configure in the kubeadm config map, it seems like we'd need to feed in the urls for the versions

[2020-07-16 19:12] fabriziopandini commented on #3335
The splint between machine administrator and cluster administrator sounds interesting, but personally I would like this use case being developed into a proposal because IMO there are many open points to be addressed around this use case eg.
- What is the expected UX?
- How should we associate a token with a node UUID, given that UUID/Machine names are not known upfront for most of the providers? H

[2020-07-16 19:13] ncdc commented on #3335
Thanks @brianthelion for the additional info. If it's not too much trouble, I'd like to ask for even more details...

Are you trying to only schedule certain pods to certain nodes, or avoid scheduling certain pods to certain nodes?

What makes one specific node different from any other? How do you distinguish?

You mention chain of trust and node authentication and authorization. What part of you

[2020-07-16 19:18] fabriziopandini commented on #3326
I think we will be more on the safe side if we expose a utility under hack/tools similar to envsubst but backed by the clusterctl library, but this can be also a follow up improvement

[2020-07-16 19:36] ncdc opened #3358 "Support spreading MachineSet-owned Machines over failure domains"
**User Story**

As a user, I would like a MachineSet to spread the Machines it creates across the cluster's available failure domains, to protect against a total outage due to an outage in a single location.

**Detailed Description**

KubeadmControlPlane is capable of spreading Machines across failure domains automatically. This is about doing the same thing for a MachineSet.

**Anything else you

[2020-07-16 19:47] rudoi commented on #3358
+1, we're currently employing the _n_ MachineDeployments pattern.

I need to double check in CAPA, but there's a nested concern of cycling through subnets in a particular AZ. It currently returns the first one only if AvailabilityZone is specified on the AWSMachine. There'd be no way to consume this failure domain spread AND also additional subnets per-AZ. I can open a separate CAPA issue and link

[2020-07-16 19:51] ncdc commented on #3358
Please do, thanks!

[2020-07-16 19:53] ncdc commented on #3357
cc @sedefsavas

[2020-07-16 20:04] rudoi commented on #3358
https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1829

[2020-07-16 20:14] wfernandes commented on #3351
/retitle clusterctl panics on init
/area clusterctl

@jichenjc Thanks for reporting this bug!
If this is reproducible, can you provide some additional details such as the CAPI version, kind version, clusterctl version and any other info that might be causing this issue?
if clusterctl hangs, could we see the state of the cert-manager deployment and services.

[2020-07-16 20:34] DheerajSShetty commented on #2885
Ok. We will make changes on our side.

[2020-07-16 20:46] detiber commented on #3358
One potential concern that we have around automated spreading across failure domains would be for cloud providers that limit storage attachment to the same failure domain (for example AWS).

There will be the general case of users needing to understand the impact of how scaling decisions would affect scheduling of those workloads and the associated failure tolerance for a given MachineDeployment.

[2020-07-16 21:25] brianthelion commented on #3335
@fabriziopandini

Ideally, it would be as simple as `kubeadm init --with-flavor={{ flavor }}` to produce a token, with no additional changes to the `kubeadm join` workflow. Flavor would then appear as a node attribute -- "label", "role", whatever; I'm not fussed -- that can be selected for in the deployment step, as well as other operational contexts.

Naively, it would seem sufficient for node to

[2020-07-16 21:32] ncdc commented on #3335
There is a direct link from Machine.status.nodeRef to the node's name. Does that help at all?

[2020-07-16 21:48] alexeldeib opened #3359 "refresh behavior of kubeadmconfig with machinepool"
**What steps did you take and what happened:**

I took a critical read of the kubeadm config controller code with an eye toward machine pool after this slack thread: https://kubernetes.slack.com/archives/CEX9HENG7/p1594849365190200

I'm curious about the expected behavior of token refresh: https://github.com/kubernetes-sigs/cluster-api/blob/19afe6cc4abec48f16211617d7f8a6571f6a2997/bootstrap/kubead

[2020-07-16 22:12] wfernandes opened #3360 "[clusterctl] refactor `config` subcommand"
**User Story**

As a [developer/user] I would like to have a separate subcommand `clusterctl generate` that generates the yaml required to create workload clusters and infrastructure providers.

**Detailed Description**

Currently `clusterctl` has the following commands that prints out yaml for the workload cluster and infrastructure providers:
[code]
Since this may not be as intuitive to many, we

[2020-07-16 23:02] wfernandes commented on #3309
/lifecycle active

[2020-07-17 01:21] jichenjc commented on #3352
sure, this works totally fine with me, thanks a lot

[2020-07-17 01:21] #3352 closed

[2020-07-17 09:21] fabriziopandini commented on #3360
Question: are we planning to maintain `clustetrctl config` commands? I see some value in `clusterctl config provider --infrastructure <infra:verssion>` (without -o yaml)

[2020-07-17 10:00] fabriziopandini commented on #3359
My only concern in the suggested behavior is about maintaining a long-lived token in the cluster, with the potential security implications. I'm wondering if, as mitigation of this problem, it possible to recreate/externd TTL only when scaling up...

[2020-07-17 13:14] Xenwar opened #3363 "KCP upgrade fails and pod in CrashLoopBackOff due nil pointer error"
**What steps did you take and what happened:**
Tried to upgrade a KCP node

**What did you expect to happen:**
That upgrade succeeds.

**Anything else you would like to add:**
The main focus of this issue is handling the **nil pointer error**

**Environment:**

- Cluster-api version: v0.3.0
- Minikube version: v1.12.0
- Kubernetes version: (use `kubectl version`): v1.18.3
- OS (e.g. from `/etc/os-

[2020-07-17 13:14] Xenwar commented on #3363
[code]

[2020-07-17 13:21] Xenwar commented on #3363
[code]

[2020-07-17 13:25] Xenwar commented on #3363
[code]

[2020-07-17 13:47] ncdc opened #3365 "Add condition that indicates when a node has been drained"
**User Story**

As a user/operator I would like to know when the Node for a Machine has finished draining, so I have more insight into the Machine's lifecycle.

**Detailed Description**

#3132 proposes the addition of pre-drain and pre-terminate Machine lifecycle hooks. If you're writing a hook controller, and you want to run your pre-terminate hook after the node has been drained, there is no eas

[2020-07-17 14:27] detiber commented on #3363
@Xenwar is there a reason you are running v0.3.0 for the KubeadmControlPlane provider? Can you try to replicate with the latest released version (v0.3.7)? There have been a lot of bug fixes since v0.3.0 was released.

[2020-07-17 14:40] Xenwar commented on #3363
@detiber OoO now.
Will try on Monday

[2020-07-17 14:59] detiber commented on #3359
One potential gotcha there is that there have been discussions around the potential to defer scaling decisions for a MachinePool to the cloud provider. If we end up supporting that, then it will be hard to know when we would need to recreate/extend the token.

Another potential solution, which might help with both the validity of the token and potentially having a long lived token is that we could

[2020-07-17 15:10] fabriziopandini commented on #3359
I like the idea to explore token rotation.
The tricky part is that toke is embedded in the data secret, so probably we should rotate data secrets as well

[2020-07-17 15:21] ncdc commented on #3363
/priority awaiting-more-evidence

[2020-07-17 16:18] Arvinderpal opened #3367 "Kubernetes upgrade using KCP hangs with CAPD"
**What steps did you take and what happened:**

When upgrading CAPD from 1.17.2 --> 1.18.2. I see the following error occur consistently. Using the same exact steps, but with different K versions, I have been able to successfully perform the upgrade.

[code]

The actual error is shown below and it's currently not logged. See this PR: https://github.com/kubernetes-sigs/cluster-api/pull/3336

[code]

[2020-07-17 16:18] Arvinderpal commented on #3367
@fabriziopandini

[2020-07-17 16:25] Arvinderpal commented on #3338
It was mentioned during the July 15th office hours that mutations would only be supported for **in place** upgrades. Feel free to close this issue. If we ever revisit the immutable requirement, we can revisit this.

[2020-07-17 17:06] brianthelion commented on #3335
@ncdc From a UX perspective, it's not unreasonable for the cluster administrator to demand to know the node name before handing a bootstrap token off to the node administrator, but as @fabriziopandini mentioned that's often not just feasible in automated provisioning scenarios.

[2020-07-17 17:08] Arvinderpal commented on #3342
@fabriziopandini I realize that capd uses kind more as a lib and does not actually call the executable. However, it does use kind. In particular, go.mod seems to pull a kind at a specific commit: https://github.com/kubernetes-sigs/cluster-api/blob/master/go.mod#L42

This commit by @randomvariable  made the change from the standard 0.7.0. Was the choice to use kind at 981bd80d3802 seems arbitrary?.

[2020-07-17 17:28] ncdc commented on #3335
@brianthelion if you're able to share, what sort of environment are you operating in - cloud / on prem / VMs / bare metal?

Are you using a custom scheduler?

How do you envision the node being characterized as sweet or sour? Where is this information stored? Who/what sets it (securely)? Who/what consumes a node's flavor?

(I hope you don't mind all the questions - I'm having a hard time seeing th

[2020-07-17 18:22] Xenwar commented on #3363
Sorry, did not pay attention earlier.
The reason I am using v0.3.0 is that we have a use case for upgrading controllers (CAPI and CAPM3) and boot disk image of bare metal servers. So, we needed to fix the version of the controllers at v0.3.0.

[2020-07-17 18:28] alexeldeib commented on #3359
The token rotation solution sounds good to me. From capz perspective, I think that flow would be really smooth.

[2020-07-17 18:30] ncdc commented on #3363
This is a duplicate of #2633. If you must perform an upgrade using v0.3.0, you must ensure you have a non-nil kcp.Spec.KubeadmConfigSpec.ClusterConfiguration.

/close

[2020-07-17 18:30] #3363 closed

[2020-07-17 18:31] alexeldeib commented on #3359
Agreed -- do we see any issue with this? I don't, I think the token is the main stateful component. But I wondered if other people had different views.

[2020-07-17 18:43] fabriziopandini commented on #3367
@Arvinderpal I tested  1.17.2 --> 1.18.2 and it worked for me (you can see control plane nodes on the new version, workers on the old one)
[code]

I'm on kind v0.7.0; I built clusterctl & CAPD from master, while used v0.3.7 for everything else

Wondering where the problem is 🤔

[2020-07-17 19:10] benmoss commented on #3351
It's not a panic, it's just a stack trace from [this code](https://github.com/kubernetes-sigs/cluster-api/blob/30062aa9aa9d30e9ff3b7f7f61cfac9a25c1c9a5/cmd/clusterctl/cmd/root.go#L52-L62)

[2020-07-17 19:59] ncdc opened #3368 "Published images appear to be missing ldflags version information"
**What steps did you take and what happened:**
Deploy one of our prod images, such as `us.gcr.io/k8s-artifacts-prod/cluster-api/kubeadm-control-plane-controller@sha256:6b38b64f5cdda5cbfcdc52fd53e5648ad5e301250e9e8035f128d3c28c649900` (this is v0.3.7).

This shows up in the manager container's log:

[code]

I am guessing the same is true for CAPI and CABPK.

**What did you expect to happen:**

Vers

[2020-07-17 21:03] wfernandes commented on #3360
Yes. I still believe that those commands provide value. Currently we have:
[code]
As of now I don't think we should remove them.

Another thought:
We also have a `get` verb that _may_ be added into clusterctl as part of #3293. The difference I see between `config` and `get` is that `get` could mean to retrieve resources and information from the management cluster specifically.

If we feel that the

[2020-07-17 21:08] wfernandes commented on #3351
@benmoss Yeah you are actually correct. I should've noticed that actually.
So may be the actual problem is the initial `clusterctl init` and it hanging on cert-manager installation but I think that can be opened as a separate issue and we can close this one.

[2020-07-17 21:42] brianthelion commented on #3335
@ncdc

Our product is a software appliance that runs on-prem in a pre-packaged QEMU/KVM virtual machine. The only things the VM image is missing when it's downloaded by the node administrator -- the "keys to the car" -- are an ssh key and a Kube bootstrap token. The node administrator has to supply both pre-boot via `cloud-init`. When the VM comes up, `systemd` forks a kubelet that joins our clust

[2020-07-17 23:22] #3326 closed

[2020-07-18 08:37] jichenjc commented on #3351
ok, works for me ,thanks for the comments~

[2020-07-18 08:37] #3351 closed

[2020-07-18 15:43] Arvinderpal commented on #2769
Some questions: If we go this route, it sounds like we would be hand picking what gets exposed in the capi equivalent of the kubeadm types, right? Is the idea to provide a better capi abstraction to the user? Would the mapping be along the lines capi types <--> kubeadm types (v1betax) <--> kubeadm configmap? Given the large (and potentially increasing) number of fields that kubeadm exposes, wouldn

[2020-07-20 14:00] vincepri commented on #1477
/lifecycle frozen
/milestone v0.4.0

[2020-07-20 14:00] vincepri commented on #2306
/lifecycle frozen

[2020-07-20 14:01] vincepri commented on #2064
/lifecycle frozen

[2020-07-20 14:01] vincepri commented on #1840
/lifecycle frozen
/milestone v0.4.0

[2020-07-20 14:01] vincepri commented on #2062
/lifecycle frozen
/milestone v0.4.0

[2020-07-20 14:02] vincepri commented on #1760
/lifecycle frozen

[2020-07-20 14:02] vincepri commented on #1767
/lifecycle frozen

[2020-07-20 14:02] vincepri commented on #1768
/lifecycle frozen

[2020-07-20 14:03] vincepri commented on #1588
/lifecycle frozen

[2020-07-20 14:03] vincepri commented on #1677
/lifecycle frozen

[2020-07-20 14:03] vincepri commented on #1587
/lifecycle frozen

[2020-07-20 14:03] vincepri commented on #1559
/lifecycle frozen

[2020-07-20 14:03] vincepri commented on #1524
/lifecycle frozen

[2020-07-20 14:04] vincepri commented on #3365
/milestone v0.3.x

[2020-07-20 14:04] vincepri commented on #3365
/help
/priority important-longterm

[2020-07-20 14:07] vincepri commented on #3359
+1 to what Jason suggested, there should be some ways we could do rotation without having breaking changes in behavior or APIs.

One clarification, for MachineDeployments the token is actually created when the MachineSet creates a Machine and clones the BootstrapConfigTemplate associated.

[2020-07-20 14:07] vincepri commented on #3359
/milestone v0.3.x
/priority important-longterm

[2020-07-20 14:36] vincepri commented on #2703
/lifecycle frozen

[2020-07-20 14:40] vincepri commented on #2916
@lyveng The demo hasn't happened yet, we're kind of stalled in this area, but it'd be great to circle back once we have more time / plan for the next cycle.

[2020-07-20 14:59] vincepri commented on #1642
/lifecycle frozen

[2020-07-20 15:22] ncdc commented on #2769
Yes, but I think we could probably expose the majority of them in a way that makes more sense for our users. For example, with KubeadmControlPlane, we expose the full kubeadm ClusterConfiguration, which includes a field for KubernetesVersion... but we control the control plane version in KubeadmControlPlane.Spec.Version. It makes more sense to me not to expose the full ClusterConfiguration because

[2020-07-20 15:42] ncdc commented on #3335
Thanks!

Does the node admin have access to the cluster-api management cluster? Are they creating `Machine` resources?

So if you're using the `nodeSelector` to direct pods to flavored nodes, that means each node has to be labeled with the flavor. And you presumably don't want the node administrator to be able to set a node's labels. Which means you can't give the node administrator cluster-admin

[2020-07-20 15:46] #3353 closed

[2020-07-20 16:18] #3062 closed

[2020-07-20 17:18] #3187 closed

[2020-07-20 19:18] benmoss commented on #3368
/assign

[2020-07-20 20:40] michaelgugino commented on #3365
My thinking on this was to have this be apart of the kubectl library, add some annotation to the node after draining is complete.  Annotation should be opt-out (so always applied), and NLM can remove the annotation whenever the node transitions to uncordoned.  I haven't bothered to write this up as a KEP yet, but this seems like another place where we can standardize with the rest of the community

[2020-07-20 20:43] detiber commented on #3365
@michaelgugino I believe the thought behind this issue was to have a Condition on the Machine that indicates that the node drain has been completed, which could then be used by external lifecycle hooks to trigger action after the node is drained, but before the infrastructure is deleted.

That said, if there is a common annotation that will exist on the Node, then the condition could be populated

[2020-07-20 21:01] michaelgugino commented on #3365
@detiber yeah, I was just thinking about the context of what the machine-controller is doing.  The problem with drain is it's somewhat transient as an admin could uncordon the node and cause funky things to happen.  Not saying that's a blocker here, just something to think about (this kinda begets another question: will we attempt to drain after successful drain?)

I guess we can just say we guara

[2020-07-20 21:04] elmiko commented on #2944
i think this is still active, maybe someone can correct me if that's not the case.
/remove-lifecycle stale

[2020-07-21 00:29] Arvinderpal commented on #3272
Yes, target namespace makes this tricky. I will close. Thank you

[2020-07-21 00:29] #3272 closed

[2020-07-21 00:30] #3338 closed

[2020-07-21 02:14] brianthelion commented on #3335
@ncdc

No. More on that at the bottom.

No, nothing fancy in the provisioning process as of yet.

Yes, you've got it.

This seems like a potential workaround, but for two hang-ups: (1) The node's name (or UID) would have to be known at token creation time; (2) the name (or UID) would effectively become node's credential, and it's not exactly a cryptographically secure one. You'd really like someth

[2020-07-21 02:28] vincepri opened #3370 "Deprecate RequeueAfterError, and remove its usage"
**What steps did you take and what happened:**
`RequeueAfterError` is often used in reconciliation loops to signal the reconciler that we want to requeue after a certain amount of time. This paradigm can be found throughout the Cluster API and providers codebase.

While today RequeueAfterError works fine, there is a lot of drawbacks that are unaccounted for:
- Errors are shadowed, won't be logged

[2020-07-21 12:02] JoelSpeed opened #3371 "Add `allowedRemediations` field to MHC Status"
**User Story**

As a user I would like to know how many Machines an MHC thinks it can disrupt before short circuiting to increase confidence that the MHC will not break my cluster when it needs to make remediations.

**Detailed Description**

I think we should add a new field to the MHC status called `allowedRemediations` that will give users some insight into how the MHC is going to make decision

[2020-07-21 12:09] michaelgugino commented on #3371
I like this idea.  Would it make sense to also indicate how many total nodes are being watched by the MHC or a count of the healthy nodes?  This would give you a little more insight into what it's thinking.  For example, if you're expecting the MaxUnavailable to be 3, but it's 0, it might not be clear why.  If you also see that target nodes is 0, it's an indication your selector isn't working righ

[2020-07-21 12:15] JoelSpeed commented on #3371
We have this already in the form of `expectedMachines` and `currentHealthy`

[2020-07-21 13:54] michaelgugino commented on #3371
Shows what I know ;)  Perfect, that looks good to me.

[2020-07-21 14:04] ncdc commented on #3335
Maybe the node's name doesn't matter? You have a cluster admin who creates a Machine with a specific flavor, and as soon as Machine.spec.nodeRef is set, your controller labels the node with the flavor. Would that work? (i.e. there is no flavor token)

Are you not using the Cluster API kubeadm-based bootstrap provider?

[2020-07-21 14:12] vincepri commented on #3371
/priority important-longterm
/milestone v0.3.x
/help

[2020-07-21 14:15] JoelSpeed commented on #3371
/assign

[2020-07-21 14:40] brianthelion commented on #3335
@ncdc

Sounds potentially promising. I'll need to learn more about the `Machine` interface to evaluate.

Our API is just calling `kubeadm init` in a subprocess and passing the output along to the node administrator.

[2020-07-21 14:47] ncdc commented on #3335
We match a Machine to a Node based on equivalent providerID values between the two. For example, when you create a node in AWS, you create a Machine and an AWSMachine. The AWS provider asks AWS to run an instance and records the instance ID in AWSMachine.spec.providerID. This is then copied to Machine.spec.providerID. As soon as Cluster API is able to connect to the new cluster's apiserver, it sta

[2020-07-21 16:11] detiber commented on #3335
I'm struggling a bit to understand the use cases where we would want to support Clusters that have mixed workloads across different security boundaries. That seems more like something that would be better handled by federating workloads across multiple clusters or by using something similar to virtual cluster approach that is being investigated by wg-multitenancy.

That said, I think there are sev

[2020-07-21 16:54] michaelgugino commented on #3371
Maybe I'm over thinking it, but it's coming across a little confusing now:
[code]

So, this shows I'm down 2 nodes already, but my allowedRemediations is 1.  This is confusing.  I think the allowedRemediations is actually 3.

Seems like we should change allowedRemediations to maxUnhealthy as a number, and add some messaging.

[code]

and

[code]

Ideally, if we had some mechanism to keep track of

[2020-07-21 16:54] detiber commented on #2944
Indeed, this is still applicable
/lifecycle frozen

[2020-07-21 17:27] vincepri commented on #2602
/lifecycle frozen

[2020-07-21 17:27] vincepri commented on #2709
/close

[2020-07-21 17:28] vincepri commented on #2693
/lifecycle frozen

[2020-07-21 17:28] #2709 closed

[2020-07-21 17:42] CecileRobertMichon opened #3373 "[book] Add advanced section to document using kustomize + yaml templates"
For some users, clusterctl is not flexible enough to configure clusters past the quickstart experience. Many of the providers provide example "flavor" templates as references. However, for more advanced users that need greater control over the cluster configuration, the templates need to be curated to fit their use case (eg. add custom images, modify cloud provider args, etc.)

In the future, a [t

[2020-07-21 17:42] CecileRobertMichon commented on #3373
/kind documentation

[2020-07-21 18:03] vincepri commented on #3373
/milestone v0.3.x

[2020-07-21 18:25] detiber commented on #2934
Not sure we want to add PSP, since it is being deprecated, but I think it would be good to keep this open to track equivalent functionality.
/lifecycle frozen

[2020-07-21 20:30] #3368 closed

[2020-07-22 06:01] rudy2steiner commented on #3294
I'd like to work on this issue, please assign to me!

[2020-07-22 06:13] rudy2steiner commented on #3294
/assign

[2020-07-22 10:20] JoelSpeed commented on #3371
This came from: 40% of 8 is 3.2, we round down to be safe, so 3 is the maximum number of unhealthy machines that are allowed, there are 2 already, so 1 further remediation is allowed. @vincepri had a similar comment https://github.com/kubernetes-sigs/cluster-api/pull/3372#discussion_r458226403 about the naming, so happy to revise it if we can decide on something. For context, I had taken inspirati

[2020-07-22 15:06] ncdc opened #3375 "kustomize_substitutions in tilt-settings.json is broken"
**What steps did you take and what happened:**
1. Try to use `kustomize_substitutions` for variables that you do **not** set as environment variables
1. These placeholders are replaced with the empty string

**What did you expect to happen:**
1. Successful replacement from `kustomize_substitutions` from `tilt-settings.json`

**Anything else you would like to add:**
The change to use kustomize with

[2020-07-22 15:15] vincepri commented on #3375
/milestone v0.3.x

Chatting with @wfernandes, I'd like to see a `clusterctl` generic command that
- Takes any files as input, uses our internal envsubst implementation, and prints out the result.
- It has a `--variables` flag to print out all the variables
  - This can be used to look at the defaults, print out all the required variables

[2020-07-22 15:53] michaelgugino commented on #3371
Yeah, I realize that.  But, while it's similar, I think they are slightly different.  AllowedDisruptions implies allowing the user to do something disruptive, and if the number is too low, they can't.  Whereas, AllowedRemediations is about fixing or un-disrupting.

I think some of it might just be the wording of "Allowed Remediations" but I can't really think of a better name.  In particular, if t

[2020-07-22 16:13] wfernandes commented on #3309
Note to self.
Started work on testing `ReconcileEtcdMembers`. I created a branch `wfernandes:add-test-reconcile-etcd-members` from the `wfernandes:add-get-workload-cluster-test` branch since I want to build upon the envtest work.

[2020-07-22 16:30] JoelSpeed commented on #3371
To add to confusion maybe(?), yes, I think so, if we are at 0 at the end of a reconciliation, that means we *may* have made some remediation during that reconcile. But on the next reconcile, if there are any new unhealthy machines, we won't be able to. If you observe a zero value, you shouldn't expect any more remediations until a machine has become healthy again.

If others like the `remediationS

[2020-07-22 16:47] ncdc commented on #3375
/assign
/lifecycle active
FYI @alexeldeib

[2020-07-22 16:49] michaelgugino commented on #3371
Right, which is another contrast with PDBs, PDBs reflect the state of 'as of right now, you cannot make any more disruptions' which I think is different from 'You're currently at 0, but we might be remediating one, or might remediate one of these broken ones in the future provided nothing else breaks.'

I don't think it's something we can clear up with just numbers, I like having the 'blocked' and

[2020-07-22 16:57] wfernandes opened #3379 "add new sub-command to clusterctl to process generic yaml"
**User Story**

As a developer I would like to have a sub-command in clusterctl that could process yaml using the built in yaml processor so that we can leverage clusterctl's internal yaml processor within scripts.

**Detailed Description**

Since we integrated envsubst within clusterctl's simple yaml processor, we can now handle default variables in our cluster templates and our infrastructure co

[2020-07-22 17:00] vincepri commented on #3379
/milestone v0.3.x

[2020-07-22 17:16] michaelgugino opened #3380 "MachineSet should have last transition time for replica counts in status"
**User Story**

As a developer I would like to build components that can take actions when the machineset is settled or unsettled for custom integrations.

**Detailed Description**

I want to prevent terminating a current machine's instance (using deletion lifecycle hooks) until a replacement machine is created.  One way to enable this workflow is to prevent removal until the machineset has the ne

[2020-07-22 17:17] CecileRobertMichon commented on #3367
/priority awaiting-more-evidence

[2020-07-22 17:18] CecileRobertMichon commented on #3367
/milestone next

[2020-07-22 17:22] detiber commented on #3367
/milestone Next

[2020-07-22 17:23] vincepri commented on #3360
/milestone v0.4.0

[2020-07-22 17:23] CecileRobertMichon commented on #3358
/milestone next

[2020-07-22 17:24] detiber commented on #3358
/milestone Next

[2020-07-22 17:26] CecileRobertMichon commented on #3380
/milestone 0.3.x

[2020-07-22 17:27] vincepri commented on #3380
/milestone v0.3.x

[2020-07-22 17:27] elmiko commented on #3358
this sounds like a nice feature, but i am curious if it would be always on or can a user disable it?

this is highly relevant imo. the cluster autoscaler can be configured to attempt to balance the nodes it creates during scaling. when this option is enabled it will try to balance creation across MachineSets or MachineDeployments (depending on what is being used). i would want to make sure that us

[2020-07-22 17:29] michaelgugino commented on #3380
@vincepri you mentioned during weekly meeting you might have some preferred implementation for this (conditions, I think you said?)  Could you provide a synopsis here?  I'd like to get a patch together.

[2020-07-22 17:31] vincepri commented on #3380
Yeah, we could add Conditions, although I just noticed that the MachineSet type doesn't have the field yet https://github.com/kubernetes-sigs/cluster-api/blob/master/api/v1alpha3/machineset_types.go#L110.

Depending on your timeline, I'm fine for now to have a timestamp, we could move to a condition later and deprecate the field.

[2020-07-22 18:52] wfernandes commented on #3379
/assign

[2020-07-22 19:13] #3375 closed

[2020-07-22 19:57] wfernandes commented on #3360
Question to the community:
Currently, `clusterctl config provider --infrastructure aws -o yaml` does NOT do variable substitution. That is, it prints out the original yaml with the variables. Do we want the `clusterctl generate provider --infrastructure aws` to process variables and return the final yaml?
That is, do we want something like `clusterctl generate provider -i aws | kubectl apply -f -`

[2020-07-22 20:19] wfernandes commented on #3360
/assign

[2020-07-22 20:24] vincepri commented on #3360
`clusterctl generate provider -i aws | kubectl apply -f -` This should great to me, it'd be great to have also a `--raw` option that doesn't do variable substitution

[2020-07-22 20:33] wfernandes commented on #3360
Makes sense. Currently, `clusterctl config provider -i aws -o yaml` doesn't do variable substitution. So that functionality can be represented with the `--raw` option.

I also think adding the `--from` flag to the `clusterctl generate provider` command might be helpful for those wanting to point to a specific file url path.

I know that this particular issue is marked for v0.4.0 but I think it's c

[2020-07-22 20:36] vincepri commented on #3360
I'm +1 on the --from flag as well, let's make sure it's consistent with the rest of the commands.

I'd suggest to introduce the `generate` verb in this v0.3.x, and wait to have move these commands in v0.4.0. `clusterctl generate yaml -` could be a good starting point to get the template envsubst command we need

[2020-07-22 20:49] wfernandes commented on #3379
As per the discussion happening in #3360, we'll go with the command `clusterctl generate yaml` to accomplish this user story.
/lifecycle active

[2020-07-22 21:08] michaelgugino commented on #3380
Do we want to model conditions roughly after pod conditions?  https://godoc.org/k8s.io/api/core/v1#PodCondition

If we think conditions will be added, we might as well make this the first one.  What do we want to name it?  I'm mostly interested in when all replicas are available.  Maybe "AllReplicasAvailable" ?

We can do just timestamp for now if we think conditions is going to be quite involved.

[2020-07-22 21:20] gab-satchi opened #3383 "Should we utilize conditions for deletion flows"
Conditions have been used so far to show the operational state of an object (and its dependents) along with the provisioning progress. This issue is to discuss potentially using conditions during the scale down / deletion flow.

If conditions should be used for deletion:
- What should happen to existing conditions that describe the provisioning / operating phases of an object? for ex: VPCReady, In

[2020-07-22 21:23] detiber commented on #3383
+1 from me for utilizing conditions during the deletion flow.

As a side note, I think it might not be a bad idea to bubble up that reconciliation is paused on a resource (either from having the annotation directly or transitively through Cluster.Spec.Paused being true).

[2020-07-22 23:55] vincepri commented on #3380
If we add conditions, we should be consistent with the rest of the conditions that have already been added on Cluster/Machine. You can see more in https://github.com/kubernetes-sigs/cluster-api/blob/master/api/v1alpha3/condition_consts.go for some examples

[2020-07-22 23:55] vincepri commented on #3380
We have our own type in https://github.com/kubernetes-sigs/cluster-api/blob/master/api/v1alpha3/condition_types.go#L55-L88

[2020-07-23 00:26] michaelgugino commented on #3380
Those conditions seem suitable to me.  I'll try to put something together soon.

[2020-07-23 00:35] CecileRobertMichon commented on #3160
This has to do with the upgrade policy at the provider level, will track in CAPZ itself.

/close

[2020-07-23 00:35] #3160 closed

[2020-07-23 00:37] vincepri opened #3384 "Move published artifacts images to use k8s.gcr.io"
As reported in Slack (https://kubernetes.slack.com/archives/C8TSNPY4T/p1595441096272200) by @detiber, after the new domain comes into effect, we should be able to safely switch our images to use `k8s.gcr.io` in all our artifacts.

We'll probably going to hold this change until we have some confirmation that the migration went smoothly, probably until early next week.

/kind cleanup
/milestone v0.3

[2020-07-23 00:38] vincepri commented on #3384
/milestone v0.3.x

[2020-07-23 02:00] vincepri commented on #2846
/lifecycle frozen

[2020-07-23 18:23] ximbal opened #3390 "failed to run [u'kustomize', u'build', u'./config']: [Errno 2] No such file or directory"
**What steps did you take and what happened:**
First time taking out cluster api for a spin.

Followed the steps from the book, to run a local deployment with Docker
In a terminal tried the following
[code]
getting this:

[code]

**What did you expect to happen:**
Run the local-overrides.py

**Anything else you would like to add:**

What am I doing wrong/missing?

Thanks.

Book documentation, jump

[2020-07-23 18:25] vincepri commented on #3390
Hi @ximbal, do you have `kustomize` installed and on your path? You can install it on Mac using `brew install kustomize`

[2020-07-23 18:35] rudoi opened #3391 "Move CAPZ machinePool helper functions into CAPI's util package"
**User Story**

As we dive into the AWSMachinePool implementation in CAPA, we're finding some nice things in CAPZ that we want to shamelessly steal, most notably the `getMachinePoolByName` and `getOwnerMachinePool` helpers. Any MachinePool provider will need to use this functionality.

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/6ad50d0e79546d9f3c5e5d632836412df91a6a9c/exp/c

[2020-07-23 18:43] ximbal commented on #3390
That helped, now I am getting:
[code]
{
  "providers": ["cluster-api","bootstrap-kubeadm","control-plane-kubeadm", "docker"]
}```

and

~/.cluster-api/clusterctl.yaml
[code]

Thanks for the help.

[2020-07-23 19:12] #3390 closed

[2020-07-23 21:06] #3391 closed

[2020-07-23 23:16] #3357 closed

[2020-07-24 07:34] prksu opened #3393 "[clusterctl] local-overrides hack should also copy the metadata.yaml"
**User Story**

As a provider developer, I would like to run our provider using clusterctl locally it can be done using local-overrides hack. However not all providers already have pre-defined metadata in clusterctl it would be better if we also copy the `matadata.yaml` from provider_repos if any there.

**Anything else you would like to add:**

Currently, only `infrastructure-docker` have metadat

[2020-07-24 07:34] prksu commented on #3393
/area clusterctl

[2020-07-24 15:18] benmoss opened #3395 "KCP rollout logs several condition patch conflicts"
**What steps did you take and what happened:**
Triggered a rollout of my control plane by changing the KCP's spec.version property.

**What did you expect to happen:**
No conflicts should be happening

**Anything else you would like to add:**

This wasn't the first rollout I did on this cluster, so I think that may be why the `RollingUpdateInProgress` condition already existed.

[code]

/kind bug

[2020-07-24 15:30] cprivite commented on #1584
One other workaround a co-worker came up with for editing the kube-proxy config is to simply update the kube-proxy configmap:

So apply a confg of this sort into the kub-system namespace:
[code]

Is there a major downside to just editing the configmap? If nothing else I hope this at least gives folks another option for configuring kube-proxy in the interim till this is implemented.

[2020-07-24 16:59] benmoss opened #3396 "KCP rollout causes uneven failure domain distribution"
**What steps did you take and what happened:**
Have a 3 machine KCP cluster with 3 FDs, trigger a rollout. I'm not sure enough of the algorithm to say if it will necessarily trigger this *every* time, but it will likely end up with 2 machines in one FD and 1 in another.

**What did you expect to happen:**
It should have one machine in each FD.

**Anything else you would like to add:**
I believe th

[2020-07-24 17:06] vincepri commented on #3395
/milestone v0.3.x

I don't think we're updating these multiple times within the same reconciliation loop, it could be a stale cache issue that stays behind. Let's investigate a little more to see why this is happening.

[2020-07-24 17:07] vincepri commented on #3396
/milestone v0.3.x

[2020-07-24 17:07] vincepri commented on #3383
+1 from me as well

[2020-07-24 17:08] vincepri commented on #3383
/milestone v0.3.x

[2020-07-24 18:07] sedefsavas opened #3397 "[CRS] Watch ConfigMap/Secret creation/update for retrying to apply failed ones"
In the current ClusterResourceSet implementation, in case resources do not exist during reconcile, we wait until next reconcile to try to find and apply them again, which is set to 10 minutes for all controllers in CAPI.
For better user experience, we can watch resource changes and try to reapply failed ones if anything changes on the resource (created/updated).

Note that there is only `ApplyOnce

[2020-07-24 18:08] sedefsavas commented on #3397
/assign

cc @andrewsykim

[2020-07-24 18:13] sedefsavas opened #3398 "[Doc] Update ClusterResourceSet KEP based on the changes during implementation"
We need to add/delete goals/non-goals based on the latest implementation in https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/20200220-cluster-resource-set.md.
Also, the examples are outdated.

/kind documentation

[2020-07-24 18:13] sedefsavas commented on #3398
/assign

[2020-07-24 18:14] vincepri commented on #3397
/milestone v0.3.x

[2020-07-24 18:14] vincepri commented on #3398
/mileston ev0.3.x

[2020-07-24 18:14] vincepri commented on #3398
/milestone v0.3.x

[2020-07-24 18:30] sedefsavas opened #3399 "[CRS] Remove CRS from resources' owner reference list on deletion"
A ClusterResourceSet is added as owner reference to its resources (ConfigMaps/Secrets). When CRS is deleted, its resources are garbage-collected. To avoid this when a CRS is deleted, remove it from all of its resources' owner reference list.

[2020-07-24 18:30] sedefsavas commented on #3399
/assign

cc @vincepri

[2020-07-24 18:31] vincepri commented on #3399
/milestone v0.3.x

[2020-07-24 18:37] detiber commented on #3399
Should this be toggle-able behavior? Do we have specific use cases in mind where we would want to leave ConfigMaps or Secrets laying around that are not referenced by a CRS?

[2020-07-24 19:46] sedefsavas opened #3400 "[CRS] Return error in case of resource apply failures and limit number of attempts"
Currently, we do not return errors in case of resource apply failures and at the next reconcile, we apply failed resources.

To avoid waiting until the next reconcile (10 min), we can return error in case of apply failure and rely on controller's exponential backoff to retry. Since apply failures may be due to some permanent errors, we don't want to retry forever, so we can define a parameter `max

[2020-07-24 19:46] sedefsavas commented on #3400
/assign

cc @ncdc

[2020-07-24 19:46] vincepri commented on #3399
I think so, we can definitely make it configurable. The initial thought here was to avoid assuming user intent given that configmaps or secret aren't initially created with owner references, but these are added afterwards. The deletion flow today, after the last CRS standing as ownerReferece gets deleted, it deletes the linked cm/secret as well.

[2020-07-24 19:47] vincepri commented on #3399
/kind cleanup

Let's gather some use cases

[2020-07-24 19:58] vincepri commented on #3400
/milestone v0.3.x

[2020-07-24 21:10] vincepri commented on #2182
/milestone v0.4.0

[2020-07-24 21:10] vincepri commented on #2182
/priority important-soon

[2020-07-24 21:12] vincepri commented on #2182
Action items:

- Add sections in the book
- Reach out to community folks, weekly meeting
- Send out an email to sig-cluster-lifecycle mailing list

[2020-07-25 11:37] sftim commented on #2182
@vincepri do you think that this change fits with the spirit of https://github.com/kubernetes/enhancements/blob/master/keps/sig-docs/20191020-doc-policies-for-third-party-content.md ?

How about adding a [blog article](https://kubernetes.io/blog/) with a survey of the cluster API and uses in the wild, and then having the official documentation link to that article? To me, that feels like a better

[2020-07-25 11:37] sftim commented on #2182
/sig docs

[2020-07-25 14:01] vincepri commented on #2182
Need some time to review the document next week, a blog post sounds good to me as well. I'd also like to see what other projects have done in this are.

[2020-07-26 23:28] voor commented on #2934
While PSP might be a stretch goal, I would say a MVP and probably the most critical would be to at least have security context for all of the controllers, and make sure they're running as non-root.

[2020-07-27 13:51] detiber commented on #2318
/lifecycle frozen

[2020-07-27 14:14] vincepri commented on #2318
/milestone v0.4.0

[2020-07-27 14:21] vincepri commented on #2873
Going to close for now given the solution presented above and no updates.

@dpandhi-git Feel free to reopen if the problem persists.

/close

[2020-07-27 14:21] #2873 closed

[2020-07-27 14:22] vincepri commented on #2955
/lifecycle frozen

[2020-07-27 16:21] Arvinderpal opened #3401 "Document rollout support for K Worker Nodes"
**User Story**

As a user/operator I would like to roll out all K worker nodes to new hardware for various reasons.
As a developer/user/operator I would like to have symmetry between control-plane and worker node roll outs for added simplicity.

**Detailed Description**

KCP.Spec.UpgradeAfter allows machines to be rolled out after a specific date and time even if nothing in the Spec has changed. T

[2020-07-27 16:22] Arvinderpal commented on #3401
One approach would be to introduce the `upgradeAfter` field in MachineDeployment and use similar logic to KCP in deciding when an roll out should be triggered.

[2020-07-27 18:04] detiber commented on #3401
I don't necessarily see an issue with introducing an upgradeAfter field, however I'm wondering if it would make sense to have more generic support for something similar to `kubectl rollout` for MachineDeployments and possibly also KubeadmControlPlane?

[2020-07-27 18:39] ximbal opened #3403 "Dependency broken github.com/golangci/golangci-lint@v1.27.0 requires github.com/tommy-muehle/go-mnd@v1.3.1"
**What steps did you take and what happened:**
# make -C test/infrastructure/docker generate-manifests REGISTRY=gcr.io/k8s-staging-cluster-api
make: Entering directory `/root/cluster-api/test/infrastructure/docker'
cd hack/tools; go build -tags=tools -o bin/controller-gen sigs.k8s.io/controller-tools/cmd/controller-gen
go: github.com/golangci/golangci-lint@v1.27.0 requires
        github.com/tommy

[2020-07-27 18:47] vincepri commented on #3403
@ximbal I just ran `make -C test/infrastructure/docker generate-manifests REGISTRY=gcr.io/k8s-staging-cluster-api` locally and it worked for me, seems there might be some network issues on your side?

[2020-07-27 19:00] benmoss opened #3404 "external.Get wraps errors, breaking apimachinery error functions"
The apimachinery error predicates [don't currently work](https://github.com/kubernetes/kubernetes/issues/93512) with Golang error wrapping. They use type checks on the error to get at the HTTP status, and so will fail if they've been wrapped.

We handle this correctly [some places](https://github.com/benmoss/cluster-api/blob/60147823dc2131b822125598a73b2ad34e55b050/controllers/cluster_controller.g

[2020-07-27 19:23] vincepri commented on #3404
Use `errors.Cause` to get the actual error

[2020-07-27 19:24] vincepri commented on #3404
/milestone v0.3.x
/priority important-logterm

[2020-07-27 19:25] vincepri commented on #3403
/priority awaiting-more-evidence
/milestone Next

[2020-07-27 19:26] vincepri commented on #3401
+1 Adding a similar functionality to MachineDeployment as well, I'd wait for v0.4.0 and rename these fields to `RolloutAfter`. @detiber's suggestion to support something similar to kubectl rollout sounds interesting as well

[2020-07-27 19:27] vincepri commented on #3393
/assign @fabriziopandini @wfernandes
to triage

[2020-07-27 19:27] vincepri commented on #3393
/milestone v0.3.x

[2020-07-27 19:34] vincepri commented on #3371
+1, seems like a good use case to get a condition in place

[2020-07-27 21:43] wfernandes commented on #3379
Do we need to support things like `--target-namespace` and `--kubernetes-version`? These are features that clusterctl supports for other commands.
Asking because I don't know if users will want to do something like
[code]
or
[code]
Or are we expecting the sole purpose of this command will be to substitute env vars? That is just take some kind of yaml...whatever it may be and run the our yaml proce

[2020-07-27 21:49] wfernandes commented on #3379
Actually...now that I think about it some more. Maybe we **don't** implement those for this command specifically since these features will be ported over when we decide to do `clusterctl generate cluster`.

[2020-07-27 22:09] wfernandes commented on #3379
I was planning on implementing something like `clusterctl generate yaml --core cluster-api:v0.3.7` that provides the component yaml for the core provider. I thought this might be useful to simplify commands like
[code]

This would work similarly for
[code]
**However**, for the infrastructure provider,
[code]
 the user may be confused with what template they will get. That is, will they get the `in

[2020-07-27 22:10] wfernandes commented on #3360
Referencing this issue comment since it is closely related and provides specific "user stories" for these commands.
https://github.com/kubernetes-sigs/cluster-api/issues/3379#issuecomment-664663534

[2020-07-27 23:04] sb1975 opened #3407 "Mechanism to migrate workload clusters across providers"
**User Story**

As an operator I would like to have the ability to migrate my workload Cluster from one Provider to another(for example from a Baremetal Cluster to AWSCluster). This could be needed due to Business reason, strategic move towards a Cloud Provider or simply for cost savings.

**Detailed Description**

clusterctl migrate --source-provider metal3 --target-provider aws --cluster-name my

[2020-07-28 13:39] ncdc commented on #3407
What sequence of actions would you expect this migrate command to perform?

[2020-07-28 13:47] detiber commented on #3407
There are a handful of issues that would need to be solved that make me default to want to say that this is not within the scope of the Cluster API project:
- backup/restore of etcd data between workload clusters
- workload clusters are expected to maintain a static api endpoint and there is no way to migrate a static api endpoint between different infrastructure providers in a generic way
- any i

[2020-07-28 14:48] detiber commented on #2578
/lifecycle frozen

[2020-07-28 15:51] vincepri commented on #3407
/milestone Next

[2020-07-28 16:54] wfernandes commented on #3393
@prksu I see that since clusterctl ships with [metadata built in](https://github.com/kubernetes-sigs/cluster-api/blob/master/cmd/clusterctl/client/repository/metadata_client.go#L102) for many of the major providers they don't necessarily need to provide an external metadata file.

Maybe in order to automate this in `./hack/local-overrides.py` we can define a `metadataFile` property as part of the

[2020-07-28 18:10] jayunit100 commented on #3255
Yeah, this is a good idea imo , seems like over time it seems like this is going to be increasingly important as folks run CAPI in production, and are looking to extend it with cloud specific staples (cloud managed databases, object stores are the obvious day 0 requirements that folks often want to integrate w/ vanilla clusters)...

[2020-07-28 18:13] timothysc commented on #3255
@vincepri Can we add this item to the next kessel run?

[2020-07-28 18:21] vincepri commented on #3255
/milestone v0.4.0

[2020-07-28 18:21] vincepri commented on #3255
/kind design

[2020-07-28 18:22] Arvinderpal commented on #3367
Looked into this a bit more and will document here in case others come across the problem.

During the K version upgrade, a new control-plane node is created by capd, which should replace the existing control-plane. However, for unknown reasons, the etcd of the existing control-plane gets removed as a member of the etcd cluster, prior to the node itself being removed from the cluster:
[code]
This

[2020-07-28 19:24] moensch opened #3413 "Cannot specify target/watching namespace on clusterctl upgrade apply"
**What steps did you take and what happened:**
We initialized CAPI with the aws infrastructure provider by also specifying `--target-namespace` and `--watching-namespace` options.

I then ran `clusterctl upgrade apply` only against one of the many namespaces we have the AWS infra provider running in. The upgrade did not retain the `--namespace` option in the CAPA manager deployment resulting in it

[2020-07-28 19:49] vincepri commented on #3413
/assign @wfernandes

[2020-07-28 19:49] vincepri commented on #3413
/milestone v0.3.x

[2020-07-28 20:16] vincepri commented on #2960
/lifecycle frozen

[2020-07-28 21:00] aojea commented on #3367
@Arvinderpal if you can attach the exported log of the kind cluster after the failure `kind export logs`  I can take a look, kindnet is very simple and we try to keep it as simple as possible, but if supporting this is a small change and the community can benefit from it, I think we can add it.

[2020-07-28 21:40] jsturtevant opened #3415 "Transition tilt-settings file to tilt_config"
**User Story**

As a [developer] I would like to consistent configuration in my tilt file so I can put configuration in a single place.

**Detailed Description**

Currently as a developer I create a `tilt-settings.json` as defined on https://cluster-api.sigs.k8s.io/developer/tilt.html#create-a-tilt-settingsjson-file

I believe the `tilt-settings.json` file was from a time before `tilt_config.json`

[2020-07-28 22:37] CecileRobertMichon commented on #3358
+1 from me on this, I actually thought it was already the case.

What's the current way to set a failure domain per MD? Is it through the Machine template?

I would expect as a user you would be able to set the failure domains explicitly to only deploy machines from that deployment to a subset (in some use cases only 1) of failure domains, but by default it would spread to all failure domains avai

[2020-07-29 11:32] JoelSpeed commented on #3371
I'll look into updating the PR to use conditions in the next couple of days

[2020-07-29 13:55] Arvinderpal commented on #3401
A `rollout` command for clusterctl would be great. Perhaps we can also add support for the various sub-commands like undo/status/history as with [`kubectl rollout`](https://kubernetes.io/docs/reference/kubectl/cheatsheet/#updating-resources).

We can wait for 0.4.0

[2020-07-29 14:05] benmoss commented on #3404
This will be fixed when we bump to apimachinery 1.19

/close

[2020-07-29 14:05] #3404 closed

[2020-07-29 14:07] benmoss commented on #3403
Yeah `fatal: The remote end hung up unexpectedly` seems like a network hiccup

[2020-07-29 14:12] Arvinderpal commented on #3367
@aojea Thanks!
Here are the logs.
`px9fj` is the original control-plane node and `9hjt2` is new one.
[code]

Here are the logs for the LB container. It also shows the connectivity problems:
[code]

Complete Logs:
[486649058.tar.gz](https://github.com/kubernetes-sigs/cluster-api/files/4995298/486649058.tar.gz)

[2020-07-29 14:20] benmoss commented on #3395
/assign

[2020-07-29 14:47] markedwards77 opened #3416 "TKG CLI Install Failure"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
I was trying to deploy the TKG management cluster to a vSphere lab environment using the TKG CLI on a windows 10 latpop.  This was the first time doing this so no previous configuration existed on the machine but each time I tried to deploy via the installer interface or CLI I got the erro

[2020-07-29 14:57] wfernandes commented on #3416
/area clusterctl

[2020-07-29 15:13] vincepri commented on #3416
Hi @markedwards77 @wfernandes,

For TKG specific issues, bugs, or support, please refer to VMware specific documentation and reporting channels.

@wfernandes If we have identified a potential bug in `clusterctl` here, let's open a different issue with clusterctl specific context.

I'm going to go ahead and close this for now, we can pick this up in the proper support channels separately.

/close

[2020-07-29 15:13] #3416 closed

[2020-07-29 15:25] vincepri commented on #3404
/milestone v0.4.0

[2020-07-29 15:26] vincepri commented on #3401
/milestone v0.4.0

[2020-07-29 15:31] vincepri commented on #3415
/milestone v0.3.x
/help
/priority important-longterm

[2020-07-29 15:52] jzhoucliqr opened #3417 "MD RollingUpdate support to only add new node after one old node deleted completely"
**User Story**

As a operator I would like to support scale in for the MachineDeployment, to only launch new nodes after deleting existing nodes, due to resource constraints or other stateful resources (for eg disks) on the workers.

**Detailed Description**

The use case is to support hyper converged storage solutions like OpenEBS and Portworx. With disk autoprovision, Portworx will try to use ex

[2020-07-29 15:54] wfernandes opened #3418 "clusterctl init -i vsphere fails"
**What steps did you take and what happened:**
[code]

**What did you expect to happen:**
Expected it to work.

**Anything else you would like to add:**
https://github.com/kubernetes-sigs/cluster-api/pull/3412 was merged in recently.

**Environment:**
- clusterctl version: `clusterctl version: &version.Info{Major:"0", Minor:"3", GitVersion:"v0.3.7", GitCommit:"846ca08db5939e5bf88104b2f34427e7316ee

[2020-07-29 15:55] vincepri commented on #3418
/milestone v0.3.x

[2020-07-29 15:56] detiber commented on #3417
I'm a +1 to the logic in 2, but I think I would like to argue that the current behavior should be considered a bug and we should fix it without introducing a new flag for the appropriate behavior.

[2020-07-29 16:06] vincepri commented on #3417
/kind bug
/milestone v0.4.0
/help

[2020-07-29 16:09] detiber commented on #2080
/lifecycle frozen

[2020-07-29 16:17] jzhoucliqr commented on #3417
Thanks. Will have a PR for the fix.

[2020-07-29 16:17] jzhoucliqr commented on #3417
/assign

[2020-07-29 18:00] andrewsykim opened #3419 "Deleting a Node object after registration also deletes Machine when using MachineHealthCheck"
**What steps did you take and what happened:**
* Delete a Node resource in a cluster after it has been successfully registered
* Notice that cluster API will delete the underlying machine and replace it with a new one.

**What did you expect to happen:**
The underlying machine should not have been deleted right away.

**Anything else you would like to add:**
[Miscellaneous information that will as

[2020-07-29 18:06] andrewsykim opened #3420 "Support cluster-scoped version of ClusterResourceSet for global addons"
**User Story**

As an operator, I would like to deploy an addon on _all_  clusters managed by cluster API. Some examples of the addon are: CNIs, cert-manager, prometheus, fluentd, ingress controllers, etc.

I can use ClusterResourceSet today, but I need to create the Secret/ConfigMap containing the addon yaml for every new namespace in cluster API which can be very tedious.

**Detailed Description

[2020-07-29 18:06] vincepri opened #3421 "MHC should respect pause annotation on Machines"
Today, MHC applies remediation or health checks regardless if a Machine has been paused or not. We should change this behavior and check if the Machine is paused before performing any action.

The main use case this will allow is to avoid deleting infrastructure if cluster admins are performing operations on the nodes.

/kind cleanup
/milestone v0.3.x

[2020-07-29 18:07] vincepri commented on #3419
/milestone v0.3.x

[2020-07-29 18:07] vincepri commented on #3419
Related to https://github.com/kubernetes-sigs/cluster-api/issues/3421

[2020-07-29 18:35] vincepri commented on #3420
/milestone v0.4.0

[2020-07-29 19:57] rushyrush commented on #3418
@wfernandes I had the same issue this morning.  Are you intentionally pulling v0.7.0-alpha.0 Pre-release?  I was not trying to pull v0.7.0-alpha.0 but it pulled anyway during "clusterctl init"

[2020-07-29 20:04] BrandenCobb commented on #3418
@rushyrush  you need to specify the version when running init. For some reason it is defaulting to the pre-release. Try this:
clusterctl init --infrastructure=vsphere:v0.6.6

[2020-07-29 20:15] rushyrush commented on #3418
@BrandenCobb, thanks! specifying the version worked.

[2020-07-29 20:15] rushyrush commented on #3418
@BrandenCobb, thanks! specifying the version worked.

[2020-07-29 20:23] wfernandes opened #3422 "Improve clusterctl's --list-variables output"
**User Story**

As a developer/user/operator I would like to see more details when I list the variables of a template yaml using clusterctl so that I know what values will be used and what values I need to specify.

**Detailed Description**
Currently, This is the output of a clusterctl command with `--list-variables`:
[code]
This is great. But now that we have support for default values `${VAR:=de

[2020-07-29 20:27] wfernandes commented on #3418
@rushyrush So by default when you specify `clusterctl init -i vsphere` it pulls the latest release. I believe that clusterctl should be ignoring pre-release versions but that doesn't seem to be happening.
I'll take a look into this soon.
@BrandenCobb thanks for responding with the fix. 🙂

[2020-07-29 20:27] wfernandes commented on #3418
/assign
/lifecycle active

[2020-07-29 20:32] vincepri commented on #3422
/milestone v0.3.x

[2020-07-29 22:23] wfernandes commented on #3418
I think I know what's going on.
**Users need to update clusterctl.**
Since we are relying on embedded metadata and not pulling them from the release, if you have an older clusterctl it only knows of the following versions/contracts.
[code]
So when it pulls the "latest" release of CAPV provider, which is of version v0.7.0-alpha.0, it doesn't know which contract to adhere to for the v0.7.x releases.

[2020-07-29 22:48] wfernandes commented on #3418
This issue arose because providers are relying on the "out-of-the-box" behavior of clusterctl using its embedded metadata instead of fetching it from the provider release.
[In the documentation we say that providers MUST provide a metadata and components file.](https://cluster-api.sigs.k8s.io/clusterctl/provider-contract.html#provider-repositories)

Maybe we should document this negative side-effe

[2020-07-30 13:10] enxebre commented on #3358
The way this is solved for the autoscaler is by letting the user to create individual nodeGroups (machineSet/machineDeployment) for each Availability Zone. Then enable the --balance-similar-node-groups flag on the autoscaler.

In this line, and taking the autoscaling concern into consideration another alternative would be to have a new opt-in resource e.g machinePool (already taken)/machineBalance

[2020-07-30 13:53] ncdc commented on #3418
@wfernandes thanks for digging into this. I think your suggestion makes sense.

[2020-07-30 14:05] vincepri commented on #3418
I'm fine shipping a `metadata.yaml` for each provider, I'd like to hear from Fabrizio when he comes back from vacation next week, I remember there were some downsides although this was long ago

[2020-07-30 14:07] ncdc commented on #3418
It's an extra GitHub API request, which counts against the low anonymous rate limit unless you've configured your token. But presumably it's a one-time cost, as I would expect us to cache the contents for each release.

[2020-07-30 14:11] vincepri commented on #3418
Makes sense, if we require each infrastructure provider to use the main branch (or any other fixed branch) to publish their `metadata.yaml`, we could get around this using `raw.githubusercontent.com` instead.

[2020-07-30 14:12] ncdc commented on #3418
I'd like to avoid pulling from branches. I think it's most appropriate to continue to pull from releases.

[2020-07-30 14:17] vincepri commented on #3418
Agree for published components, which are versioned. Although metadata isn't exactly version, but rather an object that covers the whole repository across any version published, the suggestion to use a branch above either `main` or something else would make that clear.

That said, we could make sure to document that the behavior would be that `metadata.yaml` is always considered from the _latest_

[2020-07-30 14:19] vincepri commented on #2738
/lifecycle frozen

[2020-07-30 14:31] vincepri opened #3424 "MachinePool experiment API group should be under `cluster.x-k8s.io`"
MachinePool is today an experiment, and the API group we originally decided to pick was `exp.cluster.x-k8s.io`. Given that the intent is in the future to move MachinePool to the core API group, we should rewrite the experiment to use` cluster.x-k8s.io` or whatever the final group should be.

/kind cleanup
/milestone v0.4.0

[2020-07-30 14:36] vincepri opened #3425 "Consider deprecating single-machine control plane support"
In v1alpha4, we should consider dropping support for single control plane machines, instead making sure users adopt a control plane providers.

/area api
/kind cleanup
/milestone v0.4.0

[2020-07-30 14:38] SmiffyJ opened #3426 "Quick Start with Docker failing"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

I apologise if I've missed something obvious, still fairly new to all this.

I followed the quick start guide and [this](https://www.airshipit.org/blog/cluster-api-development-environment/) guide.

[code]

Everything worked as excepted up until point 12. This was the output:

[code]

**Wh

[2020-07-30 14:56] JoelSpeed commented on #3358
I think this is an interesting idea, especially given it allows simpler mechanics around the autoscaling integration. There are several questions that come to mind when I look at this and the full example above:
- I notice there's no AZ list in the spec, would it be expected that we would spread across all AZs in the cluster? Should that be configurable?
- What happens if `min/maxReplicas % num AZ

[2020-07-30 15:06] ncdc commented on #1582
Based on [this conversation in Slack](https://kubernetes.slack.com/archives/C8TSNPY4T/p1596111297392800), I am closing this as it does not have a user story around what an additional format would be. There will be a new issue opened soon to discuss adding support for Ignition as a bootstrap format, either in CABPK or as a separate provider.

/close

[2020-07-30 15:07] #1582 closed

[2020-07-30 15:11] wfernandes commented on #3418
I prefer we have the metadata as part of the release vs. `raw.githubusercontent.com` because of how the repository client is currently setup. We would have to include special logic to handle the `raw.githubusercontent.com`.
Currently we have the following checks to validate the github url which needs to be in a specific format.
https://github.com/kubernetes-sigs/cluster-api/blob/95fe9e2c2c48cb7c76

[2020-07-30 15:13] rudoi commented on #3424
/assign @mytunguyen
/lifecycle active

[2020-07-30 15:13] rudoi commented on #3424
yeah yeah CI bot, we know :(

[2020-07-30 15:17] ncdc commented on #1576
Note, I just closed #1582 (see my comment at the bottom for why).

I think there are a couple possible ways to resolve this issue:

1. Document that you must use image-builder to create supported OS images
1. Document the requirements for an OS image to work with CABPK

2 is potentially a much larger effort than 1, especially if we were to document how to create images for different CRIs, differen

[2020-07-30 15:36] vincepri commented on #3418
How do we overcome the issue we just had if the metadata is tied to a specific release?

Let's work on an example, provider `foo` is on version `v0.6.4` which matches `v1alpha3` API types, its metadata on `v0.6.4` has only the release series v0.6.x. Provider has a breaking API change, and it has to bump the version to `v0.7`. Provider cuts an alpha pre-release `v0.7.0-beta.0`, which contains the n

[2020-07-30 15:37] ncdc commented on #3426
@SmiffyJ I tried but unfortunately am not able to reproduce this. Could you please share (gist/attachment) the contents of ~/.cluster-api/overrides/cluster-api/v0.3.0/core-components.yaml?

/priority awaiting-more-evidence

[2020-07-30 15:37] vincepri commented on #3424
@mytunguyen You should open an issue in k8s-sigs to the into the org, I'm happy to sponsor as well.

One thing to note, this would be for v1alpha4 and we haven't opened the main branch yet, if you want to get a head start please do :), just a warning that it might have to be rebased later

[2020-07-30 15:38] ncdc commented on #3418
We are not currently excluding GH prereleases.

[2020-07-30 15:39] vincepri commented on #3418
Yeah, although we talked about excluding them unless a user specifies the version.

[2020-07-30 15:40] vincepri commented on #2391
/lifecycle frozen

[2020-07-30 15:49] vincepri opened #3427 "RFE: Management cluster operator"
Design and implement a clusterctl self-managing operator.

/kind feature
/kind design
/milestone v0.4.0

[2020-07-30 15:49] vincepri commented on #3427
Details TBD, opening this issue just to track for now.

[2020-07-30 15:49] vincepri commented on #3427
/area clusterctl

[2020-07-30 15:49] vincepri commented on #3424
/area api

[2020-07-30 15:51] vincepri opened #3428 "Generate v1alpha4 types"
Tracking issue to generate Cluster API types for:

- Core types
- CABPK
- KCP
- CAPD

/kind feature
/area api
/milestone v0.4.0

[2020-07-30 15:56] vincepri opened #3429 "RFE: Pod based control plane provider"
Folks have been asking here and there for a pod-based control plane. With v1alpha3, we introduced support for control plane providers, which users can use to specify which provider they'd like to use to manage their control plane.

/kind feature
/kind design
/milestone Next

[2020-07-30 15:56] vincepri commented on #3429
/cc @christopherhein

[2020-07-30 15:58] SmiffyJ commented on #3426
Sure, here's a link

https://gist.github.com/SmiffyJ/aa5d5c55bbc61f3c0298e07e80a72426

[2020-07-30 16:05] vincepri commented on #3426
/milestone Next

[2020-07-30 16:07] detiber commented on #3429
/cc @hardikdr

[2020-07-30 16:16] dongsupark opened #3430 "Add ignition support in bootstrap provider"
**Detailed Description**

In CABPK, `KubeadmConfig.Spec` already has [`Format`](https://github.com/kubernetes-sigs/cluster-api/blob/95fe9e2c2c48cb7c765e40fe97861f22765441ff/bootstrap/kubeadm/api/v1alpha3/kubeadmbootstrapconfig_types.go#L79) field, which is used to specify the output format of the bootstrap data that the controller generates. At the moment the field is not used anywhere. So CABPK a

[2020-07-30 16:20] vincepri commented on #3430
/kind design
/milestone v0.4.0

[2020-07-30 16:44] rudoi commented on #3430
@dongsupark thanks for opening this!

We use quite a bit of Flatcar and were looking into adding this support a while back and we were struggling to think of the right way to handle the "immutability" of it in the AWS provider, for example.

CAPA kind of assumes the AMI has the correct version of kubeadm on it, so I was curious if you'd thought about this at all. If I understand CoreOS/Flatcar cor

[2020-07-30 16:55] wfernandes commented on #3418
Should we file an issue/feature request for this? (if one hasn't already been created)

I think you explained the intended workflow. So if the `v0.7.x-beta.0` was cut, it would have a metadata file with this contract rule included `v0.7.x -> v1alpha3`. And if we implement the feature of ignoring pre-releases, then `clusterctl init -i foo` would move on to `v0.6.4` release which would have it's own

[2020-07-30 19:19] CecileRobertMichon commented on #3358
The other option is to leverage MachinePools to spread worker nodes on AZs. We could have 1 autoscaler node group == 1 machine pool. MachinePool takes a list of failure domains which would allow a user to specify a single failure domain for that machine pool and have n machine pools for n zones, or choose to spread the instances within a single machine pool by having a list of zones (potentially t

[2020-07-30 19:23] rudoi commented on #3358
The way we use it circumvents FailureDomain entirely - the AWSMachineTemplate gets a specific subnet ID. Each MachineDeployment gets its own AWSMachineTemplate, etc.

[2020-07-30 19:30] detiber commented on #3358
@CecileRobertMichon You should be able to set MachineDeployment.Spec.Template.Spec.FailureDomain on each MachineDeployment to the corresponding failure domain.

[2020-07-30 20:20] wfernandes opened #3435 "clusterctl init should ignore pre-releases"
**User Story**

As an operator I would like to ignore pre-releases when I run `clusterctl init` in order to avoid unintended side-effects when setting up my management cluster.

**Detailed Description**

At the time of writing this issue, CAPV released `v0.7.0-alpha.0`. Before this was released, we merged https://github.com/kubernetes-sigs/cluster-api/pull/3412 to include the metadata contract for

[2020-07-30 20:36] ncdc commented on #3435
👍 from me, and I'd like to wait to do anything here until @fabriziopandini has a chance to provide his thoughts.

[2020-07-30 21:32] vincepri commented on #3435
/milestone v0.3.x

[2020-07-31 06:45] Joshscorp commented on #3426
having the exact issue, not sure what to do?

[2020-07-31 14:44] vincepri commented on #3426
Any reason to use v0.3.0 instead of v0.3.7 which was the last stable release?

[2020-07-31 14:46] ncdc commented on #3426
This is what `./cmd/clusterctl/hack/local-overrides.py` has you run. I don't think the version is relevant here.

[2020-07-31 14:47] ncdc commented on #3426
v0.3.0 is hard-coded in the script but it's just a placeholder/fixed value

[2020-07-31 15:05] vincepri commented on #1876
Given that the work here has been done, the proposal has been merged, I'll go ahead and close this issue for now. Let's follow-up for provider implementer docs separately.

/close

[2020-07-31 15:05] #1876 closed

[2020-07-31 15:06] vincepri commented on #1878
/milestone Next
/priority backlog
/help

[2020-07-31 15:06] vincepri commented on #2372
/milestone v0.4.0
/priority critical-urgent

[2020-07-31 15:08] vincepri commented on #2391
/assign @a-mccarthy
/lifecycle active

[2020-07-31 15:08] vincepri commented on #2391
/milestone v0.3.9

[2020-07-31 15:09] vincepri commented on #2454
/lifecycle frozen

[2020-07-31 15:11] vincepri commented on #2454
The PR changes with `WithReturnConnectionError` has been merged and available from v1.30.0

/milestone v0.4.0

[2020-07-31 15:11] vincepri commented on #2454
/help

[2020-07-31 15:11] vincepri commented on #2454
/priority important-longterm

[2020-07-31 15:15] vincepri commented on #2483
/milestone v0.3.9
/assign @ncdc
to triage and investigate API discovery

[2020-07-31 15:17] vincepri commented on #2499
Given that we've merged https://github.com/kubernetes-sigs/cluster-api/pull/3034 to (partially) solve this issue, I'll go ahead and close this for now, we can revisit later if necessary.

/close

[2020-07-31 15:17] #2499 closed

[2020-07-31 15:22] vincepri commented on #2518
/close

Closing given that we won't fix this in v0.3.x.

[2020-07-31 15:22] #2518 closed

[2020-07-31 15:22] vincepri commented on #2542
/milestone v0.3.9

[2020-07-31 15:24] vincepri commented on #2566
Closing this given that we'll support a newer version of cert-manager in v0.3.9 w/ clusterctl init or upgrade.

/close

[2020-07-31 15:24] #2566 closed

[2020-07-31 15:26] vincepri commented on #2635
/milestone v0.3.9

This will be fixed by #3313 #3364

[2020-07-31 15:28] vincepri commented on #2578
/milestone v0.3.9
/priority important-soon
/help

[2020-07-31 15:29] vincepri commented on #2578
/kind bug

[2020-07-31 15:30] vincepri commented on #2585
/area api
/milestone v0.4.0
/priority important-soon

[2020-07-31 15:30] vincepri commented on #2585
/kind feature

[2020-07-31 15:31] vincepri commented on #2585
/retitle MachineDeployment should support spec.deletePolicy (like MS)

[2020-07-31 15:32] ncdc commented on #2483
This is happening because of a timing issue. We are actively deleting providers, which includes deleting their CRDs. Deleting a CRD removes it from API discovery. It can take some time between when a CRD is deleted and when it is removed from `/apis`.

In the example above, we deleted KCP, and then we try to remove another provider (cluster-api). As part of deleting, we use the discovery API clien

[2020-07-31 15:38] #2602 closed

[2020-07-31 15:39] vincepri commented on #2652
/assign @CecileRobertMichon
/milestone v0.3.9

To re-triage for v0.3.9 and see if we have any other action items for v0.3 or next release.

[2020-07-31 15:40] vincepri commented on #2756
/milestone v0.4.0

[2020-07-31 15:42] vincepri commented on #2771
Closing this for now given that we're now subscribing to the workload's cluster node events. There is some improvements that can be done separately, although they're going to be tracked in a new issue @detiber is going to open.

/close

[2020-07-31 15:42] #2771 closed

[2020-07-31 15:43] vincepri commented on #2778
/help
/milestone v0.3.9
/priority backlog

[2020-07-31 15:43] vincepri commented on #2788
/milestone v0.3.9

[2020-07-31 15:44] vincepri commented on #2826
/milestone v0.4.0

[2020-07-31 15:45] gab-satchi commented on #3117
/close
closing in favour of #3292

[2020-07-31 15:45] #3117 closed

[2020-07-31 15:45] vincepri commented on #2859
/milestone v0.3.9
/help

[2020-07-31 15:45] dongsupark commented on #3430
You are right.
That is the main reason why we need to create CAPA AMI for Flatcar, making use of a pending [PR](https://github.com/kubernetes-sigs/image-builder/pull/248). It basically downloads necessary binaries under `/opt`, a read-write partition inside Flatcar. Then the final AMI will include everything we need, like kubeadm, containerd, crictl, etc.
Once the PR got merged, we will publish th

[2020-07-31 15:47] vincepri commented on #2885
/close

[2020-07-31 15:47] #2885 closed

[2020-07-31 15:47] vincepri commented on #2895
/milestone v0.4.0
/priority important-longterm
/help

[2020-07-31 15:49] vincepri commented on #2896
/kind cleanup
/assign @gab-satchi @sedefsavas
To sync up offline and re-triage this

[2020-07-31 15:49] vincepri commented on #2896
/milestone Next

[2020-07-31 15:51] vincepri commented on #2934
@voor We're already running as non-root https://github.com/kubernetes-sigs/cluster-api/blob/master/Dockerfile#L56 in all our controllers

[2020-07-31 15:51] vincepri commented on #2934
/milestone v0.4.0

[2020-07-31 15:51] vincepri commented on #2934
@detiber To break this up in more issues / actionable items

[2020-07-31 15:53] vincepri commented on #2937
If/when we'll be able to pursue #1250, we should be able to remove a control plane member from the load balancer

[2020-07-31 15:53] vincepri commented on #1250
/milestone v0.4.0

[2020-07-31 15:53] vincepri commented on #2937
/milestone v0.4.0

[2020-07-31 15:58] vincepri commented on #2960
/milestone v0.4.0

We should probably tackle this as part of KCP in a very narrow scenario (initialized)

[2020-07-31 16:41] #3379 closed

[2020-07-31 17:09] vincepri commented on #3430
/milestone v0.3.x

Synced up with @dongsupark on slack, we're going to copy and adapt the CABPK bootstrapper and provide new types and controllers for the `kubeadm-ignition` based one. Everything will live under the same CABPK group as new types, but under the experimental folder for now.

[2020-07-31 17:10] wfernandes commented on #2483
I'm +1 to retry

[2020-07-31 20:01] #3396 closed

[2020-07-31 20:45] #3397 closed

[2020-07-31 21:24] wfernandes commented on #3413
I believe I was able to reproduce this issue with the latest master 6311dc2c1f966edde41c842fb812596fc3ca0b2

1. `make clusterctl`
1. `clusterctl init --core cluster-api:v0.3.5 --target-namespace=foo --watching-namespace=foo`
1. `clusterctl init -i aws:v0.5.2 --target-namespace foo --watching-namespace foo`
1. See all the providers and their watching namespace. `kubectl get providers -A`
[code]
1.

[2020-07-31 22:02] wfernandes commented on #3413
/assign

[2020-07-31 23:04] wfernandes commented on #3413
/lifecycle active

[2020-08-01 07:15] inductor opened #3438 "Quick start with AWS fails"
**What steps did you take and what happened:**

[code]

and even if i set the iam user correctly the setup fails

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[code]

worked with cluster-api-provider-aws 0.5.4 and cluster-api 0.3.8

**Environment:**

- Cluster-api version: 0.3.8
- Minikube/K

[2020-08-01 19:05] cpanato commented on #2992
/remove-lifecycle stale

[2020-08-01 19:06] cpanato commented on #2992
/assign

[2020-08-02 15:26] vincepri commented on #2249
/lifecycle frozen

[2020-08-02 23:29] aojea commented on #3367
It does not look a kindnet problem to me, both etcd and apiserver pods use `hostNetwork: true`, kindnet does not influence them in this scenario.
I don't understand well the process, but if you have only one control plane node, you have only one etcd instance and, ... is it possible to do an upgrade like that? just with only single control plane?
Fabrizio's output shows he is using 3 control plane

[2020-08-03 09:54] fabriziopandini commented on #3435
I'm +1 in having clusterctl to ignore pre-releases when resolving `latest`

[2020-08-03 10:05] neolit123 commented on #2770
/retitle make the kubeadm bootstrap token TTL configurable
/remove-lifecycle stale

[2020-08-03 12:54] fabriziopandini commented on #3395
If the problem is stale cache entries, a possible solution is to add `WithOwnedConditions` to https://github.com/kubernetes-sigs/cluster-api/blob/3c73ab1b8f793e9ca17d84283ed8adc6a502ad26/controlplane/kubeadm/controllers/controller.go#L205.
This should potentially be implemented for all the CAPI/CAPD controllers to avoid similar problems

[2020-08-03 13:54] randomvariable commented on #3342
Not sure why I let it hang off that commit. I think it was an oversight.

[2020-08-03 14:23] ncdc commented on #3438
It looks like we updated the docs in anticipation of changes to cluster-api-provider-aws that are coming the in v0.5.5 release. The documentation does state you need v0.5.5, and provides a link to the instructions that are valid for earlier versions (and it looks like you were able to locate that). I'd like to propose that we close this issue - is that ok?

[2020-08-03 14:28] detiber commented on #2770
Refreshing the token does not change the token in this case, it only extends the expiration time for the token, which is actually the current behavior: https://github.com/kubernetes-sigs/cluster-api/blob/9e4e82aabd2dfe7a52ebd0b7d6b802a9be4ff93d/bootstrap/kubeadm/controllers/token.go#L74-L94

We would just need to extend the behavior longer than we currently do (until Machine.Status.InfrastructureR

[2020-08-03 14:47] vincepri commented on #3413
/milestone v0.3.9

[2020-08-03 14:58] fabriziopandini commented on #3342
hopefully, the import will be fixed by https://github.com/kubernetes-sigs/cluster-api/issues/2992

[2020-08-03 15:01] randomvariable commented on #3342
Thinking back, I think at the time, the repo was flaking a lot in the CAPD tests, and bumping the version was one of the things I was trying to fix it.

[2020-08-03 15:31] benmoss commented on #3395
My initial instinct was that we should be fixing the root problem and not getting stale reads, but after digging through controller-runtime issues and docs it seems that this is just the [expected behavior](https://github.com/kubernetes-sigs/controller-runtime/blob/cea989b02ed02254d751ad30471c40bacd5888fc/doc.go#L85-L88), aka we don't get read-your-writes consistency.

My understanding of `WithOwn